[2022-11-21 14:22] maddylewis commented on #11132
It should be easier to investigate or fix

moving to weekly until this is off hold.

[2022-11-21 14:24] maddylewis commented on #11265
sounds like we're still holding this one:

[2022-11-21 14:25] Puneet-here commented on #12453
@mateocole, the link is for the job details.

[2022-11-21 14:26] trjExpensify commented on #11229
Yep, we'll combine the payment for the two. [Here's the job](https://www.upwork.com/jobs/~0159458d877f5bc785) to accept the offer on (@parasharrajat as well).

I'm going to close the other issue out.

[2022-11-21 14:28] trjExpensify commented on #11708
👋 the other PR attached to #11229 fixed this, so closing this issue out.

@mdneyazahmad I've paid you for reporting this issue. 👍

[2022-11-21 14:28] #11708 closed

[2022-11-21 14:29] aitoraznar commented on #7375
Hi @parasharrajat. Can you update to me the status of the issue?. You said to me this issue was still valid and It wasn't to be developed internally.

Many thanks.

[2022-11-21 14:30] isabelastisser commented on #12267
Bump @roryabraham

[2022-11-21 14:35] madmax330 commented on #11858
Picking this up

[2022-11-21 14:44] Santhosh-Sellavel commented on #12710
Not overdue, still looking for proposals!

[2022-11-21 14:44] Santhosh-Sellavel commented on #12492
bump @Luke9389

[2022-11-21 14:45] jasperhuangg opened #12888 "[$1000] Test issue with "quotes""
Just checking that quotes are escaped for https://github.com/Expensify/Web-Expensify/pull/35626

[2022-11-21 14:45] Santhosh-Sellavel commented on #12400
@ctkochan22 bump!

[2022-11-21 14:46] puneetlath commented on #12678
Still working on this, should be done soon.

[2022-11-21 14:48] Santhosh-Sellavel commented on #12283
If you have found the root cause then why was the workaround submitted here?

[2022-11-21 14:50] puneetlath commented on #12554
@parasharrajat @rushatgabhane sent you hiring offers in Upwork.

[2022-11-21 14:51] eVoloshchak commented on #11695
I also can't find any other pages with this problem
@jayeshmangwani, please make sure to fix this for the `connect bank account` page also (I suppose the fix is the same?)
[Proposal](https://github.com/Expensify/App/issues/11695#issuecomment-1311334665) looks good to me, let's get the PR started
🎀👀🎀 C+ reviewed!

[2022-11-21 14:51] mananjadhav commented on #12667
@Christinadobrzyn I think we did some discussion on the slack thread [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1668693605555099?thread_ts=1668604822.482759&cid=C01GTK53T8Q)

[2022-11-21 14:52] Santhosh-Sellavel commented on #12198
@kavimuru Can you check whether this is reproducible, unable to reproduce from my end too!

[2022-11-21 14:54] Santhosh-Sellavel commented on #11087
Still looking for proposals!

[2022-11-21 14:54] Santhosh-Sellavel commented on #10906
onhold

[2022-11-21 14:56] Santhosh-Sellavel commented on #10632
Recently came off hold, open for proposals or not @JmillsExpensify?

[2022-11-21 14:56] Santhosh-Sellavel commented on #10283
not overdue

[2022-11-21 14:57] parasharrajat commented on #11283
Reviewing shortly...

[2022-11-21 14:57] mountiny commented on #12340
@tjferriss bumping this one for payment to the contributors 🙌

[2022-11-21 14:59] mountiny commented on #12119
This will be automatically updated once the PR hits production.

[2022-11-21 14:59] jasperhuangg commented on #12691
Hey Melvin, hope ya had a great weekend!

Still waiting for the PR to go out to prod, not overdue.

[2022-11-21 14:59] Santhosh-Sellavel commented on #9818
Not overdue!

[2022-11-21 15:00] Santhosh-Sellavel commented on #8236
Not overdue, @Julesssss do we have the PR ready?

[2022-11-21 15:01] abekkala commented on #12360
I'm not entirely sure where/what I'm supposed to pick up here as this is internal.
I assume this is something Alex is/will work on when he's back from ooo

[2022-11-21 15:01] varshamb commented on #12883
Reported on Slack

https://expensify.slack.com/archives/C049HHMV9SM/p1668485291380349

[2022-11-21 15:06] mountiny commented on #12292
No problem, thank you very much for poking around!

We have increased the bounty for starting bugs to $1000 now! We would love if you could help us clean up our issues list, here you can find those without [accepted proposals yet](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3A%22Help+Wanted%22+NOT+hold+in%3Atitle+label%3ABug)!

[2022-11-21 15:14] tgolen commented on #11277
I'm going to put this on a temporary HOLD because I made some refactorings in https://github.com/Expensify/App/pull/12848 which will change any proposals in this issue. Once my PR is merged, then the new code can be re-evaluated. I believe the issue still remains in Android due to differences in how the screen height changes in regards to the keyboard being opened (Android changes the size of the

[2022-11-21 15:15] cristipaval commented on #12578
I'm going to spend several mins today to try reproducing.

[2022-11-21 15:16] tgolen commented on #10273
At this point, I still haven't determined if creating a custom KAV is necessary. I think we're getting pretty good mileage out of the official KAV component from RN so I wouldn't put any time into doing anything custom yet.

[2022-11-21 15:16] jasperhuangg commented on #11277
@s77rt here's it still happening on iOS Chrome, the ToS text and the Expensify logo should move upwards to avoid the keyboard and stay in view:

#### Staging
https://user-images.githubusercontent.com/31285285/203090559-f5c060a1-fc81-4cce-8a5b-0f5c266e2e65.MP4

#### Prod
https://user-images.githubusercontent.com/31285285/203090511-504ab4c6-75ad-4bc5-9413-5bb603fc25a7.MP4

[2022-11-21 15:16] flodnv commented on #12158
Maybe caused by https://github.com/Expensify/Web-Expensify/pull/34788

Internal PR sent. @Ollyws @sobitneupane your instinct are correct: any time we need to do any kind of data massaging in the app, it is an incorrect solution. The API should send exactly what the app needs.

[2022-11-21 15:16] kavimuru opened #12889 "Message stays highlighted after closing the context menu"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to a chat
2. Send a message
3. Right click on the message
4. Click anywhere at the screen to close the context menu

[2022-11-21 15:17] iwiznia commented on #9181
heh yeah, it was deployed to our staging servers today and will be deployed to production some time tomorrow.

[2022-11-21 15:17] OSBotify commented on #12889
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-21 15:24] tgolen commented on #12156
I don't think that animation is causing too much of an issue. Rather than using react-helmet, can you please change your proposal to not use it?

[2022-11-21 15:24] flodnv commented on #12650
We discussed this internally with Contributor+s. The more discussion we are getting on this issue, the more this looks like something that needs to be fixed with `Touchable` in react-native-web. This issue is indeed a bit weird/inconsistent, but also not a real action users want to take. Additionally, `Touchable` is being deprecated as part of the Fabric/React 18 upgrade. As such, we are closing t

[2022-11-21 15:24] #12650 closed

[2022-11-21 15:27] s77rt commented on #12283
@Santhosh-Sellavel
From Expensify App perspective `react-native-image-picker` is the root cause. It's related to the `quality` prop. I know that the issue exist for setting the value equal to `1`.
From `react-native-image-picker` perspective I don't know the root cause, I just submitted a suggestion to where to start looking in the code.

[2022-11-21 15:30] nkuoch commented on #7270
ApplicantID retrieved from logs: '1c160c9d-0f27-4299-91ef-192ada8920c6'

I've sent an email to Onfido support:
<img width="611" alt="image" src="https://user-images.githubusercontent.com/2463975/203093816-22cc48c1-3cdc-46de-8a68-f0e0a7d71b07.png">

[2022-11-21 15:33] puneetlath commented on #11352
Sorry for the delay! Sent you all hiring offers.

[2022-11-21 15:34] flodnv commented on #12724
@rushatgabhane what are your thoughts here, do you agree we can proceed?

[2022-11-21 15:34] jasperhuangg commented on #11277
@tgolen Thanks for letting me know! I actually have a branch locally that fixes the issue which is why I removed the `Help Wanted` label. The diff for my branch is similar to what you have for https://github.com/Expensify/App/pull/12848 😆 so they would totally conflict and I agree we should HOLD

I just checked out your branch and this issue seems to still be reproducible there, so this issue shou

[2022-11-21 15:37] zanyrenney commented on #12692
@aldo-expensify could you please review the PR and let me know what you think!

[2022-11-21 15:37] tgolen commented on #11094
I am not following this issue too closely, so it's hard for me to say. My gut says "outside". However, the proposals in this issue seem really complex and come across to me as workarounds on top of workarounds.

I would like us to maybe think about trying to make this as simple as we can. If that means fixing bugs related to focus in upstream repos, then I think that's the better approach (not sur

[2022-11-21 15:37] flodnv commented on #11463
Maybe this should HOLD on https://github.com/Expensify/App/issues/10670

[2022-11-21 15:38] zanyrenney commented on #12308
Keeping open until retesting is complete.

[2022-11-21 15:38] zanyrenney commented on #12597
bumping @kavimuru

[2022-11-21 15:41] jasperhuangg commented on #11277
@tgolen Thanks for letting me know! I actually have a branch locally that fixes the issue which is why I removed the `Help Wanted` label. The diff for my branch touches the same files as https://github.com/Expensify/App/pull/12848 😆 so they would totally conflict and I agree we should HOLD

I just checked out your branch and this issue seems to still be reproducible there, so this issue should def

[2022-11-21 15:43] #12290 closed

[2022-11-21 15:46] bernhardoj commented on #12120
@MonilBhavsar The line discarded issue on native is only when we editing the message, but it is fine showing the message.

[2022-11-21 15:47] hammad-6304 commented on #10670
This issue seems identical to the one i linked below.

I think if we fix this "KeyboardAvoidingView" upstream then the reported current issue will also be resolved by using the upstream fix.

I am currently working on this issue to fix (Implementation of Given component) upstream to React-native-web.

I'll update here shorty i am close to it.

Thanks.

CC: @JmillsExpensify @tgolen @tgolen @mananja

[2022-11-21 15:49] nkuoch commented on #12530
I can't reproduce it, but seems like we're getting:

Which leads to:

[2022-11-21 15:49] iwiznia commented on #11697
FWIW I can't reproduce either on my Pixel 6.

[2022-11-21 15:51] lschurr commented on #11844
Sorry for another ping - do you have an update @parasharrajat?

[2022-11-21 15:52] parasharrajat commented on #11844
Thanks for the ping. Checking now...

[2022-11-21 15:57] lschurr commented on #12724
@0xmiroslav - could you please apply for the job in Upwork? https://www.upwork.com/jobs/~01b384c685e3f60dd2

[2022-11-21 15:57] tgolen commented on #11463
Ah, I think it's the other way around. #10670 needs to HELD for this one.

[2022-11-21 15:57] s77rt commented on #12854
### Proposal
[code]

### Details
1. Removed `selection` prop since it's not needed and it's also the main cause. We don't need to constantly control the selection just on updateComment, and in my proposal the update is done via `setSelection` lib.

[2022-11-21 15:58] tgolen commented on #10670
OK, thank you for the update! I'm going to place this on HOLD until #11463 is done.

[2022-11-21 15:59] lschurr commented on #12883
Can this stay internal since you've already put up a fix @Gonals?

[2022-11-21 15:59] JmillsExpensify commented on #12883
Same root cause as the original bug report here: https://expensify.slack.com/archives/C01GTK53T8Q/p1668041691611749.

[2022-11-21 16:01] kavimuru opened #12891 "Web / Firefox - Incorrect font on preferred pronouns dropdown in edit profile"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to edit profile page
2. Open the preferred pronouns dropdown
3. Notice the font is incorrect

## Expected Result:
The font

[2022-11-21 16:01] flodnv commented on #11463
Ah ok, sure, I did it that way because https://github.com/Expensify/App/issues/10670 had more proposals/activity, but we can keep this one. Seems like next step is getting https://github.com/necolas/react-native-web/issues/2430 resolved?

[2022-11-21 16:02] hungvu193 commented on #12889
<b>Proposal</b>
Even when the `PopoverReportActionContextMenu` is dismissed, the `reportAction` state is not getting reset.

<b>Solution</b>
Reset the `reportAction` state to {} when `PopoverReportActionContextMenu` is dismissed.
So inside `PopoverReportActionContextMenu` udpate the `hideContextMenu`:
[code]

Result:

https://user-images.githubusercontent.com/16502320/203101565-d8dcb075-e507-4034-

[2022-11-21 16:03] nkuoch commented on #12530
@alexpensify are you testing from chrome? Do you have the same error after you clear your cookies? If yes, would you mind sharing your credentials with me so I can hopefully reproduce myself?

[2022-11-21 16:04] iwiznia commented on #11697
I think we should close this. It is a performance issue on slow/old phones and we have https://github.com/Expensify/App/issues/12885 to improve android performance

[2022-11-21 16:05] Santhosh-Sellavel commented on #12206
@Christinadobrzyn this PR qualifies for the bonus as this merged within 3 business days!

[2022-11-21 16:07] iwiznia commented on #11851
I don't think we want the workaround, especially since:
- This only happens on mobile firefox
- We are not focusing on supporting firefox right now
- The app is still usable
- The user can also use the phones emoji keyboard

I think we should close.

[2022-11-21 16:07] s77rt commented on #11094
@tgolen If my proposal seems complex please ignore the code in `componentDidUpdate` for now.
The rest of the code fix the issue.

But..., Android is excluded (native and mWeb) because simply Android does not blur the input on keyboard close ([issue](https://github.com/facebook/react-native/issues/33532)).
That's where the `componentDidUpdate` comes to play (that's the workaround part) where we man

[2022-11-21 16:09] JmillsExpensify commented on #11321
Closing the loop. [PR is here](https://github.com/Expensify/App/pull/12820). Discussion also happening [in slack](https://expensify.slack.com/archives/C035J5C9FAP/p1669022791923689).

[2022-11-21 16:13] bulatgab commented on #10263
(If this is really an option, I would like to apply too. It would indeed be simpler and cleaner than writing native components. I overlooked initially that we were using forks of react-native and other libs, my bad)

[2022-11-21 16:15] slafortune commented on #11414
@Puneet-here @rushatgabhane you've been sent the contract on Friday, let me know once you've accepted that and I can get you paid.  👍

[2022-11-21 16:18] slafortune commented on #11471
not overdue

[2022-11-21 16:20] mollfpr commented on #12854
@s77rt Thanks for the proposal!

Could you attach the result of your proposal?

[2022-11-21 16:27] advaitasol9 commented on #10765
@ctkochan22 the way it happens only on ios when keyboard is open, my guess is it should be an issue internally with Flatlist.

[2022-11-21 16:28] s77rt commented on #12854
@mollfpr

https://user-images.githubusercontent.com/16493223/203107825-612c6615-455d-427a-9059-6e9f537418ff.mp4

[2022-11-21 16:31] iwiznia commented on #12240
So am I understanding this is not a bug and expected when users are not in the beta? If so, let's close.

[2022-11-21 16:32] bondydaa commented on #12714
sorry haven't had a chance to dig into this yet, been focused on the Upwork Integration auth command and had a bunch of ring1/IFR chores last week. Will get started on this tomorrow at the latest

[2022-11-21 16:32] kavimuru opened #12892 "Web / Firefox: Chat Details Modal Wont Close After Starting A New Chat With Someone From The Groups Members List"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to a group chat or create one
2. Go to the members list (displayed in the right side modal)
3. Select a member you don't a

[2022-11-21 16:33] tgolen commented on #11391
Digging into this, I found that this is a bug in the picker library we are using. There is an open issue about it here: https://github.com/lawnstarter/react-native-picker-select/issues/273. The library looks to be unmaintained and hasn't had any real changes merged in several years. We also have our own fork of the library.

@hannojg This might be a good one for you to look into and investigate. M

[2022-11-21 16:33] tgolen commented on #11391
Or maybe there is a better picker component we should be using?

[2022-11-21 16:34] hannojg commented on #11391
Oh yeah sure, will add that to my list! Will look into it this week. How urgent is this?

[2022-11-21 16:34] tgolen commented on #11391
I'd say it's on the low end of urgency. These pages aren't used very much and the impact of this bug is very little (ie. you can  still use the form perfectly fine).

[2022-11-21 16:46] amyevans commented on #12889
This is a regression caused by https://github.com/Expensify/App/pull/12735, cc @deetergp @Pujan92 @mananjadhav @Julesssss.

I'll open a revert of that PR.

[2022-11-21 16:46] mvtglobally commented on #12812
@AndrewGable just 2 outstanding blockers. Hopefully we can get a new Deploy today
#12865
#12889

[2022-11-21 16:49] tgolen commented on #11609
I'm reassigning the bug label to have someone from the BZ team close this out.

[2022-11-21 16:52] eVoloshchak commented on #12246
Not overdue, PR was merged recently

[2022-11-21 16:53] eVoloshchak commented on #12152
Not overdue, waiting for the proposal review

[2022-11-21 16:55] kavimuru opened #12893 "[$2000] Large image doesn't zoom well in Android and gets blurry"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any chat and upload a very long/large image. [Example image](https://user-images.githubusercontent.com/44479856/1328899

[2022-11-21 16:56] amyevans commented on #12889
Okay, let me review your suggestion a bit locally @0xmiroslav, thanks. The one thing I'm sensitive to is that the regression is currently a deploy blocker, so we'd need to cherry pick a fix today, and I want to avoid introducing any further regressions by not fully considering unintended side effects if moving too quickly.

[2022-11-21 16:57] Santhosh-Sellavel commented on #10731
Yeah, still not released!

[2022-11-21 17:02] shawnborton commented on #11768
I have read and reviewed this Design Doc!

[2022-11-21 17:02] shawnborton commented on #12838
Done!

[2022-11-21 17:02] #12838 closed

[2022-11-21 17:04] arosiclair commented on #7968
@MitchExpensify I think we both have to agree to close. Any thoughts against closing?

[2022-11-21 17:06] shawnborton commented on #12255
Here is what I have for the rest of the platforms (smaller iPhone, iPad. Note that Android uses the same taller images as iPhone)
<img width="1278" alt="image" src="https://user-images.githubusercontent.com/2319350/203116469-4b93fffd-c53b-4a3a-a667-141766be055f.png">

Then it sounds like @sketchydroide can help us deploy these once we're ready to release some of the new color changes.

[2022-11-21 17:07] eVoloshchak commented on #11314
@Gonals, looks like there is some traction in https://github.com/Expensify/App/issues/10414, should we put this on hold before it is resolved?

[2022-11-21 17:08] JmillsExpensify commented on #11585
Sounds good. I'll kick this off later today. Focused on the weekly updates first.

[2022-11-21 17:11] #7968 closed

[2022-11-21 17:13] dhairyasenjaliya commented on #11354
@eVoloshchak similar issue just got closed thoughts
https://github.com/Expensify/App/issues/7968#issuecomment-1322105351

[2022-11-21 17:15] Beamanator commented on #11321
Yep 👍  PR is approved, just need to get a quick change to our `react-native` fork published, then we can incorporate that change in `App` 👍

[2022-11-21 17:18] kavimuru opened #12894 "[HOLD for payment 2022-12-15] Emojis get to the normal size after a brief moment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open the app
2. Go to any Chat
3. Add emojis on 1st line > leave 2nd line blank > add emojis on 3rd line
4. Send message

##

[2022-11-21 17:18] JmillsExpensify commented on #10905
Quick follow-up question: @jliexpensify has payment been issued to contributors?

[2022-11-21 17:21] Beamanator commented on #12603
Super pumped about this, sadly I haven't had time to review today (catching up on lots of things while i was OOO & the brain is super foggy from intense jetlag) - I'll definitely get to this tomorrow, sorry for the delay!

[2022-11-21 17:22] parasharrajat commented on #11354
If we already merged a PR that is supposed to fix this issue then I don't see a reason backing out now. Unless we hit a hard rock, we can try to fix the regression as well. Otherwise, if we are thinking of closing this one then the task is not complete.

[2022-11-21 17:23] JmillsExpensify commented on #11997
I posted a discussion [in Slack ](https://expensify.slack.com/archives/C035J5C9FAP/p1669049656392379) on the priorities, though didn't add this one. I kind of think that helping any useful tests for our CI initiative is higher value – mainly because we are getting close to launching it but we only have one test at the moment.

[2022-11-21 17:25] Beamanator commented on #12360
Yeah good question @abekkala - I haven't gotten started on this yet (will later this week, as it's not a super high priority fix). I guess you're assigned in case a C+ helps review the PR? Maybe? If it's all internal work though I guess you won't need to do anything 😅

[2022-11-21 17:28] deetergp commented on #12276
Not overdue. Still on hold, pending the results from the KIs. Eager to see what @mvtglobally has to say!

[2022-11-21 17:29] JmillsExpensify commented on #11087
Yep! It's Monday, and it's been exactly a week, so we're raising the price of this issue to $2,000 to help encourage a proposal.

[2022-11-21 17:32] eVoloshchak commented on #11354
<img width="801" alt="image" src="https://user-images.githubusercontent.com/9059945/203120522-39203510-760b-41aa-99a9-639cd032c680.png">

Based on this we just need to set the `pressOnEnter` to `false`. But I'd say that being able to just press enter to send an attachment is great and we shouldn't remove it

I suppose we have a couple of options

- set the `pressOnEnter` to `false`
- set the `pres

[2022-11-21 17:40] Beamanator commented on #12676
Interesting, looking back when I created [this issue](https://github.com/Expensify/App/issues/11982) I was thinking it would be best to redirect back to the home page b/c it's possible the user wouldn't have access to the specific report page they were trying to open... Though now that we're riffing I bet we could come up with a solution to figure out if the user has access (once the report data l

[2022-11-21 17:41] roryabraham commented on #6306
No update, not prioritizing deploy improvements at this time

[2022-11-21 17:42] thienlnam commented on #12888
Won't happen until https://github.com/Expensify/Web-Expensify/pull/35626 is on prod

[2022-11-21 17:42] #12888 closed

[2022-11-21 17:46] thienlnam commented on #12741
Thank you @mollfpr, proposal looks good

[2022-11-21 17:47] kavimuru opened #12895 "Add bank account page goes blank while trying to add the same account twice using Plaid"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Actions Performed:

1. Go to Settings > Payments
2. Click Add payment method > Bank account
3. Complete the process on Plaid to add a new bank acco

[2022-11-21 17:49] iwiznia commented on #10731
ok, if next week we see no movement, we can use ou fork.

[2022-11-21 17:49] laurenreidexpensify commented on #12026
bump @roryabraham ^^

[2022-11-21 17:49] laurenreidexpensify commented on #12616
Bump @Beamanator ^^

[2022-11-21 17:51] s77rt commented on #12741
@thienlnam @mollfpr
Should I apply the approved proposal? There is a possibility of improvement https://github.com/Expensify/App/issues/12741#issuecomment-1322335993

PS: In order to be eligible for the bonus I will have to apply the approved proposal if there is no response about this.

[2022-11-21 17:51] Santhosh-Sellavel commented on #10731
@christianwen Do we need to update the react-native-web?

[2022-11-21 17:54] bfitzexpensify commented on #11768
I have read and reviewed this Design Doc!

[2022-11-21 17:54] bfitzexpensify commented on #12832
Done

[2022-11-21 17:54] #12832 closed

[2022-11-21 17:54] dhairyasenjaliya commented on #11354
@parasharrajat this issue is different to add onEnter key to `<TextLink>` which is working well(this PR) the only problem is when we have a button along with `pressOnEnter` at that time it overrides enter event and makes similar situation related here which i think is globally affect https://github.com/Expensify/App/issues/7968#issuecomment-1320879129

[2022-11-21 17:58] Santhosh-Sellavel commented on #8005
@adelekennedy bump!

[2022-11-21 17:59] parasharrajat commented on #11354
Yes, it might be considered different.

[2022-11-21 18:01] mollfpr commented on #12741
IMO keep on the approved proposal with the platform-specific. What do you think @thienlnam?

[2022-11-21 18:01] mollfpr commented on #12854
I’ll start reviewing it in the morning, thanks!

[2022-11-21 18:02] cristipaval commented on #12578
Boom! It crashed on my end as well, I was inspired to ask what keyboard you use, @adeel0202. After setting Gboard as the default keyboard on my Samsung, I am able to reproduce the crash. @JmillsExpensify, Gboard is the default keyboard on pure Android, I'll spend some time to investigate the issue.

[2022-11-21 18:03] iwiznia commented on #11697
@hannojg (or anyone that could reproduce this) on what real devices have we experienced this?

[2022-11-21 18:05] thienlnam commented on #12741
Yes please just apply the approved proposal here, and then you can address the other improvement in the other issue

[2022-11-21 18:05] Santhosh-Sellavel commented on #10905
Thread started [here](https://expensify.slack.com/archives/C049HHMV9SM/p1669053920014679)

[2022-11-21 18:06] s77rt commented on #12741
Thanks for the quick response. Working on it

[2022-11-21 18:07] eVoloshchak commented on #11354
Asking [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1669054027301429)

[2022-11-21 18:09] arosiclair commented on #11768
I have read and reviewed this Design Doc!

[2022-11-21 18:14] #12833 closed

[2022-11-21 18:20] thienlnam commented on #12719
@hungvu193 Your proposal is on the right track, but seems to rely on currentUserPersonalDetails always having a value.  But what if it is empty / new user?

[2022-11-21 18:24] puneetlath opened #12896 "[$500] Test"
Test
## Upwork Automation - Do Not Edit
- Upwork Job URL: https://www.upwork.com/jobs/~01b3c10fe3e8118504
- Upwork Job ID: 1594758605200601088

[2022-11-21 18:24] isabelastisser commented on #12881
Working on this now.

[2022-11-21 18:24] puneetlath commented on #12896
Ignore, testing.

[2022-11-21 18:24] #12896 closed

[2022-11-21 18:25] marcaaron commented on #12676
Gonna tag in @puneetlath on this conversation since he is the assigned BZ on [the issue that is still open](https://github.com/Expensify/App/issues/11982) and this issue is _technically_ a regression.

Is this the standard view we show when a user can't access something? cc @shawnborton to confirm

![2022-11-21_08-11-17](https://user-images.githubusercontent.com/32969087/203129283-575f56b8-f862-4f

[2022-11-21 18:32] abekkala commented on #12240
Ah, ok. yes, that makes sense and matches the reproduction I did on Oct 31. It makes sense that the account not on the beta would not see the room which is what is happening.

I'm going to close this one out.

[2022-11-21 18:32] #12240 closed

[2022-11-21 18:33] isabelastisser commented on #12881
Offer made to @parasharrajat here: https://www.upwork.com/nx/wm/pre-hire/c/8577561/offer/22385873. @parasharrajat, please accept the offer and I will issue the payment. Thanks!

[2022-11-21 18:34] parasharrajat commented on #12881
@isabelastisser Done.

[2022-11-21 18:34] MariaHCD commented on #11850
The [PR](https://github.com/Expensify/App/pull/12596) for showing the warning dialog is almost all set; I need to test it on all platforms and add the Spanish translation (asked [here](https://expensify.slack.com/archives/C21FRDWCV/p1669055295279659))

Going to look further into clearing the request queue because it seems like we do that already: https://github.com/Expensify/App/issues/11850#issue

[2022-11-21 18:37] Beamanator commented on #12616
Cool just catching up here! It looks like we're going double-spinner! 👍  It will be very quick anyway, so I'm down for that solution 👍

As for hiring, I agree with @mananjadhav it makes sense to go with @daraksha-dk since their proposal + solution was exactly what we ended up going with (spinners) & I don't think it was "too similar" to the other proposal since the accepted proposal was concise (u

[2022-11-21 18:38] Beamanator commented on #11425
That's a good idea @trjExpensify - you're on the right track! Ideally once caching works well, this issue will just "be fixed"

[2022-11-21 18:39] Beamanator commented on #11425
But this also may depend on @roryabraham 's default avatar work actually 👍 I think we have a specific issue for that? Or am i confused?

[2022-11-21 18:43] aldo-expensify commented on #12692
I'll review today. @parasharrajat if you have some time today, please review too :)

[2022-11-21 18:46] amyevans commented on #12889
Discussed with @AndrewGable and I'm going to proceed with opening a revert PR to keep the deploy unblocked. @0xmiroslav, feel free to suggest your proposal on the original issue (https://github.com/Expensify/App/issues/11086) for evaluation by the C+ and CME, as the issue will need an updated solution after the revert. Thank you!

[2022-11-21 18:51] PauloGasparSv commented on #12123
No updates here!

[2022-11-21 18:52] puneetlath commented on #12676
@marcaaron the [issue](https://github.com/Expensify/App/issues/11982) that I'm working on seems to be happening because we are redirecting to their policy expense chat, but they don't have a policy expense chat because they aren't on the beta. Still trying to figure out why we're re-directing to that chat in the first place.

[2022-11-21 18:54] parasharrajat commented on #12692
yeah, I am just adding the screenshots.

[2022-11-21 18:55] aldo-expensify commented on #12692
Thanks!

[2022-11-21 18:58] trjExpensify commented on #11425
What is this illusive issue you keep referencing? 😅

[2022-11-21 19:03] NicMendonca commented on #11330
okay all set, thanks @deetergp!

[2022-11-21 19:03] #11330 closed

[2022-11-21 19:04] alex-mechler commented on #12710
I'm no longer able to reproduce this on dev or staging.  @mvtglobally or @davidcardoza are you able to reproduce this?

https://user-images.githubusercontent.com/22447860/203138212-0cc9036a-99ab-440c-8ffd-9e57ae973ddf.mp4

[2022-11-21 19:05] marcaaron commented on #9818
It's not clear to me why we would need to implement [`getStateFromPath()`](https://reactnavigation.org/docs/navigation-container/#linkinggetstatefrompath). As mentioned before, it seems like `react-navigation` has a wild card route that can be used to show a "not found" screen, but step one would be decide what should happen when an invalid route is visited. It seems like that was first explored [

[2022-11-21 19:09] marcaaron commented on #12708
On second thought... I am looking at this again... and not really sure if we need to do this. If you're offline you can't really move through the different steps of the bank account flow anyway. cc @MariaHCD who might know more (or who would know).

[2022-11-21 19:12] marcaaron commented on #12022
I am sideways thumb on whether this is worth prioritizing (we just have so many more important issues to work on right now). But, maybe a good first pick issue to do eventually? Doesn't feel like an urgent `Bug` so I think we can just get to it when we get to it.

[2022-11-21 19:17] s77rt commented on #12741
Applied in Upwork (+50% Bonus)
[PR](https://github.com/Expensify/App/pull/12899) is ready.

[2022-11-21 19:17] alex-mechler commented on #12289
Going to take this over as part of the focus on WAQ so we can get this bug done quickly.

[2022-11-21 19:23] kbecciv opened #12900 "[HOLD for payment 2022-12-02] New Chat - When a username has numbers, multiple names are highlighted in the search"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Login with any account
3. Click on the "Global action" button
4. Click on "New Cha

[2022-11-21 19:26] marcaaron commented on #12043
I'm closing this as it doesn't feel like a priority right now and we are at an impasse. If we want to, we can report a new issue to propose that the emojis should not be "tabbable" or start a general conversation about how it should work.

[2022-11-21 19:26] #12043 closed

[2022-11-21 19:35] parasharrajat commented on #8592
@24dev Do let us know if you don't find any alternatives.

[2022-11-21 19:41] parasharrajat commented on #12428
@aimane-chnaif Interested to take this on. I am not getting time for this. Unassigning...

[2022-11-21 19:44] Luke9389 commented on #12492
Checking this out now everyone.

[2022-11-21 19:45] isabelastisser commented on #12881
Hi! Can you please only accept the offer and make sure that you won't end the contract? I need the contract to be open to issue the payment. Can you please review the contract and see if you can reopen it? Let me know when you do, and I will try to issue the payment again then. Thanks!

[2022-11-21 19:45] abekkala commented on #12046
@ctkochan22 I have a [reassigned GH](https://github.com/Expensify/App/issues/11953) that is on hold for this one.

When I test this issue I'm still being routed outside of chat and into web. While no longer being provided a _blank_ page I am shown an old archived # admins room vs. the ability to actually chat with a setup specialist.

Is this particular one not an issue that is being 'fixed'?
I'm

[2022-11-21 19:46] Luke9389 commented on #12492
Yep, let's move forward with this solution: https://github.com/Expensify/App/issues/12492#issuecomment-1309838065

Thanks for the patience everyone.

[2022-11-21 19:47] #12281 closed

[2022-11-21 19:53] parasharrajat commented on #12881
I must have done it accidentally. Can you please send another offer?

[2022-11-21 19:55] nkuoch commented on #12530
Yes please

[2022-11-21 20:00] parasharrajat commented on #12363
Being reviewed internally.

[2022-11-21 20:16] maddylewis commented on #12792
This issue is mentioned here - https://github.com/Expensify/App/issues/12779.

Added external label to get a fix proposed 👍

[2022-11-21 20:18] aldo-expensify commented on #11086
This proposal is mutating the state. From my knowledge of React, this is something that should be completely avoided and can cause hard to track bugs, are there cases where mutations of the state is acceptable? No, as far as I know, but please let me know if I'm wrong about this.

[2022-11-21 20:23] Luke9389 commented on #12443
Still working on this one.

[2022-11-21 20:29] tylerkaraszewski commented on #12769
@NicMendonca I believe yes. We will come back and pay any contributors on these issues if their proposed solutions end up being used.

[2022-11-21 20:30] aldo-expensify commented on #11086
What if to fix this issue we just close the context menu once we click the first action. If you want to delete the comment after,  you would just have to open the context menu again. This for me is the normal behaviour of a context menu, they usually close as soon as you press something.

[2022-11-21 20:32] kevinksullivan commented on #12645
Hired @markarmanus . Any update on the PR?

[2022-11-21 20:32] Luke9389 commented on #11809
@andrewlor @rushatgabhane

This is not the issue we are trying to solve. We are specifically looking at how the animation goes RIGHT -> LEFT sometimes and  LEFT -> RIGHT other times.

https://github.com/Expensify/App/issues/11809#issuecomment-1280057548

[2022-11-21 20:33] trjExpensify commented on #12792
@youssef-lr @mountiny the root cause of this is the same as [this issue](https://github.com/Expensify/App/issues/12781#top), isn't it?

I don't think we should have separate issues up for this, as we [discuss and look at finding a resolution](https://expensify.slack.com/archives/C01GTK53T8Q/p1668998655170269) to optimistic foreign currency requests.

[2022-11-21 20:37] Luke9389 commented on #11083
As I said @railway17 I'll be looking at this flow today.

[2022-11-21 20:37] parasharrajat commented on #10414
@kevinksullivan Are we holding this one as per https://expensify.slack.com/archives/C01GTK53T8Q/p1668604822482759?

[2022-11-21 20:38] tgolen commented on #11768
I have read and reviewed this Design Doc!

[2022-11-21 20:38] dnlfrst commented on #12156
@tgolen I will make sure to accomplish the same as proposed without using `react-helmet` and get back to you as soon as possible.

[2022-11-21 20:39] kevinksullivan commented on #12721
@aimane-chnaif I will pay reporting but you have to accept. Please comment once you've done so.

[2022-11-21 20:40] s77rt commented on #12719
### Proposal
[code]

### Details
Using `key` prop on the form will force the inputs to re-render if the key has changed.
The key has the value of the number of keys in the `currentUserDetails` object.

### Results
Initially the inputs will appear empty then will be populated with the correct values

[2022-11-21 20:45] kevinksullivan commented on #12721
All set.

[2022-11-21 20:54] markarmanus commented on #12645
@kevinksullivan Code is ready. Having some problems getting the commit to be on my personal github account vs my professional work one. But working on fix now. Apologies for the delay.

[2022-11-21 20:58] davidcardoza commented on #12710
Ya, I can't seem to reproduce either after several attempts. Should I close this issue?

[2022-11-21 21:06] parasharrajat commented on #12719
IMO, the main issue is that the user is navigated to the Profile page after login. We have not configured such behavior in the app. This is a kind of bug in RN. I found this https://github.com/react-navigation/react-navigation/issues/9436.

There are other such issues reported by @0xmiroslav only.
https://github.com/Expensify/App/issues/12717
https://github.com/Expensify/App/issues/12428

And this

[2022-11-21 21:26] MitchExpensify commented on #12807
[Asked in #contributor-plus for more eyes](https://expensify.slack.com/archives/C02NK2DQWUX/p1669065942914629)

[2022-11-21 21:35] jasperhuangg opened #12904 "testing "https://github.com/Expensify/Web-Expensify/pull/35626""
testing https://github.com/Expensify/Web-Expensify/pull/35626
## Upwork Automation - Do Not Edit
- Upwork Job URL: https://www.upwork.com/jobs/~0113f7dadee69c87d9
- Upwork Job ID: 1594806968856567808

[2022-11-21 21:36] bondydaa commented on #12638
oh shoot Brandon is OOO this week. Going to gut check here with the rest of the team but this definitely seems more like a product change/feature request vs a bug since it's very clear why we're being redirected to the concierge chat: b/c it's coded that way.

[2022-11-21 21:36] #12904 closed

[2022-11-21 21:37] jasperhuangg opened #12905 "[$1000] testing "https://github.com/Expensify/App/issues/12904""

[2022-11-21 21:37] arielgreen commented on #12770
Thanks, removed job from Upwork.

[2022-11-21 21:39] #12905 closed

[2022-11-21 21:39] bondydaa commented on #12638
opened a thread here https://expensify.slack.com/archives/C01GTK53T8Q/p1669066748519699

[2022-11-21 21:40] jasperhuangg commented on #12900
Gonna investigate this one

[2022-11-21 21:42] johncschuster commented on #11126
Thanks for the update, @mvtglobally!

[2022-11-21 21:44] sophiepintoraetz commented on #12049
All right - closing the issue coz payment is done! @Santhosh-Sellavel - feel free to reach out to me and/or respond to the offer in Upwork.

[2022-11-21 21:44] #12049 closed

[2022-11-21 21:44] deetergp commented on #12865
How is there a secondary admin on a newly created workspace by a newly created user?

[2022-11-21 21:45] MitchExpensify commented on #11093
[Doubled!](https://expensify.slack.com/archives/C01GTK53T8Q/p1669067109574519?thread_ts=1661857234.117209&cid=C01GTK53T8Q)

[2022-11-21 21:46] OSBotify commented on #12812
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.29-7 has been deployed to staging :tada:

[2022-11-21 21:49] MitchExpensify commented on #8710
Seeing as this is being handled internally I'm going to unassign myself

[2022-11-21 21:50] pecanoro commented on #9505
I was actually looking into this and I think @0xmiroslav's proposal is fine. The problem is not their solution but the fact that our code only handles one pasted image at a time, which it's a different bug. @rushatgabhane If you try to paste two images, you will notice how only one gets sent and parsed. @0xmiroslav, do you want to go ahead with your solution? If not, I am taking over to speed thin

[2022-11-21 21:56] stephanieelliott commented on #12141
Oh, sure! Glad I posted that then 😅

### Testing Steps
1. Sign into new.expensify.com on production
2. In the same chat, type and send the comment `https://www.google.com/` -- notice that the pencil icon does appear and allows you to edit it [this is the desired behavior]
3. 2. Open a chat, type and send the comment `https://www.expensify.com/chat-attachments` -- notice that the pencil icon does n

[2022-11-21 22:00] aldo-expensify commented on #12893
I remember this same images was causing this a long time ago: https://github.com/Expensify/App/issues/5193

I wonder if it ever got fixed and if this is a regression.

[2022-11-21 22:01] aldo-expensify commented on #12894
Reproduced, weirdly this happens only if you add the emojis like it was mentioned and it doesn't happen if you just add a single emoji

[2022-11-21 22:02] pecanoro commented on #9505
Awesome! don't forget to apply for the job on Upwork!

[2022-11-21 22:05] aldo-expensify commented on #12894
In the case of two emojis in different lines changing size after a moment, it seems to happen after we get the response from the server:

https://user-images.githubusercontent.com/87341702/203167498-862680c6-c1f1-471f-9ff6-34d2adbd06f4.mov

If we disable the connection, we see that they are small and they stay small.

[2022-11-21 22:07] aldo-expensify commented on #12783
Like, why we don't just save the markdown?

[2022-11-21 22:09] jasperhuangg commented on #12900
It seems our logic [here](https://github.com/Expensify/App/blob/649a04779e4bd98f98506ab2fa23a85b7d90ea97/src/components/OptionsList/BaseOptionsList.js#L180-L181) doesn't take into account the `userToInvite` option that's added on [here](https://github.com/Expensify/App/blob/649a04779e4bd98f98506ab2fa23a85b7d90ea97/src/libs/OptionsListUtils.js#L626). Looking into a fix

[2022-11-21 22:12] jliexpensify commented on #10905
Sorry @JmillsExpensify - dropped the ball on this one! I'll sort out payment now.

[2022-11-21 22:12] johncschuster commented on #12789
I agree with you, @iwiznia. It looks like the page loaded so quickly that the splash screen didn't have time to load.

I'm going to close the issue.

[2022-11-21 22:12] #12789 closed

[2022-11-21 22:13] stephanieelliott commented on #12188
1 vote here for the **harder but cleaner way** -- IMO it really doesn't really make sense to implement a stopgap solution to get this in product quicker. I would feel differently if were something that significantly impacted functionality or improved user experience, but this feels _very_ "nice to have" and not something we need to solve for ASAP

[2022-11-21 22:15] jliexpensify commented on #10905
@Santhosh-Sellavel , @aimane-chnaif and @thesahindia apologies for the delay: once you accept, I'll pay out $1000 to each of you.

[2022-11-21 22:15] jasperhuangg commented on #12900
We're setting `indexOffset` for each section incorrectly [here](https://github.com/Expensify/App/blob/1e079e67401bdafe1cb4220a4442ebc5e3adc3dc/src/pages/SearchPage.js#L88-L119), PR incoming...

[2022-11-21 22:16] tgolen commented on #12141
Ah, OK. Got it, yes... that is spelled out in the original issue description as well 😅

When I was investigating the root cause of this issue, I found that the problem was simply:

- We do not allow you to edit any URL that contains `chat-attachments` anywhere in the URL.

There are times when we should allow you to edit that URL. Primarily:
1. When it's a non-expensify domain (eg. google.com/chat

[2022-11-21 22:16] stephanieelliott commented on #12649
Oops, jumped the gun here -- thanks @gadhiyamanan!

[2022-11-21 22:18] MitchExpensify commented on #12010
Based on an internal discussion I am closing this issue because it relates to tab navigation is more accurately a new feature versus being a bug. I've place it on the accessibility milestone so it can be picked up down the road!

[2022-11-21 22:23] pecanoro commented on #10414
I tried to reproduce this on mobile web and the native app on Android to see if I could help with a fix but it works just fine, I think we should close it.

[2022-11-21 22:28] s77rt commented on #10414
@pecanoro

https://github.com/Expensify/App/issues/10414#issuecomment-1314058212

[2022-11-21 22:45] mateocole commented on #12453
Following payment steps [here](https://stackoverflow.com/c/expensify/questions/7582)

Hey @Puneet-here can you apply directly to the upwork posting so I can document and hire from there

[2022-11-21 22:51] thienlnam commented on #12719
I agree this can be added to the App Navigation tracking, and that this can be solved by redoing how we do auth screens.

But this type of linking should be a consideration within the design -
1. Click on a link to a part of the App
2. If you're not logged in, you should get redirected to the auth screen
3. Log in, and then once logged in get redirected back to the part of the App you directed to

[2022-11-21 22:51] deetergp commented on #12865
I'm not able to reproduce this locally. Am I doing it right?
https://user-images.githubusercontent.com/766197/203173756-f1fe24a6-ab1f-4027-b528-ad9b929c3f68.mov

Is it still a problem on Staging? We pushed out some backend changes this morning, is it possible those changes resolved the issue?

[2022-11-21 22:55] pecanoro commented on #11087
I am going to try and take a look, this is caused definitely because we are changing the keyboard type when jumping from the phone number field to the password one. I will check tomorrow if I can figure it out but maybe the intricacies of keyboard layouts is too much for me.

[2022-11-21 23:00] marcaaron commented on #12267
Not @roryabraham  - but great conversation here. I think it would be good to loop in @shawnborton on this one since it touches on the design.

As I understand it, the two current proposals are:

## Option 1:

**Use a sans serif system fallback font to minimize the FOUC impact**

**Pro:** Faster site load.
**Con:** Slightly noticeable compared to loading the actual required fonts, but not as jarrin

[2022-11-21 23:04] pecanoro commented on #10414
Then let's update the description to say mobile safari only, because it's pretty confusing otherwise.

[2022-11-21 23:05] tjferriss commented on #12717
Ok I was finally able to replicate this when in incognito so I'm going to add the External tag to get us started.

However, I also read up on the referenced [bug issue](https://github.com/Expensify/App/issues/12719), it looks like there might be a wider solution for these types of issues being discussed there.

[2022-11-21 23:07] marcaaron commented on #12152
Seems pretty straightforward so just going to assign this one to @dhairyasenjaliya

[2022-11-21 23:11] marcaaron commented on #11970
Ah this looks related to the drawer navigator. I'd actually suggest we put it on HOLD pending the app navigation reboot.

[2022-11-21 23:13] marcaaron commented on #11970
also seems kind of bad to dismiss the keyboard on every state change... I can think of some possibilities where we would not want to do that like going back to a previous page and focusing on an input (not sure if we do that anywhere but just saying it's quite the sledgehammer approach to this problem).

[2022-11-21 23:16] marcaaron commented on #11970
@rushatgabhane let's wait for the reboot to fix this - it seems pretty minor.

@deetergp check out [the doc](https://docs.google.com/document/d/1cQ87HcDA9RrmBM4ch7PmlNi9N9ZP8abQuPF0gKYrxDE/edit) if you are curious about how the next navigation implementation will solve this problem

[2022-11-21 23:16] francoisl commented on #12895
This is happening because we're running into [this exception](https://github.com/Expensify/Web-Expensify/blob/6826d80aa23f04f662c4999095db97243c49f375/lib/Plaid/API.php#L153-L155) (internal).

That said, it doesn't sound like an error per se - the user just selected a list of accounts that are already linked to Expensify. Maybe we could directly show the success panel instead? cc @nkuoch if you ha

[2022-11-21 23:20] shawnborton commented on #12676
@marcaaron I think that's correct, yeah

[2022-11-21 23:21] shawnborton commented on #12267
Regardless of what we do, I agree we should use sans-serif system fonts as fall back to minimize FOUC. That being said, Option 2 would be great.

[2022-11-21 23:22] roryabraham commented on #12698
@CosminnB Overall that looks pretty good, but you lost me a bit with this statement:

Can you expand on what you mean? And why that isn't a problem with our current implementation of the skeleton view for reports?

[2022-11-21 23:22] lschurr commented on #12883
Do we need this to stay open or it's being fixed elsewhere?

[2022-11-21 23:23] mountiny commented on #11697
@hannojg Also could you reproduce this issue with the fixes you had already been testing for [this issue](https://github.com/Expensify/App/issues/12885)?

As discussed [in slack](https://expensify.slack.com/archives/C01SKUP7QR0/p1669045814616379) (internal), I will put this on hold for the new performance issue resolution, which looks promising and might fix this as well.

[2022-11-21 23:26] tjferriss commented on #9408
Sorry for the delay. I've hired you all for the job in Upworks so once you accept I can process the payment.

[2022-11-21 23:28] andrewlor commented on #11809
@Luke9389 Right, but from what I can tell from the given examples, the main content in the modal is always animated in the correct direction. RIGHT -> LEFT if you're going forward a step and LEFT -> RIGHT if you're going back a step, I assumed this behaviour was intentional.

So my interpretation was that it's just the header bar that is animated the wrong direction (or not animated at all). As se

[2022-11-21 23:30] mountiny commented on #12792
Yes I agree, we should probably keep https://github.com/Expensify/App/issues/12781#top open as there is already lots of discussion. Removing the help wanted for now so contirbutors dont necesarily spend time on this once, this is better to be internal and I think we should close this issue in favour of the linked one.

And make sure that the testing steps from this one are covered in PR fixing htt

[2022-11-21 23:30] francoisl commented on #11768
I have read and reviewed this Design Doc!

[2022-11-21 23:33] alex-mechler commented on #12710
Lets close this out. If QA can reproduce, we can reopen it then

[2022-11-21 23:33] #12710 closed

[2022-11-21 23:38] mountiny commented on #12717
Putting this on hold for the navigation refactor as also Rajat mentione this seems like an issue with react-navigation https://github.com/Expensify/App/issues/11768

[2022-11-21 23:42] mountiny commented on #12719
Maybe we should put this on hold for the react-navigation update as well. This is not urgent issue such that we would need to accept workaround if we can look into fixing this with react-navigation

[2022-11-21 23:46] MitchExpensify commented on #4733
@azimgd bump on the above

[2022-11-21 23:48] amyevans commented on #12432
In further investigation, it looks like after the initial money request and cancellation pair, `OpenReport` is called and is the API command that's causing the `iouReportID` property on the report in Onyx is reset to `0`. `OpenReport` calls `Auth::getChats()` [here](https://github.com/Expensify/Web-Expensify/blob/2c80495239e924d7be19f01194b4777f78d6bbac/lib/ReportAPI.php#L4061), which in Auth [her

[2022-11-21 23:49] trjExpensify commented on #12792
I agree with that. Will leave this open for @maddylewis, so she can kill the Upwork job when she gets a sec.

[2022-11-21 23:50] shawnborton commented on #12698
Yeah, I think if we are loading a chat over in the main chat view, we should show the skeleton there too.

[2022-11-21 23:54] AndrewGable commented on #12889
Removing label as the revert was CP-ed

[2022-11-21 23:58] aldo-expensify commented on #12892
Reproduced in firefox / mac

[2022-11-21 23:59] neil-marcellini commented on #12629
I'll finish testing and get that PR up for review.

[2022-11-22 00:00] aldo-expensify commented on #12892
@JmillsExpensify this seems to happen only in Firefox and the working around is just to click outside the personal details modal to close it, this doesn't block the user from using the App. Does this mean that the issue is valid and remains open, but it is not WAQ?

I found this slack discussion: https://expensify.slack.com/archives/C01GTK53T8Q/p1668730285445209, but wasn't clear to me where we la

[2022-11-22 00:05] pufferdev0807 commented on #12792
This is very challengeable problem.
I am very interested about this problem.
Could I work in backend and mobile project?

[2022-11-22 00:05] marcaaron commented on #11951
Oh fun another one of these 😅

If I had to guess I'd say the chat is being marked as read in a call to `OpenReport` that is marking the report to "read"

Debugging the values of `getIsReportFullyVisible()` would be a good place to start

https://github.com/Expensify/App/blob/00d7c619cc409b96e6dddca5cc0ad406f0785331/src/pages/home/report/ReportActionsView.js#L253-L256

[2022-11-22 00:06] pufferdev0807 commented on #12792
Also could I join your dev slack channel?
pufferdev0807@gmail.com (This is my email address)

[2022-11-22 00:07] marcaaron commented on #11951
also I think, generally speaking, if we identify a new bug while investigating another one it's a good practice to report a new issue unless you are _certain_ they have the same root cause (which can be difficult to see if we don't yet have a root cause).

[2022-11-22 00:10] mountiny commented on #12428
Just noting here, this might be similar cause in terms of react-navigation state so we might want to consider holding this for react-navigation project and apply workarounds if this persists. Similarly to this https://github.com/Expensify/App/issues/12717

[2022-11-22 00:12] pufferdev0807 commented on #12792
I've some questions for this issue.
Please contact me asap.

[2022-11-22 00:12] marcaaron commented on #11903
This feels low priority to me as it's not directly tied to anything broken in the app. Not saying we shouldn't fix it. But maybe should be on HOLD for #focus.

[2022-11-22 00:12] mountiny commented on #12792
Hey @pufferdev0807! Our back end is not open source at the moment, however, you can find all the information about how to contibute to this app or how to get access to the slack channel here https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md

Thank you!

[2022-11-22 00:13] cead22 commented on #7284
Started a discussion about the solution here https://expensify.slack.com/archives/C03TQ48KC/p1669054325132319

[2022-11-22 00:13] mountiny commented on #12792
For this particular issue, it is better to be handled internally @pufferdev0807. Feel free to look at issues with `Help Wanted` label

[2022-11-22 00:13] #11378 closed

[2022-11-22 00:16] mountiny commented on #12432
Gonna try to look tomorrow.

[2022-11-22 00:21] christianwen commented on #10731
@Santhosh-Sellavel yes, 'react-native-web' needs to be updated by its maintainer to support the 'inputMode' property, which I asked here https://github.com/necolas/react-native-web/issues/2421#issuecomment-1319881454 but haven't got response yet, will follow up

[2022-11-22 00:24] aldo-expensify opened #12910 "[Dark mode] Checkboxes always look checked in dark mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Start adding a VBA, get to the company step
2. The checkbox at the bottom about restricted industries always look checked

##

[2022-11-22 00:24] aldo-expensify commented on #12910
cc @grgia

[2022-11-22 00:27] grgia commented on #12910
cc @shawnborton do we have a mockup with a checkmark?

[2022-11-22 00:30] grgia commented on #12910
I'm happy to fix this one if so!

Here's the old checkbox for reference
https://user-images.githubusercontent.com/38015950/203185404-4cd748a3-a2c8-4d6f-854f-af5774dce520.mov

[2022-11-22 00:31] marcaaron commented on #11851
Could also see a case for leaving it open but not taking any action for now. We can file a bug report with `react-native-web` at least so it gets on their radar and may get fixed.

[2022-11-22 00:33] tylerkaraszewski commented on #12637
Let's close. It'll get reopened if someone reproduces, and if not, great.

[2022-11-22 00:33] #12637 closed

[2022-11-22 00:36] sakluger commented on #12291
@mananjadhav which PR were you talking about in [this comment](https://github.com/Expensify/App/issues/12291#issuecomment-1315617426)? It looks like the linked PR was deployed to production 6 days ago and should be paid out tomorrow.

[2022-11-22 00:43] davidcardoza commented on #12512
Great, thank you @thomas-coldwell

[2022-11-22 00:44] davidcardoza commented on #11796
@techievivek any update here?

[2022-11-22 00:45] dnlfrst commented on #12156
### Proposal (Update)

The update proposal now fixes the status bar color as follows:

[code]

The only remaining minor issue is that the backdrop opacity of the modal is hardcoded since it is hardcoded in [`BaseModal.js`](https://github.com/Expensify/App/blob/main/src/components/Modal/BaseModal.js#L104) as well.

[2022-11-22 00:46] sakluger commented on #12244
Apologies for the delay in hiring. @hungvu193 @thesahindia once you accept the offer in Upwork, I will initiate payment.

[2022-11-22 00:51] sakluger commented on #12005
Hi @VikalpP I've accepted your proposal on Upwork.

[2022-11-22 00:53] hungvu193 commented on #12244
@sakluger Thank you, I accepted the offer

[2022-11-22 00:58] grgia commented on #12639
Looking into this

[2022-11-22 01:01] isabelastisser commented on #12881
@parasharrajat job posting here: https://www.upwork.com/jobs/~01b5ad112c809a906f

[2022-11-22 01:19] wildan-m commented on #11851
@marcaaron I don't think it's `react-native-web` bug, they added `translate-z-0` on purpose, but the mobile version of FF might have a bug rendering it.

[2022-11-22 01:22] marcochavezf opened #12911 "[HOLD #296548] Transfer balance is not displaying error messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
This issue surfaced after testing the new testing debit cards from this [PR](https://github.com/Expensify/Auth/pull/7245). We should also add the new `

[2022-11-22 01:24] grgia commented on #12639
Fixed by https://github.com/Expensify/App/pull/12529.

[2022-11-22 01:24] #12639 closed

[2022-11-22 01:32] marcochavezf opened #12913 "[On Hold] Improve error message when a debit card is added"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

1. In NewDot sign in with an expensifail account
2. Click on the Avatar icon (Settings) -> Payments

[2022-11-22 01:33] aldo-expensify opened #12914 "[HOLD for payment 2023-01-11] [$2000] [Dark mode] Scrollbars should have a dark color"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. In the comment composer, click the Emoji button
2. Verify that the scroll bar looks "well" in the dark mode

## Expected Resul

[2022-11-22 01:33] aldo-expensify commented on #12914
cc @shawnborton do we have a color for the scrollbars?

[2022-11-22 01:34] aneequeahmad commented on #11096
@mvtglobally, This error is reproducible on `main branch dev` in version `1.2.29-6`.

[2022-11-22 01:35] aldo-expensify commented on #12914
Do we have a tracking issue for things related to dark mode?

[2022-11-22 01:37] shawnborton commented on #12914
Oh interesting, I would think we would hide the scroll bar in that particular piece of UI. Thoughts?

[2022-11-22 01:39] shawnborton commented on #12914
Otherwise I would make the scroll background the same color as the darkest app BG color, and the tracking button the same color as our default buttons.

I don't think we have a tracking issue for things related to dark mode... yet? I am not sure if we need one though, we can just handle bugs on a 1:1 basis. Now that I see the scroll bar some more, I can see why it would be useful given how long th

[2022-11-22 01:43] grgia commented on #12854
@mollfpr I believe this was fixed by https://github.com/Expensify/App/pull/12632

[2022-11-22 01:45] aldo-expensify commented on #12914
Maybe, but you still have the scrollbar in other views

![image](https://user-images.githubusercontent.com/87341702/203196677-f93232f2-2e44-43f1-b886-72dff8e3dc8b.png)

[2022-11-22 01:47] shawnborton commented on #12914
Good point. Okay, so let's try with my color suggestions above?

[2022-11-22 01:50] aldo-expensify commented on #12914
sounds good to me!

[2022-11-22 01:53] aldo-expensify opened #12915 "[Dark mode] Workspace icon inconsistent color"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Have a workspace
2. Go to Settings > Workspaces
3. Notice that the workspace icon is green with a **black** building
    ![ima

[2022-11-22 01:54] aldo-expensify commented on #12915
cc @grgia

[2022-11-22 01:54] aldo-expensify commented on #12915
@shawnborton is my expectation for the color of the building to be the same correct?

Bonus: Is this icon expected to have a black border?

![image](https://user-images.githubusercontent.com/87341702/203197801-1467c4ab-b157-4f74-b452-982f97462fc4.png)

[2022-11-22 01:56] shawnborton commented on #12915
Good catch - I think the outline currently behaves like that (even not in dark mode) but I think it's worth fixing everywhere.

[2022-11-22 02:03] grgia commented on #12915
Yep, I can take this one too

[2022-11-22 02:05] grgia commented on #12914
I could bundle these dark mode color fixes into one PR for faster QA, mind if I take this one too?

[2022-11-22 02:05] mollfpr commented on #12854
Thanks, @grgia!

This issue is from that PR. You can check the analysis here https://github.com/Expensify/App/issues/12854#issuecomment-1319571877

[2022-11-22 02:09] shawnborton commented on #12910
Whoa - strange that a checkmark appears even when it is not checked. Is there a way to just get rid of that white inner checkmark when this is not in the checked state?

[2022-11-22 02:12] mollfpr commented on #12854
Thanks for the reminder! We are still in the middle of accepting proposals here.

[2022-11-22 02:17] grgia commented on #12910
yep! besides removing the checked, is the blue outline/fill okay?

[2022-11-22 02:18] aldo-expensify commented on #12914
Feel free to take them if there is no engineer assigned ;)

[2022-11-22 02:20] neil-marcellini commented on #12629
For some reason there's a jest unit test failing on my PR so I'll need to look into that tomorrow.

[2022-11-22 02:22] neil-marcellini commented on #12511
The last PR we need got merged and will be deployed soon.

[2022-11-22 02:23] neil-marcellini commented on #12315
No one has taken this and I wasn't able to get to it today. Hopefully tomorrow!

[2022-11-22 02:30] hungvu193 commented on #12692
@zanyrenney I've just applied.

[2022-11-22 02:30] shawnborton commented on #12910
If we're able to change that to our brand green (both outline and fill), that would be great!

[2022-11-22 02:32] aldo-expensify commented on #12894
https://user-images.githubusercontent.com/87341702/203205247-684e5f2d-6d38-4a50-8fe7-ac87a42f3645.mov

The optimistic report action that gets `text` by calling `ExpensiMark.htmlToText` on `html` here: https://github.com/Expensify/App/blob/00d7c619cc409b96e6dddca5cc0ad406f0785331/src/libs/ReportUtils.js#L625-L626

This result is incorrect, the `html` content is `🥶 <br /><br />🥶` (notice the whitesp

[2022-11-22 02:35] hungvu193 commented on #12438
I've just applied

[2022-11-22 02:46] hungvu193 commented on #12719
@thienlnam It won't empty if user already logged in, because it included the user email even with the new user 😄

[2022-11-22 02:55] aldo-expensify commented on #12894
To solve this, I think we should change the regex here:

https://github.com/Expensify/expensify-common/blob/dd66d931aeffe18cdcffab8e7d05af32f3ef7ad1/lib/ExpensiMark.js#L290

for

[code]

[2022-11-22 02:59] francoisl commented on #12895
Alternatively we can show the error message as intended by fixing the `jsonCode` [here](https://github.com/Expensify/Web-Expensify/blob/7e7c1eb933d5688fbd457211ca104b89feaa6f9b/api.php#L1566-L1568), because right now we catch the exception and return a 200 response, so NewDot ends up applying the `successData` of the request, which removes the `error` field.

[2022-11-22 03:03] conorpendergrast commented on #12913
From this SO: https://stackoverflow.com/c/expensify/questions/14418
- [X] **The "bug" is actually a bug:** Yes, there's no copy for this error
- [X] **The bug is not a duplicate report of an existing GH (close the GH and add any novel details to the original GH instead)**: Correct
- [X] **The bug is reproducible, following the reproduction steps:** I reproduced through conor@expensifail.com, getti

[2022-11-22 03:07] aldo-expensify commented on #12894
PR up

[2022-11-22 03:09] aneequeahmad commented on #11903
The screenshots/Videos are:

### WEB:

<img width="1440" alt="Screenshot 2022-11-22 at 8 02 45 AM" src="https://user-images.githubusercontent.com/36359331/203210984-de529dbd-3171-4e82-b251-08189acc872c.png">

### IOS:

<img width="937" alt="Screenshot 2022-11-22 at 8 03 40 AM" src="https://user-images.githubusercontent.com/36359331/203211087-fb18b14a-e4bf-4e0b-9e59-31d5e7651bf8.png">

@aimane-chna

[2022-11-22 03:11] aneequeahmad commented on #11903
### UPDATED PROPOSAL:

Solution:

Need to update the existing code

**From:**

https://github.com/Expensify/App/blob/34f53dd8020e0224c392e767a910fa7ddee3aee1/src/pages/home/report/ContextMenu/BaseReportActionContextMenu.js#L21-L22

**To:**

[code]

cc: @aimane-chnaif

[2022-11-22 03:16] Christinadobrzyn commented on #10893
Hey @cowboycito, sorry to hear about how things went on the other project, is the issue that you spent a lot of time working on a proposal and it was closed without compensation? If that's the case, I'm happy to reach out to our team about this for you.

In terms of this project, I'm not sure what the next steps are, should we continue to work on this, put it on [Hold] until something else is fini

[2022-11-22 03:18] markarmanus commented on #12645
@kevinksullivan @sketchydroide PR ready for final review

[2022-11-22 03:18] Christinadobrzyn commented on #11283
It's time to double the price on this, this looks like it's been a lot of work are we good with me doubling it again or what are your thoughts on the price for this issue?

[2022-11-22 03:20] Christinadobrzyn commented on #12667
Ah thank you @mananjadhav! I missed that. Based on this [chat](https://expensify.slack.com/archives/C01GTK53T8Q/p1668699493784579?thread_ts=1668604822.482759&cid=C01GTK53T8Q), we should do a partial payout and close this.

[2022-11-22 03:25] railway17 commented on #11083
@Luke9389, There is another similar issue  #11951 which could be resolved by the above proposal.

[2022-11-22 03:29] mananjadhav commented on #12667
Sounds right @Christinadobrzyn

[2022-11-22 03:30] mananjadhav commented on #12889
Thanks @amyevans and @AndrewGable. We'll fix it as a regression on #11086

[2022-11-22 03:31] mananjadhav commented on #11086
@Pujan92 We have a regression on this issue, that we'll have to fix.  Please create a fresh PR to fix the issue and then we can review.

[2022-11-22 03:32] mananjadhav commented on #12291
@sakluger My bad, I am not sure why I saw 5 days ago! Thanks for clarifying.

[2022-11-22 03:33] mananjadhav commented on #12893
@aldo-expensify I mentioned this in the slack too, it is a regression. I had tested this earlier and it did work at some point when working on another issue.

[2022-11-22 03:35] mananjadhav commented on #12188
I am not sure about the urgency of the issue, but yeah if there isn't a constraint on the urgency, then 👍  for **harder but cleaner way**

[2022-11-22 03:37] Christinadobrzyn commented on #12667
Job posting in Upwork

Internal posting - https://www.upwork.com/ab/applicants/1594895331525615616/job-details
external positing - https://www.upwork.com/jobs/~0189b6e22c8d09e176

@mananjadhav and @s77rt can you please accept the proposal. @huzaifa-99 I'm checking on how we want to pay the reporting feed.

[2022-11-22 03:44] mananjadhav commented on #12667
Applied @Christinadobrzyn

[2022-11-22 03:53] Christinadobrzyn commented on #12741
Hired @varshamb as reporter, @s77rt as contributor and @mollfpr as C+

@s77rt I'm confused about the +50% bonus, can you confirm what that relates to?

[2022-11-22 04:17] thienlnam commented on #12719
@hungvu193 True for emails, but would have broken for all phone logins

Anyways, agree with all the above about solving this in react-navigation instead of doing a fix where ever this happens.  Going to put this on hold and add it to the tracking issue

[2022-11-22 04:18] aldo-expensify commented on #11086
I understand the point that it may be safe in this specific case at this time, but this type of code removes the assumption that the state is immutable. Removing that assumptions open the door for future bugs because other developers won't expect this, also, simple references check are not longer enough for checking equality. In my opinion it is similar to storing your state in `window`, yes, it m

[2022-11-22 04:18] strepanier03 commented on #12786
Continued the discussion in the OG bug report [here](https://expensify.slack.com/archives/C049HHMV9SM/p1669090669017379?thread_ts=1668609896.587349&cid=C049HHMV9SM).

I have proposed we place this GH on hold until #11425 is resolved and we can test again.

[2022-11-22 04:18] thienlnam commented on #12428
Added this issue to the main tracking issue https://github.com/Expensify/App/issues/11768

[2022-11-22 04:21] strepanier03 commented on #12715
@Gonals - Just a little nudge for the proposal by @Delgee [here](https://github.com/Expensify/App/issues/12715#issuecomment-1321173742) which has been selected by @mollfpr and is ready for your review.

[2022-11-22 04:26] strepanier03 commented on #11954
We're getting close, will check tomorrow, and then I'm out of the office Wednesday-Sunday.

[2022-11-22 05:02] mollfpr commented on #12741
I think @s77rt referring to [CONTRIBUTING.md](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#payment-for-contributions) where there will be a bonus if the PR is merged within 3 days after the issue assigned. @Christinadobrzyn

[2022-11-22 05:26] JmillsExpensify commented on #12804
Nice work here. Based on what I'm seeing, the linked PR is eligible for the 50% bonus since it was merged within 3 business days. Is that right @francoisl? If so, I'll issue the bonus as part of final payment when this PR is successfully deployed and the regression period passes.

[2022-11-22 05:31] Christinadobrzyn commented on #12271
@deetergp would you be able to lend some insights into if this could be `External` or needs to be `Internal`?

[2022-11-22 05:33] JmillsExpensify commented on #12775
I created this issue last week, but it's honestly pretty annoying to have this in the queue given all the immediate work we have in front of us elsewhere. I want to believe that we can come back to this one and remember this issue/convo, though curious for your thoughts.

[2022-11-22 05:34] JmillsExpensify commented on #12772
Still feel the same as last week, though open to differing opinions.

[2022-11-22 05:34] JmillsExpensify commented on #12743
See the linked issue recent commentary.

[2022-11-22 05:36] JmillsExpensify commented on #12691
As for wait for the PR to hit production and the regression period to start, noting that I do need to circle back on the BZ checklist. I'll plan on that for this week.

[2022-11-22 05:38] JmillsExpensify commented on #12578
Thanks everyone for helping us get to the bottom of this one! Sounds great, let's keep it moving forward.

[2022-11-22 05:38] JmillsExpensify commented on #12531
Still not a priority and still won't be until WAQ is done.

[2022-11-22 05:39] BriniM commented on #12719
Hi, I am an Upworker, just seen this.

This fixes it:
[code]

But I'm puzzled as to why no-one thought of doing it this way.

Brini

[2022-11-22 05:39] JmillsExpensify commented on #12459
Still not a priority over the course of WAQ.

[2022-11-22 06:02] Pujan92 commented on #11086
Sorry for the regression issue. I think updating the `hideContextMenu` with the check of the callback function which gets passed when there is a delay in context menu action can solve the issue. So if the action is deleting the comment we won't update the state from `hideContextMenu` method otherwise it won't have the reportID and reportAction.

[code]

[2022-11-22 06:07] bernhardoj commented on #9818
We can use the wild card route which I also previously proposed on my previous proposal [here](https://github.com/Expensify/App/issues/9818#issuecomment-1304833244). However, it needs a new component to handle the route and we prefer to not introducing a new component.

So, the only way I could think of is to reuse our ReportScreen component as it's already having a `FullPageNotFoundView`.

The ex

[2022-11-22 06:07] JmillsExpensify commented on #12433
Alright, time to circle back on the testing script. I posted a recommended update for our [TestRail IOU](https://expensify.testrail.io/index.php?/cases/view/1971032&group_by=cases:section_id&group_order=asc&display_deleted_cases=0&group_id=229063) test [in Slack](https://expensify.slack.com/archives/C01SKUP7QR0/p1669097166394829).

[2022-11-22 06:09] JmillsExpensify commented on #12433
In the meantime, @rushatgabhane it looks like you helped on the linked PR. I went ahead and temporarily added external so that we could get an Upwork job created. Posting is above!

[2022-11-22 06:17] JmillsExpensify commented on #11585
Alright, circling back here. @tgolen I've updated the BZ checklist with our respective todos. Given that this is an internal issue and no C+ is on the linked PRs, we're good there. Do you mind confirming your todos/bullets?

In the meantime, I see the following QA tests in the linked PRs:

**Chats in the LHN / Ordering**
1. In the LHN, make sure that reports are ordered by Pinned > Outstanding IOU

[2022-11-22 06:18] JmillsExpensify commented on #12292
Note for when this is merged: No C+ reviewed the linked PRs.

[2022-11-22 06:20] JmillsExpensify commented on #12283
While the conversation above continues, doubling the price of this issue once more! We're now at $1,000 💰

[2022-11-22 06:21] JmillsExpensify commented on #12189
Still on hold per the comment above.

[2022-11-22 06:22] JmillsExpensify commented on #11961
Still on hold per the larger initiative in the issue title.

[2022-11-22 06:23] JmillsExpensify commented on #11858
Thanks Maxence. Looks like we have a relatively fresh reproduction from Applause, though let us know if you have any questions.

[2022-11-22 06:25] JmillsExpensify commented on #11809
Still working through @andrewlor's proposal. I'll circle back tomorrow to see where we land.

[2022-11-22 06:28] JmillsExpensify commented on #11807
Linked PR is merged, so I'm adding the external label briefly to get an Upwork job created and handle Rajat's payment when this is deployed.

[2022-11-22 06:31] s77rt commented on #11970
@marcaaron Going back a previous page will dismiss the keyboard then open it up for the input to be focused.
On Chrome, the keyboard will always be dismissed so we are actually matching the behaviour of Safari with Chrome.
I don't think the reboot will do anything about this because the back button does not go through any of the code it will simply call the browser's `history.back()` and the only

[2022-11-22 06:33] JmillsExpensify commented on #10824
Circling back to pay out contributors. I still need to dig into the regression test, but let me first quickly issue payments since no regressions have arisen.

[2022-11-22 06:36] s77rt commented on #12667
Accepted @Christinadobrzyn

[2022-11-22 06:39] s77rt commented on #12741
@Christinadobrzyn as @mollfpr stated it's about the bonus if the PR is merged within 3 days. I submitted the PR on the same day of being assigned so it's more likely to be merged within that period.

[2022-11-22 06:44] parasharrajat commented on #12719
Let's add `[HOLD]` here too.

[2022-11-22 06:46] JmillsExpensify commented on #10824
Yes, we've discussed this regression above as well.

[2022-11-22 06:49] tc8appdevelo commented on #12026
Are you still working on this one? I was thinking about putting in a proposal but then I finally got to the end of the comments and realized it looks like its already about to be done.

[2022-11-22 06:50] parasharrajat commented on #11283
Let me recheck a thing here and then I will let you know. IMO, this issue is priced correctly.

[2022-11-22 06:50] ctkochan22 commented on #10765
Okay, so it sounds like we should bring this internal and fix it at the root. I'll try and take a look this week

[2022-11-22 06:50] thesahindia commented on #11576
We will need to create one (no job right now)

If I am not wrong we just need to add external label and melvin will post the upwork job link on this issue.

[2022-11-22 06:51] ctkochan22 commented on #12400
Added

[2022-11-22 07:01] JmillsExpensify commented on #11768
I have read and reviewed this design doc.

[2022-11-22 07:02] JmillsExpensify commented on #11768
How ironic ^^^

[2022-11-22 07:03] JmillsExpensify commented on #11726
Sorry ya'll, I keep struggling to come back to this one. Crossing this off the list before Thanksgiving kicks in.

[2022-11-22 07:04] parasharrajat commented on #12772
Make sense https://github.com/Expensify/App/issues/12772#issuecomment-1320579574 :+1:

[2022-11-22 07:04] Beamanator commented on #11576
@mateocole yes as you mentioned, we'll need an Upwork job for this. And interesting point @thesahindia , I know that automation is new, I don't necessarily like the idea of needing to add `External` label since this will also assign a C+ (which isn't needed for this issue) right? I'll ask internally, I think since all of this is new we'll eventually come up with better automation for this exact ca

[2022-11-22 07:05] JmillsExpensify commented on #11701
@rushatgabhane I invited you to this issue via Upwork, but actually, looking at the linked PR I think we handled the testing internally. Is that right?

[2022-11-22 07:06] JmillsExpensify commented on #11524
Still on hold as we go through the process.

[2022-11-22 07:07] JmillsExpensify commented on #11520
Looks like this issue is just waiting on a production deploy to close.

[2022-11-22 07:08] JmillsExpensify commented on #11453
Still held as we go through the design process.

[2022-11-22 07:08] JmillsExpensify commented on #11429
Still held as we go through the design process.

[2022-11-22 07:08] parasharrajat commented on #11093
Let's hold this issue. I thought I mentioned that earlier. There is a challenge that is preventing us to pick a good solution. We are trying to tackle that at https://github.com/Expensify/App/issues/8592. Please reset the price back to $2K. If we are to fix the issue, then it will be done asap. @MitchExpensify

[2022-11-22 07:09] JmillsExpensify commented on #11420
Still held as we go through the design process.

[2022-11-22 07:09] JmillsExpensify commented on #11372
Still held as we go through the design process.

[2022-11-22 07:10] JmillsExpensify commented on #11277
Still waiting on the linked PR.

[2022-11-22 07:10] JmillsExpensify commented on #11111
Still held as we go through the design process.

[2022-11-22 07:10] JmillsExpensify commented on #11092
Still held as we go through the design process.

[2022-11-22 07:11] JmillsExpensify commented on #10939
Still held as the linked issue is going through the design process.

[2022-11-22 07:12] JmillsExpensify commented on #10729
Review of the linked/holding PR is in progress! I'll have to check back in the coming days.

[2022-11-22 07:12] JmillsExpensify commented on #10670
Great catch, thank you!

[2022-11-22 07:13] JmillsExpensify commented on #10615
Removed iPad from the title since that's not officially supported, though we're still waiting on the Sequence Numbers.

[2022-11-22 07:13] JmillsExpensify commented on #10550
Still waiting on sequence numbers.

[2022-11-22 07:14] JmillsExpensify commented on #10507
Still held as the linked issue goes through the design process.

[2022-11-22 07:14] JmillsExpensify commented on #10506
Still held as this initiative goes through the design process.

[2022-11-22 07:14] JmillsExpensify commented on #10409
Still held as this initiative goes through the design process.

[2022-11-22 07:15] JmillsExpensify commented on #9734
Still held as this initiative goes through the design process.

[2022-11-22 07:15] JmillsExpensify commented on #8657
Still held as this initiative goes through the design process.

[2022-11-22 07:15] JmillsExpensify commented on #8126
Still held as this initiative goes through the design process.

[2022-11-22 07:15] JmillsExpensify commented on #7737
Still held as this initiative goes through the design process.

[2022-11-22 07:16] tienifr commented on #11584
I've sent the email yesterday, still waiting to get added to the `#expensify-bugs` channel

[2022-11-22 07:16] JmillsExpensify commented on #9020
Added the WAQ hold for clarity.

[2022-11-22 07:17] JmillsExpensify commented on #7270
Thanks so much!

[2022-11-22 07:17] JmillsExpensify commented on #5536
Still on hold for WAQ.

[2022-11-22 07:18] JmillsExpensify commented on #10525
Looks like the Web PR is ready to merge. Woo!

[2022-11-22 07:19] JmillsExpensify commented on #10632
Yes! We're open for proposals. Upwork job is here: https://www.upwork.com/jobs/~01be1724c1619fb8dc. Kicking is off at the last price, which is also the new starting price for bugs.

[2022-11-22 07:20] JmillsExpensify commented on #10765
Thanks so much! Heads up @ctkochan22, we may be deprecating FlatList for WishList in the near future, though it's still probably too early with the later to definitely say we should close this issue.

[2022-11-22 07:21] JmillsExpensify commented on #11087
Thanks @pecanoro for jumping in!

[2022-11-22 07:22] JmillsExpensify commented on #11189
Still de-prioritized for WAQ.

[2022-11-22 07:22] JmillsExpensify commented on #11391
Agree with adding this as a weekly for now.

[2022-11-22 07:31] thesahindia commented on #12708
I believe there should be a back button. If a user clicks at "connect bank account" in workspace (when offline) they will see the offline blocking view. Now if they wanna do something else, they will try to go back but there is no back button.

[2022-11-22 07:32] thesahindia commented on #10905
Accepted, thanks!

I believe it's $250 for me (reporting compensation)

[2022-11-22 07:44] ctkochan22 commented on #12708
So this offline blocker is introduced in `ReimbursementAccountPage.js` and its used [between steps as well](https://github.com/Expensify/App/blob/0c65dbef1e97c6b811760b97e32a566e26b2e000/src/pages/ReimbursementAccount/ReimbursementAccountPage.js#L187).

When not in a loading state, the is a back button send the user to the previous setup step. So instead of jumping back to the last page like `Navi

[2022-11-22 07:51] Beamanator commented on #10894
Good progress on all of the above ^ PRs, hoping to get them all knocked out this week (and I'm back so I'll be helping push things forward 🙏 )

[2022-11-22 07:52] thesahindia commented on #12453
I have applied as well, thanks!

@Puneet-here, this is the correct link https://www.upwork.com/jobs/~01961de86d5adc919f (you can always search the upwork posting through the issue number)

[2022-11-22 07:53] Beamanator commented on #9703
@roryabraham Are you interested in taking over this one, mainly implementing the "fallback behavior" which would be the default avatar SVGs (not URLs)? I think you mentioned you're interested in implementing that feature :D

[2022-11-22 07:54] Beamanator commented on #11425
Ok ok ok so it's related to this: https://github.com/Expensify/App/issues/9703

But we don't have a specific issue for it "yet" - I am hoping that issue will turn into the default-hard-coded-avatar-implementation :D

[2022-11-22 07:58] Beamanator commented on #10830
Coming back to [this comment](https://github.com/Expensify/App/issues/10830#issuecomment-1310442119) @parasharrajat - I see what you mean, in the OP it looks like the keyboard is disappearing when the list scrolls - If the scrolling wasn't happening because of the user manually scrolling around, that's a problem. But if the user starts typing, then scrolls - I think we're ok with the keyboard hidi

[2022-11-22 07:58] thesahindia commented on #11576
Yeah, makes sense!

[2022-11-22 07:59] roryabraham commented on #11851
I personally think we should do what @wildan-m suggested and:

- Report the issue
- Implement the workaround

My reasoning is that if it's a render bug in mobile Firefox, we can't practically solve the issue with a "first class" "non-workaround" solution. So the choices are:

- Don't fix the issue and agree that we do not Firefox
- Fix it with a workaround.

So I'd rather just fix it and make the

[2022-11-22 08:02] Beamanator commented on #11341
@Puneet-here that's fair, what do you think is reasonable compensation for this PR?

[2022-11-22 08:06] thesahindia commented on #11632
@sakluger, payment is pending.

[2022-11-22 08:08] thesahindia commented on #11433
Not overdue, PR is on staging.

[2022-11-22 08:09] Puneet-here commented on #11341
I think additional $250 will be good.

[2022-11-22 08:12] Puneet-here commented on #12453
Thanks.

@mateocole, I have applied to the job.

[2022-11-22 08:17] dylanexpensify commented on #11908
@parasharrajat @0xmiroslav please apply [here](https://www.upwork.com/jobs/~01f4b150900a44d8e0)! TY!

[2022-11-22 08:20] dylanexpensify commented on #12483
@0xmiroslav please apply today so I can get you paid! 🤑

[2022-11-22 08:22] dylanexpensify commented on #11893
offers sent! @mananjadhav @tienifr

[2022-11-22 08:27] dylanexpensify commented on #12598
@MonilBhavsar thoughts on what Puneet posted? If we're good with external, I'll move it to $1k price today

[2022-11-22 08:30] MonilBhavsar commented on #12598
I've been working on this issue only. Will post my findings shortly

[2022-11-22 08:31] dylanexpensify commented on #12045
Can we get an update here @thesahindia? Maybe @robertjchen @kavimuru @Puneet-here can try the new repro steps to confirm - regardless, doubled the issue

[2022-11-22 08:34] thesahindia commented on #12768
Thanks @eh2077, I agree this isn't a bug. I am seeing the same behaviour on https://stackedit.io/app#

[2022-11-22 08:37] Puneet-here commented on #12045
I am able to reproduce. The new steps are correct. We didn't have to remove the guide earlier because they weren't an admin.

[2022-11-22 08:39] Puneet-here commented on #12314
Accepted the offer.

[2022-11-22 08:41] thesahindia commented on #11893
@dylanexpensify, I have applied to the job for reporting compensation.

[2022-11-22 08:45] tienifr commented on #11584
## Problem
- Currently when user deletes comment, in `reportActions_${id}` just set `html=''` in field `mesage` and do not change `maxSequenceNumber`. Please check evidence below:

![image](https://user-images.githubusercontent.com/113963320/203266573-7b740a23-ecdf-4b6c-a86a-34697bf8950f.png)

- So in https://github.com/Expensify/App/blob/7b21103bb56eb0cf3fc1561715613d2a16c3255f/src/pages/home/rep

[2022-11-22 08:48] roryabraham commented on #11694
Didn't have time to do a deep-dive on this myself yet, but I did take the opportunity to do one pass on cleanup of the Composer component in [this PR](https://github.com/Expensify/App/pull/12918). It's not much, but it's an easy win and a step in the right direction.

Long-term for this specific bug I think we probably want to implement `maxLines` on iOS as well as Android in RN.

[2022-11-22 08:50] mananjadhav commented on #11893
applied @dylanexpensify

[2022-11-22 08:58] dylanexpensify commented on #12045
Great!

[2022-11-22 09:00] roryabraham commented on #12798
I think we can reasonably make this a weekly, but let's try to address this soon

[2022-11-22 09:03] roryabraham commented on #11997
I would say this is currently lower priority than bugs, but still quite valuable in the long-term because it helps give us a better objective framework to talk about performance, particularly for those of us that aren't as well-versed in the various performance testing and profiling tools there are out there for testing React/React Native/web/mobile apps.

[2022-11-22 09:08] sonialiap commented on #11694
Price doubled 🙌

[2022-11-22 09:09] s77rt commented on #12776
### Proposal
[code]

### Details
Before explaining my proposal, I will explain why it was working. It was working because we were always making a call to the API `CreateChatReport` and before that we call `OpenApp`. The navigation to the concierge chat was done in the callback of `CreateChatReport` and since API calls are sequential we were always navigation to the concierge chat after `OpenApp` i

[2022-11-22 09:10] Beamanator commented on #10960
Last PR is up! https://github.com/Expensify/App/pull/12919

[2022-11-22 09:26] s77rt commented on #12768
Should this be closed?

[2022-11-22 09:27] hellohublot commented on #9809
## Proposal Append For https://github.com/Expensify/App/issues/9809#issuecomment-1321958007

This is another solution, the screenshot is same as the previous solution https://github.com/Expensify/App/issues/9809#issuecomment-1321958007, but this PR https://github.com/Expensify/App/pull/12366 removed the `cardStyle` `position` today, I also found some problems on `mobile_safari`  in that PR, such a

[2022-11-22 09:29] roryabraham commented on #11689
Just waiting on deploy, QA, and payment

[2022-11-22 09:32] railway17 commented on #12045
@Puneet-here
Did you reproduce the issue in the local environment?
I can reproduce it in staging, but not able to do it locally.

[2022-11-22 09:33] huzaifa-99 commented on #12667
@Christinadobrzyn Accepted, also thanks for the [link](https://expensify.slack.com/archives/C01GTK53T8Q/p1669088110627649?thread_ts=1668604822.482759&cid=C01GTK53T8Q), didn't knew about it.

[2022-11-22 09:36] railway17 commented on #12045
Even though I try the same account and room, it is not working in only staging env.
https://www.loom.com/share/73d676d0d7ca415d971e351c4c51537a

Do you guess there maybe some other reasons?

[2022-11-22 09:37] s77rt commented on #12651
still accepting proposals on this?

[2022-11-22 09:37] roryabraham commented on #11823
PR is still in review, but looks like it's almost ready for merge.

[2022-11-22 09:41] flodnv opened #12920 "Console error shows on login Invalid prop ....role of value user supplied to AvatarWithIndicator, expected one of [“admin”]"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Launch the app

## Expected Result:
Not seeing this console error

## Actual Result:
Seeing the console error

## Workaround:
Doe

[2022-11-22 09:44] roryabraham commented on #9737
No update, my PR will probably be on HOLD for a minute for [this PR](https://github.com/Expensify/App/pull/12056) to be merged.

Then I can:

1. Migrate tooltips from web-only [`ReactDOM.createPortal`](https://github.com/Expensify/App/blob/334ea5782120159cb268b59deed540c6c6372033/src/components/Tooltip/TooltipRenderedOnPageBody.js#L125) to the platform-agnostic equivalent being added in https://gi

[2022-11-22 09:46] roryabraham commented on #10214
This is an important fix we need to make, but we're currently prioritizing WAQ and product bugs.

[2022-11-22 09:52] roryabraham commented on #12118
The PR was released in https://github.com/software-mansion/react-native-reanimated/releases/tag/3.0.0-rc.4, so we can do this at any time

[2022-11-22 10:07] s77rt commented on #12638
in favour of closing.

[2022-11-22 10:16] mountiny opened #12922 "Incorrect red color in the light scheme"
Coming from https://expensify.slack.com/archives/C049HHMV9SM/p1669040297102959

@Puneet-here Should be rewarded for the reporting bonus, the issue was fixed internally in this PR. https://github.com/Expensify/App/pull/12898

[2022-11-22 10:17] mananjadhav commented on #12291
@sakluger Quick note this is eligible for 50% bonus as it was merged within 3 business days.

[2022-11-22 10:17] mountiny commented on #12922
@sophiepintoraetz Would you be please able to pay out @Puneet-here a reporting bonus for this issue?

[2022-11-22 10:25] roryabraham commented on #12118
PR up and ready for review: https://github.com/Expensify/App/pull/12921

[2022-11-22 10:30] roryabraham commented on #12649
Sorry for the delay @gadhiyamanan, I thought I already assigned this to you. Anyways, PR is approved and now we'll just want @aimane-chnaif to review, then I can merge it. Thanks!

[2022-11-22 10:39] cowboycito commented on #10893
@Christinadobrzyn that's exactly what happened, and honestly I was impressed with the lack of respect on the way the issue was closed, with total disregard for the time I spent working on it. Given that #10614 and this both issues are feature requests, not bugs, I don't wanna risk wasting my time again working on something that can get closed at any second.

[2022-11-22 10:46] Gonals commented on #11314
I think that may be a good idea for now. Putting on HOLD!

[2022-11-22 10:52] Gonals commented on #12883
Let's keep it open. It should close automatically on deploy

[2022-11-22 10:53] parasharrajat commented on #11818
Bump :arrow_up:

[2022-11-22 10:53] MonilBhavsar commented on #11471
I investigated this issue today, Root cause seems like - When we create IOU report and navigate to a report (chat), we have an IOU report as a prop in `ReportScreen` component and thus `isLoadingInitialReportActions` becomes false and we render the `ReportFooter` as well as `ReportActionCompose`. In fact it is wrong, we haven't loaded initial report actions, we just have one IOU report as a report

[2022-11-22 10:54] hannojg commented on #12885
Just wondering, if the issue is now open for any contributors? Because Margelo is already working on this one 😄

[2022-11-22 10:55] Gonals commented on #12432
I believe this may be correct. At least, we seem to generate a new one with the previous one is "done"

[2022-11-22 10:57] Gonals commented on #12715
Proposal looks good to me overall! Having the `onMouseDown` prop in `TextLink` makes sense to me too 👍

[2022-11-22 10:58] thesahindia commented on #12616
Looks like it's not an issue the user shouldn't be able to visit the page like this. C/P Rajat's comment from the [thread](https://expensify.slack.com/archives/C02NK2DQWUX/p1669114217756719?thread_ts=1669075338.989349&cid=C02NK2DQWUX) -

"There are several reports like this one from [@0xmiroslav](https://github.com/0xmiroslav). They all are related to a bug in RN, I have requested to hold 3 of the

[2022-11-22 11:01] thesahindia commented on #12616
@Beamanator @mananjadhav let's hold this issue until the next steps are clear.

[2022-11-22 11:06] mollfpr commented on #12715
Thanks, @Gonals! Let’s assigned it to @Delgee.

[2022-11-22 11:10] #12783 closed

[2022-11-22 11:14] Beamanator commented on #11582
@cristipaval If you want, we could break this issue into 2 issues - one for hooking up Display Name, Pronouns, Timezone pages, and one for the rest - since half is blocked, half isn't... Let me know if you think that's better? If so, feel free to create the other issue

[2022-11-22 11:19] Julesssss commented on #12592
We disabled rotation years ago. I don't think we need to make any changes

[2022-11-22 11:21] Beamanator commented on #11577
@cristipaval assigning you too since you're helping getting this PR out the door 👍

[2022-11-22 11:21] s77rt commented on #12283
The issue seems to be a regression from https://github.com/react-native-image-picker/react-native-image-picker/pull/2006
I have asked if this can be reverted, then it should be sorted out, except that the returned file will seem to be double but that's just due to the conversion from heic to jpeg I suppose. We may also want to keep the quality at `0.95`

[2022-11-22 11:21] Julesssss commented on #11930
Hey @isabelastisser, I've not created a job in UpWork as usually, the CM team does this.

[2022-11-22 11:24] dhairyasenjaliya commented on #12118
hm also here  https://github.com/Expensify/App/issues/12152 we are updating Reanimated + Remove patch to fix the error `Console error: Warning: RCTBridge required dispatch_sync to load REAModule. This may lead to deadlocks`
PR awaiting review: https://github.com/Expensify/App/pull/12817
@roryabraham

[2022-11-22 11:25] s77rt commented on #11930
@isabelastisser @Julesssss
https://github.com/Expensify/App/issues/11930#issuecomment-1284460120

[2022-11-22 11:30] iwiznia commented on #12120
Context https://expensify.slack.com/archives/C01GTK53T8Q/p1669040394837259

So I think we should close this.

[2022-11-22 11:43] dylanexpensify commented on #4733
@azimgd can we get an update today please?

[2022-11-22 11:44] dylanexpensify commented on #8236
@Julesssss just confirming you're leading the fix for this?

[2022-11-22 11:46] dylanexpensify commented on #8592
@parasharrajat any updates here?

[2022-11-22 11:47] dylanexpensify commented on #9250
@Julesssss given this issue is one of our oldest, and based on [this convo](https://expensify.slack.com/archives/C01SKUP7QR0/p1669075981370149?thread_ts=1669034215.991529&cid=C01SKUP7QR0), let's move this internally.

[2022-11-22 11:50] parasharrajat commented on #4733
This is still being discussed. I hope to get an update soon and then we can move forward.

[2022-11-22 11:50] dylanexpensify commented on #9809
Amazing, just as a friendly reminder, we expect all reviews to be completed and done within 48 hours!

[2022-11-22 11:51] parasharrajat commented on #8592
Waiting on https://github.com/Expensify/App/issues/8592#issuecomment-1322553692 and the internal discussion to decide the next steps.

[2022-11-22 11:51] dylanexpensify commented on #9848
@luacmartins can you comment on [this request](https://github.com/Expensify/App/issues/9848#issuecomment-1319232002)?

[2022-11-22 11:53] azimgd commented on #4733
If you guys are asking for:

I can't think of any "major" challenge after having implemented largest piece for this task.

[2022-11-22 11:54] mountiny commented on #12283
I dont think reverting that fix is great, that was introduced to fix another issue. Doubling the size is not what we want and I believe it doubles the size also for images which are jpeg in the gallery

[2022-11-22 11:55] dylanexpensify commented on #9973
Coming from [this](https://expensify.slack.com/archives/C01SKUP7QR0/p1669075981370149?thread_ts=1669034215.991529&cid=C01SKUP7QR0) comment, and no current proposal out, let's move this one internally

[2022-11-22 11:56] Julesssss commented on #8236
Unfortunately, we seem to be stuck in this discussion. There is no perfect solution and we need to decide between [these options](https://expensify.slack.com/archives/C01GTK53T8Q/p1669112913613109?thread_ts=1668650900.944219&cid=C01GTK53T8Q) before I can finish up the PR and submit.

[2022-11-22 11:56] sketchydroide commented on #12822
bumping @greg-schroeder

[2022-11-22 11:57] Beamanator commented on #10792
PR is coming along nicely, had lots of great reviews from @mananjadhav - looks like we should have this merged in a day or two tops 👍

[2022-11-22 11:58] dylanexpensify commented on #10262
@parasharrajat can we get an update

[2022-11-22 11:58] Julesssss commented on #11101
[On hold ](https://github.com/Expensify/App/pull/12033#issuecomment-1317079741)until a simple notification can be used to replace the DownloadManager notification

[2022-11-22 12:00] dylanexpensify commented on #11283
@parasharrajat just a friendly reminder all reviews should be completed within 48 hours of submission!

[2022-11-22 12:02] azimgd commented on #4733
Implementing this functionality on the JS side only (including current implementation of splitting text into chunks) is a "workaround" and not a real solution to the problem.

Since the `Text` has a nested layout support defined here: https://github.com/facebook/react-native/blob/main/Libraries/Text/TextNativeComponent.js#L71-L81 and the word breaking strategy, I feel like there are quite few case

[2022-11-22 12:03] Julesssss commented on #10091
Hey @joekaufmanexpensify I was OOO after a weekend hiring event. Yep, exactly. This wasn't a regression, we just never cared to remove this native feature until now.

[2022-11-22 12:04] dylanexpensify commented on #11893
@mananjadhav payment sent including bonus.

@tienifr waiting you to accept offer

[2022-11-22 12:05] s77rt commented on #12676
What is the status on this?
Is the concierge report id supposed to be global? from my end it is 6618435619127286 and the navigation seems to work

[2022-11-22 12:12] dylanexpensify commented on #8236
Should we make this one internal then @Julesssss?

[2022-11-22 12:13] iwiznia commented on #11697
Still, let's document in which real device this issue is seen.

[2022-11-22 12:13] dylanexpensify commented on #11908
Offers sent! @parasharrajat @0xmiroslav

[2022-11-22 12:16] iwiznia commented on #12775
It's a tracking issue, why does it bother you that exists? We don't have to work on it now...

[2022-11-22 12:17] dylanexpensify commented on #12314
all have been paid out, contracts ended

[2022-11-22 12:18] ahmdshrif commented on #9250
I posted proposals from more than  4 months and have not get reviewed until now!!!
 https://github.com/Expensify/App/issues/9250#issuecomment-1174469689

[2022-11-22 12:21] dylanexpensify commented on #12483
payment sent, contract closed @mananjadhav

@0xmiroslav offer sent!

[2022-11-22 12:22] mountiny commented on #12432
@amyevans That is correct, there should be always one active IOU report connected to the chat report and I assume cancelling everything on the report so there is nothing outstanding can have same effect as settling the report.

We are not returning the IOU report ids with total 0 on purpose. cc @Julesssss

Not sure if I followed exactly the entire thread here, but seems like we need to ensure to c

[2022-11-22 12:23] Puneet-here commented on #12314
@dylanexpensify, I think the 50% bonus applies here as it was merged within 2 days

[2022-11-22 12:26] iwiznia commented on #12592
I am confused, then how did @kbecciv reproduced this if rotation is disabled?

[2022-11-22 12:26] dylanexpensify commented on #9250
@ahmdshrif sorry about that, it does indeed look like we've been waiting on your proposal to be reviewed! @aimane-chnaif can we get @ahmdshrif proposal reviewed and if acceptable as-is, we will move forward with hiring, etc cc @Julesssss

[2022-11-22 12:28] dylanexpensify commented on #12314
ah, good catch @Puneet-here - I've sent each individual the 50% bonus now

[2022-11-22 12:29] hungvu193 commented on #12920
<b>Proposal</b>
Since we have new role "user" in `policies` object inside `AvatarWithIndicator.js` this warning happened.
<img width="559" alt="Screen Shot 2022-11-22 at 19 27 28" src="https://user-images.githubusercontent.com/16502320/203313753-739a2325-07fa-498c-b7f2-105cea170191.png">
<b>Solution</b>
To avoid this warning, we can update the `AvatarWithIndicator` PropTypes by adding new role "us

[2022-11-22 12:29] dylanexpensify commented on #9250
thanks @aimane-chnaif! Very appreciated!

[2022-11-22 12:39] muttmuure commented on #11735
@chiragsalian is this complete?

[2022-11-22 12:42] flodnv commented on #12920
Thanks @hungvu193 but this GH does not have the 'Help wanted' label. It was my plan to do this, but another reason I also took it is because we also need another role in there (or else we'll be fixing the same "bug" in a few months).

[2022-11-22 12:48] Puneet-here commented on #12045
Did you reproduce the issue in the local environment?

I just tried and I wasn't able to repro this locally. Maybe some PR fixed this.

[2022-11-22 12:49] muttmuure commented on #11801
Everyone paid. Closing out

[2022-11-22 12:49] #11801 closed

[2022-11-22 12:52] muttmuure commented on #11951
@marcaaron if this is no longer reproducible ([see here](https://github.com/Expensify/App/issues/11951#issuecomment-1316194409)) do we close it out?

[2022-11-22 13:02] muttmuure commented on #12574
@Tushu17 the first report is here from Carlos - https://expensify.slack.com/archives/C01GTK53T8Q/p1667839756928309 - so this doesn't seem eligible for the reporting bonus this time.

I'm going to close out.

Let me know if you disagree!

[2022-11-22 13:04] parasharrajat commented on #4733
I am looking at the graphic rendering technique that you have used in your proposal. It looks very promising.

[2022-11-22 13:20] mollfpr commented on #12521
I feel this [proposal](https://github.com/Expensify/App/issues/12521#issuecomment-1319343035) is over-engineered and too risky causing a regression. I'll deep dive into the root cause while waiting for others' proposals. Thanks!

cc @srikarparsi

[2022-11-22 13:21] thesahindia commented on #12141
Unassigned myself as it's an internal issue.

[2022-11-22 13:22] thesahindia commented on #12768
@jasperhuangg @tjferriss, let's close this.

[2022-11-22 13:22] mollfpr commented on #12854
Need more time to review [this](https://github.com/Expensify/App/issues/12854#issuecomment-1322279182)...

[2022-11-22 13:28] muttmuure commented on #12706
On it, sorry!

[2022-11-22 13:31] bernhardoj commented on #11283
### **Proposal**

[code]

We can add an `onPressOut` props to the Pressable and call `blur()` to reset the Pressable focus state. If we don't call `blur()`, the Pressable won't trigger `onFocus` callback anymore unless we click outside of the checkbox first, which will trigger `onBlur`.

**Result**

https://user-images.githubusercontent.com/50919443/203326299-cb9f14ca-ca03-40a8-834f-f0f4bd1611db.m

[2022-11-22 13:36] isabelastisser commented on #12881
<img width="515" alt="2022-11-22_08-36-20" src="https://user-images.githubusercontent.com/31258516/203327609-26d0d9b7-18f4-4186-a731-1167d535fee9.png">

<img width="601" alt="2022-11-22_08-36-32" src="https://user-images.githubusercontent.com/31258516/203327630-df90c5c7-09b8-4710-b56a-8c02d605a4d4.png">

[2022-11-22 13:37] isabelastisser commented on #12881
All set!

[2022-11-22 13:40] CortneyOfstad commented on #11487
Asking for clarification [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1669124393385879)

[2022-11-22 13:40] MonilBhavsar commented on #10263
Discussing internally. Will update shortly

[2022-11-22 13:45] mountiny commented on #11321
The PR has been merged 🎉  lets wait to see how this will perform in staging

[2022-11-22 13:55] Tushu17 commented on #12574
Hi, @muttmuure  that wasn't a bug you can see the convo [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667840173309119?thread_ts=1667839756.928309&cid=C01GTK53T8Q),  it was marked as "not a bug" because it was just a dev build problem.

[2022-11-22 13:58] muttmuure commented on #12706
I can reproduce - I'm not sure why this is a problem but I follow the logic of the posters above

[2022-11-22 13:59] dylanexpensify commented on #12045
This issue is over 4 weeks old without a valid proposal approved. @dangrous @robertjchen  this is now assigned to you to complete. Please treat this with priority to help clear out the extensive backlog of /App bugs for WAQ. Any questions? Raise them in [#bug-zero](https://expensify.slack.com/archives/C01SKUP7QR0). Thanks!

[2022-11-22 14:01] railway17 commented on #12045
Oh.. @dylanexpensify
I've just started to work on this issue by reproducing in desktop version.
So, don't need external proposal anymore?

[2022-11-22 14:03] hannojg commented on #12885
First PR is up: https://github.com/Expensify/App/pull/12926

The next one will be replacing the current implementation with reanimated. Also I noticed that the animation sometimes isn't even showing (on main) as the app is so super busy, that it can't schedule the animation on the JS thread.

[2022-11-22 14:08] muttmuure commented on #12594
I can't reproduce:

https://user-images.githubusercontent.com/46995600/203333551-6861f705-0d96-4357-81fd-0bebab55eb19.mp4

[2022-11-22 14:11] azimgd commented on #10263
here is the draft PR for the reference: https://github.com/Expensify/react-native/pull/34/files

[2022-11-22 14:13] muttmuure commented on #12852
![image](https://user-images.githubusercontent.com/46995600/203335817-25980a73-53b1-4b55-900f-5d08ce86e9a3.png)

Reproducible

[2022-11-22 14:14] kavimuru commented on #12198
@Santhosh-Sellavel checking with the tester and will update here shortly.

[2022-11-22 14:16] Santhosh-Sellavel commented on #10893
@cowboycito close to completing the solution there, I've started a discussion with hax for the discussing next steps consider reopening if possible but hax is OOO. So initiated a thread [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1669126480589029)

[2022-11-22 14:17] sketchydroide commented on #11520
![Screenshot 2022-11-22 at 14 17 24](https://user-images.githubusercontent.com/242568/203336896-c8f1824a-40e4-43d7-9da1-c8af934599ed.png)
confirmed, closing

[2022-11-22 14:17] #11520 closed

[2022-11-22 14:24] Julesssss commented on #12622
I'm okay with closing this, but it is still occurring.

The problem is that the steps aren't 100% reproducible. After opening the search page, and switching between chats I often see this bug. I reproduced it just a minute ago, but of course as soon as I started recording it didn't occur 🙄

Let's close on the understanding that we don't yet have fully reproducible steps. Something is missing from

[2022-11-22 14:25] nkuoch commented on #12895
We should show the error message "Could not find any bank accounts that you haven't already added.". So yes, let's fix the jsonCode

[2022-11-22 14:27] kavimuru commented on #12597
@zanyrenney Sorry for the late reply. This is failure of the PR #12169

Step 5 is failing in this part

[2022-11-22 14:33] dhairyasenjaliya commented on #11520
hello @sketchydroide @JmillsExpensify Upwork job for reporting the issue is missing

[2022-11-22 14:44] Beamanator commented on #11085
Still a useful feature, @trjExpensify I feel like this can be taken off hold, I don't think we need to worry about caching _before_ implementing this - before we were thinking we'd cache based off image name, but now we're just caching off of the image URL

[2022-11-22 14:45] chrispader commented on #12850
I will have a look at this!

[2022-11-22 14:47] Pujan92 commented on #12854
**Proposal**

Find the last index of the unmatched character in comment and newComment string, that index should be the selectionIndex/cursor index.

https://github.com/Expensify/App/blob/532787af6185b463ae040ae3429fa54cb00d21c0/src/pages/home/report/ReportActionCompose.js#L391-L397

[code]
New Function
[code]

Working Example
[43a2604c-8abf-4441-ac7d-c36cfbd13d22.webm](https://user-images.githubu

[2022-11-22 14:48] smrutiparida commented on #12492
I will have the PR soon. Currently I am testing it locally.

[2022-11-22 14:55] Julesssss commented on #12210
Ah, the automated message didn't appear but we are still 2 days away from payment. Then we can close the issue.

[2022-11-22 14:55] jayeshmangwani commented on #11695
I am waiting for the @marcochavezf's green signal for my proposal
cc: @eVoloshchak @trjExpensify

[2022-11-22 14:55] kavimuru opened #12928 "Dev - Payment page is flickering"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Have unreliable internet connection
2. Go to Payment page

## Expected Result:
No flickering

## Actual Result:
Payment page

[2022-11-22 14:55] Julesssss commented on #11930
Ah thanks. @isabelastisser do you have access to that UpWork job?

[2022-11-22 15:05] kavimuru opened #12930 "[HOLD for payment 2022-12-15] DEV - building desktop staging locally on a M1 mac crashes App at launch"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Build desktop staging locally

## Expected Result:
App should not crash

## Actual Result:
App crashed

## Workaround:
unknown

[2022-11-22 15:09] flaviadefaria commented on #12018
Waiting for PR to be merged.

[2022-11-22 15:13] Beamanator commented on #12676
@marcaaron I think it's a great idea to figure out if / why we want to redirect users to Concierge in this scenario, OR we just open up a quick generic discussion like:

"If a user tries navigating to a report they don't have access to, what should we do?
1. Navigate them to Concierge
2. Navigate them to "Home" (or their last viewed report)
3. Show them the "Hmm... it's not here" error page"

Then

[2022-11-22 15:14] Beamanator commented on #12676
@s77rt Sorry for the confusion here - first, there's no _global_ Concierge report ID. Second, we're actually still figuring out what should be done in this case (as this probably isn't technically a "bug") so I removed `Help Wanted` and put this on hold in the meantime

[2022-11-22 15:17] Beamanator commented on #11341
That's fair to me! cc @laurenreidexpensify so you see this 👍

[2022-11-22 15:25] s77rt commented on #12521
The issue is related to the modals.
You will experience the same thing with any other modal e.g. [bootstrap modal](https://getbootstrap.com/docs/4.0/components/modal/#live-demo)

Currently I only see that this can be fixed by not using modals in the first place as we can't force browsers behaviours.

The change may seem too much but that's only due to the existing code that does the coupling of tw

[2022-11-22 15:29] bondydaa commented on #12638
Got some feedback from @aldo-expensify and we both agree we can close this. We can change this later on if we want but for now this is the expected result.

@kbecciv can you make sure any test cases for this flow have something that states this is expected? maybe like "ensure after closing RBR you are directed to the concierge chat",

[2022-11-22 15:29] #12638 closed

[2022-11-22 15:40] mananjadhav commented on #12574
@muttmuure this is eligible for C+ review of internal PR. Can you please help with the same ?

cc - @marcaaron

[2022-11-22 15:43] fedirjh commented on #11844
@parasharrajat any update ?

[2022-11-22 15:54] mountiny commented on #12865
QA was not able to repoduce now, so removing a deploy blocker https://expensify.slack.com/archives/C9YU7BX5M/p1669085509564939?thread_ts=1669071979.204319&cid=C9YU7BX5M

But gonna leave this open to make sure this does not come back or maybe investigate what was the root cause

[2022-11-22 15:55] isabelastisser commented on #12233
Internal job posting: https://www.upwork.com/ab/applicants/1595083283153248256/job-details

External job posting: https://www.upwork.com/jobs/~017e99e729590faba2

[2022-11-22 15:56] mountiny commented on #12865
@kbecciv Would you be bale to try again and reproduce it, we got some inconsistent results here so that would be great!

[2022-11-22 15:57] mountiny commented on #12812
Checking https://github.com/Expensify/App/issues/12865 off as it seems to not be reproducible anymore

[2022-11-22 15:59] AndrewGable commented on #12812
:shipit:

[2022-11-22 15:59] #12812 closed

[2022-11-22 16:03] OSBotify opened #12934 "Deploy Checklist: New Expensify 2022-11-22"
**Release Version:** `1.2.30-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/11465
- [x] https://github.com/Expensify/App/pull/12129
- [x] https://github.com/Expensify/App/pull/12366
- [x] https://github.com/Expensify/App/pull/12369
- [x] https://gi

[2022-11-22 16:08] shawnborton commented on #12910
Also @grgia just wanted to make you aware of this issue in case it's related at all: https://github.com/Expensify/App/issues/11283

[2022-11-22 16:13] parasharrajat commented on #11844
Didn't get the time to complete it yesterday. But going through the docs and etc... You will have it in a few minutes.

[2022-11-22 16:14] #12885 closed

[2022-11-22 16:23] parasharrajat commented on #11844
Ok, I checked. It seems pretty straightforward as the proposal https://github.com/Expensify/App/issues/11844#issuecomment-1282429283.

But we earlier decided to solve this on RN.

That's why we are happy to compensate to fix an issue for the community.

Anyways, let me open a new discussion and see if we want to go with either of the solutions.

[2022-11-22 16:26] #12852 closed

[2022-11-22 16:29] flodnv commented on #12852
No no, to be clear, this is NOT a bug.

[2022-11-22 16:30] luacmartins commented on #12244
@sakluger are we good to close this issue?

[2022-11-22 16:37] amyevans commented on #12432
Ok thanks @Gonals and @mountiny ❤️

The optimistic IOU report does get created on the FE. In Web-E we then call `Auth::createIOUTransaction()` with the new `iouReportID`, but Auth returns the original IOU report ID:

![response-from-auth](https://user-images.githubusercontent.com/7277067/203370265-1f57ce5b-e9f9-4288-a050-91a067c87a27.png)

Trying to dig into Auth at the moment to understand why th

[2022-11-22 16:37] OSBotify commented on #12934
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.30-0 :rocket:

[2022-11-22 16:39] shawnborton commented on #12713
So we're actually going to be replacing this icon with a new one for our new branding, so I would suggest we pay @Dima-Kevanishvili for the work done so far but just close this out entirely given that https://github.com/Expensify/App/pull/12796#issuecomment-1323933679 will be merged in the next day or so (cc @grgia )

Let me know what you think @maddylewis @yuwenmemon

[2022-11-22 16:49] joelbettner commented on #12715
I'm going to jump on this for urgency of our bug squashing campaign.

[2022-11-22 16:50] sonialiap commented on #12891
I can't reproduce, the font looks correct on staging and in production

<img width="1512" alt="image" src="https://user-images.githubusercontent.com/17131195/203373320-a498b4b3-b798-4e51-bd47-86da04ebc029.png">

<img width="1512" alt="image" src="https://user-images.githubusercontent.com/17131195/203371329-cc0bae26-f075-4186-9eb6-540456c64aa8.png">

[2022-11-22 16:51] pecanoro commented on #9505
@rushatgabhane Do you want to report that issue in Slack? Maybe it's worth solving it and opening another bug for it. I think this issue should just handle emojis 😄

[2022-11-22 16:51] jasperhuangg commented on #12792
I can help out with this one! I have experience working on these types of bugs

[2022-11-22 16:53] mountiny commented on #12792
@jasperhuangg check out the linked issue, I think the fix might be tightly connected. Noting just ot make sure the efforts are not duplicated.

[2022-11-22 16:54] pecanoro commented on #9505
I am actually not totally sure if this a feature request, it feels kind of broken that we can only paste one emoji or one image at a time.

[2022-11-22 16:55] sonialiap commented on #12891
Can't reproduce, font looks correct on staging in Firefox:

<img width="1274" alt="image" src="https://user-images.githubusercontent.com/17131195/203374173-e0670e41-c814-4a5b-9be7-7851e1af4047.png">

Steps taken:
1. Download Firefox
2. https://staging.new.expensify.com
3. Login
4. Go to Settings > Profile > Pronouns

[2022-11-22 16:55] pecanoro commented on #9505
@srikarparsi I am taking over if you don't mind since I got too involved now hahaha

[2022-11-22 16:55] sonialiap commented on #12891
@kavimuru are you still seeing the incorrect font?

[2022-11-22 16:56] maddylewis commented on #12792
and then i'll let @jasperhuangg confirm that https://github.com/Expensify/App/issues/12781#top is a dupe and Jasper will work on a fix over there before closing the issue.

[2022-11-22 16:58] mountiny commented on #12432
Uh ok, maybe we should make sure we are all laigned on what should happen with these IOU reports this were not settled but cancelled to total of 0. Maybe we wnat ot reuse it and in that case we have to send them back to the frontend.

Would you be able to start a thread in Slack, I think @Julesssss and maybe Carlos Sr can help with this the best.

[2022-11-22 17:01] kavimuru commented on #12198
@Santhosh-Sellavel Tester is still able to reproduce.

https://user-images.githubusercontent.com/43996225/203375900-df1e78d6-cad6-454d-8d5e-bc8dfe5ce6d5.MP4

[2022-11-22 17:05] jayeshmangwani commented on #11695
PR is up,

added scrollable for, the payments page and connect bank account page.

cc: @eVoloshchak @marcochavezf

[2022-11-22 17:09] muttmuure commented on #12852
Sorry, yes - not a bug, not worthwhile

[2022-11-22 17:18] Julesssss commented on #11768
I have read and reviewed this Design Doc!

[2022-11-22 17:19] grgia commented on #4817
holding on this while I finish up WAQ Branding

[2022-11-22 17:21] bfitzexpensify commented on #12892
I also reproduced this. I agree the user isn't blocked from using the app — clicking elsewhere is very likely the next action a user would take. So I think this can be closed. Opened a discussion in Slack [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1669137681128919)

[2022-11-22 17:26] mvtglobally commented on #12934
@AndrewGable Did IOS build go through? we still dont see it updated

[2022-11-22 17:29] mollfpr commented on #12715
@Delgee Yes, please.

[2022-11-22 17:31] iwiznia commented on #11768
I have read and reviewed this Design Doc!

[2022-11-22 17:41] Julesssss commented on #8236
Not yet because depending on the outcome of that thread we may go with one of the earlier proposals.

[2022-11-22 17:42] tgolen commented on #12156
Ah, that looks cool. Thanks for working on that! I like the direction of that proposal. There are a few things I think we can clean up in the PR (move opacity to the style/variables.js file, move the `document` methods to a web-only platform file, see if getThemeColor could be simplified at all, etc.) but that's on the right track that I was expecting.

@eVoloshchak Do you want to take a look at t

[2022-11-22 17:44] tgolen commented on #11585
@JmillsExpensify Thanks! I've done my checklist items. This wasn't technically a "bug", it was just a code cleanup task, so some of those items don't apply.

[2022-11-22 17:48] maddylewis commented on #12713
that sounds good to me - the contributor has already been paid here - https://github.com/Expensify/App/issues/12713#issuecomment-1320463568

I'll let @youssef-lr chime in before closing (@yuwenmemon is OOO for the next little while i believe).

[2022-11-22 17:49] Julesssss commented on #12592
Ah, this is how. We lock rotation for small devices and unlock it for tablets:

![Screenshot 2022-11-22 at 17 48 52](https://user-images.githubusercontent.com/10736861/203385567-8c3669ec-86ac-4e91-87e8-bf849c952b37.png)

[2022-11-22 17:50] luacmartins commented on #11093
Coming back from ooo today, I actually think that @eh2077 solution is good here. @parasharrajat I think the bug with the spellcheck highlight exists whether we fix this issue with the keyboard hiding or not, is that correct?

[2022-11-22 17:50] Julesssss commented on #12592
So I take that back, we unlocked rotation for tablets at some point.

[2022-11-22 17:55] parasharrajat commented on #11093
I believe that we can prevent the focus from being lost from the composer which will fix this issue. But it has a spellcheck highlight issue which is trying to fix at https://github.com/Expensify/App/issues/8592. So IMO, we should wait for a few days until, we decide the next steps on https://github.com/Expensify/App/issues/8592.

[2022-11-22 18:12] tgolen commented on #11094
OK, thank you.

I'm still not quite understanding the Android piece. I recently worked on input blur/focus and keyboard show/dismiss on the login form (in [this PR](https://github.com/Expensify/App/pull/12848)) and I found that the text input did lose focus when the keyboard was dismissed. Is this only related to specific Android devices (and if so, are they the ones we want to try and support)?

[2022-11-22 18:25] Dima-Kevanishvili commented on #12713
Hi @maddylewis , I've actually never received any notifications about that. Is it possible to double check? Or would it be better to write you on upwork about the payment?

[2022-11-22 18:27] mvtglobally commented on #12934
@AndrewGable got it now. Thanks!

[2022-11-22 18:27] francoisl commented on #12804
Yes I think you're correct, it's eligible for the bonus!

[2022-11-22 18:34] zanyrenney commented on #12911
Hey @marcochavezf I'll test this tomorrow and see if i can reproduce 👍🏼

[2022-11-22 18:35] zanyrenney commented on #12597
No worriesm, thanks for letting me know! I'll try to reproduce tomorrow.

[2022-11-22 18:37] parasharrajat commented on #10262
@mdneyazahmad Good Idea https://github.com/Expensify/App/issues/10262#issuecomment-1311728174. But it requires a bigger discussion and a lot of changes to the front end and back end. Did you get a chance to raise this on slack as a P/S statement?

I will keep this off-topic unless there is some discussion about it.

[2022-11-22 18:38] youssef-lr commented on #12713
@shawnborton @maddylewis Considering we're implementing new icons I'm good with closing this as well!

[2022-11-22 18:39] luacmartins commented on #9848
Coming back from ooo today, I posted an update [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1669142263294969) asking for more opinions on my decision. I'll come back to this issue this afternoon.

[2022-11-22 18:42] kavimuru opened #12938 "[$1000] Text composer's height changes when entering a character in the newline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open the app
2. Go to any Chat
3. Add text on 1st line > hit Enter > Add 1 character on 2nd line

## Expected Result:
Compose

[2022-11-22 18:42] parasharrajat commented on #4733
Bumped the slack thread.

[2022-11-22 18:44] joekaufmanexpensify commented on #11850
PR still WIP.

[2022-11-22 18:48] joekaufmanexpensify commented on #10091
Sounds good! In that case, no need to begin a discussion in #contributor-plus as it was expected that this was occurring. I checked off all the PR related items in the checklist. Same with payments as we fixed this internally.

[2022-11-22 18:49] joekaufmanexpensify commented on #10091
We reached agreement on the new regression test in the above Slack thread. Opening a new issue for applause now, and then we should be all set to close this out as the PR that removed autofill was deployed to production today.

[2022-11-22 18:53] neil-marcellini commented on #9581
I just merged the PR.

[2022-11-22 18:54] chiragsalian commented on #8661
Yeah closing it sounds best. Feel free to reopen if it reoccurs.

[2022-11-22 18:54] CamilaRivera commented on #11283
### **Proposal**
[code]

We cancel the focus by using `e.preventDefault()`. Got the idea from here: https://stackoverflow.com/a/48359043

**Result**

https://user-images.githubusercontent.com/47149004/203397663-defba946-0846-4443-940f-e99fbdb787d1.mov

[2022-11-22 18:56] joekaufmanexpensify commented on #10091
Regression test is [here](https://github.com/Expensify/Expensify/issues/244522)

[2022-11-22 18:57] tjferriss commented on #12340
@rushatgabhane @syedsaroshfarrukhdot sorry for the delay. Can you please accept the offer in Upworks and comment here when you do? Then I'll process the payment.

[2022-11-22 18:58] joekaufmanexpensify commented on #10091
Closing as PR that changed this is on production, and all other relevant steps of bug zero checklist have been completed!

[2022-11-22 18:59] joelbettner commented on #12715
I will not work on it, then.

[2022-11-22 19:06] kavimuru opened #12939 "[Hold for payment 2022-12-06] [$1000] Error for Duplicate Room name is not translated to spanish"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Change Room Name to existing name
2. Observe the error message

## Expected Result:
Error Message should be displayed in Espa

[2022-11-22 19:09] Puneet-here commented on #12939
Pasting my solution from the slack thread
We just need to add this validation at [ReportSettingsPage.js](https://github.com/Expensify/App/blob/99eb60a9e3a2460127d2d796915abe548740bfc4/src/pages/ReportSettingsPage.js#L97)
[code]
And the code below at [withOnyx](https://github.com/Expensify/App/blob/99eb60a9e3a2460127d2d796915abe548740bfc4/src/pages/ReportSettingsPage.js#L252)
[code]
It is already a

[2022-11-22 19:09] varshamb commented on #12939
I was about to propose similar solution which is proposed on slack after I reported the bug.  

https://expensify.slack.com/archives/C049HHMV9SM/p1669138878378109

[2022-11-22 19:10] iwiznia commented on #12939
Taking over from @Luke9389 since I already discussed this in slack. @parasharrajat can you double check the [proposal](https://github.com/Expensify/App/issues/12939#issuecomment-1324127281) from @Puneet-here ?

[2022-11-22 19:11] varshamb commented on #12939
@parasharrajat @iwiznia

I was about to propose similar solution which is proposed on slack after I had reported the bug.  

https://expensify.slack.com/archives/C049HHMV9SM/p1669138878378109

[2022-11-22 19:12] parasharrajat commented on #12939
Checking...

[2022-11-22 19:15] tjferriss commented on #9408
Thanks for catching that, my mistake. Ok I've paid everyone out and closed the job in Upworks so I think we can close this out.

[2022-11-22 19:15] #9408 closed

[2022-11-22 19:19] thesahindia commented on #9408
@tjferriss, I just accepted the offer (missed earlier)

Same case

[2022-11-22 19:24] luacmartins commented on #11126
This has been on prod for 13 days now and it's no longer [reproducible](https://github.com/Expensify/App/issues/11126#issuecomment-1316189175). Closing the issue.

[2022-11-22 19:24] #11126 closed

[2022-11-22 19:32] eVoloshchak commented on #11354
Got an [answer](https://expensify.slack.com/archives/C01GTK53T8Q/p1669058634323699?thread_ts=1669054027.301429&cid=C01GTK53T8Q):

[2022-11-22 19:35] #12768 closed

[2022-11-22 19:36] eVoloshchak commented on #11584
@tienifr, nice job investigating this one!
I have a couple of questions
1. Can we actually change `maxSequenceNumber` to the correct one? Will this break something else?
2. Does this mean this bug shouldn't exist in chats that don't have deleted messages?

[2022-11-22 19:37] eVoloshchak commented on #11735
@muttmuure, this was deployed to staging a couple of hours ago

[2022-11-22 19:44] Luke9389 commented on #11083
Noted, thank you. There were a ton of issues yesterday, so I need some more time on this one.

[2022-11-22 19:46] Luke9389 commented on #4733
OK we had a great discussion about this issue [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1668815681935019).

As a result, we're going to go with @azimgd's proposal.

[2022-11-22 19:49] Someone-here commented on #12018
Made the PR: https://github.com/Expensify/App/pull/12941
Please review

[2022-11-22 19:49] parasharrajat commented on #4733
Thanks, @Luke9389.

I am also happy to go with the @azimgd proposal. It looks promising. There are many parts that are not present in the proposal but I hope that will be taken care of in the PR.

@azimgd Please add more details to your proposal on what we discussed.

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-11-22 19:49] jasperhuangg commented on #12792
I'm still trying to track down where each of the amounts are originating from. But I suspect this issue has something to do with some faulty optimistic data somewhere.

[2022-11-22 19:49] eVoloshchak commented on #12156
Proposal looks good to me, i didn't know this was possible, nice!

A couple of things
1. I'm not sure this is needed for Android, i couldn't find models where status bar color could be changed. But there might be, so I'm not sure if we need to apply this only for Safari
2. Would it be possible to have a more generalized approach? I suppose there are other cases where this bug might appear, opening

[2022-11-22 20:00] jasperhuangg commented on #12792
One thing I am noticing is that the API command we call `RequestMoney` calls a function in PHP that doesn't seem to return a valid Onyx update, more discussion in [this thread](https://expensify.slack.com/archives/C03TQ48KC/p1669147036740159?thread_ts=1669138395.631579&cid=C03TQ48KC)

[2022-11-22 20:09] MitchExpensify commented on #4733
[New Upwork Job with updated price](https://www.upwork.com/jobs/~01fe7d383d48c8594b)

[2022-11-22 20:11] cristipaval commented on #12578
I investigated yesterday and today and seems that we are affected by [this](https://github.com/facebook/react-native/issues/30503#issuecomment-894825272) react issue.
Here's why the cursor moves around wildly: `onSelectionChange` callback is fired twice: firstly with the position inside the emoji (between the high and low surrogates) and secondly the callback is fired with the position right befor

[2022-11-22 20:15] NicMendonca commented on #11609
@tgolen is there a PR that would have introduced _this_ GH?

[2022-11-22 20:24] sophiepintoraetz commented on #12651
@s77rt - we are accepting proposals!

[2022-11-22 20:27] AndrewGable commented on #11048
Good question @arielgreen - I have been trying to understand the bug a bit more before writing code. One difference I've seen is that on iOS we always show the keyboard, sometimes on Android we are not... Not sure if that's exactly the "bug" but it's one difference I noticed.

[2022-11-22 20:27] cristipaval commented on #12850
Looking forward to your proposal, @chrispader!

[2022-11-22 20:31] azimgd commented on #4733
Thank you Mitch. It’s late here so I will update my proposal per our Slack discussion, accept job posting and start tomorrow Morning.

[2022-11-22 20:33] kbecciv commented on #8245
QA team was able to reproduced the issue on build 1.2.30.0 on mweb/safari

https://user-images.githubusercontent.com/93399543/203415520-89658220-8cf7-4b37-844c-3d120fd73747.mp4

[2022-11-22 20:35] alex-mechler commented on #12289
@puneetlath the solution was largely what @s77rt had proposed. Can you make sure they get paid out for this? Without their proposal this would have taken much longer

[2022-11-22 20:36] luacmartins commented on #9848
Coming from that Slack thread. We will close this issue since:

1. It seems like there's no crash and it doesn't affect users
2. The error comes from hermes, but we no longer use it as an npm dependency, hence we can't fix the error. Hermes must be loaded as a peer dependency.
3. The console error only shows up for older versions of android 6-12

@dylanexpensify let's pay @furkanuzundev for the in

[2022-11-22 20:36] puneetlath commented on #12188
I agree with the harder, but cleaner way. But I also think we should probably punt this until after WAQ is done. cc @JmillsExpensify

[2022-11-22 20:37] puneetlath commented on #12188
I agree with the harder, but cleaner way. But I also think we should probably punt this until after WAQ is done. cc @JmillsExpensify

[2022-11-22 20:39] parasharrajat commented on #10414
Bump @kevinksullivan  https://github.com/Expensify/App/issues/10414#issuecomment-1322612339

[2022-11-22 20:39] aldo-expensify commented on #12894
There may be some other things to change (including API), I posted a proposed solution in [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1669149309886219) to get some feedback

[2022-11-22 20:41] kavimuru opened #12942 "Clicking on 'fix the errors' button first input border is cut off at the top"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with Expensifail account
3. Go to Settings => Payments => Add a debit ca

[2022-11-22 20:42] mvtglobally commented on #10550
Issue not reproducible during KI retests. (Third week)

[2022-11-22 20:42] deetergp commented on #12271
@Christinadobrzyn I agree, this can definitely be external.

[2022-11-22 20:42] isabelastisser commented on #11354
Per the comment above, I'm closing this issue.

[2022-11-22 20:43] kbecciv opened #12943 "Web- Log in - Console error appears when navigating to URL staging.new.expensify.com"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1`. Open the Incognito Chrome window
2. Open the developer tool - Console tab
3. Start typing staging.new.expensify.com

## Expec

[2022-11-22 20:44] mvtglobally commented on #10765
Issue not reproducible during KI retests. (Fifth week)

[2022-11-22 20:44] mvtglobally commented on #10824
Issue not reproducible during KI retests. (Second week)

[2022-11-22 20:45] mvtglobally commented on #10830
Issue not reproducible during KI retests. (Third week)

[2022-11-22 20:45] grgia commented on #12910
https://user-images.githubusercontent.com/38015950/203417583-8e18e564-a664-41be-9ce1-9a3f8ebf6a5b.mov

How do we feel about this?

[2022-11-22 20:45] mvtglobally commented on #11063
Issue not reproducible during KI retests. (Third week) Are we ok to close this one?

[2022-11-22 20:47] mvtglobally commented on #10283
Issue not reproducible during KI retests. (6th week) Can I remove this from our checklist. It is no longer repro as per steps

[2022-11-22 20:48] mvtglobally commented on #11229
Issue not reproducible during KI retests. (First week)

[2022-11-22 20:48] mvtglobally commented on #11245
Issue not reproducible during KI retests. (First week)

[2022-11-22 20:48] isabelastisser commented on #11930
I do, @Julesssss ! @s77rt , can you please apply for that job at Upwork? Let me know when you do and I should be able to hire you there.

[2022-11-22 20:52] marcaaron commented on #9818
No, I am still not getting this part. A new component compared to what alternative? Re-using the `ReportScreen`? We're talking about routes that are _unhandled in the app_, right? So it's not a report/chat and I don't think we should assume the `ReportScreen` is what should be displayed.

This problem only seems to exist on native (it's a native crash) so I think we should just resolve to a generi

[2022-11-22 21:00] mvtglobally commented on #11262
Issue not reproducible during KI retests. (Second week)

[2022-11-22 21:01] marcaaron commented on #12676
That sounds great, thanks!

[2022-11-22 21:03] mvtglobally commented on #11346
Can we now close this issue? Issue not reproducible during KI retests.

[2022-11-22 21:05] s77rt commented on #12598
### Proposal
[code]

### Details
`<ReportActionsView/>` calls `ReportUtils.isUnread()` on the old data (locally stored) and does not wait for `OpenApp`. And the old data have `maxSequenceNumber === lastReadSequenceNumber` Thus there is no new mark indicator.
In my proposal the fix is to not call the `<ReportActionsView/>` while the app is still loading.

[2022-11-22 21:05] isabelastisser commented on #11354
I'm sorry, reopening this!

[2022-11-22 21:08] mvtglobally commented on #11512
Issue not reproducible during KI retests. (Third week) Can we close it?

[2022-11-22 21:08] mvtglobally commented on #11667
Issue not reproducible during KI retests. (Second week)

[2022-11-22 21:09] mvtglobally commented on #11808
Issue not reproducible during KI retests. (First week)

[2022-11-22 21:11] Karim-30 commented on #12854
### Proposal

I'm so sorry for this bug, I know it should be covered in my earlier PR.

Anyway, we should make the [replaceEmojis](https://github.com/Expensify/App/blob/0efa4206d8000e6a94423cf10ac4bcf2c44c034b/src/libs/EmojiUtils.js#L191-L211) function smarter enough to determine the writing cursor position not only replacing the `:emoji_name:` with its emoji, so it should return the `newComment`

[2022-11-22 21:11] mvtglobally commented on #11858
Issue not reproducible during KI retests. (Third week) Can we close this?

[2022-11-22 21:12] mvtglobally commented on #11951
Issue not reproducible during KI retests. (Second week)

[2022-11-22 21:12] mountiny commented on #9580
PR is almost merged here.

[2022-11-22 21:12] mvtglobally commented on #12000
Issue not reproducible during KI retests. (Fourth week). Can we close this as its not repro?

[2022-11-22 21:13] mvtglobally commented on #12210
Issue not reproducible during KI retests. (First week)

[2022-11-22 21:14] mvtglobally commented on #11488
Issue not reproducible during KI retests. (Third week)

[2022-11-22 21:15] mvtglobally commented on #11809
Issue not reproducible during KI retests. (Second week)

[2022-11-22 21:16] mvtglobally commented on #12308
Issue not reproducible during KI retests. (Third week) Can we close this ?

[2022-11-22 21:16] MitchExpensify commented on #11423
Paid @Puneet-here for reporting bonus and fix

@rushatgabhane sent you an invite for C+ payment

[2022-11-22 21:18] mvtglobally commented on #12459
Issue not reproducible during KI retests. (Second week)

[2022-11-22 21:19] trjExpensify commented on #9818
Agree with this. @shawnborton, do we have a version of the “not found” full page error in the new branding style we can use here?

[2022-11-22 21:19] mvtglobally commented on #12645
Issue not reproducible during KI retests. (First week)

[2022-11-22 21:20] mvtglobally commented on #12769
Issue not reproducible during KI retests. (First week)

[2022-11-22 21:20] mvtglobally commented on #12770
Issue not reproducible during KI retests. (First week)

[2022-11-22 21:20] mvtglobally commented on #12854
Issue not reproducible during KI retests. (First week)

[2022-11-22 21:21] jliexpensify commented on #10905
@thesahindia - thanks for pointing that out and your honesty! My new dad brain appreciates you.

Everyone is paid, feedback has been left and the job closed in Upworks. I'll keep this GH open for @Santhosh-Sellavel to update on the discussion. Thanks!

[2022-11-22 21:21] mvtglobally commented on #11903
Issue not reproducible during KI retests. (First week)

[2022-11-22 21:22] mvtglobally commented on #12045
Issue not reproducible during KI retests. (First week)

[2022-11-22 21:23] marcaaron commented on #11951
yeah let's close

[2022-11-22 21:23] #11951 closed

[2022-11-22 21:24] mvtglobally commented on #12512
Issue not reproducible during KI retests. (First week)

[2022-11-22 21:25] mvtglobally commented on #12276
Issue not reproducible during KI retests. (First week)

[2022-11-22 21:28] AndreasBBS commented on #12854
@Karim-30 @Pujan92 This issue was solved in all platforms except Android. I don't think the proposed solutions will address the problem in Android but if you think it does please post a video of the test in the Android app which is the only platform where this bug is present.

@s77rt approach seems to me the correct one and the one I advised for. Removing the selection prop avoids the onSelectionC

[2022-11-22 21:29] aneequeahmad commented on #12724
I posted the **Proposal** with the bug report [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1668231329934119?thread_ts=1667959713.740999&cid=C01GTK53T8Q). Is there any chance someone has looked at it ?

cc: @flodnv, @rushatgabhane

[2022-11-22 21:29] kbecciv opened #12946 "Web - Chat - "You appear to be offline" message isn't showing if you navigate to different chats."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12877

## Action Performed:
1. Go to staging.new.expensify.com
2. Turn off the

[2022-11-22 21:31] s77rt commented on #12776
### Proposal (Updated)
[code]

### Details
Discard locally stored `IS_LOADING_REPORT_DATA` value just before opening the app instead of setting `initWithStoredValues` to `false`

___

@rushatgabhane I have based my research on a random old version I guess it was 1.2.25-0
https://github.com/Expensify/App/blob/f6c5d0b44801ecbc766e7f7d98418a3df8b55e1d/src/pages/ConciergePage.js#L27-L35
calls `fetchOr

[2022-11-22 21:35] marcaaron commented on #12291
Thanks everyone! Just saw the comment, but I am not sure we should post on PRs unless the PR caused a regression (especially if they are a year old).

**thought/feedback:** Let's go the extra mile and try help the PR authors and reviewers learn from some apparent mistake. If we can't do that in a way that is clear and useful then we should just "do nothing" and check the box.

Could be more useful

[2022-11-22 21:37] JmillsExpensify commented on #9818
Oh nice, I like that solution as well. I'm pretty certain we also already have a general error screen to boot.

[2022-11-22 21:38] marcaaron commented on #11970
@s77rt We'll be sure to revisit this after we make the changes. Thanks for your thoughts!

[2022-11-22 21:39] aneequeahmad commented on #11903
@aimane-chnaif, I would also like to mention that the official doc says that `React Node is one of the following` it means it is expected that the React node is is one of number and strings. like the doc says.

_**A React Node is one of the following types:**_

- Boolean (which is ignored)
- null or undefined (which is ignored)
- Number
- String
- A React element (result of JSX)
- An array of any

[2022-11-22 21:40] trjExpensify commented on #11854
@hellohublot - quick bump [on this please](https://github.com/Expensify/App/issues/11854#issuecomment-1314214908) to apply to the job on Upwork so we're ready to issue payment.

[2022-11-22 21:43] s77rt commented on #11094
@tgolen

The blur problem as far as I know is Android related not device related.
Just to be clear, we want the input to lose focus on keyboard dismiss.

No, the truth is we can't reliably support keyboard state on web, end of the story.
`withKeyboardState` does not support web as far as I know, it only seems to you working because the browser was doing the right thing.

Let me summarise:
1. You s

[2022-11-22 21:46] s77rt commented on #11930
@isabelastisser I did already
https://github.com/Expensify/App/issues/11930#issuecomment-1320006228

[2022-11-22 21:47] aneequeahmad commented on #11903
@aimane-chnaif yes except for web since It's not an html value. It is a reference to the DOM node. Browser probably using  to.String before showing it on console. Type of this value is Object as discussed on [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1668322339402579?thread_ts=1668235962.022259&cid=C01GTK53T8Q)

[2022-11-22 21:49] chiragsalian commented on #11735
Yes, its on staging right now but not on production just yet.

[2022-11-22 21:55] shawnborton commented on #12910
That works for me. Is it easy to change that color to green though? I know for CSS, we can do something neat like this:

[code]

[2022-11-22 21:59] sophiepintoraetz commented on #12922
Sure - job created [here](https://www.upwork.com/jobs/~01f655ac1d303ea712) and I've invited you, @Puneet-here!

[2022-11-22 22:00] sophiepintoraetz commented on #11590
@univalchemist - did you have a proposal you wanted to submit?

[2022-11-22 22:06] marcochavezf commented on #7079
No update, focused on WAQ

[2022-11-22 22:06] tgolen commented on #11094
@s77rt Thanks for walking me through that. I'm generally fine with everything outside of `componentDidUpdate`, so be assured with that.

Regarding the stuff inside `componentDidUpdate`, we should move anything that only applies to android into an android specific file (eg. `index.android.js`) to match our cross-platform patterns. Then we should only have stuff that applies to web in a web-specific

[2022-11-22 22:07] AhmadbinZahid commented on #11903
Can anyone confirm what is the typeof anchor in case of android?

[2022-11-22 22:07] sophiepintoraetz commented on #12049
@Santhosh-Sellavel - apologies! I could have sworn I did but anyways, here we are
![image](https://user-images.githubusercontent.com/42940078/203431260-55f561bd-348b-4198-80e4-a9950e2ac13a.png)

[2022-11-22 22:08] shawnborton commented on #9818
@trjExpensify once we switch over to new colors/icons/etc, the generic not found page should get an automatic facelift.

[2022-11-22 22:09] trjExpensify commented on #8245
iOS safari mWeb `1.2.30.0`

I can't reproduce this on URLs, nor messages sent in the chat. I can if I long press on attachment uploads. That looks consistent with the video, but it's unrelated to the OP of this issue and history of it regarding URLs.

Can you confirm with the QAers @kbecciv, and create a new issue with up-to-date reproduction steps for the behaviour on attachments. Let's also conf

[2022-11-22 22:09] #8245 closed

[2022-11-22 22:09] roryabraham commented on #11694
[This PR](https://github.com/Expensify/App/pull/12918) turned out to be not quite ready yet. An [upstream fix](https://github.com/Expensify/react-native-web/pull/9) is needed, but then it will be ready

[2022-11-22 22:11] trjExpensify commented on #9818
Nice! So we just proceed with the existing asset here then. 👍

[2022-11-22 22:11] thesahindia commented on #12777
I think it's the same issue that I reported [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1663318434686339)

[2022-11-22 22:12] AhmadbinZahid commented on #11903
As far as I've learned, looking at every target event type from:
`node_modules/@types/react-native/index.d.ts`
Native target event type, is a number.

[2022-11-22 22:13] jasperhuangg commented on #12291
@marcaaron honestly that's my bad, [here](https://github.com/Expensify/App/issues/12291#issuecomment-1312002197) I commented "let's go with that PR" but didn't say not to comment or give too much context. I mainly just wanted to link it in [this comment](https://github.com/Expensify/App/issues/12291#issuecomment-1309551962) for posterity.

[2022-11-22 22:16] trjExpensify commented on #11695
Awesome. Sent you both offers on Upwork [here](https://www.upwork.com/jobs/~01787df7c25949e98d).

[2022-11-22 22:17] thesahindia commented on #12900
I had [reported](https://expensify.slack.com/archives/C01GTK53T8Q/p1656701263408249) this at `#expensify-open-source`

[2022-11-22 22:19] jasperhuangg commented on #12291
An [example](https://github.com/Expensify/App/issues/12291#issuecomment-1312002197) of "some context", this could definitely be helpful in helping the PR author understand what's going on

Next time I'll be sure to mention to include any relevant comments as context.

cc @sakluger

[2022-11-22 22:20] dnlfrst commented on #12156
Not that I am aware of it. `theme-color` does not support the alpha channel, hence the need to approximate the opacity with RGB.

[2022-11-22 22:24] luacmartins commented on #11093
From [this Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1669139073397899), we decided to move this issue along regardless of the spellcheck highlight issue.

Sorry @aimane-chnaif I missed your proposal in my previous comment. I just tested your proposal and it's simple and solves the issue! Let's move on with it!

[2022-11-22 22:24] arielgreen commented on #9973
Thanks @dylanexpensify

@sketchydroide do you have an ETA for when you'll be able to take a look at this?

[2022-11-22 22:24] dnlfrst commented on #12156
Judging from the [official documentation](https://developer.chrome.com/blog/support-for-theme-color-in-chrome-39-for-android/) of Google Chrome (and [CIU](https://caniuse.com/?search=theme-color)), the status bar color should also work on Android as long as the native dark mode is not enabled.

That is a good point! I might need some guidance there since I am not too familiar with the code base.

[2022-11-22 22:24] jasperhuangg commented on #12291
Also, when I said this I meant we should go through our current App repo and see if there are any other reusable components that don't update to props like this one. Better to fix them all in one go vs. letting them become discovered as bugs and go through triage.

[2022-11-22 22:25] davidcardoza commented on #12726
@roryabraham Yeah we do. Thanks for reopening.

[2022-11-22 22:29] s77rt commented on #11094
@tgolen I know what you are saying, the thing is I'm worried if this would create bugs in the future. The window height is an indicator only, it's for the window height not for the keyboard state, but we use it as an indicator as the last resort and only where it's absolutely necessary like the case here. The window height is not reliable for mWeb - Safari or more specific on mWeb iOS. It just hap

[2022-11-22 22:33] parasharrajat commented on #11093
In that case, I also agree @aimane-chnaif's proposal is best here.

[2022-11-22 22:35] kadiealexander commented on #12938
Helped @jliexpensify reproduce this one on a Asus ROG 3 with Android 12:

https://user-images.githubusercontent.com/59587260/203435059-b865f287-17cd-4266-89b7-18b841793312.mp4

[2022-11-22 22:39] trjExpensify commented on #11063
Oh, interesting. @Beamanator but your App PR from [this list](https://github.com/Expensify/App/issues/11063#issuecomment-1303554055) isn't merged yet? 😅

[2022-11-22 22:39] aneequeahmad commented on #11903
That's right, its not DOM node  It is actually a reference to the DOM node.

[2022-11-22 22:45] parasharrajat commented on #11283
I will make the decision a tomorrow. There are a couple of proposals here now and I think there is no need for holding this further. I will pick the one that is the best fit.

[2022-11-22 22:45] trjExpensify commented on #12775
~Take a seat on this chaise longue, Jason. Talk to me... tell me how it makes you feel?~

I'm with Ioni. I think it's fine, let's put the `planning` label on it and circle back to it around N7.

[2022-11-22 22:49] jliexpensify commented on #12938
Thanks @kadiealexander for the second set of eyes! I wasn't seeing this behaviour consistently on my Android device so really good to get your video.

[2022-11-22 22:51] s77rt commented on #12651
### Proposal
[code]

### Details
Refactored the page to have similar logic to https://github.com/Expensify/App/blob/main/src/pages/home/report/ParticipantLocalTime.js

[2022-11-22 22:52] kadiealexander commented on #12938
All good! Don't forget [Conor's checklist](https://expensify.slack.com/archives/C01GTK53T8Q/p1669058720156079?thread_ts=1669058205.220089&cid=C01GTK53T8Q) :)

[2022-11-22 22:53] tgolen commented on #11094
OK, I'm fine with that. Thanks for taking the time to understand what my concerns were and where I was coming from!

Since that's where you are landing, then I would ask for you to remove `(prevProps.windowHeight < this.props.windowHeight)` from your proposal. If we can't rely on it everywhere, then we shouldn't rely on it in just one spot. It leads to inconsistent behavior and code and that leads

[2022-11-22 22:54] MitchExpensify commented on #12942
https://stackoverflow.com/c/expensify/questions/14418

- [ ]  The "bug" is actually a bug - Yes, clicking "Fix the errors" should take you to the first error input.
- [ ]  The bug is not a duplicate report of an existing GH (close the GH and add any novel details to the original GH instead) - This is super similar to this issue although it refers to a different pages https://github.com/Expensify/A

[2022-11-22 22:55] parasharrajat commented on #9941
This is not blocking anything ATM. I will share an update asap. Working on some priorities.

[2022-11-22 22:56] s77rt commented on #11094
@tgolen That would keep Android mWeb unsupported

[2022-11-22 22:58] tgolen commented on #11094
Yep, I understand that. I'd rather have android mWeb unsupported then adding small workarounds like this in our code. If you prefer not to work on this, I can take it over (no shame in that!).

[2022-11-22 23:02] s77rt commented on #11094
I can work on it, just wanted to make sure you know.

[2022-11-22 23:04] kbecciv opened #12947 "Homepage/Chat - "You appear to be offline" message blocks to login/chats"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/

## Expected Result:
User should be able to login

## Actual Result:
"You appear to b

[2022-11-22 23:05] tgolen commented on #11094
Great, thanks! Could I see a final proposal? I'd also still like to get approval from @eVoloshchak on the final.

[2022-11-22 23:05] OSBotify commented on #12947
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-22 23:06] jliexpensify commented on #12938
From this SO: https://stackoverflow.com/c/expensify/questions/14418
- [ ] **The "bug" is actually a bug**:
- [ ] **The bug is not a duplicate report of an existing GH (close the GH and add any novel details to the original GH instead)**:
- [ ] **The bug is reproducible, following the reproduction steps:**
- [ ] **If you’re unable to reproduce the bug, add the _Needs reproduction_ label. Comment on

[2022-11-22 23:10] grgia commented on #12910
Yep! Do you want to change the green to a different color?

[2022-11-22 23:11] marcaaron commented on #12947
I think the main site (and therefore API) just went down for a moment?

[2022-11-22 23:11] Santhosh-Sellavel commented on #12049
@sophiepintoraetz You could hire me straight away as you have an option to do so.

I get it you might have invited me earlier too. Only when you hire me I will receive an offer, which will show up on messages.

[2022-11-22 23:12] trjExpensify commented on #12943
👋 I can reproduce this on both staging and production. Here's prod:

<img width="1511" alt="image" src="https://user-images.githubusercontent.com/16232057/203439675-4d38772d-4f57-4841-80b0-9a0b1c820654.png">

I don't know enough about this specific error to make a call on whether it can be worked on externally or not. The fact that it mentions Plaid and Onfido gives me a feeling that it might not

[2022-11-22 23:12] marcaaron commented on #12947
I was able to login fine on staging just now so I'm going to close this.

[2022-11-22 23:12] #12947 closed

[2022-11-22 23:13] shawnborton commented on #12261
Augenblick sent over some test animation Lottie files for us - they are mostly looking for freedback on if this format will work, and how the file size is. Thoughts @roryabraham ?

Files: [Expensify_LottieTests_112222.zip](https://github.com/Expensify/App/files/10071727/Expensify_LottieTests_112222.zip)

Given that the JSON file size is less than 100KB, I think this is going to work great.

![runn

[2022-11-22 23:13] aldo-expensify commented on #12910
I think he means the blueish background to green :P

[2022-11-22 23:13] shawnborton commented on #12910
Yup, that's what I mean! So we keep the green outline, and then ideally the check fill is green too.

[2022-11-22 23:14] s77rt commented on #11094
### Proposal (Updated)
[code]

### Update
Removed `prevProps.windowHeight < this.props.windowHeight`

[2022-11-22 23:15] aldo-expensify commented on #12947
yes, it was probably that

[2022-11-22 23:16] marcaaron commented on #12291
Cool thanks for the explanation, but just to confirm, are you suggesting we should do an audit of all of our components and fix something about them?

[2022-11-22 23:17] MitchExpensify commented on #11093
[New Upwork Job created](https://www.upwork.com/jobs/~01fc3048f9ceaa2f2a). Invited everyone for eventual payment

[2022-11-22 23:19] tgolen commented on #11094
Thanks! Could you please explain how you will move the Android stuff to its own specific android file too? I don't think it's necessary to show it in the code, but I'd like to at least know what plan you have for it.

[2022-11-22 23:23] Santhosh-Sellavel commented on #12049
Applied for the job now!

[2022-11-22 23:23] ctkochan22 commented on #12942
Hmmm its similar but I guess technically different bugs? [This PR](https://github.com/Expensify/App/pull/12699) made changes to the form component. I'm not sure if this was an issue before or after this PR because we only tested it on forms that did not require a scroll

[2022-11-22 23:24] parasharrajat commented on #10262
We don't want the code block to be pasted via Gboard thus it is fine. It is meant to paste text thus I am fine keeping it as it is.

@pecanoro You can share your reviews on this. If we do this, it means that we will store MD as `text/plain` in the clipboard, it will be different from `paste and match style` on the Desktop.

Other than that, I am happy with what we have landed in the final proposal

[2022-11-22 23:29] parasharrajat commented on #11844
The discussion is leading towards a solution that fixes this issue in RN core. Also, anyone is able to prove that this is issue with iOS platform not with RN, then we may rethink to solve it here.

[2022-11-22 23:31] puneetlath commented on #12554
@rushatgabhane quick bump on accepting the hiring offer. Then we'll be able to close this out. Thanks!

[2022-11-22 23:33] trjExpensify commented on #9848
@dylanexpensify is out for the rest of the week. I'll reassign to myself to handle that, discussing internally here. Also going to assign @furkanuzundev for posterity.

[2022-11-22 23:36] Santhosh-Sellavel commented on #12233
Done @isabelastisser thanks!

[2022-11-22 23:41] marcaaron commented on #9809
I'm kinda lost on this issue. Is it only affecting Safari on older iOS versions? I was not able to repro this at all on iOS 15 version of Safari.

[2022-11-22 23:49] luacmartins commented on #12947
Agree with the assessment above!

[2022-11-22 23:53] grgia commented on #12910
https://user-images.githubusercontent.com/38015950/203444302-fd24f258-38d5-431e-a1f6-fb5eaf5fc4fe.mov

How's this?

[2022-11-22 23:55] shawnborton commented on #12910
Perfect!!

[2022-11-23 00:00] jasperhuangg commented on #12291
@marcaaron yep, or at least do a quick search to see if there are any other components that are written in the same way. I haven't really had the chance to see if there are any that are like this, I was more just thinking off the top of my head. The more I think about it now it's an easy fix, so we don't really need to do anything here.

[2022-11-23 00:02] parasharrajat commented on #11093
Although I have tested it already but will give it a full test run tomorrow.

[2022-11-23 00:02] swiftpipe commented on #4733
Sorry, Was my proposal rejected? @parasharrajat

[2022-11-23 00:04] parasharrajat commented on #4733
I won't say rejected but we decide to implement a native solution that will drop the use of `WrappedText` all along.

[2022-11-23 00:07] amyevans commented on #12432
We discussed [in Slack](https://expensify.slack.com/archives/C03TQ48KC/p1669138744156809) and determined that the existing `iouReportID` should be reused. To prevent the issue where the existing `iouReportID` is overwritten on `OpenReport`, we'll only include that key in the response if there is a non-zero ID returned from Auth.

I updated the 2 PRs with this and tested pretty extensively locally.

[2022-11-23 00:08] swiftpipe commented on #4733
Thanks @parasharrajat

[2022-11-23 00:10] Santhosh-Sellavel commented on #9818
This was our consensus earlier here, where we would just change the message based on an invalid report URL/ invalid URL. So we pretty much do this I felt we don't need new components, but now if we are okay with that we could go with this [proposal](https://github.com/Expensify/App/issues/9818#issuecomment-1304833244)

#### Consensus
<img width="1079" alt="199079045-9e888a24-0504-453c-85a5-204d83a

[2022-11-23 00:13] kbecciv opened #12950 "Payments - Default label isn't stick to the personal account after added as default payment, but it works while offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Went to Workspace > Connect Bank Account and added a Business bank account
3. Verified it a

[2022-11-23 00:23] trjExpensify commented on #9848
@furkanuzundev I've sent you a contract in Upwork. Let me know once you've received it and I'll close this out.

[2022-11-23 00:23] luacmartins commented on #12946
Gonna assign myself to this one since I came back from ooo and I'm looking for WAQ issues to work on.

[2022-11-23 00:23] luacmartins commented on #12950
Gonna assign myself to this one since I came back from ooo and I'm looking for WAQ issues to work on.

[2022-11-23 00:27] marcaaron commented on #9818
I think the second version is fine (again, there's no way to know that it's a "chat" we want to load) but we should make the screen pop up as a right hand modal instead of the full screen maybe? It takes up a huge amount of space and is kind of ugly on large format displays.

[2022-11-23 00:29] MitchExpensify commented on #11093
I reverted the price doubling since we actually accepted an old proposal. Bit of a weird one but that seems fair

[2022-11-23 00:30] marcaaron commented on #12291
Sorry, what way is that? What is it that you think we need to fix about the components?

[2022-11-23 00:40] Santhosh-Sellavel commented on #9818
But the idea is users can navigate to any chat easily when we show along with the sidebar.

I like this one

Definitely, this is one of the considerations while selecting the previous consensus.

[2022-11-23 00:43] syedsaroshfarrukhdot commented on #12340
@tjferriss Offer Accepted on Upwork. I believe as this PR was merged within 3 business days. I am also eligible for 50% bonus here. 🎉

[2022-11-23 01:26] eh2077 commented on #11093
Congrats to @aimane-chnaif

While I'd like to mention a potential UX advantage my proposal might provide. When there's a scrollbar in the composer, by calling `textInput.focus` after the click of expand/collapse, the input cursor/caret will be shown on the screen automatically.

Below is an example to compare the difference of caret display when collapsing the composer

onMouseDown preventDefault

[2022-11-23 01:32] parasharrajat commented on #11093
Hmm, that is surely a valid point. I will dig into this a bit more tomorrow and let you know if something changes here.

Meanwhile, I will encourage you to look at other open issues @eh2077.

[2022-11-23 01:39] kbecciv opened #12951 "[$1000] Web - Chat - Message appears in two lines after using option copy to clipboard"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with any account and select any chat
3. Send a message containing a word followed by

[2022-11-23 01:41] davidcardoza commented on #12920
@flodnv This is what I see when I launch NewDot on web and open the console. Let me know if I am missing a step here, my error doesn't match with the error message in the linked Slack thread.

<img width="1572" alt="image" src="https://user-images.githubusercontent.com/6643649/203453705-344a5a72-918a-4465-ba1b-d8d3e4a9d955.png">

[2022-11-23 01:45] davidcardoza commented on #11818
@parasharrajat I am showing a $250 payment was processed and accepted by you on the job - https://www.upwork.com/jobs/~01cfb61bdcd6543656

<img width="1764" alt="image" src="https://user-images.githubusercontent.com/6643649/203454439-cdf23efb-23c2-491f-89f8-1b4d055b7522.png">

[2022-11-23 01:45] AndreasBBS commented on #12854
@s77rt Yeah you're right thanks for clarifying. I like your solution, good job.

[2022-11-23 01:46] davidcardoza commented on #12867
Since this can't be reproduced I am going to close this out.

[2022-11-23 01:46] #12867 closed

[2022-11-23 01:48] parasharrajat commented on #11818
@davidcardoza  I have only accepted the offer. You still need to complete the payment and complete it.

[2022-11-23 01:50] davidcardoza commented on #11818
Ah my bad, I processed the payment now.

[2022-11-23 01:56] parasharrajat commented on #11818
Thank you.

[2022-11-23 02:01] univalchemist commented on #11590
I need to run app on my local first and let me send you a proposal how to resolve. @sophiepintoraetz

[2022-11-23 02:15] Luke9389 commented on #11083
Hey folks, I know this is not ideal, but I'm going to keep holding this until the end of next week. I need more time to figure out what's going on here and I'll be OOO for the next 4 work days.

[2022-11-23 02:24] neil-marcellini commented on #12315
I didn't have time for this today unfortunately, but I'll try to get to it tomorrow.

[2022-11-23 02:47] strepanier03 commented on #9253
I am out of the office Wednesday-Sunday and will return Monday. If urgent help is needed for this GH please post your request and the URL in #expensify-open-source.

[2022-11-23 02:50] strepanier03 commented on #12786
After discussion we have decided to close this until #11425 is resolved and we'll confirm this behavior is resolved.

[2022-11-23 02:50] #12786 closed

[2022-11-23 02:59] strepanier03 commented on #8236
I am out of the office Wednesday-Sunday and will return Monday. If urgent help is needed for this GH please post your request and the URL in #expensify-open-source.

[2022-11-23 03:28] johncschuster commented on #12930
From Slack, it looks like these are @kidroca's repro steps:

Steps:
On a M1 mac
1. run npm run desktop-build-staging
2. Navigate to desktop-build and launch the built app
3. It immediately crashes

[2022-11-23 03:30] johncschuster commented on #12930
@danieldoglas, I have an M1, but I'm not 100% sure I know what to expect to see if I were to run these steps and get a success or failure. Can you try following @kidroca's steps [here](https://github.com/Expensify/App/issues/12930#issuecomment-1324505061) to see if you can reproduce the reported behavior?

[2022-11-23 03:32] arielgreen commented on #8311
@b1tjoy @parasharrajat @mateusbra Upwork posting, please apply https://www.upwork.com/jobs/~01a8294a9c054ef83d

[2022-11-23 03:42] dhairyasenjaliya commented on #8592
@parasharrajat I see now we have options only for a workaround so do you think adding a key to the composer (only to safari) will work now as I proposed previously here at that time we were not encouraging a workaround

- IMO focusing & unfocus on a fake text input feels a bit hacky

Previous proposal: https://github.com/Expensify/App/issues/8592#issuecomment-1168985203

**Result**

https://user-i

[2022-11-23 03:48] tienifr commented on #12267
Hi @marcaaron @shawnborton if option 2 is great, we can implement [my above solution](https://github.com/Expensify/App/issues/12267#issuecomment-1306621239) and verify which fonts we need to preload.
Please tell me if we need to implement a PR

[2022-11-23 03:52] pecanoro commented on #11087
Ok, I figured out the cause, it's a actually [bug](https://github.com/facebook/react-native/issues/28004) with React Native and it does not seem to have a fix. However, I noticed that not passing the prop to the component fixes the issue on Android and does not break the others, so I am going to do that.

[2022-11-23 03:57] mollfpr commented on #12715
@strepanier03 Applied!

[2022-11-23 04:05] hellohublot commented on #11854
@trjExpensify OK, I have submitted it on upwork, my username is also 'hellohublot, Thanks

[2022-11-23 04:06] Christinadobrzyn commented on #12741
Ah sounds good! Thank you for confirming @s77rt and @mollfpr!

[2022-11-23 04:19] Christinadobrzyn commented on #12667
Perfect! Paid everyone for this job and closed it in Upwork. Also added this GH to our Accessibility Audit based on this request - https://expensify.slack.com/archives/C01GTK53T8Q/p1669089426062299?thread_ts=1668604822.482759&cid=C01GTK53T8Q

[2022-11-23 04:24] bernhardoj commented on #12776
@rushatgabhane may I know why my proposal is hacky? I would assume it is hacky if I use something like `setTimeout` which is not reliable.

[2022-11-23 04:24] furkanuzundev commented on #9848
@trjExpensify I accepted the contract. Thank you @Santhosh-Sellavel, @luacmartins for your efforts!

[2022-11-23 04:44] mateusbra commented on #8311
applyed 👍

[2022-11-23 05:25] sobitneupane commented on #12598
@MonilBhavsar It looks like you are handling it internally. Should I review the proposal?

[2022-11-23 05:30] Pujan92 commented on #12854
@AndreasBBS I missed reading the platform in the description, my solution isn't for android specific and not working in android too. So that proposal needs to be ignored.

[2022-11-23 05:33] MonilBhavsar commented on #12598
Not necessarily Internal, but we don't want to have this issue stay still. So I'm also looking into it to fix this asap.

[2022-11-23 05:50] MonilBhavsar commented on #12598
@marcaaron since this from https://github.com/Expensify/App/pull/12169. A quick question - Why the QA steps mention to wait for 10 seconds and then reopen the tab for User B.
I think this is opposed to what is expected, no?
The callback you added won't  triggered if we're past 10 seconds
https://github.com/Expensify/App/blob/39a68d1b56161d378eabf66578aefbd28b1fb8ac/src/libs/actions/Report.js#L1332

[2022-11-23 06:29] mananjadhav commented on #10888
I've tested the PR again. All yours @Luke9389

[2022-11-23 06:39] madmax330 commented on #11858
I'm able to reproduce this 😄

The repro steps are:

- Open the LHN
- Click on a chat
- Go back to the LHN
- Go to the search page
- Close the search page (without doing anything on it)
- Click on a chat
- 💥

[2022-11-23 06:51] s77rt commented on #11094
@tgolen
Rename BaseOptionsSelector.js -> BaseOptionsSelector/index.js - contains the proposal without the android code
Add BaseOptionsSelector/index.android.js - contains the proposal with the android code
Move `propTypes` and `defaultProps` to BaseOptionsSelector/baseOptionsSelectorPropTypes.js

[2022-11-23 07:00] girraj-ch commented on #8311
Hello @MelvinBot
My Name Girraj Choudhary from India. I have 15+ years experience in UX/UI.

My best skills are HTML5, CSS3, SCSS, Tailwinds CSS, Bootstrap, JavaScript, jQuery, React JS, Next js, Vue JS,  Angular, Node JS, NPM, Adobe XD, Adobe Photoshop Figma, Github.

I am expert in UX & UI. if you have any UX/UI requirements so Please give me one chance. I will provide good quality work.
Upwork

[2022-11-23 07:01] sobitneupane commented on #12598
@s77rt Thanks for your proposal.

Your proposal solves the issue but will create other issue. When user reloads page being Offline, user won't see previously loaded messages.

[2022-11-23 07:13] Vishrut19 commented on #12271
Hey Guys ! can I give it a try ?

[2022-11-23 07:16] s77rt commented on #12598
### Proposal (Update)
[code]

### Update
@sobitneupane I'm not able to reproduce the issue you just described, on reload the page does not load at all.
However I updated my proposal to what I suppose will fix the scenario you just described

[2022-11-23 07:20] hellohublot commented on #9809
#Q&A
## Are you on expensify's opensource slack channel yet?
I have sent the application email to `contributors@expensify.com`, my username is `hublot@aliyun.com`

## How to reproduce
You can slide the list of this page `to the top`, `then continue to drag down`, and then `repeatedly drag up and down`,
Or slide the list of this page `to the bottom`, `continue to drag up`, and then `repeatedly drag

[2022-11-23 07:22] techievivek commented on #11796
Sorry, I was ooo. I will look into it today and give an update.

[2022-11-23 07:23] techievivek commented on #12041
I was ooo so looking into it today.

[2022-11-23 07:23] s77rt commented on #12598
@MonilBhavsar I was able to reproduce the bug without waiting that long. I think what the reporter meant is to wait for the message to get actually sent, because the backend server is a little buggy and sometimes it takes up several seconds to get my message sent. Having specified 10 seconds may be just a coincidence.

[2022-11-23 08:19] techievivek commented on #11346
@JmillsExpensify This was merged within 3 business days. So we will need to pay @mananjadhav a 50% bonus on this.

[2022-11-23 08:23] techievivek commented on #12781
I was ooo catching up now. Thanks

[2022-11-23 08:33] parasharrajat commented on #8592
Remounting is very expensive. But let me check that as well.

[2022-11-23 08:33] mananjadhav commented on #11346
@JmillsExpensify A little confusion, should this be treated as an external issue or an internal PR? Because the payouts are different for this one.

[2022-11-23 08:39] eh2077 commented on #11093
Hey @aimane-chnaif

I found that the calling `focus` method has differences on Safari(both desktop and mobile) and Firefox(both desktop and mobile) based on my testing. There's no difference from Chrome(both desktop and mobile)

I can't agree more on this.

This should be not true based on my testing.

Firefox mobile
![11093-FF-Android](https://user-images.githubusercontent.com/117511920/203500073

[2022-11-23 08:55] flodnv commented on #11463
Discussing this here: https://expensify.slack.com/archives/C01GTK53T8Q/p1669192375616369?thread_ts=1669139046.925109&cid=C01GTK53T8Q

@rawalyogendra do you think you can submit that PR today? 🙏

[2022-11-23 09:06] workandplayhard commented on #8311
Hi, @MelvinBot

My name is Gabriel Zin from the Netherlands. I have 8+ years experience of web development, mainly focused on front-end.

My powerful skills are React, Vue.js, AngularJS, NodeJS, Next.js, Nuxt.js, Quasar Framework, AWS, Docker, etc.

I'd really want to jump right into this opportunity and I'm sure that I can contribute to build and fix your project with my solid and powerful skills

[2022-11-23 09:24] Gonals commented on #12432
Nice! Which keys are you using in your PRs? Are they on HOLD because of mine?

[2022-11-23 09:26] Beamanator commented on #12676
Groovy - in the meantime are we good to move forward with payment for https://github.com/Expensify/App/issues/11982? It was my fault for not updating the TC & for really not bringing the "proper solution" discussion to a wider audience, so we shouldn't delay payment to @mollfpr

cc @puneetlath

[2022-11-23 09:27] Beamanator commented on #12676
Oh looks like we're also discussing that PR and how it relates to [this issue](https://github.com/Expensify/App/issues/12428), but at least we won't hold on resolving this one 😅

[2022-11-23 09:33] flodnv commented on #11667
So let's close?

[2022-11-23 09:33] #11667 closed

[2022-11-23 09:53] Karim-30 commented on #12854
@AndreasBBS Well done. I using an older version of ExpensifyApp so I didn't see the new code.

[2022-11-23 10:18] Gonals commented on #12951
Taking a look!

[2022-11-23 10:22] Beamanator commented on #10830
Looks like it's not so reproducible, let's close & we can reopen if it becomes a problem in the future

[2022-11-23 10:22] #10830 closed

[2022-11-23 10:24] Gonals commented on #12951
I can't seem to reproduce the issue, so closing for now. @kbecciv, any step I missed?

https://user-images.githubusercontent.com/19366280/203523319-7f142248-0512-4d3a-9870-67a96bf3ab18.mp4

[2022-11-23 10:28] flodnv commented on #11463
Awesome! Can you link to it here? I am not finding it.

----

Alright, let's get your react PR merged first. @mananjadhav how do these changes sound to you?

[2022-11-23 10:33] MariaHCD commented on #12943
I think this might be more to do with our [Content Security Policy](https://github.com/Expensify/Cloudflare-Workers/blob/7c73ba5662bf491a5576459982c62d59aa5ad854/new.expensify.com/wrangler.toml#L11-L19). So I'm not quite sure this can be worked on externally either.

[2022-11-23 10:33] flodnv commented on #12724
Sorry @aneequeahmad, AFAIK proposals should be done on Github. LMK if I'm wrong.

[2022-11-23 10:36] smrutiparida commented on #12938
The TextInput component is returning the contentSize as 40 for with a letter and 38.666667 for just newline. And the TextInput height is set accordingly. In the attached video you can see the nativeEvent.contentSize.height value.

https://user-images.githubusercontent.com/5945400/203525294-b7852e5d-574d-4d10-9173-cc5c4aae098d.mov

[2022-11-23 10:37] mananjadhav commented on #11463
@rawalyogendra Can you confirm if the changes are based on the latest `main` branch? I remember 1 or 2 PRs changing the behavior for card styles. Want to check your recommended changes are still applicable for the current latest code.

[2022-11-23 10:47] #12308 closed

[2022-11-23 10:49] robertjchen commented on #12289
Was able to reproduce this locally as well, investigating.

[2022-11-23 10:51] Julesssss commented on #11858
I can't find the issue, but those reproduction steps exactly match what I'm seeing occasionally on the related Android issue. Updating to show that this occurs on ANdroid and iOS

[2022-11-23 10:52] mollfpr commented on #12521
Thanks, @s77rt for the investigation.

Yes, currently we know that the problem is from the RNW modal. But the fact that it only works in Chrome is still not clear to me.

I'll wait a few more days for a new proposal.

[2022-11-23 10:56] robertjchen commented on #12289
my bad for the confusion, I had an old version of the GH issue opened and it still had the old labels. Ignore my statement above 👍

[2022-11-23 10:59] trjExpensify commented on #11632
👋 Sorry for the delay on our side. Stepping in to process this to completion today. @thesahindia @tienifr offers have been sent to you both.

[2022-11-23 11:08] Gonals commented on #12942
Taking a look!

[2022-11-23 11:10] aneequeahmad commented on #12483
@dylanexpensify, I think i haven't been paid for reporting bug.

[2022-11-23 11:12] madmax330 commented on #11858
So I initially thought that this was introduced in this PR: https://github.com/Expensify/App/pull/12169/files
Where we set the height of the container here: https://github.com/Expensify/App/blob/6fc17930f4a306fbb862e2d501d68ffde0618b9d/src/pages/home/ReportScreen.js#L290

But that is just a post screen shrinking action, so I'm 90% sure the KAV still thinks the keyboard is open even though it isn't

[2022-11-23 11:22] aneequeahmad commented on #12724
@flodnv Yeah you're right, proposals should be done on Github when the Job is posted.

What i understood from the [contribution.md](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md) is that` propose a job, and (optionally) a solution for that job`and is written [here](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#:~:text=It%E2%80%99s%20p

[2022-11-23 11:24] robertjchen commented on #12198
Was able to reproduce this locally as well! @mollfpr do you possibly have an update on your debugging efforts and explanation on your proposed solution? 🙏

[2022-11-23 11:30] iwiznia commented on #12939
@varshamb sorry, but it's a first come first served and Puneet's proposal was first. You will still get the reporting bonus though.

[2022-11-23 11:47] thesahindia commented on #11632
Accepted, thanks!

[2022-11-23 11:58] trjExpensify commented on #11632
Perfect, paid you both out. Thanks again! 🚀

[2022-11-23 11:58] #11632 closed

[2022-11-23 12:00] cristipaval opened #12952 "[N7 Account Settings] Hook up new Display name, Pronouns and Timezone pages to Profile page"
Tracking issue: https://github.com/Expensify/Expensify/issues/182122

Detailed section of doc here: https://docs.google.com/document/d/17akqrbC-w8FqEoDLvcLmrX6iw4uaVrT_xlwAl-IhEzE/edit#heading=h.jl7alj505ji8

Note: The rest of the new pages are on hold. They are covered by [this issue](https://github.com/Expensify/App/issues/11582) when the hold is removed.

This is part of WAQ project because we

[2022-11-23 12:03] cristipaval commented on #11582
Great idea! I created [this issue](https://github.com/Expensify/App/issues/12952).

[2022-11-23 12:06] parasharrajat commented on #12939
@Puneet-here 's proposal looks good. We are only focusing on the front-end errors for now.

cc: @iwiznia

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-11-23 12:11] varshamb commented on #12939
@iwiznia It's not about bonus at all!
My question is: as per policy is it allowed to post solution on slack channel where they are not reporter?
i.e. one can propose solution for the Bug which is reported by others in Stack channel
#expensify-bugs.

Cc: @Christinadobrzyn @parasharrajat

[2022-11-23 12:17] cristipaval commented on #9703
I'll get to this soon. Working on another issue atm, part of WAQ.

[2022-11-23 12:35] Puneet-here commented on #12939
Thanks! I will keep it in mind. In this case I posted the solution in the thread because it was easy to explain the issue that way.

[2022-11-23 12:40] kbecciv commented on #11536
QA team is having problem with it on build 1.2.30.0

https://user-images.githubusercontent.com/93399543/203549273-546026d5-24ea-400c-a1fb-aebef46628a2.mp4

[2022-11-23 12:51] trjExpensify commented on #12943
Ohh, nice find! Okay cool, I'm going to mark this as `internal` for the time being for someone to make a call on that or what (if anything) should be done about this.

CC: @mountiny for vis as you touched this code back in Oct.

[2022-11-23 12:54] trjExpensify commented on #9848
Perfect, settled!

[2022-11-23 12:54] #9848 closed

[2022-11-23 12:59] trjExpensify commented on #9809
Hey @hellohublot, that email hasn't been received on our side. Can you resend it and include a link to your Upwork profile please. After which, we can get you added to Slack. Thanks!

[2022-11-23 13:01] Puneet-here commented on #11317
@marcochavezf can we re-open?

[2022-11-23 13:16] robertjchen commented on #12045
Was able to reproduce this on staging, but not locally by following these exact steps: https://github.com/Expensify/App/issues/12045#issuecomment-1320295813

[2022-11-23 13:17] railway17 commented on #12045
Agreed!

[2022-11-23 13:19] AndreasBBS commented on #12854
@Karim-30

When developing for the Android platform you can run on an emulator with `npm run android`. This will build the App for Android with your current changes, spin up an emulator and get it running in an emulator. Then you need to run `npx react-native start --port=8083` to connect the App that's running in the emulator. It helps if you have Android Studio installed because it installs all

[2022-11-23 13:33] mananjadhav commented on #11086
@Pujan92 thanks for the quick PR, but I'll only be able to review tomorrow!

[2022-11-23 13:38] mananjadhav commented on #10950
@laurenreidexpensify Can you help with the above here and closure of the issue?

[2022-11-23 13:38] mananjadhav commented on #11086
@muttmuure Payment date to be removed, as it caused a regression.

[2022-11-23 13:39] #9809 closed

[2022-11-23 13:42] mananjadhav commented on #11732
@johncschuster Quick bump to close this.

[2022-11-23 13:50] trjExpensify commented on #11522
Can we continue that [discussion here](https://expensify.slack.com/archives/C01GTK53T8Q/p1669139030140559), I have a few concerns/clarifications with that proposal.

[2022-11-23 13:58] Someone-here commented on #12018
@eVoloshchak or @Julesssss Could you please test this proposal on iOS and Safari? I don't own a mac currently, therefore it would mean a lot to me if you would do so...

[2022-11-23 14:07] madmax330 commented on #11858
Ok so I did some further investigation and it seems to me like it's definitely the KAV that's causing this.
I passed a `console.log` through the `onLayout` prop here: https://github.com/Expensify/App/blob/6fc17930f4a306fbb862e2d501d68ffde0618b9d/src/pages/home/ReportScreen.js#L233

Which is then called here when the KAV view changes: https://github.com/facebook/react-native/blob/3eb69f24ddc281f4bf

[2022-11-23 14:10] madmax330 commented on #11858
Posted here: https://expensify.slack.com/archives/C01GTK53T8Q/p1669212581514609

[2022-11-23 14:22] thesahindia commented on #12271
Great finding @b1tjoy👏

@deetergp, I like @b1tjoy's [proposal](https://github.com/Expensify/App/issues/12271#issuecomment-1312326623)

C+ reviewed 🎀👀🎀

[2022-11-23 14:25] thesahindia commented on #12271
Thanks for showing interest @Vishrut19. You can check other issues with the help wanted label. You can visit [this link](https://github.com/Expensify/App/issues?q=is%3Aissue+is%3Aopen+label%3A%22Help+Wanted%22).

[2022-11-23 15:00] Puneet-here commented on #12922
Applied to the job, thanks!

[2022-11-23 15:10] trjExpensify commented on #11317
Coming [from here](https://expensify.slack.com/archives/C049HHMV9SM/p1669215019745509?thread_ts=1669176630.046939&cid=C049HHMV9SM), let's reopen and fix this.

@dangrous, in the future, let's make sure to re-test when an associated issue might fix another to confirm it does. While we wait, we can always pop a `[Hold #issueNumber]` in the title until then.

[2022-11-23 15:22] flodnv commented on #12920
@davidcardoza this stumped me for a bit. The logged in user has to be a part of another policy as a user (not admin)

[2022-11-23 15:31] laurenreidexpensify commented on #10654
@mountiny @Santhosh-Sellavel is this the PR that introduced the regression https://github.com/Expensify/App/pull/11035?

[2022-11-23 15:35] laurenreidexpensify commented on #10654
Asking about TestRail [here](https://expensify.slack.com/archives/C01SKUP7QR0/p16692176728015090)

[2022-11-23 15:39] hungvu193 commented on #11317
<b> Proposal</b>
Since the `ContinueBankAccountSetup` (which contain StartOver and Continue with setup) is depended on the `shouldShowContinueSetupButton`, when press the `Continue` button this state is set to false but when goBack from other screen like `BankAccountManualStep` `BankAccountPlaidStep` this state isn't updated, that's why this issued happened.

<b>Solution</b>
Move `shouldShowContin

[2022-11-23 15:39] kbecciv opened #12955 "mWeb - Workspace - Deleted Workspace appears in mWeb after reopening the tab"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12129

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with

[2022-11-23 15:40] zanyrenney commented on #12911
Hey @marcochavezf I can't reproduce this because:
- I have no existing balance in my wallet (my wallet is also not active in my test account)
- when I attempt to send money from one test account to another, the only currency I can select is GBP
- I am prompted to settle up elsewhere (meaning the wallet balance doesn't increase)

A few screenshots to explain what I mean:
<img width="1637" alt="2022

[2022-11-23 15:43] laurenreidexpensify commented on #10950
@Abdallah-Ahmed-moh contract sent in Upwork, please accept so I can proceed with payment! Thanks

[2022-11-23 15:44] laurenreidexpensify commented on #11488
@Santhosh-Sellavel huge apols!! missed this-  paying now!

[2022-11-23 15:45] shawnborton commented on #12267
I'll let @marcaaron make the call on that.

[2022-11-23 15:57] Abdallah-Ahmed-moh commented on #10950
@laurenreidexpensify  i accepted your offer.

[2022-11-23 16:09] laurenreidexpensify commented on #11488
Looking into adding this to TestRail here https://expensify.slack.com/archives/C021UBMAFCJ/p1669136987942179?thread_ts=1669136224.569399&cid=C021UBMAFCJ

[2022-11-23 16:10] shawnborton commented on #12261
I don't think we have an existing screen to use for this yet, we'd be making new layouts as part of this project.

[2022-11-23 16:13] laurenreidexpensify commented on #12025
@chiragsalian @rushatgabhane can you link the PR you think caused the regression in the comment above? Thanks

[2022-11-23 16:20] laurenreidexpensify commented on #12025
Regression test buddy check here https://expensify.slack.com/archives/C01SKUP7QR0/p1669220417075829

[2022-11-23 16:22] laurenreidexpensify commented on #12026
👋 @roryabraham ^^

[2022-11-23 16:24] laurenreidexpensify commented on #12506
@rushatgabhane that sounds reasonable that we don't need to link the PR here, if there is no blame.

[2022-11-23 16:28] lschurr commented on #11844
So this should remain on hold?

[2022-11-23 16:29] laurenreidexpensify commented on #11341
Sounds good, I'll make sure the final payment issued is $500, pls ignore the current price in Upwork

[2022-11-23 16:37] jasperhuangg commented on #12597
Hey hey happy to help out here, I was able to reproduce. You actually don't need to do all those steps:
1. Open the app on mobile web on a device with a small screen.
2. Paste in the URL to any report.
3. It navigates you to the LHN instead.

[2022-11-23 16:37] laurenreidexpensify commented on #11512
I'm just having an internal convo [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1669221138754229 on whether we want to include this in regression testing. As soon as that is firmed I'll close this!

[2022-11-23 16:38] kavimuru opened #12957 "[$1000] Date picker is not centered and has too small clickable area"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any view with a date picker
2. Ex: Workspace -> Connect Bank Account -> Connect Manual -> Company Step -> Check Incorpo

[2022-11-23 16:55] kavimuru opened #12958 "[Hold for reporting bonus] Dev - Pay button text is cut off in Report."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. In LHN, choose any Report that has request money.
2. Notice that the Pay button is cut off text.

## Expected Result:
Pay but

[2022-11-23 16:59] grgia commented on #12958
[code]

@shawnborton  here's our current small/medium button styles. Currently, this bug is only reproducible on mobile (at least IOS, have yet to test android)