[2022-09-21 18:59] #11139 closed

[2022-09-21 19:01] Santhosh-Sellavel commented on #6591
@mallenexpensify This qualifies for reporting bonus right?

[2022-09-21 19:02] Santhosh-Sellavel commented on #10699
Not sure on refreshing the issue gets resolved.

[2022-09-21 19:03] OSBotify opened #11181 "Deploy Checklist: New Expensify 2022-09-21"
**Release Version:** `1.2.4-2`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/9622
- [x] https://github.com/Expensify/App/pull/10740
- [x] https://github.com/Expensify/App/pull/10800
- [x] https://github.com/Expensify/App/pull/11070
- [x] https://gith

[2022-09-21 19:06] Santhosh-Sellavel commented on #10442
Proposal Looks good

but are we not expecting percentage progress? Can we check with the design/product team to ensure we are fine with this?

[2022-09-21 19:18] roryabraham commented on #10792
@Szymon20000 I saw you put up a draft PR but you weren't sure about the change because right now FastImage isn't compatible with Fabric. Overall I think we should prioritize Fabric compatibility over using FastImage.

Looking into FastImage some more, it seems like one of the main things it handles is persistent image caching. However, that functionality feels potentially in-scope for our persiste

[2022-09-21 19:24] #10948 closed

[2022-09-21 19:24] #10895 closed

[2022-09-21 19:24] OSBotify commented on #11139
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.3-1 has been deployed to staging :tada:

[2022-09-21 19:25] Santhosh-Sellavel commented on #10765
@kbecciv is this reproducible now?

I am unable to reproduce this issue

[2022-09-21 19:28] OSBotify commented on #11181
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11182) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.4-1` :rocket:

[2022-09-21 19:31] Santhosh-Sellavel commented on #10824
Yeah Sounds good! @andrewlor

[2022-09-21 19:35] Santhosh-Sellavel commented on #10966
I am also on the side of handling it separately.

[2022-09-21 19:38] Santhosh-Sellavel commented on #10966
Need some time to dig this more.

[2022-09-21 19:39] jasperhuangg commented on #11159
To clarify, are we referring to how scrolling upwards stops at times while new content is being rendered above the position we've scrolled to? If so, then I'm not sure there's much we can do here, other chat apps also experience the same types of issues. Even though there aren't any network requests, I don't think the content has been rendered yet, which means the scrolling has to stop while the c

[2022-09-21 19:43] rushatgabhane commented on #10510
PR seems okay, we should wait for backend changes before merging?
@ctkochan22

[2022-09-21 19:44] Santhosh-Sellavel commented on #10426
We already have height using withWindowDimensions, I am not sure **why** height must be set here.

Please include this in proposal
What's causing?
Why this fix?, how will it address the issue?

[2022-09-21 19:45] Santhosh-Sellavel commented on #10426
@puneetlath Please bump it down to weekly thanks!

[2022-09-21 19:46] Santhosh-Sellavel commented on #9510
@mollfpr which comment are you referring too?

[2022-09-21 19:48] jasperhuangg commented on #10849
The behavior shouldn't be like this anymore.. we update the workspace photo optimistically and the loading spinner shouldn't show anymore.

[2022-09-21 19:56] jasperhuangg commented on #11100
@sobitneupane thanks for the timely proposal! I think @grgia already had some changes locally so she went ahead and made a PR.

[2022-09-21 19:58] Santhosh-Sellavel commented on #10699
Verify the first concierge is not created so it's empty.
For the second time, we have a concierge already created so it's available.

When  I create a chat with another user, I can see their details, which were not available on load the first time.

@stitesExpensify Any thoughts could this be the backend?

[2022-09-21 20:00] jasperhuangg commented on #10849
Just confirmed on prod on iOS that this doesn't happen, closing.

https://user-images.githubusercontent.com/31285285/191599139-a70fb19b-8d9d-4923-b667-a4f91fca38ae.mov

[2022-09-21 20:00] #10849 closed

[2022-09-21 20:03] andrewlor commented on #10824
@Santhosh-Sellavel What do you think about setting the tabindex, but not auto focusing? This seems to solve the issue as you can see below, I'm just setting `tabIndex = -1` manually in the console on the scrollable div wrapping the pdf document.

https://user-images.githubusercontent.com/8475244/191598371-6d906744-af62-40b8-b3b8-a4cbd70905d8.mp4

This behaviour can be explained here: https://devel

[2022-09-21 20:32] bondydaa commented on #11148
sorry I'm confused, the video and screenshot don't have an open keyboard on them.

the error is expected and shown in https://github.com/Expensify/App/pull/10798
<img width="1117" alt="image" src="https://user-images.githubusercontent.com/4073354/191604638-1d891e5f-ed87-43a4-9be2-3bf1263cfb96.png">

[2022-09-21 20:42] OSBotify commented on #11181
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.4-1 has been deployed to staging :tada:

[2022-09-21 20:49] OSBotify commented on #11181
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.4-0 :rocket:

[2022-09-21 20:59] alexpensify commented on #11135
I can't replicate, here are the results in my tests via Chrome. I tried with two users:

First attempt:
![2022-09-21_13-49-22](https://user-images.githubusercontent.com/8107070/191609006-08c09397-8cfa-4fde-ac35-b1bb2e486244.jpg)

Second attempt:
![2022-09-21_13-54-24](https://user-images.githubusercontent.com/8107070/191609047-04059cf9-4382-4488-b128-9fd8f3385002.jpg)

Status after the two tests:

[2022-09-21 21:06] alexpensify commented on #11135
@mvtglobally - I noticed in the Slack thread you were unable to reproduce this issue. I'm going to close it for now instead of assigning back to you since you were successful to remove users too.

[2022-09-21 21:14] mallenexpensify commented on #11082
Updated OP, @mvtglobally can you see if you can reproduce? Feel free to ping me in NewDot for testing too, I'm on til about 5pm Pacific time (another couple hours) today

[2022-09-21 21:16] roryabraham commented on #4324
I agree. @Karim-30 has done a great job responding to feedback and gracefully handling all the additional requests that surfaced during the PR despite the additional scope.

[2022-09-21 21:18] NicMendonca commented on #11059
@Smart133594 because we issue payment via Upwork, an Upwork account is required.

[2022-09-21 21:18] NicMendonca commented on #9818
@Smart133594 because we issue payment via Upwork, an Upwork account is required.

[2022-09-21 21:29] roryabraham commented on #10632
Yeah, that works! We'll also need to make sure that we:

- Scroll the chat view so that the highlighted chat is visible despite the context menu opening
- Make sure we un-highlight the option when the context menu closes

[2022-09-21 21:29] roryabraham commented on #10632
Leaving you assigned so that you get the GH points @michelle-thompson

[2022-09-21 21:37] jasperhuangg commented on #11159
Discussion happening here: https://expensify.slack.com/archives/C03TQ48KC/p1663789199187759

[2022-09-21 21:39] mallenexpensify commented on #11082
cc @marcaaron , since, I think, this is the _main_ issue for new messages not loading in the main chat window (ie. it's not related to LHN updates at all)

[2022-09-21 21:44] arielgreen commented on #10033
Paid.

[2022-09-21 21:44] #10033 closed

[2022-09-21 21:49] arielgreen commented on #10625
@mananjadhav please see above proposals!

[2022-09-21 21:50] #10412 closed

[2022-09-21 21:51] kevinksullivan commented on #10526
Not reproducible for two weeks so going to close out.

[2022-09-21 21:51] #10526 closed

[2022-09-21 22:00] kavimuru opened #11186 "Login - Two messages displayed after tap on back button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Put you new email address in Sign in page
3. Tap Continue
4. Tap twice on Resent Link button
5. Go back to y

[2022-09-21 22:01] luacmartins commented on #11186
I have a fix for this [here](https://github.com/Expensify/App/pull/11165)

[2022-09-21 22:01] luacmartins commented on #11147
Closing this one in favor of https://github.com/Expensify/App/issues/11186

[2022-09-21 22:01] #11147 closed

[2022-09-21 22:03] kavimuru opened #11187 "[HOLD - N7 Account Settings] Workspace settings - The input field covers with save button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
and login with any account
2. Go to Settings->Workspace->General settings
3. Focu

[2022-09-21 22:26] trjExpensify commented on #11010
Okay, so after some further discussion [from here](https://expensify.slack.com/archives/C07F03W66/p1663785780194699?thread_ts=1663712619.498469&cid=C07F03W66), here's where we're at with the latest iteration.

Welcome message to all users on sign-up:

Message sent on creation of a workspace and being assigned a Guide:

CC: @kevinksullivan @ryanschaffer for a final set of eyes here?

[2022-09-21 22:28] mountiny commented on #11010
The link is for NewDot Concierge right? Is this link used in some Concierge message (just for ease of implementation)

[2022-09-21 22:29] JmillsExpensify opened #11189 "[HOLD for payment 2023-05-25] [HOLD for payment 2023-05-23] [Feature] Support all file types for attachments"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Try to upload a CSV, XLSX, HEIF or HEFV image. None of them work!

## Expected Result:
We should support all file types, especial

[2022-09-21 22:33] Smart133594 commented on #9818
If I borrow other account, is it possible>

[2022-09-21 22:35] trjExpensify commented on #11010
Yep, that links you to the #admins room of the workspace/policy you just created and is already implemented in the existing welcome message to lift and shift the logic.

[2022-09-21 22:48] mallenexpensify commented on #11164
Posted https://www.upwork.com/jobs/~0142fe585695d144e5

[2022-09-21 22:49] francoisl commented on #11157
The Save button is disabled when you're offline, so this order of operation doesn't seem possible:

In the video, it looks like you went back online first, right?

Anyway, it looks like the [`UpdateProfile`](https://github.com/Expensify/App/blob/09ff150d126765c12f783991537e55fea283eb92/src/libs/actions/PersonalDetails.js#L267-L291) command was implemented to be Pattern A, so it sounds right that w

[2022-09-21 22:56] andrewlor commented on #10767
@thienlnam @marcaaron After looking into this more, it seems like it's the order of events.

I believe BrowserWindow.isFocused() is correct, but it is false immediately after AppState becomes active because the window isn't actually focused yet. It instead becomes focused after the transition period when the window is expanding (the 1-2 seconds where the window is expanding through an animation, m

[2022-09-21 23:03] #11081 closed

[2022-09-21 23:04] mallenexpensify commented on #6591
Ooooof this is a beast, and an old one too! I'm trying to think/work this through in a way we can create/update our internal process.  I'm going to reopen as we work this out. As a starting point, is this accurate? @Santhosh-Sellavel @parasharrajat ? (also going to address in the #contributor-plus room since you're both there)

1. Contributor gets hired
2. Contributor is no longer working on the i

[2022-09-21 23:04] neil-marcellini commented on #10437
Today I worked on an Auth PR for step 1. The test I added is still failing because I'm setting the notification preferences only for the admin. I think it will be a quick fix tomorrow and I hope to get that up for review. I can also probably put the App PR up for review because I don't think anything else has to change on the front end.

[2022-09-21 23:34] mallenexpensify commented on #11100
Oooooh, this might be one of those rare (first time I've seen it) situations where a proposal was submitted before the `External` label was added and we decided to fix internally. @grgia:
1. Is that correct?
2. For the fix, did you use/reference code that @sobitneupane proposed?

[Per our CONTRIBUTING.md
](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#:~:text=Note%3

[2022-09-22 00:12] marcaaron commented on #10767
Random thought.. but if electron has it's own sense for what is in the "background" or "focused" then maybe the chat page should use:

**web:** AppState listener
**mobile:** AppState listener
**desktop:** Some kind of similar functionality, but based on the electron API like [these different events](https://www.electronjs.org/docs/latest/api/browser-window#event-focus)

Same as `Visibility.isVisib

[2022-09-22 00:18] mollfpr commented on #9510
@Santhosh-Sellavel Any proposal you guys selected?

[2022-09-22 00:21] marcaaron commented on #11082
Quick clarification on the title/description for this one...

it says there's "constantly... a long delay between a message appearing in the LHN and that same message appearing in an individual’s chat". This would be more helpful if it reflected the exact conditions surrounding the bug + what was happening when it was experienced + the platform + the version.

@mallenexpensify you say it's the "ma

[2022-09-22 00:24] roryabraham commented on #10345
I am currently republishing our React Native fork (and using ndk 21 instead of 24) – hopefully that will fix this issue once we upgrade E/App. We shall see... I used

[2022-09-22 00:38] marcaaron opened #11190 "[$500] Update pages listening for `network.isOffline` in `componentDidUpdate()` to use `NetworkConnection.onReconnect()`"
# Problem

- Various components are currently subscribing to changes in the network key to determine whether some logic needs to run as part of a "reconnect".

- The network key doesn't tell us if one or more of the requests we are running in these places has failed to occur because the authToken expired.

# Solution

The `NetworkConnection.onReconnect()` will now run some callbacks when either of

[2022-09-22 00:39] deetergp commented on #10555
Let's deal with the behaviors called out in this GH and not worry about the cursor position. If we decide later that cursor position is an issue, we can deal with that in a different GH.

[2022-09-22 00:41] deetergp commented on #10068
I haven't had a chance to get to this yet, will try to tomorrow or Friday.

[2022-09-22 00:42] deetergp commented on #10027
Let's double it once more. I'm loathe to go much further though, since it's only had 1 crash and was on an older version of the app. It could be that it has been addressed and can't be recreated anymore.

[2022-09-22 00:49] kbecciv commented on #11148
@bondydaa Corrected the description of the bug, sorry for confusion.

[2022-09-22 01:09] roryabraham commented on #8503
Going to co-assign here and help out, particularly when it comes to upgrading our fork as needed. Working on a PR to upgrade to `0.70.2` (based on `0.70.1` in the upstream)

[2022-09-22 02:47] deetergp commented on #9402
There's been quite a lot of discussion on this and I'm not sure where we landed. Did we decide that backend changes are required and that this is held up on internal changes, or are we able to forge ahead with updates to the front end?

[2022-09-22 02:48] akshayasalvi commented on #10356
@tgolen @mananjadhav Can I start with the PR?

[2022-09-22 02:58] mananjadhav commented on #10356
You have my 🟢 for this @akshayasalvi but let @tgolen confirm once.

[2022-09-22 03:09] dhairyasenjaliya commented on #9233
@michaelhaxhiu sorry to bump you here but can we also get a C+ reviewer here as well seems no one is assigned to issue

[2022-09-22 03:34] amyevans commented on #10896
I've tested again, both on simulator and physical device, and cannot reproduce:

https://user-images.githubusercontent.com/7277067/191631144-6fddf7c0-3ba3-457e-a96e-753158567194.mov

Given this is either an extreme edge case or not a bug, I don't think it's worth devoting additional resources to so am going to close.

[2022-09-22 03:34] #10896 closed

[2022-09-22 04:32] mvtglobally opened #11192 "[PAID] [$1000] If you grab an image and leave it outside image area then the image will remain in the grabbed state and also show console error - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Website.
2. Go to chat > send a jpeg/png attachment > open that attachment.
3. Zoom & grab the image and leave the grab o

[2022-09-22 04:35] mvtglobally opened #11193 "Android - Captcha doesn't hide on back press - Reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to Payments > Add payment method > Bank account
2. Select any bank
3. Tap on the captcha checkbox
4. When the captcha displ

[2022-09-22 04:38] adelekennedy commented on #10830
holding!

[2022-09-22 04:42] mvtglobally opened #11194 "Android - Console error on login page when Phone or email text-input is focused. - reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch app on android.
2. Tap on Phone or email.

## Expected Result:
no console errors

## Actual Result:
 Console error:
 Er

[2022-09-22 04:49] adelekennedy commented on #11079
[internal](https://www.upwork.com/ab/applicants/1572810150589730816/job-details)
[external](https://www.upwork.com/jobs/~012b296a29978d6406)

[2022-09-22 04:50] mvtglobally opened #11195 "[HOLD for payment 2022-11-02] [$250] Saving a workspace name should close the keyboard - reported by @chauchausoup"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to workspace section
2. Click on workspace name
3. Form input will come to address the change in the name
4. Once a desire

[2022-09-22 04:51] adelekennedy commented on #11077
[internal](https://www.upwork.com/ab/applicants/1572810702408269824/job-details)
[external](https://www.upwork.com/jobs/~017339f375be93be4d)

[2022-09-22 04:57] mvtglobally opened #11196 "IOS - Picture is not displayed after using camera to update avatar - reported by @chauchausoup"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login
2. Navigate to Settings > Profile
3. Click on avatar to change profile pic
4. Select upload from Camera
5. Take a photo

[2022-09-22 04:58] gadhiyamanan commented on #11134
(v1.2.3-1)-production

cc: @alex-mechler

[2022-09-22 05:00] mvtglobally opened #11197 "[HOLD for payment 2023-09-29] [Image] Feature Request: Introduce an ability to view workspace picture with a single tap - reported by @chauchausoup"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
We cannot see a workspace avatar picture in tap and view manner. Once a user uploads a workspace avatar image then there is no way for the

[2022-09-22 05:23] MonilBhavsar commented on #10991
Thank you! Then I think we can close this issue and keep only one tracking issue open

[2022-09-22 05:24] advaitasol9 commented on #10765
**Proposal:**

Changing "contentContainerStyle" of InvertedFlatList in [ReportActionsList.js](https://github.com/Expensify/App/blob/main/src/pages/home/report/ReportActionsList.js) as follows fixes the issue.
<img width="786" alt="Screenshot 2022-09-22 at 9 57 37 AM" src="https://user-images.githubusercontent.com/93445984/191658483-6b617319-b6bb-48b0-ae59-14f759c34e25.png">

The issue arrived beca

[2022-09-22 05:26] advaitasol9 commented on #10765
Hey @Santhosh-Sellavel you can reproduce the issue by following the steps below:
1. Send multiple messages.
2. Keep the textinput focused, so that keyboard stays open.
3. Delete the last message.

[2022-09-22 06:23] grgia commented on #11100
Ah yes, I'm sorry! There was no label so I assumed I could fix it

[2022-09-22 07:49] sobitneupane commented on #11194
This issue is resolved by https://github.com/Expensify/App/pull/10929/files#diff-6dc391ec60b205cb6a3aab3878552fc9e50c4494004d83aaa0797ea332a8d21a change in https://github.com/Expensify/App/pull/10929

[2022-09-22 08:09] laurenreidexpensify commented on #10516
@mananjadhav is the PR getting reviewed today? Thanks

[2022-09-22 08:15] MonilBhavsar commented on #10848
Not priority, coming back

[2022-09-22 08:23] mananjadhav commented on #10516
Yes, I reviewed the code it looks fine. I need to test it now. I will get to it in 2-3 hours and send the feedback.

[2022-09-22 08:32] Gonals commented on #10939
Nope, I think "exported" is the way to go

[2022-09-22 08:46] pecanoro commented on #11172
lol I think MelvinBot didn't follow the proper process here, an engineer should have been assigned first before applying external hahaha It also applied "Help Wanted" before we could even export the issue.

I don't even think we can debug this one, it's extremely vague, I will check in Slack.

[2022-09-22 09:14] aneequeahmad commented on #11135
@alexpensify this error is reproducible and `exists` in latest production build `v1.2.3-1`

cc: @mvtglobally

Video and Screenshot:

https://user-images.githubusercontent.com/36359331/191707924-38f08bb4-f277-4ab0-bade-23751db85936.mov

[2022-09-22 09:56] trjExpensify commented on #10202
👋 @Santhosh-Sellavel - coming from [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1663815048493959?thread_ts=1663811385.287129&cid=C01GTK53T8Q), can we start an RCA for this as we approach the finish line?

[2022-09-22 10:23] flodnv commented on #11169
Per @pecanoro : Rory recommended me to just close all those that say unknown and have no stack trace since we can’t do anything about it

[2022-09-22 10:23] #11169 closed

[2022-09-22 10:27] Julesssss commented on #11172
Not an exception, I closed it [in Firebase](https://console.firebase.google.com/project/expensify-chat/crashlytics/app/android:com.expensify.chat/issues/c498accb0b4b0db89a480a39a17db602?time=last-seven-days&versions=1.2.3-0%20(1001020300)&sessionEventKey=632B3BDC036A000115C1E8DBB26513CE_1724316661502796831) and this issue can be closed too

[2022-09-22 10:31] sketchydroide commented on #11068
It seems that the switch only sets the URL to stagin or not, there is no other logic on the app itself, going to check Web now

[2022-09-22 10:40] pecanoro commented on #11172
Per our discussion [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1663840952120429), closing.

[2022-09-22 10:40] #11172 closed

[2022-09-22 11:06] Puneet-here commented on #11134
@parasharrajat, check the video below:-
1. The email is shown in below the avatar
2. Saving changes without names makes it blank
3. After refreshing it works fine again

https://user-images.githubusercontent.com/101883770/191729971-e5dfd545-c21f-4721-bdf8-f4ec1dfcd270.mov

[2022-09-22 11:21] kbecciv opened #11199 "[$1000] mWeb/Safari - Split Bill - After splitting a bill, the screen UI is moving back and forth"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Sign into a valid account
3. Tap the "+" icon > Split Bill >Proceed with the flow and sele

[2022-09-22 11:36] MonilBhavsar commented on #11158
@kavimuru could you please test again. I'm unable to reproduce the issue

[2022-09-22 11:37] pecanoro commented on #9233
Oh actually, this seems to have been fixed and I can't reproduce it so I am going to close it.

Sorry for the trouble, I guess @zanyrenney didn't see the ping and forgot to assign engineering to it.

[2022-09-22 11:41] pecanoro commented on #11148
@bondydaa I think it's just that the styling is breaking on iOS when the error is shown.

[2022-09-22 11:43] dhairyasenjaliya commented on #9233
@pecanoro still reproducible an issue in iOS app on the latest version notice click on mail hides the icon completely

https://user-images.githubusercontent.com/47522946/191737700-97d9f572-cce4-435f-8126-cad1055f851a.MP4

<img src=https://user-images.githubusercontent.com/47522946/191737721-3353b9a2-1997-49b8-a872-7a953ebc53e1.PNG  width=50%>

[2022-09-22 11:44] pecanoro commented on #9233
Ok, I will reassign everyone then and reopen

[2022-09-22 12:04] Karim-30 commented on #4324
@stitesExpensify Thank you so much, it is the second time you increase the budget for this issue 😍.
@roryabraham Thank you so much, I have learned a lot from you.

[2022-09-22 12:39] kbecciv opened #11201 "Room - Created room does not appear in LHN after sending the message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to NewDot with a High traffic account that has a existing Workspace
2. Click on the green + button
3. Click on the "New

[2022-09-22 12:42] Puneet-here commented on #10356
AFAICS the script will remove the skin tones.

[2022-09-22 12:46] kbecciv opened #11202 "[HOLD] IOS - Emoji - Emoji sent while offline, showing doubled green lines when back online"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate any conversation
2. Disable the internet connection
3. Click on the emoji picker and send emoji
4. Go back online.

#

[2022-09-22 12:56] akshayasalvi commented on #10356
You're right @Puneet-here, here's the piece of code that takes care of it. I've given a working example of the code and not the full script. Something on the lines of. In the PR I'll be testing the skin tones, frequently used emojis as pointed out earlier in the requests.

[code]

[2022-09-22 13:03] mananjadhav commented on #10356
Thanks for the comment @Puneet-here.

That works @akshayasalvi  and `String.fromCodePoint` will need them to be unicode but we can handle that in the PR.

[2022-09-22 13:08] MonilBhavsar commented on #11124
Waiting for proposals. Will look into it later.

[2022-09-22 13:35] Puneet-here commented on #11195
### Proposal

Add Keyboard.dismiss() in the submit method (not sure if we should dismiss the keyboard before validation or after, do we wanna keep the keyboard open if there is some error?)

https://github.com/Expensify/App/blob/f76f708d0427ac48dbe89d19c3d291e71e8b8c51/src/pages/workspace/WorkspaceSettingsPage.js#L61

We have to do the same for other pages too because it's not only on workspace se

[2022-09-22 13:47] dylanexpensify commented on #10410
reassigning for payment as I'm OOO tomorrow!

[2022-09-22 13:58] kevinksullivan commented on #10975
Price doubled

[2022-09-22 14:33] kbecciv opened #11203 "Android - Payments - Paypal account disappear if it was added offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App and login
2. Navigate to Settings > Payments
3. Disable the internet connection in the device
4. Click/Tap on "Ad

[2022-09-22 14:34] OSBotify commented on #11203
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-22 14:44] kbecciv commented on #11203
Related offline issue https://github.com/Expensify/App/issues/10762
After reinstall the app , unable to reproduced it, payment button is disable.

https://user-images.githubusercontent.com/93399543/191778158-e1f055b7-251d-49ed-8ff9-ddf27f198c47.mp4

[2022-09-22 14:45] tgolen commented on #10356
🟢 from me! @MitchExpensify you can officially hire them in upwork if you haven't yet.

[2022-09-22 15:02] kbecciv commented on #10765
@Santhosh-Sellavel Checking with team, will update you shortly

[2022-09-22 15:07] bondydaa commented on #11148
oh okay, are we specifically talking about how this expensify icon is cut off?
![image](https://user-images.githubusercontent.com/4073354/191775800-4559b46e-5a37-4b66-b112-1eefff0cdbea.png)

b/c it sort of seems to be the case for the whole page.
<img width="554" alt="image" src="https://user-images.githubusercontent.com/4073354/191775932-1b3797e4-1dc9-4b01-82f6-8d77bdd6aba6.png">

I didn't touch

[2022-09-22 15:10] flodnv opened #11204 "[HOLD for payment 2022-10-26] [$250] Upgrade electron"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem

The version of electron in package.json is really outdated, and now has a vulnerability.

## Solution

Let's update to the latest if possi

[2022-09-22 15:11] kbecciv opened #11205 "Web/Desktop - The App always doesn't detect Offline mode after Re-login until new Restart"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Run the App with already logged in user
2. Logout/Login
3. Check if the app detect offline mode

## Expected Result:
The app s

[2022-09-22 15:22] kbecciv commented on #10765
@Santhosh-Sellavel Issue is still reproducible.

https://user-images.githubusercontent.com/93399543/191787415-178d6a23-1583-412f-be6e-31300d04a8a4.MP4

[2022-09-22 15:35] kbecciv opened #11207 "Android - Chat - The name show in brief moment in chat even after deleting first name and last name @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and log in with account where you have your first and last name sets up
2. Go to settings > Profile
3. Delete f

[2022-09-22 15:44] MonilBhavsar commented on #11168
Things to do before closing issue:

- [ ] Merge Web-E https://github.com/Expensify/Web-Expensify/pull/34915
- [ ] Merge App #11198
- [ ] Deprecate SetPasswordForNewAccountAndSignin API command and make App only call one command - UpdatePasswordAndSignin

[2022-09-22 15:51] amyevans commented on #11131
I've also now tested sending the text from an Android simulator in case that's the source of the issue, but still unable to reproduce. Logging [this line](https://github.com/Expensify/App/blob/main/src/components/Composer/index.js#L284), we get:
[code]

[2022-09-22 15:53] Santhosh-Sellavel commented on #10765
@kbecciv this looks likely from an simulator is this reproducible on any real device

[2022-09-22 15:57] stitesExpensify commented on #10699
Hmm it could be backend, I didn't realize that we actually got personal details for it. My first thought was that we should just always check if the name is `concierge@` and convert it, but I'm not sure if that's really the best solution. Do you have any thoughts on this @luacmartins

[2022-09-22 15:57] kbecciv commented on #10765
No, this is real device.

[2022-09-22 16:01] #11203 closed

[2022-09-22 16:01] Santhosh-Sellavel commented on #10699
We seem to do that for half check the message has logo set.
<img width="418" alt="Screenshot 2022-09-22 at 9 31 08 PM" src="https://user-images.githubusercontent.com/85645967/191796159-67f95f95-2727-4769-b96c-9b613c68ad89.png">

[2022-09-22 16:01] luacmartins commented on #11181
Left a comment in https://github.com/Expensify/App/issues/11203. Checking it off.

[2022-09-22 16:03] Santhosh-Sellavel commented on #10699
This seems to be fixed on staging now @stitesExpensify

[2022-09-22 16:03] neil-marcellini opened #11208 "Leave room button does nothing"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a workspace by clicking the green plus, New workspace (if needed)
2. Create a workspace room by clicking the green plus

[2022-09-22 16:13] luacmartins commented on #11181
@mvtglobally what's the status on regression tests?

[2022-09-22 16:13] mvtglobally commented on #11181
Lol, just completed a sec ago.
All done

[2022-09-22 16:15] luacmartins commented on #11181
@mvtglobally awesome! Thanks for confirming. I'm gonna wait for https://github.com/Expensify/App/pull/11188 to be CP'ed and test it myself before kicking off the deploy.

[2022-09-22 16:17] OSBotify commented on #11181
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11188) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.4-2` :rocket:

[2022-09-22 16:18] kbecciv commented on #10036
@thienlnam Checking with team, will update you shortly.

[2022-09-22 16:30] Beamanator commented on #11157
Ooh this is quite interesting and nice investigation @francoisl !

If we haven't already, I think we definitely need to build a way into the `Form` component (probably into the `FormAlertWithSubmitButton` component too) to allow the form to be submitted while offline

I just know the `Form` stuff was refactored & built before the Offline first push, so I'm sure this will come up over and over in t

[2022-09-22 16:38] sobitneupane commented on #11134
**Proposal:**
I am assuming that we would not want to show email twice.
Here we are checking `this.props.currentUserPersonalDetails.displayName` assuming it will have value only if firstName or lastName are set which is not the case. After firstName and lastName are removed, `this.props.currentUserPersonalDetails.displayName` takes the value `Str.removeSMSDomain(login);`. Thus, emails are being sh

[2022-09-22 17:00] #10271 closed

[2022-09-22 17:00] marcaaron commented on #11207
@jasperhuangg I think this is related to our conversation [here](https://expensify.slack.com/archives/C03TQ48KC/p1663797332998359)

[2022-09-22 17:01] Puneet-here commented on #11134
IMO it's useful. When the email is longer it will be in ellipsis at the upper row but in the second row the text is small so it is fully visible. Also It was like this from the starting.

[2022-09-22 17:17] luacmartins commented on #10699
Ah this will be a backend issue. @stitesExpensify we check if the user already has a chat with concierge [here](https://github.com/Expensify/Web-Expensify/blob/6d681893a37a67e93348a1ff3e1347ecd48317bf/lib/AppInit.php#L113-L117) and create one if needed, but we don't fetch the new personal details for it.

[2022-09-22 17:23] michaelhaxhiu commented on #10762
Thanks for clarifying Marc!

cc @srikarparsi lmk what you think. Do you think this relates to the above? Just want to make sure it has the right labels

[2022-09-22 17:24] dhairyasenjaliya commented on #10555
@parasharrajat that bluehighlight will not come as I have manually select text to remove

[2022-09-22 17:27] roryabraham commented on #11205
I am going to hold onto this without making it external for now. This is something that's very fundamental to the app so I want to spend some time investigating before opening it up to proposals.

[2022-09-22 17:30] stephanieelliott commented on #10283
2x'd to $1000 https://www.upwork.com/jobs/~01a2b7049d03140226

[2022-09-22 17:33] stephanieelliott commented on #10608
Hey @mananjadhav have you had a chance to review this one?

[2022-09-22 17:37] bondydaa commented on #11148
iphone 13 seems fine
<img width="506" alt="image" src="https://user-images.githubusercontent.com/4073354/191797762-1f7414fd-8b8c-46e3-b490-295dc81554e9.png">

<img width="476" alt="image" src="https://user-images.githubusercontent.com/4073354/191797959-56c0c146-4354-4cb7-ba09-1370efb2f4ff.png">

iPhone SE
<img width="461" alt="image" src="https://user-images.githubusercontent.com/4073354/191813297

[2022-09-22 17:37] luacmartins commented on #11058
I think this might be related to https://github.com/Expensify/Expensify/issues/229696 cc @jasperhuangg

[2022-09-22 17:39] luacmartins commented on #11181
Tested https://github.com/Expensify/App/pull/11188 and it's a pass!

[2022-09-22 17:39] luacmartins commented on #11181
:shipit:

[2022-09-22 17:39] #11181 closed

[2022-09-22 17:40] OSBotify commented on #11181
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.4-2 has been deployed to staging :tada:

[2022-09-22 17:40] stephanieelliott commented on #11122
Hey @kbecciv I'm not sure if I understand the issue... what do you mean by "focus" in this contest? When you say there is `no focus in the input field`, are you saying that you expected the cursor to be visible in the input field? Or something else?

[2022-09-22 17:40] sobitneupane commented on #11134
@aimane-chnaif
I was planning to raise this issue in slack. As you have done great work with the analysis, why don't you start the conversation in slack as well. It will have more eyes.

[2022-09-22 17:42] OSBotify opened #11215 "Deploy Checklist: New Expensify 2022-09-22"
**Release Version:** `1.2.5-2`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/10863
- [x] https://github.com/Expensify/App/pull/10949
- [x] https://github.com/Expensify/App/pull/11033
- [x] https://github.com/Expensify/App/pull/11034
- [x] https://git

[2022-09-22 17:43] jasperhuangg commented on #10493
Yup, I agree that the price is good, should be super simple to implement–just adding some validation [here](https://github.com/Expensify/App/blob/cadec8cf43067da16b58c4910f8d40d0801f38f7/src/pages/settings/NewPasswordForm.js#L53-L55) and [here](https://github.com/Expensify/App/blob/cadec8cf43067da16b58c4910f8d40d0801f38f7/src/pages/SetPasswordPage.js#L83-L95)

[2022-09-22 17:48] stephanieelliott commented on #10509
All paid!

[2022-09-22 18:05] Luke9389 commented on #11208
This is expected. There was a project for this that was paused and will be resumed after n7.

[2022-09-22 18:05] #11208 closed

[2022-09-22 18:13] dhairyasenjaliya commented on #10555
ah got your point @parasharrajat, but that is an existing global issue across the app for m-Safari, quick question do we really need spellCheck for passwords inputs I mean we can set the password to any Alpha-numeric or any pattern that doesn't actually require spellCheck functionality

[2022-09-22 18:15] neil-marcellini commented on #10437
I thought of a new approach. In PHP when we notify participants, if there are no notification preferences set on the room then I'll call a function to set the default for the room and save it in the NVP. Then I will use the NVP notification preferences when notifying participants. I think that will fix all existing rooms when renaming. We won't need a custom query in that case. Then I can put up s

[2022-09-22 18:24] Santhosh-Sellavel commented on #10442
@michaelhaxhiu @techievivek

[2022-09-22 18:26] mallenexpensify commented on #10550
This appears to also be happening on desktop and it's semi-consistent. Thread, examples and logs here
https://expensify.slack.com/archives/C01GTK53T8Q/p1663717163964739?thread_ts=1663714013.290919&cid=C01GTK53T8Q

@JmillsExpensify I think you should add this to WA Project. I'll keep digging for more examples (inc. web) and reproducible steps

[2022-09-22 18:29] srikarparsi commented on #10847
bump @mvtglobally

[2022-09-22 18:31] kbecciv opened #11216 "Web - Green line appears with "New" after request/cancel money"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with any account
3. Select any user
4. Click on plus button - Request Money
5. Selec

[2022-09-22 18:32] OSBotify commented on #11216
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-22 18:32] JmillsExpensify commented on #10550
Yes, agreed. I'll add it as this keeps coming up.

[2022-09-22 18:37] mvtglobally commented on #10847
@srikarparsi sorry for delay. We checked only staging and prod. Don't have dev access to check

[2022-09-22 18:59] mallenexpensify commented on #10550
New bits from testing - [Slack post](https://expensify.slack.com/archives/C01GTK53T8Q/p1663872947476579?thread_ts=1663714013.290919&cid=C01GTK53T8Q)

Here's an interesting tidbit...

1. Noticed I had multiple of the same message show from me to Scott on Desktop Version 1.2.5-0
2. Scrolled up to see how many were showing and to get screenshot
3. Noticed as I scrolled (both ways?) that new duplicate

[2022-09-22 19:06] mananjadhav commented on #10847
@srikarparsi I can confirm this exists and I can reproduce this on dev.

[2022-09-22 19:15] #10517 closed

[2022-09-22 19:18] jasperhuangg commented on #10517
@Santhosh-Sellavel sorry for the delay, https://github.com/Expensify/App/pull/11217 should fix the issue and was just merged

[2022-09-22 19:28] arosiclair commented on #10615
Still on hold.

@roryabraham you said you wouldn't mind picking up an issue like this since you're working on killing sequence numbers?

[2022-09-22 19:28] OSBotify commented on #11215
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.5-0 :rocket:

[2022-09-22 19:38] Santhosh-Sellavel commented on #8236
@sobitneupane

This was added by you, can you recall for which issue?
https://github.com/Expensify/App/blob/31287b661682b5be68ea7ed18ed9ab81e30c933a/src/components/CustomStatusBar/index.android.js#L12

[2022-09-22 19:48] youssef-lr commented on #11109
I was able to reproduce this. Working on figuring out what causes this.

[2022-09-22 19:56] kavimuru opened #11220 "Web -LHN - Crash after scrolling down in LHN expensifail account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in [applausetester+0704sveta@applause.expensifail.com](mailto:applausetester+0704sveta@applause.expensifail.com) / w323052

[2022-09-22 20:07] ctkochan22 commented on #11220
huh, the console makes it seem like an avatar issue?

[2022-09-22 20:17] MitchExpensify commented on #10027
Doubled!

[2022-09-22 20:22] neil-marcellini commented on #10437
I just added a failing test that proves that room notification preferences are also changed when you send a message (addComment) in a room.

[2022-09-22 20:26] MitchExpensify commented on #10356
Great! @akshayasalvi Please accept my invite to the [Upwork Job](https://www.upwork.com/jobs/~01b36c9e071c2d7400) and I will officially hire you, thanks!

[2022-09-22 20:27] kbecciv opened #11221 "mWeb - Cursor is missing after adding an emoji."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found we executing PR** https://github.com/Expensify/App/pull/11033

## Action Performed:
1. Go to any chat
2. Verify that you can type text i

[2022-09-22 21:02] Santhosh-Sellavel commented on #8236
Can you post an updated proposal?

[2022-09-22 21:16] Santhosh-Sellavel commented on #11164
@Gonals
Can we have more logs/info on this?

[2022-09-22 21:21] NicMendonca commented on #10163
@mdneyazahmad don't forget to apply for [the job](https://www.upwork.com/jobs/~01483fb4b26ac8eba4) in Upwork please!

@Santhosh-Sellavel don't forget to accept the invite to the job :)

[2022-09-22 21:27] alexpensify commented on #11135
Reopening - @mvtglobally can you reproduce? I've been unsuccessful to replicate this experience after following the steps in the .mov file.

[2022-09-22 21:27] mallenexpensify commented on #10615
For reference, from #expensify-open-source - [link](https://expensify.slack.com/archives/C01GTK53T8Q/p1663880640472169?thread_ts=1663714013.290919&cid=C01GTK53T8Q)

Many duplicate messages showing on the sender side, but not receiver.  Tough to reproduce

[2022-09-22 21:30] Santhosh-Sellavel commented on #11164
Yeah, but not concrete!

[2022-09-22 21:35] Santhosh-Sellavel commented on #10163
I am getting an error while accepting
@NicMendonca Can you cancel & resent please, thanks.

[2022-09-22 21:45] alex-mechler commented on #11202
Does both emojis only show up on the sender's side, or does the recipient also get two copies of the message?

[2022-09-22 21:49] NicMendonca commented on #11190
Job posting: https://www.upwork.com/jobs/~01b9eea0566c82c750

[2022-09-22 22:07] NicMendonca commented on #11204
Job post: https://www.upwork.com/jobs/~01b1a7d6d830a2580c

[2022-09-22 22:19] bondydaa commented on #11216
cannot reproduce this on `Version 1.2.5-0 (1.2.5-0)` with the staging or production server backend.

[2022-09-22 22:23] marcaaron commented on #11216
Gonna add this to my watch list but without a reproduction it's hard to know what is causing this. Probably we will need to capture logs or add more logs if we don't have any ones that can help identify the root cause.

[2022-09-22 22:32] kevinksullivan commented on #11189
https://www.upwork.com/jobs/~011d5256eaf415611d

[2022-09-22 22:41] bondydaa commented on #11216
oh also confirming I tested directly on staging.new.expensify.com as well and couldn't reproduce either

[2022-09-22 22:50] kavimuru opened #11222 "mWeb - The error message is displayed 2 times and sometimes not displayed with a dot"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #11037
## Action Performed:
1.Click on green fab icon (+)
2.Create a new room with the name "foo"
3.Repeat step 1, and c

[2022-09-22 22:51] aneequeahmad commented on #11135
@alexpensify Please try [these](https://github.com/Expensify/App/issues/11135#:~:text=Action%20Performed%3A,Click%20on%20remove) steps on the URL https://new.expensify.com/

[2022-09-22 22:53] kavimuru opened #11223 "[HOLD for payment 2022-10-07] [$250] IOS - Chat -Create Group button is hidden than unhidden when tap on field with finger"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with the same expensifail account
3. In app - tap on Fub menu
4. Select New Group
5. Type any email
6

[2022-09-22 23:23] kbecciv commented on #11216
@bondydaa @marcaaron I just check the issue again and noticed that its reproduced for the first attempt to request money .

https://user-images.githubusercontent.com/93399543/191868076-0d0f6b00-43c3-4163-886a-706d49de3174.mp4

[2022-09-22 23:23] Luke9389 commented on #11195
@Puneet-here please wait for the Help Wanted label to be applied before leaving a proposal. Thanks!

[2022-09-22 23:25] alexpensify commented on #11135
Correct, that's what I did here:

https://github.com/Expensify/App/issues/11135#issuecomment-1254221551

[2022-09-22 23:26] ctkochan22 commented on #11220
[code]

`personalDetails` is undefined, and so its erroring out as we are trying to get `personalDetails.avatar`.

[2022-09-22 23:26] ctkochan22 commented on #11220
Looks like it all crumbles when there is a room with 0 participants:
<img width="757" alt="image" src="https://user-images.githubusercontent.com/12980144/191868391-67aae4c6-6695-4ea0-8b70-ab79c6b12679.png">

[2022-09-22 23:35] bondydaa commented on #11216
hmm strange, i wonder if this is platform specific b/c even testing sending to accounts I've never requested money from i can't reproduce 🤔 very very weird.

[2022-09-22 23:39] mallenexpensify commented on #11143
Was wait for confirmation you'd accepted! Paid now. (insert dinner emoji)

[2022-09-22 23:39] #11143 closed

[2022-09-22 23:52] mallenexpensify commented on #6591
@Santhosh-Sellavel and @parasharrajat please apply https://www.upwork.com/jobs/~010cd155ccff98d5c0
and confirm here once you have

[2022-09-22 23:52] ctkochan22 commented on #11220
Okay, so rooms with 0 participants is what breaks it.
1. We pull the report data we need for the LHN object - [source](https://github.com/Expensify/App/blob/7fbe704ac8291944a7a8533bbcfa1df0e207b182/src/components/LHNOptionsList/OptionRowLHN.js#L59)
2. We get the participant list from the report object then pass it into `getPersonalDetailsForLogins() to get personal details --- [source](https://git

[2022-09-23 00:04] ctkochan22 commented on #10905
Not overdue

[2022-09-23 00:31] kavimuru opened #11227 "[HOLD for payment 2022-10-05] [$250] IOS - Chat - User get highlighted in grey when message is sent"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with the same expensifail account
3. Select user and send message
4. Select another user and send mes

[2022-09-23 00:33] kavimuru opened #11228 "[HOLD #10765] [$250] iOS - Chat -Scroll position incorrect after editing comment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with the same expensifail account
3. Select any user
4. Type a couple messages
5. Hold your finger in

[2022-09-23 00:39] ctkochan22 commented on #11117
Could be the logs: https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%2274ba790a5d572d5b-LAX%22)+AND+timestamp:[2022-09-16T14:00:42.545Z+TO+2022-09-16T16:00:42.545Z]&index=logs_expensify-018592

[2022-09-23 00:43] ctkochan22 commented on #11117
Oh interesting, if you look at the logs, it just logs the same error over andover and over again. Adding `/` to escape each special character? Then it loops until the logs are too long

[2022-09-23 00:47] kavimuru opened #11229 "[HOLD for payment 2022-11-29] [$250] Android/iOS - Chat and the FAB menu options open on the chat page when tapping both in quick succession."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App and login
2. From the LHN home screen, tap on any chat row and quickly tap on the green `+` icon (FAB)

## Expected

[2022-09-23 00:57] kavimuru opened #11230 "Web -Workspace - Unavailable workspace message appears when searching for the room created by admin until page refreshed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to account A in a regular browser
2. Login to account B in a incognito
3. Add B as a member in A's workspace
4. Create r

[2022-09-23 01:03] mallenexpensify commented on #11100
@grgia For the fix, did you use/reference code that @sobitneupane proposed?
I/we need to decide if they're due compensation

[2022-09-23 01:18] mallenexpensify commented on #11011
@kbecciv can you see if you can reproduce? Thx

[2022-09-23 01:45] mallenexpensify commented on #10906
@thesahindia , @Santhosh-Sellavel is **much** more knowledgeable about this issue than I so I'm going to agree with his post above.  If you disagree, please comment and tag Monil for review.

[2022-09-23 01:59] mallenexpensify commented on #11082
ah.. shit, I think I had a draft open in another duplicate tab I closed.  tl,deleted: recap
- I've mostly been testing "Is it loading at all"
- I was unable to reproduce the issue this morn on Desktop
- iOS app is _acting weird_ , need to do more testing to confirm issue/s.

It sounds like it's related, and possibly the same but I'm unsure if the reproduction steps are the same.   Recently I feel

[2022-09-23 02:21] Christinadobrzyn commented on #10663
Not sure why this is labeled as daily - going to move it to weekly but let me know if there's a reason for it to be daily.

[2022-09-23 02:27] mallenexpensify commented on #9234
Yes, thanks all

[2022-09-23 02:27] #9234 closed

[2022-09-23 02:36] adelekennedy commented on #7436
@parasharrajat @adeel0202 man these expire way too quickly - i just r[eopened it again!](https://www.upwork.com/jobs/~013a4533e3774a2845)

[2022-09-23 02:54] mananjadhav commented on #8846
@aimane-chnaif Your proposal looks good to me. I am only concerned about the need for updating the `Podfile`, but it seems it loads the pop of settings the next time? If that's not the case any specific reason why we need to add it now? Nevertheless your code seems to work, so I am find to handle that in the PR.

🎀 👀 🎀 
C+ reviewed

[2022-09-23 02:59] mananjadhav commented on #9233
I agree with @aimane-chnaif analysis, thanks for the detailed explanation. Your proposal looks good to me @aimane-chnaif .

🎀 👀 🎀 
C+ reviewed

[2022-09-23 03:06] dhairyasenjaliya commented on #9233
@mananjadhav have you taken a look at my first proposal here https://github.com/Expensify/App/issues/9233#issuecomment-1239420695
or which analysis do you agree

[2022-09-23 04:11] mananjadhav commented on #9233
@dhairyasenjaliya I did, and I agreed with @aimane-chnaif analysis for most items.

I don't recommend wrapping `TouchableOpacity` inside a `Text` and it generally causes problems with styling, wrapping of texts, etc. + this issue is only in iOS and I've used `supressedHighlighting` with 0 side effects. Another way to achieve this is to use Pressable which really requires us to rewrite multiple thi

[2022-09-23 04:26] dhairyasenjaliya commented on #9233
alright, I was just confirming thank you @mananjadhav

[2022-09-23 04:58] dhairyasenjaliya commented on #10555
- For removing autoCorrect We should check if textbox is secureTextEntry or not if yes then disable autoCorrect only for secureTextEntry

- Need to add conditions like below in https://github.com/Expensify/App/blob/main/src/components/TextInput/BaseTextInput.js#L196

- Test this condition with onMouseDown={e => e.preventDefault()} <Checkbox>

<img width="1386" alt="Screenshot 2022-09-23 at 10 25 2

[2022-09-23 05:01] MonilBhavsar commented on #11125
Thanks for looking into it.

Oh I see. Did you find any specific Onyx key we're setting wrong or steps to reproduce this crash?

[2022-09-23 05:11] MonilBhavsar commented on #11125
Thank you! 🙇 I'll take a look

[2022-09-23 05:40] adeel0202 commented on #7436
@adelekennedy you had already hired me for the previous job and its contract is still open. Can you please proceed with that contract for me? Thanks

[2022-09-23 06:01] kadiealexander commented on #11193
I tried to replicate this but I don't get a captcha code. @adeel0202 could you please let me know how you triggered the captcha?

[2022-09-23 06:02] kadiealexander commented on #9233
@roryabraham happy to proceed here?

[2022-09-23 06:09] adeel0202 commented on #11193
@kadiealexander I don't think there are any specific steps to trigger the captcha. I too get to see the captcha sometimes, and the other times, it just bypasses the captcha. You can try to reproduce it with different accounts and also by connecting to a VPN.

[2022-09-23 06:40] srikarparsi commented on #10847
sounds good @mananjadhav, the tooltip proposal looks good to me as well, lets move forward with that. The second issue is very similar so I agree that we can handle it in this pr

[2022-09-23 07:30] smrutiparida commented on #11204
### Proposal:

The Electron is upgraded to 20.2.0 locally without any breaking changes.

<img width="567" alt="Screen Shot 2022-09-23 at 12 35 35" src="https://user-images.githubusercontent.com/5945400/191908112-496055e8-70bd-42f9-a9a5-b481c762dba1.png">

There are 3 breaking changes introduced in 20.2.0. They are

[Breaking Changes](https://www.electronjs.org/releases/stable?version=20#breaking-c

[2022-09-23 08:20] mountiny commented on #10435
Oh boy someone should really update their phone

[2022-09-23 08:20] #10435 closed

[2022-09-23 08:53] christianwen commented on #10731
# **Proposal**

## **Solution**
We'll make use of `showSoftInputOnFocus` of React Native Text Input and `inputMode` of web input to achieve the intended behavior.

In `src/pages/home/report/ReportActionCompose.js`
[code]

In `src/components/Composer/index.ios.js`, `src/components/Composer/index.android.js`, `src/components/Composer/index.js`
[code]

Since `react-native-web` does not support `showS

[2022-09-23 08:56] Santhosh-Sellavel commented on #10729
On hold

[2022-09-23 08:57] Santhosh-Sellavel commented on #10971
Not overdue

[2022-09-23 09:04] mountiny commented on #11141
Done here already https://github.com/Expensify/App/pull/11173

[2022-09-23 09:04] #11141 closed

[2022-09-23 09:25] mrousavy commented on #10894
@roryabraham yes, this would probably pretty interesting! 😄

I'll talk to Thomas about availability then get back to you here or on Slack :)

[2022-09-23 09:28] MonilBhavsar commented on #10224
I had a look at the User_Delete flow and the [design doc](https://docs.google.com/document/d/1i8YQApRXOC1vWl4LMBUq4vHmA-58rNtVwn8gWpvLao0/edit#). I thought of displaying a growl after we make a Write request [here](https://github.com/Expensify/App/blob/c9fb793477266498bb4c407fe66dc7674f6ee4f4/src/libs/actions/User.js#L79) but realized we can't be optimistic that account will be deleted every time

[2022-09-23 09:51] Beamanator commented on #11229
Looks like a good External issue, maybe we can prevent opening the FAB / prevent having it clickable if the route includes a report ID? Just an idea

[2022-09-23 09:56] Beamanator commented on #10224
I think this could be a good convo to bring to slack, since:
1. As you mentioned, we try not to use `makeRequestWithSideEffects` when possible
2. Some people are adamant about not using Growls in our product, so maybe there's some other kind of message / notification we can display to the user

[2022-09-23 10:06] Christinadobrzyn commented on #10555
doubled price to $1000

[2022-09-23 10:39] laurenreidexpensify commented on #10950
@mananjadhav bump for review pls ^^

[2022-09-23 10:51] tylerkaraszewski commented on #11228
I can reproduce this but it's not as bad as it sounds, the message is simply scrolled slightly down. Marking as external.

https://user-images.githubusercontent.com/705000/191945342-c9dbe4cd-635c-459c-9781-231a30c6062f.mov

[2022-09-23 11:17] MonilBhavsar commented on #10224
Discussing here https://expensify.slack.com/archives/C03TQ48KC/p1663931636325039

[2022-09-23 11:20] Santhosh-Sellavel commented on #11228
Could be related to this https://github.com/Expensify/App/issues/10765

[2022-09-23 11:52] iwiznia commented on #11134
If this is a backend error, then we should fix it in the backend. But I am not sure exactly what the error is. Specifically, after calling which API command are we receiving the wrong `displayName` in the `personalDetails` onyx key?

[2022-09-23 11:53] michaelhaxhiu opened #11233 "[$250] Add mWeb Safari as a new platform for screenshots on each PR"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
We should test New Expensify on all platforms and browsers, including mweb on iOS (**safari**), to ensure it works perfectly for e

[2022-09-23 11:53] michaelhaxhiu commented on #11233
I'm making this GH retroactively, as Rajat already added this here and @amyevans reviewed the PR - https://github.com/Expensify/App/pull/11142

[2022-09-23 12:17] Beamanator commented on #10258
Hmm shouldn't this have made it to prod by now?

[2022-09-23 12:35] trjExpensify commented on #10221
Waiting on some input from @AndrewGable - who's back on Monday!

[2022-09-23 12:48] trjExpensify commented on #10327
Waiting on proposals.

I have a feeling that this is an underlying performance issue where it takes a moment to switch to the correct chat report. I don't think it "navigates to the incorrect chat", but rather it's slow to move from the chat that you're currently on for a few seconds.

@JmillsExpensify - this is prolly worth adding to the WQ project and I wonder if our optimisations around perform

[2022-09-23 12:55] trjExpensify commented on #7862
PR is still in review, with active discussion.

[2022-09-23 12:57] laurenreidexpensify commented on #11228
https://www.upwork.com/jobs/~01759c89ecc6414c9e

[2022-09-23 13:10] kbecciv opened #11234 "Web - App crashed after logged out from expensifail account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps1. Go to sstaging.new.expensify.com
2. Log in with HT account
3. Select any user and request money
4.

[2022-09-23 13:11] OSBotify commented on #11234
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-23 13:14] kbecciv opened #11235 "[$500] Web - OldDot Transition - The created workspace appears, disappears, and reappears"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to NewDot and log in with a existing account
2. Navigate to OldDot and log in with the same account from the previous

[2022-09-23 13:23] iwiznia commented on #11235
Oh damn yes, so odd.

[2022-09-23 13:23] kbecciv opened #11236 "[HOLD for payment 2022-11-02] [$250] Android- Request Call-Text structure does not look orderly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with the any account
3. Search for Concierge
4. Tap on Call icon
5. Tap on First Name field
6. Than t

[2022-09-23 13:26] danieldoglas commented on #11236
@zsgreenwald can you help us providing a shorter message so we can change this?

[2022-09-23 13:31] NicMendonca commented on #10414
price doubled - https://www.upwork.com/jobs/~01f21a08ef50dd0283

[2022-09-23 13:35] NicMendonca commented on #11095
bump @parasharrajat on these proposals ☝️

[2022-09-23 13:35] NicMendonca commented on #8722
@luacmartins still on hold?

[2022-09-23 13:38] iwiznia commented on #11134
Ah ok thanks! Was not completely sure.

[2022-09-23 13:40] iwiznia commented on #11134
ok, I think I know what the issue is. In order to be sure, I'd like reproduction steps. It _seems_ to me this happens when you update your first and last names to empty?

[2022-09-23 13:42] kbecciv opened #11237 "Chat -Green line displays after send attachment/messages offline and come back online."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Turn off your internet connection
4. Create a new room
5. Tap on plus button
5. S

[2022-09-23 13:42] OSBotify commented on #11237
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-23 13:45] iwiznia commented on #11134
ok I think I got a fix, but it's in the backend.

[2022-09-23 13:45] trjExpensify commented on #11229
What does HT stand for and will a contributor who gets this issue understand that abbreviation and be able to log-in to a "HT account"?

The expected results are ambiguous. It would need to be either of these things, and we should provide guidance on which one we want it to be. IMO, the last tap should be the action we take. So the chat page wouldn't open, only the global create menu would. @Beama

[2022-09-23 13:47] sketchydroide commented on #11237
is this only on Android, or does this happen in other platforms?
It seems weird to be platform specific

[2022-09-23 13:48] sketchydroide commented on #11237
@kbecciv ? (sorry forgot to tag you in the previous comment)

[2022-09-23 13:51] sketchydroide commented on #11237
Also please correct the title, it's a bit confusing as `New line` means a empty line in programing language, aka `return/enter`, did you mean `Green Line`?
thanks :)

[2022-09-23 13:55] iwiznia commented on #10891
Almost sure this is a dupe of https://github.com/Expensify/App/issues/11134 and we can close this

[2022-09-23 13:56] sketchydroide commented on #11237
@marcaaron I think [this change](https://github.com/Expensify/App/blob/261c712e1b8118de955bd31e6cf5b070dd285b3d/src/pages/home/report/ReportActionsList.js#L139-L140) might have been the cause of it? As it's a relative new change, and I think we just added the QA testrail steps yesterday.

This said, I'm not 100% this should be a deploy blocker. Offline first stuff are a new feature, so it makes se

[2022-09-23 14:01] kavimuru commented on #11158
@MonilBhavsar Will check with the team and update you.

[2022-09-23 14:05] sketchydroide commented on #11237
maybe not that change, I think it might be on [componentDidUpdate](https://github.com/Expensify/App/blob/f1dc53487835f580eb7e6c1c69a3082c5848e9ce/src/pages/home/report/ReportActionsView.js#L173-L217)

[2022-09-23 14:05] kavimuru commented on #11144
@luacmartins This is the video and already attached to the bug.
https://user-images.githubusercontent.com/43996225/191328657-b598739d-ff3a-4b71-8e64-894483071147.mp4

[2022-09-23 14:05] kbecciv commented on #11237
@sketchydroide Let me try with messages as well.

[2022-09-23 14:06] sketchydroide commented on #11215
looking at the deploy blocker https://github.com/Expensify/App/issues/11237

[2022-09-23 14:12] kbecciv commented on #11237
The same issue with message

https://user-images.githubusercontent.com/93399543/191980433-67e86fb6-3ed9-457d-af6e-048801b0f470.mp4

[2022-09-23 14:19] mollfpr commented on #9510
Hi @Santhosh-Sellavel @puneetlath any thoughts on the proposals?

[2022-09-23 14:23] sketchydroide commented on #11237
Ok, after some investigation I was able to reproduce the bug in Prod.

Here are the reproduction steps:
1. Launch the app
1. Log in with any account
1. Create a new room
1. Turn off your internet connection
1. write a new comment
1. Enable the internet connection

after a while the green line will appear.

I Don't think this is related to the Add Room Offline functionality. I'm inclined to remove

[2022-09-23 14:31] kbecciv commented on #11011
@mallenexpensify Chat list displays after signing in

https://user-images.githubusercontent.com/93399543/191984602-c5250da7-da02-485b-a924-7b9dba6d417a.mp4

[2022-09-23 14:36] kbecciv commented on #11122
@stephanieelliott Sorry for confusion. I meant the compose is highlighted in blue and cursor is active.
Attaching video in Web/Chrome

https://user-images.githubusercontent.com/93399543/191985666-f87bd490-96b0-4367-bfcb-c9c6ec8e5036.mp4

[2022-09-23 14:39] kbecciv commented on #11148
@bondydaa Attached device information
![IMG_4846](https://user-images.githubusercontent.com/93399543/191986477-b213cd78-72a8-4338-8722-e99e97a05ce2.png)

[2022-09-23 14:45] Beamanator commented on #11229
Sooo good point, HT is "High Traffic" which I think is a bit difficult to test as a contributor, but actually I'm even reproducing **easily** on Android w/ a non-HT account, so I'll remove that from the OP & title

Interesting, I was thinking the first action we take 🤔  Should we bring this to Slack for a wider discussion?

That's possible, but it would be pretty easy to tap a report & touch the F

[2022-09-23 14:51] luacmartins commented on #11234
@kbecciv the credentials shared in the issue don't seem to work. I see the error below. Can you please verify if they are correct?

![Screen Shot 2022-09-23 at 8 51 36 AM](https://user-images.githubusercontent.com/22219519/191989368-4cd8a290-a1c5-483a-a2e2-be80fc8bf61f.png)

[2022-09-23 14:58] kavimuru commented on #11144
@luacmartins We are not able to reproduce with the new build

https://user-images.githubusercontent.com/43996225/191990755-b7d51352-f9f8-4b37-a91f-c94bce0bb3c7.mp4

[2022-09-23 15:07] kbecciv commented on #11234
@luacmartins Sorry, overtyped email. Correct one is applausetester+0901abb@applause.expensifail.com/Feya86Katya

[2022-09-23 15:10] Puneet-here commented on #11195
Sorry for proposing early, I like the idea of waiting for the label to be applied. But recently most of the contributors are proposing just after the issue gets created. Because of it we really don't get the chance to propose a solution if we wait for the label.

[2022-09-23 15:38] Sheharyar566 opened #11238 "ReportScreen: Invalid prop `keyboardAvoidingViewBehavior` of value `` supplied to `ScreenWrapper`"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Run the application
2. Login if needed (basically the warning/error log appears in ReportsScreen)

## Expected Result:
Describ

[2022-09-23 15:38] #11238 closed

[2022-09-23 15:42] Sheharyar566 commented on #11238
```\src\pages\home\ReportScreen.js``` -> ```Line 28``` seems to be the issue:
[code]

[2022-09-23 15:48] luacmartins commented on #11234
I can repro this in prod (slightly different error at times, line 318 vs line 250), but the code that caused the crash in the QA video is also in prod.

I'm assigning @tgolen since this is part of his `SidebarLinks` clean up. I left some comments [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1663938674288959) as I investigated this issue.

![Screen Shot 2022-09-23 at 9 43 40 AM](https:/

[2022-09-23 15:48] Tushu17 commented on #10891
Hey @iwiznia, This issue was reported and created before #11134. So I think we should close the other issue.

[2022-09-23 15:50] luacmartins commented on #11215
@mvtglobally what's the status on regression?

[2022-09-23 15:53] Santhosh-Sellavel commented on #9510
@mollfpr We are evaluating the proposals will let you know thanks!

[2022-09-23 15:55] MitchExpensify commented on #8841
Offer sent on the [new Upwork post](https://www.upwork.com/jobs/~01b3a7b5c7e1262cc1) @Santhosh-Sellavel, mind applying for payment @mollfpr - Thank you

[2022-09-23 15:55] mvtglobally commented on #11215
@luacmartins
We are almost done.

PR #https://github.com/Expensify/App/pull/11033 is failing due to https://github.com/Expensify/App/issues/11221
PR https://github.com/Expensify/App/pull/11037 is failing due to https://github.com/Expensify/App/issues/11222. not a blocker. Checking off
PR https://github.com/Expensify/App/pull/10863 is failing. Logging 2 issues in a bit

[2022-09-23 15:59] luacmartins commented on #8722
Yes!

[2022-09-23 16:06] Tushu17 commented on #11236
### Proposal

https://github.com/Expensify/App/blob/373dce8f6be66a732a2e7b6b8a9a99511a0a0cd7/src/pages/RequestCallPage.js#L217-L221

We can use bankAccount.error.firstName and bankAccount.error.firstName instead of requestCallPage.error.firstName and requestCallPage.error.lastName.

https://github.com/Expensify/App/blob/373dce8f6be66a732a2e7b6b8a9a99511a0a0cd7/src/languages/en.js#L568-L569

Or if

[2022-09-23 16:19] bondydaa commented on #11216
<img width="1214" alt="image" src="https://user-images.githubusercontent.com/4073354/192005300-97bc6cd9-3de6-4f1f-8630-a2e2f4320ecb.png">

ooh boy i just reproduced this! but now I can't again with what I thought was the key...

I think it has to do with switching from a different chat to the 1:1 chat with the person you're requesting money. IIRC I started out with a group chat loaded I think betw

[2022-09-23 16:20] joelbettner commented on #11091
I think this can be worked on externally.

[2022-09-23 16:20] bondydaa commented on #11216
though my screenshot suggests otherwise since there are other IOUs shown there and dismissed 🤔

[2022-09-23 16:20] mollfpr commented on #8841
@MitchExpensify I already got the contract, just waiting to end the contract. Thanks!

[2022-09-23 16:24] luacmartins commented on #11144
I wasn't able to reproduce this either. Gonna close this issue. Feel free to reopen it if it shows up again!

[2022-09-23 16:24] #11144 closed

[2022-09-23 16:25] roryabraham commented on #11102
Should we make this external?

[2022-09-23 16:25] roryabraham commented on #11102
If it's internal and doesn't have an assignee I worry it won't get done quickly

[2022-09-23 16:28] kavimuru commented on #11158
@MonilBhavsar Sorry for the delayed response. Tester is still able to reproduce.
Account credentials : [applausetester+ihchat4@applause.expensifail.com](mailto:applausetester+ihchat4@applause.expensifail.com) / Yulia1986Gerets

https://user-images.githubusercontent.com/43996225/192008344-aeed9405-5c9a-4b18-9cda-40321d841eb1.mp4

[2022-09-23 16:29] luacmartins commented on #11126
Looking for proposals

[2022-09-23 16:30] luacmartins commented on #9848
Still looking for proposals

[2022-09-23 16:43] iwiznia commented on #10891
Sounds good to me

[2022-09-23 16:44] MitchExpensify commented on #8841
Ah I thought the old expired job took the old contract with it, thanks for correcting me. [On the old contract](https://www.upwork.com/nx/wm/workroom/30820845/details), it appears we've already paid out to you @mollfpr - Is that the case?

[2022-09-23 16:45] MitchExpensify commented on #8841
@Santhosh-Sellavel I've paid you using the old contract, no need to accept the new offer

[2022-09-23 16:46] mollfpr commented on #8841
@MitchExpensify Yup, it’s already paid.

[2022-09-23 16:47] MitchExpensify commented on #8841
Awesome! Looks like we are set here, thanks for your patience everyone!

[2022-09-23 16:47] #8841 closed

[2022-09-23 16:47] MitchExpensify commented on #8841
I'll end both contracts now too

[2022-09-23 16:48] luacmartins opened #11239 "[$250] [OptionsSelector] The cursor moves to the start of the input making typing hard"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Coming from [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1663949837316499)

## Action Performed:
1. Tap `+ > Request money`
2. Type a conta

[2022-09-23 16:48] MitchExpensify commented on #8841
Done :)

[2022-09-23 16:49] OSBotify commented on #11239
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-23 16:49] luacmartins commented on #11239
I can reproduce locally and reverting https://github.com/Expensify/App/pull/11036 fixes it.

[2022-09-23 16:53] ctkochan22 commented on #11153
Lets bring this to a daily. I'm not sure if its external, i feel like its a pusher issue?

[2022-09-23 16:53] Santhosh-Sellavel commented on #11189
@neil-marcellini

We have frontend restrictions but could be a backend too as per this comment

https://github.com/Expensify/App/blob/3780e0fe79a96bcfc86e1ac72e12814e5e981633/src/CONST.js#L16-L18

[2022-09-23 16:54] puneetlath commented on #10410
Hm, it looks like @kakajann was already paid for this job.

@mananjadhav sent you a hiring offer for C+.

[2022-09-23 16:55] jasperhuangg opened #11241 "[$1000] Scrolling on Android/Android Mobile Web doesn't have decelerating behavior like on iOS"
## Action Performed:
1. Navigate to any report or the LHN.
2. Scroll up or down.

## Expected Result:
Scrolling should decelerate when you lift your thumb off the screen.

## Actual Result:
Scrolling stops immediately when you lift your thumb off the screen.

## Workaround:
N/A

## Platform:

Where is this issue occurring?

- Android
- Mobile Web

**Version Number:** v1.2.4-2
**Reproducible in sta

[2022-09-23 17:08] marcaaron commented on #11082
Agree. And I think every bug report really needs to have as much information attached as possible and a clear title explaining what the bug is.

Otherwise we end up with an amorphous "things are vaguely broken" issue that is impossible to do anything about.

[2022-09-23 17:20] luacmartins commented on #11221
This is probably being introduced here https://github.com/Expensify/App/pull/11033

[2022-09-23 17:21] luacmartins commented on #11221
Actually, I can reproduce this on prod. So nvm my comment above.

[2022-09-23 17:22] kavimuru opened #11245 "mWEB/Safari - Nothing happens when tap "Set up my company for free""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #10949
## Action Performed:
1. Navigate to the URL https://staging.expensify.com/
2. Tap email > Enter email > Next > Jo

[2022-09-23 17:25] luacmartins commented on #11215
I think this is fine, since it's the behavior we have on prod now. Thanks for logging that issue though!

[2022-09-23 17:32] luacmartins commented on #11215
@mvtglobally ok, let me know once they are logged. Thanks!

[2022-09-23 17:40] thienlnam commented on #11201
cc @neil-marcellini Looks related to the new API changes for AddWorkspaceRoom

[2022-09-23 17:41] mananjadhav commented on #10410
Accepted @puneetlath

[2022-09-23 17:41] kavimuru opened #11246 "Workspace - App crashed when creating New room in offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #10863
## Action Performed:
1. Log in to any account
2. Create a workspace by clicking the green plus, New workspace (if nee

[2022-09-23 17:44] puneetlath commented on #10410
All paid!

[2022-09-23 17:44] #10410 closed

[2022-09-23 17:44] bondydaa commented on #10370
bumped the thread https://expensify.slack.com/archives/C9YU7BX5M/p1663955050653079?thread_ts=1660667122.003959&cid=C9YU7BX5M going to close this out and we can reopen once we have more results.

[2022-09-23 17:44] #10370 closed

[2022-09-23 17:46] mvtglobally commented on #11215
@luacmartins Here are the issues from https://github.com/Expensify/App/pull/10863
https://github.com/Expensify/App/issues/11230
https://github.com/Expensify/App/issues/11246
doesn't seem to be a blocker, but pls double check

[2022-09-23 17:54] Santhosh-Sellavel commented on #6591
Done Thanks @mallenexpensify

[2022-09-23 17:54] thienlnam commented on #11201
I am testing this locally and cannot reproduce on Web - can you confirm this is still happening @kbecciv ?

[2022-09-23 17:55] thienlnam commented on #11201
Actually, it looks like the changes https://github.com/Expensify/App/pull/10863 were deployed Yesterday so I imagine the new refactor fixed this so I will close - feel free to reopen if you still notice it happening

[2022-09-23 17:55] #11201 closed

[2022-09-23 17:57] jasperhuangg commented on #11228
True, let's HOLD this on that issue, see if it fixes things, and then decide if we want to take proposals on this one.

[2022-09-23 17:57] luacmartins commented on #11246
FWIW I could not repro this on staging.

[2022-09-23 17:58] jasperhuangg commented on #11159
Closing in favor of https://github.com/Expensify/App/issues/11241

[2022-09-23 17:58] #11159 closed

[2022-09-23 17:58] johnmlee101 commented on #11246
I could reproduce this on iOS

[2022-09-23 17:58] neil-marcellini commented on #11227
Yeah that's odd. Sending external.

[2022-09-23 17:58] johnmlee101 commented on #11246
v1.25-0

[2022-09-23 17:59] Luke9389 commented on #11195
Thanks so much for the feedback!

[2022-09-23 18:03] luacmartins commented on #11246
Oh interesting! I tried the same platform and version and didn't have an issue.
From the issue description it seems like it's also on prod so I won't block the deploy on it, but please keep investigating!

[2022-09-23 18:12] marcochavezf commented on #11088
Hi @rushatgabhane, what do you think about this [proposal](https://github.com/Expensify/App/issues/11088#issuecomment-1251412257)?

[2022-09-23 18:13] NicMendonca commented on #10163
@Santhosh-Sellavel can you try again please?

@mdneyazahmad you'll just need to accept the offer.

Thanks both!

[2022-09-23 18:18] NicMendonca commented on #10163
@mdneyazahmad paid 🎉

[2022-09-23 18:19] luacmartins commented on #11215
@mvtglobally Thank you! I was able to test https://github.com/Expensify/App/pull/10863 on iOS and it's a pass for me. I did see https://github.com/Expensify/App/issues/11230 happening. While I wasn't able to repro https://github.com/Expensify/App/issues/11246, another team member could repro it. However, since https://github.com/Expensify/App/issues/11246 also happens on prod, I won't block the de

[2022-09-23 18:20] luacmartins commented on #11215
Checking off https://github.com/Expensify/App/pull/10863!

[2022-09-23 18:20] marcochavezf commented on #10610
According to this [post](https://expensify.slack.com/archives/C01SKUP7QR0/p1663754280536209), I'm going to put this issue on hold until we have a solution for the keyboard initiative because seems to be related. Also, I'm going to remove the label `Help Wanted`. @dylanexpensify could you remove the job from Upwork?

[2022-09-23 18:21] luacmartins commented on #11215
Waiting for https://github.com/Expensify/App/pull/11240 to hit staging so I can test it before kicking off the deploy.

[2022-09-23 18:21] luacmartins commented on #11215
@mvtglobally is regression done?

[2022-09-23 18:25] OSBotify commented on #11215
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11244) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.5-2` :rocket:

[2022-09-23 18:29] luacmartins commented on #11239
This is done. Closing!

[2022-09-23 18:29] luacmartins commented on #11215
I tested https://github.com/Expensify/App/pull/11240 and it's a pass. Checking it off.

[2022-09-23 18:38] mvtglobally commented on #11215
Regression is completed

[2022-09-23 19:03] Santhosh-Sellavel commented on #10163
Done thanks @NicMendonca!

[2022-09-23 19:05] NicMendonca commented on #10163
fab, everyone is paid! Happy weekend! 😊

[2022-09-23 19:09] mvtglobally commented on #11215
@luacmartins Are we good to check #11244?

Do you plan to deploy today or Monday only?

[2022-09-23 19:28] Santhosh-Sellavel commented on #10258
Yeah, It's on production, verified everything looks good! This should be due for payment.
@Beamanator

cc: @michaelhaxhiu

[2022-09-23 19:30] luacmartins commented on #11215
@mvtglobally we are still waiting to test https://github.com/Expensify/App/pull/11244 on iOS. It's a pass on all other platforms.

I'm gonna deploy today, once we test https://github.com/Expensify/App/pull/11244

[2022-09-23 19:43] luacmartins commented on #11215
https://github.com/Expensify/App/pull/11244 is a pass.

[2022-09-23 19:45] luacmartins commented on #11215
:shipit:

[2022-09-23 19:45] #11215 closed

[2022-09-23 19:47] OSBotify commented on #11215
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.5-2 has been deployed to staging :tada:

[2022-09-23 19:49] OSBotify opened #11252 "Deploy Checklist: New Expensify 2022-09-23"
**Release Version:** `1.2.6-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/10491
- [x] https://github.com/Expensify/App/pull/10860
- [x] https://github.com/Expensify/App/pull/10984
- [x] https://github.com/Expensify/App/pull/11013
- [x] https://git

[2022-09-23 20:03] Luke9389 commented on #11083
Interested to see what comes up here. Not sure if we'll get a proposal that fits perfectly but might as well hear some.

[2022-09-23 20:40] OSBotify commented on #11252
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.6-0 :rocket:

[2022-09-23 21:25] marcochavezf commented on #11223
Corroborated that's happening on iOS, it's working fine on Android though. Applying the `External` label.

[2022-09-23 21:41] roryabraham commented on #10345
This seems to have been resolved by https://github.com/Expensify/App/pull/10860

[2022-09-23 21:41] roryabraham commented on #10345
Reopening to pay @ntdiary a bounty for figuring out the NDK issue

[2022-09-23 21:43] roryabraham commented on #10345
@ntdiary Please apply to the [upwork job](https://www.upwork.com/jobs/~01d9b42815de8e3b6b) so that @adelekennedy can pay you the bounty. No C+ bounty on this one

[2022-09-23 21:54] mallenexpensify commented on #11099
@mvtglobally can you see if you're able to reproduce, thanks

[2022-09-23 22:11] mallenexpensify commented on #11011
@kbecciv weird, it looks like, in the vid in the OP, that NOTHING loaded on the page til refresh.  For the test yesterday, it appears LHN loads but the main chat window doesn't.  Any idea why that might be different?
I tested with your credentials in a Chrome incognito window and had the same result as your vid above, LHN loaded but nothing in the main chat. Not sure why.

When I tested with my ex

[2022-09-23 22:33] roryabraham opened #11255 "[$250] Ditch underscore, standardize on lodash"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

### Problem
We currently use both underscore and lodash very prevalently throughout this project. However:

- Lodash is a superset of underscore, so i

[2022-09-23 22:37] mallenexpensify commented on #6591
Hired @Santhosh-Sellavel , please accept.  @parasharrajat , please accept invite
 https://www.upwork.com/jobs/~010cd155ccff98d5c0

[2022-09-23 22:44] stephanieelliott commented on #9545
Oop, holding on paying this out while we investigate the regression.

[2022-09-23 22:51] francoisl commented on #11157
Ok cool, thanks for the context. Looks like this could be a good contributor improvement opportunity.

[2022-09-23 22:52] francoisl commented on #11157
Hmm sorry not sure what happened with assignments here, I only unassigned myself but somehow GH says I unassigned @thesahindia ? 😕

[2022-09-23 23:01] roryabraham commented on #11255
Turns out lodash doesn't support `pluck` or `contains`, so I'm actually going to just close this because it's not as simple as just a find/replace.

[2022-09-23 23:01] #11255 closed

[2022-09-23 23:05] adelekennedy commented on #11199
[internal](https://www.upwork.com/ab/applicants/1573448294974300160/job-details)
[external](https://www.upwork.com/jobs/~012cc4ddcc4b38ba27)

[2022-09-23 23:07] adelekennedy commented on #11126
[internal](https://www.upwork.com/ab/applicants/1573448917866233856/job-details)
[external](https://www.upwork.com/jobs/~0140799348fa63e0cc)

[2022-09-23 23:12] puneetlath commented on #11157
Weird. I re-assigned him.

[2022-09-23 23:30] luacmartins commented on #11255
They do have alternatives as `pick` or `includes` but I'm not sure if those methods are the same.

[2022-09-23 23:32] neil-marcellini commented on #10437
Right now I have passing tests that confirm that the room notification preference is not changed for the acting user when renaming rooms and commenting.

I also wanted to test that the notification preference for other room members remain the same, but when I invited another policy member in the test they didn't get included in the participantAccountIDs [here](https://github.com/Expensify/Web-Expe

[2022-09-23 23:33] roryabraham commented on #7822
I love this ❤️

You know it's a good lint rule when turning it on reveals a bunch of violations

[2022-09-23 23:43] mallenexpensify commented on #10615
@arosiclair , here's the tracking issue for deprecating sequence numbers https://github.com/Expensify/Expensify/issues/227234

[2022-09-23 23:53] mallenexpensify commented on #11082
Dropped[ a reminder for CM team to triage ](https://expensify.slack.com/archives/C01SKUP7QR0/p1663971707009829)before posting jobs to Upwork (that wouldn't have helped this issue but it's still important)

We can def improve the process for ensuring clean/clear details and reproducible steps. I'm going to hold off on making a handful of potential changes because the BugZero update should be coming

[2022-09-23 23:53] #11082 closed

[2022-09-23 23:56] dangrous commented on #11230
Yep this is definitely happening. Very reproducible using the instructions in the issue, so I'm going to put the Demolition label on (this is my first time doing this so if I'm incorrect let me know!). Probably Weekly since it's not really preventing anything (you can still chat, it's only the text itself that's wrong).

[2022-09-24 01:13] roryabraham commented on #10367
Got a PR up to fix this and a few related bugs: https://github.com/Expensify/App/pull/11257

[2022-09-24 03:56] dhairyasenjaliya commented on #11227
**Proposal**

- If we want to remove highlighted then we need to remove the below block

`focusedIndex={_.findIndex(optionListItems, (
                        option => option.toString() === this.props.currentlyViewedReportID
                    ))}`

https://github.com/Expensify/App/blob/b75faf0f6f5dcf8eab5e3734345f56256c7f3815/src/pages/home/sidebar/SidebarLinks.js#L152-L169

**Result**

https:/

[2022-09-24 05:02] getusha commented on #11126
The save Button is _specifically responsible_ for only changing the room name.
The notification preference gets updated when it is **picked**.

[2022-09-24 08:52] lbaldy commented on #2727
@parasharrajat  thanks for the update - my PR has been updated https://github.com/Expensify/App/pull/9143 - synced with main and revert of #29290 applied.

I run a quick smoke test, the React Native fix is there in node_modules as well as the fix seems to be working well.

[2022-09-24 13:43] kbecciv opened #11259 "mWeb - Manage members- Search box is hidden when start typing user name under Invite new member"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with any account
3. Go Setting - Workspace - Manage members
4. Tap Invite members an

[2022-09-24 13:55] kbecciv opened #11260 "[Refactor] Able to remove PayPal account while offline, when enabled wifi - account still present"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in any account
3. Go to Settings - Payments
4. Add Paypal account
5. Disable in internet connection
6. R

[2022-09-24 14:08] kbecciv opened #11261 "[HOLD for payment 2022-11-02] [$250] mWeb - Chat - The name with a long email address is truncated"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
and login with any account
2. Click on FAB button/New Chat
3. Enter long email fo

[2022-09-24 14:17] kbecciv opened #11262 "New Room - The room notifications change randomly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Click on FAB button/New Room/create New Room
3. Tap on "Settings"
4. Disable t

[2022-09-24 14:25] kbecciv commented on #11262
This issue could be the same root of cause https://github.com/Expensify/App/issues/11126

[2022-09-24 15:23] kbecciv opened #11263 "Web - New Room - Can't use a capital letter for the name of the New Room"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
and login with applause expensifail account
2. Click on FAB button/New Room
3. Tr

[2022-09-24 15:57] dhairyasenjaliya commented on #11263
**Proposal**

- In the current code when we create a new Room with a new room we are converting name to lowercase
- In order to allow capital letters we need to remove `.toLowerCase()`
- Don't know if this is an actual bug as in the code it's mentioned room name must be lowercase

`Need to remove .toLowerCase();`

https://github.com/Expensify/App/blob/b75faf0f6f5dcf8eab5e3734345f56256c7f3815/src/c

[2022-09-24 16:01] thesahindia commented on #11263
Yes, It's not an issue. We can close this.

cc: @cristipaval

[2022-09-24 16:56] kbecciv opened #11264 "IOS/Android - Workspace - Rate and Unit got switch for a brief moment under Reimbursable expenses"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/11155

## Action Performed:
1. Launch the app
2. Log in with any account
3. Go

[2022-09-24 16:57] OSBotify commented on #11264
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-24 16:57] mollfpr commented on #11227
### Proposal

**Root cause**
We have option `disableFocusOptions` but not implemented on `LHNOptionsList`. The prop is used to determine should the option row has focused or not.
https://github.com/Expensify/App/blob/b75faf0f6f5dcf8eab5e3734345f56256c7f3815/src/pages/home/sidebar/SidebarLinks.js#L165

It's already implemented on the `OptionList` component.
https://github.com/Expensify/App/blob/b75

[2022-09-24 17:16] kbecciv opened #11265 "[$2000] mWeb/Chrome - Chat -After refresh the page while offline - the composed box is frizzed and message appears in composed box"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/11219

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with

[2022-09-24 17:17] mollfpr commented on #11195
### Proposal

I got confused after clicking the save button because there's no feedback and closing the keyboard doesn't make me realize if the save is a success.

I'm suggesting navigating the page back to the workspace initial page after submitting or adding a growl notification.

[code]

**Result**

https://user-images.githubusercontent.com/25520267/192110631-651bfd1f-a07d-4019-af80-9a7e5a8eb7c

[2022-09-24 17:37] sheggietyn commented on #11199
AS REQUESTED ON UPWORK -- THIS IS MY PROPOSAL

Even without seeing the code for the app yet, I observed that the animation to the Page layout having issues could be the cause, this might be a problem with the React Navigation animation used.

-- This Issue can be solved if animation is removed from the page, and I hope a Safeareaview was added, i will like to see the code, I'm sure i can solve the

[2022-09-24 18:36] varshamb commented on #10599
@MitchExpensify no one is assigned

[2022-09-24 18:45] melvin-bot[bot] opened #11266 "[$250] Investigate: 💥 Crash 💥 `RCTMergeRecursive`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: NSInvalidArgumentException
### -[NSNull objectForKeyedSubscript:]: unrecognized selector sent to instance 0x1fbdcfa88
### `RNCAsyncStorage.m line 184` `RCTMergeRecursive`
### Number of Crashes: 39

## Device Information
* **Platforms:** iOS
* **App Versions:** `1.2.4.2`
* **Devices:** App

[2022-09-24 19:27] mananjadhav commented on #8929
This was deployed to production 2 days back, but no automation comment on the merge here in the issue? And no update on payment date too.

[2022-09-24 19:32] Puneet-here commented on #11227
### Proposal

isFocused is being used to know which option is focused and we apply styles to the focused option. We want this functionality to work for LHN at big screens but not for small screens.

We can use withWindowDimensions to know the screen width and we can just check if it's a small screen width device

Replace this line 72 with
[code]

https://github.com/Expensify/App/blob/b75faf0f6f5dc

[2022-09-24 19:40] mananjadhav commented on #10847
@srikarparsi Can you assign the issue/job so that @mdneyazahmad can work on it.

[2022-09-24 19:45] mananjadhav commented on #10931
Waiting for proposals.

[2022-09-24 19:57] Puneet-here commented on #10483
I think it's not reproducible anymore.

[2022-09-24 20:00] lbaldy commented on #2727
Done, all updated including the videos.

[2022-09-24 20:04] mananjadhav commented on #10950
@Abdallah-Ahmed-moh's proposal looks good to me and it'll work.  Though my recommendation is to dry up some lines of the code. We're already doing something similar for the green button, on L200. Let's move the logic to a common function.

@tgolen All yours.

🎀 👀 🎀 
C+ reviewed

[2022-09-24 20:25] mananjadhav commented on #11129
Based on the logs and above comments it seems @kakajann's proposal is correct. The above logs are from `IOUModal`, but similar calls exist in `IOUConfirmationList` too. Should we be handling there too?

cc - @marcaaron

[2022-09-24 21:36] michaelhaxhiu commented on #10290
@parasharrajat do you think our ongoing issue https://github.com/Expensify/App/issues/9252 will include a fix for this bug, too? Or should we treat as it's own scope and fix it separately?

[2022-09-24 21:39] youssef-lr opened #11267 "Refactor Form: Support `errors` and `errorFields` returned from the backend, and add possibility to hide the submit the button"
## Problem
We recently started returning an `errors` object in `onyxData` from the API that contain the latest error related to a form submission. The current `Form` component does not take into account the new key and no server error message gets displayed when we submit incorrect data.

There are also some cases where we need to hide the submit button but this is currently not possible as it is

[2022-09-24 21:55] mananjadhav commented on #11199
@sheggietyn Thanks for the comment, but please refer these [contributing](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md) guidelines to see the process of adding the proposal.

And the code is already open sourced in this repository. You can fork and checkout the readme to setup the app to see it for yourself.

[2022-09-24 21:55] mananjadhav commented on #11199
@sheggietyn Thanks for the comment, but please refer these [contributing](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md) guidelines to see the process of adding the proposal.

And the code is already open sourced in this repository. You can fork and checkout the readme to setup the app to see it for yourself.

[2022-09-24 22:45] kbecciv opened #11268 "[$250] Desktop - Chat - Not all markdown is removed if text is pasted by command CTRL+SHIFT+V"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Copy the text with markdown (** for bold, __ for italics, `` for code) and navigate to ND chat
2. Paste the text that was prev

[2022-09-24 22:54] kbecciv commented on #11202
@alex-mechler  Only appears in sender's side.

[2022-09-24 22:59] kbecciv opened #11269 "mweb - Old dot - Creating a workspace from "Join" crashes the tab with different account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-Condition: User has another tab open on staging.new.expensify.com signed into account B
1. Access staging.expensify.com on an

[2022-09-24 23:06] mananjadhav commented on #11079
@sobitneupane Your proposal looks good to me. The only thing is `shouldShow` has existing 3rd and 4th parameters, so this should go as a new param. Also I'll leave it to @stitesExpensify if we should just pass the `report` object instead of `isArchivedRoom`.  I am fine with both.

@Puneet-here I didn't understand your proposal. Are you suggesting we don't show the messages at all? I don't think we

[2022-09-24 23:12] mananjadhav commented on #10625
Hey @arielgreen I am a bit tied up with my backlog. I didn't see this issue, can you please reassign this one.

[2022-09-24 23:31] mananjadhav commented on #10608
I couldn't find any regression. @oogushikun  I did check your proposal and this is exactly what `react-native-animatable` uses underneath for `sliderInRight` and `sliderInLeft`. Could you explain why is it not working in the library and why the same function works when used in `AnimatedStep` component?

[2022-09-25 01:11] sobitneupane commented on #11266
This might be related to https://github.com/Expensify/App/issues/10975 and https://github.com/Expensify/App/issues/11125 issues.

[2022-09-25 04:00] chauchausoup commented on #11195
`Saving a workspace name should close the keyboard and un select the focus from form input section. Also in case of other input form elements in ios and android app. When I do same thing in web app then the Save button is frozen immediately once its pressed. We need same sort of button freezing effect in ios app.`
@mollfpr this is the actual issue as per slack [thread](https://expensify.slack.com/

[2022-09-25 05:26] mananjadhav commented on #10973
Waiting for proposals.

[2022-09-25 05:34] mananjadhav commented on #11094
Yeah, we should hold them. This is the issue where we're tagging all Keyboard related issue.

https://github.com/Expensify/App/issues/10273

[2022-09-25 06:15] melvin-bot[bot] opened #11270 "[$250] Investigate: 💥 Crash 💥 `com.facebook.react.animated.NativeAnimatedNodesManager.connectAnimatedNodeToView`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: com.facebook.react.bridge.JSApplicationIllegalArgumentException
### connectAnimatedNodeToView: Animated node with tag [3402] does not exist
### `NativeAnimatedNodesManager.java line 401` `com.facebook.react.animated.NativeAnimatedNodesManager.connectAnimatedNodeToView`
### Number of Crash

[2022-09-25 12:42] dhairyasenjaliya commented on #11239
hello @luacmartins @rushatgabhane  am I eligible for reporting this issue as I have posted this issue in slack first here but somehow got missed and also I have mentioned this might be a deploy blocker  https://expensify.slack.com/archives/C01GTK53T8Q/p1663824664105649

[2022-09-25 16:25] Santhosh-Sellavel commented on #11092
@arielgreen or @NikkiWines

Busy with other items, also limited availability for next couple weeks So un-assigning this one. Can you reassign this to another C+ by reapplying label.

Thanks!

[2022-09-25 17:59] laurenreidexpensify commented on #11044
@varshamb The hire offer is pending in Upwork - I can issue payment as soon as you accept :) Thanks!

[2022-09-25 18:02] laurenreidexpensify commented on #11241
@jasperhuangg co-assigning to you to check link to the regression as above, thanks

[2022-09-25 18:46] varshamb commented on #11044
@laurenreidexpensify Applied on 16Sep, Please resend hire offer if needed.

[2022-09-25 20:46] ahmdshrif commented on #10352
@Christinadobrzyn I am not sure why this gets close but I still repro the issue

![Simulator Screen Shot - iPad Pro (12 9-inch) (5th generation) - 2022-09-25 at 22 44 28](https://user-images.githubusercontent.com/21364901/192164785-42311930-1ce6-4cc1-9aaf-50db4d5fd0ef.png)

[2022-09-25 22:01] jliexpensify commented on #10947
Doubled, sorry was OOO!

[2022-09-25 22:14] kbecciv opened #11272 "[Hold]Admin Room - Infinite loading after clicking on Expensify team email - reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with expensifail account
3. Create a new workspace
4. Go to settings > workspace> ma

[2022-09-25 22:21] jliexpensify commented on #10905
Going to double this one, since we don't have any accepted proposals

[2022-09-25 22:37] jliexpensify commented on #11170
Internal - https://www.upwork.com/ab/applicants/1574165999145537536/job-details
External - https://www.upwork.com/jobs/~0150abf238d9553c81

Invited @Santhosh-Sellavel

[2022-09-25 22:45] jliexpensify commented on #11171
Internal - https://www.upwork.com/ab/applicants/1574168172563046400/job-details
External - https://www.upwork.com/jobs/~011227b6ffaae7beb3

invited @Santhosh-Sellavel

[2022-09-25 22:50] jliexpensify commented on #11266
Internal - https://www.upwork.com/ab/applicants/1574169204085006336/job-details
External - https://www.upwork.com/jobs/~017f0c3c916255d116

Invited @sobitneupane

[2022-09-25 23:54] jeet-dhandha commented on #10283
### Proposal:
1. The culprit here is `maintainVisibleContentPosition` which is not working as expected. (https://stackoverflow.com/a/64935078/17278253).
2. We can do one thing that is, we remove `maintainVisibleContentPosition` and use `onContentSizeChange`.
3. So whenever content size changes we use `scrollToIndex` function to scroll to 0th index. And this works.

Code Changes:
<img width="1022"

[2022-09-26 00:53] jeet-dhandha commented on #11229
### Proposal
1. For this we can simply navigate user back to `HOME` screen if he accidentally presses on the FAB menu.

### Code:

<img width="1023" alt="Screenshot 2022-09-26 at 6 22 15 AM" src="https://user-images.githubusercontent.com/78416198/192174212-c179d8c5-b362-4227-b311-0583dc42e62b.png">

### Fixed Video:

https://user-images.githubusercontent.com/78416198/192174264-62510594-a28d-4699-8

[2022-09-26 01:41] shawnborton commented on #10352
@ahmdshrif which device & version are you testing on?

@mvtglobally and which device were you testing on when you saw that this was no longer happening?

[2022-09-26 02:10] chauchausoup commented on #11272
Actually it was raised earlier in here.
https://expensify.slack.com/archives/C01GTK53T8Q/p1661462019061489
Also same issue is there on various random instances. In my case if a particular chat has no timezone message shown at the bottom has shown such behaviour.

[2022-09-26 04:27] mvtglobally opened #11273 "[$500] Removing very last message from any conversation or any workspace showing __fake__ into sidebar page - reported by dhairyasenjaliya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to any new workspace/conversation
2. Remove all the messages
3. Go back to Sidebare page (main chat page)
4. Notice you wil

[2022-09-26 04:29] mvtglobally opened #11274 "After deleting mark as unread message chat still bold on home page - reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1.  go to any chat
2.  click on any message and marked as unread
3.  delete that message
4.  go back to home screen

## Expected

[2022-09-26 04:36] srikarparsi commented on #9408
^

[2022-09-26 04:39] mvtglobally opened #11275 "[$1000] Dev - Getting an error while running the local web app - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. run the local web server via npm run web.
2. Notice the error on terminal or going to localhost:port.

## Expected Result:
No

[2022-09-26 05:11] mvtglobally opened #11276 "Hyperlinks are not clickable on IOS and android platforms - Reported by @chauchausoup"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to IOS/Android app
2. Enter any suitable hyperlink (eg: [google.com](http://google.com/))
3. Tap on just entered hyperlink

[2022-09-26 05:15] srikarparsi commented on #10847
yup, sorry I missed that, assigning him now

[2022-09-26 05:19] chauchausoup commented on #11276
Now I am testing the issue and I can see that production IOS app is showing the issue as above screen record but the emulator version on both app are not replicating the issue.

[2022-09-26 05:30] srikarparsi commented on #10762
I'm actually not too sure about this one as I haven't worked on API refactors. It does look like an API issue though so I would say we should mark it internal but @marcaaron, do you think you could take a second look at this?

[2022-09-26 05:42] mvtglobally commented on #10181
@mountiny seem to be still happening. Not sure if we are missing anything

https://user-images.githubusercontent.com/43995119/192201718-66ca663f-ec97-456f-8a68-39a5cef0f07a.mp4

[2022-09-26 05:44] adelekennedy commented on #11103
[External](https://www.upwork.com/ab/applicants/1574273529473011712/job-details)
[Internal](https://www.upwork.com/jobs/~01404ac90cfd27bcd9)

[2022-09-26 05:46] adelekennedy commented on #11104
[internal](https://www.upwork.com/ab/applicants/1574274027308490752/job-details)
[external](https://www.upwork.com/jobs/~01422afdb6f59609ff)

[2022-09-26 05:47] mvtglobally commented on #11131
@amyevans i was able to reproduce at the time of logging this issue. I am not able to repro now, but I will also ask team to check if anyone can reproduce

[2022-09-26 05:48] mvtglobally commented on #10029
@mallenexpensify Issue is no longer repro it seems

https://user-images.githubusercontent.com/43995119/192202488-c2a9e9f1-7549-4a3f-90ce-00f1899298b5.mp4

[2022-09-26 05:50] mvtglobally commented on #11082
@mallenexpensify i am not able to reproduce this issue. Asked team to check as well

[2022-09-26 05:52] mvtglobally commented on #11135
@alexpensify we are also not able to reproduce. Really not sure why.

[2022-09-26 05:55] mvtglobally commented on #11099
@mallenexpensify Consistently repro

https://user-images.githubusercontent.com/43995119/192203256-95ccacb5-3bef-4c32-9cfd-4f6791a4923f.mp4

[2022-09-26 06:00] mvtglobally commented on #10352
@shawnborton
Apple iPad 6 - 9.7 (2018) & Apple iPad Pro
![ipad_10352-0409](https://user-images.githubusercontent.com/43995119/192203908-27a98625-8e63-45f6-8f2d-10a72703fa86.jpg)

[2022-09-26 06:03] mananjadhav commented on #10847
Afaik, @mdneyazahmad you should get the reporting bonus.

cc - @srikarparsi @arielgreen

[2022-09-26 06:04] mvtglobally opened #11277 "[HOLD for payment 2022-12-23] [$2000] [Bug] Keyboard being open/closed changes position of ToS on certain mobile platforms - reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open login page on a fresh install OR after clearing app data
2. Enter email/phone number.
3. Open the touch screen keyboard

[2022-09-26 06:09] Puneet-here commented on #11079
I am suggesting to only render the code for message without wrappers for different actions.

[2022-09-26 06:12] mananjadhav commented on #11079
and does that mean we'll see no Context actions?

[2022-09-26 06:13] Puneet-here commented on #11079
Yeah only for archived chats.

[2022-09-26 06:15] mananjadhav commented on #11079
Okay thanks for clarifying, but I feel we should retain Copy to Clipboard and Mark as unread.

[2022-09-26 06:18] sobitneupane commented on #10093
This issue might be related to this bug I posted few days ago in [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1662394376243499). It is reproducible without going offline. Quotes are appearing as `&quot;` in LHN, header, details page, Settings Page and Profile Page but working fine in Chat or Report.

**Screenshots:**
**Working fine in chat/report**
<img width="350" alt="Screen Shot 20

[2022-09-26 06:23] Puneet-here commented on #11079
The reason I am suggesting this is that we are going to have more new actions then we will have to disable them as well and we are rendering too much code for actions in archived chat messages, I agree that Copy to Clipboard can be useful but most of the people use web and desktop so they can copy the message by selecting the text. However not sure how much useful Mark as unread will be in the arc

[2022-09-26 06:58] MonilBhavsar commented on #11125
Looking into it

[2022-09-26 07:16] Santhosh-Sellavel commented on #10108
PR is deployed

[2022-09-26 07:19] Santhosh-Sellavel commented on #8236
Not overdue

[2022-09-26 07:43] sobitneupane commented on #8236
@Santhosh-Sellavel It was added for https://github.com/Expensify/App/issues/7075

[2022-09-26 08:26] MonilBhavsar commented on #10127
@NicMendonca can we close this if we have issued payment to everyone involved?

[2022-09-26 08:34] laurenreidexpensify commented on #11228
This is [Hold] so not overdue

[2022-09-26 08:39] Gonals commented on #11197
Setting as external!

[2022-09-26 08:41] Gonals commented on #10975
Hmm. I think you are right. At least, an internal developer will have a better chance to get the whole picture

[2022-09-26 08:42] Gonals commented on #10975
Sending to the internal pool!

[2022-09-26 08:46] Julesssss commented on #11157
Awaiting proposals

[2022-09-26 08:52] laurenreidexpensify commented on #11044
@varshamb oh weird, it's showing on my side on Upwork that you still need to accept the offer. Can you take a look and doublecheck nothing is pending there on your account? Thanks!

[2022-09-26 08:53] akshayasalvi commented on #10356
I am working on this issue and completed partially. There's an issue with some emojis when I add skin tone to them. So working that out.

[2022-09-26 08:54] #11263 closed

[2022-09-26 09:13] ahmdshrif commented on #10352
@shawnborton I test on iPad  12.9  5Th gen simulator (main)

from some code debugging this only appear if the screen has big width. so it may not appear on small iPads or in portrait mode.

@mvtglobally  can you please test on iPad 12.9 on landscape orientation?

[2022-09-26 09:34] trjExpensify commented on #10507
Still on hold for the wider react-navigation revisit.

[2022-09-26 09:39] trjExpensify commented on #9971
@chiragsalian are we in a position to pick this one up now?

[2022-09-26 09:40] trjExpensify commented on #10221
^^ no change since Friday melv, jeez!

[2022-09-26 09:45] christianwenifr commented on #11157
**Proposal**

**Problem**
This issue is from FormAlertWithSubmitButton component. When isOffline is true, we are showing the disabled button

**Solution**
I add the optional shouldAllowSubmitWhenOffline prop into FormAlertWithSubmitButton and we just only show the disabled button when isOffline is true and shouldAllowSubmitWhenOffline is false.
we also add pendingFields include of firstName, lastN

[2022-09-26 10:12] nkuoch commented on #11269
I think that's wanted, as we don't want the 1st tab to appear connected whereas the active user on the browser is someone else now.

[2022-09-26 10:12] #11269 closed

[2022-09-26 10:12] techievivek commented on #10442
Have posted in `#product` for some thoughts on the above point.

[2022-09-26 10:43] friedolinfoerder commented on #7925
Hey everyone, I am a developer at [Steuerbot](https://www.steuerbot.com/) and me and our frontend team are struggling with this issue for a long time, because our app needs to hold the position even if new elements were added at the top of the chat list.
For that reason we hoped an official android support for the `maintainVisibleContentPosition` property would be developed, but this never happene

[2022-09-26 10:59] Beamanator commented on #11229
Awaiting proposal review, not overdue

[2022-09-26 11:12] trjExpensify commented on #11229
Job on Upwork here: https://www.upwork.com/jobs/~019fb94172f17c76bc

[2022-09-26 11:16] danieldoglas commented on #11236
@Tushu17 thanks for your proposal, but just to be clear: this item was not yet exported, and I'm not sure we will actually export it. Will let you know.

[2022-09-26 11:40] pecanoro commented on #7918
Still waiting on https://github.com/Expensify/App/pull/10965

[2022-09-26 11:49] mountiny commented on #11010
PR is in a review

[2022-09-26 11:50] amyevans commented on #11131
Sounds good, thank you @mvtglobally!

[2022-09-26 12:00] flodnv commented on #11204
@parasharrajat thoughts on the proposal?

[2022-09-26 12:12] kbecciv opened #11281 "Web -Chat - Extra rooms: admin and announce displayed after log in with owner account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when execute PR** https://github.com/Expensify/App/pull/10491

## Action Performed:
1. Go to staging.new.expensify.com
2. Create 3 accou

[2022-09-26 12:40] kbecciv opened #11282 "Web - Changing profile photo by pressing enter/return key changes the profile photo but also sets unnecessary focus on it @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Go to Settings > Profile
3. Upload a new photo
4. Save photo by pressing enter/return key o

[2022-09-26 12:48] kbecciv opened #11283 "[HOLD for BZ checklist] [$2000] mWeb - Manage Members - Blue outline at checkbox @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Go to settings > workspace
3. Manage members page
4. Select a user now tap on the checkbox

[2022-09-26 12:48] iwiznia commented on #9545
Not overdue Melvin

[2022-09-26 12:49] iwiznia commented on #9181
@parasharrajat can you review the proposal?

[2022-09-26 12:52] varshamb commented on #11282
Proposal
Use PressableWithoutFocus in AvatarWithImagePicker.

https://github.com/Expensify/App/blob/386c5ad8369a351528a70374dd7b92f1f9ec49cb/src/components/AvatarWithImagePicker.js#L234

Is it duplicate issue?
https://github.com/Expensify/App/issues/10599

[2022-09-26 12:52] sketchydroide commented on #11187
I could not replicate on iOS but the GH only mentions Android, that would be a bit weird, as I'm useing chrome on iOS an they should be identical.
Still different platforms might be different.
Going to ask in slack to see if anyone can replicate it.

[2022-09-26 12:53] sketchydroide commented on #11187
I would say this could be an external though, if we are able to replicate it.

[2022-09-26 12:53] sketchydroide commented on #11068
I still have not been able to get to the bottom of it.

[2022-09-26 13:00] Beamanator commented on #11094
Cool good call, putting on hold

[2022-09-26 13:08] sketchydroide commented on #11187
in all cases my sugestion it for the save button to never overlap, and if needed. make it part of the scrollable area.

[2022-09-26 13:11] kbecciv opened #11284 "Android/IOS - Chat - Cursor goes up while trying to scroll down @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2.  Go to any chat
3.  Send a long message
4.  Try to  edit long message
5. Scroll to end of message and try to

[2022-09-26 13:11] sketchydroide commented on #11187
@kavimuru can you please remove the Offline/Onlline part of the issue, this is trully just one issue, the offline or online parts just makes it more or less obvious.

I think it should be:

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
and login with any account
2. Go to Settings->Workspace->General settings
3. Put on the name input field

## Expected Result:
The input field

[2022-09-26 13:14] sketchydroide commented on #11061
not overdue we are waiting on takers, @arielgreen should we bump up the price?

[2022-09-26 13:19] Julesssss commented on #9457
Held on the P/S

[2022-09-26 13:21] kbecciv opened #11285 "Android - Chat - Chat timing flickering after change system time @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Change the device time
3. Go to any chat
4. Send any message
5. Check the time

## Expected Result:
Timings

[2022-09-26 13:26] michaelhaxhiu commented on #10442
Note, vivek posted in an internal expensify slack channel [**here**](If we want to re-work this feature, we should probably move it to internal until we scope out the ) (`#product`) and we'll follow up as soon as we have next steps.

[2022-09-26 13:29] ntdiary commented on #9253
I just submitted a [fix demo](https://github.com/ntdiary/react-navigation/commit/b43b386f30f5eaf84c07100dc233c81b8eaa92e2) and added a feature request [here](https://react-navigation.canny.io/feature-requests/p/add-transitionend-event-in-drawer-navigator) according to their document.

I think I might need to create an issue and a pull request if no response in the next few days. 🙂

[2022-09-26 13:31] mountiny commented on #9905
Working on higher level priorities still

[2022-09-26 13:42] mountiny opened #11286 "[$250] [Test] External label"
This is a test of https://github.com/Expensify/Web-Expensify/pull/34925, please do not mind

[2022-09-26 13:42] JmillsExpensify commented on #11176
Jumping in on this one! Here's the Upwork job: https://www.upwork.com/jobs/~0189f6abd208752042

[2022-09-26 13:43] mountiny commented on #11286
All seems to work well

[2022-09-26 13:43] #11286 closed

[2022-09-26 13:44] JmillsExpensify commented on #9662
We've reached the end of the 7-day regression period. I'm going to jump in and check that everything is fine with the linked PR, and then issue payments.

[2022-09-26 13:45] mvtglobally commented on #11252
@luacmartins @roryabraham

Regression is completed

PR https://github.com/Expensify/App/pull/10491 is blocked https://github.com/Expensify/App/issues/11281. We are stuck with this PR and need some additional eyes here
PR https://github.com/Expensify/App/pull/11155 is failing https://github.com/Expensify/App/issues/11264
PR https://github.com/Expensify/App/pull/11219 is failing https://github.com/E

[2022-09-26 13:47] JmillsExpensify commented on #9662
Interestingly, I'm not seeing a production deploy linked to that PR, though I know we've been deploying daily during the week. That said, no regressions on staging and issue isn't reproducible, so I'm going to close out this issue with payments.

[2022-09-26 13:53] JmillsExpensify commented on #9662
@Santhosh-Sellavel @b1tjoy Payments issued via Upwork. I'm closing the issue, though please let me know if I can help with anything else!

[2022-09-26 13:54] JmillsExpensify commented on #10670
Still on hold, though we're going to pick up the larger keyboard initiative soon.

[2022-09-26 13:54] JmillsExpensify commented on #10729
Still on hold, though we're going to pick up the larger keyboard initiative soon.

[2022-09-26 13:55] ntdiary commented on #10345
Hi @roryabraham, thanks for reminding 🙂
Just curious if it is possible to re-evaluate this bounty or if this issue is difficult in your opinion.
I encountered this issue after testing the image file size issue, and then it took me a week to finally figure out the NDK version was the cause of this issue, as I thought it seemed to be more urgent at the time. 😂

Actually, it's a pity I didn't do more

[2022-09-26 13:58] JmillsExpensify commented on #10824
@Santhosh-Sellavel Checking in. Will you be able to review Andrew's proposal above in the coming days?

[2022-09-26 13:59] JmillsExpensify commented on #10875
Still waiting for proposals for this crash. All proposals welcome!

[2022-09-26 14:02] JmillsExpensify commented on #10991
Going to close this issue in favor of https://github.com/Expensify/App/issues/10939, which @parasharrajat has highlighted as having the same root cause.

[2022-09-26 14:02] iwiznia commented on #10093
OH GOD NO!!!
Why are we doing [this](https://github.com/Expensify/Web-Expensify/pull/21441/files#diff-6eb37b3ba564b40f518fdd0caf70c67595ca8e5dd51a580d6f8da8c762657110R45). That's wrong. API should never HTML escape/quote/specialchars the data it returns, that's the responsibility of the frontend.

I think now we will need to:
- Undo that change
- Ensure we escape the name everywhere in oldDot

The

[2022-09-26 14:03] JmillsExpensify commented on #10989
Actually, I missed a comment from @parasharrajat in a related issue https://github.com/Expensify/App/issues/10939. I'm going to go ahead and close out the related Upwork job as well as this issue in favor of the existing, older issue linked.

[2022-09-26 14:07] JmillsExpensify commented on #10993
@parasharrajat going to follow your lead on the reproduction steps, and related, reproducibility. I'm not seeing an obvious way to confirm @Naishadh8115's question above. Thanks!

[2022-09-26 14:07] JmillsExpensify commented on #11089
Still open for proposals!

[2022-09-26 14:08] JmillsExpensify commented on #11176
Going to keep the daily label on for the time being, while we wait on proposals.

[2022-09-26 14:10] aldo-expensify commented on #10803
@mallenexpensify the internal GH issue https://github.com/Expensify/Expensify/issues/215184 has been closed and the last [PR on App](https://github.com/Expensify/App/pull/10491) has been reviewed/merged/deployed. Not sure what is the next step here.

[2022-09-26 14:10] JmillsExpensify commented on #11192
Issue looks good. I'm going to apply the engineering label and keep myself assigned.

[2022-09-26 14:21] JmillsExpensify commented on #11277
I'm on iOS, so I'm unable to reproduce. That said, can you clarify exactly what you mean by "instruction goes up?" I'm not following what the issue is here. Thank you!

[2022-09-26 14:51] tienifr commented on #11157
****Proposal****

**Problem**
This issue is from FormAlertWithSubmitButton component. When isOffline is true, we are showing the disabled button

**Solution**
I add the optional shouldAllowSubmitWhenOffline prop into FormAlertWithSubmitButton and we just only show the disabled button when isOffline is true and shouldAllowSubmitWhenOffline is false.

[2022-09-26 14:52] arosiclair commented on #11264
This is expected behavior. There is no data for the custom unit until you visit this page for the first time. The rate and unit will be populated after the data syncs. I mentioned this in the testing steps "Verify the policy's distance rate displays **after a moment**"

[2022-09-26 14:52] #11264 closed

[2022-09-26 15:05] tienifr commented on #11157
Proposal

Problem
This issue is from FormAlertWithSubmitButton component. When isOffline is true, we are showing the disabled button

Solution
I add the optional shouldAllowSubmitWhenOffline prop into FormAlertWithSubmitButton and we just only show the disabled button when isOffline is true and shouldAllowSubmitWhenOffline is false.

In src/pages/settings/Profile/ProfilePage.js

[code]
In src/comp

[2022-09-26 15:12] sketchydroide commented on #9580
not overdue

[2022-09-26 15:12] alexpensify commented on #11135
Thanks, @mvtglobally - At this point, I'm going to close this issue since two people were unable to replicate the experience following the steps listed in this issue.

[2022-09-26 15:13] johnmlee101 commented on #10093
Oh yeah that was a weird XSS bug where the pentesters would split a problematic XSS into 2 parts, like `<script` and `>executebadCode()` in the first and last name fields, where when we would combine them in the front end it would end up injecting code.

I think the idea was that it was a faster fix for something that was very critical than trying to find all references to personal details and pat

[2022-09-26 15:23] luacmartins commented on #11239
@dhairyasenjaliya of course! Sorry that we missed your posting on Slack. I'm gonna reopen this issue and assign a contributor manager to process the payment. Thanks for bringing this up.

[2022-09-26 15:28] advaitasol9 commented on #10765
Hi, @JmillsExpensify @ctkochan22 @Santhosh-Sellavel @kbecciv can you take a look at my proposal?

[2022-09-26 15:31] luacmartins commented on #11227
@mollfpr your proposal looks good. Assigning you to the issue!

[2022-09-26 15:36] NicMendonca commented on #11190
@marcaaron just to confirm, should I be assigning a C+ to this issue?

[2022-09-26 15:46] iwiznia commented on #10093
Thinking about it, I see 2 alternatives:
1. We fix oldDot code (the way you propose it sounds fine)
1. We apply a hack only for newDot and then when we eventually kill oldDot remove the hack

Maybe we should just do 2? It's shitty, but oldDot will be eventually replaced.

[2022-09-26 15:48] varshamb commented on #11283
### Proposal
Remove `styles.borderColorFocus`
https://github.com/Expensify/App/blob/6bd5304b12981920a19e544e7a7b847fd8abc85e/src/components/Checkbox.js#L107

[2022-09-26 15:56] alex-mechler commented on #11202
Okay perfect, this is likely external then, so applying the label!

[2022-09-26 15:58] tgolen commented on #11122
I think we want the inbox focused and the keyboard open, yeah. That way you can start typing a comment right away.

[2022-09-26 16:01] luacmartins commented on #11093
Still waiting on a solution for this issue - https://github.com/Expensify/App/issues/11093#issuecomment-1255432667

[2022-09-26 16:01] sketchydroide commented on #11202
This seems related to https://github.com/Expensify/App/issues/11237
Where a similar thing is happening (it's just one line not 2)  I think this is more about duplication of messages than the Green lines, you can see that it also duplicated the emoji.

[2022-09-26 16:02] sketchydroide commented on #11237
aother similar GH opened [here](https://github.com/Expensify/App/issues/11202).

[2022-09-26 16:03] sketchydroide commented on #11202
not sure if that should be am external, as the duplication is normally to do with Sequence numbers, and we are revamping that.
What do you think @Expensify/mobile-deployers?

[2022-09-26 16:04] chauchausoup commented on #11196
@JmillsExpensify actually the proper Bug description as per Slack thread is :
`Whenever I try to take image for profile pic section via camera, I get a non full screen pop up  of camera interface rather than a full screen camera interface which I see in other standard apps.`

[2022-09-26 16:04] Santhosh-Sellavel commented on #10765
Will have a look @advaitasol9, thanks for the bump!

[2022-09-26 16:05] Julesssss commented on #11245
I'm able to reproduce on iOS.

[2022-09-26 16:08] Santhosh-Sellavel commented on #10442
Cool thanks!

[2022-09-26 16:08] johnmlee101 commented on #10093
Yeah # 2 and make a nice comment explaining why and what to do during reunification 😄

[2022-09-26 16:18] luacmartins commented on #9662
@JmillsExpensify FYI production deploy comments were [broken](https://expensify.slack.com/archives/C07J32337/p1663607918854289) from Aug 11 to Sep 19. So any PRs deployed to prod during those dates won't have the prod deploy comment.

[2022-09-26 16:20] luacmartins commented on #9662
@mdneyazahmad that issue is also closed. What makes you say that it's still reproducible?

[2022-09-26 16:30] aldo-expensify commented on #10653
No overdue, this [PR](https://github.com/Expensify/Web-Expensify/pull/34790) was merged/deployed a while ago

@trjExpensify can you check if you can still reproduce this bug by creating an account under `@tommocks.art`? 🙏

[2022-09-26 16:31] #11234 closed

[2022-09-26 16:31] ctkochan22 commented on #11117
Still looking

[2022-09-26 16:33] stitesExpensify commented on #11080
Agreed. Should we just close this out then?

[2022-09-26 16:33] stitesExpensify commented on #11084
bump @neil-marcellini any thoughts on :that: ?

[2022-09-26 16:34] MitchExpensify commented on #11091
[Upwork Job](https://www.upwork.com/jobs/~01a77fc4a3f7b8ac9c)

[2022-09-26 16:37] danieldoglas commented on #7259
Actually, after reviewing the project for availability status, I saw that it was paused for now. I'll close this issue and leave a comment on the original project that we need to include this in the detailed part of it.

[2022-09-26 16:37] #7259 closed

[2022-09-26 16:38] luacmartins commented on #11202
I think that makes sense. Can we add these issues related to `sequenceNumbers` to the [tracking issue](https://github.com/Expensify/Expensify/issues/227234) for sequence numbers?

[2022-09-26 16:39] MitchExpensify commented on #8929
Good catch @mananjadhav! I've made a note to check for regressions on Wednesday before issuing payment

[2022-09-26 16:45] Santhosh-Sellavel commented on #11197
@NicMendonca

Busy with existing work items, also limited availability for next couple weeks So un-assigning this one. Can you reassign this to another C+ by reapplying the `external` label?

Also, Leave a note there is a proposal yet to be reviewed https://github.com/Expensify/App/issues/11197#issuecomment-1255435384.

Thanks!

[2022-09-26 16:47] MitchExpensify commented on #11195
[Upwork Job](https://www.upwork.com/jobs/~014b51c853743c4959)

[2022-09-26 16:48] mollfpr commented on #10738
### Proposal

Updating the `Form.js` using `props.type` to expose the children of a component such as `AddressForm` and recursive the children to find an input with `inputID`. But the note is, it only works for a component that does not wrap with HOC.
[code]

For the `AddressForm`,
1. Removing the `withLocalize` to make the traversing children from `Form.js` is working and replace with passed `tra

[2022-09-26 16:48] thesahindia commented on #11157
@tienifr, the first approach looks good to me. Because I think we have to disable the button in some cases at other parts (e.g invite members page).
Also one suggestion, please use permalink or file links when you suggest a code change somewhere. It's easy to access, we can just visit the file to check the code.

@Julesssss the proposal ( first approach ) looks good to me. We can use a prop which

[2022-09-26 16:58] luacmartins commented on #11186
Working on a PR to fix this today!

[2022-09-26 17:00] melvin-bot[bot] opened #11288 "[$250] Investigate: 💥 Crash 💥 `.connectMappingToOnyx`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Component subscribed to Onyx without a displayName
### `address at index.android.bundle:1:1708271` `.connectMappingToOnyx`
### Number of Crashes: 11

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.6-0`
* **

[2022-09-26 17:01] deetergp commented on #11235
I think this _should_ have the `External` label and be weekly now. Is that right?

[2022-09-26 17:08] marcochavezf commented on #10903
Oh I forgot to assign @kakajann to the issue here, thanks for the proposal and the PR!

[2022-09-26 17:08] adeel0202 commented on #8455
@mallenexpensify this is still reproducible consistently by following the steps mentioned in the bug report, and also if you put nothing in the input fields and press the enter key when the focus is on the password field. This is also discussed [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1664190105496969?thread_ts=1664184208.156829&cid=C01GTK53T8Q).

[2022-09-26 17:11] thesahindia commented on #10240
Bump @marcaaron ^

[2022-09-26 17:20] mollfpr commented on #11227
@luacmartins @rushatgabhane PR raised!

[2022-09-26 17:33] Justicea83 commented on #11260
I can't reproduce this, but it can be external

[2022-09-26 17:35] Justicea83 commented on #11265
this can be external

[2022-09-26 17:36] luacmartins commented on #11186
I see that we had the same issue reported [here](https://github.com/Expensify/App/issues/11114) and it was already fixed [here](https://github.com/Expensify/App/pull/11145), but it can use some cleanup.

[2022-09-26 17:36] marcaaron commented on #11190
It's supposed to happen automatically. I'm not sure why it did not and will have to look into it.

[2022-09-26 17:39] roryabraham commented on #11281
In any event, workspace chats are still behind a beta, so we don't need to block deploy on this

[2022-09-26 17:40] roryabraham commented on #11281
cc @trjExpensify @JmillsExpensify Can you buddy-check my above analysis of this issue please?

[2022-09-26 17:43] iwiznia commented on #10093
Taking it.

[2022-09-26 17:47] youssef-lr commented on #11189
So I wasn't able to find anything in the backend (Web-PDF) that only allows certain extensions, when I removed the check for extensions from NewDot I was able to trigger the file upload to S3, however S3 returns this error:

`S3BucketException - Amazon exception [0] - Error executing "PutObject" on "https://dev-receipts-expensify-com.s3.amazonaws.com/w_0574467cb0f96315b5934afbcff08366c947db41.mov"

[2022-09-26 17:47] #11220 closed

[2022-09-26 17:52] JmillsExpensify commented on #11281
Agree we don't need to block a deploy.

[2022-09-26 17:53] JmillsExpensify commented on #11281
For the workspace chats, can you check whether they were potentially created, just potentially don't show proactively in the LHN?

[2022-09-26 17:53] roryabraham commented on #11281
Yes. I checked and they were not discoverable via search or request money pages

[2022-09-26 17:54] roryabraham commented on #11281
Some more details over here: https://github.com/Expensify/App/pull/10491#issuecomment-1258404350

[2022-09-26 17:55] aldo-expensify commented on #11281
Thanks for testing @roryabraham

I understand that the **workspace-employee** (same as **workspace-admin** at the moment) should only see their policy expense chat, but I think this hides away if it is empty. I'll test again putting messages on each chat/room before closing the workspace. What I think is a bug is that the `#announce` room should have dissappeared for all non-admin/non-owner

[2022-09-26 17:58] MitchExpensify commented on #10599
Good catch! I reassigned @NikkiWines , We also need a C+ right Nikki?

[2022-09-26 18:02] stitesExpensify commented on #10699
Gotcha, okay. I'll remove the external and help wanted issues, sorry for thinking we could fix this on the front end!

[2022-09-26 18:02] luacmartins commented on #11126
@getusha correct! The issue here is that the notifications preference is reset when the user comes back online. I removed step 8 from the OP since it was unrelated as you pointed out!

[2022-09-26 18:12] JmillsExpensify commented on #10991
Sorry, what does "add this to $11111" mean?

[2022-09-26 18:18] JmillsExpensify commented on #10991
Ok cool, same page. One concern though is that we need to keep track of the bug reporter. It looks like we're fine for the time being, in that I can add @aneequeahmad to the master issue since now reporter is currently listed there.

[2022-09-26 18:19] puneetlath commented on #9510
Sounds good. I agree with that logic. Thanks for your proposal @mollfpr but in this case we will go with @aimane-chnaif.

[2022-09-26 18:20] Santhosh-Sellavel commented on #10923
@puneetlath What's the process here for payment?

[2022-09-26 18:33] roryabraham commented on #11281
In any event, I think we should close this issue because I'm not able to reproduce it as written.

[2022-09-26 18:33] #11281 closed

[2022-09-26 18:33] alex-mechler commented on #11284
Hmm, I'm not really seeing what the issue is here, the scrolling in the videos seems normal. The cursor is going up because that is the location that is being tapped on the screen, so the cursor is moving.

[2022-09-26 18:43] roryabraham opened #11291 "[$500] Use disabled cursor on pending-deletion workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Sign into a new account.
1. Create a workspace.
1. Go offline.
1. Open the workspace `Settings -> Workspace`
1. Click on the "

[2022-09-26 18:44] Santhosh-Sellavel commented on #10966
Will look into it this week, no need to double until then thanks! @dylanexpensify

[2022-09-26 18:47] luacmartins commented on #10983
Bumping @chiragsalian - https://github.com/Expensify/App/issues/10983#issuecomment-1246902162

[2022-09-26 19:00] roryabraham commented on #11252
I spent some time looking into it, and there were some problems with https://github.com/Expensify/App/pull/10491, but those problems either have been reported or were not caused by that PR. None of them are deploy blockers, so I'm going to check it off

[2022-09-26 19:02] aneequeahmad commented on #11135
Still reproducible on latest production `v1.2.5-2`.

**Platform:** Mac (Google chrome)

Steps are simple.

- Click on use icon to open setting page.
- Click on workspace > manage members.
- Click on invite button and add a few members.
- Select a few members and click on remove.
- See the console. The error will appear after a few second( 6 seconds on my `macBook Pro 2015, core i7`)

**Video:**

h

[2022-09-26 19:17] mountiny commented on #11260
Asked [in Slack](https://expensify.slack.com/archives/C02HWMSMZEC/p1664219831966539) for an internal employee to  investigate this.

[2022-09-26 19:28] cristipaval commented on #11259
Not reproducible on iOS.

[2022-09-26 19:31] PauloGasparSv commented on #11074
It seems like this is no longer happening on dev or staging anymore so I'm closing this issue here!

https://user-images.githubusercontent.com/6564265/192363511-a516dc2d-022e-4942-97b3-172f7b865aa9.mov

[2022-09-26 19:33] thienlnam commented on #11074
@PauloGasparSv From your video, I am not seeing you create the workspace from mobile - did you test that?

[2022-09-26 19:39] thesahindia commented on #11259
Hey @cristipaval, this is only reproducible for small screen devices. According to the comment [here](https://github.com/Expensify/App/issues/10906#issuecomment-1246987661) we will use push to page here in the future, so I think we can close this for now.

[2022-09-26 19:43] #11259 closed

[2022-09-26 19:46] thesahindia commented on #10493
Found a bug related to password and was searching the GH to check if there are any existing issue and here I am.

We have 3 places where this should be implemented. Two are already mentioned [here](https://github.com/Expensify/App/issues/10493#issuecomment-1255351385) third one is at add bank account page

https://user-images.githubusercontent.com/83179295/192365618-8521f1e8-edee-4d79-9a40-e6da09f

[2022-09-26 19:48] roryabraham commented on #11252
https://github.com/Expensify/App/issues/11264 has been closed as expected behavior. Checking off https://github.com/Expensify/App/pull/11155

[2022-09-26 19:49] roryabraham commented on #11252
Also checking off https://github.com/Expensify/App/pull/11219

[2022-09-26 19:51] mvtglobally opened #11293 "Duplicate Messages appearing in compose box after message sent (then app closed soon after)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Sent message
2. Immediately quit NewDot after
3. Opened NewDot next morn and see a draft message for the one sent yesterday

#

[2022-09-26 19:53] roryabraham commented on #11252
I am seeing a substantial spike in homepage initial render timing on iOS and Android:

<img width="255" alt="image" src="https://user-images.githubusercontent.com/47436092/192367005-54920dcd-27d7-4661-b48f-cf2389ae7093.png">

But I believe that can be attributed to https://github.com/Expensify/App/pull/11206, which fixed a problem where TTI was captured noticeably _before_ the app was actually int

[2022-09-26 19:54] roryabraham commented on #11252
I am also seeing a fresh crash on `1.2.6-0`: https://console.firebase.google.com/u/0/project/expensify-chat/crashlytics/app/android:com.expensify.chat/issues/391524c846c415da615800d7a0fe1346?time=last-seven-days&sessionEventKey=632F48100082000146271F7ACA92A9D9_1725626754260263079

Investigating...

[2022-09-26 19:55] thesahindia commented on #10493
Also few questions:-
1. Are we planning to use push to page for password popover?
2. How are we planning to use red dot indicator for error when there are two fields? Let's take the example of add secondary login page. There are two fields on that page: email/phone and password.
When there's an error at email/phone field where should we show the error message below that field with red dot indicato

[2022-09-26 19:57] roryabraham commented on #11252
This looks like a low-level issue, likely coming from Reanimated. Not going to block on it for now since it's only happened once.

[2022-09-26 19:57] roryabraham commented on #11252
:shipit:

[2022-09-26 19:57] #11252 closed

[2022-09-26 20:00] aneequeahmad commented on #11111
I see all of these issues are combined so it's easy to track them for `engineers and QA team`. Just a `quick question` would it will be considered `one bug bounty` for reporting all of these issues ? Almost all the bugs are reported by me and I have spent a lot of time on debugging and finding these issues.

cc: @parasharrajat, @flodnv

[2022-09-26 20:03] OSBotify opened #11297 "Deploy Checklist: New Expensify 2022-09-26"
**Release Version:** `1.2.7-2`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/10811
- [x] https://github.com/Expensify/App/pull/11035
- [x] https://github.com/Expensify/App/pull/11071
- [x] https://github.com/Expensify/App/pull/11162
- [x] https://git

[2022-09-26 20:13] alexpensify commented on #11135
After chatting with the team, we decided that it's best to assign to Engineering for another set of eyes since the screen share includes JS details.

[2022-09-26 20:21] francoisl commented on #11011
The issue is when you sign out and then sign in again. So essentially, this:

1. Open new incognito window, go to https://staging.new.expensify.com/
2. Sign in to the account applausetester+0901abb@applause.expensifail.com / Feya86Katya (this step should work)
3. Sign out
4. Sign in to the same account again
     - The LHN won't be displayed correctly

I checked the API requests and responses and

[2022-09-26 20:36] kevinksullivan commented on #9250
Price doubled

[2022-09-26 20:39] Arunsharmakaushik commented on #11091
Hi Dear,

I just read your job posting and also checked the video related to crash on github that is occuring on android platform. I read all the contribution file and readme file and get the idea about Expensify. Without wasting any time come to solution.

Solution : - I just need to check the action which we are performing on clicking of chat button , may be there is something which is undefined

[2022-09-26 20:57] marcaaron commented on #11293
Surely we have already logged this somewhere...? It's the same bug that will be fixed by `sequenceNumber` deprecation which @roryabraham is writing the detailed portion for now.

[2022-09-26 20:59] marcaaron commented on #11288
This looks like me testing. I'm not sure how it's possible, but I guess if you are running test builds we are logging those as real crash reports. Perhaps we should not do that as it will result in a lot of false positives like this.

cc @AndrewGable

[2022-09-26 20:59] #11288 closed

[2022-09-26 21:08] kavimuru opened #11300 "[HOLD for payment 2022-10-31] [$250] After Creating group, email address of only one user is used in alternate Text reported by @sobitneupane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. New Group > Create Group
2. Scroll down to newly created group in LHN.

## Expected Result:
Comma separated emails of group me

[2022-09-26 21:10] NicMendonca commented on #10127
@MonilBhavsar we haven't! Still waiting on @0xaim to apply for the job so that I can issue payment.

Bump @0xaim! Thanks!

[2022-09-26 21:14] NicMendonca commented on #11197
Job posting: https://www.upwork.com/jobs/~01960cad105fe6709e

[2022-09-26 21:20] davidcardoza commented on #11300
I am not sure if the way we present the alternateText in the LHN is by design or is an actual bug. I am going to assign out to engineering to get a second pair of eyes.

[2022-09-26 21:22] roryabraham commented on #10789
Looks like we've got a PR up with a healthy number of reviews: https://github.com/Expensify/App/pull/10986

[2022-09-26 21:23] roryabraham commented on #10962
Finished this last week

[2022-09-26 21:24] roryabraham commented on #10962
@tgolen @Szymon20000 I know a lot of progress has been made on the LHN improvements, is there more to do here or should we check that off?

[2022-09-26 21:26] OSBotify commented on #11297
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.7-1 :rocket:

[2022-09-26 21:26] NicMendonca commented on #11275
I am not sure if/ how I can do this 😓 so I am going to ask for an engineering opinion!

[2022-09-26 21:29] Luke9389 commented on #9427
I'm going to close this in favor of all the performance updates we're doing with margelo. I still haven't gotten the app to run without the format/intl dependency, and that's the only outstanding task from callstack of the original three.
@parasharrajat I think it's worth bringing[ this suggestion ](https://github.com/Expensify/App/issues/9427#issuecomment-1178410102)up in the open source room. Th

[2022-09-26 21:31] Luke9389 commented on #9427
Thanks for helping test here @mananjadhav,
@Expensify/contributor-management would any of you be willing to pay out this issue for @mananjadhav?

[2022-09-26 21:31] Luke9389 commented on #10889
What's the latest y'all?

[2022-09-26 21:32] Luke9389 commented on #10233
Shouldn't be Overdue since it's on hold. Commenting to clear that out.

[2022-09-26 21:32] JmillsExpensify commented on #9427
I'll do it. Assigning myself now.

[2022-09-26 21:32] marcochavezf commented on #11223
Thank you @rushatgabhane for the review! Assigning @aimane-chnaif 🚀

[2022-09-26 21:33] mvtglobally opened #11301 "[$250] Android - Attempt to edit a comment crashes the app - Reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any chat
2. Send a message
3. Long press the message
4. Press Edit comment

## Expected Result:
Able to edit the commen

[2022-09-26 21:34] OSBotify commented on #11301
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-26 21:35] Luke9389 commented on #9427
Thanks!

[2022-09-26 21:40] roryabraham commented on #11297
https://github.com/Expensify/App/pull/10899 passed internalQA, checking it off

[2022-09-26 21:42] Luke9389 commented on #11195
@rushatgabhane I like the approach of refactoring to use Form.js 👍

[2022-09-26 21:48] lbaldy opened #11302 "iPad Pro send money panel - user panel not visible"
## Action Performed:
1. Login
2. Click on + icon
3. Click on send money
4. Enter amount
5. Click on next
6. See the contact search/picker isn't shown, only blank sidebar is visible

## Expected Result:
In point 6 it should show the user search panel

## Actual Result:
In point 6 it shows blank panel

## Workaround:
I don't think the user can progress in this flow on ipad.

## Platform:

Where is t

[2022-09-26 21:48] #11302 closed

[2022-09-26 21:48] Luke9389 commented on #8455
Hey @adeel0202, thanks for pointing this out. I'll give it a try right now.

[2022-09-26 21:51] roryabraham commented on #10345
Yes, I think it's fair to bump this up to $1000. This issue was urgent and I'm not sure how you even figured out the NDK issue 😂 Were you building your own fork of React Native locally?

Anyways, it's possible I might have _accidentally_ fixed this issue while working on something unrelated, but:

1. I might not have realized that the NDK version was important
1. We might not have quickly realized

[2022-09-26 21:51] tgolen commented on #10962
I have a bunch of random cleanup items, but I feel pretty confident to check it off for now.

[2022-09-26 21:54] roryabraham commented on #10679
bumping this back to weekly

[2022-09-26 22:08] cead22 commented on #11087
This is by design. The button should be disabled because the password hasn't been entered

[2022-09-26 22:09] cead22 commented on #11087
@davidcardoza if you don't understand the issue or can't reproduce it, ask for clarification before assigning to engineering, or simply close the issue

[2022-09-26 22:11] roryabraham commented on #9233
PR merged

[2022-09-26 22:15] roryabraham commented on #7925
Thanks! We've actually completed a bidirectional pagination solution ourselves in our React Native fork, available [on npm](https://www.npmjs.com/package/@expensify/react-native). @janicduplessis [implemented `maintainVisibleContentPosition` directly in our React Native fork](https://github.com/Expensify/react-native/pull/14/files), and we're hoping to open PRs to upstream these features soon.

[2022-09-26 22:16] Luke9389 commented on #11265
Whoops! Sorry for the noise @kbecciv

@Justicea83 I reassigned everyone bc I assumed you unassigned us by mistake.

[2022-09-26 22:16] roryabraham commented on #10737
@NicMendonca Let's cap the issue here. It's not clear what's causing this or how it's actually affecting any users.

[2022-09-26 22:23] cead22 commented on #11272
@kbecciv I can't reproduce using carlos@expensifail.com or tester@applausecard.expensifail.com. Can you share the credentials needed to reproduce this?

[2022-09-26 22:31] cead22 opened #11305 "Unable to sign in with email/password/2fa on staging web"
To reproduce you must have an account with 2fa required
- Go to staging.new.expensify.com
- Enter your email
- Enter your password

## What actually happens:
An error is shown saying you must login with email and password

<img width="1026" alt="image" src="https://user-images.githubusercontent.com/165133/192392000-821aa920-2592-4a8f-8143-115a89e8dec4.png">

## What I expect to happen:
The 2FA fie

[2022-09-26 22:32] OSBotify commented on #11305
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-26 22:32] mvtglobally opened #11306 "2FA user is not able to login"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Try to login with 2FA account

## Expected Result:
user should be able to login

## Actual Result:
user is unable

[2022-09-26 22:32] mvtglobally commented on #11306
Closing. dup  https://github.com/Expensify/App/issues/11305

[2022-09-26 22:32] #11306 closed

[2022-09-26 22:33] OSBotify commented on #11306
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-26 22:34] #11080 closed

[2022-09-26 22:36] neil-marcellini commented on #10437
After some more digging in the code this morning I learned that the #announce room is shared with a newly invited workspace member [here](https://github.com/Expensify/Auth/blob/9ec0ed42e58f88e4051cb5a3330b79c2790e94be/auth/lib/Policy.cpp#L1150) and that the admin's policy expense chat is not shared with the newly invited member. Instead, when a member is added they get their own unique policy expe

[2022-09-26 22:36] OSBotify commented on #11297
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11303) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.7-2` :rocket:

[2022-09-26 22:41] mallenexpensify commented on #10973
Price Doubled to $500
https://www.upwork.com/jobs/~01c7e042fc552a8fa1

[2022-09-26 22:41] trjExpensify commented on #10653
Trying! Just signed up with tom+wcrun15@tommocks.art on staging and I haven't received a validation link yet. 😅

[2022-09-26 22:44] tgolen commented on #11305
@MonilBhavsar Is this possibly related to your change in https://github.com/Expensify/Web-Expensify/pull/34757 ? I see that is the most recent change in this area. Did it also need a front-end change?

[2022-09-26 22:46] mallenexpensify commented on #10029
Gonna close since it's not reproducible, reopen if needed.  thanks @mvtglobally !

[2022-09-26 22:46] #10029 closed

[2022-09-26 22:49] trjExpensify commented on #10653
Apparently we sent the email:

<img width="1503" alt="image" src="https://user-images.githubusercontent.com/16232057/192393652-7e985087-a37f-41b2-9791-b84672778c0d.png">

But I got put on the email suppression list:

<img width="1511" alt="image" src="https://user-images.githubusercontent.com/16232057/192393800-2c5b0905-78e9-40ff-a1d2-56a75bdc7714.png">

Unblocked it and re-sent the link:

<img wi

[2022-09-26 22:51] Luke9389 commented on #8455
Hey @adeel0202 I wasn't actually able to reproduce this. Can you post a video?

[2022-09-26 22:52] mallenexpensify commented on #11099
Thanks @mvtglobally , @cead22 sending back to you for engineering triage since you were initially assigned

[2022-09-26 22:55] Luke9389 commented on #8455
![Screen Shot 2022-09-26 at 3 54 09 PM](https://user-images.githubusercontent.com/49007721/192394804-ca49707e-83da-4ae7-a512-1ed95dbfa745.png)

Wasn't able to get a network request with bogus values in both fields (I also tried no values at all-also no network)

[2022-09-26 22:55] amyevans commented on #11131
Demoting to weekly until we have proper repro confirmed

[2022-09-26 23:14] mallenexpensify commented on #10803
Thanks @aldo-expensify , Paid $250 to @mananjadhav for the review.
If either of you think that amount should be different, please comment

[2022-09-26 23:14] #10803 closed

[2022-09-26 23:23] trjExpensify commented on #10653
I think I figured it out - that domain expired on the 17th Sept. Chatting with @kevinksullivan to see if we can get it renewed as he's the owner of it.

[2022-09-26 23:32] kadiealexander commented on #11193
Asking for help to replicate this issue [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1664235111906359).

[2022-09-26 23:45] OSBotify commented on #11297
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.7-2 has been deployed to staging :tada:

[2022-09-26 23:59] kavimuru opened #11311 "[Bug] Chat - Offline - The new messages aren't displayed in the conversation history."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log into Expensify on desktop with Device A
2. On Device B, any platform, log in to another account
3. Disable your internet c

[2022-09-27 00:06] puneetlath commented on #9510
@aimane-chnaif can you apply to the Upwork job here when you have a chance: https://www.upwork.com/jobs/~014e254aff1fec823b

[2022-09-27 00:10] puneetlath commented on #9739
@mananjadhav - paid.
@parasharrajat - hiring offer sent
@Puneet-here - it doesn't look like you were paid for reporting. If not, can you apply here? https://www.upwork.com/jobs/~01af2bac857d001e72

[2022-09-27 00:13] puneetlath commented on #10886
All paid. Thanks everyone!

[2022-09-27 00:13] #10886 closed

[2022-09-27 00:14] puneetlath commented on #10622
@Santhosh-Sellavel what do you think?

[2022-09-27 00:15] puneetlath commented on #10971
Raised price to $500.

[2022-09-27 00:15] puneetlath commented on #10865
Conversation ongoing on PR.

[2022-09-27 00:16] puneetlath commented on #10289
@parasharrajat @mzohaibqc how's this going?

[2022-09-27 00:21] mallenexpensify commented on #11293
What's different for this, or what I hadn't experienced is the duplicate is in the compose box. Updated title

https://github.com/Expensify/Expensify/issues/227234

I'd assign to myself to _monitor_ or test once the time is right but I'm OOO for a month soon

[2022-09-27 00:23] mallenexpensify commented on #10615
Understandable @mandyalvey , the _good_ part is it's only on your end, the other person doesn't think you realllly want to thank them a lot.

Updated title to include [HOLD Sequence #] so we can keep tabs on

[2022-09-27 00:28] mallenexpensify commented on #11265
posted! https://www.upwork.com/jobs/~01a755aaccee46f8a1

[2022-09-27 00:32] puneetlath commented on #10923
@Santhosh-Sellavel sent you a hiring offer! Reopening the issue so I remember to pay out.

[2022-09-27 00:34] kbecciv commented on #11272
Please 1. log in with applausetester+0901abb@applause.expensifail.com
2. Go to admins room
3. Tap on email  address (onboarding assistant)
This issue reproduced in all environments

https://user-images.githubusercontent.com/93399543/192404698-9522eb40-54e2-4bee-aa96-88094d412665.mp4

[2022-09-27 00:37] thienlnam commented on #8497
Another example of the Start Over button not working https://github.com/Expensify/Expensify/issues/226985#issuecomment-1258818979

[2022-09-27 01:40] aldo-expensify commented on #10653
Thanks for testing, I hope it works :) 🤞

[2022-09-27 01:51] srikarparsi commented on #11194
yup thank you @sobitneupane, closing out the issue.

[2022-09-27 01:51] #11194 closed

[2022-09-27 02:03] kavimuru opened #11312 "[$500] Chat - Pasting copied text with CMD+SHIFT+V does not work in Safari"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open NewDot in Safari
2. Copy the text with markdown and navigate to NewDot chat
3. Paste the message that was previously copi

[2022-09-27 02:10] aldo-expensify commented on #11312
@kavimuru shouldn't you be using "CMD + SHIFT + V" for pasting in mac os instead of "CTRL"?

[2022-09-27 02:17] gadhiyamanan commented on #11261
@kbecciv it's reported on slack

https://expensify.slack.com/archives/C01GTK53T8Q/p1663592332243389

https://expensify.slack.com/archives/C01GTK53T8Q/p1662829591405609

[2022-09-27 02:26] mananjadhav commented on #10889
@Luke9389 We just merged the PR few hours back.

[2022-09-27 02:26] youssef-lr commented on #11189
So simply removing the check from the frontend will allow us to upload any file type. I managed to test this on staging, for some reason uploading to S3 from my local machine does not work.

[2022-09-27 02:27] marcaaron commented on #10971
It is entirely possible that this was just triggered on dev see: https://github.com/Expensify/Expensify/issues/230440

Judging by the fact that this has not happened for 11 days - I'd guess we don't need to do anything here.

[2022-09-27 02:43] Santhosh-Sellavel commented on #10971
Could be a possibility

[2022-09-27 02:54] kadiealexander commented on #9702
Everyone is paid! Thanks team :)

[2022-09-27 02:54] #9702 closed

[2022-09-27 02:58] kadiealexander commented on #10623
@thienlnam please don't change the frequency label until the `help wanted` label is there! I missed this for a month because it wasn't a daily.

[2022-09-27 02:59] kadiealexander commented on #10623
https://www.upwork.com/ab/applicants/1574594452289884160/job-details
https://www.upwork.com/jobs/~01306bf3e6383968c3

[2022-09-27 03:12] kadiealexander commented on #7375
@parasharrajat how are we tracking with this one?

[2022-09-27 03:49] Christinadobrzyn commented on #11064
Hey @Santhosh-Sellavel @stitesExpensify will this job stay open? If yes, I'll increase the price.

[2022-09-27 03:50] mvtglobally opened #11314 "[Needs repro] [$500] Mweb - Glitch on focus when select a currency page is opened from Send money/Request money. - reported by @aneequeahmad"
HELD on https://github.com/Expensify/App/issues/10414

If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open web app and press + icon
2. send money
3. select money text

## Ex

[2022-09-27 03:53] Christinadobrzyn commented on #10663
Doubled price to $1000 - https://www.upwork.com/ab/applicants/1564993193766490112/job-details

[2022-09-27 03:58] mananjadhav commented on #10950
@tgolen Bump

[2022-09-27 04:00] mananjadhav commented on #10623
@Puneet-here 's proposal is fine by me and its a straight forward fix.

@thienlnam

🎀 👀 🎀 
C+ reviewed

[2022-09-27 04:02] mvtglobally opened #11315 "[HOLD for payment 2022-10-18] [$250] mWeb- request a setup call option not visible in landscape mode - Reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Rotate device to landscape mode
2. Go to any workspace
3. Click to on :question: icon

## Expected Result:
User should be able

[2022-09-27 04:07] mvtglobally opened #11316 "Pressing "Connect bank account" navigates to personal information step - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to bank account > add info > company step > personal information > save
2. Dismiss the modal by pressing cross
3. Now go to

[2022-09-27 04:12] mvtglobally opened #11317 "[$500] Connect manually step show up when going back from the middle of the flow - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to bank account > add info > company step > personal details
2. Dismiss the modal by pressing cross
3. Now go to workspace

[2022-09-27 04:15] mvtglobally opened #11318 "[$500] The account number is masked and you can't move forward with VBA flow - Reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to bank account > add info > company step > personal information
2. Dismiss the modal by pressing cross
3. Now go to works

[2022-09-27 04:19] mvtglobally opened #11319 "[$500] No participant image is shown in details page for group chats that are old - reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to any group chat already present in LHN.
2. Click on header to open details page.

## Expected Result:
Participant images

[2022-09-27 04:22] mvtglobally opened #11320 "[HOLD for payment 2022-11-02] [Bug] [$500] HTML formatted messages render incorrectly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Create an html file with the content below and open it in the browser
[code]
3. Select all and copy
4. Paste it in an email b

[2022-09-27 04:25] mvtglobally opened #11321 "[HOLD for payment][Bug] After typing even a mildly long comment in the Android compose box, the whole app starts to hang"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open a chat -- even an empty one
2. Just start typing a ton on the keyboard.  Not copy/pasting, just finger-smash the keyboar

[2022-09-27 04:32] akshayasalvi commented on #11315
**Proposal**

This is a small fix because `GetAssistancePage` has a `Section` block and we just need to wrap with `ScrollView` over here

https://github.com/Expensify/App/blob/90a226b20f23eeb8a669664bf4474781125e196a/src/pages/GetAssistancePage.js#L29-L40

[code]

https://user-images.githubusercontent.com/57435789/192432612-bb97f7e0-f68e-4b2c-a473-d9dc28c20c77.mov

[2022-09-27 04:39] mvtglobally opened #11322 "When sending message on low WIFI, own messages ends up getting marked as unread in the LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. Send few messages on low WIFI
3. check LHN

## Expected Result:
Unread messages should stay

## Actual Result

[2022-09-27 04:43] mvtglobally opened #11323 "Expense report comment can't get marked as "read""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any unread chat with multiple messages
2. Switch to another chat
3. Navigate to original chat again

## Expected R

[2022-09-27 04:44] dhairyasenjaliya commented on #10973
**Proposal**

- we should add onLongPress event along with new props textSelectable

`onLongPress={(e) => {
                            e.preventDefault();
                        }}`

`textSelectable`

https://github.com/Expensify/App/blob/90a226b20f23eeb8a669664bf4474781125e196a/src/pages/iou/steps/IOUAmountPage.js#L281-L288
<img width="975" alt="Screenshot 2022-09-27 at 10 12 47 AM" src="https:

[2022-09-27 04:46] ntdiary commented on #10345
Thanks for your affirmation. 😄
I don't have my own fork of `react-native`. I have also tried to find the cause of this issue from many aspects, but all failed. As a last attempt, I had to carefully compare some differences of `hermes engine`. At that time, I noticed the huge difference in file size. Then I checked the contents of binary file and found the NDK issue. Finally I submitted the proposa

[2022-09-27 04:46] Christinadobrzyn commented on #11318
Ooh, that looks like a good one to fix

[2022-09-27 04:52] mananjadhav commented on #10973
@dhairyasenjaliya I am fine with the `selectable` prop. I am not sure why we need to pass `onLongPress={(e) => { e.preventDefault(); }}`.

Instead of passing the prop and setting them manually in each component? why not set the prop and make it true by default?

cc - @neil-marcellini

[2022-09-27 04:52] dhairyasenjaliya commented on #10973
ah yes we can I was just worried if some component has custom onLongPress event

[2022-09-27 04:52] mvtglobally commented on #8956
Issue not reproducible during KI retests. (Third week) Are we ok to close this?

@kadiealexander
when you remove the member, the following message should display. "The workspace chat is no longer active because... -"
We can see it now
https://utest-dl.s3.amazonaws.com/testRunStepMinAttachmentsResult/24857096/Screen_Shot_2022-09-25_at_1.10.02_PM.png?AWSAccessKeyId=AKIAJ2UIWMJ2OMC3UCQQ&Expires=16957

[2022-09-27 05:08] mvtglobally commented on #8592
Issue not reproducible during KI retests. (First week)

[2022-09-27 05:08] mananjadhav commented on #10973
There is. `BigNumberPad` on small screen devices uses `Button` for numbers. But again I don't think so with setting `selectable`, it should cause any issues there. So if you can update the proposal with only `selectable` prop handling I am good.

[2022-09-27 05:09] mvtglobally commented on #9823
Issue not reproducible during KI retests. (Third week)

[2022-09-27 05:09] mvtglobally commented on #10127
Issue not reproducible during KI retests. (Third week)

[2022-09-27 05:10] mvtglobally commented on #10426
Issue not reproducible during KI retests. (First week)

[2022-09-27 05:10] mvtglobally commented on #9822
Issue not reproducible during KI retests. (First week)

[2022-09-27 05:10] mzohaibqc commented on #10289
@parasharrajat had some feedback on PR. l addressed those concerns and now waiting for approval.

[2022-09-27 05:11] mvtglobally commented on #10550
Issue not reproducible during KI retests. (First week)

[2022-09-27 05:12] mvtglobally commented on #10608
Issue not reproducible during KI retests. (Third week)

[2022-09-27 05:13] mvtglobally commented on #10762
Issue not reproducible during KI retests. (Third week) Are we ok to close this or anyone can still repro?

[2022-09-27 05:13] dhairyasenjaliya commented on #10973
let's say we set by default to selectable to true that will apply to all buttons on long press it will show a copy tooltip is that fine !

[2022-09-27 05:13] mvtglobally commented on #10765
Issue not reproducible during KI retests. (First week)

[2022-09-27 05:13] mvtglobally commented on #10968
Issue not reproducible during KI retests. (First week)

[2022-09-27 05:14] mvtglobally commented on #10975
Issue not reproducible during KI retests. (First week)

[2022-09-27 05:14] mvtglobally commented on #10977
Issue not reproducible during KI retests. (Second week)

[2022-09-27 05:14] mvtglobally commented on #11044
Issue not reproducible during KI retests. (Second week)

[2022-09-27 05:15] mvtglobally commented on #10283
Issue not reproducible during KI retests. (First week)

[2022-09-27 05:15] mananjadhav commented on #10608
@mvtglobally I am not sure when you say its not reproducible. Screenshots I took from staging few mins back.

<img width="300" alt="Screenshot 2022-09-27 at 10 43 59 AM" src="https://user-images.githubusercontent.com/3069065/192437839-2d5fd4b7-0364-4b88-a131-5a2c6748d756.png">

<img width="400" alt="Screenshot 2022-09-27 at 10 44 13 AM" src="https://user-images.githubusercontent.com/3069065/192437

[2022-09-27 05:15] mvtglobally commented on #10483
Issue not reproducible during KI retests. (Second week)

[2022-09-27 05:15] mvtglobally commented on #10847
Issue not reproducible during KI retests. (First week)

[2022-09-27 05:15] mvtglobally commented on #10990
Issue not reproducible during KI retests. (First week)

[2022-09-27 05:15] mvtglobally commented on #11114
Issue not reproducible during KI retests. (First week)

[2022-09-27 05:16] mvtglobally commented on #11122
Issue not reproducible during KI retests. (First week)

[2022-09-27 05:16] mvtglobally commented on #11216
Issue not reproducible during KI retests. (First week)

[2022-09-27 05:17] mananjadhav commented on #10973
Any downsides?

[2022-09-27 05:18] dhairyasenjaliya commented on #10973
nope no downside it will just show the copy

<img src=https://user-images.githubusercontent.com/47522946/192438386-1533dd17-63be-489d-ac82-55666a2c969f.png  width=50%>

[2022-09-27 05:25] mananjadhav commented on #10973
I am fine with this.

[2022-09-27 05:29] mananjadhav commented on #10847
@mdneyazahmad, @mvtglobally wont have the dev setup and that’s fine. You can continue with the PR and I’ll take care of the QA partt

[2022-09-27 05:30] adeel0202 commented on #11301
Hi @marcaaron, I think I'm eligible for the reporting bonus here.

[2022-09-27 05:34] varshamb commented on #11044
@laurenreidexpensify  Accepted the offer.

[2022-09-27 05:37] mananjadhav commented on #10738
I am guessing we can live with `AddressForm` not composed with HoC. But @luacmartins @neil-marcellini can confirm.

[2022-09-27 06:00] dhairyasenjaliya commented on #10973
**Revised Proposal**

- we should set selectable true by default

`selectable`

 https://github.com/Expensify/App/blob/90a226b20f23eeb8a669664bf4474781125e196a/src/components/Button.js#L180-L196

**Results**

**M-Safari**

https://user-images.githubusercontent.com/47522946/192434842-3be0486f-2e97-44d0-a083-dfb424248453.mp4

**M-chrome**

<img src=https://user-images.githubusercontent.com/47522946/

[2022-09-27 06:01] adeel0202 commented on #9822
@rushatgabhane you probably wanted to bump @adelekennedy 😄

[2022-09-27 06:20] Domnic95 commented on #10623
Hello  team Expensify
I got the issue and I can solve it right now.
READY TO START RIGHT NOW.

At a glance, it looks like there is just a message printing issue.

Let me take this opportunity to introduce myself first. I have been working as a Mobile app developer for the last 5 years[React Native 3 YEAR], and I made 17+ apps on that platform[REACT NATIVE ESPECIALLY] to check that app kindly unfol

[2022-09-27 06:23] #9370 closed

[2022-09-27 06:23] #9930 closed

[2022-09-27 07:01] MonilBhavsar commented on #11305
This should be related to https://github.com/Expensify/App/pull/10811. Co-assigning and looking into it

[2022-09-27 07:10] vokhuyetOz commented on #11103
It's seem to be someone run application in debug mode while they haven't finished config application yet.
I don't think it is a bug crash

[2022-09-27 07:13] ctkochan22 commented on #10926
Oh this is fixed. I think we should probably change up the indexes, but not a priority. So lets leave it as is. Its fixed for now

[2022-09-27 07:14] vokhuyetOz commented on #11103
the Developer should disable Crashlytics in debug mode

[2022-09-27 07:16] Puneet-here commented on #10926
Hey @ctkochan22, can we reopen and assign a CM as it is eligible for the reporting, I had reported it [here](https://app.slack.com/client/T03SC9DTT/C01GTK53T8Q).

[2022-09-27 07:18] getusha commented on #10623
There is two messages inside the en.js which is for _incorrectLoginOrPassword_ and _incorrectPassword_
there exist different languages so we should not edit the text but switch it to the right err variable.
https://github.com/getusha/App/blob/1e0df337b75263e015a4aa2d63a6ede27bf3acd0/src/libs/ErrorUtils.js#L14-L15

[2022-09-27 07:21] Puneet-here commented on #9739
Applied! Thanks.

[2022-09-27 07:33] Puneet-here commented on #10926
@ctkochan22, I think we need external label to assign a CM

[2022-09-27 08:06] NikkiWines commented on #10599
Hmm the auto-assigner should have taken care of this - going to try applying the label again

[2022-09-27 08:30] melvin-bot[bot] opened #11325 "[$250] Investigate: 💥 Crash 💥 `anonymous`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: JavaScriptError
### Cannot read property 'participants' of undefined
### `main.jsbundle:1347:3686 line 1347` `anonymous`
### Number of Crashes: 14

## Device Information
* **Platforms:** iOS
* **App Versions:** `1.2.7.0`
* **Devices:** Apple iPhone11,6 16.0.0

## Stacktraces
<details>

[2022-09-27 08:30] melvin-bot[bot] opened #11326 "[$250] Investigate: 💥 Crash 💥 `.chatIncludesConcierge`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Cannot read property 'participants' of undefined
### `address at index.android.bundle:1:1898897` `.chatIncludesConcierge`
### Number of Crashes: 7

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.7-0`
* **De

[2022-09-27 08:36] dylanexpensify commented on #11270
internal: https://www.upwork.com/ab/applicants/1574679361843929088/job-details
external: https://www.upwork.com/jobs/~0177ab63cf861cd90e

[2022-09-27 08:37] dylanexpensify commented on #9902
@rushatgabhane sorry I missed this, let me check and report back

[2022-09-27 08:39] dylanexpensify commented on #10610
Yes! Shall we close then @marcochavezf ?

[2022-09-27 08:40] dylanexpensify commented on #10148
any updates cc @rushatgabhane ?

[2022-09-27 09:14] vankar47 commented on #10623
seems like you guys are using a generalised message for login error which occurs on invalid credentials regardless of which is incorrect email or password.
This will require a simple condition to determine which field is incorrect and display a different message based on the output of the condition.

[2022-09-27 09:18] sophiepintoraetz commented on #11284
@kbecciv - can you confirm whether that this is the case?

Otherwise, I agree with Alex that this is probably a non-issue.

[2022-09-27 09:32] trjExpensify commented on #10550
I'm going to update the title of this issue to put `[Hold Sequence #]` in it as I understand we're held here on implementing that project.

[2022-09-27 10:05] mountiny commented on #9902
I agree we can close this issue out as the crash did not occur in a while. Also I think we should compensate part of the full price to @dhairyasenjaliya for their investigation and confirming this should be fixed by RN update.

[2022-09-27 10:18] mountiny commented on #11010
Merged 🎉

[2022-09-27 10:19] adeel0202 commented on #8455
Hi @Luke9389. I'm able to reproduce this consistently on staging and prod too. On prod, I'm getting `402 Missing newEmail`; and on staging, I used to get the same error but today, I'm getting `No secondary login provided.` error. I have attached both videos.

### Prod
https://user-images.githubusercontent.com/13783842/192500006-cee10aa1-f8de-4f6f-8cd8-2aa9f81296a5.mov

### Staging

https://user-im

[2022-09-27 10:25] tienifr commented on #11261
# Proposal
## Problem
we aren't setting width for Wellcome text and user typing indicator, so with the too long text it'll be truncated in the small screen
## Solution
**With Wellcome text**
Set width= 100% by adding w100 into containerStyles of Tooltip
we also need to change textAlign to be 'center'. It makes the address seem to be nicer
In https://github.com/Expensify/App/blob/c942b3e3eb788a52b0

[2022-09-27 10:45] trjExpensify commented on #10793
👋 Should we update the title of this issue to be "use `react-quick-sqlite` instead of asyncStorage" and does [this PR](https://github.com/Expensify/App/pull/11066) need to be linked to this issue?

[2022-09-27 10:45] sketchydroide commented on #11202
Sure, but do you mean add them to the body?

[2022-09-27 10:50] trjExpensify commented on #4656
@marcaaron - which PR is that? https://github.com/Expensify/App/issues/4656#issuecomment-1247373020

[2022-09-27 11:07] Julesssss commented on #11157
I agree, this sounds good to me. However, can we use `canSubmitWhileOffline` instead of `shouldAllowSubmitWhenOffline`? That's the best I could come up with, but any other simple name would work 👍

[2022-09-27 11:10] flodnv commented on #11111
@jasperhuangg any thoughts? And why is this on HOLD? 😕

[2022-09-27 11:11] #10993 closed

[2022-09-27 11:33] michaelhaxhiu commented on #10523
cc @Expensify/design for input on this issue, which rajat mentioned above:

[2022-09-27 11:33] sketchydroide commented on #10625
not overdue, we had to assgin a new C+

[2022-09-27 11:35] kbecciv opened #11329 "[$250] Web - Drag and drop - The page is jumping"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
and login with any account
2. Go to any conversation
3. Reduce the size of the wi

[2022-09-27 11:38] kbecciv opened #11330 "[HOLD for payment 2022-11-16] [$500] Draft messages jump around in the LHN when accessed a second time"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/11211

## Action Performed:
1. Go to staging.new.expensify.com
2. Login with t

[2022-09-27 11:42] kbecciv opened #11331 "Web - New Room - App crashed when creating New Room with nearly created Workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login to expensify account
3. Create a New Workspace
4. Click a FAB button/New

[2022-09-27 11:43] dylanexpensify commented on #9902
@dhairyasenjaliya mind applying [here](https://www.upwork.com/jobs/~01fcc6865ab6ae9e42)?

[2022-09-27 11:47] kbecciv opened #11332 "mWeb - Chat -Drafted message is not moving to the top after made drafted message, only after refresh the page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/11211

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with

[2022-09-27 11:51] laurenreidexpensify commented on #11044
Payment issued Thanks!

[2022-09-27 11:51] #11044 closed

[2022-09-27 11:52] michaelhaxhiu commented on #11233
paid.

[2022-09-27 11:52] #11233 closed

[2022-09-27 11:52] dhairyasenjaliya commented on #9902
applied, thank you, team :)

[2022-09-27 11:53] michaelhaxhiu commented on #11233
woopsie, not paid _just yet_ but will be paid as soon as rajat accepts

[2022-09-27 11:57] Santhosh-Sellavel commented on #11064
@stitesExpensify Can you check what environment its from logs?

[2022-09-27 11:59] Santhosh-Sellavel commented on #10765
@advaitasol9 is this issue reproducible for you on staging/ latest main.

[2022-09-27 12:07] kbecciv opened #11333 "Android - LHN -Drafted messages made on Web did not synced to app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/11211

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with

[2022-09-27 12:09] advaitasol9 commented on #10765
Yes @Santhosh-Sellavel, below is a video from few days ago while I was testing on main branch. In my testing I found the issue is only happening when we delete the message while the keyboard is open.

https://user-images.githubusercontent.com/93445984/192520952-a0c19e92-d477-4de2-8cb5-38bb3c5c1625.mp4

[2022-09-27 12:13] Santhosh-Sellavel commented on #10765
@advaitasol9 Can you check now on staging build or latest main

[2022-09-27 12:14] advaitasol9 commented on #10765
Sure @Santhosh-Sellavel , will get back to you.

[2022-09-27 12:35] dylanexpensify commented on #9902
Offer sent!

[2022-09-27 12:35] kbecciv opened #11334 "[HOLD for payment 2022-11-02] [$250] Android - New Room - The "Save" button in the Spanish account doesn't transfer correct"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App
2. Log with any Spanish expensify account or change the language
3. Click on FAB button/New Room
4. Create the ro

[2022-09-27 12:38] kbecciv opened #11335 "[$250] mWeb/Chrome - Chat - Emoji can be opened only the second time"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
and login with any account
2. Go to chat with any user
3. Sent a message
4. Selec

[2022-09-27 12:46] dylanexpensify commented on #9902
payment sent, contract ended, job closed! thanks y'all!

[2022-09-27 12:46] #9902 closed

[2022-09-27 12:46] kbecciv opened #11336 "[$500] mWeb/Chrome - Profile setting - The autofill field remains when scrolling the page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Go to Settings->Profile
4. Focus on the name input f

[2022-09-27 12:52] stephanieelliott commented on #9545
Hey @iwiznia can you investigate whether this PR contributed to the regression on https://github.com/Expensify/App/issues/10966 (I think that's the next step here....)

[2022-09-27 13:00] stephanieelliott commented on #10283
I'm also unable to repro now.

[2022-09-27 13:05] stephanieelliott commented on #10891
Cool! Ok, removing the `Help Wanted` label since we have a fix for this already.

[2022-09-27 13:10] stephanieelliott commented on #11122
I'm also no longer able to repro on production!

[2022-09-27 13:12] stephanieelliott commented on #11134
Removing `Help Wanted` since we will fix this internally.