[2021-08-13 21:36] Santhosh-Sellavel commented on #4545
@parasharrajat do you get it now?

Here we can make some kind of exception for `concierge`, we have activeReportID could use that to find whether it's Concierge using `states` or we have to add something in the state to track currently active login something like that.

[2021-08-13 21:44] Santhosh-Sellavel commented on #4545
dismissingModals will happen anyway abruptly, we could just do it proactively, there's nothing wrong with that!
But that's not the only solution here!

[2021-08-13 22:11] marcaaron commented on #4027
I'm going to close out this issue and create a new one so we can get some more eyes on the problem. Now that there is a reliable way to test changes I think this would be better as a rolling job where we accept all proposals that are clear improvements (something like 500ms or more and can be verified by anyone).

[2021-08-13 22:11] #4027 closed

[2021-08-13 22:21] marcaaron opened #4656 "[Performance] Improve Android Cold Boot TTI (Time To Interactive)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?

- App launch and time to interactive
- Issue feels likely to be in the JS layer

## What is the impact of this on end-use

[2021-08-13 22:29] arielgreen commented on #4507
https://www.upwork.com/jobs/~01f7d2db5bd805d8ca

[2021-08-13 22:30] arielgreen commented on #4507
@tgolen can you review @thesahindia's proposal?

@thesahindia please also be sure to apply to the Upwork job [here](https://www.upwork.com/jobs/~01f7d2db5bd805d8ca).

[2021-08-13 22:40] arielgreen commented on #3599
Paid.

[2021-08-13 22:40] #3599 closed

[2021-08-13 23:00] quinthar commented on #4214
Am I correct in understanding this is more of a partial solution to this problem -- we still don't have any truly idempotent handling of comments (such as by using client-side generated actionIDs)?

[2021-08-13 23:05] isagoico opened #4657 "[Network] Desktop - User was signed out after updating desktop app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Update desktop app
2. Reopen app.

## Expected Result:
User should be signed in after updating the app.

## Actual Result:
User was signed out af

[2021-08-13 23:10] isagoico opened #4658 "App - App is consuming to much battery life when receiving messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Use the app during the day
2. When receiving several messages check the battery consumption in settings.

## Expected Result:
App should consume

[2021-08-13 23:20] isagoico opened #4659 "[Hold for Payment] Manage cards button is not visible when viewport is ~840px"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a workspace
2. Reduce to viewport to be ~840px

## Expected Result:
Button should be completely visible.

## Actual Result:
Button is

[2021-08-13 23:28] isagoico opened #4660 "[HOLD for payment 2021-09-16] UX - Improve coloring and message when completing password requirements"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a new account
2. Click on the magic link
3. Set a password with the correct requirements

## Expected Result:
The password hint is always

[2021-08-14 00:43] roryabraham commented on #4628
@kavimuru This should be fixed in v`1.0.85-5`+

[2021-08-14 00:47] roryabraham commented on #4554
@isagoico Can we please retest https://github.com/Expensify/App/issues/4628 ?

[2021-08-14 00:54] kakajann commented on #4660
## Proposal

Removing this will solve the problem. We don't need to color the hint text green if the password is valid.
https://github.com/Expensify/App/blob/8b10c1c1a0267eb66ef8fdc6e0049f9b101836a2/src/pages/settings/NewPasswordForm.js#L89-L91

[2021-08-14 01:40] kakajann commented on #4659
## Proposal
840px is actually tablet size. I tried to fix the issue, but it's kind of impossible with current structure.

So, best way to fix this, is add
[code]

[2021-08-14 01:47] isagoico commented on #4554
https://github.com/Expensify/App/issues/4628 retest was a pass checking it off.
<img src="https://user-images.githubusercontent.com/44479856/129430888-d82b2f26-fadc-40dc-81da-8cbb8cc2d825.png" width="40%">

[2021-08-14 01:48] isagoico commented on #4628
https://github.com/Expensify/App/issues/4554#issuecomment-898792075 retest was a pass, closing.

[2021-08-14 01:48] #4628 closed

[2021-08-14 01:49] kakajann commented on #4659
# Result
![Screen Shot 2021-08-14 at 6 48 53 AM](https://user-images.githubusercontent.com/11542415/129430916-57633ebb-d542-4c7c-8adb-f72c1898c491.png)

[2021-08-14 05:07] mananjadhav commented on #4659
@kakajann I had similar findings and we were tracking this issue here https://github.com/Expensify/App/issues/4421

The current structure doesn't factor in any Tablet device dimensions.

[2021-08-14 06:13] mananjadhav commented on #4660
In `PasswordPage.js` change password page, we're hiding the password hint as soon as it matches all the requirements.

[2021-08-14 10:55] thesahindia commented on #4507
@arielgreen Submitted the proposal :smile:

[2021-08-14 13:07] mananjadhav commented on #4110
I've got some changes in [this branch](https://github.com/mananjadhav/App/tree/fix/signin-page-layout), which fixes Safari Web layout and also iPad layout with centered items.

After my fix, this is how Signin page looks in different browsers:

### Safari Web
<img width="1440" alt="signin-layout-safari-web" src="https://user-images.githubusercontent.com/3069065/129447159-5a4764ae-9cf1-4fc4-9200-7a

[2021-08-14 13:48] mananjadhav opened #4663 "[HOLD for payment + bonus] Password error translation not updated on Language change"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to Login page
2. Don't enter anything and press enter
3. You'll see an error `Please enter an email or phone number`
4. Now change the languag

[2021-08-14 13:49] mananjadhav commented on #4663
**Proposal**

In the `LoginForm.validateAndSubmitForm`, we're storing the whole translated error message in the state.

[code]

Instead we should only store the key and use translation in the render method

[code]

[2021-08-14 13:54] mananjadhav commented on #4663
The same issue exists in `PasswordForm` too.

![image](https://user-images.githubusercontent.com/3069065/129448509-9ea8c361-1a0c-46d4-880e-1e776b4f7215.png)

 Also the error message is a little misleading when there's only one field it says, `Please fill out all fields`

[2021-08-14 14:53] mananjadhav opened #4664 "[Hold for Payment - Sept 6th] Receipts@ shows localtime"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to Chat Screen
2. Start a new Chat with receipts@expensify.com or open an existing chat with receipts@expensify.com
3. You'll see local time f

[2021-08-14 14:53] mananjadhav commented on #4664
**Proposal**

In `ReportActionCompose`, there's a flag `shouldShowReportRecipientLocalTime`. We need to update the checks for the same.

[code]

[2021-08-14 15:34] isagoico commented on #4554
Removing this PRs that were incorrectly added to the list:
1. https://github.com/Expensify/App/pull/2703
2. https://github.com/Expensify/App/pull/4590
3. https://github.com/Expensify/App/pull/4603
4. https://github.com/Expensify/App/pull/4604
5. https://github.com/Expensify/App/pull/4610
6. https://github.com/Expensify/App/pull/4478
7. https://github.com/Expensify/App/pull/4534
8. https://github.c

[2021-08-14 16:45] isagoico commented on #4076
@luacmartins I'm gonna go ahead and close this issue since it was fixed :).

[2021-08-14 16:45] #4076 closed

[2021-08-14 17:07] isagoico opened #4665 "Desktop - Error message for password mismatch not dismissed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue is failing https://github.com/Expensify/App/pull/4409 for destop

## Action Performed:
1. Launch the app and login
2. Click Settings > Change password
3. Enter dif

[2021-08-14 17:08] OSBotify commented on #4665
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-14 17:56] parasharrajat commented on #4665
cc @mananjadhav .

[2021-08-14 19:24] isagoico commented on #4599
Nope! Issue is **also** reproducible in iOS.

[2021-08-14 19:27] Santhosh-Sellavel opened #4666 "Workspace admin user is selectable to remove."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Note: User should have a workspace, if not create one using the following steps
1. Click the FAB button  (➕ Icon),
2. Select New Workspaces to create a one.

## Action P

[2021-08-14 19:27] isagoico commented on #2499
Issue is still reproducible and failing https://github.com/Expensify/App/pull/4440

[2021-08-14 19:28] OSBotify commented on #2499
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-14 19:28] Santhosh-Sellavel opened #4667 "Workspace Role Admin is not translated it's hardcoded"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Note: User should have a workspace, if not create one using the following steps
1. Click the FAB button
2. Select New Workspaces to create a one.

## Action Performed:
1

[2021-08-14 19:31] isagoico commented on #4554
Regression is finished (desktop)
Issues found:
1. #4665 is failing https://github.com/Expensify/App/pull/4409 on desktop

- https://github.com/Expensify/App/issues/4599 app is crashing when entering a new password in the set a password screen https://github.com/Expensify/App/issues/4599#issuecomment-898023279. This issue is still failing https://github.com/Expensify/App/pull/4418.

- https://githu

[2021-08-14 19:53] parasharrajat commented on #4667
Can't you merge this with https://github.com/Expensify/App/issues/4666? is this justified to be a separate issue :maple_leaf: ? Usually, translations are added with code changes and bug fixes?

[2021-08-14 20:04] parasharrajat commented on #4545
Definitely navigating two times is an issue.

Mostly navigate should handle this. Navigate method is adjusted many times to make it work as it does now. You can look into the history of it. So if we found an issue with it my suggestion is we improve it.

First time it work as it should and we can navigate to `concierge` report but second time it does not. How can you say `There is no issue with im

[2021-08-14 20:14] Santhosh-Sellavel opened #4668 "There is an option Invite multiple Users to workspace, but it's not conveyed to the user."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Note: User should have a workspace, if not create one using the following steps
1. Click the FAB button
2. Select New Workspaces to create a one.

## Action Performed:
1.

[2021-08-14 20:36] parasharrajat opened #4669 "Count is always shown as `1 new message` when there are multiple unread messages in the new MarkerBadge"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any conversation in newDot.
2. Scroll back in the history to see the new Markerbadge when new messages are received.
3. Send a new message f

[2021-08-14 20:48] parasharrajat commented on #4669
Explanation:
1. We should `this.props.report.unreadActionCount` in the Markerbadge.
2. But every time a message is received the `this.props.report.unreadActionCount` reset code is executed https://github.com/Expensify/App/blob/8b10c1c1a0267eb66ef8fdc6e0049f9b101836a2/src/pages/home/report/ReportActionsView.js#L199

Proposal after Triage is done...

[2021-08-14 22:25] parasharrajat commented on #4513
This seems another issue with Onyx. `ONYXKEYS.NVP_PREFERRED_LOCALE` is being reset to en from es for the first attempt after logout.

I tested the withLocalize HOC that if it's getting correct preferredLocale but its not. LocalePicker only run the `setLocale` one time with `es` next time it is skipped due to the `locale !== preferredLocale`. But we get `en` from the Onyx as `preferredLocale`. I do

[2021-08-15 04:58] mananjadhav commented on #4665
This PR #4607 has the fix for it. Waiting on this to get it merged.

[2021-08-15 17:51] ZaidQ797 commented on #4296
How we can participate I get Invitation on upwork I responded there

[2021-08-15 19:23] SofiedeVreese commented on #4659
@shawnborton would love your thoughts here, given the similarities to #4421  and you mentioned we don't plan on changing the breakpoint?

[2021-08-15 19:49] kakajann commented on #4659
No need to change the breakpoints in my opinion. Just add new breakpoint to make some components responsive for tablet sizes. (i.e between 800 and 1024 pixels)

It will help us to fix current issue and for future use.

[2021-08-15 22:43] sophiepintoraetz commented on #4666
Hey @Santhosh-Sellavel - can you confirm a couple of things for me please:
1.  What does FAB stand for in `Click the FAB button`?
2. Which platforms is this occurring on; just mobile or web or all of the above?
3. `Since there is only a remove action, after user selection. Admin option should not selectable.` Can you confirm whether the actual expected result is that the Admin should be removed **

[2021-08-15 23:16] isagoico commented on #3297
Issue reproducible during KI retests

[2021-08-15 23:16] isagoico commented on #3901
Issue reproducible during KI retests

[2021-08-15 23:17] isagoico commented on #4110
Issue reproducible during KI retests

[2021-08-15 23:17] isagoico commented on #4623
Issue reproducible during KI retests

[2021-08-15 23:17] isagoico commented on #4622
Issue reproducible during KI retests

[2021-08-15 23:21] isagoico commented on #2499
Issue reproducible during KI retests

[2021-08-15 23:21] isagoico commented on #4625
Issue reproducible during KI retests

[2021-08-15 23:22] isagoico commented on #4296
Issue reproducible during KI retests

[2021-08-15 23:23] kakajann commented on #4625
@isagoico I've opened a pull request. Still waiting for a review.

[2021-08-16 01:18] Christinadobrzyn commented on #4625
sorry I'm out sick today - looks like we need a job created in Upwork - I'll do it tomorrow when I'm in. Adding the Exported label since there's a PR.

[2021-08-16 01:39] kakajann commented on #4666
FAB stands for **Floating Action Button** and mostly used in Material UI

[2021-08-16 03:37] mananjadhav commented on #4659
I agree with @kakajann. We should be adding a new breakpoint for tablet sizes and probably rethink on certain pages.

[2021-08-16 03:45] Santhosh-Sellavel commented on #4666
Floating Action Button - ( ➕ icon)

Updated, its occuring in all the platforms

1. Admin should not be removed.
2. So we should not be able to select admin for removing.  Else after selection while clicking remove button,  We should alert the user that admin can't be removed.

[2021-08-16 03:59] mananjadhav commented on #4526
@isagoico @tgolen Can you guys help me with additional test cases for Markdown links?
While I was able to fix, `[Text text] more text ([link here](www.google.com))` but the following nested cases fail.

[code]

I can find a solution to get both the nested cases work but if additional test cases are provided I can give a better solution to avoid any regression later.

[2021-08-16 07:28] kidroca commented on #4513
I'll take a look and post back

[2021-08-16 07:52] shawnborton commented on #4659
I think that makes sense to me, curious if anyone else from @Expensify/design agrees. To summarize, we basically have a weird set of screen widths between like 800px-1000px wide where this Expensify Card advertorial breaks down. It sounds like the actual design of the advertorial for mobile devices would look better in these cases.

[2021-08-16 07:58] shawnborton commented on #4417
Sorry for the delay - I agree that the growl feedback that is shown in the "Expected Result" video looks good to me.

[2021-08-16 08:11] laurenreidexpensify commented on #3855
@anthony-hull did you have any proposals to fix this issue?

[2021-08-16 08:46] Julesssss commented on #3737
Yeah, on hold while higher priority tasks are worked through.

[2021-08-16 09:31] sketchydroide commented on #4623
Thanks, I'll set this as weekly, something we should definetly fix, but it's not holding anything.

[2021-08-16 09:32] trjExpensify commented on #4232
Anyone heard anymore on this? Let me know if we're good to take the Upwork post down.

[2021-08-16 09:32] sketchydroide commented on #4623
Also this seems like an external

[2021-08-16 09:36] trjExpensify commented on #4646
Ah yes, we should definitely not allow this. We hide these users in the request money/split bills flows already. Handing over to engineering triage.

CC: @MitchExpensify & @kevinksullivan as this is related to N6.

[2021-08-16 09:41] Beamanator commented on #4475
Making weekly since PR was merged last week

[2021-08-16 10:41] anthony-hull commented on #4665
in my PR I'm intending to remove the second password field because the user will be able to unhide their password, removing the purpose of password repetition.
https://github.com/Expensify/App/issues/2734

[2021-08-16 10:52] kidroca commented on #4513
I've found the problem while debugging

It can be traced to the 20th second of this video where I follow the steps to reproduce with the deubgger

https://user-images.githubusercontent.com/12156624/129549608-fd7c5642-b873-4b32-a2ea-f4cad4bcc60f.mp4

- clue: 1 Between the 20 and 25 seconds you can see a call to `Onyx.clear` being made
- clue: 2 At 1:20 a `Onyx.set` call that sets the `es` locale ag

[2021-08-16 11:01] parasharrajat commented on #4513
Oh. Great. Network requests will definitely be removed. Good to know that it fixes the issue.

[2021-08-16 11:02] mananjadhav commented on #4665
@anthony-hull I would still recommend keeping "Confirm Password" field. It ensures that the user has double checked the password by typing it twice.

With one field we can't guarantee that the user has clicked on visibility toggle to ensure he has typed it correctly. What do you think?

[2021-08-16 11:18] kidroca commented on #4513
Regarding the proposal, you don't have to go through this _"Block the API call when Language is selected. To do this we can add a prop offline to the LocalPicker which can then pass to"_
You don't need to pass a prop to the LocalePicker and then pass it to `setLocale` as parameter

`setLocale` already has access to the `session` here

https://github.com/Expensify/App/blob/8b10c1c1a0267eb66ef8fdc6e

[2021-08-16 11:19] kidroca commented on #4513
Or the request can be skipped simply because there would not be a `currentUserAccountID`

[code]

[2021-08-16 11:33] anthony-hull commented on #4665
Very good point, I agree that they might not check. But in that case the user could just reset their password.

My proposed way you reduce the frustration of typing the password out twice for all users who follow the flow.
Keeping the two boxes you help only those who don't bother toggling AND make a mistake. And I think the chance of mistake is doubled when you have to type twice, further making

[2021-08-16 11:35] kidroca commented on #2667
The 4th PR was merged here: https://github.com/Expensify/App/pull/4509
  - @arielgreen this completes the milestone in Upwork, there was one regressions that was handled, I'm OK to give this more time in case there are other regressions, but just want to bring up that new work is tracked separately

We've started work/discussions on the items proposed above https://github.com/Expensify/App/issues/

[2021-08-16 12:11] kidroca commented on #4027
BTW I've tried removing screens/components to see how much different components affect loading, but I used the `Timing:...` logs

I get this after a fresh login and then app restart

I've removed all the navigators and screens besidese LHN and the ReportScreen and the time didn't change much

The time dropped to 2833 only after I've removed the whole `ReportScreen`

Even then I've seen the LHN may

[2021-08-16 12:30] mananjadhav commented on #4665
Good thought. Lets get more eyes to see what they think

[2021-08-16 14:20] michaelhaxhiu commented on #4472
Assigning shawn + me until these details are hammered out. @Santhosh-Sellavel did you want to start a thread in #expensify-open-source to help clarify the details?

[2021-08-16 14:32] Julesssss commented on #4608
Hi @isagoico. Apple raised this issue and have rejected the app release, but we're only able to reproduce it about 25% of the time.

Are you able to reproduce? Any information on device/account/ect could be helpful. This is the user that Apple are using to test:

[code]

[2021-08-16 14:55] michaelhaxhiu commented on #4472
We are attempting to determine the appropriate behavior/scope of the solution, and could benefit from internal engineering input before this job is created and assigned.

Slack thread here - https://expensify.slack.com/archives/C01GTK53T8Q/p1628782470250300

[2021-08-16 15:14] mallenexpensify commented on #4435
Job posted https://www.upwork.com/jobs/~01b9648852c0022ec5
@chiragsalian will you review @aman-atg 's proposal above? Thx

[2021-08-16 15:18] AndrewGable commented on #4665
Is this a duplicate of https://github.com/Expensify/App/issues/4606 ?

[2021-08-16 15:21] AndrewGable commented on #4665
@puneetlath, @shawnborton, and @deetergp - What are your on [this comment](https://github.com/Expensify/App/issues/4665#issuecomment-899438886)? It does seem like there might be two parallel conversations and ideas for what the best UX will be for the change password field. I thought we'd just match expensify.com UX, but let's discuss so we aren't duplicating work.

[2021-08-16 15:22] mananjadhav commented on #4665
@AndrewGable  I would say, one case was left out and merged in the same issue's PR #4607. If you can review then this will get resolved.

[2021-08-16 15:40] luacmartins commented on #4660
Issue reproducible! Adding `External` and `Monthly` labels as it can definitely be done by a contributor and it does not seem like a priority.

[2021-08-16 15:46] mountiny opened #4671 "[TEST] Please ignore, testing webhooks"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

Test if this issue gets auto close upon App PR being merged. For context: https://github.com/Expensify/Expensify/issue

[2021-08-16 15:56] strepanier03 commented on #4667
Passing on to Eng to make the call about merging it with the other GH linked in, just because it is two unique issues.

From screenshot in OP comment the issue is clear as are the reproduction steps.

[2021-08-16 15:56] Julesssss commented on #4608
The latest TestFlight build I can update to is `1.0.83-0`, we should also be seeing the issue on this version as it was [originally reported ](https://expensify.slack.com/archives/C07J32337/p1628644892166500)on `1.0.82-7`.

But I didn't see the issue once in 10 attempts with the Apple credentials, or with 5 attempts on two other user accounts of mine (one with few conversations, one with many).

[2021-08-16 16:12] megankelso commented on #4659
sorry for the confusion, but is [this](https://github.com/Expensify/App/issues/4659#issuecomment-898792274) the proposal? essentially having the cards layered behind the text?

I know these are different sizes, but I noticed the cards are changing size and position. Curious if there's a way to keep them more consistent with the screen below?
![129406961-6f7898e7-19ed-487c-850f-dad8f3e460e8](https:

[2021-08-16 16:21] isagoico commented on #4608
@Julesssss This was not reproducible on our side during regression 🤔 I just asked a tester to double check and he was able to log in without issues.

[2021-08-16 16:22] tgolen commented on #4526
Are nested links a requirement? I don't think so.

I think case 2 in your comment is something we want to support though. How is that different than the case that spawned this issue with brackets at the beginning of the text?

[2021-08-16 16:27] isagoico opened #4673 "[HOLD for payment on Wednesday, September 8th] IOU - "What's it for?" placeholder is capitalized"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel! https://www.upwork.com/jobs/~01eb24ca989c0c7fb6
___

## Action Performed:
1. Click on the global create button
2. Click on request money
3. Set an amount
4. Select another us

[2021-08-16 16:28] Julesssss commented on #4608
Thanks, @isagoico. Would you mind sharing the iOS model and version that was tested? And just to confirm, was it attempted a few times?

At this point, I think the only possibilities are that this is specific to certain iOS versions, or that it was a temporary issue that somehow occurred during two Apple reviews 😕

[2021-08-16 16:30] isagoico commented on #4365
@Dal-Papa friendly bump here :)

[2021-08-16 16:31] roryabraham commented on #3901
Still no new activity here.

[2021-08-16 16:32] Santhosh-Sellavel commented on #4667
I do find missing translation itself an issue. If someone else raised this issue or I didn't raise any other issues will there be a thought of merging. Just need some clarity.

[2021-08-16 16:45] Santhosh-Sellavel commented on #4545
Sure @parasharrajat , as i said earlier`dismissModal` It was not the only solution.

Thanks for inputs, I'll look through the history.

What do you think about this
https://github.com/Expensify/App/issues/4545#issuecomment-898732449

Please post your thoughts this it will be help ful. Thanks

[2021-08-16 16:48] Viacheslav80 commented on #4129
Hi! it seems that the proposal with setTimeout fix this issue, not source/cause of multiple rendering, it seems that the cleaning method is running too long - longer than the user has time to enter characters further
and onSubmit increases this time even more

but we need to save this.comment to a constant first:
[code]
it seems that the cleaning method is running too long - longer than the user h

[2021-08-16 16:51] marcaaron commented on #4129
@Viacheslav80 Using a `setTimeout()` to fix this isn't acceptable. It feels like we are missing the real cause.

[2021-08-16 16:52] isagoico commented on #4608
Our last regression run was tested on 1.0.85-0, we have some tests that require login in and out of the app several times and they were a pass. Tester just tried on a iPhone 11Pro / iOS 14.6 and it was not reproducible. We're trying again with another device.

[2021-08-16 16:52] tgolen commented on #4507
I would like to request some changes to your proposal to increase the quality of the code.

I would suggest refactoring this code slightly so that there is only one method in the entire codebase in `actions/Session.js` which calls `Onyx.clear()` and it would be a place to handle all of the "need to keep this after clearing Onyx". We are currently only doing this properly in `redirectToSignIn()` by

[2021-08-16 16:54] kevinksullivan commented on #3770
All set.

[2021-08-16 16:55] mountiny commented on #4671
Worked for `App` issue [here](https://github.com/Expensify/App/pull/4672) 🎉

Testing Expensify repo issue now! [here](https://github.com/Expensify/App/pull/4674)

[2021-08-16 16:55] marcaaron commented on #4027
Not sure if it's relevant but that particular timing log only completes when an API request finishes -> https://github.com/Expensify/App/blob/69ee2fe21bf825318a9e717096293aedc51bda4a/src/libs/actions/Report.js#L943

[2021-08-16 17:03] arielgreen commented on #2667
Excellent, thanks @kidroca. The 7-day period ends tomorrow for that one, so I'll pay out the milestone and close out that contract tomorrow.

@marcaaron since this work is continuing, is it helpful to leave this GH issue open as a master issue to track all these improvements going forward?

[2021-08-16 17:06] thesahindia commented on #4673
Hi there, I think that this can be fixed by changing the translations in `en.js` and `es.js` files.
If it's available then I would like to work on this issue.

[2021-08-16 17:09] isagoico commented on #4608
We just retested on a iPhone 8 / iOS 13.3 and it was not reproducible. Tester logged in and out >10 times and it worked as expected.

[2021-08-16 17:11] arielgreen commented on #4232
Nope, I think we're good to close it out and remove the Upwork post.

[2021-08-16 17:15] Beamanator commented on #2936
Back to weekly since I'm focusing on some other tasks for now

[2021-08-16 17:18] isagoico opened #4675 "[HOLD for payment 2021-09-10] Placeholders are not vertically centered in text inputs"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to staging.new.expensify.com
2. Check the placeholders in text inputs

## Expected Result:
Placeholder should be vertically centered in

[2021-08-16 17:34] #4592 closed

[2021-08-16 17:35] Julesssss commented on #4608
Thanks again @isagoico. This is what we know so far:

- Apple reported the issue twice, in separate reviews
- Initially, @chiragsalian was able to reproduce on the TestFlight build `1.0.84.5` roughly 25% of the time
- Nobody has ever been able to reproduce **on a local build** (including `prod/dev`, `debug/release`,  `physical/simulator` builds)
- Since last Thursday, nobody has been able to repro

[2021-08-16 17:36] isagoico opened #4677 "Search - Remove search label"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to NewDot
2. Click on the search icon
3. Type anything in the search box

## Expected Result:
When there are no results there should be a

[2021-08-16 17:41] kevinksullivan commented on #3855
Sorry I completely missed the export on this, and thanks for stepping in @laurenreidexpensify . Updating my email filters/notifications to make sure this doesn't happen again.

[2021-08-16 17:43] thesahindia commented on #4507
@tgolen
Hi, I want to know if it'd be a bad idea to just use `redirectToSignIn` instead of `restartSignin` since `redirectToSignIn` is handling this situation in a better way.

https://github.com/Expensify/App/blob/69ee2fe21bf825318a9e717096293aedc51bda4a/src/libs/actions/SignInRedirect.js#L28-L34
Here it says that If we move this function to `Session.js` then it can cause circular dependency. So,

[2021-08-16 17:45] Julesssss commented on #4608
My preference would be to communicate with Apple to see if they can **A)** retest the issue, or **B)** provide additional device/version info which will help us to reproduce the problem. If that's not possible then maybe we should think about attempting another release.

[2021-08-16 17:51] puneetlath commented on #4665
I agree with @anthony-hull. I think the ability to show your password and not have to type it twice is the better UX.

[2021-08-16 17:52] Santhosh-Sellavel commented on #4677
Return search value is the problem here
<img width="893" alt="Screenshot 2021-08-16 at 11 21 00 PM" src="https://user-images.githubusercontent.com/85645967/129607529-961c882e-5b55-496d-9f4c-6f898c4da2d9.png">

[2021-08-16 17:55] AndrewGable commented on #4608
I can reproduce on 1.0.84.5 iPhone 12 pro max on wifi.

https://user-images.githubusercontent.com/2838819/129608033-60a6654d-9f5c-44ca-a156-35aff7229681.MP4

[2021-08-16 17:58] aman-atg commented on #4677
Dupe of https://github.com/Expensify/App/issues/4163

[2021-08-16 18:00] aman-atg commented on #4163
@Beamanator
Maybe we can open this issue now. And close the dupe: https://github.com/Expensify/App/issues/4677

I'll update the proposal.

[2021-08-16 18:02] mallenexpensify commented on #4497
Upwork job created https://www.upwork.com/jobs/~0108c4f8a047bb5988
@Beamanator can you review @aman-atg 's proposed fix above? [link](https://github.com/Expensify/App/issues/4497#issuecomment-894672131)

[2021-08-16 18:06] roryabraham commented on #4629
No new proposals here.

[2021-08-16 18:07] marklouisdeshaun commented on #4415
Not overdue, just waiting for review of the draft PR

[2021-08-16 18:09] marklouisdeshaun commented on #4110
Not overdue - waiting for review

[2021-08-16 18:10] AndrewGable commented on #4608
I've toggled on/off notifications preferences and uninstalled/re-installed 1.0.84.5 and did see the request for notifications, hit "accept", but then still see the splash screen indefinitely.

1 | 2
--|--
![IMG_4583](https://user-images.githubusercontent.com/2838819/129609911-c3ef17c4-2c84-4d16-bc31-ae695f47f040.PNG) | ![IMG_7382415CB042-1](https://user-images.githubusercontent.com/2838819/1296099

[2021-08-16 18:10] Santhosh-Sellavel commented on #4130
Are there any regressions, can we close this?

[2021-08-16 18:14] AndrewGable commented on #4608
I can't reproduce on latest (1.0.85.6)- did we fix this already elsewhere?

[2021-08-16 18:14] roryabraham commented on #4296
Welcome! Please review the [contributing guide](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md) for detailed instructions!

---

Overall, we need proposals to demonstrate:

- A clear understanding of the problem
- Some degree of familiarity with the repo code (i.e: enough detail to point out where the problem exists in the code)
- A clear and concise summary of the proposed solution
-

[2021-08-16 18:16] mallenexpensify opened #4678 "[HOLD for payment 2021-11-25] Update "Be the first person to comment!" screen when you start a new DM"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Sent DM message to someone I hadn't messaged before

## Expected Result:
The blank screen should have avatars, a message for "This is the beginning

[2021-08-16 18:24] aldo-expensify commented on #4518
This could be done by external, but I'm taking this for myself for learning purposes

[2021-08-16 18:25] puneetlath commented on #4629
Upwork job created here: https://www.upwork.com/jobs/~011432fcc2168828e1

@Drewfergusson would you be interested in this? Given you implemented the first part.

[2021-08-16 18:26] thesahindia commented on #4675
### Proposal

Adding a value of `16` [here](https://github.com/Expensify/App/blob/69ee2fe21bf825318a9e717096293aedc51bda4a/src/styles/styles.js#L520) for `expensiTextInputLabel` can fix this issue.

(Proposal after Triage)

[2021-08-16 18:36] marcaaron commented on #2667
I think we can just close this one out.

We are looking into some improvements to the storage layer [here](https://github.com/Expensify/App/issues/4492) and a few other issues tagged with `[Performance]` in the title.

[2021-08-16 18:37] deetergp commented on #4486
Hmm, that's a fair point. We employ a number of service accounts like, receipts@, that could be problematic. I need to think on it a bit…

[2021-08-16 18:37] deetergp commented on #4622
Reviewing now…

[2021-08-16 18:41] mananjadhav commented on #4486
Agreed and hence we've gone ahead with
[code]
where

[code]

[2021-08-16 18:41] deetergp commented on #4622
Looks good, thanks @parasharrajat 👍

[2021-08-16 18:44] stephanieelliott commented on #4411
I had already changed the titled to differentiate between the two... #4411 deals with choosing `Chronos` from recents list, #4413 deals with manually typing in chronos@ (and blocking it and other similar automated accounts). This was based on my understanding of the difference, feel free to edit either title to make it more clear @parasharrajat!

[2021-08-16 18:46] marcaaron commented on #4492
Did a bit of basic testing with MMKV. It seems quite a bit faster than AsyncStorage for simple operations but only somewhat better (100ms or so improvement) for when you need to do a lot of stuff (e.g. read and write a ton of keys at once like we do when the app inits).

Here's the rough test I tried... I exported my entire `localStorage` to JSON and then tested how long it would take to write the

[2021-08-16 18:54] akshayasalvi commented on #4518
@ntrepanier @aldo-expensify While it was picked by somebody in the team, will I still be paid for finding the issue and suggesting the fix?

[2021-08-16 19:00] mananjadhav commented on #4673
**Proposal**

Updated the strings in en.js
[code]
and es.js

[code]

If you notice all three strings have to be fixed. They're all in caps.

[2021-08-16 19:00] laurenreidexpensify commented on #3855
No stress @kevinksullivan - pro tip, download the [K2 extension](https://stackoverflow.com/c/expensify/questions/10601) and use it daily and I guarantee you you'll never need a GH notification again to manage your issues :)

[2021-08-16 19:01] marcaaron opened #4680 "Publish react-native-onyx to NPM"
This problem was punted, but feels like a good time to reopen this conversation. I tried to install `react-native-onyx` into a brand new `create-react-native-app` project over the weekend and it:

- Doesn't work at all
- Breaks in not super obvious ways

# Problem

We are using our custom state management library Onyx in the production version of our new app, but it's not very intuitive to use Ony

[2021-08-16 19:02] puneetlath commented on #4200
@parasharrajat sorry for the delay. Let's go ahead with your solution.

[2021-08-16 19:03] aldo-expensify commented on #4518
Hey @akshayasalvi ,

[2021-08-16 19:03] aldo-expensify commented on #4518
Sorry, closed by mistake, reopened.

[2021-08-16 19:04] dklymenk commented on #4517
Sorry, waiting for contract to start.

[2021-08-16 19:07] AndrewGable commented on #4486
Still discussing solution.

[2021-08-16 19:09] timszot commented on #4273
@andywkff @Santhosh-Sellavel any update on a proposed solution for this one?

[2021-08-16 19:12] deetergp commented on #4486
Why would we ever need to pass `excludeChronos: false`? If we don't want to exclude something, we just shouldn't pass it.

How about this, rather than having a bunch of individual `if (exclude…) {}` checks, we pass an array of the logins we want to exclude
[code]

Then iterate over it in OptionsListUtils.js. Does that make sense?

[2021-08-16 19:13] johnmlee101 commented on #4110
@mananjadhav and those tests you've made are using `<= 14.0.x` safari versions?

[2021-08-16 19:14] puneetlath commented on #4680
Sounds good to me!

[2021-08-16 19:17] mananjadhav commented on #4486
I had proposed a similar solution for one of the issues earlier but it seemed we weren't sure if we would have multiple automated accounts.

Tell me one thing, are we going to have all automated accounts disabled at all places except New Chat? If yes then a single flag, say `excludeAutomatedAccounts` will suffice, and then in the common function `OptionsListUtils` we can iterate.

If we're going t

[2021-08-16 19:18] mananjadhav commented on #4110
@johnmlee101  Yes. If you see I've posted the 'About Safari' popup as well in the screenshot.

[2021-08-16 19:25] WillBrindle commented on #4129
For what it's worth, I was able to recreate this in a really simple example:
https://snack.expo.dev/@willbrindle/clear-recreate (ios simulator is what I've used)
You have to type pretty fast to get it to happen here but it's not too hard. The more you have going on processing wise the easier it seems to be (confirmed this by adding a for loop adding up random numbers to simulate). In the expensify

[2021-08-16 19:31] bfitzexpensify commented on #4656
Upwork [posting](https://www.upwork.com/jobs/~01c0795b8527047766)

[2021-08-16 19:40] Richi2293 commented on #4296
Hi,

on version number 1.0.85.6 the issue seems to have been solved or am I wrong?
I tried on an iPhone 8 simulator

[2021-08-16 19:42] Santhosh-Sellavel commented on #4678
@mallenexpensify

 What's it gonna be for the new group chat?

<img width="461" alt="Screenshot 2021-08-17 at 12 37 42 AM" src="https://user-images.githubusercontent.com/85645967/129616732-97fdaa3e-ddb3-4136-804c-f856d1e21d4c.png">

[2021-08-16 19:47] jboniface commented on #3844
@HorusGoul what's the latest on this? is there a particular engineer who can unblock it for you if it's still stuck?

[2021-08-16 19:58] Santhosh-Sellavel commented on #4273
@timszot  I was unable to reproduce this issue.

[2021-08-16 19:58] kidroca commented on #4656
I've managed to hook the flipper plugin to print this information instead of the Alert https://github.com/oblador/react-native-performance/blob/master/packages/flipper-plugin-performance/README.md
- the newer plugin is flipper-plugin-performance (not flipper-plugin-react-native-performance (deprecated))

![Screenshot 2021-08-16 at 22 33 15](https://user-images.githubusercontent.com/12156624/129620

[2021-08-16 20:03] aldo-expensify commented on #4518
The proposed solution works in my opinion. This can be handled by someone external.

[2021-08-16 20:11] johnmlee101 commented on #4110
Oh I missed that! I like the proposal then @mananjadhav .

cc @marklouisdeshaun

[2021-08-16 20:15] mananjadhav commented on #4110
Great! thanks, @johnmlee101. Did you also check the iPad layout?  As I mentioned, the iPad layout requires additional code to fix the view.

[2021-08-16 20:19] marcaaron commented on #4656
@kidroca is there some way to use Flipper on a release build? I've found that these metrics are much different on dev builds which is why the alert method is used here.

[2021-08-16 20:25] yuwenmemon commented on #4376
This has been deployed to prod, closing

[2021-08-16 20:25] #4376 closed

[2021-08-16 20:31] MitchExpensify commented on #4321
Seeing as this (https://github.com/Expensify/App/pull/4400) is on production, can this be closed @stitesExpensify ?

[2021-08-16 20:32] anthony-hull commented on #3855
as per [chromium's docs](https://www.chromium.org/developers/design-documents/form-styles-that-chromium-understands) I did try adding a hidden username field when I first investigated. It didn't like it! Then suddenly worked once I removed `display: none` I'll have a look at it again 👍

[2021-08-16 20:34] mallenexpensify commented on #4678
Great point @Santhosh-Sellavel ! I addressed your question in an old internal issue we had been working on, I instructed folks to post comments/feedback to this issue.  We have two choices

1. Address group chats in this GH and figure out what we want before posting the job.
2. Only focus on the single DM usecase for now and address groups later.

[2021-08-16 20:37] Santhosh-Sellavel commented on #4678
Is this going to be external? @mallenexpensify

[2021-08-16 20:37] parasharrajat commented on #4200
I think this job needs be doubled as no one was hired for 11 days. cc: @mallenexpensify

[2021-08-16 20:42] johnmlee101 commented on #4110
I personally think the iPad layout shouldn't be too big of a blocker. The big fix is the bottom bar on older Safari versions.

[2021-08-16 20:45] mananjadhav commented on #4110
Well, the same half-sized page shows up on the iPad.

Currently, this is how it looks:
<img width="605" alt="ipad-siging" src="https://user-images.githubusercontent.com/3069065/129627302-842d1a9c-fad1-4632-b9ee-ecc118f35879.png">

After the web fix, this is how it will look:

https://github.com/Expensify/App/issues/4110#issuecomment-898283471

[2021-08-16 20:54] mallenexpensify commented on #4678
It will very likely be external @Santhosh-Sellavel , @michaelhaxhiu needs to triage the issue first, part of that is figuring out what we want to do about group messages.  My hunch is it's best to fix this issue specifically for the 1:1 DM usecase now then create a new issue in the future to address both group messages and possibly rooms.

@michaelhaxhiu, this shouldn't require a designer, an engi

[2021-08-16 21:02] mallenexpensify commented on #4601
Thank's for bringing up the issue @akshayasalvi , I do agree that the text that looks like a hyperlink looks like a link.  @Expensify/design can y'all take a look and provide feedback  on the proposed update from
![image](https://user-images.githubusercontent.com/22508304/129629025-077ccfb4-4747-45ee-a8ad-cbad950d8235.png)
to
![image](https://user-images.githubusercontent.com/22508304/129629078-54

[2021-08-16 21:03] parasharrajat commented on #4545
Sounds very complicated. Not sure how feasible it would be.

[2021-08-16 21:10] MitchExpensify commented on #4321
Closing as this seems to be a GH issue not auto-closing.

[2021-08-16 21:10] #4321 closed

[2021-08-16 21:15] mallenexpensify commented on #4669
👍 @parasharrajat

I'm not seeing this
![image](https://user-images.githubusercontent.com/22508304/129630285-2d059207-7e7f-45dd-b4b3-6108d8d62b60.png)
I tried to message myself between desktop and web on two different accounts, with web being on staging.
@parasharrajat , any idea why I'm not seeing the notification?

[2021-08-16 21:17] parasharrajat commented on #4669
Sorry @mallenexpensify, this is yet to be deployed to staging or PROD https://github.com/Expensify/App/pull/4603

[2021-08-16 21:21] michelle-thompson commented on #4601
Yeah, I think that looks great!

[2021-08-16 21:22] mallenexpensify commented on #4669
Should we wait for it to hit one or both before attempting a fix/update?
Or.. put another way... If I'm unable to test, then it's hard for me to recommend we should make this update.

[2021-08-16 21:29] parasharrajat commented on #4669
Yes. I am holding it till #4603. Created the issue so that it can be fixed quickly.

[2021-08-16 21:34] deetergp commented on #4486
That is an interesting question! Concierge is currently a member of group chats in our old Expensify, in-app support tool, and I would assume that eventually it will be a part of group chats in NewDot. Conversely, Chronos has never been a group participant and there is nothing on the roadmap that would change that. Currently, there is no reason for anyone to chat with receipts@ in any context, but

[2021-08-16 21:41] mananjadhav commented on #4486
Thanks for the detailed answer. Yeah, then it makes sense to send individual accounts.

[2021-08-16 21:47] kidroca commented on #4656
Any updates made on the ReportScreen or it's children doesn't seem to affect this metric as the end mark for TTI happens before the ReportScreen mounts (or shortly after it starts mounting)

I'm not sure how, but it's probably possible, I remember I've done iOS prod builds where the dev menu is enabled
For Android you can switch between PROD and DEV js bundle from the menu and it makes a big diffe

[2021-08-16 21:53] mallenexpensify commented on #4130
Paid @Santhosh-Sellavel with bonus for reporting the issue. Code has been on production for 5 days without a regression, closing now (not sure why it didn't auto-close before)

[2021-08-16 21:53] #4130 closed

[2021-08-16 21:56] kidroca commented on #4549
ATM it's not possible to benchmark this with the new performance metrics, as TTI happens before the report screen mounts, where the most `withWindowDimension` components are

We can add  marks for chat switches and then do a couple of benchmarks - switch to large, medium, with images, etc...
Then do the same after the HOC is updated with the suggested changes

[2021-08-16 22:02] mallenexpensify commented on #4601
Job created in Upwork - https://www.upwork.com/jobs/~012a60478f2a5dfa9a
@thienlnam can you please review @akshayasalvi 's proposal above?

[2021-08-16 22:04] mananjadhav commented on #4526
@tgolen I've raised the PR with fixes.
https://github.com/Expensify/expensify-common/pull/407

What I mean by the earlier question was, by default JS regex doesn't support recursion and hence are we looking at any nested options. Anyway, I've got the answer. Please review this PR so that I can update the hash in App and close it.

[2021-08-16 22:21] rosegrech commented on #4678
Great question about the group. I want to say lets work on how the 1:1 looks like and then probably handle the group in a new GH to keep things neat and tidy. I'd love to say whatever we use for 1:1 will work for the group but ard to say that as of now :)

[2021-08-16 22:21] mallenexpensify commented on #4200
@parasharrajat That's a tough one.  The purpose of doubling prices is to encourage contributors to submit proposals and fixes. If that doesn't happen in a week we then double until we find a proposal we approve.

The issue here is two fold.
1. There will be times when there are internal priorities that delay our contributor process. They should be rare but we happen to have one of those going on n

[2021-08-16 22:28] mananjadhav commented on #4499
@iwiznia When I add a tooltip to the FAB, it doesn't follow correct positioning. I guess It doesn't support absolute items.

![image](https://user-images.githubusercontent.com/3069065/129636932-6f13efda-578a-4624-b8f8-28a7d8167ba9.png)

Do you have an idea if we're using Tooltip on any other absolute positioned element? Otherwise, adding a tooltip to the FAB will require changes in the Tooltip cod

[2021-08-16 22:30] parasharrajat commented on #4200
Thanks for clarifying and taking the time to answer it. I have accepted the offer. Thanks.

[2021-08-16 22:32] marcaaron commented on #4656
It's good to have the bundle optimized for release, but it takes time to download via the metro server. This is important when we are timing a cold start from app icon tap to interactive so release builds have been most reliable for me.

That said, I don't mind if we enable this flipper plugin or add additional metrics if we think that will be helpful.

[2021-08-16 22:36] marcaaron commented on #4656
@bfitzexpensify just a heads up that we can accept multiple proposals for this one. I don't think there will be a single solution to this one so mainly looking to accept any proposal that can improve this metric (which could mean the issue has multiple assignees).

[2021-08-16 22:38] mallenexpensify commented on #4200
@puneetlath will review your PR once submitted, I've added myself as an assignee as a CM so I'll handle payment once completed.

[2021-08-16 22:38] marcaaron commented on #4549
Got it. Sounds like this probably will not improve the TTI then. But that's fine - it maybe will help the chat switching as you've mentioned. For that, it would might be good to have the Flipper metrics we are discussing in the other issue.

[2021-08-16 22:45] marcaaron commented on #4413
@pecanoro did we create the issue to fix this in the backend?
@Santhosh-Sellavel this proposal seems fine to me.

[2021-08-16 22:46] marcaaron commented on #4413
@stephanieelliott Let's hire @Santhosh-Sellavel please, thanks!

[2021-08-16 22:54] marcaaron commented on #4665
Not sure what there is left to triage here seems like @AndrewGable is on it. 🎉
Since this is a deploy blocker perhaps we should just fix this regression for now and discuss the ideal UX elsewhere?

[2021-08-16 22:56] AndrewGable commented on #4665
Just wrapped discussing this up with @puneetlath - I think our suggestion is to fix the deploy blocker ASAP (merge https://github.com/Expensify/App/pull/4607), then we can implement the proposed UX in https://github.com/Expensify/App/issues/2734

[2021-08-16 23:02] AndrewGable commented on #4606
PR merged

[2021-08-16 23:02] AndrewGable commented on #4665
@isagoico - Can you verify this is fixed by #4607 then close? Thanks!

[2021-08-16 23:28] marcaaron commented on #4308
Sorry for the delay here. I have left an initial review @aman-atg. Let me know when updates are made, thanks.

[2021-08-16 23:28] kakajann commented on #4675
## Proposal
As I mentioned before in [Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1629099710369000)

We have to remove `top` style from `expensiTextInputLabel`.
## Result: centered label
![Screenshot_20210816-131405_New Expensify](https://user-images.githubusercontent.com/11542415/129641494-e4621bed-8d51-4e4a-95c5-5e231b4250f1.png)

[2021-08-16 23:53] SofiedeVreese commented on #4659
@megankelso if from a Design point of view you agree this is something we want to fix, then I'll push it to Upwork and we can gather more proposals and see if there are other ways to fix the issue!

[2021-08-17 00:15] alex-mechler commented on #4667
I think this is fine to be its own issue, however if there was other missing translations, I would group those all together in the same issue.

cc @strepanier03

[2021-08-17 00:18] mallenexpensify commented on #4417
Thanks @shawnborton. @johnmlee101, can you review @aman-atg 's [proposal above](https://github.com/Expensify/App/issues/4417#issuecomment-893312415)?

[2021-08-17 00:20] megankelso commented on #4659
oh I'm sorry for the misunderstanding. yes, I think it is worth fixing!

[2021-08-17 00:22] isagoico commented on #4296
@roryabraham This issue was not reproducible during KI retests. I had a typo when reviewing the results. I also double checked on my iPhone 6S and this is not reproducible anymore. Should we close?

[2021-08-17 00:33] SofiedeVreese commented on #4659
@megankelso no stress- it was a little vague in the thread so sorry for causing confusion!

Ok pushing to Upwork! https://www.upwork.com/jobs/~0104471d011b7f47f4

@kakajann please see @megankelso 's comment [above](https://github.com/Expensify/App/issues/4659#issuecomment-899635257), is there a way to keep things more consistent with the screenshot in her comment?

[2021-08-17 00:34] Luke9389 commented on #4597
Thanks, @isagoico! The other two issues still occurring is expected. One of them was merged after you tested this, and the other hasn't been merged yet.

[2021-08-17 00:34] isagoico commented on #4665
Retested and it was a pass 💃 🎉

https://user-images.githubusercontent.com/44479856/129645621-4240c377-9623-47f4-a363-3169fb4d9b89.mp4

[2021-08-17 00:34] #4665 closed

[2021-08-17 00:35] isagoico commented on #4554
Checking off https://github.com/Expensify/App/issues/4665 and https://github.com/Expensify/App/pull/4409 since they were a pass 🎉

[2021-08-17 00:37] Luke9389 commented on #3108
I'm not sure whether we need to keep this open or not. I think it's functionally pretty much the same. The regression I mentioned above is already being fixed, so the contributor in this issue (@kakajann) doesn't have any actionable steps to take.

[2021-08-17 00:42] mamdouhsobhy commented on #4659
must resize views and user constrain to update the place of button

[2021-08-17 00:58] kakajann commented on #4659
@SofiedeVreese, @megankelso Yes, I can keep it consistent, once I add a new viewport for tablets.

[2021-08-17 01:12] marcaaron commented on #4129
I'm at a bit of a loss for what to do here so just going to leave this open for now.

I'm not totally following exactly what is happening. But it sounds like the best theory is that `react-native` is not clearing this input at all despite using the methods `setNativeProps({text: ''})` and `textInputRef.clear()` and this happens because we start some long running task on the JS thread?

I have a co

[2021-08-17 01:43] parasharrajat commented on #4129
The first thing, I noticed is the `ReportActionCompose` update on each keystroke which is not the desired behaviour. Composer should be uncontrolled but it is not the case due to the selection prop we as passing to it. Maybe a new strategy should be taken to rewrite the behaviour for this component, keeping everything intact.

Now the component is controlled and there is rerender on each keystroke

[2021-08-17 03:05] marcaaron commented on #4599
I gotchu @stitesExpensify

[2021-08-17 03:22] marcaaron commented on #4129
Yep feels like it needs a rewrite of some kind. But would be good to understand the problem we are trying to solve first.

[2021-08-17 03:30] stitesExpensify commented on #4599
🙇

[2021-08-17 04:13] #4599 closed

[2021-08-17 05:17] Christinadobrzyn commented on #4625
Created job in Upwork: Hired @kakajann

External posting: https://www.upwork.com/jobs/~01f48c82c39f04e2f6
Internal posting: https://www.upwork.com/ab/applicants/1427448023318028288/job-details

[2021-08-17 05:24] ZaidQ797 commented on #4296
I can fix it

[2021-08-17 05:54] mananjadhav commented on #4541
@michaelhaxhiu I've added proposal to Upwork, can I start on this? Still not hired on Upwork/confirmed here.

[2021-08-17 07:01] Christinadobrzyn commented on #4497
Hey @mallenexpensify This issue has the `Help Wanted` label, I believe it can be removed but can you confirm and remove it if that's true?

[2021-08-17 07:06] Christinadobrzyn commented on #4325
Hey @mallenexpensify This issue has the `Help Wanted` label, I believe it can be removed but can you confirm and remove it if that's true?

[2021-08-17 07:46] shawnborton commented on #4678
@megankelso @michelle-thompson I vaguely recall that we explored what this screen would look like for various use cases... actually I think it was @michelle-thompson that did it for Concierge Travel.

So basically we could do something like this?
![image](https://user-images.githubusercontent.com/2319350/129685211-c82ec633-a746-4527-9666-7102a7c18074.png)

And maybe before we have those features r

[2021-08-17 07:56] laurenreidexpensify commented on #4673
https://www.upwork.com/jobs/~01eb24ca989c0c7fb6

[2021-08-17 07:57] laurenreidexpensify commented on #3897
@rdjuric any update on how this one is coming along? Thanks

[2021-08-17 08:30] #2936 closed

[2021-08-17 08:31] Beamanator commented on #2936
Closing this issue since it would be nice to have a fresh start when we're ready

[2021-08-17 08:32] Beamanator commented on #4677
As @aman-atg mentioned this was originally reported in #4163 so I think we can close this one and continue investigating there

[2021-08-17 08:32] Beamanator commented on #4163
Good idea @aman-atg 👍

[2021-08-17 08:38] Beamanator commented on #4163
I like this proposal, it is nice and easy and makes sense 👍 please go ahead and submit a PR when you have a chance @aman-atg and @puneetlath please hire aman when you make the Upwork issue :)

[2021-08-17 08:40] Santhosh-Sellavel commented on #4163
@aman-atg  do you really want to edit your (https://github.com/Expensify/App/issues/4163#issuecomment-884253066) older proposal with what I proposed here   https://github.com/Expensify/App/issues/4677#issuecomment-899701600 yesterday.

[2021-08-17 08:43] Beamanator commented on #4163
Wow I didn't notice that, thanks for bringing that to my attention @Santhosh-Sellavel

[2021-08-17 08:46] Beamanator commented on #4163
@Santhosh-Sellavel will you please add your original proposal to this issue so we can move forward with your idea? 👍

[2021-08-17 08:50] Santhosh-Sellavel commented on #4163
@Beamanator Can we just close this move it forward there #4677

[2021-08-17 08:52] Santhosh-Sellavel commented on #4163
Here it is @Beamanator

## Proposal
Simple returning `searchValue` is the problem here, if we remove it problem solved.

<img width="893" alt="Screenshot 2021-08-16 at 11 21 00 PM" src="https://user-images.githubusercontent.com/85645967/129607529-961c882e-5b55-496d-9f4c-6f898c4da2d9.png">

Instead, we could return the appropriate message if needed.

[2021-08-17 09:15] aman-atg commented on #4163
@Santhosh-Sellavel Sorry, If you felt that way but I didn't really saw your proposal before updating mine.
The problem was already known to me and it was a simple fix.
@Beamanator you can check the proposal history and the issue description that solution was already there. Only the location changed as new PRs were merged.

[2021-08-17 09:31] Julesssss commented on #4608
Perhaps we have unknowingly fixed this or resolved the race condition...

As Andrew was able to reproduce on the earlier version, but not `1.0.85.6`, let's remove the deploy blocker label and hope that it does not reoccur. If it does occur during Apple review again then we should reproduce[ Andrews's exact conditions](https://github.com/Expensify/App/issues/4608#issuecomment-899703929) and go from

[2021-08-17 09:34] Julesssss commented on #4554
Checking off #4608, in the hope that the race condition has been resolved unknowingly. See this comment for additional info: https://github.com/Expensify/App/issues/4608#issuecomment-900143140

[2021-08-17 09:53] Beamanator commented on #4163
Thanks for the discussion @aman-atg and @Santhosh-Sellavel , let's remember to keep our conversations respectful at all times :)

@aman-atg Thanks for explaining your situation. I am going to move forward with another proposal. Your previous proposed solution may have been best at the time it was proposed, but we didn't move forward fixing the issue at the time. Your new proposal is good, but sinc

[2021-08-17 09:56] aman-atg commented on #4163
@Beamanator

That's fine. But I just wanted to clarify that the proposed solution `a different message` was already posted here days ago.

[2021-08-17 10:04] HorusGoul commented on #3844
I can't reproduce the issue found in QA locally, so it's blocked there. The room where we tested this doesn't have the required NVPs to qualify as a room, even though it should.

[2021-08-17 10:04] Julesssss commented on #4677
Sounds good @Beamanator

[2021-08-17 10:04] #4677 closed

[2021-08-17 10:05] dylanexpensify commented on #4663
Working on this now

[2021-08-17 10:08] Julesssss commented on #4163
@Beamanator @Santhosh-Sellavel FYI I closed the other issue as this was the original

[2021-08-17 10:15] dylanexpensify commented on #4663
Posted job

- Internal: https://www.upwork.com/ab/applicants/1427574146811060224/job-details
- External: https://www.upwork.com/jobs/~013c836a62663e632e

[2021-08-17 10:26] Julesssss commented on #4673
This is a simple one, so let's go with the first submission.

@thesahindia, would you like to make a start on a PR?

[2021-08-17 10:28] shawnborton commented on #4673
While we're at it, can we also add some margin to the top of the "What's it for?" field so there is some more visual separation between the user and the text input? Perhaps @thesahindia you can tag me on your PR and I can help guide you on the spacing from there.

[2021-08-17 10:46] Julesssss commented on #4673
Ah, thanks Shawn -- I forgot to add that note to the issue. I don't think we'll need a change to the proposal, as long as @thesahindia is happy

[2021-08-17 10:53] iwiznia commented on #4499
Ah, no idea, probably not used in absolute positioned elements. Let's skip adding the tooltip to it then.

[2021-08-17 11:02] anthony-hull commented on #2734
Do we want to be able to control the visibility of all password fields on a page together?

https://user-images.githubusercontent.com/47184118/129714985-754dafe5-2a77-4a23-9d79-142887aef18a.mp4

in this video you can see they are toggling separately as the state is within the input.
Please note I intend on removing the second new password input field to improve the UX now we can check the password

[2021-08-17 11:02] Santhosh-Sellavel commented on #4163
First @aman-atg - Sorry, we do have an unexpected situation here.

@Beamanator I felt the issue already had a recently active slack thread and no other special reasons. But now it was already closed, we can proceed here.

What message to show in the header?

[2021-08-17 11:03] rdjuric commented on #3897
Hi @laurenreidexpensify, no updates here! PR is waiting to be reviewed.

[2021-08-17 11:04] Beamanator commented on #4163
As @isagoico  suggested in [this slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1629112548387500), I'd say we go with "No results found"

[2021-08-17 11:06] Santhosh-Sellavel commented on #4163
Thanks, @Beamanator I'll open up a PR shortly!

[2021-08-17 11:19] thesahindia commented on #4673
Sure.
Also let me know if we also want the margin. Adding the comparison below.

1. with `marginTop:8`
2. without any margin

![image](https://user-images.githubusercontent.com/83179295/129715865-8d17b119-b58b-4c8a-bcc0-b9516a2aa911.png)

[2021-08-17 11:22] kidroca commented on #4656
Captured some more insights as to where we're spending time during init

This is a PROD js build (from the dev menu - not a release build)
![image](https://user-images.githubusercontent.com/12156624/129711227-e3c66d08-d48e-4d36-bdad-1c2b4514f651.png)

I'm 99% sure the red 🔴 needles are showing initial script parse and execution. Though I couldn't find documentation confirming this.
Everything befo

[2021-08-17 11:29] shawnborton commented on #4673
how about `mt4` so there is a bit more spacing than what you have on the left?

[2021-08-17 11:29] thesahindia commented on #4675
Hi, I think removing the property is not a good idea.
I tried that and some UI issues appeared.
![image](https://user-images.githubusercontent.com/83179295/129718280-2844a5a8-ec1b-4041-9705-488ce5e7a6dc.png)

[2021-08-17 11:33] thesahindia commented on #4673
With `mt4` :
![image](https://user-images.githubusercontent.com/83179295/129718790-c8f3241c-b528-445c-9a7b-8ec285396278.png)

[2021-08-17 11:34] shawnborton commented on #4673
Nice, I think mt4 looks good.

[2021-08-17 11:38] kidroca commented on #4656
From Marc's screen in the description the `runJsBundle` time is a lot less 353ms, compared to mine 4200ms
This can vary from device to device, but maybe the huge diff is because there are still some debugging tools running

IMO we can use the debug build to test theories and then use the release build (before/after) to prove them

[2021-08-17 11:41] kidroca commented on #4549
I think it might be a good idea to add `mark`, `measure` to `libs/Performance.js` and have them implemented using `react-native-performance` when `canCapturePerformanceMetrics()` is `true`, while otherwise they should be empty functions. This way we can hook them wherever we need to without constantly checking

Also seeing the plugin code, it might be possible to do something like

[code]

This wo

[2021-08-17 11:43] laurenreidexpensify commented on #4673
@thesahindia can you pls apply for the job in upwork so I can hire you? Thanks!

[2021-08-17 11:44] thesahindia commented on #4673
Thanks @laurenreidexpensify, I have just applied to the job.

[2021-08-17 11:51] shawnborton commented on #2734
I think it makes sense if each icon only controlled the input that it was connected to. Otherwise we should think of a different kind of UI control to toggle the visibility for all fields on a page.

[2021-08-17 11:59] Beamanator commented on #4497
@aman-atg this looks great! I'm assigning you this job, please submit a PR when you have a chance 👍

[2021-08-17 12:00] Beamanator commented on #4497
Oops, didn't mean to close 😅

[2021-08-17 12:16] aman-atg commented on #4497
Sure!

[2021-08-17 12:23] Santhosh-Sellavel commented on #4163
@Beamanator Draft PR is Ready.

[2021-08-17 12:31] Beamanator commented on #4163
@Santhosh-Sellavel is it a draft or is it ready for review? :D

[2021-08-17 12:40] MariaHCD commented on #4472
Posted a summary of my understanding on the Slack thread. We'll continue the conversation there.

[2021-08-17 13:33] Santhosh-Sellavel opened #4690 "[HOLD for payment 2021-11-04] In IOU Participants page there's absolutely no email / phone number validation message on either Split/Request pages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click FAB + Icon
2. New Request/Split
3. Enter Amount
4. In Participant search enter  random search text ex '328sdf76sdjsdgj'

## Expected Result

[2021-08-17 13:43] Drewfergusson commented on #4629
@puneetlath things have gotten quite a bit busier for me lately so I'm going to have to pass.

[2021-08-17 13:50] Santhosh-Sellavel commented on #4163
@Beamanator distracted by a new issue while drafting PR for this issue! Now it's ready for review.

[2021-08-17 13:53] Jag96 commented on #4476
PR is on staging, closing. Not sure why Melvin thinks this is overdue

[2021-08-17 13:53] #4476 closed

[2021-08-17 14:07] Jag96 commented on #2499
Removing the blocker label since it's the same behavior on production

[2021-08-17 14:11] Jag96 commented on #4554
#4630 can be retested as https://github.com/Expensify/App/pull/4633 has been CP'd to staging

[2021-08-17 14:11] Jag96 commented on #4630
PR is on staging and blocker is fixed, closing this

[2021-08-17 14:11] #4630 closed

[2021-08-17 14:18] #4631 closed

[2021-08-17 14:27] Jag96 commented on #4494
Paid + bonus!

[2021-08-17 14:27] #4494 closed

[2021-08-17 14:28] Jag96 commented on #4554
https://github.com/Expensify/App/issues/4631 can also be retested, https://github.com/Expensify/App/pull/4636 is now on staging

[2021-08-17 15:13] lmf-git commented on #4597
You guys are using an Upwork account to distract people and pull them onto your committee based project. Pretty dishonest style of working.

[2021-08-17 15:17] Dal-Papa commented on #4365
[No issue](https://github.com/Expensify/App/search?o=desc&q=Please+double+the+price&s=created&type=issues) has been commented on since the last [commit](https://github.com/Expensify/Web-Expensify/commit/d4e9127e01361633683b5d6e46acc76f933109c7) made by @mountiny . I have been focusing on allocations so might be able to look at it after that unless @mountiny gets to it first. 🚤

[2021-08-17 15:21] mountiny commented on #4365
@Dal-Papa Gonna have a look, really weird 🤔

[2021-08-17 15:34] mallenexpensify commented on #4325
Yes, thank for the 👀 and ping @Christinadobrzyn , label removed

[2021-08-17 15:47] shawnborton commented on #4499
One interesting idea I saw from another product ([Linear](https://twitter.com/eldh/status/1427605818044735488)) was that once one tooltip was open, as soon as you hover to the next icon, the tooltip would instantly fire instead of using a delay. Certainly not a requirement for this issue but just wanted to share the idea here.

[2021-08-17 15:53] MitchExpensify commented on #4543
Labelling external seeing as we'e consolidating to this issue.

[2021-08-17 15:55] mallenexpensify commented on #4497
@aman-atg , please submit a proposal at https://www.upwork.com/jobs/~0108c4f8a047bb5988

[2021-08-17 15:59] mananjadhav commented on #4499
That’s a nice UX to have.

[2021-08-17 16:01] aman-atg commented on #4497
Submitted the [proposal](https://www.upwork.com/ab/proposals/1427661829323444225)

[2021-08-17 16:10] mallenexpensify commented on #4597
@lmf-git , we pay contributors for their help, as you can see in Upwork we've already paid out over $100k. As mentioned in [this comment](https://github.com/Expensify/App/issues/4597#issuecomment-897992201), a contributor has already been hired for this job and been assigned to the issue, they will be paid $250 for this fix, the payment being made in Upwork.

We're an Enterprise client of Upwork a

[2021-08-17 16:12] mountiny opened #4694 "[TEST] Please ignore, testing webhooks 2"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

Test if this issue gets auto close upon App PR being merged. For context: https://github.com/Expensify/Expensify/issue

[2021-08-17 16:15] isagoico commented on #4630
Looks good! Checking it off the deploy blocker list.
![image](https://user-images.githubusercontent.com/44479856/129762719-42edd9d3-aad6-4c23-bbff-80f7912830ef.png)

[2021-08-17 16:20] isagoico commented on #4554
Looks good! Checking off https://github.com/Expensify/App/issues/4630
![image](https://user-images.githubusercontent.com/44479856/129763160-b2a69aee-44f0-429d-bded-fa27b5740789.png)

Also https://github.com/Expensify/App/issues/4631 was a pass.
![image](https://user-images.githubusercontent.com/44479856/129763323-3cd703dd-3ea6-42a4-a55a-6c30ead6619a.png)

[2021-08-17 16:34] sakluger commented on #4609
Alright, I had a real hard time reproducing this one in mobile Safari on my iPhone, but I think I figured out a way to reproduce consistently. To reproduce the scrolling and header cutoff issues, it helped me to start off with one mobile safari tab, then to add a second tab and go back to the new.expensify.com tab. I was also able to reproduce scrolling issues when I started with multiple tabs, th

[2021-08-17 16:37] MitchExpensify opened #4696 "[HOLD for payment + bonus] Make bank account loading animations consistently top docked in the right hand pane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open New Expensify
2. Click "+"
3. Click "Create Workspace"
4. Click "Get Started"

## Expected Result:
We expect **all** loading animations in t

[2021-08-17 16:37] isagoico commented on #4554
Removing these PRs that were added because of the bug:
- https://github.com/Expensify/App/pull/4191
- https://github.com/Expensify/App/pull/2703
- https://github.com/Expensify/App/pull/3931
- https://github.com/Expensify/App/pull/4019
- https://github.com/Expensify/App/pull/4131

[2021-08-17 16:38] MitchExpensify commented on #4696
Thinking this is a good external candidate issue

[2021-08-17 16:50] mananjadhav commented on #4609
@sakluger  Sure. You can take your time to reproduce it properly. I am anyway working on another task before I can pick this.

As I mentioned it works fine when you have one tab. But hangs up when you've got multiple tab in Safari.

[2021-08-17 16:52] mallenexpensify commented on #4497
Hired in Upwork

[2021-08-17 17:01] isagoico commented on #4554
@Jag96 Should we check off https://github.com/Expensify/App/pull/4440 if https://github.com/Expensify/App/issues/2499 was considered not a deploy blocker?

[2021-08-17 17:02] michelle-thompson commented on #4678
Cool, happy to move forward with the generic messaging you've mocked up above!

[2021-08-17 17:05] shawnborton commented on #4678
Sweet, so I think maybe we want to make the avatars in my mockup a bit smaller like your original mocks (the one at the bottom) for scalability purposes. Otherwise, then I think we just need to decide if we're going to add Group chats to the exported Upwork issue?

[2021-08-17 17:05] Santhosh-Sellavel commented on #4696
## Proposal
We do pass the below styles to that component for the loading animation view

https://github.com/Expensify/App/blob/6b3a938b3074ec64816ea5188683f383171543c9/src/styles/styles.js#L1789-L1796

We could remove the` justifyContent: 'center'` that solves the issue.

[2021-08-17 17:05] thienlnam commented on #4601
@akshayasalvi Thanks for the clear proposal! After taking a look here are a couple things I've noticed

We should be handling this in BaseRenderHTML, the 'attachment' in this case is just an anchor tag.  Can you outline a solution that would exist here? https://github.com/Expensify/App/blob/88593d4f00f38bf97c70da9dfb97b80bb9b381a4/src/components/RenderHTML/BaseRenderHTML.js#L67-L90

Instead of add

[2021-08-17 17:06] #4694 closed

[2021-08-17 17:11] Jag96 commented on #4554
@isagoico that sounds good, checked off!

[2021-08-17 17:12] Santhosh-Sellavel commented on #4696
We should create a new copy of that style. Because it was used by common `FullScreenLoadingIndicator` also!

[2021-08-17 17:21] thienlnam commented on #3981
Could I get a thumbs up / thumbs down reaction if people are still experiencing this?  Seeing if we can close out this issue

[2021-08-17 17:24] thienlnam commented on #4212
Got a little sidetracked with Chronos stuff, but still working on this.  I got some instructions on how to set up octokit form @roryabraham and need to play around with that to check some parameters

[2021-08-17 17:24] roryabraham commented on #4646
@parasharrajat Can work on the front-end piece, but I think maybe we should duplicate this validation in the back-end. So this issue can be mixed internal and external. External in NewDot and internal in the API.

[2021-08-17 17:26] isagoico commented on #3981
I didn't get a screenshot but I was able to reproduce this yesterday.

[2021-08-17 17:28] michelle-thompson commented on #4678
Ahh, you mean so the size of the avatar never has to change? And I figure might as well add group chats to this issue.

[2021-08-17 17:31] arielgreen commented on #4377
Paid.

[2021-08-17 17:31] #4377 closed

[2021-08-17 17:31] iwiznia commented on #3981
This happens to me every day at least once (but usually more)

[2021-08-17 17:32] arielgreen commented on #4350
Paid.

[2021-08-17 17:32] #4350 closed

[2021-08-17 17:34] arielgreen commented on #2667
Paid.

[2021-08-17 17:34] #2667 closed

[2021-08-17 17:34] shawnborton commented on #4678
Yeah, I think I like the size you had here:
![image](https://user-images.githubusercontent.com/2319350/129773051-6dbb1991-41e0-4cd8-830c-4868db745c5a.png)

...better than the larger size I used. So that gives us something like this:
![image](https://user-images.githubusercontent.com/2319350/129773863-88f558ec-b350-4fda-af92-b1ae64ed87c7.png)

[2021-08-17 17:37] isagoico commented on #4554
Only thing to check off is https://github.com/Expensify/App/pull/4610 @marcaaron We good to check it off?

[2021-08-17 17:38] Santhosh-Sellavel commented on #4696
<img width="221" alt="Screenshot 2021-08-17 at 11 04 44 PM" src="https://user-images.githubusercontent.com/85645967/129773906-cb11202e-1ef8-421b-bf64-c2a7145eff38.png">

Also, I noticed in the expected Image there is a nav header with a close option it's not available currently will add that post discussion!

Also, a different message is shown, will update that too based on the input. Thanks!

[2021-08-17 17:40] marcaaron commented on #4554
Are those changes on staging? If so, then we should not deploy a release with them. There is a bug in Onyx that must be fixed first.

[2021-08-17 17:42] marcaaron commented on #4554
If not, then this should only block the next deploy and not this one. I'm pretty confused because the PR is showing up on this deploy list but I don't actually think the changes are on staging.

[2021-08-17 17:44] michelle-thompson commented on #4678
Agreed, I think that looks good too

[2021-08-17 17:44] isagoico commented on #4554
I think no, they're not in staging but @roryabraham @AndrewGable could you double check?

[2021-08-17 17:48] isagoico commented on #4554
Looks like all deploy blockers and PRs have been taken care of 🎉 We should be good to trigger a prod deploy.

[2021-08-17 17:56] mallenexpensify commented on #4609
meaning... multiple tabs that are both open to new.expensify.com?
I tested in safari and chrome on iOS.  There was one time I _might_ have had trouble scrolling but  'it fixed itself'.   Wasn't able to reproduce consistently on either but... I didn't do the two-tab thing.

[2021-08-17 17:57] isagoico commented on #4209
I've been able to constantly reproduce this on Web on 2 of my accounts lately
![image](https://user-images.githubusercontent.com/44479856/129776791-5ab182a2-61c4-4845-a0b3-1114753fc447.png)

[2021-08-17 17:58] isagoico commented on #4554
:shipit:

[2021-08-17 17:58] #4554 closed

[2021-08-17 18:02] OSBotify opened #4701 "Deploy Checklist: New Expensify 2021-08-17"
**Release Version:** `1.0.85-10`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [ ] https://github.com/Expensify/App/pull/2703
- [ ] https://github.com/Expensify/App/pull/3931
- [ ] https://github.com/Expensify/App/pull/4191
- [ ] https://github.com/Expensify/App/pull/4386
- [ ] https://githu

[2021-08-17 18:09] isagoico opened #4702 "HTML elements are displayed when editing a comment and adding markdown"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Send a message
3. Edit the message and add a markdown to any of the words

## Expected Result:
LHN should show the

[2021-08-17 18:10] bfitzexpensify commented on #4517
My bad @dklymenk! Thought I had hired you in Upwork. That should be done now.

[2021-08-17 18:12] dklymenk commented on #4517
Yep, got the offer. Thanks.

[2021-08-17 18:19] megankelso commented on #4678
I agree, this looks good! I do wonder if we should make this a bit more consistent. What comes to mind for me is using the existing UI pattern to show local time (above the chat input) and including the same "this is the beginning for your chat" message, but perhaps adding the pronouns. Curious for thoughts?

<img width="968" alt="Screen Shot 2021-08-17 at 11 19 20 AM" src="https://user-images.git

[2021-08-17 18:22] sakluger commented on #4361
@parasharrajat apologies for the delay! I was able to reproduce this issue, and think it's a legitimate issue.

Heads up, I made a few small corrections to your original description. First, I changed your first example URL from `https://staging.new.expensify.com/details/rajat` to `https://staging.new.expensify.com/details?login=rajat` (`https://staging.new.expensify.com/details/rajat` correctly re

[2021-08-17 18:26] sakluger commented on #4495
@mananjadhav thanks for creating this! Adding the engineering label to get your proposal reviewed.

[2021-08-17 18:30] TomatoToaster commented on #4696
Applying the label so a posting can be made. Agreed this can be external (and there's a proposal a few comments up)

[2021-08-17 18:32] puneetlath commented on #3981
Same, I'm still frequently experiencing it.

[2021-08-17 18:37] michelle-thompson commented on #4678
I'm into it! Curious what this would look like if you were to DM someone in the same time zone?

[2021-08-17 18:45] megankelso commented on #4678
I'm suggesting it still show the time for the first chat, regardless of what time zone. Curious if you had something else in mind?

[2021-08-17 19:01] marcaaron commented on #4549
Yep, that sounds like a good idea.

I like that too since it's one less thing to worry about. What if we did that, but also abstracted this detail so that we can just do something like...

[code]

[2021-08-17 19:03] mountiny commented on #4701
I have checked of these PRs which were just for testing a webhook functionality for following issue: https://github.com/Expensify/Expensify/issues/173928

- [x] https://github.com/Expensify/App/pull/4672
- [x] https://github.com/Expensify/App/pull/4674
- [x] https://github.com/Expensify/App/pull/4695

[2021-08-17 19:07] kidroca commented on #4549
👍 Even better
I can submit a PR for this tomorrow

[2021-08-17 19:09] stitesExpensify commented on #3922
I'm reviewing right now. Its going to be a bit before it gets merged though probably due to this https://github.com/Expensify/Expensify/issues/174078

[2021-08-17 19:10] isagoico commented on #4701
Starting QA 🚀

[2021-08-17 19:16] stephanieelliott commented on #3952
Gonna move this to `Weekly` while we try and nail down reproduction.

[2021-08-17 19:18] tgolen commented on #4526
@mananjadhav I think there was some miscommunication here. When you asked me to assign it to you, I didn't know that you thought that meant it was OK to work on. This needs to go back through our normal process, so I am going to unassign it from you and we will walk some of this back before I can evaluate your PR.

[2021-08-17 19:20] tgolen commented on #4526
@arielgreen we goofed up a little bit on the process here. I am OK with the proposal that @mananjadhav gave, but we need to get this to go through UpWork before he can work on it I believe (if @mananjadhav wants to be paid for the fix).

[2021-08-17 19:31] marcaaron commented on #4656
I like the idea to capture Onyx metrics with the Flipper plugin. I haven't relied on them very much tbh so maybe having them enabled when `CAPTURE_METRICS` is `true` will make them more discoverable for anyone investigating performance issues.

I think it's because the JS source is precompiled into bytecode for the release build when using Hermes engine? Which perhaps does not happen when we build

[2021-08-17 19:41] stephanieelliott commented on #4646
Posted newdot job to Upwork for @parasharrajat: https://www.upwork.com/jobs/~01b624b9c688a7c76c

@roryabraham How do you think we go about getting the API piece worked on? Do we need to create a dupe internal issue, or apply other labels to this issue?

[2021-08-17 19:43] stephanieelliott commented on #4413
Hey @Santhosh-Sellavel can you post a proposal to the job in Upwork so we can hire you? https://www.upwork.com/jobs/~013379d6a3621d716e

[2021-08-17 19:46] chiragsalian commented on #4435
I just tried this on dev and i don't see `@expensify.sms` next to the phone number
![image](https://user-images.githubusercontent.com/14356145/129789967-7220757a-283e-49cd-89af-cf16acbe035d.png)

Also tried it on production and i don't see the issue,
![image](https://user-images.githubusercontent.com/14356145/129790458-8cb67b0d-5bb7-418c-bcb9-c3f1dff56733.png)

Might be some old issue. @aman-atg c

[2021-08-17 19:58] aman-atg commented on #4435
@chiragsalian It's still happening.
I think you should try with a real number that has an account.

![image](https://user-images.githubusercontent.com/28243942/129792024-750aac38-c32b-4ecf-8f94-f6b79c3353e3.png)

[2021-08-17 20:05] Santhosh-Sellavel commented on #4413
Applied @stephanieelliott

[2021-08-17 20:13] arielgreen commented on #4526
@mananjadhav I've just sent over an offer via Upwork.

[2021-08-17 20:18] sakluger commented on #4609
@mallenexpensify it "fixed itself" for me too, and I still had trouble figuring out the exact set of steps to reproduce it consistently, but when I started opening new tabs and closing tabs (those tabs could be anything, not necessarily new.expensify.com), the issues started happening more often.

[2021-08-17 20:19] roryabraham commented on #4646
@stephanieelliott Dupe internal issue works

[2021-08-17 20:20] stephanieelliott commented on #4413
Great, gotcha @Santhosh-Sellavel!

[2021-08-17 20:24] NicMendonca commented on #4115
@thienlnam add me back if we need this added to Upwork 😃

[2021-08-17 20:25] isagoico commented on #4701
Checked off PRs that were incorrectly added to the checklist:
1. https://github.com/Expensify/App/pull/4593
2. https://github.com/Expensify/App/pull/4607
3. https://github.com/Expensify/App/pull/4613
4. https://github.com/Expensify/App/pull/4614
5. https://github.com/Expensify/App/pull/4632
6. https://github.com/Expensify/App/pull/4633
7. https://github.com/Expensify/App/pull/4636
8. https://githu

[2021-08-17 20:29] NicMendonca commented on #3901
Sorry for the delay here y'all. I have doubled the price again. It's now set as $1,000 New job URL: https://www.upwork.com/jobs/~014d8cadbc82d362b0

I see your 👀 @parasharrajat 👀

[2021-08-17 20:35] mananjadhav commented on #4606
@michaelhaxhiu we can close this issue as the fix was merged and deployed

[2021-08-17 20:39] NicMendonca commented on #4664
Posted to Upwork: https://www.upwork.com/jobs/~0166e67922e53032e0

[2021-08-17 20:45] mananjadhav commented on #4526
@tgolen I had worked on the first task of handling few conditions on MD Hyperlink conversion. This PR is meant to handle additional cases, which I treated as a regression from that PR. Whether this change is eligible for payment or not I am not sure about it.

[2021-08-17 20:50] MTN718 commented on #3901
I think it's layout issue. My opinion need to create new component with customized design and function and replace that one or modify original component
If you share source code, i can customize and make pull request
--- From Shane Watson-----

[2021-08-17 20:55] MTN718 commented on #3901
isZoom?
    <View style={{width:100%,height:100%}}>
        <Image source=""/>
    </View>
    :
    <View style={{width:fixedSize,height:fixedSize}}>
        <Image source=""/>
    </View>

We can pass props isZoom and then activate zoom mode. Sorry it's rough logic but hope it will help.

[2021-08-17 21:01] thienlnam commented on #4664
If possible, can we use https://github.com/Expensify/expensify-common/blob/master/lib/CONST.jsx#L469 this list of expensify emails here and prevent showing local time for them?

[2021-08-17 21:02] mananjadhav commented on #4664
I just checked the list sometime back. Yeah, we should update this list in the App too, and disable the localtime for these accounts.

[2021-08-17 21:06] isagoico opened #4705 "Chat Switcher - Content of the chat does not change to correct chat when using chat switcher"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Press ctrl+k
2. Change to another chat

## Expected Result:
User is navigated to chat and the correct chat content is displayed.

## Actual Resul

[2021-08-17 21:06] stitesExpensify commented on #4398
Reviewed

[2021-08-17 21:07] OSBotify commented on #4705
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-17 21:17] tylerkaraszewski commented on #4616
Sounds reasonable enough I guess? I don't have a strong opinion on this.

[2021-08-17 21:20] akshayasalvi commented on #4601
@thienlnam
I couldn't find `BaseRenderHTML` in the `main` branch. Is it a part of the working branch? I did find `https://github.com/Expensify/App/blob/main/src/components/RenderHTML.js` in the main branch.

Then the same changes in terms of the UI can be pulled into:
`https://github.com/Expensify/App/blob/88593d4f00f38bf97c70da9dfb97b80bb9b381a4/src/components/AnchorForCommentsOnly/BaseAnchorForC

[2021-08-17 21:25] mallenexpensify commented on #4355
Doubled price to $500 in Upwork.

[2021-08-17 21:44] pecanoro commented on #4664
Could you update the proposal with @thienlnam suggestion? Besides that, it sounds good to me.

[2021-08-17 21:45] marcaaron commented on #4500
It took me a second to notice. But I think there's maybe a side effect created by the linked PR

1. We call `initializeWithDefaultKeyStates()` then merge the default states into the cache with new values but do not write them to storage.

https://github.com/Expensify/react-native-onyx/blob/2908a47dee13d99ce756bebb75740ed2f27c2d2e/lib/Onyx.js#L604-L616

2. Some key is dropped because we added more

[2021-08-17 21:45] mallenexpensify commented on #4273
Doubled price to $1000

[2021-08-17 21:46] bfitzexpensify commented on #4656
Sure thing — just let me know who we want to hire and I'll keep the posting open (same to you @Luke9389)

[2021-08-17 21:47] OSBotify commented on #4500
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-17 21:49] mallenexpensify commented on #4211
Doubled price to $500 in Upwork

[2021-08-17 21:56] NikkiWines commented on #4658
@isagoico is this still occurring? It doesn't look like hugely excessive battery usage to me.

What notification are you getting? I wasn't even aware you could get iOS notifications about battery consumption

[2021-08-17 21:56] mallenexpensify commented on #4129
Doubled price to $1000

[2021-08-17 21:57] NikkiWines commented on #4495
Looks good to go onto UpWork 👍 - Adding the `External` label

[2021-08-17 22:01] parasharrajat commented on #4526
Actually this issue is caused as a regression from the main PR. That's @mananjadhav  actively participated in it.

[2021-08-17 22:11] chiragsalian commented on #4435
Weird, i don't see it for the same number you provided.
![image](https://user-images.githubusercontent.com/14356145/129806735-1903cf7d-0bf4-414b-94ab-ac311345a81f.png)

Maybe its because you have first and last name loaded. Trying that next,
I created a phone account with test aug17th as the name but i don't see expensify.sms domain.
![image](https://user-images.githubusercontent.com/14356145/1298

[2021-08-17 22:11] chiragsalian commented on #4435
@mallenexpensify are you also able to reproduce the issue?

[2021-08-17 22:22] parasharrajat commented on #4487
### Proposal
1. We can use a flag in state `loading` that keeps track of the update promise.
2. on Submit , set this flag to `true`, and then when the promise resolves set is back to `false`.
https://github.com/Expensify/App/blob/e4f4ed7b9f649d46c2cc0696f4bf5e3bcf0403a4/src/pages/workspace/WorkspaceEditorPage.js#L65
3. If we want to truly track the update process. We can return the API promise her

[2021-08-17 22:30] luacmartins commented on #4705
Looked at currently CP'd PR's but none seem to be causing it. Looking at PRs from the last full deploy now.

[2021-08-17 22:50] michelle-thompson commented on #4678
Ahhh, I see. I think that would be fine too, I'm keen with either direction!

[2021-08-17 22:50] mallenexpensify commented on #4226
@aman-atg , can you provide an update of where we are with this issue? Thanks

[2021-08-17 22:51] mallenexpensify commented on #4612
@joelbettner , do you think this can be worked on by a contributor? If so, can you add the `External` label? Thx

[2021-08-17 22:56] parasharrajat commented on #4500
Thanks for pointing out @marcaaron.

I see that you are reverting both PRs. I will wait to see if new changes are pushed from https://github.com/Expensify/react-native-onyx/pull/92.

[2021-08-17 23:04] luacmartins commented on #4705
@marcaaron It seems this was introduced in https://github.com/Expensify/App/pull/4610. Changes in the staging branch here https://github.com/Expensify/App/blob/staging/package.json#L87

Let's CP https://github.com/Expensify/App/pull/4676 to staging?

[2021-08-17 23:09] mallenexpensify commented on #4435
No, unable to reproduce
![image](https://user-images.githubusercontent.com/22508304/129812215-64cabd9c-f094-4a42-ba1d-6cc56c7dc751.png)

[2021-08-17 23:19] parasharrajat commented on #3922
Thanks. There are few things I like to mention:
1. I used `USER_WALLET.linkedBankAccount` to pick the default user Account but I didn't find this key.
2. There are other open questions on the PR.

[2021-08-17 23:21] marcaaron commented on #4705
Thanks @luacmartins I have been trying to get this fixed before it goes to staging but could not find anyone to help 🙃

[2021-08-17 23:22] kavimuru opened #4710 "Profile - User status is always offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Observe the avatar and status

## Expected Result:
User status should be displayed as online with gr

[2021-08-17 23:23] OSBotify commented on #4710
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-17 23:28] kavimuru opened #4711 "mWeb - Request Money - Search box is not auto focused when changing currency"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue was found while executing PR #4662

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account and select any user
3. Click on Plus

[2021-08-17 23:29] isagoico commented on #4710
Also able to reproduce in Web
![image](https://user-images.githubusercontent.com/44479856/129813628-ac2c7928-6ec6-4e71-8693-2cf19ee9ff91.png)

[2021-08-17 23:29] OSBotify commented on #4711
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-17 23:32] parasharrajat commented on #4646
Please let me know when can I submit the PR?

[2021-08-17 23:34] kavimuru opened #4712 "Chat - New Message badge always displays 1 new message even when multiple are received"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue found when executing PR #4603

## Action Performed:
1. Open app and login
2. Open a chat with several messages
3. Scroll 6-8 messages back
4. On the other side, se

[2021-08-17 23:35] OSBotify commented on #4712
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-17 23:37] parasharrajat commented on #4712
Duplicate of https://github.com/Expensify/App/issues/4669

[2021-08-17 23:37] marcaaron commented on #4710
@isagoico Can we pause on deploy blockers for a moment? There is a fix that was just CP’d that I think should solve this issue any many others.

[2021-08-17 23:38] marcaaron commented on #4710
I think this should be fixed by https://github.com/Expensify/App/pull/4676

[2021-08-17 23:38] parasharrajat commented on #4669
@mallenexpensify the PR just hit Staging and the issue is not active.

[2021-08-17 23:40] marcaaron commented on #4710
Ok should be fixed now - but we might want to retest anything that was discovered before the last update :)

[2021-08-17 23:40] #4710 closed

[2021-08-17 23:40] kavimuru opened #4715 "mWeb - Chat - Unable to scroll the chat after tapping on New Message badge"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account
3. Open any chat on the newest WEB.
4. Scroll back in the history of messages

[2021-08-17 23:41] isagoico opened #4716 "Android - Left half of the new message badge is unresponsive"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue is failing https://github.com/Expensify/App/pull/4603 on Android

## Action Performed:
1. Navigate to a conversation with user A
2. Scroll up the conversation
3. A

[2021-08-17 23:41] OSBotify commented on #4715
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-17 23:41] isagoico commented on #4716
Issue is **not** reproducible in iOS, button is fully responsive.

[2021-08-17 23:42] OSBotify commented on #4716
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-17 23:43] marcaaron commented on #4705
This is fixed now on staging.

[2021-08-17 23:43] #4705 closed

[2021-08-17 23:50] kavimuru opened #4717 "iOS - Chat - High resolution picture won't render properly after zoom"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Tap on any chat
3. Tap on + sign > Add Attachment > Choose from Gallery
4. Choose a high resolution picture (taken from iPh

[2021-08-17 23:56] isagoico commented on #4701
https://github.com/Expensify/App/issues/4710 not reproducible anymore in 1.0.86-1 🎉 Checking it off
![image](https://user-images.githubusercontent.com/44479856/129815429-c0edfb79-b0b4-4bbd-b43e-bb8d617a49b2.png)

[2021-08-18 00:00] isagoico commented on #4711
Issue is still reproducible in 1.0.86-2 iOS mWeb only. Android mWeb is working as expected.

[2021-08-18 00:11] parasharrajat commented on #4716
I see that there is a limitation on the Android where the touch area never extends beyond the parent View. I am looking into ways to redesign it so that it receives the touch.

[2021-08-18 00:15] isagoico commented on #4715
Issue not reproducible anymore on build 1.0.86-2. Closing

[2021-08-18 00:15] #4715 closed

[2021-08-18 00:16] mallenexpensify commented on #4669
Took a min (aka, I needed to read your steps, ha) but I was able to reproduce on web, staging.

At one point I did actually see the number rise to 3 but it most commonly was returning 1.

Gonna move along to an engineer to ensure this can be an external issue :)

[2021-08-18 00:29] parasharrajat commented on #4716
@isagoico Could you please confirm that this is only occurring on Android?

[2021-08-18 00:33] kadiealexander commented on #4696
Upwork post: https://www.upwork.com/jobs/~0176449bcbd8e3cd2c

[2021-08-18 00:33] isagoico commented on #4716
Just retested in iOS and the button is fully responsive there. Only reproducible in Android.

[2021-08-18 00:41] isagoico opened #4718 "Unread message indicator does not disappear after some time has passed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. As user A send some messages to user B
2. As user B navigate to the conversation with user A
3. Wait a minute

## Expected Result:
Unread message

[2021-08-18 00:44] isagoico commented on #4718
According to this PR https://github.com/Expensify/App/pull/1570, the unread indicator should disappear if:
1. The indicator fades out after a few seconds
2. If another message is sent while the report is active, verify the indicator doesn't show up again.

[2021-08-18 00:45] parasharrajat commented on #4716
OK. then I think we have to change the design for Android.
I have an initial draft of what can be done for android but I look more to see what is best. The main motive of this design strategy was to allow the badge to grow as much as it needs while keeping the side areas of it to be available to underneath messages. So that click can activated the menu over messages.

[2021-08-18 00:48] isagoico opened #4719 "Blank modal displayed when navigating to enable-payments"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue is failing https://github.com/Expensify/App/pull/4604

## Action Performed:
1. Log in with a expensifail account
2. Navigate to staging.new.expensify.com/enable-pa

[2021-08-18 00:49] OSBotify commented on #4719
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-18 00:58] parasharrajat commented on #4719
Another issue from Onyx. the component is not rendering at all. Onyx is blocking the render of the component. cc: @marcaaron

[2021-08-18 00:59] marcaaron commented on #4719
Ok I'll look into it thanks.

[2021-08-18 01:16] thienlnam commented on #4601
@akshayasalvi Ah yeah my bad looks like the HTML render has been moved, I meant in this file https://github.com/Expensify/App/blob/bd863d61b3e0161dcce0e0085f02a10923bea876/src/components/HTMLEngineProvider/BaseHTMLEngineProvider.js

We don't need to worry about adding native download logic in this issue, but just make sure the UX changes also reflect on native devices

🟢  on the proposal

[2021-08-18 01:17] thienlnam commented on #4601
@mallenexpensify could you please hire @akshayasalvi for this job?

[2021-08-18 01:24] deetergp commented on #4415
I looked over the draft earlier today and it looked good thus far.

[2021-08-18 03:05] stitesExpensify commented on #3922
Making this weekly for now

[2021-08-18 03:06] stitesExpensify commented on #4398
Moving this to weekly

[2021-08-18 03:06] Christinadobrzyn commented on #3108
Paid @kakajann in Upwork! Upwork job closed.

[2021-08-18 03:06] #3108 closed

[2021-08-18 03:11] Christinadobrzyn commented on #4375
PR has been merged for 7 days - paid @dklymenk in Upwork and closed job!

[2021-08-18 03:11] #4375 closed

[2021-08-18 04:14] jliexpensify commented on #4495
Posted: https://www.upwork.com/jobs/~01c931e3094e92e655

[2021-08-18 04:21] mananjadhav commented on #4664
**Updated Proposal** from https://github.com/Expensify/App/issues/4664#issuecomment-898904090

In CONST.js, update all the following email addresses:

EXPENSIFY_EMAILS: ['concierge@expensify.com', 'help@expensify.com', 'receipts@expensify.com', 'chronos@expensify.com', 'qa@expensify.com', 'contributors@expensify.com', 'firstresponders@expensify.com', 'qa+travisreceipts@expensify.com'],

[code]

In

[2021-08-18 04:22] mananjadhav commented on #4487
cc: @roryabraham Proposal https://github.com/Expensify/App/issues/4487#issuecomment-894579175

[2021-08-18 05:33] MariaHCD commented on #4472
The resolution in the Slack thread [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1629209595459000?thread_ts=1628782470.250300&cid=C01GTK53T8Q):

1. New logic to show new marker if user is scrolled up in chat history (no GH yet)
2. No longer display new marker once user replies: https://github.com/Expensify/App/issues/4718

So I suggest we close this issue and create a new one for #1 abo

[2021-08-18 05:58] MonilBhavsar commented on #4209
Hmm, when did you last send message to this account, was it frequent or some days/weeks back?

[2021-08-18 06:25] dklymenk commented on #4517
Hello @thienlnam . I have a few questions.

1. Do we need this only on desktop as stated in the original post, or should the same automatic timezone change behavior apply to web (+ mweb) and native platforms?
2. If we are to do it on native, we won't be able to use the document object to track events. We will instead need to rely on some new lib or try to wrap some view with `onPress` around the e

[2021-08-18 06:30] Santhosh-Sellavel commented on #4718
I reported this issue while discussing #4472 Improvement. In this slack thread https://expensify.slack.com/archives/C01GTK53T8Q/p1628783620254300?thread_ts=1628782470.250300&cid=C01GTK53T8Q

I'll pick this up!

[2021-08-18 06:46] Santhosh-Sellavel opened #4723 "Show new marker indicator while user is scrolled up!"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
From conclusions based on this discussion! https://expensify.slack.com/archives/C01GTK53T8Q/p1628782470250300

## Action Performed:
1. Open any user chat window.
2. Scrol

[2021-08-18 06:53] MTN718 commented on #3901
![image](https://user-images.githubusercontent.com/12084368/129851631-9e3a13fa-0448-440e-bd57-096f05d6f0cc.png)
![image](https://user-images.githubusercontent.com/12084368/129851679-8a53d413-7651-4e76-894c-01adb04fae1c.png)

As you can see screenshot, when zoom in, it is changing width to 250% and height to 250%

[2021-08-18 06:55] MTN718 commented on #3901
This is code for extends percent of width and height

![image](https://user-images.githubusercontent.com/12084368/129851920-d53e560d-7fce-4f36-a641-848d09d8a253.png)

[2021-08-18 07:04] MTN718 commented on #3901
![image](https://user-images.githubusercontent.com/12084368/129852969-48040569-745c-4422-bcc2-d78bd498d6aa.png)
I think need to change it to 'stretch' from 'resize' to 'stretch'
I hope it will work
---------- Shane Watson Upwork ---------------

[2021-08-18 07:45] Santhosh-Sellavel commented on #4472
Raise here #4723

 cc: @MariaHCD

[2021-08-18 08:13] laurenreidexpensify commented on #4500
Gonna issue payment on 25 August to account for regression 👍🏽

[2021-08-18 08:32] MariaHCD commented on #4472
Great, thanks @Santhosh-Sellavel. Closing this issue in favor of https://github.com/Expensify/App/issues/4718 and https://github.com/Expensify/App/issues/4723

[2021-08-18 08:32] #4472 closed

[2021-08-18 08:39] parasharrajat commented on #4500
@laurenreidexpensify I have a doubt about the task.

The changes which I did are reverted and   the original change which caused this issue is also reverted.

So this issue does not exist as both of the PRs are taken down.

Secondly, I am not sure about Marc's comment about that PR linked to this issue caused that side effect as the things he has mentioned are not related to PR's changes. Evey if

[2021-08-18 08:46] MTN718 commented on #3901
https://user-images.githubusercontent.com/12084368/129867710-286dd60d-1baf-4f0a-b30d-e267388e3e20.mov

[2021-08-18 08:59] shawnborton commented on #4678
Oh, I really like that idea about the timezone. Actually taking this a step further, perhaps the name above the message for the 1:1 case is redundant as well? So that leaves us with this:

![image](https://user-images.githubusercontent.com/2319350/129869799-2fc3be5d-cee0-4011-af46-ba94ff341881.png)

[2021-08-18 09:04] kidroca commented on #4656
Correct.

https://reactnative.dev/docs/next/hermes#confirming-hermes-is-in-use

0.35 vs 4.2 is a big improvement.

I'll check if there's some way to use Flipper to see the performance results of a release build

An alternative is that a debug build can be configured to precompile JS the same way a release does. Saw that in one of the perf capturing tutorials, there's a gradle config about it. This

[2021-08-18 09:16] shawnborton commented on #4616
Sounds like this needs some kind of mockup from Design right?

In this particular case, I'm not entirely sure where is best to place the error message. Typically we might put an error message like this right below an input, but you don't need the input to select people on this page. That makes me think that we could place it near the green button (perhaps dock it right above it?) or even take adva

[2021-08-18 09:44] kidroca commented on #4500
@laurenreidexpensify, @parasharrajat
The regression is **not** due to work made in the current ticket

@marcaaron's investigation is correct. The problem is with cache and the LRU update: https://github.com/Expensify/App/pull/4509

The "old" cache cleaning logic took "default keys" into consideration and never cleared them from cache

We could 1) restrict cache cleanup to clear only the "safe evic

[2021-08-18 09:50] kidroca commented on #4500
I'll be happy to open a PR to address the regressions, as it's caused by my PR
We just need to agree on the solution
We've discussed 1) before, and have agreed it could only improve things.

Both approaches are pretty much handled the same way - we give "Cache" a list of keys that should not be cleared

[2021-08-18 10:15] laurenreidexpensify commented on #4500
Okay thanks for the summary - let's wait for Marc to get online later and take a look here to give us a forward steer 👍🏽

[2021-08-18 10:58] parasharrajat commented on #4500
Thanks, @kidroca, I agree with the point that changes done in the linked PR are not the main cause of the issue. It's just the side case was not handled.

Anyways, I am sure that we are going to keep the LRU cache so a fix to the occurred issue https://github.com/Expensify/App/issues/4500#issuecomment-900652312 and #4509 and changes in https://github.com/Expensify/react-native-onyx/pull/96, all ar

[2021-08-18 11:11] parasharrajat commented on #4211
After debugging I found out this.
1. Drawer is handling the hardware back button when the Drawer is open. It triggers DrawerAction.CloseDrawer() action which opens it. I am not sure how that is supposed to work but it is the main cause of the issue.
2. And from some digging, App close behaviour is not handled for the Drawer Router. So we have to customise the hardware back button action with `Back

[2021-08-18 11:38] aman-atg commented on #4226
@mallenexpensify, I think that due to the new `ExpensiTextInput` we can't implement a solution with `defaultValue` for now. As the new input doesn't have support for that.
I've explained it here https://github.com/Expensify/App/pull/4385#issuecomment-895828670

[2021-08-18 11:50] iwiznia commented on #4542
I kind of agree with @shawnborton here, you can clear the text by deleting it with the keyboard.

[2021-08-18 11:50] #4542 closed

[2021-08-18 11:59] aman-atg commented on #4435
Well, this is a bizarre situation.. I tried with chrome as well and cleared my cache.
Even tried on a different machine.
![image](https://user-images.githubusercontent.com/28243942/129891715-d4db51f3-63bc-4c8a-bacb-ff1d60696b61.png)

I think it's only occurring when we request money directly from the chat.

Video for reference.

https://user-images.githubusercontent.com/28243942/129894295-b378d8da

[2021-08-18 12:16] mananjadhav commented on #4226
@aman-atg Do you want to explore the solution I gave? Rather than moving the states, let's merge the Signin component.

https://github.com/Expensify/App/issues/4226#issuecomment-889673883

@marcaaron Can share his thoughts again with the new `ExpensiTextInput` problem.

[2021-08-18 12:19] aman-atg commented on #4226
Yes @mananjadhav, it seems both yours and the original solution might work here.

[2021-08-18 12:44] MTN718 commented on #3901
It's not solution @parasharrajat ?

[2021-08-18 13:12] MTN718 commented on #3901
Ok let me create video again with slow mode

[2021-08-18 13:23] MTN718 commented on #3901
https://user-images.githubusercontent.com/12084368/129905689-c9b4724b-4d51-4f62-aebc-70f43ea24896.mov

Please check this video again

[2021-08-18 13:35] MTN718 commented on #3901
Any feedback @parasharrajat ?

[2021-08-18 13:51] parasharrajat commented on #3901
Better than the earlier video, I leave up to the engineer assigned to evaluate.

[2021-08-18 13:53] tgolen commented on #4507
Yeah, I'd be fine with getting rid of `restartSignin` completely. Good suggestion! I understand about the circular dependency. It is OK to stay in its own file like that.

With that then, I think it's a complete proposal and I give the 🟢 to be hired for this @arielgreen.

[2021-08-18 14:04] Dev-Manny commented on #4211
@trjExpensify  I'm interested to work on the job. Is this still available?

[2021-08-18 14:06] rdjuric commented on #2934
Hi @mallenexpensify! Is there any job in Upwork for this issue? I wasn't hired yet and can't find one

[2021-08-18 14:08] MTN718 commented on #3901
Thanks @parasharrajat

[2021-08-18 14:08] Dev-Manny commented on #4211
I got an invite from Upwork regarding this task. Is it still available? @trjExpensify @parasharrajat

[2021-08-18 14:18] tgolen commented on #4526
Oh, ha... well, welcome to my chaos roller coaster! Sorry about that confusion, I get it now.

OK, if it's a regression from a previous PR, then this would be part of the original job and there would be no additional payment, so I think we are OK here and I'm assigning back to @mananjadhav and we can go ahead and get the fix merged when it's done being reviewed.

[2021-08-18 14:24] parasharrajat commented on #4211
Yes @Dev-Manny

[2021-08-18 14:49] kidroca commented on #4656
Application bundling can be updated to use RAM bundles to improve TTI in general
This means extracting non essential parts of the application to separate chunks that are lazy loaded on demand

Related Article: https://reactnative.dev/docs/ram-bundles-inline-requires

We load all the screens and navigators even though only 1 is used during init, and some might not be used at all in a single session

[2021-08-18 14:55] isagoico commented on #4209
Frequent since it's my testing account. I used it several times yesterday

[2021-08-18 15:59] Jag96 commented on #4528
Paid!

[2021-08-18 15:59] #4528 closed

[2021-08-18 16:00] isagoico commented on #4712
@parasharrajat We raised this because it's failing https://github.com/Expensify/App/pull/4603. Should we close this since it's already addressed in https://github.com/Expensify/App/issues/4669 ?

[2021-08-18 16:03] parasharrajat commented on #4712
Yes. Please close it other one is already triaged. If you think that this is different than the other one then let me know the difference and keep it open.

[2021-08-18 16:04] Jag96 commented on #4213
Paid + bonus

[2021-08-18 16:04] #4213 closed

[2021-08-18 16:04] #4462 closed

[2021-08-18 16:06] Julesssss commented on #4264
I'm unable to focus on this currently due to allocations, but now that I've settled on a library that suits our needs and works as expected, we can probably export this issue.

CC @mananjadhav -- perhaps you would be interested in working on this issue next week if I update the task with the latest information and make it external? As this is a relatively complex issue, I think we should double th

[2021-08-18 16:12] roryabraham opened #4727 "Post deploy announcements in slack"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Run a staging or prod deploy of Expensify/App.

## Expected Result:
`OSBotify` should post in Slack, telling us that a deploy occurred. Staging depl

[2021-08-18 16:17] #4712 closed

[2021-08-18 16:17] isagoico commented on #4701
Checked off https://github.com/Expensify/App/issues/4712 since it's being worked on here https://github.com/Expensify/App/issues/4669

[2021-08-18 16:20] akshayasalvi commented on #4601
@thienlnam Is there a way to get the filename in the `BaseAnchorForCommentsOnly`. I've checked that it just sends HTML to the renderHTML. In `Text` the `children`,  it loads an element and I don't have a way to get just the filename.

[code]

If there isn't a direct way to get the filename then I'll figure out a way to pass it to props or something. This is how it looks right now with the UX chang

[2021-08-18 16:22] NikkiWines commented on #4111
Yep! @aman-atg's proposal looks good 👍, will review the PR today

[2021-08-18 16:22] roryabraham commented on #4727
Making this internal so that it can be tested by the same engineer who writes the code. Testing will be the most painful part of this issue. FP instructions:

Add a step in [`platformDeploy.yml`](https://github.com/Expensify/App/blob/b93e158f73f685444ce179e20dc87255739a194c/.github/workflows/platformDeploy.yml) at the end of the file in the [`postGithubComment` job](https://github.com/Expensify/Ap

[2021-08-18 16:24] iwiznia commented on #4727
Let's post in announce everything we can. In the end, no one reads that channel, is more like a log of everything that was deployed.

[2021-08-18 16:39] isagoico opened #4728 "Blank page displayed when navigating to /bank-account/requestor"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue is failing PR https://github.com/Expensify/App/pull/4431 (But it's reproducible in production so no deploy blocker label added)

## Action Performed:
1. Log in to

[2021-08-18 16:41] thienlnam commented on #4601
You'd probably have to pass it down via props [here](https://github.com/Expensify/App/blob/76a7aba4039e82dc5be1f2f7176101b338144172/src/components/HTMLEngineProvider/BaseHTMLEngineProvider.js#L65-L88), likely by extracting it from `htmlAttribs`.  If we need to add an attribute to the html element to include the name let me know

[2021-08-18 16:42] Santhosh-Sellavel opened #4729 "Login page welcome text style differs between platforms (Inconsistent)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Logout If already logged in, log out.
2. See the welcome text

## Expected Result:
The same style everywhere!

## Actual Result:
It's bolded in A

[2021-08-18 16:43] Santhosh-Sellavel commented on #4729
## Proposal
I do see this happens because of the following reasons.
The style we use for welcome text is
<img width="378" alt="Screenshot 2021-08-18 at 9 56 18 PM" src="https://user-images.githubusercontent.com/85645967/129936281-e957b694-6e44-44ee-b936-19aa2d3647d6.png">

In the h3 style for `fontFamily.GTA_BOLD`, we have written a separate export for bold style alone.
<img width="406" alt="Scree

[2021-08-18 16:44] shawnborton commented on #4729
I think we want the text to appear bold on all platforms. Does this mean all bold text is broken on Android?

[2021-08-18 16:45] Santhosh-Sellavel commented on #4729
Yes, it looks like @shawn!

[2021-08-18 16:46] isagoico opened #4730 "Red field outlines are not displayed when entering incorrect information"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue is failing https://github.com/Expensify/App/pull/4431

## Action Performed:
1. Navigate to /bank-account/company
2. Enter incorrect information in the text fields.

[2021-08-18 16:46] Santhosh-Sellavel commented on #4729
Do you expect `GTAmericaExp-Regular` for all? @shawnborton

[2021-08-18 16:47] OSBotify commented on #4730
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-18 16:49] shawnborton commented on #4729
I would expect `GTAmericaExpBold` for bold.

[2021-08-18 16:52] thienlnam commented on #4517
1. All changes should be cross platform, and especially since it is most likely that the user would experience a time change on a mobile device, it makes sense to include it there as well
2/3. Let's do an investigation of what this feature would look like on native devices and see where to go from there
4. Not sure about the context on that, but cc @NikkiWines, do you happen to have the context fo

[2021-08-18 16:53] parasharrajat commented on #4728
I think this is a deploy blocker.

[2021-08-18 16:53] Santhosh-Sellavel commented on #4729
`GTAmericaExp-Bold` does not work well for web/desktop!

[2021-08-18 16:57] shawnborton commented on #4729
I'm not sure what to tell you then - perhaps @roryabraham or @marcaaron might have an idea as I think one of them might have worked on this?

[2021-08-18 17:05] Santhosh-Sellavel commented on #4729
Okay, @shawnborton it does not look like it is completely messed up, I will investigate further for other pages!

[2021-08-18 17:09] anthony-hull opened #4731 "[HOLD for payment 2021-09-10] Set Password button appears enabled when password form is in an invalid state"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
log out
set LS key "credentials": {"login":"asdf@gmail.com"}
navigate to:
https://new.expensify.com/setpassword/123/123

## Expected Result:
set pas

[2021-08-18 17:10] Santhosh-Sellavel commented on #4729
It's not working on login pages alone as expected!

[2021-08-18 17:11] isagoico commented on #4728
This is also reproducible in production, so not sure 🤔

[2021-08-18 17:12] anthony-hull commented on #4731
Proposal:
add this prop to the Button at https://github.com/Expensify/App/blob/25737b5381deaa31121a4603eb3dbe1411424edf/src/pages/signin/PasswordForm.js#L126-L132
```disabled={this.state.formError && !this.props.password}```

[2021-08-18 17:13] parasharrajat commented on #4728
Ok. Fix is very straightforward and how did we end up with this issue. It must have been an accident.
we just need to import the `import Text from '../../components/Text'` in the IndentityForm component.

[2021-08-18 17:16] Julesssss opened #4732 "[NO QA] Await Apple test credentials update before next deployment"
Before the next release can occur, we need to update the test credentials that we pass to Apple. If we don't do this the release will be rejected by Apple, so there is no point releasing before this is done. This is being handled internally [here](https://github.com/Expensify/Expensify/issues/173948). We cannot add the `DeployBlockerCash` label to internal issues, so I created this in order to hol

[2021-08-18 17:17] OSBotify commented on #4732
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-18 17:19] isagoico opened #4733 "Android/iOS - Code blocks are overflowing the app border"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue is failing https://github.com/Expensify/App/pull/4624 (CC @parasharrajat)

## Action Performed:
1. Navigate to a conversation in iOS or Android
2. Send a long mess

[2021-08-18 17:21] akshayasalvi commented on #4601
Honestly, passing a name would be better. Not only for the documents but also for image. I can then just pick that and display rather than extracting `htmlAttribs`. I'll still go ahead and implement with htmlAttribs till we have the filename.

[2021-08-18 17:24] aldo-expensify commented on #4730
Working on this...

[2021-08-18 17:27] marcaaron commented on #4656
I did some digging on RAM bundles at one point and the discovered they aren't compatible when using Hermes. Something something `mmap`...

![Screen Shot 2021-08-18 at 6 53 47 AM](https://user-images.githubusercontent.com/32969087/129939862-0e04c99e-3735-4308-9d72-aa50b741edd9.png)

Inline requires should still work with Hermes (I know I read this somewhere but didn't think of any great ways to imp

[2021-08-18 17:29] #4719 closed

[2021-08-18 17:30] anthony-hull commented on #4731
Proposal:
https://github.com/Expensify/App/blob/4492fe18cf1f44d689b0ee0eb1aeb305e02ec78c/src/pages/SetPasswordPage.js#L95-L101
add:
`isDisabled={!this.state.isFormValid || this.state.isFormValid}`

[2021-08-18 17:31] Julesssss commented on #4732
Bumped the internal issue

[2021-08-18 17:37] thienlnam commented on #4601
Can you clarify this?  Do you need a name to be passed to the html element which would show up in `htmlAttribs`?

[2021-08-18 17:44] akshayasalvi commented on #4601
@thienlnam I've managed to find the filename from the TextNode. Please check the draft PR. If that doesn't work well then I would required the name to be passed in the HTML such as `data-filename`, which I can use to pass as prop.

[2021-08-18 17:52] aldo-expensify commented on #4730
I can see in the `render` method of `<CompanyStep>` that we pass down the error text like `<ExpensiTextInput errorText={error} ...>`, then this eventually uses `<BaseExpensiTextInput>` to render the input. `<BaseExpensiTextInput>` receives the `errorText` with the error, but this component doesn't handle this prop.

I saw that there is another component that actually does something with this prop:

[2021-08-18 17:56] thienlnam commented on #4601
Sweet, @akshayasalvi Could you please apply for the upwork job [here](https://www.upwork.com/jobs/~012a60478f2a5dfa9a) so we can get you hired before continuing work on the PR?

[2021-08-18 17:59] iwiznia commented on #4005
There was a regression here https://github.com/Expensify/App/issues/4733 @parasharrajat can you take a look please?

[2021-08-18 18:00] parasharrajat commented on #4005
Yup. Sure

[2021-08-18 18:02] isagoico commented on #4701
Checking off several PRs that were added because of the CP bug (Checking them off bc if I removed them they just get re added after another CP)
1. https://github.com/Expensify/App/pull/4568
2. https://github.com/Expensify/App/pull/4503
3. https://github.com/Expensify/App/pull/4436
4. https://github.com/Expensify/App/pull/4402
5. https://github.com/Expensify/App/pull/4416
6. https://github.com/Expe

[2021-08-18 18:08] akshayasalvi commented on #4601
I've applied on Upwork

[2021-08-18 18:10] anthony-hull opened #4737 "[HOLD for payment 2022-01-11] [Network] No error messages shown to user when setpassword gets an error from the API"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
sign up as a new user and click the link. Delete the last character of the url and navigate.

## Expected Result:
An error should be shown to the us

[2021-08-18 18:12] parasharrajat commented on #4005
@iwiznia even reverting this PR does not fix this issue. This issue is caused by upgrading the `react-native-render-html`. And I am tracking multiple issues caused by that here https://github.com/meliorence/react-native-render-html/issues/514.

[2021-08-18 18:13] parasharrajat commented on #4733
@iwiznia even reverting https://github.com/Expensify/App/pull/4624 PR does not fix this issue. This issue is caused by upgrading the react-native-render-html. And I am tracking multiple issues caused by that here meliorence/react-native-render-html#514.

[2021-08-18 18:14] parasharrajat commented on #4733
I am investigating it.

[2021-08-18 18:17] anthony-hull opened #4738 "Login placeholder text repeats label text"
## Action Performed:
Log out and view login form

![image](https://user-images.githubusercontent.com/47184118/129950611-4b207b33-2056-4acd-b8c0-ccd566aff36e.png)
same on iOS:
![image](https://user-images.githubusercontent.com/47184118/129950955-88e91b15-3d29-48a7-94bf-468c581e35b0.png)

The Label and placeholder repeats the same information.

https://expensify.slack.com/archives/C01GTK53T8Q/p16293

[2021-08-18 18:18] iwiznia commented on #4733
Oh sorry about that, I think that this PR caused this then https://github.com/Expensify/App/pull/4047 cc @jsamr

[2021-08-18 18:19] isagoico opened #4739 "iOS - No space between "New" and "Expensify" for the app name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue is failing https://github.com/Expensify/App/pull/4408 for iOS.

## Action Performed:
1. Download latest build in iOS
2. Check the app name

## Expected Result:
App

[2021-08-18 18:19] iwiznia commented on #4005
Right, scratch that back then, this issue had no regressions. Sorry about that @parasharrajat

[2021-08-18 18:20] anthony-hull commented on #4737
should I made another issue for the API not sending the correct link out or will that get one made internally somewhere else?

[2021-08-18 18:20] parasharrajat commented on #4500
@marcaaron Awaiting your response in the discussion. Please let us know what is the next thing to do.

[2021-08-18 18:20] OSBotify commented on #4739
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-18 18:21] iwiznia commented on #4733
Wait, I am confused, that PR was deployed a while ago, was this broken before and we did not notice?

[2021-08-18 18:26] anthony-hull commented on #4738
Since the label and placeholders look to be inverted between web and mobile. How would we like them to appear?

[2021-08-18 18:28] parasharrajat commented on #4733
Yes. this is the list of issues that were caused by that upgrade.
1. https://github.com/Expensify/App/issues/4488.
2. https://github.com/Expensify/App/issues/4377 . (What is wrong with Github? URLs for this issue and link pasted have the same id) notice 4377.
3. Links were clickable from empty space. https://github.com/meliorence/react-native-render-html/issues/514
4. And this one.

It is just due

[2021-08-18 18:32] joelbettner commented on #4675
This looks like it has what it needs. Un-assigning myself and adding the External label.

[2021-08-18 18:33] aldo-expensify commented on #4730
PR up, I tested in desktop.. seems to work, I'm testing in other platforms now.

[2021-08-18 18:33] joelbettner commented on #4612
Sorry, I've been nose down in allocations. Yes, I think this can be worked on by a contributor.

[2021-08-18 18:43] isagoico commented on #4701
**Regression** is finished!
Issues found:
1. https://github.com/Expensify/App/issues/4739
2. https://github.com/Expensify/App/issues/4728
3. https://github.com/Expensify/App/issues/4730
4. https://github.com/Expensify/App/issues/4716
5. https://github.com/Expensify/App/issues/4733
6. https://github.com/Expensify/App/issues/4711
7. https://github.com/Expensify/App/issues/4719
8. https://github.com/

[2021-08-18 18:43] mananjadhav commented on #4486
@deetergp Are we good to take this ahead?

[2021-08-18 18:46] mananjadhav commented on #4110
@johnmlee101 Are we taking this ahead?

[2021-08-18 18:47] anthony-hull opened #4743 "Styling bug on setpassword hint text"
## Action Performed:

1. log out
2. set LS key "credentials": {"login":"asdf@gmail.com"}
3. navigate to:
4. https://new.expensify.com/setpassword/123/123
5. enter a valid password

## Expected Result:
text to only change colour
## Actual Result:
text font size and colour changed

https://user-images.githubusercontent.com/47184118/129954585-f4fce42e-300b-4af3-890e-4fb549104e98.mp4

## Platform:

Wh

[2021-08-18 18:50] mallenexpensify commented on #4435
I was able to reproduce! Just took a handful of tries.
- open staging.new.expensify.com in chrome.
- go to chat with a user where their account login is a phone number
- click the plus icon next to the compose box (not the big green one)
- enter amount
- observe `expensify.sms` at end of username.
<img width="460" alt="2021-08-18_11-46-19" src="https://user-images.githubusercontent.com/22508304/12

[2021-08-18 18:52] megankelso commented on #4678
yes, agreed! we can drop the name. I like the addition of pronouns to the group but I'm not sure how scaleable it is for larger group chats. For example, if we added them to the next screen:

<img width="316" alt="Screen Shot 2021-08-18 at 11 48 15 AM" src="https://user-images.githubusercontent.com/49413768/129955068-cd606405-63eb-4720-8894-f3c27f80ae20.png">

Curious for thoughts. would it be wei

[2021-08-18 18:53] mallenexpensify commented on #4226
@NikkiWines Can you review @mananjadhav 's proposed solution https://github.com/Expensify/App/issues/4226#issuecomment-889673883

Unassigning @aman-atg for now

[2021-08-18 18:57] parasharrajat commented on #4612
### Proposal
Here we have two options to configure this.
1. the First Option is to register the keyboard short to with these keys to navigate back/forth in history using the `History API` 's back and forward methods.

for this, we have `KeyboardShortcut` lib. https://github.com/Expensify/App/blob/2b57f0fac59d007441fb170fd05445d83392ed86/src/libs/KeyboardShortcut/index.js

but we only have to activ

[2021-08-18 18:59] aldo-expensify commented on #4730
How can we get to this view from the Desktop/Mobile native versions?

[2021-08-18 19:01] anthony-hull commented on #4743
proposal:
remove
[code]
from formError and formSuccess in styles.js

https://user-images.githubusercontent.com/47184118/129956671-56e78b2a-61f0-4bff-82d7-0e827b911e7a.mp4

[2021-08-18 19:05] stitesExpensify commented on #4324
No update, focused on internal priorities

[2021-08-18 19:05] #3841 closed

[2021-08-18 19:06] kevinksullivan commented on #4296
Waiting on @roryabraham but sounds like we can close this out.

[2021-08-18 19:07] marcaaron commented on #4022
Going to close this for now as the last of the changes are on staging. I'm not sure what else we can do to improve the individual loading of chat messages and they seem to load pretty fast for now.

[2021-08-18 19:07] #4022 closed

[2021-08-18 19:09] mallenexpensify commented on #4273
Seeing this now for production desktop app, Version 1.0.85-9
![image](https://user-images.githubusercontent.com/22508304/129957578-0da125bf-2a65-45b4-8d95-677a7ed87b5e.png)
I kinda feel like it's lucky but also weird that it's a bunch of 1's and this issue is 'showing 100 when there's 1'

[2021-08-18 19:18] akshayasalvi opened #4744 "[Hold for payment 2021-09-08] Missing Translation in `CompanyStep`"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Set your language to Spansih
2. Navigate to `/bank-account/company` page
3. Enter the details of the company form and keep one or two fields inva

[2021-08-18 19:18] akshayasalvi commented on #4744
**Proposed Solution**

We can create three strings in en.js and es.js

[code]

and update `CompanyStep` with the following coe:

[code]

[2021-08-18 19:23] parasharrajat commented on #4739
Not sure why this is the case. Name is correctly update to this https://github.com/Expensify/App/blob/2b57f0fac59d007441fb170fd05445d83392ed86/ios/NewExpensify.xcodeproj/project.pbxproj#L860

[2021-08-18 19:25] luacmartins commented on #4466
Deployed to production yesterday. Closing the issue!

[2021-08-18 19:25] #4466 closed

[2021-08-18 19:25] luacmartins commented on #4467
Deployed to production yesterday. Closing the issue.

[2021-08-18 19:25] #4467 closed

[2021-08-18 19:27] mallenexpensify commented on #2934
@rdjuric lotta action in here, let's assume I messed something up.
1. The most recent job post is here https://www.upwork.com/jobs/~018f3274b947f5d7b2
2. Is this you? If so, confirm and I'll hire
![image](https://user-images.githubusercontent.com/22508304/129958727-cbadd13d-34cf-44e7-898a-8e5766ca67b7.png)

[2021-08-18 19:30] akshayasalvi opened #4745 "No error on validateCode Expiry"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Either create a new account or try forgot password on an existing account
2. Visit the email and copy the reset password link
3. Wait for sometim

[2021-08-18 19:39] stitesExpensify commented on #4238
This has been on prod

[2021-08-18 19:39] #4238 closed

[2021-08-18 19:52] akshayasalvi opened #4747 "[Pay 9/6] Long Workspace Name gets Cut"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Enter a very long email address for the signin
2. Go to FAB and click on New Workspace
3. You'll see that the workspace name has no margin and it

[2021-08-18 19:52] akshayasalvi commented on #4747
**Proposed Solution**

In `WorkspaceSidebar` change the policy.name Pressable as:

[code]

[2021-08-18 19:57] aldo-expensify opened #4748 "Pressing 'Enter' key in Password field submits form when submit button is disabled"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to <baseURL>/bank-account/company. (Web)
2. Click the Password field at the end
3. Press Enter key

## Expected Result:

Nothing should

[2021-08-18 20:24] mallenexpensify commented on #4226
Actually... I'm going to put on hold for a week, we have some internal priorities we need to focus on, apologies for the delay.  Nikki or another engineer will hop back in soon.

[2021-08-18 20:30] mallenexpensify commented on #4111
Hired @aman-atg in Upwork.  Heads up @aman-atg , as [stated in #expensify-open-source last week](https://expensify.slack.com/archives/C01GTK53T8Q/p1628527713124200), it might take a lil longer for us to move this along due to some internal priorities, please be patient.

[2021-08-18 20:33] mallenexpensify commented on #4601
Hired @akshayasalvi in Upwork. The bonus for reporting the issue will be added at the end upon payment for the job.

[2021-08-18 20:33] MTN718 commented on #3901
If you ok, i will create PR for it

[2021-08-18 20:38] mallenexpensify commented on #4490
still on hold.. likely coming off soon..

[2021-08-18 20:39] NikkiWines commented on #4517
Ah yeah, I have context. Back in January when we were first building E.cash/New Expensify we only passed the timezone name (e.g. `America/Los_Angeles`) and not whether or not it was automatically selected (because we hadn't yet built out the feature that allowed users to modify that in product)

We even had a migration for it, though it ended up causing some issues and we reverted it - opting inst

[2021-08-18 21:02] akshayasalvi opened #4749 "Confusing error on adding self account to new chat or group"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on FAB
2. Click on New Chat or New Group chat
3. Enter the logged-in user's email in the search field
4. Click on Add you'll see a confusin

[2021-08-18 21:02] akshayasalvi commented on #4749
**Proposed Solution**

In OptionListUtils.js there's a handling missing to hide logged in account during search.

[code]

Add the `searchValue !== currentUserLogin` to the userToInvite block's in the code.

Second way, is to make a more reader friendly errors such as "Cannot chat with own/self account"

[2021-08-18 21:03] marcaaron commented on #4500
Sorry, I will be tied up with some other duties for a bit. But I don't think there is anything that urgently needs to be done here. I understand @parasharrajat was assigned to this issue. The reverts have resolved the original issue. This should also no longer be a deploy blocking issue and can be closed.

I'd suggest we create a new issue to discuss further improvements and just close this one.

[2021-08-18 21:03] #4500 closed

[2021-08-18 21:03] akshayasalvi commented on #4601
Thank you. @thienlnam Can you review the PR now?

[2021-08-18 21:28] parasharrajat commented on #4435
### Proposal
I propose that we fix the original change that caused this. In newDot we trim the SMS domain from phone numbers while preparing data options for the viewing purpose. Every component follows that. But I see that this https://github.com/Expensify/App/pull/3651 PR added this to fix the issue with IOU Creation but at that time we didn't think of this regression.

 * To Keep the app consis

[2021-08-18 21:29] michelle-thompson commented on #4678
I think you can have up to eight people in DMs, so it's possible to include pronouns for everyone! It looks a little busy, but I don't particularly mind that since this screen is temporary.

![image](https://user-images.githubusercontent.com/43361905/129974739-450c5599-c1bb-4ae8-891c-4e11df9eee82.png)

[2021-08-18 21:33] parasharrajat commented on #4739
@Jag96 Could you please investigate it?

[2021-08-18 21:51] ctkochan22 commented on #4738
Just a quick confirmation. Which one should we remove?

I kind of like the idea of removing the black label, but probably clearer to just remove the inside teh field grey'd placeholder

[2021-08-18 21:57] johncschuster commented on #4749
I have reproduced this by being logged in as `jschuster@expensify.com` and attempting to create a New Chat with `jschuster@expensify.com`. 👍

[2021-08-18 22:01] #4728 closed

[2021-08-18 22:03] mananjadhav commented on #4526
@tgolen I've raised the PR with the screenshots.

There seems to be a problem in rendering the hyperlinks on mobile Apps. You'll notice that they're aligned to the top. IIt isn't due to this PR. I've attached a screenshot where even if I paste a regular link it is aligned at the top.

@parasharrajat Could this be because of the recent upgrade of `react-native-render-html`

[2021-08-18 22:09] parasharrajat commented on #4526
@mananjadhav It could be but You don't need to worry about that in the Current PR. I am in discussions about the issues from the upgrade of `react-native-render-html`. Hopefully, soon they will be fixed.

[2021-08-18 22:28] akshayasalvi commented on #4745
**Proposed Solution**

Add a catch block to setPassword API:

[code]

![image](https://user-images.githubusercontent.com/57435789/129980290-371ea124-30e1-41b2-8993-4e2bca80a688.png)

[2021-08-18 22:35] jboniface commented on #4666
busy with other stuff, will post the job tomorrow hopefully

[2021-08-18 22:37] kidroca commented on #4656
I've submit a PR here to review the Onyx metrics inside Flipper: https://github.com/Expensify/react-native-onyx/pull/101
I'll submit another one that adds the Flipper Performance plugin and captures the ReportActionsView layout in Expensify/App

[2021-08-18 22:40] jliexpensify commented on #4495
@roryabraham sorry for the bump, but I believe @mananjadhav has a proposal?

[2021-08-18 22:44] sonialiap commented on #4544
Sorry about not triaging this, I was OOO

[2021-08-18 22:45] sonialiap commented on #4559
Sorry for not triaging this earlier, I was OOO. Looks good

[2021-08-18 23:04] luacmartins commented on #4739
@isagoico what device is being used for testing? It seems that iOS might be shrinking characters width based on screen size. Here's an example of the app name in iPhone 8 (top) vs iPhone 12 Pro Max (bottom):

![Screen Shot 2021-08-18 at 5 00 43 PM](https://user-images.githubusercontent.com/22219519/129982971-dd394dc5-d8cf-4782-8991-955838e3d435.png)
![Screen Shot 2021-08-18 at 5 03 35 PM](https://

[2021-08-18 23:23] luacmartins commented on #4711
Seems to be fixed in v1.0.86-3?

https://user-images.githubusercontent.com/22219519/129984477-ad0eb092-677d-46c6-b69f-4c7b935cb9fc.mov

[2021-08-18 23:42] stephanieelliott commented on #4646
Hired on Upwork, feel free to submit the PR whenever you are ready @parasharrajat!

@roryabraham I duped this in E/E (174181), assigned it to you for triaging.

[2021-08-18 23:43] kidroca commented on #4492
Yes, I've also observed that writing with AsyncStorage tends to be slower, merge and multiset as well
Something to note is that even though a write can be taking more time, the call is not blocking the UI

Something to consider with MMKV are the sync methods - these block the main thread, though it might not be an issue as we're writing to memory

A pro with MMKV is we would be able to drop some o

[2021-08-18 23:43] stephanieelliott commented on #4646
I'm taking an extended OOO, re-applied the `External` label to get another CM to take this the rest of the way, thanks @Christinadobrzyn!

[2021-08-18 23:46] stephanieelliott commented on #4413
I'm taking an extended OOO, re-applied the External label to get another CM to take this the rest of the way, thanks @mallenexpensify!

[2021-08-18 23:48] stephanieelliott commented on #4411
I'm taking an extended OOO, re-applied the External label to get another CM to take this the rest of the way, thanks @Christinadobrzyn!

[2021-08-18 23:50] stephanieelliott commented on #3952
I'm taking an extended OOO, re-applied the External label to get another CM to take this the rest of the way, thanks @bfitzexpensify!

[2021-08-18 23:58] isagoico commented on #4739
Oh interesting 🤔 I was able to reproduce on a iPhone 6S which has a smaller screen too.

[2021-08-19 00:26] puneetlath commented on #3313
Paid! Thanks for the great work @Drewfergusson.

[2021-08-19 00:26] #3313 closed

[2021-08-19 00:35] luacmartins commented on #4739
I believe iPhone 6S has an even smaller screen than an iPhone 8 and thus why it looks like the space is not there. Not really sure what the fix is here.

[2021-08-19 01:31] kavimuru opened #4752 "Request money - Currency symbols font sizes are not unique for all the currencies"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Not adding deployblocker label as it occurs in production too

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with expensifail account.
3. Clic

[2021-08-19 01:33] jasperhuangg commented on #4711
@luacmartins Seems like it's only an issue on a physical device, just tried it on my iPhone and it's not pulling up the keyboard, however the styles for focus are being applied on the text input.

I don't think this should be a deploy blocker though.

[2021-08-19 01:43] roryabraham commented on #3901
@MTN718 it doesn't seem to me like you've solved the problem. Try again with an image with a more extreme aspect ratio, and you'll see what I mean. Also, I don't think we'll want to use stretch-resizing.

[2021-08-19 01:44] quinthar commented on #4492
Kind of crazy idea, what if we take the opposite approach and make a fake
storage engine that is entirely in javascript, avoiding the bridge totally.
It would just have a large Json object that it is initialized with, and
then when requests are made to it it just looks up in response with that.
This would eliminate the bridge and the storage engine entirely from
testing, and would simply evaluate

[2021-08-19 01:45] kolecreates commented on #4495
Hi, I can implement this proposal. From the example I can see the following string variations that need translations:

- `Cancelled the ${currency}${amount} request for ${comment}`
- `Cancelled the ${currency}${amount} request`
- `Requested ${currency}${amount} from ${participant}`
- `Requested ${currency}${amount} from ${participant} for ${comment}`

My Steps:
1. add the above phrases and their t

[2021-08-19 01:50] kavimuru opened #4753 "Android - Chat - Inline code block texts are displayed very close to the edge of the screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log in with any account
3. Test the inline code block
## Expected Result:
Text should not be closer to the edge of the screen

#

[2021-08-19 01:51] OSBotify commented on #4753
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-19 01:54] jasperhuangg commented on #4711
There's no way to debug this unless I figure out how to run a local build of NewDot directly on my iOS device. I looked around for a solution to this and haven't been able to find anything, so I've dropped a note in #engineering-chat asking for help.

In the meantime, I think we can probably just skip this from being a deploy blocker.

[2021-08-19 02:00] kavimuru opened #4754 "iOS / Android - Screen will scroll on new messages when they are out of view"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #4603
## Action Performed:
1. Open app and login
2. Tap on any chat
3. Scroll up 6-8 messages so new ones aren't seen
4. On the other side, sen

[2021-08-19 02:01] OSBotify commented on #4754
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-19 02:09] roryabraham commented on #4296
Yep, I'm not able to reproduce this so I'm closing this out

[2021-08-19 02:09] #4296 closed

[2021-08-19 02:31] jasperhuangg commented on #4711
I need to head out right now so I'm going to unassign myself, but I got really close to figuring out a solution:

So if you pass `autoFocus` as true into [here](https://github.com/Expensify/App/blob/0d263e5ca8f2c4ee7259dc3b0880d9c4995a97e4/src/components/TextInputWithFocusStyles.js#L78) the input actually autofocuses correctly, but it conflicts with the animations we have for navigation screens si

[2021-08-19 04:39] pecanoro commented on #4664
Just wondering, why do we need to update CONST and not use the variable EXPENSIFY_EMAILS directly for hasAutomatedAccounts?

[2021-08-19 04:51] mateocole commented on #4545
@Santhosh-Sellavel any update on solutoins?

[2021-08-19 04:52] mananjadhav commented on #4664
We can do that. I was trying to maintain the existing structure in App where we store each of the emails as constants and then refer.

![image](https://user-images.githubusercontent.com/3069065/130009705-b6eca266-8f3f-4dca-b4b8-84c7df0801c8.png)

Would you then expect to update references across the App?

[2021-08-19 04:59] pecanoro commented on #4664
Got it!! Then all good!

[2021-08-19 05:03] mananjadhav commented on #4664
Thanks @pecanoro  I'll start on the PR. Meanwhile I've submitted the updated proposal on Upwork too.

[2021-08-19 05:17] parasharrajat commented on #4711
IOS Safari will block any kind of focus that is applied asynchronously which means inside settimeout or Interaction Manager.

I am sure we can't do anything to fix this. Previously, we moved on to leave this as it is and I think best would be to do thr same now.

We cannot focus on the input in sync manner it will interfere with animations.

[2021-08-19 05:27] parasharrajat commented on #4739
I got a solution of some kind https://stackoverflow.com/questions/46337691/bundle-display-name-missing-space-characters.
we can use the non-breaking space &#x2007; char and thus IOS can't shrink it.

[2021-08-19 05:44] SofiedeVreese commented on #4749
Posted to Upwork: https://www.upwork.com/jobs/~0107be2dcefa1bc350

Assigning a CME now to review @akshayasalvi 's proposal.

[2021-08-19 05:46] SofiedeVreese commented on #4749
hey @NikkiWines please see @akshayasalvi 's proposal [above](https://github.com/Expensify/App/issues/4749#issuecomment-901428444)

[2021-08-19 06:07] MTN718 commented on #3901
Ok. if you don't want use stretch, to keep aspect, another my idea is make attachment view size following image ratio

[2021-08-19 06:07] MTN718 commented on #3901
Attachment View Size should be fixed?

[2021-08-19 06:16] MTN718 commented on #3901
Please give me feedback video @roryabraham

[2021-08-19 07:13] MTN718 commented on #3901
I Found Solution :)
Logic Following:
1. Get Image Size in AttachmentView
2. Send parameter to Style for Zoom
3. Calculate width/height for zoom and set Zoom size
4. Adding Screenshot

![image](https://user-images.githubusercontent.com/12084368/130024146-0b1e9da4-0c53-4065-ae45-be585a87d8ea.png)
![image](https://user-images.githubusercontent.com/12084368/130024208-1d89a02d-5f3c-4098-ae16-b214692c3c

[2021-08-19 07:22] parasharrajat commented on #3901
This does not work properly. ImageWidth is calculated based on the wrapper. for example here we have 100% of the wrapper so image width is equal to the modal insets which is not how it should be. Original rendered are of image is far less than the modal insets. Hope it helps. I am also sticking my head around to get that working.

[2021-08-19 07:28] MTN718 commented on #3901
so problem is before zoom, blank area?

[2021-08-19 07:29] MTN718 commented on #3901
currently get image size before zoom and calculate size only when zoom image so i think it can be working

[2021-08-19 07:35] MTN718 commented on #3901
As you can see screenshot, image width/height is 576,600px but modal size is 1227*737px
![image](https://user-images.githubusercontent.com/12084368/130027283-57930a3a-81fc-408f-9bb0-0260653a2c08.png)
![image](https://user-images.githubusercontent.com/12084368/130027382-3922f6c2-4077-40ba-b958-23dda800867a.png)

[2021-08-19 07:48] parasharrajat commented on #3901
Yeah, then it makes sense.

[2021-08-19 07:54] MTN718 commented on #3901
Do you agree it's solution for issue?

[2021-08-19 07:56] shawnborton commented on #4678
I agree, I think it will be okay. It's probably not very likely that all 8 members of the group will have their pronouns set anyways.

[2021-08-19 08:05] kidroca commented on #4492
This is pretty much the cache object that we currently have
Disabling cache clearing would resolve every request from cache and never go through the bridge
I've tried this in the past, there wasn't much improvement during init - the improvement is only for the chat switches happening after (we've added LRU cache which has this improvement and allows clearing cache)
To make this exactly as what you

[2021-08-19 08:17] parasharrajat commented on #3901
I don't see anything proposed yet. It seems more of an analysis. Could you please post a formal proposal? you can look at contribution guidelines to learn about creating a proposal.

[2021-08-19 08:19] kidroca commented on #4492
We've made some improvements to App and Onyx and we've also have a new more consistent benchmark process so it might be worth it to redo the JSI benchmark

[2021-08-19 08:20] shawnborton commented on #4738
I think the iOS screenshot provided is an old screenshot, the new text input style is actually what is shown in the first screenshot:
![image](https://user-images.githubusercontent.com/2319350/130033619-7acd61f5-fe71-4e9a-85ff-06c34b0effc5.png)

If you pull the latest version of the code and run the iOS simulator locally, I am hopeful that the new input should appear. If not, that's a separate bug

[2021-08-19 08:26] parasharrajat commented on #4738
I don't think this is really an issue. its just preferences.

[2021-08-19 08:32] shawnborton commented on #4738
Personally I think this is an issue worth solving - it should be quite simple to fix this as well.

[2021-08-19 08:33] parasharrajat commented on #4738
Do you mean to change the label to `Phone or email`? @shawnborton . That's is quite easy.

[2021-08-19 08:35] shawnborton commented on #4738
Basically let's keep the text input label as it is and then remove the placeholder text from the input - the placeholder text is the duplicate that we want to get rid of.

[2021-08-19 08:47] shawnborton commented on #4743
Looks good to me.

[2021-08-19 08:48] shawnborton commented on #4743
To clarify though, I think there is another issue floating around somewhere about not using the color green for the password hint text - does that sound right?

[2021-08-19 08:48] MTN718 commented on #3901
# Proposal (Already submitted on upwork)

My name is Shane Watson from South Africa.
I suggest a way to fix issue following

1. Get Image Size when attachment view component mounted
2. Passing Image width/height parameter for zoom style
3. Calculate scale base on max width
4. Create new zoom width/height instead of 250% of view
5. Change Image resize mode property to "contains"

## I already teste

[2021-08-19 08:56] aman-atg commented on #4749
I think this will solved after closing of #4325.

[2021-08-19 09:04] Beamanator commented on #4711
Removed `DeployBlockerCash` label as it's not a critical change. Also @parasharrajat thanks for your input, I'm going to bring the conversation to #expensify-open-source and tag you - would you mind trying to find where this was previously discussed so we can link it here?

[2021-08-19 09:12] parasharrajat commented on #4711
Oh, sorry. Actually, I think I might have confused this with the keyboard state. So here is TLDR https://github.com/Expensify/App/issues/3604#issuecomment-866191604.
But It should focus but the keyboard does not open. But seem this the real issue from the video.

[2021-08-19 09:18] Beamanator commented on #4711
@parasharrajat yeah it doesn't help much if the input is focused but the keyboard doesn't open 😅 but thanks for linking the related discussion! I opened up a conversation in #expensify-open-source [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1629364440030800)

[2021-08-19 10:11] Julesssss commented on #4739
If this is the default OS behavior then I don't think we should override it. If we did the OS might decide to remove characters elsewhere which could be even worse (removing from the end `New Expensif`)

I vote that we do nothing.

[2021-08-19 10:12] Julesssss commented on #4739
I wish Android did this instead of truncating the word 😞

[2021-08-19 10:22] parasharrajat commented on #4739
So it won't be truncated @Julesssss as the character limit is 30 for the App name.

[2021-08-19 10:23] Beamanator commented on #4211
@parasharrajat thanks for linking the previous issue opened by Marc! It looks like it was closed b/c we didn't respond back. In the issue, someone linked https://reactnavigation.org/docs/preventing-going-back/ - have you tried this code?

[2021-08-19 10:33] trjExpensify commented on #4470
Deployed to prod a little while ago, not sure why the issue didn't close.

[2021-08-19 10:33] #4470 closed

[2021-08-19 10:37] trjExpensify commented on #4660
@shawnborton have we decided exactly what we want here? Perhaps we can mock that up quickly before we create the Upwork job.

[2021-08-19 10:42] parasharrajat commented on #4211
reactnavigation.org/docs/preventing-going-back . This does not work for drawers.
1. we have a Stack screen that holds the drawer and now even will fire when we are navigating away from that screen but this never happens as the drawer captures the back button and toggle its status instead of going back.
2. We want to go back.
3. Best is what I explained above but I have not found a good way to do i

[2021-08-19 10:43] trjExpensify commented on #4748
Oh yeah, this is weird. I'm also a tad confused because in your video you haven't filled in the other fields and we don't provide feedback that those need to be filled out too. Can they actually be left blank, @MitchExpensify @kevinksullivan what's the intended outcome here?

[2021-08-19 10:49] Julesssss commented on #4739
It's good to know that we won't see truncation, but I still don't think we need to add a workaround to the default OS behavior.  If the user has three apps in their launcher with the same length/word count it would be odd to have different spacing applied.

[2021-08-19 11:00] trjExpensify commented on #4005
Can we close this issue again then, Gents?

[2021-08-19 11:07] parasharrajat commented on #4005
It is yet to be paid so it's fine if this is open.

[2021-08-19 11:09] parasharrajat commented on #4733
Update, I have discussed this issue with the Lib owner and we are going to revert this change behind the flag which should fix the issue. It should be done by next week.

[2021-08-19 11:26] Santhosh-Sellavel commented on #4545
@mateocole  What's your thought on this solution
https://github.com/Expensify/App/issues/4545#issuecomment-896806869

[2021-08-19 11:42] rdjuric commented on #2934
@mallenexpensify That's me! Thanks.

[2021-08-19 14:04] parasharrajat commented on #4545
@mateocole Please review.

### Proposal

1. As I explained above that there is an issue with our core Navigate method.
2. We do block refreshing the page when we navigate to the existing report. It helps us remove the rerender of the many heavy components.
3. But we are not handling the navigation correctly while doing it.

To fix it we have to think about the modals and other app architecture. We

[2021-08-19 14:18] Santhosh-Sellavel commented on #4545
@parasharrajat Does this solution work mate?

[2021-08-19 14:26] isagoico commented on #4753
Closing, duplicate of https://github.com/Expensify/App/issues/4733

[2021-08-19 14:26] #4753 closed

[2021-08-19 14:38] bfitzexpensify commented on #3952
I don't have an Android so can't test this one out. Are you still seeing it as a reproducible issue @rushatgabhane and @isagoico?

[2021-08-19 14:44] rushatgabhane commented on #3952
Yup, reproducible on Pixel 3, and Samsung J3 (2016).
For staging and production.

[2021-08-19 15:00] kidroca commented on #4656
It's **not** possible to use Flipper with a release build (or at least without tweaking too many things)

It's relatively easy to include a compiled bundle (bytecode) in the dev build (it's still not the same as running a release build, but comes close)
![image](https://user-images.githubusercontent.com/12156624/130079321-314e0311-e004-4388-a888-8739af9b2646.png)
![image](https://user-images.githu

[2021-08-19 15:08] Santhosh-Sellavel commented on #4545
@parasharrajat I don't know why are you proposing the solution for the issue which I raised & I'm working on it. Also in discussion with @matecole.

You do have tasks & bugs on hand already! Which I could solve can I propose solutions there?
Do you think is it fair to do something like that?  Personally, I think is not fair.

If you are really interested in solving it you could have asked first.

[2021-08-19 15:18] sketchydroide commented on #4623
Bump @michaelhaxhiu

[2021-08-19 15:28] parasharrajat commented on #4739
We are good to close this.

[2021-08-19 15:28] Julesssss commented on #4211
Apologies if I am repeating something that is no longer true, but @Maftalion suggested the following solution a while ago, which sounds like a better 'fix' in my opinion:

@Maftalion

He's referring to the point that the `reportView` page used to be the top-level page in the app, with the `NavDrawer|LHN` being a simple view that overlayed the page. When we made the `NavDrawer|LHN` the top-level pa

[2021-08-19 15:37] mananjadhav commented on #4264
That's right. @Julesssss Can you share what we have so far in a small comment and the expected goal here? I'll go through it.

[2021-08-19 15:57] kidroca commented on #4656
This tool can help with tracking any large JS bundles, and it can be run with `npx react-native-bundle-visualizer`
https://www.npmjs.com/package/react-native-bundle-visualizer

I've run it on Expensify and here's what I've found out
- total size 3.66MB (though it's not very accurate as it's actually 4.05MB)
- external libraries (from `node_modules`) - 2.7MB (61% of the source)
- `src` - 813kB - 18

[2021-08-19 16:16] marcaaron commented on #4211
Oh hmm the react-navigation issue was closed (maybe we can reopen it with a reproduction?). That suggestion was not from a maintainer which is why I didn't respond (it also doesn't work).

It sounds like we are suggesting to make the LHN another screen in the main stack navigator but I'm not too sure. We can achieve the drawer navigator "overlay" style with [`drawerType: 'front'`](https://reactnav

[2021-08-19 16:22] marcaaron commented on #4211
Does everyone agree the proper fix should be in `react-navigation`?

[2021-08-19 16:24] parasharrajat commented on #4211
I agree that there should be an option to disable the back handler controlling the drawer.

[2021-08-19 16:30] #4739 closed

[2021-08-19 17:33] isagoico opened #4756 "[HOLD for payment 2021-12-15] $500 Chat Switcher - Draft message from previous conv is displayed after using chat switcher"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel! https://www.upwork.com/jobs/~01e5dccfcff059ed0f
___

## Action Performed:

Please, see [this comment](https://github.com/Expensify/App/issues/4756#issuecomment-946942549) for

[2021-08-19 17:34] OSBotify commented on #4756
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-19 17:40] luacmartins commented on #4236
PR https://github.com/Expensify/App/pull/4237 deployed to production. Closing this issue.

[2021-08-19 17:40] #4236 closed

[2021-08-19 17:40] arielgreen commented on #3981
I'm going to throw `External` back on here so we can get this posted. Even if it's just to have a contributor investigate.. Seems like a lot of us are still experiencing this, evidenced in this issue and [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1629387155031900) and [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1629394296040100).

[2021-08-19 17:41] luacmartins commented on #3784
PR https://github.com/Expensify/App/pull/3912 deployed to production. Closing this issue.

[2021-08-19 17:41] #3784 closed

[2021-08-19 17:44] luacmartins commented on #3615
Closing issue since PR has already been deployed to production.

[2021-08-19 17:44] #3615 closed

[2021-08-19 17:44] luacmartins commented on #3386
Closing issue since PR https://github.com/Expensify/App/pull/3839 has already been deployed to production.

[2021-08-19 17:44] #3386 closed

[2021-08-19 17:47] mallenexpensify commented on #4169
@parasharrajat this is still happening for me, Desktop Version 1.0.85-9
Few examples `service.&nbsp;&nbsp;`, `&nbsp; We&rsquo;ve`, `haven&rsquo;t `.

Should the examples above have been fixed with this GH issue?

[2021-08-19 17:51] arielgreen commented on #4507
@thesahindia just sent over an offer! I also raised the price to include the bonus you'll receive for proposing AND fixing this.

[2021-08-19 17:55] adelekennedy commented on #4518
**Internal Job posting:** [Link](https://www.upwork.com/ab/applicants/1428414965362147328/job-details)

**External job posting:** [Link](https://www.upwork.com/jobs/~0199a1252506fdeb2d)

[2021-08-19 18:08] isagoico commented on #4365
@mountiny @Dal-Papa Will leaving the exported label here work? Or should I remove and re add? (Just so we can test this https://github.com/Expensify/Web-Expensify/pull/31739)

[2021-08-19 18:10] aldo-expensify commented on #4499
The `waiting for copy` label doesn't work for PRs so I'm bringing this here.

Copying @iwiznia's comment requesting copy:

https://github.com/Expensify/App/pull/4661#issuecomment-899458964

a. Main Send button in the Chat Input Box
b. Green FAB on the LHN
c. + button that opens up "Add attachment" option

[2021-08-19 18:11] parasharrajat commented on #4169
I think I can open a new issue for this. @mallenexpensify

[2021-08-19 18:11] MTN718 commented on #4518
Hello I want work this issue. If ok, i will submit proposal on upwork

[2021-08-19 18:13] isagoico opened #4758 "iOS and Android are failing to deploy every version"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Deploy a new build for Android and iOS

## Expected Result:
Deploy should not fail

## Actual Result:
Deploy is failing on every version now http

[2021-08-19 18:16] MTN718 commented on #4518
Proposal

![image](https://user-images.githubusercontent.com/12084368/130122693-40aaa3da-e7a8-47ab-8749-89a06042d96b.png)

this is hardcoded in english. need to change it from localization text

[2021-08-19 18:17] isagoico commented on #2713
@mallenexpensify was able to reproduce this today on Desktop  v1.0.85-9

## Message showing out of order. Desktop

**Action performed:**

1. Sent (brb gonna make coffee)
2. Closed comp lid/computer put to sleep
3. Opened comp
4. Sent new Yes, Correct message
5. old brb message is stuck at bottom

**Logs:**
[code]

![image](https://user-images.githubusercontent.com/44479856/130122817-107d7c86-6fa0-

[2021-08-19 18:21] mountiny commented on #4365
@isagoico It should work as it is! We can also see if there any other issues falling to this bucket already open elsewhere.

[2021-08-19 18:32] TomatoToaster commented on #4758
doesn't make sense for this to be external, posting elsewhere so this gets visibility.

[2021-08-19 18:38] thesahindia commented on #4507
Thanks @arielgreen, I have accepted the offer!

[2021-08-19 18:38] sumitagarwal31 commented on #4518
Hi Team , I saw the issue no 4518 on upwork and i can fix the issue as I saw in the file there it is hardcoded edited written and I am willing to be part of the team as I have check expensify and this project excites , the way you all are managing and excites the project. Attaching the screenshot below.

And i can use the localisation and use it for multiple languages by key value.

![130122693-40

[2021-08-19 18:41] sumitagarwal31 commented on #4518
Hi Team , I saw the issue no 4518 on upwork and i can fix the issue as I saw in the file there it is hardcoded edited written and I am willing to be part of the team as I have check expensify and this project excites , the way you all are managing and excites the project. Attaching the screenshot below.

reading the above threads I understand and can use the localisation and use it for multiple la

[2021-08-19 18:42] sumitagarwal31 commented on #4518
Hi Team , I saw the issue no 4518 on upwork and i can fix the issue as I saw in the file there it is hardcoded edited written and I am willing to be part of the team as I have check expensify and this project excites , the way you all are managing and excites the project. Attaching the screenshot below.

Reading the above threads I understand and can use the localisation and use it for multiple la

[2021-08-19 18:43] thesahindia commented on #4498
Hi @JmillsExpensify , any updates for this on Upwork? Thanks.

[2021-08-19 18:43] parasharrajat opened #4759 "[Hold for payment 2021-09-07] Copy and pasting text into a chat gives you html decoded strings"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open newDot on the web.
2. Copy some text that contains whitespaces from the Mac's Note.app or any other application.
3. Paste that into the comp

[2021-08-19 18:47] Julesssss commented on #4211
Yeah, that's the suggestion here. We are only facing this issue because we are trying to force a NavigationDrawer to behave like a Page for our convenience. I believe this is also the reason why the component does not support [App close behaviour](https://github.com/Expensify/App/issues/4211#issuecomment-901026892) -- it is not supposed to handle app close, because that should always be the respon

[2021-08-19 18:52] parasharrajat commented on #4759
Explanation.
 * A lot of apps use HTML entities instead of ASCII characters which when pasted to composer are not decoded.

Proposal
1. There is a good library that does this for us https://www.npmjs.com/package/html-entities.
2. But this contains a lot of code which we don't really need.
3. So my idea is to extract the List of chars from https://github.com/mdevils/html-entities/blob/master/src/na

[2021-08-19 18:53] mallenexpensify commented on #4759
@parasharrajat already fixed some examples in this GH https://github.com/Expensify/App/issues/4169
Let's make sure we address any/all relevant ones so we don't end up with a ton of small issues/fixes (which eat away at valuable resources)

[2021-08-19 19:03] mountiny commented on #4756
The only PR which might be related to this and could introduced it is https://github.com/Expensify/App/pull/4538 @marcaaron but I am not completely sure. What do you think? I can't really dig into this one right now. I would in the morning if noone identifies what is causing it 🙇 Thank you in any case for having a look.

[2021-08-19 19:06] thienlnam commented on #4210
Reviews still in process - delay with internal focus right now

[2021-08-19 19:55] timszot commented on #4273
No update, commenting for melvin.

[2021-08-19 20:13] parasharrajat commented on #3952
OK I have found the cause of this issue
https://github.com/Expensify/App/blob/e5957e1ffff7e111a459b05643bac18ffab20619/src/components/IOUConfirmationList.js#L335.

I can't even see the user
![Screenshot 2021-08-20 01:35:43](https://user-images.githubusercontent.com/24370807/130136644-63727e7c-f55c-494c-b013-24adc2c672d5.png)

This MaxHeight crops the top list.

No worries, I have found the solutio

[2021-08-19 20:24] parasharrajat commented on #4716
Let me guys, if you want me to fix this. The solution is ready.

[2021-08-19 21:02] marcaaron commented on #4211
Thanks for the thoughts @Julesssss! It might be worth creating a separate issue to discuss all this and we can loop some more folks in. It _sounds like_ even if we fix this back button behavior there will remain an issue that the UX is still not ideal. And in that case, I would definitely encourage you to do the research and build a case for it if you feel strongly about it.

Might need to do some

[2021-08-19 21:31] lmf-git commented on #4597
It doesn't matter how much you have paid if you start advertising to dozens of people pointing them at an issue and having them race each other for the solution. You're wasting people's time.

I don't need to report you, will just block you account so I can focus on generating a livable income rather than wasting my time with parasites like this organisation.

Good luck with your committee project

[2021-08-19 21:48] Maftalion commented on #4211
Yeah, if I remember correctly the biggest issue was getting the desired UI/UX across all platforms (mobile, web, etc) which led to the drawer implementation.

As you mentioned @Julesssss a lot of the issues stem from trying to use the drawer as a screen instead of a drawer but at the same time want some functionality of the drawer (as Marc mentioned above with the gesture swiping).

Has there been

[2021-08-19 21:50] parasharrajat commented on #4361
Thanks for updating the issue. Waiting for the triage to complete.

### Proposal
1. We check whether the data exists for the user https://github.com/Expensify/App/blob/e5957e1ffff7e111a459b05643bac18ffab20619/src/pages/DetailsPage.js#L63.
2. If the detail is not present then we redirect the user back to the Report route which will be set to the default Report of the user.
3. We also a show a Growl

[2021-08-19 21:50] deetergp commented on #4415
After talking it over with others, we've decided that the way the validation works currently, validating after pressing Continue, is the desired functionality. This is no longer a priority.

[2021-08-19 21:50] #4415 closed

[2021-08-19 22:35] mallenexpensify commented on #2934
Hired @rdjuric in Upwork!

[2021-08-19 22:42] deetergp commented on #4486
Ultimately, it's @AndrewGable's call, but I'm all for moving forward with the proposal that includes individual accounts.

[2021-08-19 22:43] mallenexpensify commented on #4678
@shawnborton @michelle-thompson will let you @michaelhaxhiu know when he should review it for triage? Also.. huge, double plus, bonus points if you can update the OP with the deliverables for the contributors.

[2021-08-19 22:46] luacmartins commented on #4756
It seems that with https://github.com/Expensify/App/pull/4538 `ReportActionCompose` no longer mounts and the input ref is lost in the update.

[2021-08-19 22:49] marcaaron commented on #4756
Why is the input not mounting? Which ref are you referring to?

[2021-08-19 22:53] AndrewGable commented on #4486
Agreed! @MitchExpensify can you configure this via Upwork? Thanks.

[2021-08-19 22:55] luacmartins commented on #4756
When the chat is switch using the search bar `didComponentMount` is not triggered for `ReportActionCompose` and [this inputRef](https://github.com/Expensify/App/blob/e5957e1ffff7e111a459b05643bac18ffab20619/src/pages/home/report/ReportActionCompose.js#L551) does not seem to update.

[2021-08-19 23:00] kidroca commented on #4549
Submitted the PR
It should allow us to see any improvements from the suggested changes on the Flipper timeline

[2021-08-19 23:01] marcaaron commented on #4756
The `ReportActionCompose` component should be mounting only once now. Is there some reason it needs to be unmounted and remounted? I'm not seeing it yet...

[2021-08-19 23:01] mallenexpensify commented on #4597
Thanks for the feedback @lmf-git , I've (actually) shared it with our team. We're still relatively new to working with Upwork and freelancers and strive to be fair.  There is a time-sensitiveness to the issues we post, both for us wanting to get them fixed promptly as well as for us to get proposals submitted quickly.   We're looking for, what we think, are the best solutions so the first person t

[2021-08-19 23:11] marklouisdeshaun commented on #4362
Payment issued, the contract has been completed, and the Upwork post has been closed.

[2021-08-19 23:11] #4362 closed

[2021-08-19 23:12] marklouisdeshaun commented on #4110
Not overdue, still discussing.

[2021-08-19 23:17] chiragsalian commented on #4544
Hey there, Yeah the proposal by @mananjadhav looks good to me.
@sonialiap feel free to hire @mananjadhav for his work in upwork.
@mananjadhav feel free to put out a PR.

[2021-08-19 23:17] luacmartins commented on #4756
I agree that it should be mounted only once and we should keep it that way. What seems to be causing this issue is that `this.setInputRef` is not providing the correct ref to `TextInputFocusable`.  Both `this.props.comment` and `defaultValue` are correct when switching chats with the Search Page, so I'm not sure why the value is not updated.

[2021-08-19 23:22] thesahindia commented on #4507
@tgolen
I have one last query about the use of **currentURL** inside `src/libs/actions/SignInRedirect.js
`.
We are using this at only place which is here.
https://github.com/Expensify/App/blob/e5957e1ffff7e111a459b05643bac18ffab20619/src/libs/actions/SignInRedirect.js#L41-L43

And then there's no use case of it.
However, on the login screen the **currentURL** will not be set to any value and will

[2021-08-19 23:34] aldo-expensify commented on #4748
The current implementation puts an error message on a single field (first or last it finds?, not sure), even if all of them have errors. If I fixed the error with the password, another field would get the error message. Maybe we should try to show all error messages at once?

Related GH issues:

https://github.com/Expensify/Expensify/issues/171620
https://github.com/Expensify/App/issues/4730

[2021-08-19 23:59] roryabraham commented on #3901
Thanks for your analysis @MTN718. I _think_ what you've done so far make sense, but it's very hard to tell from your screenshots because the image you've chosen has a white background. Can you please post a screenshot with a dark background so it's easy to see that the whitespace issue is eliminated? Thanks!

[2021-08-20 00:09] SofiedeVreese commented on #4659
@timszot would love your 2c on the above, thanks!

[2021-08-20 00:44] mallenexpensify commented on #4417
ping Melvin and @johnmlee101, when ya have time

[2021-08-20 00:57] mallenexpensify commented on #4496
Coming back to this... I'm unsure if it's worth fixing, at least from a stand-alone action.  In order to change the currency you already have to navigate using a mouse/trackpad/ointer, so it's not 'unexpected' that you'd also have to use the mouse to also confirm the selection.  Also, changing currencies is likely going to happen frequently.

I'm a HUGE fan of keyboard shortcuts.  A month or two b

[2021-08-20 01:03] mallenexpensify commented on #4420
@aman-atg would the fix here be, when someone enters a 0, then a `.` or `,` is immediately added after?
It seems like the issue only happens when someone is requesting less than a dollar, or one amount of the currency.  I wonder how often that will happen.   Do you know of currencies where it's common to have less than one currency unit for many transactions? Or... maybe more specifically, a curre

[2021-08-20 01:08] mallenexpensify commented on #4407
Taking off hold. This is a tiny improvement but it'll be more clean without the `(edited)` blurb, unless we happen to _need_ that for some reason.  @NikkiWines can you take a peek then add the `External` label if you think this should be fixed and can be worked on by a contributor?  Thx

[2021-08-20 01:12] mallenexpensify commented on #4267
Taking off hold.
Agree with @flaviadefaria `Seems less of a priority, but makes sense to fix this.` (if we can)
@francoisl what do you think?

[2021-08-20 01:15] mallenexpensify commented on #2934
Paid in Upwork!

[2021-08-20 01:16] mallenexpensify commented on #4234
hahah, hit production right after my post above, closing

[2021-08-20 01:16] #4234 closed

[2021-08-20 01:38] roryabraham commented on #4629
No new proposals here

[2021-08-20 01:41] #4212 closed

[2021-08-20 01:56] roryabraham commented on #4495
Sorry for the delay here. @mananjadhav your proposal looks good to me, and since you were first + created the issue, we'll give you the first chance to work on this. Please let us know if you no longer have the availability and we can let @kolecreates work on it instead.

[2021-08-20 01:57] roryabraham commented on #4379
Sorry, no update again.

[2021-08-20 02:09] #3626 closed

[2021-08-20 02:23] MitchExpensify commented on #4748
You shouldn't be able to continue with any empty fields.

I think it makes sense to highlight all fields that are in error.

[2021-08-20 02:54] mananjadhav commented on #4495
@roryabraham I am available and I would need some help in variations of the messages and its relevant spanish translations.

[2021-08-20 02:59] akshayasalvi commented on #4518
Thanks for the invite @adelekennedy I've applied on Upwork too.

[2021-08-20 03:40] roryabraham commented on #4487
Very sorry for the delay here. @mananjadhav your original proposal looks good 👍

[2021-08-20 03:44] mananjadhav commented on #4487
Okay @roryabraham I'll take a note of that. I'll check if the image is replaced or the title is changed and accordingly enabled/disable the save button.

[2021-08-20 03:46] jliexpensify commented on #4628
@roryabraham and @Beamanator - apologies, I'm just a little confused: should I be paying @kakajann for this job? The previous comments indicate not, correct?

[2021-08-20 03:47] jliexpensify commented on #4495
@roryabraham happy for me to hire @mananjadhav ?

[2021-08-20 04:20] Christinadobrzyn commented on #4413
I see the PR related to this issue is [here](https://github.com/Expensify/App/pull/4504). Still being reviewed.

[2021-08-20 04:21] JmillsExpensify commented on #3922
Still going to take a bit before this gets merged @stitesExpensify indicated above.

[2021-08-20 04:22] Christinadobrzyn commented on #4411
The PR for this issue is [here](https://github.com/Expensify/App/pull/4648).

[2021-08-20 04:26] JmillsExpensify commented on #4498
Thanks! I've put things in motion in Upwork now.

[2021-08-20 04:35] roryabraham commented on #4495
@jliexpensify Yep, go ahead!

@mananjadhav Please compile a complete list of phrases you need translations and we can get back to you. You can also post in the #expensify-open-source slack channel to get quicker responses on the translations.

[2021-08-20 04:39] jliexpensify commented on #4495
Thanks Rory, hired @mananjadhav !

[2021-08-20 04:44] roryabraham commented on #4628
Okay, so reviewing what happened here:

1. @kakajann submitted PR: https://github.com/Expensify/App/pull/3414, which caused a regression.
1. @kakajann quickly volunteered to fix the regression.
1. I failed to notice that the regression was caused by https://github.com/Expensify/App/pull/3414, and agreed to create a new Upwork job and hire @kakajann to fix the regression. This was a mistake on my p

[2021-08-20 05:24] JmillsExpensify commented on #4505
Checking in on the latest here. Are we still good with this solution?

[2021-08-20 05:24] francoisl commented on #4267
Yep I agree too, it's not broken to the point of preventing you from using the app, but it makes sense to fix.

[2021-08-20 05:33] JmillsExpensify commented on #4718
Sounds great! Upwork job is here: https://www.upwork.com/jobs/~01e0bdbb422755f671. Make sure to repeat your proposal here and it can be reviewed by the team.

[2021-08-20 05:35] JmillsExpensify commented on #4744
Sounds great! I've created an upwork job here: https://www.upwork.com/jobs/~013d78575b95e8dfdf. Your proposal will be reviewed by our team shortly.

[2021-08-20 05:38] Santhosh-Sellavel commented on #4718
@JmillsExpensify I'm working on it

[2021-08-20 06:19] MTN718 commented on #3901
### Added Videos for different size of images

https://user-images.githubusercontent.com/12084368/130188766-81c7b742-b919-4edc-affd-7009122a4382.mov

https://user-images.githubusercontent.com/12084368/130188829-abdeb72d-ce66-4f9f-bcb1-848acf5beaec.mov

https://user-images.githubusercontent.com/12084368/130188885-be29711d-e0b9-4273-9e98-8be6d2301896.mov

[2021-08-20 06:22] kakajann commented on #4628
I don't mind to end the contract from upwork. I wasn't aware this issue is my regression.

[2021-08-20 06:31] jliexpensify commented on #4628
Thanks for your understanding and for accepting this outcome @kakajann . Contract has been cancelled in Upwork.

Hope to work with you again soon!

[2021-08-20 07:08] roryabraham commented on #3901
@MTN718 Looks great! Thanks for submitting those extra videos. @NicMendonca please hire @MTN718 for this issue on Upwork, and @MTN718 feel free to submit a pull request with the code changes as soon as you've been hired on Upwork.

[2021-08-20 07:16] roryabraham commented on #4669
This should not have gotten the `Overdue` label right as I applied the `External` label. Thats not right

[2021-08-20 07:23] MTN718 commented on #3901
My Upwork account name is Shane Watson from South Africa

[2021-08-20 08:16] Beamanator commented on #4163
Merged today 👍 (Sorry for the delay, @Santhosh-Sellavel )

[2021-08-20 08:18] shawnborton commented on #4660
I think we can just remove the logic that adds the green color to the text. I think it's okay if we don't have some kind of message/checkmark if the password is correct.

[2021-08-20 08:19] Beamanator commented on #2934
Great! Looks like it's time to close this out :D

[2021-08-20 08:19] #2934 closed

[2021-08-20 08:37] shawnborton commented on #4678
Cool, I updated the original comment with the new screenshots, I think this is ready for @michaelhaxhiu

[2021-08-20 08:53] anthony-hull commented on #4738
Proposal:
remove
[code]
from `LoginForm.js`
and enterYourPhoneOrEmail from the translations

[2021-08-20 09:05] Julesssss commented on #3737
Internal issue is on hold.

[2021-08-20 09:35] aman-atg commented on #4420
The issue is adding `unlimited leading zeros` with or without a `.`

* The fix for this issue is to not let the user add a value starting wtih `0` and
* the only exception is when the user wants less than a dollar/any currency which can be done by adding a `.` after the `0`.   **( eg. 0.23 , 0.98 )** ( I don't think we should add the `.` automatically, it should be the user's decision)

[2021-08-20 09:42] Julesssss commented on #4749
Hi @akshayasalvi, thanks for raising the issue and suggesting a proposal.

By coincidence, we have just merged the fix you mentioned to [solve another issue](https://github.com/Expensify/App/issues/4325). I'm going to close this as a duplicate.

[2021-08-20 09:42] #4749 closed

[2021-08-20 09:44] laurenreidexpensify commented on #4759
I'm OOO next week so reassigning this - looks like @mallenexpensify might have a steer on whether we need to move this one to `engineering`

[2021-08-20 09:45] laurenreidexpensify commented on #4673
QA still on going - I am OOO for payment, so reassigning. When it's deployed pls start clock for payment (which I think is now automated anyways).

[2021-08-20 09:47] Julesssss commented on #4518
Thanks for all the proposals!

@akshayasalvi you were the first to suggest a full solution, please go ahead and submit a PR.

Yes, you should still be paid for raising the issue if that occurs.

[2021-08-20 09:47] laurenreidexpensify commented on #4669
@dylanexpensify I'm OOO next week and swamped with allocation reviews today so reassigning to get this added to Upwork thanks!

[2021-08-20 09:49] laurenreidexpensify commented on #3897
@kevinksullivan thanks am OOO next week so reassigning for you to watch over for merge + deploy so we can get paid

[2021-08-20 09:53] aman-atg commented on #4417
cc: @johnmlee101

In addition to the [above proposal](https://github.com/Expensify/App/issues/4417#issuecomment-893312415).

Do we want to follow current procedure, i.e., not waiting for the API completion and calling the `Growl` or should I change it like mentioned [here](https://github.com/Expensify/App/issues/4417#issuecomment-896565437) .

Also, @Anass-ABEA pointed out that we might be showing

[2021-08-20 09:55] laurenreidexpensify commented on #3855
@puneetlath I'm OOO next week - reassigning for someone else from contributor managers to watch over, looks like that's you