[2021-04-21 09:21] miljakljajic commented on #2490
Thanks so much @jasperhuangg!

[2021-04-21 10:02] Julesssss commented on #2402
Thanks for letting us know @tugbadogan, we'll add add a small bonus to the Preview issue payout.

[2021-04-21 10:02] #2402 closed

[2021-04-21 11:29] barun1997 commented on #1988
Hi, I looked at this issue today, but still can't seem to wrap my head around it to find a proper solution. The problem is that I fixed the original solution by restricting it to flexGrow0 so it doesn't take the remaining space. But if I do let it grow using flexGrow1, it takes all the available space.
<img width="372" alt="Screenshot 2021-04-21 at 17 11 41" src="https://user-images.githubusercont

[2021-04-21 12:45] kidroca commented on #2326
At the time I didn't know a lot about your workflow and that I should present hard evidence of a problem

Looking at the implementation and usages throughout the code I just know it isn't optimal and provide explanation on that.
It's not just memory, everything is executed (n) times as well - `addEventListener`, `onDimensionChange` these will be called simultaneously for all the `withWindowDimensi

[2021-04-21 14:06] puneetlath commented on #2335
I noticed that the emoji picker doesn't have animations. Would be good to add it.

[2021-04-21 14:29] parasharrajat commented on #2335
Sure @puneetlath I will pull the latest code in and add animation there.

[2021-04-21 15:26] TomatoToaster commented on #2452
Dang this is an annoying bug. I'd actually like to work on fixing this one so I can get more experience with e.cash.

@sophiepintoraetz, I still think weekly makes sense for this one. I couldn't find anything in the S/O about this type of issue being a daily, but I might have just missed something. Was there something in particular that let you know this should be a daily?

[2021-04-21 15:33] isagoico commented on #1039
Reopening this to add a new scenario that's not working

## ESC doesn't close the new chat/new group modal

## Expected result
Pressing the escape button should close the modal

## Actual result
Escape button does nothing

## Action Performed
1. Open chat app
2. Click on the + button
3. Press escape button

## Platform
Issue is confirmed on:

Desktop ✔️

**Build** 1.0.22-1

**Notes/Images/Video**

[2021-04-21 16:08] kidroca commented on #2326
I've played around trying to gather enough information to prove this.
I couldn't track conclusive results from memory usage - 100 class instances would be about 64kb, that might seem small but the total component instances in the app are around 120kb of memory

I did manage to find Performance issue when `onDimensionChange` is triggered

### `onDimensionChange` current performance

##### Here's a

[2021-04-21 16:11] Julesssss commented on #1988
I don't have any specific suggestions, but it might be worth sharing the problem in the `expensify-open-source` channel to get more eyes on the problem.

[2021-04-21 16:20] johnmlee101 commented on #2160
I'm not entirely sure how to test the auto-update flow. @roryabraham mind if I tag you in to answer this part specifically?

Also not sure if this is still a continued issue or if this was inadvertently fixed.

[2021-04-21 16:30] eVoloshchak commented on #2408
Judging by the source code it is visible to user on the screen, but I will have to double check when I actually launch the application.

(https://github.com/Expensify/Expensify.cash/blob/master/CONTRIBUTING.md) in case you haven't read it yet!

Starting to work on the PR, thank you for the guidelines

Got it

[2021-04-21 16:33] parasharrajat commented on #2160
So @johnmlee101 Check the desktop/READ.md file. it has more context on testing auto-update. But you need to have a  paid developer account to sign the build.

I am sure this issue is fixed but foremost this should not have happened in the first place. Version Info is not present in a rare case which could be a side effect of some configuration change across builds. Anyways we can bypass the versio

[2021-04-21 16:41] roryabraham commented on #2160
Let's see if there are any other reports of this happening? I personally have never seen this happen, and I wonder if in the future this type of error might be avoided by implementing an Onyx migration when the app data changes?

[2021-04-21 17:14] thierrysantos commented on #2491
@NicMendonca

I spend a time debugging here and I found that in android we are not using the correct values.

When text must be italic, it is changed to `normal`.
When text must be 700 (bold), it is changed `600` (semibold).

That is why it is not showing correctly, you could see it below.

https://github.com/Expensify/Expensify.cash/blob/9efcc63e4eb9dd27fac35d7bfc92b3400554be0c/src/styles/fontWei

[2021-04-21 17:19] marcaaron commented on #2326
I understand completely - I can keep looking into this and assign the issue to you if we decide to move forward on it. From our end, it's also hard to justify solving problems when we can't easily evaluate if they are worth fixing.

Thanks for the profiles as well. Since they are measuring the impact of a screen adjustment they seem to prove that resizing a window would happen faster if we adopted

[2021-04-21 17:22] parasharrajat commented on #2491
@thierrysantos LOL. This issue literally killed me. I graved out the `react-native-render-html`'s code. What a absolutely waste of time.
Why `italic = normal`?????

Nice found. Great work.  :tada:

[2021-04-21 17:23] marcaaron commented on #2491
In the screenshots the type is no longer monospaced ?

[2021-04-21 17:24] thierrysantos commented on #2491
@marcaaron yeah, when using bold or italic the text isn't monospaced

[2021-04-21 17:25] parasharrajat commented on #2491
So we should load a monospaced italic font for fontstyle italic.

[2021-04-21 17:26] marcaaron commented on #2491
I think we want them to be the same on all platforms cc @shawnborton have you got the right font to use on hand ?

[2021-04-21 17:26] parasharrajat commented on #2491
GTAmericaExpMono-Rg.otf should have the italic and bold variant.

[2021-04-21 17:29] thierrysantos commented on #2491
Yes, if I didn't find that, looking at the react-native-render-html code would be the next step 😂

[2021-04-21 17:32] thierrysantos commented on #2491
I try with that and have the same result 🤔

[2021-04-21 17:34] parasharrajat commented on #2491
I mean it should have the italic and bold-variant on the internet which we can use something line GTAmericaExpMono-Italic.otf.

[2021-04-21 17:36] thierrysantos commented on #2491
Yeah, I found some variants here https://www.grillitype.com/typeface/gt-america

[2021-04-21 17:39] parasharrajat commented on #2491
@shawnborton would be a good person to get the assets.

[2021-04-21 17:43] kidroca commented on #2326
Yes but not exactly. It's not that resizing happens slow but reacting to resizes would cost a lot of computing which would affect other stuff happening during that time. Since this is something that would not happen often I can see it not being a priority, but have in mind the mobile web case where when you focus the compose field the keyboard will open and the chat would start re-adjusting while

[2021-04-21 17:44] thierrysantos commented on #2491
nice, I'm waiting to the next steps 🤘🏽

[2021-04-21 17:55] aliabbasmalik8 commented on #2491
Hi @thierrysantos
this solution did not work on IOS for me. let me know if it's working for you. Thanks
https://github.com/Expensify/Expensify.cash/issues/2491#issuecomment-824224404

[2021-04-21 17:56] Luke9389 commented on #2335
Hey hey @parasharrajat. I've reviewed your proposal above and I'm giving you the green 🟢 light to start working on your PR.

[2021-04-21 17:59] marcaaron commented on #2326
To clarify, opening the software keyboard will trigger a `Dimensions` `'change'` event?  On iOS simulator + debugging in Safari this doesn't happen for me. But maybe you're testing some other case that I haven't.

[2021-04-21 18:26] marcaaron commented on #2335
Discussing with @Luke9389 now but @parasharrajat not really sure what the `InteractionManager` will resolve in this case as the issue is affecting `web` and it doesn't work properly there:

![Screen Shot 2021-04-21 at 8 19 21 AM](https://user-images.githubusercontent.com/32969087/115602152-50c91f80-a27a-11eb-8905-097d637e04c6.png)

https://reactnative.dev/docs/interactionmanager

What problem are

[2021-04-21 18:26] #2028 closed

[2021-04-21 18:30] Luke9389 commented on #2335
Yeesh, yea I totally missed that. Thanks for swooping in here Marc 🙇

[2021-04-21 18:38] marcaaron commented on #2335
Ok, but if `InteractionManager` has been reported in the docs to not work properly on web why does it improve anything?
Is it any better than just doing a `setTimeout()`?

Maybe there's some other root cause e.g. we are focusing before some long running JS is done?

[2021-04-21 18:43] kidroca commented on #2326
Sorry I thought it did on iOS too. It turns out it's only on Android.

[2021-04-21 18:46] parasharrajat commented on #2335
Yup, I will look for an alternative to that. Maybe we can use https://reactnavigation.org/docs/stack-navigator/#events Events to determine the start and end of the animation and set the focus.

[2021-04-21 18:50] Luke9389 commented on #2491
Hello @thierrysantos! I'll be reviewing your proposal on this issue. The description of the issue does include both Android and iOS, and I see that you've cracked part of the problem on Android. Can you account for why this is happening on iOS, and what you'd change to fix it?

[2021-04-21 18:59] Luke9389 commented on #2491
@aliabbasmalik8 I'll also review your proposal. Can you be more specific about the exact file you'll be changing? Also I'm not sure that this addresses the root cause of the issue. It should not be necessary to apply styles in this case, considering that the following HTML all works fine. (you can try it here: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_intro)
[code]

[2021-04-21 19:07] michaelhaxhiu opened #2517 "Call Options menu doesn't dynamically scale/position when the window size is changed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

**Upwork job link** - https://www.upwork.com/jobs/~01ba0dff1eec1e5790
___

## Expected Result:
When you resize the Expensify Cash window, the Call Options menu should dynami

[2021-04-21 19:14] aliabbasmalik8 commented on #2491
@Luke9389
these changes made in these files. `RenderHTML.js` && `src/styles/styles.js` and classesStyles  added in `webViewStyles` style object
https://github.com/Expensify/Expensify.cash/issues/2491#issuecomment-823728497

[2021-04-21 19:21] Luke9389 commented on #2491
@aliabbasmalik8
Ok but that really just addresses my surface level concern about the level of detail in the proposal. I'm still not convinced that it's a good idea to add styles in this case. It seems like we're fixing this downstream of the actual problem.

[2021-04-21 19:29] aliabbasmalik8 commented on #2491
@Luke9389
`<strong>`, `<code>`, `<em>` etc,  these tags achieved in react native by adding styling in the `<Text>` component like you can see in the code. so when we have code like this `<strong><code>` then inner tag style applying so I updated inner tag styling.
![image](https://user-images.githubusercontent.com/31027036/115609799-ff3e8600-a2b5-11eb-97ec-05c1cd71c9ac.png)

[2021-04-21 19:30] michaelhaxhiu commented on #2517
Posted to Upwork today.

[2021-04-21 19:33] Luke9389 commented on #2491
@aliabbasmalik8
Ah I see. So you're saying that the fontFamily style is being over written because we are applying it in two places (e.g. `code` and `em`)?

[2021-04-21 19:36] aliabbasmalik8 commented on #2491
yes

[2021-04-21 19:55] Luke9389 commented on #2491
@aliabbasmalik8
Ah, ok gotcha. Thanks for helping me understand here.
Have you tested this on Android? I don't think it'll work because Android doesn't like `fontStyle: italic `.
Here is a link to the original change that @thierrysantos found above: https://github.com/Expensify/Expensify.cash/pull/549#discussion_r498356202

Seems like the fontStyle will need to remain platform dependent, but your

[2021-04-21 20:03] thierrysantos commented on #2491
I'm thinking here and probably the problem is related to font variant.

![Screen Shot 2021-04-21 at 16 56 29](https://user-images.githubusercontent.com/14885967/115613249-8c87d780-a2c2-11eb-8197-c5619475798f.png) -> Without font monospace

When we are using monospace(`regular`), when the text is rendered as bold it doesn't occurs.

![Screen Shot 2021-04-21 at 16 55 08](https://user-images.githubus

[2021-04-21 20:04] aliabbasmalik8 commented on #2491
@Luke9389
for android, we already have a separate file as you can see `italic/index.android.js `
[code]
but I think we also need to add `fontFamily.MONOSPACE` `Italic` and `bold` version. right now I test with these styling and fonts family
[code]

[2021-04-21 20:06] thierrysantos commented on #2491
Also we could see here some issues related to styling https://github.com/Expensify/Expensify.cash/issues/2491#issuecomment-824322482

[2021-04-21 20:21] bfitzexpensify opened #2520 "mWeb (iOS 12) - 1.0.2-54 - Chat - Blank screen is displayed after login"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:

User is taken to chat screen after logging in.

## Actual Result:

Blank screen is displayed

## Action Performed:

1. Open Expensify Cash on iOS 12

[2021-04-21 20:41] shawnborton commented on #2491
Just to make sure I understand this correctly, it sounds like we need our monospaced font in regular italic, bold, and bold italic. Does that sound right? We can provide the font files to implement these natively, and I think we'll also have to make sure these fonts are added to our Expensify.com web application so we can serve them up for desktop/web.

[2021-04-21 20:42] Luke9389 commented on #2491
@shawnborton Yes I think that's correct.

@aliabbasmalik8 I'm liking the direction you're heading, but you'll need to _verify_ that your proposed solution works for iOS AND Android (with screenshots). If you can do that, please resubmit a proposal with those included, and a summary of exactly what you're going to change, links to those files, and any resources you'll need (like a new font for exam

[2021-04-21 20:59] thierrysantos commented on #2491
Sorry, if I'm not being clear enough, but what I'm suggesting here (https://github.com/Expensify/Expensify.cash/issues/2491#issuecomment-824322482 and https://github.com/Expensify/ Expensify .cash / issues / 2491 # issuecomment-824237403) is to have other variants for monospace font, such as bold and italics @Luke9389

[2021-04-21 20:59] isagoico opened #2521 "Win / Chrome - Emoji flags are not displayed, only country codes"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
USA flag sent from mweb Safari shows the same as in Web/Chrome

## Actual Result:
USA flag sent from mweb Safari shows as "US" in Web/Chrome

## Acti

[2021-04-21 21:41] deetergp commented on #2180
Any word on your findings, @tugbadogan?

[2021-04-21 22:14] shawnborton commented on #2491
Here are the font files we need for native implementation: [GTAMono.zip](https://github.com/Expensify/Expensify.cash/files/6354227/GTAMono.zip)

As I mentioned, we'll need to implement these on Web-E as well as I am pretty sure desktop/web on Expensfiy.cash just grabs font URLs from the www.expensify.com web app. @Luke9389 is that something you would like to take care of? I can help you implement

[2021-04-21 22:15] aliabbasmalik8 commented on #2491
@Luke9389
we need to add GTAmericaExpMono font in regular italic, bold, and bold italic.
and need to delete `fontWeight/bold/index.android.js` && `fontWeight/italic/index.android.js`

NOTE:

1. I tested with `OpenSans` free fonts instead `GTAmericaExpMono` fonts and it worked for me.
2. below images are used `OpenSans` free fonts instead `GTAmericaExpMono`  fonts for testing purpose

IOS
<img widt

[2021-04-21 22:24] aliabbasmalik8 commented on #2491
@Luke9389
screenshots with provided fonts
IOS

![image](https://user-images.githubusercontent.com/31027036/115628284-6d8f4280-a2ce-11eb-807c-0a81297bde0a.png)

Android

![image](https://user-images.githubusercontent.com/31027036/115628596-d971ab00-a2ce-11eb-8f57-cccfa31409fd.png)

[2021-04-21 22:26] shawnborton commented on #2491
@aliabbasmalik8 for your testing, can you be sure to use words with a lowercase "g" in them? That makes it easy to tell if the correct font is being applied.

For Android in your screenshot above, the fonts look like they are incorrect.

[2021-04-21 22:27] aliabbasmalik8 commented on #2491
Okay,

[2021-04-21 22:31] SofiedeVreese commented on #2371
PR is merged. Payment due on 28 April assuming no regressions.

[2021-04-21 22:49] aliabbasmalik8 commented on #2491
@shawnborton  You are right. fonts did not add in android. I have no idea why it's happened but i linked all assets in app by running `npx react-native link`.

[2021-04-22 00:22] marcaaron commented on #2432
Just linking back this conversation here:

https://expensify.slack.com/archives/C01GTK53T8Q/p1619048027494500

Seems like we've got the online behavior incorrect here as there was some feedback that if we are online we should always assume the messages will succeed and not grey them out.

[2021-04-22 00:40] marcaaron commented on #2451
Nice catch @parasharrajat. Guessing we are just not clearing the queue out once the queue is allowed to run here?

I think we were mainly focused on the case of:

1. Go offline
2. Leave a comment
3. Refresh page
4. Go online
5. Comment is sent

[2021-04-22 00:42] parasharrajat commented on #2451
@marcaaron Yes. message queue should be cleared when the queued messages are processed after user comes back online.

But one important point to take is that we should only process the queue when the client is leader.

I have tested it. Proposal is ready.

[2021-04-22 01:00] marcaaron commented on #2451
Ok, I think we can skip most of triage then and get this fast tracked.

[2021-04-22 01:06] marcaaron commented on #2278
Assigning myself to this because I fixed it in another PR and I've run into it quite a few times on dev in the past few days.

[2021-04-22 01:18] parasharrajat commented on #2278
LInking other https://github.com/Expensify/Expensify.cash/issues/2520 https://github.com/Expensify/Expensify.cash/issues/2497. sounds similar.

[2021-04-22 01:30] marcaaron commented on #2278
Sorry, I don't think they are

[2021-04-22 01:46] tugbadogan commented on #2180
Yes, I have a proposal for this issue now.

Since this problem is caused by Dimensions native class is calling 'change' callback too many times with wrong dimensions, we can use `debounce` to slow down listening these changes, so we can avoid breaking call sites by triggering too many window dimension updates.

<img width="746" alt="Screenshot 2021-04-22 at 02 25 51" src="https://user-images.githu

[2021-04-22 01:48] marcaaron commented on #2127
Sorry, gonna grab this one as I casually solved it while looking into something else.

[2021-04-22 01:51] marcaaron commented on #2218
Pretty sure this has been resolved. Feel free to reopen if that's incorrect!

[2021-04-22 01:51] #2218 closed

[2021-04-22 01:55] sophiepintoraetz commented on #2452
@TomatoToaster - I might have been conflating practises here but my understanding is that Daily is assigned so that the triager looks at it, then may determine another timeframe?
![image](https://user-images.githubusercontent.com/42940078/115644271-6883cf00-a372-11eb-9469-7054125ee9af.png)

[2021-04-22 01:58] isagoico commented on #2380
**Regression** is finished!
1 issue found today.
1. https://github.com/Expensify/Expensify.cash/issues/2521

**PRs** are finished too.
1 comment added:
1. https://github.com/Expensify/Expensify.cash/pull/2307#issuecomment-824347903 - this deploy blocker was not added to the deploy blocker checklist.

Thanks!

[2021-04-22 02:20] marcaaron commented on #2180
Thanks, but maybe there's more to it? I applied this and was able to break it quickly by just changing the orientation a few times.

[2021-04-22 03:27] barun1997 commented on #1988
@Julesssss  Thank you! I have shared it in the Slack Group.

[2021-04-22 05:04] jasperhuangg commented on #2521
Looks like this could be an incompatibility issue between Apple and Windows emojis, and not actually a bug with our implementation. @isagoico Was your screenshot taken from Chrome on a PC?

[2021-04-22 05:06] jasperhuangg commented on #2500
I can't seem to reproduce this issue on my end.

<img width="786" alt="Screen Shot 2021-04-22 at 1 06 02 PM" src="https://user-images.githubusercontent.com/31285285/115658516-7eda5c80-a36b-11eb-9367-09edd4895704.png">

[2021-04-22 05:09] jasperhuangg commented on #2450
I can take a look at this!

[2021-04-22 05:30] JmillsExpensify opened #2530 "Improve UX when pasting images and there is an error"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Text/image gets pasted

## Actual Result:
Alert pops up which is bad UX

## Action Performed:
When copy/pasting something from Slack into E.cash, the

[2021-04-22 05:34] Maftalion commented on #2107
**Proposal**
This issue seems to be the result of the custom `cardStyleInterpolator`/`cardStyle` defined on the Auth stack.
- Updating the style to only apply to large screens (I believe that's what it's intended purpose is for) would fix this issue:
[code]
**Video**

https://user-images.githubusercontent.com/12075600/115660962-9a088600-a2f1-11eb-987c-b0a3fc827866.mov

Another option is setting th

[2021-04-22 07:43] kidroca opened #2531 "[Android] Opening camera/gallery does not work on Android 11"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Image picking should work on any native platform

## Actual Result:
Launching the camera or opening the gallery does not work on Android 11 devices

[2021-04-22 08:11] kidroca commented on #2531
I've confirmed the issue only happens on devices running Android 11. Installing the app on a device running Android 10 has no issues

Why this particular issue happens is described in the details section

### Proposal

The imager picker library version 2 used is no longer maintained. The author suggestion for any issues occurring on v2 is to migrate to v3

Since we've already make the shift to pre

[2021-04-22 09:12] Julesssss commented on #2107
Nice solution. The consistent horizontal animation looks good to me, too.

[2021-04-22 11:16] Julesssss commented on #2520
Unable to reproduce this on an emulator. My test device gets stuck at the Splash screen, which sounds similar to the reported error, but I'm not 100% sure.

[2021-04-22 13:49] Julesssss commented on #2520
@Beamanator[ confirmed the issue](https://expensify.slack.com/archives/C01GTK53T8Q/p1619098900021500?thread_ts=1619090315.019100&cid=C01GTK53T8Q) on an iOS 12 emulator 🙇‍♂️

[2021-04-22 15:24] AndrewGable commented on #2107
Agreed, the job is yours @Maftalion! I will get the Upwork side configured in a few moments.

[2021-04-22 16:18] isagoico commented on #2521
Hello! Yes, it was taken from chrome/windows. I was able to repro from android app to Windows chrome

[2021-04-22 16:58] kidroca commented on #2520
Hi, I've traced this to `react-native-web` `onLayout` relies on `ResizeObserver` or a polyfill
![image](https://user-images.githubusercontent.com/12156624/115747948-646da680-a39e-11eb-94e7-6021e2cb64a0.png)

Addressing this need would successfully render the app, past the login screen
![image](https://user-images.githubusercontent.com/12156624/115748151-95e67200-a39e-11eb-809b-6775c1130442.png)

h

[2021-04-22 17:12] kidroca commented on #2497
Bump, I haven't started working on this as I'm not yet hired on Upwork

[2021-04-22 17:21] kidroca commented on #2520
You can quickly verify the issue is fixed by the polyfill by checking out or making the changes: https://github.com/kidroca/Expensify.cash/commit/22b6be6991f0e840859a0acf7e2103f7a976b1f1
- you'll need `npm install` to add the polyfill
- this is just code to prove the concept

[2021-04-22 17:34] #2246 closed

[2021-04-22 17:48] tugbadogan commented on #2180
Which device/emulator are you using to test this? I couldn't reproduce the issue after this fix even though I changed the orientation many times.

https://user-images.githubusercontent.com/3853003/115761826-ad236080-a39a-11eb-907f-ff9692ee7ba0.mov

[2021-04-22 18:28] mallenexpensify commented on #2090
Thanks for the ping @parasharrajat .  @stitesExpensify can you confirm everything is good and done here and that @npsedhain should be paid?

[2021-04-22 18:47] mallenexpensify commented on #1517
@anthony-hull would you like to work on this issue?  If so the job in Upwork will pay $250 and their will be a $150 bonus for proposing the issue (you need to fix the issue in order to get the bonus).

@koswalto assigned back to you, once we here back from @anthony-hull, can you create the Upwork job then hire @anthony-hull if he wants the job?

[2021-04-22 19:20] parasharrajat commented on #2530
### Proposal
1. I think showing a toast message is a good option as we would be needing it to show some feedback in the future for the app.
2. Now we do have support for native toast messages on Android and IOS but web/desktop lacks it. So it's better to use a custom lib to show a uniform toast across devices.

I have a few hand-picked suggestions for the toast lib.
1. Seems a good candidate https

[2021-04-22 19:32] stephanieelliott commented on #2107
Thanks @Maftalion! I've just sent the offer to you on Upwork.

[2021-04-22 19:36] iwiznia opened #2538 "Search feature is not working"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Jump to the chat

## Actual Result:
Blank screen and JS error

## Action Performed:
- CMD+k
- Select a person to chat
- See blank screen

## Workarou

[2021-04-22 20:22] #2127 closed

[2021-04-22 20:36] puneetlath opened #2539 "Messages marked as read incorrectly for last chat [Pay on 4th May]"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
1. Send someone a message
2. Navigate back to the LHN
3. Don't select a different chat, stay on the LHN
4. Have the person send you a message back
5.

[2021-04-22 20:37] kidroca commented on #2051
Since autofocus still happens on mobile web this issue still occurs:

Autofocus still happens when switching chats due to:
https://github.com/Expensify/Expensify.cash/blob/6db2ed04dcfd04aba495371dda93983f7691a058/src/components/TextInputFocusable/index.js#L94-L96

Autofocus still happens on FAB -> search, or FAB -> new chat because:
https://github.com/Expensify/Expensify.cash/blob/431b60d09f4e41c7

[2021-04-22 20:55] isagoico opened #2540 "Desktop - Unread messages badge won’t update after reading messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
After reading the new messages, the notification badge in app icon is updated to the number of unread messages.

## Actual Result:
Notification badge

[2021-04-22 20:58] marcaaron commented on #2051
@kidroca It does seem to improve things quite a bit and also that behavior to focus on mount in `TextInputFocusable` is 100% wrong given the recent changes.

Anyways, I think this is a good improvement and just removing the `this.focusInput()` alone seems to do wonders for un-sticking the drawer. It is confusing to have `TextInputWithFocusStyles` and `TextInputFocusable` so I am in favor of refact

[2021-04-22 20:58] parasharrajat commented on #2539
### Proposal
1. We update the Last read message here
 https://github.com/Expensify/Expensify.cash/blob/07370d220e9ab02edeb79087381cd13bff5a24ea/src/pages/home/report/ReportActionsView.js#L124-L128

 As the last viewed report is not unmounted from the tree thus it receives the Updates and we mark the last read.

 2. We need to put a check for `Drawer` `isDrawerOpen() ` here so that when the drawer

[2021-04-22 21:08] parasharrajat commented on #2051
@marcaaron  It's worth mentioning that it has been removed already. https://github.com/Expensify/Expensify.cash/pull/2528

[2021-04-22 21:10] kidroca commented on #2051
Yes, I that was my initial thought but seeing that `TextInputFocusable` does not deal with styles - just the behavior. It would be easier to put it inside `TextInputWithFocusStyles` to verify the bug is fixed. And then we can arrange something better.
Because `TextInputFocusable` does not deal with styles itself it might be necessary to be wrapped by a "styling" component like `TextInputWithFocusS

[2021-04-22 21:12] kidroca commented on #2051
Couldn't the `InteractionManager.runAfterInteractions` be used as it's intended exactly for this. Or it doesn't work for some reason?

[2021-04-22 21:15] kidroca commented on #2051
I'll take a look too

[2021-04-22 21:16] isagoico commented on #2538
We're also able to reproduce this.

Another bit of info, this same error is displayed when trying to create a new chat or group

![image](https://user-images.githubusercontent.com/44479856/115786171-747d8a00-a38e-11eb-9311-91120cef9332.png)

[2021-04-22 21:25] marcaaron commented on #2051
Sorry @kidroca let's actually hold since maybe there is not much more that needs to be done if this has already been fixed. `InteractionManager.runAfterInteractions()` doesn't seem as relevant to issues affecting web.

[2021-04-22 21:29] isagoico opened #2541 "New message indicator disappears, report action menu persists after hover"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
1. New chat indicator line: should always be displayed on a new message, even after hovering over
2. Report action menu: the hover state should end a

[2021-04-22 21:33] kidroca commented on #2051
@marcaaron Only the code in `TextInputFocusable` was updated - The issue would be fixed when switching chats, but not for "Search", "New Chat", "New Group Chat", other options with an input field

The autofocus inside the `OptionSelector` is still a fact:
https://github.com/Expensify/Expensify.cash/blob/431b60d09f4e41c7532707454625dbe2c3c22c21/src/components/OptionsSelector.js#L89-L91

This needs

[2021-04-22 21:34] parasharrajat commented on #2051
@kidroca This is has been taken care of by https://github.com/Expensify/Expensify.cash/pull/2505. Unless you have something new to add.

[2021-04-22 21:41] kidroca commented on #2051
Ok so "no autofocus" on mobile is not 100% true

This will still auto focus on all platforms

[code]

As Marc pointed out

The issue would probably still occur on mobile safari

[2021-04-22 21:45] kidroca commented on #2051
I've added measurements on the effect of dimension changes in the ticket here: #2326
There are no dimension changes happening when the bug occurs "naturally" - the users aren't changing window size or anything they just switch screens and this does not trigger dimension changes

[2021-04-22 21:48] marcaaron commented on #2051
To clarify, I'm not sure this has actually been decided. The case that we are discussing here is switching between chats.

[2021-04-22 21:48] parasharrajat commented on #2051
Yup for the modal screen we want autofocus.

[2021-04-22 21:51] isagoico opened #2542 "[hold for payment 7 May] Loading screen logo slightly shifts up before fading away."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Loading screen logo is stable.

## Actual Result:
Loading screen logo slightly shifts up before fading away.

## Action Performed:
1. Kill the chat a

[2021-04-22 21:56] kidroca commented on #2051
Ok so this ticket is only about switching chats and the "Search", "New Chat", "New Group Chat" will be handled separately, or you mean focus handling for them is not decided yet?

Just want to point out that all the "discoveries" here are related to "Search", "New Chat", "New Group Chat" and the issue is the same - a transition that involves immediate focus causes the "stuck offscreen" bug

[2021-04-22 22:06] isagoico opened #2544 "If there are several messages, user has to manually scroll to the new message line"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User is scrolled to the New message line

## Actual Result:
If there are several messages, user has to manually scroll to the new message line

## Ac

[2021-04-22 22:06] marcaaron commented on #2051
Both of those statements are correct. This issue is related to switching chats (seems to be fixed now). As for disabling input focus on other screens I think probably it would be best to get some other opinions.

[2021-04-22 22:24] isagoico opened #2545 "[HOLD #12054] [$1000] Conversation DM bounces, flickers, and lags when scrolling downward in a long chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Scrolling through a chat DM should be smooth (doesn't bounce, flicker, or lag) regardless of conversation length.

## Actual Result:
The chat DM boun

[2021-04-22 22:25] kidroca commented on #2051
Sorry, I'm not talking about that autofocus would necessarily need to be removed on those screens, but the same "stuck offscreen" bug would remain for them

The same issue occurs when you use the FAB, but I don't think there's a separate ticket about it. I've brought that up a couple of times: https://github.com/Expensify/Expensify.cash/issues/2051#issuecomment-811881242

https://user-images.githu

[2021-04-22 22:43] TomatoToaster commented on #2452
Ahhh Ok yes. I see what you mean. Well it being a daily did make me check the ticket immediately so you might be right 😂 .

I'll provide an update when I get time for this one next.

[2021-04-22 22:54] isagoico opened #2546 "Log in - User has to dismiss the keyboard to click on the buttons"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User can tap on the log in buttons without the need to dismiss the keyboard

## Actual Result:
User has to dismiss the keyboard to click on the butto

[2021-04-22 23:00] marcaaron commented on #2538
This was me thanks I broke it.

[2021-04-22 23:07] marcaaron commented on #2538
This doesn't happen on `main` and the PR that will fix it is here -> https://github.com/Expensify/Expensify.cash/pull/2525

So, I also fixed it already, but the timing is just bad.

[2021-04-22 23:12] iwiznia commented on #2538
So, should we CP that to staging?

[2021-04-22 23:15] marcaaron commented on #2538
Sorry, no looking into it some more and it's broken. I should probably quit while I'm ahead.

[2021-04-23 00:18] isagoico opened #2548 "2FA - Unable to log in with 2FA enabled. Stuck on loading screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
App should be logged in account.

## Actual Result:
App freeze on logo screen. Need to delete App from background.

## Action Performed:
1. Launch Ap

[2021-04-23 00:19] isagoico commented on #2380
Regression is finished!
1 issue found today
1. https://github.com/Expensify/Expensify.cash/issues/2548 deploy blocker

Thanks!

[2021-04-23 00:54] SofiedeVreese commented on #2540
Issue looks good. I assumed there'd be other issues similar to this, as it's an ongoing issue but I can't find any.

Removing assignment and adding Engineering to further triage, seems like a great External issue.

[2021-04-23 01:06] Christinadobrzyn commented on #2542
Testing this on the E.cash mobile app on iOS.

I see the same 'shift' as well as line issues with the chats when following the Action Performed steps provided in the OP.

https://user-images.githubusercontent.com/51066321/115802832-34f88180-a412-11eb-8721-729e7338424d.MP4

[2021-04-23 01:42] marcaaron commented on #2380
Checking off [`#2406`](https://github.com/Expensify/Expensify.cash/pull/2406) since the LHN is working OK now.

[2021-04-23 01:43] NikkiWines commented on #2530
@JmillsExpensify, I believe our current plan is to build a custom toast library instead of implementing a third party lib. I know @shawnborton has been working on the general design for that over in https://github.com/Expensify/Expensify/issues/159930. cc: @marcaaron since I know we've talked about toasts/growls before.

Since we don't want to use a lib for toasts, @parasharrajat perhaps you could

[2021-04-23 01:43] npsedhain commented on #2090
Let me know if there is anything I can do. 😅

[2021-04-23 01:49] parasharrajat commented on #2530
@NikkiWines Ok, in that case, I think showing an error over the compose box could be a good option until we have toast.

Let me know if that sounds a fit. Thanks.

[2021-04-23 03:16] NikkiWines commented on #2530
@parasharrajat, I'm not sure we even need to animate anything here. @Expensify/design do you have any input on whether we'd want the error message to fade out or something similar in this case?

We do have simple, static error messages throughout the product that are displayed when something has gone awry, I think following that existing precedent makes sense. If we don't do want to do any fading

[2021-04-23 04:34] Christinadobrzyn commented on #2542
I think this is ready for Eng to review and consider adding an External label.

[2021-04-23 05:22] thierrysantos commented on #2491
Hello @Luke9389 ,

I have a proposal right now, after a lot of time debugging we need to add this new fonts and rename it based on `PostScript name`.

We need to add this fonts here

https://github.com/Expensify/Expensify.cash/blob/d27cf29a5579cbaab20fd4c29ad92140f55580e8/src/styles/fontFamily/index.js#L3

and here

https://github.com/Expensify/Expensify.cash/blob/d27cf29a5579cbaab20fd4c29ad92140f

[2021-04-23 06:04] aliabbasmalik8 commented on #2517
@michaelhaxhiu

The solution to this issue to update option box` x,y coordinate`when we resize the window. so to do this we need to add this code in `VideoChatButtonAndMenu` component and `measureVideoChatIconPosition` function already in code

[code]
Thanks

[2021-04-23 09:16] Julesssss commented on #2380
Can confirm this can't be tested externally. I've marked it off the list.

[2021-04-23 09:34] Julesssss commented on #2520
Thanks for the detailed write-up @kidroca!

The Polyfil solution seems reasonable, but we first need to work out if we wish to continue providing support for iOS 12. You mention dropping **mWeb** support from iOS 12, but wouldn't we need to drop iOS 12 support entirely?

[2021-04-23 10:31] aliabbasmalik8 commented on #2491
**REVISED PROPOSAL**
**STEP 1:** ADD FONTS IN APP AND LINKED
**STEP 2:** ADD FONT FAMILY CONSTANTS AT HERE
https://github.com/Expensify/Expensify.cash/blob/d27cf29a5579cbaab20fd4c29ad92140f55580e8/src/styles/fontFamily/index.js#L3
[code]
**STEP 4**: DELETE THESE 2 files
- https://github.com/Expensify/Expensify.cash/blob/main/src/styles/fontWeight/bold/index.android.js
- https://github.com/Expensif

[2021-04-23 10:43] Julesssss commented on #2539
Thanks, @parasharrajat, the proposal makes sense and seems simple. Please go ahead :)

[2021-04-23 10:44] trjExpensify commented on #2205
👋 coming [from here](https://expensify.slack.com/archives/C01GTK53T8Q/p1619067813012400), reopening.

Jason's example vid:

https://user-images.githubusercontent.com/16232057/115860303-384b3780-a429-11eb-9f01-77b843827317.mov

[2021-04-23 11:56] kidroca commented on #2520
You're already not supporting **mWeb** on iOS 12, sinceExpensify.cash has no code for compatibility on older browsers.
My suggestion regarding dropping support was to make this official by including it in the project description and perhaps in a public page like "about" that would list minimum supported devices/browsers/OSes
Some apps would run a small check during init to detect if your are using

[2021-04-23 12:04] kidroca commented on #2520
There are a lot of polyfill strategies and mixes, I've just listed some of the most easier and popular solutions.

I can see how you would probably move away from `polyfill.io` due to the lack of service level agreement. We can discuss some other options if you're interested in polyfilling to support older browsers

[2021-04-23 12:14] flaviadefaria commented on #2546
Hey @isagoico just to confirm that I got the above steps correctly, after filling in the login info you need to dismiss the keyboard to then be able to click continue, is that correct?

[2021-04-23 13:58] michaelhaxhiu commented on #2408
@eVoloshchak how's the PR coming along so far? Feel free to provide daily updates as you go so that we can have a gauge of your progress.

[2021-04-23 15:18] johnmlee101 commented on #2520
This happened to me last night on the app itself (not mWeb, so possibly unrelated), and I'm on iOS 14.4.2.
The workaround was unloading the app from the background then re-opening the app, and occasionally un-focusing the app in the background and putting it back into the foreground caused the screen to go blank after a second.

[2021-04-23 15:39] koswalto commented on #1517
I'm not working on contributor issues @mallenexpensify -- I just did my triage so I'm unassigning myself here 👍

[2021-04-23 15:53] #2107 closed

[2021-04-23 15:57] Julesssss commented on #2520
Seems like Polyfil is the way to go as the downsides aren't that bad. I'm leaning towards the first option simply because it seems like the simplest solution, but I'll hold on for a moment to collect any further thoughts from others.

[2021-04-23 16:20] eVoloshchak commented on #2408
I have applied localization to a majority of components/pages, I have 4 of them left to be translated. I expect to finish them in a couple of hours, after that i will start testing on different platforms/devices. If tests are successfull, I'll submit a PR today.

[2021-04-23 16:30] ctkochan22 commented on #2545
Labels look good

[2021-04-23 16:41] jboniface opened #2556 "Apostrophe characters are displaying differently in platforms"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Single quotes/apostrophes should display consistently across platforms, and in particular

In particular:
- if there’s text directly before do the cu

[2021-04-23 16:43] roryabraham commented on #2090
As discussed [in Slack](https://expensify.slack.com/archives/C01SKUP7QR0/p1619192999424100), yes @npsedhain should be paid. Even though his pull request caused a regression, he wasn't given a chance to resolve that due to random one-off circumstances. The base branch was renamed in the E.cash repo, so GitHub was broken and didn't allow us to revert the pull request like we normally would. So let's

[2021-04-23 16:53] npsedhain commented on #2090
Thanks @roryabraham. It totally makes sense and I get it that the issue was one off provided that I didn't have such experiences in the issues I jad contributed before hand. So I totally get it. But let me know if anything else comes up even after this is closed. Happy to help and be a part of this. :)

[2021-04-23 16:54] roryabraham commented on #2497
Adding the `DeployBlockerCash` label to this, @marcaaron if you disagree please remove the label.

@arielgreen Making this a daily since it's preventing E.cash production deploy.

[2021-04-23 17:01] arielgreen commented on #2497
Thanks @roryabraham!

@kidroca, I've just sent over an invite to the Upwork job.

[2021-04-23 17:03] AndrewGable opened #2557 "VERSION not included as parameter for markPullRequestsAsDeployed"
## Expected Result:
No failures for `markPullRequestsAsDeployed` action

## Actual Result:
There was an error thrown in the `markPullRequestsAsDeployed` https://github.com/Expensify/Expensify.cash/runs/2414935988?check_suite_focus=true#step:6:3

![image](https://user-images.githubusercontent.com/2838819/115905479-64fc5080-a423-11eb-8d00-b05c579d1c69.png)

![image](https://user-images.githubusercon

[2021-04-23 17:08] kidroca commented on #2497
@arielgreen
I've got nothing new in Upwork, are you sure you have the correct profile? This is it: https://www.upwork.com/o/profiles/users/~01afad6ac000e0322f/

[2021-04-23 17:13] isagoico commented on #2546
yes! let me tweak a little the action peformed

[2021-04-23 17:14] kidroca commented on #2520
BTW this ticket (and the Upwork job) is not filed correctly - under Platform it says iOS 12 it should say mWeb, or mWeb (on iOS 12)
I've come across the job on Upwork and I thought it was a different issue related to iOS 12 native as the title there as well as the steps would not mention mWeb

[2021-04-23 17:16] arielgreen commented on #2497
@kidroca yep, correct profile. Can you see [this job](https://www.upwork.com/jobs/~01fc4a55c86ebedfd5)?

[2021-04-23 17:26] roryabraham commented on #2541
Just to clarify on the expected result for (1), this is how it looks in Slack:

![image](https://user-images.githubusercontent.com/47436092/115907795-329c2480-a41e-11eb-868d-e7f6d2ff86e0.png)

![image](https://user-images.githubusercontent.com/47436092/115907839-3fb91380-a41e-11eb-8943-3fd34bf2ff00.png)

And I think we want the same ... the line should be visible but the `ReportActionContextMenu`

[2021-04-23 17:28] mallenexpensify commented on #986
This closed 3 days ago, waiting til 4/27 to ensure no regressions then paying

[2021-04-23 17:30] AndrewGable commented on #2557
I'm thinking that having them both named `VERSION` is causing this bug. Going to try a different name.

[2021-04-23 17:32] roryabraham commented on #2548
Going to see if this is reproducible and try to look into a fix.

[2021-04-23 17:56] roryabraham commented on #2548
I was not able to reproduce on iOS `1.0.29-0`, so I am going to close. @isagoico feel free to reopen if any of your testers are able to reproduce this issue during today's regression testing cycle.

[2021-04-23 17:56] #2548 closed

[2021-04-23 17:58] #2557 closed

[2021-04-23 18:10] NikkiWines commented on #2542
This looks like a good issue for a contractor to work on, adding the `external` label so we can get this one UpWork.

[2021-04-23 18:17] tugbadogan commented on #2180
Hmm, I was able to reproduce broken view on orientation change on an iPhone (I couldn't find a reliable way to reproduce though). This looks like a separate issue then iPad having broken view when the app is sent to background. It looks like a bug on `Drawer.Navigator`.

[2021-04-23 18:21] #2278 closed

[2021-04-23 18:42] parasharrajat commented on #2556
@puneetlath Just thinking aloud if this is s bug. https://developer.apple.com/forums/thread/89706

[2021-04-23 18:54] Luke9389 commented on #2491
@thierrysantos I see you've got platform-specific code in your proposal. Could you describe to me at a high level how you'd improve your code?

[2021-04-23 18:57] Jag96 commented on #1988
@barun1997 have you done any further investigation on how to fix this?

[2021-04-23 19:04] thierrysantos commented on #2491
@Luke9389 that idea is just refactor the code to remove the nested ternary. Like this

[code]

[2021-04-23 19:07] Luke9389 commented on #2491
@thierrysantos I see. But what about `Platform.OS === 'android'`? In our contributing guidelines, we mention that we don't want platform-specific code. Is there a way to avoid having that line? Perhaps we could put this logic in a lib and import it to `RenderHTML` instead?

[2021-04-23 19:18] mallenexpensify commented on #2090
@roryabraham should I wait to see if there are any more regressions or pay @npsedhain _now_?

[2021-04-23 19:21] mallenexpensify commented on #2246
Scheduled to pay on 4/29 if there are no regressions

[2021-04-23 19:22] TomatoToaster commented on #2540
Hmm ok I do agree this could make a good external issue. Right now though I'm hesitant because the solution to this might not be purely front-end. Since it's dealing with notifications, the solution might have to be internal. I asked [here about it](https://expensify.slack.com/archives/C03TQ48KC/p1619189861208500), but for the moment I'll keep it assigned to me.

I might even get time to work on i

[2021-04-23 19:36] thierrysantos commented on #2491
@Luke9389 I'm looking a way here and I give a feedback for you

[2021-04-23 19:36] marcaaron commented on #2051
Ok sorry for all the back and forth here, but I think what we should do at this point is close this issue and create a new one so we can:

1. Verify the new issue you've discovered and the severity
2. See what can be done about the input focusing there or if it should be disabled

Apologies for the confusion here. I should have encouraged us to create a new issue for that earlier, but assumed they

[2021-04-23 19:36] #2051 closed

[2021-04-23 19:49] roryabraham commented on #2090
At this point, I would just pay him, because if there are any regressions they are on me now (because I fixed the regressions caused by this PR with my own PR). Sorry if that was poorly worded, but hopefully you get what I'm saying.

[2021-04-23 19:56] #2538 closed

[2021-04-23 19:57] mallenexpensify commented on #1517
Sorry about that @koswalto , I jumped the gun

[2021-04-23 19:58] marcaaron commented on #2180
I'm confused as the current discussion is not about iPhone.

Not too sure what you are referring to exactly, but if you have discovered another issue please create a new issue or add context to an existing one.

[2021-04-23 20:00] mallenexpensify commented on #2090
Thanks, I just wanted to double check to be safe. I need to split now but planning to pay this afternoon

[2021-04-23 20:08] #2432 closed

[2021-04-23 20:47] thierrysantos commented on #2491
@Luke9389 we don't need this `Platform.OS === 'android'`, so is just that

[code]

[2021-04-23 21:34] TomatoToaster commented on #2452
Ok drafted up a PR to fix this. The code change will fix this problem, but it's a little hacky so I'm not satisfied with it yet (using a ref of a ref). I might tweak it be cleaner before putting it for review. I also noticed that the search bar is not being focused immediately when the component is opened. I'm going to try and see if there is a fix for that too.

[2021-04-23 22:32] Luke9389 commented on #2491
Ok, @thierrysantos you can go ahead and start the PR. Thanks for all your patience here.

@aliabbasmalik8 I appreciate the effort you put into this thread, but I've decided not to move forward with your proposal. The main reason for this is that after I asked for a clear, complete, and well laid out proposal from both of you, Thierry was the one to provide that first. I do hope that you continue t

[2021-04-23 22:39] thierrysantos commented on #2491
Okay, thanks and sorry if I made something wrong here ❤️ .

[2021-04-23 22:54] mallenexpensify commented on #2090
The contributor has been paid, the contract has been completed, and the Upwork post has been closed

[2021-04-23 22:54] #2090 closed

[2021-04-23 23:10] mallenexpensify commented on #2051
@kidroca do you want to create the new issue, propose a solution, then fix it? If so, you'll be eligible for the $150 bonus

[2021-04-23 23:17] isagoico commented on #2380
Regression is finished!
No issues found today.

PRs are finished too
1 comment added:
1. https://github.com/Expensify/Expensify.cash/pull/2460#issuecomment-825987246

https://github.com/Expensify/Expensify.cash/pull/2346 is still failing being fixed here https://github.com/Expensify/Expensify.cash/issues/2497

Thanks!

[2021-04-23 23:24] Luke9389 commented on #2491
No, you've been great! No worries at all.
The process needs all of us :)

[2021-04-24 00:02] thierrysantos commented on #2491
Nice, I sent the proposal on UpWork

[2021-04-24 03:26] stephanieelliott commented on #2147
Upwork job: https://www.upwork.com/jobs/~01ee21be2e6517b5c6

[2021-04-24 05:19] parasharrajat commented on #2147
## Proposal

Kindly look at my previous comment https://github.com/Expensify/Expensify.cash/issues/2147#issuecomment-819635737

It explains the problem briefly and fix the issue.

[2021-04-24 05:43] Mukhammadali commented on #2147
### Proposal:

The View component is not scrollable on iOS and Android platforms, even though it works on the Web. We should replace the View component on line 258 with ScrollView component and apply View styles to Scrollview.
Then It will be scrollable on all platforms.

https://github.com/Expensify/Expensify.cash/blob/f043f8a1aaea697ddb7e685262842d6eb5ba5648/src/pages/settings/Profile/ProfilePag

[2021-04-24 05:57] kidroca commented on #2051
Yeah, I'll open a new ticket next week.

We'd have to discuss this there before a proposal can be made:

[2021-04-24 06:47] a-eid commented on #2147
there is no scrollable component used to wrap the page, there there be a scrollable component wrapper for the content to be scrollable. either a `ScrollView` or `SectionList` would be applicable here.

[2021-04-26 00:01] SofiedeVreese commented on #2542
Upwork Job Posting: https://www.upwork.com/jobs/~0159158ba1789b3203

[2021-04-26 01:56] a-eid commented on #2542
@SofiedeVreese I have not submitted a proposal on upwork, but I'll post the solution directly here

I believe  that this line needs to be added to styles.xml `<item name="android:windowTranslucentStatus">true</item>`

[2021-04-26 01:56] parasharrajat commented on #2542
### Proposal
1. We have to set an attribute `<item name="android:windowTranslucentStatus">true</item>` in the AppTheme. Due to the reason that `RNBootSplashActivity` does not have a status bar and the MainActivity has, Ui jumps during the transition.
https://github.com/Expensify/Expensify.cash/blob/f043f8a1aaea697ddb7e685262842d6eb5ba5648/android/app/src/main/res/values/styles.xml#L1-L12

Change a

[2021-04-26 02:44] jasperhuangg commented on #2544
This seems to be a duplicate of https://github.com/Expensify/Expensify/issues/156238 which I've also already been assigned to, so I'll close this one out.

[2021-04-26 02:44] #2544 closed

[2021-04-26 09:17] Julesssss commented on #2520
@kidroca would you mind sharing the feature detection alternative? Let's rule out not fixing this and choose between Polyfil solutions.

[2021-04-26 09:18] Beamanator commented on #2542
@parasharrajat thanks for your proposal, for clearly explaining _why_ that solution works, and for the adding a linked video - Please submit a PR when you have a chance 👍

[2021-04-26 09:24] Beamanator commented on #2542
@a-eid Thank you for your efforts, but I've decided not to move forward with your proposal. Next time, I'd highly recommend providing a detailed explanation as to _why_ you are suggesting certain changes, and your proposal will also gain even more strength if you test it & submit screenshots and / or a video (whichever is appropriate to the proposal). Thanks again :)

[2021-04-26 10:29] kidroca commented on #2520
Here's a good post explaining the benefits of polyfill as a service and the foundation of polyfill.io: https://hacks.mozilla.org/2014/11/an-easier-way-of-using-polyfills/

It contains a lot of useful information and comparison to other polyfill solutions

---

A feature detection is basically this: https://modernizr.com/docs#what-is-feature-detection

- We test whether a certain API is available a

[2021-04-26 10:48] #2027 closed

[2021-04-26 12:38] NicMendonca commented on #2491
@thierrysantos just sent over the the offer in Upwork. Thanks!

[2021-04-26 15:25] isagoico commented on #2500
We were not able to reproduce this on the latest build 1.0.30-2
![image](https://user-images.githubusercontent.com/44479856/116108475-ec46ff80-a681-11eb-816e-7de9cac4dc6a.png)

[2021-04-26 15:41] tgolen commented on #2517
@aliabbasmalik8 Can you please update your proposal to conform to our cross-platform strategy (which can be found in the README of the repo).

Also, are there any performance concerns with your solution, and should it maybe use throttling or debouncing?

[2021-04-26 15:43] isagoico opened #2570 "Android - Add Attachment - Attaching a corrupted file / picture will crash the app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Error message is seen, stating that such image cannot be attached

## Actual Result:
App crashes and doesn't provide any error message

## Action Per

[2021-04-26 15:57] mallenexpensify commented on #2180
I doubled price to $500 in Upwork https://www.upwork.com/jobs/~01e2db72cd3240af67

[2021-04-26 16:04] michelle-thompson commented on #2530
Agreed with Nikki! As far as I know we don't have any growls that fade in/out, so a static error message makes more sense here.

[2021-04-26 16:21] parasharrajat commented on #2530
@michelle-thompson Alright. We can just add a static message near the composer and as soon as user focus on the composer we reset the error.

[2021-04-26 16:32] isagoico opened #2573 "Immediately mark a conversation as "read" when switching browser tabs and seeing the message in Expensify.cash"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
If someone writes you a direct message (DM) while you are in another browser tab and you switch to the Expensify.cash browser tab (to view the messag

[2021-04-26 17:51] roryabraham commented on #2446
@stitesExpensify Do you think we should block deploys on this? I'm thinking that it's not so bad that it's worth blocking a prod deploy

[2021-04-26 18:46] michelle-thompson commented on #2530
Yeah, let's see how that looks and we can go from there :) thank you!

[2021-04-26 19:04] marcaaron commented on #2147
@stephanieelliott re-assigning @deetergp since the process has changed and adding the `Exported` label will assign an appropriate engineer instead of whoever added the `External` label.

[2021-04-26 19:45] aliabbasmalik8 commented on #2517
@tgolen Here is another solution
https://github.com/Expensify/Expensify.cash/blob/ba700bfa48c9b46cbd5e2bc9e05547207de6dcf1/src/components/VideoChatButtonAndMenu.js#L91-L94

We need to just update `anchorPosition` in these ways and it's working fine
[code]
NOTE: Can update this solution https://github.com/Expensify/Expensify.cash/issues/2517#issuecomment-825411911 according to your requirements but

[2021-04-26 19:53] tgolen commented on #2517
@Luke9389 Would you mind chiming in on the above proposal to see what you think since you originally wrote some of this?

[2021-04-26 20:25] aliabbasmalik8 commented on #2517
Yes we can add default values in `Popover` component.
https://github.com/Expensify/Expensify.cash/blob/ba700bfa48c9b46cbd5e2bc9e05547207de6dcf1/src/components/Popover/index.js#L11

[2021-04-26 20:28] stitesExpensify commented on #2446
No, I don't think this is worth blocking over.

[2021-04-26 20:51] kavimuru opened #2577 "Android - Chat - Text field is hidden by keyboard once it is called"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Message field is always above keyboard and user can see what they're typing

## Actual Result:
Message field gets overlapped by keyboard, user can't

[2021-04-26 21:07] roryabraham commented on #2446
Cool, going to remove the `DeployBlockerCash` label and check it off on the deploy checklist. We should still fix it ASAP though 🙂

[2021-04-26 21:09] roryabraham commented on #2380
As discussed in the issue, we're going to remove the `DeployBlockerCash` label from https://github.com/Expensify/Expensify.cash/issues/2446 and check it off the deploy checklist. We're still going to fix it, but we don't think the bug is severe enough that it needs to block the deploy.

[2021-04-26 21:12] roryabraham commented on #2380
btw @isagoico this annoying GH bug is back... this is what I'm seeing on the issue right now:

![image](https://user-images.githubusercontent.com/47436092/116151250-3ab3c880-a699-11eb-8828-62ed78433995.png)

But I know you added the lock label just a few hours ago. I'm not sure what the process is for reporting bugs on GitHub, but in the interim can you please just leave a comment when you add the

[2021-04-26 21:21] Luke9389 commented on #2517
When I wrote this we were aware of this issue and decided to leave it. @roryabraham and I had discussed refactoring our popover menus and knew that this would be addressed then.

@aliabbasmalik8's most recent proposal resembles [my initial approach to this problem](https://github.com/Expensify/Expensify.cash/pull/1878#discussion_r599113253). We sided against that because it absolutely positions th

[2021-04-26 21:41] iwiznia commented on #2408
I reverted the PR (left a comment in the PR itself)

[2021-04-26 23:07] isagoico opened #2580 "Chat - Attachment picker is briefly displayed after taking picture to upload in chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Upload Attachment screen displayed

## Actual Result:
Attachment picker screen displayed for a moment before Upload attachment screen

## Action Perf

[2021-04-26 23:16] isagoico commented on #2380
Regression is done. Removing the lock label!

[2021-04-26 23:19] deetergp commented on #2147
@parasharrajat You were first to respond and your proposal sound good. Please go ahead and create a PR.

[2021-04-27 00:09] roryabraham commented on #2577
Doing my best to track the source of this regression

[2021-04-27 00:25] roryabraham commented on #2577
Okay, confirmed that [this PR](https://github.com/Expensify/Expensify.cash/pull/2567/files) was the source of this regression.

[2021-04-27 00:27] MitchExpensify commented on #2573
Looks unique to and clear to me. Probably a good external issue, adding eng label to decide that!

[2021-04-27 00:29] roryabraham commented on #2577
Reverting the problem PR [here](https://github.com/Expensify/Expensify.cash/pull/2581)

[2021-04-27 00:30] roryabraham commented on #2542
The solution to this issue caused a regression. @parasharrajat will need to resubmit a new solution.

[2021-04-27 00:33] SofiedeVreese commented on #2542
Changing issue back to a daily to keep track of regression.

[2021-04-27 00:38] isagoico commented on #2380
Chat Regression is finished!
2 issues found today:
https://github.com/Expensify/Expensify.cash/issues/2577 Deploy blocker
https://github.com/Expensify/Expensify.cash/issues/2580

[2021-04-27 00:42] Jag96 commented on #2499
Had a look at this today and this is definitely a regression, at least on iOS, on the Android emulator the pinch-zoom didn't work even on an old version without the recent changes. The main issue is that the event/gestureState being passed into the `onStartShouldSetPanResponder` callback is showing 1 touch, rather than 2 touches. On the simulator this works fine, and when testing on a physical dev

[2021-04-27 00:55] #2577 closed

[2021-04-27 01:16] stephanieelliott commented on #2147
@parasharrajat I've sent you the offer for this job on Upwork, please accept the offer when you can!

[2021-04-27 01:24] stephanieelliott commented on #2521
@jasperhuangg just want to double check on this before posting for a contributor to pick up- do you think this is a bug that needs to be fixed, or is this an external compatibility issue that cannot be fixed on our side?

[2021-04-27 01:32] roryabraham commented on #2577
@isagoico Can you please retest this during tomorrow's QA cycle? Should be fixed 🙂

[2021-04-27 01:43] roryabraham commented on #2580
I believe this _might_ be a duplicate. @kidroca I think you were commenting about this [here](https://github.com/Expensify/Expensify.cash/pull/2114#discussion_r616103088), right? Do you know if this is a duplicate issue / if this is already being worked on?

[2021-04-27 02:00] jasperhuangg commented on #2521
@stephanieelliott Sorry for the late reply!

I think it's an external compatibility issue. After a quick search, other people run into this issue on Windows as well. It appears that Microsoft has chosen not to support flags in their OS.

I don't think this is something anyone can fix.

[2021-04-27 02:10] jasperhuangg commented on #2546
Got a solution for this!

[2021-04-27 02:40] jasperhuangg commented on #2447
@isagoico I am unable to reproduce this issue on my iPad simulator, and since I don't have an actual iPad to test on I'm unsure as to how I can help. I'm going to unassign myself and throw this back into the pool. Sorry for the confusion!

https://user-images.githubusercontent.com/31285285/116176425-b3bc2a00-a744-11eb-87df-c43a7a3301fb.mp4

[2021-04-27 02:44] stephanieelliott commented on #2521
Cool, thanks @jasperhuangg! Will go ahead and close this, if we feel this is valuable later down the line we can always reopen.

[2021-04-27 02:55] jasperhuangg commented on #2446
Looks like this is unique to Web on Windows, I just tried it on Chrome on my Mac and it doesn't happen.

[2021-04-27 04:54] JmillsExpensify commented on #2530
Awesome, thanks @parasharrajat (and thanks @NikkiWines for keeping us all move forward in Upwork too!).

[2021-04-27 05:50] jasperhuangg commented on #2122
I was able to reproduce this, will tackle this!

[2021-04-27 05:56] stephanieelliott commented on #2541
This job has been posted to Upwork: https://www.upwork.com/jobs/~016c9e344435c0905d

[2021-04-27 10:22] trjExpensify commented on #2205
Hey @Maftalion! I know we closed out and paid this job in Upwork because the issue resolved itself, but given that it's back, could we proceed with the PR that was drafted initially?

CC: @Beamanator

[2021-04-27 11:09] Beamanator commented on #2542
Wow good catch @roryabraham and thanks for reverting quickly 👍

[2021-04-27 12:21] barun1997 commented on #1988
Hi, just to be clear on the specification required:

Is this something we're looking for? https://www.loom.com/share/68ef6b07a742462b955680c094189834

I've not been able to somehow constrict the space, but the solution above would work, with a caveat of having an input field just above the button like this:

<img width="375" alt="Screenshot 2021-04-27 at 18 04 27" src="https://user-images.githubus

[2021-04-27 12:49] kidroca commented on #2580
@roryabraham
No, this is not a duplicate

At the time when a modal was closing the compose input would be auto focused which would interfere with the gallery/camera and dismiss it. The only way to prevent this was to keep the popup modal open

https://github.com/Expensify/Expensify.cash/blob/99b44b3dcbc8efe99e7ea7a0fe833382f025a0aa/src/components/AttachmentPicker/index.native.js#L220-L225

Now sin

[2021-04-27 13:43] anthony-hull commented on #1517
Hi team, yes I would like to work on this issue!

[2021-04-27 15:28] tgolen commented on #2573
Yeah, external sounds fine and all is good here.

[2021-04-27 15:45] stitesExpensify commented on #2446
I'm curious if the windows emojis are just displaying larger for some reason? Also holy crap windows emojis are ugly 😂

[2021-04-27 16:09] roryabraham commented on #2580
@kidroca, thanks for the explanation! We don't have an upwork job for this yet, but when we have it posted I'll ping you and make sure you're first in line 🙂

[2021-04-27 16:31] tgolen commented on #2517
@roryabraham what are your thoughts on this? How involved would it be to refactor the popovers? What would the refactor be doing?

[2021-04-27 16:42] Maftalion commented on #2205
Sounds good, is the PR going to be re-opened as well or should I open a new one?

[2021-04-27 16:49] roryabraham commented on #2517
Sorry, meant to reply to this yesterday.

The idea behind the refactoring @Luke9389 is referring to would be to create a generic menu component which would be reused between the `CreateMenu`, the `VideoChatButtonAndMenu`, etc... However, I sort of think that some of those menu components have diverged enough that the refactoring doesn't make sense anymore. Even so, the `anchorPosition` is always g

[2021-04-27 16:52] roryabraham commented on #2517
That means that I don't think the solution to this can be applied in the `Popover` itself as @parasharrajat has suggested, because it is the responsibility of the parent component to provide the anchor position, and the `Popover` itself shouldn't be changing its own props.

[2021-04-27 16:57] roryabraham commented on #2517
Looking into it some more, we could probably still do the generic menu component refactoring like @Luke9389 and I talked about – basically take `BaseCreateMenu` and make it a reusable component to DRY stuff up a bit. But I think that's a separate issue because it would still take in an `anchorPosition` as a prop, and it would still be the responsibility of the parent components to manage that piec

[2021-04-27 17:03] Julesssss commented on #1988
Having the input at the bottom with only a few participants is not ideal.

I'm tagging @shawnborton, who may have some ideas on how to solve the scrolling problem.

[2021-04-27 17:06] barun1997 commented on #1988
@Julesssss  That's no longer a problem now, fortunately! Just wondering if the scroll action (with comment fixed as in the video) is the desired UX?

[2021-04-27 17:06] isagoico commented on #2380
Starting QA setup! Adding the lock label

[2021-04-27 17:07] trjExpensify commented on #2205
Done!

[2021-04-27 17:09] parasharrajat commented on #2517
Yeah.`anchorPosition` should be managed by the parent. But then we have to manage the same logic at multiple places so I suggested moving that into Popover. Is it possible that we pass the ref of anchor down to Popover to manage its positions with some offset props to adjust it from a parent?

`WithWindowDiminensions` should be refactored at the moment, it is keeping the js thread busy unnecessari

[2021-04-27 17:22] roryabraham commented on #2380
Sorry @isagoico, I am expecting the iOS deploy to fail. We have a potential fix that was merged just moments after you added the lock label here (I am actually unsure whether or not that PR is included in the current deploy). If the iOS deploy does indeed fail, we'll need to remove and reapply the lock label this morning.

[2021-04-27 17:37] roryabraham commented on #2517
It's possible, yes, but that seems quite convoluted to me.

There is also the concern that we don't want to create a bunch of duplicate `onDimensionsChange` listeners. Maybe we should consider nixing `withWindowDimensions` entirely, and instead leverage `Onyx` as the single source-of-truth for window dimensions and `onDimensionsChange` callbacks. @tgolen curious what you think of that? We could st

[2021-04-27 17:39] roryabraham commented on #2380
Looks like the [iOS deploy](https://github.com/Expensify/Expensify.cash/runs/2450262711?check_suite_focus=true) was a success, so you're good to begin QA @isagoico

[2021-04-27 17:58] isagoico opened #2595 "Favicon - Add white background to icon so $ is not lost in darker blackgrounds"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Favicon should be clearly visible in darker backgrounds.

## Actual Result:
$ is not visible in darker backgrounds

## Action Performed:
1. Navigate

[2021-04-27 18:01] shawnborton commented on #2595
Assigning myself, I can send an update for this shortly.

[2021-04-27 19:00] Jag96 opened #2597 "STG badge doesn't appear on iOS/Android"
## iOS/Android - STG badge doesn't appear
from https://github.com/Expensify/Expensify.cash/pull/2506#issuecomment-827836039

## Expected Result
An STG badge appears on the sign-in screen icon, and in the main app next to Chats and Settings (after login)

## Actual Result
STG badge doesn't appear

## Action performed
1. Install test build 1.0.32-0
2. Open sign-in screen
3. Login
4. Observe chat scr

[2021-04-27 19:02] parasharrajat commented on #2597
Maybe you are on an old build but I see it.

[2021-04-27 19:20] Jag96 commented on #2597
@parasharrajat on the latest TestFlight the staging badges aren't showing up, it looks like the reason is the `beta` lane is using the production environment file here: https://github.com/Expensify/Expensify.cash/blob/main/fastlane/Fastfile#L30

The dev badge is the default if no `ENVIRONMENT` value is set in your `.env` file, so if you're running on dev it makes sense that it'd be working there

[2021-04-27 19:30] roryabraham commented on #2597
Ah yes this was an oversight in the badge PR. Unfortunately, it's not as simple as just changing the environment for the beta build to `.env.staging`. Because we use `deliver` for our production deploys, we're not actually doing a new build - just sending the existing beta build to the app stores for production. @AndrewGable, how should we go about fixing this?

[2021-04-27 19:34] AndrewGable commented on #2597
So we cannot determine this programmatically? I think ideally we keep the deploy process the same.

[2021-04-27 19:35] isagoico commented on #2380
https://github.com/Expensify/Expensify.cash/pull/2506#issuecomment-827836039 - Will be fixed separately, checking it off

[2021-04-27 19:36] tgolen commented on #2517
I really like the idea of storing this data in Onyx and let components subscribe to it whenever they need it. I like the debouncing idea as well. The way I think that could work is like this:

1. In `Expensify.js` use `Dimensions.addEventListener()`
2. When a dimension change happens, fire off a new action `DimensionListener.set()`
3. The new action handles the debounce (making sure to execute imm

[2021-04-27 19:40] parasharrajat commented on #2517
I think it would be overkill. Any specific reason for sure keeping it in persistent storage? Instead, create a top-level provider for Dimensions and consuming it in `withWindowDimensions` could be an option.

[2021-04-27 19:47] Jag96 commented on #2597
We're currently getting the environment value from the config, outside of that I don't see a way to differentiate staging from production. If the next production build is the same build as the current staging build, I'm not sure how we could solve this programmatically without updating the build somehow, unless you mean something different?

[2021-04-27 19:53] isagoico opened #2599 "Web - Chat - Scroll bar appears when adding emojis"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
The emoji is added and text field should not have any visual changes

## Actual Result:
There is a drop down scrolling in the text field

## Action P

[2021-04-27 20:07] isagoico opened #2600 "Web - After adding the emoji, cursor is not in the front of the message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Emoji is added to the text input field and cursor moves forward

## Actual Result:
Cursor does not move after adding an emoji and user has to manuall

[2021-04-27 20:07] isagoico opened #2601 "Web - After adding the emoji, cursor is not in the front of the message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Emoji is added to the text input field and cursor moves forward

## Actual Result:
Cursor does not move after adding an emoji and user has to manuall

[2021-04-27 20:11] isagoico commented on #2600
Not sure why GH created 2 of these https://github.com/Expensify/Expensify.cash/issues/2601 closing

[2021-04-27 20:11] #2600 closed

[2021-04-27 20:13] roryabraham commented on #2517
@parasharrajat For now, `Onyx` is the only mechanism we have in place for global event emission, and it just happens to rely on persistent storage. I've toyed with the idea of creating a subset of `Onyx` keys which aren't saved, and that could allow us to use `Onyx` as a pure event emitter for data that doesn't need to be persisted. Doing so could potentially reduce the footprint of the app and sp

[2021-04-27 20:23] TomatoToaster commented on #2540
Hmm ok that discussion didn't seem to go much elsewhere. I think this is alright to stay internal and I'll be the one to work on it now.

[2021-04-27 20:26] #2147 closed

[2021-04-27 20:45] bfitzexpensify opened #2602 "Web - Chat - Scroll bar appears when adding emojis"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
The emoji is added and text field should not have any visual changes

## Actual Result:
There is a drop down scrolling in the text field

## Action P

[2021-04-27 21:35] marcaaron commented on #2601
Looks like there's some kind of bug @stitesExpensify maybe will know if this was happening already or is a regression. I'm not sure if we tested this much on Safari.

[2021-04-27 21:49] isagoico commented on #2380
**Regression** is finished!
2 issues found today:

1. https://github.com/Expensify/Expensify.cash/issues/2601
2. https://github.com/Expensify/Expensify.cash/issues/2599

**PRs** are finished too!
1 comment added:
1. https://github.com/Expensify/Expensify.cash/pull/2506#issuecomment-827836039 - Will be fixed sepparately

Thanks!

[2021-04-27 22:46] stitesExpensify commented on #2601
I don't think this is a regression. It was probably already happening on safari when we initially released the emoji picker :( Safari is the worst.

[2021-04-28 00:26] #2595 closed

[2021-04-28 02:20] kadiealexander opened #2606 "Create indicator to show content is syncing"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

This project will add a syncing indicator to the User icon in order to show that the app is still refreshing with the most recent information.

You'll use a pre-existing

[2021-04-28 03:36] stephanieelliott commented on #2580
Job post on Upwork: https://www.upwork.com/jobs/~01e62dbc72de7f7a3e

☝️ @kidroca

[2021-04-28 04:40] aliabbasmalik11 commented on #2601
**PROPOSAL**

need to update selection on update comment and for this add this code in `TextInputFocusable` component
[code]
https://github.com/Expensify/Expensify.cash/blob/5ed9e261867aec89018d295fe67775b9d7d621b6/src/components/TextInputFocusable/index.js#L126

and also add value attribute in `TextInputFocusable` component when we add in `ReportActionCompose` component
https://github.com/Expensi

[2021-04-28 07:17] kidroca commented on #2580
### Proposal

The logic here:

https://github.com/Expensify/Expensify.cash/blob/5ed9e261867aec89018d295fe67775b9d7d621b6/src/components/AttachmentPicker/index.native.js#L229-L237

Can be altered to something like:

[code]

`completeAttachmentSelection` would trigger the `onPicked` callback with the selected photo/document or do nothing if nothing was selected (cancelled from the gallery)

Right no

[2021-04-28 08:51] Julesssss commented on #1988
@barun1997 that looks good! Will check out the PR

[2021-04-28 11:33] Beamanator commented on #2205
In dev, on 1.0.32-1 I can't reproduce the flashing on android or iOS 🤷‍♂️ can you @Maftalion ?

[2021-04-28 17:40] #2546 closed

[2021-04-28 19:38] isagoico commented on #2380
Starting QA! Adding the lock label

[2021-04-28 20:32] isagoico opened #2614 "Android - Loading chat items is extremely slow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Chat messages are displayed just as the user opens the conversation

## Actual Result:
Chat messages take a lot to load and are displayed in parts, f

[2021-04-28 20:55] mallenexpensify commented on #986
Paid 4/28 via Upwork.  Thanks @parasharrajat

[2021-04-28 21:08] mallenexpensify commented on #1517
HOLD on @anthony-hull accepting the issue.
https://www.upwork.com/jobs/~01b9b67d1f16f3c564

[2021-04-28 21:23] isagoico commented on #2446
We were able to reproduce this too on iOS

https://user-images.githubusercontent.com/44479856/116470656-b8b2d380-a841-11eb-9f05-504f9d79d8a4.MOV

[2021-04-28 21:30] roryabraham commented on #2446
@isagoico Maybe it's just me, but I'm not spotting the bug in the latest video you posted

[2021-04-28 21:52] isagoico commented on #2446
OH man, my apologies I completely posted this in the wrong GH, I'll post it in the correct one. Thanks Rory!

[2021-04-28 21:53] isagoico commented on #2490
We were able to reproduce this today on iOS

https://user-images.githubusercontent.com/44479856/116470656-b8b2d380-a841-11eb-9f05-504f9d79d8a4.MOV

[2021-04-28 22:03] roryabraham commented on #2490
@isagoico The [solution to this](https://github.com/Expensify/Expensify.cash/pull/2511) was merged after the `StagingDeployCash` was locked today. Please retest in `1.0.33.1` or higher, and hopefully it should be fixed 🙂

[2021-04-28 22:06] isagoico commented on #2490
Ohhh of course! Will do, will close this again and reopen if we see this.

[2021-04-28 22:06] #2490 closed

[2021-04-28 22:28] marcaaron opened #2615 "Fetching report history on reconnect is inefficient and causes issues for sign out"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
If we already have local report actions for a report we don't need to fetch them again.
If we log out quickly after logging in the app does not end u

[2021-04-28 22:46] Jag96 commented on #2597
It looks like there are a few ways for checking if iOS is on a TestFlight vs production (see https://github.com/react-native-device-info/react-native-device-info/issues/228), but I don't see any clean ways to do this for Google Play outside of querying the Play Store, checking the version, and comparing it to the current version. Going to look into both of these options, but open to other suggesti

[2021-04-28 22:58] isagoico commented on #2380
Regression is finished!
No issues found today.

PRs are finished too!
No comments added 🎉

[2021-04-28 23:03] SofiedeVreese commented on #2542
PR is merged. Payment due on 7 May assuming no regressions.

[2021-04-28 23:04] SofiedeVreese commented on #2602
Hmm I'm not able to reproduce this @bfitzexpensify ?

https://user-images.githubusercontent.com/40040992/116482983-8f3d8a80-a8c9-11eb-88bf-b3772854b842.mov

[2021-04-28 23:17] SofiedeVreese commented on #2371
Checked with @roryabraham but no regressions so looks good to pay out.

[2021-04-28 23:33] roryabraham commented on #2597
I agree that if there _were_ a way to programmatically differentiate staging v.s. production without a separate environment that would be better, because it eliminates the risk that the prod environment can be misconfigured without our noticing on staging.

[2021-04-28 23:37] #2602 closed

[2021-04-28 23:37] SofiedeVreese commented on #2599
Hey @bfitzexpensify I don't think you have to create a separate issue for this. You can just triage the E/E.cash issue and assign to an engineer if you feel you've triaged it properly.

That said, I'm actually not able to reproduce this on my end:
Hmm I'm not able to reproduce this @bfitzexpensify ?

https://user-images.githubusercontent.com/40040992/116482983-8f3d8a80-a8c9-11eb-88bf-b3772854b842.

[2021-04-28 23:59] parasharrajat commented on #986
@mallenexpensify but PR is awaiting merge https://github.com/Expensify/Expensify.cash/pull/2527.

[2021-04-29 00:02] isagoico opened #2617 "Send button has a delay of 3-4 seconds after reopening the app from background"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Message is sent immediately after pressing the send button

## Actual Result:
There's a delay of about 3 seconds after pressing the send button.

##

[2021-04-29 00:22] deetergp commented on #2580
@kidroca Your proposal sounds good, provided it doesn't somehow break the expected behavior of the app on Android. Go ahead and create a PR 👍

[2021-04-29 00:38] parasharrajat commented on #2599
@SofiedeVreese I think OP missed that the issue is coming on Windows.

[2021-04-29 00:59] parasharrajat commented on #2530
So I have come across a bottleneck.

Under the composer, we have two things currently which works conditionally and only one is visible at a time.

1. you are offline status.
2. When someone is typing and there typing status.

Now we want to show the error as well.

How should we render it?
- On the same line and override the above two massages but what should be the rendering approach. Which mess

[2021-04-29 01:01] shawnborton commented on #2530
Is the plan to eventually move this into a custom growl? If so, should we just hold off and wait until the custom growls are in place? We'll hopefully be able to put a job up for them shortly as we just finished mocks for them.

[2021-04-29 01:05] jasperhuangg opened #2618 "Blank Screen and TypeError from BootSplash on Non-Native Platforms"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
The sign in page should render without any issues.

## Actual Result:
A blank screen appears, and a TypeError appears in the JS console:
<img width="

[2021-04-29 01:06] jasperhuangg commented on #2618
Looks like it was caused by this PR: https://github.com/Expensify/Expensify.cash/pull/2594. We need to update our definition of `hide` in `src/libs/BootStrap/index.js` to return an object with `then` defined.

[2021-04-29 01:19] parasharrajat commented on #2618
oh yeah just sending a fix in few minutes.

[2021-04-29 01:27] SofiedeVreese commented on #2371
Contributor has been paid, the contract has been completed, and the Upwork post has been closed.

[2021-04-29 01:27] #2371 closed

[2021-04-29 01:30] parasharrajat commented on #2618
@jasperhuangg I don't think its a regression from that PR.

[2021-04-29 01:32] jasperhuangg opened #2620 "Signing out yields strange SignIn Screen URL Format"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Signing out should navigate back to `[baseURL]/`

## Actual Result:
Signing out navigates to `[baseURL]/?params=%5Bobject%20Object%5D&screen=Report`

[2021-04-29 01:36] parasharrajat commented on #2618
Thanks for taking care of this @jasperhuangg. Let me know if you need anything from me.

[2021-04-29 01:46] michaelhaxhiu commented on #2614
I'm very occupied with Digital Card the past day, and plan to be tomorrow as well. Can I please re-assign this one to free up space?

[2021-04-29 01:53] jasperhuangg commented on #2618
My bad for not seeing your comment sooner! I opened up the issue after I already wrote up a fix.

[2021-04-29 02:05] parasharrajat commented on #2541
## Proposal
1. We will remove the `hovered` from the condition check here.
https://github.com/Expensify/Expensify.cash/blob/f213be0a1be5a04599d2f17d8848b0a7824eb8be/src/pages/home/report/ReportActionItem.js#L122-L123
2. Now we have to adjust the `z-index` for the context menu
https://github.com/Expensify/Expensify.cash/blob/f213be0a1be5a04599d2f17d8848b0a7824eb8be/src/styles/getReportActionItemSty

[2021-04-29 02:13] parasharrajat commented on #2530
I agree. @JmillsExpensify  Let's put this on hold until growls are implemented.

[2021-04-29 03:05] #2618 closed

[2021-04-29 03:28] kadiealexander commented on #2617
Seems like a valid issue! I'm not able to replicate since I don't have iOS.

[2021-04-29 03:33] JmillsExpensify commented on #2530
Awesome yeah sounds great @shawnborton, and yes @parasharrajat I'll put this on hold in the meantime. Back in due time!

[2021-04-29 06:15] roryabraham commented on #2541
Okay, thanks @parasharrajat, feel free to submit a PR

[2021-04-29 06:17] roryabraham commented on #2620
@isagoico since there are no known side-effects of these strange URLs, I'm removing the deploy blocker label from this, and making it a weekly.

[2021-04-29 06:18] roryabraham commented on #2380
As commented in the issue, I removed the deploy blocker label from https://github.com/Expensify/Expensify.cash/issues/2620 and checked it off on the checklist.

[2021-04-29 12:10] kidroca commented on #2580
This happens on Android as well. Both will be addressed by the proposed changes

https://user-images.githubusercontent.com/12156624/116548232-9a5dde00-a8fc-11eb-99c6-13594a589757.mp4

@isagoico You might want to update the issue description to list Android as affected too

[2021-04-29 12:14] kidroca commented on #2580
@deetergp
I have submitted a proposal on Upwork: https://www.upwork.com/ab/proposals/1387741889178193921

[2021-04-29 14:58] parasharrajat commented on #2451
Are we ready to move on this one? I am willing to fix this.

[2021-04-29 15:34] #2541 closed

[2021-04-29 16:56] kidroca opened #2629 "Better Chat Virtualization Config"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
- Chat works the same way or faster while consuming significantly less memory
- Scrolling to the past is faster

## Actual Result:
- The more chat hi

[2021-04-29 17:15] kidroca commented on #2629
Here is the same test performed after some tweaks to virtualization settings for the `BaseInvertedFlatList` component

https://u.pcloud.link/publink/show?code=XZ2Y11XZVLUsJ5hVwduxs1ujmf5947ukrFnk

- about 1.8k DOM nodes once a chat is fully initialized
    - 60MB of memory consumed
    - 59 Action Report Items rendered
- total nodes growing to as much as 4.4k during scrolling
    - 81MB of memory

[2021-04-29 17:23] kidroca commented on #2629
The above shows that you can roughly cut memory usage in half and reduce CPU time as well, with no tradeoffs to quality

[2021-04-29 17:45] marcaaron commented on #2380
Checked off #2497

[2021-04-29 17:58] isagoico commented on #2380
Starting QA!

[2021-04-29 18:56] bfitzexpensify commented on #2614
Rajat reproduced [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1619556042134800?thread_ts=1619487604.117700&cid=C01GTK53T8Q)

[2021-04-29 19:26] marcaaron opened #2633 "[Network] Why did Pusher fail with Code 1006?"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
1. Pusher does not fail with code 1006
2. Pusher continues to use `ws` (WebSockets) transport and doesn't fallback to `xhr_streaming`
3. If Pusher do

[2021-04-29 19:27] eVoloshchak commented on #2408
I've resolved some issues with the PR, but I still have a couple of questions. I've asked them here: https://github.com/Expensify/Expensify.cash/pull/2562

[2021-04-29 19:52] michaelhaxhiu commented on #2614
Note - this looks like a candidate for `external` to me

[2021-04-29 22:50] parasharrajat commented on #2541
@stephanieelliott Waiting for this job to be assigned to me. Lol fix is already merged.

[2021-04-29 23:16] isagoico opened #2636 "Favicon - Flashing NEW! Expensify.cash and icon without white background can be seen in tab"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
I expected no flashing with NEW! Expensify.cash and switching with Expensify.cash

## Actual Result:
Flashing with NEW! Expensify.cash and switching

[2021-04-29 23:19] isagoico commented on #2380
Regression is finished!
1 issue found today
1. https://github.com/Expensify/Expensify.cash/issues/2636

PRs are done too
No comments added.

[2021-04-29 23:21] roryabraham commented on #2380
So since https://github.com/Expensify/Expensify.cash/issues/2636 is not a deploy blocker, we can run a prod deploy!
🎉 Hooray! 🎉

[2021-04-29 23:25] roryabraham commented on #2380
:shipit:

[2021-04-29 23:25] #2380 closed

[2021-04-29 23:26] OSBotify opened #2639 "Deploy Checklist: Expensify.cash 2021-04-29"
**Release Version:** `1.0.41-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/2433
- [x] https://github.com/Expensify/Expensify.cash/pull/2505
- [x] https://github.com/Expensify/Expensify.cash/pull/2527
- [x] https://github.com/

[2021-04-29 23:48] marcaaron opened #2642 "Onyx.clear() does not fully clear storage if data is in the process of being written"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
When signing out Onyx should reliably clear storage.

## Actual Result:
If some data is in the process of being set when we call `Onyx.clear()` we do

[2021-04-30 02:11] marcaaron commented on #2497
Not a blocker but left a comment as I think it's something we should follow up on before considering this issue "closed".

https://github.com/Expensify/Expensify.cash/pull/2575#issuecomment-829746703

[2021-04-30 02:31] marcaaron commented on #2335
@parasharrajat I'm sort of confused about why we ended up with `InteractionManager` in this linked PR? Aren't we more or less discussing above that we don't need to use it? Sorry if I missed something! Thanks!

[2021-04-30 02:42] parasharrajat commented on #2335
@marcaaron I used `transitionEnd` event on navigation. I have not added used `InteractionManager`. I just refactor the old code as it was missing the cancellation.
I will open another PR as the current was is merged already.

[2021-04-30 03:37] Jag96 commented on #2597
I've created a PR to handle showing the STG badge on iOS, but for Android, there aren't any clean ways that I found to handle this. The most common way to check on Android involves making an API call and fetching the text from the play-store listing and searching for the `Current Version` value. While this does allow us to get the version, this results in a few side effects:
- We need to block the

[2021-04-30 04:31] stephanieelliott commented on #2541
Oop, gotcha @parasharrajat! Thanks, will flag this for payment after the 7 day hold period.

[2021-04-30 05:02] stephanieelliott commented on #2580
Thanks @kidroca, I sent you the offer on Upwork!

[2021-04-30 09:49] anthony-hull commented on #1517
Hi @mallenexpensify I've submitted a proposal on upwork.

[2021-04-30 09:50] anthony-hull commented on #1517
Do you wish me to write a technical proposal here still?

[2021-04-30 11:51] thierrysantos commented on #2491
@Luke9389 The PR is open 🎉  https://github.com/Expensify/Expensify.cash/pull/2648

[2021-04-30 17:36] bfitzexpensify commented on #2599
@SofiedeVreese yes I just went into autopilot mode 😅. Ty for the clean-up!

I don't have a windows machine to test, but also cannot replicate this on Mac.

Tagging `engineering` to see if we have a way of virtually testing/reproducing this on Windows.

[2021-04-30 18:38] #1988 closed

[2021-04-30 19:20] isagoico commented on #2639
Adding the lock label! CC @roryabraham

[2021-04-30 20:00] roryabraham commented on #2597
Not sure why we would need to do this, why not just default to a no-badge (production) value, then when the API call finishes, save the result in Onyx. On next startup, just look for the environment value in Onyx.

Are you referring to the user's monthly data plan? I don't think http API request on App startup is really something we should be too concerned over.

That said, this feature is a nice-

[2021-04-30 21:52] isagoico opened #2658 "Favicon - Unread dot is hardly visible"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Unread dot is clearly visible for the user.

## Actual Result:
Unread dot is hardly visible

## Action Performed:
1. Log in with account A in web
2.

[2021-04-30 22:25] isagoico opened #2659 "Log in - User is taken to a empty conversation without a participant"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User is taken to one of the existing conversations or if a new account user is taken to the concierge chat.

## Actual Result:
User is shown a empty

[2021-04-30 22:27] isagoico commented on #2659
This is only afftecting expensifail accounts, so I think this might be related to this PR https://github.com/Expensify/Expensify.cash/pull/2612 CC @marcaaron @Julesssss @francoisl

[2021-04-30 22:28] roryabraham commented on #2659
Since this is only occurring for accounts on the IOU beta, does it need to be a deploy blocker?

[2021-04-30 23:08] Jag96 commented on #2597
This is a good approach I didn't think of, the only problem I'm having with this is that after the user signs out we clear onyx, so the environment value gets cleared. I can fix this by saving the previous environment value in onyx, and resetting the value after each clear, but for any new calls to `Onyx.clear()` we'll have to add this. The default is production though, so I think this is fine, go

[2021-04-30 23:29] isagoico opened #2660 "iOS - Unable to select emoji"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Able to select any emojis

## Actual Result:
Unable to select any emoji in the first row of emojis.

## Action Performed:
1. Launch the app
2. Log in

[2021-04-30 23:43] mallenexpensify commented on #1517
@thienlnam I'm assigning back to you since you were additionally auto-assigned.  What would you like to see from @anthony-hull before he starts working on the issue?

[2021-04-30 23:47] isagoico opened #2661 "mWeb - White rectangle appears for a brief second after closing the search box"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Exit animation should be smooth and consistent.

## Actual Result:
White rectangle appears for a brief second after closed the search box

## Action

[2021-04-30 23:52] isagoico opened #2662 "[Hold for payment 2021-07-13] Emojis - Emojis are cut on the sides in emoji picker"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Emojis are displayed without cropping

## Actual Result:
Emojis are inappropriately cropped on the left-hand side

## Action Performed:
1. Open app o

[2021-05-01 00:22] parasharrajat commented on #2661
Seems autofocus triggered the keyboard but you closed the page immediately.

[2021-05-01 00:32] roryabraham commented on #2660
cc @stitesExpensify

[2021-05-01 00:37] isagoico commented on #2639
Regression is finished!
2 issues found
1. https://github.com/Expensify/Expensify.cash/issues/2659
2. https://github.com/Expensify/Expensify.cash/issues/2660

PRs are finished too
No comments added.

Thanks!

[2021-05-01 00:46] roryabraham commented on #2660
I was not able to reproduce this on iOS `1.0.35-0`

[2021-05-01 01:05] roryabraham commented on #2660
The plot thickens! I _am_ able to reproduce this, and added some details to the description. For me anyways, all emojis are selectable _except those in the first row_.

[2021-05-01 06:30] parasharrajat commented on #2658
@shawnborton I think you are covering branding-related issues. Please help.

[2021-05-02 00:29] quinthar commented on #2327
This is still happening; reopening.
![image](https://user-images.githubusercontent.com/575186/116798278-cdda6d00-aaa2-11eb-853e-d09ffb326f4e.png)

[2021-05-02 16:45] mallenexpensify commented on #2434
@greg-schroeder adding the daily label, can you please triage and move the issue along?

[2021-05-02 16:47] mallenexpensify commented on #2401
Updated to Daily to see if we can get an external contributor on this.

[2021-05-02 16:48] mallenexpensify commented on #2328
@isagoico can you test to see if you can reproduce this? If so, can you add the `Daily` label? Thanks

[2021-05-02 16:53] mallenexpensify commented on #2327
@marcaaron reassigned to you and added Daily label.  Please adjust as needed (just wanting to ensure this gets looked at and addressed internally)

[2021-05-02 16:54] mallenexpensify commented on #2184
@KirkBarrett we missed at the `Daily` label initially, added now. Can you triage this please?

[2021-05-02 16:57] mallenexpensify commented on #2149
@shawnborton @michelle-thompson @NikkiWines can one of y'all break down exactly what's needed so @RachCHopkins can upload the issue to Upwork?  Thanks

[2021-05-02 16:58] mallenexpensify commented on #2121
@joelbettner "I think this has what it needs to be worked on by an engineer. Un-assigning myself for triage."
When you say _engineer_ do you mean an external contributor? I'm guessing yes but want to be sure

[2021-05-02 17:01] mallenexpensify commented on #2097
@muttmuure per [Stites' comment,](https://github.com/Expensify/Expensify.cash/issues/2097#issuecomment-815963314) can you get this on Upwork and keep the ball moving? Bumped to daily.

[2021-05-02 17:25] mallenexpensify commented on #2570
@johnmlee101 hoping this can be worked on by a contributor, let me know if so

[2021-05-02 17:30] mallenexpensify commented on #1341
Still need to work on this, added `Weekly` so I don't forget.  Comment linking and this GH made me think of it - https://github.com/Expensify/Expensify/issues/147480#issuecomment-827044976 made me

[2021-05-02 17:42] johndev0711 commented on #2097
@isagoico
Still exist this issue?
I am looking forward to discussing this issue.

[2021-05-02 20:15] mallenexpensify commented on #2246
Paid, sorry for the slight delay @Maftalion

[2021-05-03 00:27] puneetlath commented on #1653
Whoops. This was done long ago.

[2021-05-03 00:27] #1653 closed

[2021-05-03 01:41] sophiepintoraetz commented on #2660
I don't have the latest cash version, so unable to reproduce but looks like you're on it, Rory!

[2021-05-03 02:23] puneetlath commented on #2451
Sorry for the delay Rajat. Here's the job: https://www.upwork.com/jobs/~0151bfc06bb91fc01c

[2021-05-03 02:23] puneetlath commented on #2451
Sorry for the delay Rajat. Here's the job: https://www.upwork.com/jobs/~0151bfc06bb91fc01c

[2021-05-03 02:28] puneetlath opened #2664 "Only display First Name in the LHN chat row for Group DMs [Pay June 1st]"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Let's only show first names in the LHN for group DMs so that that more names show and they are easier to see.

Mockup:
![image](https://user-images.g

[2021-05-03 02:39] puneetlath commented on #2556
Hm, yeah seems like it might just be. Weird that Apple doesn't do [smart punctuation](https://developer.apple.com/forums/thread/89706) consistently across platforms.

@shawnborton what do you think? Is this worth doing something about on our end?

[2021-05-03 02:55] puneetlath opened #2665 "[HOLD for payment on May 18th] Allow copying only a selection of text"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
1. Some part of the chat text is selected with the mouse
2. The selected text is right clicked over
3. "copy to clipboard" is chosen
4. Only the sele

[2021-05-03 03:39] parasharrajat commented on #2451
@puneetlath Applied, Thanks.

[2021-05-03 09:04] jasperhuangg commented on #2599
This might be fixed by [the line-height fix](https://github.com/Expensify/Expensify.cash/pull/2511) that will be going out to production soon. Can you check to see if this happens on staging? @isagoico

[2021-05-03 11:25] kidroca commented on #2327
Looks like none of the fixes are available on the prod environment, as even if the bug is still happening there at least the loading background would have been a white color, and not gray as above. That color was changed at least 2 weeks ago

[2021-05-03 11:28] kidroca commented on #2327
The way PR are stetup, they would close the relevant issue automatically when merged, but it seems the code is not always published to production, if you want to keep the ticket open until the issue is addressed on prod maybe this needs to be handled differently and the ticket is left open until the fix is confirmed

[2021-05-03 13:01] Viacheslav80 commented on #2664
Hi! My proposal:  /src/pages/home/HeaderView.js

I use firstName instead of displayName:
[code]

for native, I will create a string constant:
       `const fullTitle = displayNamesWithTooltips.map(({displayName})=> displayName).join(', ');`
and past it instead of getReportParticipantsTitle(participants)
[code]

[2021-05-03 13:12] isagoico commented on #2328
This issue is not reproducible anymore 🎉 closing the issue.

[2021-05-03 13:12] #2328 closed

[2021-05-03 13:21] TomatoToaster commented on #2452
PR is up for this and it's completed. Just ran into some trouble when testing this on dev. It'll be up for review soon.

[2021-05-03 15:09] parasharrajat commented on #2335
@marcaaron It seems that in our use case the InteractionManager works fine as react-native-modal creates a task by calling `createInteractionHandle()` and clearing it after. So we can use the InteractionManager. We just need to update the `react-native-modal` to the latest minor version. If you say, I can give this a try otherwise Transition events are working fine for Modals. I am not sure what c

[2021-05-03 15:13] isagoico commented on #2599
This was not reproducible in staging.
![image](https://user-images.githubusercontent.com/44479856/116894917-9a155980-ac00-11eb-9db7-2a87e5f2c80c.png)

[2021-05-03 15:24] isagoico opened #2666 "LHN - Pin icon seems clickable when it's not"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Click icon can be clicked to remove a pinned conversation

## Actual Result:
Click icon seems clickable when it's not.

## Action Performed:
1. Log i

[2021-05-03 15:30] arielgreen opened #2667 "[Hold for payment 2021-08-17] [Performance] Optimize AsyncStorage on Android"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

# Problem
Though not carefully benchmarked, it's pretty obvious that the Android app is slow -- to start, to use, etc.  And all things being equal, it would be better if

[2021-05-03 15:32] isagoico opened #2668 "[Pay 5/10] Android / iOS - Conversation - Email addresses are displayed on header instead of the name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Name of the user is displayed in the header of the conversation

## Actual Result:
 Email addresses are displayed on header instead of the name

## A

[2021-05-03 15:41] shawnborton commented on #2556
I wonder if it's worth doing once we have a better compose box that uses contenteditable=true. Right now we're using a standard textarea for the compose box which doesn't allow us to dynamically change things as you compose before you actually send the message. We've talked about potentially upgrading this for things like emojis, etc. So perhaps when that day comes, we'd be able to detect (on all

[2021-05-03 15:46] arielgreen commented on #2497
Reopening, will close upon payment 5/7.

[2021-05-03 15:47] isagoico opened #2669 "Visually link the FAB menu to the FAB"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
FAB and FAB menu should be visually linked.

## Actual Result:
FAB menu is not visually linked to the FAB.

Will add @quinthar [comment](https://expe

[2021-05-03 15:55] isagoico opened #2670 "[HOLD for payment on July 1] Markdown - Quote markdown behaviour is not correct"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Text should be displayed like this:

1. quote indents on subsequent lines should be combined (but separated if there is a blank line between)
2. quot

[2021-05-03 16:15] thienlnam commented on #1517
Hey @anthony-hull! Could you please copy and paste the proposal you put on upwork to this github? For this issue, I'd just like to see where you plan on doing the front-end validation and where/how to meet the other requirements in the issue description

[2021-05-03 16:16] isagoico opened #2673 "Markdown - Code block has extra space in mobile app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Code block should displayed the same in all mobile app environments

## Actual Result:
On the mobile app (iOS and Android), the code block is formatt

[2021-05-03 16:42] johnmlee101 commented on #2401
Looks like the site association file is missing the formula for the ious
https://github.com/Expensify/Expensify.cash/blob/2778ad1e13fe3d6600330d804f1b6bbfe2ba9dc8/apple-app-site-association#L7-L13

Solution would be to add the appropriate path so that linking would work with `/iou/*` or something like that.

[2021-05-03 16:42] johnmlee101 commented on #2401
@mallenexpensify feel free to kick this off to an external contributor!

[2021-05-03 16:43] NikkiWines commented on #2149
Yeah, so reading back through this I'm a little unclear on where we landed. I agree it's ideal to keep the buttons disabled until they can actually take an action. Do we want to keep all save/complete action buttons non-sticky then?

As for the signout/navigation button - I think that's a good idea too. I can add that separately today since it's not really tied to this issue specifically.

[2021-05-03 16:44] shawnborton commented on #2149
I think it's fine if the Save buttons are sticky to the bottom, but the area to the left and bottom of the button (that outer margin that is currently transparent) should have a solid white fill. This way we don't get the awkward content behind the button feeling.

[2021-05-03 16:57] ViniSchonardie commented on #2664
First i adjust the function that creates the title to receive personalDetails from chat and get the first name if the account has...
`
/**
 * Returns the concatenated title for the PrimaryLogins of a report on chat
 *
 * @param {Array} logins
 * @param {Object} personalDetails
 * @returns {string}
 */
function getReportParticipantsTitleInChat(logins, personalDetails) {
    logins.map((login) => {

[2021-05-03 17:04] NikkiWines commented on #2149
Ok, so to summarize for the Upwork post:

There's currently an inconsistency across our product (and across platforms) for how we display Save/Complete Action buttons. Some are sticky, some are not. Some are only enabled when the user has completed an action, some are enabled all the time. Let's update this so things are consistent.

**Deliverables:**
Ensure all of the following buttons have the f

[2021-05-03 17:07] NikkiWines commented on #2149
I think that's all of the buttons... the IOU/Split bill flow does have a button (as shown above) but since we have a built-in keypad for it on mobile (and no keypad on web/desktop) I don't think we'd run into the overlapping issue for those.

[2021-05-03 17:07] #2450 closed

[2021-05-03 17:09] mallenexpensify commented on #2401
@mateocole assigning back to you since you're the original triager, can you post to Upwork plz

[2021-05-03 17:12] parasharrajat commented on #2668
Seems it was missed while refactoring the `OptionRowTitle` to `DisplayNames` https://github.com/Expensify/Expensify.cash/pull/2215.

1. Just Correct the `fullTitle` to `lodashGet(props.report, 'reportName', '')` instead of ` getReportParticipantsTitle(participants)` at
https://github.com/Expensify/Expensify.cash/blob/8a9dcbc1cbcc4200032d5e792394a2c8f74acd27/src/pages/home/HeaderView.js#L96-L102

[2021-05-03 17:14] johnmlee101 commented on #2570
Yeah this definitely can be. I'll unassign.

Might be related to this part, but its a start
https://github.com/Expensify/Expensify.cash/blob/fef26d2710d93ad17bfda148027184fa484ec49e/src/components/TextInputFocusable/index.js#L159

[2021-05-03 17:19] roryabraham commented on #2668
Thanks for helping with this @parasharrajat! Looks like you're right 🙂

[2021-05-03 17:19] isagoico commented on #2668
Issue is reproducible in the Android prod app. Removing the blocker label.

[2021-05-03 17:23] roryabraham commented on #2668
Thanks @parasharrajat, feel free to submit a PR and I can quickly review

[2021-05-03 17:37] mallenexpensify commented on #2149
Thanks @NikkiWines!!! Bumping to daily so you can get it up on Upwork Rach

[2021-05-03 17:37] roryabraham commented on #2668
@parasharrajat Upwork job is created for this [here](https://www.upwork.com/jobs/~01acb3cbf8d0e9507c)

[2021-05-03 17:40] shawnborton commented on #2149
@NikkiWines here is an icon you can use for Sign Out: [sign-out.svg.zip](https://github.com/Expensify/Expensify.cash/files/6416622/sign-out.svg.zip)

[2021-05-03 17:43] mallenexpensify commented on #2570
https://www.upwork.com/jobs/~015f64a38185627311
Adding `Exported` label

[2021-05-03 17:44] michaelhaxhiu commented on #2408
What is the latest on this one?

[2021-05-03 17:45] johnmlee101 commented on #2570
Hello again!

[2021-05-03 17:46] roryabraham commented on #2660
@isagoico This should be fixed as of `1.0.35-1`. Please retest today during QA

[2021-05-03 17:47] mallenexpensify commented on #2570
hahahahah, quickest turnaround ever, and I was surprised it was 'auto assigned' to you

[2021-05-03 17:50] isagoico commented on #2639
Starting QA

[2021-05-03 18:35] roryabraham commented on #2660
Solution merged. Assuming no regressions, we will pay out the Upwork contract on May 10th.

[2021-05-03 18:35] roryabraham commented on #2668
Solution merged. Assuming no regressions, we will pay out the Upwork contract on May 10th.

[2021-05-03 19:07] TwizzyIndy commented on #2570
I found this bug on Upwork and it could be the IOException error like described in logs.
![image](https://user-images.githubusercontent.com/6712795/116920111-45adc080-ac78-11eb-96e3-d60d83e872bd.jpeg)

If user trying to upload the Zero Byte file, android.media.ExifInterface will be print the error. I think RNImagePicker lib didnt try to catch the exception like zero bytes file or you guys need to

[2021-05-03 21:40] iwiznia commented on #2408
@michaelhaxhiu we reverted the PR ad @eVoloshchak was waiting on some answers from me which they did not get till today since I was OOO.

[2021-05-03 21:41] SofiedeVreese commented on #2542
I'm OOO 7-11 May so I'm going to remove my assignment and reassign for someone to pay this out 7 May.

[2021-05-03 21:43] SofiedeVreese commented on #2542
Pls ignore, I added the wrong label for reassignment.

[2021-05-03 22:06] #2615 closed

[2021-05-03 23:21] isagoico commented on #2500
We were able to reproduce this during today's regression
![image](https://user-images.githubusercontent.com/44479856/116945062-cb177d80-ac44-11eb-9d0f-4347f0e65a59.png)

[2021-05-04 00:07] isagoico commented on #2521
@jasperhuangg @stephanieelliott

We found this issue on the emoji picker too related to country flags in windows chrome. This one does look like an issue that should be fixed.

## Emojis - Country codes are displayed instead of corresponding flag emojis

## Expected Result
For all the countries flags should appear

## Actual Result
Only country codes are displayed instead of the flags

## Action P

[2021-05-04 00:13] marcaaron commented on #2335
I think the two issues are separate and should at least have separate PRs?

I'm not really following what you're proposing for the `react-native-modal`. Can you maybe explain a bit more what you mean by that and how the inconsistency is related to that library and why we should update it?

[2021-05-04 00:16] marcaaron commented on #2327
@kidroca is correct here. This issue has been resolved and will go out with the next production deploy.

[2021-05-04 00:16] #2327 closed

[2021-05-04 00:24] mallenexpensify commented on #2121
Double checking with Joel before posting

[2021-05-04 00:52] isagoico opened #2679 "Log in - Continue button isn't responding after switching gmail with expensifail accounts"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Able to log in with expensifail account after log out from gmail account. Continue button should work.

## Actual Result:
Continue button is not work

[2021-05-04 00:55] isagoico commented on #2639
Regression is finished!
1 issue found today.
1. https://github.com/Expensify/Expensify.cash/issues/2679

PRs are finished too!
1 comment added.
1. https://github.com/Expensify/Expensify.cash/pull/2532#issuecomment-831599293

Thanks!

[2021-05-04 00:56] isagoico commented on #2660
Issue was not reproducible during the retest! Closing

[2021-05-04 00:56] #2660 closed

[2021-05-04 01:21] mallenexpensify commented on #1517
Hi @anthony-hull we'll need a technical proposal before hiring, drop in when you can and @thienlnam will review. Thanks

[2021-05-04 01:28] kadiealexander commented on #2542
I'm on it, will pay on the 7th.

[2021-05-04 01:33] marcaaron commented on #2520
Reassigning you @Julesssss you were assigned [via](https://github.com/Expensify/Expensify.cash/issues/2520#issuecomment-824336601) and it's waiting for your action

[2021-05-04 02:12] Jag96 commented on #2499
Had another look at this today but didn't find any valid solutions, and it doesn't seem like there's a way to make the PanResponder event more accurate for multi-touch. I also tried using https://github.com/aMarCruz/react-native-photo-view-ex and https://github.com/ascoders/react-native-image-viewer#readme but nothing super helpful in those either. I've pushed [this branch](https://github.com/Expe

[2021-05-04 02:40] johndev0711 commented on #2664
![image](https://user-images.githubusercontent.com/74647446/116955257-efe21400-ac89-11eb-872a-5509e19ccbb8.png)
We should fix them only on the **_HeaderView.js_** file.
More important thing in this problem, we have to consider how to solve the case when 1 : 1 chatting.
For the problem, I've used the condition statement as shown above.
It was fine on all devices.
Thanks.

[2021-05-04 02:41] johndev0711 commented on #2664
![Screenshot_1620095503](https://user-images.githubusercontent.com/74647446/116955479-929a9280-ac8a-11eb-90ab-fba9054834f2.png)
![Screenshot_1620095519](https://user-images.githubusercontent.com/74647446/116955481-93cbbf80-ac8a-11eb-9cd1-a9564a949d5d.png)
![Screenshot_1620095531](https://user-images.githubusercontent.com/74647446/116955483-94645600-ac8a-11eb-9757-0a886514259b.png)

[2021-05-04 06:10] TwizzyIndy commented on #2570
I think it works now

https://user-images.githubusercontent.com/6712795/116966243-c0f18f80-acd5-11eb-8fd5-9506ab74832a.mov

[2021-05-04 06:53] mateusbra commented on #2667
### Proposal
I will make the step by step witth a standalone RN APP as mentioned and develop what was described [here](https://github.com/Expensify/react-native-onyx/issues/65#issuecomment-822046360).
In addition I will compare the benchmarks, analyze and obtain the best config to improve the performance result at maximum.

Finally I will implement the AsyncStorage.multiGet().

[2021-05-04 07:30] Dal-Papa commented on #2599
Sounds like the fix is about to come in production. Closing.

[2021-05-04 07:30] #2599 closed

[2021-05-04 09:13] Julesssss commented on #2659
Probably not, but that does include all @expensify/@expensifail users -- which is probably a large proportion of current users.

[2021-05-04 09:42] Julesssss commented on #2520
@kidroca thanks for the additional information.

Mozilla's Polyfil.io still seems the simplest solution and I think we should probably go with that solution, but one last question: What exactly do you see as a problem here?

[2021-05-04 11:13] Julesssss commented on #2664
Thanks everyone. @Viacheslav80 as you made the first proposal with a straightforward solution, would you like to work on the task?

[2021-05-04 13:01] michaelhaxhiu commented on #2517
Looking for an update as 1 week as elapsed, which means the job is now priced at $500.00 (instead of the original $250.00). 💰

@aliabbasmalik8 and @parasharrajat, do either of you intend to take this job using the latest `Onyx` method suggested by @roryabraham & @tgolen?

[2021-05-04 13:07] parasharrajat commented on #2517
@michaelhaxhiu I think someone is already working on this one so I didn't pick it.

[2021-05-04 13:10] michaelhaxhiu commented on #2517
@parasharrajat I'm certain this job is not yet assigned. 😺

- @aliabbasmalik8 has expressed interest first and can choose to take on this job. But I'd like to hear a confirmation from that individual based on the latest discussions and `onyx` method, as they haven't commented in about 8 days.

If they don't respond in the next few days, I'm happy to give you this job if you are open to it @parasha

[2021-05-04 13:10] Viacheslav80 commented on #2664
@Julesssss Ok, I'll take it to work

[2021-05-04 13:53] anthony-hull commented on #1517
I would add the rules on to the page.

I would make a new function to check if the password passes the validation. I would call this from within:
https://github.com/Expensify/Expensify.cash/blob/04a7e60f85c1269b8cc279bab3f9667cbf9b1898/src/pages/SetPasswordPage.js#L69-L85

I would then submit the form if it passes.

On fail I would experiment on styling. Maybe change the styling of the password ru

[2021-05-04 14:02] michaelhaxhiu commented on #2573
Oopsie, I didn't realize this was waiting on me! I thought for some reason it was being worked on by @MitchExpensify because he was assigned too.

Sorry, posting this shortly.

[2021-05-04 14:05] muttmuure commented on #2097
Hey @mallenexpensify I can't seem to post the job, is this because I'm missing some privileges in Upwork?

It's currently a draft under 'React Native - GMT time is not displayed correctly #2097'

I'm not in the contributor-management team, so maybe that's why?

[2021-05-04 14:50] johnmlee101 commented on #2570
@TwizzyIndy What is your proposed solution?

[2021-05-04 15:21] TwizzyIndy commented on #2570
I fixed this issue.

**Proposal**

1. We will add attached file size check condition in [index.native.js](https://github.com/Expensify/Expensify.cash/blob/main/src/components/AttachmentPicker/index.native.js). The setResult function which does for storing the selected attachment mapped to an appropriate file interface.

[code]

After that changes corrupted image attachment selection would crash an

[2021-05-04 15:24] johnmlee101 commented on #2570
cc @Julesssss or @roryabraham do you think we should also handle the `attachment.error` case being true? Looks like we don't as of now as well.

[2021-05-04 15:35] mallenexpensify commented on #2180
The link above wasn't getting any 👀 so I closed it and created another with the $500 price.
https://www.upwork.com/jobs/~01acd19801f956e8ed

[2021-05-04 15:50] kidroca commented on #2520
@Julesssss
It's just that the service could be taken down for maintenance or forever without any notice - it's a free service without any agreement that it will be provided 100% of the time

But if you think about it the worst that happens in that case is you lose support for the older browsers. But since right now you're not supporting older browsers anyway it would be no worse than the current s

[2021-05-04 15:50] shawnborton commented on #2149
Let me know if this mockup helps. On the left, you can see how the content shows behind the green button. On the right, you can see how we give the area behind the green button a white background:
![image](https://user-images.githubusercontent.com/2319350/117031649-a6a7b980-acb5-11eb-96da-aef52b15ba57.png)

So to double confirm, this area should have a white fill:
![image](https://user-images.gith

[2021-05-04 16:20] tgolen commented on #2666
This is a design-related issue so I am going to ping @Expensify/design to get their take on this. I think this issue is fairly low-value, but I don't know if there have already been discussions to improve this visualization or not.

[2021-05-04 16:27] michaelhaxhiu commented on #2573
Cleaned up a few tiny things in the GH title and body. Next steps:

- Make E/E issue for tracking purposes
- Post to Upwork, and provide daily updates

[2021-05-04 16:27] muttmuure opened #2682 "[HOLD] Sent messages remain in compose box if close or refresh e.cash RIGHT after sending"
**Platform - version:**  Desktop Version 1.0.2-3

**Action Performed (reproducible steps):**
- Type message then send.
- IMMEDIATELY after sending either refresh or close/reopen e.cash

**Expected Result:**
Sent message shows as sent and compose box is empty

**Actual Result:**
Sent message shows as sent and that same message is also in the compose box.

**Notes/Photos/Videos:**
![image](https://u

[2021-05-04 16:28] muttmuure commented on #2682
ported over from e/e https://github.com/Expensify/Expensify/issues/156546

[2021-05-04 16:33] shawnborton commented on #2666
I actually don't think this should be a clickable element. I think clicking anywhere in the row should just take you to that chat - everything else is meant to just indicate the state/content/etc of that row. I think we should close this one.

FWIW, if you pin a chat in WhatsApp, you can't interact with the pin icon on the chat row there either.

[2021-05-04 16:44] parasharrajat commented on #2573
Just to be sure. I see that the message is marked as read in some time. So when the user is away we want to show a notification and keep the message unread as the user has not viewed it even if the tab is active. When user focuses the tab we trigger the last read timer which takes 3 sec before marking the messages as read. Is this no happening currently? Sorry, I am not able to understand the issu

[2021-05-04 16:47] tgolen commented on #2666
Thanks, Shawn! Is there any consideration to changing the icon so it looks less "clickable"? Maybe removing the circle from around it? I definitely do not feel passionate about changing it, that was just the only other thought I had about this issue.

[2021-05-04 16:52] Julesssss commented on #2520
Gotcha, thanks again.

I think it's fine to continue with the Polyfill.io solution in that case as if that does happen we can simply revisit one of the alternative solutions.

Would you like to take on on the issue? I'll assign you now

[2021-05-04 16:53] michaelhaxhiu commented on #2573
@parasharrajat I think in the video that @isagoico tapped the chat DM at the end to mark it as read. Can you confirm @isagoico? I'll try to reproduce this in a few moments myself when I have a moment.

Are you suggesting that the chat was marked as read automatically? @parasharrajat. Can you attach a recording by chance?

[2021-05-04 16:56] michaelhaxhiu commented on #2573
Ok, so I just tested this on my side and see what you are saying @parasharrajat. After 3 seconds of focusing on the tab, the DM updates and it appears as "read" properly:

![54124](https://user-images.githubusercontent.com/13206896/117040431-e1224e00-acd7-11eb-9e26-49bd94cca02f.gif)

Hmm, so I think the question at this point is... do we want to shorten the 3 second timing? Otherwise, this does ap

[2021-05-04 17:07] parasharrajat commented on #2666
Yeah. But does it look good with the draft icon?

[2021-05-04 17:11] thienlnam commented on #1517
Method to validate password inside the validateAndSubmitForm method ✅

I'd fall back on @shawnborton for styling ideas for password errors but ideally I think a red outline of the input field is pretty standard, and should be applied to both the account error from ONYXKEY.ACCOUNT and the formError state.

The only error code you should get back from the server there is a 402 code and that should b

[2021-05-04 17:13] parasharrajat commented on #2160
I think we should close this one. I have not found any instance of it so far and also others are not facing it. But if want, we can just put the checks as I mentioned and so that it does not throw.

[2021-05-04 17:20] shawnborton commented on #2666
Not too bad:
![Uploading image.png…]()

[2021-05-04 17:21] marcaaron commented on #2629
Thanks for documenting this. Any thoughts on how we should address it?

[2021-05-04 17:35] Julesssss commented on #2570
@johnmlee101 good catch, but I believe errors are handled [further down the Promise chain](https://github.com/Expensify/Expensify.cash/blob/c68147732117679509d6e66da60531c2f0b25978/src/components/AttachmentPicker/index.native.js#L193-L195).

[2021-05-04 17:38] Julesssss commented on #2570
Good catch, but I think errors within `pickAttachment` will be handled [here](https://github.com/Expensify/Expensify.cash/blob/c68147732117679509d6e66da60531c2f0b25978/src/components/AttachmentPicker/index.native.js#L195). Both `showDocumentPicker` and `selectImage` throw errors.

[2021-05-04 17:43] kidroca commented on #2520
Yes, thanks 😊

[2021-05-04 17:53] johnmlee101 commented on #2570
Cool, so do you think the proposed solution is good enough for this case? Or do you think we should handle the `console.error` cases you linked as well to fully cover this?

[2021-05-04 18:18] TwizzyIndy commented on #2570
This error came from the getOrientation function which already existed in react-native-image-picker's resizeImage function.
https://github.com/react-native-image-picker/react-native-image-picker/blob/83bbc818a6850a52b74b06152d4a35e4539ed9ff/android/src/main/java/com/imagepicker/Utils.java#L181-L195

To be more specific, its getOrientation function throw that IOException error.
https://github.com/r

[2021-05-04 18:31] TwizzyIndy commented on #2570
I think console.error cant catch the exception occurred in RNImagePicker module. If console.error can really catch the exception, the app doesnt need to be crashed. I guess.

[2021-05-04 19:03] marcaaron opened #2683 "Chat Switch timing does not accurately reflect the test we want to perform"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Grafana data should reflect the total time it takes to tap on a chat and view the messages in that chat

## Actual Result:
Grafana data only reflects

[2021-05-04 19:05] TwizzyIndy commented on #2570
Nothing happened with console.error handling for me.

[2021-05-04 19:16] marcaaron commented on #2683
Original context [in this Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1620100807331300?thread_ts=1620065578.311900&cid=C01GTK53T8Q)

[2021-05-04 19:21] johnmlee101 commented on #2570
@isagoico can you clarify what file you used as "corrupted"? I'm not sure if `fileSize === 0` is equivalent if the image itself is malformed.

[2021-05-04 19:39] joelbettner commented on #2121
@mallenexpensify yes, external contributor or Expensify engineer. Either should be fine.

[2021-05-04 19:57] tgolen commented on #2666
Yeah, I like it without the circle better, but I like the size of the pin from the circle version (maybe even decreasing the size of the draft icon as well). I think having the icon in the LHN a smaller size than the pin icon in the report header would help visually to set the apart (so people don't keep mistaking it for the same functionality)?

This is what it looks like to reduce the LHN icons

[2021-05-04 20:00] kidroca commented on #2629
Yes, I've basically just changed this:

[code]

You can easily see the effects from `maxToRenderPerBatch` when it was `1` when you scroll up and hit the virtualization limit items would be added one by one with a bit of a delay - if you observe the metrics you'll see this actually keeps the CPU busy.
This value configures how many items should be appended at a time once you get near to the `window

[2021-05-04 20:14] ViniSchonardie commented on #2180
Im having some difficulties to reproduce the error on Ipad Pro 9-7 emulator;
But a good option would be to transform the hook to functional component and use this react native hook
import { useWindowDimensions } from 'react-native';
https://reactnative.dev/docs/usewindowdimensions
Its more reliable;

[2021-05-04 20:24] ViniSchonardie commented on #2180
Also, i am watching the React Native changelog, and aparently they made some changes about this on 0.63.4, and the Expensify.cash its on 0.63.3...

https://github.com/react-native-community/releases/blob/master/CHANGELOG.md
Dimension update events are now properly sent following orientation change (0e9296b95d by @ajpaulingalls)
https://github.com/facebook/react-native/commit/0e9296b95da06789121f05

[2021-05-04 20:25] isagoico opened #2685 "Desktop app - Attachment keeps blinking and looks like they failed to upload"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Attachments should always be visible and should not blink.

## Actual Result:
Attachment blinks and looks like they failed to upload.

## Action Perf

[2021-05-04 20:34] marcaaron commented on #2629
This sounds like a different issue.

If by "this" you mean reconfiguring the window options then I'm not sure if I agree with this e.g. if the items themselves were cheaper to render then there might be nothing wrong with the config. So the improvements seem separate, but related to me. Which one would you say is most important and should we prioritize one over the other?

[2021-05-04 20:38] marcaaron commented on #2629
FWIW, with the config options you've shared I'm seeing some pretty weird stuff on desktop and the chat messages jump around wildly while scrolling back. I'll have to test if the same thing happens on native. But the solution to make this platform dependent seems reasonable as we are likely to have less resources to work with on the native side.

[2021-05-04 20:39] kidroca commented on #2629
I mean the Skeletons/Placeholders

The current ticket is about reconfiguring the window options

[2021-05-04 20:39] marcaaron commented on #2629
Actually, the weirdness might have just been my stupid mouse scroll wheel lol

[2021-05-04 20:40] marcaaron commented on #2629
Thanks, so between optimizing the window sizes and batches and optimizing the individual items to render is there one we should focus on more than the other?

[2021-05-04 20:42] marcaaron commented on #2629
This does seem to improve the chat switching time on web as we are not queuing up as many components that are out of view so I think we can try it out?

[2021-05-04 20:46] kidroca commented on #2629
Finding good Virtualization settings should cut memory usage in half and would be quick to address here

Optimizing `renderItem` cannot be done as single handedly and would probably come from a couple of different updates

Even `renderItem` becomes so fast it'll still consume a lot of memory for the pre-rendered stuff

[2021-05-04 20:51] kidroca commented on #2629
I think addressing Chat Virtualization Config would net the most improvements, as you've noticed - less items to pre-render between chat switches is a performance gain as well as a hefty cut to memory used

[2021-05-04 20:52] shawnborton commented on #2666
I can get down with that, but we try to use multiples of 4 for all of our sizing, so I would opt for either 16x16 or even 12x12 for the icon size.

[2021-05-04 20:58] tgolen commented on #2666
OK! I like 16. PR incoming!

[2021-05-04 21:17] marcaaron commented on #2629
Personally, I'd rather address this issue as it looks almost worse than the reduced performance from having a large window size, but is more likely to affect large chats which not everyone has or will be scrolling through... yet! Anyways will let this one go through normal triage.

It's tough to say what the right balance here should be. I'll let others decide how to interpret this one.

[2021-05-04 21:22] marcaaron commented on #2180
What makes it more reliable?

Thanks, but that commit looks like it changed Java code and we are experiencing an issue on iOS.

[2021-05-04 22:08] arielgreen commented on #2500
This has been posted to Upwork [here](https://www.upwork.com/jobs/~0164577b43d5e8de33).

[2021-05-04 22:12] NikkiWines commented on #2149
Oops this shouldn't be closed since my PR didn't fix the whole issue, just part of it.

[2021-05-04 22:13] NikkiWines commented on #2149
@shawnborton those mockups look great, thanks for adding them!!

[2021-05-04 22:19] Hanaffi commented on #2500
@arielgreen  @NikkiWines Can you assign this to me?
I will add additional space after each emoji. Than will fix the issue and show emojis properly.

[2021-05-04 22:26] Hanaffi commented on #2500
### I have solved that issue in my previous project which was a social media app.

![zzz](https://user-images.githubusercontent.com/35642947/117077501-840ab480-ad38-11eb-9e22-daee815000f1.png)

[2021-05-04 22:32] ViniSchonardie commented on #2180
@marcaaron well, even Dimensions documentation discourage you to use.
https://reactnative.dev/docs/dimensions

Dimensions Doc about it:
`useWindowDimensions is the preferred API for React components. Unlike Dimensions, it updates as the window's dimensions update. This works nicely with the React paradigm.`

Also for any of the cases, they advise you to always call the `Dimensions.get('window');`

[2021-05-04 22:37] isagoico commented on #2639
Starting QA!

[2021-05-04 22:51] NikkiWines commented on #2500
@Hanaffi while adding a space does solve the issue, there are certain cases where you wouldn't want to simply append a space (e.g. at the end of a sentence when there are no other characters following it)

I think we're looking for something that would modify the spacing itself when an emoji is used. cc: @stitesExpensify since I know you were involved in the E.cash emoji project.

[2021-05-04 22:59] Hanaffi commented on #2500
@NikkiWines Well, We can just trim the message before sending it (To remove white-space at the end) .
It really does the job and works fine in all cases :)

[2021-05-04 23:10] mallenexpensify commented on #2121
@johncschuster tossing back to you since you were the original auto-assigned triager, can you post to Upwork plz.

[2021-05-04 23:40] isagoico opened #2691 "iOS - Request money - Request button is hidden under keyboard"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Request button should be visible and able to click on it

## Actual Result:
Request button is hidden under keyboard.

## Action Performed:
1. Launch

[2021-05-05 00:27] kavimuru opened #2693 "iOS - Chat - Messages flicker once after message is sent"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Message appears in the chat window with no visual issues

## Actual Result:
The messages in the chat flicker once after the message is sent

## Actio

[2021-05-05 00:42] marcaaron commented on #2180
`useWindowDimensions` is quite similar to the HOC we have created and itself relies on the `Dimensions` so the docs may simply be trying to discourage people from using `Dimensions` without any sort of listener?

See the `react-native` source [here](https://github.com/facebook/react-native/blob/dc80b2dcb52fadec6a573a9dd1824393f8c29fdc/Libraries/Utilities/useWindowDimensions.js#L15-L38)

And our ow

[2021-05-05 00:47] marcaaron commented on #2669
cc @Expensify/design

[2021-05-05 00:48] marcaaron commented on #2620
@jasperhuangg What's the status on this?

[2021-05-05 00:51] marcaaron commented on #2617
I think @coleaeason's guess is right. And we did some work [here](https://github.com/Expensify/Expensify.cash/pull/2616) to prevent excessive network requests from triggering. It should be on staging now if we want to retest this one.

[2021-05-05 01:28] marcaaron commented on #1039
Grabbing this one as it has not been triaged yet.

[2021-05-05 01:30] ViniSchonardie commented on #2180
What i was saying was to make the get at every change besided getting the newDimensions as a parameter...
Equal to what the hook does...
handleChange({window: Dimensions.get('window')});

[2021-05-05 01:34] isagoico opened #2694 "Android - App crashes when tapping back arrow on request money screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
App should work without any issues

## Actual Result:
App crash only when tapping the back arrow.

## Action Performed:
1. Launch the app
2. Log in w

[2021-05-05 01:37] isagoico commented on #2694
Another issue affecting the IOU beta this time only on android, marking as deploy blocker. @Julesssss if you disagree this should be a DB please go ahead and remove the label :)

[2021-05-05 01:42] isagoico commented on #2639
Regression is finished!
Android QA was on **hold** because the latest build was not available for download. https://github.com/Expensify/Expensify.cash/runs/2504796985?check_suite_focus=true

Issues found:
1. https://github.com/Expensify/Expensify.cash/issues/2694 - Possible DB
2. https://github.com/Expensify/Expensify.cash/issues/2693
3. https://github.com/Expensify/Expensify.cash/issues/2691

PR

[2021-05-05 02:33] marcaaron commented on #2180
Ah, OK I finally understand now! Apologies, I missed what was happening in the hook.

So, I don't think it would be terrible to update things to use the hook? But after some quick testing the problem persists after the suggested change.

It is consistently reproducible if we:

1. Start in portrait
2. Switch to landscape
3. Background the app
4. Open again
5. 💥

https://user-images.githubuserconten

[2021-05-05 02:37] marcaaron commented on #2180
I confirmed this [proposal from @tugbadogan](https://github.com/Expensify/Expensify.cash/issues/2180#issuecomment-824475188) does fix the issue. So perhaps that is a clue about how it can happen.

[2021-05-05 05:34] aliabbasmalik8 commented on #2517
@michaelhaxhiu
Thanks for waiting for me but I didn't understand the latest suggested solution so no more interested in this job.
Thanks

[2021-05-05 05:34] RachCHopkins commented on #2149
Oh wow, this literally just appeared on my list today and I have no idea what to do. Let me get up to speed....

[2021-05-05 06:54] TwizzyIndy commented on #2570
I'd make two corrupted images for reproducing the bug from the start.

<img width="328" alt="Screen Shot 2021-05-05 at 13 11 56" src="https://user-images.githubusercontent.com/6712795/117105377-e6e56580-ada3-11eb-9921-f88d4500fec3.png">

First one is completely malformed image, we cant even open it on mac, because I changed Exif byte order in that file.

<img width="283" alt="Screen Shot 2021-05-0

[2021-05-05 07:28] Gonals commented on #2573
I'll grab this, since I plan to touch that code anyways 🤷

[2021-05-05 08:37] kidroca commented on #2629
@marcaaron

I just want to point out this already happens regardless of the changes I've proposed, you just need to scroll 15 pages to the past instead of 5, so by increasing window size we're just covering the issue

---

Did you notice how the content - the actual message, of the action is rendered with a bit of a delay

https://user-images.githubusercontent.com/12156624/117106166-0d95a300-ad88-

[2021-05-05 09:20] Julesssss commented on #2570
The proposed solution looks good, but passing the error onto the user seems like a good addition. I don't believe we have a standard error Dialog yet, perhaps we can [reuse this Alert](https://github.com/Expensify/Expensify.cash/blob/4b4b6fa366222a491db3052cba0a7ca7c38a130d/src/components/AttachmentPicker/index.native.js#L62-L67), with an alternate message.

[2021-05-05 09:22] Julesssss commented on #2694
Thanks, @isagoico. Removing the blocker label as it isn't a common flow yet.

[2021-05-05 09:22] Julesssss commented on #2639
Removed #2694 as this isn't yet a common flow.

[2021-05-05 09:27] kidroca commented on #2520
I've applied for the job on upwork: https://www.upwork.com/ab/proposals/1389874161525932033

[2021-05-05 10:58] Julesssss commented on #2694
Confirmed the crash is occurring on Android, only if the comment is set.

Web is showing a console error at the same place if you quickly navigate back through the steps. Not convinced this is related, but it's the best guess I have currently.

Native device logs aren't helpful, but leaving them here anyway:

<img width="1558" alt="Screenshot 2021-05-05 at 11 54 59" src="https://user-images.github

[2021-05-05 10:58] #2666 closed

[2021-05-05 11:00] Julesssss commented on #2694
I wonder if this is due to Android recycling a view which ReactNative believes still exists. (probably the participants step, as it is pretty stacked with Components)

[2021-05-05 11:03] Julesssss commented on #2694
This also occurs if you request money from a chat (skipping the participants step), so I'm marking the above comment as outdated.

[2021-05-05 11:45] kidroca commented on #2629
@marcaaron
Something that got inspired by the `onLayout` change made here: https://github.com/Expensify/Expensify.cash/pull/2684/files#diff-3d3d60df30d1761a83ff8413b06ecef63fcd0084053cd70d5686098e71d87362R368

Since you're going to have a `onLayout` callback for each item anyway - you can capture the item index and dimensions. Then `getItemLayout` can return the captured layout - similarly to what

[2021-05-05 12:19] michaelhaxhiu commented on #2517
@aliabbasmalik8 no problem and thanks for being responsive. In case you are interested in working another job, please take a look at our [Upwork job list](https://www.upwork.com/ab/jobs/search/?q=Expensify%20React%20Native&sort=recency&user_location_match=2).

@parasharrajat I'm going to assign you and hire you in Upwork, can you please send an offer on the post [here](https://www.upwork.com/jobs/

[2021-05-05 13:06] parasharrajat commented on #2517
@michaelhaxhiu All set.

[2021-05-05 13:08] Julesssss commented on #2664
@puneetlath I can see the UpWork issue was created. Could we hire Viacheslav80, now that they have started the work?

[2021-05-05 13:41] Julesssss commented on #2694
On Second thoughts, we'll leave the IOI blockers internal. Please ignore the label :)

[2021-05-05 13:53] michaelhaxhiu commented on #2517
Hired ✅. Feel free to start on a PR in the next few days @parasharrajat

[2021-05-05 14:12] mallenexpensify commented on #2149
D'oh, I think I messed this up by reassigning to Rachel when I should have added the `External` label instead to get it auto-assigned to a member of the Contributor Management team to get posted on Upwork, sorry.  @kadiealexander, all yours!

[2021-05-05 14:29] trjExpensify commented on #2691
Ah, @shawnborton. Is this something we want to change? As in, it's consistent with closing the keyboard to reveal the confirmation button when changing the profile input here:

![image](https://user-images.githubusercontent.com/16232057/117156327-76dfdb00-adb5-11eb-9b50-e3d47a78dc22.png)

But not with the `Create Group` button here:

![image](https://user-images.githubusercontent.com/16232057/1171

[2021-05-05 14:37] trjExpensify commented on #2693
Dupe of this: https://github.com/Expensify/Expensify.cash/issues/2693

[2021-05-05 14:37] #2693 closed

[2021-05-05 14:46] michaelhaxhiu commented on #2573
Changing to `Daily` per the standard process.

[2021-05-05 14:50] bfitzexpensify commented on #2520
Thanks @kidroca — I've accepted you for the job via Upwork.

[2021-05-05 14:58] TomatoToaster commented on #2540
Didn't get time investigate this yet, but I'm still planning to for now.

[2021-05-05 15:03] shawnborton commented on #2691
I actually think in your first example, it's broken. I think that green button should be sticky to the bottom of the viewport, and when the keyboard is in view, it pushes the bottom of the viewport up so that the green button is always present and right above the keyboard.

[2021-05-05 15:04] trjExpensify opened #2698 "[IOU] Users are able to send payment requests and split bills with Concierge"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Platform - version:**

All platforms - v1.0.37-0

**How to enable the `Request Money` or `Spilt Bills` flow**
As the feature is currently behind a beta, you must perfo

[2021-05-05 15:14] Gonals commented on #2573
PR created. I'm going to hold it until the `mark as unread` one merges (which should be soon), since that one removes a related function.

[2021-05-05 15:15] mallenexpensify commented on #2570
@Julesssss you're OK with hiring @TwizzyIndy in Upwork, correct? Can you reply with a comment to confirm? (emoji reactions won't trigger message for me)

[2021-05-05 15:59] michaelhaxhiu commented on #2573
Good call.

[2021-05-05 16:15] Julesssss commented on #2570
Ah, I'm not the assigned engineer for this issue, so maybe @johnmlee101 would like to confirm... but I think we can move forward here once we confirm that this requirement should be added to the issue:

@TwizzyIndy does that additional requirement make sense to you?

[2021-05-05 16:16] bfitzexpensify commented on #2685
@cead22, I'm having trouble reproducing this. I am on 1.0.37-0, rather than 1.0.36-0, which might explain the difference, but all images seem to be loading fine when I jump around from chat to chat. Can you confirm this is also happening on 1.0.37-0?

[2021-05-05 16:17] TwizzyIndy commented on #2570
Sure. We should make a dialog with alternate message for this kind of error.

[2021-05-05 16:25] mallenexpensify commented on #2180
@marcaaron should we hire @tugbadogan in Upwork for this job?

[2021-05-05 16:32] marcaaron commented on #2180
@mallenexpensify I'm not sure. The solution is a workaround and seems to point to a greater issue in `react-native`. There is still this open issue -> https://github.com/facebook/react-native/issues/29290

We could implement that solution or try to fix it upstream. Anyways, I'll let @deetergp decide what to do from here.

[2021-05-05 16:59] muttmuure commented on #2097
phew, posted

[2021-05-05 16:59] muttmuure commented on #2097
https://www.upwork.com/jobs/~011019e1dd3c19946a

[2021-05-05 17:13] mallenexpensify commented on #1517
@anthony-hull once we've wrapped this one up, can you propose your feature suggestion in #expensify-open-source with the prefix `Feature suggestion:` and cc @iamjacksnick and I on the post?  I imagine we can get sign off on that then you can work on that if you'd like

[2021-05-05 17:15] mallenexpensify commented on #2121
Strike that, I should add the External label to get someone from the CM team assigned, NOT a triager.  Sorry @johncschuster

[2021-05-05 17:19] NikkiWines commented on #2500
@Hanaffi your suggestion fixes the issue superficially but doesn't resolve the underlying issue. We're looking for a proposal that will fix the root of the problem.

[2021-05-05 17:34] NikkiWines commented on #2500
Talked to @stitesExpensify, we think this can be handled in https://github.com/Expensify/Expensify/issues/160734 which will involve resizing emojis anyway. Closing for now.

[2021-05-05 17:34] #2500 closed

[2021-05-05 17:37] tugbadogan commented on #2698
I would like to work on this issue as I was one of the people who requested money for Ice Cream from Concierge while testing IOU flows 😄

## Here's my proposal

We're using `getNewChatOptions` function to filter report list for given input text. We can add an optional param for this function to exclude Concierge from the filtered reports. So, it doesn't appear in selectable reports list.

https://

[2021-05-05 17:39] Hanaffi commented on #2500
@NikkiWines The mentioned issue doesnt exist. May you mention me in it so I can handle it? (Or its for members only? )

[2021-05-05 17:42] isagoico commented on #2639
Starting QA!

[2021-05-05 17:42] tugbadogan commented on #2447
I encountered this issue while testing another code. This is reproducible on older/smaller iPads and this issue is caused by `openByDefault` prop is set for `Drawer.Navigator` in `MainDrawerNavigator` component. When device orientation is changed while a chat is open, this prop is opening the drawer while the route is set for a chat.

I can work on a fix/proposal if you're planning to export this

[2021-05-05 17:44] parasharrajat commented on #2121
It seems like correct behavior. Actually, that chat is currently active(which means if you slide right you would see that report)so it is visible in LHN. if you switch to another chat then it would be removed from LHN.

[2021-05-05 17:44] puneetlath commented on #2664
Done!

[2021-05-05 17:47] NikkiWines commented on #2500
@Hanaffi - that issue links to an internal Expensify issue that is still in the planning phase. If the issue ends up on UpWork, I'll cc you so that you can propose a solution then.

[2021-05-05 19:18] marcaaron commented on #2447
Sounds good @tugbadogan I think it can be `External`

[2021-05-05 19:35] marcaaron commented on #2629
That's true, but we are going to maybe highlight this issue more with this fix. I guess it doesn't really matter much. We'll need to do something about this eventually anyway. In the back of my mind is that we're also discussing the possibility of creating our own `FlatList` which will make tweaks like the ones you're proposing less attractive as a short term fixes.

I did notice that! And that do

[2021-05-05 19:53] trjExpensify commented on #2691
Cool, so for the purpose of the request money & split bills flows the behaviour needs to change in the following places then:

- IOUConfirm page (in both the `request money` and `split bills` flows)
- IOUParticipants page (only applicable in the `split bills` flow where we have the multi-user selector)

Sound about, right?

[2021-05-05 19:56] NikkiWines commented on #2691
This sounds related to https://github.com/Expensify/Expensify.cash/issues/2149, which should have a posting going up on UpWork soon. I'll add this button to the list of buttons to be updated.

[2021-05-05 20:00] NikkiWines commented on #2149
Updated the details for the issue for Upwork/E.cash [here](https://github.com/Expensify/Expensify.cash/issues/2149#issuecomment-831397525) to include the mockups and also a new button that we found that needs to be updated.

@shawnborton did you have an opinion on standardizing background colors for disabled buttons? You can see [here](https://github.com/Expensify/Expensify.cash/issues/2149#issuec

[2021-05-05 20:14] kidroca commented on #2629
@marcaaron
Sorry one last thing regarding implementing a custom `FlatList` for E.cash
These are `VirtualList` props so if the custom flat list wraps a `VirtualList` it can use the same configuration

[2021-05-05 20:19] Luke9389 commented on #2698
Hi @tugbadogan. Thanks for chiming in with this proposal!

I tried testing this on my end and it wasn't workin' for me. Maybe I was holding something wrong.
Have you tested this yourself?

Also, I'm wondering if maybe the more obvious (perhaps even "brute force") approach of editing the Create Menu directly would be better. We could put a check right [here](https://github.com/Expensify/Expensify.c

[2021-05-05 20:23] Luke9389 commented on #2691
Thanks @NikkiWines. I see that you added it to your list [here](https://github.com/Expensify/Expensify.cash/issues/2149#issuecomment-831397525). Should we just go ahead and close this issue then?

[2021-05-05 20:39] marcaaron commented on #2698
@tugbadogan It sounds like that will work to remove Concierge as an option on the `Request` and `Split` flows not tied to any reports:
<img width="376" alt="Screen Shot 2021-05-05 at 10 34 22 AM" src="https://user-images.githubusercontent.com/32969087/117205755-beeb0780-ad8d-11eb-90a5-6444cfc65504.png">
<img width="376" alt="Screen Shot 2021-05-05 at 10 34 40 AM" src="https://user-images.githubuse

[2021-05-05 20:40] marcaaron commented on #2698
Separately, I think we should fix this at the API level so it's also not possible to do at all even if the front end breaks somehow. cc @Julesssss

[2021-05-05 20:45] marcaaron commented on #2629
Thanks, that's good to know. And while it's unknown at this time, one possibility is that we will leave `VirtualizedList` behind and build something even lower level around `ScrollView`.

[2021-05-05 20:58] tugbadogan commented on #2698
That's right! I missed that we skip participant selection if IOU modal is launched within a chat. In addition to my proposal, we can do the following steps;

* As @Luke9389 recommended, we can check if currently viewed report has concierge as a participant to decide if we need to show IOU menu item here.
https://github.com/Expensify/Expensify.cash/blob/b05d83678eecbde2e94e322e26e8ab2c448d58ad/src/

[2021-05-05 20:59] NikkiWines commented on #2691
Yeah I think that makes sense

[2021-05-05 20:59] #2691 closed

[2021-05-05 21:05] kidroca commented on #2629
You'll get nothing more from `ScrollView` but just reinvent the wheel

https://reactnative.dev/docs/scrollview

Whatever you do you'll still need the above optimization and VList/FlatList is just a ScrollView that gives you this out of the box

If you're not satisfied with VirtualList, you won't be able to achieve much more with the ScrollView and just JS code - probably less because of all the JS

[2021-05-05 21:11] parasharrajat commented on #2698
Just a thought,

I think the option should be shown if there are other participants in the report excluding `concierge`.

[2021-05-05 21:15] kavimuru opened #2704 "Unable to create new group"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Group should be created and able to initiate chat

## Actual Result:
Blank screen is displayed. Unable to create a group.

## Action Performed:
1. La

[2021-05-05 21:16] marcaaron commented on #2629
Thanks, let's maybe have this conversation elsewhere.

[2021-05-05 21:18] #1039 closed

[2021-05-05 21:20] iwiznia commented on #2408
@eVoloshchak can you confirm you are working on this?

[2021-05-05 21:24] marcaaron commented on #2698
Sorry, @parasharrajat are you suggesting that users should be able to create a "Split" between Concierge and several participants?

[2021-05-05 21:26] Luke9389 commented on #2698
I think the idea is that you could split among the non-concierge participants.

[2021-05-05 21:27] marcaaron commented on #2698
Oh hmm I think maybe just don't allow it would be simpler. Seems kind of rare that someone would initiate a split request while getting support from Concierge, but interesting idea.

I think throwing the client exception is probably not necessary. We'll just take care of it server side. The rest of the proposal looks good to me.

[2021-05-05 21:36] parasharrajat commented on #2698
Same as @Luke9389 said.

[2021-05-05 21:37] shawnborton commented on #2149
I think I would prefer that we use something like reduced opacity and eliminating mouse/touch events for the disabled states. This way each button state (default or success) always retains its normal styling, but the reduced opacity indicates that it can't be interacted with. Thoughts on that approach?

[2021-05-05 21:41] bfitzexpensify commented on #2447
Posted on [Upwork](https://www.upwork.com/jobs/~01ee9667914966f081).

[2021-05-05 21:49] kavimuru opened #2705 "mWeb -Chat - Weird behavior with 3D Touch on chat screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
A context menu should open without issues

## Actual Result:
Context menu opens with blue flashing or opens with overlapping white background on mWeb

[2021-05-05 21:51] Luke9389 commented on #2698
Good point!

[2021-05-05 22:04] RachCHopkins commented on #2446
Sorry team, for some reason I only could see this GH as of yesterday. Will triage tonight when I can get access to a windows machine.

[2021-05-05 22:07] marcaaron commented on #2694
I can reproduce this pretty easily gonna take a stab at it.

[2021-05-05 22:10] marcaaron commented on #2694
It seems the crash only happens when the software keyboard is open.

[2021-05-05 22:22] RachCHopkins commented on #2679
Will triage tonight when I can get my hands on an Android

[2021-05-05 22:29] marcaaron commented on #2694
Using [`InteractionManager.runAfterInteractions()`](https://reactnative.dev/docs/interactionmanager#runafterinteractions) seems to fix this. Dismissing the keyboard and navigating to the previous step seems to be too much for Android to handle.

[2021-05-05 22:43] mallenexpensify commented on #2447
Interesting that the issue is specific to older iPads, I'm unable to reproduce on v 1.0.38 an iPad Pro (11-inch) on software version 14.4.2

[2021-05-05 22:53] marcaaron commented on #2694
Ah ha. I think it is caused by the dismiss behavior of the screen

https://reactnavigation.org/docs/stack-navigator/#keyboardhandlingenabled

Since the back button is in the left gutter for where the "swipe" occurs the keyboard is dismissed but then reappears when we are transitioning to the next view and then 💥

Fix incoming.

[2021-05-05 23:10] marcaaron commented on #2447
It might also only affect smaller sizes.

[2021-05-05 23:13] deetergp commented on #2180
It feels kinda hacky, but if the problem is with `react-native` core, we can either wait for them to fix it or go with the hack. I think I'm inclined to go with @tugbadogan's workaround.

[2021-05-05 23:21] marcaaron commented on #2180
I'm cool with that as well. What about if we do that but also create a follow up issue to address it later? In this case, it might mean that we just revisit things when  it gets fixed upstream in `react-native` so we aren't sitting around waiting for the fix.

[2021-05-05 23:42] roryabraham commented on #2160
Agreed, feel free to reopen if you see it happen (bonus points if you capture logs :D)

[2021-05-05 23:43] marcaaron commented on #2606
We're ready to go here.

[2021-05-05 23:58] tugbadogan commented on #2447
Yes, this is a problem for devices where `isSmallScreenWidth` is `true` on Portrait mode. I could reproduce it on iPad 5th Generation and iPhone 11.

## Before the fix

https://user-images.githubusercontent.com/3853003/117223646-03b28500-ae06-11eb-8ec9-43425dd6b520.mov

## After the fix

https://user-images.githubusercontent.com/3853003/117223627-f72e2c80-ae05-11eb-8c66-ab5f4793acdd.mov

[2021-05-05 23:58] marcaaron opened #2708 "onEndReached is called twice triggering 2 identical calls to Report_GetHistory"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Only call Report_GetHistory once when we reach the end of a chat

## Actual Result:
It get's called twice

## Action Performed:
1. Scroll to top of l

[2021-05-06 00:00] tugbadogan commented on #2447
I submitted a proposal on Upwork as well.

[2021-05-06 00:28] marcaaron commented on #2447
Interesting find @tugbadogan. To clarify, is the fix is to disable `openByDefault`? If so, I don't think it's acceptable as this is the behavior we want. But maybe we can use some other information to conditionally allow this prop to be set?

[2021-05-06 00:41] tugbadogan commented on #2447
Hmm, that's true. We can use `route` prop that's passed by react navigation and disable `openByDefault` if `route` has a `reportID`.

[2021-05-06 00:49] roryabraham commented on #2570
Just catching up here, but it would be _awesome_ if instead of using the plain `Alert`, we created a standard `Alert` modal. It could be largely copied from [this ConfirmModal](https://github.com/Expensify/Expensify.cash/blob/210f03d2cee4e1c54eb7bb5dd2aca34fa040d6a6/src/components/ConfirmModal.js), except it would only need one button instead of two 🙂

[2021-05-06 01:28] thierrysantos commented on #2673
I have a proposal to fix this issue.

I didn't find where in the code the `react-native-render-html` made it, but it's using the fontSize to define the `marginTop` and `marginBottom` when it properties is not provided.

**Using fontSize 25**

![Screen Shot 2021-05-05 at 21 58 30](https://user-images.githubusercontent.com/14885967/117228992-8defee80-adf0-11eb-8e10-076052566431.png)

**Using fontSiz

[2021-05-06 01:30] isagoico commented on #2704
Console error here
![image](https://user-images.githubusercontent.com/44479856/117229284-b2e06380-ade8-11eb-8752-e884f28c7d07.png)

Will add the deploy blocker label since I was not able to reproduce this on production (web)

[2021-05-06 01:50] isagoico opened #2710 "[HOLD] New chat / New group animation gets stuck"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
New chat or New group get should work smoothly after opened from plus tab

## Actual Result:
New chat or New group get stuck after opened from plus t

[2021-05-06 01:52] isagoico commented on #2639
Regression is finished!
3 issues found
- https://github.com/Expensify/Expensify.cash/issues/2704
- https://github.com/Expensify/Expensify.cash/issues/2705
- https://github.com/Expensify/Expensify.cash/issues/2710

PRs are finished too!
2 comments added
- https://github.com/Expensify/Expensify.cash/pull/2686#issuecomment-833107324
- https://github.com/Expensify/Expensify.cash/pull/2532#issuecomment

[2021-05-06 03:04] parasharrajat commented on #2570
@roryabraham  i think bigger plan is to use growl for errors like these. There is another issue which I am holding till growls are used.

[2021-05-06 03:20] parasharrajat commented on #2160
Thanks @roryabraham .
@NicMendonca I have done a lot of debugging and came up that this issue is not reproducible any more. we waited for sometime if someone has found this issue but still nobody is facing it anymore. Some information could be found here https://github.com/Expensify/Expensify.cash/issues/2160#issuecomment-819117557.

I request you to take action on the Upwork issue as well. We can

[2021-05-06 03:20] jasperhuangg commented on #2521
@stitesExpensify Looks like we need to check the user agent before constructing the `emoji` array, although this might require a bit of a surgery in regards to how you're hard-coding each of the header indices at the moment.

Microsoft is trying way too hard to be PC by not including a single flag emoji 😭

[2021-05-06 03:27] jasperhuangg commented on #2521
@stitesExpensify Looks like we need to check the user agent before constructing [the `emoji` array](https://github.com/Expensify/Expensify.cash/blob/53acb9ce968a9ea3007302e3debb8b2d9a345ebb/assets/emojis.js#L31). Other than that, we'll also need to dynamically generate [the header indices](https://github.com/Expensify/Expensify.cash/blob/53acb9ce968a9ea3007302e3debb8b2d9a345ebb/src/pages/home/repo

[2021-05-06 03:33] jasperhuangg commented on #2620
Oop, sorry I forgot I created this issue; it should have been fixed by https://github.com/Expensify/Expensify.cash/pull/2616. When I tested that PR the issue didn't resurface. Closing this!

[2021-05-06 03:33] #2620 closed

[2021-05-06 04:28] RachCHopkins commented on #2710
Can I just clarify - is this on the iOS app, or is it in the Web app, accessed via iOS? Are we focussing on Safari mobile, here as opposed to the iOS app?

[2021-05-06 04:36] kaushiktd commented on #2570
When attaching a new file or any image, it needs to validate filesize and extension. If you get error, show alert message otherwise upload image:
example:
setResult(attachment) {
   if (attachment && !attachment.error) {
      // code for attach image
   } else {
       // code for show alert message
   }
}

[2021-05-06 04:47] isagoico commented on #2710
Oh yes! Let me fix that.

[2021-05-06 05:13] kadiealexander commented on #2606
Upwork post: https://www.upwork.com/jobs/~0164f5c49a5af1701f

[2021-05-06 05:31] parasharrajat commented on #2606
## Proposal
1. We will modify the SidebarLinks to Listen on the new ONYX key `IS_LOADING_AFTER_RECONNECT` here.
https://github.com/Expensify/Expensify.cash/blob/53acb9ce968a9ea3007302e3debb8b2d9a345ebb/src/pages/home/sidebar/SidebarLinks.js#L177
2. Then we modify the `AvatarWithIndicator` as following:
  a) Add a new prop `isSyncing` which will be `true` based on the ONYX key `IS_LOADING_AFTER_REC

[2021-05-06 06:24] parasharrajat opened #2711 "No client is set as leader to perform tasks."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Users will not be able to see notifications and sync messages back to server.

## Expected Result:
There should always be a leader client.

## Actual Result:
 No notifica

[2021-05-06 06:29] parasharrajat commented on #2711
## Possible solutions.
1. We set the leader of tab focus.
2. we set a timer to check the activeness of the Leader and reset it if it is no more active.

as per the discussion here https://expensify.slack.com/archives/C01GTK53T8Q/p1620240447428100. We should move with first one.

[2021-05-06 07:19] RachCHopkins commented on #2710
Hmmm. Ok I am not getting the same behaviour here. If I choose a person or people whom I have an existing chat with, it's fine. Then I choose a new person I have never chatted to and it is just blank. I refresh and it's back to the chat list view.

If I choose the same person a second time, it does create a new message. Video shows:

1. Message JLi - no issue
2. Message Amal (who I tested with ear

[2021-05-06 07:49] RachCHopkins commented on #2679
Ok, I can't triage this. Have [asked for a volunteer](https://expensify.slack.com/archives/C01SKUP7QR0/p1620287142045800).

[2021-05-06 07:49] stephanieelliott commented on #2673
Job has been posted to Upwork: https://www.upwork.com/jobs/~0104d10bfa31bff5e8

[2021-05-06 07:59] parasharrajat opened #2712 "Uploading a video fails."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
1. A error message should be thrown if video uploading fails.
2. User should not be able to select Mkv videos as they are not supported from the back

[2021-05-06 08:02] RachCHopkins commented on #2446
Ok, so I just can't get past step 2!

_Where is the emoji icon?_

However... I did notice that when I right-click to access the emoji picker it appears at the left, above "write something" and does not change size.

![image](https://user-images.githubusercontent.com/32854888/117262863-cdc4dd80-aea5-11eb-8ae6-27055649b66c.png)

[2021-05-06 08:05] parasharrajat commented on #2712
Reason:
1. Backend does not support MKV files and it throws an error like
[code]

Solution:
1. We should handle the error gracefully here and show an error message to the user that the file is not supported and remove the unsent comment from the Report.
https://github.com/Expensify/Expensify.cash/blob/53acb9ce968a9ea3007302e3debb8b2d9a345ebb/src/libs/actions/Report.js#L931

2. We should update the

[2021-05-06 08:39] parasharrajat opened #2713 "[Network] Order of message sent is incorrect."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
The message should be sent in order as the user sent them.

## Actual Result:
The order of sent messages is changed randomly.

## Action Performed:
#

[2021-05-06 09:19] levchenkx commented on #2673
The root cause of the issue is that <br/> tag is inserted before <pre> tag.

[2021-05-06 09:23] Julesssss commented on #2659
FYI @trjExpensify

I've added this issue to the [IOU parent tracker](https://github.com/Expensify/Expensify/issues/148974).

[2021-05-06 09:44] laurenreidexpensify commented on #2670
@isagoico I'm just testing this and am not sure that this is accurate?

[code]

shouldn't it be?

[code]

[2021-05-06 09:44] Beamanator commented on #2679
I ran the latest dev code (`v1.0.37-1` from yesterday & `v1.0.38-0`) on my Android device and could not reproduce this error 🤔

Next, I ran the latest beta (`v1.0.38-0`) on my Android device and also couldn't reproduce the error.

I see that @isagoico was testing on `v1.0.36-0`, so maybe this got fixed since then?

[2021-05-06 09:48] laurenreidexpensify commented on #2705
I can't replicate this on Android mWeb - gonna see if anyone can replicate on iOS and confirm.

[2021-05-06 10:08] trjExpensify commented on #2659
Cool, sounds good. Agree this is a N5 blocker 👍

[2021-05-06 10:19] laurenreidexpensify commented on #2705
@conorpendergrast if you can repro on iOS let me know! thanks

[2021-05-06 12:43] conorpendergrast commented on #2705
Reproduced on iOS, through Chrome and Safari.

Specifically, after I do a force-touch on a message, the clipboard icon is selected:

![IMG_62C4B251B366-1](https://user-images.githubusercontent.com/5802477/117299459-7d7f5880-ae70-11eb-8a3f-6b66a3d53578.jpeg)

[2021-05-06 13:03] laurenreidexpensify commented on #2705
Thanks sending for Engineering Triage, who can then apply the `External` label

[2021-05-06 15:03] #2452 closed

[2021-05-06 15:27] johnmlee101 commented on #2570
@mallenexpensify @Julesssss  I can confirm for @TwizzyIndy  (was OOO yesterday)

[2021-05-06 15:36] isagoico commented on #2446
@RachCHopkins Emoji feature is available in the staging environment. Just navigate to staging.expensify.cash and you'll see it 😬 .

[2021-05-06 15:38] isagoico commented on #2670
Oh, yes you're right! I copy pasted and didn't add the spaces between them, will fix the main comment. Thanks Lauren 🙇

[2021-05-06 16:03] marcaaron commented on #2704
+1 can reproduce this and it's affecting all platforms

[2021-05-06 16:28] marcaaron commented on #2704
Ok I think this is only affecting chats that are brand new. Does not seem to affect existing chats.

[2021-05-06 16:35] roryabraham commented on #2530
@shawnborton Is there an issue for growls yet?

[2021-05-06 16:42] alex-mechler commented on #2659
Been a minute since I've been in the e.cash code, but I've been itching to get back in so I'll keep this one myself

[2021-05-06 16:55] eVoloshchak commented on #2408
Yes, I'm working on this, planning to submit a PR in a couple of hours.

[2021-05-06 16:57] isagoico opened #2716 "Emoji Picker - Moving by arrow keys will eventually lose focus when reaching last row of emojis"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected result
Focus isn't lost even after reaching the last emoji on the list.

## Actual result
After reaching the last emoji on the list, the focus is not visible

[2021-05-06 17:07] trjExpensify commented on #2659
Baller. That'll be a huge help for N5 bud!

[2021-05-06 17:11] marcaaron commented on #2180
Let's do the fix for now and create an entirely separate issue to track the progress of [this issue](https://github.com/facebook/react-native/issues/29290) ?

[2021-05-06 17:11] mallenexpensify commented on #1517
@shawnborton going to assign to you to take a look at, toss back to Jack once you're done

[2021-05-06 17:33] shawnborton commented on #2530
Issue is here: https://github.com/Expensify/Expensify/issues/159930

[2021-05-06 17:33] tgolen commented on #2705
Looks like a complete issue to me. I'll send to external

[2021-05-06 17:47] kidroca commented on #2531
The document picker library used in the AttachmentPicker is also one version below the latest major version

https://github.com/Expensify/Expensify.cash/blob/718cd65bc13d8b225c550af19280c23809b4f558/package.json#L74

It can be updated as well, but the minimum supported Android API Level should also be updated to 21 (Android 5.0 December 2014) as it's a requirement for v5
https://github.com/rnmods/

[2021-05-06 17:52] shawnborton commented on #1517
I agree, let's make the border color red as well as move the error message directly below the input as well. Thoughts on that?

[2021-05-06 17:55] kidroca opened #2719 "Remove `setTimeout` usage in AttachmentPicker/index.native.js"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
The Attachment Picker modal should work correctly without the need of `setTimeout`

## Actual Result:
`setTimeout` is needed because on iOS the Galle

[2021-05-06 18:15] alex-mechler commented on #2659
@isagoico are you still able to reproduce this? I just tested following the steps and I was not able to. This was in a fresh incognito window

https://user-images.githubusercontent.com/22447860/117346287-69316080-ae5c-11eb-9926-89ce6a81d60c.mp4

[2021-05-06 18:30] cead22 commented on #2685
I couldn't repro on 1.0.38-1

[2021-05-06 19:07] isagoico commented on #2639
Starting QA!

[2021-05-06 19:15] isagoico commented on #2659
I'm unable to reproduce anymore too 🤯 I tried on the same I account I was able to reproduce before and in a new one and nothing. Maybe some change fixed it?

[2021-05-06 19:35] alex-mechler commented on #2659
Ahahahah, it happens. Probably something fixed it unintentionally. If you see this popping back up feel free to reopen it!

[2021-05-06 20:49] #2708 closed

[2021-05-06 20:50] trjExpensify commented on #2659
Happy days!

[2021-05-06 20:53] bfitzexpensify commented on #2685
Sweet, let's close this out then.

[2021-05-06 20:53] #2685 closed

[2021-05-06 23:05] stitesExpensify commented on #2521
Yeah I think the solution would just be something like

[code]

[2021-05-06 23:15] tugbadogan commented on #2698
Thanks for assigning this issue to me, I will send the PR soon.

[2021-05-06 23:24] isagoico opened #2726 "iOS - Log in - Email input is not scrollable"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Email input is scrollable when there's a long email

## Actual Result:
Email input is not scrollable

## Action Performed:
1. Open expensify chat app

[2021-05-06 23:43] marcaaron commented on #2712
Thanks @parasharrajat, but I can't see any reason why we would not support this format 🤔
So we may have to fix it in the backend instead of blocking the user.

[2021-05-06 23:45] marcaaron commented on #2713
Not sure if there's anything we need to do about this right now. Some videos can be slower to upload than other things like comments. Not sure we should block the comment because the video is still uploading. I think this would need to be addressed in the backend if we wanted to do something about it.

[2021-05-06 23:53] isagoico commented on #2639
Regression is finished!
1 issue found today.
1. https://github.com/Expensify/Expensify.cash/issues/2726

PRs are finished too.
No comments added 🎉

Thanks!

[2021-05-06 23:53] marcaaron commented on #1524
As far as I can tell this one looked like it was ready to work on but no one is assigned :)

[2021-05-06 23:55] marcaaron commented on #2710
@RachCHopkins the blank screen thing is a 🐛 so this will probably go back to being weirdly broken again after we fix the other bug.

[2021-05-06 23:56] mallenexpensify commented on #2570
Hired in Upwork and assigned this issue to @TwizzyIndy. @johnmlee101 will review the PR.

[2021-05-07 00:00] isagoico commented on #2184
This is a dup of https://github.com/Expensify/Expensify/issues/154948 closing in favour of that one. Please reopen if needed.

[2021-05-07 00:00] #2184 closed

[2021-05-07 00:00] marcaaron commented on #2710
I think it's possible @parasharrajat's issue and proposals here will also maybe address this -> https://github.com/Expensify/Expensify.cash/issues/2335

Current theory is that these modals get wonky because the animations are driven in the JS and can break when we are doing too much work while transitioning.

[2021-05-07 00:14] Jag96 commented on #2447
@tugbadogan what route prop values will you be using for this? I did a quick test and it looks like the values are pretty much the same on mobile when looking at the chatList and a specific chat, so I'd want to ensure that this proposal won't create a regression there.

iOS on chatList
[code]

iOS on a specific chat
[code]

[2021-05-07 00:22] deetergp opened #2727 "[$16,000] Let's fix a React Native issue -- useWindowDimensions() returns swapped height and width in iOS"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

We have an issue where opening the app in native iOS on an iPad in Landscape orientation, the Chat Selector component is floating in the middle of the screen. We opened

[2021-05-07 00:24] marcaaron commented on #2711
Is it possible to fix [this issue](https://github.com/Expensify/Expensify.cash/issues/2451) without fixing this one first?

It seems the issue you've created proves that the value of `ActiveClientManager.isClientTheLeader()` isn't reliable. So this invalidates your proposed fix in the open PR. Should we maybe put that one on `HOLD` in this case?

[2021-05-07 00:24] davidcardoza commented on #2726
Confirmed I cannot scroll into the text to edit, I am only provided the ability to delete the full-text chain or continue adding to it.
![IMG_6913BC3590E0-1](https://user-images.githubusercontent.com/6643649/117380955-8d169580-aea0-11eb-9ef7-c76ee9d84e96.jpeg)

[2021-05-07 00:25] davidcardoza commented on #2726
This is a good candidate to send off to upwork.

[2021-05-07 00:40] #2694 closed

[2021-05-07 01:21] tugbadogan commented on #2447
Thanks for checking @Jag96, I was assuming that route would change when the drawer is opened on mobile, but it doesn't seem to work that way. I'm looking for an alternative solution now.

[2021-05-07 01:35] jasperhuangg commented on #2521
@stitesExpensify Ah I guess flags are always going to be the last category

[2021-05-07 02:08] RachCHopkins commented on #2679
@isagoico can you still replicate the issue?

[2021-05-07 02:09] RachCHopkins commented on #2710
@marcaaron I can't replicate it. Should I close this for now if we think it will be remedied in due course?

[2021-05-07 02:21] marcaaron commented on #2710
Maybe let's put a HOLD on it instead so we can make sure it gets resolved. I've seen this before, but it can be hard to repro.

[2021-05-07 02:46] parasharrajat commented on #2712
Ok. That is also fine.

[2021-05-07 02:50] parasharrajat commented on #2710
Sure, @marcaaron I believe that If we fix the jank behavior then this would be resolved as well.

[2021-05-07 03:16] parasharrajat commented on #2711
I think changes for this issue will fix the `ActiveClientManager.isClientTheLeader()` mostly and that PR's changes will be needed and they are unrelated. This is a special case but we have to fix https://github.com/Expensify/Expensify.cash/issues/2451 for normal cases as well.

One thing about that PR is that I am adding `isReady` promise for the ClientManager which just tracks the Initialization

[2021-05-07 05:58] #2573 closed

[2021-05-07 07:01] Christinadobrzyn commented on #2097
Alright, @kaushiktd has been hired for this job! 🎉

[2021-05-07 08:02] kaushiktd commented on #2097
Here, it is fixed.
https://drive.google.com/file/d/1C7tjEB2PXyFrSEP0PXsxHVxMesYObSsS/view?usp=sharing

[2021-05-07 09:16] parasharrajat commented on #2713
Mostly I am concerned about the messages that are sent after user comes back online. We can't impose sequencial queue processing as it would be slow. But I think we should store the message based on timestamp or something to retain the order.

[2021-05-07 09:28] anthony-hull opened #2734 "Feature Suggestion: show password toggle on password fields"
View password feature on password fields
## Motivation
Improve accessibility for users.
## Implementation
I think it would be good to replicate the UX of Edge browser where when you type it shows an icon button inside the field to toggle show password.
You should also be able to tab to the icon on desktop to maintain keyboard nav.

Edge cases:
Hiding native view password icon in Edge
Password mana

[2021-05-07 10:08] laurenreidexpensify commented on #2670
Posted to Upwork https://www.upwork.com/jobs/~01cb8e67ca9fcb3510

[2021-05-07 10:23] mikeattara commented on #2670
Hello @roryabraham, I will like to take this on

[2021-05-07 10:31] laurenreidexpensify commented on #2670
@mikeattara Can you please propose a solution here for how you would fix this? Thanks

[2021-05-07 10:57] #2520 closed

[2021-05-07 15:47] joelbettner commented on #2614
I THINK this has the context it needs to be worked on. I don't have the bandwidth to tackle it right atm. Un-assigning myself.

[2021-05-07 15:53] michaelhaxhiu commented on #2614
hm this will fall throught the cracks without re-assignment, going to try to get this back on track for e.cash prioritization.

[2021-05-07 16:01] mallenexpensify commented on #2614
@thienlnam , can I get quick 👀 on this, we want to confirm the issue can be worked on by a contributor.   If so, can you remove your assignment and add the `External` label?  Thanks

[2021-05-07 16:25] roryabraham commented on #2670
_Hint:_ look in https://github.com/Expensify/expensify-common to find your solution

[2021-05-07 16:56] #2441 closed

[2021-05-07 17:07] stitesExpensify commented on #2097
Hi @kaushiktd can you create a pull request and link it to this issue please?

[2021-05-07 17:26] kaushiktd commented on #2097
Pull request or push the code?

[2021-05-07 17:45] marcaaron commented on #2713
Cool thanks! Maybe we can bring this to the Slack channel for discussion and we can see if it would be valuable to implement?

I think others have suggested similar things in the past so probably it will be good to start a conversation about it before proposing a solution.

[2021-05-07 17:51] thienlnam commented on #2614
Yup, it doesn't look like there have been any recent changes on how we get the paginated chats so I think this issue is narrowed down to the React Native side of things

[2021-05-07 18:14] Jag96 commented on #2665
@Viacheslav80 your proposal looks good, I've invited you to accept the job in Upwork and then you can submit a PR.

[2021-05-07 18:31] isagoico commented on #2639
Starting QA

[2021-05-07 18:33] marcaaron commented on #2517
Hello, Sorry I missed this conversation, but I just want to chime in here because I'm a little lost on a few points:

1. It doesn't seem like this issue should require any refactor of `withWindowDimensions` and I'm afraid we are over-engineering this solution.
2. There is no reason to have "a single on dimensions change listener" as no one has asked if there is actual overhead to having multiple.

[2021-05-07 18:35] mikeattara commented on #2670
Thanks 😄

[2021-05-07 18:36] mallenexpensify commented on #1517
@thienlnam can you confirm that @anthony-hull has everything needed to work on this issue? If so, can you first pleas add the `External` label to assign someone to post the job to Upwork then also assign the issue to @anthony-hull .  Thanks

[2021-05-07 18:38] mallenexpensify commented on #2734
Holding until https://github.com/Expensify/Expensify.cash/issues/1517 is closed then I'll start a review.
@anthony-hull I'm going to assign to you for now, can you kick it back to me once 1517 is closed and I'll take it from there?

[2021-05-07 18:40] parasharrajat commented on #2517
@marcaaron Agree. reverting the changes for `withWindowDimensions`.

I will skip this as well.

[2021-05-07 18:44] marcaaron commented on #2517
FWIW there was some previous conversation about refactoring `withWindowDimensions` [here](https://github.com/Expensify/Expensify.cash/issues/2326). But came to the conclusion that it's hard to justify the value.

[2021-05-07 18:46] anthony-hull commented on #1517
Is the job not already created? I've applied to this one.

[2021-05-07 18:52] mallenexpensify commented on #1517
Ooops, good catch @anthony-hull , I forgot the Upwork job was already created :ohnothing:
@anthony-hull you should have everything you need now, post in comment if you don't.  @thienlnam will review any PRs once they're ready.
@puneetlath since I've already been working on this and the job is created in Upwork, I'll take over your 'External' assignment. ie. once this issue has been closed for 7 da

[2021-05-07 18:55] Luke9389 commented on #2606
Hey @parasharrajat, thanks for the proposal. A few quick clarifiers before we get started.

Can you be a bit more specific about how we'll add the icon on line 42? Would we be conditionally rendering the icon vs the view?

I think we could loop @Expensify/design in on whether the icon should be animated. My guess is 'no', but it could be a fun way to make the app a bit '[juicier](https://www.userj

[2021-05-07 19:31] shawnborton commented on #2606
I think we'd like the icon to spin while the content is syncing. From the mockups, it looks like the green dot would become larger, then a content indicator would spin, and then it would stop when it's finished. Happy to make a Figma prototype of this if that's helpful, too.

[2021-05-07 19:37] #2704 closed

[2021-05-07 21:14] Luke9389 commented on #2606
Ok cool! So @parasharrajat, what would be your take on how to implement the animation?

[2021-05-07 22:10] parasharrajat commented on #2606
Yeah so @Luke9389. We can just add something like,
[code]

 Replacing `View` to `Animated.View`.

[2021-05-08 00:46] mallenexpensify commented on #2180
I needed to create a new Upwork job (https://www.upwork.com/jobs/~012e79714137f7faa6), the previous one expired. @tugbadogan I think I invited you in Upwork, can you please confirm here in this GH you're still interested in fixing this **and** also apply in Upwork?   Thanks

[2021-05-08 00:51] isagoico commented on #2639
Regression is finished!
No issues or PR comments were added today 🎉

[2021-05-08 00:55] roryabraham commented on #2639
Since we only have one deploy blocker with a fix already merged, and given that our last successful prod deploy was more than 3 weeks ago, we are going to bend the rules a bit here. I'm going to lock this `StagingDeployCash`, and then we'll wait and see the full list of PRs that were merged while this was locked. If it is just the one that fixes the known deploy blocker, then we'll verify the fix

[2021-05-08 00:59] isagoico opened #2748 "Improve iOS Testflight rollout"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Testflight rollout should be improved.

## Actual Result:
Some users have the old version

## Action Performed:
N/A

## Workaround:
Can the user stil

[2021-05-08 01:17] isagoico commented on #2679
I was unable to reproduce this issue in the lates build 1.0.41-0. Closing. Will reopen if we face this again.

[2021-05-08 01:17] #2679 closed

[2021-05-08 01:28] roryabraham commented on #2639
Okay, so we verified that the deploy blocker is resolved on all platforms cc @isagoico

Soooo let's do this thang

[2021-05-08 01:28] #2639 closed

[2021-05-08 01:30] OSBotify opened #2751 "Deploy Checklist: Expensify.cash 2021-05-08"
**Release Version:** `1.0.44-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/2252
- [x] https://github.com/Expensify/Expensify.cash/pull/2320
- [x] https://github.com/Expensify/Expensify.cash/pull/2680
- [x] https://github.com/

[2021-05-08 02:23] tugbadogan commented on #2180
Thanks for the invitation @mallenexpensify , I've now applied via Upwork.