[2022-05-14 13:42] thesahindia commented on #8927
### Proposal
When we remove a member [removeMembers](https://github.com/Expensify/App/blob/572f6cb1b161fbb90fad17569f10c4af4926e773/src/libs/actions/Policy.js#L287) function gets called and inside it we update the policy after removing the users using `Onyx.set`
https://github.com/Expensify/App/blob/572f6cb1b161fbb90fad17569f10c4af4926e773/src/libs/actions/Policy.js#L296-L302

We are doing the sam

[2022-05-14 14:11] mdneyazahmad commented on #7917
I am sorry for the delay PR is almost ready.

[2022-05-14 15:54] kavimuru opened #9018 "Chat - Text (archived) is not translated in Spanish after switch language setting"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue is found when executing the PR #8436
## Action Performed:
1. Go https://staging.new.expensify.com/

2. Log in with expensifail account A
3. Create a Workspace
4. In

[2022-05-14 16:21] kavimuru opened #9019 "Chat - County code displayed for phone account in chat header"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #8436
## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Search the phone account (Account D)
4. Select phone acc

[2022-05-14 18:28] JediWattson commented on #7862
# Proposal

## Data flow

Use the navigator to retrieve the reportId from within the ImageRenderer.
`Navigation.getActiveRoute().replace('/r/', "")`

This allows the modal to use Onyx and retrieve the reportActions for the proper id. From here a function called `show` is called when an image is pressed inside a chat, which can be used to create an array of attachment urls from the reportActions da

[2022-05-14 18:56] roryabraham opened #9020 "Boolean Offline Status"
This issue is intended to be the sole issue associated with the [Boolean Offline Status design doc](https://docs.google.com/document/d/1r9tM7zRRC12gUWPibo_O0sZgyYxoogQNvrKz14SyEds/edit#).

Please reference the document for the complete problem statement and detailed implementation plan.

### Problem
Parts of our app are reliant upon a 3rd-party service called Pusher to communicate with our servers

[2022-05-14 19:14] mvtglobally commented on #8991
@chiragsalian  @roryabraham  Regression is complete. We are finishing up CP retests now
Deploy Blockers
https://github.com/Expensify/App/issues/8992
 https://github.com/Expensify/App/issues/8996
 https://github.com/Expensify/App/issues/8997
 https://github.com/Expensify/App/issues/9004

 PR #8436 is failing due to https://github.com/Expensify/App/issues/9004, https://github.com/Expensify/App/issue

[2022-05-14 20:06] Santhosh-Sellavel commented on #7862
@JediWattson
Seems you are new here, welcome!
Thanks for your interest to solve this, the results look promising!

Would you please elaborate more on technical code changes? so that I can review the proposal.

Look at this past [jobs](https://github.com/Expensify/App/issuesq=is%3Aissue+is%3Aclosed+label%3A%22Awaiting+Payment%22) as a reference to write proposals!

And If you haven’t already, check

[2022-05-14 20:10] Santhosh-Sellavel commented on #8132
Not overdue, on hold.

[2022-05-15 03:48] mvtglobally commented on #8991
Checking off https://github.com/Expensify/App/issues/8994, https://github.com/Expensify/App/pull/8993, https://github.com/Expensify/App/pull/9002
https://github.com/Expensify/App/issues/8996
Tested https://github.com/Expensify/App/pull/8998 and its Pass

[2022-05-15 10:08] rushatgabhane commented on #7352
@kadiealexander this issue should be setttled on May 20.
PR https://github.com/Expensify/App/pull/8743 was deployed to production on May 13.

[2022-05-15 10:12] rushatgabhane commented on #7644
PR #8743 hit production 2 days ago.

[2022-05-15 10:53] parasharrajat commented on #8663
Ok, I see. There is a small difference between chrome and firefox but that could be due to browser differences. On Chrome, the End of the pasted text is at the middle row on the Composer when content is bigger than the composer viewport. But that is fine IMO.

One change I would request is _Instead of using `this.focus`, we can use `this.textinput.focus`_.

so I like @b1tjoy's [fourth](https://git

[2022-05-15 11:05] parasharrajat commented on #8612
@b1tjoy's proposal looks good to me. I liked the attention to detail. It is handling all the possible key shortcuts for scrolling that will be needed.

cc: @roryabraham

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-05-15 11:12] parasharrajat commented on #8655
@eVoloshchak Could you share a video showing the effect of the new change? Please use a combination of messages in any chat and scroll to show those messages in the video. Thanks.

[2022-05-15 11:23] rushatgabhane commented on #8158
@aneequeahmad you're right! issue is reproducible on production.
`mWeb` v1.1.57-17
iPhone 13 - iOS 15.4

<img width="306" alt="image" src="https://user-images.githubusercontent.com/29673073/168469970-00063e19-1ddf-497f-9e1a-13f1bd21543e.png">

[2022-05-15 11:24] rushatgabhane commented on #8158
@aneequeahmad Please raise a PR as soon as you can. Thanks!

[2022-05-15 17:20] mananjadhav commented on #8849
@aswin-s @iwiznia Can you help with the above comment?

[2022-05-15 18:16] Santhosh-Sellavel commented on #8595
@tgolen
@frenkield Proposal LGTM!
🎀👀🎀 C+ reviewed

I believe we should have option where user can enter password and view pdf while sending a password-protected pdf, also skip and just send it anyway! So no need to disable send button.

[2022-05-15 18:21] Santhosh-Sellavel commented on #8935
@MarionRosete @Subash-G
Would you please elaborate on technical code changes, why this occurs or what causes the issue? so that I can review the proposal.

Look at this past [jobs](https://github.com/Expensify/App/issuesq=is%3Aissue+is%3Aclosed+label%3A%22Awaiting+Payment%22) as a reference to write proposals!

And If you haven’t already, check out our [contributing guidelines](https://github.com/

[2022-05-15 18:30] eVoloshchak commented on #8655
Sure thing

Web:

https://user-images.githubusercontent.com/9059945/168488195-55528d52-1540-4123-a1f2-0f9080120089.mp4

Android

https://user-images.githubusercontent.com/9059945/168488217-981e5d12-2328-4d44-b09e-0b149d25b10e.mp4

[2022-05-15 18:41] mananjadhav commented on #8927
@thesahindia I went through your profile. Based on what I see, `policyEmployeeRemoved` is an event subscribed via `Pusher`, so I am guessing it is to sync between devices. If we remove this, it might not sync.

[2022-05-15 19:27] eVoloshchak commented on #8849
@mananjadhav
As per [this](https://github.com/Expensify/App/issues/5193#issuecomment-974754218) comment:

[2022-05-15 19:53] roryabraham commented on #8994
Looks like this passed QA

[2022-05-15 19:53] #8994 closed

[2022-05-15 19:54] roryabraham commented on #8996
I believe this is fixed now, closing it out.

[2022-05-15 19:54] #8996 closed

[2022-05-15 19:54] roryabraham commented on #8997
This is fixed now

[2022-05-15 19:54] #8997 closed

[2022-05-15 19:54] roryabraham commented on #9004
This is fixed now

[2022-05-15 19:54] #9004 closed

[2022-05-15 19:54] mananjadhav commented on #8849
Thanks for the comment @eVoloshchak. I read through the history of the issues. I get we're using `react-native-image-size` to get the `Image.getSize` function.  But we're trying to remove it here, so just want to ensure we don't break anything. Please bear with me for 1 day, or I'll get this checked internally.

[2022-05-15 19:56] roryabraham commented on #8991
Looks like we may need to retest:

- #8436
- #8992

[2022-05-15 22:03] aneequeahmad commented on #8158
@rushatgabhane got it. Raising a PR ASAP. Thanks

[2022-05-15 22:27] roryabraham commented on #9003
I recommend that we close this issue for the sake of #focus. It's a very minor visual bug

[2022-05-15 22:34] roryabraham commented on #9008
I recommend that we just close this. I don't think sending a message with just an empty code block is really an important use case.

[2022-05-15 22:35] roryabraham commented on #9009
I recommend putting this on HOLD while I continue working on https://github.com/Expensify/App/pull/7702

[2022-05-15 22:38] roryabraham commented on #9010
Seems like [this crash](https://console.firebase.google.com/u/1/project/expensify-chat/crashlytics/app/android:com.expensify.chat/issues/6b16c2248fae75df31013c91848765c1?time=last-seven-days&sessionEventKey=627EF7DE022100017B6B5DBDDC50E926_1675828285970791263) is relevant

[2022-05-15 22:49] roryabraham commented on #9010
Found a couple seemingly related issues:

- https://github.com/joltup/rn-fetch-blob/issues/694
- https://github.com/joltup/rn-fetch-blob/issues/236

[2022-05-15 22:56] frenkield commented on #8595
Thanks, @Santhosh-Sellavel.

[2022-05-15 22:58] roryabraham commented on #9014
This is a duplicate of https://github.com/Expensify/App/issues/5894 – the attempted solution `iosSafariAutoScrollback` never really worked and created other issues, so was reverted [here](https://github.com/Expensify/App/pull/8571).

There's some relevant info [here](https://blog.opendigerati.com/the-eccentric-ways-of-ios-safari-with-the-keyboard-b5aa3f34228d)

[2022-05-15 23:00] roryabraham commented on #5894
Reopening this.

[2022-05-15 23:00] roryabraham commented on #9014
Going to close this out as a dupe and reopen https://github.com/Expensify/App/issues/5894

[2022-05-15 23:00] #9014 closed

[2022-05-15 23:01] roryabraham commented on #9015
Not sure if this is worth fixing, tbh

[2022-05-15 23:04] roryabraham commented on #9017
This is not a bug, it's how the feature was designed.

[2022-05-15 23:04] #9017 closed

[2022-05-15 23:41] roryabraham commented on #9018
The solution to this issue should use `ReportUtils.getReportName` to populate the report names in `SidebarLinks`

[2022-05-15 23:43] roryabraham commented on #9019
Not sure if this is a problem actually.

[2022-05-16 00:56] roryabraham commented on #8060
I'm not sure this is really possible using ESLint. Individual rules cannot access the filesystem or be compared to their neighboring files AFAICT.

[2022-05-16 01:04] Christinadobrzyn commented on #8422
It looks like we're going to have a method for users to invite others via chat which should be a good solution to this. Closing for now. I'll keep an eye on this to see if it would still be applicable after we roll out chat.

[2022-05-16 01:04] #8422 closed

[2022-05-16 01:07] mvtglobally commented on #8991
https://github.com/Expensify/App/pull/8436 was failing due to https://github.com/Expensify/App/issues/9004. Since its resolved, I think we can check off. Let me know what do you think @roryabraham https://github.com/Expensify/App/issues/9009, https://github.com/Expensify/App/issues/9005 are not blockers (same PR)

https://github.com/Expensify/App/issues/8992 is pass, checking off

[2022-05-16 01:13] roryabraham commented on #8060
I think the best / closest we could do would be a custom Node.js script that:

1. Finds all directories that have multiple `index.js`, `index.native.js`, etc...
1. Parse each such file using an AST parser like [acorn](https://github.com/acornjs/acorn/tree/master/acorn)
1. For each file, find the names of all named exports in the AST produced by the parser.
1. Throw an error if there are named expo

[2022-05-16 01:28] Christinadobrzyn commented on #8979
Posted in Upwork

Internal posting: https://www.upwork.com/ab/applicants/1526011440135159808/job-details
External posting: https://www.upwork.com/jobs/~01a415773fa9074ac3

[2022-05-16 02:16] mdneyazahmad commented on #8426
@adelekennedy applied

[2022-05-16 04:15] Subash-G commented on #8935
Hi @Santhosh-Sellavel

The given past proposal link is not working. Can you send me again?

[2022-05-16 04:19] ahmdshrif commented on #6883
@parasharrajat
why not use the key-command lib for ios and react-native-key-event for android (it works for android only ).
https://github.com/Yufeikang/react-native-key-event

if you ok with this approach I can make POC.

there is also library support both but after the test. it's not working fine for multiple keypresses on ios.
https://github.com/kevinejohn/react-native-keyevent

[2022-05-16 04:33] Christinadobrzyn commented on #5894
Hey @roryabraham just catching up here, it looks like the fix for this was reverted due to subsequent bugs? Should I create a new Upwork job or are we going to fix this internally?

[2022-05-16 04:45] techievivek commented on #8995
Picking it up for myself to work on. Thanks

[2022-05-16 04:51] techievivek commented on #9013
Looking into it today as I was ooo last week.

[2022-05-16 04:57] Santhosh-Sellavel commented on #8956
If this issue requires expensifail account then how the issue can be solved by external?

@stitesExpensify

[2022-05-16 05:01] Santhosh-Sellavel commented on #8935
updated the link @Subash-G

[2022-05-16 05:41] rushatgabhane commented on #8956
@Santhosh-Sellavel if I'm not wrong, anyone can make an account on https://expensifail.expensify.com/

[2022-05-16 05:48] bfitzexpensify commented on #7625
Deployed to production 3 days ago. Updating title to remind myself to pay @thesahindia on 5/20 if there are no regressions.

[2022-05-16 05:52] kadiealexander commented on #7352
Thanks @rushatgabhane!

[2022-05-16 06:09] kadiealexander commented on #7432
@pecanoro did you get a chance to take a look at this one?

[2022-05-16 06:10] kadiealexander commented on #8545
@Santhosh-Sellavel any thoughts on the above?

[2022-05-16 06:33] MonilBhavsar commented on #8589
Same ^

[2022-05-16 06:56] parasharrajat commented on #6883
@ahmdshrif we already have good proposals and I am confident to go either of those. Thanks for your interest.

[2022-05-16 07:03] allroundexperts commented on #8956
@rushatgabhane Registering there does not result in a the correct permissions for this ticket.

[2022-05-16 07:11] rushatgabhane commented on #8956
True. Need an account which is on policyExpenseChat beta.

[2022-05-16 08:14] madmax330 commented on #8934
This should be an easy fix

[2022-05-16 08:15] madmax330 commented on #8933
should be pretty straightforward

[2022-05-16 08:50] SumitDiyora commented on #8777
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - #8789, #8796, #8801, #8803, #8805, #8813, #8830, #8836, #8853, #8854, #8857, #8858, #8862, #8906, #8909, #8912, #8916
Logged Issues - #8778, #8788, #8795, #8802, #8808, #8813, #8815, #8816, #8818, #8826, #8827, #8828, #8834, #8837, #8839, #8844, #

[2022-05-16 09:23] eVoloshchak commented on #8979
**Proposal:**
1. In [EmojiPickerMenu/index.js](https://github.com/Expensify/App/blob/main/src/components/EmojiPicker/EmojiPickerMenu/index.js) implement method for getting currently selected emojis
[code]
2. Change ['Enter' key listener ](https://github.com/Expensify/App/blob/572f6cb1b161fbb90fad17569f10c4af4926e773/src/components/EmojiPicker/EmojiPickerMenu/index.js#L144)to this
[code]
3. Change

[2022-05-16 09:33] yulafezmesi commented on #8979
just a bit of advice @eVoloshchak , the user will not able to select these titles. you can add `user-select: none` property to it.

[2022-05-16 09:39] trjExpensify commented on #8915
Not overdue, Melvin. Proposals being discussed!

[2022-05-16 09:41] Beamanator commented on #8469
Not overdue, PR is on staging 👍

[2022-05-16 09:42] eVoloshchak commented on #8979
That works, thak you!

[2022-05-16 09:43] Beamanator commented on #8005
@Santhosh-Sellavel can you please review the proposal ^ ?

[2022-05-16 09:46] MonilBhavsar commented on #8930
@kbecciv, can you please confirm - In Slack, Preferences > Advanced > Format messages with markup is checked?
I can't seem to reproduce the issue with that setting toggle on.

[2022-05-16 10:48] parasharrajat commented on #7185
Ok, I am looking into this. But I found few inconsistencies.
1. When a user enters the wrong password. Response does not contain the title for error.
[code]

[2022-05-16 10:50] parasharrajat commented on #7185
I will update the PR based on the decision.

[2022-05-16 11:13] Justicea83 commented on #8933
picking this up

[2022-05-16 11:26] WelbexIT commented on #7470
Hi! Uploaded our solution, waiting for approval. Sent proposal to Upwork

[2022-05-16 11:45] mananjadhav commented on #7470
Hi, @WelbexIT,
Please take a look at the [contribution guidelines](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md). You need to send a proposal here, with how you plan to solve this with the technical details. One of the team members will review it here in Github and once approved, you'll be hired via Upwork to start working on it.

[2022-05-16 12:07] rushatgabhane commented on #8979
Wait, what? I don't agree with the expected result.
Is selecting multiple emojis a feature anyone would ever use? How about we do nothing here?

cc: @marcaaron

[2022-05-16 12:36] rushatgabhane commented on #8362
@Beamanator I don't know why it works, but the fix suggested by @sobitneupane is simple https://github.com/Expensify/App/issues/8362#issuecomment-1124980854

There should be no regressions because currency selection page just sets a value in Onyx.

[2022-05-16 13:16] NicMendonca commented on #8722
@Santhosh-Sellavel @luacmartins just confirming if this is still on hold?

[2022-05-16 13:38] arosiclair commented on #9008
I'll attempt to reproduce this with the latest on `main`, but I agree this doesn't need a new issue. The original issue #8720 is still open.

[2022-05-16 13:42] parasharrajat commented on #7497
@orkunkarakus I just noticed one thing that I forgot to mention during the PR review.
when we are scrolling the chat list via wheel and mouse comes over the code block, the scroll is blocked.

As the regression period is still active, could you please submit a PR to fix that?

The expected behavior would be when the user is scrolling horizontally, only then code block should scroll and scrolling c

[2022-05-16 13:52] luacmartins commented on #8731
Still looking for proposals!

[2022-05-16 13:53] parasharrajat commented on #8655
Ok, looking good to me. Go ahead create the PR.

[2022-05-16 14:25] robertjchen commented on #8420
On the list for this week

[2022-05-16 14:32] laurenreidexpensify commented on #8358
Hmmm this was deployed to prod [3 days ago](https://github.com/Expensify/App/pull/8689#issuecomment-1126225847) - hopefully the automation will kick so we can issue payment 7 days from that, assuming no regressions. for some reason botify hasn't kicked in. Watching this for another day to see if that happens.

[2022-05-16 14:45] rushatgabhane commented on #7909
@mateusbra one small problem here is that there could be other links (now or in future) that use expensify.com
Can you please find out what else uses expensify.com

Is there a better way to handle this?

[2022-05-16 14:57] arosiclair commented on #9008
Follow up: it looks like this issue was duplicated and worked on at the same time in #7971 and #8720. The first issue added logic to disable the send button in this scenario. In the second I added logic to allow you to successfully send this kind of message. I would argue that disabling the send button is no longer necessary for this.

[2022-05-16 15:31] neil-marcellini commented on #7007
I'm adding some labels that never got applied.

[2022-05-16 15:36] tgolen commented on #8595
Yep, I'm all fine with giving the 🟢  to move forward with the PR and the rest of the review can happen there.

[2022-05-16 15:40] eVoloshchak commented on #8655
PR is up

[2022-05-16 15:47] orkunkarakus commented on #7497
@parasharrajat Since the update is currently in staging, should I create a new branch from staging or through the old merged branch ([orkunkarakus:fix/7497-LongLinesInCode](https://github.com/orkunkarakus/Expensify/tree/fix/7497-LongLinesInCode)) ?

[2022-05-16 15:50] adelekennedy commented on #8426
@mdneyazahmad hired!

[2022-05-16 15:52] adelekennedy commented on #8292
still waiting @anboia any movement here?

[2022-05-16 15:54] rushatgabhane commented on #8851
Sorry for getting to this so late, [I was OOO](https://expensify.slack.com/archives/C02NK2DQWUX/p1652282380139939?thread_ts=1652277963.845719&cid=C02NK2DQWUX).

Issue is not reproducible on v1.1.57-17, Android 12.

[2022-05-16 15:55] parasharrajat commented on #8292
I am open to proposals.

[2022-05-16 15:57] parasharrajat commented on #8541
Open to proposals.

[2022-05-16 16:07] Justicea83 commented on #8933
picking this up

[2022-05-16 16:08] Justicea83 commented on #8934
Yes

 @laurenreidexpensify I wanna take it on

[2022-05-16 16:20] anboia commented on #8292
### Proposal

instead of using `autoFocus`, manually focus using the `focus(true)` function. Passing 'true' will delay the focus by 100ms, this function is also used to focus, after closing the emoji modal.

<img width="947" alt="image" src="https://user-images.githubusercontent.com/4477665/168635678-cc51b0f7-ab02-4996-b5e1-43738dd12ca8.png">

there is only one downside here, calling `focus()` doe

[2022-05-16 16:25] parasharrajat commented on #7855
No update for now. Need to try the suggestion.

[2022-05-16 16:25] orkunkarakus commented on #7497
@parasharrajat You're welcome. I opened the PR https://github.com/Expensify/App/pull/9026

[2022-05-16 16:27] AndrewGable commented on #8991
Looks like only one QA remains before deploying? Let me know!

[2022-05-16 16:27] eVoloshchak commented on #8851
@rushatgabhane

Tested again with v1.1.57-17, here are the results

OnePlus6, Android 11 - reproducible
LG G7,  Android 10 - reproducible
Pixel 3a XL, Android 12 * - not reproducible
OnePlus 8T, Android 11 * - not reproducible
Pixel 6 Pro, Android 12 * - not reproducible
Pixel 3, Android 9 * - not reproducible

But, all of the devices marked with an asterisk are the devices I tested on Amazon's De

[2022-05-16 16:29] metehanozyurt commented on #8934
## Proposal
### Cause

When we press enter button goes focus:visible state.

related style here:

https://github.com/Expensify/App/blob/eddcc0f167ad05f0bc794cf81e7c30a0020226c0/web/index.html#L35-L38

### Solution
when button disable we can pass this style `boxShadow: 'none'`.
[code]

https://user-images.githubusercontent.com/6093207/168638280-65b88e0d-c562-4894-9335-b7954df9118f.mp4

[2022-05-16 16:29] anboia commented on #8292
The problem with `autoFocus` is also that, it does not wait for the screen navigation ends. Once an element gets focused, on ios, the elements get visible, skipping the animation end, as @parasharrajat mentioned here https://github.com/Expensify/App/issues/8292#issuecomment-1110242829

With manual focus, we can trigger the focus only after animation (`InteractionManager.runAfterInteractions`)

[2022-05-16 16:40] mvtglobally commented on #8991
Done 🚀

[2022-05-16 16:42] MitchExpensify commented on #8841
Doubled!

[2022-05-16 16:42] AndrewGable commented on #8991
:shipit:

[2022-05-16 16:42] #8991 closed

[2022-05-16 16:58] roryabraham commented on #8060
I think that since we can't use ESLint for this, it's going to be more complex than is worth it. Going to just close this out for now.

[2022-05-16 16:58] #8060 closed

[2022-05-16 17:04] michaelhaxhiu commented on #8994
Yep! So here's what we should have:

@Santhosh-Sellavel - $250 for reporting the bug
@thesahindia - $250 for assisting in finding/fixing the deploy blocker

Can you both please apply to the upwork job [**here**](https://www.upwork.com/jobs/~0185f28766a8bdf0bc)

[2022-05-16 17:15] MitchExpensify commented on #7435
Same as above

[2022-05-16 17:21] mananjadhav commented on #8119
@JmillsExpensify I couldn't apply on Upwork for C+ as it says Job expired. Would you be able to help with this?

[2022-05-16 17:23] mananjadhav commented on #7307
@thienlnam @JmillsExpensify This went to production 3 days back, but the payment date wasn't updated.

[2022-05-16 17:51] Santhosh-Sellavel commented on #8005
@Beamanator
The [proposal](https://github.com/Expensify/App/issues/8005#issuecomment-1124900679) mostly looks good. i.e simple enough to handle the beta checks. Just worried about non-sync with LHN. Since there are few other filtering conditions to consider in the report for options.

On second thought I feel these beta checks should be enough for now, for a fail-safe we could use the below check

[2022-05-16 17:57] Santhosh-Sellavel commented on #8994
Applied, thanks!

[2022-05-16 17:59] Santhosh-Sellavel commented on #8996
@NicMendonca Ping for Upwork, fixing the deploy blocker!

[2022-05-16 18:06] neil-marcellini commented on #8423
I put up that draft PR and I'm working through problems as they arise. Once I get it working well on web / desktop I will work on the mobile implementations.

[2022-05-16 18:07] Santhosh-Sellavel commented on #8934
@thienlnam If @Justicea83  wanna take this one then we can remove the external & help wanted label here, can you confirm this?

cc: @laurenreidexpensify

[2022-05-16 18:09] thesahindia commented on #8994
Done ✅

[2022-05-16 18:14] Santhosh-Sellavel commented on #8934
Also, there are couple more issues I saw on slack
1 - https://expensify.slack.com/archives/C01GTK53T8Q/p1652631140387289
2 - https://expensify.slack.com/archives/C01GTK53T8Q/p1652632605348319

Both seem related to this issue since the unnecessary focus is set to buttons in all the cases.

Another common thing all happens Safari Web
cc: @thienlnam

[2022-05-16 18:26] OSBotify opened #9037 "Deploy Checklist: New Expensify 2022-05-16"
**Release Version:** `1.1.61-3`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/8754
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/8765
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/8896
  - [x] QA

[2022-05-16 18:26] adeel0202 commented on #8934
@Santhosh-Sellavel, this issue occurs on chrome web as well. The two other issues occur only on safari web.

[2022-05-16 18:31] thienlnam commented on #8126
@parasharrajat any comments on the above?

[2022-05-16 18:33] parasharrajat commented on #8126
I will update you by tomorrow. I need to test a few things.

[2022-05-16 18:44] gladiator-1 commented on #7835
it is a back-end issue, you can fix it by following [this blog](https://blog.logrocket.com/streaming-video-in-safari/), it worked fine on safari browser without any issues.

you can test using this endpoint `https://lionfish-app-nvp9x.ondigitalocean.app/video?uri=`, i will let it for one day if someone would like to test.

https://user-images.githubusercontent.com/102553449/168660719-8718435e-e05c

[2022-05-16 18:52] luacmartins commented on #7916
@mdneyazahmad is [this issue](https://github.com/Expensify/App/issues/8934) being addressed in one of your PRs?

[2022-05-16 19:04] Santhosh-Sellavel commented on #7862
@JediWattson
I appreciate your effort, Sorry I am not able to follow you completely.
Can share the full proposal or elaborate a bit more clearly.

Example:
1. Let's make a new Carousel Component to cycle to the images.
[code]
2. Use it in the `Existing`  component Image, making the following changes.
[code]
.....

[2022-05-16 19:11] thienlnam commented on #8361
We're going to be revisiting a solution for group chats since currently with the fix it shows the name of the user that last sent a message and then no message which seems like a bug.

[2022-05-16 19:16] Santhosh-Sellavel commented on #8934
https://github.com/Expensify/App/issues/8935 This might be related to @Justicea83

[2022-05-16 19:47] OSBotify commented on #9037
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.61-3 :rocket:

[2022-05-16 20:04] mvtglobally opened #9040 "PR33748 test issue"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

##

[2022-05-16 20:05] mvtglobally commented on #9040
## proposal

[2022-05-16 20:05] Santhosh-Sellavel commented on #8545
Will get to this in a couple of days, sorry for the delay!

[2022-05-16 20:05] mvtglobally commented on #9040
# *Proposal*

[2022-05-16 20:06] mvtglobally commented on #9040
## **Proposal**

[2022-05-16 20:08] stitesExpensify commented on #8503
@mrousavy just for clarity on this issue, where is it currently prioritized?

[2022-05-16 20:20] kavimuru opened #9041 "mWeb / Chrome - Blue outline focus isn't disappeared"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #8765
## Action Performed:
1. Go to staging.new.expensifail.com
2. Log in with any account
3. Go to Settings --> Preferences
4. Change the

[2022-05-16 20:27] Santhosh-Sellavel commented on #8661
Able to reproduce this one,

Uploading Screen Recording 2022-05-17 at 1.55.25 AM.mov…

[2022-05-16 20:45] michaelhaxhiu commented on #8994
Paid both!

[2022-05-16 20:48] tgolen commented on #8888
OK, awesome. Thank you! Which proposal do you prefer? I think for me, the order of preference would be 3 > 2 > 1.

[2022-05-16 20:51] #6896 closed

[2022-05-16 20:52] chiragsalian commented on #8956
Just share any test email with us (it can be gmail or anything) and we can add anyone to the `policyExpenseChat` and `policyRooms` beta.

[2022-05-16 20:54] chiragsalian commented on #8956
Also i think there is a mistake in this [code](https://github.com/Expensify/App/blob/df58956f8fb1992378fa5c64150916675073d4b2/src/libs/Permissions.js#L78)
it should be,
[code]
so that while developing its true for everyone.

[2022-05-16 20:57] allroundexperts commented on #8956
`allroundexperts+4@gmail.com`

[2022-05-16 20:59] kavimuru opened #9042 "Web - Only one Payload formdata with name:expensify_freePlanBankAccountID toggling offline/online in workspace settings"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #8946
## Action Performed:
1. Launch the NewDot login
2. Click on your profile pic and then click on your Workspace
3. Click on General Set

[2022-05-16 21:03] chiragsalian commented on #8956
Added, it might take 2-5mins to reflect and you might need to logout/login to see the change.

[2022-05-16 21:05] jrstanley commented on #8888
@tgolen I share the same preference as you, however I think there is a practical issue that - right now - I can't think around with 3. It's the case where you `npm install` and it correctly installs `react-native-web`, I don't think there's a reliable way to determine whether or not the installed version is "correct" (without hard-coding hashes) to then decide whether or not to clear the directory

[2022-05-16 21:10] michaelhaxhiu commented on #8850
@NikkiWines lil bump - are we good to proceed with what has been clarified and proposed?

[2022-05-16 21:10] tgolen commented on #8888
OK, that sounds good to me! Makes sense.

On Mon, May 16, 2022 at 3:05 PM James ***@***.***> wrote:

[2022-05-16 21:19] neil-marcellini commented on #8676
Let me put it back to weekly. I'm still actively working on this.

[2022-05-16 21:20] neil-marcellini commented on #7617
I'm still working on this.

[2022-05-16 21:21] neil-marcellini commented on #8295
I'm still working on this, trying to get this [new Onyx PR](https://github.com/Expensify/react-native-onyx/pull/129) merged in.

[2022-05-16 21:31] jrstanley commented on #8888
Perfect, thanks @tgolen! How do we take things from here?

[2022-05-16 21:37] marcaaron commented on #8979
Yeah, I agree this doesn't really seem like something we should fix and is not really a problem at all. Can't think of a great reason why anyone would copy and paste emojis from the emoji menu.

cc @Christinadobrzyn to please close the associated Upwork job

[2022-05-16 21:37] #8979 closed

[2022-05-16 21:52] luacmartins commented on #6883
@azimgd's proposal looks good! However, I think that we would move forward with the package being released as a `Expensify/*` library, but still remain open source.

Assigning @azimgd to this issue and working on getting the repo created under Expensify.

[2022-05-16 21:56] srikarparsi commented on #8719
I'm not able to reproduce this issue. I ran it on Safari on my iPhone

https://user-images.githubusercontent.com/48188732/168688872-3092c140-da9c-42ed-b410-d153f82ca999.MP4

.

[2022-05-16 21:58] AndrewGable commented on #9008
I agree, closing!

[2022-05-16 21:58] #9008 closed

[2022-05-16 22:02] chiragsalian commented on #9003
Going with rory's suggestion.

[2022-05-16 22:02] #9003 closed

[2022-05-16 22:07] NikkiWines commented on #8850
Sorry, was OOO last week. Thanks for the clarification @pecanoro. If someone comes up with a proposal to decouple things that would be great, but for now @kakajann's [proposal](https://github.com/Expensify/App/issues/8850#issuecomment-1120478723) is a good path forward 👍

@michaelhaxhiu can you hire them in UpWork for this job please? 🙏

[2022-05-16 22:13] stitesExpensify commented on #9018
@cead22 I'm going to hand this over to @srikarparsi to take on!

[2022-05-16 22:15] jboniface commented on #8607
job here: https://www.upwork.com/jobs/~01f22cfe72354f6d86

[2022-05-16 22:33] JediWattson commented on #7862
# Proposal

Sure thing, I think I've been looking at bug proposals when I should have picked out a feature from the link you posted. I certainly don't mind trying to get this right.

1. Make a Carousel component to cycle through images. (I can change the name to AttachmentCarousel)
[code]

2. Use the existing component AttachmentModal, making the following changes

in the show function here:
https

[2022-05-16 22:42] deetergp commented on #8927
I agree with @mananjadhav — we're going to need that value in Onyx & for Pusher.

[2022-05-16 22:58] jayeshmangwani commented on #7470
Proposal:

This issue is happening because text input has a fixed height and we are adding component to more the defined height,

https://github.com/Expensify/App/blob/5ab06b4efc77fb36c3aa7993f70ed96e7f31d65d/src/components/TextInput/BaseTextInput.js#L206-L211
Here we passing height = componentHeightLarge = 52  value to the parent, and child we are adding borderwidth = 1 , so total (2px will be mi

[2022-05-16 23:18] luacmartins opened #9043 "Refactor AddDebitCardPage to use the new Form component"
Coming from the [New Expensify Forms](https://docs.google.com/document/d/1DI4jQ0nyfi2JczhPT440orwlXsTP_O-aGvg-HLmcbwI/edit#heading=h.mnjguil21u0a) design doc, we should refactor our forms to use the new form component, follow the guidelines below:

## Guidelines
1. Replace the form component with Form.js.
2. Create a unique Onyx key in ONYXKEYS.FORM and pass it as the [formID](https://docs.google.

[2022-05-16 23:44] thienlnam commented on #8923
Is this still reproducible @kbecciv?

[2022-05-16 23:54] jrstanley commented on #8607
**Background:**
The `src/components/AvatarWithImagePicker.js` component displays the 'Remove photo' menu item when the component's prop `isUsingDefaultAvatar` has a falsey value.

The `src/pages/settings/Profile/ProfilePage.js` component sets the `isUsingDefaultAvatar` prop of the `AvatarWithImagePicker` component based on the prop `myPersonalDetails` passed to it. It checks for the string `/image

[2022-05-17 00:11] michaelhaxhiu commented on #8850
Sounds good. @kakajann can you please apply for the job on upwork? It's linked in the GH body, and here too for easy reference - https://www.upwork.com/jobs/~01bc20ad2e82856ef6

[2022-05-17 00:24] marcaaron commented on #8230
Based on the predesign I decided to move this into a design doc that is live [here](https://docs.google.com/document/d/1gvPDhGTxdcu-0lQxvruQnQJfJBrAmSjHieKciucV8eo/edit).

Once it gets enough reviews I'll do a detailed predesign to get more feedback on the above issues I've run into. I have some ideas on how to solve and clean things up - but want to make sure the design is locked down first.

[2022-05-17 00:40] pecanoro commented on #8663
Sounds good! Assigning @b1tjoy to the issue! Don't forget to apply in Upwork

[2022-05-17 01:20] aldo-expensify commented on #8931
No overdue, still waiting for feedback

[2022-05-17 01:51] mallenexpensify commented on #8842
Assigned to @metehanozyurt , Can you please apply for the job in Upwork and confirm here, with you first name and last initial, once you have?

[2022-05-17 02:06] Santhosh-Sellavel commented on #7917
Yes, group upto maximum two tests in a single video.

Break down into seperate comments for each test or grouped tests, yes upload all platform videos thanks!

[2022-05-17 02:10] kbecciv commented on #8931
@aldo-expensify Yes, Andriod 12, sorry for delay, I missed your tread.

[2022-05-17 02:11] mallenexpensify commented on #8824
Eeeeeeps!  Sorry about this @Puneet-here .  The way I see this

1. You reported the issue
2. We fixed it internally
3. You are due compensation for reporting the issue, $250.

If so, you are definitely due $$$.  I created a job and invited you (I think).  Let me know when you've accepted the invite
https://www.upwork.com/jobs/~01b062fa8979bd5cbe

[2022-05-17 02:20] mallenexpensify commented on #7909
@rushatgabhane can you please add details on the regression to the [RCA sheet](https://docs.google.com/spreadsheets/d/1u73RE8J1DdX3mDohV1RXgulF6_cke3N_a15Sk-UUdQo/edit#gid=0)? Then, follow the [steps in the C+ doc ](https://docs.google.com/document/d/1BvohU05MTaHnjOD_vwJv_aqDAirv-ChkyRnKCAvOVyQ/edit#bookmark=id.cgkwyu591tft) for documenting why/how the regression happened?  It's not that time sens

[2022-05-17 02:22] aldo-expensify commented on #8931
@kbecciv no worries, so... would you agree with that this may not be specific to IOS, but maybe related to the account you are using? I'm saying this because the Android video look as slow as the IOS video (unless I'm missing something).  Does this also happen in web for this account?

[2022-05-17 02:27] zsgreenwald commented on #8088
Hey @aldo-expensify what else do you need from me to push this forward? Thanks!

[2022-05-17 02:33] mateusbra commented on #7909
@rushatgabhane I couldn't think in any other uses of expensify.com out of attachments could you think on a hint of what you want me to do?

[2022-05-17 02:35] mateusbra commented on #7909
@mallenexpensify I have write access to this [RCA sheet](https://docs.google.com/spreadsheets/d/1u73RE8J1DdX3mDohV1RXgulF6_cke3N_a15Sk-UUdQo/edit#gid=0) , I think I shouldn't have this permission, just pinging you so you can be aware and change it :).

[2022-05-17 02:46] aldo-expensify commented on #8088
I'll put some time tomorrow to see if I can figure it out.

[2022-05-17 02:55] #9040 closed

[2022-05-17 03:17] mvtglobally commented on #7424
Issue not reproducible during KI retests. (First week)

[2022-05-17 03:18] mvtglobally commented on #7573
Issue not reproducible during KI retests. (First week)

[2022-05-17 03:24] mvtglobally commented on #8295
Issue not reproducible during KI retests. (First week)

[2022-05-17 03:25] mvtglobally commented on #8309
Issue not reproducible during KI retests. (First week)

[2022-05-17 03:26] mvtglobally commented on #8321
Issue not reproducible during KI retests. (Third week) @michaelhaxhiu  are we ok to close this?

[2022-05-17 03:28] mvtglobally commented on #8534
Issue not reproducible during KI retests. (First week)

[2022-05-17 03:29] mvtglobally commented on #8574
Issue not reproducible during KI retests. (First week)

[2022-05-17 03:31] mvtglobally commented on #8711
Issue not reproducible during KI retests. (First week)

[2022-05-17 03:32] mvtglobally commented on #8787
Issue not reproducible during KI retests. (First week)

[2022-05-17 03:36] mvtglobally commented on #8930
Issue not reproducible during KI retests. (First week)

[2022-05-17 03:47] mvtglobally commented on #8992
Issue not reproducible during KI retests. (First week)

[2022-05-17 04:01] JmillsExpensify commented on #8933
Nice! I'll hold off on posting to Upwork for the time being, but will keep myself assigned to the issue.

[2022-05-17 04:03] JmillsExpensify commented on #7307
Cool, thanks for the heads up. Checking the linked PR and then I'll update the issue title, issue payment.

[2022-05-17 04:10] JmillsExpensify commented on #7524
A couple more days left on the 7-day hold for that last PR.

[2022-05-17 04:11] JmillsExpensify commented on #7727
Still holding on offline, though we're through the internal review process and closer to moving to implementation.

[2022-05-17 04:12] JmillsExpensify commented on #8089
Working through issues in the linked PR to get the project running. No progress since last week.

[2022-05-17 04:18] JmillsExpensify commented on #8119
Confirmed. I checked the job post and it expired. I just spun up a new one now: https://www.upwork.com/jobs/~01acbc04a8c9ffbc97. Please apply, same for @metehanozyurt. Thanks both!

[2022-05-17 04:19] JmillsExpensify commented on #8133
Still a couple more days to work through the regression period.

[2022-05-17 04:22] JmillsExpensify commented on #8287
@Luke9389 Thanks for the herculean effort over the past week. I *think* you'll be able to come up for a breathe of air and get back to this one this week? Jump in when you're able, thanks!

[2022-05-17 04:23] JmillsExpensify commented on #8356
Still waiting on response from contributor. Maybe we should open this one back up to proposals, yeah?

[2022-05-17 04:24] JmillsExpensify commented on #8501
Still working through the considerations in the linked issue.

[2022-05-17 04:27] JmillsExpensify commented on #8842
Upwork job is here: https://www.upwork.com/jobs/~017708aa9011ed90e0. @mananjadhav and @metehanozyurt thanks for applying!

[2022-05-17 04:29] JmillsExpensify commented on #8867
PR made it to staging. Hoping the issue will update automatically once it hits production, but if not I'll circle back and update to reflect the holding period.

[2022-05-17 04:44] quinthar commented on #8088
Sorry for missing something -- what is the exact problem?  Is it extra whitespace?  Can someone describe specifically what they would like changed?

[2022-05-17 05:14] zsgreenwald commented on #8088
Yes, the exact problem is the extra white space. I'm suggesting we tighten it so it looks more natural when we receive email responses.

![image](https://user-images.githubusercontent.com/11618505/168734054-0cf81ddb-55e1-42ee-b1f1-d445399d1761.png)

Not pressing, but I figured it'd be a quick fix.

[2022-05-17 05:22] kadiealexander commented on #8663
@b1tjoy please let me know your upwork username so I can hire you for the job. :)

Offers sent to @parasharrajat for C+ and @Tushu17 for reporting.

[2022-05-17 06:10] mananjadhav commented on #8286
@aswin-s Did you get a chance to go through @luacmartins' questions?

[2022-05-17 06:15] laurenreidexpensify commented on #8661
Nice thanks @Santhosh-Sellavel. Price doubled

[2022-05-17 06:26] aswin-s commented on #8286
Yes, it is best to test these features on real device as network settings and simulator configs tend to interfere with universal link configurations

This was suggested just to confirm that app was the build changes were actually getting reflected and picked up by iOS. Not  as a fix to the issue.

webcredential key needs to be added to both Chat.entitlements and the apple-app-site-association file

[2022-05-17 06:27] laurenreidexpensify commented on #8358
Okay it looks like the bot failed here. Adjusting this manually.

[2022-05-17 06:28] laurenreidexpensify commented on #8358
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.57-17 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8689

If no regressions arise, payment will be issued on 2022-05-20. :confetti_ball:

[2022-05-17 07:02] metehanozyurt commented on #8842
I applied for the job in Upwork. "Metehan Ö".
Thank you for creating the link of the Upwork job @JmillsExpensify .

[2022-05-17 07:09] metehanozyurt commented on #8133
@JmillsExpensify I couldn't apply on Upwork it says "This job is no longer available.".
Would you be able to help with this? Thank you.

[2022-05-17 09:08] parasharrajat commented on #9041
Code merged on main. It will be fixed bin next QA cycle.

[2022-05-17 09:28] Puneet-here commented on #8824
@mallenexpensify, thanks for creating the job. Applied.

[2022-05-17 09:55] techievivek commented on #9013
Anyone with the staging setup with the verified bank account please have a look at this.

[2022-05-17 10:13] techievivek commented on #9013
I can push a PR as this is a very simple fix but I would need help in testing this.

[2022-05-17 10:24] Beamanator commented on #8005
I think the proposal looks great for now, let's move forward and make sure we test thoroughly 👍

[2022-05-17 10:28] Beamanator commented on #8847
@mananjadhav Please let me know if you're unable to review and we can add a different C+ 👍

[2022-05-17 10:40] mdneyazahmad commented on #8426
@parasharrajat PR is ready for review https://github.com/Expensify/expensify-common/pull/446 and https://github.com/Expensify/App/pull/9022

[2022-05-17 10:41] MariaHCD commented on #9010
Thanks, @roryabraham! From those issues, it looks this needs some more investigation:
- If adding `android:requestLegacyExternalStorage="true"` to the Android manifest would help solved this and/or;
- Whether the package `rn-fetch-blob` has released a fix for this.

[2022-05-17 10:45] SumitDiyora commented on #8991
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - #8571, #8886, #8898, #8901, #8909, #8912, #8916, #8966, #8976
Logged Issues - #8436, #8494, #8790, #8845, #8876, #8887, #8897, #8906, #8921, #8940, #8948, #8952, #8953, #8957, #8969, #8970, #8982, #8993, #9002

[2022-05-17 10:48] MariaHCD commented on #8951
Able to reproduce the issue. The search seems to work fine on web.

[2022-05-17 10:53] parasharrajat commented on #7573
PR deployed to PROD 3 days back.

[2022-05-17 10:56] aneequeahmad commented on #8356
@JmillsExpensify Ahh yes i'll explain. So the issue is lineHeight is adding additional height to the prefix that is causing it to stretch a little bit more.

By assigning default lineHeight to the prefix it occupies the available space.

cc: @Santhosh-Sellavel

[2022-05-17 10:58] parasharrajat commented on #7424
Interesting :arrow_up:

[2022-05-17 11:05] parasharrajat commented on #8719
This is not the dropdown height instead of the backdrop. When the keyboard is closed, dropdown reposition and the backdrop takes some to reposition itself. The backdrop has a dark background and the canvas behind it is white same as the dropdown. During repositioning the background behind the backdrop seems to be part of the dropdown. But we can see the distinction via observing the border radius

[2022-05-17 11:25] Julesssss commented on #7573
Hey @NicMendonca can we please pay out.

Also @parasharrajat, what exactly do we need to update? The $4000 bounty looks right to me, but please correct me if I missed something.

[2022-05-17 11:33] Justicea83 commented on #8933
I think we should be able to copy the links of all the items in the list, maybe the user just wanna share the link. In all cases the user already has the application installed so they might wanna share the urls with their friends.

[2022-05-17 11:36] parasharrajat commented on #7573
The title needs to be updated to have [HOLD for payment date]

[2022-05-17 11:39] parasharrajat commented on #8541
Can we think of a solution where we do not have to duplicate the code? Proposal can be improved.

[2022-05-17 11:48] parasharrajat commented on #8126
I doubt that https://github.com/Expensify/App/issues/8126#issuecomment-1123095585 will always work. What if the drawer is opened/closed based on state change but from our action? will this be tracked in Onyx if we do https://github.com/Expensify/App/issues/8126#issuecomment-1123095585?

If we follow your suggestion of a screen listener. Could you please explain that code to me? I don't see anythin

[2022-05-17 11:52] iwiznia commented on #9016
ok I am a bit confused, this seems like a regression, no? Why did we allow it to be deployed to production? Or was the error already in production? If the former, we need to check were the regression was added.

[2022-05-17 11:54] parasharrajat commented on #7715
PR deployed on PROD 4 days back.

[2022-05-17 11:55] iwiznia commented on #8849
According to [this comment](https://github.com/Expensify/App/issues/5193#issuecomment-974397005):

[2022-05-17 13:46] kakajann commented on #8850
Just applied

[2022-05-17 14:36] mollfpr commented on #8126
@parasharrajat Thank you for checking my proposal.

You might be right. We have custom action to reset the route accordingly.

In my proposal, we use `screenListener` on `Drawer.Navigator` which means only listening to the screen changing on the drawer. I check it and it only calls `screenListener` when the drawer change either open/closed.

https://user-images.githubusercontent.com/25520267/16883

[2022-05-17 14:52] kavimuru opened #9049 "mWeb - IOU - After completing request money chat list appears for a brief moment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Tap on FAB button and select `Request Money`
3. Enter an amount
4. Select an attendee from the li

[2022-05-17 14:55] mvtglobally commented on #9037
@AndrewGable App regression is completed

PR #8946 is failing due to https://github.com/Expensify/App/issues/9042
PR #8765 is failing due to https://github.com/Expensify/App/issues/9041
Both are not the blockers, so I think we can check off

Other issues logged
https://github.com/Expensify/App/issues/9041
https://github.com/Expensify/App/issues/9042
https://github.com/Expensify/App/issues/9049

[2022-05-17 15:15] stitesExpensify commented on #7420
I still haven't worked on this. Making it a monthly since it's an edge case involving closing and re-opening an account

[2022-05-17 15:37] cead22 commented on #8848
Making this monthly while I focus on this one https://github.com/Expensify/Expensify/issues/206455

[2022-05-17 15:41] NicMendonca commented on #8220
PR in review

[2022-05-17 15:41] AndrewGable commented on #9037
Ok let's check them off and deploy!

[2022-05-17 15:42] NicMendonca commented on #2727
@mallenexpensify any update by chance?

[2022-05-17 15:58] mallenexpensify commented on #7487
Removed `Help Wanted` label and added `Planning`

[2022-05-17 16:02] frenkield commented on #8595
I applied on Upwork. I'll submit the PR by Monday, May 23rd (05/23/2022) at the latest.

Thanks, Everyone!

[2022-05-17 16:05] #8992 closed

[2022-05-17 16:15] parasharrajat commented on #4612
- https://github.com/Expensify/App/issues/4612#issuecomment-1121164026
- https://github.com/Expensify/App/issues/4612#issuecomment-1125057157
- https://github.com/Expensify/App/issues/8657#issuecomment-1107802797

All of the above proposals closely resemble. They work around the same root cause. I am testing them one by one now. They claim to fix both https://github.com/Expensify/App/issues/4612 a

[2022-05-17 16:35] #9037 closed

[2022-05-17 16:39] OSBotify opened #9053 "Deploy Checklist: New Expensify 2022-05-17"
**Release Version:** `1.1.62-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/8809
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/9033
  - [x] QA
  - [ ] Accessibility

**Deployer verifications:**
- [x] I checked the [App Timi

[2022-05-17 16:44] mallenexpensify commented on #7909
Thanks @mateusbra , it is open/write-able to anyone with the link, this is so that C+ can update it (without us having to individually invite them).  In the _spirit_ of open source, and since the related GH issues and PRs are public, there shouldn't be any sensitive details in there

[2022-05-17 16:46] parasharrajat commented on #4612
Both of the above proposals on this issue have the same problem. It takes two clicks to open the Chat when we resize the desktop to mobile view.

[2022-05-17 16:50] aswin-s commented on #8286
@luacmartins For webcredentials to work, changes made to `apple-app-site-association` needs to be deployed to the domains specified in chat entitlements. Simply taking a new build will not do. When app gets installed in device iOS tries to fetch the site-association file from the specified domains and validates the app id. That's how it verifies that credentials could be reused across website and

[2022-05-17 16:57] JmillsExpensify commented on #9020
Commenting so this hits my participating filter.

[2022-05-17 17:02] parasharrajat commented on #8657
@mallenexpensify we can remove the hold from this. I am reviewing the previous proposals. Based on the new expected behavior, the old proposal applies to the other issue, not this one but it seems that they are fixing both issues. @mdneyazahmad your proposal is best suited for https://github.com/Expensify/App/issues/4612.

Could you please run the steps from https://github.com/Expensify/App/issues

[2022-05-17 17:05] michaelhaxhiu commented on #8590
Next step is for @Santhosh-Sellavel to review the PR

[2022-05-17 17:05] roryabraham commented on #9020
Pro-tip – you can also just press `Subscribe`/`Unsubscribe` on the side 😄

<img width="338" alt="image" src="https://user-images.githubusercontent.com/47436092/168870680-71091e30-368a-485c-be60-8cdc9d61bf92.png">

[2022-05-17 17:09] #8321 closed

[2022-05-17 17:10] Santhosh-Sellavel commented on #8590
Already on it.

[2022-05-17 17:19] michaelhaxhiu commented on #5994
paid and closing.

[2022-05-17 17:19] #5994 closed

[2022-05-17 17:21] michaelhaxhiu commented on #6058
We intend to pay and close this GH.

[2022-05-17 17:23] cead22 commented on #9018
Thanks!

[2022-05-17 17:23] thienlnam commented on #8088
Ah this has been a PITA in the past, we've had a lot of trouble parsing / cleaning specially formatted emails from outlook which I believe this is - for these types of emails we delegate the html stripping to mailgun.  In the past, we've just stripped all line breaks to solve this problem but it removed any line breaks intended within the email which also didn't look great

@aldo-expensify You cou

[2022-05-17 17:24] michaelhaxhiu commented on #6060
@Santhosh-Sellavel can you please apply for this job in upwork - https://www.upwork.com/jobs/~01bb74397ae6e0d160

We are going to pay and close this GH, as we are building offline functionality internally.

[2022-05-17 17:26] michaelhaxhiu commented on #7479
@thesahindia please apply for this upwork job, we are going to pay and close

https://www.upwork.com/jobs/~01bb74397ae6e0d160

[2022-05-17 17:28] jayeshmangwani commented on #8607
**Proposal**

https://github.com/Expensify/App/blob/f2218b6ff6e3f2453dd2f6fa137352899a26c2b9/src/components/AvatarWithImagePicker.js#L144-L145

here, we are checking if the image is not the default avatar then we are adding removePhoto option, so I propose here is that we can add one more condition if the current image does not include the `'/images/avatars/avatar'`, then we can add the removePhot

[2022-05-17 17:45] aldo-expensify commented on #8088
It is indeed a PITA, but I think there is room from improvement.

I'm testing locally with a message with the following html (this is what we end up with after our API processes the email):

` <div class="WordSection1"> <p class="MsoNormal">Hi Zach, </p><p></p> <p class="MsoNormal"></p><p> </p> <p class="MsoNormal">Will tomorrow at 3 est. work?</p><p></p> <p class="MsoNormal"></p><p> </p> <p class

[2022-05-17 17:49] Santhosh-Sellavel commented on #6060
@michaelhaxhiu Is this https://www.upwork.com/jobs/~01bb74397ae6e0d160 the right link?

[2022-05-17 17:50] Santhosh-Sellavel commented on #6058
Applied

[2022-05-17 17:52] thesahindia commented on #7479
Done 🚀

[2022-05-17 17:58] mdneyazahmad commented on #7916
Checking the related issues.

[2022-05-17 18:00] roryabraham commented on #8461
Actually, I'll leave this open for you and just unassign myself

[2022-05-17 18:01] OSBotify commented on #9053
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.62-0 :rocket:

[2022-05-17 18:01] luacmartins commented on #8286
Hmm that's interesting. I'm testing this on dev so I'm hitting our VM host and not our domains. I think testing it on our domains will be tricky. Any other suggestions?

[2022-05-17 18:02] danieldoglas commented on #8960
It can be External.

[2022-05-17 18:03] danieldoglas commented on #9019
I'll close this one.

[2022-05-17 18:03] #9019 closed

[2022-05-17 18:06] thesahindia commented on #8715
Was just experimenting some things to find the best approach for this. I will just update the PR as we already have a better way to fix this.

[2022-05-17 18:07] mananjadhav commented on #7081
@marcaaron Pulling the discussion here as per the comment. https://github.com/Expensify/App/pull/8042#discussion_r874172441
-----

We're adding this `SkeletonUI` to show when there's a delay in loading data for the chat due to slower internet connections, etc.  We use a function `this.shouldShowLoader()` to decide between the `SkeletonUI` or `ReportActionsView`.

We've got two ways to decide the b

[2022-05-17 18:10] aswin-s commented on #8286
Nope. iOS shares user credentials across the app and website using this setting. So there is no way to bypass this check. Otherwise this would easily be misused by fake apps to steal user credentials claiming to be the original app.

[2022-05-17 18:19] Santhosh-Sellavel commented on #6060
Applied!

[2022-05-17 18:20] marcaaron commented on #7081
Let's get more specific here. Seems there are two possibilities...

1. We are loading data and have no existing chat messages stored locally
2. We are loading data and do have existing chat messages stored locally

If the case is 2 then I think we should not show any "loading" UI since we already have some content to display immediately.

We should also avoid **showing the loader every time the ch

[2022-05-17 18:22] Santhosh-Sellavel commented on #7860
Reviewing this one

[2022-05-17 18:28] luacmartins commented on #8607
I like @jrstanley's proposal the best as it's simple and consistent with how we pass that prop in `WorkspaceSettingsPage`.

I think this is fine and something that I would expect as a user.

@Santhosh-Sellavel do you have any concerns about @jrstanley's proposal?

[2022-05-17 18:30] michaelhaxhiu commented on #6058
done.

[2022-05-17 18:30] #6058 closed

[2022-05-17 18:32] AndrewGable commented on #7860
I'm also somewhat curious if we should put this issue on hold until we implement bi-directional scroll with this fix: https://github.com/Expensify/App/issues/7925

[2022-05-17 18:34] michaelhaxhiu commented on #7479
Done, closing.

[2022-05-17 18:34] #7479 closed

[2022-05-17 18:39] Santhosh-Sellavel commented on #7860
@izhan this [solution](https://github.com/Expensify/App/issues/7860#issuecomment-1124702317) makes things worse.

[2022-05-17 18:40] mananjadhav commented on #7835
Thanks, @gladiator-1, looks like this resolves the issue for iOS Safari. I can see the proposal is fragmented into multiple comments. Would you mind sharing it with steps in one single comment, so that I can review and decide on that?

[2022-05-17 18:41] danieldoglas commented on #7259
Doc is still WIP

[2022-05-17 18:41] mananjadhav commented on #8849
Thanks for the comment @iwiznia.  @eVoloshchak. So if we remove `react-native-image-size`, it would cause the other issue to break. Any other solutions in mind?

[2022-05-17 18:44] Santhosh-Sellavel commented on #7860
@AndrewGable Is bi-directional scroll implementation in progress?

[2022-05-17 18:44] rushatgabhane commented on #8851
@eVoloshchak I really appreciate the results you've posted!
I'm still investigating and trying to find a source of truth (like official documentation).

[2022-05-17 18:45] michaelhaxhiu commented on #7727
@JmillsExpensify I have been working through these lingering Offline Mode issues that were made by contributors (before we actually roadmapped and prioiritized Offline First).

I've been paying and closing these today, as they are basically just cluttering our job list. We intend to build much of offline first internally, and then if we have aspects where we can outsource I'm sure we'll do that. B

[2022-05-17 18:46] AndrewGable commented on #7860
Yes, it is in progress.

[2022-05-17 18:47] izhan commented on #7860
@Santhosh-Sellavel interesting! what are you seeing?

[2022-05-17 18:49] aldo-expensify commented on #8088
Changing this prop [dangerouslyDisableWhitespaceCollapsing](https://github.com/Expensify/App/blob/b0b1cbea67704611b6032560a5b95e4be3afadf8/src/components/HTMLEngineProvider/BaseHTMLEngineProvider.js#L56) to `false` seems to fix the problem of whitespaces getting wrapped in divs:

<img width="1398" alt="image" src="https://user-images.githubusercontent.com/87341702/168888027-cc087ad7-65f5-42ff-92e7

[2022-05-17 18:49] michaelhaxhiu commented on #6060
Paid.

[2022-05-17 18:49] #6060 closed

[2022-05-17 18:51] aldo-expensify commented on #8088
@parasharrajat this PR: https://github.com/Expensify/App/pull/6975 changed [dangerouslyDisableWhitespaceCollapsing](https://github.com/Expensify/App/blob/b0b1cbea67704611b6032560a5b95e4be3afadf8/src/components/HTMLEngineProvider/BaseHTMLEngineProvider.js#L56) to `true`, which seems to be causing the problem here: unnecessary extra empty lines.

[2022-05-17 18:53] michaelhaxhiu commented on #7728
@mallenexpensify do you think we can we work on this externally (i.e. now), without offline first being ready?

[2022-05-17 18:54] azimgd commented on #7860
@AndrewGable this issue is not related to #7925. I know, since I was involved with all FlatList related issues including #7925 and #3381. Does it make sense to double this up so I can try my luck here ?

[2022-05-17 18:54] michaelhaxhiu commented on #6676
Let's close this for now, as it was opened by Applause and this will be different after we release offline first.

[2022-05-17 18:54] #6676 closed

[2022-05-17 18:54] JmillsExpensify commented on #7727
💯 Love it. This is a great suggestion.

[2022-05-17 18:54] Santhosh-Sellavel commented on #7860
Half of messages got lost,
https://user-images.githubusercontent.com/85645967/168888958-8157402b-ccac-45e8-bb63-e04a92af6bb8.mov

[2022-05-17 18:59] parasharrajat commented on #8088
We are removing that flag in another issue. I will add the PR link as soon as I find it.

[2022-05-17 19:04] trjExpensify commented on #7844
👋 looks like this didn't quite work completely, issue reported with mWeb: https://github.com/Expensify/App/issues/8960#issue-1233333508

[2022-05-17 19:04] Santhosh-Sellavel commented on #7860
@izhan here is the full video posted in the slack [thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1652814230922569?thread_ts=1641315371.490700&cid=C01GTK53T8Q)

[2022-05-17 19:12] roryabraham commented on #8975
Yeah, I'm going to just close this out

[2022-05-17 19:12] #8975 closed

[2022-05-17 19:13] michaelhaxhiu commented on #7727
@thesahindia can you please apply for this job in Upwork - https://www.upwork.com/jobs/~019fa14854ad47fca7

[2022-05-17 19:13] Santhosh-Sellavel commented on #8607
@luacmartins
@jrstanley Proposal looks good for me too!
Let's assign him this one!

[2022-05-17 19:19] #7424 closed

[2022-05-17 19:22] eVoloshchak commented on #8960
This issue isn't connected to my PR, it was present before
It's still open https://github.com/Expensify/App/issues/8311
Before submitting my PR i raised a concern [here](https://github.com/Expensify/App/issues/7844#issuecomment-1112084534), but was [told ](https://github.com/Expensify/App/issues/7844#issuecomment-1112092498)i could submit a PR since that's a separate issue

I also stated that in t

[2022-05-17 19:24] thesahindia commented on #7727
@michaelhaxhiu, applied ✔️

[2022-05-17 19:31] trjExpensify commented on #8960
Okay got it, thanks for that added context. If we've got #8311, do we need this issue open as well?

[2022-05-17 19:31] tgolen commented on #8888
@kevinksullivan Can get you hooked up with a job in Upwork to apply for (which will get you payment) and you can proceed with a PR.

[2022-05-17 19:34] michaelhaxhiu commented on #7727
Done deal, closing.

[2022-05-17 19:34] #7727 closed

[2022-05-17 19:35] Santhosh-Sellavel commented on #8888
@jrstanley
As per [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md)

I see you are already assigned to https://github.com/Expensify/App/issues/8607

cc: @tgolen

[2022-05-17 19:45] michaelhaxhiu commented on #8850
hired

[2022-05-17 19:45] roryabraham commented on #5894
@Christinadobrzyn that's correct – this was reverted due to subsequent bugs. And yes, let's create a new Upwork job please 🙂

[2022-05-17 19:48] marcaaron commented on #9049
The modal is opened over the chat list so it makes sense that we would close the modal then navigate to the chat. What is specifically meant by a "smooth transition"?

[2022-05-17 19:50] tgolen commented on #9042
@kavimuru Why is it expected that there would be two requests? Can you point me to where that assumption comes from?

[2022-05-17 19:50] marcaaron commented on #8983
@stitesExpensify should this go into an accessibility milestone or something? Unsure where it belongs.

[2022-05-17 19:52] aldo-expensify commented on #9049
Agreed with @marcaaron , this looks fine for me. The bad thing I see is the laggy transitions, but that's not part of this GH issue :)

[2022-05-17 19:53] tgolen commented on #9042
Also, I was unable to reproduce this and I only saw one GET request for `expensify_freePlanBankAccountID`

[2022-05-17 19:54] Santhosh-Sellavel commented on #8545
Still waiting for a better proposal!

@metehanozyurt proposal doesn’t handle all the cases for first-time login where the user already has a chat.

[2022-05-17 19:56] roryabraham commented on #8461
My mistake, @Santhosh-Sellavel is also eligible for C+ compensation for reviewing https://github.com/Expensify/App/pull/8576, even though it wasn't merged.

[2022-05-17 19:56] eVoloshchak commented on #8960
Not sure if you you were asking me, but imo this one is a duplicate

[2022-05-17 19:56] stitesExpensify commented on #8983
Nowhere for now. Just let it sit. We're getting around to what to do with them :)

[2022-05-17 19:57] Santhosh-Sellavel commented on #8545
@eVoloshchak proposal seems to be working, but a bit overengineered. Also handles the case https://github.com/Expensify/App/issues/8545#issuecomment-1114299278

[2022-05-17 20:01] parasharrajat commented on #8088
That PR is #9025

[2022-05-17 20:02] Santhosh-Sellavel commented on #8545
@thienlnam
This seems like a separate issue -> https://github.com/Expensify/App/issues/8545#issuecomment-1114767659
Since the steps are completely different Do I qualify for reporting bonus too?

Regardless we should look for solution handles all the cases.

[2022-05-17 20:11] izhan commented on #7860
@Santhosh-Sellavel whoa that's not at all what I'm seeing on my end. I'll double-check my instructions and report back

[2022-05-17 20:14] adelekennedy commented on #8719
Since this is a very edge case is it worth keeping the issue open to solve? @parasharrajat @neil-marcellini?

[2022-05-17 20:24] adelekennedy commented on #8005
hired!

[2022-05-17 20:41] aldo-expensify commented on #8088
The solution in that PR seems to cause the exact same problem for this case:

https://user-images.githubusercontent.com/87341702/168906255-19b9f684-09a2-4a57-87ee-c60c3f83a171.mov

I don't think we should be changing how the whitespace works when rendering html outside a `<pre>`. If there is some indentation problems with lists.. maybe there is something to do with padding or margin?

[2022-05-17 20:49] neil-marcellini commented on #8719
I think it would be good to keep open, but it should be low priority and we shouldn't raise the price too much.

[2022-05-17 20:56] kbecciv commented on #8931
@aldo-expensify Just retest with latest build 1.1.62 and issue is no longer reproduced.

https://user-images.githubusercontent.com/93399543/168908654-8c9b8553-41b1-4091-ae3a-44aca0326708.MP4

[2022-05-17 21:06] rushatgabhane commented on #8292
@anboia @parasharrajat just dropping a note for you to test this case too https://expensify.slack.com/archives/C01GTK53T8Q/p1652813754277019

[2022-05-17 21:13] parasharrajat commented on #7121
PR updated

[2022-05-17 21:45] Tushu17 commented on #8663
Offer accepted👍

[2022-05-17 21:50] chiragsalian commented on #8791
Looks like steph is OOO. Reassigning.

[2022-05-17 21:52] kavimuru opened #9057 "Workspace - Reimburse expenses- "Fast reimbursements = happy members!" and "Unlock Next day" headings are switching after every refresh"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: Add VBA flow
1. Go to https://staging.enew.xpensify.com/
2. Make sure you added VBA
3. Go to Settings - Reimburse expenses
4. Refresh

[2022-05-17 21:55] arielgreen commented on #8612
@b1tjoy please apply and let me know your Upwork username so I can hire you

[2022-05-17 21:56] arielgreen commented on #9010
https://www.upwork.com/jobs/~015cbb750a025a202d

[2022-05-17 21:56] marcaaron commented on #9049
Nice gonna close then. Doesn't seem like this is worth putting through triage or getting outside help on.

[2022-05-17 21:56] #9049 closed

[2022-05-17 21:59] trjExpensify commented on #8960
Cool, cool. I'm going to close this out. Thanks! @danieldoglas, let me know if you disagree.

[2022-05-17 21:59] #8960 closed

[2022-05-17 22:12] mallenexpensify commented on #8824
Hired @Puneet-here , let me know when you've accepted and I'll pay then close this issue.
https://www.upwork.com/jobs/~01b062fa8979bd5cbe

[2022-05-17 22:16] kavimuru opened #9058 "Web - Sign up - Endless loading spinner appears when creating a password for a new account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. In the email field, enter a email address for a new account and press continue
3. Navigate to the

[2022-05-17 22:18] #9041 closed

[2022-05-17 22:28] marcaaron commented on #9016
I'm also confused but I think a PR was introduced to hide the compose input when we are editing a comment to "create more space" which feels kind of like a weird design. Going to assign myself and look investigate internally to see what is going on exactly.

[2022-05-17 22:35] kadiealexander commented on #7375
Not overdue Melvin.

[2022-05-17 22:35] kadiealexander commented on #8357
@sobitneupane could you please share an update here? Thanks!

[2022-05-17 22:36] kadiealexander commented on #8787
Not overdue, awaiting payment.

[2022-05-17 22:38] marcaaron commented on #9016
The PR to hide the "composer" was introduced here -> https://github.com/Expensify/App/pull/7390

Not sure if we really need to hide this thing. Does it look bad or something?

[2022-05-17 22:49] Julesssss commented on #8130
No update

[2022-05-17 22:49] mallenexpensify commented on #8657
Thanks @parasharrajat , took off hold, added `Help Wanted` label and created a new Upwork job.  Let's leave at $8k for a bit while you continue to review proposals Rajat .
https://www.upwork.com/jobs/~018d0820ec4f3aaef7

[2022-05-17 22:52] mallenexpensify commented on #7728
Honestly @michaelhaxhiu , I have no clue.  I'd address in #expensify-open-source or just leave a monthly. ¯\_(ツ)_/¯

[2022-05-17 22:57] marcaaron commented on #9005
cc @TomatoToaster @trjExpensify feels like polish for https://github.com/Expensify/Expensify/issues/187211

[2022-05-17 23:05] marcaaron commented on #9016
Feels like we should just make it so that if you blur the editing field then we should reset the composer back to the way it was. And when you focus on a comment that is being edited it should be removed again. Pretty straightforward...

[2022-05-17 23:08] luacmartins opened #9059 "Fix AddressSearch integration with Form"
# Problem
We refactored AddressSearch to work with Form in [this PR](https://github.com/Expensify/App/pull/7701). However, while trying to use this component in the first form refactor, I noticed that it's not working as intended. Selecting an address from the dropdown list does not update the input value.

# Why is this important
The component should work with the new Form component.

# Solution

[2022-05-17 23:15] kbecciv opened #9061 "mweb/safari - Request money - The header is disappearing for users with a small screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Log into any valid account
3. Tap the green "+" icon and then "Request money"
4. Input any money value and ta

[2022-05-17 23:23] Luke9389 commented on #8287
Hey folks. I know I've done this once already, but are you sure this issue is still happening? I've tried to reproduce and can't. Please test it out, take a screen recording, and tell me exactly what you're doing.

I tried [this](https://github.com/Expensify/App/issues/8287#issuecomment-1118715900) and it worked fine.

[2022-05-17 23:25] marcochavezf commented on #7586
I'm going to give priority to this issue this week, changing the priority

[2022-05-17 23:29] Luke9389 commented on #8134
PR on HOLD

[2022-05-17 23:32] mollfpr commented on #8126
@NicMendonca applied!

[2022-05-18 00:12] roryabraham commented on #9005
I don't know what's going on off the top of my head, no. That said, I agree it _looks_ like a back-end issue. My first steps to investigate would be to:

1. Verify that the workspace chat is being created for SMS users
1. Verify that the workspace chat is being shared with them correctly

[2022-05-18 00:14] roryabraham commented on #9005
It couldn't have something to do with an unvalidated account, right? Do we require account validation to enter NewDot for the first time, or is it like OldDot where you can enter the app once without validating? IIRC last I checked validation was required on NewDot, but maybe that's changed.

[2022-05-18 00:14] pecanoro commented on #8444
Still on hold

[2022-05-18 00:21] roryabraham commented on #9020
Putting this on HOLD per [this slack thread](https://expensify.slack.com/archives/C02HWMSMZEC/p1652799118955609)

[2022-05-18 00:47] neil-marcellini commented on #8423
All platforms should be working now, but I still have to test mWeb and Desktop. I'll also make sure that other uses of the the composer work, and I'll modify the story book if needed.

@Expensify/design could you please help me get the expand and collapse buttons shown in the mockups into NewDot?

[2022-05-18 01:12] thienlnam commented on #8545
@Santhosh-Sellavel The reproduction steps are slightly different but the issue is the same so I'm going to keep it within this issue as the fix should also address that.

[2022-05-18 01:29] thienlnam commented on #8235
Looks like this is an issue with our PDF Box
[code]

It's not throwing due to size so it doesn't seem to necessarily be do to the size limitation, will have to look into it more

[2022-05-18 01:46] Santhosh-Sellavel commented on #8357
@kadiealexander PR is merged & it's on production now!

[2022-05-18 02:02] roryabraham commented on #9015
@kavimuru looks like @parasharrajat is saying that the fix for this issue was deployed to production today. Can you please retest on staging and production?

[2022-05-18 02:41] kadiealexander commented on #8357
Thanks @sobitneupane!!!

[2022-05-18 03:45] ahmdshrif commented on #4612
@parasharrajat  if we use the second option I mention it will work without this issue . we should push the route not the drawer in this case.

like this on line 113
[code]

## Result :

https://user-images.githubusercontent.com/21364901/168952792-f39a7835-cc62-4739-8c85-671e334632fd.mp4

[2022-05-18 04:02] mvtglobally commented on #9053
Regression is completed
No Deploy Blockers

Issues found
https://github.com/Expensify/App/issues/9057
https://github.com/Expensify/App/issues/9058
https://github.com/Expensify/App/issues/9061

[2022-05-18 04:23] mananjadhav commented on #8847
Apologies for the delay @Beamanator

@adeel0202's updated proposal https://github.com/Expensify/App/issues/8847#issuecomment-1115240721 is good to go

🎀 👀 🎀
C+ reviewed

[2022-05-18 04:26] mananjadhav commented on #7470
Reviewing @jayeshmangwani's proposal.

@WelbexIT are you keen on submitting the proposal here?

[2022-05-18 04:45] roryabraham commented on #9053
Actually there is a noticeable spike in both homepage reports loaded and switch report. Going to check this off on this checklist, because:

- The spike was most poignant on Android, and none of these PRs affect the Android app.
- There was another deploy earlier today which was more likely the source of any performance regressions than this one

[2022-05-18 04:47] roryabraham commented on #9053
:shipit:

[2022-05-18 05:07] roryabraham commented on #9053
Due to GitHub API errors, this failed to deploy. Reopening for now.

[2022-05-18 05:42] kadiealexander commented on #8545
Doubled the price!! Get those proposals in.

[2022-05-18 05:59] shawnborton commented on #8423
Here ya go: [expand.svg.zip](https://github.com/Expensify/App/files/8713583/expand.svg.zip)

[2022-05-18 06:22] eVoloshchak commented on #8287
@Luke9389

https://user-images.githubusercontent.com/9059945/168970936-d14b5354-5d70-47fd-a093-7d265e29af4a.mp4

1. Search for a non-existing emoji
2. Press Enter
3. Press Backspace

[2022-05-18 07:19] Puneet-here commented on #8824
@mallenexpensify, I have accepted the offer now. Thanks.

[2022-05-18 07:46] eVoloshchak commented on #8545
**Updated proposal:**
To avoid fetching all personal details every time, we can make use of the `API.PersonalDetails_GetForEmails`
1. In [PersonalDetails.js](https://github.com/Expensify/App/blob/main/src/libs/actions/PersonalDetails.js) implement `getPersonalDetailsForEmail` method
[code]
2. To resolve case with tapping Concierge icon after the first login, add the following after [this](https://

[2022-05-18 08:50] Beamanator commented on #8847
Thanks @mananjadhav - I agree it looks great 👍

[2022-05-18 09:29] eVoloshchak commented on #7844
Issue isn't caused by this PR, more details [here](https://github.com/Expensify/App/issues/8960#issuecomment-1129233056).

[2022-05-18 10:13] mdneyazahmad commented on #8657
I think the title is changed after my proposal is posted. So now, this will be a proposal for the other issue (#4612).

---

This only fixes one of the issues which is when we navigate with LHN and it does not fix the other issue (with the search page navigation).

---

Not sure, why but it makes much sense to have it dynamic (default open for the small screen and default closed for the large scre

[2022-05-18 10:39] Beamanator commented on #8574
Gunna wait to see if this is still reproducible by Applause - if so, I'll set up a HT testing account to try to reproduce

[2022-05-18 10:47] rushatgabhane commented on #8851
@eVoloshchak A new meeting is created on web.

[2022-05-18 10:54] eVoloshchak commented on #8851
Yup, I also observed that. When you were testing, was new meeting created on Android or did it just open google meet app?

[2022-05-18 10:54] rushatgabhane commented on #8851
It just opened the meet app.

[2022-05-18 10:55] rushatgabhane commented on #8851
I can't repro the issue at all. I tested on the following physical devices.
Pixel 6, Android 12
Pixel 3, Android 10, 11 and 12 (i sideloaded the firmware)
Samsung S8, Android 9

@AndrewGable what do we do here? How about we wait for more proposals that point to the exact root cause?

[2022-05-18 10:57] eVoloshchak commented on #8851
In that case we can just change `https://meet.google.com/new` to `https://meet.google.com` for Android, the behaviur will stay the same but the permission isn't required.
But I argee, finding some proof of **why** it is that way is required

[2022-05-18 10:58] michaelhaxhiu commented on #8131
Note, this is still on hold as we are actively devising a plan for third party repos (there are a few others jobs that are in a similar place).

[2022-05-18 11:07] dharmik commented on #8131
I don't see any Active PR or any issue raised for this scrollbar indicator in official React Native repo.
if we want to display scrollbar for now we can use this [proposal](https://github.com/Expensify/App/issues/8131#issuecomment-1108710694) it will not harm anything for sure.

[2022-05-18 11:12] michaelhaxhiu commented on #8131
@dharmik yep that's correct, nothing is posted in the official React Native repo yet. We are still devising a plan for third party repos.

Question btw - do you have personal experience with getting fixes merged in the React Native repo (i.e. upstream)? No problem if not, just curious if that's something where you have experience.

[2022-05-18 11:16] dharmik commented on #8131
@michaelhaxhiu Sorry to say be I am not that much familiar.

[2022-05-18 11:41] michaelhaxhiu commented on #8131
Ok 👍 hang tight and I'll follow up with a plan here as soon as I can. This is in active discussion internally.

[2022-05-18 11:51] Subash-G commented on #8935
Proposal:

Hi, I would like to do this work.

Solution:

Need to add condition check wheather button disabled or not

[   (this.props.danger && hovered) ? styles.buttonDangerHovered : undefined,](https://github.com/Expensify/App/blob/24294f27547eb88dde790f89a84230535ab9cb0b/src/components/Button.js#L269)

![remove](https://user-images.githubusercontent.com/55589996/169032107-3e91e359-9f91-430c-b25

[2022-05-18 11:52] michaelhaxhiu commented on #7715
Just a quick bud check -- so does that mean payment is due on Friday for @mateusbra, assuming no regressions between now & then.

Weird the GH title didn't update to add that 🤔

[2022-05-18 12:49] mdneyazahmad commented on #7917
@Santhosh-Sellavel Could you please review it (#8874) and if looks good merge it. I am trying to create a separate PR to fix `tab` and `enter` inconsistency and the checkbox PR should me merged for testing.

I created a separate PR for the checkbox because that is common to other audit issues.

[2022-05-18 12:56] SumitDiyora commented on #9037
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - #9030, #9034
Logged Issues - #8754, #8765, #8896, #8946

[2022-05-18 13:15] parasharrajat commented on #8131
Thanks, @michaelhaxhiu. This is not a very urgent issue so the best thing would directly add it to RN instead of using workarounds.

@michaelhaxhiu Could you please update the expected result section to say that `Fix on react-native is preferred`?

[2022-05-18 13:16] parasharrajat commented on #7715
Yeah, Please update the title. It must be due to the wrong link format used on PR. Please update that as well if possible.

[2022-05-18 13:22] parasharrajat commented on #9061
This is how safari handles the input focus. The main problem here is the layout. safari Mobile does not respect flexbox when the keyboard is open. May be due to the momentum scroll. But I agree that we should find a fix for this problem once and for all.

The correct fix would be able to fix the part of the UI position. For example, the bottom CTA, header. There is no direct solution available to

[2022-05-18 13:26] parasharrajat commented on #8657
Please do some research on this. I would not proceed to change it until we know what we are changing. It must have some effect as it is present in the code.

Also, your proposal is forcing us to use fixed `defaultStatus`. Could you try to find a way so that it can be dynamic? Then we don't have to worry about changing it to open. If you notice that old code is dynamic in nature.

[2022-05-18 13:28] parasharrajat commented on #4612
Why are we pushing this history entry? It is like mocking history, I do not agree with this change.

[2022-05-18 13:34] ahmdshrif commented on #4612
because we have a new route pushed to the drawer.
if you use `navigate()` that will push automatically . since we user reset and add a new route we should add it to history also .

why you do not agree!!

[2022-05-18 13:38] parasharrajat commented on #4612
if you use navigate() that will push automatically . since we use reset and add a new route we should add it to history also.

I will check it.

[2022-05-18 15:15] OSBotify opened #9069 "Deploy Checklist: New Expensify 2022-05-18"
**Release Version:** `1.1.63-2`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/8409
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/8760
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/8804
  - [x] QA

[2022-05-18 15:19] neil-marcellini commented on #9061
Hmm actually hold on, I'm unable to reproduce this. Can someone else give it a try?

[2022-05-18 15:51] b1tjoy commented on #8663
Took me some time to figure what my upwork username is, but i still don't know, can I submit a proposal on upwork?

I have issue with screenshot on Android simulator, I will take screenshot on real device and make pull request less than 24 hours.

[2022-05-18 15:57] b1tjoy commented on #8612
Submit a proposal on upwork just now.

I have issue with screenshot on Android simulator, I will take screenshot on real device and make pull request less than 24 hours. Thanks.

[2022-05-18 16:30] mallenexpensify commented on #2985
Happy anniversary!
<img width="389" alt="image" src="https://user-images.githubusercontent.com/22508304/169094537-0ecd3a62-d8b1-44d6-9b17-ad19fb13c23d.png">

#7925 is moving along (but also on hold...)

[2022-05-18 16:37] #9005 closed

[2022-05-18 16:49] jayeshmangwani commented on #9010
Proposal:

https://github.com/Expensify/App/blob/20c11746070dc462454feb14a748db494115d7ae/src/libs/fileDownload/getAttachmentDetails.js#L21-L24

crash is happening because of these lines, anchor tag does not have ATTACHMENT_PREVIEW_ATTRIBUTE = "src", and also we are not using previewSourceURL from the getAttachmentName anywhere, so we can remove these lines,

and anchor tag has no data-name attrib

[2022-05-18 16:57] adelekennedy commented on #8719
@neil-marcellini the process we have in place now is to double the issue every 7 days a contributor isn't assigned - we're around the doubling point now actually

[2022-05-18 16:59] mallenexpensify commented on #8349
@Julesssss @parasharrajat any reason we _shouldn't_ double this?

[2022-05-18 17:02] mallenexpensify commented on #6069
PR is on production, will pay 5/20 if no regressions, updated title

[2022-05-18 17:03] mallenexpensify commented on #8288
PR is on production, updated title to pay on 5/20 if no regressions

[2022-05-18 17:05] mallenexpensify commented on #8034
PR is on stagin

[2022-05-18 17:05] neil-marcellini commented on #8719
I think it would be fine to double this time. Let's make sure it doesn't become overly expensive in the future if it takes a long time until there is a good proposal.

[2022-05-18 17:06] mallenexpensify commented on #6301
@parasharrajat @Tabakharniuk , what's status on the PR? Looks like it was updated 5 days ago

[2022-05-18 17:35] Tabakharniuk commented on #6301
@mallenexpensify currently, I am fixing bugs that @parasharrajat has found

[2022-05-18 17:46] rushatgabhane commented on #7909
@iwiznia as per [step # 13 in C+ doc](https://docs.google.com/document/d/1BvohU05MTaHnjOD_vwJv_aqDAirv-ChkyRnKCAvOVyQ/edit#bookmark=id.cgkwyu591tft), please send an all@ post mortem email regarding this [RCA doc](https://docs.google.com/document/d/1X2lMGvhW25NwOk1o9WbYgmMr0odcct0kJpdcy-xQYuI/edit).

- [Problem solution 1](https://expensify.slack.com/archives/C01GTK53T8Q/p1652889539134469)
- [Probl

[2022-05-18 17:53] iwiznia commented on #7909
Done! Thanks a lot!

[2022-05-18 18:05] deetergp opened #9077 "QA Testing"
QA Testing [this issue](https://github.com/Expensify/Web-Expensify/pull/33748)

[2022-05-18 18:06] deetergp commented on #9077
foo

[2022-05-18 18:06] deetergp commented on #9077
## **proposal**

[2022-05-18 18:06] deetergp commented on #9077
Works like a champ 👍

[2022-05-18 18:06] #9077 closed

[2022-05-18 18:23] AndrewGable commented on #8851
Kinda seems just like it's a quirk of Google's app, which we probably won't ever get to the bottom of. I think the high level solution sounds solid, but let's update the proposal to include all the changes required.

[2022-05-18 18:28] parasharrajat commented on #8031
Bump! Any update?

[2022-05-18 18:29] parasharrajat commented on #8311
Looking now.

[2022-05-18 18:30] parasharrajat commented on #6941
Open for proposals.

[2022-05-18 18:33] olafdev commented on #6941
Can I participate in this issue without Upwork account?

[2022-05-18 18:36] eVoloshchak commented on #8851
**Updated proposal:**
1. Add `GOOGLE_MEET_APP_URL: 'https://meet.google.com'` to [CONST.js](https://github.com/Expensify/App/blob/main/src/CONST.js)
2. In `src/components` create a folder called `VideoChatButtonAndMenu`, move [VideoChatButtonAndMenu.js](https://github.com/Expensify/App/blob/main/src/components/VideoChatButtonAndMenu.js) into it and rename it to `index.js`
3. In that same folder cr

[2022-05-18 18:39] rushatgabhane commented on #7909
@mallenexpensify all done, thanks for raising this!

- Here's the [RCA doc](https://docs.google.com/document/d/1X2lMGvhW25NwOk1o9WbYgmMr0odcct0kJpdcy-xQYuI/edit?usp=sharing)
- Summary posted on `#expensify-open-source` - [problem solution 1](https://expensify.slack.com/archives/C01GTK53T8Q/p1652889554746239), [problem solution 2](https://expensify.slack.com/archives/C01GTK53T8Q/p1652889539134469)

[2022-05-18 18:48] MitchExpensify commented on #8841
Not overdue

[2022-05-18 19:01] parasharrajat commented on #8311
@eVoloshchak this proposals somewhat match with the approach from the previous [proposal](https://github.com/Expensify/App/issues/8311#issuecomment-1101199192).  This is doable but I don't think it would be much helpful. It is limited to this scenario only. If we are about to make any change it can break.

What if we manage the nested handlers. I have a few crazy ideas.
-  Utilize this https://doc

[2022-05-18 19:06] parasharrajat commented on #6941
cc: @adelekennedy :arrow_up:

[2022-05-18 19:08] eVoloshchak commented on #8311
Sounds fun :) I'll try to implement this, will come back with results in ~3 days

[2022-05-18 19:09] rushatgabhane commented on #8851
@eVoloshchak I believe we don't follow that pattern for components. It should look something more like this
- BaseComponent
- index.js
- index.android.js

eg: [Modal component](https://github.com/Expensify/App/tree/main/src/components/Modal)

[2022-05-18 19:10] rushatgabhane commented on #8851
🎀 👀 🎀 C+ reviewed

We're gonna be using https://meet.google.com for android and https://meet.google.com/new for all other platforms.
I can't repro the bug on any of my devices, but @eVoloshchak has tested it out. Let's do this!

cc: @AndrewGable

[2022-05-18 19:11] parasharrajat commented on #8311
I am not saying that it is the way but thought of sharing.

[2022-05-18 19:11] techievivek opened #9078 "Another internal label test when reported by: @techievivek"
The issue has been created for [internal QA](https://github.com/Expensify/Web-Expensify/pull/33716) purposes.

[2022-05-18 19:12] thesahindia commented on #8715
Update the PR
cc: @Santhosh-Sellavel

[2022-05-18 19:14] AndrewGable commented on #8851
Let's do it!

[2022-05-18 19:14] #9078 closed

[2022-05-18 19:16] #8995 closed

[2022-05-18 19:17] techievivek opened #9079 "Another internal label test when reported by: @techievivek"
Creating another test issue for this [Internal QA](https://github.com/Expensify/Expensify/issues/210970) as the first one didn't work out correctly.

[2022-05-18 19:18] eVoloshchak commented on #8851
Got it, thanks

Will do

Yes, I agree, will use that instead

I applied for the job on Upwork, will submit a PR in ~2 days

[2022-05-18 19:19] #9079 closed

[2022-05-18 19:31] adelekennedy commented on #6941
@olafdev Upwork is currently the way we pay all contributors, if you'd like to be compensated please make an Upwork profile

[2022-05-18 19:50] eVoloshchak commented on #8311
@parasharrajat , just realised this is not gonna work, since the issue isn't with nested gesture handlers.
Take a look at [this](https://snack.expo.dev/0j4-grHwE) snack, it has only one `LongPressGestureHandler`, but still doesn't work.
However, if we take the same snack, but wrap our url `Text` with `View`, it starts working - [snack](https://snack.expo.dev/Ytx0AjUFo).
I'll try to look into **why

[2022-05-18 20:00] trjExpensify commented on #8851
Sent the offer! 👍

[2022-05-18 20:03] Beamanator commented on #8833
@mallenexpensify Looks like I missed your idea to make the reopened issue a daily (to make sure the contributor gets paid) - I assume we still want that, right? If so I'll try to add that tomorrow 👍

[2022-05-18 20:10] kavimuru opened #9081 "iOS - Group chat - User name is highlighted when tapping on it to show the details of the user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue found when executing #8409
## Action Performed:
1. Launch the app
2. Log in with any account
3. Create a group
4. Tap on any user in the group

## Expected Result:

[2022-05-18 20:11] OSBotify commented on #9081
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-18 20:16] michaelhaxhiu commented on #8122
Updates on the PR as recent as yesterday, waiting for that to merge.

[2022-05-18 20:18] Beamanator commented on #8031
I'm getting fewer and fewer responses to my posts in slack 😅 I don't feel comfortable moving forward till we have more feedback on the thought so I will tag CMEs and try to get more thoughts

@MitchExpensify I think you can hold off doubling this time please :D Since we don't have a solid way forward yet

[2022-05-18 20:35] thesahindia commented on #9081
Not a deploy blocker ❌. It's known and it was reported [here](https://github.com/Expensify/App/issues/7796)

[2022-05-18 20:49] marcaaron commented on #8126
Just to clarify here... the issue we're fixing is that if you refresh the page on a chat while on mobile web you land back on the sidebar? Does that not sound like an issue with the `react-navigation` library?

[2022-05-18 20:56] gladiator-1 commented on #7835
### Proposal <hr />

### Implementation

_Web_ :

- Use `createElement` from `react-native` to create HTML `<video>` element.

_Native_ :

- Wrap `<video>` element inside a webview using RNWV(react-native-webview) and inline HTML.
- or use `react-native-video` with `react-native-video-player`, I don't see huge differences between both react-native-video or RNWV we can decide which one is better wh

[2022-05-18 20:59] AndrewGable commented on #9081
Ok great - Thanks for the link @thesahindia, let's close as a dupe and then reopen the original if needed.

[2022-05-18 20:59] #9081 closed

[2022-05-18 21:01] marcaaron commented on #8657
Can we please fix all of these issues in `react-navigation`?

[2022-05-18 21:04] trjExpensify commented on #8915
👋 Hey @jrstanley! Are you still interested in this one?

[2022-05-18 21:05] marcaaron commented on #8657
Pretty concerned by this issue and others related to navigation. It seems like a colossal waste to invest this much time, energy and money on temporary hacks. I'm not sure we should invest in our custom actions anymore without taking a more serious look at all the navigation issues we are experiencing and coming up with a holistic plan to solve them.

[2022-05-18 21:08] arielgreen commented on #8612
Thanks @b1tjoy! Hired in Upwork.

[2022-05-18 21:16] jboniface commented on #8641
any update on this?

[2022-05-18 21:18] NikkiWines commented on #8922
Oh oops, we can close this since the bug will be handed in https://github.com/Expensify/App/pull/7985

[2022-05-18 21:18] #8922 closed

[2022-05-18 21:20] marcaaron commented on #8005
Anything related to unreads should be on hold.

[2022-05-18 21:22] Beamanator commented on #8005
Oh shoot good point!! Sorry @thesahindia let's put this on hold for now, please don't submit a PR yet 🙏

[2022-05-18 21:24] marcaaron commented on #8031
Heads up I'm working on this internally in a [duplicate issue here](https://github.com/Expensify/App/issues/9016) and found a pretty simple solution.

[2022-05-18 21:25] marcaaron commented on #8031
I think the correct behavior is that we should hide and show the "composer" only when the edit comment field is focused or blurred.

[2022-05-18 21:27] marcaaron commented on #8031
Has anyone been hired? If not, I think we can just close this one (and the Upwork job) and have @parasharrajat and @Beamanator test my PR linked to the duplicate issue.

[2022-05-18 21:30] marcaaron commented on #7737
Seems related to `react-navigation` potentially. Almost like there are two sets of screens getting pushed and dismissed somehow...

[2022-05-18 21:30] Beamanator commented on #8031
@marcaaron I ended up hiring @parasharrajat here: https://github.com/Expensify/App/issues/8031#issuecomment-1073543793

After that, we've been discussing what to do in some other situations (see Slack thread: https://expensify.slack.com/archives/C01GTK53T8Q/p1652268683129369?thread_ts=1647881926.785649&cid=C01GTK53T8Q)

And this has been delayed due to lack of responses, which is why I just brough

[2022-05-18 21:31] Beamanator commented on #8031
If you already have a PR up, maybe we can pay @parasharrajat to help test & review it? (I'll help as well)

[2022-05-18 21:33] yuwenmemon commented on #9058
cc @marcaaron could this be related to https://github.com/Expensify/App/pull/8865?

[2022-05-18 21:34] marcaaron commented on #7363
Just curious, how many of these fixes have happened in the `react-navigation` repo? How many would we say are "workarounds"? And if we worked around something was there some justification as to why documented somewhere?

[2022-05-18 21:40] marcaaron commented on #7363
@parasharrajat I'm going to close this and move all related issues into a GitHub project for now if you see any issues related to navigation please grab me.

[2022-05-18 21:40] #7363 closed

[2022-05-18 21:44] marcaaron commented on #8290
I'm gonna chalk this up to being some inconsistent Pusher service stuff and close this since this is not actionable at the moment.

[2022-05-18 21:44] #8290 closed

[2022-05-18 22:19] marcaaron commented on #9058
Pretty hard to say based on the video. They gave the email used so we could look at logs and try to see why.

[2022-05-18 22:25] #8824 closed

[2022-05-18 22:39] flodnv commented on #8641
See https://expensify.slack.com/archives/C01GTK53T8Q/p1652913438404499?thread_ts=1651572782.369259&cid=C01GTK53T8Q

[2022-05-18 22:46] mallenexpensify commented on #8833
Yeah, I think it should be a daily, otherwise it could _linger_ for a while and not get paid

[2022-05-18 22:58] roryabraham commented on #7582
Going to switch this to monthly until things settle down a bit. Seems pretty valuable, but not urgent.

[2022-05-18 23:51] kbecciv opened #9084 "[$250] Send Money - Incorrect chat conversation displayed after send money to non-existing account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR:** https://github.com/Expensify/Web-Expensify/pull/33293

## Action Performed:
1. Go to staging.new.expensify.com
2. Login and click

[2022-05-19 00:17] luacmartins commented on #6883
Here's the repo https://github.com/Expensify/react-native-key-command

[2022-05-19 00:20] bfitzexpensify commented on #7317
HI @mananjadhav — any update here?

[2022-05-19 00:22] luacmartins commented on #9043
Working on https://github.com/Expensify/App/pull/9075 as it's a blocker for this one

[2022-05-19 00:25] arielgreen commented on #8460
@dharmik paid
@parasharrajat hired for PR review in Upwork, once you accept I'll remit payment

[2022-05-19 00:26] bfitzexpensify commented on #7625
Hey @thesahindia - no regressions yet, so just getting everything in order to pay this out. I've invited you to a new Upwork [job](https://www.upwork.com/jobs/~015de1be6b721a3658) (the old one had expired). I've set it for $750 - reporting bonus, work completed, and a patience bonus 😄. Please accept the job there and I'll pay out on the 20th - thanks!

[2022-05-19 00:28] arielgreen commented on #8731
[Price increased](https://expensify.slack.com/archives/C01GTK53T8Q/p1652920061238279)

[2022-05-19 00:28] arielgreen commented on #8592
[Price increased](https://expensify.slack.com/archives/C01GTK53T8Q/p1652920061238279)

[2022-05-19 00:29] roryabraham commented on #8272
Okok sorry for the delay, will try to get a PR up for this tonight or tomorrow.

[2022-05-19 00:35] bfitzexpensify commented on #8421
Hey @mollfpr - no regressions yet, so preparing to pay this one out on the 20th. Can you apply to the Upwork post [here](https://www.upwork.com/jobs/~018d0cfacbcb843fbc) please? Thanks!

[2022-05-19 02:19] mallenexpensify commented on #2727
Apologies for the delay.  I drafted a reply with details, I need to get more internal 👀 on it before posting since this is a unique edge case and because we're also wanting to create a process for third-party repos.  I'll follow up in the morn.

[2022-05-19 02:54] kavimuru opened #9085 "Payment - User can't continue after reaching "Save & Continue""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-Condition: Have a workspace created
1. Open the Expensify iOS app
2. Log in to a applause.expensifail.com account
3. Tap on "Profile" icon > "Pa

[2022-05-19 03:35] kadiealexander commented on #7432
@mananjadhav could you please confirm which PR to test?

[2022-05-19 04:52] mananjadhav commented on #7432
Something is wrong, I didn't get the notification until @kadiealexander mentioned me again.

Yes, @pecanoro that's the PR. I've opened the PR ready for review but added a tag in title `[DO NOT MERGE]`.

[2022-05-19 04:53] mvtglobally opened #9086 ""Person is typing..." message appear to be off-center in that bottom space"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to app with account A
2. From account B on another device/browser, start typing

## Expected Result:
"Person is typing..." message should b

[2022-05-19 04:54] mananjadhav commented on #7317
@bfitzexpensify On hold, till we merge #7702. https://github.com/Expensify/App/pull/7846#issuecomment-1119652363

I've updated the title of the PR. Can you update the title of this issue?

[2022-05-19 04:57] mvtglobally opened #9087 "Feature request: move the is-typing and you-appear-offline up above the compose field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to app with account A
2. From account B on another device/browser, start typing
3. Set yourself offline

## Expected Result:
The is-typing

[2022-05-19 04:57] mananjadhav commented on #7835
Thanks, @gladiator-1. This was really helpful.

@stitesExpensify Based on the previous discussions, I am inclined with @gladiator-1's proposal of not using external lib. Do we need provisions to play Youtube/Vimeo files at the moment?

[2022-05-19 05:01] mvtglobally opened #9088 "[$250] Focus is lost in search after hitting enter"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open search
2. Write something that returns no results and press enter/return

## Expected Result:
Focus should stay in the search text

## Actua

[2022-05-19 05:07] mvtglobally opened #9089 "[HOLD for payment 2022-07-05] [$250] FEATURE REQUEST: When automatically including a link, default to https instead of http if not specified"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. send safe.directory/link message

## Expected Result:
When automatically including a link, if no scheme is specified default to

[2022-05-19 05:12] mvtglobally opened #9090 "[HOLD for payment 2022-07-15] [$250] When sending text that NewDot thinks is a link, it adds the link markdown automatically and doesn't allow to edit"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. send safe.directory/link message
3. Edit the message to remove the link

## Expected Result:
User would expect it to save the te

[2022-05-19 05:14] thesahindia commented on #7625
Cool, I have accepted the offer. Thanks.

[2022-05-19 05:15] mvtglobally opened #9091 "[Feature] Desktop needed 3 updates to get to most recent version"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Saw there was a new version of desktop
2. Clicked Update New Expensify
3. App updated to Version 1.1.60-3

## Expected Result:
App to update to m

[2022-05-19 05:19] mvtglobally opened #9092 "[Needs Reproduction][$250] Chat with drafted text not showing in LHN for some accounts"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Viewed chat with user A
2. Viewed chat with "New username for Manager account Allen - eCORP" , [manager.allen@expensicorp.com](mailto:manager.all

[2022-05-19 06:20] srikarparsi commented on #9018
I've been working on this issue and currently have a question regarding code practices and have also ran into a problem with getting data from Onyx.

Currently, when you change the language preference, most of the text in the chat is changing because it is listening for changes made to the locale setting in Onyx and updates the text based on that.

However, the title which includes "(archived)" is

[2022-05-19 07:03] techievivek commented on #9085
I looked into the issue and can see that it throws the error and the reason being the account that you are trying to add is already previously added.
[code]
I also tested this with a new account where no bank accounts are added and it worked without any errors.
So a solution would be to show the error message to the user in the app.

[2022-05-19 07:16] techievivek commented on #9085
@kavimuru Can you confirm if you had already added this bank account before?

[2022-05-19 07:27] Puneet-here commented on #9086
### Proposal

We have to remove the styling on line 59
https://github.com/Expensify/App/blob/cc912ffac883d59f1ea1ca7a4173ed565bdf3f61/src/pages/home/report/ReportTypingIndicator.js#L55-L61

[2022-05-19 07:33] techievivek commented on #9085
@AndrewGable Can you please cross-check this. Thanks

[2022-05-19 07:35] parasharrajat commented on #7363
Thank you for collaborating on these. This was much needed.

[2022-05-19 07:48] parasharrajat commented on #8126
This is a kind of missing feature from react-navigation. The way Drawer is built over Tab-navigator prevents it from creating browser history entries. We can't control its state via url or configuration.

IMO, The goto answer from react-navigation maintainer would be to use a custom router for drawer navigator to meet our needs. I also think that we should also create a custom router. It can also

[2022-05-19 07:57] parasharrajat commented on #9085
I have already fixing this here https://github.com/Expensify/App/pull/9023. As part of https://github.com/Expensify/App/issues/7185

But I think https://github.com/Expensify/App/issues/9085#issuecomment-1131306339 is the best solution due to the [reason](https://github.com/Expensify/App/issues/7185#issuecomment-1127516268).

[2022-05-19 07:58] parasharrajat commented on #7185
@chiragsalian Any thoughts on the [above](https://github.com/Expensify/App/issues/7185#issuecomment-1127516268)?

[2022-05-19 08:00] Subash-G commented on #8935
Hi @Santhosh-Sellavel  Kindly review this propsal

[2022-05-19 08:00] parasharrajat commented on #9086
Maybe a regression from https://github.com/Expensify/App/pull/8691 cc: @luacmartins

[2022-05-19 08:31] techievivek commented on #9085
So I think we can close this one then and yeah https://github.com/Expensify/App/issues/9085#issuecomment-1131306339 would be the best solution here.

[2022-05-19 08:33] parasharrajat commented on #8101
No proposal is accepted now for this issue.

[2022-05-19 08:35] parasharrajat commented on #9085
Sorry, I meant to say that  https://github.com/Expensify/App/issues/9085#issuecomment-1131306339 is **not** the best solution. Mistyping...

[2022-05-19 08:39] sobitneupane commented on #9089
**Proposal:**
We need to make some changes in expensify-common repo.
https://github.com/Expensify/expensify-common/blob/237fb782678fec9542d0a2608ea18ef2302995fd/lib/ExpensiMark.js#L89
[code]
https://github.com/Expensify/expensify-common/blob/237fb782678fec9542d0a2608ea18ef2302995fd/lib/ExpensiMark.js#L120-L122
[code]

[2022-05-19 08:45] techievivek commented on #9085
Did you request a `copy` for your fix? I think we can just go with whatever they suggest.
And about the other concern while trying to reproduce this locally I saw an inconsistency when I added the same saving account by going through `Profile -> Payment -> Add payment method` it did filter out the already added account when I reattempted to add a new bank account. But when I added the same bank ac

[2022-05-19 08:55] parasharrajat commented on #9085
Thanks. I am also concerned about the filtering of existing accounts. It is clearly an issue with that filtration. Code is designed to hide existing accounts from the dropdown so we should improve this logic to successfully filter all existing accounts. But if there is a possibility of an edge case where we are getting this error, then we can go with showing the error on the UI.

At last, we can k

[2022-05-19 09:29] sobitneupane commented on #9088
**Proposal:**
While handling key press events, we can keep the text input focused if there are no options and Enter is pressed.
https://github.com/Expensify/App/blob/cc912ffac883d59f1ea1ca7a4173ed565bdf3f61/src/components/OptionsSelector.js#L156-L158

[code]
I also propose to remove selectTextOnFocus from TextInput because when Enter is pressed or text is focused, entered text is selected.
https:/

[2022-05-19 09:57] techievivek commented on #9085
It indeed is related to filtration logic, I think the current logic only hides the bank accounts which has been successfully added but for bank accounts that are in process of being added(You can mimic this by trying to add a bank account under one of the workspaces but leave it incomplete) are shown in the dropdown.

This is what the progress of adding a bank account in my workspace looks like.
<

[2022-05-19 10:36] Puneet-here commented on #8936
Bump @conorpendergrast

[2022-05-19 10:56] aneequeahmad commented on #8101
@parasharrajat should I post my updated/final proposal here https://github.com/Expensify/App/issues/7618 ?
I've been in discussion with the maintainers of `react- navigation` and figured out the root cause of the issue. I  will be raising a PR in `react-navigation` today.

cc: @flodnv

[2022-05-19 11:02] Santhosh-Sellavel commented on #8888
@jrstanley Yes, you can start working on your PR!

[2022-05-19 11:11] parasharrajat commented on #8101
Yeah, sure.

[2022-05-19 11:13] MonilBhavsar commented on #7798
Since the linked PR caused a small regression, @parasharrajat could you please follow the steps mentioned in the doc [here](https://docs.google.com/document/d/1BvohU05MTaHnjOD_vwJv_aqDAirv-ChkyRnKCAvOVyQ/edit#heading=h.8iom76ry1bp2) and fill the RCA doc. It will be helpful to learn something and improve our process.
I have added a row in the [RCA sheet](https://docs.google.com/spreadsheets/d/1u73R

[2022-05-19 11:25] kevinksullivan commented on #8888
All set on Upwork side! @frenkield @jrstanley please accept the offers and I will pay this out once it's fixed with no regressions.

[2022-05-19 11:40] kbecciv commented on #8923
@thienlnam Yes. Issue is still reproduced on last QA Regression.

[2022-05-19 11:49] NicMendonca commented on #8996
@Santhosh-Sellavel -- https://www.upwork.com/jobs/~01746018cccbba15e0

[2022-05-19 11:59] Justicea83 commented on #8934
I don't think they're related in the sense that one button is disabled the other isn't.

[2022-05-19 12:16] nkuoch commented on #9088
I don't feel like we need a fix for it, but asking @shawnborton 's opinion

[2022-05-19 13:12] michaelhaxhiu commented on #8131
Done

[2022-05-19 13:56] shawnborton commented on #9088
I think it makes sense to keep the focus even after pressing enter.

[2022-05-19 14:05] parasharrajat commented on #7798
Thanks, @MonilBhavsar but I wasn't C+ on this issue. I solved with a PR as a contributor. So IMO, the C+ assigned on the new [issue](https://github.com/Expensify/App/issues/8592) should proceed with the steps. cc: @mananjadhav. Please let me know otherwise whatever is the process.

[2022-05-19 14:14] Santhosh-Sellavel commented on #8996
Thanks @NicMendonca

[2022-05-19 14:57] iwiznia commented on #9084
Oh wow... yes, terrible bug.

[2022-05-19 15:02] luacmartins commented on #8731
Yes, I considered the proposal but I think it's worth waiting a bit longer for this. @arielgreen let's cap the price at $4000.

[2022-05-19 15:05] roryabraham commented on #9018
Hi @srikarparsi, thanks for the write-up. We discussed this a bit in slack [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1650935122490379), but here's my summary:

The `reportName` is a "composite" value that comes from multiple sources:

- The report itself
- personal details
- policies
- locale

And given our new API design that prohibits side-effects from API requests, we had to choo

[2022-05-19 16:07] luacmartins commented on #9086
Yea, I think so. Here's the [fix](https://github.com/Expensify/App/pull/9094). Thanks for the ping @parasharrajat!

[2022-05-19 16:22] bondydaa commented on #9092
i'm guessing something on the front end isn't being updated, it could possibly be that the backend hasn't returned a response yet or something like that but 🤷 lets investigate the front end first.

[2022-05-19 16:33] Justicea83 commented on #8934
https://expensify.slack.com/archives/C01GTK53T8Q/p1652631140387289 is fixed in the linked PR, but can we create separate issue for this(https://expensify.slack.com/archives/C01GTK53T8Q/p1652632605348319) ?

[2022-05-19 16:54] AndrewGable commented on #9085
Since this issue sounds like it's on production as part of https://github.com/Expensify/App/issues/7185 - Going to remove deploy blocker label.

[2022-05-19 16:56] aldo-expensify commented on #8931
Ok, I'm going to close this for now. Feel free to reopen if you see this happening again.

[2022-05-19 16:56] #8931 closed

[2022-05-19 16:57] AndrewGable commented on #9069
:shipit:

[2022-05-19 16:57] #9069 closed

[2022-05-19 16:59] aldo-expensify commented on #8841
@Santhosh-Sellavel , do you know of a specific regression this may cause? can you elaborate a bit more on this? thanks.  I'm not very familiarized with the drawer behaviour.

[2022-05-19 17:03] OSBotify opened #9099 "Deploy Checklist: New Expensify 2022-05-19"
**Release Version:** `1.1.64-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/8817
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/8832
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/9044
  - [x] QA

[2022-05-19 18:30] Santhosh-Sellavel commented on #8934
I will leave a comment in slack that it's a different issue, so the issue will be created when the time comes. @Justicea83

[2022-05-19 18:30] Santhosh-Sellavel commented on #8934
What about this one, is it a different issue too?

[2022-05-19 18:33] mananjadhav commented on #9010
@kbecciv I've been trying to reproduce this but I am just not able to. I've attempted to download pdf, png, and mp4 files. My installed version is 1.1.62-0 and my local version is 1.1.64-0.

@jayeshmangwani Thank you for the proposal, are you able to reproduce it at your end?

[2022-05-19 18:36] OSBotify commented on #9099
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.64-0 :rocket:

[2022-05-19 19:12] thesahindia commented on #9084
This bug isn't only about non-existing accounts. We just don't navigate to the report when a user sends money.

### Proposal

When a user sends money [payIOUReport](https://github.com/Expensify/App/blob/11a1f0debac2dfee461e6b71751c3b3bcfb9f2cf/src/libs/actions/IOU.js#L285) gets called, inside the function after the api request we get two reports in the response the first one contains the reportID

[2022-05-19 19:26] chiragsalian commented on #7185
Answering in the same order of the comment,
1. Would it help if response had a title? We can easily add that if it would help. Let me know.
2. Before we get the copy and translation yeah i think we should fix the logic that you mentioned, I would think it would exclude accounts already added. I don't see immediately see any logic in the backend that hard codes account.alreadyExists for test accoun

[2022-05-19 19:35] Santhosh-Sellavel commented on #8841
@aldo-expensify
No, I don't know any specific regression, just an initial hunch since setting only `closed` to a possibility of 'open'/'closed' sounds really weird.

[2022-05-19 19:37] jayeshmangwani commented on #9010
@mananjadhav  Yes, I am able to reproduce on my side,
I have tried with zip and mp4 files and both are crashing, latest main branch (  "version": "1.1.62-0")
please check this video for reference

https://user-images.githubusercontent.com/35371050/169388469-fcd9a1d6-eb8f-42df-9a27-6f54355b6c02.mov

[2022-05-19 19:42] jayeshmangwani commented on #9010
@mananjadhav yes this issue has been handled in   "version": "1.1.64-0", it was happening in "version": "1.1.62-0" and now it's fixed

[2022-05-19 19:46] Santhosh-Sellavel commented on #8545
@thienlnam
I like the @eVoloshchak proposal!
🎀👀🎀 C+ reviewed!

Just one concern we should refactor `DetailsPage` component to ensure this `getPersonalDetailsForEmail` called only once!
[code]

[2022-05-19 19:59] eVoloshchak commented on #8545
Ok, I'll test this and apply changes if needed

[2022-05-19 20:08] chiragsalian commented on #7185
Nice, thats a good find. As for the title vs message. In the backend title is optional so it may not always be present but message is a required param. Additionally we can also perhaps make it return a specific error code (something other than 666) and then the front end can handle that error code as needed.

[2022-05-19 20:25] Santhosh-Sellavel commented on #7862
@JediWattson can you share `ATTACHMENT_SRC` regex?

[2022-05-19 20:32] jayeshmangwani commented on #9089
Proposal:
In ExpensiMark, For `link` and `autoLink`, we are checking if it includes http, and not then we are adding `http://`, we have to add `https://` instead `http://`at both the places in
`expensify-common/lib/ExpensiMark.js`

https://github.com/Expensify/expensify-common/blob/237fb782678fec9542d0a2608ea18ef2302995fd/lib/ExpensiMark.js#L84-L90

https://github.com/Expensify/expensify-common/bl

[2022-05-19 20:46] Santhosh-Sellavel commented on #9089
@marcochavezf
We have two proposals, both are the same.
So let's go with the first one,  @sobitneupane  [proposal](https://github.com/Expensify/App/issues/9089#issuecomment-1131408879) looks good here.
🎀👀🎀 C+ reviewed!

[2022-05-19 20:46] Santhosh-Sellavel commented on #9089
@kevinksullivan Wonder why there is no external label here?

[2022-05-19 21:01] Santhosh-Sellavel commented on #8935
@pecanoro this seems to dupe of #8934 i.e the cause is the same and handled by the  PR https://github.com/Expensify/App/pull/9093.

[2022-05-19 21:02] #7976 closed

[2022-05-19 21:03] Santhosh-Sellavel commented on #8935
Sorry @Subash-G this was already worked internally feel free submit proposals on any other [open jobs](https://github.com/Expensify/App/labels/Help%20Wanted)

[2022-05-19 21:09] Santhosh-Sellavel commented on #8505
@jboniface Let's close this one out!

[2022-05-19 21:13] Santhosh-Sellavel commented on #7968
Sorry for the delay, will get to this in a couple of days!

[2022-05-19 21:19] neil-marcellini commented on #8423
@shawnborton could you also create a collapse Expensicon please?

[2022-05-19 22:13] deetergp commented on #8927
Switching this back to `Weekly` since we're still open to more proposals.

[2022-05-19 23:05] amyevans commented on #9057
Would like to hang onto this and fix internally

[2022-05-19 23:06] MitchExpensify commented on #8951
[Upwork Job ](https://www.upwork.com/jobs/~01e6d247545e4ef309)

[2022-05-19 23:21] flodnv commented on #8471
PR is nearing the final review stage 👌

[2022-05-19 23:43] michaelhaxhiu commented on #7728
leaving it

[2022-05-19 23:53] Luke9389 commented on #8287
Got it, OK. Thanks

[2022-05-20 00:01] Luke9389 commented on #8287
I think I actually like @Puneet-here's idea to just take that line out.
It's strange that a single backspace press would clear the whole line.

[2022-05-20 00:04] Luke9389 commented on #8951
@kbecciv, how do you do step 4 (enable Secure Staging server)?

[2022-05-20 00:23] JediWattson commented on #7862
That would look like:

[code]
I found it in [this forum](https://laracasts.com/discuss/channels/laravel/take-src-url-from-img-with-regex) and modified it to look at data-expensify-source since that seemed unique to attachments that I found in this boolean
https://github.com/Expensify/App/blob/75d9014c75befb7655e78653c65f4d2e0c0f0cdf/src/components/HTMLEngineProvider/HTMLRenderers/ImageRenderer.js#

[2022-05-20 00:49] jliexpensify commented on #8935
Closing this off and removing job from Upworks. Sorry @Subash-G and thanks @Santhosh-Sellavel !

[2022-05-20 01:26] mallenexpensify commented on #2727
First, a paraphrased plan for how we plan to compensate for issues that require fixes in third party repos.
**tl,dr:** (and this isn't set in _stone_ until the .md file is created)
- Half will be paid when the fix is merged in our fork, the E/App repo is pointed at the fork and it doesn't break for a week.
- The other half will be paid when the fix is merged upstream, fork is update w/ upstream fi

[2022-05-20 01:42] jliexpensify commented on #9088
Internal - https://www.upwork.com/ab/applicants/1527464673445306368/job-details
External - https://www.upwork.com/jobs/~0133988b8f90396950

[2022-05-20 02:16] robertjchen commented on #5059
Closing this for now, as the larger Offline networking overhaul would address this bug.

[2022-05-20 02:16] #5059 closed

[2022-05-20 02:31] Christinadobrzyn commented on #5894
Created a new Upwork job to fix these bugs

Internal posting - https://www.upwork.com/ab/applicants/1527476784280002560/job-details
External posting - https://www.upwork.com/nx/job-post/custom/preview?uid=1527476784280002560

[2022-05-20 02:44] Christinadobrzyn commented on #9092
Job posted in Upwork:

Internal posting - https://www.upwork.com/ab/applicants/1527478590208892928/job-details
External posting - https://www.upwork.com/jobs/~0175ef7266cf8bfb7e

[2022-05-20 02:50] Christinadobrzyn commented on #8249
Here's the job that will be [paid](https://github.com/Expensify/App/issues/8249#issuecomment-1109387193). Can we confirm, that payment for this will be:

@Tushu17 for the fix
@Santhosh-Sellavel for reporting and C+

[2022-05-20 04:27] mvtglobally commented on #9099
@AndrewGable Regression is complete
Clean run, not blockers.
We are finishing up https://github.com/Expensify/App/pull/8832 with new steps provided.

[2022-05-20 04:44] aneequeahmad commented on #7618
### UPDATED PROPOSAL

**PROBLEM**

- As discussed we came to know that the issue is in react-navigation.
- Had a detailed discussion with `react-navigation` reviewer on the PR's and found the actual problem which should be fixed. The problem is with the `histroy length` which is ` > 1`.

- This is our discussion on other PR https://github.com/react-navigation/react-navigation/pull/10562

### Solut

[2022-05-20 04:55] mananjadhav commented on #7470
I checked @jayeshmangwani's proposal and for the lack of any better proposal, I feel we can go ahead with this.

@stitesExpensify do you see any challenges with `setLayout`?

Note that I am not able to reproduce this on Web and iOS (Android build isn't working for me). So @mvtglobally are you able to reproduce this on all platforms as mentioned in the GH body.

[2022-05-20 05:08] aneequeahmad commented on #8158
@rushatgabhane PR is raised. Thanks

[2022-05-20 05:12] kadiealexander commented on #8197
https://www.upwork.com/ab/applicants/1527517318879318016/job-details
https://www.upwork.com/jobs/~01b845f7502650aa01

Sorry @sobitneupane and @parasharrajat I had no idea the Upwork post had closed. Please apply here so I can pay you both!

[2022-05-20 05:15] kadiealexander commented on #7352
Paid!!! Thanks for your work team.

[2022-05-20 05:15] #7352 closed

[2022-05-20 05:17] sobitneupane commented on #8197
Applied.

[2022-05-20 05:18] kadiealexander commented on #8309
@izhan - paid!
@parasharrajat - contract sent over, please let me know when you accept!

[2022-05-20 05:21] kadiealexander commented on #8357
Everyone is paid! Thanks for your work, team.

[2022-05-20 05:21] #8357 closed

[2022-05-20 05:22] rushatgabhane commented on #7352
Cheers!

[2022-05-20 05:25] tomivs commented on #8185
Hey guys, it's been 7 days. This was successfully tested on staging and I tested it on production by myself. Any update on this? Will the Upwork escrow be released?

cc: @thienlnam @adelekennedy

[2022-05-20 05:30] kadiealexander commented on #8197
Offer sent, please accept!

[2022-05-20 05:32] kadiealexander commented on #8197
@sobitneupane has been paid! Thanks for your work on this. :)

[2022-05-20 05:35] kadiealexander commented on #9090
Posted to Upwork!

https://www.upwork.com/ab/applicants/1527523209823019008/job-details
https://www.upwork.com/jobs/~012f7992db0fb8f099

[2022-05-20 05:35] sobitneupane commented on #8197
Thank you.

My pleasure.

[2022-05-20 05:37] madmax330 commented on #8665
Looks like we found a simple solution here: https://expensify.slack.com/archives/C01GTK53T8Q/p1651860311358399?thread_ts=1650366153.665479&cid=C01GTK53T8Q

Tagging as external

[2022-05-20 05:40] #8787 closed

[2022-05-20 05:50] parasharrajat commented on #8309
@kadiealexander Done.

[2022-05-20 05:55] mananjadhav commented on #9010
Thanks for responding @jayeshmangwani. Appreciate your help.

@arielgreen We can wait for one KI test and then close this one out.

[2022-05-20 05:56] parasharrajat commented on #8197
@kadiealexander Applied

[2022-05-20 06:27] rushatgabhane commented on #8251
@JmillsExpensify gentle bump :) https://github.com/Expensify/App/issues/8251#issuecomment-1105829324

[2022-05-20 06:31] Tushu17 commented on #8665
###Proposal
(Just c/p here for easy access)
We just have to pass `statusBarTranslucent`  in `ReactNativeModal` https://github.com/Expensify/App/blob/54f55b62798e078ebbfb61cb1b8a9bca642a8902/src/components/Modal/BaseModal.js#L79

[2022-05-20 06:38] MariaHCD commented on #8951
@Luke9389 I believe step 4 refers to navigating to Settings > Preferences and enabling `Use Secure Staging Server`:

![Screen Shot 2022-05-20 at 10 38 08 AM](https://user-images.githubusercontent.com/12268372/169468060-c169a575-f7a4-48f7-b4f2-c9529a3de958.png)

[2022-05-20 06:46] sudharsanvishnu commented on #8197
https://github.com/ascoders/react-native-image-viewer

[2022-05-20 06:50] MonilBhavsar commented on #7798
Thank you! 🙌

[2022-05-20 07:15] Beamanator commented on #5894
@roryabraham looks like I got assigned b/c you're OOO today - I'm going to unassign since i believe you'll be back Monday, feel free to add me back if you need my help 👍

[2022-05-20 07:19] NehaSantani commented on #9090
https://user-images.githubusercontent.com/4989101/169474379-25c795a4-cb36-4dac-a11d-e43261cd9b3a.mov

Hi,
I would like to work on this issue!
I am not allowing the user to automatically convert the text to link if it is in editMode!
Is this the expected behaviour?

[2022-05-20 07:30] bfitzexpensify commented on #8421
I've tried to pay this out multiple times today with no success - I just get an Upwork growl saying an error occurred.

Reassigning this to someone in America.

[2022-05-20 07:53] bfitzexpensify commented on #7625
Having trouble paying this out - getting an error from Upwork trying to end the contract. It's implied that it is a temporary error, so reassigning for this to be tried to pay out later today (PST).

[2022-05-20 08:02] NehaSantani commented on #8287
Hey what is the status of this issue?
Is it still open?
I can work on it!

[2022-05-20 08:23] Justicea83 commented on #8934
This is a different issue and i guess its closed

[2022-05-20 10:19] Julesssss commented on #8349
Go for it

[2022-05-20 10:20] shawnborton commented on #8423
Does something like this make sense for collapse?
<img width="394" alt="image" src="https://user-images.githubusercontent.com/2319350/169507996-45aa8962-6f90-400e-9dd3-5128a1801519.png">

cc @Expensify/design

[2022-05-20 10:21] shawnborton commented on #8423
If so, here is the file: [collapse.svg.zip](https://github.com/Expensify/App/files/8738609/collapse.svg.zip)

[2022-05-20 11:20] Santhosh-Sellavel commented on #8934
It's solved by the PR. I can't reproduce so I left a comment to close it.

[2022-05-20 11:20] Julesssss commented on #9088
I agree with @nkuoch that it probably isn't necessary. But defer to Shawn.

Awaiting proposals.

[2022-05-20 11:43] songlang1994 commented on #8592
## Proposal
I believe it's an issue of Safari that we can fix it on the DOM side.

But if you do need to "fix" this issue, a workaround is disabling the `autocorrect` feature.

[code]

[2022-05-20 11:48] NicMendonca commented on #8665
Job posting: https://www.upwork.com/jobs/~01d231a130b36a039a

[2022-05-20 12:10] mananjadhav commented on #5894
Thanks for the comment @jrstanley. @Beamanator @Christinadobrzyn We can close this out in favor of the traction in #8731. I would also like to highlight that this is reported by @parasharrajat long before the other issue and might be eligible for reporting bonus if we fix either of these issues.

[2022-05-20 12:24] parasharrajat commented on #8592
Thanks for the proposal. But as I said here https://github.com/Expensify/App/issues/8592#issuecomment-1116074045. The ultimate goal should be to fix the issue without disabling autoCorrect.

[2022-05-20 12:25] parasharrajat commented on #5894
No, I was already paid reporting bonus so I am good.

[2022-05-20 12:32] mananjadhav commented on #5894
Okay thanks for the update.

[2022-05-20 12:39] sketchydroide commented on #8710
Working on this today

It feels there should be some sort of notification that updates the state, otherwise I see no way of user2 being aware of this change until it refreshes.

[2022-05-20 13:06] JmillsExpensify commented on #7625
I've successfully issued payment to @thesahindia. @rushatgabhane have you been paid out for C+ yet? I'll leave the issue open until we confirm.

[2022-05-20 13:20] rushatgabhane commented on #7625
@JmillsExpensify nope, thanks for confirming

[2022-05-20 13:20] laurenreidexpensify commented on #8152
everyone has been paid :)

[2022-05-20 13:20] #8152 closed

[2022-05-20 13:23] songlang1994 commented on #8592
@parasharrajat I've read your comment before I post the proposal. But I misunderstood that you mean the `spellCheck` prop. Spell checking and auto correcting are two different features.

Let's wait a more appropriate solution.

[2022-05-20 13:31] laurenreidexpensify commented on #8421
@mollfpr @Santhosh-Sellavel Upwork was being weird with the payment - can you please accept the most recent offer I sent over and we can get this paid out.

(somehow there are two postings live on the system 🙃)

[2022-05-20 13:31] JmillsExpensify commented on #7625
Great, I just stepped out but I'll pay this when I return to the office a bit later today.

[2022-05-20 13:32] laurenreidexpensify commented on #8358
link for me https://www.upwork.com/ab/applicants/1511327598055616512/offers

[2022-05-20 13:35] Julesssss commented on #8891
No update

[2022-05-20 13:37] iwiznia commented on #9088
FWIW I reported this, without it, one small mistake and you are forced to use the mouse (THE MOUSE!) to do this 😄

[2022-05-20 13:43] thesahindia commented on #7625
Hi @JmillsExpensify, looks like I was paid $1500 instead of $750, can you look into that as well?

[2022-05-20 13:44] mollfpr commented on #8421
@laurenreidexpensify accepted!

[2022-05-20 13:47] sketchydroide commented on #8710
Seems like we send a push to the Policy Channel [here](https://github.com/Expensify/Web-Expensify/blob/642165302951fe18eae79788be6e5a4320cb012f/lib/PolicyAPI.php#L651) but I'm not sure if the user is listening

[2022-05-20 13:55] sketchydroide commented on #8710
on the App this is subscribed [here](https://github.com/Expensify/App/blob/64257486d966504cf4c60319b0e5ef238a855646/src/libs/actions/Policy.js#L519)

[2022-05-20 13:56] luacmartins commented on #9090
@NehaSantani Thanks for the proposal. However, I think that skipping the parser would affect other styles as well (code blocks, quotes, etc) and we wouldn't want that. Let me know if that doesn't answer your question and I can try to clarify any remaining concerns.

[2022-05-20 13:57] sketchydroide commented on #8710
this is just a guess at this point, but I would say that when user2 is added to policy it does not subscribe to the event pushes on the new policy

[2022-05-20 13:58] rushatgabhane commented on #8665
@tgolen verified that iOS doesn't have this issue, and @Tushu17's proposal works nicely and is simple.
Here's the doc for reference https://reactnative.dev/docs/modal#statusbartranslucent-android

🎀 👀 🎀 C+ reviewed

[2022-05-20 14:08] flodnv commented on #8641
Let's see if @aneequeahmad can fix it: https://github.com/Expensify/App/issues/7618#issuecomment-1132456194, and take it from there.

Rest assured @frenkield, I do believe you should be entitled to at least $250 compensation.

[2022-05-20 14:11] tgolen commented on #8888
OK, thanks for the update. It definitely sounds like preinstall is broken!
Yikes.

On Thu, May 19, 2022 at 4:41 PM James ***@***.***> wrote:

[2022-05-20 14:11] tgolen commented on #8665
Cool, 🟢  to hire @Tushu17 .

[2022-05-20 14:15] laurenreidexpensify commented on #8421
great @mollfpr I issued you payment now as a $500 bonus, as for some reason it was coming up as an hourly rate option, but we pay by project.

[2022-05-20 14:15] jayeshmangwani commented on #9088
**Proposal:**

We will add a prop blurOnSubmit on the search page, it will be prevented from submitting data on press enter,
and condition will be like this,

1. we have to add 2 props at BaseTextInput for enabling blurOnSubmit on the specific pages and passing the length of the section

https://github.com/Expensify/App/blob/02fb4e9738fbe491c3a8e48dfb7abd141320baa6/src/components/TextInput/baseTex

[2022-05-20 14:22] iwiznia commented on #8721
Definitely not. That is the only device that should remain logged in, as it is the only one that has the new password.

[2022-05-20 14:36] parasharrajat commented on #4612
Currently, we are evaluating the status of navigation issues in our app. It is decided that fixing issues upstream is the best path forward. So if an issue can be fixed upstream then it would be preferred over others.

If you think that this is an issue with our repo, then please share a thorough explanation of it with your proposals.

---

Although there are two different issues for LHN and RHN,

[2022-05-20 14:37] Tushu17 commented on #8358
@laurenreidexpensify hi, The offer you've sent me is set on Hourly basis.

[2022-05-20 14:42] ahmdshrif commented on #7644
Bump @jboniface

[2022-05-20 15:02] #8505 closed

[2022-05-20 15:05] jboniface commented on #7962
so to clarify, are we paying this out, and closing it, then opening a new issue?

[2022-05-20 15:07] jboniface commented on #7623
@Tushu17 and @parasharrajat  the old job post died, let's use this one https://www.upwork.com/jobs/~01b7767e126c5ee6ae

[2022-05-20 15:13] neil-marcellini commented on #8423
Yeah that's perfect, thanks! I didn't even realize it wasn't in the mockup to begin with, but I think it makes sense to have a different icon for collapsing the composer.

[2022-05-20 15:22] rushatgabhane commented on #8089
Interesting..

Looks like @aneequeahmad's [changes to `expensify-common`](https://github.com/Expensify/expensify-common/pull/442) hit production 3 days ago because of an another PR https://github.com/Expensify/App/pull/8948, which updated `expensify-common` to a more up-to-date version.

If @marcochavezf agrees with me as well, we can ask the QA team to test this issue.

[2022-05-20 15:51] frenkield commented on #8641
Ok super. Thanks, @flodnv!

[2022-05-20 15:52] AndrewGable commented on #9099
Thanks @mvtglobally! Nice work this week on the checklists 5/5 days deployed!

[2022-05-20 15:52] AndrewGable commented on #9099
:shipit:

[2022-05-20 15:52] OSBotify commented on #9099
This issue either has unchecked items or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2022-05-20 15:53] jboniface commented on #7962
@parasharrajat ok, that's all set

[2022-05-20 15:54] AndrewGable commented on #9099
Oh oops I missed https://github.com/Expensify/App/pull/8832 - Can you let me know when that's all wrapped up? Thanks!

[2022-05-20 16:04] JmillsExpensify commented on #7625
Oh weird.

[2022-05-20 16:06] JmillsExpensify commented on #7625
Cool, checked into it. It looks like we have two milestones created for the project, and a project price of $750 each.

[2022-05-20 16:09] thesahindia commented on #7625
Done 🚀

[2022-05-20 16:12] mvtglobally commented on #9099
@AndrewGable  All pass. We are good

[2022-05-20 16:14] AndrewGable commented on #9099
:shipit:

[2022-05-20 16:14] #9099 closed

[2022-05-20 16:19] JmillsExpensify commented on #7625
@rushatgabhane Invited you to the Upwork job. Mind accepting, so I can pay you and then we'll close this out?

[2022-05-20 16:21] mallenexpensify commented on #7909
@rushatgabhane , @rushatgabhane or @iwiznia , is the 'clock ticking' on the 7 days without a regression to issue payment on this?
Also, @rushatgabhane is your compensation half because of the regression?

[2022-05-20 16:28] rushatgabhane commented on #7909
@mallenexpensify we aren't there yet.
Here's the PR incase you wanna track https://github.com/Expensify/App/pull/8980

And yes, comp. is 1k for me

[2022-05-20 16:30] Justicea83 commented on #8608
looking into it now

[2022-05-20 16:30] iwiznia commented on #8721
My proposed solution is that when you change your password:
- The API call from newDot should be done with MakeRequestWithSideEffects
- We would delete all newDot (?) logins
- Create a new login with random password
- Return the login and an authToken for that login in the https response
- Have newDot set it where they belong in onyx

[2022-05-20 16:31] iwiznia commented on #8721
Oh lol I now realize there is a PR 🤦
Seems it is similar to what I suggest, but not adapted for the 1:1:1 philosophy... but we can do that later when we migrate all things.

[2022-05-20 16:33] adelekennedy commented on #8185
Hey @tomivs our normal reminder system seems to be on the fritz - I'll pay you via Upwork now!

[2022-05-20 16:35] rushatgabhane commented on #7625
@JmillsExpensify I think the comp for C+ is $500. So I'm gonna accept the offer with the modified amount of $500.

@thesahindia received additional $250 for reporting the issue.

[2022-05-20 16:36] Santhosh-Sellavel commented on #8421
Yes, there are two offers for this job, declined one of them as a duplicate!

[2022-05-20 16:39] laurenreidexpensify commented on #8358
@Tushu17 if you accept as it is I will just pay you via the bonus option and override the hours setting. Thanks!

[2022-05-20 16:59] adelekennedy commented on #8662
And it's time to pay!

[2022-05-20 17:01] mvtglobally commented on #9099
@AndrewGable Dont see a new checklist. Did deploy go through?

[2022-05-20 17:01] AndrewGable commented on #9099
Nope - It failed, working on a fix now.

[2022-05-20 17:03] adelekennedy commented on #8292
not overdue - still dialing in proposals

[2022-05-20 17:05] AndrewGable opened #9106 "Staging deploy failed 💥"
## Problem
The staging deploy failed here: https://github.com/Expensify/App/runs/6528214930?check_suite_focus=true

## Solution
Add a `sleep 5` before we query for the PR

[2022-05-20 17:14] #9106 closed

[2022-05-20 17:17] NehaSantani commented on #9090
@luacmartins Hi,
I want a bit clarification on this issue!
-  1.) Do you want to remove the hyperlink styling on text after edit?
Or
- 2.) you want to avoid mdText that is being displayed in input while edit is clicked.

If its a yes for 2 :
Then My Proposed solution  to this problem is  use parser.htmlToText instead of parser.htmlToMarkdown !
Is there any specific reason we are using below line i

[2022-05-20 17:28] OSBotify opened #9111 "Deploy Checklist: New Expensify 2022-05-20"
**Release Version:** `1.1.65-6`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/8752
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9080
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9101
  - [x] QA

[2022-05-20 17:28] luacmartins commented on #9090
Hey @NehaSantani! Thanks for the questions.

I think the intention is 1. We want to be able to:

1. Edit the comment
2. Remove the link md
3. When we save the edited comment, the link should be display as text (since we removed the link md).

What we have right now is that after editing, the link md is added back and the link is shown as a link instead of text.

[2022-05-20 17:29] mallenexpensify commented on #8349
Doubled to $16k! https://www.upwork.com/jobs/~015051a36f053c1362

[2022-05-20 17:35] marcochavezf commented on #8089
Yeah, it's interesting that `expensify-common` was eventually updated in E/App because of another PR. Thanks for testing again on Android @rushatgabhane!

Sure, sounds like a good plan to me! I already [sent a message](https://expensify.slack.com/archives/C9YU7BX5M/p1653067928335069) to the QA team to test again.

[2022-05-20 17:41] mallenexpensify commented on #7909
Thanks @rushatgabhane this is labeled weekly so I should get pinged and will then check the PR you linked for updates

[2022-05-20 17:45] marcaaron commented on #8126
If we refreshing the page and navigating to a report why are we passing `'open'`. We should initialize it as `'closed'` in that case? Or am I thinking about this wrong?

Which feature is missing exactly?

Can you elaborate on this? I'm not sure why browser history entries are relevant. And also do not understand why we can't control the state of the drawer based on the url.

To clarify, are you sa

[2022-05-20 17:47] adelekennedy commented on #7912
paid and paid!

[2022-05-20 17:47] Tushu17 commented on #8358
@laurenreidexpensify Okay, Accepted👍

[2022-05-20 17:47] marcochavezf commented on #9089
Thanks @Santhosh-Sellavel, the proposal looks good, hiring @sobitneupane

[2022-05-20 17:48] #7912 closed

[2022-05-20 17:55] adelekennedy commented on #8662
done and done

[2022-05-20 17:55] #8662 closed

[2022-05-20 17:57] adelekennedy commented on #9084
[Internal](https://www.upwork.com/ab/applicants/1527709952287178752/job-details)
[External](https://www.upwork.com/jobs/~01fad31b09e62ce761)

[2022-05-20 18:01] Tushu17 commented on #8665
@NicMendonca okay, Applied on upwork👍

[2022-05-20 18:07] MitchExpensify commented on #7537
https://www.upwork.com/jobs/~0116994c22a1b60fb6 mind applying here @parasharrajat so I can issue C+ payment?

[2022-05-20 18:08] MitchExpensify commented on #7537
Paid @jayeshmangwani , thank you very much!

[2022-05-20 18:14] jayeshmangwani commented on #7537
@MitchExpensify Thankyou

[2022-05-20 18:21] Santhosh-Sellavel commented on #8791
@mallenexpensify Why was this HOLD for payment?

[2022-05-20 18:23] mallenexpensify commented on #8791
d'oh, I updated 'hold for payment' based on [a PR that was linked to this issue](https://github.com/Expensify/App/pulls?q=is%3Apr+https%3A%2F%2Fgithub.com%2FExpensify%2FApp%2Fissues%2F8791+is%3Aclosed) but it looks like it was incorrect so removed 'hold from payment' from the title and the 'awaiting payment' label.  :ohnothing:

[2022-05-20 18:30] mallenexpensify commented on #6069
@rushatgabhane , you're due $1000 for this, right? If so, can you accept the offer I just sent?
https://www.upwork.com/jobs/~01d596bdb404440f06

[2022-05-20 18:38] mallenexpensify commented on #7844
Paid @eVoloshchak , it's working on web and desktop (Version 1.1.64-0). No comments on [the PR](https://github.com/Expensify/App/pull/8815) the past week.

@parasharrajat , hired you for C+ payment, can you accept the offer?

<img width="322" alt="image" src="https://user-images.githubusercontent.com/22508304/169591301-c702cdc6-ca19-4996-918d-e632c9cdeb2e.png">

<img width="457" alt="image" src="h

[2022-05-20 18:45] allroundexperts commented on #9090
## Proposal

We should change the following:
https://github.com/Expensify/App/blob/56213d07d5e10b5ecf1cb2fae2d82aff9360bb5a/src/libs/actions/Report.js#L1393
to
[code]
This will not run the `link` rule of the parser. However, the current implementation of the library does not allow a second argument. We'll need to modify the `replace` function such that it accepts a second argument which is an arra

[2022-05-20 18:46] stephanieelliott commented on #7706
All paid!

[2022-05-20 18:46] #7706 closed

[2022-05-20 18:48] stephanieelliott commented on #8942
Posted to Upwork: https://www.upwork.com/jobs/~01a4a5d881f891960a

[2022-05-20 18:50] stephanieelliott commented on #8942
Heads up, @neil-marcellini and @rushatgabhane we have a proposal for this already [here](https://github.com/Expensify/App/issues/8942#issuecomment-1124500275).

[2022-05-20 19:01] mananjadhav commented on #7307
@JmillsExpensify Bump on Upwork. Here I am the reporter and the contributor both.

[2022-05-20 19:07] luacmartins commented on #9090
@allroundexperts the library can be found [here](https://github.com/Expensify/expensify-common/blob/main/lib/ExpensiMark.js) and I believe you have access to it.

[2022-05-20 19:13] trjExpensify commented on #8644
👋 @TomatoToaster - when I removed the member from the workspace, it still took navigating away and back to the workspace chat for the archiveReason to update:

![archivereason1](https://user-images.githubusercontent.com/16232057/169596370-1aa8e66e-83f3-4cd4-8f38-688147e5183f.gif)

[2022-05-20 19:18] Santhosh-Sellavel commented on #8287
@Luke9389,

Especially when searching emojis we're gonna type  2- 5 characters not more than 10 - 15 characters. Moreover, we are not clear on everything on each backspace, only after the user press enter.  Considering we are not searching for anything important like a contact etc. Clearing doesn’t sound strange at all to me.

[2022-05-20 19:26] parasharrajat commented on #7844
@mallenexpensify Done.

[2022-05-20 19:29] parasharrajat commented on #7537
@MitchExpensify Done.

[2022-05-20 19:31] parasharrajat commented on #7424
@mallenexpensify [This](https://github.com/Expensify/App/issues/7424#issuecomment-1105802181) is still pending. Thank you.

[2022-05-20 19:35] jayeshmangwani commented on #8942
Proposal:

we can call `hideContextMenu` on `fileDownload` promise is finally either fulfilled or rejected,

https://github.com/Expensify/App/blob/56213d07d5e10b5ecf1cb2fae2d82aff9360bb5a/src/pages/home/report/ContextMenu/ContextMenuActions.js#L46-L54

[code]
[code]

[2022-05-20 19:38] allroundexperts commented on #9090
@luacmartins I can access it. I'll update my proposal.

[2022-05-20 19:44] allroundexperts commented on #9090
@luacmartins Updated.

[2022-05-20 19:52] parasharrajat commented on #8126
To correctly answer your questions, I will gather more information/facts from `react-navigation` repo which can be used to validate our analysis.

[2022-05-20 19:57] Santhosh-Sellavel commented on #7862
I'm not sure what I am missing pressing next or back not working, can you share a video?

[2022-05-20 20:25] metehanozyurt commented on #9090
### Cause
We cant detect url changes.
### Solution
If the original text is changed but the output is not affected, we can ignore the link conversion.
It is active only if the link has been updated and is the same as the old one.
When we add this code to line 1394, we can achieve this. `let htmlForNewComment` of course.

https://github.com/Expensify/App/blob/56213d07d5e10b5ecf1cb2fae2d82aff9360bb5a

[2022-05-20 20:30] rushatgabhane commented on #6069
yes, accepted!

[2022-05-20 20:30] Santhosh-Sellavel commented on #7862
@JediWattson
The proposal looks promising so far, I'm not sure what I'm missing cycling part doesn't work for me! If you can the working video or rewrite the proposal in case you missed something like `ATTACHMENT_SRC`. it will be helpful for us to make a decision here!

[2022-05-20 20:33] arosiclair commented on #7014
Dug deeper and found the issue.

When a user creates an IOU split, our API will tell Auth to create the IOU and then sends a pusher event for the most recent report action (the newly created IOU). Auth creates multiple report actions for an IOU and [the ordering was subtly changed a few months ago](https://github.com/Expensify/Auth/commit/be366f7ea0dc5f051b617139c50811dcbaa41df5). So the pusher ev

[2022-05-20 20:35] OSBotify commented on #9111
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.65-5 :rocket:

[2022-05-20 20:36] Puneet-here commented on #8287
I don't think we should clear the search term even if the search term isn't 10-15 character long. Why we wanna clear it when we should be keeping the search term there as the inputs are expected to work like that?

I don't think these are fair points for why we should clear the search term. We can solve this issue and improve something then why should we go with a workaround to solve only the issu

[2022-05-20 20:52] lbaldy commented on #2727
Thanks @mallenexpensify  for the explanation and IMHO great way of resolving this. What you described sounds good to me.

I just have one additional comment to the update you did here:

I think it would be worth to mention that the technical explanation means code changes (what files, what lines to add/remove/change).

Something like this:

### PR

In terms of the PR (https://github.com/Expensify/

[2022-05-20 21:08] marcaaron commented on #8101
If the root cause is the same I think it is reasonable to combine them so we can focus on a single fix for whatever weird browser history issue is causing these. Otherwise, we are just dividing our efforts.

Can someone answer if they have the same root cause or not?

If the cause is the same I think we should...

1. Close this issue
2. Update the linked issue with the root cause + explanation of

[2022-05-20 21:10] mvtglobally commented on #8089
@marcochavezf
Can you confirm the build to test this on?

[2022-05-20 21:12] Santhosh-Sellavel commented on #7541
PR is review in progress

[2022-05-20 21:13] rushatgabhane commented on #8089
@mvtglobally production build on mobile platforms.

[2022-05-20 21:22] mallenexpensify commented on #2727
@lbaldy I'm about to head out, @parasharrajat will followup soon then I will too next week.
For the CONTRIBUTING.md update, that makes sense, I want to run by folks internally then can do it next week.

For the payment commissions, can you double check? We're Enterprise and I thought contributors/freelancers paid a fixed rate (10% was  my memory), regardless of $ amount.

[2022-05-20 21:25] aneequeahmad commented on #8101
@marcaaron Root cause is the same that has been identified(`history-length`). You can see the discussion about the root cause in this [PR](https://github.com/Expensify/App/issues/7618#issuecomment-1132456194).

[2022-05-20 21:40] marcaaron commented on #8101
Can you provide a quick explanation of:

- what the problem is with the library
- how it fixes this PR exactly

This bug happens specifically when we are entering a url in the browser. In this case, we are not pressing any back button. I'm not seeing how they are related.

[2022-05-20 21:42] luacmartins opened #9117 "Remove Picker state and expose setNativeProps"
# Problem
As part of the Form refactor, we need to use uncontrolled inputs. We should expose `setNativeProps` so that we have a way to directly manipulate the input value when necessary. That's the case for example in our `addressSearch` component, that directly manipulates the value of other inputs, i.e. `StatePicker`.

# Why is this important
Implement the Form refactor project.

# Solution
Get

[2022-05-20 21:42] marcaaron commented on #8101
This was your previous explanation:

Does not seem like these situations are occurring in the reproduction linked in this issue description?

[2022-05-20 22:09] jliexpensify commented on #8762
Paid!

[2022-05-20 22:09] #8762 closed

[2022-05-20 22:12] allroundexperts commented on #8840
# Proposal

## Reason for the error
The reason why the modal disappears, is that whenever we switch layouts, the screen and the drawer unmount and is then re-mounted. This causes the modal to get closed. This behaviour is there due to the fact that we're changing the `key` prop supplied to the `Drawer.Navigator` component in our `BaseDrawerNavigator` file. This can be seen here:
https://github.com

[2022-05-20 22:42] kavimuru opened #9119 "[$250] mWeb - IOU - Cursor not moveable between digits, unable to insert numbers"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensifail.com
2. Log in with any account
3. Tap on Plus button
4. Tap Request Money
5. Type any numbers
6. Move the cursor to

[2022-05-20 23:15] kavimuru opened #9121 "iPad - Login page is not appearing at the center and appears too close to top"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #8752
## Action Performed:
1. Launch the app
2. Verify that the login-form-layout is updated

## Expected Result:
Login form layout is cent

[2022-05-20 23:16] OSBotify commented on #9121
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-20 23:17] kbecciv opened #9122 "[$2000] IOS/Android - Page is moving up in Password page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. In log in page put the email address
3. Tap Continue
4. In Password page start typing your password

## Expected Result:
Page i

[2022-05-20 23:17] OSBotify commented on #9122
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-20 23:34] marcaaron commented on #9122
Also seems most likely related to https://github.com/Expensify/App/pull/8752

[2022-05-20 23:35] marcaaron commented on #9122
It's the only material change in the release that would affect the UI.

[2022-05-20 23:38] marcaaron commented on #9121
Also seems related to https://github.com/Expensify/App/pull/8752

[2022-05-20 23:42] kavimuru opened #9123 "[HOLD for payment 2022-09-02] [$250] Web - Emoji- First skin tone option is broken in FireFox & Safari Web - reported by @parasharrajat & @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Click on Emoji
3. Select first option on skin tone

## Expected Result:
First skin tone option has li

[2022-05-20 23:53] kavimuru opened #9124 "[HOLD for payment 2022-07-05] [$250] Attachment - Download icon isn't turning green when clicking to download in Preview Page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Log in with any account and select any chat
3. Click on any attachment
4. On Preview page click downl

[2022-05-21 00:00] michaelhaxhiu commented on #7715
@parasharrajat can you apply for this job - https://www.upwork.com/jobs/~0112030d1e6d50fa17 for the C+ work

[2022-05-21 00:08] michaelhaxhiu commented on #7715
@mateusbra has been paid.

[2022-05-21 00:09] kavimuru opened #9125 "Send Money - In the preview for sent money using I'll settle up elsewhere is not meaningful text"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: Set your payment with PayPal
1. Go to https://staging.new.expensify.com/
2. Log in with account
3. Select user and tap send Money
4. S

[2022-05-21 01:51] barun1997 commented on #7962
@roryabraham Thank you! Sorry I couldn’t find time to fix it with native code. Appreciate the positive feedback!

[2022-05-21 06:23] allroundexperts commented on #8956
This does not work. It redirects me back after I click on `Create Room`.

[2022-05-21 06:26] allroundexperts commented on #8956
@chiragsalian Did you add `allroundexperts+4@gmail.com` on staging server? It does not seem to work:

https://user-images.githubusercontent.com/30054992/169638935-7c113b71-0b4b-4014-ace2-e16c75cfd2a1.mov

[2022-05-21 06:43] Santhosh-Sellavel commented on #9122
@marcaaron
This issue seems related to #8752 for sure not introduced in #8752.

The issue already exists before these changes. Here is a screen recording from our production version 1.1.64.0 (#8752 is not deployed to production)

https://user-images.githubusercontent.com/85645967/169639444-4987eaa7-4812-46eb-8d9f-963de5ee3c7c.MP4

[2022-05-21 06:50] Santhosh-Sellavel commented on #9121
@aneequeahmad Check this one!
This seems like a breakage but not sure why the new design changes didn't reflect here.

[2022-05-21 09:01] rushatgabhane commented on #8956
That's strange. It works flawlessly for me and I'm not on any beta. Here are the steps that I followed -
1. Hardcode [canUsePolicyRooms()](https://github.com/Expensify/App/blob/56213d07d5e10b5ecf1cb2fae2d82aff9360bb5a/src/libs/Permissions.js#L77) to return `true`.
2. npm run web
3. FAB menu (+) -> New Room

This is on dev build. You should try repeating the steps with a new account.

<hr />

@allr

[2022-05-21 11:02] parasharrajat commented on #9123
I reported a similar issue https://expensify.slack.com/archives/C01GTK53T8Q/p1652457370257659. I think we should combine both.

[2022-05-21 13:07] kbecciv commented on #9122
@Santhosh-Sellavel This is issue is not reproduced in Production.

https://user-images.githubusercontent.com/93399543/169652863-cdddd88f-78d9-423b-a954-f33e2a92a3b0.mp4

[2022-05-21 13:44] Santhosh-Sellavel commented on #9122
@kbecciv This is from production too.

[2022-05-21 13:49] kbecciv commented on #9122
@Santhosh-Sellavel I understand, by watching your video - page is not moving. Please compare your result in STG, you will see the difference.

[2022-05-21 14:18] Santhosh-Sellavel commented on #9122
@kbecciv
Here is the comparison result for staging & prod, I'm not notice anything different between both versions in both apps!

### IOS
https://user-images.githubusercontent.com/85645967/169655276-095c0c2c-e915-456e-88a9-fc9ec48abb45.mov

### Android
https://user-images.githubusercontent.com/85645967/169655517-84d2a19c-bafd-4042-a6e0-39f4b3f6cbc7.mov

cc: @marcaaron

[2022-05-21 14:27] allroundexperts commented on #8956
# Proposal

## Reason for the error
Whenever a member is added / removed from a workspace, the members do not get removed from the rooms of the workspace. The API still shows those members as part of the room.

## Solution
We should fix the API so that any addition / removal of members to the workspace is reflected on the rooms of that workspace as well.

## Side Bug
Another related bug which pops

[2022-05-21 14:49] grvsood commented on #8927
what do we mean by "blinking" ? what's the expected CX here?

[2022-05-21 17:02] rushatgabhane commented on #8289
@jboniface we can close this out after the contract is closed :)

[2022-05-21 17:03] rushatgabhane commented on #8158
@aneequeahmad I can't find the PR 😅 Can you please help me with that?

[2022-05-21 18:00] grvsood commented on #8927
if by "blinking", the reference is to the reload/refresh of members list after a user is deleted, then it's not reproducible on the web app.

https://user-images.githubusercontent.com/26037206/169663776-db84c117-2522-43fe-93ea-6419b2a2709e.mp4

[2022-05-21 19:21] mananjadhav commented on #8927
Thanks for the comment @grvsood. I am guessing you can reproduce it when you would have some more members than just the admin. Here's the video that I could reproduce.

https://user-images.githubusercontent.com/3069065/169666306-49b93c7f-c71b-40a8-b452-69df4b406fe8.mov

[2022-05-21 20:44] allroundexperts commented on #8731
### Proposal

## The Problem
As correctly pointed out by @[jrstanley](https://github.com/jrstanley), this is a known bug with iOS safari. As such, the fix would be a workaround making use of the viewport event listeners.

## Solution

We need to run code specific to the iOS Safari browser. In order to do that, the following file is changed:
https://github.com/Expensify/App/blob/56213d07d5e10b5ecf1

[2022-05-22 02:45] sobitneupane commented on #9124
**Proposal:**
We can make use of `ContextMenuItem` in HeaderWithCloseButton to solve this issue.
https://github.com/Expensify/App/blob/56213d07d5e10b5ecf1cb2fae2d82aff9360bb5a/src/components/HeaderWithCloseButton.js#L134-L146
[code]
With autoReset prop in ContextMenu Item, download button remains green for 1800ms as configured in ContextMenuItem. Without autoReset prop, the download button remains

[2022-05-22 10:53] mountiny commented on #9125
@kavimuru Thanks for this report.

What is the expected behaviour based on though? Although I agree it is not that explanatory right now, it is not a regression and it is expected behaviour as of now. We could change it later on but that would be more of a product decision I would say. I think we should close to prioritize broken features or new features.

Feel free to comment if I have missed any

[2022-05-22 10:53] #9125 closed

[2022-05-22 13:00] allroundexperts commented on #8951
Looks like we are using a wrong API key. Did you follow the instructions (here)[https://github.com/FaridSafi/react-native-google-places-autocomplete]?

[code]

Screenshot of the error attached.
<img width="388" alt="Screenshot 2022-05-22 at 5 58 07 PM" src="https://user-images.githubusercontent.com/30054992/169696308-5782c0d7-5bde-41bc-8967-a0082bfad6d4.png">

@parasharrajat @MitchExpensify @Luke9

[2022-05-22 13:14] parasharrajat commented on #8951
Yeah, this is known to us. It seems like a duplicate issue cc: @Julesssss.

[2022-05-22 13:18] allroundexperts commented on #8951
Can we put this on hold or something so that people don't spend time on it?

[2022-05-22 13:21] parasharrajat commented on #8951
It was not supposed to be exported. We will take this down on Monday. There is nothing much an external contributor can do here. cc: @MitchExpensify

[2022-05-22 15:18] JediWattson commented on #7862
Hey that's great!

I made a couple changes because I realized the name of the file isn't being updated

I change the regex to use groups and now I'm matching the src url and name of the file here:
[code]

I changed the matches function to the string function matchAll [here's the docs on how this works](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/matchAll

[2022-05-22 16:36] adeel0202 commented on #8935
Am I not eligible for the reporting bonus? Just wanted to confirm.
cc: @jliexpensify

[2022-05-22 16:46] grvsood commented on #8927
### Proposal
When removeMembers method is called, we update the persistent storage. [code](https://github.com/Expensify/App/blob/main/src/libs/actions/Policy.js#L287-L318)

We are also subscribed to `policyEmployeeRemoved` policy to reflect the change on other devices. [code](https://github.com/Expensify/App/blob/main/src/libs/actions/Policy.js#L519-L542).

Listening to this policy change and upda

[2022-05-22 23:10] jliexpensify commented on #8935
Ah, sorry @adeel0202 - I missed that one. Thanks for letting me know!

[2022-05-22 23:13] jliexpensify commented on #8935
@adeel0202 - I couldn't undo/re-open the closed job, so I invited you to a new job I created:

https://www.upwork.com/ab/applicants/1528513936497311744/job-details
https://www.upwork.com/jobs/~014d5ef312ecc2678c

Tag me here once you've accepted and I'll pay $250. Thanks!

[2022-05-22 23:40] kadiealexander commented on #8197
@parasharrajat contract sent!

[2022-05-23 01:46] azimgd commented on #2727
Looks like this issue has been fixed on a: `"react-native": "0.68.2"`. @parasharrajat could you double check and verify both android and ios versions ?

[2022-05-23 02:31] bfitzexpensify commented on #7625
Correct @rushatgabhane - just sent the offer to you now.

[2022-05-23 03:07] kadiealexander commented on #8309
All paid!! Thanks team!

[2022-05-23 03:07] #8309 closed

[2022-05-23 03:36] jliexpensify commented on #8534
Paying now!

[2022-05-23 03:39] jliexpensify commented on #8534
Previous created job was closed, so re-created: https://www.upwork.com/ab/applicants/1528581043536789504/job-details

@rushatgabhane and @thesahindia - have re-invited you. Thanks!

[2022-05-23 03:41] frenkield commented on #8595
Hi All. In the case where we're sending a PDF, should I add some language indicating that one can skip the password entry and just click the Send button? For example,

<img width="950" alt="pdf_password_form" src="https://user-images.githubusercontent.com/11221215/169738808-16ef1eca-85e2-4ac0-b0bd-cc0fa9f11337.png">

[2022-05-23 03:41] kadiealexander commented on #8595
@Expensify/design any thoughts on the above?

[2022-05-23 04:35] parasharrajat commented on #2727
Oh. Great. Thanks I will check it.

[2022-05-23 04:50] mvtglobally commented on #9111
Regression is complete
#8752 is failing due to #9121

[2022-05-23 05:04] kadiealexander commented on #8197
Everyone is paid!! Thanks team :)

[2022-05-23 05:04] #8197 closed

[2022-05-23 05:10] mollfpr commented on #8115
@AndrewGable @thienlnam Just curious, is I eligible for the pay for solving this https://github.com/Expensify/App/issues/8363 issue? 😅

Since it’s different with my proposal here https://github.com/Expensify/App/issues/8115#issuecomment-1108799245 for solving the initial issue, and here https://github.com/Expensify/App/issues/8115#issuecomment-1086152772 for solving the a gap on Android.

[2022-05-23 06:02] mdneyazahmad commented on #7918
Apologies for the delay on this one. This issue is on my high priority list and I want to finish it asap. It looks like the related issue(https://github.com/Expensify/App/issues/7918#issuecomment-1096631126) is not fixed. This issue is very common and not just related to this form. We need to differentiate between enter pressed on form element and a general button. Should we create a separate issu

[2022-05-23 06:05] adeel0202 commented on #8935
Thanks @jliexpensify, I have applied.

[2022-05-23 06:43] mdneyazahmad commented on #7917
I am trying to handle other issues in a separate PR. Checkbox issue is common to the other issue I am working therefore I created a separate PR for that.

PR for other issue is drafted here https://github.com/Expensify/App/pull/8747 but I am introducing one issue if we go with the `pressOnEnter` on Button  https://github.com/Expensify/App/issues/7918#issuecomment-1134216565

cc: @Santhosh-Sellavel

[2022-05-23 06:46] shawnborton commented on #8595
I think we could omit the message below, and just change the top message to say something like "This PDF is password protected. Please enter the password to view it."

[2022-05-23 06:47] adeel0202 commented on #8847
@Beamanator, I'm getting errors on API calls in android and web (please refer to [this thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1652066886829219)). I can raise the PR but I will only be able to attach screenshots for iOS and desktop app. Will that work?
cc: @mananjadhav

[2022-05-23 06:52] adeel0202 commented on #8847
Note: Since I'm already signed into the web app so I think I will be able to provide web screenshots too, however, I'm not signed into the android app and I get [error](https://expensify.slack.com/archives/C01GTK53T8Q/p1652889702792369?thread_ts=1652066886.829219&cid=C01GTK53T8Q) while trying to sign in, so I won't be able to provide android screenshots.

[2022-05-23 07:10] rushatgabhane commented on #8942
🎀 👀 🎀 C+ reviewed
@yuwenmemon I like @sobitneupane's [proposal](https://github.com/Expensify/App/issues/8942#issuecomment-1124500275). I don't see why we should wait for the promise to be resolved. We prefer optimistic UI changes.

P. S. @sobitneupane do we really need to check this condition? `if (closePopover)`. Please make sure to explain why this is or isn't required in the PR. Thanks

[2022-05-23 07:44] rushatgabhane commented on #8840
@allroundexperts that's such a well written proposal!!

Let's go ahead and upgrade `@react-navigation/drawer` to v6.2.0 from 6.1.8
I don't see any bugs and breaking changes, and the [version diff](https://github.com/react-navigation/react-navigation/compare/%40react-navigation/drawer%406.1.8...%40react-navigation/drawer%406.2.0) is very small too.

I could see why the key was dependent on `isSmall

[2022-05-23 08:09] techievivek commented on #9085
Not overdue.

[2022-05-23 08:13] thesahindia commented on #7007
@kadiealexander, total compensation for this job is $750. $500 for the fix and $250 as the reporting bonus.

[2022-05-23 08:28] Julesssss commented on #7737
Not overdue

[2022-05-23 08:34] azimgd commented on #6883
@luacmartins I need a write access to the repo above 👆

[2022-05-23 08:54] Julesssss commented on #7014
Nice find. That logic makes sense to me.

[2022-05-23 08:54] mountiny commented on #7859
Should we close this one given there are no good reproduction steps and this will most likely change a lot with the Offline first initiative/ Marc is focusing on the notifications reliability which would I guess also entail the LHN reliability?

Thinking that keeping the open issues clean is better than keeping many on hold, we can open them later or create new ones with more specific reproduction

[2022-05-23 09:01] Julesssss commented on #8951
Closing as a [dupe](https://github.com/Expensify/App/issues/8797#issuecomment-1111022077). @MitchExpensify please close out the UpWork job, thanks!

[2022-05-23 09:21] trjExpensify commented on #8915
Okay, got it. Thanks for the added context. Feel free to use #expensify-open-source in Slack to bounce around some ideas from the wider community, if needed!

[2022-05-23 09:23] laurenreidexpensify commented on #8358
Sorry for delay folks - all paid now

[2022-05-23 09:23] #8358 closed

[2022-05-23 09:25] trjExpensify commented on #8924
@thesahindia, I've sent you the offer on Upwork. Once you've had a chance to accept, I'll make the payment. 👍

[2022-05-23 09:26] trjExpensify commented on #7470
Not overdue, Melv. Next steps is for @stitesExpensify to review the proposal. 👍

[2022-05-23 09:27] laurenreidexpensify commented on #8421
@Santhosh-Sellavel sorry for delay, payment issued 👍🏽

[2022-05-23 09:27] #8421 closed

[2022-05-23 09:30] #8720 closed

[2022-05-23 09:31] Justicea83 commented on #8467
removing my assignment since we still haven't improved the unread message logic yet!

[2022-05-23 09:36] rushatgabhane commented on #8362
@trjExpensify yep, that's right!

[2022-05-23 09:37] trjExpensify commented on #6154
Bump @Santhosh-Sellavel @chiragsalian to review the above?

[2022-05-23 09:39] trjExpensify commented on #8851
👋 @eVoloshchak any luck with submitting that PR?

[2022-05-23 09:42] trjExpensify commented on #8459
Looks like that job post expired, @sobitneupane. Created a new one here for you to apply to: https://www.upwork.com/jobs/~0104371e92e24f551a

[2022-05-23 09:44] trjExpensify commented on #8362
Cool, updated the title and removed the label.

[2022-05-23 10:07] rushatgabhane commented on #8956
@chiragsalian this issue involves backend work so I'd suggest that you make it internal.

[2022-05-23 10:25] thesahindia commented on #8924
Accepted the offer ✅

[2022-05-23 10:29] trjExpensify commented on #8924
Perfect, settled.

[2022-05-23 10:29] #8924 closed

[2022-05-23 10:43] rushatgabhane commented on #9088
@sobitneupane the entered text is meant to be selected so that it can be cleared when searching for the next user in pages like new group and split bill.

[2022-05-23 10:49] Julesssss commented on #8846
Reverting to external as I won't be able to work on this for a while

[2022-05-23 10:51] Julesssss commented on #8645
@kevinksullivan this one is good for payment 👍

[2022-05-23 11:14] aneequeahmad commented on #8158
@rushatgabhane Oh i've raised the PR here is the link https://github.com/Expensify/App/pull/9102
Am i missing something so its not appearing here

[2022-05-23 11:41] Julesssss commented on #8122
Hi All, a related issue was [failing](https://github.com/Expensify/App/issues/9121) testing due to the login component being too high:

![Screenshot 2022-05-23 at 12 11 43](https://user-images.githubusercontent.com/10736861/169806958-ac68477d-9205-45d0-8cf1-af8e531ece09.png)

I can reproduce the above and it looks like we decided that 854 was the trigger height:
- How did we choose 854?
- Shouldn'

[2022-05-23 11:42] Julesssss commented on #9121
I asked [here](https://github.com/Expensify/App/issues/8122#issuecomment-1134566793) to confirm that we should expect to see the double panel layout on an iPad Pro

[2022-05-23 11:51] iwiznia commented on #7014
Yep 👍 did not realize back then the logic would break by changing the order.

[2022-05-23 12:03] rushatgabhane commented on #9088
@jayeshmangwani can you think of a simpler way to do this?
Passing `sectionsLength` as a prop to `TextInput` doesn't sound like a good idea.

[2022-05-23 12:28] mollfpr commented on #8356
### Proposal

Adding `display: flex` and aligning it center vertically with `align-items: center` to the prefix text component will make the component have the same height as the input text.

https://github.com/Expensify/App/blob/56213d07d5e10b5ecf1cb2fae2d82aff9360bb5a/src/components/TextInput/BaseTextInput.js#L235-L247
[code]
<img width="835" alt="Screen Shot 2022-05-23 at 19 27 01" src="https:/

[2022-05-23 12:39] rushatgabhane commented on #8158
Anyway, we're waiting on @aneequeahmad to upload the screenshots.
But @aneequeahmad seems to have some [trouble](https://github.com/Expensify/App/pull/9102#issuecomment-1133109339) getting the app running.

[2022-05-23 12:45] Beamanator commented on #8847
@adeel0202 since this is a pretty small PR, I'm ok with that - @mananjadhav or I can test your PR on android 👍

[2022-05-23 12:47] lbaldy commented on #2727
@azimgd  is there any particular commit in react native repository you're referring to?

I just checked the same scenario I used in the original 'react-native' repro (0.68.1). And I still observe the same behaviour - two events (portrait, landscape) when bringing the app to background. I also checked their changelog.md, I don't see anything that could seem related either. Also, checked the DeviceI

[2022-05-23 12:50] Beamanator commented on #9123
Good idea, I agree @parasharrajat 👍

How about we just update this issue with details about the broken behavior in web safari (that you reported) and fix both in this issue?

[2022-05-23 12:59] SumitDiyora commented on #9053
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are -#9033
Logged Issues -#8809

[2022-05-23 13:24] aneequeahmad commented on #8122
@Julesssss Actually i decided the minimum height based on the point below which the height was too little to show graphics and login-layout-form here is my [comment](https://github.com/Expensify/App/pull/8752#issuecomment-1118133787). Let me know what should i do. I think we should have a proper check to show the `graphics and layout` ? if so what it could be now thats the question.

[2022-05-23 13:27] aneequeahmad commented on #8158
@rushatgabhane Will upload screenshots today in a few hours i have another machine setup or VM.

[2022-05-23 13:47] Julesssss commented on #9121
@aneequeahmad there's a lot of comments to read through so I'm still a bit confused. The issue is that we're not seeing the [original vertically stacked design](https://github.com/Expensify/App/issues/8122#issuecomment-1066971554) on iPads. But please let me know if I misunderstood.

1) It sounds like the hardcoded cutoff had design approval ([this comment](https://github.com/Expensify/App/pull/87

[2022-05-23 13:48] Julesssss commented on #9111
Dealing with 9121 within the issue. It looks like an alternate solution is required for iPads.

[2022-05-23 14:12] JmillsExpensify commented on #7307
Thanks! I'm jumping over to Upwork now to issue payment and close this one out for everyone.

[2022-05-23 14:37] tgolen commented on #7014
That sounds good to me. This should also have an [RCA](https://stackoverflow.com/c/expensify/questions/12158) filled out for it. I'd like to see if we can put something in place to prevent this from happening again in the future. Maybe adding some automated tests around this?

[2022-05-23 14:37] tgolen commented on #7014
Maybe some QA regression tests as well?

[2022-05-23 14:41] Tushu17 commented on #9123
Hi @Beamanator, this issue was originally reported by me [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1645559241745729) can you please look into it.

P.S. It is marked as dupe because of a misunderstanding as there was an issue related to skin tone.

[2022-05-23 14:43] parasharrajat commented on #6883
Maybe fork it and send PRs.

[2022-05-23 14:46] luacmartins commented on #9090
I'll try to evaluate the proposals today!

[2022-05-23 14:54] luacmartins commented on #6883
Yea, I think fork + PRs should work for now. Thanks for the suggestions @parasharrajat! Let me know if you have any issues!

[2022-05-23 14:55] JmillsExpensify commented on #7307
Payments processed for @mananjadhav (reporting and PR), as well as @parasharrajat (C+). Closing the issue. Please comment in this issue with any further questions!

[2022-05-23 14:55] #7307 closed

[2022-05-23 14:55] JmillsExpensify commented on #7524
Jumping in to process this one now and pay outstanding contributors.

[2022-05-23 15:03] Santhosh-Sellavel commented on #8122
@Julesssss I got it it's a typo issue left a comment here https://github.com/Expensify/App/pull/8752#discussion_r879564080

[2022-05-23 15:04] JmillsExpensify commented on #7524
Hmm, @mallenexpensify did you potentially pay the $750? I'm looking at the contract in Upwork and those are showing as completed. It does look like the last PR is complete, so I can still issue the final payment and close out the contract. Just wanted to confirm where we're at though first.

[2022-05-23 15:05] JmillsExpensify commented on #7524
Got a little confused on the payments, but after re-adding the above I'll be issuing the final $250 payment. @luacmartins Can we also close out this ensure issue now?

[2022-05-23 15:08] luacmartins commented on #7524
Yes! I believe all milestones have been paid out. Thanks for working on this!

[2022-05-23 15:08] #7524 closed

[2022-05-23 15:10] JmillsExpensify commented on #8133
Ok cool. I'm jumping in to close out all the payments and contracts, so let me figure that out for you while I round this out.

[2022-05-23 15:14] JmillsExpensify commented on #8133
@metehanozyurt and @Santhosh-Sellavel I've created a new job since the last one expired. Please apply here and I'll process your payment today: https://www.upwork.com/jobs/~01d530f583e9a9fdbf. Also @Santhosh-Sellavel I'll add the additional payment for reporting in your case. Thanks!

[2022-05-23 15:19] JmillsExpensify commented on #8251
@rushatgabhane invited you to the job here: https://www.upwork.com/jobs/~0181eddfc7e8c9ee36. Accept and I'll issue payment. Thanks!

[2022-05-23 15:21] rushatgabhane commented on #8251
@JmillsExpensify done, thankss!

[2022-05-23 15:24] JmillsExpensify commented on #8089
Thanks everyone! So based on when https://github.com/Expensify/App/pull/8948 hit production, today is the end of the regression period. Accordingly, I'm holding to hold for the next QA test. Assuming that is happening sometime today, so @mvtglobally it'd be great if you can confirm when this passes. I'll go ahead and put a hold for payment tomorrow.

[2022-05-23 15:29] JmillsExpensify commented on #8356
@marcochavezf Shall we go with @aneequeahmad's proposal [here](https://github.com/Expensify/App/issues/8356#issuecomment-1128724161)? Looks like @Santhosh-Sellavel is on board as well.

[2022-05-23 15:30] JmillsExpensify commented on #8501
Same same in the linked issue. I'm still keeping a weekly on this one since we've landed at C+ PR review.

[2022-05-23 15:33] JmillsExpensify commented on #8520
Looks like we are still blocked in the linked PR, and no further discussion I can see in GH. What's the latest? I'm going to put a hold in the issue in the meantime. Thanks!

[2022-05-23 15:36] parasharrajat commented on #2727
yes, Open a new PR with an updated fork on react-native.

Matt is correct here.

So you can create a new PR from our fork to react-native. That should be possible and as you will be the author, we probably don't have to do anything.

[2022-05-23 15:37] MitchExpensify commented on #8951
Got it, Upwork job closed @Julesssss

[2022-05-23 15:38] JmillsExpensify commented on #8842
Offers sent to both of you! Also looks like we've had a nice round of discussion and updates in the linked PR, so next step is finishing that up and merging. I'll keep an eye out there.

[2022-05-23 15:42] JmillsExpensify commented on #8867
This was an interesting one to catch up on! At this point we've made it to the 7-day regression period, though @marcaaron jumped in to help out in the linked PR. I agree with his [comment there](https://github.com/Expensify/App/pull/8896#issuecomment-1129427955) that it's unclear if that counted as a regression. Accordingly, I'm issuing the payment and closing this issue now that we're out 7 days

[2022-05-23 15:45] JmillsExpensify commented on #8867
@eVoloshchak has been successfully paid. @Santhosh-Sellavel we'll get you squared away as soon as you're able to accept the offer I just sent. At that point, I'll come back and close the issue.

[2022-05-23 15:45] MitchExpensify commented on #7537
Done! Thanks all

[2022-05-23 15:45] #7537 closed

[2022-05-23 15:46] Julesssss opened #9128 "Fix typo in constant, to unblock deploy"
Fix typo to correctly fix this [PR](https://github.com/Expensify/App/pull/8752). Raised and found [here](https://github.com/Expensify/App/pull/8752#discussion_r879564080).

[This line](https://github.com/Expensify/App/pull/8752/files/77487ee3e6d77e9df14bc75b398c072e334965ad#diff-22b22c22401ba3b261e67253e8c19d86a655dabda44f17e9c64cfbd6bf682434R65) needs to be updated to use the correct const name:

[2022-05-23 15:47] JmillsExpensify commented on #8251
Great! Offer sent. I'll circle back when you confirm that part and we can pay out.

[2022-05-23 15:48] parasharrajat commented on #7918
Use `isVisible` prop on the `LoginForm` and `PasswordForm` to control `pressOnEnter`.

[2022-05-23 15:53] jboniface commented on #8289
done!

[2022-05-23 15:53] #8289 closed

[2022-05-23 15:57] jboniface commented on #7644
@rushatgabhane please apply for the C+ payment https://www.upwork.com/jobs/~0103d56637d4154cbd

[2022-05-23 15:58] rushatgabhane commented on #7644
@jboniface unfortunately, that job is no longer available.

[2022-05-23 16:12] rushatgabhane commented on #7644
Thanks!

[2022-05-23 16:16] dharmik commented on #8846
Proposal:
Once user denied permission of Camera & if user again click on it so at that time we know that user denied it so in this case we have only one option to redirect user to iOS default settings page and user have to manually enable Camera option and came back to app and click on that camera option to perform actions.

@mananjadhav @Julesssss

[2022-05-23 16:25] frenkield commented on #8595
Thanks, everyone. I'll make the changes.

[2022-05-23 16:29] marcaaron commented on #7859
Agree, this is _probably_ related to a bug with calculating whether something is unread but FWIW I haven't run into this again so I will add it to the issues I'm tracking and we can close it for now.

[2022-05-23 16:29] #7859 closed

[2022-05-23 16:42] Julesssss commented on #8122
Raised a hotfix PR here: https://github.com/Expensify/App/pull/9129

[2022-05-23 16:45] Julesssss commented on #9111
[Raised a PR to fix 9121](https://github.com/Expensify/App/pull/9129). It'll be CP'd shortly, once the iOS checks are passing

[2022-05-23 16:48] Julesssss commented on #8951
Thank you kindly

[2022-05-23 16:51] #9128 closed

[2022-05-23 16:52] marcochavezf commented on #9119
I can reproduce it on my android phone, applying the `External` label

[2022-05-23 16:55] JmillsExpensify commented on #8251
I saw you accepted. I just issued payment via Upwork. Closing out this issue!

[2022-05-23 16:57] mananjadhav commented on #8846
Thanks @dharmik. I agree we should be showing redirection to settings as subsequent popup.

But could you please add some technical details to your proposal? Where are you going to make changes, which file? What change? Etc.

[2022-05-23 17:07] OSBotify commented on #9111
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9129) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.65-6` :rocket:

[2022-05-23 17:07] OSBotify commented on #9111
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.65-6 has been deployed to staging :tada:

[2022-05-23 17:08] parasharrajat commented on #9123
You can instead assign me as C+. That would be fine.

[2022-05-23 17:14] Julesssss commented on #9111
Nice. So [9121](https://github.com/Expensify/App/issues/9121) should be fixed now.

[2022-05-23 17:15] Santhosh-Sellavel commented on #8122
🤦
Oops this typo gonna cost me 1/2 of the payment?

[2022-05-23 17:17] Julesssss commented on #9122
I agree with @Santhosh-Sellavel here. The difference is subtle, but it does seem like the issue already exists on prod. Here's my screencap from the production branch:

https://user-images.githubusercontent.com/10736861/169873273-7f3d5512-2c7e-4e8e-9881-701b20abb7a6.mov

[2022-05-23 17:17] Santhosh-Sellavel commented on #8867
Done, @JmillsExpensify!

[2022-05-23 17:19] Julesssss commented on #9111
I also removed the deployBlocker label from [9122](https://github.com/Expensify/App/issues/9122) as it looks like the issue already exists on production.

[2022-05-23 17:20] Julesssss commented on #9111
Hey team, I can't remember if checking the deployBlocker box is my or your responsibility. Please uncheck them if I wasn't supposed to do that until they have been tested 😅

[2022-05-23 17:21] marcaaron commented on #7737
looked into this for a second and here's what I have as a theory but would need to look into it more...

- When we swipe to go back Safari will show us a preview of the previous page. This works for static sites but not so much with single page apps. It is also just triggering a simple `'popstate'` event.
- The popstate event should update the state of the navigation (there are some known issues w

[2022-05-23 17:24] parasharrajat commented on #7737
May be Drawer is exposing the hammer gesture, otherwise, If this globally available on window then we can listen for swipe and act. Need to check this.

[2022-05-23 17:25] Julesssss commented on #9111
@Expensify/applauseleads I need to sign off now, but I believe we're clear for testing the release again. Look forward to checking back in tomorrow morning 🤞

[2022-05-23 17:31] marcaaron commented on #7737
Actually, this seems wrong the "status bar" is not what we want to not animate. If we want to disable the drawer animation I think at a minimum we would need a custom drawer animation since there's no default way to disable this.

Pretty sure it is Safari. We could try to track touch events to see if the `'popstate'` event was a swipe (maybe) but seems like a hack. Hopefully there is some way to s

[2022-05-23 17:32] Santhosh-Sellavel commented on #7971
@bfitzexpensify Any update on payment?

[2022-05-23 17:33] mallenexpensify commented on #7844
Thanks @parasharrajat , paid $1000 for C+.

[2022-05-23 17:33] #7844 closed

[2022-05-23 17:38] Santhosh-Sellavel commented on #8115
I'm afraid not since it's well within the scope of the same issue! If then I would get an additional C+ too 😅 ?

As far as I can see the only thing that's maybe eligible is reporting bonus for #8363 Reporter.

[2022-05-23 17:40] Santhosh-Sellavel commented on #8666
@bfitzexpensify It's time for payment!

[2022-05-23 17:40] mallenexpensify commented on #6069
Paid @rushatgabhane $1000 for fixing the issue.

[2022-05-23 17:40] #6069 closed

[2022-05-23 17:50] marcochavezf commented on #8356
Ah I think @Santhosh-Sellavel doesn't agree with that proposal, right? Also, I'm not totally convinced either, because seems that proposal is forcing the lineHeight value on web/android and another value on iOS, which IMO it doesn't solve the root of the problem

@aneequeahmad could you explain why lineHeight is adding that additional height on different platforms? I'm wondering if there's an uppe

[2022-05-23 18:06] JmillsExpensify commented on #8867
Great payment issued, thanks! Let me know if either of you have any questions. Closing for now.

[2022-05-23 18:06] #8867 closed

[2022-05-23 18:10] AndrewGable commented on #8115
@jboniface - Mind taking a look into that?

[2022-05-23 18:11] chiragsalian commented on #9124
Looks like a straightforward external issue.

[2022-05-23 18:12] srikarparsi commented on #9018
Stuck on understanding which methods are outdated. Messaged to setup a call.

[2022-05-23 18:20] mbolillo101 opened #9135 "[TEST] Production QA"
Testing https://github.com/Expensify/Web-Expensify/pull/33782 (@marcochavezf)

[2022-05-23 18:20] #9135 closed

[2022-05-23 18:26] parasharrajat commented on #7737
I can try to create a Reproduction to see if this is really happening on `react-navigation`. Then it would be good to fix there.

[2022-05-23 18:28] jboniface commented on #8115
@AndrewGable @Santhosh-Sellavel @mollfpr it looks like #8363 was closed as duplicate. I don't think it makes sense to pay for it.

[2022-05-23 18:34] chiragsalian commented on #8956
@allroundexperts, yes allroundexperts+4@gmail.com is part of policyExpenseChat and policyRooms beta. You can always log into expensify.com and in the JS console run `g_beta` to see all the betas you are part of. Any beta added is reflected on staging and production. Sometimes if the code does not register you as part of a beta you may need to log out and log in so that it can obtain the most recen

[2022-05-23 18:37] Santhosh-Sellavel commented on #8034
@mallenexpensify This job is no longer available can you set up a job for me!

[2022-05-23 18:39] Santhosh-Sellavel commented on #8291
@bfitzexpensify Can you set up a job on Upwork for this issue or share me link for this one!

[2022-05-23 18:42] Santhosh-Sellavel commented on #7535
@laurenreidexpensify Can you set up a job on Upwork or send an invite for this issue! Its payment is due tomorrow. Thanks!

[2022-05-23 18:43] Santhosh-Sellavel commented on #8115
Thanks, @jboniface Can you set up a job for this one or send invites. I can't find the Upwork link for this one. Thanks!

[2022-05-23 18:46] chiragsalian opened #9137 "Removing/Adding a member for workspace isn't reflecting the same member changes on rooms under the same policy"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue reported [here](https://github.com/Expensify/App/issues/8956#issuecomment-1133643387) by @allroundexperts

## Action Performed:
1. Have a workspace policy. If you d

[2022-05-23 18:46] marcaaron commented on #7737
Probably just take this example:

https://snack.expo.io/?platform=android&name=Drawer%20Navigator%20%7C%20React%20Navigation&dependencies=%40expo%2Fvector-icons%40*%2C%40react-native-community%2Fmasked-view%40*%2Creact-native-gesture-handler%40*%2Creact-native-pager-view%40*%2Creact-native-paper%40%5E4.7.2%2Creact-native-reanimated%40*%2Creact-native-safe-area-context%40*%2Creact-native-screens%40

[2022-05-23 18:47] marcaaron commented on #7737
https://snack.expo.dev/c9jpEcNnH

[2022-05-23 18:49] Santhosh-Sellavel commented on #8133
Thanks @JmillsExpensify Applied for C+, please add a milestone reporting bonus thanks!

[2022-05-23 18:51] marcaaron commented on #7737
Might need to deploy it via netlify or something. The snack doesn't have navigation controls.

[2022-05-23 18:52] mallenexpensify commented on #7424
I'm a lil confused, want to confirm

- @parasharrajat you're due $250 for help on this issue or PR, correct?
- @kidroca are you do payment?!??!  Or did work hourly?  If payment is due, how much?

[2022-05-23 18:52] parasharrajat commented on #7424
yes

[2022-05-23 18:56] metehanozyurt commented on #8133
Thank you @JmillsExpensify .

[2022-05-23 18:56] mallenexpensify commented on #7424
Paid @parasharrajat $250, thanks for the help!

[2022-05-23 18:58] isagoico commented on #9015
Issue is not reproducible anymore 🎉Closing

https://user-images.githubusercontent.com/44479856/169887938-4dc3c288-8851-4a4b-9fb4-9c62b94585ec.mp4