[2021-09-09 21:00] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218876549) to production by @yuwenmemon in version: 1.0.95-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 21:01] botify commented on #4929
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218876549) to production by @yuwenmemon in version: 1.0.95-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 21:03] bondydaa commented on #4857
My last comment was based on the fact that the the IP is the same, the URI is the same but the EdgeStartTimestamp are different even though close. Couple that with the fact the rayIDs match up to what our logs show as 2 different requests.

[2021-09-09 21:08] PrashantMangukiya commented on #5103
Hi @marklouisdeshaun Submitted proposal on upwork. Also here is my proposed solution: https://github.com/Expensify/App/issues/5103#issuecomment-913921471  I will be happy to prepare for pr if my solution accepted. Thanks.

[2021-09-09 21:09] roryabraham commented on #5090
I think that this is essentially a dupe of https://github.com/Expensify/Expensify/issues/145368, closing it out. Feel free to reopen if you disagree.

[2021-09-09 21:09] #5090 closed

[2021-09-09 21:10] marcaaron commented on #4857
Is it possible that some other proxy split the client request into multiples before passing to cloudflare?

[2021-09-09 21:10] jboniface commented on #4513
oh whoops, accept it and I'll pay you. I was expecting the new process where we show the "hold for payment" message in the title but this must have deployed before that

[2021-09-09 21:23] parasharrajat commented on #5154
I am kind of fine without payment. I proposed early as deploy blockers are time-sensitive.

[2021-09-09 21:25] adelekennedy commented on #5154
Hey @parasharrajat I just created a job to pay you out for this (though I see your comment above!) do you mind accepting and I'll take care of payment as soon as possible?

[2021-09-09 21:27] parasharrajat commented on #5154
Thank you, guys. Appreciate it.

[2021-09-09 21:27] chiragsalian commented on #4941
Sorry for the delay. This somehow slipped my radar. Just caught up on the issue and your proposal looks good to me.
@MitchExpensify feel free to hire @Santhosh-Sellavel on upwork.
@Santhosh-Sellavel, feel free to create the PR.

I've asked our team for the recommended spanish copy for `Start a Call` and i'll share that with you once they let me know.

[2021-09-09 21:28] jboniface commented on #4513
ok i paid it (note: i put it up for 500 to include the fact that you both reported and solved it).

[2021-09-09 21:28] #4513 closed

[2021-09-09 21:34] isagoico commented on #5177
Starting QA 🚀

[2021-09-09 21:40] aldo-expensify commented on #5028
I'll work on this.

[2021-09-09 21:44] mountiny commented on #4615
Thank you for handling and clarifying the process @mallenexpensify 🙌

[2021-09-09 21:56] ctkochan22 commented on #5088
Oops, no we are good. Hoping to get a PR soon.

[2021-09-09 22:12] botify commented on #5092
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218882715) to staging by @tgolen in version: 1.0.95-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 22:12] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218882715) to staging by @marcaaron in version: 1.0.95-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 22:12] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218882715) to staging by @pecanoro in version: 1.0.95-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 22:12] botify commented on #5030
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218882715) to staging by @pecanoro in version: 1.0.95-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 22:12] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218882715) to staging by @luacmartins in version: 1.0.95-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 22:12] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218882715) to staging by @marcaaron in version: 1.0.95-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 22:12] botify commented on #4819
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218882715) to staging by @marcaaron in version: 1.0.95-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 22:12] botify commented on #4487
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218882715) to staging by @roryabraham in version: 1.0.95-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 22:12] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218882715) to staging by @roryabraham in version: 1.0.95-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 22:12] botify commented on #5081
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218882715) to staging by @Julesssss in version: 1.0.95-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 22:12] botify commented on #4486
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218882715) to staging by @deetergp in version: 1.0.95-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 22:12] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218882715) to staging by @deetergp in version: 1.0.95-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 22:12] botify commented on #5075
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218882715) to staging by @ctkochan22 in version: 1.0.95-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 22:26] fukawi2 commented on #4857
_Unassigning myself - tag me if there's anything else I can do to help._

[2021-09-09 22:34] mountiny commented on #5166
@mallenexpensify Thank you, I can take it on since I have the context from the issue this came from.

This can be worked on by External contributor.

[2021-09-09 23:15] kevinksullivan opened #5182 "Always make the `Save & Continue` button in the VBA flow active"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

# Problem

Following up on [this thread](https://expensify.slack.com/archives/C020EPP9B9A/p1630615806031700), our current design to show a disabled / floating `Save and

[2021-09-09 23:21] kevinksullivan opened #5183 "[HOLD for payment 2021-09-27] Do not show `Save & Continue` as a floating button in the VBA flow, only show it at the bottom of each step"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

# Problem

As a result of https://github.com/Expensify/App/issues/5182 , the `Save & Continue` button will be "active" at all times in the VBA flow, meaning a user can t

[2021-09-09 23:46] kevinksullivan commented on #5074
Updated OP with clearer instructions and moving forward.

[2021-09-09 23:52] botify commented on #5035
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-10 00:02] Santhosh-Sellavel commented on #5021
Yes, it's a complete mess. It's not fixed yet.

Yes this issue is a replacement for #4723.

Yes, no upwork job was created.

[2021-09-10 00:17] chiragsalian commented on #4941
@Santhosh-Sellavel, es copy to use `Iniciar una llamada`

[2021-09-10 00:17] SofiedeVreese opened #5184 "Prevent inaccurate information by enforcing a character limit during the VBA flow"
## Expected Result:
When you're adding your phone number, tax ID and last 4 of SSN in the add VBA flow, we should enforce a character limit and format at you type.

## Actual Result:
We do none of that.
![image](https://user-images.githubusercontent.com/9133401/132555779-d6dc3ce0-c625-42bf-83b1-50c29ffc41df.png)

## Solution:
Enforce a character limit on these fields such that:
- Phone number is l

[2021-09-10 00:18] SofiedeVreese commented on #5184
Triaged & auto-assigned via the `external` label in [#176806](https://github.com/Expensify/Expensify/issues/176806).

[2021-09-10 00:20] kevinksullivan opened #5185 "[HOLD for payment 2021-12-27] [HOLD for payment 2021-12-15] Add "Workspace" to the Workspace menu on the left pane header on Desktop/Web and button to delete/add new workspaces"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
# Problem

There are three issues we are tackling here based on the conversation below.
1. There is now `Workspace` header on web when a user is viewing the Workspace men

[2021-09-10 00:23] kevinksullivan commented on #5185
Picking this up for ya @SofiedeVreese just to get it out there. Job posted

https://www.upwork.com/jobs/~01a0df2a984ccdedd6

[2021-09-10 00:24] SofiedeVreese commented on #5184
[Posted on Upwork!](https://www.upwork.com/jobs/~01b8524b784bb1d9ec).

Adding `exported` label.

[2021-09-10 00:28] deetergp commented on #4543
This one is in progress and pending review from @marcaaron, not overdue.

[2021-09-10 00:32] kevinksullivan commented on #5089
All set!

[2021-09-10 00:40] mananjadhav commented on #4541
My PR https://github.com/Expensify/App/pull/4456 was merged which had additional changes for EmojiPicker modal also fixes this regression. Please refer this comment for screenshots: https://github.com/Expensify/App/pull/4456#issuecomment-915743892

Is there any additional action that is needed from me?

[2021-09-10 00:40] #4883 closed

[2021-09-10 00:41] botify commented on #4883
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-10 00:48] Jag96 commented on #4355
Updated the description to take into account we're looking to update react-native-haptic-feedback now instead of RN directly. Working internally to get somebody to help me test the proposals on a physical Android device to confirm the vibration matches slack, thanks for bearing with me @MTN718 and @rushatgabhane

[2021-09-10 00:51] Santhosh-Sellavel commented on #5185
## Proposal
It enabled here only for small screen, we should remove the check
https://github.com/Expensify/App/blob/2578d3a662a1f405af6c8cabb8b2e36862206077/src/pages/workspace/WorkspaceSidebar.js#L100-L106

[2021-09-10 00:55] mallenexpensify commented on #4888
tbc....

This is something we've been discussing internally since the very beginning, like 9 months ago.  It wouldn't be available for a reporting bonus.

[2021-09-10 01:01] Santhosh-Sellavel commented on #5185
<img width="325" alt="Screenshot 2021-09-10 at 6 26 38 AM" src="https://user-images.githubusercontent.com/85645967/132781665-97c2e020-1669-4c34-8f52-8a1eb8e2c8bb.png">

I see more options ( vertical three dots...) in the workspace side bar, from the image above. What options do we want to show now?

[2021-09-10 01:01] chiragsalian commented on #5185
Hmm have you tested that plan @Santhosh-Sellavel. I have not but the reason i ask is because the component says  `HeaderWithCloseButton` so I feel like a close button would show next to the header which isnt what we want.
So maybe the proposal would involve a change wherein `isSmallScreenWidth` is moved to be within `HeaderWithCloseButton` so that close button is only shown for mobile devices and

[2021-09-10 01:05] mananjadhav commented on #5185
**Proposal**
Just removing the isSmallScreenWidth won't solve it as we don't want the close button. Hence I recommend adding a conditional element Header for large screens.

[code]

[2021-09-10 01:07] mallenexpensify commented on #5166
@meetmangukiya can you submit a proposal here so I can hire you? And confirm in a comment here once you have?
https://www.upwork.com/jobs/~0188b3f5cc094d8f7e

[2021-09-10 01:07] mallenexpensify commented on #5166
Sorry @Beamanator , @mountiny's got this one.  He must not _officially_ be on the CME team which is why you were added.

[2021-09-10 01:10] chiragsalian commented on #5185
Nice yeah i like that plan, then we don't have to worry about the 3 dots too since its literally just the header. Plain and simple. I like it 🙂

@kevinksullivan, feel to hire @mananjadhav in upwork.
 @mananjadhav feel free to create the PR.

[2021-09-10 01:10] mananjadhav commented on #5185
Thanks @chiragsalian

[2021-09-10 01:12] Santhosh-Sellavel commented on #5185
@chiragsalian I tested out Chirag. The `HeaderWithCloseButton` will show a close icon. I see more options in the Expected section as said here https://github.com/Expensify/App/issues/5185#issuecomment-916550999

The header alone we can use, we need some styling.

[2021-09-10 01:12] shawnborton commented on #5185
That being said, the three dots essentially replace the "x" icon. Style-wise, hopefully the top part of the left pane is basically identical to mobile, with the exception that the "X" button is removed. Here it is in full context:
![image](https://user-images.githubusercontent.com/2319350/132782788-6a45f648-4574-4179-95cb-4d4400d8a905.png)

Let me know if that make sense.

[2021-09-10 01:12] shawnborton commented on #5185
@kevinksullivan I know you had a separate issue for the three dots (I think?) but I wonder if it makes sense to address this together.

[2021-09-10 01:15] chiragsalian commented on #5185
@mananjadhav, maybe pause on the PR atm, until we confirm the design. It's a little different than the original expected result. I think it makes sense to tackle the three dots design here too.

[2021-09-10 01:15] mananjadhav commented on #5185
@shawnborton I am guessing the three dots are not there at the moment and will be added sometime later? Adding the three dots menu would be a part of `WorkspaceSidebar`, so shouldn't have an impact on the design if we just add the Header. Might require some basic flex styling changes.

[2021-09-10 01:17] shawnborton commented on #5185
Ideally it won't require any style changes, we should be able to reuse the header component in both the left pane and in the right pane. It's just a matter of only passing through the icon with three dots on the left for desktop. We will provide that .svg for the icon as well.

[2021-09-10 01:25] mananjadhav commented on #5185
**Updated Proposal**

Based on @shawnborton's feedback on the requirement here's my updated proposal. We modify the `HeaderWithCloseButton`

1. Add three props: `shouldShowThreeDotsMenu` (for lack of better word, need suggestions ), `shouldShowCloseButton` and a function `onThreeDotIconPress`.
2. Add the following code:

[code]

3. Update the close button section like:

[code]

4. Lastly, in `Work

[2021-09-10 01:28] chiragsalian commented on #5185
@Santhosh-Sellavel, firstly I'm unsure what to reply to your post because there is no question associated with it. It felt like you were sharing a thought. Then a little unsure why you linked my https://github.com/Expensify/App/issues/5185#issuecomment-916550999 to begin with.

So we've to still wait for @kevinksullivan to confirm he's on board with the changes.
Additionally, you mentioned `The He

[2021-09-10 01:39] chiragsalian commented on #5185
@mananjadhav, I like the proposal thought. Question though, what are the options shown when the 3 dots are clicked? When I create a workspace on mobile or web I don't see it so I was wondering what is it even supposed to contain? Is it for specific pages that doesn't include the workspace page?

[2021-09-10 01:51] mallenexpensify commented on #4256
@jasperhuangg / @Luke9389 , it looks like the PR has been chillin' in `master` for a week, what's the reasoning for that?

[2021-09-10 01:56] jasperhuangg commented on #4256
I'm not entirely sure about this but I think the issue doesn't get closed till the PR is deployed.

[2021-09-10 02:23] mananjadhav commented on #5185
Afaik,  it seems we are planning to add more menu options in Workspace on click of the button. Even I am not sure what atm, @shawnborton might be the best person to share.

But I added those checks and icon so that whenever we plan to add it we just have to add the prop and the function handling.  Headed components stays the same.

[2021-09-10 02:38] Christinadobrzyn commented on #5008
Hi @pROFESOR11! Sorry for the delayed response, Expensifail is our test account. You can create a test account to our NewDot product following the setup details in this [article](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md).

@equationalapplications - Chronos is a 'contact' option in the NewDot chat. To start a conversation with Chronos, click the green + icon > New Chat >  type Chr

[2021-09-10 02:39] Christinadobrzyn commented on #4819
Hold for payment set to [HOLD FOR PAYMENT Sept 17]

[2021-09-10 02:43] Christinadobrzyn commented on #5106
Taking this over from Mitch.

Based on @kidroca's great [suggestions](https://github.com/Expensify/App/issues/4273#issuecomment-915838714), I think we should hold off on hiring for this issue while we implement a fix for this [issue](https://github.com/Expensify/App/issues/4273) which will likely fix this one.

[2021-09-10 02:45] Christinadobrzyn commented on #4273
Thanks for the suggestions @kidroca! We'll go with it!

[2021-09-10 03:04] botify commented on #5157
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218935234) to staging by @marcaaron in version: 1.0.95-3 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-10 03:08] Luke9389 commented on #4905
@parasharrajat Can you identify where this design decision was made?
https://github.com/Expensify/App/issues/4905#issuecomment-908351674

[2021-09-10 03:43] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-10 03:43] botify commented on #4896
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-10 04:17] PrashantMangukiya commented on #5184
I created workspace, added private domain email as secondary login and verified. Although I am not able to see add bank account related flow. Any suggestion how to activate VBA flow to reproduce this issue as a contributor.

<img width="1371" alt="Screenshot 2021-09-10 at 9 41 47 AM" src="https://user-images.githubusercontent.com/7823358/132798663-57c6ec79-8659-4d82-be21-1ea4489c1e10.png">

[2021-09-10 04:17] Santhosh-Sellavel commented on #4545
@MitchExpensify or @AndrewGable

As posted in #expensify-open-source [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1630447493236300)

I believe I should be compensated for reporting this issue. Thanks!

[2021-09-10 04:20] SofiedeVreese commented on #5184
Hmm @PrashantMangukiya that is indeed odd. Let me chat to our Engineers to double-check and see if this is truly an issue that's Contributor-suitable!

[2021-09-10 05:13] meetmangukiya commented on #4615
Thank you!

[2021-09-10 05:17] meetmangukiya commented on #5166
Applied on upwork @mallenexpensify

[2021-09-10 05:17] MonilBhavsar commented on #4209
@kavimuru @isagoico can you please test this again, It's resolved.

[2021-09-10 05:20] Christinadobrzyn commented on #4273
Current job posting https://www.upwork.com/jobs/~01723024cd13b57754
Doubled price to $4000

[2021-09-10 05:22] SofiedeVreese commented on #4731
@anthony-hull this job is now paid together with a bonus for proposing the issue!

Int: job paid & removed from Upwork. Closing issue.

[2021-09-10 05:22] #4731 closed

[2021-09-10 05:58] PrashantMangukiya commented on #5184
@SofiedeVreese  Thank you for updates.

This issue not set as external so consider as my suggestion (not proposal).  At present I can not reproduce VBA flow, so suggesting generic sample code to format phone number as user is typing. During form submit we have to remove also remove () and - from phone number, because within db we may not store such formatting chars.

Also sample code given to limi

[2021-09-10 06:15] parasharrajat commented on #5166
### Proposal
1. Pass a new argument to the `CreateOption` Method named as `activeReportID`.
2. Update the `hasDraftComment` Check in the `createOption` https://github.com/Expensify/App/blob/01f351c41f59c1c991d068dd0cecca2e34f17d11/src/libs/OptionsListUtils.js#L245.

to
[code]
3. Update all instances of CreateOption Call to pass the `activeReportID` parameter.

[2021-09-10 06:38] parasharrajat commented on #4905
https://github.com/Expensify/App/issues/3476#issuecomment-875025323. I designed it in this way earlier.

[2021-09-10 08:06] Dal-Papa commented on #4997
Awesome, thanks for the pointers @parasharrajat !

[2021-09-10 09:07] Julesssss commented on #4775
Thanks, Shawn. We're ready for proposals now.

[2021-09-10 10:01] Beamanator commented on #4595
@kidroca Is it possible your PR caused this issue: https://github.com/Expensify/App/issues/4971

[2021-09-10 10:02] Beamanator commented on #4971
@parasharrajat Thanks very much for your investigation! I noted this in the issue @kidroca 's PR fixed, let's collaborate and make sure this is the best solution 👍

[2021-09-10 10:10] MitchExpensify commented on #5047
Hired in Upwork @mateomorris !

[2021-09-10 10:21] MitchExpensify commented on #4545
Thanks for the catch @Santhosh-Sellavel ! Offer sent so I can pay you for the reporting of the issue

[2021-09-10 10:42] parasharrajat commented on #4971
Sure, I think the solution I proposed is easiest. We use to do previously but in reverse order. I mean first session used to reset and then we clear it. But that had many side-effects. So We just need to tell other tabs that session key is changed and I set authToken to null as It is implicitly null or undefined after logout.

Hmm, happy to help.

[2021-09-10 10:54] parasharrajat commented on #4500
Any update @MitchExpensify? Sorry for the confusing comment, I have updated it.

[2021-09-10 11:34] MitchExpensify commented on #5047
when do you expect to have a PR up for this change @mateomorris ? Thanks for the proposal!

[2021-09-10 11:37] PrashantMangukiya commented on #5183
### Proposed Solution

We have to move Button component from FixedFooter to ScrollView i.e. before line 355 and remove empty FixedFooter component. Similar process we have follow other page also if need. Thanks.

https://github.com/Expensify/App/blob/01f351c41f59c1c991d068dd0cecca2e34f17d11/src/pages/ReimbursementAccount/CompanyStep.js#L355-L365

[2021-09-10 11:40] mateomorris commented on #5047
@MitchExpensify I take fridays off, so would tomorrow be okay?

[2021-09-10 12:02] Beamanator commented on #5047
I can probably review tomorrow or Sunday, will you be on Sat / Sun if I have comments over the weekend @mateomorris ?

[2021-09-10 12:03] mateomorris commented on #5047
@Beamanator for sure!

[2021-09-10 12:04] Beamanator commented on #5047
Great, if we could get it merged by Monday I think that would be fantastic 👍

[2021-09-10 12:07] MitchExpensify commented on #4500
Paid with bonus! Thanks @parasharrajat

[2021-09-10 12:52] parasharrajat commented on #5158
### Proposal
1. For the specific case of AttachmentModal we just need to pass the `onCancel` Callback which is called on the press of `ESC`.
https://github.com/Expensify/App/blob/01f351c41f59c1c991d068dd0cecca2e34f17d11/src/components/AttachmentModal.js#L160
[code]
2. For other confimModals, we can quickly run a search to find all instances of `ConfirmModal` and attach the callback to reset the `i

[2021-09-10 12:58] rushatgabhane commented on #5158
@parasharrajat you wanna pass an additional prop to ConfirmModal? But that'd also add an extra button which isn't needed.

[2021-09-10 13:22] parasharrajat commented on #5158
Ahh, I didn't see it through that it will render the button. Absolutely, we can inbuild it in the ConfirmModal if we just want to hide every ConfirmModal. I will update the Proposal to add that as well.

[2021-09-10 13:26] kidroca commented on #4595
Yes,
Looks like I shouldn't have removed the setting of Auth Token to null
Though the comment mislead me: d27dcfad2dc98cae7cb0f5b5103c607af01dd3ea7a5a234673f5259c5bd158d1L48

I think the proposed solution is ok, and we just need something to trigger the storage event by in other tabs setting a key

AFAIK Onyx.clear should trigger the storage event, not sure why it doesn't...

[2021-09-10 13:34] parasharrajat commented on #5158
I just checked `onCancel` does not show an extra button until `shouldShowCancelButton` is true but You made a good point that we can just push this code inside the ConfirmModal.

[2021-09-10 13:36] kidroca commented on #4971
Confirming the discussion and the proposed solution.

No storage event is raised and so other tabs are unaware of the change

Thanks for the investigation and for pointing that out in the new code comment

Onyx.clear notifies only the current tab subscribers through `keysChanged`

[2021-09-10 13:37] rushatgabhane commented on #5158
Ohh okay, sounds good!

[2021-09-10 14:01] isagoico commented on #5153
@justinpersaud Reopening this since it's still reproducible for PDF files on build 1.0.96

![image](https://user-images.githubusercontent.com/44479856/132865491-a52a1cfa-4d77-48dc-8d33-408e84e815c7.png)

[2021-09-10 14:11] Beamanator commented on #4971
Thanks for confirming, @kidroca 👍

@parasharrajat thanks for bearing with me, I'm assigning this job to you - please submit a PR when you have a chance 💯

[2021-09-10 14:11] isagoico commented on #5177
Manually adding this deploy blocker to the list: https://github.com/Expensify/App/issues/5153

Looks like reopened deploy blockers don't get added automatically to the checklist @roryabraham

[2021-09-10 14:22] Julesssss commented on #5132
I'm going with **B**.

The fix is to align the API response objects, which is a much simpler and consistent solution than adding new functions on the front end.

[2021-09-10 14:25] isagoico opened #5188 "Unable to cancel IOU request sent to new user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App
2. Click the green + icon and select request money
3. Enter amount > Next
4. Enter the email address of a user that doesn't have an ex

[2021-09-10 14:28] kevinksullivan commented on #4857
Gave this a fresh try on kevin+4@kevinsullivan.one this morning and got two messages.

![image](https://user-images.githubusercontent.com/22508290/132869136-28266bde-f291-424f-9fcb-df5e70464270.png)

Catching up on your comments from the last few days @marcaaron and this one stood out:

I am finding chats from other accounts popping up in my account a lot, which seems closely tied to this report f

[2021-09-10 14:29] isagoico commented on #4209
I was unable to reproduce the issue at first log in but it had this behaviour _sometimes_. I will keep an 👁️ out today for this issue and will post here if I experience it again.

![image](https://user-images.githubusercontent.com/44479856/132869741-4989260c-a0ce-48ef-b3b9-74f9b269dfa7.png)

[2021-09-10 14:37] isagoico opened #5189 "Confirm password box moves after setting removing focus from set new password box"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to settings
2. Navigate to change password
3. In New password box enter a password that meets all the requirements.
4. Without clicking

[2021-09-10 14:56] Santhosh-Sellavel commented on #4690
@tgolen In case you missed proposal is already here https://github.com/Expensify/App/issues/4690#issuecomment-903095971

[2021-09-10 15:07] isagoico commented on #5177
Regression is finished!
Issues found:
1. https://github.com/Expensify/App/issues/5188
2. https://github.com/Expensify/App/issues/5189

PRs are finished too!
No comments added.

This was reopened since it was reproducible again today https://github.com/Expensify/App/issues/5153

Thanks!

[2021-09-10 15:12] stephanieelliott commented on #5183
Looks good, left as a daily since it's on the N6 milestone.

[2021-09-10 15:16] shawnborton commented on #5185
Yeah, the three dots will launch a menu of options. That might be getting handled separately though, apologies for the confusion as I am not quite up-to-speed on how the issues were divvied up. Perhaps @kevinksullivan can confirm there.

[2021-09-10 15:21] parasharrajat commented on #5158
#### If I do this:

1. If we want to close all confirmModals when Esc is pressed and don't want to manage it from the Parent Component. Then we can

   a. Add a state property `isVisible` and using `componentDidupdate`, Update this state property when `isVisible` prop changes.

   b. Then set the isVisible prop of Modal component to `this.state.isVisible` and set this state prop to `false` on `onC

[2021-09-10 15:29] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-10 15:55] Beamanator commented on #4981
Asked for more feedback in Slack, before moving forward

[2021-09-10 15:59] pecanoro commented on #5182
I can do it next week!

[2021-09-10 16:01] botify commented on #5089
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-10 16:26] marcaaron commented on #5034
I think this is possible because `Onyx.clear()` does not prevent asynchronous writes from happening (after storage is cleared). So there's always a chance some data will persist when signing out if you:

- Update a report via API call - start the request
- Sign out - request still waiting for response
- Storage is cleared
- Response comes back and we save the data to Onyx after we've cleared the s

[2021-09-10 16:31] marcaaron commented on #4857
Thanks @kevinksullivan! There could be something there. I was never able to reproduce this issue by injecting report data into my storage while signed out so it was a dead end for me - but there could be more than one reason why these API requests are happening in multiples so I wouldn't rule it out yet.

[2021-09-10 16:45] isagoico opened #5191 "[HOLD for payment 2021-11-04] Sign in - Cursor does not remain in place after wrong password is entered"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to New Expensify
2. Enter a existing user email
3. In Password box enter an incorrect password.
4. _Press enter_

_Edit:_ Please, consid

[2021-09-10 16:56] nickmurray47 commented on #5142
Reproduction steps are clear and confirmed this still happens locally.

@parasharrajat Where do these adjustments need to be made and are you interested in proposing a more detailed solution?

[2021-09-10 17:00] isagoico opened #5193 "[HOLD for payment 2021-12-13][$500] Image is blurry and not rendered in correct resolution in mobile devices"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Send this [image](https://user-images.githubusercontent.com/44479856/132889916-e46ac3dc-19ad-4cca-a033-ec13b8ac79ad

[2021-09-10 17:01] Jag96 commented on #4256
Has the Expensifiy/App PR been made to update the expensify-common hash in package.json? [This step](https://github.com/Expensify/expensify-common#deploying-a-change-expensify-only) has to be done in order for this to show up in the App and go through the deploy process

[2021-09-10 17:03] kevinksullivan commented on #4616
Paid + bonus. Thanks @parasharrajat !

[2021-09-10 17:03] #4616 closed

[2021-09-10 17:04] kidroca commented on #4273
Yes,
I'll also investigate other affected areas as `maxSequenceNumber` has several other usages

[2021-09-10 17:05] rushatgabhane commented on #5158
@parasharrajat I get why it's a problem. And I don't have a better solution.

I'll throw some ideas, but I don't want to waste your time.

Umm some clever design pattern could do the trick.
Or, instead of using a prop to make it visible, navigate to it the modal so you can "go back".
Onyx?

[2021-09-10 17:07] isagoico opened #5194 "[HOLD for payment 2021-11-04] Edit Workspace - Saving an empty name shows infinite loading in button +$250 N6hold bonus"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to settings
2. Click on a workspace
3. Click on the workspace avatar to edit
4. Delete the name and save

## Expected Result:
There shou

[2021-09-10 17:11] Julesssss commented on #5132
WIP PR: https://github.com/Expensify/Web-Expensify/pull/31890

The problem is fixed, but I want to improve the response structure before submitting the PR. I'll also need to update the Frontend as the API structure has changed.

[2021-09-10 17:12] isagoico opened #5195 "Create an internal QA section in the StagingDeployCash deploy checklist"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to https://github.com/Expensify/App/issues/5177
2. Verify there's no Internal QA section.

## Expected Result:
There should be a interna

[2021-09-10 17:18] isagoico opened #5196 "Links are overlapping with text"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Send a link and some text

## Expected Result:
Link and text should not overlap

## Actual Result:
Link and text ar

[2021-09-10 17:23] justinpersaud commented on #5153
PR up. should be fixed soon

[2021-09-10 17:28] kidroca commented on #2985
Hey @roryabraham
I think the easiest thing would be to borrow some code from this PR: https://github.com/Expensify/App/pull/3705

https://github.com/Expensify/App/blob/110d3e47d7a1de6bbf8631691a698cc93764922f/src/pages/home/ReportScreen.js#L78-L81

Given that you'll open a conversation of 200 messages
You can hardcode something like `anchorSequenceNumber={100}` which would start you from the 100th

[2021-09-10 17:29] parasharrajat commented on #5142
I have requested the lib owner to possibly upgrade the lib so that we get this support out of the box. Otherwise, I will update here on what I think is best.

[2021-09-10 17:31] parasharrajat commented on #4616
@shawnborton I was wondering that maybe this feedback should be added to NewGroupPage as well. What do you think?

[2021-09-10 17:31] isagoico opened #5197 "[HOLD for payment 2021-10-05] Long-press or hovering highlight does not reset background color after performing any context actions like copy, mark as unread"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Long press/click over any chat item,
2. Chat options like   Copy to Clipboard or Mark as Unread. will be shown.
3. Choose any one of the options

[2021-09-10 17:32] puneetlath commented on #4971
Invited @parasharrajat to the Upwork job.

[2021-09-10 17:33] michaelhaxhiu commented on #4559
Just a reminder of the next steps:
1. @stitesExpensify will review the 2 solution proposals provided thus far:
- Proposal 1 from @mananjadhav https://github.com/Expensify/App/issues/4559#issuecomment-896984764
- Proposal 2 from @mateomorris https://github.com/Expensify/App/issues/4559#issuecomment-912158596

2. We'll choose a contributor based on the winning proposal

3. Contributor can start work

[2021-09-10 17:34] Santhosh-Sellavel commented on #5197
@isagoico All platforms not just web & desktop

[2021-09-10 17:36] kidroca commented on #3867
When you open the PR you see this
![image](https://user-images.githubusercontent.com/12156624/132894429-e455e593-7c65-41d1-b65a-c940e476e025.png)
which might be scary 👻 but it's just the package-lock update
![image](https://user-images.githubusercontent.com/12156624/132894527-0423e0aa-3b05-4204-b076-3370a9c2d91e.png)

[2021-09-10 17:39] sketchydroide commented on #5103
Hey @PrashantMangukiya and @parasharrajat, I think @parasharrajat makes more sense as it is simpler and cleaner, and I think falls more into what we want New.Expensify code to look like.
So we are going with your solution @parasharrajat.

@PrashantMangukiya thanks for the testing you did, and for proposing a solution :)

[2021-09-10 17:45] roryabraham commented on #5183
@PrashantMangukiya your proposal looks good. @stephanieelliott please hire @PrashantMangukiya on Upwork, and @PrashantMangukiya feel free to submit a pull request when ready.

[2021-09-10 17:48] roryabraham commented on #5195
This _can_ be external, but IMO it would be better to handle it internally. You need to merge PRs in order to test this functionality, so external contributors can't easily test.

[2021-09-10 17:59] roryabraham commented on #4981
Are you sure this will work? I think that webhook handlers might not be able to trigger other webhook events?

I don't follow – you can definitely create PRs in a draft state and PullerBear is not assigned.

I think this programatic approach is _probably_ the best way to do this, but I think it _should_ add an Engineer reviewer if a CME isn't found

[2021-09-10 17:59] michaelhaxhiu commented on #4398
Thanks for being patient! I'll add a bonus of $100 as we agree with you, and appreciate your help in the repository as a contributor 😃.

[2021-09-10 18:01] parasharrajat commented on #5194
### Proposal
1. We should update the Validation isButtonDisabled so that button is disabled when the name is empty and is not an empty string. https://github.com/Expensify/App/blob/6cdfd4b9003e74d4ea1806f79ce16485f778ae6e/src/pages/workspace/WorkspaceEditorPage.js#L97
[code]
2. Then we have to propagate the update API error to the main Promise.
https://github.com/Expensify/App/blob/6cdfd4b9003e74d

[2021-09-10 18:03] michaelhaxhiu commented on #4499
Paid!

[2021-09-10 18:03] #4499 closed

[2021-09-10 18:05] shawnborton commented on #4616
I think that makes total sense, yeah!

[2021-09-10 18:07] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-10 18:07] PrashantMangukiya commented on #5183
Hi @roryabraham,  thank you for the message.

At present I suggested solution by analysing source code file. To prepare pull request I will prefer to test VBA steps within contributor account, but I am wandering that within my contributor account I can not see VBA flow related step.

I created workspace, also added private domain email as secondary login and verified it. Although I am not able to

[2021-09-10 18:08] #5153 closed

[2021-09-10 18:09] nickmurray47 commented on #5142
Great, thanks @parasharrajat!

[2021-09-10 18:13] parasharrajat commented on #4616
Should I open another issue? @shawnborton and We can cover all the screens that should have it.

[2021-09-10 18:14] roryabraham commented on #5183
@PrashantMangukiya Try going to http://localhost:8080/bank-account/new

[2021-09-10 18:17] shawnborton commented on #4616
Actually it looks like we already handle this situation, albeit a bit differently:
![image](https://user-images.githubusercontent.com/2319350/132899238-a5d5dc01-391a-4c63-a491-9d73ac89a8de.png)

[2021-09-10 18:18] parasharrajat commented on #5197
### Proposal
1. When I implemented the main `PopoverReportActionContextMenu`, I didn't notice that `onHide` of `showContextMenu` https://github.com/Expensify/App/blob/6cdfd4b9003e74d4ea1806f79ce16485f778ae6e/src/pages/home/report/ContextMenu/PopoverReportActionContextMenu.js#L116

can be different from `onHideCallback` of `hideContextMenu`https://github.com/Expensify/App/blob/6cdfd4b9003e74d4ea180

[2021-09-10 18:22] parasharrajat commented on #4616
Great. Please let me know if any other component needs to have this. Also, I think the new workspace Invite page could be a candidate if there is a limit of users.
So it's better if that can be added to the requirements. https://github.com/Expensify/App/issues/4775#issuecomment-916753017

[2021-09-10 18:23] shawnborton commented on #4616
Sounds good - I don't think that one has a limit.

[2021-09-10 18:24] Jag96 commented on #4355
After some testing, it seems that `RNHapticFeedback.trigger('selection')` gives the desired effect on iOS (the `soft` setting is not the desired effect). I also had multiple people test on physical Android devices (@Julesssss and @Beamanator) and they both confirmed that react-native-haptic-feedback's 'soft' setting in [this testing PR](https://github.com/Expensify/App/compare/main...joe-test-andr

[2021-09-10 18:26] PrashantMangukiya commented on #5183
@roryabraham Thank you very much. I can see Add Bank Account step now. Also Connect manually shows Add Bank account steps.

Attaching screenshots just to confirm that I am in right direction. Thank you again.

<img width="1246" alt="Screenshot 2021-09-10 at 11 51 43 PM" src="https://user-images.githubusercontent.com/7823358/132900120-cd0b6101-ab8f-44a9-9de6-dbf2f9735f31.png">

<img width="1246" al

[2021-09-10 18:29] MTN718 commented on #4355
Regarding IOS provides only 5 types of vibration so if soft is not working, we can test other types

[2021-09-10 18:29] akshayasalvi commented on #5184
**Proposal**

My suggestion would be to resolve just the length and type checks in this issue. The number formatting is at the moment not supported. We should be adding masked input support rather than programmatically adding phone number formatting. For example, http://insin.github.io/react-maskedinput/ .

I am suggesting without adding auto-formatting to the phone number, we should add `maxLengt

[2021-09-10 18:31] mananjadhav commented on #5196
Possible duplicate of https://github.com/Expensify/App/issues/4911 ? Added a note on slack too.

[2021-09-10 18:48] roryabraham commented on #5177
@isagoico Please retest https://github.com/Expensify/App/issues/5153

[2021-09-10 18:50] Santhosh-Sellavel commented on #4941
@MitchExpensify FYI: Proposal submitted in the Upwork job!

[2021-09-10 18:50] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-10 18:50] botify commented on #5026
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-10 18:56] PrashantMangukiya commented on #5183
Hi @roryabraham, Sorry to ask many question, I am adding bank account for testing purpose, but it is not allowing to create. Is there any specific Routing and Account Number I suppose to enter in this field.

<img width="1139" alt="Screenshot 2021-09-11 at 12 21 59 AM" src="https://user-images.githubusercontent.com/7823358/132903376-4a7b85f0-22ef-4175-9fe4-9cf69a9f3a04.png">

<img width="1139" alt

[2021-09-10 18:56] roryabraham commented on #5011
Haven't been able to spend any time on this yet, dropping for now.

[2021-09-10 18:57] justinpersaud commented on #5153
@isagoico just deployed the change and tested myself, seems to be working now

[2021-09-10 19:01] isagoico commented on #5153
It was a pass! 🎉
![image](https://user-images.githubusercontent.com/44479856/132903920-0f0c11bb-6cc6-4e7f-bdc5-16d3411b4af3.png)

[2021-09-10 19:03] roryabraham commented on #5183
@PrashantMangukiya I don't think you'll actually need to fill out the form. There is an issue open to ensure that users can't link to VBA steps they can't complete, but it's not yet been implemented. This is good news for you, because it means that you can link directly to each individual step:

- http://localhost:8080/bank-account/new
- http://localhost:8080/bank-account/company
- http://localhos

[2021-09-10 19:08] PrashantMangukiya commented on #5183
@roryabraham  ok I got it. I will open given url and correct button layout. I think it will works to solve this issue. Thanks.

[2021-09-10 19:09] roryabraham commented on #5177
:shipit:

[2021-09-10 19:09] #5177 closed

[2021-09-10 19:12] OSBotify opened #5203 "Deploy Checklist: New Expensify 2021-09-10"
**Release Version:** `1.0.97-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/4884
- [x] https://github.com/Expensify/App/pull/4996
- [x] https://github.com/Expensify/App/pull/5023
- [x] https://github.com/Expensify/App/pull/5095
- [x] https://github

[2021-09-10 19:13] parasharrajat commented on #4816
@shawnborton What color do we want for the OverScroll Effect on Android?
Here is the video of what I am asking.

https://user-images.githubusercontent.com/24370807/132905427-e5c64feb-501a-4356-bcb0-8c652d83546e.mp4

[2021-09-10 19:14] marcaaron commented on #5028
This worked fine before. Was there a regression somewhere?

[2021-09-10 19:15] alex-mechler commented on #5191
Looks like a good external issue. cc @kidroca if you wanted to submit a proposal for this

[2021-09-10 19:17] roryabraham commented on #5196
Closing this out as a dupe of https://github.com/Expensify/App/issues/4911

[2021-09-10 19:17] #5196 closed

[2021-09-10 19:30] botify commented on #5157
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222459337) to production by @roryabraham in version: 1.0.96-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 19:30] botify commented on #5092
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222459337) to production by @roryabraham in version: 1.0.96-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 19:30] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222459337) to production by @roryabraham in version: 1.0.96-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 19:30] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222459337) to production by @roryabraham in version: 1.0.96-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 19:30] botify commented on #5030
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222459337) to production by @roryabraham in version: 1.0.96-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 19:30] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222459337) to production by @roryabraham in version: 1.0.96-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 19:30] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222459337) to production by @roryabraham in version: 1.0.96-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 19:30] botify commented on #4819
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222459337) to production by @roryabraham in version: 1.0.96-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 19:30] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222459337) to production by @roryabraham in version: 1.0.96-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 19:30] botify commented on #4487
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222459337) to production by @roryabraham in version: 1.0.96-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 19:30] botify commented on #5081
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222459337) to production by @roryabraham in version: 1.0.96-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 19:30] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222459337) to production by @roryabraham in version: 1.0.96-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 19:30] botify commented on #4486
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222459337) to production by @roryabraham in version: 1.0.96-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 19:30] botify commented on #5075
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222459337) to production by @roryabraham in version: 1.0.96-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 19:33] marklouisdeshaun commented on #5103
Hired @parasharrajat in Upwork.

[2021-09-10 19:34] aldo-expensify commented on #5028
investigating...

[2021-09-10 19:59] aldo-expensify commented on #5028
@marcaaron I think you are right, I tested version 1.0.75-11 and it seems to work fine:

https://user-images.githubusercontent.com/87341702/132910705-4e386527-fc82-45f4-8c3e-6106ed7c7b86.mov

**NOTE:**  1.0.75-11 is not the most recent version where this was working!

[2021-09-10 20:10] shawnborton commented on #4816
Maybe the same color we use for our icons or borders? Something that is gray and a bit more subtle, but noticeable. Thoughts on that?

[2021-09-10 20:19] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222462609) to staging by @Jag96 in version: 1.0.96-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 20:19] botify commented on #5026
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222462609) to staging by @Jag96 in version: 1.0.96-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 20:19] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222462609) to staging by @marcaaron in version: 1.0.96-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 20:19] botify commented on #5089
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222462609) to staging by @luacmartins in version: 1.0.96-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 20:19] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222462609) to staging by @Beamanator in version: 1.0.96-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 20:19] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222462609) to staging by @AndrewGable in version: 1.0.96-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 20:19] botify commented on #4896
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222462609) to staging by @AndrewGable in version: 1.0.96-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 20:20] botify commented on #4883
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222462609) to staging by @stitesExpensify in version: 1.0.96-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 20:20] botify commented on #5035
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1222462609) to staging by @marcaaron in version: 1.0.96-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-10 20:22] stitesExpensify opened #5205 "Switch from using `cardList` on the payments page to `fundList`"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to Settings -> Payments
2. See that you have imported cards, not billing cards

## Expected Result:
1. You should see billing cards

## Actual

[2021-09-10 20:28] PrashantMangukiya commented on #5183
@roryabraham, Corrected floating button within VBA flow, not button shows at the bottom of each step.

I was not able to open this http://localhost:8080/bank-account/personal-information, So within ReimbursementAccount folder I check all files and corrected button wherever it was.

Corrected button within below js file.
src/pages/ReimbursementAccount/BankAccountStep.js
src/pages/ReimbursementAccou

[2021-09-10 20:39] parasharrajat commented on #4816
Hmm, I would say that works but let me check it.

[2021-09-10 20:46] aldo-expensify commented on #5028
It was a regression caused by this code:

https://github.com/Expensify/App/blob/main/src/libs/actions/BankAccounts.js#L648-L657

This was introduced in this [PR](https://github.com/Expensify/App/pull/4477)

Basically it causes the `BankAccountStep` component to be created before we update the withdrawal account data [here](https://github.com/Expensify/App/blob/main/src/libs/actions/BankAccounts.js

[2021-09-10 21:01] isagoico commented on #5203
Starting QA 🚀

[2021-09-10 21:04] rushatgabhane commented on #4355
@Jag96 Yes! I tested [this PR](https://github.com/Expensify/App/compare/main...joe-test-android-vibration?expand=1) and it is nothing like slack's haptic feedback for long press a message.

Device: Pixel 3, Android 11 up-to-date.

I also tried all the methods from the list again, but none of them match slack.

[2021-09-10 21:06] rushatgabhane commented on #4355
@Jag96 Yes! I tested [the PR you mentioned](https://github.com/Expensify/App/compare/main...joe-test-android-vibration?expand=1) (`trigger.(soft)`)and it is nothing like slack's haptic feedback for long press a message.

Device: Pixel 3, Android 11 up-to-date.

I also tried all the methods from the list again, but none of them match slack.

[2021-09-10 21:16] rushatgabhane commented on #4355
I'll link a PR which implements my proposed changes soon, I hope it'll add more clarity.

[2021-09-10 21:21] JmillsExpensify commented on #5081
Woo! Thanks @luacmartins for the quick work.

[2021-09-10 21:21] rushatgabhane commented on #4355
I'll link a PR which implements my proposed changes soon, I hope it'll add more clarity.

[2021-09-10 21:37] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-10 21:37] botify commented on #4902
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-10 21:38] Luke9389 commented on #4905
I'm not convinced we need to make this change. We are using `isSmallScreenSize` to determine if we're on web or mobile, so I don't think we should be designing around a small screen size for web. We can come back to this if users complain, but my guess is that very few people will use a small window on web.

[2021-09-10 21:48] marklouisdeshaun commented on #5197
Created a job in Upwork!

Internal: https://www.upwork.com/ab/applicants/1436446457984626688/job-details
External: https://www.upwork.com/jobs/~01993884b0dce0d4c5

[2021-09-10 22:04] rushatgabhane commented on #4355
@Jag96 [here is the PR](https://github.com/rushatgabhane/Expensify-App/tree/test-haptic-android) which implements `VibrationEffect.EFFECT_CLICK`

Please test it out on Android 9+.

[2021-09-10 22:07] ctkochan22 commented on #5088
Dealing with an issue with changes to the link I make on Web-Secure are not persisting into New dot. Asking @marcaaron 1:1 and around for ideas.

[2021-09-10 22:32] puneetlath commented on #4856
Paid!

[2021-09-10 22:32] #4856 closed

[2021-09-10 22:34] puneetlath commented on #4834
Paid!

[2021-09-10 22:34] #4834 closed

[2021-09-10 22:42] Jag96 commented on #4355
@rushatgabhane thanks for the info and for making the example PR! @Julesssss @Beamanator could you help me out in testing @rushatgabhane's branch to confirm it matches slack on your devices as well? If you're unable to build to your device from that fork, I've also updated [my PR](https://github.com/Expensify/App/compare/main...joe-test-android-vibration?expand=1) to use @rushatgabhane's branch.

[2021-09-10 22:49] aldo-expensify opened #5209 "[Performance] Re-rendering whole form on every key stroke"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?

`BaseExpensiTextInput`'s `setValue` method calls `Str.result(this.props.onChangeText, value);` ([here](https://github.com

[2021-09-10 22:49] marcaaron commented on #4492
Dropping this to weekly as it doesn't seem like there is a clear consensus how to proceed or close.

[2021-09-10 23:10] thienlnam commented on #3419
From the slack thread, we won't have to worry about storage eviction and probably won't run into any issues unless we have a HUGE report and HUGE ioureport.  As far as internal implementation, I've created the PRs and have them going into review.

[2021-09-10 23:12] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-10 23:12] botify commented on #4861
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-10 23:18] marcaaron commented on #5028
Thanks for looking into that 🙇

I agree we should still make `subStep` the single source of truth as you've called out. That seems like a better solution long term to me.

Looked at the code you mention, but I'm not too familiar with why those changes were made. Maybe we can get @Jag96  to weigh in before proceeding?

[2021-09-10 23:34] Jag96 commented on #5028
@aldo-expensify I think you hit the nail on the head w/ the investigation.

The reason for that change was to fix an issue where `Onyx.merge` was overwriting data unexpectedly, more info [here](https://github.com/Expensify/App/pull/4477#issuecomment-895415780). The changes in that PR were to enable us to save previously entered account/routing numbers ([issue](https://github.com/Expensify/App/issu

[2021-09-10 23:42] aldo-expensify commented on #5028
Thanks @Jag96 , I'll revert that part and test that everything is working fine then!

[2021-09-11 00:56] JmillsExpensify commented on #5082
@johnmlee101 Mind confirming?

[2021-09-11 02:23] Santhosh-Sellavel commented on #4905
Fair point!
1. But most people will use copy option right, be it mobile or web. We should provide copy option across all screen sizes.

2. Also triggering a mail option should be there  in desktop & web also.

cc: @Luke9389

[2021-09-11 03:19] mananjadhav commented on #5185
@kevinksullivan @chiragsalian Can you confirm what approach are we going to take ?

[2021-09-11 05:14] PrashantMangukiya commented on #5191
### Proposed Solution

We have to set password input field reference. Thereafter we can set focus to password input field if empty or invalid password.

Below code should be added/updated within src/pages/signin/PasswordForm.js

[code]

**Other Suggestion**  I can see twoFactorAuthCode related input field also there in this form. It will be used  if 2fa requited for the account. But In this issue

[2021-09-11 05:26] PrashantMangukiya commented on #5189
@isagoico  I think this issue will be taken care via https://github.com/Expensify/App/issues/4995 They are following this pattern for change password form https://github.com/Expensify/App/issues/4995#issuecomment-914647313  At present pr  https://github.com/Expensify/App/pull/5130  submitted for that. So once pr merged this issue will be resolved.

[2021-09-11 05:49] PrashantMangukiya commented on #5188
@isagoico I tested it  in v1.0.97-0  I can cancel it.  It seems cancel is working as expected in v1.0.97-0, If anyone tested in latest version then kindly share the result.

Below is my screen recording, kindly suggest if I am doing anything wrong to reproduce the issue.

https://user-images.githubusercontent.com/7823358/132937651-0dfaf830-2bb7-40ba-8454-7c5178006ec9.mov

[2021-09-11 17:26] kidroca commented on #4492
I've posted on slack about this ticket, but it didn't get any attention.
I'll try again next week

[2021-09-11 17:30] kidroca commented on #5191
I think we should find out why the field looses focus in the first place, and address that - it might be easier to keep focus from leaving the field instead of programatically triggering focus on different occasions

[2021-09-11 18:14] quinthar commented on #4492
Yes can you please bump that thread? Android performance is light years
beyond what it was before, which was entirely unusable. But it's still not
necessarily fast.

On Sat, Sep 11, 2021, 10:26 AM Peter Velkov ***@***.***>
wrote:

[2021-09-12 22:11] puneetlath opened #5215 "Expensify Card institution icon looks bland compared to others"
## Action Performed:
Break down in numbered steps
1. Go to Settings > Payments in an account that has an Expensify Card and is importing other cards
2. Look at the list of Payment methods

## Expected Result:
The Expensify "institution" icon should look on par with other institutions like Chase and Bank of America. Given that we aren't showing an icon of a card for other banks, but rather the icon

[2021-09-12 23:09] SofiedeVreese commented on #5184
Hey @PrashantMangukiya I checked with our engineers and this flow is not hidden, it's sitting on a beta active on dev.

They suggested trying with a fresh private domain account vs secondary login.

[2021-09-13 01:02] isagoico commented on #5203
Regression is finished!
No new issues found.

Comments added in PRs:
1. https://github.com/Expensify/App/pull/5141#issuecomment-917210191

Thanks!

[2021-09-13 01:56] Christinadobrzyn commented on #5008
Doubled price to $500

[2021-09-13 02:06] Christinadobrzyn commented on #4273
Amazing! Hired @kidroca for this. Thanks for grabbing this one Peter!

[2021-09-13 02:13] kadiealexander commented on #5127
Melvin update: PR is being worked on in #5018

[2021-09-13 02:24] Christinadobrzyn commented on #5106
Hired @kidroca for this related [GH](https://github.com/Expensify/App/issues/4273) - we'll see it the PR resolves this issue.

[2021-09-13 02:24] Christinadobrzyn commented on #4273
Another reported [issue](https://github.com/Expensify/App/issues/5106) that might be related to this - Going to track this other issue to see if it's resolved after this PR is complete.

[2021-09-13 02:25] Christinadobrzyn commented on #4264
Hi @mananjadhav do you have an update on this for the team?

[2021-09-13 02:54] PrashantMangukiya commented on #5184
@SofiedeVreese I got it, thanks for the updates.

[2021-09-13 03:08] mananjadhav commented on #4264
Still WIP. Should have by Wednesday.

[2021-09-13 04:44] jliexpensify commented on #4357
Bump for @parasharrajat :) Cheers!

[2021-09-13 04:56] jliexpensify commented on #3737
Hi @Julesssss! Just wanted to confirm what was happening with this one? Is it still on hold? Thanks!

[2021-09-13 05:25] parasharrajat commented on #4357
I think PR is already merged and I am sorry, I am no detailed explanation to that self explanatory statement. Rest code must be saying a better story than mine.

[2021-09-13 05:25] MariaHCD commented on #5018
The fix for this was deployed to production last week: https://github.com/Expensify/Web-Expensify/pull/31837#issuecomment-914482072

[2021-09-13 05:28] MariaHCD commented on #5127
The PR fix for this issue is currently on staging: https://github.com/Expensify/Web-Expensify/pull/31854#issuecomment-916294581

[2021-09-13 05:46] jliexpensify commented on #4357
Awesome, thanks - should be good to pay Santhosh in 4 more days @deetergp (I think).

[2021-09-13 06:55] MonilBhavsar commented on #5189
Closing this as it will be resolved by #5130
Thanks @PrashantMangukiya!

[2021-09-13 06:55] #5189 closed

[2021-09-13 07:00] MonilBhavsar commented on #4999
Closing it as it's deployed to prod

[2021-09-13 07:00] #4999 closed

[2021-09-13 08:10] parasharrajat commented on #4669
@dylanexpensify hmm. :wine_glass:

[2021-09-13 08:13] parasharrajat commented on #3387
Could be closed.

[2021-09-13 08:14] Beamanator commented on #5091
Quick update: Internal PR was merged, but the changes won't be visible in the production environment till probably tomorrow (Tuesday). Here's an overview of the changes:

- The `'First name shouldn\'t be longer than 50 characters'` error should now have a `jsonCode` of `400`
- The `'Last name shouldn\'t be longer than 50 characters'` error should now have a `jsonCode` of `401`

[2021-09-13 08:24] dylanexpensify commented on #4669
Hi @parasharrajat! Sorry for the delay! I was OOO - will work on this today! @roryabraham no further regressions, correct?

[2021-09-13 08:58] pROFESOR11 commented on #5008
@Christinadobrzyn Thanks for your reply. Well, I want to work the issue, but I am not sure what I am doing wrong, for some reason I can't reproduce the issue. I can't find `Chronos` in contacts. I tried to manually add `chronos@expensify.com` and wrote "Hey there!", but got no response. Should I write something specific to get an answer as in the issue description?

https://user-images.githubuserc

[2021-09-13 09:01] Julesssss commented on #3737
Hey Jason, the PR is merged and we're awaiting deployment.

[2021-09-13 09:07] jliexpensify commented on #3737
Awesome, should we remove the [ON HOLD] in the title?

[2021-09-13 09:25] mountiny commented on #5166
@meetmangukiya Could you please provide the proposal here as well? Without that, we cannot hire you. Thank you 🙇

[2021-09-13 09:47] mountiny commented on #5166
Thank you for your proposal @parasharrajat! We have promised first go for @meetmangukiya as this is coming from an issue they worked on. In the comment linked above, they have proposed slightly different approach then your proposal, so I will see what their written up proposal will look like and then choose the best!

Also @parasharrajat,  just to clarify, what we want to achieve here and you have

[2021-09-13 10:01] Julesssss commented on #3737
Yep done. The problem is fully solved by the backend PR, so no external help is required here.

[2021-09-13 10:11] jliexpensify commented on #3737
Sweet, chatted to Jules and we'll close this out as there's an internal issue!

[2021-09-13 10:11] #3737 closed

[2021-09-13 11:49] michaelhaxhiu commented on #4678
Update:
- @MirFahad58 had some personal commitments last week, and was able to update the PR for review https://github.com/Expensify/App/pull/4921#issuecomment-917553733
- Next up, we are waiting on Rory to review

[2021-09-13 12:05] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-13 12:34] dylanexpensify commented on #4897
Sounds good, thanks @roryabraham !

[2021-09-13 13:15] iwiznia commented on #4214
Oh wow, yes. I broke hits inadvertently when adding the logging and the fact that logs are not always sent immediately made the issue harder to pinpoint. Great investigation!

I agree with this, otherwise any other code in the future that does what the logging did will again break things.

[2021-09-13 13:23] PrashantMangukiya commented on #5183
Hi @stephanieelliott, Can you please create Upwork job for me as suggested in  https://github.com/Expensify/App/issues/5183#issuecomment-917092471  So I can submit proposal. I already submit pr https://github.com/Expensify/App/pull/5208 for this issue, it is in review at present.

[2021-09-13 13:28] michelle-thompson commented on #5215
Yeah, I agree that this would be a positive change!

[2021-09-13 13:39] #5205 closed

[2021-09-13 13:40] botify commented on #5205
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-13 14:00] NicMendonca commented on #5162
Upwork job: https://www.upwork.com/jobs/~01946439e5a02f9fd3

[2021-09-13 14:02] parasharrajat commented on #5008
This issue is seemed to be fixed now. Please re-test @isagoico .
![Screenshot_1631541715](https://user-images.githubusercontent.com/24370807/133097741-3b11804a-0b55-4571-821b-47b24a60f98a.png)

[2021-09-13 14:04] parasharrajat commented on #5162
I don't think this is going to be needed after  #4115 is fixed.

[2021-09-13 14:07] NicMendonca commented on #4656
Doubled the price. Job posting[ here. ](https://www.upwork.com/jobs/~012f54c9ad750b8b1a)

[2021-09-13 14:08] kidroca commented on #4492
I thought the idea was to test how much MMKV and JSI would improve things.
In terms of TTI there were no improvements, no noticeable improvement for chat switches as well.
So we started to look elsewhere
Since the benchmark here, there were some updates that improved the app as you've noticed, IMO the ticket can continue to explore another storage library or re-run the benchmarks to see if somethi

[2021-09-13 14:17] botify commented on #5047
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-13 14:48] Beamanator commented on #4981
Huh you're thinking if a webhook handler does something like comments on an issue, no webhook will be triggered since the source was a webhook handler? You may be right! I will test this out 👍

Really?? I've looked but can't find anywhere to make a PR a draft, can you see this option in this test branch? https://github.com/Expensify/App/compare/fake?expand=1

I am fine with this, but I think it sh

[2021-09-13 15:00] isagoico commented on #3297
Issue not reproducible during KI retests.

[2021-09-13 15:01] isagoico commented on #4861
Issue reproducible during KI retests.

[2021-09-13 15:01] isagoico commented on #4867
Issue reproducible during KI retests.

[2021-09-13 15:01] pecanoro commented on #5182
I have a question, the button does not only get disabled if a field is empty but also if the checkbox for the allowed industries is not checked off, should I leave the button disabled if it is not marked?

[2021-09-13 15:01] isagoico commented on #5069
Issue reproducible during KI retests.

[2021-09-13 15:02] isagoico commented on #5027
Issue reproducible during KI retests.

[2021-09-13 15:02] isagoico commented on #5011
Issue reproducible during KI retests.

[2021-09-13 15:02] isagoico commented on #4994
Issue reproducible during KI retests.

[2021-09-13 15:02] isagoico commented on #4993
Issue reproducible during KI retests.

[2021-09-13 15:02] isagoico commented on #4995
Issue reproducible during KI retests.

[2021-09-13 15:03] isagoico commented on #5102
Issue reproducible during KI retests.

@joelbettner I see you unassigned @michaelhaxhiu here not sure if that was intended.

[2021-09-13 15:03] isagoico commented on #5113
Issue reproducible during KI retests.

[2021-09-13 15:03] isagoico commented on #5188
Issue reproducible during KI retests.

[2021-09-13 15:03] isagoico commented on #5106
Issue not reproducible during KI retests.

[2021-09-13 15:05] isagoico commented on #2499
Issue reproducible during KI retests.

[2021-09-13 15:05] isagoico commented on #4855
Issue reproducible during KI retests.

[2021-09-13 15:05] isagoico commented on #4997
Issue reproducible during KI retests.

[2021-09-13 15:08] isagoico commented on #5159
Issue reproducible during KI retests.

[2021-09-13 15:08] isagoico commented on #5103
Issue reproducible during KI retests.

[2021-09-13 15:08] isagoico commented on #4754
Issue reproducible during KI retests.

[2021-09-13 15:26] parasharrajat commented on #4861
@isagoico Could you please a screenshot of the error?

[2021-09-13 15:33] michaelhaxhiu commented on #4623
Deployed to production on Sept 10. Payout due on Sept 17 if no more regressions.

[2021-09-13 15:37] quinthar commented on #4492
I like the idea of summarizing what outstanding ideas we haven't explored.
Also, what's the latest on the big core react native upgrade to (I think?)
deprecate the bridge and go to JSI for everything?

On Mon, Sep 13, 2021, 7:08 AM Peter Velkov ***@***.***> wrote:

[2021-09-13 15:38] kidroca commented on #5106
@isagoico
I've was able to recreate slightly differently
1. Fresh login
2. Select and mark a message near the top end
3. Scroll app soon after that

https://user-images.githubusercontent.com/12156624/133112688-9f4a59bf-ce44-4075-8db5-f7c1e9397ce1.mp4

It seems to resolves itself if you scroll down and then back up agan, or maybe if you just scroll up

[2021-09-13 15:42] mountiny commented on #5166
Just checking in @meetmangukiya before my EOD. Are you still interested in this issue?

[2021-09-13 16:00] meetmangukiya commented on #5166
Hey @mountiny sorry about the delay. I would try to send a proposal within next 24 hours. Thanks!

[2021-09-13 16:03] kidroca commented on #5106
Another thing I've noticed is we're counting `deleted` comments

1. Login with 2 accounts side by side
2. Tag a comment as unread and mark the count of unread comments (in my case 18)
3. Delete some comments from the sender's account (I delete 4 messages around the 0:18 mark)
4. Refresh the page
5. Mark the same comment as you did in step 2. Observe the count is still the same even though the mess

[2021-09-13 16:07] NikkiWines commented on #4905
Hmm, sorry @parasharrajat I missed your comment about it being designed intentionally this way. If it's intentional, then I don't think we really need to change it, though I do find it a bit weird that there's different behavior for the same item based on the screen size.

I'm content to either close this issue or to make the copy button consistent across both screen sizes. I personally don't thin

[2021-09-13 16:08] luacmartins commented on #5197
Proposal looks good! @marklouisdeshaun please hire @parasharrajat for this job. Thanks!

[2021-09-13 16:11] rushatgabhane commented on #5159
Probably related.

The continue button is **hidden** under the keyboard for email **login screen**.

But it works as intended for the **password screen.**
Device: Pixel 3

Login screen

![Screenshot_20210913-190605](https://user-images.githubusercontent.com/29673073/133118717-a87c4364-7dc1-4106-8c50-2a8a62f20051.png)

Password screen

![Screenshot_20210913-190638](https://user-images.githubusercon

[2021-09-13 16:25] trjExpensify commented on #4867
Bumped the job price on Upwork 👍

[2021-09-13 16:29] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-13 16:29] johnmlee101 commented on #5082
Updated the assignment!

[2021-09-13 16:31] parasharrajat commented on #4905
@NikkiWines Let's take @chiragsalian 's input here.

[2021-09-13 16:42] laurenreidexpensify commented on #5194
Adding to Upwork now.

[2021-09-13 16:51] johnmlee101 commented on #5194
@parasharrajat your proposal looks good!

[2021-09-13 16:52] marklouisdeshaun commented on #5197
Sent an invite to the job.

[2021-09-13 16:53] laurenreidexpensify commented on #5194
https://www.upwork.com/jobs/~013b1b10c80cb7c1b2 will hire @parasharrajat now

[2021-09-13 16:58] mananjadhav commented on #5069
@isagoico @kavimuru Can you tag @Engineering so that this can be assigned to somebody. It seems this isn't assigned to anybody.

[2021-09-13 17:01] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-13 17:01] botify commented on #5115
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-13 17:03] nickmurray47 commented on #5142
Going to assign the `External` label and unassign myself, seems like a good issue for a contributor

[2021-09-13 17:06] laurenreidexpensify commented on #5079
https://www.upwork.com/jobs/~01429fece1cef98f85

[2021-09-13 17:13] marklouisdeshaun commented on #5197
Hired!

[2021-09-13 17:33] dylanexpensify commented on #4669
@parasharrajat payment has been sent! Job closed out. Great work team!

[2021-09-13 17:33] #4669 closed

[2021-09-13 17:37] ammar-yasir commented on #5209
This is a real issue and should be fixed immediately for the sake of performance.

[2021-09-13 17:38] stephanieelliott commented on #5115
Hey @akshayasalvi can you please propose to the job post in Upwork so I can hire you for this: https://www.upwork.com/jobs/~013d0ec60b16212278

[2021-09-13 17:40] mallenexpensify commented on #4998
Apologies for the delay @Santhosh-Sellavel , paid in Upwork and included the bonus for reporting the issue in Slack.

[2021-09-13 17:40] #4998 closed

[2021-09-13 17:45] mallenexpensify commented on #4729
Apologies for the delay in payment @Santhosh-Sellavel , I just paid in Upwork now and added the bonus for reporting the issue.  In the very near future, if not now, there will be an updated comment about when to pay issues and the title will be updated, so this shouldn't continue to happen

[2021-09-13 17:45] #4729 closed

[2021-09-13 17:46] stephanieelliott commented on #5191
Posted to Upwork: https://www.upwork.com/jobs/~01d33acc9f122f85b8

@mountiny we've got a few proposals already, see above comments!

[2021-09-13 17:46] mananjadhav commented on #4888
@mountiny PR raised, testing in progress.

[2021-09-13 17:50] akshayasalvi commented on #5115
@stephanieelliott Done. Thanks for the help.

[2021-09-13 17:51] ManagementSystemDeveloper commented on #5191
Hello, it is Sasha from Upwork.
I could solve your problem.

[2021-09-13 17:53] akshayasalvi commented on #4737
@kadiealexander I've applied on Upwork too but haven't been assigned on Upwork yet

[2021-09-13 18:02] TomatoToaster commented on #5203
Just checked off 5141: https://github.com/Expensify/App/pull/5141#issuecomment-917210191

[2021-09-13 18:03] mananjadhav commented on #5191
**Proposal**
The recommended way of solving this would be to add`blurOnSubmit` to the field.

[code]

**Working Example:**

https://user-images.githubusercontent.com/3069065/133133999-286a91e1-e976-49d2-b715-f2bda967966c.mov

[2021-09-13 18:10] francoisl commented on #5203
:shipit:

[2021-09-13 18:10] #5203 closed

[2021-09-13 18:16] OSBotify opened #5224 "Deploy Checklist: New Expensify 2021-09-13"
**Release Version:** `1.0.98-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/5039
- [x] https://github.com/Expensify/App/pull/5167
- [x] https://github.com/Expensify/App/pull/5169
- [x] https://github.com/Expensify/App/pull/5190
- [x] https://github

[2021-09-13 18:30] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230707450) to production by @francoisl in version: 1.0.97-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 18:30] botify commented on #5026
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230707450) to production by @francoisl in version: 1.0.97-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 18:30] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230707450) to production by @francoisl in version: 1.0.97-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 18:30] botify commented on #5089
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230707450) to production by @francoisl in version: 1.0.97-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 18:30] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230707450) to production by @francoisl in version: 1.0.97-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 18:30] botify commented on #4896
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230707450) to production by @francoisl in version: 1.0.97-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 18:30] botify commented on #5035
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230707450) to production by @francoisl in version: 1.0.97-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 18:52] chiragsalian commented on #5193
Looking into this today

[2021-09-13 19:06] shawnborton commented on #4491
I think we're all set here design-wise, but let me know if you need anything.

[2021-09-13 19:09] chiragsalian commented on #5193
Okay for starters I just tested on regular images and they looked fine. Might be something just specific to the sample image as its very tall. I don't think this is daily since regular images appear just fine and this is quite an edge case with the sample image provided.
Either way, i'm testing the sample image next.

[2021-09-13 19:20] parasharrajat commented on #4997
Let me know what needs to be done here. I can send a PR.

[2021-09-13 19:26] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230722409) to staging by @marcaaron in version: 1.0.97-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 19:26] botify commented on #5115
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230722409) to staging by @marcaaron in version: 1.0.97-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 19:26] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230722409) to staging by @johnmlee101 in version: 1.0.97-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 19:26] botify commented on #5103
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230722409) to staging by @johnmlee101 in version: 1.0.97-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 19:26] botify commented on #5047
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230722409) to staging by @Beamanator in version: 1.0.97-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 19:26] botify commented on #5205
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230722409) to staging by @Beamanator in version: 1.0.97-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 19:26] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230722409) to staging by @Beamanator in version: 1.0.97-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 19:26] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230722409) to staging by @Jag96 in version: 1.0.97-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 19:26] botify commented on #4861
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230722409) to staging by @Jag96 in version: 1.0.97-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 19:26] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230722409) to staging by @stitesExpensify in version: 1.0.97-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 19:26] botify commented on #4902
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230722409) to staging by @stitesExpensify in version: 1.0.97-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 19:29] mananjadhav commented on #4264
@Julesssss Can you help with the release version of Android? Debug version works fine, but the release doesn't.

I am aware of the general key signing process and updating in `build.gradle` but I am not sure if Expensify follows something specific. I am unable to access the SO link mentioned in the push notification task.

[2021-09-13 19:31] luacmartins commented on #5072
Deployed to prod 5 days ago https://github.com/Expensify/Web-Expensify/pull/31851#issuecomment-915179025. Closing issue.

[2021-09-13 19:31] #5072 closed

[2021-09-13 19:37] luacmartins commented on #4892
Working on it later today!

[2021-09-13 19:39] jboniface commented on #4645
Looks like the 7 day hold just started

[2021-09-13 19:40] kevinksullivan commented on #5185
I am ok with using this PR to:
1. Add "Workspace"
2. Add the 3 dots

There was one other GH https://github.com/Expensify/Expensify/issues/176926 where we planned to have the 3 dots open a bottom tray that showed options to create another workspace or delete the existing workspace.

![image](https://user-images.githubusercontent.com/22508290/133145976-550da32b-8d04-4b10-bbaf-fc6e102120cf.png)

Shou

[2021-09-13 19:41] isagoico commented on #5224
Starting QA!

[2021-09-13 19:46] isagoico commented on #5069
@Gonals Hello! Not sure if this issue needed the external label before sending to the issue pool. Can you confirm if this issue needs another assignee?

[2021-09-13 19:47] parasharrajat commented on #5185
I think it can be added to this. This **Add "Workspace" to the Workspace menu on the left pane header on Desktop/Web** issue sounds like a minor side-change, generally speaking.

[2021-09-13 19:51] botify commented on #4543
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230770367) to staging by @marcaaron in version: 1.0.97-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 19:51] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230770367) to staging by @marcaaron in version: 1.0.97-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 19:52] chiragsalian commented on #5185
Yeah, i think it can be added here too. @kevinksullivan or @shawnborton, could you share how the options will look expanded for web as well, just so that we're all on the same page.

[2021-09-13 19:53] chiragsalian commented on #5185
Also should we have an option like "Rename Workspace" in the options? It's not very obvious from the mobile and web that clicking on the workspace name allows you to edit it.

[2021-09-13 19:56] parasharrajat commented on #5185
I would suggest `Edit Workspace`. That pencil icon on the avatar looks like that it is only for changing avatar and I don't this it's needed on this screen. it should be moved to the Edit workspace page.

[2021-09-13 19:57] shawnborton commented on #5185
I think we can discuss "Edit Workspace" or making the renaming part easier as a separate issue, though personally I think it's fine right now.

In terms of what the options look like when expanded, I think this screenshot should cover it. On desktop, the menu launches near the icon. On mobile, we bottom-dock:
![image](https://user-images.githubusercontent.com/2319350/133148176-df977cff-47d6-400d-9

[2021-09-13 20:04] puneetlath commented on #5184
Hm, I agree with @akshayasalvi that we should just validate the length/format and not worry about auto-formatting the input.

My suggestion would be to simply:
- Limit phone number field to 15, since that is the length that would cover international, not including dashes and parenthesis
- Validate phone number input for allowable characters
- Limit Tax ID to 9
- Limit SSN to 4

What do you think @

[2021-09-13 20:08] mananjadhav commented on #5185
Yeah, this works.

@chiragsalian I can create a new Component similar to `VideoChatButtonAndMenu`, except for the fact that our button lies outside the component. We'll also have to add ConfirmModal for the delete workspace button. Also, can you help me with the delete workspace API?

[2021-09-13 20:19] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230898044) to staging by @marcaaron in version: 1.0.97-3 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 20:19] botify commented on #4971
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1230898044) to staging by @marcaaron in version: 1.0.97-3 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-13 20:25] chiragsalian commented on #4905
Not sure if I agree with this statement for mobile. On mobile, if I click on a phone number or email I would expect it to trigger an email or call.

Unfortunately, a lot of our code uses `isSmallScreenSize` so reducing the browser width and expecting consistency when some code is specific for mobile obviously doesn't work too well atm on browser small screen. So for the moment, we'll not consider

[2021-09-13 20:28] parasharrajat commented on #5194
There have been recent changes to the Form design style guide. cc @Jag96. I would like to ask the same for this component.
1. Instead of disabling the button, should we enable the button and show the error on blur and submit if the field is required?

[2021-09-13 20:29] chiragsalian commented on #5185
Yup i can help you out with any of the API's, can you post your complete plan of action for me to review?

[2021-09-13 20:30] shawnborton commented on #4905
That sounds good to me!

[2021-09-13 20:32] parasharrajat commented on #4905
Now if you want to show the icon and clicking it to copy the email then a confirmation message should be shown as well `Email is copied` as mobile does not have Tooltip.

[2021-09-13 20:46] isagoico opened #5232 "Some user avatars disappeared from LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Not sure how to reproduce this issue, I have experienced it a few times but without solid reproducible steps.
1. Use the app and check the LHN for u

[2021-09-13 21:01] Luke9389 commented on #4905
I'm also in favor of adding the copy button to the right of the text.

That's unfortunate... Do you know why @parasharrajat? Seems like it'd be just as useful on mobile.
Maybe, for now, we can just show some text in that view as a result of the click? Does that make sense?
Just a hidden element that only shows when someone clicks the copy button. Little janky but definitely effective.

[2021-09-13 21:05] isagoico opened #5233 "Create account - Resend link button shows infinite loading"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. In sign in page, enter an email that does not have a Expensify account.
2. Click continue
3. Click on the resend link button

## Expected Result:

[2021-09-13 21:09] isagoico opened #5234 "Sing in - Update copy for magic link page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. In sign in page, enter an email that does not have a Expensify account.
2. Click continue

## Expected Result:
Message should be something like

[2021-09-13 21:10] parasharrajat commented on #4905
@Luke9389 Tooltip is not effective for touch gestures. So it is only useful for devices with cursor (Web)

[2021-09-13 21:24] kevinksullivan commented on #5182
I think we should always leave the button Active/Enabled, so that is a user is not aware of what they're missing, they can still move forward and rely on our error messaging to guide them @pecanoro

[2021-09-13 21:32] roryabraham commented on #5195
This doesn't feel like a daily to me.

[2021-09-13 21:36] Santhosh-Sellavel commented on #5021
cc: @mallenexpensify @puneetlath
Are we good here to review the proposal?

[2021-09-13 21:45] kidroca commented on #5191
IMO what @mananjadhav proposed looks good if it doesn't affect how ios and Android work, e.g. We should not have regressions like the onscreen keyboard staying open after submit.

I don't mind having someone else propose and implement a solution

[2021-09-13 22:14] kevinksullivan opened #5235 "Expensify Card tab is not selected in the Workspace menu after enabling the Expensify Card"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Created Workspace
2. Selected `Get Started` in Expensify Card tab, and set up verified bank account / enabled card
3. Returned to Workspace menu

[2021-09-13 22:15] equationalapplications commented on #5008
@Christinadobrzyn thank you. I too cannot find Chronos after starting a new chat and searching for Chronos.

[2021-09-13 22:35] SofiedeVreese commented on #5184
I like that @puneetlath it seems the simplest and cleanest way of tackling this issue.

[2021-09-13 22:48] roryabraham commented on #4981
Cool, I know that by default GitHub Workflows can't trigger other workflows, but I guess that's not the case for webhooks. Thanks for testing 👍

Yep, here's the draft PR 😉 https://github.com/Expensify/App/pull/5236.

Edit: it's closed now.

Agreed, good point 👍

[2021-09-13 22:50] kevinksullivan commented on #5088
Ok so I reproduced this with kevin@expense.business by purposely failing checks, and while I was able to get to the Company Info step the first time around, but it opened a new tab, which is not ideal.

Then the second time around, when I went back into the account, I was unable to get the Company Info step:

https://user-images.githubusercontent.com/22508290/133166924-280bb6cd-e371-4492-ab53-1127

[2021-09-13 22:51] #3387 closed

[2021-09-13 22:55] marcaaron commented on #5088
The opening to a new tab thing _should_ be fixed after the changes here https://github.com/Expensify/App/pull/5165/files

[2021-09-13 23:02] roryabraham commented on #5183
PR in review.

[2021-09-13 23:04] roryabraham commented on #4629
We've been working with @MTN718 in the PR against `Expensify/Clipboard` – hit a snag in that the current implementation won't work offline.

[2021-09-13 23:10] isagoico opened #5237 "[HOLD for payment 2021-12-06] Unread messages - Unread messages count includes deleted messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login with 2 accounts side by side
2. Tag a comment as unread and mark the count of unread comments
3. Delete some comments from the sender's ac

[2021-09-13 23:15] kevinksullivan commented on #5088
That change is [on prod](https://github.com/Expensify/App/pull/5165#issuecomment-917157694) though, right @marcaaron ?

[2021-09-13 23:15] kavimuru opened #5238 "Chat - Every time when log in with new account FAB menu opens up"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Enter any new email address which was not logged in before
## Expected Result:
 FAB menu opens only when you tap on the green button

[2021-09-13 23:21] isagoico opened #5239 "Give Chronos a special icon in New Expensify"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open a conversation with Chronos
2. Check the Avatar icon

## Expected Result:
Chronos should have a fabulous icon because he deserves it 💁‍♂️

!

[2021-09-13 23:22] kevinksullivan commented on #5183
Grabbing the admin side of this one since it's urgent and it's late on EST for steph.

@PrashantMangukiya I invited you to apply for the job - https://www.upwork.com/jobs/~01fe011945cf85a2ad

[2021-09-13 23:22] Santhosh-Sellavel commented on #5047
@Beamanator should we show the global create on first login on new Expensify users only right.

Uninstalled the app/ install the app in new device/platform global create is triggered on login for even for existing new dot users.

[2021-09-13 23:23] roryabraham commented on #5070
This would be pretty high-value for speeding up our NewDot deploys and lessening the burden on of the week's @Expensify/mobile-deployers to handle deploy blockers as they come up.

[2021-09-13 23:24] francoisl commented on #5238
I think it might be related to https://github.com/Expensify/App/pull/5214. The new NVP `isFirstTimeNewExpensifyUser` doesn't exist for current users, so we show the FAB even though they've already logged in before.

@mateomorris does that sound plausible, and can you think of an obvious solution off the top of your head? Trying to look into a fix, I'll update if I find something.

[2021-09-13 23:25] roryabraham commented on #5238
Looking at [this PR](https://github.com/Expensify/App/pull/5214), I believe this is expected behavior?

[2021-09-13 23:26] roryabraham commented on #5238
@kevinksullivan @MitchExpensify @Beamanator can any of you comment on whether this is now expected?

[2021-09-13 23:29] mateomorris commented on #5238
@francoisl yes, showing the FAB for existing users once is the intended behavior

[2021-09-13 23:29] francoisl commented on #5238
But it will also open for people who have already logged in in the past, since they don't have that NVP in their account yet.
The [issue](https://github.com/Expensify/App/issues/5047) says

so it sounds like we don't want to show the global create for existing users that had already logged in before.

[2021-09-13 23:29] kevinksullivan commented on #5238
Yeah, this is expected. We want users to engage with global create when first logging in, so we're automatically opening it during their first session on NewDot.

[2021-09-13 23:34] marcaaron commented on #5088
Yeah it's strange that it's not working. But I see why....

https://github.com/Expensify/Web-Secure/blob/9c9eb0efd6978829a1447a22b7e4eb25a15dbdce/lib/BankAccount/VerificationUtils.php#L209-L210

We are still using the expensify.cash link and need to update it to a new.expensify.com link

[2021-09-13 23:35] kevinksullivan commented on #5074
@marcochavezf are you able to pick this up and prioritize it?

[2021-09-13 23:38] marcochavezf commented on #5074
yeah, I will be working on this one today :)

[2021-09-13 23:40] roryabraham commented on #5238
Okay, I was confused about this:

So I did some independent testing:

1. Log in with an existing account which had not been auto-presented the Global Create upon login yet.
1. Global create shown ✅
1. Log out and log back in with the same account.
1. Global create not shown ✅

So I think this is all working as expected. Closing this out.

[2021-09-13 23:40] #5238 closed

[2021-09-13 23:49] kevinksullivan commented on #5185
I went ahead and updated the OP as well, so that we're clear that this GH should:

1. Add a Workspace header to web/desktop so that is consistent with mobile
2. Add a "3 dot button" to the Workspace menu, and allow a user to select from two options; New Workspace and Delete Workspace

[2021-09-13 23:50] mallenexpensify commented on #5021
@puneetlath from what I can tell, we should proceed with this, can you review please and let me know if you recommend hiring @Santhosh-Sellavel ?

[2021-09-13 23:51] mallenexpensify commented on #3981
Gonna kick this rock down the road...

[2021-09-13 23:58] isagoico opened #5240 "Login - FAB Menu opens after log in"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to New Expensify.
2. Log in

## Expected Result:
Menu FAB displayed only when you tap on the green button

## Actual Result:
FAB Menu op

[2021-09-13 23:59] OSBotify commented on #5240
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-14 00:08] kevinksullivan commented on #5047
@Santhosh-Sellavel we should show this for expensify users logging into NewDot for the first time. So if they have logged in to OldDot before, but not NewDot, we show global create. However, if they have logged in on NewDot on one platform (i.e. mobile app), we wouldn't show it when they log in for the first time on a different platform (i.e. first session on web).

[2021-09-14 00:09] isagoico opened #5241 "iOS / Android - Request money page breaks after using 14 digits"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue is failing PR https://github.com/Expensify/App/pull/5192 (CC @akshayasalvi @marcaaron @deetergp)

## Action Performed
1. Launch the app and log in with any account

[2021-09-14 00:09] OSBotify commented on #5241
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-14 00:21] isagoico opened #5242 "Split bill - Deselecting an attendee in confirmation screen not retained"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Click + > Split bill
3. Enter amount and click next
4. Select two attendees and click next
5. In confirmation screen

[2021-09-14 00:27] aldo-expensify commented on #4785
(remove overdue) We are still working on this!

[2021-09-14 00:35] marcochavezf commented on #5074
WIP: I found where the step counter needs to be placed in the code, I just need to fix/update the position and display the step numbers dynamically (I hope to wrap this up tomorrow morning).
<img width="386" alt="Screen Shot 2021-09-13 at 19 30 30" src="https://user-images.githubusercontent.com/6829422/133174456-eb01feb4-ff44-4331-9f26-75362e6e5696.png">

[2021-09-14 00:39] Luke9389 commented on #4905
Oh duh, that totally makes sense 🤦

[2021-09-14 00:42] Luke9389 commented on #5159
@parasharrajat Do you wanna pick this one up and fix it? If you want to spin up a PR feel free 👍

[2021-09-14 00:45] Luke9389 commented on #4541
@mananjadhav nope! You're good. After 7 days without regressions you'll get payed out 👍

[2021-09-14 00:45] PrashantMangukiya commented on #5183
@kevinksullivan Thank for the invitation, I accepted and applied for the job.

[2021-09-14 00:54] kadiealexander commented on #4737
Hired you in Upwork @akshayasalvi, sorry for the oversight there!

[2021-09-14 00:58] mallenexpensify commented on #5018
@akshayasalvi , I created an Upwork job to pay you for reporting both this issue and the `Attachments - .pages file is converted to PDF` issue (https://github.com/Expensify/Expensify/issues/176633# internal link)

Can you 'propose a solution' so I can hire and pay? https://www.upwork.com/jobs/~01cb18b60a1a3eb345
Please confirm here once you've done so

[2021-09-14 01:09] mallenexpensify commented on #4491
@Beamanator should I hire @aman-atg?

[2021-09-14 01:26] kevinksullivan commented on #5183
hired!

[2021-09-14 01:30] kevinksullivan commented on #5074
Looks good @marcochavezf . Just a heads up it is 1/5, not 1/6.

[2021-09-14 01:40] kevinksullivan commented on #5088
Got it. So should we close this issue and create a separate one for that?

[2021-09-14 01:42] kevinksullivan commented on #5047
I also found that, when logging in for the first from OldDot by way of creating a workspace, I landed on the Workspace menu with global create open simultaneously.

![image](https://user-images.githubusercontent.com/22508290/133180677-08456ea9-4437-4ddc-adfd-66e1f016293b.png)

Are we able to update the order so we recognize that a workspace actually exists in these scenarios?

[2021-09-14 01:47] PrashantMangukiya commented on #5183
@kevinksullivan Accepted the offer, thank you.

[2021-09-14 02:07] chiragsalian commented on #5193
Trying to figure out how this works. Either way i dont think its a daily since its a pretty edge case scenario. Demoting to weekly for now as i continue to investigate.

[2021-09-14 02:54] akshayasalvi commented on #5018
Thanks @mallenexpensify. I don’t have a solution for the issues and I am guessing it was picked internally as it was a backend issue.

[2021-09-14 03:19] mananjadhav commented on #5191
Well, it does, but if we don't want this behavior,  all we need to do is `TextInputFocusable/index.os.js` and `TextInputFocusable/index.android.js` we don't pass the prop.

**For example:**
[code]

[2021-09-14 03:21] mananjadhav commented on #5234
I had **proposed a solution** for this in Slack. Will need help with Spanish translation.

https://expensify.slack.com/archives/C01GTK53T8Q/p1631364912189600?thread_ts=1631363898.189100&cid=C01GTK53T8Q

[2021-09-14 03:48] akshayasalvi commented on #4737
Thanks a lot @kadiealexander. No worries :)

[2021-09-14 04:30] PrashantMangukiya commented on #5191
I tested with  blurOnSubmit={false} within Google chrome, Safari. It is not working as expected i.e. Focus not remain in text input after submit. Tested within Expensify version 1.0.97-0

Google chrome (v93.0.4577.82)

https://user-images.githubusercontent.com/7823358/133194730-e4bdb30d-d25a-42f6-b42a-6cc8ba8a7afb.mov

Google chrome (v93.0.4577.82) Incognito

https://user-images.githubusercontent.

[2021-09-14 06:44] Christinadobrzyn commented on #5008
Thanks for confirming @equationalapplications!

Based on what @parasharrajat mentioned above, we'll have @isagoico test this to see if it's fixed.

[2021-09-14 06:46] JmillsExpensify commented on #3922
Discussion as of three days ago in the linked PR.

[2021-09-14 07:15] dklymenk commented on #3737
I would appreciate it if you update this issue once the change is deployed to staging. I have two client side issues blocked by this and would like to resubmit my PR as soon as it as merged.

Thanks in advance.

[2021-09-14 09:04] Gonals commented on #5069
I think we can set this as external :)

[2021-09-14 09:07] meetmangukiya commented on #5166
### Proposal

Add a `shouldComponentUpdate` method to `SidebarLinks.js`' `SidebarLinks` class that will:
1. return `true` if active report changes, i.e. reorder can happen if report is switched.
2. return `true` if any report other than the current report's draft comment changes(added, removed, edited).
3. return `false` if report draft comments changeset only includes the active report, i.e. no f

[2021-09-14 09:22] NikkiWines commented on #5240
Looks like this is expected behavior based on this PR: https://github.com/Expensify/App/pull/5214

@isagoico does this happen after every login? Or only after the first time you log in with an email/phone number?

cc: @kevinksullivan and @Beamanator since you were involved in the issue for this: https://github.com/Expensify/App/issues/5047

[2021-09-14 09:25] parasharrajat commented on #5069
It cannot be done due to technical limitation as Manan pointed to the similar issue cc. @Gonals.

[2021-09-14 09:26] NikkiWines commented on #5224
Looks like https://github.com/Expensify/App/issues/5240 is just expected behavior. Waiting to hear back from the original issue creators just to be sure.

[2021-09-14 09:31] Julesssss commented on #2642
The solution to this same problem in ReactiveX is to tie async work to a lifecycle-aware data structure. Each Rx Observable (Promise equivalent) was registered and then automatically canceled when the app or page was closed. However, this seems a bit tricky with ReactNative:
- It looks like ES6 promises [aren't cancelable](https://stackoverflow.com/q/29478751/4160784) though, which is the first ob

[2021-09-14 09:34] Julesssss commented on #5034
Added some thoughts to the [linked issue](https://github.com/Expensify/App/issues/2642#issuecomment-918981145).

Maybe we should split the tasks up: 'Onyx should cancel pending tasks' and 'Promises resolving after logout should not trigger Onyx update'

[2021-09-14 09:45] parasharrajat commented on #5034
I would say that we should abort API calls when the user logs out. I suggested this earlier when switching between accounts is pausing the network queue.

Fetch supports AbortController and should be easier to attach to API handlers behind a parameter. Just trigger the controller when the user logs out. @Julesssss

[2021-09-14 09:45] Julesssss commented on #3737
@dklymenk I'm happy to report that it was deployed to staging last night

[2021-09-14 09:48] dklymenk commented on #3737
We are talking about staging.new.expensify.com, right?

I can still reproduce the issue.
![DeepinScreenshot_select-area_20210914124815](https://user-images.githubusercontent.com/64093836/133235644-4f5d9057-ed35-44ea-a0f3-341b1a4521a4.png)

Send an IOU and refresh the page.

[2021-09-14 09:52] Julesssss commented on #4264
Sure. There is a bit of [info here](https://github.com/Expensify/App/blob/main/PERFORMANCE.md#how-to-create-a-release-build-on-android). We're not doing anything special here though.

Can you share more info on the gradle error?

[2021-09-14 10:12] HorusGoul commented on #5113
@Expensify/engineering Could someone take a look at my proposed solution? 😄

[2021-09-14 10:15] Gonals commented on #5069
Gotcha! Closing, then.

[2021-09-14 10:15] #5069 closed

[2021-09-14 10:30] ManagementSystemDeveloper commented on #5191
Hello all,
I know it could be resolved by setting an initial state of password input
and resetting it once the password was wrong.

On Mon, Sep 13, 2021 at 9:30 PM PrashantKumar Mangukiya <
***@***.***> wrote:

[2021-09-14 10:39] Beamanator commented on #5240
Agreed, this is expected as long as it's a New Expensify account that hasn't had the FAB open previously 😅

Looks like dupe of https://github.com/Expensify/App/issues/5238, which was also closed b/c this is expected behavior :D

[2021-09-14 11:03] mountiny commented on #4888
@mananjadhav Thanks for the update! Let us know how it goes in the PR.

[2021-09-14 11:09] Beamanator commented on #5047
@Santhosh-Sellavel interesting find, I'll see if I can reproduce that!

@kevinksullivan good find a well, should the global create _not open automatically_ if the user has a workspace? A.k.a. if we fix showing the global create on that workspace screen (in your screenshot), then close the page, we shouldn't show the global create right?

[2021-09-14 11:17] dklymenk commented on #3737
Sorry, my bad. I forgot that dev, staging and prod front-ends all use the same prod API. :sweat_smile:

[2021-09-14 11:26] mountiny commented on #4998
@mallenexpensify In both of the issues, the problem is that the contributor linked the PR to issue using format such as `$ #4729` which is not what we ask for.

We have a new issue [here](https://github.com/Expensify/Expensify/issues/177289) to accommodate for this as well, but we are still enforcing the entire link urls to link the issues correctly.

[2021-09-14 11:52] pecanoro commented on #5182
Right now checkboxes don't have any type of errors that can show in terms of styling so we would have to bring the design team to decide how we want to display errors for checkboxes.

[2021-09-14 11:57] mountiny commented on #5191
Thank you for your proposals! It would nice to figure out why this is happening at first place (as @kidroca mentioned), so we can dig in a bit more since this is not really a blocker but it is rather nice-to-have.

@mananjadhav Could you please double check what @PrashantMangukiya raised about your proposal? Also additionally if you could add screen recording of iOS and Android implementation of y

[2021-09-14 12:17] MitchExpensify commented on #5068
Not overdue

[2021-09-14 12:18] MitchExpensify commented on #4771
I'll give this another week before closing if we don't replicate

[2021-09-14 12:34] parasharrajat commented on #4771
Thanks, I will spare time for this.

[2021-09-14 12:40] Beamanator commented on #5047
@Santhosh-Sellavel do you have specific steps to reproduce what you're seeing? I uninstalled / installed on Android & signed in with my main New Expensify account and didn't see the global create show up, as expected 🤷

@kevinksullivan I'm sure we can do this :D I will see if I can find a quick fix for that

[2021-09-14 12:44] Beamanator commented on #5240
Leaving open until we get the answer to Nikki's question (does this happen after every login? Or only after the first time you log in with an email/phone number?)

[2021-09-14 13:00] Beamanator commented on #4491
Yeah I think we're good, sorry for the delay - let's go with Aman's suggestion: `Your workspace was successfully saved`

@mallenexpensify please hire @aman-atg for this job :D And @aman-atg please submit a PR when you have the chance!

[2021-09-14 13:31] dylanexpensify commented on #5234
On this now!

[2021-09-14 13:32] kavimuru opened #5245 "Previously logged out user is displayed for a moment in second tab"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #5190
## Action Performed:
1. Sign in to New Expensify in one tab (A), open a second tab (B) with New Expensify (you should be signed in au

[2021-09-14 13:34] dylanexpensify commented on #5234
Job posted! 🎉

Internal: https://www.upwork.com/ab/applicants/1437771593050058752/job-details
External: https://www.upwork.com/jobs/~01531041eaf457ae01

[2021-09-14 13:36] dylanexpensify commented on #5142
Working on this now!

[2021-09-14 13:38] dylanexpensify commented on #5142
Job has been posted! 🎉

Internal: https://www.upwork.com/ab/applicants/1437772705400451072/job-details
External: https://www.upwork.com/jobs/~01ba05e404d040122d

[2021-09-14 13:45] johnmlee101 commented on #5134
Looks good @Santhosh-Sellavel !

[2021-09-14 13:46] Santhosh-Sellavel commented on #5047
@Beamanator it showed me only once, I see from the PR it's the expected outcome for all users to show once after the update.

[2021-09-14 13:55] michaelhaxhiu commented on #5102
Same question as Isa, I'll await your response @Joel Bettner
***@***.***> ! I'm glad to help move this along if it's ok
to proceed, just let me know and re-assign me :)

On Mon, Sep 13, 2021 at 3:00 PM MelvinBot ***@***.***> wrote:

--
Michael Haxhiu

[2021-09-14 14:00] Beamanator commented on #5047
Yep, cool thanks for confirming it's working as expected 🙏

[2021-09-14 14:02] Santhosh-Sellavel commented on #4998
cc: @mountiny @mallenexpensify

Sorry for the confusion here. I see when linking issue with the PR either of this `$ https://github.com/Expensify/App/issues/4723` or `#4723` formats, end result after submitting PR it is is displayed as `#4723` only & PR is linked with the issue. So I used mostly the format `#4723`, I will follow other format here after. Thanks

[2021-09-14 14:03] Santhosh-Sellavel commented on #5134
@johnmlee101 Just the check or add new Boolean variable also? What do you prefer?

[2021-09-14 14:07] mountiny commented on #4998
Oops, sorry, my previous message was supposed to be in the other issue, haha.

@Santhosh-Sellavel Thank you very much for that. It helps us to keep track of when to pay you. Just use this format:

`$ https://github.com/Expensify/App/issues/4723`

That is how it should look like when editing. It does not really matter, how it will look like once posted.

[2021-09-14 14:15] PrashantMangukiya commented on #4675
Hi @isagoico, This issue deployed to production and passed 7 days period. So I will request to release payment on Upwork for this issue. I already submitted milestone on Upwork. I dont know to whom contact for this so writing message here. Thanks.

[2021-09-14 14:45] isagoico commented on #5240
It happens after every log in for me (for new or old accounts)

[2021-09-14 14:46] johnmlee101 commented on #5134
Check should be good enough for now!

[2021-09-14 14:51] Beamanator commented on #5240
Does the menu open after EVERY login of new and old accounts or only the
first login of those accounts?

It's expected to open only the first time, but for new and old accounts

On Tue, Sep 14, 2021, 4:45 PM Isabella Goicoechea ***@***.***>
wrote:

[2021-09-14 14:56] meetmangukiya commented on #5027
This is caused by the routing we have. We are by default because of our linkingConfig(I think) always routed to the last active report. So when the user first logs in, and when onyx is all synced up and all, the link is rewritten to `/r/:reportId` and when we refresh, it automatically lands into the reports view because that'd be the intended behavior in case of that link being used.

Problem here

[2021-09-14 15:07] isagoico commented on #5240
mmm Looks like the first log in only for old and new accounts. I just tried again with the same account and the FAB menu was not shown.

[2021-09-14 15:10] isagoico commented on #5240
Omg yes, I'm not sure why I missed that issue before 🤔 🤔 This was my mistake. I think we're good to close this one.

[2021-09-14 15:15] mallenexpensify commented on #5018
@akshayasalvi , you reported both the issues and they got fixed internally so we're compensating you for the reporting parts. I just sent you an offer, once you accept I'll pay. Thanks

[2021-09-14 15:26] bfitzexpensify commented on #5233
Upwork[ job post](https://www.upwork.com/jobs/~01806b744f1ef1daa6)

[2021-09-14 15:45] iwiznia commented on #5113
Not sure I get what you are proposing, where would that code be?
I think the main problem is that we are saving the copy in the personal details instead of saving a value that represents it. Like if tomorrow we decided to change the copy in english for that option, it would also break for all existing users. So, can we make each option have a value that does not change with the copy nor with the l

[2021-09-14 15:47] akshayasalvi commented on #5018
@mallenexpensify I’ve accepted the offer.  Thanks.

Also I’d like to highlight that I was hired for the other job too with 250$. Will you do the needful and close it please?

[2021-09-14 15:48] Beamanator commented on #5240
Woohoo!! Thanks for testing again and confirming we're good to go!! 🙏 🎖️

[2021-09-14 15:48] #5240 closed

[2021-09-14 15:57] shawnborton commented on #5182
Hmm maybe just some small red error text below the checkbox + label? I think we are using native checkboxes so we can't get too wild there, but if we had a custom checkbox component, we could outline the checkbox in red too.

[2021-09-14 16:00] mountiny commented on #5166
@meetmangukiya Thanks for taking your time to write up the proposal! I see it is quite complex solution compared to the one @parasharrajat provided. I am afraid I would say Rajat's proposal is cleaner and does not introduce so much new code for this update, therefore I would prefer their proposal. At the same time, feel free to come up with different proposal, which you would feel like would be ev

[2021-09-14 16:00] isagoico commented on #5224
Regression is finished!
Issues found:
1. https://github.com/Expensify/App/issues/5241
2. https://github.com/Expensify/App/issues/5238

[2021-09-14 16:08] Beamanator commented on #4211
Bump @parasharrajat :D

[2021-09-14 16:12] isagoico opened #5247 "Skin tone selector does not have the same dimensions as the emoji list"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Open emoji picker
3. Click on the skin color selector

## Expected Result:
Skin selector emojis should have the sam

[2021-09-14 16:13] pecanoro commented on #5182
I tried to add an error text below in this PR (https://github.com/Expensify/App/pull/5219/files) but I was messing up the whole style, any ideas on which style classes should I be using?

[2021-09-14 16:18] parasharrajat commented on #5247
It should be marked as a deploy blocker as the new skin tone selector has issues.
The second part where some emojis have different dimensions is a side-effect and should be marked as regression.
Platform
1. Web - (Firefox > 81)

[2021-09-14 16:21] isagoico opened #5249 "Emoji Picker - Unable to use arrow navigation on skin selector"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation.
2. Open emoji picker
3. Try to reach the skin selector only via arrow navigation.

## Expected Result:
User is able t

[2021-09-14 16:21] tgolen commented on #4690
Sorry for the mixup here and the delay. The proposal looks fine and I am giving the 🟢 to hire @Santhosh-Sellavel for this.

[2021-09-14 16:24] jboniface commented on #4690
@Santhosh-Sellavel having trouble finding your profile on UW, can you apply to the job then post back here to let me know, so I can hire you?

[2021-09-14 16:30] isagoico commented on #5247
This issue is already in production so I don't think it should be marked as deploy blocker. It was added here https://github.com/Expensify/App/pull/4456

[2021-09-14 16:34] puneetlath commented on #5215
Cool, I'll do that then.

[2021-09-14 16:34] marcaaron commented on #5034
Do we have a solid reproduction for this?

[2021-09-14 16:35] isagoico opened #5250 "Double right clicking on comments hides the action menu"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open any chat.
2. Right click on any message. When Context Menu is open, no mini menu is shown.
3. Now move to empty area on the same message, r

[2021-09-14 16:42] thienlnam commented on #5234
@mananjadhav Could you please copy/paste the proposal into this Github issue?

[2021-09-14 16:47] marcaaron commented on #5034
Another option could be to detect that we are not "authenticated" when handling those API requests and stop allowing that data to be "merged" by Onyx. Not sure if this is much better than the AbortController solution. But also not 100% sure whether this is even our problem. Let's get a repro.

[2021-09-14 17:00] shawnborton commented on #5182
Can you share a screenshot please? Thanks!

[2021-09-14 17:03] Santhosh-Sellavel commented on #4690
@jboniface Applied for the job!

[2021-09-14 17:10] #5071 closed

[2021-09-14 17:19] parasharrajat commented on #5250
I am putting a fix for this into one of my assigned issues as I found it while reproducing that issue.
https://github.com/Expensify/App/issues/5197

### Explanation and fix
1. https://github.com/Expensify/App/blob/e012bc8247c6e3739c9749869c1802bf643cfb8e/src/pages/home/report/ContextMenu/PopoverReportActionContextMenu.js#L118-L139.

In the above code, `OnPopoverHide` callback is used to determine

[2021-09-14 17:24] #5215 closed

[2021-09-14 17:27] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-14 17:27] botify commented on #5215
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-14 17:41] roryabraham commented on #5027
Hmmm I think you're close to understanding everything here, but just to clarify the flow:

1. Because we're logged in and have an auth token, we're taken to [`AuthScreens.js`](https://github.com/Expensify/App/blob/50266cb5e4259a8d5cde3ab9706766ba6133b18f/src/libs/Navigation/AppNavigator/AuthScreens.js).
1. From there, the homepage is the [`MainDrawerNavigator`](https://github.com/Expensify/App/blo

[2021-09-14 17:44] parasharrajat commented on #4211
Ok. I am not yet sure what are we trying to fix in the R-navigation repo. @Beamanator. The issue I linked was only trying to disable the functionality to control the open-closed state of the drawer behind a flag.

So before we move, a few questions:
1. What is the problem, we are trying to fix on R-navigation repo?
2. Do we need to reopen the linked issue? If So, it only disables the back hardware

[2021-09-14 17:51] roryabraham commented on #4675
Hi @PrashantMangukiya, sorry for the inconvenience! @dylanexpensify is the manager of this issue. In the future, if you have issues with payment, sending an email to contributors@expensify.com is a good way to get it quickly resolved. 🙂

[2021-09-14 18:09] parasharrajat commented on #5247
Thanks for pointing out the PR causing the Regression @isagoico. #4456. @mananjadhav Could you please take a look and confirm?

[2021-09-14 18:11] francoisl commented on #5241
I feel like the simplest fix would be to cap the size of the amount you can enter to 10 digits? I think that's the max we allow in the backend anyway.
@akshayasalvi would you be able to submit a follow-up PR to limit the number of digits to 10 in this input please?

[2021-09-14 18:12] tgolen commented on #5249
I'm going to close this issue as low value for now.

[2021-09-14 18:12] #5249 closed

[2021-09-14 18:14] francoisl commented on #5241
Oh haha I just realized the original PR was to cap the amount to 14 digits. I checked that our backend only allows for 10 digits, so 14 wouldn't have worked anyway.

[2021-09-14 18:24] mananjadhav commented on #5247
Thanks for posting this. Yeah, it's a part of PR #4456. It didn't come across in the review and the testing that we'll need them to be of the same size.

I'll check and fix this.

[2021-09-14 18:29] akshayasalvi commented on #5241
@francoisl Ohh this never came up in any previous discussions XD. Sure I'll add a cap of 10 digits.

[2021-09-14 18:46] parasharrajat commented on #5166
Sorry @mountiny For here and there but there is an issue with my proposal ATM. For this issue, a proposal should work for these points.

1. When you are writing a draft, no replacement should happen in the sidebar. :heavy_check_mark:
2. When switch the chat, replacement should happen and draft chats should be prioritized. :heavy_check_mark:
3. When you click back on the same report with a draft (w

[2021-09-14 19:01] marcaaron commented on #5088
Sorry, I'm not sure - but the solution is there waiting for someone to do it so maybe that would be a good way to move this along.

[2021-09-14 19:04] parasharrajat commented on #4771
@MitchExpensify Steps:
1. Open App on Web.
2. Click the new chat from Green :plus button. Enter an email id that does not exist in Expensify yet. For example, it could be any email `xxx@mailinator.com`.
3. Timezone is shown in PDT timezone which is incorrect. I tried a personal Gmail account as well and the time was shown in PDT. it gives me the wrong impression. So it's better if we don't show th

[2021-09-14 19:08] botify commented on #4723
@pROFESOR11, Great job getting your first Expensify/App pull request over the finish line! :tada:

I know there's a lot of information in our [contributing guidelines](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md), so here are some points to take note of :memo::

1. Now that your first PR has been merged, you can be hired for another issue. Once you've completed a few issues, you may

[2021-09-14 19:08] botify commented on #4897
@pROFESOR11, Great job getting your first Expensify/App pull request over the finish line! :tada:

I know there's a lot of information in our [contributing guidelines](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md), so here are some points to take note of :memo::

1. Now that your first PR has been merged, you can be hired for another issue. Once you've completed a few issues, you may

[2021-09-14 19:08] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-14 19:08] botify commented on #4897
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-14 19:30] aldo-expensify commented on #5245
It looks like the logout account synchronization across tabs is not working in Safari. In Chrome it looks fine.

### Safari - other tab doesn't log out

https://user-images.githubusercontent.com/87341702/133321433-c84cced5-0940-4548-9775-0b5d59ec836c.mov

### Chrome

https://user-images.githubusercontent.com/87341702/133321450-79893acb-6336-4c47-aff2-d462fc2707b6.mov

[2021-09-14 19:34] parasharrajat commented on #5245
Good find @aldo-expensify. I will take a look.

[2021-09-14 19:51] kevinksullivan commented on #4785
@aldo-expensify would you mind outlining what remains of this GH so we're on the same page when it comes to testing (i.e. which errors are not currently handled via outlines, as well as the PRs that are fixing them)?

[2021-09-14 19:53] mountiny commented on #5166
@parasharrajat Thank you for clarifying this! I appreciate that.

@meetmangukiya In that case, seems like there won't be many easy solutions for this. I will wait one more day to see if anyone (or feel free to think about this too) comes up with something more clearer. Otherwise it will be yours!

[2021-09-14 20:08] mananjadhav commented on #5191
@mountiny It seems @PrashantMangukiya's findings are correct `blurOnSubmit` doesn't seem to work well.

**Here's my updated Proposal:**
In `PasswordForm`, we import:

[code]

and then in `validateAndSubmitForm` we just focus the field again with the following block:
[code]

and finally, add a reference to the field.
[code]

[2021-09-14 20:10] marcochavezf commented on #5074
@kevinksullivan I'm adding the step counter after the user clicks on "Log into your bank" or "Connect manually", is that fine or should we display "Step 1 of 5" in the first "Add bank account" view?
<img width="750" alt="Screen Shot 2021-09-14 at 15 03 55" src="https://user-images.githubusercontent.com/6829422/133326318-1284c500-23e6-4c2d-bc38-dd4ab20311c7.png">
<img width="750" alt="Screen Shot 2

[2021-09-14 20:21] mananjadhav commented on #4264
Okay, I'll try this info and get back. This looks similar to what I had on Google. What I wasn't sure was if I could replace the values in `build.gradle` with hardcoded values.

[2021-09-14 20:32] marcaaron commented on #2642
Good thoughts... I just want to nudge this conversation towards figuring out what the problem is before looking too deeply into a solution like cancellable promises. Can we start by coming up with a reliable repro based on the network theory? It sounds like this could also be a Pusher issue based on [these comments](https://expensify.slack.com/archives/C020EPP9B9A/p1631639624123400?thread_ts=16315

[2021-09-14 20:36] marcaaron commented on #2642
Or maybe I've actually reproduced it with the description 😄

Feels like instead of a cancellable promise we could:

- prevent merging data when we are not authenticated
- clear out report data before signing in so there's a clean slate

[2021-09-14 20:41] michaelhaxhiu commented on #4541
yep, the payout will be on September 17 (Friday) if all is well!

[2021-09-14 20:41] mallenexpensify commented on #4775
@MitchExpensify assigned you as CM cuz you assigned yourself earlier via the `External` label. Update if needed

[2021-09-14 20:45] mallenexpensify commented on #5018
Paid for both jobs, this one and https://github.com/Expensify/Expensify/issues/176633 via the Upwork post. Closing now.

[2021-09-14 20:45] #5018 closed

[2021-09-14 20:48] kidroca commented on #2642
I think this part sorts itself out - I guess we can verify this with a test - if you call `AsyncStorage.setItem('someKey', someValue)` and then immediately call `AsyncStorage.clear` the end result is nothing is written to storage, even though `setItem` is still running when you call `clear`. E.g. as long as `clear` is the last call we're fine

What I mean by "Onyx already started a write" is logic

[2021-09-14 20:53] thienlnam commented on #5234
@mananjadhav Thanks! Your proposal looks good. 🟢 Please apply to the upwork job and I'll work on getting you the spanish translations

[2021-09-14 20:56] mountiny commented on #5191
@mananjadhav Thank you for updating the proposal. I would say I prefer this approach a bit more than @PrashantMangukiya's proposal. It is a bit more clearer and straightforward without a compromise (as far as what we can see now).

I realize the 2FA field has not been mentioned in the original issue report, however, I would say it makes sense to make these changes together as it will be basically

[2021-09-14 20:58] kidroca commented on #2642
I think we are, or we'll be collecting some anonymous data in storage so we won't be able to prevent merging.
For example you first input your email then submit, and then you input the password on the next screen. If you refresh - you don't start over, you're on the password page

Point 2) is even simpler than what I've suggested, but I prefer to wipe as much as possible, because the full storage

[2021-09-14 21:08] kevinksullivan commented on #5182
@pecanoro perhaps we split the error handling out into its own issue as well, and then move forward with the change separately? If you agree I would be happy to create a separate GH.

[2021-09-14 21:19] PrashantMangukiya commented on #5191
What I understood is that if password is wrong then we need to focus password input field so I suggested my solution that way.

But if we focus password input during validateAndSubmitForm() then It will always focus password field at form submit irrespective of password right or wrong result received after api call. I am sharing my thoughts on this.

[2021-09-14 21:24] parasharrajat commented on #5068
### Analysis
1. On clicking goBack, we do `Onyx.clear` via `redirectToSignIn` and then in the next tick Set the language back which creates a delay.

### Fix

2. I don't know why are we doing `Onyx.clear` here.  We don't need to call `redirectToSignIn` If you read the code of this function, it was completely meant for Sign out.
If only remove the necessary keys then it works great. I found these k

[2021-09-14 21:25] parasharrajat commented on #5068
@MitchExpensify  I think you forgot the Exported label.

[2021-09-14 21:33] roryabraham commented on #2985
Just a quick update – I have been making some good progress in my [draft PR](https://github.com/Expensify/App/pull/4894/files). I have been seeing several of the same issues that @kidroca encountered in his POC, so I am breaking off in a fork of react-native-bidirectional-infinite-scroll and am going to attempt to see if I can fix some issues at the native level.

[2021-09-14 21:36] PrashantMangukiya commented on #5242
### Proposed Solution

**Here is the problem:** whenever participants deselected from IOUConfirmPage we are not  sending back information to IOUModal component, So participants state variable within IOUModal does not know if participants deselected from IOUConfirmPage via IOUConfirmationList.js component.

**Here is solution:** We have to pass onAddParticipants props to IOUConfirmPage component an

[2021-09-14 21:36] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-14 21:36] botify commented on #4816
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-14 21:48] stitesExpensify commented on #4559
Hello! Sorry for the delay here.

@mananjadhav we definitely would prefer to do it that way. Would you like to write another more comprehensive proposal for me to look at before we make our decision? Asking because you have been working on emojis a lot recently

[2021-09-14 21:49] kevinksullivan commented on #5074
@marcochavezf I think we should keep the step counter in the first step as well, so that it shows 1/5 in both o the screenshots above.

[2021-09-14 21:52] ctkochan22 commented on #5088
Going to update the link and try again

[2021-09-14 21:54] marcochavezf commented on #5074
Cool, this is how it looks in the first "Add bank account" view:
<img width="750" alt="Screen Shot 2021-09-14 at 16 52 38" src="https://user-images.githubusercontent.com/6829422/133338979-4e334109-64d5-4548-bc61-3648b373b4a7.png">

[2021-09-14 21:57] mountiny commented on #5191
@PrashantMangukiya Thank you for bringing that up. I have overlooked this. I have revisited your both proposals and that point (of then to call focus in `validateAndSubmitForm`) is the main place they differ. Would you be interested to update your proposal to take care of 2FA field as well since that should be fairly similar. Thank you very much! 🙇

In the meantime, @mananjadhav if you can think o

[2021-09-14 21:58] kidroca commented on #5191
@PrashantMangukiya @mananjadhav
The `blurOnSubmit={false}` is proved incorrectly - you're using the mouse to click outside the field - it's expected it'll lose focus. Clicking transfers focus to whatever you click on

`blurOnSubmit` is specifically for pressing **Enter** key (or Return) on the Keyboard

The solution where you always focus the field during `validateAndSubmitForm` could work, but th

[2021-09-14 22:01] botify commented on #4906
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-14 22:11] marcaaron commented on #2642
My only question with this is that we don't know which keys we want to wipe on sign in. Full storage is cleared after a log out is mostly correct but not entirely true...

https://github.com/Expensify/App/blob/651c9481ae488146eff937e12a284d410f63bbca/src/libs/actions/SignInRedirect.js#L39-L59

We could allow clearing specific keys (or collections) maybe and do it here...

[code]

I do agree it see

[2021-09-14 22:13] botify commented on #4785
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-14 22:22] aldo-expensify commented on #4785
hey @kevinksullivan , this is what I know:

### Iteration 1: Show all inline errors together

How things are expected to work:
- Show all front-end validations inline errors at the same time
- "Save & continue" button is disabled if there is any empty field or mandatory checkbox unselected
- Errors from the backend don't highlight fields (most of the time)

Which steps in the VBA flow are working

[2021-09-14 22:26] parasharrajat commented on #5194
@Jag96 Any input? Thanks for looking into the request.

[2021-09-14 22:29] Jag96 commented on #5194
@parasharrajat let's ensure the button is always enabled and that the error message shows up on submit if the field is required. We can leave out the onBlur for now, per [this message](https://expensify.slack.com/archives/C01GTK53T8Q/p1631304509179900?thread_ts=1631218542.139500&cid=C01GTK53T8Q).

[2021-09-14 22:30] parasharrajat commented on #5194
On it.

[2021-09-14 22:34] marcaaron commented on #5242
@PrashantMangukiya please wait for the help wanted label to be applied before submitting a proposal.

[2021-09-14 22:37] marcaaron commented on #5242
Unsure if this is a very high priority issue or how this feature is even supposed to work. Why are we able to deselect an attendee on the confirmation screen? Isn't that what the first screen is for?

[2021-09-14 22:37] marcaaron commented on #5242
cc @Julesssss in case you have the answer

[2021-09-14 22:40] PrashantMangukiya commented on #5242
@marcaaron  got it, now onwards I will submit proposal after help wanted label applied. thanks.

[2021-09-14 22:40] luacmartins commented on #4892
@kevinksullivan should we display `Finish setup` if a user starts entering data in a field but then deletes that data (assuming that's the only field the user has interacted with so far)?

[2021-09-14 22:49] PrashantMangukiya commented on #5191
@mountiny I updated my proposal that includes 2fa.

[2021-09-14 22:57] marcaaron commented on #4785
I think we should maybe split this work up at this point? Now that we have a good system in place... I suggested this [here](https://expensify.slack.com/archives/C020EPP9B9A/p1631659556160000?thread_ts=1631610569.085800&cid=C020EPP9B9A).

We still have inconsistent handling of errors for the following views:

- Requestor step
- ACHContract step
- Validation step

Probably if a different person tac

[2021-09-14 22:58] mountiny commented on #5191
Thank @kidroca for the write up!

@PrashantMangukiya Thank you very much for updating the proposal. As there are valid concerns if this change will not introduced some unexpected behaviour on iOS/Android.

Could you please check how you solution handles on native iOS and Android:
- log in successfully
- using wrong password
- using correct password and wrong 2FA
- using wrong password and correct

[2021-09-14 22:58] ctkochan22 commented on #5088
I think we should get the new link pushed and see if it changes. I wonder if the new tab is messing with opening up the bank-account flow with the info in it.

[2021-09-14 23:06] PrashantMangukiya commented on #5191
@mountiny, thanks for the message.

Sure I will test for a given use case for iOS and Android and share screen recording. I hope it work as expected in iOS Android also. As this issue mentioned for web and desktop so not tested that way. At present it was late night so I will test and submit during my day time. Thank you.

[2021-09-14 23:08] mountiny commented on #5191
@PrashantMangukiya Thank you very much. That is absolutely understandable.

The issue mentions Web and Desktop, but we need to make sure we do not introduce some other problems in native iOS/Android while fixing Web.

[2021-09-14 23:15] SofiedeVreese commented on #5184
@akshayasalvi do you agree with Puneet's feedback above?

@puneetlath if so, would you like to proceed with @akshayasalvi ?

[2021-09-14 23:28] kidroca commented on #5191
@mountiny
Handling each error individually and focusing is fragile logic, especially since error messages are localised and the error text can change
Why treat each error individually? Each new error case would mean another `if (that error) focus()`

The `blurOnSubmit={false}` is valid and works

The only problem with it is the on-screen keyboard would remain expanded, which is probably fine, but

[2021-09-14 23:40] aldo-expensify commented on #5081
I just noticed that this change added the following behaviour:

Navigate to `/bank-account/requestor`, you will get redirected (router redirection) to `/bank-account/personal-information`

If you enter directly to `/bank-account/personal-information` or just reload the page after getting redirected, it will take you to the wrong step. I think this is happening because the PR missed to update the r

[2021-09-14 23:41] Jag96 commented on #2499
Haven't gotten to this, not a priority atm

[2021-09-14 23:56] mallenexpensify commented on #4491
Job posted - https://www.upwork.com/jobs/~01127dbb90e28a1001
@aman-atg please submit a proposal there and confirm here in a comment when you have, thanks.

[2021-09-15 00:06] mountiny commented on #5191
@kidroca Sorry for not following your previous message correctly. This was my mistake.

I agree this is not the most ideal solution and the problem you mentioned can occur, although in this case I would not expect other error cases to be added.

I have misread/misunderstood your previous message and thought the `blurOnSubmit` would not be ideal. Apologies for that. However, I am not sure if I tota

[2021-09-15 00:08] parasharrajat commented on #5235
@laurenreidexpensify was removed accidentally.

### Proposal
1. it happens has when we navigate back to the Workspace Route, WorkspaceSidebar is not rerendered and isActive is not triggered.
2. We can use the useFoucsEffect hook from R-navigation which will trigger when the screen comes into focus. But why render the whole Component if we only want to re-run the isActive part.

3. So it clicks a p

[2021-09-15 00:08] kidroca commented on #5191
### Existing behaviour iOS

https://user-images.githubusercontent.com/12156624/133348672-8f5ea444-5b9c-4bbc-9ed4-8545d4333f43.mov

- The keyboard would always collapse when you press the "return" button. Even when there are errors
- The keyboard would never collapse when you press the "Sign In" button.

### Behaviour when `blurOnSubmit={false}` is added

https://user-images.githubusercontent.com/1

[2021-09-15 00:12] kidroca commented on #5191
@mountiny

We only care for the keyboard handling and the typing experience

If the user is pointing and clicking on the "Sign In" button they already have one of their hands alway from the keyboard

[2021-09-15 00:24] mountiny commented on #5191
@kidroca

I agree that this is the _more_ important part of the issue as you noted, user still has their hands on the keyboard.

Let's then go with that one for simplicity. It is true the issue does not state explicitly we are treating the case of clicking the `Sign up` button too so we can probably omit it for now and treat it in future if issue s created.

@mananjadhav As the one who had propose

[2021-09-15 00:28] jasperhuangg commented on #5250
@parasharrajat I like that solution! Feel free to request me to review your PR 👍

[2021-09-15 00:33] kevinksullivan commented on #5182
@pecanoro per [this conversation](https://expensify.slack.com/archives/C020EPP9B9A/p1631663530166100?thread_ts=1631610569.085800&cid=C020EPP9B9A), we are going to use this GH to handle the checkbox error outlines (no need for text), and then making `Save & Continue` active, and holding on [this issue](https://github.com/Expensify/App/issues/4785) as a non-blocker.

I think this is a better way to

[2021-09-15 02:08] MitchExpensify commented on #5047
@Beamanator

Yeah I don't think we should open global create if we're dropping new users into workspace configuration (i.e. when they have a workspace)

[2021-09-15 02:51] akshayasalvi commented on #5184
Yeah, @SofiedeVreese I agree with @puneetlath's feedback.

[2021-09-15 03:00] Christinadobrzyn commented on #5134
Hired @Santhosh-Sellavel in upwork!

[2021-09-15 03:48] aldo-expensify commented on #5245
Sorry @parasharrajat , tested again and I'm not being able to reproduce it again, so my comment on this may be misleading from the real cause.

[2021-09-15 05:15] MariaHCD commented on #5127
Deployed to production yesterday: https://github.com/Expensify/Web-Expensify/pull/31854#issuecomment-918648855

Closing this one out as per https://github.com/Expensify/Expensify/issues/176633#issuecomment-918705214

[2021-09-15 05:15] #5127 closed

[2021-09-15 06:17] MonilBhavsar commented on #4928
No update

[2021-09-15 08:14] Beamanator commented on #5047
@MitchExpensify FYI the logic I implemented in my PR was to search for an existing workspace - if the user has a workspace (free policy), don't trigger opening global create, and still update the NVP @mateomorris  added so the global create won't be shown on future opens.

Another result of this change is: If someone currently uses New Expensify and hasn't loaded the app since this whole global cr

[2021-09-15 08:45] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-15 08:49] roryabraham commented on #2985
Okay, I've spent a lot of time on this today and I'm actually now thinking that https://github.com/Flipkart/recyclerlistview is the most promising option for a few reasons:

- Already has functional web support
- Purports much better performance than standard RN FlatList (this could be a big win in-and-of-itself)
- Seems far more actively maintained and widely-used than https://github.com/GetStrea

[2021-09-15 08:52] botify commented on #5183
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-15 09:29] Julesssss commented on #4264
Yeah, you can hardcode the key info in `build.gradle` and just clear it before pushing the PR for review.

[2021-09-15 09:38] Julesssss commented on #5242
IIRC this was a recent change and was desired so that you could split a bill from a group, but exclude certain members from the split. I guess this bug was missed during the review, but it seems like a valid one to fix.

CC @trjExpensify

[2021-09-15 10:14] trjExpensify commented on #5242
I think we should just not let you deselect attendees from the confirmation screen in the global create split bill flow, right?

The split bill flow inside a group doesn't have the participant selector step, so it's not an issue in that flow that the change was intended to be implemented on only.

[2021-09-15 10:46] Julesssss commented on #5242
Yeah, I think we talked about this being missed from[ the PR](https://github.com/Expensify/App/issues/3841) but forgot to create an issue. That's the desired fix 👍

[2021-09-15 11:02] michaelhaxhiu commented on #5102
@PrashantMangukiya can you propose to work on this job in Upwork so that I can hire you?
https://www.upwork.com/jobs/~01d3c372f3b04d62f4

[2021-09-15 11:06] PrashantMangukiya commented on #5102
@michaelhaxhiu, Submitted proposal, Kindly accept it.

[2021-09-15 11:08] pecanoro commented on #5182
@shawnborton I need your help with styling this, everyday it passes I get worse at CSS instead of better. Anyways, I wrapped the checkbox elements in a view and played with some styles, but none of them works and now the checkboxes overflow, how can I fix it and highlight the checkbox to signal there is an error?

<img width="379" alt="New Expensify 2021-09-15 13-04-34" src="https://user-images.gi

[2021-09-15 11:16] dylanexpensify commented on #4675
Working on this now!

[2021-09-15 11:18] dylanexpensify commented on #4675
Payment sent!

[2021-09-15 11:18] #4675 closed

[2021-09-15 11:20] dylanexpensify commented on #4675
contract ended and posting removed

[2021-09-15 11:22] PrashantMangukiya commented on #4675
@dylanexpensify Thank you for payment.

[2021-09-15 11:25] Beamanator commented on #4211
@parasharrajat

1. You're right, we're technically not asking for a "fix", it's an enhancement, exactly what Mark reported in [the issue](https://github.com/react-navigation/react-navigation/issues/9511)
2. I thought it would be easier to just continue from where Marc left off, but it's possible only maintainers can re-open issues, so you may have to start from scratch - whatever you think is easi

[2021-09-15 11:25] dylanexpensify commented on #4675
Of course! Sorry about the delay @PrashantMangukiya !!

[2021-09-15 12:19] michaelhaxhiu commented on #5102
Hired 👍. Feel free to start on your PR.

[2021-09-15 12:24] michaelhaxhiu commented on #4855
Issue is still in progress, PR is seeing steady progress. Let's keep it up.

[2021-09-15 12:29] PrashantMangukiya commented on #5102
@michaelhaxhiu, Preparing for the pr now, I will submit soon. Thank you.

[2021-09-15 12:50] kidroca commented on #2985
IMO the `ReportActionsView` would undertake some hefty changes, no matter what, in order to achieve the desired behavior
I agree it would be easier if we don't have to tinker native iOS and Android code
And I see some value in `RecyclerListView` as well

Some notes:

I'm not sure whether we'll be able to receive the performance benefit, as the [#why](https://github.com/Flipkart/recyclerlistview#wh

[2021-09-15 12:51] kidroca commented on #2985
What I don't understand about `RecyclerListView` is how they justify the claim that it has better performance and memory efficiency

E.g. when you scroll a chat to the past in a `FlatList` items on the bottom are getting removed and items on the top are added - you have a fixed memory window. The argument against that is frequent garbage collection and object creation. But I don't get how the `Rec

[2021-09-15 13:36] mountiny commented on #3297
Just for future reference of the usual process, how many times do we usually retest the bug before we close the issue? @isagoico

[2021-09-15 14:31] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-15 14:43] HorusGoul commented on #5113
This code would be in places where the pronouns are displayed, such as [ProfilePage.js](https://github.com/Expensify/App/blob/28ae2f16669d64b1a98ce806b05b0648d4cac106/src/pages/settings/Profile/ProfilePage.js).

Yeah, that's what I was referring to, but we also allow arbitrary values if the user chooses the `Self-select` option. The idea I shared solves that by making the predefined options (examp

[2021-09-15 14:47] iwiznia commented on #5113
Given you are adding label and value, I am not sure why we need the `predefined` string manipulation. Maybe I don't quite get this because I am not sure what we are saving in the DB exactly in each of the cases, do you know?

[2021-09-15 14:59] isagoico commented on #3297
Usually if it's not reproducible 3 times in a row (in our weekly retests) we close it but it depends if there was a fix or not.

For this [retest](https://github.com/Expensify/App/issues/3297#issuecomment-918282249) I was double checking since the behaviour of this issue changed like 3 times lol. Right now I think we're good to close this one.

[2021-09-15 15:01] tgolen commented on #5068
@parasharrajat I think I agree with you. That change was handled in [this PR](https://github.com/Expensify/App/pull/4789) and looking back at it, I can see it's overkill to call `redirectToSignIn` from the "Go back" button. Sounds like it would be best to have a method called something like `clearSignInData()` which clears those keys you mentioned.

[2021-09-15 15:02] mountiny commented on #3297
@isagoico Haha, yes, this one is weird indeed. I will close this for now then and we can re-open if this would come back to us.

[2021-09-15 15:02] #3297 closed

[2021-09-15 15:07] HorusGoul commented on #5113
The bug consists of the following: We set `He/him` in English, which will store `He/him` in the database. Then we change to Spanish, and it will show  `Self-select`  along with the input field. If this worked correctly, the input would be hidden, and the selector should have the `Él` option selected.

That happens because when checking to see if the currently selected option is one of the predefin

[2021-09-15 15:11] iwiznia commented on #5113
ok, so yeah, I think the solution of having label (which translates) and value (which remains fixed) is the best course of action. In the DB we would save always the value, which would not change with language nor copy changes.

[2021-09-15 15:39] luacmartins opened #5263 "Users land on the wrong VBA flow step if coming from a redirect from the deprecated `/bank-accounts/requestor` route"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Coming from here https://github.com/Expensify/App/issues/5081#issuecomment-919585852

1. Navigate to `/bank-account/requestor`, you will get redirec

[2021-09-15 15:51] Julesssss commented on #5132
[PR complete ](https://github.com/Expensify/Web-Expensify/pull/31925)and in review. No need for a front-end PR after all!

[2021-09-15 15:58] luacmartins commented on #5081
Nice catch @aldo-expensify! Thank you so much!

Fix here https://github.com/Expensify/App/pull/5264.

[2021-09-15 16:03] parasharrajat commented on #5245
It can be closed.

[2021-09-15 16:04] parasharrajat commented on #5068
Please let me know if I can submit a PR for it. Thanks.

[2021-09-15 16:06] isagoico opened #5265 "[HOLD for payment 2021-09-28] Blank page displayed in Preferences and Profile page in Microsoft Edge"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Microsoft Edge
2. Navigate New Expensify
3. Navigate to Profile or Preferences in settings

## Expected Result:
Profile or preferences shoul

[2021-09-15 16:07] isagoico commented on #5265
@laurenreidexpensify My mistake I accidentally created the issue with the AutoAssignerTriage label 🤦 I really need to stop pressing ctrl + enter when editing

[2021-09-15 16:09] shawnborton commented on #5182
@pecanoro I was thinking that you could keep the checkbox as it's currently styled (see original comment) and just add the error as a new line below the whole thing, like so:
![image](https://user-images.githubusercontent.com/2319350/133469675-91c0e2f2-56c9-4bfb-b159-5b6f7b32598a.png)

Let me know if you still need help with that!

[2021-09-15 16:10] shawnborton commented on #5182
In an ideal world, we'd also highlight the checkbox itself by making the border red but I think that would require a custom component, so we can do that as a separate issue.

[2021-09-15 16:19] isagoico opened #5266 "Attachment Image is not rendered in chat or preview"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
User affected @iwiznia. I haven't found a way to reproduce this consistently yet.
1. Send an attachment to user B
2. Log in as user B and verify if

[2021-09-15 16:22] parasharrajat commented on #5265
This issue is coming from my code. the function I wrong to get the Browser name is faling. :scream: on edge.

[2021-09-15 16:23] isagoico commented on #5266
New information on the issue. This error is displayed in console
![image](https://user-images.githubusercontent.com/44479856/133471726-eae6fe33-f183-47fe-abe8-acd489913ae3.png)

[2021-09-15 16:24] aman-atg commented on #4491
Submitted the [proposal](https://www.upwork.com/ab/proposals/1438174866139951104).

[2021-09-15 16:26] parasharrajat commented on #5047
Is this expected? @Beamanator
![image](https://user-images.githubusercontent.com/24370807/133472158-d16d2166-ee0a-4f5c-b0a9-7003363637ed.png)

[2021-09-15 16:29] iwiznia commented on #5266
Assigning @justinpersaud per https://expensify.slack.com/archives/C01GTK53T8Q/p1631723016328700?thread_ts=1631705452.297400&cid=C01GTK53T8Q

[2021-09-15 16:40] marcaaron commented on #5182
Just took a look because I couldn't remember and I think actually we do have a custom checkbox component made up of react native elements. Happy to jump in here and see if I can get that to show up.

[2021-09-15 16:41] shawnborton commented on #5182
Oh, sweet!

[2021-09-15 16:42] roryabraham commented on #2985
I'm not sure I understand this proposed solution – how would you know to begin fetching newer chats as you scroll down?

[2021-09-15 16:49] mananjadhav commented on #5234
Done.

[2021-09-15 16:50] mallenexpensify opened #5268 "Update CONTRIBUTING.md to reflect Upwork job link isn't publicly viewable"
Creating this issue because @Beamanator and I agree that @mateomorris should be compensated for [reporting this in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1631444220192700).

FYI: The Upwork jobs list shows up empty for users without an account (or signed out). To me, this communicated that there aren’t any active jobs. Obviously this is an issue with Upwork, but maybe a notice co

[2021-09-15 16:54] mallenexpensify commented on #5268
@mateomorris Can you apply for the job here https://www.upwork.com/jobs/~01e389cf88d1262687
Then add a comment here letting me know you have and I'll hire and pay?

[2021-09-15 17:03] thienlnam commented on #5234
@dylanexpensify Could you please hire @mananjadhav in Upwork and then assign him to the job when that is complete?

[2021-09-15 17:04] thienlnam commented on #5234
As for the Spanish translation:
Resend the link to login to your Expensify Account -> `Reenviar el enlace para acceder a tu cuenta de Expensify`

[2021-09-15 17:07] #5047 closed

[2021-09-15 17:07] botify commented on #5047
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-15 17:09] parasharrajat commented on #5250
PR is up. Awaiting job to be created @arielgreen. Thanks.

[2021-09-15 17:30] kidroca commented on #2985
### The Virtualized List idea

1. We have a `VirtualizedList` that works with abstract data -> `getItemCount` returns the total action items there are for this conversation
2. Let's say we have a chat with 200 messages
3. When the chat loads we can tell the `VirtualizedList` to start on message # 100 (or any message for that matter) `initialScrollIndex={100}` (we'll usually start on the latest mes

[2021-09-15 17:36] mananjadhav commented on #4559
Give me a day and I'll send a detailed one.

[2021-09-15 17:38] #5263 closed

[2021-09-15 17:39] botify commented on #5263
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-15 17:57] parasharrajat commented on #5235
Noone is assigned to this issue. :shrug:

[2021-09-15 17:59] parasharrajat commented on #4211
Ok, I think we start by creating a clone of the [issue](https://github.com/react-navigation/react-navigation/issues/9511) and then put a PR for the same and wait for things to move.

I think this would be enough for this issue as the Stack navigator will handle the rest.

[2021-09-15 18:07] michaelhaxhiu commented on #5102
UpdatE: @PrashantMangukiya prepared the PR and now we are waiting on @pecanoro to review 👍

[2021-09-15 18:13] mananjadhav commented on #5191
@mountiny Sure. I'll submit a PR in sometime.

[2021-09-15 18:15] stephanieelliott commented on #5091
Just tested, the back end work is not live on production quite yet! Should be soon though.

[2021-09-15 18:35] marcaaron commented on #5182
cc @shawnborton let me know if this looks OK? The error text under the checkbox is the same one we're using for text inputs at the moment, but noticed the font sizes were slightly different from the screen you shared above.

![2021-09-15_08-32-54](https://user-images.githubusercontent.com/32969087/133489729-adca6421-1bdb-4a45-8c46-cc0c04ca6db5.png)

[2021-09-15 18:36] shawnborton commented on #5182
That looks great to me!

[2021-09-15 18:36] shawnborton commented on #5182
Perhaps we could bump the right margin on the checkbox up a bit?

[2021-09-15 18:37] aldo-expensify commented on #5034
I think this may not be related to unresolved promises resolving after logout, or the Onyx cache being dirty. I tried even cleaning all site data, and the conversation is still there. Sorry for the long video:

Steps:

- Clear site data
- Login with `aldo@expensify.com`, see that there is no conversation with user `3@test.com`
- Logout
- Login with `2@test.com` and chat with `3@test.com`
- Logout

[2021-09-15 18:44] marcaaron commented on #5182
![2021-09-15_08-43-07](https://user-images.githubusercontent.com/32969087/133491194-8887c763-ca38-46b5-867b-f1f046c84ec5.png)

[2021-09-15 18:45] shawnborton commented on #5182
Ship it.

[2021-09-15 18:49] marcaaron commented on #5182
with Picker fields highlighted

![2021-09-15_08-48-09](https://user-images.githubusercontent.com/32969087/133491794-76136576-6d2d-4ceb-b7cb-3c92d5ff7561.png)

[2021-09-15 18:55] shawnborton commented on #5182
Probably not your fault, but the state picker looks taller than the other inputs. It should be at 52px tall.

Everything else looks good though!

[2021-09-15 19:02] francoisl commented on #5224
@isagoico a fix for https://github.com/Expensify/App/issues/5241 has just been CP'ed to staging, can you test again please?

[2021-09-15 19:06] parasharrajat commented on #4993
PR is in draft as low priority

[2021-09-15 19:06] marcaaron commented on #5182
Yeah looks like it's off by a px or something. Took a quick look to see why, but its not obvious to me.

[2021-09-15 19:07] aldo-expensify commented on #5028
No overdue, PR waiting for review

[2021-09-15 19:10] marcaaron commented on #4857
Temporary solution is on staging now. I think once that's done we can drop the priority on this a bit.

[2021-09-15 19:16] roryabraham commented on #2985
Thanks for explaining @kidroca! That seems like a good idea but I think you're correct that content shifting (aka "scroll jumping" would likely be an issue).

[2021-09-15 19:28] mateomorris commented on #5268
@mallenexpensify done. Thanks!

[2021-09-15 19:41] jboniface commented on #4885
payment due in two days if no regressions are found

[2021-09-15 19:45] marcaaron commented on #5182
Ran through and fixed the styling issues for Checkbox and Picker then removed the submit button disabling for all the remaining steps so I think the PR is ready for testing.

There are a few issues I ran into that can should be resolved in other PRs + with other Issues

1. The Validation step submit button disabling we can handle in [this PR](https://github.com/Expensify/App/pull/5260) so I just l

[2021-09-15 19:50] isagoico commented on #5224
Left a comment in the CP https://github.com/Expensify/App/pull/5243#issuecomment-920327471 here

[2021-09-15 19:56] mallenexpensify commented on #4491
Hired in Upwork!

[2021-09-15 20:00] parasharrajat commented on #3855
Applied and PR submitted for review.

[2021-09-15 20:01] isagoico commented on #5224
https://github.com/Expensify/App/issues/5241 was a pass! 🎉 checking the PRs and deploy blocker off

[2021-09-15 20:02] francoisl commented on #5224
:shipit:

[2021-09-15 20:02] #5224 closed

[2021-09-15 20:06] mallenexpensify commented on #5268
Hired, you'll need to accept the offer then I can pay @mateomorris

[2021-09-15 20:07] OSBotify opened #5279 "Deploy Checklist: New Expensify 2021-09-15"
**Release Version:** `1.0.99-4`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/5037
- [x] https://github.com/Expensify/App/pull/5060
- [x] https://github.com/Expensify/App/pull/5073
- [x] https://github.com/Expensify/App/pull/5094
- [x] https://github

[2021-09-15 20:13] aldo-expensify commented on #5245
Maybe this happens on a mobile browser because in mobile the browser doesn't work on updating all tabs at the same rate as in the desktop (for performance reasons)? Is it possible that Safari + IPhone shows snapshot of the tab when we see it from this view:

![Screen Shot 2021-09-15 at 1 11 05 PM](https://user-images.githubusercontent.com/87341702/133502509-49958924-1d7a-40ca-8302-7e1bbcb5ef9f.png

[2021-09-15 20:14] trjExpensify commented on #5242
Works for me! Do we want to convert this issue, or close it and open a fresh one?

[2021-09-15 20:25] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239072912) to production by @francoisl in version: 1.0.98-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 20:25] botify commented on #5241
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239072912) to production by @francoisl in version: 1.0.98-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 20:25] botify commented on #5115
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239072912) to production by @francoisl in version: 1.0.98-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 20:25] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239072912) to production by @francoisl in version: 1.0.98-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 20:25] botify commented on #4971
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239072912) to production by @francoisl in version: 1.0.98-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 20:25] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239072912) to production by @francoisl in version: 1.0.98-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 20:25] botify commented on #4543
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239072912) to production by @francoisl in version: 1.0.98-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 20:25] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239072912) to production by @francoisl in version: 1.0.98-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 20:25] botify commented on #5115
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239072912) to production by @francoisl in version: 1.0.98-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 20:25] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239072912) to production by @francoisl in version: 1.0.98-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 20:25] botify commented on #5103
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239072912) to production by @francoisl in version: 1.0.98-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 20:25] botify commented on #5047
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239072912) to production by @francoisl in version: 1.0.98-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 20:25] botify commented on #5205
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239072912) to production by @francoisl in version: 1.0.98-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 20:25] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239072912) to production by @francoisl in version: 1.0.98-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 20:25] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239072912) to production by @francoisl in version: 1.0.98-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 20:25] botify commented on #4861
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239072912) to production by @francoisl in version: 1.0.98-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 20:25] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239072912) to production by @francoisl in version: 1.0.98-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 20:25] botify commented on #4902
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239072912) to production by @francoisl in version: 1.0.98-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 20:38] aldo-expensify commented on #5182
I'm working on improving this in this [PR](https://github.com/Expensify/App/pull/5259) - If it gets too long, we can eventually split it, but I wanted to get a first version working (requestor + contract step)

[2021-09-15 20:46] puneetlath commented on #5184
@akshayasalvi I don't know that simply using `maxLength` will work for the phone number field, since we want to allow parenthesis and dashes. And we want to disallow characters that can't be in phone numbers. How would you go about handling that?

[2021-09-15 20:48] mallenexpensify commented on #5268
Paid in Upwork, thanks again @mateomorris

[2021-09-15 20:48] #5268 closed

[2021-09-15 20:54] isagoico commented on #5241
I think we're good to close this one out CC @francoisl

[2021-09-15 20:54] #5241 closed

[2021-09-15 21:02] akshayasalvi commented on #5184
I agree. But I also a little unsure if we're allowing parenthesis and dashes. Placement for this might differ based on the locale. I could quickly write a regex to match this, once you confirm the format.

I've also checked some of the codes, it seems we're using `Str.isValidPhone` function is used for validation. So are we planning to change the phone number formatting across all usages?

[2021-09-15 21:06] justinpersaud commented on #5266
So we can easily whitelist this domain in question, but it's not really the right thing to do in this case.

The URL is https://s3-us-west-1.amazonaws.com/concierge-responses-expensify-com/uploads%2F1631704796305-1631704796305.png

So the domain is https://s3-us-west-1.amazonaws.com

We wouldn't want to permit that one, because s3 is public storage that anyone can upload to. I think the right thin

[2021-09-15 21:08] johnmlee101 commented on #5134
Heyo! Turns out this is intended functionality actually. @Santhosh-Sellavel

We're going to figure out where to go from here, since you've put effort into this already.

[2021-09-15 21:14] mvtglobally commented on #5279
starting QA

[2021-09-15 21:15] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239082061) to staging by @francoisl in version: 1.0.98-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 21:15] botify commented on #5115
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239082061) to staging by @francoisl in version: 1.0.98-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 21:15] botify commented on #5241
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239082061) to staging by @francoisl in version: 1.0.98-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 21:15] botify commented on #5263
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239082061) to staging by @thienlnam in version: 1.0.98-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 21:15] botify commented on #5047
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239082061) to staging by @robertjchen in version: 1.0.98-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 21:15] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239082061) to staging by @Beamanator in version: 1.0.98-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 21:16] botify commented on #5183
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239082061) to staging by @roryabraham in version: 1.0.98-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 21:16] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239082061) to staging by @HorusGoul in version: 1.0.98-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 21:16] botify commented on #4785
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239082061) to staging by @marcaaron in version: 1.0.98-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 21:16] botify commented on #4906
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239082061) to staging by @Jag96 in version: 1.0.98-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 21:16] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239082061) to staging by @chiragsalian in version: 1.0.98-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 21:16] botify commented on #4816
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239082061) to staging by @chiragsalian in version: 1.0.98-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 21:16] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239082061) to staging by @marcaaron in version: 1.0.98-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 21:16] botify commented on #4897
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239082061) to staging by @marcaaron in version: 1.0.98-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 21:16] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239082061) to staging by @iwiznia in version: 1.0.98-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 21:19] Jag96 commented on #4855
PR merged!

[2021-09-15 21:20] botify commented on #4855
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-15 21:36] stitesExpensify commented on #3897
This is still actively being worked on in the PR

[2021-09-15 21:38] mallenexpensify commented on #5134
Closed contract in Upwork, paid @Santhosh-Sellavel for reporting the issue and for being hired for the fix.
We want to allow for split functionality in all rooms and groups, we should have this sooner in #expensify-open-source and added a comment.

[2021-09-15 21:38] #5134 closed

[2021-09-15 21:42] marcaaron commented on #5034
Interesting... any alternate theory? Where should we look next?

[2021-09-15 21:44] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1239162167) to staging by @ctkochan22 in version: 1.0.98-3 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-15 21:51] aldo-expensify commented on #5034
No alternative theory right know, but I can dig deeper when I finish some QA's and PR review I just got assigned.

[2021-09-15 21:57] chiragsalian commented on #5185
@mananjadhav, any update here? Can you post your complete plan of action for me to review?

[2021-09-15 22:42] mallenexpensify commented on #4498
@thesahindia apologies, you are owed a bonus, I just added one to the job in Upwork, ping me in a comment here if for some reason you don't see.

[2021-09-15 22:59] mallenexpensify commented on #4775
Doubled price to $500

[2021-09-15 23:05] mallenexpensify commented on #4905
Raised price to $500

[2021-09-15 23:07] mallenexpensify commented on #4910
Doubled price to $500 a day early cuz I'm in here for the Weekly resync

[2021-09-15 23:11] mallenexpensify commented on #5027
Job doubled a day early cuz I'm doing the resync now

[2021-09-15 23:18] quinthar commented on #4910
I'm happy to test and confirm.  Also, the title seems a bit off -- it does open, it just doesn't connect.

[2021-09-15 23:36] marcaaron commented on #5245
Doesn't seem like a priority to me.

[2021-09-15 23:38] kevinksullivan opened #5285 ""Add email" button showing incorrectly on a private domain's workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create workspace (with kevin@babyotters.us)
2. Go to Workspace menu

## Expected Result:
The button should say `Get Started`

## Actual Result:
T

[2021-09-15 23:43] OSBotify commented on #5285
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-15 23:47] roryabraham commented on #5279
Checking off https://github.com/Expensify/App/pull/5229 because we were able to verify that it works as expected.

[2021-09-15 23:54] parasharrajat commented on #5008
@isagoico Please retest.

[2021-09-15 23:59] kevinksullivan commented on #5034
Just came to drop in that I had this happen with kevin@babyotters.us today on production, showing chats from kevin@expensify.com , but also not showing the row in LHN from jason.

![image](https://user-images.githubusercontent.com/22508290/133528224-b14e6ea6-00e9-47d7-a650-c84f813cbc96.png)

[2021-09-16 00:04] luacmartins commented on #5285
This is probably related to this PR https://github.com/Expensify/App/pull/5037. We probably don't have the domain in the common domain list and bedrock cache. That means we are actually going to Clearbit for certainty and meanwhile we treat the domain as public.

Do we require certainty that the domain is private in this case?

[2021-09-16 01:17] chiragsalian commented on #4905
Hmm, not sure if we should raise the price on this. It's relatively simple imo. If no one is picking it up at its original price we can just put the firstpick label for someone to pick it up.

[2021-09-16 01:20] kadiealexander commented on #5247
Hi @mananjadhav, I've placed this issue on hold as per [this update](https://expensify.slack.com/archives/C01GTK53T8Q/p1631754482374800), as we are prioritising issues related to a feature release scheduled for 9/24. As an apology for the delay, we will add a $100 bonus as a thank you for waiting.

[2021-09-16 01:24] kevinksullivan commented on #4892
Hmm good question. I would think if they delete all data and exit, we would keep the button as `Get Started`. The other thing I want to call out is that ideally we don't show the button change while a user is in the rightpane, it would only happen upon exit. So for example I would find it weird if while I was in this flow the button that is out of focus / behind the rightpane changed to `Finish Se

[2021-09-16 01:26] kevinksullivan commented on #5074
Hm I didn't really appreciate that all other steps have a back button, so this does look a bit jarring. @shawnborton what do you think? Should we just keep the step counter off of the first part of the add bank account step? Marco has the two options outlined nicely [here](https://github.com/Expensify/App/issues/5074#issuecomment-919477883).

[2021-09-16 01:27] kevinksullivan commented on #5088
@ctkochan22 let me know what exactly you would like me to test and I'd be happy to knock it out.

[2021-09-16 01:32] kevinksullivan commented on #5235
Looks like the unassign slipped there.

[2021-09-16 01:34] parasharrajat commented on #5247
Its a regression @kadiealexander I don't think there will be a job for this.

[2021-09-16 01:45] Santhosh-Sellavel commented on #4905
I see we need to just enable copy across all devices I'll do it. I already proposed the changes for that here https://github.com/Expensify/App/issues/4905#issuecomment-912317010

[2021-09-16 01:49] mananjadhav commented on #5247
I am not sure if we would count it as regression. This PR was under review for over a month and this never came up. @stitesExpensify can comment on this

[2021-09-16 01:51] kavimuru opened #5286 "Chat - After switching account from Spanish to English the app still shows in Spanish and no option to change language for gmail accounts"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with an account which is Spanish  (expensifail domain account)
3. Log out from account
4. Log in with an account which i

[2021-09-16 01:52] OSBotify commented on #5286
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-16 02:04] kavimuru opened #5287 "Chat - user detail - Copy icon not displayed for email"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Tap on any conversation
3. Tap on the username to see details

## Expected Result:
Copy icon displayed for email of u

[2021-09-16 02:23] Santhosh-Sellavel commented on #4905
Yes I agree with @chiragsalian no need to raise the price!

[2021-09-16 02:24] kavimuru opened #5289 "Chat - New Workspace isn't available for public domain account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing this PR #5037**  Not sure we execute the PR wrong
## Action Performed:
1. Create an account with a public domain. e.g. @gmail.com. // ryb

[2021-09-16 02:28] robertjchen commented on #5059
Discussion in https://github.com/Expensify/App/issues/4214 still ongoing

[2021-09-16 02:28] Christinadobrzyn commented on #5008
Pinged Isa in Slack - https://expensify.slack.com/archives/C01GTK53T8Q/p1631759290376300?thread_ts=1630630175.357600&cid=C01GTK53T8Q

[2021-09-16 02:31] kavimuru opened #5290 "Bank account - Blank validation page displayed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing #5251**
## Action Performed:
1. Create a new user
2. Create workspace via the global create menu
3. Select 'Get Started' after the worksp

[2021-09-16 02:32] OSBotify commented on #5290
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-16 02:32] kavimuru commented on #5290
We are not able to test in production due to credentials

[2021-09-16 02:37] kadiealexander commented on #5197
Hi @parasharrajat, I've placed this issue on hold as per [this update](https://expensify.slack.com/archives/C01GTK53T8Q/p1631754482374800), as we are prioritising issues related to a feature release scheduled for 9/24. As an apology for the delay, we will add a $100 bonus as a thank you for waiting.

[2021-09-16 02:38] marcaaron commented on #5285
Just to follow up here. I'm still a bit unsure why the PRs we are reverting will fix anything and did not really get very far in reproducing this issue beyond the realization that email validation for non obviously public domains seems broken on dev (I used the clitools account validator and it was broken). So I'd guess (but did not confirm) that some users may have experienced issues validating a

[2021-09-16 02:45] kavimuru opened #5291 "[Pay on Tuesday 23rd Nov] Chat - Unable to scroll PDF file more than 2 pages in Preview page before sending"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log in with any account
3. Select any user
4. Click on plus button
5. Select Add Attachment
6. Select Documents
7. Select PDF wi

[2021-09-16 02:45] OSBotify commented on #5291
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-16 02:53] kadiealexander commented on #5194
Hi @parasharrajat, I've placed this issue on hold as per [this update](https://expensify.slack.com/archives/C01GTK53T8Q/p1631754482374800), as we are prioritising issues related to a feature release scheduled for 9/24. As an apology for the delay, we will add a $100 bonus as a thank you for waiting.

[2021-09-16 02:55] kadiealexander commented on #5191
Hi @mananjadhav, I've placed this issue on hold as per [this update](https://expensify.slack.com/archives/C01GTK53T8Q/p1631754482374800), as we are prioritising issues related to a feature release scheduled for 9/24. As an apology for the delay, we will add a $100 bonus as a thank you for waiting.

[2021-09-16 03:07] kadiealexander commented on #5102
Hi @PrashantMangukiya, I've placed this issue on hold as per [this update](https://expensify.slack.com/archives/C01GTK53T8Q/p1631754482374800), as we are prioritising issues related to a feature release scheduled for 9/24. As an apology for the delay, we will add a $100 bonus as a thank you for waiting.

[2021-09-16 03:13] kadiealexander commented on #5091
Hi @thesahindia, I hate to delay this further but I've placed this issue on hold as per [this update](https://expensify.slack.com/archives/C01GTK53T8Q/p1631754482374800), as we are prioritising issues related to a feature release scheduled for 9/24. As an apology for the delay, we will add a $100 bonus as a thank you for waiting.

[2021-09-16 03:18] kadiealexander commented on #5082
Hi @mateomorris, I've placed this issue on hold as per [this update](https://expensify.slack.com/archives/C01GTK53T8Q/p1631754482374800), as we are prioritising issues related to a feature release scheduled for 9/24. As an apology for the delay, we will add a $100 bonus as a thank you for waiting.

[2021-09-16 03:48] kadiealexander commented on #4995
Hi @mananjadhav, I've placed this issue on hold as per [this update](https://expensify.slack.com/archives/C01GTK53T8Q/p1631754482374800), as we are prioritising issues related to a feature release scheduled for 9/24. As an apology for the delay, we will add a $100 bonus as a thank you for waiting.

[2021-09-16 03:50] Hanaffi commented on #5265
# Proposal

<hr>
There are multiple solutions:

1. We could use https://github.com/arasatasaygin/is.js to check the browser name (with version as well) like `is.chrome('>80')`.
2. Use `indexOf` instead of `match`,  Something like this:
[code]
3. We can just fix that bug as @parasharrajat stated.

[2021-09-16 03:53] kadiealexander commented on #4993
Hi @parasharrajat, I've placed this issue on hold as per [this update](https://expensify.slack.com/archives/C01GTK53T8Q/p1631754482374800), as we are prioritising issues related to a feature release scheduled for 9/24. As an apology for the delay, we will add a $100 bonus as a thank you for waiting.

[2021-09-16 04:13] kadiealexander commented on #4888
Hi @mananjadhav, I've placed this issue on hold as per [this update](https://expensify.slack.com/archives/C01GTK53T8Q/p1631754482374800), as we are prioritising issues related to a feature release scheduled for 9/24. As an apology for the delay, we will add a $100 bonus as a thank you for waiting.

[2021-09-16 04:24] nikdev15 commented on #5233
I will create a state in the component namely isLoading. Initially, it will be set to 'false'. But when the email verification link is sent to the customer the state of isLoading is set to 'true'. The onclick parameter of the button will trigger a function that will set the state of isLoading to 'true' and after a specified amount of time with the setTimeout method, the state of isLoading will be

[2021-09-16 04:35] kadiealexander commented on #4737
Hi @akshayasalvi, I've placed this issue on hold as per [this update](https://expensify.slack.com/archives/C01GTK53T8Q/p1631754482374800), as we are prioritising issues related to a feature release scheduled for 9/24. As an apology for the delay, we will add a $100 bonus as a thank you for waiting.