[2021-11-02 01:24] Jag96 commented on #6121
@mvtglobally thanks for the context, it looks like this is being caused by the animation style for the PopoverMenu component, the same effect can be seen when clicking on an IOU detail and opening the option to pay:

<img src='http://g.recordit.co/QfusMYKIg0.gif' width='400'/>

Going to tag @Expensify/design here to confirm this is the behavior that we want, if not we can update the animation styl

[2021-11-02 01:26] mallenexpensify commented on #5237
@parasharrajat Can you provide an update on when we can expect the PR? Thanks

[2021-11-02 01:35] marcochavezf commented on #5619
Ah, I was thinking to use instead the `isStoreReady` in `processNetworkRequestQueue` (Network) like this:

[code]

Where the requests are retried (even persisted requests) if both auth token and credentials are not ready.

Yeah, I will stick to the `Network.setIsReady(true)` solution atm (which will behave similarly to `isStoreReady()`) to avoid more noise here and then discuss later the store pat

[2021-11-02 01:35] parasharrajat commented on #6121
Ok. Looking at the new comments, the issue reported here https://github.com/Expensify/App/issues/6121#issuecomment-955110098 is different from this one.

@Jag96

Here is the video

https://user-images.githubusercontent.com/24370807/139772531-fbdb9027-b5e0-4b37-a40f-751ea1366e2e.mp4

[2021-11-02 01:37] parasharrajat commented on #5237
I have started on it. It would be ready soon. I was busy last week.

[2021-11-02 02:02] isagoico commented on #6127
Checked off the PRs that were a pass on our side.

- https://github.com/Expensify/App/pull/6113 needs to be retested on iOS once the blocker fix it out (blocked because of https://github.com/Expensify/App/issues/6147)
- https://github.com/Expensify/App/pull/6156 will be tested once the fix for the blocker is out too.

[2021-11-02 02:08] parasharrajat commented on #6069
Yup, this is an edge case but Matt is really finding this problematic. and that's why I invested time to find a solution.
---
I would say yes. We can add this into `navigate` behind a flag. but maybe it won't be pleasing to other devs on the team. It's your call we can do that for sure.

[2021-11-02 02:53] shawnborton commented on #6116
Hmm the only thing I can think of is to always launch the form to the bottom of the input and try to scroll the input towards the top of the viewport as much as possible.

[2021-11-02 03:45] akshayasalvi commented on #5772
@trjExpensify Awaiting payment

[2021-11-02 03:45] akshayasalvi commented on #5811
@stephanieelliott Awaiting payment

[2021-11-02 04:38] kevinksullivan commented on #6059
I was unable to reproduce this on web. The app responded  correctly when I turned off hotspot.

![image](https://user-images.githubusercontent.com/22508290/139787695-e208ec04-1f77-4e01-8224-087e692733fb.png)

[2021-11-02 04:49] marcaaron commented on #6069
If we want to start using a key logger to capture some keys before an input is focused then I'd still say we should not couple it with the `navigate()` method and only use the buffer when necessary. Otherwise, we are adding optional logic to something that 99% of the time isn't going to need it.

Still, something about this seems off to me. Mostly, I can't wrap my head around why would anyone woul

[2021-11-02 04:54] marcaaron commented on #5984
I'd feel pretty good about updating that tbh. I like having the `props` prefix because it makes it easier to differentiate what is a prop vs. variable in the function body or imported from some place else.

[2021-11-02 05:05] aldo-expensify commented on #6075
Thanks, so... are we missing the magnifying glass on the thumbnail image?

![image](https://user-images.githubusercontent.com/87341702/139157106-945ed20a-c828-4dae-b0ed-7b1213153d12.png)

Are we expecting to see the magnifying glass cursor instead of the hand in that case?

[2021-11-02 05:06] CamilaRivera commented on #6157
## Proposal
We can add the style breakWord to the AttachmentView component, that prevents overflowing in the modal.

The changes should be done in this line: https://github.com/Expensify/App/blob/d7a77751fe4e4563094e8650972beb59ad71d27d/src/components/AttachmentView.js#L65

like this:

[code]

[2021-11-02 05:49] robertjchen commented on #6148
Taking an initial look into this, may be due to a recent change that was introduced 👀

[2021-11-02 05:52] Christinadobrzyn commented on #6157
It looks like this bug was reported in this [GH](https://github.com/Expensify/App/issues/5755#issuecomment-948093004) where a similar issue is being fixed.

I suggest we hold off on getting proposals for this until we see if this [PR](https://github.com/Expensify/App/pull/5969) fixes the issue. What do you think @Luke9389?

[2021-11-02 06:01] CamilaRivera commented on #6076
## Proposal
We can change the prop value for `resizeMode` from `contain` to `center` in the Image component. This change will "Center the image in the view along both dimensions. If the image is larger than the view, scale it down uniformly so that it is contained in the view." (https://reactnative.dev/docs/image#resizemode)

The changes should be done in this line: https://github.com/Expensify/Ap

[2021-11-02 07:08] parasharrajat commented on #6069
Yup, it is always good to separate the responsibilities of functions. `navigate` should only navigate. that's why
 a wrapper like `navigateToSearchPage` and could be more generic is better.

[2021-11-02 07:56] rushatgabhane commented on #6160
Can't reproduce this issue.

[2021-11-02 07:57] parasharrajat commented on #6160
This is just fixed. Letting you know. PR causing this is reverted.

[2021-11-02 07:57] parasharrajat commented on #6147
This is just fixed. Letting you know. PR causing this is reverted.

[2021-11-02 07:57] parasharrajat commented on #6148
This is just fixed. Letting you know. PR causing this is reverted.

[2021-11-02 08:45] MonilBhavsar commented on #6160
Thanks for the heads up @parasharrajat
Can you please link the PR

[2021-11-02 10:06] PrashantMangukiya commented on #5593
@thienlnam  I tested it with latest version. Still it is returning 502 code within then() block if invalid image file  uploaded. Here is latest screenshot from web debug.

<img width="1341" alt="Screenshot 2021-11-02 at 11 31 57 AM" src="https://user-images.githubusercontent.com/7823358/139826072-d1da93e4-3c76-4968-905b-a749711bf7d7.png">

It looks like there is not any api changes at server side

[2021-11-02 10:37] Beamanator commented on #5767
As title says, waiting 2 days for payment (not overdue)

[2021-11-02 10:39] Beamanator commented on #5772
@akshayasalvi looks like @trjExpensify is on vacation till Wednesday, do you mind waiting until then to get paid? If not I will happily reach out to someone else to get you paid :)

[2021-11-02 11:04] sketchydroide commented on #6131
So I just confirmed this is happening on Desktop, and I think this is a `bug` and that it can be external.

[2021-11-02 11:05] sketchydroide commented on #6131
as a bug this should not be affected by our hold @arielgreen

[2021-11-02 11:17] kidroca commented on #6151
This solution seems a bit "greedy",has unnecessary complexity and will have problems in async scenarios
- greedy - Looks like everything in `mapping` need to be ready before using any of the `exports`. Probably a lot of actions can be used right away but they'll have to wait just because they are part of an `ActionCollection`
- too complex - when someone needs to write an action they'll need to le

[2021-11-02 12:16] kidroca commented on #6151
In the end it seems `ActionCollection` `mappings` might involve so many keys that we can just read everything from storage and provide it to every action/function and let it pick whatever it needs, but to overcome the Promise problem instead of passing a `mappings` Dictionary we could provide a `getter` function

[code]

Well isn't the above very similar to this

[code]

- By exposing `Onyx.get` a

[2021-11-02 12:20] mountiny commented on #5572
Just testing one internal feature. Sorry for the notifications.

@Luke9389 Sorry for the ping, I have been QA'ing this PR: https://github.com/Expensify/Web-Expensify/pull/32292

[2021-11-02 13:21] bfitzexpensify commented on #6159
Upwork [job](https://www.upwork.com/jobs/~0197213383fc71a248)

[2021-11-02 14:01] MuhammadNasirr commented on #6159
Proposal
here is how we can do this.

we can use the parseInt method the remove Double Quotes

parseInt(('100,000.00'.replace('"','')))

[2021-11-02 14:26] akshayasalvi commented on #5772
No rush @Beamanator. Thanks for the update

[2021-11-02 14:29] joelbettner commented on #6147
Thanks @parasharrajat. I was ooo for the afternoon yesterday. I thought I had added it to the OOO calendar, I'll have to double check.

[2021-11-02 14:29] #6147 closed

[2021-11-02 14:42] robertjchen commented on #6148
Awesome, thanks for the followup! I'll go ahead and close this out then 👍

[2021-11-02 14:42] #6148 closed

[2021-11-02 15:08] isagoico commented on #6127
We're currently retesting the steps that were blocked because of the blocker. Will update here if we find any other issues.

[2021-11-02 15:08] akshayasalvi commented on #5774
We're setting the default welcomeNote in state as  `this.getWelcomeNotePlaceholder()`. and we're calling `invite(logins, this.state.welcomeNote || this.getWelcomeNotePlaceholder(), this.props.route.params.policyID);`.

I get what you mean. Even we could maintain a flag, we can't be sure that the user removed the download app content or retained. Should we add some kind of a placeholder? So that if

[2021-11-02 15:11] johncschuster commented on #6133
I've ported the repro steps above to the OP.

@nickmurray47, please let us know if anything's unclear before this is further triaged!

[2021-11-02 15:45] akshayasalvi commented on #5783
@dylanexpensify While resolved by somebody else, there would be a payment for reporting this one right?

[2021-11-02 16:14] jboniface commented on #5807
oh yeah, i missed this since it wasn't on my dashboard

[2021-11-02 16:28] mallenexpensify commented on #5945
I like that idea Chirag but not sure how it'd best work in practice with us using one box for both email and phone. This is what's on NewDot now.
![image](https://user-images.githubusercontent.com/22508304/139905899-1b1f2ab9-9239-45e1-b97c-fe173e5cf697.png)

[2021-11-02 16:33] mallenexpensify commented on #5310
@NikkiWines can you review @sidferreira 's comment above and provide feedback?
https://github.com/Expensify/App/issues/5310#issuecomment-948135403

[2021-11-02 16:40] thienlnam commented on #5620
Yup, still happening for me - but I've noticed it can happen on both data and wifi

[2021-11-02 16:43] sidferreira commented on #5620
@thienlnam I have a branch with bugsnag installed, trying to reproduce it (no success so far). Would you be able to build and run from that branch, so I try to get some extra data?

[2021-11-02 16:50] dylanexpensify commented on #5783
Correct @akshayasalvi! Once we pay out for the issue being completed, we'll also pay out the reporting bonus to you 😄

[2021-11-02 16:53] chiragsalian commented on #5945
English copy,

Spanish copy,

So you should be all set to create the PR right @Santhosh-Sellavel or is there any pending question on your end?

[2021-11-02 16:56] chiragsalian commented on #5945
Ah true, I forget we have just one box. Well maybe someday we'll split it like oldDot,
![image](https://user-images.githubusercontent.com/14356145/139910381-2e06c49d-c5a6-40da-bf37-6150f1a911c4.png)

and then perhaps we could implement that logic.

[2021-11-02 17:15] puneetlath commented on #6120
@PrashantMangukiya created [the job](https://www.upwork.com/jobs/~01db272fa68658e3da) here and invited you to it.

[2021-11-02 17:18] puneetlath commented on #6159
@bfitzexpensify I like @parasharrajat's option 2.

[2021-11-02 17:20] PrashantMangukiya commented on #6120
@puneetlath Submitted proposal on Upwork. Kindly accept it.

[2021-11-02 17:39] Beamanator commented on #4491
Yeah, it looks like that's the case, thanks @mallenexpensify 🙏

[2021-11-02 17:41] Santhosh-Sellavel commented on #5945
@chiragsalian

The following changes needed to be done in PR right?

1. We need to update the placeholder `2109400803` here,
https://github.com/Expensify/App/blob/7f3153ac0e20a17a4db9d032851246d051ffad8a/src/pages/RequestCallPage.js#L208

2.  Update following error messages to new messages given [here](https://github.com/Expensify/App/issues/5945#issuecomment-957941428)
- https://github.com/Expens

[2021-11-02 17:55] thienlnam commented on #5620
Anything you're looking for specifically? We have crash logs and other logs already.  This also doesn't happen every time I launch so I wouldn't necessarily have the logs each time I tried to run the app

[2021-11-02 17:58] sidferreira commented on #5620
@thienlnam as a contributor, I don't have access to that logs, also Crashlytics is not as rich as Bugsnag IMHO. Finally, I added some breadcrumbs based on what I believe may be the issue

[2021-11-02 18:06] roryabraham commented on #6070
@parasharrajat's proposal looks good. @jboniface please hire @parasharrajat on Upwork.

[2021-11-02 18:18] thienlnam commented on #5620
I'd rather not build and run a WIP branch from my personal phone.  Are you able to write a proposed solution regarding what you believe is the issue?  Then @NikkiWines can work with you to refine / develop the solution and we can test those changes when the PR gets to staging

[2021-11-02 18:20] sidferreira commented on #5620
@thienlnam (in order to keep this short) can we discuss it in slack?

[2021-11-02 18:20] Luke9389 commented on #4656
Not much action on this of late.

[2021-11-02 18:21] thienlnam commented on #5620
Feel free to start a conversation in the #expensify-open-source slack channel

[Guidlines](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#asking-questions)

[2021-11-02 18:22] Luke9389 commented on #5158
@rushatgabhane Nope! We'll pay you when we pay the author of the PR. I think there's been a slight hold up here because @trjExpensify (the Contributor Manager on this issue) has been Out Of Office. He comes back tomorrow, and I'm sure the payment will be processed at that time. Sorry for the delay!

[2021-11-02 18:23] sidferreira commented on #5620
@thienlnam Let's use https://expensify.slack.com/archives/C01GTK53T8Q/p1635255533107600 that's an already existing thread

[2021-11-02 18:32] thienlnam commented on #5593
Gotcha, in that case go ahead and use parasharrajat's suggestion and handle errors by throwing inside the .then() if it's not a 200

[2021-11-02 18:36] Santhosh-Sellavel commented on #6157
First of all this issue was not addressed in the PR https://github.com/Expensify/App/pull/5969

Also, we would still need to hold proposals.
Because as @chiragsalian said [here](https://github.com/Expensify/App/issues/5755#issuecomment-952423052)

Then,  based on the outcome of the discussion we should resume proposals!

[2021-11-02 18:36] NikkiWines commented on #5310
Sorry for the delay, this slipped off my radar somehow.

I think @AlfredoAlc's proposed solution [here](https://github.com/Expensify/App/issues/5310#issuecomment-948082563) sounds fine, though I think @sidferreira's suggestion of replacing `<Fragment>` with `<View>` might be a nicer solution than fiddling around with margins and padding to make sure things are aligned correctly (assuming that chan

[2021-11-02 18:37] laurenreidexpensify commented on #5158
@parasharrajat you're now paid - thanks for patience - Tom was taking some well deserved OOO and this slipped through the net!

@rushatgabhane i've hired you for the job in upwork, as soon you accept I'll end the contract and get you paid tomorrow. Thanks!

[2021-11-02 18:38] sidferreira commented on #5310
@NikkiWines will do

[2021-11-02 18:39] #6150 closed

[2021-11-02 18:44] laurenreidexpensify commented on #5158
@rushatgabhane paid! Thanks!

[2021-11-02 18:44] #5158 closed

[2021-11-02 18:46] Luke9389 commented on #5158
@laurenreidexpensify to the rescue! Thanks!

[2021-11-02 18:48] rushatgabhane commented on #5158
@laurenreidexpensify Appreciate it! Thank you!

[2021-11-02 18:48] chiragsalian commented on #5945
1 and 2 are correct. 3 is not needed. I meant that for the follow-up issue MattAllen created and it looks like he updated the follow-up issue title to reflect the same.

You just need to address your points 1 and 2 for this issue 🙂

[2021-11-02 18:49] roryabraham commented on #5070
Yes, this will be helpful. And I'm actually going to update the OP to more generically state that any `Hourly` issues should be assigned accounting for timezone so they can be addressed with urgency.

[2021-11-02 18:49] PrashantMangukiya commented on #5593
Thanks @thienlnam  I will implement it as per parasharrajat's  suggestion `i.e. handle errors by throwing inside the .then() if it's not a 200. `  So once I will test it properly thereafter submit pr as soon as possible.

[2021-11-02 19:05] mallenexpensify commented on #4559
@mananjadhav , I assigned issue to you, can you apply to the Upwork job so I can get you hired there? https://www.upwork.com/jobs/~01055c345a6223f23c

Please confirm in a comment here once you have

[2021-11-02 19:12] danieldoglas commented on #6122
@mvtglobally even in staging, I can't access that account because of 2FA.

![image](https://user-images.githubusercontent.com/5818999/139929643-9d0ce1b9-3603-4dcb-82ca-b216dd40522a.png)

If you disable 2FA, is the bug still happening? If not, please disable so I can debug it.

And in case it only happens when 2FA is enabled, I can enable it on my device and disable again for you.

[2021-11-02 19:13] Luke9389 commented on #6069
Yea that's a good point about keeping it out of `navigate`. Separation of concerns.

I think it's a matter of users repeatedly going through the same flow and _anticipating_ what to do next (and then jumping the gun). The burden seems to be accidentally hitting a key too soon, so then your search results are based on the wrong letter and you've gotta backspace it up and try again.

To me, it seems

[2021-11-02 19:13] akshayasalvi commented on #5079
Can you confirm we are okay with SignIn Layout?  With Signin Layout we won't have a `X` button then the design has to be changed.

Then what I'll do is I'll raise a draft PR and share.

[2021-11-02 19:14] isagoico opened #6175 "[HOLD for payment 2021-11-29] Log in - Bottom footer is not bottom aligned - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open New Expensify on mobile

## Expected Result:
The footer should be bottom aligned

## Actual Result:
Footer is not bottom aligned

## Workaro

[2021-11-02 19:16] Luke9389 commented on #5572
No worries @mountiny :)

[2021-11-02 19:16] mallenexpensify commented on #5142
https://www.upwork.com/jobs/~01396fef12d0e84b11
Created new job (other was auto-closed), raised price to $500

[2021-11-02 19:20] mallenexpensify commented on #5162
Created new Upwork job, other had auto-closed
https://www.upwork.com/jobs/~01c973ddeff1487694
Doubled price to $500

[2021-11-02 19:21] chiragsalian commented on #6175
Odd, i only try to unassign myself but it removes the other assignee too. Maybe i'm doing it too fast.

Anyway, this should be a straightforward external issue.

[2021-11-02 19:24] mallenexpensify commented on #5291
@Julesssss can you review @eVoloshchak proposal above? https://github.com/Expensify/App/issues/5291#issuecomment-955576485

Created new job in Upwork, other had expired
Doubled price to $500 https://www.upwork.com/jobs/~01ff20b40c42f9bf74

[2021-11-02 19:27] mallenexpensify commented on #5296
Removed `Help Wanted` label since it's on hold

[2021-11-02 19:35] nickmurray47 commented on #6133
Got it! Reproduced the same locally. It seems like right now that when we get the user's preferred locale on sign-in in `AuthScreens.js` that we're not retrieving the correct value. Going to dig a bit deeper and try to get a quick PR up soon.

[2021-11-02 19:37] johnmlee101 commented on #6164
How big is the file uploaded directly? We have an upper limit of 25MB

[2021-11-02 19:57] #6092 closed

[2021-11-02 20:14] Luke9389 commented on #6157
Thanks, @Christinadobrzyn, good catch. Now that I read the PR comments on that, Chirag did recommend making a separate issue for this. I'll tag @Expensify/design to see how we want to chop this text. I think a `...` in the middle of the text could be cool so we can still see the file extension at the end.

[2021-11-02 20:17] stitesExpensify commented on #4559
I think we can just do it every time someone sends an emoji, it's not that big of a deal IMO

I was suggesting we just run through the unsorted list and find the most used ones, but I changed my mind :smile: I think sorting like you suggested makes sense

[2021-11-02 20:29] tgolen commented on #6076
Thanks, @CamilaRivera! Could you please take a look at the blame for that line and see why it was added as "center" and make sure this wouldn't cause any regressions?

[2021-11-02 20:38] mallenexpensify commented on #3189
@anthony-hull , can you provide an update on when we can expect a PR? Thanks

[2021-11-02 20:38] aldo-expensify commented on #6075
I'm not 100% convinced about that the cursor over the thumbnail should be a magnifying glass. It makes sense to me once the image is "opened" and clicking it zooms in, but here you are not exactly just zooming in, you are opening a modal with the image which has a download button.

[2021-11-02 20:48] mallenexpensify commented on #4911
Couple questions:

1. Who's hired to work on this job? No one is assigned to the Upwork job or this issue. I want to ensure the right contributor/s get compensated.
2. Should this issue be closed if it's still being worked on?  Yes because [this PR](https://github.com/Expensify/App/pull/6156)  was merged?

[2021-11-02 20:56] mallenexpensify commented on #5623
@bfitzexpensify updated title to pay on 11/8, doesn't look like was auto updated yesterday when the issue closed.  Also reopening this til contributor is paid.  @NikkiWines let me know if I'm missing anything here

[2021-11-02 21:00] NikkiWines commented on #5623
Oh sorry, must've auto-closed cause I merged the PR. Your update looks good @mallenexpensify

[2021-11-02 21:16] ahramay commented on #5952
I see your video and pic of the error. data you pass from an array. In the array, we pass data in a specific position. In your project, the array cannot pick data in a specific position so that's why this problem occurred. But when I see the code and then I will tell you the actual issue.

[2021-11-02 21:22] yuwenmemon commented on #4911
@mallenexpensify let's compensate @meetmangukiya since I used their idea for the PR, this quick fix will help us resolve Apple's issue.

Then let's reopen as we still want to get to the bottom of the issue, for which we are still accepting proposals and looking at @parasharrajat's.

[2021-11-02 21:44] mvtglobally commented on #6127
Regression is finished!
Blockers found this round:

- Resolved - iOS - IOU - Unable to select amount for request /send money flow #6147
- Resolved - iOS - Not able to select any contact in new chat or new group flow #6148
- Resolved - iOS / Android - App crashes after sending 2nd emoji #6150
- Android - Chat - Unable to select searched user from the results  #6160

Additional Issues found:

- IOU

[2021-11-02 22:03] mvtglobally commented on #6160
We retested and it looks resolved now

https://user-images.githubusercontent.com/43995119/139957907-9d40865b-471d-4461-8587-6633d80831da.mp4

[2021-11-02 22:09] SofiedeVreese commented on #5870
Niiice! I've hired @CamilaRivera via Upwork now.

[2021-11-02 22:10] sidferreira commented on #5310
@NikkiWines it seems that replacing `<Fragment />` by `<View />` won't work on more complex issues. I also want highlight that this issue happened me on commit fe586986f8e6ccbc3dfb2e2022c15b42519c9667

[2021-11-02 22:15] SofiedeVreese commented on #4994
Whoops sorry, that's totally my bad @mountiny thank you for cleaning this issue up! 🙌

[2021-11-02 22:16] mallenexpensify commented on #4515
@parasharrajat , can you apply [here](https://www.upwork.com/jobs/~0143e03f4c1c18d4cf) then comment on this GH and I'll get you paid.  Thanks

[2021-11-02 22:23] NikkiWines commented on #5310
Thanks for testing @sidferreira. Looks like @AlfredoAlc's proposed solution is the way to go!

@mallenexpensify can you hire @AlfredoAlc for this job? Thank you

[2021-11-02 22:34] TomatoToaster commented on #6077
Discussed with @mallenexpensify, I think we can close this. The discrepancy is a good find @mvtglobally, but this might be more tricky to make uniform than it's worth (it might just be part of how iOS shows keyboards in Safari vs Mobile Apps).

Since you can see who paid after closing the keyboard again, it's still functional.

[2021-11-02 22:34] #6077 closed

[2021-11-02 23:04] tylerkaraszewski commented on #6158
Seems like an obvious external issue.

[2021-11-02 23:07] adelekennedy commented on #5573
@Julesssss and @parasharrajat what are our next steps for this issue? It looks like we're one day out from doubling the price and there hasn't been much movement

[2021-11-02 23:16] yuwenmemon commented on #6127
:shipit:

[2021-11-02 23:16] #6127 closed

[2021-11-02 23:19] botify commented on #4355
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.12-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/5960

If no regressions arise, payment will be issued on 2021-11-09. :confetti_ball:

[2021-11-02 23:19] botify commented on #5973
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.12-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6061

If no regressions arise, payment will be issued on 2021-11-09. :confetti_ball:

[2021-11-02 23:19] botify commented on #4211
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.12-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/5745

If no regressions arise, payment will be issued on 2021-11-09. :confetti_ball:

[2021-11-02 23:21] OSBotify opened #6182 "Deploy Checklist: New Expensify 2021-11-02"
**Release Version:** `1.1.13-2`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/5933
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6093
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6139
  - [x] QA

[2021-11-02 23:44] mallenexpensify commented on #4491
Paid Aman with bonus in Upwork, closing.

[2021-11-02 23:44] #4491 closed

[2021-11-02 23:50] mallenexpensify commented on #5070
https://expensify.slack.com/archives/C03SSAQ7P/p1635897012167300
🎲 🎲

[2021-11-02 23:55] mallenexpensify commented on #6032
Bumped to Weekly since this isn't going to be 'quick'.  We still want to continue to discuss

[2021-11-02 23:59] MitchExpensify commented on #6175
[Upwork job](https://www.upwork.com/jobs/~011036e6cb36370523)

[2021-11-03 00:15] mallenexpensify commented on #6069
I was just able to `command+k` and type `nik` before `ki showed up in the box.  If someone is able to type at least 3 characters, I don't _think_ it's an edge case.
Honestly.. I think I've unknowingly trained myself to pause before typing since I 'command+k` 100(?) times a day.

 Let's fix it if we _reasonably_ can.  If y'all aren't sold on it being important, let's drop a poll into #expensify-ope

[2021-11-03 00:58] mallenexpensify commented on #4911
@meetmangukiya , can you apply for this 'first fix' job in Upwork and comment here when you have?
https://www.upwork.com/jobs/~01c3a3de1be7363534
Compensation will be $250 because the first fix being implemented was submitted before the price increase and because additional work will be done.

[2021-11-03 01:14] parasharrajat commented on #5573
@adelekennedy We already have proposals. Just need to be decided by @Julesssss which is the best now

[2021-11-03 01:32] parasharrajat commented on #4515
@mallenexpensify Done.

[2021-11-03 01:35] monykini commented on #5142
This issue isn't related to the copied content , It's <textarea> not allowing html content inside
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea ,
The HTML <textarea> element represents a multi-line plain-text editing control.
     **_Permitted content Text_**
Now how do you handle this ?
There are multiple solutions ,
One -> convert the textarea to div with contenteditable="tr

[2021-11-03 01:39] parasharrajat commented on #6175
### Proposal
1. I am already fixing other issues with the login page.
2. One such issue is here https://expensify.slack.com/archives/C01GTK53T8Q/p1635499712244400.
In this https://github.com/Expensify/App/pull/6137.

That PR modifies the Login Page on wide screens currently, I will extend that to the Narrow screen Login page as well. and fix it.

It requires manipulating the UI elements to achieve

[2021-11-03 02:08] parasharrajat commented on #5162
Sorry, @NicMendonca just forgot to reply to your comments. I think we can keep the same issue and if my suggestion looks good then we can proceed.

I just need n x b size for thumbnails.

[2021-11-03 02:16] meetmangukiya commented on #4911
@mallenexpensify applied to the job. Glad to see that my proposal helped even for a workaround.

[2021-11-03 02:37] CamilaRivera commented on #6076
Thanks, @tgolen! I was indeed breaking it when the image was zoomed in, so for avoiding that I need to check first the state isZoomed. If is zoomed I will keep the resizeMode to `contain` but if is its original size it should be `center`. The proposal would be the following one:

### Proposal

[code]

[2021-11-03 02:38] parasharrajat commented on #5637
@laurenreidexpensify It looks like you are commenting on the wrong issue. Anyways, this https://github.com/Expensify/App/pull/6138 does not solve this issue. I am still figuring out the root cause here.

[2021-11-03 03:02] stephanieelliott commented on #5971
Holding while we wait on reproduction

[2021-11-03 03:06] stephanieelliott commented on #5811
All paid up, thanks @akshayasalvi!

[2021-11-03 03:06] #5811 closed

[2021-11-03 03:09] stephanieelliott commented on #5521
All set and paid in Upwork. Thanks @mateomorris!

[2021-11-03 03:09] #5521 closed

[2021-11-03 04:56] parasharrajat commented on #4993
@MitchExpensify just bringing to your attention that I have done extra work on the PR for this issue based on this https://github.com/Expensify/App/issues/4993#issuecomment-910837371 request.

According to this, this job should be paid with a bonus for that work which is exclusive of N6-bonus. Thank you.

[2021-11-03 05:01] aswin-s commented on #5162
The root cause of the issue is incorrect image size calculation. The `ThumbnailImage` component computes scaled width and height for the remoteURL using the inbuilt`getSize` method. This doesn't take into consideration the style applied for image elements, which has a 1px border around it.

[code]
 So the rendered image will have its resultant width reduced by 2px when it gets rendered onto screen

[2021-11-03 05:31] kadiealexander commented on #6158
Upwork job is live: https://www.upwork.com/jobs/~01cc79eda5fa4843d7

[2021-11-03 05:50] Christinadobrzyn commented on #6157
Thanks for clarifying it's not part of PR @Santhosh-Sellavel and pinging design @Luke9389

Sounds like we'll wait to get thoughts from design on what the truncated attachment name should look like and then collect proposals.

[2021-11-03 07:21] Christinadobrzyn commented on #5894
@parasharrajat are you still interested in this job?

[2021-11-03 08:00] parasharrajat commented on #5894
Haven't looked at it yet. If I have a solution, I will propose here. Thanks for asking. 🙂

[2021-11-03 08:12] trjExpensify commented on #4867
Presuming this is passing the KI retests because the PR has merged, right?

[2021-11-03 08:45] trjExpensify commented on #4867
Anyhow, I've gone ahead and paid this, so I'm closing it out. 👍

[2021-11-03 08:45] #4867 closed

[2021-11-03 09:15] trjExpensify commented on #5875
👋 back from OoO today. @mateomorris I've gone ahead and hired you on Upwork. Feel free to proceed with a PR 👍

[2021-11-03 10:15] robertjchen commented on #5917
I can't seem to reproduce this anymore in prod, I get properly transitioned into the new account on NewDot without the spinner.

[2021-11-03 10:15] #5917 closed

[2021-11-03 10:48] Beamanator commented on #5774
Can you please explain what you're suggesting here? It sounds like you're saying we can add just `App links {{Android}}, {{iOS}} and {{Desktop}}` in the `getWelcomeNotePlaceholder` test, and before we send it using `invite` we can replace the `{{Android}}` with the Android download links, etc.?

[2021-11-03 10:49] parasharrajat commented on #5158
Hey, @laurenreidexpensify I was expecting the N6 bonus.

[2021-11-03 10:52] Beamanator commented on #5807
Noice, reproduction steps seem clear & straightforward. Ready for proposals

[2021-11-03 11:26] trjExpensify commented on #5772
@akshayasalvi did you apply to the job on Upwork? https://www.upwork.com/jobs/~01ba750a42f01afa12

[2021-11-03 12:50] azimgd commented on #3381
https://github.com/Expensify/react-native-web/pull/1
https://github.com/necolas/react-native-web/pull/2151

[2021-11-03 13:10] isagoico commented on #6182
Starting QA! 🚀

[2021-11-03 13:19] michaelhaxhiu commented on #5994
This is on hold for right now, as Matt Allen and I are working on an Offline First gameplan where we layout which features we want to be offline supported.

[2021-11-03 13:20] akshayasalvi commented on #5774
yeah that's what I am saying

[2021-11-03 13:23] akshayasalvi commented on #5772
@trjExpensify Done. Sorry about that.

[2021-11-03 13:24] akshayasalvi commented on #5811
@stephanieelliott I received one payment. I guess I didn't receive for reporting the issue.

[2021-11-03 13:32] iwiznia commented on #5079
I am unsure I get it, can you explain it again to me and answer my question above?

[2021-11-03 13:33] MonilBhavsar commented on #4928
Will be looking after I come back from ooo

[2021-11-03 13:44] #6160 closed

[2021-11-03 13:44] MonilBhavsar commented on #6160
Closing it for now, feel free to reopen

[2021-11-03 13:58] bfitzexpensify commented on #5754
Bump! @johnmlee101

[2021-11-03 14:07] iwiznia commented on #4425
@trjExpensify I think no regressions have been found, so you can pay this.

[2021-11-03 14:19] #4425 closed

[2021-11-03 14:27] kakajann commented on #5926
Any news?

 I can start working if you like my proposal

[2021-11-03 14:55] puneetlath commented on #4629
@roryabraham @MTN718 how's this going?

[2021-11-03 15:05] MTN718 commented on #4629
I'm waiting rory's confirmation.

[2021-11-03 15:13] Dal-Papa commented on #5701
Haven't had time to work on this but I now have this [handy SO](https://stackoverflow.com/c/expensify/questions/10607/10608#10608) to reproduce locally.

[2021-11-03 15:21] mallenexpensify commented on #4515
Hired @parasharrajat , let me know once you've accepted and I'll pay (can't wait for this process to be more streamlined, should be soon)

[2021-11-03 15:39] tgolen commented on #5070
Does anyone know if we have existing code that figures out timezone availability? Could you help point in the right direction? cc @timszot

[2021-11-03 15:43] timszot commented on #5070
Just want to clarify the logic here. The idea is that when an hourly label is applied, assign someone that is currently inside their own working hours? I don't think TimezoneSelection would help with this since we'll be trying to calculate the current time for each potential assignee.

[2021-11-03 15:56] mallenexpensify commented on #4911
Paid @meetmangukiya , thanks for the help!

[2021-11-03 16:00] akshayasalvi commented on #5079
Okay, let me give it another shot.

1. Taking up on your suggestion I am saying, we add a subform in the `SetPasswordPage`, which consists of the `WelcomeScreen` form.
2. Based on the state and a visibility flag after the user submits the password, we show the `Welcome` form
3. On clicking the `Get Started` button of the `Welcome` form, we call `validateAndSubmitForm` which includes `API.ValidateE

[2021-11-03 16:00] trjExpensify commented on #5772
Awesome, thanks! I've sent you the offer. Once accepted, I'll go ahead and process the payment 👍

[2021-11-03 16:03] parasharrajat commented on #4515
@mallenexpensify Done.

[2021-11-03 16:10] NikkiWines commented on #5637
I think @laurenreidexpensify brought this up it because it looks like your draft PR https://github.com/Expensify/App/pull/6138 mentions this issue.

[2021-11-03 16:12] trjExpensify commented on #5772
Yup, that's correct! Paid! 😃

[2021-11-03 16:12] #5772 closed

[2021-11-03 16:31] tgolen commented on #6076
Ah, cool. Thanks for checking that! The proposal looks good so I give the 🟢 for you to be hired on UpWork for this.

[2021-11-03 16:33] thienlnam commented on #3381
@azimgd Your PR requires a signed commit https://github.com/Expensify/react-native-web/pull/1, could you reupload it with a signed commit or create a new PR that has it?

[2021-11-03 16:37] NicMendonca commented on #6076
@CamilaRivera hired!

[2021-11-03 16:37] parasharrajat commented on #6175
Ok. @luacmartins Updated.

[2021-11-03 16:44] laurenreidexpensify commented on #5158
Ah sorry Rajat - will hook you up now!

[2021-11-03 16:44] isagoico commented on #6182
@roryabraham @AndrewGable iOS and Desktop are on Hold a the moment. Build 1.1.13-0 is not available yet for download

[2021-11-03 17:10] #4515 closed

[2021-11-03 17:16] deetergp commented on #5906
@Santhosh-Sellavel I think the second way is a little cleaner so let's go with that. Thanks!

[2021-11-03 17:30] Jag96 commented on #6121
@parasharrajat good find! I think that can be filed separately then, feel free to post it in [slack](https://expensify.slack.com/archives/C01GTK53T8Q)

[2021-11-03 17:31] deetergp commented on #6154
This can be external, but I want to verify that this is the bug and not the behavior we see on web/desktop.

[2021-11-03 17:32] sidferreira commented on #5926
@kakajann in case you are chosen, keep in mind they have `react-native-safe-area-context` available

[2021-11-03 17:37] danieldoglas commented on #3797
Back on it.

[2021-11-03 18:05] anthony-hull commented on #3189
Hey @mallenexpensify I'm working on this today.

Apologies, I incorrectly assumed that the API would behave differently.

I've found out that you don't get a new code sent out if you mutilate the token if your account is still awaiting validation. But if you have already validated your account and you use that page with a malformed code it will resend one.

The above steps and discussion were base

[2021-11-03 18:08] mallenexpensify commented on #5310
@AlfredoAlc can you submit a proposal then add a comment here when you have? https://www.upwork.com/jobs/~010e9d8b1d729ec4f7

[2021-11-03 18:10] laurenreidexpensify commented on #5158
Done!

[2021-11-03 18:15] parasharrajat commented on #5405
Reviewed the PR based on the request here https://github.com/Expensify/App/pull/6095#issuecomment-954062016.

[2021-11-03 18:16] marcaaron commented on #6081
Quick follow up on this issue - we are kind of back at square one (at least for policies) since:

1. Policy NVP can be deleted completely
2. The ownership can also be transferred (effectively deleted for the original owner)
3. They can also be shared and unshared (effectively deleted for the unshared user)

So, it's not clear how to proceed with the above solution. We could start storing on each u

[2021-11-03 18:27] luacmartins commented on #6175
@parasharrajat Thanks! Proposal looks good, please apply to the Upwork job.

@MitchExpensify let's hire @parasharrajat for this job.

[2021-11-03 18:30] Julesssss commented on #2545
No change

[2021-11-03 18:32] AlfredoAlc commented on #5310
@mallenexpensify I've submitted my proposal.

[2021-11-03 19:06] AndrewGable commented on #5667
I agree, low priority. Let's close and reopen when we've fixed all the other bugs more important than this one.

[2021-11-03 19:06] #5667 closed

[2021-11-03 19:16] thecodingeek commented on #6158
Hey everyone ! I am new here. I just saw this on Upwork and as per the requirement first I looked into the issue. So here are my findings,

Seems like this UI is designed with Tablets in mind as well, so on the mobile it is implemented as the separate screens but those are actually not.

HeaderView.js file has the following code,

{props.isSmallScreenWidth && (
                    <Tooltip text={p

[2021-11-03 19:17] azimgd commented on #3381
What do you think would be an acceptable way of swapping libs at https://github.com/Expensify/App/blob/main/package.json#L100 ? Perhaps installing react-native-web from git same way it's done for `react-native-onyx` and `expensify-common` ?

[2021-11-03 19:17] thienlnam commented on #3381
Approved and merged, now could you create an App PR that uses this forked version?

That should work

[2021-11-03 19:32] mountiny commented on #6050
PR is in a review!

[2021-11-03 19:38] mallenexpensify commented on #3189
Do we even want to cover this situation?

I think it's an edge case that we likely don't need to focus on.

Not an engineer but.... this makes sense to me.  ie. Don't make the user click another button if we already know their token is expired and that they need a new email sent to them.

Also agree with this, I'm fine with _nothing_ happening if a malformed token/link is used. Maybe we just send

[2021-11-03 19:44] mallenexpensify commented on #5310
Hired @AlfredoAlc in Upwork

[2021-11-03 19:47] jboniface commented on #5295
payment scheduled for tomorrow, not overdue

[2021-11-03 19:50] azimgd commented on #3381
We would probably need to add a `prepare` script into package.json as well as repo won't contain build artifacts https://github.com/azimgd/react-native-web/commit/3d1109f4161bc2353042756f840b771bc3290339 what do you think about this ?

[2021-11-03 20:15] thienlnam commented on #3381
I'm not following why we need this, are we not able to just include the forked version into package.json?

[2021-11-03 20:25] MitchExpensify commented on #5462
Hey @parasharrajat ! If you could accept the invite to the new Upwork posting that would be great https://www.upwork.com/jobs/~01bf778387677c2274

The OG post closed because of the n6 hold

[2021-11-03 20:28] MitchExpensify commented on #4993
Thanks for the heads up @parasharrajat !

[2021-11-03 20:36] NicMendonca commented on #5193
Doubled job to $500 - https://www.upwork.com/jobs/~012d2ac28c5b8b0757

[2021-11-03 20:38] NicMendonca commented on #5162
Not overdue, job price was doubled yesterday: https://www.upwork.com/jobs/~01c973ddeff1487694

[2021-11-03 20:53] MitchExpensify commented on #6175
Please submit a proposal in Upwork and I will hire you @parasharrajat (There is a bug on my end when I'm trying to hire you without a proposal being submitted)

[2021-11-03 21:03] #6136 closed

[2021-11-03 21:08] Santhosh-Sellavel commented on #4905
Seems the Upwork job for this one expired, can someone help me here!

[2021-11-03 21:18] #6123 closed

[2021-11-03 21:18] marcaaron commented on #6151
Now tell me what you like about it ? :trollface:

So yeah, points taken and I agree with a lot of it and mainly tried to come up with _something_ to kick off this conversation that could maybe satisfy our constraints of

A - Not wanting excessive promise chains
B - Not wanting to use `Onyx.get()`
C - Not wanting to adopt Async/Await

We could solve it by having a particular method blocked by the "

[2021-11-03 21:25] yuwenmemon commented on #6182
@isagoico it should be available now!

[2021-11-03 21:42] roryabraham commented on #5588
Hmmm, that didn't work here either 🤔

[2021-11-03 21:51] roryabraham commented on #4010
Not overdue, still on HOLD

[2021-11-03 21:53] roryabraham commented on #2985
Hoping to make progress on this today, assuming I can finish out my last daily first.

[2021-11-03 21:54] mallenexpensify commented on #4905
@Santhosh-Sellavel can you please submit a proposal here and confirm via a comment here once you have?
https://www.upwork.com/jobs/~012b8705e519b871a1

[2021-11-03 21:57] kidroca commented on #6151
I think we should revisit some of these constraints.
For example the idea behind not exposing `Onyx.get` is to prevent people using it in components, but you're not supposed to use anything but `withOnyx` anyway.

I've seem to have set a trap for myself with the Promise based example [here](https://github.com/Expensify/App/issues/6151#issuecomment-957424645) but there are ways to make the promise

[2021-11-03 22:00] Santhosh-Sellavel commented on #4905
Thanks, @mallenexpensify Done!

[2021-11-03 22:04] kidroca commented on #6151
IMO if we go with the `ActionCollection` we should make it as less configurable as possible - no mappings definition
1. Make `Onyx.init` return a promise
2. Make `Onyx.init` accept list of initial keys to pre-cache or cache the "cheap keys" (all safe for eviction)
3. When that promise resolves we're ready
3. Expose `getSync` that will be used as in the first example [here](https://github.com/Expen

[2021-11-03 22:20] mallenexpensify commented on #4905
Paid @Santhosh-Sellavel $1000 in Upwork, cha-ching! 💰
$500 for job, $250 for reporting, $250 for `n6 hold`

[2021-11-03 22:20] #4905 closed

[2021-11-03 22:40] deetergp commented on #6154
The consensus is, let's do it 👍 Setting external…

[2021-11-03 22:46] roryabraham commented on #5070
Yep, that's what I was thinking.

[2021-11-03 22:53] mallenexpensify commented on #3981
Current nemesis issue for me, checking in Slack to confirm this is still an issue for people https://expensify.slack.com/archives/C01GTK53T8Q/p1635979970456600

[2021-11-03 22:55] Santhosh-Sellavel commented on #4905
I see for the job it should be $250 but overpaid $500 by @mallenexpensify

Refund Initiated for $250 and Completed, thanks!

[2021-11-03 22:58] mallenexpensify commented on #4905
Thanks for honesty and transparency @Santhosh-Sellavel

[2021-11-03 22:58] kadiealexander commented on #6158
@mountiny do you have any thoughts on @thecodingeek's proposal above? :)

[2021-11-03 23:03] marcaaron commented on #6151
👍

[2021-11-03 23:13] kevinksullivan commented on #6132
@isagoico just to be sure before I export this, would you mind adding a screenshot of the iOS notification for comparison?

[2021-11-03 23:13] mountiny commented on #6158
Hello @thecodingeek! Great to have you onboard. Thank you very much for your proposal. I must admit I like @parasharrajat more general solution a little bit more 😬  Essentially, as you proposed to add the `Keyboard.dismiss()` into the callback, I believe it would be better to place the keyboard dismissal into the `openDrawer()` function in Navigation.

We would want to close the keyboard anytime w

[2021-11-03 23:54] kavimuru opened #6198 "Send money - App freezes tapping payment button in send money flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login with expensifail account
2. Click the FAB button  and select Send money
3. Enter an amount and tap Next button
4. Select

[2021-11-03 23:54] OSBotify commented on #6198
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-04 00:07] thecodingeek commented on #6158
Hello @mountiny, hmm if the keyboard is supposed to be closed anytime user moves to Drawer, then it is better to put the same in `openDrawer()` method.

I will check some other issue too :)

[2021-11-04 00:12] sidferreira commented on #5637
@NikkiWines @laurenreidexpensify

I did some tests and it seems to me that the problem is somehow related to the following line:

https://github.com/Expensify/App/blob/dc674375d75cb654b87c9bef94b9fc5cf1ef4319/src/pages/home/report/ContextMenu/ContextMenuActions.js#L107

I believe there's a conflict happening between the `React Native's Modal` (base for `react-native-modal/Popover/ContextMeny`) and

[2021-11-04 00:30] isagoico commented on #6182
Thank you so much @yuwenmemon. QA was resumed on those environments ~3 hours ago and should be finished in a little while 🙇‍♀️

[2021-11-04 00:47] isagoico commented on #6132
Sure! here's a pic. No profile images are displayed on iOS, only the app icon.
<img src="https://user-images.githubusercontent.com/44479856/140238721-259049fa-fcfe-42bc-a169-7dbac50fbc9b.png" width="40%">

[2021-11-04 00:48] Jag96 commented on #6198
Interesting, the error for this one is
[code]

I initially started looking for PRs in the deploy checklist that added strings without text, but after not seeing any I found https://stackoverflow.com/a/59108109/2509962 which lead me to the problem (we also mention this in our [style guide](https://github.com/Expensify/App/blob/main/STYLE.md#important-note). The error is in https://github.com/Expens

[2021-11-04 01:24] isagoico opened #6202 "Android - Login - Keyboard overlaps with "Continue" button - Reported by: @rushatgabhane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app in Android device
2. Click on the email field in login

## Expected Result:
Keyboard should not overlap with continue button

## Actual

[2021-11-04 01:28] isagoico commented on #4105
Reopening this issue since @mallenexpensify was able to reproduce here https://expensify.slack.com/archives/C01GTK53T8Q/p1635954172411200

![image](https://user-images.githubusercontent.com/44479856/140242032-90e6b7ca-f1f0-4833-bc5b-d48db22a1400.png)

[2021-11-04 01:35] parasharrajat commented on #6175
@MitchExpensify Done.

[2021-11-04 01:39] parasharrajat commented on #6202
So I am working on a PR https://github.com/Expensify/App/pull/6203 for https://github.com/Expensify/App/issues/6175 which require adjusting the Login Page UI. I checked the UI is moving up on focus but  It is not yet moving correctly.

I will adjust the solution on the same PR to fix the behavior in this issue as well. So the plan is to cover this as well in that PR.

[2021-11-04 01:54] parasharrajat commented on #5462
I will accept the job but I am still working on a follow up PR so let's just not release the payment for now and until that PR is deployed we can hold the payment.

[2021-11-04 02:03] isagoico opened #6204 "[HOLD for payment 2021-12-06] iOS - Edit comment - Buttons are not aligned with keyboard and look cut off"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation (make sure is with a user that shows the time zone message above compose box)
2. Long press on a message
3. Check the

[2021-11-04 02:26] sidferreira commented on #5892
@mallenexpensify It seems that adding `overflow: hidden!important` to the `body` tag fixes the issue.

So, my suggestion is to:

- add `.block-pull-to-refresh { overflow: hidden!important; }` to the `index.html` file
- add `const blockPullToRefresh = navigator && navigator.appVersion && navigator.appVersion.indexOf('iPhone OS 1') >= 0;` to `AttachmentModal.js`
- add `if (blockPullToRefresh) { docu

[2021-11-04 03:15] MitchExpensify commented on #5462
Ok thanks for the heads up! Offer sent

[2021-11-04 03:20] Christinadobrzyn commented on #6157
@Expensify/design when possible, can you let us know how you'd like the truncated attachment name should look in newdot?

[2021-11-04 03:36] stephanieelliott commented on #5811
Oops, thanks @akshayasalvi - bonus issued!

[2021-11-04 03:44] #6153 closed

[2021-11-04 03:54] akshayasalvi commented on #5811
@stephanieelliott Sorry to bother you again. Did we reduce the bonus reporting amount? I received 150$ as a bonus instead of 250.

[2021-11-04 04:00] isagoico commented on #6182
Regression is **_almost_** finished. Only issue found so far:
1. https://github.com/Expensify/App/issues/6198

We will post here if there are more issues found when the few remaining steps are done.

[2021-11-04 04:57] sidferreira commented on #4756
@mountiny @laurenreidexpensify Oh! This was a tricky one!!!

So, the problem is something deep into `react-navigation`. Basically, when you use the `Switch chat` feature, the `ReportScreen` wasn't being `unmounted/mounted`, just updated, but if you go through the sidebar, it works just fine.

The problem happens in `CustomActions.js` inside `pushDrawerRoute`.
If you switch screens from the drawer,

[2021-11-04 06:47] thecodingeek commented on #5620
### Findings and Proposal

Hello everyone,

I tried to look into the causes for this issue. Below I am sharing my findings and a proposal for one reason.

As per `Expensify.js` file

[code]

I think there are very less chance for not getting auth token, so it can most probably happen because either `initialReportDataLoaded` is false or `isSidebarLoaded` is false.

One _very interesting_ thing whic

[2021-11-04 07:06] Beamanator commented on #5774
Hmm this could work well, but I'd like to hear what other people think. It's possible `{{Android}}, {{iOS}} and {{Desktop}}` makes sense for developers but won't make sense for normal users 🤔 Do you mind asking in #expensify-open-source what people prefer out of these options:
1. Go with the original idea, which shows the links in raw html [here](https://github.com/Expensify/App/issues/5774#issuec

[2021-11-04 07:09] Beamanator commented on #4211
Hmm looks like this PR got reverted here: https://github.com/Expensify/App/pull/6161 - @parasharrajat is looking into how to fix the issues that came from this PR

[2021-11-04 07:49] sidferreira commented on #5894
@Christinadobrzyn Not sure if fixable: https://stackoverflow.com/questions/61014250/empty-space-on-the-bottom-of-the-page-when-swipe-up-on-safari-ios . I tried the same as https://github.com/Expensify/App/issues/5892#issuecomment-960382897 but didn't work.

[2021-11-04 08:43] laurenreidexpensify commented on #5757
Issuing payment for bug report + deploy to @parasharrajat now

[2021-11-04 08:45] #5757 closed

[2021-11-04 08:46] laurenreidexpensify commented on #5403
Issuing payment now:
Deployed fix - @AlfredoAlc
Bug report - @Santhosh-Sellavel - I'll create a job in Upwork for you now

[2021-11-04 08:52] laurenreidexpensify commented on #5403
Okay @AlfredoAlc you've been paid

@Santhosh-Sellavel as soon as you've accepted the hiring request in Upwork I'll issue your bonus payment 👍🏽

[2021-11-04 08:54] laurenreidexpensify commented on #5194
Issuing payment now @parasharrajat

$250 - bug report
$250 - issue deploy
$250 - N6 Hold

[2021-11-04 08:56] #5194 closed

[2021-11-04 08:58] laurenreidexpensify commented on #5973
@jliexpensify I'm traveling to States on Tues 9th so won't be online to issue payment. Can you pick up for me?

Payment details for next week:
@kakajann $250 for fix
@Santhosh-Sellavel $250 bonus for reporting issue

[2021-11-04 09:48] laurenreidexpensify commented on #5403
All payments issued.

[2021-11-04 09:48] #5403 closed

[2021-11-04 10:11] mountiny commented on #4756
@sidferreira Thank you for this deepdive. I appreciate you having a look into this, but as you said yourself, this seems like solution of last resort as it is a hack kind off.

Since this behaviour worked when we have fixed this previously, that makes me think there should be some less hacky solution 😅 I will keep this still as `Help Wanted` in that case to see if anyone will be able to figure out

[2021-11-04 10:18] aswin-s commented on #5193
Root cause of the issue is incorrect `imageWidth` & `imageHeight` calculation for `ImageZoom` component inside `ImageView`. Fixing the calculation based on device aspect ratio resolves the bug.

https://user-images.githubusercontent.com/6880914/140296572-34669a62-05d1-4e74-8834-324dc75d8549.mp4

[2021-11-04 10:36] sidferreira commented on #4756
@mountiny The real problem is that, on web, `defaultValue` is the first value set. As the component is unmounted and remounted when using the sidebar, the value is always cleared out. As the switcher does not causes the unmount (does not use reset), the value is reused.

I tried to use reset when doing the switch, but the navigator thrown errors not finding a navigator to apply the changes ( 🤷‍♂️

[2021-11-04 10:44] mountiny commented on #4756
@sidferreira Thank you for the description. My reasoning behind waiting for some other solution is, that this issue has been resolved previously and as far as I know we have not made any substantial changes to our Navigator or the switch. Therefore, if the root cause would indeed be in the fundamental implementation of the navigator, should this not be broken from the beginning? 🤔

There is no har

[2021-11-04 10:53] parasharrajat commented on #4756
@mountiny

### Reason
When we switch a report from the LHN, the report screen remounts as we reset the navigation state. But when we use the new chat, or searchPage, it does not reset the state,  but change the route params on the drawer action ReportScreen.

Remounting, reset the comment prop, and works great. But swapping the param only triggers `componentDidUpdate` .
We do have logic in place t

[2021-11-04 11:01] mountiny commented on #4756
I love this @parasharrajat. Let's move this to pull request once you will have time and make sure we test well the modals and navigation! Feel free to apply for the job on Upwork and let @laurenreidexpensify know once you have done so!

[2021-11-04 11:54] Beamanator opened #6208 "test issue, ignore!"
test to see if team members of @Expensify/contributor-plus get ping'd when tagged

[2021-11-04 12:23] parasharrajat commented on #6208
You summoned me... :mage:

[2021-11-04 12:39] aswin-s commented on #5162
@tgolen Applied for this issue on upwork. Could you please check whether the suggested proposal looks good?

[2021-11-04 12:39] azimgd commented on #3381
Nope @thienlnam. We need to compile them first. What if we use https://docs.github.com/en/packages/quickstart ?

[2021-11-04 14:03] jboniface commented on #5295
paid with n6-hold bonus

[2021-11-04 14:03] #5295 closed

[2021-11-04 14:06] kidroca commented on #5337
I was able to capture this bug and the `navigator.onLine` working incorrectly on my mac
I've noticed it while I was testing something on the iOS Simulator Safari

1. Disconnect from a wifi network - nothing happens - `navigator.onLine` remains `true` - you don't see the "You're offline" message
2. Connect to the same network - `navigator.onLine` is set to `false`, even though you're connected - yo

[2021-11-04 14:08] jboniface commented on #4690
paid with bonus for reporting and n6-hold

[2021-11-04 14:08] #4690 closed

[2021-11-04 14:26] mallenexpensify commented on #6208
@parasharrajat can you see if you can assign this issue to me and add the `Weekly` label?

[2021-11-04 14:27] anthony-hull commented on #3189
Thanks Matt. I'm waiting on my current code to expire before I can proceed. I need to see the API response when I hit it with an expired code and I don't know of a way to force this without access to the backend/database.

I will be able to better update you and progress the PR once I have that information.
I'll update you again on the 10th November when I'm back from holiday and can test this.

[2021-11-04 14:34] PrashantMangukiya commented on #5295
Thanks

[2021-11-04 14:37] PrashantMangukiya commented on #5102
@michaelhaxhiu  Can you give me idea about issue reproducible during KI test.

[2021-11-04 14:55] parasharrajat commented on #6208
I can't @mallenexpensify. Check
![image](https://user-images.githubusercontent.com/24370807/140336937-3bab4c71-60b8-47b7-9ee1-4dcccdc77323.png)

[2021-11-04 15:00] NicMendonca commented on #5920
Paid!

[2021-11-04 15:00] #5920 closed

[2021-11-04 15:02] NicMendonca commented on #5728
Paid!

[2021-11-04 15:02] #5728 closed

[2021-11-04 15:03] tgolen commented on #5620
@thecodingeek That's a good investigation. I think your instincts are right about the problem with `isSidebarLoaded`. I looked at some of my server logs this morning to see if I could find any issues with `fetchAllReports`. I found that the first time I opened my app today, the request to fetch reports failed ([server logs](https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%2

[2021-11-04 15:07] Santhosh-Sellavel commented on #5728
Thanks! @NicMendonca
It does qualifies for N6 hold bonus too right?

[2021-11-04 15:09] michaelhaxhiu commented on #5102
@PrashantMangukiya sure!

I just tested myself on the New Expensify desktop app, and the focus isn't staying on `Currency` after you make a currency change. That doesn't seem like the desired behavior based on the GH issue. The desired behavior is that after you change the currency, the focus should switch to the numeric value - right?

![focus is messed up](https://user-images.githubusercontent.c

[2021-11-04 15:12] parasharrajat commented on #5620
@tgolen Now the question is why does this only affect IOS.

[2021-11-04 15:18] stephanieelliott commented on #5811
Yikes, sorry @akshayasalvi - didn't realize we had recently upped the reporting bonus. Just issued the remainder of the bonus!

[2021-11-04 15:18] NicMendonca commented on #5728
@Santhosh-Sellavel Shoot sorry, I [missed that](https://github.com/Expensify/App/issues/5728#issuecomment-949915753). Just sent the bonus now.

[2021-11-04 15:19] Beamanator commented on #6208
This shows permission levels for each "role": https://docs.github.com/en/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization#permissions-for-each-role

Sadly, "Read" access doesn't grant label management or assigning permission

[2021-11-04 15:22] mallenexpensify commented on #4105
I'm thinking, for issues like this that are likely to be recurring as we find variations, we shouldn't continue to reopen this one but open a new one each time. In the new issue, we can link back to this, gather examples then decide if/when we want a contributor to work on.

@marcaaron @trjExpensify @parasharrajat , y'all agree?

[2021-11-04 15:26] mallenexpensify commented on #5892
@marcaaron , can you review @sidferreira suggestion above? https://github.com/Expensify/App/issues/5892#issuecomment-960382897

[2021-11-04 15:36] mallenexpensify commented on #6208
Thanks @Beamanator , had to try...
Curious if we'll even want to bump up access to triage.  Don't _think_ we need for v1 C+ though

[2021-11-04 15:39] PrashantMangukiya commented on #5102
@michaelhaxhiu  It looks like your tested version is older. I just grab latest version v1.1.13-1  from main branch and tested. Below is the screen record for that. It is working as expected

https://user-images.githubusercontent.com/7823358/140354696-e53079f3-6110-4d62-afa6-9c102e59fb5a.mp4

Regarding the comment on this issue from @mvtglobally  https://github.com/Expensify/App/issues/5102#issueco

[2021-11-04 15:50] kidroca commented on #3867
We've made some changes in the Onyx PR: https://github.com/Expensify/react-native-onyx/pull/102
The file handling process for native is simplified a lot and it makes usage easier. There are notes in the description:

This lets us save only the reference to the File in our key/val storage
This reference is enough to work with the file - use it in an `<Image />` or in a upload request

The PR is app

[2021-11-04 15:52] laurenreidexpensify commented on #5588
@roryabraham i think it only works in E/E not E/A repo? What do we need copy on? I'm in the marketing team so can finish it up?

[2021-11-04 16:04] michaelhaxhiu commented on #5102
Interesting, I did a hard refresh and think my version may've not actually updated to the _latest_. Let me try again once more please :)

[2021-11-04 16:05] trjExpensify commented on #4105
Agreed!

On Thu, Nov 4, 2021 at 3:22 PM Matt Allen ***@***.***> wrote:

--

*Tom Rhys Jones *
*Expensify*

[2021-11-04 16:11] michaelhaxhiu commented on #5102
Tested again, and can confirm you are correct! Apologies for the oversight and thanks for taking the time to explain that to me!

I'll send the payment now.

[2021-11-04 16:11] #5102 closed

[2021-11-04 16:25] parasharrajat commented on #4105
I think parsing links is really giving us a hard time and we are hitting limitations of js regex. Should we reconsider md parser for links?

[2021-11-04 16:26] developvsn commented on #5974
Hello @Luke9389 , we started the PR (branch `fix-default-avatar`) !

Hello @jboniface, we'll message you on upwork , we haven't applied yet, thanks !

[2021-11-04 16:28] PrashantMangukiya commented on #5102
@michaelhaxhiu  thanks.

[2021-11-04 16:51] mvtglobally commented on #5102
@PrashantMangukiya @michaelhaxhiu apologize for the confusion. I meant to say "Issue **NOT** reproducible during KI retests. (First Week)" as listed in the summary. It was very unfortunate typo from my side

[2021-11-04 16:59] alex-mechler commented on #6204
Looks good to be an external issue! Thanks for the video!

[2021-11-04 17:20] adelekennedy commented on #5821
Just closed the job and paid out your fee and bonus @parasharrajat!

[2021-11-04 17:20] #5821 closed

[2021-11-04 17:21] mallenexpensify commented on #4105
Also... here's the link
https://www.google.com/maps/place/Poster+Auctions+International,+Inc./@40.7384572,-73.9942151,20.17z/data=!4m13!1m7!3m6!1s0x89c259a2c5fdee77:0x1439488db9133bae!2s26+W+17th+St,+New+York,+NY+10011!3b1!8m2!3d40.7383679!4d-73.993907!3m4!1s0x89c259a2c438eb63:0x115ba65a3675338b!8m2!3d40.7384793!4d-73.9937764

[2021-11-04 17:23] adelekennedy commented on #6079
@Luke9389 whoops, I'm a couple days late on this but no bites so far. Going to double the job

[2021-11-04 17:26] adelekennedy commented on #5947
Closed the job and paid out your fee and bonus @parasharrajat!

[2021-11-04 17:26] #5947 closed

[2021-11-04 17:28] justinpersaud commented on #5239
done - I updated the profile photo for chronos

[2021-11-04 17:30] shawnborton commented on #5239
Nice, this is updated on my end:
![image](https://user-images.githubusercontent.com/2319350/140389635-27e5bef3-82ef-45c4-aa84-7d8b00bdb4ea.png)

But notice how the edges of the circle are a little distorted? I think that's because we actually need to supply the chronos image with a full square bleed so that the cropping happens automatically. @michelle-thompson can you re-supply the image but as a

[2021-11-04 17:32] isagoico commented on #4105
I agree with @mallenexpensify opening new tickets for other scenarios are easier to follow than reopening old ones. Let me know if we should start with this variation and create another ticket.

Also, able to reproduce with Matt's link
![image](https://user-images.githubusercontent.com/44479856/140389870-8c2c0c1a-802a-424c-9c03-5eeeb7ddb6d0.png)

[2021-11-04 17:36] chiragsalian commented on #5239
Adding justin to the issue since it requires ring0 help to update the icon.

[2021-11-04 17:40] michelle-thompson commented on #5239
Here ya go!
![chronos-avatar](https://user-images.githubusercontent.com/43361905/140391181-a5fbd3b4-2353-48c7-aa86-4d56cc73fc3a.png)

[2021-11-04 17:44] isagoico opened #6212 "Profile - Pronouns are static and don't change with the language - Reported by: @"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. In account A set the language to spanish
2. Go to profile and set the Pronoun to "Ella"
3. In account B set the language to English
4. Go to prof

[2021-11-04 17:45] justinpersaud commented on #5239
updated

[2021-11-04 17:46] mallenexpensify commented on #5974
@developvsn we noticed the PR was submitted by @RGutu. Our process for managing and paying contributors is setup so that the same account that is hired in the Github issue is the same who submits the PR. Can you use the same accounts in the future?

[2021-11-04 17:47] tgolen commented on #5162
Sounds like a good proposal to me. 🟢

[2021-11-04 17:50] trjExpensify opened #6213 "[HOLD for payment 2022-03-02] [$250] Add the ability to configure the distance tracking `rate` and `unit` on the Free Plan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Deliverables
1. Update the `Reimburse receipts` workspace page to be titled `Reimburse expenses` instead

![image](https://user-images.githubusercontent.com/16232057/

[2021-11-04 17:50] parasharrajat commented on #5162
Sorry to bother but aren't we decided to use thumbnails earlier. we will either need thumbnails or fix this issue.

[2021-11-04 17:50] developvsn commented on #5974
@mallenexpensify okay, we just wanted to submit it from our organisation account, and it didn't work, so in the future we'll use same accounts , understood.

[2021-11-04 17:52] sonialiap commented on #6213
moving user from the other GH issue
harvey@connectdaycare.co.uk
https://www.expensify.com/concierge/#/chat/6457965

[2021-11-04 17:54] adelekennedy commented on #5821
@parasharrajat I'm double checking but I believe if a bonus was applicable @kadiealexander commented on each issue to highlight it, I'll look through the notes again and will issue you a bonus if it applies.

[2021-11-04 17:55] mallenexpensify commented on #5974
Thanks @developvsn , it'll make our lives **much** easier.

For this issue, can you apply to the Upwork job here https://www.upwork.com/jobs/~01382d9aca711ad10a then confirm in a comment here once you have.  Please include your first name and initial of last name so we can ensure we hire the correct person.

I'm also going to confirm in the PR that payment will be going to the user in Upwork to en

[2021-11-04 17:55] roryabraham commented on #5588
I think you're right, so I created a [FirstPick Issue](https://github.com/Expensify/Expensify/issues/183990) to patch that. 👍

@rosegrech handled it in the PR, so we should be good. Thanks 🙏

[2021-11-04 17:57] adelekennedy commented on #6079
@roryabraham thank you! Is this something I could have spotted and missed? (I want to make sure I'm following procedure)

[2021-11-04 17:57] roryabraham commented on #6198
Sorry for the slow response on my part here, thanks for handling this @Jag96!

[2021-11-04 17:58] #6198 closed

[2021-11-04 18:00] roryabraham commented on #6182
Fix for https://github.com/Expensify/App/issues/6198 is being deployed in `1.1.13-2`  (h\t @Jag96)

[2021-11-04 18:01] roryabraham commented on #6182
@ogumen What's the status of accessibility testing on this checklist?

[2021-11-04 18:05] parasharrajat commented on #5821
OK. Here are a few points to help you determine:
- you removed the label https://github.com/Expensify/App/issues/5821#issuecomment-947864892.
- I submitted the PR during the hold.
- PR got merged after N6 was lifted.
- I see that a few issues are applicable for the N6 bonus even if the PR was created after the N6 hold was removed.

[2021-11-04 18:06] roryabraham commented on #6079
@adelekennedy I think you followed procedure just fine. Push notifications just happen to be one of those things that we've found external contributors can't work on.

@Luke9389 the reason is because iOS push notifications can't be tested on a simulator, and you can't build the mobile app to a physical device unless you add the device to our mobile provisioning profile in the App Store.

[2021-11-04 18:10] marcaaron commented on #4105
Sure. This link maybe looks like it's broken for another reason so we can close this.

[2021-11-04 18:10] #4105 closed

[2021-11-04 18:10] parasharrajat commented on #5239
In that case, If everything looks good. This can be closed. cc: @michaelhaxhiu

[2021-11-04 18:11] aldo-expensify commented on #6212
@isagoico Do you think this is related to this other issue? https://github.com/Expensify/App/issues/5113#issuecomment-919012067

[2021-11-04 18:17] marcaaron commented on #4756
👀

[2021-11-04 18:18] puneetlath commented on #5705
Paid!

[2021-11-04 18:18] #5705 closed

[2021-11-04 18:28] shawnborton commented on #5239
Looks great!
![image](https://user-images.githubusercontent.com/2319350/140398412-a12960b8-ac47-46cc-b5f6-35a43a5c83fc.png)

Thanks @michelle-thompson and @justinpersaud

[2021-11-04 18:30] parasharrajat commented on #6204
### Proposal
1. This issue arises as the Chat message list is -16px hidden behind the time row. You can call this my fault as I added this design. The motive behind using the -16px margin to the composer was that we can reduce the gap between the composer and chat list without creating an empty space when there is no timezone visible.

| No time | with time |
| --------- | ---------- |
|![image](h

[2021-11-04 18:31] mallenexpensify commented on #4105
@isagoico can you create a brand new issue and include a link back to this? Thanks

[2021-11-04 18:37] parasharrajat commented on #4756
Those eyes are frightening. Sorry, I forgot to append **with help of the team during review**.

[2021-11-04 18:43] michaelhaxhiu commented on #5239
Closing and paying Rajat $250 for proposing the solution

[2021-11-04 18:43] #5239 closed

[2021-11-04 18:43] mountiny commented on #5821
@adelekennedy I think Rajat is right here, see [my comment](https://github.com/Expensify/App/pull/5864#pullrequestreview-780582007) in the PR, where the PR was on hold and I have waited with reviewing.

[2021-11-04 18:46] trjExpensify commented on #6154
👋 @deetergp, can you point me to this please? I can only find this thread with no discussion: https://expensify.slack.com/archives/C01GTK53T8Q/p1635545417275400

[2021-11-04 18:50] isagoico opened #6216 "Google location link is being cut off and placed in a new line"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash and navigate to a conversation
2. Paste and send this link
https://www.google.com/maps/place/Poster+Auctions+International,+Inc.

[2021-11-04 18:50] isagoico commented on #4105
Issue created here 🔝

[2021-11-04 18:54] isagoico commented on #6212
Mmmm they are different imo. In #5113 the main issue was that the placeholder for the self-select option in pronoun was not being translated. In this issue, the preselected options (She/Her, He/Him, etc) are not being translated _after_ they are selected and are displayed the same way ignoring the language selected in app.

Sorry if I'm not being clear haha it's a bit weird to explain 🥴

[2021-11-04 19:00] #2633 closed

[2021-11-04 19:00] #4302 closed

[2021-11-04 19:03] aldo-expensify commented on #6212
hehe don't worry, I just was wondering and I was going to dig into it, but got distracted with other things :). I'm going to have a better look now. Thanks!

[2021-11-04 19:10] bfitzexpensify commented on #5778
Contract ended and paid you @akshayasalvi — thanks for reporting and fixing!

[2021-11-04 19:10] #5778 closed

[2021-11-04 19:15] luacmartins commented on #5011
Haven't been able to look at this one yet. I will try to get to it soon.

[2021-11-04 19:17] stephanieelliott commented on #5744
Paid in Upwork

[2021-11-04 19:17] #5744 closed

[2021-11-04 19:26] stephanieelliott commented on #5191
All paid up!

[2021-11-04 19:26] #5191 closed

[2021-11-04 19:28] aldo-expensify commented on #6212
I'm failing to reproduce this following your steps:

![Screen Shot 2021-11-04 at 12 27 42 PM](https://user-images.githubusercontent.com/87341702/140406856-54d46ced-8bf6-40db-9521-b08f7b4eb00e.png)

I tried in local dev and in staging. The pronouns show in the right language.

[2021-11-04 19:46] anubhav217 opened #6218 "iOS - Push notifications are not opening correct chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?
e.g. memory consumption, storage read/write times, React native bridge concerns, inefficient React component rendering, et

[2021-11-04 19:52] ogumen commented on #6074
From the accessibility perspective the visible label should be preserved, otherwise it will fail WCAG SC 3.3.2

[2021-11-04 19:56] roryabraham commented on #6182
`1.1.13-2` is done deploying, @isagoico please retest https://github.com/Expensify/App/issues/6198

[2021-11-04 19:57] roryabraham commented on #4302
I think we'll still want to do this sometime. Not sure when the time will be right, so I'm leaving it closed for now.

[2021-11-04 19:58] Luke9389 commented on #6079
Dude, nice catch. Sorry about that! Will make note of this for the future. Actually... do you know if we have a list of topics that need to be internal? Maybe it's not necessary, idk.

[2021-11-04 19:59] roryabraham commented on #6079
I am not aware of such a list

[2021-11-04 20:11] Beamanator commented on #5296
We can keep it on hold another week or two, but I plan to come back to this after!

[2021-11-04 20:12] Luke9389 commented on #6079
Yea I searched SO and didn't see one. Do you think it's necessary? What else would go on there aside from notifications? "Anything requiring Web-E changes". Seems like this may not be needed...

[2021-11-04 20:13] isagoico commented on #6182
Yep! Its already being tested, we will mark the results here:

- [ ] Web
- [ ] Desktop
- [ ] Android
- [ ] iOS

[2021-11-04 20:28] deetergp commented on #6213
I guess I'll stick around for the proposals then, since I'm already here.

[2021-11-04 20:29] deetergp commented on #6154
I believe [this is the thread](https://expensify.slack.com/archives/C01SKUP7QR0/p1635960613171100) you want @trjExpensify.

[2021-11-04 20:31] nickmurray47 commented on #6082
also going to demote for weekly for the time being considering this is behind a beta rn

[2021-11-04 20:44] mvtglobally commented on #6182
@roryabraham we are pass #6198

[2021-11-04 20:51] yuwenmemon commented on #6182
:shipit:

[2021-11-04 20:51] OSBotify commented on #6182
This issue either has unchecked QA steps or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2021-11-04 20:56] MitchExpensify commented on #5068
Can you please apply for this new posting @parasharrajat? The n6 hold caused jobs to close automatically so I have reused the posting [here](https://www.upwork.com/jobs/~01c9912f934836b730). I'll be able to issue payment from there! Thanks

[2021-11-04 20:58] yuwenmemon commented on #6182
Checking off Accesibility to push the deploy through

[2021-11-04 20:58] yuwenmemon commented on #6182
:shipit:

[2021-11-04 20:59] #6182 closed

[2021-11-04 21:01] botify commented on #6074
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.13-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6139

If no regressions arise, payment will be issued on 2021-11-11. :confetti_ball:

[2021-11-04 21:01] botify commented on #5623
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.13-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/5933

If no regressions arise, payment will be issued on 2021-11-11. :confetti_ball:

[2021-11-04 21:06] OSBotify opened #6222 "Deploy Checklist: New Expensify 2021-11-04"
**Release Version:** `1.1.14-2`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/6080
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6083
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6084
  - [x] QA

[2021-11-04 21:11] ogumen commented on #6182
@roryabraham @yuwenmemon I have verified all the PRs from this checklist, thank you

[2021-11-04 21:15] parasharrajat commented on #5068
@MitchExpensify Pinged you on Upwork for the old contract of this job. Please check if you can access it...

[2021-11-04 21:19] mallenexpensify commented on #3981
If anyone has the happen again and reports the issue here, can you please add a bit to your comment to denote if the read message that was marked unread was one that YOU sent or one from the other person.

@kidroca mentioned this might be related to https://expensify.slack.com/archives/C01GTK53T8Q/p1636050298496700?thread_ts=1635979970.456600&cid=C01GTK53T8Q
Linking here so we can check once it cl

[2021-11-04 21:20] mallenexpensify commented on #5405
Dropping this issue in here so we'll hopefully notice there when this issue closes. Curious if they're related
https://github.com/Expensify/App/issues/3981

[2021-11-04 21:21] mvtglobally commented on #6222
Starting QA

[2021-11-04 21:26] danieldoglas commented on #3797
Ok, the code is now implemented from PHP. The messages are arriving at Pusher.
I'm getting a strange behaviour and am investigating now. If I send the chunks of message together, even if they are < 10240, the event is listed on Pusher as succeeded, but for some reason they are not being listed in my websocket at new.E.

Will continue to work on this.

[2021-11-04 21:32] tgolen commented on #3981
I'll keep an eye out for that. I think typically, if memory serves me well, that it usually occurs when it's something sent by the other user (it even happens to me with Chronos).

[2021-11-04 22:04] Jag96 commented on #2499
This one hasn't been a priority for quite some time, and likely won't be a priority soon. Unassigning myself.

[2021-11-04 22:05] Jag96 commented on #5956
Same, still on hold

[2021-11-04 22:06] SofiedeVreese commented on #4994
Paying out issue + n6 hold bonus!

[2021-11-04 22:10] SofiedeVreese commented on #4994
Closing issue: payment completed and contract ended!

[2021-11-04 22:10] #4994 closed

[2021-11-04 22:14] kidroca commented on #3981
One more related circumstance is where multiple devices were used - the thing that can cause this is switching between mobile and desktop usage.
This what's actually happening on the related ticket it's just more likely to happen with our own messages

1. Use a mobile device chat a bit and put it away
2. Use desktop or web to continue chatting. No bug yet
3. Now the content on you mobile device is

[2021-11-04 22:17] Jag96 commented on #6121
Adding design label to get input on https://github.com/Expensify/App/issues/6121#issuecomment-957017886

[2021-11-04 22:17] marktoman commented on #6213
### Proposal

I get 404 on the car icon, so a rocket will have to do for now :)

#### Desktop
https://user-images.githubusercontent.com/47689923/140427318-e4dce09d-06d0-4752-83d7-9c0d386dee88.mp4

#### Mobile
https://user-images.githubusercontent.com/47689923/140427928-c4b57159-e83e-4679-aa4f-2568665fe546.mp4

[2021-11-04 22:23] roryabraham commented on #4379
Going to work on figuring out https://github.com/Expensify/App/issues/4977 first

[2021-11-04 22:46] adelekennedy commented on #6079
The jobs been closed 💀

[2021-11-04 22:52] mallenexpensify commented on #6058
@michaelhaxhiu and I are meeting next week to discuss 'offline first'

[2021-11-04 22:53] mallenexpensify commented on #5766
@michaelhaxhiu and I are meeting next week to discuss 'offline first'

[2021-11-04 22:59] danieldoglas commented on #3797
Ok, found it and it's now working.

@johnmlee101 , I'll create a new eventType called  "chunked-reportComment" and "chunked-repportCommentEdit". Since we were never sending the push notifications when it was bigger than 10240, this would be the situation when we would use this format and apps that are prepared to receive that kind of event will work with it. If I use the same handle that we use to

[2021-11-04 23:17] mallenexpensify opened #6227 "[HOLD for payment 2021-12-06] [$250] When creating new accounts, allow users to enter their phone numbers with - and/or ( ) and spaces"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

### Flow 1:
1. Navigate to NewDot
2. Input a phone number as login using any of symbols `-`, `(`, `)` or spaces (e.g. `+1 (222) 222 2222`)

### Flo

[2021-11-04 23:54] SofiedeVreese commented on #6050
Close to being deployed.

[2021-11-04 23:58] jliexpensify commented on #5973
Can do!

[2021-11-05 00:25] MitchExpensify commented on #6175
Hired!

[2021-11-05 00:30] isagoico commented on #6212
what this is so weird, I was able to reproduce consistently earlier today and now I'm not able to repro anymore 🤯  I guess we can close this then 🤔

[2021-11-05 00:33] marktoman commented on #6213
@parasharrajat ?

[2021-11-05 00:38] kavimuru opened #6228 "Chat - App freezes when login with second account after logout from an account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Log out from account
4. Log in with different expensifail account

## Expected Result:
User

[2021-11-05 00:38] OSBotify commented on #6228
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-05 00:41] isagoico opened #6229 "Log in - App is showing a blank page after login"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Log out from account
4. Log in with different expensifail account

## Expected Result:
User

[2021-11-05 00:42] OSBotify commented on #6229
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-05 00:42] isagoico commented on #6229
woops @kavimuru won and Already exported here https://github.com/Expensify/App/issues/6228 Closing

[2021-11-05 00:42] #6229 closed

[2021-11-05 00:51] MitchExpensify commented on #5068
Replied but not seeing a link to the old contract which closed automatically. Perhaps apply to the [new posting](https://www.upwork.com/jobs/~01c9912f934836b730)?

[2021-11-05 00:51] chiragsalian commented on #5185
Code is being worked on. There is a draft PR with good amount of progress in it.

[2021-11-05 00:53] aldo-expensify commented on #6212
I'll close it, we can re-open it if we see it happening again 😉

[2021-11-05 00:53] #6212 closed

[2021-11-05 01:03] SofiedeVreese commented on #6204
Posted on Upwork: https://www.upwork.com/jobs/~01b66f3b916dc3179f

Adding Exported label.

[2021-11-05 01:12] mallenexpensify commented on #5162
@parasharrajat Any chance you have links for this?
Or... can you provide more context about your comment?

[2021-11-05 01:45] NikkiWines commented on #5637
@sidferreira, while this would likely solve our issue, we typically try to avoid solutions that are a bit on the "hackier" side of things since they often come with detriments in the long run and don't lend themselves to clean code.

[2021-11-05 02:00] sidferreira commented on #5637
@NikkiWines I was thinking about trying `requestAnimationFrame`, but I'm not sure if that would be seen as "hacky" as well

[2021-11-05 02:04] sidferreira commented on #5637
btw, it seems that there are other issues related to `react-native-modal` and `keyboard`: https://github.com/react-native-modal/react-native-modal/issues/516

[2021-11-05 02:16] kavimuru opened #6231 "LHN - Changing priority to #focus mode doesn't reflect the changes in LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Tap on profile icon
3. Go to preferences > priority mode > change to #focus
4. Go back to LHN

## Expected Result:
User is

[2021-11-05 02:17] OSBotify commented on #6231
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-05 02:55] kavimuru opened #6232 "Payments - Full width of the payment option is not responsive"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing the PR #6196
## Action Performed:
1. Launch the app and login
2. Go to Settings -> Payments
3. Click on Add Payment method
4. In Web / Desk

[2021-11-05 02:56] OSBotify commented on #6232
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-05 03:28] aswin-s commented on #5193
@NicMendonca Applied for the upwork job posting.

[2021-11-05 03:33] kavimuru opened #6233 "Chat - Unable to mark as unread conversations with a single message initiated for the first time"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Create a new chat by going + > New Chat and start chat with a user never had a conversation before
3. Type and send a singl

[2021-11-05 03:43] roryabraham commented on #5984
I posted a PR to implement my above suggestion banning props/state destructuring.

[2021-11-05 03:45] aldo-expensify opened #6235 "[HOLD for payment 2022-02-01] Pressing "Tab" key while the result list of AddressSearch is open leaves it open even after clicking outside"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Type an address that yield results
2. Press "Tab" key
3. Click somewhere else in the form

## Expected Result:
The list of results should close a

[2021-11-05 04:20] akshayasalvi commented on #5623
@NikkiWines @mallenexpensify I am not sure why the payment date changed to Nov 11 from Nov 8. Didn't find any reported regression.

[2021-11-05 04:28] Christinadobrzyn commented on #5894
Raised price $500 for the job.

[2021-11-05 04:28] Christinadobrzyn commented on #5894
Thanks for the insight @sidferreira - @roryabraham do you have any suggestions for that?

[2021-11-05 04:49] kadiealexander commented on #5769
@parasharrajat sorry I hadn't sent the Upwork job! Please let me know when this is accepted and I'll pay it out asap. :)

[2021-11-05 05:16] parasharrajat commented on #5623
Payment date is 7 days after deployment to PROD https://github.com/Expensify/App/pull/5933#issuecomment-961434950

[2021-11-05 05:23] parasharrajat commented on #5769
@kadiealexander Done.

[2021-11-05 05:37] parasharrajat commented on #6213
@marktoman Thanks for taking interest in this job. But the videos you added earlier are not useful to us at all. They did not tell us how you are going to achieve this.
Simply putting a solution video is never considered a good proposal. Also, showing diff does not tell everything we always suggest proposing an approach here not the complete solution. Could you please add an explanation of how you

[2021-11-05 05:40] parasharrajat commented on #6232
Nice PR responsible is already linked to the issue which is under regression period.

[2021-11-05 05:51] parasharrajat commented on #6231
Could this please be retested on https://github.com/Expensify/App/pull/6084? I believe there is a chance it is already solved there.

[2021-11-05 05:56] parasharrajat commented on #5162
@mallenexpensify https://github.com/Expensify/App/issues/5162#issuecomment-947098287 https://github.com/Expensify/App/issues/5162#issuecomment-946907304

[2021-11-05 06:05] marktoman commented on #6213
2. Straight steps:
- Add functions to `API.js` that will call the requested commands over the network.
- Add functions, likely to `User.js` that will call those APIs, handle errors and potentially merge with Onyx.
- Add two components to `WorkspaceReimburseNoVBAView` for `Unit` and `Rate` representation according to the image.
- Bind the change methods to call the update functions we added earlier

[2021-11-05 06:34] Christinadobrzyn commented on #5008
7-day production window is upon us. Paid @parasharrajat in Upwork and included a $250 bonus. Closing this. 🎉

[2021-11-05 06:34] #5008 closed

[2021-11-05 07:07] Christinadobrzyn commented on #4668
This job - https://github.com/Expensify/App/issues/4775 is done. Per the above conversation, I paid @Santhosh-Sellavel $250 for proposing this issue.

[2021-11-05 07:09] Christinadobrzyn commented on #4775
Since this PR is in prod for 7 days and we can pay now - I paid Santosh for his proposal of this issue per this GH https://github.com/Expensify/App/issues/4668

[2021-11-05 09:17] dylanexpensify commented on #6060
not overdue

[2021-11-05 11:00] kidroca commented on #3981
Here's how offline time plays a role with this bug

1. Be offline
2. Add 5 message to a conversation
3. Optionally make the other side of the conversation reply while you're still offline
4. Regain connectivity
5. Observe Networking

#### Network requests made after we've regained connectivity
![image](https://user-images.githubusercontent.com/12156624/140497647-cec8f192-0659-4b45-ba13-23e00d3d2fe

[2021-11-05 11:41] kidroca commented on #3981
I see this problem with the command - **`Report_UpdateLastRead` it's too powerful**

Even without the aforementioned offline issue you have to be extra careful when using this command.
Like the example in my previous comment: https://github.com/Expensify/App/issues/3981#issuecomment-961473969
When we call `Report_UpdateLastRead` as soon as a Report is opened on a device that's not yet up to date,

[2021-11-05 12:06] dylanexpensify commented on #5942
Paid out job, ended contract, and closed out job posting!

[2021-11-05 12:06] #5942 closed

[2021-11-05 12:47] mountiny commented on #6050
@marktoman @SofiedeVreese There has been a regression detected which has been introduced in PR solving this issue. We need to resolve that. Link is slack: https://expensify.slack.com/archives/C01GTK53T8Q/p1636082766011900

BUG: Blank screen after logout
![image](https://user-images.githubusercontent.com/36083550/140512323-0eaed425-68d8-4897-82e6-752843d062f8.png)

[2021-11-05 13:04] mountiny opened #6239 "Blank screen after logout"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log into an account with some chats
2. Perform some, actions, switch between some chats
3. Sign out

## Expected Result:
User can see log in page

[2021-11-05 13:05] OSBotify commented on #6239
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-05 13:06] mountiny commented on #6239
Introduced by solving [this issue](https://github.com/Expensify/App/issues/6050) in this PR: https://github.com/Expensify/App/pull/6084.

[2021-11-05 13:24] sundarrsinfotech commented on #6204
Can do styling for timezone text

[2021-11-05 14:14] stitesExpensify commented on #6228
Console error
![2021-11-05_08-14-08](https://user-images.githubusercontent.com/42391420/140524255-6fbbd1b7-dd6b-47da-a882-57229842bba0.png)

[2021-11-05 14:29] stitesExpensify commented on #6228
Introduced by solving [this issue](https://github.com/Expensify/App/issues/6050) in this PR: https://github.com/Expensify/App/pull/6084.

[2021-11-05 14:49] dylanexpensify commented on #5783
@parasharrajat sent payment and closed contract!

@akshayasalvi can you please apply to this so we can hire/pay out your reporting bonus? :) https://www.upwork.com/jobs/~01567cf1bb91247d9c

[2021-11-05 15:06] akshayasalvi commented on #5783
@dylanexpensify Done

[2021-11-05 15:08] dylanexpensify commented on #5783
@akshayasalvi sent offer!

[2021-11-05 15:10] #6239 closed

[2021-11-05 15:10] #6228 closed

[2021-11-05 15:11] dylanexpensify commented on #5783
@akshayasalvi payment sent! Job closed, contract ended

[2021-11-05 15:11] #5783 closed

[2021-11-05 15:14] iwiznia commented on #5079
ok I understand your proposal sounds good.

What can we do to add the close button when the WelcomePage is being shown? I assume the problem is that the `SetPasswordPage` can't inform the layout to change and show the close button?

[2021-11-05 15:47] roryabraham commented on #6222
The [fix](https://github.com/Expensify/App/pull/6240) for https://github.com/Expensify/App/issues/6239 is being CP'd in `1.1.14-1` [here](https://github.com/Expensify/App/actions/runs/1426267223). Please retest once it's deployed, and if it passes check off both the PR and deploy blocker from the checklist. Thanks!

[2021-11-05 15:58] tgolen commented on #3981
I'm down to make those commands more explicit and easier to use 👍

[2021-11-05 16:07] timszot commented on #6204
@parasharrajat the solution looks good to me, @SofiedeVreese let's get him hired!

[2021-11-05 16:08] mountiny commented on #6222
Also the https://github.com/Expensify/App/issues/6228 should be fixed by the CP'd PR so it can be retested as well once deployed 🙇 @mvtglobally @isagoico

[2021-11-05 16:19] aldo-expensify commented on #6075
I'm closing this as I don't see it as a problem.

[2021-11-05 16:19] #6075 closed

[2021-11-05 16:37] akshayasalvi commented on #5079
I was wondering that we should add a skip link rather than close button. The way we have Back and Resend Link in the Reset Password page

[2021-11-05 16:40] trjExpensify commented on #6154
Got it! So in terms of the expected behaviour then. Are we advocating for highlighting the number on press, and then tapping the caret `<` on the keyboard deletes just that selected number?

[2021-11-05 16:51] roryabraham commented on #5894
I don't think that the answer provided in https://stackoverflow.com/questions/61014250/empty-space-on-the-bottom-of-the-page-when-swipe-up-on-safari-ios is relevant in this case because the white space persists after you lift your finger (i.e: it doesn't "bounce back")

[2021-11-05 16:54] kavimuru opened #6246 "Android - VBA - App crashed when initiating VBA flow 2nd time after disconnecting already added one"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Go to any Workspace and select Connect bank account
4. Add bank account following VBA flow
5

[2021-11-05 16:55] OSBotify commented on #6246
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-05 17:00] sidferreira commented on #5894
@roryabraham I may dive on it over the weekend... had a couple of ideas

[2021-11-05 17:03] kavimuru opened #6247 "IOU - "Pay with Expensifycard" option is displayed for the deactivated Expensify card"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Select Fab menu
4. Tap on Send Money
5. Put amount and Click Next
6. Select expensifail acco

[2021-11-05 17:07] roryabraham commented on #6222
`1.1.14-1` is finished deploying 🚀

[2021-11-05 17:10] isagoico commented on #6222
Both issues are being retested at the moment

Issues found on regression so far:
- https://github.com/Expensify/App/issues/6232 is failing #6196
- https://github.com/Expensify/App/issues/6231
- https://github.com/Expensify/App/issues/6233
- https://github.com/Expensify/App/issues/6246

We have a few steps left to finish, we will post here when done.

[2021-11-05 17:12] Santhosh-Sellavel commented on #6059
Sorry couldn’t able to get here early @kevinksullivan
1. Create hotspot using mobile internet
2. Connect the Laptop to the hotspot
3. Now Turn off the `mobile internet` `not the created hotspot`!

[2021-11-05 17:18] parasharrajat commented on #5347
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

[2021-11-05 17:19] arielgreen commented on #5541
Paid!

[2021-11-05 17:19] #5541 closed

[2021-11-05 17:20] parasharrajat commented on #4775
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

[2021-11-05 17:20] parasharrajat commented on #5769
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

[2021-11-05 17:21] parasharrajat commented on #5068
@MitchExpensify Applied to the new. I will cancel the old one.

[2021-11-05 17:21] parasharrajat commented on #5897
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

[2021-11-05 17:21] parasharrajat commented on #4993
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

[2021-11-05 17:21] parasharrajat commented on #5767
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

[2021-11-05 17:21] parasharrajat commented on #5005
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

[2021-11-05 17:22] marcaaron opened #6250 "No props destructuring for functional components"

[2021-11-05 17:24] isagoico commented on #6222
Retests for https://github.com/Expensify/App/issues/6228 and https://github.com/Expensify/App/issues/6239 is finished and a pass! Checked them off the list.

Also, regression is finished! Issues found are listed [here ](https://github.com/Expensify/App/issues/6222#issuecomment-962068407)

[2021-11-05 17:29] iwiznia commented on #6231
@kavimuru can you retest? The fix is already deployed to staging https://github.com/Expensify/App/pull/6240#issuecomment-962035245

[2021-11-05 17:38] NikkiWines commented on #6246
I'm able to reproduce something similar on web where I just get endless loading spinners when trying to add the bank account again.

@kavimuru does this issue also occur on iOS for you guys? Or is it only reproducible on Android?

[2021-11-05 17:39] iwiznia commented on #5079
Oh, I think that's fine. @MitchExpensify what do you think?

[2021-11-05 17:42] isagoico commented on #6231
I'm still able to reproduce this issue in 1.1.14-1
![image](https://user-images.githubusercontent.com/44479856/140554879-7ecc4adc-738d-4453-ae95-d2764aa398dc.png)

[2021-11-05 17:43] iwiznia commented on #5005
@mallenexpensify that's for you

[2021-11-05 17:46] marcaaron opened #6251 "Eliminate dependency cycles"
A ton of `// eslint-disable-next-line import/no-cycle` were added as part of [this PR](https://github.com/Expensify/App/pull/6174/files). Going to try to come up with a solution for them. Mainly there are issues like `Log` is calling itself from inside `Log` or an action that sets Onyx data is imported into `API` from a file that import API to make some request in another method. It doesn't look l

[2021-11-05 18:00] roryabraham commented on #5984
Another suggestion ... no ternaries in JSX:

[code]

[2021-11-05 18:10] tgolen commented on #5984
I definitely agree with your bad example, but I think there is still a valid use case for ternaries, such as this:

[code]

[2021-11-05 18:13] Santhosh-Sellavel commented on #5762
Ping for Upwork!

[2021-11-05 18:15] isagoico opened #6253 "[HOLD for payment 2021-12-15] No loading indicators are shown for slow downloads - Reported by: @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Send a file over 15mb
3. Once the file is sent and displayed in chat history, click on the download button

## Expe

[2021-11-05 18:18] roryabraham commented on #5984
Okay, so maybe "No ternaries in JSX where the second half of the ternary is `null`"

[2021-11-05 18:21] tgolen commented on #5984
Yeah, I like that. I wonder if there is ever a valid case for any ternary to have the second half be `null`?

[2021-11-05 18:22] tgolen commented on #5984
I guess I can find quite a few of them in our code, but maybe we just stick to JSX for now.

[2021-11-05 18:42] roryabraham commented on #5984
Looks like there's a pre-existing eslint plugin/rule for this: https://github.com/divyagnan/eslint-plugin-ternaries/blob/master/docs/rules/no-null-ternary.md 🎉

[2021-11-05 19:00] marcaaron commented on #5984
I think yes, because React will try to render the left hand side in some cases e.g. if it is a `0`. But there are other solutions to that like ensuring you have a boolean for your left hand operator.

[code]

[2021-11-05 19:06] Luke9389 commented on #5984
Definitely on board for 'no-null-ternaries'. By 'no ternaries in JSX' are we really saying no ternaries in the `return` method? In general, I think they're a pretty useful shorthand that work fine for other logic happening elsewhere in the component.

[2021-11-05 19:07] mallenexpensify commented on #3981
Thanks for all the research into this @kidroca !
@tgolen , @johnmlee101 @kidroca , what's next best step here? At least a few options:

1. Assign to @kidroca to update the commands
2. Wait til https://github.com/Expensify/App/pull/6095 is deployed then reassess
3. Create an issue specifically for a contributor to update the commands.
4. Create an issue for the commands to be updated internally
5.

[2021-11-05 19:12] mallenexpensify commented on #4775
Paid @parasharrajat in Upwork, closed the job, closing this now too!

[2021-11-05 19:12] #4775 closed

[2021-11-05 19:16] tgolen commented on #3981
I like doing 2, then 3. However, I'd like @kidroca take the issue if he wants (just saying it's not totally necessary to assign it to him or anyone internal).

[2021-11-05 19:17] mallenexpensify commented on #5005
Paid in Upwork, inc. the $250 bonus for `n6 hold`, canceled job, now closing this (need a emoji for this...  🌂?)

[2021-11-05 19:17] #5005 closed

[2021-11-05 19:19] Luke9389 commented on #5984
Ah OK, I think I should have been more clear. What I was wanting to clarify is that we can have ternaries in a `.jsx` file, but we don't want them returning actual JSX components, correct?

[2021-11-05 19:24] tgolen commented on #5984
@marcaaron I'd still say there is a valid case for your example pattern. I like using that pattern when data is being loaded and I don't want to display anything (including a spinner). However, outside of "data being loaded", I would agree that pattern isn't a good one.

@Luke9389 I think what we're saying is to not allow ternary-nulls inside the part that is returned from render():

[code]

.jsx

[2021-11-05 19:24] michaelhaxhiu commented on #6155
Easily reproducible, this one is a nice find. Posted to upwork. @parasharrajat Feel free to make a solution proposal if you want to solve it. Otherwise, this is open to all.

[2021-11-05 19:36] Santhosh-Sellavel commented on #5781
@Beamanator No one assigned here

[2021-11-05 19:37] #6231 closed

[2021-11-05 19:37] akshayasalvi commented on #5355
@mountiny @mallenexpensify Payment reminder

[2021-11-05 19:41] stitesExpensify commented on #3922
Rajat has brought the PR back up to master https://github.com/Expensify/App/pull/4177#issuecomment-961421515

[2021-11-05 19:42] stitesExpensify commented on #4547
No update

[2021-11-05 19:42] stitesExpensify commented on #4324
No update

[2021-11-05 19:53] michaelhaxhiu commented on #5926
Next step is to wait for @Julesssss to confirm the best solution proposal (in order of first come first serve).

[2021-11-05 19:57] michaelhaxhiu commented on #5926
Note: Jules will likely get to this issue on Monday. Thanks for your patience.

[2021-11-05 20:07] chiragsalian commented on #6231
The should be fixed in 1.1.14-2. Feel free to retest and close the issue if its been resolved.

[2021-11-05 20:08] NikkiWines commented on #6246
Figured out the root cause I believe - looking into a fix now

[2021-11-05 20:10] isagoico commented on #6246
@NikkiWines Forgot to post the iOS result here, my apologies. The issue is also reproducible on iOS.

[2021-11-05 20:16] trjExpensify commented on #5762
Hey Santhosh. Doesn't look like the contract was started for this one. I've sent the offer, so we can settle it once you accept. 👍

[2021-11-05 20:19] trjExpensify commented on #5762
Cool, job done. 👍

[2021-11-05 20:19] #5762 closed

[2021-11-05 20:24] NicMendonca commented on #5193
Sorry @aswin-s! Someone will review [your PR](https://github.com/Expensify/App/issues/5193#issuecomment-960622145) shortly.

[2021-11-05 20:25] trjExpensify commented on #5897
Sent the offer, Raj! Can settle it once you've accepted. 👍

[2021-11-05 20:33] trjExpensify commented on #5767
Paid 👍

[2021-11-05 20:33] #5767 closed

[2021-11-05 20:36] trjExpensify commented on #6213
I'll defer to @deetergp for reviewing the proposed solution. In the meantime Mark, can you apply to the job on Upwork as well? Thanks!

[2021-11-05 20:38] mallenexpensify commented on #5162
Thanks @parasharrajat , so you're saying that @aswin-s 's proposal above ([link](https://github.com/Expensify/App/issues/5162#issuecomment-958657125)) shouldn't be implemented because of previous decisions that were agreed upon earlier in the issue?  (sorry, I'm a bit out of the loop)

[2021-11-05 20:39] trjExpensify commented on #5841
So what are the decisions to make here?

1. Allow the user to simply modify the content of the field to append an apt number?
2. Add an adjacent field to enter the `apt/unit:`

Anything else?

[2021-11-05 20:43] mallenexpensify commented on #6227
Upwork Job posted. cc @aldo-expensify in case you want to snag this, auto-assigning via `Exported` tag now.
https://www.upwork.com/jobs/~01e3a9fa28fc98c96a

[2021-11-05 20:47] MitchExpensify commented on #5347
Paid with bonus!

[2021-11-05 20:52] MitchExpensify commented on #5068
@thesahindia please also apply to the [new posting](https://www.upwork.com/jobs/~01c9912f934836b730) so I can pay for reporting the issue thanks!

Offer sent @parasharrajat !

[2021-11-05 20:52] mallenexpensify commented on #5166
Paid in Upwork, added $250 `n6-hold` bonus.  Thanks @meetmangukiya !

[2021-11-05 20:52] #5166 closed

[2021-11-05 20:56] MitchExpensify commented on #4993
Sorry for all these extra actions due to the N6 hold causing old jobs to close in Upwork @parasharrajat . I think this is the last one on my end. Please apply for the new posting [here](https://www.upwork.com/jobs/~0197df495d5d91b0d5), thanks!

[2021-11-05 20:56] mallenexpensify commented on #5418
Paid in Upwork (happened to have this open), added $250 for reporting bonus and $250 for `n6-hold` bonus.  Thanks @Santhosh-Sellavel !

[2021-11-05 20:56] #5418 closed

[2021-11-05 21:01] MitchExpensify commented on #5079
Is the question if we want to use a skip link rather than a close button here? If so, why do you prefer that option @akshayasalvi ?
![image](https://user-images.githubusercontent.com/36425901/140577985-c0f7fc6d-136b-4211-9d95-dc14b9c77277.png)

[2021-11-05 21:05] mallenexpensify commented on #3743
Sorry for the delay @dklymenk , I commented on the PR and removed `[HOLD]` from the title so we should be good to go.
https://github.com/Expensify/App/pull/4133#issuecomment-962219262

[2021-11-05 21:11] marktoman commented on #6213
@trjExpensify @deetergp Applied.

[2021-11-05 21:17] opal6502 commented on #6155
RE: upwork proposal - https://www.upwork.com/jobs/~013a8cf464cdc1cf31

It sounds like there is an event handler in the application that's overriding the desired behavior for the text field.
If it's occurring in the larger application context, then perhaps some state must be maintained so that the event handler is ignored when the text field is in focus.
Either way, the event handling will have to

[2021-11-05 21:23] kidroca commented on #3981
2. Is definitely an improvement that will cover probably the vast majority of the cases, but it won't be able to deal with the offline side of the problem

I'll be happy to work on the ticket but I think the backend actions / commands are handled internally. I can only apply the front end change, but assume that whoever is implementing the backend change would implement the front end part as well

[2021-11-05 21:24] isagoico commented on #6222
https://github.com/Expensify/App/pull/6252 Retest was a pass!

[2021-11-05 21:25] rushatgabhane commented on #3855
Hey @parasharrajat what's the status on this one?
Asking because it's frustrating when autofill doesn't work.

[2021-11-05 21:26] ALIHASSAN65 commented on #4993
There can be the following reasons:
1- The check is just put on the base of contacts not also on the recent basis.
2- The check put on both the contact and recent basis but not handle in case of recent single base.

This can be resolve with 5 hours.

[2021-11-05 21:27] danieldoglas commented on #6122
@mvtglobally let me know if you have any news on this.

[2021-11-05 21:50] opal6502 commented on #4993
Responding to upwork job: https://www.upwork.com/jobs/~0197df495d5d91b0d5

For this issue, my first guess would be that the response from the API is perhaps formatted differently, and the UI isn't displaying anything, because it's unable to parse the response properly?

[2021-11-05 22:02] mallenexpensify commented on #4545
Paid @Santhosh-Sellavel $250 for reporting
Paid @parasharrajat, inc. $250 for `n6-hold`
Thanks gents, closing

[2021-11-05 22:02] #4545 closed

[2021-11-05 22:04] mallenexpensify commented on #4993
@ALIHASSAN65 and @opal6502 this job is completed and awaiting payment. To view open jobs check here https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3A%22Help+Wanted%22

[2021-11-05 22:09] aldo-expensify commented on #5841
@trjExpensify

The decided way to go was discussed here: https://expensify.slack.com/archives/C03TQ48KC/p1635812089454700

In summary:
- Always show all inputs for: `city` ,` state` ,`street + number + (apt number)`, `zip code`
- The input `street + number` will keep its autocomplete behaviour. If the user selects a result, we will populate other fields.
- The user will be allowed to manipulate an

[2021-11-05 22:09] mallenexpensify commented on #5091
hmmmm... I might have jumped the gun here. I'm auditing issues to catch up on payments. I see @thesahindia is assigned to this issue and hired in Upwork so I paid them.  Should they be paid for this issue?

[2021-11-05 22:16] mallenexpensify commented on #5355
Paid @akshayasalvi in Upwork, inc $250 for reporting and $250 for `n6-hold`

[2021-11-05 22:16] #5355 closed

[2021-11-05 22:17] mallenexpensify commented on #5462
Removed `[HOLD for payment 2021-10-30] ` from the title

[2021-11-05 22:20] mallenexpensify commented on #5769
Paid @parasharrajat , inc. reporting and `n6-hold` bonus

[2021-11-05 22:20] #5769 closed

[2021-11-05 22:21] jliexpensify commented on #5418
TY @mallenexpensify - I actually jumped on to pay this today, and was wondering why it disappeared from my Assigned list haha.

[2021-11-05 22:25] mallenexpensify commented on #5915
Paid @Santhosh-Sellavel  today since this falls on a weekend.  Included reporting and `n6-hold` bonuses

[2021-11-05 22:25] #5915 closed

[2021-11-05 22:32] Luke9389 commented on #5873
@sidferreira  let me know when you're feed up to work on this.

[2021-11-05 22:37] mallenexpensify commented on #3981
Thanks @tgolen and @kidroca I updated the title to reflect the hold on PR #6095 and also dropped a comment in the PR so that we'll hopefully get a ping here https://github.com/Expensify/App/pull/6095#issuecomment-962260591
(or... I'll get a ping cuz I commented on that PR)

[2021-11-05 22:38] mallenexpensify commented on #5418
Welcome @jliexpensify , figured it was Saturday for ya so thought I'd take care of.

[2021-11-05 22:44] tgolen commented on #3981
I think I maybe need to dig into this idea a little more. What's the benefit of splitting out the commands in the API layer? The way I understand it, the only thing that is really changing with this proposal is that the front-end is more explicitly marking things as unread. How does that change what the backend would do? Or are you also proposing some changes to the backend for when marking things

[2021-11-05 22:46] Bojan996 commented on #6227
After following the code, I see that the main issue is the regex that is used to validate the phone number.
Because you are using the **expensify-common** git repo for validation you will either have to change the code directly in the repo or add a custom regex to your project (for this specific case only). I would suggest changing the code on **expensify-common** (I see it's the same company name

[2021-11-05 22:57] Jag96 commented on #6253
@Santhosh-Sellavel @isagoico Is there a file type that always fails or is the only file that fails the one from slack? I'm able to download files that are 30MB with no delay on web, so I just want to confirm this is happening with more than just one specific file.

[2021-11-05 23:20] NikkiWines commented on #4612
@parasharrajat any update on this or should we open this back up for other contributors to take on?

[2021-11-05 23:32] sidferreira commented on #5637
@tgolen I did some research and, except if we do some updates on React Native it self, there's no workaround.

`react-native-modal`'s `onModalHide` is dispatched based on `setState` callbacks, and not based on the native view behaviour.
https://github.com/react-native-modal/react-native-modal/blob/master/src/modal.tsx#L675-L686

Android does have an `onDismiss` for modals ( https://developer.andro

[2021-11-05 23:34] adelekennedy commented on #5821
Perfect (that's my mistake) I just hired you @parasharrajat, once you accept I'll pay out the $250 N6 hold bonus, thank you for your patience!

[2021-11-06 00:06] #6246 closed

[2021-11-06 01:58] parasharrajat commented on #5821
@adelekennedy Done.

[2021-11-06 01:59] parasharrajat commented on #5637
It was working before...

[2021-11-06 02:08] parasharrajat commented on #5347
@MitchExpensify This was on N6 Hold https://github.com/Expensify/App/issues/5347#issuecomment-943372770.

[2021-11-06 02:11] parasharrajat commented on #5897
@trjExpensify Done.

[2021-11-06 02:13] parasharrajat commented on #4612
I am sorry, I will give it a go this weekend and update you by Monday,

[2021-11-06 02:15] parasharrajat commented on #5873
He can take it now, other PR is merged. @Luke9389 . You can start @sidferreira

[2021-11-06 02:21] parasharrajat commented on #6227
@mallenexpensify I added this as a feature @mountiny do you have any comments?

If we want to remove it.

### Proposal
Just revert this commit here https://github.com/Expensify/App/commit/500ba78f4e31c346e731dd64cc29001249a3dcfb.

[2021-11-06 02:30] mountiny commented on #6227
@parasharrajat is right, this has been introduced when we wanted to unify the error messages in this PR https://github.com/Expensify/App/pull/5864.

We should be able to just revert the commit Rajat mentioned to allow the `(`, `)` and `-` characters.

[2021-11-06 02:37] parasharrajat commented on #6227
Sorry, @mountiny for tagging you. I didn't correctly see the issue. We want to add it not remove it so I have updated the proposal. Now we want to extend that change and allow spaces as well.

[2021-11-06 03:09] parasharrajat commented on #3855
It's in review. I will update the code with new changes this weekend.  So hopefully you will have it next week.

[2021-11-06 03:30] parasharrajat commented on #5162
Haha. I suggested using the Thumbnails with fixed width and height. The issue Aswin has shown is correct but not sure if we really be needing it after thumbnails.

So We can also create separate issue for creating thumbnails if we want that. https://github.com/Expensify/App/issues/5162#issuecomment-951945953

Mainly, I was just pointing that out that there is an open question on https://github.com

[2021-11-06 04:27] Santhosh-Sellavel commented on #6253
@Jag96 I'm able to reproduce with any files. You might have an high speed internet, try with little slower internet.

It happened on all files that are above 10 - 15MB.

The reason is when we click download button, download is started within our app itself & once download is complete we show a popup to save in storage.

During the download time,
1. There is no progess indicator.
2. And there is no

[2021-11-06 04:59] akshayasalvi commented on #5079
If you check the screenshot above, the `SignInLayout` close button will look a bit odd as it is not a modal popup. The form would be a section on the page. Hence, I recommended a skip link rather than close button.

@shawnborton Can share his ideas too.

[2021-11-06 05:02] mateusbra commented on #6216
First of all, I don't think its being "cut and placed in a new line", the main problem here is that the regex doesn't matches with some characteres(  . , =  ( + $ ! *  ) right before /, we can reproduce this problem putting any of those characteres instead of . in the url
-\\w~@:%)

E.G.:
Input:
`https://www.google.com/maps/place/Poster+Auctions+International,+Inc./test`
Will match with:
`https://

[2021-11-06 05:05] akshayasalvi commented on #6227
**Proposal**

I had changed the phone number regex in the company VBA flow. I would want to change the validation check to `isValidPhoneWithSpecialChars` in `LoginForm.validateAndSubmitForm`

[code]

[2021-11-06 05:06] mateusbra commented on #6216
Test with code changes:

![WhatsApp Image 2021-11-06 at 02 05 01](https://user-images.githubusercontent.com/56851391/140598666-0671bc2b-1c04-4ff0-b9fd-a4f9173077f9.jpeg)

[2021-11-06 05:44] parasharrajat commented on #6253
I agree if we are planning to do

Then seems a valid issue.

[2021-11-06 10:09] parasharrajat commented on #5079
It seems Akshaya you are going in wrong direction. As per my understanding, this new welcome screen will be shown after user has logined into the app. User sets password, app sign him in and then he is prompted this welcome flow.

In this case, this screen will go in the right side Modal

[2021-11-06 11:31] kidroca commented on #3981
Yes, I'm talking about a backend change and why it's necessary here: https://github.com/Expensify/App/issues/3981#issuecomment-961826454
This is the only backend/api command available regarding setting messages as read, correct `api?command=Report_UpdateLastRead` ?

IMO because of the nature the app can be used the problem needs to be solved on the backend (multiple devices, offline functionality)

[2021-11-06 11:32] kidroca commented on #3981
For the sake of completeness when I say "can only be fixed by a backend change" is not technically true

There are alternative ways to solve the problem entirely on the frontend, but with drawbacks

1. Don't make `Report_UpdateLastRead` requests while offline - drawback: we can't relay all the messages we've read while we were offline
2. When connectivity is recovered, postpone `Report_UpdateLastR

[2021-11-06 11:47] akshayasalvi commented on #5079
@parasharrajat I implemented the same thing if you check the current Draft PR and previous discussion.

We thought of taking this new approach because the secondary login(phone or email) requires entering Password and we don’t want to store the password anywhere in the app.

[2021-11-06 12:08] parasharrajat commented on #5237
I would like to ask how the Mark as unread functionality works.
e.g. I marked the five latest messages as unread.
![image](https://user-images.githubusercontent.com/24370807/140608969-d7705914-f651-44ce-b958-fdc5b055a131.png)
Now this includes messages from the Other user as well. What should be the unread message count?

[2021-11-06 15:05] thesahindia commented on #5068
@MitchExpensify, it's showing "the job is no longer available"

[2021-11-07 10:16] Beamanator commented on #5091
Yes! his PR was merged so thanks for paying 👍

[2021-11-07 10:16] #5091 closed

[2021-11-07 13:10] developvsn commented on #5974
@mallenexpensify
We applied to the Upwork job. The name on upwork is: Alexandru. S.

[2021-11-07 18:35] anubhav217 opened #6258 "Search - Arrow navigation on search stops working[Performance]"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?
e.g. memory consumption, storage read/write times, React native bridge concerns, inefficient React component rendering, et

[2021-11-07 20:20] parasharrajat commented on #5159
PR is up but waiting for https://github.com/Expensify/App/pull/6203 to be merged and the plan is to reuse 90% of the code and refactor it into composable components.

[2021-11-07 20:54] parasharrajat commented on #5125
I forgot to ask initially, that this issue requires adding native functions `setHTML` and `getHTML`. Should I send a PR to Clipboard lib repo? Or add custom modules in our repo.

[2021-11-07 21:38] SofiedeVreese commented on #5896
PR merged and QA ongoing.

[2021-11-07 21:46] SofiedeVreese commented on #6204
Ok I've hired you in Upwork @parasharrajat !

[2021-11-07 22:37] kadiealexander commented on #5769
Thanks for grabbing this on my weekend @mallenexpensify!!

[2021-11-08 00:35] sidferreira commented on #5873
@Luke9389 After further investigation, I noticed the problem was a bit different than I expected.

First of all, there's the fact that the `Clipboard` icon has one or two transparent pixels on the bottom of it. Although the SVG is a 14x14 box, the icon it self is smaller than that, as can be seen here (with a 14x14 red view around it):
<img width="57" alt="Screen Shot 2021-11-07 at 3 37 12 PM" src

[2021-11-08 04:29] sidferreira commented on #5637
@parasharrajat I'm checking it...

[2021-11-08 06:02] Christinadobrzyn commented on #5572
Hey @mountiny just a quick follow up on this - are we expecting PR https://github.com/Expensify/Web-Expensify/pull/32292 will fix the issue in this GH?

[2021-11-08 06:10] Christinadobrzyn commented on #5572
This is still pending the fix of https://github.com/Expensify/App/issues/4911

[2021-11-08 06:13] Christinadobrzyn commented on #5542
We still have the Company Offsite hold label on this issue.

[2021-11-08 06:16] Christinadobrzyn commented on #4264
just checking in on this @Julesssss and @mananjadhav - it looks like we're still working through the [PR](https://github.com/Expensify/App/pull/5953)?

[2021-11-08 08:50] kidroca commented on #5987
"Add Comment" requests are persisted to storage when we're offline
But when we regain connectivity they are read, removed from storage and kept only in memory
Making a refresh/exit before they are complete would make the app "forget" about them

#### 1. Persisted request getting cleared when they're added to the in-memory queue
https://github.com/Expensify/App/blob/b12eb5f9f18ba6578790b55ad248b682

[2021-11-08 09:21] kidroca commented on #5987
In theory it should be possible to recreate this with shorter steps like
1. Make sure you are offline.
2. Send some messages to any user.
3. Regain connectivity
4. Very shortly after refresh or close the page / quit the app
When you open the app again you should see the messages briefly and then they would disappear (These were the optimistic messages created and stored. They get cleared since we

[2021-11-08 12:21] akshayasalvi commented on #5542
@Christinadobrzyn Didnt understand the hold. The PR is merged to the main branch already

[2021-11-08 13:03] Gonals commented on #6247
I believe this is not an issue. The `Pay with Expensify` option does not mean paying with the Expensify card, but with your Expensify wallet (which currently can be loaded with any debit card).

Closing. Feel free to reopen if you disagree.

[2021-11-08 13:03] #6247 closed

[2021-11-08 13:55] kavimuru commented on #6164
@johnmlee101 , Tested with 17.6 mb file and seen loading spinner and it was not get uploaded. Attaching new video and speed test results

https://user-images.githubusercontent.com/43996225/140754013-c11392d9-472a-4abc-80d1-fd03a167ead0.mp4

![Screenshot_20211108-085234_Speedtest](https://user-images.githubusercontent.com/43996225/140754182-dab3d844-b8b9-4acb-b324-84e7f7099fa5.jpg)

[2021-11-08 14:15] shawnborton commented on #5079
This is correct @parasharrajat. Regardless of how we handle the password stuff, the layout of this page should just be implementing a right side modal. We shouldn't be reusing anything from the sign in/welcome screens in terms of layout.

[2021-11-08 14:18] thienlnam commented on #5542
@Christinadobrzyn My bad, forgot about the label and merged the PR already.  Let's do the standard 7 day regression wait and then just pay this one out

[2021-11-08 14:39] #5995 closed

[2021-11-08 14:44] akshayasalvi commented on #5079
@iwiznia @shawnborton Then we'll have to rethink the password requirement for the secondary login. Is there a way we can update the phone number but keep it in Verification pending state?

[2021-11-08 14:52] parasharrajat commented on #5347
@MitchExpensify I think you missed the N6-hold bonus for this one. Thanks.

[2021-11-08 14:52] jboniface commented on #6216
job here https://www.upwork.com/jobs/~011cb863d1e0871604

[2021-11-08 14:55] parasharrajat commented on #4612
Ok. So I am looking into this. I think the changes I did https://github.com/Expensify/App/pull/6207 here are also needed for this to work.
The main issue is that history is not created correctly when we use chat switcher to change the chats. I will test it on that branch and share the updates shortly.

[2021-11-08 14:56] roryabraham commented on #4233
Still not a priority

[2021-11-08 14:58] parasharrajat commented on #5897
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

[2021-11-08 15:00] parasharrajat commented on #4993
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

[2021-11-08 15:03] marcaaron commented on #3981
Is there any kind of backend solution we can implement for the case where:

- An "update last read to max" is queued (assume `onlyIfNewer` param is used or another solution like backend uses db data to mark max possible message as read)
- A "mark specific thing as unread" is queued
- User goes online

Which should win out in this case?

[2021-11-08 15:35] mallenexpensify commented on #5620
Doubled price to $4000
https://www.upwork.com/jobs/~018ca1e70adf6f82c2

[2021-11-08 15:40] kidroca commented on #3981
Good point

The only thing that comes to mind ATM is to timestamp requests

This can actually serve as a FE solution
1. We persist a request to mark conversation as read
2. Later on we persist another request that mark an item as unread

Using the timestamp we can send only the latest request dealing with last read for a report

I think we should have a dedicated queue for presided requests that c

[2021-11-08 15:40] johnmlee101 commented on #6164
@kavimuru which email did you use so I can check logs

[2021-11-08 15:43] francoisl commented on #6222
Hi @isagoico, we cherry-picked a fix for the blocker https://github.com/Expensify/App/issues/6232 with v1.1.14-3, can you test again please?

[2021-11-08 16:01] marcaaron commented on #3981
Oh that reminds me that we are keeping track of timestamps in the backend already, but unsure if they are used to prevent setting a "stale" last read. Maybe we are already doing this. Perhaps @chiragsalian knows...

[2021-11-08 16:09] isagoico commented on #6222
CC @NikkiWines about #6246
I see a PR was merged but not CPd to staging yet, should we still treat this as a deploy blocker?

[2021-11-08 16:10] marcaaron commented on #3981
Another option would be to make requests cancellable and make sure all new requests cancel previous ones that have not resolved. Sort of like this: https://github.com/Expensify/App/compare/marcaaron-onlyMarkReadOnce?expand=1

[2021-11-08 16:18] #6250 closed

[2021-11-08 16:20] NikkiWines commented on #6222
Oh, sorry - yes. I should've added that to the title, it's good to be CP'd

[2021-11-08 16:25] johnmlee101 commented on #5987
Looking now!

[2021-11-08 16:27] francoisl commented on #6222
Oh yeah my b, didn't notice it was not CP'ed yet. I just cherry-picked it, so you're welcome to test again now.

[2021-11-08 16:30] stephanieelliott commented on #4910
This has been open for a few months now with no proposals, took a swing at updating the issue description to make the problem a bit more clear.  I think the "pixel direct connect" is the Instant Tether feature described [here](https://www.theverge.com/2019/2/4/18210378/chromebook-instant-tethering-android-mobile-hotspot-chrome-os-expansion), which would mean issue occurs only when using a Chromebo

[2021-11-08 16:31] sidferreira commented on #5637
@parasharrajat So, I've checked the following commits and it wasn't working on any of those:

- df3c6e94787d796818def86a8b8d211a77a7ee38 (creation)
- 0b6263b03d1c4c06cc68bcdc3530c70eec08a20a (merge to master)
- 28ea30ff8f719d56b5cab36d47283fd3769fbc4d (1.0.82-0)

Can you mention any specific commit/version where it is working as expected?

[2021-11-08 16:31] johnmlee101 commented on #5987
Hmm, I would also say that a separate queue should have a maximum timeout, so we should keep that data with the requests. However, I like the idea. Do you know which files would need to be modified, or some psuedo code to represent this change?

[2021-11-08 16:34] mvtglobally commented on #5623
Issue not reproducible during KI retests. (First Week)

[2021-11-08 16:35] mvtglobally commented on #5712
Issue not reproducible during KI retests. (Third Week)
Closing

[2021-11-08 16:35] #5712 closed

[2021-11-08 16:37] mvtglobally commented on #5971
Issue not reproducible during KI retests. (Third Week)
@roryabraham Let us know if we should close it or keep checking

[2021-11-08 16:39] isagoico commented on #6222
https://github.com/Expensify/App/pull/6196 and #6232 were a pass in Web and Desktop, checking them off.

[2021-11-08 16:40] mvtglobally commented on #4993
Issue not reproducible during KI retests. (Fourth week)
@roryabraham Let us know if you want us to keep checking it in KI retests

[2021-11-08 16:43] marcaaron commented on #6072
Heads up the rule for this was added in `eslint-config-expensify` so to tackle this one we need to:

1. Turn the rule on by adding `rulesdir/prefer-import-module-contents` to [this file](https://github.com/Expensify/eslint-config-expensify/blob/master/rules/expensify.js#L11)
2. Create a new PR in `Expensify/App` that bumps the eslint config version and fixes all these usages

[2021-11-08 16:44] isagoico commented on #6232
Retest for this was a pass! Closing

https://user-images.githubusercontent.com/44479856/140782333-7aa2dd25-a9b6-4497-852e-e6c53bf564d4.mp4

[2021-11-08 16:44] #6232 closed

[2021-11-08 16:52] #5619 closed

[2021-11-08 17:04] isagoico commented on #6222
@francoisl Retest on Android was a pass 🎉 Still waiting on iOS build, 1.1.14-4 currently not available in TF.

[2021-11-08 17:25] mallenexpensify commented on #5754
@johnmlee101 it's been **26 days** since @ProkhoDim submitted the proposal, can you please review?
https://github.com/Expensify/App/issues/5754#issuecomment-942189373

[2021-11-08 17:41] mallenexpensify commented on #6227
We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted during the hold, we will add a $250 bonus payment.

[2021-11-08 17:42] mallenexpensify commented on #6213
We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted during the hold, we will add a $250 bonus payment.

[2021-11-08 17:42] mallenexpensify commented on #6155
We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted during the hold, we will add a $250 bonus payment.

[2021-11-08 17:42] mallenexpensify commented on #6096
We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted during the hold, we will add a $250 bonus payment.

[2021-11-08 17:43] mallenexpensify commented on #6076
We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted during the hold, we will add a $250 bonus payment.

[2021-11-08 17:44] mallenexpensify commented on #6069
We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted during the hold, we will add a $250 bonus payment.

[2021-11-08 17:45] mallenexpensify commented on #5974
We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted during the hold, we will add a $250 bonus payment.

[2021-11-08 17:46] mallenexpensify commented on #5952
Doubled price to $1000 https://www.upwork.com/jobs/~01d220c10b9ea6bad2

Also...
We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted during the hold, we will add a $250 bonus payment.

[2021-11-08 17:48] mallenexpensify commented on #5926
We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted during the hold, we will add a $250 bonus payment.

[2021-11-08 17:48] mallenexpensify commented on #5894
We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted during the hold, we will add a $250 bonus payment.

[2021-11-08 17:49] mallenexpensify commented on #5892
Ping @marcaaron for proposal review above https://github.com/Expensify/App/issues/5892#issuecomment-960382897
(he might be traveling today.... )

Also...
We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted during the hold, we will add a $250 bonus payment.

[2021-11-08 18:07] mateusbra commented on #6216
Proposal posted in upwork! Once it be accepted I'll rise the PR.

[2021-11-08 18:39] mallenexpensify commented on #5637
We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted before or during the hold, we will add a $250 bonus payment.

[2021-11-08 18:39] mallenexpensify commented on #5620
We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted before or during the hold, we will add a $250 bonus payment.

[2021-11-08 18:43] mallenexpensify commented on #5591
Deployed to production, @laurenreidexpensify , I've pinged @isagoico to test again.  If https://github.com/Expensify/App/pull/5745 doesn't fix this issue, will you please add the `Company offsite hold label"?  If the label is added, then till is also added

[2021-11-08 18:44] mallenexpensify commented on #5573
@Julesssss ping to review above proposals plzzz

[2021-11-08 18:45] mallenexpensify commented on #5573
We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted before or during the hold, we will add a $250 bonus payment.

[2021-11-08 18:46] mallenexpensify commented on #5291
@Julesssss , please @eVoloshchak proposal above https://github.com/Expensify/App/issues/5291#issuecomment-955576485

We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted before or during the hold, we will add a $250 bonus payment.

[2021-11-08 18:46] mallenexpensify commented on #5193
We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted before or during the hold, we will add a $250 bonus payment.

[2021-11-08 18:47] mallenexpensify commented on #5162
We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted before or during the hold, we will add a $250 bonus payment.

[2021-11-08 18:47] mallenexpensify commented on #5142
@timszot can you please review @monykini 's proposal above!

Also...
We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted before or during the hold, we will add a $250 bonus payment.

[2021-11-08 18:48] mallenexpensify commented on #4910
We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted before or during the hold, we will add a $250 bonus payment.

[2021-11-08 18:49] mallenexpensify commented on #4629
We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted before or during the hold, we will add a $250 bonus payment.

[2021-11-08 18:49] mallenexpensify commented on #3981
We are placing all non-critical issues on hold while we're on a company offsite.  The hold is expected to be lifted on 11/19 (but could go longer).  For any PRs that are submitted before or during the hold, we will add a $250 bonus payment.

[2021-11-08 18:52] kidroca commented on #5987
I think the only change to acomodate the suggestion would be in https://github.com/Expensify/App/blob/main/src/libs/Network.js

1. We still use the general queue to persist `retryableRequests` when we're offline
2. We remove any other handling related to persisted requests, this code
3. When we're back online we process whatever is stored in persistent request storage
[code]

Additional requiremen

[2021-11-08 18:55] kidroca commented on #5987
Hmm seems like I misunderstood the timeout part, you mean like persisted requests getting stale after a day or so?

We can include some stale request filtering logic in there

[2021-11-08 18:57] johnmlee101 commented on #5754
@AlfredoAlc sorry for the delay. I like your proposal so let's go with that!

@ProkhoDim
I liked yours as well, but the animation loses its transition and breaks a bit of the existing expectations of a slide in.

@akash191095 I think adding a new constant number to the mix feels less responsive than the solution we're going for, so thats why I prefer the first proposal.

[2021-11-08 19:00] #3480 closed

[2021-11-08 19:04] isagoico commented on #6222
https://github.com/Expensify/App/issues/6246 retest was a pass on Android and iOS! Checking it off

[2021-11-08 19:10] johnmlee101 commented on #3797
Hmm, for backwards compatibility I think the prefix makes sense to me. Can't think of another solution at the moment?

[2021-11-08 19:16] thienlnam commented on #6218
Hey @anubhav217, please follow https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#proposing-a-job-that-expensify-hasnt-posted for reporting bugs.  Additionally, this issue has already been raised in https://github.com/Expensify/App/issues/6079

[2021-11-08 19:16] #6218 closed

[2021-11-08 19:19] timszot commented on #5142
@monykini I like your `option one` proposal. Can you go into more detail on where in the code exactly you'd be making changes?

[2021-11-08 19:20] thienlnam commented on #3419
Auth PR merged, Web-PR is ready to be merged

[2021-11-08 19:21] arielgreen commented on #4911
This is no longer a deploy blocker, correct? Going to move back to `Weekly`.

[2021-11-08 19:21] MitchExpensify commented on #5347
Ah I see what happened @parasharrajat : This job was paid including the n6 hold bonus but I missed the reporting bonus paying that now!

[2021-11-08 19:23] MitchExpensify commented on #5347
Paid!

[2021-11-08 19:23] #5347 closed

[2021-11-08 19:25] arielgreen commented on #6131
Posted job to Upwork - https://www.upwork.com/jobs/~01efbeab7e7a77a547

@Julesssss can you please also review @rushatgabhane's proposal above?

[2021-11-08 19:35] MitchExpensify commented on #5068
@parasharrajat paid with n6 hold bonus!

@thesahindia I've sent you an offer. Once you accept I will issue reporting bonus! Thanks

[2021-11-08 19:38] kidroca commented on #3981
That could work but we should probably add something primitive like an `id` to the request
This will allow to apply the same cancellation on persisted requests (referential === might not work)
Adding an `id` could also help ignore duplicate requests on the backend

But instead of a case by case where we introduce something like `previousUpdateLastReadRequests` wherever we need it
I think it would

[2021-11-08 19:52] isagoico commented on #5591
I'm still able to reproduce on Samsung Galaxy A51 / build 1.1.13-1
<img src="https://user-images.githubusercontent.com/44479856/140808493-50f700ee-a16f-4032-9a5c-5be1a2a331cd.png" width="40">

[2021-11-08 20:02] Beamanator commented on #5082
The `n6-hold` ended a few weeks ago so I believe we can merge https://github.com/Expensify/App/pull/5173 soon

[2021-11-08 20:12] kidroca commented on #5620
One more reason to be stuck on the splash screen is a "soft" crash captured by our `<ErrorBoundary />`
It has been happening to me on several occasions to be stuck at splash because something extraordinary happened - when an exception occurs inside a `render` method
Mostly this have been happening by calls to `Str.` methods with `undefined` e.g. take a method like `Str.isSMSLogin(credentials.login

[2021-11-08 20:21] mallenexpensify commented on #5237
@parasharrajat in the screenshot are you a different user? ie. are there 3 users in a group chat?
Regardless.. I have a feeling we're going to want to raise the question in #expensify-open-source to gain consensus.

[2021-11-08 20:32] mateomorris commented on #4629
# Proposal
Update the `Copy to Clipboard` item in `ContextMenuActions`

Given the image url (which can be extracted from `html`), the image needs to be converted into a blob before being copied to the clipboard.
![image](https://user-images.githubusercontent.com/39444813/140812486-3d4a7555-b423-4b6f-ba9d-4291bb60ceb2.png)

Normally, we might redownload it to convert it into a blob, but that wouldn

[2021-11-08 20:32] mallenexpensify commented on #4993
Paid @parasharrajat inc. the `n6-hold` bonus

[2021-11-08 20:32] #4993 closed

[2021-11-08 20:34] parasharrajat commented on #4993
@mallenexpensify I think you missed this https://github.com/Expensify/App/issues/4993#issuecomment-958655633 comment here.

[2021-11-08 20:37] mallenexpensify commented on #5337
@chiragsalian, @kidroca with the reproducible steps [here](https://github.com/Expensify/App/issues/5337#issuecomment-961007401), do you think this issue can now be worked on by an external contributor?

[2021-11-08 20:40] Julesssss commented on #5291
Sorry Matt, I was OOO last week (but set to 10% and still was assigned issues).

[2021-11-08 20:41] mallenexpensify commented on #5591
Per @isagoico 's comment above, taking off hold.  @parasharrajat , do you have thoughts or feedback before we keep moving with this issue?

[2021-11-08 20:41] Julesssss commented on #5291
Hi @eVoloshchak, your proposal looks great. Let's get you hired in UpWork.

[2021-11-08 20:45] parasharrajat commented on #5591
I think there is a big misunderstanding here. https://github.com/Expensify/App/pull/5745 was reverted due to some issue and thus latest code does not have that fix. I am sure when I would be able to merge that PR back. There are several obstacles and until something fixes on a higher level, we may have to hold that PR.

I should have informed earlier :fish: .

[2021-11-08 20:46] eVoloshchak commented on #5291
Hi, I've submitted a proposal

[2021-11-08 20:46] mallenexpensify commented on #5620
Here's an interesting one that might be related?
![IMG_6447](https://user-images.githubusercontent.com/22508304/140815403-5d36667a-85d5-4290-b02e-68b8539b70be.PNG)

A square version of the splash screen with visible parts of the app viewable above and below.

Not sure what I was doing when it happened, I might have enabled vertical-only orientation view in between opens of the app

[2021-11-08 20:47] kidroca commented on #5984
IMO early returns in `componentDidUpdate` or anywhere else we run a side effect due to certain conditions is harmful

Check this thread: https://expensify.slack.com/archives/C01GTK53T8Q/p1636393736077100

Let's say we have a code like this

[code]

we're now forced to change the signature to early return

[code]

But if we need to include another side effect we'll have to get rid of the early retu

[2021-11-08 20:49] mallenexpensify commented on #4993
Thanks Rajat, 100% missed that.  Since the amount was confirmed and Rory referenced `small bonus`, I'm going to add another bonus of $250.  Let me know if you don't think that's fair.

[2021-11-08 20:51] parasharrajat commented on #4993
Sounds good. Something is better than nothing. :1st_place_medal:

[2021-11-08 20:54] kidroca commented on #5337
Sorry @mallenexpensify this showcases it's a bug with the browser an external contributor won't be able to solve it

To address this ourselves we could move away from using `navigator.onLine` but it would be a very significant change that would surely have to be discussed/planned internally

[2021-11-08 20:58] mallenexpensify commented on #4993
Done. Thanks for the help Rajat!

[2021-11-08 21:01] mallenexpensify commented on #5291
Hired @eVoloshchak in Upworkk and assigned issue to them 🎉

[2021-11-08 21:09] johnmlee101 commented on #5987
Ah yeah sorry, if things become too stale we should ignore. I'd imagine there's a situation where you're offline with a backlog of messages and you only check days weeks or months from then and having it auto-post wouldn't be useful.

So yep! Stale request filtering.

[2021-11-08 21:10] johnmlee101 commented on #5987
I like this though! I'm going to mark as external, get a manager to create the job then I'll have them assign you.

[2021-11-08 21:11] johnmlee101 commented on #5987
Sorry for the shuffle there. @stephanieelliott once you create the job can you assign kidroca?

[2021-11-08 21:30] danieldoglas commented on #6122
I'll change this issue to Weekle.

[2021-11-08 21:32] Julesssss commented on #5125
Either is fine, so it's up to you. I think having the feature added to the library would be preferable, but if you run into any issues getting it reviewed then we can add it locally.

[2021-11-08 21:33] Dal-Papa commented on #6235
Chill @MelvinBot, it was the weekend and we just started a company offsite.

[2021-11-08 21:35] Julesssss commented on #4264
@Christinadobrzyn yep, I've caused the delay here due to a busy period at work, then some OOO due to an injury. I'll be back onto this soon.

[2021-11-08 21:40] jliexpensify commented on #5973
Looks like this is the job in Upworks - https://www.upwork.com/ab/applicants/1452575298975145984/job-details. Will be paying @kakajann in that job.

As the job post is now closed, I've sent a new contract to @Santhosh-Sellavel for reporting the bug - please accept so I can pay out the bonus :)

[2021-11-08 21:40] Julesssss commented on #5573
I've been OOO, just catching up.

Let's hire @Santhosh-Sellavel for the [Onyx proposal](https://github.com/Expensify/App/issues/5573#issuecomment-946728777).

[2021-11-08 21:43] Julesssss commented on #5926
To be honest, I prefer the solution which adds additional padding, rather than letterboxing the page. But this is really a design issue, so I delegate to Shawn here.

Lets hire @kakajann for [this solution](https://github.com/Expensify/App/issues/5926#issuecomment-946335986).

[2021-11-08 21:47] Luke9389 commented on #6069
Let's close for now and wait to see if users comment on this.

[2021-11-08 21:55] Luke9389 commented on #5873
@shawnborton Would you be willing to provide an asset for the 'copy to clipboard' icon that doesn't have any transparent space at the bottom?

[2021-11-08 21:57] Luke9389 commented on #6157
Still waiting on design for this one.

[2021-11-08 21:59] Luke9389 commented on #6130
I'll be looking into this one this week.

[2021-11-08 22:23] Julesssss commented on #6131
Hi @rushatgabhane. I also think proposal 2 would be useful, but as it will be difficult to get merged let's go with 1. I think it's still a good solution.

@arielgreen please hire @rushatgabhane

[2021-11-08 22:33] robertjchen commented on #5841
That sounds good to me! @aldo-expensify looks like you're already working on PR for this? 🙏

[2021-11-08 22:38] marcochavezf commented on #6151
TL;DR: I think `Onyx.init` returning a promise and `Onyx.getSync` could be enough to solve the design issues of `Onyx.connect`

- One of the advantages of returning a promise in `Onyx.init` (to indicate that the storage is ready during the app startup), is that we can initialize the Network loop after resolving the promise, which will prevent race conditions between reading storage for the first t

[2021-11-08 22:39] robertjchen commented on #5059
Are there any updates to the discussion on the best path forward here? 🙏

[2021-11-08 22:42] aldo-expensify commented on #5841
Yep! this PR: https://github.com/Expensify/App/pull/6200

[2021-11-08 22:43] kevinksullivan commented on #6059
When you say `mobile internet` do you mean wifi , cellular, or something else?

[2021-11-08 22:45] kevinksullivan commented on #6133
@nickmurray47 is the expectation that this is fixed? Or are there any steps to take now that the PR merged? My apps are all still in Spanish.

[2021-11-08 22:55] robertjchen commented on #5841
Re-assigned to you! 😅 Let me know if I can help with anything 👍

[2021-11-08 22:55] nickmurray47 commented on #6133
Accounts will no longer be locked into a specific language setting, but for accounts currently locked I'll whip up a snippet or something as a way to get unstuck.

[2021-11-08 23:05] nickmurray47 commented on #6133
@kevinksullivan Log into expensify.com (not new.e) with the affected account and run `NVP.set('preferredLocale', 'en');` this in the JS console.

[2021-11-08 23:10] kevinksullivan commented on #6133
Got it, yeah I quickly saw the botify close and wanted to clarify. I ran the script in JS but still no luck. Let me know if that is expected and we're just waiting for this to hit prod.

[2021-11-08 23:17] kevinksullivan commented on #5841
I love the auto-fill / edit solution. Using this app Learn & Earn as an example, they had an awesome KYC experience overall, and the auto-fill allowed me to easily make any changes necessary or add an apt number with no issues.

![image](https://user-images.githubusercontent.com/22508290/140833326-fdcb81b5-75d7-4e3f-b128-8d64b08e0c5c.png)
![image](https://user-images.githubusercontent.com/22508290

[2021-11-08 23:43] yuwenmemon commented on #5195
Added a PR to start including internalQA PRs in a separate checklist. We will also need to make a PR that keys into the GH Webhook to do a chore assignment when the internalQA label is applied. Will update on that tomorrow!

[2021-11-09 00:04] marcaaron commented on #5984
I can definitely see how someone could make that mistake, but unsure if this is actually a problem we've run into apart from people having opinions about it. A few ideas for solving your concern might be...
- Write a test if you are unsure whether logic has been inverted correctly or are afraid it will be broken in the future
- Use parens and invert an entire statement that way it is easier to inv

[2021-11-09 00:38] SofiedeVreese commented on #5722
No changes on this: open PR.

[2021-11-09 00:38] SofiedeVreese commented on #5870
No changes: it has an open PR.

[2021-11-09 00:38] SofiedeVreese commented on #5922
No updates on this: open PR.

[2021-11-09 00:42] SofiedeVreese commented on #6050
Looks like the regression's been fixed. I'm going to add a "hold for payment", 7 days from the original deploy.

[2021-11-09 00:51] marktoman commented on #6050
@SofiedeVreese To our best knowledge, the only place where the reported error or any related issue could occur has indeed been fixed. Thank you for putting this forward.

[2021-11-09 01:49] Christinadobrzyn commented on #5286
not overdue - still working on the PR

[2021-11-09 02:32] mvtglobally commented on #6122
@danieldoglas  I am getting confirmation. Will share update shortly

[2021-11-09 04:44] parasharrajat commented on #6069
Ok. Sad to see another waste of effort here.

[2021-11-09 05:42] CamilaRivera commented on #6076
Understood, thanks!

[2021-11-09 12:16] akshayasalvi commented on #5079
@iwiznia bump

[2021-11-09 12:25] kidroca commented on #5987
`Onyx.get` fate is still undecided - I've posted alternatives to highlight their problems - none are suitable
Until this problem is solved: https://github.com/Expensify/App/issues/6151 I don't think my suggestion can be aplied

[2021-11-09 12:40] kidroca commented on #5059
We've discussed some paths in other tickets, like
- make request cancelable and let new request cancel stale ones: https://github.com/Expensify/App/issues/3981#issuecomment-963311438
- add filtering logic and post only non-stale requests: https://github.com/Expensify/App/issues/3981#issuecomment-963507154

Another idea:
We can come up with some idempotent logic that generates request ids based on

[2021-11-09 13:05] kidroca commented on #5984
An early return is suitable for functions that aren't supposed to trigger side effects like `shouldComponentUpdate`

When we want to trigger a side effect we should strive for clarity for the exact conditions that trigger the side effect
- writing an unit test is great but it won't improve the readability of the statement
- using inverted statements also degrade readability
- extracting a method m

[2021-11-09 13:12] kidroca commented on #5984
There are cases where we'd like to skip all side effects - an early return comes naturally and conveys that well
It doesn't degrade readability for the rest of the statements

[code]

IMO that's the only case where an early return is preferable in a side effects producing code

[2021-11-09 13:18] marcaaron commented on #6151
Great thoughts here.

Close, but not quite - we have been avoiding its introduction entirely.

I _think_ the problem with the `get()` or `getSync()` proposals I've seen is a lack of clear and specific guidance about _when_ to use it. The original app philosophy for New Expensify is that we _should_ be able to use `Onyx.connect()` for **everything** and that it would force us to think of creative s

[2021-11-09 13:18] Santhosh-Sellavel commented on #6059
Cellular data @kevinksullivan

[2021-11-09 13:20] Santhosh-Sellavel commented on #5973
@jliexpensify Thanks, accepted offer now!

[2021-11-09 13:23] Santhosh-Sellavel commented on #5755
Wondering why the payment date is not updated in the title yet, PR is deployed to production 7 days ago refer https://github.com/Expensify/App/pull/5969#issuecomment-958421721

[2021-11-09 13:25] marcaaron commented on #5984
Let's wait and see if this causes any issues. It should not be hard to modify the custom rule to skip when inside a `componentDidUpdate()` function body if this creates enough issues for us. I thought early returns were a bit weird at first but trust me it gets easier the more you do it!

[2021-11-09 13:40] kidroca commented on #6151
`Onyx.getSync` just won't work - it'll have the same problem we have with top level connections - has it loaded the data or not - I realised that and ended my comment
It's because we can't read everything from storage into cache/memory - we can only read the finite items, which excludes conversations
Even if we could read everything in memory, why keep it there when only 50% or less is going to be

[2021-11-09 13:42] dylanexpensify commented on #6060
not overdue

[2021-11-09 13:53] marcaaron commented on #6151
I'm not sure what more to add here. We have had bad experiences with combining cache getters and subscriptions and are trying to do something new here. If there's no solution then we can at least try to come up with clear rules about when to use a get pattern.

[2021-11-09 14:09] kidroca commented on #6151
Subscriptions use `Onyx.get` internally to start with the latest value - the value that other connections could have changed by now, the way Onyx works is virtually impossible to call `Onyx.get` and get an older value

The only mishap that I can see with people using it is similar to what I've shared earlier

[code]

So maybe we can enhance connections with a promise to get the best of both worlds

[2021-11-09 14:40] marcaaron commented on #6151
A general disadvantage here is that we always have to "remember" that values are not "ready" by default. So the pattern feels more like a smell than a design - but maybe acceptable if we do not run into this problem very often.

[2021-11-09 14:48] nickmurray47 commented on #6133
Yeah, we still need this to hit prod then running the snippet will work.

[2021-11-09 15:10] azimgd commented on #3381
Found a workaround, that we can use to install react-native-web from fork. `postinstall` should be added into `expensify/app/package.json`

[code]

expanded version

[code]

@thienlnam @tgolen @marcaaron

[2021-11-09 15:33] mountiny commented on #6050
@SofiedeVreese Confirming this job shoul dbe good to pay out on the 12th.

[2021-11-09 15:51] yuwenmemon commented on #5195
Discussed with @roryabraham - We'll assign an internalQA'er to the PR that needs to be internally QA'ed in the following situations:
1. When a PR with the label `Internal QA` is _merged_
2. When an _already merged_ PR gets tagged with the label `Internal QA`

[2021-11-09 17:27] azimgd commented on #3381
https://github.com/Expensify/App/pull/6268 @thienlnam

[2021-11-09 17:28] michelle-thompson commented on #6157
Yup, I agree with this!

[2021-11-09 17:35] sidferreira commented on #5873
@arielgreen what's the preferred approach?

[2021-11-09 17:39] arielgreen commented on #5873
cc @parasharrajat @Luke9389 ^

[2021-11-09 17:40] shawnborton commented on #5873
I don't think we should solve this by using a new icon - can we just style the icon appropriately?

In terms of icon size, we always use numbers divisible by 4, so I would suggest using either 12 or 16 for the icon size.

[2021-11-09 17:54] trjExpensify commented on #5897
Hey Raj, I've been in the air travelling to the US. Back on now and settled this 👍

[2021-11-09 17:55] MonilBhavsar commented on #5869
Working on it

[2021-11-09 17:59] sidferreira commented on #5873
@shawnborton the size 14 is hardcoded in the clipboard component. I personally agree about changing it to 16. This change would not change the bottom pixels issue. The alternative is to use that double `<View />` thing. I tried to use only one, but it was causing the icon to resize without proportions.

The 2 `<View />` approach can also be a component by itself, receiving `size` and `paddings` so

[2021-11-09 18:15] AlfredoAlc commented on #5754
@johnmlee101 @mallenexpensify  Does this means I should wait until the hold is lifted, or I can start working on fixing this issue ??

[2021-11-09 18:25] parasharrajat commented on #5873
I would suggest creating a PR with any working approach. It should be not much work to switch to other if one does not work.

[2021-11-09 18:28] sidferreira commented on #5873
@parasharrajat make sense... also rereading @shawnborton comment points to the 2 view approach.

[2021-11-09 18:42] Luke9389 commented on #5873
Yea @sidferreira, go ahead and start a PR. I'll be your reviewer and I'm sure we can take this to the finish line together.

[2021-11-09 18:46] megankelso commented on #6121
hi, sorry for the delay. I believe this animation [style](https://github.com/Expensify/App/issues/6121#issuecomment-957017886) is behaving as expected. But I see what you're saying and I feel like it could be cleaned up. What if instead of the fade and scroll up it just pops open?

such as in this example:

https://user-images.githubusercontent.com/49413768/140985606-568292d8-f5a6-4ac0-8461-53900c

[2021-11-09 18:48] trjExpensify commented on #6154
^^ bump

[2021-11-09 18:49] Luke9389 commented on #6157
OK, we're open for proposals on this one. 👍

[2021-11-09 19:10] Luke9389 commented on #6069
@parasharrajat I think this one will end up coming back to us. Once we have lots of users, I think this will come up regularly for some folks.

[2021-11-09 19:10] Beamanator commented on #5918
Not finding much time to work on this so far this week 🙈

[2021-11-09 19:21] jboniface commented on #5974
temporary hold, not overdue

[2021-11-09 19:22] jboniface commented on #4678
not sure where this one is at

[2021-11-09 19:30] roryabraham commented on #4678
I left some review comments about a week ago but the PR hasn't been updated. I know there have been lots of delays on our side, but @MirFahad58 let's get this issue over the finish line!

[2021-11-09 19:44] Julesssss commented on #5591
So I think we're now awaiting proposals again (once the hold is lifted)

[2021-11-09 19:48] #5810 closed

[2021-11-09 19:56] mallenexpensify commented on #5573
@Santhosh-Sellavel can you submit a proposal and then confirm you have in a comment?
https://www.upwork.com/jobs/~019a99e91f714c02f7

[2021-11-09 19:58] mallenexpensify commented on #5926
@kakajann can you apply to the issue and comment here once you have?
https://www.upwork.com/jobs/~017190bb5038fac386

[2021-11-09 20:02] mallenexpensify commented on #5754
@AlfredoAlc please start working on the issue now.  The bonus will only be applied if you submit your PR before Friday the 19th (or when the hold is lifted if it's after then, which it shouldn't be)

[2021-11-09 20:05] mallenexpensify commented on #6069
This happens EVERY DAY for me.  IT's a 'known issue' so it'd be nice to fix it.  Luke, what's the reason for closing? Cuz we don't think it's important or because the fix is difficult?

[2021-11-09 20:06] Jag96 commented on #6253
I agree, those sound like good improvements to make this process less confusing. @Santhosh-Sellavel would you like to propose a solution for implementing those improvements? I'm also going to cc @Expensify/design to get thoughts on how we'd want to implement a progress indicator.

My initial thought is that we just need some sort of loading indicator rather than a progress indicator, and the solut

[2021-11-09 20:07] Santhosh-Sellavel commented on #5573
Done @mallenexpensify

[2021-11-09 20:14] mallenexpensify commented on #5591
The hold is not for incoming proposals but for merging code.  We want contributors to submit proposals, get hired AND submit their PRs. Then their PRs will be put on hold before merging. It's necessary to have the PR submitted before the end of the hold to be eligible for the $250 bonus

[2021-11-09 20:16] mallenexpensify commented on #5573
Thanks @Santhosh-Sellavel , hired

[2021-11-09 20:27] kakajann commented on #5926
Just applied. I'll raise a PR in a few days

[2021-11-09 20:27] Santhosh-Sellavel commented on #6253
@Jag96 At the moment, I don't have any proposals so let's keep it open to everyone.

Yes exactly, that was my thought too.

[2021-11-09 20:30] Jag96 commented on #6253
Sounds good! I'll update this to be external and add the design label to get eyes on it and update the issue to match the latest info.

[2021-11-09 20:48] jliexpensify commented on #5973
Paid @kakajann and closed the previous job.

Trying to sort out payment for Santosh here - https://www.upwork.com/ab/applicants/1447759095553306624/job-details

[2021-11-09 20:50] mountiny commented on #5973
Thanks for handling this @jliexpensify.

[2021-11-09 20:50] marcochavezf commented on #6151
I think this is what [reactive extensions](http://reactivex.io/intro.html) is about. For example, we could think that `Onyx.connect` returns a "stream" and we can subscribe to that stream to get values continuously over time (same as `Onyx.connect` works today) and we can compose streams with [RxJS](https://rxjs.dev/) (which is like lodash for events) to combine multiple streams or to get the valu

[2021-11-09 21:07] Jag96 opened #6269 "App crashes with error when navigating to chat w/ a code block"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Currently happening on main, seems to be introduced in https://github.com/Expensify/App/pull/6234

## Action Performed:
1. Sign into an account and open a chat w/ a code

[2021-11-09 21:17] danieldoglas commented on #5067
If downloading without .env works, should we close this?

[2021-11-09 21:36] MirFahad58 commented on #4678
@roryabraham i will update asap.

[2021-11-09 21:46] Jag96 commented on #6121
I agree that looks much cleaner. It looks like the fadeIn/fadeOut animation is a consistent default across the app (for example, try setting a profile picture), would we want to update the default to be no animation for all popovers like these?

[2021-11-09 21:58] jliexpensify commented on #5973
Alright, paid @Santhosh-Sellavel. Thanks everyone!

[2021-11-09 21:58] #5973 closed

[2021-11-09 21:59] #6269 closed

[2021-11-09 22:24] deetergp commented on #6213
In general, @marktoman's proposal looks good. The one thing I'd say needs to be changed is the second bullet, as those update methods should probably be in `Policy.js` rather than `User.js` since they are making `Policy_*`  API calls on the back end. (Workspaces are essentially Policies)

[2021-11-09 22:47] marktoman commented on #6213
@deetergp Thank you and understood. Should I proceed with implementation?

[2021-11-09 22:51] shawnborton commented on #6121
I'm down to standardize on the in-place fade in/out for these kinds of things on desktop. For mobile, I still think we'd want to launch this menu (which actually becomes more like a modal) from the bottom though.

[2021-11-09 23:06] marcaaron commented on #6258
@anubhav217 please join our community in Slack to report bugs or issues. 🙇

[2021-11-09 23:06] #6258 closed

[2021-11-09 23:21] kadiealexander commented on #6096
Increasing this job to $500 on behalf of the team here!

[2021-11-09 23:35] kadiealexander commented on #5892
Increased the job price to $1000 for the team!

[2021-11-09 23:40] Luke9389 commented on #6069
Oh, I misunderstood you @mallenexpensify. I thought by saying "I think I've unknowingly trained myself to pause" you were saying it's not a big deal. I'm fine with having this fix go through. I like the buffer solution that @parasharrajat presented.

[2021-11-09 23:46] kadiealexander commented on #5637
Increased job price to $1000 on behalf of the team!

[2021-11-09 23:53] kadiealexander commented on #5142
Doubled job price again [here](https://www.upwork.com/jobs/~01396fef12d0e84b11) for the team!

[2021-11-09 23:55] kadiealexander commented on #4910
Doubled the job price again on behalf of the team here.

[2021-11-09 23:59] Christinadobrzyn commented on #6157
Posted in Upwork:

Internal post - https://www.upwork.com/ab/applicants/1458222432920576000/job-details
External post - https://www.upwork.com/jobs/~0179bb51deead1a041

[2021-11-10 00:00] Luke9389 commented on #6130
Just took a look at this. Without testing it, I'm thinking the problem is right [here](https://github.com/Expensify/App/blob/d217777b51a48f35e029dae7e2395af76adce7cb/src/libs/actions/Report.js#L901-L905):
[code]
Currently, our actions limit is set to 50.

`CONST.REPORT.ACTIONS.LIMIT = 50`

I'll test to verify if this is indeed the problem. If it is, do we want to just pump this number up a bit? I'

[2021-11-10 00:18] Luke9389 commented on #6130
Yup, that is indeed the problem. The number of new chats is correct in the little green indicator at the top though.
Just an FYI
<img width="356" alt="Screen Shot 2021-11-09 at 4 17 18 PM" src="https://user-images.githubusercontent.com/49007721/141026380-5a91c0b7-0920-44e8-8eca-ff4ef4d81d1d.png">
<img width="221" alt="Screen Shot 2021-11-09 at 4 17 29 PM" src="https://user-images.githubusercontent

[2021-11-10 00:22] Luke9389 commented on #6130
I see two avenues for a fix.
1) Bump that number to 300
2) Keep the max at 50 but call this action multiple times and backfill the report.

I'm for solution 1 because we don't really know if it'll be a problem to increase that number. Might as well wait to see if that becomes an issue before doing anything more complicated.

[2021-11-10 00:39] mvtglobally commented on #6122
@danieldoglas  tester removed 2FA and looks like issue is still reproducible. You should be able to login now using the same credentials as mentioned above

[2021-11-10 02:11] sidferreira commented on #5873
PR is in progress, follows some tests/samples so far

| Platform | Sample |
|:---:|:---:|
| iOS | <img width="758" alt="ICON_IOS" src="https://user-images.githubusercontent.com/143615/141036475-a53f466f-9e37-432f-8fc0-b24a4c23bb6e.png"> |
| Android | <img width="731" alt="ICON_ANDROID" src="https://user-images.githubusercontent.com/143615/141036490-c0f32f9d-6429-4009-8178-177f8ab96515.png"> |
| De

[2021-11-10 02:21] Anthonyamcm commented on #6157
solution to this is easy adding flex to the text and a word wrap will make the text stay within the confined of the parent after that you can add any styling you want there is no technical changes needed only styling

[2021-11-10 03:03] aswin-s commented on #5193
@iwiznia @NicMendonca Is the hold gonna affect proposal reviews as well?

[2021-11-10 06:53] parasharrajat commented on #3922
Awaiting review.....

[2021-11-10 07:01] parasharrajat commented on #3855
Awaiting review...

[2021-11-10 07:26] parasharrajat commented on #6069
Please assign this issue to me....

[2021-11-10 11:07] laurenreidexpensify commented on #6096
Still looking for a proposal, price now $500 - thanks Kadie

[2021-11-10 11:12] laurenreidexpensify commented on #5079
@akshayasalvi just a heads up - we have a company wide event this week so our response times might be a little slow than normal, but @iwiznia will reply when he gets a moment in next couple days. Thanks for your patience

[2021-11-10 13:10] sidferreira commented on #6096
@laurenreidexpensify https://github.com/Expensify/App/issues/6096#issuecomment-956826027 isn't good?

[2021-11-10 14:00] developvsn commented on #6235
In `AddressSearch.js` file we have to:

1) Add here `onKeyPress` prop
https://github.com/Expensify/App/blob/d217777b51a48f35e029dae7e2395af76adce7cb/src/components/AddressSearch.js#L107
[code]
to handle press "tab" button in input

2) Add to `AddressSearch` component `isSelected` state variable with `useState` hook to check if user selected final address we will not clear input field but only will

[2021-11-10 14:30] kidroca commented on #6151
My little reminder says "Hi"
[code]
- Since we're not very fond of computed getters we can rename that to `getValue` and just be an ordinary function

Whoever defines a top level connection that tries to use the value too soon will be reminded to be more careful and take action

[2021-11-10 14:59] Jag96 commented on #6121
Sounds good, do we want to leave the fadeIn/fadeOut for mobile as well? Or remove the fade on mobile and just have it slideUp/slideDown rather than fadeInUp/fadeOutDown?

[2021-11-10 15:02] shawnborton commented on #6121
I think mobile is probably fine as-is, so I wouldn't change anything there. But curious if others agree too!

[2021-11-10 15:10] shawnborton commented on #6253
I think we could just replace the download icon with the little loading spinner while we're waiting for the download to start. Once it starts, we just reset the download button back to what it was before.

[2021-11-10 15:13] shawnborton commented on #5873
Seems like 16 and inline is the winner? What do you think?

[2021-11-10 15:19] kidroca commented on #6151
RxJS could work, but IMO will reduce the people that can work on the project

If we return an object from `connect` we can expose some fields to make the value observable or `asObservable` method
We can even make Onyx connections observable right now with something like

[code]

Though we're lacking some callbacks like `onError` and `onDisconnect` to relay that information to the Observable

[2021-11-10 15:21] sidferreira commented on #5873
@shawnborton I had mixed feelings at first, but truth is that 14 is just too small

Of course we can tweak this up later.

[2021-11-10 15:21] shawnborton commented on #5873
Sounds good - I agree, 16 is better.

[2021-11-10 15:23] sidferreira commented on #5873
Ok, will clean up the code and update the PR

[2021-11-10 15:28] marcaaron commented on #6151
Thanks everyone! Chatting w/ @marcochavezf and we are going to close this for now and refer to it when we are ready to implement a solution. We've got a lot of ideas for how to address this issue more holistically, but want to wait for some more concrete issues to pop up before proposing anything formally.

[2021-11-10 15:28] #6151 closed

[2021-11-10 15:37] kursat commented on #6155
Upwork Proposal - https://www.upwork.com/jobs/~013a8cf464cdc1cf31

I detected the issue. When you delete content of textInput, draft is saved to localStorage as empty string. This causes `ReportActionItem` to render `ReportActionItemMessage` instead of `ReportActionItemMessageEdit`.

An if statement that checks length of draft before setting it to localStorage will do it.

[2021-11-10 15:40] megankelso commented on #6121
I think mobile is fine but would be up for cleaning up web

[2021-11-10 16:19] chiragsalian commented on #6233
In review but on a merge freeze for this week.

[2021-11-10 17:07] deetergp commented on #6213
@marktoman Let's do it!

[2021-11-10 17:58] Luke9389 commented on #6130
I'm not entirely sure what you mean by here.

This seems like the ideal behavior to me.

[2021-11-10 18:10] akshayasalvi commented on #6157
**Proposal**

@Luke9389  We could've used the default `<Text numberOfLines={1} ellipsizeMode='middle'>long long long long text<Text>`, but it won't work on Desktop, Mobile Web and Web. It'll only work for iOS and Android.

I've got a couple of approaches to solve this problem:

1. We split the file name and the extension into two texts, and add ellipsis to the fileName (Most recommended)

[code]
I

[2021-11-10 18:22] Luke9389 commented on #6157
Hi @akshayasalvi, thanks for the clear and detailed proposal.
I also like option number 1.
I looked at the PR you linked (#5933) and didn't notice the part where we actually split the name. Is that in the `getDisplayName` function?

[2021-11-10 18:24] Luke9389 commented on #5873
@sidferreira, thanks for providing this sample! Great work.

[2021-11-10 18:25] akshayasalvi commented on #6157
@Luke9389 Here we didn't split the username. What we did is we had `User is typing...` as one `Text` earlier. We split that into two `Text` components `<Text numberOfLines={1}>User</Text><Text>is typing...</Text>` wrapped into a `View`.

Hope this clarifies your question.

[2021-11-10 18:28] marcaaron commented on #6130
If we have 2 messages stored and fetch the "latest 50" we can look at the state of the messages in storage, see that there will be a gap if we merge them in and use that information determine if we should remove those messages from storage and only set the most recent 50.

[2021-11-10 18:42] Luke9389 commented on #6157
OH ok I see, thanks @akshayasalvi.
So how are you thinking we should implement `splitFileNameAndExtension`?
Would there be a character limit that it checks for?

[2021-11-10 18:58] isagoico opened #6277 "Feature Request - Android - Add a notification to update the app - Reported by: @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app in a Android device
2. Wait for an update to be available

## Expected Result:
There should be a notification to notify the user tha

[2021-11-10 18:58] akshayasalvi commented on #6157
No there won't be any character limit check. We won't have to do it because if the file name is shorter, then ellipses in first `Text` won't show up and render as if its just one single `Text`. For the longer filename, the first `Text` will show `...` and the second `Text`, will show the extension.

[code]
In `AttachmentView`, we create a small renderFunction

[code]

and replace the current line:

[2021-11-10 19:08] #5067 closed

[2021-11-10 19:09] danieldoglas commented on #6122
Thank you @mvtglobally !

[2021-11-10 19:14] danieldoglas commented on #6122
Get `chatList` is returning 200+ chats.

![image](https://user-images.githubusercontent.com/5818999/141177969-ce3abcea-8290-455f-b0ad-b81a09561aa2.png)

After using `chatList` we call `reportSummaryList`. This method is returning an error:

[code]

[2021-11-10 19:18] tgolen commented on #6120
Bump @puneetlath

[2021-11-10 19:33] danieldoglas commented on #6122
Did a test request.

logs [here](https://www.expensify.com/_devportal/tools/logSearch/#sort=asc&size=2000&query=request_id%3A%226ac194558dd83338-SAN%22%20AND%20timestamp%3A%5B2021-11-10T00%3A00%20TO%202021-11-11T23%3A59%5D)

Seems like we couldn't find personal details for `applausetester+101621abb@applause.expensifail.com`., and there was a chat previously created with that user.

[2021-11-10 19:33] mananjadhav commented on #6253
I'll make an attempt to propose a solution here. Adding a spinner isn't as trivial as I thought to be because our `fileDownload` call doesn't return anything. In addition to this, the additional delay is because we're using `fetch` to first get the file blob, and then set that to a link, and programmatically click the link.

What I'll recommend is:
1. Add a prop to `AttachmentView`, showLoadingSpi

[2021-11-10 19:43] adelekennedy commented on #6253
Posted the job!

**Internal:** https://www.upwork.com/ab/applicants/1458520014822019072/job-details
**External:** https://www.upwork.com/jobs/~01ac88625279238a31

[2021-11-10 19:54] mananjadhav commented on #5892
**Proposal**

I've got a very simple solution/workaround for this one.

We're using `modalType: CONST.MODAL.MODAL_TYPE.CENTERED`(conditionally), which allows us to swipe the modal. The `swipeDirection` is anyway not reliable when I was working with https://github.com/Expensify/App/issues/4541#issuecomment-907192731 PR.  If there's no specific need for it to be swipeable, then we can just change th

[2021-11-10 19:59] parasharrajat commented on #5892
https://github.com/Expensify/App/issues/5892#issuecomment-954367914

[2021-11-10 20:20] parasharrajat commented on #6155
#### Proposal
We need to discuss this first. This issue happens due to the reason that we update the draft message as user types and the existence of a draft message for action determines that a message is being edited.
So When the user clears a message, the related draft will be set to `' '` empty string which is equal to the report is not being edited. As soon as the user presses a key, the comp

[2021-11-10 21:33] Luke9389 commented on #6157
Ok, I like this plan. I think we're getting pretty close here.
One thing I'm noticing is that we'll accidentally split the file name if the name itself has a `.` in it.
From what I understand, when should know the MIME type of the attachment right? I'm sure JS has the capability to do that. I'd need to look into the upload code to know more.

[2021-11-10 21:53] jboniface commented on #6070
merged but not deployed

[2021-11-11 01:42] Christinadobrzyn commented on #5945
not overdue - working on a proposal

[2021-11-11 02:24] warunyoud commented on #6157
I think another possible approach is to solve this issue simply using CSS styling. The logic will be quite simple. With this there are a total of 3 styling that needs to change for the container.

1. Specifying the max-width of the outer container (possibly `max-width: 80%;`). This will help ensure that the container does not exceed the size of the view.
2. Changing the container display type to b

[2021-11-11 02:35] kadiealexander commented on #5620
Still hunting the right proposal for this one!! Job is currently at $4000 (thanks for updating, Matt!)

[2021-11-11 03:36] akshayasalvi commented on #6157
Well, MIME-type is the better solution, I assumed string after the last '.' is the extension.

[2021-11-11 06:10] Luke9389 commented on #6157
OH, last `.` seems like it'll work. OK, @akshayasalvi, go ahead and spin up a PR! 🟢

[2021-11-11 06:42] Christinadobrzyn commented on #6157
Hired @akshayasalvi in Upwork!

Also hired @Santhosh-Sellavel for reporting this issue - we will pay the $250 for proposing this when the job is complete.

[2021-11-11 10:47] Amarpsp10 commented on #6157
@akshayasalvi an another simple approach  just add the style property for breaking word

    textBreak :{
         wordBreak: 'break-all'
     },

ouput look like
![ss-localhost](https://user-images.githubusercontent.com/68786618/141284744-a5444d63-d96a-4b89-8de9-77a874eeba61.png)

[2021-11-11 13:45] MonilBhavsar commented on #5869
Some of the investigations

### What's the Issue

On Android, after pressing on clipboard icon, the checkmark icon is rendered outside of the screen.
Looking at the Component tree, SVG Component is at same level as that of Text component, whereas in iOS SVG is wrapped inside Text component.
Looking at the SVG properties in Android, the pivot property resets the x and y coordinates causing this iss

[2021-11-11 14:02] conorpendergrast commented on #6277
My immediate sense is that there's relatively limited value here because both iOS and Android auto-update apps; I'll see if there's any other perspectives via Slack!

[2021-11-11 14:37] dylanexpensify commented on #5593
not overdue

[2021-11-11 14:50] luacmartins commented on #6116
Still not sure how to approach the edge cases here. I'm gonna try to come back to this one next week.

[2021-11-11 14:57] tgolen commented on #3381
Hm, that sure is more than I was thinking the script would be. Rather than putting all of that in `package.json`, I think it would be better to move it into some place like `/build/react-native-web.sh` and then `package.json` can be like `postinstall: './build/react-native-web.sh'`

[2021-11-11 15:11] shawnborton commented on #6157
That makes sense to me. I also think it couldn't hurt to give this some kind of max-width.

[2021-11-11 15:19] Santhosh-Sellavel commented on #6277
Yes, we should do it for both android & iOS.

[2021-11-11 15:35] puneetlath commented on #5755
Sorry about that @Santhosh-Sellavel. I'm not sure why that's happening. I'll have the team look into it.

In the meantime, I've gone ahead and paid the contract out.

[2021-11-11 15:37] PrashantMangukiya commented on #6120
PR  https://github.com/Expensify/App/pull/6173 for this issue deployed to production seven days ago. But OSBotify did not updated issue title to Hold for Payment etc.

[2021-11-11 15:39] #5755 closed

[2021-11-11 15:43] Jag96 commented on #6121
Sounds good! Updating the title and making external, thanks for the 👀

[2021-11-11 15:47] danieldoglas commented on #6122
The account `applausetester+101621abb@applause.expensifail.com` was closed in 2021-10-18, and when we try to get a Token for it, we're sending 'receiptUpload' as a type. In our conditions, we don't allow a token generation for closed accounts with that type (GetRestrictedToken.cpp line 121-127).

@pecanoro , it seems like you were the last one to change something in this logic. Do you know if we c

[2021-11-11 15:47] dylanexpensify commented on #6121
on it!

[2021-11-11 15:48] Santhosh-Sellavel commented on #5755
@puneetlath You've ended the wrong contract!

[2021-11-11 15:55] dylanexpensify commented on #6121
Posted!

Internal: https://www.upwork.com/ab/applicants/1458824799792119808/job-details
External: https://www.upwork.com/jobs/~01e2d2f010031c404c

[2021-11-11 15:56] mountiny commented on #5755
The problem here was that `Exported` label was not added, which is a requirement for the comment to work.

[2021-11-11 15:58] Jag96 commented on #4355
Paid, including n6 hold bonus!

[2021-11-11 15:58] #4355 closed

[2021-11-11 16:01] rushatgabhane commented on #4355
Thanks a ton!

[2021-11-11 16:21] isagoico commented on #6164
@johnmlee101 credentials used to reproduce this issue
appplausetester+0901abb@expensifail.com / Feya86Katya

[2021-11-11 16:28] mateusbra commented on #6216
@jboniface have you seen my proposal in upwork?

[2021-11-11 16:31] Jag96 commented on #6253
@mananjadhav that proposal sounds good to me, I agree that having fileDownload return a promise is more straightforward than passing a callback or saving this value in Onyx.

@adelekennedy let's move forward with hiring @mananjadhav for this one, @mananjadhav feel free to start on a PR!

[2021-11-11 16:44] conorpendergrast commented on #6277
@Santhosh-Sellavel Thanks! What's helping you see that it's important and valuable to add this? Do your app not auto-update?

[2021-11-11 16:49] chiragsalian commented on #6227
I'm going to go with @parasharrajat because he captured the importance of replacing the character values as well before sending it to the backend. If we send the characters to the backend I'm pretty sure it will error out.

As for your 1 and 2 proposal choices @parasharrajat. I think 1 would be easier and cleaner. I don't mind solution 2 but in my limited testing `CONST.REGEX.PHONE_WITH_SPECIAL_CH

[2021-11-11 17:18] Beamanator commented on #5774
As mentioned [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1636651035126800?thread_ts=1636036533.472000&cid=C01GTK53T8Q), we decided to link directly to this page which will have the download links: https://use.expensify.com/download

[2021-11-11 17:25] Beamanator commented on #5774
Actually I'm going to post again to the main channel to get a few more 👍 / 👎  on the idea before moving forward with this idea

[2021-11-11 17:31] Beamanator commented on #5781
Ok bumping this priority up again, I'll see if I can still reproduce

[2021-11-11 17:38] trjExpensify commented on #6213
Perfect. Hired on Upwork! 👍

[2021-11-11 18:07] anthony-hull commented on #3189
I just tested a link after waiting 7 days and it worked fine.
Maybe it never expires.
If so this issue is moot unless you intend for the link to expire and this is a back end bug/enhancement?

[2021-11-11 18:08] Santhosh-Sellavel commented on #6277
No, it doesn’t auto-update for android (auto-update enabled over wifi). Testflight builds auto-update regularly.

There are some cases auto-update settings can be disabled or not work in the play store.
There might be some incremental optional or mandatory updates. There are chances people might miss important bug fixes.
In-app update notification helps users to be aware of available updates, get

[2021-11-11 18:17] AlfredoAlc commented on #5754
@mallenexpensify BTW, Upwork sent me a notification that the job has expired. I haven't been hired yet.

[2021-11-11 18:42] iwiznia commented on #5193
That seems correct, but can you give a bit more context on why the calculation is wrong and what's the fix?

No

[2021-11-11 18:49] iwiznia commented on #5079
Not sure I get the question. Any number you add will be pending verification till you click the link we send you.

[2021-11-11 19:29] deetergp commented on #5906
Not overdue

[2021-11-11 19:30] deetergp commented on #6076
Relax Melvin, this is not overdue.

[2021-11-11 19:38] roryabraham commented on #5869
@MonilBhavsar I'm still a bit confused why we can't just replace the outer `Text` component [here](https://github.com/Expensify/App/blob/46bb9115097f8f3571e071a34349b96ec3f0601c/src/components/CopyTextToClipboard.js#L49-L57) with a `Pressable` or `TouchableOpacity`. We should be able to figure out the necessary styles to get it to render in the correct position. Can you show what you've tried so f

[2021-11-11 19:44] adelekennedy commented on #6253
And done!

[2021-11-11 19:56] parasharrajat commented on #6121
### Proposal
1. Update all instances of `PopoverMenu` to use `fadeIn` and `fadePut` as `animationIn` and `animationOut` respectively.

[2021-11-11 20:34] akshayasalvi commented on #5079
Okay. What do we do about @shawnborton's feedback on keeping it modal and not via the `SigninLayout`

[2021-11-11 20:48] aswin-s commented on #5193
@iwiznia Here is my detailed proposal

`imageWidth` & `imageHeight` props for ImageZoom component is being assigned from local state, which is originally set by`ImageWithSizeCalculation` component. The `onMeasure` callback takes the native width & height of source image and scales it down using a `scaleFactor`. But the scale factor calculation is actually flawed as it considers only the case where

[2021-11-11 20:54] aswin-s commented on #5162
@tgolen My proposal is for the original issue mentioned in the OP. If the decision is to go ahead with thumbnails instead of scaled image, I believe it should be another issue. WDYT?

[2021-11-11 20:55] conorpendergrast commented on #6277
Sounds good - [discussed in Slack](https://expensify.slack.com/archives/C03U7DCU4/p1636639529276200) too, and seems like a safe "just in case" feature to add

[2021-11-11 21:10] roryabraham commented on #5869
I see now why we can't just replace the outer `Text` component, and it's because the entire `CopyTextToClipboard` component is rendered inside a parent `Text` component.

[2021-11-11 21:25] dylanexpensify commented on #6060
not overdue

[2021-11-11 21:28] roryabraham commented on #5869
I've done a bit more digging and I think what's most curious in this case is that the SVG image displays in the correct location when the page first loads, but when we change to a different SVG the calculated position changes.

Another thing I've found is that React Native has a separate native component for images nested within text: https://github.com/facebook/react-native/commit/a0268a7bfc8000b

[2021-11-11 21:43] Jag96 commented on #6121
For the timing props, do we need to update any platform-specific files to ensure that mobile still behaves as it currently does?

Is there any way to just not have an animation set? If not, then can you post a video of what 80ms looks like? Ideally, we'd get it as close to https://github.com/Expensify/App/issues/6121#issuecomment-964433800 as possible.