[2021-10-08 01:31] kadiealexander commented on #5310
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 01:31] kadiealexander commented on #5296
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 01:34] kadiealexander commented on #5286
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 01:34] kadiealexander commented on #5234
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 01:34] kadiealexander commented on #5194
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 01:35] kadiealexander commented on #5191
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 01:36] kadiealexander commented on #5162
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 01:36] kadiealexander commented on #5158
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 01:36] kadiealexander commented on #5142
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 01:42] kadiealexander commented on #5082
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 01:48] kadiealexander commented on #5068
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 01:49] kadiealexander commented on #5027
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 01:49] roryabraham commented on #5536
Yeah, I think a rNVP could totally work! Another thing we could do is just create a `draftReportActions` table. I haven't spent much time considering the potential pros/cons of each option. What do you think?

Reflecting on this, I think this change is maybe bigger than I acknowledged initially and should probably go through WN/design doc process.

[2021-10-08 02:31] kadiealexander commented on #4993
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 02:31] kadiealexander commented on #4911
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 02:35] kadiealexander commented on #4867
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 02:36] kadiealexander commented on #4690
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 02:37] kadiealexander commented on #4629
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 02:38] kadiealexander commented on #4612
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 02:38] kadiealexander commented on #4559
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 02:38] kadiealexander commented on #4491
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 02:39] kadiealexander commented on #4355
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 02:39] kadiealexander commented on #4264
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 02:40] kadiealexander commented on #4211
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 02:40] kadiealexander commented on #3921
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 02:40] kadiealexander commented on #3867
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 02:40] kadiealexander commented on #3855
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 02:40] kadiealexander commented on #3755
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 02:40] kadiealexander commented on #3743
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 02:41] kadiealexander commented on #3293
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 02:41] kadiealexander commented on #2734
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 02:41] kadiealexander commented on #2719
Please refer to [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) for updated information on the `n6 hold`, we've raised the bonus to **$250** for all issues where a **PR is created** before the N6 hold is lifted.

[2021-10-08 02:51] kadiealexander commented on #5462
Hey Rehan! Happy to! Could you please request this in a quick email to contributors@expensify.com so I can grab your email address and get you added? 😊

[2021-10-08 03:27] kavimuru opened #5722 "[HOLD for payment 2021-12-06] VBA - Able to proceed with future incorporation date for VBA flow."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Enable Staging server
4. Click on deeplink https://staging.new.expensify.com/bank-account/co

[2021-10-08 03:37] kavimuru opened #5723 "Workspace - Able to add Chronos and Concierge to workspace and unable to remove"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with expensifail account
3. Go to any Workspace and Click Invite
4. On Email or Phone number bo

[2021-10-08 03:42] kavimuru opened #5724 "mWeb - VBA - Address suggestion not displayed for company info"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing the PR #5643
## Action Performed:
1. Launch the URL and login
2. Click get started in workspace to add bank account
3. In the company informati

[2021-10-08 03:43] OSBotify commented on #5724
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-10-08 03:47] Jag96 commented on #5724
@Luke9389 any ideas on this one?

[2021-10-08 04:25] parasharrajat commented on #5462
Please review the proposal https://github.com/Expensify/App/issues/5462#issuecomment-927869687

[2021-10-08 04:52] parasharrajat commented on #4775
Based on the final designs https://github.com/Expensify/App/issues/4775#issuecomment-915536409 & https://github.com/Expensify/App/issues/4775#issuecomment-916319434.

@Julesssss  I would like to work on this.

### Proposal
1. I will utilize most of the code from NewGroupPage.
 - GetSections logic, but we will not add recentReports section.
 - OptionSelector (contacts list logic).
 - Search logic.

[2021-10-08 05:05] parasharrajat commented on #5158
@Luke9389 Maybe you can review the [proposal](https://github.com/Expensify/App/issues/5158#issuecomment-916881001) and I can submit a PR for it.

[2021-10-08 07:12] MariaHCD commented on #5712
Hey, @TomatoToaster! I don't think anyone who works on this issue will need to set up a wallet on dev considering that the payment option here is "Settled up elsewhere" and not "Pay with Expensify.

[2021-10-08 07:59] iwiznia commented on #5079
Good questions, @Expensify/design can you chime in?

Not sure I get this question, there's no option to change your email in these screens.

Yeah, I think all of them are, that's why you can close the screen.

[2021-10-08 08:19] pecanoro commented on #5536
A new table seems a bit overkill, I think a rNVP would be great. But I agree with you, we may need to open up the discussion on Slack so we can weigh our options in case a small doc is needed. I will try to do so later in the day.

[2021-10-08 08:30] shawnborton commented on #5079
This will just launch in the rightDocked modal, so it appears as a sidebar. Basically like this pattern:
![image](https://user-images.githubusercontent.com/2319350/136524151-49a538fd-b900-4c3f-947e-57e56bff90e3.png)

It's not going to be like the rest of the SignIn pages - see the screenshot above. It will use the standard rightDocked modal header (with a close button) and a green action button th

[2021-10-08 09:46] parasharrajat commented on #4994
Proposal https://github.com/Expensify/App/issues/4994#issuecomment-910766883

[2021-10-08 10:44] Julesssss commented on #4775
Hmm, good question. As the OptionsSelected has its own logic for which emails can be 'selected', I think we may not need the error UI here (for example, an invalid email cannot be selected). I think the same behavior (1) would be fine if any additional policy errors need to be displayed.

[2021-10-08 13:39] #5697 closed

[2021-10-08 13:48] johnmlee101 commented on #4911
This is available once more for proposals!

[2021-10-08 14:40] TomatoToaster commented on #5712
I have a feeling if we fix this issue for `settled up elsewhere` it'll also fix it for settling up with expensify. I guess this could be external then, but either way @luacmartins has picked it up 🙇🏾 thank you!

[2021-10-08 15:12] mallenexpensify commented on #3623
Thanks @Santhosh-Sellavel , using that method with my iPhone I was able to reproduce 🎉
I created a job to pay you $500, can you please apply and comment here when you've done so?
https://www.upwork.com/jobs/~0147d4b6a84e5185b9

@marcaaron @NikkiWines @stitesExpensify now  that we have reliable reproducible steps, what's the next best step here?  Should I assign back to Nikki since she was initiall

[2021-10-08 15:34] Santhosh-Sellavel commented on #3623
<img width="1323" alt="Screenshot 2021-10-08 at 9 02 51 PM" src="https://user-images.githubusercontent.com/85645967/136584164-dede1ff8-8689-4a62-b3ef-f2ebf4a37aca.png">

@mallenexpensify
I am getting this error can you please invite me to the job or make the job open for all, thanks!

[2021-10-08 15:49] parasharrajat commented on #5699
@kidroca can you check if you have multiple `announce` named reports in localhost. In my case, I have multiple reports with `announce` name.

[2021-10-08 16:38] isagoico opened #5728 "[HOLD for payment 2021-11-04] Send money option is visible in restricted accounts - @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to Chronos conversation
2. Click on the + button in compose box

## Expected Result:
There should not be an option for sending money in

[2021-10-08 16:40] parasharrajat commented on #5237
### Proposal
1. We are not filtering the deleted messages (where a deleted action is `action.html = ''`).

https://github.com/Expensify/App/blob/a860c59f9f7bd667f005aea269ec6fe6aa696b50/src/libs/actions/Report.js#L107

2. We can get the report actions and then count the deleted messages that lie between the latest and lastReadSequenceNumber.

3. remove the calculated count of deleted messages from

[2021-10-08 17:43] AlfredoAlc commented on #5310
@AndrewGable I will take a deeper look to find out the root of this problem.

FYI, @jsamr actually the `margin` prop it what seems to be causing the bug.

[2021-10-08 17:46] rushatgabhane commented on #4355
@Jag96 should I submit a PR to NewDot?

--
I've taken the liberty to add new methods to `rn-haptic-feedback` (like effectClick, effectHeavyClick etc).
And also made the code more modular.  [PR link](https://github.com/junina-de/react-native-haptic-feedback/pull/66)

I hoped that [my PR](https://github.com/junina-de/react-native-haptic-feedback/pull/66)  to `rn-haptic-feedback` would have been merg

[2021-10-08 17:49] Luke9389 commented on #5724
Hmm, this should be addressed by [this PR](https://github.com/Expensify/Web-Expensify/pull/32076#issuecomment-938068404) which is on staging. I wonder if this is sending the request to the production API.

Let's wait for that PR I just linked to hit production to see if this fixes itself.

[2021-10-08 17:55] parasharrajat commented on #5158
Yup, it's for merges but we can submit a PR based on the recent post from Matt. @Luke9389

[2021-10-08 18:14] #5518 closed

[2021-10-08 19:18] Luke9389 commented on #5724
Resolved that the above suggestion is indeed the cause of the issue here: https://expensify.slack.com/archives/C07J32337/p1633718444462700

[2021-10-08 19:30] #5724 closed

[2021-10-08 20:23] mallenexpensify commented on #3623
Was able to hire and pay @Santhosh-Sellavel specifically for documenting reproducible steps.

[2021-10-08 21:50] isagoico opened #5737 "Update link sharing description - @Akshavasalvi"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Copy this link https://new.expensify.com
2. Paste it in a a app that has the preview link feature (for example: Whatsapp)

## Expected Result:
Li

[2021-10-08 21:55] isagoico commented on #3981
@rafecolton Is experiencing this issue more recently - https://expensify.slack.com/archives/C01GTK53T8Q/p1633566684464000

[2021-10-08 22:02] chiragsalian commented on #4899
Demoting to monthly since i'm focusing on other tasks while this still has n6-hold on it.

[2021-10-08 22:21] roryabraham commented on #4977
No update from last week 😬

[2021-10-08 22:40] isagoico opened #5739 "A"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

##

[2021-10-08 23:20] aldo-expensify commented on #5309
PR ready for review!

[2021-10-08 23:20] francoisl commented on #5737
@davidcardoza (assigned with the copy label), do you think we should just go with `Chat and payments are now the same thing.` and simply remove `Launching Summer 2021, join the waitlist to be first in line!`?

[2021-10-08 23:30] davidcardoza commented on #5737
With less of an emphasis on chat in our marketing, the link description copy can swing towards the features we are using. How about this?:

`Corporate cards, reimbursements, receipt scanning, invoicing, and bill pay. One app, all free.

[2021-10-09 00:39] davidcardoza commented on #5737
The description looks good. We need to update the header though too, perhaps just `New Expensify` for now

[2021-10-09 04:51] parasharrajat commented on #5158
PR is up https://github.com/Expensify/App/pull/5741. Please assign this issue to me and Hire me. Thanks.

[2021-10-09 10:42] parasharrajat commented on #3623
I did some analysis and found that Rduric has the best and proper explanation of this issue. Now two questions that we have to think about is:
1. What should we do if the message is failed to send? (Slack, Whatsapp says message failed to send try again). Do we need this functionality? It is possible to do if we want. (Should be a separate issue.)

2. Another thing is the order of messages, even if

[2021-10-09 17:19] nvdnvd00 commented on #5556
My Proposed Solution:
![NeosShot2021-10-10 at 00 10 41@2x](https://user-images.githubusercontent.com/17423070/136668101-7d420ed9-a442-49f4-9d01-bf7524d0a553.png)
<img width="392" alt="NeosShot2021-10-10 at 00 16 28@2x" src="https://user-images.githubusercontent.com/17423070/136668122-db7685b6-ddc6-4582-8a23-6d5a606934e8.png">

The marginBottom of Preferred Pronouns is unnecessary, I wrap  **selfSe

[2021-10-09 17:49] hanaffi2 opened #5743 "Notifications propagates"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login to account A which has some unread notifications.
2. Logout without marking them as read, Log into account B which previously didnt have a

[2021-10-10 00:55] kavimuru opened #5744 "[HOLD for payment 2021-11-04] Scrolling Payments page on iOS hides available options"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Login with an account.
3. Go to Profile Icon > Payments

## Expected Result:
Payments Page should not scroll or should be a

[2021-10-10 05:44] parasharrajat commented on #5744
#### Proposal
To fix this:

Add a ScrollView to the whole page with `flex:1` and disable the bouncing effect on the PaymentMethodList's Flatlist.

[2021-10-10 07:09] MirFahad58 commented on #4678
Hello @michaelhaxhiu @shawnborton i need the translation for these in es.js
reportActionsView: {
        beginingOfChatHistroy: 'This is the beginning of your chat history with',
        beginingOfChatHistroyPrivate: 'This is the beginning of the private',
        beginingOfChatHistroyPrivateSectionPart: 'room, invite others by @mentioning them.',
    },

[2021-10-10 16:55] parasharrajat commented on #5027
@roryabraham  As I previously mentioned that this is an issue from the Lib but I was not sure about it. I checked the router state and it was telling me to open the drawer by default. But Drawer was not opening which led me to the conclusion that this is an issue with lib rather than our configuration.

I also mentioned that we can set the route to `Home` when the drawer is closed we can fix this

[2021-10-10 16:57] parasharrajat commented on #4211
@Beamanator Hurray, the issue is fixed upstream and now I can create a PR to configure the app correctly and
it will also fix https://github.com/Expensify/App/issues/5027.

[2021-10-10 19:34] mountiny commented on #5739
Good `External` issue for investigation into why this is happening.

[2021-10-10 21:01] kadiealexander commented on #4559
Also a +1 to the former. I can't think of a use case where the latter would be preferred, I'm sure people don't have different preferred emojis depending on the device being used.

[2021-10-10 22:00] mountiny commented on #5347
PR is moving ahead 🎉

[2021-10-10 22:01] mountiny commented on #5355
Status update: PR is ready for merge, just waiting for the `n6 hold` to be lifted 🙏

[2021-10-10 22:26] SofiedeVreese commented on #4994
Issue looks unique, posting on Upwork.

https://www.upwork.com/jobs/~0198358c4ccb21222d

Adding Exported label.

[2021-10-11 07:05] Christinadobrzyn commented on #5286
On hold for n6

[2021-10-11 07:06] Christinadobrzyn commented on #4264
On hold for n6

[2021-10-11 07:08] Christinadobrzyn commented on #5106
Closing - because https://github.com/Expensify/App/pull/5302 is good!

[2021-10-11 07:24] mananjadhav commented on #4264
I wasn’t available last week due to health issues. But yeah testing as of now.

Resumed now. I’ll raise the PR by tomorrow.

[2021-10-11 08:01] anthony-hull commented on #3189
ok :)

[2021-10-11 10:25] Julesssss commented on #4775
Number 2 sounds better to me as it matches how we enable/disable buttons elsewhere in the app. What do you think?

[2021-10-11 16:01] akshayasalvi commented on #5737
@francoisl There would be an Upwork job for posting this right?

[2021-10-11 16:11] iwiznia commented on #5079
Oh, that makes total sense and now that you mention it.
I realize now that `PersonalDetails_Update` API does not support setting either phone number nor email addresses. That needs to be done with a separate API `User_SecondaryLogin_Send` @akshayasalvi.

[2021-10-11 16:12] Beamanator commented on #5521
@PrashantMangukiya are you still interested in working on this issue? If so, can you submit an updated proposal?

[2021-10-11 16:25] #5580 closed

[2021-10-11 17:17] mvtglobally commented on #5113
Issue reproducible during KI retests.

[2021-10-11 19:00] #4127 closed

[2021-10-11 19:01] mananjadhav commented on #5247
PR is deployed to production

[2021-10-11 19:13] mateomorris commented on #5521
# Proposal

* In `colors.js`: Change `gray4` to `#8B979A` and add `gray5: '#6B7880'

In `default.js`:
* Remove `border`
* Add `componentBorder: colors.gray4` and `accentBorder: colors.gray2`
* Change `textSupporting: colors.gray4` to `textSupporting:  colors.gray5` #5503
* Change `icon: colors.gray3` to `icon: colors.gray4` #5506

In `styles.js`: update `sidebarLinkActive.backgroundColor` from `ba

[2021-10-11 19:15] isagoico opened #5754 "[HOLD for payment 2021-12-13] FAB - Options are shown for full screen width in iPad, it should show like how it’s handled in desktop - @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app in an iPad
2. Click on the FAB / Plus button

## Expected Result:
Global action menu should be displayed like in the desktop app, in a f

[2021-10-11 19:38] isagoico opened #5755 "Attachment preview is cut if the file name is long - @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Upload a file with a long name that will not show a preview (like a zip or a mp4)

## Expected Result:
The attachme

[2021-10-11 19:55] mananjadhav commented on #5233
@MitchExpensify Would there be a bonus for reporting this issue? The duplicate issue seems to be fixed and created after reporting this issue.

[2021-10-11 19:58] isagoico opened #5756 "[HOLD for payment 2021-10-30] Empty area left to a long message opens up the user details page - @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Send a long message that take at least a 5 lines (could be a long image)
3. Click on the blank area left to the mes

[2021-10-11 20:10] isagoico opened #5757 "[HOLD for payment 2021-11-04] Clicking on the empty area right to the view details opens the IOU details page - @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel! https://www.upwork.com/jobs/~01e19e81afbed9cb10
___

## Action Performed:
1. Navigate to a conversation
2. Request money to the user
3. Click on the empty area next to the IO

[2021-10-11 20:16] thienlnam commented on #5756
Removing N6-Hold since this affects regular app functionality

[2021-10-11 21:22] parasharrajat commented on #5737
@adelekennedy I think only bonus should be paid here as the issue was solved internally.

[2021-10-11 21:35] joelbettner opened #5761 "Getting 404 error when submttting company info step"
[This issue was originally](https://github.com/Expensify/Expensify/issues/180774) posted by @kevinksullivan in the Expensify/Expensify repo, but after researching it I determined it is due to issues with code in the App repo. I've re-created the issue here and closed it in the Expensify/Expensify repo

# Problem

I cannot continue past company info step **on staging only**

### Reproduction steps

[2021-10-11 21:43] Beamanator opened #5762 "[HOLD for payment 2021-11-04] Routing number error on incorrect step"
The step to add manually a bank account has a more relaxed validation on the routing number compared to the validation performed during the company step.

Ideally, the error should appear during the manually add account step.

Test data:

Routing number: `123456789`
Account number: `123`

## Action Performed:

1. Create and verify an account for NewDot
2. In NewDot, create workspace and start VBA

[2021-10-11 21:43] #5554 closed

[2021-10-11 21:51] eVoloshchak commented on #4867
I was able to reproduce this issue on an iPhone X running iOS 14.7.1

Inside [PDFView](https://github.com/Expensify/App/blob/main/src/components/PDFView/index.js) we use windowWidth from withWindowDimensions hook to calculate width for the page. I noticed that when you zoom in, Dimensions's 'change' event fires, indicating that the window size was changed. While it was not. Initial device width is

[2021-10-11 22:27] #5575 closed

[2021-10-11 22:45] AndrewGable commented on #4867
This proposal looks great to me 👍

[2021-10-11 22:46] mallenexpensify commented on #2727
Removed the monthly label so it won't auto-close.  Also dropped a (likely fruitless) post in #expensify-open-source to see if anyone has ideas. https://expensify.slack.com/archives/C01GTK53T8Q/p1633992309160300

[2021-10-11 22:54] mallenexpensify commented on #3855
Looks like this one slipped through.  I paid @parasharrajat and closed the contract in Upwork. Closing this issue now, I tested in Chrome and Firefox and using 1Password to log in appears to be working!

[2021-10-11 22:55] mallenexpensify commented on #4905
Thanks @Santhosh-Sellavel , assigned!

[2021-10-12 00:18] marcochavezf commented on #5619
Created a function to retrieve the `authToken` using `Promise` to ensure it's available right before it's used, but the app ends up calling the server several times (I'm still investigating why):

<img width="800" alt="Screen Shot 2021-10-11 at 19 12 58" src="https://user-images.githubusercontent.com/6829422/136869815-6f5d9e93-5554-4be4-a05b-7475e4f5106c.png">

<img width="800" alt="Screen Shot 20

[2021-10-12 00:56] stephanieelliott commented on #5521
This is on Upwork here: https://www.upwork.com/jobs/~019b45fec6e1a6cdcc

[2021-10-12 01:00] roryabraham commented on #3623
It seems to me like this would work, but I wonder if there is some performance implication with comparing timestamps vs comparing integers, because this is a very high-frequency operation.

Unless I am missing something, it also seems like sorting report actions by timestamp rather than sequence number would deprecate the need for _any_ sequence number. Also I think this would get us better (or at

[2021-10-12 01:09] isagoico opened #5766 "[HOLD] Unable to create chat while in offline mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to app and kill the internet connection
2. Try to create a new chat with any user

## Expected Result:
User should be able to create a cha

[2021-10-12 02:03] isagoico opened #5767 "[HOLD for payment 2021-11-04] Edit Workspace - Save button does not have correct padding - @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a workspace
2. Click on the workspace avatar

## Expected Result:
Save button should have correct padding. For example
![image](https

[2021-10-12 02:15] isagoico opened #5768 "[HOLD for payment 2022-03-22][$500] Group Creation - Duplicate user can be seen in search list - @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Select a user from the list. (must be included in the recents list)
2. Search for the same user.
3. Clear the search.
4. Duplicate user is shown

[2021-10-12 02:21] isagoico opened #5769 "[HOLD for payment 2021-11-04] Pressing Escape on the confirmation modal while removing a Member closes both modals - @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to Workspace settings
2. Navigate to members
3. Check one from the list and click on remove
4. Once the remove modal appears, press the

[2021-10-12 03:01] jliexpensify commented on #5418
Posted!

Internal - https://www.upwork.com/ab/applicants/1447759095553306624/job-details

External - https://www.upwork.com/jobs/~01d69c9e6a77a717cd

[2021-10-12 05:07] Santhosh-Sellavel commented on #5762
@Beamanator How it's done on the server-side?  Is there a separate API we use to verify bank account & routing numbers then we can use it to verify the same here?

[2021-10-12 05:21] Santhosh-Sellavel commented on #5762
Also, I see some proposals in the old issue #5554  using an algorithm implementation from here http://en.wikipedia.org/wiki/Routing_transit_number#MICR_Routing_number_format

Is it an acceptable solution?

[2021-10-12 06:06] mountiny commented on #5191
`Weekly`, waiting for the` n6-hold` to be lifted.

[2021-10-12 09:13] dylanexpensify commented on #5756
Posted!
Internal: https://www.upwork.com/ab/applicants/1447852870053113856/job-details
External: https://www.upwork.com/jobs/~018aca3a27d69b586c

[2021-10-12 09:20] parasharrajat commented on #5767
I know this can be fixed by `padding: 0` but that won't be effective for long.

### Proposal
The workspace Edit page is not following the best practice as others. I have worked on various pages for creating and fixing issues with layouts.
Check this video, here button is not always fixed. It scrolls with the content.

https://user-images.githubusercontent.com/24370807/136925510-7adcae76-d454-4900-

[2021-10-12 09:31] MariaHCD commented on #5761
Looking into this:
1. Cannot seem to reproduce the 404 error on dev nor on staging 🤔
2. Even if the company information form is submitted successfully, the company address field is cleared if the user goes back to the form. So it looks to me that the company address field just needs to be set correctly.

[2021-10-12 10:40] iwiznia commented on #5766
I don't agree with this. Why would we backdate comments? If you are in a chat of 3 people and you comment offline, your comments effectively were made when you came online.

[2021-10-12 11:44] TomatoToaster commented on #3245
Hadn't worked on this since my last update, but with N6 closing up I should get time for this soon.

[2021-10-12 15:00] iwiznia commented on #5766
If we agree it's out of scope, let's keep that discussion for a separate issue. Right now, we only have one date and that date is when the server creates it.

[2021-10-12 15:11] isagoico commented on #5718
I thought I had posted the results of the retest here yesterday:

1. https://github.com/Expensify/App/pull/5642 - is failing because of this visual issue https://github.com/Expensify/App/issues/5760
2. https://github.com/Expensify/App/pull/5749 - Was a pass 🎉

[2021-10-12 15:32] stitesExpensify commented on #5418
Yep. Thanks!

[2021-10-12 15:33] isagoico opened #5772 "[HOLD for payment 2021-10-30] Workspace - Tooltip is missing in workspace name - Reported by: @akshayasalvi"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to workspace settings
2. Hover the cursor over the name

## Expected Result:
There should be a tooltip with the name of the workspace.

[2021-10-12 16:36] Santhosh-Sellavel commented on #5701
@Dal-Papa @isagoico
How to settle up via Expensify are there any test accounts?

[2021-10-12 16:37] AndrewGable commented on #4867
It looks like you just need to sign the CLA as prompted by CLA Bot

[2021-10-12 16:45] trjExpensify commented on #5767
This is polish for N6, so I'm removing the `n6-hold`.

[2021-10-12 16:51] bfitzexpensify commented on #5754
Upwork [post](https://www.upwork.com/jobs/~0199fa610783c56c46)

[2021-10-12 16:54] isagoico opened #5774 "[HOLD for payment 2021-12-06] Add app download links to workspace invitation validation email - Reported by: @akshayasalvi"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Invite a new user account (that you have access to) to a workspace
2. Check the validation email

## Expected Result:
If the apps are mentioned i

[2021-10-12 17:02] parasharrajat commented on #4911
This is not on N6-hold and I think we should tackle this asap. It affecting users. Moreover solving two issues at once.

[2021-10-12 17:05] Julesssss commented on #5766
Yeah, I think so. But let's just answer this first:

Yep, given that this will likely influence future offline functionality let's see what design suggests.

@Expensify/design any thoughts on how we should inform the user about reports not being created due to being offline? Should we inform users that the report wasn't created, or instead hide this information from users?

[2021-10-12 17:08] bfitzexpensify commented on #5125
OK, @parasharrajat has shared a proposal in Slack [https://expensify.slack.com/archives/C01GTK53T8Q/p1631083001062000?thread_ts=1630818514.450000&cid=C01GTK53T8Q]

Here's that proposal:

[code]
@tylerkaraszewski, are you part of the exported issues review team? Let me know if not and I'll reassign.

[2021-10-12 17:24] stitesExpensify commented on #3189
Looks good! I updated the copy a little bit and we should be good to go

[2021-10-12 17:27] deetergp commented on #5541
Thanks for the added context @akshayasalvi.

@arielgreen let's hire @akshayasalvi in Upwork.

[2021-10-12 17:39] aldo-expensify commented on #5762
Hmm, I think we may be restricting VBA accounts in NewDot to the US. When you get to the company step, you cannot choose country, and you can only choose States and Zip codes from the US. Shouldn't we just use the US routing validation?

[2021-10-12 17:39] isagoico opened #5777 "Workspace - Navigating away workspace editor before image upload completion causes infinite loader - Reported by: @akshayasalvi"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to workspace settings
2. Click on the avatar
3. Upload a new image for the workspace
4. While the upload is in progress, navigate away f

[2021-10-12 17:42] Jag96 commented on #4355
@rushatgabhane this is still on n6-hold, and we'll need to create an Expensify fork of `rn-haptic-feedback` first for this where you can then submit a PR, so I think we can hold for now. If the n6-hold label comes off and the PR still hasn't been reviewed in the rn-haptic-feedback repo then we can get that repo forked by Expensify, have you create a PR on the Expensify fork, get it reviewed/tested

[2021-10-12 17:43] isagoico opened #5778 "[HOLD for payment 2021-11-04] Workspace - Add a image size restriction to workspace editor - Reported by: @akshayasalvi"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to workspace editor
2. Upload a workspace image that's over 50mb

## Expected Result:
There should be a restriction to uploading large s

[2021-10-12 17:45] Beamanator commented on #5762
Wow great call both of you! I hadn't realized that 😆

Yeah I think it would be nice to go with the http://www.brainjar.com/js/validation/ validation to make it consistent :D

[2021-10-12 17:54] marcaaron commented on #5632
This issue is still on hold? We are discussing doing away with placeholders entirely so not sure how much this will be a problem in the future.

[2021-10-12 18:03] isagoico opened #5781 "New user does not receive a magic signin link when receiving a message from another user - Reported by: @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send a message to a non existing user you have access to
2. Check the new user email inbox for the message notification
3. Try to log in with the

[2021-10-12 18:07] Jag96 commented on #5589
@parasharrajat good point, we don't have plans right now for RTL support so I agree this can be closed.

[2021-10-12 18:13] akash191095 commented on #5756
I was able to reproduce this issue on my side as well, a simple fix would be to use align-self: flex-start; on the avatar element, I tried this on my browser and it fixed the issue, need to check if there are any consequences of this.

With fix:
<img width="800" alt="Screenshot 2021-10-12 at 11 40 51 PM" src="https://user-images.githubusercontent.com/26057318/137007534-5d9b3ee2-c749-4856-8b79-d7e9

[2021-10-12 18:15] parasharrajat commented on #5756
@thienlnam let's get this rolling. Should not hang this for long.

[2021-10-12 18:19] Santhosh-Sellavel commented on #5591
@kakajann
Refer these [post 1](https://expensify.slack.com/archives/C01GTK53T8Q/p1631754482374800) & [post 2](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600)

[2021-10-12 18:32] isagoico opened #5783 "[HOLD for payment 2021-11-04] Default workspace image is not displayed if a invalid file is uploaded - Reported by: @akshayasalvi"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to workspace editor.
2. Upload a non image file (e.g a zip file)

## Expected Result:
An error is displayed and the default image of the

[2021-10-12 18:48] Jag96 commented on #5777
I can confirm this issue doesn't show up when testing https://github.com/Expensify/App/pull/5271, good stuff! Closing

[2021-10-12 18:48] #5777 closed

[2021-10-12 18:52] laurenreidexpensify commented on #5757
https://www.upwork.com/jobs/~01e19e81afbed9cb10

[2021-10-12 19:01] thienlnam commented on #5756
Hmm, I thought another engineer would be assigned once the external label to review proposals but I guess I'll take care of it.

Your proposal is good 🟢, @dylanexpensify Could you please assign and hire @parasharrajat?

[2021-10-12 19:07] Beamanator commented on #5762
@Santhosh-Sellavel I like your proposal, let's go with that, making sure to use the algorithm we agreed on [here](https://github.com/Expensify/App/issues/5762#issuecomment-941228132).

I don't think this is necessary, since the other validations in [this function](https://github.com/Expensify/App/blob/8fd5aecc0cd0dfe35c4b037d2d888b26d72151c5/src/pages/ReimbursementAccount/BankAccountStep.js#L82-L9

[2021-10-12 19:59] timszot commented on #5142
No proposals here yet.

[2021-10-12 22:11] Luke9389 opened #5794 "[N6] AddressSearch component is not autofilling"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
There are two ways to test this

1) Sign into New Dot (new account is fine)
2) Create a new workspace
3) Connect a new bank account
4) Follow this S

[2021-10-13 02:01] Beamanator opened #5797 "Test issue"
Testing `Exported` webhook 🤔

[2021-10-13 02:29] kavimuru opened #5798 "mWeb/Safari - 1.1.7.6 - Settings - Workspace - View bills and view invoices external links are not working"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #5776
## Action Performed:
1. Go to staging.new.expenisify.com and login
2. Go to settings > Workspace
3. Tap the links view bills or view invo

[2021-10-13 02:30] OSBotify commented on #5798
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-10-13 02:33] kavimuru opened #5799 "Settings - Workspace - Reimbursement receipts link opens to a blank page in OldDot"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #5776
## Action Performed:
1. Go to staging.new.expenisify.com and login
2. Go to settings > Workspace
3. Click reimburse receipts external

[2021-10-13 02:43] marcaaron commented on #5794
Spent some time looking into this and alternatives with @Luke9389 [here](https://expensify.slack.com/archives/C03TQ48KC/p1634088400387400). I am pretty solidly on team `1` and if we know that will work let's just do it. Sometimes we have to apply things the way a 3rd party libs wants and in those cases I think it's fine to make exceptions. Feels like the [rule about hooks here](https://github.com/

[2021-10-13 10:22] parasharrajat commented on #4775
@trjExpensify Thanks for the points. I am currently following the design attached but I will update it, if needed.

[2021-10-13 10:41] parasharrajat commented on #5756
@dylanexpensify  Please assign this to me. Thanks

[2021-10-13 10:57] dylanexpensify commented on #5756
@parasharrajat _done!_

[2021-10-13 11:52] Julesssss commented on #5766
I'm removing the design label as offline functionality is already being used consistently.

[2021-10-13 13:39] shawnborton commented on #5710
Going to unassign myself, but let me know if there is anything design-related I can help out with here.

[2021-10-13 15:10] trjExpensify commented on #5772
Upwork job posted here: https://www.upwork.com/jobs/~01ba750a42f01afa12
CME not auto-assigned picking someone at random for now.

[2021-10-13 15:28] parasharrajat commented on #4867
I will be reviewing the PR and I will let you know @AndrewGable when this is ready for final review and possibly for merge. [See More](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600)

[2021-10-13 15:31] AndrewGable commented on #4867
Exciting @parasharrajat! 🎉

[2021-10-13 15:33] Beamanator commented on #5772
Removing `n6-hold` since this is nice polish for our `n6` release 👍

[2021-10-13 15:38] Beamanator commented on #5521
Sounds good, thanks for the heads up @parasharrajat 💪

[2021-10-13 15:54] rushatgabhane commented on #4355
Got it, thanks!

[2021-10-13 16:19] parasharrajat commented on #5194
@johnmlee101 I think this should not be on n6-hold. Also, I see that the page is already changed but there is a bug in that code which this PR is trying to solve too.

So if you roll the dice here, I will update the PR and ready it for merge.

[2021-10-13 17:37] isagoico opened #5807 "[HOLD for payment 2021-12-06] [$500] New message marker and new message badge are not dismissed when user opens report via URL - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open two browsers.
2. Login with Account A in browser A.
3. Login with account B in browser B.
4. Close app on browser B.
5. Send message from a

[2021-10-13 17:41] #5626 closed

[2021-10-13 17:49] aldo-expensify opened #5810 "[N6] AddressSearch component - Border lingers after close"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create NewDot account, verify
2. Navigate to `/bank-account/company`
3. Option 1:
    1. Type something that doesn't yield any result by the auto

[2021-10-13 18:05] isagoico opened #5811 "[HOLD for payment 2021-10-30] Workspace - Reduce button size in invite members modal - Reported by: @akshayasalvi"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in with an account with existing workspace
2. Navigate to workspace > manage members

## Expected Result:
Buttons should have a regular size.

[2021-10-13 18:12] akshayasalvi commented on #5623
@bfitzexpensify Any updates on this one?

[2021-10-13 18:52] bfitzexpensify commented on #5623
Sorry @akshayasalvi — currentlly looking for an engineer to review the proposal. Hang tight!

[2021-10-13 19:12] johnmlee101 commented on #2160
No update so far, unless we know why the version number isn't available 😄

[2021-10-13 19:18] #5799 closed

[2021-10-13 19:23] parasharrajat commented on #4733
No update about the solution. But I ended with the conclusion that Using View inside the Text is not a good option Especially when you don't have control over the parent elements.

In this case, only words that extend beyond the width of the screen, will overflow.

At last, I will try to hack it but there are other priorities for me and this is yet on hold until N6.

[2021-10-13 19:31] thienlnam commented on #5593
@PrashantMangukiya Thanks, that looks good 🟢 on the job - @dylanexpensify Could you please hire @PrashantMangukiya for the job and assign him on this issue?

[2021-10-13 19:31] isagoico opened #5821 "[HOLD for payment 2021-11-04] Log in - Add country code information in login - @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to log in
2. Try to enter a non-number

## Expected Result:
There should be some information about the need to add a country code for a

[2021-10-13 19:42] parasharrajat commented on #5772
I will be reviewing the PR and I will let you know @Beamanator  when this is ready for final review and possibly for merge. [See More](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600)

[2021-10-13 19:52] bondydaa commented on #5821
Not sure if this is a daily or not, did we ever had a message about needing country code and this is a regression? if it's a regression then daily is probably good but if we just need to tweak the messaging then weekly is probably fine too 🤷‍♂️

[2021-10-13 20:19] marcochavezf commented on #5743
I still have a few tasks on my plate, I'm going to add the external label

[2021-10-13 20:25] roryabraham commented on #5588
Hello @akshayasalvi this _is_ still on hold, but I think at this point we can get an Upwork job created for it so you can get started. That way you might have a PR ready and pre-reviewed once the hold is lifted.

[2021-10-13 20:36] roryabraham commented on #5766
@Julesssss I think @iwiznia was really referring to a visual indication that a report was created offline and is then "pending". But overall I think that can be handled separately and I am 👍 to make this external, pending lifting of N6 hold.

[2021-10-13 23:40] shawnborton commented on #5005
This is still happening to me. How can we get this triaged and posted to Upwork?

[2021-10-14 00:05] isagoico commented on #5718
I see 2 new CPs added to checklist
- https://github.com/Expensify/App/pull/5770
- https://github.com/Expensify/App/pull/5800

For previous CPs it has taken around 2 hours for the build to be available in iOS and Desktop. Should we still wait until those are available and test the PRs in all environments or is it ok to test in Web and mWeb only?

As a side note: Android build is still stuck, we are

[2021-10-14 00:27] #5702 closed

[2021-10-14 01:34] hanaffi2 commented on #5743
@parasharrajat My main account was banned without warning and we came to an agreement to only report bug on Github without accessing Slack.
Sorry for this misconception.

[2021-10-14 01:35] aldo-expensify opened #5840 "[N6] Wrong value in AddressSearch after refresh"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create NewDot account, verify it, log in
2. Create Workspace
3. Do the add Bank account step (first step) of VBA flow (use this [SO]())
4. You sh

[2021-10-14 01:39] hanaffi2 commented on #5743
@parasharrajat Well, My account was banned without warning. So I'm using this alt account to report bugs.
Sorry for this confusion.

[2021-10-14 02:07] kavimuru opened #5841 "VBA - Error message for manually entered address in the field in company info and unable to proceed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #5771
## Action Performed:
1. Launch the app and login
2. Create a workspace
3. Click the workspace in the settings
4. Click Connect Bank a

[2021-10-14 02:51] akshayasalvi commented on #5772
Thank you @parasharrajat

[2021-10-14 03:38] akshayasalvi commented on #5632
It isn't for windows. I checked it on Mac and iPhone. Reported once more on iOS App I guess

https://expensify.slack.com/archives/C01GTK53T8Q/p1634161087259100

[2021-10-14 03:42] #5797 closed

[2021-10-14 03:42] Beamanator commented on #5797
Sorry @timszot this was a test! Seems the `Exported` label autoassigner is working again 😅

[2021-10-14 05:00] kevinksullivan commented on #5718
I was able to test https://github.com/Expensify/App/pull/5771 successfully, and I do not think https://github.com/Expensify/App/issues/5841 applies to that PR, so I am pretty certain we can check off @isabelastisser .

[2021-10-14 05:09] kevinksullivan commented on #5761
No, let's close this out till we reproduce again.

[2021-10-14 05:09] #5761 closed

[2021-10-14 05:22] kevinksullivan commented on #5718
https://github.com/Expensify/App/issues/5841 is not an issue since the address is invalid. Closed it out and checked off the list.

[2021-10-14 12:58] NicMendonca commented on #5193
@PrashantMangukiya @isagoico I can't seem to reproduce this on mobile. Can you confirm if images are still burry?

[2021-10-14 13:14] trjExpensify commented on #5840
Ah yeah, I hit the `undefined`, `undefined` bit too. Noted that here: https://expensify.slack.com/archives/C020EPP9B9A/p1634207884072800?thread_ts=1634147967.452400&cid=C020EPP9B9A

Are you taking this one on, @aldo-expensify?

[2021-10-14 13:57] isagoico opened #5843 "Workspace currency is default to USD and not to local currency - Reported by: @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Must be executed in a non-US location (or just using a VPN)

1. Navigate to workspace > General settings

## Expected Result:
Currency should be the

[2021-10-14 14:26] anthony-hull commented on #3189
I like the tweak. Does this need an external label now?

[2021-10-14 14:52] parasharrajat commented on #5005
@shawnborton If you want contributors to work on this, then you should apply External. This issue is already triaged, I suppose.

[2021-10-14 14:52] shawnborton commented on #5005
Sounds great, adding External now.

[2021-10-14 14:52] PrashantMangukiya commented on #5579
Ping for
![upwork](https://user-images.githubusercontent.com/7823358/136801900-bc4d0bc9-b522-4ca2-8ec2-e94752a97536.png)

[2021-10-14 14:55] parasharrajat commented on #5593
I think you should handle the wrong codes in then block and even if you want to catch them, then throw them so that they propagate to catch.

API will always respond with 200 HTTP code until something went wrong with the server or Network issue and errors are handled internally with `jsonCode` field. If you know that API throws 400 and 502. then you can handle both. Right?

[2021-10-14 16:21] roryabraham commented on #5840
I'm not able to reproduce this.

[2021-10-14 16:22] roryabraham commented on #5840
jk it happens with 88 Kearney Street

[2021-10-14 16:33] roryabraham commented on #5840
Unfortunately the fix I tried did not work. Going to keep digging

[2021-10-14 16:39] mallenexpensify commented on #3863
Hm... looking at https://github.com/Expensify/App/issues/5337, it seems like this and that are the same, right? If so, we can leave this closed and keep the other open

[2021-10-14 16:43] roryabraham commented on #5840
In this case, I _think_ we'll just want the `premise` field to become `addressStreet` [here](https://github.com/Expensify/App/blob/6f8e2dc67566e5b65e89fde2f28b6d5dba652c3e/src/components/AddressSearch.js#L60).

[2021-10-14 16:56] kidroca commented on #5337
The Chrome issue about `navigator.onLine` being `false` (https://bugs.chromium.org/p/chromium/issues/detail?id=678075) is something that not many people will know they've experienced because it does not do anything on it's own

The browser doesn't do anything special (or anything at all) when `navigator.onLine` is `false`, request are still sent to their destinations and allowed to complete

The i

[2021-10-14 17:08] aldo-expensify commented on #5840
Well, it actually seems to work if we add `types: 'address'` in the [query object](https://github.com/Expensify/App/blob/1689a57290f80669b28311be1f3bcc155ddc25dc/src/components/AddressSearch.js#L75-L76)

Do you want me to submit a PR?

[2021-10-14 17:13] roryabraham commented on #5840
In the example of 88 Kearny Street, it looked like the `premise` had all the necessary data. But that might not work consistently.

Also, heads up! I encountered some queries where Google Places would return a result, but then spit back an invalid address. For example, if you input `25220 Quail Ridge Road, Escondido, CA 97027` then Google Places will take that as a valid input, but the place retur

[2021-10-14 17:13] NikkiWines commented on #5620
Hmm, I think we need more consistent reproduction steps for this one. I haven't been able to reproduce this on my iOS device when following the steps listed above.

I just tested updating the app from v1.1.7-4 to v1.1.7-16 and was directed to my chats page immediately after updating, no hanging on the splash screen.

[2021-10-14 17:14] aldo-expensify commented on #5840
😨  will test that too! thanks!

[2021-10-14 17:18] aldo-expensify commented on #5840
you are right, it is missing the number :(

I guess that is an option, I'll have a look again to see if there is a way we could filter incomplete results

[2021-10-14 17:19] aldo-expensify commented on #5840
I think you are probably right there

[2021-10-14 17:35] stephanieelliott commented on #5521
Hired on Upwork, thanks @mateomorris!

[2021-10-14 17:44] AndrewGable commented on #5718
I just fixed the Android issue (it was related to Google rejecting the app due to the app name), all the latest versions are in review now.

[2021-10-14 17:47] aldo-expensify commented on #5840
That sounds good to me, but I would suggest doing (2) and (3) as filters in our backend so we don't show those results to the user. I think it is better experience than showing results that eventually will lead to validation errors. What do you think about that?

[2021-10-14 17:47] stephanieelliott commented on #5744
Posted to Upwork: https://www.upwork.com/jobs/~0107941cc4671e58a1

[2021-10-14 17:52] roryabraham commented on #5840
It might not be a _perfect_ solution, but it will be an improvement from what we have currently. We can address issues with other addresses as they come up. I think we should maybe also add some unit test coverage of the `saveLocationDetails` function to help maintain it in the future.

[2021-10-14 17:53] iwiznia commented on #5005
So, to clarify. We will revert [this](https://github.com/Expensify/App/pull/3709/) and this issue would go away, but bring back the old issue?
If so, which issue do we think is worse? Seems the other one, right? If so, even though I agree the previous fix is a hack and not a real fix, I don't think we should revert it without fixing the other issue.

[2021-10-14 18:10] #5794 closed

[2021-10-14 18:11] Luke9389 commented on #5794
le whoops!

[2021-10-14 18:51] akshayasalvi commented on #5623
That's right, the original issue is that a person with a long email address typing. For multiple users, we anyway show A and B or A + 2, etc.

[2021-10-14 18:55] shawnborton commented on #5623
Ah, can someone clarify when and how we display when multiple users are typing? Does this happen in group messages? I would have thought we'd just show something generic like "Multiple people are typing" when there is more than 1.

[2021-10-14 18:59] akshayasalvi commented on #5623
For 1: User A is typing
For 2: User A and User B are typing
For rest: Multiple users are typing

[2021-10-14 19:16] pecanoro commented on #5778
@akshayasalvi sounds good! Go ahead!

[2021-10-14 19:25] parasharrajat commented on #5811
This is basically N6 polish so I don't think this needs to be on hold. cc: @pecanoro.

[2021-10-14 19:29] aldo-expensify commented on #5840
Hmm, I have to update the "Steps / QA" section. I can do that now. About the tests that @roryabraham suggested, I'm having some doubts about it.

To make it easier to test, I would remove the function `saveLocationDetails` from `AddressSearch` and make it receive a callback `onChangeText` as a parameter. This function is very related to the `AddressSearch` component and probably won't be used anyw

[2021-10-14 21:01] mvtglobally commented on #5718
From our side, we still see 1.1.7-3. I'll ask team to double check

[2021-10-14 21:32] #5840 closed

[2021-10-14 22:03] puneetlath commented on #5579
Thanks for the clarification @PrashantMangukiya. I was moving a bit too fast 😅. Paid!

[2021-10-14 22:03] #5579 closed

[2021-10-14 22:11] mallenexpensify commented on #4559
On hold, not overdue

[2021-10-14 22:12] mallenexpensify commented on #4491
Not overdue

[2021-10-14 22:19] kadiealexander commented on #5769
Upwork job: https://www.upwork.com/jobs/~017d9eada7d9235f63

[2021-10-14 22:32] thorep commented on #5769
I dont know what css framework you are using, but a lot of them don’t allow stacked modals. Workaround is to wrap the modals and disable keyboard input, input will then be handled individually by the modals. Don’t have an up work account I’m afraid :/

[2021-10-14 22:37] ThadeusAjayi commented on #5769
Proposed Fix:

Have a ref for each of the modals to track the active/topmost modal, listen to keyboard event on the escape key and dismiss modal based on the most recent modal ref.

[2021-10-14 23:23] parasharrajat commented on #5739
Sorry didn't see that I was tagged in the comment.

I noticed this a lot of time ago, That time I had a couple of attachments on the chat which change their dimensions as soon as they load. That causes recalculation of the Chat list layout. I suspect that is the major cause of this.

I don't have a curated list of steps but I believe the images to be the cause. I can spend some time trying to repr

[2021-10-15 00:32] isagoico opened #5865 "Existing Workspaces are not displayed in mobile apps"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login in mobile with an account that has a existing workspace
2. Navigate to settings

## Expected Result:
Existing workspaces should be displaye

[2021-10-15 01:51] aldo-expensify commented on #5865
I see no workspaces in Android

![Screenshot_20211014-184719](https://user-images.githubusercontent.com/87341702/137419426-018c50f6-b8ed-4d77-afad-f95d4893776b.png)

Web:

![Screen Shot 2021-10-14 at 6 49 46 PM](https://user-images.githubusercontent.com/87341702/137419461-abaac48e-49dd-4d06-9346-b30e4314f885.png)

To create multiple workspace in NewDot, I just went to OldDot and created a new Free

[2021-10-15 01:54] kevinksullivan commented on #5865
@aldo-expensify also discussed and reproduced here.

https://expensify.slack.com/archives/C9YU7BX5M/p1634258856206000?thread_ts=1634173120.171900&cid=C9YU7BX5M

[2021-10-15 03:17] SofiedeVreese commented on #5184
Issue paid out! As it was sitting on a Newsletter milestone, I've paid out $375.

[2021-10-15 03:18] isagoico opened #5869 "[Hold] $250 Workspace - Checkmark icon not displayed after copying email"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel! https://www.upwork.com/jobs/~01228c64f5fadb4c43
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Select any Workspace
4. Go to Capture Receip

[2021-10-15 03:25] Santhosh-Sellavel commented on #5728
Assign me this @Luke9389

[2021-10-15 03:43] isagoico opened #5870 "[HOLD for payment 2021-12-06] $500 Holding 2 fingers on PDF opens context menu - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Send a PDF
3. Open the preview
4. Hold 2 fingers over the PDF

## Expected Result:
No context menu should be displa

[2021-10-15 03:49] #5865 closed

[2021-10-15 03:52] isagoico opened #5873 "[HOLD for payment 2021-12-13] Copy icon is not aligned with text - Reported by: @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a workspace
2. Click on Reimburse receipts
3. Check the copy icon next to receipts@expensify.com

## Expected Result:
Copy icon shoul

[2021-10-15 03:55] roryabraham commented on #5718
https://github.com/Expensify/App/issues/5865 Should be fixed in version `1.1.7-24`

[2021-10-15 04:02] isagoico opened #5875 "Dropdown arrows are not clickable - Reported by: @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to Profile settings
2. In the Pronouns dropdown click on the arrow

## Expected Result:
Dropdown arrow should be clickable

## Actual Re

[2021-10-15 04:47] roryabraham commented on #5718
Verified https://github.com/Expensify/App/pull/5706 on staging on iOS Safari, checking it off on the checklist.

[2021-10-15 05:26] AndrewGable commented on #5718
Looks like we are all done!

[2021-10-15 05:26] #5718 closed

[2021-10-15 05:27] roryabraham commented on #5718
🚀

[2021-10-15 05:29] OSBotify opened #5879 "Deploy Checklist: New Expensify 2021-10-15"
**Release Version:** `1.1.8-9`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/5318
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/5550
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/5582
  - [x] QA

[2021-10-15 07:32] MonilBhavsar commented on #5869
Confirmed, it's occurring on Android only

[2021-10-15 11:54] Santhosh-Sellavel commented on #5573
@Julesssss
When I Proposed there was a `WorkspaceNew` page that would call create policy
https://github.com/Expensify/App/blob/04083b154f5171b125fd92a8223e2863db799973/src/pages/workspace/WorkspaceNew.js#L6-L10

Seems it's removed now?

[2021-10-15 12:00] Santhosh-Sellavel commented on #5728
@mallenexpensify I think send money option is not available in staging yet.

[2021-10-15 12:04] Santhosh-Sellavel commented on #5021
@mallenexpensify Can we close this?

[2021-10-15 13:53] laurenreidexpensify commented on #4126
Will review this when N6 hold is off

[2021-10-15 14:20] jboniface commented on #5295
still on hold

[2021-10-15 14:52] isagoico commented on #5728
I still see it displayed in Chronos in staging
![image](https://user-images.githubusercontent.com/44479856/137507703-1eeff63a-608d-4696-801c-8e05cde6c775.png)

[2021-10-15 14:54] parasharrajat commented on #5728
@isagoico PR is on HOLD.

[2021-10-15 15:27] parasharrajat commented on #5769
So.
1. When this code is merged, Modal Screens will not close until all the modals over are closed. and Modals are always top-level when Modal Screen is active.
2. If we have multiple modals over the screen, then the Escape key will close the top-level only and thus close all one by one on each keypress.

it means we don't need to handle anything for now. @Julesssss

[2021-10-15 16:22] marcaaron commented on #5034
@MitchExpensify do you have exact repro steps for this? If you had been logged in in the same session then you shouldn't have been able to log in with another account at all. Hard to say if this is a regression or the same issue with a different root cause.

[2021-10-15 16:39] Julesssss commented on #5291
Still awaiting proposals

[2021-10-15 16:53] francoisl commented on #5737
Yes, it's to remind me to test once the PRs are deployed to production, because we don't have a way to tag PRs for Applause to test on production at the moment.

[2021-10-15 17:00] stephanieelliott commented on #5091
@Beamanator with that being the case, should we put this on hold until we figure out how we want to standardize? Or do we keep forging ahead to fix this in the interim?

[2021-10-15 17:48] isagoico opened #5892 "[Planning] Dragging the attachment modal to the bottom misplaces it - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Send a image
3. Open the attachment preview
4. Drag the modal to the bottom

## Expected Result:
Attachment preview

[2021-10-15 18:22] isagoico opened #5894 "mWeb (Safari) - Dragging the screen up creates empty space between keyboard and composer - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to a conversation
2. Tap on the composer box
3. Drag the screen upwards

## Expected Result:
Dragging the screen up should not show any

[2021-10-15 18:40] isagoico opened #5896 "[HOLD for payment 2021-11-29] $500 Old Edited comments that are still open trigger the keyboard when the user is scrolling the conversation - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open any chat.
2. Scroll back in the history.
3. Edit the message. Leave it as it is. Don't close the editor
4. Go back to LHN.
5. Open any othe

[2021-10-15 19:05] isagoico opened #5897 "Opening a unknown report from the URL displays a blank chat page and no error - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in with any account
2. Navigate to a conversation
3. In the URL, change the report number to something random

## Expected Result:
There shou

[2021-10-15 19:16] isagoico opened #5899 "Manage Members - Add tooltip to user emails - Reported by: @akshayasalvi"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to workspace settings
2. Click on manage members
3. Hover over the email of the users

## Expected Result:
There should be a tooltip on

[2021-10-15 19:22] isagoico commented on #5899
@parasharrajat It was a misunderstanding on my side, the tooltip is for the emails and not for the buttons.

[2021-10-15 19:23] akshayasalvi commented on #5899
Thanks for updating @isagoico 😄

**Proposal**

We just need to wrap the `OptionRow` component in `WorkspaceMembersPage` with a `Tooltip`.

[code]

[2021-10-15 19:24] luacmartins commented on #5712
Did some investigating and it seems like we have a race condition here. Right after clicking "I'll settle up elsewhere", I see that the text under the user's name changes to "Settled up elsewhere" briefly before changing to the user's email address. I'll look more into it next week.

[2021-10-15 19:32] akshayasalvi commented on #5899
Content is getting trimmed for the second and the third row if you check. Hence we discussed this here https://expensify.slack.com/archives/C01GTK53T8Q/p1634058239187700?thread_ts=1633982850.137800&cid=C01GTK53T8Q

[2021-10-15 19:37] akshayasalvi commented on #5899
Comment for Tooltip
https://expensify.slack.com/archives/C01GTK53T8Q/p1634058868191900?thread_ts=1633982850.137800&cid=C01GTK53T8Q

and afaik what @shawnborton  meant was we weren't sure if we should add a new button size or use the smaller button sizes. So for now just use smaller button sizes.

[2021-10-15 19:41] parasharrajat commented on #5778
I will be reviewing the PR and I will let you know @pecanoro when this is ready for final review and possibly for merge. [See More](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600)

[2021-10-15 20:07] deetergp commented on #2734
Keep your shirt on, Melvin — it's still a weekly.

[2021-10-15 20:53] puneetlath commented on #5237
@mallenexpensify Rajat's proposal sounds good to me.

[2021-10-15 20:59] puneetlath commented on #5705
Let's go with @parasharrajat's solution. I prefer the method of just updating the regex.

[2021-10-15 21:11] puneetlath commented on #5722
Heh, interesting scenario. I like both solutions. I agree with @PrashantMangukiya that we should validate even if we disable the picker, since the user doesn't have to use the picker. And I like @Santhosh-Sellavel's suggestions on how to disable the picker.

@SofiedeVreese I think the fairest/most straightforward thing to do here is to split this into two issues and hire them both. So let's:
1. Us

[2021-10-15 21:34] thienlnam commented on #5620
I also experience this most of the time I use the app.

I send some texts, leave it running in the background, and then the next time I try to open the app I get stuck on this screen.

I always end up closing the app from the background and then relaunching

Device: iPhone Pro 12

[2021-10-15 22:09] isagoico opened #5905 "Debit card - Debit card modal uses the old form styles"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to payments
2. Click on add payment > debit card

## Expected Result:
Form should use the new styles

## Actual Result:
Form is using th

[2021-10-15 22:21] isagoico opened #5906 "[HOLD for payment 2021-11-29] [HOLD for payment 2021-11-22] Payments - Improve payments option floating menu design - Reported by: @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to payments
2. Click on add new payment method

## Expected Result:
Floating menu should have a good and balanced design

## Actual Resu

[2021-10-15 23:45] NikkiWines commented on #5897
👍  Looks good for UpWork, I agree with @parasharrajat. I don't _think_ we need a call to the backend for this.

[2021-10-16 00:25] isagoico opened #5907 "Tooltip not displayed in Workspace name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue is failing PR https://github.com/Expensify/App/pull/5812

## Action Performed:
1. Navigate to workspace settings
2. Hover over the workspace name

## Expected Resu

[2021-10-16 02:42] isagoico opened #5912 "[HOLD for payment 2021-10-30] Log in - Promo Colors are changing each time the user writes a new character for new password"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to log in screen
2. Enter a new email
3. Look for the validation mail on email inbox
4. Change link to staging
5. Write some characters

[2021-10-16 02:43] OSBotify commented on #5912
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-10-16 10:28] rushatgabhane commented on #5912
In the interest of time, pushed a PR that fixes this issue.

[2021-10-16 10:33] akshayasalvi commented on #5907
It is working fine in the `main` branch.

<img width="424" alt="Screenshot 2021-10-16 at 4 00 23 PM" src="https://user-images.githubusercontent.com/57435789/137583990-625ecc28-7a6b-417c-a9a8-9d5d0082ab67.png">
<img width="409" alt="Screenshot 2021-10-16 at 4 00 11 PM" src="https://user-images.githubusercontent.com/57435789/137583993-e76c57c8-9cde-45e9-8c90-f482e02a5fa0.png">

[2021-10-16 15:12] kevinksullivan commented on #5699
I am also seeing duplicates and can reproduce the issue.

![image](https://user-images.githubusercontent.com/22508290/137592640-9e3e62f0-a044-4004-83b7-e9b15f98b89e.png)

[2021-10-16 15:20] kevinksullivan opened #5914 "Copy to clipboard doesn't copy line breaks or any other formatting in New Expensify"
## Expected Result:

When copying the message content in New Expensify using the **Copy to clipboard** button, I expected to copy the content and formatting and allow that to be pasted easily somewhere else (Github, Google Docs, Concierge, Slack etc).

## Actual Result:

When copying the message content in New Expensify using the **Copy to clipboard** button, all formatting and line breaks are los

[2021-10-16 15:21] kevinksullivan commented on #5914
Removing Rory as this was already reviewed in https://github.com/Expensify/Expensify/issues/180854

[2021-10-16 15:51] kevinksullivan commented on #5783
Removing N6 hold as this is relevant to the N6 use case.

[2021-10-16 17:27] isagoico commented on #3623
@arielgreen was able to reproduce this issue too:

![image](https://user-images.githubusercontent.com/44479856/137596683-d30fe846-9865-4747-b2e9-0f6a74c0f549.png)
![image](https://user-images.githubusercontent.com/44479856/137596690-14f9e67b-3375-49f9-9294-d23090e4d965.png)

[2021-10-16 20:11] isagoico opened #5915 "[HOLD for payment 2021-11-05] Payments - add a fill background to "Add new payment method""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to payments
2. Click on "add new payment method"

## Expected Result:
There should be a grey background the the payment methods menu is

[2021-10-16 22:06] isagoico opened #5916 "Feature Request - Add a share option when sharing files directly from Gallery or Files - Reported by: @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app on iOS or Android
2. Navigate to gallery and select any image
3. Click on the share option

## Expected Result:
There should be an o

[2021-10-16 22:15] isagoico opened #5917 "mWeb - Infinite loading spinner on OldDot -> NewDot transition"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Sign into account A on NewDot
2. Without signing out, create new account B on OldDot (in a domain that's in the FreePlan beta)
3. Tap Set up my

[2021-10-16 23:00] isagoico opened #5918 "[HOLD for payment 2021-12-27] $500 - solution + reporting bonus. Android/iOS - User is able to upload a video of >50mb - Reported by: @akshayasalvi"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Upload a video that is over 50mb

## Expected Result:
There should be a error message about the upload limit of 50m

[2021-10-17 03:35] kavimuru opened #5920 "[HOLD for payment 2021-11-04] [HOLD for payment 2021-10-30] VBA - User can proceed to personal info after clearing address in company info page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with expensifail account
3. Go to Workspace and Click on Connect Bank account
4. Log in with Ch

[2021-10-17 03:36] OSBotify commented on #5920
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-10-17 22:13] SofiedeVreese commented on #5896
Posted on Upwork: https://www.upwork.com/jobs/~018f79ec6f97efcf87

Adding Exported Label.

[2021-10-18 01:04] SofiedeVreese opened #5922 "[HOLD for payment of bonus-only 2021-12-06] VBA- disabling future dates in the date picker"
Coming from #5722

----

Creating a new issue for disabling future dates in the date picker and assigning that to @Santhosh-Sellavel per CME @puneetlath 's comment [here](https://github.com/Expensify/App/issues/5722#issuecomment-944662051).

[2021-10-18 02:40] MitchExpensify commented on #5068
Not overdue

[2021-10-18 04:12] kakajann commented on #5915
## Proposal
1. Pass a new prop `isAddPaymentMenuVisible={this.state.shouldShowAddPaymentMenu}` to `PaymentMethodList` component after `isLoadingPayments` prop
https://github.com/Expensify/App/blob/74b77a81d2c3fddee43b2c8b04802fed9251d96f/src/pages/settings/Payments/PaymentsPage.js#L127-L131

2. Small modification in addPaymentMethod object
[code]

3. Finally add `wrapperStyle={item.wrapperStyle}`

[2021-10-18 06:37] PrashantMangukiya commented on #5722
### Updated Solution:

**Here is Problem:** For incorporationDate validation we are using `isValidDate()` function from src/libs/ValidationUtils.js. This function is checking that given date is between pastDate(current -1000 years) and futureDate(current + 1000 years) as shown code below:
https://github.com/Expensify/App/blob/79eafd4e2f5bd85547c189737e6655a3f49935d0/src/libs/ValidationUtils.js#L42

[2021-10-18 11:49] eVoloshchak commented on #4867
@AndrewGable, my upwork contract for this issue is due 19 october (tomorrow). Do I submit work for payment even though my PR hasn't been approved yet? Or is the contract date flexible?
I'm new to upwork so pardon me if i'm asking something obvious.

[2021-10-18 12:23] trjExpensify commented on #4867
Hey @eVoloshchak, the contract date is flexible, so need to do anything in that regard.

[2021-10-18 12:49] eVoloshchak commented on #4867
Great, thank you

[2021-10-18 13:10] developvsn commented on #5922
Proposal

When the user chooses a date in the datepicker, the user won't be able to select the days after a maximumDate set up by you or the current day. The days will be inactive for clicking while other available dates will be active for the action to select. If necessary will be set a limit by minimumDate for users to be unable to select the dates that are too old.

If for some reason user mana

[2021-10-18 14:48] isagoico opened #5924 "Invite member - Multiline text overlaps with label"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with expensifail account
3. Select any workspace
4. Go to Manage members and Click invite
5. In

[2021-10-18 14:49] OSBotify commented on #5924
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-10-18 14:56] Julesssss commented on #5924
We're close to merging a [PR that completely replaces](https://github.com/Expensify/App/pull/5726) this page.

Because it's about to be replaced I think we should ignore this bug, and because it already exists in prod I'm going to close the issue.

[2021-10-18 15:16] isagoico opened #5926 "Landscape UI - Unable to close FAB menu and notch is blocking some content from the preferences page - Reported by: @kakajann"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to LHN
2. Open FAB menu
3. Change orientation to landscape
4. Change back orientation to portrait
5. Navigate to settings
6. Open prefer

[2021-10-18 15:24] isagoico opened #5927 "Onyx.set is picking old values from cache in next tick. Reported by: - @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
N/A

## Expected Result:
More information in Thread https://expensify.slack.com/archives/C01GTK53T8Q/p1634306490348200

## Actual Result:
More infor

[2021-10-18 16:49] mvtglobally commented on #2499
Issue not reproducible during KI retests. (First Week)

[2021-10-18 17:04] mvtglobally commented on #4754
Issue reproducible during KI retests.

[2021-10-18 18:02] tgolen commented on #5907
I agree that it looks like the code wasn't deployed properly. I don't think this should be a deploy blocker so I am demoting the issue and my suggestion is to re-evaluate this after the next deploy to staging. If it's still not there, then we'll need to figure out how to fix it properly for staging.

[2021-10-18 18:58] sylveawong commented on #5915
sorry! going to remove myself and @shawnborton / @michelle-thompson so they can get to this first!

[2021-10-18 19:00] #1294 closed

[2021-10-18 19:08] marklouisdeshaun commented on #5783
Created a job in Upwork!

Internal: https://www.upwork.com/ab/applicants/1450176894484250624/job-details
External: https://www.upwork.com/jobs/~018297ba091d0a48e5

[2021-10-18 19:16] NikkiWines commented on #5637
Ah ok - yeah I think we should definitely standardize behavior for the composer when editing (both for beginning and ending an edit)

Ideally, I think we'd want to show the composer when `Edit` is pressed, otherwise, we just require another action from the user before they can do anything. Then, once an edit is completed, the composer should automatically hide.

[2021-10-18 19:40] pecanoro commented on #5843
Closing since this seems intended!

[2021-10-18 19:42] pecanoro commented on #5462
For future reference, there is a follow-up PR https://github.com/Expensify/App/pull/5805

[2021-10-18 19:44] stitesExpensify commented on #3922
Same update as last time ^

[2021-10-18 19:47] stitesExpensify commented on #5920
Looking into this now

[2021-10-18 20:37] Beamanator commented on #5907
The part that baffles me is that the "Added tooltip for workspace name" actually does seem to exist in staging (see screenshot) but only the tooltip import!:

![Screen Shot 2021-10-18 at 2 36 22 PM](https://user-images.githubusercontent.com/3885503/137803145-02285709-d065-4cc0-ab4d-a40fae22714d.png)

[2021-10-18 20:44] Beamanator commented on #5907
Clicking "View at this point in history" on the "Added tooltip for workspace name" commit on [this page of historical commits](https://github.com/Expensify/App/commits/staging/src/pages/workspace/WorkspaceInitialPage.js), you can see the entire commit exists (importing Tooltip & using the Tooltip).

There's only one more commit on that file in the history (see link above), which is https://github.

[2021-10-18 20:50] roryabraham commented on #5907
I don't think so ... but great investigation so far! My _guess_ is that someone had to manually resolve conflicts when a PR was CP'd to staging, and accidentally got rid of the tooltip.

[2021-10-18 20:57] roryabraham commented on #5907
Wait a minute ... how can I submit a PR if the code's already on main? 🙃 Need a new plan 😆

[2021-10-18 21:30] roryabraham commented on #4629
Taking this off hold, but I have a large backlog of pending reviews so it may be a couple days before I get to this.

[2021-10-18 21:42] #5624 closed

[2021-10-18 21:42] tgolen commented on #5907
woohoo! Thanks, Rory.

On Mon, Oct 18, 2021 at 3:16 PM Alex Beaman ***@***.***>
wrote:

[2021-10-18 21:46] Luke9389 opened #5936 "Don't allow phone numbers that are less than 5 digits long"
Conversation here: https://github.com/Expensify/App/pull/5531#issuecomment-946180335

## Action Performed:
In the VBA flow, input a phone number that's 3 digits long.

## Expected Result:
We should validate this field in a way that disallows 3 digit phone numbers.

## Actual Result:
No error will show (we're only enforcing a digit maximum right now).

## Workaround:
N/A

## Platform:

Where is thi

[2021-10-18 22:19] puneetlath commented on #5722
@PrashantMangukiya the proposal sounds good. Let's do it!

[2021-10-18 22:20] mallenexpensify commented on #5310
@AlfredoAlc have you had a chance to look into?

[2021-10-18 22:26] SofiedeVreese commented on #5722
@PrashantMangukiya I've hired you in Upwork 👍

[2021-10-18 22:38] #5321 closed

[2021-10-18 23:37] parasharrajat commented on #5757
@chiragsalian Let's get this rolling. Please

[2021-10-18 23:41] marcochavezf commented on #5619
I've been caught up with allocations, tomorrow I will continue with this issue

[2021-10-18 23:56] mvtglobally commented on #5879
@roryabraham
Desktop/Web are pass. Do you need it retested across all platforms?
![Screen Shot 2021-10-18 at 7 55 26 PM](https://user-images.githubusercontent.com/43995119/137821947-6d53b8bc-558c-4e38-bddf-de27232c229c.png)

[2021-10-19 01:37] stitesExpensify commented on #5920
Hold on for now, I don't know what our process is when someone who is not the author wants to fix a deploy blocker. Checking internally...

[2021-10-19 02:44] mvtglobally opened #5942 "[HOLD for payment 2021-11-04] Login - Long Email is cut off for a Welcome Page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Enter a new account with long email which hasn't been validated
3. Click Continue

## Expected Result:
Long Email is fully visib

[2021-10-19 04:12] Christinadobrzyn commented on #5572
Since the proposal in https://github.com/Expensify/App/issues/4911 should also fix this, I'm going to pause hiring for this issue until we test it after https://github.com/Expensify/App/issues/4911 PR is deployed.

[2021-10-19 04:23] Christinadobrzyn commented on #5106
Since the issue isn't reproducible in latest retests, going to close this.

[2021-10-19 04:25] Christinadobrzyn commented on #5008
N6 hold is removed as the newsletter has deployed.

Here's the [PR](https://github.com/Expensify/App/pull/5364) for this job - a $250 bonus will also apply to this job!

[2021-10-19 04:31] Christinadobrzyn commented on #4264
N6 hold is lifted - this job will include a $250 bonus for the n6 hold.

Still waiting on a PR from @mananjadhav

[2021-10-19 06:27] MariaHCD commented on #5879
[PR](https://github.com/Expensify/App/pull/5923) for https://github.com/Expensify/App/issues/5904 is currently under review. I don't _think_ the issue should block deploy so I believe we're good to check it off.

[2021-10-19 06:38] robertjchen commented on #5841
Switching to `Weekly` pending additional discussion

[2021-10-19 06:56] robertjchen commented on #5059
Now that N6 is out, perhaps we can restart the discussions around this?

[2021-10-19 13:33] iwiznia commented on #5620
I could but I need the email and exact time frame

[2021-10-19 13:37] isagoico opened #5944 "New Account - Pin Concierge conversation for new accounts"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a new account in New Expensify

## Expected Result:
Concierge conversation should be pinned so the user has easy access.

## Actual Result

[2021-10-19 13:55] isagoico opened #5945 "[HOLD for payment 2021-12-06] Request a call modal - Update phone number requirements and instructions."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to the Concierge conversation
2. Click on the phone icon on top right

## Expected Result:
There should be clear instructions on how to

[2021-10-19 14:29] isagoico opened #5946 "#announce room is not created when creating a new workspace - Reported by: @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in with a new account
2. Create a workspace
3. Add a member to the workspace
4. Search for the #announce room

## Expected Result:
An announc

[2021-10-19 14:35] isagoico opened #5947 "[HOLD for payment 2021-11-04] Sync indicator get stuck when on a slow internet connection - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to New Expensify
2. Open console tools > Network
3. Set the page as Offline
4. Set the page to Slow 3G

## Expected Result:
Sync indicator

[2021-10-19 15:13] mallenexpensify commented on #3136
Leaving closed cuz https://github.com/Expensify/App/issues/4657 looks like the same bug and it doesn't appear to be happening anymore

[2021-10-19 15:21] mallenexpensify commented on #5237
@parasharrajat is hired! Assigned to him

[2021-10-19 15:56] mountiny commented on #4756
Looking into this, it has some weird reproduction steps on dev. It does not fail (carries the draft over to other chat) every time using the chat switcher. I have removed the deploy blocker label as I think it is very important, but it should not be a blocker.

I am looking into this now.

[2021-10-19 16:06] roryabraham commented on #5879
[PR to fix](https://github.com/Expensify/App/pull/5923) https://github.com/Expensify/App/issues/5904 is being CP'd in `1.1.8-5` [here](https://github.com/Expensify/App/actions/runs/1359954126). Please retest once deployed 😄

[2021-10-19 16:14] parasharrajat commented on #4775
@mallenexpensify Done.

[2021-10-19 16:28] tgolen commented on #5899
I agree that I think we should avoid showing tooltips everywhere, especially since tooltips are not great for cross-platform UX (ie, they have not been consistently applied across mobile and desktop).

[2021-10-19 16:39] #5936 closed

[2021-10-19 16:54] MirFahad58 commented on #4678
let me try this

[2021-10-19 16:54] MitchExpensify commented on #5542
Not overdue

[2021-10-19 17:03] akshayasalvi commented on #5899
Well agree with the consistency, the issue is a general size email is also getting trimmed in the UI. This wasn't the cae with the old UI.

1. We could then wrap the content (but the height of the rows will be inconsistent)
2. Rest of the places on click on the email we show a details screen. Can we use that probably? At the moment click of the row page is used to toggle the checkbox.

[2021-10-19 17:04] parasharrajat commented on #4775
Well. there is an issue with my PR. It is not excluding all the emails.
[code]
There are multiple sets here. Which one do I need to exclude? @marcaaron

[2021-10-19 17:10] mallenexpensify commented on #3981
I was able to reproduce by switching the wifi on my comp from my home network to tethering from my phone, a chat in LHN, with a message I sent to Jeremy, was bolded.  @isagoico can you test to see if you're able to reproduce using my method?

[2021-10-19 17:37] laurenreidexpensify commented on #4756
https://www.upwork.com/jobs/~01e5dccfcff059ed0f

[2021-10-19 18:06] sidferreira commented on #5873
@arevelli I'm interested on help on this one. I had similar issues in the past and this is basically a "limitation" on how RN handles non-text components inside of text components.

The solution is basically to add some padding/margin around the icon to make sure it is placed properly. There are two ways of doing so:

a) Assume that the line-height/font-size will be basically always the same, in t

[2021-10-19 18:08] Santhosh-Sellavel commented on #5920
@stitesExpensify
Let me know when I can start PR. Thanks!

[2021-10-19 18:10] mallenexpensify commented on #3981
@isagoico were you using the below steps (or similar) for replicating unstable internet?
- Turn on mobile internet on phone.
- Turn on hotspot/internet sharing on your phone.
- Connect your laptop/pc to the network shared from mobile.
- Now enable/disable mobile internet in the phone, I find this is easiest to simulate connection drop.

[2021-10-19 18:28] mallenexpensify opened #5952 "[HOLD for payment 2022-01-21] [$1000] When sending new chats in Desktop, an old message persists at the bottom"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the desktop app
2. Switch wifi network from home to tethering
3. Send some messages

## Expected Result:
New messages should always display

[2021-10-19 18:31] mallenexpensify commented on #3623
Closing this issue cuz it's a bit messy, new freshness is here https://github.com/Expensify/App/issues/5952 . It's got clean reproduction steps, a vid and logs.

[2021-10-19 18:31] #3623 closed

[2021-10-19 19:04] marcaaron commented on #5892
Taking hold off.

[2021-10-19 19:49] stitesExpensify commented on #5920
@Santhosh-Sellavel go ahead an apply, then when you are accepted you can make your pR

[2021-10-19 20:04] Santhosh-Sellavel commented on #5920
Applied for the job @NicMendonca

[2021-10-19 20:14] chiragsalian commented on #5239
Asked @justinpersaud to upload since it requires ring0 access and he got the message,
![image](https://user-images.githubusercontent.com/14356145/137983250-2277f298-1c39-45b6-a921-e9a735777096.png)

Tried to upload chronos-avatar@3x.png and its dimensions is 120x120. I checked Concierge's icon dimensions in web-static and it looks to be 1024 × 1024. So yeah could we get a larger chronos avatar to

[2021-10-19 21:13] trjExpensify commented on #4425
Taking this one off hold, now that N6 is out.

[2021-10-19 22:26] aldo-expensify commented on #5841
Yep, it is not obvious at all that the user MUST select a result from the picker

A related GH issue: https://github.com/Expensify/App/issues/5867

Do we know of any address that causes problems even when the user select them from the picker (autocomplete)? The mentioned GH issue is related to a problem with addresses in some parts of NY

[2021-10-19 23:10] sonialiap commented on #5916
I agree with @parasharrajat I think this is covered by the two issues. Closing in favor of https://github.com/Expensify/App/issues/4817 (the open one of the two)

[2021-10-19 23:10] #5916 closed

[2021-10-19 23:13] Beamanator commented on #5915
@shawnborton I just noticed this button technically has 3 states:
1. Sitting alone
2. Hovered
3. Active (when being clicked)

Here's a vid showing all 3 - which do you prefer keeping when the menu is active?:

https://user-images.githubusercontent.com/3885503/138003010-9667efaa-6867-4eba-8805-83a4e0096323.mov

[2021-10-19 23:16] parasharrajat commented on #5159
I am preparing the PR and should be pushed in a couple of days as not being a priority.

[2021-10-19 23:28] chiragsalian commented on #5945
Issue LGTM, should be an easy fix for our external contributors.

[2021-10-20 00:42] isagoico opened #5956 "[HOLD #3855]1Password - user is prompted to enter the master password 2 times (for email and password)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Have 1Password installed and enabled as your autofill primary option in your device
2. Open New Expensify
3. Tap on the email input and select th

[2021-10-20 00:45] parasharrajat commented on #5956
May be resolved in https://github.com/Expensify/App/pull/5275.

[2021-10-20 00:56] SofiedeVreese commented on #5922
Hey @Santhosh-Sellavel are you still wanting to work on this one?

[2021-10-20 00:59] SofiedeVreese commented on #5896
Hey @NikkiWines is this a dupe from https://github.com/Expensify/App/issues/4756  that has been reopened? Feels like this case would fall under that other GH?

[2021-10-20 01:43] NikkiWines commented on #5896
mmm, I'd say they're related but not sure if they're exactly the same issue. In this one, it's more that navigating back to this chat and scrolling over an old open message will retrigger keyboard to pop up.

[2021-10-20 01:46] parasharrajat commented on #5896
They are completely different.
This => explained above.
#4756 => has to do with draft messages.

[2021-10-20 01:52] SofiedeVreese commented on #5896
Thanks for the explanation both, we'll keep this issue open then!

[2021-10-20 02:35] roryabraham commented on #5924
@parasharrajat @AlfredoAlc just catching up here, but is there anything wrong with this approach? https://github.com/Expensify/App/pull/5958 Seems to fix this issue but I'm not sure if there might be any other side-effects.

[2021-10-20 07:15] roryabraham commented on #5924
@AlfredoAlc I just read [this comment](https://github.com/Expensify/App/pull/5704#issuecomment-944789205) and that solution seems pretty good to me. I'm not sure if this will work, but have you investigated suppressing the auto-fill styles in css using the [`autofill` pseudoclass](https://developer.mozilla.org/en-US/docs/Web/CSS/:autofill)? Something like this (ideally using our theme colors inste

[2021-10-20 08:12] SofiedeVreese commented on #4994
We have a PR and it's merged, chill Melvin we're nearly there.

[2021-10-20 10:27] dylanexpensify commented on #5942
Getting posted NOW

[2021-10-20 12:27] rushatgabhane commented on #4355
Hi Joe!
My [PR](https://github.com/junina-de/react-native-haptic-feedback/pull/66) for adding new haptic methods got merged into `junina-de/react-native-haptic-feedback`.

So I created a new draft PR (5960) which uses it, and fixes this issue.

Expensify's fork of `rn-haptic-feedback` isn't needed now.

[2021-10-20 12:50] mallenexpensify commented on #5237
`n6-hold` is lifted, label removed!

[2021-10-20 12:54] mallenexpensify commented on #5027
`n6-hold` is lifted, label removed!

[2021-10-20 12:56] mallenexpensify commented on #5005
`n6-hold` is lifted, label removed! PR is waiting on review from @iwiznia

[2021-10-20 13:10] mallenexpensify commented on #5166
Assigned to @meetmangukiya (forgot to earlier), `n6-hold` is lifted, label removed!

[2021-10-20 13:13] mallenexpensify commented on #3743
`n6-hold` is lifted, label removed!
@dklymenk can you provide an update on when you'll have a PR ready for review? Thanks

[2021-10-20 13:16] mallenexpensify commented on #3293
`n6-hold` is lifted, label removed. @parasharrajat can you confirm we're still holding on https://github.com/Expensify/App/issues/5571?

[2021-10-20 13:19] dklymenk commented on #3743
It's here

https://github.com/Expensify/App/pull/4133

[2021-10-20 15:32] johnmlee101 commented on #5942
Yes!

[2021-10-20 15:51] Beamanator commented on #5091
@parasharrajat I updated my thoughts above - what do you say we keep the changes in https://github.com/Expensify/App/pull/5525 to show errors if the back-end fails, but I'm also working on a PR for front-end validation so we _ideally_ will never have to see those errors coming from the back end, but they're handled just in case

[2021-10-20 16:42] isagoico opened #5962 "Contributor PRs are not being consistently assigned to the correct CME"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to https://github.com/Expensify/App/pull/5954
2. Check the CME assigned

## Expected Result:
The PR should have been assigned to the cor

[2021-10-20 16:50] parasharrajat commented on #5347
@mountiny This is not exported yet.

[2021-10-20 16:51] mountiny commented on #5347
@parasharrajat Thank you for a bump, I will try to get this sorted.

[2021-10-20 16:53] mountiny commented on #5347
@MitchExpensify Can we please export this job on Upwork and hire @parasharrajat for it? Thank you very much for your help and time 🙇

[2021-10-20 17:20] thienlnam commented on #5234
Discussing internally on how to handle this as the changes are no longer applicable

[2021-10-20 18:17] lhost101 commented on #5897
@deetergp That can also be implemented but you'll have to send another a request to the server just to check if the `reportID` exists or not while my proposal suggests handling the exception that is thrown when fetching the data of a `reportID` that does not exist as you can see in the dev console from the screenshot above.

[2021-10-20 18:24] Santhosh-Sellavel commented on #5573
Waiting for @Julesssss, IMO this proposal here https://github.com/Expensify/App/issues/5573#issuecomment-946728777
will work.

[2021-10-20 18:30] parasharrajat commented on #5573
I am asking about the edge case.

[2021-10-20 19:27] shawnborton commented on #5915
Hmm good find @Beamanator I think the :active state probably makes the most sense since the row is kind of "active" while the dropdown is shown. Thoughts?

[2021-10-20 19:33] stitesExpensify commented on #4559
Ah gotcha, yep you are correct!

[2021-10-20 20:22] Beamanator commented on #5915
Yeah I agree, I think "active" - also making sure the `+` sign is black, as it is when being clicked & hovered.

@Santhosh-Sellavel @kakajann can you both please update your proposals to include keeping the `+` icon black? I think in both of your solutions the background will be darker but the `+` icon changes back to gray

[2021-10-20 20:50] chiragsalian commented on #5945
Proposal LGTM, i think you forgot to account to correct the misalignment so can you update your proposal to account for this.

Yup, it should be the same on all other pages i.e., you can just update `noPhoneNumber` so that its reflected everywhere. One note though, once you make the changes please test some of the other places where the copy has been updated so that styles are not broken since the

[2021-10-20 21:16] kakajann commented on #5915
That's how I would solve this anyway) as @Santhosh-Sellavel did. `iconFill` is simply enough. No advanced logic required

[2021-10-20 22:30] sidferreira commented on #5310
@AlfredoAlc I missed your comment, my bad.

[2021-10-20 22:47] Santhosh-Sellavel commented on #5755
cc: @chiragsalian  @puneetlath

A heads up here.
When I reported this issue, the filename is not quite long here. Have a look at the attachment in the issue description.
And this issue preview cut-off in chat view which occurred only in native mobile devices.

Here @isagoico described the issue as when filename long preview cuts, so it tested out with a really long filename.
Still, issues that occ

[2021-10-20 22:55] NikkiWines commented on #5571
Oh cool, I didn't realize our original design aimed to keep the edits even for deleted comments.

In that case, I guess we do nothing? I'm happy to look into not sending the edit history as well if we do want to modify this, but if it's working as intended I don't see why we should change it.

[2021-10-20 23:23] marcaaron commented on #5296
Just wondering, what made us think this issue is related to `react-navigation`? I see it mentioned a few times but missing the context.

[2021-10-20 23:25] marcaaron commented on #5296
Ah this maybe?

https://github.com/Expensify/App/blob/6a88aa961b593416371d5b0648b48de7ea95abf5/src/pages/home/sidebar/SidebarScreen.js#L60

Something about `drawerContent` 🤔 .

First thought is that we might be able to just move it out of the drawer like we do growls.

[2021-10-20 23:39] Jag96 commented on #5956
After testing https://github.com/Expensify/App/pull/5275 on my physical iPhone it looks like the issue still exists, but let's put this on hold until after https://github.com/Expensify/App/pull/5275 is finished to prevent conflicts.

[2021-10-20 23:41] pecanoro commented on #3797
Is this still an issue? I was going to apply the export label but maybe we can close it

[2021-10-21 00:30] sidferreira commented on #5310
@mallenexpensify I decided to dig a little more and I found out that the solution is indeed about having a `marginTop` inside of a `<Text />` component (renderer used by `react-native-render-html`/`InlineCodeBlock`).

A confirmation of this issue can be achieved with the following code, that have the same problem after you rotate the device.

[code]

An alternative to the change suggested by @Alfr

[2021-10-21 01:01] MitchExpensify commented on #4771
On hold

[2021-10-21 01:19] parasharrajat commented on #5870
Not sure why the video wasn't uploaded here https://expensify.slack.com/archives/C01GTK53T8Q/p1634141057220800?thread_ts=1634141035.220700&cid=C01GTK53T8Q.

@Luke9389 according to the Video, the context menu is opening on the Preview Modal which it should not.

[2021-10-21 03:44] SofiedeVreese commented on #4994
FYI @parasharrajat I've lifted the n6 hold!

[2021-10-21 03:44] SofiedeVreese commented on #5722
FYI @PrashantMangukiya  I've lifted the n6 hold!

[2021-10-21 03:45] parasharrajat commented on #4994
Thanks @SofiedeVreese PR is merged.

[2021-10-21 03:58] kevinksullivan commented on #5843
Sorry everyone I was late to get back here. Our initial design for the Card Only plan was to default to USD, since there was no non-US case at all. Since we updated the plan to allow international users to utilize the Free Plan (and change currency in product if needed), then I think we should use IP address at the time of workspace creation to set the default currency. In other words I do think t

[2021-10-21 04:57] kadiealexander commented on #4737
Hold has been removed, please go for gold @akshayasalvi!!

[2021-10-21 05:55] robertjchen commented on #5768
Ah, to clarify- the proposal is to remove the second entry from the list here, correct?

![image](https://user-images.githubusercontent.com/2438855/138219711-b2c1fd78-1637-4ef7-a2a1-c8fd0337832b.png)

[2021-10-21 14:13] isagoico opened #5971 "Desktop - LHN is not displayed when reopening app from dock"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
There's currently no solid reproduction steps:
1. Leave the desktop app minimized for a little while
2. Open the app.

## Expected Result:
LHN and U

[2021-10-21 14:20] isagoico opened #5972 "[HOLD for payment 2021-11-22] Mini action menu doesn't disappear when opening and closing an attachment preview - Reported by: @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Send an image
3. Open the image preview
4. Click on the top right X to close the modal
5. Hover the cursor over oth

[2021-10-21 15:41] isagoico opened #5973 "[HOLD for payment 2021-11-09] LHN - Add a tooltip for profile avatar and online status icon - Reported by: @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel! https://www.upwork.com/jobs/~018dcc91f795eb7919
___

## Action Performed:
1. Navgiate to New Expensify
2. Hover over the avatar profile icon and the online dot

## Expected R

[2021-10-21 15:49] isagoico opened #5974 "[HOLD] User Avatar does not fall back on default when offline, and instead a blank space is shown."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Force close the app
2. Turn on airplane mode
3. Open the app

## Expected Result:
App should load on offline mode and user avatar should be displ

[2021-10-21 15:50] mountiny commented on #5347
@parasharrajat Feel free to apply for the Upwork job!

[2021-10-21 15:59] mountiny commented on #5347
Lovely to work with yous ❤️

[2021-10-21 16:09] dylanexpensify commented on #5783
taking over for Mark!

[2021-10-21 16:10] MTN718 commented on #4629
Let me know when need to start

[2021-10-21 16:16] Beamanator commented on #5915
Thanks for the swift responses guys!

@Santhosh-Sellavel I will give this job to you, i like your use of existing style methods like `getButtonBackgroundColorStyle` and `getIconFillColor`, I also like the prop names you suggested. Please move forward with submitting a PR when you have a chance 👍

[2021-10-21 16:38] pecanoro commented on #5843
Ok, I can take care of this then if we want to change it

[2021-10-21 17:17] parasharrajat commented on #3797
If you refresh the page. the message will appear. In this case, API is pulling the history but it only fails in realtime.

[2021-10-21 17:24] roryabraham commented on #5924
Agree, removing the external label and unassigning @mallenexpensify. I was able to QA this fix on staging web but not iOS yet, so I'll assign this to myself so I can fix iOS staging deploys and come back to QA this on iOS.

@isagoico can you please QA https://github.com/Expensify/App/pull/5959 on Android staging?

[2021-10-21 17:27] flodnv commented on #3797
I am on Desktop, I quit the app and relaunched it and my message is still
not here :/

On Thu, Oct 21, 2021 at 6:17 PM Rajat Parashar ***@***.***>
wrote:

[2021-10-21 17:42] chiragsalian commented on #5239
Yes, i'm going with rajats proposal 1, i.e.,

And yeah that will be handled internally, more specifically by ring0 once we get the Chronos avatar image.
Correct yes, i think once the task is complete we should compensate rajat for the correct proposal.

[2021-10-21 18:19] bfitzexpensify commented on #5754
@johnmlee101 thoughts on the above proposals?

[2021-10-21 19:44] marcaaron commented on #3797
Ok perhaps we should make this `Internal` for now to get a quick investigation into why large messages are not being chunked. Seems like the code you found there is bad, but also no chunks are being sent which seems unexpected.

[2021-10-21 19:45] trjExpensify commented on #5875
Reassigning because.. jk jk! 😉 Upwork job [here](https://www.upwork.com/jobs/~01403ab5e888b144a5)!

[2021-10-21 20:04] stitesExpensify commented on #5962
I'm not sure this is actually broken, I'm not on the engineering contributor management team so that's probably why it didn't assign it to me

[2021-10-21 21:13] marcaaron opened #5984 "[Tracking] Expensify/App cleanup + style guide + README improvements"
# Problem

Expensify/App, Onyx, and our JS styles are inconsistently enforced in the `Expensify/App` repo. This can happen for many reasons, but one obvious one is that we just haven't written down in our style guide clear examples.

# Why is this important?

Incorrect patterns will create more incorrect patterns and general confusion about the "right way" to make a change or implement a feature.

[2021-10-21 21:22] mallenexpensify commented on #5924
While I'm here... I've seen the overlapping text with label a couple places.  Will that be fixed (most) everywhere once this is fixed and closed?

[2021-10-21 21:40] marcaaron commented on #5984
I like the idea of looking into some custom lint rules for things like using an array method instead of `_`. Especially if they direct you to the style guide to also learn why we prefer to do things one way over another. I don't have much experience with writing them so maybe others have ideas on if it's practical.

[2021-10-21 23:12] isagoico opened #5987 "Messages sent while offline disappear after connection is regained if the user closes/reopen app - Reported by: @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Make sure you are offline.
2. Send some messages to any user.
3. Refresh the page on the web. Close & open the app on mobile.
4. Now you can sti

[2021-10-21 23:41] isagoico opened #5990 "VBA Let's finish in Chat modal - Update spanish translation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to add bank account flow (app must be in spanish)
2. Add a Verifying bank account (must go through onfido flow)
3. Reach the "Let's fini

[2021-10-22 00:45] isagoico opened #5994 "[Offline mode] Making changes on settings options while offline, leads to infinite loading - Reported by: @Santhosh-Sellavel & @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Profile
1. Kill the internet connection
2. Navigate to profile settings
3. Click on upload a profile picture
4. Select any image

Change password
1.

[2021-10-22 00:49] marcaaron opened #5995 "[HOLD] Cleanup usages where early return is preferred"

[2021-10-22 01:43] #5990 closed

[2021-10-22 02:52] marcaaron opened #5998 "Cleanup usages of `Onyx` directly inside a view"

[2021-10-22 23:56] stephanieelliott commented on #4910
N6 hold has been lifted, this PR is undergoing QA now

[2021-10-22 23:58] MitchExpensify commented on #5347
Thanks for grabbing while I was at SuiteWorld @dylanexpensify! I can take it from here (i.e. payment when ready)

[2021-10-23 00:09] stephanieelliott commented on #5191
N6 hold is lifted, payment for this job will include a $250 bonus. PR is currently undergoing QA

[2021-10-23 00:09] marcochavezf commented on #5619
After a bit of analysis, I pushed back the PR and created a diagram of how the network layer is set up and when the authToken is retrieved:

<img width="1042" alt="Screen Shot 2021-10-22 at 18 38 50" src="https://user-images.githubusercontent.com/6829422/138534214-e102cd78-dd65-43cb-9f26-9844c3293a3a.png">

As @kidroca mentioned [here](https://github.com/Expensify/App/issues/5619#issuecomment-9417

[2021-10-23 00:12] roryabraham commented on #5971
Hmmm I thought that E/App issues went through weekly KI retests along with E/E issues

[2021-10-23 00:20] #5879 closed

[2021-10-23 00:23] botify commented on #5462
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.8-9 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/5742

If no regressions arise, payment will be issued on 2021-10-30. :confetti_ball:

[2021-10-23 00:23] botify commented on #4425
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.8-9 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/5686

If no regressions arise, payment will be issued on 2021-10-30. :confetti_ball:

[2021-10-23 00:23] botify commented on #5756
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.8-9 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/5786

If no regressions arise, payment will be issued on 2021-10-30. :confetti_ball:

[2021-10-23 00:23] botify commented on #5158
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.8-9 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/5741

If no regressions arise, payment will be issued on 2021-10-30. :confetti_ball:

[2021-10-23 00:23] botify commented on #4515
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.8-9 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/5704
- https://github.com/Expensify/App/pull/5858
- https://github.com/Expensify/App/pull/5959

If no regressions arise, payment will be issued

[2021-10-23 00:23] botify commented on #5772
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.8-9 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/5812
- https://github.com/Expensify/App/pull/5812

If no regressions arise, payment will be issued on 2021-10-30. :confetti_ball:

[2021-10-23 00:23] botify commented on #5912
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.8-9 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/5913

If no regressions arise, payment will be issued on 2021-10-30. :confetti_ball:

[2021-10-23 00:26] isagoico commented on #5971
All E/App issues (raised by Applause testers) are going through weekly KI. What I meant before is that issues raised on the  #expensify-open-source don't go through the KI Retests at the moment and we could add them to the KI retests round if requested on the issue (similar like what you did [here](https://github.com/Expensify/App/issues/5971#issuecomment-950014935)

[2021-10-23 00:46] #5998 closed

[2021-10-24 00:44] rushatgabhane commented on #5944
### Proposal

In SidebarScreen.js

Subscribe `SidebarScreen` to `reports` (`ONYXKEYS.COLLECTION.REPORT`)

For a new user, find the Concierge chat report, and toggle the pin for it.

[code]
https://github.com/Expensify/App/blob/628306aa7a6f926b15696414c2f6325be0fe5cd7/src/pages/home/sidebar/SidebarScreen.js#L70

### Result

https://user-images.githubusercontent.com/29673073/138575363-43e13cf6-c667-

[2021-10-25 13:52] isagoico opened #6032 "Feature Request - Create an available/unavailable status icon for other users in the New Expensify"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Note that there is no Online icon on the user avatar

## Expected Result:
Show an icon in New Expensify that indica

[2021-10-25 22:44] mountiny opened #6050 "[HOLD for payment 2021-11-12] LHN: Hide the pencil icon when message is sent or draft is deleted and show the icon when user started to type"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Type a draft message in some chat.
    - The pencil icon for draft does not show up.
3. Switch to another chat to see the pencil icon appear and

[2021-10-26 01:48] marcaaron opened #6057 "[Tracking] Improvements to Policy.js"
# Problem

Policy.js is a good example of not so great patterns we have created. Let's fix it up so those patterns are not repeated.

# Why is this important?

I think we're going to run into similar problems again and again so I wanted to take some time to clean up `Policy.js` and maybe establish some best practices before people adopt these "less good" ones as a convenience.

Going to break thes

[2021-10-26 03:22] isagoico opened #6058 "[Offline mode] User is able to remove Workspace members while offline- Reported by: @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to workspace settings
2. Kill the internet connection
3. Navigate to manage members
4. Select a member and click on remove

## Expected

[2021-10-26 03:31] isagoico opened #6059 "[HOLD for payment 2022-03-22] [$500] Connection drop is not detected - Reported by: @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Steps to simulate connect loss:
2. Turn on mobile internet on phone.
3. Turn on hotspot/internet sharing on your phone.
4. Connect your laptop/p

[2021-10-26 03:37] isagoico opened #6060 "[HOLD] Add offline feedback on settings pages - Reported by: @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to the settings page
2. Kill the internet connection
3. Navigate to any of the settings page and try changing content (Changing the pass

[2021-10-26 18:17] Luke9389 opened #6069 "[HOLD for payment 2022-05-20][$1000] Input is lost upon pressing ⌘K to open the Search View"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel! https://www.upwork.com/jobs/~01a9fa1b364d799b4c
___

If you start typing right after pressing ⌘K, some of your inputs might be lost as a result of the transition time for bri

[2021-10-26 20:49] kavimuru opened #6070 "[HOLD for payment 2021-11-29] ipad - Signin - Blank color startup page appears in sign in screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Observe the login page
## Expected Result:
The start up page should be appearing in rotation with text on it
## Actual Result:

[2021-10-27 01:29] marcaaron opened #6072 "Standardize on `import * as Something` when modules only have named exports"

[2021-10-27 03:35] isagoico opened #6074 "[HOLD for payment 2021-11-11] Payments - Remove label from payment options menu"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. On mobile navigate to settings > Payments
2. Tap on add new payment method

## Expected Result:
There should be no label in the popup menu.

## A

[2021-10-27 03:44] mvtglobally opened #6075 "Web - Attachment - No magnifying glass seen when hoovered over image in chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1.  Upload an image in chat
2. Select image that was uploaded
3. Hoover mouse over selected image to see magnifying glass

## Expected Result:
Magni

[2021-10-27 03:47] isagoico opened #6076 "[HOLD for payment 2021-11-29] Small images are displayed HUGE on attachments preview"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Copy this small image of a chilling cat with a sombrero
![image](https://user-images.githubusercontent.com/44479856/138995955-16a014ce-d1a9-4072-

[2021-10-27 03:47] mvtglobally opened #6077 "Split bill - When writing a comment, Who paid gets hidden"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Click FAB + > Split bill
3. Enter amount and click next
4 It will show attendee select screen, So sele

[2021-10-27 03:51] mvtglobally opened #6078 "Split bill - Text is distorted in Spanish"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with Spanish account (or, sign in to the same account through staging.expensify.com and use `NV

[2021-10-27 04:04] isagoico opened #6079 "iOS - Push notifications are not opening correct chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Have some notifications from New Expensify conversations in iOS
2. Tap any of the notification
## Expected Result:
User should be taken to correc

[2021-10-27 04:47] marcaaron opened #6081 "[Discuss] Policies syncing - app unable to sync + modify data in parallel"
# Problem

When attempting to do a "syncing read" (request of a collection which then overwrites any local data) and a "write" in parallel we will run into a race condition. A current workaround is either to force requests to happen in sequence or create a temporal dependency by "moving a request somewhere else" (the latter doesn't actually work). Neither of these seem sustainable given our networ

[2021-10-27 14:39] kavimuru opened #6082 "Desktop - Blank screen appears when exiting the onfido page in IOU flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch Desktop app and login
2. Tap on [+] and select 'Send money" > enter amount > next
3. Enter email in the field 'Name, email or phone"
4. Ta

[2021-10-28 00:56] marcaaron opened #6092 "Cleanup any promise chains off of actions inside views"
**Good news here but there really aren't that many cases where we're doing this...**

Just gonna kinda break down each one explain what the alternative should be...

### Using component state for `loading` state instead of Onyx

This one is using a `loading` state locally in a component. Probably, it would be more ideal to find an Onyx key to put that loading state on. But seeing these kind of thi

[2021-10-28 14:43] isagoico opened #6096 "[HOLD for payment 2021-12-27] [$500] Message preview in focus mode is not aligned with user name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel! https://www.upwork.com/jobs/~0144453341751f5873
___
## Action Performed:
1. Log in to e.cash and enable focus mode
2. Check the message previews in LHN

## Expected Result:
M

[2021-10-28 20:42] OSBotify opened #6106 "Deploy Checklist: New Expensify 2021-10-28"
**Release Version:** `1.1.11-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/4
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/5412
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/5806
  - [x] QA
  -

[2021-10-29 03:57] kavimuru opened #6110 "Settings - Blank page opens when user navigates to Profile screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1.Open the app
2. Login with existing account
3. Tap on user's avatar
4. Select "Profile"
## Expected Result:
Profile page should open
## Actual Res

[2021-10-29 18:03] nazam100 commented on #5446
Accessibility Issue: The element announced without button role.
Failed WCAG: 1.3.1
Actual Result: The element is announced without it's button role.
Expected Result: The element should announce it's button role.

Attachment:

https://user-images.githubusercontent.com/66008453/139481657-bf66bce9-0933-4dc3-822c-7ecf1a1ff202.mp4

<img width="929" alt="Capture" src="https://user-images.githubuserconte

[2021-10-29 18:08] akshayasalvi commented on #5079
Well, that could work. Few pointers:

1. Layout of `SetPasswordPage` is the `SignInPageLayout`.
2. In the `SetPasswordPage`, we have a couple of functions called internally ->  `API.ValidateEmail` > `API.ChangePassword` > `Session.signIn` > `API.Authenticate` > `Session.createTemporaryLogin` and so on.
Can you tell me after which function will the `PersonalDetails_update` work? After `Authenticate

[2021-10-29 18:53] michaelhaxhiu commented on #4678
@MirFahad58 here's the spanish translation - let us know if you are blocked on anything else:

[2021-10-29 19:03] kevinksullivan commented on #5841
Hmm this feels pretty rough still. Additionally, this means it's impossible to enter an apartment number if not shown, right? I believe @MitchExpensify ran into this problem as well. I think address lookup works really well for most cases, but it completely blocks users from going forward as well. I wonder if we pursue an alternative solution that auto-fills information but still lets a user manua

[2021-10-29 19:04] kevinksullivan commented on #5906
Hired 👍

[2021-10-29 19:14] Santhosh-Sellavel commented on #5906
Thanks! @kevinksullivan

@deetergp Here is my proposal https://github.com/Expensify/App/issues/5906#issuecomment-948999691
Can review it let me know which way you prefer, whether I can start PR?

[2021-10-29 19:14] aldo-expensify commented on #5841
Yep, it is impossible to enter an apartment number. I agree with that we should offer an alternative where the user can enter / modify things manually. I could work on that if we define how it should work :)

[2021-10-29 19:20] kevinksullivan commented on #3897
ah this is all set.

[2021-10-29 19:20] #3897 closed

[2021-10-29 19:47] chiragsalian commented on #6110
Nice, yup you are correct santhosh and your solution is good too. Since this is a deploy blocker i've gone ahead and created a PR so we can CP and inform QA to test soon.

[2021-10-29 19:51] luacmartins commented on #5810
Looking at this issue https://github.com/FaridSafi/react-native-google-places-autocomplete/issues/769#issue-1019480687, I'm not sure that rendering a fragment would solve the problem.

We can render a fragment or any other component like this `listEmptyComponent={() => <></>}`, but they are rendered inside the `listView`, which already has the borders and the problem persists.

I put up a PR with

[2021-10-29 19:58] luacmartins opened #6116 "Prevent layout shift caused by the AddressSearch dropdown"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. On NewDot, navigate to `/bank-account/company`
2. In the address field, start typing an address.
3. Notice that as the dropdown shows up, it shif

[2021-10-29 19:58] luacmartins commented on #6116
@Expensify/design is this something we should fix?

[2021-10-29 19:59] #6110 closed

[2021-10-29 20:00] roryabraham commented on #6110
[Fix](https://github.com/Expensify/App/pull/6114) for this was merged and will be deployed in `1.1.11-1`

[2021-10-29 20:29] aldo-expensify commented on #5810
I think you are right about this, I tried something like this (return null or I don't remember well), but it will still render the box with borders.

[2021-10-29 20:34] isagoico commented on #6106
Regression is finished!
Blockers found this round:
1. https://github.com/Expensify/App/issues/6110 - being fixed https://github.com/Expensify/App/pull/6114

We're working on exporting a few more issues (none of them are deploy blockers tho)

Thanks!

[2021-10-29 20:40] kavimuru opened #6120 "Split bill - Deselected attendees shifting to above the another user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com and login
2. Select a group chat
3.  Click split bill
4. Proceed to final confirmation page
5. Deselect t

[2021-10-29 20:47] kavimuru opened #6121 "[HOLD for payment 2021-12-06] Web - Chat - Update popup animations on web/desktop to pop open instead of fade/slide"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.comand login
2. Click the `+` icon in a Group DM text input and verify the popup menu

## Expected Result:
Th

[2021-10-29 20:52] roryabraham commented on #6106
@isagoico Did you miss this one? https://github.com/Expensify/App/pull/5940

[2021-10-29 20:56] isagoico commented on #6106
🤦 I missed to leave add it to the comment above. It mentions `No QA` so not sure if it will be taken care of internally, wanted to confirm before checking it off.

[2021-10-29 20:56] kavimuru opened #6122 "Web - Chat - Contacts are not displayed in LHN when trying to fetch a chat for a closed account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with kbecciv+1110@gmail.com (credentials below)
3. Check your contacts in LHN

## Expected Resu

[2021-10-29 21:06] Jag96 commented on #6106
I just ran through the tests for https://github.com/Expensify/App/pull/5940 and checked it off!

[2021-10-29 21:10] Santhosh-Sellavel commented on #5755
@chiragsalian PR is here https://github.com/Expensify/App/pull/5969

Did you check these out.

[2021-10-29 21:14] chiragsalian commented on #5755
Ah i missed that you said its ready for review in the PR. I'll assign it to me so that its on my plate for review. Thanks for the bump.

[2021-10-29 21:45] deetergp commented on #6076
This definitely seems like something an external contractor could work on.

[2021-10-29 21:52] roryabraham commented on #6106
Verified https://github.com/Expensify/App/pull/6114 on staging in `1.1.11.1`. Checking it off! 🎉

[2021-10-29 21:52] roryabraham commented on #6106
:shipit:

[2021-10-29 21:52] #6106 closed

[2021-10-29 21:53] roryabraham commented on #6110
This worked 🎉

[2021-10-29 21:53] kevinksullivan opened #6123 "Remove the step counter from "Let's finish in chat" step of VBA flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

# Problem

The step counter within the VBA flow should not show in the "Let's finish in chat" step, which causes there to be two pages shown as "Step 5 of 5". Additional

[2021-10-29 21:55] Jag96 commented on #6121
@kavimuru I'm not sure I understand `Popup in text input flies out and disappears for a moment`. It looks like the issue is that when the pop-up menu comes up, one of the options can be auto highlighted, and then when moving the mouse the item is no longer highlighted (the fix would be to not highlight items while the animation is happening). Am I understanding that correctly?

[2021-10-29 21:55] botify commented on #5915
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.11-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/5981

If no regressions arise, payment will be issued on 2021-11-05. :confetti_ball:

[2021-10-29 21:55] botify commented on #5418
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.11-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/5806

If no regressions arise, payment will be issued on 2021-11-05. :confetti_ball:

[2021-10-29 21:56] OSBotify opened #6127 "Deploy Checklist: New Expensify 2021-10-29"
**Release Version:** `1.1.12-3`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/5745
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/5960
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/5969
  - [x] QA

[2021-10-29 22:16] Jag96 commented on #4995
Ok great, so it sounds like we want this then:

1. Only show one error at a time under the `New Password` field.  If the new password is the same as the old password, only show that error. If the new pw is different but the criteria is wrong for the new password field, only show the criteria error.
2. If an error is showing under the `New Password` field, don't show the hint. If there are no `New

[2021-10-29 22:31] marcaaron commented on #4995
Yep this is where we landed in the doc too IIRC to follow the material design guideline

![2021-10-29_12-29-17](https://user-images.githubusercontent.com/32969087/139508040-2a2cb4f3-610b-4d35-989e-7e0e4d7206d3.png)

[2021-10-29 22:48] marcaaron opened #6130 "Pagination can be broken if > 50 comments are added while tab closed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a new chat
2. Add a comment to that chat
3. Add another comment
4. Close the tab ensuring no other tabs are open
5. Leave 100 comments on

[2021-10-29 22:49] stephanieelliott commented on #4910
Price doubled again, now $1,000.

[2021-10-29 22:55] stephanieelliott commented on #5191
This was deployed to prod yesterday, starting 7-day regression period. Note to include $250 bonus with job payment.

[2021-10-29 22:56] isagoico opened #6131 "[HOLD for payment 2021-12-15] Search - Arrow navigation on search stops working"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Press ctrl +k
2. Enter something search
3. Press the down arrow several times

## Expected Result:
User should be able to navigate the search lis

[2021-10-29 22:58] stephanieelliott commented on #5744
This was deployed to prod yesterday, starting 7-day regression period. Note to include $250 bonus with job payment.

[2021-10-29 23:02] stephanieelliott commented on #6078
Hey @jasperhuangg, it seems like https://github.com/Expensify/App/pull/6113 fixes this issue, yeah? If so, put the brakes on moving this to Upwork.

[2021-10-29 23:08] isagoico opened #6132 "[HOLD for payment 2022-01-12] Android - Add a round profile image on push notifications"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in with account A on Android
2. Log in with account B on web
3. Send some message from account B to account A
4. Check the push notifications

[2021-10-29 23:19] kevinksullivan opened #6133 "App is locked in spanish"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Using mobile, desktop, or web apps

## Expected Result:
My app should be set to english. And if it is set to Spanish, I should be able to change it

[2021-10-29 23:36] #6078 closed

[2021-10-30 00:02] parasharrajat commented on #4678
Guys, PR is ready for final review. These changes are were long back. :smile:

[2021-10-30 00:10] marcaaron opened #6136 "Adding a phone login sends a /v/<accountID>/<validateCode> link but this route was removed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Add phone login
2. Get text message
3. See link has `/v/<accountID>/<validateCode>` syntax
4. Tap it and brought to app but nothing happens (rou

[2021-10-30 00:14] parasharrajat commented on #6121
@Jag96  This is an extreme edge case and You can reproduce the same behaviour for the FAB menu.
Steps:
1. Click on the FAB.
2. When the menu is transitioning, continue clicking the FAB Button area.
3. Menu will toggle hide and show the state on every click.

[2021-10-30 00:57] parasharrajat commented on #6070
This is reproducible on the Android tab as well.
### Proposal
1. It happens as react-native does not support SVG images as Image or background images.
2. We will use the `SvgCssUri`  component from the existing `react-native-svg`.

But this is not convertible on Web. So we have to use `Image` on the Web and `SvgCssUri` for native. We can create a simple generic component SVGImage which does the sw

[2021-10-30 03:04] MirFahad58 commented on #4678
we did that change long time ago.

[2021-10-30 03:15] parasharrajat commented on #6133
Seems related https://github.com/Expensify/App/issues/5286

[2021-10-30 03:27] parasharrajat commented on #5286
PR is updated.

[2021-10-30 04:00] mananjadhav commented on #4995
@marcaaron  @Jag96  Should I update the PR with the above-mentioned changes then?

[2021-10-30 04:26] parasharrajat commented on #5159
Ok. Started to tackle this up. @shawnborton

Login Screen on Mobile and Web have a difference and I want to ask if that is intentional.
|WEB|MOBILE|
|-----|------|
|![image](https://user-images.githubusercontent.com/24370807/139520045-7a554b21-c68b-46d4-bf25-af3ae178eefa.png)|![image](https://user-images.githubusercontent.com/24370807/139520056-3fa21fb3-df73-4569-b128-f699a120a9fa.png)|

See the d

[2021-10-30 04:26] mvtglobally commented on #6077
@TomatoToaster When you look at the video in the issue, experience between **mWeb** and **App** is different.
In one case, when you write a comment the page and "Who paid" gets shifted to the top and not visible.
In another case, "Who was there" section gets hidden behind the keyboard and "Who Paid" clearly visible on top.

It makes sense to see "Who paid" on top, but not sure what should be the r

[2021-10-30 06:27] PrashantMangukiya commented on #6120
### Proposed Solution: (If considered as external)

Within `IOUConfirmationList.js` when list rendered, we are rendering section list with **WHO PAID?**,  **WHO WAS THERE?**, and Unselected participants. _i.e. Unselected participants are also rendered as separate list (but without section header)._   **So it is not feasible/good idea to keep unselected attendees on same position because in that ca

[2021-10-30 11:29] mateomorris commented on #5521
Thanks @stephanieelliott! Accepted

[2021-10-30 15:31] mountiny commented on #5191
Created an issue to investigate/fix why the deploy comment has not been added here. https://github.com/Expensify/Expensify/issues/183206

[2021-10-30 18:49] eVoloshchak commented on #5291
The problem lies inside a Modal component used in AttachmentModal.
If attachment is PDF we pass CONST.MODAL.MODAL_TYPE.CENTERED_UNSWIPEABLE as Modal type, otherwise CONST.MODAL.MODAL_TYPE.CENTERED. [This](https://github.com/Expensify/App/blob/973dcf4d6ef737630eeac61b57dbd95b183a092b/src/components/AttachmentModal.js#L115) works correctly and passes  'centered_unswipeable' when we select PDF attach

[2021-10-31 01:23] rushatgabhane commented on #6131
Hey, I found the root cause and here are some approaches to fix this issue!

## Proposal

### Root cause
We are dismissing the keyboard on scroll.
https://github.com/Expensify/App/blob/973dcf4d6ef737630eeac61b57dbd95b183a092b/src/components/OptionsList.js#L243

Dismissing the keyboard has a side effect of unfocusing the `TextInput` ([source here](https://github.com/facebook/react-native/blob/6790c

[2021-10-31 10:35] rushatgabhane commented on #5158
Just curious, do I have to apply somewhere for issue reporting bonus?

[2021-10-31 18:08] akshayasalvi commented on #5774
@Beamanator  If I add the content to the message it shows up the raw HTML like this

![image](https://user-images.githubusercontent.com/57435789/139596233-e459b27f-92e0-4847-a242-14e2d7e17cd7.png)

I was wondering if I should update only the API call by appending the download app links.
[code]

[2021-11-01 00:29] SofiedeVreese commented on #4994
Relax Melvin, this is awaiting payment.

@mountiny are we back to payment 7 days from merge date, instead of 7 days from deploy date?

[2021-11-01 00:31] SofiedeVreese commented on #5722
Relax MelvinBot, this has an open PR on it.

[2021-11-01 00:40] SofiedeVreese commented on #6123
Looks good, let's do it!

Adding Engineering.

[2021-11-01 03:06] parasharrajat commented on #6069
I checked the suggested implementation, it works but it blocks the entering animation due to our focus while animating.

[2021-11-01 06:27] mountiny commented on #4994
@SofiedeVreese Nono, the linked PR has been in a recent production PR as per [this comment](https://github.com/Expensify/App/pull/5753#issuecomment-954212768).

[2021-11-01 08:25] dylanexpensify commented on #5756
getting payment sent today!

[2021-11-01 08:25] dylanexpensify commented on #6060
not overdue

[2021-11-01 08:33] dylanexpensify commented on #5756
Payment made with reporting bonus and job closed!

[2021-11-01 08:33] #5756 closed

[2021-11-01 09:44] Dal-Papa commented on #5946
I'm going to have to pass that one on to someone else as I have some external deadline commitment.

[2021-11-01 10:41] mountiny commented on #5973
PR has been merged 🎉

[2021-11-01 10:58] iwiznia commented on #5079
I think after `createTemporaryLogin` since that's what sets the authToken (but you should check if that's correct, it might be available after authenticate)

What do you mean exactly?

If that personal information includes the password, then I don't think we should store it in onyx.

[2021-11-01 11:16] iwiznia commented on #6136
hmmm is the problem that the app should not be opening that link at all? Or what is the expected behavior when the app opens it?

[2021-11-01 11:42] parasharrajat commented on #5542
I will be reviewing the PR and I will let you know @thienlnam when this is ready for final review and possibly for merge. [See More](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600)

[2021-11-01 11:44] parasharrajat commented on #5542
Should https://github.com/Expensify/App/issues/5542#issuecomment-928582857 be implemented as a solution or just add a tooltip for all cases?

I don't see an official acceptance of the proposal so it's unclear to me.

[2021-11-01 11:54] kidroca commented on #5984
I can't find a specific rule on how to deal with comments that span on multiple lines

- on some reviews I've been told that my comments doesn't match the style guide
[code]
- on others to write multiline comments on multiple lines as regular comments `//`

I guess the first case applies only to prop types, but it's a bit confusing as I thought that's what should be used for all multiline comments

[2021-11-01 12:09] akshayasalvi commented on #5079
What I mean is we store everything in Onyx and all these calls are inside lib. So we'll have to set some flag that loads the state in the form.

What I am saying is, even before sending the API call we should the `Welcome` form. Take the information from the user and store in Onyx (not password), then after the calls that I mentioned if the value is set, we should call the above APIs.

What are yo

[2021-11-01 12:19] Gonals commented on #5336
Unassigning for now to give other people a chance to grab it, since I'm focusing on another couple of things. I'll grab it back if no one else does!

[2021-11-01 12:20] iwiznia commented on #5079
Sorry but I don't follow what you are proposing. Why do we need to save the data of the personal information in onyx (or why does anything need to change related to the personal information? How is the welcome form receiving the password from the set password component?

[2021-11-01 12:43] NicMendonca commented on #6076
Upwork job posting: https://www.upwork.com/jobs/~0140735bf8eaa08fea

[2021-11-01 12:50] MirFahad58 commented on #4678
@michaelhaxhiu @parasharrajat @shawnborton @roryabraham no one is reviewing the PR?

[2021-11-01 13:44] TomatoToaster commented on #6077
Aha! I didn't realize it would look different between Mobile app and mWeb, alright let me look into that. Thanks!

[2021-11-01 14:46] Beamanator commented on #5774
Hmm good point @akshayasalvi - Personally I think it's fine, but what do you have in mind for just appending in the api Call?

[2021-11-01 14:53] johncschuster commented on #6133
@kevinksullivan, do you have any reproduction steps on how your app changed to Spanish? Did you change your global settings on your phone or attempt to translate some text?

The issue @parasharrajat referenced has a video showing the reproduction steps. Can you take a look to see if their steps match your steps?

[2021-11-01 15:22] jboniface commented on #5974
@Luke9389 do you have an opinion on the pending proposal?

[2021-11-01 15:22] jboniface commented on #4690
this is awaiting payment, not overdue

[2021-11-01 15:40] mvtglobally commented on #6127
Starting QA

[2021-11-01 16:02] Beamanator commented on #5918
Looking more into this later this week

[2021-11-01 16:08] mountiny commented on #4977
New theory on the problem here, which stems from the [duplicate PR issue](https://expensify.slack.com/archives/C01SKUP7QR0/p1635351586080500?thread_ts=1635328292.067000&cid=C01SKUP7QR0) you have resolved and the problem mentioned [by Matt today](https://expensify.slack.com/archives/C01GTK53T8Q/p1635782142289500?thread_ts=1635779124.289000&cid=C01GTK53T8Q). Essentially, I believe this is caused bec

[2021-11-01 16:15] akshayasalvi commented on #5774
Yeah I was wondering if we could just append in the app call.

[2021-11-01 16:29] thienlnam commented on #5542
I didn't accept a proposal specifically yet but since we already hired @akshayasalvi we will just continue working through this job.  I asked for clarification https://expensify.slack.com/archives/C01GTK53T8Q/p1635784104290300?thread_ts=1632614361.076100&cid=C01GTK53T8Q here about the tooltip

[2021-11-01 16:40] thienlnam commented on #5593
@PrashantMangukiya The mentioned PR is on production and I also updated one of the codes to a 405 instead of a 404 for an invalid image.  Please give it another test and let's continue implementation specific comments in the PR

[2021-11-01 16:42] marcaaron commented on #5984
Good question. I've seen more multi-line comments with `//` than block style throughout our codebases so that's usually what I suggest to people when they are writing comments that are not docs, headings, or `propTypes`.

We are using the block style for `propTypes` because that's what seems to work with `react-docgen`.

So yeah I agree it's confusing because

- JSDoc uses it's own style
[code]
-

[2021-11-01 16:44] marcaaron commented on #5984
Oh! Also update for @johnmlee101 - I spent some time looking into custom eslint rules and it's actually not too bad. Was able to create custom rules for most of the things on our original list.

[2021-11-01 16:49] thienlnam commented on #6123
Marking this as internal since only we can test the VBA flows.  Can't pick it up right now so dropping it back in the pool

For the engineering handling this - current step is the ValidationStep https://github.com/Expensify/App/blob/5763378376d01ed0e019290092469b5233e5a98a/src/pages/ReimbursementAccount/ValidationStep.js#L165-L165

And the step counter is located in the component `HeaderWithCloseB

[2021-11-01 16:57] PrashantMangukiya commented on #5593
@thienlnam thanks for the message. Today I am busy, so tomorrow I will test and continue for implementation in the PR. I will message if need any other help. Thanks again.

[2021-11-01 17:00] laurenreidexpensify commented on #6096
lol it's like melvin knew you reported it @tgolen !

[2021-11-01 17:01] marcaaron commented on #6136
We send you a link and it opens the app, but does not validate your secondary login. Because the link we send has no corresponding route so it is like a very basic deep link that does nothing but open the app. The expected behavior is that your secondary login will get automatically validated.

[2021-11-01 17:04] Beamanator commented on #5774
I'm interested in your specific thoughts b/c I think we'd only be able to append directly to `this.getWelcomeNotePlaceholder()`... We can't just append to `this.state.welcomeNote` because it's possible the user deleted and rewrote their welcome note, so the download links would be weird there. But how do we know if the current value of `this.state.welcomeNote` is the default welcome note or someth

[2021-11-01 17:08] Santhosh-Sellavel commented on #5906
@deetergp bump

[2021-11-01 17:26] roryabraham commented on #6133
I think what happened for @kevinksullivan and I was that we signed into an account that had Spanish as the preferred language, and then we've been stuck in Spanish since 😆

[2021-11-01 17:27] danieldoglas commented on #3797
Will stop this for now to change to a Daily reported bug

[2021-11-01 17:27] Jag96 commented on #4995
@mananjadhav yes, sounds like we're all in agreement so lets update the PR with the changes mentioned in https://github.com/Expensify/App/issues/4995#issuecomment-955078045.

[2021-11-01 17:27] danieldoglas commented on #6122
Starting to work on this.

[2021-11-01 17:27] johncschuster commented on #6133
Goooot it. I'm not familiar with how someone would sign into an account that has Spanish as the preferred language. Would you be able to provide repro steps?

[2021-11-01 17:35] puneetlath commented on #5922
@SofiedeVreese @Luke9389 I'm back from vacation now. What @PrashantMangukiya said is correct. I recommended that we split the implementation of the validation and the date picker changes [here](https://github.com/Expensify/App/issues/5722#issuecomment-944662051) which is why there are separate issues and they are submitting separate PRs.

[2021-11-01 17:36] roryabraham commented on #6133
[The language picker is hidden behind the internationalization beta](https://github.com/Expensify/App/blob/1374cfd848eb06c83fd56cc3dfad594026a33e9a/src/components/LocalePicker.js#L48-L50), so the reproduction steps would be:

1. Add an account to the internationalization beta
1. Sign into that account
1. Go to `Settings` -> `Preferences`, and set the preferred language to español
1. Sign out.
1. S

[2021-11-01 17:38] roryabraham commented on #6136
I'll add the validate route back, then we should make sure this flow is added to the regression testing suite.

[2021-11-01 17:52] kavimuru opened #6147 "iOS - IOU - Unable to select amount for request /send money flow"
Issue was found when executing this PR #6113

If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login with expensifail account
2. Tap request money / send money from green fab

[2021-11-01 17:53] OSBotify commented on #6147
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-01 17:59] kavimuru opened #6148 "iOS - Not able to select any contact in new chat or new group flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Click the global create menu > New chat / group

## Expected Result:
User able to select contact from recent chat lis

[2021-11-01 17:59] OSBotify commented on #6148
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-01 18:16] shawnborton commented on #5926
I think this is my favorite option so far:
![image](https://user-images.githubusercontent.com/2319350/139720541-40bd1a61-96c0-4712-98a1-08b49b24beff.png)

[2021-11-01 18:23] shawnborton commented on #6116
Agree, the dropdown should be absolutely positioned on top of the other elements. Maybe we should even give it a bit of a shadow too to create some more visual separation as well.

[2021-11-01 18:24] shawnborton commented on #5159
That's not intentional, that's a bug. It should look like the web version on the left.

[2021-11-01 18:33] roryabraham commented on #4977
If you're right, then I think the line we'll need to edit is [right here](https://github.com/Expensify/App/blob/089795f73d4a8fb7821da51791a9ac41538e7f8b/.github/workflows/cherryPick.yml#L113), and we'll want to edit the commit message. It looks like the `git cherry-pick` command has a `-e` flag that allows you to edit the commit message prior to committing [docs](https://git-scm.com/docs/git-cherr

[2021-11-01 18:34] jboniface commented on #5974
@developvsn if you haven't applied to the upwork job, can you do so? If you have applied, can you let me know who you are on UW so I can hire you? you can also message me through the job posting on UW and let me know your gh username if you'd prefer.

[2021-11-01 18:48] mountiny commented on #4977
@roryabraham Seems like the `-e` would open some editor indeed. What about adding the `-x` [option](https://git-scm.com/docs/git-cherry-pick#Documentation/git-cherry-pick.txt--x) which should automatically add certain message to the end of the commit message and we can then update the regex in [here](https://github.com/Expensify/App/blob/f6c46150163948284cab0e5e486d7bc6175742fa/.github/libs/GitUti

[2021-11-01 18:51] laurenreidexpensify commented on #5637
@parasharrajat are you saying that https://github.com/Expensify/App/pull/6138 will solve both this issue and https://github.com/Expensify/App/issues/5896?

[2021-11-01 18:53] laurenreidexpensify commented on #5591
https://github.com/Expensify/App/pull/5745 is merged and on staging.

@isagoico can you test this tomorrow when https://github.com/Expensify/App/pull/5745 has been deployed to prod and confirm if orientation is still broken?

[2021-11-01 18:54] mallenexpensify commented on #4515
Paid @AlfredoAlc $250 in Upwork.
@parasharrajat should you be compensated for reporting the issue? I think so... but we've updated a process a lot the past three months :)

[2021-11-01 19:04] mallenexpensify commented on #6074
Apologies for the delay, I was out late last week.  @parasharrajat is hired in Upwork and assigned here.

[2021-11-01 19:06] roryabraham commented on #4977
Ah yep good call, we're already passing `-x` as you can see [here](https://github.com/Expensify/App/blob/089795f73d4a8fb7821da51791a9ac41538e7f8b/.github/workflows/cherryPick.yml#L113)

Agreed this would likely solve our problem 😁 Great find! Do you want to submit a PR or should I?

[2021-11-01 19:07] chiragsalian commented on #5945
In our code we don't allow characters like brackets, dash etc
So the only valid US numbers are,

[2021-11-01 19:11] tgolen commented on #6120
I think the proposal above is a good proposal (for when we are ready to hire for this job). 🟢

[2021-11-01 19:12] michaelhaxhiu commented on #4678
Oh I see. I am seeing that the PR has the `n6-hold` label. Let me double check if this PR review needs to be held longer or not.

[2021-11-01 19:13] mountiny commented on #4977
I would love to submit a PR. This is an example of the commit message from CP
![image](https://user-images.githubusercontent.com/36083550/139727737-dc05d45b-35cd-4a43-a8bf-7c80867981d6.png)

I will need to ask you for a review to triple check the regex 😄

[2021-11-01 19:24] danieldoglas commented on #6122
@kavimuru , is it only happening if 2FA is enabled, or if you disable will it also happen?

Also, is there a way for me to access that account?

[2021-11-01 19:35] NicMendonca commented on #5728
Not overdue, awaiting payment

[2021-11-01 19:36] roryabraham commented on #4977
@mountiny [Unit tests](https://github.com/Expensify/App/blob/2dbdd85d71468883723f7bc5984d1be70817c4e2/tests/unit/GitUtilsTest.js#L7-L48) 😄

[2021-11-01 19:38] Luke9389 commented on #5922
Ah OK so let me see if I have this straight. We are adding the following line in @PrashantMangukiya's PR because they don't have to use the date picker:
[code]

In @Santhosh-Sellavel's PR we'll be making changes to the `DatePicker` component itself to make future dates unselectable.

Is that correct @puneetlath?

[2021-11-01 19:43] mountiny commented on #4977
Haha, I was just looking at them while trying to figure it out and I am not sure how to achieve it. I forgot the `git log` is just a long string and not an array of commit messages.

So the regex will have to check if there are two `Merge pull request #7777` substring followed with no `cherry picked from commit` between them. Trying to figure this out now 😄

[2021-11-01 19:45] roryabraham commented on #4977
Look up "negative lookahead" 😄

[2021-11-01 19:45] roryabraham commented on #4977
Also by far my favorite regex tool: https://regexr.com/

[2021-11-01 19:50] marcaaron commented on #6136
AFAIK the design that was implemented was to have the user return to NewDot - so unsure if we should change that. But maybe @NikkiWines has thoughts on this.

[2021-11-01 19:52] roryabraham commented on #4977
Looks to me that this might work:

[code]

![image](https://user-images.githubusercontent.com/47436092/139732714-26baef2c-02cf-40ef-972d-4fcd9e25acd1.png)

[2021-11-01 19:56] MitchExpensify commented on #4771
Taking off hold and was unable to reproduce using [these](https://github.com/Expensify/App/issues/4771#issuecomment-919435102) steps. Closing for now

[2021-11-01 19:56] #4771 closed

[2021-11-01 19:57] MitchExpensify commented on #4545
Not overdue, awaiting payment

[2021-11-01 20:06] Jag96 commented on #6121
I'm still not seeing any bug in the description video other than the one in https://github.com/Expensify/App/issues/6121#issuecomment-955069723, @kavimuru please can you clarify the `Actual Result` for me?

Is this the same issue that is being described in the description? @parasharrajat If it is the same issue, can you provide an `Action Performed`, `Expected Result`, and `Actual Result` for the

[2021-11-01 20:10] puneetlath commented on #5922
That's correct!

[2021-11-01 20:13] roryabraham commented on #4911
Despite the fact that this bug is present on production, this just became a deploy blocker on iOS because Apple is rejecting our app review and we think this is why. So I'm bumping this to a daily.

[2021-11-01 20:15] NikkiWines commented on #6136
The original implementation had the user routed back to NewDot if they initiated adding the secondary login from NewDot - I don't think we should change it so they're routed to OldDot. Seems like a weird flow for them to go through

[2021-11-01 20:15] Luke9389 commented on #6069
This is a really cool idea. I'd be interested to see how many places in our code could use this type of behavior.

We call `Navigation.navigate(ROUTES.SEARCH);` from two places right now (and maybe we'll add more). Maybe it'd be better to start the buffer inside the `navigate` method. We could have a list of routes that require an input capture buffer, and then check for them inside of `navigate`.

[2021-11-01 20:19] marcaaron commented on #6069
I think I like this workaround better. The code feels a bit complex to me for solving an edge case. I've never had a problem with typing into this search box.

[2021-11-01 20:23] OSBotify commented on #4911
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-01 20:25] kavimuru opened #6150 "iOS / Android - App crashes after sending 2nd emoji"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Select any conversation
4. Send an emoji
5. Select 2nd emoji
## Expected Result:
Able to send 2nd em

[2021-11-01 20:25] OSBotify commented on #6150
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-01 20:26] Luke9389 commented on #5922
OK cool!
Sorry to have thrown a wrench in the works here, heh.
@Santhosh-Sellavel please feel free to resume your PR.

[2021-11-01 20:32] marcaaron commented on #5619
This conversation (while interesting) feels a bit tangential and not quite in context for "Android - User is logged out randomly". Does anyone mind if we maybe funnel some of this stuff into another thread and focus on solving the current problem here without triggering a big design change for now?

If I could take a stab at the problem statement I'd say something like:

[2021-11-01 20:46] mountiny commented on #4977
I would do following: use `--format="{[%B]}"` flag with the curly braces around the commit message to give us clear way to delimiter the commit messages in the git log (as combination of `{[]}` characters which should be unique to commit messages).

This returns following format:
[code]

Inside of these brackets we can more easily check for the CP commit.

[2021-11-01 20:54] mallenexpensify commented on #5945
I think the above will do for now.

[2021-11-01 21:05] marcaaron opened #6151 "[Discussion] Onyx.connect() design leads to ambiguously defined local values"
cc @roryabraham @kidroca

# Problem

`Onyx.connect()` updates local variables asynchronously wherever it is used. This has [at times](https://github.com/Expensify/App/issues/5619) lead to incorrect assumptions about when a certain local variable will be "ready" or "not ready" and therefore increases the chances of race conditions (inconsistent results) and confusing time dependencies (do x, but on

[2021-11-01 21:16] marcaaron opened #6153 "Clean up `create()` and `getPolicyList()` methods to have single responsibility"
See Tracking Issue

[2021-11-01 21:26] marcochavezf commented on #5619
Sounds good to me, today and tomorrow I will continue with what we agreed to tackle the logout issue: unit tests, isReady flag, and stop logging in `enhanceParameters` (also I'm going to investigate why it was added).

For the isReady flag, I like the idea that @roryabraham [proposed](https://github.com/Expensify/App/issues/5619#issuecomment-954268756) in point 2 (create a store for auth and crede

[2021-11-01 21:26] mallenexpensify commented on #5952
Thanks @isagoico , I'm going to move this forward since I was able to reproduce on my end (I had to switch between two wifi networks and not wifi>tethering) .
Job is https://www.upwork.com/jobs/~01d220c10b9ea6bad2
Started at $500 since this has been a persistent issue (but... now with a new cleanish GH issue)

[2021-11-01 21:35] chiragsalian commented on #5807
I'm pretty sure I unassigned just myself and not you @jboniface earlier but anyway must've been some mistake, so i'm adding you back.

[2021-11-01 21:46] mallenexpensify commented on #5070
Bumped back to weekly.  @roryabraham can you confirm this is, and will be, helpful? If so I want to drop into #engineering again for 👀

[2021-11-01 21:52] chiragsalian commented on #5945
oh also spaces will throw an error, so the example phone number should be `+447782339811`. You can modify the created PR to allow spaces in phone number as well. Should be a very easy fix to trim them out when needed via code.

Asking for spanish copy.

[2021-11-01 21:53] nickmurray47 commented on #6082
Tested on reguler web and the blank screen doesn't occur there in this flow, which makes me think we need to add `index.desktop.js` logic to the existing Onfido flow.

[2021-11-01 21:56] chiragsalian commented on #5945
A nice future update would be to split the phone number into international code and phone number. Then the international code can be intelligently filled based on their location. They can modify it if they wish but it would be nice to see it be smart and auto-filled.

[2021-11-01 21:58] roryabraham commented on #4977
Seems like a clever approach. If you wanted to you could create some even more explicit format for each commit that would never conflict with an actual commit message, such as `--format="<commit>%b</commit>"`, resulting in XML-style tags wrapping each commit like so:

[code]

[2021-11-01 21:59] yuwenmemon commented on #4911
Okay, since this is a DeployBlocker with Apple's app review and we'd like to get this out ASAP we're going to do the following:

1. I'm going to make a PR implementing @meetmangukiya's proposal [here](https://github.com/Expensify/App/issues/4911#issuecomment-914939906) as a stop-gap fix. Don't worry, we will still pay you for the proposal.
2. This allows @parasharrajat more time to work on his pro

[2021-11-01 22:00] isagoico opened #6154 "[HOLD for payment 2022-09-07] [$2000] IOU - User is unable to modify the IOU amount - Reported by: @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Click on attachment button
3. Click on request money
4. On the amount, enter 1550
5. Try to modify the amount

## E

[2021-11-01 22:04] Jag96 commented on #5912
Paid!

[2021-11-01 22:04] #5912 closed

[2021-11-01 22:06] isagoico opened #6155 "[HOLD for payment 2021-12-15] [$250] Edit comment - Message being edited is cancelled on pressing any key - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Send a message
3. Edit the message
4. Clear the message in the edit box
5. Wait a few seconds
6. Start writing some

[2021-11-01 22:09] luacmartins commented on #6116
Thanks for confirming @shawnborton! I'm coming across an edge case when:

1. The dropdown is too close to the bottom of the screen
![Screen Shot 2021-11-01 at 3 58 25 PM](https://user-images.githubusercontent.com/22219519/139747974-22d06c5c-7f72-48a2-a65c-2253ab2cfeca.png)

2. The input is inside a nested form.
![Screen Shot 2021-11-01 at 3 57 56 PM](https://user-images.githubusercontent.com/22219

[2021-11-01 22:20] roryabraham commented on #5984
How would people feel about standardizing on "No props destructuring"? So the rule would look like this:

[code]

In my opinion, this make components a bit more readable because it's always easy to tell if a variable comes from props or something else. This example doesn't illustrate it well, but when we have larger components with a mix of derived variables and variables coming directly from prop

[2021-11-01 22:25] isagoico opened #6157 "[HOLD for payment 2021-12-15] [$250] Attachment - If file name is too long, attachment preview is overflowing the modal - Reported by: @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Attach this file to a conversation [loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo

[2021-11-01 22:26] isagoico commented on #5755
Created an issue for [this](https://github.com/Expensify/App/issues/5755#issuecomment-952596221) here

https://github.com/Expensify/App/issues/6157

[2021-11-01 22:26] Luke9389 commented on #5984
I'd support "No props destructuring". Readability > saving a few keystrokes.

[2021-11-01 22:34] marcaaron commented on #6150
So, I don't see any pull requests that may have introduced this.
I'll see if I can get a local repro on dev for this and leave notes.

[2021-11-01 22:40] Luke9389 commented on #5870
Ok, let's give this a try @CamilaRivera. You've got the 🟢 green light 🟢 to go ahead and make a PR.

[2021-11-01 22:46] isagoico opened #6158 "[HOLD for payment 2021-11-22] Keyboard is not dismissed if the user navigates to LHN when editing a comment - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Edit a message in any chat on mobile.
2. Click the edit box to show the keyboard.
3. From the UI back arrow, go back to LHN.
4. Keyboard is not

[2021-11-01 22:57] marcaaron commented on #6150
Ok so I can't test this on iOS simulator as I'm unable to send comments at all...

[2021-11-01 23:03] sidferreira commented on #6096
### Proposal

After investigation, it was noticed that if the message in the preview had an emoji (for example the default message for Concierge), the message would have problems with alignment.

The easiest solution I could find is adding to `optionAlternateTextCompact` (a style used only in focus mode only on that component) the following snippet:
[code]

This change would make the text having t

[2021-11-01 23:03] kavimuru opened #6159 "IOU - Double quote displays as HTML code in IOU request"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open https://staging.new.expensify.com/
2. Login with existing account
3. Tap + button
4. Select Split Bills
5. Select contact with double-quote

[2021-11-01 23:05] shawnborton commented on #6096
I'm not sure if we want to make any changes to non-focus mode though - we want the combined height of the sender + message preview to be 40px so it matches the avatar to the left. We get that by having the sender at 20px, plus a 4px margin, plus a message preview at 16px.

[2021-11-01 23:06] marcaaron commented on #6127
I think something must have borked native my money is on this PR which updated `react-navigation` https://github.com/Expensify/App/pull/5745

These two issues seem related
https://github.com/Expensify/App/issues/6147
https://github.com/Expensify/App/issues/6148

I was unable to reproduce this https://github.com/Expensify/App/issues/6150 on iOS. But noticed the screen becomes entirely unresponsive

[2021-11-01 23:06] marcaaron commented on #6150
Unable to reproduce this on iOS, but that issue above is concerning.

[2021-11-01 23:07] sidferreira commented on #6096
@shawnborton that change will affect only the focus mode on ios

[2021-11-01 23:08] kavimuru opened #6160 "Android - Chat - Unable to select searched user from the results"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Click on global +
4. Select A New Chat
5. Search user in Search box
6. After user is visible - tap o

[2021-11-01 23:08] OSBotify commented on #6160
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-01 23:12] kavimuru opened #6164 "Android - Chat - Uploading time is longer than normal for file more than 10mb"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any conversation
3. Select any user
4. Click on plus button and Select from Glary
5. Select mp4 file mote than 10 M

[2021-11-01 23:12] kadiealexander commented on #5620
Updated job price to $2000.

[2021-11-01 23:16] shawnborton commented on #6116
Displaying above is interesting - how might that look on mobile? Are we able to get the text input to be focused and scrolled directly above the keyboard so that there is ample room for the results?

[2021-11-01 23:21] isagoico commented on #6127
We're currently facing several issues on mobile which are blocking part of our regression testing:
- https://github.com/Expensify/App/issues/6147
- https://github.com/Expensify/App/issues/6148
- https://github.com/Expensify/App/issues/6150
- https://github.com/Expensify/App/issues/6160

[2021-11-01 23:29] TomatoToaster commented on #6077
Ah ok I see it's just that the keyboard is taking up the view vs. the keyboard overlaying on top of the view. hmm I don't think this is that big of an issue even though it is a slight inconsitency between mWeb and mobile. What do you think @mallenexpensify, should I close this?

If this is worth fixing I'll apply the external label, I'm not sure how to solve this one.

[2021-11-01 23:34] TomatoToaster commented on #6155
Good find @parasharrajat, this is a weird bug. Dropping the External label on this one, and just letting you know in case you had a fix in mind.

[2021-11-01 23:43] marcaaron commented on #6127
Reverting #5745 to unblock QA

[2021-11-01 23:49] aldo-expensify commented on #6075
Hey @mvtglobally , can you help me reproduce this bug? Does the step (1) include clicking the "Send" button? When you say "Select image that was uploaded", are you referring to clicking on it's thumbnail on the chat?

[2021-11-01 23:56] roryabraham commented on #5984
So actually, our [style guide](https://github.com/Expensify/App/blob/main/STYLE.md#destructuring) already states "Use parameter destructuring for stateless function components when there are no additional variable declarations in the render.", which should eliminate the problem I mentioned earlier, but is more nuanced to enforce. I still might prefer to just blanket ban props destructuring because

[2021-11-02 00:02] marcaaron commented on #5619
Just going to quickly restate something I said earlier:

I'm curious how the store solution addresses this? Will we be calling `getAuthToken()` inside the `Network` code?

I am admittedly getting distracted by the suggestion to create such a store for all the various Onyx keys and then export getters. I'd prefer to discuss the problem [here](https://github.com/Expensify/App/issues/6151) a bit more

[2021-11-02 00:17] luacmartins commented on #6116
Hmm my suggestion might have issues with shorter forms. If the form is short there isn't enough room for the dropdown above the input and we can't scroll, so the view is either cut at the bottom or at the top. Here's an example:
![Screen Shot 2021-11-01 at 6 15 08 PM](https://user-images.githubusercontent.com/22219519/139759164-34faf9eb-6e77-4b3e-ae4b-99844892f0ef.png)
![Screen Shot 2021-11-01 at

[2021-11-02 00:19] parasharrajat commented on #4515
@mallenexpensify Yes, I think I should be.

[2021-11-02 00:19] michelle-thompson commented on #5239
Here's the file, apologies for the delay:
![chronos-avatar](https://user-images.githubusercontent.com/43361905/139759411-fa818c95-7eab-4d51-948e-843eef0b06d5.png)

[2021-11-02 00:20] mvtglobally commented on #4867
Issue not reproducible during KI retests. (Second Week)

[2021-11-02 00:21] mvtglobally commented on #5011
Issue reproducible during KI retests.

[2021-11-02 00:22] mvtglobally commented on #4994
Issue not reproducible during KI retests. (Second Week)

[2021-11-02 00:23] mvtglobally commented on #4993
Issue not reproducible during KI retests. (Third week)

[2021-11-02 00:26] mvtglobally commented on #4995
Issue reproducible during KI retests.

[2021-11-02 00:27] mvtglobally commented on #5102
Issue reproducible during KI retests. (First Week)

[2021-11-02 00:29] mvtglobally commented on #5286
Issue reproducible during KI retests.

[2021-11-02 00:30] mvtglobally commented on #5423
Issue reproducible during KI retests

[2021-11-02 00:31] mvtglobally commented on #5705
Issue reproducible during KI retests

[2021-11-02 00:32] mvtglobally commented on #5667
Issue reproducible during KI retests

[2021-11-02 00:32] mvtglobally commented on #5723
Issue not reproducible during KI retests. (Second Week)

[2021-11-02 00:33] mvtglobally commented on #5722
Issue reproducible during KI retests.

[2021-11-02 00:34] mvtglobally commented on #5841
Issue reproducible during KI retests.

[2021-11-02 00:34] parasharrajat commented on #6159
### Proposal
There are two ways we can do this.
1. Either backend unescape the string before sending it to frontend.
2. We un-escape it before showing it on UI. This can be done  in https://github.com/Expensify/App/blob/6299f48f645135224ba9af97d410bce6a17af156/src/components/ReportActionItem/IOUQuote.js#L38

like
[code]

[2021-11-02 00:35] mvtglobally commented on #5920
Issue not reproducible during KI retests. (First week)

[2021-11-02 00:36] mvtglobally commented on #5942
Issue not reproducible during KI retests. (First week)

[2021-11-02 00:38] mvtglobally commented on #6120
Issue reproducible during KI retests.

[2021-11-02 00:40] mvtglobally commented on #6121
Issue reproducible during KI retests.

[2021-11-02 00:44] parasharrajat commented on #5125
Started to work in the PR and should be ready soon.

[2021-11-02 00:45] sidferreira commented on #5620
Still having this issue?

[2021-11-02 00:45] mvtglobally commented on #6121
@Jag96 I believe the issue minor. When you click on the popup it sort of slides overlapping with the content. We haven't seen it with other popups, so team decided to log it. See below 2 images
![Screen Shot 2021-10-29 at 9 11 38 AM](https://user-images.githubusercontent.com/43995119/139768500-d614009e-b3dc-402d-b1ac-941093c8ab53.png)

![Screen Shot 2021-11-01 at 8 43 57 PM](https://user-images.gi

[2021-11-02 00:47] mvtglobally commented on #6122
Issue reproducible during KI retests.

[2021-11-02 00:48] mvtglobally commented on #6122
@danieldoglas The issue is only happening with this account
Staging credentials. You should be able to login
Email used : kbecciv+1110@gmail.com
Password : Feya86Katya

[2021-11-02 00:49] parasharrajat commented on #4911
Oops. yeah, it sounds complicated but I will explain why it is needed or why do I have to come up with such a complex approach?

I was basically open to discussion on the proposal. It is not like that's a final one.

[2021-11-02 00:49] mvtglobally commented on #6075
@aldo-expensify Yes. You need to send the image to another user first.

[2021-11-02 00:50] mvtglobally commented on #6075
Issue reproducible during KI retests.

[2021-11-02 00:51] mvtglobally commented on #6077
Issue reproducible during KI retests.

[2021-11-02 00:52] mvtglobally commented on #2499
Issue reproducible during KI retests.

[2021-11-02 00:53] mvtglobally commented on #5291
Issue reproducible during KI retests.

[2021-11-02 00:55] mvtglobally commented on #5712
Issue not reproducible during KI retests. (Second Week)

[2021-11-02 00:55] mvtglobally commented on #5869
Issue reproducible during KI retests.

[2021-11-02 00:56] mvtglobally commented on #4754
Issue reproducible during KI retests.

[2021-11-02 00:56] mvtglobally commented on #5159
Issue reproducible during KI retests.

[2021-11-02 00:58] mvtglobally commented on #6070
Issue reproducible during KI retests.

[2021-11-02 00:59] mvtglobally commented on #6082
Issue reproducible during KI retests.

[2021-11-02 00:59] mvtglobally commented on #5971
Issue not reproducible during KI retests. (Second Week)

[2021-11-02 01:03] pecanoro commented on #5723
Since it's not reproducible, I am going to close

[2021-11-02 01:03] #5723 closed

[2021-11-02 01:13] kadiealexander commented on #5620
@thienlnam please see above :)

[2021-11-02 01:23] parasharrajat commented on #6158
There are two causes for this issue.
1. When we load a new report and it has an old edited message. then they will be autofocused and the keyboard will open.
2. When we edit a message on any report and use the UI back button to go back. The keyboard does not close.

### Proposal
1. Point 1 will be solved in https://github.com/Expensify/App/pull/6138.
2. For point 2, we can use `Keyboard.dismiss` t