[2022-04-08 23:25] chiragsalian commented on #8570
Hmm okay i see reproduce the issue on dev and staging.

From a quick bisect and i found the issue was from this commit - 01fa79541b6b07b940e1edef22f07fe100935b1f, which is in this GH issue - https://github.com/Expensify/App/pull/7807. I'm not exactly sure how its causing the problem just yet. Investigating.

[2022-04-08 23:41] sakluger commented on #8519
Sounds good, I'm going to unassign so you can move it along.

[2022-04-09 01:35] kbecciv opened #8573 "[$500] New Group - Default icon displayed after creating a Group Chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with expensifail account
3. Tap on Fub menu - Select New Group
4. Select a few users and tap Cr

[2022-04-09 01:42] kbecciv opened #8574 "[$250] iOS - Uploading PDF in HT account leads to "Attachment Error""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open New Expensify beta app
2. Sign into a high traffic account
3. Navigate to any chat
4. Tap on "Plus" icon
5. Tap on "Add attachment"
6. Selec

[2022-04-09 04:29] mvtglobally commented on #8461
You need to have 5 Workspaces to be able to reproduce it. Issue reproduced  for build 1.1.54.0![image](https://user-images.githubusercontent.com/43995119/162556274-1eb76c3d-c379-4930-9498-63cd81e90aab.jpeg)

[2022-04-09 07:14] brianmuks commented on #8361
Thanks for the feedback. My proposal at the moment shows blank but what I understand is that you want the last deleted message to still show on the LHN . Is that right ?

[2022-04-09 08:13] metehanozyurt commented on #8471
Thank you @parasharrajat for checking my proposal. For step 2 i will much great suggestion🙏 or will check really need that timeout and searching workarounds.
Step 3 needed because when i test on mWeb  I noticed that fill the picture in the view. so I had to check if the photo is smaller than the area and center it.

for web version we dont need correction image size actually step 1 can keep functi

[2022-04-09 08:34] parasharrajat commented on #8471
I think contain takes the image dimensions by default. How is `center` different from it?

Timeout is considered a workaround. And I don't see the need for it.

I think your step 1 is directly affected if we don't we step 2. But I didn't understand your meaning here. Could you please explain it?

Note: There is a lot going on in the imageView component. It also expects the user to zoom the image.

[2022-04-09 08:46] parasharrajat commented on #7549
Oh, I didn't link the PR :scream:. That PR is discontinued due to unexpected circumstances and the issue was marked on HOLD for offline design. https://github.com/Expensify/App/issues/6676.

So yeah, please create a job for this.

@neil-marcellini I was referring to this https://github.com/Expensify/App/blob/173d234f0fb4eaca03c315a03237836d9d5ebad8/src/libs/actions/Policy.js#L338.

After use regai

[2022-04-09 08:49] parasharrajat commented on #8031
I will update the PR by monday.

[2022-04-09 10:41] rushatgabhane commented on #8359
I can't repro this bug.

And we're translating the pronouns here.

https://github.com/Expensify/App/blob/43910fe5c20584b05fe56013005e8e59ba93e8a6/src/components/ReportWelcomeText.js#L67

[2022-04-09 10:44] eVoloshchak commented on #7524
I've updated my original comment with videos for each audited form

[2022-04-09 10:47] rushatgabhane commented on #8469
@Beamanator we've reached a resolution - move forward with this issue using the regular split text approach.
[code]

Then go back and refactor once we settle on a better approach

[2022-04-09 10:48] rushatgabhane commented on #8469
🎀 👀 🎀 C+ reviewed

I recommend @Puneet-here's [proposal](https://github.com/Expensify/App/issues/8469#issuecomment-1089267174).

[2022-04-09 11:11] SumitDiyora opened #8575 "[High]: Chrome+JAWS: Screen reader: Role is not defined for controls."
## Action Performed:
1. Using Chrome+JAWS, open URL: staging.new.expensify.com
2. Navigate to Settings > Payments and activate the 'PayPal.me ...' control.
3. Navigate to the 'Ionatan Wiznia Fresco ...', 'Make default payment method', 'PayPal.me ...' and 'Delete' controls using the screen reader.
4. Observe the screen reader announcement.

## Expected Result:
When a role is defined appropriately f

[2022-04-09 11:21] SumitDiyora opened #8577 "[Medium]: Color Contrast: Insufficient color contrast for 'Delete' control."
## Action Performed:
1. Using Chrome, open URL: staging.new.expensify.com
2. Navigate to Settings > Payments and activate the 'PayPal.me ...' control.
3. Navigate to the 'Delete' control using the Tab key.
4. Observe that the analyser reports that the contrast ratio is not sufficient.

## Expected Result:
The "Delete" text control should have a contrast ratio against the control background of 4.5:

[2022-04-09 11:37] SumitDiyora opened #8578 "[Medium] Chrome+JAWS: Form fields are not associated with their visible label."
## Action Performed:
1. Using Chrome+JAWS, open URL: staging.new.expensify.com
2. Navigate to Settings > Payments > Add payment method > Debit card.
3. Navigate to the "Name on card", "Debit card number", "Expiration date", etc. form fields using the screen reader.
4. Observe the screen reader announcement.

## Expected Result:
The visible label of a form field is programmatically associated with

[2022-04-09 11:49] metehanozyurt commented on #8471
First time I test I thought step 1 is fixing problem. But i keep testing repeatedly then realize that not enough.Because functions call order can be change sometimes like this video. Thats why i try to timeout but much wise choice i will think.

https://user-images.githubusercontent.com/6093207/162569484-d35970dd-e961-4acf-b215-40ae5b329fe4.mov

![WhatsApp Image 2022-04-09 at 14 41 10](https://use

[2022-04-09 12:05] SumitDiyora opened #8579 "[Medium] Chrome+JAWS: Many Pages: Error message is not announced by the screen reader."
## Action Performed:
1. Using Chrome+JAWS, open URL: staging.new.expensify.com
2. Navigate to Settings > Payments > Add payment method > Debit card.
3. Navigate to the "Save" button and activate it with empty form fields.
4. Observe whether the screen reader is announcing the error messages or not.

## Expected Result:
When focus lands on all text boxes the screen reader should read the error mess

[2022-04-09 12:18] SumitDiyora opened #8580 "[Medium] Chrome: Color Contrast: Insufficient color contrast for error messages text."
## Action Performed:
1. Using Chrome+JAWS, open URL: staging.new.expensify.com
2. Navigate to Settings > Payments > Add payment method > Debit card.
3. Navigate to the "Save" button and activate it with empty form fields.
4. Observe that the analyser reports that the contrast ratio is not sufficient for error messages.

## Expected Result:
The "Please enter a valid name", "Please enter a valid deb

[2022-04-09 13:01] SumitDiyora commented on #8074
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - https://github.com/Expensify/App/pull/7977, https://github.com/Expensify/App/pull/7984, https://github.com/Expensify/App/pull/8068, https://github.com/Expensify/App/pull/8104, https://github.com/Expensify/App/pull/8105, https://github.com/Expensif

[2022-04-09 18:03] Santhosh-Sellavel commented on #8361
No @brianmuks It should be blank.

[2022-04-09 18:50] Santhosh-Sellavel commented on #8361
Will this https://github.com/Expensify/App/issues/8361#issuecomment-1086727568 show a blank on LHN? @brianmuks

[2022-04-09 18:55] Santhosh-Sellavel commented on #8118
@trjExpensify this is deployed to production 10 days ago.

[2022-04-09 19:02] Santhosh-Sellavel commented on #8006
@michaelhaxhiu I can see the issue fix is working fine in the current production version without any regression. We are good to go here, if needed please check this internally and update us on payment status here thanks!

[2022-04-09 19:09] Santhosh-Sellavel commented on #8110
Applied for C+ @kevinksullivan

[2022-04-09 19:21] Santhosh-Sellavel commented on #8357
Thanks, @danieldoglas.

But I am confused here, you have agreed with  @tjferriss [solution](https://github.com/Expensify/App/issues/8357#issuecomment-1083753541) in https://github.com/Expensify/App/issues/8357#issuecomment-1084935322
and the above [comment](https://github.com/Expensify/App/issues/8357#issuecomment-1092194894) adds the negates it.

Is [this](https://github.com/Expensify/App/issues/

[2022-04-09 19:22] Santhosh-Sellavel commented on #8133
@metehanozyurt Any update?

[2022-04-10 02:12] mateusbra commented on #7909
### PROPOSAL
If we want to change the behavior to navigate to concierge's request a call screen we need to change how concierge's backend send messages:

We need to change the old links to new ones instead:
e.g.:
At the moment we are sending this message as "request a call message":
You can now track, approve, and pay bills directly in Expensify! Just add your company email address to your account

[2022-04-10 05:17] brianmuks commented on #8361
Yes it will show blank.

[2022-04-10 05:28] brianmuks commented on #8361
Then this proposal aligns well with what you are looking for https://github.com/Expensify/App/issues/8361#issuecomment-1086727568

[2022-04-10 05:29] brianmuks commented on #8361
I am catching up here. What does OP stand for ? I want to sound like an engineer too 😄

[2022-04-10 05:35] metehanozyurt commented on #8133
Thank you @Santhosh-Sellavel , @roryabraham. Based on your valuable comments, if you allow, I am thinking of making a change as follows.

I will do my PR within 1 hour.

[code]

[2022-04-10 06:24] Santhosh-Sellavel commented on #8133
Pass `fadeOut`  for `animationOut` @metehanozyurt, thanks!

[2022-04-10 07:43] techievivek commented on #8531
I looked at it but the button doesn't respond to clicks when the request is being made and is waiting for the response, so as per the design doc we are in a good state and it shouldn't be a problem. But obviously, we can always prevent the subsequent calls from happening if there are no changes made. Closing this for now because doesn't seem like a big problem. Thanks for highlighting it.

[2022-04-10 07:43] #8531 closed

[2022-04-10 08:21] metehanozyurt commented on #8309
## **Proposal**

### Cause
It checks the number and then switches it to the scientific number. Therefore, since the previous state and the current state are scientific numbers, it does not perceive the change.

### Solution
If we parse the number first, we can do the conversion to scientific digits before checking.

we should change this line
https://github.com/Expensify/App/blob/afd220110a33886b9

[2022-04-10 10:27] devtayyab commented on #8520
Is it essential  to connect bank account for workspace chatting?

[2022-04-10 14:55] dharmik commented on #8329
@rushatgabhane Okay.

PR raised for issue [8289](https://github.com/Expensify/App/issues/8289) ==> PR link [8582](https://github.com/Expensify/App/pull/8582)

[2022-04-10 15:02] mollfpr commented on #8307
@Santhosh-Sellavel

1. I don't have any GH issue references about this https://necolas.github.io/react-native-web/docs/animated/

2. The root of cause is because `Animated.timing(this.opacity, {
         toValue: 1,
         duration: 50,
         useNativeDriver: true,
     }).start();` animation is stop so make the `this.opacity` broken.
https://github.com/Expensify/App/blob/43910fe5c20584b05fe5

[2022-04-10 15:19] Puneet-here commented on #8537
Hi, I have made the PR.
Thanks.

[2022-04-10 15:49] dharmik commented on #8440
@parasharrajat I confirmed, while we record screen from iPhone's record tool, keyboard is not visible in video.

CC @kavimuru

[2022-04-10 15:50] Julesssss commented on #7737
Not overdue. Though we should probably double again @MitchExpensify

[2022-04-10 22:33] rushatgabhane commented on #8034
@roryabraham my issue with `isIOUAttachedToExistingChatReport` is that the variable name implies that it should be `true` for 1:1 chats. But it's actually `false`, which could lead to confusion.

How about `isSplitInitiatedFromGroupOrRoom`?

[2022-04-11 00:19] jliexpensify commented on #7964
Asking in Slack here: https://expensify.slack.com/archives/C01SKUP7QR0/p1649636370757839

Hoping to get an answer in the next 24 hours so I can issue payment.

[2022-04-11 01:01] jliexpensify commented on #7424
I'll be OOO next week, but hoping that @kadiealexander can help out with the $250 payment.

[2022-04-11 03:42] sobitneupane commented on #8404
Applied for the job.

[2022-04-11 04:48] MonilBhavsar commented on #8455
Confirmed the issue, Adeel's second proposal to return from submit() looks good to me

[2022-04-11 04:55] techievivek commented on #8325
Any update on this as to what we will be moving forward with? So that I can look into it.

[2022-04-11 05:04] mvtglobally opened #8586 "You cannot start a Group DM with Concierge or concierge@expensify.com"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Start a Group DM, try to type Concierge or [concierge@expensify.com](mailto:concierge@expensify.com)

## Expected Result:
Like starting a chat with

[2022-04-11 05:06] jliexpensify commented on #7596
Not overdue. @mdneyazahmad how are you going here? :)

[2022-04-11 05:06] mvtglobally opened #8587 "[HOLD][Offline] Not receiving incoming messages after restarting modem/router"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. NewDot desktop is open
2. Close laptop lid
3. Turn off circuit breaker with modem/router on it
4. Turn back on
5. Open computer and send/receive

[2022-04-11 05:08] jliexpensify commented on #7307
How are we going here @parasharrajat and @mananjadhav ? :)

[2022-04-11 05:12] mvtglobally opened #8588 "Feature request: Add a download button to the context menu for attachments."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
It’s hard to locate the download button, and it’s a two step process (open attachment -> click download).

## Solution:
Add a download attachment button to t

[2022-04-11 05:14] mananjadhav commented on #7307
Should get closed today. I have resumed and checking the bug reported by Rajat.

[2022-04-11 05:24] mvtglobally opened #8589 "NewDot on desktop will not load after the site went down"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Expensify servers go down
2. I refresh the app and get sent to login
3. Expensify servers come back online
4. I log in
5. I get this screen and r

[2022-04-11 05:34] MariaHCD commented on #8425
The fix has been deployed to production: https://github.com/Expensify/Web-Expensify/pull/33458#issuecomment-1089458573

[2022-04-11 05:34] #8425 closed

[2022-04-11 05:35] mvtglobally opened #8590 "[HOLD for payment 2022-06-16] [HOLD for payment 2022-06-15] [$500] Uploading an image causes the thumbnail to resize 3 times"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. Upload a larger file to share

## Expected Result:
Thumbnail should load once uploaded, or if it's a large file it should displa

[2022-04-11 05:42] mvtglobally commented on #8566
Regression completed
Blocker - https://github.com/Expensify/App/issues/8570

Issues logged
https://github.com/Expensify/App/issues/8497
https://github.com/Expensify/App/issues/8501
https://github.com/Expensify/App/issues/8519
https://github.com/Expensify/App/issues/8520
https://github.com/Expensify/App/issues/8534
https://github.com/Expensify/App/issues/8545
https://github.com/Expensify/App/issues

[2022-04-11 08:11] dylanexpensify commented on #8033
You got it tom!

[2022-04-11 08:50] Julesssss commented on #8566
The single deploy blocker is being discussed [here](https://github.com/Expensify/App/pull/7807#issuecomment-1093783008).

[2022-04-11 08:55] Julesssss commented on #8359
I'm able to see the bug on staging:

![Screenshot 2022-04-11 at 09 52 56](https://user-images.githubusercontent.com/10736861/162701147-1f42429d-b20a-4e06-8796-55a9b9d0f717.png)

[2022-04-11 09:21] parasharrajat commented on #8440
Ok. Thanks, @dharmik. I am not sure which of your suggestions should we go with. This totally depends on the design of the form. There is nothing good or bad here. @NikkiWines What do you think?

[2022-04-11 09:29] Julesssss commented on #8572
Thanks for the proposals, but I'm going to close this as this issue a a duplicate of [this issue](https://github.com/Expensify/App/issues/8495)

[2022-04-11 09:33] parasharrajat commented on #8220
I am not sure of how the results are sorted under the recent and contacts section on the various pages of the app.

Can someone confirm the sort order of the following pages? cc: @Expensify/engineering
1. New Chat. (recent and Contacts)
2. New Group. (recent and Contacts)
3. Search Page.
4. Workspace Invite Member page.
5. Request Money Participant page.
6. Send Money Participant page.

[2022-04-11 09:48] parasharrajat commented on #7081
Any update here?

[2022-04-11 09:54] thesahindia commented on #8495
Hi @luacmartins, is this eligible for the reporting bonus as it was reported [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1648323880003309)

[2022-04-11 10:02] adeel0202 commented on #8244
We can remove the `maxParticipantsReached` from `line 225
`https://github.com/Expensify/App/blob/43910fe5c20584b05fe56013005e8e59ba93e8a6/src/pages/NewChatPage.js#L221-L226

And add the message text inside the the FixedFooter component

[2022-04-11 12:08] rushatgabhane commented on #8359
Oh I see, it's reproducible for accounts that have set their pronouns [before ~7 months](https://github.com/Expensify/App/commit/1d3155760a409422f9f5f899eb570071a79265f9). Eg: Rajat's account and Rory's account

<img width="390" alt="image" src="https://user-images.githubusercontent.com/29673073/162715903-af26009a-b4ef-4e19-9178-85c5ea2fb390.png">

<img width="403" alt="image" src="https://user-im

[2022-04-11 12:08] MariaHCD commented on #8586
I think the issue lies [here](https://github.com/Expensify/App/blob/main/src/pages/NewChatPage.js#L63-L67) when setting the `excludedGroupEmails`, it looks like [_.without](https://lodash.com/docs/4.17.15#without) does not accept an array of values to exclude but rather accepts the values as multiple arguments.

Just to clarify, we definitely want to exclude `CONST.EMAIL.RECEIPTS` & `CONST.EMAIL.I

[2022-04-11 12:39] twisterdotcom commented on #8586
I agree we shouldn't include receipts. I'm not sure what integration testing creds does though or how that would adversely affect us if they did start a chat with it.

[2022-04-11 12:57] Julesssss commented on #8359
Hmm, good spot @rushatgabhane.

If the fix is simply to change the setting, perhaps we just do nothing and let people fix it on their own?

[2022-04-11 12:58] aneequeahmad commented on #8158
### PROPOSALS

**Problem:**

After debugging I found that the issue on the mobile web is that when the cursor comes it already has the calculated width of text from onlayout event and it doesn't re-render again and width of textinput is set that is less than the actual width.

Solution no 1: (personally I'm not in favor of this)

For mobile web increase the width of layout text (e.nativeEvent.layo

[2022-04-11 12:58] iwiznia commented on #7909
hmmm I think that same message needs to work in expensify.com (@mallenexpensify can you confirm?), so we can't really change the URL.

[2022-04-11 13:00] eVoloshchak commented on #8158
Root cause of the problem: when we focus TextInput that has text in it, text gets pushed a couple pixels to the left to accomodate for the cursor, since the width is already calculated.

We call focus in [componentDidMount](https://github.com/Expensify/App/blob/43910fe5c20584b05fe56013005e8e59ba93e8a6/src/pages/iou/steps/IOUAmountPage.js#L85), i'm guessing to accomodate for external keyboards. How

[2022-04-11 13:02] NicMendonca commented on #8200
doubled price: https://www.upwork.com/jobs/~016a75249a17d3022d

[2022-04-11 13:09] iwiznia commented on #8359
Wait wait, if the bug is fixed and this is only happening to old accounts, then I agree we should do nothing and give people the workaround @Julesssss menitoned

[2022-04-11 13:09] #8359 closed

[2022-04-11 13:13] kbecciv opened #8592 "[HOLD for payment 2022-12-20] [$8000] iOS Safari - Blue text selection persists in the compose box even after message is sent @metehanozyurt"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
In iOS Settings, Go to General > Keyboard and enable autocorrection

1. Go to https://new.expensify.com on Safari iOS
2. Log in with any account and

[2022-04-11 13:19] michaelhaxhiu commented on #8359
wow I totally meant to double another GH and did this one - sorry! closing job

[2022-04-11 14:04] kbecciv opened #8593 "[$500] Andriod/IOS - Can not see preview of password protected PDF file @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Open the app on Android.
 2. Open any chat.
 3. Press on plus button and select add attachment > select Document.
 4. Choose any password protec

[2022-04-11 14:19] kbecciv opened #8594 "[HOLD] [$250] Web - Attachment- Send button located through the entire Expensify app, covering LHN page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-condition: have you PDF file set with protected password

1. Go to https://staging.new.expensify.com
2. Log in with any account  and select any

[2022-04-11 14:30] kbecciv opened #8595 "[HOLD for payment 2022-09-15] [$500] Feature Request - Attachment- Unable to cancel the requested password for PDF file"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to https://staging.new.expensify.com/
2. Log in with any account and select any chat
3. Click on plus button
4. Select add attachment > selec

[2022-04-11 14:31] michaelhaxhiu commented on #7916
good que, let's wait on @thienlnam or @parasharrajat to respond to that one

[2022-04-11 14:49] kbecciv opened #8597 "[Hold for #8595] [$500] mweb/safari - Attachment- Some part of the page is visible from previous action when opened the protected PDF file"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-contrition: Send protected PDF file to user B

1. Go to https://staging.new.expensify.com
2. Log in with user B
3. Open protected PDF file - put

[2022-04-11 14:51] Santhosh-Sellavel commented on #8034
@rushatgabhane
It should be `false` only when IOU flow is initiated from the FAB ➕  button, have you checked how it becomes false?

[2022-04-11 14:52] aldo-expensify commented on #8595
Added password-protected pdf file to the issue description. Note that his problem also is there as soon as you are uploading the file because we have a preview at that stage too.

[2022-04-11 15:00] chiragsalian commented on #8424
@madmax330 discussed this in slack in a few channels. Im not sure where we stood after that. @madmax330, any thoughts? Would you like to continue this, tweak the feature or close this for now?

[2022-04-11 15:06] jboniface commented on #7259
looks like we're still on the high level for the doc

[2022-04-11 15:07] #7517 closed

[2022-04-11 15:12] aldo-expensify commented on #8595
I noticed that the preview for password-protected pdf files doesn't work the same in the desktop, it just shows "Failed to load PDF file". We should have consistent behaviour.

![image](https://user-images.githubusercontent.com/87341702/162770601-6dddca16-4a6f-4420-aad5-c69ffa4bf5b1.png)

[2022-04-11 15:17] kbecciv commented on #8595
@aldo-expensify We logged a separate issue for this https://github.com/Expensify/App/issues/8593

[2022-04-11 15:17] Julesssss commented on #8566
Marking the [deploy-blocker](https://github.com/Expensify/App/pull/8596) as resolved, now that the fix is merged (and imminently going to be cherry-picked)

[2022-04-11 15:21] Julesssss commented on #8570
@kbecciv please retest on staging, as we just merged and cherry-picked a fix 🤞

[2022-04-11 15:23] kbecciv commented on #8570
@Julesssss Thank you, we will retest shortly.

[2022-04-11 15:24] rushatgabhane commented on #7524
Verification by me

- [ ] [AddPlaidBankAccount.js](https://github.com/Expensify/App/blob/main/src/components/AddPlaidBankAccount.js)
- [ ]  [ACHContractStep.js](https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/ACHContractStep.js)
- [ ]  [BankAccountStep.js](https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/BankAccountStep.js)
- [ ]  [CompanyStep.js]

[2022-04-11 15:30] OSBotify commented on #8566
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8596) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.54-1` :rocket:

[2022-04-11 15:36] madmax330 commented on #8424
I think we can close this for now, thanks.

Thread in question: https://expensify.slack.com/archives/C03U7DCU4/p1649411399622219

[2022-04-11 15:36] #8424 closed

[2022-04-11 15:37] Santhosh-Sellavel commented on #8520
I assume it's not necessary

[2022-04-11 15:39] stitesExpensify commented on #7420
Looking into this today

[2022-04-11 16:11] Santhosh-Sellavel commented on #8307
Thanks for your inputs @mollfpr.

@stitesExpensify
I am confused about when the profile photo is being uploaded, we are showing the profile is updated successfully message but why?

I think the best way to address this issue is to make sure, we should show the loading symbol on the save button too until the profile picture is uploaded successfully. Then only we should show the profile updated succ

[2022-04-11 16:13] rushatgabhane commented on #7524
@deetergp audit is complete. All yours!

[2022-04-11 16:15] Santhosh-Sellavel commented on #8520
@thesahindia Do you have any other archived chats? If then you can make some code tweaks to reproduce this issue.

[2022-04-11 16:20] Santhosh-Sellavel commented on #7942
@roryabraham Can we double this one it's been 10days?

cc: @adelekennedy

[2022-04-11 16:24] parasharrajat commented on #7916
I have the same error on dev.

[2022-04-11 16:28] Santhosh-Sellavel commented on #8361
@brianmuks

Your proposal is not clear, I am not able to follow your **Solution** can brief it more clearly, and instead of the diff(which is confusing) can you send a snippet of the modified block.

[2022-04-11 16:29] Santhosh-Sellavel commented on #8361
OP means Output

[2022-04-11 16:30] eVoloshchak commented on #7524
Yeah, I too was thinking about max length interfering with `users should always be able to copy/paste whatever characters they want into fields` requirement, but figured I should leave the max length as it is.

I'll remove max length, if that's the requirement, no problem :)

I'll prepare a list of errors I need English and Spanish translations for (something like "SSN/Zip/CVV can't be longer than

[2022-04-11 16:32] Santhosh-Sellavel commented on #7917
@mdneyazahmad Any update?

[2022-04-11 16:33] Santhosh-Sellavel commented on #8152
@thesahindia Any update?

[2022-04-11 16:34] Santhosh-Sellavel commented on #8132
@mvtglobally  Any update on this?

[2022-04-11 16:38] mvtglobally commented on #8566
@Julesssss It doesn't look like the fix has been deployed yet on all platforms, can you confirm we are good to check or wait? https://github.com/Expensify/App/pull/8599

[2022-04-11 16:59] neil-marcellini commented on #8295
The other flow that opens in the same tab, "Setup my company for free", has the same problem, but only if the 'X' button is clicked in the upper right, which calls dismissModal.
<img width="390" alt="image" src="https://user-images.githubusercontent.com/26260477/159349621-f1735fbf-034f-497e-8c2c-19317bf1fb9c.png" style="max-width: 100%;">

[2022-04-11 17:09] mollfpr commented on #8134
---

[code]

I totally forgot why I want to take the first blockquote in the first place here 😅. I don't think that we need the above code anymore since we do cleanup for the all tag left.

---

[code]

For this part, I want to replace the closing `blockquote` tag with space.

The reason is that when we send `Report_AddComment` as you see on the `reportComment` there is no breakline (`<br />` ) af

[2022-04-11 17:36] rushatgabhane commented on #7524
Thanks for the quick feedback!

Not yet :) We need some consensus on it first

[2022-04-11 17:44] kbecciv opened #8600 "Chat- 500 Error message for the receipts@expensify.com"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with expensifail account
3. Click on Fub menu - Create New Chat
4. Type receipts@expensify.com

[2022-04-11 17:47] chiragsalian commented on #6877
Discussed with @bondydaa, he mentions the original issue is not valid anymore and said that we moved authToken cookies to secure, http-only cookies so in theory an attacker shouldn't be able to get an authToken via an XSS exploit anymore.

Closing issue for now. Bondy mentioned he'll talk to cole to figure out the next PEN testing and if the results show this feature is still needed then we'll dec

[2022-04-11 17:47] #6877 closed

[2022-04-11 17:52] thienlnam commented on #8361
Let me check with the team to see verify what the expected output should be.  Will post back here when I hear back

[2022-04-11 18:00] francoisl commented on #8534
Reproducible in production.
The API returns a 200 response for the `CreatePolicyRoom` call, so it's most likely a front-end issue interpreting the response.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/2229301/162800939-14102d88-7aaa-4e90-a19d-9498ee2697f9.png">

[2022-04-11 18:03] neil-marcellini opened #8601 "[$500] Closing a modal navigates back to the OldDot transition"
[This PR for Web Expensify](https://github.com/Expensify/Web-Expensify/pull/33520) will fix this issue by opening the transitions in a new tab, but it would be good to fix this issue so that we can transition in the same tab. If this PR has already been merged, undo the changes locally to reproduce this issue.

## Action Performed:

1. Go to OldDot and sign up for a new account with an @gmail.com

[2022-04-11 18:05] Beamanator commented on #8469
@rushatgabhane good point, but it now looks like their PR has been merged 👍

[2022-04-11 18:05] michaelhaxhiu commented on #8006
@Santhosh-Sellavel thanks for the input, makes sense - it was a false alarm on my side!

Both paid!

[2022-04-11 18:05] #8006 closed

[2022-04-11 18:06] Beamanator commented on #8469
Also thanks for noting that this doesn't need to be on hold anymore - and I agree @Puneet-here 's proposals looks solid, hiring! 👍

[2022-04-11 18:07] Puneet-here commented on #8469
Thank you. I will raise a PR soon.

[2022-04-11 18:11] parasharrajat commented on #8134
Was this really an issue. I don't think affects the expected result of this issue in anyway.

So real proposal is to add `.replace(/<\/blockquote>/gm, ' ');  Right?

[2022-04-11 18:16] Santhosh-Sellavel commented on #8361
Okay @thienlnam

[2022-04-11 18:16] parasharrajat commented on #8200
Thanks @Puneet-here for the proposal. I agree that it is always good to look at the history of changes and see what has caused the issue. But Could you please explain to me reverting the new changes to

[code]
is the proper solution. Also, How does this work technically?

[2022-04-11 18:23] luacmartins commented on #8127
PR was merged. Not overdue.

[2022-04-11 18:28] pecanoro commented on #8600
Hmm, I can't reproduce with any other account besides the expensifail domain, I am not able to send a message to `receipts@expensify.com`. Since we get the details from all policies, I think this is due to an old bug before we blocked adding receipts as a policy member. I am going to close because of that!

[2022-04-11 18:28] #8600 closed

[2022-04-11 18:48] mallenexpensify commented on #7424
@kidroca, can you confirm you should be paid for this? (ie. it's not work you were logging hourly)

[2022-04-11 19:16] azimgd commented on #7925
Adjusting `state<{first, last}>` at `VirtualizedList` fixes `maintainVisibleContentPosition` prop on ios.

`state<{first, last}>` aka range, is holding the windowed render limits result.
[code]

once items are prepended into `<FlatList data={items} />` we should simply calculate amount of items prepended and shift range to make `maintainVisibleContentPosition` work.

you can observe it by hardcodi

[2022-04-11 19:17] Tushu17 commented on #8358
@Santhosh-Sellavel We need to Add one more line `onSelectRow={() => this.toggleUser(item.login)}` below line 218.

[2022-04-11 19:25] thesahindia commented on #8152
Made the changes and waiting for the reply on this: https://github.com/Expensify/App/pull/8493#discussion_r843119141

[2022-04-11 19:45] roryabraham commented on #8066
Sending back to the pool.

[2022-04-11 19:48] techievivek commented on #8588
Seems like a good feature to add to New Expensify. We would also need help from the Design team.

[2022-04-11 19:51] roryabraham commented on #8060
This would be a pretty valuable lint rule, I'm going to hold onto it for now.

[2022-04-11 19:51] roryabraham commented on #7352
PR review is still ongoing

[2022-04-11 19:57] mallenexpensify commented on #7909
I'm not able to reproduce on Desktop Version 1.1.54-0 nor iphone v1.1.52-0. For both, when I clicked the "Call me" I got a notification in-app that I had requested a call.  I wasn't redirected to a link/page.  Am I doing something _wrong_?

[2022-04-11 20:02] rushatgabhane commented on #7909
@mallenexpensify try clicking "Request a call"?
![Screenshot_20220412-013022](https://user-images.githubusercontent.com/29673073/162820482-02e7c284-ff15-4dff-b391-1ca57682f380.png)

[2022-04-11 20:10] mallenexpensify commented on #6877
Checking internally about potential compensation for this issue since work/research/reviews have been done
https://expensify.slack.com/archives/C02NK2DQWUX/p1649707752228549

[2022-04-11 20:13] kevinksullivan commented on #8110
Hired @Santhosh-Sellavel .

[2022-04-11 20:29] thienlnam commented on #7916
@mdneyazahmad Feel free to follow these steps to get access to those forms.   https://expensify.slack.com/archives/C01GTK53T8Q/p1646168719721789?thread_ts=1646163503.484199&cid=C01GTK53T8Q

You'll at least be able to audit those forms on staging but you might have to make changes and then have them tested later on staging

[2022-04-11 20:31] roryabraham commented on #8461
surely it has to do with the length of the workspace name and not the number of workspaces?

[2022-04-11 20:37] mollfpr commented on #8134
Actually

Yeah is not, is just something that I think we need to fix.

[2022-04-11 20:42] pecanoro commented on #7918
Not overdue, PR in progress

[2022-04-11 20:48] roryabraham commented on #7942
Yes, I think we can double this

[2022-04-11 20:51] kevinksullivan commented on #8470
@yuwenmemon ideally it would be without needing a refresh, which was the initial design.

[2022-04-11 20:52] thesahindia commented on #8534
I think that the backend must be sending the data in the form of an array earlier which was working just fine -
https://github.com/Expensify/App/blob/0596be5899916b4eae8d723dfc4c07e4fd05ed7e/src/libs/actions/Report.js#L1526

But now, you can see the logged response below (we're getting an object with key : report_SOME-ID)

<img width="401" alt="Screenshot 2022-04-12 at 2 03 21 AM" src="https://use

[2022-04-11 20:55] michaelhaxhiu commented on #8321
On it now.

@adeel0202 can you apply to this job please? https://www.upwork.com/jobs/~01c0b7bd5864dfaa03

[2022-04-11 20:59] kevinksullivan commented on #7706
You are correct @NikkiWines . I updated the steps that you pasted above, but they largely say the same thing:

Let me know if this is still unclear or if I can make it clearer @rushatgabhane @thesahindia

[2022-04-11 20:59] marcaaron commented on #7912
This is in review now.

[2022-04-11 21:05] michaelhaxhiu commented on #8321
Paid

[2022-04-11 21:15] thienlnam commented on #7537
Not overdue, just became ready to work on

[2022-04-11 21:16] osama256 commented on #7541
@pecanoro still working on it.

[2022-04-11 21:21] bondydaa commented on #8573
the expected result and actual result are the same in the OP.

I'm not familiar enough to know which icon should be shown so if we know which icon it is can we make sure it's stated which one? pretty sure this is external.

[2022-04-11 21:26] johnmlee101 commented on #8501
Whoops didn't mean to remove Overdue directly

[2022-04-11 21:27] johnmlee101 commented on #8501
This seems like a minor issue that we could open up to be fixed. The issue is when we switch the local version of the photo to the uploaded version. We should make sure its ready to be fully rendered before removing the thumbnail and spinner.

[2022-04-11 21:31] kevinksullivan commented on #8331
Hi @dennismunene , apologies for the delay, I was on vacation. Just sent you an offer. @parasharrajat invited you to the job for C+ as well.

[2022-04-11 21:34] michaelhaxhiu commented on #8497
Job here posted - https://www.upwork.com/jobs/~015fed310b700cfa88

[2022-04-11 21:37] michaelhaxhiu commented on #8122
Doubling to $2000

[2022-04-11 21:38] kevinksullivan commented on #8274
Sounds good. @Tushu17 I just sent the offer. Please accept and I'll pay for the reporting + fix

[2022-04-11 21:39] michaelhaxhiu commented on #2545
Blocked still

[2022-04-11 21:45] michaelhaxhiu commented on #8590
Job link - https://www.upwork.com/jobs/~01ca59e5811fecf4d5

[2022-04-11 21:45] Beamanator commented on #8507
Not overdue, just waiting to be exported :D

[2022-04-11 21:46] Beamanator commented on #7792
Still in progress

[2022-04-11 21:46] Beamanator commented on #7270
Maybe we can keep on hold 1 more week, if no more complaints let's just close it out

[2022-04-11 21:47] michaelhaxhiu commented on #8590
Cleaned up GH post a little for clarity.

[2022-04-11 21:55] mallenexpensify commented on #8573
@kbecciv, the actual and expected are the same in the OP, can you update please?  I'll post the job after.

[2022-04-11 22:03] megankelso commented on #8588
Perhaps we just add the download button to our current hover design for attachments?

![dnload](https://user-images.githubusercontent.com/49413768/162840798-9ffbc746-cc26-418b-b2be-111c3c51d78b.png)

[2022-04-11 22:03] rushatgabhane commented on #8185
@tomivs please let us know about your progress in fixing this issue.

Do you have any questions, or need any help? Please feel free to ask anything.

[2022-04-11 22:07] mallenexpensify commented on #7909
Thanks @rushatgabhane , I was _doing something wrong_. I am now able to reproduce the issue.

Is there a way to make the link _contextual_?  if it's clicked in-app (NewDot) it mirrors the current functionality of clicking the 📞  and it's clicked anywhere else (ie. email or OldDot) it opens the link?  @AndrewGable what's that service we use which helps us open links in-app?

[2022-04-11 22:14] thesahindia commented on #8501
I think this will be fixed here https://github.com/Expensify/App/issues/8590

[2022-04-11 22:14] rushatgabhane commented on #8131
Hmmm, do we really need a scrollbar?

[2022-04-11 22:15] kbecciv commented on #8573
@mallenexpensify Sorry about that, updated!

[2022-04-11 22:15] #8495 closed

[2022-04-11 22:51] jliexpensify commented on #7964
Paid @Tushu17 and @rushatgabhane . Just awaiting @sobitneupane to accept and will pay + close job.

[2022-04-11 23:21] NikkiWines commented on #8440
Hmm, I'm not sure this is still an issue? Tested on my device (iPhone 12 mini)  v1.1.54 and it looks like we now replace the `New password must be different` text with the error message:

Also tested on an iPhone 8 sim (mWeb) to confirm

**iPhone 12 Mini**

https://user-images.githubusercontent.com/16747822/162847721-33c06ac1-4138-4cab-bc13-1e3dc6c05bf5.mov

**iPhone 8**

https://user-images.githu

[2022-04-11 23:30] rushatgabhane commented on #8590
### Proposal

I can bring the resizing down to 2 times. This could be done by using the same thumbnail styles as the upload preview thumbnail. i.e `thumbnailWidth: 200` and `thumbnailHeight: 150`

Changes will be made in this file.
https://github.com/Expensify/App/blob/fd0f83a2e557c9f6d1adcf5be6feb761cd9f40b4/src/components/ThumbnailImage.js#L35-L37

#### How it'll look like

https://user-images.g

[2022-04-12 00:06] luacmartins commented on #8495
Hey @thesahindia! Sorry, I found this issue while working on [this PR](https://github.com/Expensify/App/pull/8496) and didn't see that it had been reported before (since your GH was created after this one). I'll ask what our policy is in this case and report back.

[2022-04-12 00:08] MitchExpensify commented on #8157
Doubling

[2022-04-12 00:10] MitchExpensify commented on #8247
Lets revisit this if a problem persists once unread buggyness is solved

[2022-04-12 01:34] Christinadobrzyn commented on #8128
Hired @thesahindia for the fix and @parasharrajat as the C+ in Upwork!

[2022-04-12 01:38] mallenexpensify commented on #8573
Thanks @kbecciv !
Job posted https://www.upwork.com/jobs/~01139053e67fc42e9e

[2022-04-12 01:39] sobitneupane commented on #7964
Accepted the offer.

[2022-04-12 01:44] Christinadobrzyn commented on #7917
Wait, sorry @thienlnam I might have missed something.

I hired @OneDevStopShop for this job based on the 'thumbs up' to this post - https://github.com/Expensify/App/issues/7917#issuecomment-1090410859

Should I hire @mdneyazahmad instead?

[2022-04-12 02:16] jliexpensify commented on #7964
Paid, and closed job in Upworks!

[2022-04-12 02:16] #7964 closed

[2022-04-12 02:37] jliexpensify commented on #8534
Posted!

Internal - https://www.upwork.com/ab/applicants/1513707338062458880/job-details
External - https://www.upwork.com/jobs/~0149d3c7692c4cf31b

Invited @thesahindia as the bug reporter

[2022-04-12 02:49] dharmik commented on #8289
@deetergp @rushatgabhane https://github.com/Expensify/App/pull/8585 PR created.

[2022-04-12 03:16] kadiealexander commented on #8115
Price doubled! Get those proposals in 📣

[2022-04-12 03:28] mvtglobally commented on #7274
Issue not reproducible during KI retests. (Third week)
@trjExpensify  should we just close it now?

[2022-04-12 03:29] mvtglobally commented on #7576
Issue not reproducible during KI retests. (Second week)

[2022-04-12 03:31] mvtglobally commented on #7591
Issue not reproducible during KI retests. (First week)

[2022-04-12 03:32] mvtglobally commented on #7768
Issue not reproducible during KI retests. (Second week)
@mountiny good to close it

[2022-04-12 03:33] mvtglobally commented on #8015
Issue not reproducible during KI retests. (Second week)

[2022-04-12 03:34] mvtglobally commented on #8048
Issue not reproducible during KI retests. (Second week)

[2022-04-12 03:35] mvtglobally commented on #8159
Issue not reproducible during KI retests. (First week)

[2022-04-12 03:36] mvtglobally commented on #8110
Issue not reproducible during KI retests. (Second week)

[2022-04-12 03:41] mvtglobally commented on #8348
Issue not reproducible during KI retests. (Second week) @sketchydroide not sure if it was a temp issue

[2022-04-12 04:03] mvtglobally opened #8602 "Feature Request: Use space to toggle check box - reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
## Problem:
1. After focusing on  checkbox we can use Enter the button to toggle it. But it gets conflicted with the Enter to submit the form
2. Also, I see the Space but

[2022-04-12 04:13] mateusbra commented on #7715
### PROPOSAL
Changing:
https://github.com/Expensify/App/blob/fd0f83a2e557c9f6d1adcf5be6feb761cd9f40b4/src/libs/VirtualKeyboard/index.js#L16-L26
by:
[code]
Won't give us the expected behavior?
I didn't get why seeing user has a touchable device will assume kayboard is open.

[2022-04-12 04:13] mdneyazahmad commented on #7916
@thienlnam I am stuck on this step. It asks for me to verify my identity and the two mentioned pages for this issue seems be on step 4 and 5.

https://user-images.githubusercontent.com/77761491/162878789-c67cfa91-00cc-4e76-b00b-02eddd94d4ea.mp4

[2022-04-12 05:14] parasharrajat commented on #8595
I think I reported this issue two weeks back https://expensify.slack.com/archives/C01GTK53T8Q/p1649156147168719. Are we ignoring the Slack reports?

[2022-04-12 06:29] techievivek commented on #8588
wouldn't it be convenient if we have just over the image, just like how we have in Slack?

[2022-04-12 07:33] tomivs commented on #8185
@rushatgabhane Sorry. Had an inconvenience but now I'm ready to upload the changes and make a pull request in the next hours.

[2022-04-12 08:19] mountiny commented on #7768
@Christinadobrzyn This is good to be paid out to Rajat and closed then! Thanks!

Thank you @mvtglobally

[2022-04-12 09:32] parasharrajat commented on #7537
@sig5 Let us know when would you be able to submit the PR.

[2022-04-12 09:35] dylanexpensify commented on #8291
Another week passed, should we double? cc @Santhosh-Sellavel

[2022-04-12 09:36] parasharrajat commented on #7855
Completely missed this issue. I will submit the PR by EOD with the above proposed solution. I spent some more time trying to find a better solution but I didn't find any which does not break existing functionality.

[2022-04-12 10:56] techievivek commented on #8588
@megankelso But I think your suggestion wilL provide a consistent UI and also be easy to implement. So let's take a call on one of these and I will move forward with implementing it.

[2022-04-12 11:05] mdneyazahmad commented on #8602
I addressed this here https://github.com/Expensify/App/issues/7918#issuecomment-1075009993 and pr will possibly fix this issue.

[2022-04-12 11:20] MariaHCD commented on #8586
Agreed!

Since that email is used for internal testing, I'd say we should exclude this email as well.

I think we'll need to do something like this to exclude all other expensify emails except concierge when starting a new group chat:

[code]

[2022-04-12 11:22] NicMendonca commented on #8032
@Santhosh-Sellavel paid for reporting and fix, thank you!

[2022-04-12 11:22] #8032 closed

[2022-04-12 11:36] Julesssss commented on #8566
Hey @mvtglobally, I believe this is now [deployed to staging](https://github.com/Expensify/App/pull/8599#issuecomment-1096596163) on all platforms.

[2022-04-12 11:57] mdneyazahmad commented on #7918
### Issue

We have an issue with the `Button` component. This registers a global event listener for `enter` key press, when a button with `pressOnEnter` is mounted. It submits the form even when we are not pressing the button.

https://user-images.githubusercontent.com/77761491/162951216-c57e89c1-f27c-47ee-8ff4-dd5fca36bf2f.mp4

https://github.com/Expensify/App/blob/fd0f83a2e557c9f6d1adcf5be6feb76

[2022-04-12 12:05] Stutikuls opened #8605 "[High] Keyboard: Edit button is not accessible using keyboard."
## Action Performed:
1. Using Chrome browser, open the URL staging.new.expensify.com/r/85021985
2. Navigate to the Chat box using Tab key.                                                                                                                                                                                                      3. Send any emoji in the chat.
4. Check whether the edit button

[2022-04-12 12:12] kavimuru opened #8606 "Web - Image zoom not working as expected after a page reload for extra long images - reported by @aswin-s"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Upload an extra long image like [this one](https://user-images.githubusercontent.com/7823358/132546765-0e41feb9-a06f-49c4-b3ba-2d52e96f87ae.jpg).

[2022-04-12 12:24] Stutikuls commented on #8566
Checked all PRs and creating accessibility issues for all PRs where accessibility issue was found.
The non-applicable PRs are - #7807, #8518, #8542
Logged bugs - #8478 , #8479, #8480 , #8430, #8463

[2022-04-12 12:25] thesahindia commented on #7706
Nope, this is fine.

[2022-04-12 12:26] MonilBhavsar commented on #8589
Discussing in slack https://expensify.slack.com/archives/C01GTK53T8Q/p1648681351033189

[2022-04-12 12:27] kavimuru opened #8607 "When you remove photo before saving the remove photo option still shows up - reported by @brianmuks"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Upload a photo with success
2. Try to remove the photo
3. Before clicking on save click on the camera icon.

## Expected Result:
The remove photo

[2022-04-12 12:38] MonilBhavsar commented on #8035
Looking today

[2022-04-12 12:43] aneequeahmad commented on #8122
### PROPOSAL

The Mock design is an approved design, we need to have a different layout for mediumScreenWidth (Ipad and tablets).

**Solution:**

 for mediumScreenWIdth the following code block will return the expected layout.

[code]
   Note: Haven't changed the font-size just added margin-bottom let me know if it needs to be updated.

<img width="712" alt="Screen Shot 2022-04-12 at 5 39 47 PM" s

[2022-04-12 12:55] parasharrajat commented on #8134
I didn't get it.

This is the question.

[2022-04-12 13:18] Santhosh-Sellavel commented on #8291
Lets double.

[2022-04-12 13:26] mollfpr commented on #8134
Yeah that's the real proposal is.

[2022-04-12 13:42] dylanexpensify commented on #8291
Doubled!

[2022-04-12 14:31] parasharrajat commented on #8134
Ok, I think we can do this. But we should move this logic to ExpensiMark.js on the ex-common repo.

I am ok to proceed with @mollfpr's [proposal](https://github.com/Expensify/App/issues/8134#issuecomment-1095381315) as this issue only affects the quotes.

cc: @Luke9389

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-04-12 14:33] parasharrajat commented on #7918
Thanks for pointing it out. I am looking into that issue on another GH https://github.com/Expensify/App/issues/7623?notification_referrer_id=NT_kwDOAXPed7MzMDcyOTc3Njg4OjI0MzcwODA3&notifications_after=Y3Vyc29yOjI1#issuecomment-1085901192.

[2022-04-12 14:33] thesahindia commented on #7706
bump @michelle-thompson

[2022-04-12 14:38] flodnv commented on #8454
Asking again in Slack: https://expensify.slack.com/archives/C01GTK53T8Q/p1649773232745629

[2022-04-12 14:53] shawnborton commented on #8423
Let's discuss in the original Slack thread first.

[2022-04-12 14:54] Julesssss commented on #8566
:shipit:

[2022-04-12 14:55] OSBotify commented on #8566
This issue either has unchecked items or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2022-04-12 15:02] Julesssss commented on #8566
Ah, new checks.

So unfortunately it looks like we're seeing a new exception with [Android version `1.1.54`](https://console.firebase.google.com/u/0/project/expensify-chat/crashlytics/app/android:com.expensify.chat/issues/1d5ba5634a645471c9e97af9db8ab349?time=last-ninety-days&sessionEventKey=62543D65016900013D26C40D73FED202_1663806642541488455). It's non-fatal, so the user shouldn't notice this. B

[2022-04-12 15:06] kbecciv opened #8608 "[HOLD for payment 2022-08-30] [$500] Web - Chat - When using the Tab button on the keyboard the focus does not appear correctly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the website https://staging.new.expensify.com
2. Press the Tab key 4 (four) times.

## Expected Result:
When using the Tab button on the key

[2022-04-12 15:17] luacmartins commented on #8572
@kavimuru could you please update the original reporter of this issue, since it seems to be reported by @thesahindia and not applause as per this [Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1648323880003309) thread? Let me know once it's updated and we will move forward with paying the contributor.

[2022-04-12 15:18] Julesssss commented on #8566
Confusingly, none of the above PRs seem related to the new issue 😕

My best guess is [this PR](https://github.com/Expensify/App/pull/8312) from a couple of versions ago, which refactored the function which is listed as the origin of this new exception. It looks like we're attempting to call [these functions](https://github.com/Expensify/App/blob/main/src/libs/NetworkConnection.js#L123-L124) before

[2022-04-12 15:18] luacmartins commented on #8495
@thesahindia we'll proceed with the reporting bonus payment. I just asked Applause to update the reporter of the issue, as it's incorrectly stated on your GH. Once that's done, we will follow the normal flow for payment. Thanks!

[2022-04-12 15:25] parasharrajat commented on #8245
Looking it today.

[2022-04-12 15:26] michelle-thompson commented on #7706
@thesahindia made some updates, can you please use this icon instead?
[Connect.svg.zip](https://github.com/Expensify/App/files/8474335/Connect.svg.zip)

[2022-04-12 15:28] thesahindia commented on #7706
Eeep 😬 just took the screenshots.

[2022-04-12 16:06] dylanexpensify commented on #8051
Payments sent, contracts ended, posting removed!

[2022-04-12 16:06] #8051 closed

[2022-04-12 16:08] dylanexpensify commented on #7523
@Santhosh-Sellavel we don't have any applicants for the Upwork job cc @michaelhaxhiu. Who should be applying/paid?

[2022-04-12 16:29] sakluger commented on #8519
Crap, somehow when I unassigned myself, Github unassigned @TomatoToaster instead. Sorry about that! I've reassigned to @TomatoToaster.

[2022-04-12 16:38] adelekennedy commented on #8292
And it's time to double again

[2022-04-12 16:42] adelekennedy commented on #8005
Just got the ping to double this again!

[2022-04-12 16:43] adelekennedy commented on #8005
Doubling this issue again, @thesahindia it sounds like your proposal above will work once the bug is fixed for creating rooms?

[2022-04-12 16:45] adelekennedy commented on #7942
Just got the Slack ping to double, updating now!

[2022-04-12 16:49] kidroca commented on #7424
@mallenexpensify

Yes, a regular external job was offered and I took it

[2022-04-12 16:58] MitchExpensify commented on #8244
Paid @Santhosh-Sellavel & @adeel0202 !

[2022-04-12 16:58] #8244 closed

[2022-04-12 17:05] adeel0202 commented on #8244
Thanks @MitchExpensify, but I'm also eligible for the reporting bonus :)

[2022-04-12 17:17] mateusbra commented on #7715
@parasharrajat I think it won't work when we don't have the VirtualKeyboard API(it will return us `null`).
We currently use this logic:
[code]
But now we know assuming that the virtual keyboard is open on touch-enabled devices won't give us the expected behavior when we have a desktop working with touch-enabled.

There's no way we can know if user's device is either desktop or mobile unless using

[2022-04-12 17:22] MitchExpensify commented on #8244
Bonus paid @adeel0202 ! Sorry for missing it earlier

[2022-04-12 17:22] mountiny commented on #7855
Thanks!

[2022-04-12 17:24] adeel0202 commented on #8244
Thank you ☺️

[2022-04-12 17:27] kidroca commented on #8061
The way to go seems to be to use `electron-webpack` - it supports hot reload for the main (desktop) code and the renderer (App) code https://webpack.electron.build/development#hot-module-replacement. I don't expect big changes to switch to `electron-webpack` since we already use webpack

`electron-webpack` still allows us to override the underlying webpack config similar to how we change the webpa

[2022-04-12 17:30] megankelso commented on #8588
cc @Expensify/design for thoughts but I think this would be the correct way to add this feature into our existing UI

[2022-04-12 17:34] shawnborton commented on #8588
Interesting, I can see both sides of this.

Slack does this where you just hover over an image:
<img width="397" alt="image" src="https://user-images.githubusercontent.com/2319350/163020592-e7fd6349-e93d-4e19-8b7f-050b6a179798.png">

And I think that makes sense because with Slack, you could have a message that has multiple images attached to it.

For Expensify though, I believe we currently only

[2022-04-12 17:37] mountiny commented on #8573
@kbecciv Do you have an illustration/mock up of how it should look like? I assume you should have if that is a QA step, but otherwise we can ask the design team.

[2022-04-12 17:42] mallenexpensify commented on #8404
Everyone is hired in Upwork!

[2022-04-12 17:49] bhavyagaur99 commented on #7835
## Proposal:

### Native
I can use this library for native platforms [react-native-video library](https://www.npmjs.com/package/react-native-video). This library includes support for iOS, Android, tvOS, Windows, etc.

This library supports more platforms than we require so we might have to remove them.

### Web
I can use this library for web browsers [video-react library](https://www.npmjs.com/pac

[2022-04-12 17:52] phivh commented on #8595
### Proposal

1. Due to limitations from react-pdf we need to add a custom handler for the password that suggested by the 3rd author (https://github.com/wojtekmaj/react-pdf/issues/581#issuecomment-654741296)
2. In src/components/PDFView/index.js, add a custom `onPassword` function:
[code]

Apply to

[code]

By applying this solution we are able to resolve issue #8593 as well.

### Demo
#### mWeb

[2022-04-12 17:53] Beamanator commented on #8602
Thanks for the heads up @mdneyazahmad 👍

Since @Santhosh-Sellavel first mentioned the suggestion in a GH issue (

[2022-04-12 17:57] mountiny commented on #8573
Just good to show this to contributors, who should work on it.

Feels like this is a regression, however, from a previous versions as the issue suggests this is already in production.

A good hint to look into the previous PRs which most likely caused this.

[2022-04-12 17:59] stitesExpensify commented on #8608
Not fixing accessibility issues currently, unassigning

[2022-04-12 18:01] tgolen commented on #8595
@phivh thank you for the proposal! I am mostly on board with that, but I have a few requests:

- Can you please rename `this.onPassword` -> `this.promptForPassword`?
- Where does `pdfjs` come from in `const { PasswordResponses } = pdfjs;`?
- Where does `prompt()` come from?
- I kind of think that `onHandleCallback` feels unnecessary. Can that code be moved into `promptForPassword()` at all? I'm no

[2022-04-12 18:03] megankelso commented on #8588
good point, this wouldn't work for multiple images in a message

[2022-04-12 18:06] Santhosh-Sellavel commented on #8595
@tgolen  🚀  fast here.

[2022-04-12 18:11] sylveawong commented on #8325
What do you think about the idea of just not showing billing cards at all?

After testing the flow in newdot, I don' think it makes sense for us to have the billing card appear in the payments section since both of the dropdown options are not applicable. Users can't:
1. set billing cards as their default payment method
2. delete billing cards

[2022-04-12 18:12] #8044 closed

[2022-04-12 18:15] mallenexpensify commented on #7584
Paid @rushatgabhane and @mdneyazahmad one day early cuz I was paying another issue.  $250 each for C+ and fix

[2022-04-12 18:15] #7584 closed

[2022-04-12 18:20] Santhosh-Sellavel commented on #8288
@brianmuks Any update on the Next PR

cc: @Beamanator

[2022-04-12 18:24] thesahindia commented on #8005
Yeah it will solve the issue but according to https://github.com/Expensify/App/issues/8005#issuecomment-1081840317 there's another issue but I can't reproduce it.

[2022-04-12 18:26] dharmik commented on #8329
@rushatgabhane PR Approved [#8585](https://github.com/Expensify/App/pull/8585)
May I pick this issue, If you allow.

CC @kbecciv

[2022-04-12 18:30] thienlnam commented on #7917
@Christinadobrzyn No you were correct in hiring them. Though from this comment https://github.com/Expensify/App/issues/7917#issuecomment-1093009100 it seems like they're having an issue with Upwork and so I've hired @mdneyazahmad for the job instead

[2022-04-12 18:31] chiragsalian commented on #8570
I lost track here. So whats the latest on this. Was this retested on version 1.1.54-1?

[2022-04-12 18:37] parasharrajat commented on #7715
Can we use Feature detection instead of User_agent check or dimensions check? Out of [these](https://github.com/Expensify/App/issues/7715#issuecomment-1049186179), which one do you think is best and why?

[2022-04-12 18:41] thesahindia commented on #7007
@kadiealexander, I have asked some questions on slack but didn't get much 👀. Can you help? Here's the [thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1649454970498459).

[2022-04-12 18:44] Santhosh-Sellavel commented on #8122
Thanks for the proposal @aneequeahmad,

I have a few questions and suggestions.
1.  We could refactor this & make it as DRY as possible.
2. ` just added margin-bottom`  why is it necessary?
3.  why `styles.flexColumnReverse`, can't we go with `styles.flexColumn`?

[2022-04-12 18:44] techievivek commented on #8588
Ok cool thanks for all the inputs, I will start working on it now. 🙌

[2022-04-12 18:45] chiragsalian commented on #7185
No pressure but any update @parasharrajat?

[2022-04-12 18:48] thienlnam commented on #7916
@mdneyazahmad Actually, we'll have to leave those bank account forms to an internal audit.  Just address the other forms for now

[2022-04-12 18:51] Santhosh-Sellavel commented on #8005
Let's not double this further @adelekennedy, its already overpriced. cc: @Beamanator

[2022-04-12 19:12] parasharrajat commented on #7185
Apologies for the delay here. Just catching up on my task. I will post the proposal tomorrow by this time.

[2022-04-12 19:15] mateusbra commented on #7715
1. Dimensions check - I think we can't use dimensions check because we are dealing with a big amount of possible screen sizes and in my opinion it doesn't make sense to use thoses values in order to know if the device uses a virtual keyboard.
We could have desktop devices with lower width than some tablets or ipads(which will use virtual keyboard) for example.

2. UserAgent check - That's the best

[2022-04-12 19:22] parasharrajat commented on #7715
I meant feature detection for detecting if a device is a desktop with an external keyboard.

This was/is a testing method on a few CSS frameworks like bootstrap. But I feel like, it is going to be buggy.

At last, until we break anything for users that are using `isOpen` api, I am good with userAgent check. Could you please tell me the places where this is used and how will user solution worth it

[2022-04-12 19:23] timszot commented on #8601
@neil-marcellini is this something that could be external? It sounds like it might be an internal issue to me, but I might be missing something here.

[2022-04-12 19:23] parasharrajat commented on #7623
I will soon update you here on the status.

[2022-04-12 19:28] Puneet-here commented on #8469
Hi, I don't have a private domain account I have made the changes but to test them I need an account with private domain, is there any testing account for that?

[2022-04-12 19:29] neil-marcellini commented on #8601
I think it could be external since I'm pretty sure it has to do with React navigation.

[2022-04-12 19:38] cead22 commented on #8590
This is still pretty janky, can we make it so:
- The thumbnail that is shown immediately has the same dimensions as the image that's shown at the end of the flow
- The thumbnail that is shown immediately doesn't have a spinner on top of it
- The "blank thumbnail" is never shown

cc @JmillsExpensify

[2022-04-12 19:50] kadiealexander commented on #7007
@thesahindia I see that @luacmartins has responded since you asked this, are you still needing further help?

[2022-04-12 19:52] thesahindia commented on #7007
Nope, it's good now, got the answer.

[2022-04-12 20:03] brianmuks commented on #8288
Yes I need help on what is expected in the Expensify/App PR.

[2022-04-12 20:05] Beamanator commented on #8005
@Santhosh-Sellavel yes it may be a high reward, but since we still don't have an acceptable proposal I think it's fine to keep doubling till we do 👍

[2022-04-12 20:10] luacmartins commented on #8129
[PR](https://github.com/Expensify/App/pull/8310) deployed to prod 7 days ago. Closing.

[2022-04-12 20:13] brianmuks commented on #8361
My comment here explains the technical aspect: https://github.com/Expensify/App/issues/8361#issuecomment-1086727568

[code]
The snippet above ensures that the index  of  object where the ```_fake_``` is coming from is not used as the last message in the LHN.  From my understanding ```reportActions[reportID][0]``` contains auto-generated data.

[2022-04-12 20:19] Santhosh-Sellavel commented on #8361
`reportActions[reportID].length` Does make any sense to me.

[2022-04-12 20:26] brianmuks commented on #8361
I see your point. I was trying to get the index  of the last deleted message . The correction then should be ```reportActions[reportID].length -1 ```.

[2022-04-12 20:39] mateusbra commented on #7715
Dimensions check
This was/is a testing method on a few CSS frameworks like bootstrap. But I feel like, it is going to be buggy.

As far as I could find, people count time and make assumptions based on time between `KeyDown` and `KeyUp`  to know if the keyboard is either real or virtual:
https://stackoverflow.com/questions/18880236/how-do-i-detect-hardware-keyboard-presence-with-javascript
I think

[2022-04-12 20:41] cead22 opened #8610 "Explore moving the network reconnection logic to the View part of the application"
**Problem**
The current reconnection logic requests a lot of unnecessary data (like for views that aren’t even mounted) which decreases app performance (this is a well-known problem on Android)
**Solution**
Reconnection logic will be moved to the view part of the application.
- An HOC will be built that will be used for fetching the data a component needs, when it needs it
    - The HOC will liste

[2022-04-12 20:47] Santhosh-Sellavel commented on #8152
@chiragsalian Bump!

[2022-04-12 20:49] Puneet-here commented on #8200
For some reason the messages stays unread whenever the status is open, I have logged the status and made a video for this

https://user-images.githubusercontent.com/101883770/163050637-f79e2eaa-9109-4441-ae3d-2e64590879c0.mov

[2022-04-12 20:50] kevinksullivan commented on #8110
Paid. Thanks again @Santhosh-Sellavel @mollfpr !

[2022-04-12 20:50] #8110 closed

[2022-04-12 20:52] tgolen commented on #8610
I think that sounds like a good plan!

As for next steps, this feels like it would probably be good to go through WN. I bet the doc will be small, so it will probably go pretty quickly. We can narrow down the exact details for each of those points in the detailed section.

As for exploring the exact solution, I would suggest getting familiar with an HOC and how it works. They are all defined in ou

[2022-04-12 20:52] aneequeahmad commented on #8122
@Santhosh-Sellavel, Thank you for your appreciation and suggestion.

1- You're right it should be as DRY as possible. Refactored code is
[code]

2- For some reason using `styles.flexColumn` and code as

[code]
 was causing the graphics to get `100& height` of iPad screen as seen in the video. though it was working fine when tested on iPad in chrome device toolbar.

https://user-images.githubuserco

[2022-04-12 20:59] chiragsalian commented on #8152
Oh sorry for the delay. Feel free to bump me in 24hrs or ping me in newDot if i miss something so i can get to it sooner.
As for that comment in the issue. Yeah i just noticed we don't have 2FA setup in NewDot. I guess we can update the text to say "You’re all set, keep your new password safe." same as with the non 2FA flow, or we can redirect them to old expensify 2FA for now.
I'll ask around to

[2022-04-12 21:03] eVoloshchak commented on #7835
**Proposal:**

- For web, we could use [react-player](https://www.npmjs.com/package/react-player). It's lighter, more popular and has native controls
- For native we can use [react-native-video](https://www.npmjs.com/package/react-native-video), but...
Out of the box it has some weird behaviour with it's controls

https://user-images.githubusercontent.com/9059945/163047421-b263337c-cc07-441b-9b6c-

[2022-04-12 21:22] Santhosh-Sellavel commented on #8122
@aneequeahmad
`displayStyles.dFlex` you could have gone with `style.dFlex`. Please read our [PR_REVIEW_GUIDELINES.md](https://github.com/Expensify/App/blob/main/PR_REVIEW_GUIDELINES.md)

@iwiznia
I like @aneequeahmad [proposal](https://github.com/Expensify/App/issues/8122#issuecomment-1097206288).

I think we should decouple `GraphicLayout` (We could call it a better name)  from here and make it a

[2022-04-12 21:28] chiragsalian commented on #8152
Asked, let's keep the copy as "You’re all set, keep your new password safe." for now.
I've made a note for our project of implementing 2FA in NewDot to update this same copy once they are done with the project.

[2022-04-12 21:31] AndrewGable commented on #7860
Let's double again.

[2022-04-12 21:32] AndrewGable commented on #7579
Bump @Expensify/applause

[2022-04-12 21:32] pecanoro commented on #8602
Hmm, wasn't that part of the audit, fixing the inconsistencies? Using space was a faulty behavior, right? Anyways, yes, we should leave the other one open since it will fix more stuff. You can add him to any of the issues as the reporter so he can get paid for suggesting a more broad fix.

[2022-04-12 21:42] marcaaron commented on #8610
Is there a reproduction somewhere for this and/or can we benchmark it somehow? Intuitively this problem statement makes sense, but we should be able to:

- call out which reconnection callbacks are unnecessary (there are not that many)
- describe how app performance is affected and to what severity

I would recommend we do this before discussing any solutions. It's hard for me to think of alternat

[2022-04-12 21:43] gladiator-1 commented on #7835
### Proposal
**web** : you can use `createElement` from `react-native-web` to create HTML video element

**result**

https://user-images.githubusercontent.com/102553449/163058277-6ffcd4b0-03d1-4256-ab89-0cf8c9180332.mp4

**native** : you can render video element inside a webview using `react-native-webview`

**result**

https://user-images.githubusercontent.com/102553449/163058582-12fda4bb-cf49-46

[2022-04-12 21:52] arielgreen commented on #8601
https://www.upwork.com/jobs/~01b5bd589c6d58aeb0

[2022-04-12 21:56] isagoico commented on #7579
@AndrewGable Testers have not reported this in the recent regressions. Will ask the testers to keep eyes for this issue in the upcoming regressions.

[2022-04-12 21:58] AndrewGable commented on #7579
Ok thank you! Let's close and reopen if we see it again.

[2022-04-12 21:58] #7579 closed

[2022-04-12 22:48] roryabraham commented on #8061
Okay, that approach is fine with me 👍

[2022-04-12 23:01] neil-marcellini commented on #7617
Updating to weekly because this feels fairly important.

[2022-04-12 23:31] michaelhaxhiu commented on #5994
not overdue

[2022-04-12 23:57] aneequeahmad commented on #8122
@Santhosh-Sellavel, noted, changed `displayStyles.dFlex` with `style.dFlex`. Yeah, a better name is required for this component.

[2022-04-13 00:31] stephanieelliott commented on #8048
@mateusbra paid you out in Upwork!
@Santhosh-Sellavel will pay you out ASAP, please accept the Upwork offer when you get a chance!

[2022-04-13 00:34] stephanieelliott commented on #3245
We're ready to pay this out, @Julesssss what are your thoughts on increasing this to $2500 per @mananjadhav's comment above?

[2022-04-13 00:45] Christinadobrzyn commented on #7768
Original job expired so created new one - https://www.upwork.com/ab/applicants/1514041584503480320/job-details - sent an offer to Rajat. I'll track and pay asap.

[2022-04-13 01:00] Christinadobrzyn commented on #7917
Oh I'm so sorry, not sure how I missed that comment. Thank you for clarifying!

I hired @mdneyazahmad for the job! Sorry about the confusion.

[2022-04-13 01:40] marcaaron commented on #2727
Still waiting for proposals here.

[2022-04-13 01:42] kbecciv opened #8612 "[HOLD] [$500] Web - Pressing the up arrow, the scroll bar is going down."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Press the Tab key until the focus appears in Chat.

## Expected Result:
When pressing the down arrow,

[2022-04-13 02:17] marcaaron commented on #8517
After looking into all these errors I think they can for the most part be retried. However, I'm adding more logging for each specific error and whatever context in the code about what they might mean. Some are really cryptic errors and browser inconsistencies around what might be a "connection interrupted" type error.

[2022-04-13 02:17] marcaaron commented on #8517
Also realizing that it would be useful to log the status code of fetch errors when they throw so gonna open a PR for this.

[2022-04-13 02:32] sobitneupane commented on #8129
Hello @luacmartins, I am the reporter of the issue. I am not paid for reporting this issue.

[2022-04-13 02:34] sobitneupane commented on #7579
Hello @AndrewGable, I am reporter of the issue. I am not paid for reporting this issue.

[2022-04-13 03:10] Santhosh-Sellavel commented on #8048
@stephanieelliott done thanks!

[2022-04-13 03:24] JmillsExpensify commented on #4114
We're on the even of 7 days here, and this would still be great to do, so I'm going to bump once more to $4,000 and then we can decide next week if it's worth going any higher.

[2022-04-13 03:28] JmillsExpensify commented on #7270
I'm good with that plan. Will circle back next week and expect to close this :)

[2022-04-13 03:29] JmillsExpensify commented on #7727
Still holding for offline initiatives.

[2022-04-13 03:29] JmillsExpensify commented on #7796
I'm just going to close this and we can re-open down the line when details like this are more important.

[2022-04-13 03:29] #7796 closed

[2022-04-13 03:30] JmillsExpensify commented on #8089
@rushatgabhane Circling back on this one because we owe feedback for this proposal. Thanks!

[2022-04-13 03:32] JmillsExpensify commented on #8159
I'm going to put this issue on hold until we can successfully reproduce.

[2022-04-13 03:33] JmillsExpensify commented on #8212
Still waiting for proposal so I'm increasing the price to $2,000.

[2022-04-13 03:34] JmillsExpensify commented on #8251
Going to leave the weekly update to @yuwenmemon this week.

[2022-04-13 03:35] JmillsExpensify commented on #8356
I'll go ahead and put to Upwork.

[2022-04-13 03:37] JmillsExpensify commented on #8356
Upwork job is here: https://www.upwork.com/jobs/~0162d006ee58de971d. We're open for proposals. Thank you!

[2022-04-13 03:38] JmillsExpensify commented on #8501
Let's go ahead and put a hold on it then, and if it can't be reproduced in testing once #8590 goes live, we can close.

[2022-04-13 03:59] JmillsExpensify commented on #8590
Love all those suggestions!

[2022-04-13 04:18] kevinksullivan commented on #8274
Paid for reporting and fixing. Thanks @Tushu17 !

[2022-04-13 04:18] #8274 closed

[2022-04-13 05:07] Stutikuls opened #8614 "[low] Chrome + Talkback: Screen reader announce 'Text field label' twice."
## Action Performed:
1. Using Android Talkback + Chrome browser, open the URL staging.new.expensify.com/r/85021985
2. Navigate to the settings using Swipe Gesture.
3. Go to the payment option and Double tap on it once you reach the debit card.
4. Navigate the text field using swipe gesture and listen to the screen reader announcement.

## Expected Result:
Screen reader should announce Text field l

[2022-04-13 05:16] Christinadobrzyn commented on #7768
Paid @parasharrajat and closed the job in Upwork. Closing this GH

[2022-04-13 05:16] #7768 closed

[2022-04-13 05:23] Stutikuls opened #8615 "[med] Other A11y: Autocomplete attribute is not provided on the page."
## Action Performed:
1. Using JAWS + Chrome browser, open the URL staging.new.expensify.com/r/85021985                                                                                          2. Open settings and navigate to the workspace using Tab key.
3. Open workspace using Enter and go to help button.
4. New content will appear navigate to the request a setup call using Tab key and press Enter

[2022-04-13 05:36] sig5 commented on #7537
Hi @parasharrajat , i had taken up this issue when I had enough time for it. But since the PR it is dependent on has taken too much time, there are some personal commitments at the moment, i think it will be in everyone's best interest for me to drop this issue as I can not allocate the time needed for this PR.

[2022-04-13 05:39] aswin-s commented on #7768
@Christinadobrzyn Reporting bonus was not paid for this issue.

[2022-04-13 05:49] jliexpensify commented on #8352
Price doubled!

[2022-04-13 05:54] parasharrajat commented on #7537
Ok. Thanks, @sig5 for the updates. Open for new proposals...

[2022-04-13 05:57] Christinadobrzyn commented on #7768
Ah, sorry about that @aswin-s. I thought this was reported by our QA team. I can only find this [instance](https://expensify.slack.com/archives/C01GTK53T8Q/p1645069799024699) of the issue being reported in our #open-source room. Can you please send me a link to the Bug report you posted in the open-source room? Thanks!

[2022-04-13 06:00] aswin-s commented on #7768
https://expensify.slack.com/archives/C01GTK53T8Q/p1644613736619309

[2022-04-13 06:03] parasharrajat commented on #8356
@JmillsExpensify I think the exported label is missing.

[2022-04-13 06:07] Christinadobrzyn commented on #7768
Amazing! Thank you! Let me reopen the job and hire you so I can pay you.

[2022-04-13 06:15] aswin-s commented on #7768
@Christinadobrzyn Applied. Thanks.

[2022-04-13 06:17] parasharrajat commented on #8200
I would need more information here to accept your proposal as a solution. I am not convinced at all.

- How does this work technically?
- why does it stay unread?

Etc.

I don't consider this as a solution either to the Back arrow issue. It is not fixing the navigation instead you are just changing the functionality.

[2022-04-13 06:23] Christinadobrzyn commented on #7768
Thank you! just issued payment through the Upwork job. Thanks again for reaching out about that and sorry I missed that!

[2022-04-13 07:19] Stutikuls opened #8616 "[med] : Many pages: Chrome + Jaws : Screen reader is not announcing the search results information."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to select it.
3. Navigate to any workspace using Tab key and press using Enter to select it.
4. Navigate to Manage members button using Tab key and press Enter on it.
5.Select members and navigate to invite button using Tab key and press Enter on it.
6. Invite New member wi

[2022-04-13 07:28] Stutikuls opened #8617 "[med] Chrome + Jaws: Screen reader announces extra information on text fields."
## Action Performed:
1. Using JAWS + Chrome browser, open the URL staging.new.expensify.com/r/85021985
2. Open settings and navigate to the workspace using Tab key.
3. Activate workspace using Enter key and Double click on the help button.
4. New content will appear, navigate to the request a setup call using Tab key and press Enter.
5. Navigate the text field using Tab key and listen to the scree

[2022-04-13 07:31] Stutikuls opened #8618 "[med] Chrome + Jaws: Role is not defined for Payment method controls."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to select it.
3. Navigate to payment using Tab key and press using Enter to select it.
4. Observe the screen reader announcement.

## Expected Result:
Screen reader should read the role = button along with the name of the control.

## Actual Result:
screen reader is only re

[2022-04-13 07:32] dylanexpensify commented on #7523
Great! Getting job reposted for @Santhosh-Sellavel to apply, will then pay out!

[2022-04-13 07:33] dylanexpensify commented on #7523
Repost

Internal: https://www.upwork.com/ab/applicants/1514144553994493952/job-details
External: https://www.upwork.com/jobs/~011512c770333f888a

cc @Santhosh-Sellavel

[2022-04-13 07:35] Stutikuls opened #8619 "[med] Safari + VoiceOver: Entered value on the text field is not announced."
## Action Performed:
1. Open iOS Expensify application.
2. Open settings and navigate to the workspace using Swipe Gesture.
3. Open workspace by Double Tap and go to help button.
4. New content will appear, navigate to the request a setup call using Swipe Gesture and Double Tap it.
5. Enter some values on the text field and listen to the screen reader announcement.

## Expected Result:
Information

[2022-04-13 07:40] dylanexpensify commented on #6941
Not overdue

[2022-04-13 07:44] Stutikuls opened #8620 "[low] Chrome + Talkback: Screen reader announces extra information announced on dropdown."
## Action Performed:

1. Using Android Talkback + Chrome browser, open the URL staging.new.expensify.com/r/85021985
2. Open settings and navigate to the preferences using Swipe Gesture and Double Tap.
3. New content will appear, navigate to the dropdown using Swipe Gesture and Double Tap.
4. Listen to the screen reader and observe the issue.

## Expected Result:
Only the information of a dropdown

[2022-04-13 08:10] Stutikuls opened #8621 "[High] Keyboard: Controls present inside the dropdown is not accessible using swipe gesture."
## Action Performed:
1. Open iOS Expensify application.
2. Open settings and navigate to the preferences using Swipe Gesture and Double Tap.
3. New content will appear, navigate to the dropdown using Swipe Gesture and Double Tap.
4. check whether your focus is going to dropdown controls or not.

## Expected Result:
All the interactive elements must be focused. Controls present inside the dropdown

[2022-04-13 08:15] Stutikuls opened #8622 "[med] iOS: Notification is not appearing in notification bar."
## Action Performed:
1. Run iOS build
2. Send yourself a message via a different account on a different device.
3. Observe the issue.

## Expected Result:
Notification should appear in notification bar.

## Actual Result:
Notification is not appearing in notification bar.

**Other occurrences**

## Workaround:
No

## Area issue was found in:
Application

## Failed WCAG checkpoints
Functional

## U

[2022-04-13 08:17] Stutikuls opened #8623 "[low] Chrome + Jaws: Screen reader announce 'okay got it' twice."
## Action Performed:
1. Using JAWS + Chrome browser, open the URL new.expensify.com/r/90156971
2. Open settings, navigate to the security using Tab key and press Enter.
3. Go to the close account using Tab key and press Enter.
4. New content will appear, give inputs to the field and go to close account using Tab key and press Enter.
5. Pop-up will appear, go to Okay got it button using tab key and

[2022-04-13 08:18] Stutikuls commented on #8516
Checked all PRs and creating accessibility issues for all PRs where accessibility issue was found.
The non-applicable PRs are - #8347, #8473, #8475
Logged bugs - #8622, #8618

[2022-04-13 08:33] Stutikuls opened #8624 "[med] Chrome + Jaws: Success message after uploading image is not announced."
## Action Performed:
1. Using JAWS + Chrome browser, open the URL staging.new.expensify.com/r/85021985
2. Open settings, navigate to the profile button using Tab key and press Enter key.
3. Go to the edit profile picture using Tab key and press Enter key.
4. Upload any picture and listen to the screen reader.

## Expected Result:
Success message after uploading image should be conveyed to the user

[2022-04-13 08:35] kadiealexander commented on #7905
Paid @parasharrajat for C+ and @mdneyazahmad for the fix (+ reporting bonus). Thanks for your work team!

[2022-04-13 08:35] #7905 closed

[2022-04-13 08:40] kadiealexander commented on #7432
@mananjadhav hope you're settling back in after being away. Could you please share an update on this one?

[2022-04-13 08:46] Stutikuls opened #8625 "[High] Keyboard: Eye icon is not accessible using swipe gesture."
## Action Performed:
1. Open the iOS Expensify application.
2. Put credentials and go to the password page.
3. Go to the password text field using the Tab key.
4. verify whether the focus is going to the eye icon or not.

## Expected Result:
All the interactive elements must be focused. Eye icon should be accessible by swipe gesture.

## Actual Result:
Eye icon is not accessible using a swipe gest

[2022-04-13 09:53] tomivs commented on #8185
Uploaded changes. Testing now...

[2022-04-13 09:58] thesahindia commented on #8272
@roryabraham, is there a way to create policy expense chat by some code tweaks? I tried it but it didn't work, can you add me to policy expense chat beta if being a beta user will allow me to create policy expense chat or can I get some testing account for this?

[2022-04-13 10:36] Julesssss commented on #3245
Hey @stephanieelliott, yeah that seems reasonable to me. My initial doubling twice was fairly arbitrary.

[2022-04-13 10:57] Julesssss commented on #7779
Not overdue. It seems like this isn't occuring anymore, but lets await further retests.

[2022-04-13 10:57] Julesssss commented on #7274
Yeah, I think so.

[2022-04-13 10:57] #7274 closed

[2022-04-13 12:30] dylanexpensify commented on #8033
@parasharrajat sent offer to accept and pay you out as C+!

@Santhosh-Sellavel please apply to [this job](https://www.upwork.com/jobs/~019620154ecd73b2b9) to be paid for reporting the issue!

[2022-04-13 12:31] dylanexpensify commented on #7523
@Santhosh-Sellavel offer sent!

[2022-04-13 12:34] dylanexpensify commented on #7523
Payment sent, contract ended, post removed!

[2022-04-13 12:34] #7523 closed

[2022-04-13 12:35] Santhosh-Sellavel commented on #8033
@dylanexpensify done!

[2022-04-13 12:37] dylanexpensify commented on #8033
Offer sent @Santhosh-Sellavel!

[2022-04-13 12:37] parasharrajat commented on #7715
What do you think about this?

[2022-04-13 12:39] dylanexpensify commented on #8033
Alrighty! Everyone has been paid, contracts ended, posts removed! 🎉

[2022-04-13 12:39] #8033 closed

[2022-04-13 12:46] mateusbra commented on #7715
Sorry I didn't get what you want...

If you mean where we will use it:
We will use it here:
https://github.com/Expensify/App/blob/6ef2e519d1ecf5b0e6db3f5498e24c7e50e9f21b/src/pages/home/report/ReportActionCompose.js#L342-L344
Instead of use `canUseTouchScreen()` and assume when `canUseTouchScreen = true` the device is mobile we will use the `userAgent` check to tell us when we are on mobile device

[2022-04-13 12:58] parasharrajat commented on #7715
ok. I think this mobile userAgent check is best suited for `shouldAssumeIsOpen` instead of `canUseTouchScreen`. IMO, `isMobile` should be moved to getBrowser lib.

Rest, I am fine with @mateusbra's approach to this problem https://github.com/Expensify/App/issues/7715#issuecomment-1097194870. I was waiting on a proposal with feature detection but there is no such API atm. And @mateusbra's reason fo

[2022-04-13 13:13] NicMendonca commented on #8379
Doubled: https://www.upwork.com/jobs/~0117b13ad85930bd8e

[2022-04-13 13:15] NicMendonca commented on #6883
Doubled: https://www.upwork.com/jobs/~0190053c928a98fb14

[2022-04-13 13:20] NicMendonca commented on #8597
Job post: https://www.upwork.com/jobs/~01f375a847afba4391

[2022-04-13 13:22] Stutikuls commented on #8378
Checked all PRs and created accessibility issues for all PRs where accessibility issue were found.
The non-applicable PRs are - #8137, #8221, #8270, #8306, #8310, #8312, #8314, #8322, #8328, #8343, #8365, #8412
logged Issues - #7580, #8232, #8264, #8269, #8283, #8300, #8301, #8346

[2022-04-13 13:38] michaelhaxhiu commented on #7618
Doubling price to $16000

[2022-04-13 14:05] thesahindia commented on #8124
Is this still reproducible? These are the actions I performed -
1. Added my email at login page and in password page I chose "forgot"
2. Pressed "resend link"
3. Copied the url of first link
4. Pasted the url in the browser and added new password
5.  Saw this -
<img width="379" alt="Screenshot 2022-04-13 at 7 26 29 PM" src="https://user-images.githubusercontent.com/83179295/163197708-e2cd54d3-73cf

[2022-04-13 14:05] dharmik commented on #8379
**It's default behavior. Not a 🐞**
When we open keyboard and we are tapping on emoji so new instance will come up it's a modal so keyboard will hide as per default behavior.

Suggestion: We have to change the way how we represent Emojis section. We have to display that emojis inside keyboard which we have to customize it.

@parasharrajat @NicMendonca Any suggestion on it?

[2022-04-13 14:17] Julesssss commented on #8566
:shipit:

[2022-04-13 14:18] michaelhaxhiu commented on #8131
I just tested this and actually, it seems the scroll bar works on most devices - exactly as expected?

iOS:
![image](https://user-images.githubusercontent.com/13206896/163197345-27d54a45-3d51-48a3-a15f-93e642e4f15e.png)

Desktop app:
<img width="817" alt="image" src="https://user-images.githubusercontent.com/13206896/163197407-adb3fd72-d5ce-4d26-8f8d-8e09ecf9a0e7.png">

Web app:
<img width="1115"

[2022-04-13 14:30] michaelhaxhiu commented on #8131
@mdneyazahmad meaning, it's only Android that is affected - right?

[2022-04-13 14:32] mateusbra commented on #8131
@mdneyazahmad will you work on this one? Or its open for external contributors?

[2022-04-13 14:38] rushatgabhane commented on #8131
Thanks for testing it. And yes, Android is the only platform that has this issue.

[2022-04-13 14:39] rushatgabhane commented on #8131
@mateusbra this issue is open to all. Feel free to post a proposal.

[2022-04-13 14:39] dharmik commented on #8541
@parasharrajat   @jboniface @iwiznia

Proposal:

FileName: `WorkspaceInitialPage.js`

Solution: Example: Page0 ==> Page1 ==> Page2
Cause: From Page0 to refirect to Page1 and check conditions and move to Page2 this cause transition issue so we can check that condition in Page0 it self.

[code]

[code]

[code]

[code]

[2022-04-13 14:49] rushatgabhane commented on #8124
@mallenexpensify we should create a new issue right?

[2022-04-13 14:56] luacmartins commented on #8129
Sorry @sobitneupane, I missed that. Adding `External` label to pay @sobitneupane as issue reporter.

[2022-04-13 15:08] luacmartins commented on #8572
Adding `External` label to pay the reporting bonus. This issue was solved internally, so we can close it once the bonus is paid out.

[2022-04-13 15:08] luacmartins commented on #8572
@MitchExpensify could you please pay the reporting bonus to @thesahindia and close this issue once done? Thank you!

[2022-04-13 15:11] luacmartins commented on #8456
Still looking for proposals.

[2022-04-13 15:26] Julesssss opened #8631 "Deploy Checklist: New Expensify 2022-04-13"
**Release Version:** `1.1.55-2`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/8437
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/8446
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/8449
  - [x] QA

[2022-04-13 15:33] dylanexpensify commented on #8129
Yes of course! @sobitneupane please apply [here](https://www.upwork.com/jobs/~01a93cd79517160993)!

[2022-04-13 15:49] rushatgabhane commented on #8534
@thesahindia you found the cause. But I think we should fix it here by correctly accessing the `reportID`

https://github.com/Expensify/App/blob/0596be5899916b4eae8d723dfc4c07e4fd05ed7e/src/libs/actions/Report.js#L1526

Thoughts?

[2022-04-13 16:00] mallenexpensify commented on #2985
Guess we'll keep this one open for now, the main issue we're addressing now is https://github.com/Expensify/App/issues/7925

[2022-04-13 16:01] mallenexpensify commented on #6591
@marcaaron wanna keep this a weekly or bump to monthly since it's on hold? (either is fine with me)

[2022-04-13 16:02] mallenexpensify commented on #6069
@rushatgabhane is working on [the PR](https://github.com/Expensify/App/pull/8535)

[2022-04-13 16:07] mallenexpensify commented on #7837
Doubled price to $1000
https://www.upwork.com/jobs/~0108a6d5655ee24bf8

[2022-04-13 16:09] mallenexpensify commented on #7844
Doubled price to $1000
https://www.upwork.com/jobs/~018bbb25aad73a12f4

[2022-04-13 16:10] flodnv commented on #8454
We are going with: remove `Introduce` from the translation.

[2022-04-13 16:11] mallenexpensify commented on #7121
Do you have an update @parasharrajat , looks like the PR is still a draft

[2022-04-13 16:12] parasharrajat commented on #7121
I will push it live in 2 hours.

[2022-04-13 16:12] mallenexpensify commented on #6891
PR just got 🎀 this morn!

[2022-04-13 16:13] mallenexpensify commented on #8349
Doubled price to $4000
https://www.upwork.com/jobs/~0191b930fd2b38bae8

[2022-04-13 16:14] mallenexpensify commented on #8130
Doubled price to $2000
https://www.upwork.com/jobs/~012cfd3094fafb0057

[2022-04-13 16:14] thesahindia commented on #8454
### Proposal

I would like to take this.
We have to remove `Introduce` here -
https://github.com/Expensify/App/blob/c237f3659d843850662d728824aeff6a1a3d587f/src/languages/es.js#L325

[2022-04-13 16:16] brianmuks commented on #8288
Thanks I am on it!

[2022-04-13 16:16] mateusbra commented on #7837
After https://github.com/Expensify/App/issues/6471 was deployed to staging I was unable to reproduce it from my side, I think we could tag some QA and see if  it's still reproducible.

[2022-04-13 16:24] sobitneupane commented on #8129
Applied.

[2022-04-13 16:35] Beamanator commented on #8469
Great question @Puneet-here - I don't know of any off the top of my head, but please ask your question in #expensify-open-source because I'm sure other contributors are wondering the same thing.

If there aren't any test accounts for you to use, feel free to create the PR with your changes and I will test

[2022-04-13 17:10] NicMendonca commented on #8158
@rushatgabhane bump on the proposals ☝️

[2022-04-13 17:12] roryabraham commented on #7648
Nope, the PR has been updated recently and is in active review!

[2022-04-13 17:15] roryabraham commented on #8272
Oh, actually I forgot about the beta. @thesahindia I'll handle this myself in that case.

[2022-04-13 17:16] roryabraham commented on #7625
Unassigned @thesahindia from https://github.com/Expensify/App/issues/8272 because they're not in the policyExpenseChat beta.

[2022-04-13 17:21] phivh commented on #8595
@tgolen

- Can you please rename this.onPassword -> this.promptForPassword?
=> it can be, will change the name when create PR
- Where does pdfjs come from in const { PasswordResponses } = pdfjs;?
=> It's from `react-pdf` module, it should call right above the class component, I just want to put it inside the function more clearly.
- Where does prompt() come from?
=> prompt() is another way to call

[2022-04-13 17:30] Puneet-here commented on #8200
The changes that were made earlier is the root cause of the problem and reverting the changes back is what I am proposing as a solution.

[2022-04-13 17:33] chiragsalian commented on #7715
Proposal LGTM as well. Feel free to create the PR @mateusbra.

[2022-04-13 17:33] eVoloshchak commented on #8379
**Proposal**
When emoji picker is opened, add a `marginBottom` to [ReportActionCompose](https://github.com/Expensify/App/blob/main/src/pages/home/report/ReportActionCompose.js) that is equal to the height of emoji picker. That way, textInput will be visible on top of the picker.

Native:

https://user-images.githubusercontent.com/9059945/163237456-fdc46314-b294-4508-8370-f9284e623786.mp4

mWeb:

h

[2022-04-13 17:37] #8586 closed

[2022-04-13 17:48] parasharrajat commented on #8379
What is the expected behavior here? input should be shown above the picker menu. ?? cc: @kavimuru @stitesExpensify

[2022-04-13 17:51] mateusbra commented on #7715
I submitted a proposal on Upwork, gonna rise a PR soon!

[2022-04-13 17:52] parasharrajat commented on #7185
Looked at the code but no proposal yet. I am feeling sick today so not working.

[2022-04-13 17:53] roryabraham commented on #7962
Last I heard, @parasharrajat had concluded that this is a bug in [react-native-pdf](https://github.com/wonday/react-native-pdf). Is that correct?

Judging by the number of open issues in that repo, and that they are only pushing a few commits per month, I don't think it makes sense to wait for the maintainer to fix the issue. So the next step would be to debug on iOS and see if we can fix the bug

[2022-04-13 18:03] mallenexpensify commented on #7579
Thanks @sobitneupane , it was my fault, I missed it. This issue is a bit of an edge case. Can you accept the offer I sent please? https://www.upwork.com/jobs/~01565f061650286741
I'm testing using milestone instead of fixed-fixed price for payment, the payment amount will be the same, $250.

@parasharrajat , I see you are assigned as C+ and commented on the issue twice, do you think you're due comp

[2022-04-13 18:05] stitesExpensify commented on #8379
Yes, you should be able to see the input you're putting the emoji into

[2022-04-13 18:11] mvtglobally commented on #8631
@Julesssss Cna you pls check if IOS deployed successfully? We still dont have the build

[2022-04-13 18:21] parasharrajat commented on #7579
No, I am fine.

[2022-04-13 18:33] SumitDiyora opened #8633 "[High]: Chrome+Jaws : Screen reader: Role and label are not defined for "download" control."
## Action Performed:
1. Using Chrome+JAWS, open URL: staging.new.expensify.com
2. Navigate to Settings > Any chat and activate any attachments.
3. Navigate to the "download" control using the screen reader.
4. Observe the screen reader announcement.

## Expected Result:
When a role is defined appropriately for the interactive element, the screen reader user will interact with the element effective

[2022-04-13 18:36] michaelhaxhiu commented on #7715
Hired - let's get this party started.

[2022-04-13 18:40] mallenexpensify commented on #8317
Let's wait one more 'overdue' round to see if it's reproducible then we'll close

[2022-04-13 18:43] parasharrajat commented on #8379
Getting design confirmation https://expensify.slack.com/archives/C01GTK53T8Q/p1649875294455519

[2022-04-13 18:45] danieldoglas commented on #8357
@Santhosh-Sellavel

Yes, you are right. My mistake.

We should aim to do what was suggested by @tjferriss. But then I think the [solution](https://github.com/Expensify/App/issues/8357#issuecomment-1086113910) is not actually inviting people into the room as [suggested](https://github.com/Expensify/App/issues/8357#issuecomment-1083753541), it is actually letting me send/request money to people outs

[2022-04-13 18:51] MitchExpensify commented on #7537
Doubling price and creating a new Upwork post because the older one is closed.

[New Upwork Job](https://www.upwork.com/jobs/~0158693d3ff2c14732) (Invited @parasharrajat for eventual C+ payment)

[2022-04-13 18:54] mallenexpensify commented on #2727
Doubled price to $8000

[2022-04-13 19:11] marcochavezf commented on #8311
Not overdue, waiting for proposals.

[2022-04-13 19:24] luacmartins commented on #7916
@mdneyazahmad please note that `4. Space toggles checkboxes.` was added to the list of expected behavior.

[2022-04-13 19:24] luacmartins commented on #7917
@mdneyazahmad please note that `4. Space toggles checkboxes.` was added to the list of expected behavior.

[2022-04-13 19:24] luacmartins commented on #7918
@mdneyazahmad please note that `4. Space toggles checkboxes.` was added to the list of expected behavior.

[2022-04-13 19:27] jboniface commented on #7853
@mdneyazahmad hey, can you apply [here](https://www.upwork.com/jobs/~01022524387d167a0e)? you're supposed to get a reporting bonus for this

[2022-04-13 19:29] jboniface commented on #8574
job [here](https://www.upwork.com/jobs/~01f6f4653a621a1d90)

[2022-04-13 19:29] Santhosh-Sellavel commented on #7917
@mdneyazahmad Kindly provide an update on how is it coming up?

[2022-04-13 19:41] roryabraham commented on #7925
@azimgd I think your latest proposal gets pretty close to the core of the issue – though I'm not sure about the `customRangeExtractor` solution. Would the developer implementing the bidirectional `FlatList` have to provide that `customRangerExtractor` implementation themselves?

I think we'll be able to implement a generic solution in VirtualizedList that solves the range problem ... I'm investiga

[2022-04-13 19:48] senior-developer1019 commented on #8574
I have checked

[2022-04-13 19:48] azimgd commented on #7925
@roryabraham Even though we could allow passing by props (might be helpful) I imagine that `defaultRangeExtractor` will be defined at `VirtualizedList` or `VirtualizedUtils`.

[2022-04-13 19:50] Santhosh-Sellavel commented on #8595
@phivh

 I too feel `onHandleCallback` is unnecessary, we could refactor like below.

[code]

cc: @tgolen

[2022-04-13 19:56] roryabraham commented on #7925
Hmmm, I guess that makes sense (though I'm not sure what use-cases there might be to pass in the `customRangeExtractor` via props). But it seems in line with the way other features have been implemented in the `VirtualizedList` component, so that sounds good to me.

I think we need to agree on the `defaultRangeExtractor` and how it will be implemented in `VirtualizedList` though, as that's a subst

[2022-04-13 19:59] Santhosh-Sellavel commented on #8357
Thanks, @danieldoglas.

It would create some complications/confusion. Because whatever IOU operation we perform from the chat compose ➕  options is expected to create IOU for the specific chat report.

I think we should just hide those options instead because the user can always create IOU from LHN ➕ button.

@iwiznia What do you think?

[2022-04-13 20:20] Beamanator commented on #8602
Ok sweet so did some discussing internally ([here](https://expensify.slack.com/archives/C01SKUP7QR0/p1649865971560989)) and here's the plan:
1. Lets pay out @Santhosh-Sellavel for reporting this feature
2. We'll close this issue b/c the feature will be worked on in all of the form-audit issues ([one](https://github.com/Expensify/App/issues/7523), [two](https://github.com/Expensify/App/issues/7916)

[2022-04-13 20:20] janicduplessis commented on #7925
I've done a round of investigation on this issue and here are my findings. There are actually 2 separate issues:

### Issue 1

 `autoscrollToTopThreshold` calculation is wrong. This is pretty easy to fix and can be reproduced in the simple scrollview example. The problem is that the y value is set before adjusting content offset so it doesn't need to be adjusted with the delta. Here's the diff wit

[2022-04-13 20:21] Beamanator commented on #8602
@michaelhaxhiu please take a look at the plan for this issue here: https://github.com/Expensify/App/issues/8602#issuecomment-1098449070

After making the Upwork job for this, we do not need to mark it `Exported`!

[2022-04-13 20:21] azimgd commented on #7925
Probably not too much indeed, as flatlist is quite customizable and allows passing custom props like overscan, windowsize etc.

I believe last function called `customRangeExtractor` defined at https://github.com/Expensify/App/issues/7925#issuecomment-1095459409 outlines my idea, if you would like to see a full solution before making a further decision I can work towards that as well.

[2022-04-13 20:23] janicduplessis commented on #7925
I think the fix can live in `VirtualizedList` directly as it will require knowing about a lot of internal state to apply the proper window adjustments. I don't see any uses for adding it as a prop.

[2022-04-13 20:32] AndrewGable commented on #8358
Good to go 👍

[2022-04-13 20:42] mollfpr commented on #8115
@Santhosh-Sellavel Hi, any feedback for my proposal https://github.com/Expensify/App/issues/8115#issuecomment-1086152772?

[2022-04-13 21:04] tgolen commented on #8595
OK, thanks! I agree with @Santhosh-Sellavel that it looks much better like that.

I'm not sure I'm following this. Is it imported from react-pdf like this?
[code]

I think anything being imported from a module should always be at the top of the file and never inline.

Hm, I guess that works since this is desktop/web, but are there any alternatives to using it? It's just such an ugly UX.

[2022-04-13 21:31] mallenexpensify commented on #8124
If it's not reproducible, we should close this.  @rushatgabhane , it doesn't look like anyone is due  compensation, can you confirm?

@thesahindia can you report the bug you found in #expensify-open-source using the bug template? If you think it's helpful or relevant to link back to this issue, go for it

[2022-04-13 21:31] rushatgabhane commented on #7844
Just dropping in a possible solution for mobile, from [slack.](https://expensify.slack.com/archives/C01GTK53T8Q/p1649883736443399?thread_ts=1649883736.443399&cid=C01GTK53T8Q)

[2022-04-13 21:32] rushatgabhane commented on #8124
Let's close this then.

[2022-04-13 21:35] #8124 closed

[2022-04-13 21:36] mallenexpensify commented on #7837
@isabelastisser @mvtglobally can you test to see if you're able to reproduce? Thanks!

[2022-04-13 21:49] marcaaron opened #8637 "`Push_Authenticate` (and others) cause forced log outs when reauthentication attempt happens and a `jsonCode: 403` is returned"
## Problem

There are tons of logs like this

[code]
`passwordForm.error.invalidLoginOrPassword` means we got a `jsonCode: 403` when calling `Authenticate`, but it's not clear why.

## Solution

- Add more logging to see if we can fix this or get more information at least
- Make this log an alert. `Log.hmmm()` is way too chill.

[2022-04-13 22:08] stitesExpensify commented on #7470
@okansahin bump

[2022-04-13 22:27] marcaaron commented on #8637
In one case ([logs](https://www.expensify.com/_devportal/tools/logSearch/#sort=asc&size=10000&query=request_id%3A%226fb00b223fbfa87c-SJC%22%20AND%20timestamp%3A%5B2022-04-12T23%3A21%3A47.084Z%20TO%202022-04-13T01%3A21%3A47.084Z%5D)), looks like Auth is throwing `404 No user with that partner/userID`, but then PHP rethrows a `403` here:

https://github.com/Expensify/Web-Expensify/blob/9c7ba8f3e1812

[2022-04-13 22:31] marcaaron commented on #8637
Ah hmmm... so this is interesting... looking at other logs and this can also happen if a user hasn't validated their account yet (e.g. they created a free workspace). But we are turning all authenticate errors from NewDot into `403` because this is a string of `undefined` somehow.. cc @johnmlee101 seems indirectly related to https://github.com/Expensify/Web-Expensify/pull/33469

![2022-04-13_12-29

[2022-04-13 22:50] roryabraham commented on #7925
Can you please attempt to explain in plain English (without using code) how you will fix this problem directly and generically in `VirtualizedList`?

It's difficult to evaluate a proposal based off that code, because it's using hard-coded values. Also it just doesn't really make sense to me... the for loop doesn't do anything unless `i === itemCount`, so why not just reference that directly?

[cod

[2022-04-13 23:40] kevinksullivan commented on #7729
@mollfpr paid! @rushatgabhane @parasharrajat I have offers out to you both for reporting/C+. Can you accept so I can finalize payment ?

[2022-04-14 00:02] neil-marcellini commented on #7617
Although I have a fix for this, I'm stuck on [this bug with flow C](https://github.com/Expensify/App/pull/8611#issuecomment-1097279095). Here are the latest findings:

Something is setting the session to {"loading":false,"shouldShowComposeInput":true} after the proper user is logged in. This causes the user to no longer be authenticated, unmounting the AuthScreens, mounting the PublicScreens, and

[2022-04-14 00:07] kevinksullivan commented on #8455
https://www.upwork.com/jobs/~010a911b711f27a57e

[2022-04-14 00:08] kevinksullivan commented on #8455
@adeel0202 can you please apply so we can pay out for reporting?

[2022-04-14 00:08] #8121 closed

[2022-04-14 00:09] kevinksullivan commented on #7980
PR being worked on

[2022-04-14 00:12] MitchExpensify commented on #8572
Cannn do! [Upwork Job](https://www.upwork.com/jobs/~01a8d563c6b73d9497) created and I've invited @thesahindia for reporting bonus payment

[2022-04-14 00:13] MitchExpensify commented on #8456
Doubled the price of the [Upwork Job](https://www.upwork.com/jobs/~017e055cdacf808682)!

[2022-04-14 00:22] isabelastisser commented on #7837
Hey @mallenexpensify , did you mean to tag @isagoico? :)

[2022-04-14 00:46] rushatgabhane commented on #8455
Two points that a proposal should consider.

1.  Submit buttons shall not be disabled or blocked from being pressed in most cases. We will allow the user to submit a form and point them in the right direction if anything needs their attention. source: [FORMS.md](https://github.com/Expensify/App/blob/main/FORMS.md#submit-button-disabling)
2. Also, we need better errors, that are also translated. So

[2022-04-14 00:54] rushatgabhane commented on #8455
@Luke9389 `User.setSecondaryLoginAndNavigate()` could use a slight refactor, and localization of the error messages.
Do you think we need to create a new issue for it? This issue kinda brushes it, so might as well fix it here?

https://github.com/Expensify/App/blob/fd230734f5341faff08df79cb2a8d6e26d16b0e7/src/libs/actions/User.js#L185

[2022-04-14 01:03] janicduplessis commented on #7925
Here's my proposal for the issue described [here](https://github.com/Expensify/App/issues/7925#issuecomment-1098449646).

## Proposal

To fix `maintainVisibleContentPosition` when using `VirtualizedList` we need to make sure the visible items stay rendered when new items are added at the start of the list.

In order to do that we need to do the following:

- Detect new items that will cause conten

[2022-04-14 01:05] Christinadobrzyn commented on #8594
Posted job in Upwork:

Internal posting - https://www.upwork.com/ab/applicants/1514409181685161984/job-details
External posting - https://www.upwork.com/jobs/~0179e1c06122700be7

Waiting on proposals!

[2022-04-14 01:18] michaelhaxhiu commented on #8602
@Santhosh-Sellavel can you apply for [this job](https://www.upwork.com/jobs/~01160cf41a4dffa2e2) please

[2022-04-14 01:27] mdneyazahmad commented on #7853
@jboniface I already applied. Thank you

[2022-04-14 01:41] mdneyazahmad commented on #7917
@Santhosh-Sellavel sorry for delay. I will work on this one today. Thank you.

[2022-04-14 02:14] kbecciv opened #8640 "[$250] Web - VBA - When selecting "Saving" account, it switches to "Checking" in Connect Bank Account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-Condition workspace is created but the user doesn't have a bank account connected to the account
1. Access www.staging.new.expensify.com
2. Log

[2022-04-14 02:17] techievivek commented on #8325
I think we can still show the billing card but let's not show any of the dropdown options because none of the options is applicable with the billing card.

[2022-04-14 02:33] kbecciv opened #8641 "Web - Chats - When clicking on a searched user in LHN the page closes"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the website https://staging.new.expensify.com
2. Click Settings
3. Click on Preferences
4. Set Priority mode to #focus
5. Back to chat
6. Cl

[2022-04-14 03:02] bfitzexpensify commented on #8421
doubled price to $500

[2022-04-14 04:47] Kazuya-san commented on #8602
Hi,
If the issue is still unsolved I would like to work on it

[2022-04-14 05:20] Christinadobrzyn commented on #8594
I'm going to be ooo until April 26th so I'm going to assign a new CM to this issue.

[2022-04-14 05:22] Christinadobrzyn commented on #8357
I'm going to be ooo until April 26th so I'm going to assign a new CM to this issue.

[2022-04-14 05:24] Christinadobrzyn commented on #8311
I'm going to be ooo until April 26th so I'm going to assign a new CM to this issue. Thank you!

[2022-04-14 05:24] Christinadobrzyn commented on #8311
Price increase to $500

waiting on prosposals...

[2022-04-14 05:25] Christinadobrzyn commented on #8128
I'm going to be ooo until April 26th so I'm going to assign a new CM to this issue. Thank you!

[2022-04-14 05:26] Christinadobrzyn commented on #8119
I'm going to be ooo until April 26th so I'm going to assign a new CM to this issue. Thanks!

[2022-04-14 05:27] Christinadobrzyn commented on #7962
I'm going to be ooo until April 26th so I'm going to assign a new CM to this issue. Thanks!

[2022-04-14 05:27] Christinadobrzyn commented on #7917
I'm going to be ooo until April 26th so I'm going to assign a new CM to this issue. Thanks!

[2022-04-14 05:35] tomivs commented on #8185
I need someone to update the file "https://new.expensify.com/apple-app-site-association" in the website using the version from my fork and branch [tomivs-deeplink](https://github.com/tomivs/App/tree/tomivs-deeplink/.well-known)/apple-app-site-association).

It's not possible to make it work (even for testing), since Apple requires an updated version of that file hosted in the website in order for

[2022-04-14 05:36] Christinadobrzyn commented on #7185
I'm going to be ooo until April 26th so I'm going to assign a new CM to this issue. Thanks!

If I understand correctly, the current status is that @parasharrajat is working on a proposal.

[2022-04-14 05:41] Christinadobrzyn commented on #7739
Looks like PR is deployed and no regressions so paying @sobitneupane for the fix and @parasharrajat as the C+!

[2022-04-14 05:45] #7739 closed

[2022-04-14 05:56] Christinadobrzyn commented on #7591
Hi there! Just checking on the status of paying this out. Will we wait another week to make sure this issue isn't reproducible before payment?

I'm going to be ooo until April 26th so I'm going to assign a new CM to this issue.

Here is the Upwork job when we're ready pay - https://www.upwork.com/ab/applicants/1490909932279709696/job-details

[2022-04-14 06:31] parasharrajat commented on #8456
Hmm...no proposals yet.

[2022-04-14 07:36] sobitneupane commented on #7579
Accepted the offer.

[2022-04-14 07:53] dylanexpensify commented on #8197
@sobitneupane can we get an update here?

[2022-04-14 07:57] dylanexpensify commented on #7185
Woot! Sounds good!

[2022-04-14 07:59] dylanexpensify commented on #8129
@sobitneupane offer sent!

[2022-04-14 08:03] sobitneupane commented on #8129
Accepted

[2022-04-14 08:06] sobitneupane commented on #8197
Working on it.. I am away from my laptop for 2-3 days. Will push update in 3-4 days.

[2022-04-14 08:08] dylanexpensify commented on #8129
Nice! Payment sent, contract ended, posting removed!

[2022-04-14 08:08] #8129 closed

[2022-04-14 09:37] parasharrajat commented on #8245
I am still able to reproduce this on the simulator. I suggest we open this issue to others for testing on the real device and see if they can reproduce this.

[2022-04-14 10:44] Santhosh-Sellavel commented on #8602
Done @michaelhaxhiu !

[2022-04-14 10:46] Santhosh-Sellavel commented on #8602
@Kazuya-san this is already worked on by another contributor.

There are other [open jobs](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3A%22Help+Wanted%22) which you can work on.

[2022-04-14 10:54] Santhosh-Sellavel commented on #8115
Sorry @mollfpr, this change is fine https://github.com/Expensify/App/issues/8115#issuecomment-1092301401

But I am not on board with this https://github.com/Expensify/App/issues/8115#issuecomment-1085535267

[2022-04-14 11:24] adeel0202 commented on #8455
@rushatgabhane, shouldn't there be a separate ticket for this where we change this page's form submission behavior to keep the submit button always enabled and also add the validation errors? I think in this ticket, we should just fix the mentioned issue by adding the validation check in `submitForm` method. Let me know what you think.

[2022-04-14 11:32] parasharrajat commented on #8456
### Proposal
There are two things that need to be correct here.
1. We should enclose the whole form on the Request call page in a Form element. I created a Form component a few days back which does this, now called `SignInPageForm`. Browser autofill checks for the form elements to group the form elements together. Due to the absence of a form tag, it considers every input element on the page as pa

[2022-04-14 11:48] parasharrajat commented on #7185
I am facing the CORS issue on dev. Asked [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1649936853744769).

[2022-04-14 12:06] michaelhaxhiu commented on #8602
Paid, all done here.

[2022-04-14 12:06] #8602 closed

[2022-04-14 12:39] rushatgabhane commented on #8089
@aneequeahmad Sorry for the extreme delay. Your proposal is pretty much spot on!
[code]

And yes, you're right, this regex is wrong. Let's fix that too.

[2022-04-14 12:41] rushatgabhane commented on #8089
🎀 👀 🎀 C+ reviewed
@marcochavezf I like @aneequeahmad's [proposal](https://github.com/Expensify/App/issues/8089#issuecomment-1090940503).

Let's get the party started 👯‍♀️

[2022-04-14 12:52] rushatgabhane commented on #7835
Oh sweet! Three proposals at the same time - all of which are interesting.
I'm leaning towards the [third proposal](https://github.com/Expensify/App/issues/7835#issuecomment-1097250486). But I have some follow-up questions.

[2022-04-14 13:03] rushatgabhane commented on #7835
RNW: react native web, RN: react native

@gladiator-1 isn't RNW's createElement an unstable API? https://necolas.github.io/react-native-web/docs/unstable-apis/

Can we find a similiar alternative? Maybe use `React.createElement()`? https://reactjs.org/docs/react-api.html#createelement

[2022-04-14 13:05] kavimuru opened #8642 "Sign in - Error message displayed right after login"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/[](javascript:)

2. Log in with your any account

## Expected Result:
No error message displayed when log

[2022-04-14 13:11] kavimuru opened #8643 "[HOLD] [$250] Android - remove "(archived)" that shows up in the DM row after deleting a workspace member"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
We found this issue when executing #8437
## Action Performed:
1. Launch the app
2. Create a new workspace from an account that's on the policyExpenseChat beta (e.g @expen

[2022-04-14 13:42] rushatgabhane commented on #7591
Yes!

[2022-04-14 13:50] kbecciv opened #8644 "[Workspace Chats] Web - Chat- Archive reason not immediately available for workspace chats"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

We found this issue when executing https://github.com/Expensify/App/pull/8437
Original issue isn't fixed https://github.com/Expensify/Expensify/issues/204497

## Action

[2022-04-14 15:16] parasharrajat commented on #7185
Ok, I passed the CORS error on the desktop. but it takes me to the live bank website instead of asking for sandbox creads. I can't test the API.
Reported here https://expensify.slack.com/archives/C01GTK53T8Q/p1649949322758349

[2022-04-14 15:19] stitesExpensify commented on #8325
I think that not showing the card makes more sense than not showing the dropdown. If all of your other buttons have a dropdown and when you click the billing card nothing happens that feels like a bug to the user

[2022-04-14 15:22] stitesExpensify commented on #7470
@trjExpensify I think it's time to double this issue, doesn't look like any proposals are moving forward here.

[2022-04-14 15:27] azimgd commented on #7925
Just tested the changes on my local branch and this works pretty well. This is a modified version of the concept I mentioned above.

1. Calculate diff of prepended items by comparing `FlatList#keyExtractor`
2. Render items with new virtualized range with increased `first` and `last` values by diff
3. Let the `maintainVisibleContentPosition` shift the list and emit `onScroll` event
4. Reset the dif

[2022-04-14 15:38] luacmartins opened #8645 "[HOLD for payment 2022-05-20][$250] Update Form.md with the correct input character counter and enter press behavior"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
The Form.md doc is outdated. In particular, the sections below:

1. https://github.com/Expensify/App/blob/main@%7B2022-04-12T19:03:07Z%7D/FORMS.md#c

[2022-04-14 15:39] jboniface commented on #7853
paid everyone

[2022-04-14 15:39] #7853 closed

[2022-04-14 15:49] Puneet-here commented on #8645
Hi, I can update it.

[2022-04-14 15:57] johnmlee101 commented on #8637
😬 so your proposal is to make $twoFactorAuthCode check for true and `!==` `undefined`?

[2022-04-14 15:58] johnmlee101 commented on #8637
We can also change that to `if ($twoFactorAuthCode && $e->getCode() === 403)` potentially

[2022-04-14 16:19] kbecciv commented on #8612
@Julesssss There is another issue, we logged recently https://github.com/Expensify/App/issues/8608. Is this the same issue?

[2022-04-14 16:25] Puneet-here commented on #8645
We can make these changes:-

### Character Limits

If a field has a character limit we should give that field a max limit. This is done by passing the maxLength prop to TextInput.

[code]
Note: We shouldn't place a max limit on a field if the entered value can be formatted. eg: Phone number.
The phone number can be formatted in different ways

- 2109400803
- +12109400803
- (210)-940-0803

https://

[2022-04-14 16:27] kbecciv opened #8646 "mWeb - Payments - "Add to payment method" blinks when user accesses the menu"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access [www.staging.new.expensify.com](http://www.staging.new.expensify.com/)[](javascript:)
2. Log into any valid account
3. Tap on the "Profile

[2022-04-14 16:36] parasharrajat commented on #8031
@Beamanator Do I need to add this as well?

[2022-04-14 16:54] luacmartins commented on #8645
Your proposal looks good @Puneet-here!

[2022-04-14 16:57] mallenexpensify commented on #7837
Indeed! Sorry @isabelastisser (I'm surprised this doesn't happen 10x as much)

[2022-04-14 17:00] mallenexpensify commented on #7579
All paid @sobitneupane , thanks!

[2022-04-14 17:02] luacmartins commented on #8645
@Puneet-here please apply to the job in Upwork once it's exported.

[2022-04-14 17:07] luacmartins commented on #8456
Your proposal makes sense. I'd suggest that we refactor Form to be auto-fill enabled and convert `requestCallPage` to use it.

The reason why we are still not using `Form` is because some inputs are still being refactored. However, it seems like that page only uses TextInput which should be ready!

[2022-04-14 17:28] phivh commented on #8595
Thanks @Santhosh-Sellavel , Its totally able to refactor as your suggestion.

@tgolen

import {Document, Page, pdfjs} from 'react-pdf/dist/esm/entry.webpack';

=> Correct, we will import like this

=> Yea, that is a proposal, I will move on top when creating PR. Just want to put it there to show where is the `PasswordResponses` came from

=> Technically, we could create a custom popup to make the

[2022-04-14 17:31] thesahindia commented on #8572
Applied ✅

[2022-04-14 17:36] marcaaron commented on #8637
Haha well first I'm going to look into why is it a `String` of `'undefined'` ?

[2022-04-14 17:36] dharmik commented on #8329
@rushatgabhane : PR merged for this issue [https://github.com/Expensify/App/pull/8585](https://github.com/Expensify/App/pull/8585)

Can you please check this proposal https://github.com/Expensify/App/issues/8329#issuecomment-1087318210

CC @JmillsExpensify

[2022-04-14 17:39] rushatgabhane commented on #8329
@dharmik sorry for the delay, I've been prioritising existing PRs.

[2022-04-14 17:39] parasharrajat commented on #8456
Ok. There are a couple of challenges here.
- Button is not fixed at the bottom.
- How will we pass the additional footer message and disable the button for `isBlockedFromConcierge`.
- FullNameInputRow is not compatible with Form.
- Design on the button.
![image](https://user-images.githubusercontent.com/24370807/163443701-782c80ca-8769-4f43-9138-e16062807bb3.png)

[2022-04-14 17:41] neil-marcellini commented on #8646
We gray out and disable adding payments when the payment methods are loading, but I can't see why we would do that, so I'll ask about it in Slack.

[2022-04-14 17:43] rushatgabhane commented on #8329
@tgolen I recommend @dharmik's [proposal ](https://github.com/Expensify/App/issues/8329#issuecomment-1087318210).

We're essentially disabling multiple clicks on the button.

[2022-04-14 17:48] roryabraham commented on #7925
What would be involved in tracking visibility? I have a couple questions that make me think using the first item in the list might not be ideal:

1. What if we have a large `onStartReachedThreshold`, such that the first item on the list is not visible when we call `onStartReached` and start loading new content? Would that cause a scroll jump up to what was previously the first item in the list?
1.

[2022-04-14 17:58] roryabraham commented on #7925
Ideally we wouldn't rely on this assumption. I agree it's unlikely that content will be added in the middle of a list, but is it possible that deletion of content might simulate this case?

1. Client A has items 10-20 loaded.
1. Client B deletes items 15 and 17.
1. Client A reaches their start threshold, and fetches items 0-9. Items 15-17 are no longer valid.

Not sure if it's a problem, but it's

[2022-04-14 18:01] roryabraham commented on #7925
Again, not sure if it will be a problem for us or not, but we should call this out in documentation updates. Also, can we succinctly define what is meant by "stable"?

In our case, the list items are called "report actions", and when they're created we first generate an optimistic `clientReportActionID` and `clientSequenceNumber`. When the write response comes back from the API, we overwrite the o

[2022-04-14 18:03] deetergp commented on #8640
Seems like a prime candidate for the external contributor pool.

[2022-04-14 18:04] roryabraham commented on #7925
How will this state value be used to extend the render window?

How will clearing this state shrink the render window back to the expected range?

[2022-04-14 18:21] roryabraham commented on #7925
@azimgd I think your latest proposal is conceptually very similar to @janicduplessis's latest proposal. Both proposals:

1. Use item keys to determine the number of prepended items.
1. Save that adjustment in a separate state variable.
1. Adjust `first` and `last`, extending the range to include not only the prepended items, but also the first item before the new items were prepended.
1. After the

[2022-04-14 18:37] techievivek commented on #8325
Just started a conversation [here](https://expensify.slack.com/archives/C03U7DCU4/p1649873703142039) on slack and as per suggestion I think it will be a good idea not to show the `delete` option at all there.

[2022-04-14 18:38] pecanoro commented on #8642
I looked at this and this is probably due to changing testing accounts often since the report that is supposed to be missing belongs to another user. I think we cache it or something so when we open the app we go back to the same one. I tried to reproduce it but I couldn't, so I am going to close this.

[2022-04-14 18:38] #8642 closed

[2022-04-14 18:58] janicduplessis commented on #7925
Visibility tracking should be relatively straightforward as VirtualizedList has context for scroll metrics and all item positions. However I'm not sure it is needed. Basically the goal of this piece of code is to determine if the native implementation of maintainVisibleContentPosition will be triggered, and by how many our items have been moved by new items added before our virtualization window (

[2022-04-14 19:15] janicduplessis commented on #7925
I think this would work still, it would be more like an item update / replace. In this case the code to find first item will not detect any change, or detect the first item no longer exist, which both case result in no change to windowing. Should add this in the list of things to test though!

It is added to the first / last state in render (https://github.com/Expensify/react-native/pull/8/files#d

[2022-04-14 19:19] adelekennedy commented on #8594
[internal](https://www.upwork.com/ab/applicants/1514684595933376512/job-details)
[external](https://www.upwork.com/jobs/~01f4af78f09c7085ee)

[2022-04-14 19:42] mallenexpensify commented on #8077
It showed up!
<img width="940" alt="image" src="https://user-images.githubusercontent.com/22508304/163463958-4947475b-d64b-4d9a-9960-63c4ecb76a12.png">

Commented on the issue too.

[2022-04-14 19:42] #8077 closed

[2022-04-14 19:45] thienlnam commented on #7591
How come we're waiting another week? It's been 7 days since the most recent PR (https://github.com/Expensify/App/pull/8285) deployed to production correct?

[2022-04-14 19:52] rushatgabhane commented on #7591
@thienlnam the PR was in staging for 1 day only.

[2022-04-14 19:53] thienlnam commented on #8185
It's not possible to make it work (even for testing), since Apple requires an updated version of that file hosted in the website in order for [Associated Domains Entitlement](https://developer.apple.com/documentation/bundleresources/entitlements/com_apple_developer_associated-domains) to work.

Are these steps to have it tested on development?  Once your pull request is on production do we still n

[2022-04-14 19:59] thienlnam commented on #7591
I'm not sure I see the issue with that, if it's been on production then it's also been on staging this time

[2022-04-14 20:13] mountiny commented on #7317
I am going to be ooo for 5 weeks so I am reassigning this issue to a new CME. I will assign you to the PR review too! Thank you very much 🙇

[2022-04-14 20:14] stitesExpensify commented on #8503
Moving to monthly

[2022-04-14 20:15] stitesExpensify commented on #7968
@mollfpr bump

[2022-04-14 20:15] stitesExpensify commented on #8404
Not overdue

[2022-04-14 20:15] luacmartins commented on #7856
Looks like payment was due yesterday. @stephanieelliott could you check if this has been paid out? Thanks!

[2022-04-14 20:22] mountiny commented on #7855
I am going ooo for 5 weeks so I am re-assigning some CME issues assigned to me. Here, @parasharrajat is already assigned to this issue and works on the PR for it. Thank you for helping @pecanoro!

[2022-04-14 20:22] luacmartins commented on #5070
The [PR](https://github.com/Expensify/Web-Expensify/pull/33416#issuecomment-1089458386) was deployed to production 9 days ago. Closing this issue.

[2022-04-14 20:22] #5070 closed

[2022-04-14 20:23] mountiny commented on #8421
I am going ooo for 5 weeks so I am re-assigning some CME issues assigned to me. This one still awaits a proposal! Thank you for your help @deetergp!

[2022-04-14 20:24] mountiny commented on #8573
I am going ooo for 5 weeks so I am re-assigning some CME issues assigned to me. This one still awaits a proposal! Thank you for your help @iwiznia!

[2022-04-14 20:25] roryabraham commented on #7925
Okay @janicduplessis I'm going to assign this issue to you. The next steps will be:

1. Complete implementation of https://github.com/Expensify/react-native/pull/8. There are some changes that are required that you've mentioned already. It would also be good to add some automated tests if possible (to improve the likelihood of Meta merging the changes upstream).
1. Merge https://github.com/Expensi

[2022-04-14 20:30] mountiny commented on #7859
I am going ooo for 5 weeks so I am re-assigning some CME issues assigned to me. This one still awaits reproduction steps! Thank you @roryabraham for help!

[2022-04-14 20:33] stitesExpensify commented on #8404
PR is now merged

[2022-04-14 20:35] neil-marcellini commented on #8646
This could be external, but I'm going to take it for myself. I think it would be worth fixing, but I'll wait for more feedback before I start working on it.

[2022-04-14 20:36] mollfpr commented on #7968
Sorry @stitesExpensify , I’m not finding anything new, I’ll try to take a look at this issue again later.

[2022-04-14 20:57] tgolen commented on #8329
OK, thanks! I'm looking at the proposal, and I don't quite fully understand this:

<img width="522" alt="image" src="https://user-images.githubusercontent.com/1228807/163473629-e44ea8cd-f77e-49b3-9f90-2599eb143ee3.png">

It appears to me like `this.setState()` would only ever get called when the menu is active, so why keep the logic for `isCreateMenuActive: !state.isCreateMenuActive,`?

[2022-04-14 21:10] Luke9389 commented on #8445
OK, so just to be sure I understand here, the problem is that when we split a payment with someone, the "Requested ...." message doesn't show up immediately, correct?

[2022-04-14 21:19] Luke9389 commented on #8455
If we were to create a new ticket to change this form's submission behavior, we'd solve this issue simultaneously, right? So either way this is going to be a single issue.

[2022-04-14 21:47] michaelhaxhiu commented on #8235
Re-applying the `Engineering` label to trigger re-assignment. @Justicea83 if you don't have time to take this, feel free to un-assign like normal btw. I was just seeing if this approach may find someone who's interested

[2022-04-14 21:51] kbecciv opened #8648 "Phone Account - SMS validation link is not received for creating new phone account (Ukraine region)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Enter the phone number +380672202413 for creating new account
3. Tap Send Validation Link

## Expected

[2022-04-14 21:51] michaelhaxhiu commented on #8644
@yuwenmemon just to confirm, do you think this issue should be internal or external?

[2022-04-14 21:55] jliexpensify commented on #8460
Bump @Julesssss for approval!

I'll be re-assigning this as I am OOO until the 30th.

[2022-04-14 21:58] jliexpensify commented on #8460
Kadie is also OOO for the next week, so re-assigning again.

Job created here:

Internal: https://www.upwork.com/ab/applicants/1512285496911982592/job-details
External: https://www.upwork.com/jobs/~01fe244a40dd2dfb79

Just awaiting confirmation from Jules.

[2022-04-14 22:09] jliexpensify commented on #8352
OOO for 2 weeks, so re-assigning my issues - thanks Matt!

[2022-04-14 22:10] jliexpensify commented on #8287
Bump @Puneet-here - can you review @Santhosh-Sellavel 's comment?

Also, re-assigning as I will be OOO for 2 weeks.

[2022-04-14 22:12] jliexpensify commented on #8115
Kadie and I are both OOO for the next 2 weeks so re-assigning to keep this moving!

[2022-04-14 22:12] rushatgabhane commented on #7591
@thienlnam yeah you're right. I was mistaken that we had to wait for 14 days (7 in staging + 7 in production)

[2022-04-14 22:13] jliexpensify commented on #7596
Reassigning as I'm OOO for 2 weeks: it looks like payment will need to be made within that time frame.

Internal - https://www.upwork.com/ab/applicants/1493422908376997888/job-details
External - https://www.upwork.com/jobs/~01ed5925c98421d1c6

[2022-04-14 22:15] yuwenmemon commented on #8644
This can be external!

[2022-04-14 22:17] jliexpensify commented on #8249
Re-assigning as I'm headed OOO for 2 weeks. @Tushu17 how are you going with the PR?

Internal - https://www.upwork.com/ab/applicants/1506393001208500224/job-details
External - https://www.upwork.com/jobs/~01eb2ca968028a8234

[2022-04-14 22:20] jliexpensify commented on #7307
Re-assigning as I am OOO for 2 weeks.

Internal - https://www.upwork.com/ab/applicants/1483987676649086976/job-details
External - https://www.upwork.com/jobs/~01d1d7546259125a4f

[2022-04-14 22:24] jliexpensify commented on #7486
Reassigning as Kadie and I are OOO for 2 weeks. Thanks!

Internal - https://www.upwork.com/ab/applicants/1500949728672010240/job-details
External - https://www.upwork.com/jobs/~01aab77c791969cfcd

[2022-04-14 22:40] MitchExpensify commented on #8572
Offer sent!

[2022-04-14 22:41] Beamanator commented on #8031
@parasharrajat Yes we should include the decision made in Slack. Would you mind restating exactly what you plan to do before moving forward with this?

[2022-04-14 22:43] MitchExpensify commented on #7486
[Upwork Job](https://www.upwork.com/jobs/~01a26288715c920eb8)

[2022-04-14 22:44] Beamanator commented on #8507
Still waitin 😅

Bump @stephanieelliott

[2022-04-14 22:45] Beamanator commented on #8467
Guess this can be doubled @arielgreen ? :D

[2022-04-14 23:07] stephanieelliott commented on #3245
We needed to create a new $2500 job in Upwork for this, the old one was incorrect.

Created the job here: https://www.upwork.com/jobs/~016cc1da42d4cf9fec

@mananjadhav and @parasharrajat I invited you both to the job, please accept and I will issue payment ASAP!

[2022-04-14 23:11] stephanieelliott commented on #7081
@mananjadhav are you still working on this? Requested PR changes have not yet been addressed, can you give a progress update here please?

[2022-04-14 23:18] stephanieelliott commented on #7856
@kidroca is all paid up for the job + reporting bonus!

@rushatgabhane you were invited to the job in Upwork, please accept so I can pay you for C+. Job is here: https://www.upwork.com/jobs/~01999d68f951063456

[2022-04-14 23:22] stephanieelliott commented on #8048
All paid, thanks!

[2022-04-14 23:22] #8048 closed

[2022-04-14 23:26] stephanieelliott commented on #8134
Hey @mollfpr, please apply to the job on Upwork so we can formally hire you! https://www.upwork.com/jobs/~017fecd4f1b010dc8e

[2022-04-14 23:32] stephanieelliott commented on #8284
Hey @thesahindia @rushatgabhane, please accept the job in Upwork so I can issue payment! https://www.upwork.com/jobs/~0111faeed333d9825d

[2022-04-14 23:34] stephanieelliott commented on #8396
2x'd to $500: https://www.upwork.com/jobs/~016be1280a5e18a4d5

[2022-04-14 23:40] stephanieelliott commented on #8507
Oop sorry, I've been at a conference!

Exported to Upwork: https://www.upwork.com/jobs/~015cbd0907cf5b8a05

[2022-04-14 23:44] stephanieelliott commented on #8593
Exported to Upwork: https://www.upwork.com/jobs/~0109467a22a120bcb4

[2022-04-15 00:17] rushatgabhane commented on #7856
@stephanieelliott thanks but there is no C+ work for this issue. The [proposal ](https://github.com/Expensify/App/issues/7856#issuecomment-1068289044) was accepted before I was assigned

[2022-04-15 00:27] mallenexpensify commented on #5070
Thanks for the help with this @luacmartins , was a nagging issue for me (hope it helps us 🤞 )

[2022-04-15 02:27] mollfpr commented on #8134
@stephanieelliott applied!

[2022-04-15 04:07] janicduplessis commented on #7925
Updated https://github.com/Expensify/react-native/pull/8 to use the first item key as indicator of items being added, the bidirectional paging example now works properly when scrolling in both directions.

[2022-04-15 05:19] dharmik commented on #8329
@tgolen :

`isCreateMenuActive: !state.isCreateMenuActive` When popup is on and when click on back side of screen we have to hide popup menu so we can change and make direct to  `isCreateMenuActive: false`

Updated Proposal:
Cause is already shared by [mollfpr](https://github.com/mollfpr)

onCreateMenuItemSelected function is triggered to close the popover after select a specific menu item. so I t

[2022-04-15 05:41] roryabraham commented on #8272
Going to hold off on this pending the result of [this slack discussion](https://expensify.slack.com/archives/C01GTK53T8Q/p1650000922985319).

[2022-04-15 06:02] parasharrajat commented on #8507
I don't think we can fix this. I have mentioned this quite a few times that we can't have fixed button on the mWeb(Safari). I request QA team to take a note of this for future. cc: @Beamanator

[2022-04-15 06:30] SumitDiyora opened #8651 "[High]: Chrome+Jaws : Screen reader: Role and label are not defined for "Start a call", "Pin", "Actions", "Emoji" and "Send" controls."
## Action Performed:
1. Using Chrome+JAWS, open URL: staging.new.expensify.com
2. Navigate to Settings > Workspace > More > Create a New Workspace and activate it.
3. Navigate to "Start a call", "Pin", "Actions", "Emoji" and "Send" controls using the screen reader.
4. Observe the screen reader announcement.

## Expected Result:
When a role is defined appropriately for the interactive element, the

[2022-04-15 07:53] thesahindia commented on #8284
Applied ✅

[2022-04-15 07:55] thesahindia commented on #8572
Accepted the offer.
Thanks.

[2022-04-15 11:36] mollfpr commented on #8134
@parasharrajat should I raise the PR now or wait for @Luke9389 response?

[2022-04-15 11:40] michaelhaxhiu opened #8652 "[$500] Upgrade OnFido SDK to 8.0.0"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
## Expected Result:

- OnFido needs to be updated to the newest version of the SDK (6.20.0), and so we need to upgrade accordingly -- full details of the new release are

[2022-04-15 11:42] michaelhaxhiu commented on #8652
@marcaaron can you help confirm that this is eligible for `External`?

[2022-04-15 12:42] mananjadhav commented on #7081
@stephanieelliott Apologies, I was ooo and been closing all tasks one by one.

[2022-04-15 12:49] barun1997 commented on #7962
Thanks, @roryabraham. Looking into it! cc @parasharrajat

[2022-04-15 13:11] parasharrajat commented on #8134
@Luke9389 Could you please review the [proposal](https://github.com/Expensify/App/issues/8134#issuecomment-1096807232)?

[2022-04-15 13:30] aneequeahmad commented on #2727
### PROPOSAL

As the problem is already highlighted in the react-native community as this is a react-native bug.

**Solution 01**

using the `useSafeAreaFrame()` hook from `react-native-safe-area-context`. It works really well as a replacement if you make sure to only have one SafeAreaProvider at the top level of your app. Many libraries like `react-native-collapsible-tab-view` have done this to a

[2022-04-15 14:01] SumitDiyora opened #8654 "[Medium]: Color Contrast: Insufficient color contrast for 'Card ending in 0004' text control."
## Action Performed:
1. Using Chrome, open URL: staging.new.expensify.com
2. Navigate to Settings > Payments and activate the 'Ionatan Wiznia ...' control.
3. Navigate to the 'Ionatan Wiznia ...' control using the Tab key.
4. Observe that the analyser reports that the contrast ratio is not sufficient.

## Expected Result:
The "Card ending in 0004" text control should have a contrast ratio against

[2022-04-15 14:46] tgolen commented on #8595
I checked with a few people on the team and we don't want to use `prompt()` for this. The UX of it is sub-par to the experience of the app and we would like to use our own form for this. Could the password form be embedded in the attachment modal?

[2022-04-15 14:50] SumitDiyora commented on #8305
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - #6764, #7831, #8050, #8053, #8063, #8087, #8160, #8174, #8181, #8203, #8204, #8205, #8211, #8231, #8242, #8254, #8257, #8258, #8262, #8265, #8266, #8271
Waiting for client confirmation: #8093
Logged Issues - #8019, #8173, #8195, #8196, #8206, #822

[2022-04-15 14:52] tgolen commented on #8329
OK, thanks! @dharmik does the proposal still need this then?

[code]

[2022-04-15 14:55] dharmik commented on #8329
@tgolen No its not needed, i removed it from last proposal

[2022-04-15 15:00] tgolen commented on #8329
OK, got it. Thanks for confirming that! I didn't know if it was left out as a mistake or not. The only last thing that I request is to rename `toggleCreateMenu()` to `hideCreateMenu()` now 👍

@JmillsExpensify 🟢  for hiring @dharmik

[2022-04-15 15:02] dharmik commented on #8329
Okay i will rename it.

[2022-04-15 15:46] luacmartins commented on #8456
Hmm ok, there are some other known issues with `Form`, e.g. https://github.com/Expensify/App/issues/8567. So maybe we postpone using it for now until it's ready. We can continue with your proposal [here](https://github.com/Expensify/App/issues/8456#issuecomment-1099093468), without the Form suggestion for now.

[2022-04-15 15:47] #8568 closed

[2022-04-15 15:56] JmillsExpensify commented on #7270
Not exactly the entire week, though no one is going to complain on the weekend anyway. I'm going to close this out as I run through my Friday chores.

[2022-04-15 15:56] mallenexpensify commented on #8248
Paid @phivh and @Santhosh-Sellavel . $250/ea for the fix and reporting
@parasharrajat can you accept the offer and I'll pay ya?
https://www.upwork.com/jobs/~01b112c8f969451c2f

[2022-04-15 16:02] JmillsExpensify commented on #8119
Cool. Happy to jump in! @mananjadhav Any update on this issue?

[2022-04-15 16:07] JmillsExpensify commented on #8287
Jumping in for @jliexpensify while he's out. 🙌

[2022-04-15 16:11] JmillsExpensify commented on #8329
@dharmik hired. (cc @rushatgabhane I've invited you as well).

[2022-04-15 16:41] Beamanator commented on #7486
@MitchExpensify want to assign another CM? :D

[2022-04-15 17:14] Beamanator commented on #8507
That does sound a bit familiar @parasharrajat

How would you suggest we best keep people informed of this limitation? Is it documented somewhere already? If not, maybe it should be?

[2022-04-15 17:14] Beamanator commented on #8507
Removing Help Wanted for now since it's likely this can't be fixed

[2022-04-15 17:19] parasharrajat commented on #8507
I don't think this is documented somewhere. Currently, the safari M-web flexbox does not work the same as other browsers. But yeah, it would be good to document it or track it somewhere so if there is a solution to it, we can apply that.

[2022-04-15 17:39] parasharrajat commented on #8031
Ok, I found that if we want to close the edit box while going back to LHN, we have to lose the draft messages as well.

Edit box depends on the presence of draft message directly https://github.com/Expensify/App/blob/1ff6625a19f56f9d636edc09a1d2f76d5f7a893c/src/pages/home/report/ReportActionItem.js#L139

[2022-04-15 18:04] stephanieelliott commented on #3245
All paid!

[2022-04-15 18:04] #3245 closed

[2022-04-15 18:11] #7856 closed

[2022-04-15 18:56] MitchExpensify commented on #7486
Ohhhhh haha @Beamanator ! I thought the label had been applied in error, my mistake. Yes I got this no prob

[2022-04-15 18:59] MitchExpensify commented on #8572
Paid and contract ended! closing

[2022-04-15 18:59] #8572 closed

[2022-04-15 20:04] yuwenmemon commented on #8470
FYI, from testing it looks like the other way around doesn't work either.

If I'm logged in as User A, and then get invited to Workspace X by User B, I don't see the announce room for Workspace X until signing out and then back in again - are we aware of that?

[2022-04-15 20:09] Beamanator commented on #8031
Ok, personally I think that's ok because it's just a draft **edit**

[2022-04-15 20:23] jboniface commented on #8541
@iwiznia @parasharrajat bump for proposal review

[2022-04-15 20:28] jboniface commented on #8502
Should we close this then @pecanoro ?

[2022-04-15 20:33] jboniface commented on #7497
increased to $4,000

[2022-04-15 20:43] Beamanator commented on #8507
Would you mind trying to find some other resources showing Safari M-Web Flexbox doesn't work / doesn't work for our needs? Maybe other GH issues in this repo that you've seen? If you could do that & present an idea for documenting / tracking in #expensify-open-source I think we can compensate you $250 as if it's a normal job

[2022-04-15 21:32] deetergp commented on #8289
The PR for this has bee submitted and merged.

[2022-04-15 21:59] marcaaron opened #8655 "[HOLD for payment 2022-05-25][$1000] Non-unique keys React warning. Possibly related to RenderHTML ?"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Build the app on dev in iOS

## Expected Result:
1. No console warnings are seen

## Actual Result:
1. Console is complaining with this:

![2022-

[2022-04-15 22:04] mallenexpensify commented on #8644
Posted! https://www.upwork.com/jobs/~0161ef6695919d8c97

[2022-04-15 22:09] parasharrajat commented on #8541
Missed it. I will get back to it asap.

[2022-04-15 22:15] marcaaron commented on #2727
Sorry not looking for replacements (we already have a workaround deployed).
Fix in react-native repro is a requirement for this issue.

[2022-04-15 22:41] mallenexpensify commented on #8034
Doubled price to $500
https://www.upwork.com/jobs/~0188dac8c590e2d011

[2022-04-15 23:26] kevinksullivan commented on #8101
price doubled.

[2022-04-15 23:28] marcaaron commented on #8637
Ahahaha OK so if we send any parameter to Web-Expensify with `FormData` it will show up as `'undefined'`. Think it's pretty safe to say we will never want to do this for any reason.

[2022-04-15 23:30] kevinksullivan commented on #7968
Job was no longer accepting new proposals so paid out @adeel0202 for reporting and reposted a new job with the price doubled.

https://www.upwork.com/jobs/~011442245749e3e1fd

[2022-04-15 23:32] tomivs commented on #8185
This is necessary not only for testing, but also for production. Because iOS requires that file to be uploaded to the web server. Every time Deep Links are updated/changed, this file must be updated in the web server for iOS.

[2022-04-15 23:39] marcochavezf commented on #7079
No update yet, focused on App Offline First, but I want to continue with this issue soon

[2022-04-15 23:40] marcochavezf commented on #7586
I've been focused on Offline First, but I will come back to it soon

[2022-04-15 23:40] marcochavezf commented on #8468
Focused on Offline first, I'm going to continue with this issue soon

[2022-04-16 00:12] kevinksullivan commented on #8470
Hm I didn't catch that in my first [test run](https://docs.google.com/document/d/15dlNuGsFSFRTy2lziExW2j8_vARPKll-pYDwQIRZorg/edit#heading=h.k7cxic8i7ncc) while removing / re-adding a user. I definitely was not logging out and back in to see the rooms either.

[2022-04-16 00:14] kevinksullivan commented on #8470
I just tested by inviting kevin+0000@expense.business and I had to hard refresh to see the room, but didn't need to log out/ log in.

[2022-04-16 00:31] mallenexpensify opened #8657 "[HOLD #11768] [$8000] The Back ⌘[ and Forward ⌘] shortcuts keys are not working as expected when navigating via RHN (Right Hand Navigation)"
[BELOW IS THE PROCESS OF BEING EDITED/UPDATED AND IS ON HOLD]

If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Breaking this off from https://github.com/Expensify/App/issues/4612, that issue will be focused solely on L

[2022-04-16 00:38] mallenexpensify commented on #8657
Job posted https://www.upwork.com/jobs/~0173c88d53b4915da6

[2022-04-16 00:48] mallenexpensify commented on #4612
OK... I got this split in two! This issue is specific to LHN and the new one https://github.com/Expensify/App/issues/8657 is specific to navigation in the main chat view/window.

Repriced this to $8000, other is $8000 too.
New job https://www.upwork.com/jobs/~01fe76a840ceb332a4

[2022-04-16 00:53] Salehmrcp commented on #8657
It is js coding issue
i can fix it easy

[2022-04-16 04:48] dharmik commented on #8460
@jliexpensify I shared one [proposal](https://github.com/Expensify/App/issues/8460#issuecomment-1092718039) and it looks fine as per comment [issuecomment](https://github.com/Expensify/App/issues/8460#issuecomment-1092754905)

Let me know something more information need from my side.

[2022-04-16 11:05] orkunkarakus commented on #7497
I've read it CONTRIBUTING.md, but I don't understand exactly what you want. If you tell me exactly where you want me to describe it, I can explain it to you.

Gesture Responder System in react native has some variables that we use to fix these problems. When we define this variable on the scrollview, our problem is solved.

[2022-04-16 11:58] murataka commented on #4612
I think the expected behavior should be explained in more detail now , it is hard to understand the intended behavior .
is "navigation in the main chat view/window" , the RHN ?  Do we need the navigation to be in sync with the navigation history and would  the back and forward keys  reflect the same list of navigated items , or would navigating change the order of the items on RHN, or should it ha

[2022-04-16 13:46] dharmik commented on #8329
@tgolen @rushatgabhane PR raised

[2022-04-16 15:43] kbecciv opened #8660 "Web - Able to create two workspaces at the same time"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the website https://staging.new.expensify.com
in browser
2. Click on the action selection button (New chat, New group.....) and leave this w

[2022-04-16 16:36] eVoloshchak commented on #8311
**Root cause:**
When we long press on an email/link,[ BaseAnchorForCommentsOnly's](https://github.com/Expensify/App/blob/main/src/components/AnchorForCommentsOnly/BaseAnchorForCommentsOnly/index.js) [onSecondaryInteraction](https://github.com/Expensify/App/blob/6c53be1ea7a022e8a5e788cc7e7efd62c4573474/src/components/AnchorForCommentsOnly/BaseAnchorForCommentsOnly/index.js#L62) is fired, calling `R

[2022-04-16 16:46] mollfpr commented on #8421
## Proposal

### **Why**
We use `AnchorRenderer > AnchorForCommentsOnly > BaseAnchorForCommentsOnly` to render anchor tag of html message and inside `BaseAnchorForCommentsOnly`, we use `PressableWithSecondaryInteraction` to wrap the anchor tag we want to render with `LongPressGestureHandler`. For some reason the anchor tag we want to render is has wrap with `user-select: none`. It's either from `r

[2022-04-16 17:17] Santhosh-Sellavel commented on #7862
@trjExpensify Let's Double this one!

cc: @chiragsalian

[2022-04-16 17:37] rushatgabhane commented on #8469
I have a domain, but I'm clueless on how to create a domain chat room.

[2022-04-16 18:08] mountiny commented on #8421
@mollfpr Could you confirm everything works well on mobile with longpress on the link? No weird text selection behaviour?

[2022-04-16 20:18] mollfpr commented on #8421
For mobile, I think everything should be fine since the updated style for `BaseAnchorForCommentsOnly` is not targeting the native platform.

https://user-images.githubusercontent.com/25520267/163689866-eca05376-ef07-4689-892a-308d9fc40ed5.mov

---

For mWeb we have an issue.

https://user-images.githubusercontent.com/25520267/163689956-74b6c12b-3d16-449a-9a83-ded7942bee77.mov

In this case we can

[2022-04-16 20:24] mountiny commented on #8421
Thanks for the update @mollfpr, I will let Santosh and Scott handle this issue 🙌

[2022-04-16 21:38] Tabakharniuk commented on #6301
Technical notes:
1. I had some difficulties with @react-native-community/image-editor so I end up using react-native-image-manipulator. It is a non-expo copy of https://www.npmjs.com/package/expo-image-manipulator
2. I had to bump up react-native-gesture-handler since 1.x.x version does not work in modals on android

[2022-04-16 21:43] Tabakharniuk commented on #6301
@mallenexpensify I've just finished development. Now need only to localize a couple of words into Spanish.
1) Who may help me with that? :)
2) Should I wait for translations, before marking it as ready for review?

[2022-04-16 21:52] mateusbra commented on #7497
### PROPOSAL
We must create a new Renderer to deal with `<pre>` tags:
https://github.com/Expensify/App/blob/6c53be1ea7a022e8a5e788cc7e7efd62c4573474/src/components/HTMLEngineProvider/HTMLRenderers/index.js#L9-L13
add:
[code]
Create our component PreRenderer.js(I used [CodeRenderer.js](https://github.com/Expensify/App/blob/main/src/components/HTMLEngineProvider/HTMLRenderers/CodeRenderer.js) as a b

[2022-04-17 02:18] kbecciv opened #8661 "[$2000] Web - Chat - Gaps are displayed in the chat conversation on high traffic account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. https://staging.new.expensify.com
2. Log in with High Traffic Account (applausetester+0901abb@applause.expensifail.com)
3. Search for the user mo

[2022-04-17 02:37] mvtglobally opened #8662 "[HOLD for payment 2022-05-20][$250] After changing language to Espanol "Are you sure" didn't change - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Change the default language to Espanol
 2. Add bank account manually
 3. Fill the company form and submit it, after that you will see personal i

[2022-04-17 02:58] mvtglobally opened #8663 "[$250] mWeb/Chrome - Text Insertion point goes out of the sight on typing in the middle of the paragraph - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Go Chat
 2. Write 10-12 line text
 3. Type some words on the 4th-5th line.

## Expected Result:
Text insertion point should remain at a constant

[2022-04-17 05:14] owjhart commented on #7968
# Proposal

Suppress the Keyboard listener logic in `Button.js` when there are no focused buttons by using a 'focus count'. This is a simple solution that does not involve a large project refactor.

## Implementation
1. Add a global variable at the top of Button.js which will be used to track the number of buttons that have focus.
2. Increment focus count in the Pressable `onFocus`
3. Decrement fo

[2022-04-17 08:18] Puneet-here commented on #8662
### Proposal
https://github.com/Expensify/App/blob/6c53be1ea7a022e8a5e788cc7e7efd62c4573474/src/pages/workspace/WorkspaceResetBankAccountModal.js#L39
need to change it to
[code]
and we also need to add that key at en.js and es.js

I think the translation of "Are you sure" in spanish would be "Estás seguro". Correct me if the translation is wrong.

[2022-04-17 08:22] Puneet-here commented on #8469
Yeah me too, I found a private domain email from temp mail site and tried creating a domain chat but couldn't do it.

[2022-04-17 08:22] robertjchen commented on #8662
Looks good, though I believe the exact translation would have to be "`¿Estás seguro?`". Tagging as `External` for next steps, thanks!

[2022-04-17 12:09] rushatgabhane commented on #8158
Sorry for the delay, I had issues with electricity and internet.

[2022-04-17 13:06] rushatgabhane commented on #8158
I think you're right.

For mobile web increase the width of layout text (e.nativeEvent.layout.width + 1) so that it will always be greater than 1.

And I like this simple solution. +1 width isn't noticeable and fixes the issue.
@pecanoro I recommend @aneequeahmad's [proposal](https://github.com/Expensify/App/issues/8158#issuecomment-1095018342).

🎀 👀 🎀 C+ reviewed

[2022-04-17 13:07] rushatgabhane commented on #8158
@eVoloshchak thanks for your proposal. I'd suggest that you log this issue on Slack. Thanks so much!

[2022-04-17 13:16] mananjadhav commented on #7432
Hi,
I was able to test the flow earlier and it seems it has changed with the latest changes. I've got two additional steps:
1. InFido verification
2. It is asking to chat with Concierge for validating the bank account.

<img width="1058" alt="image" src="https://user-images.githubusercontent.com/3069065/163716005-5c6252e9-cf4c-42eb-9308-a888821cab9c.png">

[2022-04-17 13:39] rushatgabhane commented on #8455
I agree as well.

[2022-04-17 13:50] rushatgabhane commented on #8034
Ohhh okay. I don't like that idea, why not just rename? Won't it be easier while achieving the same thing?
`isGroupSplit` -> `isSplitInitiatedFromGroupOrRoom`

So it'll look like this `canModifyParticipants = hasMultipleParticipants && isSplitInitiatedFromGroupOrRoom`

[2022-04-17 14:31] kbecciv opened #8664 "[HOLD for payment 2022-05-20][$250] Android/IOS - Link is not aligned vertically in pay bills section on public domain @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. launch the app
2. Log in with gmail account
3. Go to any Workspace - Bills

## Expected Result:
Link is aligned vertically in pay bills section o

[2022-04-17 15:01] thesahindia commented on #8664
### Proposal

https://github.com/Expensify/App/blob/6c53be1ea7a022e8a5e788cc7e7efd62c4573474/src/pages/workspace/bills/WorkspaceBillsFirstSection.js#L57-L59
Using `Text` instead of `TouchableOpacity` will fix this.
[code]

Shouldn't we add a `NewWindow` icon here because it's a hyperlink?

[2022-04-17 15:08] aneequeahmad commented on #8356
@mvtglobally Could you please provide a video that has steps to reproduce this issue? I can't find how to create a new room

[2022-04-17 15:11] kbecciv opened #8665 "Android - Status bar color is different when a modal/popover is open @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Open App
Click on +
Check the status bar color

## Expected Result:
Status bar color should also change

## Actual Result:
Status bar color is diffe

[2022-04-17 15:17] kbecciv opened #8666 "[HOLD for payment 2022-05-23] [$250] Android - When you navigate back using the back arrow the keyboard takes time to close @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to settings > Profile
2. Tap on any field so that your keyboard gets open
3. Press back arrow ( top left )

## Expected Result:
Keyboard shoul

[2022-04-17 15:47] Santhosh-Sellavel commented on #8356
@sobitneupane Can you provide steps more clearly?

[2022-04-17 15:48] eVoloshchak commented on #7844
**Proposal for native:**
Making use of the [MenuItem's](https://github.com/Expensify/App/blob/main/src/components/MenuItem.js) `description` prop, the result looks like this:

https://user-images.githubusercontent.com/9059945/163721970-b29c5b98-3d53-4b40-a8cd-18b21d2797dd.mp4

**Implementation:**

1. Pass an additional `description` prop through [ReportActionContextMenu](https://github.com/Expensi

[2022-04-17 15:59] Santhosh-Sellavel commented on #8034
isGroupSplit -> isSplitInitiatedFromGroupOrRoom

But I think [this](https://github.com/Expensify/App/issues/8034#issuecomment-1093354281) is simple & much cleaner solution.

I'll leave it to @roryabraham to make the final call.

[2022-04-17 18:11] Santhosh-Sellavel commented on #7968
Looking for a better proposal.

[2022-04-17 19:27] gladiator-1 commented on #7835
@rushatgabhane Thank you  for showing your interest in my proposal.

Yes.

Can we find an alternative to it? How about React.createElement()?

`React.createElement` do the same as RNW `createElement`, so we can use it.

We use inline HTML and it works fine.

_web:_
HTML `<video>` element is the simplest way to play a video file, it can play the uploaded videos inline.
if you need more options or p

[2022-04-17 23:32] kadiealexander commented on #7424
Apologies @kidroca I didn't realise the Upwork job had closed. Could you please apply here so we can get you paid?

https://www.upwork.com/ab/applicants/1515835444097523712/job-details
https://www.upwork.com/jobs/~01bea655d1a3ea7f17

[2022-04-18 00:29] bfitzexpensify commented on #7317
Hi @mananjadhav — how are things looking here? Anything that you need help with?

[2022-04-18 01:29] mateusbra commented on #7909
@mallenexpensify my proposal on https://github.com/Expensify/App/issues/7909#issuecomment-1094160040 explains how we could use new links to mirror the current functionality of clicking the 📞  _start a call_ buttom here.
But as I said, it needs a change in the BE.

[2022-04-18 01:58] quinthar commented on #7618
Doubling again to $32,000 big ones!

[2022-04-18 03:58] phivh commented on #8595
@tgolen should we consider to change the type of this bug to feature request? If we use the password form it could affect to the UI.

[2022-04-18 05:24] mananjadhav commented on #8119
Sorry I didn't receive a notification for this. I've reviewed both proposals.

@metehanozyurt I checked your proposal as well. I like the fact we're simplifying the logic for `setImageRegion`. Do you know if it impacts any other scenarios?  I can see some calculations on aspectRatio.  One issue that I found after applying your proposal is, that the first time I load the preview after uploading the

[2022-04-18 05:41] mananjadhav commented on #7317
No help. I answered some questions on the feedback and one question.

[2022-04-18 05:48] mdneyazahmad commented on #7918
This issue depends on https://github.com/Expensify/App/issues/7623 I will have to wait until that issue is fixed.

[2022-04-18 05:49] mdneyazahmad commented on #7916
This issue depends on https://github.com/Expensify/App/issues/7623 I will have to wait until that issue is fixed.

[2022-04-18 05:49] mdneyazahmad commented on #7917
This issue depends on https://github.com/Expensify/App/issues/7623 I will have to wait until that issue is fixed.

[2022-04-18 06:04] Santhosh-Sellavel commented on #7917
@mdneyazahmad How does it depend on the #7623?

cc: @thienlnam

[2022-04-18 06:18] mdneyazahmad commented on #7917
In this issue we have to fix inconsistency with `tab` and `shift + tab` which seems to work fine and also the form should submit when enter is pressed.

#### Current implementation:

`Button` component accepts `enterOnPress` as prop and register a global keypress listener for `Enter` and calls form submit function. This however does not work as expected because enter can be pressed to press a butt

[2022-04-18 06:32] aswin-s commented on #8606
Reason:

This is due to a race condition due to the order in which `Image.getSize` and `onContainerLayoutChanged` gets invoked in `ImageView` component.

If image is cached already, Image.getSize callback gets called before `onContainerLayoutChangedEvent`

[2022-04-18 06:37] parasharrajat commented on #7844
We don't need to pass the additional data from actions. The link value is available in the selection already.

Rest seems fine to fine.

@Expensify/design Does the video [here](https://github.com/Expensify/App/issues/7844#issuecomment-1100904641) look good?

[2022-04-18 06:37] parasharrajat commented on #7916
@mdneyazahmad Could you please tell us how this depends on that issue?

[2022-04-18 06:41] mananjadhav commented on #7432
FYI, I did local testing by manually changing the flags, but need one round of testing with the full flow working

@kbecciv @pecanoro

[2022-04-18 06:45] mdneyazahmad commented on #7916
In this issue we have to fix inconsistency with `tab` and `shift + tab` which seems to work fine and also the form should submit when enter is pressed.

This depends on that issue because that tries to solve the same core problem how to handle the `Enter` key press and PR for this issue will depend on the decision taken there.

cc: @parasharrajat

[2022-04-18 06:51] aswin-s commented on #8119
@mananjadhav There seems to be another [issue](https://github.com/Expensify/App/issues/8606) that impacts the testing of this one as well. I had raised a proposal to fix that one over [here](https://github.com/Expensify/App/issues/8606#issuecomment-1101141279). Once I add that fix to my above proposal the zoom seems to work properly. Could you please verify my complete proposal below.

[code]

[co

[2022-04-18 07:00] parasharrajat commented on #7916
I think you can move ahead with pressOnEnter in this issue. Do you need anything else?

[2022-04-18 07:26] Santhosh-Sellavel commented on #7917
Thanks, @mdneyazahmad. Let's not wait for it.
Perform the audit on each form and list out the issues/inconsistencies.
 if there are issues with `Enter to submit`  feel free to point out that too.

 cc: @thienlnam

[2022-04-18 07:28] parasharrajat commented on #8311
Root cause seems correct but I don't like the proposal.

[2022-04-18 07:30] parasharrajat commented on #8657
@Salehmrcp Can you post a proposal? Please look at CONTRIBUTING.md for me.

[2022-04-18 07:33] parasharrajat commented on #8460
cc: @Julesssss :arrow_up:

[2022-04-18 07:34] Salehmrcp commented on #8657
I have submitted a proposal in upwork- under name hwaida mohamed
I looked also at the file

On Mon, 18 Apr 2022, 9:31 am Rajat Parashar, ***@***.***>
wrote:

[2022-04-18 07:39] parasharrajat commented on #8379
@stitesExpensify Slack is concluded with :do_nothing: What should be the next step here?

[2022-04-18 08:08] eVoloshchak commented on #8311
I've found a simpler fix:
The issue arises because in [PressableWithSecondaryInteraction/index.js](https://github.com/Expensify/App/tree/main/src/components/PressableWithSecondaryInteraction/index.js), we have a LongPressGestureHandler, which wraps Pressable, so essentially links are wrapped like this:
[code]
To fix this, we need to:

1. Add `longPressGestureHandlerEnabled={false}` to [this](https

[2022-04-18 08:13] parasharrajat commented on #8471
Yup, this is the issue. So do you consider setTimeout a solution to this? What else can be done to have a predefined order?

---

Waiting on some internal discussion.

[2022-04-18 08:16] parasharrajat commented on #8311
Ok. What is the base of this solution? Why do you think we should/have to do this?

The proposal is still lacking the proper explanation of Why the solution?

[2022-04-18 08:24] parasharrajat commented on #8220
https://expensify.slack.com/archives/C01GTK53T8Q/p1649783308226609

[2022-04-18 09:06] eVoloshchak commented on #8311
Case 1: user long presses on a comment: [LongPressGestureHandler's](https://github.com/Expensify/App/blob/6c53be1ea7a022e8a5e788cc7e7efd62c4573474/src/components/PressableWithSecondaryInteraction/index.js#L69) `onHandlerStateChange` fires, which in turn calls [onSecondaryInteraction={this.showPopover}](https://github.com/Expensify/App/blob/6c53be1ea7a022e8a5e788cc7e7efd62c4573474/src/pages/home/re

[2022-04-18 09:40] parasharrajat commented on #7623
Ok, I tried to think of a solution that works with all the buttons.
- If we want to apply the logic without touching those pages, then we will have to go with my old PR. To remove the regression, I will create a HOC then will catch the error and return `true` for isFocused when NavigationContext is not available.
- Other solution would be use
[code]
approach to applying the solution to all pages.

[2022-04-18 09:43] parasharrajat commented on #8031
Ok, I will update the PR.

[2022-04-18 09:43] parasharrajat commented on #8456
Ok. Thanks. I will push the PR shortly.

[2022-04-18 09:49] parasharrajat commented on #8311
I understood the root cause. I got your solution and how this works. But what I am asking is why your solution(Workaround)?

Why do you think we should do either of your changes? Is there any systematic way of preventing event bubbling?

---

I think there is a better solution. I will wait to see that proposal before making the choice.

[2022-04-18 09:51] parasharrajat commented on #4612
Agree, I will work on getting more details on the issue.

[2022-04-18 09:59] mdneyazahmad commented on #7623
@parasharrajat Do you think it is a good approach?

We might not need to explicitly register a global event listener for `Enter` key. `TextInput` already has `onSubmitEditing` prop which will be called when user presses `Enter`.

We have some more custom form component eg. `Checkbox`. We can pass a props like `onSubmitEditing` say `onEnterPress`. The component will internally listen for `Enter` an

[2022-04-18 10:09] eVoloshchak commented on #8311
Got it, sorry for the misunderstanding.
I'll try to find a more universal approach a bit later

[2022-04-18 10:13] kidroca commented on #7424
@kadiealexander
The job isn't closed, this is the contract: https://www.upwork.com/ab/f/contracts/29903155#milestones%2F20220320%2F20220418

Looks like it was offered by @mallenexpensify

[2022-04-18 10:44] orkunkarakus commented on #7497
### **PROPOSAL**

[code]

### **Result**
I sent the result videos in my messages above.

This is the working code. Have a nice day

[2022-04-18 11:02] parasharrajat commented on #7497
@mateusbra Are you following the discussion above https://github.com/Expensify/App/issues/7497#issuecomment-1073273718> Do you think your proposal covers that issue?

Thanks for sharing the details @orkunkarakus. I will check it.

[2022-04-18 11:05] mdneyazahmad commented on #7917
### Form audit

#### IOU Confirmation Page
1. `tab` and `shift + tab` works as expected.
2. `enter` submits the form.
3. There is no checkbox.

https://user-images.githubusercontent.com/77761491/163789014-37959fa4-795a-41e4-be5c-eda96c64b392.mp4

#### New Room Screen
1. `tab` and `shift + tab` works as expected.
2. `enter` submits the form.
3. There is no checkbox.

https://user-images.githubuserc

[2022-04-18 11:18] mdneyazahmad commented on #7917
There are some other issues.

#### New Room Screen
1. Option select focus styles is applied even when it goes out of focus.

#### Add Debit Card Flow
1. Option select (State Field) focus styles is applied even when it goes out of focus.
2. State Field does not have error text.
3. It automatically enters some text (possibly first 5 letters of email) into zip code field when page loads.

#### New Pa

[2022-04-18 11:25] mdneyazahmad commented on #7917
@Santhosh-Sellavel Could you help me navigate `KYC Flow`?

[2022-04-18 11:38] mdneyazahmad commented on #7618
Adding more context to this issue. This may be related.

When you open a `tab` and visit any url in which the `RHN` is opened and click on the backdrop it gets it back to browser home page.

### Steps to reproduce:
1. Open a new tab.
2. Enter url on address bar eg. https://new.expensify.com/settings
3. Click on backdrop.

https://user-images.githubusercontent.com/77761491/163802534-5605054f-3f6d-4

[2022-04-18 12:53] Stutikuls opened #8667 "[low] Chrome + Jaws: New chat(+) dropdown expanded/collapsed state is not announced."
## Action Performed:
1. Using Chrome + Jaws, open URL staging.new.expensify.com
2. Navigate to new chat (+) using Tab key and press Enter to activate.
3. Listen to the screen reader and observe the issue.

## Expected Result:
When the New chat(+) dropdown is expanded, the dropdown button should be announced with its expanded state (e.g. New chat(+) button, expanded).

## Actual Result:
The expande

[2022-04-18 13:00] parasharrajat commented on #8031
@Beamanator  Ok, So there are two ways, I can think of.
- I use `withReportActionsDrafts` HOC on ReportScreen to get all the reportActionsID with keys. Then use WithDrawerState to set those drafts off when the drawer is opened.
- Secondly, I can directly use `WithDrawerState` on the ReportActionItem and reject the draft when the drawer is Opened.

[2022-04-18 13:03] parasharrajat commented on #7618
Thank you @mdneyazahmad

[2022-04-18 13:28] Stutikuls opened #8668 "[High] Color Contrast: Green color contrast ratio failed against the white background."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to new chat (+) using Tab key.
3. Check hexa code of the green color button.

## Expected Result:
Describe what you think should've happened

## Actual Result:
Green  color contrast ratio failed against white background. Element has insufficient color contrast of 1.9:1. Foreground:#03D47C
Background:#FFFFFF

The c

[2022-04-18 13:36] Stutikuls opened #8669 "[low] Chrome + Jaws: Focus lands on the Hidden element and announced by the screen reader."
## Action Performed:
1. Using Chrome + Jaws, open URL staging.new.expensify.com
2. Navigate to new chat (+) using Tab key and press Enter to activate.
3. Content will be expanded, Navigate the expanded content using Tab key.
4. Listen to the screen reader and observe the issue.

## Expected Result:
The focus should only move to the content which is visible on the screen and only those elements sho

[2022-04-18 13:47] Stutikuls opened #8670 "[low] Chrome + Talkback: Focus lands twice on the 'text field'."
## Action Performed:
1. Using Chrome + Talkback , open URL staging.new.expensify.com
2. Navigate to Setting using swipe gesture and press double tap on it.
3. Navigate to any workspace using swipe gesture and press double tap on it.
4. Navigate to manage members using swipe gesture and press double tap on it.
5. Navigate to invite using swipe gesture and press double tap to activate.
6. Navigate t

[2022-04-18 13:51] Stutikuls opened #8671 "[low] Chrome + Jaws: Selected state of the invite members is not announced."
## Action Performed:
1. Using Chrome + Talkback , open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to activate.
3. Navigate to any workspace using Tab key and press Enter to activate.
4. Navigate to manage members using Tab key and press Enter to activate.
5. Navigate to invite using using Tab key and press Enter to activate.
6. Navigate to the members using

[2022-04-18 13:55] rushatgabhane commented on #8534
bump ^^ @thesahindia

[2022-04-18 14:00] mollfpr commented on #8246
Raise new PR with a new approach.

cc @rushatgabhane @Beamanator

[2022-04-18 14:01] Stutikuls commented on #8631
Checked all PRs and created accessibility issues for all PRs where accessibility issue were found.
The non-applicable PRs are - #8446, #8472
logged Issues - #8437, #8449, #8474, #8500, #8508, #8512, #8583

[2022-04-18 14:02] rushatgabhane commented on #8454
@luacmartins unassigning myself, because C+ review isn't required here, and the [solution](https://github.com/Expensify/App/issues/8454#issuecomment-1098240047) was found on [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1649773232745629).

[2022-04-18 14:29] iwiznia commented on #8122
Looks good to me, @michaelhaxhiu can you hire @aneequeahmad please?

[2022-04-18 14:32] iwiznia commented on #8610
I totally agree with @marcaaron's comments. The problem sounds real but:
- Are we really loading data we don't need? If so, which data?
- How/why does the performance decrease due to loading more data exactly?

Also, assuming we go through with this, is there any concern that some very common pieces of data that are used in many views would get downloaded many times? ie: assume we have 5 mounted c

[2022-04-18 14:32] Santhosh-Sellavel commented on #8122
@iwiznia
Any comments on this?

[2022-04-18 14:35] iwiznia commented on #8122
Oh sorry, missed that. I am not sure what would we gain, would that component be used in any other place?

[2022-04-18 14:43] rushatgabhane commented on #8240
Waiting for proposals

[2022-04-18 14:44] Santhosh-Sellavel commented on #8122
We would not use it in any other places for now, but this could be a reusable component

[2022-04-18 14:47] Santhosh-Sellavel commented on #8122
If you feel it's unnecessary let's leave it as it is.

@iwiznia

[2022-04-18 14:47] iwiznia commented on #8641
I can't reproduce this, are the steps complete? Or is this fixed already? @kbecciv can you check please?

[2022-04-18 14:48] rushatgabhane commented on #7909
@mateusbra I'm guessing that we can't change the URL. https://github.com/Expensify/App/issues/7909#issuecomment-1095018770

[2022-04-18 14:49] rushatgabhane commented on #7792
WIP 🧑‍🔧🚧

[2022-04-18 14:59] iwiznia commented on #8357
Sorry, I was out for a few days. I agree with removing the option altogether when there are no participants other than you, but I don't think we should hack the participants like suggested [here](https://github.com/Expensify/App/issues/8357#issuecomment-1086113910).

[2022-04-18 15:05] brianmuks commented on #8357
@iwiznia what do you think of my proposal :https://github.com/Expensify/App/issues/8357#issuecomment-1085871230 ?

[2022-04-18 15:07] luacmartins commented on #8567
Working on it this week.

[2022-04-18 15:07] luacmartins commented on #8286
Still looking for proposals

[2022-04-18 15:08] Santhosh-Sellavel commented on #7917
@mdneyazahmad

Navigate to `/settings/payments/enable-payments` which KYCFLow start point

These are steps in the flow, make some code tweaks to test the same.

https://github.com/Expensify/App/blob/6c53be1ea7a022e8a5e788cc7e7efd62c4573474/src/pages/EnablePayments/EnablePaymentsPage.js#L59-L64

@luacmartins can you confirm this.

[2022-04-18 15:20] kbecciv commented on #8641
@iwiznia Steps are completed, issue is reproduced in my end.

https://user-images.githubusercontent.com/93399543/163830377-12d65891-75ae-4729-a978-896bcc90dce8.mp4

[2022-04-18 15:26] AndrewGable commented on #8128
Issue is in progress

[2022-04-18 15:34] AndrewGable commented on #7971
Ok I think the ideal behavior is to copy slack here, when the code block is empty the send button should be disabled.

[2022-04-18 15:36] parasharrajat commented on #7497
@orkunkarakus, I tested it on Android Simulator and it is not working for me. It also blocks the Contextmenu of the message. And, I don't think that adding the ScrollView to the whole RenderHTML instance is a good approach.

[2022-04-18 15:38] mollfpr commented on #8357
Is this the expected behavior?

**When there's no one in the room (except myself)**

https://user-images.githubusercontent.com/25520267/163832224-9d0be678-c6a5-470a-a926-2d5860ff9aa9.mov

**When there are members in the room**

https://user-images.githubusercontent.com/25520267/163832251-5a4f7554-b8de-4eb6-bae8-97965d0a6393.mov

---
If so, it could be done by changing the condition when showing th

[2022-04-18 15:38] Santhosh-Sellavel commented on #7971
Sounds Good to me!

[2022-04-18 15:39] Santhosh-Sellavel commented on #7971
Open to Proposals

[2022-04-18 15:44] mvtglobally commented on #8631
@yuwenmemon happy Monday. Let us know if you have any update on the IOS build readiness so we can resume the testing

[2022-04-18 15:48] mollfpr commented on #8357
Btw I cannot send/request money in the room even where there are members inside. Is this the expected behavior?

[2022-04-18 15:50] shawnborton commented on #7844
Looks good. Can we see an example of the desktop tooltip version with an incredibly long link?

[2022-04-18 15:52] pecanoro commented on #8502
Yeah, let's close it for now.

[2022-04-18 15:52] luacmartins commented on #8454
@thesahindia proposal looks good!

[2022-04-18 15:54] mollfpr commented on #8134
@parasharrajat just wants to make it clear.

So I should create a new function inside ExpensifyMark.js to replace the LHN text right?
[code]

and then replace the logic above with calling the created function on Exp/App repo after exp-common is merged?

[2022-04-18 15:56] parasharrajat commented on #8134
Yup. Something like that.

[2022-04-18 15:56] #8502 closed

[2022-04-18 15:57] luacmartins commented on #7917
@Santhosh-Sellavel correct! I'd just hardcode each step individually to test each of them.

[2022-04-18 15:58] rushatgabhane commented on #7573
@OneDevStopShop any updates?

[2022-04-18 16:03] mdneyazahmad commented on #7917
Sometimes, it depends on the data from previous step and if not present there it will crash. I will test and let you know if this method works. Thank you!

[2022-04-18 16:10] johnmlee101 commented on #8637
Good catch

[2022-04-18 16:25] roryabraham commented on #8034
I'm honestly fine with either. I think the two solutions are similar enough that it doesn't really matter. As long as we don't have both `isGroupSplit` and `hasMultipleParticipants`, then I'm 👍  for either plan.

I think I might prefer `isIOUAttachedToExistingChat` because I worry about setting an example for variable names like `isXInitiatedFromY` – I could see how that would encourage bad patter

[2022-04-18 16:35] NikkiWines commented on #8657
@Salehmrcp, per the guidelines [here](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#propose-a-solution-for-the-job) you need to do the following:

[2022-04-18 16:40] chiragsalian commented on #8570
Closing issue as its resolved on staging and doesn't occur on production

[2022-04-18 16:40] #8570 closed

[2022-04-18 16:45] rushatgabhane commented on #7835
Hmm, what URI are you using? Maybe try using the [actual URI we'll have to use](https://www.expensify.com/chat-attachments/999702817/w_467a1b2ccf2311cffc732dfeedbb4ba9156b7f58.mov?encryptedAuthToken=eLiBKuB6HKeAFf0kXeO2UIebcqqVImzL76U%2BVvRkpRHZ1xGUapt2C6NglPTNZ%2FsFumommikejfxR7TQaNgpMf%2Fc1VWH%2FtcFlIW7ufJ%2BCfvNYpyGZVPsLG2c09CVcggVPUVbsV%2F0%2Bi0iG%2B4l9gBY%2Fb%2F8lonDjYz3N1sJh1FyhUr6WWzod%2FrU

[2022-04-18 16:58] iwiznia commented on #8122
Yeah. let's. We can always move it to a component later.

[2022-04-18 16:58] mollfpr commented on #8357
## Proposal

We need to change the condition when showing send/request money option. I think we only need to show both options for the non-admin/announce room.

https://github.com/Expensify/App/blob/6c53be1ea7a022e8a5e788cc7e7efd62c4573474/src/pages/home/report/ReportActionCompose.js#L452-L489

change with
[code]
[code]

### Result

https://user-images.githubusercontent.com/25520267/163843642-6fc6

[2022-04-18 16:59] orkunkarakus commented on #7497
@parasharrajat because i give you a wrong old code sorry.

This is the right code. I tested again and its working ios and android correctly.

[code]

Simulation Videos

https://user-images.githubusercontent.com/61627150/163843711-e86f6810-93db-43d2-b616-21505a88cef5.mov

https://user-images.githubusercontent.com/61627150/163843744-0cc0d4bf-3453-4860-a441-74a5943140ac.mp4

[2022-04-18 16:59] iwiznia commented on #8641
I am doing the same thing with no luck 😞
Going to assume someone else will be able to reproduce.

[2022-04-18 17:00] deetergp commented on #7435
Still holding…

[2022-04-18 17:08] shawnborton commented on #8423
Added some screenshots to the discussion [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1650301588515349?thread_ts=1648486410.096969&cid=C01GTK53T8Q).

[2022-04-18 17:13] marcaaron commented on #8652
Where does it need to be upgraded? Everywhere or only New Expensify?

[2022-04-18 17:15] marcaaron commented on #8652
Agree this can be `External` as it's just updating a library. But the flow needs to be tested still so maybe we can make sure QA is done correctly and there are no regressions after updating.

[2022-04-18 17:21] metehanozyurt commented on #8119
Thank you for trying proposal @mananjadhav 🙏 . Sorry to hear that. I cant reproduce this situation (blank page).
I am uploading my sample files and test video (with network). I am also uploading my code url maybe it can help.
If we look carefully in the video, there is a pending time. You've been waiting for a while? maybe some network problems could be happen. Thanks again 🙏 .

test images:
![w_a

[2022-04-18 17:35] vitHoracek opened #8674 "[TEST] Testing issue autoclosure"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

##

[2022-04-18 17:35] #8674 closed

[2022-04-18 17:36] mountiny opened #8675 "[TEST] Testing issue autoclosure"
This is a test of https://github.com/Expensify/Web-Expensify/pull/33496

[2022-04-18 17:36] mountiny commented on #8675
Closing, this was a test, sorry for the ping Kevin

[2022-04-18 17:36] #8675 closed

[2022-04-18 17:41] Salehmrcp commented on #8657
Thanks nikki
But I can not even write the solution before I am hired
My upwork link is here
https://www.upwork.com/freelancers/~010501fb0f15f0e713?viewMode=1
Kindly hire me first to start

On Mon, 18 Apr 2022, 6:35 pm Nikki Wines, ***@***.***> wrote:

[2022-04-18 17:46] techievivek commented on #8325
Hi 👋 just reminding so that we can close the discussion on slack [here](https://expensify.slack.com/archives/C03U7DCU4/p1649873703142039) thanks.

[2022-04-18 17:53] thienlnam commented on #8185
Cool, I'll have this updated once we review/merge your PR and will verify it works in production

[2022-04-18 18:04] adelekennedy commented on #8640
[internal](https://www.upwork.com/ab/applicants/1516115336226508800/job-details)
[external](https://www.upwork.com/jobs/~0155a79153e7cd22b9)

[2022-04-18 18:04] eVoloshchak commented on #7844
https://user-images.githubusercontent.com/9059945/163836319-f0bece44-a669-4445-8602-706704997154.mp4

I'm guessing the Tooltip component should me modified.
How should it look like?

1. We could limit the length of the link
2. We could add `maxWidth: Dimensions.get('window').width` to the [tooltipWrapperStyle](https://github.com/Expensify/App/blob/6c53be1ea7a022e8a5e788cc7e7efd62c4573474/src/style

[2022-04-18 18:05] adelekennedy commented on #8426
doubling!

[2022-04-18 18:07] adelekennedy commented on #8292
It's time to double again!

[2022-04-18 18:10] marcaaron commented on #7617
@neil-marcellini Could it be that we are setting the default key states again?

https://github.com/Expensify/App/blob/6c53be1ea7a022e8a5e788cc7e7efd62c4573474/src/setup/index.js#L29-L30

See implementation for [`Onyx.clear()`](https://github.com/Expensify/react-native-onyx/blob/2d42566779884bb445aa59dd48b5bcdff6c0a4e6/lib/Onyx.js#L711-L720)

[2022-04-18 18:11] adelekennedy commented on #8005
I just got the doubling ping again - @Beamanator and @Santhosh-Sellavel it sounds like we're moving forward with doubling until we get a proposal but is there anything else we need to address here to get this issue worked on? It seems like @thesahindia proposal will work but we're waiting on this [linked issue](https://github.com/Expensify/App/issues/8005#issuecomment-1081840317) being solved?

[2022-04-18 18:12] shawnborton commented on #7844
I think we can ignore the native tooltip and just let it be.

I agree that we want some kind of max-width on the tooltip itself. Perhaps if the max-width is just the total width of the message width then the pointer will always be center-aligned.

[2022-04-18 18:12] marcaaron commented on #7617
That kind of checks out because we are only updating the cached values with the default key states here:

https://github.com/Expensify/react-native-onyx/blob/2d42566779884bb445aa59dd48b5bcdff6c0a4e6/lib/Onyx.js#L695-L703

[2022-04-18 18:12] adelekennedy commented on #7942
doubling again - waiting for proposals

[2022-04-18 18:16] adelekennedy commented on #8594
still waiting on proposals! It looks like we still have a day or two until we're doubling

[2022-04-18 18:16] rushatgabhane commented on #8034
@Santhosh-Sellavel feel free to fix this issue. (I don't have the bandwidth)

[2022-04-18 18:20] parasharrajat commented on #7844
There is another issue which is setting the tooltip maxWidth so we don't have to worry about it here.

@eVoloshchak 's proposal looks good to me. The proposal discussion starts from [here](https://github.com/Expensify/App/issues/7844#issuecomment-1100904641).

cc: @tgolen

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-04-18 18:20] metehanozyurt commented on #8471
I've been thinking about solving this problem for a while and feel bad about setTimeout solution. Instead of using setTimeout, I have developed a solution proposal if you want to examine it @parasharrajat 🙏 .

We can forget about setTimeout solution.

If we change this line works fine. I do this for native version but i skip this for web version. This is scale images height and width  when setImag

[2022-04-18 18:23] Santhosh-Sellavel commented on #8005
Room creation has some errors, I am also not able to reproduce the [Case 2](https://github.com/Expensify/App/issues/8005#issuecomment-1081840317)

Let's wait until this issue https://github.com/Expensify/App/issues/8534 gets solved, or I'll try reproducing this one again and confirm by end of this week.

cc: @Beamanator @adelekennedy

Also one help @Beamanator, can you give a try reproducing this

[2022-04-18 18:24] parasharrajat commented on #8471
Ok. Thanks for bringing this up. I think we want to keep a minimum height and width for the image. If the user uploads a very small image of 2x2px then it would be barely visible. Let me discuss this on slack first.

[2022-04-18 18:26] parasharrajat commented on #8594
This is just a UI glitch due to the password prompt. There is another issue which is changing the prompt UI so this issue will not exist after that is done. https://expensify.slack.com/archives/C02NK2DQWUX/p1649968961380469

[2022-04-18 18:28] neil-marcellini commented on #7617
@marcaaron Yes I was wondering about that. I see that it's called via [signOutAndRedirectToSignIn](https://github.com/Expensify/App/blob/ae4f49946b030c1607969fb58a855ee93223baa8/src/libs/actions/Session/index.js#L87). I thought that it would occur immediately when signing the old user out, but after adding a console log after the [Ony.clear](https://github.com/Expensify/App/blob/5c3bb29314ce553a2e

[2022-04-18 18:29] kidroca commented on #7623
This `pressOnEnter` seems to be an entirely web/desktop thing as `KeyboardShortcut.subscribe` does nothing on native

If it's intended to work on mobile then yes `onSubmitEditing` should be used. Then if you press "Enter/Return" on the onscreen keyboard the form would be submitted  (though this is usually enabled only on the last field of the form, and "Return" moves the focus to the next field

S

[2022-04-18 18:32] Santhosh-Sellavel commented on #8034
@roryabraham
I can't pick this one until Friday. So I'll raise PR on Friday. If that's okay please remove`Help Wanted` Label, or let's leave it open to the pool. Thanks!

[2022-04-18 18:32] neil-marcellini commented on #7617
Commenting out the call to signOut() fixes the problem, but I suppose we still need to delete the login. I'll remove the calls to Onyx.set in the signOut method and test that out.

[2022-04-18 18:34] parasharrajat commented on #7623
Good points, It could be a extension to our Form component and soon we will refactor all of our forms to use that.

[2022-04-18 18:35] Santhosh-Sellavel commented on #8594
Thanks, @parasharrajat!.

@adelekennedy Can you add HOLD to this issue, I'll follow up on this once https://github.com/Expensify/App/issues/8595 PR is up.