[2022-03-17 12:13] mollfpr commented on #7853
@rushatgabhane I think because the second condition `(e.metaKey || e.altKey || e.ctrlKey || e.shiftKey)` returning `false`.

I think there's no other way except a hacky way to solve this issue. Everything is done by `react-native-web`.

[2022-03-17 12:42] laurenreidexpensify commented on #8123
oh weird, we only seem to have that on Dev not staging - am asking [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1647520869168909) for clarity

[2022-03-17 12:56] laurenreidexpensify commented on #7915
@tgolen @parasharrajat are we still waiting for proposals here or should I increase the price if we're still looking for someone to move this forward?

[2022-03-17 13:09] laurenreidexpensify commented on #7547
The original upwork post was closed - new one here - https://www.upwork.com/jobs/~01a5f3ac6ad7ab7a2f

@thesahindia (reporter)
@parasharrajat (C+)
@mananjadhav (contributor)

all have been sent offers now

[2022-03-17 13:09] laurenreidexpensify commented on #7547
@mananjadhav is there a PR up yet?

[2022-03-17 13:12] laurenreidexpensify commented on #7535
@LucioChavezFuentes are you still able to work on this? Please let us know if there is a PR up yet. Thanks

[2022-03-17 13:16] laurenreidexpensify commented on #7489
@mananjadhav @rushatgabhane paid 👍🏽

[2022-03-17 13:16] #7489 closed

[2022-03-17 13:21] mountiny commented on #7486
The idea we had previously would be max number of lines and then `...` ellipsis if the emails would not fit.

Having max number of emails is also a good way to go (in rare instances of ridiculously long emails it might be double edge sword though). I can see both!

[2022-03-17 13:36] mountiny commented on #8202
@mvtglobally I could reproduce it on iOS safari in production as well. I think this is indeed the same issue Rory has over there so I will go ahead and close this one out!

Thanks for raising this problem nonetheless, better safe than sorry! 🙇

[2022-03-17 13:36] #8202 closed

[2022-03-17 13:56] mdneyazahmad commented on #8051
Update, I will create a pr by tomorrow.

[2022-03-17 15:02] sylveawong commented on #8032
Sorry, I just wanted to clarify – are we trying to update the copy for the 4 rooms or 2?

From mitch's post: https://expensify.slack.com/archives/C01GTK53T8Q/p1646776612170489?thread_ts=1645736648.234169&cid=C01GTK53T8Q

[2022-03-17 15:31] Santhosh-Sellavel commented on #7688
@kadiealexander https://github.com/Expensify/App/issues/7688#issuecomment-1060891269

PR link-> https://github.com/Expensify/App/pull/8019

[2022-03-17 15:32] mananjadhav commented on #7547
@laurenreidexpensify We decided a different approach. PR will be ready by weekend

[2022-03-17 15:43] laurenreidexpensify commented on #8152
@Tushu17 is this happening only on web?

[2022-03-17 15:45] aldo-expensify commented on #8152
@laurenreidexpensify I did a quick text search in the project looking for "For additional security" and didn't find anything. I think the password change feedback screen is something that has not been implemented... so it should be missing in all platforms.

[2022-03-17 15:53] parasharrajat commented on #8031
Your understanding is correct.

If you feel so then we have to think about an alternative strategy. But I think it is the best fit. On Mobile, we don't focus anything when the report screens loads. There can be multiple draft messages.

1. Either we remove this feature completely.
2. Or find something else.

[2022-03-17 16:00] laurenreidexpensify commented on #8152
Thanks @aldo-expensify - I was just wondering where the screenshot @mvtglobally pasted above comes from - that looks like it works on mobile? I'll doublecheck in a bit on my phone with a test account and confirm.

[2022-03-17 16:08] michaelhaxhiu commented on #8006
Hired 👍

[2022-03-17 16:12] parasharrajat commented on #7925
Aha, I missed that. Ops.

Yup. I agree. But as you asked me to test your repo and I am trying to do that.

[2022-03-17 16:15] mountiny commented on #6965
We might need to create a new job as it has been a while since this was Exported.

[2022-03-17 16:22] luacmartins commented on #8180
Thanks for the ping @Santhosh-Sellavel!

@kadiealexander we should pay @Santhosh-Sellavel for reporting this issue! Thank you so much!

[2022-03-17 16:27] thesahindia commented on #8123
Yeah sure.

[2022-03-17 16:29] johnmlee101 commented on #7517
https://expensify.slack.com/archives/C03TQ48KC/p1647525989751729
made some progress with deciding how to approach this. This will require some backend api changes so this will have to stay internal. Gist is we need to add a flow to Authenticate to give wrong 2FA code errors instead of generic 401s

[2022-03-17 16:41] danieldoglas commented on #8166
@kbecciv Can you confirm that this is happening only in our app? I had a samsung note 20 with a similar behavior while using whatsapp, for example.

[2022-03-17 16:47] tgolen commented on #8201
Hm, it sounds though like it works after a couple of seconds? Maybe that's more related to the performance stuff that Carlos is doing. I'm sure both projects will probably impact this behavior. I'm going to leave it unassigned but open so that we don't totally forget about this, but for right now, I'm not going to address it directly.

[2022-03-17 16:49] tgolen commented on #7915
Sounds like we are OK on the proposal, so 🟢  to hire @mdneyazahmad

[2022-03-17 16:52] Santhosh-Sellavel commented on #7860
@AndrewGable Lets update the bug title to

`Pagination seems to broken for chats ~with Chronos~`

[2022-03-17 16:52] AndrewGable commented on #7860
Updated!

[2022-03-17 17:15] marcaaron commented on #8201
I think this is a probable duplicate of https://github.com/Expensify/App/issues/7950. it's a 🐰 🕳️  that we are fairly close to solving so I'm going to assign myself here and see if my changes will resolve this issue.

[2022-03-17 17:16] kbecciv commented on #8166
@danieldoglas Yes, it happened only in Andriod app

[2022-03-17 17:24] roryabraham commented on #8198
This can be external, pushing it forward.

[2022-03-17 17:25] roryabraham commented on #8170
:shipit:

[2022-03-17 17:25] #8170 closed

[2022-03-17 17:27] botify commented on #7798
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.43-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8091

If no regressions arise, payment will be issued on 2022-03-24. :confetti_ball:

[2022-03-17 17:27] botify commented on #6584
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.43-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7984

If no regressions arise, payment will be issued on 2022-03-24. :confetti_ball:

[2022-03-17 17:27] botify commented on #7585
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.43-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8111

If no regressions arise, payment will be issued on 2022-03-24. :confetti_ball:

[2022-03-17 17:28] botify commented on #7730
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.43-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7977

If no regressions arise, payment will be issued on 2022-03-24. :confetti_ball:

[2022-03-17 17:28] botify commented on #7712
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.43-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7931

If no regressions arise, payment will be issued on 2022-03-24. :confetti_ball:

[2022-03-17 17:28] botify commented on #7840
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.43-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8065

If no regressions arise, payment will be issued on 2022-03-24. :confetti_ball:

[2022-03-17 17:28] botify commented on #7969
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.43-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8112

If no regressions arise, payment will be issued on 2022-03-24. :confetti_ball:

[2022-03-17 17:28] botify commented on #7462
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.43-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8018

If no regressions arise, payment will be issued on 2022-03-24. :confetti_ball:

[2022-03-17 17:30] roryabraham commented on #7475
No way, closing this out.

[2022-03-17 17:30] #7475 closed

[2022-03-17 17:30] OSBotify opened #8210 "Deploy Checklist: New Expensify 2022-03-17"
**Release Version:** `1.1.44-4`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/8063
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/8082
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/8145
  - [x] QA

[2022-03-17 18:03] Tushu17 commented on #8152
@laurenreidexpensify We don't have the component shown in the mock-up right now. We wanna show a confirmation page like the one shown in the mock-up.

[2022-03-17 18:16] francoisl commented on #8199
This just happened again with https://expensify.slack.com/archives/C07J32337/p1647539736157239

Looking at the logs from [this run](https://github.com/Expensify/App/runs/5578215420?check_suite_focus=true), it would mean that `env.VERSION` was blank, however just below in the [`Post a GitHub comment when platforms are done building and deploying`](https://github.com/Expensify/App/runs/5578215481?ch

[2022-03-17 18:17] francoisl commented on #8199
cc @roryabraham you're pretty familiar with those, any idea what it could be? Not sure what else to check at this point.

[2022-03-17 18:22] AndrewGable commented on #8199
Can we make sure it wasn't this PR? https://github.com/Expensify/App/pull/8027

cc @luacmartins

[2022-03-17 18:28] roryabraham commented on #8199
Pretty sure that it was indeed https://github.com/Expensify/App/pull/8027

[2022-03-17 18:32] thesahindia commented on #7625
@roryabraham, I tried using `renderHTML` but there are some issues -
When I use it under `Text` component the content flows out of the screen on Android here's a screenshot -
<img width="418" alt="Screenshot 2022-03-17 at 11 56 39 PM" src="https://user-images.githubusercontent.com/83179295/158871005-ed0ae81d-a903-475e-bf63-aab47a41e337.png">

I tried `View` instead of `Text` but then the text isn'

[2022-03-17 18:34] roryabraham commented on #8199
I think the problem is that each job gets its own runner (remote machine) so environment variables set in one job are not carried over to another. The reason this isn't a problem in the `Post a GitHub comment when platforms are done...` job is because it resets `env.VERSION` right [here](https://github.com/Expensify/App/blob/main/.github/workflows/platformDeploy.yml#L444-L445)

[2022-03-17 18:36] luacmartins commented on #8199
Yea, I'm pretty sure it was https://github.com/Expensify/App/pull/8027. In addition to it missing the version, it also posts the message multiple times:

<img width="1053" alt="Screen Shot 2022-03-11 at 9 51 13 AM" src="https://user-images.githubusercontent.com/22219519/157912965-de5d82cf-acb1-4947-b60c-5a36ed00bccd.png">

I had reopened the [original issue](https://github.com/Expensify/App/issues

[2022-03-17 18:37] hiteshagja commented on #6720
Accepted @kevinksullivan

[2022-03-17 18:37] michaelhaxhiu commented on #7128
I lied - this is not paid yet, it errored (wtf). I'll get to the bottom of this and confirm when its truly paid.

[2022-03-17 18:38] AndrewGable commented on #8199
Thank you @luacmartins !

[2022-03-17 18:39] luacmartins commented on #8199
I think this is correct. I also think that the reason the message is posted multiple times is because we are setting it to run on success [here](https://github.com/Expensify/App/blob/dcce4ce5b9403013a31a23fe809260ae02c75318/.github/workflows/platformDeploy.yml#L377), so each of the jobs posts it on success.

[2022-03-17 18:51] luacmartins commented on #8199
PR up https://github.com/Expensify/App/pull/8211

[2022-03-17 18:51] luacmartins commented on #7163
Closing in favor of https://github.com/Expensify/App/issues/8199

[2022-03-17 18:51] #7163 closed

[2022-03-17 18:52] michaelhaxhiu commented on #7128
Actually I never lied, it did work. Upwork lied!!!

<img width="943" alt="image" src="https://user-images.githubusercontent.com/13206896/158875157-4815fddb-34b9-48c8-ab51-270f452faa89.png">

[2022-03-17 18:52] nickmurray47 commented on #8125
Melvin, please remove the `overdue`, this looks like a bug and will definitely see if I can reproduce on dev.

[2022-03-17 18:56] michaelhaxhiu commented on #8090
Posted to upwork here - https://www.upwork.com/jobs/~018a94ee75acc1aefb

[2022-03-17 19:05] roryabraham commented on #7925
Thanks @azimgd, that at least clears up some confusion I had about `autoScrollToTopThreshold`.

[2022-03-17 19:05] rushatgabhane commented on #7625
@thesahindia that's just a css issue yeah? I'm sure we can fix it

[2022-03-17 19:18] azimgd commented on #7925
this is correct, I was planning to implement the solution on top of that logic.

I will work on that PR, and update you soon.

[2022-03-17 19:22] roryabraham commented on #7925
Thanks @zoontek for the detailed analysis:

I would think so, yes. Let's assume we had this `maintainVisibleContentPosition` configuration:

[code]

I imagine that if you are in the middle of a list (index 0 is not visible, and we are more than 25px away from the start), then new content is prepended to the list, we would maintain scroll position.

Agree. Looks like those are good improvements but

[2022-03-17 19:22] thesahindia commented on #7625
The problem is that `styles.textAlignCenter` doesn't work on `View` for native and I also tried to fix it with alternative methods but it didn't work.

[2022-03-17 19:26] rushatgabhane commented on #7625
Okay, so the problem is to center text inside a view right?
Then this should help https://stackoverflow.com/questions/5703552/how-can-i-center-text-horizontally-and-vertically-inside-a-div-block

[2022-03-17 19:31] thesahindia commented on #7625
I had tried this but didn't work.

[2022-03-17 19:36] rushatgabhane commented on #7625
CSS can be tricky, but I'm sure we can figue it out. How about you submit a PR, and then we'll figure something out

[2022-03-17 19:37] roryabraham commented on #7625
@thesahindia Try passing the `defaultTextProps` prop to `RenderHTML` like:

[code]

[2022-03-17 20:01] osama256 commented on #7541
@rushatgabhane  very sorry for the delay

### Proposal

- Use dynamic values for `fontaSize` and `lineHeight` in `styles.js` depending on the PixelRatio value.
- Increase Picker/TextInput height for larger font sizes.
- No changes in padding, margin or ACTIVE_LABEL_TRANSLATE_Y since we have increased the height.
-  Use `Context` or `State` to save `TRenderEngineProvider` and `RenderHTMLConfigProvi

[2022-03-17 20:09] rushatgabhane commented on #8034
PR is on hold (because low priority)

[2022-03-17 20:11] stitesExpensify commented on #7919
Not overdue, still being tested

[2022-03-17 20:14] thesahindia commented on #7625
I tried passing it to the `RenderHTMLSource` and it didn't work but if we use `RenderHTML` from `react-native-render-html` then it will work

[2022-03-17 20:29] mountiny commented on #7585
Updated it, the issue should automatically become daily again when it is due for payment!

[2022-03-17 20:40] roryabraham commented on #7625
Another alternative would be to inject the style as regular css to the html string, but I'd prefer keeping it simple and just using `RenderHTML` from `react-native-render-html`. I don't understand the [composite rendering architecture](https://meliorence.github.io/react-native-render-html/docs/flow/rendering#composite-rendering-architecture) well enough to know what we would have to do to pass a t

[2022-03-17 20:45] tgolen commented on #7844
@sobitneupane I think we are still waiting on this from you:

[2022-03-17 20:46] tgolen commented on #7014
I have had a difficult time finding time to work on this, and I wasn't able to find any volunteers either. I'm going to unassign this for now so that maybe someone else will pick it up.

[2022-03-17 20:50] kbecciv opened #8212 "LHN- All chat icons turn green for a moment when user logs into High traffic account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-Condition: Have a couple/several chats already open with other accounts
1. Access http://staging.new.expensify.com on mweb iOS
2. Log in to a hi

[2022-03-17 20:52] roryabraham commented on #7625
Maybe @jsamr can answer this question if he's not too busy ... he's the primary author of `react-native-render-html` and actually implemented the composite rendering architecture in this repo.

Is there an easy way to pass a default text style to a single instance of the `RenderHTMLSource` component? We don't want our main html engine provider to inject `text-align: center` by default, but want to

[2022-03-17 20:53] roryabraham commented on #7625
In the meantime @thesahindia please move forward with the use of the plain `RenderHTML` component from `react-native-render-html`

[2022-03-17 20:56] stitesExpensify commented on #6876
Discussion still on PR

[2022-03-17 21:07] jsamr commented on #7625
@roryabraham This is not currently possible, but [feature requests are welcome](https://native-html.canny.io/features), and I'd be happy to work on a gig for this. TBH, the performance gain is only visible when rendering hundreds to thousands of sources. You can always override a React context deep in the tree, so composite architecture can be nested (which happens under the hood if you use `Rende

[2022-03-17 21:14] AndrewGable commented on #7971
I believe expected behavior would be it sends as this:

<img width="1084" alt="Screen Shot 2022-03-17 at 3 14 31 PM" src="https://user-images.githubusercontent.com/2838819/158896288-4efbfed5-c7ce-4044-a949-ad1dc2665e56.png">

But does not disappear when switching chats.

[2022-03-17 21:15] mateusbra commented on #7909
I couldn't reproduce this one.

https://user-images.githubusercontent.com/56851391/158896366-6a693d20-9676-4bfb-9fb8-df0cf8d2fcbd.mp4

[2022-03-17 21:16] #6789 closed

[2022-03-17 21:22] rushatgabhane commented on #7909
@mateusbra this issue is reproducible on clicking request a call **_link_** from Concierge's message (see the video attached in the issue)

[2022-03-17 21:25] #8199 closed

[2022-03-17 21:30] OSBotify commented on #8210
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8063) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.44-1` :rocket:

[2022-03-17 21:30] OSBotify commented on #8210
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.44-1 has been deployed to staging :tada:

[2022-03-17 21:54] kavimuru opened #8215 "mWeb - Future dates for DOB date picker are not disabled in personal info page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing #8176**

## Action Performed:
1. Go to workspace > Connect Bank Account
2. Choose any option > Go to company step
3. Fill the form and sa

[2022-03-17 21:54] OSBotify commented on #8215
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-03-17 21:57] SofiedeVreese commented on #7854
No regressions on PR.

Paid out @mdneyazahmad now (including reporting bonus).
Ended contract.
Closed job.
Closing GH.

[2022-03-17 21:57] #7854 closed

[2022-03-17 22:01] roryabraham commented on #8210
Checked off https://github.com/Expensify/App/pull/8063 since it passed QA 👍

[2022-03-17 22:14] iwiznia commented on #8179
@Expensify/design do we care that this is broken? Is anyone using it?

[2022-03-17 22:17] neil-marcellini commented on #8215
I'm able to reproduce this locally. I'll take a look at it so that hopefully we can get it fixed quickly.

[2022-03-17 22:19] OSBotify commented on #8210
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8204) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.44-2` :rocket:

[2022-03-17 22:19] OSBotify commented on #8210
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.44-2 has been deployed to staging :tada:

[2022-03-17 22:21] shawnborton commented on #8179
cc @marcaaron

[2022-03-17 22:22] kadiealexander commented on #8180
@Santhosh-Sellavel sent you an invite on Upwork! https://www.upwork.com/jobs/~012ffaa21d5c206a1c

[2022-03-17 22:23] kadiealexander commented on #6965
Sorry about that @CamilaRivera! Could you please try this one? https://www.upwork.com/jobs/~018bb7187d8407a7fb

[2022-03-17 22:27] roryabraham commented on #8179
Yes, I use Storybook frequently and I encourage you to try it out as well. Here are some reasons I like using storybook:

1. I find it to be a very useful tool to develop reusable components without getting too caught up in testing business logic.
1. We have lots of components that are really tied up with business logic, and Storybook can help us untangle that. If you can't create stories for a co

[2022-03-17 22:29] roryabraham commented on #8210
Maybe a regression in our checklist logic: https://github.com/Expensify/App/pull/8186 was deployed in the last cycle, should not have been included in this checklist.

[2022-03-17 22:32] kadiealexander commented on #7669
Issued payment to @thesahindia, thanks for your awesome work here!

@rushatgabhane I've sent you an offer so we can pay you for your C+ duties, please let me know once you've accepted this and I'll issue payment here too. 😊

[2022-03-17 22:34] roryabraham commented on #7625
Thanks for the quick response @jsamr. As you said, I think the performance difference will be negligible for our case so I'm not sure we'll need to create an Upwork job for the feature request. But I went ahead and documented it for you here: https://native-html.canny.io/features/p/defaulttextprops-for-renderhtmlsource

[2022-03-17 22:39] neil-marcellini commented on #8215
Safari on IOS does not support the `max` attribute on date inputs ([source here](https://www.outsystems.com/forums/discussion/47378/cant-limit-date-on-ios-on-an-input/)). We set the max attribute [here](https://github.com/Expensify/App/blob/c4f2d63fd5e342eb333418285e9dc20a07d2d33c/src/components/DatePicker/index.js#L35).

[2022-03-17 22:44] kevinksullivan commented on #8045
@wahaj-47 can you provide screenshots or video of what you're seeing?

[2022-03-17 22:46] kevinksullivan commented on #8121
paid @Santhosh-Sellavel , thanks!

[2022-03-17 22:48] kevinksullivan commented on #8110
Hired @mollfpr , go ahead and accept whenever you get a chance!

[2022-03-17 22:50] kevinksullivan commented on #8045
We also just changed the order of the KYC flow so that onfido is later on. I updated the OP to reflect the new order.

[2022-03-17 22:55] neil-marcellini commented on #8215
Although this doesn't correctly set a maximum date on mWeb, it works on Web. Since this is a new feature I'm going to removed the deploy blocker label.

[2022-03-17 22:56] marcaaron commented on #8210
Just tested #8204 on staging and verified it fixes the issue reported here https://github.com/Expensify/Expensify/issues/201705

[2022-03-17 23:02] #8215 closed

[2022-03-17 23:08] mollfpr commented on #7853
@rushatgabhane Nope, I checked the code modality.js from react-native-web and try to change the code. Also the condition are *if not Tab and is metakey or shiftkey or ctrkey or altkey*.

[2022-03-17 23:09] kevinksullivan commented on #6720
Paid @hiteshagja . @parasharrajat just sent offer so can pay once you accept. Thanks!

[2022-03-17 23:19] K4tsuki commented on #7014
@tgolen there is no assigned people for this issue.

[2022-03-17 23:24] iwiznia commented on #8201
@marcaaron so should we close this, given the other issue is trying to fix the same thing?

[2022-03-17 23:28] rushatgabhane commented on #7669
@kadiealexander accepted, thanks!

[2022-03-17 23:36] rushatgabhane commented on #7853
You're right, thanks for correcting me!

[2022-03-17 23:49] parasharrajat commented on #6720
@kevinksullivan Done.

[2022-03-18 00:03] kadiealexander commented on #7669
Paid you too @rushatgabhane, thanks for your help!

[2022-03-18 00:03] #7669 closed

[2022-03-18 00:03] parasharrajat commented on #7317
PR is no more on HOLD. Looking forward to updates.

[2022-03-18 00:04] parasharrajat commented on #7081
Requested changes on PR a few days back. Awaiting update...

[2022-03-18 00:31] adelekennedy commented on #7912
Still no volunteers 😬 we're a day out from me doubling the issue

[2022-03-18 00:40] adelekennedy commented on #7664
It looks like this may be [resolved](https://github.com/Expensify/App/issues/7579#issuecomment-1069405405) will check again tomorrow

[2022-03-18 00:43] adelekennedy commented on #7379
woot! Done and done

[2022-03-18 00:43] #7379 closed

[2022-03-18 00:47] marcaaron commented on #7727
Ok cool. I'm going to suggest that we HOLD this for the Offline project and also look into some refactoring of the Report page (which everyone agrees is a mess - but we'll need to get a bit more specific about what is wrong and how to improve it exactly).

[2022-03-18 00:52] marcaaron commented on #8097
I don't really get this issue at all or understand why we need a preview for this. Seems extremely low value to me.

[2022-03-18 00:53] marcaaron commented on #8097
@madmax330 says

I think it should be exactly how it is now. If anyone disagrees feel free to reopen.

[2022-03-18 00:53] #8097 closed

[2022-03-18 00:56] marcaaron commented on #8201
Confirmed it's a dupe after testing. My PR should fix this (and maybe other things).

[2022-03-18 00:56] #8201 closed

[2022-03-18 01:14] mountiny commented on #8215
I agree this is fine to accept, we have verification that won't allow users to input future dates, so nothing can go wrong and Safari will start to support this prop _at some point_.

[2022-03-18 01:35] kbecciv opened #8220 "[HOLD for payment 2022-07-15] [$250] Web - Request money - Five most recent chats aren't shown correctly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-Condition: Have a couple/several chats already open with other accounts
1. Access http://staging.new.expensify.com
2. Log in to a high traffic a

[2022-03-18 01:55] mdneyazahmad commented on #7980
My pr is ready just got issue with `SwipeableView`. Right now it uses `CONST.COMPOSER_MAX_HEIGHT (116)` as minimun movement along y-axis when swiping downward to detect an event and dismiss the keyboard.

The issue is when the text content inside compose box is larger and this is scrollable. We can not swipe down greater than `116` or it dismiss the keyboard. I personally think, this should be a s

[2022-03-18 02:26] kbecciv commented on #8114
@Luke9389 Not 100% sure, we reproduced this issue on IOS and Andriod apps. Let me know and we will retest this issue again.

[2022-03-18 02:56] kadiealexander commented on #8180
All paid, thanks @Santhosh-Sellavel!!

[2022-03-18 02:56] #8180 closed

[2022-03-18 02:57] stephanieelliott commented on #7706
Posted to Upwork: https://www.upwork.com/jobs/~01123c8bc664ea28ed

[2022-03-18 03:09] mdneyazahmad commented on #7971
@AndrewGable Right now we can not send a message with empty `textContent`. double back tick is parsed as `<code></code>` and it does not have `textContent`. When this message is sent to server it responds with an error that removes the message.

[2022-03-18 03:09] stephanieelliott commented on #7856
It sounds like we're good to proceed with fixing this on the front end, so I'll move forward on pushing this through.

Posted to Upwork: https://www.upwork.com/jobs/~01999d68f951063456

[2022-03-18 03:10] stephanieelliott commented on #7856
@aldo-expensify are we good to accept this proposal as the solution here? Or keep soliciting proposals?

[2022-03-18 03:12] phivh commented on #7777
@rushatgabhane it seems happening in real device, with older phone it could jump lower than my video here.
https://user-images.githubusercontent.com/5449119/158930422-36d9dfa0-e764-4c8c-a311-5255a01fc9ea.MOV

[2022-03-18 03:15] K4tsuki commented on #7971
@mdneyazahmad Yes, that is why I add zero-width-space character `&#x200b;`
This will not change visual style.
If it is not allowed, then maybe this will require back end change.

[2022-03-18 03:15] stephanieelliott commented on #8179
Posted to Upwork: https://www.upwork.com/jobs/~01bd97ac2dd22d9e6f

[2022-03-18 03:28] mdneyazahmad commented on #8126
@parasharrajat If I am not wrong I reported this on slack January 29th. And this one is on March 1st.

[2022-03-18 03:31] parasharrajat commented on #7980
Yeah, so you have to modify that part as well as you are now changing that constant.

Sorry, but I don't think it is going to be separate issue. When we change a piece of code, it is our responsibility to keep other related functionality intact.

[2022-03-18 03:36] mdneyazahmad commented on #7980
@parasharrajat  What I mean is this issue already exists and my pr does not affect it.

[2022-03-18 03:38] parasharrajat commented on #8126
The original report was JAN 21. The attached slack thread reshares that bug report. let me know if I am missing something.
<img width="150" src="https://user-images.githubusercontent.com/24370807/158933150-85a78f85-5a0e-4c1b-bec6-8ef2927b1391.png" />

[2022-03-18 03:41] parasharrajat commented on #7980
Ok. I see. So for this issue, you can just pass the calculated Max height to SwipableView where we were using the const and if the issue still persists, you can report it.

[2022-03-18 03:44] mdneyazahmad commented on #7980
Unfortunately, it is not easy to pass the calculated height. You can also reproduce it on you end without my pr.

[2022-03-18 03:54] phivh commented on #8126
@mdneyazahmad Sorry bro, this bug has reported at Jan 21st. Please take. ;)
![image](https://user-images.githubusercontent.com/5449119/158934482-b9e4cf76-1d23-4a2e-974f-3b5e919521ea.png)

[2022-03-18 04:03] parasharrajat commented on #7980
What were your attempts to solve this challenge?

[2022-03-18 04:04] mdneyazahmad commented on #8126
@phivh I am sorry. I missed the reference part. It is indeed JAN 21st.

[2022-03-18 04:11] mdneyazahmad commented on #7980
Not sure exactly, but I personally think. It should not be related to max height of compose box and this is just because of scrollview. May be, we can detect if the user is releasing at the very bottom (some constant value) to detect a keyboard dismiss event.

[2022-03-18 04:22] Christinadobrzyn commented on #8128
Job posted in Upwork:

Internal: https://www.upwork.com/ab/applicants/1504674443324563456/job-details
External post: https://www.upwork.com/jobs/~016fac1c1858cce015

[2022-03-18 04:26] Christinadobrzyn commented on #7668
Checking on a potential update to the PR or if this can get paid - https://github.com/Expensify/App/pull/7829

[2022-03-18 04:32] Christinadobrzyn commented on #7538
Job is complete without regressions - paid @kakajann and @rushatgabhane in Upwork.

[2022-03-18 04:32] #7538 closed

[2022-03-18 04:58] Christinadobrzyn commented on #6908
7 days in production without any regressions!

Paid @hiteshagja for the fix and a $250 reporting bonus and @parasharrajat for the C+ work. Closed the job in Upwork and closed this issue.

[2022-03-18 04:58] #6908 closed

[2022-03-18 06:07] thesahindia commented on #7706
### Proposal
I think the requirements are clear and I would love take this.

- Will make the button green for the places given in the OP
- Will use the new icon for `connect manually` option and `Add payment methods`

[2022-03-18 06:31] mananjadhav commented on #7081
Completing it this weekend.

[2022-03-18 06:32] mananjadhav commented on #7317
Completing it this weekend

[2022-03-18 08:04] laurenreidexpensify commented on #8152
ah gotcha - sorry this is a bit unusual for a bug to come with a mock up 😅  hence my confusion, okay am adding to Upwork now

[2022-03-18 08:07] laurenreidexpensify commented on #8152
https://www.upwork.com/jobs/~01fe244a53383e39cb

[2022-03-18 08:37] mustapha-ghlissi commented on #8152
https://www.upwork.com/jobs/~01fe244a53383e39cb

[2022-03-18 09:03] Justicea83 commented on #8034
Waiting for PR to be merged

[2022-03-18 11:30] bhargawananbhuyan commented on #8152
Reply to https://www.upwork.com/jobs/~01fe244a53383e39cb

Hi there,
I got your job posting for fixing confirmation screen on change of password in your react native application.

I'm a full-stack developer experienced in node.js, react.js and react native, vue.js, etc. and associated technologies. I can solve your issue within your budget and deadline, and with utmost sincerity.

Note: I'll fix th

[2022-03-18 11:47] mollfpr commented on #7968
## Proposal

This issue appears because `onPress` function of `Delete` button is called because we pressed the `Enter Key` on `Cancel` button.
https://github.com/Expensify/App/blob/c0b318188856d17249ae3d4c62182d31fb2f56bc/src/components/Button.js#L125-L131

Add some checks to make that the element target is equal to the focused current element. This will prevent callback from `Delete` button are c

[2022-03-18 11:48] mollfpr commented on #7968
@Santhosh-Sellavel By the way it's better if you give some feedback for the contributor proposal than emoji 😉

[2022-03-18 12:00] anaskhraza commented on #8152
https://www.upwork.com/jobs/~01fe244a53383e39cb

Hi,

I got your job posting for fixing the confirmation screen on the change of password in your react native application.

I am a Mobile Application Engineer with more than 6 years of experience working on react.js, react native, and swift.

**Solution**: I'll fix this issue by routing the user to the success screen if the password has been changed

[2022-03-18 12:36] syedsaroshfarrukh commented on #8152
https://www.upwork.com/jobs/~01fe244a53383e39cb

Hi, I just saw your job posting fixing the confirmation screen on the change of password in your react native application.

I am full stack developer with more than 3 years of experience with mern stack , react native and vue js. I can help you to fix your issue with in given budget and time frame.

Solution:- I have checked issue and i can resolve

[2022-03-18 12:48] mdneyazahmad commented on #7905
@kadiealexander https://www.upwork.com/freelancers/~011922ae9ff280b160
I Wil create pr by tomorrow Thanks you

[2022-03-18 13:05] kbecciv commented on #8212
@aldo-expensify Yes, account with more than 10K users.

[2022-03-18 13:13] thesahindia commented on #8152
### Proposal

I think we can create a new component for `ConfirmationScreen`, according to the [thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1646342059892209?thread_ts=1646069215.810249&cid=C01GTK53T8Q) we wanna show a message for 2FA if the user hasn't enabled it, we can use `account.requiresTwoFactorAuth` for this, when it's true we will show a message for 2FA.

Currently, we are us

[2022-03-18 13:14] NicMendonca commented on #8200
Upwork job: https://www.upwork.com/jobs/~016a75249a17d3022d

[2022-03-18 13:23] trjExpensify commented on #8198
Upwork job here: https://www.upwork.com/jobs/~01717725d6debc5e84

[2022-03-18 13:32] trjExpensify commented on #7434
@kidroca - paid. @rushatgabhane waiting for you to accept the offer for C+.

[2022-03-18 13:34] aldo-expensify commented on #7856
@stephanieelliott sorry, I'm not part of the contributors management team, you have to ask @luacmartins  or @roryabraham  :)

[2022-03-18 13:42] aldo-expensify commented on #8212
I this only happening in mweb IOS? can you confirm if it happens in web (desktop) or native mobile?

[2022-03-18 14:17] MonilBhavsar commented on #8035
Coming back next week

[2022-03-18 14:40] jboniface commented on #7671
paid

[2022-03-18 14:40] #7671 closed

[2022-03-18 15:12] stitesExpensify commented on #7588
After some internal discussion we've actually decided that this issue is not worth the work on the backend to make it happen. If we end up getting back around to this I'll let you all know!

[2022-03-18 15:12] #7588 closed

[2022-03-18 15:31] jboniface commented on #7497
old post expired, new post here https://www.upwork.com/jobs/~0166d837401b37414a ; bounty raised to $500

[2022-03-18 15:33] jboniface commented on #7644
@rushatgabhane can you clarify the status of this issue? do we have two issues solving the same problem?

[2022-03-18 15:40] johnmlee101 commented on #8030
Hmm, this is true. Well in that case, I think we're fine just keeping it as is since a quick peek at the back-end shows that it would be tricky to implement quickly, and its not a huge priority.

[2022-03-18 15:40] #8030 closed

[2022-03-18 15:40] kbecciv opened #8225 "IOS- Room - Keyboard is opened and cursor focused on input box when open #annonce or #admins room for Admin user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: Create expensifail account and make is admin

1. Launch the app and log in with admin account
2. Tap on #admin or #announce rooms

##

[2022-03-18 15:47] roryabraham commented on #8210
Checking off https://github.com/Expensify/App/issues/8215 as it was closed by @neil-marcellini

[2022-03-18 15:47] parasharrajat commented on #8225
This is not a bug.

The app is designed to autofocus the input when a user opens a new chat. It means if a chat has old messages composer will not be autofocused but if there is none, a composer will be autofocused.

This happens to all types of chats not just rooms.

[2022-03-18 15:50] Santhosh-Sellavel commented on #7968
This was your proposal, here you suggested a one-line change it would break existing behavior.  So I straight away gave a 👎 .

Do not rush proposals (Even I did some times), because we would end up giving a half-cooked solution
Try to go through the problem statement until you fully understand it properly or ask questions to know the expected result for the issue. Then start working on the solutio

[2022-03-18 15:55] Santhosh-Sellavel commented on #7968
After a delete popup is shown, pressing enter should straight away perform a delete action. Focus is not necessarily required to perform the Delete action.

cc: @stitesExpensify

[2022-03-18 15:57] luacmartins commented on #7856
It seems like we decided to fix this in the frontend. @kidroca's proposal looks good. Let's move forward with this.

[2022-03-18 15:58] #8225 closed

[2022-03-18 16:00] mollfpr commented on #7968
@Santhosh-Sellavel Okay, I see it now. Thanks!

[2022-03-18 16:04] rushatgabhane commented on #7434
@trjExpensify accepted, thanks!

[2022-03-18 16:34] mvtglobally commented on #8210
Regression is complete
#8176 is not fixed in mWeb, but it seems Safari limitation. Checking off https://github.com/Expensify/App/issues/8215
Issues
https://github.com/Expensify/App/issues/8212
https://github.com/Expensify/App/issues/8220

Validating last PR and will update shortly

[2022-03-18 16:40] parasharrajat commented on #8128
Waiting for takers...

[2022-03-18 17:02] trjExpensify commented on #7434
Cool, settled!

[2022-03-18 17:13] trjExpensify commented on #8033
Any luck here? 🤔

[2022-03-18 17:18] kbecciv commented on #8212
@aldo-expensify Able to reproduce in Andriod app
![Screenshot_20220317-212324_New Expensify](https://user-images.githubusercontent.com/93399543/159051754-66260119-fb9e-4db0-bc5b-8e881f9c26cb.jpg)

[2022-03-18 17:19] neil-marcellini commented on #8210
#8204 is not working on staging currently.

[2022-03-18 17:28] mallenexpensify commented on #7730
Assigned myself to manage payment, @parasharrajat , can you accept the offer I sent?
Invited @K4tsuki , will pay once accepted.

[2022-03-18 17:32] mallenexpensify commented on #7325
Assigned to myself to make payments
Invited @K4tsuki  and @parasharrajat

[2022-03-18 17:39] mallenexpensify commented on #7288
Assigned to myself to manage payment to @K4tsuki
Here's @K4tsuki 's unfinished PR https://github.com/Expensify/App/pull/7930

@rushatgabhane and @iwiznia , would either of you prefer to work on fixing this issue or should we open it back up to find a new hire?

[2022-03-18 17:41] kidroca commented on #7434
@trjExpensify
I thought I was getting paid for reporting and fixing the issues
It seems I was only paid for fixing

[2022-03-18 17:42] parasharrajat commented on #8033
I will debug this today but I am waiting for a proposal that solves the root cause. I am sure that it will reveal some important bugs(they not necessarily needs to be solved in this issue)

[2022-03-18 17:47] mallenexpensify commented on #6676
Assigned myself to manage. @K4tsuki has been paid.
@NikkiWines, @parasharrajat would either of you want to work on this issue or should we reopen it to contributors?

[2022-03-18 17:49] NikkiWines commented on #6471
PR has been merged

[2022-03-18 17:51] parasharrajat commented on #6676
I will review the state of PR and let you know if I have the capacity to do it.

[2022-03-18 17:53] NikkiWines commented on #6676
I believe we're waiting on an update in https://github.com/Expensify/App/pull/7595. When it's updated I'm happy to review, but if we're fully re-assigning the issue I, unfortunately, don't have the bandwidth to take on this issue right now.

[2022-03-18 17:54] mallenexpensify commented on #6591
Created new Upwork job, invited @parasharrajat and @K4tsuki
https://www.upwork.com/jobs/~011e31d8b2410d6b04

@parasharrajat and @pecanoro would you prefer to complete this issue or reopen it for a contributor to work on?

[2022-03-18 18:01] parasharrajat commented on #6591
Yup, I can finish it up.

[2022-03-18 18:25] AndrewGable commented on #7971
Oh interesting, so how about we do not let it send if it's empty?

[2022-03-18 18:28] rushatgabhane commented on #7706
@thesahindia sounds good.

I have a question about hover style.
Should the non-green buttons this rectangular hover style, or it should be the same shape as the green button.
cc: @shawnborton

<img width="377" alt="Screen Shot 2022-03-18 at 9 39 38 AM" src="https://user-images.githubusercontent.com/29673073/159061634-3cbeb23b-05b8-4cf7-b3fe-476d373d1bbd.png">

[2022-03-18 18:38] rushatgabhane commented on #7288
Hi @mallenexpensify, at this moment I can't dedicate enough time that this PR deserves.
So I'd prefer it to be made internal or open to the pool

[2022-03-18 18:44] trjExpensify commented on #7434
You thought correctly! Sorry about that, I just settled the contract that was in place.

So I sent you a bonus for an additional $250. Got an error message in Upwork saying there was a problem with the account. Did it again and now it looks like I've paid you an extra $250. Can you double check that? 😅

[2022-03-18 19:02] bfitzexpensify commented on #6470
The bot hasn't updated here, but I can see this was [deployed to prod](https://github.com/Expensify/App/pull/7530#issuecomment-1068463421) three days ago. Updating title to remind myself to pay out once 7 days has passed.

[2022-03-18 19:05] Santhosh-Sellavel commented on #7971
Yep that sounds okay, but I'm not 100% on board with it.

[2022-03-18 19:06] AndrewGable commented on #7971
Can you please bring it up in the open source slack room and ask others what they think? Thanks!

[2022-03-18 19:08] marcaaron opened #8229 "`LoginWithShortLivedTokenPage` needs improvement"
## Problem

The transition page logic feels like it is a bit brittle and difficult to understand. There are not obvious side effects like performing some actions in `componentDidUpdate()` which will only happen if we connect to the `betas` because they load and update via AuthScreens. Logic like that is pretty hard to follow and therefore easy to break.

## Why is this important?

This flow is cri

[2022-03-18 19:17] Santhosh-Sellavel commented on #8110
@tgolen
Thanks for taking this quicker!
Seems PR is ready, let's assign @mollfpr this issue!

[2022-03-18 19:19] bfitzexpensify commented on #7516
Given the new height restriction, I don't think this is a big deal - on a screen, it will appear small enough anyway that the blur will be imperceptible. Gonna close this one out.

[2022-03-18 19:19] #7516 closed

[2022-03-18 19:25] marcaaron opened #8230 "[Tracking] New Expensify: Unread Indicator Improvements"
# Proposal

Let’s improve the “unread” flow in New Expensify

# Problem

Our “unread” indicator feature in New Expensify has been buggy since forever. Messages don’t get marked as read when they should, they do get marked read when they shouldn’t, and numbers of unreads can appear off the charts for no explainable reason.

# Solution

Let’s get this under control as this is a core flow of New Expe

[2022-03-18 19:30] bfitzexpensify commented on #7860
Doubled price and updated job title in Upwork.

[2022-03-18 19:36] parasharrajat commented on #6676
I won't be able to work on it by next weekend. @mallenexpensify.

[2022-03-18 19:36] mallenexpensify commented on #7798
Taking over CM to manage payments.  @parasharrajat , can you apply here plz https://www.upwork.com/jobs/~012a764a955a9354d3

[2022-03-18 19:39] parasharrajat commented on #7798
@mallenexpensify Applied with correct terms. Thanks.

[2022-03-18 19:42] parasharrajat commented on #8101
Waiting for proposals...

[2022-03-18 19:54] LucioChavezFuentes commented on #7486
It appears so, the App shows a maximum participants message and does not show more contancts to add when I already added 8.

![image](https://user-images.githubusercontent.com/48106652/159072708-436d29ec-24b5-41fc-adea-9912fc321e8f.png)

[2022-03-18 20:10] trjExpensify commented on #7712
We think the PR linked to this issue has caused a regression, so can we look into that before checking this off ready for payment. Commented on the PR: https://github.com/Expensify/App/pull/7931#issuecomment-1072762385

[2022-03-18 20:13] thienlnam commented on #7587
Putting this on a monthly until we can proceed with this

[2022-03-18 20:15] thienlnam commented on #7916
Any contributor interested in doing this audit? Involves going through the forms and making sure keyboard actions make sense and making updates to those that don't

[2022-03-18 20:19] Santhosh-Sellavel commented on #8198
@marcochavezf or @trjExpensify Add Help Wanted Label here!

[2022-03-18 20:20] trjExpensify commented on #8198
Why did Melv remove it? 🤔

[2022-03-18 20:29] michaelhaxhiu commented on #8131
Oopsie, on it @MelvinBot

[2022-03-18 20:31] iwiznia commented on #7712
Yep, what Tom said. We need to hold on payment till https://github.com/Expensify/Expensify/issues/202283 is handled by @kakajann

[2022-03-18 20:41] parasharrajat commented on #8044
@rushatgabhane

I am curious to know why the following features were reverted in https://github.com/Expensify/App/pull/8145. Did we decide to remove these intentionally?
1. MaxLength counter feature from TextInput. It affected all inputs in the app. To me, the issue seems like hiding the counter instead removing it. And only from [business bank account / Wallet upgrade flows](https://github.com/Ex

[2022-03-18 20:43] deetergp commented on #7524
Same status as previously

[2022-03-18 20:51] Santhosh-Sellavel commented on #8152
@chiragsalian
@thesahindia [Proposal](https://github.com/Expensify/App/issues/8152#issuecomment-1072397902) sounds good to me!
🎀👀🎀 C+ reviewed

Let's get him hired to fix this one!

[2022-03-18 20:57] Santhosh-Sellavel commented on #8152
Hey @bhargawananbhuyan, @anaskhraza, @syedsaroshfarrukh,

You guys should be new here!

First, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) to understand our process.

And also go through these closed issues [here](https://github.com/Expensify/App/issues?q=is%3Aclosed+label%3A%22Awaiting+Payment%22) for reference.

[Other Open Jobs

[2022-03-18 21:00] parasharrajat commented on #8179
I can fix it.

1. https://github.com/Expensify/App/pull/8018 indirectly caused this issue. But we can't blame that PR for this.
2. Storybook's webpack config is not configured correctly and it is bundling extra files.

We just need to make sure only the necessary files are imported. Modify this line to use the correct files only as the main app webpack config. By default storyBook imports every po

[2022-03-18 21:05] parasharrajat commented on #7916
I am waiting for @mdneyazahmad's new proposal with focus-trap. But I see that this issue is more about audits. @mdneyazahmad Would you like to do the audit?

[2022-03-18 21:13] michaelhaxhiu commented on #8131
Upwork job link https://www.upwork.com/jobs/~018c958ebf8450ed40

[2022-03-18 21:23] michaelhaxhiu commented on #6032
- HL design doc is reviewed ✅
- Now, we are moving to the detailed solution
- I updated all@expensify.com and #product, as required
- More coming soon

[2022-03-18 21:24] michaelhaxhiu commented on #7618
Doubling price to $2000.

[2022-03-18 21:26] Santhosh-Sellavel commented on #8110
@tgolen Solution does not work for me!

[2022-03-18 21:26] michaelhaxhiu commented on #7479
hold

[2022-03-18 21:30] luacmartins commented on #7755
We are waiting to work on this after the Form refactors are done, so it doesn't confuse contributors.

[2022-03-18 21:37] Santhosh-Sellavel commented on #7523
Not yet started to work on the fixes, will provide an update on this next week!

[2022-03-18 21:50] chiragsalian commented on #8152
Proposal LGTM as well. Feel free to create the PR @thesahindia

[2022-03-18 21:51] Luke9389 commented on #8114
OK great. Yeah, would you be willing to test this in the same way, except refresh the page between steps 9 and 10?

[2022-03-18 21:52] mallenexpensify commented on #6591
Thanks @parasharrajat, conveniently, you're already assigned! Once done can you post in #contributor-plus with what you think fair compensation should be?

[2022-03-18 21:54] rushatgabhane commented on #8044
@parasharrajat  Thanks, those are great questions.

Yes, the consensus was to remove the character limit hint everywhere in the app - [slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1646961647421709?thread_ts=1646441755.608789&cid=C01GTK53T8Q).

Correct me if I'm wrong, the error feature isn't broken in the app.
The only thing that I did break is the hint prop. Thanks for pointing

[2022-03-18 21:57] mallenexpensify commented on #6676
@marcaaron, weird coincidence you got auto-assigned this, want to put on hold while you/others work on offline-first? If so I can preface the title.
WOW.. you just did it while I was typing.  Great minds....

[2022-03-18 21:57] marcaaron commented on #6676
Let's not do anything related to offline yet.

[2022-03-18 21:59] parasharrajat commented on #8044
Yeah, `Hint and Error feature` is about hints. They are related. When there is an error, it should hide a hint and show an error.

[2022-03-18 22:03] rushatgabhane commented on #8044
Understood. Gotta fix the `hint and error` feature.
And when there's an error, it should hide the hint and show an error.

[2022-03-18 22:10] parasharrajat commented on #6591
I am fine with the current C+ price for this issue, there was a small change remaining.

[2022-03-18 22:26] mallenexpensify commented on #6591
Thanks @parasharrajat, was hoping that was the case, makes things easy

[2022-03-18 22:35] rushatgabhane commented on #7541
@osama256 could you please elaborate on this? I haven't noticed you mentioning this before

[2022-03-18 22:41] marcaaron commented on #8179
What broke it in the first place? Seems like a regression no?

[2022-03-18 22:49] thienlnam commented on #7537
Putting on a monthly until the holding PR is resolved

[2022-03-18 22:58] mallenexpensify commented on #6876
The previous hire is not working on this issue any more, they've been compensated for their time in Upwork. @stitesExpensify or @parasharrajat would you prefer to fix the issue based on the work that's already been done in the PR or should we reopen and hire another contributor to implement?

[2022-03-18 23:00] parasharrajat commented on #8179
I don't blame that PR. But I am fine with anyone fixing it.

[2022-03-18 23:01] adelekennedy commented on #7912
🤑 doubled 🤑

[2022-03-18 23:07] mallenexpensify commented on #8130
@parasharrajat we're not working with @K4tsuki any more, let's continue to accept proposals.  If the final fix uses a majority of what @K4tsuki proposed, will you please add a comment to this GH so I can compensate them?

[2022-03-18 23:11] parasharrajat commented on #6876
I am still not :100: up with the PR changes. I would prefer a new and better implementation. But currently, I don't have any idea of the solution.

[2022-03-18 23:12] mallenexpensify commented on #8062
Taking over CM to administer payment if/once needed

[2022-03-18 23:13] parasharrajat commented on #8130
Sure @mallenexpensify, I am still discussing the possible solution so new proposals are welcome.

[2022-03-18 23:22] mallenexpensify commented on #7837
Sorry for the spammin'
The CM originally got removed by mistake so I'm hopping in (then... somehow removed folks, I'm blaming GH)
@parasharrajat , can you check https://github.com/Expensify/App/issues/6471 to see if it's related to this?

[2022-03-18 23:24] parasharrajat commented on #7837
It does not look related. But we can ask QA to retest it when https://github.com/Expensify/App/issues/6471 is on staging.

[2022-03-18 23:29] adelekennedy commented on #8185
Posted!
[Internal](https://www.upwork.com/ab/applicants/1504962909480267776/job-details)
[External](https://www.upwork.com/jobs/~01dacba70054f7a2d7)

[2022-03-18 23:45] mollfpr commented on #8110
@Santhosh-Sellavel what Android version do you use?

[2022-03-19 00:25] parasharrajat commented on #8179
At last, I am fine with anything. Sorry for confusing post :laughing:

[2022-03-19 02:29] kbecciv opened #8234 "Payments - Add PayPal account button is enabled when using whitespaces"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to  staging.new.expensify.com
2. Login and click to settings page
3. Click to add payment method
4. Select Paypal.me
5. enter only whitespace

[2022-03-19 03:04] Santhosh-Sellavel commented on #8110
@mollfpr I am using a Android 12
Samsung device.

[2022-03-19 03:27] mollfpr commented on #8110
@Santhosh-Sellavel @tgolen I found the culprit.

We need to make the text input unfocus. There are two approaches to do this.

1. Dismiss the keyboard without checking is shown or not, in this way the text input will be blurred.
[code]

2. Passing the text input ref to `EmojiPickerButton` and call `blur()` when the modal will show.
[code]

### Before either above solution applied

https://user-ima

[2022-03-19 04:45] mvtglobally opened #8235 "[HOLD for payment 2022-11-16] [$250] [Image] Cant Share attachments between 40-49 mb - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Go to chat
 2. Select Actions -> Add attachment
 3. Add an around 45 mb video/file (file in tread)

## Expected Result:

Error should be shown i

[2022-03-19 04:50] PrashantMangukiya commented on #8234
### Proposed Solution: (If external)

**Problem:** At present it assign text input value to state directly as shown at line 95 below.
https://github.com/Expensify/App/blob/0b0a51ed0035d4e211e96c7cebfed83ce0063105/src/pages/settings/Payments/AddPayPalMePage.js#L89-L99

**Solution:** We have to allow character those are valid for PayPal me user name.  i.e. `Allow A-Z, a-z, 0-9` and can not contain s

[2022-03-19 05:05] mvtglobally opened #8236 "[$4000] Logo shifts to bottom (Bootsplash) when launched - reported by Ekram Khan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app

## Expected Result:
It shifts to bottom

## Actual Result:
It should not shift

## Workaround:
unknown

## Platform:

Where is th

[2022-03-19 05:14] mvtglobally opened #8237 "Emoji screen have bad animation when keyboard is open - Reported by @ahmdshrif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1- Login 》 chat
2- open keyboard
3- open emoji
4- repeat step 2 snd 3 few times

## Expected Result:
Emoji open smoothly.

## Actual Result:
Emoji s

[2022-03-19 05:22] LucioChavezFuentes commented on #7486
I got a new working design on tooltip. The difference are the following:

1. cut extra white space.
2. store one email per line
3. if email is too big for container an individual elipsis appear
4. the group elipsis appear on a new line

What do you think?

https://user-images.githubusercontent.com/48106652/159107488-2fcb2123-b9c1-4e9c-b2f3-ab1a7199c5e1.mp4

[2022-03-19 09:48] mollfpr commented on #8110
@tgolen @Santhosh-Sellavel updated PR.

[2022-03-19 18:46] orkunkarakus commented on #7497
Hi, you stated that the problem persists, but the users above have provided some sample solutions, are you want to achieve a different result than they stated?
I worked on it and developed a horizontal scroll feature for code blocks only. I am attaching sample images for both desktop and web. If is it the desired result then we can talk about it.

-WEB-
<img width="1064" alt="expensify-web-1" src=

[2022-03-19 19:38] orkunkarakus commented on #8198
This line added by ios default for separate web site content from application bar. The only way to eliminate that line is to change the page theme-color differently from site's background color.

[2022-03-19 22:20] parasharrajat commented on #7497
@orkunkarakus Thanks for the proposal.

We are fine you can pick from their solution and complete it. Only thing is that solution should work on all platforms (Supported platforms can be found on Readme.md).

[2022-03-20 01:40] barun1997 commented on #7962
Opened a PR for this!

[2022-03-20 01:49] kbecciv commented on #8114
@Luke9389 We will retest this issue during KI.

[2022-03-20 06:39] mollfpr commented on #7968
## Proposal

1. Update `Button` component to use `forwardRef` so we can get the ref from `Pressable` component and can compare it later inside `ConfirmContent` component.
[code]
[code]
4. Use class component instead of function component in `ConfirmContent`
5. Set the ref to confirm `Button` and cancel `Button`. Also we need to remove `pressOnEnter` props in confirm `Button`. We gonna set `Enter`

[2022-03-20 07:43] rushatgabhane commented on #8200
Workaround - Scroll up and click the green button "You have x messages"

[2022-03-20 08:58] phivh commented on #8198
@marcochavezf @Santhosh-Sellavel
This is not a bug, this is standard from new mSafari browser version (v15). It helps to separate top bar from the website like create a safe area view. You are able to change the view in the setting to see it more clearly. When you change to Single Tab, it will look the same on mChrome browser.
Technically, you can change the status style by setting meta tag in hea

[2022-03-20 12:45] orkunkarakus commented on #7497
I also completed the development for mobile platforms. I sent the picture of the working state of the web and desktop in my previous message. Now I am attaching the IOS video

https://user-images.githubusercontent.com/61627150/159162873-9ca49ade-2f54-42df-9d82-97c666b072c0.mp4

[2022-03-20 14:17] parasharrajat commented on #7497
Great. Let see your approach now. What are proposing in terms of technical changes?

[2022-03-20 14:51] orkunkarakus commented on #7497
First of all, we only need to add the scroll feature to the component in the web and desktop part. But the real problem is on the mobile platform. Because the message component on the mobile platform is under LongPressHandler and Pressable. Scrollviews below these components have a problem because the LongPressHandler detects the scrolling movement during scrolling, not the scrollview. Therefore,

[2022-03-20 15:20] parasharrajat commented on #7497
Did you face this issue https://github.com/Expensify/App/pull/7814#pullrequestreview-890173323?
How will you fix it?

It would be great to have some psuode code as well. Thanks.

[2022-03-20 15:33] kbecciv opened #8240 "[$1000] Web - Chat History - Messages marked as unread do not switch state on clicking envelope icon"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to http://staging.new.expensify.com/[](javascript:)
2. Log in, mouseover (hover on) any message not labelled as "New" to reveal its envelope i

[2022-03-20 15:58] kbecciv opened #8241 "Web - New group - Gmail.co emails are recognized as those of registered, unconfirmed accounts"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to http://staging.new.expensify.com and create a new account
2. Log in, click the plus sign > New Group
3. Enter the Gmail address of an exist

[2022-03-20 16:29] orkunkarakus commented on #7497
If by content you mean message container, no I did not face this issue. But if by content you mean code block message, yes there was a scroll problem in code blocks scrollview but I solved.
LongPressHandler and Pressable components were left untouched. Only the RenderHTML.js file has been changed.

pseudocode

if platform "android"||"ios"
      if pan gestures on scrollview
         determine resp

[2022-03-20 19:34] parasharrajat commented on #7497
Great, it seems it will do the trick. But I think I was not clear enough. I am expecting some technical changes in the proposal that specifically address code in our codebase. This is an important step in the proposal review process.

It would be really helpful if you can do explain your changes as well.
e.g

You should explain this part. There are many ways to solve a problem, and this is very im

[2022-03-20 20:07] Tabakharniuk commented on #6301
@tgolen @parasharrajat, I am sorry for long reply.

On the web, it is a lot simpler than on iOS/Android, since we can use canvas. The function contract will be compatible with  ImageManipulator.manipulateAsync API.

So generally, function for the web should have the following structure:

[code]

Canvas and drawImage is supported on all your target platform, so there should not be any problem with

[2022-03-20 20:20] parasharrajat commented on #6301
Ok. Great. Thanks for the reply @Tabakharniuk. I am well aware of Ukraine's situation so I won't mind the delay.

I am fine with @Tabakharniuk 's proposal.

cc: @tgolen

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-03-20 20:22] orkunkarakus commented on #7497
Unfortunately, my job is to solve problems, not explain how I solved it. I've said everything I had to say. After that, it's up to you, do you want a clean and working solution with videos and images already proven or not?

[2022-03-20 20:38] parasharrajat commented on #7497
No worries. Thanks for proposing a solution.

[2022-03-20 20:56] marktoman commented on #6718
### Proposal
My proposal extends the currently implemented idea, which is based on the original idea where this scenario was working. (The original implementation had issues caused by frozen rendering, hence the change.) Both of them compare future and previous states.

We are already caching props that we need to compare with a next state, now we just extend it.

1. Add `reportsWithDraft` (`const

[2022-03-20 22:20] kadiealexander commented on #7905
@mdneyazahmad sent you a contract on Upwork :)

@parasharrajat don't forget to apply on Upwork too please, so we can pay for your C+ work!

[2022-03-20 22:21] mountiny commented on #7584
Reverted the PR for precautionary measures as a performance issue has been found. Work will be continued in a new PR https://github.com/Expensify/App/pull/8238

[2022-03-20 23:27] mountiny commented on #7486
That is a great point I have not realized that.

And the rooms/workspaces will have a name so this should not be a problem there!

[2022-03-21 01:53] kadiealexander commented on #7712
@kakajann please take a look at the above and let us know your plan here. Thanks!

[2022-03-21 03:34] mvtglobally commented on #8210
https://github.com/Expensify/App/pull/8204#issuecomment-1072803816

[2022-03-21 03:37] tomivs commented on #8185
Hey there!

It seems like this issue can be solved as follows:

- Creating an event handler for URLs using a method such as getInitialURL() from react native.
  The event handler would process the URL and send the route to react-navigation's API, so that it can redirect the user to the Statements page

- Then, adding support for each platform:
  + Android: Add intent filter to AndroidManifest.xml

[2022-03-21 03:52] mvtglobally opened #8243 "Most of the redirect URLs on Terms and fees page are invalid - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to Terms and fees page (enter /settings/payments/enable-payments in the URL directly for testing purposes)
2. Click on any redirect URL

[2022-03-21 03:55] mvtglobally opened #8244 "The error message doesn't disappear after checking the required checkboxes in Terms and fees page - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to Terms and fees page (Enter /settings/payments/enable-payments in the URL directly for testing purposes)
2. Click on Enable Payments b

[2022-03-21 04:04] mvtglobally opened #8245 "While trying to open the context menu on mWeb(Safari) on links, it shows a blue box on the app - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send a message with link on any Chat on Safari mWeb.
2. Hold press the link to open the context Menu.

## Expected Result:
Context Menu should be

[2022-03-21 04:15] mvtglobally opened #8246 "[HOLD for payment 2022-05-02] [$500] While trying to open the context menu on mWeb(Safari) on image attachment, it shows a blue box on the app - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send a message with link on any Chat on Safari mWeb.
2. Hold press the link to open the context Menu.

## Expected Result:
Context Menu should be

[2022-03-21 04:26] mvtglobally opened #8247 "FEATURE REQUEST: There's no way to know who sent the last message in the LNH on 1:1 chats"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat send a message
2. As another user quote this message and respond back.

## Expected Result:
it would be good to add somethin

[2022-03-21 04:28] mvtglobally opened #8248 "[HOLD for payment 2022-04-15] If a payment method is already set as default we should not see the option to make it default - reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open App -> Settings -> Payments
2. If you don't have a payment method, add a couple of payment methods. (Banks preferably)
3. Now one of them wi

[2022-03-21 04:31] mvtglobally opened #8249 "[HOLD for payment 2022-05-26] [$250] Feature Request: Profile picture, names should be tappable at beginning of the chat & group or channel - reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
Improving UX when a new chat, group, or room is created. Since we have only a couple of chats & this welcome message.
- Profile picture expected to be tappab

[2022-03-21 04:42] mvtglobally opened #8250 "Payment option selection fill is incomplete - reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to Settings -> Payments
2. Click on Add Payment Methods

## Expected Result:
Selection fill should available for full width

## Actual Result:

[2022-03-21 04:53] mvtglobally opened #8251 "Timezone is wrong when using Etc/GMT - reported by @rushatgabhane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to account “A”.
2. Go to settings -> Profile
3. Uncheck “Set my timezone automatically”
4. Select Etc/GMT+3 from the picker, and save.
5. I

[2022-03-21 04:56] mvtglobally opened #8252 "Push notifications are coming in delayed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login on app and background the app
2. from another account send few messages
3. Check for Push notifications to appear

## Expected Result:
Push

[2022-03-21 05:01] rushatgabhane commented on #7905
I know it's too late. But last week we had a discussion regarding this feature request -[slack 🧵](https://expensify.slack.com/archives/C01GTK53T8Q/p1647287793952169?thread_ts=1647276888.274479&cid=C01GTK53T8Q)

So here's an alternative approach.

- We already have a compressed thumbnail from the chat.
- So we first show a this compressed image (stretched out to fit the view) while we are download

[2022-03-21 05:25] adeel0202 commented on #8244
### Proposal (If considered external)

We can add a new method to set the `error` state to false if both checkboxes are checked. (maybe we can write a better name for the method)
[code]
We can then call this method after the state has been changed in `toggleDisclosure` and `togglePrivacyPolicy` methods, like this
[code]
and
[code]

[2022-03-21 05:28] adeel0202 commented on #8243
### Proposal (If considered external)

We can replace the invalid URLs with the valid ones in the following places
https://github.com/Expensify/App/blob/04154702434b53a9de3f99a50b839297da4e4f31/src/pages/EnablePayments/TermsStep.js#L75

https://github.com/Expensify/App/blob/04154702434b53a9de3f99a50b839297da4e4f31/src/pages/EnablePayments/TermsStep.js#L96

https://github.com/Expensify/App/blob/041

[2022-03-21 05:54] Christinadobrzyn commented on #7668
Thanks @NikkiWines! Paid @mananjadhav for the job & @parasharrajat as the Contributor+ & @thesahindia for reporting the issue - all in Upwork.

Closing this issue!

[2022-03-21 05:54] #7668 closed

[2022-03-21 06:22] Beamanator commented on #7486
Good points all around! @LucioChavezFuentes would you please update your proposal to match the latest design in the screenshots [here](https://github.com/Expensify/App/issues/7486#issuecomment-1069350567)?

Then @parasharrajat will review before we move forward 👍

[2022-03-21 06:25] thesahindia commented on #8250
Already fixed in https://github.com/Expensify/App/pull/7677

[2022-03-21 07:04] mdneyazahmad commented on #8051
Pr is ready, testing locally will create soon.

[2022-03-21 07:06] ankushkalra commented on #8090
Hello, the issue is that the UI state is stored in persistent storage, which never gets cleared if the browser is closed before the profile picture upload either fails or succeeds. To solve this, a function can be added in `src/libs/actions/ProfileDetails.js`

[code]

and this function can be called from `componentDidMount` from `ProfilePage.js`. This will solve the issue.

[2022-03-21 07:14] Beamanator commented on #8031
Ok so now I'm thinking this does actually make sense to keep around on mobile because:
1. When you originally click "Edit comment", you won't be sending a message so it makes sense to hide `ReportActionCompose`
2. When you cancel or save your edit, `ReportActionCompose` comes back (since now you'll be thinking about sending a message)
3. When you navigate away & come back, you may want to send a m

[2022-03-21 07:19] parasharrajat commented on #8031
No worries. I appreciate the clarifying questions. It is actually better to discuss it so we are on the same boat.

[2022-03-21 08:39] MariaHCD commented on #8088
Great, thanks, @thienlnam! So moving forward, sounds like the best option would be to investigate usage of another library and this is something that can be handled internally as it is a backend change.

[2022-03-21 09:46] kakajann commented on #7712
I'll raise a PR today

[2022-03-21 10:16] MariaHCD commented on #8088
This issue was not reported by a contributor.

[2022-03-21 10:17] sobitneupane commented on #8234
**Proposal:**
Checking the length of the trimmed payPalUsername to disable the button solves the issue. If the length of trimmed payPalUsername is less than or equal to zero disable the button.
https://github.com/Expensify/App/blob/1e43356731b47efd603442e9697c454bec37107b/src/pages/settings/Payments/AddPayPalMePage.js#L103-L112
[code]

[2022-03-21 10:34] trjExpensify commented on #8198
If this is native to iOS 15, I think we should probably close this issue. Do you agree @roryabraham @PauloGasparSv?

[2022-03-21 10:36] mdneyazahmad commented on #7980
@parasharrajat We can use calculated values as this does not change very often https://github.com/Expensify/App/issues/7980#issuecomment-1059099170

[2022-03-21 10:43] MitchExpensify commented on #8247
I'm not 100% what problem this solves. In a 1:1 chat you will see if you have an unread message in LHN which is always from the other person and prompts you to open it. What problem is caused by not seeing who sent the last message in a DM if we do make it clear when the other person has sent you a message that is unread?

[2022-03-21 10:46] MitchExpensify commented on #8031
Invited to job @parasharrajat

[2022-03-21 11:22] mdneyazahmad commented on #8185
@thienlnam  Could you help me navigate expensify.com/statements/202202/ ?

[2022-03-21 11:34] mdneyazahmad commented on #7905
@rushatgabhane We are not showing the thumbnail images from chat. Once we open the modal it downloads and only when we open it second time it shows the thumbnail.

[2022-03-21 12:27] mountiny commented on #7905
@mdneyazahmad @rushatgabhane

I think it makes sense to show the thumbnail instead of nothing _in case_ the enlarged thumbnail quality won't be too bad. If you know what I mean. For phone or smaller screens where the max size of the image shown is actually not much larger than the thumbnail in the chat, this could certainly be a way to go, however, we would need to see how the enlarged thumbnail l

[2022-03-21 12:33] mdneyazahmad commented on #7905
I too agree with showing thumbnail on mobile and also on desktop. May be, we start with thumbnail and show a loading indicator on top of it. We can prevent it stretching to whole screen on desktop, at least we show something.

[2022-03-21 13:16] kakajann commented on #7712
PR is ready

[2022-03-21 13:18] mountiny commented on #7905
I don't think showing a smaller picture then jumping to a larger one once loaded would be nice. Either we would stretch the thumbnail to the full size and add a spinner over it and then just swap the images once loaded or have nothing as we have now in case the quality of the thumbnail stretched would be too bad.

However, we can focus on that later on. Let's get what we have now right with no reg

[2022-03-21 13:24] PauloGasparSv commented on #8198
I think that would be fine to close it and just be aware of it.

[2022-03-21 13:41] parasharrajat commented on #7905
I agree with Mountiny https://github.com/Expensify/App/issues/7905#issuecomment-1073886714. Let's get the loader rolling first.

[2022-03-21 13:45] parasharrajat commented on #7712
Thanks, @kakajann. I don't know what is required under https://github.com/Expensify/App/issues/7712#issuecomment-1072775854. But It would help a lot if someone can review the PR as well.

[2022-03-21 14:08] parasharrajat commented on #8031
@Beamanator question? What should happen when?
1. user was editing a message and the composer is hidden.
2. He goes back to LHN.
3. Then reopen the same report.
4. Should the composer be shown or not?

So far, I am only forcing the composer on report change.

[2022-03-21 14:29] parasharrajat commented on #7980
But we have a dynamic value https://github.com/Expensify/App/blob/f5c49a067bc1fe29495d1baefdb194b1705bded3/src/pages/home/report/ReportActionCompose.js#L554.

[2022-03-21 14:31] parasharrajat commented on #8033
Not debugged it yet. Just didn't have the time to do that. I will try to do that as soon as possible.

[2022-03-21 14:36] kidroca commented on #7434
Just checked, indeed I've been paid twice for reporting
I've issued a refund for $250 reverting one of the bonus payments

[2022-03-21 14:40] tgolen commented on #6301
Thank you for the additional detail. @mallenexpensify 🟢  to hire @Tabakharniuk for this and let's get to work!

[2022-03-21 14:43] trjExpensify commented on #7434
Perfect, just got the email for the refund. Going to close this one out again, thanks!

[2022-03-21 14:57] danieldoglas commented on #7941
Will change this to monthly since we're treating it internally.

[2022-03-21 15:05] kbecciv commented on #8166
@danieldoglas Yes, this issue is reproduced on Samsung devices.

[2022-03-21 15:06] michaelhaxhiu commented on #8090
Ah shoot, I should've caught this actually! Shall we close?

[2022-03-21 15:08] adeel0202 commented on #8090
@Santhosh-Sellavel, I don't think this is the duplicate of the issue you mentioned. This is not an `offline` specific bug and also it occurs only when you close the browser/app when the upload is in progress.

[2022-03-21 15:09] michaelhaxhiu commented on #8090
Hm question from me - is setting the app = offline (like in https://github.com/Expensify/App/issues/5994) simulating something similar to closing the browser. Are they similar or disimilar at the core?

[2022-03-21 15:20] mdneyazahmad commented on #7980
`maxLines` from this prop is only used in `web` and `desktop` and this issue does not exist there. We have separeate file for `ios` and `android`. So, we have to make changes in `ios` and `android` files.

[2022-03-21 15:24] mdneyazahmad commented on #7915
@laurenreidexpensify applied

[2022-03-21 15:45] stitesExpensify commented on #6876
I agree, I think hiring another contributor is the best way forward

[2022-03-21 15:49] dylanexpensify commented on #8246
Posted!
Internal: https://www.upwork.com/ab/applicants/1505934572388790272/job-details
External: https://www.upwork.com/jobs/~01a730802d2112b532

[2022-03-21 15:55] MitchExpensify commented on #7918
Price doubled to $500 FYI

[2022-03-21 16:03] parasharrajat commented on #7980
Could you please share your whole plan? What changes are you going to do?

[2022-03-21 16:07] parasharrajat commented on #7918
@luacmartins Should we be worried about focus trapping in this issue? I saw that other issues are only doing audits.

[2022-03-21 16:08] roryabraham commented on #8198
@trjExpensify Probably a side-effect of creating the new expensify-bot user.

Yep, agreed. My bad for thinking this was a 🐛

[2022-03-21 16:08] #8198 closed

[2022-03-21 16:09] AndrewGable commented on #8241
I _think_ this is going to be an internal issue, so applied that label.

[2022-03-21 16:13] stitesExpensify commented on #8244
It is external, and your proposal looks good to me @adeel0202! Once @MitchExpensify has created the upwork job go ahead and apply to it :)

[2022-03-21 16:22] Santhosh-Sellavel commented on #8090
Similar at the core.

[2022-03-21 16:24] stitesExpensify commented on #7420
Started a slack conversation about this issue, apparently the requests should not be deleted when you delete the account so this is actually a different bug than we originally thought. Looking into it more this week

[2022-03-21 16:28] mallenexpensify commented on #3981
@johnmlee101 can you please help with the above and split the assignments into two parts?

[2022-03-21 16:36] mallenexpensify commented on #7855
Doubled price to $2000, removed/added the `Exported` label to as a test (internal Slack convo [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1647670369603949))

[2022-03-21 16:37] luacmartins commented on #8248
This can be fixed externally. Adding label.

[2022-03-21 16:45] parasharrajat commented on #7623
Haven't forgotten it. I will update the screenshots today and mark the PR ready.

[2022-03-21 16:51] parasharrajat commented on #7855
Let's get this retested. It seems to me that this issue was happening due to storage read/write blocks on Onyx. Marc was working on some improvements to the Onyx. Maybe this is resolved now.

[2022-03-21 16:52] aldo-expensify commented on #8212
This is related to this code: https://github.com/Expensify/App/blob/7919e24c808dea9dedfe4a2d513365cf092cc1e1/src/libs/actions/PersonalDetails.js#L166-L211

The API command `PersonalDetails_GetForEmails` load some info like `avatar`, `avatarThumbnail`, `firstName`, etc. for a list of emails. I'll check if this can be fixed by improving the performance on the API side.

[2022-03-21 16:59] parasharrajat commented on #8031
Asked here https://expensify.slack.com/archives/C01GTK53T8Q/p1647881926785649

[2022-03-21 17:44] stitesExpensify commented on #8032
I think we want to update all 4

[2022-03-21 17:45] dylanexpensify commented on #8220
Internal: https://www.upwork.com/ab/applicants/1505963684490752000/job-details
External: https://www.upwork.com/jobs/~01916b2d3a4c68ba01

[2022-03-21 17:47] dylanexpensify commented on #8197
internal: https://www.upwork.com/ab/applicants/1505964204060225536/job-details
external: https://www.upwork.com/jobs/~01683d91a542e809a5

[2022-03-21 17:51] parasharrajat commented on #8197
@Expensify/design What are the design expectations for this feature? Thanks.

[2022-03-21 17:54] Santhosh-Sellavel commented on #8032
Domain room not yet available.

So these three would be enough right? @stitesExpensify

[2022-03-21 18:04] thienlnam commented on #8185
@mdneyazahmad You have to be logged into expensify.com first, and then you should be able to access that link

[2022-03-21 18:07] thienlnam commented on #7424
Assigning @kidroca to add the logging to get more information about possible causes, then the issue will be open to them / other contributors that want to implement a fix

[2022-03-21 18:13] stitesExpensify commented on #8032
Yep as long as @sylveawong likes that copy :)

[2022-03-21 18:21] mountiny commented on #7855
Are those in production? I surely saw this problem last week.

It happens usually when I load the app in the browser the first time and it is fetching all the data, then switching the chat reports did this.

[2022-03-21 18:28] parasharrajat commented on #7855
I am not sure but PR was merged on ONYX about 10 to 12 days. May be test on Staging.

[2022-03-21 18:28] mountiny commented on #7855
On Staging, (this is in no way objective measure), but it felt like it is occurring less often. It happened again after a hard refresh when other loads were happening, but then only when switching chats very quickly it did occur a couple of times, but definitely felt less frequent than on production.

Hence, that wcould be related to some performance improvement, but probably the problem was not r

[2022-03-21 18:58] azimgd commented on #7925
After further investigation my initial thought are following:
- `maintainVisibleContentPosition` won't behave correctly when used under FlatList because `self->_contentView.subviews.count` here https://github.com/facebook/react-native/blob/main/React/Views/ScrollView/RCTScrollView.m#L910 will have an amount of items rendered by virtualizer, not the actual array length of `data` prop passed to the

[2022-03-21 18:59] osama256 commented on #7541
@rushatgabhane When we open the App in default device font size we see a normal font and when we open the App in a larger device font size we see a larger font, but when we try to change the device font size while the App is opening it shouldn't affect the App until the user close the App and open it again, the issue is we can't control HTML font size inside `RenderHTMLConfigProvider` like italic,

[2022-03-21 19:03] parasharrajat commented on #7925
Thanks, @azimgd, I am eager to see the detailed analysis. You can create an external and link it here if the post is long. You can use the same to prepare a complete solution for each step you would take which can be reviewed as a whole at some point.

[2022-03-21 19:25] parasharrajat commented on #7925
Hey @fabriziobertoglio1987,

Hope are you doing great. Sorry to ping you without notice. But I have seen your work on RN issues and really fond of your efforts to make RN better. I thought you may be interested in this job.

Thanks.

[2022-03-21 19:32] thesahindia commented on #7625
@roryabraham, can we add `waiting for copy` label here? We need a spanish translation and need to confirm the welcome message, I am using the copy that was suggested [here](https://github.com/Expensify/App/issues/7625#issuecomment-1056807680).

[2022-03-21 19:41] luacmartins commented on #7918
Let's not worry about focus trapping in this issue.

[2022-03-21 19:43] parasharrajat commented on #7317
Curious to know where are we with this.

[2022-03-21 19:45] parasharrajat commented on #7598
Bump... :arrow_up:

[2022-03-21 19:54] kadiealexander commented on #8115
Price doubled! Get those proposals in! 📢

[2022-03-21 19:56] kadiealexander commented on #8007
@Santhosh-Sellavel any thoughts on the above?

[2022-03-21 20:01] parasharrajat commented on #6718
@marktoman 's proposal looks convincing.

Good point. @mountiny What do you say?

cc: @mountiny

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-03-21 20:20] kadiealexander commented on #6965
All paid, thanks everybody!!

[2022-03-21 20:20] #6965 closed

[2022-03-21 20:31] SumitDiyora commented on #7954
Checked all PRs and added comments to all PRs where accessibility issues were found without the Android platform (due to build issues on Android).
The non-applicable PRs are - #7892, #7898, #7922, #7924, #7927, #7939, #7955, #7989, #7996, #8000

[2022-03-21 20:31] zoontek commented on #7925
@roryabraham Maybe it doesn't really happen in your reproduction case because the issue is, indeed, tied to virtualization (could only happen inside a `FlatList` / `SectionList`?) (like @azimgd said)

If this is the case, it will be impossible to provides a real fix for this API (maybe change it). As the items might not be rendered inside the `FlatList`, we cannot compute the `deltaY` properly wit

[2022-03-21 20:35] mountiny commented on #6718
@marktoman Good to see you back!

@parasharrajat thank you for reviewing!

I am not sure if there would be an intended scenario when a draft would get cleared on a non-active report so we can skip this (or have I misunderstood what this is means?)

[2022-03-21 20:41] kevinksullivan commented on #6720
All set.

[2022-03-21 20:41] #6720 closed

[2022-03-21 20:45] thesahindia commented on #8152
We need a spanish copy here and need to confirm if the copy is correct. So, can we add `waiting for copy` label here?
As per the comment on [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1646342059892209?thread_ts=1646069215.810249&cid=C01GTK53T8Q) when the 2fa is enabled the confirmation page will say: You’re all set, keep your new password safe.”
When 2fa isn't enabled we will add ano

[2022-03-21 20:49] kadiealexander commented on #7007
Please ignore the above, I updated the wrong issue.

[2022-03-21 21:00] mallenexpensify commented on #8062
Doubled price to $500
https://www.upwork.com/jobs/~01b1f2774a77de0bf7

[2022-03-21 21:17] marcochavezf commented on #7079
These are the new sign-in buttons with an error message:

<img width="800" alt="Screen Shot 2022-02-04 at 17 55 30" src="https://user-images.githubusercontent.com/6829422/159363296-d3b42dc3-2b52-44a5-a3f9-50262857a3ed.png">

<img width="400" alt="Screen Shot 2022-02-04 at 17 56 01" src="https://user-images.githubusercontent.com/6829422/159363300-54f48e37-e6c5-4833-90e1-3667c5e2ed90.png">

And this

[2022-03-21 21:21] marcochavezf commented on #7079
Hi @michelle-thompson! In the above message I posted a few screenshots of a new page that contains the new sign-in buttons, do you think the style for those buttons is fine? :)

[2022-03-21 21:24] mallenexpensify commented on #8235
Well... that is a weird one, nice catch @Tushu17
I was able to reproduce, got this is logs
<img width="666" alt="image" src="https://user-images.githubusercontent.com/22508304/159366068-28215f09-b706-418a-b682-cbc3bcc2afa9.png">

The pdf file @Tushu17 was using is[ here in slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1645825744779409?thread_ts=1644521208.448039&cid=C01GTK53T8Q)

If/whe

[2022-03-21 21:31] Luke9389 commented on #7400
@mvtglobally is this still not reproducible for you guys?

[2022-03-21 21:32] mallenexpensify commented on #6301
The previous job was closed, I created a new one, can you apply here please @Tabakharniuk ? https://www.upwork.com/jobs/~01c481dcd538174d33

[2022-03-21 21:35] roryabraham commented on #7625
@rosegrech we need copy for the welcome message for deleted #admin/#announce rooms. Right now this is what we've got:

[2022-03-21 21:38] rushatgabhane commented on #7541
Thanks @osama256

🎀 👀 🎀 C+ reviewed

@osama256's [proposal](https://github.com/Expensify/App/issues/7541#issuecomment-1071326670) looks good.
cc: @pecanoro

[2022-03-21 21:45] roryabraham commented on #7925
@zoontek In regards to your last post and the question posed in the image: `How can we compute this since the items are currently not rendered and their height is variable`?

I could be wrong, but my understanding is that the dynamically computed height will be available in [`addUIBlock`](https://github.com/facebook/react-native/blob/8bd3edec88148d0ab1f225d2119435681fbbba33/React/Modules/RCTUIMana

[2022-03-21 21:49] tomivs commented on #8197
For this, we just have to add a modal component — which would contain the picture in full screen mode — and a click event that changes the state to show that modal.

Here is a prototype:
https://user-images.githubusercontent.com/6005972/159367991-49bcfbda-ab81-43d5-897b-a1bbf0dd0980.mp4

I'll be attentive to any comments and start working on this issue if my proposal if accepted.

Thanks.

[2022-03-21 21:55] roryabraham commented on #7925
I agree it's possible that the problem exists only with a VirtualizedList, but I'm still not sure why. My loose understanding of @azimgd's latest theory is that it has something to do with referential integrity. Something like this:

1. Let's say `VirtualizedList` has `data` with 1000 items is rendering items `[400, 600]`
1. `onStartReached` is called and item `400` is marked as the first visible

[2022-03-21 21:56] rushatgabhane commented on #7352
Thanks @ahmdshrif

C+ reviewed 🎀 👀 🎀

@roryabraham I think we should hire @ahmdshrif, we can then work together on all the test cases.
@ahmdshrif's [proposal](https://github.com/Expensify/App/issues/7352#issuecomment-1064853399) looks good to me.

[2022-03-21 21:57] rosegrech commented on #7625
Thanks @roryabraham trying to confirm when we delete rooms we want a welcome message?? Sounds odd so trying to understand this some more :)

[2022-03-21 21:59] stitesExpensify commented on #7420
Okay so when you close an account we retract all of your processing reports [here](https://github.com/Expensify/Web-Expensify/blob/05d433a2159daa12aaab24cae1b05e47d7abd485/lib/UserAPI.php#L1481) and then when we get to auth we delete all open, non-processing reports [here](https://github.com/Expensify/Auth/blob/298a891c21bae93f02a969544f72397f83ff270f/auth/lib/Account.cpp#L1415). To me this seems

[2022-03-21 22:07] rushatgabhane commented on #7644
@jboniface The proposals for both #7352 and this issue, modify the same `Expensimark` rule. So @ahmdshrif posted a combined proposal on #7352

Anyway, I've recommended that we hire @ahmdshrif to fix this issue - https://github.com/Expensify/App/issues/7352#issuecomment-1074459989

[2022-03-21 22:09] rushatgabhane commented on #7644
@ahmdshrif could you please repost your proposal here? And slightly customize it for this issue.
It'll make it easier for @ iwiznia to review it. Thanks a lot!

[2022-03-21 22:15] marcaaron commented on #7912
Melv needs a spa day

[2022-03-21 22:16] mallenexpensify commented on #7288
I'm going to go out on a limb and say @iwiznia doesn't want to finish this :)
I added the `Help Wanted` label to get some 👀

[2022-03-21 22:19] Luke9389 commented on #7638
Still on hold here melvin

[2022-03-21 22:20] mallenexpensify commented on #7288
New job posted in Upwork - https://www.upwork.com/jobs/~0159fde7c7b19497cf
@rushatgabhane , you're still hired [here](https://www.upwork.com/jobs/~01fb2755e021bc2108), will figure out which to pay you on when the time comes :)

[2022-03-21 22:20] Luke9389 commented on #7464
Still planning Melvin

[2022-03-21 22:23] adelekennedy commented on #8005
silly question @Beamanator anything else I need to do to put this on hold besides add HOLD to the title?

[2022-03-21 22:26] rosegrech commented on #7598
Sorry got a lil confused here on who is doing what. No one really confirmed or addressed my comment [here.](https://github.com/Expensify/App/issues/7598#issuecomment-1067218277) So we should finalize Eng copy before translating.

[2022-03-21 22:28] kadiealexander commented on #7712
@pecanoro or @iwiznia are you free to help @parasharrajat here?

[2022-03-21 22:36] marktoman commented on #6718
Thanks, I've applied. Agree that this is probably not a realistic use case.

[2022-03-21 22:37] mallenexpensify commented on #7598
From [this Slack post](https://expensify.slack.com/archives/C01GTK53T8Q/p1647902063771519)

@justinpersaud , do you happen to have? I know you've been working on filetypes lately

[2022-03-21 22:40] rushatgabhane commented on #7625
@rosegrech currently the message says "This is the beginning of the private #announce (deleted) room, invite others by @mentioning them." But we can't invite anyone in the deleted room.

So we're changing it to - "This is the beginning of #admins (deleted), there's nothing to see here."

I hope this helps

[2022-03-21 22:43] iwiznia commented on #7420
Well, it is the expected behavior for oldDot, but causes problems in newDot, so maybe we need to change it, because reports in newDot are never in closed state and processing is a totally valid "final" state for a report.

[2022-03-21 22:49] mallenexpensify commented on #6876
Added `Help Wanted` and `Exported`, created a new job in Upwork https://www.upwork.com/jobs/~013607bfacea338b43

[2022-03-21 22:53] rushatgabhane commented on #7853
@mollfpr we also need to make sure that `Shift + Tab` works too. Can you please confirm that works too?

[2022-03-21 22:54] rosegrech commented on #7625
Ah thanks @rushatgabhane Now I see...

So if a room was deleted and someone happens to join it for whatever reason this is the message they will see :)  That change makes sense. But "beginning" doesn't make sense since this room ain't around anymore and I think this is an opportunity to have a little more fun here.

How about:

"You missed the party in #admins (deleted), there's nothing to see her

[2022-03-21 22:56] iwiznia commented on #7712
Seems @pecanoro already did

[2022-03-21 22:56] zoontek commented on #7925
No, you are right, but it doesn't solve the main issue: by rendering items on scrolling to the top of the list, you shift  `autoscrollToTopThreshold` limit. This could be fixed by precising `getItemLayout` + fix the ScrollView module to support forced and consistant items layout size (currently, `VirtualizedList` is based on `ScrollView` native module (https://github.com/facebook/react-native/blob

[2022-03-21 23:00] rushatgabhane commented on #7625
love it!

[2022-03-21 23:00] stitesExpensify commented on #7420
I think if you delete your account with a money request still pending then it makes total sense that we would retract that request. Am I missing a different case?

[2022-03-21 23:01] roryabraham commented on #7352
Okay. Honestly, I had some difficulty following the language used throughout this discussion, but the videos give me enough confidence to think that we're on the right track.

I agree that there's a substantial burden on maintenance in our Markdown parser, but that predates my time at Expensify so I don't have all the context around why we decided to build our own Markdown parser. Generally I thin

[2022-03-21 23:04] iwiznia commented on #7420
If we do that, what happens to the workspace chat and all the things pointing to the now non existent reports?
Also, what happens for credit card requests that will never be deleted and will never be approved (ie: their final state would be processing)?

[2022-03-21 23:08] stitesExpensify commented on #7420
I was thinking that we should make a new report action that shows the request is "cancelled" and then we can show it in the UI.

I don't know what that is tbh. What is a credit card request and how is it different from a normal "Request money"?

[2022-03-21 23:19] iwiznia commented on #7420
A credit card request is a transaction done with the expensify credit card. Since those don't need to be paid and for now there are no approvals, the state of the report when they are done with them will still be `processing`.

[2022-03-21 23:23] mvtglobally commented on #8210
@AndrewGable Anything we can do to help and move this checklist forward.. https://github.com/Expensify/App/pull/8204 is the only pending item. Does it block checklist?

[2022-03-21 23:27] AndrewGable commented on #8210
Latest updates are here: https://github.com/Expensify/Expensify/issues/201705

Yes, I believe it needs to pass, @neil-marcellini is working on a fix.

[2022-03-21 23:38] Luke9389 opened #8260 "testing auto-assigner reported by luke"
Testing for this issue: https://github.com/Expensify/Expensify/issues/202010

[2022-03-21 23:39] Luke9389 commented on #8260
Sorry for the noise, pls ignore @kadiealexander

[2022-03-21 23:39] #8260 closed

[2022-03-21 23:40] Luke9389 opened #8261 "testing auto assigner"
testing auto assigner for this issue: https://github.com/Expensify/Expensify/issues/202010

[2022-03-21 23:40] Luke9389 commented on #8261
Sorry for the noise @isabelastisser. This is just a test issue.

[2022-03-21 23:40] #8261 closed

[2022-03-21 23:45] justinpersaud commented on #7598
I don't have a full list of types we want to support just yet, but for what it's worth, I did put a PR up earlier today to fix SVG images so that they're downloadable.

[2022-03-21 23:50] mallenexpensify commented on #7288
Actually... I'm going to double this to help light a 🔥 since it's an N7 initiative (ie. on our roadmap and time-sensitive)

[2022-03-21 23:57] trjExpensify commented on #7274
Price doubled to $2k on Upwork [here](https://www.upwork.com/jobs/~01af0dfa02aa00593f).

[2022-03-22 00:14] roryabraham commented on #7547
@mananjadhav Did you post the errors you ran into in #expensify-open-source?

[2022-03-22 00:19] isagoico commented on #8114
@Luke9389 Issue was reproducible during KI retests by 2 testers

[2022-03-22 00:20] roryabraham commented on #7625
Asking for translations now...

[2022-03-22 00:22] kadiealexander commented on #7598
@justinpersaud does that make this issue irrelevant?

[2022-03-22 00:24] roryabraham commented on #8090
@Santhosh-Sellavel I agree this is a dupe, but have a qualification I am going to post in that other issue.

[2022-03-22 00:24] #8090 closed

[2022-03-22 00:32] roryabraham commented on #8090
I actually commented in slack [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1647908980098079)

[2022-03-22 00:47] kadiealexander commented on #7352
Have sent contracts to @ahmdshrif and @rushatgabhane to ensure they're paid when this is completed. Please accept when you can!

[2022-03-22 01:13] amyevans commented on #8240
I _think_ this could be labeled external but going to come back to it tomorrow to confirm

[2022-03-22 01:55] roryabraham commented on #7625
translates to

[2022-03-22 02:12] parasharrajat commented on #7547
You can use any proxy service for testing. Get the proxy url for the api call and pass it to the settings in the component and you should be good to test it.

[2022-03-22 02:26] Christinadobrzyn commented on #8045
Raised the price to $500

[2022-03-22 02:56] stephanieelliott commented on #8048
Posted to Upwork: https://www.upwork.com/jobs/~01999d68f951063456

@Santhosh-Sellavel and @deetergp we have two proposals already [here](https://github.com/Expensify/App/issues/8048#issuecomment-1062569190) (first) and [here](https://github.com/Expensify/App/issues/8048#issuecomment-1062965782) (second).

[2022-03-22 02:59] stephanieelliott commented on #8134
2x'd t0 $500: https://www.upwork.com/jobs/~017fecd4f1b010dc8e

[2022-03-22 03:04] mdneyazahmad commented on #7916
@parasharrajat I am sorry I missed the notification and Thank you for the offer. I will soon post the audit of this form. I also think that focus trap should be there. You can see in the video how convenient it is for the user to access modal content with just keyboard. When enter is pressed it should open the modal and focus on the first focusable element. So that he can access the modal immediat

[2022-03-22 03:06] stephanieelliott commented on #8179
Ok based on @parasharrajat'scexplanation, it sounds like this is not a regression.

Bearing that in mind, @tgolen what do you think of the proposal Rajat shared [here](https://github.com/Expensify/App/issues/8179#issuecomment-1072791974)?

[2022-03-22 03:11] mdneyazahmad commented on #7980
@parasharrajat This is the only change required.

[code]

[2022-03-22 03:32] tamal-thetaonelab commented on #8048
Proposal:

Just to pass true instead of false for the prop `success`
https://github.com/Expensify/App/blob/main/src/pages/settings/Security/CloseAccountPage.js#L115

https://www.awesomescreenshot.com/video/7997953?key=1d5729698e07c9f0a5520229487c31bc

[2022-03-22 03:45] mvtglobally commented on #6669
Issue not reproducible during KI retests. (Second week)

[2022-03-22 03:47] mvtglobally commented on #7422
Issue not reproducible during KI retests. (Second week)

[2022-03-22 03:48] mvtglobally commented on #7400
@Luke9389  We had one user unable to repro the issue
https://utest-dl.s3.amazonaws.com/testRunStepMinAttachmentsResult/19023359/Recording__1257.mp4?AWSAccessKeyId=AKIAJ2UIWMJ2OMC3UCQQ&Expires=1679456860&Signature=FaDNZ60PFNbrwyLo7PWNK9GOJAc%3D
While another user was blocked as app crashed. (which may be due to unrelated issue)

[2022-03-22 03:50] mvtglobally commented on #7617
Issue not reproducible during KI retests. (Second week)

[2022-03-22 03:51] mvtglobally commented on #7675
Issue not reproducible during KI retests. (Second week)

[2022-03-22 03:52] mvtglobally commented on #7712
Issue not reproducible during KI retests. (First week)

[2022-03-22 03:54] mvtglobally commented on #7638
Issue not reproducible during KI retests. (First week)

[2022-03-22 03:55] mvtglobally commented on #7642
Issue not reproducible during KI retests. (First week)

[2022-03-22 03:57] mvtglobally commented on #7885
Issue not reproducible during KI retests. (Second week)

[2022-03-22 03:58] mvtglobally commented on #7919
Issue not reproducible during KI retests. (Third week) Closing

[2022-03-22 03:58] #7919 closed

[2022-03-22 04:00] ctkochan22 commented on #7642
Cool I think this is fixed. Whoo! Closing

[2022-03-22 04:00] #7642 closed

[2022-03-22 04:00] mvtglobally commented on #8108
Issue not reproducible during KI retests. (First week)

[2022-03-22 04:37] mananjadhav commented on #7547
Okay. Thanks for this. I thought there's a might be another way to do it.

I didn't. I will post it next time, this was more of a question on QA. Thanks for responding.

[2022-03-22 04:42] parasharrajat commented on #7363
Shhhh.....Melvin

[2022-03-22 04:52] parasharrajat commented on #7598
@kadiealexander Seems so.

[2022-03-22 04:53] parasharrajat commented on #7007
@thesahindia Bump..

[2022-03-22 06:45] mollfpr commented on #7853
@rushatgabhane yup still working.

https://user-images.githubusercontent.com/25520267/159423095-38ae9c6b-9dec-4f09-9ab4-0badb7403a79.mov

[2022-03-22 06:55] rushatgabhane commented on #7853
🎀 👀 🎀 C +reviewed
@tgolen I recommend @mollfpr's [proposal ](https://github.com/Expensify/App/issues/7853#issuecomment-1063887115) . It's a workaround but I doubt that we can get it fixed at the root level https://github.com/Expensify/App/issues/7853#issuecomment-1065209149

[2022-03-22 07:26] ahmdshrif commented on #7644
sure  @rushatgabhane
@iwiznia  we have an issue here when copying text from the text editor  because it uses `div` to make a new line
and that is what we try to fix on both issues.

so I add the regex before here and it work fine but did not work on the second issue so I replace it with some logic explained here https://github.com/Expensify/App/issues/7352#issuecomment-1064853399 to work with both

[2022-03-22 07:26] Beamanator commented on #8005
Good question @adelekennedy , that's all we need to do! :D

[2022-03-22 08:23] Beamanator commented on #8005
Ok taking off hold & adding the reward to the start of the title - @adelekennedy I think it may be time to double the price of this one?

[2022-03-22 08:27] Beamanator commented on #7912
Maybe this should be `weekly`?

[2022-03-22 08:29] Beamanator commented on #8246
Hmm looks like some of our automation broke when `melvin-bot` came alive 🤔 I'm going to re-add `Help Wanted` and hopefully fix some broken automation today that made `Melvin` think `melvin-bot` actually assigned someone already

[2022-03-22 08:56] wahaj-47 commented on #8045
https://user-images.githubusercontent.com/8758774/159443412-1cd1bb39-6842-40ea-9b1e-b9a9130ee190.mov

@kevinksullivan Here you go

[2022-03-22 09:06] Justicea83 commented on #8034
Being worked on in another PR

[2022-03-22 10:21] kidroca commented on #6876
I've submitted a proposal some time ago, but a contributor was already working on the ticket, maybe you can consider it now: https://github.com/Expensify/App/issues/6876#issuecomment-1047760646

The PR from the slack thread: https://github.com/Expensify/App/pull/7815

[2022-03-22 10:41] mdneyazahmad commented on #7918
## Proposal

#### Add Personal Bank account flow:
need help navigating the page

#### Settings - Change Password:
1. `tab` and `shift` + `tab` work as expected.
2. `enter` submits form.
3. `eye` icon is toggled with both `enter` and `space`.
4. When we submit form and it has error it displays the error but does not focus on the error text input.

#### Settings - Profile:
1. `tab` and `shift` + `ta

[2022-03-22 11:30] mountiny commented on #8108
Not reproduced during retest.

[2022-03-22 11:40] thesahindia commented on #7966
Done ✅

[2022-03-22 11:48] mountiny commented on #7363
Do you want to make this Monthly since it is a tracking issue?

[2022-03-22 12:22] MitchExpensify commented on #8241
I don't think this is true, it was reported by applause - Unassigning myself (feel free to assign me again if incorrect!)

[2022-03-22 12:28] MitchExpensify commented on #8244
[Upwork Job](https://www.upwork.com/jobs/~0141bd307295361832)

[2022-03-22 12:57] laurenreidexpensify commented on #8248
https://www.upwork.com/jobs/~01b112c8f969451c2f

[2022-03-22 13:03] laurenreidexpensify commented on #7972
@Tushu17 sorry I missed this, but as soon as you accept offer I will issue payment in Upwork for $500 for reporting and implementing solution

[2022-03-22 13:09] adeel0202 commented on #8244
Thanks @MitchExpensify, I have applied on Upwork.

[2022-03-22 13:19] parasharrajat commented on #7363
Yeah that would be great. Thanks @mountiny

[2022-03-22 13:20] parasharrajat commented on #7918
I am fine with @mdneyazahmad doing the audit and fixes for this job. We can go through the suggestion on the PR.

cc: @pecanoro

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-03-22 13:27] MitchExpensify commented on #8032
Looks great to me @sylveawong

[2022-03-22 13:43] Tushu17 commented on #7972
@laurenreidexpensify ok done, I've accepted the offer.

[2022-03-22 13:53] azimgd commented on #7925
`This is a draft`

## FlatList
<img src="https://user-images.githubusercontent.com/4882133/159477861-ffeeb15d-bdf2-4b94-bb0c-a8754959b0f6.jpg" width="360" />

[code]

Output of `NSLog(@"Subviews count: %lu", self->_contentView.subviews.count);` at `prependUIBlock`:

- render cycles of virtualizer items
- only 100 items are passed into FlatList (500-600)
- onStartReached is turned off
- onEndReache

[2022-03-22 14:51] Santhosh-Sellavel commented on #8007
@stitesExpensify
So for @mateusbra proposal [here](https://github.com/Expensify/App/issues/8007#issuecomment-1069047302) LGTM!
Except for the edge case handling I mentioned [here](https://github.com/Expensify/App/issues/8007#issuecomment-1064311667

But I feel this is unnecessary could have achieved the same in much simpler way!
[code]
@mateusbra also this change doesn’t solve the case I mentioned

[2022-03-22 14:56] thesahindia commented on #7007
@parasharrajat, PR is ready just need to resolve some conflicts.

I was just waiting for the decision on this.

@marcaaron, do we wanna change the error message here?

[2022-03-22 15:35] neil-marcellini commented on #8210
Update: I have a [draft PR](https://github.com/Expensify/App/pull/8257) up as a potential fix. I'm going through the process of testing out [all the flows](https://github.com/Expensify/Expensify/issues/201705#issuecomment-1074334898), so that part is a little bit time consuming.

[2022-03-22 15:39] pecanoro commented on #7918
@mdneyazahmad Feel free to apply for the job in Upwork and start working on a PR for this!

[2022-03-22 15:42] stitesExpensify commented on #8032
I asked for translations in slack, will post them here when they're ready :)

[2022-03-22 16:20] thesahindia commented on #7313
@tgolen, now the issue is on mWeb, here's a video of iPhone 12 -

https://user-images.githubusercontent.com/83179295/159524959-68453c6f-6399-44a7-9d5c-f64b9b1bc592.mov

[2022-03-22 16:26] michelle-thompson commented on #7486
Cool, so it seems we can just cap out at eight emails then.

[2022-03-22 16:59] parasharrajat commented on #8179
PR ready...

[2022-03-22 17:04] mollfpr commented on #8246
## Proposal

Adding css to display `none` of callout information will be enough to resolve this. There's a function to add `disable-select` to `body`. The class will set some style `-webkit-user-select: none !important` and `-webkit-touch-callout: none !important;` so the callout information from ios will not showing.

Call the function `ControlSelection.block();` before showing the bottom modal a

[2022-03-22 17:10] parasharrajat commented on #7980
Can we please try to make it dynamic? I just don't see how someone will be able to relate this formula in the future with anything.

[2022-03-22 17:11] mollfpr commented on #7853
@tgolen Sorry not to make it clear. The `onKeyDown` will be pass to `PressableWithSecondaryInteraction`. Basically, the focus blue border is set from `react-native-web` by the keyboard event listener, it's added `data-focusvisible-polyfill="true"` and in our css will be set blue outline around the element.

So the solution I propose is we blur immediately when the key is pressed, in this way we st

[2022-03-22 17:16] mollfpr commented on #8246
@parasharrajat the `onPressIn` props are not called when doing the long-press.

[2022-03-22 17:17] ddzirt commented on #8248
@luacmartins is there a way to manually add a bank(since I am from Ukraine no of the banks that I have are present in the list) because I've tried to do that in iOS app(installed on phone, not emulated via simulator) and it threw me back to payments screen.

[2022-03-22 17:34] luacmartins commented on #8248
@ddzirt Are you trying to reproduce this on dev? If so, I believe that you can add any bank from the Plaid list using the sandbox credentials.

[2022-03-22 17:34] adeel0202 commented on #8090
So @roryabraham, am I again not eligible for the reporting bonus? 😄 (referring to [this](https://expensify.slack.com/archives/C01GTK53T8Q/p1644857187920329) slack conversation)

[2022-03-22 17:35] ddzirt commented on #8248
@luacmartins OK thanks, i'll try.

[2022-03-22 18:26] mallenexpensify commented on #6876
@parasharrajat , can you review @kidroca 's proposal and PR above?

[2022-03-22 18:29] mallenexpensify commented on #8124
Doubled price to $500, re-added `Help Wanted` label
https://www.upwork.com/jobs/~017bbe06765188f815

[2022-03-22 18:36] parasharrajat commented on #6876
I will @mallenexpensify. Reviewing others ATM.

[2022-03-22 18:36] chiragsalian commented on #8152
I'm not sure if the color of that gif is what we want. Best to tag @Expensify/design to confirm if the celebration gif above would look good for the password updated screen or would we want something else?

To confirm, these are the english copies right?
If 2FA is enabled -> "You’re all set, keep your new password safe."
If 2FA is not enabled -> "Set up [two-factor authentication](https://github.c

[2022-03-22 18:39] stitesExpensify commented on #7420
Gotcha. So should we just not retract/close any processing IOU reports then?

[2022-03-22 18:40] adelekennedy commented on #8005
@Beamanator yep - I got the Slack ping right before we put it on hold! I'll double now!

[2022-03-22 18:42] #7664 closed

[2022-03-22 18:47] thesahindia commented on #8152
If 2FA is not enabled -> "You’re all set, keep your new password safe. Set up [two-factor authentication](https://github.com/Expensify/App/issues/link) for additional account security."

I think when 2FA is not enabled we can keep the first line same and just need to add a second line related to 2FA

[2022-03-22 18:47] rushatgabhane commented on #7591
Unfortunately, we have a regression - https://github.com/Expensify/App/pull/7660#issuecomment-1066289008

@ahmdshrif you had some ideas on how you can fix it, could you please post it here?

[2022-03-22 18:49] chiragsalian commented on #8152
Cool, i've asked for translation. Shall let you know once i receive them.

[2022-03-22 19:00] trjExpensify commented on #7913
Settled the contract! 👍

[2022-03-22 19:00] #7913 closed

[2022-03-22 19:08] trjExpensify commented on #7885
Settled up both contracts. 👍

[2022-03-22 19:08] #7885 closed

[2022-03-22 19:15] Tushu17 commented on #8249
### Proposal
I think we can just wrap `RoomHeaderAvatar` and `ReportWelcomeText` with `Pressable` like we have in HeaderView.js -
https://github.com/Expensify/App/blob/2969ed7bd0635a98d07520a1a3ba09c985fdb7c3/src/pages/home/HeaderView.js#L127-L135

https://github.com/Expensify/App/blob/2969ed7bd0635a98d07520a1a3ba09c985fdb7c3/src/pages/home/report/ReportActionItemCreated.js#L37-L42
If we wrap `Roo

[2022-03-22 19:23] mallenexpensify commented on #7906
All kinds of issues with Upwork, @rushatgabhane , @ahmdshrif and @thesahindia should all be paid $250/each and their contracts closed. Please comment on this issue if anything is _weird_

[2022-03-22 19:23] #7906 closed

[2022-03-22 19:26] michaelhaxhiu commented on #7308
Paid!

[2022-03-22 19:26] #7308 closed

[2022-03-22 19:42] Santhosh-Sellavel commented on #8007
Yes @stitesExpensify! What do you say @mateusbra are you up for this one?

[2022-03-22 19:53] michaelhaxhiu commented on #7545
Paid

[2022-03-22 19:53] #7545 closed

[2022-03-22 19:54] johnmlee101 commented on #3981
Sorry, just saw this update now! On it

[2022-03-22 20:02] parasharrajat commented on #7916
Thanks for the suggestion @mdneyazahmad. We will add focus-trap later as a separate issue if needed. This issue only focuses on audits and fixing inconsistencies.

[2022-03-22 20:08] Julesssss commented on #7779
Okay, thanks for confirming. I'll have to take another look once I'm back from OOO

[2022-03-22 20:09] Julesssss commented on #7729
Not overdue. PR is in review 👍

[2022-03-22 20:09] parasharrajat commented on #7912
In case someone is looking to solve this, https://github.com/Expensify/App/issues/7912#issuecomment-1053609946 indicates what needs to be done.

[2022-03-22 20:10] johnmlee101 opened #8267 "Update `report_updateLastRead` to not set the sequenceNumber backwards unless specifically told to by the user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Stale update requests are causing people's messages to be marked as unread on accident. This change will prevent stale requests from doing that, while still letting `mark

[2022-03-22 20:23] roryabraham commented on #8090
I think these issues are similar at the core in that they'll have the same solution, but the bug itself/reproduction steps are different. Both cases need to be tested and covered by regression testing. So @adeel0202 I think you should get the reporting bonus for https://github.com/Expensify/App/issues/5994 instead of this. And to be clear, the original reporter of https://github.com/Expensify/App/

[2022-03-22 20:25] roryabraham commented on #5994
We closed https://github.com/Expensify/App/issues/8090 in favor of this issue. The cause and fix is likely to be the same, but the testing steps are substantively slightly different. The testing steps for both this issue and https://github.com/Expensify/App/issues/8090 should be tested in the PR that fixes this, and added to the regression suite after.

Accordingly, both @Santhosh-Sellavel and @ad

[2022-03-22 20:26] Julesssss commented on #7576
@bfitzexpensify should we double again?

[2022-03-22 20:26] roryabraham commented on #8090
@adeel0202 See https://github.com/Expensify/App/issues/5994#issuecomment-1075604690

[2022-03-22 20:27] marcaaron commented on #7007
Sorry, I don't understand the question or what exactly you need help with. Can you ask it another way or provide more detail? Maybe asking publicly in the Slack channel will help us get unblocked.

[2022-03-22 20:27] johnmlee101 commented on #3981
This issue is responsible for adding the two API end points needed.
https://github.com/Expensify/App/issues/8267

Once those endpoints exist, then we'll go ahead and come back to this issue to make sure we're properly using the new API endpoint to update the read/unread markers (which can be done externally). This step will be combined with the deprecation of the API command and we'll revisit once

[2022-03-22 20:28] marcaaron commented on #7007
Linking to examples in the code when asking your question will probably help me get what you need confirmation on...

[2022-03-22 20:30] marcochavezf commented on #8235
Marking this issue as internal, because the logs show that there's a size issue on backend:

[code]

[2022-03-22 20:33] johnmlee101 commented on #8267
cc @kidroca does this look fine for the requirements?

[2022-03-22 20:33] roryabraham commented on #4114
I think this issue need to be more specific. I'm really not sure what the requirements are.

[2022-03-22 20:34] NicMendonca commented on #6883
doubled again!

[2022-03-22 20:48] kevinksullivan commented on #7791
@Santhosh-Sellavel is paid for reporting bonus! @sobitneupane can you accept the hire and I will make the payment? Let me know when you've done so!

[2022-03-22 20:48] NicMendonca commented on #7966
@Santhosh-Sellavel @Tushu17 @thesahindia paid - thank you!

[2022-03-22 20:48] #7966 closed

[2022-03-22 20:53] thesahindia commented on #7007
For invalid phone number we were showing this error: `Please enter a valid phone number without brackets or dashes. If you're outside the US please include your country code, eg. +447782339811`

But now the user can enter brackets and dashes in the phone number so we have removed this line: `Please enter a valid phone number without brackets or dashes.`

And at `Add phone number` page we show a di

[2022-03-22 20:53] kevinksullivan commented on #6059
@kidroca @Santhosh-Sellavel looks like the job expired so I created a new one and invited you. Once you submit I will hire and pay out the $500. Thanks!

https://www.upwork.com/jobs/~0115bb5b01faa7d4b8

[2022-03-22 20:57] kevinksullivan commented on #8127
Price doubled.

[2022-03-22 21:07] parasharrajat commented on #6059
@kevinksullivan Should I apply on the same for C+?

[2022-03-22 21:10] jboniface commented on #4114
Originally I asked @stitesExpensify for specification, but I'm not sure -- maybe we should ask Design? Again, the original spec was:

I'm not sure if that's what was implemented, and the values were just too small or what

[2022-03-22 21:14] MitchExpensify commented on #7918
Hired @parasharrajat for eventual C+ payment
@mdneyazahmad ready to accept your proposal once made! Thanks

[2022-03-22 21:27] marcochavezf commented on #8235
I'm going to send this issue to the pool, I have my plate full atm. But I think we should check why the file size increases in the backend to 66 mb when the original attachment size is 46 mb.

[2022-03-22 21:34] nickmurray47 commented on #8125
haven't been able to reproduce yet on prod/staging/dev, so going to close for now but if it happens again then let's reopen and address

[2022-03-22 21:34] #8125 closed

[2022-03-22 21:35] neil-marcellini commented on #8210
My PR for #8204 is ready for review.

[2022-03-22 21:39] mateusbra commented on #8007
@Santhosh-Sellavel I'm ok with that. I'll try to reach the result with another approach.

[2022-03-22 21:39] roryabraham commented on #8240
You are correct, this looks like it can be external to me 👍

[2022-03-22 21:41] amyevans commented on #8240
This is reproducible.

I think in the `Actual Result` section of the issue description, `“Moreover, the tooltip kept stating "Mark as read.”` should read `“Moreover, the tooltip kept stating "Mark as unread.”`

Adding the External label as this can be fixed externally.

[2022-03-22 21:42] Julesssss commented on #8109
@Santhosh-Sellavel, sure. I'm OOO but will back to check on this next week.

[2022-03-22 21:44] roryabraham commented on #8240
FWIW: All the context actions for that little menu (and the one that appears on right-click) live right [here](https://github.com/Expensify/App/blob/9e8ee3ccce50bdf30473767fb136c05f43acfeda/src/pages/home/report/ContextMenu/ContextMenuActions.js#L27-L138). We don't currently have one for `Mark as read`. I think it could be a good FirstPick issue.

To mark a chat as read I think we could just use [

[2022-03-22 22:04] michaelhaxhiu commented on #7715
Doubling price again, as we haven't seen a solution that solves the problem yet.

[2022-03-22 22:11] jliexpensify commented on #8249
Posted!

Internal - https://www.upwork.com/ab/applicants/1506393001208500224/job-details
External - https://www.upwork.com/jobs/~01eb2ca968028a8234

[2022-03-22 22:12] mallenexpensify commented on #8124
@rushatgabhane  can you please review this proposal above
https://github.com/Expensify/App/issues/8124#issuecomment-1068608367

If the proposal is complete-enough and is one you'd recommend accepting, I want to compensate the contributor who we're not working with anymore

[2022-03-22 22:32] marcaaron commented on #7007
I don't know the answer sorry, this would be best to ask marketing or in the open source channel.

[2022-03-22 23:05] luacmartins opened #8268 "Update App to use our fork of react-native-picker-select"
# Problem
We forked [react-native-picker-select](https://github.com/Expensify/react-native-picker-select) and should update App to use our fork.

# Why is this important?
It's preventing us from implementing features we need. See [this comment](https://github.com/Expensify/App/pull/7807#discussion_r818075309).

# Solution
Use our fork of [react-native-picker-select](https://github.com/Expensify/re

[2022-03-22 23:09] Tabakharniuk commented on #6301
Thank you @tgolen @parasharrajat for the review.

Yes, sure, @mallenexpensify. I've just sent the proposal.

[2022-03-22 23:14] Tabakharniuk commented on #6301
Realistically I need two weeks to finish work on the PR. ETA: 7 April 2022.
Will that be acceptable? Or we need this feature faster?

[2022-03-22 23:22] mallenexpensify commented on #8240
Posted! https://www.upwork.com/jobs/~01f9716e57641285b8

[2022-03-23 00:23] deetergp commented on #8048
I agree, @Santhosh-Sellavel, let's go with @mateusbra's proposal 👍

[2022-03-23 01:22] kadiealexander commented on #7007
Posted in #expensify-open-source [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1647998501516229) to get consensus.

[2022-03-23 03:18] sobitneupane commented on #7791
Accepted the offer.

[2022-03-23 03:23] kadiealexander commented on #7832
Paid @Santhosh-Sellavel for his fix + reporting bonus, and paid @parasharrajat for C+. Thanks team!

[2022-03-23 03:23] #7832 closed

[2022-03-23 03:46] mateusbra commented on #8048
@stephanieelliott I think you gaved us the wrong link on https://github.com/Expensify/App/issues/8048#issuecomment-1074672522

I found the correct one here:
https://www.upwork.com/jobs/~0173d8f308a66109e4
I sent you a proposal on Upwork

[2022-03-23 04:39] roryabraham commented on #7824
Going to just close this for now. I think the checks that we have in place are probably good enough.

[2022-03-23 04:39] #7824 closed

[2022-03-23 04:40] roryabraham commented on #7284
This is pretty low priority, no update.

[2022-03-23 04:40] roryabraham commented on #6942
No update

[2022-03-23 04:41] rushatgabhane commented on #7777
Hmm, both flows are essentially identical.

@Regaron @phivh could you please help us understand. How does it look like before and after your suggested fix?

[2022-03-23 04:58] JmillsExpensify commented on #4114
Super fair feedback. @jboniface do you want to take this back to #design?

[2022-03-23 04:59] JmillsExpensify commented on #7270
Still no takers. I am starting to think we should take this internal. Thoughts?

[2022-03-23 05:00] JmillsExpensify commented on #7463
Circling back to this issue to formally close us out.

[2022-03-23 05:00] #7463 closed

[2022-03-23 05:02] JmillsExpensify commented on #8089
Still waiting for volunteers. Increased the Upwork job to $500 per the process.

[2022-03-23 05:05] JmillsExpensify commented on #8133
Thanks! Went ahead and created a job on Upwork in the meantime: https://www.upwork.com/jobs/~01a9940594deaadefa

[2022-03-23 05:08] JmillsExpensify commented on #8150
Issue looks good. Upwork job created here: https://www.upwork.com/jobs/~01de4e7dfd94d1b5ab

[2022-03-23 05:08] roryabraham opened #8272 "Fix welcome message for archived workspace chats"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Follow the steps from https://github.com/Expensify/App/pull/7831

## Expected Result:
The welcome message should be updated along with the report fo

[2022-03-23 05:10] roryabraham commented on #7625
No longer waiting for copy, now just reviewing [the PR](https://github.com/Expensify/App/pull/8239)

[2022-03-23 05:11] JmillsExpensify commented on #8159
Whoops, catching up in /App still. Upwork job is posted here: https://www.upwork.com/jobs/~01aac7de0fa3bd8f0b

[2022-03-23 05:12] JmillsExpensify commented on #8251
Odd one, thanks for reporting! Issue looks good. I'm triaging.

[2022-03-23 05:43] parasharrajat commented on #6301
That works but we expect the PR to be pushed in a week.

[2022-03-23 07:09] adeel0202 commented on #8090
Thank you @roryabraham :)

[2022-03-23 07:13] adeel0202 commented on #8244
Melvin-bot has assigned this job to @Santhosh-Sellavel 👀

[2022-03-23 07:20] mananjadhav commented on #3245
@Julesssss The third PR is also completed and almost reviewed to merge. I need your help to review all the three PRs and see if this fits for increasing the budget. We ended up improving on the intended behavior of the EmojiPicker in terms of performance, UI, etc. You can review all the three PRs and check the effort - #6977, #7578, and #7580.

If for some reason revision of offer doesn't work, I

[2022-03-23 07:31] Tabakharniuk commented on #6301
Okay, I will push the PR in a few days.

[2022-03-23 08:10] parasharrajat commented on #8159
This is going to be a tricky one.

[2022-03-23 08:23] parasharrajat commented on #8045
I was not able to open this page either. What is the component name?

[2022-03-23 09:52] dharmik commented on #8155
@kavimuru: There is space between starting _ and weblink so because of that it is not displayed as Italic.

As I saw in your video _(SPACE)http://www.name.com_

So Do we need to remove space from first & last if we type _ (underscore).

I think need to confirm.

[2022-03-23 10:56] twisterdotcom opened #8273 "Hax and Ted Tester GH for Price Doubled issues"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

N/A

[2022-03-23 11:06] michaelhaxhiu commented on #5994
Sounds good, I'll create an upwork job and hire them each for the $250 payout.

[2022-03-23 11:14] michaelhaxhiu commented on #5994
Upwork job link for @Santhosh-Sellavel & @adeel0202 - https://www.upwork.com/jobs/~012e3c46ca310d27fc

[2022-03-23 11:17] michaelhaxhiu commented on #5994
@adeel0202 can you comment on this GH so I can assign you for the reporting bonus?

[2022-03-23 11:18] sobitneupane commented on #8197
**Proposal:**
We can make use of existing AttachmentModal for this.
Wrap this code block with AttachmentModal.
https://github.com/Expensify/App/blob/690707fb036d8813f2fea59478f4cf079ed0698b/src/pages/DetailsPage.js#L101-L105
[code]

Add a prop isProfilePicture in AttachmentModal.
https://github.com/Expensify/App/blob/690707fb036d8813f2fea59478f4cf079ed0698b/src/components/AttachmentModal.js#L159-L

[2022-03-23 11:18] #8273 closed

[2022-03-23 11:21] adeel0202 commented on #5994
Thanks @michaelhaxhiu, I have applied on Upwork for reporting bonus.

[2022-03-23 11:43] mountiny commented on #8150
I am not sure about this one at least based on the video provided and the current description. The video shows that we basically do not load the old messages which are paginated fast enough so that when you scroll up fast it stops as the App has not fetched ht messages yet.

If that would be a problem, I am not sure if there is much to do here, this is common in other chat apps and it will depend

[2022-03-23 12:07] ahmdshrif commented on #7841
@mvtglobally @nickmurray47 , i report this issue but there is no job for it can you please help me 🙁

[2022-03-23 12:09] laurenreidexpensify commented on #7972
All C and C+ payments have been issued in Upwork 👍🏽

[2022-03-23 12:09] #7972 closed

[2022-03-23 12:23] laurenreidexpensify commented on #7915
Upwork was being a bit weird about allowing me to update this to $500, so ignore what it says there but @mdneyazahmad @parasharrajat I will make sure appropriate payment is issued after deploy.

[2022-03-23 13:13] parasharrajat commented on #6876
@kidroca has a clean start but there are a few problems that we faced during implementation.
1. Selection works differently on IOS|ANDROID|WEB. Can you confirm if your proposal works on all platforms? I don't see any steps to solve those in the proposal.

Also, PR is outdated.

[2022-03-23 13:29] parasharrajat commented on #8197
Bump @Expensify/design https://github.com/Expensify/App/issues/8197#issuecomment-1074226875

[2022-03-23 13:33] rushatgabhane commented on #7644
🎀 👀 🎀 C+ reviewed

@iwiznia I know this isn't very pretty, but the only other alternative is to use a third party markdown-html parser. But as Rory and I discussed, it's a very long term project that may or may not come into fruition.

I recommend @ahmdshrif's [proposal](https://github.com/Expensify/App/issues/7644#issuecomment-1074824393).

[2022-03-23 14:00] Santhosh-Sellavel commented on #7966
@NicMendonca When you please end the contract on the Upwork, thanks!

[2022-03-23 14:32] parasharrajat commented on #7925
I am trying to understand your proposal @azimgd. Sorry for the delay.

[2022-03-23 15:07] mdneyazahmad commented on #8185
@rushatgabhane I am not sure how will we implement it. The URL seems like from old website. If it was new dot I could try.

[2022-03-23 15:22] rushatgabhane commented on #8185
@mdneyazahmad this [proposal ](https://github.com/Expensify/App/issues/8185#issuecomment-1073452403) seems to do the job

[2022-03-23 15:23] Santhosh-Sellavel commented on #8244
@adeel0202 I'm assigned here for proposal review!

[2022-03-23 15:40] Santhosh-Sellavel commented on #8244
Looks good for me too! @stitesExpensify
🎀 👀 🎀 C+ reviewed

Let's assign him this one.
cc: @MitchExpensify
Feel free to submit  PR when you are ready @adeel0202

Also @adeel0202 ,
Suggestion `checkError` could be renamed as `clearError`

[2022-03-23 15:45] adeel0202 commented on #8244
Sure, will rename it to `clearError`.

[2022-03-23 15:50] Santhosh-Sellavel commented on #8244
Thanks, @MitchExpensify.

[2022-03-23 15:51] mdneyazahmad commented on #7288
I would like to work on this issue. I can see a lot of work is done on this issue. I will invest some time to understand it and back here soon. Thank you!

[2022-03-23 15:59] mallenexpensify commented on #7991
This is being addressed and/or worked on in other issues, like the one linked above

[2022-03-23 16:07] mdneyazahmad commented on #7980
[code]

[code]

`Composer` component receives `maxLines` and `style (lineHeight: 20)`. If we lift this prop to `ReportScreen`, we can pass to `SwipeableView` but it does not make sense to put irrelevant prop there.

[2022-03-23 16:34] phivh commented on #7385
@laurenreidexpensify do we need to wait for regression on this? it seems deployed to product 8 days.
https://github.com/Expensify/App/pull/7847#issuecomment-1068463339

[2022-03-23 16:49] Santhosh-Sellavel commented on #5994
Also @michaelhaxhiu
First random C+ plus a choice for @rushatgabhane, seems you unassigned both @rushatgabhane  & CME @thienlnam.

If I was assigned for Reporting bonus please unassign me. Assign them back!

[2022-03-23 17:19] jboniface commented on #4114
@JmillsExpensify posted in [slack](https://expensify.slack.com/archives/C03TME82F/p1648055893677569)

[2022-03-23 17:32] isagoico commented on #8241
I gave this a closer look and this looks like it's working as expected imo. The user was created in Expensify when the group was created and it's showing the correct message when trying to log in. Not sure if this is this is still valuable enough to fix since it's a typo on the user's side and the app is showing the correct feedback.

[2022-03-23 17:32] aldo-expensify commented on #8212
I tested locally if the `PersonalDetails_GetForEmails` was slow to responde from the API, and it is fast (tested requesting data for 500 accounts), also, from looking at the code, I think it should be fast.

I think the problem may be that we are waiting for other requests to finish first before sending `PersonalDetails_GetForEmails` and this may be improved in the front.

<img width="800" alt="im

[2022-03-23 17:32] mvtglobally commented on #8210
@AndrewGable let's see if we can push this checklist today. QA is on standby for any validations needed

[2022-03-23 17:35] AndrewGable commented on #8241
Agree, let's close

[2022-03-23 17:35] #8241 closed

[2022-03-23 17:43] kidroca commented on #8004
PR was merged #8160

[2022-03-23 17:48] stitesExpensify commented on #8032
Este es el lugar para que los administradores de [workspaceName] colaboren! :tada:
Usa #admins para chatear sobre temas como la configuración del espacio de trabajo y mas.

---------

Este es el lugar para que todos los miembros de [workspaceName] colaboren! :tada:
Usa [#announce](https://expensify.slack.com/archives/C03V9A4TB) para chatear sobre cualquier cosa relacionada con [workspaceName].

--

[2022-03-23 18:02] kidroca commented on #8267
@johnmlee101 looks good 👍

[2022-03-23 18:03] thienlnam commented on #8185
I'm asking because this issue is marked for desktop too

Ideally it would open in the desktop app as well, it's just a RHN screen that you can visit on all platforms

My bad on this, the URL is actually supposed to be newDot, I've updated the link in the description

This is the link it should redirect to new.expensify.com/statements/YYYYMM/ or new.expensify.com/statements/202112/

[2022-03-23 18:16] mvtglobally opened #8274 "Eye icon area has border radius in password input - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to login page
2. Add email or phone
3. Use autofill for password.

## Expected Result:
Password input shouldn't have border radius

## Actual

[2022-03-23 18:17] kidroca commented on #6876
Yes, the change solves the issue on all platforms

Making `selection` uncontrolled fixes the issue for android/ios

This change is covering web/desktop:

[code]

We can move the web/desktop specific change here: https://github.com/Expensify/App/blob/main/src/components/TextInput/index.js

Instead of passing a `defaultSelection` that never changes (to achieve the uncontrolled mode) we can introduce

[2022-03-23 18:19] parasharrajat commented on #8274
This is duplicate. There was another issue like this. But in reality this is not a issue. Even Netflix does not have full covered autofill.

[2022-03-23 18:37] thesahindia commented on #8274
@parasharrajat, yeah I had reported this and the issue was solved with a different approach but the issue isn't duplicate, I think the title and description isn't correct the issue is about the border radius.
We had added this `secureInput` for the border radius but now we aren't passing this.
https://github.com/Expensify/App/blob/116398b0d2195e43c185ee72e70b214def73e410/src/styles/styles.js#L715-

[2022-03-23 18:37] thienlnam commented on #8274
Reading the thread it looks like we just need to add the separator back to make it look more intentional

[2022-03-23 18:39] Tushu17 commented on #8274
### Proposal
we need to pass `styles.secureInput` here instead of styles.pr2
https://github.com/Expensify/App/blob/116398b0d2195e43c185ee72e70b214def73e410/src/components/TextInput/BaseTextInput.js#L262

[2022-03-23 18:45] michelle-thompson commented on #4114
Hi, what exactly needs to be fleshed out here? Are we discussing the sizes for emojis in all contexts?

[2022-03-23 18:46] thienlnam commented on #8274
This is a pretty straightforward change, @thesahindia you commented on the issue first, do you want to complete the PR? Otherwise I will hand it to Tushu17

[2022-03-23 18:48] jboniface commented on #4114
@michelle-thompson yeah, we're trying to clarify what those contexts and sizes should specifically be

[2022-03-23 18:49] thesahindia commented on #8274
Yeah you can assign Tushu17 on this as I already have some other PRs pending

[2022-03-23 18:55] thienlnam commented on #7424
cc @jliexpensify Could you hire kidroca for the job please?

We'll do $250 for this initial logging, and then keep the $1000 issue open for a potential fix

[2022-03-23 19:03] michelle-thompson commented on #4114
If we test the following:
Text - 15pt
Inline emoji - 19pt
Standalone emoji - 27pt

We get something like this, which looks good to me.
![image](https://user-images.githubusercontent.com/43361905/159775897-8462097f-9c3e-4641-9ccd-c03ae473b9a4.png)

The only other suggestion I have is that standalone emojis stay at 27pt, so long as there is no text. Said another way, no max number of emojis before r

[2022-03-23 19:08] jboniface commented on #4114
Yeah, I like that. I think the size limiting is kind of arbitrary when the only thing on the line is emoji.

[2022-03-23 19:12] Santhosh-Sellavel commented on #7523
@luacmartins

#### Form 1 && Form 5

#### Solution
The height of the `showPassword` button and password input is the same. Since it is rendered inside the container except left all other borders got cut off

Applying 1px margin and applying border-radius same as the container would look like this.

<img width="367" alt="Screenshot 2022-03-23 at 11 53 43 PM" src="https://user-images.githubuserconte

[2022-03-23 19:12] kavimuru opened #8275 "Android / iOS - Attachment - User is not able to send video files when selecting gallery option"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Go to any chat
3. Tap + and select add attachment option in the compose box
4. Select "Choose from Gallery"
5. Select

[2022-03-23 19:16] iwiznia commented on #7420
I don't know.

[2022-03-23 19:17] michelle-thompson commented on #4114
For sure, just wanted to point it out since it seems like only one emoji is currently allowed before reverting to smaller type.

[2022-03-23 19:29] mallenexpensify commented on #6877
@chiragsalian is keeping the convo alive! Waiting til we have a clear path before moving forward

[2022-03-23 19:30] mallenexpensify commented on #4612
Discussing [internally](https://expensify.slack.com/archives/C02NK2DQWUX/p1648063112665829) to see how this issue relates to other navigation issues @parasharrajat has gathered in [this tracking issue. ](https://github.com/Expensify/App/issues/7363)

[2022-03-23 19:31] mallenexpensify commented on #8132
@Phantom-2 , apologies for the delay, @Santhosh-Sellavel can you please review the proposal above?

[2022-03-23 19:45] chiragsalian commented on #8152
Spanish translation

@Expensify/design friendly bump to confirm if the gif posted [here](https://github.com/Expensify/App/issues/8152#issuecomment-1074401036) is okay for the confirmation screen shown in the expected result of the [description](https://github.com/Expensify/App/issues/8152#issue-1169181738) or if we prefer a static blue image?

[2022-03-23 20:05] justinpersaud commented on #5266
CSP was rolled out to NewDot. Can probably get back to this soon.

[2022-03-23 20:06] NicMendonca commented on #4656
Hi everyone! What shall we do this?

[2022-03-23 20:07] marcaaron commented on #7950
a fix should be on staging soon.

[2022-03-23 20:08] jboniface commented on #7963
@thesahindia and @kakajann can you both please apply to the upwork job posted [here](https://www.upwork.com/jobs/~01f979e1957ef74c7c) so I can pay you out?

[2022-03-23 20:10] jboniface commented on #7546
@thesahindia please apply here so i can pay you out https://www.upwork.com/jobs/~011f358fbeb8c46f06 (looks like the original post expired)

[2022-03-23 20:10] CortneyOfstad commented on #8250
Didn't realized this wasn't closed after it was fixed. Closing.

[2022-03-23 20:10] #8250 closed

[2022-03-23 20:11] thesahindia commented on #7963
Done ✅

[2022-03-23 20:14] jboniface commented on #7546
@rushatgabhane for C+ also

[2022-03-23 20:23] LucioChavezFuentes commented on #7486
# Proposal (update)

Fixing the white space was more complicated than expected so I end up creating two proposals.

## Proposal A

This removes the white space and go accordingly to design.

### Final Result

https://user-images.githubusercontent.com/48106652/159787007-38675987-3a84-4d63-b87a-31b0f626e93f.mp4

---
### Implementation

#### **src/components/Tooltip/tooltipPropTypes.js**

Created a n

[2022-03-23 20:26] thesahindia commented on #7546
Done ✅

[2022-03-23 20:31] luacmartins commented on #7523
Thanks for the proposed solutions @Santhosh-Sellavel! Here are my thoughts:

**Form 1 && Form 5**
Can we remove the gap between borders somehow? It looks a bit off.

**Form 2 && Form 3**
Sounds good! Let's do it.

**Form 4**
I agree. I think it would make sense to remove the tabbing if we didn't have the input pattern defined there. Let's do nothing here.

On second thought, let's keep it as is.

[2022-03-23 20:32] roryabraham commented on #8135
Sorry, this is a pretty simple fix (in that it's just a revert for now), but I just haven't gotten around to it yet.

[2022-03-23 20:38] parasharrajat commented on #7486
@LucioChavezFuentes I don't like the proposal. It is over-engineered. we should simply rely on the browser flex-box layout. So Tooltip will take two props max-width and Max-height. It will automatically wrap if max-width is reached and trim the text when max-height is reached. In all other cases, it will just behave as it does now.

[2022-03-23 20:52] jliexpensify commented on #7596
Not overdue, price changed!

[2022-03-23 20:53] medzomethod commented on #7925
I can get it fixed asap @mallenexpensify

[2022-03-23 21:03] mallenexpensify commented on #7835
Doubled price to $2000
https://www.upwork.com/jobs/~0103b194cebb2bdef4

[2022-03-23 21:07] mallenexpensify commented on #7648
PR was put on hold, checking to see if it can be taken off
https://github.com/Expensify/App/pull/7702#issuecomment-1076820876

[2022-03-23 21:08] mallenexpensify commented on #6891
PR is still chuggin' along 🚂

[2022-03-23 21:10] mallenexpensify commented on #7859
Doubled to $4000
https://www.upwork.com/jobs/~01ae855dd14dc2291b

[2022-03-23 21:17] parasharrajat commented on #7925
How will you fix it @medzomethod? Please read about the contributing guidelines from CONTRIBUTING.md.

[2022-03-23 21:17] mallenexpensify commented on #7270
Doubled price to $4k, going to post in #expensify-open-source to get 👀 , also going to post internally to try to get some action there.  https://www.upwork.com/jobs/~0120677daf7eef8539

[2022-03-23 21:31] mallenexpensify commented on #8150
I'm fine with 'do nothing' for now but... the issue isn't that it take a while to load, it's that there are times when you can't scroll up, even after waiting for the text to load.  It freezes and you have to scroll up/down in order to get it to unfreeze then scroll up more.  Which makes me think it's not just a loading or pagination issue

[2022-03-23 21:34] mallenexpensify commented on #7288
@mdneyazahmad you are free to use any existing code, the previous contributor will be paid in full for the job.  You are required to submit a new proposal which should include all the necessary details as if you were starting from scratch.

[2022-03-23 21:36] mallenexpensify commented on #7424
I hired @kidroca (since I saw this in my email, @jliexpensify is still CM)

[2022-03-23 21:41] mallenexpensify commented on #4114
I like @michelle-thompson 's mockup above.  Since there are only two lines with emoji, do you think there are other examples where text/emoji are mixed and matched (on same and different lines) where they might not look clean? or.. look crowded.  ie. the ❤️ was under Zany's name and there were a line of only large emoji below that

[2022-03-23 21:42] mountiny commented on #8150
Interesting, not sure if I have reproduced that. I guess this would then go to `Needs Reproduction` so we can clearly find the problem once knowing how to achieve it.

Would you want to update this issue or create a new one with specifics for the problem you mentioned?

[2022-03-23 21:50] roryabraham commented on #8210
I'm actively working on the OldDot -> NewDot transition. @mvtglobally It would be very helpful if you could link me to all the existing regression tests we have to cover this flow.

[2022-03-23 22:10] mallenexpensify commented on #8150
I'm able to reproduce it on web - Chrome.  Find a chat you know has a ton of content then try to keep scrolling up, like you're loooking for a chat from 6 months back.  Eventually it might just stop/freeze.  (I was unable to reproduce on Firefox but ran into another issue or two).  If you think we should put this on hold til we have bidirectional scrolling, that's fine too

[2022-03-23 22:23] mallenexpensify commented on #4612
Doubled price to $16000
Needed to create a new job
https://www.upwork.com/jobs/~01294fe6c7ab1639a8

[2022-03-23 22:24] mountiny commented on #8150
Alright, what I was able to reproduce is to wildly scroll back and at some point, it is not loading new messages. I think this could be related to some condition that triggers the fetching of the new messages.

I think it is a good idea to put this on hold while the bidirectional scrolling is implemented as that could introduce new behaviour!

[2022-03-23 22:25] michelle-thompson commented on #4114
Here's a few more emojis thrown in for good measure! I think it still holds up pretty well.
![image](https://user-images.githubusercontent.com/43361905/159806173-68625962-4531-4f44-9fac-4350f666f082.png)

[2022-03-23 22:58] stephanieelliott commented on #8048
Oop, thanks @mateusbra! Hired you in Upwork.

[2022-03-23 23:01] stephanieelliott commented on #7856
Thanks for the heads up @kidroca, I think that's fine.

[2022-03-23 23:03] stephanieelliott commented on #7706
Hey @shawnborton, can you weigh in on the desired hover style (see [question above](https://github.com/Expensify/App/issues/7706#issuecomment-1072683172)).

[2022-03-23 23:03] luacmartins commented on #8275
@kavimuru I can only reproduce this on iOS. What is the email of the account used in the tests?

[2022-03-23 23:04] stephanieelliott commented on #7081
Hey @mananjadhav, can you update on progress here?

[2022-03-23 23:30] parasharrajat commented on #7855
Ok, I did some profiling.

TL:DR This is happening as we load data from Onyx. Onyx does not render the component until all the necessary data is available and how we navigate to the reports.

There are three components on the ReportScreen.
- Header (title)
- Actions. (messages)
- Composer (the input)

On Loading on report screen, All three subscribe to Onyx for data. Based on profiling results it

[2022-03-23 23:39] kbecciv commented on #8275
@luacmartins User credentials: hateemshafi00@gmail.com / Hateem123

[2022-03-23 23:40] marcaaron commented on #7579
The deploy is taking a long time I guess? 🤷

[2022-03-23 23:40] stitesExpensify commented on #7121
@K4tsuki will no longer be working on this issue, so we need a new contributor here

[2022-03-23 23:57] rushatgabhane commented on #8185
ohh, i get it now.
@tomivs @mdneyazahmad feel free to post an updated proposal

[2022-03-24 00:02] jliexpensify commented on #7424
Thanks Matt! Hmm, this is the second time that this has happened to me - I definitely remember hiring Peter when the new job was created:

![image](https://user-images.githubusercontent.com/30815269/159815912-d746e505-957b-41ae-b00d-ddb8226c44d2.png)

@kidroca you don't have 2 offers/invites for this job, right?

[2022-03-24 00:06] OSBotify commented on #8210
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8257) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.44-4` :rocket:

[2022-03-24 00:06] OSBotify commented on #8210
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.44-4 has been deployed to staging :tada:

[2022-03-24 00:08] marcaaron commented on #7270
Taking this issue Internal for a sec. This is a 3rd party SDK and without a repro a contributor will have a really hard time debugging.

@kbecciv @mvtglobally Do we happen to have a more recent reproduction and the email used when running through the flow? The only things we can do here are:

1. Check the logs to see why Onfido is throwing an error
2. Reach out to Onfido support

My first thought

[2022-03-24 00:46] marcaaron commented on #8210
Heads up we CP'd a couple of PRs to fix the NewDot Transition. Would be good if we can get some of those flows re-tested on staging web. I tested and they seem to be working well.

The only thing that **does not seem to work well** is transitioning while logged in to NewDot with another account. While testing this flow I kept getting logged out shortly after the transition happens. That particular

[2022-03-24 00:46] nickmurray47 commented on #7841
@jboniface adding you, @ahmdshrif reported the issue and I created the fix and the contributor needs to be paid their reporting bonus still, I believe.

[2022-03-24 00:47] nickmurray47 commented on #7841
sorry for the delay @ahmdshrif! I missed your original message

[2022-03-24 01:05] mallenexpensify commented on #7270
If needed, Shae is the relationship owner with Onfido, we could ask her to reach out for help.

[2022-03-24 01:28] michaelhaxhiu opened #8282 "111 222"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

##

[2022-03-24 01:29] #8282 closed

[2022-03-24 01:41] mallenexpensify commented on #8150
Here's the bidirectional issue link, added to title too https://github.com/Expensify/App/issues/7925

[2022-03-24 01:51] mallenexpensify commented on #4114
Looks good, a few of the emoji look like they're 'raised up' a bit, is that 'to be expected' because of the increased size/ratio of emoji to text?
<img width="934" alt="image" src="https://user-images.githubusercontent.com/22508304/159825936-d4e438d2-3519-499b-9172-ded9bdaff17e.png">

[2022-03-24 02:00] mdneyazahmad commented on #7915
Update: PR is ready will create soon.

[2022-03-24 02:26] kadiealexander commented on #7486
Price doubled to $1000! 💸

[2022-03-24 02:29] kadiealexander commented on #7007
@thesahindia, please proceed with the same error message as other places in the product:

Thanks!!

[2022-03-24 02:44] mallenexpensify commented on #6069
@Luke9389 looks like this got missed, likely cuz the `Weekly` label was updated to `Monthly`.  Please leave all External issues as `Weekly` so this doesn't happen again. We're not working with @K4tsuki anymore, since he had this issue approved by the C+ and it hung around for a few weeks I'm going to compensate him for it.

@Luke9389 or @parasharrajat , do either of you want to work on this job? I

[2022-03-24 02:53] mallenexpensify commented on #7121
I assigned myself as CM as I'll be compensating @K4tsuki since they were hired before we chose to not work with them.

[2022-03-24 02:57] mallenexpensify commented on #7121
@parasharrajat or @stitesExpensify do you want to finish this issue or should I reopen to contributors?

[2022-03-24 03:02] kevinksullivan commented on #7422
Nice, looks like this was fixed by the other PR all along then. closing it out!

[2022-03-24 03:02] #7422 closed

[2022-03-24 03:02] mallenexpensify commented on #7014
@tgolen this is a unique issue that was initially exported as a job then brought back to be internal. Do you think @K4tsuki is eligible for compensation for their work helping us determine the issue needed to be fix internally? If so, I will compensate them.   https://github.com/Expensify/App/issues/7014#issuecomment-1059631983

[2022-03-24 03:14] rushatgabhane commented on #4612
* click Mitch in LHN
     * click Monte in LHN
     * ⌘[ goes to Mitch
     * ⌘[ goes to Rajat.

@parasharrajat This is no longer true.

This is the behavior on staging and production.
* click Rajat in LHN
 * click Mitch in LHN
 * click Monte in LHN
 * ⌘[ goes to Rajat.

We're skipping every other user. It used to work before, have we introduced some changes which broke this?

https://user-images.

[2022-03-24 04:14] Christinadobrzyn commented on #7591
Asking if we can pay this here - https://github.com/Expensify/App/pull/7660#issuecomment-1077049935

[2022-03-24 05:07] roryabraham commented on #7648
It can be taken off hold, I just haven't been able to re-prioritize it yet. I could clean it up and get it ready for review then we could treat the known bug (where the first item is not always visible) as a separate bug and make it external. Thoughts @rushatgabhane?

[2022-03-24 05:09] mvtglobally opened #8284 "[HOLD for payment 2022-04-13] [$250] When Spanish is selected as the main language, show translation for Onfido's policy and release page - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to Preferences and change the language to Español
2. Go to workspace > Connect Bank Account
3. Connect manually and fill the details
4. Fill t

[2022-03-24 05:12] mvtglobally opened #8286 "[HOLD for payment 2022-06-15][$16000] In iOS login password is saved for web address "expensify.cash" - reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app,
2. Logout of the App
3. Now enter your email/phone and password login
4. Save the password for future use with Passwords
5. Now Log

[2022-03-24 05:19] roryabraham commented on #7579
Yes, but I think we should be good to deploy tomorrow

[2022-03-24 05:20] mvtglobally opened #8287 "If you search a non existing emoji and press enter, then after deleting the search term it won't fetch emojis again - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Go to Chat > Emoji
 2. Search an non-existing emoji
 3. Press Enter
 4. Empty search box

## Expected Result:
It should show emojis after cleari

[2022-03-24 05:22] mvtglobally opened #8288 "Adding some text just after the closing backtick ` doesn't quote the text inside the backticks - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. In the chat input, enter some text inside the backticks to quote it
3. Enter some text right after the closing backtick (without

[2022-03-24 05:24] roryabraham commented on #4114
Agree, maybe we can fix it by standardizing on a line-height of 19pt to match the larger font of the emoji (even for lines that contain no emoji)? Not sure

[2022-03-24 05:27] mvtglobally opened #8289 "[$250] Android - Emoji isn't fully visible after editing - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Open any chat
 2. Comment a single emoji
 3. Edit the comment and change the emoji .

## Expected Result:
Changing emoji should work fine.

## A

[2022-03-24 05:31] ahmdshrif commented on #7591
I rase fix  pr  here #8285

[2022-03-24 05:37] mvtglobally opened #8290 "New incoming chats not showing in main chat window or Left Hand Nav (LHN)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Opened Desktop (was quit last night, there might have been a new version available for update)

## Expected Result:
New Chats to show

## Actual Res

[2022-03-24 05:41] LucioChavezFuentes commented on #7486
Thank you @parasharrajat for your suggestion. It helped me to see my code in perspective and I got a new proposal. But first I want to point out why `max-height` didn't work out.

My proposal was about to be  pure CSS code:

[code]

[code]

Using `numberOfLines` works similar to `max-height` and `overflow : hidden`.

[code]

Everything worked great until I found...

https://user-images.githubuserc

[2022-03-24 05:44] mvtglobally opened #8291 "Avatar images do not reliably fall back on a default when offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Put your phone on airplane mode and turn off wifi
2. Close the app if it's already open.
3. Open or reopen the app

## Expected Result:
We should

[2022-03-24 05:53] mvtglobally opened #8292 "Content off screen and keyboard opens when navigating to default rooms"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create workspace
2. Navigate to default room

## Expected Result:
Navigating to a default room shows the chat content within the page

## Actual

[2022-03-24 06:05] ahmdshrif commented on #7841
no problem, @nickmurray47
thanks for your support.

[2022-03-24 06:44] adeel0202 commented on #8244
Do I wait for this job to be assigned to me or can I just raise the PR?

[2022-03-24 06:58] thesahindia commented on #8284
### Proposal
We can use `onfidoStep.facialScan` here which we are already using on some other place -
https://github.com/Expensify/App/blob/116398b0d2195e43c185ee72e70b214def73e410/src/pages/ReimbursementAccount/RequestorStep.js#L239

or we can add the correct translation here -
https://github.com/Expensify/App/blob/116398b0d2195e43c185ee72e70b214def73e410/src/languages/es.js#L700-L700

I think we

[2022-03-24 07:02] thesahindia commented on #8284
### Proposal
We can use `onfidoStep.facialScan` instead of `requestorStep.onFidoFacialScan`
https://github.com/Expensify/App/blob/116398b0d2195e43c185ee72e70b214def73e410/src/pages/ReimbursementAccount/RequestorStep.js#L239

or we can add the correct translation here -
https://github.com/Expensify/App/blob/116398b0d2195e43c185ee72e70b214def73e410/src/languages/es.js#L700-L700

I think we should ju

[2022-03-24 07:05] adeel0202 commented on #7838
The PR was deployed on production 8 days ago so this should be paid by now but I'm not even hired on Upwork yet. What is going on here? 👀😄
cc: @luacmartins

[2022-03-24 07:15] roryabraham commented on #8099
@Expensify/mobile-deployers This would be a valuable one for someone to pick up

[2022-03-24 07:18] Beamanator commented on #8292
Looks like a good issue to be solved externally 👍

[2022-03-24 07:22] kakajann commented on #7963
Applied

[2022-03-24 07:53] ahmdshrif commented on #7352
pr here @rushatgabhane  @roryabraham
https://github.com/Expensify/expensify-common/pull/436

[2022-03-24 09:23] MitchExpensify commented on #8247
Asked in the slack thread - https://expensify.slack.com/archives/C01GTK53T8Q/p1646847754079389

[2022-03-24 09:27] MitchExpensify commented on #8244
You are good to go with the PR @adeel0202

[2022-03-24 10:05] dylanexpensify commented on #7840
Payments sent, contracts ended, posting closed! Thanks for playing y'all!

[2022-03-24 10:05] #7840 closed

[2022-03-24 10:16] mountiny commented on #8124
Just tested https://github.com/Expensify/Web-Expensify/pull/33368

[2022-03-24 11:31] rushatgabhane commented on #8249
🎀 👀 🎀 C+ reviewed

@Tushu17's [proposal](https://github.com/Expensify/App/issues/8249#issuecomment-1075534223) should get the job done.
cc: @chiragsalian

[2022-03-24 11:34] mananjadhav commented on #7317
I am a little stuck here. I tried setting the active menu with onFocus, but it doesn't work well. `focused` item still adds a double border. Flicker is removed.

I also tried listening to the TAB key, but the circular navigation is breaking. I'll update as soon as I have it working.

[2022-03-24 11:35] sobitneupane commented on #8287
**Proposal:**
Addition of following line of code will solve the issue:
https://github.com/Expensify/App/blob/6e9d429ad47044d71cb028fb14d5defc2de0af8a/src/components/EmojiPicker/EmojiPickerMenu/index.js#L152-L159

[code]

[2022-03-24 11:38] rushatgabhane commented on #7648
@roryabraham sure, let's do that

[2022-03-24 11:41] rushatgabhane commented on #8246
the bug will be present on iPad then

[2022-03-24 11:56] mollfpr commented on #8246
@rushatgabhane Yeah you right!

So I only need to check ‘canUseTouchScreen()’ then.

[2022-03-24 11:59] rushatgabhane commented on #8246
@mollfpr like Rajat said, it was working before so what exactly broke it?

[2022-03-24 12:15] mdneyazahmad commented on #7980
@parasharrajat agree https://github.com/Expensify/App/issues/7980#issuecomment-1075405364 Do you think the swipe distance has to be precisely the maximum height of the composer?

[2022-03-24 12:23] rushatgabhane commented on #7596
@chiragsalian is this worth fixing? If yes, then there's no way we can have best of the both worlds (opacity animation on opening an image, and no opacity animation on scrolling).

I recommend @mdneyazahmad's [proposal](https://github.com/Expensify/App/issues/7596#issuecomment-1039548289), again, if we wanna fix this.

🎀 👀 🎀 C+ reviewed

[2022-03-24 12:24] rushatgabhane commented on #7596
I'd be fine with closing this issue too.

[2022-03-24 12:28] rushatgabhane commented on #7835
@stitesExpensify we proly don't want any proposals that stream videos right?

[2022-03-24 12:41] ahmdshrif commented on #7596
@rushatgabhane I have another solution since the first one had a bad performance. but I forget to propose it.
wich is adding delayPressIn ={100) to the touchable
It works fine with me I will try it again now.

if you scroll the image will not capture pressing because after 100 ms you move not press
and in case of press you will press more than 100ms if you super speed also. :D

[2022-03-24 12:46] mollfpr commented on #8246
@parasharrajat @rushatgabhane So sorry I put the wrong video for the before part 😅

The before video is have same result as the video issue. I’ll send it here ASAP.

[2022-03-24 12:46] rushatgabhane commented on #7596
@ahmdshrif that sounds nice actually. Can you please help me with finding `delayPressIn` prop for `touchableOpacity`?

[2022-03-24 12:49] ahmdshrif commented on #7596
https://reactnative.dev/docs/touchablewithoutfeedback#delaypressin TouchableOpacity Inherits touchablewithoutfeedback

[2022-03-24 12:58] ahmdshrif commented on #7596
I think we will have this delay but will not notice it. I will try it and give you the feedback. also the changes. will need.

[2022-03-24 13:09] rushatgabhane commented on #7596
Thanks! From the docs I can see that it only affects `onPressOut`. So it won't negatively impact opening/long pressing an image

[2022-03-24 13:24] ahmdshrif commented on #7596
if we ok with removing opacity ... I think @mdneyazahmad  proposal more clear.
if we need it we can be going with delaypressin.  and see if the side-effect you mention is noticeable. because 100ms is not something.

[2022-03-24 13:29] rushatgabhane commented on #7596
But @chiragsalian, I still recommend [@mdneyazahmad's proposal.](
But @chiragsalian  https://github.com/Expensify/App/issues/7596#issuecomment-1077571226)

[2022-03-24 13:31] kavimuru commented on #8275
@luacmartins You can check with kavi.utest+chatd@gmail.com / Test1234

https://user-images.githubusercontent.com/43996225/159927019-79774d90-fe0b-49c9-ae22-c9f9eaa57c33.mp4

[2022-03-24 13:35] mdneyazahmad commented on #7980
The number of lines is not 6 on native device. This will fix it https://github.com/Expensify/App/issues/7980#issuecomment-1074679925

[2022-03-24 13:36] rushatgabhane commented on #7546
@jboniface sorry for the delay. Applied ✅

[2022-03-24 13:42] kavimuru opened #8293 "Password reset - Forgot password email copy is same as new account creation email"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open New Expensify app
2. Enter your email and press enter
3. Click on "Forgot"
4. Open the mail that was sent to you.

## Expected Result:
The c

[2022-03-24 14:39] kevinksullivan commented on #7791
All set @sobitneupane !

[2022-03-24 14:41] bfitzexpensify commented on #7091
Looks like the posts expired because they were posted a while back. Have recreated them:

@brianmuks please apply [here](https://www.upwork.com/jobs/~01ff863345483cf383)

@parasharrajat please apply [here](https://www.upwork.com/jobs/~010929a9b41fda3f92)

[2022-03-24 14:41] kevinksullivan commented on #7791
Ah, @parasharrajat mind accepting the offer on this recreated issue so I can pay out C+?

https://www.upwork.com/jobs/~014e86a6a5350031e5

[2022-03-24 14:43] bfitzexpensify commented on #7965
Finalised payment for @mollfpr.

@ahmdshrif, please apply [here](https://www.upwork.com/jobs/~0141c86076b12b31a4) for the reporting bonus - thanks!

[2022-03-24 14:45] kevinksullivan commented on #8045
Sorry, the testing steps were not clear enough @parasharrajat @wahaj-47 . You need to complete the flow by entering a recipient and then tapping `Pay with expensify`. So you will continue from here and then start to enter information.

![image](https://user-images.githubusercontent.com/22508290/159942282-132c6f6f-52a2-4aa4-9b83-9ee08c8670cc.png)

[2022-03-24 14:47] brianmuks commented on #7091
I have done so thanks.

[2022-03-24 14:49] kevinksullivan commented on #8274
Posted - https://www.upwork.com/jobs/~01ec8f623dbff22877

@Tushu17 mind applying so I can hire you? Thanks!

[2022-03-24 14:52] parasharrajat commented on #7791
@kevinksullivan Sent the proposal. Thanks.

[2022-03-24 14:58] #7791 closed

[2022-03-24 14:58] ahmdshrif commented on #7965
I apply to this form long time
Upwork https://www.upwork.com/freelancers/~0143a705fba636cfd8

[2022-03-24 15:03] kavimuru opened #8294 "Workspace invite SMS - Unable to unsubscribe from messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Enter http://staging.new.expensify.com and login
2. Click on the green plus icon
3. Click "New workspace"
4. Click "Manage members"
5. Click "Inv

[2022-03-24 15:13] bfitzexpensify commented on #7965
Alright, paid out reporting, actual completed work, and C+ — think we're all done here, thanks everyone!

[2022-03-24 15:14] ahmdshrif commented on #7841
sure, applied .

[2022-03-24 15:16] AndrewGable commented on #8099
What about an auto retry?

[2022-03-24 15:17] kavimuru opened #8295 "Web - Inbox - User has to click "Continue setup" CTA twice in olddot to display "Connect bank account" page in the right sidebar"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #8257
## Action Performed:
1. Go to OldDot and sign up for a new account with an @gmail.com address
2. Click on the "Get started" on the in

[2022-03-24 15:19] michelle-thompson commented on #4114
Yes, since emojis are a different size they're not gonna be aligned perfectly. You can see in Slack the same also happens:
<img width="208" alt="image" src="https://user-images.githubusercontent.com/43361905/159949857-9621d92a-c40a-4049-976c-1d900b27c0a4.png">

[2022-03-24 15:21] michelle-thompson commented on #4114
@roryabraham we can certainly try, but I actually don't mind how it looks now! I wouldn't want to increase line height _so_ much that regular text looks oddly spaced out.

[2022-03-24 15:28] mollfpr commented on #8246
@rushatgabhane It's also happening in iOS Chrome.

I can't what you mean by "it was working before".

[2022-03-24 15:32] luacmartins commented on #7838
Pinging @jboniface for payment.

[2022-03-24 15:35] jboniface commented on #7838
@adeel0202 sorry, it looks like the original post expired. can you apply [here](https://www.upwork.com/jobs/~011c8775d73db4528e)?

[2022-03-24 15:38] jboniface commented on #7841
paid

[2022-03-24 15:42] AndrewGable commented on #7591
Agree with https://github.com/Expensify/App/pull/7660#issuecomment-1077051466 - Let's not pay until we confirm the fix works

[2022-03-24 15:44] bondydaa commented on #8286
probably a hardcoded value somewhere, i see these within the app repo
[code]

so I'd start there and see how we save the pw in the keychain.

[2022-03-24 15:45] adeel0202 commented on #7838
Thanks @jboniface, I have applied on Upwork.

[2022-03-24 15:56] adeel0202 commented on #7839
@luacmartins, this should also be paid by now.
cc: @NicMendonca

[2022-03-24 15:56] kbecciv commented on #8291
@chiragsalian Also having the same issue when searched to invite a new member for Workspace.

https://user-images.githubusercontent.com/93399543/159957813-b4305440-1a0f-4a1b-b28e-f83a10af2e0f.mp4

[2022-03-24 16:02] luacmartins commented on #7839
Bumping @NicMendonca for payment!

[2022-03-24 16:10] #7838 closed

[2022-03-24 16:10] jboniface commented on #7838
paid with bonus

[2022-03-24 16:11] parasharrajat commented on #7838
@jboniface I have also applied for C+.

[2022-03-24 16:15] parasharrajat commented on #7486
Ok. Thanks for revising the proposal. But still `maximumWords` has no use here. Tooltip's job should be to autocalculate the height and width and render the passed text under max-boundaries. Whatever text is passed down to it should be rendered as it is. it should use internal styling to manage the UI. **This is a generic component**.

[2022-03-24 16:16] jboniface commented on #7838
yeah, i saw, i've been trying to pay it but upwork is erroring for some reason @parasharrajat

[2022-03-24 16:21] jboniface commented on #7838
ok, should be all set now

[2022-03-24 16:36] tomivs commented on #8185
@thienlnam could you clarify what do you mean by RHN screen?

[2022-03-24 16:39] mvtglobally commented on #8210
@AndrewGable https://github.com/Expensify/App/pull/8257 is pass aside of this issue. Its repro in PROD so not sure if its a blocker https://github.com/Expensify/App/issues/8295

[2022-03-24 16:40] AndrewGable commented on #8210
If it's already in production then no it is not a deploy blocker, thank you, I will deploy shortly!

[2022-03-24 17:02] #7963 closed

[2022-03-24 17:02] #7546 closed

[2022-03-24 17:12] AndrewGable commented on #8210
:shipit:

[2022-03-24 17:12] #8210 closed

[2022-03-24 17:17] mallenexpensify commented on #7798
Paid @parasharrajat $500 for the fix and @K4tsuki $250 for reporting. Thanks!

[2022-03-24 17:22] kidroca commented on #7424
@jliexpensify
I can no longer find my original proposal (not in archived either), I only found it thanks to the link I've posted earlier: https://www.upwork.com/ab/proposals/1501714549904785408

Right now I can only see Matt's offer: https://www.upwork.com/nx/wm/pre-hire/f/offer/19610664

Accepting,
I'm a bit busy this week, I'll be able to submit a PR by Tuesday next week

[2022-03-24 17:23] mallenexpensify commented on #7678
Hired @ahmdshrif , please accept the offer https://www.upwork.com/jobs/~01ed28e9d59cefbbd0
@parasharrajat I think I just 'hired' you too. I was testing a different flow where, instead of 'inviting' you to the job (which would require you to then apply > me hire > you approve) I clicked a 'hire' button to hopefully save a step, will you let me know if anything looks different on your end?

[2022-03-24 17:36] NicMendonca commented on #7839
sorry! the title didn't change for some reason here 🤷‍♀️

But this has been paid!

[2022-03-24 17:36] #7839 closed

[2022-03-24 17:40] thienlnam commented on #8185
Log into new.expensify.com and go to https://new.expensify.com/statements/202112/
It's a right hand nav screen just like the settings page

[2022-03-24 17:52] parasharrajat commented on #7678
All looks good @mallenexpensify. I directly got the offer.

[2022-03-24 17:53] parasharrajat commented on #7476
@kevinksullivan Bump for payment.

[2022-03-24 17:54] parasharrajat commented on #6584
Ping for
![Upwork](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)
@michaelhaxhiu Requesting complete remaining payment.

[2022-03-24 18:04] Santhosh-Sellavel commented on #8132
Sorry I didn’t leave a comment earlier.
[This](https://github.com/Expensify/App/issues/8132#issuecomment-1069571429) would make some unintended style break in other platforms.

[2022-03-24 18:13] Santhosh-Sellavel commented on #8132
Also, I tried to reproduce this on my end today, it's not occurring for me.

Can you check on the latest staging or production build, is the issue still occurring for you?
@AndrewGable

If reproducible, share me device modal & iOS version, thanks!

cc: @mallenexpensify @stitesExpensify

[2022-03-24 18:13] roryabraham commented on #8099
I don't think that would be as valuable. I think it would be better to give deployers control over when deploy workflows retry. One example that comes to mind is when we need to sign some Google or Apple something-or-other, then retry just that platform.

[2022-03-24 18:37] kidroca commented on #6876
Sorry, I guess I've only tested popping the context menu on ios and not inserting an emoji.

Tested it again and added a fix to preserve caret position after inserting an emoji, by using the interaction manager
- PR updated with 4 more line changes: https://github.com/Expensify/App/pull/7815

[code]

https://user-images.githubusercontent.com/12156624/159985807-71d3f8a9-fa82-4479-8a38-f8b5100b8805.

[2022-03-24 18:42] parasharrajat commented on #6876
Did you test it on Android as well? I think it will have some problems there too. in the previous PR we have to loose the selection after immediately setting it.

[2022-03-24 19:01] metehanozyurt commented on #8133
## **Proposal**

### Cause

We have used "fadeInUp" and "fadeInDown" in several component, as animation prop of `PopoverMenu`. When popover opens, it comes from under mouse cursor. This causes random items look like hovered.
Please see slo-mo video:

https://user-images.githubusercontent.com/6093207/159990617-7222f132-98d3-41ef-a449-f946a6ad4d2f.mp4

### Solution

We can delete animationIn props f

[2022-03-24 19:02] mdneyazahmad commented on #7463
@JmillsExpensify I noticed that the job for this issue on Upwork is not closed. Thank you

[2022-03-24 19:10] parasharrajat commented on #4612
Thanks for sharing. I will run a few tests on weekends to observe the current state of the issue.

[2022-03-24 19:22] michaelhaxhiu commented on #8122
Doubling price to $500.

[2022-03-24 19:38] quinthar commented on #8200
I think this is much easier to reproduce. Just go to a chat that is unread, and notice that it does not Mark the chat read until you click again on its row on
In the lhn.  This also means so far as I can tell it's impossible for a chat to become red on mobile because you can't tap it twice

[2022-03-24 19:42] kidroca commented on #6876
Yeah there's an issue on Android:

Here's a summary:

1. If we set `selection` prop, context menu does not work on Android
2. If we don't set native props, like originally suggested, everything works kind-a OK, with the exception that if you select text and then replace it with an emoji, then the emoji remains selected
3. If we set selection through native props the carret starts to act weird alwa

[2022-03-24 19:49] kidroca commented on #6876
Alternatively we can find/submit a bug report regarding Android, where using `setNativeProps` causes point 3) above, and we have to use `setNativeProps` again to clear the `selection`

[2022-03-24 19:50] michaelhaxhiu commented on #8122
@thesahindia did you want to attempt a proposal to fix this - it's not a requirement, but just asking since you reported it?
@mdneyazahmad same question to you since you commented earlier !

[2022-03-24 19:54] OSBotify opened #8305 "Deploy Checklist: New Expensify 2022-03-24"
**Release Version:** `1.1.46-3`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/6764
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/7831
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/8019
  - [x] QA

[2022-03-24 20:13] Santhosh-Sellavel commented on #8032
### Updated Proposal

1. Add translations to copy files as shown below.
#### In en.js
[code]
#####In es.js
[code]

2. Add the following new method to get the welcome message for rooms in reportUtils.js.
[code]

3. Finally use it in ReportWelcomeText.js as shown below.
<img width="889" alt="Screenshot 2022-03-25 at 1 39 17 AM" src="https://user-images.githubusercontent.com/85645967/160001473-c455a3

[2022-03-24 20:16] parasharrajat commented on #6876
@stitesExpensify so we kind of ended with the same solution as in the previous PR. I think are a few bugs in RN. But RN suggests using controlled props and they prevent cursor issues but on Android, the menu is not opening.

so my suggestion would be we just file a report on RN for the native Copy-paste menu and keep the same composer implementation.

What do you say?

[2022-03-24 20:17] parasharrajat commented on #4114
Mine too. I think this is achievable via code but the gap between the text lines will be increased.

[2022-03-24 20:19] iwiznia commented on #7644
Where exactly will that code go? (sorry if it is linked somewhere, but could not find it following the linked comments)

Wouldn't those regexes also match other things? Like what if I am pasting an HTML string? Ie: what if what I am pasting is `<tr><td>Hello!</td></tr>`, would that get replaced or is the escaping of html characters happening before and thus would work?

[2022-03-24 20:20] stitesExpensify commented on #8032
LGTM, the only changes I would make would be:
1. Use `else if` for performance
2. We should have a default for if something goes really wrong and fails all 3 `if` checks

@NicMendonca can we hire @Santhosh-Sellavel for this please? Thanks!

[2022-03-24 20:28] parasharrajat commented on #7925
I tried to understand your proposal @azimgd but I didn't completely get the good sense of what are you trying to achieve by all of those changes? I know this is a draft but thought of sharing the review with you.

I am new to native code but I can understand the logic. It would be helpful for me if you can also tell us what are those variables you referenced in your proposals. You reviewed the nat

[2022-03-24 20:36] kbecciv opened #8307 "[HOLD] Web - Save button looks unclickable after removing profile image and replacing it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to http://staging.new.expensify.com
2. Log in and click the settings icon (your profile image)
3. In the "Settings" drawer on the right, click

[2022-03-24 20:40] Santhosh-Sellavel commented on #8032
What should be default values?

[2022-03-24 20:50] brianmuks commented on #8134
I need help on how I can generate quoted text.

[2022-03-24 20:50] parasharrajat commented on #7462
@kadiealexander Could you please hold C+ payment for me on this issue until I request/ping you. I would like to wait for a week. Please put this on weekly so that you don't get notifications. Thanks.

[2022-03-24 20:51] parasharrajat commented on #6584
@michaelhaxhiu  Could you please hold C+ payment for me on this issue until I request/ping you. I would like to wait for a week. Please put this on weekly so that you don't get notifications from MelvinBot. Thanks.

[2022-03-24 20:53] stitesExpensify commented on #8032
Yep that makes sense to me!

[2022-03-24 20:57] luacmartins commented on #8275
@kavimuru Thanks! It seems that those files don't have an extension in their name and that's why they are failing.

Some thoughts:

1. I put up a PR to update the image picker library. That doesn't fix the issue completely, but should help with video files in iOS. Right now we don't get any extensions from those files, so upload will fail. Updating he library fixes that issue.
2. I couldn't find a

[2022-03-24 20:58] stitesExpensify commented on #6876
Yep, a fix to RN is always preferable over a workaround in our codebase. We can file a report, but also I believe that if a contributor creates a PR to fix RN we still pay out the upwork issue even though it's not in our codebase. Is that correct @mallenexpensify ?

[2022-03-24 21:00] roryabraham commented on #4114
Agreed, but that seems worth it to align emoji better. We could try only increasing the line height for lines that contain emoji, but I would prefer to just increase the line height for _all_ lines because:

1. Whether or not a line contains an emoji is hard to calculate (esp when the window resizes, etc...). This would be too hard to get right to be worth even trying imo.
1. We would end up havin

[2022-03-24 21:02] OSBotify commented on #8305
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.46-0 :rocket:

[2022-03-24 21:05] roryabraham commented on #7842
Bump @MitchExpensify for payment.

[2022-03-24 21:06] brianmuks commented on #8134
I have figured it out !

[2022-03-24 21:09] parasharrajat commented on #4114
Yeah, let's see. May be platform will handle it automatically. Otherwise, I agree with your opinion.

[2022-03-24 21:13] michaelhaxhiu commented on #6584
Sure, I think we can just delay 1 week if you prefer? The daily label will get re-applied the day before the payout, so it'll remind us that way.

[2022-03-24 21:14] Santhosh-Sellavel commented on #7968
Will check this by monday!

[2022-03-24 21:15] parasharrajat commented on #7855
Thanks, @mountiny. As soon as I get time, I will continue the investigation. Just trying to see the problem in more detail.

[2022-03-24 21:23] trjExpensify commented on #8033
Bumped the price to $750 in the meantime. 👍

[2022-03-24 21:30] AndrewGable commented on #8132
@mvtglobally - Can you have some testers try to reproduce? If if it's not reproducible, agree let's close.

[2022-03-24 21:39] NicMendonca commented on #8032
Upwork job: https://www.upwork.com/jobs/~0152360e4f1d2a4c0a cc @Santhosh-Sellavel

[2022-03-24 21:43] NicMendonca commented on #8200
Doubled the price: https://www.upwork.com/jobs/~016a75249a17d3022d

[2022-03-24 21:49] ahmdshrif commented on #7462
@kadiealexander but it will be good if my payment not hold 😄

Thanks

[2022-03-24 21:51] thesahindia commented on #8005
### Proposal
This happens when chat room has unread message but as it's behind the beta so the chat doesn't show up at the LHN.
We can just use the code given below so the the tab won't show (1) unread message
[code]

we just need to add it after -
https://github.com/Expensify/App/blob/4d646e79cc006aefe4c530b19cb085e1107c9042/src/libs/UnreadIndicatorUpdater/index.js#L40-L43

[2022-03-24 21:52] stitesExpensify commented on #4547
No update

[2022-03-24 21:52] stitesExpensify commented on #4324
No update

[2022-03-24 21:54] kadiealexander commented on #7462
@ahmdshrif of course! I'll issue your payment and @rushatgabhane's reporting bonus today.

@parasharrajat I'll keep yours on hold, let me know when you're ready.

[2022-03-24 21:57] kavimuru opened #8308 "IOU - Infinite loading spinner appears when split bill with invalid phone number"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue reproduced when executing #8019**
## Action Performed:
1. Click on FAB ➕ Button -> Split Bill
2. Enter Amount and press Next
3. Search and select a three-digit ph

[2022-03-24 21:58] OSBotify commented on #8308
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-03-24 21:58] kadiealexander commented on #7462
Paid:

- [x] @ahmdshrif - Done! Thanks for your work Ahmed.
- [ ] @rushatgabhane - Sent you a contract to issue you the reporting bonus, please accept.
- [ ] @parasharrajat on hold as discussed.

[2022-03-24 22:03] ahmdshrif commented on #7462
Thanks @kadiealexander

[2022-03-24 22:30] kbecciv commented on #7187
@mountiny Issue found during Regression with build 1.1.46.0

https://user-images.githubusercontent.com/93399543/160020827-d15b1f30-d6e2-438f-a7c8-5e6f6a7320c5.mp4

[2022-03-24 22:45] LucioChavezFuentes commented on #7486
I think `numberOfLines` is a better option than setting `max-height` and will help us to clip text that don't fit. But `numberOfLines` require `max-width`  to know when to wrap and count lines.
Setting overflow styles on `tooltipTextStyle` only works to cover edge cases on really large single emails that may occupy more than `max-width`. They can be left out for most of cases.

Both `numberOfLines

[2022-03-24 22:54] michaelhaxhiu commented on #7585
@Tushu17 + @thesahindia are paid.

@rushatgabhane can you apply for this job here for the C+ payout?
https://www.upwork.com/ab/applicants/1507128374759198720/job-details

I see 1 regression so that means 50% off the $250 right?

[2022-03-24 22:58] NikkiWines commented on #8307
Hmm, none of the logic in `ProfilePage.js` has been modified in over a month, so it's a bit odd that this is popping up now.

[2022-03-24 23:02] NikkiWines commented on #8307
@kbecciv can you confirm the button is not clickable? Or is it just that the button color is showing it as disabled? From the video it looks like it might be the latter.

I can reproduce latter issue (inconsistent button color) on dev, but can definitely update the photo:

https://user-images.githubusercontent.com/16747822/160023941-b9d7e4ba-8a7f-42b9-81f0-f901df9324fc.mov

[2022-03-24 23:14] roryabraham commented on #8308
👀 Lettuce see what needs to be done her

[2022-03-24 23:14] kavimuru opened #8309 "[HOLD for payment 2022-05-20] [$1000] Workspace - Unable delete the unlimited numbers under rate in Reimburse expenses page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Log in with expensifail account
3. Go to Setting - Workspace - Reimburse expenses
4. Enter unlimited

[2022-03-24 23:17] luacmartins commented on #8129
I'll pick this up!

[2022-03-24 23:18] michelle-thompson commented on #4114
Yeah, I agree that this proposed line height apply to all text, not just lines of text with an emoji. Also, definitely open to seeing how center-aligned emojis will look!

[2022-03-24 23:27] mallenexpensify commented on #7121
K, Thanks Rajat, you're assigned, I removed the `Help Wanted` label

[2022-03-24 23:31] mallenexpensify commented on #7678
@parasharrajat and @ahmdshrif both paid $250

[2022-03-24 23:31] #7678 closed

[2022-03-24 23:34] luacmartins commented on #5070
I'll take a look at this.

[2022-03-24 23:37] luacmartins commented on #8275
Opened a discussion in [Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1648158172215349). I also think that this is working as intended if a file does not have an extension in the name, but I'll leave the discussion open to see what other people think.

[2022-03-24 23:39] mallenexpensify commented on #7855
Hired @parasharrajat in Upwork, removed @rushatgabhane as C+ cuz Rajat is also C+

[2022-03-24 23:40] roryabraham commented on #4114
Okay, I took a stab at clarifying the requirements in the OP. Feel free to review, but I feel much better about moving forward with this issue now :)

[2022-03-24 23:41] roryabraham commented on #4114
@JmillsExpensify if the updated OP looks good to you can you please update the Upwork job to match the OP and bump it to $500?

[2022-03-24 23:43] mallenexpensify commented on #5070
Thanks @luacmartins !!
Guessing you saw this I posted a lil bit ago https://github.com/Expensify/Expensify/issues/200976#issuecomment-1078464634

[2022-03-24 23:45] luacmartins commented on #5070
I picked up the E/E issue. Should we just close this one in favor of the E/E issue? AFAIK hourly labels are independent of repos so having both issues is redundant.

[2022-03-24 23:46] brianmuks commented on #8134
*Proposal*
The issue is being caused by  this line :
https://github.com/Expensify/App/blob/4d646e79cc006aefe4c530b19cb085e1107c9042/src/libs/actions/Report.js#L1077
When converting text that contain html tags the tags are being replace  with no consideration for spacing.

The solution would be to replace the tags with  whitespace `' '` followed by `.trim()` for any trailing whitespace
[code]

[2022-03-24 23:47] luacmartins commented on #5070
NVM, we closed the E/E issue, so let's keep this one open.

[2022-03-24 23:52] kavimuru opened #8311 "[HOLD for payment 2023-01-23] [$4000] mWeb - Copy to email/URL is not working correctly - reported by @mateusbra"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing #8195**
## Action Performed:
1. Log in on New Expensify.
2. Open a report.
3. Type an URL and an e-mail on chat.

## Expected Result:
The

[2022-03-24 23:55] roryabraham commented on #8308
Not able to reproduce this on staging either 😕

[2022-03-24 23:58] roryabraham commented on #8305
YOOO I am unable to reproduce https://github.com/Expensify/App/issues/8308 – can you retest please? It worked as expected me on `1.1.46-0`

[2022-03-25 00:18] mountiny commented on #7855
Agreed, no need to rush on this one!

[2022-03-25 00:24] mountiny commented on #7187
@kbecciv Can you please comment on some PRs from the release which worked with Storybook, there is a couple I am not sure which this is related to, but this is an old issue and if this is a regression that now appeared in staging, it must be related to the deployed PRs and not here. I will close this issue, thank you!

[2022-03-25 00:24] #7187 closed

[2022-03-25 01:23] mateusbra commented on #8311
@kavimuru I found this issue while working on https://github.com/Expensify/App/pull/8195 and reported on slack here: https://app.slack.com/client/T03SC9DTT/C01GTK53T8Q does that count for reporting bounty?