[2021-06-08 23:38] deetergp commented on #3041
It looks like the polyfill is added by the browser and is used to indicate, when navigating a web page with a keyboard, that an element has focus. I think the right solution here is to figure out how to prevent individual messages from being able to receive focus--there's not much you can do with them when they get focus anyway.

[2021-06-08 23:39] marcaaron commented on #3272
Based on the issue ("app left overnight") I'd be Ok with assuming that we are mainly concerned with large amounts of time. My concern is that if we are updating very frequently then it will cause performance issues. But we can always tweak things later. @deetergp what do you think about this plan?

[2021-06-08 23:44] Jag96 commented on #2918
Looks like this is still happening here: https://github.com/Expensify/Expensify.cash/runs/2778864820?check_suite_focus=true

[2021-06-08 23:50] rushatgabhane opened #3455 "[HOLD for RN-Modal to support RN 0.65] [Windows only] Cntrl + click doesn't open the link in a new tab for MenuItem component."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Both click and Cltr + click on MenuItem with a link opens the link in new tab.
## Actual Result:
Only click opens the link in new tab.
Cltr + click d

[2021-06-08 23:55] mountiny commented on #3309
[This](https://github.com/Expensify/Expensify.cash/issues/3137#issuecomment-857187463) PR and other metioned issues there could be helpful.

[2021-06-09 00:03] AndrewGable commented on #2918
I believe we've narrowed it down to the regex doesn't work on Ubuntu and used to work on MacOS

[2021-06-09 00:14] roryabraham commented on #2918
After confirming that the current regex doesn't work in our ubuntu VMs, I found a variation that _does_ seem to work in both ubuntu and macOS:

[code]

[2021-06-09 00:25] #2408 closed

[2021-06-09 00:50] francoisl commented on #3137
Ah, good point, looks like it's working now!

[2021-06-09 00:50] #3137 closed

[2021-06-09 01:01] deetergp commented on #3272
I think three hours sounds like a reasonable amount of time. I don't think we need to worry about the time rolling over at exactly the stroke of midnight in the user's timezone, and are more concerned about leaving the app open at the end of the day, then hopping in first thing the next morning. I think we have a solution we can move forward on.

[2021-06-09 01:05] trjExpensify commented on #3349
Did we get consensus on what keyboard shortcut to use here? Seems like a couple were floated in that thread on accessibility, but not very widely discussed. Are we implementing one for `New Chat` somewhere else, or do we only want one for `New Group`. what's the reasoning for that?

@mallenexpensify, I see you raised this issue originally in #expensify-open-source:

When raising these sorts of imp

[2021-06-09 01:29] #2918 closed

[2021-06-09 01:32] roryabraham commented on #3349
I thought we landed on `CMD + SHIFT + K` to create a new group, because `CMD + K` creates a new 1:1 chat.

[2021-06-09 02:54] puneetlath commented on #3313
Hm, @roryabraham @iwiznia @parasharrajat I think a few different issues are being conflated here. The original issue reported here was that when you copy a message that contains an image, it puts the raw html on your clipboard instead of just the image. This also was happening with messages that contained links, but isn't anymore (I had already removed @isagoico's screenshot that showed it).

I th

[2021-06-09 03:54] kevinksullivan commented on #3354
Job posted https://www.upwork.com/jobs/~01699bc381521d62ca

[2021-06-09 04:10] parasharrajat commented on #3017
Thanks for the input. I have migrated from the use of SetTimeout in the PR. My actual solution does not need settimeout now  We needed it so that we can wait for the context modal to close. But in PR, I delayed the calling of editComment so now we don't need settimeout. I am trying to get away from settimeout as much as possible.

[2021-06-09 04:18] parasharrajat commented on #3309
@mountiny Have you found a solution to this? Otherwise I would like to take upon it. I have planned a solution that will cover this issue as well. Thanks.

[2021-06-09 05:04] jliexpensify commented on #2965
Contributor paid!

[2021-06-09 05:21] Jag96 commented on #3167
Looking at [this thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1623197796115100) it seems that the slowness issues on mobile have been alleviated. Going to close this, if we want to optimize subscriptions we can create a new issue, but I feel like between https://github.com/Expensify/react-native-onyx/pull/76 and https://github.com/Expensify/react-native-onyx/issues/78 we're ok for now

[2021-06-09 05:21] #3167 closed

[2021-06-09 05:54] JmillsExpensify commented on #3383
Sorry @roryabraham I've been super busy with an internal project. Picking this one up tomorrow.

[2021-06-09 06:41] Beamanator commented on #3354
@timszot unassigning you since I'm happy to review proposals for this one

[2021-06-09 08:34] mountiny commented on #3309
@parasharrajat hey! I wanted to work on this one today. I was trying to find some quick solution but we will most likely have to elevate this to global storage as otherwise you cannot really control components in different parts of the DOM tree.

Have you already started your PR for the other issues your solution should solve?

[2021-06-09 08:38] parasharrajat commented on #3309
@mountiny
Yes I have started the PR but I am yet to implement a solution which can be used to fix this issue as well. We have planned everything and today it would be done. Here is the issue https://github.com/Expensify/Expensify.cash/issues/3017.

[2021-06-09 08:39] #3101 closed

[2021-06-09 08:45] mountiny commented on #3309
@parasharrajat Great! Seems like you are on it then! Try to chip in a comment here as well as you will progress your work on the other issue. Thanks!

[2021-06-09 08:46] #3379 closed

[2021-06-09 09:27] trjExpensify commented on #3354
Presuming the fix will cover both `request money` and `split bill` flows, but just popping a note here that it occurs on the IOUConfirm page for both. 👍

[2021-06-09 11:57] Julesssss commented on #3380
Awaiting proposals

[2021-06-09 12:11] michaelhaxhiu commented on #3218
Payment will be sent in 7 days to allow for regressions to surface and be fixed.

[2021-06-09 12:28] anthony-hull commented on #3189
It looks like the API now re-sends en email when you use an expired token. But I've been using the reset password UX rather than set password for the a new user for most of my testing.

[2021-06-09 12:29] anthony-hull commented on #1517
I think it would be a good idea to re-use this component for the reset password page to improve the UX of the password rules there as well.

[2021-06-09 12:54] isagoico opened #3476 "Phone number accounts - Phone numbers should be tappable"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Phone number accounts should be tappable to save the number or trigger a call.

## Actual Result:
Phone number accounts are not tappable.

## Action

[2021-06-09 13:06] kidroca commented on #3339
Alright, I can apply only the changes regarding logging the error: https://github.com/Expensify/Expensify.cash/issues/3339#issuecomment-856310369

[2021-06-09 13:23] isagoico opened #3477 "Chrome - Chrome autocomplete doesn't show the correct number of saved accounts in Web"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Chrome should show all the saved accounts in the email field.

## Actual Result:
Only 1 account is displayed for autocomplete in the email field.

##

[2021-06-09 13:27] parasharrajat commented on #3354
@Beamanator I would like to fix this.
### Proposal
So to fix this we need to update the UI of https://github.com/Expensify/Expensify.cash/blob/cf45c51d69405be841a6967769a9cbcd69ab2bfc/src/components/IOUConfirmationList.js.
1. We will wrap our participant list in `ScrollView`, then move the bottom button out of the list
like
[code]
It's hard to explain but a video tells the whole story here.

https

[2021-06-09 13:40] isagoico commented on #3450
Starting QA

[2021-06-09 13:41] michaelhaxhiu commented on #3455
hmm, @rushatgabhane this works for me on Mac when I do a cmd + click (web and desktop app). Is it possible this is just impacting Windows users?

[2021-06-09 13:44] rushatgabhane commented on #3455
Yes, looks like it's an issue for windows and linux only.

[2021-06-09 14:10] isagoico commented on #3450
Should I check these off https://github.com/Expensify/Expensify.cash/pull/3456 and https://github.com/Expensify/Expensify.cash/pull/3445 and test them when the prod build is deployed?

[2021-06-09 14:21] trjExpensify commented on #3349
`CMD + K` opens `Search`, not `New Chat` right? I don't believe we have a shortcut for `New Chat`.

[2021-06-09 14:24] rushatgabhane commented on #3349
Yeah you're right, but you can also start a new chat from search.

[2021-06-09 14:41] isagoico opened #3480 "[Network] User was signed out randomnly with a JS command `Report_UpdateLastRead`"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User should not be signed out randomly.

## Actual Result:
User was signed out randomnly with a JS command `Report_UpdateLastRead`
![image](https://u

[2021-06-09 14:44] tugbadogan commented on #2447
This PR should solve this issue.
https://github.com/Expensify/Expensify.cash/pull/3078

[2021-06-09 14:46] trjExpensify commented on #3349
Totally, just trying to confirm that there isn't another shortcut in use/in the works for `New Chat` that could make more sense to couple with `New Group` vs with chat switching (`Search`).

[2021-06-09 14:50] parasharrajat commented on #3309
@mountiny PR is ready https://github.com/Expensify/Expensify.cash/issues/3017.

[2021-06-09 14:56] stephanieelliott commented on #2967
I've updated the issue body and title to more accurately describe what we are after cc: @Beamanator. I've also 2x the rate on Upwork and posted to #expensify-open-source 👍

@parasharrajat if you have a proposal for fixing this, can you please leave it here in a comment?

[2021-06-09 15:20] mountiny commented on #3309
@parasharrajat Great job!

[2021-06-09 15:24] isagoico opened #3482 "IOU - Currencies are not displayed after clicking the currency symbol for a second time"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
List of currencies should display.

## Actual Result:
An empty list is displayed.

## Action Performed:
1. Open e.cash and log in
2. Navigate to a co

[2021-06-09 15:24] OSBotify commented on #3482
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-09 15:30] michelle-thompson commented on #2936
Looks good! My only comment is that the search results feel too close to the input. It should look like this, which has 12px padding between input and results:
![image](https://user-images.githubusercontent.com/43361905/121384189-e426e480-c8fc-11eb-8bed-89ca18744c1b.png)

[2021-06-09 15:32] trjExpensify commented on #3482
@yuwen, I confirmed this isn't happening on production, so pretty sure it must be related to one of the PRs from yesterday's staging deploy [here](https://github.com/Expensify/Expensify.cash/issues/3450).

[2021-06-09 15:37] kidroca commented on #3482
This will be resolved after https://github.com/Expensify/react-native-onyx/pull/81 is merged and `react-native-onyx` updated

[2021-06-09 15:53] roryabraham commented on #3297
I sort of want to test this first and see if it works before I agree to making this change in the Expensify mobile app.

[2021-06-09 16:13] Julesssss commented on #3455
it's certainly minor, but I don't see why we shouldn't fix this for consistency. It would annoy me if this occurred on Mac.

[2021-06-09 16:22] dklymenk commented on #3297
@roryabraham

I have replaced `_blank` with `_system` here:

https://github.com/Expensify/Expensify.cash/blob/main/src/components/RenderHTML.js#L63

By checking html output in dev tools I have confirmed the target is set to `_system`.

![DeepinScreenshot_select-area_20210609191904](https://user-images.githubusercontent.com/64093836/121391926-9095b480-c957-11eb-9b68-1ea9d436f638.png)

Set webpack h

[2021-06-09 16:23] michaelhaxhiu commented on #3455
Cool, thanks for the bud check @Julesssss.

I'll post it on Upwork and confirm here when that is done. If you'd like to solve it, you can post a solution proposal @rushatgabhane (in which case, you'd be compensated a bonus for finding this enhancement + solving it)

Then, a member of our eng team will review your proposal and give the 👍 or 👎 on proceeding with a PR.

[2021-06-09 16:31] michaelhaxhiu commented on #3455
Ok, this job is posted to Upwork here - https://www.upwork.com/jobs/~01e82d35df4dd24853

@rushatgabhane feel free to apply for the job in Upwork if you want to propose a solution, and you'll receive a [$150 bonus in addition to payment for the solution](https://github.com/Expensify/Expensify.cash/blob/main/CONTRIBUTING.md#proposing-a-job-that-expensify-hasnt-posted).

[2021-06-09 16:33] roryabraham commented on #3297
Okay, thanks for testing @dklymenk. But unfortunately that means that I have to make this issue internal again, because our Expensify mobile app can't be worked on by outside contributors. Sorry 😣

[2021-06-09 16:34] rushatgabhane commented on #3455
@michaelhaxhiu sure! I'm working on a proposal, will apply soon.

[2021-06-09 16:41] michaelhaxhiu commented on #3455
@Jag96 will be able to assist with reviewing your proposal as the next step.

[2021-06-09 16:45] parasharrajat commented on #2967
So I finally got the chance to look over this issue. As I said earlier, this is possible to remove the full-screen modal . So after a lot of tweaks I have come up with something, hope you will like it @Beamanator. It little complex to explain everything but I will try my best.
### Proposal
1. `react-native-modal` has two props which will help us eventually. `coverScreen` & `hasBackdrop` . We will

[2021-06-09 17:07] yuwenmemon commented on #3482
Looks like it got merged!

[2021-06-09 17:12] kidroca commented on #3482
We still need to update E.cash, will post a PR in a second

[2021-06-09 17:16] yuwenmemon commented on #3482
Thanks @kidroca!

[2021-06-09 17:18] kavimuru opened #3485 "iOS - App crashes after turning off the internet connection"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User status is shown offline and can explore the app
## Actual Result:
App crashes when turning off the internet connection

## Action Performed:
1.

[2021-06-09 17:18] OSBotify commented on #3485
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-09 17:21] Julesssss commented on #3482
Oh, I've got a [bump PR](https://github.com/Expensify/Expensify.cash/pull/3483) here too @kidroca

[2021-06-09 17:22] Julesssss commented on #3482
Nevermind, you've seen already 👍

[2021-06-09 17:24] iwiznia commented on #3313
There's https://github.com/Expensify/Expensify.cash/issues/3317 too

[2021-06-09 17:28] roryabraham commented on #3450
Yep! Just ping us before you run the next prod deploy and we'll verify that it worked. No worries, it's unlikely those PRs will break android prod deploys any more than they're already broken.

[2021-06-09 17:47] pranshuchittora commented on #2936
Noted. Will update that :)

[2021-06-09 18:03] michelle-thompson commented on #2936
The spacing looks great!

One more comment -- it looks like the focus border is on top of the original input border, you can see a light grey border on all four corners. Can we ensure that the corner radii for the focus matches so we don't see two borders?
![image](https://user-images.githubusercontent.com/43361905/121405492-f65f4d80-c911-11eb-84d5-48822fb3c06c.png)

[2021-06-09 18:05] rdjuric commented on #3247
@iwiznia Cool! I went ahead and made a PR #3487

[2021-06-09 18:23] nickmurray47 commented on #3389
I think this can be a weekly given the scope of the changes.

[2021-06-09 19:16] kavimuru opened #3488 "Web/mWeb- Sign in - Endless loading spinner appears when re login"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Able to log in to the account without any issue

## Actual Result:
Infinite loading spinner appears on tapping "continue" after entering the email
##

[2021-06-09 19:31] pranshuchittora commented on #2662
@chiragsalian making emojis smaller worked. But they look very small on the bigger viewport (like the browser).

![Screenshot from 2021-06-10 00-37-19](https://user-images.githubusercontent.com/32242596/121414179-0a439780-c984-11eb-84dd-a1dcea7c3bf6.png)

Should I implement the change in size proportional to the change in width?

[2021-06-09 19:42] roryabraham commented on #3313
It's a good summation of the problem, but I would approach it slightly different. Those two issues _could_ be separate, but imo they should not be. I'd prefer to see the same contributor work on both these issues (if they want to do 2 PRs, that's fine). My reasoning is that, at a very high level the solution is the same:

When the user right-clicks or long-presses an html element in a chat message

[2021-06-09 19:54] Santhosh-Sellavel commented on #3346
Applied for job on Upwork.

I am proposing that,

On pressing decline, will show an alert to confirm the decline request. When the user agrees to decline, it will initiate API and display a spinning wheel with In progress text.

On completion of API call will dismiss all, show the list.

Or will do the same without the user confirmation part.

Whatever you prefer.

[2021-06-09 19:54] TomatoToaster commented on #3485
I've seen this and I'm trying to run the staging branch locally to fix this. Running into some issues with XCode and ECash so I'm resolving that right now. Haven't been able to recreate locally yet.

[2021-06-09 20:29] iwiznia opened #3490 "Allow Onyx to store null as the value of a key"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Some context https://expensify.slack.com/archives/C011W8BJ9L6/p1623268249108100 (expensify employees only, sorry).
Noticed when I saw [this PR](https://github.com/Expens

[2021-06-09 20:54] roryabraham commented on #3383
No worries, this one is not that urgent.

[2021-06-09 21:27] TomatoToaster commented on #3245
Didn't get to working on this yet, still planning to work on it some time this week.

[2021-06-09 21:30] rdjuric commented on #3380
### Proposal

Not sure if I'm missing something, but looks like the groundwork for this feature is already done and that by removing the appropriate `disableArrowKeysActions` get the expected behavior
https://github.com/Expensify/Expensify.cash/blob/5e041b5536e83a461ebced2d13a489fd7714b8ad/src/pages/NewGroupPage.js#L206-L233

With the prop removed

https://user-images.githubusercontent.com/5371142

[2021-06-09 21:36] yuwenmemon commented on #3477
I think this is more an issue with Chrome and perhaps the staging domain vs the normal one than it is an issue with the site, gonna close

<img width="797" alt="Screen Shot 2021-06-09 at 2 35 24 PM" src="https://user-images.githubusercontent.com/4741899/121432848-0ab24300-c930-11eb-90fa-1a675045aeda.png">

[2021-06-09 21:40] iwiznia commented on #3477
This is not happening just in staging and it works perfectly on e.com... it is possible I did something to cause this, but that would not explain why Isabella could reproduce it. I think we should look into it.

[2021-06-09 21:43] yuwenmemon commented on #3477
@iwiznia is it possible to elaborate on what you suspect you might have done to cause this?

[2021-06-09 22:22] iwiznia commented on #3477
No idea, this never worked for me since day 1.

[2021-06-09 22:24] rushatgabhane commented on #3346
Update: Created a pull request. #3498

[2021-06-09 22:34] yuwenmemon commented on #2857
@puneetlath do you have steps for how to re-create this? I've had no luck as of yet 😕

Also, should we close this in favor of https://github.com/Expensify/Expensify.cash/issues/2803, as the two seem to be describing the same bug...

[2021-06-09 23:02] Jag96 commented on #3339
Posted the job to Upwork and invited you @kidroca, feel free to start on a PR. Once the job is completed you'll receive the bonus for posting this issue ([readme for reference](https://github.com/Expensify/Expensify.cash/blob/main/CONTRIBUTING.md#proposing-a-job-that-expensify-hasnt-posted)).

[2021-06-09 23:24] tugbadogan commented on #3100
I realised that links in nested text component are now accessible in Safari. It might be changed by recent version upgrade for react-native. The only downside was duplicated links and codes in text component. But they are not required now. I attached the PR and it is ready for review.

[2021-06-09 23:32] AndrewGable commented on #3476
cc @iwiznia since you had some ideas on solutions here.

[2021-06-09 23:52] isagoico opened #3503 "Android - App crashes when logging out"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
App should not crash when logging out

## Actual Result:
App is crashing when logging out

## Action Performed:
1. Launch the app
2. Log in with any

[2021-06-09 23:52] OSBotify commented on #3503
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-09 23:53] isagoico commented on #3450
Regression is finished
3 issues found:
1. https://github.com/Expensify/Expensify.cash/issues/3485
2. https://github.com/Expensify/Expensify.cash/issues/3488
3. https://github.com/Expensify/Expensify.cash/issues/3503

PRs are finished.
2 comments added:
1. https://github.com/Expensify/Expensify.cash/pull/3434#issuecomment-857788432 will be fixed in https://github.com/Expensify/Expensify.cash/pull/3

[2021-06-10 00:10] Jag96 commented on #3503
Looks like this is an issue w/ UrbanAirship, going to have a look at the latest versions and see if we just need to update the version

[2021-06-10 00:24] puneetlath commented on #3346
@rushatgabhane just want to double-check that this was the job you applied to? I'm not seeing it in there https://www.upwork.com/jobs/~01e87cad52166458c7

[2021-06-10 00:41] Christinadobrzyn commented on #3488
Testing this in Staging v1.0.55-1

I'm not getting the same loading page when I sign in to a different account, I assume that is because I'm not logging into the account as fast as in the video @kavimuru so kindly created.

I don't see any other GH's about this issue so I think it's up to engineering if this is something to fix now or wait.

[2021-06-10 00:56] chiragsalian commented on #3476
I dont think this should be a daily so I'm demoting this to weekly. Unassigning myself. Feel free to share your thoughts on a solution ioni.
I'm not sure how the calling on web should play out but for mobile devices we can just post the job on upwork and someone would have a valid proposal to solve this in react native.

[2021-06-10 00:56] trjExpensify commented on #3488
👋 @Christinadobrzyn, did you try to reproduce on Web and mWeb and on version `v1.0.66-0` or higher?

All deploy blockers are set to `hourly` for urgency. Let's keep it on that until we prove this isn't an issue or not. Essentially, if this gets deployed to production and users can't sign-in to E.cash, that's pretty bad.

FWIW, I can see the issue on Web, and now I'm unable to sign-in 😅

![image](h

[2021-06-10 01:03] trjExpensify commented on #3485
👋 Any luck, @TomatoToaster?

[2021-06-10 01:04] Christinadobrzyn commented on #3488
Ah this is another Alpha staging situation - I don't have a version higher than v1.0.55-1. Asking permission for v1.0.66-0 in [Slack](https://expensify.slack.com/archives/C03U7DCU4/p1623265829213700).

[2021-06-10 01:06] Jag96 commented on #3503
Updating `urbanairship-react-native` fixes the issue, but requires updating some iOS pods. After updating the pods I'm having issues building the app on iOS, so working through that atm

[2021-06-10 01:09] trjExpensify commented on #3488
Yeah, you'll need the alpha for the latest staging version on the mobile app. For testing Web/mWeb issues like this one, if you go to staging.expensify.cash, those will always be the latest for yah.

hourly deploy blockers are typically kept internal 👍

[2021-06-10 01:29] TomatoToaster commented on #3485
😞  No not really. I'm still not able to recreate this locally, and that would tell me most easily why this is happening. I'm trying to figure out from everything else I can use including the crash logs here.

In the meantime I had looked through the PRs we had merged for this and I can't find anything that would cause this issue we're seeing. I can confirm this should still be a blocker though bec

[2021-06-10 02:50] mallenexpensify commented on #3187
Thanks for the fix @parasharrajat , this was a person pet peeve of mine, ran into this issue all.. the.. time

[2021-06-10 02:52] rushatgabhane commented on #3346
@puneetlath Yes that's the job I have applied to.
Here's the upwork profile with which I applied from https://www.upwork.com/freelancers/~01990b51632551e540

[2021-06-10 02:55] mallenexpensify commented on #3272
@deetergp should @kadiealexander hire @dklymenk or do we want more specifics on the proposed fix?

[2021-06-10 03:16] mallenexpensify commented on #3349
Regardless of what it is, it's just opening the RHP in the same fashion that clicking the green plus icon then 'new group chat'.  I (kinda/sorta) tested earlier today and `CMD + SHIFT + K` made (enough) sense to me. We could raise again in #expensify-open-source if we think it would be helpful.  (sorry to not be more helpful or definitive and.. for all the (()))

[2021-06-10 03:18] TomatoToaster commented on #3485
😭  I finally got it working locally. Ok I'm trying to figure out a fix for this.

[2021-06-10 03:23] Christinadobrzyn commented on #2258
Reached out in Upwork to some contractors we've used in the past to see if they are interested in this project.

[2021-06-10 03:25] Christinadobrzyn commented on #2614
This issue is still in a holding pattern.

[2021-06-10 03:27] parasharrajat commented on #2614
I believe this is no more required.

[2021-06-10 04:00] #2712 closed

[2021-06-10 04:19] parasharrajat commented on #2258
I have a question about

How are we planning to save the images offline? On slack, it uploads all the images while a user is selecting them. Thus next time we see the draft, it just usages the URLs for that purpose. we can't use Onyx for Web. The web has limited storage of 5Mb which will be overflown by these images.

[2021-06-10 04:59] TomatoToaster commented on #3485
Ok so now I'm fairly certain it's this PR that's created this new problem: https://github.com/Expensify/Expensify.cash/pull/3423

More specifically it's the changes in Onyx PR here: https://github.com/Expensify/react-native-onyx/pull/81/files

From the crash logs it seems like this is is being called in an endless loop:
https://github.com/kidroca/react-native-onyx/blob/b0cf26cb80aab05bddd5588e1276

[2021-06-10 05:30] parasharrajat commented on #3485
@TomatoToaster You should mark this as a regression on that PR as everyone is waiting for issues related to that PR.

[2021-06-10 05:54] JmillsExpensify commented on #3383
Done! A note for contributors

[2021-06-10 07:23] kidroca commented on #2258
You can't use Onyx because Onyx does not have a way to deal with files ATM
Even if local storage had tons of space it would be a bad idea to convert a file to base64 string and save it there - local storage / AsyncStorage deals only with strings

Native devices (mobile) have dedicated directories for (documents/cache) that you can leverage to temporary store the file until it's uploaded
Browsers h

[2021-06-10 07:29] kidroca commented on #2258
@kadiealexander @Christinadobrzyn
This ticket is listed as a $250 job on Upwork. IMO this is too little for the requirements listed in the description
The Offline handling should probably be a separate task on it's own

[2021-06-10 07:30] quinthar commented on #2258
I sorta wish we just did the original proposal: send the image and text all
at once, and be done with it.  This feels like it's massively scope-creeped.

On Thu, Jun 10, 2021 at 12:29 AM Peter Velkov ***@***.***>
wrote:

[2021-06-10 07:52] TomatoToaster commented on #3485
So to clarify a bit more on what's happening, when the app goes offline we repeat these lines endlessly, causing stack to grow too huge too quickly and crash:

https://github.com/Expensify/Expensify.cash/blob/533a0230986b3724397e1152f7ce70a2edb2569a/src/libs/Network.js#L42
https://github.com/Expensify/react-native-onyx/blob/52c254fbc4b96224d2ac087e57ef6efc4210ccc1/lib/Onyx.js#L520
https://github.c

[2021-06-10 08:15] parasharrajat commented on #2258
@kidroca thanks for your input. I had my plans for using IndexedDB. but I want to know what is the team's original plan for offline caching. I agree this little more involved than a normal task.

[2021-06-10 08:26] parasharrajat commented on #3485
Thanks for pointing it out @TomatoToaster. Matter of fact, I am working on a PR https://github.com/Expensify/Expensify.cash/pull/2703 that changes this logic. You can pull in that PR to confirm if that fixes this problem. I will take a look at this issue and try to add a fix there on the PR.

[2021-06-10 08:28] parasharrajat commented on #2967
@Beamanator What do you think?

[2021-06-10 09:31] twisterdotcom commented on #3476
I think really what we should do is something similar to Slack for emails, for phone numbers AND emails (basically anything we can create an account from):
So we show it as a hyperlink:
![image](https://user-images.githubusercontent.com/9133401/121501121-d5acfb80-c9d6-11eb-9072-0932f5a707bd.png)

But then, we don't do the _system_ preferred option (in this case, call the number but also, open defa

[2021-06-10 09:39] TomatoToaster commented on #3485
Your PR does manage to resolve this problem. However, I wasn't able to verify it actually lets us recover from offline mode, when the wifi is reactivated. I think there also might be a simpler solution that fixes this.

Either way, I think we don't need to keep this as a staging deployblocker. Since we're not going to revert all the Onyx changes, we can leave this as a daily regression and still k

[2021-06-10 09:48] Beamanator commented on #3346
@Santhosh-Sellavel thanks for your proposal, but I've already selected Rushat's proposal for this job / issue :) Please feel free to propose solutions for other jobs / issues that have not had a proposal selected yet 👍

[2021-06-10 10:09] Beamanator commented on #2936
@pranshuchittora I think you're right about that - also, there's another issue (https://github.com/Expensify/Expensify.cash/issues/3108) to handle form styling, so as long as this PR doesn't introduce any new form styling issue (which I don't think it does), you can definitely leave this as is :D

[2021-06-10 10:10] kidroca commented on #2258
I meant that because AsyncStorage deals only with strings you'd have to use a base64 of the file to save it to AsyncStorage - that's a big NO.
- Big strings moving through the native bridge
- Converting a file to base64 - requires reading the file, then converting that to a string - intenisve. Having a reference to a file does not require you to read it - it's read only when it has to be read - di

[2021-06-10 11:01] Julesssss commented on #3380
@rdjuric yeah, I think that would be the right solution. What I'm not sure about is why we blocked the use of arrow keys in the first place 😕

I've [asked here](https://github.com/Expensify/Expensify.cash/pull/1392#discussion_r649077496), lets see what the original reason was before moving forward.

[2021-06-10 11:31] trjExpensify commented on #3349
Cool, so it doesn't sound like we've got anything for `New Chat` coming and I couldn't find an issue for that, so let's proceed with `CMD + SHIFT + K`. I'll add the deliverables to the OP, and get it onto Upwork now, so @rushatgabhane can apply 👍

[2021-06-10 12:16] kidroca commented on #3485
@TomatoToaster thanks for the links

Here's what I've found out:

https://github.com/Expensify/Expensify.cash/blob/533a0230986b3724397e1152f7ce70a2edb2569a/src/libs/Network.js#L32-L45

We have a listener subscribed to `ONYXKEYS.NETWORK_REQUEST_QUEUE` that also uses `Onyx.set` to update that key, which in turn is triggering the listener again

The check here does not work well

https://github.com/E

[2021-06-10 12:25] kidroca commented on #3485
Here's a debug video of the loop:

https://user-images.githubusercontent.com/12156624/121524440-ff2e4d00-c9ff-11eb-9400-9a2105f62046.mp4

[2021-06-10 12:26] isagoico opened #3512 "CMD + K is not working when the focus is on compose box"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User should be able to change chats when using the command + k.

## Actual Result:
CMD + K is not working when the focus is on compose box.

## Actio

[2021-06-10 12:27] OSBotify commented on #3512
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-10 12:32] Viacheslav80 commented on #2279
@roryabraham Hi! Ok. we can do a check:
34 const isWeb = Platform.OS == "web";
63                         <Text selectable={isWeb}>

[2021-06-10 12:49] parasharrajat commented on #2258
Thanks for the clarification. It's more than what I asked and probably not what I asked. Cache storage seems promising. All I am saying is that the main issue description lacks information about storage strategy.

[2021-06-10 12:50] rdjuric commented on #3380
@Julesssss Good idea 😃

The prop was added after this https://github.com/Expensify/Expensify.cash/pull/1392#issuecomment-772598023, so it might be the reason?

[2021-06-10 12:53] isagoico opened #3513 "[HOLD] Mobile app - Let users choose where to save the downloaded pictures or files"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Users should be able to choose where to save the files that were downloaded from e.cash

## Actual Result:
User is not able to choose on where to sav

[2021-06-10 12:53] parasharrajat commented on #2967
I have tested out my proposal and it seems to be working as expected. @Beamanator Please let me know whether the proposal looks good or not? PR is one click away.
Thanks.

[2021-06-10 12:53] Viacheslav80 commented on #2279
@roryabraham Hi! Ok. We can do a check:
` 63                         <Text selectable={isWeb && screenWidth >= 1024}>`

https://user-images.githubusercontent.com/51112870/121528161-e58f0480-ca03-11eb-859f-c9feed161ea9.mov

[2021-06-10 13:30] Beamanator commented on #2967
@parasharrajat that looks great! I'm excited to see the code in action too :D Please apply on upwork & submit the PR when you have a chance!

[2021-06-10 13:42] Beamanator commented on #3354
Hmm I guess I'd like the @Expensify/design team's thoughts on this one. My thought was that the "What's it for" text + the TextInput + the Split / Request button should all stay together. So when the keyboard opens or if you scroll the list of users, those 3 elements are always visible above the keyboard.

[2021-06-10 13:50] robertjchen commented on #3513
Sounds like a great self-contained task for our contributors, tagging as `External`

[2021-06-10 13:51] parasharrajat commented on #3354
Oh. Yeah . Let's wait from the design team to confirm this and I can rework my proposal.

[2021-06-10 14:47] TomatoToaster commented on #3485
I think you're spot on about this, @kidroca. I came to a similar conclusion by following the loops and already have a PR for it: https://github.com/Expensify/Expensify.cash/pull/3511

It's a testament to how much faster Onyx is that we're seeing regressions like this 😄 .

[2021-06-10 14:53] isagoico commented on #3450
@roryabraham haven't added the DB label yet since there haven't been any changes

[2021-06-10 15:09] kidroca commented on #3485
Now that I look at it again, we might have a problem with the new `Onyx.set` - this was not an existing problem.
Before `Onyx.set` used to call `keysChanged` in the `.then` block, even if the write happens instantly promises are resolved on the next tick and `didLoadPersistedRequests` would always be set by that time

Now `Onyx.set` is calling `keysChnaged` right away, which means that code "stops

[2021-06-10 15:50] TomatoToaster commented on #3485
I'm thinking it would actually be better to avoid situations like the above by explicitly avoiding extra loops. We have a weird scenario here (or is this actually common in Expesnsify.cash?) where we're calling the set within the connect's callback that's causing the infinite loop. Even if `keysChanged` happened in a promise, it might get called an extra time more than it's needed right?

I think

[2021-06-10 15:52] mallenexpensify commented on #2180
@Jag96 Should I plan to pay @tugbadogan on June 15th for this?

[2021-06-10 15:52] roryabraham commented on #3450
@isagoico I'm investigating why there haven't been any changes here – there have been PRs merged since this was unlocked, which should update this issue.

[2021-06-10 15:54] isagoico commented on #3450
Oh y yeah I found it really weird that no changes were disolayed. Let me know when we can start QA.

[2021-06-10 15:55] deetergp commented on #3272
@mallenexpensify I think we have enough to move forward with hiring @dklymenk.

[2021-06-10 15:58] mallenexpensify commented on #3381
Posted at $2000 https://www.upwork.com/jobs/~01953cb695d659063b

[2021-06-10 16:01] roryabraham commented on #3450
Looks like CP's may have broken the normal deploy workflow in an unexpected way – [this version-bump PR](https://github.com/Expensify/Expensify.cash/pull/3506/files) includes changes that it should not, and has merge conflicts in the normal version-bump files

[2021-06-10 16:09] kidroca commented on #3485
Yes, the fix is good it should stay whatever is decided

So far everything worked without expectation of how long it would take for `set` to finally call `keysChaged` and I think it should stay that way - components don't subscribe to `set` or `merge` they subscribe to receive updates at some point

My concern is only that now `set` is blocking whatever happens on screen as it has a lot of synchro

[2021-06-10 16:11] kidroca commented on #3485
Another options would be to use the InteractionsManager and run the `keysChanged` after interactions are complete - this way hopefully are not blocking UI

[2021-06-10 16:19] bfitzexpensify commented on #2447
Thanks @tugbadogan! Once 7 days have passed after merging (which was 2 days ago) without any regressions, I'll finalise the contract and pay it out on Upwork.

[2021-06-10 16:27] #3503 closed

[2021-06-10 16:28] trjExpensify commented on #3354
I think the intention is that they should, as per [this issue](https://github.com/Expensify/Expensify.cash/issues/3055) to make the button styles consistent. CC: @NikkiWines

[2021-06-10 16:45] trjExpensify commented on #3488
@Luke9389 is largely OoO today, so we're repulling the deploy blocker assignment trigger given that it's an hourly deploy blocker that's blocking N5.

[2021-06-10 16:46] OSBotify commented on #3488
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-10 16:46] OSBotify commented on #3488
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-10 16:48] Julesssss commented on #3488
As [Tom mentioned](https://github.com/Expensify/Expensify.cash/issues/3488#issuecomment-858778535), we need to re-roll to find someone who can take a look at this today.

[2021-06-10 16:48] ctkochan22 commented on #3172
I don't _think_ this is a daily. As its not blocking anything. But let me know otherwise

[2021-06-10 16:48] OSBotify commented on #3488
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-10 16:48] ctkochan22 commented on #2545
@mallenexpensify Shoot sorry. Yes I think so.

[2021-06-10 16:50] trjExpensify commented on #3488
Bingo! :)

[2021-06-10 17:00] NikkiWines commented on #3354
Yeah the button style should be consistent but I agree let's defer to @Expensify/design for this and see if we need to make tweaks.

[2021-06-10 17:22] iwiznia opened #3518 "Add a language/location selector"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

# Problem

It's not currently possible to change the locale in the Electron app, which makes it impossible for people using the app to test the spanish translations.

##

[2021-06-10 17:24] marcaaron commented on #3485
Just catching up here, but nice detective work everyone! I hear where you are coming from @TomatoToaster, but I think in general we should first try to preserve the original behavior we had when it's something low level like this and could potentially affect many things.

Since the entire app has been built on the assumption that subscribers are notified async I think we should maybe continue this

[2021-06-10 17:28] marcaaron commented on #3485
There's no real problem with the original code - _if_ we can assume things are asynchronous. The order doesn't make any difference in that case. But maybe it's a little confusing if you're not familiar with how Onyx will work.

Also, separately, I think there is maybe a strong case to discuss a future where Onyx isn't an asynchronous system now that we have the local caching stuff. But probably re

[2021-06-10 17:36] iwiznia commented on #3102
Found a regression [here](https://github.com/Expensify/Expensify.cash/pull/3351#issuecomment-858823796), please hold on payment

[2021-06-10 17:37] trjExpensify commented on #3349
Here you go! https://www.upwork.com/jobs/~012a19716ca69fca51

[2021-06-10 18:11] stephanieelliott commented on #2967
I didn't see an application, so went ahead and invited you to the job on Upwork @parasharrajat! Please accept when you are able.

[2021-06-10 18:13] stephanieelliott commented on #2938
Hey @pranshuchittora, there were changes requested on the PR you submitted. Can you please address these ASAP? Thanks 😃

[2021-06-10 18:16] stitesExpensify commented on #3512
Checked out the commit before bumping the [react-native-web version](https://github.com/Expensify/Expensify.cash/pull/3215) and this bug no longer exists. I'm not sure why that is though

[2021-06-10 18:29] marcaaron commented on #3512
I am going to need to have someone else look into this for me for `#focus`. I'd suggest we maybe create a new issue and move forward with the deploy.

[2021-06-10 18:37] kidroca commented on #3485
I think the code should still be updated, since `persistedRequests` is an array this check should account for it being empty

https://github.com/Expensify/Expensify.cash/blob/533a0230986b3724397e1152f7ce70a2edb2569a/src/libs/Network.js#L35-L37

Also why not disconnect from Onyx and release this connection - nothing would ever set `didLoadPersistedRequests` to `false`

[2021-06-10 18:42] stitesExpensify commented on #3512
Removing deploy blocker label and adding external

[2021-06-10 18:45] stitesExpensify commented on #3450
Checking off https://github.com/Expensify/Expensify.cash/issues/3512 in the deploy blocker section, we're not going to block on it.

[2021-06-10 18:49] iwiznia commented on #3476
I like Ted's approach. Would one option be something like `send to` which in mobile would show your installed apps?

[2021-06-10 18:50] iwiznia commented on #3476
@chiragsalian you should not unassign this directly, if it is possible for contributors to work on it, you should add the `External` label.

[2021-06-10 18:59] marcaaron commented on #3485
sure, it could be improved (like many things) - but those issues are not causing an infinite loop 🙃

[2021-06-10 19:12] pecanoro commented on #3488
Sorry guys, but I definetely can't take care either, cash bonus payroll project is extremely urgent and have a super tight deadline 😢

[2021-06-10 19:12] pecanoro commented on #3488
Can we use the demolition label here? It has really clear reproduction steps

[2021-06-10 19:16] arielgreen commented on #3512
I'm a little unclear, should I still get this up on Upwork?

[2021-06-10 19:18] iwiznia commented on #3512
I don't know. IMO either we should revert the PR that broke this or fix it. @stitesExpensify why do you say we can't revert the PR that broke this?

[2021-06-10 19:25] trjExpensify commented on #3488
Yep, cool. As long as someone takes it, as it is preventing us from being able to ship N5. 👍

[2021-06-10 19:35] tugbadogan commented on #2447
@bfitzexpensify I checked Upwork and it looks like the milestone is automatically closed by Upwork.

[2021-06-10 19:48] puneetlath commented on #2857
Hm, I can't recreate it anymore either actually. I'm good with closing it.

[2021-06-10 19:48] #2857 closed

[2021-06-10 19:53] mountiny commented on #3309
Update: Waiting for a PR approval.

[2021-06-10 20:19] dklymenk opened #3524 "Delete comment - Deleted comment is not synchronized between other clients"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Deleting a comment should delete it on other participants' screens too

## Actual Result:
Deleting a comment doesn't cause any visible update on any

[2021-06-10 20:20] alex-mechler commented on #3488
Okay, found the root cause. When we go to sign out, we clean up the logins we create, and [delete it here](https://github.com/Expensify/Expensify.cash/blob/655ba416d552d5c88e57977a6e0165fb7eb7ab58/src/libs/actions/Session.js#L69). However, since we have sped up onyx, we now delete our auth token before we fire this request, causing it to fail, and [lock the network](https://github.com/Expensify/Ex

[2021-06-10 20:21] dklymenk commented on #3524
Sadly, I do not have a proposal for this issue, since I believe it is caused by a response from BE.

Here are my findings that lead me to believe it's a BE issue.

The main reason the message is not updated is because `sequenceNumber` passed to `updateReportActionMessage` function is always equal to `-1`. This causes the function to create new `reportAction` with key `-1` instead of updating text

[2021-06-10 21:26] roryabraham commented on #3488
Oops, @kidroca made Onyx _too_ fast 🙃

[2021-06-10 21:37] Jag96 commented on #2180
@mallenexpensify yes, updated the title 👍

[2021-06-10 21:40] roryabraham commented on #3450
Okay, staging deploys are fixed now, but I'm going to have to manually update the checklist. It's missing PRs, but I have a PR [here](https://github.com/Expensify/Expensify.cash/pull/3173) that should make it more robust and self-correcting in the future.

[2021-06-10 21:51] kidroca commented on #3488
I think we have the same problem we concluded here: https://github.com/Expensify/Expensify.cash/issues/3485#issuecomment-858705481

And maybe it would be best to move the call the `keysChanged` to the next tick as suggested in the link above
This way you won't have to change the code here and on other places suffering from this speed up

cc @marcaaron

[2021-06-10 21:53] dklymenk commented on #3293
@NikkiWines I have submitted a PR for this issue #3526

There are a few issues I have run into on the way. They made me alter my original proposal in a few ways, so I thought I need to list them:
1. The callback for `Onyx.connect` gets called twice and sometimes even three times for me. I tried my best to figure out the cause, but after debugging `react-native-onyx` code I couldn't find the issue.

[2021-06-10 22:20] isagoico commented on #3450
Starting QA

[2021-06-10 22:25] roryabraham commented on #3450
Adding the following PRs:

- https://github.com/Expensify/Expensify.cash/pull/3332
- https://github.com/Expensify/Expensify.cash/pull/3481
- https://github.com/Expensify/Expensify.cash/pull/3483
- https://github.com/Expensify/Expensify.cash/pull/3486
- https://github.com/Expensify/Expensify.cash/pull/3491
- https://github.com/Expensify/Expensify.cash/pull/3493
- https://github.com/Expensify/Expens

[2021-06-10 22:36] kidroca commented on #3402
Closing this as all but one issue were resolved

[2021-06-10 22:36] #3402 closed

[2021-06-10 22:45] greg-schroeder commented on #3518
Hi @iwiznia could we add a short problem statement to this issue that explains why it's valuable to add this now? It seems like the issue just says we want to do it, but it's unclear why or what problem it solves. Perhaps adding something about what @JmillsExpensify said above to the OP would be a good start.

[2021-06-10 22:47] roryabraham commented on #3450
So @isagoico and I discussed this 1:1 a bit, but I just wanted to make a note of it here. Since Applause is starting QA so late in the day, @isagoico didn't want to guarantee 100% accuracy. So we aren't going to run a production deploy today, but we still wanted to get a QA cycle in so that we'll know ASAP if there are any new deploy blockers or regressions that need to be addressed.

[2021-06-10 22:54] alex-mechler commented on #3488
Alright, so I have a [fix PR](https://github.com/Expensify/Expensify.cash/pull/3535). It has uncovered some other bugs, which I think are related to the cache that was recently added.

1. When signing into an account after the signout, the loading spinner is _not_ cleared on the password page. `account.loading` is set to false in local storage at this time.
2. After signing into the account after

[2021-06-10 23:03] isagoico commented on #3503
Confirmed the app is not crashing on build 1.0.67-0

[2021-06-11 00:06] kavimuru opened #3536 "App freezes after reopening it from background after a while"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
App doesn't freeze and able to view the chat

## Actual Result:
App freezes

## Action Performed:
1. Launch the app
2. Log in with any account
3. Put

[2021-06-11 00:15] roryabraham commented on #3512
I think I agree with @stitesExpensify on this one – we probably don't want to revert https://github.com/Expensify/Expensify.cash/pull/3215. We won't be doing a prod deploy today anyways, so we have tomorrow to try and get this fixed, so that would be ideal. But otherwise I think we should just :shipit: and not treat this as a deploy blocker.

[2021-06-11 00:17] kavimuru opened #3537 "After logging in, chat is displayed instead of LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
After logging in, user is taken to the LHN

## Actual Result:
After logging in, user is taken to a random chat

## Action Performed:
1. Launch the ap

[2021-06-11 00:25] Christinadobrzyn commented on #2258
Should we go back to this proposal? Upwork post: https://www.upwork.com/jobs/~01f6625d382eb3f5db

[2021-06-11 00:37] kavimuru opened #3538 "Android - LHN - Bottom of messages are cutoff"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
The text and emojis in messages are properly displayed

## Actual Result:
The bottom of the messages are cut off

## Action Performed:
1. Open app an

[2021-06-11 00:38] trjExpensify commented on #3512
DB's stay internal because they are `hourly` priority (unless that's changed), so I'm removing the label for the time being.

I agree with Rory, let's use tomorrow to assess what the fix is for this. If it's straightforward, let's do it and avoid shipping a regression that has a pretty big impact on everyone's productivity in E.cash. If we end up needing more time, then I think we'll need to remov

[2021-06-11 01:23] arielgreen commented on #2973
Raised price, [posted](https://expensify.slack.com/archives/C01GTK53T8Q/p1623374554190200) in #expensify-open-source.

[2021-06-11 02:14] chiragsalian commented on #2662
Sure but lets just keep two sizes i.e., the normal one we use now and for a smaller width screen we change the emoji size to something smaller. Would that work?

[2021-06-11 03:04] jliexpensify commented on #3513
Posted to Upworks: https://www.upwork.com/ab/applicants/1403186180271632384/job-details

[2021-06-11 03:26] jliexpensify opened #3539 "Expensify.cash - Make IOU preview component tappable"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Job:

Make the IOU preview component tappable, so that any user seeing the component can tap it to view that IOU's details. Please see an example below of what should

[2021-06-11 06:52] Jag96 opened #3542 "Push Notification not received if app is backgrounded"
Likely caused by https://github.com/Expensify/Expensify.cash/pull/3508 (QA comment was [here](https://github.com/Expensify/Expensify.cash/pull/3508#issuecomment-859174512)). I tried changing the `urbanairship-react-native` version to 10.2 (was originally at 10.0) but doing so causes https://github.com/Expensify/Expensify.cash/issues/3503 to happen again. Not sure what the issue is here, ideally so

[2021-06-11 06:52] OSBotify commented on #3542
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-11 07:33] MariaHCD commented on #3542
@sketchydroide and @Julesssss would be better equipped to tackle this one quickly 🙌🏼

[2021-06-11 07:43] laurenreidexpensify commented on #2670
Just updating for visibility - PR still in progress, currently waiting on review from @TomatoToaster https://github.com/Expensify/expensify-common/pull/385

[2021-06-11 09:09] kidroca commented on #2531
The PR for this issue is ready for review

[2021-06-11 09:13] Julesssss commented on #3512
I also don't think this should be a deployBlocker. But I will take a look at the issue today to see if there's a simple fix.

[2021-06-11 09:20] kidroca commented on #2719
@tgolen
Unfortunately the updating the libraries did not resolve the issue, and `setTimeout` is still required: https://github.com/Expensify/Expensify.cash/pull/3420/files#r649441003

I've spent quite some time searching for a fix and trying different things and the only possible fix was
to leave the modal (Create Menu: Take Photo | Gallery | Documents) open and only close it after image/document

[2021-06-11 09:21] sketchydroide commented on #3542
I can take a look, but my availability today is a bit sketchy, so I might need to push it to someone else later if I don't figure it out quickly.

[2021-06-11 09:25] kidroca commented on #2719
I can try to dig deeper and trace this to the core, but it could take me days and I might still not be able to solve it
If you still want me to try, please offer me a job through Upwork, but I want to make it clear that I may not be able to solve this issue

[2021-06-11 10:41] OSBotify commented on #3536
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-11 10:41] isagoico commented on #3536
Added the deploy blocker for this one, I'm pretty sure I didn't see this issue on the last regression.

[2021-06-11 10:50] isagoico opened #3543 "[HOLD for payment 21 June] iOS - Attachment picker flickers and unable to select for choose document"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Attachment picker displayed and user able to select attachment

## Actual Result:
Attachment picker flickers and unable to choose any document

## Ac

[2021-06-11 10:51] OSBotify commented on #3543
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-11 11:10] #3539 closed

[2021-06-11 11:11] isagoico opened #3545 "Tapping on Edit Message scrolls down to the bottom to the compose box"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Describe what you think should've happened

## Expected result:
User stays in the same position and is able to edit the message

## Actual result:
Ta

[2021-06-11 11:12] OSBotify commented on #3545
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-11 11:12] isagoico commented on #3545
Added the deploy blocker label. We didn't experience this issue on last regression.

[2021-06-11 11:16] isagoico commented on #3542
This is also reproducible in iOS app. Editing title.

[2021-06-11 11:22] isagoico commented on #3450
**Regression** is finished.
Issues found today:
1. https://github.com/Expensify/Expensify.cash/issues/3543
2. https://github.com/Expensify/Expensify.cash/issues/3536
3. https://github.com/Expensify/Expensify.cash/issues/3538
4. https://github.com/Expensify/Expensify.cash/issues/3537

**PRs** are finished too:
2 comments added:

1. https://github.com/Expensify/Expensify.cash/pull/3508#issuecomment-

[2021-06-11 11:27] Julesssss commented on #3542
The UA React Native module 11.0.0 release [contains breaking changes](https://github.com/urbanairship/react-native-module/releases/tag/11.0.0) apparently. Surely that's what we're seeing here?

[2021-06-11 12:45] trjExpensify commented on #3490
Posted on Upwork: https://www.upwork.com/jobs/~018fcbbe0a49a283cc

[2021-06-11 13:01] Julesssss commented on #3512
No luck. I [added some notes](https://github.com/Expensify/Expensify.cash/pull/3215#issuecomment-859564330) on the PR which introduced this library change. Moving onto other deploy blockers.

[2021-06-11 13:02] isagoico opened #3546 "Header bounces when fresh loading the app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Header should not bounce when fresh loading the app.

## Actual Result:
Header bounces when fresh loading the app.

## Action Performed:
1. Force Clo

[2021-06-11 13:09] Julesssss commented on #3545
Hey @isabelastisser, do you know if is this Android only or also occurring on iOS?

[2021-06-11 13:14] Julesssss commented on #3536
CC @kidroca

I believe this was introduced by the Onyx changes. However, while I have seen this occur it's not reproducible every time for me on `1.0.67.-0`.

[2021-06-11 13:17] sketchydroide commented on #3542
Thanks @isagoico that makes more sense.
No idea what breaking changes they mean, they are incredibly vague on this. I assume it's the fact that the pusher events are different, and will now trigger while the app is in the background, I think it's returning early somewhere [here](https://github.com/Expensify/Expensify.cash/blob/a51f40a71ad1e98654a812bc7ddafe9a1f3257e1/src/libs/Notification/PushNoti

[2021-06-11 13:52] Julesssss commented on #3490
Holding on the export for a moment while we confirm this is a desired change.

[2021-06-11 13:57] Julesssss commented on #3490
This change makes sense to me, but I think @marcaaron might have some further thoughts?

[2021-06-11 14:08] sketchydroide commented on #3542
@roryabraham do you have any ideas about this?

[2021-06-11 14:10] trjExpensify commented on #3545
I can reproduce this on iOS `v1.0.67-0`.

https://user-images.githubusercontent.com/16232057/121699730-184e0100-cac7-11eb-8f98-c1be7046f606.MP4

[2021-06-11 14:35] bfitzexpensify commented on #2447
@tugbadogan — it does look that way. It looks like the payment was automatically sent — can you confirm receipt?

[2021-06-11 14:47] Julesssss commented on #3543
The [`react-native-web` update ](https://github.com/Expensify/Expensify.cash/pull/3215)seems to have introduced this regression.

[2021-06-11 14:55] mallenexpensify commented on #3272
Hired @dklymenk in Upwork (@kadiealexander is out of office, leaving it assigned to you as Contributor Manager), please submit a PR for @deetergp to review

[2021-06-11 14:56] parasharrajat commented on #3543
@Julesssss React-native-web does not affect IOS. It's only active on the web.

[2021-06-11 14:58] mallenexpensify commented on #2902
Any luck with testing @parasharrajat ?

[2021-06-11 14:59] parasharrajat commented on #2902
Sorry, Checking it now @mallenexpensify

[2021-06-11 15:15] Julesssss commented on #3543
I agree and that makes sense, but perhaps one of the other code changes in that PR introduced the issue?

I can't think of any other explanation for why the issue is not reproducible on `0c8dd5a54`, but is on `e75416eb9`.

https://user-images.githubusercontent.com/10736861/121709122-22283200-cad0-11eb-849e-8d82ae4dde32.MP4

[2021-06-11 15:19] parasharrajat commented on #2902
@mallenexpensify Closing it looks like it's not happening anymore.

[2021-06-11 15:19] #2902 closed

[2021-06-11 15:20] parasharrajat commented on #3543
I mostly believe it's due to react version upgrade.

[2021-06-11 15:31] Julesssss commented on #3488
@kidroca maybe this is the best path forward, would you be able to raise a PR with this change so we can discuss it further? Do you think that would resolve the issues raised by Alex above?

[2021-06-11 15:43] puneetlath commented on #3524
Nice find @dklymenk! I was able to reproduce this as well.

[2021-06-11 15:59] Julesssss commented on #3450
Resolved #3321 as the fix has been CP'd to staging.

[2021-06-11 16:02] Julesssss commented on #3482
Removing the DeployBlocker label

[2021-06-11 16:09] francoisl commented on #3545
In a 1:1 right now, but I can take a look a bit later, otherwise anyone feel free to start digging and I'm happy to help later too.

[2021-06-11 16:11] Julesssss commented on #3450
Also #3482 & #3485

[2021-06-11 16:16] Julesssss commented on #3488
Hey @alex-mechler. It looks like this might be the best path forward to unblocking the N5 release. Would you mind pushing this change so we can investigate a fix to the hopefully final issue of the Magic sign in appearing? Thanks 🙇‍♂️

[2021-06-11 16:17] alex-mechler commented on #3488
Sure, I can take care of that

[2021-06-11 16:17] deetergp commented on #3272
The PR should get randomly assigned to a reviewer, so assigning it to me to review would not be the correct course of action in general. I'm also out of the office all next week, so it would specifically not be helpful to get a speedy review. 😅

[2021-06-11 16:18] parasharrajat commented on #3537
### Proposal
1. we have updated the `react-navigation ` lib to v6 which does not have `openByDefault` prop. So to fix this, we need to add a `defaultStatus` as
[code]
in https://github.com/Expensify/Expensify.cash/blob/3284a15cb0bef712dc44828905e26943ed5491f8/src/libs/Navigation/AppNavigator/MainDrawerNavigator.js#L54

[2021-06-11 16:22] Julesssss commented on #3450
Hey @roryabraham @isagoico. I think we need to keep the LockCashDeploys label attached to this don't we? Else additional PRs will be included as part of this release and might cause further deployBlockers to occur?

[2021-06-11 16:23] roryabraham commented on #2258
@Christinadobrzyn I'm not seeing any details related to this issue in that Upwork post.

at once, and be done with it. This feels like it's massively scope-creeped.

It's not really clear to me what you're suggesting – the original proposal in my opinion was a bit half-baked and didn't have a clear answers to a number of questions around how this feature would really work. If we want to reduce the

[2021-06-11 16:26] isagoico commented on #3450
mmm we usually remove the lock label after finishing regression (which it was finished earlier today) if there are deploy blockers during QA, I actually thought I had removed the label earlier today but looks like I didn't 🤦. On my 1:1 with @roryabraham he mentioned that there was not going to be a production deploy but didn't say anything about the lock label.

[2021-06-11 16:32] roryabraham commented on #3450
@isagoico, that was my mistake. I think we wanted to leave the lock label to prevent new PRs from being added to the release. Unfortunately we can't undo it at this point, and adding the label back will cause `main` to be deployed to `staging`.

Fortunately, we now have the ability to CP fixes to staging, so once the `LockCashDeploys` is next added to this issue, let's leave it there until we have

[2021-06-11 16:36] alex-mechler commented on #3488
So with that fix in Onyx, issue 2 (After signing into the account after the signout, You are brought to /r/, with no report ID) still exists after signing out and then back into a new account. `currentlyViewedReportID` is `NaN` in Local Storage.

[2021-06-11 16:37] mallenexpensify commented on #3272
Thanks @deetergp , had wires crossed.

[2021-06-11 16:37] deetergp commented on #3272
No worries @mallenexpensify. And never fear, once we get used to this flow, it will change! 😂

[2021-06-11 16:43] roryabraham commented on #3542
There is some extra context about the breaking changes [here](https://expensify.slack.com/archives/C01RJ1RCK8D/p1616174884001300) ... they were made at our request, so that push notifications can wake a closed Android app and execute JS.

[2021-06-11 16:45] michaelhaxhiu commented on #3102
Awaiting your thumbs up to pay the contributor @iwiznia

[2021-06-11 16:49] marcaaron commented on #3543
@Julesssss did you happen to test changing the react version to see if it fixed it?

[2021-06-11 16:51] parasharrajat commented on #3545
@Julesssss
Can I propose a fix here?

The issue is this line https://github.com/Expensify/Expensify.cash/blob/3284a15cb0bef712dc44828905e26943ed5491f8/src/pages/home/report/ReportActionsView.js#L110.

But this is necessary. So we should add a check in the event listener that when the main ReportActionComposer is focused only then `scrolltoBottom`.

But now the question is how we will get the focus

[2021-06-11 16:58] roryabraham commented on #3450
Manually added the following PRs which were missing from this checklist:

- https://github.com/Expensify/Expensify.cash/pull/3459
- https://github.com/Expensify/Expensify.cash/pull/3514
- https://github.com/Expensify/Expensify.cash/pull/3525
- https://github.com/Expensify/Expensify.cash/pull/3541

[2021-06-11 17:01] sketchydroide commented on #3542
@roryabraham so do you think that is responsible for this issue `Push Notification not received if app is backgrounded` I feel that they might now be handled in a different way (or all are handled) and for that reason not shown, is there a specific type of notification that we want to handle, if so can we filter it out, and show all the others?

[2021-06-11 17:08] marcaaron commented on #3490
I saw this go to Upwork, but unsure if it's even a problem...

@iwiznia what steps did you take to verify this?

[2021-06-11 17:11] Julesssss commented on #3543
Nope, but I think that is a likely fix. Perhaps it would be better to remove just that library, but honestly, I think that will take longer as I would need to work out which changes are relevant. Realistically we'll need to revert the full PR.

Also I wasn't clear, but by 'The react-native-web update' I meant the PR, not that specific library.

[2021-06-11 17:15] strepanier03 commented on #3542
Not sure if it's still needed but triaging this now.

[2021-06-11 17:17] Julesssss commented on #3545
That sounds great to me @parasharrajat. Thanks for taking a look!

We'll also remove the deployBlocker here as it's not critical enough to block our release. Let's get an UpWork issue created for you too.

[2021-06-11 17:18] Julesssss commented on #3450
#3545 was also checked off as we no longer think it needs to block the release.

[2021-06-11 17:28] johnmlee101 commented on #3355
My guess is there's an invisible component blocking the UI component.

[2021-06-11 17:37] marcaaron commented on #3543
Which library?

[2021-06-11 17:40] roryabraham commented on #3543
I actually think that https://github.com/Expensify/Expensify.cash/pull/3446 is more likely responsible for this issue

[2021-06-11 17:42] sketchydroide commented on #3542
between trying to reproduce it myself (and failing) and trying to understand what was broken, I haven't been able to do much about this, if someone else has any ideas please feel to take it, otherwise I'll get back at this on Monday.

[2021-06-11 17:44] roryabraham commented on #3543
@isagoico do you know what iOS version was used by the tester here?

[2021-06-11 17:48] Julesssss commented on #3543
@roryabraham I reproduced on iOS 11

` react-native-web`

[2021-06-11 17:49] trjExpensify commented on #3490
Yeah, that was me. The `external` label was added and I was ~the chosen one~ assigned to get it over to Upwork. Wasn't aware we were still debating doing it or not. I can pull it on Monday if you guys decide to park this.

[2021-06-11 17:49] iwiznia commented on #3518
Done

[2021-06-11 17:51] marcaaron commented on #3543
Ah no, we can't remove `react-native-web`. Just confirmed document picker works on `main` + `react-native:0.63.4` + simulator

[2021-06-11 17:55] Julesssss commented on #3488
PR looks good to me. As discussed, I think the remaining redirect to `/r` issue is probably not worth blocking the release over.

[2021-06-11 17:57] roryabraham commented on #3543
I just confirmed that the document picker works on `main` + `react-native:0.63.4` + `react-native-document-picker:5.1.0`

[2021-06-11 17:58] marcaaron commented on #3543
FWIW, it also works fine for me with `0.64.1` 😫

[2021-06-11 18:00] roryabraham commented on #3543
I was able to reproduce w/ iOS 14, `0.64.1` + `react-native-document-picker:4.0.0`

[2021-06-11 18:02] marcaaron commented on #3543
testing on iOS 14.5

[2021-06-11 18:02] greg-schroeder commented on #3518
Nice, thanks!

[2021-06-11 18:03] trjExpensify commented on #3512
👋 @HorusGoul found the fix in [this thread](https://expensify.slack.com/archives/C03TQ48KC/p1623429811172500?thread_ts=1623429012.170300&cid=C03TQ48KC). Over to you, @roryabraham!

[2021-06-11 18:06] NikkiWines commented on #3537
That looks good, confirmed on the [docs](https://reactnavigation.org/docs/6.x/drawer-navigator) that `openByDefault` is no longer used. @jboniface you're good to hire @parasharrajat for this one

[2021-06-11 18:06] Julesssss commented on #3543
Is anyone able to test a physical device? I have a horrible and hopefully incorrect feeling that a previous attachment bug only affected physical devices.

[2021-06-11 18:08] iwiznia commented on #3102
This is the new PR https://github.com/Expensify/Expensify.cash/pull/3525 and it was already merged.

[2021-06-11 18:10] iwiznia commented on #3490
I inferred it from [this code](https://github.com/Expensify/react-native-onyx/pull/81/files#diff-146c57cda221f8f5ee5c808eee0c6692b02c4ac2b8818d0104896a04be78e78aR475) in which we set the key to `null` when we remove it from onyx.

[2021-06-11 18:15] roryabraham commented on #3543
I can test on a physical iPhone, but not Android.

[2021-06-11 18:18] parasharrajat commented on #3545
No worries, But is PR is up here https://github.com/Expensify/Expensify.cash/pull/3551. Thanks

[2021-06-11 18:35] marcaaron commented on #3543
Tested Android on my Galaxy S8 works great

[2021-06-11 18:40] roryabraham commented on #3450
https://github.com/Expensify/Expensify.cash/pull/3550 is being CP'd to staging, should fix https://github.com/Expensify/Expensify.cash/issues/3543 in `1.0.68-1` 🤞

[2021-06-11 18:51] marcaaron commented on #3490
Ok so to clarify what is actually the issue?

Here's everything I know about this...

- We _can_ explicitly set a key to be `null` just fine
- We can also retrieve it with `Onyx.connect()` and it will return `null`
- All `null` values are turned into `undefined` values when passing through `withOnyx()` this is because only `undefined` values will trigger `defaultProps` and this is generally more v

[2021-06-11 19:02] roryabraham commented on #3512
Thanks to @HorusGoul the PR to fix this is [ready for review](https://github.com/Expensify/Expensify.cash/pull/3555)

[2021-06-11 19:12] chiragsalian commented on #3536
Unassigning myself since i'm OOO today and cant take a look at it. Posted in [engg-chat](https://expensify.slack.com/archives/C03TQ48KC/p1623438701208000) to hopefully get someone else to help out.

[2021-06-11 19:33] #3512 closed

[2021-06-11 19:40] alex-mechler commented on #3488
PR is up, follow up issue for the `/r/` [bug here](https://github.com/Expensify/Expensify/issues/167034)

[2021-06-11 19:48] trjExpensify opened #3559 "When signing into an account after signing out, you are brought to /r/ instead of a chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
You are brought to a chat or LHN

## Actual Result:
You are brought to `/r/` (web / desktop), or an infinite spinner (ios / android / mweb)

## Actio

[2021-06-11 19:50] kavimuru opened #3560 "Web - IOU - Previously used currency appears for a brief moment for request/ split money"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Regardless of the previously selected currency, the currency should match user's IP location

## Actual Result:
Previously selected currency flashes

[2021-06-11 19:54] rushatgabhane commented on #3455
This issue occurs whenever react-native's Linking is used within a Button, Pressable etc. Doesn't happen for Text.
This is reproducible outside E.cash. That makes me believe this is an issue of React-Native.

[2021-06-11 20:02] #3488 closed

[2021-06-11 20:04] tugbadogan commented on #2447
@bfitzexpensify Yes, I've received the payment automatically.

[2021-06-11 20:04] michaelhaxhiu commented on #3455
Oh wow interesting~ In that case, I feel like we should stick with the React-native standard and wait on them to fix it. It seems minor to me, especially since there's a solid workaround.

@Jag96 lmk if you agree with this angle or want to continue with fixing this.

Either way @rushatgabhane we appreciate you filing this! We love when contributors discover and file jobs. Keep it up!

[2021-06-11 20:05] tugbadogan commented on #2180
@mallenexpensify It looks like Upwork approved the milestone and paid me automatically after some time passed.

[2021-06-11 20:13] rushatgabhane commented on #3455
Thanks! Would love to be proved wrong tho.

[2021-06-11 20:18] michaelhaxhiu commented on #3455
I'll raise it in #expensify-open-source too, it's a perfect forum for input on this.

[2021-06-11 20:28] parasharrajat commented on #3455
@michaelhaxhiu I would like to fix this.
1. For the web, rendering a Text or view , result in a div to be rendered via `react-native-web`. but Ctrl+click is behaviour for `a`.
So to fix this.
we need to use the `accessibilityRole` with value 'link' which would be converted to `a` on web. Now to make it work properly we have to use the href attribute which would the url which are opening using `Lin

[2021-06-11 20:34] Jag96 commented on #3339
Reopening to keep track of this until payment

[2021-06-11 20:35] parasharrajat commented on #3455
This is reproducible outside E.cash, and that makes me think it's a problem with react-native.

I always remember a mantra that react-native was never created for the web and in the case of the web, it's like a child who needs a guardian `react-native-web`. So if you find an issue on the web, Shout on 'react-native-web' and if it cries and blames `react-native` then go for `react-native`.

[2021-06-11 20:39] Jag96 commented on #3455
Could this be fixed by upgrading react-native-web instead? https://github.com/necolas/react-native-web/issues/2000

[2021-06-11 20:46] michaelhaxhiu commented on #3455
Slack convo in #expensify-open-source happening [**here**](https://expensify.slack.com/archives/C01GTK53T8Q/p1623442736231300).

[2021-06-11 20:57] michaelhaxhiu commented on #3455
I like that idea @Jag96. Is there a gh for upgrading to react-native web yet? I'd like to link it here.

[2021-06-11 20:58] roryabraham commented on #3536
I wonder if this was fixed in https://github.com/Expensify/Expensify.cash/pull/3535/files. Going to see if I can reproduce this on `main`

[2021-06-11 21:06] Jag96 commented on #3455
Looking at https://expensify.slack.com/archives/C01GTK53T8Q/p1623444561234500?thread_ts=1623442736.231300&cid=C01GTK53T8Q and https://github.com/Expensify/Expensify.cash/pull/3215, it seems that updating to 16 has some changes that will cause problems, so I suggest we hold off on updating this until [this discussion](https://github.com/Expensify/Expensify.cash/pull/3215#issuecomment-859644137) is

[2021-06-11 21:07] MitchExpensify opened #3562 "Create a new settings page for configuring the people using a workspace"
Not actually making his external after chatting with Marc

[2021-06-11 21:08] roryabraham commented on #3536
Not able to reproduce this on iOS any more.

[2021-06-11 21:17] #3562 closed

[2021-06-11 21:29] roryabraham commented on #3536
Yeah, I'm not able to reproduce this on Android either.

[2021-06-11 21:29] roryabraham commented on #3450
CP'ing https://github.com/Expensify/Expensify.cash/pull/3535 to staging: should fix https://github.com/Expensify/Expensify.cash/issues/3488 and https://github.com/Expensify/Expensify.cash/issues/3536 in `1.0.68-2` 🤞

[2021-06-11 21:34] arielgreen commented on #3100
Reopening, will close again upon payment June 16th.

[2021-06-11 21:35] MitchExpensify opened #3565 "Add Bank Account Logos + display them in the Plaid account selection screen"
We currently display a list of accounts associated with an institution when getting the bank accounts from Plaid. We need to add the bank account logo for each and display them in the Plaid account selection screen.

In `Web-Secure` we use the `metadata.institution.name` to display a logo.
In `Expensify.cash `we aren't showing these logos at all and will want to on this page `BankAccountStepNewPag

[2021-06-11 21:39] roryabraham commented on #3450
Build for `1.0.63-3` is running [here](https://github.com/Expensify/Expensify.cash/actions/runs/929891117) ... @isagoico when it's done can you please have your testers retest:

- https://github.com/Expensify/Expensify.cash/issues/3488
- https://github.com/Expensify/Expensify.cash/issues/3536
- https://github.com/Expensify/Expensify.cash/issues/3543

🙏

[2021-06-11 22:05] Santhosh-Sellavel commented on #2973
Hi,

I propose we remove the following in textInput style

` paddingTop: 10,
   paddingBottom: 10`

   since we use
   `textAlignVertical: 'center',`

   there won't be any alignment Issue also.

   After removing those the component works as expected.

   I was able to reproduce the bug on the simulator with version iOS 13.7. On the latest version, iOS 14.5 the issue was unable to reproduce.

[2021-06-11 22:10] #3017 closed

[2021-06-11 22:10] #3309 closed

[2021-06-11 22:11] MitchExpensify opened #3566 "Create a new settings page for configuring the Expensify Card on a .cash workspace"
We need to create a new settings page for configuring the Expensify Card on a .cash Workspace (http://.../workspace/<policyID>/card). This page will be linked to from the settings page.

- If the user is on a public domain, the “Get Started” button will be hidden and some alternate copy will be shown.

Copy: _"In order to use  the Expensify Card you must use your company's private domain. Go ahead

[2021-06-11 22:21] roryabraham commented on #2258
Curious for input from other Expensifiers here too regarding the `IndexedDB` web API, maybe @AndrewGable, @marcaaron or @cead22?

[2021-06-11 22:21] parasharrajat commented on #3017
Issue resolved but I'm still waiting for the Offer to be sent. :roll_eyes:

[2021-06-11 22:24] parasharrajat commented on #2258
We should not leave the Offline support for this feature. It's better to be planned accordingly and then implemented. We definitely need a way to reference the images for draft messages.

[2021-06-11 22:32] cead22 commented on #2258
I've never used it so I'm not familiar with it

[2021-06-11 22:51] parasharrajat commented on #3565
@marcaaron How can we access this page? I don't see it anywhere on the App.

[2021-06-11 22:56] marcaaron commented on #3565
Sorry I think I made a mistake here and it's actually only possible if we are accessing the staging API so will probably best be handled internally.

[2021-06-11 22:56] #3565 closed

[2021-06-11 23:01] parasharrajat commented on #3566
Questions:
1. What is the public Domain | private domain?
2. I don't see workspaces on the App. Do I need to change some settings to see them? or How can I see that?

[2021-06-11 23:19] roryabraham commented on #3566
#### What is the public Domain | private domain?

This property will soon be present in Onyx, pending [this PR](https://github.com/Expensify/Expensify.cash/pull/3460). However, we use an asynchronous [bedrock](https://bedrockdb.com/) job to determine whether an unknown domain is public or private on the server side. As a result, it is possible that the value may sometimes be missing in Onyx. I bel

[2021-06-11 23:23] marcaaron commented on #3566
Correct not there yet. But no need to put this on hold. We can start by just creating a new route at `/workspace/card` to open a page with the header + button + image. Later when we have the sidebar set up with the options we can combine it all.

[2021-06-11 23:23] parasharrajat commented on #3566
Not it feels complete and Thanks for the answers @roryabraham

[2021-06-11 23:27] mallenexpensify commented on #2545
Thanks @ctkochan22 , in the future, if a contributor can work on an issue apply the `External` issue so it can be posted to Upwork. Adding it now.

[2021-06-11 23:33] mallenexpensify commented on #2902
Thanks for reporting and checking up on it @parasharrajat

[2021-06-11 23:48] parasharrajat commented on #3566
### Proposal(Intrim)
1. We will create a route like `/workspace/card` in Routes.js.
2. We will add the workspace route config in linkingconfig.js here https://github.com/Expensify/Expensify.cash/blob/c5e6da22117ebade5c87137b1e5f3e09f57728a7/src/libs/Navigation/linkingConfig.js#L28
[code]
3. Now will add the Route Screen in the AuthScreen.js like validateLogin page which is not a modal. like
[code]

[2021-06-11 23:48] mallenexpensify commented on #2180
Hi @tugbadogan is this issue the 'exact' same as this one? https://github.com/Expensify/Expensify.cash/issues/2447

The combo of these two has been confusing me for WEEKS

[2021-06-11 23:50] mallenexpensify commented on #2447
I think this issue and https://github.com/Expensify/Expensify.cash/issues/2180 might be the same.  Checking with @tugbadogan in the other issue (so confusing, can't wait for both to be closed)

[2021-06-12 00:17] marcaaron commented on #2258
I think we should just forget about the images in the drafts. It's a nice idea, but if it's significantly easier to save a text draft than an image we should just go with that for now? Seems more important to preserve a draft of text than it is to preserve something queued for upload (that likely already exists on your device). We can always iterate on this later and improve it down the line. Gett

[2021-06-12 00:38] marcaaron commented on #3546
I see this is mentioned to be a regression, but do we have any idea what caused it? Regardless, seems like something that is worth looking into so I think it's a good External issue.

[2021-06-12 01:09] marcaaron commented on #2705
Still waiting for proposals here.

[2021-06-12 03:04] #1517 closed

[2021-06-12 07:13] dklymenk commented on #3559
The issue is caused by a race condition of some kind. The `ReportScreen` in `MainDrawerNavigator` is rendered before the reports are fetched and since `initialParams` for that screen use last accessed report, the screen is rendered with `reportID` param equal to an empty string. This causes all sorts funny stuff like creating `report_NaN`,  `reportActions_NaN` keys in local storage, but most impor

[2021-06-12 10:58] isagoico commented on #3450
**Regression** is finished!
1 issue found today:
1. https://github.com/Expensify/Expensify.cash/issues/3560

**PRs** are finished too
No comments added 🎉

Thanks!

[2021-06-12 11:00] isagoico commented on #3450
https://github.com/Expensify/Expensify.cash/pull/3510 checked off, will be worked on a separate issue

[2021-06-12 11:21] isagoico commented on #3559
We were able to reproduce this. I this is probably a deploy blocker since this is not reproducible in production. @trjExpensify let me know what you think
![image](https://user-images.githubusercontent.com/44479856/121774108-e7ca9d80-cb80-11eb-982c-9890653305e5.png)

[2021-06-12 11:28] isagoico commented on #3450
@roryabraham: While re testing the deploy blockers we were able to reproduce this issue:
1. https://github.com/Expensify/Expensify.cash/issues/3559

https://github.com/Expensify/Expensify.cash/issues/3536 and https://github.com/Expensify/Expensify.cash/issues/3488 were a pass. For https://github.com/Expensify/Expensify.cash/issues/3543 I'm waiting for someone with iOS to check it since I don't hav

[2021-06-12 11:28] isagoico commented on #3536
Retested this on android and it was not reproducible 🎉 Closing.

[2021-06-12 11:28] #3536 closed

[2021-06-12 12:30] isagoico commented on #3450
https://github.com/Expensify/Expensify.cash/issues/3543 is still reproducible, reopening the issue.

[2021-06-12 12:31] isagoico commented on #3543
Reopening the issue since this is still reproducible on iOS build: 1.0.68-3

https://user-images.githubusercontent.com/44479856/121775966-c79fdc00-cb8a-11eb-9f4a-da2c02c4995f.MP4

[2021-06-12 15:42] rushatgabhane opened #3568 "Requesting amount 0 (or less than two decimal) shows undefined URL."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Requesting 0 shouldn't be allowed. (Leads to unnecessary API call)

## Actual Result:
Request of 0 amount is allowed and redirects to e.cash/r/**unde

[2021-06-12 15:46] rushatgabhane commented on #3568
Couldn't find related open issue.
## Proposal
The next button should be disabled if amount is less than 0.01.

[2021-06-12 16:59] roryabraham opened #3569 "[HOLD for payment June 28th] user.expensifyNewsStatus is overwritten on page reload"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to `Settings` -> `Preferences`
1. Toggle the `Notifications` switch:

    ![image](https://user-images.githubusercontent.com/47436092/12178357

[2021-06-12 22:55] Santhosh-Sellavel opened #3571 "Requesting payment to self, leads to indefinite loading"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
It should not should be allowed. Or let me know what we can expect?

## Actual Result:
Indefinite loading

## Action Performed:
- New
- Request Money

[2021-06-12 23:14] Santhosh-Sellavel commented on #3571
Sorry team, accidently closed.

[2021-06-12 23:20] Santhosh-Sellavel opened #3572 "Requesting payments and Splitting bills with self causes indefinite loading"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Requesting payments and splitting bills with self should not be allowed.

## Actual Result:
Requesting payments and splitting bills with self results

[2021-06-13 11:14] dklymenk commented on #3272
I have submitted the PR #3573 with proposed changes. The original post mentions only Web, but I made an assumption that desktop app should have this fix too. For iOS and Android there is probably little sense sense in such fix, I would expect it's not very common to have this app open overnight on a phone. Please let me know if my assumptions are wrong on there.

[2021-06-13 14:19] parasharrajat commented on #2705
### Proposal
#### ISSUE
 As per my understanding, this issue is due to the fact that text is selectable on a Web browser. Also, IOS has 3d touch.

#### Solution
1. We should make the menu Item including Icon non-selectable on the Context Menu for all platforms as I think no body would want to select the text on context menu.
2. Now we should make text non-selectable for message on Mobile devices a

[2021-06-13 20:34] isagoico commented on #2705
Issue reproducible today during KI retests.

[2021-06-13 20:35] SofiedeVreese commented on #2661
Removed post from Upwork.

[2021-06-13 20:42] isagoico commented on #2842
Issue not reproducible today during KI retests (Third Week) - Closing

[2021-06-13 20:42] #2842 closed

[2021-06-13 20:47] isagoico commented on #2710
Issue not reproducible today during KI retests (Third Week) - Closing

[2021-06-13 20:47] #2710 closed

[2021-06-13 20:49] isagoico commented on #2279
Issue not reproducible today during KI retests (Second Week)

[2021-06-13 20:49] isagoico commented on #2447
Issue reproducible today during KI retests

[2021-06-13 20:49] isagoico commented on #3248
Issue reproducible today during KI retests

[2021-06-13 20:49] isagoico commented on #3355
Issue reproducible today during KI retests

[2021-06-13 20:50] isagoico commented on #3296
Issue reproducible today during KI retests

[2021-06-13 20:51] isagoico commented on #2121
Issue reproducible today during KI retests

[2021-06-13 20:51] isagoico commented on #2499
Issue reproducible today during KI retests

[2021-06-13 20:51] isagoico commented on #2662
Issue reproducible today during KI retests

[2021-06-13 20:51] isagoico commented on #3247
Issue reproducible today during KI retests

[2021-06-13 20:52] isagoico commented on #3323
Issue reproducible today during KI retests

[2021-06-13 20:52] isagoico commented on #3545
Issue reproducible today during KI retests

[2021-06-13 20:52] isagoico commented on #3537
Issue reproducible today during KI retests

[2021-06-13 20:53] isagoico commented on #3538
Issue reproducible today during KI retests

[2021-06-13 21:04] isagoico commented on #3560
Issue reproducible today during KI retests

[2021-06-13 21:04] isagoico commented on #3354
Issue reproducible today during KI retests

[2021-06-13 21:04] isagoico commented on #3297
Issue reproducible today during KI retests

[2021-06-13 21:04] isagoico commented on #3172
Issue reproducible today during KI retests

[2021-06-13 21:04] isagoico commented on #3195
Issue reproducible today during KI retests

[2021-06-13 21:04] isagoico commented on #2967
Issue reproducible today during KI retests

[2021-06-13 21:05] isagoico commented on #3041
Issue reproducible today during KI retests

[2021-06-13 23:44] puneetlath commented on #3538
Going to be mostly OOO this week, so reapplying label so someone else can take it.

[2021-06-13 23:49] puneetlath commented on #3313
Okay I'm good with that. What do you think of what I proposed for links?

[2021-06-14 01:05] aliabbasmalik8 commented on #3538
@kavimuru
I've seen the `USER NAME` and `First Message` inline on the latest main branch.
![image](https://user-images.githubusercontent.com/31027036/121827662-d968a880-cc8a-11eb-9b67-f794fb2d3c72.png)

[2021-06-14 01:45] Christinadobrzyn commented on #2258
Thanks for confirming @marcaaron - in terms of getting this proposal into Upwork, are we going back to the OP minus step 9?

[2021-06-14 01:51] Christinadobrzyn commented on #3571
Similar to https://github.com/Expensify/Expensify.cash/issues/3572

[2021-06-14 01:52] Christinadobrzyn commented on #3572
Should we combine this GH with this [GH](https://github.com/Expensify/Expensify.cash/issues/3571) into one issue?

[2021-06-14 04:14] quinthar commented on #3572
Trying to split a bill with yourself rips open SpaceTime and causes a
singularity. Please don't do it.

On Sun, Jun 13, 2021, 6:54 PM MelvinBot ***@***.***> wrote:

[2021-06-14 08:27] isagoico opened #3574 "@Expensify.sms is visible in the tooltip when hovering over the user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
@expensify.sms should not be seen in any area of the app.

## Expected Result:
@expensify.sms is visible when hovering over a user.

## Actual Resul

[2021-06-14 08:40] isagoico opened #3575 "Phone number account - Name is displayed in the phone number field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash
2. Search for a user with a phone number account as a main login (Note: user should have set a name in their account)
3. Navigat

[2021-06-14 08:55] isagoico opened #3576 "Mobile - Add haptic feedback when long pressing messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash
2. Navigate to a conversation
3. Long press a message

## Expected Result:
There should be some kind of feedback when long press

[2021-06-14 09:07] dklymenk commented on #3524
Uhm, is BE repo available for upwork contractors? Why the `External` label?

[2021-06-14 09:29] parasharrajat commented on #3023
I will test it today.

[2021-06-14 09:57] Julesssss commented on #3560
I think the fix here would be to show the loading icon while we retrieve currency. The `iou` key already has an isLoading key for this.

[2021-06-14 10:05] isagoico commented on #3538
@aliabbasmalik8 I think that's because you have the #Focus enabled in preferences. Can you check?
![image](https://user-images.githubusercontent.com/44479856/121875525-d7ddc580-cd08-11eb-9363-a97f061a4527.png)

[2021-06-14 10:20] HorusGoul commented on #3560
@Julesssss Just tried to do that, but the `iou.loading` seems to be for a different thing.

We could fix this by returning a promise from the `PersonalDetails.fetchCurrencyPreferences()` call and then have a state key that we can use to display the loading icon.

[2021-06-14 10:46] Julesssss commented on #3560
Yeah, we reuse the iou.loading key in a few places to avoid duplication, but the IOU Modal is the right place for this IMO. Alternatively we could have a new key/pair under the key: `isRetreivingCurrency` or something similar.

As for managing state, we prefer to drive everything from Onyx, hence the above keys. Here's some additional context: https://expensify.slack.com/archives/C01GTK53T8Q/p1623

[2021-06-14 10:49] Julesssss commented on #3560
The other problem is that functions that occur within the 'Action' files, should not return anything. Components should act upon data from Onyx only -- our offline-first architecture.

[2021-06-14 11:14] HorusGoul commented on #3560
I see! I was able to get it to work using Onyx:

https://user-images.githubusercontent.com/6759612/121883406-fdbb9800-cd11-11eb-8bd6-3c6c3a4f4319.mov

I'll open a PR with the fix.

Thanks for the guidance, @Julesssss! 😊

[2021-06-14 11:15] Julesssss commented on #3560
Nice, that looks ideal!

[2021-06-14 12:01] Julesssss commented on #3450
Marked #3423 as resolved, as the raised issues were fixed and merged.

[2021-06-14 12:37] TomatoToaster commented on #2540
I'm going to unassign myself for now. I no longer have the bandwidth for this so I'll leave it for someone else to maybe fix.

[2021-06-14 13:06] aliabbasmalik8 commented on #3538
This issue not produced but we can fix it by increase the `height` and `line height` at this point
https://github.com/Expensify/Expensify.cash/blob/85b22bf9a87f746dae9c2df05bf654730ef018e1/src/styles/styles.js#L691

Thanks

[2021-06-14 13:07] Julesssss commented on #3543
Yep, I can reproduce still on iOS 11, a physical device. I should have clarified on Friday that this was only reproducible on iOS (and possibly only on physical devices).

[2021-06-14 14:46] sketchydroide commented on #3542
I haven't really been able to figure much out about this, I'm not being able to test it on Android (it fails now installing/building) I think I need some help/new eyes

[2021-06-14 14:59] Julesssss commented on #3543
Okay, this is only sometimes occurring, but it's a nightmare to verify 😭. In some circumstances it will work the first time you attempt to add an attachment, but then almost all later attempts fail. The only hint is that if you enter a new chat after it fails to display, the Attachment picker will then display -- it's appearing at completely the wrong time, but it remains on screen 😖

**Works firs

[2021-06-14 15:26] cead22 commented on #3543
@Julesssss it looks like you're on this so I'm gonna unassign myself. If you decide to unassign, please let me know and I'll find someone to work on this (which is pretty much all I did Friday)

[2021-06-14 15:34] trjExpensify commented on #3354
👋 @michelle-thompson @megankelso @shawnborton can we get your thoughts on this one please, so we can move forward with a proposal. Thanks!

[2021-06-14 15:36] Julesssss commented on #3543
I tested builds to locate the introducing commit:
- `5ce0b06a03`: Issue does not occur
- `30d66b717`: Issue does not occur
- `822acf0b56d`:  (main was merged into PR) Issue does not occur
- [`[c0046a2fd]`](https://github.com/Expensify/Expensify.cash/commit/c0046a2fd4f34b208761dcf620d82ce077cb53b7): (main was merged into PR with multiple library changes) Issue is introduced... SO it wasn't the [bum

[2021-06-14 15:38] Julesssss commented on #3450
I removed #3215 from being a deployBlocker, as [this comment](https://github.com/Expensify/Expensify.cash/issues/3543#issuecomment-860783774) proves it did not introduce the iOS attachment regression.

[2021-06-14 16:24] Julesssss commented on #3543
OKAY. Here's the PR which introduced the issue:[ Upgrade react-navigation to 6.x](https://github.com/Expensify/Expensify.cash/pull/3078)

- `37b3591ac`: Issue does not occur
- [`c0766f5`](https://github.com/Expensify/Expensify.cash/commit/c0766f5cf66bb4fb75ef7443c137beb7d8ec97c3): Issue occurs

Specifically, it turns out that bumping `react-native` down to `0.63.3` did solve the problem, which is

[2021-06-14 16:27] parasharrajat commented on #3023
@isagoico I am not able to reproduce it anymore. Could you please tell me :
the version of the app?
Platform?
any video? if possible.
Thanks.

[2021-06-14 16:52] roryabraham commented on #2258
After some [internal discussion](https://github.com/Expensify/Expensify/issues/156214#issuecomment-859974940), I think we should massively scale back this issue for now, and just do the following:

1. Change `Upload` to `Send` in the upload-attachment modal. This should resolve any concerns that sending the attachment immediately is unexpected behavior.
1. When that button is clicked, send any dra

[2021-06-14 16:52] shawnborton commented on #3108
@kakajann your proposal video looks pretty good to me! Just a couple of follow up points:
- We need to make sure the styles line up with our mockups. For example, the label text shouldn't be bold
- We also need to make sure select menus get updated to match the new text input height
- Can we control things like the animation easing function? It feels a little linear right now, so I would love to a

[2021-06-14 16:54] mallenexpensify commented on #3349
@rushatgabhane are you interested in this job? If so, can you propose a fix here? One the proposal is accepted we'll hire in Upwork.

(@trjExpensify should the `Exported` label be added now to assign an engineer for review? I think so....)

[2021-06-14 16:59] marcaaron commented on #2705
This seems reasonable.

Not sure I would go this far. Why should we not be able to select only some portion of text natively? Probably the behavior should be consistent on all platforms.

Another solution could be to just clear any document selection when the menu mounts.

e.g. with https://developer.mozilla.org/en-US/docs/Web/API/Selection/removeAllRanges

[2021-06-14 17:01] parasharrajat commented on #2258
Let me be clear here
1. When a user uploads an image, Change the modal title to `send`.
2. If there is was text in the composer send that first and then image.
3. What button? Attachment Modal's button, Composer send button.

or After the user click confirms on the attachment Modal, Show that image in the composer, and then on click at the `send` button, send the text and image, respectively.

Als

[2021-06-14 17:05] roryabraham commented on #3313
Hmmm I'm not sure I completely understand that proposal.

Is this true on mobile? I don't think so...

[2021-06-14 17:07] rushatgabhane commented on #3349
I'm currently working on another job, so I don't qualify to work as I'm a new contributor.
Please feel free to take this one.

[2021-06-14 17:07] roryabraham commented on #2258
Modal title, and the attachment modal's `Upload` button.

yes.

Attachment modal's button.

[2021-06-14 17:08] kakajann commented on #3108
I can give it a style just as you want

Is this final specific specs?

or would you like to update it?

[2021-06-14 17:10] parasharrajat commented on #2705
Yeah. Awesome. :+1: Didn't think of it that way. Actually, there has been discussion around making text non-selectable on mobile devices.

but yeah I agree. Makes perfect sense if the issue is only producible on M-web.

[2021-06-14 17:11] Julesssss commented on #3543
_I hid the above comment as it's not accurate, [this PR](https://github.com/Expensify/Expensify.cash/pull/3446/files) introduced the `react-native` bump._

It gets worse. I can confirm that simply downgrading the 'react-native' library to `0.63.3` on `main` does not fix the issue, [as I discovered](https://github.com/Expensify/Expensify.cash/issues/3543#issuecomment-860754616) earlier today.

So,

[2021-06-14 17:14] parasharrajat commented on #2705
But we only want to clear the selection for the above. Web needs selection.

[2021-06-14 17:16] parasharrajat commented on #3543
@Julesssss I think I found the root cause here. just want you to confirm.
https://github.com/Expensify/Expensify.cash/blob/bdf2144b6eb1fd561905ea6e3450e8b6997a7a60/src/components/AttachmentPicker/index.native.js#L225-L231

If we increase the Delay here - for eg I set 1 sec, It works fine.

Please check?

[2021-06-14 17:19] roryabraham commented on #2279
Okay, @Viacheslav80 feel free to submit a PR once you've been hired on Upwork. However, we do not use any platform-checks in the code (see the section of our README on [platform-specific file extensions](https://github.com/Expensify/Expensify.cash#platform-specific-file-extensions)). We also have a `withWindowDimensions` HOC that provides a `isSmallScreenWidth` parameter.

[2021-06-14 17:21] kevinksullivan commented on #3017
Offer sent.

[2021-06-14 17:25] MitchExpensify commented on #3545
Job created [here](https://www.upwork.com/jobs/~0138eed2a8b19f370f) and have invited you @parasharrajat !

[2021-06-14 17:33] Julesssss commented on #3543
Well done @parasharrajat. Can confirm.

Maybe that's why it sometimes worked correctly the first time? I guess that also explains why two different changes introduced the same bug 🤯

We had better open up another UpWork contract for you 😅

[2021-06-14 17:35] Julesssss commented on #3543
I'm assuming you want to take the job? but it would be great if you could raise a PR for this.

If so we'll get an UpWork task created immediately. Please tag me on the PR so I can review first thing tomorrow 👍

[2021-06-14 17:37] parasharrajat commented on #3543
Yeah. PR will be up in no time. Upwork can wait.

[2021-06-14 17:42] Beamanator commented on #3349
Thanks @rushatgabhane 👍 If you finish your other job, feel free to come back and submit a proposal for the new Command + Shift + K shortcut here :)

[2021-06-14 17:48] Julesssss commented on #3543
Hey @stephanieelliott. This one is slightly different as we already have the solution and we just need an UpWork issue created to track payment.

[2021-06-14 17:52] Julesssss commented on #3542
I'll be able to take a look tomorrow. I also wonder if @roryabraham might be able to provide some insight too?

[2021-06-14 18:01] #3272 closed

[2021-06-14 18:02] stephanieelliott commented on #3543
Cool, that's easy! Posted to Upwork, please apply for this one @parasharrajat: https://www.upwork.com/jobs/~01cb0fd992029800cc

[2021-06-14 18:04] parasharrajat commented on #3543
@Julesssss  PR is up. This deployblocker is done. :cheese:

[2021-06-14 18:04] stephanieelliott commented on #2938
Another bump @pranshuchittora, we're nearing a deadline on this -  can you please address the requested changes?

[2021-06-14 18:09] pranshuchittora commented on #2938
@stephanieelliott there's some issue with the refactored/migrated like opening component `TextLink`.
I tried migrating but facing some issue. It would be great If I get a response on this

https://github.com/Expensify/Expensify.cash/pull/3079#issuecomment-859872305

Can you pls amplify this, so that it gets addressed ASAP

[2021-06-14 18:10] parasharrajat commented on #3272
cc @marcaaron https://github.com/Expensify/Expensify.cash/issues/3272#issuecomment-860193649. I believe, it's better to test if the app auto-updates the time-date when it's in the background. It very common for me not to close the apps and put them in the background on mobile.

[2021-06-14 18:15] mallenexpensify commented on #1524
Paid with the bonus for initially reporting the issue.
Sorry it took a few extra days @dharammachra , we're in the midst of updating our process to ensure payment 8 days after the issue is closed

[2021-06-14 18:39] dklymenk commented on #3272
@parasharrajat Good catch. If your phone has enough RAM and you don't switch between too many other applications, the react-native app will be in the memory and switching back to it normally doesn't cause a re-render.

@marcaaron If this would be required to implement, I think we can use utilize this function
https://github.com/Expensify/Expensify.cash/blob/9974e7984dc0845f144dbc919ca4220a6af302dd

[2021-06-14 18:42] shawnborton commented on #3108
That looks good to me. Additional notes:
- Input/select height should be 52
- The horizontal padding should be 12
- The vertical padding should be 8, though the label/text should be vertically centered

[2021-06-14 18:45] shawnborton commented on #3354
I agree with @parasharrajat 's proposal in that the bottom green button should always be fixed to the bottom of the viewport. When the keyboard comes in, the bottom of the viewport sits above the keyboard. Basically the video looks great to me, though perhaps we want to add a little bit of padding below the last input (What's it for?) so that there can be some visual space between the input and bu

[2021-06-14 18:48] marcaaron commented on #3566
This was planned to be done in a separate step/issue, but seems like you've made some good progress already @parasharrajat. @TomatoToaster @roryabraham what do you think about letting @parasharrajat tackle the entire modal + `/card` page?

**Pending above decision...**

To clarify, I think this sidebar should be inside a `DrawerNavigator` and handled similar to `MainDrawerNavigator`.

I didn't qui

[2021-06-14 18:53] Beamanator commented on #3354
So just to be clear @shawnborton , you like the fact that the "what's it for" label & text input can be scrolled down below / behind the "Split" button?

[2021-06-14 19:01] parasharrajat commented on #3566
Ok. Thanks for this. yeah, it can be done.

I am not sure how can I get the VBA for a user. So I said that. I thought it is yet to be added. @roryabraham Could you please put some light on VBAs.

So to be sure about. We want to render the workspace as a Modal route over the main report Screen. Right?

[2021-06-14 19:02] shawnborton commented on #3354
I wouldn't say so much that I like it, but I don't mind it :) It mostly just keeps the button behavior consistent with other pages where the primary button is always docked to the bottom of the view.

[2021-06-14 19:04] #3545 closed

[2021-06-14 19:09] marcaaron commented on #3566
VBA will eventually be accessible via `ONYXKEY.COLLECTION.POLICY` (returns a list of all policies) and then looking to see if any have `policy.type === 'free'`. This should be done quickly so we can just wait until @roryabraham is finished with the changes and then merge the changes from this issue.

yep, that's the current plan for now.

[2021-06-14 19:11] Beamanator commented on #3354
Haha makes sense to me :D

@parasharrajat please go ahead and submit a PR for the fix when you have a chance! 👍 _Note the tiny style adjustment_:

[2021-06-14 19:11] roryabraham commented on #3566
Fine with me.

I think so, yes. A full-screen modal.

Unfortunately this isn't really something @parasharrajat will be able to test on dev, right? Because he's using the web-proxy for the API, he only can communicate with the prod API, and so won't be able to set up a fake VBA for testing. cc @ctkochan22 to confirm

[2021-06-14 19:13] michaelhaxhiu commented on #3055
Will pay on June 18 (7 days after PR merged to allow for regression handling)

[2021-06-14 19:15] marcaaron commented on #2705
Sorry I don't have much context about that.

Maybe just do it for all small screens? Anyways, not sure if it's the best idea just one idea :)

[2021-06-14 19:18] parasharrajat commented on #2705
It's worth trying and I believe it will work just fine but there could be a catch I have seen that sometimes the menu does not even open which is blocked by text selection. There seems to be an open issue to that https://github.com/Expensify/Expensify.cash/issues/2279

[2021-06-14 19:20] marcaaron commented on #3543
@Julesssss so it seems like this isn't related to dependencies at all? Or possibly could be, but not in any obvious way?

[2021-06-14 19:23] marcaaron commented on #3566
Oh right haha I am talking total nonsense above sorry @parasharrajat.

I think we can set up a fake VBA, but it needs to be done on staging IIRC.

[2021-06-14 19:33] iwiznia commented on #2973
@Santhosh-Sellavel that's a workaround, but we are looking for a fix in the library and not a workaround.

[2021-06-14 20:29] marcaaron commented on #3490
Also adding some context from this [Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1623699255327200) sort of related, but keys can be removed from Onyx objects by calling `Onyx.merge()` with a `null` value for a "top level" (not nested) key. So there's another special case where we are using `null` to signify something that is perhaps not very obvious.

[2021-06-14 21:45] mallenexpensify commented on #3349
@rushatgabhane it appears your other PR is almost merged.  If you'd like to propose a solution for this issue here, and we accept, we can assign this to you and you can submit the PR for it once [the other issue](https://github.com/Expensify/Expensify.cash/issues/3346) is closed.

[2021-06-14 22:58] jliexpensify commented on #3513
Still awaiting proposals.

[2021-06-15 00:34] Jag96 commented on #3538
@isagoico I'm unable to reproduce this as well, on version 1.0.68-4. What version were you able to reproduce this on yesterday?

![image](https://user-images.githubusercontent.com/3981102/121975494-9b28c300-cd36-11eb-878e-ba042c1d4165.png)

[2021-06-15 00:40] shawnborton commented on #3538
Whoever reported this, can you check to see if you have any kind of font zooming enabled at the device level? Often times that can mess these things up.

[2021-06-15 02:01] rdjuric commented on #3546
@marcaaron I would like to fix this!

### Proposal
The problem is caused by setting the StatusBar to translucent here
https://github.com/Expensify/Expensify.cash/blob/11b781540f89c0b19aa56280c02bcca10f7399f6/src/Expensify.js#L154-L160
This is no longer necessary since our StatusBar is a solid grey when the app starts and is solid (but transparent) when our .js code loads (thanks to our `CustomStat

[2021-06-15 02:18] NikkiWines commented on #3293
Hi, @dklymenk thanks for posting an update.

1. I _think_ using `_.once` is fine here - though the multiple calls make me wonder if using `_.once` means you're not guaranteed to get the most up-to-date reportActionsList.

2. I think it's fine without the refactoring

3. I also don't think this is a huge deal - but I'll think on some potential alternatives

[2021-06-15 06:54] Jag96 commented on #3219
Paid!

[2021-06-15 06:54] #3219 closed

[2021-06-15 08:18] Dal-Papa commented on #3524
@dklymenk : I think this could be decoupled between some backend features missing and then hooking it into the frontend. I will circle back once I have discussed with other engineers.

[2021-06-15 08:19] laurenreidexpensify commented on #2279
@Viacheslav80 you're hired in Upwork now, so feel free to move forward with the PR. Thanks!

[2021-06-15 08:23] isagoico commented on #3538
Yep, im unavle to reproduce either. I'll ask the tester who reported it.

[2021-06-15 08:43] Julesssss commented on #3543
We've seen this issue before when trying to open a second Modal from another Modal. `onCLose` (or something similar) is called on the first model, but as the second Modal has also started to display, it also is immediately closed.

I believe both dependencies somehow sped up the displaying of the second Modal, which meant that 10ms was no longer long enough of an artificial delay to wait before sh

[2021-06-15 09:31] dklymenk commented on #3293
In my testing that was never the case. I believe it's because every time we delete a comment a new instance of the onyx callback is called, so `_.once` function is called at least once on each comment deletion, so it does exactly what we want.

Not sure if my explanation makes a lot of sense, but I think there is a way to refactor the code in such a way that would cause the target function to lite

[2021-06-15 10:38] Beamanator opened #3588 "Test issue to make sure `Design` label & auto-assigning is working"
## Action Performed:
Added `Design` label to e.cash repo & to some issue(s)

## Expected Result:
Someone from design team is auto-assigned (like when `Engineering` label is added to an issue)

## Related issues:
Master e.cash improvement tracker: https://github.com/Expensify/Expensify/issues/159560

[2021-06-15 10:40] Beamanator commented on #3588
OK cool just testing that this works :D Sorry for the pings!

[2021-06-15 10:40] #3588 closed

[2021-06-15 11:35] #3537 closed

[2021-06-15 12:36] michaelhaxhiu commented on #2545
Will post today.

[2021-06-15 13:35] NicMendonca commented on #3023
@isagoico bumping @parasharrajat request ☝️ Thanks!

[2021-06-15 14:18] Julesssss commented on #3542
I built the prod env to test this. Can confirm that notifications aren't displayed when the app is in the background.

The first issue is that the app thinks we are still viewing the last read chat:
![Screenshot 2021-06-15 at 15 08 57](https://user-images.githubusercontent.com/10736861/122067843-d0431d00-cdeb-11eb-968f-17578a72ec82.png)

If we navigate to an alternate chat, background the app, and

[2021-06-15 14:26] Julesssss commented on #3542
Reverting UrbanAirship to `10.0.0` does not fix this issue for me. I think the first issue already existed, and that the second issue is the pressing issue to solve:

[2021-06-15 14:56] #3574 closed

[2021-06-15 14:58] Julesssss commented on #3542
In fact, I'm now wondering if local notifications ever worked on mobile? Because the [native function is noop...](https://github.com/Expensify/Expensify.cash/blob/384aa5e1d24210ef93577865c0dc29d80b1503b4/src/libs/Notification/LocalNotification/index.native.js#L3)

Yep, they were never implemented! THis PR seems to be introducing them, but is WIP.

[2021-06-15 15:01] #3347 closed

[2021-06-15 15:58] Julesssss commented on #3542
I am now convinced that this is the case. To confirm that this has never worked, I built an old prod signed build `1.0.19-6` directly from the Play Store. Notice that messages are received while the app is open and killed, but not when backgrounded. Finally, once I open the app, the message is updated to 15 -- none of the 6-15 messages were displayed as the app was backgrounded at the time.

https

[2021-06-15 16:06] roryabraham commented on #3542
I can confirm that local notifications never worked on mobile, but it seems that pusher connections are being maintained while the app is backgrounded. I'm not sure if something specific changed here (because this wasn't always the case when I was first implementing push notifications on E.cash), or if it's just something that works inconsistently. In any event, I can hopefully address this by mak

[2021-06-15 16:08] #3542 closed

[2021-06-15 16:19] Julesssss commented on #3450
@isagoico I am happy to confirm all deployBlockers have been resolved

[2021-06-15 16:26] isagoico commented on #3450
That's great news 🎉 are you guys gonna try a production deploy?

[2021-06-15 16:29] roryabraham commented on #3450
I think so ... pending the 👍 from @trjExpensify

[2021-06-15 16:32] trjExpensify commented on #3450
Yep, let's do it! 👍

[2021-06-15 16:34] Julesssss commented on #3450
:shipit:

[2021-06-15 16:34] #3450 closed

[2021-06-15 16:37] OSBotify opened #3593 "Deploy Checklist: Expensify.cash 2021-06-15"
**Release Version:** `1.0.73-3`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/2287
- [x] https://github.com/Expensify/Expensify.cash/pull/2932
- [x] https://github.com/Expensify/Expensify.cash/pull/3173
- [x] https://github.com/

[2021-06-15 16:57] michaelhaxhiu commented on #2545
Just tested on my Android, and I was able to reproduce successfully. Posted to Upwork as of right now ✅ .

[2021-06-15 17:05] bfitzexpensify commented on #3247
Reopening so I remember to pay this out in seven days if there are no regressions.

[2021-06-15 17:05] Viacheslav80 commented on #2279
Hi! Ok. I am started

[2021-06-15 17:19] Julesssss commented on #2545
CC @kidroca, as he had some ideas for[ these improvements here](https://github.com/Expensify/react-native-onyx/pull/76#issuecomment-853789066). Perhaps you would be interested in this issue?

[2021-06-15 17:35] kidroca commented on #2545
I don't think this is related to cache.

When I studied the effects of virtualization I came to a similar situation when I had a large chat: https://github.com/Expensify/Expensify.cash/issues/2629#issuecomment-832516464

My theory (short version)
For big chats you reach the virtualization window boundary
As you scroll down an item is removed from the top
Another item is added on the bottom
Native,

[2021-06-15 17:39] michaelhaxhiu commented on #2545
This would be good to ask in #expensify-open-source I think, as we have more eyes and exposure there. Can you post it there @kidroca? I agree with the idea of seeing if old iOS devices are included in the scope of the issue.

[2021-06-15 17:48] kidroca commented on #2985
What are the limits for this ticket. Can we use a library?

@marcaaron The library that you found seems to be the real deal
If it doesn't work for web, we could tailor just the web implementation ourselves - it's steal beats trying to cover all platforms ourselves. And in fact that's exactly what's the PR you've shared does - for web they are working on a standalone web solution that is not using

[2021-06-15 17:51] rdjuric commented on #2545
@kidroca @michaelhaxhiu
Here's a test running on an old iPhone 5s.

https://user-images.githubusercontent.com/53711423/122099933-f6b38900-cde8-11eb-85a5-ec7a9b97f9ec.mov

It's from the build in the app store, so probably a few versions behind our main. Feels smooth on iOS and doesn't flicker.

[2021-06-15 17:53] kidroca commented on #2985
Using the library and making a web specific implementation (that we can contribute to that library) can be a lot less coding:
see their attempt: https://github.com/GetStream/react-native-bidirectional-infinite-scroll/blob/a782467396b3143b43ff2ca15b4ada3f46a7da20/src/BidirectionalFlatList.tsx ~300 lines of code

This is because we have much more flexibility coding for web

[2021-06-15 17:54] michaelhaxhiu commented on #2545
@rdjuric thank you! Can you try once more, but this time expand our keyboard and scroll downward slowly? If it behaves the same, no need to record another vid.

[2021-06-15 18:07] mvtglobally commented on #3593
Starting QA

[2021-06-15 18:08] rdjuric commented on #2545
@michaelhaxhiu Sorry! Forgot about the expanded keyboard 😅

https://user-images.githubusercontent.com/53711423/122101860-2d8a9e80-cdeb-11eb-872f-c0458940cc47.mp4

The issue does happens on iOS. I was also able to reproduce it while scrolling up the chat, not only down, seems to happen whenever the FlatList render new items. It stops flickering when we approach the end (or beginning) of the chat, a

[2021-06-15 18:25] michaelhaxhiu commented on #3569
Posted on Upwork here - https://www.upwork.com/jobs/~01984a0737ed8ba518.

[2021-06-15 18:39] roryabraham commented on #2985
@kidroca I think what you've suggested sounds pretty reasonable. I would love to see a solution that forks https://github.com/GetStream/react-native-bidirectional-infinite-scroll and implements a shim to make it compatible with react-native-web. We can use that fork ourselves and try to get it merged into the parent repo. Alternatively, we can just create the shim directly in Expensify.cash but I

[2021-06-15 18:41] parasharrajat commented on #3569
It seems the backend is not saving the changes it's returning 0 `account: Object { subscribed: 0 }` on User.getUserDetails();
So when we toggle it we send request to backend , here if code is 200 we set `expensifyNewsStatus` to true. But when we refresh `User.getUserDetails();` returns 0.

​​

​​

[2021-06-15 19:12] quinthar commented on #2985
Yes, I love the idea of forking and contributing a RN4W version of https://github.com/GetStream/react-native-bidirectional-infinite-scroll.  Great!

[2021-06-15 19:18] marcaaron commented on #2985
As for proposing a web implementation it might be worth inquiring on the status of this PR -> https://github.com/GetStream/react-native-bidirectional-infinite-scroll/pull/16

Maybe we can build on that work, propose an alternative, or help get it prioritized.

But verifying if this project suits our needs sounds like a good first step.

[2021-06-15 20:23] rushatgabhane commented on #3349
[Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1623762847358600)

[2021-06-15 20:29] parasharrajat commented on #3566
@shawnborton Could you please help me get the assets for the screen above?

[2021-06-15 20:39] rdjuric commented on #3419
@NikkiWines I'm interested in this one!

Looks like we would need an API endpoint to get a list of IOU reports for a given chat? There doesn't seem to be one right now.

Without this, I think the best we can do is to look for IOU reports when we call `API.Report_GetHistory` to get the chat history. But I feel this wouldn't meet our goal of not forcing

since we would only be able to list in our Pa

[2021-06-15 20:48] marcaaron commented on #3546
Nice find! @kevinksullivan can we get @rdjuric hired?

[2021-06-15 21:01] isagoico commented on #3023
Issue is not reproducible anymore, seems like it was fixed above 🎉

[2021-06-15 21:24] shawnborton commented on #3566
Which assets do you need - just the card background? cc @michelle-thompson

Do you also have any idea how you will implement it? That might inform how we export the asset as well. I'm not too familiar with how this works in React Native, but assuming this works like CSS, do we just set the asset as a background image for that particular container?

[2021-06-15 21:43] parasharrajat commented on #3566
Yeah as a background image. Also icons on the left sidebar.

[2021-06-15 21:44] parasharrajat commented on #3023
Thank you for letting us know.

[2021-06-15 21:48] isagoico opened #3598 "IOU - Request Money - Unable to write in field What's this for?"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in as account B and request money to account C
2. Write in the field "What's this for?"

## Expected Result:
User can write information in th

[2021-06-15 21:53] isagoico opened #3599 "Android - Crash when editing a message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Search for any user
4. Find you message in the conversation
5. Click on Edit
6. Write longer message

[2021-06-15 21:54] kidroca commented on #2985
Sounds great!
They are indeed working on another PR for web, so that's good news as well.

@roryabraham
I guess you'd want to see how this lib will integrate with E.cash so you can decide is it worth it to continue with it. Did I get that right?

I can make a POC implementation where we can see how it goes for **native** and make further plans if it's worth it

Setting:
- a chat with 300+ messages

[2021-06-15 22:04] roryabraham opened #3600 "Deploy-blockers can't be added if they include double-quotes."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create an issue or pull request with double-quotes in the title.
1. Give it the `DeployBlockerCash` workflow.

## Expected Result:
1. The `deploy

[2021-06-15 22:23] Jag96 commented on #3538
Sounds good, going to close for now, feel free to reopen if this is still an issue!

[2021-06-15 22:23] #3538 closed

[2021-06-15 22:35] michelle-thompson commented on #3566
@parasharrajat What dimensions are needed for the background image?

[2021-06-15 22:36] tugbadogan commented on #2180
@mallenexpensify This issue and #2447 are both caused by some animation bugs in react-navigation library. These issues are separate symptoms of similar bugs in react-navigation.

* In this issue, react navigation fails to update the position of the left menu when orientation is changed to landscape, so it's displayed in the center and UI breaks.
* In #2447, when device orientation is changed to po

[2021-06-15 22:36] isagoico opened #3601 "[Performance] CMD + K is slow and laggy"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. While using e.cash use the cmd+k command
2. Type on the search field

## Expected Result:
App should be fast and search should be responsive as s

[2021-06-15 22:37] shawnborton commented on #3566
@michelle-thompson I think we can try providing the background image with a transparent background, and as an .svg. For example on UseDot, the hero image we use is actually this: https://static1.squarespace.com/static/ta/577c006b725e25e0affed0c1/2382/assets/img/expensify-card/hero_card-cascade.svg

I actually wonder if we can try with that asset above and then control background position and color

[2021-06-15 22:50] parasharrajat commented on #3566
I have created the whole card with 400 height but the Width is not fixed. So I think the 16:9 aspect ratio would be good. Also, we will be needing a different asset for the mobile devices as they have different aspect ratios. So I am guessing what would be the look for mobile. I mean what would be the text placement.

[2021-06-15 23:01] parasharrajat commented on #2180
@tugbadogan I believe this perception is wrong here as per the docs https://reactnavigation.org/docs/6.x/drawer-navigator#uselegacyimplementation. And you have not set the flag explicitly.

[2021-06-15 23:04] tugbadogan commented on #2447
I'm not able reproduce this issue anymore on iPad Pro 9.7-inch iOS 12.0 with Expensify.cash v1.0.69-0 build

Which device/version are you using to reproduce this issue and can you record the screen with reproduction steps when you're able to reproduce?

[2021-06-15 23:07] parasharrajat commented on #3598
Damn, Safari always has some problem. I can confirm that this works absolutely fine on chrome M-web. And it seems a regression from #3193

[2021-06-15 23:08] tugbadogan commented on #2180
The documentation says

[code]

That prop defaults to `false` when Reanimated 2 is configured. This issue and other issue come back when I set `useLegacyImplementation` prop to `true`.

[2021-06-15 23:19] parasharrajat commented on #2180
I meant that we should set `useLegacyImplementation` as `false` explicitly as I think it says for any of those cases it's true.

[2021-06-15 23:25] tugbadogan commented on #2180
Yeah, it'd be better to set it false to enable Reanimated 2 on web and have consistency. That's need to be tested thoroughly on web though.

[2021-06-15 23:34] tugbadogan commented on #2180
I tried and it throws some exceptions, it may not be ready for react-native-web yet or we need to fix a couple of more things to enable it on web.

<img width="491" alt="Screenshot 2021-06-16 at 00 32 27" src="https://user-images.githubusercontent.com/3853003/122136419-5f772180-ce3a-11eb-905c-b414d8aa568e.png">

[2021-06-16 00:00] parasharrajat commented on #2180
@tugbadogan
I think Reanimated 2 is not configured on Android as well. I see a warning
![image](https://user-images.githubusercontent.com/24370807/122138204-dd035780-ce63-11eb-9ed7-c8483b83e80e.png)

[2021-06-16 00:00] parasharrajat commented on #2180
We may be missing these https://docs.swmansion.com/react-native-reanimated/docs/2.1.0/installation#android

[2021-06-16 00:43] kavimuru opened #3603 "mWeb-Android - Login - White screen displayed for a while after login"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.expensify.cash
2. Put your username
3. Put your password
4. Click sign in

## Expected Result:
The LHN page should displaye

[2021-06-16 01:12] kavimuru opened #3604 "mWeb - Safari- Page gets distorted tapping add phone number in profile"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.expensify.cash and login
2. Tap avatar
3. Tap profile
4. Tap add phone number
## Expected Result:
Add phone number page opens to en

[2021-06-16 01:12] OSBotify commented on #3604
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-16 02:07] Christinadobrzyn opened #3605 "Make the drag and drop target the whole app rather than just the compose box"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

• Start a chat in E.cash web version: v1.0.65-0
• Drag an attachment in the message field
• Attach the attachment in the message field when you see

[2021-06-16 02:17] Jag96 commented on #3599
I can see this crash [in crashlytics](https://console.firebase.google.com/u/0/project/expensify-chat/crashlytics/app/android:com.expensify.chat/issues/c8259d34122370c0fe596b351b87b9b8?time=last-seven-days&versions=1.0.69-0%20(1001006900)&sessionEventKey=60C91684039600012F21C44D1233B2D6_1552576322734505155).

The error here is
[code]

It looks like this react-native issue could be related: https://

[2021-06-16 02:20] Christinadobrzyn commented on #3605
Posted to Upwork - https://www.upwork.com/jobs/~0147d49744947f2545

[2021-06-16 04:42] Jag96 commented on #3569
@parasharrajat good find! For context, after looking into this it seems that on the API side we've updated the value of `subscribed` to be an int rather than a boolean, and it wasn't updated in this codebase. I've created a PR on the API side to fix the issue so that the `subscribed` value works when sent as a boolean or integer.

It looks like there's still an issue here where the value is being

[2021-06-16 04:44] kevinksullivan commented on #3546
Job posted for @rdjuric

https://www.upwork.com/jobs/~01283ff00ea2dd7506

[2021-06-16 04:49] Christinadobrzyn commented on #3108
Hired @kakajann to the Upwork project.

[2021-06-16 04:52] kadiealexander commented on #2258
@parasharrajat I have updated the OP to reflect the new task, please let me know if you have any questions about this!

[2021-06-16 04:52] Jag96 commented on #3455
From [this comment](https://github.com/Expensify/Expensify.cash/pull/3215#issuecomment-860784429), it appears that we aren't going to be reverting the react-native-web and react package updates, so I think we can resume looking into updating react-native-web in this issue.

cc @parasharrajat @rushatgabhane

[2021-06-16 06:43] Christinadobrzyn commented on #2614
Hey @isagoico are you able to confirm if this is resolved and the issue can be closed?

[2021-06-16 08:36] Beamanator commented on #3349
Hey @rushatgabhane thanks for doing that research in the linked slack thread - It sounds like we're going to adjust the issue so the shortcuts will be OS-specific - mainly, on Mac we'll use "Command + ..." and Windows we'll use "Control + ...". Are you willing to submit a proposal now or would you prefer waiting for a few more comments in the thread you linked?

[2021-06-16 08:51] isagoico commented on #2614
Yep! This is not reproducible anymore in android 🎉

[2021-06-16 09:27] kidroca opened #3608 "[Refactor] Network Request Queue"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Details

ATM network request queue runs relentlessly using a `setInterval` of 1 second
Every second it will check are there any request and send them, there are long

[2021-06-16 09:39] kidroca commented on #3608
## Optional future improvements

4. If a request can't complete for our `maxRetries` it's a tell that something is really bad and we can signal another internal system to take over

[code]

The `onMaxRetries` is out of the current scope, but the idea is that it will (for example)
- raise/recheck the `offline` flag
- capture the request to storage
- log an error
- retry the request at some point

5

[2021-06-16 10:02] Julesssss commented on #3455
@Jag96 yep, good point. Lets continue with your suggestion

[2021-06-16 10:18] jasperhuangg commented on #3568
Hey @rushatgabhane!

I do agree that the next button should be disabled, but only if the amount is less than or equal to 0, not if it's less than 0.01. I'm not entirely sure, but I think this is still a valid amount to request. If your concern is requesting amounts less than 1 cent, then users would still be able to request amounts like 0.015 etc.

Can you provide more of an explanation as to how

[2021-06-16 10:22] jasperhuangg commented on #3572
Hey @Santhosh-Sellavel!

Do you have a proposal for how you plan to prevent this from happening? I'm thinking it would be something along the lines of filtering out the user both [here](https://github.com/Expensify/Expensify.cash/blob/3ebf6136517de6f9ad101037392e2a0a5954347c/src/pages/iou/steps/IOUParticipantsPage/IOUParticipantsRequest.js#L76) and [here](https://github.com/Expensify/Expensify.cas

[2021-06-16 10:24] jasperhuangg commented on #3571
I think it's better if we close this one out and modify https://github.com/Expensify/Expensify.cash/issues/3572 instead. The fix for both should be extremely similar since the components are set up very similarly, so your proposal should be able to include them both.

[2021-06-16 10:24] #3571 closed

[2021-06-16 10:26] jasperhuangg commented on #3572
@Christinadobrzyn @Santhosh-Sellavel I've closed the other, related issue out and updated this issue to include both Splitting Bills and Requesting Money 👍

[2021-06-16 10:30] jasperhuangg commented on #3598
Yup, Apple uses a different CSS rendering engine from Chrome which can cause issues like this, I can confirm that this doesn't work on Safari on desktop web either.

[2021-06-16 10:57] rushatgabhane commented on #3568
Hi @jasperhuangg !
Amount 0.015 doesn't have this issue.
Anything less than 1 cent is a problem.

## This is the network request that I tracked.

Request for **0.001**, `API.CreateIOUTransaction` returns `405 Invalid amount`
https://www.expensify.com/api?command=CreateIOUTransaction
![image](https://user-images.githubusercontent.com/29673073/122206624-39896580-ceaa-11eb-991e-7bef956e4501.png)

##

[2021-06-16 12:01] Santhosh-Sellavel commented on #3572
Hey @jasperhuangg ,
Do we need to show, user email in search?
If yes we need to just need to restrict action on tap/
else we can filter out the current user email from search.

Let me know how you need to handle, I'll propose with technical solution.

[2021-06-16 12:16] isagoico commented on #3593
So far during regression we've found these 5 issues:
- https://github.com/Expensify/Expensify.cash/pull/3441#issuecomment-861880838
- https://github.com/Expensify/Expensify.cash/issues/3604
- https://github.com/Expensify/Expensify.cash/issues/3603
- https://github.com/Expensify/Expensify.cash/issues/3599
- https://github.com/Expensify/Expensify.cash/issues/3598

We're still testing the regression

[2021-06-16 12:19] isagoico opened #3609 "Payments - Unable to change PayPal account in Setting, green button always enabled."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Click on aviator
4. Go to Settings- Payments
5. Change your PayPal account

## Expected Result:
Able

[2021-06-16 12:27] rushatgabhane commented on #3455
@Jag96 sounds good, react-native-web ^0.16.2 has this issue fixed.
Updating will close this issue.

[2021-06-16 13:26] rdjuric commented on #3546
Thanks @marcaaron and @kevinksullivan!
PR created here #3610

[2021-06-16 13:47] rushatgabhane commented on #3349
Well, I tried. I think the way `KeyboardShortcut.subscribe` is implemented will need to be changed drastically.
https://github.com/Expensify/Expensify.cash/blob/655f9efd75a8357ef2eca1aa847e84ae075dfb3b/src/libs/Navigation/AppNavigator/AuthScreens.js#L148-L151
Becuase this gets triggered on `Command + K`, which is fine but it also gets triggered on `AnyKeyCombination + Command + K`.

## Windows Chr

[2021-06-16 15:50] rushatgabhane commented on #3609
I followed the steps and added new PayPal email.
The green button got disabled.
The button works as intended, at least on main branch.

I'm unable to change PayPal email though.
![image](https://user-images.githubusercontent.com/29673073/122251293-0ad3b500-ced3-11eb-8d83-a7b9ceefef92.png)

[2021-06-16 15:53] roryabraham commented on #3598
I can confirm that manually changing the css property `-webkit-user-select: none` to `-webkit-user-select: text` fixes the problem. However, giving the `textInput` style the property `userSelect: 'text'` does not seem to work. For some reason the property is overridden:

![image](https://user-images.githubusercontent.com/47436092/122252404-2b265400-ce80-11eb-8768-2f287a236c16.png)

I also doubt we

[2021-06-16 15:59] stephanieelliott commented on #2938
Hi @pranshuchittora looks like we are waiting on you to address additional changes. If you are having trouble resolving, please ask for assistance in the #expensify-open-source Slack channel so that the team can help ASAP.

[2021-06-16 16:13] rushatgabhane commented on #3609
## Proposal
In PaymentPage.js
TextInput has a prop `editable` which will be made `true` always.

## This is what I think the expected behavior of button should be.

- Disabled on empty username.
- Enabled after typing a username.
- Disabled after successfully adding a username.
- Button is enabled again if I change the username.
Modify the `isDisabled` prop of Button to get the expected behaviour.

[2021-06-16 16:19] pranshuchittora commented on #2938
Blocker due to TermsWithLicenses component
Slack thread -> https://expensify.slack.com/archives/C01GTK53T8Q/p1623814030375300

[2021-06-16 16:29] roryabraham commented on #3598
It's not pretty, but I've found a solution.

[2021-06-16 16:43] kavimuru opened #3614 "Request money - Endless loading spinner when requesting money from phone number account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the expensify cash app
2. Sign-up to Expensify.cash with a US phone number and validate that account (Account A)
3. Create another account

[2021-06-16 16:43] OSBotify commented on #3614
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-16 16:54] isagoico commented on #3593
Testing is almost finished, adding the summary  in a little bit

[2021-06-16 17:07] isagoico commented on #3593
Regression is finished:
Issues found:
https://github.com/Expensify/Expensify.cash/issues/3598
 https://github.com/Expensify/Expensify.cash/issues/3603
 https://github.com/Expensify/Expensify.cash/issues/3604
 https://platform.utest.com/testcycles/319826/issues/5115961
 https://github.com/Expensify/Expensify.cash/issues/3614
 https://github.com/Expensify/Expensify.cash/issues/3609
 https://github.c

[2021-06-16 17:13] kavimuru opened #3615 "Web - Safari - Request money - Not redirected to paypal.me when clicking pay with paypal CTA"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Prerequisite- Send a payment request to any account
1. Launch the URL and login
2. Click the Pay button
3. Verify that `Pay with Paypal.me` is visib

[2021-06-16 17:26] #3518 closed

[2021-06-16 17:46] parasharrajat commented on #3569
I agree @Jag96. Please let me know when the PR is merged for the backend. Thanks.

[2021-06-16 18:18] marcaaron commented on #3609
Yes there is definitely some kind of regression here. If I had to guess I'd say it's related to the changes here -> https://github.com/Expensify/Expensify.cash/pull/3391/files

@jasperhuangg can you look into this for us?

[2021-06-16 18:19] marcaaron commented on #3609
@trjExpensify let's hold to see what @jasperhuangg says before creating an External issue for this ?

[2021-06-16 18:58] Santhosh-Sellavel commented on #3572
Here is my proposal,
@jasperhuangg

First in both files will add the following lines to retrieve myPersonalDetails as a prop.
`myPersonalDetails:{
            key: ONYXKEYS.MY_PERSONAL_DETAILS,
        },`

Then,

https://github.com/Expensify/Expensify.cash/blob/3ebf6136517de6f9ad101037392e2a0a5954347c/src/pages/iou/steps/IOUParticipantsPage/IOUParticipantsRequest.js#L93

https://github.com/Expens

[2021-06-16 19:00] Santhosh-Sellavel commented on #3614
Duplicate of #3572

[2021-06-16 19:01] mallenexpensify commented on #2430
Created a new post for the issue and raised price to $500. Assigned to me cuz @Jag96 is out for a bit https://www.upwork.com/jobs/~01f895152ca12662bc

[2021-06-16 19:06] Bognar791 commented on #2430
Hello
I have no upwork account, if you are possible could you please post on freelancer.com also?
I can make your app perfectly.

[2021-06-16 19:10] NicMendonca commented on #3599
Posted to Upwork: https://www.upwork.com/jobs/~01b31c0c7bf061f50b

[2021-06-16 19:13] NicMendonca commented on #3380
@Julesssss bump ☝️

[2021-06-16 19:31] NikkiWines commented on #3604
Can reproduce on a sim, going to look into what commit might've introduced this:

<img width="200" alt="" src="https://user-images.githubusercontent.com/16747822/122281045-b0206600-ce9e-11eb-8454-ad650a4b466f.png">

[2021-06-16 19:45] trjExpensify commented on #3609
Yep! 👍

[2021-06-16 19:50] timszot commented on #3603
Haven't been able to reproduce this on my iPhone, using chrome, after 5 tries. I'd say let's close this and see if it reoccurs since I can't reproduce reliably.

[2021-06-16 19:52] timszot commented on #3603
I can't reproduce this on my devices, using chrome. Going to close this out, but please reopen if it is reproducible in the future.

[2021-06-16 19:52] #3603 closed

[2021-06-16 19:54] #3598 closed

[2021-06-16 20:01] isagoico opened #3623 "When sending new chats in Desktop, an old message persists at the bottom"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the desktop app
2. Send some messages

## Expected Result:
New messages should always display at the bottom.

## Actual Result:
When sending

[2021-06-16 20:21] NikkiWines commented on #3604
Exists for me on commit `c5e6da221` (which is the merge commit for https://github.com/Expensify/Expensify.cash/pull/3193) but doesn't exist on `e4bd83e23`, the commit before it. Looks like `src/pages/settings/AddSecondaryLoginPage.js` was modified in that PR too.

![image](https://user-images.githubusercontent.com/16747822/122287054-638c5900-cea5-11eb-8fc6-0786c154012e.png)

cc: @roryabraham looks

[2021-06-16 20:22] isagoico opened #3626 "Tapping up arrow just after sending a message will edit the previous message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Send a message
3. Immediately press the up arrow

## Expected Result:
Describe what you think should've happened

#

[2021-06-16 20:34] Luke9389 commented on #3546
Looks like my assignment happened a little late in this case (after the proposal). Looks like things are going swimmingly here.

[2021-06-16 20:49] jboniface opened #3627 "[GH Actions] Set up caching for npm installs in all our workflows"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

# Problem
We do not perform any caching of node modules in our GitHub Actions, and therefore each time we run `npm ci` it can take up to 5 minutes.

# Why is this import

[2021-06-16 20:51] jboniface commented on #3627
@puneetlath i already exported this to upwork, so you can skip the "external" label and just put "exported" on it after triage

[2021-06-16 20:54] johnmlee101 commented on #3559
@dklymenk  your solution looks good! cc @trjExpensify

[2021-06-16 21:12] trjExpensify commented on #3559
Thanks, John! @dklymenk I've assigned the issue to you and sent the contract in Upwork. Feel free to proceed with submitting a PR for review. Thanks! 👍

[2021-06-16 21:16] isagoico commented on #3593
Starting QA 🚀

[2021-06-16 21:49] isagoico commented on #3614
Mm not sure if the same issue. This is happening with phone number accounts.

[2021-06-16 22:04] Santhosh-Sellavel commented on #3614
Yes, very much a similar use case.

[2021-06-16 22:19] parasharrajat commented on #3604
Thanks, @NikkiWines I think the same. There are issues on the safari M-web and all other platforms are good. I will look into it.

[2021-06-16 22:55] Santhosh-Sellavel commented on #3572
Hey @jasperhuangg ,

Instead of duplicating logic, will add a function in OptionUtils and invoke from both files.

I proposed with `myPersonalDetails` prop.
May be I should use something else?

Please share your thoughts.

[2021-06-16 23:11] roryabraham commented on #3108
Heads up! The `TextInputWithLabel` component was just changed so it can also support a help link next to the label:

![image](https://user-images.githubusercontent.com/47436092/122306514-727f0580-cebd-11eb-84d2-b2b423fe3529.png)

This is something we'll need to consider in this redesign.

[2021-06-16 23:16] shawnborton commented on #3108
I think we should have the ability to have a hint appear underneath the text input, and that seems like a great place for the link.

[2021-06-16 23:36] parasharrajat commented on #3605
### Proposal
1. We add `nativeId`= ``report-dropzone`` to ReportView's main View as we want the chat body to be drop target.

https://github.com/Expensify/Expensify.cash/blob/bb7d3d3f797d0463bf12ddfacdaf25d3ff181ccb/src/pages/home/report/ReportView.js#L32

2. Now we need to update out Drap & drop listener's so that they accept this Id as valid drop target as well as the textInput.

For this, we ne

[2021-06-16 23:50] rdjuric commented on #3623
Nice find! this one was really hard to reproduce.

### Proposal

This happens when we have a `ReportAction` that failed to be delivered to our API (we can see the network error on the crash log). It's hard to reproduce because normally this `ReportAction` is sent to our `NetworkRequestQueue` and retried, but that doesn't happen in all cases. (There's an ongoing conversation about refactoring this

[2021-06-16 23:57] parasharrajat commented on #3248
@isagoico This is fixed https://github.com/Expensify/Expensify.cash/pull/3551

[2021-06-17 00:40] kavimuru opened #3631 "iPad - Login - App freezes after login in landscape orientation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app in landscape orientation
2. Login with valid credentials

## Expected Result:
User should be taken to the home page

## Actual Res

[2021-06-17 00:46] Christinadobrzyn commented on #3605
Sorry, looks like I accidentally unassign Marc to review this - added to review this proposal!

[2021-06-17 01:14] arielgreen commented on #3100
Paid via Upwork.

[2021-06-17 01:14] #3100 closed

[2021-06-17 01:17] kavimuru opened #3633 "Android/iOS - Chat - Long pressing on sent message doesn't open menu properly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Go to any conversation
4. Find your messages and long press

## Expected Result:
The flyout menu sho

[2021-06-17 01:24] marcaaron commented on #3605
Just a heads up that I have some higher priority things to get to and that it might be some time before I can review any proposals.

[2021-06-17 01:24] NikkiWines commented on #3293
Hmm, I _think_ that's fine then... but just to be safe cc: @marcaaron just to be sure we're not going against anything by using `_.once` here.

[2021-06-17 01:28] marcaaron commented on #3293
Let's take it to `#expensify-open-source` ?

[2021-06-17 01:53] TomatoToaster commented on #3245
Ok still had to focus on N7/N5.5 stuff last week and up until now. I still want to work on this because I've got a solution planned for it though so I'll hold onto this for now.

[2021-06-17 02:06] marcaaron commented on #3633
I'm not sure. I haven't recently reviewed anything related to the context menu that could have caused this. Maybe @roryabraham or @parasharrajat have some ideas 🙃

[2021-06-17 02:06] NikkiWines commented on #3419
@rdjuric thanks for your proposal, this actually should be marked `External` so no worries there

We store report history between users in ONYX under `reportActions_##`, so you could probably utilize that to get the IOU requests between users in a chat.

Could you please provide a little more detail as to your implementation?

cc: @Julesssss since you have familiarity with IOUs and might have thou

[2021-06-17 03:10] jasperhuangg commented on #3572
Hey @Santhosh-Sellavel,

That looks good, although you'll probably wanna look into using `ONYXKEYS.SESSION` to get the current user's login. Quick question, why do you feel that it's necessary to convert to lowercase?

Also, there's a separate issue where we'll still move forward with the IOU request if we've typed in an email address that doesn't appear as a search result. Just wanted to clarify

[2021-06-17 04:33] mallenexpensify commented on #2430
Sorry @Bognar791 , we're currently running everything through Upwork and can not additionally post to freelancer.com.  Would it be helpful if we invited you in Upwork to this job?

[2021-06-17 05:02] jasperhuangg commented on #3568
Looks good to me, feel free to get started!

[2021-06-17 05:40] aliabbasmalik8 commented on #3599
@Jag96 I tried this [solution](https://github.com/Expensify/Expensify.cash/pull/3434#issuecomment-859732106) and it's not fixed that issue

I think this was related to this [issue](https://github.com/Expensify/Expensify.cash/pull/3434) so can fix it under that issue.

**PROPOSAL 1**

_**How to fix it?**_

We need to update the below-mentioned functions.

https://github.com/Expensify/Expensify.cash

[2021-06-17 06:29] Santhosh-Sellavel commented on #3572
Hey @jasperhuangg ,
In `userToInvite.login` email value  starts with upperCase.

I don't know exactly why, But I am assume it may due to user typed with upper case.

In my phone when I initiate search first letter is always in upperCase, unless I manually switch it lower (Which I feel unnescessary).

So for the safer side I used  `toLowerCase()`.

`ONYXKEYS.SESSION` - I will check this.

Thanks fo

[2021-06-17 06:52] parasharrajat commented on #3633
Seems a regression, I will check if that is due to my PR but last I checked it was all good.

[2021-06-17 07:45] laurenreidexpensify commented on #3194
Payment has been issued in Upwork @parasharrajat 😃

[2021-06-17 07:45] #3194 closed

[2021-06-17 07:54] jasperhuangg commented on #3626
Writeup looks good, gonna throw this back into the pool 👍

[2021-06-17 08:36] Bognar791 commented on #2430
I can work on this project and I am 100% sure I can make a perfect result.
But a few days ago my uprok account closed.
I can show you my profile on freelancer.com,  and I can work on your
project.
So if we can work outside work, I am very happy.
First i always give result and ask payment. So you also not bad.
Thanks.

On Thu, 17 Jun 2021 at 06:33, Matt Allen ***@***.***> wrote:

[2021-06-17 09:28] rushatgabhane commented on #3627
## Proposal
I'd add caching to all .yml files in .github/workflows which use npm ci.

This is an example of how node packages in test.yml would be cached.
https://github.com/Expensify/Expensify.cash/blob/5394fc8c55f860e98d926076cbac8221fea790b7/.github/workflows/test.yml#L19-L24
[code]

[2021-06-17 09:59] rushatgabhane commented on #3627
I think we should cache CocoaPods and ruby gems too.

[2021-06-17 10:39] laurenreidexpensify commented on #3419
@NicMendonca I'm OOO til 5 July, so am reassigning my chores. Thanks.

[2021-06-17 10:40] laurenreidexpensify commented on #2670
@stephanieelliott I'm OOO til 5 July, so am reassigning my chores. Thanks.

[2021-06-17 10:41] laurenreidexpensify commented on #2279
@arielgreen I'm OOO til 5 July, so am reassigning my chores. Thanks.

[2021-06-17 10:47] Julesssss commented on #3380
Ah sorry, I missed this. I have shared a question [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1623926796395800), to get additional opinions on whether we should make this change or not. Let's await responses before moving forward.

[2021-06-17 10:50] mikeattara commented on #3627
Hello @puneetlath and @jboniface,

I have worked on two GitHub Actions here and would like to take on this job.

__My proposal__:
Use the actions/cache to cache our dependencies following [this guide](https://docs.github.com/en/actions/guides/caching-dependencies-to-speed-up-workflows)

Please let me know if I can provide any further information.

Thank you.

[2021-06-17 11:35] rushatgabhane commented on #3568
Can you send job link to apply so that I can create a pull request?
Ofc I'll apply after my current PR is merged.

[2021-06-17 11:45] #3346 closed

[2021-06-17 12:02] Beamanator commented on #3614
Some logs related to the fail:

[code]

-> Looks like we passed `reportID: 'NaN'` from e.cash

[2021-06-17 12:19] Beamanator commented on #3614
`Report_GetHistory` is only called by `fetchActions`.

`fetchActions` is only called in `ReportActionsView` in `componentDidMount`, where `this.props.reportID` is `null`
- Confirmed with `[info] [ReportActionsView] component did mount ~~ parameter: '{"reportID":null}'`

`ReportActionsView` is rendered by `ReportView` (`reportID` passed down directly), which is rendered by `ReportScreen`
- `reportI

[2021-06-17 12:58] dklymenk commented on #3559
Hello, the PR is ready - https://github.com/Expensify/Expensify.cash/pull/3634

Thanks.

[2021-06-17 13:52] parasharrajat commented on #3633
Sorry, one of the files got deleted in pulling the latest changes which caused this. PR is up.

[2021-06-17 13:56] Julesssss commented on #3419
The problem here is that paginated chat means that we will only be able to retrieve iouReports for those actions that were included in the paginated response -- so we'll need a new API. I think we'll need to persist the full iouReport data for each report here, as creating a new collection for a further simplified report object makes things even more complicated. Because of this, we should also pl

[2021-06-17 14:31] parasharrajat commented on #3419
@Julesssss What I think is that strategy should be as follows:
1. When the report is loaded we could have a few IOUreports already loaded which I think would be the latest as we load chat in reverse chronological order.
2. So when a user opens the page, we show already loaded reports and a loader underneath while we hit the API and get the data. We can keep this data in memory until the lifetime o

[2021-06-17 14:35] roryabraham commented on #3600
This will also fail if the issue title contains any single quotes

[2021-06-17 14:36] parasharrajat commented on #3600
It just needs text escaping which should escape every invalid and special char in bash.

[2021-06-17 14:42] roryabraham commented on #3598
Verified that this is fixed on staging, checking it off the list

[2021-06-17 14:50] Julesssss commented on #3419
Yeah, they might do but we can't guarantee it. If a user has an active IOU that will be stored locally, as well as any paid IOU reports that they have clicked view details on, and any that haven't been cleared out.

Driving views from a non-Onyx, in-memory source is new and something I believe we would want to avoid. Do you have any ideas for how we could do this via Onyx? I think we would prefer

[2021-06-17 14:56] isagoico opened #3636 "mWeb - User is able to open several action menus for messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash in mobile web
2. Navigate to a chat
3. Press and hold to trigger the action menu in several messages.

## Expected Result:
Actio

[2021-06-17 15:00] Beamanator commented on #3614
Ok what I'd prefer is fixing this in E.Cash, so here's what I'm planning:
- [ ] Make sure valid email address phone number logins always get passed to the api
- [ ] Make sure errors are thrown in `CreateIOUTransaction` (in the api) if invalid `debtorEmail` is passed
- [ ] Gracefully handle said errors in e.cash

[2021-06-17 15:04] isagoico opened #3637 "Scrollbar appears in the middle of conversation '"View details" option"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Install 1.0.70 build
2. Login with gmail account B
3. Open Chat with account C
4. Click the tab "View Details"
5. Scroll down the "Details" tab

[2021-06-17 15:04] parasharrajat commented on #3419
yeah. Overall thinking. Onyx should be the way. Don't know about storage eviction in Onyx yet.

[2021-06-17 15:06] parasharrajat commented on #3636
@isagoico My bad here. It will be fixed in https://github.com/Expensify/Expensify.cash/pull/3635.

[2021-06-17 15:08] isagoico commented on #3593
Regression is finished!
Issues found:
- https://github.com/Expensify/Expensify.cash/issues/3637
- https://github.com/Expensify/Expensify.cash/issues/3636
- https://github.com/Expensify/Expensify.cash/issues/3633
- https://github.com/Expensify/Expensify.cash/issues/3631

PRs are finished too:
1 comment added:
1. https://github.com/Expensify/Expensify.cash/pull/3606#issuecomment-862784780

Thanks!

[2021-06-17 15:12] Julesssss commented on #3419
I don't think it's fully proven yet to be honest. It looks to me like the storage eviction works for all objects of a specific key/collection -- but we need to ensure that certain objects are excluded.

[2021-06-17 15:15] parasharrajat commented on #3419
Yeah, we may need to build a wrapper around the Onyx or maybe in onyx itself.

[2021-06-17 15:15] mallenexpensify commented on #2712
Paid w/ Bonus in Upwork for originally reporting the issue. Thanks @parasharrajat!

[2021-06-17 15:17] Julesssss commented on #3419
@NikkiWines I think we'll be blocked here on both the new API and Onyx storage eviction. Maybe let's hold for now?

[2021-06-17 15:39] roryabraham commented on #3593
Got a fix for https://github.com/Expensify/Expensify.cash/pull/3606 incoming

[2021-06-17 15:57] Beamanator commented on #3614
In `OptionsListUtils` it looks like [this](https://github.com/Expensify/Expensify.cash/blob/main/src/libs/OptionsListUtils.js#L343-L345) creates a `login` without an `@expensify.sms` domain (just whatever the user types - as long as it's a phone number), which gets passed into `userInvitePersonalDetails`, which passes to `userToInvite`, which gets used in `IOUParticipantsSplit` and `IOUParticipant

[2021-06-17 16:10] roryabraham commented on #3627
Yep, I've worked with @mikeattara on some GitHub Actions stuff in the past, so @jboniface feel free to hire him for this job on Upwork. @mikeattara Once you've been hired on Upwork, feel free to submit a PR. Please request a review from me when the PR is ready.

[2021-06-17 16:12] roryabraham commented on #3593
PR is [here](https://github.com/Expensify/Expensify.cash/pull/3638)

[2021-06-17 16:13] roryabraham commented on #3604
@parasharrajat Any information here?

[2021-06-17 16:40] mikeattara commented on #3627
Thanks, @roryabraham, I will do that!
@jboniface my Upwork [profile](https://www.upwork.com/freelancers/~01fb888bd6f17ccb22).

[2021-06-17 16:48] parasharrajat commented on #3604
Checking all the safari issues now. I will try to fix them one by one.

[2021-06-17 17:13] jboniface commented on #3627
all set

[2021-06-17 17:16] michaelhaxhiu commented on #3055
Payment will be sent tomorrow.

[2021-06-17 17:20] michaelhaxhiu commented on #3218
Payment sent.

[2021-06-17 17:20] #3218 closed

[2021-06-17 17:30] roryabraham commented on #3593
Please don't add the lock label yet - I am testing something

[2021-06-17 17:42] roryabraham commented on #3593
Manually added https://github.com/Expensify/Expensify.cash/pull/3612 because this checklist is currently broken

[2021-06-17 18:06] roryabraham commented on #2985
@kidroca Sounds great as a first step. So let's do that first and then discuss.

However, I think it's also in-scope for this job to test the web beta (i.e: point E.cash at the latest commit on [this PR](https://github.com/GetStream/react-native-bidirectional-infinite-scroll/pull/16))? If it doesn't work and we can create a reproducible test case, then that's valuable information to provide to the

[2021-06-17 18:11] Beamanator commented on #3614
FYI this exists on all platforms, so I updated the name & OP

[2021-06-17 18:15] roryabraham commented on #3593
Update: Hoping [this PR](https://github.com/Expensify/Expensify.cash/pull/3647) will fix the deploy checklist and prevent us having to manually update it in the future.

[2021-06-17 18:23] rushatgabhane commented on #3615
Hi! After some digging, I understood what the problem is. Will need your input for the proposal.

## The problem
Safari blocks any call to Linking.openURL() which is made inside an async.

https://github.com/Expensify/Expensify.cash/blob/d9fb50e12efcd3bf74909d69accc2308b0f8e999/src/libs/actions/IOU.js#L215-L216

## Proposal
If browser is Safari, open a new empty tab using `window.open()` and store

[2021-06-17 18:40] Beamanator commented on #3614
PR Incoming...

[2021-06-17 19:03] Santhosh-Sellavel commented on #3572
Hey @jasperhuangg,

In [OptionsListUtils.js]
(https://github.com/Expensify/Expensify.cash/blob/3ebf6136517de6f9ad101037392e2a0a5954347c/src/libs/OptionsListUtils.js)

<img width="656" alt="Screenshot 2021-06-18 at 12 15 43 AM" src="https://user-images.githubusercontent.com/85645967/122455766-616fea80-cfca-11eb-80af-ea8151ce53ad.png">

`currentUserLogin` is already available here
https://github.com

[2021-06-17 19:06] roryabraham commented on #3593
Update: now hoping [this PR](https://github.com/Expensify/Expensify.cash/pull/3650) will fix the deploy checklist 😓

[2021-06-17 19:17] Luke9389 commented on #3631
I can't take this right now. Super busy today/ this week.

[2021-06-17 19:24] #3559 closed

[2021-06-17 20:02] Santhosh-Sellavel commented on #3572
Hey @jasperhuangg,

Another case for this issue,

When using email for sign in,
`currentUserLogin` had value: `something@mail.com`
and searchItem result Item userToInvite.login also had the same value`something@mail.com`.

But for mobile,
`currentUserLogin` has value: `+91XXXXXXX5X3@expensify.sms`
and searchItem result Item `userToInvite.login` also had the value `+91XXXXXXX5X3`.

it doesn't work

[2021-06-17 20:03] roryabraham commented on #3593
Okay, the @isagoico the checklist should start behaving more as it should, and should not need to be manually updated with deferred PRs anymore. There's maybe a few issues remaining, but I can create follow-ups for those.

[2021-06-17 20:07] isagoico commented on #3593
@roryabraham That's great news! so we should be good to start QA now right?

[2021-06-17 20:12] roryabraham opened #3662 "Implement better pagination for our GitHub Actions"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Context
Our GitHub Actions interact with the GitHub API but lack pagination.

## Action Performed:
There's not super clear reproduction steps here, but when [generati

[2021-06-17 20:36] Santhosh-Sellavel opened #3663 "Email validation status not getting updated in profile page, after verification with mobile number"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
**The user had signed up for an account, using a mobile number, in the mobile app:**
- Signup with mobile number first.
- After mobile number verifi

[2021-06-17 20:40] Luke9389 commented on #3631
Verified that this is not occuring on iOS in general.

[2021-06-17 21:12] roryabraham commented on #3593
@isagoico Yep 👍

[2021-06-17 21:28] rdjuric commented on #3631
Looks like a regression caused by https://github.com/Expensify/Expensify.cash/pull/3515

iPad (and android tablets) will be enter [this](https://github.com/Expensify/Expensify.cash/blob/512352d7ba2810f461656d9bd9eb1090c64e94e6/src/components/Popover/index.js#L13-L26) conditional and crash because document.body is undefined on native.

Maybe we should make a index.native.js for the Popover here? cc

[2021-06-17 21:42] parasharrajat commented on #3631
Somebody deleted the native file which got merged while pulling the latest changes. Fix is already up to #3635.

[2021-06-17 21:54] roryabraham commented on #3569
The API change has been deployed to production.

[2021-06-17 21:54] mvtglobally commented on #3593
Starting QA

[2021-06-17 23:19] jliexpensify commented on #3601
Hi @isagoico - I wasn't able to test this on your version, as I have 1.0.71-0. Here's a video of the search feature - it seems to be working and I don't think it's slow (personally):

https://user-images.githubusercontent.com/30815269/122483349-b7b64b00-d015-11eb-96aa-47d9b588cdd4.mp4

Do you think we can close this GH?

[2021-06-18 00:42] marcaaron commented on #3601
Investigating this now.

[2021-06-18 01:01] marcaaron commented on #3593
Heads up I've checked off the following PRs related to the project behind the `freePlan` beta as we do not need them QA'd yet thanks!

#3611
#3612
#3620

[2021-06-18 01:28] marcaaron opened #3671 "Randomly Logged Out of Desktop App"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Was idling. Got logged out.

## Expected Result:
Stay logged in.

## Actual Result:
Logged out.

## Workaround:
Sign back in

## Platform:
 Desktop

[2021-06-18 01:29] marcaaron commented on #3671
Looks possibly related to the app trying to update itself.

[2021-06-18 02:01] puneetlath commented on #3524
Removing the external label for now. @Dal-Papa feel free to re-add it when you're ready.

[2021-06-18 03:17] rdjuric commented on #2846
### Proposal

We have the following markdown styles in our expensify-common/ExpensiMark: [bold](https://github.com/Expensify/expensify-common/blob/c3465bf615390a2844087ec7f2343b0607ea484c/lib/ExpensiMark.js#L136), [italic](https://github.com/Expensify/expensify-common/blob/c3465bf615390a2844087ec7f2343b0607ea484c/lib/ExpensiMark.js#L128), [strikethrough](https://github.com/Expensify/expensify-comm

[2021-06-18 07:23] kidroca commented on #2985
Good idea
Can we just make the scope of the current task clear.
I'll will use the latest code (from the PR) to make a POC, it should work for web, but _"If it doesn't work and we can create a reproducible test case"_ - I'm not sure what that involves and who's expected to do it, but it sounds like extra work
- is it a part of this ticket?
- create a reproducible test case -> does this mean to crat

[2021-06-18 07:44] kidroca commented on #2762
Can we post any updates regarding payment
- When should I expect to receive payment for this task?

cc @mallenexpensify (Tagging You as I see your name in the Upwork job)

[2021-06-18 08:25] laurenreidexpensify commented on #3671
@NicMendonca melvin loves giving me assignments 5min before OOO 😅 reassigning thanks

[2021-06-18 09:29] dklymenk commented on #3626
Hello, I am the developer that implemented the feature originally. The messages become editable only after client receives the `reportActionID` from BE. This didn't seem like an issue because the context menu you see when you hover over the message doesn't allow edit until it has a `reportActionID` too. In fact, we have even abstracted the check into a `canEditReportAction` function that is I beli

[2021-06-18 10:17] #2531 closed

[2021-06-18 10:24] MonilBhavsar commented on #3637
Can we know on which environment, device and iOS version this issue is occurring.

[2021-06-18 10:24] Beamanator commented on #3614
Unassigning b/c I'm going to be OOO a few days - PR above ^ should be enough to close this out 🙏

[2021-06-18 10:41] #3560 closed

[2021-06-18 10:56] Julesssss commented on #3637
Weirdly I'm unable to reproduce this issue on `1.0.70-0` a physical iPhone 8 running iOS 11. Perhaps this is specific to a certain iOS version?

https://user-images.githubusercontent.com/10736861/122550886-2900f880-d02c-11eb-96e0-5c21c6a5e9a2.MP4

[2021-06-18 11:27] isagoico commented on #3637
Issue was reproduced in Apple iPhone XS Max - iOS 14.0.1

[2021-06-18 12:00] Julesssss commented on #3380
[Looks like nobody](https://expensify.slack.com/archives/C01GTK53T8Q/p1623926796395800) has a strong feeling towards this change, so I suggest we just close the issue. If someone feels strongly enough to provide a good reason we can reopen again.

[2021-06-18 12:00] #3380 closed

[2021-06-18 12:01] Julesssss commented on #3380
@NicMendonca would you mind closing the UpWork issue?

[2021-06-18 12:34] MonilBhavsar commented on #3637
Changing priority to weekly since occurring on specific combination of iOS version and device

[2021-06-18 12:37] isagoico opened #3672 "User is being signed out after some time has passed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Use the app daily
2. Leave user signed in and then come back after a while

## Expected Result:
User should not be signed out

## Actual Result:

[2021-06-18 12:43] MonilBhavsar commented on #3637
Since it's not a universal bug, though of looking at React Native issues and found an issue similar to [this](https://github.com/facebook/react-native/issues/26610) which is still open.
Someone also commented -

[2021-06-18 12:44] MonilBhavsar commented on #3637
Good to go in the pool

[2021-06-18 12:45] dklymenk commented on #3513
I tried to find an app on my phone that allows me to select a destination folder, I couldn't find one. All of them save the files to their own folders, some use the downloads directory. Also there are not many resources online on this particular topic in regards to react-native.

However, very recently a `pickDirectory` method has been [merged](https://github.com/rnmods/react-native-document-picke

[2021-06-18 12:50] isagoico opened #3673 "LHN - HTML encoding is visible in chat switcher"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Send the following message
[code]
3. Open the chat switcher and see the message.

## Expected Result:
HTML should n

[2021-06-18 12:59] bfitzexpensify commented on #3631
Thanks for the quick PR @parasharrajat! Upwork job has been [posted](https://www.upwork.com/jobs/~019696ec2a59ae8f68) and I've sent a hire request to you for the job.

[2021-06-18 13:03] Julesssss commented on #3637
I see two potential fixes in that issue: [1](https://github.com/facebook/react-native/issues/26610#issuecomment-646553211) & [2](https://github.com/facebook/react-native/issues/26610#issuecomment-539843444).

Maybe we should open this issue up to contributors

[2021-06-18 13:34] rdjuric commented on #3637
### Proposal

I've confirmed that setting `scrollIndicatorInsets={{ right: 1 }}` works correctly and has no meaningful difference on iOS != 14 and Android.

Also, this happens in our other modals too. So adding this to our `BaseModal` is a good ideia.

[2021-06-18 13:41] isagoico commented on #3593
**Regression** is finished.
No issues found today.

**PRs** are finished too:
2 comments added:
1. https://github.com/Expensify/Expensify.cash/pull/3515#issuecomment-863901739
2. https://github.com/Expensify/Expensify.cash/pull/3606#issuecomment-863889139

Crash is still reproducible for https://github.com/Expensify/Expensify.cash/pull/3606

Leaving the Lock label for a while just in case a prod d

[2021-06-18 14:06] Julesssss commented on #3637
I think that either would be fine, but perhaps the `SafeAreaView` fix would be preferred as we already use `SafeAreaView` elsewhere in the app?

[2021-06-18 14:13] bfitzexpensify commented on #3637
[Job post](https://www.upwork.com/jobs/~0121bf874b53b6e93e) on Upwork.

[2021-06-18 14:14] bfitzexpensify commented on #3637
Ah, many thanks GH for the appropriate assignment

[2021-06-18 14:16] jboniface commented on #2985
@kidroca tbh, I was going to raise the value on this job right before you accepted it, and it does sound like more work than i originally proposed, so I'll just throw a bonus on and double the payout for you when it's done. Just link back to this comment if I forget somehow and we'll figure it out.

[2021-06-18 14:18] jboniface commented on #2985
So to answer your question:

- is it a part of this ticket?

Yes, but I'll pay you more for it

[2021-06-18 14:18] Julesssss commented on #3637
@rdjuric please go ahead with the proposal.

I think Safe area would be preferable. If that doesn't work the scrollIndicator fix is also fine, but could you include a comment linking to the RN issue. Thanks!

[2021-06-18 14:30] parasharrajat commented on #3631
Thanks, @bfitzexpensify.

[2021-06-18 14:31] rdjuric commented on #3637
Ok, I'll make a few more tests and if it works equally well I'll use `SafeAreaView` in the PR. Including the issue in a comment is a good idea!

@bfitzexpensify I just sent the upwork proposal too

[2021-06-18 14:57] #3614 closed

[2021-06-18 16:27] alex-mechler commented on #3608
cc @marcaaron and @tgolen since you worked a lot with the network queue early on. I remember we had reasons for going with a queue, rather than a direct approach like this, but they are escaping me atm. Do you remember?

[2021-06-18 17:08] parasharrajat opened #3677 "Context Menu and hover menu is visible on message being Edited"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any conversation on E.cash
2. Click Edit message from the context menu on any message.
3. Now right click on the message being edited or hov

[2021-06-18 17:13] parasharrajat commented on #3677
### Proposal

We need to block the context menu by adding a condition here https://github.com/Expensify/Expensify.cash/blob/baba3b9c129f054b3adc92579f6f270854832edb/src/pages/home/report/ReportActionItem.js#L167
[code]
 then to block the hover menu here https://github.com/Expensify/Expensify.cash/blob/baba3b9c129f054b3adc92579f6f270854832edb/src/pages/home/report/ReportActionItem.js#L261

[code]

[2021-06-18 17:34] roryabraham commented on #2985
Ideally this would be part of the ticket, but I would say it's not a hard requirement. It's tough to comment on this because I don't know how complex the potential issue would be to diagnose and/or reproduce. If there is some very complex or major issue, then maybe that would be a sign we don't want to try and move forward with the library. But if it's something basic with a simple reproduction, t

[2021-06-18 17:53] mallenexpensify commented on #1517
Paid in Upwork with bonus for reporting the issue.  Thanks @anthony-hull !

[2021-06-18 17:57] marcaaron commented on #3608
The main reasons for using the queue (as far as I know) are to support the offline features. So, if you are offline the request you attempted to make is placed in the queue and then processed once you are back online.

That said, I can't really think of any benefit to having a write queue that is getting processed in a loop every seconds (even when empty). I have some other priorities to get to an

[2021-06-18 18:01] #3631 closed

[2021-06-18 18:01] #3633 closed

[2021-06-18 18:01] #3636 closed

[2021-06-18 18:04] roryabraham commented on #3593
Removed the label

[2021-06-18 18:55] kidroca commented on #2985
Thanks, I think you can assign me the ticket in gitlab as well

[2021-06-18 19:18] bondydaa commented on #3677
nice yep I agree with the bug and seems like the provided solution should work though I'm not super well versed in the cash repo just yet.

I've added the external label so someone from our contributor management team will get assigned and should be able to get the job posted in upwork.

[2021-06-18 19:36] chiragsalian commented on #3615
Hmm, it's really weird that `Linking.openURL` is not working as expected on safari.  If that's the case is there any chance you can investigate and fix this upstream in `react-native-web`. Then we wouldn't need a hacky fix in e.cash.

[2021-06-18 19:49] aliabbasmalik8 commented on #3673
Not produced
![image](https://user-images.githubusercontent.com/31027036/122609821-9d4b9400-d04c-11eb-8489-ae6c4d735a52.png)

[2021-06-18 19:50] cead22 commented on #3608
This is correct

What are the real-world user facing consequences of this? afaik this doesn't slow anything down. In fact we check if we're online and if the network queue has anything in it and if not, we return early. I imagine this whole code runs in single-digit milliseconds if not a fraction of a millisecond

Can you reproduce?

This logic is also built into the network queue

This logic can

[2021-06-18 19:50] rushatgabhane commented on #3615
It isn't an issue with Linking.openURL()
Safari blocks any popup opened in an async call.

More info here
https://expensify.slack.com/archives/C01GTK53T8Q/p1623955103415500?thread_ts=1623955103.415500&cid=C01GTK53T8Q

[2021-06-18 20:12] jboniface commented on #3677
posted and sent an invite for the job directly to @parasharrajat since he posted the bug and proposal

[2021-06-18 20:14] jboniface commented on #3677
as a note @parasharrajat i just added the bug finder bonus directly to the contract amount so we don't forget to pay it to you

[2021-06-18 21:53] mvtglobally commented on #3593
starting QA

[2021-06-18 23:23] chiragsalian commented on #3615
Discussing on slack.

[2021-06-18 23:24] roryabraham commented on #3068
This is fixed. 🎉 See [this issue](https://github.com/Expensify/Expensify.cash/pull/3630#issuecomment-863695981) as evidence 🙂

[2021-06-18 23:24] #3068 closed

[2021-06-18 23:33] roryabraham commented on #3047
Raised the proposal to store _only_ markdown in [this slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1621271828230000).

[2021-06-18 23:36] kevinksullivan commented on #3546
Yeah sorry @Luke9389 this proposal came before the job post.

[2021-06-18 23:47] mallenexpensify commented on #2762
Thanks for the ping @kidroca it was my responsibility and I missed it (we previously didn't leave Contributor Managers assigned to issues, we now do).
I paid in Upwork and added the bonus for writing the OP. Thanks!

[2021-06-18 23:49] mallenexpensify commented on #3626
@jasperhuangg can you confirm that a Contributor can work on this? And, if so, add the `External` label? Thanks.

[2021-06-18 23:59] kevinksullivan commented on #2121
Sorry I missed this one. I also think it is ok for the conversation to remain if it disappears once no longer "active". That said I think consistency across platforms is important here. @isagoico does iOS immediately disappear?

[2021-06-19 00:00] mallenexpensify commented on #3380
grumble, grumble (meaning... it's maybe helpful to allow for arrows to navigate but with the ability to use tab then it's likely far from necessary)

[2021-06-19 00:03] kevinksullivan commented on #3323
https://www.upwork.com/jobs/~01b905fa59a688b29f

[2021-06-19 00:48] parasharrajat commented on #3323
### Proposal
1. We are using PanRasponder over the Composer to close it but it lacks two basic checks.
2. First we should only close the keyboard when the user is swiping down.
3. Second, We need to increase the swipe distance, as optional we can also check for the velocity of the swipe so that if a user is swiping fast , only then close it.
To fix the above problem at base we need to do the follo

[2021-06-19 02:58] kavimuru opened #3691 "Android - Chat - App crashes when sending 2 emojis consecutively"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the App
2. Log in with any account
3. Select any user
4. Go to compose box and click on Emoji menu
5. Select any emoji and send it
6. Clic

[2021-06-19 02:59] OSBotify commented on #3691
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-19 10:26] isagoico commented on #2846
Seems like markdowns for:
- Bold
- Strikethrough
- Italic
- Code
Are affected by this.

[2021-06-19 10:39] isagoico opened #3692 "Android - Payment -Missing the dropdown for payment option, so Pay with Venmo isn't visible"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Sign-up to Expensify.cash with a US phone number and validate that account (Account A)
2. Create another account with a different US phone number

[2021-06-19 11:13] dklymenk commented on #3691
The issue is caused by the fact that `onSelectionChange` of RN's `TextInput` in only called if the component is focused (a cursor is active). Since cursor is not active after selecting an emoji, sending a message will clear the input, but won't update the selection state. Then, in this state, if you try to add an emoji to clear input, the math for calculating the new selection will yield an invali

[2021-06-20 12:56] FredericoGauz commented on #3662
I will try to increase the number of pages retrieved by pagination or work on a recursive solution. I cannot guarantee this solution will work because it might be the case that Github prevents greater then 100 item numbers.

Here is an example with a different github api but similar case:
https://stackoverflow.com/questions/18148490/how-can-i-get-more-than-100-results-from-github-api-v3-using-gith

[2021-06-20 13:41] FredericoGauz commented on #3381
Hello,

I was checking this issue in the web version of the expensify.cash and noticed that the chat messages are deeply nested in divs. My first action towards fixing this issue would be trying to streamline this chat to make sure there are less areas of conflit between the messages.

However, if I also remember it right, it is an expensify policy not to have different code for web/android/ios et

[2021-06-20 16:26] parasharrajat commented on #2846
@puneetlath Based on the input of isagoico. I confirm that the same solution (previously posted https://github.com/Expensify/Expensify.cash/issues/2846#issuecomment-857091830) will work for all types of markdown rules.
We just need to negate the space before the main symbol. So here are the changes.
#### Bold
```/\B\*(.*?)[^\s]\*\B(?![^<]*(<\/pre>|<\/code>|<\/a>))/g```
#### Italic
```/(?!_blank">)

[2021-06-20 17:01] parasharrajat commented on #3569
@Jag96 If this is still available for external. Then we just need to convert the Integer from API response to boolean before saving it to Onyx.

https://github.com/Expensify/Expensify.cash/blob/408b7e00cf33c16600af0b67b819c764fcb5388a/src/libs/actions/User.js#L72
TO
[code]

[2021-06-20 17:41] parasharrajat opened #3694 "Unread Action is not synced with other devices."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open E.cash on Device A.
2. Login with User A on Device A.
3. Open E.cash on Device B.
4. Login with user A on device B.
5. Open any chat on devi

[2021-06-20 17:49] parasharrajat commented on #3694
### Proposal
1. We need to Subscribe to UnreadAction on Report in `subscribeToUserEvents`.
https://github.com/Expensify/Expensify.cash/blob/408b7e00cf33c16600af0b67b819c764fcb5388a/src/libs/actions/Report.js#L649
2. But first we need to check if the backend is sending notifications to Such a Pusher event.
3. If the backend is sending that, then we subscribe to it as follows.
[code]

[2021-06-20 21:17] isagoico commented on #3593
Just noticed I didn't send the summary yet:
**Regression** is finished
Issues found:
1. https://github.com/Expensify/Expensify.cash/issues/3692
2. https://github.com/Expensify/Expensify.cash/issues/3691

**PRs** are finished too:
No comments added
Only 2 PR are missing to check off because of https://github.com/Expensify/Expensify.cash/pull/3567#issuecomment-863896507

Thanks!

[2021-06-21 02:07] Christinadobrzyn commented on #3605
Still reviewing!

[2021-06-21 07:02] kadiealexander commented on #2258
@parasharrajat Just wanted to check if you're still interested in this issue?

[2021-06-21 07:44] parasharrajat commented on #2258
@kadiealexander Sorry, it got slipped out of my mind. I will submit the proposal today and start work asap.

[2021-06-21 08:41] #3677 closed

[2021-06-21 09:26] Viacheslav80 commented on #3381
Hi! it seems that the problem is in prop inverted of FlatList

[2021-06-21 11:08] isagoico commented on #2705
Issue reproducible today during KI retests.

[2021-06-21 11:08] isagoico commented on #3041
Issue reproducible today during KI retests.

[2021-06-21 11:09] isagoico commented on #3172
Issue reproducible today during KI retests.

[2021-06-21 11:09] isagoico commented on #3297
Issue not reproducible today during KI retests. (First week)

[2021-06-21 11:13] isagoico commented on #3354
Issue not reproducible today during KI retests. (First week)

[2021-06-21 11:13] isagoico commented on #3609
Issue reproducible today during KI retests.

[2021-06-21 11:15] isagoico commented on #2499
Issue reproducible today during KI retests.

[2021-06-21 11:15] isagoico commented on #2121
Issue reproducible today during KI retests.

[2021-06-21 11:22] isagoico commented on #2121
Yes, iOS has the same behaviour. So when I reproduced the issue I think this may be the expected behaviour. The conversation does disappear when you navigate to another conversation. On mobile it looks like you're navigating away but you need to navigate to another conversation to "close" the other one.