[2021-07-02 23:09] NikkiWines commented on #3841
Adding the `Help Wanted` label, as I'm not sure if the proposal has been accepted or if we're still accepting new proposals (please remove the label if it has!)

[2021-07-02 23:10] Luke9389 commented on #3841
I'm still reviewing the above proposal, but I suppose it's fine for others to chip in with their own.

[2021-07-02 23:10] NikkiWines commented on #3790
Adding the Help Wanted label, as it looks like we're still looking for proposals here (please remove the label if we're not!)

[2021-07-02 23:12] NikkiWines commented on #3743
Adding the Help Wanted label, as it looks like we're still accepting new proposals on this one (please remove the label if it's not applicable)

[2021-07-02 23:14] Luke9389 commented on #3841
Ok, @rushatgabhane, I'm gonna give you the go-ahead to start this PR, and then we can discuss specific code changes on the PR itself. Generally speaking, I agree with your approach to set up a selectedParticipants state variable and to reference that rather than the props.selectedParticipants.

[2021-07-02 23:18] kevinksullivan opened #3876 "Change "Settled Up With Expensify" report comment to "Settled up!" when using "Pay with Expensify""
### **Problem**
Following up on [this post](https://expensify.slack.com/archives/C03U7DCU4/p1625163144431200), our current report comment when settling up in-app is "Settled up with Expensify". Since we expect the vast majority of users to use our in-app payment method, the "Expensify" is a bit overkill.

![image](https://user-images.githubusercontent.com/22508290/124335627-e3cee180-db68-11eb-99cc

[2021-07-02 23:18] Luke9389 commented on #3876
Thx @kevinksullivan for making this issue!

[2021-07-02 23:19] rushatgabhane commented on #3841
Sounds good

[2021-07-02 23:56] marcaaron commented on #3875
# Problem

NewDot has a scaleability issue that will affect our future ability to add expense reports, threads, unlimited chats etc. This is already rearing its head internally as the LHN can take 5 or more seconds to update with new data when returning from background. We are working on partially solving this problem through a continuous background data trickle effect (h/t @roryabraham), but it s

[2021-07-03 02:07] Jag96 commented on #2846
Reopening to keep track of payment

[2021-07-03 04:41] dklymenk commented on #3743
@iwiznia

There are a few issues at play here.

1. Since all this Onyx stuff is async, we'll never get up-to-date information in context of one function, where an `Onyx.merge` call updates something in local storage. The values that are updated via `Onyx.connect` subscribers outside that function will only be updated after the function finished execution.

Let's say we move my suggested code (incl

[2021-07-03 15:00] roryabraham commented on #3875
Great investigation @marcaaron!!!

Hmmmm, doesn't your new plan eliminate the need to loop over `reportActions` to count them, because it utilizes the fact that the number of actions in the report is the sequence number of the newest action + 1?

Maybe what we could do is build a map on the report level (and actually save it to the DB) called `debts` that would:

1) Be updated whenever an IOU is c

[2021-07-04 02:45] sophiepintoraetz commented on #3859
Thanks @isagoico for the context! @MitchExpensify - can you confirm this or did I miss something, as I thought all issues were to go through the triage > engineering flow?

(this might actually be tying into what John S is looking into)

[2021-07-04 04:16] rushatgabhane commented on #3841
@iwiznia I'm calling `API.CreateIOUSplit`

Can you tell how to pass the list of emails?
Because it's not documented as a param in `API.CreateIOUSplit`.

[2021-07-04 06:08] garudamon commented on #3381
**Proposal**

The problem caused by when we use inverted without reversing the style. And this proposal I change the style so the selection is not jumping, and the result of the copy was expected and not weird. You can check on the video I have attached.

**Video**

https://user-images.githubusercontent.com/42667275/124374633-40481300-dcc7-11eb-8b33-35a63aeced9c.mov

**Solution**

<script src="htt

[2021-07-04 06:42] parasharrajat commented on #3381
@garudamon

The fix is needed to be patched in RN.

[2021-07-04 07:38] garudamon commented on #3381
maybe this just my opinion, but patching the RN rather than fixing the logic will potentially trigger another issue without proper and consecutive testing in the future

[2021-07-04 09:57] aliabbasmalik8 commented on #3783
@chiragsalian This issue only produced on `iPhone 11 IOS 14.4` for me, so before raising PR want to confirm. is it also produced for others on the same platform?

[2021-07-04 17:12] michaelhaxhiu commented on #3819
@Prince-Hamza did you want to propose the full solution to take this job? All good if not, just wanted to check!

[2021-07-04 17:16] Prince-Hamza commented on #3819
Yes i can give full solution. Can you explain what you want.

[2021-07-04 19:28] parasharrajat commented on #3819
Please find the Proposal https://github.com/Expensify/Expensify.cash/issues/3819#issuecomment-871426534. Thanks

[2021-07-04 19:52] michaelhaxhiu commented on #3819
@parasharrajat yep we have your proposal as the first one.

[2021-07-05 01:55] Christinadobrzyn commented on #2430
Closed the Upwork project and created a new one for a fixed price of $500.

New External Job posting - https://www.upwork.com/jobs/~014c28539e8f6e82f2

[2021-07-05 02:37] Prince-Hamza commented on #3819
this might be the full solution
`
componentDidMount = () => {
  Main()
}
getMyTimeZoneString = async () => {
  resp = await fetch('https://ipwhois.app/json/');
  user = await resp.json();
  return user.timezone // Asia/Karachi
};

function convertTZ (date, tzString) {
    return new Date((typeof date === "string" ? new
    Date(date) : date).toLocaleString("en-US",
    {timeZone: tzString}));
}

M

[2021-07-05 06:33] shubhamgrover93 commented on #3798
Hi,
Thanks for the invitation. I would like to share a solution for this task.
We can use a component of React Native (country-picker-modal) with the help of which, the user would be able to select a country. Once a particular country is selected, its country code will be displayed in the given field and then the regular phone digits could be added.

There's an alternative to achieve this with cus

[2021-07-05 06:35] shubhamgrover93 commented on #3798
Hi,
Thanks for the invitation. I would like to share a solution for this task.
We can use a component of React Native (country-picker-modal) with the help of which, the user would be able to select a country. Once a particular country is selected, its country code will be displayed in the given field and then the regular phone number digits could be added.

There's an alternative to achieve this w

[2021-07-05 07:54] SofiedeVreese commented on #3838
Ok I accepted your proposal in Upwork @parasharrajat !

[2021-07-05 07:58] SofiedeVreese commented on #3867
Hey @aditya27dev can you a proposal with the technical explanation of the changes you will make in this GH here? thanks!

[2021-07-05 08:00] ObasiGodstime commented on #3798
@shubhamgrover93 did you really have to use my video 😄😄

[2021-07-05 09:37] isagoico commented on #3825
Yep we were unable to reproduce this anymore. Closing the issue.

[2021-07-05 09:37] #3825 closed

[2021-07-05 09:42] isagoico commented on #3297
Issue reproducible during KI retests.

[2021-07-05 09:43] isagoico commented on #2705
Issue reproducible during KI retests.

[2021-07-05 09:43] isagoico commented on #3041
Issue reproducible during KI retests.

[2021-07-05 09:43] isagoico commented on #3172
Issue reproducible during KI retests.

[2021-07-05 09:43] isagoico commented on #3609
Issue reproducible during KI retests.

[2021-07-05 09:45] isagoico commented on #2499
Issue reproducible during KI retests.

[2021-07-05 09:46] isagoico commented on #2662
Issue reproducible during KI retests.

[2021-07-05 09:46] isagoico commented on #3838
Issue reproducible during KI retests.

[2021-07-05 09:46] isagoico commented on #3248
Issue not reproducible during KI retests (Third week) - Closing

[2021-07-05 09:46] #3248 closed

[2021-07-05 09:47] isagoico commented on #3355
Issue reproducible during KI retests.

[2021-07-05 09:47] isagoico commented on #3296
Issue reproducible during KI retests.

[2021-07-05 12:44] Beamanator commented on #3819
I'm taking this one @tgolen , I just added `Exported` since the job was already posted in Upwork

[2021-07-05 12:48] trjExpensify commented on #3609
PR is up, just waiting on being deployed to staging.

[2021-07-05 13:06] Beamanator commented on #3819
@parasharrajat Thanks for the proposal, I like your use of `moment-timezone` and subscribing to `ONYXKEYS.PERSONAL_DETAILS` in `ReportActionCompose` definitely makes sense. I have one comment: Can you clarify how steps 5 and 6 from your proposal will affect your implementation? I'm guessing you're planning to check `hasMultipleParticipants` so this field will only show up for 1:1 DMs, not group DM

[2021-07-05 13:25] isagoico commented on #3802
https://github.com/Expensify/Expensify.cash/pull/3766#issuecomment-874112857 Checking it off!

[2021-07-05 13:30] anthony-hull commented on #2734
The exact UX isn't agreed.
https://github.com/Expensify/Expensify.cash/pull/3414/files

The following props are set for TextInputs are used for passwords:
[code]
When `textContentType` is set to `password` in the props of ExpensiTextInput:
src/components/ExpensiTextInput/index.js
I will add an SVG of an eye or whatever icon I'm given to the input. Above or inside the input depending on the designs

[2021-07-05 13:46] kidroca commented on #3482
@isagoico @Julesssss
I'm not sure why this ticket is still open
I'm not working on anything related to Currencies

[2021-07-05 13:50] parasharrajat commented on #3819
@Beamanator Yes. `hasMultipleParticipants` will be true for Group DMs only. For 1:1 it will contain other user's email.

[2021-07-05 13:53] isagoico commented on #3482
Not sure either. I just rechecked the issue in Web and it's not happening anymore. Closing the issue (@Julesssss please feel free to reopen if this issue was open for other reason)

[2021-07-05 13:53] #3482 closed

[2021-07-05 14:07] rdjuric commented on #3296
Is this issue still available @kevinksullivan? Looks like it has the same root cause as #3849

1. Since `TextInput` doesn't grow by default, we copy what we type in it to a hidden `Text` component, and use the width of that `Text`  in our `TextInput`. We do this in our [TextInputAutoWidth](https://github.com/Expensify/Expensify.cash/blob/main/src/components/TextInputAutoWidth.js).
2. To hide the `

[2021-07-05 14:18] Beamanator commented on #3819
@parasharrajat right, I'm trying to get you to confirm that you _will_ or _will not_ show timezones for Group DMs :)

[2021-07-05 14:28] parasharrajat commented on #3819
No Time will only be shown for 1:1 DM . i.e. when hasMultipleParticipanta is false.

[2021-07-05 14:28] trjExpensify commented on #3349
Completed the contract on Upwork. Thanks, @rushatgabhane!

[2021-07-05 14:28] #3349 closed

[2021-07-05 14:31] Beamanator commented on #3819
Perfect, just making sure we're understanding each other. Thanks @parasharrajat - please submit a PR when you have a chance and apply for the job in Upwork!

[2021-07-05 14:32] aditya27dev commented on #3867
Hi @SofiedeVreese Sorry I can't share technical changes here publicly which is a inappropriate way of doing a job.

But I can work on this task, if you hire me.

[2021-07-05 14:35] kidroca commented on #2667
Here's some benchmark information so far:

## Setup
- Device: Samsung Galaxy S7 Edge (Released 2016) Android 8.0
- Build mode: production (also JS __DEV__ = false)
- Operations run in sequence one after the other

## Before AsyncStorage updates

### 10, 000 Operations
![image](https://user-images.githubusercontent.com/12156624/124481073-947af200-ddb0-11eb-8cea-961a97cce4a5.png)

### 50, 000 Operat

[2021-07-05 15:06] parasharrajat commented on #3476
Few Question:
1. Do I need to make only phone numbers are tappable and no emails?
2. Taping on the Number will trigger the dialer on Mobile. What would be the web behavior, I suggest hovering will show a tooltip that says Copy Number?

In case we want to make emails tappable as well.
1. Mobile will open the mail prompt. Should the web show copy to the clipboard?

[2021-07-05 15:15] Beamanator commented on #3108
@kakajann I added the `Design` label to assign someone from the Design team to look at the PR - looks like @sylveawong is the lucky one :) Also @kakajann could you remove `[WIP]` from your PR title if it's ready for review, and assign pullerbear?

[2021-07-05 15:29] haseebrehmanpc commented on #3783
**PROPOSAL:**
There are multiple people who already have posted the answers but just for the explanations I will first try out with outline: 'none' in CSS. If its not working for any reasons I will jump to solution two which is to use :focus and regular CSS methods specifically for this. Third thing I can try is to get the ref of this node and use JavaScript code to apply CSS forcefully.

[2021-07-05 15:39] twisterdotcom commented on #3476
I will defer to @chiragsalian and @iwiznia, but I agree with you @parasharrajat. Please let's not auto-open mail clients on web/desktop. I prefer "Copy to clipboard".

[2021-07-05 16:52] isagoico commented on #3802
https://github.com/Expensify/Expensify.cash/pull/3742 Was also a pass!

@roryabraham This checklist has a lot of PRs that were added when the Lock Label was on. Let us known if we should test them. Also All deploy blockers (so far) have been resolved 🎉

[2021-07-05 16:54] MitchExpensify commented on #3859
Yes thats right @sophiepintoraetz ! What issue is John working on?

[2021-07-05 17:10] parasharrajat commented on #3819
I have few questions:
1. Do we need to always show the user's time? What is the expected behaviour? I am not able to determine the exact behaviour of slack to correlate.
2. Now as time is a real-world thing so it should update at every moment to be correct. Do you want me to put a timer for this time if we are always going to show this?

[2021-07-05 17:24] iwiznia commented on #3841
The `splits` param is an array of objects that contain `amount` and `email`, so you can already specify with who the split is.

[2021-07-05 17:34] rushatgabhane commented on #3841
Alright, the splits are being passed correctly.
But the comment still lists all the participants of the group.

[2021-07-05 17:48] Luke9389 commented on #3798
Hey contributors, thanks for the proposals thus far. You've really all been saying the same thing, which is that you want to use a package to make this list. We're not gonna go that route. I've updated the description of this issue to indicate that. I'm gonna give @aliabbasmalik8 a day or two to respond because it was his original comment that lead to the creation of this issue.

[2021-07-05 17:55] francoisl commented on #3822
Thanks Matt for the video, that makes it clearer. I can't reproduce on v1.0.75-5 (staging version atm). Let's see if you guys can still reproduce when it's promoted to the production version, but it seems like it's already resolved.

[2021-07-05 18:01] Luke9389 commented on #3798
I also put this on hold to wait for [this](https://github.com/Expensify/Expensify.cash/pull/3414) to be merged.

[2021-07-05 18:05] shawnborton commented on #3108
I don't mind grabbing this one as @kakajann already tagged me in the PR.

[2021-07-05 18:30] kidroca commented on #2667
The relatively fast times got me to double check, what versions are used where and I've discovered that E.cash is using a version of `AsyncStorage` that was abandoned by the community

E.cash and Onyx use: `"@react-native-community/async-storage": "^1.11.0"` which resolves to `v1.12.1` the latest version you'll ever get from that repository
https://github.com/Expensify/Expensify.cash/blob/854c9bf0

[2021-07-05 19:13] quinthar commented on #2667
Wow, amazing find.  Yes, let's not invest in abandoned code.  Let's definitely redo the benchmark with the latest and greatest.

[2021-07-05 20:44] Beamanator commented on #3819
It seems like Slack only shows the other user's local time if their time is out of normal business hours, according to [the linked Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1617805410415600?thread_ts=1617771939.406800&cid=C01GTK53T8Q). Can you ask there for exact implementation details? (ex: show the user's local time if it's not 9am - 5pm there, or show their timezone always

[2021-07-05 21:32] #3874 closed

[2021-07-06 00:49] Christinadobrzyn commented on #2430
Invited a few contributors to review the project and see if they are interested.

[2021-07-06 07:06] rushatgabhane commented on #3785
Awesome!
## Proposal
Create a new prop `pressOnEnter` for the component `Button`.

When the prop is used, it adds an event listener for `Enter` and submits by calling `props.onPress()`.

So, for all the pages like request payment, add workspace etc.
Pass the prop `pressOnEnter` to their buttons.

Since `Button` is a functional component, the react hook `useEffect` will be used to add eventListener

[2021-07-06 10:24] kidroca opened #3884 "[Optimization] Report Actions View"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

This is a list of possible optimizations in the `ReportActionsView` component

#### ReportActionItem.onLayout
https://github.com/Expensify/Expensify.cash/blob/36a336400e

[2021-07-06 10:27] isagoico opened #3885 "Focus styling is not consistent throughout the app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to e.cash
2. Focus any of the text boxes around the app

## Expected Result:
Focus styling should be the same in all the app.

## Actual

[2021-07-06 10:35] aliabbasmalik8 commented on #3885
It can be handle in [this](https://github.com/Expensify/Expensify.cash/pull/3414) PR.

[2021-07-06 10:38] isagoico opened #3886 "URL - Change `%3AreportID` to actual `reportID`"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to e.cash
2. Click on FAB menu
3. Click on Split bill or request money

## Expected Result:
Report ID number should be displayed in URL

[2021-07-06 12:31] rdjuric commented on #3886
I think it shouldn't show any reportID, since when we request/split money from the FAB it's not specific to any report (we have to chose during the flow).

So maybe just changing
`getIouRequestRoute: reportID => "iou/request/${reportID}"` to deal differently with cases where the reportID is null?

[2021-07-06 12:38] rdjuric commented on #3886
I think it really shouldn't show any reportID when we open the modal. When we split/request money from the FAB it isn't associated with any report, we have to chose it during the flow.

So maybe just changing our [Navigation inside the FAB](https://github.com/Expensify/Expensify.cash/blob/36a336400efc060df2ebc21d74ca1ee19ee5afff/src/pages/home/sidebar/SidebarScreen.js#L128) to use our
`getIouReque

[2021-07-06 12:49] aliabbasmalik8 commented on #3798
@Luke9389 would like to work on this when this issue will reopen.

Thanks

[2021-07-06 13:30] Dal-Papa commented on #3572
Hey @Santhosh-Sellavel sorry for the delayed response, I was trying to find a way for you to get your own `accountID` from your login but it doesn't seem to exist. I think your proposal is fine. Feel free to throw some ideas and we can chat internally if that sounds good.

[2021-07-06 13:39] parasharrajat commented on #2705
Sorry for delay here. Working on the PR today.

[2021-07-06 15:03] quinthar commented on #3884
All of these are great, but I think we should focus on what it takes to cold boot, and switch to a cold chat. Scrolling backwards is good, and large images are good, but those feel less important than the mainline case of just making the chat itself load fast when you open the app.

[2021-07-06 15:23] rushatgabhane commented on #3886
Yeah, this't an issue.
Just remove the ID maybe, change it to /iou/split.

[2021-07-06 15:30] shawnborton commented on #3885
Yeah, I feel like @kakajann 's PR for text input styles is going to solve this right?

[2021-07-06 15:33] kakajann commented on #3885
@shawnborton absolutely

[2021-07-06 15:56] thienlnam commented on #3885
Going to assign the issue to @kakajann since it seems like the PR you have up should resolve this issue

[2021-07-06 15:57] marcaaron commented on #3886
Yes, that's the intended behavior! The problem is we are trying to navigate explicitly to `iou/request/:reportID` and the parameter is not marked as optional. Anyways, I found this bug and fixed it last week without creating a PR so I will leave myself assigned

[2021-07-06 15:59] tgolen commented on #2667
Yeah, I agree. That's a good find, I had no idea it was abandoned. Let's
first see if we can upgrade to the latest version, ensure there are no
regressions, and then start benchmarking on that.

On Mon, Jul 5, 2021 at 1:13 PM David Barrett ***@***.***>
wrote:

[2021-07-06 16:17] michaelhaxhiu commented on #2545
Still waiting on https://github.com/Expensify/Expensify.cash/issues/2985

[2021-07-06 16:51] kidroca commented on #3884
From my experience the the chat loads fast but rendering can cope with the data
rendering attachments might play a bigger role than we think
keep in mind that even though you're on LHN a chat is being pre-rendered underneath, we can experiment and disable that to see the effects on speed and whether the app would be fast enough to populate a chat and slide it in as it is selected

[2021-07-06 17:18] michaelhaxhiu commented on #3819
Instead of `9:50pm Local time`, let's use the format `It's 9:50 PM for Tom` as discussed [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1625559881478500?thread_ts=1617771939.406800&cid=C01GTK53T8Q) in slack.

[2021-07-06 17:19] kidroca commented on #2667
I've updated my fork of Onyx with the latest AsyncStorage and did the same with E.cash
I've runned with enabling `next` (Room) and without it, but I can't see any noticeable improvements
- btw (next/Room) would affect Android only as it's just for that platform

I'll post some before/after benchmark data of E.cash init

In the meantime do you want me to open a PR to update Onyx and E.cash with the

[2021-07-06 17:22] deetergp commented on #2734
Your proposal makes sense and sounds good, @anthony-hull. Thanks!

@puneetlath I am unsure of the next step, since this has not been posted on Upwork.

[2021-07-06 17:33] marcaaron opened #3889 "[Performance] Grafana logs don't seem to make sense anymore"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Checked Grafana and key metrics appear to be wildly inaccurate

## Expected Result:
That logs would more or less be the same as before with perhaps

[2021-07-06 17:45] puneetlath commented on #2734
Created the Upwork job and invited @anthony-hull to it: https://www.upwork.com/jobs/~01f52f49fe3707fca2

[2021-07-06 18:18] marcaaron commented on #3889
Took a quick look here and I'm not too sure what's happening. The way Graphite timings work in the front end we store a local map of timing values and then clear them on sign out.

https://github.com/Expensify/Expensify.cash/blob/36a336400efc060df2ebc21d74ca1ee19ee5afff/src/libs/actions/Timing.js#L4-L13
https://github.com/Expensify/Expensify.cash/blob/36a336400efc060df2ebc21d74ca1ee19ee5afff/src/l

[2021-07-06 18:56] iwiznia commented on #3841
Ohhhh, ok yeah, the comment is wrong when you don't pass all splits. We can fix that in the API layer, for now, you can work on this and leave the comment wrong. I will create an issue for me to fix this.

[2021-07-06 18:58] chiragsalian commented on #3783
@aliabbasmalik8, good question. Let's ask @isagoico, any idea which mobile version had the issue, and was the issue also reproducible on Android mobile web?

[2021-07-06 19:21] cead22 commented on #3875
This sounds like a good idea to me, especially if we can do it in auth

I haven't thought about this that much, but I wonder if it makes sense to create a new api call `chatSummaryList` (eg, `command=Get&returnValueList=chatSummaryList`) like the one we have for policies, specifically to populate the LHN of e.cash.

In that command we could return a list of reports with
- Participants and avatars

[2021-07-06 19:29] chiragsalian commented on #3476
I would like it if both were tappable.

My suggestion for this would be this icon on web next to the phone number / email, if the user clicks on it then it would copy it.
![image](https://user-images.githubusercontent.com/14356145/124655852-453acd00-de55-11eb-97f9-9dbe1cd0ee08.png)

Yup for mobile opening the mail prompt sounds good. And yeah for web as per my earlier suggestion let's show copy to

[2021-07-06 19:35] marcaaron commented on #3875
@roryabraham I'm not sure if we can get out of counting them because sequence numbers are generated dynamically after we query the `reportActions` table and it hands us a big list of `reportActions` from various reports. Maybe there's a better way or a fancy query we can use. It took 47ms to loop over 80k actions so it also may not be worth optimizing yet.

@cead22 I _really_ like the idea to have

[2021-07-06 20:26] arielgreen commented on #2279
Paid.

[2021-07-06 20:28] arielgreen commented on #3862
@jliexpensify reassigning, I'm ooo.

[2021-07-06 20:30] chiragsalian commented on #3875
➕ 1️⃣ . Would love to see us move the logic of participants, avatars, simplified report object etc away from ecash to mostly auth and PHP to get exactly the minimum of what ecash needs.

[2021-07-06 20:33] tgolen commented on #2667
Yeah, go ahead and do a PR to update that lib. Even if it's not totally
abandoned, I think we want to keep whichever is the most active and the
most generally accepted as "official".

On Tue, Jul 6, 2021 at 11:19 AM Peter Velkov ***@***.***>
wrote:

[2021-07-06 20:34] arielgreen commented on #2662
Reopening, will close again upon payment.

[2021-07-06 20:37] arielgreen commented on #3568
Paid + bonus for proposing _and_ solving the issue.

[2021-07-06 20:37] #3568 closed

[2021-07-06 20:41] arielgreen commented on #2973
Paid.

[2021-07-06 20:41] #2973 closed

[2021-07-06 20:51] anthony-hull commented on #2734
I accepted the job on UW. I can start work with what I have. But in parallel:
Ideally I would like an eye icon of two states provided by your designers.
I see you have:
![image](https://user-images.githubusercontent.com/47184118/124664661-b3a67c00-dea3-11eb-9d0b-455cb01eb3eb.png) in Expensify.cash\assets\images

But I think we need a toggled state with the eye closed to show the different hidden/s

[2021-07-06 21:18] roryabraham commented on #3297
Sending this back into the pool. This does need to be internal since the fix needs to be applied in Mobile-Expensify, but it's not super high priority.

[2021-07-06 21:53] Jag96 commented on #3790
@roryabraham just bumping here, should this issue be held on https://github.com/Expensify/Expensify.cash/issues/3047?

[2021-07-06 21:59] puneetlath commented on #2734
@Expensify/design anyone able to help with icons for this?

[2021-07-06 22:01] parasharrajat commented on #3790
I still think it's better to save the markdown and directly render it to HTML when needed. `react-native-render-html`s author has also put this idea https://expensify.slack.com/archives/C01GTK53T8Q/p1625507632443500.

[2021-07-06 22:04] kidroca commented on #2985
An interesting article on Discord react-native optimization
https://blog.discord.com/how-discord-achieves-native-ios-performance-with-react-native-390c84dcd502#4fc0

Key points:
The article claims that this library worked fast and almost covered their need back then
https://github.com/Flipkart/recyclerlistview -> covers web as well
Might be worth checking it out since it's still maintained and upd

[2021-07-06 22:20] Jag96 commented on #3775
Tested and paid!

[2021-07-06 22:20] #3775 closed

[2021-07-06 22:25] Jag96 commented on #2447
I'm unable to reproduce, since this wasn't reproducible by QA I'm going to close, feel free to reopen if this happens again!

[2021-07-06 22:25] #2447 closed

[2021-07-06 22:27] rdjuric commented on #3849
Looks related to #3296 and #3355

[2021-07-06 22:27] marcaaron commented on #3875
Quick update. Did some more benchmarking today. This time, I tried @cead22's idea and removed all processing in PHP as well (so this is just a single call to Auth with C++ returning the final JSON to NewDot via Web-E) and got the 6.8 second request down to < 1.5 seconds. It could possibly be optimized further still as I used `Report::getJSONList()` which returns some unneeded things.

![2021-07-06

[2021-07-06 22:32] quinthar commented on #3875
I'm having a little trouble following this conversation.  Can you please do a quick summary of what your results imply, and what we should do with them?

[2021-07-06 22:55] marcaaron commented on #3875
We are unnecessarily fetching and re-fetching the `report.reportActionsList` for every chat you have when:
    - we sign in or boot the app
    - reconnecting / refreshing data

We don't need to send this data as it's not used for anything.
Sending this data is very inefficient.

Only send the minimum information required to build the LHN, calculate unreads, etc.

[2021-07-06 23:03] shawnborton commented on #2734
I can grab this quick as we already have the icon, I just need to export it to an SVG:
![image](https://user-images.githubusercontent.com/2319350/124676575-a2de1200-de73-11eb-941a-d808949eabab.png)

[2021-07-06 23:03] quinthar commented on #3875
Very cool!  And specifically, you are suggesting a new Auth command that
just returns the specific minimum details?

On Tue, Jul 6, 2021 at 3:55 PM Marc Glasser ***@***.***>
wrote:

[2021-07-06 23:08] shawnborton commented on #2734
Here is the svg: [eye-disabled.svg.zip](https://github.com/Expensify/Expensify.cash/files/6773210/eye-disabled.svg.zip)

[2021-07-06 23:13] marcaaron commented on #3875
Yep! That's where we've landed!

[2021-07-06 23:26] roryabraham commented on #3802
@isagoico Sorry for the delayed response, I have a PR up to hopefully fix the recent regressions with the deploy checklist. All the PRs in the current state of the checklist have been deployed, and I removed others that were added in error.

So tomorrow, let's plan on leaving the lock label in place and running a regular QA cycle. If there are no deploy blockers, we can run a production deploy as

[2021-07-07 00:04] marcaaron opened #3892 "Remove SleepTimer as it is error prone and rely on Pusher instead"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Normal app usage

## Expected Result:
The app should only re-fetch data when necessary

## Actual Result:
@quinthar noticed that the desktop app was

[2021-07-07 00:04] marcaaron commented on #3892
I think we're still looking for a reproduction on this one.

[2021-07-07 00:08] roryabraham commented on #3599
I'm sorry @aliabbasmalik8, I am having a lot of difficulty understanding your last comment. First, can you help me understand the race condition you're describing, and why not trimming the `newDraft` fixes it? Maybe with an example?

[2021-07-07 00:11] marcaaron opened #3893 "Do not re-subscribe to Pusher when clicking on desktop notification"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Clicking on a desktop web (Chrome) notification

## Expected Result:
Does not unsubscribe then re-subscribe to Pusher

## Actual Result:
It seems to

[2021-07-07 00:15] marcaaron commented on #3893
My best guess is that this issue is related to how we are navigating to a report.

https://github.com/Expensify/Expensify.cash/blob/e78340b3e9a3e4fea6dd3f75dcbc32b79c63cc7b/src/libs/actions/Report.js#L618-L624

https://github.com/Expensify/Expensify.cash/blob/e78340b3e9a3e4fea6dd3f75dcbc32b79c63cc7b/src/libs/Navigation/Navigation.js#L58-L64

If we are already on the report we should either reveal

[2021-07-07 00:19] chiragsalian commented on #3875
Nope, I'm all for it. You mentioned you got the request time down which is great but I'm also curious if there is a way to calculate how fast this improves the JS side of things since there should be a lot fewer loops to construct the report and personalDetails if the back end just gives it to us.

[2021-07-07 00:23] marcaaron commented on #3875
I can look into the `personalDetails` a bit to see. I am not sure there would be much difference on the JS side for the report mainly because all we do with them is:
 - count them
 - grab the last action
 - see if there are any IOU actions (and this is maybe the one time we loop)

[2021-07-07 01:00] roryabraham commented on #3790
@Jag96 https://github.com/Expensify/Expensify.cash/issues/3047 is about taking HTML that we've saved, and converting it to markdown for editing. I _think_ this issue is different. I don't know for sure how copying formatted text works, but my guess is that both the plain-text and formatted (html) versions of the text are copied to the clipboard. If that's correct, I think we just need to make sure

[2021-07-07 01:41] Jag96 commented on #3790
From [this comment](https://github.com/Expensify/Expensify.cash/issues/3790#issuecomment-871834496) it sounds like it's just HTML that is being copied at the moment, and after copying formatted HTML from e.cash into Notepad on mac it looks like some of the HTML is pasted.

| E.cash (copied) | Notepad (pasted) |
|---|---|
| ![image](https://user-images.githubusercontent.com/3981102/124686788-90ba9e

[2021-07-07 02:00] roryabraham commented on #3790
Ah, you're right! Imo this is a problem. We should be able to type html and have it displayed as formatted html. Just like how markdown _and_ plain HTML work in GitHub.

[2021-07-07 02:12] quinthar commented on #3790
To clarify, you aren't saying that you can just type formatted HTML
into the compose box and expect it to work, right?  I do not think that is
a goal, or even a good feature.

On Tue, Jul 6, 2021 at 7:00 PM Rory Abraham ***@***.***>
wrote:

[2021-07-07 04:04] Christinadobrzyn commented on #3893
Testing this to better understand what needs to be fixed.

- sign-in in to e.cash at www.expensify.cash in Chome browser
- Allow Chrome browser notifications for www.expensify.cash
- Start convo with someone
- When I get a push notification > check the chat to see if the chat has loaded to match the recent message
- Chat loaded (with delay) to show the recent message > I couldn't see anything in t

[2021-07-07 07:26] SofiedeVreese commented on #3838
Payment scheduled for July 14.

[2021-07-07 07:34] dklymenk commented on #3893
Hello, I am not 100% certain about logs referenced in the first post, but here is how I reproduced the issue:
1. Login into account A and account B from separate browsers/tabs.
2. Send a message from account A to B.
3. Wait a few seconds.
4. Open tab/browser with account B.
5. Accept the notification permission modal.
6. Go back to account A browser and send a message.
7. Activate the notification

[2021-07-07 07:48] rdjuric commented on #3893
@marcaaron I don't think there's a way to keep the history in our Drawer without reseting the navigation state. We could try:
-  Nesting a `StackNavigator` in our `DrawerNavigator`
- Writing a [custom router](https://reactnavigation.org/docs/custom-routers/) based on the [Drawer router](https://github.com/react-navigation/react-navigation/blob/main/packages/routers/src/DrawerRouter.tsx) that deals

[2021-07-07 07:50] parasharrajat opened #3895 "[HOLD for payment July 19] Web: “Edit Photo” dropdown menu in `Settings > Profile` does not launch from the bottom of the button and ends up covering the profile photo"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Expensify.cash on web browser (or desktop app)
2. Click on profile photo
3. Click on Profile
4. Click `Edit Photo`.

## Expected Result:
 Th

[2021-07-07 08:16] Santhosh-Sellavel commented on #3572
@Dal-Papa

I couldn't able to find you in slack group. Ping me there, we can discuss more over there.

[2021-07-07 08:24] parasharrajat commented on #3790
As per Rory's suggestion.

### Proposal
1. Allow pasting of HTML directly into the TextInput on the web. For this, we control the paste event on  TextInputFocusable https://github.com/Expensify/Expensify.cash/blob/c956587ba3a27d39308b13d95e6ad9bdd0ed4f89/src/components/TextInputFocusable/index.js#L145.
2. We create another method here that handles image pasting first via `checkAttachment` and then

[2021-07-07 09:04] SofiedeVreese commented on #3867
Hey @aditya27dev per our [contributing guidelines](https://github.com/Expensify/Expensify.cash/blob/main/CONTRIBUTING.md), we do require contributors to make a proposal for their solution and post it as a comment in the corresponding GitHub issue. The solution proposal should include a brief technical explanation of the changes proposed. We don't hire if the contributing guidelines aren't being fo

[2021-07-07 10:26] laurenreidexpensify opened #3897 "[HOLD for payment 2021-10-13] [P2P in E.cash] Add Debit Card Page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

1. Add a new file `Pages/Settings/Payments/AddDebitCardPage.js`
2. Add a new method to API.js `addBillingCard(data)` which calls the *Web-Secure* command `User_AddBillin

[2021-07-07 12:15] parasharrajat commented on #3895
### Proposal
1. We have to update the `anchorPosition`, `animationIn' & `animationOut` for the PopoverMenu in ProfilePage.
[code]
2. this.state.editAvatarIconPosition will be calculated as we do for other menus in the app.
3. Now to horizontally center the menu below the edit Photo button we have to use `PopoverWithmeasuredContent` instead of on Popover in the BasePopovermenu.
4. Carefully, adjust

[2021-07-07 13:30] kidroca commented on #2667
I've posted a comparison of `Onyx.get` timings per each AsyncStorage version: https://github.com/Expensify/react-native-onyx/pull/85#issuecomment-875604980
- no noticeable improvements when using the `Room` version

[2021-07-07 13:48] isagoico opened #3899 "Desktop - Notification badge is still displayed even when there are no unread messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. On the desktop app open all unread messages.

## Expected Result:
Notification badge should not be displayed if the user doesn't have unread mess

[2021-07-07 13:53] Looxor commented on #3601
@nickmurray47 , Can you please provide a demo user credential to check "Search" and "New chat" with many users?
I have one, but it's only one user and I have no idea to create members for testing.
Thank you.

[2021-07-07 14:04] isagoico commented on #3783
I was able to reproduce the issue in iOS **mWeb (Chrome)** for build 1.0.75-5 in the search text box.

<img src="https://user-images.githubusercontent.com/44479856/124773090-e781b000-df3c-11eb-9c52-b335b3c6d3ef.png" width="40%">

On Android mWeb it was not reproducible

[2021-07-07 15:23] bfitzexpensify commented on #2540
Given this was first reported >2 months ago and has resolved for Sara, I'm going to close this and the UW posting until we have new reports of this occurring.

[2021-07-07 15:23] #2540 closed

[2021-07-07 15:31] thienlnam commented on #3867
Throwing a new title on this since discussion is still ongoing in the slack thread, to view or participate check it out [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1625092068290500)

[2021-07-07 16:03] mvtglobally commented on #3802
Starting QA

[2021-07-07 17:04] alex-mechler commented on #3899
@puneetlath Are you able to reproduce this at all? If you are what are the steps.

Do you have console logs for when this happens? You can open it with [these steps](https://stackoverflow.com/c/expensify/questions/7811).

As is, there isnt really much we can go off of, which would make this exceedingly hard to debug, let alone fix

[2021-07-07 17:06] nickmurray47 commented on #3480
Going to unassign and can pick back up later. We've had login issues that are hard to reproduce and this issue seems to fall into that category.

[2021-07-07 17:07] jboniface commented on #2985
@roryabraham do you have any thoughts on how we can move this forward in the short term? Threads functionality is currently blocked on this (as well as comment linking in general).

(as a quick aside, the RND work was paid out)

[2021-07-07 17:43] aliabbasmalik8 commented on #3783
I submit the proposal for the JOB on upwork.

Thanks

[2021-07-07 17:51] marcaaron commented on #3623
Maybe we should bring this to Slack for discussion?

There is no way for us to action a proposal like this without figuring out...

1. What the alternative should be
2. How it should work
3. Whether we'll need to make back end changes
4. etc...

As far as the scope of this issue...

- A bug was reported that a message is stuck without being sent
- It's not reproducible

So to solve this issue we'd

[2021-07-07 17:53] nickmurray47 commented on #3601
@Looxor can you please post the same question in the #expensify-open-source channel first? Someone there might already have set up an account for you to use. If no one is available to assist then I can help from there. Thanks.

[2021-07-07 18:28] marcaaron commented on #3893
@dklymenk that proposal is half of the story as we need to control the drawer + dismiss any modals

@rdjuric I'm inclined to agree with you here. And the proposal sounds like it's moving in the right direction (perhaps we can find a better way still in the review). I do wish there was a simpler way, but keeping some semblance of browser history is also a priority for us.

[2021-07-07 18:58] roryabraham commented on #3790
Okay, if we _do_ move forward with this plan, we'll want to be sure to strip `<script>` and `<iframe>` tags. Maybe others too.

into the compose box and expect it to work, right?  I do not think that is
a goal, or even a good feature.

Yeah, so I tend to disagree. I love how in GH we can fallback on regular HTML. And it's basically free to implement – as @parasharrajat suggested we just need to st

[2021-07-07 19:28] kidroca commented on #2667
I've made more benchmarks on the AsyncStorage benchmark app, but this time I copied some of my report actions to use as values
I've used a large text item 149kb (250+ chat messages) and a smaller item of 9kb
But again this didn't slow it down much when reading/writing sequentially
- 149kb are written in 31ms on average, while 9kb are written for 24ms
- reading happens about twice as fast 16ms and

[2021-07-07 19:53] kidroca commented on #2667
Room is part of androidx: https://developer.android.com/jetpack/androidx
- `androidx.room` https://developer.android.com/reference/androidx/room/package-summary

As such I think it's a solid choice and a nice improvement for AsyncStorage, furthermore even without JSI the benchmarks I've made prove that AsyncStorage can be fast, the bottleneck seems to be parallel handling and not database accessin

[2021-07-07 20:02] tgolen commented on #2667
Hm, I'm finding it a little hard to tell where you're at with everything. Maybe you could convert the original description into a checklist and then check off the ones that are done or can't be completed?

If I had to guess, it sounds like you're done with point `3`, but haven't done point `4`, yet. Is that right? And maybe the reason that point 4 isn't done is that we haven't found any winning co

[2021-07-07 20:08] roryabraham commented on #3844
Still _hopefully_ will do this week, but I think this warrants `Weekly` priority instead of `Daily`.

[2021-07-07 20:37] kavimuru opened #3900 "Android - Attachments Preview - Header overlaps Android top status bar"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. Send an image as attachment
3. Click on it in order to have larger preview

## Expected Result:
Preview is shown and there are n

[2021-07-07 20:38] mikeattara commented on #3897
Hello @laurenreidexpensify,

I would love to work on this task.

__Proposal__:
1. Add a new file `Pages/Settings/Payments/AddDebitCardPage.js`
2. Add a new method to API.js addBillingCard(data) which calls the Web-Secure command `User_AddBillingCard`
3. The “Add Debit Card” button should send the data to a new method in `actions/PaymentMethods addBillingCard()`
     - This method should call API.a

[2021-07-07 20:44] kavimuru opened #3901 "[Hold for Payment - Sep 7th] Web - Attachments Preview - Zooming in the edges of an image will lead to white spaces"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. Send an image as attachment
3. Click on it in order to have larger preview
4. Click on any edges in order to zoom it

## Expecte

[2021-07-07 20:52] marcaaron commented on #3892
I noticed this on dev and turned verbose logging on. Pretty sure there is something wrong with the clock timer logic we have based on this...

![Screen Shot 2021-07-07 at 10 50 05 AM](https://user-images.githubusercontent.com/32969087/124827060-4af5e880-df11-11eb-8311-ec57fad39432.png)

It exists to make sure we refetch reports when re-opening a laptop, but maybe there's a better way to go about i

[2021-07-07 21:12] kidroca commented on #2667
1. Create a standalone RN app that benchmarks AsyncStorage.
I've pushed the app here: https://github.com/kidroca/asyncStorageBench

2. Do some basic tests on both Android and iOS, and record timing from these scenarios
I've done that here: https://github.com/Expensify/Expensify.cash/issues/2667#issuecomment-874160913

3. Refactor AsyncStorage on Android to implement each of the suggested optimizat

[2021-07-07 21:43] isagoico commented on #3802
Regression is finished!
2 issues found today:
1. https://github.com/Expensify/Expensify.cash/issues/3900
2. https://github.com/Expensify/Expensify.cash/issues/3901

PRs are finished too.
No comments added 🎉 🎉

Thanks!
:shipit: ing the issue

[2021-07-07 21:43] mikeattara commented on #2430
Hello @Jag96 and @Christinadobrzyn,
I would love to take this up.

[2021-07-07 21:43] isagoico commented on #3802
:shipit:

[2021-07-07 21:43] #3802 closed

[2021-07-07 21:47] roryabraham commented on #3900
This can definitely be external

[2021-07-07 21:47] OSBotify opened #3905 "Deploy Checklist: Expensify.cash 2021-07-07"
**Release Version:** `1.0.76-2`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/2287
- [x] https://github.com/Expensify/Expensify.cash/pull/3229
- [x] https://github.com/Expensify/Expensify.cash/pull/3481
- [x] https://github.com/

[2021-07-07 21:52] quinthar commented on #2667
Wow, fantastic analysis!  It's not what I expected, but that's why we test.  Can you remind us what specifically you are proposing as a result of this analysis?  I *think* it is:

1. Continue upgrading AsyncStorage because it's what the community is moving towards, and is no slower

2. Do ???something??? to fix the "parallel handling" problem.  What specifically?

Thank you!

[2021-07-07 21:56] Jag96 commented on #2430
@mikeattara great! Are you able to reproduce the issue? Per our [contribution guidelines](https://github.com/Expensify/Expensify.cash/blob/main/CONTRIBUTING.md#make-sure-you-can-reproduce-the-problem) please confirm you can reproduce the issue, and then post a proposal on this issue that explains why the issue is happening and what technical changes you will make to fix it

[2021-07-07 21:57] rdjuric commented on #3729
Sorry for the delay here @roryabraham! PR is up at #3908

[2021-07-07 22:06] francoisl commented on #3901
Looks like this can be external

[2021-07-07 22:11] rdjuric commented on #3900
##Proposal

Looks like we're setting `statusBarTranslucent` to our `ReactNativeModal`, which makes the Modal go under the StatusBar. Removing this prop gives the correct behavior.

[2021-07-07 22:22] kidroca commented on #2667
Yes 1) we should use the new AsyncStorage with Room. This is only the first iteration and it might impove - the least at some point they'll remove the old code and deps

2) I've proposed changes in Onyx here  https://github.com/Expensify/react-native-onyx/issues/78 that will use multiGet instead of foreach-ing which results in parallel requests. This might alleviate work enough so that the rest of

[2021-07-07 22:31] quinthar commented on #2667
Fantastic, let's doo ittt!!

On Wed, Jul 7, 2021 at 3:23 PM Peter Velkov ***@***.***>
wrote:

[2021-07-07 22:33] rdjuric commented on #3901
What's the expected behavior here? Looks like the app centers the image on the point we're zooming in.
https://github.com/Expensify/Expensify.cash/blob/f11d808f6358ba57ae02a1d392229dbd38491afd/src/components/ImageView/index.js#L95-L104
I feel like this is the correct behavior, but it also means that if we zoom on the edge there will be blank spots.

[2021-07-07 23:03] marcaaron commented on #3875
alright took some more suggestions from @cead22 which cut TTFB in half again... probably could optimize further but I'll take this 😅

![2021-07-07_12-59-20](https://user-images.githubusercontent.com/32969087/124838879-6cf86680-df23-11eb-8194-fbc61b5cf8fa.png)

[2021-07-07 23:05] parasharrajat commented on #3296
### Proposal
1. I just tested it on Ipad pro but it is showing wrong input here. Instead of the current input that was made for web/desktop devices with a keyboard. It should show our on-screen keypad as this is again a native device.

2. This happens as the this.isSmallScreenWidth variable is set to windowWidth <= 800 which is false for Ipad pro. Ipad can have a higher resolution like 1024px wide

[2021-07-07 23:10] puneetlath commented on #3899
I don't know how to reproduce it, but it is still currently an issue for me. I have a `1` that I'm not able to get rid of. Even if I close and reopen the app. Let me know if there is something I can provide that will help diagnose.

[2021-07-07 23:10] parasharrajat commented on #3875
Just don't make it nil.😅

[2021-07-07 23:14] alex-mechler commented on #3899
Can you post the contents of your console?

[2021-07-07 23:20] puneetlath commented on #3899
![image](https://user-images.githubusercontent.com/1371996/124840205-0f2e4380-df50-11eb-9a63-644ae08c3d8d.png)

[2021-07-07 23:23] alex-mechler commented on #3899
Are all levels checked in this dropdown?
![image](https://user-images.githubusercontent.com/22447860/124840378-afc83780-df3f-11eb-871e-4173af12e0da.png)

[2021-07-07 23:36] Jag96 commented on #3782
Paid!

[2021-07-07 23:36] #3782 closed

[2021-07-07 23:38] Jag96 commented on #3767
Paid!

[2021-07-07 23:38] #3767 closed

[2021-07-07 23:40] Jag96 commented on #3778
Paid!

[2021-07-07 23:40] #3778 closed

[2021-07-07 23:45] parasharrajat commented on #3513
Please let us know what needs to be done here. Are we need what NikkiWines suggested here https://github.com/Expensify/Expensify.cash/issues/3513#issuecomment-871820622?

[2021-07-08 00:28] puneetlath commented on #3899
Ah nope. Here's updated with verbose.

![image](https://user-images.githubusercontent.com/1371996/124844268-73a1d080-df59-11eb-9817-c6098ba39920.png)

![image](https://user-images.githubusercontent.com/1371996/124844293-84eadd00-df59-11eb-97e0-982f29c671a6.png)

![image](https://user-images.githubusercontent.com/1371996/124844309-8ddbae80-df59-11eb-9124-735860832b64.png)

[2021-07-08 00:30] Jag96 commented on #3790
When we first created the Expensimark lib, we explicitly decided not to convert HTML to formatted HTML so that we could control everything that gets converted to HTML, you can see we even have a test for this: https://github.com/Expensify/expensify-common/blame/master/__tests__/ExpensiMark-test.js#L74

Updating the parser to not escape the HTML should be a separate discussion in [#expensify-open-s

[2021-07-08 02:19] sonialiap commented on #3849
I don't have an iPad so I can't reproduce but looks like the issue is put together well, tagging in engineering

[2021-07-08 02:44] kavimuru opened #3920 "Desktop - IOU - Have to click currency symbol twice to open the currency list"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Click the  green + fab and select either Request money or Split bill
3. Click on currency

## Expected Result:
Curren

[2021-07-08 04:19] JmillsExpensify opened #3921 "[Pay on Wed 24th Nov] Improve IOU flow with step navigation animations"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
The IOUModal and step PR introduces a multi-step navigation within a single Modal (see video at bottom of this issue).

## Expected Result:
We shoul

[2021-07-08 04:28] JmillsExpensify commented on #3861
@rushatgabhane Do you mind messaging me on Upwork? I'm not clear which of the current proposals for this job corresponds to your PR. Thanks!

[2021-07-08 04:31] JmillsExpensify commented on #3383
Hired! Looks like we are testing the PR on the latest QA issue, so I'll make sure to pay you out as soon as that goes through as well! Or let me know if I've misunderstood the status!

[2021-07-08 04:36] JmillsExpensify commented on #3921
If you're coming from the Upwork posting (https://www.upwork.com/jobs/~01e8cb25843621f42d), please make sure to share your proposal here and a member from our team will evaluate. Thank you!

[2021-07-08 04:39] parasharrajat commented on #3921
What type of animation are you looking here?

[2021-07-08 04:40] JmillsExpensify commented on #3921
cc @Julesssss since you're online soon and this is coming from your issue in E.com.

[2021-07-08 04:42] parasharrajat commented on #3790
Ok Sure. Please let me know the best path forward. Thanks

[2021-07-08 04:47] JmillsExpensify opened #3922 "[HOLD for payment 2022-01-25] Add the Transfer Balance Page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
This is a new E.cash initiative. See expected result.

## Expected Result:
![image](https://user-images.githubusercontent.com/1127863/124863755-8c67

[2021-07-08 04:52] JmillsExpensify commented on #3922
If you're coming from our Upwork posting (https://www.upwork.com/jobs/~01081fb3ff015abc6c), a heads up that we will prioritizing contributors that we have been actively working with. Thank you!

[2021-07-08 05:12] Burhanuddin971 commented on #3922
I've submitted the proposal on Upwork. Please do check

[2021-07-08 05:20] rdjuric opened #3923 "[HOLD for payment on July 16] App crashes when trying to assign/unassign all in new workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app
2. Click on the LHN and then on New Workspace
3. Choose a name and create the Workspace
4. Click on People on the left side
5. Notic

[2021-07-08 05:30] kadiealexander commented on #3476
https://www.upwork.com/jobs/~01bdda5f5716ea9073

[2021-07-08 05:32] kadiealexander commented on #3810
https://www.upwork.com/jobs/~018b221693212487f0

[2021-07-08 05:43] rdjuric commented on #3923
This happens because we're not merging our employeeList after creating a new workspace.
https://github.com/Expensify/Expensify.cash/blob/bdbae0c998aa513fa5754d978f4bd8ed8976b595/src/libs/actions/Policy.js#L195-L200
So when we visit our `WorkspacePeoplePage` just after creating it, we won't show up on it and the `toggleUser` will crash since it expects an array but receives an undefined.
https://gi

[2021-07-08 05:44] parasharrajat opened #3924 "[Hold for Payment 11 August] [Crash] App crashes on directly opening the user details"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any 1:1 conversation on E.cash.
2. Click the Chat title.
3. User details page should open.
4. Reload the page on the web.

## Expected Resul

[2021-07-08 05:46] kadiealexander commented on #3868
Hey @halilarici! I just tried to reproduce this but was able to step through the flow with no issues. Could you please let me if this is still an issue?

[2021-07-08 05:48] parasharrajat commented on #3924
### Explanation
1. I think that the URL for the details page is wrong and it leads to a page crash. There is an escaped @ in the URL which is the main issue.

### Proposal
1. We have two choices
  a. We either override the URL parsing and then handle this type of URL manually.
  b. We change the URL to something else. `https://staging.expensify.cash/details/:login` to `https://staging.expensify.ca

[2021-07-08 06:12] parasharrajat commented on #3922
### Proposal
1. We have to wait until https://github.com/Expensify/Expensify.cash/pull/3890 is merged for some necessary functionality.
2. I will create a new page /PaymentPages/TransferBalancePage.js and its routes to ROUTES.js
  `ROUTES.SETTINGS_TRANSFER_BALANCE = "settings/payments/transfer-balance"`
3. on the Payments page, I will add the  "Transfer Balance" menuItem as specified above. Which

[2021-07-08 06:26] anshumanburman commented on #3476
Hi, i have gone through your requirement. It can be done using Linking in React Native mobile App and for React.js Web we van use "document.execCommand('copy')" function to copy the text or phone number after making it clickable.

[2021-07-08 06:42] rdjuric commented on #3921
Really liked this idea!

We already have [react-native-animatable ](https://github.com/oblador/react-native-animatable)as a dependency (from react-native-modal), it's a pretty good library for built-in animations. Might make sense to use it here too? It's performant and works on the web.

I added a few animations to our Request money flow so we can see how it might look:

https://user-images.githu

[2021-07-08 07:35] rushatgabhane opened #3926 "Don't allow upload of large attachments [hold for payment on August 5th]"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

I'm assuming API allows max attachment size of 100 MB. Please correct me if I'm wrong.
## Action Performed:
1. Login to E.cash
2. Click add attachment.
3. Select a file

[2021-07-08 08:01] rushatgabhane commented on #3926
### Proposal
In components/AttachmentModal
For attachments larger than 100 MB,
show the message "Attachment is larger than 100 MB", and disable the send button.

[2021-07-08 11:41] isagoico commented on #3920
Verified this is not reproducible in production. Adding the deploy blocker label.

[2021-07-08 11:42] OSBotify commented on #3920
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-08 12:09] isagoico commented on #3905
Starting QA!

[2021-07-08 13:16] stephanieelliott commented on #3783
@aliabbasmalik8 what is your name on Upwork? Not sure which one is you in the list there and want to make sure we hire the right person 😃

[2021-07-08 13:25] aliabbasmalik8 commented on #3783
Here are my details.

JOB Proposal: https://www.upwork.com/ab/proposals/1412072722105774081
Name: Ali A

[2021-07-08 13:27] stephanieelliott commented on #3783
Great, sent you the offer @aliabbasmalik8!

[2021-07-08 14:03] NicMendonca commented on #3901
@rdjuric that question might be better suited for #expensify-open-source.

[2021-07-08 14:15] stephanieelliott commented on #3895
Oops, I think I skipped some Triage steps here... re-labeled, reviewer @cead22 should review and add the `External` label if it is suitable for a contributor.

I had already created this on Upwork [here](https://www.upwork.com/jobs/~0113aeae9047169d07), but we'll hold off on hiring until this issue has gone through internal review.

[2021-07-08 14:47] isagoico commented on #3905
Checking off these PRs since they have already been tested and deployed to production:
1. https://github.com/Expensify/Expensify.cash/pull/3486
2. https://github.com/Expensify/Expensify.cash/pull/3481
3. https://github.com/Expensify/Expensify.cash/pull/3550
4. https://github.com/Expensify/Expensify.cash/pull/3555
5. https://github.com/Expensify/Expensify.cash/pull/3713
6. https://github.com/Expens

[2021-07-08 15:02] Looxor commented on #3601
@nickmurray47 ,
I didn't join the Slack channels so I sent an email "Slack Channel Invite" to contributors@expensify.com (as mentioned in guideline).
But I didn't get any invitation from there.
Can you please check this for me?

[2021-07-08 15:12] #3819 closed

[2021-07-08 15:14] rdjuric commented on #2279
@roryabraham @arielgreen Shouldn't we reopen this? The PR was reverted so no fix is in place.

[2021-07-08 15:31] tgolen commented on #3922
Thanks @parasharrajat I think your proposal is sound and we'd love to have you work on this since it's a bit more of an advanced project.

I agree with you that showing the loader on the button would be best for now.

It's probably not totally necessary, but also easy to do, and nice to at least have an indication, so let's go ahead and add it.

One thing that wasn't really covered in this issue o

[2021-07-08 15:43] parasharrajat commented on #3922
@tgolen This topic requires some planning? We have already discussed this for IOU Request Screens. But there was no conclusion. There seems to be an issue on hold for that and @Julesssss knows better about that.

We should adopt a consistent plan for this. Either we architect these screens that support offline or we show a message and block access to it. And same should be followed across features

[2021-07-08 15:53] tgolen commented on #3922
Yeah, we are trying to get better at making the "offline consideration" part of our original planning and design process to get better at this as we move forward. If we can at least do something basic for now, I think that would be good, then once we have a more holistic UX for offline mode, we can come back and improve this.

[2021-07-08 15:57] parasharrajat commented on #3922
Sure. Please let me know How do you want me to set it up. I think queueing this request won't be that hard but we may need to consider syncing the data when online to reflect actual state.

[2021-07-08 16:05] tgolen commented on #3922
Yeah, I know we have a mechanism for queuing the requests, but I'm not sure about having the UI reflect the state when it comes back online. @marcaaron do you have any ideas or thoughts on how we approach this in other areas?

[2021-07-08 16:22] nickmurray47 commented on #3905
https://github.com/Expensify/Expensify.cash/pull/3809 should have been internal QA. Just verified it on staging and checked it off the list.

[2021-07-08 16:26] nickmurray47 commented on #3601
@Looxor just saw your request and I made the Slack Channel invite request on our end. You should be in the channel shortly. Let me know if you have any other questions.

[2021-07-08 17:03] roryabraham commented on #3900
Solution looks good @rdjuric. Feel free to submit a PR as soon as you've been hired on Upwork. @marklouisdeshaun Please post the link to the Upwork job once it's created, and then feel free to hire @rdjuric once he's applied.

[2021-07-08 17:04] marcaaron commented on #3922
If the situation we are trying to handle while we are offline is the act of transferring the balance I think a couple of options would be:

1. Detect that we are offline (easy) and block the interaction (plus tell the user to wait until they are online and try again)
2. Detect we are offline and say the transfer was queued and will initiate the next time they are active.

I don't _think_ there is

[2021-07-08 17:15] alex-mechler commented on #3899
This seems fairly infeasible to debug and fix as is to me. The logs are sadly not a large help, and with no reproduction steps we aren't able to do more debugging locally. I would suggest trying to find a way to reliably reproduce this, and also keep an eye for other people that have the same thing happening to them. With more instances of this, we might be able to nail down a pattern.

We have ha

[2021-07-08 17:48] marklouisdeshaun commented on #3900
[Upwork job post](https://www.upwork.com/jobs/~01f1fc04dbb364e417)

[2021-07-08 17:57] Great999lancer commented on #3900
Hello @marklouisdeshaun

 I can help you for this job.
Please give me a access to the project.
Thanks

[2021-07-08 18:10] roryabraham commented on #3729
Merged!

[2021-07-08 18:14] marcaaron commented on #3895
cc @shawnborton just wondering if your comment here will affect these changes (since you're suggesting there that we remove the "Edit Photo" button).

https://github.com/Expensify/Expensify/issues/169741#issuecomment-875005697

I think I may have already fixed this in an open PR where I'm refactoring all of this component...

[2021-07-08 18:16] rdjuric commented on #3900
Applied to the job @marklouisdeshaun!

[2021-07-08 18:16] shawnborton commented on #3895
Ah, good shout. But I would suggest that this menu just launches below the new "Edit" button near the photo now (on desktop, since mobile just launches from bottom of screen).

[2021-07-08 18:23] marklouisdeshaun commented on #3900
Thanks! Offer sent @rdjuric

[2021-07-08 19:31] luacmartins commented on #3923
This can be external. Proposal LGTM, @marcaaron would love your eyes here since I'm less familiar with the code.

[2021-07-08 19:50] roryabraham commented on #3900
PR merged. Nice quick turnaround here @rdjuric @marklouisdeshaun!

[2021-07-08 19:50] marcaaron commented on #3923
Nice catch @rdjuric. Normally, this would be the responsibility of the PR authors as the feature has not yet gone to production and is also under a beta. In this case, that would be myself and @mountiny. But I have no issues with someone else fixing it :)

[2021-07-08 19:51] marcaaron commented on #3923
Solution LGTM and I've assigned you @rdjuric

[2021-07-08 19:58] luacmartins commented on #3792
Picking up this issue - will implement a USD default and `No connection, please check and try again` message for now.

[2021-07-08 21:52] roryabraham commented on #3383
As [stated in the PR](https://github.com/Expensify/Expensify.cash/pull/3771#issuecomment-876769431), this fix did cause a regression that will need to be fixed.

[2021-07-08 21:56] roryabraham commented on #3920
The fix to this was CP'd to staging in `1.0.76-1`. Can we retest?

[2021-07-08 21:57] roryabraham commented on #3905
https://github.com/Expensify/Expensify.cash/issues/3920 should be fixed in `1.0.76-1`

[2021-07-08 22:02] Jag96 commented on #3790
I think we've come full circle and the solution here should be what @parasharrajat suggested initially: `We need to convert the copied HTML to MD first. and then show the MD in composer.`

It sounds like we only have one HTML->MD conversion built out already (https://github.com/Expensify/Expensify.cash/issues/3790#issuecomment-875852170), so to do this I think we'd need to add some more rules simi

[2021-07-08 22:50] parasharrajat commented on #3895
@stephanieelliott Am I good to move here?

[2021-07-08 23:04] parasharrajat commented on #3922
Thanks, @marcaaron. Do we have to persist with that request? in that case the handler will be lost.
And, Do we have to block a second request if one is in the queue.

[2021-07-08 23:09] parasharrajat commented on #3790
@Jag96 Yes, I am interested. I will link PRs for supported tags to the Tracking issue and update you if I am stuck at something.

[2021-07-08 23:28] roryabraham commented on #3920
Confirmed that this is fixed in `1.0.76-1`

[2021-07-08 23:28] #3920 closed

[2021-07-08 23:29] roryabraham commented on #3905
Confirmed that https://github.com/Expensify/Expensify.cash/issues/3920 is fixed in `1.0.76-1`

[2021-07-08 23:39] marcaaron commented on #3922
Curious to hear more opinions on this, but it sounds out of scope for this issue and/or something that would have to be discussed more. The current network layer only supports this for requests that trigger Pusher event responses. So, we _could_ handle it similar to report comments and send the response for any persisted request back to the user via Pusher instead of handling the direct response (

[2021-07-08 23:42] roryabraham commented on #3901
My thinking here is that we should center the image on the point we're zooming in on, but if we're within a specific distance of any edge, then we'd shift the zoomed-in section accordingly. Something like this:

![Untitled Diagram](https://user-images.githubusercontent.com/47436092/125003173-7e1ca280-e00b-11eb-95e7-1958f67025fa.png)

[2021-07-08 23:47] chiragsalian commented on #3895
@parasharrajat, i think you're good to move forward. Your proposal LGTM.
@stephanieelliott has already created a posting in [Upworks](https://www.upwork.com/jobs/~0113aeae9047169d07) but I don't see your proposal there so feel free to post a proposal and create a PR 🙂

[2021-07-09 00:02] marcaaron commented on #3895
You'll probably notice this @parasharrajat but heads up this has been moved to [`AvatarWithImagePicker` component](https://github.com/Expensify/Expensify.cash/blob/c22f7a9db7eb796612d71a48af5457a634a77f45/src/components/AvatarWithImagePicker.js#L122-L130) and now has two usages.

[2021-07-09 00:14] parasharrajat commented on #3922
Sounds good. I will just queue the request for a retry and block further requests unless the first one is completed.

[2021-07-09 00:15] parasharrajat commented on #3895
Please assign this to me, helps me keep track of things.

[2021-07-09 00:20] marcaaron commented on #3922
To clarify, I am not suggesting we do this. I don't think we need to worry about de-duplication or persistence right now. But would like to hear what @stitesExpensify thinks since he might know more about how this is working in the back end.

[2021-07-09 00:24] stitesExpensify commented on #3922
I don't think we need to block further requests, it should be fine to do it multiple times

[2021-07-09 00:25] roryabraham commented on #3905
Any update on QA here today?

[2021-07-09 00:37] Jag96 commented on #3791
Paid!

[2021-07-09 00:37] #3791 closed

[2021-07-09 00:39] roryabraham commented on #2279
Good catch @rdjuric! @Viacheslav80 I saw you created [this PR](https://github.com/Expensify/Expensify.cash/pull/3820/files) but quickly closed it. What happened there?

[2021-07-09 00:41] NikkiWines commented on #3513
Brought this to slack to discuss what we're looking for in terms of a solution. Putting a HOLD on this until we know what way we want to move forward.

[2021-07-09 01:04] stephanieelliott commented on #3895
Thanks @parasharrajat, hired you for the job in Upwork!

[2021-07-09 01:06] mvtglobally opened #3939 "Web - Message dates are displayed under user name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.expensify.cash
2. Log in with any account
3. Go to any conversation and check the dates of your conversation.

## Expected

[2021-07-09 01:07] OSBotify commented on #3939
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-09 01:09] mvtglobally opened #3940 "Web - Payment details is missing after Split Money when you click on green badge icon"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.expensify.cash
2. Log in with any account
3. Click on Green button and click on Split
4. Put amount and click next
5. Selec

[2021-07-09 01:09] parasharrajat commented on #3939
Regression via https://github.com/Expensify/Expensify.cash/pull/3830#issuecomment-872556352

[2021-07-09 01:10] OSBotify commented on #3940
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-09 01:12] stephanieelliott commented on #3923
Job has been posted on Upwork, @rdjuric please post a quick proposal to the job on Upwork so we can hire you there!

Job on Upwork: https://www.upwork.com/jobs/~0102a46787404b3af3

[2021-07-09 01:14] rdjuric commented on #3939
Yes, PR to fix this is under review #3864

[2021-07-09 01:14] mvtglobally opened #3941 "iOS - Conversation page is blinking after select the user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any credentials
3. Select user to send a message

## Expected Result:
Conversation page isn't blinking after select

[2021-07-09 01:15] OSBotify commented on #3941
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-09 01:15] mvtglobally commented on #3905
@roryabraham
Team is still working through all PRs.
3 issues found so far:

- https://github.com/Expensify/Expensify.cash/issues/3940
- https://github.com/Expensify/Expensify.cash/issues/3939
- https://github.com/Expensify/Expensify.cash/issues/3941

[2021-07-09 01:15] rdjuric commented on #3923
Submitted a proposal there @stephanieelliott. Thanks!

[2021-07-09 01:23] rdjuric commented on #3941
@tgolen I think this was fixed by #3908

[2021-07-09 01:54] parasharrajat commented on #3922
Requesting icons and High-resolution images for mockups. Thanks.

[2021-07-09 02:14] Jag96 commented on #3790
Sounds great! I'll assign to you and invite you to the Upwork job, thanks

[2021-07-09 02:19] Jag96 commented on #3939
PR to fix the regression is already under review and the app still functions, removing Deploy Blocker

[2021-07-09 03:30] Jag96 opened #3944 "App is crashing after entered an email of an account to add to the workspace"
Coming from https://github.com/Expensify/Expensify.cash/pull/3681#issuecomment-876879397

## Android - App is crashing after entered an email of an account to add to the workspace
## Expected Result:
Able to add the number of accounts to the workspace
## Actual Result:
App is crashing after entered an email of account
## Actions Performed:
1. Lunch the app
2. Log in with expensifail account
3. Cli

[2021-07-09 03:34] parasharrajat commented on #3790
@Jag96 Thanks for the invite. But Changes to HTML->MD conversion should be separate issues and looking at the complexity, possibly multiple for the different tags listed here https://github.com/Expensify/Expensify.cash/issues/3047.

[2021-07-09 03:38] rdjuric commented on #3944
@Jag96 Looks like it's the same root cause as #3923?

[2021-07-09 03:40] Jag96 commented on #3944
Ah perfect! Yup that should fix it, closing this, good 👀

[2021-07-09 03:40] #3944 closed

[2021-07-09 04:18] rdjuric commented on #3893
PR is up at #3945!

Do you want to take a look at it @marcaaron? Pullerbear requested a review from someone else 😅

[2021-07-09 04:47] Jag96 commented on #3940
I'm able to reproduce this on Production, on version 1.0.75-5, @mvtglobally what version on production were you unable to reproduce this on (1.0.79-0 doesn't exist yet)? I did notice that after splitting the bill, one of the two accounts did show the details properly when pressing the green badge icon.

If you look at the URL bar, you can see that the URL is showing a duplicate reportID for the ac

[2021-07-09 04:58] Christinadobrzyn commented on #3893
I think I missed the step of adding the Eng label to this so I'm going to do that so we can get another engineer in here just in case Marc is busy.

[2021-07-09 05:11] Christinadobrzyn commented on #3893
Created Upworks Job
External: https://www.upwork.com/jobs/~01990e714d0d1f8b93
Internal: https://www.upwork.com/ab/applicants/1413362641408704512/job-details

[2021-07-09 05:13] jliexpensify commented on #3779
Deployed, and paid @rushatgabhane - thanks!

[2021-07-09 05:13] #3779 closed

[2021-07-09 05:37] jasperhuangg commented on #3663
In the future, for anyone who was involved, there are actually websites that let you use temporary phone numbers. I was able to use one to create an account [here](https://temporary-phone-number.com/).

[2021-07-09 05:45] jliexpensify commented on #3663
Really sorry I missed this, and thanks for the tip @jasperhuangg - I couldn't reproduce this with a new account:

![image](https://user-images.githubusercontent.com/30815269/125028952-36aa1b00-e0cc-11eb-8b99-09c1157f4967.png)

Here's the mobile app:

![Screenshot_20210709-154358](https://user-images.githubusercontent.com/30815269/125029170-986a8500-e0cc-11eb-8fb6-d932db16d4c0.png)

This is on v1.0

[2021-07-09 05:45] #3663 closed

[2021-07-09 06:01] jliexpensify commented on #3862
This looks to be fixed now, guess the other PR's fixed it:

![image](https://user-images.githubusercontent.com/30815269/125030693-db2d5c80-e0ce-11eb-9377-bae84fe91af3.png)

[2021-07-09 06:01] #3862 closed

[2021-07-09 06:02] jliexpensify commented on #3737
@Julesssss just checking - this issue's still on hold right?

[2021-07-09 07:55] haseebb commented on #3798
Hi

Yes, I am interested to work with you.
I checked the issue on Github and I will use this "country picker model" in the app

https://www.npmjs.com/package/react-native-country-picker-modal

[2021-07-09 10:03] SofiedeVreese commented on #3867
Seems like the discussion is still fairly ongoing.

[2021-07-09 10:24] conorpendergrast commented on #3939
Unassigning myself as this has already been well-triaged (and I agree it's an issue to fix!)

[2021-07-09 11:58] mygit1313 commented on #3810
Hi

Posting my comment for this job on Upwork https://www.upwork.com/jobs/React-Native-Fix-issue-where-link-click-results-blank-screen-3476_~018b221693212487f0/

My Profile is https://www.upwork.com/freelancers/~014125b829d935f4b8

My comment: I think you must skip some thing, Your component renders before your response comes, you must have to do the following things:

Please check the server resp

[2021-07-09 14:19] Viacheslav80 commented on #2279
@roryabraham  Hi! I closed this PR because you already removed subscribe "touchstart" event
and @parasharrajat wrote that he would deal with the problem of text selection
Maybe I got something wrong but I didn't see the point in it PR
I haven't solved the text selection problem correctly yet, but I can create a pr and  set delayLongPress={250} this partially solves the problem

[2021-07-09 14:30] sketchydroide commented on #3849
I wasn't able to crash using iPad. I used the version from the app store, so that might be the reason.
I do think that the `transform` should be an array. Not sure about the rest.
@roryabraham  and @Julesssss any input?

[2021-07-09 15:31] luacmartins commented on #3939
Unassigning myself as this is already being taken care of.

[2021-07-09 15:50] tgolen commented on #3743
I'd like to put a little bit of a hold on this. It seems to me that this is complex code, and both the code being proposed here and in https://github.com/Expensify/Expensify.cash/pull/3526 are only making it more and more complex.

I think it would be worth it to take a step back, look at some of the root causes of these problems, and see if there is a better solution.

Remember, this stuff was or

[2021-07-09 16:02] shawnborton commented on #3922
Hey @parasharrajat - which assets do you need? I think we will be using a separate task to get all of the bank logos, cc @stitesExpensify

[2021-07-09 16:07] stitesExpensify commented on #3922
I think we just need the lightning bolt icon? And maybe the checkbox? I'm not sure if that's native, @parasharrajat might know better

[2021-07-09 16:25] parasharrajat commented on #3922
@shawnborton  yeah. Lightening blot sign and Bank icon. Also Please share the mockup in HD.

[2021-07-09 16:29] dklymenk commented on #3743
Yes, I 100% agree with your concerns. While my proposed code fixes the user facing issues, the code is unreasonably complex for a feature as simple last message display in LHN.

If I was to redesign this flow, I would remove the last message data from report collection and extract last non-empty message from report action collection directly in component that needs it. This will allow us to simpli

[2021-07-09 16:29] tgolen commented on #3941
OK, thanks! Is there any way to get that CPed to staging now that it's already been merged? I know we can manually do it, but I don't know what will break if we do that. @roryabraham any advice?

[2021-07-09 16:33] stitesExpensify commented on #3922
The bank icon is already in [Expensicons](https://github.com/Expensify/Expensify.cash/blob/main/src/components/Icon/Expensicons.js) :)

[2021-07-09 16:33] tgolen commented on #3743
Awesome, thanks for confirming my thoughts!

This is what was running through my head as well. I think we should definitely consider this. Could you work on providing a proposal to do this? I _think_ only the LHN is impacted by this, but we need to be careful that nothing else is.

Cool. I think if it removes the need to worry about `maxSequenceNumber` in this context, then I agree it should be ad

[2021-07-09 16:36] roryabraham commented on #3941
@tgolen We can manually CP PRs after-the-fact using the GitHub Actions UI:

![image](https://user-images.githubusercontent.com/47436092/125109988-e796c280-e098-11eb-90e8-e9ceb7141077.png)

However, right now it's set up so that only members of the [Expensify.cash Deployers](https://github.com/orgs/Expensify/teams/expensify-cash-deployers) GH team (AKA @AndrewGable and I) can do that. We had plans

[2021-07-09 16:37] roryabraham commented on #3941
I will manually CP https://github.com/Expensify/Expensify.cash/pull/3908 now

[2021-07-09 16:38] shawnborton commented on #3922
Here is the bolt icon: [bolt.svg.zip](https://github.com/Expensify/Expensify.cash/files/6792783/bolt.svg.zip)

Here is a better mock:
<img width="1626" alt="Instant Transfer" src="https://user-images.githubusercontent.com/2319350/125110231-2a589a80-e099-11eb-9464-a58d5cf057d2.png">

Also, it looks like there is a "Transfer" icon being used on that first screen in the mock and I don't think we have

[2021-07-09 16:39] parasharrajat commented on #3922
Good. Thanks

[2021-07-09 16:41] stitesExpensify commented on #3922
@parasharrajat I'm trying to get [the blocker](https://github.com/Expensify/Expensify.cash/pull/3890) done today so that hopefully you will have the wallet balance component by Monday

[2021-07-09 16:41] roryabraham commented on #3941
https://github.com/Expensify/Expensify.cash/pull/3908 will be available in `1.0.76-2`.

[2021-07-09 16:43] tgolen commented on #3941
Oh, cool. Thanks!!

On Fri, Jul 9, 2021 at 10:41 AM Rory Abraham ***@***.***>
wrote:

[2021-07-09 16:51] roryabraham commented on #3941
https://stackoverflow.com/c/expensify/questions/10366/10367#10367

[2021-07-09 17:01] parasharrajat commented on #2279
PR is ready here https://github.com/Expensify/Expensify.cash/pull/3927. This will fix every context-menu glitch on M-web devices. I am not sure about native devices that should have been taken care of by this issue.

I think we may need to block the native copy menu on the User name and avatar as well, as they are part of the message.

[2021-07-09 17:20] roryabraham commented on #3849
While I haven't reproduced the crash, [this analysis](https://github.com/Expensify/Expensify.cash/issues/3849#issuecomment-871895287) makes sense to me.

[2021-07-09 17:39] isagoico opened #3950 "[Hold for Payment - 21 July] mWeb - Profile - Call me button is overlapping with text in mweb Safari"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel! https://www.upwork.com/jobs/~013c20fc13448fc687
___

## Action Performed
1. Go to https://staging.expensify.cash
2. Sign into vanniac27@pyjgoingtd.com with the password asdfA

[2021-07-09 17:41] parasharrajat commented on #3849
@roryabraham But this is not an appropriate solution for this particular problem. Here is what I think we should do https://github.com/Expensify/Expensify.cash/issues/3296#issuecomment-875990808. That proposal should a lot of issues with the ipad.

[2021-07-09 17:44] isagoico commented on #3905
**Regression** is finished!
Issues found:
1. https://github.com/Expensify/Expensify.cash/issues/3950
2. https://github.com/Expensify/Expensify.cash/issues/3941 - Deploy blocker
3. https://github.com/Expensify/Expensify.cash/issues/3940 - PR is up
4. https://github.com/Expensify/Expensify.cash/issues/3939 - PR is up
5. https://github.com/Expensify/Expensify.cash/issues/3920 - Resolved

**PRs** are

[2021-07-09 17:44] shawnborton commented on #3950
I think this is expected behavior because the green button is fixed to the bottom of the viewport.

[2021-07-09 17:45] parasharrajat commented on #3950
But May be we forget to add the scroll view behind and she is not able to scroll.

[2021-07-09 17:57] rdjuric commented on #3849
@parasharrajat some thoughts that I had on your proprosal

- It doesn't solve the root cause, just moves the goalposts further. (ver se é assim msm). E.g the iPad pro actually has 1366px of viewport width in landscape mode, so your `isMediumScreen` test would still make the app crash.

- We shouldn't have platform-specific code (like our `hiddenElementOutsideOfWindow`) in non-platform-specific com

[2021-07-09 18:05] parasharrajat commented on #3849
Thanks for reviewing it. You are correct about all the stuff. I just put a suggestion. We will definitely adjust the dimensions, I just gave one example nad `canUseTouchScreen` can be used in place of that. But It covers wider scope that we are currently tackling. Moreover, I am not really convinced with usages of `canUseTouchScreen` so I keep its usage minimal.

And This is all assumption until s

[2021-07-09 18:07] jsamr opened #3951 "[Hold for Payment 30th July] Upgrade react-native-render-html to latest (6.0.0-beta.8)"
This is a follow-up on a conversation I had with @puneetlath. The Foundry release has entered beta stage recently, and thus has stabilized a lot.  I am confident that the official 6.0.0 release should be ready at some point this summer. Relevant resources to read: [Announcing the Beta Foundry Release](https://meliorence.github.io/react-native-render-html/blog/2021/06/07/foundry-announcement), [Cha

[2021-07-09 18:10] parasharrajat commented on #3951
Thanks, @jsamr I am moving with a solution on this PR #3869.
But I am covering `Review best practices regarding react-native-render-html usage, and include refactorings to enforce those best practices.`.

[2021-07-09 18:12] roryabraham commented on #3941
Looks like this is the last deploy blocker, so @isagoico can we retest?

[2021-07-09 18:14] roryabraham commented on #3941
I am unable to reproduce on iOS `1.0.76-2`

[2021-07-09 18:14] marcaaron commented on #3810
@dklymenk How will we differentiate between a report that "hasn't yet loaded" and one that we are "unable to access". There is a subtle difference and I think the solution you are providing might lead to a brief flash of a 404 while we are waiting for a report to load.

@aliabbasmalik8 This proposal could work, but is missing how we'd determine the user has no access to the chat

@mygit1313 This p

[2021-07-09 18:14] stephanieelliott commented on #3892
@marcaaron are we able to repro this yet? I've tried doing it myself (unsuccessful) but not too sure what steps to follow.

[2021-07-09 18:14] isagoico commented on #3941
We were still able to reproduce in 1.0.76-1. Checking on -2 at the moment

[2021-07-09 18:16] stephanieelliott commented on #3783
@aliabbasmalik8 once you've created the PR, can you please link it to this issue?

[2021-07-09 18:16] marcaaron commented on #3892
Nope, I've seen it pop up while working in E.cash locally - but still unsure what causes it to get into that state.

[2021-07-09 18:25] jsamr commented on #3951
@parasharrajat Thank you for this update! As I've just stated in your PR, I don't think disabling whitespace collapsing is a good idea since originally I was hired to implement whitespace collasing in the engine! Moreover, the amount of testing should be significant since we must make sure all tags are rendered as expected.

[2021-07-09 18:27] isagoico commented on #3941
We were unable to reproduce on 1.0.76-2 🎉 Closing the issue

[2021-07-09 18:29] #3941 closed

[2021-07-09 18:30] parasharrajat commented on #3951
Ok. I see. But we want to fix the spaces issue. Any solution for that issue.

[2021-07-09 18:45] roryabraham commented on #3849
Curious to hear @shawnborton's input on this discussion, but some overall themes (taken from the discussion so far), that I would like to see in a solution:

**No platform-specific code in non-platform-specific component**

It's becoming clear that we can't reliably use screen width as a proxy for platform. We have mostly gotten away with it so far, but there really should be no web-specific code

[2021-07-09 18:48] roryabraham commented on #3950
@sketchydroide This can be external, so I'm going to add the label to get the ball rolling here.

[2021-07-09 18:48] jsamr commented on #3951
Preserving spaces for the specific use case laid out it  #3859 is really a matter of design choice, so it should be discussed with a product owner. If you type 3 spaces in this very Github markdown editor, spaces will be collapsed. To preserve spaces, one should explicitly use a preserving space block such as `<pre>` (or create a custom tag which has a `whitespace: 'pre'` style applied to it). I d

[2021-07-09 18:54] dklymenk commented on #3810
In my testing this was not the case. I think I specifically did it in that exact component because `ReportView` is not rendered if data is not loaded. See [ReportScreen.js](https://github.com/Expensify/Expensify.cash/blob/main/src/pages/home/ReportScreen.js#L88) and my video below. There is no 404 flashing.

https://user-images.githubusercontent.com/64093836/125122403-0bd8ba80-e0fe-11eb-884b-1450c

[2021-07-09 18:55] parasharrajat commented on #3951
Yeah. Clearly. But there was no straight way to do it. We may need to add <p> Tags on our parsing and then break each line of text to <p>. Not sure if this works.

[2021-07-09 18:58] Luke9389 commented on #3798
@haseebb Thank you for your interest, but if you read the above thread you'll see that we're not accepting new proposals for this right now, nor are we interested in using npm packages for this solution.

[2021-07-09 18:59] roryabraham commented on #3905
Manually checked off https://github.com/Expensify/Expensify.cash/pull/3883, which was added to this checklist in error. ☹️ It has not been deployed to staging yet. We'll want to make sure it's included in the next checklist.

[2021-07-09 19:00] jsamr commented on #3889
@marcaaron Just preparing a ticket for a performance audit and I stumbled on this one.

https://github.com/Expensify/Expensify.cash/blob/36a336400efc060df2ebc21d74ca1ee19ee5afff/src/libs/actions/Timing.js#L4-L13

Note that the `Date` API is pretty inaccurate for performance metrics, and React Native has shipped a minimal [Performance API](https://developer.mozilla.org/en-US/docs/Web/API/Performanc

[2021-07-09 19:02] rdjuric commented on #3849
Really good write up @roryabraham. I agree that we should take this points in consideration, not only in this issue but also when working on new features too. We might want to add some parts of it to our Contributing Guidelines?

I think for this issue a good flow would be:

1. We decide if we want to show our Keypad based on device capabilities (touch screen) or screen width

A. If we decide to s

[2021-07-09 19:04] marcaaron commented on #3743
Please keep in mind that the "last message" is saved in the report object when the app first inits so we can populate the LHN in an efficient way. Sets of report actions notoriously:

1. Take time to fetch completely at large numbers
2. Are **not guaranteed** to even exist due to cache eviction

Separately, I'm currently working on a backend optimization that will _significantly_ improve the time

[2021-07-09 19:06] isagoico opened #3952 "[HOLD for payment 2021-09-08] Android mWeb - IOU - Final review modal is not correctly displayed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to new.expensify.com on mobile web on Android device
2. Tap on FAB
3. Tap on Request money
4. Set an amount and continue
5. On user search

[2021-07-09 19:11] isagoico opened #3953 "Payments - Unable to add bank fully verified account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
## Payments - Unable to add bank fully verified account

## Action Performed:
1. Log in to e.cash
2. Navigate to /bank-account/new
3. Click on Log in to bank account
4. E

[2021-07-09 19:13] marcaaron commented on #3889
Nice one! We should get this fixed up (maybe in a new issue) and it's good to note.

But I think the issue was working for a while at least with the same code. There is a clear chasm with ms/seconds on one side and then suddenly minutes on the other. So probably we made a serious mistake somewhere else or there is an API request somehow taking 10 minutes for some of us.

[2021-07-09 19:26] roryabraham commented on #3905
:shipit:

[2021-07-09 19:26] #3905 closed

[2021-07-09 19:28] deetergp commented on #3041
Letting go of this one, since I've got some bigger, time-sensitive fish to fry. There's no reason this cannot be an external issue.

[2021-07-09 19:29] jsamr opened #3957 "[Performance] Conduct React Native Performance Audit"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

This is a follow-up on a conversation I had with @puneetlath. I propose a React performance audit by investigating best practices in load-heavy scenarios. I am planing t

[2021-07-09 19:30] OSBotify opened #3958 "Deploy Checklist: Expensify.cash 2021-07-09"
**Release Version:** `1.0.77-5`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/3715
- [x] https://github.com/Expensify/Expensify.cash/pull/3848
- [x] https://github.com/Expensify/Expensify.cash/pull/3871
- [x] https://github.com/

[2021-07-09 19:34] parasharrajat commented on #3041
This is a quick one. We have to disable the outline over the message item Pressable to fix it. By default, every focusable element gets outline and Messages are wrapped inside Pressable which as focusable
To fix it in nutshell
add styles `style={styles.noOutline}` to

[2021-07-09 19:36] marcaaron commented on #3810
I'll ask this another way :)

If for some reason the user _should_ have access to the report, but it just hasn't loaded yet - then we are showing them a 404 in that case. To test this you would need to remove the report you are trying to access from `localStorage` (which simulates the situation where you have not yet accessed it - but _should_ have access) then try navigating to it directly via a

[2021-07-09 19:40] parasharrajat opened #3959 "Make outline consistent for all focusable elements in the APP across platforms."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any convo on E.cash on the web.
2. Try to use the tab for navigation.
3. See multiple elements get focus with an outline that is different a

[2021-07-09 19:44] marcaaron commented on #3951
Proposal looks good to me.

I'm not sure how you all want to handle the open PR to bump, but I think we should let @jsamr do the transition and then we can see what additional changes are necessary (full disclosure, I'm not up to date on what changes you are proposing there @parasharrajat).

[2021-07-09 19:45] marcaaron commented on #3951
@trjExpensify maybe can sync with @puneetlath before creating the job

[2021-07-09 19:46] parasharrajat commented on #3951
@marcaaron I good with @jsamr handling the Migration. The issue I am trying to solve does require this migration. I have put that PR on hold.

[2021-07-09 20:13] tgolen commented on #3743
Thanks for that insight, Marc!

On Fri, Jul 9, 2021 at 1:04 PM Marc Glasser ***@***.***>
wrote:

[2021-07-09 20:16] jsamr commented on #3951
@marcaaron All good! I've just created a profile on Upwork, just need to wait for review before I can apply when the job is ready!

[2021-07-09 20:36] kevinksullivan opened #3960 "Do not let users add multiple paypal.me logins"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Context in this PR comment. A user can add multiple paypal.me usernames to their account.

1. Add paypal.me login
2. Navigate to settings/payments
3

[2021-07-09 20:40] kevinksullivan commented on #3960
@roryabraham holding off on the auto assigner until we know whether the original PR is adding multiple paypal.me usernames or just overriding the existing user name

[2021-07-09 20:50] roryabraham commented on #3960
From my testing, it seems like the "second" Paypal.me account that can be "added" will replace the old one.

[2021-07-09 21:02] sakluger commented on #3899
This is happening for me too. @alex-mechler let me know if it would help to try debugging in person sometime next week in the lounge.

[2021-07-09 21:08] isagoico commented on #3958
@roryabraham Should we start QA on this new checklist today or can we start Monday?

[2021-07-09 21:27] roryabraham commented on #3958
Yeah, go ahead and start

[2021-07-09 21:29] Jag96 commented on #3790
Ok, how about we split this up into 2 issues:
1. Implement one of the conversions in https://github.com/Expensify/Expensify.cash/issues/3047 (maybe italics?) to help confirm this will work
2. Update e.cash to ensure the HTML copy works, and that it can be converted to MD for the currently existing tags (including the one we add in 1)

Then the rest of the HTML->MD conversions can happen in https:/

[2021-07-09 21:30] dklymenk commented on #3743
Hello, again. Here is what I've tried:

1. Add `reportActions` to `withOnyx` in `SidebarLinks.js`.
2. Pass `this.props.reportActions` to `getSidebarOptions` function.
3. From `getSidebarOptions` pass `reportActions` to `getOptions`.
4. In `getOptions` right [here](https://github.com/Expensify/Expensify.cash/blob/main/src/libs/OptionsListUtils.js#L310) I've added the following code (it is basically

[2021-07-09 21:37] isagoico commented on #3958
Starting QA!

[2021-07-09 22:04] dklymenk commented on #3810
You're right. Deleting the report from localstorage manually and refreshing the page leads to 404 with my proposal. Still, I don't understand how to reproduce this state without touching local storage. After logging out and logging in I don't see 404 during or after loading.

I mean. I've tried to create a new chat with a person I've never had a chat with, and there was no 404 message.

----------

[2021-07-09 22:48] NikkiWines commented on #3953
Hmm, I think it's expected that we wouldn't set up a bank account due to there being existing owners. Looks like we have a TODO for it to be updated with better error in the UI as well

[code]

@marcaaron looks like this is your TODO, do you know if we have a plan/open issue for this already? If not, maybe we can tag design and finalize what we want the UI to look like so that this would be ready

[2021-07-09 23:19] parasharrajat commented on #3790
@Jag96 Sounds good.

[2021-07-09 23:21] marcaaron commented on #3743
No, it will not touch the flows that populate `reportActions` in local storage at all.

There are. Without a refactor of how things work now + consideration for overall performance the suggestion to use `reportActions` in storage to populate the LHN will have unexpected consequences.

After thinking about this for a bit I think maybe everything here is working as expected though and there might be

[2021-07-09 23:24] kavimuru opened #3964 "Android - IOU - Currency symbol and amount in BNP are mostly truncated"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log in with any account
3. Click on Green Button
4. Click Spit/ Request Money

## Expected Result:
Currency and amount symbol sh

[2021-07-09 23:25] OSBotify commented on #3964
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-09 23:45] kavimuru opened #3965 "iOS - Chat - Text "is typing" is slightly cut off at the bottom"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. As account B, type in the text box and immediately check the account A device
3. Verify there's a message indicated that us

[2021-07-09 23:53] parasharrajat commented on #3964
We just replaced all uses of `Text` from `react-native` to our custom Text component and this is a side effect of that change. So the best solution would be to determine all the places where text is chopped and fix it in a PR.

[2021-07-09 23:55] roryabraham commented on #3964
Because it defines a default lineHeight?

[2021-07-09 23:57] roryabraham commented on #3964
Okay, this is a regression I caused, so I can have a PR up in just a few minutes.

[2021-07-10 00:12] marcaaron commented on #3953
Thanks @NikkiWines there's an open issue for it here -> https://github.com/Expensify/Expensify/issues/169896

[2021-07-10 00:18] puneetlath commented on #2846
Paid.

[2021-07-10 00:21] marcaaron commented on #3810
To be honest, it's just a hunch. I'm not sure how likely it would be in ideal networking scenarios, but the case I'm thinking of is...

- Network request causes some newly shared report to load very slow (can possibly simulate this with some heavy network throttling)
- User navigates to report via device notification and sees `404` instead of a loading spinner or something to indicate the report i

[2021-07-10 00:31] kavimuru opened #3968 "Web - Profile - Upload/Remove popup displayed covering the avatar image"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.expensify.cash
2. Log in with expensifail account
3. Click on Picture and select Profile
4. Click on Pen icon

## Expected

[2021-07-10 00:33] parasharrajat commented on #3968
Duplicate of #3895

[2021-07-10 01:08] #3576 closed

[2021-07-10 01:11] #3859 closed

[2021-07-10 01:31] Jag96 opened #3970 "[HOLD for payment July 19th] Implement italics HTML to markdown conversion"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

This is one of the conversions from the [HTML to Markdown Tracking Issue](https://github.com/Expensify/Expensify.cash/issues/3047), and it will help us confirm the E.cas

[2021-07-10 01:36] Jag96 commented on #3790
Created another issue [here](https://github.com/Expensify/Expensify.cash/issues/3970) and invited @parasharrajat to the Upwork job. Used the italics conversion for the title, but feel free to choose any of the items from the tracking issue.

[2021-07-10 02:19] parasharrajat commented on #3970
All Good. I will take it from here. Thanks.

[2021-07-10 03:34] jasperhuangg commented on #2990
@isagoico Just to clarify, was account B online when account A first sent the message? I just tried this myself on dev when account B was online and wasn't able to reproduce the issue.

Whenever a user sends a message into any report, a [`NotifyOfflineUsersAboutActivity`](https://github.com/Expensify/Web-Expensify/blob/master/script/bwm/NotifyOfflineUsersAboutActivity.php) job is queued up in Bedr

[2021-07-10 03:45] jasperhuangg commented on #2990
@isagoico Just to clarify, was account B online to read the message when account A first sent it I just tried this myself on dev–verifying that account B had read the message–and I wasn't able to reproduce this issue.

For some context, whenever a user sends a message in any report, a [`NotifyOfflineUsersAboutActivity`](https://github.com/Expensify/Web-Expensify/blob/master/script/bwm/NotifyOfflin

[2021-07-10 13:34] tugbadogan commented on #2180
Hi @mallenexpensify,

Other issue (https://github.com/Expensify/Expensify.cash/issues/2447) is closed now. I think we can close this issue as well.

[2021-07-10 14:17] tugbadogan commented on #3960
Hi, I see this issue has `External` tag, I would like to work on this issue. Here is my proposal:

- I will add `payPalMeUsername` prop to `PaymentsPage` module and load it from Onyx like this:

https://github.com/Expensify/Expensify.cash/blob/039b671cc6683372317327fde6dc4f9ecb78818b/src/pages/settings/Payments/PaymentMethodList.js#L169-L171

- I will use this prop to show/hide `Paypal.me` menu it

[2021-07-10 14:34] tugbadogan commented on #3960
By the way, there's a bug in `getUserDetails` function and it puts an empty string to `ONYXKEYS.NVP_PAYPAL_ME_ADDRESS` since that API call doesn't return a Paypal.me account name.

https://github.com/Expensify/Expensify.cash/blob/039b671cc6683372317327fde6dc4f9ecb78818b/src/libs/actions/User.js#L64-L82

[2021-07-10 14:40] aliabbasmalik8 commented on #3783
@chiragsalian it looks like this issue already resolved on this PR

https://github.com/Expensify/Expensify.cash/pull/3414

[2021-07-10 15:29] dklymenk commented on #3743
The reason I was fixed on this idea is that the "expected result" section on the original [issue](https://github.com/Expensify/Expensify.cash/issues/3293) says "LHN should show the message that was before the deleted message.". If this is not set in stone, it becomes an infinitely easier problem to tackle. Changing these 2 lines is enough to get this behavior going (I would need to make tests to m

[2021-07-10 15:45] tugbadogan opened #3971 "Remove (NEW!) message after logout and update it to be unread count"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
* Log in to a user
* Make sure user has unread messages and web page has `(NEW!)` phrase in the title
* If there's no unread messages, mark a messag

[2021-07-10 15:58] parasharrajat opened #3972 "[Performance] Configure Reanimated to Version >2 for FPS boost"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
We upgraded to React-navigation v6 but we are still lacking few gains from it. It supports Reanimated v2 which is proposed to be better and performant in every way. If we

[2021-07-10 16:17] Looxor commented on #3601
Dear @nickmurray47 ,
It seems that I found a way to solve this problem without reverting original sources.
But, can you please provide me your testing demo account?
I need to confirm your symptom on my side again.
I tried to update local storage for moc data, and there was no problem on my side.

[2021-07-10 17:17] parasharrajat opened #3973 "[Planning] Onyx break forwardRef flow."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Due to we stop rendering of the WrappedComponent until Onyx is ready to pass the props. It breaks the ForwardRef flow. Usually, Ref should be available in `componentDidMo

[2021-07-10 18:06] isagoico commented on #3968
Closing in favour of https://github.com/Expensify/Expensify.cash/issues/3895

[2021-07-10 18:06] #3968 closed

[2021-07-10 18:11] kavimuru opened #3974 "iOS - Workspace - Unable to select Invite button after adding a personal message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log in with expensifail account
3. Click on the FAB button
4. Select the New Workspace
5. Chose a name and click Get Started
6.

[2021-07-10 18:12] OSBotify commented on #3974
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-10 20:07] aliabbasmalik8 commented on #3599
@roryabraham Now it can be resolved by updating this function `updateDraft`

https://github.com/Expensify/Expensify.cash/blob/57f557cd31198a631305b617c374f2418eb5e9fa/src/pages/home/report/ReportActionItemMessageEdit.js#L69-L74

like this

[code]
and 2nd point already resolved by someone else by update code from `defaultValue={this.props.draftMessage}` to ` defaultValue={this.state.draft}`  at her

[2021-07-11 03:23] kakajann commented on #3783
I've already solved this issue in #3414
https://user-images.githubusercontent.com/11542415/125181717-26578480-e221-11eb-9d11-a7045d0061b9.mov

[2021-07-11 08:17] ABee-Tech opened #3976 "Blank screen shows when clearing "Confirm Password" field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Enter email on the first screen after you have downloaded app.
2. The magic link is sent to your email.
3. Tap on the magic link to open it in Ex

[2021-07-11 08:24] ABee-Tech commented on #3976
The issue is Invariant Violation. I think the issue can be solved by checking the string is `undefined ` or not.

[2021-07-11 11:03] isagoico commented on #3965
Adding the deploy blocker label since this is not reproducible in Build 1.0.76-2

[2021-07-11 11:03] OSBotify commented on #3965
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-11 11:08] isagoico commented on #3958
**Regression** is finished!
Issues found:
1. https://github.com/Expensify/Expensify.cash/issues/3974
2. https://github.com/Expensify/Expensify.cash/issues/3965
3. https://github.com/Expensify/Expensify.cash/issues/3964

**PRs** are finished too:
Comments added:
1. https://github.com/Expensify/Expensify.cash/pull/3715#issuecomment-877735492

Thanks!

[2021-07-11 11:37] aliabbasmalik8 commented on #3810
We can do this using `ErrorBoundary` as I mentioned in this [PROPOSAL](https://github.com/Expensify/Expensify.cash/issues/3810#issuecomment-871341913)

for this case, we can throw an error like this way

[code]

at this point https://github.com/Expensify/Expensify.cash/blob/57f557cd31198a631305b617c374f2418eb5e9fa/src/pages/home/report/ReportView.js#L33

and catch in `ErrorBoundary`. we also need

[2021-07-12 02:49] Christinadobrzyn commented on #2430
Reached out to @mikeattara in an Upwork message to see if he's able to send a proposal of how to fix this issue.

[2021-07-12 02:51] Christinadobrzyn commented on #3893
Hey there @nickmurray47 or @marcaaron can you let me know if the PR looks good for this project? Thanks!

[2021-07-12 04:13] jliexpensify commented on #3513
Looks like we voted to close the issue. Thanks everyone!

[2021-07-12 04:13] #3513 closed

[2021-07-12 06:37] kadiealexander commented on #3868
Closing, please open if this is reproduced again.

[2021-07-12 06:37] #3868 closed

[2021-07-12 09:04] SofiedeVreese commented on #3867
Clarifying with @thienlnam to see if there's some sort of resolution in the Slack thread.

[2021-07-12 09:28] sketchydroide commented on #3950
Thanks @roryabraham

[2021-07-12 09:53] iwiznia commented on #3743
Yep, I think this is not set in stone and indeed seeing `message deleted` or similar might be better (and easier). So let's go with proposal 2 from your post above.

[2021-07-12 10:06] dklymenk commented on #3743
Great, I'll submit the PR shortly after getting hired on upwork.

It seems like the old job link is no longer available - https://www.upwork.com/jobs/~01a6f9be9af612f0cd.

[2021-07-12 10:08] iwiznia commented on #3743
I think it's due to our upgrade in upwork plan, right @mallenexpensify? Can you make sure to create one and hire @dklymenk please?

[2021-07-12 12:36] dklymenk commented on #3743
@iwiznia  I have created a PR #3979 since I have an active upwork contract for another issue the PR fixes. I assume there will be still another contract for this issue, right?

I have also made the `comment deleted` message translatable. Please check the spanish translation.

[2021-07-12 12:37] iwiznia commented on #3743
Yeah, once @mallenexpensify comes online, he can find or create the contract for you.

[2021-07-12 12:39] mikeattara commented on #2430
@Christinadobrzyn I am unable to reproduce the issue yet

[2021-07-12 13:24] dklymenk commented on #3770
Hello, are there any updates?

[2021-07-12 13:37] laurenreidexpensify commented on #3950
Added to Upwork - https://www.upwork.com/jobs/~013c20fc13448fc687

[2021-07-12 13:42] laurenreidexpensify commented on #3897
@mikeattara do you have any other details about how you would implement this to consider? Thanks

[2021-07-12 13:51] aliabbasmalik8 commented on #3950
Can fix by replacing `View` with `ScrollView` here
https://github.com/Expensify/Expensify.cash/blob/f61e6d99b3175a04649187efdbaa004e35ca2ad4/src/pages/RequestCallPage.js#L155

`phone number` label is also hidden on the small screen. This issue also fix by adding `ScrollView`

![image](https://user-images.githubusercontent.com/31027036/125298806-595f4e00-e2dd-11eb-9262-936389b35974.png)

[2021-07-12 14:04] parasharrajat commented on #3950
Posted the Proposal here https://github.com/Expensify/Expensify.cash/issues/3950#issuecomment-877352939.
With respect to this, there is a similar issue that will be fixed as well

[2021-07-12 14:34] isagoico commented on #3297
Issue not reproducible during KI retests (First week)

[2021-07-12 14:37] isagoico commented on #3940
Issue not reproducible during KI retests (First Week)

[2021-07-12 14:37] isagoico commented on #3939
Issue not reproducible during KI retests (First Week)

[2021-07-12 14:38] isagoico commented on #3901
Issue reproducible during KI retests

[2021-07-12 14:39] isagoico commented on #3950
Issue reproducible during KI retests

[2021-07-12 14:40] kakajann commented on #3108
I have no idea how to request a review from pullerbear. any help would be appreciated)

[2021-07-12 14:41] isagoico commented on #3609
Issue not reproducible during KI retests. Looks like this one is fixed, closing it out.

[2021-07-12 14:41] #3609 closed

[2021-07-12 14:44] isagoico commented on #3172
Issue reproducible during KI retests

[2021-07-12 14:44] isagoico commented on #3041
Issue reproducible during KI retests

[2021-07-12 14:44] isagoico commented on #2705
Issue reproducible during KI retests

[2021-07-12 14:45] isagoico commented on #2499
Issue reproducible during KI retests

[2021-07-12 14:45] isagoico commented on #3900
Issue not reproducible during KI retests (Fixed 🎉)

[2021-07-12 14:47] #2705 closed

[2021-07-12 14:58] JmillsExpensify commented on #2705
Waiting on QA/deploy. Then'll I'll update for payment/regressions hold.

[2021-07-12 15:21] NicMendonca commented on #3901
Hi @rdjuric! Based off @roryabraham's comment, are you keen to submit a proposal for this?

[2021-07-12 15:39] mallenexpensify commented on #3623
Is stated as the issue but I think it's actually - "messages aren't showing up in the order that they're being sent".   Here's an example from this morn where I sent these in order and it this is how it shows, even after refreshing.
![image](https://user-images.githubusercontent.com/22508304/125314940-84509e80-e2eb-11eb-8277-805fa075cc06.png)
And, while I was sending them, they were 'moving around

[2021-07-12 15:45] Looxor commented on #2430
@Jag96 I can't see the update dialog.
I've installed the app from this url https://staging.expensify.cash/Expensify.cash.dmg .
This is the version of the app which I have just installed.
![Untitled](https://user-images.githubusercontent.com/1319853/125316907-db309500-e338-11eb-92c3-d8305645e944.png)
Is there any problem on the version?

[2021-07-12 15:47] mallenexpensify commented on #3623
I also logged into my test account I was sending the messages too and they're showing up out of order there too.  Thanks to @rdjuric for the ping in #expensify-open-source to check this
![image](https://user-images.githubusercontent.com/22508304/125317106-992e3180-e2ed-11eb-94ee-86d79cddc2da.png)

[2021-07-12 15:54] tgolen commented on #3950
@parasharrajat Your proposal looks good and yours was posted before @aliabbasmalik8. You have my 🟢 to work on this.

[2021-07-12 15:55] isagoico opened #3981 "[HOLD #8267] Web - Read messages are marked unread after a while"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open an unread chat
2. Navigate to other chats and use the app for a little while

## Expected Result:
Unread chat should stay marked as unread.

[2021-07-12 15:56] bfitzexpensify commented on #3041
Posted [here](https://www.upwork.com/jobs/~01251c6933a797adb3) on upwork. @marcaaron just a heads up @parasharrajat  has posted a proposal above.

[2021-07-12 16:04] Looxor commented on #2430
@Jag96  I got this console log which means that it's not the latest version.
Can you please provide an old app or another way to download old version?
![Untitled2](https://user-images.githubusercontent.com/1319853/125320017-9823f100-e33b-11eb-8ccb-62d319d88673.png)

[2021-07-12 16:10] shawnborton commented on #3296
I'm curious for @roryabraham 's input as you had some thoughts regarding iPad/native device detection in [another issue](https://github.com/Expensify/Expensify.cash/issues/3849#issuecomment-877386109).

I think for iPad (and basically any touch-screen device?) it makes sense to show the custom number input we created for this screen.

[2021-07-12 16:13] isagoico opened #3982 "LHN is focusing on incorrect chat when using chat switcher or when requesting money from global FAB"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Chat switcher scenario:
1. Open chat switcher via CMD + K or in windows use the search function
2. Search for an user
3. Select any user

Request Mo

[2021-07-12 16:24] parasharrajat commented on #3296
Ok. For Touch screens, we already have `CanUseTouchScreens` which also covers the laptops with touch screens.

[2021-07-12 16:34] iwiznia commented on #3743
I think I found a bug in dev. A new chat with just an IOU split shows `[Comment deleted]` in the LHN and I think would happen the same if the last action is an IOU action:
![image](https://user-images.githubusercontent.com/521248/125324001-adc5f600-e2fc-11eb-90c0-585d09df8125.png)

@dklymenk can you please fix that?

[2021-07-12 16:34] ABee-Tech commented on #3976
The result after the solution.

https://user-images.githubusercontent.com/42933600/125324081-42614000-e35f-11eb-9ed0-1b4e14106d8d.mp4

[2021-07-12 16:36] nickmurray47 commented on #3893
Taking a look now!

[2021-07-12 16:43] jsamr opened #3983 "Proposal: markdown parsing for react-native-render-html"
This is a follow-up on a request from @roryabraham. I have investigated the options to integrate Markdown parsing a little further, and here are my findings:

- Markdown parsing is hard. While XML or HTML markups are not context sensible, Markdown is. So implementing my own tokenizer is a no-go for a production-ready deliverable (although I might try the challenge as a hobby at some point).
- Chan

[2021-07-12 16:45] roryabraham commented on #2430
@Looxor there is not update available because you downloaded the latest version of the app. In order to test this, you really need to follow [this testing guide](https://github.com/Expensify/Expensify.cash/blob/main/desktop/README.md)

[2021-07-12 16:46] michaelhaxhiu commented on #3819
Looks like we are waiting on Expensify/Expensify.cash#3958. I'll test this when it's live.

Payment will be due 7 days after deployment.

[2021-07-12 16:49] dklymenk commented on #3743
Hmm, before sumbitting pull request I did test sending IOUs and attachments (aka empty messages), and didn't notice such an issue, I will take a look at sending IOU in a new chat in a couple of hours.

Thanks.

[2021-07-12 16:49] rdjuric commented on #3296
Just a note that showing the custom Keypad or the keyboard has no relation to the issue here. The problem isn't in how we _take the input_, but in _how we display the input_.

| With Custom Keypad  | With Keyboard |
| ------------- | ------------- |
|![Simulator Screen Shot - iPad Pro (12 9-inch) (4th generation) - 2021-07-12 at 13 44 25](https://user-images.githubusercontent.com/53711423/12532585

[2021-07-12 16:57] NikkiWines commented on #3953
Great! Looks like @jasperhuangg has [a PR](https://github.com/Expensify/Expensify.cash/pull/3928) up to updated that already 🎉 I'll link this issue to that PR.

[2021-07-12 17:04] parasharrajat commented on #3819
@michaelhaxhiu This is already deployed and you must be seeing the message over composer `Its xx:xx For User`

[2021-07-12 17:06] nickmurray47 commented on #3893
The proposal looks good to me as far as I can tell.

I had the same kinda nitpicky concern that @rdjuric brought up with the hard-coded line `'routes[0].state.routes[0].params.reportID'`. I'd much rather have that in some kind of `getActiveReport(rootState)` like you mentioned.

[2021-07-12 17:08] alex-mechler commented on #3982
Also happening on desktop https://expensify.slack.com/archives/C01GTK53T8Q/p1626109017129700

[2021-07-12 17:14] michaelhaxhiu commented on #3819
Ah sorry to clarify, I'm waiting to test this on `production` on the desktop app specifically. I see it on TF on mobile.

[2021-07-12 17:17] parasharrajat commented on #3982
This seems to me a regression but I have not checked it yet.

[2021-07-12 17:20] Looxor commented on #2430
@roryabraham , Thank you. I will try.

[2021-07-12 17:27] michaelhaxhiu commented on #2545
Still waiting on https://github.com/Expensify/Expensify.cash/issues/2985

[2021-07-12 17:27] mallenexpensify commented on #3822
This is happening again but to repro steps are different, I'm confident it's the same issue though.  I'm going to assign to myself and make it a weekly to see if I can outline the repro stuff AND get others to actually reproduce

[2021-07-12 17:28] roryabraham commented on #3296
To me this discussion feels like it has been a bit all-over-the-place, but I think the take-aways I'm seeing are:

I would much prefer to see it refactored to use styling that is platform agnostic. Whenever possible, we should strive for cross-platform code.

I agree with this. Ideally, even when displaying the custom keypad instead of the software keyboard, the component would work with keyboard

[2021-07-12 17:35] rdjuric commented on #3849
Closing this in favor of keeping the conversation on https://github.com/Expensify/Expensify.cash/issues/3296

[2021-07-12 17:35] #3849 closed

[2021-07-12 17:36] rdjuric commented on #3296
I'll close the other issue and wait for @kevinksullivan to export this one.

[2021-07-12 17:51] quinthar commented on #3983
To help me understand, can you confirm:

1. Are you sure wasm isn't supported?  @robertjchen is planning on using it for encryption, I think.

2. Can you benchmark this against our current custom markdown>html parser?

3. I thought the idea was translate directly from markdown to DOM, skipping HTML entirely.  But this seems like it is just benchmarking various open source markdown>html converters.

[2021-07-12 17:59] roryabraham commented on #3983
Nice, [markdown-it](https://github.com/markdown-it/markdown-it) looks like it has a very active community, which we love to see! I'm also excited about the rule customization and plugin architecture it offers.

Let me know what questions you have and how I can help! I am envisioning a phased scope-of-work that might look something like this:

1. You work on a POC of the MD integration in react-nat

[2021-07-12 18:09] jboniface commented on #3326
@bondydaa should this be external?

[2021-07-12 18:11] jboniface commented on #3884
@jliexpensify it looks like you were accidentally unassigned from this

[2021-07-12 18:12] rushatgabhane opened #3985 "Web - Chat items dance on scrolling fast"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a long chat.
2. Scroll up really fast and stop.

## Expected Result:
Chat items shouldn't wiggle.

## Actual Result:
Chat items wiggl

[2021-07-12 18:13] bondydaa commented on #3326
i have no idea

[2021-07-12 18:13] jboniface commented on #3671
I'm going to put this in `planning` while we wait to see if matt's internal issue resolves it

[2021-07-12 18:15] jboniface commented on #3600
@roryabraham should this be external? i'm currently going down the list of unassigned orphaned issues

[2021-07-12 18:20] Luke9389 commented on #3985
@rushatgabhane [mentioned in slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1626113871132400?thread_ts=1626082516.111400&cid=C01GTK53T8Q) that [this issue](https://github.com/Expensify/Expensify.cash/issues/3884) might fix this.

[2021-07-12 18:20] mallenexpensify commented on #3623
From Ioni - "We had several server semi outages today, so it is possible that this is related to that. ie: you sent 5 requests to the server, they usually arrive in order but since things were randomly slow, they got processed in a random order."

The timing looks to match up, site was reported down at the same time I was having issues.

[2021-07-12 18:27] jboniface commented on #3326
yeah, i mean, it seems like it doesn't require anything outside of RN, so i'm going to assume it's external

[2021-07-12 18:28] Luke9389 commented on #3952
I was not able to reproduce this on my Google Pixel 5. What device is being used to test this?

![Screenshot_20210712-112605](https://user-images.githubusercontent.com/49007721/125337762-372cf680-e304-11eb-8592-1feb6433c3fb.png)

[2021-07-12 18:33] rushatgabhane commented on #3952
@Luke9389 Just reproduced it on Google Pixel 3.

[2021-07-12 18:40] Luke9389 commented on #3952
hmm, interesting. I wonder how we set the height for this view. Perhaps it's the different screen size. I believe the Pixel 5 has a larger screen...

[2021-07-12 18:47] jsamr commented on #3983
@quinthar

My understanding is that [WASM is not officially supported at the moment](https://react-native.canny.io/feature-requests/p/support-wasmwebassembly) and there is an open ticket for [Hermes](https://github.com/facebook/hermes/issues/429) engine, but you can use [`react-native-wasm`](https://github.com/inokawa/react-native-wasm) to execute WASM in a `WebView`. Hence I'd rather wait for off

[2021-07-12 18:49] rdjuric commented on #3326
Couldn't reproduce this. I was able to tap any part of the message and the cursor stayed there.

Since the issue was dormant for a while it might a good idea to retest it?

[2021-07-12 18:59] robertjchen commented on #3983
To clarify, this is somewhat true- we won't be able to use pure `WASM` in React without the WebView workaround, but we can still compile `markdown-wasm` to the highly optimized [`asm.js`](https://emscripten.org/docs/compiling/WebAssembly.html) JS subset (now confusingly under the umbrella of WebAssembly™️ ).

Theoretically this might net us performance results between `markdown-it` and pure WASM `

[2021-07-12 19:03] rushatgabhane commented on #3952
@Luke9389 Yeah, Pixel 5 has slightly taller screen.

To reproduce the issue, just increase the height of your keyboard.

[2021-07-12 19:11] marcaaron commented on #3893
It looks like the PR has been merged already?

[2021-07-12 19:11] dklymenk commented on #3743
@iwiznia Hello. Right after you send a money request, the LHN is updated correctly. It is only after you refresh the page, you see a "[Comment deleted]" message. Basically, the root cause is not related to my PR and there is already an issue for it - #3737. Please take a look at my little explanation there if you need details on why this is happening. I am certain that the fix you guys are working

[2021-07-12 19:29] #3476 closed

[2021-07-12 19:34] stephanieelliott commented on #3892
OK, I'm gonna hold off on passing this through to Engineering until we can repro this.

Or rather than trying to repro ourselves, another idea could be to post reproducing the problem as a job on Upwork?

[2021-07-12 19:34] mallenexpensify commented on #3785
Posted to Upwork https://www.upwork.com/jobs/~010439ac5063bedde1, invited you to apply @rushatgabhane
@tgolen can you review the proposal above? If it's good to go, assign to @rushatgabhane and add a comment here so I can hire him in Upwork.

[2021-07-12 19:37] stephanieelliott commented on #3923
PR was merged, holding for 7 days to ensure no regressions and will pay on Upwork July 16.

[2021-07-12 19:38] parasharrajat commented on #3785
`pressOnEnter` => `bindKey = 'Enter'`Feels more approachable. Which will allow binding just any key. Or just `bindEnter` if you don't want to be bothered with making it dynamic.

[2021-07-12 19:41] marcaaron commented on #3810
@aliabbasmalik8 Not sure we need to use the error boundary. If we are only using it so that we can catch a thrown error then it could make more sense to redirect to a 404 screen, show a quick error growl, or a confirm modal that redirects you back to the site root

@Expensify/design thoughts on what we should prefer here?

As for creating something like `isReportExists`... as mentioned [here](http

[2021-07-12 19:44] mallenexpensify commented on #2180
Let's do it @tugbadogan !!!

[2021-07-12 19:44] #2180 closed

[2021-07-12 19:50] roryabraham commented on #3600
Yep, thanks for the follow-up @jboniface!

[2021-07-12 19:52] parasharrajat commented on #3600
Do you expect it to be purely in BASH or node script would be fine?

[2021-07-12 19:53] rushatgabhane commented on #3785
@parasharrajat thanks for your suggestion!
yeah, bindEnter is a better name.

We probably don't need dynamic binding for Button @tgolen?

[2021-07-12 19:55] shawnborton commented on #3810
I am having a little difficulty following all of the conversation, but I think in general I like the idea of just punting the user to a chat they can see (maybe it was the last chat the user was viewing) and then launching either a growl or a little confirm modal that says the chat can't be found. Is that what you were thinking Marc?

[2021-07-12 19:55] roryabraham commented on #3600
pure bash would be cleaner if there's a reasonable way to do it. We don't want to have to create another GH Action just to escape a string. Another option would be to find a community action and use that.

[2021-07-12 19:57] parasharrajat commented on #3600
No need for action. We can directly run the node -e there or Node script.js as that is bash.

[2021-07-12 20:04] roryabraham commented on #3600
I think you need to first run the `setup-node` action before node is available. `node -e` sounds fine to me, if that works.

[2021-07-12 20:16] marcaaron commented on #3810
That works for me! So we would essentially need to:

1. Redirect the user back to the site root `/` - which _should_ load a chat that they **can** see
2. Show a growl to let them know the previous report they are trying to access can't be accessed

[2021-07-12 20:22] marcaaron commented on #3892
We still don't really have a precedent for that as far as I know, but it's something @mallenexpensify has floated before. It would be nice to get someone working on this.

I did manage to find this [Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1619453767089100?thread_ts=1616748543.108500&cid=C01GTK53T8Q).

And this [older issue that we closed that seems like the same issue](http

[2021-07-12 20:28] isagoico opened #3987 "[Hold for payment 2021-08-05] Fix padding, bolding, and text wrapping behavior of the "It's HH:MM for XXXX" blurb"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation that has some existing messages.

## Expected Result:
We'd like to tweak three things in this issue:

1. Fix the paddi

[2021-07-12 20:31] parasharrajat commented on #3987
No Worries I am on it.

[2021-07-12 20:39] isagoico commented on #3958
Checking off https://github.com/Expensify/Expensify.cash/pull/3715#issuecomment-878384756

[2021-07-12 20:40] isagoico commented on #3326
I was unable to reproduce the issue on my iOS device too. I asked @JmillsExpensify [here =](https://expensify.slack.com/archives/C01GTK53T8Q/p1626122023135900?thread_ts=1622644819.436400&cid=C01GTK53T8Q) if he was still able to reproduce since he was the first to experience this.

[2021-07-12 20:48] jboniface commented on #3981
Since this hasn't been reproduced, I am hesitant to post the job

[2021-07-12 20:49] roryabraham commented on #3960
Yes 👍

Thanks for reporting! It seems like we might need to fix this internally to fix the API. I will investigate and let you know.

But overall @tugbadogan your proposal looks good! Feel free to submit a PR once an Upwork job has been created and you've been hired on Upwork.

[2021-07-12 20:52] roryabraham commented on #2279
Okay, @Viacheslav80 would you mind submitting a simplified version of your [previous PR](https://github.com/Expensify/Expensify.cash/pull/3659) without the few `touchstart` lines that caused regressions?

[2021-07-12 21:00] arielgreen commented on #3326
I, too, am unable to reproduce. Tested on 1.0.68-4. Going to close this. @JmillsExpensify please reopen if you're still experiencing this.

[2021-07-12 21:00] #3326 closed

[2021-07-12 21:03] isagoico commented on #3981
Looks like @tgolen @stitesExpensify and @cead22 were able to reproduce this issue too 🤔 @iwiznia I know this is a long shot but I have some questions that could help me get solid repro steps:
- Do you have an estimate of how much time it passes from reading the message to the unread status?
- Are there other tabs opened with e.cash active? Or other devices logged in with the same account that were

[2021-07-12 21:05] rdjuric commented on #3810
Looks like the flow should be something like:
1. In `componentDidMount` of `ReportActionsView` check if the local report object has a _reportID_ (we optimistically save some data locally to a visited report, so checking if it's an empty doesn't work)
2. If it doesn't, call `Get=reportStuff` with `reportIDList=[this.props.reportID]`.
3. If the API returns 404 or an empty report object, show a growl

[2021-07-12 21:09] mallenexpensify commented on #3743
Created a new Upwork job https://www.upwork.com/jobs/~01bbcb01bf658bed62 @dklymenk , I invited you.  Let me know once you've applied and I'll hire.

[2021-07-12 21:14] dklymenk commented on #3743
Thanks. I've applied.

[2021-07-12 21:17] jsamr commented on #3983
@robertjchen Thanks for pointing that out! I must confess that I'm not proficient in WASM nor asm.js. After reading `markdown-wasm` in surface, I realize that it's basically a wrapper around [md4c](https://github.com/mity/md4c), compiled in wasm. For our usecase, we would need to get the parse tree generated by md4c, and access the tree in memory with some JS bindings. I don't know if WASM offers

[2021-07-12 21:43] marcaaron commented on #3810
Looks mostly like what I had in mind @rdjuric, but now thinking we may just want to call `fetchChatReportsByIDs()` (which calls `Get&rvl=reportStuff`) so that all the report data will be loaded in the case that it does succeed.

e.g. if there's only one `reportID` passed to `fetchChatReportsByIDs()` and we can't access it then we should do `3`. Maybe we can add a boolean flag `shouldRedirectIfInac

[2021-07-12 21:43] marcaaron commented on #3810
I think we've got enough of an understanding to hash this out in a PR.

[2021-07-12 22:08] mallenexpensify commented on #3272
@kadiealexander paid this today.  Sorry it took a while @dklymenk (we have a new process now so this shouldn't happen with new issues going forward)

[2021-07-12 22:12] mallenexpensify commented on #3743
Hired @dklymenk in Upwork, assigned to this issue

[2021-07-12 22:22] roryabraham commented on #3974
PR is up and ready for review.

[2021-07-12 22:25] cead22 commented on #3981
@iwiznia also check that you don't have policy rooms with unread messages (eg, #announce) -- Cole let me know recently that this could be another cause of 3.cash showing the unread indicator

[2021-07-12 22:33] roryabraham commented on #3958
https://github.com/Expensify/Expensify.cash/issues/3974 should be fixed in `1.0.77-1`

[2021-07-12 22:43] marcaaron commented on #3272
@parasharrajat @dklymenk Not really following what's being proposed. Do we need to create a new issue ?

[2021-07-12 22:44] marcaaron commented on #3272
Oh just noticed those comments are very old so probably we do not need a new issue :)

[2021-07-12 22:50] mallenexpensify commented on #3892
I wonder, if for issues like this, where there is an issue reproducing, if we can state at the top of the post `need to be able to reproduce' and outline steps before proposing solution`, then we just start it like any other issue, and double the price until someone first figures out how to reproduce and proposes a solution.  Whatcha think?

[2021-07-12 22:59] mountiny opened #3993 "[Refactor] Add getButtonStyles function to the Button component"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
This is a refactoring issue. No actions in UI involved.

As raised [here](https://github.com/Expensify/Expensify.cash/pull/3681#discussion_r65890950

[2021-07-12 23:01] roryabraham commented on #3108
@Beamanator @kakajann Readonly permissions (as all our Open-Source contributors have) aren't enough to request a reviewer in GitHub. See https://docs.github.com/en/organizations/managing-access-to-your-organizations-repositories/repository-permission-levels-for-an-organization for more details.

@kakajann We have PullerBear set up as a code owner, so as soon as you create a PR his review will be a

[2021-07-12 23:05] chiragsalian commented on #3921
I'm not sure where we stand on this. @JmillsExpensify is there something else we need more for this issue or does any sort of animation work fine for the IOU pages? Does the video that @rdjuric shows above suffices for us?

[2021-07-12 23:09] chiragsalian commented on #3783
Ah alright, I didn't notice the dupe earlier, and sorry for the trouble @aliabbasmalik8. Thanks for catching it.
I'm going to close this issue as its a dupe since its part of this GH - https://github.com/Expensify/Expensify.cash/issues/3108

[2021-07-12 23:09] #3783 closed

[2021-07-12 23:19] tgolen commented on #3785
I think the proposal is mostly fine. I would simplify it more to just this:

[code]

I don't think some of the extra code there was really necessary. As far as the naming of the prop, I actually liked `pressOnEnter`. I don't think `bindEnter` makes as much intuitive sense (what is being bound to enter and what consequence does that have?). I don't think we need to worry yet about binding any other

[2021-07-12 23:19] tgolen commented on #3785
🟢 to move forward @rushatgabhane

[2021-07-12 23:26] tgolen commented on #3981
- Do you have an estimate of how much time it passes from reading the
   message to the unread status?

For me, it seems to happen more often when I go to the e.cash tab, sit for
1-2 seconds (and read the most recent message), then go to another tab
quickly. I suspect this is the cause of the issue.

   - Are there other tabs opened with e.cash active? Or other devices
   logged in with the same a

[2021-07-12 23:47] Drewfergusson commented on #3313
Hey, @puneetlath @roryabraham I was working on testing the solution I came up with and ran into an issue with what I proposed.

In my proposal, I am essentially creating a reusable component to wrap some "thing" (in this case the link) with a react native [Pressable component](https://reactnative.dev/docs/pressable) . This special Pressable then triggers a Popover. This works fine on browser, desk

[2021-07-12 23:48] mountiny opened #3994 "[TEST] Testing issue lifecycle 1"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
An issue in E.cash which is used for testing new functionality regarding issue lifecycle.

I will create a PR and this issue should close itself as

[2021-07-12 23:49] mountiny opened #3995 "[TEST] Testing issue lifecycle 2"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
An issue in E.cash which is used for testing new functionality regarding issue lifecycle.

I will create a PR and this issue should close itself as

[2021-07-12 23:50] mountiny commented on #3995
Sorry @davidcardoza, this is an issue for testing purposes. Forgot to remove the AutoAssignerTriage label.

[2021-07-12 23:56] roryabraham commented on #3965
There's a good likelihood that this might be fixed by https://github.com/Expensify/Expensify.cash/pull/3966 as well.

[2021-07-13 00:14] roryabraham commented on #3958
https://github.com/Expensify/Expensify.cash/issues/3964 and also probably https://github.com/Expensify/Expensify.cash/issues/3965 should be fixed in `1.0.77-2`

[2021-07-13 00:25] mallenexpensify commented on #3785
Hired in Upwork!

[2021-07-13 02:12] Christinadobrzyn commented on #3893
PR was merged, holding for 7 days to ensure no regressions and will pay on Upwork July 19.

[2021-07-13 02:20] Christinadobrzyn commented on #3770
Thanks for following up @dklymenk! No updates yet. We'll add a comment here once there is an update from the team. Thanks!

[2021-07-13 02:24] rdjuric commented on #3893
@Christinadobrzyn Thanks, Christina! Just a note that the PR was merged 4 days ago

@nickmurray47 nice, I'll open another PR to improve that line later

[2021-07-13 04:33] sophiepintoraetz commented on #3973
@parasharrajat

Can you clarify whether `Code Example:` is an example of the issue occurring or whether this is your suggestion on how to solve the problem? If it's the former, could you come up with a couple of suggestions just to get the brainstorming process going.

[2021-07-13 04:44] sophiepintoraetz commented on #3957
Hey @jsamr - can you please provide some more context on:

**- Identify bottlenecks and area of improvements;**
Are there going to be recommendations on actions to take for improvements? Who needs to implement them?

**- The conclusions and analysis will be delivered in the form of a technical report.**
How often will this happen? Who receives this report? How do you ensure that any of the improve

[2021-07-13 05:12] ABee-Tech commented on #3976
The previous solution might affect other platforms so I have got new best alternative i.e. using ternary operator instead of logical operator (&&) on render function where we are checking this.showPasswordMatchError() is true or not.
Solution:
[code]

[2021-07-13 06:10] Viacheslav80 commented on #2279
@roryabraham Hi! Done. PR without listener "touchstart"
#3999

[2021-07-13 06:59] SofiedeVreese commented on #3867
Adding a planning label and changing to a weekly for now, per [this comment](https://github.com/Expensify/Expensify/issues/169197#issuecomment-878586906). We're still discussing possible solutions so having this as a daily doesn't make sense for now.

[2021-07-13 07:26] Dal-Papa commented on #3964
Assigning @roryabraham for reference but this should be closed soon.

[2021-07-13 07:46] dklymenk commented on #3293
UPDATE: #3979 has been merged into main yesterday. It fixes this issue by showing 'comment deleted' message instead of previous one, if you delete the last comment. You are free to read discussion on #3743 to see how we got here, but basically showing next last message is either too inefficient or requires a lot of refactoring.

Thanks.

[2021-07-13 09:06] laurenreidexpensify commented on #3950
Hired you in Upwork @parasharrajat

[2021-07-13 09:22] anthony-hull commented on #2734
I'm still waiting on https://github.com/Expensify/Expensify.cash/pull/3414 to be merged for this issue as I will be working in that new component.
I've started some work on it, however.

[2021-07-13 10:39] isagoico commented on #3964
<img src="https://user-images.githubusercontent.com/44479856/125438304-f1706df4-714f-4356-ab2e-45b0effdd1f4.png" width="40%">

[2021-07-13 10:39] #3964 closed

[2021-07-13 10:51] isagoico commented on #3965
Issue is still reproducible both on Android and iOS
<img src="https://user-images.githubusercontent.com/44479856/125439696-41903035-d730-45a1-8b54-1a50d29180fc.png" width="40%"><img src="https://user-images.githubusercontent.com/44479856/125439755-540c1313-a977-41e5-9eee-613fd69dcf9d.png" width="40%">

[2021-07-13 10:59] isagoico commented on #3974
Issue is not reproducible anymore on the invite page 🎉 There's another issue that the user is unable to reach the bottom of the text box when scrolling. I'll open a separate ticket for this.

https://user-images.githubusercontent.com/44479856/125440267-420a033d-1ce0-4c6c-98f5-0a6c5db00834.MP4

[2021-07-13 10:59] #3974 closed

[2021-07-13 11:07] isagoico opened #4000 "iOS - Workspace Invite - User is unable to scroll to the bottom of the page when keyboard is open"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open e.cash and log in
2. Click on profile
3. Click on any existing workspace
4. Click on People
5. Click on Invite
6. Open the keyboard on any o

[2021-07-13 11:08] jsamr commented on #3957
Hi @sophiepintoraetz! Puneet suggested that I open an issue so that he can link an upwork job (I'm a freelancer).

There will probably be! But who will implement them is not my call. I think all of this will be worked out by Puneet directly, or by whoever should be considered the referral, @marcaaron perhaps?

This should be a one-time work; all the other questions are rather internal so I'll let

[2021-07-13 11:10] Julesssss commented on #3482
Whoops, this was missed somehow. Thanks for updating it!

[2021-07-13 11:15] isagoico commented on #3974
Issue about limited scrolling here https://github.com/Expensify/Expensify.cash/issues/4000

[2021-07-13 11:20] Julesssss commented on #3737
Yep, I've been looking into the issue but have been OOO until today.

[2021-07-13 11:27] parasharrajat commented on #4000
I am already fixing it and PR is in progress.

[2021-07-13 11:29] isagoico commented on #4000
@parasharrajat can you link the PR for reference?

[2021-07-13 11:33] isagoico commented on #3958
Both https://github.com/Expensify/Expensify.cash/issues/3974 and https://github.com/Expensify/Expensify.cash/issues/3964 have been fixed! Only deploy blocker remaining is https://github.com/Expensify/Expensify.cash/issues/3965 which is still reproducible.

[2021-07-13 11:37] Julesssss commented on #3889
Oh wow, nice spot.

It's odd that the increase seems to occur on different days for the 'Switch report' & 'Homepage reports loaded' events. The most recent PR touching the timing code was [this one](https://github.com/Expensify/Expensify.cash/pull/2684), which seems to be aligned date-wise. But I can't see any obvious issues at first glance. Happy to look further into this once I've cleared higher

[2021-07-13 11:40] rdjuric commented on #3889
Just to add some data:

I had some Timing logs with negative time (_-392ms_) for the `Switch Report`. Tried to reproduce it when I noticed but couldn't find out how.

[2021-07-13 11:46] Beamanator commented on #3108
@roryabraham for reference, here is @kakajann 's PR: https://github.com/Expensify/Expensify.cash/pull/3414

It looks like when he originally created the PR, it did assign pullerbear & later Shawn re-requested pullerbear to review, which is how I'm the current reviewer 👍 I was on vacation yesterday so I'll get to this today!

That's great to know! Thanks for sharing :)

[2021-07-13 11:49] Julesssss commented on #3921
CC @shawnborton, as we talked about multi-step navigation.

In my opinion, we should only use `left-to-right` and `right-to-left` animations, depending on which way the user is navigating through the tabs. Vertical animations might give the impression of hierarchy between the pages, which we should avoid.

[2021-07-13 11:50] iwiznia commented on #3743
Oh you are correct, thanks for the context!

[2021-07-13 11:52] Julesssss commented on #3921
@chiragsalian I think we're close to approving the proposal. Let's just see if any issues are raised with the side-to-side animations before giving the go-ahead.

[2021-07-13 11:54] iwiznia commented on #3981
It varies, I don't think the time is a determining factor here.

Nope

Same as Tim, only one at a time, but not the same one each time

Already did, this is not it. If it was, then the unread would not go away when I re-read the chat

[2021-07-13 11:57] isagoico commented on #3981
Thanks for the extra info! 🙇 No luck yet on being able to repro the issue yet. Will update if I find something.

[2021-07-13 11:57] rdjuric commented on #3921
Agree! I think we should use slide `right-to-left` to indicate that we're going _forward_, and slide `left-to-right` to indicate that we're going _back_ - in both cases without the **fadeIn** effect from the video.

Just in case you and @shawnborton want to take a look, [react-native-animatable](https://github.com/oblador/react-native-animatable) has some examples of predefined animations (the one

[2021-07-13 12:36] Julesssss commented on #3921
That sounds good. `slideInLeft` & `slideInRight` seem to be the best candidates.

[2021-07-13 12:38] kevinksullivan commented on #3296
Posted [here](https://www.upwork.com/jobs/~01c1026571903c2774)

[2021-07-13 12:42] kevinksullivan commented on #3960
Picked this one up for Mills. Job is posted [here](https://www.upwork.com/jobs/~0114384bfc59882311)!

[2021-07-13 12:59] mountiny opened #4002 "[TEST] Testing issue lifecycle 3"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
An issue in E.cash which is used for testing new functionality regarding issue lifecycle.

I will create a PR and this issue should close itself as

[2021-07-13 13:29] trjExpensify commented on #3951
Here you go @jsamr https://www.upwork.com/jobs/~01214906855dec6aa3!

[2021-07-13 13:34] trjExpensify commented on #3972
Going to hand this over to someone in engineering to explore further, @parasharrajat. If there has been a wider discussion about this update somewhere in Slack, feel free to include it in the issue.

[2021-07-13 13:42] Dal-Papa commented on #3982
I could reproduce on desktop and browser based versions. I think it can be picked up by contributors so assigning `External`

[2021-07-13 14:13] isagoico commented on #3965
Here's a closer looks on how it looks in my Android device
![image](https://user-images.githubusercontent.com/44479856/125467339-caa0ba69-bd2f-4ee0-aa5f-aa557fb164da.png)

[2021-07-13 14:17] parasharrajat commented on #3965
Ok I will try different devices.

[2021-07-13 14:30] rdjuric commented on #3982
@michaelhaxhiu I caused this one. Opening a PR to fix it now

Looks like `componentDidMount` isn't fired when we navigate to a `ReportScreen` from the Search/LHN. So we need to store our `currentlyViewerReportID` in the lifecycle componentDidUpdate (after checking for a report change).

[2021-07-13 14:47] luacmartins commented on #4000
Unassigning myself and assigning @parasharrajat as a fix is in progress.

[2021-07-13 14:53] Beamanator commented on #3965
@parasharrajat which PR do you think could have broken this?

[2021-07-13 15:04] railsjack commented on #3601
Hi @jliexpensify,
I am investing in this issue, and it appears to be slow on my side.
Can you please provide me the credentials (email/password) which are used for this demo?
https://github.com/Expensify/Expensify.cash/issues/3601#issuecomment-863621730

[2021-07-13 15:04] parasharrajat commented on #3965
@Beamanator I think this https://github.com/Expensify/Expensify.cash/pull/3942

[2021-07-13 15:05] Looxor commented on #3601
Hi @jliexpensify,
I am investing in this issue, and it appears to be slow on my side.
Can you please provide me the credentials (email/password) which are used for this demo?
https://github.com/Expensify/Expensify.cash/issues/3601#issuecomment-863621730

[2021-07-13 15:22] Beamanator commented on #3965
Hmm when I removed your changes from that PR I see this in android, so your changes may have almost fixed the issue haha. Do you see the same?

<img width="410" alt="Screen Shot 2021-07-13 at 5 16 05 PM" src="https://user-images.githubusercontent.com/3885503/125478235-cf2f7610-8ff8-4c0e-90eb-3d0954c4daa0.png">

[2021-07-13 15:30] shawnborton commented on #3921
Works for me too!

[2021-07-13 15:35] parasharrajat commented on #3965
So I just tested it on the smaller android device which is at version v1.0.77-2 and I don't found this issue.

[2021-07-13 15:45] quinthar commented on #3957
This sounds a bit ambiguous and open-ended,, and thus unlikely to produce any actual optimizations for many days or even weeks, so this can't be our top proposal for solving the current performance emergency.

However, it feels like we are kind of desperate right now and grasping at straws, so I am in total support of getting started on this right away even though I'm a little unclear on what exac

[2021-07-13 15:47] quinthar commented on #3957
Can you confirm that you are going to run this on all four platforms, and produce a prioritized list of recommendations that are sufficiently specific that we can turn them into projects immediately after?

[2021-07-13 15:59] jsamr commented on #3957
@quinthar

I agree it's somehow generic and exploratory ; the idea was to investigate performance in **well-defined scenarios** and pinpoint identifiable bottlenecks. I see three potential causes:

- JavaScript / native bridge;
- Extreneous re-renders;
- Long render times (which often come up to too many items to render, a bridge bottleneck, slow I/O operations).

Yes, although I would assume that

[2021-07-13 16:21] parasharrajat opened #4005 "[Hold for payment Aug 23rd] InlineCode block is trimmed on Android"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performe
1. Open any conversation on E.cash on Mobile App.
2. Send following message.
[code]

## Expected Result:
The code block is trimmed and not visible cor

[2021-07-13 16:22] NicMendonca commented on #3601
@Looxor that appears to be @jliexpensify's actual account, so he's not going to be able to share those credentials with you.

Can you please describe what is blocking? Is it a demo account?

[2021-07-13 16:27] Looxor commented on #3601
Hi @NicMendonca , thank you for your reply.
Oh, is it an actual one? I thought it was a demo account because the video showed the staging version app.
Anyway, I need to test the app using a bunch of users, but for me, only one user (Conceige) showed up.

[2021-07-13 16:39] parasharrajat commented on #4005
Sorry for posting a draft PR before Triaging but that PR is added to track issue status.

[2021-07-13 16:42] NicMendonca commented on #3601
@Looxor thanks for that context! Can you please open up this dialogue in #expensify-open-source to see if someone has credentials or a workaround for you?

[2021-07-13 17:26] roryabraham opened #4007 "Implement message-type Android push notifications"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Receive a push notification on Android.

## Expected Result:
Notifications should appear similar to how they do in Slack:

![image](https://user-ima

[2021-07-13 17:42] roryabraham opened #4008 "Improve report comment push notification background updates"
Both iOS and Android impose limitations on how frequently push notifications can wake the app from the background, and on how long those apps can remain awake in the background. Some variables that help determine whether this happens are:

- How much battery life the device has
- Whether the device is on low-power mode
- The availability of cellular data
- How frequently the user uses the app

iOS

[2021-07-13 17:48] NikkiWines commented on #3293
That sounds like a good solution to this issue. Thanks for the update @dklymenk!

[2021-07-13 17:55] roryabraham opened #4010 "[HOLD] Local notifications on mobile devices"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Receive a message on a iOS or Android device while Pusher is connected.

## Expected Result:
- If the app is in the foreground, but the message is f

[2021-07-13 17:59] NikkiWines commented on #3623
I agree with @marcaaron here, I think we need to be able to reliably reproduce this issue in order to move forward with proposals, otherwise, it's going to be quite difficult to find a proper solution for this. I would recommend closing this until we can reproduce/

[2021-07-13 18:04] roryabraham commented on #2279
Sorry for the confusion here everyone. Between these three PRs, I believe this issue _should_ be completely resolved:

- https://github.com/Expensify/Expensify.cash/pull/3659
- https://github.com/Expensify/Expensify.cash/pull/3816
- https://github.com/Expensify/Expensify.cash/pull/3927

[2021-07-13 18:04] #2279 closed

[2021-07-13 18:06] roryabraham commented on #3960
@tugbadogan The [Upwork job](https://www.upwork.com/jobs/~0114384bfc59882311) is ready for you to apply 👍

[2021-07-13 18:20] parasharrajat commented on #3041
I suggest we get going with this issue.

[2021-07-13 18:25] tugbadogan commented on #3960
Thanks @kevinksullivan @roryabraham I applied via Upwork. I will send the PR soon.

[2021-07-13 18:28] parasharrajat commented on #3383
@roryabraham Please update here if regression is fixed. Thanks.

[2021-07-13 18:29] avdoseferovic opened #4011 "Creating a group chat with yourself"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. login with valid credentials
2. click the plus sign
3. click new chat
4. insert a phone number you own that's not linked to that account
5. open

[2021-07-13 18:30] marcaaron commented on #3884
Hey @kidroca, I was thinking we could maybe break these out into separate issues to help evaluate them separately? Seems like some of this may lead to improvements, but probably should not all be done in a single PR.

[2021-07-13 18:33] avdoseferovic commented on #4011
I'd love to work on this if this is an unexpected behaviour.

[2021-07-13 18:42] chiragsalian commented on #3921
Cool looks like we're mostly in agreement about using react-native-animatable and slide left/right animations. @rdjuric mind posting a more detailed proposal of how to plan to solve this so that we can go ahead and hire you if you're still interested 🙂

[2021-07-13 18:46] arielgreen commented on #2662
Paid.

[2021-07-13 18:46] #2662 closed

[2021-07-13 18:57] tylerkaraszewski commented on #3987
Looks pretty straightforward and like @parasharrajat is gonna fix it. @isagoico can I give this back to you?

[2021-07-13 19:00] isagoico opened #4012 "[Hold for payment 22 July] Unable to highlight text in mWeb or in small window size"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

https://www.upwork.com/jobs/~01daa81ee3a89e111e
___

## Action Performed:
1. Navigate to e.cash in mWeb or Web
2. Try to highlight text in a conversation

## Expected Result

[2021-07-13 19:00] roryabraham commented on #3383
Hey @parasharrajat! The regression seems to have been fixed, but in order to really test if this issue is complete, we'll need to:

1. Ensure that the [open `StagingDeployCash` checklist issue](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) _does not_ have the `🔐 LockCashDeploys 🔐` label.
1. Merge a pull request.
1. Once the staging deploy for

[2021-07-13 19:01] roryabraham commented on #3383
@parasharrajat We can sync 1:1 and test that on the next open checklist?

[2021-07-13 19:07] parasharrajat commented on #3383
Sure. Thanks

[2021-07-13 19:26] jsamr opened #4014 "Yellow boxes make developers anxious and potentially less productive"
Although I have to admit I don't have scientific evidence to back up this generalizing assertion, I have found that those yellow warnings:

- distract me from my current task;
- give the impression that "something is broken" thus raising my anxiety level.

## Action Performed:

Launch the app on a mobile device in Dev mode.

## Expected Result:

No anxiety.

## Actual Result:

An anxiety spike.

!

[2021-07-13 19:30] rdjuric commented on #4011
I really like being able to have a chat with myself on Slack/WhatsApp. Useful for notes and testing stuff.

[2021-07-13 19:39] marcaaron commented on #2667
What's the current status of this issue? I'm having trouble telling which step we are on in the checklist above.

[2021-07-13 19:41] marcaaron commented on #2629
Going to investigate these changes to see if I can prove they will modestly improve chat switching / cold boot times.

[2021-07-13 19:59] joelbettner commented on #3770
I'm not familiar with what we are doing in terms of internationalization. Perhaps @iwiznia can shed some light on it and give insight into how this proposed change might fit in.

[2021-07-13 19:59] rdjuric commented on #3921
@chiragsalian Sure!

1. Wrap each of the the steps (IOUAmount, IOUParticipants, IOUConfirm) of our `IOUModal` in an `Animatable.View`, and pass to the `Animatable.View` the animation config that we agreed upon.
_(It might be better to wrap some components of the Step instead of the whole View, I'll test it during the PR)_
2. Pass `slideInLeft` if we got to that step by calling our `navigateToNextS

[2021-07-13 20:18] marcaaron commented on #4014
😂  This is great. Honestly, I think we have put off on ignoring them since we were maybe hoping to fix them. But I'm not against ignoring these particular warnings if we are not going to do anything about them.

[2021-07-13 20:21] timszot commented on #3601
Left a comment on the PR, I ran some tests using my account so we can evaluate from there.

[2021-07-13 20:40] timszot commented on #3490
Unassigning myself here since it's still in planning.

[2021-07-13 20:44] sophiepintoraetz commented on #3957
Sounds like more discussion to be had - but I feel like @puneetlath would be a better triager here / assigning to engineering to field the discussion.

[2021-07-13 20:56] tgolen commented on #3951
Sounds like maybe I don't need to do anything here? I've been a little out-of-the-loop on this one. Sounds like we're gonna go ahead and hire jsamr though, so yay!

[2021-07-13 20:59] #4000 closed

[2021-07-13 21:10] tgolen commented on #3490
I agree with all that Marc said. If there isn't an actual problem in the code, let's just move on. There are plenty of legit problems that need fixed!

[2021-07-13 21:10] #3490 closed

[2021-07-13 21:19] chiragsalian commented on #3921
Cool, LGTM, @JmillsExpensify feel free to hire @rdjuric on upwork.
@rdjuric, feel free to create the PR.

[2021-07-13 21:37] marcaaron commented on #3889
That's interesting. Maybe someone can look into what happens if we call Grafana with a negative value? Perhaps that can somehow explain the very large values.

[2021-07-13 21:57] roryabraham commented on #3965
Going to try an fix this again

[2021-07-13 22:43] marcaaron commented on #2629
Here is the following test I ran on an iOS device...

1. Create a new account
2. Add two chats each with 500 comments
3. Switch from chat A to chat B

**Observation before changes applied:**

When switching from chat A to chat B there's a loading spinner and finally only the first 10 messages load followed by the others eventually. The data for each chat is stored locally despite this happening.

[2021-07-13 22:43] #2629 closed

[2021-07-13 22:57] marcaaron opened #4021 "[HOLD #4022] [Performance] Loading spinner shown when switching to a chat that has already been fetched"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
- Tap on a chat

## Expected Result:
- Chat only shows a loading spinner if content has not yet downloaded

## Actual Result:
- Chat shows a loading

[2021-07-13 22:59] marcaaron opened #4022 "[Performance] [Tracking] Individual chat messages are slow to render"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
- Tap on a chat

## Expected Result:
- When chat loads the entire visible area is filled with messages instantly

## Actual Result:
- When items fir

[2021-07-13 23:25] roryabraham commented on #3965
My latest attempt is [here](https://github.com/Expensify/Expensify.cash/pull/4020) (it also fixes some style regressions). I'm not 100% sure if it will fix this issue because I've been unable to reproduce it so far.

[2021-07-13 23:31] marcaaron commented on #3884
Going to respond to each point then we can decide what to do about each one...

**ReportActionItem.onLayout**

A chat might rener 100+ items and they will all trigger this callback at once or very shortly one after the other. As you scroll through the chat it will get called more and more, even when it does nothing it still adds many event listeners that aren't serving a purpose - they still take

[2021-07-13 23:44] marcaaron commented on #3884
**Reduce complexity of ReportActionItem**

Ok, I think at least some of this might be a possible solution to the [Individual chat messages are slow to render](https://github.com/Expensify/Expensify.cash/issues/4022) problem. Which is likely to have more than one solution as we generically improve the speed at which a report action item loads.

Let's do it!

Makes sense. Can we test this by removin

[2021-07-13 23:46] marcaaron commented on #3884
**Attachments render in-chat should be squished**

If it's possible use a library like https://github.com/DylanVann/react-native-fast-image

We've tested this library locally and didn't see much performance gain from it and ultimately decided not to use it. Performance and rendering issues exist for chats that have no attachments at all. So, while there might be some improvements to make to attach

[2021-07-13 23:50] marcaaron commented on #3884
That's all I've got for now. I'm closing this issue for focus since it doesn't propose to solve any specific problem.

It seems like there is a very good chance that reducing the complexity of ReportActionItem could be a solution to [this issue](https://github.com/Expensify/Expensify.cash/issues/4022). And maybe removing the `onLayout` callback? But I'd suggest next that we move the conversation t

[2021-07-13 23:50] #3884 closed

[2021-07-13 23:58] jsamr commented on #3983
@roryabraham @quinthar

I changed my mind and thought that if it does perform worse, that will be flagrant whether or not the same set of syntax rules are covered. I managed to incorporate ExpensiMark in the benchmark (although in a hacky way because it uses ES modules , I just copied the required sources).

![image](https://user-images.githubusercontent.com/3646758/125539596-4ae745c3-d2d7-426a-ac

[2021-07-14 00:08] quinthar commented on #3983
I would expect that over time we're going to want our own parser, to do nonstandard things -- we want to own our own grammar.  But this is a huge testament to the power of WASM and we should absolutely be aiming for that.  Can we just port ExpensiMark to C++ and compile to WASM?  No need to use regexp.

[2021-07-14 00:22] #3995 closed

[2021-07-14 00:22] #4002 closed

[2021-07-14 00:33] marcaaron commented on #3957
Oh yeah so to avoid further confusion, we've discussed this a bit already and asked @jsamr to create this issue.
Gonna assign @puneetlath since he has the most context :)

[2021-07-14 00:34] mallenexpensify opened #4025 "Test issue to see if can assign a contributor without the contributor first commenting on an issue (which... you can't)"
Test, ignore.
cc @Jag96

[2021-07-14 00:36] mallenexpensify commented on #4025
@parasharrajat testing, please ignore :)

[2021-07-14 00:38] marcaaron commented on #3951
I'd like to review these changes when they are ready thanks :)

[2021-07-14 00:41] mallenexpensify commented on #4025
It's not possible to assign an issue to a contributor until they've added a comment, in case anyone is wondering.

[2021-07-14 00:41] #4025 closed

[2021-07-14 00:43] Jag96 commented on #2938
Reopening to keep track of payment

[2021-07-14 00:43] marcaaron commented on #3985
That issue has been closed now @Luke9389, but I can't reproduce this at all. What browser was this in @rushatgabhane?

[2021-07-14 00:52] rushatgabhane commented on #3985
@marcaaron It's Chrome on windows.

[2021-07-14 00:55] marcaaron commented on #3973
Hey @parasharrajat is this related to a specific problem that can't be solved another way? Unfortunately, something not being a "best practice" can be hard to justify "fixing" because it's unclear if anything is broken in the first place.

[2021-07-14 00:56] jsamr commented on #3951
@marcaaron
Copy that!

[2021-07-14 00:59] marcaaron commented on #3972
Sounds good. But before moving forward with the change I think we should do some benchmarks or produce evidence that performance will actually improved by this change. There are a million and one things we can do to improve performance. Figuring out which ones are worth doing is the challenge.

[2021-07-14 01:06] marcaaron commented on #3774
Seems like this one fell through the cracks

[2021-07-14 01:15] marcaaron opened #4026 "Many Retry Loops on Startup"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Unknown

## Expected Result:
When starting up the app there are no retries of old network requests that have been queued

## Actual Result:
Lots of

[2021-07-14 01:17] marcaaron commented on #3608
Going to close this in favor of https://github.com/Expensify/Expensify.cash/issues/4026

It seems like we know there is some kind of regression with the network request queue, but have no clear reproduction. It also seems like the changes here might be a potential solution to that. But we should focus on the issue that has been reported rather than put the solution first. Thanks!

[2021-07-14 01:17] #3608 closed

[2021-07-14 01:36] marcaaron opened #4027 "[Performance] Cold start time is slow on Android"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log into the app
2. Kill the app
3. Start up the app again

## Expected Result:
App should take a reasonable amount of time to boot back up

## A

[2021-07-14 01:40] rushatgabhane opened #4028 "[Hold for payment Aug 3] KeyboadShortcut is broken"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Search with `Cmd + K`
2. Open New Group with `Cmd + Shift + K`
3. Click outside New Group popup to close it.
4. Press `Escape` to close Sear

[2021-07-14 01:42] marcaaron commented on #4027
@JmillsExpensify curious if you think it'd be valuable to maybe have a goal in mind for this and generally base that on some of our most used apps and how long they take to start? Otherwise, I think going for "general improvements" to boot time can work, but there are probably many factors that can move us closer to where we want to be.

[2021-07-14 01:49] Christinadobrzyn commented on #4021
e.cash version: v1.0.68-4
iOS: v14.6

Testing this with an iOS device:
1) tap on the chat app
2) tap on an unread message > see the spinner while chat loads

Here's a video of this:
<img src="https://user-images.githubusercontent.com/51066321/125547155-751f13f1-c63a-405e-80e0-bfcbd50aa645.gif" alt="alt text" width="300" height="550">

[2021-07-14 02:05] jasperhuangg commented on #2990
Going to make this a Monthly since it doesn't appear to still be happening.

[2021-07-14 02:09] marcaaron commented on #2990
Let's just close it.

[2021-07-14 02:09] #2990 closed

[2021-07-14 02:10] rushatgabhane commented on #4028
### Why this issue is occuring
The issue is occuring because Push/Pop in KeyboardShortcut isn't implemented correctly.
When we click outside New Group page, all the eventListeners for `Escape` key are deleted.

## Proposal
Instead of  `delete events[keyCode]`, do `events[keyCode].pop()`.
https://github.com/Expensify/Expensify.cash/blob/b9569af14376b23fd8633883f2a3126a91d3fae4/src/libs/KeyboardShor

[2021-07-14 02:13] parasharrajat commented on #4014
I am looking into upgrading to Animated 2 https://github.com/Expensify/Expensify.cash/issues/3972

[2021-07-14 02:24] parasharrajat commented on #4028
This needs further planning.

[2021-07-14 02:28] parasharrajat commented on #3973
I agree this is more of a planning issue thus I not proposing to solve it. I would raise this on Slack to see if I get anything out of it and decide to close accordingly.

[2021-07-14 03:52] parasharrajat commented on #3922
Any update on the blocker?

[2021-07-14 04:03] parasharrajat commented on #3982
This issue can be closed now as PR is merged.

[2021-07-14 04:04] parasharrajat commented on #3939
This can be closed PR is merged.

[2021-07-14 04:08] parasharrajat commented on #3047
@Jag96 We can mark finished tags on the list.

[2021-07-14 04:31] Jag96 commented on #3790
Reopening to keep track of payment

[2021-07-14 04:35] Jag96 commented on #3047
Marked off the finished tags, left `<br>` unchecked and linked the bug we found

[2021-07-14 04:40] #3939 closed

[2021-07-14 05:43] jliexpensify opened #4029 "Expensify.Cash - Unable to add multiple emails to workspace separated by comma"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login to expensify.cash using an account under freePlan beta
2. Create a workspace via Global create (i.e. the green + icon)
3. Go to Settings a

[2021-07-14 05:50] jliexpensify commented on #4029
Posted to Upworks: https://www.upwork.com/jobs/~0185dff64f02b86eaf

[2021-07-14 05:52] parasharrajat commented on #4029
I have a suggestion to improve the input. I think this input for entering emails should expand based on the number of emails.

[2021-07-14 06:10] parasharrajat commented on #4029
### Proposal
1. We have to update `inviteUser` method https://github.com/Expensify/Expensify.cash/blob/f1ea424068fea065809c95f8a32ff2e08d7d52dc/src/pages/workspace/WorkspaceInvitePage.js#L74.
We split the `emailorPhone` state property via `,` and then validate each email or phone input as we are currently doing.
2. We will update the state variable name to be more relavant.
3. We will highlight th

[2021-07-14 07:25] MariaHCD commented on #3853
The fix for this one was deployed to production! Tested on desktop and web.

[2021-07-14 07:25] #3853 closed

[2021-07-14 07:28] jliexpensify commented on #4021
Posted to Upworks: https://www.upwork.com/jobs/~01d97c7d16f805328d

[2021-07-14 07:35] SofiedeVreese commented on #3838
@parasharrajat  has been paid, the contract has been completed, and the Upwork post has been closed.

Closing issue.

[2021-07-14 07:35] #3838 closed

[2021-07-14 09:33] parasharrajat commented on #4012
We need to fix the logic that was added to fix the Context Menu on the mobile devices.
It currently blocks the selection for all Smallscreen devices which includes resized browsers on the Web and desktop.
There are three places we are blocking selection.
https://github.com/Expensify/Expensify.cash/blob/bb5ae3e99ca3ea85a0dc7505429981f5756699e0/src/pages/home/report/ReportActionItemFragment.js#L68
h

[2021-07-14 09:34] isagoico commented on #3982
Issue is still reproducible in staging. Once the PR is merged to staging and retested we can close it out.

[2021-07-14 09:56] isagoico opened #4030 "Emoji - Emoji grid is not correctly laid out"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation.
2. Open emoji picker
3. Scroll to the bottom of each category

## Expected Result:
Emojis should be floating left.

#

[2021-07-14 09:57] rdjuric commented on #4021
We can make our loading state depend on whether we have messages in ONYX already or not, but I'm not sure we should do it. Some thoughts:

We're using the Loading spinner this way because our `ReportActionsView` takes too long to render. When we change reports, it acts like a "intermediary screen" between them. If we remove it, when changing reports we stay stuck on the old one until the new one f

[2021-07-14 10:06] parasharrajat commented on #4030
Regression after https://github.com/Expensify/Expensify.cash/pull/3561 was merged.

[2021-07-14 10:07] rdjuric commented on #4030
Just to save you some time @Jag96, this `flex: 1` will cause this problem when there're less than 8 emojis per row.
https://github.com/Expensify/Expensify.cash/blob/bb5ae3e99ca3ea85a0dc7505429981f5756699e0/src/styles/styles.js#L1053-L1054

[2021-07-14 10:10] parasharrajat commented on #4021
I do feel loader is unnecessarily delayed on Web.

[2021-07-14 10:13] iwiznia commented on #3770
We are not fully supporting multi languages for now (it's just an internal beta), but this is a small change that makes that beta better, so I'd say we go ahead and do this. Just make sure the selector is only shown when in the beta.

[2021-07-14 10:33] jsamr commented on #3972
react-native-reanimated is already in version 2.1.0 on master

https://github.com/Expensify/Expensify.cash/blob/bb5ae3e99ca3ea85a0dc7505429981f5756699e0/package.json#L89

That is why I found this warning in #4014 hard to explain...

[2021-07-14 10:36] parasharrajat commented on #3972
@jsamr But we need to set up it in the Native files so that it can be used.
1. For Android, mainApplication.java (Instructions https://docs.swmansion.com/react-native-reanimated/docs/installation#android)
2. Web requires webpack plugin.
3. IOS just works with pod install.

[2021-07-14 10:37] parasharrajat commented on #3972
I have prepared all the changes just need to :green_circle: to create a PR.

[2021-07-14 10:59] dklymenk commented on #3770
Hmm, the language picker in preferences seems to be rendered unconditionally: https://github.com/Expensify/Expensify.cash/blob/main/src/pages/settings/PreferencesPage.js#L115-L125

So there doesn't seem to be any beta associated with this feature. If that's a mistake, I guess I can also hide that select if user doesn't have some specific beta. I don't see anything containing `locale` or `lang` in

[2021-07-14 11:01] jsamr commented on #3972
@parasharrajat Sorry you are right, I didn't mean to be presumptuous! I had seen the babel plugin set up and had assumed it was already configured:

https://github.com/Expensify/Expensify.cash/blob/bb5ae3e99ca3ea85a0dc7505429981f5756699e0/babel.config.js#L30

@marcaaron
I had a great experience with `react-native-reanimated@^2` with expo. JSI showing its amazing potential, really beautiful, perfor

[2021-07-14 11:07] jsamr commented on #4014
@parasharrajat Thanks for the info. I'm going to prepare a PR for those boxes, and I'll remove the reanimated filter as this should be decided in #3972.

[2021-07-14 11:58] iwiznia commented on #3770
Oh damn, you are right, seems we forgot to hide that under a beta...
Can you add that? Let's name the beta `inetrnationalization`, add a method to check for it in the Permissions file and call it in both places where we use the selector. Or maybe is better to have the check in the selector itself? What do you think?

[2021-07-14 12:05] trjExpensify commented on #3951
Hired! 👍

[2021-07-14 12:23] dklymenk commented on #3770
Sure I will add that.

I've taken a look at `Permissions.js` and I don't a see any reason not to use it. I wouldn't need to add any dev mode checks myself to show the selector in dev mode. Also it would be very confusing if some permissions were checked in components and some in `Permissions.js`.

Basically, if the requested design changes for the sector on login page will be minimal I'll create a

[2021-07-14 12:27] iwiznia commented on #3770
Sounds great.

Yep, makes total sense to not lose the language you were using when logging out.

[2021-07-14 12:27] Beamanator commented on #3965
Looks great @roryabraham - tested, approved, merged 💯

[2021-07-14 12:29] Beamanator commented on #3965
I believe we can close this automatically b/c fix has been merged, no payouts are due.

[2021-07-14 12:29] #3965 closed

[2021-07-14 13:07] michaelhaxhiu commented on #3982
Good works folks. I'll let you see this through and thanks for being proactive @rdjuric and @parasharrajat !

[2021-07-14 13:14] dklymenk commented on #3770
Ok, great.

I will also need to know if the selector on the video looks ok, design-wise. I think there is at least some margin needed between legal text and the selector. Maybe there is more changes required for size, color, padding, position, etc. Please let me know if that's the case.

Otherwise, I think I'm ready to begin, so I'm waiting for an upwork contract.

Thanks.

[2021-07-14 13:28] iwiznia commented on #3770
For that I'll tag @shawnborton

[2021-07-14 13:30] iwiznia commented on #3770
@kevinksullivan can you create a contract in upwork and hire @dklymenk please?

[2021-07-14 13:38] lschurr commented on #4011
I'm not super well-versed on the roadmap and whether this is something we're currently working on. Throwing the eng label for more insight.

[2021-07-14 13:38] lschurr commented on #4022
@marcaaron should this be assigned to you?

[2021-07-14 14:06] TomatoToaster commented on #4029
@parasharrajat, your proposal sounds right for this. I think you can go ahead and work on it!

`3. We will highlight the email which is wrong in the Error Growl.` - not strictly necessary, but would be a very helpful feature - I like it.

For the first suggestion, what do you  mean by `We should highlight the User emails in the input for clarity`. Do you mean to literally just bolden the emails?

[2021-07-14 14:09] parasharrajat commented on #4029
Yeah, I meant bolden the emails as we currently don't have Email Input fields where each email is shown with a close button to interact separately instead of using backspace to remove it.

[2021-07-14 14:24] lschurr commented on #4022
Adding Eng before posting to External..

[2021-07-14 14:58] #3389 closed

[2021-07-14 15:41] #4014 closed

[2021-07-14 16:08] isagoico commented on #3958
Oh no @roryabraham looks like the issue is back 😟

[2021-07-14 16:14] roryabraham commented on #3958
ah, yeah this seems to still happen only when a PR is CP'd

[2021-07-14 16:17] roryabraham commented on #3965
@isagoico @kavimuru can we please retest this in `1.0.77-3` and verify if the issue is solved?

[2021-07-14 16:17] roryabraham commented on #3958
Updated the list – can we confirm that the last deploy blocker is fixed, then if so run a prod deploy & start a new round of QA?

[2021-07-14 16:24] roryabraham commented on #3958
Oops, `1.0.77-3` doesn't actually exist yet. See [this PR](https://github.com/Expensify/Expensify.cash/pull/4033) that had conflicts.

[2021-07-14 16:24] isagoico commented on #3958
Sure! Waiting on the build to be available since I'm not seeing it in the playstore yet

[2021-07-14 16:32] roryabraham opened #4036 "Merge conflicts in CP PRs are not handled well"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a PR with changes in a given file.
1. Give the PR the `CP Staging` label.
1. Merge the PR.
1. Create another PR with changes in the same f

[2021-07-14 16:47] stitesExpensify commented on #3922
Just waiting for final review

[2021-07-14 16:48] mallenexpensify commented on #3858
This isn't working on Desktop Version 1.0.76-2

https://user-images.githubusercontent.com/22508304/125660872-2389d39f-b567-4dbd-839a-ad1532a52b36.mp4

[2021-07-14 16:50] iwiznia commented on #4036
@parasharrajat this is a test, please ignore this message

[2021-07-14 17:07] parasharrajat commented on #3858
@mallenexpensify Have you used the down arrow key to activate the arrow navigation?

[2021-07-14 17:15] mallenexpensify commented on #3858
Yes, I was trying to click the down arrow and nothing happened. I _swear_ it worked _days_ ago....

[2021-07-14 17:23] parasharrajat commented on #3858
Sure, Bear with me. As soon as this PR is deployed to Staging, you will get back arrow navigation.

[2021-07-14 17:34] roryabraham commented on #3958
`1.0.77-3` is available on all platforms except iOS. Deploy is running [here](https://github.com/Expensify/Expensify.cash/runs/3069084359?check_suite_focus=true). Let's get ahead of testing it so that we can get this closed out ASAP.

[2021-07-14 17:41] roryabraham commented on #3958
Okay, `1.0.77-3` should now be available on all platforms.

[2021-07-14 17:44] parasharrajat commented on #4029
I found the following issues while working on this.

1. If we invite and phone number. It is not added to the Assignee list until we refresh the page.
2. `Str.isValidPhone` is returning true for value `98`?

[2021-07-14 18:19] roryabraham commented on #3958
Please HOLD prod deploy

[2021-07-14 18:21] parasharrajat commented on #3875
One issue is noted that If I had focus mode on, the whole `chatList` is loaded in LHN after login.

[2021-07-14 18:25] isagoico commented on #3958
Tested https://github.com/Expensify/Expensify.cash/issues/3965 on Android and it was a pass! New changes look great 😁

[2021-07-14 18:25] stephanieelliott commented on #3892
I like that idea @mallenexpensify! I think it could be worth at least trying. Do you think just changing the title and giving it a shout in  #expensify-open-source would be the best way to start?

[2021-07-14 18:36] stephanieelliott commented on #3959
Was able to demo this by following the reproduction steps 👍

[2021-07-14 19:03] alex-mechler commented on #4011
Thanks for reporting this! I talked about this with @trjExpensify and we decided that while this is not the most intuitive result, its one that does not negatively impact the users experience. If a user wants to go out of their way to create a chat with themselves this way, we don't need to block it. We do need to block someone sending themselves money, which we are handling [in this issue](https:

[2021-07-14 19:03] #4011 closed

[2021-07-14 19:13] rafecolton commented on #3958
:shipit:

[2021-07-14 19:13] #3958 closed

[2021-07-14 19:14] marcaaron commented on #3875
@parasharrajat can you elaborate? I'm not understanding what the issue is.

[2021-07-14 19:17] OSBotify opened #4046 "Deploy Checklist: Expensify.cash 2021-07-14"
**Release Version:** `1.0.79-3`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/2287
- [x] https://github.com/Expensify/Expensify.cash/pull/2635
- [x] https://github.com/Expensify/Expensify.cash/pull/3079
- [x] https://github.com/

[2021-07-14 19:18] parasharrajat commented on #3875
After I log in with a user that was not previously login and this user, I am login with, had #Focus mode on, you still see the full chat list on LHN with #Focus mode styling.

[2021-07-14 19:21] parasharrajat commented on #3875
If you refresh the page, LHN is set back to the correct chat List for #Focus mode.

[2021-07-14 19:27] kevinksullivan commented on #3770
Here you go @dklymenk

https://www.upwork.com/jobs/~016bcd2619ff78e4ea

[2021-07-14 19:31] marcaaron commented on #3875
Ok, doesn't sound like something we can prevent at this point if refreshing the page resumes the expected behavior.

[2021-07-14 19:52] isagoico commented on #4046
@roryabraham were good to start QA right?

[2021-07-14 20:10] parasharrajat commented on #3600
### Proposal
1. We have to escape `[`,']` chars to allow any strings to be used in bash.
2. We will update https://github.com/Expensify/Expensify.cash/blob/9a23847aa430d30c093418b9b2c0511d61b6a243/.github/workflows/deployBlocker.yml#L34
TO

This works for all chars except the single quote itself. To escape the single quote, close the quoting before it, insert the single quote, and re-open the quot

[2021-07-14 20:28] dklymenk commented on #3770
Thanks. I've applied.

[2021-07-14 20:39] tgolen commented on #3600
Heh, sounds good to me. It's a bit over my head, but sounds like you and Rory know what's going on here. 🟢

[2021-07-14 20:42] #3994 closed

[2021-07-14 20:53] quinthar commented on #3892
FYI this is 100% reproducible for me: just leave E.cash open in a tab while you are doing something else, without touching it or doing anything at all, with the console open.  After a few minutes the log will be full of these lines:

![image](https://user-images.githubusercontent.com/575186/125691381-c31ecd4f-6924-4097-a4a9-f700a8cef685.png)

[2021-07-14 20:59] joelbettner commented on #3770
(Looks like this is moving along. I'm going to un-assign myself.)

[2021-07-14 21:22] marcaaron commented on #2160
This has happened to me again.

[code]

[2021-07-14 21:25] quinthar commented on #3892
Again:
![image](https://user-images.githubusercontent.com/575186/125695079-5a58c3dd-d718-4b59-aa3a-7bcc078719ce.png)

[2021-07-14 21:38] parasharrajat commented on #3774
Posting a solution so that it can be checked off the Performance list.

We need to set `delayLongPress = 200` on `PressableWithSecondaryInteraction`. I chose 200 as the menu itself takes 300ms of animation time to be interactive.