[2022-07-06 17:59] Christinadobrzyn commented on #7648
Looks like old job posting in Upwork was closed - so created a new posting here.

Internal - https://www.upwork.com/jobs/~017c647a0e75584044
External - https://www.upwork.com/ab/applicants/1544742427005378560/job-details

[2022-07-06 18:09] parasharrajat commented on #7918
Posted a possible solution on the slack thread.

[2022-07-06 18:45] kbecciv opened #9747 "[$250] Web - A new Split bill isn't created between you and each of your selected participants, displayed after refresh"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR** https://github.com/Expensify/App/pull/7702

## Action Performed:
1. Go to NewDot and log in
2. Open a group chat.
3. Click/tap

[2022-07-06 18:51] adelekennedy commented on #9580
on hold

[2022-07-06 18:52] MitchExpensify commented on #9539
Thanks for the bump @mananjadhav ! We're chatting internally and will have an update very soon

[2022-07-06 18:59] adelekennedy commented on #8719
On Hold

[2022-07-06 19:11] Santhosh-Sellavel commented on #8791
Oops I forgot to leave a comment on the proposal. The proposal looks like a work around to me.

@liyamahendra Can you elaborate more on how the change addresses the issue?

[2022-07-06 19:12] MitchExpensify commented on #9733
Cool, I found the problem hard to understand at first glance but on reading the thread I'd suggest something closer to:

"Problem:

When pasting stylized text (e.g. a word like "*Bold*") into the New Expensify chat box it shows the markdown style before it is actually applied (i.e. "*" on either side of "Bold") rather then after the markdown style is applied (i.e. exactly how it was copied "*Bold*

[2022-07-06 19:12] #9522 closed

[2022-07-06 19:14] rushatgabhane commented on #9245
yeah, pretty much

[2022-07-06 19:20] Justicea83 commented on #9509
adding external so our contributors can take a look

[2022-07-06 19:41] liyamahendra commented on #8791
@Santhosh-Sellavel mind sharing why you feel the solution is a workaround?

As far as I understand my solution is a fix to the issue. The only workaround is to reproduce the issue locally.

iOS mobile safari browser has issues with *height: 100%* and many blogs you will find that the recommendation is to use *vh*. The changes I proposed ensures that the height expands properly taking care of the s

[2022-07-06 20:04] luacmartins commented on #9249
I believe this is good to be paid out!

[2022-07-06 20:09] deetergp commented on #9402
@marktoman Your proposal seems pretty well reasoned but I'd love to see it in action, especially with a slow/throttled internet connection.

[2022-07-06 20:35] stephanieelliott commented on #9238
Changes requested on the PR, also waiting on @mananjadhav's review I think?

[2022-07-06 20:45] puneetlath commented on #9664
Ok, I'm going to go ahead and mark as External to see if anyone has any ideas about how to reproduce.

[2022-07-06 21:04] stitesExpensify commented on #9505
Added the labels

[2022-07-06 21:08] adelekennedy commented on #4324
[internal](https://www.upwork.com/ab/applicants/1544790173643612160/job-details)
[external](https://www.upwork.com/jobs/~01ab2cf6e1eab6b8d9)

[2022-07-06 21:43] MitchExpensify commented on #9727
[Upwork Job](https://www.upwork.com/jobs/~01f638130daf2f58c9)

[2022-07-06 21:46] kevinksullivan commented on #8888
Ah, wrong issue. Disregard.

[2022-07-06 22:02] parasharrajat commented on #9660
Looking for other possible proposals that do not include HTML manipulation.

[2022-07-06 22:07] aldo-expensify commented on #9182
No overdue, the [PR](https://github.com/Expensify/App/pull/9385) was merged, but has not been deployed yet.

[2022-07-06 22:23] kevinksullivan commented on #9089
Paid @Santhosh-Sellavel . All set!

[2022-07-06 22:23] #9089 closed

[2022-07-06 22:27] kevinksullivan commented on #9497
Hired @eVoloshchak and @Santhosh-Sellavel on upwork.

[2022-07-06 22:42] eVoloshchak commented on #9497
Will submit a PR tomorrow

[2022-07-06 22:55] JmillsExpensify commented on #9662
Looks like we're outside of the regression period hold. I'll go ahead and create a new Upwork issue.

[2022-07-06 22:56] JmillsExpensify commented on #9662
Upwork issue is here: https://www.upwork.com/jobs/~01a0c7621378808a22

[2022-07-06 22:58] JmillsExpensify commented on #9246
Ok thanks! I don't see that the related PR has hit production yet though. Is that right?

[2022-07-06 23:00] JmillsExpensify commented on #8220
This issue might be affected by the late production deploy. PR still isn't showing we're in the regression period.

[2022-07-06 23:20] mountiny commented on #9424
No proposals, @kadiealexander feel free to double the price on this one. Thanks!

[2022-07-07 00:03] roryabraham commented on #7918
Posted another possible solution on the slack thread and in [this draft PR](https://github.com/Expensify/App/pull/9749)

[2022-07-07 00:11] luacmartins commented on #9662
@allroundexperts since you worked on the [last PR](https://github.com/Expensify/App/pull/9405).

[2022-07-07 00:31] kadiealexander commented on #9418
Sent you an offer @sobitneupane.

[2022-07-07 00:43] kevinksullivan commented on #9705
https://www.upwork.com/jobs/~017e918f410937c6d8

[2022-07-07 00:48] kevinksullivan commented on #8641
Looks like I should be removed here, but let me know if I'm misunderstanding.

[2022-07-07 01:00] roryabraham commented on #7916
Posted a possible solution on the slack thread and in https://github.com/Expensify/App/pull/9749

[2022-07-07 01:29] marcaaron commented on #9660
@roryabraham any thoughts? And can you advise on how we could disable the option to "Copy link" when we are right-clicking on a hyperlink?

I'm not sure where in the code we'd be able to do that (looked for a bit, but couldn't find the logic that determines why some options show and others do not). That would be an easier solution IMO as it is pretty ambiguous what is even being copied when presen

[2022-07-07 01:32] roryabraham commented on #9240
Okay, in the sake of transparency, I'm not sure I've 100% followed everything here, but it really seems like we're close to a solution that will work on as many platforms as possible. The proposal seems very well researched, and given the endorsement of @parasharrajat I feel comfortable assigning this job to @marktoman.

However, @michaelhaxhiu it seems like it's pretty complicated and there was a

[2022-07-07 02:03] Santhosh-Sellavel commented on #9727
This is duplicate of #8037

[2022-07-07 02:33] roryabraham commented on #9660
I agree that `Copy link` vs `Copy URL to clipboard` is confusing. Reading up in the slack thread, I think @marcaaron made some really good arguments for why we should just display `Copy URL to clipboard` if you right-click on the link, so 👍 there. I also think that the same logic should apply if you right-click an email link, which has this same bug.

Yep!

- all the context menu actions are defin

[2022-07-07 03:24] mvtglobally commented on #9586
@roryabraham  @Julesssss
PR https://github.com/Expensify/App/pull/9626 is failing due to  https://github.com/Expensify/App/issues/9742 & https://github.com/Expensify/App/issues/9745
PR #9672 is failing due to https://github.com/Expensify/App/issues/9747. repro in prod. ok to check off?

Waiting for the green light on https://github.com/Expensify/App/pull/9350

[2022-07-07 05:28] sobitneupane commented on #9418
Hello @kadiealexander, I have received offer but for issue #9424 which is different from this issue (#9418).

[2022-07-07 06:15] adeel0202 commented on #9727
How is this duplicate? The other issue is about the save button getting disabled/unclickable after removing the profile picture and uploading again. This one is about the save button NOT getting disabled/unclickable after uploading a picture and then removing it.
Both have completely different steps and different issues so doesn't look like a duplicate to me.

[2022-07-07 06:18] adeel0202 commented on #9727
Also, the other issue was closed because it was not reproducible anymore. This issue is still reproducible.

[2022-07-07 07:12] kadiealexander commented on #9418
Ahhh sorry @sobitneupane, it's the correct Upwork post I just got the ID wrong in the title. I'll change that now. Please still accept!

[2022-07-07 07:17] kadiealexander commented on #9418
Great catch, sorry @sobitneupane! I've withdrawn that and issued an offer using the correct Upwork issue.

[2022-07-07 08:51] phuongpt commented on #9727
My proposal:
![Screen Shot 2022-07-07 at 15 49 12](https://user-images.githubusercontent.com/4443583/177732812-f44788e5-5ad0-4e07-abea-8fa8b3cc40b9.png)

Results
![Simulator Screen Shot - iPhone 12 - 2022-07-07 at 15 28 23](https://user-images.githubusercontent.com/4443583/177728916-3499cd0f-caf1-4c48-b4b5-c6270409a292.png)

[2022-07-07 09:21] neil-marcellini commented on #9581
On HOLD, but we [said we would discuss push to page this week](https://github.com/Expensify/App/issues/9579#issuecomment-1171415775), have we?

[2022-07-07 10:00] Julesssss commented on #5336
The first mergeCollection PRhas been merged. Still blocked

[2022-07-07 10:00] Julesssss commented on #9252
Not overdue

[2022-07-07 10:01] #9685 closed

[2022-07-07 10:06] Julesssss commented on #9742
Based on the steps this seems valid to me, but please correct me if I missunderstand @roryabraham

[2022-07-07 10:06] flodnv commented on #9707
@bondydaa I don't think you meant to unassign @kadiealexander, so I am reassigning.

[2022-07-07 10:08] Julesssss commented on #9745
Unable to reproduce this on Web. Removing the deployBlocker label for now.

[2022-07-07 10:09] Julesssss commented on #9586
Removed #9745 as a blocker as I'm unable to reproduce.

[2022-07-07 10:16] Julesssss commented on #9586
Still blocked by the Web-E PR. I've asked for someone to add a comment here when it's done.

[2022-07-07 10:45] Julesssss commented on #9586
Yeah, as it's occuring in prod it's not a deployBlocker. I'll mark it off now.

[2022-07-07 10:47] Julesssss commented on #9586
@roryabraham I'm a bit confused by this Web-E blocker... I can't find any information about it in the [linked issue](https://github.com/Expensify/App/pull/9350). The only mentioned Web-E PR was merged weeks ago 😕

[2022-07-07 10:52] Julesssss commented on #9586
Anyway, the Web-E deploy seems to be the final remaining blocker now 👍

[2022-07-07 10:55] trjExpensify commented on #9586
Yeah, I'm trying to piece together what exactly we're waiting on, as this deploy is holding up the #VIP-550-engaged reach-outs that we'd ideally like to pull the trigger on today. My understanding is this..

[This Web-E PR](https://github.com/Expensify/Web-Expensify/pull/34086) needs to go to prod before the NewDot deploy, as it needs to go before [this APP PR hits prod](https://github.com/Expensi

[2022-07-07 12:54] Beamanator commented on #9744
Thanks for testing! 🙏 we can keep this open a few days to see if anyone can reproduce, maybe we'll have to close if not

[2022-07-07 13:10] MariaHCD commented on #9741
Unable to reproduce on staging or on local on a mac:

https://user-images.githubusercontent.com/12268372/177779089-c4fc4e40-926a-43b8-916e-f9b28b862f7c.mp4

But I am able to reproduce the issue on a windows device.

[2022-07-07 13:49] liyamahendra commented on #8791
I realised that ours was a specific use case, so edited my comment, avoiding references to the recommendations I mentioned.

Since ours is a specific use case, I'll share details in a separate comment as to why **height: 100%** doesn't work well here.

[2022-07-07 13:53] liyamahendra commented on #8791
This comment is in two parts:

1. For why **height: 100%** causes an issue

**height: 100%** works normally but fails in our particular use case due to Smart banner.

To understand this properly, we need to clearly understand the difference between **height: 100%** and the use of **vh**.

- When **height: 100%;** is used, the element to which this attribute is applied, is sized 100% in height rela

[2022-07-07 14:31] JmillsExpensify commented on #9586
Woo woo! Let's lift off.

[2022-07-07 15:06] Santhosh-Sellavel commented on #9662
@JmillsExpensify We are still on regression period only. The PR is not yet deployed on production

[2022-07-07 15:34] roryabraham commented on #9586
:shipit:

[2022-07-07 15:34] OSBotify commented on #9586
This issue either has unchecked items or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2022-07-07 16:00] roryabraham commented on #9586
Oh, actually now that Web-E is deployed we need to run QA on https://github.com/Expensify/App/pull/9350

[2022-07-07 16:05] tgolen commented on #8292
Dropping to weekly for now. Daily seems overkill.

[2022-07-07 16:18] strepanier03 commented on #9734
Triaging now.

[2022-07-07 16:19] roryabraham commented on #9742
Yep, this looks valid to me. @techievivek I can grab this and work on a fix since I've worked on this code a lot recently

[2022-07-07 16:22] roryabraham commented on #9737
@kevinksullivan as soon as this is exported please make it a monthly

[2022-07-07 16:56] Julesssss commented on #9586
CC @Expensify/applauseleads

[2022-07-07 17:31] stitesExpensify commented on #9747
@roryabraham this isn't related to https://github.com/Expensify/App/pull/7702 because it's reproducible on prod, right? If so I'll make this external

[2022-07-07 17:37] damdafayton commented on #9620
@kbecciv @muaazsheikh I think its bad css. Probably save button is positioned absolute/relative to the bottom and keyboard is pushing it up.

[2022-07-07 17:41] roryabraham opened #9761 "Eliminate unnecessary deploys and noise from help site PRs"
### Problem
When help site PRs are merged, they are subjected to the same CI/CD as the rest of the repo. This means that they:

1. May trigger NewDot deploys
1. Will get inaccurate/misleading deploy comments
1. Will cause unnecessary noise in GitHub and slack

### Why this is important
It will be a distraction and waste people's time. It's also just annoying

### Solution
Skip most NewDot CI/CD if

[2022-07-07 17:57] marktoman commented on #9240
@michaelhaxhiu applied. I will push a PR within a week. Thank you for the bonus proposal, @roryabraham.

[2022-07-07 18:04] Christinadobrzyn commented on #9660
I'm going to be ooo so assigning this to another teammate.

[2022-07-07 18:04] damdafayton commented on #9620
Ok I have solved it.
You need to add `min-height: 100vh;` to the element with this class `css-1dbjc4n r-13awgt0` which is the container of the button. Then it wont move up any more.

[2022-07-07 18:06] Christinadobrzyn commented on #9391
I'm going ooo so assigning this to another teammate - waiting on proposals.

[2022-07-07 18:07] parasharrajat commented on #9660
@Christinadobrzyn Could you please update the Expected result section with following?

`Copy link` menu item should not be shown on ContextMenu for Attachments and links.

[2022-07-07 18:15] parasharrajat commented on #9660
@Christinadobrzyn Could you please update the Expected result section with the following?

`Copy link` menu item should not be shown on ContextMenu for Attachments and links.

[2022-07-07 18:37] JmillsExpensify commented on #9662
Oh great! Closing out the Upwork job in that case.

[2022-07-07 18:56] damdafayton commented on #9620
@jliexpensify

[2022-07-07 19:36] kbecciv opened #9766 "Attachment - Text is duplicated when sent message with attachment while offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR** https://github.com/Expensify/App/pull/9350
## Action Performed:
1. Create two accounts and a chat between them in NewDot
2. Op

[2022-07-07 19:49] strepanier03 commented on #9734
Hmm, I'll send it on but I can't repro myself in Chrome or Firefox.

[2022-07-07 20:03] damdafayton commented on #9620
I am trying to fix it to open PR but Im unable to run the app on local.

`npm run web-server` gives this error: `..expensify-bug\node_modules\expand-tilde\index.js'. Please verify that the package.json has a valid "main" entry`.

If you can help me setup on local I can give the solution fastly.

[2022-07-07 20:18] stitesExpensify commented on #7835
I have not had a chance to look into this further. This may require extensive internal work and it is not currently a priority.

[2022-07-07 20:23] luacmartins commented on #9582
On hold!

[2022-07-07 20:36] Christinadobrzyn commented on #9332
Hey @parasharrajat can we add a reviewing label to this to keep it from going overdue?

[2022-07-07 20:47] trjExpensify commented on #9586
How we looking here, ya'll?

[2022-07-07 20:49] kavimuru opened #9767 "Line Breaks - Copying & Pasting Line breaks does not work"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre- Condition: User has copied a line break previously
1. Access staging.new.expensify.com
2. Sign into any valid account
3. Click on any chat

[2022-07-07 21:05] kbecciv commented on #9767
Duplicate https://github.com/Expensify/App/issues/9608

[2022-07-07 21:05] #9767 closed

[2022-07-07 21:06] roryabraham commented on #9586
@trjExpensify You can follow along in slack [here](https://expensify.slack.com/archives/C9YU7BX5M/p1657209738368589)

[2022-07-07 21:16] roryabraham commented on #9586
Looks like the only issue that popped up was https://github.com/Expensify/App/issues/9766. While it looks like a legitimate bug, I'm thinking we should not treat it as a blocker because it's pretty minor and we have a pressing need to get this release out the door. Thoughts?

[2022-07-07 21:17] stitesExpensify commented on #9620
Please follow the instructions here to get started as a contributor 😄

https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md

[2022-07-07 21:17] roryabraham commented on #9586
Actually, https://github.com/Expensify/App/issues/9766, is reproducible in production. So it's definitely not a blocker

[2022-07-07 21:19] roryabraham commented on #9586
Following [confirmation in slack](https://expensify.slack.com/archives/C9YU7BX5M/p1657228406598079?thread_ts=1657209738.368589&cid=C9YU7BX5M), https://github.com/Expensify/App/pull/9350 passed without any blockers, so I'm going to check it off.

[2022-07-07 21:19] roryabraham commented on #9586
:shipit:

[2022-07-07 21:19] OSBotify commented on #9586
This issue either has unchecked items or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2022-07-07 21:21] roryabraham commented on #9586
Oh, https://github.com/Expensify/App/pull/9626 had some issues but no blockers. Checking that off as well.

[2022-07-07 21:21] roryabraham commented on #9586
:shipit:

[2022-07-07 21:24] roryabraham commented on #9586
Need to reopen this due to a failed [deploy workflow](https://github.com/Expensify/App/runs/7241803511?check_suite_focus=true)

[2022-07-07 21:36] pecanoro commented on #9487
Not overdue, PR was merged 9 days ago!

[2022-07-07 21:57] Harshdeepjoshi commented on #9660
# Proposal
### Solution

- To hide the menu options from context menu for links, we need to edit [this](https://github.com/Expensify/App/blob/c06dc817487e949c8859b8431d673283fa4a6240/src/pages/home/report/ContextMenu/ContextMenuActions.js#L124) line and add `=> type === CONTEXT_MENU_TYPES.REPORT_ACTION`

- To hide the menu options from context menu for attachments, we would add `&& !ReportUtils.is

[2022-07-07 21:58] sketchydroide commented on #9421
Oh I no longer have a device, I might need to ask someone to test this

[2022-07-07 22:16] MitchExpensify commented on #9539
Paid @mananjadhav, thanks so much for your patience!

[2022-07-07 22:16] #9539 closed

[2022-07-07 22:21] roryabraham commented on #9586
https://github.com/Expensify/App/pull/9771 should fix NewDot deploys 🤞

[2022-07-07 22:23] MitchExpensify commented on #9741
[Upwork Job](https://www.upwork.com/jobs/~0185ef423c729acb49)

[2022-07-07 22:51] Christinadobrzyn commented on #9624
ooo so assigning to a teeammate!

[2022-07-07 22:54] roryabraham commented on #9586
https://github.com/Expensify/App/pull/9771 merged. Let's try this again, shall we?

[2022-07-07 22:55] roryabraham commented on #9586
:shipit:

[2022-07-07 22:59] roryabraham commented on #9586
Not quite

[2022-07-07 23:03] thienlnam commented on #9713
We've been aware of the blank page - we don't return anything in various scenarios and we've talked about adding some kind of error message so it doesn't look like a bug.  The way you mentioned is one way we could handle it, we've also thought about just returning an error dialog but we haven't really fleshed out the design of what this would look like yet so it's something that we need to do firs

[2022-07-07 23:12] parasharrajat commented on #7962
@grvsood I was able to upgrade the app to latest `react-native-pdf@6.5.0`. I didn't face any issue.
1. Changed version of `react-native-pdf: ^6.5.0`
2. Removed `rn-fetch-blob`.
3. Installed `react-native-blob-util:^0.13.7`
4. Replace all the imports of `rn-fetch-blob` with `react-native-blob-util`.

Am I missing something? BTW, your changes are still not deployed to npm on `react-native-pdf`. We m

[2022-07-07 23:32] jliexpensify commented on #9487
Heh, my bad: I hired you in preparation to pay you haha.

[2022-07-08 00:01] trjExpensify commented on #9709
Oops, someone missed this. On upwork here: https://www.upwork.com/jobs/~01c6ba7a40ecceeb34

[2022-07-08 00:14] roryabraham commented on #9586
Going to ship this again. I think the staging deploy + new checklist creation _should_ happen automatically 🤞, but I'll need to manually do the production deploy. Slack context [here](https://expensify.slack.com/archives/C03V9A4TB/p1657234652096509)

[2022-07-08 00:14] roryabraham commented on #9586
:shipit:

[2022-07-08 00:14] #9586 closed

[2022-07-08 00:27] roryabraham opened #9781 "Deploy Checklist: New Expensify 2022-07-07"
**Release Version:** `1.1.82-5`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/9062
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/9350
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9385
  - [x] QA

[2022-07-08 00:35] roryabraham opened #9782 "Failed Storybook build breaks web deploys"
### Problem
If Storybook build is broken, then the whole web deploy fails ([example](https://github.com/Expensify/App/runs/7243640102?check_suite_focus=true))

### Why this is important
We should not block web deploys on having storybook working

### Solution
Refactor the `platformDeploy` workflow to ensure that the web build will continue even if Storybook fails.

[2022-07-08 00:38] arielgreen commented on #8846
bump @dharmik

[2022-07-08 00:44] parasharrajat commented on #9427
One more thing that I can think of is to prevent the use of inline prop values as much as possible.

1. No Inline callbacks.
2. No inline objects.

Object literals will recreate a new object on each render and due to a change of value, the underlying component will rerender.

[2022-07-08 00:46] roryabraham commented on #9781
Please keep this unlocked for a bit

[2022-07-08 01:56] mvtglobally commented on #9781
@roryabraham tag us when it's good to lock it. It's already late, we will start regression in the morning

[2022-07-08 02:15] mvtglobally opened #9786 "CORS errors on the latest staging version of the Desktop app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Update to the latest version 1.1.82-1
3. try to login

## Expected Result:
User should not see any CORS errors and be able to lo

[2022-07-08 02:16] OSBotify commented on #9786
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-08 02:26] #9786 closed

[2022-07-08 03:24] adelekennedy commented on #7436
not overdue Melvin - internal discussion is linked above

[2022-07-08 05:03] roryabraham commented on #9781
@Expensify/applauseleads You can lock this whenever you're ready 🙇

[2022-07-08 05:03] roryabraham commented on #9781
Verified that https://github.com/Expensify/App/issues/9786 was resolved by https://github.com/Expensify/App/pull/9785

[2022-07-08 05:17] roryabraham commented on #9781
Checked off https://github.com/Expensify/App/pull/9732 because it's not a blocker, but it appears electron-log maybe hasn't been working since March? That's the most recent log I'm seeing in `~/Library/Logs/new.expensify/main.log`

[2022-07-08 05:26] MonilBhavsar commented on #9766
Will look into it but probably should be hold on API and offline doc.

[2022-07-08 05:28] roryabraham opened #9794 "[HOLD for payment 2022-08-11] [$250] Electron log file not working"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Run a `console.log` in the Electron application.

## Expected Result:
The log should be added to a log file for the app located at `~/Library/L

[2022-07-08 05:31] roryabraham commented on #9794
Some information about the logs [here](https://github.com/Expensify/App/blob/e0dee96990bdc282e28e48996dcee532d1f6477f/desktop/main.js#L36-L43). I know this used to work, and it was probably broken back when I set up a secure Electron implementation with IPC and nodeIntegration disabled: https://github.com/Expensify/App/pull/7567.

[2022-07-08 05:36] roryabraham commented on #9794
The latest log I have in my log file is:

[code]

So that makes me guess that electron-log was broken in the following release: https://github.com/Expensify/App/releases/tag/1.1.41-6

[2022-07-08 05:40] roryabraham commented on #9794
Interesting that release was the one that [set up the 2-package structure](https://github.com/Expensify/App/pull/7744). see the full diff here: https://github.com/Expensify/App/compare/1.1.40-2...1.1.41-6

cc @kidroca

[2022-07-08 05:42] roryabraham commented on #9781
Also there's a bunch of PRs that were already deployed to production included in this checklist. Going to check them off and hope that it's a one-off error resulting from the deploy woes earlier today / me having to manually create this checklist.

[2022-07-08 05:55] roryabraham commented on #9781
Checking off https://github.com/Expensify/App/pull/9750 because it was fixed by https://github.com/Expensify/App/pull/9783. You can verify that it's working on staging by going to https://staging.new.expensify.com/docs/index.html

[2022-07-08 06:05] roryabraham commented on #9293
Stumbled upon some documentation on native-level debug symbols for Android: https://developer.android.com/studio/build/shrink-code#native-crash-support

[2022-07-08 06:18] roryabraham commented on #9660
Sure, sounds good

[2022-07-08 06:29] roryabraham commented on #9782
Got a PR up for this.

[2022-07-08 07:17] roryabraham opened #9799 "[HOLD for payment 2022-07-27] [$250] Console error: Invalid prop inputStyle"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Refresh the site
1. Press `CMD + Shift + K` to open the New Group Page.

## Expected Result:
No console error

## Actual Result:
Console err

[2022-07-08 07:28] roryabraham commented on #9742
Got a PR up, ran out of steam before I finished posting screenshots, etc... https://github.com/Expensify/App/pull/9798. Will finish it up tomorrow.

[2022-07-08 07:42] roryabraham commented on #7925
Still working on some pieces here, making slow progress

[2022-07-08 08:28] Gonals commented on #9734
Good candidate for external!

[2022-07-08 09:42] Julesssss commented on #9586
Thanks @roryabraham!

[2022-07-08 09:52] eVoloshchak commented on #9497
PR is up

[2022-07-08 12:14] OSBotify commented on #9781
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.82-5 :rocket:

[2022-07-08 13:27] sobitneupane commented on #9799
I had reported this issue here : https://expensify.slack.com/archives/C01GTK53T8Q/p1649048261994809

[2022-07-08 13:32] #9782 closed

[2022-07-08 13:36] b1tjoy commented on #9183
@rushatgabhane It seems PR https://github.com/Expensify/App/pull/9593 which fix https://github.com/Expensify/App/issues/9444 is still in review, but one of my previous PR https://github.com/Expensify/App/pull/9062 has been merged and deployed to staging, should I work on this issue now or wait for https://github.com/Expensify/App/issues/9444 closed?

[2022-07-08 15:02] puneetlath commented on #9728
Upwork job is here: https://www.upwork.com/jobs/~01c019031511555a58

[2022-07-08 15:33] parasharrajat commented on #9660
Based on the new [requirements](https://github.com/Expensify/App/issues/9660#issuecomment-1178020405), @Harshdeepjoshi 's [proposal](https://github.com/Expensify/App/issues/9660#issuecomment-1178268724) looks good to me.

cc: @sketchydroide Could you please also update the expected result according to https://github.com/Expensify/App/issues/9660#issuecomment-1178020405

:ribbon: :eyes: :ribbon:  C

[2022-07-08 15:36] kbecciv opened #9802 "Login screen - Language button changing isn't present in login page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found during executing PR** https://github.com/Expensify/App/pull/9650

## Action Performed:
1. Navigate to staging.new URL
2. Checked language is chang

[2022-07-08 15:48] flodnv commented on #9332
That is correct, it is used exclusively when the code is in a PR review.

What are your thoughts on the proposal @parasharrajat ?

[2022-07-08 16:00] melvin-bot[bot] opened #9803 "💥 Crash 💥 `ReportSettingsPage`"
## Non-fatal Exception: JavaScriptError
### Cannot read property 'reportName' of undefined
### `main.jsbundle:271281:40 line 271281` `ReportSettingsPage`
### Number of Crashes: 1

## Device Information
* **Platforms:** iOS
* **App Versions:** `1.1.79.17`
* **Devices:** Apple iPhone14,2 15.5.0

## Stacktraces
<details>
<summary>iOS 1.1.79.17</summary>

[code]
</details>

---
<details>
<summary>Inte

[2022-07-08 16:08] parasharrajat commented on #9332
I will some run tests and let you know.

[2022-07-08 16:32] kbecciv opened #9805 "Rooms - Notification preference changes back after refresh/reload under Settings"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR** https://github.com/Expensify/App/pull/9501

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Open an #a

[2022-07-08 17:18] rushatgabhane commented on #9183
@stitesExpensify I think we should hire @b1tjoy if you agree with their [proposal](https://github.com/Expensify/App/issues/9183#issuecomment-1160455041)

[2022-07-08 18:09] AndrewGable commented on #9506
Closing in favor of an internal issue, this is a dupe https://github.com/Expensify/Expensify/issues/216891

[2022-07-08 18:09] #9506 closed

[2022-07-08 18:19] eVoloshchak commented on #9741
**Proposal:**
When user presses `Enter` (when [this](https://github.com/Expensify/App/blob/0fcc4920dbc0e0b7658e80541367acf8a2e4ff57/src/components/Button.js#L158) listener fires), we need to call `event.preventDefault()` so the browser will not handle this event and dropdown will stay closed
[code]

Before:

https://user-images.githubusercontent.com/9059945/178048452-c221df2d-d62d-418e-9b6d-f01dac

[2022-07-08 18:28] deetergp commented on #9402
Thanks for the screen captures @marktoman. I like your proposal. If @parasharrajat agrees, then let's go with it!

[2022-07-08 19:06] kbecciv opened #9807 "[$250] iOS/Android - Workspace - Keypad overlaps "Call me" button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Tap profile and select workspace
3. Tap "?" and tap "Request a set up call"
4. Tap phone number field and observ

[2022-07-08 19:09] kbecciv opened #9808 "Send Money - "Looks like you're offline" message displayed on top of the Send button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with expensifail account
3. Click on Fub menu and Select Send money
4. Put amount and select Conti

[2022-07-08 19:16] roryabraham commented on #9799
Fair's fair – you beat me to it 😄

Added you as the issue reporter so you'll get the reporting bonus for this 🤑

[2022-07-08 19:17] roryabraham commented on #9799
@parasharrajat I didn't verify but I'll take your word for it :D

[2022-07-08 19:18] roryabraham commented on #9799
@JmillsExpensify I assigned this to @parasharrajat as the contributor, not the C+. I can just review the PR myself – no need for a C+ on this one since it will be easy to verify.

[2022-07-08 19:19] kbecciv opened #9809 "[$4000] [iOS] - Page freezes when creating New Group and selecting 8 members"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Click on the green + button
3. Click on Create Group
4. Start the group creation flow and ad

[2022-07-08 19:37] alex-mechler commented on #9807
Display issue, looks like a perfect external issue!

[2022-07-08 19:37] thesahindia commented on #9421
### Proposal

We had this issue at composer and this is how we fixed this -

https://github.com/Expensify/App/blob/0fcc4920dbc0e0b7658e80541367acf8a2e4ff57/src/pages/home/report/ReportActionCompose.js#L404-L407

Right now pressing enter saves the draft so we have to prevent that behaviour for mobile devices adding a check like we have at `triggerHotkeyActions` for the composer -
https://github.com

[2022-07-08 19:52] #8703 closed

[2022-07-08 20:07] trjExpensify commented on #9734
Ah yeah, I can repro this. I misread it initially, but yes.. accessing a chat from the `Search` page doesn't work. Job on upwork here: https://www.upwork.com/jobs/~010e7681ab13edf3b1

[2022-07-08 20:12] Luke9389 commented on #4656
Callstack has sent an updated start date and team composition. Should be August.

[2022-07-08 20:45] Luke9389 commented on #9734
I think this issue needs a better description of what we want to happen. How would this look? How would you get back to the LHN view from the chat? What new components would we need?

All of that should be answered before we start taking proposals.

[2022-07-08 20:51] Karim-30 commented on #9709
### Proposal

wrap the comment and edit Texts inside a `<View>`. So change these [lines](https://github.com/Expensify/App/blob/0fcc4920dbc0e0b7658e80541367acf8a2e4ff57/src/pages/home/report/ReportActionItemFragment.js#L107-L120)  inside `ReportActionItemFragment.js` to these :
[code]

Result :
![RTL](https://user-images.githubusercontent.com/108357004/178068511-9266030c-638c-4eee-9490-5eebe29a50fa

[2022-07-08 21:05] tylerkaraszewski commented on #9809
Reproduced on iOS on my iPhone 13, does not scroll correctly.

[2022-07-08 21:15] sketchydroide commented on #9709
@Karim-30 can you show me an example with just edited RTL text?
And add a before and after example.

thanks

[2022-07-08 21:32] kevinksullivan commented on #9250
@parasharrajat did you get a chance to review the proposal?

[2022-07-08 21:32] MitchExpensify commented on #9794
[Upwork Job](https://www.upwork.com/jobs/~01f56058833ed5de40)

[2022-07-08 21:38] parasharrajat commented on #9250
Oh, not yet. I will do that soon.

[2022-07-08 21:45] MitchExpensify commented on #9733
Checking on best next steps internally, will report back

[2022-07-08 21:55] AndrewGable commented on #9253
I _think_ we might be working on this internally with our "skeleton UI" proposal so I'd wonder if we want to make a change now.. cc @iwiznia @trjExpensify

Also I think in our discussions we've mentioned that "showing a stale UI is the expected behavior", so I'd be curious for Tom and Ionatan's thoughts on expected behavior.

[2022-07-08 22:07] Karim-30 commented on #9709
@sketchydroide  I updated my Proposal, here is how it looks like

before :

https://user-images.githubusercontent.com/108357004/178076116-6058f285-871e-4ea3-9b7c-41b743b8392e.mov

after :

https://user-images.githubusercontent.com/108357004/178075095-46a30f08-d074-462f-990d-388ef3a7e4dd.mov

[2022-07-08 22:22] roryabraham commented on #9742
PR is in review

[2022-07-08 22:24] iwiznia commented on #9253
This is a long issue, but if the OP is correct, this has nothing to do with skeleton UI, no? We are showing data completely unrelated in that video, the name of another chat, not an outdated name of the correct chat or something.

[2022-07-08 22:28] roryabraham commented on #8929
PR is in review

[2022-07-08 22:48] JmillsExpensify commented on #9799
Got it, thanks!

[2022-07-08 22:50] JmillsExpensify commented on #9799
Upwork job is here for @parasharrajat: https://www.upwork.com/jobs/~01541e5cd8fb2fc88f

[2022-07-08 22:50] JmillsExpensify commented on #9799
Not going to apply the Exported label since all parties are already present.

[2022-07-08 22:54] JmillsExpensify commented on #7835
Agreed, I wonder if we should at least apply the Exported label so that melvin won't keep pushing this back to daily.

[2022-07-08 22:57] JmillsExpensify commented on #4324
@stitesExpensify Question for you: Do you feel confident that this is going to conform pretty closely with the previous designs that we put through our internal review process?

[2022-07-08 22:59] amklass11 opened #9810 "Job application"
Hi dear,

I'm amk LASS, a mid backs d engineer with 2 years of production-level experience.

I previously worked with mercurieinc ( a marketplace startup in Nigeria, helped them launch their product and obtain over 5000 monthly paying merchant),
I'm now working with a Washington DC base company, providing data analytics to companies like Netflix

My primary technology stack is javascript, NodeJS R

[2022-07-08 22:59] #9810 closed

[2022-07-08 23:58] mountiny commented on #9739
This definitely seems as a suitable External issue

[2022-07-09 01:57] parasharrajat commented on #2727
Still discussing internally...

[2022-07-09 01:58] parasharrajat commented on #8541
@dharmik Could you please update us on when will you submit the PR?

[2022-07-09 02:30] damdafayton commented on #9620
I have noticed that fixed button at the bottom of the screen is a design choice for the whole app. So mentioned problem doesnt exist on android. It must be related to ios keyboard settings.

[2022-07-09 04:56] mvtglobally commented on #9743
@luacmartins this is no longer repro
https://user-images.githubusercontent.com/43995119/178092209-3c8cf998-abcb-43df-a33f-b0bd100b6812.MOV

[2022-07-09 06:20] thesahindia commented on #9808
I don't think this is a bug. It is probably intentional and if we move the offline text below the button the position of the button will change.

cc: @Luke9389  @roryabraham

[2022-07-09 08:30] melvin-bot[bot] opened #9813 "[$250] 💥 Crash 💥 `com.facebook.soloader.SoLoader$1.load`"
## Fatal Exception: java.lang.UnsatisfiedLinkError
### couldn't find DSO to load: libhermes.so caused by: couldn't find DSO to load: libjsi.so caused by: couldn't find DSO to load: libfolly_json.so caused by: couldn't find DSO to load: libglog.so caused by: couldn't find DSO to load: libc++_shared.so caused by: dlopen failed: "/data/data/com.expensify.chat/lib-3/libc++_shared.so" is for EM_AARCH64

[2022-07-09 14:03] eVoloshchak commented on #9728
**Proposal:**
Highlighting emojis on keyboard press is handled in EmojiPickerMenu's [highlightAdjacentEmoji](https://github.com/Expensify/App/blob/a0c4e83085f25492fabec48fee43f6ad4f9dc52e/src/components/EmojiPicker/EmojiPickerMenu/index.js#L216) method. This issue isn't reproducible if emojis are filtered (if there's at least one symbol in emoji picker's search input).

Let's start with the case w

[2022-07-09 14:26] parasharrajat commented on #9808
This should be on hold until we touch offline functionality like other issues.

[2022-07-09 16:04] kbecciv commented on #8641
One tester  was able to reproduce this issue  during QA Regression when executing PR: https://github.com/Expensify/App/pull/9385
Credentials: andreylazutkinutest+123@gmail.com/w323052760We

https://user-images.githubusercontent.com/93399543/178113508-10212f89-f32f-4801-80fc-75d4f0bfaf54.mp4

[2022-07-09 16:28] kbecciv opened #9816 "mWeb- OUI - No message about offline status when user disable the internet connection in Detail Page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR** https://github.com/Expensify/App/pull/9665

## Action Performed:
Precondition: Account B requested money
1. Navigate to stagin

[2022-07-09 18:26] kbecciv opened #9817 "IOS - Sign In - Page size is changing after use wrong 2FA and clicking on Save button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: need to use 2FA account
1. Launch the app
2. On Sign in user your username
3. Type your password
4. Type wrong 2FA
5. Tap on Sign

[2022-07-09 18:32] thesahindia commented on #9123
We are trying to deal with the same issue but at different places ( other than emoji picker menu )

[2022-07-09 18:59] kbecciv commented on #9745
@Julesssss Can you try with specific account? I can reproduced it all the time.

https://user-images.githubusercontent.com/93399543/178119310-d5a92967-afd4-4fdf-8500-f8d5427ee51b.mp4

[2022-07-10 08:11] metehanozyurt commented on #9737
## Proposal
### Cause

When button press tooltip showed up mWeb.

### Solution

We can restrict tooltip views on mobile webs. We need to get help from the canUseTouchscreen function in our library and make the following changes. In this way, we prevent other tooltips from appearing. While doing the tests, I found that other tooltips were also appearing. We do not encounter this problem only with t

[2022-07-10 08:34] parasharrajat commented on #6883
@luacmartins I reviewed the PR, you can also take a look.

[2022-07-10 08:39] parasharrajat commented on #7185
Unfortunately, I can't see that link due to permissions. Please let me know when it does so that I can move ahead with my PR.

[2022-07-10 10:18] rushatgabhane commented on #9709
@Karim-30 I don't think we should vertically center `(edited)`
<img width="176" alt="image" src="https://user-images.githubusercontent.com/29673073/178140712-20e97d6a-d044-463e-95c2-0cacacee8f9b.png">

[2022-07-10 10:48] rushatgabhane commented on #9728
@eVoloshchak the cause makes sense! Appreciate you explaining it in detail. We should try to improve the readability in the PR by making new functions :)

🎀 👀 🎀 C+ Reviewed
@puneetlath I like @eVoloshchak's [proposal](https://github.com/Expensify/App/issues/9728#issuecomment-1179550140)

Welcome back btw 👋

[2022-07-10 12:13] eVoloshchak commented on #9728
Yeah, I'll try to make it more readable, it's kinda hard to comprehend right now indeed

Thanks :)

[2022-07-10 13:26] parasharrajat commented on #7317
@mananjadhav let's complete this PR.

[2022-07-10 17:15] melvin-bot[bot] opened #9818 "[Hold for Payment: 2022-12-09] [$2000] 💥 Crash 💥 `com.facebook.react.modules.core.ExceptionsManagerModule.reportException`"
## Fatal Exception: com.facebook.react.common.JavascriptException
### Error: Failed to parse the path to a navigation state., js engine: hermes, stack:
linkTo@1:1568442
navigate@1:1567607
onPress@1:3397674
_performTransitionSideEffects@1:319784
_receiveSignal@1:319351
onResponderRelease@1:318549
onResponderRelease@1:307174
invokeGuardedCallbackImpl@1:137261
invokeGuardedCallback@1:137318
invokeGua

[2022-07-10 18:37] eVoloshchak commented on #9728
Yeah, I'll try to make it more readable, it's kinda hard to comprehend right now indeed

[2022-07-10 19:18] Santhosh-Sellavel commented on #8661
Yes on hold

[2022-07-10 20:00] Santhosh-Sellavel commented on #9620
The issue is still reproducible

https://user-images.githubusercontent.com/85645967/178160238-352ae793-51a2-423a-9686-7cea40ba306d.mov

[2022-07-10 20:09] Santhosh-Sellavel commented on #9737
I'm unable to reproduce this issue itself.

[2022-07-10 20:11] damdafayton commented on #9620
This is different than the problem in the initial post.

On initial post button is pushed up by keyboard. In your case button is below keyboard.

[2022-07-10 20:11] Santhosh-Sellavel commented on #7862
Any update on the PR @JediWattson?

[2022-07-10 20:13] damdafayton commented on #9620
Decision-makers of this site should decide and inform developers wether they want the buttons to be stable on the page or move with the keyboard.

And in your case problem is page not scrolling up automatically.

[2022-07-10 20:23] Santhosh-Sellavel commented on #9620
Oops, I mistook the issue. The Sign In Button is partially hidden above that's a different issue.

In this issue, we are discussing the `New password` field, This issue is no longer reproducible.

[2022-07-10 20:33] Santhosh-Sellavel commented on #9727
Ya @adeel0202 this is not a duplicate but similar to that one.
Let's hold on to this issue, this needs to be discussed before accepting any proposals.

cc: @thienlnam

[2022-07-10 20:50] Santhosh-Sellavel commented on #8791
@liyamahendra
As quoted above, you mentioned there were many blogs recommending it. I don't find any such thing.  Seems that's statement removed from the comment.

I'm not on board with your proposal. I find nothing wrong with CSS. If I access the workspace directly or reload on the workspace page everything looks fine.

I think either we should show a banner on all pages or not show a banner at a

[2022-07-10 21:04] Santhosh-Sellavel commented on #8361
Any update @brianmuks?

[2022-07-10 21:15] Santhosh-Sellavel commented on #7968
Check the latest it's not occurring. If the focus for the cancel button is visible on the screen and enter doesn't perform then this issue needs to be addressed.

That's what actually matters right. We are okay with it for now.

cc: @luacmartins

[2022-07-10 21:20] Santhosh-Sellavel commented on #9577
on hold

[2022-07-10 21:22] Santhosh-Sellavel commented on #7917
@mdneyazahmad  We have an update on the slack thread can you check it out.

[2022-07-10 23:27] jeet-dhandha commented on #9709
Just a question does Expensify provide with payments for the solutions provided by freelance developers, as they can just fix the code from the provided proposal without giving out the payments.

[2022-07-10 23:39] rushatgabhane commented on #9709
@jeet-dhandha good question. If an issue is labeled `Exported` and your proposal is accepted, you'll be paid.

I'd strongly recommend that you read https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#payment-for-contributions

[2022-07-11 01:35] jliexpensify commented on #9809
I suspect this is an iOS issue:

- Tested on Web, seems to be fine?

![image](https://user-images.githubusercontent.com/30815269/178172580-9422eaec-e379-49ca-8322-41c19d0cf6d7.png)

- Tested on Android, works fine?

Both were 1.1.82.5

[2022-07-11 01:44] jliexpensify commented on #9809
Posted:

Internal - https://www.upwork.com/ab/applicants/1546309325160779776/job-details
External - https://www.upwork.com/jobs/~0166ca314670548e41

[2022-07-11 02:55] mvtglobally opened #9819 "Seeing the chat without any room name or avatar, after getting removed from the workspace - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to account A
2. Invite account B to your workspace
3. Login to account B at a different browser or tab and send some messages in the r

[2022-07-11 03:04] mvtglobally opened #9820 "The currency symbol in Payments doesn't show the local currency symbol for non-US locales - reported by Mahendra Liya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Prerequisite: User located outside of US
1. Go to chat and Request / Send Money.
2. Notice the currency symbol is as per the current locale.
3.

[2022-07-11 03:12] mvtglobally opened #9822 "[HOLD for payment 2022-09-27][$500] Adding an asterisk * after each backtick ` hides the text inside the backticks - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. In the chat input, enter some text inside the backticks to quote it
3. After each backtick, append an asterisk like this: `

[2022-07-11 03:16] mvtglobally opened #9823 "[HOLD #11768] mWeb / Android - Popovers aren't closing on navigating back in native - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

### Back button

1. Go to any chat
2. Open emoji picker
3. Press native back button (back button of your device)

### Swipe back

1. Open any

[2022-07-11 04:06] mvtglobally opened #9824 "[HOLD for payment 2022-07-25] [$250] IOS - Edit message border broken in iOS - Reported by Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open new dot in iOS device
2. Open any chat report with messages sent by you
3. Edit a message by long pressing on the message & select 'Edi

[2022-07-11 04:12] liyamahendra commented on #8791
Can you share a recording of this?

[2022-07-11 04:15] mvtglobally opened #9825 "PropType error when opening Payments page. (dev only)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login
2. Navigate to Settings > Payments

## Expected Result:
Page should open without any error

## Actual Result:
PropType error when open

[2022-07-11 04:19] mvtglobally opened #9826 "[$250] There is no way to write ~~~~ (without the code block)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. Type ~~~~ inside any text (~~~~, ~~asdf~~, and even ~asdf~)
3. Send message

## Expected Result:
There is no way to write ~

[2022-07-11 04:44] rushatgabhane commented on #9809
`main` works fine on iOS and mWeb Safari.

 v1.1.79-18, iPhone 13

https://user-images.githubusercontent.com/29673073/178189987-51cb8c46-01f7-4434-ae07-a08f020c42d6.mov

[2022-07-11 04:52] kadiealexander commented on #9808
Holding on publishing this until I get clarification on the above.

[2022-07-11 04:54] jliexpensify commented on #9809
@rushatgabhane it looks like we all tested on 1.1.82.5 - can you try with that version? I believe that's newer right?

[2022-07-11 04:57] kadiealexander commented on #9707
https://www.upwork.com/ab/applicants/1546358052488585216/job-details
https://www.upwork.com/jobs/~0143bd5f816ba7431f

[2022-07-11 04:58] rushatgabhane commented on #9809
@jliexpensify yeah my bad, here's v 1.1.82-5

works well on safari mWeb, and iOS.

https://user-images.githubusercontent.com/29673073/178191668-a3e0235a-34eb-44c7-bb9c-b89f42034095.mov

[2022-07-11 05:14] jliexpensify commented on #9809
@rushatgabhane - awesome, thanks for testing! Might just be general lagginess happening then?

Can we close this issue, since it'll be fixed soon?

[2022-07-11 05:27] rushatgabhane commented on #9809
@jliexpensify not just yet, we should close when QA can't repro this bug in thier weekly tests.

Because I could be wrong 😄

[2022-07-11 10:51] sketchydroide commented on #9660
I updated the GH, @parasharrajat and @Harshdeepjoshi let me know if that makes sense as we end up having to very similar changes to do here, one for the link and another for the attachements.

[2022-07-11 10:53] harshayburadkar commented on #9707
Just FYI, I see it happening in a web browser as well. So it is not specific to Desktop App, therefore, Platforms in the original issue can be updated to have mWeb in addition to Desktop App.

[2022-07-11 11:03] sketchydroide commented on #9421
ok, I'm happy to make this an external then

[2022-07-11 11:16] sketchydroide commented on #9421
I was trying to remove you @dylanexpensify since you just came back from PL, but the bot really wants you :D

[2022-07-11 11:42] parasharrajat commented on #7918
@mdneyazahmad Could you respond on the slack thread and also try the above-mentioned solution. Let's keep this issue moving.

[2022-07-11 12:29] flodnv commented on #9802
@kbecciv do you mean that you expect to be able to change the language (from English to Spanish) on new.expensify.com? If so, I think this is a feature request more than a bug, right?

[2022-07-11 12:32] michaelhaxhiu commented on #9713
Job posted here - https://www.upwork.com/jobs/~01993059e1414b86b4, and invited Rajat :)

[2022-07-11 12:35] michaelhaxhiu commented on #9624
@ctkochan22 quick question - is this internal or external? Seems the label has been added/removed a few times.

[2022-07-11 13:12] parasharrajat commented on #9332
Opened a internal discussion https://expensify.slack.com/archives/C02NK2DQWUX/p1657544731979729

[2022-07-11 13:13] parasharrajat commented on #9820
This is expected behavior.

[2022-07-11 13:16] kbecciv opened #9827 "[HOLD for payment 2022-08-01] [$250] Android - Keyboard doesn't always open on search (reported by @jayeshmangwani)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Press search from the header
3. Search input is active but the keyboard is hidden
Note: try 3-4 times issue is inconsistent

##

[2022-07-11 13:22] kbecciv commented on #9802
@flodnv This PR  https://github.com/Expensify/App/pull/9650 is introduced that user can switch language in sign in page.

[2022-07-11 13:37] laurenreidexpensify commented on #9391
@mananjadhav bump :)

[2022-07-11 13:41] trjExpensify commented on #9252
Doubled on upwork: https://www.upwork.com/jobs/~01f30fad98ca9b6c69

[2022-07-11 13:41] trjExpensify commented on #6154
@chiragsalian, bump on that sanity check above.

[2022-07-11 13:45] laurenreidexpensify commented on #8849
Merged and on staging, should hit prod this week

[2022-07-11 13:58] #9745 closed

[2022-07-11 14:13] luacmartins commented on #9743
Ok! Seems like we can close this issue then!

[2022-07-11 14:13] #9743 closed

[2022-07-11 14:18] luacmartins commented on #9249
@mallenexpensify Is ooo until tomorrow. Payment should be issued once he’s back!

[2022-07-11 14:35] trjExpensify commented on #9253
It took me a little while to figure out how to reproduce this. I don't think the steps are clear enough in the OP that you have to use the back button in your browser, not the `<` in the product which seems to work fine. (Well, at least that's the only way I can repro it 😅).

I don't consistently get the name of the previous chat either, just one I've accessed recently while trying to repro. I agr

[2022-07-11 14:45] flodnv commented on #9802
Oh, thanks for the clarification! Is this a problem only on desktop web browser? Actually it seems that your section `Where is this issue occurring?` is everywhere? If that's the case, then why isn't this a blocker? 😕 cc @danieldoglas

[2022-07-11 14:46] Gonals commented on #9820
I think it'd be nice to change that to the local currency, but not a huge priority. Setting it as monthly.

[2022-07-11 14:50] Karim-30 commented on #9709
@rushatgabhane You are right, using `alignItems: 'baseline'` instead of `alignItems: 'center'` fixed it.

Result :

![fix alignment](https://user-images.githubusercontent.com/108357004/178292193-3b7697f4-3bc8-413f-b18c-a2d0a118f940.png)

[2022-07-11 15:02] rushatgabhane commented on #9709
🎀 👀 🎀 C+ reviewed
@sketchydroide I like @Karim-30's [proposal](https://github.com/Expensify/App/issues/9709#issuecomment-1179351547).

[2022-07-11 15:15] bfitzexpensify commented on #7121
Same update, PR still in review.

[2022-07-11 15:18] mvtglobally commented on #9802
@flodnv This is repro in PROD and based on the blocker rules, we are not marking it as blocker unless specified by Expensify team.

[2022-07-11 15:19] Beamanator commented on #9744
Gunna make this `Weekly` and will add `Needs Reproduction`

[2022-07-11 15:26] ctkochan22 commented on #9624
Its external. I accidentally put the label on once because I wanted to fix it. But with n7 I don't have time so I need to pass it off. MY bad

[2022-07-11 15:32] mananjadhav commented on #9391
Will get to it today.

[2022-07-11 15:33] michaelhaxhiu commented on #9624
Ah makes perfect sense. No problem at all, this is precisely the reason we have `external` assignment and outsourcing :)

I'll get it moving.

[2022-07-11 15:34] mvtglobally commented on #9781
@AndrewGable

PR #9385 one tester was able to repro https://github.com/Expensify/App/issues/8641#issuecomment-1179566811. Since its existing issue, checking off.
PR https://github.com/Expensify/App/pull/9501 is failing https://github.com/Expensify/App/issues/9805. Repro in PROD checking off
PR #9627 & #9650 is failing https://github.com/Expensify/App/issues/9802. Potential blocker. Pls double chec

[2022-07-11 15:35] michaelhaxhiu commented on #9624
Job link - https://www.upwork.com/jobs/~012c15c3203494d613

[2022-07-11 15:48] sketchydroide commented on #9709
Yeah, I'm happy with it as well

[2022-07-11 15:50] trjExpensify commented on #9734
Happy to answer point one and two, Luke. I've updated the steps and expected results to the below for additional clarity. For the third, perhaps you can pitch in on that as the assigned CME if you think something new is warranted here.

**Action Performed:**
1. Decrease the width of your browser window to the point in which the chat view is not visible, only the LHN
2. Click on the magnifying glas

[2022-07-11 15:53] trjExpensify commented on #9709
@Karim-30 can you apply to the job on upwork when you get a chance?

[2022-07-11 16:21] thesahindia commented on #9802
@flodnv, the feature is behind the beta https://github.com/Expensify/App/blob/83f00941ef3c6a943f5535195e1313a79f106d32/src/components/LocalePicker.js#L44-L47
 that's why it's not on production right now and https://github.com/Expensify/App/pull/9650 says: "Refactoring method PreferredLocale_Update to new standards"
So, I don't think it's a bug or related to https://github.com/Expensify/App/pull/96

[2022-07-11 16:25] flodnv commented on #9802
Riiight, I guess a non logged in user will always be outside of the beta....? 🤔

[2022-07-11 16:42] Santhosh-Sellavel commented on #8791
https://user-images.githubusercontent.com/85645967/178314744-38a9edd1-b5dc-4c37-9bfa-2f2a5811182c.MOV

[2022-07-11 16:45] Santhosh-Sellavel commented on #9707
@mvtglobally Can you confirm this at your end and update the platforms in the issue description, thanks!

[2022-07-11 17:07] woodenlabs commented on #9624
Applied for job link

[2022-07-11 17:15] mvtglobally opened #9829 "The "unread" dot in the Chrome tab icon is so small as to be almost invisible"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login in browser
2. From another account send couple messages
3. Check the "unread" indicator in the tab

## Expected Result:
U

[2022-07-11 17:17] stephanieelliott commented on #9822
This confused me at first until I watched the video, updated the issue body to be more clear. This seems sort of edge case (you would probably only run into it in if you were making a typo) but feels very buggy so opting to raise for a fix- raising to eng but feel free to close if you disagree that this should be fixed.

[2022-07-11 17:26] danieldoglas commented on #9825
Interesting. This looks like a bug on importing `withLocalizePropTypes`. Trying to find what could be happening

[2022-07-11 17:26] robertjchen commented on #9829
Yep, definitely not ideal! Wanted to loop in @Expensify/design on this: could we possibly get a mockup of what a new "unread" indicator would look like? It sounds like we might be changing it to a green color in addition to making it larger?

[2022-07-11 17:29] shawnborton commented on #9829
Yup and perhaps we want to add some logic here:
- green is the default for unreads, etc
- show red when there is an error

Though I'm not sure if we have any red brick road logic just yet...

[2022-07-11 17:30] parasharrajat commented on #9822
Please hold this until https://expensify.slack.com/archives/C02NK2DQWUX/p1657544731979729

[2022-07-11 17:30] kidroca commented on #9794
@roryabraham when I worked on the "2-package" structure I needed to check logs, but couldn't find anything under `~/Library/Logs/new.expensify/main.log`

I assumed I was probably doing something incorrectly because I could find no logs there

But now that I saw this issue, it might be due to `console.log` statements being dropped from the `main.js` code, since it's bundled by webpack (with `mode:

[2022-07-11 17:38] parasharrajat commented on #2727
@stephanieelliott https://expensify.slack.com/archives/C02NK2DQWUX/p1656446682985319

[2022-07-11 17:38] #9802 closed

[2022-07-11 17:47] mananjadhav commented on #9624
@woodenlabs Got me a bit confused here. If you're planning to add a proposal, please refer to this [contribution guidelines](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md) and specifically [proposing solution](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#propose-a-solution-for-the-job)

[2022-07-11 17:57] stephanieelliott commented on #9444
PR submitted, this is just waiting on internal and C+ review!

[2022-07-11 17:57] kidroca commented on #9293
@AndrewGable I'm not sure if you've checked this out but I've opened an alternative PR which I think might be better
- https://github.com/Expensify/App/pull/9641

The idea is described in the "Details" section but it's basically this
- we generate sourcemaps during build
- we save the generated source maps somewhere where they can be mapped by platform and version

This way we don't need to genera

[2022-07-11 18:00] stephanieelliott commented on #9747
Posted to Upwork: https://www.upwork.com/jobs/~01cc00c2fb94f023c9

[2022-07-11 18:00] deetergp commented on #9402
@parasharrajat Any thoughts to add?

[2022-07-11 18:04] iwiznia commented on #7288
On hold

[2022-07-11 18:07] dharmik commented on #8541
Actually, I am facing compile issue so I am trying to fixing that. That issue is only compile in iOS. @iwiznia

[2022-07-11 18:07] rushatgabhane commented on #7288
On hold
On hold

bot spotted :trollface:

[2022-07-11 18:08] JediWattson commented on #7862
Hey I should have everything up except making it swipable. I have some changes for that, but I haven't worked out a transform in Animation.View

[2022-07-11 18:19] mananjadhav commented on #9391
I have gone through @kbecciv videos and @mollfpr's proposal as well. His proposal is good. My only question is:

Do we need the same behavior for Individual chats as well? - cc @MonilBhavsar, @mallenexpensify, @laurenreidexpensify if you folks can help here. Then only one line needs to be removed from @mollfpr's proposal.

🎀 👀 🎀 C+ reviewed

[2022-07-11 18:33] roryabraham opened #9830 "[Expensify Help] Create a "coming soon" page"
### Problem
We hijacked https://help.expensify.com/, which used to redirect to https://community.expensify.com/ to our new help site, which is not done yet.

### Why this is important
This means that users going to https://help.expensify.com/ will see docs that are not ready yet instead of the help site they're used to seeing.

### Solution
Create a "coming soon" page for the new help site that ca

[2022-07-11 18:41] bfitzexpensify commented on #9826
Upwork job [here](https://www.upwork.com/jobs/~01d6546f63d8a63f34)

[2022-07-11 19:53] #5266 closed

[2022-07-11 20:27] iwiznia commented on #8541
ok, if you are stuck, you can always try to post in the slack channel and ask for help.

[2022-07-11 20:38] errahsoufiane commented on #9624
This crash happens when try to open deep link with reportActionID
Current deep link implementation handles `r/:reportID` (chatroom deep link) which goes to report screen but not handling `r/:reportID/:reportActionID` (message deep link in chat room)
It's a new feature to implement scrolling to specific message (when click message deep link).
So for now, I suggest redirecting to room deep link when

[2022-07-11 21:46] roryabraham commented on #9824
@thesahindia's proposal looks good to me. Going to make this external and then let's get this on Upwork.

[2022-07-11 21:48] roryabraham commented on #9824
@MitchExpensify I preemptively assigned @thesahindia here so feel free to send an offer as soon as the Upwork job is created. @thesahindia feel free to submit a PR whenever you're ready.

[2022-07-11 21:59] marktoman commented on #7436
Update: There has been daily back-and-forth with the support related to our configuration and our use of the SDK. While there is no decisive outcome yet, I expect to reach it relatively soon.

[2022-07-11 22:30] parasharrajat commented on #7436
Thank you @marktoman. Meanwhile, I am discussing this internally so we get a proper plan out.

Let's wait a couple of days in case Plaid agrees to solve it.

[2022-07-11 22:47] MitchExpensify commented on #9733
Hey @ahmdshrif! Thanks for your patience. Thank you for the feature request however we're not going to move forward with it at this time. The problem is not one actively experienced by Expensify users. Thats not to say it won't be in the future and we can revisit it if that turns out to be the case

[2022-07-11 22:47] #9733 closed

[2022-07-11 23:03] MitchExpensify opened #9835 "Inbox -Using "Enter" Key in request Call modal causing modal reopening every time, blocking main page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Coming from [this /Expensify repo issue](https://github.com/Expensify/Expensify/issues/216734) cc @kavimuru

## Action Performed:
1. Go to staging.expensify.com
2. L

[2022-07-11 23:06] parasharrajat commented on #9835
How is this affecting NewDot?

[2022-07-11 23:08] MitchExpensify commented on #9835
Shoot, you are right @parasharrajat .. I got confused by the external label my mistake

[2022-07-11 23:08] #9835 closed

[2022-07-11 23:10] stitesExpensify commented on #9535
When do we usually close issues? This is the third week right?

[2022-07-11 23:25] puneetlath commented on #9728
Sounds good to me too. Great explanation. Let's do it @eVoloshchak.

Can you apply to the Upwork job as well so I can hire you there? Thanks!

[2022-07-11 23:28] puneetlath commented on #9739
Upwork job is here: https://www.upwork.com/jobs/~0123b2819ac262a34e

[2022-07-11 23:32] Harshdeepjoshi commented on #9660
@sketchydroide I understood the changes. Replacing `&& !ReportUtils.isReportMessageAttachment(lodashGet(reportAction, ['message', 0, 'text'], ''))),` with `&& !ReportUtils.isReportMessageAttachment(lodashGet(reportAction, ['message', 0], {}))),` in [this line](https://github.com/Expensify/App/blob/c06dc817487e949c8859b8431d673283fa4a6240/src/pages/home/report/ContextMenu/ContextMenuActions.js#L92)

[2022-07-11 23:54] marcochavezf commented on #9234
Applying the `Reviewing` label here since https://github.com/Expensify/App/pull/9476 was already merged

[2022-07-12 00:23] parasharrajat commented on #7962
Ok, I tested the code changes and it does not fix the issue.

Open for proposals...

[2022-07-12 00:40] marcaaron commented on #9805
Hard to say what is happening without looking at the network traffic.

[2022-07-12 00:42] marcaaron commented on #9805
Though it seems pretty consistently broken on my end. Did we check logs for any errors?

[2022-07-12 00:49] marcaaron commented on #9805
I think the problem is something to do with this. Must not be sending the `notificationPreferences` rNVP.

https://github.com/Expensify/App/blob/75c0ed3b5ebebe4dc5bc3b46a8ae7449ee25892d/src/libs/actions/Report.js#L185-L185

[2022-07-12 00:56] marcaaron commented on #9805
Tried to update a room then looked to see if this rNVP is returning with my accountID and it is not there. Even though the request returned 200

![2022-07-11_14-55-12](https://user-images.githubusercontent.com/32969087/178385076-c210ba10-6fb2-4e89-8bf2-f3a754d4dd5d.png)

So something weird is happening on the API side.

[2022-07-12 00:58] marcaaron commented on #9805
Here, we are calling setNVP() after returning the onyx data and need to do it before...

https://github.com/Expensify/Web-Expensify/blob/84be775cff58ca3a32dc3d504093cd462fc2a54a/lib/ReportAPI.php#L3553-L3562

[2022-07-12 01:09] shawnborton commented on #9829
Posted an idea [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1657587998576039?thread_ts=1657511930.574589&cid=C01GTK53T8Q)

<img width="998" alt="image" src="https://user-images.githubusercontent.com/2319350/178386365-6ff405db-9592-4659-be04-034be2d441ca.png">

[2022-07-12 01:18] JmillsExpensify commented on #4324
Awesome, thank you!

[2022-07-12 03:33] frenkield commented on #8595
Thanks for the information regarding the styles and translations, @parasharrajat.

I committed the requested updates related to styles and translations (as described in my previous comment). I also merged main from github.com/Expensify/App. So the code in the pull request is completely up to date.

All tasks are now complete.

[2022-07-12 03:45] dharmik commented on #8846
For Information: I am facing compilation issue so I just resolved it so I am planing to raise PR in 1-2 days.

[2022-07-12 03:46] dharmik commented on #8541
@iwiznia It's related to my internal pod and arch so I will update today any how.

[2022-07-12 04:29] mvtglobally commented on #8220
Issue not reproducible during KI retests. (Third week)

[2022-07-12 04:33] mvtglobally commented on #8927
Issue not reproducible during KI retests. (Second week)

[2022-07-12 04:35] mvtglobally commented on #9085
Issue not reproducible during KI retests. (First week)

[2022-07-12 04:36] mvtglobally commented on #9182
Issue not reproducible during KI retests. (First week)

[2022-07-12 04:38] mvtglobally commented on #9287
Issue not reproducible during KI retests. (Second week). Not sure if we are missing any step.
@rushatgabhane  are you able to repro?

[2022-07-12 04:40] mvtglobally commented on #9379
Issue not reproducible during KI retests. (Second week)

[2022-07-12 04:42] mvtglobally commented on #9487
Issue not reproducible during KI retests. (First week)

[2022-07-12 04:44] jeet-dhandha commented on #9826
Please change strikethrough regex in
Path `node_modules/expensify-common/lib/ExpensiMark.js`

`regex: /\B~~((?=\S)((?:\\[\s\S]|~(?!~)|[^\s~\\]|\s(?!~~))+?))~~\B(?![^<]*(<\/pre>|<\/code>|<\/a>))/g`

<img width="237" alt="Screenshot 2022-07-12 at 10 13 15 AM" src="https://user-images.githubusercontent.com/78416198/178410250-38cc8c3e-e50c-461b-bd0a-8fee8c53ea44.png">

--------------------------------

[2022-07-12 04:45] mvtglobally commented on #9620
Issue not reproducible during KI retests. (First week)

[2022-07-12 04:50] mvtglobally commented on #9817
Issue not reproducible during KI retests. (First week)

[2022-07-12 05:01] mananjadhav commented on #7317
Was finishing the Skeleton UI until yesterday. Will start with this tomorrow.

[2022-07-12 05:02] mananjadhav commented on #8846
Thanks for the comment @dharmik, will wait for it.

[2022-07-12 05:41] mananjadhav commented on #9238
Done from my end @stephanieelliott. I was waiting for changes to be applied, but reviewed it anyway.

[2022-07-12 06:44] rushatgabhane commented on #9287
@mvtglobally not reproducible.

[2022-07-12 07:06] rushatgabhane commented on #9287
@jliexpensify I'm curious if a C+ is compensated when a proposal is [approved](https://github.com/Expensify/App/issues/9287#issuecomment-1157405583), but the issue is fixed by another [PR](https://github.com/Expensify/App/pull/9378).

[2022-07-12 07:12] rushatgabhane commented on #9826
@jeet-dhandha can you please explain the reasoning/process that led you to this regex?

[2022-07-12 07:13] jliexpensify commented on #9287
@rushatgabhane let me take this one to the team and I'll get back to you with an answer!

[2022-07-12 07:14] jeet-dhandha commented on #9826
@rushatgabhane I checked available markdown libraries which use the official markdown regex for strikethrough and tried implementing it in our app. And it worked. 😃

[2022-07-12 07:15] jeet-dhandha commented on #9826
@rushatgabhane Yes i am pointing to that regex only.

[2022-07-12 07:16] jeet-dhandha commented on #9826
@rushatgabhane Tell me if anything is not working will try to improve the Regex Accordingly.

[2022-07-12 07:16] rushatgabhane commented on #9826
Oh that's fantastic, which library exactly? Can you please link the code

[2022-07-12 07:19] jeet-dhandha commented on #9826
@rushatgabhane Also we can refer to markdown official documentation https://www.markdownguide.org/ in future to update our apps regexes accordingly.

[2022-07-12 07:54] rushatgabhane commented on #9826
@jeet-dhandha I ran the tests for [expensify-common](https://github.com/Expensify/expensify-common/tree/main). And it looks like we're replacing the html `<del>` tag with `~`

eg: `<del>text here</del>` -> `~text here~`

I'd prefer that we rely on html's `<del>` tag instead

[2022-07-12 08:14] Beamanator commented on #9570
Testing to see if `Monthly` changes to `Weekly` when `Exported` added

[2022-07-12 08:15] Beamanator commented on #9570
Sorry gentlemen - just testing 👍

[2022-07-12 08:35] jeet-dhandha commented on #9826
@rushatgabhane Please try the updated regex
`regex: /\B~((?=\S)((?:\\[\s\S]|~~(?!~)|[^\s~\\]|\s(?!~~))+?))~\B(?![^<]*(<\/pre>|<\/code>|<\/a>))/g`
<img width="274" alt="Screenshot 2022-07-12 at 2 04 37 PM" src="https://user-images.githubusercontent.com/78416198/178447355-e03cf7e3-2c42-4b1d-9f03-bbb59b2304db.png">
<img width="271" alt="Screenshot 2022-07-12 at 2 04 28 PM" src="https://user-images.gi

[2022-07-12 09:01] jeet-dhandha commented on #9826
@rushatgabhane Updated regex
`regex: /\B~((?=\S)((?:\\[\s\S]|~~(?!~)|[^\s~\\]|\s(?!~))+?))~\B(?![^<]*(<\/pre>|<\/code>|<\/a>))/g`

and tested with `npm run test`

<img width="1439" alt="Screenshot 2022-07-12 at 2 31 20 PM" src="https://user-images.githubusercontent.com/78416198/178452857-2cf4bc71-b4cc-4f53-ae1f-c13713d7ee85.png">

[2022-07-12 09:20] jeet-dhandha commented on #9826
Can you please provide me a brief info on the issue's we will face with this regex.

[2022-07-12 09:22] rushatgabhane commented on #9826
@jeet-dhandha there is no issue, I just wanna understand the code before we can ship it.

[2022-07-12 09:30] jeet-dhandha commented on #9826
We had to add more checks on string to remove unwanted matches.

[2022-07-12 09:40] rushatgabhane commented on #9826
That helps, thank you!

🎀 👀 🎀 C+ reviewed
@flodnv I like @jeet-dhandha's [proposal](https://github.com/Expensify/App/issues/9826#issuecomment-1181508387).

[2022-07-12 10:09] railway17 commented on #9705
### Proposal

I was able to reproduce this issue based on your issue report.
And I noticed that the current code base will not work for horizontal scrolling for below 2 reasons:

`file: /src/components/HTMLEngineProvider/HTMLRenderers/PreRenderer/index.js`

![image](https://user-images.githubusercontent.com/29966461/178464306-57a1fc49-6d4d-424b-a044-492ddd6bb9d9.png)

1. In the mouse wheel event,

[2022-07-12 10:12] rushatgabhane commented on #9705
@railway17 and what do you propose to fix the 2 issues?

[2022-07-12 10:15] railway17 commented on #9705
1. We don't need to use `isVerticalScrolling` variable.
2. Need to change `node.scrollLeft += event.deltaY;`
Regarding to 2nd fix, it might be not sensitive because deltaY changes is a little small.
So, we might use like `node.scrollLeft += 2 * event.deltaY;`
Thank you

[2022-07-12 10:16] parasharrajat commented on #9826
I suggest we hold this issue until an internal discussion is concluded.

[2022-07-12 10:39] parasharrajat commented on #8459
I am trying to find another solution.

[2022-07-12 10:44] trjExpensify commented on #8459
Okay, is there a thread somewhere I can subscribe to in #expensify-open-source?

[2022-07-12 11:14] parasharrajat commented on #8459
No discussion yet.

[2022-07-12 11:17] dylanexpensify commented on #9421
hahaha no problem! Gettin back into the swing of it! 😂

[2022-07-12 11:55] rushatgabhane commented on #9705
@railway17 that's breaking horizontal scroll 😅
I'm using my touchpad

https://user-images.githubusercontent.com/29673073/178484268-02d25999-0a89-4928-95b2-8a562f488931.mov

[2022-07-12 11:58] railway17 commented on #9705
Well.. Actually, I've only tested it in my desktop browser and app.
It was working clearly.
Let me check more about why it is...

[2022-07-12 12:12] parasharrajat commented on #9660
Looks good @Harshdeepjoshi.

---

Am I eligible for reporting bonus of `2nd Situation in the OP`? I reported this a few days back  https://github.com/Expensify/App/issues/9660#issuecomment-1179119307.

cc: @sketchydroide

[2022-07-12 12:17] sketchydroide commented on #9660
I would say that yes you are @parasharrajat

[2022-07-12 12:38] parasharrajat commented on #9389
Ok, we have a conclusion on slack.

Please bring your proposals for the above behavior.

[2022-07-12 13:10] mdneyazahmad commented on #9389
@parasharrajat do you think my [proposal](https://github.com/Expensify/App/issues/9389#issuecomment-1173468282) does the same thing?

[2022-07-12 13:28] parasharrajat commented on #9389
It is incomplete.

[2022-07-12 14:11] parasharrajat commented on #9825
I looked into this and the issue is that https://github.com/Expensify/App/blob/046a8b68eed762d8dc2550e0658c02e51ab339df/src/pages/settings/Payments/PaymentsPage/BasePaymentsPage.js#L329 throws a warning only when the page is opened for the first time after login.

This happens as `formattedSelectedPaymentMethod` state is initialized with empty object and `formattedSelectedPaymentMethod.title` is u

[2022-07-12 14:57] AndrewGable commented on #9781
No, I am working on getting all the internal QA items checked off

[2022-07-12 15:36] kbecciv opened #9838 "Payment - Add payment method button is misaligned"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with any account
3. Go Settings -Payments

## Expected Result:
Add payment button is not misaligne

[2022-07-12 15:37] OSBotify commented on #9838
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-12 15:46] parasharrajat commented on #9739
These are old links. For new, you can copy-paste the URL from the browser address bar.

[2022-07-12 16:08] michaelhaxhiu commented on #9509
Upwork job link - https://www.upwork.com/jobs/~01c152638d05db933a

[2022-07-12 16:22] michaelhaxhiu commented on #9824
Upwork job link - https://www.upwork.com/jobs/~01469a1060686f9fd9

I invited both @Santhosh-Sellavel & @thesahindia to the job, also.

[2022-07-12 16:25] Santhosh-Sellavel commented on #8791
I am navigating to the workspace page and refreshing the page in the video.

[2022-07-12 16:38] JmillsExpensify commented on #7835
Hmm, yeah I guess I'm also unclear what the logic is. Let's see if that worked.

[2022-07-12 16:41] JmillsExpensify commented on #8220
Almost through the regression period following the production deploy last week.

[2022-07-12 16:42] JmillsExpensify commented on #9246
Almost through the regression period following the production deploy last week.

[2022-07-12 16:43] Santhosh-Sellavel commented on #8791
@mdneyazahmad You can try out these steps mentioned in the https://github.com/Expensify/App/issues/8791#issuecomment-1171213402.

[2022-07-12 16:43] JmillsExpensify commented on #9466
Still awaiting proposals

[2022-07-12 16:44] JmillsExpensify commented on #9090
Note: Please hold payment on [this regression](https://github.com/Expensify/App/issues/9662).

[2022-07-12 16:44] thesahindia commented on #9824
Applied and raised the PR.

[2022-07-12 16:45] JmillsExpensify commented on #9662
Commented in the original issue/PR regarding this regression.

[2022-07-12 16:45] marktoman commented on #9250
# Proposal

I have tested this on the full MD set supported by the app, and the issue reveals the need for a more substantial fix.

The source is that dealing with block elements is split between the HTML and MD generators. The MD generator does not use full information about the DOM structure. The generated HTML should be unambiguous for the MD generator and other use cases.

See the full detail

[2022-07-12 16:51] parasharrajat commented on #9250
ETA for review: 24 hours.

[2022-07-12 16:52] Tushu17 commented on #8663
The payment is pending here.
cc: @kadiealexander

[2022-07-12 17:17] laurenreidexpensify commented on #9817
Doublechecking if I need to add this to Upwork before it's reproducible

[2022-07-12 17:18] metehanozyurt commented on #9509
## Proposal
### Cause

style information is not given when the application is at medium screen width (800-1024).

 props.isSmallScreenWidth ? styles.signInPageNarrowContentMargin : {},
 !props.isMediumScreenWidth ? styles.signInPageWideLeftContentMargin : {},

0-800 >> styles.signInPageNarrowContentMargin (marginTop: '40%')
800-1024 >> {}
1024 - ...  >> styles.signInPageWideLeftContentMargin (marg

[2022-07-12 17:19] mdneyazahmad commented on #8791
@Santhosh-Sellavel I tried to test with the above-mentioned steps but it does not work. I also tried to remove some of the existing links but that does not remove the same banner from the web app. I think we have to test it on the staging server.

[2022-07-12 17:22] roryabraham commented on #9838
This is a pretty subtle visual bug that doesn't affect the app's usability. I don't think we should block deploy on this.

[2022-07-12 17:24] AndrewGable commented on #9838
Agree

[2022-07-12 17:24] luacmartins commented on #7968
The main issue is in pressing `enter` and having the Workspace deleted if the delete button is not focused. As for the focused styles, I think we are ok with it for now.

[2022-07-12 17:37] parasharrajat commented on #9838
Note: Do test other screens as well. I think that this issue also affects them. Regression from https://github.com/Expensify/App/pull/9665.

It would be better to list down those pages and fix them all in this issue.
For example
1. Extra margin under the button on RequestCallPage.
![image](https://user-images.githubusercontent.com/24370807/178556914-afceba14-24a6-48bb-bf1b-822c8cb01fb1.png)

[2022-07-12 17:38] luacmartins commented on #9090
@allroundexperts could you please look into a fix for that regression?

[2022-07-12 17:47] AndrewGable commented on #9293
I agree that this new proposed solution is much better 👍

[2022-07-12 17:56] chiragsalian commented on #7185
Yes the PR is in production

[2022-07-12 18:05] mdneyazahmad commented on #7968
@luacmartins I think we have an issue here. When confirm modal is opened it focuses on the cancel button. But it does not show the focus ring. This is not recommended to remove focus ring it breaks accessibility because we do not know which element is focused, and pressing enter or some other combination will execute the behavior related to that element and this is not expected behavior.

#### Why

[2022-07-12 18:06] ctkochan22 commented on #9838
@Justicea83 do you mind if I steal this from you? This is a result of my own PR https://github.com/Expensify/App/pull/9665

[2022-07-12 18:07] mvtglobally commented on #9781
checking off https://github.com/Expensify/App/pull/9665 https://expensify.slack.com/archives/C9YU7BX5M/p1657649041410549

[2022-07-12 18:09] Santhosh-Sellavel commented on #8791
@AndrewGable
We have not implemented the smart banner, so why not try implementing it.

So here is my proposal
I've experimented with it locally by following the steps mentioned [here](https://developer.apple.com/documentation/webkit/promoting_apps_with_smart_app_banners)

Just need to add the below line in [index.html](https://github.com/Expensify/App/blob/main/web/index.html) under `head`
[code]

[2022-07-12 18:26] adelekennedy commented on #9807
[internal](https://www.upwork.com/ab/applicants/1546923572359806976/job-details)
[external](https://www.upwork.com/jobs/~012720ee9ce7f1d319)

[2022-07-12 18:28] mdneyazahmad commented on #8791
@Santhosh-Sellavel Does it show the app banner on workspace page or does it fixes the issue when you did not dismiss the banner?

[2022-07-12 18:32] mvtglobally commented on #9781
@AndrewGable Yes, The only issue is https://github.com/Expensify/App/issues/9802. I think we can check it off as thats expected

[2022-07-12 18:32] parasharrajat commented on #9807
Maybe a regression from https://github.com/Expensify/App/pull/9665.

[2022-07-12 18:32] jeet-dhandha commented on #9739
I am not able to run the web app `yarn web`. Is there any issue with the app 🤔
<img width="1436" alt="Screenshot 2022-07-13 at 12 02 06 AM" src="https://user-images.githubusercontent.com/78416198/178568479-9bf3d426-459e-4e57-9b9b-c0ca6a378144.png">

[2022-07-12 18:35] allroundexperts commented on #9090
@luacmartins What's the expected behaviour?

[2022-07-12 18:50] mananjadhav commented on #9662
@luacmartins I am not sure how we would call it a regression. I explicitly asked the same test case in this https://github.com/Expensify/App/issues/9090#issuecomment-1145298738. The PR does the same effect, that the autoLink works when inserting but doesn't when editing.

We could tag this as a new issue - If the user is posting link with the protocol, then it should be transformed into the markdo

[2022-07-12 18:51] Santhosh-Sellavel commented on #8791
@mdneyazahmad Uploaded the wrong video. Updated the video now.

Yes, it shows the app banner on the workspace page also.

Yes, it fixes.

I'm unsure about one thing, currently, we don't have smart banner implementation. The banner shown now is based on the deep link config from apple-site-association-file. Only after testing on the staging, we can confirm whether this overrides the existing banner

[2022-07-12 19:06] WtfLaika commented on #9807
Have you tried yo use KeyboardAvoidingView? Wrap all components with KeyboardAvoidingView set behavior='position' and make small padding bottom or set value for keyboardVerticalOffset?

[2022-07-12 19:18] parasharrajat commented on #9807
@adelekennedy It is missing Exported label.

[2022-07-12 19:19] WtfLaika commented on #9807
<img width="444" alt="Screenshot 2022-07-12 at 22 19 05" src="https://user-images.githubusercontent.com/87127829/178576369-84ae76cf-658e-4afd-a9a2-5834ea246094.png">

[2022-07-12 19:41] aldo-expensify commented on #8841
The PR is in review.

[2022-07-12 19:41] OSBotify opened #9847 "Deploy Checklist: New Expensify 2022-07-12"
**Release Version:** `1.1.84-13`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/8761
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/9495
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/9529
  - [x] QA

[2022-07-12 19:45] Karim-30 commented on #4324
### Proposal

We can use [these emoji names](https://github.com/wooorm/gemoji/blob/main/support.md), these are similar to github emoji names.

our `emojis.js` file will be look like this :
[code]

[2022-07-12 19:49] #9808 closed

[2022-07-12 19:52] jayeshmangwani commented on #9739
#### Proposal

We need to wrap the oldExpensifyLink in ToolTip here and need to add the style prop to text for underlining

https://github.com/Expensify/App/blob/41346c82c6c0854e0c5bc427e9193d40723feec6/src/components/HTMLEngineProvider/HTMLRenderers/AnchorRenderer.js#L44-L53
[code]

and this issue is happening with the new Expensify link also, please try with this link `https://new.expensify.com/

[2022-07-12 19:54] Karim-30 commented on #4324
### Proposal

we can use[ these emoji names](https://github.com/wooorm/gemoji/blob/main/support.md), these are similar to github emoji names.

Our `emojis.js` file will look like this :

[code]

in `ReportScreen.js` we use this function :

[code]

Result :

https://user-images.githubusercontent.com/108357004/178582324-98affd91-e695-46b7-aa0a-69595f25c4a7.mov

[2022-07-12 19:56] mananjadhav commented on #7470
Currently Reviewing and retesting it.

[2022-07-12 19:59] AndrewGable commented on #9781
Deploy did not work, we are looking into it

[2022-07-12 19:59] mananjadhav commented on #9542
Waiting for proposals.

[2022-07-12 20:00] melvin-bot[bot] opened #9848 "[$4000] Identify source and fix crash: `com.facebook.soloader.SoLoader.doLoadLibraryBySoName`"
## Fatal Exception: java.lang.UnsatisfiedLinkError
### couldn't find DSO to load: libhermes.so
	SoSource 0: com.facebook.soloader.ApkSoSource[root = /data/data/com.expensify.chat/lib-main flags = 1]
	SoSource 1: com.facebook.soloader.DirectorySoSource[root = /data/app/~~TQymoaD6lIwlgPXCQPi3Tw==/com.expensify.chat-dV5g1giPTUH-ZkSuaAJlog==/lib/arm64 flags = 0]
	SoSource 2: com.facebook.soloader.Dire

[2022-07-12 20:01] michelle-thompson commented on #9830
Posted in [Slack](https://expensify.slack.com/archives/C03TQ48KC/p1657581164933869?thread_ts=1657560051.442269&cid=C03TQ48KC), and we're good to go with this design:
![image](https://user-images.githubusercontent.com/43361905/178583546-2b85965b-fe05-4e90-82d5-625f0e6ea212.png)

Adding the engineering label now!

[2022-07-12 20:03] michelle-thompson commented on #9830
Actually, assigning @marcochavezf since you're implementing the help site

[2022-07-12 20:07] marcochavezf commented on #9805
I will continue with this issue after https://github.com/Expensify/Web-Expensify/pull/34260 is merged (more context in this [comment](https://github.com/Expensify/Web-Expensify/pull/34260#discussion_r919199871)).

[2022-07-12 20:11] marcochavezf commented on #9830
Thanks for the design @michelle-thompson! Could you post here a link for the sand clock icon?

[2022-07-12 20:48] roryabraham commented on #9781
Closing this again

[2022-07-12 20:48] #9781 closed

[2022-07-12 20:49] roryabraham commented on #9781
New checklist is [here](https://github.com/Expensify/App/issues/9847)

[2022-07-12 20:49] michelle-thompson commented on #9830
Here you go!
[Circle Hourglass.svg.zip](https://github.com/Expensify/App/files/9096744/Circle.Hourglass.svg.zip)

[2022-07-12 20:50] roryabraham commented on #9847
@Expensify/applauseleads Please keep this unlocked while I break some more stuff 🙇

[2022-07-12 20:57] mvtglobally commented on #9847
@roryabraham :) tag us whenever we are ready to rock n roll

[2022-07-12 21:31] luacmartins commented on #9090
The expected behavior is as follows:

1. User sends a message with a link
2. User edits the message
3. If the user intentionally removes the hyperlink in their edit, i.e. from `[text](link.com)` to `link.com` markdown, we should not autolink because the user wanted to remove that hyperlink
4. If the link still has the hyperlink markdown when the user saves the edit, i.e. they edit something and th

[2022-07-12 21:39] luacmartins commented on #9662
Maybe I misunderstood your question, but the expected behavior is described in the issue and was clarified [here](https://github.com/Expensify/App/issues/9090#issuecomment-1133148976). If the user intentionally removed the link markdown from `[example](link.com)` to `link.com` while editing, we shouldn't make it `[example](link.com)` again and re-add the hyperlink. If the user edits a message but

[2022-07-12 22:48] adelekennedy commented on #8126
not overdue! waiting for the payment ping

[2022-07-12 23:01] tomivs commented on #9628
I think It is necessary, otherwise it won't build the App Links for Android 12 (which is happening right now). I will make sure that everything is working after that. I tested and and it doesn't work by only updating the `AndroidManifest.ml`. That's why I said we should upgrade to SDK 31.

Mainly declaring `android:exported` for the activities in the `AndroidManifest.xml`.

I don't think so, at le

[2022-07-12 23:03] mountiny commented on #9739
@jeet-dhandha Sorry to see you having problems running the app :/

The best way to get help is through our open-source Slack channel where all the other contributors and Expensify engineers are. You can get more information about how the contributing process work [here](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md). There are also other important markdown files you

[2022-07-12 23:10] OSBotify commented on #9847
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.84-1 :rocket:

[2022-07-12 23:32] marcaaron commented on #7618
Still must go to production.

[2022-07-12 23:33] marcaaron commented on #8101
Waiting for next staging / production deploys.

[2022-07-12 23:42] marcochavezf commented on #9830
Created this PR to add the coming soon page https://github.com/Expensify/App/pull/9869

[2022-07-12 23:59] parasharrajat commented on #9739
@jayeshmangwani Although it will fix this issue, it won't work as expected. It will have regressions. What if this component is used outside the report message/comment?

[2022-07-13 00:00] parasharrajat commented on #9739
Looking at code history, I can tell that when this code was added, tooltips didn't exist for links. This means it was missed during the implementation of link tooltips.

[2022-07-13 00:07] danieldoglas commented on #9825
@parasharrajat should be assigned to this job.

[2022-07-13 00:08] parasharrajat commented on #6941
Ok, Let's wait for another week.

[2022-07-13 00:20] parasharrajat commented on #9628
Ok. Thanks for the explanation. Need to discuss something internally...

[2022-07-13 01:04] jliexpensify commented on #9088
Not overdue melvin.

[2022-07-13 02:04] srikarparsi commented on #9408
^^

[2022-07-13 03:07] mvtglobally opened #9874 "[Performance] iOS app is very slow and unresponsive when syncing data"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Send few messages
3. Tap between chats

## Expected Result:
App should respond quickly

## Actual Result:
App is very slow and u

[2022-07-13 03:10] jeet-dhandha commented on #9826
@parasharrajat Please, keep me posted on the issue.

[2022-07-13 03:20] mvtglobally opened #9875 "After signing in on mobile, User is signed out of desktop"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login on Desktop app and use the app
2. Navigate to mobile app and login with the same account

## Expected Result:
User should be able to l

[2022-07-13 03:45] mvtglobally opened #9876 "[HOLD for payment 2022-08-11] [$250] The create group chat list uses different default avatars than the actual users who you invite"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open app
2. Click + > Create group
3. select few existing and new users to be added to the group

## Expected Result:
The avatars should be

[2022-07-13 04:12] mananjadhav commented on #9090
Coming from your comment [here](https://github.com/Expensify/App/issues/9662#issuecomment-1182524898) @luacmartins.

If you carefully observe the video, https://user-images.githubusercontent.com/3069065/178571896-3570f289-4f90-4b92-84b8-d051fca67dc9.mov, editing some links doesn't show up `[text](link.com)` syntax. It only shows the `http://link.com` text. Hence my confusion on resolving this. You

[2022-07-13 04:28] MonilBhavsar commented on #9239
Still on hold

[2022-07-13 04:49] conorpendergrast commented on #9875
I wasn't able to reproduce this. Here's what I did:
1. Sign in to the Mac desktop app
2. Signed out of the iOS app
3. Signed back in to the iOS app

@stitesExpensify Are you able to consistently reproduce this?

[2022-07-13 04:49] mdneyazahmad commented on #9090
I do not think this is an issue we should fix, as we are supporting auto-link in the initial message, the user expects it to work on the edit message too.

`[text](URL)` and `URL` are the same thing

Tested on Github it also has the same behavior.

[2022-07-13 04:50] conorpendergrast commented on #9875
Oh, hmm, actually, the web app has been signed out for me.

Here's what happened:
1. I was signed in to the web app on desktop
2. I signed in to the Mac desktop app
2. I signed out of the iOS app
3. I signed back in to the iOS app
4. I was signed out of the web app on desktop automatically

So that's weird

[2022-07-13 07:54] kadiealexander commented on #8663
Sorry for the confusion there! Have opened and will pay after the regression period.

@pecanoro please don't close these issues until the payment is issued.

[2022-07-13 09:22] mountiny commented on #8101
Not sure what Melvin was trying to do but I believe this should be open

[2022-07-13 10:41] flodnv commented on #7618
Stop it @mevin-bot

[2022-07-13 13:45] eVoloshchak commented on #6154
**Proposal:**

1. First of all, we need to keep track of [TextInput's](https://github.com/Expensify/App/blob/b9a126b07a324212863d75073a18508d6fca9159/src/pages/iou/steps/IOUAmountPage.js#L218) selection and store it in state
[code]
And pass these props through `TextInputWithCurrencySymbol` > `AmountTextInput`

2. For the case when user presses `<` (delete) on onscreen keyboard, we need to change t

[2022-07-13 15:32] tylerkaraszewski commented on #9876
This seems super low priority but I do agree it would be better.

[2022-07-13 15:34] #9838 closed

[2022-07-13 15:36] stephanieelliott commented on #7081
Hey @MitchExpensify, reassigning this as I am going OOO. To save you some scrolling, the PR for this one is https://github.com/Expensify/App/pull/8042, most of the action is happening there now. Thank you!

[2022-07-13 15:45] stephanieelliott commented on #7917
Hey @dylanexpensify, reassigning this one since I am about to head OOO. To save you some scrolling, we got bit stuck on the best way to handle button behavior, discussion on that is going on here: https://expensify.slack.com/archives/C01GTK53T8Q/p1654195847140899. Thank you!

[2022-07-13 15:47] stephanieelliott commented on #8791
Hey @JmillsExpensify, reassigning this one since I am about to head OOO. We're still reviewing proposals on this one!

[2022-07-13 15:49] stephanieelliott commented on #9238
Reassigning this one as I am going OOO, thanks @trjExpensify!

[2022-07-13 15:51] stephanieelliott commented on #9389
Reassigning this as I am going OOO, thanks @adelekennedy!

[2022-07-13 15:52] stephanieelliott commented on #9444
Reassigning this one as I am going OOO, thanks @kadiealexander!

[2022-07-13 15:53] stephanieelliott commented on #9747
Reassigning this one as I am going OOO, thanks @jliexpensify!

[2022-07-13 15:59] dylanexpensify commented on #7917
Sounds good! Thanks @stephanieelliott and have a great OOO time!

[2022-07-13 16:26] #9830 closed

[2022-07-13 16:33] deetergp commented on #8927
@adelekennedy It looks like this one is good to go and we should pay @thesahindia for their effort 👍

[2022-07-13 16:43] adelekennedy commented on #8927
@deetergp ty ty, I'll pay this out in 7 days!

[2022-07-13 16:52] luacmartins commented on #9090
@mananjadhav Thanks for clarifying! It makes sense now and it seems like the issue is that we are not adding the markdown syntax to those links when editing them, i.e. `https://mail.google.com` should show up as `[https://mail.google.com](https://mail.google.com)` when we tap edit, but it shows up as `https://mail.google.com`.

In that case I agree that it is not a regression, but it would be nice

[2022-07-13 16:52] luacmartins commented on #9090
@kadiealexander this is not a regression and we should proceed with payment as usual.

[2022-07-13 16:53] #9546 closed

[2022-07-13 16:54] Julesssss commented on #8130
No change

[2022-07-13 17:08] flodnv commented on #8915
@jrstanley I think if we can fix 7s of delay that would already be a good improvement! Would you be interested in updating your proposal for that as per @parasharrajat's recommendations above?

[2022-07-13 17:10] thienlnam commented on #8126
PR is still in review / revisions

[2022-07-13 17:12] flodnv commented on #9422
Oh, to clarify, this issue only occurs on the Android app?? Indeed, I just uploaded a 13MB video on Desktop.

[2022-07-13 17:13] luacmartins commented on #9662
This issue is not a regression, but a new bug we discovered by removing the autolink when editing a message - see [this comment](https://github.com/Expensify/App/issues/9090#issuecomment-1183459903).

[2022-07-13 17:15] danieldoglas commented on #9825
@mallenexpensify is OOO, I'll remove him and add the tag again.

[2022-07-13 17:16] luacmartins commented on #9662
Updated issue title and reproduction steps! Thanks @mananjadhav for clarifying this!

[2022-07-13 17:24] Christinadobrzyn commented on #9876
Created Upwork job

Internal posting - https://www.upwork.com/ab/applicants/1547270524636602368/job-details
External posting - https://www.upwork.com/jobs/~01b994676f0c2a7858

[2022-07-13 17:51] parasharrajat commented on #9250
Looking into the proposals now.

[2022-07-13 18:16] Santhosh-Sellavel commented on #4324
Looking for a better proposal.

[2022-07-13 18:26] marcaaron commented on #9874
I am hesitant to make this `External` as performance issues can be approached in many different ways. From the video, it looks like the app is "syncing" while the slowness occurs. In my experience, network requests should not cause the UI jank we are seeing here. But we should take a shot at identifying the underlying problem before we look at proposals. I'm going to leave this as `Internal` for a

[2022-07-13 18:50] mananjadhav commented on #7470
@jayeshmangwani I did a second round of the tests on all the platforms. I still couldn't find the change where the corners are fixed. Could you please point me to that change? or send me the screenshots of the tests that you performed? I can see those corners in Mac Safari as well as Web Chome (first screenshot in this [comment](https://github.com/Expensify/App/issues/7470#issuecomment-1157026906)

[2022-07-13 18:59] mananjadhav commented on #9624
I'll need a day to investigate the issue and review @errahsoufiane's proposal.

[2022-07-13 19:20] mananjadhav commented on #9421
I tested @thesahindia's proposal here https://github.com/Expensify/App/issues/9421#issuecomment-1179306114. It seems to be working and we're already using it in the Composer.

🎀 👀 🎀 C+ reviewed

[2022-07-13 19:22] Karim-30 commented on #4324
@Santhosh-Sellavel Yes, it is, from [these](https://github.com/Expensify/App/issues/4324#issuecomment-892007445) and [these](https://github.com/Expensify/App/issues/4324#issuecomment-892019046) we needed to add a new field to our 1360 emojis in `emojis.js`,  this field represent a unique keyword for each emoji, @mananjadhav suggested we can get these keywords from [this file](https://github.com/mi

[2022-07-13 19:49] #8101 closed

[2022-07-13 19:50] deetergp commented on #9823
Definitely a contributor-worthy issue!

[2022-07-13 20:09] marcaaron commented on #9559
This should be fixed now. If anyone is experiencing this please try updating to the latest version of New Expensify.

[2022-07-13 20:09] #9559 closed

[2022-07-13 20:18] stitesExpensify commented on #9470
No update, blocked on n7

[2022-07-13 20:18] Tushu17 commented on #9339
Bump @arielgreen, payment is pending.

[2022-07-13 20:26] iwiznia commented on #9061
@michaelhaxhiu please double the price.

[2022-07-13 20:35] puneetlath commented on #9542
Looks like we're still collecting proposals for this job - price increase to $1000

[2022-07-13 20:59] ahmdshrif commented on #8101
@puneetlath Yes i get paid .  just the contract still open we need to close it .

[2022-07-13 21:04] puneetlath commented on #8101
Got it, thanks for the clarification. I have closed the contract. Thanks!

[2022-07-13 21:06] puneetlath commented on #9485
External Upwork job: https://www.upwork.com/jobs/~01b4c3fac00064e2ed
Internal Upwork job: https://www.upwork.com/ab/applicants/1547326531942969344/job-details

[2022-07-13 21:11] luacmartins opened #9889 "Fix broken defaultProps in IOUAmountPage"
# Problem
Coming from [this comment](https://github.com/Expensify/App/pull/9607#issuecomment-1183676531), the defaultProps in IOUAmountPage doesn't work, because if any keys in `props.iou` is defined, we don't check that `iou.selectedCurrencyCode` is actually set.

# Why is this important?
It makes the code cleaner and less confusing

# Solution
Remove the broken default props

[2022-07-13 21:23] eVoloshchak commented on #9389
**Proposal:**
We can extend [stripCommaFromAmount](https://github.com/Expensify/App/blob/bc7be6fe7c8f424bd921b490823cd0cd4a842e08/src/pages/iou/steps/IOUAmountPage.js#L132) (will probably need a different name), since it gets called for both cases: when user uses on-screen keyboard and when using device keyboard

[code]

And we will also need to change both `updateAmount` and `updateAmountNumberPa

[2022-07-13 21:36] luacmartins commented on #9249
Actually @mallenexpensify is ooo until August 13th. Reapplying the External label to assign someone new and process the payment!

[2022-07-13 21:37] luacmartins commented on #9249
@Christinadobrzyn can you arrange the payments due for this fix? @mallenexpensify seems to be ooo until Aug 13. Thank you!

[2022-07-13 21:37] michaelhaxhiu commented on #9061
Price doubled to $1k (ps sorry for sleeping on it 😴 I candidly missed it)

[2022-07-13 22:28] parasharrajat commented on #9389
Good catch @eVoloshchak. Yes, we need to update both `updateAmount and updateAmountNumberPad`.

One for NumberPad and the other for the keyboard. But I don't think updating [stripCommaFromAmount](https://github.com/Expensify/App/blob/bc7be6fe7c8f424bd921b490823cd0cd4a842e08/src/pages/iou/steps/IOUAmountPage.js#L132) is a good idea. Instead, you can create a common method and use it.

This was miss

[2022-07-13 23:10] Christinadobrzyn commented on #9249
Paid $500 to @rushatgabhane for C+ and $500 to @sobitneupane for the fix! Closed job and now closing this GH and complete.

[2022-07-13 23:10] #9249 closed

[2022-07-13 23:45] melvin-bot[bot] opened #9902 "[$2000] Identify source and fix crash: `com.facebook.react.views.textinput.ReactTextInputShadowNode.createInternalEditText`"
## Fatal Exception: java.lang.NullPointerException
### Attempt to invoke virtual method 'android.graphics.drawable.Drawable android.graphics.drawable.Drawable$ConstantState.newDrawable(android.content.res.Resources)' on a null object reference
### `ReactTextInputShadowNode.java line 265` `com.facebook.react.views.textinput.ReactTextInputShadowNode.createInternalEditText`
### Number of Crashes: 4

[2022-07-13 23:49] roryabraham commented on #9847
Apologies. I'm breaking stuff now to (hopefully) make things faster / simpler / stabler in the future. This checklist is going to be _BLASTED_ with `[No QA]` PRs in a bit though 😅

[2022-07-14 00:06] roryabraham commented on #9847
Okay, I think everything is working again. Will hold off on any further GitHub Actions changes until we get another production release out. @Expensify/applauseleads feel free to lock this whenever you are ready (presumably tomorrow at this point), and thanks for your patience. 🙇

[2022-07-14 00:15] roryabraham opened #9905 "[HOLD] Move No QA PRs to a separate section of the checklist"
### Problem
Sometimes our deploy checklists get very large. When there are many documentation, helpsite, or GitHub Actions PRs in the checklist, those PRs typically don't need any QA.

As a time-saver/QOL improvement for Applause and deployers, we automatically check off any PR on the checklist if the title is prefixed with `[No QA]`.

However, in some cases such as [this one](https://github.com/E

[2022-07-14 01:30] rushatgabhane commented on #9287
@jliexpensify appreciate it, thank you! 😊

[2022-07-14 01:53] rushatgabhane commented on #9827
Also applicable to new group, adn new chat page. A proposal should fix all three pages

[2022-07-14 02:23] Santhosh-Sellavel commented on #4324
Your proposal doesn't work for me.

[2022-07-14 02:47] techievivek commented on #8589
Not overdue, will look into it once API refactor stuff is done.

[2022-07-14 03:06] jliexpensify commented on #9287
Paid both, closing!

[2022-07-14 03:06] #9287 closed

[2022-07-14 03:08] jliexpensify commented on #9487
@rushatgabhane - confirming that PR is deployed to production and I can pay you tomorrow?

[2022-07-14 03:11] jliexpensify commented on #8356
@rushatgabhane - can I close this? I'm on the latest version and it seems like this isn't an issue?

![image](https://user-images.githubusercontent.com/30815269/178889990-5a0886f8-1cd6-49a0-88f6-eb2e0a063d08.png)

[2022-07-14 03:12] rushatgabhane commented on #9487
@jliexpensify yep!

[2022-07-14 03:19] rushatgabhane commented on #8356
@jliexpensify it's barely noticeable, but it's still present.
We could still close this tho, it low-key looks nice and helps differentiate the prefix from the room name.

<img width="1021" alt="image" src="https://user-images.githubusercontent.com/29673073/178890449-caddc406-bc8d-4ee6-8e03-01bc817151be.png">

[2022-07-14 03:25] jliexpensify commented on #8356
@rushatgabhane oh damn haha, good eyes! I honestly don't think the majority of people will notice - closing!

[2022-07-14 03:25] #8356 closed

[2022-07-14 03:25] phuongpt commented on #9061
My proposal:
New `HeaderFixTopPosition` component to wrap `IOUModal`

![Screen Shot 2022-07-14 at 10 12 14](https://user-images.githubusercontent.com/4443583/178890210-155a793d-84a6-4250-9d7d-f95508431102.png)

![Screen Shot 2022-07-14 at 10 13 06](https://user-images.githubusercontent.com/4443583/178890257-08fd15c7-3ccb-43e4-92af-1238f5d9bebb.png)

Results:

[![Watch the video](https://user-image

[2022-07-14 04:20] pecanoro commented on #5536
Still not a priority right now

[2022-07-14 04:28] jeet-dhandha commented on #9827
https://github.com/Expensify/App/blob/ce899227ca6d3823e2865a5e194b429f1263db30/src/pages/SearchPage.js#L179

[code]

@rushatgabhane Please check this.

[2022-07-14 04:40] rushatgabhane commented on #9827
🎀 👀 🎀 C+ reviewed
@jeet-dhandha thanks for your proposal, it looks good.

cc: @sketchbook

[2022-07-14 05:39] Karim-30 commented on #4324
It worked fine on Firefox-Chrome-Safari/MacOS, Could you explain the error you got?

[2022-07-14 05:50] dharmik commented on #8846
@mananjadhav Just for update, I am able to compile it. Working on PR.

[2022-07-14 05:51] dharmik commented on #8541
@iwiznia  Just for update, I am able to compile it. Working on PR.

[2022-07-14 06:20] roryabraham commented on #9703
Not going to get to this issue this week

[2022-07-14 06:45] kadiealexander commented on #9090
Thanks @luacmartins! Will pay tomorrow as expected.

[2022-07-14 06:51] kadiealexander commented on #7962
Price doubled, and the old post expired:

https://www.upwork.com/jobs/~01227280ef0f6f8c45
https://www.upwork.com/ab/applicants/1547473595666264064/job-details

[2022-07-14 07:46] jliexpensify commented on #8597
Still on hold

[2022-07-14 08:29] jeet-dhandha commented on #9827
@rushatgabhane what does "🎀 👀 🎀 C+ reviewed" this mean 😅 ?

[2022-07-14 09:10] MananGadhiyaSureshbhai commented on #7962
**Proposal**
#
in IOS, there is an issue in react-native-pdf for files which has space
this is because of sourceURL

https://github.com/Expensify/App/blob/ce899227ca6d3823e2865a5e194b429f1263db30/src/components/PDFView/index.native.js#L35-L42

We can use  decodeURIComponent
source={{uri: decodeURIComponent(props.sourceURL)}}

 when react-native-pdf comes with a solution we can update the package i

[2022-07-14 09:27] MonilBhavsar commented on #9766
I'll try to reproduce today and provide an update here

[2022-07-14 09:44] parasharrajat commented on #9061
@phuongpt Could you provide more information as the other proposals doing above?

[2022-07-14 09:48] parasharrajat commented on #7962
@MananGadhiyaSureshbhai please take a look at previous discussion to understand what kind of proposals we are expecting.

[2022-07-14 10:09] sketchydroide commented on #9827
that sounds good to me as well, assigning you @jeet-dhandha

[2022-07-14 10:12] dhairyasenjaliya commented on #7470
**Proposal**

- Here actual problem for the white corner border is caused by the border radius of text input as our text input component `<BaseTextInput>` is already wrapped in view that has border-radius of variables.componentBorderRadiusNormal so the simple solution would be to set text input border-radius to 0

- Note: In the latest code (v1.1.82-5) I'm not able to get the top and bottom gap, I

[2022-07-14 10:32] phuongpt commented on #9061
- @parasharrajat  The putting the fix into the individual component (web component) will avoid affecting to mobile platforms. And it gives us more flexible fix for every `step` if necessary.
- Seems using `scrollTo` top is giving a better animation in this case.

[2022-07-14 11:12] parasharrajat commented on #9826
Link to internal discussion https://expensify.slack.com/archives/C02NK2DQWUX/p1657544731979729

[2022-07-14 11:19] jeet-dhandha commented on #9827
@rushatgabhane @sketchydroide How do i sign CLA.md ? As its showing me 404 error when i open it.

[2022-07-14 11:26] jeet-dhandha commented on #9826
@parasharrajat I m still not a part of Expensify's Slack, so please send me an invite my mail id is jeet.dhandha.2511@gmail.com

[2022-07-14 11:30] parasharrajat commented on #9061
Thanks. I will something to discuss internally about this issue and I will get back to you.

[2022-07-14 11:32] parasharrajat commented on #9826
That is supposed to be a internal discussion and we will share weekly updates on this issue about the status.

[2022-07-14 11:35] jeet-dhandha commented on #9826
Got It. Thanks for the update.

[2022-07-14 12:21] sketchydroide commented on #9827
That is weird, I'm trying to figure out where it has gone

[2022-07-14 12:22] jeet-dhandha commented on #9827
PATH TO CLA : `https://github.com/Expensify/App/blob/main/contributingGuides/CLA.md`

[2022-07-14 12:24] sketchydroide commented on #9827
thanks, I'll open a GH for us to change the link to the correct one

[2022-07-14 12:26] jeet-dhandha commented on #9827
Okay and can you please check the PR its still not running the Checks.
@sketchydroide

[2022-07-14 12:30] melvin-bot[bot] opened #9912 "💥 Crash 💥 `getTextMatrix`"
## Non-fatal Exception: JavaScriptError
### Cannot read property 'split' of undefined
### `main.jsbundle:272471:46 line 272471` `getTextMatrix`
### Number of Crashes: 30

## Device Information
* **Platforms:** Android, iOS
* **App Versions:** `1.1.78.8`, `1.1.82-5`, `1.1.84-11`
* **Devices:** OnePlus ONEPLUS A6000 10, samsung SM-G770F 12, Apple iPhone10,3 15.5.0

## Stacktraces
<details>
<summary>

[2022-07-14 12:57] SahilSharma29 commented on #9509
Hii there is a simple solution to ride this issue, for centering the login container we fix it by using some styling according to the dimensions of the mobile by using this it's fixed and responsive also from all devices. Please apply this method I hope this will work.

[2022-07-14 12:59] michaelhaxhiu commented on #9823
Job posted to Upwork - https://www.upwork.com/jobs/~010c2cbc9e40b3a07a

[2022-07-14 13:01] MonilBhavsar commented on #9702
Agree, with [slack discussion](https://expensify.slack.com/archives/C01GTK53T8Q/p1654322127160669), we should limit the zip code and use state picker in this form.

[2022-07-14 13:21] OSBotify commented on #9847
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.84-11 :rocket:

[2022-07-14 13:29] flodnv commented on #9826
@jeet-dhandha I have invited you to the public channel, however this discussion is being discussed outside of this public channel at the moment. We'll provide an update next week.

[2022-07-14 14:24] ahmdshrif commented on #8311
### Proposal

it's a small problem and does not need all these changes.

#### Problem
the 2 events trigger ( long-press on link, long-press on the comment)
the link event first and then the comment event.
and both contextMenu is show at the same time but the second one will override the first one

![Screen Shot 2022-07-14 at 4 16 14 PM](https://user-images.githubusercontent.com/21364901/179003804-

[2022-07-14 15:12] #9889 closed

[2022-07-14 16:05] ntdiary commented on #9424
# Proposal
## cause
this is also happening for png image in my test.
And this problem is related to `UIImageJPEGRepresentation` and `UIImagePNGRepresentation` in two places.
these functions will change the image binary data when selecting and uploading.
One is in [react-native-image-picker](https://github.com/react-native-image-picker/react-native-image-picker/blob/eeca93864d9ea671a2e268f36936aafe

[2022-07-14 16:30] kbecciv opened #9915 "mWeb/Safari - Chat - Broken page layout for ##announce and ##admins rooms after navigate back to LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Prerequisite: Create a new gmail account
1. Login with the creds on the mWeb Safari
2. Create new Workspace (##announce and ##admins rooms shou

[2022-07-14 17:49] kbecciv opened #9917 "Web/Chrome - Broken emoji under Frequently used section"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensifail.com
2. Log in with applausetester+0901abb@applause.expensifail.com/ Feya86Katya
3.  Select Chat Kate Becciv an

[2022-07-14 17:55] kbecciv opened #9918 "[$250] Group Chat - View scrolls to Recents header when unselecting users from group conversation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found during executing PR** https://github.com/Expensify/App/pull/9798

## Action Performed:
1. Go to staging.new.expensifail.com
2. Log in with any use
3.

[2022-07-14 18:12] mountiny opened #9919 "Fix broken links to markdown files"
### Problem

We have moved a markdown documentation to a different directory and now there are wrong paths linked at some places.

### Solution

Update the paths

[2022-07-14 18:14] jayeshmangwani commented on #7470
@mananjadhav Thanks for testing PR, yes I have not added code for the border, as this was not the issue of the height, but I found that this issue is happening because we are adding borderRadius to child and parent both, and in that scenario, the child is not taking the full height/width and we can see 1 pixel of parent's view, so I would suggest that we can remove the child's(TextInput) borderRad

[2022-07-14 18:44] #9919 closed

[2022-07-14 18:57] adelekennedy commented on #9389
@eVoloshchak it looks like the job in Upwork expired, do you mind applying [here](https://www.upwork.com/ab/applicants/1547656178856574976/job-details)?

[2022-07-14 19:06] kbecciv opened #9921 "[$250] mWeb - Infinite loading displayed after navigate to links https://staging.new.expensify.com/new/chat or https://staging.new.expensify.com/search"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found during executing PR**https://github.com/Expensify/App/pull/9718

## Action Performed:
1. Open a incognito window and navigate to New Exp

[2022-07-14 19:09] danieldoglas commented on #7259
Still on hold

[2022-07-14 19:24] marcochavezf commented on #8311
Not overdue, we have a [new proposal ](https://github.com/Expensify/App/issues/8311#issuecomment-1184512351) to be reviewed.

[2022-07-14 19:44] kbecciv opened #9922 "Web - IOU - No onyxData with key country Code appeared in the call"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue found during executing PR** https://github.com/Expensify/App/pull/9801

## Action Performed:
1. Open App and login
2. Open the Network Tab
3. C

[2022-07-14 19:52] puneetlath commented on #9876
Hm, I'm also not able to reproduce this on Desktop. Perhaps this was already fixed. @Christinadobrzyn are you able to reproduce it?

[2022-07-14 19:54] kbecciv opened #9923 "Domain Room - #expensifail .com domain room is not displayed for expensifail accout"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/9768

## Action Performed:
1. Launch the app and create a expensifail account

[2022-07-14 19:58] kevinksullivan commented on #9705
Not overdue

[2022-07-14 19:59] stitesExpensify commented on #4324
What do you not like about the solution specifically @Santhosh-Sellavel ? @Karim-30 One thing I did notice is that your emojis are not rendering inside of the compose bar, only after they are sent. Can you make that change please? (It's at the very end of the example video, easy to miss).

[2022-07-14 20:16] kbecciv opened #9926 "SMS Notifications - sms notifications was coming with strange symbols [&quot] instead quotes."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Prerequisites: Set one of your account with quotes
1. Open App for 1 account has quotes in the name
2. Start chat with SMS accoun

[2022-07-14 20:25] jasperhuangg commented on #9926
Looks like we're not unescaping html entities, gonna take a look when I'm back from lunch.

[2022-07-14 20:28] kbecciv opened #9927 "mweb - Split Bill - If users with long names are invited to split bill, the name will cut off"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Sign into any account
3. Tap "+" > "Split Bill" > Select any amount > "Next"
4. Select sev

[2022-07-14 20:39] parasharrajat commented on #9389
That URL is internal.

[2022-07-14 20:44] eVoloshchak commented on #9389
This one works, thanks. It had the wrong price, I entered the correct one when submitting a proposal

[2022-07-14 20:47] kbecciv opened #9928 "[HOLD for payment 2022-09-01] [$500] IOS/Android - Payments - Making payment method default will have keyboard overlapping password prompt - reported by @dhairyasenjaliya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Tap on Profile icon > Payments
3. Tap on a payment method
4. Tap "Make default payment method"

## Expec

[2022-07-14 20:59] kbecciv opened #9929 "Web - New group - The blue frame in the search bar disappears when you select a new member"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Click on the green + button
3. Click on the "New group" option
4. Start select

[2022-07-14 21:01] kbecciv commented on #9927
Similar issue https://github.com/Expensify/App/issues/9287

[2022-07-14 21:06] kbecciv opened #9930 "[HOLD]Android - Notification - Notifications leads to the wrong chat while online/offline, killed app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to the app, open different chat
2. Kill the app
3. Tap on the received notification
4. Repeat while offline

## Expected

[2022-07-14 21:08] kbecciv commented on #9930
Two issues had been closed  https://github.com/Expensify/App/issues/9179  and https://github.com/Expensify/App/issues/6079

[2022-07-14 21:23] chiragsalian commented on #9927
Yup looks like this [issue](https://github.com/Expensify/App/issues/9287) fixed the problem reported here. Closing this. Feel free to reopen if i missed something.

[2022-07-14 21:23] #9927 closed

[2022-07-14 21:29] chiragsalian commented on #9705
Demoting to weekly since there isn't much reason for melvin pings daily as we wait for proposals.

[2022-07-14 21:30] robertjchen commented on #9915
@parasharrajat Great catch, thanks! Looks like it's a dupe- will close this for now 👍  Thanks for the bug report @kbecciv

[2022-07-14 21:30] #9915 closed

[2022-07-14 21:31] marcochavezf commented on #7079
I'm going to put this issue on hold because the implementation will need to be adapted to the [Authentication API refactoring](https://github.com/Expensify/Expensify/issues/212820) and also should be coordinated with the N7 Onboarding implementation.

[2022-07-14 22:26] adelekennedy commented on #9459
any updates here @parasharrajat?

[2022-07-14 22:26] adelekennedy commented on #8719
on hold

[2022-07-14 22:42] kbecciv opened #9933 "[$1000] Password - Infinite loading displays after login with changed password"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to the app
2. Navigate to Settings > Security > Change password
3. Enter correct information in the 3 fields and verify

[2022-07-14 22:57] roryabraham commented on #9293
The max is 90 days, which might be enough for staging and production. I'd say let's bump the artifact retention period up to its max and not worry about it beyond that. If we wanted we could push the source maps for production builds as artifacts with the release, which AFAIK are kept permanently. It might be a good idea to upload the desktop app too in case we ever have a bad fire and need an eas

[2022-07-14 23:33] marktoman commented on #9402
We cannot because each comment image rendered on the screen creates a new `ImageRenderer` instance. When uploading, we get two independent instances originating from two places:
1. When we start uploading, in which case we control the instance ([here](https://github.com/Expensify/App/blob/544821fc5254e975d81d10e32e7a472c5af29ad6/src/pages/home/report/ReportActionItemFragment.js#L77)). This instanc

[2022-07-14 23:45] parasharrajat commented on #9402
I got it. So what if we keep the same RenderHTML instance and just update the HTML. Will it still create a new instance of ImageRenderer? I guess it will. What do you think?

[2022-07-15 00:04] jeet-dhandha commented on #9827
@rushatgabhane @sketchydroide @parasharrajat I have closed the old PR an this the updated PR with Signed Commits and all videos for
Issue: https://github.com/Expensify/App/issues/9827
UPDATED PR: https://github.com/Expensify/App/pull/9936

[2022-07-15 00:06] marktoman commented on #9402
The event in 2. point happens regardless. If we preserve the `RenderHTML` instance created in 1. to 2., we still have to somehow decide that what we receive in 2. is the same image as 1. and ignore it, otherwise we end up with two representations of the same image on the screen. (Deciding at this level would require additional parsing, so it is better to take advantage of the regular parsing proce

[2022-07-15 00:51] marcochavezf commented on #9805
The error seems to be fixed on https://github.com/Expensify/Web-Expensify/pull/34260, I can't reproduce it anymore.

[2022-07-15 00:51] #9805 closed

[2022-07-15 01:40] NikkiWines commented on #9918
Hmm @kbecciv I'm unable to reproduce this on staging v1.1.84-11. The users look like they're being added and removed correctly with no users being hidden:

https://user-images.githubusercontent.com/16747822/179129575-599bf9d9-6f4b-41ac-8c28-d6cee9a0ffef.mov

[2022-07-15 01:43] NikkiWines commented on #9246
Looks like it's been 7 days and we can now issue payment to @JoshuaM1995! 🎊

[2022-07-15 02:03] roryabraham commented on #9725
Not a priority for now.

[2022-07-15 02:20] jliexpensify commented on #9487
Paid, and closed!

[2022-07-15 02:20] #9487 closed

[2022-07-15 02:45] dhairyasenjaliya commented on #9928
I also did report this issue here on slack on Tuesday :) https://expensify.slack.com/archives/C01GTK53T8Q/p1657600786481579

[2022-07-15 04:27] kadiealexander commented on #9090
@allroundexperts  - Paid! Thanks for your work.
@mananjadhav - just sent you an Upwork contract. Could you please let me know when you accept?

[2022-07-15 04:35] techievivek commented on #9085
Not overdue.

[2022-07-15 04:37] kadiealexander commented on #9090
All paid! Thanks team!

[2022-07-15 04:37] #9090 closed

[2022-07-15 05:11] ctkochan22 commented on #9922
@kbecciv can you tell me which api command its supposed to be?

[2022-07-15 06:52] mdneyazahmad commented on #9662
## Proposal

1. When a user does not enter protocol it will be `https` by default.

https://github.com/Expensify/expensify-common/blob/46b8533e44dbf9d0c20263687d34c6cdb51e0682/lib/ExpensiMark.js#L121-L123

[code]

2. When text and url are different HTML to markdown will use `[text](url)` or else just url

https://github.com/Expensify/expensify-common/blob/46b8533e44dbf9d0c20263687d34c6cdb51e0682/l

[2022-07-15 07:50] brianmuks commented on #8361
This issue https://github.com/Expensify/App/issues/8361#issuecomment-1164548104 keeps persisting. I think it might be a bug. I have tried to clear cookies to no avail. Let me check on other platforms.

[2022-07-15 08:18] #8088 closed

[2022-07-15 08:28] kidroca commented on #9293
@roryabraham I was wrong on this one, the default retention period for artifacts is **90 days** (same as max): https://docs.github.com/en/actions/learn-github-actions/usage-limits-billing-and-administration#artifact-and-log-retention-policy

I haven't set `retention-days` for source maps so they'll just use max

[2022-07-15 08:31] Karim-30 commented on #4324
@stitesExpensify We can implement it easily by calling  `replaceEmojis` function when the text inside the Composer changes not when the user submits a comment.

inside `RepartActionCompose.js`

[code]

Here how it looks like :

https://user-images.githubusercontent.com/108357004/179185232-05fbd5e6-9c06-4e0a-b0b5-f0374768029f.mov

[2022-07-15 09:08] Beamanator commented on #9917
I searched through my emojis and couldn't figure out which one that is - can you try to insert the broken one into a chat and then copy / paste it here maybe? 🤔

[2022-07-15 09:34] Julesssss commented on #9929
Minor, but seems valid.

[2022-07-15 12:15] kbecciv commented on #9917
@Beamanator Sorry, I was testing yesterday something and changed my password. Please try again this credentials:
applausetester+0901abb@applause.expensifail.com/Feya86Katya

[2022-07-15 12:45] kbecciv commented on #9918
@NikkiWines Sorry, for confusion. But when you unselecting one of your users - the rest of them is hidden on top of the list. You can see them only when you're scrolling. App behavior should be the same when you selecting and deselecting users.

[2022-07-15 12:53] kavimuru opened #9938 "[HOLD] [$250] Android - Workspace settings - Placeholder "Name" in the field flickers when saving the changes after coming out from offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to the app and login
2. Create a New Workspace if it doesn't exist yet
3. Go to Settings / Workspace settings
4. Disable th

[2022-07-15 13:03] liyamahendra commented on #9820
@iwiznia The issue is - if you local currency isn't USD, notice the currency symbol in the Send Money / Request Money chats.

![](https://user-images.githubusercontent.com/43995119/178181069-237ce0ce-abac-4826-a598-6c19d270baf0.png)

I believe the same symbol should reflect under Settings isn't it?

[2022-07-15 13:06] mountiny commented on #9928
Thanks for mentioning that @dhairyasenjaliya! I have updated the issue to reflect that.

This can be External issue.

[2022-07-15 13:11] mountiny commented on #9424
Waiting for a review from @Santhosh-Sellavel first

[2022-07-15 13:11] kavimuru commented on #9922
@ctkochan22, we don't see api command `OpenApp` in network activity.

[2022-07-15 13:27] michaelhaxhiu commented on #7916
Still in progress!

[2022-07-15 14:05] kavimuru opened #9939 "[$250] LHN - Two "##" displayed for chat rooms"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and create a expensifail account
2. Create a new workspace
3. Verify the LHN page for the default rooms created

[2022-07-15 14:10] #8610 closed

[2022-07-15 15:10] laurenreidexpensify commented on #9702
https://www.upwork.com/jobs/~014bc782e8d4ebf4f8

[2022-07-15 15:11] laurenreidexpensify commented on #9817
Holding on this to be reproduced in next week's KI testing

[2022-07-15 15:47] alex-mechler commented on #9930
cc @neil-marcellini @AndrewGable since both of you have worked on notifications in the past

[2022-07-15 15:57] adelekennedy opened #9940 "Update the package "jest" to the latest version"
coming from this issue [here](https://github.com/Expensify/Expensify/issues/218314)

Snyk reported a HIGH severity vulnerability in Expensify/App:package.json.

More information about this issue can be found [here](http://security.snyk.io/vuln/SNYK-JS-JSONSCHEMA-1920922).

Snyk ID: SNYK-JS-JSONSCHEMA-1920922
Package: json-schema
Version: 0.2.3
Language: js
Date Introduced: 2022-07-04

[2022-07-15 15:58] adelekennedy commented on #9940
from @flodnv:

new.expensify@1.1.84-11 /Users/flo/Expensidev/App
├─┬ jest@26.6.0
│ └── jest-cli@26.6.0  deduped
└── jest-cli@26.6.0

[2022-07-15 15:58] Santhosh-Sellavel commented on #9424
@mountiny
Evidently, it seems the issue exists in the libraries.

We are good to hire @ntdiary if the uplink PR is accepted.

[2022-07-15 16:00] NikkiWines commented on #9918
Ah, @kbecciv, I see! The issue is that it scrolls down to the `Recents` heading when you select a user instead of staying at the currently selected user's section. I've updated the issue to make that a bit clearer.

This looks good for a contributor to pick up. Marking as external. cc: @roryabraham though just cause it seems like it might be tied to the `OptionsSelector` (and `focusedIndex`) logic

[2022-07-15 16:04] adelekennedy commented on #9940
Posted to Upwork!
[Internal](https://www.upwork.com/ab/applicants/1547975231044284416/job-details)
[External](https://www.upwork.com/jobs/~010054e881404aca14)

[2022-07-15 16:05] Santhosh-Sellavel commented on #4324
@stitesExpensify
I'm not sure what I missed out on, it didn't work for me. If it's working for you then we are good to hire @Karim-30. I'll test it in the PR.

[2022-07-15 16:05] adelekennedy opened #9941 "[$500] Update the package "jest" to the latest version"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
coming from this issue https://github.com/Expensify/Expensify/issues/218314

from @flodnv:

[code]

[View all open jobs on GitHub](https://github.com/E

[2022-07-15 16:06] #9940 closed

[2022-07-15 16:06] adelekennedy commented on #9941
Posted to Upwork!
[Internal](https://www.upwork.com/ab/applicants/1547975231044284416/job-details)
[External](https://www.upwork.com/jobs/~010054e881404aca14)

[2022-07-15 16:13] Christinadobrzyn commented on #9410
Looks like no regressions.
Paid
@Puneet-here for the fix
@Santhosh-Sellavel as the C+ with a $250 bonus for reporting

closing job and this GH.

[2022-07-15 16:13] #9410 closed

[2022-07-15 16:14] greg-schroeder commented on #9941
Ah yes, we should update the package "jest" to the latest version, of course

[2022-07-15 16:39] Santhosh-Sellavel commented on #8791
Any thoughts @AndrewGable?

[2022-07-15 16:48] Julesssss commented on #9244
Can be paid today

[2022-07-15 16:57] robertjchen commented on #9829
Looks great! We just need to swap out https://github.com/Expensify/App/blob/main/web/favicon-unread.png and we should be good to go here.

[2022-07-15 16:59] mananjadhav commented on #4324
@stitesExpensify @Santhosh-Sellavel

Quick question here, don't you think we should also add a dropdown of the suggestions in this one? Honestly thats the part I couldn't get the hold of and I decided not to pursue this. I feel it might be required as users don't always know the whole keyword.

<img width="329" alt="image" src="https://user-images.githubusercontent.com/3069065/179271775-e963506b-5

[2022-07-15 17:04] michaelhaxhiu commented on #9823
I don't have an android device to test it myself, but let's ask @mvtglobally if she has a moment to do so!

[2022-07-15 17:05] michaelhaxhiu commented on #9823
btw @jeet-dhandha were you unable to reproduce it yourself when you tried most recently?

[2022-07-15 17:06] jeet-dhandha commented on #9823
@michaelhaxhiu Just tried few minutes ago not able to reproduce it. If you have a macbook then you can try it on you android emulator too. Please tell me if you need steps for that.

[2022-07-15 17:14] ahmdshrif commented on #9823
@michaelhaxhiu I can repro it on production . ( mWeb )

https://user-images.githubusercontent.com/21364901/179274346-30c58e40-d6d6-408c-8bd5-05c95cc0d4ae.mp4

[2022-07-15 17:17] Justicea83 commented on #8608
The PR I just closed fixed the issue to an extent, but I couldn't achieve the desired color in the desktop version, so I think a few style tweaks should fix it.

[2022-07-15 17:26] parasharrajat commented on #9459
Waiting on responses to explain the reason behind the issue or new proposals.

[2022-07-15 17:27] stitesExpensify commented on #4324
Yes, that would be ideal @mananjadhav. We had planned on that in the original design
<img width="625" alt="2022-07-15_11-02-34" src="https://user-images.githubusercontent.com/42391420/179272912-bba68caf-80a9-4c05-b94a-b4716fc36959.png">

However, we did not specify that in the original description and since @Karim-30 has already provided a solution, I think we should just follow through with this

[2022-07-15 17:43] mananjadhav commented on #4324
Makes sense but loaded on component mount and only searched inside `replaceEmojis`

[2022-07-15 17:48] roryabraham commented on #4324
Yeah, it makes sense to me to load the `Trie` early on in a separate module (i.e: as a non-blocking operation during app initialization). Then we can use it in `replaceEmojis` and also as a quick way to search the emoji list and generate matches with a partial keyword `onChangeText` when we want to create the popover thingy

[2022-07-15 17:56] mananjadhav commented on #4324
Even better.

[2022-07-15 18:16] AndrewGable commented on #9930
As mentioned in previous issues, if this is related to offline mode, I think we should wait until after the offline API refactoring is completed.

[2022-07-15 18:27] Santhosh-Sellavel commented on #4324
Thanks, @mananjadhav @roryabraham.

We should get this addressed as part of this issue itself.

cc: @stitesExpensify

[2022-07-15 18:31] Karim-30 commented on #4324
Ok

[2022-07-15 18:39] Santhosh-Sellavel commented on #9662
@mdneyazahmad
This would break the email case.
<img width="865" alt="Screenshot 2022-07-16 at 12 03 02 AM" src="https://user-images.githubusercontent.com/85645967/179289717-04d0c12c-8370-46c6-acfe-0155496cfe68.png">

cc: @luacmartins

[2022-07-15 18:44] Santhosh-Sellavel commented on #9509
@metehanozyurt Can re-write your update proposal's new comment.

[2022-07-15 18:45] iwiznia commented on #9820
No, because the wallet is ALWAYS AND ONLY in USD, it does not change depending on your local currency

[2022-07-15 19:29] Santhosh-Sellavel commented on #9876
This issue is possible in one scenario where you never initiated a chat with the account you are adding to the group.

[2022-07-15 19:30] Santhosh-Sellavel commented on #9876
I believe that's expected behaviour

[2022-07-15 20:47] roryabraham commented on #9761
Going to close this in favor of https://github.com/Expensify/App/issues/9725

[2022-07-15 20:47] #9761 closed

[2022-07-15 21:59] francoisl commented on #9875
I can't reproduce the issue described. I tried with a combination of the web + desktop + mobile apps all logged in to the same account at the same time. I didn't get signed out on any platform and was also able to send and receive messages from all of them.

@conorpendergrast what app version were you on? I'm on v1.1.84-11 (staging) right now.

My hunch is that we're creating a new temp secondary

[2022-07-15 22:05] francoisl commented on #9939
Can't reproduce from my personal account, also on v1.1.84-11, neither on web nor desktop. Going to try from a different account in case it has to do with the account.

<img width="1194" alt="image" src="https://user-images.githubusercontent.com/2229301/179317255-d9aebd1a-8c7d-4554-808f-74d4b5635d17.png">

[2022-07-15 22:24] mananjadhav commented on #7470
@jayeshmangwani The change looks fine, can you please add and update the PR?

[2022-07-15 22:25] mananjadhav commented on #8849
This is in production but its title wasn't updated.

[2022-07-15 22:26] mananjadhav commented on #8927
This hit production but the title wasn't updated

[2022-07-15 22:45] mananjadhav commented on #9624
I agree with @errahsoufiane's evaluation. But I am not sure if we should redirect to the chat instead of the attachment.

@NikkiWines @michaelhaxhiu What do we think of the expected behavior here?  I would have been great to load the exact chat, but I am not sure how it'll work with pagination.

[2022-07-15 22:46] mananjadhav commented on #9741
I tested this on Desktop. I am not able to reproduce this on Mac, but once on Windows. @eVoloshchak's proposal looks good.

🎀 👀 🎀 C+ reviewed

cc - @marcochavezf

[2022-07-15 23:03] mvtglobally commented on #9917
Additional discussion here https://expensify.slack.com/archives/C01GTK53T8Q/p1657873845101639

[2022-07-15 23:04] luacmartins commented on #9917
Likely caused by https://github.com/Expensify/Web-Expensify/pull/34210

[2022-07-15 23:09] mananjadhav commented on #9807
I haven't been able to reproduce this on my iOS v1.1.78-8.

https://user-images.githubusercontent.com/3069065/179322777-26c45f6a-40cc-46d5-b27f-29fb2da9c83e.mp4

but can on v1.1.82-5

![image](https://user-images.githubusercontent.com/3069065/179322811-167e5a29-c5a4-494c-bd39-2f71e5f77e98.png)

As @parasharrajat pointed out it looks like a regression.

[2022-07-15 23:12] mountiny commented on #9424
Thanks @Santhosh-Sellavel. It would be great to see the changed in the libraries and that it actually fixes our problem first, but I appreciate this is a bit more involved problem.

@ntdiary it seems like this is your first issue you have been assigned to work on. I am very excited to have you on board! Please, feel free to refer to the Contributing guidelines if you have any [questions](https://g

[2022-07-15 23:26] roryabraham commented on #4010
Going to unassign myself here since the library used in my draft was abandoned and I think we should start with a P/S here before diving into implementation. I think it's a good idea but warrants a wider conversation.

[2022-07-15 23:27] mountiny commented on #9807
@kbecciv Can you please confirm if you can repro this in production as well as staging? That would help us narrow down the problem.

[2022-07-15 23:28] roryabraham commented on #9457
Haven't had time to investigate this yet. If anyone wants to help out with this feel free to self-assign and we can collaborate on it. If it's viable I think this could be a game-changer for the mobile apps.

[2022-07-15 23:32] roryabraham commented on #9240
Go away melvin. There's recent movement in the PR

[2022-07-15 23:38] roryabraham commented on #9211
HOLDing this on https://github.com/Expensify/App/issues/9020

[2022-07-15 23:52] kevinksullivan commented on #9510
Bump @parasharrajat ^

[2022-07-15 23:55] kevinksullivan commented on #8888
Still waiting on proposals, updating the price.

[2022-07-16 00:00] kevinksullivan commented on #9825
Job posted and sent an offer to @parasharrajat

https://www.upwork.com/jobs/~014153e33fdc8f9306

[2022-07-16 00:03] parasharrajat commented on #9510
@kevinksullivan Here is the issue https://github.com/Expensify/App/issues/4226.

[2022-07-16 00:37] kevinksullivan commented on #9921
https://www.upwork.com/jobs/~018397c33a924383ca

[2022-07-16 00:42] kevinksullivan commented on #9827
@jayeshmangwani please apply to the job for reporting. Thanks!

[2022-07-16 02:31] jeet-dhandha commented on #9628
### Proposal

@parasharrajat according to google's official documentation, here
https://developer.android.com/training/app-links/verify-site-associations

We need to add:
1. `assetlinks.json` to `.well-know` folder, which is at our app's root folder.
[code]
<img width="1440" alt="Screenshot 2022-07-16 at 7 49 31 AM" src="https://user-images.githubusercontent.com/78416198/179335506-f2ac8710-d99a-44

[2022-07-16 03:44] mvtglobally commented on #9847
Regression is completed

PR #9768 is failing due to https://github.com/Expensify/App/issues/9923 repro in PROD, checking off
PR #9798  is failing due to https://github.com/Expensify/App/issues/9918 repro in PROD, checking off
PR #9801 is blocked by https://github.com/Expensify/App/issues/9922. Can someone validate as well?
PR https://github.com/Expensify/App/pull/9804 is a PROD QA. Are we ok to ch

[2022-07-16 04:48] dhairyasenjaliya commented on #7470
@mananjadhav can you check my proposal as I identify the actual root cause and provide a solution very first https://github.com/Expensify/App/issues/7470#issuecomment-1184258850

[2022-07-16 05:01] liyamahendra commented on #9820
Ah, okay @iwiznia! Do you think it makes sense to show the amount in USD in the chat and not the local currency then?

[2022-07-16 05:17] thesahindia commented on #7470
@jayeshmangwani is already assigned here. @dhairyasenjaliya, search other issues with the help wanted label.

[2022-07-16 05:26] dhairyasenjaliya commented on #7470
yeah can understand :)

[2022-07-16 05:39] jayeshmangwani commented on #7470
@mananjadhav PR updates, Thanks!

[2022-07-16 05:43] jayeshmangwani commented on #9827
@kevinksullivan I have applied for the job, Thanks

[2022-07-16 05:57] jeet-dhandha commented on #9827
@kevinksullivan I have also accepted the offer, please keep me posted if anything needs to be done on my end.
Thanks, Jeet Dhandha

[2022-07-16 06:13] jeet-dhandha commented on #9826
@flodnv Any updates on this one ❓

[2022-07-16 09:34] mdneyazahmad commented on #9662
@Santhosh-Sellavel Nice catch! We can do markdown formatting only when link starts with http(s)

[code]

[2022-07-16 10:14] mdneyazahmad commented on #9459
@parasharrajat In general default value should not be updated or if so, it should not have any effect. As I have pointed out this is an issue in `react-native` itself. I do not see an issue with the same that may be because no one updates it with default value prop. Do you want us to find the reason in `react-native` codebase? Let me know if I am missing something.

[2022-07-16 11:36] parasharrajat commented on #9402
Ok, we can move forward with this implementation for now. A suggestion would be move out the currentuploads logic to another lib and use it inside IMGrenderer.

@marktoman's proposal looks good to me.

cc: @deetergp

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-07-16 11:45] parasharrajat commented on #9459
Thanks for bringing that up.

Kind of. It would be good to see some research on this before we move ahead and implement it.
- Any existing issues?
- Any discussions on the same?
- A minimal reproduction of the bug in RN to confirm if this really a RN bug.
- You can also show some recommended material which shows that we should not update defaultvalue prop to prove that this is our mistake.

ETC.

[2022-07-16 13:51] kavimuru commented on #9939
@francoisl This happens only with newly created account.
<img width="960" alt="Screenshot (66)" src="https://user-images.githubusercontent.com/43996225/179357719-07c2c3bf-d571-4567-a933-9f60a877027b.png">

[2022-07-16 13:55] kavimuru commented on #9922
@ctkochan22 Closing this issue, we have to open the console before logging in to account. It fixed this issue.

https://user-images.githubusercontent.com/43996225/179357867-6b8eea87-5e82-489d-a6fc-165d14a40c29.mp4

[2022-07-16 13:55] #9922 closed

[2022-07-16 14:50] ntdiary commented on #9424
Thank you for you suggestion @mountiny 😄
This is a small test video on Expensify App.

https://user-images.githubusercontent.com/8579651/179359868-b05d531a-e565-4803-8fb4-f7357be171e4.mov

maybe next I can try to report the above problem to the `react-native-image-picker'  repo and provide a way to fix it.
hope everything goes well

[2022-07-16 15:13] jeet-dhandha commented on #9245
@rushatgabhane still working on this one 🤔.

[2022-07-16 16:01] mountiny commented on #9424
@ntdiary Thanks, yes please create an issue and upstream PR for the library if possible, hopefully, they will be happy with merging that solution. This is not critical bug so we can wait some time for them.

It seems like there is some error with your uploaded video, I cant seem to play it.

[2022-07-16 16:15] melvin-bot[bot] opened #9945 "💥 Crash 💥 `.buildOptimisticReportAction`"
## Non-fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Cannot read property 'displayName' of null
### `address at index.android.bundle:1:1765639` `.buildOptimisticReportAction`
### Number of Crashes: 1

## Device Information
* **Platforms:** Android
* **App Versions:** `1.1.84-11`
* **Devices:** samsung SM-G991U1 12

## Stacktraces
<details>
<summary>Android 1.1.84-11</summa

[2022-07-16 16:42] arielgreen commented on #9247
bump @AndrewGable please see @thesahindia 's question:

[2022-07-16 16:49] Sahil5963 commented on #8608
Tab key focusing the item but default  css outline color property not working for the item.
Fix: adding outline:auto & outline-color will get the job done.

[2022-07-16 18:01] arielgreen commented on #9535
Closing

[2022-07-16 18:01] #9535 closed

[2022-07-16 18:52] owjsub commented on #7968
@luacmartins `pressOnEnter` is used in many components, so if we fix this issue only in `ConfirmModal`, it will be a partial fix.

This [proposal](https://github.com/Expensify/App/issues/7968#issuecomment-1114582779) will fix the issue in all components that rely on `pressOnEnter` with minimal changes. Let me know if you would like me to provide a link to a diff that implements this proposal.

[2022-07-16 19:19] kbecciv commented on #9807
@mountiny I checked production version and issue is not there. Let's add Deploy blocker to this issue.
![Image from iOS (41)](https://user-images.githubusercontent.com/93399543/179369151-89648617-4721-4edc-9709-1d1c2c80cdc1.png)
![Image from iOS (40)](https://user-images.githubusercontent.com/93399543/179369152-e6a1ba89-702e-493e-aeed-9fb6a1ba93b9.png)

[2022-07-16 19:21] OSBotify commented on #9807
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-16 19:22] parasharrajat commented on #9929
I don't think we can fix it or if this is a bug. When you click somewhere on the web, the focus is removed from the inputbox. This is normal.

For example,
1. just go to google.com.
2. Click on the search bar and search for something.
3. After search is loaded, click again on the search bar.
4. Now click anywhere on the page.
5. Cursor is removed from search input.

[2022-07-16 21:33] metehanozyurt commented on #9509
## Updated Proposal
### Cause

style information is not given when the application is at medium screen width (800-1024). Its ok when height above the 854 (variables.minHeightToShowGraphics) because splits horizontally. But when screen height split vertically.

 props.isSmallScreenWidth ? styles.signInPageNarrowContentMargin : {},
 !props.isMediumScreenWidth ? styles.signInPageWideLeftContentMargin

[2022-07-16 21:57] mountiny commented on #7822
Could this be external?

[2022-07-16 22:12] mountiny commented on #9807
@kbecciv Thanks for the confirmation, very helpful 🙌

Having a look now!

[2022-07-16 22:46] mountiny commented on #9807
@kbecciv Could you actually confirm with a video share this really is not reproducible on production? The screenshot is not clear to me.

The reason I am asking is that it seems that [this PR](https://github.com/Expensify/App/pull/9665) is the main suspect for causing it, however, it is already in production. I could not find anything in Staging which might be causing this.

[2022-07-16 23:52] mountiny commented on #9847
Not sure if related to your breaking changes @roryabraham 😄 but this PR https://github.com/Expensify/App/pull/9865 which is in the list has been merged after the deploy and haven't have CP staging label added and does not have Deployed to Staging Botify comment so it should not be in the list most likely unless I missed something :D

[2022-07-17 01:00] mountiny commented on #9807
K, this was a bit of pain to investigate.

### What happened

@ctkochan22 has introduced refactor of the `FormAlertWithSubmitButton` component in [this PR](https://github.com/Expensify/App/pull/9665). Those changes are fine on their own, however, then @yuwenmemon has started to use this component at the RequestCallPage in [this PR](https://github.com/Expensify/App/pull/9573) which got merged right

[2022-07-17 01:01] mountiny commented on #9807
Not External anymore, @adelekennedy would you be able to please delete the job from upwork for this one. Thank you very much!

[2022-07-17 01:42] kbecciv commented on #9807
@mountiny Please attached video per your request.

https://user-images.githubusercontent.com/93399543/179380401-897556d2-22c7-4d7c-ab5b-3fca207b6192.MP4

[2022-07-17 02:31] b1tjoy commented on #9807
@mountiny PR https://github.com/Expensify/App/pull/9865 does not cause this behavior. `FixedFooter` is a `View` with style of `flexShrink: 0`, and the inner `FormAlertWrapper` is a `View` with style of `flex: 1`, the combination cause this issue, and reset the inner component style to `flex: undefined` will fix it, as the PR you just submitted :)

[2022-07-17 03:44] ctkochan22 commented on #9807
Great find @mountiny

[2022-07-17 04:04] aneequeahmad commented on #9252
### Proposal

**Problem:**
- Root cause of the issue is in file https://github.com/Expensify/App/blob/c2ecea533a3805bbe547b48d61baa8c24a1f89ef/src/pages/home/report/ReportActionItemMessageEdit.js#L215-L222
- Whenever  `onBlur of Composer` in `ReportActionItemMessageEdit.js` is triggered with first argument as `true` https://github.com/Expensify/App/blob/c2ecea533a3805bbe547b48d61baa8c24a1f89ef/src

[2022-07-17 07:34] jeet-dhandha-lio commented on #9941
https://github.com/Expensify/Expensify/issues/218314

Getting a 404 not found page on this link.

[2022-07-17 11:26] mountiny commented on #9807
@ctkochan22 Cheers 🙏

@kbecciv Thank you very much 🙌

@b1tjoy Thanks for follow up, I agree it is not the PR itself, but I am not sure why is this fine in production? Looking at the production code, the [RequestCallPage](https://github.com/Expensify/App/blob/production/src/pages/RequestCallPage.js) and [FormAlertWrapper](https://github.com/Expensify/App/blob/production/src/components/FormAlertWrap

[2022-07-17 14:30] metehanozyurt commented on #8608
## Proposal
### Cause

Selection information is successfully arrive for the items. However, this problem is encountered as it cannot find an area where it can display the focus style.

### Solution
If we provide the area that the items can show at the time of focus, this problem will be eliminated.
`{margin:'1px'}` we need style information.

https://github.com/Expensify/App/blob/cf6bb2a0c12baf518

[2022-07-17 15:49] shawnborton commented on #9876
Interesting, I think I would have expected all of the avatar colors to appear random and not all in green. Thoughts on that?

[2022-07-17 16:04] aneequeahmad commented on #8292
### PROPOSAL

**Problem**

- As we already know animation of drawer is not completed and input is focused.

- Also, `ReportActionCompose.js` is already mounted on page load i-e `componentDidMount` is invoked as `route home "/" is navigated to "/r/reportId"` and whenever a new chat(default room) is opened autofocus isn't invoked since component is `already mounted` and doesn't run `componentDidMoun

[2022-07-17 16:27] Santhosh-Sellavel commented on #9876
Yeah we could do that.

[2022-07-17 16:31] Santhosh-Sellavel commented on #9424
@ntdiary We are unable to checkout the video in  https://github.com/Expensify/App/issues/9424#issuecomment-1186210544 Can you reshare the recording?

[2022-07-17 17:32] rushatgabhane commented on #9826
@jeet-dhandha nothing yet

[2022-07-17 22:55] jliexpensify commented on #9918
Posted:

Internal - https://www.upwork.com/ab/applicants/1548801896295538688/job-details
External - https://www.upwork.com/jobs/~0157999e8dc1517dd0

[2022-07-18 02:45] kadiealexander commented on #9928
Posted to Upwork:
https://www.upwork.com/jobs/~01fd74bc9f792f9604
https://www.upwork.com/ab/applicants/1548861410275962880/job-details

[2022-07-18 03:10] kadiealexander commented on #9707
Price doubled!!

[2022-07-18 03:31] parasharrajat commented on #9739
Waiting for proposals.

[2022-07-18 03:34] parasharrajat commented on #9252
What is the affect of this change @aneequeahmad?

[2022-07-18 03:36] parasharrajat commented on #9628
What about upgrading the targetSdkVersion to 31 @jeet-dhandha?

[2022-07-18 03:42] parasharrajat commented on #9824
PR is reviewed and merged.

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-07-18 03:43] parasharrajat commented on #7436
@marktoman Any update on plaid support?

[2022-07-18 03:55] swappnil commented on #9928
Hi, I saw this listed on upwork. I am positive that I can help you out in this. This could either be a issue with scaffolding or scrollview. I will update my finding once I have forked this. Taking one now.

[2022-07-18 04:42] aneequeahmad commented on #9252
@parasharrajat Effect of setting the first argument to `false` in `toggleReportActionComposeView(false, VirtualKeyboard.shouldAssumeIsOpen())`

- 'true' is used to show the ComposeInput and `onBlur` as on every interaction(like clicking outside the `EditComposeInput`) `onBlur` is triggered and causing the the ComposeInput to show and even focuses ComposeInput if it has draft message.

- We don't n

[2022-07-18 05:18] juhipatel27 commented on #9928
Using keyboard.dismiss() method we can close the keyboard. when we initialize the payment screen,  in useEffect method we can write this code.

[2022-07-18 06:23] jeet-dhandha commented on #9918
### Proposal
1. Setting Focused Index to default "0" fixes the issue. And also we are focusing 0th index and 0th sectionIndex, on each user select.
<img width="1018" alt="Screenshot 2022-07-18 at 11 44 36 AM" src="https://user-images.githubusercontent.com/78416198/179454850-234e33eb-2628-4b91-a4d7-6b7c28f807aa.png">

(Note: The above issue is also reproducible on Android Build also. So i have test

[2022-07-18 06:57] jeet-dhandha commented on #9918
@rushatgabhane @jliexpensify @roryabraham Please check.

[2022-07-18 07:01] jeet-dhandha commented on #9628
@jeet-dhandha We should update that too.

[2022-07-18 07:06] jliexpensify commented on #9918
Thanks @jeet-dhandha - no need to tag us, as we'll see the GH comment. The Contributor+ person (i.e. Rushat) or assigned Engineer will review this.

[2022-07-18 07:07] jeet-dhandha commented on #9918
Okay 😅

[2022-07-18 07:09] jliexpensify commented on #9620
@kbecciv and @Santhosh-Sellavel - close out this issue, since it's not reproducible anymore?

[2022-07-18 07:10] jliexpensify commented on #8035
@MonilBhavsar - Hello! Any updates on this issue?

[2022-07-18 09:33] mountiny opened #9950 "Linter shows many error when you have built desktop app locally"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

1. Run `npm run desktop` and that creates two js files in `desktop/dist` folder
2. Run `npm run lin

[2022-07-18 10:22] ntdiary commented on #9424
Sorry, it can be played on my computer. Is it a problem with the mov format?
I uploaded it to youtube. 🙂
https://youtu.be/4kz8Mo02p6U

[2022-07-18 10:27] mountiny commented on #9424
@ntdiary Great! I could play that (not sure why the original did not work). Happy to see it works, looking forward to review you PR, great job so far 🙌

[2022-07-18 10:30] Justicea83 commented on #9137
this is currently on hold awaiting on the pattern B detailed section and approval

[2022-07-18 10:40] #9807 closed

[2022-07-18 10:43] mananjadhav commented on #7470
@jayeshmangwani Will test today.

[2022-07-18 10:44] laurenreidexpensify commented on #9817
Holding on this to be reproduced in this week's KI testing

[2022-07-18 10:50] OSBotify commented on #9847
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9947) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.84-12` :rocket:

[2022-07-18 11:44] mountiny commented on #7317
@mananjadhav How's it looking? Any estimate time for the PR?

[2022-07-18 12:05] OSBotify commented on #9847
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.84-12 has been deployed to staging :tada:

[2022-07-18 12:19] mananjadhav commented on #7317
Will be ready by tomorrow. I am still a bit stuck up in adding signed commits for the Skeleton UI

[2022-07-18 12:22] trjExpensify commented on #9379
Okay, this one is due for payment, but we assigned the issue before hiring on Upwork and the original post has since expired.

@mollfpr & @rushatgabhane I've sent you both invites for this, can you apply and then I'll settle up: https://www.upwork.com/jobs/~0180e7f04fb799c19a

[2022-07-18 12:27] mountiny commented on #7855
I am afraid we haven't made much progress on this issue as it is quite tricky. I am not sure if the Skeleton UI will solve this, however, I don't think it would hurt to put this on HOLD for that Skeleton UI PR to get merged and see if this can be still reliably reproduced.

[2022-07-18 12:33] trjExpensify commented on #6154
OP is updated. Issue on Upwork here, bumped to $2k: https://www.upwork.com/jobs/~017b2406f1c8e307db

[2022-07-18 12:45] Tabakharniuk commented on #6301
Could someone please review this error message and provide es translation?
![image](https://user-images.githubusercontent.com/44551710/179513730-b714d8e2-5479-4c0b-81e2-6c28c9554b34.png)

[2022-07-18 12:46] sketchydroide commented on #9941
Not sure if this is supposed to be an `internal` or `extenal` issue, asking on slack

[2022-07-18 13:19] Karim-30 commented on #4324
### Full proposal

1. Replace all `assets/emojis.js` content with `emojis.txt` in the attachments.
2. Change `EmojisTrie.txt` to `EmojisTrie.js` and paste it into `src/libs/`.

inside `src/pages/home/report/ReportActionCompose.js` :
[code]

[emojis.txt](https://github.com/Expensify/App/files/9132115/emojis.txt)
[EmojisTrie.txt](https://github.com/Expensify/App/files/9132116/EmojisTrie.txt)

[2022-07-18 13:27] sketchydroide commented on #9497
this is being reviewed

[2022-07-18 14:13] mvtglobally commented on #9847
@chiragsalian we are validating new CP. Let us know if anything else required to close this checklist

[2022-07-18 14:41] eVoloshchak commented on #9728
Applied on the Upwork
PR is up.
I also found more reliable and simple way to fix this issue, details are in the PR description.

[2022-07-18 14:48] parasharrajat commented on #6301
@Expensify/marketing Please review the error above.

[2022-07-18 15:20] ctkochan22 commented on #7911
Lets bump this to a monthly. Unless we are actually seeing a lot of customers dealing with this issue

[2022-07-18 15:46] luacmartins commented on #9582
On hold

[2022-07-18 15:46] luacmartins commented on #8722
On hold

[2022-07-18 15:57] bfitzexpensify commented on #9245
OK, so we are still on this question, it seems?

What do we need to do to be able to answer this?

[2022-07-18 16:19] adelekennedy commented on #9244
Paid! @parasharrajat I missed hiring you for the reporting bonus, will you apply [here](https://www.upwork.com/jobs/~0145cd6a8ef3513ba9)

[2022-07-18 16:31] flodnv commented on #9826
I'm working part time this week, so I'll probably be taking a closer look at this next week as this isn't high priority. Thank you for your patience.

[2022-07-18 16:40] parasharrajat commented on #9244
@adelekennedy Please check I have already applied.

[2022-07-18 16:46] roryabraham commented on #9020
Going to prioritize this over the next few days. Updated the PR on Friday and was fighting Storybook, of all things.

[2022-07-18 16:48] roryabraham commented on #9794
@kidroca let me know if you want this assigned to you. Otherwise @MitchExpensify let's double this

[2022-07-18 16:52] neil-marcellini commented on #9579
Is this still on hold or have we discussed push to page? https://github.com/Expensify/App/issues/9581 is holding for the same reason.

[2022-07-18 16:53] neil-marcellini commented on #9581
^ Still on hold unless the push to page discussion is complete.

[2022-07-18 17:14] cead22 commented on #9402
Is there a way to prevent the flickering showed in the video for native [here](https://github.com/Expensify/App/issues/9402#issuecomment-1179045149)? I see it didn't happen on the native video [here](https://github.com/Expensify/App/issues/9402#issuecomment-1179045149), was it fixed or is there a different reason this happened on one video but not the other?

[2022-07-18 17:16] iwiznia commented on #8541
Seems we have a draft one, so I assume we are close to being ready?

[2022-07-18 17:16] iwiznia commented on #2727
No update

[2022-07-18 17:21] marktoman commented on #9402
The quote is from a different proposal. Both videos reference my proposal, which does not cause flickering and the videos do not flicker.

[2022-07-18 17:26] cead22 commented on #9402
Awesome, thanks for clarifying

[2022-07-18 17:33] thienlnam commented on #8361
We must have fixed the _fake_ in another change.  However, if you have two messages and delete the most recent one, it correctly shows the message sent before correct?

[2022-07-18 17:34] roryabraham commented on #7925
Haven't really made progress the last two weeks. Hoping to push this forward in the second half of this week.

[2022-07-18 17:38] marcaaron commented on #9945
Regardless, I think the changes I have will fix it since it uses lodash instead of trying to access a possibly null object property.

[2022-07-18 17:38] #9923 closed

[2022-07-18 17:45] roryabraham commented on #8220
Looks like we're just awaiting payment here

[2022-07-18 17:47] puneetlath opened #9957 "List Issues that are available to be worked on by contributors in product"
# Problem
As Jeet mentioned here in Slack, it's not super easy to know which issues are currently available to work on. You can search via the Help Wanted label, but it's not that easy to get a list sorted by price and the `help wanted` list often contains issues that are currently on hold and thus aren't actually available.

# Solution
List the issues available directly in product in settings. In

[2022-07-18 17:48] stitesExpensify commented on #9747
@jliexpensify should we up the pay on this?

[2022-07-18 17:48] eVoloshchak commented on #9876
**Proposal:**
Nothing prevents us from showing avatar of the correct color even for users you never initiated a chat with. For the `Details` page we generate avatar colors on [this](https://github.com/Expensify/App/blob/b31f0eb107e1068058b8925e81aa95b98959f54a/src/libs/OptionsListUtils.js#L125) line, but for the `New group` page, we use [defaultAvatarForUserToInvite](https://github.com/Expensify/A

[2022-07-18 17:48] stitesExpensify commented on #9183
@b1tjoy did you apply on upwork?

[2022-07-18 17:53] roryabraham commented on #7822
Yeah, good thinking. https://github.com/Expensify/eslint-config-expensify is public

[2022-07-18 17:54] marcaaron opened #9958 "Messages not appearing on desktop. New message appeared as iOS notification even though desktop app is open."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open app after away for the weekend
2. Receive a new message from another user

## Expected Result:

When we start the New Ex

[2022-07-18 17:59] roryabraham commented on #9918
@jeet-dhandha the first unselected option should be focused, so the logic for the new selected index is correct as-is. Instead we should change [this callback](https://github.com/Expensify/App/blob/e9ff99c0127b25d1b0d191d0e2abdcc5fc771e5e/src/components/OptionsSelector.js#L223-L227):

[code]

[2022-07-18 18:10] deetergp commented on #9402
Thanks for the discussion, everyone. @MitchExpensify let's hire @marktoman to move forward with his proposal 👍

[2022-07-18 18:16] roryabraham commented on #9794
@mananjadhav Going to unassign you on this one because it sounds like @kidroca's got this. The fix should be pretty easy to validate.

[2022-07-18 18:17] mvtglobally commented on #9847
Both CPs pass. Checked off

[2022-07-18 18:22] marcaaron commented on #9958
Actually, we probably don't want to do that because it would persist those requests and we don't really need to do that. 🤔

[2022-07-18 18:27] Santhosh-Sellavel commented on #9876
@puneetlath

Need to ensure this case alone,

Consider users A & B both have set a profile picture. Also, User A & User B never had a one-to-one chat.
Now when `User A` tries to create a group with `User B` we would show a random colored avatar only in suggestion.

If are expecting just to randomize the avatar color then we are good to go with @eVoloshchak's proposal else we need to look for a dif

[2022-07-18 18:28] puneetlath commented on #9957
Mind expanding on this? Why not?

[2022-07-18 18:36] Santhosh-Sellavel commented on #9620
Yes we are good to close this if not reproducible this week also.

[2022-07-18 18:42] Santhosh-Sellavel commented on #8791
Waiting for thoughts @AndrewGable or @tgolen

[2022-07-18 18:57] marcaaron commented on #9958
Figured it out and more context in PR.

[2022-07-18 19:04] #9950 closed

[2022-07-18 19:07] adelekennedy commented on #4324
not overdue! Reviewing proposals

[2022-07-18 19:36] ctkochan22 commented on #9807
![IMG_692B26768F60-1](https://user-images.githubusercontent.com/12980144/179603261-0f5e8335-8463-4596-8bb8-49890787753c.jpeg)
Tested on staging ios, we are good

[2022-07-18 19:47] tgolen commented on #8791
Let's give the smart banner a try! What have we got to lose? Let's hire @Santhosh-Sellavel for this.

[2022-07-18 19:53] shawnborton commented on #9876
I think we can keep it simple and just randomize the color per the proposal above.

[2022-07-18 19:55] aldo-expensify commented on #9182
No overdue. The PR has been deployed to production

[2022-07-18 20:09] rushatgabhane commented on #9379
thanks, done!

[2022-07-18 20:11] rushatgabhane commented on #9413
@arielgreen let's close this out

[2022-07-18 21:16] chiragsalian commented on #9847
The only thing pending is https://github.com/Expensify/App/pull/9659. We've just CP'd a fix. Waiting for it to get deployed to staging before we can ship this to production.

[2022-07-18 21:21] kevinksullivan commented on #9579
No, we have held these conversations (and essentially all others) so everyone stays focused on N7 / refactor.

[2022-07-18 21:24] OSBotify commented on #9847
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9961) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.84-13` :rocket:

[2022-07-18 21:25] kevinksullivan commented on #9250
Hey @parasharrajat please provide an update once you've gotten around to testing. Thanks!

[2022-07-18 21:37] parasharrajat commented on #6301
Ok. Thanks for the suggestion. @tgolen Do you agree with this?

[2022-07-18 21:51] parasharrajat commented on #9628
@jeet-dhandha Ok. My question was Is that a required step?

[2022-07-18 21:53] parasharrajat commented on #9660
@sketchydroide Should we show the copy Link option on the mini menu for attachments?
![image](https://user-images.githubusercontent.com/24370807/179623946-f59ee792-1845-4cd8-a631-d903fc264d52.png)

[2022-07-18 21:58] parasharrajat commented on #9829
Won't be that simple if we are looking to add two different ones based on error or non-error state.

[2022-07-18 22:05] roryabraham commented on #9293
PR to upload sourcemaps as workflow artifacts merged 👍

There were a few gotchas we'll want to watch out for when we hook this into the PHP <-> Firebase integration, listed [here](https://github.com/Expensify/App/pull/9641#issuecomment-1188359001).

@AndrewGable if I'm not mistaken the piece @kidroca can do is done now

[2022-07-18 22:07] parasharrajat commented on #9957
IMO, listing the issues or technical stuff on a prod app won't be very useful for End-users. . At last, it is just my opinion.

[2022-07-18 22:27] luacmartins commented on #6883
Yes, seems like we have some unaddressed comments.

[2022-07-18 22:40] bfitzexpensify commented on #9938
Upwork job [here](https://www.upwork.com/jobs/~013ca8b17a0e2d48a4)

[2022-07-18 22:55] robertjchen commented on #9829
Agreed- maybe we can just narrowly-scope this for just the unreads first. The error state would require some planning and discussion, especially since how the way we surface errors may be changing.

[2022-07-18 22:57] OSBotify commented on #9847
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.84-13 has been deployed to staging :tada:

[2022-07-18 23:14] parasharrajat commented on #8311
Does not work on Native and this issue also exists on native.

https://user-images.githubusercontent.com/24370807/179632298-2d72fca9-4eee-4055-9fda-599a3d11e344.mp4

[2022-07-18 23:23] chiragsalian commented on #9847
I tested https://github.com/Expensify/App/pull/9961 and checked it off. Time to ship.

[2022-07-18 23:24] chiragsalian commented on #9847
:shipit:

[2022-07-18 23:24] #9847 closed

[2022-07-18 23:27] OSBotify opened #9970 "Deploy Checklist: New Expensify 2022-07-18"
**Release Version:** `1.1.85-8`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/9195
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/9428
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/9560
  - [x] QA

[2022-07-18 23:42] trjExpensify opened #9971 "New Feature: Add a dedicated `Workspaces` page in settings"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Deliverables**

1. Add `Workspaces` as a menu item on the Avatar > Settings page, incl. a preview of 2 workspace avatars right-aligned on the row
2. Add a new page and

[2022-07-18 23:43] trjExpensify commented on #9971
I'll keep myself assigned for the CM portion. Passing this on to `engineering` first to triage.

[2022-07-18 23:52] shawnborton commented on #9971
Love it!

[2022-07-18 23:58] shawnborton commented on #9829
Let me know if these images work: [Notification Dot.zip](https://github.com/Expensify/App/files/9136347/Notification.Dot.zip)

[2022-07-18 23:59] thienlnam commented on #9971
This will have to be on hold for API refactors (specifically for Policy_Create and Policy_Delete) cc @chiragsalian who is working on those -> currently held on Pattern B

After that, the rest of the items can be completed by an external contributor / or internal to make it quicker to correspond to design and UI items

Putting internal / on hold for now for these internal issues

https://github.com

[2022-07-19 00:07] trjExpensify commented on #9971
Ah cool, fair enough!

[2022-07-19 00:10] trjExpensify commented on #9379
Settled up with @mollfpr, @rushatgabhane still says it's waiting on you to accept the offer.

[2022-07-19 00:18] tomivs commented on #9628
We would simply test that Deep Links work for Android 12 after changing the necessary files. This can be tested locally.

Now, if you're talking about regression testing after upgrading `targetSdkVersion` to 31: only a few npm packages would need to be updated. Testing the features related to those packages should be enough.

We could also create another issue/pull request for updating `targetSdkV

[2022-07-19 00:18] b1tjoy commented on #9183
@stitesExpensify Sorry, I thought I need to wait for a new comment which shows I am hired. I just check the upwork link and it shows the job is no longer available.

[2022-07-19 00:26] b1tjoy commented on #9444
The PR https://github.com/Expensify/App/pull/9593 has been successfully merged.

My upwork proposal status was **declined by client**, should I do anything about it?

[2022-07-19 00:37] kadiealexander commented on #9444
@b1tjoy could you please link your Upwork profile here so I can take a look at your Upwork proposal and see what happened?

[2022-07-19 01:28] jeet-dhandha commented on #9918
@roryabraham your proposed solution will work for selected but I don’t know about other scenarios. I have already tested mine with other scenarios and each one is working fine.

[2022-07-19 01:59] jeet-dhandha commented on #9918
@roryabraham Your changes also works same as mine for each scenario. But from what i have seen throughout the app we are taking user on each select/deselect or search - at the top (0th index) only. So whatever works for the expensify team we will go with that one.

[2022-07-19 03:16] mvtglobally commented on #7618
Issue not reproducible during KI retests. (First week)

[2022-07-19 03:17] NikkiWines commented on #9246
@JmillsExpensify did we issue payment for this issue? Can we close this out?

[2022-07-19 03:18] NikkiWines commented on #9624
Sorry, I'm OOO this week. Assigning another contributor manager to take this over while I'm out

[2022-07-19 03:18] mvtglobally commented on #8220
Issue not reproducible during KI retests. (4th week)

[2022-07-19 03:19] mvtglobally commented on #8541
Issue not reproducible during KI retests. (First week)

[2022-07-19 03:22] mvtglobally commented on #8927
Issue not reproducible during KI retests. (Third week)

[2022-07-19 03:24] mvtglobally commented on #9085
Issue not reproducible during KI retests. (Second week)

[2022-07-19 03:25] mvtglobally commented on #9182
Issue not reproducible during KI retests. (Second week)

[2022-07-19 03:28] mvtglobally commented on #9379
Issue not reproducible during KI retests. (Third week)

[2022-07-19 03:29] mvtglobally commented on #9355
Issue not reproducible during KI retests. (First week)

[2022-07-19 03:33] mvtglobally commented on #9747
Issue not reproducible during KI retests. (First week)

[2022-07-19 03:34] mvtglobally commented on #9766
Issue not reproducible during KI retests. (First week)

[2022-07-19 03:39] mvtglobally commented on #9921
Issue not reproducible during KI retests. (First week)

[2022-07-19 03:43] jayeshmangwani commented on #9246
Reporting bonus is due
cc : @JmillsExpensify @NikkiWines

[2022-07-19 03:46] JmillsExpensify commented on #8220
@roryabraham yes indeed. I just took a look at the Upwork, and we actually still need to hire contributors. I'm going to jump in and send offers now, such that when I'm up tomorrow contracts will be accepted and I can issue payments.

[2022-07-19 03:49] mvtglobally opened #9972 "On Edit comment, after selecting emoji composer is visible for a second - Reported by @jayeshmangwani"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open report
2. Edit any message
3. Select emoji in Edit comment
4. For a second or less Composer will be visible and then it w

[2022-07-19 03:51] JmillsExpensify commented on #8220
Ah, the saga continues! Looks like the previous post from above is already expired. I've created a fresh one here: https://www.upwork.com/jobs/~01a80e9993680dc31b. @parasharrajat @metehanozyurt I've already invited you both to the job. Please accept and we'll get this processed for you both pronto.

[2022-07-19 03:51] JmillsExpensify commented on #7835
Still not a priority. @stitesExpensify Add anything else I might not be aware of or have missed!

[2022-07-19 03:53] JmillsExpensify commented on #8791
Invited @Santhosh-Sellavel to the job here: https://www.upwork.com/jobs/~01212954502386b607

[2022-07-19 03:54] JmillsExpensify commented on #9246
On it! Standby, I'll be back with an update shortly.

[2022-07-19 03:59] JmillsExpensify commented on #9246
Contract for @rushatgabhane and @JoshuaM1995 has been paid out and closed.

@jayeshmangwani please apply here for reporting bonus: https://www.upwork.com/jobs/~015526d4145f0768a6.

[2022-07-19 04:02] rushatgabhane commented on #9918
@jeet-dhandha like @roryabraham said, the first unselected option should be focused.

[2022-07-19 04:02] JmillsExpensify commented on #9466
The old job expired, so I've created a fresh one and increased the bounty to $500 as opposed to higher given that this isn't an incredible priority.

[2022-07-19 04:04] mvtglobally opened #9973 "[HOLD for payment 2022-12-15] [$500] iOS - When hard-press username to open tooltip and navigate to same user detail tooltip remains open - reported by dhairyasenjaliya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open a chat
2. Press and hold to any username until copy clipboard appears
3. Press on to that same username while clipboard o

[2022-07-19 04:07] JmillsExpensify commented on #9799
@sobitneupane Mind applying to the Upwork job for reporting? It's here: https://www.upwork.com/jobs/~01541e5cd8fb2fc88f.

[2022-07-19 04:08] JmillsExpensify commented on #9929
I agree with @parasharrajat and think we should close this issue. @Julesssss what do you think?

[2022-07-19 04:10] jayeshmangwani commented on #9246
@JmillsExpensify applied to this job, Thanks!

[2022-07-19 04:11] rushatgabhane commented on #9928
@juhipatel27 thanks for your interest in this issue, can you please look at a few exported issues to get a better idea of what we expect from a proposal? https://github.com/Expensify/App/issues?page=2&q=is%3Aopen+is%3Aissue+label%3AExported

- In which file are you proposing the changes
- Why is keyboard opening in the first place?
- Why the password screen isn't opening?

[2022-07-19 04:12] mvtglobally opened #9974 "Copy to clipboard context-menu is enabled on attachments - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to any chat on web.
2. Send an attachment.
3. Right click on the attachment or hover over it to see the context menu

## Ex

[2022-07-19 04:16] mvtglobally opened #9975 "[HOLD #9660] [$250] Copy link option is shown for app links - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:9
1. Go to settings > About > app download links
2. Right click on a link

## Expected Result:
Copy link option shouldn't be shown

[2022-07-19 04:21] mvtglobally opened #9976 "[$250] Pressing :x: takes you to the homepage - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to any room > Tap on avatar > Settings
2. Press :x: (top right side)

## Expected Result:
You should be navigated to the ch

[2022-07-19 04:23] jeet-dhandha commented on #9918
So to be clear when i deselect a user i should get focused at the position where the user was before selecting it ?

[2022-07-19 04:26] JmillsExpensify commented on #9246
Offer sent!

[2022-07-19 04:29] JmillsExpensify commented on #9957
I agree with Puneet. In fact, I'd even go further and build this flow directly into the Global Create flow, like so:

 - `Earn Money`
    - 1Receive SNAP Assistance` - Links to https://www.expensify.org/snap-vax
    - `Report a bug`- Links to https://github.com/Expensify/App/issues/new/choose
    - `Fix a bug` - Links to https://github.com/Expensify/App/issues?q=is%3Aissue+is%3Aopen+no%3Aassignee

[2022-07-19 04:31] JmillsExpensify commented on #9246
Alright, thanks everyone! All contributors should be paid. Please reach out via Slack or add a comment here if something is off and we'll get you settled. Thanks so much!

[2022-07-19 04:31] #9246 closed

[2022-07-19 04:31] mvtglobally opened #9977 "Inviting new members to the workspace doesn't update its room members' list unless you reload - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to any workspace > Manage members > Invite new members
2. Go to announce room> tap on avatar > Members
3. Observe that newl

[2022-07-19 04:33] b1tjoy commented on #9444
@kadiealexander Thank you! My upwork profile https://www.upwork.com/freelancers/~015f3ce165fe53a62f

[2022-07-19 04:35] mvtglobally opened #9978 "While sending money, pressing back button on mobile doesn't take you one step back, instead the page gets dismissed. - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Tap on :green-plus-button:
2. Tap send money
3. Add amount > Send > choose a contact
4. Press back

## Expected Result:
You sh

[2022-07-19 04:38] mvtglobally opened #9979 "[$250] Phone number given at the example isn't a valid number it has 9 digits - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to concierge chat
2. Click phone icon
3. Enter an alphabet
4. Press Call me

## Expected Result:
The number at error messag

[2022-07-19 04:44] mvtglobally opened #9980 "Keyboard type is wrong for phone number at additional details page - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on Fab icon > send money > onfido verification > Additional details page
2. Tap on phone number field
3. Check keyboard

[2022-07-19 04:47] mvtglobally opened #9981 "[HOLD for payment 2022-08-08] [$250] "No results found" text is not shown when a user search a non existing currency - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on Fab icon > send money
2. Click on currency
3. Search a currency that doesn't exist

## Expected Result:
We should see

[2022-07-19 04:49] mvtglobally opened #9982 "Dev only - Console warning on Android"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Run the app

## Expected Result:
No warning should display

## Actual Result:
Console warning on Android is displayed

## Work

[2022-07-19 04:52] mvtglobally opened #9983 "[$500] Link gets focused/outlined when visiting if keyboard was open - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open :expensify: at mobile browser
2. Navigate to a chat
3. Send a link
4. Open keyboard and tap on the link
5. Come back to t

[2022-07-19 04:54] rushatgabhane commented on #9918
When a user is deselected, the first unselected option should be **focused** but I think the scroll position should be 0

[2022-07-19 04:59] brianmuks commented on #8361
Yes the _fake_ issue was fixed but not merged yet.

No, the deleted messages are not disappearing on the LHN only from the chat view

[2022-07-19 05:02] mvtglobally opened #9984 "Closing RHP after navigating directly to the page goes to the wrong page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. In a new tab, open directly a page that has RHP (ie: https://new.expensify.com/settings)
2. Click the button to close the RHP

[2022-07-19 05:12] MananGadhiyaSureshbhai commented on #9938
@kavimurut he issue is reproducing across the app not only for general settings

[2022-07-19 05:18] thesahindia commented on #9980
### Proposal

Have to use `keyboardType={CONST.KEYBOARD_TYPE.PHONE_PAD}` here -
https://github.com/Expensify/App/blob/03a2422207ceecaf8ed6a8c24b77558df8f2a848/src/pages/EnablePayments/AdditionalDetailsStep.js#L360-L366

[2022-07-19 05:29] Puneet-here commented on #9979
### Proposal

Need to change the number to `+15005550006`  or `+447782339811` (we are already using these numbers on some other places) at:-
https://github.com/Expensify/App/blob/03a2422207ceecaf8ed6a8c24b77558df8f2a848/src/languages/en.js#L84
https://github.com/Expensify/App/blob/03a2422207ceecaf8ed6a8c24b77558df8f2a848/src/languages/es.js#L84

also shouldn't we use one same number here too?
http

[2022-07-19 05:38] thesahindia commented on #9976
### Proposal

We are passing true in dismissModal  function and when it's true we call openDrawer  so removing true will fix it.
https://github.com/Expensify/App/blob/03a2422207ceecaf8ed6a8c24b77558df8f2a848/src/pages/ReportSettingsPage.js#L164

[2022-07-19 06:07] juhipatel27 commented on #9928
@rushatgabhane
I checked in device opening the popup, i think in real device it's issue.
For that I need development certificate to test in real device

Can you please provide me certificate development

UUID: 00008020-001229582106002E

https://user-images.githubusercontent.com/43469942/179675086-159d84f2-da49-4295-ab1e-6abef71dec65.mov

[2022-07-19 07:14] metehanozyurt commented on #8220
Thank you for invitation @JmillsExpensify . There was something I wanted to talk about. It was bonus for this job, I wonder if I can still get it. Thanks.
 https://github.com/Expensify/App/issues/8220#issuecomment-1089371957

[2022-07-19 07:45] buneme commented on #9466
@JmillsExpensify I've set my timezone to GMT+2 but can't reproduce the issue, is it still reproducable?

[2022-07-19 08:11] juhipatel27 commented on #9928
@rushatgabhane
I have resolved above issues
Added code for manage keyboard height

https://user-images.githubusercontent.com/43469942/179700930-bed93831-c59a-4f7d-9296-b542cadc1aaa.mov