[2022-07-19 08:35] #9929 closed

[2022-07-19 08:41] buneme commented on #9466
Hi @JmillsExpensify, I've tried setting my timezone to GMT+2 (specifically Europe/Oslo) in the app but I can't reproduce the issue
<img width="383" alt="Screenshot 2022-07-19 at 02 41 27" src="https://user-images.githubusercontent.com/3949246/179707215-91f8bce3-5a56-4f21-b823-f5fd4c26cd46.png">.

[2022-07-19 08:48] Julesssss commented on #5336
This is in review, 4 PRs have now been merged related to this API refactor and fix.

[2022-07-19 08:49] Julesssss commented on #5336
[THe final PR](https://github.com/Expensify/App/pull/9878) is about to be tested by QA.

[2022-07-19 09:31] mountiny commented on #9928
@juhipatel27 Very glad to see you have fixed the problem 🎉

However, as Rushat mentioned, we have an automated and standardized way how to handle the proposals, which helps us to stay efficient and on top of things. I would recommend checking out some previous jobs, which already got a contributor assigned to see how they posted the proposals. There is also [this part](https://github.com/Expensify

[2022-07-19 09:32] mdneyazahmad commented on #9662
Maybe, this will be better `if ((link !== g4) || /^https?/.test(link))`. I will throughly test this and let you know about it.

[2022-07-19 10:17] juhipatel27 commented on #9928
@rushatgabhane @mountiny

 Proposal:

I added code in passwordPopover.js

1. Added height in state

` this.state = {
            password: '',
            height: 150,
        };`

2. Added keyboard listener for get height

`componentDidMount() {
        this.keyboardDidShowListener = Keyboard.addListener('keyboardDidShow', this.keyboardDidShow.bind(this));
    }

    keyboardDidShow(e) {

[2022-07-19 10:20] mountiny commented on #9928
@juhipatel27 Thank you! I will now wait for @rushatgabhane to give it a look, but for future, please, make sure the first word of the comment is `proposal`, then our webhook will actually make this issue `Daily` which helps us prioritize tasks and also will increase chances we will review this proposal sooner than later :) Thank you!

[2022-07-19 10:30] errahsoufiane commented on #9938
The issue happens from this [component](https://github.com/Expensify/App/blob/main/src/components/TextInput/TextInputLabel/index.native.js)

label width is 0 (initial state value) before onLayout callback and it flickers when render with active label scale.
2nd parameter of textInputLabelTransformation is 0 before width is set from onLayout callback.

In summary, flicker happens when label view sc

[2022-07-19 10:57] rushatgabhane commented on #9928
@juhipatel27 can you think of a simpler/better way to do this? Maybe we could use [KeyboardAvoidingView](https://reactnative.dev/docs/keyboardavoidingview)?

[2022-07-19 10:58] sibelius commented on #9941
what is hard about it ?

just upgrade, fix the breaking changes and make the tests pass ?

[2022-07-19 11:00] juhipatel27 commented on #9928
I already tried but not working if set props of keyboardavoidingview padding then modal open in full screen

[2022-07-19 11:07] dylanexpensify opened #9990 "[HOLD for payment 2022-08-08] [$250] Upgrade the package babel-jest to the latest version"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email [contributors@expensify.com](mailto:contributors@expensify.com) to request to join our Slack channel!
___

Coming from this issue: https://github.com/Expensify/Expensify/issues/218328

[code]

Upwork job link - https://w

[2022-07-19 11:07] dylanexpensify commented on #9990
cc @flodnv coming from [this](https://github.com/Expensify/Expensify/issues/218328#issuecomment-1184653415)! Let me know if this is what you meant!

[2022-07-19 11:23] parasharrajat commented on #9990
I can do that...

[2022-07-19 11:39] thesahindia commented on #9939
Hey just wanted to know if it is eligible for the reporting as I had reported it [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1654791933817549) but I didn't have the steps to repro

[2022-07-19 12:13] OSBotify commented on #9970
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.85-2 :rocket:

[2022-07-19 12:15] CortneyOfstad commented on #9981
I think this is by design, but going to escalate up just in case.

[2022-07-19 12:19] mountiny commented on #9981
I don't see in the code that this would be implemented for the currency search but it makes sense to add it there. Showing blank screen is not good UX.

[2022-07-19 12:24] dylanexpensify commented on #9990
Note: please do regression testing in case upgrading the version of the package breaks something else.

[2022-07-19 14:04] Beamanator commented on #9917
Hmm ok so I wonder if there **was** some weird bug but now it's fixed? I set my NVP to an empty array and now it seems it's working... I will ask around to see if others fix it with this - if so, I may write a CQ to clear out everyone's NVP (since our App is just in beta still)

[2022-07-19 15:01] kbecciv opened #9992 "Web - Request Money - App crashed after return to online."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/9607

## Action Performed:
1. Go to https://staging.new.expensify.com/ and ope

[2022-07-19 15:02] OSBotify commented on #9992
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-19 15:12] mountiny commented on #9992
Ok I got this!

[2022-07-19 15:13] puneetlath commented on #9485
Still waiting for proposals. Upping to $500.

[2022-07-19 15:14] puneetlath commented on #9542
Still waiting for proposals. Upping to $2000.

[2022-07-19 15:14] AndrewGable commented on #6527
Should we double?

[2022-07-19 15:15] melvin-bot[bot] opened #9993 "💥 Crash 💥 `anonymous`"
## Non-fatal Exception: JavaScriptError
### Invalid undefined key provided in Onyx update. Onyx key must be of type string.
### `main.jsbundle:64094:24 line 64094` `anonymous`
### Number of Crashes: 4

## Device Information
* **Platforms:** Android, iOS
* **App Versions:** `1.1.85.1`, `1.1.85-2`
* **Devices:** realme RMX2001 11, Apple iPhone14,2 15.5.0

## Stacktraces
<details>
<summary>Android 1.

[2022-07-19 15:15] puneetlath commented on #9739
Still waiting for proposals. Increasing price to $500.

[2022-07-19 15:19] mountiny commented on #9992
PR is up in a review!

[2022-07-19 15:19] parasharrajat commented on #9628
Ok. Thanks for the explanation @tomivs.

Although both of the proposals lack clear instructions for all the changes, let's go with @tomivs's proposal as they reported this issue and proposed it first. I agree that many of the things can't be listed before doing them.

Thanks for the proposal @jeet-dhandha. Technically there is no issue in your proposal but let's @tomivs handle this one.

cc: @deet

[2022-07-19 15:22] parasharrajat commented on #9739
@jayeshmangwani Would you like to update your proposal without the issue?

[2022-07-19 15:25] mananjadhav commented on #9253
That's right and as I mentioned [here](https://github.com/Expensify/App/issues/9253#issuecomment-1166590553) it'll be simpler to just show the blank page because its not a common case and is in transition effect.

[2022-07-19 15:32] puneetlath commented on #9664
@iwiznia @tylerkaraszewski y'all still experiencing this? Trying to think of what to do with this issue.

[2022-07-19 15:39] luacmartins commented on #9917
Well this PR was deployed 22h ago, which should have fixed this. In my initial implementation of `getUserDetails` I used Onyx `merge` instead of `set` as a method for frequently used emojis. That caused the array to be duplicated endlessly on each start / reconnect of the app 😅 I believe this was a front-end only issue, so a CQ shouldn't be necessary.

[2022-07-19 15:48] lschurr commented on #9972
I couldn't reproduce this on iPhone, so maybe it's just an Android issue.

[2022-07-19 15:58] #9992 closed

[2022-07-19 16:00] arielgreen commented on #9981
https://www.upwork.com/jobs/~01b00a8524a966eef0

[2022-07-19 16:01] luacmartins commented on #7968
@mdneyazahmad and @owjhart I think those are good points and we should probably fix this. I just came here to share [some thoughts](https://github.com/Expensify/App/issues/7968#issuecomment-1164579414) on a related issue. @stitesExpensify is still the one evaluating the proposals for this issue.

[2022-07-19 16:02] kbecciv commented on #9342
@danieldoglas QA team is able to reproduce this issue on version 1.1.85.2

https://user-images.githubusercontent.com/93399543/179796497-8494bf02-f114-4fb9-a27f-484139198fcb.mov

[2022-07-19 16:08] OSBotify commented on #9970
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9994) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.85-3` :rocket:

[2022-07-19 16:16] jayeshmangwani commented on #9739
#### Updated proposal

Thanks for the ping @parasharrajat

if we want to use ToolTip only for comment/message then we have to add a new if condition here with HTMLEngineUtils.isInsideComment(props.tnode)

https://github.com/Expensify/App/blob/41346c82c6c0854e0c5bc427e9193d40723feec6/src/components/HTMLEngineProvider/HTMLRenderers/AnchorRenderer.js#L44-L53

[code]
@parasharrajat please correct me i

[2022-07-19 16:47] kavimuru opened #9998 "Search - Not able to select a user while offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Turn off the internet connection
3. Сlick on the magnifying glass to search fo

[2022-07-19 16:50] kidroca commented on #9794
I think I'll be ready with a PR tomorrow or the day after

[2022-07-19 16:56] roryabraham commented on #9794
Cool, thanks @kidroca. Full-disclosure: I'm pretty swamped this week so it might take me a few days to get to the PR. I'll do my best to review it as soon as I can

[2022-07-19 17:08] danieldoglas commented on #9342
Can you possibly share which account you're using with me @kbecciv ? I still can't simulate that, for some reason

[2022-07-19 17:11] mountiny opened #9999 "Refactor and clean up the createStagingDeployIssue code"
# Problem

Coming from https://github.com/Expensify/App/pull/9946#discussion_r924758705

The code for creating staging deploy issue is very hard to follow and leads to bugs when new features are added or code is changed as engineers have tough time following the code.

Also sometimes we can manually move PRs to be internalQA after being added to the checklist - try to check if the PRs in main sect

[2022-07-19 17:13] Julesssss opened #10000 "Messages are being lost and fail to send"
# Problem

CC @cead22 @Expensify/mobile-deployers

Messages are disappearing and not being sent in NewDot. This is extremely annoying and is wasting all of our time. We need to figure out which issue introduced the regression, or locate the bug and fix it.
___

## Action Performed:
It's not consistently reproducible, but these are the rough steps we have been following:
1. In NewDot (`staging.new.

[2022-07-19 17:14] yevheniiochkalov commented on #9981
I just joined the slack and I can implement this if you provide the design for no result. Will you assign this task for a new developer?

[2022-07-19 17:14] OSBotify commented on #10000
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-19 17:23] Julesssss commented on #9970
I added the deploy blocker label to [this issue ](https://github.com/Expensify/App/issues/10000)as a few of us noticed it this morning. It's difficult to reproduce though, so it may well have been from a previous version.

[2022-07-19 17:23] AndrewGable commented on #10000
<img width="693" alt="Screen Shot 2022-07-19 at 11 22 54 AM" src="https://user-images.githubusercontent.com/2838819/179811644-271aa6f9-2805-4b48-95c3-26ea6f7de2eb.png">

[code]

[2022-07-19 17:25] Julesssss commented on #10000
Thanks, that's great. Sounds like there's an issue with the Onyx update occuring in [the AddComment API](https://github.com/Expensify/App/blob/258c26843fff3726980c36de9033aafcab7f0f8a/src/libs/actions/Report.js#L965-L979). CC @marcaaron

[2022-07-19 17:28] metehanozyurt commented on #9981
## Proposal
### Cause

"No results found" text is not shown when currency list size 0.

### Solution
We can do it like emoji search screen . if size of currency list size 0 we can pass param (`shouldShowNoData`) and show "No results found".
For this method, we need to update three files.

Step 1 -) `IOUCurrencySelection` Component

https://github.com/Expensify/App/blob/1fc51f49388ff00978ecfc213733

[2022-07-19 17:29] marcaaron commented on #10000
Setting a key of `undefined` in Onyx throws an error? Hmm well that would certainly break things... maybe it should log instead 👀

[2022-07-19 17:30] mvtglobally commented on #10000
@Julesssss @marcaaron  Our team noticed somewhat similar issue, but its not consistently repro. Should we log a new issue or this is same root cause?

https://user-images.githubusercontent.com/43995119/179812889-6f149017-f21a-42e3-a100-a5edd8439b6f.mp4

[2022-07-19 17:30] marcaaron commented on #10000
It's this here:

https://github.com/Expensify/App/blob/258c26843fff3726980c36de9033aafcab7f0f8a/src/libs/actions/Report.js#L954

[2022-07-19 17:32] thienlnam commented on #8361
What do you mean by not merged yet - you're experiencing it on every branch so it must be on main right? Do you mean not deployed?

I just tested deleting a message on prod (Version 1.1.82-5 (1.1.82-5).  It will show the last message

It looks like this issue is resolved - the outcome we've had is also acceptable (showing the email if the only message is deleted)

[2022-07-19 17:34] marcaaron commented on #10000
The ONYXKEYS.MY_PERSONAL_DETAILS was removed here -> https://github.com/Expensify/App/pull/9560

And this was hard to reproduce because you need to wait 5 minutes so the timezone updating logic runs.

[2022-07-19 17:34] mountiny commented on #10000
That one key slipped out review 😬

this is the related PR https://github.com/Expensify/App/pull/9560

[2022-07-19 17:38] parasharrajat commented on #9061
On my list, I will get back to it asap.

[2022-07-19 17:39] marcaaron commented on #9970
it's in this version and introduced by a change in https://github.com/Expensify/App/pull/9560

[2022-07-19 17:40] kavimuru opened #10001 "IOU Request - Error "Invalid onyxMethod mergecollection in Onyx update." appeared in Console"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Sign into NewDot as user 1
2. Start a chat with a user 2 (a user you have not chatted with before)
3. Create an IOU request (e

[2022-07-19 17:44] OSBotify commented on #10001
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-19 17:45] parasharrajat commented on #9981
Not the way it should be done. I don't like the proposal, @metehanozyurt. Please find another solution to fix it.

[2022-07-19 17:52] OSBotify commented on #9970
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.85-3 has been deployed to staging :tada:

[2022-07-19 17:53] dhairyasenjaliya commented on #9981
**Proposal**

- Here for send/request (select currency page) -> we need to add a header error message same as the user search list page

**Solution**

- In src/libs/OptionsListUtils we need to create a validation to check if currency exists or not if it does not exist return No result found

[code]

- and in /src/pages/iou/IOUCurrencySelection.js

https://github.com/Expensify/App/blob/703070de3ea5

[2022-07-19 17:55] #10000 closed

[2022-07-19 17:56] mountiny opened #10003 "[TEST] This is a test deploy blocker"
TEST deploy blocker, actually not a deploy blocker.

Testing: https://github.com/Expensify/App/pull/9946#issuecomment-1189360815

[2022-07-19 17:57] luacmartins commented on #10000
Issue #10000, such a milestone 😄

[2022-07-19 17:58] marcaaron commented on #10000
@mvtglobally that looks like something else.

[2022-07-19 18:00] OSBotify commented on #10003
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-19 18:01] jboniface commented on #9941
@adelekennedy this needs an upwork job when you get a chance (i unassigned myself since you were assigned to manage this in the E/E repo)

[2022-07-19 18:08] OSBotify commented on #9970
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10002) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.85-4` :rocket:

[2022-07-19 18:12] neil-marcellini commented on #10001
It looks like we're not using the latest version of Onyx since the check was recently updated [here](https://github.com/Expensify/react-native-onyx/blob/49a2b825099fa89e78d4692d63e05aeaef3b2b2a/lib/Onyx.js#L820).

[2022-07-19 18:15] laurenreidexpensify opened #10006 "Testing Design Doc review automation"
Design Doc reviewbot Testing. Ignore me.

[2022-07-19 18:17] mountiny commented on #10001
Ah, we have bumped to 1.0.8 here https://github.com/Expensify/App/pull/9877, but that used `mergeCollection` and then the update to `mergecollection` has been in later version, which failed to bundle https://github.com/Expensify/react-native-onyx/pull/160.

So we should update to 1.0.10 :/ https://github.com/Expensify/react-native-onyx/pull/162

@neil-marcellini re you able to create the PR and ru

[2022-07-19 18:19] neil-marcellini commented on #10001
Yep I was just about to say that. I'll have a PR up very soon. I might have some integrity changes as well but I'll have to see. Could we manually omit those changes?

[2022-07-19 18:28] mountiny commented on #10001
I am not sure tbh :/ if it is just a few of them then it is fine. But for me, AFAIK because of the intel having different architecture it creates like hundreds lines big diff :/

[2022-07-19 18:30] mountiny commented on #9739
@jayeshmangwani Please, use `proposal` as the first word of the comment to make sure the issue becomes `Daily` 🙌  Thank you

[2022-07-19 18:30] #10006 closed

[2022-07-19 18:33] parasharrajat commented on #9981
@dhairyasenjaliya your proposal looks good to me.

A few points:
1. We don't have to create a new function in `OptionsListUtils` as this will be used once.

Do we want to hide the all currencies header as well? cc: @mountiny

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-07-19 18:36] parasharrajat commented on #9990
can we merge https://github.com/Expensify/App/issues/9941 into this issue? Upgrading babel-jest will also require upgrading jest and necessary changes.

[2022-07-19 18:48] parasharrajat commented on #9974
This is already being fixed in https://github.com/Expensify/App/issues/9660

[2022-07-19 18:52] parasharrajat commented on #9981
Ok. @dhairyasenjaliya Please remove the `all currencies` header besides showing the `no search result` under the search bar in your PR.

[2022-07-19 18:53] parasharrajat commented on #9975
I think the whole menu should not be shown. Good catch @thesahindia

[2022-07-19 18:56] dhairyasenjaliya commented on #9981
sure will do changes soon as per discussed above and create PR

[2022-07-19 19:00] kbecciv commented on #9342
@danieldoglas Can you please try with credentials: yuriy.turbo+ch5@gmail.com/Aa111111

[2022-07-19 19:06] Karim-30 commented on #9542
### Proposal

In `src/components/FormScrollView.js` :

[code]

Resault :

https://user-images.githubusercontent.com/108357004/179829185-5242ac41-de14-4b40-8827-f8e084e85716.mov

[2022-07-19 19:10] #10001 closed

[2022-07-19 19:14] mountiny commented on #10003
Testing one more time!

[2022-07-19 19:16] OSBotify commented on #10003
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-19 19:16] neil-marcellini commented on #9990
Sounds good to me.

[2022-07-19 19:18] kavimuru opened #10009 "Web - Chat - When hit (CTRL+K) after opening global action button, Global action button and search modal opens"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Click on the "Global action" button
3. Press on CTRL + K

## Expected Result:

[2022-07-19 19:25] iwiznia commented on #9664
I think it's working now, but not 100% sure

[2022-07-19 19:26] kavimuru opened #10010 "Preferences - Notifications status is "subscribed" by default for the newly created accounts"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #9697
## Action Performed:
1. Create an account
2. Login to the App
3. Go to  Settings > Preferences > Notifications

##

[2022-07-19 19:27] mountiny commented on #10003
Tested well!!!

[2022-07-19 19:27] #10003 closed

[2022-07-19 19:29] OSBotify commented on #9970
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.85-4 has been deployed to staging :tada:

[2022-07-19 19:29] kavimuru opened #10012 "Web - Search window/Currency selection - Jerk when moving between the first and last point"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Click on the "Global action" button/Request money
3. Сlick on the currency to

[2022-07-19 19:32] OSBotify commented on #9970
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10008) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.85-5` :rocket:

[2022-07-19 20:05] tgolen commented on #6301
I would make a slight change:

or even possibly this (because it is shorter).

[2022-07-19 20:05] puneetlath commented on #9664
Ok, gonna close. Reopen if you continue to see it.

[2022-07-19 20:05] #9664 closed

[2022-07-19 20:07] flodnv commented on #9941
@sibelius nothing hard per se (hopefully), indeed it's just about:
- Reading the changelog, figuring out problems
- Upgrading, fixing problems
- Testing everything
- Shipping it

[2022-07-19 20:08] flodnv commented on #9990
@parasharrajat sure! I did not realize that upgrading babel-jest will also require upgrading jest.

[2022-07-19 20:08] tgolen commented on #9938
I like that solution! 👍 🟢

[2022-07-19 20:09] AndrewGable commented on #9993
Dupe of https://github.com/Expensify/App/issues/10000 closed via https://github.com/Expensify/App/pull/10002

[2022-07-19 20:09] #9993 closed

[2022-07-19 20:14] tgolen commented on #9708
No answer to my previous question, so I'm just going to close this.

[2022-07-19 20:14] #9708 closed

[2022-07-19 20:26] jayeshmangwani commented on #9739
I am debugging this and if I get a better proposal then I will update it, Thanks

[2022-07-19 20:35] parasharrajat commented on #9990
I am not sure about that too but I feel like both can be combined after all both need to be upgraded.

[2022-07-19 20:46] OSBotify commented on #9970
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.85-5 has been deployed to staging :tada:

[2022-07-19 20:50] Luke9389 commented on #9734
Ok great! Thanks for those clarifiers @trjExpensify. 🙇
Now that I see we're shooting for behavior that looks the same as the mobile layout, I don't think we'll need new components.

[2022-07-19 21:07] MitchExpensify commented on #9794
Doubled! [Upwork job](https://www.upwork.com/jobs/~01f56058833ed5de40)[](url)

[2022-07-19 21:15] melvin-bot[bot] opened #10014 "💥 Crash 💥 `isDeletedAction`"
## Non-fatal Exception: JavaScriptError
### Cannot read property 'html' of undefined
### `main.jsbundle:150296:72 line 150296` `isDeletedAction`
### Number of Crashes: 20

## Device Information
* **Platforms:** iOS
* **App Versions:** `1.1.85.3`, `1.1.85.5`
* **Devices:** Apple iPhone12,3 15.5.0, Apple iPhone12,3 15.5.0

## Stacktraces
<details>
<summary>iOS 1.1.85.5</summary>

[code]
</details>

[2022-07-19 21:21] MitchExpensify commented on #9980
[Upwork Job](https://www.upwork.com/jobs/~017e5d0eb4b6bf46db)

[2022-07-19 21:24] MitchExpensify commented on #9727
Doubled the price!

Please submit a proposal for eventual reporting bonus @adeel0202

[2022-07-19 21:32] MitchExpensify commented on #7918
Doubled! New Upwork link [here](https://www.upwork.com/jobs/~01dd510b06d81cf27f)

[2022-07-19 21:36] marcaaron opened #10015 "Timezone propTypes errors on `main`"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Build `main` app and run it with JS console open

## Expected Result:

No console errors

## Actual Result:

![2022-07-19_11-

[2022-07-19 21:38] roryabraham commented on #9970
Checking off https://github.com/Expensify/App/pull/9641 because it passed internal QA

[2022-07-19 21:44] kavimuru opened #10016 "iOS - IOU - Preview component - Crash after tapping on the' Pay' or 'View details' buttons"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send only one request to the user A
2. Login in iOS app as user A
3. Open the DM, tap on the "View details' or 'Pay' button

#

[2022-07-19 21:44] marcaaron commented on #10015
I think it's most likely this was introduced by the Web-Expensify changes [here](https://github.com/Expensify/Web-Expensify/pull/34321). Looking at the data in Onyx and we have this:

![2022-07-19_11-38-49](https://user-images.githubusercontent.com/32969087/179853159-1b6553a1-8474-479b-82ab-255d4e2b0561.png)

Doesn't seem like this is breaking anything though.

If a user has no timezone maybe it i

[2022-07-19 21:45] OSBotify commented on #10016
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-19 21:50] parasharrajat commented on #9660
Any thoughts above?

[2022-07-19 21:50] iwiznia commented on #10016
@kavimuru I don't see the app crashing in your video, I assume it crashed at the last screen?

[2022-07-19 21:52] akpinarserdar commented on #9980
The following values work across platforms: "phone-pad"
`<TextInput
            ...
            keyboardType={'number-pad'}
            ...
/>`

[2022-07-19 21:53] MitchExpensify commented on #7918
My mistake @parasharrajat, fixed. Thanks for the catch

[2022-07-19 21:54] MitchExpensify commented on #7918
Mind making a proposal on the new listing @mdneyazahmad ? The old one expired

[2022-07-19 21:58] mountiny commented on #10016
cc @Julesssss seems like this could be regression from our refactoring https://github.com/Expensify/App/pull/9878

[2022-07-19 22:02] thienlnam commented on #9727
Just want to make sure my understanding of this issue is correct

1. Select a new profile picture (Don't hit save)
2. Remove the profile picture
3. Hit Save
4. The save button should have been disabled in 3 because the profile picture did not change?

[2022-07-19 22:04] thienlnam commented on #9727
I think this is a valid issue, feel free to review proposals @Santhosh-Sellavel

[2022-07-19 22:05] roryabraham commented on #9905
Going to HOLD this on https://github.com/Expensify/App/issues/9999

[2022-07-19 22:07] parasharrajat commented on #7918
I guess if they was hired for the last listing then they should have an active contract even though the listing is expired. In short, no need to apply again.

[2022-07-19 22:08] MitchExpensify commented on #7918
I'd prefer to manage payment centrally in the new listing @parasharrajat

[2022-07-19 22:09] parasharrajat commented on #7918
So the old contract needs to be cancelled as a duplicate.

[2022-07-19 22:18] adelekennedy commented on #8292
not overdue, more proposals are coming in!

[2022-07-19 22:22] JmillsExpensify commented on #8220
@metehanozyurt Yes absolutely. Thank you so much for pointing that out. I've sent the updated offer (same for @parasharrajat). I'll be on later this evening so maybe we'll cross paths and we can close this out!

[2022-07-19 22:53] kavimuru commented on #10016
@iwiznia  I have attached crash video too.
https://user-images.githubusercontent.com/43996225/179853766-bd14e670-fafd-4b23-a850-5a951b71cfba.mp4

[2022-07-19 22:54] laurenreidexpensify commented on #6438
heh this hit prod 7 days ago. I'll issue payment tomorrow

[2022-07-19 22:55] laurenreidexpensify commented on #9391
bump @MonilBhavsar

[2022-07-19 23:21] andrewlor commented on #9485
I have a proposal to fix this. The idea is to manipulate the cursor style for the entire document (or some other large element that is a parent of the chat view) based on events handled by `dragNDropListener` in the `Composer` component. Here is a short demo of it working.

https://user-images.githubusercontent.com/8475244/179864052-5ac02024-1e61-406f-87fb-317f16e39874.mov

[2022-07-19 23:29] parasharrajat commented on #9938
@errahsoufiane Do you have any other suggestions apart from the other? Although it is doable but does not give the best UI.

[2022-07-19 23:29] jliexpensify commented on #9747
@stitesExpensify - happy to, but based on the weekly testing, is the issue now not an issue anymore?

[2022-07-20 00:05] kbecciv opened #10017 "[$500] Web - OldDot Transition - if few NewDot tabs are opened, some/all may crash after Workspace creation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to the OldDot and delete all Polices/Workspaces
2. Open 2-3 other tabs with NewDot: any user or just a login page
3. Tri

[2022-07-20 00:12] kbecciv opened #10018 "Room - Details - Time zone is not displayed in member list of room."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/9642

## Action Performed:
1.  Launch the app
2. Click on fab icon > new works

[2022-07-20 00:23] marcaaron commented on #9803
No idea why a report would be undefined but adding `defaultProps` should prevent this from crashing at least.

[2022-07-20 00:24] marcaaron commented on #9818
Looks related to `react-navigation`.

[2022-07-20 00:28] marcaaron commented on #9912
Crashing on this line: https://github.com/Expensify/App/blob/6369e8e3136b95e03205c5bde751028734600071/src/components/InlineCodeBlock/WrappedText.js#L19

[2022-07-20 00:33] Luke9389 commented on #9427
Thanks @parasharrajat, I'll check out the impact of those suggestions 👍

[2022-07-20 00:33] #8200 closed

[2022-07-20 00:39] kbecciv opened #10021 "Android - Payments - Default payment is disappearing after closed and re-open the app."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Prerequisite: add VBA to the account
1. Launch the app
2. Log in with account
3. Go to Setting - Payments
4. Select Saving accoun

[2022-07-20 00:40] OSBotify commented on #10021
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-20 01:53] errahsoufiane commented on #9938
I already tried to show label even if width is not set yet. But based on current transform implementation of this component, it's impossible to set x coordinate correctly without knowing the width when view scaled to ACTIVE_LABEL_SCALE.
But this is very rare case and in very short time, when app becomes a little heavy due to some background tasks. Mostly not happen so I think it doesn't affect use

[2022-07-20 02:22] kavimuru opened #10022 "Web - IOU - Currency is changed to location selected right after changing the country"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #9840
## Action Performed:
1. Open some chat report and Request money modal
2. Make sure that the currency is CA$
3. Now, ch

[2022-07-20 03:12] rushatgabhane commented on #9980
@thesahindia's [proposal](https://github.com/Expensify/App/issues/9980#issuecomment-1188609376) looks good.

cc: @aldo-expensify
🎀 👀 🎀 C+ reviewed

[2022-07-20 03:23] rushatgabhane commented on #9379
@trjExpensify accepted!

[2022-07-20 04:01] dhairyasenjaliya commented on #9981
hello @parasharrajat @mountiny PR is Up, since this is my first PR let me know if I missed out anything
thank you

[2022-07-20 04:12] stitesExpensify commented on #9747
Yep seems like that's the case! Let's just wait and see. Making this weekly

[2022-07-20 04:21] aldo-expensify commented on #9980
Thanks @rushatgabhane , yes the proposal looks good to me too. Lets proceed with hiring @thesahindia

[2022-07-20 05:06] aldo-expensify commented on #10012
It looks like smooth scrolling is making this smoother than it should be in this case (should just jump).

https://user-images.githubusercontent.com/87341702/179900918-717d9b2b-e52e-461d-8c28-efaeab18e6f7.mov

 I'm going to just close this because I'm not really convinced that this is unwanted behaviour and it doesn't look important

[2022-07-20 05:06] #10012 closed

[2022-07-20 05:11] kbecciv opened #10024 "Request Money - Report Status shows paid when clicked on view details after request"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Tap on any user
4. Tap on Plus button - Request Money
5. Select amount and tap Re

[2022-07-20 05:12] OSBotify commented on #10024
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-20 05:45] melvin-bot[bot] opened #10025 "[$1000] 💥 Crash 💥 `anonymous`"
## Non-fatal Exception: JavaScriptError
### Parameter reportActionID is required for "Report_EditComment". Supplied parameters: reportID, reportActionID, reportComment, sequenceNumber
### `main.jsbundle:63228:22 line 63228` `anonymous`
### Number of Crashes: 16

## Device Information
* **Platforms:** Android, iOS
* **App Versions:** `1.1.84.13`, `1.1.85.5`, `1.1.89-0`, `1.1.89-4`, `1.1.91-1`, `1.1

[2022-07-20 07:10] MariaHCD commented on #10024
cc: @Julesssss Not sure if this might be related to: https://github.com/Expensify/App/pull/9878

[2022-07-20 07:12] jliexpensify commented on #9809
Not overdue, waiting on weekly tests!

[2022-07-20 07:15] jliexpensify commented on #9088
Hmm odd, the GH didn't update - @Julesssss or @rushatgabhane can you confirm I'm ok to pay based off https://github.com/Expensify/App/pull/9601?

[2022-07-20 07:41] ahmdshrif commented on #8311
yes, this [proposal](https://github.com/Expensify/App/issues/8311#issuecomment-1184512351) for web only because the issue says it's mWeb.

on native, it's another root cause but I think it is worth bouns.

any way.

### proposal  ( for native)
the root cause is the child of `LongPressGestureHandler`  is a text .
and it need a container for it so we can use view or pressable and that will work

as

[2022-07-20 07:41] MariaHCD commented on #9822
Looks like we're proposing to replace ExpensiMark. No updates on that [conversation](https://expensify.slack.com/archives/C02NK2DQWUX/p1657544731979729) just yet.

[2022-07-20 08:19] parasharrajat commented on #8311
I agree issue details are incomplete but many times it is case that only a single platform is mentioned but all issues need the be fixed on all platforms.

As the same issue occur on native too, it needs the be fixed as well.

At this time, scope of the issue is not extended so I don't see a bonus but it can be.

@kavimuru could you please add Android and iOS platform as well?

[2022-07-20 08:48] mdneyazahmad commented on #8311
On my android device production app (v1.1.79-17), it sometime works and sometime does not work.

cc: @parasharrajat @ahmdshrif

[2022-07-20 08:49] mdneyazahmad commented on #8311
On my android device production app (v1.1.79-17), it sometime works and sometime does not work.

cc: @parasharrajat @ahmdshrif

[2022-07-20 09:04] Julesssss commented on #10001
Thanks for fixing this @neil-marcellini!

[2022-07-20 09:08] mountiny commented on #9981
Thank you for the message @dhairyasenjaliya! Gonna have a look!

[2022-07-20 09:32] Julesssss commented on #10024
Yeah, quite possibly. Taking a look this morning.

[2022-07-20 09:33] Julesssss commented on #9088
Yeah, that is odd. Please go ahead and pay out though.

[2022-07-20 10:00] melvin-bot[bot] opened #10027 "[$2000] 💥 Crash 💥 `com.facebook.react.views.textinput.ReactEditText.manageSpans`"
## Fatal Exception: java.lang.NullPointerException
### Attempt to invoke interface method 'void android.text.SpanWatcher.onSpanRemoved(android.text.Spannable, java.lang.Object, int, int)' on a null object reference
### `ReactEditText.java line 597` `com.facebook.react.views.textinput.ReactEditText.manageSpans`
### Number of Crashes: 1

## Device Information
* **Platforms:** Android
* **App Version

[2022-07-20 10:14] parasharrajat commented on #10027
This is back

[2022-07-20 10:19] eVoloshchak commented on #9389
Opened a PR

[2022-07-20 10:35] flodnv commented on #9990
Right, but we prefer 1 PR per upgraded package (in package.json) please

[2022-07-20 10:40] phuongpt commented on #8849
@mallenexpensify seems this task is already done, could you please verify this job on Upwork, thanks.

[2022-07-20 10:46] Justicea83 commented on #9972
I also couldn't reproduce this on iPhone.

[2022-07-20 10:49] parasharrajat commented on #9990
Got it. Can I submit the PR?

[2022-07-20 11:03] parasharrajat commented on #9990
But I don't think this affects the app in any way. let me know if I am wrong. This is dev dependency and only used by jest to babel transpile the code.

[2022-07-20 11:04] dhairyasenjaliya commented on #9727
**Proposal**

- Here for this issue, currently, we don't have any validation regarding the latest selected profile vs the old saved profile what actually need to do is to compare both profiles and check if we have changed "isAvatarChanged" and also to check latest vs previously saved profile is same or not

**Solution**

- Here my suggestion is to add one more logical condition to check whether th

[2022-07-20 11:23] flodnv commented on #9990
Oh! I forgot this was a dev dependency. You are totally right 👍

[2022-07-20 11:38] kbecciv opened #10029 "[HOLD #10894] [Bug] Attachment - Small image disappears for a brief moment after tap on send"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and log in NewDot
2. Go to chat with any user
3. On a conversation, click on the + button in the compose box
4.

[2022-07-20 11:47] kbecciv opened #10031 "[HOLD][$250] Android - Attachment - The error notification is very close to the boarder of the phone"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Tap on any user
4. Tap on Plus button - Add attachment
5. Select option from Choo

[2022-07-20 12:03] parasharrajat commented on #9485
@andrewlor Idea looks good to me. Could you please show us how will you do that?

We have an automated and standardized way how to handle the proposals, which helps us to stay efficient and on top of things. I would recommend checking out some we have an automated and standardized way how to handle the proposals, which helps us to stay efficient and on top of things. I would recommend checking out

[2022-07-20 12:13] kbecciv opened #10032 "[$250] IOS - Attachment-Choose from gallery - Gallery does not open on second time for applause account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Tap on any user
4. Tap on Plus button - Add attachment
5. Select Choose from gall

[2022-07-20 12:14] jboniface opened #10033 "[$250] Upgrade the package webpack to the latest version"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

[code]

[code]

[2022-07-20 12:14] sakluger commented on #10010
I think we do want notifications enabled by default. I'll double check in Slack.

[2022-07-20 12:18] parasharrajat commented on #8311
@ahmdshrif Could you please only suggest changes that are necessary to fix this issue in your proposal?

Also, if you look back the history, you made this change to allow propagation of long press for Attachments. (Don't remember exactly but you can find it) so that should not break.

I do not understand the purpose of CommentRender. What is going on here and why? I don't HTML manipulation is nece

[2022-07-20 12:48] dhairyasenjaliya commented on #9928
yeah, TBH library does mention its for iOS but if we look at the code here https://github.com/Andr3wHur5t/react-native-keyboard-spacer/blob/master/KeyboardSpacer.js  we can see it's mostly consist for JS code so this is working for android as well :) @rushatgabhane

[2022-07-20 13:13] eVoloshchak commented on #6154
Updated my [proposal](https://github.com/Expensify/App/issues/6154#issuecomment-1183245737) according to the new requirements of not using `setNativeProps` and latest updates to `IOUAmountPage`

[2022-07-20 13:51] dhairyasenjaliya commented on #9928
I guess that would be a better way to handle an old package like this one since we are already using it on multiple pages, and I'm also testing this package for android I think I have found one bug if we have a toolbar on the android keyboard it's not calculating the extra height causes by that maybe will test out in more devices

[2022-07-20 14:07] JmillsExpensify commented on #8220
Thanks both for your patience. I've issued payments in Upwork, so I'm closing out this issue. Please reach out if we've missed something.

[2022-07-20 14:07] #8220 closed

[2022-07-20 14:11] kbecciv opened #10034 "Web - Profile settings - Timezone drop down opens after using Enter Key twice"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Go to Settings/Profile settings
4. Use the "Tab" key

[2022-07-20 14:35] Julesssss commented on #10024
Strange that this didn't come up during testing as this was a test case... Anyway, the fix is to add the data to the Web-E layer which I'll do now

[2022-07-20 14:39] ahmdshrif commented on #8311
@parasharrajat  yes I remember my change and I don't break it.

the simple proposal for test is this change in PressableWithSecondaryInteraction/index.native.js
[code]
and  in
PressableWithSecondaryInteraction/index..js
[code]

this will break the text alignment (as you see in screenshots)  so other code to fix this alignment.   I can explain more about how it work but for now, let's get confirmat

[2022-07-20 14:55] laurenreidexpensify commented on #6438
@JosueEchandiaAsto @parasharrajat have just sent offers in Upwork - sorry for the delay! As soon as those are accepted I'll issue payment and close this out. Sorry that this wasn't the smoothest - the automation trigger failed here and that slowed us down from closing this out!

[2022-07-20 15:11] laurenreidexpensify commented on #9975
Just so I understand better, can you explain a bit more why you think this is a problem @thesahindia @parasharrajat ? I'm thinking that maybe we would want to give users the option to cut the URL and be able to share it to help us with virality?

[2022-07-20 15:27] parasharrajat commented on #9485
Go through the Contributing guidelines https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md to understand the process.

[2022-07-20 15:38] parasharrajat commented on #9975
There are two things here:
1. First, the copy link option on the menu should not be present for links. This is not meant for these links.
2. Why is this menu popping up for app menu items? I am not sure if this was done intentionally but as per my knowledge, it was not the case a few months back.

---

OK, I can confirm 2 is intentional as per the https://github.com/Expensify/App/pull/9047. But 1

[2022-07-20 15:47] strepanier03 commented on #9977
Was able to recreate, sending on.

[2022-07-20 15:51] AndrewGable commented on #9253
Ok the blank page sounds like the expected behavior then 👍

[2022-07-20 15:52] AndrewGable commented on #9085
If it's not reproducible 2x let's close

[2022-07-20 15:52] #9085 closed

[2022-07-20 16:06] amyevans commented on #9982
It's low hanging fruit to clean up, so makes sense to open up to External contributors.

[2022-07-20 16:07] parasharrajat commented on #9485
Nothing, you are on track. :+1:

Looks like your proposal is what I was expecting. @andrewlor's [proposal](https://github.com/Expensify/App/issues/9485#issuecomment-1189643102) looks good to me.

@andrewlor Please test your solution on all possible platforms including different browsers(Firefox, chrome, safari).

cc: @puneetlath

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-07-20 16:09] parasharrajat commented on #9085
Yes, we fixed it from the backend https://github.com/Expensify/App/issues/7185#issuecomment-1127517594

[2022-07-20 16:10] parasharrajat commented on #9982
First, one can't be solved ATM due to a third-party package and the second one is resolved.

[2022-07-20 16:11] parasharrajat commented on #4733
No, let's export this, Please add the external label. Hopefully we can get some ideas.

[2022-07-20 16:19] bfitzexpensify commented on #7121
Still in review.

[2022-07-20 16:20] Luke9389 commented on #9977
This is being worked on here: https://github.com/Expensify/Expensify/issues/212821
Closing this.

[2022-07-20 16:25] adeel0202 commented on #9977
@Luke9389, I'm not able to access the page, is it internal?
Also, am I not eligible for the reporting bonus?

[2022-07-20 16:38] amyevans commented on #9982
Ah good call, thanks for adding some color there! Closing.

[2022-07-20 16:38] #9982 closed

[2022-07-20 16:39] laurenreidexpensify commented on #6438
all paid 👍🏽

[2022-07-20 16:39] #6438 closed

[2022-07-20 16:47] Julesssss commented on #10024
Okay, so I've fixed the original issue. But ran into a new one, which I'm solving [here](https://github.com/Expensify/App/pull/9836) as it's also occurring on this linked issue.

[2022-07-20 16:47] Julesssss commented on #10024
WIP Pr: https://github.com/Expensify/Web-Expensify/pull/34366

[2022-07-20 16:59] parasharrajat commented on #4733
@bfitzexpensify was removed accidentally.

[2022-07-20 17:14] roryabraham commented on #10033
Since this is just a dependency upgrade I'm going to opt out of the C+ services in this case.

What I want to see in a proposal:

- A summary of breaking changes between our current version and the latest version
- A summary of any peer dependencies that need to be upgraded
- A list of which breaking changes (if any), affect us, and how to address those changes.

It looks like webpack has a nice m

[2022-07-20 17:16] Julesssss commented on #10016
Ugh. I spent all day on[ this other](https://github.com/Expensify/App/issues/10024) deploy blocker and didn't get around to this. If nobody has picked up it by tomorrow I'll be able to start on it

[2022-07-20 17:16] Julesssss commented on #10016
CC @chiragsalian

[2022-07-20 17:22] muneebahmed97 commented on #9980
I'll set keyboardType="number-pad" to make it work like phone number pad.
Another solution is, to add regex in onChangeText callback to enable number entry only.

[2022-07-20 17:22] parasharrajat commented on #6301
Looks good to me. Should we finalize it @joaniew?

[2022-07-20 17:39] Santhosh-Sellavel commented on #8361
Yes, `_fake_` issue is no longer reproducible now in production. Even though @brianmuks PR #8967 is not merged yet.

[2022-07-20 17:47] MitchExpensify commented on #9794
Thanks for the catch @roryabraham! Sounds good @kidroca :D

[2022-07-20 17:54] #9712 closed

[2022-07-20 17:55] #9945 closed

[2022-07-20 18:00] danieldoglas commented on #9998
I'm discussing this on slack before giving my opinion but this will probably be blocked for now

[2022-07-20 18:07] parasharrajat commented on #9240
@marktoman found a problem https://github.com/Expensify/App/pull/9880#issuecomment-1186154298. Safari or Electron natively support paste and match style via `CMD+ALT+SHIFT+V` but we are trying to add support for `CTRL+SHIFT+V`.

They have presented a few options on the link above. Out of which I liked option 2 to keep the native shortcut on Desktop(mac) and safari.

The only problem with having tw

[2022-07-20 18:09] danieldoglas commented on #9998
Ok this is blocked for now on this project https://github.com/Expensify/Expensify/issues/215566

[2022-07-20 18:09] danieldoglas commented on #9998
I'll close this since once that project is done this will be done as well

[2022-07-20 18:09] #9998 closed

[2022-07-20 18:17] parasharrajat commented on #9497
Unfortunately, PR introduced many extra changes which were not required to fix this issue. These changes can further create confusion in the future. More https://github.com/Expensify/App/pull/9800#discussion_r925909157.

@sketchydroide Could you please revert this PR and @eVoloshchak can send a new one with minimal required changes.

[2022-07-20 18:18] thienlnam commented on #8361
@kevinksullivan Let's pay out this issue to pay them for their time but this issue has been fixed by another PR

[2022-07-20 18:19] francoisl commented on #9939
Got it, I was able to reproduce with a new account!

[2022-07-20 18:24] Julesssss commented on #10024
Ran out of time, will be finishing this tomorrow morning

[2022-07-20 18:28] marcaaron commented on #10021
seems related to https://github.com/Expensify/App/pull/9828

@MariaHCD the front end code looks good here and the linked Web-E PR is on production.

Will try to look at logs and see if there's any obvious reason why this wouldn't work.

[2022-07-20 18:32] aldo-expensify commented on #9980
Thanks @muneebahmed97 , but another proposal was already accepted. Feel free to jump in and contribute in any other issue that doesn't have a proposal assigned yet.

[2022-07-20 18:36] marcaaron commented on #10021
Seems to be throwing here:

https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%2272d79a1c5ff9305d-LAX%22)+AND+timestamp:[2022-07-19T23:32:50.671Z+TO+2022-07-20T01:32:50.671Z]&index=logs_expensify-017732

[2022-07-20 18:36] parasharrajat commented on #9938
I did some testing and you might be correct as it will be hardly visible. When the lag is visible, onLayout takes about 300ms to fire after mounting (On Dev). Looking at a different perspective, do you think we can get away from this transform implementation so we don't have to deal with this issue at all.

The next thing would be to get some videos in and test the whole app to see if the hiding l

[2022-07-20 18:37] thesahindia commented on #9508
This is an ios (app) only issue It's also reproducible on real device (just tried on iPad)

[2022-07-20 18:37] thesahindia commented on #9508
@flodnv, can we reopen this?

[2022-07-20 18:38] marcaaron commented on #10021
@kbecciv are you certain that the password entered is correct? This looks like a normal error that would throw if the password was entered incorrectly and from watching the video I think that might have happened.

[2022-07-20 18:53] kbecciv opened #10036 "[$4000] mWeb/Chrome - Request a setup call - Field inputs are overlapped by "Call me" button when the keypad opens up to edit the fields"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/ and login with any account
2. Go to Settings > Workspace > General Setting > Requ

[2022-07-20 18:57] thesahindia commented on #9980
PR is up 🚀

[2022-07-20 18:58] kbecciv opened #10038 "Desktop - Money request - Onyx JS errors after few requests to the new user and blank chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10008

## Action Performed:
1. Create and validate fresh NewDot user
2. Login

[2022-07-20 18:59] OSBotify commented on #10038
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-20 19:02] errahsoufiane commented on #9938
https://user-images.githubusercontent.com/108141252/180061013-a0159aa6-3a7c-4f54-bd79-daf9712420f4.mp4

https://user-images.githubusercontent.com/108141252/180061700-785eb616-db33-40eb-95dd-23863e73f5bf.mp4

[2022-07-20 19:05] neil-marcellini commented on #10038
Ooo yikes that's a bad one directly related to the fix for the last deploy blocker. Thank you for catching it in QA! I'll start taking a look.

[2022-07-20 19:08] mvtglobally commented on #9970
Regression is completed
Open Blockers
https://github.com/Expensify/App/issues/10016
 https://github.com/Expensify/App/issues/10021
 https://github.com/Expensify/App/issues/10024
 https://github.com/Expensify/App/issues/10038

PR https://github.com/Expensify/App/pull/9607 is failing due to https://github.com/Expensify/App/issues/9992. We are retesting and will check off
PR https://github.com/Expens

[2022-07-20 19:16] Santhosh-Sellavel commented on #9497
@sketchydroide

Yeah, @parasharrajat is correct!
Issue description introduced some unnecessary confusion.

Also retested PR once again. Found we are still missing handling entering `,` iOS & mWeb(iOS) in Reimburse page.
@eVoloshchak Need to handle this case also, in the upcoming PR.

### Earlier tested without toggling software keyboard, it works fine. Check out the video from the PR #9800 descrip

[2022-07-20 19:20] bfitzexpensify commented on #9182
OK, reposting the Upwork job [here](https://www.upwork.com/jobs/~0146a44b345763bccc), priced at $250 for the following contributors:

@adeel0202 (reporting)
@mollfpr (proposal was used in internal solution)
@mananjadhav (C+ review of proposal)

Please apply and I will pay out once that's done - thanks!

[2022-07-20 19:28] eVoloshchak commented on #9497
Will do, thank you. I think this will require changing `keyboardType` depending on the current decimal separator in [AmountTextInput](https://github.com/Expensify/App/blob/025dcf7c61f084da1f625b3aee66ef73b3e0060e/src/components/AmountTextInput.js#L40)

[2022-07-20 19:29] jasperhuangg commented on #10034
I am unable to press `Enter` to open the dropdowns on my Mac at all, so I'm unable to reproduce the issue. However after looking at the code I think this is happening because [this button has `pressOnEnter` passed to it](https://github.com/Expensify/App/blob/025dcf7c61f084da1f625b3aee66ef73b3e0060e/src/pages/settings/Profile/ProfilePage.js#L309). This is what's happening in the video:

1. You're a

[2022-07-20 19:31] jasperhuangg commented on #9970
Hi! I was assigned to #10034, and it appears to me that it isn't actually a bug and shouldn't block deploy. I've given an explanation [here](https://github.com/Expensify/App/issues/10034#issuecomment-1190670979). Am I good to close it out?

[2022-07-20 19:32] #10034 closed

[2022-07-20 19:33] Luke9389 commented on #9977
Unfortunately we don't award reporting bonuses for issues that we don't intend to complete.
In this case, the bug will be fixed by work that we were already planning to do.
Many bugs like this exist and were known, which is why we began the refactor.

Sorry to deliver that bad news! I hope you continue to report bugs and collect bonuses for them.

[2022-07-20 19:35] youssef-lr commented on #10018
cc @Puneet-here
What is the expected behavior for showing the timezone in rooms where there’s just one or two members? Screenshot below are from production, is it working as expected?
<img width="1424" alt="Screen Shot 2022-07-20 at 20 31 41" src="https://user-images.githubusercontent.com/9680864/180066746-a22b7347-a86e-4d29-aea7-3095156b4adf.png">
<img width="1420" alt="Screen Shot 2022-07-20 at

[2022-07-20 19:43] Puneet-here commented on #9727
Hey @thienlnam, I saw that there were some similar issues about button being disabled/enabled and the consensus was according to design (it is some internal design doc, was mentioned by @roryabraham) we should keep the button always enabled and we should only disable it when there is some process going on (e.g. user saves profile now we should disable the button until the profile gets updated) we

[2022-07-20 19:47] Puneet-here commented on #10018
Hi @youssef-lr, if you are the only person in the room then the timezone shouldn't be shown. If there is one more member other than you then we should see the timezone of that other user.

Note: The hasn't reached production or staging yet.

[2022-07-20 19:49] kbecciv commented on #10021
@marcaaron Yes, password is correct. Just re-test with build 1.1.85.5 and issue is reproduced.
Also noticed the payments list is not displayed when navigate to Payments.
Please attached video.

https://user-images.githubusercontent.com/93399543/180068986-5d632ec9-df0f-478f-888c-26d8aa3ba15c.mp4

[2022-07-20 19:51] Puneet-here commented on #10018
@youssef-lr, yeah we should close it. We can reopen if we see some issue.

[2022-07-20 20:03] chiragsalian commented on #7862
Not overdue, PR is still in progress.

[2022-07-20 20:18] kevinksullivan commented on #6527
Doubled

[2022-07-20 20:22] kevinksullivan commented on #8361
Paid @Santhosh-Sellavel and @Tushu17 .  @brianmuks please accept hire.

[2022-07-20 20:27] sakluger commented on #10010
This is the correct/expected behavior! We do want notifications to be enabled by default.

[2022-07-20 20:27] #10010 closed

[2022-07-20 20:36] luacmartins commented on #9662
Bumping this to a weekly while we wait for more proposals.

[2022-07-20 20:50] robertjchen commented on #9976
Proposed fix sounds good to me, let's proceed with the process 👍

[2022-07-20 20:50] neil-marcellini commented on #10038
The root problem here is that you [cannot spread an object into an array](https://stackoverflow.com/questions/52789340/in-javascript-why-can-any-value-be-spread-in-an-object-but-not-in-an-array) unless it implements the iterable protocol. We are trying to spread the `mergeValue` object into the array `data`.

Maybe the if statement condition should be `&&` not `||` @marcaaron ?
[code]

Instead of

[2022-07-20 20:51] jayeshmangwani commented on #9739
@parasharrajat

These are the few things that can be cleaned,

this code is being used 3 times in the AnchorRendere file here, we can make a separate component and can pass onPress as a prop

https://github.com/Expensify/App/blob/41346c82c6c0854e0c5bc427e9193d40723feec6/src/components/HTMLEngineProvider/HTMLRenderers/AnchorRenderer.js#L33-L38
https://github.com/Expensify/App/blob/41346c82c6c0854e0

[2022-07-20 20:54] mananjadhav commented on #8849
@laurenreidexpensify Quick bump. The regression period is complete. PR was deployed 8 days back.  For some reason title wasn't updated.

[2022-07-20 20:55] mananjadhav commented on #8927
@adelekennedy  Quick bump. The regression period is complete. PR was deployed 8 days back.  For some reason title wasn't updated.

[2022-07-20 20:57] mananjadhav commented on #9253
I am good with @ntdiary's proposal with option 1 [here](https://github.com/Expensify/App/issues/9253#issuecomment-1157562567)

🎀 👀 🎀 
C+ reviewed

[2022-07-20 20:57] mananjadhav commented on #9331
@sobitneupane Did you get a chance to look at this?

[2022-07-20 20:58] mananjadhav commented on #9421
@sketchydroide Got a chance to look at the above comment?

[2022-07-20 20:59] neil-marcellini commented on #10038
The quick fix would be to revert https://github.com/Expensify/App/pull/9878/

[2022-07-20 20:59] mananjadhav commented on #9624
@Gonals @michaelhaxhiu  Can someone please confirm this?

[2022-07-20 21:04] brianmuks commented on #8361
Done. Thanks

[2022-07-20 21:04] NasrullahUbaid040 commented on #9980
Fix this by using prop of keyboardType like this
<TextInput ... keyboardType={'number-pad'} />

[2022-07-20 21:17] chiragsalian commented on #6154
Thanks for the proposal. @rushatgabhane, will you be able to do the initial review.

[2022-07-20 21:35] adelekennedy commented on #9244
hired!

[2022-07-20 22:00] parasharrajat commented on #9739
Good point. But You are missing a small pattern. Don't worry I'll help.

Try to find what is different in all of three if blocks https://github.com/Expensify/App/blob/41346c82c6c0854e0c5bc427e9193d40723feec6/src/components/HTMLEngineProvider/HTMLRenderers/AnchorRenderer.js#L31-L37.

Only the onPress call. Right? So why don't we create a common press handler and use it?

[code]

**But your proposal

[2022-07-20 22:06] parasharrajat commented on #9244
Thanks, there is also reporting bonus for this one :smiley:

[2022-07-20 22:07] Christinadobrzyn commented on #9876
Ah sorry, @puneetlath I missed your ping about testing - https://github.com/Expensify/App/issues/9876#issuecomment-1184837886. It looks like we're moving forward with a fix!

The [original job posting](https://www.upwork.com/ab/applicants/1547270524636602368/job-details) is closed so I can't hire @Santhosh-Sellavel as the C+.

I created a duplicate Upwork posting and hired you as the C+ @Santhosh-

[2022-07-20 22:12] thienlnam commented on #9727
They can just exit out without saving and it won't change their profile picture

@roryabraham Is there a preference here? I'm along the lines of we should only enable the button if there is a change that would be made.  On the profile picture currently if you change your name the 'Save' button is enabled, but if you change it back to what it was, the 'Save' button gets disabled

[2022-07-20 22:14] adelekennedy commented on #9244
@parasharrajat to confirm are you eligible for more than the reporting bonus? I see that @rushatgabhane was assigned as the C+ and @Harshdeepjoshi was assigned as the contributor, am I missing something? Please let me know 😄

[2022-07-20 22:17] parasharrajat commented on #9244
oh, my bad. I confused this with someone else. So just for the reporting.

[2022-07-20 22:18] adelekennedy commented on #9244
Perfect - and no worries, you're juggling a ton of issues!

[2022-07-20 22:22] Karim-30 commented on #4324
@Santhosh-Sellavel Good news it works for you.

because there were more than 60 emojis that don't have the `name` field on the previous `emoji.js` i sent earlier.

I thought there is duplication [here](https://github.com/Expensify/App/blob/c15f74124edf63b8db5c16defd8672a5e2eb92e5/assets/emojis.js#L8762-L8777) but it isn't, So I gonna retrieve the deleted one.

Define methods separately instead of

[2022-07-20 22:27] robertjchen commented on #9829
It's beautiful, thanks!

[2022-07-20 22:33] marcaaron commented on #10038
Before you go down that rabbit hole. Earlier today we discovered that we are sending the wrong data type from the backend. Debugged this with @Julesssss  this morning and we added a change in this PR...

https://github.com/Expensify/Web-Expensify/pull/34278/commits/9bb9e3bce65bc44a773c3db1f4c80f2df3e3145c
https://github.com/Expensify/Web-Expensify/pull/34278/commits/1585a4894ed38b4fe25d59d519b1926

[2022-07-20 22:35] marcaaron commented on #10038
If I'm right, instead of reverting the App change - we could CP [this PR](https://github.com/Expensify/Web-Expensify/pull/34278) to production since it is `Production QA` anyway and nothing else is using the `OpenPaymentDetailsPage` yet.

[2022-07-20 22:37] shawnborton commented on #8595
Apologies, I totally missed that. I just left my review!

[2022-07-20 22:47] neil-marcellini commented on #10038
Ooooh, thanks, I had no idea. I'll close the revert PR.

[2022-07-20 22:50] jliexpensify commented on #9088
Cheers for confirming Jules, paid!

[2022-07-20 22:50] #9088 closed

[2022-07-20 22:56] neil-marcellini commented on #10038
Now that I have the latest changes for Web-E I can't reproduce on dev, so yeah CP for that PR sounds like a good idea.

[2022-07-20 23:20] srikarparsi commented on #9816
marking as external, ui issue

[2022-07-20 23:37] roryabraham commented on #9727
Yeah @Puneet-here is correct. See the [New Expensify Forms](https://docs.google.com/document/d/1DI4jQ0nyfi2JczhPT440orwlXsTP_O-aGvg-HLmcbwI/edit#bookmark=id.820d3lub0uma) doc:

For now we should try to keep consistent with these guidelines.

[2022-07-21 00:43] deetergp commented on #9628
@arielgreen I agree with @parasharrajat, let's go with @tomivs's proposal 👍

[2022-07-21 00:47] thienlnam commented on #9727
Okay sweet, in that case we don't need this issue - works as expected

[2022-07-21 00:47] #9727 closed

[2022-07-21 01:21] mvtglobally commented on #9970
To summarize outstanding issues
PR #10008 is failing due to https://github.com/Expensify/App/issues/10016 blocker
PR https://github.com/Expensify/App/pull/9828 is failing due to https://github.com/Expensify/App/issues/10021
and open Blockers
https://github.com/Expensify/App/issues/10016
 https://github.com/Expensify/App/issues/10021
 https://github.com/Expensify/App/issues/10024
 https://github.co

[2022-07-21 03:15] aldo-expensify commented on #8841
Reviewed the PR today, looks fine and I couldn't reproduce the regression mentioned [here](https://github.com/Expensify/App/pull/9706#issuecomment-1185829539). I requested a second pair of eyes to review [in slack](https://expensify.slack.com/archives/C03TQ48KC/p1658373218836159) just to be safe!

[2022-07-21 03:36] JmillsExpensify commented on #9466
Interesting, thanks for the heads up! @kbecciv can we test this flow and confirm whether it's still an issue on the latest release?

[2022-07-21 06:04] adeel0202 commented on #9977
I understand. Thanks for clarifying @Luke9389 :)

[2022-07-21 06:04] buneme commented on #9466
@JmillsExpensify thanks! I'm running it on the iOS simulator so I also tried changing my computer's time zone, but that didn't help.

[2022-07-21 06:21] adeel0202 commented on #9727
@roryabraham I still think this is a bug. @Puneet-here would be correct if this issue was happening in the workspace-settings screen, where the save button is always enabled. This issue is in the profile-settings screen where the save button is always disabled and only gets enabled when there are some unsaved changes. In this case, there are no unsaved changes, and still save button is enabled.

A

[2022-07-21 10:13] Beamanator opened #10042 "Web: Report comment date & time always shows Today, at current time (not when comment was sent)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in
2. Open a chat w/ a history of messages

## Expected Result:
Date & Time next to usernames should be accurate

## Actua

[2022-07-21 10:14] OSBotify commented on #10042
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-21 10:21] flodnv commented on #9508
@kbecciv are you able to confirm?

[2022-07-21 10:42] Beamanator commented on #10042
Looks like this was caused by: https://github.com/Expensify/App/pull/9560

There's a few places we didn't use `lodashGet` correctly

[2022-07-21 10:44] kbecciv commented on #9508
@flodnv Checking with team, will update you shortly.

[2022-07-21 10:45] Puneet-here commented on #9422
Yes, the issue is on android only.

[2022-07-21 10:46] MariaHCD commented on #10021
I tested with the same account and looks like there was an issue with setting the default payment method which is why the default badge doesn't stick.

[code]

Logs: https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%2272e2fffc6d40b8fd-DEN%22)+AND+timestamp:[2022-07-21T08:44:46.877Z+TO+2022-07-21T10:44:46.877Z]&index=logs_expensify-017754

![Screen Shot 2022-07-21 at 1 45 52

[2022-07-21 11:58] OSBotify commented on #9970
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10043) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.85-6` :rocket:

[2022-07-21 12:00] mountiny commented on #10016
This _might_ be fixed with [this CP](https://github.com/Expensify/App/pull/10043), havent got around to test this.

[2022-07-21 12:45] ntdiary commented on #9424
I've updated the issue in the `react-native-image-picker` repo a few times these days, but it seems that their maintainers are not very active, which may take us a little longer to fix this. 🙂

[2022-07-21 12:53] mountiny commented on #9424
@ntdiary Yeah, it might take a bit, but that should be fine with us. However, looking at their [Contributing guidelines](https://github.com/react-native-image-picker/react-native-image-picker/blob/main/CONTRIBUTING.md), would you be able to just create a PR with the necessary changes and maybe show some tests. I think that would speed up the process!

Thank you very much for this work!

[2022-07-21 12:59] ntdiary commented on #9424
Thanks for the suggestion, I'll try it 😄

[2022-07-21 13:16] mountiny commented on #10016
I have tested it now with the new main after the timezone fix and it seems fixed.

@kavimuru can you retest it with the latest Staging CP?

[2022-07-21 13:21] OSBotify commented on #9970
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.85-6 has been deployed to staging :tada:

[2022-07-21 13:26] Gonals commented on #10009
Not a huge deal. Setting as monthly!

[2022-07-21 13:53] flodnv commented on #9332
I will get back to this^ discussion next week.

[2022-07-21 14:07] mountiny commented on #10016
Tested in the App, I can't seem to reproduce so I will close this but still ask for double checking from Applause!

[2022-07-21 14:07] #10016 closed

[2022-07-21 14:08] mountiny commented on #9970
@mvtglobally I believe a fix for another deploy blocker also fixed this one: https://github.com/Expensify/App/issues/10016. Can you please re-test it on the latest staging version?

[2022-07-21 14:10] mountiny commented on #10038
Yeah, let's CP that Web-E PR, it makes it hard to identify other deploy blocker as problems cause by that Api changes keep showing up (but are misleading :D)

[2022-07-21 14:15] Julesssss commented on #10024
Raised a PR and I'll request a CP to prod once it's approved and merged.

[2022-07-21 14:29] parasharrajat commented on #7185
Bump :arrow_up:

[2022-07-21 15:17] arosiclair commented on #10032
Can't reproduce this in dev on the simulator, but I think this is something worth looking into maybe with a physical device. Marking as external as well

[2022-07-21 15:25] kbecciv opened #10046 "Chat - Report comment date & time always shows Today for public and phone accounts"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing CP** https://github.com/Expensify/App/pull/10043

## Action Performed:
1. Go to https://staging.new.expensify.com/
2.  Lo

[2022-07-21 15:53] #9803 closed

[2022-07-21 15:58] tylerkaraszewski commented on #10031
Seems reasonable to work on.

[2022-07-21 16:01] #9379 closed

[2022-07-21 16:03] trjExpensify commented on #9734
Great, so we're now waiting on proposals here! 🎉

[2022-07-21 16:09] parasharrajat commented on #9803
Only when the user uses a vague report Id in the url.

[2022-07-21 16:22] andrewlor commented on #9485
Testing on all platforms. I could check on ios/android/mweb to make sure there isn't any regression while attaching files, but I'm pretty sure this should not be applicable as it should not be possible to drag and drop.

https://user-images.githubusercontent.com/8475244/180258593-3b622cd4-0394-4a35-b302-4a7def0ed2b8.mov

https://user-images.githubusercontent.com/8475244/180258607-827314b7-365e-4c9

[2022-07-21 16:24] kbecciv commented on #9508
@flodnv Sorry, QA team is unable to reproduce it.

[2022-07-21 16:28] trjExpensify commented on #9816
Hm, won't this get implemented with the IOU API refactor using Pattern B? CC: @Julesssss

[2022-07-21 16:30] Julesssss commented on #9816
Yep, good spot. Closing.

[2022-07-21 16:30] #9816 closed

[2022-07-21 16:33] NicMendonca commented on #9422
Job post: https://www.upwork.com/jobs/~01a43f8db197229692

[2022-07-21 16:47] marcaaron commented on #9803
Wonder what this looks like now then after my fix haha... 🤔

[2022-07-21 16:52] Julesssss commented on #10024
Confirmed resolved with this [CP'd PR](https://github.com/Expensify/Web-Expensify/pull/34366)

[2022-07-21 16:53] Julesssss commented on #10024
@Expensify/applauseleads please retest this one. I have removed the blocker label in the meantime.

[2022-07-21 16:54] Julesssss commented on #9970
I checked off https://github.com/Expensify/App/issues/10024 as a blocker, and asked for applause to retest it.

[2022-07-21 17:07] Santhosh-Sellavel commented on #8361
@thienlnam for group name case shall we create a new issue or shall we update the description and reapply the Help Wanted label?

[2022-07-21 17:07] parasharrajat commented on #9485
cc: @puneetlath https://github.com/Expensify/App/issues/9485#issuecomment-1190472729

[2022-07-21 17:07] Santhosh-Sellavel commented on #9577
on hold

[2022-07-21 17:08] mountiny commented on #10016
Thanks!

[2022-07-21 17:09] mountiny commented on #10038
@Expensify/applauseleads Can you please retest this one? It should be hopefully fixed.

[2022-07-21 17:09] parasharrajat commented on #9466
It would great to get this info as well.
1. timezone of the device.
2. Current time of the device.
3. Selected timezone of the logined user from the profile page.
4. Selected locale.

[2022-07-21 17:14] Santhosh-Sellavel commented on #8608
@Sahil5963 Seems you are new here to get started check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) first and understand our process.

If you are interested rewrite the proposal like [this](https://github.com/Expensify/App/issues/8608#issuecomment-1186534843) with the changes you are proposing.

[2022-07-21 17:35] thienlnam commented on #8361
Current functionality is fine - we can leave it as that for now

[2022-07-21 17:35] #8361 closed

[2022-07-21 17:38] Santhosh-Sellavel commented on #8608
@metehanozyurt [proposal](https://github.com/Expensify/App/issues/8608#issuecomment-1186534843) looks good for me!
🎀 👀 🎀  C+ reviewed

cc: @puneetlath

[2022-07-21 17:39] thienlnam commented on #9727
cc @luacmartins I think we're still in the process of implementing these new form changes right? Seems like we can ignore for now until your issues come out?

[2022-07-21 17:50] bfitzexpensify commented on #9253
@ntdiary please apply [here](https://www.upwork.com/jobs/~01d2cb50e8a0ee3bab) - thank you!

@Puneet-here please apply [here](https://www.upwork.com/jobs/~0189a85c681afb7810) for the reporting bonus. (I can't find Yash's GH handle so I've DM'd them in Slack).

[2022-07-21 17:57] chiragsalian commented on #9970
Posting a summary to keep track,

@mvtglobally, can you re-test the following and update the checklist when you get the chance,
1. https://github.com/Expensify/App/pull/9878 now that https://github.com/Expensify/App/issues/10001 has passed.
2. https://github.com/Expensify/App/issues/10016
3. https://github.com/Expensify/App/pull/10008
4. https://github.com/Expensify/App/pull/10043
5. https://githu

[2022-07-21 18:00] Santhosh-Sellavel commented on #8791
Accepted invite, let's remove the `Help Wanted` label here.

cc: @AndrewGable @JmillsExpensify

[2022-07-21 18:03] mvtglobally commented on #9970
@chiragsalian We will check and update

[2022-07-21 18:04] Santhosh-Sellavel commented on #4324
@Karim-30

I didn't test this yet but looks promising, will test it and let you know.

[2022-07-21 18:06] aldo-expensify commented on #10046
Failed to reproduce, tested with a `@gmail.com`, `@expensify.com` and `@expensifail.com` accounts. I don't have a phone account at the moment to test.

[2022-07-21 18:07] Santhosh-Sellavel commented on #4324
@stitesExpensify
And can you clarify the questions asked in https://github.com/Expensify/App/issues/4324#issuecomment-1190544475

Also, can we bump this down to `Weekly`

cc: @adelekennedy

[2022-07-21 18:18] marcaaron commented on #8230
And looks like I will need to move it to Expensify/Expensify to do that 😄

[2022-07-21 18:22] marcaaron commented on #8230
Closing this in favor of https://github.com/Expensify/Expensify/issues/219592

[2022-07-21 18:22] #8230 closed

[2022-07-21 18:29] arosiclair commented on #10032
@NicMendonca unassigned you by accident!

[2022-07-21 18:35] thesahindia commented on #10046
@aldo-expensify, It got fixed by https://github.com/Expensify/App/pull/10043.

[2022-07-21 18:37] aldo-expensify commented on #10046
@thesahindia , great! thanks for letting me know :), you saved me a bunch of time .

[2022-07-21 18:40] errahsoufiane commented on #9422
https://drive.google.com/file/d/1uebEUPfwL1DEFvzRg7xGfizpwEYy8VKA/view?usp=sharing
As you see video, `Choose from gallery` doesn't support .mp4 format
But `Choose document` works
This is latest codebase from `main` branch

[2022-07-21 18:42] kavimuru commented on #10046
@aldo-expensify Still able to repro with these accounts :[kbecciv@gmail.com](mailto:kbecciv@gmail.com)/Feya87Katya
+15082211196/Feya86Katya

https://user-images.githubusercontent.com/43996225/180289622-614f8c7e-aac0-4005-bab4-65344fcc64af.mp4

![image](https://user-images.githubusercontent.com/43996225/180289626-ffdc78b8-0086-400f-8f04-0c721e47238b.png)

[2022-07-21 18:44] aldo-expensify commented on #10046
@kavimuru thanks for providing those cases, I'll test again!

[2022-07-21 18:49] aldo-expensify commented on #10046
yep, confirmed that it still happening with that account. I looked at the messages coming in the request from the server, and the `created` time is fine there... so it must be something on the front

[2022-07-21 18:57] jayeshmangwani commented on #9739
@parasharrajat Thanks for the above suggestions yes we can create a common function for this, and yes you are right my previous proposal missed the context menu part,

[code]

For contextMenu I took reference from the AnchorForCommentsOnly component and removed the email checking condition part from the first argument and used static type `CONTEXT_MENU_TYPES.LINK`
 https://github.com/Expensify/App

[2022-07-21 19:15] luacmartins commented on #9727
Yes! We can ignore this. We are currently refactoring the Profile Page to use Form as part of [this issue](https://github.com/Expensify/App/pull/9441).

[2022-07-21 19:30] mvtglobally commented on #10024
Issue is fixed.

https://user-images.githubusercontent.com/43995119/180299987-a558c038-b1f1-4b52-9de5-000357ebb885.mp4

[2022-07-21 19:30] mvtglobally commented on #9970
#[10024](https://github.com/Expensify/App/issues/10024) fixed. Checking off

[2022-07-21 19:54] michaelhaxhiu commented on #9624
Sorry for the delay, looking now.

[2022-07-21 19:58] mvtglobally commented on #10038
Issue is Fixed

https://user-images.githubusercontent.com/43995119/180304394-f953e939-66ee-43db-b812-474838010251.mp4

[2022-07-21 20:00] mvtglobally commented on #9970
https://github.com/Expensify/App/issues/10016#issuecomment-1191706411 - FIXED
https://github.com/Expensify/App/pull/10043 - Is still happening only with some accounts. Do we want to checkoff or track as blocker?
https://github.com/Expensify/App/issues/10038#issuecomment-1191878519

[2022-07-21 20:02] parasharrajat commented on #9739
Good. But you are still missing something big about AnchorForCommentsOnly and its usage in AnchorRenderer. Do we really need tooltipLinkRenderer?

[2022-07-21 20:02] chiragsalian opened #10049 "Unable to switch default payment"
## Action Performed:
1. Log into your account. Have a few VBA accounts.
2. Go to Settings -> Payments.
3. Open network tab
4. Select a non default account and attempt to set it as default.

## Expected Result:
It should have been corrected set as default.

## Actual Result:
Nothing happens, the account is not set as default and there is an error in network tab.
![image](https://user-images.githubu

[2022-07-21 20:03] chiragsalian commented on #10049
The issue is happening on production so its technically not a blocker. But it seems bad enough that if the issue is App related (which is suspect its not) it would be nice to CP it to staging so the fix is available on prod soon.

[2022-07-21 20:03] OSBotify commented on #10049
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-21 20:20] michaelhaxhiu commented on #9624
Hmm @mananjadhav I'm a little conflicted. I do think re-directing to the chat would be ideal. But would that be significantly harder to accomplish or do you feel it's a breach of scope?

This could be a good opportunity to post it in #expensify-open-source for more input, too.

[2022-07-21 20:35] chiragsalian commented on #9970
So for https://github.com/Expensify/App/pull/10043, you mention its happening only with some accounts. For the accounts facing the problem is the issue also happening on production or just staging? I believe its both but can you confirm. If so feel free to check off https://github.com/Expensify/App/pull/10043 and we'll use https://github.com/Expensify/App/issues/10046#issuecomment-1191817261 to tr

[2022-07-21 20:36] brianmuks commented on #8361
@kevinksullivan I am waiting on you 😄 . Thanks.

[2022-07-21 20:40] michaelhaxhiu commented on #9983
Upwork job link - https://www.upwork.com/jobs/~01021d4613b10840b0

Let's get this party started

[2022-07-21 21:01] mvtglobally commented on #9970
@chiragsalian You are right. Tester checked and its repro in PROD as well

Finishing up few outstanding retests now and will update in a bit

[2022-07-21 21:01] mvtglobally commented on #10000
We retested and it seem to be no longer repro

[2022-07-21 21:02] marcaaron commented on #10021
Ok. So after this conversation in Slack this is most likely happening because tester does not have an active wallet.

https://expensify.slack.com/archives/C03TQ48KC/p1658426458912309

Myself and Chirag both tested these flows with Gold wallets and it works ok. So, I think we need some better error handling. But this is not a deploy blocker.

[2022-07-21 21:03] MitchExpensify commented on #9727
Upwork post removed

[2022-07-21 21:07] danieldoglas commented on #10036
Exported

[2022-07-21 21:30] lbaldy commented on #2727
Hey @iwiznia, @mallenexpensify , @parasharrajat it seems that the change will eventually land in the react native 0.70.  A react native [0.70.0-rc.0](https://github.com/facebook/react-native/releases/tag/v0.70.0-rc.0) is available and it contains the change. I've run a basic `react-native init latestreact --version=0.70.0-rc.0` and the downloaded npm package had my changes.

[2022-07-21 21:34] chiragsalian commented on #10049
Looks like we found the issue was with gold card wallets - https://github.com/Expensify/App/issues/10021#issuecomment-1191932351. Not a deploy blocker, but cc @MariaHCD, when working on the other issue can you look into this one too. I feel like the solution for one will solve both but i want to make sure we don't forget testing this too.

[2022-07-21 21:38] chiragsalian commented on #10049
Actually maybe we can close it out since if we just implement better error handling then nothing is needed here.

[2022-07-21 21:38] #10049 closed

[2022-07-21 21:43] mountiny commented on #10038
Thanks!

[2022-07-21 21:43] #10038 closed

[2022-07-21 21:44] thesahindia commented on #10031
### Proposal
I tested this and the text also goes out of the screen.
Adding `flex: 1` at [inlineSystemMessage](https://github.com/Expensify/App/blob/d48e1474241b32b5702101ab12679d0917df410f/src/styles/styles.js#L2580) will fix that and for some spacing near the border we can pass `styles.pr2` here
https://github.com/Expensify/App/blob/d48e1474241b32b5702101ab12679d0917df410f/src/components/InlineS

[2022-07-21 21:52] chiragsalian commented on #9970
I'm checking off https://github.com/Expensify/App/issues/10021 and https://github.com/Expensify/App/pull/9828 since its working on gold wallet accounts. We've asked for further clarification in the issue on how to handle it better for silver wallet accounts.

[2022-07-21 21:55] chiragsalian commented on #9970
Okay so i think thats all from our side. Let us know when you are done testing if there is anything we are missing to tackle.

[2022-07-21 22:07] NicMendonca commented on #10032
job post: https://www.upwork.com/jobs/~0143d439bd04f56f83

[2022-07-21 22:17] tomivs commented on #9628
Awesome guys. So what's next? Should I create the PR and start working on it?

cc: @deetergp @parasharrajat

[2022-07-21 22:24] parasharrajat commented on #9628
Yup, you can or you can wait to be hired on Upwork first. But eventually you will be hired.

[2022-07-21 22:29] Christinadobrzyn commented on #9972
Testing this on an Android, I'm not able to reproduce this, the keyboard stays hidden when tapping Edit Comment and the emoji icon. Can you confirm if you still see this issue @jayeshmangwani

<img src="https://user-images.githubusercontent.com/51066321/180325014-23c5b516-aa11-4885-9234-f20692d596c4.gif" width=" 200" height="400" />

[2022-07-21 22:29] #9972 closed

[2022-07-21 22:41] marcaaron opened #10050 "[Refactor] Add better frontend validation and error handling for attachment uploads"
# Problem

- We fixed up the `AddAttachment` flow as part of https://github.com/Expensify/Expensify/issues/211241
- Some opportunities to validate in the front are left
- Backend errors that must be sent are not showing up with clear error messages e.g.

# Solution

- Investigate which errors must be sent via the server and which can be prevented via front end validation
- Document them in this is

[2022-07-21 22:44] great111lancer commented on #10032
Hello @NicMendonca

I am illia,  React-native developer from upwork,

I just checked the video.

I think on the first open gallery, it is still opened on the background.

I didn't check the app on my emulator, But if you could invite me, I will fix the issue.

Best regards.

Illia

[2022-07-21 22:57] ayanmurad987 commented on #10032
Got It 👍
same issue i was already fixed in my previous app I’ll create a PR Buy tomorrow

ref Upwork

[2022-07-21 23:48] roryabraham commented on #9240
Let's just keep it simple and just do this for now.

[2022-07-21 23:53] roryabraham commented on #9983
Is it clear to us that this is an actual bug? I don't see any problem with the link getting focused. My vote would be to just close this.

[2022-07-21 23:55] mvtglobally commented on #9970
https://github.com/Expensify/App/pull/10008 retested - passed
https://github.com/Expensify/App/pull/9878 retested - Passed
https://github.com/Expensify/App/pull/10043 is still failing with some accounts. Should I check of?

[2022-07-22 00:12] chiragsalian commented on #9970
Yup, i'll check off https://github.com/Expensify/App/pull/10043 as its reproducible on production and we have https://github.com/Expensify/App/issues/10046 to track the issue anyway.

[2022-07-22 00:30] parasharrajat commented on #9240
@marktoman Do you have any more questions?

[2022-07-22 00:31] jliexpensify commented on #9918
bump @jeet-dhandha - any progress/additional questions?

[2022-07-22 00:35] parasharrajat commented on #9983
I also vote to close it. It is not really a but. Links are a focusable target on the web. They also support tab navigation. This outline is just indicating that they are focused. Clicking anywhere on the app should hide the border.

[2022-07-22 00:36] aldo-expensify commented on #10046
There is something weird in the personal details stored for kbcciv@gmail.com

<img width="411" alt="image" src="https://user-images.githubusercontent.com/87341702/180337348-8d0190d7-1058-43c7-aa88-725b629295b6.png">

The timezone key is referencing the personal details itself

[2022-07-22 00:38] marcaaron commented on #10032
Hey everyone, If you're new to the repo please take a look at our [Contributing Guidelines](https://github.com/Expensify/App/blob/574e19de9ea6689c4e311b6b57a4a18f26d3b040/contributingGuides/CONTRIBUTING.md).

[2022-07-22 00:40] aldo-expensify commented on #10046
This is already coming bad from the server:
<img width="1017" alt="image" src="https://user-images.githubusercontent.com/87341702/180337697-372164b1-2a3a-43ab-8410-287cd617870e.png">

[2022-07-22 00:42] parasharrajat commented on #10046
It seems like DB needs scrutiny.

[2022-07-22 00:45] aldo-expensify commented on #10046
Yep, it is stored in the DB like that

[2022-07-22 00:55] parasharrajat commented on #10046
I suggest that you use a query to get all the rows like this. This also tells me that possibly personaldetails data are saved as JSON in a single column. Or DB needs normalization.

[2022-07-22 00:58] iwiznia commented on #8541
PR in review

[2022-07-22 04:01] mananjadhav commented on #9253
@bfitzexpensify I should also apply to this one right?

[2022-07-22 04:07] mananjadhav commented on #9542
@Karim-30 Thanks for your proposal, contentInset might work but it does impact even when the keyboard is not open.  I guess we don't want that.

Meanwhile, I am going to check other impacts for putting this.

[2022-07-22 04:18] mananjadhav commented on #9624
Thanks @michaelhaxhiu. Started the slack thread [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1658463458826979)

[2022-07-22 04:25] mananjadhav commented on #9983
I too agree, if clicking anywhere else doesn't remove the border then its a bug, else I don't think there's anything to do here.

[2022-07-22 04:43] ntdiary commented on #9253
@bfitzexpensify  Thanks, I have applied 🙂

[2022-07-22 05:21] jayeshmangwani commented on #9972
@Christinadobrzyn  Yes, this issue is still happening and this issue is happening in this gif too,
please check in this attached gif you will see after selecting the emoji there is a flicker happening when the composer is visible for a few seconds and then gone hidden

[2022-07-22 05:28] aldo-expensify commented on #10046
Confirmed that the bug that caused this was fixed by the PR: https://github.com/Expensify/App/pull/10043

We just have to take care of the bad timeZones that got saved into the database (will do that next)

[2022-07-22 06:11] Karim-30 commented on #9542
@mananjadhav Thank you for the review,  we can remove any impacts that happen when the keyboard is not open by using keyboard listeners `keyboardDidShow`, `keyboardDidHide`

[2022-07-22 06:14] rushatgabhane commented on #9183
We should HOLD from the titlea

[2022-07-22 06:14] rushatgabhane commented on #9183
We should _remove_ HOLD from the title

[2022-07-22 09:01] Julesssss commented on #5336
Passed QA, just awaiting deployment now 👍

[2022-07-22 12:00] marktoman commented on #9240
@parasharrajat All clear, I've pushed the final version.

[2022-07-22 12:49] kbecciv opened #10052 "Log in/Log out - Console error are showing when log in and than log out"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to https://staging.new.expensify.com/
2. Open the browser Console
3. Type your credentials
4. Go to Setting - Sign ou

[2022-07-22 12:50] OSBotify commented on #10052
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-22 13:26] MariaHCD commented on #10021
Thanks for the fix here! Agreed that we'll need better error handling here. In light of [this](https://expensify.slack.com/archives/C02HWMSMZEC/p1658356668529449) announcement, I'll also have to update the format of the error data sent to the client.

[2022-07-22 14:39] mvtglobally commented on #9970
@chiragsalian Do you think we may have deploy today or next week now only?

[2022-07-22 14:49] mountiny commented on #9970
@chiragsalian I think the last open deploy blocker does not necessarily have to be a deploy blocker as it is a console error however, it seems to not influence the App functionality. Still investigating, it must be related to some updated API.

[2022-07-22 14:53] bfitzexpensify commented on #9182
All contracts paid out and ended - thanks for the work here everyone!

[2022-07-22 14:53] #9182 closed

[2022-07-22 16:04] mountiny commented on #10052
I have confirmed locally that this has been fixed by this PR https://github.com/Expensify/App/pull/9956

We will CP it to staging now!

[2022-07-22 16:04] #10052 closed

[2022-07-22 16:51] michaelhaxhiu commented on #9983
Hm I'm in agreement with @thesahindia personally. I feel like it's not expected for that link to be highlighted or focused in this situation.

Would we want to follow this pattern across the board? Additionally, when I access a link in other chat platforms or software, this isn't the behavior that I've personally witnessed (and so it feels unexpected to me).

Shall we post this in #expensify-open-

[2022-07-22 17:27] kavimuru opened #10056 "Web - Login/Logout - JS console errors are seen during login/logout"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Reload login page and check for JS console errors
2. Login with creds
3. Log out and check for JS console errors

## Expected

[2022-07-22 17:27] OSBotify commented on #10056
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-22 17:56] kbecciv commented on #10056
Duplicate https://github.com/Expensify/App/issues/10052

[2022-07-22 17:56] #10056 closed

[2022-07-22 18:00] melvin-bot[bot] opened #10058 "[$500] 💥 Crash 💥 `completeWork`"
## Non-fatal Exception: JavaScriptError
### Text strings must be rendered within a <Text> component.
### `main.jsbundle:7200:90 line 7200` `completeWork`
### Number of Crashes: 106

## Device Information
* **Platforms:** Android, iOS
* **App Versions:** `1.1.84-13`, `1.1.85.6`, `1.1.85-8`, `1.1.86-0`, `1.1.87-9`
* **Devices:** samsung SM-S908E 12, Google Pixel 3 12, realme RMX2001 11, samsung SM-M

[2022-07-22 18:01] aldo-expensify commented on #10046
Ok, we corrected the bad `timeZone` value in the database, the account kbecciv@gmail.com (and others with the same problem) should be working fine now.

<img width="642" alt="image" src="https://user-images.githubusercontent.com/87341702/180497536-e1f6917b-711e-4d2b-92e2-c0f66ea7d4b7.png">

[2022-07-22 18:01] #10046 closed

[2022-07-22 18:38] michaelhaxhiu commented on #9240
New job links is here (old one expired) - https://www.upwork.com/jobs/~01304bd7f009c712be

Also highlighted what Rory suggested above, so we don't forget when it's time to make payment:

[2022-07-22 20:45] parasharrajat commented on #7185
@chiragsalian Awaiting your response to complete the PR.

[2022-07-22 20:55] mananjadhav commented on #9624
@michaelhaxhiu @Gonals Based on the chat [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1658504425975639?thread_ts=1658463458.826979&cid=C01GTK53T8Q), our solution for the time being would be to hide the `Copy Link` behind the betas. The Key for the beta is `BETA_COMMENT_LINKING`. Can we please have the GH body updated for the expected fix.

@errahsoufiane If you're keen on working on th

[2022-07-22 20:59] OSBotify commented on #9970
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10062) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.85-8` :rocket:

[2022-07-22 21:39] chiragsalian commented on #9970
@mvtglobally, sorry for the delayed reply. We won't be deployed today. Our next deploy should be on monday.

[2022-07-22 21:52] errahsoufiane commented on #9624
### Updated Proposal:
`    {
        textTranslateKey: 'reportActionContextMenu.copyLink',
        icon: Expensicons.LinkCopy,
        shouldShow: () => Permissions.canUseCommentLinking,
        onPress: (closePopover, {reportAction, reportID}) => {
            Environment.getEnvironmentURL()
                .then((environmentURL) => {
                    const reportActionID = parseInt(lodashGet(

[2022-07-22 22:21] OSBotify commented on #9970
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.85-8 has been deployed to staging :tada:

[2022-07-23 00:07] neil-marcellini opened #10066 "Create DateUtils.getMicroseconds()"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

# Problem
For pattern B we have decided to return errors from PHP in an object keyed by microtime as an integer. If we want to set errors in the failu

[2022-07-23 00:46] neil-marcellini opened #10067 "Create a generic "you don't have access" page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

# Problem
When you navigate to any page that you don't have access to, such as a report, we don't handle the situation gracefully. In some cases we sh

[2022-07-23 03:53] ahmdshrif commented on #10032
I also can't reproduce it on a real device and simulator.

we want to know if this is related to a specific OS version. or a specific scenario.

[2022-07-23 08:45] rushatgabhane commented on #6154
@eVoloshchak I think we shouldn't fix it.

[2022-07-23 08:47] eVoloshchak commented on #9422
**Proposal:**
This happens due to `react-native-image-picker` returning temporary file name instead of the real name of the file user has selected. This can be seen in [this](https://github.com/Expensify/App/issues/9422#issue-1269356711) screen capture too, notice how the video doesn't have an extension, it's just called `video:some_random_numbers`.
This is an open issue for both iOS and Android
h

[2022-07-23 08:54] rushatgabhane commented on #6154
`|` denotes cursor position

Expected: 123pastedNumber`|`789

Actual: 123pastedNumber789`|`

@eVoloshchak how would you fix this bug?

[2022-07-23 09:41] eVoloshchak commented on #6154
I've tried running on a real device, cannot reproduce this bug.

https://user-images.githubusercontent.com/9059945/180599821-a205ed7e-29e4-4899-add7-44f395d565e4.mp4

In https://github.com/Expensify/App/pull/7433 selection logic for `mWeb` (and everything except `iOS` for that matter) was handled via `setNativeProps`, and since we use controlled selection for all platforms, this bug doesn't appear

[2022-07-23 09:44] rushatgabhane commented on #6154
@eVoloshchak's proposal is solid!

🎀👀🎀 C+ Reviewed @chiragsalian

[2022-07-23 13:56] sobitneupane commented on #9799
Applied.

[2022-07-23 15:16] nimamt commented on #9823
**Proposal**
Handle this problem for the web platform (we don't see this bug on the android native platform/apk/google play) using the library _react-navigation_.

The final behavior of the web version is **identical** to the android native version, and fixes the bug for all popovers.

**NavigationRoot.js**
[code]
If navigation occurs when a modal is open (wrong behavior), revert that navigation a

[2022-07-23 20:47] jeet-dhandha commented on #9918
### Another Proposal:

<img width="1018" alt="Screenshot 2022-07-24 at 2 14 00 AM" src="https://user-images.githubusercontent.com/78416198/180622290-f6fd09af-d287-42eb-a13b-75c8997edf8e.png">

As i have understood we want to scroll user to top of the screen when there are selected options.
When there aren't any selected users it will stay at last available Section's index.
So the above code is wha

[2022-07-23 21:37] roryabraham commented on #10033
Also we should do this:

[code]

[2022-07-24 06:45] melvin-bot[bot] opened #10068 "💥 Crash 💥 `com.facebook.react.views.textinput.ReactEditText.<init>`"
## Fatal Exception: java.lang.NullPointerException
### Attempt to invoke virtual method 'android.graphics.drawable.Drawable android.graphics.drawable.Drawable$ConstantState.newDrawable(android.content.res.Resources)' on a null object reference
### `ReactEditText.java line 126` `com.facebook.react.views.textinput.ReactEditText.<init>`
### Number of Crashes: 2

## Device Information
* **Platforms:**

[2022-07-24 16:46] mananjadhav commented on #9331
@sobitneupane Quick reminder. @stitesExpensify Will wait for 1-2 days else I'll raise a fix for this issue.

[2022-07-24 21:12] mananjadhav commented on #9624
@errahsoufiane I don't see a function `canUseCommentLinking`, can you expand your proposal to share the implementation for the same?

[2022-07-25 03:05] errahsoufiane commented on #9624
@mananjadhav updated

[2022-07-25 03:22] danieldoglas commented on #9342
I've tried with those credentials and I succeeded trying to search and open all the reports available.

Can you provide the access for the account in the video? Maybe there's something specific in that user.

[2022-07-25 03:25] danieldoglas commented on #9342
Looking through the logs in the video, something is redirecting the user to the last report, but there are no errors logged to justify it. Will need to do a step by step debugging

[2022-07-25 03:39] kadiealexander commented on #10036
Upwork post:

https://www.upwork.com/ab/applicants/1551411585890521088/job-details
https://www.upwork.com/jobs/~01886d9f06d31bb19f

[2022-07-25 03:49] mananjadhav commented on #9624
@errahsoufiane's proposal is good. @Gonals all yours

@chiragsalian Tagging you just in case we get the betas key incorrect.

🎀 👀 🎀 
C+ reviewed

[2022-07-25 04:10] eVoloshchak commented on #9497
@sketchydroide, could you please revert https://github.com/Expensify/App/pull/9800?

[2022-07-25 04:28] kadiealexander commented on #9444
Thanks @b1tjoy! I'm not sure what happened there sorry! I've created a new job post just for this here https://www.upwork.com/jobs/~01e1db0a026ba15120 and sent you a hire request.

[2022-07-25 04:31] mananjadhav commented on #7317
I've finally started with this today. I just managed to fix the Skeleton UI issues and reworked that PR until last week.

[2022-07-25 04:36] kadiealexander commented on #9424
@ntdiary, @aswin-s and @Santhosh-Sellavel please don't forget to apply on [Upwork](https://www.upwork.com/jobs/~01b7fcbbd791dc6c42)!

[2022-07-25 04:40] kadiealexander commented on #8663
Everyone is paid! Thanks team :)

[2022-07-25 04:40] #8663 closed

[2022-07-25 04:45] kadiealexander commented on #7962
Not overdue, seeking proposals!

[2022-07-25 06:10] rushatgabhane commented on #9918
@jeet-dhandha I think @roryabraham's logic is better. It reads something like - "If options list has changed, then scroll to 0"

[2022-07-25 07:20] metehanozyurt commented on #8608
Thank you @Santhosh-Sellavel . I wil make PR today. Have a nice day.

[2022-07-25 08:23] MananGadhiyaSureshbhai commented on #7962
` _path = (__bridge_transfer NSString *)CFURLCreateStringByReplacingPercentEscapes(NULL, (CFStringRef)_path, CFSTR(""));`

 we can add the above line in RCTPdfView.m . it works for me

https://github.com/wonday/react-native-pdf/blob/cc0bee98606edeb401ed2e238132d12f252f3e5c/ios/RCTPdf/RCTPdfView.m#L120

https://user-images.githubusercontent.com/54790231/180731514-84e3b6b7-142c-418a-abc7-dedf68ba3a8

[2022-07-25 08:34] dhairyasenjaliya commented on #9928
**Proposal** (updated to prev propsal https://github.com/Expensify/App/issues/9928#issuecomment-1188922521)

**Root Cause**

- Here we are using a modal with the type of bottom_docked currently we don't have any configuration for the keyboard to avoid text input as well as modal

**Solution**

- We need to add `<KeyboardSpacer />` in PasswordPopover.js in order to solve the issue
- As here `<Keybo

[2022-07-25 08:40] trjExpensify commented on #8915
Job doubled on Upwork [here](https://www.upwork.com/jobs/~01fcac73e3ce9fa2d7).

[2022-07-25 08:40] flodnv commented on #9933
@kbecciv I am unable to reproduce on desktop web in chrome. Perhaps this is a mobile only bug?

[2022-07-25 09:42] mdneyazahmad commented on #7962
## Proposal

As the problem is well understood. We can fix it on the javascript layer in `react-native-pdf`.

https://github.com/wonday/react-native-pdf/blob/cc0bee98606edeb401ed2e238132d12f252f3e5c/index.js#L163

[code]

### Result:

https://user-images.githubusercontent.com/77761491/180747702-106978a1-f876-4df9-a5c1-6e3e34e63a6d.mov

[2022-07-25 09:46] mdneyazahmad commented on #7962
Maybe, we can apply this change only for `ios` and for file protocol. Because, other platform does not have any issue.

[2022-07-25 09:54] techievivek commented on #8589
Not overdue, will look at it once the API refactor stuffs are done.

[2022-07-25 09:57] techievivek commented on #10029
Will look into it today.

[2022-07-25 10:07] Gonals commented on #9624
The proposal looks good! @errahsoufiane, feel free to go ahead and create a PR following the steps detailed above!

[2022-07-25 10:20] mountiny commented on #9424
@ntdiary how is it looking? feel free to link the PR here!

[2022-07-25 10:28] ntdiary commented on #9424
https://github.com/react-native-image-picker/react-native-image-picker/pull/2006 🙂

[2022-07-25 11:02] Beamanator commented on #9744
Thinking we can close this since it hasn't been reproduced lately

[2022-07-25 11:03] Santhosh-Sellavel commented on #8608
@metehanozyurt let's wait for @puneetlath comments too!

[2022-07-25 12:07] MonilBhavsar commented on #9239
Still on hold

[2022-07-25 12:16] trjExpensify commented on #9252
@parasharrajat @Julesssss are we good with this proposal, what's the next step?

[2022-07-25 12:17] trjExpensify commented on #9709
PR is in review. @sketchydroide looks like it's awaiting your approval and we can merge this?

[2022-07-25 12:24] MonilBhavsar commented on #9766
Can't seem to reproduce. Feel free to reopen if issue persists and I can take a look

[2022-07-25 12:24] #9766 closed

[2022-07-25 14:25] kbecciv commented on #9342
@danieldoglas Can you try this credentials: yuriy.turbo+ch5@gmail.com/Aa111111

[2022-07-25 14:46] srikarparsi commented on #9408
^^

[2022-07-25 14:47] stitesExpensify commented on #9921
Not overdue, not reproducible

[2022-07-25 14:47] stitesExpensify commented on #9470
No update, blocked on n7

[2022-07-25 14:48] stitesExpensify commented on #8503
No updateyet

[2022-07-25 14:49] stitesExpensify commented on #8131
No update.

[2022-07-25 14:49] stitesExpensify commented on #7420
No update, focused on n7

[2022-07-25 14:53] shawnborton commented on #9744
I think that's fair, we can close and I'll reopen if I see it again.

[2022-07-25 14:53] #9744 closed

[2022-07-25 14:57] jeet-dhandha commented on #9918
Well I can’t change your perception about solutions but whatever’s best for the firm is all we need if @roryabraham’s solution is best we will go with that. 😊👍

[2022-07-25 15:04] kbecciv commented on #9933
@flodnv This issue is reproduced in all environments, only we did not check the Desktop. Please attached the videos.

https://user-images.githubusercontent.com/93399543/180809828-e8fb23d9-35d1-4b39-83ca-e56d27004cef.mp4

https://user-images.githubusercontent.com/93399543/180809862-2036b9d9-7204-4c60-beca-55ef15b1283b.mp4

https://user-images.githubusercontent.com/93399543/180809921-dad74500-36b6-4

[2022-07-25 15:05] adelekennedy commented on #9941
[internal](https://www.upwork.com/ab/applicants/1551584319245205504/job-details)
[external](https://www.upwork.com/jobs/~01d4dc67c36922b74d)

[2022-07-25 15:09] flodnv commented on #9933
Thanks 👍

[2022-07-25 15:30] mvtglobally commented on #9970
Checking. Will update in a few

[2022-07-25 15:45] michaelhaxhiu commented on #9624
@errahsoufiane just accepted you on the Upwork job. We'll stay tuned for your updates on this GH while you go 🤓

[2022-07-25 15:53] sketchydroide commented on #9827
The solution has been merged, still need to wait another week before the payment.

[2022-07-25 15:56] roryabraham commented on #9983
I mean, I agree that ideally we wouldn't see the outline here ... I was just wondering if it's a case where we should pick our battles a bit.

We can move forward with fixing this, but I'm going to make it a monthly and let's also cap its value kind of low (i.e: don't double indefinitely).

[2022-07-25 15:58] sketchydroide commented on #9509
@Santhosh-Sellavel are you happy with @metehanozyurt improved coment and solution?

[2022-07-25 15:59] roryabraham commented on #2985
Meeting with Margelo today, we are making slow-and-steady progress. Almost all the pieces are in place now

[2022-07-25 16:00] roryabraham commented on #7582
Going to just close this. Since opening this issue we've seen an increase in unit tests around this flow and also a number of regression tests added to TF.

[2022-07-25 16:00] #7582 closed

[2022-07-25 16:02] roryabraham commented on #9725
Going to pick deploy improvements back up this week. Was holding off last week to avoid disrupting App deploys – we had some big checklists to get through

[2022-07-25 16:06] roryabraham commented on #9703
No update. Probably will not get to this until next week

[2022-07-25 16:06] roryabraham commented on #9211
Still on HOLD

[2022-07-25 16:07] roryabraham commented on #9020
Prioritized Comp tool improvements last week due to the deadline being today. Picking this back up this week

[2022-07-25 16:07] roryabraham commented on #8597
Still on hold

[2022-07-25 16:09] luacmartins commented on #9970
Everything else looks good. Just waiting on QA confirmation for https://github.com/Expensify/App/pull/9956 and we should be good to deploy!

[2022-07-25 16:12] Justicea83 commented on #9509
Personally, I think it looks good

[2022-07-25 16:13] michaelhaxhiu commented on #9341
Closing per discussion in the slack thread above 👆 . This will be fixed when we re-work the `push to page` functionality (i.e. dropdowns are going away).

[2022-07-25 16:13] #9341 closed

[2022-07-25 16:15] errahsoufiane commented on #7962
@kbecciv @parasharrajat I am not able to reproduce this issue on latest codebase of `main` branch

https://user-images.githubusercontent.com/108141252/180825469-5afb3409-3b2a-492c-bfef-aee07de9c7b6.mov

If anyone still faces this issue, it would be good to share test details:
pdf file, iPhone model, iOS version

[2022-07-25 16:21] errahsoufiane commented on #7962
Nvm, I found the case. I renamed file name to have space and now able to reproduce :)

[2022-07-25 16:24] michaelhaxhiu commented on #9983
@roryabraham I'm super down with that approach of `monthly`, great call! Do you think we should cap it at $250 or $500?

(ps - I find myself doing the same approach of "pick our battles" sometimes too, and definitely get it. This is a small battle. But it feels like one worth winning for the sake of consistency -- esp if we control the pricing/priority like you suggested).

[2022-07-25 16:38] mvtglobally commented on #9970
@luacmartins checking off #9956

[2022-07-25 16:40] errahsoufiane commented on #7962
https://github.com/Expensify/App/blob/0a3a42581649d27a5e8d5f37bebddc57b89999da/src/components/PDFView/index.native.js#L37
It works fine after updating this code to
[code]

@parasharrajat please try again with this approach and if issue still exists, please share your tested pdf and filename

[2022-07-25 16:42] mananjadhav commented on #9542
@Karim-30 Can yeah we can remove the impacts but can you update your proposal to handle the change please? Also a small suggestion we have `withKeyboardState` that uses `keyboardDidShow` & `keyboardDidHide`

[2022-07-25 16:44] luacmartins commented on #9970
Cool! Checklist is clear and dashboards look good. Kicking of the deploy.

[2022-07-25 16:44] luacmartins commented on #9970
:shipit:

[2022-07-25 16:44] #9970 closed

[2022-07-25 16:48] OSBotify opened #10077 "Deploy Checklist: New Expensify 2022-07-25"
**Release Version:** `1.1.86-5`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/9294
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9423
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9589
  - [x] QA

[2022-07-25 16:53] bfitzexpensify commented on #9938
@parasharrajat it's a little unclear above - are you 👍 for this proposal, or are we still ironing out the details?

[2022-07-25 17:03] NikkiWines commented on #9975
Able to reproduce on staging and looks fine for a contributor to pick up. Adding `External`

[2022-07-25 17:04] arielgreen commented on #9628
@tomivs I do not see an application from you on the Upwork posting. Please apply so I can hire you.

[2022-07-25 17:06] mananjadhav commented on #10032
I can't reproduce this on the physical device on prod and the simulator.  @kbecciv Can you probably retest this or help with better reproduction steps?

[2022-07-25 17:11] NikkiWines commented on #9975
Oops sorry @stephanieelliott didn't mean to unassign you

[2022-07-25 17:13] michaelhaxhiu commented on #2545
Not overdue

[2022-07-25 17:15] melvin-bot[bot] opened #10078 "[$500] Error connecting UiAutomation"
## Fatal Exception: java.lang.RuntimeException
### Error while connecting UiAutomation
### `UiDevice.java line 3` `android.support.test.uiautomator.UiDevice.getUiAutomation`
### Number of Crashes: 1

## Device Information
* **Platforms:** Android
* **App Versions:** `1.1.86-0`
* **Devices:** samsung SM-G960U1 8.0.0

## Stacktraces
<details>
<summary>Android 1.1.86-0</summary>

[code]
</details>

-

[2022-07-25 17:15] michaelhaxhiu commented on #7916
Not overdue fam, but let's bump slack and/or the PR https://github.com/Expensify/App/pull/9749

[2022-07-25 17:19] tomivs commented on #9628
@arielgreen Just applied!

[2022-07-25 17:29] thienlnam commented on #8126
Same as above, @mollfpr any update on the PR revisions?

[2022-07-25 17:29] arielgreen commented on #9628
Hired!

[2022-07-25 17:29] thienlnam commented on #7917
@mdneyazahmad Any update here?

[2022-07-25 17:36] roryabraham commented on #9625
I think this may have been fixed by https://github.com/Expensify/App/pull/9643

[2022-07-25 17:37] #9625 closed

[2022-07-25 17:39] chiragsalian commented on #6154
Proposal LGTM. @eVoloshchak feel free to create the PR.

[2022-07-25 17:40] roryabraham commented on #9983
We can cap it at $500

[2022-07-25 17:42] errahsoufiane commented on #7962
https://github.com/Expensify/App/blob/712ca243a4c0b4101fb8e3c9da5aeac7132e153c/src/pages/ReimbursementAccount/ReimbursementAccountForm.js#L15
Add this line:
[code]

https://github.com/Expensify/App/blob/712ca243a4c0b4101fb8e3c9da5aeac7132e153c/src/pages/ReimbursementAccount/ReimbursementAccountForm.js#L74
Add this line:
[code]

https://github.com/Expensify/App/blob/712ca243a4c0b4101fb8e3c9da5aeac7

[2022-07-25 17:45] errahsoufiane commented on #9542
@mananjadhav do you have any thought on my previous [proposal](https://github.com/Expensify/App/issues/9542#issuecomment-1189452636)?

### **Updated Proposal**
https://github.com/Expensify/App/blob/712ca243a4c0b4101fb8e3c9da5aeac7132e153c/src/pages/ReimbursementAccount/ReimbursementAccountForm.js#L15
Add this line:
[code]

https://github.com/Expensify/App/blob/712ca243a4c0b4101fb8e3c9da5aeac7132e1

[2022-07-25 17:47] arielgreen commented on #9939
https://www.upwork.com/jobs/~017e9948d97d933e4e

[2022-07-25 17:50] tgolen commented on #6941
Two weeks have passed here, what do we think? Is it still an issue or should we close this?

[2022-07-25 17:52] mananjadhav commented on #9542
@errahsoufiane I don't see any proposal from you that describes any implementation details. In the last comment it seems you're linking @Karim-30's proposal and extending to what they have already figured out.

Thank you for taking time, but I will hear from @Karim-30's updated proposal here.

[2022-07-25 17:59] adelekennedy commented on #10031
[internal](https://www.upwork.com/ab/applicants/1551627869949890560/job-details)
[external](https://www.upwork.com/jobs/~01dfc86f3241e32fc0)

[2022-07-25 18:00] adelekennedy commented on #9459
still researching this - a few different proposals are above

[2022-07-25 18:03] aldo-expensify commented on #9980
PR merged!

[2022-07-25 18:06] aldo-expensify commented on #8841
PR merged

[2022-07-25 18:07] mollfpr commented on #8126
@thienlnam I push a new commit and just waiting for a review.

[2022-07-25 18:07] ntrepanier commented on #9974
Closing for https://github.com/Expensify/App/issues/9660

[2022-07-25 18:07] #9974 closed

[2022-07-25 18:14] OSBotify commented on #10077
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.86-0 :rocket:

[2022-07-25 18:15] kbecciv opened #10079 "Android - New Chat and New Group is broken - list of users is blank"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Tap on Fub menu

## Additional information:

## Expected Result:
New Chat

[2022-07-25 18:16] OSBotify commented on #10079
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-25 18:17] MitchExpensify commented on #7435
Still holding on https://github.com/Expensify/App/issues/7420

[2022-07-25 18:23] errahsoufiane commented on #9542
@mananjadhav I had proposed general approach and once you or any other reviewer replied, I was going to share detailed implementation with code sharing.
BTW I don't mind whose proposal is accepted for this issue (just to make project goes well) but 2 more suggestions from my updated proposal:
- No need to apply contentInset for all scroll views (FormScrollView) throughout the app. The issue happen

[2022-07-25 18:34] trjExpensify commented on #6154
Awesome, sent offer on Upwork @eVoloshchak.

[2022-07-25 18:39] eVoloshchak commented on #6154
I'm waiting on https://github.com/Expensify/App/pull/9800 to be reverted, after that I'll submit a PR

[2022-07-25 18:56] marcaaron commented on #10050
Gonna open this up to someone else as I haven't been able to make progress on it.

[2022-07-25 19:12] #9244 closed

[2022-07-25 19:18] errahsoufiane commented on #10031
### **Proposal**
https://github.com/Expensify/App/blob/c5fb8777a18ddc5b3e367d21fc012a474d3760c3/src/components/InlineSystemMessage.js#L26
update Text style by adding `flex:1`, replacing `marginLeft: 6` with `marginHorizontal: 6` in styles.js
https://github.com/Expensify/App/blob/c5fb8777a18ddc5b3e367d21fc012a474d3760c3/src/styles/styles.js#L2615
[code]
![style](https://user-images.githubuserconten

[2022-07-25 19:39] Karim-30 commented on #9542
### Updated Proposal

In src/components/FormScrollView.js :

[code]
Result :

https://user-images.githubusercontent.com/108357004/180860550-97308d97-0c14-4caa-9609-3a564e45f72e.mov

[2022-07-25 19:41] tjferriss commented on #10067
Overall I like the approach. Though does the copy in the screenshot fit all situations? What if a non-admin accesses a page they don't have access to?

[2022-07-25 19:48] errahsoufiane commented on #9542
@mananjadhav I want you to go ahead with @Karim-30 's proposal but I found one issue:
`variables.componentSizeLarge / 2` this padding is not enough when auto suggestions show:

https://user-images.githubusercontent.com/108141252/180862104-abd6f0a4-1211-4381-8cfd-4298a8946dbc.MP4

[2022-07-25 19:59] kidroca commented on #9794
I turned out that logs are not stripped from the minified `main.js` code

I've added a bunch console statements and they can all be seen in `desktop/dist/main.js` - the bundled code

I've searched a bit more and found the log file in: `~/Library/Logs/new.expensify.desktop`
The new folder name is the result of the desktop/package.json
https://github.com/Expensify/App/blob/c5fb8777a18ddc5b3e367d21fc

[2022-07-25 20:09] trjExpensify commented on #7470
[PR hit staging](https://github.com/Expensify/App/pull/9294) a couple of hours ago, Melv.

[2022-07-25 20:16] roryabraham commented on #9794
Yes! I've got them there

Nope, let's just update the documentation with the new location [here](https://github.com/Expensify/App/blob/dc4c5d67732ebce5e5d3a8dea21b5b5078578a3f/desktop/main.js#L36) and [here](https://github.com/Expensify/App/blob/dc4c5d67732ebce5e5d3a8dea21b5b5078578a3f/desktop/main.js#L41) and maybe add something to the README in the `desktop` folder about the log file. Thanks!

[2022-07-25 20:26] Luke9389 commented on #8734
I'll investigate this further this week.

[2022-07-25 20:38] marcaaron commented on #9957
I took a crack at whipping up an API endpoint for this. It should be relatively simple Github query and we can just sort them by price (most expensive first).

[2022-07-25 20:39] marcaaron commented on #9957
What information should these have? I'm thinking something like...

- price
- title
- url

Should be enough to get us going with something

[2022-07-25 20:40] Karim-30 commented on #9542
@errahsoufiane Thanks for testing.

### Updated Proposal
In src/components/FormScrollView.js :
[code]

Result :

https://user-images.githubusercontent.com/108357004/180868954-4853a4f5-40ef-4ca7-83b4-770b6456455a.mov

There is a gap below the button after closing the keyboard, it hides after making a scroll, I tried to remove this gap by `bottom: variables.componentSizeLarge / 2` but it seems not w

[2022-07-25 20:45] pecanoro commented on #10079
This happens when the keyboard is open but if the keyboard is closed, you can see the member list.

[2022-07-25 20:46] marcaaron commented on #9957
Made a draft [here](https://github.com/Expensify/Web-Expensify/pull/34404)

[2022-07-25 20:50] neil-marcellini commented on #10067
Today I figured out that we recently created very similar component in [this issue](https://github.com/Expensify/App/issues/9522). After some discussion [here](https://expensify.slack.com/archives/C02HWMSMZEC/p1658780985371179) we have decided to use that component instead and adapt it slightly for this use.

[2022-07-25 20:50] #10067 closed

[2022-07-25 21:00] pecanoro commented on #10079
I think this [PR](https://github.com/Expensify/App/pull/9895) might have broken this when changing the KeyboardAvoidingView. cc/ @jasperhuangg @marcaaron @iwiznia @arosiclair

[2022-07-25 21:00] neil-marcellini opened #10082 "Modify the FullPageNotFoundView to navigate home"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

# Problem
We created a [FullPageNotFoundView](https://github.com/Expensify/App/blob/81fbbe85b85afaf505551d2c4c3f024932a55fc5/src/components/BlockingVi

[2022-07-25 21:05] jasperhuangg commented on #10079
Ahh, the missing options list under new chat must be because of how views and flexbox are platform dependent; the view that contains the options list probably isn't growing to fill the flex container.

As for the missing FAB options I don't think they would be affected by my PR.

Regardless, I'll take a look at this first thing tomorrow when I'm back from OOO. Thanks for catching this!

[2022-07-25 21:08] tgolen commented on #10050
Here are the list of possible errors and the ones with 👍 can be moved to the front-end

- This chat room has been deleted
- 👍 Your account is currently blocked
- 👍 File could not be uploaded because it is too large (php.ini file size limit)
- 👍 File could not be uploaded because it is too large (`ReceiptAPI::SIZE_LIMIT`)
- Unexpected error with file upload (generic from PHP uploading the file)
- U

[2022-07-25 21:11] iwiznia commented on #10079
Let's revert the PR then?

[2022-07-25 21:16] jasperhuangg commented on #10077
I believe #10079 is related to a PR that I merged recently. I'm OOO today but will be able to take a look at this first thing tomorrow. Can we take this off the deploy checklist?

[2022-07-25 21:25] arielgreen commented on #9247
Paid.

[2022-07-25 21:25] #9247 closed

[2022-07-25 21:39] kavimuru opened #10083 "iOS/ Android - Payments - Tapping bank account crashes the app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Toggle the staging server
3. Tap payments > bank account

## Expected Result:
User taken to plaid

[2022-07-25 21:40] OSBotify commented on #10083
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-25 21:43] kavimuru opened #10084 "Payments - User is taken to production flow for adding Personal bank account and VBA - Toggling staging server has no effect"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com and login
2. Go to settings > preferences > toggle "use staging server"
3. Click payments > Ba

[2022-07-25 21:49] kavimuru opened #10085 "Workspace - User is unable to invite a new member under Manage members, invite message box is automatically scrolling up"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

#### Action Performed:
1. Go to staging.new.expensify.com
2. Log in with expensifail account
3. Go to Setting - Workspace
4. Click the Invite button

[2022-07-25 21:49] OSBotify commented on #10085
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-25 21:59] neil-marcellini commented on #10083
👀

[2022-07-25 22:07] luacmartins commented on #10077
@jasperhuangg not sure on what you mean by "take this off the deploy checklist". This seems like a blocker to me. We should either revert the offending PR or find a fix in time for the deploy.

[2022-07-25 22:17] jasperhuangg commented on #10077
@luacmartins sorry, that's actually  exactly what I meant! Let's go ahead and revert it, I'll take a look into a fix tomorrow.

[2022-07-25 22:23] kavimuru opened #10086 "Web - Line breaks & Text from code editor do not appear correctly within chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Sign into any valid account
3. Proceed to any chat
4. Copy and Paste "Text with Line break

[2022-07-25 22:24] OSBotify commented on #10086
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-25 22:26] luacmartins commented on #10077
Sure, wanna put up a revert? I can review it.

[2022-07-25 22:29] marcaaron commented on #10050
That looks great. I'm not exactly sure how to verify in the client if a file is too large, but there must be some way.

[2022-07-25 22:31] kavimuru opened #10087 "Payment - "You appears to be offline" is duplicated"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #9895
## Action Performed:
1. Sign into an account on NewDot.
2. Turn on your wifi.
3. Go to settings > Payment

## Expected

[2022-07-25 22:32] OSBotify commented on #10087
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-25 22:36] luacmartins commented on #9939
Hmm I couldn't reproduce this on a new account in neither `main` nor `staging`.

[2022-07-25 22:37] luacmartins commented on #9939
@kavimuru can we still reproduce this?

[2022-07-25 22:38] kbecciv opened #10088 "Android - Chat - Compose box is moving up when tap on it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Select any chat
4. Tap on compose box

## Expected Result:
Compose box is

[2022-07-25 22:39] OSBotify commented on #10088
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-25 22:40] neil-marcellini commented on #10083
I believe #9423 is causing the problem, but I haven't pinned it down exactly yet.

[2022-07-25 22:40] parasharrajat commented on #2727
We are looking forward to upgrading the app to the latest RN version. @lbaldy do share your updates as well.

[2022-07-25 22:42] kavimuru opened #10089 "Web - Emoji - Emojis picker window overlaps with the compose box"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Access any chat you prefer
3. Click on Emoji

## Expected Result:
The emojis w

[2022-07-25 22:44] lbaldy commented on #2727
As I mentioned in my previous comment I am monitoring situation on React Native release. Seems like this change is going to land in 0.70.x which is currently in RC.0 state.

@parasharrajat I know there are multiple issues that talk about react native version upgrade. Has this been decided in the internal discussions if the upgrade is supposed to happen under this issue, some other issue or interna

[2022-07-25 22:47] parasharrajat commented on #2727
Thanks for the update. I will let you know about this. we previously had discussion on the same but there were no conclusions.

[2022-07-25 22:49] lbaldy commented on #2727
Sure, thanks. I think we still have some time till 0.70.x gets official, also React Native often has some follow up minor releases right after, with critical fixes (that seems to be the case with 0.69.x).

[2022-07-25 22:50] parasharrajat commented on #2727
I expect at least a month for that.

[2022-07-25 22:54] kbecciv opened #10091 "Android - Login - The background color isn't cover login field fully after selecting autofill"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/9294

## Action Performed:
1. Open app
2. Use autofill on the login screen
3.

[2022-07-25 22:57] neil-marcellini commented on #10083
Ok, the problem is with the conditional rendering here. @nkuoch
https://github.com/Expensify/App/blob/dd5a83ec5808cd5f5757b1b114afdce294485499/src/components/AddPlaidBankAccount.js#L151-L155

If `props.plaidData.error` is an empty string then react native will render and empty string, and not the text component. The solution I used was to wrap it in parentheses, but you can also use a ternary stat

[2022-07-25 23:00] kavimuru opened #10093 "Web - LHN - User name with quotes is displayed incorrectly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre condition : The chat must have users whose name contains quotation marks
1. Go to URL https://staging.new.expensify.com/
2. T

[2022-07-25 23:24] marcaaron commented on #10088
Seems possibly related to the KeyboardAvoidingView stuff. @jasperhuangg ?

[2022-07-25 23:27] marcaaron commented on #10085
also seems also related to the KeyboardAvoidingView thing.

[2022-07-25 23:28] neil-marcellini commented on #10083
There's something else happening here where the plaid link opens twice, so if you try to close it then the second one remains open in a permanent loading state. I'll see if I can figure it out tomorrow.

[2022-07-25 23:32] kbecciv opened #10094 "Android - Payments - Debit card option Is missing under the Add payment method"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail accounr
3. Go to Setting - Payments
4. Tap on Add Payment method

## Expected Result

[2022-07-25 23:33] OSBotify commented on #10094
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-25 23:43] kadiealexander commented on #7375
On hold! Shifting to monthly while we wait.

[2022-07-25 23:46] kavimuru opened #10095 "[HOLD for payment 2022-08-11] [$250] Web - LHN - The wrong chat opens after resizing"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Resize the window to a smaller view
4. Chat with any

[2022-07-25 23:59] ahmdshrif commented on #4612
@parasharrajat   can you check this one https://github.com/Expensify/App/issues/8841#issuecomment-1159520598
someone use the same [proposal](https://github.com/Expensify/App/issues/4612#issuecomment-1129534740) that I mention here to fix another issue and that gets merged and fixes this issue !!!

I mention this root cause and this fix before it. but this one gets hold.

cc: @mallenexpensify

[2022-07-26 00:00] marcaaron commented on #10085
Uh lol

https://user-images.githubusercontent.com/32969087/180894611-8713621e-19b5-4d41-a5f0-d4b32a8b21db.mp4

[2022-07-26 00:06] marcaaron commented on #10077
Reverting https://github.com/Expensify/App/pull/9294 because it is causing the issue here https://github.com/Expensify/App/issues/10085

[2022-07-26 00:10] marcaaron commented on #7470
Unfortunately, there was a regression caused by this PR and it is being reverted now.

[2022-07-26 00:14] marcaaron commented on #10094
Just to confirm, this is only occurring on Android? And it is 100% reproducible or intermittent?

Seems this option would be hidden if the betas are not yet loaded.

Does the option appear eventually?

[2022-07-26 00:16] marcaaron commented on #10094
Seems potentially related to this -> https://github.com/Expensify/Expensify/issues/213881

https://github.com/Expensify/App/pull/9768

cc @yuwenmemon @luacmartins

[2022-07-26 00:19] marcaaron commented on #10088
I am having a hard time testing that theory because reverting [this PR](https://github.com/Expensify/App/pull/9895) comes with conflicts

[2022-07-26 00:20] marcaaron commented on #10077
https://github.com/Expensify/App/issues/10094 seems related to removing the getBetas() call

[2022-07-26 00:21] marcaaron commented on #10077
This one https://github.com/Expensify/App/issues/10088 seems related to the same PR we are talking about reverting above ([this one](https://github.com/Expensify/App/pull/9895)). Auto-revert option didn't work so it will need to be reverted and conflicts fixed.

[2022-07-26 00:36] marcaaron commented on #4612
That PR looks like it should maybe not have been sent 😬 and is a bit of a hack. At least I would have stopped it if I had seen it.

[2022-07-26 00:38] kevinksullivan commented on #8471
Paid @parasharrajat and @metehanozyurt . Thanks!

[2022-07-26 00:38] #8471 closed

[2022-07-26 00:50] ahmdshrif commented on #4612
I think using dimension can be a workaround.
but push the history (which fixes this one)  I don't think . can you please check my explanation [here](https://github.com/Expensify/App/issues/4612#issuecomment-1135465924) why it's not a workaround in the LHN case.

[2022-07-26 00:52] kbecciv opened #10097 "Android - Preferences - There is no option to choose a language"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to App and login with a applause.expensifail account
2. Navigate to Settings > Preferences

## Expected Result:
There is op

[2022-07-26 00:53] OSBotify commented on #10097
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-26 01:07] pecanoro commented on #10079
There are no missing FAB options, the problem is only the keyboard opening, I tried on my phone and I was able to reproduce so unless we want all phones with the bug I am with Ioni, we should revert the PR until we get to fix it.

[2022-07-26 01:12] marcaaron commented on #8841
I'm leaning towards a revert here, but open to other opinions. I have been discussing with @parasharrajat for a while how we should not be editing the CustomActions file (it's kind of "tech debt" at this point) and should start looking into a more maintainable solution. Is anyone opposed to a plan where we...

1. Revert the linked PR
2. Pay everyone for this investigation
3. Add this issue out to

[2022-07-26 01:13] kavimuru opened #10098 "Android - Setting - Page is jumping after tap "Add email" and unable to close account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Go to Setting - Profile
4. Tap on Add phone number or Add email Address (

[2022-07-26 01:14] OSBotify commented on #10098
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-26 01:16] kavimuru opened #10099 "Android - Workspace settings - There is no option to choose the default currency"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to App and login with a applause.expensifail account
2. Click on Create a New Workspace (if it has not been created before)

[2022-07-26 01:17] OSBotify commented on #10099
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-26 01:19] parasharrajat commented on #4612
Thanks, @ahmdshrif for bringing this up. As mentioned by Marc https://github.com/Expensify/App/issues/8841#issuecomment-1194855072, we decided to deprecate the current implementation of CustomActions that's why your proposal was not accepted at that time and this issue was put on hold.

we are yet to define a clear plan to solve navigation issues. Other PR will be reverted as well.

[2022-07-26 01:28] kavimuru opened #10100 "Android - Settings - Blank page is displayed after tapping the profile icon for a newly created account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the test app
2. In the email field, enter a Gmail email address for a new account and Continue
3. Navigate to the email i

[2022-07-26 01:29] OSBotify commented on #10100
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-26 01:29] parasharrajat commented on #9660
@sketchydroide I think we should do https://github.com/Expensify/App/issues/9660#issuecomment-1188359112 as an attachment is also and message and the user might want to copy the comment URL.

[2022-07-26 01:30] luacmartins commented on #10079
@jasperhuangg can we revert [this PR](https://github.com/Expensify/App/pull/9895) since it seems to be causing this issue?

[2022-07-26 01:44] #10085 closed

[2022-07-26 01:52] luacmartins commented on #10094
It could be related to removing the beta, but I couldn't repro on the simulator. @marcaaron did you manage to reproduce this?

[2022-07-26 01:53] luacmartins commented on #10077
Thanks for the help @marcaaron!

[2022-07-26 01:54] OSBotify commented on #10077
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10096) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.86-1` :rocket:

[2022-07-26 01:55] luacmartins commented on #10083
Nice investigation so far @neil-marcellini! Let me know if you need any help with this tomorrow!

[2022-07-26 01:59] luacmartins commented on #10088
Thanks for the updates @marcaaron. I think @jasperhuangg comes back from ooo tomorrow and will be able to assist us in reverting this?

[2022-07-26 02:00] luacmartins commented on #10097
Not sure why this one didn't get assigned to anyone. Gonna pullerbear someone.

[2022-07-26 02:06] luacmartins commented on #10098
Possibly related to https://github.com/Expensify/App/pull/9895? @jasperhuangg

[2022-07-26 02:07] luacmartins commented on #10098
@jasperhuangg I'll assign you for now, feel free to reassign if it ends up not being related to your PR.

[2022-07-26 02:07] marcaaron commented on #10098
ya seems related to KeyboardAvoidingView stuff.

[2022-07-26 02:19] luacmartins commented on #10097
I'm having a hard time reproducing this on any of the platforms. This might be related to the overall android issues we are facing. I'll come back to this one tomorrow!

[2022-07-26 02:45] mananjadhav commented on #7470
@marcaaron can you link the issue where we are tracking the regression ? I can also take a look

[2022-07-26 03:02] kavimuru opened #10104 "Chat- OpenApp does not return an Onyx update object for key: fakePolicyID with value: null after refreshing the page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #9906
## Action Performed:
1. Open your browser console
2. Sign in to the App
3. Verify that OpenApp returns an Onyx upd

[2022-07-26 03:05] kbecciv opened #10105 "IOS - Search - List of users is hidden after tap on Search icon"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Tap on Search icon

## Expected Result:
List of users is hidden after tap

[2022-07-26 03:06] OSBotify commented on #10105
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-26 03:09] OSBotify commented on #10077
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.86-1 has been deployed to staging :tada:

[2022-07-26 03:25] kbecciv opened #10106 "Android - Emoji - Change default skin tone/list of frequently used doesn't work"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/9677

## Action Performed:
1. Go to App and login with any account
2. Access a

[2022-07-26 03:26] OSBotify commented on #10106
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-26 03:28] dharmik commented on #8541
I will do it in this week. Last week there is another proposal so will do it in this week.

[2022-07-26 03:39] ahmdshrif commented on #10086
@ctkochan22 to fix this we should  replace this line
https://github.com/Expensify/App/blob/d1fda9f0b2da4db98e1e0d2c2b2f74f86d09e869/src/pages/home/report/ReportActionItemFragment.js#L123

with this
[code]

this change start in this pr https://github.com/Expensify/App/pull/9834/files

[2022-07-26 03:44] JmillsExpensify commented on #8791
Hired @Santhosh-Sellavel on Upwork. Thanks!

[2022-07-26 03:45] JmillsExpensify commented on #9466
Agreed. I'm going to try @applausebot to make sure we get a reply.

[2022-07-26 03:46] JmillsExpensify commented on #9662
I'm a little behind, but I'm bumping up to $500 nonetheless. Still waiting for proposals.

[2022-07-26 03:50] JmillsExpensify commented on #9799
Looking at the linked PR from @parasharrajat, that hit production 5 days ago. I'm not super sure why we're not seeing the normal automated comment so I'm going to add one manually. Please correct me if I've misunderstood something, thanks!

[2022-07-26 03:52] mvtglobally commented on #8927
Issue not reproducible during KI retests. (Fourth week) Are we good to close this?

[2022-07-26 03:54] mvtglobally commented on #9355
Issue not reproducible during KI retests. (Second week)

[2022-07-26 03:56] mvtglobally commented on #9741
Issue not reproducible during KI retests. (First week)

[2022-07-26 03:57] mvtglobally commented on #9747
Issue not reproducible during KI retests. (Second week)

[2022-07-26 03:59] mvtglobally commented on #9939
Issue not reproducible during KI retests. (First week)

[2022-07-26 04:00] mananjadhav commented on #8927
@mvtglobally Payments are pending for this one. We can close this out once that is through.

@adelekennedy quick reminder

[2022-07-26 04:00] mvtglobally commented on #9921
Issue not reproducible during KI retests. (Second week)

[2022-07-26 04:01] mvtglobally commented on #9926
Issue not reproducible during KI retests. (First week)

[2022-07-26 04:05] mvtglobally commented on #10017
Issue not reproducible during KI retests. (First week)

[2022-07-26 04:05] mvtglobally commented on #10024
Issue not reproducible during KI retests. (First week) @Julesssss  @MariaHCD  Are we ok to close this?

[2022-07-26 04:15] luacmartins commented on #9939
I'll close this issue if we can't reproduce for another cycle of KI retests.

[2022-07-26 04:59] jliexpensify commented on #9747
Awesome, closing!

[2022-07-26 04:59] #9747 closed

[2022-07-26 05:26] parasharrajat commented on #7962
@MananGadhiyaSureshbhai How did you test it? I am getting error while using the latest code on react-native-pdf.

[2022-07-26 06:01] MananGadhiyaSureshbhai commented on #7962
@parasharrajat we need to add this code and use patch-package for it

[2022-07-26 06:06] parasharrajat commented on #9739
@jayeshmangwani Are you still interested in this issue?

[2022-07-26 06:07] parasharrajat commented on #7962
You mean that you applied the changes to the currently installed version on react-native-pdf in our app.

[2022-07-26 06:13] rushatgabhane commented on #9422
Hmm im not too sure about @eVoloshchak's proposal

[2022-07-26 06:15] jayeshmangwani commented on #9739
@parasharrajat Sorry for some reason I am not working for the next 4-5 days, so I can not work on this, Thanks

[2022-07-26 06:20] MananGadhiyaSureshbhai commented on #7962
@parasharrajat  yes we need to change react-native-pdf which was currently installed

[2022-07-26 06:21] mananjadhav commented on #7470
@jayeshmangwani We'll have to check the regression and fix this. Its happening because onLayout is taking the full height of the View.

[2022-07-26 06:33] jayeshmangwani commented on #7470
@mananjadhav Okay I will check this regression in 2-3 days I am not working few days so , please can we wait next 3 days, Thanks

[2022-07-26 07:14] rushatgabhane commented on #9422
@kbecciv is this bug still reproducible on staging ?

[2022-07-26 07:58] flodnv commented on #10091
I can't reproduce on desktop web (google chrome, macos).
<img width="341" alt="image" src="https://user-images.githubusercontent.com/4164921/180954530-9ac06ad2-11a6-476e-ac10-81cdbbf29f6e.png">

Is this more platform specific than what is currently written in the description?

[2022-07-26 08:02] techievivek commented on #10029
Once the `AddAttachment` is refactored, I will re-look into it. From my initial inspection, it looks like for large files, a loading spinner gets rendered, but for very small file sizes it just disappears and reappears.

[2022-07-26 08:56] rushatgabhane commented on #9928
What if we use it for Android also?

[2022-07-26 09:48] mountiny commented on #9355
@kadiealexander Could you please take the job off from Upwork? Seems like this has been fixed with some of the refactorings I guess.

[2022-07-26 10:46] Julesssss commented on #10024
Yep, thank you!

[2022-07-26 10:46] #10024 closed

[2022-07-26 12:15] mdneyazahmad commented on #9459
@parasharrajat I debug this and found an issue in `react-native` https://github.com/facebook/react-native/issues/34276

This issue happens when you make controlled text input either `value or defaultValue` produces this issue.

[code]

If we want to fix this issue we have to remove these props and make uncontrolled text input or it is fixed in `react-native` itself.

[2022-07-26 12:23] kavimuru commented on #9939
@luacmartins  Not able to repro in 1.1.86-0 build.
<img width="960" alt="Screenshot (69)" src="https://user-images.githubusercontent.com/43996225/181004942-c5fb1f88-7c5e-461d-9206-d0f2fe6a007f.png">

[2022-07-26 13:07] laurenreidexpensify commented on #9817
Looks like it was reproducible this week so moving forward

[2022-07-26 13:09] laurenreidexpensify commented on #9817
https://www.upwork.com/jobs/~014f53fc107128911d

[2022-07-26 13:11] laurenreidexpensify commented on #9702
bump ^^ @MonilBhavsar

[2022-07-26 13:12] laurenreidexpensify commented on #9391
bump @MonilBhavsar

[2022-07-26 13:13] laurenreidexpensify commented on #8929
PR still in review

[2022-07-26 13:22] laurenreidexpensify commented on #8849
@mananjadhav @phuongpt so sorry here. For context Matt was unexpectedly offline and the messages in Upwork were going to him, not me. I was out for a few days so only saw this now.

@phuongpt has been paid, and @mananjadhav as soon as you accept job in Upwork will issue to you.

Again sorry folks, when teh automation failed this got lost!

[2022-07-26 13:24] adeel0202 commented on #8849
@laurenreidexpensify, I'm also expecting the reporting bonus.

[2022-07-26 13:28] mananjadhav commented on #8849
No worries @laurenreidexpensify. Thanks for helping out here. I've accepted

[2022-07-26 13:30] laurenreidexpensify commented on #7586
@marcochavezf now that the other issue is complete will we implement this one?

[2022-07-26 13:33] adeel0202 commented on #8849
While you're at it, @laurenreidexpensify please check the comment on [this issue](https://github.com/Expensify/App/issues/8934#issuecomment-1155118468) too. I have been expecting reporting bonus for that issue as well but haven't got any response for many weeks 😄

[2022-07-26 13:42] laurenreidexpensify commented on #8849
oh gosh we've lost the plot on this one 😹 on it @adeel0202 - offer sent, thanks for your patience and sorry for all the chaos here!!

[2022-07-26 13:43] adeel0202 commented on #8849
No worries 😂 accepted the offer for this one.

[2022-07-26 13:44] phuongpt commented on #8849
Thank you @laurenreidexpensify!

[2022-07-26 13:46] laurenreidexpensify commented on #8849
Okay everyone is paid :) We done :) Thanks folks

[2022-07-26 13:46] #8849 closed

[2022-07-26 14:08] kavimuru opened #10107 "[$32000] Desktop - Autofill doesn't work during login or when adding a debit card"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #9294

## Action Performed:
1. Open app
2. Use autofill on the login screen
3. Navigate to Settings>Payments>Add Debit c

[2022-07-26 14:44] danieldoglas commented on #10084
I'm not fully sure we would hide something on staging servers. Will ask this in slack.

[2022-07-26 14:53] #8648 closed

[2022-07-26 14:53] kavimuru opened #10108 "Workspace - Spanish - Decimal separator comma is missing on the keyboard and dot is non functional on keyboard"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #9800
## Action Performed:
1. Launch App and login with Expensify account
2. Change language to Spanish
3. Open Settings > W

[2022-07-26 14:58] parasharrajat commented on #4733
Bump @bfitzexpensify

[2022-07-26 15:00] parasharrajat commented on #9252
I got the update on the previous changes and we do want to enable the composer on blur on the edit box. So [proposal](https://github.com/Expensify/App/issues/9252#issuecomment-1186391894) is not valid.

[2022-07-26 15:06] parasharrajat commented on #7962
Thanks for the confirmation. We want to make these changes upstream. By upstream, the fix should be merged in the package repo. Which we will install in our app.

Though, your solution looks promising. Please feel free to submit the PR on the upstream repo and we can see if it is accepted.

[2022-07-26 15:07] michaelhaxhiu commented on #9713
paid

[2022-07-26 15:07] #9713 closed

[2022-07-26 15:11] MananGadhiyaSureshbhai commented on #7962
do you want me to raise PR in react-native-pdf?

[2022-07-26 15:31] tgolen commented on #10050
Yeah, I did some brief googling about that and came across this, which looks like it should be a pretty simple solution:

https://www.geeksforgeeks.org/validation-of-file-size-while-uploading-using-javascript-jquery/

[2022-07-26 15:31] jasperhuangg commented on #9926
Already has a PR deployed to production and QAd, closing.

[2022-07-26 15:31] #9926 closed

[2022-07-26 15:32] Santhosh-Sellavel commented on #10108
I've already found it check [here](https://github.com/Expensify/App/issues/9497#issuecomment-1190658490) this will be addressed in a followup PR.

[2022-07-26 15:38] errahsoufiane commented on #9817
### **Proposal**
https://github.com/Expensify/App/blob/151ec1ad3355cfa162ad490030f19a7134bbc076/src/pages/signin/SignInPageLayout/SignInPageContent.js#L51
This happens on devices with small screen width (isSmallScreenWidth = true) because SignInPageForm width is changing dynamically based on width sizes of child views.

**Solution:**
set SignInPageForm width statically when isSmallScreenWidth = tr

[2022-07-26 15:47] kavimuru opened #10109 "[HOLD for payment 2022-08-30] [$250] Web - Announce room - User time zone is displayed after page refresh"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com and login with expensifail account
2. Go to workspace and search for #announce
3. No time zone

[2022-07-26 15:48] parasharrajat commented on #7962
To be considered a solution for this issue.

1. You PR should be merged upstream.
2. It **Should** solve the issue in pur app after upgrading the package.
3. If 1,2 is a pass, you will have to share a proposal here of the migration plan to the new lib which **should** not break anything in our app.
4. Once the plan is approved, you will be hired and then you will have to submit a PR in our app to

[2022-07-26 15:48] #9939 closed

[2022-07-26 15:53] parasharrajat commented on #9497
A regression was found https://github.com/Expensify/App/issues/9497 from this issue's PR so let's move to revert that PR and solve that issue as well.

[2022-07-26 15:59] NikkiWines commented on #10087
Oops sorry, missed my assignment to this - was catching up from being OOO. Looking into it now

[2022-07-26 16:01] jasperhuangg commented on #10087
@NikkiWines I have a feeling it could be related to https://github.com/Expensify/App/pull/9895, which I'm about to revert. Will let you know if this fixes the problem!

[2022-07-26 16:03] bfitzexpensify commented on #4733
Ah, missed this because of the unassignment.

Upwork job is [here](https://www.upwork.com/jobs/~01e1bf8bc8edad716a)

[2022-07-26 16:04] cead22 commented on #9402
Any updates on this?

[2022-07-26 16:06] mvtglobally commented on #9466
Looking into it

[2022-07-26 16:06] Santhosh-Sellavel commented on #9509
Sorry, @metehanozyurt  missed this one out earlier!

@metehanozyurt Proposal looks good!
🎀 👀 🎀  C+ Reviewed!

cc: @sketchydroide

[2022-07-26 16:07] MananGadhiyaSureshbhai commented on #7962
PR created : https://github.com/wonday/react-native-pdf/pull/672

[2022-07-26 16:07] Santhosh-Sellavel commented on #9497
@parasharrajat  can you link the correct issue here.

[2022-07-26 16:32] NikkiWines commented on #10087
Ah, yeah, I think you're right. The `OfflineIndicator` is shown on small screens on the [`ScreenWrapper`](https://github.com/Expensify/App/pull/9895/files#diff-99bb9513f8851d01747af100af8584564a0bc8899e4cb927307df8241a3274f8R147-R151) (added in https://github.com/Expensify/App/pull/9895)  but the `OfflineIndicator` was also added to the [`BasePaymentsPage`](https://github.com/Expensify/App/commit/

[2022-07-26 16:32] michaelhaxhiu commented on #9824
All parties are paid.

[2022-07-26 16:32] #9824 closed

[2022-07-26 16:42] wildan-m commented on #9332
### Proposal

Closing parentheses is a valid URL character, so we can't ignore it.

We already have the logic to extract the URL between parentheses, but we still allow the unnecessary character to end the URL. (e.g. period)

We can solve it by only allowing certain characters to "end" the URL. Ending a URL in common punctuation marks like period, exclamation point, semicolon, etc means those char

[2022-07-26 16:54] adelekennedy commented on #8594
on hold still

[2022-07-26 16:55] adelekennedy commented on #7942
still on hold

[2022-07-26 16:55] adelekennedy commented on #7436
Still reviewing propsals

[2022-07-26 16:58] michaelhaxhiu commented on #9823
Updating job bounty to $500

[2022-07-26 17:06] chiragsalian opened #10111 "Testing something"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what act

[2022-07-26 17:07] #10111 closed

[2022-07-26 17:11] marcaaron commented on #10094
Testing on a hardware device. App feels pretty unstable...

- white screen for several seconds when logging in
- unable to tap the settings icon for many seconds later
- generally very slow

But I am able to access the Debit Card option fine.

[2022-07-26 17:12] roryabraham commented on #7942
A lot has changed since this issue was created. It's not clear to me that this is still relevant in its current form, since we now have single `OpenApp` and `ReconnectApp` API endpoints that provide personalDetails data. Furthermore, that data does not need to be transformed by the front-end at all anymore since the API provides it in the format that the front-end needs.

The caching solution that

[2022-07-26 17:15] roryabraham commented on #7094
Still not prioritizing.

[2022-07-26 17:16] marcaaron commented on #10099
Not able to reproduce this.

[2022-07-26 17:19] luacmartins commented on #10099
@kavimuru I'm also not able to reproduce this. Can you please check again?

[2022-07-26 17:23] marcaaron commented on #10106
This seems like two separate bugs. Was unable to reproduce the frequently used emojis bug. But the default skin tone feature appears to be broken completely.

[2022-07-26 17:25] Santhosh-Sellavel commented on #10031
@chiragsalian

🎀 👀 🎀 C+ Reviewed

There are two proposals here [first one ](https://github.com/Expensify/App/issues/10031#issuecomment-1191965660 )& [second one](https://github.com/Expensify/App/issues/10031#issuecomment-1191965660)

Both are good & merely similar, the only difference is 1'st proposal suggests `pr2 i.e 8 padding-right `and the second proposal suggests `marginHorizontal: 6` instead

[2022-07-26 17:26] marcaaron commented on #10100
FWIW wasn't able to reproduce this on a hardware device Galaxy S8 running latest beta version of the app.

[2022-07-26 17:28] luacmartins commented on #10094
@kbecciv could you test this again? We are having issues reproducing this on our end.

[2022-07-26 17:29] puneetlath commented on #10109
Hm, I would expect that in the announce room (or any room for that matter), you would never see timezone info for another user above the chat box. I'm going to change the expected result accordingly.

[2022-07-26 17:31] thienlnam commented on #8126
cc @parasharrajat

[2022-07-26 17:32] puneetlath commented on #10109
Internal upwork job: https://www.upwork.com/ab/applicants/1551983550045458432/job-details
External upwork job: https://www.upwork.com/jobs/~0107cf3501d9c01c60

[2022-07-26 17:32] luacmartins commented on #10097
@kbecciv I'm unable to reproduce this. Can you please test again?

[2022-07-26 17:35] michaelhaxhiu commented on #9509
@metehanozyurt @Santhosh-Sellavel @thesahindia you've been invited to the job on upwork.

[2022-07-26 17:36] luacmartins commented on #10100
I couldn't repro this on the simulator. @kavimuru can you please test this again?

[2022-07-26 17:36] danieldoglas commented on #10084
This is related to this PR: https://github.com/Expensify/App/pull/9423

Since we moved plaid's logic from web-s to web-e, changing the flag to use staging on web-s won't do anything in this flow anymore.

I'm putting this into a discussion that's happening right now about using staging env for web-e.

[2022-07-26 17:38] Santhosh-Sellavel commented on #10109
## Proposal
In this method add a check ! `isChatRoom(report)` would be enough.

https://github.com/Expensify/App/blob/92186e50db3d37064a07d0a5c9ddcf81df39d3ad/src/libs/ReportUtils.js#L319-L329

[2022-07-26 17:39] danieldoglas commented on #9342
I did try with that user but was not able to simulate.

Do you think you can generate a scenario we're it will happen 100% of the times? I'm not sure why I can't simulate it. @PauloGasparSv think you can test this out to see if it happens for you?

[2022-07-26 17:40] luacmartins commented on #10105
I could reproduce this and it seems related to the KeyboardAvoidingView changes @jasperhuangg

[2022-07-26 17:41] Santhosh-Sellavel commented on #4324
bump @stitesExpensify

[2022-07-26 17:49] kbecciv commented on #10097
@luacmartins Which app version did you use?

[2022-07-26 17:53] luacmartins commented on #10097
I tested on both 1.1.86-0 and 1.1.86-1 tested on web, desktop and ios.

[2022-07-26 17:56] luacmartins commented on #10105
Removing the `KeyboardSpacer` component from [here](https://github.com/Expensify/App/blob/92186e50db3d37064a07d0a5c9ddcf81df39d3ad/src/pages/SearchPage.js#L192) fixes the issue, but I suspect this was caused by changes in `ScreenWrapper`.

[2022-07-26 17:57] neil-marcellini commented on #10083
After further investigation it looks like the PlaidLink is rendering with the old `plaidLinkToken` before the token is cleared with [BankAccounts.clearPlaid()](https://github.com/Expensify/App/blob/054045847b49a05b107b6e28d9eea678cf657b87/src/libs/actions/BankAccounts.js#L43). So [openLink](https://github.com/Expensify/App/blob/0f38b9a0107977e2b49edef1534caf1199e08b38/src/components/PlaidLink/inde

[2022-07-26 18:08] PauloGasparSv commented on #9342
Can't reproduce it here either @danieldoglas. Also tested searching and choosing the second matching user (to see if the prob was choosing any but the first) and couldn't reproduce the error.

Firefox version: 102.0.1 (64-bit) (also tested on 98.0.1 64-bit)

https://user-images.githubusercontent.com/6564265/181079445-5ccf7e0e-739c-40c9-b068-1608b6bc3413.mov

[2022-07-26 18:16] jasperhuangg commented on #10105
@luacmartins Ah, I bet the problem is caused by the KeyboardSpacer being wrapped inside of a KeyboardAvoidingView.

[2022-07-26 18:21] Santhosh-Sellavel commented on #9707
Still reproducible wait for proposals!

[2022-07-26 18:22] Santhosh-Sellavel commented on #8608
bump @puneetlath !

[2022-07-26 18:26] chiragsalian commented on #9705
Not overdue, still waiting on proposals.

[2022-07-26 18:27] mvtglobally commented on #10097
@luacmartins We are re-testing and will update

[2022-07-26 18:29] mvtglobally commented on #10094
@luacmartins We are checking

[2022-07-26 18:33] mvtglobally commented on #10099
Checking and will update in a bit

[2022-07-26 18:33] puneetlath commented on #8608
Makes sense to me, but I'd like to check quickly with @shawnborton. Do you see any issue with adding one pixel of margin?

[2022-07-26 18:36] mvtglobally commented on #10106
@marcaaron Do you want us to log them separately?

[2022-07-26 18:39] kavimuru commented on #10100
@luacmartins We will retest and confirm.

[2022-07-26 18:40] adelekennedy commented on #8927
Hmm, do we know why the title didn't change? Happy to pay out but I'm concerned that something is broken here @deetergp

[2022-07-26 18:42] adelekennedy commented on #8927
No reporting bonus, C+: @mananjadhav, Contributor: @thesahindia

[2022-07-26 18:46] mvtglobally commented on #10097
@luacmartins Team is consistently able to reproduce the issue on the build 1.1.86-0
We are not able to upgrade Android to 1.1.86-1, as build goes back to 1.1.85-8 if you uninstall it

https://user-images.githubusercontent.com/43995119/181087046-7fd52347-2439-43b1-a7f5-328435ced950.mp4

[2022-07-26 18:47] mvtglobally commented on #10099
@luacmartins @marcaaron We are consistently able to repro on build 1.1.86-0 on Android
 We are unable to check 1.1.86-1, as build goes back to 1.1.85-8 and new version is not available to install at all

https://user-images.githubusercontent.com/43995119/181087254-55e9798a-a26f-495d-9b4a-47f3d9165b1e.mp4

[2022-07-26 18:47] shawnborton commented on #10031
I actually wonder if we want to hold off on fixing this one until some of our offline pattern styles are deployed. Basically this error style should soon be updated with just a red dot instead of the `!`

@iwiznia what are your thoughts there?

But if we do decide just to fix this quickly, I would think the padding on the right of the error text should be 20px to match the text above and below it.

[2022-07-26 18:50] kbecciv commented on #9466
@parasharrajat
1. UTC + 3
2. 19:40
3. Europe/Kyiv
4. English

[2022-07-26 18:56] shawnborton commented on #8608
I don't think we should add 1px of margin between rows.

[2022-07-26 18:58] #10083 closed

[2022-07-26 19:02] OSBotify commented on #10077
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10113) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.86-2` :rocket:

[2022-07-26 19:02] OSBotify commented on #10077
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.86-2 has been deployed to staging :tada:

[2022-07-26 19:02] puneetlath commented on #9739
Still waiting for proposals. Increasing price to $1000.

[2022-07-26 19:07] luacmartins commented on #10079
@kbecciv we reverted the PR that may have caused this issue. Can we retest and close this issue if it's a pass? Thank you!

[2022-07-26 19:13] Santhosh-Sellavel commented on #8608
Let's bump it weekly, while we wait for new proposals!
cc: @puneetlath

[2022-07-26 19:14] tgolen commented on #10050
There is already front-end validation for the max file size. My plan here is to implement a minimum file size, the file type, and add the blocked account check (I'm pretty sure that's available to access in the code already). Everything else I think is OK. The error messages that still have to come from the server are fairly descriptive, so I don't think they need changed.

[2022-07-26 19:16] andrewlor commented on #9707
## Proposal

### Problem
It seems like a bug in `@react-navigation/drawer` where the `transform: translateX(...)` and `left` properties get messed up during resizing the window, possibly because they're animated.

Essentially when the drawer is open at a mobile screen width, the left and translateX proerties should be at the same absolute value.
![Screen Shot 2022-07-26 at 12 59 38 PM](https://use

[2022-07-26 20:01] parasharrajat commented on #9739
### Proposal

I think I can finish it. I have a pretty fair plan to do it.

1. As the UI elements are same for all three conditions https://github.com/Expensify/App/blob/99d5dc3970c1ec62b55ef767349cef3fddc863ed/src/components/HTMLEngineProvider/HTMLRenderers/AnchorRenderer.js#L31-L67.

I will create a common function to navigate to different locations.

[code]
2. Now there will be only one conditi

[2022-07-26 20:02] parasharrajat commented on #9739
@puneetlath I have a proposal above.

[2022-07-26 20:09] amyevans commented on #10089
Looks like the screenshots were approved by the design team in [this PR](https://github.com/Expensify/App/pull/7580), and there haven't been any regressions to its position since then, so I'm going to close this as expected behavior.

[2022-07-26 20:09] #10089 closed

[2022-07-26 20:22] yuwenmemon commented on #10108
Okay great, assigning to you @Santhosh-Sellavel

[2022-07-26 20:29] joelbettner commented on #10095
I think this can be worked on externally.

[2022-07-26 20:31] tgolen commented on #10050
Ah, I found out we are also already handling the case where a user is blocked in Concierge.

[2022-07-26 20:33] puneetlath commented on #9485
Sounds simple and straightforward to me.

[2022-07-26 20:35] NikkiWines commented on #10087
Looks like a [revert PR](https://github.com/Expensify/App/pull/10113) for https://github.com/Expensify/App/pull/9895 has been merged and deployed to staging. Testing now to see if I can reproduce the original error

[2022-07-26 20:36] puneetlath commented on #10095
External upwork job: https://www.upwork.com/jobs/~01abd25790afa78577
Internal upwork job: https://www.upwork.com/ab/applicants/1552030017614761984/job-details

[2022-07-26 20:40] parasharrajat commented on #9332
Still in the discussion.

[2022-07-26 20:51] MitchExpensify opened #10119 "[$250] Update electron-builder package to latest version"
## Action Performed:
Check which version of electron builder is [here](https://github.com/electron-userland/electron-builder/releases/tag/v23.3.1). (You can csee what version we are using by running the command `npm list ejs`)

## Expected Result:
The version used by Expensify should match the latest version listed [here](https://github.com/electron-userland/electron-builder/releases/tag/v23.3.1)

[2022-07-26 20:52] MitchExpensify commented on #10119
Hey @Christinadobrzyn! This [issue](https://github.com/Expensify/Expensify/issues/218330#issuecomment-1188231841) was discussed here as likely a great external candidate

[2022-07-26 20:56] Luke9389 commented on #4733
Ok @parasharrajat I just want to summarize the history of this issue to be sure I understand.
This (along with a few other issues) was caused by an update [here](https://github.com/Expensify/App/pull/4047).
You were investigating it but hit a dead end.
And now you're the C+ here?

[2022-07-26 20:56] parasharrajat commented on #4733
Yup. you are correct.

[2022-07-26 20:57] Luke9389 commented on #7081
Hmm, we shouldn't be seeing the Overdue message with the Reviewing label applied 🤔

[2022-07-26 20:57] Luke9389 commented on #4733
OK perfect! Thanks for the clarification 😄

[2022-07-26 21:00] NikkiWines commented on #10087
Hmm, ok. Now looks like there's no offline indicator whatsoever since it's been removed from both [ScreenWrapper](https://github.com/Expensify/App/commit/ef9b14592940fef3cd7c4923799c642e0ec3f39c#diff-99bb9513f8851d01747af100af8584564a0bc8899e4cb927307df8241a3274f8L148-L150) and [BasePaymentsPage](https://github.com/Expensify/App/commit/ef9b14592940fef3cd7c4923799c642e0ec3f39c#diff-339a7f89041cd4c7

[2022-07-26 21:01] NikkiWines commented on #10087
Either way, though I don't think this is a blocker anymore since there's no duplication of the offline indicator anymore. Going to adjust the labels appropriately and keep it assigned.

[2022-07-26 21:10] iwiznia commented on #10031
Yeah, this will be refactored soon too, I think we should hold.

[2022-07-26 21:18] luacmartins commented on #10105
This seems to be fixed with this revert - https://github.com/Expensify/App/pull/10113. Closing this issue.

[2022-07-26 21:18] #10105 closed

[2022-07-26 21:27] luacmartins commented on #10079
This seems to have been fixed by the [revert](https://github.com/Expensify/App/pull/10113). Closing!

[2022-07-26 21:28] luacmartins commented on #10086
@ctkochan22 any updates here?

[2022-07-26 21:29] luacmartins commented on #10087
So right now we have no `You appear to be offline` message? It seems ok to remove the blocker status, but we should fix this soon.

[2022-07-26 21:31] luacmartins commented on #10088
This seems to have been fixed by [this revert](https://github.com/Expensify/App/pull/10113). Closing.

[2022-07-26 21:31] #10088 closed

[2022-07-26 21:32] marcaaron commented on #10088
ah nice was just about to do this 🎉

[2022-07-26 21:36] luacmartins commented on #10097
I was able to reproduce this on a gmail account since that account is not part of the internationalization beta and we return early here - https://github.com/Expensify/App/blob/99d5dc3970c1ec62b55ef767349cef3fddc863ed/src/components/LocalePicker.js#L45-L47

[2022-07-26 21:39] hassanShahzad commented on #9183
Proposal: It can be solved by not rendering the image in the initial HTML and loading it when it is ready.

[2022-07-26 21:42] MitchExpensify commented on #9741
Reminder to pay on August 1st assuming no regressions

[2022-07-26 21:45] marcaaron commented on #7081
also no `Overdue` label applied 🤔

[2022-07-26 21:50] luacmartins commented on #10097
@kbecciv I added `@applause.expensifail.com` accounts to the internationalization beta. These changes can take up to an hour to take effect. Let me know if you still have issues with this!

[2022-07-26 21:51] luacmartins commented on #10097
Closing this issue, since we figure out the problem!

[2022-07-26 21:53] ctkochan22 commented on #10086
The recommendation by @ahmdshrif looks good. Just making sure it doesn't conflict with the PR that introduced it

[2022-07-26 21:55] luacmartins commented on #10097
Hmm apparently `@applause.expensifail.com` accounts are already in all betas, so this shouldn't fix it. Investigating further

[2022-07-26 22:09] ctkochan22 commented on #10086
So the original issue was that when editing a message for a language written left to right, the `(edited)` splices the text right in half.

Issue: https://github.com/Expensify/App/issues/9709
PR Fix: https://github.com/Expensify/App/pull/9834

I don't know why they would replace `props.fragment.text`

[2022-07-26 22:13] dave-amit commented on #10095
I can fix it, don't know how at the time, but by exploring code I can fix it.

[2022-07-26 22:15] Christinadobrzyn commented on #10119
Just running this past eng per our triage workflow! If it's good for a contributor please add the External label!

[2022-07-26 22:18] luacmartins commented on #10098
This seems to have been fixed by [this revert](https://github.com/Expensify/App/pull/10113). Closing!

[2022-07-26 22:18] #10098 closed

[2022-07-26 22:47] #10086 closed

[2022-07-26 22:57] OSBotify commented on #10077
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10123) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.86-4` :rocket:

[2022-07-26 23:16] marcochavezf commented on #10107
I also noticed the password manager is not triggered when I enter the email in the desktop app and [here's](https://github.com/electron/electron/issues/6422#issuecomment-528900640) a discussion about a possible solution to enable autofill.

I think it's worth to make this issue `External` to see if we get a proposal to enable autofill on desktop. But feel free to close it if there's no possible so

[2022-07-26 23:48] luacmartins commented on #10097
There must be something weird going on with the betas. I tried again with the test account `[applausetester+080708@applause.expensifail.com](mailto:applausetester+080708@applause.expensifail.com)` and wasn't able to reproduce:

https://user-images.githubusercontent.com/22219519/181131183-03f15618-41be-435c-b4a6-5a90a84646c5.mov

[2022-07-26 23:52] luacmartins commented on #10106
I was unable to reproduce the frequently used emojis bug, but setting the skin tone seems broken. It immediately reverts back to the default.

cc @danieldoglas since you seem to have implemented the `updatePreferredSkinTone` command.

[2022-07-26 23:57] mvtglobally commented on #10077
@luacmartins Regression is completed
PR https://github.com/Expensify/App/pull/9294 Is failing due to https://github.com/Expensify/App/issues/10107. Not a blocker checking off
PR https://github.com/Expensify/App/pull/9423 is failing due to  https://github.com/Expensify/App/issues/10083. We will retest on the newest build
PR https://github.com/Expensify/App/pull/9589#issuecomment-1194410190 - Intern

[2022-07-27 00:00] neil-marcellini commented on #10066
After thinking about this more, sorting by microtime strings doesn't work well and I think we should send milliseconds from PHP. Commented in slack here https://expensify.slack.com/archives/C02HWMSMZEC/p1658879940460899

[2022-07-27 00:01] chiragsalian commented on #10031
Sounds good, demoting, placing HOLD and removing external and help wanted label for now.

[2022-07-27 00:04] ahmdshrif commented on #9739
I was preparing a proposal like your proposal.
the only addition you will need is to add
`href={!this.props.onPress ? this.props.href : undefined}`  on BaseAnchorForCommentsOnly/index to prevent internal  link  on web form open 2 times .

[2022-07-27 00:21] OSBotify commented on #10077
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.86-4 has been deployed to staging :tada:

[2022-07-27 00:23] luacmartins commented on #10106
hmm changing the return type from string to integer seems to fix the issue, but I'm not sure why since we seem to either accept string or int in App 🤔

[2022-07-27 00:29] kadiealexander commented on #9355
It had automatically closed anyway. Should I close this issue?

[2022-07-27 00:29] luacmartins commented on #10106
The issue seems to be this `===` [here](https://github.com/Expensify/App/blob/ce229bc1812ded576ce29d007fa3c03be8d1cd75/src/components/EmojiPicker/getSkinToneEmojiFromIndex.js#L10). If we are passing a string instead of int, we should not check for type. So a few possible solutions:

1. Update Web-E to send int instead of string
2. Update that equality to just `==`
3. Update the `skinTone` key [her

[2022-07-27 00:56] luacmartins commented on #10106
Hmm so 3 is not really an option since that NVP seems to be saved as an int and returned as such in OpenApp, which would break that functionality. I'm not a big fan of using `==`, so I think the solution is to remove the blocker label and make these changes in Web-E.

Web-E PR [here](https://github.com/Expensify/Web-Expensify/pull/34424). Removing blocker label.

[2022-07-27 00:58] mvtglobally commented on #10094
Issue is repro

https://user-images.githubusercontent.com/43995119/181137616-934e37fc-5e68-4d5f-a7ae-587a8f432a70.mp4

[2022-07-27 00:59] mvtglobally commented on #10100
@luacmartins Issue is still repro on the original build, we will recheck once Android build is updated and available

https://user-images.githubusercontent.com/43995119/181137735-419a60a5-e46c-4f0a-badb-49fb812acf14.mp4

[2022-07-27 01:18] luacmartins commented on #10104
Hmm this is likely to the fact that we pass an empty list to the server [here](https://github.com/Expensify/App/blob/99d5dc3970c1ec62b55ef767349cef3fddc863ed/src/libs/actions/App.js#L130). We should probably fix that and only send non-empty lists. @marcochavezf do you want to take this one?

[2022-07-27 01:51] danieldoglas commented on #10106
That's my bad. After some discussion, I decided that the changes for NVPs were not necessary to test in all platforms before opening the PR, but it looks like I was wront.

[2022-07-27 01:56] luacmartins commented on #10106
No worries! I created a PR to fix this in Web-E.

[2022-07-27 02:28] kbecciv opened #10127 "Web/Desktop - Split bill- Own contact gets highlighted when you press down arrow and the highlight goes out of the screen when press down arrow @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com and log in
2. Go to a Group conversation
3. Click actions > split bill > enter amount

[2022-07-27 03:24] tomivs commented on #9628
Just opened the PR. Waiting for your reviews and testing.

[2022-07-27 04:05] rushatgabhane commented on #9817
@errahsoufiane hmm, will all small devices use a width of 335?

[2022-07-27 04:11] olya-ivanochko commented on #9817
yes, I think it's no problem since that value is bigger than the smallest mobile device (android: 360, iPhone: 375)

[2022-07-27 04:13] errahsoufiane commented on #9817
yes I think it's no problem since it's even bigger than smallest device width (android: 360, iphone: 375)

[2022-07-27 04:26] syedsaroshfarrukhdot commented on #10095
**Proposal**

https://github.com/Expensify/App/blob/151ec1ad3355cfa162ad490030f19a7134bbc076/src/libs/Navigation/AppNavigator/BaseDrawerNavigator.js#L44
https://github.com/Expensify/App/blob/151ec1ad3355cfa162ad490030f19a7134bbc076/src/libs/Navigation/AppNavigator/BaseDrawerNavigator.js#L48

The problem is the defaultStatus was set in intial state but was never updated  when screen resizes  to wid

[2022-07-27 04:57] aneequeahmad commented on #9252
@parasharrajat Oh alright i didn't know that [this](https://github.com/Expensify/App/issues/9252#:~:text=we%20do%20want%20to%20enable%20the%20composer%20to%20blur%20on%20the%20edit%20box) is a feature and we want to enable the composer to blur

Updated proposal###

**Problem**

- We need to not run  `toggleReportActionComposeView(true, VirtualKeyboard.shouldAssumeIsOpen());` on blur as another but

[2022-07-27 05:18] aneequeahmad commented on #6941
I can still reproduce this issue on `Huwawei A-9`

cc" @tgolen @parasharrajat

[2022-07-27 05:58] yuwenmemon commented on #10022
Hmmm... I'm actually confused as to why we think this is a bug? Adding a contributor manager to give a second opinion

[2022-07-27 05:58] parasharrajat commented on #6941
Good @aneequeahmad. Could you please record a video and reproduction steps in detail? They can be technical as well.

[2022-07-27 06:00] yuwenmemon commented on #9819
Hmmm.. Probably something we need to take care of with a Pusher fix.

[2022-07-27 06:08] rushatgabhane commented on #9817
@errahsoufiane cool.

In your video, I noticed that the width of the page content is still changing.

[2022-07-27 06:11] errahsoufiane commented on #9817
Oh, that video is not real app play but combination of 4 screenshots:
- before fix 1.png (not showing error before fix)
- before fix 2.png (showing error before fix)
- fix 1.png (not showing error after fix)
- fix 2.png (showing error after fix)

[2022-07-27 06:15] rushatgabhane commented on #10095
@syedsaroshfarrukhdot the expected result is that the user is returned to LHN (Left hand navigator / page with all the chats)

But your proposal returns to a chat

[2022-07-27 06:23] rushatgabhane commented on #9817
Oh haha, didn't notice that all.

@errahsoufiane galaxy fold has a width of 280px, so the login page would break.

[2022-07-27 06:46] errahsoufiane commented on #9817
@rushatgabhane you're right. As far as I am testing, this happens only on iOS. Android works fine. tested on multiple devices.
so my **updated proposal** is:

https://github.com/Expensify/App/blob/151ec1ad3355cfa162ad490030f19a7134bbc076/src/pages/signin/SignInPageLayout/SignInPageContent.js#L51
[code]

https://github.com/Expensify/App/blob/151ec1ad3355cfa162ad490030f19a7134bbc076/src/styles/style

[2022-07-27 08:21] flodnv commented on #7942
Thanks for the update, sounds great to me 👍 I think we should do `#2` and then evaluate if we need `#1` at all, as it will be much more challenging (has already been done a handful of times, so we're running out of options, but this is not to say that it's impossible)

[2022-07-27 08:38] MariaHCD commented on #10087
This sounds good to me!

[2022-07-27 08:45] mountiny commented on #9355
NO, I will :)

Thank you!

[2022-07-27 08:45] #9355 closed

[2022-07-27 08:57] Gonals commented on #10119
I think it can be!

[2022-07-27 10:15] trjExpensify commented on #7855
Yeah, I thought the animation on switching might help. That said, I was checking in on the skeleton UI PR and noticed this comment:

That prompted me to retest this issue to try and reproduce it and I can't (prod `v1.1.85-8` chrome web, ). The chat input loads consistently when switching chats and doesn't disappear.

I'm presuming the API refactors has taken care of this, does someone else on this

[2022-07-27 10:27] mountiny commented on #7855
I think you can close this one out and if this comes back as a persisting problem, we could re-open.

I have also tried to reproduce it and I could not really get any significant UI jumps or anything weird. I think by focusing on it too much I could see like a dropped frame where it has disappeared, but I would definitely not notice it during a normal use. Feel free to close this one out @trjExpen

[2022-07-27 10:43] trjExpensify commented on #7855
Cool, thanks @vitHoracek. Done!