[2021-07-23 08:03] laurenreidexpensify commented on #4147
@rdjuric pls submit a proposal in Upwork and I will hire you there so you can get started on the PR

[2021-07-23 08:07] HorusGoul commented on #4036
Will work on this next week

[2021-07-23 09:06] kp17211 commented on #4155
Hi,  we can achieve by trim()
submitted proposal on upwork.

[2021-07-23 09:23] kp17211 opened #4189 "Multiline text and attachement not showing in chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
select any chat and go to detail screen
write two or more line and send or attach any image and send.

## Expected Result:
App should show  multi li

[2021-07-23 10:14] HorusGoul commented on #4007
This will require a Native implementation. I saw we talked with the UA team, and they provided an [example](https://gist.github.com/rlepinski/d82229595538d897acc35fa294f35e3f) that we can adapt to what we need.

I'll work on this next week. I believe we can build something nice with the current payload we're getting with each notification.

[2021-07-23 12:35] NicMendonca commented on #3901
@rdjuric bump! Please let us know if you are still interested in submitting a proposal.

[2021-07-23 14:29] conorpendergrast commented on #4005
Ah, sorry I missed this, it wasn't showing up correctly for me until today. I'll get someone to reproduce this on Android (I'm on iOS) and will have them post in here!

[2021-07-23 14:51] SofiedeVreese commented on #3867
I don't think we have any updates here. @thienlnam should we close this GH or is there still an ongoing discussion? I was assigned as part of the "external" label (= to push it to Upwork) but I'm not sure if my assignment is still relevant here.

[2021-07-23 15:07] kevinksullivan commented on #3296
@rdjuric want to submit a proposal so I can hire you for this?

[2021-07-23 15:10] kevinksullivan commented on #4086
@aliabbasmalik8 job posted on Upwork [here](https://www.upwork.com/jobs/~0160db3f9cb69e2f03). Please submit a proposal and I'll hire you!

[2021-07-23 15:15] kevinksullivan commented on #3770
@dklymenk when you get a chance please submit a proposal to the [upwork post](https://www.upwork.com/jobs/~016bcd2619ff78e4ea) so I can hire you.

[2021-07-23 15:23] dklymenk commented on #3770
@kevinksullivan I have withdrawn my proposal. I thought I could resubmit it, but I can no longer submit it now...

Is it possible for you to invite me directly? https://www.upwork.com/freelancers/~01ab1cc8748e129eaa

[2021-07-23 16:47] aliabbasmalik8 commented on #4086
@kevinksullivan applied for the JOB. Thanks

[2021-07-23 16:56] marcaaron commented on #4027
Gonna send a PR to switch iOS over to Hermes initial testing looks promising! Not a silver bullet, but definitely improved boot time. The hermes build is on the right and was tested on an iPhone 8 against the production API.

https://user-images.githubusercontent.com/32969087/126815732-f8f8cedc-9cbd-4ffa-a66f-627e500ae439.mp4

[2021-07-23 16:59] AndrewGable commented on #4027
Wow- Looks great!

[2021-07-23 17:22] rdjuric commented on #3296
I already submited a proposal in the job you linked! Not sure if you can see it on this link, but [here it is](https://www.upwork.com/ab/proposals/1417589745204658177)

[2021-07-23 17:26] thienlnam commented on #3867
Discussion has mainly halted - here is where we're at with the last comment from @kidroca

Going to be looking into this in the next couple of weeks but if someone else would like to dig into this feel free!

[2021-07-23 17:32] AndrewGable commented on #2748
I've been following the external issues and I haven't seen any updates.

[2021-07-23 18:15] helaoutar commented on #4132
Can you please hire me for this one so that I can start working on it?

[2021-07-23 18:20] robertjchen commented on #4184
Looks great from an engineering standpoint 👍

[2021-07-23 19:10] thienlnam commented on #3981
Still having trouble getting consistent reproduction steps for this - with how random it is maybe it has to do with having instances on other devices and an older set of data overwriting the newer data

[2021-07-23 19:43] isagoico commented on #4046
@Jag96 So sorry for the delay, just got home after the flights. Yep we can check off the Cherry Picks and the Update versions (just took care of that)
These two need to be checked off (since they were CPd):
- https://github.com/Expensify/App/pull/4131
- https://github.com/Expensify/App/pull/4143

https://github.com/Expensify/App/issues/4074 can be checked off if https://github.com/Expensify/App/pu

[2021-07-23 19:44] tugbadogan commented on #4188
Hi,

I would like to work on this issue. Here is my proposal:

- I will add following regex rule  for blockquote HTML to markdown conversion to `htmlToMarkdownRules` array in ExpensiMark library.

[code]

https://github.com/Expensify/expensify-common/blob/7d8408c5c78792394eee8e079f115b1380221a23/lib/ExpensiMark.js#L167-L174

- Also I will add unit test for this conversion to ExpensiMark-Markdown-t

[2021-07-23 20:00] tugbadogan commented on #4184
Hi,

I would like to work on this issue. Here is my proposal:

- I will add following regex rule  for code fence HTML to markdown conversion to `htmlToMarkdownRules` array in ExpensiMark library.

[code]

https://github.com/Expensify/expensify-common/blob/7d8408c5c78792394eee8e079f115b1380221a23/lib/ExpensiMark.js#L167-L174

- Also I will add unit test for this conversion to ExpensiMark-Markdown-t

[2021-07-23 20:17] deetergp commented on #4022
@marcaaron Just so I understand, you are suggesting that we:
* Get rid of the loading spinner
* Render the initial number of chats based on the vertical viewport height
* Then finally backfill _n_ number of chats after that initial number loads?

Is that correct?

[2021-07-23 20:39] isagoico commented on #4074
Retested this after https://github.com/Expensify/App/pull/4143 was CPd and it was a pass 🎉 Closing the issue

[2021-07-23 20:39] #4074 closed

[2021-07-23 20:44] isagoico commented on #4046
@AndrewGable @Jag96 I retested both the CPd PRs and the missing deploy blocker issue and it was a pass 🎉 All items are checked and we should have a green light to do a prod deploy.

Only thing that worries me a bit is this issue https://github.com/Expensify/App/issues/4066 which I'm still able to reproduce on Windows 10 (only on staging) but it was discarded as Deploy blocker.

[2021-07-23 20:47] AndrewGable commented on #4046
I agree that issue does look relevant still, but I agree we can move forward with a production deploy with that known issue.

[2021-07-23 20:50] AndrewGable commented on #4046
:shipit:

[2021-07-23 20:50] isagoico commented on #4046
Also.. I was thinking maybe we could get a notification to @Expensify/applauseleads every time there are Cherry Picks that need QA (from us), currently I have to manually check if there has been any CPs and I could take a while before noticing there was one. Let me know what you think guys think, I'm sure it would help us to retest the fixes faster 😬.

[2021-07-23 20:52] AndrewGable commented on #4046
:shipit:

[2021-07-23 20:52] #4046 closed

[2021-07-23 20:57] OSBotify opened #4198 "Deploy Checklist: Expensify.cash 2021-07-23"
**Release Version:** `1.0.80-2`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/3890
- [x] https://github.com/Expensify/Expensify.cash/pull/4018
- [x] https://github.com/Expensify/Expensify.cash/pull/4019
- [x] https://github.com/

[2021-07-23 21:07] isagoico opened #4199 "New Expensify is failing to notify the user when an update is available"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Use the app while there's a new build available.

## Expected Result:
There should be a notification that tells the user there is a new update av

[2021-07-23 21:31] isagoico opened #4200 "[Pay 8/27] Long pressing on iOS shows native menu instead of action menu"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app in iOS
2. Navigate to a conversation
3. Long press on a message

## Expected Result:
App action menu should be displayed.

## Actual Res

[2021-07-23 21:34] quinthar commented on #4027
Wow, nice!

On Fri, Jul 23, 2021 at 9:57 AM Marc Glasser ***@***.***>
wrote:

[2021-07-23 21:45] Luke9389 commented on #3798
I'm going to be OOO for all of next week, so I can get back to this after that

[2021-07-23 21:45] Luke9389 commented on #3952
I'll be out of office all week next week, so I'll be able to return to this after that.

[2021-07-23 21:46] Luke9389 commented on #3841
I'll be out of office all of next week so I'll be able to come back to this after that.

[2021-07-23 22:14] isagoico commented on #4198
Starting QA 🚀

[2021-07-23 22:56] mallenexpensify commented on #4022
@marcaaron it appears you're working on this but you're not assigned.  Any reason @kevinksullivan shouldn't double this on Upwork? It's only $250 now and it's been 9 days

[2021-07-23 22:59] rdjuric commented on #4147
Done @laurenreidexpensify

[2021-07-23 23:08] marcaaron commented on #4022
@mallenexpensify I'm going to make this more of a tracking issue and myself if you want to cancel the Upwork gig. This has become more of a discussion at this point and will need to be addressed by several smaller issues.

[2021-07-23 23:10] marcaaron commented on #4022
@deetergp yes, that's the idea @rdjuric had. I think maybe we can create a new issue for it.

[2021-07-23 23:12] MitchExpensify commented on #4187
Replicated! Looks like a good external issue right @Jag96?

[2021-07-23 23:21] stitesExpensify commented on #4171
Hmm @kevinksullivan Is the wallet balance always in USD? Or should we localize it?

[2021-07-23 23:26] rdjuric commented on #3897
Any updates here @Luke9389 @stitesExpensify?

[2021-07-23 23:45] mallenexpensify commented on #4022
Job is closed/removed in Upwork (also checked and `Help Wanted` label is on this issue)

[2021-07-24 00:16] NicMendonca commented on #3419
@NikkiWines should I cancel/ close the job on Upwork?

[2021-07-24 04:20] kavimuru opened #4207 "Web - Settings - Dropdown symbol overlaps with text in the box"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Go to Settings - Preferences
3. Select any drop down

## Expected Result:
Drop downs in Preferences p

[2021-07-24 04:21] OSBotify commented on #4207
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-24 04:28] kavimuru opened #4208 "IOU - A dot appears at the end of the currency for SOS and BTN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account
3. Click on Plus Green button
4. Click Request
5. Tap/click on the currency
6.

[2021-07-24 04:33] kavimuru opened #4209 "Emails are displayed in LHN instead of names"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with phone number (Account A)
3. Find a user you like to chat and send a message (Account B)/ o

[2021-07-24 04:37] kavimuru opened #4210 "iOS - Chat - User icon flickers when sending a message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and Log in
2. On a conversation, click on the + button in the compose box
3. Send a message

## Expected Result:
When sending the

[2021-07-24 04:38] OSBotify commented on #4210
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-24 09:28] parasharrajat commented on #4207
it is am regression.

[2021-07-24 11:48] kp17211 opened #4211 "[HOLD for payment 2021-12-06] The Android hardware back button does not minimise the app when pressed on the LHN/home screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Click on an a chat from the LHN
2. Once you're in the chat, press the back button to navigate back to the LHN/home screen
3. From the LHN/home s

[2021-07-24 12:16] isagoico commented on #4209
I have been able to reproduce this issue from time to time. Here's some extra information.

1. We don't have solid reproduction steps but I have noticed this happens after having a session open after a long time.
2. All conversations in LHN are affected by this.
3. If you open the conversation, the correct name and last name is displayed in header and in LHN

I will try to get this on video and po

[2021-07-24 12:26] isagoico commented on #4209
Got it on video 🎉

https://user-images.githubusercontent.com/44479856/126868358-9acd6b53-fbcd-499b-9bfa-24c04475a7b9.mp4

[2021-07-24 12:30] isagoico commented on #4208
Not sure if this is a deploy blocker or expected 🤔 These currencies are not displayed in production, I'll add the DB label so it's reviewed CC @andrew

[2021-07-24 12:30] OSBotify commented on #4208
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-24 13:09] isagoico opened #4212 "Ping ApplauseLeads when there's a Cherry Pick"
For the past deploy checklists there has been some cherry pick PRs that need QA. When these are CPd to fix a deploy blocker there's no notification (for us at Applause) to test those PRs and verify if the fix was a pass or not.

It would be great and more effective if there's a notification tagging the Applause Leads when there's a CP that needs QA.

[2021-07-24 13:21] isagoico opened #4213 "[HOLD for payment + Bonus Aug 18] Change site and app titles to New Expensify"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

Upwork link: https://www.upwork.com/jobs/~01002fbd8522fb9614
___

## Action Performed:
1. Log in to staging.new.expensify.com or download latest app build
2. Check tab title

[2021-07-24 13:28] isagoico opened #4214 "[Network] Messages are sent twice"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to New Expensify with an unstable internet connection
2. Send some messages to an account you have access too. (Preferably you're logged i

[2021-07-24 13:39] isagoico opened #4215 "[Hold for Payment August 4th] IOU - Autofocus 'What's it for?' text box in details page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Request money to a user
2. Enter an amount and tap on request

## Expected Result:
Keyboard should come up and auto focused to the "What's it for

[2021-07-24 15:38] rushatgabhane commented on #4215
If you make it `External`
## Proposal
In components/IOUConfirmationList

add `autoFocus` prop to the `TextInput`

[2021-07-24 16:24] aman-atg commented on #4215
## Proposal
* Inside
https://github.com/Expensify/App/blob/c00918712a050e92166954462c7b309164277d4e/src/components/IOUConfirmationList.js#L272-L278

* ``` canFocusInputOnScreenFocus``` should be used here with ```autoFocus```
* It'll look like this :
![image](https://user-images.githubusercontent.com/28243942/126874648-30be1a8c-00dd-4f45-b199-5ca1ad9b4176.png)

[2021-07-24 16:28] rushatgabhane commented on #4215
Hmm, why?

[2021-07-24 16:29] rushatgabhane commented on #4215
@aman-atg

Hmm, why?

[2021-07-24 16:40] aman-atg commented on #4215
* It's so that we auto focus only when we need to (cross-compatiblity)
* Check this file out https://github.com/Expensify/App/blob/c00918712a050e92166954462c7b309164277d4e/src/libs/canFocusInputOnScreenFocus/index.js#L1-L3

[2021-07-24 18:40] isagoico opened #4216 "LHN - Conversation is not scrolled in LHN after chat switching"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to New Expensify
2. Be sure to use an account that has several chats opened
3. Click on the search icon
4. Search for a user that you don'

[2021-07-24 19:15] aman-atg opened #4217 "[PAY 8/20] Can add letters while entering input for Phone Number on Web (Profile)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to e.cash
2. Go to Profile
3. Click on Add Phone Number
4. Write english letters and it'll not stop you

## Expected Result:
Just like  in

[2021-07-24 19:16] aman-atg commented on #4217
## Proposal

* We should apply conditional checking like this so that user can't enter invalid characters when the input is of type `phone`
[code]

* The function will be used here on this line
https://github.com/Expensify/App/blob/c00918712a050e92166954462c7b309164277d4e/src/pages/settings/AddSecondaryLoginPage.js#L138
        ``` onChangeText={this.onSecondaryLoginChange}```

* Additional sugges

[2021-07-24 19:18] isagoico opened #4218 "[Hold for Payment 6th August] Timezone information is not visible when app is in Spanish"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation with a user that has a different timezone than you
2. Change the app language to Spanish

## Expected Result:
Timezone

[2021-07-24 19:28] parasharrajat commented on #4217
To me this is no issue

[2021-07-24 23:59] helaoutar commented on #4218
This happens because inside `src/pages/home/report/ParticipantLocalTime.js` in `getParticipantLocalTime()`, `moment.tz` seems to be returning different results depending on the language:

-  Engligh: AM/PM format
- Spanish: 24 hour format

This is causing `ParticipantLocalTime` component to not render, because it's conditioned by this variable:
`const isReportRecipientLocalTimeReady = this.state.l

[2021-07-25 08:28] parasharrajat commented on #4218
oh nice catch @helaoutar .

[2021-07-25 09:59] aman-atg opened #4219 "[Multi-language Support] No way of correctly translating time when messages were sent."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to New Expensify
2. Go to profile settings
3. Click on Preferences and Change the language to Spanish

## Expected Result:

![image](https:

[2021-07-25 09:59] aman-atg commented on #4219
## Proposal

### For Date-Time
* To fix date-time format for users, we need to make some changes in ` timestampToDateTime ` function inside ` DateUtils.js `

https://github.com/Expensify/App/blob/c00918712a050e92166954462c7b309164277d4e/src/libs/DateUtils.js#L56-L68

 * Here, moment.js can't automatically change the `[ escaped characters ]` , so we can make use of `translate` function like this (a

[2021-07-25 13:48] parasharrajat opened #4221 "Infinite Loading spinner on Login screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open App on Mobile E.cash.
2. Enter username, press continue.
3. Enter the password, press continue.

## Expected Result:

 Users should sign in

[2021-07-25 13:53] parasharrajat commented on #4221
This is a serious issue that is aware of for a month but It just occurred again to me and thus it will come for many users. Thus need resolution.

### Explanation
During app uses, we run many uncontrolled apis calls which require Auth token. When a user logs out, it is possible that many of these requests are still running and due to this reason, our queue will be paused.
But as we are repeating t

[2021-07-25 14:16] aman-atg commented on #4218
Hi there, Let me know if we want a solution without changing the formatting  ( ` from 'LT'  to  'hh:mm A'` ) since we're using `LT` on all other places

[2021-07-25 16:23] vincenttush commented on #4213
https://www.techboardz.com/how-to-transfer-money-from-cash-app-to-bank-account/

[2021-07-25 16:23] vincenttush commented on #4198
https://www.techboardz.com/how-to-transfer-money-from-cash-app-to-bank-account/

[2021-07-25 16:23] vincenttush commented on #3108
https://www.techboardz.com/how-to-transfer-money-from-cash-app-to-bank-account/

[2021-07-25 22:59] jliexpensify commented on #3976
Looks like a fix is deployed, but will keep this issue open a bit longer Melvin.

[2021-07-26 00:27] isagoico opened #4222 "Pasted text (copied from the notes app) shows font and size information"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Should be tested in a MacOS with the notes app
1. Log in to staging.new.expensify.com
2. Open Note app and copy some text with some formatting
3. Na

[2021-07-26 00:38] isagoico opened #4223 "Expensify cash is mentioned in Email notification"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send a message to a user you have access to.
2. Wait for 10 min to trigger the email notification
3. Check the email inbox for the email notifica

[2021-07-26 00:41] isagoico commented on #4198
**Regression** is finished!
Issues found:
1. https://github.com/Expensify/App/issues/4207 - Deploy blocker
2. https://github.com/Expensify/App/issues/4209
3. https://github.com/Expensify/App/issues/4208 - Deploy blocker
4. https://github.com/Expensify/App/issues/4222
5. https://github.com/Expensify/App/issues/4223
6. https://github.com/Expensify/App/issues/4210 - Deploy blocker

**PRs** are finish

[2021-07-26 01:01] isagoico commented on #3297
Issue reproducible during KI retests

[2021-07-26 01:01] isagoico commented on #3901
Issue reproducible during KI retests

[2021-07-26 01:02] isagoico commented on #4110
Issue not reproducible during KI retests (First week)

[2021-07-26 01:05] isagoico commented on #4066
Issue reproducible during KI retests

[2021-07-26 01:05] isagoico commented on #4076
Issue reproducible during KI retests

[2021-07-26 01:06] isagoico commented on #2499
Issue reproducible during KI retests

[2021-07-26 01:07] isagoico commented on #4080
Issue reproducible during KI retests

[2021-07-26 01:08] isagoico commented on #3296
Issue not reproducible during KI retests. (Fixed 🎉)

[2021-07-26 01:08] isagoico commented on #3355
Issue not reproducible during KI retests. (Fixed 🎉)

[2021-07-26 01:47] kadiealexander commented on #3810
@rdjuric hey man! I can't seem to find you on Upwork to hire you for this issue. Could you please let me know if you've submitted this under a certain name?

[2021-07-26 02:24] Christinadobrzyn commented on #3108
Asking for an update from our eng about the review of this PR.

[2021-07-26 02:35] arielgreen commented on #4185
This has been posted to Upwork [here](https://www.upwork.com/jobs/~0171f87603a2c66598).

[2021-07-26 03:14] mateusbra commented on #4185
### PROPOSAL
I'll add at [Expensimark](https://github.com/Expensify/expensify-common/blob/master/lib/ExpensiMark.js) a new rule into `htmlToMarkdownRules`
[code]

[2021-07-26 03:54] Christinadobrzyn commented on #2430
sent messages to some contributors to add a proposal in this GH.

[2021-07-26 05:30] kadiealexander commented on #4184
Posted to Upwork: https://www.upwork.com/jobs/~0100f1c852ca9ed199

[2021-07-26 06:07] conorpendergrast commented on #4005
Asked for reproduction again

[2021-07-26 08:11] HorusGoul commented on #4208
The official symbols for these currencies include the dots, so I'm gonna close this.

[2021-07-26 08:11] #4208 closed

[2021-07-26 08:18] laurenreidexpensify commented on #4005
Okay so tested this on Android mweb - and had no issues

![Screenshot_20210726-090653](https://user-images.githubusercontent.com/62073721/126956335-6c62436b-3ef8-4cd0-a4b6-3aee62b863ff.png)

then on Android app and managed to replicate -

![Screenshot_20210726-090956](https://user-images.githubusercontent.com/62073721/126956407-672699be-cbd6-4828-9623-de89e1e8b1a0.png)

My font size is set to larg

[2021-07-26 08:33] MonilBhavsar commented on #4138
Test passed

[2021-07-26 08:34] MonilBhavsar commented on #4209
Will look at it today

[2021-07-26 08:55] Dal-Papa commented on #3774
@MelvinBot it got picked up by a contributor and merged.

[2021-07-26 08:55] Julesssss commented on #4066
Just retested and I'm still not seeing the error 😕

Sharing this in Slack to get additional testers.

[2021-07-26 09:06] laurenreidexpensify commented on #4066
I've tried this on prod v1.0.79-4 in Chrome 91.0.4472.101 and can't replicate at all 🤔

[2021-07-26 09:09] conorpendergrast commented on #4066
I've also just tried in v1.0.79-4 in Chrome 91.0.4472.114 and can't replicate

[2021-07-26 09:20] trjExpensify commented on #4105
This is done, closing it out. Reopen if I missed something, Gents!

[2021-07-26 09:22] twisterdotcom commented on #4066
v1.0.79-4 on Firefox, also can't replicate.

[2021-07-26 09:34] laurenreidexpensify commented on #3897
@Luke9389 @stitesExpensify any update here for @rdjuric ?

[2021-07-26 09:35] laurenreidexpensify commented on #3924
@chiragsalian can you pls review triage review this today so we can move this to upwork and get an external contributor to fix? thanks

[2021-07-26 10:07] laurenreidexpensify commented on #4132
@helaoutar done - please start on the PR! thanks

[2021-07-26 10:10] parasharrajat commented on #4219
We can hold this issue until https://github.com/Expensify/App/pull/4090. I am adding a lot of missing translations there. After we should do an audit of the app to add all the missing translations and replace all the strings with translations whereever possible.

[2021-07-26 10:13] aman-atg commented on #4219
Translations can be done later but formatting date-time is still required which is the main issue here.

[2021-07-26 10:14] laurenreidexpensify commented on #4217
Nice catch @aman-atg. Am moving this issue through our triaging process now.

[2021-07-26 10:17] mountiny commented on #3297
@roryabraham Looking into this right now. In Android, could we update the AndroidManifest [here](https://github.com/Expensify/Mobile-Expensify/blob/19acf1b6c2092ac88e5266bbedaa085597c324ae/Android/AndroidManifest.xml#L126-L128) so the `android:pathPrefix="/chat"` will end with a slash too ie: `android:pathPrefix="/chat/"`. As previously noted in this thread, the problem is that the zip file has ur

[2021-07-26 10:30] parasharrajat commented on #4217
If we do this here, we have update all of our phone inputs to have the same behaviour.

[2021-07-26 10:32] mountiny commented on #3297
Secondly for iOS, we would need to update this json here: https://github.com/Expensify/Web-Expensify/blob/ff8270e299b5bd599416e97152181853b8cd9f7f/apple-app-site-association.php#L11 to remove the `/chat` option listed there.

But same question as above applies, do you think we can leave only `/chat/`?

[2021-07-26 11:03] iwiznia commented on #4218
@helaoutar I don't think that solution is good. US uses AM/PM by default, but Spain uses 24h system as default. We should not be changing the format to be the same in every country, because that defeats the purpose of localizing the app. The fix should be to not rely on finding am/pm in the timestamp [here](https://github.com/Expensify/App/blob/f75961876aff1f6eb9dc3fec5430f7cd614c6854/src/pages/ho

[2021-07-26 11:15] parasharrajat commented on #4218
I added that check as localized time was available with a delay. But I didn't notice the Other languages. We can simply remove this check and Print the whole message when complete time string is available.

[2021-07-26 11:19] aman-atg commented on #4218
## Proposal:

### Explanation
* So, what I've observed here is that, this isn't even required here and causing the issue
https://github.com/Expensify/App/blob/c00918712a050e92166954462c7b309164277d4e/src/pages/home/report/ParticipantLocalTime.js#L50-L52
 - So, first of all it's not required
 - Secondly, AM / PM aren't being displayed immediately because we're setting it after an interval of `1s` (

[2021-07-26 11:28] MonilBhavsar commented on #4209
Investigating it, I saw this in production too

[2021-07-26 11:33] Dal-Papa commented on #3982
I confirmed that this issue is solved now and it had time for regression to be tested. Closing.

[2021-07-26 11:33] #3982 closed

[2021-07-26 11:34] iwiznia commented on #3889
Waiting on a deploy really, making this weekly.

[2021-07-26 11:35] iwiznia commented on #3743
@dklymenk this is still on hold till #3737 is fixed?

[2021-07-26 11:39] iwiznia commented on #4212
How would we know if the CP needs QA or not? I can't think of an easy way to automate this really...

[2021-07-26 12:10] isagoico commented on #4212
Mmm if the CP is fixing a deploy blocker we should probably retest if the issue is not reproducible so it can be checked off the checklist. Also, I'm almost sure the CPs made recently included some QA steps, let me look for one.

[2021-07-26 12:18] NicMendonca commented on #3419
NVM, it is already closed 😅 Feel free to re-assign me if/ when you want me to put it back on Upwork.

[2021-07-26 12:22] isagoico commented on #4066
Are you testing on Mac or Windows? I'm also unable to replicate on my MacOS, but in Windows it has been reproducible since this was reported.

[2021-07-26 12:27] parasharrajat commented on #4066
I'll test it on Windows. I am sure that it exists on Windows. I'll try to find the cause and fix it.

[2021-07-26 12:27] dklymenk commented on #3743
@iwiznia  Unless the reasoning behind putting it hold hasn't changed, it is still on hold, yes.

If you merge it, you'll still see `[Comment deleted]` after sending an IOU and refreshing the page.

[2021-07-26 12:38] parasharrajat commented on #4218
This is not true. In the constructor, State is initialized with a value. There must be some other reason. If I am missing something, could you please explain?

This was used as a `moment` was taking some time to convert the time. This prevents the printing of incomplete messages on the screen.

[code]
seems helpful in reducing rendering.

[2021-07-26 12:43] parasharrajat commented on #4209
AFAIK, users' details are fetched from a different API. And on the app start, we don't wait for the response to come. But LHN is not rerendered when the response is received. I suggest we add the user details for the LHN list in the new API which Marc added.

[2021-07-26 12:46] aman-atg commented on #4218
Here, I meant changing the state after **the language has been changed**

[2021-07-26 13:24] rdjuric commented on #3810
Sorry @kadiealexander! Totally forgot to submit a proposal on Upwork. Just did it under the same name as my github.

[2021-07-26 13:50] twisterdotcom commented on #4066
All Mac here yes. 🤔

[2021-07-26 14:20] SofiedeVreese commented on #4188
I'm out of office- readding External label to reassign.

[2021-07-26 14:44] parasharrajat commented on #3922
@stitesExpensify Could you please help me get answers for https://github.com/Expensify/App/issues/3922#issuecomment-885178460?

[2021-07-26 14:56] NicMendonca commented on #4115
Posted to Upwork: https://www.upwork.com/jobs/~018fc7af43553297f3

[2021-07-26 15:06] aman-atg opened #4226 "[HOLD til 8/25] Login/Password field inputs disappear when width changes"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to New Expensify
2. Enter any value inside the Login field
3. Change your device's width from `less than 800px` to `more than 800px` or vice-v

[2021-07-26 15:06] aman-atg commented on #4226
## Proposal :
### Explaination
* We can see that `LoginForm` & `PasswordForm` are both  `Child Components` with their own `state`.
* And when the `Parent Component (Layout)` changes, the `state` in the `Child comp.` also changes to default values.
### Solution
* To prevent this from happening, We can lift up the state from `LoginForm & PasswordForm ` to  `src/pages/signin/SignInPage.js`
* It'll re

[2021-07-26 15:23] parasharrajat commented on #4066
I confirm this is reproducible on Windows Platform. Finding solution now.

[2021-07-26 15:31] Julesssss commented on #4008
Feel free to ignore the above ^

I was collecting some thoughts, which I'll revise and share in the relevant places.

[2021-07-26 15:49] mallenexpensify commented on #2430
@Christinadobrzyn I just realized I added you for 'buddy check' while I was on vacation but never unassigned you after.  Going to do now

[2021-07-26 15:57] parasharrajat commented on #4066
I have found the core issue and Solution as well. May be we can triage this issue and I can apply the fix. Or If we are no triaging then you can assign this to me and I will apply the fix.

Exaplanation:
1. On window platform, copy works a little differently. Its appends and prepends `html  & body ` tags to the html fragments. **And each tag following a newline**. HTML tags are successfully trimme

[2021-07-26 15:59] kevinksullivan commented on #3770
All set @dklymenk ! Hired you directly.

[2021-07-26 16:04] parasharrajat commented on #4169
This issue needs attention. Thanks

[2021-07-26 16:06] puneetlath commented on #3951
Reopening to ensure this gets paid out if no regressions.

[2021-07-26 16:13] Bognar791 commented on #2430
Hello for this project, can I work on freelancer.com?

On Mon, 26 Jul 2021 at 17:49, Matt Allen ***@***.***> wrote:

[2021-07-26 16:24] mountiny commented on #3297
I have went ahead and created PR to update the Android app manifest to exclude the `/chat-attachments` links which should hopefully resolve the problem for Android.

While researching the equivalent problem for iOS, I have found out that our `apple-app-site-association` json file, which acts similarly as the AndroidManifest has old syntax and I think it is not placed in the `/.well-known/` directo

[2021-07-26 16:25] puneetlath commented on #3957
It seems like the initial investigation here is complete and all further discussion is happening in the individual issues. I'm going to go ahead and pay this and close it out. Thanks @jsamr!

[2021-07-26 16:25] #3957 closed

[2021-07-26 16:32] chiragsalian commented on #3924
Yup, was able to reproduce the same issue. Feel free to post this on upwork and yeah @parasharrajat your proposal 1.b sounds good to me 👍

[2021-07-26 16:37] laurenreidexpensify commented on #3924
@parasharrajat post live on Upwork here https://www.upwork.com/jobs/~01e0e7e6f35535026c so I can hire you, assuming you want to move ahead to PR on this one?

[2021-07-26 16:56] kevinksullivan commented on #4086
Hired and paid.

[2021-07-26 16:56] #4086 closed

[2021-07-26 16:59] NickTooker commented on #4111
I'm good with "We've sent a magic sign in link to your email." and "Go back."  Thanks!

[2021-07-26 17:09] kevinksullivan commented on #4171
It should always be in USD, since users without a US bank account/SSN do not qualify for the Wallet. Pulling from the doc, we also limit who sees the badge in the first place:

[2021-07-26 17:14] parasharrajat commented on #3951
There is one regression on this PR. If we resize the browser app crashes. Somehow HTML source is being set to `undefined` and shallow matching of the prop is failing where it's trying to covert the undefined to object.

[2021-07-26 17:18] kevinksullivan commented on #3296
Waiting till 7 days after merge and then will make the payment.

[2021-07-26 17:32] Julesssss commented on #4008
Okay, here's today's progress/thoughts:

I'm still working on the assumption that we need to retrieve missing data, but it seems to me that each 'missing' notification will eventually be unblocked by the OS, which will let through all the notifications that were queued at once. Perhaps this is why Onyx isn't being updated correctly. If 5 notifications come through and start headless background tas

[2021-07-26 17:34] Julesssss commented on #4066
Would you like to take this issue @parasharrajat?

[2021-07-26 17:36] parasharrajat commented on #4066
Yeah Sure. My pleasure. I am already tackling other paste-related issues.

[2021-07-26 17:40] mallenexpensify commented on #4211
I don't have Android, trying to find someone on the CM team to triage

[2021-07-26 17:42] parasharrajat commented on #4109
I think we should remove the Help Wanted label and close this issue as well. The fix is patched.

[2021-07-26 17:50] mallenexpensify commented on #4210
@kavimuru is this still a deploy blocker?

[2021-07-26 17:51] parasharrajat commented on #3922
I'll wait for the answers. Apart from it. is there any special Id(same key) for each account that I can pass around between screens?
The last time I checked, all of the account types have different structures.

Also, for in-screen navigations, I have to pass params that are visible in the URLs but I think that is not good unless we have some sort of unique id which is not a secret and I can use th

[2021-07-26 17:53] parasharrajat commented on #4171
Great @kevinksullivan. that's what I assumed initially. PR is ready for review now.

[2021-07-26 17:55] Julesssss commented on #3419
Most likely not I'm afraid, I will keep watching this task though, and assign it as soon as possible.

[2021-07-26 18:14] robertjchen commented on #4207
I was able to reproduce this myself- seems like a visual issue, assigning to `External` for resolution.

[2021-07-26 18:20] parasharrajat commented on #4207
@robertjchen. This is a regression from  https://github.com/Expensify/App/pull/4180.
### Root cause.

https://github.com/Expensify/App/commit/40f145e49c09c99dca4459c23def066263db4b10

[2021-07-26 18:26] isagoico commented on #4198
Added these 2 PRs to the deploy blocker list that were not added before (not sure why CC @AndrewGable @roryabraham)

https://github.com/Expensify/App/pull/4068#issuecomment-886048003
https://github.com/Expensify/App/pull/4023#issuecomment-886278869

[2021-07-26 18:32] deetergp commented on #4107
Reviewed, approved, and merged!

[2021-07-26 18:33] isagoico commented on #4210
Mmm I'm not able to reproduce consistently between several chats. I would say it's a 3/5 times. I also re checked this on production and found the same behaviour. Will remove the deploy locker label.

[2021-07-26 18:51] parasharrajat commented on #4106
Hi @marcaaron. PR is ready for review. Thank you.

[2021-07-26 18:54] mallenexpensify commented on #4211
Assigning to @laurenreidexpensify for review since she has Android and I don't.

[2021-07-26 18:55] parasharrajat commented on #4211
To me this is reproducible.

[2021-07-26 19:00] isagoico opened #4229 "Hyperlink markdown doesn't work if the ] is preceded by an ("
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Send this message
` [Yo (click here to see a cool cat)](https://c8.alamy.com/compes/ha11pc/cookie-cat-con-sombrero-

[2021-07-26 19:07] isagoico opened #4231 "Blank screen is displayed after creating a new @Expensifail.com domain account,"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a new @Expensifail.com domain account.
2. Go through the account creation flow

## Expected Result:
After setting a password, the user sho

[2021-07-26 19:11] bondydaa commented on #4215
Feel pretty confident since we've already got 2 contributors commenting that we can make this External 😁 .

I do see that we've got some usages of `canUseTouchScreen` but it's not used everywhere right now:

Ex (note I know some of these are default props/initial state - just sharing for context):
[code]

If this is the right method to use (not 100% sure here since I'm not super familiar with new

[2021-07-26 19:17] marcaaron commented on #4027
Switching focus to Android startup time today. Did some testing over the weekend with both new staging versions and Android startup time feels **much** slower than iOS. Testing was done on an iPhone 8 compared and Galaxy S8. The galaxy isn't as powerful as the iPhone, but I wouldn't expect _this_ much of a difference (about 9 seconds longer for the LHN to show on Android).

Most of the difference

[2021-07-26 19:21] rushatgabhane commented on #4028
Just waiting for review of PR 🙂

[2021-07-26 19:22] rushatgabhane commented on #3841
Just waiting for merge approval. All tasks are done

[2021-07-26 19:23] isagoico opened #4232 "Desktop - After update app reopened with a blank screen with some lines of code"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Update the desktop app and wait for it to reopen

## Expected Result:
App should reopen without any white screen

## Actual Result:
After update

[2021-07-26 19:24] quinthar commented on #4027
Can't wait!

On Mon, Jul 26, 2021, 12:17 PM Marc Glasser ***@***.***>
wrote:

[2021-07-26 19:28] arielgreen commented on #2667
All good @MelvinBot

[2021-07-26 19:40] mananjadhav commented on #4115
One of the solutions could be replacing `Image` with `react-native-fast-image`.

One shortcoming with FastImage is that it doesn't give an API to fetch the image dimensions. I've used it for large lists with thumbnails and it works very well with improved performance with caching.

[2021-07-26 19:47] marcaaron commented on #4027
I think I made a breakthrough here. Here's what I tried...

1. Deferred a bunch of less critical front loaded API calls by about 500ms so that we can prioritize the "first paint" and just get something on the screen as quickly as possible
2. Deferred the loading of the Report Screen (which actually loads off screen anyway in parallel) until _after_ the Sidebar loads

Here's the before and after (l

[2021-07-26 19:50] mallenexpensify opened #4233 "Update `DeployBlockerCash` label to `DeployBlocker` in E/App"
From this [Slack post](https://expensify.slack.com/archives/C01GTK53T8Q/p1627321598289400)
Update `DeployBlockerCash` label to `DeployBlocker` in E/App repo

[2021-07-26 19:55] aman-atg opened #4234 "[PAY 8/11] Width is not set properly on Cancel/Decline Button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to New Expensify
2. Change language to Spanish
3. Request money from someone or Go to a chat where money is requested from you
4. Click on

[2021-07-26 19:55] aman-atg commented on #4234
## Proposal

https://github.com/Expensify/App/blob/29e086b68fa942f186e2325bc1015aeb2eff641c/src/components/ReportTransaction.js#L96

* Instead of using `styles.w20`, it should be changed into `styles.wAuto` so that `width` is set to `auto`
* Also, since `w20` is not being used anywhere else, we can simply remove it from `src/styles/utilities/sizing.js`
  - https://github.com/Expensify/App/blob/29e

[2021-07-26 20:05] quinthar commented on #4027
Wow, that's huge!!!  Is there a way to eliminate that 500ms "magic number"
and somehow more explicitly delay until after "first paint"?  (A perfectly
round 500 is probably not the ideal number, or at least, won't stay ideal
on all platforms forever.)

On Mon, Jul 26, 2021 at 12:48 PM Marc Glasser ***@***.***>
wrote:

[2021-07-26 20:10] mallenexpensify commented on #4210
https://www.upwork.com/jobs/~01ccf19eee15ac9c94

[2021-07-26 20:22] marcaaron commented on #4027
Agree, that was just a placeholder. I'm thinking we can make it event based instead. So e.g. once the sidebar has loaded it can emit an event and we can kick off any mission critical requests.

[2021-07-26 20:23] marcaaron commented on #4027
**Edit:** I mean non-mission critical requests :)

[2021-07-26 20:29] jboniface commented on #4188
@deetergp this has a pending proposal [here](https://github.com/Expensify/App/issues/4188#issuecomment-885875076), please review

[2021-07-26 20:38] johnmlee101 commented on #4155
Just merged the PR

[2021-07-26 20:39] johnmlee101 commented on #4156
Just merged the PR

[2021-07-26 20:44] TomatoToaster commented on #4219
Alright I think this problem makes sense. Good catch! I like the proposal you made too, I think it makes sense for this problem.

In these cases, I'm not sure what the the next steps are. I think we just need the job to be made @kevinksullivan.

I renamed the title because I think it's more clear on what the problem is lmk what you think @aman-atg

[2021-07-26 20:45] mananjadhav opened #4235 "Better phone number inputs and validation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to any page with phone number input. Ideally it'll be better if we have separate fields for country code and the subscriber number.
2. Referen

[2021-07-26 20:46] parasharrajat commented on #4156
I think this issue is covered in the https://github.com/Expensify/App/issues/4155. Thus can be closed.

[2021-07-26 20:47] aman-atg commented on #4219
Thanks @TomatoToaster

LGTM

[2021-07-26 20:53] parasharrajat commented on #4235
There is a similar existing issue https://github.com/Expensify/App/issues/3798

[2021-07-26 20:55] johnmlee101 commented on #4156
Yes!

[2021-07-26 20:55] #4156 closed

[2021-07-26 21:10] aliabbasmalik8 commented on #4210
**PROPOSAL**

It can be fixed by adding `keyExtractor` in `FlatList`
https://github.com/Expensify/App/blob/3d351694080b0c0d448e9d140d122de585eddd27/src/components/InvertedFlatList/BaseInvertedFlatList.js#L142

Thanks

[2021-07-26 21:15] luacmartins opened #4236 "Update Workspace button text during pending account validation"
Coming from [here](https://github.com/Expensify/App/pull/4165#issuecomment-886961530).
___

## Action Performed:
1. Open a Workspace with a `PENDING` account
2. The button text is set to `Get Started`.
3. After validating the 3 amounts, the button still says `Get Started`.

## Expected Result:
1. Before validation the button text should be set to `Finish Setup`.
2. After validation the button text

[2021-07-26 21:28] yuwenmemon commented on #3926
I'm curious how we picture this error message to show? I don't think we should even render the preview and disable the upload button here. Since a large file would probably be cumbersome to render anyway:
<img width="1338" alt="Screen Shot 2021-07-26 at 2 27 35 PM" src="https://user-images.githubusercontent.com/4741899/127061563-dd141818-e7c9-44b7-a4f7-aa87ae1e403a.png">

We should probably just f

[2021-07-26 21:29] roryabraham commented on #4008
Okay, so it sounds like you're suggesting we implement something like [react-native-background-fetch](https://github.com/transistorsoft/react-native-background-fetch) to reliably update Onyx in the OS's preferred method. I think it's a good idea, but do you think that we should do this _instead of_ or _in addition to_ background updates via push notifications? I think it would be great to do this

[2021-07-26 21:29] yuwenmemon commented on #3926
Code where this happens: https://github.com/Expensify/App/blob/beb40ee40b544cbe5b7697d15fc0b0ba42c7c3c3/src/components/AttachmentPicker/index.js#L19-L28

[2021-07-26 21:29] yuwenmemon commented on #3926
Spanish translation: `El documento adjunto supera el límite de 100 MB`

[2021-07-26 21:29] quinthar commented on #3926
Yes, if the image is too big, I don't think we'd show a preview (especially
because odds are it's a format that won't have a preview).

On Mon, Jul 26, 2021 at 2:28 PM Yuwen Memon ***@***.***>
wrote:

[2021-07-26 21:31] quinthar commented on #4008
I like doing them both -- push notifications will be fast but unreliable,
and background polling will be reliable but slow.  This combined with doing
an update on open should provide the best possible experience.

On Mon, Jul 26, 2021 at 2:29 PM Rory Abraham ***@***.***>
wrote:

[2021-07-26 21:33] rushatgabhane commented on #3926
Yeah, gonna conditionally render text vs preview.

[2021-07-26 21:43] roryabraham commented on #4135
Thanks for handling this @Julesssss!

[2021-07-26 21:44] stitesExpensify commented on #3922
fundIDs and bankAccountIDs are not secret, that's just the ID in our DB so they can be put into the URL.

This depends on what we want to do regarding the `TransferWalletBalance` API call. If we just make the chosen account the default, we can update the default in onyx and then you will know what to show on the transfer balance page (always the default). If we go the other route where it is not m

[2021-07-26 21:59] parasharrajat commented on #4188
### Proposal
1. we can follow the existing pattern of finding the tags by similar regex which I added for `~,*,_` parsing with one exception that we have to break the newlines into multiple quotes. We also optionally include the preceding newline. So that we don't insert two newlines after replacement.

2. It will require creating a new rule in the `htmlToMarkdownRules` in ExpensiMark.
as follows

[2021-07-26 22:02] stitesExpensify commented on #3897
Hi @rdjuric! Sorry for the delay.

I think adding basic validation is a good idea. Our API will throw if the number is not valid, but we should try to prevent unnecessary API calls on the front end if possible.

`cardNumber, cardYear, cardMonth, cardCVV, addressName, addressZip`
addressName is the user's name, not the address. I noticed that the API call doesn't take the city/state/address which i

[2021-07-26 22:06] marcaaron commented on #3381
The issue describes the work we are looking to have done. We are not going to work outside those parameters. Thanks!

[2021-07-26 22:26] roryabraham commented on #3901
@tgolen I'm back from OOO, so I can take this back now.

[2021-07-26 22:28] mananjadhav commented on #4210
I can see that `keyExtractor` is already added to `ReportActionsView`. What is happening is the image is getting downloaded again when you're posting the message.

**Proposal:**

Can be resolved by replacing the default `Image` with  [`RNFastImage`](https://github.com/DylanVann/react-native-fast-image)

[code]

[2021-07-26 22:37] thienlnam commented on #4130
Interesting, are the responses the same on all the failed transactions?

[2021-07-26 22:39] jsamr commented on #3951
@parasharrajat Yeah I think the current version is stricter and doesn't allow `undefined`. But since the `html` prop is required in the surrounding component `BaseRenderHTML`, I would assume that is the contract for this component.
https://github.com/Expensify/App/blob/3d351694080b0c0d448e9d140d122de585eddd27/src/components/RenderHTML/renderHTMLPropTypes.js#L5

As I have not touched other parts as

[2021-07-26 22:45] stitesExpensify opened #4238 "Revert changes to add payment method button"
## Problem
In [this issue](https://github.com/Expensify/App/pull/4034) we mislead a contributor to add some changes we don't actually. want.

## Solution
1. We're getting the paypal.me nvp in getUserDetails now, we should get it exclusively in getPaymentMethods
2. We should never be hiding the "add payment method" button since we're going to be adding the ability for bank accounts to be added ther

[2021-07-26 22:46] stitesExpensify commented on #4238
@laurenreidexpensify unassigning you because this is an issue I'm creating for myself

[2021-07-26 22:46] jsamr commented on #4123
@marcaaron I'm ready to have a look into this one this week. Ping me when a Job is ready on Upwork!

[2021-07-26 22:46] isagoico commented on #4212
Here's an example of a CP that has QA https://github.com/Expensify/App/pull/4020

Also, forgot to tag you guys before :) Can you give a look at this proposal CC @roryabraham @AndrewGable

[2021-07-26 22:49] thienlnam commented on #4212
Seems like we can just use the `CP Staging` tag that already exists to ping ApplauseLeads for when PRs get merged with this?

[2021-07-26 22:51] puneetlath commented on #3971
Ok I updated the issues based on that discussion. Done triaging, so unassigning myself and assigning Engineering !

[2021-07-26 22:52] yuwenmemon commented on #3926
Hmmm... @rushatgabhane what if you use the ConfirmModal instead? What would that look like?
https://github.com/Expensify/App/blob/main/src/components/ConfirmModal.js

[2021-07-26 22:53] thienlnam commented on #4115
@mananjadhav If it isn't able to fetch the image dimensions, it would run into the same issue with layout shifts after the image size is calculated right? Also, Image seems to have some internal caching, what performance benefits would we get with `react-native-fast-image`?

Side note: I think this needs to be an internal issue (at least until we start storing image dimensions in Auth)

[2021-07-26 22:58] thienlnam commented on #4210
@aliabbasmalik8 Thanks for the proposal, could you explain why that is the problem?

@mananjadhav Are we seeing another network request for the image when the message is sent?

[2021-07-26 23:15] thienlnam commented on #3381
Issue update: Waiting for proposals for work outlined in issue

[2021-07-26 23:17] thienlnam commented on #3981
Throwing on a weekly until we can get better reproduction steps

[2021-07-26 23:33] roryabraham commented on #4215
Hmmm I can't think of any reason that we would want to auto-focus this form input only on touch devices ... so I'm not sure `canUseTouchScreen` is relevant.

**TL;DR** I think that @rushatgabhane's proposal looks good 👍

---

One thing to be aware of that we've run into in the past...There can be [bugs with the react-navigation screen transition animation](https://github.com/Expensify/App/issues/3

[2021-07-26 23:42] roryabraham commented on #4212
Not quite, because PRs can be manually CP'd after-the-fact in the event the author forgot to give the PR the `CP Staging` label when it was merged. Also, it's more useful to ping them once the CP is completed, rather than when the PR is merged.

So the solution for this should really be implemented in the [`markPullRequestsAsDeployed` GH Action](https://github.com/Expensify/App/blob/75627cdac97323

[2021-07-26 23:42] trjExpensify commented on #4215
Created the job to apply [here](https://www.upwork.com/jobs/~0100cc108c7250028f) @rushatgabhane  👍

[2021-07-26 23:44] roryabraham commented on #4212
And to @iwiznia's point, we could skip tagging @Expensify/applauseleads if the PR title includes the string `No QA` (case insensitive). Worst case scenario, they are tagged and see that there are no QA steps for that PR, which should be NBD.

[2021-07-26 23:50] arielgreen commented on #4232
@cead22 per [this SO](https://stackoverflow.com/c/expensify/questions/4319/8577#:~:text=-------,ENGINEERING%20REVIEW,Once,-the%20Engineering%20label), if this can be worked on by a contributor, please add `External` so we can get it posted to Upwork. Otherwise, add `Internal`.

[2021-07-26 23:52] aliabbasmalik8 commented on #4210
**ISSUE:**
each row is not uniquely identified at this point so images download again on state update.

https://github.com/Expensify/App/blob/001f285d935b0edf77b26c7097205339cce89858/src/pages/home/report/ReportActionsView.js#L410

we can fix by updating `keyExtractor` like this way
`keyExtractor={item => item.index}`

Thanks

[2021-07-26 23:53] cead22 commented on #4232
Whoops, checking with engineering-chat since I think it can be posted to Upwork but I'm not 100% sure

[2021-07-26 23:54] roryabraham commented on #4207
@robertjchen Generally issues labelled `DeployBlockerCash` should be treated as internal. In this case, since @parasharrajat has already tracked the source of the regression to https://github.com/Expensify/App/pull/4180, I think we should just revert it, giving @helaoutar a chance to retry the PR without causing a regression.

[2021-07-27 00:07] rushatgabhane commented on #3926
@yuwenmemon yeah, it looks better!

![image](https://user-images.githubusercontent.com/29673073/127074603-57682a19-4ca6-4c2a-b620-e320816a380c.png)

[2021-07-27 00:16] roryabraham commented on #4207
Revert PR [here](https://github.com/Expensify/App/pull/4241)

[2021-07-27 00:16] roryabraham commented on #4119
The PR to fix this caused a minor regression, reverting it [here](https://github.com/Expensify/App/pull/4241).

[2021-07-27 02:10] roryabraham commented on #4207
@helaoutar fixed this in [this PR](https://github.com/Expensify/App/pull/4243), so I closed the revert PR.

[2021-07-27 06:06] SofiedeVreese commented on #4234
I'm OOO this week so readding External label to reassign someone else.

[2021-07-27 09:06] Dal-Papa commented on #4169
I think that proposal looks good. Let's setup a job for this.

[2021-07-27 09:25] madmax330 commented on #4199
Everything looks right. sending to the pool

[2021-07-27 09:27] arpitdeveloper commented on #4215
In src/components/IOUConfirmationList.js
we add autoFocus = {true} in textInput

[2021-07-27 09:38] rushatgabhane commented on #4215
Thanks for the heads up. I just got a macbook, will test for it.

[2021-07-27 11:00] laurenreidexpensify commented on #4211
@kp17211 @parasharrajat I'm trying to reproduce this and a bit confused.

- Am on my Chats page
- tap into a chat
- within chat, tap top left hand < icon
- taken back to chat page
- swipe left as the generic Android "back" action
- am taken to the chat I was just in

Am I missing something? Isn't this the expected behaviour?

[2021-07-27 11:05] laurenreidexpensify commented on #4066
@Julesssss just a reminder we need to have a Contributor Manager and Contributor Manager Engineer assigned the issue along with the Contributor, so that we can ensure the job is posted to Upwork + the contributor is hired and paid, and that the CME is able to review the PR.

[2021-07-27 11:09] laurenreidexpensify commented on #4066
Job posted on Upwork https://www.upwork.com/jobs/~0112eb53bb4c90676c

[2021-07-27 11:50] parasharrajat commented on #4211
This is an issue.

the flow should be
1. You click on any chat from LHN.
2. It takes you to the chat.
3. You click back button on android phone.
4. It takes you back to chat list / LHN.
5. You press the hardward back button again.
6. App should minimize.
7. But it will take you back to the recent open chat.

[2021-07-27 12:03] parasharrajat commented on #3951
@jsamr Thanks for the context. I will look into it.

[2021-07-27 12:09] parasharrajat commented on #3951
Sorry for the confusion but it seems that was no issue. `npm install` fixed it.

[2021-07-27 12:38] Santhosh-Sellavel opened #4252 "IOU Request and Split feature broken"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Try to perform IOU request / Split
2. Click + Icon
3. Choose Request Money / Split Bill
4. Amount entering page opens
5. Enter Amount Click Next

[2021-07-27 12:54] NicMendonca commented on #4229
Posted job: https://www.upwork.com/jobs/~01eb625fbec00ecdbf

[2021-07-27 13:05] MonilBhavsar commented on #4209
@parasharrajat the issue is that `prevProps` are different for `options.participantsList`. Once I add the condition [here](https://github.com/Expensify/App/blob/30242db8c7703f8e430c641903baa5a1a2855151/src/pages/home/sidebar/OptionRow.js#L293) to compare previous and next props for participantsList. It renders the page again and it works!
What do you think?

[2021-07-27 13:19] Santhosh-Sellavel commented on #4252
<img width="1061" alt="Screenshot 2021-07-27 at 6 14 17 PM" src="https://user-images.githubusercontent.com/85645967/127159914-fc2b25e1-dde2-4912-b86e-bfcddc06a781.png">

I've Done some investigation, In our main branch the above `api` has been renamed to `getLocalCurreny`.

In Development build no issues. But Production fails.

[2021-07-27 13:20] Beamanator commented on #4163
Thanks @aman-atg but this is technically working as expected. The search is waiting until you type a valid email address, then it will allow you to start a new chat with the email address you typed. We're working on some improvements in https://github.com/Expensify/App/issues/2936 which should cover this case. When that solution gets merged, please feel free to test and let us know if it looks goo

[2021-07-27 13:28] trjExpensify commented on #4252
Cool, shall we close this then?

[2021-07-27 13:30] Santhosh-Sellavel commented on #4252
Yes

[2021-07-27 13:30] #4252 closed

[2021-07-27 13:39] trjExpensify commented on #4215
Accepted the proposal on Upwork and assigned you the issue, @rushatgabhane. 👍

[2021-07-27 13:40] Santhosh-Sellavel commented on #4130
Request Money :
`{"jsonCode":405,"message":"405 invalid amount","requestID":"-------SOMEID-------"}`

Split Bill:
`{"jsonCode":404,"message":"404 Splits amount does not equal total amount","requestID":"-------SOMEID-----"}`

[2021-07-27 14:19] mananjadhav commented on #4229
**Proposal:**

This can be fixed by updating the regex in ExpensiMark.js of expensify-common:

[code]

[2021-07-27 14:30] MonilBhavsar commented on #4231
@vitHoracek, I am not able to reproduce this, Can you please check again if it wasn't a temporary error

[2021-07-27 14:41] mananjadhav commented on #4210
@thienlnam Yes. Attaching the video for the same.

I know for sure that the RN Fast Image can resolve this for us.

https://user-images.githubusercontent.com/3069065/127173966-63ae7eb3-546f-41aa-b564-83c3bae88e1e.mov

[2021-07-27 14:41] arpitdeveloper commented on #4210
In src/components/InvertedFlatList/BaseInvertedFlatList.js
we add keyExtractor={item => item.index} in flatlist or
In src/pages/home/report/ReportActionsView.js
replace keyExtractor with keyExtractor={item => item.index} in InvertedFlatList

[2021-07-27 14:51] Julesssss commented on #3737
Working on this today, will update once the PR is in review.

[2021-07-27 15:03] cead22 commented on #4232
@chiragsalian mentioned he couldn't repro on prod

[2021-07-27 15:07] mananjadhav opened #4254 "Profile updates are not updated realtime in the chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Start a chat in two windows
2. Update the Profile Picture or Display Name for one of the users
3. You'll see until the page is reloaded, the upda

[2021-07-27 15:11] mananjadhav commented on #4115
@thienlnam Yeah. I was reading through the chats that we'll start storing the dimensions. That + Cached Image will give a huge performance boost. It isn't ideal to fetch `Image.getSize` for all the images.

I've pointed another issue where Image flicker is caused because we don't have cached images.

[2021-07-27 15:13] Santhosh-Sellavel commented on #4229
## Proposal
Changes should be done against [expensify-common](https://github.com/Expensify/expensify-common).

In the following lines.
https://github.com/Expensify/expensify-common/blob/7d8408c5c78792394eee8e079f115b1380221a23/lib/ExpensiMark.js#L72-L81

We missed handling for () also additionally we missed for` $, %, *, | ` symbol,

Need replace regex prefix  `\\[((?:[\\w\\s\\d!?&#;:\\/\\-\\.\\+=

[2021-07-27 15:34] TomatoToaster commented on #4198
#4023 is ready for a retest, should be fixed in version `1.0.80-2`

[2021-07-27 15:45] stitesExpensify commented on #3897
We still want those fields as they will be used in the future, but for now we will just throw that data away (not send it to the server)

[2021-07-27 15:55] parasharrajat commented on #4209
@MonilBhavsar Yeah. If we are updating the `options.participantList` after the `participantsDetails` is updated in Onyx, then yes this is what we need to cause re-render. But we have to check that it should not cause a flash on the first load on mobile screens.

[2021-07-27 16:02] aman-atg opened #4256 "[Visual] Unexpected behaviour while editing messages with URLs in them"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to New Expensify
2. Edit a message with an url in it
3. Make no change and save
4. `edited` will be shown for a split second

## Expected R

[2021-07-27 16:02] aman-atg commented on #4256
## Proposal

### Explaination
 * Here, we're getting `htmlForNewComment` and while parsing we're adding only `target="_blank"` attribute to our anchor elements `<a>` which makes it `not equal` to `originalReportAction.message[0].html ` as the latter has `rel="noreferrer noopener"` as well as an attribute for anchor elements

https://github.com/Expensify/App/blob/30242db8c7703f8e430c641903baa5a1a28

[2021-07-27 16:04] mallenexpensify commented on #4234
Job posted https://www.upwork.com/jobs/~01d8065bb14b6155f3, @aman-atg I invited you in Upwork, please let us know when you have accepted

[2021-07-27 16:09] aman-atg commented on #4234
I've submitted my proposal. Thanks.

[2021-07-27 16:10] rdjuric commented on #3897
Sounds good! I think that a good basic validation for the front is checking for 16 chars, digits-only.

Apart from the steps in the issue, I think we also want to:
- Wrap our `AddDebitCardPage` in a `KeyboardAvoidingView` so that our inputs aren't hidden by the keyboard on mobile. We can make the `Add Debit Card` button stick at the top of the keyboard like in our other forms
- Add the `validateDe

[2021-07-27 16:26] UHaider commented on #4229
As mentioned in the issue it is happening for other punctuations as well, we can update the regex for link rule, this will handle {}*() along with existing supported punctuations

Here is the proposal

**Proposal**

`{
                name: 'link',

                process: (textToProcess, replacement) => {
                    const regex = new RegExp(
                        `\\[((?:[\\w\\s\\d!?&

[2021-07-27 16:29] parasharrajat commented on #4229
I would suggest please run the test suite on e-common and mention that in your proposal if that is a pass.

[2021-07-27 16:30] AndrewGable commented on #4229
I agree @parasharrajat. @mananjadhav since you were the first to comment, can you verify that the tests pass with your proposed regex? If so, we will hire you for the solution. Thank you!

[2021-07-27 16:31] mananjadhav commented on #4229
@AndrewGable @parasharrajat Sure. I'll add a test in a while and update here with the result.

[2021-07-27 16:35] NicMendonca commented on #3901
New Upwork job posting. Doubled the price since there hasn't been any proposals in a week: https://www.upwork.com/jobs/~0134dee8788c30ccc5

[2021-07-27 16:50] stitesExpensify commented on #3897
Some credit cards such as amex actually only have 15 chars so we should probably check for 15 _or_ 16. If we want to get fancy we could also do the Luhn algorithm like [this solution](https://stackoverflow.com/a/23222600/10227070)

Sounds good

I think we can just use the `CreditCard` icon that is already in `expensicons.js`

I'm reverting this to always show the button so don't worry about that p

[2021-07-27 17:04] mountiny commented on #4231
@MonilBhavsar I will try again, although it happened to me twice, whenever there was nothing stored in localStorage, maybe try to do that first.

[2021-07-27 17:12] tgolen commented on #4234
Proposal is good. 🟢  Assigning to @aman-atg

[2021-07-27 17:13] rdjuric opened #4258 "[Performance] Approximate the ideal number of messages to render on first paint based on the screen height"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?

This causes unnecessary renders, slow transitions between reports, slow first render of a report.

We're inefficiently gu

[2021-07-27 17:14] rdjuric commented on #4022
@marcaaron I opened a issue for this https://github.com/Expensify/App/issues/4258

[2021-07-27 17:15] quinthar commented on #3926
Awesome!  What is our actual limit?  I'm assuming a lot smaller than that.

On Mon, Jul 26, 2021 at 5:07 PM Rushat Gabhane ***@***.***>
wrote:

[2021-07-27 17:21] rdjuric commented on #4056
@Gonals Do you think this one be worked by an External/contractor? 😃

[2021-07-27 17:21] rdjuric commented on #4056
@Gonals Do you think this one can be worked by an External/Contractor? 😃

[2021-07-27 17:22] mountiny commented on #4231
I have tried it again and could not replicate, however this time, I have used `vit+2@expensifail.com` email and after signin in for a first time, I saw a chat which account `vit+1@expensifail.com` had with different account, but with Auth Get errors for the request. I have cleared all app memory before so it is odd.

But I could not replicate this original problem again, so it seems that both are

[2021-07-27 17:24] laurenreidexpensify commented on #4211
Ah got it - okay yes I can confirm this is the behaviour then. Will send this to our engineering team for next review.

[2021-07-27 17:26] stephanieelliott commented on #4169
Job is here: https://www.upwork.com/jobs/~0121918c29f671d70f, I invited you to it on Upwork @parasharrajat!

[2021-07-27 17:30] thienlnam commented on #4210
@mananjadhav You have the `Disable cache` enabled so that isn't really a true test as to whether or not there is another image request.  I tested it myself and the _avatar_ images get cached on web where they have the correct image headers set.

@aliabbasmalik8
Going to give you the 🟢  for the proposal, we'll see if that fixes it

[2021-07-27 17:33] thienlnam commented on #4210
@arpitdeveloper Unfortunately another contributor got to that conclusion first, but thank you for your interest!

[2021-07-27 17:33] parasharrajat commented on #4210
@thienlnam we already have `keyExtractor` for ChatList. It's the first thing anybody will do with the most expensive list on the App.

[2021-07-27 17:38] thienlnam commented on #4210
@parasharrajat Thanks for the catch - I should have checked that first.  Going to unassign @aliabbasmalik8.

I still am not sure that image caching is the issue here since we are already caching those avatar thumbnails

[2021-07-27 17:40] parasharrajat commented on #4210
I also this the same. I'll try to test this, if possible.

[2021-07-27 17:53] Julesssss commented on #4008
Yeah, I think this should be in addition to the notification background updates (but we probably wouldn't need to implement the expected result listed in this issue description).

Nope, what I meant to say is that if we use periodic checks instead of making **additional** API calls in a background service, then I think the OS would throttle our notifications less often. This remains to be seen tho

[2021-07-27 17:58] yuwenmemon commented on #3926
@rushatgabhane quick edit on the Spanish text, it's actually: `El archivo adjunto supera el límite de 100 MB`

[2021-07-27 18:06] yuwenmemon commented on #3926
Yeah, @rushatgabhane based on Expensify's internal ReceiptAPI the limit is actually 50MB:

[code]

[2021-07-27 18:07] marcaaron commented on #4022
@rdjuric nice! Thanks for that.

[2021-07-27 18:09] marcaaron commented on #4258
This seems like a good idea to me, and the proposed solution makes sense. But I'm also curious if there's some way to save these numbers so they are less magical somewhere. e.g. if the minimum height for a row changes it would be good to have a central variable to control that?

[2021-07-27 18:10] marcaaron commented on #4258
Also I think for benchmarks we can use the report switch metric here

https://github.com/Expensify/App/blob/e043ac21f3706baed9b12fb9c7bd2b5ecbb55540/src/pages/home/report/ReportActionsView.js#L329

[2021-07-27 18:16] rdjuric commented on #4258
Good idea! Maybe instead of hardcoding the numbers we could make our `getInitialNumToRender` method get the heights necessary for the calculation directly from the the styles of our `ReportActionComposer`, `HeaderView`, etc?

This way if we ever change something (like the size of the header or the height of the avatar) our method will still find the ideal number.

Thanks, will add benchmarks soon.

[2021-07-27 18:21] marcaaron commented on #4258
Right, I think at a minimum I'm just imagining that the styles in `styles.js` and these values here would be set in a common place.

I'm not sure the best way to enforce that or how it would work with things like margin and padding (if there is any). Perhaps it will be enough to use some helper functions and leave relevant code comments in the few parts around lists to prevent altering things by a

[2021-07-27 18:22] marcaaron commented on #4258
aside, I started thinking about this WRT using `getItemLayout` to optimize the lists that have fixed height elements - and this feels like a similar problem.

[2021-07-27 18:37] rdjuric commented on #3901
@roryabraham Can you help me a bit more here?

Looks like there're more issues at play

1. An image that is smaller than the size of the viewport isn't being zoomed
2. The zoom is done on the `View` that surrounds the image, so it doesn't correctly give a point in the image to zoom in.

Point (1) happens because we're "zooming" by increasing the height/width of our `Image` component to 250% while

[2021-07-27 18:52] mananjadhav commented on #4229
@AndrewGable @parasharrajat I've raised a PR with the test cases and the regex change.

Changed the approach to ensure none of the existing test cases break and also support multiple other special characters.

[2021-07-27 19:16] deetergp commented on #4218
This is definitely something that can be handled externally.

[2021-07-27 19:17] marcaaron commented on #4109
This issue is on staging now so bumping down to weekly it should be fixed soon.

[2021-07-27 19:19] AndrewGable commented on #4229
Looks great on first pass, I will review it further shortly. @NicMendonca - Can you please hire @mananjadhav via Upwork? Thanks!

[2021-07-27 19:33] NicMendonca commented on #4229
@mananjadhav hired!

[2021-07-27 20:58] timszot commented on #4213
Looks good to me, adding External

[2021-07-27 20:59] marcaaron commented on #4254
I'm not sure this is a priority for us right now. Making these names change requires that the recipient of the message be able to identify that a recipient's name has changed from whatever we have locally for them and then personal details will need to be refetched for that use.

We can maybe keep talking about how this should work at a high level, but it feels pretty low priority + we should disc

[2021-07-27 21:09] timszot commented on #4223
This will have to be handled internally since our notifications are handled there.

[2021-07-27 21:12] parasharrajat commented on #4213
There are 197 references of Expensify.cash in the source. Out of which, I think nearly 150 needs to be changed to New Expensify.
1. This includes readme and Contributor guidelines.
2. App Names.
3. Hard Codes Strings in the App.
4. Adding new URL new.expensify.com to multiple locations. Such as deep-linking.

Do you want to change all of that or just the APP names?

I can update the IOS app name v

[2021-07-27 21:12] marcaaron commented on #4115
Just want to state that I have seen no evidence that `react-native-fast-image` will provide any huge performance boosts for this app. I've set it up a few times and there was not really any noticeable changes. But it takes 5 minutes to set up if someone can create a benchmark to prove the value.

[2021-07-27 21:17] parasharrajat commented on #4222
I am already handling this in #4169

[2021-07-27 21:30] timszot commented on #4222
@parasharrajat Thanks! Since this is being handled in another issue, we should be OK to close this one out.

[2021-07-27 21:30] #4222 closed

[2021-07-27 21:31] marcaaron commented on #3297
Sorry, I don't really have much more to add @mountiny it sounds like your investigation is on the right track. As long as we don't break the existing `/chat` deep links in Expensify classic the proposed changes sound 👍

[2021-07-27 21:31] thienlnam commented on #4130
Thanks @Santhosh-Sellavel, I think the most straightforward solution here is to catch those errors and show some kind of error message / cancel the transaction so the user doesn't sit on an infinite spinner

[2021-07-27 21:32] parasharrajat commented on #4130
@Santhosh-Sellavel You are going to be rich soon. :rofl:

[2021-07-27 22:06] isagoico commented on #3857
@puneetlath Was able to reproduce this https://expensify.slack.com/archives/C01GTK53T8Q/p1627420604359300

[2021-07-27 22:15] isagoico commented on #3673
Reopening this issue.

@coleaeason was able to reproduce https://expensify.slack.com/archives/C01GTK53T8Q/p1627404387349800

![image](https://user-images.githubusercontent.com/44479856/127234473-7edb4e70-6645-4a2d-8e2b-77923a878ee2.png)

[2021-07-27 22:16] Jag96 commented on #4187
@MitchExpensify ah yes, forgot to add the External label!

[2021-07-27 22:23] arielgreen commented on #4185
@AndrewGable bump ^

[2021-07-27 22:26] AndrewGable commented on #4185
@mateusbra - Can you make sure to add unit tests to validate your solution?

[2021-07-27 22:28] isagoico commented on #3673
Wops this was not reproducible anymore by Cole. Will reopen if this happens again

[2021-07-27 22:28] #3673 closed

[2021-07-27 22:30] MitchExpensify commented on #4187
Weird that it didn't auto assign someone

[2021-07-27 22:44] kadiealexander commented on #3810
PR was merged 8 days ago, payment issued in Upwork today.

[2021-07-27 22:44] #3810 closed

[2021-07-27 22:44] isagoico commented on #4198
Checked off these since they are not deploy blockers anymore 🎉
https://github.com/Expensify/App/issues/4207
#4023
#4068

[2021-07-27 22:56] isagoico commented on #4198
Checking off these PRs that were added to the list (thanks to the cherry pick bug)
- https://github.com/Expensify/App/pull/4150
- https://github.com/Expensify/App/pull/4154
- https://github.com/Expensify/App/pull/4174
- https://github.com/Expensify/App/pull/4179
- https://github.com/Expensify/App/pull/4182
- https://github.com/Expensify/App/pull/4183
- https://github.com/Expensify/App/pull/4186
-

[2021-07-27 22:57] isagoico commented on #4198
Only 1 PR missing to check off 🎉
- https://github.com/Expensify/App/pull/4157 CC @jasperhuangg

[2021-07-27 23:00] #3787 closed

[2021-07-27 23:03] MitchExpensify commented on #4029
What is the update on this change?

[2021-07-27 23:11] parasharrajat commented on #4029
@MitchExpensify PR merged https://github.com/Expensify/App/pull/4068

[2021-07-27 23:35] Jag96 commented on #4213
@parasharrajat Good eye, I think we'd like to update all of those values as you mentioned, for example here's the last PR we used for renaming this: https://github.com/Expensify/App/pull/975.

Job has been posted!

[2021-07-28 00:01] roryabraham commented on #4207
@isagoico, I see you checked this off on the deploy checklist so I'm assuming this is fix is verified. Closing this out :)

[2021-07-28 00:01] #4207 closed

[2021-07-28 00:38] roryabraham opened #4264 "[HOLD][Expensify/#219254][$2000] Implement periodic background updates on mobile, keeping Onyx in sync"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

cc @Julesssss

## Context
Coming from [this issue](https://github.com/Expensify/Expensify/issues/158830) and also [this one](https://github.com/Expensify/App/issues/4008

[2021-07-28 00:38] roryabraham commented on #4264
@Julesssss Thoughts on making this external?

[2021-07-28 00:44] isagoico commented on #4207
Yep! I thought I had left a comment here. I retested and it was a pass 🎉

[2021-07-28 01:03] michaelhaxhiu commented on #3987
@parasharrajat I just updated the OP of this issue to make sure the changes we want are clear. Does it look good to you?

[2021-07-28 01:06] michaelhaxhiu commented on #3819
I updated https://github.com/Expensify/App/issues/3987 to include the discussed changes.

[2021-07-28 01:16] rdjuric commented on #4258
Updated with benchmarks @marcaaron

Let me know if I should start a PR for this

[2021-07-28 01:26] kevinksullivan commented on #4219
job posted

https://www.upwork.com/jobs/~010a0f724dd05272b1

@aman-atg add a proposal and I'll hire you!

[2021-07-28 01:42] marcaaron commented on #4258
That data looks promising, but is it possible to do a release build on an actual device? Dev mode + simulator makes it hard to tell exactly how large the difference would be in release. Myself or someone else can try to help with this if not possible for you.

[2021-07-28 02:07] JmillsExpensify commented on #4214
Posted to Upwork here! https://www.upwork.com/jobs/~018c22cb61e93a114c. Make sure to share your technical proposal with us here and a colleague will approve your technical proposal. Thank you!

[2021-07-28 03:25] AndrewGable commented on #4229
@mananjadhav Please open an App PR with the updated hash. Thanks!

[2021-07-28 03:31] marcaaron commented on #4127
There was some more conversation [here](https://expensify.slack.com/archives/CC7NECV4L/p1627397794099700) related to this. Some concern was expressed that automated tests to prevent regressions might be hard to maintain. Firebase is looking pretty good so far to track this stuff at a high level - I still haven't investigated if it can do velocity alerts. One idea could be to set them up for stagin

[2021-07-28 03:46] mateusbra commented on #4185
@AndrewGable sure I can

[2021-07-28 03:50] aman-atg commented on #4219
Done. ([Proposal](https://www.upwork.com/ab/proposals/1420229573968736257))

[2021-07-28 03:56] mateusbra commented on #4185
I started testing and realised that the inline code blocks were getting some visual issues:
Tested with 2 different physical phones(Samsung M51 and Samsung A71) and both had the same results
![Screenshot_20210728-005229_Expensifycash](https://user-images.githubusercontent.com/56851391/127261073-f4c00574-6df0-45d6-b547-e3b7cfa3ee8e.jpg)

[2021-07-28 03:58] mateusbra commented on #4185
I didnt changed anything in the code here and its getting this visual issue...

[2021-07-28 04:25] mateusbra commented on #4185
The tests you asked for with the implementation of the solution I've mentioned above:

https://user-images.githubusercontent.com/56851391/127263098-10f7c9cf-30b2-49a4-83ea-c1d04ee2256f.mp4

[2021-07-28 04:31] marcaaron commented on #4027
Ok actually I got excited about the API theory too soon and missed that delaying the API calls was NOT what caused the reduced load time. Delaying the report screen was actually the thing that did it.

I spent more time today benchmarking various minor tweaks on release builds only and a major chunk of the slow boot time is just time spent waiting for the report to load at the same time as the Sid

[2021-07-28 04:37] quinthar commented on #4027
Haha that seems like a pretty obvious theory now that you say it.

On Tue, Jul 27, 2021, 9:31 PM Marc Glasser ***@***.***> wrote:

[2021-07-28 04:48] arpitdeveloper commented on #4213
We can change the IOS app name in Display Name in Project target (General Tab) in xcode
The Andriod app name change from app.json and android/app/src/main/res/values/strings.xml
Web title change in web/index.html
desktop title change in mainWindow desktop/main.js

[2021-07-28 05:50] quinthar commented on #4264
Love this!

On Tue, Jul 27, 2021 at 5:38 PM Rory Abraham ***@***.***>
wrote:

[2021-07-28 06:34] mananjadhav commented on #4229
@AndrewGable  Raised PR. Would you be needing screenshots for this PR? Tests in expensify-common cover the testing. Let me know.

[2021-07-28 06:50] aman-atg opened #4267 "[UX-Improvement] Getting "User is typing" even when they aren't"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to New Expensify in two devices with different accounts
2. Open chat room for both of them
 #### *Use one of the account*
3. Type your mess

[2021-07-28 06:51] aman-atg commented on #4267
## Proposal

### Explaination

* It's happening because when we `submit` we `update` the comment here to clear the message
 https://github.com/Expensify/App/blob/d35ab90a400585b1984c310b98a72ca483b3861f/src/pages/home/report/ReportActionCompose.js#L419

* And because of that we're firing `debouncedBroadcastUserIsTyping` here. Which ultimately results in unnecessary `*User* is typing` status
https:

[2021-07-28 07:23] Christinadobrzyn commented on #4118
I see the PR is merged - [HOLD - for payment Aug 5th]

[2021-07-28 07:29] kidroca opened #4268 "[Performance] Onyx usage in `withLocalize` adds a significant overhead"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?
_e.g. memory consumption, storage read/write times, React native bridge concerns, inefficient React component rendering, e

[2021-07-28 07:29] kidroca commented on #4268
Issue created per the discussion here: https://github.com/Expensify/App/pull/4253#issuecomment-887811348

[2021-07-28 08:05] mananjadhav commented on #4213
**Proposal**

My approach would be to use a Grunt script that will internally update the values for the AppName. For example, I've used `react-native-rename` earlier which ensures that the Xcode and Android files are updated properly.

In addition to this, we can then pull this value from a config/lang file to enable a quick single command update. This will ease out the process in the future.

[2021-07-28 08:52] mananjadhav commented on #4264
If you're planning to make it external, I've got experience with `react-native-background-fetch` and `
`react-native-background-timer`.  I had used it to fetch Ads in the background for a Radio app.

The older version of 'fetch' had issues with the iOS and had to combine 'timer' too.  But updates of 'fetch' won't require a timer now. I would still highlight that these are not 100% reliable for all

[2021-07-28 09:11] MonilBhavsar commented on #4231
Closing it for now. If you are able to reproduce, feel free to open it again.

[2021-07-28 09:11] #4231 closed

[2021-07-28 09:35] Julesssss commented on #4008
Alright, looks like we should close this issue and move further discussion to ['Implement periodic background updates on mobile platforms'](https://github.com/Expensify/App/issues/4264). Thanks for opening the issue, Rory!

[2021-07-28 09:35] #4008 closed

[2021-07-28 10:07] Santhosh-Sellavel commented on #4214
## Proposal
The issue happens when the network is offline,  retryableRequests are set in ONYX, but not cleared from networkRequestQueue(current queue)
https://github.com/Expensify/App/blob/ad773863b658ee45897b113b43028a2aaa14e69e/src/libs/Network.js#L105-L117

After updating in the ONYX, here queue gets duplicated,
https://github.com/Expensify/App/blob/ad773863b658ee45897b113b43028a2aaa14e69e/src/

[2021-07-28 10:11] parasharrajat commented on #4214
We have an existing issue https://github.com/Expensify/App/issues/2451 which solves this problem as well. PR is stalled for that. I will update you here about the PR status.

[2021-07-28 10:30] mananjadhav commented on #4187
Ignore the PR reference.

**Proposal for Link HTML to Markdown**

I would go ahead with this regex.
[code]

It basically covers the odd cases such as inconsistent parenthesis etc. I can implement this if you plan to hire along with the tests.  Will handle this for all the three groups mentioned.

[2021-07-28 10:49] parasharrajat commented on #3972
I think this can be closed and the Help Wanted label can be remvoed as well.

[2021-07-28 10:53] parasharrajat commented on #4221
Just faced the same issue on Desktop App.

[2021-07-28 11:06] flodnv commented on #4211
I could've sworn this was a feature and not a bug (granted, that I found strange as well). What's the behavior on iOS?

[2021-07-28 11:40] Santhosh-Sellavel commented on #4130
Hey @thienlnam,
1. For reverence, Is there any existing error message shown to the user?
2. What message to show, the message from the response object or any template message with i18N?

In this method,
https://github.com/Expensify/App/blob/ad773863b658ee45897b113b43028a2aaa14e69e/src/libs/actions/IOU.js#L66

We can catch error using`jsonCode` in response, as shown below
'if (data.jsonCode === 200

[2021-07-28 11:45] trjExpensify commented on #4232
Is anyone able to reproduce this? I updated to `v1.0.80-2` on desktop and didn't get the error. @parasharrajat you mentioned something in the [Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1627321718290400) about what the cause might be?

[2021-07-28 12:16] flodnv commented on #4223
What do we want it to say? "head over to [the New Expensify]()" ? "head over to [new.expensify.com]()"?

[2021-07-28 12:19] trjExpensify commented on #4218
Posted the job to Upwork here: https://www.upwork.com/jobs/~01c1138bff53cf206e

[2021-07-28 12:45] rdjuric commented on #4218
I don't think your solution works @aman-atg

This is what we're trying to avoid with the `isReportRecipientLocalTimeReady` check
https://user-images.githubusercontent.com/53711423/127323288-1d5c911c-ec7a-4292-970f-00a330e1a7e9.mov

The first render without the AM/PM comes from the constructor. If we don't initialize the state with `getParticipantLocalTime` and just wait for the first render there'

[2021-07-28 13:17] aman-atg commented on #4218
@rdjuric
Sorry, I'm not really sure what you're trying to convey here. But here's the video with some testing.
You can share a proper video with steps so that I can try to reproduce it.
There was one issue when refreshing the browser which will be solved by the updated Proposal

https://user-images.githubusercontent.com/28243942/127328865-2ffe80cb-2584-40d8-b00a-f80f932e4cbe.mp4

[2021-07-28 14:13] Julesssss commented on #4264
I think some work can eventually be made external, but for now I would like to keep it internal while I research and test which libraries best meet our requirements, ensuring we implement this critical feature correctly. It doesn't look like `react-native-background-fetch` meets the Android 12 requirement -- so we may need an alternative (other libraries do seem to abide by the OS guidelines).

[2021-07-28 14:38] rdjuric commented on #4218
You were saying that the `isReportRecipientLocalTimeReady` was "**nonsense**", but @parasharrajat added it to avoid the flicker that I showed on the video.

You proposed to simply to remove the check, but this would make the flicker come back. The correct solution is what I proposed on  https://github.com/Expensify/App/issues/4218#issuecomment-888278877 - a.k.a remove the check and solve the root

[2021-07-28 14:43] aman-atg commented on #4218
@rdjuric
I see, so according to you.. the comments are correct and `moment.format` is indeed returning a **string** with some **promise** like **logic**
https://github.com/Expensify/App/blob/c00918712a050e92166954462c7b309164277d4e/src/pages/home/report/ParticipantLocalTime.js#L50-L52

 And please try the **correct solution** and show how it will solve the issue.

[2021-07-28 15:07] Santhosh-Sellavel opened #4271 "HyperLink Mark down Copy&Paste and edit Issue"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
## Action Performed:
1.  Go to the chat screen
2. Type`[Go to Expensify](www.expensify.cash)`
3. It will appear like this [Go to Expensify](www.expensify.cash) after send

[2021-07-28 15:40] AndrewGable commented on #4229
Yes please, screenshots are required for all PRs 👍

[2021-07-28 15:41] mallenexpensify commented on #4234
@aman-atg I'm not seeing in Upwork, can you try again please?
https://www.upwork.com/jobs/~01d8065bb14b6155f3
![image](https://user-images.githubusercontent.com/22508304/127352921-4180262a-37b0-48ac-a609-aa905e7b9a5f.png)

[2021-07-28 15:45] aman-atg commented on #4234
Hi @mallenexpensify , is it visible now?

[2021-07-28 16:00] mallenexpensify commented on #4234
@aman-atg I see a proposed bid of $500.  The issue pays $250.  Can you change your bid to $250?  If there are any issues or weirdness in Upwork, let us know too.

[2021-07-28 16:02] aman-atg commented on #4234
Sorry for that, I thought it's ok to add bonus as well .
I will change it now.

[2021-07-28 16:08] mallenexpensify commented on #4234
Thanks for context, we'll add the bonus at the end which will be $250 for reporting the issue (good timing, it just got raised yesterday!)
Hired in Upwork! @tgolen will review your PR once submitted

[2021-07-28 16:12] aman-atg commented on #4234
haha true..😊

[2021-07-28 16:26] isagoico opened #4273 "Notification badge showed 100 unread messages when user only had 1 unread chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
There are no solid reproduction steps yet will investigate further and update.

1. Open the New Expensify app in Desktop
2. From another device and

[2021-07-28 16:29] NikkiWines commented on #3419
Removing my assignment since I can't take this on at the moment

[2021-07-28 16:51] alex-mechler commented on #4273
Of note, when I read the 1 unread message I actually did have, it cleared all 100 unnreads.

[2021-07-28 16:53] timszot commented on #4218
@trjExpensify we can go ahead and hire @aman-atg for this one!

[2021-07-28 17:02] deetergp commented on #4188
This GH seems to assume that there will be something in the paste buffer when you copy block-quoted text out of slack. But when I dump some *lorem ipsum* into a blockquote in Slack, copy it to the buffer, then dump it into terminal, there's nothing. And if I dump it into Google Docs, it retains a bit of the background color from Slack, but nothing else that would indicate a blockquote. Am I missin

[2021-07-28 17:03] trjExpensify commented on #4258
Here you go @rdjuric! https://www.upwork.com/jobs/~01a5045701b75bc097

[2021-07-28 17:03] rdjuric commented on #4218
No @aman-atg, moment is sync and returns no promises.

The behavior happens, that's why @parasharrajat added the check. The AM/PM flashes when you first open or when you refresh the page. Isn't this why you added the `moment.locale(this.props.preferredLocale)` after I mentioned it?

[2021-07-28 17:06] parasharrajat commented on #4188
terminal only supports plain text. HTML formatting it lost while pasting. Github| Slack accepts HTML formatting thus they remain quoted

[2021-07-28 17:08] aman-atg commented on #4218
* **No**

* Well, you can refer to this [comment](https://github.com/Expensify/App/issues/4218#issuecomment-886671630) here to understand what's happening.. I can't explain any further

[2021-07-28 17:08] tgolen commented on #4213
Heads up, I am already making some of these changes in https://github.com/Expensify/App/pull/4091. Mostly for copy that is shown to users.

[2021-07-28 17:25] mananjadhav commented on #4271
Similar to an open issue: https://github.com/Expensify/App/issues/4187

htmlToMarkdown rule will fix this one too.

[2021-07-28 17:29] deetergp commented on #4188
Ah, I see. The problem was with how much I was selecting to copy from Slack. If I include the timestamp, then pasting it back into Slack includes the block-quoting. @parasharrajat Can you show me an example of what your solution does that @tugbadogan's does not?

[2021-07-28 17:31] AlfredoAlc commented on #4210
PROPOSAL

I have been checking the code, and the problem it's in the `keyExtractor` in `ReportActionsView`.
The key for each item is a combination of `action.sequenceNumber` and `action.clientID`.

https://github.com/Expensify/App/blob/b964c89bb2f010299cccd1cfa6263a00348eaf5f/src/pages/home/report/ReportActionsView.js#L407-L410

The issue stars when merged onto Onix, the sequenceNumber is a tempor

[2021-07-28 17:31] mananjadhav commented on #4264
Sure. As far as my experience goes, you won't find a one-size-fits-all lib/solution for all platforms.

I would recommend creating a wrapper around existing one/multiple libs and keeping it outside of the main App repo.

[2021-07-28 17:32] rdjuric commented on #4218
I don't think there's much else I can say, your proposal was wrong and you still don't understand the cause of the issue. I also really disliked that your updated proposal only includes more boilerplate code instead of fixing the root cause.

But this is not my call so that's okay, good luck on the PR 😃

[2021-07-28 17:37] rdjuric commented on #4210
@AlfredoAlc On the video in the issue the Avatar also flickers when we receive a message, and the sequence number of a received messaged is not optimistic (we receive the final sequenceNumber from the API).

So since the sequenceNumber doesn't change, the key for a received message shouldn't change either but the Avatar still flickers, do you know why?

[2021-07-28 17:39] parasharrajat commented on #4188
Yeah, @deetergp.

Take this as example
[code]
Blockquote can contain newlines between text.

you paste a quote with newlines in expensify as
[code]
My regex will handle multi-lines as well. Now there could be an existing line break before the Quote while pasting. We always surround the quote with new lines. and if there was an existing newline before the quote while pasting then we should not add

[2021-07-28 17:43] aman-atg commented on #4218
* Still waiting for your **correct solution**'s demo

* 🤦

[2021-07-28 17:45] parasharrajat commented on #4218
Please be careful with updating the locale at the moment globally. this will cause another issue where we want to run moment() to get the time/date. Please correct me if I am wrong about `moment.locale`.

[2021-07-28 17:46] deetergp commented on #4188
That does seem rather important @parasharrajat, let's go with your solution.

[2021-07-28 17:48] #4235 closed

[2021-07-28 17:51] Santhosh-Sellavel commented on #4271
@parasharrajat you got it covered in #4187.

[2021-07-28 17:51] aman-atg commented on #4218
@parasharrajat
Thanks for the heads-up! I was thinking the same and I'll check that out later.

[2021-07-28 18:02] parasharrajat commented on #4271
Yes. it is covered in that issue.

[2021-07-28 18:24] mallenexpensify commented on #3419
Add `Planning` label since it's on hold, to help with GH searching by label

[2021-07-28 18:24] mallenexpensify commented on #3455
Add `Planning` label since it's on hold, to help with GH searching by label

[2021-07-28 18:25] mallenexpensify commented on #3737
@Julesssss if this is off hold, can you remove `[ON HOLD]` from the title? If it still on hold, please add `Planning` label to help with GH searching by label

[2021-07-28 18:35] AlfredoAlc commented on #4210
@rdjuric I did noticed that sometimes the `Avatar` flickers when the message is received, that could be the way the component `Image` from React Native handles cache, and like @mananjadhav said, `RNFastImage` should fix that issue.

The solution I proposed would fix the double (or in some cases triple) flickering of the avatar when sending a new message.  Implementing the use of RNFastImage in com

[2021-07-28 18:37] mallenexpensify commented on #1856
Closing this, looks like it was paid in Upwork months ago, reopen with comment if needed https://www.upwork.com/ab/c/8577561/contracts/26617789/#milestones%2F20210629%2F20210728

cc @Christinadobrzyn

[2021-07-28 18:37] #1856 closed

[2021-07-28 18:42] AlfredoAlc commented on #4210
Although, `RNFastimage` should be implemented only for `moblie` devices, and still using `Image` from React Native for `web` and `desktop`, since there is no problem with those, this could be a good fix.

[2021-07-28 18:42] mallenexpensify commented on #2160
@marcaaron @parasharrajat @roryabraham
Are there any actions that need to be done with this issue? I removed the existing labels, please add any that you see fit, if you'd like the job posted to Upwork again, add the `External` label.

[2021-07-28 18:46] mallenexpensify commented on #2205
@Beamanator what do you propose we should do with this issue? I removed the `Exported` label since the job isn't live on Upwork anymore.  If you think we should post the job again, please add the `External` label and make sure the OP is updated (if needed)

[2021-07-28 18:52] bfitzexpensify commented on #4256
Reproducable. Getting eng eyes on this to confirm we want to change/this will work and then we can go external

[2021-07-28 19:08] mallenexpensify commented on #2430
@Bognar791, we only manage all jobs and payments through Upwork

[2021-07-28 19:09] mallenexpensify commented on #2430
Job has been doubled to $1000, same[ job link in Upwork](https://www.upwork.com/jobs/~019efa3100649f87a5)

[2021-07-28 19:09] Bognar791 commented on #2430
I have no upwork, do you have any other way?

On Wed, 28 Jul 2021 at 21:08, Matt Allen ***@***.***> wrote:

[2021-07-28 19:14] rdjuric commented on #2430
I think it was $1000 already on the [old link](https://www.upwork.com/jobs/~010e6f0cefe915336a)

[2021-07-28 19:41] michaelhaxhiu commented on #4123
I'll work on posting this job to upwork shortly. Let me double check with @puneetlath and @marcaaron a few things and drop a note here after.

[2021-07-28 19:45] mananjadhav commented on #4229
@AndrewGable  Screencasts added for all platforms. Let me know if anything else is required to merge this.

[2021-07-28 19:47] laurenreidexpensify commented on #3924
@parasharrajat is there PR for this one yet?

[2021-07-28 19:50] laurenreidexpensify commented on #3897
@rdjuric let me know if you're still taking this one, and I will hire you in Upwork :)

[2021-07-28 19:52] laurenreidexpensify commented on #4187
Hi Folks - @Jag96 @MitchExpensify I'm confused here - should I have hired @mananjadhav in Upwork yet? did we agree on the path for the fix in the PR?

[2021-07-28 20:01] parasharrajat commented on #3924
It is ready but I am waiting for some clarification about the issue with react-navigation before creating the PR.

[2021-07-28 20:09] michaelhaxhiu commented on #4123
Okie dokie. @jsamr we'd like to add benchmarking to this request to help show the before/after-effects of the enhancement. Do you have any recommendations for that aspect?

[2021-07-28 20:10] mananjadhav commented on #4210
@AlfredoAlc I feel the `keyExtractor` should stay as is. As mentioned by Rafael, you'll see the avatar flickers in all cases.

@thienlnam @parasharrajat @rdjuric I gave a quick try adding FastImage to the chat list and you'll see the flicker is gone. Attached are the supporting screencasts.

### Without FastImage (flicker/image load evident)

https://user-images.githubusercontent.com/3069065/12738

[2021-07-28 20:11] jasperhuangg commented on #4271
Since this will be fixed by https://github.com/Expensify/App/issues/4187 I'm going to close this out 👍

[2021-07-28 20:11] #4271 closed

[2021-07-28 20:12] michaelhaxhiu commented on #3987
Oopsie that was a mistake - is there an Upwork job for this yet? I don't see it linked in the GH above like usual.

[2021-07-28 20:13] parasharrajat commented on #3987
No there is no Upwork job for this yet.

[2021-07-28 20:16] michaelhaxhiu commented on #3987
Ok I'm just going to do it myself. ☝️ one moment.

[2021-07-28 20:17] conorpendergrast commented on #4005
Great, thanks for testing that out Lauren!

[2021-07-28 20:19] jsamr commented on #4123
@michaelhaxhiu That's perfectly reasonable. What I propose is to create a separate git repository for benchmarking explicit composite vs implicit composite with the react profiler. What I intend to do is display 100 small distinct HTML snippets in a ScrollView an measure the total render time of this view. What I like with this approach is it's reproducible and transparent.

I could also do the pr

[2021-07-28 20:20] parasharrajat commented on #4210
@mananjadhav truly saying that `Without FastImage (flicker/image load evident)` does not have the flicker we are looking to solve with this issue. I understand that with FastImage, image loading is fast but that is something different. Please check the main issue video for reference.

If `image loading or keyExtractor` was the culprit then we must have faced the same issue on Android as well not o

[2021-07-28 20:28] parasharrajat commented on #3987
@michaelhaxhiu Are we sure that we want to remove the boldness from Time and Typing message

[2021-07-28 20:29] marcaaron commented on #4123
To clarify, are you concerned that lags with Onyx will obscure the benefit? To be honest, a separate benchmark repository doesn't sound as useful to me as measurements done within our app. I may be able to help here. I have a pretty decent manual test that will reveal whether something is improving report render time or not.

[2021-07-28 20:31] michaelhaxhiu commented on #3987
Yep I see we had a consensus in slack [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1626285409249200?thread_ts=1626211434.198100&cid=C01GTK53T8Q). cc @iwiznia @shawnborton

[2021-07-28 20:32] mananjadhav commented on #4210
Okay got it. Just checked the video again. More than the delay, the erratic double flicker is what we're trying to resolve, right?

While I couldn't reproduce this, but I'll see if we can find a root cause.

[2021-07-28 20:32] parasharrajat commented on #3987
Okay, thanks for the link. I will remove boldness as well.

[2021-07-28 20:41] roryabraham commented on #4198
:shipit:

[2021-07-28 20:41] #4198 closed

[2021-07-28 20:46] OSBotify opened #4279 "Deploy Checklist: Expensify.cash 2021-07-28"
**Release Version:** `1.0.81-4`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/4019
- [x] https://github.com/Expensify/Expensify.cash/pull/4090
- [x] https://github.com/Expensify/Expensify.cash/pull/4117
- [x] https://github.com/

[2021-07-28 20:53] mallenexpensify commented on #2430
@rdjuric good 👀, thanks.
There were two of the same job in Upwork that were open.  I closed the old one and doubled the _new_ one.
https://www.upwork.com/jobs/~010e6f0cefe915336a
Can confirm it's doubled to $2k

[2021-07-28 20:55] kevinksullivan opened #4280 "Auto-select the Expensify Card tab when first creating a workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Join the `freePlan` beta
2. Create a New Workspace via the + icon in NewDot
3. Name the Workspace and arrive at the workspace menu with no tab a

[2021-07-28 20:59] isagoico commented on #4279
Starting QA 🚀

[2021-07-28 21:07] jsamr commented on #4123
@marcaaron Yes I was a bit worry of that; I'd by happy to see your manual testing strategy; I was also thinking I might sample the render time of each `RenderHTML` component instead of each cell of the flat list; and compare before / after. I would need a list with lots of items preferably. In our initial rationale, we reasoned about 100 items, but now I am thinking that `windowSize` (default 21)

[2021-07-28 21:17] MitchExpensify commented on #4187
We agreed the problem was a good candidate for external so I think an Upwork job can be created. Then we'd hire @mananjadhav if the proposal suggested here looks good, right?

[2021-07-28 21:20] mallenexpensify commented on #2451
Closing, @parasharrajat was paid for this on  Jun 25. Reopen and add comment if needed

[2021-07-28 21:22] Jag96 commented on #4187
@laurenreidexpensify @MitchExpensify first we need to create the Upwork job, then we can assign the `Exported` label which will assign an engineer to review proposals.

[2021-07-28 21:22] parasharrajat commented on #2451
@mallenexpensify Sorry I am not yet paid for this. Also, PR is in progress which I planning to finish as soon as possible.

[2021-07-28 21:23] marcaaron commented on #4123
It's tedious but effective and I don't have anything better yet but... I build the release native app then time when the `FlatList` `onLayout` is called (I know, not perfect) and log this to our log server. Then switch two chats back and forth about 10 times or so, average them out, and compare before and after.

I would maybe do two tests. One where we keep the `FlatList` props as they are and on

[2021-07-28 21:33] mallenexpensify commented on #2934
Unassigned @pranshuchittora for lack of updates.

[2021-07-28 21:33] mallenexpensify commented on #2934
Posted new job in Upwork and raised price to $500
https://www.upwork.com/jobs/~018f3274b947f5d7b2

[2021-07-28 21:39] NikkiWines commented on #4005
Looks like a good candidate for UpWork! Adding the `External` label

[2021-07-28 21:47] parasharrajat commented on #4005
I already made one PR for the fix which was needed ATM for another issue https://github.com/Expensify/App/pull/4006.

### Proposal
1. We have to adjust the styling for the inline code block on Android. Recent changes of RN Text to Expensi-Text caused this breakdown.

[2021-07-28 21:47] deetergp commented on #4184
@tugbadogan's proposal looks good, let do it!

[2021-07-28 21:50] parasharrajat commented on #4184
Again this misses the newline matching etc. Use `[\s\S]*?` instead of `(.*?)` and result should be
`\n```\n$2\n```\n`. Just pointing it out.

[2021-07-28 21:59] isagoico opened #4284 "Infinite loading when logging in"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to staging.new.expensify.com

## Expected Result:
User should be able to log in.

## Actual Result:
Infinite loading and a JS error is dis

[2021-07-28 21:59] OSBotify commented on #4284
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-28 21:59] parasharrajat commented on #3987
@michaelhaxhiu PR is here https://github.com/Expensify/App/pull/4285.

[2021-07-28 22:00] rdjuric commented on #2934
Hi @Beamanator

I saw that we were making an API request to the `IsValidPhoneNumber` endpoint in the other PR. Is there any reason we can't use our `Str.isValidPhone` to validate? If we can, I think we could do something like:

1. While the value of our `OptionsSelector` is composed of digits (and +) only, validate it against `Str.isValidPhone`
2. If it's a valid phone number, render the `OptionsL

[2021-07-28 22:04] rdjuric commented on #3897
@laurenreidexpensify I've started work on this one already! Sent a proposal on Upwork.

[2021-07-28 22:08] marcaaron commented on #4284
Chatting with @luacmartins we think it was caused by this PR https://github.com/Expensify/App/pull/4134 cc @iwiznia @madmax330

Sending the fix now.

[2021-07-28 22:09] AlfredoAlc commented on #4210
In the `Image` component of React Native, there is a property named `cache`, this property helps handling cache on iOS devices, by setting it to `force-cache` stops the flickering.

NEW PROPOSAL
Add this property to the Avatar component

[2021-07-28 22:10] aliabbasmalik8 commented on #2934
I can do this JOB according to [provided plan](https://github.com/Expensify/App/issues/2936#issuecomment-850482854).

Thanks

[2021-07-28 22:34] Santhosh-Sellavel commented on #2934
## Proposal
Just add a valid in OptionsListUtils.js in below shown method.

<img width="933" alt="Screenshot 2021-07-29 at 3 57 57 AM" src="https://user-images.githubusercontent.com/85645967/127404343-73c2b4f5-6f34-437e-bc68-c0980a20adf0.png">

This is to show the message alone if number is invalid if we don't need show the list, we can do that here
https://github.com/Expensify/App/blob/286b8ea195

[2021-07-28 22:35] isagoico opened #4287 "App is reloading each time the user navigates away from the tab (or app)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to Staging in web
2. Navigate away from the tab

## Expected Result:
Tab should not reload when navigating away.

## Actual Result:
Tab we

[2021-07-28 22:40] mananjadhav commented on #2934
I am sending a proposal for this if it is related to the validation message.  I got a little lost looking at all the discussion points and PR comments.

**Proposal**
- My approach would be to have a client-side validation and fail early along with the debounce. Preferably Str.isValidPhone as used in the login
- Updates will include: OptionListUtils.
- My other recommendation was if we would want t

[2021-07-28 22:46] mallenexpensify commented on #2430
Issue persists on production
- Saw there was a new version
- Clicked notification to update
- App froze as I tried to click update button.
![image](https://user-images.githubusercontent.com/22508304/127405659-3211985c-032d-436c-9b51-0f252ecaaf48.png)
- Quit app then reopened
- Backgrounded app
- Joe sent me message, did not show as a notification.
- Quit app then reopened
- Notifications from Joe

[2021-07-28 23:07] mallenexpensify commented on #3822
Still happening on version 1.0.80-2, production, which I just updated to.  Here's a vid

https://user-images.githubusercontent.com/22508304/127407344-2877b1fc-dd34-4603-a894-5e3febaa168c.mp4

Steps
- In chat with User A
- typed `command + k` to access search
- typed `man` then 'enter'
- nothing happened, stayed on same chat as User A (was hoping to go to my 'manager' test account)

[2021-07-28 23:09] mallenexpensify commented on #3822
@deetergp I imagine this is external.  Thing there is enough detail for someone to work on? Repro steps are above and theres a vid now

[2021-07-28 23:16] parasharrajat commented on #3922
Any luck with the questions?

[2021-07-28 23:20] parasharrajat commented on #3822
@mallenexpensify In the vid you posted, the Search was not completed before you press enter.

[2021-07-28 23:36] Jag96 commented on #4213
@parasharrajat your proposal looks good, I've invited you to the Upwork job, if you're interested in this one I'll assign you once accepted.

[2021-07-28 23:45] mallenexpensify commented on #2451
Sorry @parasharrajat .  I'm going to blame it on Upwork :)
The way they show contracts and payments can be tricky sometimes (even though, looking at this job again, it's clear you haven't been paid, apologies again)

[2021-07-28 23:49] mallenexpensify commented on #3822
But it should have returned _something_ based on the keystrokes I entered vs nothing.  ie. in Slack, it never happens that I type a few letters then enter and 'nothing happens'.  I'm guessing it's happened 100+ times to me the past month (not exaggerating) .  And it espec sucks when you send the wrong chat to someone cuz the chat wasn't switched

[2021-07-28 23:52] zsgreenwald commented on #4223
Felt like this was worth discussing, so I brought it up [here](https://expensify.slack.com/archives/C03SSAQG5/p1627516173062200).

[2021-07-28 23:52] zsgreenwald commented on #4223
Personally, I'd lean on just calling it "Expensify", but let's see what the room thinks.

[2021-07-28 23:56] francoisl commented on #4287
This seems to have been fixed while I was looking into it... From what I could tell in the Network tab, the app could not fetch `/version.json`. It works now, and I can't reproduce the issue anymore. Can you try again as well please?

[2021-07-29 00:05] stitesExpensify commented on #3922
No, sorry. I should have an answer tomorrow

[2021-07-29 00:10] roryabraham commented on #3901
@rdjuric Thanks for your investigation! Which platform did you observe these issues on? It seems like you're mostly talking about the web/desktop implementation, right? I notice we're using this [react-native-image-zoom](https://github.com/ascoders/react-native-image-zoom) library on native, and while I'm not too familiar with this piece of the codebase I wonder if these problems you've described

[2021-07-29 00:12] aman-atg commented on #4280
## Proposal

* This can be easily fixed by using `constants strings` inside `menuItems`
https://github.com/Expensify/App/blob/b08f80f26c0574e54f96677afda54b82a694e363/src/pages/workspace/WorkspaceSidebar.js#L54
 We can change this line with   `  isActive: Navigation.isActive(CONST.WORKSPACE.CARD) `

[2021-07-29 00:21] isagoico commented on #4279
Checking off these PRs that were added to the list because of the Cherry pick bug:
1. https://github.com/Expensify/App/pull/4019
2. https://github.com/Expensify/App/pull/4117
3. https://github.com/Expensify/App/pull/4131
4. https://github.com/Expensify/App/pull/4143
5. https://github.com/Expensify/App/pull/4149
6. https://github.com/Expensify/App/pull/4152
7. https://github.com/Expensify/App/pull/

[2021-07-29 00:29] rushatgabhane commented on #4280
@aman-atg That seems like a hack. Because `Navigation.isActive()` isn't working as intended.

[2021-07-29 00:38] aman-atg commented on #4280
@rushatgabhane  IMO selecting sidebar items after parsing and comparing is just an overkill for a simple task.

[2021-07-29 00:48] rushatgabhane commented on #4280
I mean, with this proposal you'll have to create a new constant and function every time we want to check if a route is active.
Does that make sense?

Anyway, check this out, `getCurrentRoute().path` is undefined the first time we visit the url.
(But works properly on refresh/ clicking Expensify Card)
https://github.com/Expensify/App/blob/b08f80f26c0574e54f96677afda54b82a694e363/src/libs/Navigation

[2021-07-29 00:53] aman-atg commented on #4280
I don't know if you're listening to yourself ..

(But gets defined on refresh/ clicking Expensify Card)

And yeah I know that. What are ya trying to say here?

_gn_

[2021-07-29 01:02] isagoico opened #4292 "Login - Entering incorrect and short password will return wrong error message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app and enter e-mail to login
2. Type a incorrect and short (3 or less characters) passwords, like aaa or 123

## Expected Result:
User

[2021-07-29 01:16] isagoico opened #4293 "App is crashing when loading contacts / user list"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login as expensifail account
2. Tap on search icon

## Expected Result:
User is brought to search screen

## Actual Result:
App will

[2021-07-29 01:17] OSBotify commented on #4293
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-29 01:18] zsgreenwald commented on #4223
So far, consensus is to just call it "Expensify" and hyperlink new.expensify.com. Going to give it 24 hours, but I'll update you if we head in a different direction.

[2021-07-29 01:20] aman-atg commented on #4292
The API's returning Status `402` for short passwords instead of `401`
This needs to be fixed on the backend.

[2021-07-29 01:27] mallenexpensify commented on #3743
Added Hold to title with #3737 included.  Added Planning label and bumped to Weekly

[2021-07-29 01:31] isagoico commented on #4293
There's also a weird behaviour in Web with the contact list. It's showing only a few users and there's this console error

[code]

[2021-07-29 02:42] rushatgabhane commented on #3822
Reproducible on web.
Basically you need to type really fast, and before any search result is displayed press Enter.

I don't know how to fix this yet, will update later today.

[2021-07-29 02:47] akandejaphet commented on #4185
When copying, the regex strips out everything like the Slack input box when you try copying. So, I will update the regex to accurately replace the characters. I will also run a couple of tests to make sure it works under different conditions.

Regards.

[2021-07-29 02:57] kadiealexander commented on #4184
@tugbadogan I'm not able to see your proposal in Upwork to hire you for this, would you mind sharing your Upwork name here so I can send through the contract?

[2021-07-29 03:01] rushatgabhane commented on #3822
@mallenexpensify Pretty sure it's because of a 'high' debounce timeout of 300 ms.

https://github.com/Expensify/App/blob/470d9dee9289f35cd0ea7bdf74029bfe1535b725/src/pages/SearchPage.js#L69

[2021-07-29 03:06] kadiealexander commented on #3926
Wow, this moved quickly! Upwork post here: https://www.upwork.com/jobs/~013cc27ddfb15c57a3

[2021-07-29 03:20] kavimuru opened #4296 "iOS - Sign in - Entering long e-mail address will break layout"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Tap on email address
3. Enter a e-mail address longer than the field

## Expected Result:
While new characters are typed, the first o

[2021-07-29 03:59] mateusbra commented on #4185
@AndrewGable could you test if this visual issue is happening only for my devices? If you can reproduce it I think we should open a new issue related to this....

[2021-07-29 04:12] #4138 closed

[2021-07-29 04:27] yuwenmemon commented on #3926
I believe @rushatgabhane is working on this?

[2021-07-29 04:34] Jag96 commented on #4284
The fix has been CP'd to staging and this is no longer a deploy blocker, closing

[2021-07-29 04:34] #4284 closed

[2021-07-29 04:42] Jag96 commented on #4293
cc @marcaaron looks like this is related to https://github.com/Expensify/App/pull/4247/files#diff-6a3f4819485fb409e83240f58a2b8ee3c096ad40718d8f9e12929c1adb888a38R247

[2021-07-29 05:05] mateusbra commented on #4185
@AndrewGable nevermind, I realised that #4005 is already an opened issue treating this... 😅

[2021-07-29 05:27] kadiealexander commented on #3926
Yeah, it moved really quickly. Was just getting the Upwork post up to arrange payment for @rushatgabhane :)

[2021-07-29 06:22] Christinadobrzyn commented on #4135
7 days after PR merge so paid Fadime in Upwork! Upwork job is closed.

[2021-07-29 06:22] #4135 closed

[2021-07-29 07:52] Beamanator commented on #4189
Hey @kp17211 would you please confirm a few things for me:
1. _select any chat and go to detail screen_ <-- what is the "detail screen"? Is this something other than the page where you view all of your chat history with that person?
2. Can you please let me know which version of the app & web platform you are using? You can find the version in settings -> about, right under the Expensify logo (I'm

[2021-07-29 07:57] Beamanator commented on #2205
Thanks for removing that label @mallenexpensify - I currently can't reproduce on the live app (v1.0.81-1) so I think we can close this again and reopen if the issue is reported again. Since it hasn't been reported again in a while, I imagine it was fixed along the way somewhere

[2021-07-29 07:57] #2205 closed

[2021-07-29 08:01] mananjadhav commented on #4187
Will wait for the job to be created. For the engineer to review, I've added this commit in my fork along with the unit test cases that confirms it is working for hyperlink as well as email.

https://github.com/mananjadhav/expensify-common/commit/02e23c3e7773d726f3084f77d5a11e219160d3b1

[2021-07-29 08:55] mananjadhav commented on #4293
Yeah, it is because we've defined `onLayout: undefined`

Fix: Replace `undefined` with `onLayout: () => {}`

[2021-07-29 09:40] Beamanator commented on #2934
@aliabbasmalik8
The link you provided is a plan for what will be the outcome, but next time please mention how you plan to accomplish the plan (which files you'll edit, etc)

@Santhosh-Sellavel
I love the amount of detail you added and even the demo, but your solution is a bit over-engineered. We don't _yet_ need a new type of phone number validation (E.123). Keep up the fantastic proposals though

[2021-07-29 09:41] Beamanator commented on #2934
@rdjuric
Good question, eventually we will want to call `IsValidPhoneNumber` because it connects to a `Twilio` api that validates a phone number exists, which is better validation than just a regular expression. However, we won't need to handle that to fix this PR.

Your solution is very simple and straightforward, I like it 👍 Please submit a PR when you have a moment and @mallenexpensify will ass

[2021-07-29 10:04] haditariq commented on #4115
My solution would be to compress images on the backend and have multiple variants of each image in the database, for example having 3 sizes of different sizes would make loading easy and quick with this we can cache the chat in the app. At first, it will take some time to load and from next it would be really quick.

[2021-07-29 10:33] MonilBhavsar commented on #4209
I'm unable to reproduce this on Android, so can't make sure if it flickers when I apply this patch.

[2021-07-29 10:50] trjExpensify commented on #4218
Hey guys, catching up here. As a reminder, please keep the conversation constructive. This isn't a community that welcomes petty exchanges and insults. We're here to focus on getting shit done and building something that we all are truly proud of as a collective.

Our open source community is an extension of Expensify and one of our core values is Humility.

It's totally healthy to disagree on a p

[2021-07-29 11:20] robertjchen commented on #4129
I was able to reproduce this behavior in the iOS emulator. Interestingly enough, it doesn't seem to be an issue on the Web-based client.

After unsuccessfully trying some quick JS changes, I think the potential solution might have to involve low-level, native control of the input field behavior. Opening it up for others to try tackling it, perhaps a more suitable JS solution can be found! 👍

[2021-07-29 11:25] MonilBhavsar commented on #4209
I am not properly able to reproduce this issue. So can't make sure if it flickers by applying the patch. I think we should apply it and see.
@marcaaron what should we do here

[2021-07-29 11:39] stephanieelliott commented on #4169
Hey @parasharrajat can you please accept this job on Upwork? https://www.upwork.com/jobs/~0121918c29f671d70f

[2021-07-29 12:07] tugbadogan commented on #4184
@kadiealexander my Upwork name is Fadime Tugba Oge.

[2021-07-29 12:57] rushatgabhane commented on #3926
Yes :)

[2021-07-29 13:06] flaviadefaria commented on #4267
Seems less of a priority, but makes sense to fix this.

[2021-07-29 13:30] laurenreidexpensify commented on #4187
okay we're on upwork [here](https://www.upwork.com/jobs/~0137a466e986161b4b) now

[2021-07-29 14:01] trjExpensify commented on #4293
We think this is also the source of the crash when tapping `New Chat` or `New Group`, as well as when you tap `next` on IOUAmount to try and move on to the IOUParticipants page.

Can we retest those flows with the fix?

[2021-07-29 14:05] parasharrajat commented on #4169
@stephanieelliott Already did. I just made few changes there, you must have got a notification.

[2021-07-29 14:07] mananjadhav commented on #4187
I've added a PR for review and also sent a proposal on Upwork!

[2021-07-29 14:30] laurenreidexpensify commented on #4187
Thanks @mananjadhav, just for reference the process here is that once a job has been added to Upwork folks can submit proposals on this GH issue and @Luke9389 will review them here and confirm when we're ready to move to PR. So for now you can close that PR and if @Luke9389 confirms your proposal is the one we're moving forward with, I will hire you in Upwork and then you can reopen or create a ne

[2021-07-29 14:37] trjExpensify commented on #4005
Here you go! https://www.upwork.com/jobs/~0163f562215d6999e9

[2021-07-29 14:45] mananjadhav commented on #4187
Noted. Thanks for explaining the process. Closing the PR.

[2021-07-29 14:56] isagoico opened #4299 "Unable to remove users/ user from the Workplace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Click on FAB menu
3. New Workspace
4. Click on Get Started!
5. Select People
6. Invite 3 users to your workspace
7. Select one

[2021-07-29 14:59] isagoico commented on #4279
**Regression** is finished!
Issues found:
1. https://github.com/Expensify/App/issues/4296
2. https://github.com/Expensify/App/issues/4293
3. https://github.com/Expensify/App/issues/4292
4. https://github.com/Expensify/App/issues/4299

**PRs** are finished too
Comments added:
1. https://github.com/Expensify/App/pull/4190#issuecomment-888772252
2. https://github.com/Expensify/App/pull/4240#issuecomm

[2021-07-29 15:03] MonilBhavsar commented on #3959
@jboniface PR is merged, Reopening for payment

[2021-07-29 15:10] quinthar commented on #4115
I completely agree that we should pregenerate thumbnails made to the exact
sizes we are going to show.

I think one way to do this is to generate them on the fly if they don't
already exist. So when you request the image from our cdn, which is routed
through our servers for authentication purposes, you should request what
thumbnail size you want. The first time we get the request we won't have it

[2021-07-29 15:15] mountiny commented on #3297
Reopening as there will be 2 more PRs to merge before this is done altogether.

[2021-07-29 15:15] thienlnam commented on #4214
@Santhosh-Sellavel Thank you for the great proposal! The changes look good but it seems like @parasharrajat is fixing this in another PR from fixing another bug so I'm just going to have him assigned to this issue as well.

[2021-07-29 15:20] Santhosh-Sellavel commented on #4214
@parasharrajat you should be rich already 😂.

[2021-07-29 15:21] thienlnam commented on #4130
Hey @Santhosh-Sellavel - great questions

I'm going to loop in @shawnborton for design ideas regarding what an error would should look like in the IOU flow, and what the expected behavior would be.  I would expect that if an amount is invalid we would just put them back at the amount screen.

We should probably clean up the message a bit, maybe just put 'Invalid Amount' instead of having the error

[2021-07-29 15:24] marcaaron commented on #4293
Sure @trjExpensify added a note to the fix PR. Thanks for the help everyone!

[2021-07-29 15:41] shawnborton commented on #4130
@thienlnam I'm a little out of the loop here, but I think if an invalid number is entered on the number screen, we should validate the field right there and not wait until the next step to throw an error.

[2021-07-29 15:45] mallenexpensify commented on #3313
Was curious about this issue because I often try to right-click to copy links.
Checked the PR, looks like it was held on https://github.com/Expensify/App/pull/4194 til yesterday

[2021-07-29 15:47] TomatoToaster commented on #4296
Glancing through the GH blame for that textinput shows me tells me that it wasn't changed recently. It seems like it's likely this was around for a while. Can confirm it doesn't happen on iphone 11.

This polish makes sense as an external issue I think.

[2021-07-29 15:49] mananjadhav commented on #4280
While I feel this issue is an issue with react-navigation at the first glance.

** Proposal **

We can modify the isActive function that'll look something like this

[code]

[2021-07-29 15:52] thienlnam commented on #4210
Thank you all for keeping this conversation going!

@AlfredoAlc The docs for [Cache Control](https://reactnative.dev/docs/images#cache-control-ios-only) doesn't really explain what `default` is but I don't think we want to `force-cache` as it ignores the expiration.

[2021-07-29 15:53] mananjadhav commented on #4296
It isn't an issue with iPhone X and iPhone 11 that I've tested. In the iOS simulator, I could reproduce it only twice for "iPhone SE 2nd Generation" and  "iPhone 8". After a few attempts, I couldn't reproduce.

[2021-07-29 15:56] TomatoToaster commented on #4029
It's been deployed recently to prod I believe.

[2021-07-29 15:56] rushatgabhane commented on #4280
@mananjadhav We maintain `currentURL` as an ONYX key.

`isActive()` function can be a one-liner. What do you think?

[2021-07-29 16:01] mananjadhav commented on #4280
That’s the first thing that I checked and it works too.

I thought we would be using isActive later for internal screen navigation too. It it is going to be route based then Onyx works.

[2021-07-29 16:06] roryabraham opened #4302 "[HOLD] Create a windows client"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

### Problem
We do not currently have a windows desktop client app for New Expensify.

### Why is this important
While windows users can use the web app, I know many of u

[2021-07-29 16:13] thienlnam commented on #4130
There are some amounts that are actual numbers but cause out backend to throw an error and I'm guessing it has to do with limits on integer constants that we have back there. That's actually probably a better way to handle it and we can just hardcode a limit of 99 million? (Only consideration here is that different currencies have different conversion values but 99 million has got to be a ton of m

[2021-07-29 16:19] Santhosh-Sellavel commented on #4130
@shawnborton
Ya we can do that too in client side, if request/split amount should be less than 100,000,000 million numbers and does not worry but currency selection.

Consider if request fails for any other reasons, we need do handling, because infinite loading occurs back again. So we need handling for that.

@thienlnam
Can we remove json code from `message` in thats the right place to do. Its re

[2021-07-29 16:28] #4229 closed

[2021-07-29 16:28] aman-atg opened #4307 "[PAY 8/20] You can invite someone who's already a member of the workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a workspace
2. Choose people tabs
3. Invite yourself by adding your email address
4. It'll show two entries

## Expected Result:
An error

[2021-07-29 16:29] aman-atg commented on #4307
## Proposal

https://github.com/Expensify/App/blob/9f15c144bd0c0c716ee4655f8e7946e30588ac1a/src/pages/workspace/WorkspaceInvitePage.js#L74-L85

* Adding the below code after line 81 will fix the issue
[code]

* `workspace.invite.cantInviteYourself` can be a message like `You can't invite yourself.` or something similar

[2021-07-29 16:32] NikkiWines commented on #4226
Looks good! Adding the External label

[2021-07-29 16:42] mallenexpensify commented on #3822
@rushatgabhane thanks for the 👀, I just came here to add something like what you said `Basically you need to type really fast, and before any search result is displayed press Enter.`.

Are there downsides to this approach?

In general, I def don't think we should _penalize_ people for typing fast (mostly unrelated, I try to navigate NewDot from my keyboard as much as possible and LOVE keyboard sho

[2021-07-29 16:43] AndrewGable commented on #4185
@mateusbra - Looks great, thank you for tracking down #4005. However, are there any jest unit tests you can use to automatically test your PR? I see that it works in the screen recording, I just want to make sure your [proposal](#4005) will include a unit test as well as the new rule.

[2021-07-29 16:57] thienlnam commented on #4130
@Santhosh-Sellavel
We handle all of our responses this way so it's unlikely that we would remove it for just this message.  I would add handling based on the specific error message you expect to see and just use a clean message for it like `Invalid Amount`

[2021-07-29 16:57] marcaaron commented on #4209
Looking the logs in that video and I'm seeing that `offlineMessageRetry` warning that was discussed briefly here https://expensify.slack.com/archives/C01GTK53T8Q/p1627565830443000

That's correct. However, I think maybe in this case the console errors might suggest a network issue that prevented the data from being fetched.

We could look into what that would take, but I _think_ in most cases this

[2021-07-29 17:03] aman-atg opened #4308 "Not auto focusing to the required Input inside Workspace page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to the workspace
2. Click on the invite button
3. Email or Phone Input will not be focused

## Expected Result:
It should be focused

https://

[2021-07-29 17:03] aman-atg commented on #4308
## Proposal

* We can create a ref element for `Phone or Email` Input and then add `focus` using the below code after line 89 (With some other required changes on other places)
[code]
https://github.com/Expensify/App/blob/d26de0563905d6b5fb4a8d2a6696030ba15a9678/src/pages/workspace/WorkspaceInvitePage.js#L89

[2021-07-29 17:08] parasharrajat commented on #4209
I only see this error during hot-reload. I believe it's not an issue. It only happens when the browser cancels the inflight request on page reload and etc.

[2021-07-29 17:12] parasharrajat commented on #4308
The workspace feature is still in beta. There would be more pages coming to Workspaces. If you like to fix this, it's good if you can check other pages and fix them all.

[2021-07-29 17:18] aman-atg commented on #4308
@parasharrajat let me know if it's happening on any other page.
Currently I can see this behaviour only on this page

[2021-07-29 17:18] AlfredoAlc commented on #4210
@thienlnam Yes, the `default` property is automatically enabled by default. See [ImageCacheEnum](https://reactnative.dev/docs/image#imagecacheenum-ios)

Probably iOS handles cache storage by certain conditions, and this is the case where it doesn't store the image into cache.

One way to solve this is by implementing into native code [SDWebImage](https://github.com/SDWebImage/SDWebImage) library,

[2021-07-29 17:23] quinthar commented on #4214
Is there anything about logging a comment that is idempotent?  This could be another reason to generate random client-side action IDs, such that we can suppress duplicate uploads. /cc @marcaaron @tgolen

[2021-07-29 17:27] Santhosh-Sellavel commented on #4130
@thienlnam Okay will do it here.

For Request Money -` jsonCode 405` message is `Invalid Amount`.

1. For Split money -` jsonCode 404` message is `Splits amount does not equal total amount`?
2. For other error codes?
3. With i18N right?

[2021-07-29 17:37] AndrewGable commented on #4185
@arielgreen - Please hire @mateusbra via Upwork. I look forward to reviewing the PR!

[2021-07-29 17:49] deetergp commented on #3822
Definitely external

[2021-07-29 17:52] deetergp commented on #3822
@rushatgabhane Can you confirm your fix works on the Desktop App, since that's where it was reported?

[2021-07-29 17:58] mananjadhav commented on #4280
Approach with Onyx:

Navigation.js
[code]

actions/App.js

[code]

While I tested and it worked fine. I am just concerned about one thing. Onyx uses a persistence layer with localStorage on the web. This is generally shared by the domain/application. So any updates on one open tab shouldn't affect the other.

[2021-07-29 18:00] mountiny commented on #4268
@kidroca 👋 Since this is a `daily` issue, can you try to drop some line here every working day to update on your progress. Either some summary of what has been done in the Draft PR (it helps to see the steps made in a bigger picture) or simply that you have not had time to work on this that given day.

Thank you very much and have a great day 🙌

[2021-07-29 18:04] marcaaron commented on #4209
Our QA testers are not building from dev (i.e. no hot reload) yet the console logs in the video show a similar message. But I agree it could be unrelated - not sure!

[2021-07-29 18:21] marcaaron commented on #4106
Quick update here. We are seeing great progress with the PR opened by Rajat. It should be on staging soon!

Especially on Android where the chats are opening 0.7 seconds faster 🤯

Separately, I think I will look into further improving the metrics for chat switch time so we can track it in Firebase alongside the other critical metrics that have been recently set up.

Big success ! Great job everyon

[2021-07-29 18:22] strepanier03 commented on #4307
Unique — Looks to be unique to me,
Issue hygiene — Looks go here as well,
Clarity of problem — Problem is stated clearly,
Value — Looks like something we should fix,

Passing to Eng.

[2021-07-29 18:25] marcaaron commented on #2667
Just giving a brief update of where we are at with this. 2 more PRs have been merged:

1. PR to improve metrics output
2. Another PR to defer some `Onyx.connect()` calls while we wait for `defaultKeysStates` to be set

@kidroca I will create a PR to get that change into `Expensify/App` if you want to start working on the next PR which is

Sound good?

[2021-07-29 18:29] joelbettner commented on #4292
@isagoico just to confirm, this happened when you were attempting to log in with gI3utest@gmail.com, correct?

(I can't tell if the second letter is a lower-case "L" or an upper-case "I")

[2021-07-29 18:39] rushatgabhane commented on #3822
Yes, it works on desktop app. Just tested.

[2021-07-29 18:41] JmillsExpensify commented on #4214
This happened to me again today. Duplicate messages

[2021-07-29 18:45] isagoico commented on #4292
Mm let me confirm with the tester. I was also able to reproduce this with my account isagoicotest@gmail.com

[2021-07-29 18:54] joelbettner commented on #4292
I think I found the logs for this:

https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%226761fa61de42601e-GRU%22)+AND+timestamp:[2021-07-28T22:44:54.625Z+TO+2021-07-29T00:44:54.625Z]&index=logs_expensify-011753

I'm confused, though. It is showing that we threw a `402` because there was no `partnerUserSecret` included in the request (and that means we threw from this check: h

[2021-07-29 19:07] quinthar commented on #4106
Can't wait!!

On Thu, Jul 29, 2021 at 11:21 AM Marc Glasser ***@***.***>
wrote:

[2021-07-29 19:17] deetergp commented on #3822
@rushatgabhane Proposal sounds good to me. Let's do it!

[2021-07-29 19:20] aliabbasmalik8 commented on #3774
@MelvinBot it's fixed and  merged 7 days before

[2021-07-29 19:21] roryabraham commented on #4215
PR was merged and deployed to staging yesterday.

[2021-07-29 19:23] roryabraham commented on #3195
@mallenexpensify This has been done for a while now. Can we confirm that @dklymenk has been paid on Upwork then close this out?

[2021-07-29 19:27] parasharrajat commented on #3972
@NicMendonca I think this can be closed and the Help Wanted label can be removed as well.

[2021-07-29 19:36] isagoico commented on #4292
This is also reproducible when entering 1 or 2 characters in the password field. As a side note, I'm also able to log with with my account (isagoicotest@gmail.com) when entering the correct password.

![Screenshot_20210729_153403_com expensify chat](https://user-images.githubusercontent.com/44479856/127554768-c8bd0a40-00b2-4308-b0a7-1ba98649c768.jpg)

[2021-07-29 19:42] joelbettner commented on #4292
So, there is a threshold over which the correct error message is shown.

I'll keep digging, but something funky is happening here...

[2021-07-29 19:46] joelbettner commented on #4292
If I enter an incorrect password that is 3 characters or less I get the following message:
![image](https://user-images.githubusercontent.com/13264774/127555984-28020f0f-9794-4e01-8a79-6d9f82bcec46.png)

If I enter an incorrect password that is 4 characters or more I get the correct error message:
![image](https://user-images.githubusercontent.com/13264774/127556077-30770505-f6b3-45ab-94cf-b0ca300

[2021-07-29 19:58] bfitzexpensify commented on #4129
[Upwork posting](https://www.upwork.com/jobs/~019d365799cb5c7fd4)

[2021-07-29 20:01] marcaaron commented on #3951
Melvin shoo!

[2021-07-29 20:04] mateusbra commented on #4185
Yes, I'll include a unit test at [ExpensiMark-Markdown-test](https://github.com/Expensify/expensify-common/blob/cf78cdc764ac17fb2aaa8b73626cca64c3aa565f/__tests__/ExpensiMark-Markdown-test.js)

[2021-07-29 20:20] kakajann commented on #3108
I had to work on this for more than 2 months because of delayed code reviews and unexpected conflicts. Also, I got to add new features.

Therefore, I am requesting to increase the budget for this work.

[2021-07-29 20:21] michaelhaxhiu commented on #4123
Job is posted on Upwork. @jsamr feel free to apply and I'll accept you asap - https://www.upwork.com/jobs/~0157cdae32a7b23e69

[2021-07-29 20:24] thienlnam commented on #4130
Those codes and messages are good, for anything else lets give a generic error like 'Unexpected error, please try again later'

Yup 👍

[2021-07-29 20:30] thienlnam commented on #4210
Let's try to figure out why this is the case first, before trying to build a workaround for it

[2021-07-29 20:34] kidroca commented on #4268
@mountiny
OK will do.
I wasn't sure I should be working on this ticket before someone officially approved it
Also ATM the ticket is not assigned to me, can you add me to the assignees?

[2021-07-29 20:38] joelbettner commented on #4292
Ok...I've found out what is going on...

The WAF is preventing passwords that are less than 4 characters from being passed from a client to the API, and in that case simply passes an empty password:
https://github.com/Expensify/Web-Expensify/blame/master/_inputrules.php#L19

I've got a fix coming...

[2021-07-29 20:39] rdjuric commented on #4258
@marcaaron Only managed to do a release build on my android device - it's a Moto g(7) power.  The improvement is closer to 35% now, still pretty good!

| Platform | initialNumToRender  | Average time to switch reports |
| ------------- | ------------- | ------------- |
| Android - Release |  Fixed (20)  | 1,899 ms  |
| Android - Release |  Ideal (10)  | 1,236 ms  |

Should I follow this plan on th

[2021-07-29 20:40] AndrewGable commented on #4302
My only concern with this is: if we get it for free using Electron, why not wait until customers (preferably paying) ask for it? Otherwise, we are adding testing complexities on Applause or ourselves for very little gain. I'd personally love to see us make the app more stable and/or mature before we start this undertaking to make it easier for us to ship faster, then add Windows support.

[2021-07-29 20:41] marcaaron commented on #4258
That's pretty good I think... Let's do it! 🙇

👍

[2021-07-29 20:45] kidroca commented on #2667
@marcaaron
Thanks, the 3rd PR was merged as well
These 3 are ready:
1. PR to improve metrics output
2. Another PR to defer some Onyx.connect() calls while we wait for defaultKeysStates to be set
3. Prevent unnecessary writes when data has not changed by adding _.isEqual()

Next is "LRU Cache update", I'll try to get the `withLocalize` change ready as well so we can see the full improvements: #4253

[2021-07-29 20:58] muratti32 commented on #4129
the problem seems to be related to state management

[2021-07-29 21:07] sonipranjal commented on #4129
I can easily fix this; it seems to be the problem because the input field is not controlled. (state management problem)  My Upwork profile: https://www.upwork.com/freelancers/~014e072a4daf3ed991
Thanks

[2021-07-29 21:09] marcaaron commented on #2667
Nice, so, I've updated the open PR to include the latest changes and did another set of user timing tests on release builds.

The 2nd PR did not yield anything significant in terms of user time. But I did have to fix a broken test. No issues observed besides that.

The 3rd improved chat switch times by ~250ms on Android 🎉

[2021-07-29 21:12] Jag96 commented on #4293
Fix has been deployed to staging, closing

[2021-07-29 21:12] #4293 closed

[2021-07-29 21:17] marcaaron commented on #4129
@muratti32 How so?

@sonipranjal We had a controlled input used in the past. The performance was very bad.

[2021-07-29 21:31] marcaaron commented on #4129
If it helps, here's where we clear the comment by calling this method with an empty string

https://github.com/Expensify/App/blob/fa355419244df0f583a54ae9e561fab7a9c647bd/src/pages/home/report/ReportActionCompose.js#L419-L420
https://github.com/Expensify/App/blob/fa355419244df0f583a54ae9e561fab7a9c647bd/src/pages/home/report/ReportActionCompose.js#L303-L311

I'm not certain, but if I had to guess

[2021-07-29 21:35] parasharrajat commented on #3108
I support @kakajann here. PR looks heavy.

[2021-07-29 21:44] mallenexpensify commented on #3822
https://www.upwork.com/jobs/~01fa161c1944380e84
Let me know when you've submitted a proposal in Upwork @rushatgabhane and I'll hire you

[2021-07-29 21:47] rushatgabhane commented on #3822
@mallenexpensify Done ✅

[2021-07-29 21:52] mallenexpensify commented on #3195
Paid in Upwork, it was weird cuz it showed @dklymenk twice for being hired, but neither showed being paid yet. Sorry for the delay

[2021-07-29 21:52] #3195 closed

[2021-07-29 21:59] mananjadhav commented on #4129
*Proposal*

We can try running the submitting after clearing the textField.

[code]

[2021-07-29 22:04] isagoico opened #4315 "Log in - Update copy for Set a password screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in with a new account
2. Check the inbox for the magic link

## Expected Result:
Page should mention something like "Welcome back! Please set

[2021-07-29 22:10] mountiny commented on #4268
@kidroca Feel free to start working on this. Performance is very important to us right now. Jason should be able to create the Upwork job for you 🙌

[2021-07-29 22:23] mananjadhav commented on #4315
**Proposal**

At the moment, `SignInPageLayoutWide` and `SignInPageLayoutNarrow` both have a Text that shows `welcomeText.phrase1`. The same component is also used for `SetPassword`.

I would recommend doing the following:
1. Add a new translate key phrase4: `Welcome back to Expensify! Please set your Password`
2. In the SiginWithLayout,  SignInPageLayoutNarrow, SignInPageLayoutWide, take a prop f

[2021-07-29 22:34] isagoico commented on #4279
https://github.com/Expensify/App/issues/4293 just confirmed there was no crash 🎉 checking it off.

There was a bunch of blocked steps on our regression because of this. I would propose restarting QA by removing/readding the Lock label and proceed with a new QA run so we have a full regression and test new PRs OR we could just retest the blocked steps (that are a lot) only. What do you think @rorya

[2021-07-29 22:52] marcaaron commented on #4129
@mananjadhav Interesting, is there some explanation for why this would help?

[2021-07-29 23:31] roryabraham commented on #4279
Let's retest the blocked steps _and_ do another full regression suite tomorrow. But there should be no need to remove and re-add the lock label, right? We don't need to potentially introduce more deploy blockers in this release 😅

[2021-07-30 00:39] mallenexpensify commented on #3381
Checking with @marcaaron and @thienlnam on NewDot to discuss next steps

[2021-07-30 00:47] Jag96 commented on #4299
I can reproduce this one, the error being returned from the API is `Invalid email address parameter` because for some reason the emailList value is an empty string when sending from iOS but not from web. We're currently sending an array of strings to the API, but in the Web repo for the same command we send a comma-separated list of emails. The API expects a comma-separated list as well, so I'll m

[2021-07-30 00:51] francoisl commented on #4307
Hi @aman-atg, your proposal would work for the very specific issue where someone can invite themselves, but the issue can be generalized and rephrased as: you can invite someone who's already a member of the workspace (e.g. invite the same account twice in a row).

With that in mind, can you please update your proposal? For the error message, I suggest something like `<login> is already a member o

[2021-07-30 03:27] marcaaron commented on #4101
**Quick update.**

I ended up doing a POC in [this branch](https://github.com/Expensify/react-native-onyx/compare/marcaaron-withOnyxTest) that I suggested we try in that last comment. It is hacked together and doesn't use any caching, but basically collects all the data a subscriber needs and then passes it to `withOnyx` so we only `setState` once. The results were sort of inconclusive but we stil

[2021-07-30 04:16] kadiealexander commented on #4184
@tugbadogan I'm unable to find your proposal on the [Upwork post](https://www.upwork.com/jobs/~0100f1c852ca9ed199) for this issue:

![image](https://user-images.githubusercontent.com/59587260/127599268-cb7a1e44-b39d-4ea8-a28f-da052728591a.png)

Could you please confirm if you have submitted one?

[2021-07-30 05:30] kadiealexander commented on #4226
https://www.upwork.com/jobs/~013b8db168419475e1

[2021-07-30 05:45] arpitdeveloper commented on #4129
we update the  submitForm in "src/pages/home/report/ReportActionCompose.js"
this.setTextInputShouldClear(true); is use the first line in submitForm

[2021-07-30 06:55] mananjadhav commented on #4226
**Proposal**

My solution would be to merge `SignInPageLayoutWide` and `SignInPageLayoutNarrow` into a single component. I understand we've got some changes in the layout and the style, but the underlying form is more or less is the same. This way components can maintain their own state and be reusable.

1. Merge `SignInPageLayoutWide` and `SignInPageLayoutNarrow`
2. Have conditional styles. Mater

[2021-07-30 07:01] aman-atg commented on #4307
@francoisl  Thanks for the input. I will update the Proposal with better logic that will cover the above mentioned scenario.

I have one question, though. Since we're supporting multiple logins.. what should be the error message when 2 or more logins are duplicates.

[2021-07-30 07:17] Beamanator commented on #3108
@kakajann thanks for bringing this up, we're discussing internally and I definitely agree you should get a pay bump for this big task. Can you please give us an estimated # of hours you've worked on this related PR?

[2021-07-30 07:23] Beamanator commented on #2936
Unassigning for lack of updates - I'm going to clean up requirements & put this on hold for https://github.com/Expensify/App/issues/2934

[2021-07-30 08:17] tugbadogan commented on #4184
@kadiealexander Upwork had the following screen, I have already submitted the proposal for this job post:
<img width="1084" alt="Screenshot 2021-07-30 at 09 09 07" src="https://user-images.githubusercontent.com/3853003/127623138-c875d74c-e61a-4981-b681-ec4f4e0a771c.png">

I've withdrawn my proposal and submitted it again. Can you check again?

[2021-07-30 08:19] Dal-Papa commented on #3774
@puneetlath : It doesn't seem like there were any regression, could you please honor the UpWork contract ?

[2021-07-30 08:52] kidroca commented on #4136
Hey @marcaaron I've saw you added some plugins in Flipper, how are you getting them to work in Android
I find that it's not possible unless I make this change proposed above

For the time being I just apply it locally like so:
![image](https://user-images.githubusercontent.com/12156624/127627889-3414cb91-96b2-4f4e-93d2-10654d456106.png)

[2021-07-30 08:55] kidroca commented on #4268
Thanks, I just needed the green light
Instead of creating an Upwork job I think I can just log my work for this ticket under my hourly contract

cc @arielgreen

[2021-07-30 09:20] parasharrajat commented on #4136
I get com.expensify.cash.

[2021-07-30 09:52] rushatgabhane commented on #4226
@mananjadhav

Can you investigate why Wide and Narrow were created as separate components, instead of a single component?

[2021-07-30 10:05] mountiny commented on #4268
@kidroca Ah, you are right, I was not aware of this. I believe that is the way to go. Is that right, Ariel? :) Thank you for confirming!

[2021-07-30 10:07] kidroca commented on #4136
Where do you get that?
Here's the latest source and it's clearly not `com.expesnify.cash`

https://github.com/Expensify/App/blob/d21e44b3f51a447f1f778ee2adad3dd998a6f257/android/app/src/debug/java/com/reactnativechat/ReactNativeFlipper.java#L7

Maybe Mark's change fixed it as now at least matches the path, but I still think the package name should be the same as with the app - `com.expensify.cash`

[2021-07-30 10:24] mananjadhav commented on #4226
Well I did go through the diff and the history. I can see two layouts created since the beginning and being worked to merge as much as possible in SiginInLayout what we have today.

I feel it is a preference. Your component in the single file will definitely increase the LoCs with multiple components but the same can also be achieved by creating subcomponents for the Wide layout and just reference

[2021-07-30 10:25] laurenreidexpensify commented on #4147
@rdjuric Just to let you know payment will be on Monday because of the 31st falling on a weekend

[2021-07-30 11:10] aman-atg opened #4319 "[HOLD for payment Aug 12] Infinite loading screen when the user manually enters a reportID starting without a number"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

Upwork post: https://www.upwork.com/jobs/~01810669bc6137e1a3
___

## Action Performed:
1. Login to new expensify
2. Enter any letter after `r/` in the URL
3. Infinite loadin

[2021-07-30 11:10] aman-atg commented on #4319
## Proposal

#### Explaination
 * It's happening because we're returning `NaN` here as a reportID
    https://github.com/Expensify/App/blob/69d740aac6104126a210763c3fbd0dda88f72772/src/pages/home/ReportScreen.js#L61-L66

#### Solution
[code]
* We can redirect the user to `Concierge's Chat` and show an `error message` by defining a reusable function inside `src/libs/actions/Report.js` that can be n

[2021-07-30 11:59] iwiznia commented on #4280
I agree with this, given that when we [create the workspace](https://github.com/Expensify/App/blob/6bbfaa87c4ab219ac088bb3a9e4f1f9ef85736c3/src/libs/actions/Policy.js#L205), we do:
[code]
And then in the workspace card route, we do:
[code]
So, that should return true... what I am not sure about is why this is happening... like why after changing the to the correct route/page the `navigationRef` is

[2021-07-30 12:09] mananjadhav commented on #4280
That's right and I did check that when it gets redirected first, the `path` is `undefined` in `getCurrentRoute`.

I checked until the `linkTo` where we dispatch the action. The payload matches exactly when we redirect from Create Workspace and also when I reload the page with the WorkspaceCardRoute path.

I gave some workaround solutions, but I feel this issue might require a little more digging.

[2021-07-30 12:23] aman-atg commented on #4280
@iwiznia

It might be happening because we're passing an empty object here

https://github.com/Expensify/App/blob/69d740aac6104126a210763c3fbd0dda88f72772/src/libs/Navigation/AppNavigator/WorkspaceSettingsDrawerNavigator.js#L17

[2021-07-30 12:29] aman-atg commented on #4280
So, still the solution will same, i.e. , passing a `constant string` so that it can be used later.

One example is here,
https://github.com/Expensify/App/blob/cd663c70a34a4fd1c5d2d77b41d568fea825cc23/src/libs/Navigation/AppNavigator/AuthScreens.js#L391

[2021-07-30 12:37] iwiznia commented on #4280
@aman-atg passing a param sounds like a hack, this seems like something relating to our navigation is not totally correct. After you do `Navigation.navigate(ROUTES.getWorkspaceCardRoute(response.policyID));` and right before the route is rendered, any call to `Navigation.isActive(ROUTES.getWorkspaceCardRoute(policy.id))` should succeed.

So as @mananjadhav said, we need a bit more digging to see w

[2021-07-30 12:38] parasharrajat commented on #4280
This seems an issue with React navigation. The path is not set on the first navigation.

[2021-07-30 12:47] kidroca commented on #4101
I've posted a reply on the slack thread but here's the gist:

Instead of making a Context Provider for each key that is mass used we can make a single `OnyxContextProvider` that wraps the `App`
- It will manage connections similarly to how that happens now
- Its state would be aggregated from all connections
- `withOnyx` would be receive a slice of props using `OnyxContextConsumer` and will provid

[2021-07-30 12:49] mananjadhav commented on #4280
At the first attempt, I feel this line is what must be causing.

https://github.com/react-navigation/react-navigation/blob/6d518a46b89496f4a3bfd2da24245fe344f97290/packages/routers/src/CommonActions.tsx#L68

[2021-07-30 12:58] iwiznia commented on #4280
Can you expand on that @mananjadhav?

[2021-07-30 13:16] arielgreen commented on #4268
Yep, @kidroca, that's perfect. Thanks.

[2021-07-30 13:24] mananjadhav commented on #4280
I am not 100% sure of it. I only traced visually without executing. In the navigate action for this line, it only returns the name and the param, not the path. In the other case, it returns the complete payload.

Hence when I compared the payload we dispatch it is exactly the same. Hence I didn't comment my findings earlier in the thread.

[2021-07-30 13:56] kevinksullivan opened #4321 "Steps in VBA flow are resulting in a loading spinner, making it impossible to enable the card"
# Problem

[Slack thread](https://expensify.slack.com/archives/C020EPP9B9A/p1627584540315900)

When going through the VBA flow for the Free Plan, there are certain steps that result in a loading spinner, which makes it impossible to enable the Expensify Card. In this [PR](https://github.com/Expensify/App/pull/4165) we caught it at the ValidateStep, but in my most recent testing on kevin@ottercount

[2021-07-30 14:03] aman-atg commented on #4226
@kadiealexander Submitted the [proposal](https://www.upwork.com/ab/proposals/1420996426660691969) on Upwork

[2021-07-30 14:40] isagoico commented on #4279
These 2 PRs had an issue are still failing:
https://github.com/Expensify/App/pull/4190#issuecomment-888772252 (@johnmlee101)
https://github.com/Expensify/App/pull/4240#issuecomment-888718342 (@Dal-Papa)

This internal QA need to be tested too: https://github.com/Expensify/App/pull/4227 (@HorusGoul @Dal-Papa)

[2021-07-30 14:40] isagoico commented on #4279
https://github.com/Expensify/App/pull/4263 was retested and was a pass 🎉

[2021-07-30 15:16] marklouisdeshaun commented on #4155
Not overdue

[2021-07-30 15:18] #3600 closed

[2021-07-30 15:18] jboniface commented on #3600
paid

[2021-07-30 15:37] puneetlath commented on #3774
Paid!

[2021-07-30 15:37] #3774 closed

[2021-07-30 15:50] marcaaron commented on #4136
Hey @kidroca, sorry I didn't see this issue, but I opened a PR for this yesterday because it was not working for me as well.

https://github.com/Expensify/App/pull/4317/files

I didn't catch the part about having the project names match, but it seems to work locally now for me.

[2021-07-30 15:51] #3972 closed

[2021-07-30 15:58] mananjadhav opened #4323 "[pay 2021-09-17] Add skin-tone support for Emojis"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
NA

## Expected Result:
- Tabbed view for Emoji Picker
- Skin tone support for Emojis
- Larger set for Emoji
![image](https://user-images.githubuser

[2021-07-30 16:13] mananjadhav opened #4324 "[HOLD for payment 2022-11-02] [$2000] Render Emoji when typed with emoji code"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to the chat
2. Enter `:smile:`

## Expected Result:
- It should've rendered a smiley. Reference screencast from Slack.
https://user-images.git

[2021-07-30 16:13] kidroca commented on #4136
Updating the package and the reflection also fixes the problem so we can close this

[2021-07-30 16:13] #4136 closed

[2021-07-30 17:00] AndrewGable commented on #4185
@mateusbra - Can you submit a PR against https://github.com/Expensify/App with the updated hash of your changes? You can re-use the QA steps and screen recordings. Thanks!

[2021-07-30 17:49] MitchExpensify commented on #4321
This is a launch blocker, labelling eng to expedite the investigation

[2021-07-30 17:51] aman-atg opened #4325 "[Hold for payment on Thurs 26th Aug] User's Profile is shown in searches when email/phone is entered"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login to new expensify
2. Search for your email/phone
3. Your own profile will appear as an option

## Expected Result:
Current User shouldn't a

[2021-07-30 17:51] aman-atg commented on #4325
## Proposal

#### Explaination
It's happening because we're not checking if the `searchValue` is `User's one of the logins`

#### Solution
[code]
* Integrating the above code after line `464` will fix the issue https://github.com/Expensify/App/blob/f8561077629122bf78822f117648c751fd8bf830/src/libs/OptionsListUtils.js#L464-L472

[2021-07-30 17:59] Jag96 commented on #4279
Tested and checked off https://github.com/Expensify/App/pull/4227, and just CP'd https://github.com/Expensify/App/pull/4322 to staging so that should be good to re-test once it gets deployed. Will look into https://github.com/Expensify/App/pull/4240#issuecomment-888718342 next.

[2021-07-30 18:21] kidroca commented on #4268
I've pulled the latest changes and captured new **"PRE"** benchmark information.

hash: f8561077629122bf78822f117648c751fd8bf830

### Benchmark Before Proposed Changes

##### Legend
- **Total:** sum of all calls made by Onyx
- **Last call ended at:** end time of the last call made by Onyx (often this is not a "get" call, but a "set")
- **Last long Onyx#get at:** the last time a get call took more

[2021-07-30 18:37] isagoico opened #4328 "[HOLD for payment on Friday 13th 👻 ] mWeb - Focus on email box is not correctly displayed on the sides of the text input"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to staging.new.expensify.com
2. Focus on the email input

## Expected Result:
Blue line is fully visible in the "Enter you phone or emai

[2021-07-30 18:38] Jag96 commented on #4279
Checked off the following that were added by the CP bug:
- 4090
- 4172
- 4272
- 4285
- 4294
- 4295
- 4301
- 4309
- 4311
- 4312
- 4313
- 4317
- 4318
- 4322 (This was the fix for 4190)

[2021-07-30 18:38] mateusbra commented on #4185
@AndrewGable How can I do that? I've made changes at ExpensiMark that lives at [Expensify/Expensify-common](https://github.com/Expensify/expensify-common). I dont know what to compare against https://github.com/Expensify/App could you please help me with that?😅

[2021-07-30 18:43] Jag96 commented on #4279
Looking at https://github.com/Expensify/App/pull/4240 I can't reproduce the issue on staging:

| Account 1 | Account 2 |
|---|---|
| ![image](https://user-images.githubusercontent.com/3981102/127698010-60a2576d-62a5-41f1-96a3-a9f7013758c2.png) | ![image](https://user-images.githubusercontent.com/3981102/127698019-d10b4372-8537-4849-9f5f-1941b180863c.png) |

@isagoico are you still seeing the issue

[2021-07-30 18:46] francoisl commented on #4287
Looks like the issue didn't reappear with 1.0.81-3 either, closing.

[2021-07-30 18:47] isagoico commented on #4279
https://github.com/Expensify/App/pull/4190#issuecomment-890082922 checking it off 🎉

[2021-07-30 18:51] Jag96 commented on #4279
Ok, tested on staging iOS and Desktop and it's working for me!

| iOS | Desktop |
|---|---|
| ![Image from iOS (3)](https://user-images.githubusercontent.com/3981102/127698650-42788537-6c48-4eff-b482-ea8de4ac0059.png) | ![image](https://user-images.githubusercontent.com/3981102/127698660-26a6be08-be2a-4106-9a40-032e4004af3a.png) |

For desktop, I had to go to staging.new.expensify.com/Expensify.ca

[2021-07-30 19:11] AndrewGable commented on #3737
@MelvinBot - I think this is still on hold

[2021-07-30 19:13] isagoico commented on #4279
@Jag96 asked a tester to check on their side, will update with the results

[2021-07-30 19:16] marcaaron commented on #3892
This was deployed.

[2021-07-30 19:16] #3892 closed

[2021-07-30 19:22] francoisl commented on #4307
I agree that following the same convention and returning early would make sense. In this case, we could use `${login} is already a member of this workspace.` for the error message.

Although thinking about it more, I'm now thinking that in terms of providing a better UX, maybe we could just silently ignore and filter out the logins that are already in the workspace (and if all the logins are alrea

[2021-07-30 19:35] isagoico commented on #4279
![image](https://user-images.githubusercontent.com/44479856/127703234-4faddc2e-c4e8-4188-8e52-6d7e0e9d0964.png)
It was a pass for the tester 🎉  checking it off.
This should be the last to check off the list, will go ahead with the prod deploy CC @roryabraham

[2021-07-30 19:39] isagoico commented on #4279
:shipit:

[2021-07-30 19:39] #4279 closed

[2021-07-30 19:44] OSBotify opened #4333 "Deploy Checklist: Expensify.cash 2021-07-30"
**Release Version:** `1.0.82-7`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/3879
- [x] https://github.com/Expensify/Expensify.cash/pull/3881
- [x] https://github.com/Expensify/Expensify.cash/pull/4019
- [x] https://github.com/

[2021-07-30 19:57] aman-atg commented on #4328
## Proposal

* It's happening because of no padding between the input elements and the container
*  Adding a padding of `1/2` `px` to the right and left should fix it
[code]

[2021-07-30 20:41] TomatoToaster commented on #4219
Ah well the solution is merged, I think we just have the waiting period next.

[2021-07-30 20:47] Jag96 opened #4337 "iOS Deploy is failing"
## Problem
The `Build and Deploy iOS` workflow is failing with the following error:
[code]

This failed for the following runs so far:
- https://github.com/Expensify/App/runs/3205175704
- https://github.com/Expensify/App/runs/3205382335

Internal Slack link: https://expensify.slack.com/archives/C03V9A4TB/p1627675747007800

cc @Expensify/mobile-deployers

[2021-07-30 20:51] kidroca commented on #4268
Added the new "After" benchmarks as well
It seems whatever recent improvements were merged to `main` they reduced the Onyx get calls.
My original benchmark on this same chat had 669 Onyx calls, now they are 530 (before the proposed change).
With the proposed change the calls are reduced to 297.
The "Total Time" isn't reduced as significantly as the last hash (123 -> 63) but it's still reduced (65

[2021-07-30 20:54] aman-atg commented on #4307
* IMO that's a valid option for us.

* Here, however I feel that if all the `logins` entered by the `User` are `duplicate` then `User` should get some feedback like
[code]

[2021-07-30 21:15] NikkiWines commented on #4226
@mananjadhav unfortunately,  I think with your proposal the design on the login page is altered (i.e. the form is in the center or the page, rather than on the left).

@kadiealexander, @aman-atg's proposal looks good to me. Please hire them on UpWork.

[2021-07-30 21:19] Jag96 commented on #4337
Looks like this is related to Xcode versions: https://stackoverflow.com/questions/63802570/invalid-bitcode-version-for-archiving-ios-app, version info is here: https://trac.macports.org/wiki/XcodeVersionInfo

[2021-07-30 21:24] AndrewGable commented on #4337
What version of XCode are we on now?

[2021-07-30 21:31] TomatoToaster commented on #4056
Ah yeah I think this one can be external!

[2021-07-30 21:40] marcaaron commented on #4101
Great insights @kidroca and I LOVE this idea!

I think there might be an easy alternative while we continue to research everything we want in an Onyx 2.0 that will let us test this out with not a lot of code. Here's what I had in mind to propose for a v1 which gets us to experience benefits immediately without changing too many low level things.

1. Create a factory method like this to create cont

[2021-07-30 21:45] Jag96 commented on #4337
Looks like 12.3: https://github.com/Expensify/App/blob/a1b717aeaa073af27335e5104246b0ff6bc018c5/.github/workflows/platformDeploy.yml#L13

Going to bump that and the other usage, rebuild, and see if I can archive without errors

[2021-07-30 21:47] arielgreen commented on #4056
@NikkiWines can you please review @rdjuric's [proposal](https://github.com/Expensify/App/issues/4056#issuecomment-880299099)?

[2021-07-30 21:48] AndrewGable commented on #4337
Weird that e2e is passing 🤔

https://github.com/Expensify/App/actions/runs/1083497070/workflow#L8-L9

[2021-07-30 21:51] isagoico commented on #4005
iOS code blocks are looking weird too @parasharrajat Do you know if your fix will fix this behaviour too?

![image](https://user-images.githubusercontent.com/44479856/127715052-3be99f83-df38-43b6-a1fc-ac3ede99f3bd.png)

[2021-07-30 21:52] arielgreen commented on #4056
[Upwork](https://www.upwork.com/jobs/~018d09dc1859de5945)

[2021-07-30 21:53] Jag96 commented on #4337
So I _think_ that'll pass fine since the fastlane linker command isn't called there

[2021-07-30 21:56] #4268 closed

[2021-07-30 21:58] isagoico opened #4338 "[Hold for payment August 11th] iPad - "Manage cards" text is not centered in the button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to staging
2. Navigate to a workspace

## Expected Result:
All texts that are inside buttons should be centered

## Actual Result:
The tex

[2021-07-30 22:01] francoisl commented on #4307
I'm not passionate about either solution, I'm going to relabel this to get another opinion.

[2021-07-30 22:05] rdjuric commented on #3296
Any updates here @kevinksullivan?

[2021-07-30 22:06] isagoico opened #4342 "[Hold for payment August 10th] Chronos has a timezone set"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to staging
2. Open a conversation with Chronos

## Expected Result:
Chronos shouldn't have a timezone.

## Actual Result:
Chronos is showi

[2021-07-30 22:09] kidroca commented on #4101
Yep, that seems good

It might be clearer to capture all `Onyx` providers in a single Component file and expose the `ComposedProvider` from that file

##### OnyxProvider
[code]

[2021-07-30 22:20] aman-atg commented on #4342
## Proposal

* It can be easily fixed by adding a check inside `ReportActionCompse.js`
[code]

[2021-07-30 22:43] isagoico opened #4345 "Automatically open the keyboard when editing a message in mobile"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to staging in mobile
2. Navigate to a conversation
3. Edit a comment

## Expected Result:
Keyboard should automatically open.

## Actual R

[2021-07-30 22:44] isagoico commented on #4333
Starting QA 🚀

[2021-07-30 22:54] Jag96 commented on #4337
Ongoing notes/discussion on the PR linked above ^

[2021-07-30 23:04] stitesExpensify commented on #4308
@aman-atg your proposal sounds good to me. @alexpensify can we get an upwork job spun up for this?

[2021-07-30 23:09] stitesExpensify commented on #3922
Okay, so we decided that we want to make TransferWalletBalance take a new optional parameter with the selected payment method rather than making the choice the default transfer account. So I'll have to update the API to do that next week

[2021-07-30 23:49] NikkiWines commented on #4056
@rdjuric's proposal looks good! You're good to hire them @arielgreen

[2021-07-31 00:07] rdjuric commented on #4338
This is a consequence of the padding we're adding to `textStyle` here.
https://github.com/Expensify/App/blob/87cbc24238115426df8c16111d790f77930b9bfb/src/pages/workspace/WorkspaceCardPage.js#L171-L173

![Simulator Screen Shot - iPad Pro (12 9-inch) (4th generation) - 2021-07-30 at 21 00 55](https://user-images.githubusercontent.com/53711423/127722265-aeb678d0-9949-4465-8b85-06f86aba0b5a.png)

[2021-07-31 00:13] arielgreen commented on #4056
@rdjuric I just sent over an offer.

[2021-07-31 00:56] stitesExpensify commented on #4321
As I mentioned in slack, it seems like the CORS issue is what caused this to fail. I'm not sure why we got that error though, `staging-new` is definitely whitelisted in api.php...

[2021-07-31 02:27] mateusbra commented on #4185
@AndrewGable Is that what you want?

[2021-07-31 02:46] mananjadhav commented on #4226
@NikkiWines Sample video wasn't to show the whole layout. It was only to hide/show a component and to see that email doesn't get reset. The form design/layout will not be altered. I would still recommend reconsidering as I wouldn't recommend moving the state to the parent component as it'll make it less reusable.

[2021-07-31 03:42] mananjadhav commented on #4307
@francoisl I feel the input itself is not user-friendly.  There is no way to know that you can invite more than one person by comma separating values.

**Proposal**
<img src="https://user-images.githubusercontent.com/3069065/127727605-04d3b175-a8d8-4b63-a3d7-c8a26268c232.png" height="200" />

My approach would be to change the input to a tagged input such as above. I can see Workspace is in beta s

[2021-07-31 03:45] kakajann commented on #3108
I have no idea to be honest. Yesterday only, spent 6 hours 36 minutes _(wakatime's result)_ to refactor

[2021-07-31 04:36] mananjadhav commented on #4345
**Proposal**

This is because generally, the `autoFocus` doesn't work well in all the browsers React uses a polyfill to solve this problem but not to a full extent. My solution would be to take the reference of the input and manually focus. A snippet of the implementation:

[code]

[2021-07-31 05:00] parasharrajat commented on #4005
Ok. It was not the case when I last checked. Currently, I am only fixing the Android. I will add a fix for IOS as well.

[2021-07-31 05:07] mananjadhav commented on #4342
My approach would be to combine Concierge and Chronos blocks into one:

[code]

[2021-07-31 06:37] mananjadhav commented on #4280
@iwiznia @parasharrajat While I couldn't find the root cause yet, I did find a way to get the correct path which is not a hack.

Based on the discussion in this thread #https://github.com/react-navigation/react-navigation/issues/9312

[code]

The `getPathFromState` seems to be a problem. When I logged the path returned in NavigationRoot and in the Navigation.isActive it gives me different results.

[2021-07-31 07:20] parasharrajat commented on #4280
I would say that missing path is not a issue as this is optional property. So we can't blame React navigation for that.
@mananjadhav  Your solution seems a good to me. Building the path based out of active route is fine.

But `useLinkBuilder` is a hook. you have unfold it and then use it which is no issue. Internally it uses the same `getPathFromState`.

[2021-07-31 07:20] aman-atg commented on #4226
@mananjadhav I'm not really sure how moving the `state up` will make the component less `reusable`. (IMK that's the other way around)
You can check `src/components/FullNameInputRow.js` which is also a reusable component without having it's own state.

[2021-07-31 07:33] aman-atg commented on #4307
@mananjadhav this is being dealt with on a separate issue #4029

[2021-07-31 08:03] mananjadhav commented on #4280
I agree. `path` is an optional property. Yeah, I'll rename the method along with the comments.  Yeah, I am aware internally it uses `getPathFromState`. But it'll be better if we use the hook rather than parsing the path. If you see the previous comment and the link, getPathFromState is giving different results.  `useLinkBuilder` would be a safe choice

[2021-07-31 10:54] trjExpensify commented on #3951
Paid.

[2021-07-31 10:54] #3951 closed

[2021-07-31 11:01] GithubAshishHere commented on #4210
- Can you try to give 100% height instead of flex:1 of the main container? Maybe it helps
 - Also can try to debug across frames and native components.
 - iOS has NSCache in which SDImages have the cache images.
 
 NEW PROPOSAL

[2021-07-31 11:39] jsamr commented on #4123
@marcaaron Sorry for my delayed response! NP for the manual testing; I'm ready to tackle this one next week!

[2021-07-31 12:45] mananjadhav commented on #4226
Because `FullNameInputRow .js` is a stateless input component. Generally, I would prefer forms to have their own states.

Assume that this LoginForm is to be used in 3-4 different places. You'll have to add the state to each of the parents. You won't be able to use it as a drop-in replacement.
Then assume that you want to add another property in the state for LoginForm, say RememberMe checkbox. Yo

[2021-07-31 12:56] mananjadhav commented on #4210
@parasharrajat  @thienlnam I would still support my approach of using `RNFastImage`. You'll see others have also pointed out the same issue.

Some more issues were reported for Image Caching in iOS only for React-Native

https://github.com/facebook/react-native/issues/31584
https://github.com/facebook/react-native/issues/28557
https://github.com/facebook/react-native/issues/17137

Alternative with

[2021-07-31 14:50] mananjadhav opened #4350 "[Hold for payment 2021-08-17] Handle redirects to Invalid PolicyIds in WorkspaceCard and WorkspacePeople screens"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL, enter the `workspace` URL without any policyID
2. It updates the URL as `workspace/undefined/card`
3. Blank page with the card is show

[2021-07-31 14:59] mananjadhav commented on #4350
**Proposal**

There are two approaches that we have:
1. Redirect to the Home Chat screen
2. Create a default error page for Workspace and load the Settings menu to let the user choose workspace from

Currently, WorkspaceCardPage doesn't take `policy` as one of the props. WorkspacePeoplePage already has `policy` page.

## Common Code in both approaches
WorkspaceCardPage
[code]

## Approach 1

[code

[2021-07-31 15:40] aman-atg commented on #4350
## Proposal

### Explaination
* The problem lies with the `WorkspaceSidebar` component which is returning null when the `policy` object is `empty`
* We can simply use `Navigation.dismissModal();` to avoid this behaviour
https://github.com/Expensify/App/blob/87cbc24238115426df8c16111d790f77930b9bfb/src/pages/workspace/WorkspaceSidebar.js#L66-L68
will be changed to
[code]

[2021-07-31 15:56] mananjadhav commented on #4350
@aman-atg That's right. I missed the check-in `WorkspaceSidebar`. A small change in your approach.

[code]

[2021-07-31 16:07] aman-atg commented on #4350
@mananjadhav  Shouldn't we include `policy` inside the dependency array?

[2021-07-31 16:15] mananjadhav commented on #4350
I am not aware if `policy` will get changed anywhere. If it does, then yeah we'll have to add it as a dependency. Empty brackets [], will act as a componentDidMount for class components.

Earlier it was just returning null. Now we're calling `Navigation.dismissModal`. In the console tab of devtools you'll find the following error/warning.

[code]

[2021-07-31 16:24] aman-atg commented on #4350
@mananjadhav  Thanks for the clarification.

[2021-07-31 17:20] dklymenk commented on #2430
Hello, I followed [the testing guide](https://github.com/Expensify/App/blob/main/desktop/README.md) and successfully reproduced the issue as well as found a fix it.

If I delete the following code from [here](https://github.com/Expensify/App/blob/main/desktop/main.js#L80-L82), I can no longer reproduce the issue.
[code]

I honestly cannot tell why it fixes the issue or what is that code meant to a

[2021-07-31 18:34] isagoico commented on #4333
@roryabraham @AndrewGable There was a problem with iOS deploy. We are currently holding all iOS tests since 1.0.81-5 failed to deploy there.

[2021-07-31 18:43] rdjuric commented on #4325
Looks similar to #4011

[2021-07-31 18:45] quinthar commented on #4268
Out of curiosity, is this the same benchmark for iOS and Android?  Is it safe to say Android is roughly 2x slower overall?  What is the major cause of the 2x slowdown?

[2021-07-31 18:52] aman-atg commented on #4325
@rdjuric It isn't.

We're already trying to exclude the `User` from the `OptionList` as you can see below
https://github.com/Expensify/App/blob/87cbc24238115426df8c16111d790f77930b9bfb/src/libs/OptionsListUtils.js#L380-L381

But that approach is failing when user directly searches for it's `login`. Then we're making `API calls` which are `failing` because it's an unexpected scenario.

[2021-07-31 19:06] kidroca commented on #4268
Yes, it's the same test for both platforms
These are physical devices

1. my iOS is much newer - 11 Pro, while the Android is older 2016 Samsung Galaxy S7. On emulators the times are closer, though iOS still wins
2. Native implementation - the implementation in Java is not necessarily the same as in Objective C or swift
3. Javascript Engine - I've heard the JS engine used on iOS is faster

[2021-07-31 19:18] quinthar commented on #4268
I wonder if there is anything in particular, whether it's storage or
something, that is making up the bulk of the performance difference between
the two platforms that are in emulation.

On Sat, Jul 31, 2021, 12:06 PM Peter Velkov ***@***.***>
wrote:

[2021-07-31 19:44] dklymenk commented on #2430
Here is a demo video where I successfully get notifications after app update.

https://user-images.githubusercontent.com/64093836/127750816-bacb710c-8092-4c7e-a345-7b8de21e5ba8.mp4

[2021-07-31 19:45] kavimuru opened #4352 "Desktop - Chat - Timezone information not updated after language change"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue was found when executing the PR #4309

## Action Performed:
1. Login to the app using expensifail account
2. Change your language to Spanish
3. Open any chat
4. Ti

[2021-07-31 19:46] OSBotify commented on #4352
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-31 19:57] isagoico commented on #4273
@rafecolton Was able to reproduce this. Here's the new intel on the issue:

![image](https://user-images.githubusercontent.com/44479856/127751116-00d0cef8-172e-40fb-8735-98bea6612bb1.png)

[2021-07-31 20:08] isagoico opened #4353 "User is able to navigate to LHN and other conversations when editing a comment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

 ## Action Performed:
1. Navigate to a conversation
2. Tap on a comment to edit
3. Tap on the back arrow, or use the Android 'back' soft button/gesture

## Expected Resu

[2021-07-31 20:46] parasharrajat commented on #4273
I faced one more instance of it. On Web. I have 126 notifications on the title but I never got that many messages. There is something really bad going on but I may know what. I'll try last next week to debug this.

[2021-07-31 21:11] dklymenk commented on #3513
Hello, I'm sorry to notify everyone here, but I think the upwork job for this issue wasn't closed: https://www.upwork.com/jobs/~01d4cfe8b8011b7d5a

If that's not a correct way to notify Expensify about stuff like this, please let me know where should I message about it in the future.

[2021-07-31 21:13] dklymenk commented on #2180
Hello, I think the job posting for this issue is no longer relevant, right? https://www.upwork.com/jobs/~012e79714137f7faa6

[2021-07-31 21:18] parasharrajat commented on #4352
Should be handled by https://github.com/Expensify/App/issues/4218.

[2021-08-01 15:10] Santhosh-Sellavel commented on #4353
## Proposal
### 1
Add a new key in `ONYXKEYS` named `IS_EDITING_COMMENT`, initialized with default value `false`.

Make it `true` in 'ReportActionItemMessageEdit.js' in this method
https://github.com/Expensify/App/blob/87cbc24238115426df8c16111d790f77930b9bfb/src/pages/home/report/ReportActionItemMessageEdit.js#L34

Make it `false` here in this method,
   https://github.com/Expensify/App/blob/87cb

[2021-08-01 17:12] isagoico opened #4355 "[HOLD for payment 2021-11-09] Reduce the haptic feedback vibration to a short bip"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

Upwork posting: https://www.upwork.com/jobs/~0105c031baf3dfd3df
___

## Action Performed:
1. Navigate to a conversation in mobile
2. Press and hold on a message

## Expected

[2021-08-01 17:34] isagoico opened #4356 "User is able to upload a file larger than 50mb"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue is failing https://github.com/Expensify/App/pull/4269 for Android

## Action Performed:
1. Open the app and log in
2. Navigate to a conversation
3. Click on add at

[2021-08-01 17:35] OSBotify commented on #4356
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-08-01 17:50] Santhosh-Sellavel opened #4357 "New Marker does not get updated properly while switching between same chat and chat list."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
There are two issues but are similar and the same fix would solve both. So grouped as one.
## Action Performed:
### Issue 1
1.  Open any user chat.
2. Tap the back arrow

[2021-08-01 17:53] rushatgabhane commented on #4356
Can reproduce the issue.
I'm on it.

[2021-08-01 18:07] Santhosh-Sellavel commented on #4357
Fix Demo:

https://user-images.githubusercontent.com/85645967/127781026-24b485c9-77ac-45bc-bb0b-cb8dbc4f30ab.mp4

[2021-08-01 19:06] rushatgabhane commented on #4356
@isagoico Can you please revert the PR?

The fix will need time and some discussion. Thanks!

[2021-08-01 19:19] Santhosh-Sellavel commented on #4356
@rushatgabhane I've missed your comment was checking this issue. I've narrowed it down handled,

## Proposal
Need to change the following lines,
https://github.com/Expensify/App/blob/87cbc24238115426df8c16111d790f77930b9bfb/src/components/AttachmentPicker/index.native.js#L98-L107

As shown below,
<img width="708" alt="Screenshot 2021-08-02 at 12 35 33 AM" src="https://user-images.githubusercontent

[2021-08-01 20:05] rushatgabhane commented on #4356
@isagoico
Update: Found a fix. Just need to pass `file: file.size` over here.

https://github.com/Expensify/App/blob/87cbc24238115426df8c16111d790f77930b9bfb/src/components/AttachmentPicker/index.native.js#L49-L53

[2021-08-01 20:08] Santhosh-Sellavel commented on #4130
Added i18N file as discussed added following, (Let me know if any name correction)
under `iou`,
<img width="630" alt="Screenshot 2021-08-02 at 1 08 41 AM" src="https://user-images.githubusercontent.com/85645967/127783783-8fcbb6a7-80ca-474c-99d8-6aef9b2559a2.png">

Added a method `handleIOUError` (will rename if needed)
<img width="543" alt="Screenshot 2021-08-02 at 1 28 36 AM" src="https://user-im