[2021-08-30 17:38] botify commented on #3952
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:38] deetergp commented on #4860
@akshayasalvi thanks for owning up to the regression. Does that mean we are good to close this one?

[2021-08-30 17:38] botify commented on #4727
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:38] botify commented on #4756
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:38] botify commented on #4730
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:38] botify commented on #4212
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:39] botify commented on #4728
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:39] botify commented on #4719
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:39] deetergp commented on #4115
This is continuing to hold on an internal engineer picking up the API side of this issue.

[2021-08-30 17:39] botify commented on #4500
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:49] marcaaron commented on #4211
The code looks a bit complicated to me personally - which makes me concerned it will be difficult to maintain if we end up not doing `2`. I think we should first try to re-open the issue, provide a reproduction, and attempt a fix in `react-navigation`.

I can't think of any reason why this issue needs to be fixed urgently - there are other ways to exit the app.

[2021-08-30 17:53] puneetlath commented on #4856
@jamesdeanexpensify added the `waiting for copy` label as we need some copy for the specific error messages described [here](https://github.com/Expensify/App/issues/4856#issuecomment-906656039). I believe we'll actually need this in Spanish as well.

@thesahindia your proposal seems good to me. You'll also need to add the new copy that @jamesdeanexpensify provides [here](https://github.com/Expensi

[2021-08-30 17:58] kevinksullivan opened #4916 "Error message shown out of place in VBA flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Related slack thread - https://expensify.slack.com/archives/C020EPP9B9A/p1630345426146800

## Action Performed:
1. Created workspace on freePlan beta
2. Selected `Get Sta

[2021-08-30 18:04] ctkochan22 commented on #4738
![image](https://user-images.githubusercontent.com/12980144/131196216-bedc62f8-e82b-455b-8f9a-963799d42393.png)

![image](https://user-images.githubusercontent.com/12980144/131196226-20d4fffe-1669-4ec0-8cbb-60e33abf6db3.png)

[2021-08-30 18:05] puneetlath commented on #4856
Actually it looks like the spanish translations for existing messages are being handled [here](https://github.com/Expensify/App/issues/4663), right @Jag96? In which case we just need spanish versions of the new messages.

[2021-08-30 18:06] mallenexpensify commented on #4200
Forgot to pay on Friday, apologies @parasharrajat , paid just now in Upwork

[2021-08-30 18:08] mallenexpensify commented on #4497
Paid @aman-atg in Upwork + the bonus for reporting the issue, apologies for the slight delay

[2021-08-30 18:15] marcaaron commented on #4731
Looks pretty straightforward. All yours @anthony-hull.

[2021-08-30 18:18] azimgd commented on #3381
Thanks @thienlnam, I might try to patch yoga implementation to support anchor position (stick scroll to the bottom when list grows upwards) and let you know about progress as well. Meanwhile please discuss this internally.

One more question, what would be the best way to import a patched version of react-native into react-native-web without altering react-native-web so we can use it at Expensify/

[2021-08-30 18:20] tylerkaraszewski commented on #4916
This is probably pretty straightforward for someone who's worked on this. I'm going to unassign myself from triage and let someone with more direct experience pick it up.

[2021-08-30 18:20] thesahindia commented on #4856
Thanks @puneetlath
I've applied to the job. Will wait for the translations.

[2021-08-30 18:22] #4200 closed

[2021-08-30 18:23] puneetlath commented on #4856
Great! Feel free to start on the PR with some placeholder copy until the final copy is provided by @jamesdeanexpensify.

[2021-08-30 18:32] johnmlee101 commented on #4110
I believe it was just deployed as per https://github.com/Expensify/App/pull/4802#issuecomment-908541488

[2021-08-30 18:32] roryabraham commented on #4828
Just FYI there are a number of issues with the deploy process we are working to address.

[2021-08-30 18:38] mananjadhav commented on #4110
Yeah. just saw

![image](https://user-images.githubusercontent.com/3069065/131388149-2730febf-e349-45f0-be4e-1e67b9d5422d.png)

[2021-08-30 18:49] MirFahad58 commented on #4678
need help how to sign CLA

[2021-08-30 18:50] strepanier03 commented on #4906
Reviewing this now.

[2021-08-30 18:54] jamesdeanexpensify commented on #4856
Got it, so if I'm understanding correctly, we need three pieces of copy:

1. When both fields are empty, we can say: Please fill out all fields.
2. When the password field is empty, we can say: Please enter your password.
3. When the two-factor auth field is empty, we can say: Please enter your two-factor code.

[2021-08-30 19:06] thesahindia commented on #4856
Seems good to me!

[2021-08-30 19:14] kevinksullivan opened #4922 "Onfido step is not showing in verified bank account flow"
## Action Performed:

1. Created workspace on freePlan beta
2. Selected Get Started in the Expensify Card tab of the Workspace
3. Entered test bank account credentials in [3 of this SO](https://stackoverflow.com/c/expensify/questions/342/525#525) to add a verified bank account
4. After getting through the Requestor Step (first/last name, last 4 SSN, etc) I passed through to the beneficial owner st

[2021-08-30 19:19] mananjadhav commented on #4541
Following are two options. We can choose one and implement it.

1. Where I removed some extra padding from the Picker at the top (notice the spacing between category title and the top)
![image](https://user-images.githubusercontent.com/3069065/131392145-3a2d3059-a32e-4935-b363-97fc7245d948.png)

2. Reducing the height of the container
![image](https://user-images.githubusercontent.com/3069065/1313

[2021-08-30 19:28] johnmlee101 commented on #4484
Bumping back to weekly while we wait for this to close out

[2021-08-30 19:29] isagoico commented on #4671
Testing https://github.com/Expensify/Web-Expensify/pull/31753

[2021-08-30 19:29] johnmlee101 commented on #3981
If someone has this happen to them, please post with the steps you took beforehand!

[2021-08-30 19:29] johnmlee101 commented on #4417
Waiting for updates here!

[2021-08-30 19:30] johnmlee101 commented on #4005
Has this been paid?

[2021-08-30 19:30] marcaaron commented on #4922
Not entirely sure whether these logs are related to your issue of not seeing the Onfido step. But I came across these logs for @kevinksullivan's test account today:

https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%22mZIpHt%22)+AND+timestamp:[2021-08-30T15:55:20.671Z+TO+2021-08-30T17:55:20.671Z]&index=logs_expensify-012307

It does look like there are some verifications fai

[2021-08-30 19:32] johnmlee101 commented on #2160
Any way for us to get to the cause of why the version isn't available? If we can figure that out, then I think that would be the best solution to guarantee your proposed changes will be final @parasharrajat

[2021-08-30 19:32] marcaaron commented on #4922
Specifically I'm seeing:

and

[2021-08-30 19:33] johnmlee101 commented on #3355
Closing this out as the other issue has addressed this!

[2021-08-30 19:33] #3355 closed

[2021-08-30 19:35] johnmlee101 commented on #4733
Did you have a revert PR to link @parasharrajat ? Or any update here?

[2021-08-30 19:35] aman-atg commented on #4417
Sorry for the delay here! Will make a PR soon.

[2021-08-30 19:35] marcaaron commented on #4883
Not overdue just in progress.

[2021-08-30 19:36] aldo-expensify commented on #4785
Working on this, we will be doing small incremental pull requests

[2021-08-30 19:52] mallenexpensify commented on #4308
Paid in Upwork because it's been over 7 days since merge yet before our 7 days after production update for payment.  Added bonus for reporting the issue

[2021-08-30 19:53] mallenexpensify commented on #4325
Just deployed to production today but paying because it's been 17 days since merge (and our policy at the time was to pay a week after merge). Bonus added for reporting issue.

[2021-08-30 19:54] puneetlath commented on #4856
@jamesdeanexpensify it looks like we don't use a dash in two-factor here. We should probably be consistent yeah?

![image](https://user-images.githubusercontent.com/1371996/131397151-411d428d-d945-4594-ab36-1fd48ca64e16.png)

[2021-08-30 19:58] jamesdeanexpensify commented on #4856
Ah, I didn't see that screenshot before. I actually think we should update it to the hyphenated version because that's how it's spelled almost everywhere online. Is that possible?

[2021-08-30 20:04] Jag96 commented on #4856
Yes, https://github.com/Expensify/App/pull/4880 is to ensure that the error message translations happen when switching languages on the sign in form, so now anytime we set `formError` we'll set the translation key (`this.setState({formError: 'passwordForm.pleaseFillOutAllFields'});`) rather than setting the translated text (`this.setState({formError: this.props.translate('passwordForm.pleaseFillOu

[2021-08-30 20:05] puneetlath commented on #4856
@jamesdeanexpensify it is possible, but everywhere in our product (.com and .cash) we use the non-hyphenated version. So if we want to change that, let's do it in a separate issue.

![image](https://user-images.githubusercontent.com/1371996/131398420-8a43cc58-2b8f-4864-8cfd-cf176319c9b7.png)

[2021-08-30 20:06] isagoico commented on #4899
I also tested this using the markdowns in Gmail and message displayed only the italic markdown.

- New Expensify:

![image](https://user-images.githubusercontent.com/44479856/131398452-8a4d1507-184a-423e-858f-26ed62aca866.png)

- Email:

![image](https://user-images.githubusercontent.com/44479856/131398546-30497c8e-e510-4f2d-b460-a1c00393a0fa.png)

[2021-08-30 20:20] jamesdeanexpensify commented on #4856
Yep, I can take that to a new issue soon. Thanks!

[2021-08-30 20:22] puneetlath commented on #4856
Ok @jamesdeanexpensify @thesahindia I edited both your comments to remove the dash.

[2021-08-30 20:23] jboniface commented on #3844
@roryabraham or @yuwenmemon can you assist with moving this along, please? I am still not 100% sure where we're stuck

@HorusGoul said:

Do we need to spin out a new issue or what? It would be great if we could close this project off, and this is the last issue blocking us.

[2021-08-30 20:25] botify commented on #4517
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-08-30 20:25] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-08-30 20:43] mallenexpensify commented on #4678
https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#user-content-submit-your-pull-request-for-final-review

Are you still having issues @MirFahad58 ?

[2021-08-30 20:44] MirFahad58 commented on #4678
No thanks

[2021-08-30 20:50] mallenexpensify commented on #4515
Put on hold til we're able to reproduce, dropped note in #expensify-open-source in case others encounter the issue https://expensify.slack.com/archives/C01GTK53T8Q/p1630356577153700

[2021-08-30 20:53] thesahindia commented on #4856
We still need spanish translations for these two messages:

1. Please enter your password. (might be "Por favor, introduce tu contraseña." taken out from [here](https://github.com/Expensify/App/blob/ec9a3190e64a75c61f1feb443236a8a171d067c6/src/languages/es.js#L120))
2. Please enter your two factor code.

[2021-08-30 21:02] akshayasalvi opened #4926 "Changing Profile Picture doesn't have instant preview/feedback"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to the right sidebar and click on Avatar
2. Click on the edit Icon and upload any photo (preferably more than 100kb)
3. You'll notice that the

[2021-08-30 21:02] akshayasalvi commented on #4926
**Proposed Solution:**

This is happening because, in the `ProfilePage`, we're directly calling `setAvatar` of `lib/PersonalDetails`

Simple approach:

[code]

Because we're directly updating `avatar` even before uploading the image might be an issue if  `API.User_UploadAvatar` fails.

Extended approach:

[code]

[2021-08-30 21:37] isagoico opened #4928 "iOS app is crashing on launch"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app on iOS (Build 1.0.88-2)

## Expected Result:
App should open

## Actual Result:
App is crashing

## Workaround:
None found.

## Platform

[2021-08-30 21:39] roryabraham commented on #4543
Using the https://www.npmjs.com/package/emoji-regex package sounds good to me. My two cents is that an unpacked size of <100kb is a pretty small price to pay for the benefit of community maintenance of this monster of a regex.

[2021-08-30 21:45] mananjadhav commented on #4543
Well, @roryabraham  I've used `emoji-regex` package earlier and it isn't full proof.  It doesn't match many emojis such as shopping bag, chilly, mostly sunny, etc.

While I've gone through @parasharrajat's link but I am yet to verify if that as well covers all emojis.

Will check it when it is assigned and I pick.

[2021-08-30 21:45] roryabraham opened #4929 "Refactor string comparisons in GitHub actions to use `fromJSON` instead"
Coming from [this PR](https://github.com/Expensify/App/pull/4927) – follow-up to implement the best practices for handling json-encoded values across our workflows.

[2021-08-30 21:52] roryabraham commented on #4543
@mananjadhav Sounds good! It's great to know that you have some experience with `emoji-regex`.

Well, we can always submit a pull request to improve it! Overall I'm usually a big fan of contributing to community packages to help keep our own repos a bit lighter and to benefit from community maintenance. But in this case maybe it's not worth it. I wonder if those emoji are missing from their test s

[2021-08-30 21:52] equationalapplications commented on #4667
Proposal:
https://github.com/Expensify/App/blob/18031207e59c033c234 3afd2f3dbedffb1cdba24/src/pages/workspace/WorkspacePeoplePage.js#L199-L203

Line 201 is where the word "Admin" is hard coded as text. Instead, we replace this line with
`{this.props.translate('common.admin')}`
so that the translate method can retrieve translated  phrase from the language files.

[2021-08-30 21:54] roryabraham commented on #4543
Which makes me think ... if we are going to maintain the emoji regex ourselves we should absolutely add some unit tests for it.

[2021-08-30 22:03] mananjadhav commented on #4543
+1.

As you rightly said might not be worth for this one. We could pick the regex and improve it? The regex itself is 13kb but the overall unpackaged size is 97kb.  I am not sure of the reason these are missing from their test suite.

Yeah we should do that. My suggestion would be:
1.  To pick all the emojis in `Emoji.js` and ensure that our regex matches each of them.
2. Some sample chats with Em

[2021-08-30 22:07] deetergp commented on #4860
I'm going with "yes" feel free to reopen if anyone disagrees.

[2021-08-30 22:07] #4860 closed

[2021-08-30 22:38] chiragsalian commented on #4816
Yup that proposal makes sense to me. Before we begin let's confirm the spots that we want to make the scroll bouncy.
@shawnborton could you let us know the places you would prefer to see this bouncy scroll animation or were you thinking of having this in every scroll in newDot?

[2021-08-30 22:58] SofiedeVreese commented on #4731
@anthony-hull I've just hired you in Upwork!

[2021-08-30 23:01] thienlnam commented on #4667
@equationalapplications Thanks for the proposal but we already have another contributor working on this issue already. [Issues tagged with 'Help Wanted'](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3A%22Help+Wanted%22) will be needing contributors, and a good place to start!

[2021-08-30 23:01] thienlnam commented on #4667
@Santhosh-Sellavel I'm still waiting to hear back on the last couple translations but will update you when I get them

[2021-08-30 23:05] thienlnam commented on #4922
Actually sorry @michaelhaxhiu, I'm thinking this is probably a better internal issue since contributors don't have ways to set up bank accounts on their dev machines

[2021-08-30 23:07] roryabraham commented on #4828
Going to close this to verify that it reopens w/ a comment.

[2021-08-30 23:08] OSBotify commented on #4828
This issue either has unchecked QA steps or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2021-08-30 23:08] roryabraham commented on #4828
Nice, that worked as expected.

[2021-08-30 23:12] roryabraham commented on #4828
@isagoico Can you please close this issue w/o any comment for me?

[2021-08-30 23:15] namnm commented on #4129
@marcaaron Here I submit my proposal:

Some analyzing detail before going to the solution:
- Because our code is in js so it is impossible to remove all the delay:
  - User press button -> event fire in native side
  - RN got event in native side -> fire event to the js bridge
  - Our js code got event and call clear on text input -> js bridge send clear action to the native side
  - Native side g

[2021-08-30 23:17] SofiedeVreese commented on #4659
Looking at [this comment](https://github.com/Expensify/App/pull/4793#issuecomment-908545957), looks like it's deployed now! Holding for payment on  6 September.

[2021-08-30 23:23] thienlnam commented on #4922
Unassigning but it looks like @marcaaron has some good ideas on how to get started -  cc @NikkiWines

[2021-08-30 23:25] OSBotify commented on #4828
Sorry, only members of @Expensify/Mobile-Deployers can close deploy checklists.
Reopening!

[2021-08-30 23:28] thienlnam commented on #3867
Awesome, this is looking really good - going to loop in @marcaaron and @tgolen and see what their thoughts on the POC are

[2021-08-31 00:18] Jag96 commented on #4355
@roryabraham that's great context I wasn't aware of, I agree that getting rid of expo-haptics is a good idea.

@MTN718 are you able to confirm the fix you are proposing will fix the issue? The accepted proposal for this job should be able to clearly state what technical changes are required to fix the issue, not what steps will be taken if the proposed fix doesn't work. It sounds like you are not

[2021-08-31 00:21] roryabraham commented on #4828
@Expensify/applauseleads There were some issues with our standard deploy process today, and we accidentally ran a production deploy when the issue was closed [here](https://github.com/Expensify/App/issues/4828#issuecomment-908527938). Fortunately, all the code that was deploy was already production-approved, so we got lucky there. 😅 🎉

I am going to remove and re-add the lock label to this checkli

[2021-08-31 00:22] Christinadobrzyn commented on #4625
Looks like OSBot deployed it but there was a failure on iOS - @AndrewGable or @isagoico is that something we need to worry about?

[2021-08-31 00:26] botify commented on #4517
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1184237205) to staging by @tylerkaraszewski in version: 1.0.89-0 🚀

 platform | result
 ---|---
🤖 android 🤖|skipped 🚫
🖥 desktop 🖥|skipped 🚫
🍎 iOS 🍎|skipped 🚫
🕸 web 🕸|skipped 🚫

[2021-08-31 00:26] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1184237205) to staging by @tylerkaraszewski in version: 1.0.89-0 🚀

 platform | result
 ---|---
🤖 android 🤖|skipped 🚫
🖥 desktop 🖥|skipped 🚫
🍎 iOS 🍎|skipped 🚫
🕸 web 🕸|skipped 🚫

[2021-08-31 00:29] Jag96 commented on #4906
I agree with this, we should remove the time for automated accounts in the details panel

To clarify, what do you mean by unregistered accounts? Do you mean accounts that haven't set a password yet?

I agree with this as well, the call option doesn't make sense for chronos

Going to make this one external, thanks for filing @Santhosh-Sellavel

[2021-08-31 00:33] AndrewGable commented on #4625
Yes, we should be concerned. We are having some deploy issues that we are working through. We should be able to confirm the fix is live on all clients other than iOS.

[2021-08-31 00:52] mallenexpensify commented on #4609
@mananjadhav @sakluger , let's put this on hold for new.  If it keeps happening and/or if we reproducible steps that are.. easier to reproduce, we can take off hold.

[2021-08-31 00:55] marcaaron commented on #4922
Went through this flow with @kevinksullivan over a 1:1. Seems like we _are_ setting `useOnfido: true` in Onyx so that pretty much leaves the missing `sdkToken` as the reason why Onfido might not be showing up.

As far as I can tell we are not generating an `sdkToken` and that's why the Onfido flow never appears. Here's the stack trace from the error logs above...

[trace] 0/5. file '/git/releases/

[2021-08-31 01:00] mallenexpensify commented on #4490
@aman-atg , I think we should wait til people are allowed to create new workspaces on staging then check to see if the save button is still highlighted with no text in the box. I just tried to create a new workspace with no luck, it might be because I'm the 'Expensify' account though.

[2021-08-31 01:04] jasperhuangg commented on #4910
I don't have a Chromebook to reproduce this error, so I'm going to unassign myself and reach out in #engineering-chat for an assist. My take is that we need to update how we detect a user's offline status to account for "Pixel Connect"?

[2021-08-31 01:14] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-08-31 01:52] marcaaron commented on #4129
Thanks for the proposal @namnm! I tested the PR and the delay is acceptable UX in practice. But if I'm following the changes correctly (tbh it was a bit difficult) this approach seems similar to the `setTimeout()` suggestions (in that it works because we are deferring a `clear()` to some point in the future) and adds quite a lot of complexity to the component. Apologies if I'm wrong about that, bu

[2021-08-31 02:00] roryabraham commented on #4910
This feels more like a weekly to me.

[2021-08-31 02:02] namnm commented on #4129
@marcaaron If you test the setTimeout more, you still see the text can not be cleared after pressing send button.

My proposal is about preventing user to input so that case wont happen. If you are good to go with setTimeout, I have another proposal to prevent new input without blur/focus as following:
- Call clear(), set a flag pendingClear in state to determine that it is currently in pending cl

[2021-08-31 02:42] Santhosh-Sellavel commented on #4906
Yes

[2021-08-31 03:17] roryabraham commented on #4355
@Jag96 There are a few reasons I think it would be better to fork `react-native-haptic-feedback` than to attempt to implement `bip` directly in `react-native`:

- Getting a PR merged and included in a React Native release is going to be much harder than doing so in `react-native-haptic-feedback`. In general I think we should only update our fork for bug fixes we feel have a strong chance of being

[2021-08-31 03:50] Santhosh-Sellavel commented on #4906
## Proposal
### 1. To disable local time
We can add a new boolean variable to `showLocalTime` here. Which will exclude based on the login and by checking against automated emails. And unregistered account how to identify those? Need some help regarding this I think it will have a backend dependency.
https://github.com/Expensify/App/blob/fdcf519fcadfaecedde844b6adc33c4b30cbcb77/src/pages/DetailsPag

[2021-08-31 04:18] Santhosh-Sellavel opened #4941 "Phone Call or Video Chat its confusing"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to new Expensify on desktop or web
2. Open any user chat you can see the phone call symbol in header.

## Expected Result:
I'm not clear about

[2021-08-31 04:19] Santhosh-Sellavel commented on #4941
Post your thoughts on this cc: @shawnborton

[2021-08-31 04:35] Santhosh-Sellavel commented on #4723
@cdraeger11 @MariaHCD this is not completed yet.
And there is no update happening waiting for your inputs to proceed with this.

Its closing automatically due to some mixup with PR & issues.
Can I open a separate issue or help me reopen this.

[2021-08-31 04:50] roryabraham commented on #4828
Trying that one more time after merging https://github.com/Expensify/App/pull/4940

[2021-08-31 04:52] mananjadhav commented on #4850
Team,
I've worked most on bug-fixes such as error handling and translation. Should I be merging similar projects to into? or 1 Upwork job is 1 Project?

[2021-08-31 04:54] vasdhara commented on #4129
Yes, but technically that behaviour is already present today.
I believe the original issue is that even though it is cleared, there is a lag in which if a user types something, the clear gets cancelled.
My question is that is an implementation ok which doesn't solve the lag issue but ensures that even if the user types something, the clear still occurs?

As can be seen in below video, user is stil

[2021-08-31 04:56] roryabraham commented on #4828
Okay, staging deploy for `v1.0.90-0` is running [here](https://github.com/Expensify/App/actions/runs/1184817195). Once that's done, feel free to begin QA (regression + testing unchecked PRs).

[2021-08-31 05:55] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1184817195) to staging by @jasperhuangg in version: 1.0.90-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-08-31 06:06] MTN718 commented on #4355
@Jag96 react-native-haptic-feedback library cover all vibration type and it has added native codes to customize vibration format. so using it we can create vibrate format as we want. I'm sure.

[2021-08-31 07:10] nkuoch commented on #4922
You can always go through the flow with fake info as long as they have the right format.
Like don't use Plaid, and instead manually use routingNumber 022000020 and any account number.
Then, just add any info at any step, and click again on Submit if you get an error.

[2021-08-31 07:15] saracouto commented on #4856
Hey @thesahindia, for those two sentences:

1. Por favor, introduce tu contraseña.
2. Por favor, introduce tu código 2 Factores.

[2021-08-31 08:02] shawnborton commented on #4816
Yeah I think for me personally, if we want the app to feel more native, basically any view that is scrollable should have this behavior by default.

[2021-08-31 08:04] shawnborton commented on #4616
The design part looks good to me, so I am unassigning myself. Assigning Engineering now so that we can have an engineer review @parasharrajat's proposal. Thanks!

[2021-08-31 08:09] shawnborton commented on #4941
I personally think the icon is fine as it is, so I would vote to close this personally. That being said, I encourage you to bring this topic up in the Slack channel for others to weigh in as well.

[2021-08-31 08:10] shawnborton commented on #4541
I think just reducing the height of the container would be fine.

[2021-08-31 08:12] Santhosh-Sellavel commented on #4941
Sure @shawnborton

[2021-08-31 08:38] Santhosh-Sellavel commented on #4941
Will open a slack discussion, with details. Let decide based on that conclusion thanks!

[2021-08-31 09:05] trjExpensify commented on #4005
I've been OoO. Paid today!

[2021-08-31 09:05] #4005 closed

[2021-08-31 09:08] Julesssss commented on #4747
For reference, it looks like [this regression](https://github.com/Expensify/App/pull/4901) was introduced by this issue, and has been fixed already.

[2021-08-31 09:14] trjExpensify commented on #4660
👋 Just come back from OoO, Melv. Posted the job here: https://www.upwork.com/jobs/~01145c1edaadf21433. @kakajann if you're interested, feel free to apply and then I can assign this issue to you.

[2021-08-31 09:23] parasharrajat commented on #4941
I agree with Shawn.

[2021-08-31 09:25] trjExpensify commented on #4849
Just coming back from OoO. @Santhosh-Sellavel I've created the Upwork job [here](https://www.upwork.com/jobs/~015558942849419cdd). Can you apply please, and then I'll pay it and close this issue out.

[2021-08-31 09:28] Santhosh-Sellavel commented on #4941
Slack discussion is active here, based on the outcome will update and we can take appropriate actions thanks!
https://expensify.slack.com/archives/C01GTK53T8Q/p1630401762184800

[2021-08-31 09:28] Julesssss commented on #4211
Just to follow up on my post above, I created a [separate issue](https://github.com/Expensify/Expensify/issues/175788). It's probably not a high priority, but I think this improvement is worth implementing if we can figure out how to handle web.

Thanks for your comments!

[2021-08-31 09:33] Santhosh-Sellavel commented on #4849
@trjExpensify Applied!

[2021-08-31 09:51] trjExpensify commented on #4849
Perfect. Offer sent 👍

[2021-08-31 09:54] #4866 closed

[2021-08-31 09:55] botify commented on #4866
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-08-31 10:02] botify commented on #4435
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-08-31 10:02] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-08-31 10:04] Santhosh-Sellavel commented on #4849
@trjExpensify Accepted, thanks! 🥳

[2021-08-31 10:05] trjExpensify commented on #4849
Awesome, paid. Going to close this out now, thanks @Santhosh-Sellavel!

[2021-08-31 10:05] #4849 closed

[2021-08-31 11:07] mountiny commented on #4671
@isagoico Tested the linked issue by investigating other App PRs merged after this being deployed to production and it works 🎉 For more context, please see a following comment: https://github.com/Expensify/Web-Expensify/pull/31753#issuecomment-909132363

[2021-08-31 11:07] #4671 closed

[2021-08-31 11:57] Santhosh-Sellavel commented on #4850
### My Contributions August
@Beamanator, @tgolen here are the issues/projects, I'll leave the grouping as projects to you guys.
Those are merged which are deemed as completed issues are as follows.
| Project                                                               | GH_Link                                      |
|-----------------------------------------------------------------------|--------

[2021-08-31 13:11] kidroca commented on #4214
I did a good deal of debugging, and while I can recreate the issue relatively easy, I don't have a 100% as to what is causing it
I've got a solid lead that it's caused by the network queue, for some reason when you regain connectivity it will sometimes run 2x all the requests that have piled up.

#### Duplicate requests Network stack trace
There are 12 requests in the screenshot below, the last 6

[2021-08-31 14:05] kidroca commented on #4214
I think I've figured it out: it's related to Logging.

### Long story short
A call to `processNetworkQueue` happens from inside `processNetworkQueue` which re-triggers all the requests for the "parent" pipeline

---

Regular Requests trigger `Log` requests which use the same request queue.
Usually `Log` requests wait as they are set to `sendNow: false`, but this gets overridden if there are more t

[2021-08-31 14:08] michaelhaxhiu commented on #4855
Thanks for reporting this @kavimuru! Did you want to provide a solution proposal for this bug that you reported?

If not, @meetmangukiya is the first in line for proposal review.

[2021-08-31 14:11] HorusGoul opened #4946 "Test issue"
Testing https://github.com/Expensify/Web-Expensify/pull/31799

[2021-08-31 14:12] HorusGoul commented on #4946
Oops, this didn't work.

[2021-08-31 14:12] #4946 closed

[2021-08-31 14:15] parasharrajat commented on #4214
I vouch for the above explanation. I also found earlier that there was a log request between the duplicate pairs but I didn't suspect it to be the reason.

[2021-08-31 14:21] parasharrajat commented on #4214
But what I did here https://github.com/Expensify/App/pull/2703 was also necessary. that was one of the causes that were creating duplicate requests.  But when I did this solution log requests were not implemented this way so I didn't face this issue.

@kidroca  I think the best place to put your thoughts would be #4766.

[2021-08-31 14:23] anthony-hull commented on #4738
is it normal for a staff member to make a PR instead of hiring?

[2021-08-31 14:32] flodnv commented on #4899
Nice shot @MelvinBot  😄

@trjExpensify I don't think we really want to fix this? Or if we do, I'd say low priority at best?

[2021-08-31 14:36] flodnv commented on #4897
I can confirm this works on desktop but not on android. Probably a good External issue?

[2021-08-31 14:38] kidroca commented on #4766
I think I've found a cause and explained it here: https://github.com/Expensify/App/issues/4214#issuecomment-909270618

A developer should be able to confirm this

To reproduce consistently you can add some conditional code inside `processNetworkQueue` that will trigger a request through `Network.post`. This will in turn make a new call to `processNetworkQueue` before the first queue is over and be

[2021-08-31 14:39] HorusGoul opened #4947 "Test issue"
Testing https://github.com/Expensify/Web-Expensify/pull/31799

[2021-08-31 14:41] #4947 closed

[2021-08-31 14:42] dylanexpensify commented on #4897
On it!

[2021-08-31 14:53] tjferriss commented on #4737
@akshayasalvi can you link to the duplicate issue you previously mentioned? If you're working on a solution there then can we close this issue?

[2021-08-31 14:53] Furqankhanzada commented on #4129
So in that case what we can do we can refactor it, So i am proposing  2 solutions :

1)  For web we can use this event ```window.addEventListener('beforeunload', (event) => {});```  and save the value.

2) Second option is that we will not remove the function ```debouncedSaveReportComment``` but we will remove the ```componentDidUpdate``` if condition where we are calling ```setNativeProps({text:

[2021-08-31 14:57] michaelhaxhiu commented on #4855
@kavimuru I'm sorry for the confusion, I failed to see you were QA applause. I'll remember that next time 🙏 .

@meetmangukiya your proposal is first in line for review 😉

[2021-08-31 14:58] isagoico commented on #4828
Starting QA!

[2021-08-31 15:08] botify opened #4948 "Weekly resync 2021-09-02"
### Deploy Blockers

[2021-08-31 15:09] botify opened #4949 "Weekly resync 2021-09-02"
### Deploy Blockers

[2021-08-31 15:15] ctkochan22 commented on #4922
Let me take a look. @kevinksullivan Are you able to consistently reproduce this?

[2021-08-31 15:19] botify opened #4950 "Weekly resync 2021-09-02"
### Deploy Blockers

### Jobs that have doubled in the past week

[2021-08-31 15:20] botify opened #4951 "Weekly resync 2021-09-02"
### Deploy Blockers

### Jobs that have doubled in the past week

[2021-08-31 15:20] botify opened #4952 "Weekly resync 2021-09-02"
### Deploy Blockers

### Jobs that have doubled in the past week

[2021-08-31 15:35] luacmartins commented on #4616
@parasharrajat proposal looks good 👍

[2021-08-31 15:40] twisterdotcom commented on #4949
Nah.

[2021-08-31 15:40] #4949 closed

[2021-08-31 15:42] isagoico commented on #4214
I was able to reproduce this just now on Chrome (Don't have solid repro steps tho 😢)
![image](https://user-images.githubusercontent.com/44479856/131533372-870d386d-9879-4f96-8415-07eed49ca0b7.png)

[2021-08-31 15:45] akshayasalvi commented on #4737
@tjferriss the issue is #4745 . I am not working on it at the moment. One of your team member asked me to apply to this issue and closed the other one .

here’s my proposal for the same https://github.com/Expensify/App/issues/4737#issuecomment-903034853

[2021-08-31 15:50] pecanoro commented on #4885
@mananjadhav Sounds good! Feel free to create the PR!

[2021-08-31 15:51] Julesssss opened #4953 "[TEST] Test DeployBlocker issue formatting"
**Release Version:** `X.Y.Z-XX`
**Compare Changes:** https://github.com/Expensify/App/compare/example_URL

**This release contains changes from the following pull requests:**
- https://github.com/Expensify/App/pull/4923
    - [x] QA
    - [x] Accessibility
- https://github.com/Expensify/App/pull/4923
   - [ ] QA
   - [ ] Accessibility

[2021-08-31 15:51] Julesssss commented on #4953
Sorry @puneetlath, please ignore this test.

[2021-08-31 15:53] michaelhaxhiu commented on #4855
@meetmangukiya feel free to apply for this particular job on upwork [here](Upwork job link https://www.upwork.com/jobs/~0160911a1308566e83).

[2021-08-31 15:54] marcaaron commented on #4214
Just so this issue stays focused... I think this is where we last left things.

@kidroca can we add this context to a new issue (though it already sounds like we have decided it's not a problem)? @iwiznia maybe you want to comment there on the logging stuff.

[2021-08-31 15:58] Gonals commented on #4948
Testing issue

[2021-08-31 15:58] #4948 closed

[2021-08-31 15:58] Gonals commented on #4952
Test

[2021-08-31 15:58] #4952 closed

[2021-08-31 15:58] Gonals commented on #4951
Test

[2021-08-31 15:58] #4951 closed

[2021-08-31 15:59] Gonals commented on #4950
Test

[2021-08-31 15:59] #4950 closed

[2021-08-31 16:09] kevinksullivan commented on #4922
yes @ctkochan22 . I've reproduced it many times.

[2021-08-31 16:10] kevinksullivan commented on #4922
@nkuoch to clarify, you're saying that the manual routing/account number should result in onfido showing, but the using the plaid test credentials should not see the onfido step?

[2021-08-31 16:16] Santhosh-Sellavel commented on #4855
@michaelhaxhiu sorry for the confusion I missed this issue. Somehow this duplicate fo #4357

[2021-08-31 16:18] MTN718 commented on #4629
@roryabraham this issue still opening? no update yet

[2021-08-31 16:19] mananjadhav commented on #4543
@deetergp @roryabraham Should I then start with the PR?

[2021-08-31 16:20] jboniface commented on #4885
@mananjadhav please apply to the job on upwork when you get a chance https://www.upwork.com/jobs/~01d75677c55746a5e4

[2021-08-31 16:22] ctkochan22 commented on #4922
Cool. Just wanted to make sure

[2021-08-31 16:22] mallenexpensify commented on #4747
Updating payment til 9/5, due to regression.

[2021-08-31 16:29] Santhosh-Sellavel commented on #4357
@jliexpensify I see the assigned engineer is OOO until sep 7 can you assign someone else, thanks!

[2021-08-31 16:33] AndrewGable commented on #4867
Actually - @isagoico can you check if this is still present after https://github.com/Expensify/App/pull/4769 was deployed before we export this to Upwork? Thanks!

[2021-08-31 16:33] marcaaron commented on #4922
I tried this, but wasn't able to get past the company information step. Is there some specific information we should put there to get past that screen? Two issues I ran into were: needing an EIN instead of SSN, using a fake account number and didn't seem like the API was allowing me to continue (maybe the solution is to use a real one).

[2021-08-31 16:38] trjExpensify commented on #4899
We can mark this issue as `external` to be worked on by a contributor.

[2021-08-31 16:41] thienlnam commented on #4667
Got the rest of them @Santhosh-Sellavel!

'Additional Beneficial Owner' -> `Beneficiario efectivo adicional`
'Remove this beneficial owner' -> `Eliminar este beneficiario efectivo`

[2021-08-31 16:43] Santhosh-Sellavel commented on #4667
@thienlnam Will send a PR Shortly...

[2021-08-31 16:52] chiragsalian commented on #4816
Cool, @MitchExpensify feel free to hire rajat in upwork.
@parasharrajat, feel free to create the PR.

[2021-08-31 16:52] mananjadhav commented on #4885
Thanks, @pecanoro. Will start.

As per my recommendation above, we should allow only pasting numbers with a comma and then strip the commas.

Do we need typing comma support as well?
   1. We'll have to handle validation separately because the regex won't allow trailing comma. So even if we type `1,2`, it'll show it as `12`. To allow comma while typing, we'll have to allow trailing comma and then

[2021-08-31 16:53] johnmlee101 commented on #4885
I don't think typing is necessary, but pasting should be supported!

[2021-08-31 16:56] Santhosh-Sellavel commented on #4667
@thienlnam here you said

It should be` Acuerdo:` right?

[2021-08-31 17:03] thienlnam commented on #4899
I think this may actually end up being an internal issue since the way we handle email responses is through mailgun and this might be a case of us not parsing or converting the markdown into html

[2021-08-31 17:04] thienlnam commented on #4667
Yup, it should be - good catch

[2021-08-31 17:04] meetmangukiya commented on #4855
@Santhosh-Sellavel I don't think your PR is addressing the bug in `onVisibilityChange` and `isVisible` for native?

[2021-08-31 17:05] shawnborton commented on #4885
I agree, I don't think we need to support typing. I could see an argument to change the period to a comma in the numberpad depending on the currency that is selected, but I don't know that it's a real problem for us yet.

[2021-08-31 17:05] thienlnam commented on #4660
@kakajann 🟢  to https://github.com/Expensify/App/issues/4660#issuecomment-898784405 the 1st proposal here

Assigning you to the issue - please apply to the upwork job

[2021-08-31 17:14] MTN718 commented on #4897
@dylanexpensify can you explain in better about issue?

[2021-08-31 17:33] isagoico commented on #4867
Asked a tester to check ane issue is still reproducible in v1.0.90

[2021-08-31 17:33] AndrewGable commented on #4867
Ok then this is reproducible and should be exported to Upwork @trjExpensify - Thanks!

[2021-08-31 17:37] michaelhaxhiu commented on #4559
@mananjadhav thank you for being patient on this :). The past 2 weeks have been abnormal for us, and we are just getting back to normal operations (especially true for me).

[2021-08-31 17:39] thienlnam commented on #3381
Hey @azimgd,

To clarify, you're saying the the reason why this doesn't work is because of how column-reverse is implemented in the browsers / desktop environments? Even in the [linked comment](https://github.com/facebook/yoga/issues/866#issuecomment-797548962 ), the suggestion is to open an issue in react-native.

I know you were working on the order of render [here](https://github.com/Expensify/

[2021-08-31 17:41] trjExpensify commented on #4867
Posted to Upwork [here](https://www.upwork.com/jobs/~0177c60d6df6abbfbb). 👍

[2021-08-31 17:43] michaelhaxhiu commented on #4559
Job posted here. https://www.upwork.com/jobs/~010528886766f948f5

[2021-08-31 17:45] michaelhaxhiu commented on #4398
Checking in on this one - how's it coming along so far @Santhosh-Sellavel?

[2021-08-31 17:47] Santhosh-Sellavel commented on #4398
@michaelhaxhiu PR is ready @stitesExpensify is busy with some internal priorities. You can check here https://github.com/Expensify/App/pull/4653

[2021-08-31 17:48] trjExpensify commented on #4899
Cool, if that transpires to be the case I can pull the job post down.

[2021-08-31 17:59] robertjchen commented on #4834
Looks great, let's open it up to our Contributors 👍

[2021-08-31 18:02] roryabraham opened #4955 "Post in #deployer when an iOS/Android deploy fails"
Coming from [this slack thread](https://expensify.slack.com/archives/C07J32337/p1630114606029400)...

## Problem
When automatic iOS/Android production releases fail, we need to manually submit them for review. However, we don't always remember to do that.

## Solution
When an iOS/Android prod release fails, post in #deployer to announce that the mobile-deployer must go into the app store or google

[2021-08-31 18:03] Santhosh-Sellavel commented on #4667
@thienlnam PR is ready!

[2021-08-31 18:04] kidroca commented on #4214
@isagoico
To reproduce, go offline / airplane mode for a minute or two
Send a few messages in 2 or 3 different chats, (the more messages/different chats the better chance of happening)
Resume connectivity
You can also notice that sometimes the order of the messages would not be correct

@marcaaron
I can open a separate ticket depending on the Slack conversation as it seems, it's not something to b

[2021-08-31 18:17] alex-mechler commented on #4904
Issue 1 can be solved completely on the client.

Issue 2 _might_ be able to be solved on the client, I'm not sure however.

[2021-08-31 18:17] aman-atg commented on #4417
@johnmlee101, https://github.com/Expensify/App/pull/4956 is ready for review.

[2021-08-31 18:17] marcaaron commented on #4214
Sounds good, thanks for this investigation btw - I had a feeling we were missing something right under our noses.

Let's see what @quinthar thinks? I'm a bit unsure how to prioritize based on the previous comments.

I think at a minimum we should treat these as separate issues so there is not too much overlap in the conversation here. I've labeled this `Internal` so we could focus on the BE change

[2021-08-31 18:22] Santhosh-Sellavel commented on #4904
@alex-mechler
We don't share both logins in personal props? For the user I am chating with.

Without that we can't solve Issue 1.

[2021-08-31 18:24] Santhosh-Sellavel commented on #4904
I'll check again update you shortly.

[2021-08-31 18:26] jboniface commented on #4885
(hired manan)

[2021-08-31 18:30] Santhosh-Sellavel commented on #4904
@alex-mechler
<img width="306" alt="Screenshot 2021-08-31 at 11 57 31 PM" src="https://user-images.githubusercontent.com/85645967/131556603-3474a21a-aee8-498d-958d-eecf1f879f7e.png">

Note: I'm not logged in as `Mobile user`. I logged in as another user trying to view this user profile.

[2021-08-31 18:41] alex-mechler commented on #4904
Is the email for `Mobile User` validated?

[2021-08-31 18:41] Santhosh-Sellavel commented on #4904
Yes

[2021-08-31 18:45] roryabraham commented on #4817
Actually, I don't think this is a duplicate of https://github.com/Expensify/Expensify/issues/149667. That issue is slightly different – I believe that's about adding New Expensify as an option in native share menus, not about exposing native share menus from within New Expensify.

[2021-08-31 18:47] roryabraham commented on #4629
@MTN718 Very sorry for the delay here. Your last proposal looks fantastic! @puneetlath Let's hire @MTN718 for this job on Upwork!

[2021-08-31 18:49] alex-mechler commented on #4904
Ahhh I see. I'm not sure if we expose the secondary logins of an account to other users. For now I've assigned back to myself while I do a little more digging. Thanks for the details so far!

[2021-08-31 18:50] MTN718 commented on #4629
Thanks @roryabraham First I need to use expensify forked library for customize?

[2021-08-31 18:52] Santhosh-Sellavel commented on #4904
@alex-mechler
Okay, additionally I checked in API response also. It's not available.

<img width="728" alt="Screenshot 2021-09-01 at 12 20 19 AM" src="https://user-images.githubusercontent.com/85645967/131559467-dfe0a2bb-01d1-4be0-b5d6-70305d5418dc.png">

[2021-08-31 18:57] marcaaron commented on #4817
Oh is it? Nice catch then. I still share the initial concern expressed [here](https://github.com/Expensify/Expensify/issues/149667#issuecomment-906515853). We should be cautious about letting complex issues like this be created and pass through the triage process.

[2021-08-31 19:04] jboniface commented on #4487
progress is still being made on the PR

[2021-08-31 19:06] roryabraham commented on #4817
Good point – this was probably on me, I advised @anboia to create this issue [over here](https://github.com/Expensify/App/issues/4629#issuecomment-904910216). We can put this on hold while we discuss internally.

[2021-08-31 19:08] thienlnam commented on #3419
I have the free cycles to pick up the IOU API as part of this project, but seems like we should make another issue for Onyx storage eviction?

[2021-08-31 19:18] roryabraham commented on #4629
@MTN718 Check out [this comment above](https://github.com/Expensify/App/issues/4629#issuecomment-897981246). While you're developing locally, you should work off of your own forked copy of https://github.com/react-native-clipboard/clipboard/. Then once you're confident that it's working well and can show us some of your local testing results, then you can create a PR from your forked copy of https

[2021-08-31 19:21] pROFESOR11 commented on #4897
Hi everybody,
I've been debugging the issue for a while and here is my proposal:

Related code block:
https://github.com/Expensify/App/blob/5bc21cd5ea38c06f56cdafd60705571205e91355/src/components/HTMLEngineProvider/BaseHTMLEngineProvider.js#L67-L93

Here in `AnchorRenderer`,  I suggest to override styles with parent styles. So it will be:
[code]

[2021-08-31 19:24] roryabraham commented on #4629
In the meantime, I'll create an internal issue to create an Expensify/clipboard fork.

[2021-08-31 19:28] roryabraham commented on #4629
Just FYI, I just noticed [this PR](https://github.com/react-native-clipboard/clipboard/pull/112), which might implement image-copying in react-native-clipboard. We will still hire you to ensure that we get this feature implemented in Expensify/App, but how similar is that PR to your current implementation?

[2021-08-31 19:31] MTN718 commented on #4629
In my implementation, input parameter is Image URL but in current PR, not. And in my view, that's not complete solution.

[2021-08-31 19:37] kavimuru opened #4958 "Login form - No option to change the password in login and password entry form"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when testing the PR #4880. This issue blocks the PR
## Action Performed:
1. Launch the app
2. Press sign in without entering anything in the field and ver

[2021-08-31 19:38] azimgd commented on #3381
Not exactly. I’m saying that this issue is definitely fixable (and i found a solution) by patching react-native-web using approach I proposed above.
While the deliverable for #3381 is to submit a PR and implement a fix against expensify/RN fork I don’t see how we can apply those to web environment. RN isn’t responsible for web, RN-web is.
That said I see two solutions here:
1) fork and patch rn-we

[2021-08-31 19:41] azimgd commented on #3381
column-reverse works as expected per w3 specs on web while it doesn’t on mobile devices (Yoga is responsible for that)

[2021-08-31 19:58] chiragsalian commented on #4544
Not overdue, code is merged and on staging. Demoting to weekly.

[2021-08-31 20:04] kidroca commented on #4492
@marcaaron
In not sure how to continue here,
We've made the POC, had some observations, tried different items.
At the time the POC didn't bring much improvement
JSI storage can help in other areas like dropping cache altogether as values can be read directly from storage

In the mean time I've worked on file handling in Onyx which uses the same storage provider concept to deliver separate handling

[2021-08-31 20:07] #4738 closed

[2021-08-31 20:08] botify commented on #4738
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-08-31 20:12] arielgreen commented on #4738
@anthony-hull to clarify what's changed, since this is a brand new, more pro-contributor change to our process: we just (yesterday, actually) updated our CONTRIBUTING.md so if you propose an issue that gets implemented (either via contributor or via Expensify staff) you are eligible for the $250 bounty, **regardless of whether you are the one who implemented the fix**.

[Here](https://github.com/E

[2021-08-31 20:32] roryabraham commented on #4958
@pecanoro I'm the mobile-deployer today and I want to make sure we run a prod deploy so I'm going to snag this from you

[2021-08-31 20:38] marcaaron opened #4959 "Plaid modal is no longer opening on Android"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Try to add a bank account via Plaid

## Expected Result:
Plaid modal opens and we are able to do so (works on staging)

## Actual Result:
White scre

[2021-08-31 20:38] marcaaron commented on #4959
Coming in from https://github.com/Expensify/App/pull/4944#issuecomment-909615573

[2021-08-31 20:43] marcaaron commented on #4959
1. The issue was reproduced on `main` locally
2. The issue is not reproduced on the latest Play Store build
2. Going to try to test `staging` locally to see if this can be reproduced there

[2021-08-31 20:47] marcaaron commented on #4959
@Julesssss @luacmartins the issue is reproducible on the `staging` branch too. Which likely means this isn't a deploy blocker. But should be resolved so we can test this on dev.

I'll try to see what else could be causing this. It was working... and now isn't... but the code changes around this stuff have been pretty minimal so I'm guessing some kind of dependency broke this. But honestly not too

[2021-08-31 20:48] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-08-31 20:51] AndrewGable commented on #4486
@mananjadhav - Did you want to work on this issue? Did you submit a proposal via Upwork?

[2021-08-31 20:56] NicMendonca commented on #4664
Looks like this was deployed yesterday. Holding for payment until Sept 6th.

[2021-08-31 20:58] thienlnam commented on #4916
Took a look, it seems like this is because we aren't clearing the error message out of the reimbursement account onyxkey when transitioning to another step.  I have a PR up but haven't been able to test since I get stuck on the Validate step in this https://github.com/Expensify/Expensify/issues/175776#

[2021-08-31 21:08] deetergp commented on #4543
Yes, @mananjadhav, go for it 👍

[2021-08-31 21:10] tjferriss commented on #4737
Thanks for referencing it and sorry for the delay here. I'm going to tag engineering so someone can take a look and remove my assignment.

[2021-08-31 21:11] deetergp commented on #4486
@AndrewGable I think this is about to be fixed [here](https://github.com/Expensify/App/pull/4821).

[2021-08-31 21:14] marcaaron commented on #4959
Ok so I updated the `react-native-plaid-link-sdk` package to see if that would help at all and it did. I think updating to the latest version of React Native must have broken this. I'm going to push up the version bump and test to make sure that iOS is still good as well.

[2021-08-31 21:15] AndrewGable commented on #4486
Nice! Then go away @MelvinBot! We have someone on it!

[2021-08-31 21:16] marcaaron commented on #4959
The only thing I'm noticing is that the Plaid modal is well... super slow to load... but it does work eventually.
Maybe we can create another issue to address that or bring it to Plaid's attention.

[2021-08-31 21:18] marcaaron commented on #4959
Oh that and I think the API changed because everything breaks once you pick an account. Nice! React Native ftw 😄

:trollface:

[2021-08-31 21:20] luacmartins commented on #4892
I can pick this up if @bondydaa doesn't mind.

[2021-08-31 21:23] michaelhaxhiu commented on #4855
@Santhosh-Sellavel ohhh yeah i remember that one, thanks for buddy checking anyway, always helpful.

[2021-08-31 21:27] michaelhaxhiu commented on #4855
@Jag96 I got my wires crossed and accidentally un-assigned the wrong engineer 🤦 . Rightfully assigning you, as initially selected.

[2021-08-31 21:38] marcaaron commented on #4959
Seeing an error that looks like this now:

[2021-08-31 21:38] marcaaron commented on #4959
Seeing an error that looks like this now:

[2021-08-31 21:46] roryabraham commented on #4958
Still digging on this

[2021-08-31 22:12] marcaaron commented on #4959
Ok I think maybe it was just a caching issue. Seems to be working now on Android. Moving on to iOS testing.

[2021-08-31 22:35] AndrewGable commented on #2748
I think there are three scenarios at play here:
1. We have a new version that needs to be reviewed by Apple
2. We have an existing version that does not need to be reviewed by Apple and **do not** have a build in review
3. We have an existing version that does not need to be reviewed by Apple and **do** have a build in review

The `reject_build_waiting_for_review` is supposed to basically take the

[2021-08-31 22:48] mallenexpensify commented on #4543
@deetergp 'go for it' means @Jag96 should hire in Upwork, right?

[2021-08-31 22:48] Jag96 commented on #4855
@meetmangukiya, it looks like your proposal works if you background the app and reopen, but if you kill the app and then reopen, the message is no longer bolded (at least on iOS). Is there something else required for that part of the fix?

<img src='http://g.recordit.co/3SFZvT462n.gif' width='400'/>

[2021-08-31 22:53] roryabraham commented on #4958
This is tricky, because I'm not able to reproduce it locally (even on the staging branch)

[2021-08-31 22:58] roryabraham commented on #4958
JK, I figured this out

[2021-08-31 23:07] kevinksullivan commented on #4916
popped a suggestion in [slack](https://expensify.slack.com/archives/C020EPP9B9A/p1630451180282700).

[2021-08-31 23:11] #2748 closed

[2021-08-31 23:22] jliexpensify commented on #4357
Looks like @timszot is OOO, so re-assigning another engineer.

[2021-08-31 23:22] isagoico commented on #4828
CP issue is back, Checking off:
1. https://github.com/Expensify/App/pull/4803
2. https://github.com/Expensify/App/pull/4918
3. https://github.com/Expensify/App/pull/4919
4. https://github.com/Expensify/App/pull/4925
5. https://github.com/Expensify/App/pull/4954
6. https://github.com/Expensify/App/pull/4957

[2021-08-31 23:26] isagoico commented on #4828
We're almost finished with QA, all PRs have been tested and I already updated the checklist with the results.
These 2 PRs have unresolved comments:
1. https://github.com/Expensify/App/pull/4768#issuecomment-909344407
2. https://github.com/Expensify/App/pull/4923#issuecomment-909368450

https://github.com/Expensify/App/pull/4880 is failing because of https://github.com/Expensify/App/issues/4958 (It

[2021-08-31 23:51] puneetlath commented on #2985
Given @roryabraham's last comment, are @tgolen and @kidroca still the right people to be assigned to this issue? Or do we need to find a volunteer to take it on?

[2021-08-31 23:59] Jag96 commented on #4543
@mananjadhav I've invited you to the Upwork job

[2021-09-01 00:06] roryabraham commented on #4958
@kavimuru Please retest this in `1.0.90-2`

[2021-09-01 00:10] roryabraham commented on #4828
Please retest https://github.com/Expensify/App/pull/4880 /  https://github.com/Expensify/App/issues/4958 in version `1.0.90-2`, being deployed [here](https://github.com/Expensify/App/actions/runs/1188199835)

[2021-09-01 00:10] isagoico opened #4971 "[HOLD for payment 2021-09-22] After sign out, user should be signed out of all tabs"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Sign in to New Expensify in one tab (A), open a second tab (B) with New Expensify (you should be signed in automatically)
2. In tab A, sign out t

[2021-09-01 00:12] roryabraham commented on #2985
Yep, I'm working on this.

[2021-09-01 00:25] NikkiWines commented on #4559
@mananjadhav I think with your proposed solution of an additional flatlist you might get some strange UI interactions like so:

https://user-images.githubusercontent.com/16747822/131591837-c45dfa49-a24a-42cf-8337-e6834af69ec2.mov

I'm not sure what the plan is for emojis and if we planned to support `Recently Used` or `Frequently Used` functionality. cc: @stitesExpensify since you implemented the

[2021-09-01 00:29] isagoico commented on #4958
Retest was a pass!

![image](https://user-images.githubusercontent.com/44479856/131592780-2916fc16-a5d0-4c1a-91e7-c0af9547f4b6.png)

![image](https://user-images.githubusercontent.com/44479856/131592785-c399ad9f-4812-410d-951a-feb7f56c6aa5.png)

Only thing I noticed that was off is that the language dropdown has a double border

![image](https://user-images.githubusercontent.com/44479856/131592826

[2021-09-01 00:30] isagoico commented on #4828
Checking off https://github.com/Expensify/App/pull/4880 since it's a pass 🎉

[2021-09-01 00:31] roryabraham commented on #4958
Interesting, can we file another issue for that and mark it `External` please?

[2021-09-01 00:32] #4958 closed

[2021-09-01 00:40] kevinksullivan commented on #4616
here is the job @parasharrajat

https://www.upwork.com/jobs/~015f6d5bbb55036089

[2021-09-01 00:43] roryabraham commented on #4828
@TomatoToaster is going to QA https://github.com/Expensify/App/pull/4923 internally, but since it's still hidden behind a beta, I'm not going to block the production deploy on it. So I'm going to go ahead and check it off on the checklist and run a prod deploy.

[2021-09-01 00:45] isagoico commented on #4828
@roryabraham We're about to finish the regression testing, only 10% left, should be done in a little bit.

[2021-09-01 00:49] kevinksullivan commented on #4892
Take it @luacmartins ! It makes sense to have those close to the project picking these things up.

[2021-09-01 01:02] isagoico opened #4972 "Log in - Language picker has a double lined border"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to staging.new.expensify.com
2. Use the language picker

## Expected Result:
Language picker has a regular border

## Actual Result:
Lan

[2021-09-01 01:19] #4916 closed

[2021-09-01 01:20] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-01 01:20] botify commented on #4916
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-01 01:21] isagoico commented on #4828
It's finished! feel free to trigger the Prod deploy 🎉 (no deploy blocker were found!)

[2021-09-01 01:22] TomatoToaster commented on #4828
Just noting that this one is QA'ed and passed too: https://github.com/Expensify/App/pull/4923#issuecomment-909784471

[2021-09-01 01:23] roryabraham commented on #4828
:shipit:

[2021-09-01 01:23] #4828 closed

[2021-09-01 01:24] NikkiWines commented on #4905
Yep, looks like this can go to upwork. Assigning external label

[2021-09-01 01:25] jliexpensify commented on #4972
Internal: https://www.upwork.com/ab/applicants/1432877129250586624/job-details
External: https://www.upwork.com/jobs/~0115fca5ef203e4abf

[2021-09-01 01:26] OSBotify opened #4976 "Deploy Checklist: New Expensify 2021-09-01"
**Release Version:** `1.0.91-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/4019
- [x] https://github.com/Expensify/App/pull/4117
- [x] https://github.com/Expensify/App/pull/4131
- [x] https://github.com/Expensify/App/pull/4143
- [x] https://github

[2021-09-01 01:34] roryabraham opened #4977 "Pull requests CP'd in the previous checklist show up in the next one"
### Problem
When a new deploy checklist is created, PRs that were cherry-picked in the previous deploy cycle are included in the new checklist. For example, the last two PRs in this deploy checklist were CP'd in the previous checklist:

![image](https://user-images.githubusercontent.com/47436092/131597343-633059bc-2364-4cc2-bbc0-b0ae578976b0.png)

### Solution
Not sure, fix it!

[2021-09-01 01:41] botify commented on #4958
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:41] botify commented on #2748
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:41] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:41] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:42] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:42] botify commented on #4517
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:42] botify commented on #4608
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:42] botify commented on #4407
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:42] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:42] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:42] botify commented on #4864
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:42] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:42] botify commented on #4849
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:42] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:43] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:43] botify commented on #4863
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:43] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:43] botify commented on #4601
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:43] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:43] botify commented on #4870
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:43] botify commented on #4615
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:43] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:43] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:43] botify commented on #4759
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:43] botify commented on #4513
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:43] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:43] botify commented on #3901
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:43] botify commented on #4748
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:43] botify commented on #4499
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:43] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:43] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188395063) to production by @roryabraham in version: 1.0.90-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-01 01:43] roryabraham opened #4978 "iOS Production Deploy Failure"
We need to investigate and fix this deploy failure: https://github.com/Expensify/App/runs/3479417738

[2021-09-01 01:47] roryabraham commented on #4978
In the meantime, I've manually submitted `1.0.90-2`

[2021-09-01 02:23] kortneywynn commented on #4850
The end goal is total cost per project/issue/PR that qualifies as research and development. So if the ENTIRE issue/PR qualifies as development, meaning it has not been yet launched, then this is fine. But if the project/issue/PR encompasses both development and post-launch maintenance work, then each contractor would need to split their hours/cost to reflect this.

@dklymenk @arielgreen @tgolen @B

[2021-09-01 02:34] Santhosh-Sellavel commented on #4905
@NikkiWines there is no one assigned here.

[2021-09-01 02:41] meetmangukiya commented on #4972
I think this happens with all `ExpensiPicker` that are size `small`.

## Proposal

We have to set `border: none` for web, and remove border styling from `inputWeb`, `inputIOS`, `inputAndroid` like we are doing for normal sized components here https://github.com/Expensify/App/blob/1f332a6ca3bac8fa3b747a0348a9af40c8a60cfa/src/styles/styles.js#L591-L596 This also means that whole `styles.picker` rema

[2021-09-01 02:51] Luke9389 commented on #4900
I think I remember seeing some discussion about translating errors. I'll try and find it.

[2021-09-01 02:54] Luke9389 commented on #4541
Quick question, does this affect the appearance of the emoji picker while in portrait orientation?

If not, feel free to start on your PR @mananjadhav

[2021-09-01 03:09] Luke9389 commented on #4256
Can do! Welcome to the team Jasper!

[2021-09-01 03:27] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188400020) to staging by @aldo-expensify in version: 1.0.90-3 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-01 03:27] botify commented on #4916
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188400020) to staging by @aldo-expensify in version: 1.0.90-3 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-01 03:27] botify commented on #4958
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188400020) to staging by @roryabraham in version: 1.0.90-3 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-01 03:27] botify commented on #2748
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188400020) to staging by @AndrewGable in version: 1.0.90-3 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-01 03:27] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188400020) to staging by @AndrewGable in version: 1.0.90-3 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-01 03:27] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188400020) to staging by @roryabraham in version: 1.0.90-3 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-01 03:27] botify commented on #4738
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188400020) to staging by @stitesExpensify in version: 1.0.90-3 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-01 03:27] botify commented on #4435
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188400020) to staging by @Julesssss in version: 1.0.90-3 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-01 03:27] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188400020) to staging by @Julesssss in version: 1.0.90-3 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-01 03:27] botify commented on #4866
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1188400020) to staging by @flodnv in version: 1.0.90-3 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-01 03:28] MitchExpensify commented on #4771
Have you been able to replicate this @parasharrajat ?

[2021-09-01 03:48] roryabraham commented on #4972
@meetmangukiya Proposal looks good, feel free to submit a PR once you've been hired on Upwork. @jliexpensify Please hire @meetmangukiya on Upwork.

[2021-09-01 03:50] roryabraham commented on #4972
Oops, I'm actually not the CME on this issue. So it's up to @Luke9389

[2021-09-01 03:51] mananjadhav commented on #4487
PR is under review.

[2021-09-01 03:54] mananjadhav commented on #4543
Thanks @Jag96

[2021-09-01 04:00] mananjadhav commented on #4559
@NikkiWines Might be because we're using the same highlightIndex and filteredEmojis.  We could even have an additional category in Emoji rather than a separate `FlatList`. I'll let you and @stitesExpensify decide which is the way we would want to go with.

[2021-09-01 04:04] Christinadobrzyn commented on #4646
Looks like PR https://github.com/Expensify/App/pull/4781#issuecomment-904298015 is merged!  Holding for payment in 7 days.

![image](https://user-images.githubusercontent.com/51066321/131609952-9b95f26a-fe94-4304-b1c6-75025e3a6995.png)

[2021-09-01 04:13] mananjadhav commented on #4541
No, it won't affect the appearance. Will handle it accordingly.

Sure. Thanks.

[2021-09-01 04:25] roryabraham commented on #4978
Sorry, originally meant to assign this to you @AndrewGable

[2021-09-01 04:50] sophiepintoraetz commented on #4941
Will wait on an outcome from the slack thread before swinging over to engineering. Will bump down to weekly.

[2021-09-01 06:13] JmillsExpensify commented on #4505
@marcaaron Curious for your take on that solution and then I can export to Upwork.

[2021-09-01 07:10] dklymenk commented on #4850
@kortneywynn

Thanks for your reply. This tax ~~evasion~~ breaks business is pretty confusing. In my experience our issues and PRs are pretty narrow in scope, each having one particular expected result, yet sometimes even implementing a completely new feature requires refactoring some old code, so it is only in cases like that we would need to split hours/cost, I assume.

Really glad you pointed o

[2021-09-01 07:50] shawnborton commented on #4972
[I posted about this in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1629962984011400) and it looks like @parasharrajat is already taking care of this: https://github.com/Expensify/App/pull/4810

[2021-09-01 08:47] parasharrajat commented on #4972
Sorry, Shawn but I didn't notice the double border on firefox so this issue was missed. I can send a follow-up, if needed.

[2021-09-01 08:49] shawnborton commented on #4972
I think we should follow up and fix it - ideally the border behavior here looks like our text inputs.

[2021-09-01 08:54] Julesssss commented on #3419
I would suggest starting a Thread in Slack to discuss whether we think Onyx storage eviction is a prerequisite for this task or not. It's adding a lot of local data but _maybe_ we can live with that for now.

[2021-09-01 08:55] parasharrajat commented on #4972
Sure, sending a follow up.

[2021-09-01 09:06] Julesssss commented on #4959
Thanks for looking into this. Let us know if this comes off hold and can be tested.

[2021-09-01 09:35] Julesssss commented on #4616
@parasharrajat your proposal looks good 👍

@kevinksullivan please hire Rajat when you see this

[2021-09-01 10:12] mananjadhav commented on #4850
For the month of August, I've primarily worked on Bugs/Issues only except for one which is an enhancement. I am guessing all those will have to be excluded. I am not sure if the following enhancement is also covered, putting it anyway.

| Description                              | Type        | Issue | Hours|
|------------------------------------------|-------------|-------|-----|
| Added Tooltip

[2021-09-01 10:37] kortneywynn commented on #4850
@tgolen @Beamanator I am wondering if it would be best if someone from Expensify who created this issue can help us determine whether it was applicable to phase 2-4 first. Then each month, the external contributors can just list their issues and hours/cost and we can allocate it that way? Is this possible?

This may be better than having the contractors guess whether the issue is related to a laun

[2021-09-01 12:47] MonilBhavsar commented on #4928
The reason why this happened is clear from logs that - `accountID` was empty when `Report_UpdateLastRead` was called. Looking into how it was empty, can be an edge case or something

[2021-09-01 12:49] gnylytsya commented on #4972
submit

[2021-09-01 14:40] Julesssss commented on #4959
Leaving a reminder here that [this PR](https://github.com/Expensify/App/pull/4944) should be retested after this is merged.

[2021-09-01 14:43] isagoico opened #4981 "Puller Bear is not assigning the correct CME when PR is ready for review"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a PR with a linked issue
2. Set it to ready for review
3. Check the puller bear assignment

## Expected Result:
Puller bear should assign

[2021-09-01 14:44] isagoico commented on #4976
@roryabraham Are we good to start QA here? Or will you add the lock label and let us know when it's ready?

[2021-09-01 14:49] #4953 closed

[2021-09-01 14:52] Santhosh-Sellavel commented on #4357
@robertjchen you tagged someone else I think instead of me.

[2021-09-01 14:56] Viacheslav80 commented on #4129
Hi! based on this [reactnative.dev](https://reactnative.dev/docs/0.63/direct-manipulation#setnativeprops-to-clear-textinput-value) it can be seen that `textInput.setNativeProps({text: ''})` the fastest way to clear textinput
the issue is that it is difficult to understand that it has cleared.
After the cleanup has passed, only onContentSizeChange is triggered
proposal:
[code]
https://user-images.g

[2021-09-01 15:06] luacmartins commented on #4892
Taking over!

[2021-09-01 15:18] Gonals opened #4985 "TEST - I'll delete it soon"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

##

[2021-09-01 15:18] OSBotify commented on #4985
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-01 15:20] parasharrajat commented on #4972
PR is here https://github.com/Expensify/App/pull/4986.

[2021-09-01 15:21] AndrewGable commented on #4978
I think this failed because the step didn't run, which I believe is a known issue with releases, the tag has to include the code merged. So we need to wait until we deploy production once more to fully test the new production fix.

[2021-09-01 15:27] Jag96 commented on #4981
Assigning @Beamanator per [slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1630360934157300)

[2021-09-01 15:32] robertjchen commented on #4357
Ah, my mistake- I've updated my tag! Hopefully we'll get some clarifications soon, appreciate your patience.

[2021-09-01 16:08] NikkiWines commented on #4905
Oops! Sorry about that @Santhosh-Sellavel

[2021-09-01 16:18] roryabraham commented on #4976
@isagoico Feel free to begin QA when ready! All the deploy systems are fixed and we should be back to normal operation now. The only thing that's changed long-term is that a mobile-deployer will close the checklist to trigger the prod deploy

[2021-09-01 16:23] puneetlath commented on #4834
Upwork job is here: https://www.upwork.com/jobs/~015478a4fe5c914f26

@Santhosh-Sellavel your proposal seems good to me. Please go ahead and apply to the job on Upwork and you can begin.

[2021-09-01 16:27] isagoico commented on #4976
Starting QA!

[2021-09-01 16:37] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1190700246) to staging by @Jag96 in version: 1.0.90-4 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-01 16:39] puneetlath commented on #4856
@saracouto should `Factores` be lower case like the rest of the words?

[2021-09-01 16:43] yuwenmemon commented on #3844
@HorusGoul Have you been able to reproduce the bug where new rooms don't have a `chatType` NVP?

[2021-09-01 16:55] parasharrajat commented on #4771
I will retest this and let you know. Meanwhile, I think the best is to demote it to weekly.

[2021-09-01 16:58] botify commented on #4675
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-01 17:00] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-01 17:02] ammar-yasir commented on #4834
Is it still valid or can I place my bid?

[2021-09-01 17:14] jboniface commented on #2985
@roryabraham can you update the OP to match the path forward that you've settled on and start providing weekly updates to this issue?

[2021-09-01 17:20] marcaaron commented on #4357
I think in this case we should have re-added the `External` label and not `Engineering` so that a contributor management engineering team member gets assigned. But looks like it's not working.

[2021-09-01 17:21] AndrewGable commented on #3855
@parasharrajat - Can we confirm @anthony-hull's question? If it does work, we can move forward with your proposal

[2021-09-01 17:22] MTN718 commented on #4629
@roryabraham In android, copy paste image support for some android OS i think.

![image](https://user-images.githubusercontent.com/12084368/131715673-eb0880fa-644a-4dbc-8a14-e48a5b7f632f.png)

[2021-09-01 17:27] roryabraham commented on #4629
Interesting, how up-to-date is that StackOverflow? cc @Julesssss Do you know anything about Android copy/paste capabilities?

[2021-09-01 17:32] botify commented on #4731
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-01 17:32] AndrewGable commented on #4743
@anthony-hull - Can you confirm this bug still exists? Thanks

[2021-09-01 17:33] mallenexpensify commented on #4723
I think the issue might be something different, related to the logic of when we do/don't show the line.
I followed these steps

- Open any user chat window.
- Scroll up through the history
- When a new message arrives, a new messages badge is shown.
- Click the badge will scroll down, but there is no new marker indication above the new message received

There were times when the marker would and w

[2021-09-01 17:33] puneetlath commented on #4834
Hi @ammar-yasir. For this issue, we've already hired @Santhosh-Sellavel. However, you can find other issues that are still looking for proposals here: https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3A%22Help+Wanted%22

[2021-09-01 17:35] Santhosh-Sellavel commented on #4723
Not related to this issue @mallenexpensify. It was discussed alongside the `New Messages Marker badge`. I

[2021-09-01 17:36] MTN718 commented on #4629
@roryabraham one thing more, when request fetch of image data from website (local testing), it shows cors policy error because i'm testing local and fetch from expensify.com. It will be not problem when testing on your side correct?

[2021-09-01 17:38] marcaaron commented on #4129
@Viacheslav80 Thanks for the proposal! I'm not really sure what you're calling out here or what this has to do with `onContentSizeChange`. Can you try to explain this some more? Also, it looks in your example we are setting the comment to state. Are you using a controlled component here? It's been discussed already that we do not want to do this for performance reasons.

[2021-09-01 17:38] roryabraham commented on #2985
I am going to work on this for a while today, and I'll post a comprehensive update with my progress.

[2021-09-01 17:40] MTN718 commented on #4629
and still not hired yet on upwork

[2021-09-01 17:45] parasharrajat commented on #3855
For me it works. I added the video. It is showing that lastpass. @anthony-hull could you please confirm that you were asking the same.

[2021-09-01 18:00] yuwenmemon commented on #4645
This looks like an issue worth solving, adding the `External` label for Triage.

[2021-09-01 18:00] mallenexpensify commented on #4601
Paid @akshayasalvi in Upwork, included the $250 bonus for reporting this issue.
Paid ahead of 9/8 because issue was created before we standardized on paying 7 days after production. closing because code has been deployed to production.

[2021-09-01 18:00] #4601 closed

[2021-09-01 18:12] Luke9389 commented on #4900
Hey @parasharrajat and @kavimuru, we're going to develop an internal process to deal with these errors, but we haven't really decided on a clear method for that yet, so for now I'm going to close this issue. You'll see several issues about this get posted when we're ready to tackle it.

[2021-09-01 18:12] #4900 closed

[2021-09-01 18:18] #4836 closed

[2021-09-01 18:19] botify commented on #4836
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-01 18:28] roryabraham commented on #4629
While I don't think this will be a problem on our side, can you please provide a screenshot of the console errors your seeing so we can see about eliminating this issue for outside contributors in the future. Are you using the web proxy provided in the repo? (i.e: can you sign into an Expensify account while testing on your local branch?)

Bump @puneetlath

[2021-09-01 18:29] roryabraham commented on #4629
Oh yeah, and we've forked react-native-clipboard: https://github.com/Expensify/Clipboard

[2021-09-01 18:30] MTN718 commented on #4629
![image](https://user-images.githubusercontent.com/12084368/131724614-3c9da7fa-69e3-42ee-879d-b82155238c75.png)

This is console error when fetch image data

[2021-09-01 18:34] roryabraham commented on #4629
Thanks. Oh, and please try to do most of your testing with a test account instead of Concierge. I believe test messages sent to Concierge may clutter our customer support channels.

[2021-09-01 18:38] MTN718 commented on #4629
Now need to add new branch on your forked react native clipboard library?

[2021-09-01 18:40] Santhosh-Sellavel commented on #4723
Sorry, @mallenexpensify I looked at the attachment you added. It's weird when I raised this issue it was not working. We had a discussion for a couple of days raised two issues.
1. #4718 - Which we closed as a lesser priority.
2. And this one.

If it was not working for me even now.

https://user-images.githubusercontent.com/85645967/131725773-fce78938-3fd2-400a-b864-8da45cb7a39f.mp4

[2021-09-01 18:45] Santhosh-Sellavel commented on #4834
@puneetlath
https://github.com/Expensify/App/pull/4991 PR is ready for review!

[2021-09-01 18:46] roryabraham commented on #4629
You should be able to create a pull request from your forked react native clipboard library to ours

[2021-09-01 18:47] marcaaron commented on #4723
Sorry, I'm confused about the state of this issue. I would suggest we present this issue in `#expensify-open-source` and discuss it there. It doesn't look like it's went through the proper triage.

[2021-09-01 18:47] #4723 closed

[2021-09-01 18:51] MTN718 commented on #4629
https://github.com/Expensify/clipboard/pull/1
Created PR

[2021-09-01 18:54] roryabraham commented on #4629
Okay, I'll review as soon as I can.

[2021-09-01 19:05] kavimuru commented on #4853
@NicMendonca Tester is able to reproduce 1 out of 10 times in the latest build (1.0.91.0)
Video and logs are attached.

https://user-images.githubusercontent.com/43996225/131729153-c6a1e395-429c-4de0-89b7-8bfe666d81eb.mp4

[bugreport-channel-QPYS30.52-22-5-2021-09-01-15-56-24.zip](https://github.com/Expensify/App/files/7093699/bugreport-channel-QPYS30.52-22-5-2021-09-01-15-56-24.zip)

[2021-09-01 19:08] NikkiWines commented on #4559
Yeah, I was thinking adding an additional section to the existing emoji list would make sense. We could store the user's most recently used emojis in Onyx and populate them as necessary.

One question @mananjadhav, is your proposal for recently used or frequently used functionality - you mention both in your original proposal, but also mention they'd require slightly different implementations.

[2021-09-01 19:13] Jag96 commented on #2499
Had another look at this and it's the same issue as https://github.com/Expensify/App/issues/2499#issuecomment-827228825, the same problem exists for the invisible view where `numberActiveTouches` is only set to 2 if both fingers hit the view at the same exact time, which isn't realistic.

The next steps here would be to look into a couple of libraries to see if there's any other way to get this wo

[2021-09-01 19:17] deetergp commented on #2734
There's some discussion going on in the draft PR, but this is continuing to move forward.

[2021-09-01 19:18] thienlnam commented on #4853
@NicMendonca We should still just make this an external issue and then just have a contributor investigate

[2021-09-01 19:23] NicMendonca commented on #4853
Upwork job posting [here](https://www.upwork.com/jobs/~014bf9b68f2d25b575).

[2021-09-01 19:54] marcaaron commented on #4505
Sorry for the late response here @JmillsExpensify. Not really sure how deeply I can investigate this particular feature request due to competing priorities. To be honest, I disagree with the premise and don't feel it's valuable to spend time on.

What specifically is not working about this?

This could work, but we're making assumptions about what the user intends to do based on how fast they are

[2021-09-01 19:56] roryabraham commented on #4897
@dylanexpensify Heads up that you forgot to add the `Exported` label here which means that there's no CME assigned to this issue.

[2021-09-01 19:58] roryabraham commented on #3047
Cool, actually Applause completed the exploratory testing we requested and exported these follow-up issues:

- https://github.com/Expensify/App/issues/4897
- https://github.com/Expensify/App/issues/4898
- https://github.com/Expensify/App/issues/4899

Since those are all being processed by our engineering pipeline independently, I think we can close this out.

[2021-09-01 20:06] kavimuru opened #4993 "[HOLD for payment 2021-11-04] Chat - No results found message displayed even when results are found"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account.
3. Tap + green fab and select "New chat" option
4. On the search box, search

[2021-09-01 20:06] OSBotify commented on #4993
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-01 20:18] kavimuru opened #4994 "[HOLD for payment 2021-11-04] mWeb - Create group - Keypad remains open when selecting a user and scrolling through the list is not comfortable"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com

2. Log in with any account
3. Click on Green button and select New Group
4. Start adding users for the n

[2021-09-01 20:26] roryabraham commented on #4993
@jasperhuangg is going to be schoolin' pretty soon here, so I'm going to grab this deploy blocker from him.

[2021-09-01 20:31] roryabraham commented on #4897
Interesting ... I think @pROFESOR11's proposal looks reasonable – if there are specific styles being applied to the parent element that conflict with the default styles of the link, we should give preference to the parent style.

LGTM, so @dylanexpensify let's hire @pROFESOR11 on Upwork. @pROFESOR11 please feel free to submit a pull request for this once you've been hired on Upwork.

[2021-09-01 20:34] Viacheslav80 commented on #4129
1. I don't think that by putting a comment into state you will make the controlled component, to make the component controlled, we need to render the value from the state (. put it in the value prop of TextInput - for example )
2. we can not put it in the state but use  `this.comment`
the key to understand - when the component was cleared. Why this is important is because most likely the clear() m

[2021-09-01 20:37] parasharrajat commented on #4505
Yeah, I agree with the point that there is always going to be some opinions "Why is the keyboard still closing when I swipe down?".

I didn't find any way that tells us when the user is scrolling the content in TextInput.

If the current behaviour seems Ok then I think we are good to close this issue.

[2021-09-01 20:37] #4955 closed

[2021-09-01 20:38] botify commented on #4955
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-01 20:40] mananjadhav commented on #4559
Well, if I wasn't sure what would be more relevant for Expensify. If you look like Apple it uses both the functionalities. If you add an emoji, it gets added to the frequently used emojis. If you keep adding the same emoji, the sort order is defined by frequently added.

Now frequently used I've added a suggestion here,

If I were to implement this in the code with and without recent addition:

[c

[2021-09-01 20:42] roryabraham commented on #4993
I'm unable to reproduce on staging.

[2021-09-01 20:44] AndrewGable commented on #3737
Going to assign to @Julesssss as he is more up to date with the internal PR than I am

[2021-09-01 20:45] roryabraham commented on #4993
@kavimuru Can you please refresh and/or retest, because the reproduction steps are not working for me.

[2021-09-01 20:48] michaelhaxhiu commented on #4911
@mallenexpensify I have searched titles with various naming conventions, but can't find another GH that looks like this one. Before I push this through, I'd **love** a buddy check from you 🙏 . Have you come across this before? I feel like I've seen it once before but can't tell if I'm crazy or not.

[2021-09-01 21:03] AndrewGable commented on #4853
Probably just have to update a library to fix this one I would imagine, since QA can verify the fix pretty easily the proposal should be pretty straightforward.

[2021-09-01 21:05] parasharrajat commented on #4993
@roryabraham I can reproduce this on master.
![df](https://user-images.githubusercontent.com/24370807/131744959-62af4429-94ad-4166-9e20-155b78ce899e.png)

[2021-09-01 21:05] sketchydroide commented on #4911
This happened when I added a url to my 10ams

[2021-09-01 21:10] roryabraham commented on #4993
Hmmm @parasharrajat well out of the newly deployed PRs on the checklist, [this one](https://github.com/Expensify/App/pull/4803) seems like the most likely candidate to have caused a regression here, because it's the only one that altered related code such as `OptionListUtils`.

[2021-09-01 21:16] roryabraham commented on #4993
Maybe it's another beta issue

[2021-09-01 21:17] parasharrajat commented on #4994
I also found it kind of frustrating that the scrolling area is pretty less when the keyboard is open.

### Proposal
1. As we would like to select a participant from the list when the user taps on the list. We have used
`keyboardShouldPersistTaps="always"` https://github.com/Expensify/App/blob/8c60189870b91ebaa80e100fa4c89d5f6d778c61/src/components/OptionsList.js#L237.
2. So I think the best would

[2021-09-01 21:18] isagoico commented on #4993
I'm also unable to reproduce on my side. Asking the same tester who reported this if he can still repro.

[2021-09-01 21:18] parasharrajat commented on #4993
I will check it Rory. Thanks for pointing it out.

[2021-09-01 21:19] roryabraham commented on #4993
Also, it might be useful to know if it's only reproducible only for the `New Group` page or also for `Search` and/or `New Chat`

[2021-09-01 21:24] isagoico commented on #4993
Figured it out (I think). You have to search for one of the users that are currently included in the recents list. @roryabraham Let me know if that works for you and I'll add it to the Action performed.

![image](https://user-images.githubusercontent.com/44479856/131747208-f2bca67e-73e9-4c9c-9397-bd3b934e12f4.png)

[2021-09-01 21:28] isagoico commented on #4993
Issue is also reproducible in production. Removing the blocker label.
![image](https://user-images.githubusercontent.com/44479856/131747738-c01db89a-d374-428b-af8c-f1c067c0843f.png)

[2021-09-01 21:34] roryabraham commented on #4993
Since this is no longer a time-sensitive deploy blocker, I'm going to give it back to @jasperhuangg

[2021-09-01 21:35] roryabraham commented on #4993
Actually, I'm not sure if he's a member of the CME team, so I'm going to do something else.

[2021-09-01 21:37] parasharrajat commented on #4993
@roryabraham This is not a regression from my PR. this issue exists before that PR was merged. I believe this change was not implemented correctly.

[2021-09-01 22:04] marcaaron commented on #4959
Hey @Julesssss I re-tested your branch and looks good with the changes. No password field appears and able to advance further without one.

https://user-images.githubusercontent.com/32969087/131751361-927681ec-9b2b-4186-b7de-af2b44be3d58.mp4

[2021-09-01 22:21] stitesExpensify commented on #4547
Haven't worked on this due to internal priorities. Making this a monthly until I get back around to the internal emoji doc.

[2021-09-01 22:30] parasharrajat commented on #4993
Sure, I will refactor it.

[2021-09-01 22:32] marcaaron commented on #4993
I was actually wondering if it's the case that we should be seeing both "Recents" and "Chats" in this view. I recall that when it was designed we only wanted personal details.

Looks like this changed [here](https://github.com/Expensify/App/pull/2818) - but we didn't update this part of the code.

Might be something to keep in mind when deciding how to approach a refactor.

[2021-09-01 22:37] isagoico opened #4995 "[HOLD for payment 2021-12-06] Change Password - Error message not displayed in red for incorrect new password"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Navigate to settings by clicking on the user avatar over LHN
3. Click on change password
4. Enter correct old passwor

[2021-09-01 22:47] isagoico opened #4997 "Message "PDF is loading..." isn't displayed when PDF is loading in Preview"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Select any conversation
4. Attached a PDF and sent it
5. After PDF is loaded click on it

## Expecte

[2021-09-01 23:04] isagoico opened #4998 "[HOLD for payment on 10th Sept] Allow users to reject transactions for $0, balanced reports"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. As user A request 100$ to user B
2. As user B request 100$ to user A

## Expected Result:
There should be an option to decline or cancel up the I

[2021-09-01 23:10] isagoico opened #4999 "Log in - Language picker selection should be remembered after you log in or sign up"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to staging.new.expensify.com
2. In the language picker select spanish
3. Log in or sign up

## Expected Result:
Language selection shoul

[2021-09-01 23:24] adelekennedy commented on #4906
Created a job in Upwork!
[**Internal Link**](https://www.upwork.com/ab/applicants/1433208712398585856/job-details)
[**External Link**](https://www.upwork.com/jobs/~01858d38e3f763853b)

[2021-09-01 23:27] JmillsExpensify commented on #4857
Ran into this one in testing internally.

[2021-09-01 23:40] isagoico commented on #4976
**Regression** is finished!
Issues found:
1. https://github.com/Expensify/App/issues/4995
2. https://github.com/Expensify/App/issues/4997
3. https://github.com/Expensify/App/issues/4994
4. https://github.com/Expensify/App/issues/4993

**PRs** are finished.
No comments added 🎉

Thanks!

[2021-09-01 23:45] roryabraham commented on #4976
Since there are no deploy blockers, it seems like we are good to run a prod deploy 🚀

[2021-09-01 23:46] #4976 closed

[2021-09-01 23:50] OSBotify opened #5004 "Deploy Checklist: New Expensify 2021-09-01"
**Release Version:** `1.0.92-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/3877
- [x] https://github.com/Expensify/App/pull/4019
- [x] https://github.com/Expensify/App/pull/4117
- [x] https://github.com/Expensify/App/pull/4131
- [x] https://github

[2021-09-02 00:05] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1192222770) to production by @roryabraham in version: 1.0.91-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-02 00:06] botify commented on #4916
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1192222770) to production by @roryabraham in version: 1.0.91-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-02 00:06] botify commented on #4958
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1192222770) to production by @roryabraham in version: 1.0.91-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-02 00:06] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1192222770) to production by @roryabraham in version: 1.0.91-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-02 00:06] botify commented on #2748
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1192222770) to production by @roryabraham in version: 1.0.91-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-02 00:06] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1192222770) to production by @roryabraham in version: 1.0.91-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-02 00:06] botify commented on #4738
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1192222770) to production by @roryabraham in version: 1.0.91-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-02 00:06] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1192222770) to production by @roryabraham in version: 1.0.91-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-02 00:06] botify commented on #4866
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1192222770) to production by @roryabraham in version: 1.0.91-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-02 00:07] roryabraham commented on #4978
Reopening, we saw the same failure today: https://github.com/Expensify/App/runs/3490379202

[2021-09-02 00:19] isagoico opened #5005 "[HOLD for payment 2021-11-04] LHN - Bottom of the conversation list is cut off"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app
2. Scroll to the bottom of the LHN

## Expected Result:
Conversation list should be rendered all the way to the bottom

## Actual Re

[2021-09-02 00:37] MitchExpensify commented on #4816
Hired!

[2021-09-02 00:45] marcaaron commented on #4857
Not able to repro this on dev at least but I’ll try to see how it can happen.

@kevinksullivan just out of curiosity is there anyway you can log out and log back in and very that this chat still has the three auto-messages?

[2021-09-02 00:51] jliexpensify commented on #4972
Hi @Luke9389 / @roryabraham / @shawnborton - just a little confused as to what's happening!

My understanding is that Rajat has already submitted a PR that will resolved this issue.

Am I paying Rajat as he's fixing it?

[2021-09-02 01:02] botify commented on #4836
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1192225658) to staging by @Julesssss in version: 1.0.91-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-02 01:02] botify commented on #4731
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1192225658) to staging by @marcaaron in version: 1.0.91-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-02 01:02] botify commented on #4675
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1192225658) to staging by @cead22 in version: 1.0.91-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-02 01:04] jliexpensify commented on #4357
@marcaaron and @robertjchen - apologies, that was my mistake, I added the Engineering tag. I can post this issue in the channel to see if someone might be willing to take over from Tim?

[2021-09-02 01:09] marcaaron commented on #4857
If this is getting created in the server I have a feeling it's a race condition + multiple requests to get or create the Concierge chat report and then triggering the welcome message right after so something like

1. Try to get or create chat report - created
1. Try to get or create chat report - not created but returned
2. ''
3. Get the report and try to do auto message - allows it because the re

[2021-09-02 01:12] MitchExpensify commented on #4993
[Upwork job](https://www.upwork.com/jobs/~01c6ebecb547bde13f)

[2021-09-02 01:15] kavimuru opened #5008 "[HOLD for payment 2021-11-04] Chat - Chronos message is cut off at the edge and not fully visible"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log in with expensifail account
3. On Search box - find Chronos
4. Text - Top

## Expected Result:
Chronos messages are fully vi

[2021-09-02 01:28] kavimuru opened #5011 "Chat - Messages and replies appear above "Top all" message in Chronos chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log in with expensifail account
3. Search for Chronos
4. Send message top all
5. Then enter any message

## Expected Result:
Ent

[2021-09-02 01:40] kadiealexander commented on #4870
@akshayasalvi I apologise, I misunderstood @parasharrajat's comment earlier and thought this job doesn't require compensation. I've created the Upwork job here https://www.upwork.com/jobs/~015eb32b62c94f673a please apply so I can hire you and get you paid for this. Thanks!

[2021-09-02 01:44] botify commented on #4785
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1192328137) to staging by @marcaaron in version: 1.0.91-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-02 02:38] botify commented on #4836
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1192442936) to staging by @luacmartins in version: 1.0.91-3 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-02 02:43] roryabraham commented on #4972
Okay, I'd actually say that this is a duplicate of https://github.com/Expensify/App/issues/4513, specifically this line-item from the expected result:

Given that:

- [this other PR](https://github.com/Expensify/App/pull/4810) was already supposed to fix the small picker styles
- This is essentially a minor regression caused by https://github.com/Expensify/App/pull/4810
- Rajat has already been hi

[2021-09-02 02:46] roryabraham commented on #5011
I think this might need to be internal, and is likely a recent regression caused by some changes in Chronos. cc @deetergp in case you have an idea why this might be happening. I am re-prioritizing this as a weekly.

[2021-09-02 05:04] Luke9389 commented on #3798
Just leaving a quick comment here to shake the Overdue label off of this issue. No internal progress on this just yet.

[2021-09-02 05:24] jliexpensify commented on #4716
Paying Rajat now and closing, cheers!

[2021-09-02 05:26] #4716 closed

[2021-09-02 05:27] roryabraham commented on #4379
I had to revert the PR to fix this, so I'm reopening it.

[2021-09-02 08:14] dylanexpensify commented on #4163
Sounds good!

[2021-09-02 08:30] Santhosh-Sellavel commented on #4448
@dylanexpensify
We can close this out,  as per comment https://github.com/Expensify/App/pull/4461#issuecomment-905735048

Kindly assign this to me, before closing out!

[2021-09-02 09:15] shawnborton commented on #4941
That works for me!

On Thu, Sep 2, 2021 at 11:13 AM Santhoshkumar Sellavel <
***@***.***> wrote:

[2021-09-02 09:33] Dal-Papa commented on #4997
Tagging @parasharrajat since he worked [on this](https://github.com/Expensify/App/pull/1521). I'm pretty sure the default text is `Loading PDF...` from [the documentation](https://www.npmjs.com/package/react-pdf#user-content-props) so if we don't see it in the Android platform it might be that they didn't implement it for mobile ? We never explicitly specify the text ourselves.

[2021-09-02 09:33] Julesssss commented on #4959
Perfect, thanks again for looking into this and for following up.

[2021-09-02 09:34] Julesssss commented on #4959
That reminder was for myself, but I see it wasn't that clear now, I hope you didn't feel like I was asking you to do that 😬

[2021-09-02 09:37] Julesssss commented on #3737
Ah, my bad I thought I was assigned too. I'll keep this one updated.

[2021-09-02 09:41] twisterdotcom commented on #3981
Seems like maybe @sophiepintoraetz can recreate it with Chronos? https://expensify.slack.com/archives/CC7NECV4L/p1630547590050700?thread_ts=1630536076.046400&cid=CC7NECV4L

[2021-09-02 09:44] Julesssss commented on #4759
Sorry, we missed the payment notification as this wasn't exported, my fault.

[2021-09-02 09:47] Julesssss commented on #4264
CC @mananjadhav in case you are interested

[2021-09-02 10:43] Julesssss commented on #4998
Hmm, why didn't `External` work? Maybe because one member of each team is assigned already?

Regardless, we can manage this one 🤷

[2021-09-02 10:44] Julesssss commented on #4998
@Santhosh-Sellavel would you like to raise your proposal?

[2021-09-02 10:52] Santhosh-Sellavel commented on #4998
## Proposal
Yes @Julesssss
Here we check total  !== 0, removing the check will enable options
https://github.com/Expensify/App/blob/fad2da591628f93c089d297ac901ce7dc23320fb/src/libs/actions/Report.js#L237

Removing this will enable options to Cancel or Decline requests.

Do we need any other additional handling here?

[2021-09-02 10:56] trjExpensify commented on #4998
Yep, that'll be it!

I'll create an Upwork job for this now.

[2021-09-02 11:23] Santhosh-Sellavel commented on #4998
@trjExpensify Applied for the job!

[2021-09-02 12:57] Gonals commented on #4994
I think. this is a good candidate for an external fix. Setting tags and unassigning myself!

[2021-09-02 13:20] Santhosh-Sellavel commented on #4998
I tried to fix it at the root, If we still want to use the logic somewhere else then as you said check should be refactored in the below line alone.
https://github.com/Expensify/App/blob/fad2da591628f93c089d297ac901ce7dc23320fb/src/pages/iou/IOUTransactions.js#L53-L55

[2021-09-02 13:23] Gonals opened #5015 "TEST2 - I'll delete it soon"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

##

[2021-09-02 13:23] OSBotify commented on #4985
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-02 13:24] OSBotify commented on #5015
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-02 13:42] saracouto commented on #4856
lower case works I think!

[2021-09-02 13:44] Santhosh-Sellavel commented on #4998
## Updated Proposal
From here we can pass the`iouReport.status `to prop of IOUTransactions.
https://github.com/Expensify/App/blob/fad2da591628f93c089d297ac901ce7dc23320fb/src/pages/iou/IOUDetailsModal.js#L238-L243

And here, check the condition whether its status is PROCESSING as you said
https://github.com/Expensify/App/blob/fad2da591628f93c089d297ac901ce7dc23320fb/src/pages/iou/IOUTransactions.j

[2021-09-02 13:49] MonilBhavsar commented on #4928
I'm unable to get in this state with our current app flow. I also checked occurrences, where we touch Onyx Session key, but couldn't find anything that would make accountID empty.
Also, to reproduce or achieve this state, I deleted accountID param and was able to break and make the app crash. Not sure how we missed accountID param

[2021-09-02 13:56] meetmangukiya commented on #4855
Will check this today

[2021-09-02 13:59] Julesssss commented on #3921
The PR was updated again today and is looking better. After testing I noticed a few remaining issues which are [shown here ](https://github.com/Expensify/App/pull/4070#pullrequestreview-745098282)in the PR.

[2021-09-02 14:12] Julesssss commented on #4998
Yeah, I think this is the best solution. But let's update the prop name to something like `isReportSetted`

[2021-09-02 14:13] Julesssss commented on #4998
@trjExpensify please hire @Santhosh-Sellavel on UpWork when the issue is created.

[2021-09-02 14:16] roryabraham commented on #4999
@MonilBhavsar Am I correct in understanding that your proposal is something like this?

1. From the login/signup page, update the `NVP_PREFERRED_LOCALE` in Onyx.
1. Once the user logs in, set the `NVP_PREFERRED_LOCALE` in the API to match their choice made in Onyx, instead of reading the NVP from Onyx and overwriting the choice made in Onyx.

Because I think that might work (and could even be exte

[2021-09-02 14:27] MonilBhavsar commented on #4999
We already do that [here](https://github.com/Expensify/App/blob/fad2da591628f93c089d297ac901ce7dc23320fb/src/components/LocalePicker.js#L45-L47), Also we have a call to update the NVP in `setLocale()`, but we can't do since we don't have a token.

Yes exactly, I think we can do that in Authscreen and replace the current statement that overwrites with Onyx data

So, we don't set the NVP if we they

[2021-09-02 14:30] roryabraham commented on #4999
Yep, that sounds correct!

[2021-09-02 14:41] trjExpensify commented on #4998
Done! 👍

[2021-09-02 14:46] PrashantMangukiya commented on #5005
I just tested in v1.0.91-3 on iOS simulator. Bottom margin there and I can scroll up to end properly. Not tested yet in real device so not sure about it.  Debug purpose I also set light green color, so we can see bottom margin clearly.

Wandering that someone had already fixed it in recent version? or This problem shows on real device only?

Attached is the iOS simulator screenshot.
![Simulator Sc

[2021-09-02 14:49] michaelhaxhiu commented on #4911
@sketchydroide sorry for the confusion, I agree this is a real problem (I reproduced it myself 😄) but was trying to make sure it wasn't a duplicate. We are all set, thanks Matt!

[2021-09-02 14:51] Santhosh-Sellavel commented on #4998
Any other changes other than above changes for this issue?
@Julesssss

[2021-09-02 14:52] isagoico commented on #5004
Checking off these PRs that were incorrectly added to the checklist:

1.  Expensify/App#4019
2.  Expensify/App#4117
3.  Expensify/App#4131
4.  Expensify/App#4143
5.  Expensify/App#4239
6.  Expensify/App#4243
7.  Expensify/App#4286
8.  Expensify/App#4300
9.  Expensify/App#4322
10.  Expensify/App#4336
11.  Expensify/App#4339
12.  Expensify/App#4358
13.  Expensify/App#4366
14.  Expensify/App#4397
15.

[2021-09-02 14:52] Julesssss commented on #4998
Nope, I think that's everything, please go ahead and make a start. Let us know if you have any questions!

[2021-09-02 14:58] flodnv commented on #5005
Sorry about that @PrashantMangukiya I jumped the gun too quickly. I was testing on my physical Android device and got sidetracked. Indeed, I do not experience this bug (Pixel 3). I am also on `1.0.91-0`... @isagoico which device did you test on?

[2021-09-02 15:04] mountiny commented on #4888
The option 1. seems good to me, definitely the easier and more straightforward option to achieve. I will leave this to @tgolen to decide if the proposal is sufficient as he is on the CME team 🙌 or let me know if I should take over, I am looking into joining CME.

[2021-09-02 15:07] Santhosh-Sellavel commented on #4998
Are we good with this? @Julesssss

[2021-09-02 15:11] Julesssss commented on #4998
We should not show the settle-up button for this scenario. There is nothing to settle while the total is 0, so the button should not be seen for either user.

I'm a bit surprised that you saw this tbh, did the change that we suggested above cause this?

[2021-09-02 15:13] tgolen commented on #4888
I agree with @mountiny but I have some concerns about the option 1 proposal. It's not a complete proposal and it needs to be more detailed since it's just giving a broad overview of the approach

I think this could be dangerous and we need to have a larger discussion and consensus about this change in behavior.

[2021-09-02 15:13] isagoico commented on #5005
I'm also not able to reproduce this on my Android device but @parasharrajat mentioned in the thread he is able to reproduce in his. @parasharrajat Can you please share your device information?

[2021-09-02 15:16] Santhosh-Sellavel commented on #4998
@Julesssss
Oops sorry, my bad all good now! It's because of the old changes. Will Raise a PR Soon! Thanks!

[2021-09-02 15:17] dylanexpensify commented on #4897
On it now to send the offer @roryabraham (cc @pROFESOR11)!

[2021-09-02 15:19] dylanexpensify commented on #4897
Offer: _sent!_

[2021-09-02 15:24] mananjadhav commented on #4888
Okay, I'll send in a detailed approach later today.

I agree.  Hence I highlighted this part.

[2021-09-02 15:27] akshayasalvi commented on #4870
@kadiealexander I am not sure if this requires payment. When I implemented my PR, I guess Tooltip work wasn't done. I covered it because I thought I'll complete the work.  Nevertheless, I've applied to the Upwork, I let you and the team decide on the payment part.

[2021-09-02 15:37] Santhosh-Sellavel commented on #4998
[code]
Can you tell me what does each state means because since were going to check only `PROCESSING`.
When to return an empty array []

[2021-09-02 15:42] AndrewGable commented on #3981
I can too, it only happens with Chronos.

[2021-09-02 15:48] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-02 15:48] botify commented on #4856
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-02 15:48] puneetlath commented on #4856
PR [merged](https://github.com/Expensify/App/pull/4945). Will be paid 7 days after production deploy if no regressions. Thanks @thesahindia!

[2021-09-02 15:51] sakul-budhathoki commented on #4129
Hi @marcaaron . To solve this issue, we have to clear input value first when user click send button, after that the send functionality should trigger.

Here is video of clearing input I have disabled send functionality in this demo. I am working on fixing this issue, there is some delay on clearing text input with send functionality.

https://user-images.githubusercontent.com/13379067/131875889-d0

[2021-09-02 15:57] Julesssss commented on #4998
Sure. The names sound a bit odd as they are reused from expense report states.
[code]

[2021-09-02 15:58] mananjadhav commented on #4906
@Santhosh-Sellavel one of my related PR, https://github.com/Expensify/App/pull/4821 will soon get merged. Something that you'd want to consider in your proposal for automated accounts. It has a list of all automated accounts, which we would like to update periodically. Hope it helps.

[2021-09-02 16:01] Santhosh-Sellavel commented on #4906
@mananjadhav Yes mate, I'm aware of that thanks for the heads up!

[2021-09-02 16:02] mananjadhav commented on #4264
@Julesssss I can pick this starting weekend. Is there a provision to discuss the budget for this task? I feel the effort required might be more than the quote. Let me know if we are open to this.

[2021-09-02 16:05] Santhosh-Sellavel commented on #4998
So it's best to check if `stateNum`  === `SUBMITTED` set the rename the prop `isIOUSettled`. If `isIOUSettled` let's return an empty array what do you think?

[2021-09-02 16:06] #4959 closed

[2021-09-02 16:07] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-02 16:07] botify commented on #4959
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-02 16:07] Julesssss commented on #4998
Sounds good 👍

[2021-09-02 16:38] isagoico opened #5018 "Attachments - .Doc file is converted to PDF"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Click on add attachment
3. Select a .doc file
4. Click on the attachment in the conversation.

## Expected Result:

[2021-09-02 16:46] Julesssss commented on #4264
That sounds good. Yep, I totally agree this should be valued a bit higher than the average issue and would suggest that we set the price to $1000. I think the library is proven, but I would suggest taking a look at [this PR ](https://github.com/Expensify/App/pull/3877)to work out how to access Onyx in the background.

It also has steps for building a release version of the app that will let you ki

[2021-09-02 16:51] aldo-expensify commented on #4785
Should this be reopen? The part about showing multiple errors at the same time has not been implemented yet.

[2021-09-02 16:52] marcaaron commented on #4785
Yep let's reopen it until we are done!

[2021-09-02 17:02] aldo-expensify commented on #4785
That sounds good!, is the `BankAccount` step the "Company" step? or all steps related to adding a new bank account?

[2021-09-02 17:04] marcaaron commented on #4785
Not Company step. It's the very first step + manual entry screen and Plaid screen.

[2021-09-02 17:04] marcaaron commented on #4785
There might not be much to do there but let's see.

[2021-09-02 17:14] isagoico opened #5021 "Show New message indicator when user is scrolled up and after using the unread message badge"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation as User A
2. Scroll up the conversation
3. As user B (from another device) send some messages to user A
4. Badge for u

[2021-09-02 17:35] AndrewGable commented on #4978
Ok so this time the code did actually run, but it just didn't work. Progress!

[2021-09-02 17:38] Santhosh-Sellavel commented on #4398
Considering the amount of time I spent on this issue, Requesting a reevaluation on compensation. Thanks!
@stitesExpensify @michaelhaxhiu

[2021-09-02 17:41] stitesExpensify commented on #4324
Hi @mananjadhav As part of our internal process, for big projects like this we need to send out changes in a design doc format for internal engineering review. I'm going to be hopefully sending that out soon, but in the mean time i'm demoting this to monthly

[2021-09-02 17:43] mananjadhav commented on #4995
I had worked on the confirm password error message on this page. I would propose a very small fix here,

We should retain the prompt and only change the color of the message when the password doesn't match the requirement. So basically remove `this.state.isPasswordRequirementsVisible` and change the block to the following:

[code]

[2021-09-02 17:45] AndrewGable commented on #4978
It looks like the version was actually set correctly from what I was expecting it to be set

<img width="673" alt="Screen Shot 2021-09-02 at 11 44 41 AM" src="https://user-images.githubusercontent.com/2838819/131891915-da61a160-770c-4f8b-bc45-efd4d88526a6.png">

But maybe fastlane is expecting something different than that format. Looking into it!

[2021-09-02 17:45] mananjadhav commented on #4324
Thanks for the update @stitesExpensify. Then I think we should also put https://github.com/Expensify/App/issues/4888 on hold as well. Let me know what you think?

[2021-09-02 17:47] mananjadhav commented on #4264
That sounds good.

That sounds good.

Oh, that's great. Thanks for this. I was going through the link and I don't have access to the StackOverflow link mentioned in the PR.

[2021-09-02 17:56] parasharrajat commented on #5005
@isagoico I don't see this issue on my Android device anymore.

[2021-09-02 17:57] kevinksullivan commented on #4616
All set.

[2021-09-02 17:59] luacmartins commented on #4892
@kevinksullivan Looking at this issue, is the idea to change the button text to `Finish Setup` as soon as a user completes the `Add bank account` step, i.e. the step before `Company information`?

I do think that's a better UI experience, but right now we are only saving the account details in the backend after the user completes the `Company information` step, since we match the bank account owne

[2021-09-02 18:02] alex-mechler commented on #5021
Looks like a good one to go external! Thanks for the video @Santhosh-Sellavel!

[2021-09-02 18:04] kevinksullivan commented on #4892
@luacmartins so (1) is how it works today, right? (2) doesn't sound ideal, but based on [this conversation](https://expensify.slack.com/archives/C020EPP9B9A/p1630538605430600), I wonder if we just think about a longer term solution where we:

1) Save progress for every step, and also save information before the user selects `Save and Continue` so that no progress is ever lost, even within a step
2

[2021-09-02 18:08] isagoico opened #5022 "No notification displayed when app is backgrounded or killed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue is failing PR https://github.com/Expensify/App/pull/3877

## Action Performed:
1. Sign into account A on the Android app. Sign into account B on the web app.
2. Se

[2021-09-02 18:09] OSBotify commented on #5022
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-02 18:13] kevinksullivan commented on #4857
Still have the three messages @marcaaron

![image](https://user-images.githubusercontent.com/22508290/131895462-77e8c242-34dd-46f0-9cf3-f7d4157f827c.png)

[2021-09-02 18:15] marcaaron commented on #4959
Ah nah yer good ! Just trying to do ya a solid.

[2021-09-02 18:20] marcaaron commented on #4857
Cool. So, I haven't been able to repro this + I'm not actually sure the best way to handle it. So gonna leave this unassigned, but hopefully there's enough context for someone to run with this.

[2021-09-02 18:24] marcaaron commented on #4857
What I'd probably try next is to simulate a reproduction by:

1. Creating a new account via NewDot + validating the account locally
2. Line up 3 `fetchAllReports` calls instead of just one here
https://github.com/Expensify/App/blob/a919ee8008071fb1f3964417047fc82a59d4fc74/src/libs/Navigation/AppNavigator/AuthScreens.js#L167
3. Sign in
4. Check to see how many messages were created.

[2021-09-02 18:25] yuwenmemon commented on #3844
@HorusGoul I double-checked the reportID mentioned in the [comment you linked](https://github.com/Expensify/Web-Expensify/pull/31585#issuecomment-891730129). I think there was a mistake grabbing which reportID because the comment mentions `78235338` but the actual reportID for the `#announce` room is `78235373`:
[code]

As for your question here:

We will create #announce/#admins rooms for anyone

[2021-09-02 18:25] stitesExpensify commented on #4888
We're putting [this](https://github.com/Expensify/App/issues/4324) on hold until a doc comes out for it. Should we also put this on pause since solution 1 is going to convert `:grimacing:` into emojis? Or should we just keep this open and for now paste the "colon code" version for now? Another option would be to just parse out the emoji completely and paste nothing for now.

[2021-09-02 18:28] marcaaron commented on #4129
@sakul-budhathoki Thanks for your proposal but it's missing some explanation about the problem and what the fix will be.

[2021-09-02 18:38] puneetlath commented on #4834
Merged! Will get paid 7 days after production deploy if no regressions.

[2021-09-02 18:44] Santhosh-Sellavel commented on #5021
## Proposal

Move the following lines to a new method `updateUnreadIndicatorPosition` & bind it in the constructor.
https://github.com/Expensify/App/blob/a919ee8008071fb1f3964417047fc82a59d4fc74/src/pages/home/report/ReportActionsView.js#L133-L140

The method will look like this with a param `unreadActionCount` slightly refactored to address this issue & existing workflow
![image](https://user-ima

[2021-09-02 18:52] Santhosh-Sellavel commented on #4357
@deetergp Can you answer these questions https://github.com/Expensify/App/issues/4357#issuecomment-907420704
And Review my draft PR #4887

Thanks!

[2021-09-02 18:55] AndrewGable commented on #4978
I can reproduce this locally with `1.0.92.0` as well. I am thinking the `build_number` needs to be something else 🤔

[2021-09-02 19:04] Santhosh-Sellavel commented on #4645
@yuwenmemon there is no assignees here

[2021-09-02 19:12] aldo-expensify commented on #4785
I guess we have to agree on how we want our front-end validation to work. In the company step we have validation that is applied when we click "Save & continue", like when we type a zip code with less than 6 numbers. In the BankAccount step (http://localhost:8080/bank-account/new), the "Save & continue" button is disabled until our frontend validations pass (length requirements on Account number a

[2021-09-02 19:19] jboniface commented on #5005
It sounds like this issue isn't validated to be happening any longer. I am removing External and unassigning myself. Please close the issue if you are confident the issue is no longer occurring, or re-add the External label if you become confident that it is occurring.

[2021-09-02 19:29] thienlnam commented on #4660
My bad, un-assigning for the meantime until you are applied and contracted for the job

[2021-09-02 19:29] marcaaron commented on #4785
Ah sorry, are you suggesting we do something differently? We already have front end validation for these fields here:

https://github.com/Expensify/App/blob/7de992ec17865daea639af5506c72ffc73781bec/src/pages/ReimbursementAccount/BankAccountStep.js#L71-L77

Nice catch, I think this is because we are using the `placeholder` prop and not `label`?

e.g. check out this usage here

https://github.com/Ex

[2021-09-02 19:32] marcaaron commented on #4785
I think we could break out into separate issues:

- The label of the field is lost after typing something
- Account number error does not drop you back into connect manually flow
- Account number error shows a modal with specific message + inline error

[2021-09-02 19:33] aldo-expensify commented on #4785
Not sure why, but after using the "Log into your bank", it takes me back to the same view:

https://user-images.githubusercontent.com/87341702/131904731-72cddfd6-de3a-41ee-8114-51dd21bd167d.mov

Are you having problems with this? I'm in the `main` branch, up to date, and I think I have other repos up to date too.

[2021-09-02 19:36] aldo-expensify commented on #4785
Actually I'm more of a fan of always allowing the user to click "Save & continue", even if there are empty fields, because then you can highlight and show exactly what are the problems.

If we follow the approach of disabling the "Save & continue" while the "form is not valid", it is not obvious which is the field that have problems.

That is fine then :)

[2021-09-02 19:38] marcaaron commented on #4785
Yes, actually. Hmm I may have broken this. Let me see 😅

This is probably better to bring up in the Slack channel - it's a question that requires design feedback and at this point in the technical implementation I'm unsure if we want to pivot.

[2021-09-02 19:40] luacmartins commented on #4892
Somewhat. We currently change to `Finish setup` when we reach the `Validate` step. This solution would make it change to `Finish setup` earlier in the flow, after completing the `Company information` step.

I like that idea! As long as this issue is not a blocker for N6, I can work on the implementation.

[2021-09-02 19:42] tgolen commented on #4850
OK, just catching up here. I think there are a number of things which could make this more simple and I really appreciate all the feedback! Let's pause on this for now while we have an internal discussion about the end goal here.

[2021-09-02 19:43] chiragsalian commented on #4816
Any update on this issue @parasharrajat?

[2021-09-02 19:44] aldo-expensify commented on #4785
I see, In my opinion, it is not a big change to switch to the approach of allowing the user to "Save & continue" and then trigger validations and I would think it could be a good time to consider this now that we are working on it.

[2021-09-02 19:44] parasharrajat commented on #4816
I will drop the PR soon.

[2021-09-02 19:44] sophiepintoraetz commented on #3981
Okay, going to see if I can catch it today. Sent my 10am to Chronos at 7:39am NZT (N.B. this is earlier than I would normally do my 10am - sometimes it's past 10am)
![image](https://user-images.githubusercontent.com/42940078/131906465-f7ccf2a4-cdf2-444f-959e-9f55d11480e1.png)

[2021-09-02 19:50] aldo-expensify commented on #4785
If we decided to kick what I was saying for later. What is the approach we are currently following? I'm guessing that it is "disable the submit button if there is anything invalid in the form". If this was the case, we wouldn't have highlighted errors in the company step anymore because these are being triggered on submit. To have highlighted errors + submit button disabled if there is any problem

[2021-09-02 19:52] sophiepintoraetz commented on #3981
Okay, this is weird, I've already received an email, indicating that I haven't read it - though I have
![image](https://user-images.githubusercontent.com/42940078/131907320-8b8e0a4d-03c9-462d-84c9-d90129e36e92.png)

[2021-09-02 19:53] sakluger commented on #4902
Thanks for reporting this! I made a small update to the expected behavior section for clarify, otherwise I think that this is a real problem that we should fix.

Sending along to engineering to review the proposal.

[2021-09-02 19:56] aldo-expensify commented on #4785
sorry about throwing all these questions now, but I don't have a clear idea of how the validations are supposed to work. This [PR](https://github.com/Expensify/App/pull/4842) which disable "Save & continue" button when there are some checkboxes missing made me doubt about the direction we are taking.

[2021-09-02 20:00] isagoico commented on #5005
@shawnborton are you still able to reproduce this issue in your iOS?

[2021-09-02 20:10] marcaaron commented on #4785
Good thoughts. I do think things like "validate on change" instead of "validate on submit" should be discussed by more than 2 people so I'd suggest moving the conversation to a more public channel.

Here's one idea for a temporary solution...

1. Only disallow submitting form with _missing required fields_
2. Validate in the front end on _submit_
3. Handle front end errors by showing which fields

[2021-09-02 20:12] aldo-expensify commented on #4785
Thanks, that clears it up.

[2021-09-02 20:23] jboniface commented on #4645
uw posting is here: [view this job](https://www.upwork.com/jobs/~017b555a3f74c68f99)

[2021-09-02 20:24] jboniface commented on #4645
@tgolen it looks like we have a proposal for review [here](https://github.com/Expensify/App/issues/4645#issuecomment-903146450)

[2021-09-02 20:29] AndrewGable commented on #4978
Issue 1: We were not including the `app_version` key. Now including `app_version: ENV["VERSION"]` in deliver will create a release.

<img width="1380" alt="Screen Shot 2021-09-02 at 2 29 07 PM" src="https://user-images.githubusercontent.com/2838819/131911759-a19e6e08-5c80-4530-9f38-b73632652ad0.png">

Issue 2: Now I am seeing a new error: `[14:23:59]: Build number: 1.0.92.0 does not exist`

[2021-09-02 20:30] kevinksullivan commented on #4857
Adding another scenario that just came up on a new account:

kevin@citybiking.us

![image](https://user-images.githubusercontent.com/22508290/131911935-14e2f784-26b7-4e97-8913-48ad805ac08b.png)

[2021-09-02 20:31] aldo-expensify opened #5026 "[HOLD for payment 2021-09-20] The label of the field is lost after typing something"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to /bank-account/
2. Click "Connect manually"
3. Type anything any of the two text inputs

## Expected Result:
The label should become s

[2021-09-02 20:39] nithyaasworld commented on #4129
Hi @marcaaron

I tested on the version available on the app store now. I am not able to reproduce the issue no matter how fast I try. I tested this on iPhone 11.

Can you please confirm if its seen in the version available in the app store? If yes, can you please share the device details it is tested on?

Here is my testing video:

https://user-images.githubusercontent.com/5114190/131912928-a460a4

[2021-09-02 20:45] kavimuru opened #5027 "mWeb - Refreshing the LHN page opens chat with recent user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the URL https://staging.new.expensify.com
2. Log in with any account.
3. Refresh the page
## Expected Result:
User should stay in LHN
## A

[2021-09-02 20:46] kakajann commented on #4660
I'll apply for a job and will raise a pr tonight

[2021-09-02 20:47] aldo-expensify opened #5028 "Routing number error does not drop you back into connect manually flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to /bank-account/
2. Click "Connect manually"
3. Input an invalid routing number, i.e. `12312312344`
4. Input any bank number, i.e. `12

[2021-09-02 20:53] MitchExpensify opened #5030 "[HOLD for payment 2021-09-17] Change error message copy when an age below 18 is entered in the Requestor Information DoB field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://new.expensify.com/bank-account/requestor
2. Enter a date of birth that makes the requestor under 18 years old e.g. 2015-01-01
3. Fi

[2021-09-02 21:00] aldo-expensify opened #5031 "Routing number error shows a modal with specific message + inline error"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to /bank-account/
2. Click "Connect manually"
3. Input an invalid routing number, i.e. `12312312344`
4. Input any bank number, i.e. `12

[2021-09-02 21:00] aldo-expensify commented on #4785
New GH issues:

* The label of the field is lost after typing something [GH issue](https://github.com/Expensify/App/issues/5026)
* Account number error does not drop you back into connect manually flow [GH issue](https://github.com/Expensify/App/issues/5028)
* Account number error shows a modal with specific message + inline error [GH issue](https://github.com/Expensify/App/issues/5031)

[2021-09-02 21:15] michaelhaxhiu commented on #2545
Still on hold.

[2021-09-02 21:17] michaelhaxhiu commented on #4678
As an update:
- @MirFahad58 has updated his PR and we are waiting on @shawnborton to review.
- I inquired with @roryabraham in New Expensify to see if he may be able to review it sooner.
- If not, let's wait on Shawn to review monday/tuesday of next week.

@MirFahad58 you had a few questions in Upwork Chat about payment earlier today, so I wanted to refer you to the [Payment for Contributors](http

[2021-09-02 21:18] trjExpensify commented on #4867
No applications yet.

[2021-09-02 21:22] trjExpensify commented on #4899
No takers on Upwork yet, Melv.

[2021-09-02 21:27] AndrewGable commented on #4978
Really confusing error.. The build number does exist, but Fastlane cannot find it. I'm trying to debug the fastlane response right now.

[2021-09-02 21:28] marcaaron commented on #4129
@nithyaasworld That is our existing mobile app not our new React Native app :)

[2021-09-02 21:29] sophiepintoraetz commented on #3981
I got it!! Pretty much two hours later
![image](https://user-images.githubusercontent.com/42940078/131918743-921dba69-f6ed-4d77-a07b-513d10a405ab.png)

[2021-09-02 21:54] MitchExpensify commented on #4892
Should we create a separate issue for "Saving field info as it is added vs only when Save & Continue is clicked" or is there enough overlap with the solution here to cover it in one issue?

[2021-09-02 21:55] kevinksullivan opened #5034 "Chats from another account are shown in my new account on NewDot"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log out of one account (kevin@expensify.com)
2. Sign up with a different email/phone number on the same device (kevin@citybiking.us)

## Expected

[2021-09-02 21:56] NikkiWines commented on #4559
That makes sense, thanks for explaining @mananjadhav - I'm not sure which we'd prefer either and will defer to @stitesExpensify for this one!

[2021-09-02 22:06] AndrewGable commented on #4978
Ok so.. This is weird.. When I set the `app_version` to `1.0.92.0` it fails. But when I set it to `1.0.92` it will work!

[2021-09-02 22:06] AndrewGable commented on #4978
Now trying to fix this new error..

[code]

[2021-09-02 22:09] luacmartins opened #5035 "Save VBA flow information as users type"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on `Get started` in `/workspace/<policyID>/card` in New Expensify.
2. Input information into the fields.
3. Close the right pane without cl

[2021-09-02 22:11] luacmartins commented on #4892
I created a separate issue for it [here](https://github.com/Expensify/App/issues/5035).

[2021-09-02 22:12] marcaaron commented on #4785
Adding some more context to this thread on the back end errors for the Bank Account step as I look through those...

### `BankAccountStep` server errors:

- 🟢  Fraudulent account error
    - https://github.com/Expensify/Web-Secure/blob/e76ac45ffe7dbb6d1bd9cc60953ce029f0398776/lib/BankAccountAPI.php#L76-L77
    - Looks pretty good to me as a modal: ![2021-09-02_09-15-06](https://user-images.githubu

[2021-09-02 22:17] AndrewGable commented on #4978
Ok cool finally got all the flags set correctly! Going to clean up the code and submit a PR

<img width="1049" alt="Screen Shot 2021-09-02 at 4 16 40 PM" src="https://user-images.githubusercontent.com/2838819/131923380-2778ea88-8721-4ead-9d99-8f3a63036100.png">
<img width="1398" alt="Screen Shot 2021-09-02 at 4 16 32 PM" src="https://user-images.githubusercontent.com/2838819/131923387-2d52a210-257

[2021-09-02 22:17] marcaaron commented on #5035
@luacmartins Would you mind summarizing the approach here before we start? I'm curious about what the plan will be.

[2021-09-02 22:26] mananjadhav commented on #4226
@mallenexpensify Any updates on this one?

[2021-09-02 22:36] NikkiWines commented on #4702
Gonna work on this today!

[2021-09-02 22:42] MitchExpensify commented on #4892
Nice one!

[2021-09-02 22:46] akshayasalvi commented on #5026
**Proposed Solution**

In the `BankAccountStep`, we should be updating props from `placeholder` to `label`.

[code]

![image](https://user-images.githubusercontent.com/57435789/131925542-2f36cb80-7993-4008-8dee-aff9e40f872a.png)

In addition to this, the current fields don't have any margin between them:
![image](https://user-images.githubusercontent.com/57435789/131925641-25924903-1764-465a-a670-

[2021-09-02 22:47] roryabraham commented on #5022
Hey @isagoico, I'm very confident that this issue will be addressed in [this issue](https://github.com/Expensify/Expensify/issues/174061). And the workaround here is to:

1. Sign into account A on the Android app. Sign into account B on the web app.
1. Send a message from account B to account A. It should arrive normally.
1. Send a reply from account A to account B. It should arrive normally.
1. A

[2021-09-02 22:51] sophiepintoraetz commented on #4941
Yep, thanks Santosh - was the one to suggest to change the tool tip only!

I've updated the OP to include the proposed solution, so to be clear here - Expensify determined a solution. I've also confirmed that this is happening on web only, as I don't believe we have hover texts on mobile? Correct me if I am wrong.

Otherwise, I think we're good to go here.

[2021-09-02 23:14] botify commented on #4785
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-02 23:26] kevinksullivan commented on #5034
Here is another example when I login to Expensifail. The first chat from Jason is on my expensify.com account.

![image](https://user-images.githubusercontent.com/22508290/131928421-e73380b8-15fe-44c3-a579-d9b93544118b.png)

[2021-09-02 23:39] chiragsalian commented on #4737
@akshayasalvi, nice i like that direction. Few suggestions:
1. I don't see the need for `hasValidationCodeError` boolean when we already have `this.props.account.validated` that we can reuse. This would clean up the logic of `validAccount` and not need `hasValidationCodeError`.
2. With the changes from above if we don't pass `hasValidationCodeError` we can instead pass a string `validationFailedMe

[2021-09-02 23:41] kavimuru opened #5040 "Sign up - "Link has been resent" message disappears in 5 seconds"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. In log in form enter  a new email or phone number to create a new user
3. Click Continue
4. Click Rese

[2021-09-02 23:43] akshayasalvi commented on #4737
Good points overall. I wasn't sure if we allow adding translation keys in Onyx. Agree with points 1, 2, 3, and 5.

Point 4, I feel without the title this page will look off compared to other pages. But let's try and see how it shows up. Sounds okay?

[2021-09-02 23:46] chiragsalian commented on #4737
Yup all those sounds good with me.
@kadiealexander, can you hire @akshayasalvi in upwork.
@akshayasalvi, feel free to go ahead and work on the PR.

[2021-09-03 00:13] #4978 closed

[2021-09-03 00:14] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-03 00:14] botify commented on #4978
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-03 00:16] roryabraham commented on #5004
Any update on the status of QA today?

[2021-09-03 00:22] deetergp commented on #4357
Hey @Santhosh-Sellavel

Does that take into account @parasharrajat's comment [here](https://github.com/Expensify/App/issues/4357#issuecomment-907548712)?

I had two very minor comments but overall your draft PR pretty good so far.

[2021-09-03 00:30] mateomorris commented on #4559
Besides the connection to Onyx, some work has to be done in [EmojiPickerMenu](https://github.com/Expensify/App/blob/main/src/pages/home/report/EmojiPickerMenu/index.js) so that a non-static list can be passed to it. Otherwise it'll break when trying to display it.

The full hard-coded list is in [emojis.js](https://github.com/Expensify/App/blob/main/assets/emojis.js) and includes spacer items whic

[2021-09-03 00:38] isagoico commented on #5004
Regression is finished! Currently testing #3877 and will send the summary message.

[2021-09-03 00:48] Christinadobrzyn commented on #5008
External job created in Upwork - https://www.upwork.com/jobs/~0135dabda6dbb82f78
Internal job created in Upwork - https://www.upwork.com/ab/applicants/1433592402430713856/job-details

Feel free to submit a proposal @kavimuru!

[2021-09-03 00:51] isagoico commented on #5004
Regression is finished!
Issues found:
1. https://github.com/Expensify/App/issues/5040
2. https://github.com/Expensify/App/issues/5027
3. https://github.com/Expensify/App/issues/5022

PRs are finished too!
No Comments added.

Thanks!

[2021-09-03 01:10] roryabraham commented on #5004
:shipit:

[2021-09-03 01:10] #5004 closed

[2021-09-03 01:11] mallenexpensify commented on #4226
Thanks for the ping @mananjadhav , I reviewed the comments and I'm not 100% sure exactly where we are (which might be might fault).  @NikkiWines can I get your 👀 please? We're ready to take this off hold and I'm unsure who should be hired for this? Is one of the proposed solutions _best_? If so, which?

[2021-09-03 01:13] OSBotify opened #5046 "Deploy Checklist: New Expensify 2021-09-03"
**Release Version:** `1.0.93-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/4019
- [x] https://github.com/Expensify/App/pull/4117
- [x] https://github.com/Expensify/App/pull/4131
- [x] https://github.com/Expensify/App/pull/4143
- [x] https://github

[2021-09-03 01:17] mallenexpensify commented on #4489
Waiting for this to hit production..

[2021-09-03 01:17] mananjadhav commented on #4226
Thanks @mallenexpensify. To give you a gist. We had two proposals and the other one was selected. But it turns out that with recent updates we haven't been able to agree on the approach. My proposal takes care of all the cases discussed, so I thought let me bump this issue and see if it resolves this bug.  Lets wait for @NikkiWines to help with this

[2021-09-03 01:17] kevinksullivan opened #5047 "Open global create when a user logs in for the first time"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

# Problem

when a user first logs in to NewDot, there is no clear guidance on how to set up a Workspace or enable the Expensify Card, it's just a chat from Concierge (di

[2021-09-03 01:17] mallenexpensify commented on #4434
Waiting for code to hit production

[2021-09-03 01:21] mallenexpensify commented on #4267
Paid @aman-atg in Upwork with the bonus for reporting the issue. Closing cuz the PR looks like it was deployed to production

[2021-09-03 01:21] #4267 closed

[2021-09-03 01:23] mallenexpensify commented on #3743
still on hold

[2021-09-03 01:23] mallenexpensify commented on #4491
Need to revisit where we're at tomorrow

[2021-09-03 01:29] botify commented on #4836
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1196332434) to production by @roryabraham in version: 1.0.92-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-03 01:29] botify commented on #4785
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1196332434) to production by @roryabraham in version: 1.0.92-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-03 01:29] botify commented on #4955
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1196332434) to production by @roryabraham in version: 1.0.92-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-03 01:29] botify commented on #4836
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1196332434) to production by @roryabraham in version: 1.0.92-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-03 01:30] botify commented on #4731
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1196332434) to production by @roryabraham in version: 1.0.92-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-03 01:30] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1196332434) to production by @roryabraham in version: 1.0.92-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-03 01:30] botify commented on #4675
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1196332434) to production by @roryabraham in version: 1.0.92-0 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-03 01:31] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1196336036) to staging by @roryabraham in version: 1.0.92-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-03 01:31] botify commented on #4978
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1196336036) to staging by @roryabraham in version: 1.0.92-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-03 01:31] botify commented on #4785
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1196336036) to staging by @marcaaron in version: 1.0.92-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-03 01:32] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1196336036) to staging by @luacmartins in version: 1.0.92-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-03 01:32] botify commented on #4959
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1196336036) to staging by @luacmartins in version: 1.0.92-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-03 01:32] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1196336036) to staging by @puneetlath in version: 1.0.92-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-03 01:32] botify commented on #4856
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1196336036) to staging by @puneetlath in version: 1.0.92-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-03 01:59] sophiepintoraetz commented on #5047
Lol, yes, I had thought this [ a lot of empty real estate] too when I did my one test of my N6 testing flow. Would we also use Concierge to prompt as well? Something like:
`"Click on the [whatever we're calling Global Create externally] to get started"`

[2021-09-03 01:59] roryabraham opened #5048 "iOS Distribution provisioning profile expired"
## Problem
All our iOS deploys will fail until we renew the provisioning profile. See [this failed deploy run](https://github.com/Expensify/App/runs/3501752721).

## Why it's important
All our iOS deploys will fail until we renew the provisioning profile.

## Solution
Renew the provisioning profile.

[2021-09-03 03:53] Santhosh-Sellavel commented on #4357
@deetergp

Yes partially that it should happen, I'm not clear about why because the view is hidden?

[2021-09-03 04:32] Santhosh-Sellavel commented on #5026
@akshayasalvi
Note: Space between routing number and account number is already handled in discussed in #4834 & Handled in PR #4991

[2021-09-03 04:34] kadiealexander commented on #4870
Thanks Akshaya!! I apologise for the confusion here. I've asked the team how we would usually deal with issues like this and will leave it up to the majority. Will let you know!

[2021-09-03 05:03] akshayasalvi commented on #4870
Thanks @kadiealexander. Appreciate your help

[2021-09-03 06:02] PrashantMangukiya commented on #5040
We have to increment timeout duration at line 79. At present is it 5000ms (5 Seconds). We can set to 10000ms (10 Seconds) etc. Or we can also remove  timeout statement completely, whatever engineering team decide to do.

https://github.com/Expensify/App/blob/ea6db4fdce2c1b29d0c954c73303f13121e3df07/src/pages/signin/ResendValidationForm.js#L77-L79

I know External label not set with this issue. I a

[2021-09-03 06:21] MonilBhavsar commented on #4928
I tried updating app on a physical device but still can't reproduce. Looks like a silly edge case as it occurred only once. Closing it out, feel free to reopen if we see it again and would look into it

[2021-09-03 06:49] JmillsExpensify commented on #4905
Posting the Upwork job now.

[2021-09-03 06:53] JmillsExpensify commented on #4905
Upwork job is here: https://www.upwork.com/jobs/~01a47baf22976329ba. Expensify team, please assess proposals and approve so we can move to the next step. Thanks!

[2021-09-03 07:20] Santhosh-Sellavel commented on #4905
## Initial Proposal
Here in below lines in component `CommunicationsLink`,
https://github.com/Expensify/App/blob/ea6db4fdce2c1b29d0c954c73303f13121e3df07/src/components/CommunicationsLink.js#L35-L67

We specifically restrict the `copy` button for `props. isSmallScreenWidth`. We could remove the restriction by refactoring the above lines to enable `copy` button action for all.

### Questions
Now an

[2021-09-03 07:38] Santhosh-Sellavel commented on #4941
## Proposal
Changing the copy to `Start a Call ` in the following files should be enough then.
https://github.com/Expensify/App/blob/ea6db4fdce2c1b29d0c954c73303f13121e3df07/src/languages/en.js#L110
https://github.com/Expensify/App/blob/ea6db4fdce2c1b29d0c954c73303f13121e3df07/src/languages/es.js#L110

Need es copy for `Start a Call` to proceed thanks!

[2021-09-03 07:39] Santhosh-Sellavel commented on #4941
cc: @aldo-expensify or @sophiepintoraetz `External` label is applied but no is assigned here

[2021-09-03 09:07] Julesssss commented on #4264
Oh right, that is one of our internal Stack overflow posts, but you can find similar public posts with pretty much the same info. You just need to search 'How to build iOS/android release' separately. But please let me know if you run into any issues at all here.

Also, when would you like to take on the job? Let me know when you are ready and we will get you hired on UpWork.

[2021-09-03 09:22] Santhosh-Sellavel commented on #4998
@Julesssss PR is ready for review!

[2021-09-03 09:54] mananjadhav commented on #4264
As I'll start on this by the weekend, I can apply today or Monday. Anything is fine.

I've had an issue earlier running a build on my iPhone which said:

1. Provisioning Profile is missing and account is not a part of xxxx group
2. Does it need an Apple Developer account to run the release build?

If you can help with these questions that'll be great.

[2021-09-03 10:05] MonilBhavsar commented on #4209
I got back to this today, but still hard time reproducing it. @isagoico, can you please share in which version you're able to reproduce this and if you see any errors in console.

[2021-09-03 10:26] Julesssss commented on #4264
I am pretty sure that's not necessary. See if you can enable the `Automatically manage signing` checkbox here. I think this is possible without being part of the Expensify team...

<img width="1069" alt="Screenshot 2021-09-03 at 11 23 37" src="https://user-images.githubusercontent.com/10736861/131990987-a45a398e-e2a2-41ec-8882-0288b94e071c.png">

[2021-09-03 10:38] kidroca commented on #4549
I still think many HOCs could be bad, I'll re-capture data now that we have a new way of measuring performance (CAPTURE_METRICS)

I'll again measure chat switching (we have perf marks for those)
1. "Before" case would be with all window dimension HOCs
2. A simulated "After" case would be with the dimension HOCs stubbed to return the wrapped component with fixed dimension values

Both pre/post test

[2021-09-03 10:54] botify commented on #4616
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1197673325) to staging by @Julesssss in version: 1.0.92-3 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-03 10:54] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1197673325) to staging by @Julesssss in version: 1.0.92-3 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-03 10:57] sketchydroide commented on #5040
I'm not sure on why 5 seconds is not enough, and if it's not then how much should it be, let's go trough triage first, get some more opinions, but at a first glance I see no reason for us to change this

[2021-09-03 11:00] #4036 closed

[2021-09-03 11:11] Julesssss commented on #4629
Sorry, just catching up here.

Honestly copying an image makes no sense to me as a mobile user. I can't find any apps that let you copy and paste an image and I don't think we should add this to our app (even if we did, I doubt any app would support the pasted content anyway). The closest equivalent action for mobile should be 'save image', as the user can share it to any app which supports image

[2021-09-03 11:11] kidroca opened #5059 "[Performance][Network] Duplicate Post requests"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?
Sometimes the entire network request queue would be duplicated and posted again to the backend
This happens at the same ti

[2021-09-03 11:13] aman-atg commented on #4490
Well, we can do that but the issue was "Save" Button being highlighted even when no editing was done.
Like for Profile and all other forms if user hasn't edited anything it should kept disabled.

<img width="712" alt="Screenshot 2021-09-03 at 4 30 43 PM" src="https://user-images.githubusercontent.com/28243942/131995354-2fcf5b3a-eb2a-434e-9245-c553953ac1a3.png">

[2021-09-03 11:16] kidroca commented on #5059
Investigation related to the cause for duplicate requests can be found here: https://github.com/Expensify/App/issues/4214#issuecomment-909270618

---

I don't mind for anybody proposing a fix and working on this (if it gets approved)
I past idea of mine was to rework the network queue to be event/promise driven rather than `setInterval` drven: https://github.com/Expensify/App/issues/3608 - the pro

[2021-09-03 11:23] botify commented on #4036
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1197747761) to staging by @pecanoro in version: 1.0.92-6 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-09-03 11:27] kidroca commented on #3608
When we added Flipper `bridgespy` I've noticed that all timers (setTimeout/setInterval) would make an inbound and outbound calls through the react native bridge, each time a timer runs

The more interval timers we have the more calls that happen through the bridge
Ideally we want to reduce calls through the bridge as much as possible as that's the weak spot for React Native
That might change when

[2021-09-03 11:31] Julesssss commented on #4629
I [left a review](https://github.com/Expensify/clipboard/pull/1#pullrequestreview-746006688) on the PR with some additional information.

[2021-09-03 11:36] pROFESOR11 commented on #4897
Hi @dylanexpensify and @roryabraham,
Thanks for the feedback and offer, PR submitted!

[2021-09-03 12:53] roryabraham commented on #4629
This isn't my experience on iOS – I use native copy/paste functionality all the time in Messenger, Facebook, WhatsApp, etc...

|iMessage|WhatsApp|Slack|Facebook Messenger|
|--------|--------|-----|------------------|
|![iMessage](https://user-images.githubusercontent.com/47436092/132004200-c645f132-1340-434a-bba6-df72cc4b8cd3.jpeg)|![WhatsApp](https://user-images.githubusercontent.com/47436092/132

[2021-09-03 13:15] mountiny commented on #4888
@stitesExpensify I would lean towards parsing the emoji out complete for now to fix this and enable users to copy/paste texts with emojis, which is now impossible. Then have a follow up issue to convert them to "colon code" once that is out.

[2021-09-03 13:22] kidroca commented on #4273
I think there's a very high chance this is related to an issue I've found some time ago:  #3731

1. The updates count are based on `total action - last read action`
2. `last read action` is sometimes based on the `maxSequenceNumber` of the report
3. The `maxSequenceNumber` is getting overwritten with lower values as you scroll back in time

#### 1. Unread actions are based on `allActions - last re

[2021-09-03 14:14] Julesssss commented on #4518
@adelekennedy we can pay this today

[2021-09-03 14:15] PrashantMangukiya commented on #4995
Here is my suggestion. We need to start validating (i.e. 1 capital letter, 1 lowercase letter, 1 number) new password as soon as some character entered. So as soon as start entering character in new password field, it will show message in red color due to password not match with rule initially. Now user go on typing new password and as soon as it become valid, the message shows in normal color.

S

[2021-09-03 14:38] kidroca commented on #4273
And here's the proof for the above theory:

Key points:
1. `maxSequenceNumber` for report `71955477` getting overwritten at : `0:30` min mark
2. Closing and opening a new tab sets incorrect `unreadActionCount` at : `1:41` min mark

https://user-images.githubusercontent.com/12156624/132022620-7ee5c470-f7e6-44c1-a541-022995c6ef73.mp4

I think the same issue is happening occasionally, and is relative

[2021-09-03 14:38] isagoico commented on #5046
Starting QA.

[2021-09-03 14:44] Julesssss commented on #4629
Ah weird, I did check iOS Messenger & WhatsApp and didn't see the copy image option in either of the apps?! Maybe because I have an older iPhone? (iPhone 7, 13.3) 😕  But fair enough, this must be a common iOS operation then.

I still feel that this is not worth implementing for Android though. Forking and extending the library for feature purely is a waste of time in this case as image copy/paste

[2021-09-03 14:44] mananjadhav commented on #4888
Well @mountiny in that case with Text + Image as well we are only showing the Image and discarding the text. Are considering showing the text in that scenario as well?

**Extension to Proposal 1**

[code]

`plainText` can help me know if there's an Emoji that exists.

[code]

[code]

Helper functions:
[code]

[2021-09-03 14:58] isagoico commented on #5046
Removed a bunch of PRs that were incorrectly added to the checklist.

[2021-09-03 15:07] mananjadhav commented on #4264
Thanks for the response. I’ll check tonight and get it working. Android shouldn’t be a problem as I’ve done that earlier.

[2021-09-03 15:11] Julesssss commented on #4264
@mananjadhav when you get a chance can you apply for the UpWork job too, please.

[2021-09-03 15:26] isagoico commented on #4209
I'm currently able to reproduce this consistently after log in in version 1.0.93-0. I checked console and no errors were displayed

https://user-images.githubusercontent.com/44479856/132029700-478937ed-17f0-46f7-ae5c-b71b1ec3274f.mp4

[2021-09-03 15:45] mananjadhav commented on #4264
Done

[2021-09-03 15:45] isagoico commented on #5046
@roryabraham Will hold on iOS regression and PRs since the deploy is failing, I see it's being worked on here https://github.com/Expensify/App/issues/5048.

[2021-09-03 16:12] MitchExpensify commented on #5031
Looks great! Going to assign to you as you've been super deep on form errors and likely easiest for you to knock out for N6

[2021-09-03 16:15] MitchExpensify commented on #5030
@alexpensify is out until Tuesday. Issue looks good and good external candidate!

[2021-09-03 16:19] roryabraham commented on #5046
Hey @isagoico why don't you get a head-start on other platforms and we'll let you know when iOS is ready on staging?

[2021-09-03 16:27] mallenexpensify commented on #4226
Stepping back for a sec...
This is definitely NOT a high value issue, it's unlikely someone is going to start typing an email address then resize the screen midway through.   @mananjadhav and @aman-atg do either of you think there are other instances where this might be more useful/relevant and provide more value to fix?

[2021-09-03 16:30] arielgreen commented on #4850
Going to close this out for now per our internal discussion -- thanks for your engagement and questions, folks!

[2021-09-03 16:30] #4850 closed

[2021-09-03 16:31] isagoico commented on #5046
Yep we're already on it 😁

[2021-09-03 16:32] arielgreen commented on #4507
@thesahindia can you please provide an update here?

[2021-09-03 16:37] #5048 closed

[2021-09-03 16:42] aldo-expensify commented on #4941
I was expecting that adding the `External` label would assign someone. I'll ask.

[2021-09-03 16:43] roryabraham commented on #5046
@isagoico we are monitoring [this build](https://github.com/Expensify/App/actions/runs/1198741276) to see if it correctly uploads iOS TF.

I always just checking them off instead of removing them for now so they don't come back like this. Up to you though 🙂

[2021-09-03 16:58] MitchExpensify commented on #4941
Weird. Tried turning External off and on again. I'll grab!

[2021-09-03 16:59] aldo-expensify commented on #4941
yeah, did the same 🤷 , thanks for grabbing the issue!

[2021-09-03 17:01] MitchExpensify commented on #4941
Here we go - [Upwork job](https://www.upwork.com/jobs/~01764df2aebe05ba45)

[2021-09-03 17:01] roryabraham commented on #4669
This was deployed to production w/ regressions fixed in v1.0.88-2 – Should pay on Monday 9/6 (Labor Day) assuming no other regressions are found 🙂

[2021-09-03 17:03] aldo-expensify commented on #5031
Just checked that this will be solved by this [PR](https://github.com/Expensify/App/pull/5041)

[2021-09-03 17:17] mallenexpensify commented on #4615
@meetmangukiya, on Desktop Version 1.0.92-0, this is what I'm experiencing.
- Navigate to new chat that's not currently at the top of Left Hand Nav (LHN)
- Start typing a message
- Once paused for 1-2 seconds, the new draft chat populates at the top of LHN.

I'm assuming this is performing 'as expected', can you confirm?

Personally... I find it to be a bit distracting that, when I'm typing a mess

[2021-09-03 17:24] marcaaron commented on #3608
I've thought about this before as well, but can't really think of what problem the "bridge noise" is contributing to. It does make it kind of hard to spy the bridge traffic since the timers are relentlessly ticking. But what's bad about it?

[2021-09-03 17:29] isagoico opened #5066 "[HOLD for payment 2021-09-16] Remove the download attachment button in the upload attachment preview modal"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Run Web, Mobile Web, or Desktop version.
2. Open any Chat
3. Click + (Actions) button, Click Add Attachment
4. Choose Image or any document to up

[2021-09-03 17:31] mallenexpensify commented on #4273
Thanks @kidroca , @timszot is out this week, if no one else replies, he should be able to by Tuesday (Monday is a holiday in the US, not sure if he'll be in/out).

[2021-09-03 17:37] johnmlee101 commented on #4110
Waiting for 7 days no regressions!

[2021-09-03 17:47] luacmartins commented on #5035
I was thinking of a similar approach we use for the draft comments. On a high level:

1. Create a new Onyx key `draftReimbursementAccount` where we will store all the draft data.
2. Create a `updateDraftReimbursementAccount` function that will:
   - Take a key-value pair as argument, e.g. `updateDraftReimbursementAccount({routingNumber: '1234'})`
   - Merge that key and value to the `draftReimburs

[2021-09-03 17:52] mananjadhav commented on #4264
@Julesssss This is what I get when I tried Automatically manage signing.

<img width="565" alt="Screenshot 2021-09-03 at 11 21 24 PM" src="https://user-images.githubusercontent.com/3069065/132047279-e9126495-26ae-4738-9b2e-596303ee4341.png">
<img width="625" alt="Screenshot 2021-09-03 at 11 21 15 PM" src="https://user-images.githubusercontent.com/3069065/132047295-a7b1a18e-45e2-47ff-852c-bd1f186f7

[2021-09-03 17:58] isagoico opened #5067 "External contributors cannot download files when tlocally esting NewDot"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open NewDot locally
2. Try to download a file from a conversation.

## Expected Result:
User is able to download files locally.

## Actual Result

[2021-09-03 18:03] AndrewGable commented on #5046
`1.0.93-1` is ready to go 🚀

[2021-09-03 18:03] isagoico commented on #5046
Resuming iOS Regression 🚀

[2021-09-03 18:04] tgolen commented on #4850
To add a little more context... these are the things that came up:

1. We only need to report the total $ per project
2. We need to have someone internal determine what project an issue belongs to (and this would probably be done at the same time that the `external` label is added to an issue)
3. We don't need external contributors to report their earnings, because we can already get those on our

[2021-09-03 18:17] thesahindia commented on #4507
The [PR](https://github.com/Expensify/App/pull/4789) is up. Just waiting for a reply [here](https://github.com/Expensify/App/pull/4789#issuecomment-911875207)

[2021-09-03 18:39] marcaaron commented on #5035
So `draftReimbursementAccount` is going to collect all the data for the form fields as we enter it and we will just populate the state for each step when there is no `achData` values.

I think it works. My only concern would be it feel slike we are starting to have a lot of state to manage since we'll have:

- draft state (used to populate the component and save changes)
- server state in the `ach

[2021-09-03 18:49] tgolen commented on #4645
The proposal looks good to me. Let's move forward 🟢

[2021-09-03 19:00] tgolen commented on #4888
@mountiny I agree with you about splitting this up into separate issues.

@mananjadhav Thank you for the more detailed proposal! Just to confirm, your solution skips the parsing of the colon-emoji for now, and still allows for embedded images? If so, then 👍  It's just not super clear to me that this is the result of the proposal.

[2021-09-03 19:01] roryabraham commented on #5046
Checked off a bunch of PRs that were added incorrectly.

[2021-09-03 19:09] tgolen commented on #5066
Let's remove that button when you're previewing what is about to be uploaded. It doesn't make sense to have it shown.

[2021-09-03 19:16] jboniface commented on #4645
@Santhosh-Sellavel please submit a proposal to the job so I can hire you when you get a chance

[2021-09-03 19:17] equationalapplications commented on #5008
I launched the web app in my development environment and logged in with my email. I clicked the search icon, but I can't find Chronos.

[2021-09-03 19:20] Santhosh-Sellavel commented on #4645
@jboniface submitted on proposal on upwork

[2021-09-03 19:24] stitesExpensify commented on #3897
This is in review still, I have provided some feedback yesterday that is being worked on.

[2021-09-03 19:27] roryabraham commented on #5067
I think this will need to be internal but can also be monthly.

[2021-09-03 19:32] Santhosh-Sellavel commented on #4645
@tgolen
Few questions just to clarify the expected outcome.

`Choose document` options can I remove it?
![image](https://user-images.githubusercontent.com/85645967/132056604-f12cf3e3-2ca5-4e75-818b-269aed0320ee.png)

[2021-09-03 19:35] MitchExpensify commented on #5047
Stepping in as its your weekend @sophiepintoraetz !

[2021-09-03 19:36] MitchExpensify commented on #5047
Going to grab for you and create the Upwork job @SofiedeVreese

[2021-09-03 19:46] marcaaron commented on #4129
Thanks for everyone's input. Based on the complexity of the solutions suggested and lack of a clear solution we're going to take some time to investigate this internally before proceeding. Please let us know in the Slack channel if any new ideas pop up.

[2021-09-03 19:51] Jag96 commented on #4906
@Santhosh-Sellavel that proposal sounds good to me, feel free to start on a PR! A couple of things:

1. Instead of `showLocalTime`, I'd name it `shouldShowLocalTime` to match the naming convention
2. It looks like right now, unvalidated accounts (accounts without password set) show the timezone in the chat if the timezone is different than yours (the one that says `It's 12:45 PM for test@test.com`

[2021-09-03 19:53] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-03 19:53] botify commented on #4507
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-03 19:54] jasperhuangg commented on #5040
Yup, seems like having it there for 5 seconds is intentional, and I don't think this needs attention right now.

[2021-09-03 19:56] marcaaron commented on #5067
IMO no one is going to fix this as a monthly. Maybe it's a good first pick to look into?

[2021-09-03 20:02] Santhosh-Sellavel commented on #4906
Waiting for PR #4821 to get merged since it has many EMAIL CONST.

Can you confirm on emails alone to restrict for I'm assuming that all Expensify emails we should not show timezone?
Regarding call options should we exclude emails other than `Chronos`, if then let me know the emails thanks!

[2021-09-03 20:02] tgolen commented on #4645
For the image picker case, yes, I agree with removing that.

On Fri, Sep 3, 2021 at 1:32 PM Santhoshkumar Sellavel <
***@***.***> wrote:

[2021-09-03 20:05] thesahindia opened #5068 "[HOLD for payment 2021-11-04] A delay can be observed on Signin page after clicking Regresar (Go back) button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
(Note: Test this on **main** branch)
1. Your language should be set to Spanish
2. Go to signin page
2. Enter any email address or phone number
3. Cl

[2021-09-03 20:07] kavimuru opened #5069 "mWeb/Safari - Change password - Cursor is not autofocused and keypad does not open in Change password page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account
3. Go to Setting - Change Password

## Expected Result:
Autofocused and keyboa

[2021-09-03 20:09] Jag96 commented on #4906
Correct, I agree that [these emails](https://github.com/Expensify/App/blob/4e8b6bfc22bfd2584683d4c3458bf7a79fc84bea/src/CONST.js#L406) should not show timezone, and I think we can remove the call button for all of those emails as well except for Concierge so we can keep the [concierge specific logic](https://github.com/Expensify/App/blob/011bf1b6c6cfeae034e2fd89ceef508d9f79d458/src/components/Vide

[2021-09-03 20:15] sophiepintoraetz commented on #5047
Thanks Mitch! Was holding off because I'd asked a question [here](https://github.com/Expensify/App/issues/5047#issuecomment-912193091) but 👍

[2021-09-03 20:16] luacmartins commented on #5035
Hmmm... That's a good question. The reason that I can think of is if a user has data in the server, but for some reason wipes `draftReimbursementAccount` (e.g. logs out, resets browser data, etc) we wouldn't display accurate data.

I agree with your concern here and I'm also open to brainstorming other ideas.

As you mentioned, having a form component that keeps track of draft data, as well as inp

[2021-09-03 20:17] Santhosh-Sellavel commented on #4906
Oops, We have emails already in `main` I don't know how I missed that. I'll let you know when PR is ready!

[2021-09-03 20:18] Jag96 commented on #4995
@isagoico was there a slack thread for this one? I didn't see one but just double-checking so I can have all the context

[2021-09-03 20:22] Jag96 commented on #4355
@roryabraham that makes sense to me, thanks for the explanation.

@MTN718 you still have not explained what technical changes are required to create the vibrate format we want, so it is still unclear to me what code changes are required to get the desired effect on both Android and iOS.

[2021-09-03 20:30] Jag96 commented on #4762
From https://github.com/Expensify/App/pull/4792#issuecomment-909786681:

[code]

[2021-09-03 20:36] mallenexpensify commented on #4129
Job closed in Upwork

[2021-09-03 20:37] shawnborton commented on #5005
Still happening to me on my physical device.

On Thu, Sep 2, 2021 at 3:00 PM Isabella Goicoechea ***@***.***>
wrote:

[2021-09-03 20:39] marcaaron commented on #5035
I _think_ you're saying that if a user:

- has begun the flow and gone far enough to save some `achData`
- then accidentally clears their local storage or signs out
- we would end up with inaccurate data if we prioritized using the draft values over the `achData` values

But I think in that case we'd still default to using the `achData` values since the draft values are empty?

Thinking more on th

[2021-09-03 20:46] PrashantMangukiya commented on #5066
Here is my proposed solution if this issue consider as external.

We have to remove code from AttachmentModal.js file as shown under. So download button will be removed from send attachment modal.

Remove line 16 from AttachmentModal.js file,
https://github.com/Expensify/App/blob/01748665595da12e56ec2428f78547e018f32f24/src/components/AttachmentModal.js#L16

Also remove line 136, and 137 from Atta

[2021-09-03 20:50] tgolen commented on #5066
Oops, I meant to label this as `external` earlier. @parasharrajat Wouldn't that remove the button completely? We still want it there when someone is viewing an attachment.

[2021-09-03 20:54] mallenexpensify opened #5070 "Ensure hourly issues are assigned accounting for timezone so they can be addressed with #urgency"
Coming from [this thread in #expensify-open-source](https://expensify.slack.com/archives/C01GTK53T8Q/p1630632144363500) about continuing to speed up the deploy process

From @roryabraham:

Let's do it!

[2021-09-03 20:57] botify commented on #4785
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-03 20:59] PrashantMangukiya commented on #5066
Hi @tgolen, Good catch. You are right, let me figure out solution so download button will be removed during send attachment (i.e. during file upload) time only and available when someone view the attachment. Thanks.

[2021-09-03 21:13] MitchExpensify opened #5071 "Update "You magic sign in link for new.expensify.com" Concierge message"
### Problem:

Our NewDot email verification message from Concierge does not communicate the Free Plan at all to new users:

![image](https://user-images.githubusercontent.com/36425901/132064112-ff694d05-bab7-4c62-9f07-a6f595aa7037.png)

[Slack conversation.](https://expensify.slack.com/archives/C020EPP9B9A/p1630694216159400)

### Solution:

Update the message to read:

[here] = validation link

[2021-09-03 21:14] mallenexpensify commented on #4490
Ok, I think I'm seeing it now. It's a low value issue but, we should be consistent between having the save button not highlighted in edit workspace if there are no changes like it is in profile edit.

Moving along to an engineer for more eyes.

![image](https://user-images.githubusercontent.com/22508304/132065586-b6b059a1-fe27-4edf-bcae-1d367d8b796b.png)

[2021-09-03 21:16] kidroca commented on #3608
Imagine it's literally a bottle neck, it can allow only so much traffic as the width of the cap, when a lot of items move through the bridge, some would get batched to wait as there's not enough bandwidth, this creates lag
This is because all the calls get serialised and deserialised to be passed to/from the native world
The re-architecture of react-native aims to replace the bridge, or at least a

[2021-09-03 21:21] roryabraham commented on #5070
I'll save you a bit of time @CortneyOfstad and mention that this likely needs to be internal.

[2021-09-03 21:21] PrashantMangukiya commented on #5066
Hi @tgolen. I updated my proposal, now it will show download button when someone view the attachment, but not during  attachment upload time. Here is my updated proposal. https://github.com/Expensify/App/issues/5066#issuecomment-912801001  Thanks.

[2021-09-03 21:27] kidroca commented on #3608
One other thing in this regard is there's no **idle** time, something is always running

If you've noticed timers on inactive browser tabs get throttled, I think one of the reasons was significant battery usage due to constantly running code
I remember reading about this somewhere, but so far this is the only thing that comes up: https://stackoverflow.com/questions/11788928/how-much-battery-life-c