[2021-12-21 14:52] mananjadhav commented on #6780
Do you want me to check before the job ? Or while working on the PR?

[2021-12-21 14:52] roryabraham commented on #6815
As stated [here](https://github.com/Expensify/App/pull/6766#issuecomment-998841691), I think we are good to check off #6766. Checking it off, meaning @sketchydroide I think we are good to run the production deploy

[2021-12-21 15:05] Beamanator commented on #6825
Thanks for reviewing @parasharrajat , I agree your proposal looks great @anthony-hull 👍

(I'm assuming the role of CME since I'm assigned too, hope you don't mind @puneetlath)

[2021-12-21 15:26] srdjanrist commented on #6772
@parasharrajat
Every place that a users name can be rendered in bold would need logic changed. I would certainly extract this code somewhere and reuse it, though. Wouldn't really repeat the logic everywhere.
From my research, these are the places that a users name can be seen in bold:
1. all chats, when there is a new message from the user
2. single chat window, all messages
3. side menu with user

[2021-12-21 15:30] mananjadhav commented on #6780
@roryabraham It works. Attached is the screencast for the same.

https://user-images.githubusercontent.com/3069065/146955904-e0ef1780-b44b-4b66-be6b-8ad9880e7372.mov

[2021-12-21 15:41] roryabraham commented on #6780
@mananjadhav I think you've got all the pieces of your proposal spread through a few different comments. Do you mind making it easy for @puneetlath to review by collecting them together into a single updated proposal?

[2021-12-21 15:49] mananjadhav commented on #6780
Sure @roryabraham.

**Consolidated Proposal**

We need to make the following changes to get the new `CmdOrCtrl + I` shortcut working.

1. We need to update the `CONST.KEYBOARD_SHORTCUTS.SHORTCUT_MODAL.shortcutKey` from '?' to 'I'.
[code]

2. We need to remove the `?` keycode handling lines from `KeyboardShortcut/index.js, getKeyCode` function.
[code]

3. We've recently added a desktop menu for the

[2021-12-21 17:49] NikkiWines commented on #5620
According to [this issue](https://github.com/Expensify/Expensify/issues/188977) it looks like people (including myself 😅 ) are still experiencing this even on v1.1.22-0. So it seems that, sadly, https://github.com/Expensify/App/pull/6478 is a fix for this.

That issue is triggered by the `[alXt] [BootSplash] splash screen is still visible` log line. Here's what it shows for 4 different users (in t

[2021-12-21 17:54] zoontek commented on #5620
@NikkiWines Do you have associated native crash?

[2021-12-21 18:19] NikkiWines commented on #5620
@zoontek, sorry, I don't see any associated logs in Crashlytics unfortunately.

[2021-12-21 18:20] zoontek commented on #5620
@NikkiWines Hmmmm, OK 🤔 Do you have an issue reproduction process? (I don't have access to the issue you linked)

[2021-12-21 18:25] NikkiWines commented on #5620
That issue just aggregates logs associated with that particular alert. The issue reproduction steps are the same as they are for this issue: force close the app and re-open or update the app via testflight. Unfortunately, those steps don't work consistently for anyone - which is part of why this issue has been so difficult to debug. It's also why we added logs - so that we could hopefully gain som

[2021-12-21 18:32] anthony-hull commented on #6301
https://expensify.slack.com/archives/C01GTK53T8Q/p1640049268437600
In this discussion the topic of images up to 6MB being created by iOS cameras when taking a photo from the upload photo prompt while updating the profile image.
I think this is another good justification of doing image processing client side.

What would be a sensible file size and dimensions to send?

I looked at the image of my p

[2021-12-21 19:00] kidroca commented on #5620
It would help if we can see are there any `hide` logs near the alert

https://github.com/Expensify/App/blob/da70a0146863d0c3be70a2311b050a3121b904b9/src/libs/BootSplash/index.native.js#L7-L14

- did the app ever attempt to hide the splash
- is there are `[BootSplash] hiding failed` log ?

Is it possible to share about a minute around the logs that happened near the alert log?

[2021-12-21 19:15] parasharrajat commented on #3922
PR  https://github.com/Expensify/App/pull/6852 for

[2021-12-21 19:17] sketchydroide commented on #6815
:shipit:

[2021-12-21 19:19] sketchydroide commented on #6815
:shipit:

[2021-12-21 19:19] #6815 closed

[2021-12-21 19:22] botify commented on #6733
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.22-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6786

If no regressions arise, payment will be issued on 2021-12-28. :confetti_ball:

[2021-12-21 19:22] botify commented on #6647
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.22-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6796

If no regressions arise, payment will be issued on 2021-12-28. :confetti_ball:

[2021-12-21 19:22] botify commented on #6635
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.22-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6762

If no regressions arise, payment will be issued on 2021-12-28. :confetti_ball:

[2021-12-21 19:22] botify commented on #6390
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.22-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6766

If no regressions arise, payment will be issued on 2021-12-28. :confetti_ball:

[2021-12-21 19:22] botify commented on #6714
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.22-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6774

If no regressions arise, payment will be issued on 2021-12-28. :confetti_ball:

[2021-12-21 19:22] botify commented on #6748
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.22-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6810

If no regressions arise, payment will be issued on 2021-12-28. :confetti_ball:

[2021-12-21 19:31] marcaaron commented on #6457
@mvtglobally can we create separate issues for this "Webpage not available" error? It looks new and different from the issue first reported here. Is it reproducible on production?

[2021-12-21 19:46] ahmdshrif commented on #6836
## Proposal

this a react-native picker known issue
and the workaround for this is to add  `maxWidth` and `maxHeight`  properties to options.

so going to `/src/components/AttachmentPicker/index.native.js`
and add them the recommendation value is maxWidth: 1200, maxHeight: 800, but I try with this bigger value and the issue is not happening will start to happen if I increase any of these values.

[2021-12-21 19:48] mananjadhav commented on #6552
PR raised. Need help on verifying the design.

[2021-12-21 19:53] botify commented on #6729
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.22-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6775

If no regressions arise, payment will be issued on 2021-12-28. :confetti_ball:

[2021-12-21 19:53] botify commented on #6760
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.22-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6788

If no regressions arise, payment will be issued on 2021-12-28. :confetti_ball:

[2021-12-21 19:55] OSBotify opened #6860 "Deploy Checklist: New Expensify 2021-12-21"
**Release Version:** `1.1.23-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/6775
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6784
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6788
  - [x] QA

[2021-12-21 19:56] #6794 closed

[2021-12-21 20:03] parasharrajat commented on #6836
Interesting @ahmdshrif. Do you have a link so that I can verify the issue? What is the maximum size that we can use?

[2021-12-21 20:05] ahmdshrif commented on #6836
@parasharrajat its recommended by some user not liberary so i try to many value woth myself

[2021-12-21 20:06] ahmdshrif commented on #6836
this issue link on react-native-image-picker
https://github.com/react-native-image-picker/react-native-image-picker/issues/1073

[2021-12-21 20:14] roryabraham opened #6863 "Failed CP's can break our CI/CD"
## Action Performed:
1. Merge a dummy PR.
1. Create a revert PR for that dummy PR.
1. Give the revert PR the `CP Staging` label.
1. Merge the revert PR.
1. You'll observe that the app version on the deploy checklist increases. (BUG)
1. There _should_ be a merge conflict with the CP PR.
1. Close the CP PR without resolving conflicts or merging it.
1. Then _without running any other CP's first_, clo

[2021-12-21 20:16] roryabraham commented on #4379
Some additional context in [this slack thread](https://expensify.slack.com/archives/C07J32337/p1640115752259200) but the solution for this issue would likely also solve https://github.com/Expensify/App/issues/6863.

*TL;DR* we want to make sure that the CP PR is merged and the tag for the new version is pushed before updating the checklist.

[2021-12-21 20:27] Jag96 commented on #6824
@mananjadhav I've sent an offer on Upwork for this one! @stephanieelliott no need to export

[2021-12-21 20:36] Jag96 commented on #6495
Reporting bonus has been paid out! Sorry for the delay there

[2021-12-21 20:36] mananjadhav commented on #6824
@Jag96  Accepted

[2021-12-21 20:47] mallenexpensify commented on #5185
Paid @mananjadhav $500! Thanks!

[2021-12-21 20:47] #5185 closed

[2021-12-21 21:14] Jag96 commented on #6628
Already had the branch up for this one so just made the PR myself

[2021-12-21 21:32] zoontek commented on #5620
I made some modifications to the module. When calling `hide`, instead of resolving immediately (the current behaviour) I append a task (aka a pending `Promise`) to the tasks queue.

If `hide` is indeed called before `[RNBootSplash initWithStoryboard:]` is some cases, the promise will stay in pending state to only resolve on `[RNBootSplash initWithStoryboard:]` or on `RCTJavaScriptDidLoadNotificati

[2021-12-21 21:38] mvtglobally commented on #6860
Starting QA

[2021-12-21 22:05] stitesExpensify commented on #4559
Hey @mallenexpensify I think we should double the price of this to $500. The PR was solid and @mananjadhav put in a lot of work :smile:

[2021-12-21 22:17] mallenexpensify commented on #4559
Thanks @stitesExpensify.  Here's what I'm seeing for the breakdown
- $500 - job
- $250 - reporting
- $250 - n6 bonus
- $250 - company offsite hold bonus (I forgot to label a handful of existing issues with this)
- $1250 total.

@mananjadhav does that look right? I created a new job, can you apply and confirm in a comment once you have?
https://www.upwork.com/jobs/~017f2e7aaa6e10e35e

[2021-12-21 22:22] mountiny opened #6869 "TEST issue"
Just a test issue - please disregard this issue.

[2021-12-21 22:24] mountiny commented on #6869
Sorry for the ping @laurenreidexpensify, just testing a new feature.

[2021-12-21 22:24] #6869 closed

[2021-12-21 22:46] johnmlee101 commented on #6518
Going to see if this remaining not reproducible for another week.

Can you propose this in the contributor Slack? That way we can go through the process to tackle this 😄

[2021-12-21 22:47] johnmlee101 commented on #5987
Hmm, I'm not quite sure at the moment what the best next step is. @roryabraham do you think we're safe merging the PR then finalizing the discussion about offline states later?

[2021-12-21 23:00] kavimuru commented on #6818
Issue is still reproducible. PR #6827 is failing.
![Image from iOS](https://user-images.githubusercontent.com/43996225/147008490-8bc331bc-9443-4c7f-af91-ce3078bbdcfe.png)

[2021-12-21 23:00] OSBotify commented on #6818
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-21 23:06] luacmartins commented on #6818
@kavimuru PR https://github.com/Expensify/App/pull/6827 was reverted and we SHOULD see the `New workspace` button. Closing this issue.

[2021-12-21 23:06] #6818 closed

[2021-12-21 23:26] NikkiWines commented on #5620
There are no`[Bootsplash] hiding` logs associated with those specific requests. The only other bootsplash related logs (for all of the examples listed above) is the `[BootSplash] splash screen status` log like so:

A minute of logs would be a lot, most of which wouldn't be relevant to this bug, but I've pulled some logs related to my device from further back where we do have `[Bootsplash] hiding`

[2021-12-21 23:34] isagoico commented on #6208
Testing https://github.com/Expensify/Web-Expensify/pull/32609 - please ignore

[2021-12-21 23:35] #6208 closed

[2021-12-21 23:39] isagoico opened #6870 "Test issue - Please ignore"
Testing https://github.com/Expensify/Web-Expensify/pull/32629

[2021-12-21 23:39] isagoico opened #6871 "Test issue - Please ignore"
Testing https://github.com/Expensify/Web-Expensify/pull/32629

[2021-12-21 23:40] #6871 closed

[2021-12-21 23:40] #6870 closed

[2021-12-22 00:04] isagoico opened #6872 "[HOLD for payment 2022-02-16] Group creation - Search box is not cleared after selecting a user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Shift+cmd+k or :green-plus-button: to start new group chat
2. Start typing name of user
3. Press enter to select user or click on user's name wi

[2021-12-22 00:13] SofiedeVreese commented on #6714
This was a regression so no payment needed, apart from the contributor who kindly reported the regression (@PrashantMangukiya ).

[2021-12-22 01:38] kbecciv opened #6873 "[HOLD for payment 2022-02-01] File name isn't fully visible in Preview page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log in with any account
3. Select any user and tap on Plus button
4. Tap add attachment
5. Select from Galary

## Expected Resul

[2021-12-22 01:40] OSBotify commented on #6873
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-22 01:51] marcaaron commented on #6873
Not sure if this is a deploy blocker since it seems fairly minor and don't exist on production because the feature is not implemented there and not because of a regression.

@mananjadhav will maybe want to fix this as a follow up to https://github.com/Expensify/App/pull/6850

[2021-12-22 02:14] danieldoglas commented on #6710
I see.

Seems like we've deployed version 1.1.22 version in prod now. I just tested the Lorem Ipsum generated text and it did work. I've tried from 10 to 50 thousand bytes.

For some reason I cant simulate what's happening to you. Are you trying a specific text, or any text with 10240+ chars are not working for you?

if it's a specific test, can you provide it so I can see if it's something specif

[2021-12-22 02:16] mvtglobally opened #6874 "[HOLD for payment 2022-01-11] [$500] New chat aren't showing bold in Left Hand Nav (LHN) when received on desktop"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send few messages to account A from Account B
2. Open Desktop app
3. Login as account A

## Expected Result:
New chat should show bold in Left Ha

[2021-12-22 03:23] mananjadhav commented on #6873
@marcaaron I can add a fix for it.

@kbecciv I couldn’t understand the issue. When you say it isn’t fully visible ? Is it getting trimmed or you mean the color visibility?

[2021-12-22 03:25] mananjadhav commented on #4559
Thanks @stitesExpensify and @mallenexpensify. Applied on Upwork.

[2021-12-22 04:01] kadiealexander commented on #6647
I'm out for the next two weeks, so reassigning to @jliexpensify who will pay this one next week once back from leave (29/12)

[2021-12-22 04:53] jliexpensify commented on #6647
Mental note: $500 to Sahil.

[2021-12-22 06:27] SofiedeVreese commented on #6714
Actually, considering this was a regression, I don't think we have to wait to pay Prashant for **reporting** the regression. Do you agree @parasharrajat ?

[2021-12-22 06:53] parasharrajat commented on #6714
I don't have much knowledge of this topic but I think all reports are paid.

[2021-12-22 07:08] SofiedeVreese commented on #6714
Oh yep we'll pay for reporting, that's without a doubt, but I'm more wondering about the timing. Typically we'd pay out reporters together with the payment of contributors fixing the issue. But in this case it's a regression so there's no payment of the latter. So I don't think there's a reason to wait with this particular payment until the regression fix is deployed, the reporting payment shouldn

[2021-12-22 07:55] azimgd commented on #3381
Hey guys, all 3 PR's are deployed to production on Monday. Can we update the status of this ticket please.
@thienlnam @mallenexpensify

[2021-12-22 08:00] parasharrajat commented on #6714
But how would you make sure that regression is fixed so we wait for 7 days after PROD deploy.

[2021-12-22 08:08] SofiedeVreese commented on #6714
But the above process is applicable when we pay a contributor _fixing_ a bug or regression, we wait for it to pass all tests before paying out.

But in this specific case, we're paying for the _reporting_ of the bug, not the fixing. And the reporting of the bug should be compensated regardless of the outcome of the regression.. right?

[2021-12-22 08:33] zoontek commented on #5620
Indeed if hide is never called, no need to look for more complex possible issues 😅
I will have a second look on when the init could fail.

[2021-12-22 10:17] zoontek commented on #5620
As we added log directly in the `hide` method, this confirms that this cases is not really tied to the module itself: https://github.com/Expensify/App/blob/main/src/libs/BootSplash/index.native.js#L7

[2021-12-22 10:22] parasharrajat commented on #6714
Hmm. I don't have a strong argument to hold the payment. Either way is fine. As per my understanding reporting bonus is released when issue is resolved and we consider a issue to be completed when it pass all of above mentioned three stages. And if issue is resolved internally then we can pay them without hold but this issue is resolved externally. I think you can release the payment, this going t

[2021-12-22 10:41] kidroca commented on #5620
@NikkiWines For this log (https://github.com/Expensify/App/issues/5620#issuecomment-999161962) it seems **the app was never in the foreground** so there was no splash screen to hide:
1. A push notification was received
2. The notification revived the app in the background
3. The `Expensify` component was mounted hence the `[BootSplash] hiding` log
4. We tried to hide the splash screen, but it didn

[2021-12-22 10:42] kidroca commented on #5620
@NikkiWines
We should probably ignore these logs when the app was in the background, or include app state in the log:
[code]

[2021-12-22 10:43] kidroca commented on #5620
@zoontek
Could calling `BootSplash.hide` while the app is in the background cause a problem later when the app is actually brought to the foreground?

@NikkiWines
Are these logs https://github.com/Expensify/App/issues/5620#issuecomment-999161962 from you actually experienced the bug, or just logs that contain `[alXt] [BootSplash] splash screen is still visible`

If it's the latter and calling `.hi

[2021-12-22 10:43] zoontek commented on #5620
I created a small PR to add a logs on promise success: https://github.com/Expensify/App/pull/6875 (to differentiate forever pending promises and promise that resolve before native side initialization)

[2021-12-22 10:59] kidroca commented on #5620
@zoontek
Is this the PR that fixes the `nil` `rootView` issue: https://github.com/zoontek/react-native-bootsplash/pull/295 ?
You said it requires a lot of testing and there are a lot of changes
If the solution is as simple as calling `Bootsplash.hide` again when the AppState changes to visible, why don't we use that until we migrate to v4 where there's no such problem?

[2021-12-22 11:06] zoontek commented on #5620
@kidroca I'm currently checking if it's enough / a proper solution (adding notifications to the example app to perform). This should not take long to be sure that it's the case.
It could be a lot of testing to validate this PR, which makes several assumptions, but if I can reproduce the issue everytime the fix will be quite easy 🙂

[2021-12-22 11:09] Beamanator commented on #5781
Dropping priority to monthly - there will be lots of outage over the next few weeks, and this isn't critical to be fixed atm

[2021-12-22 11:24] mountiny commented on #6841
@bfitzexpensify 🎅 -bump

[2021-12-22 11:32] sobitneupane commented on #6872
**Proposal**

Here, on selecting a row the searchValue is changed(change of state) to ' ' and on deselecting a row(i.e, removing selected member) searchValue remains as it is, i.e,
`searchValue: isOptionInList ? prevState.searchValue : ' '`

But, the changed searcheValue is not reflected from BaseExpensiTextInput as instead of using this.props.value while calling TextInputWithName Component,  this

[2021-12-22 11:37] bfitzexpensify commented on #6841
Done!

Upwork job to resolve issue is [here](https://www.upwork.com/jobs/~01e5328d9e73539fe9)

Upwork job for reporting is [here](https://www.upwork.com/jobs/~01fae76f5114e0c58a) - @adeel0202

[2021-12-22 12:11] trjExpensify commented on #5875
@chiragsalian how's the PR review going here?

[2021-12-22 12:37] flodnv commented on #6874
I can confirm that I also experience this problem most of the time.

[2021-12-22 13:40] cbhushan1995 commented on #6841
@bfitzexpensify Have you guys tried to observe camera permission whenever the user's application state changes ( background ->  Foreground vice versa ). I think it could be the issue. I can look into this.

[2021-12-22 14:06] roryabraham commented on #5620
@kidroca you're correct, headless JS is only an Android concept. I think you're also correct that on iOS the app mounts in the background. However, I understand that both OS heavily throttle the background processing time allotted to a single app. IIRC, Apple said something like "don't expect your app to wake in the background more than 2-5 times per hour". In low-power mode, most non-system backg

[2021-12-22 14:08] #6689 closed

[2021-12-22 14:29] roryabraham commented on #5987
I think we could, yes. But I just haven't had time to test the PR thoroughly yet. Fortunately the automated tests can give us some additional confidence that things will work as expected.

[2021-12-22 14:29] Dal-Papa commented on #6751
[The PR](https://github.com/Expensify/App/pull/6850) that added the name of the file in the preview pane has been merged but a [follow-up PR](https://github.com/Expensify/App/issues/6873) has been created so we can see it better.

[2021-12-22 15:17] laurenreidexpensify commented on #6808
https://www.upwork.com/jobs/~015d209ab3e258d68f

[2021-12-22 15:31] #6628 closed

[2021-12-22 15:39] isagoico opened #6876 "[$1000] Android - Copy / Paste / Cut menu is not displayed when selecting text in compose box - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Type anything in compose box
3. Select it
## Expected Result:
Native menu to cut / copy / paste should be displayed

[2021-12-22 16:00] stephanieelliott opened #6877 "[$2000] Add option to reset Expensify password from new bank account setup pane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log into new.expensify.com and navigate to profile icon > Payments > Add Payment Method
2. Click `Bank Account`
3. Log into any bank account via

[2021-12-22 16:22] stephanieelliott commented on #6877
Posted to Upwork: https://www.upwork.com/jobs/~01087482f69cffd1bb

[2021-12-22 16:28] stephanieelliott commented on #6562
Sure thing! I changed the Upwork job post to `reporting` only -  @kursat will you please post the proposal to the job in Upwork: https://www.upwork.com/jobs/~016b6b1543034c2628

We'll pay this out in Upwork after the PR is deployed to prod and 7 day regression period passes.

[2021-12-22 16:52] Beamanator commented on #6808
I also see this in the console when I reproduced the issue

<img width="752" alt="Screen Shot 2021-12-22 at 6 51 35 PM" src="https://user-images.githubusercontent.com/3885503/147127534-8f0ed12f-ee13-4ba5-bb5f-838735ae6756.png">

[2021-12-22 16:53] danieldoglas commented on #6808
Yep. I've checked the response for a new message and a normal message, and both have the same fields. So should be something in the logic of the app, related to how it treat new P2P chats/group chats.

[2021-12-22 16:58] sethraj14 commented on #6877
@stephanieelliott Proposal
I would add this code bit for adding the link of resetting and magic link-
`
                    <View style={[styles.changeExpensifyLoginLinkContainer]}>
                        <TouchableOpacity
                            style={[styles.mt2]}
                            onPress={Session.resetPassword}
                            underlayColor={themeColors.componentBG}

[2021-12-22 17:00] mountiny commented on #6841
@cbhushan1995 I believe the issue might lay in the way how we re-check the camera permissions. Feel free to write a proposal here if you manage to discover what the problem is.

[2021-12-22 17:00] sethraj14 commented on #6877
In order to show you the working demo of the same, I would be needing test bank accounts if there is any/ or if there is some other way to get to that state.

[2021-12-22 17:04] parasharrajat commented on #6877
@stephanieelliott What should happen when the user clicks that link?

[2021-12-22 17:07] mananjadhav commented on #6877
**Proposal**

I've got a question on the feedback loop/navigation cycle after the link. But some pieces I've added in the proposal.

1. I will add a link that will be clickable
[code]

2. Add a function `resetPassword` which will internally call `Session.resetPassword`
[code]

3. There needs to be a feedback too. In the Login section it redirects to the magic link page. I don't think that's the ex

[2021-12-22 17:08] cbhushan1995 commented on #6841
@mountiny is there any test credentials by which i could check existing functionality of app ?

[2021-12-22 17:12] sethraj14 commented on #6808
@Beamanator I am unable to reproduce the issue on my device (Macbook Pro M1, Brave Browser). Can you tell me your configurations in order to reproduce it.

[2021-12-22 17:14] Beamanator commented on #6808
@sethraj14 I have Macbook Pro Intel, Core i9 - on Chrome - I'm not 100% sure but I think the issue occurs when you quickly try to type in the chat that you get navigated to after creating the room - not sure if you already tested like that

[2021-12-22 17:16] mountiny commented on #6841
@cbhushan1995 Feel free to refer [the readme files](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#test-accounts) in the repository or ask in the Slack channel as someone will be able to help you faster usually. Essentially, just create your personal account.

Are you in the Slack channel? If not, follow [these instructions](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#as

[2021-12-22 17:24] phivh commented on #6841
Hi, @mountiny
I've just reproduced, there should be a missing implementation from 3rd, seems for iOS they still didn't know how to catch the permission denied and show the page to navigate the user to the setting screen as you saw on Android.
Ref: https://github.com/onfido/react-native-sdk/issues/17#issuecomment-767488275
This is a proposal for now:
1. Add function to check camera permission
2. Ob

[2021-12-22 17:25] mallenexpensify commented on #6874
Snagging this one from ya @kevinksullivan cuz I'm working through the holidays and I'd love to see this get fixed ASAP
@kidroca and/or @parasharrajat, can you look into this?

Job posted.
https://www.upwork.com/jobs/~01410182cd3e988331

[2021-12-22 17:27] parasharrajat commented on #6841
Thanks for the proposal @phivh .
I have couple of questions and requests.
1. What is the reason behind the blank screen?

 How would you do that? Where will you do that?

[2021-12-22 17:39] phivh commented on #6841
Hi @parasharrajat
1. What is the reason behind the blank screen?
There is no cache error message "Onfido.OnfidoFlowError" which is returned from Fido, then it renders a null value, that is why you saw a blank screen.

How would you do that? Where will you do that?
There are 2 ways:
1. We can add one more library camera, it would support us to check the permission camera before starting Fido
2. It

[2021-12-22 17:40] parasharrajat commented on #3922
PR https://github.com/Expensify/App/pull/6878 for

[2021-12-22 19:04] chiragsalian commented on #5875
I have asked Mateo to close out the PR. This is because the issue has been resolved elsewhere - https://github.com/Expensify/App/pull/6186#issuecomment-996670458.

Going to close this out since it's a non-issue as it's working fine on production.

[2021-12-22 19:05] parasharrajat commented on #5159
PR merged

[2021-12-22 19:07] johnmlee101 commented on #5952
Going to review this soon! However a lot of this is outside of my wheelhouse a bit more than normal, so I definitely want to have Rory review as well.

[2021-12-22 19:09] kbecciv commented on #6873
@mananjadhav Yes, the file name is trimmed only, no issue with a color.

[2021-12-22 19:09] kavimuru opened #6879 "Android - Setting - App crashes on tapping view keyboard shortcuts"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Go to Setting  > About
4. Click " View Keyboard Shortcuts"

## Expected Result:
Information about ke

[2021-12-22 19:10] OSBotify commented on #6879
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-22 19:11] parasharrajat commented on #6879
Cc: @akshayasalvi this should not be visible on native devices.

[2021-12-22 19:25] kursat commented on #6562
Thanks @stephanieelliott, applied.

[2021-12-22 20:01] akshayasalvi commented on #6879
Noted. @parasharrajat I've raised a PR to fix this.

[2021-12-22 20:22] mallenexpensify commented on #4559
Hired you @mananjadhav , add a comment here once you've accepted the offer and I'll pay. Thanks

[2021-12-22 20:40] kidroca commented on #3867
One thing I forgot to bring up
When #4908 it will switch `web/desktop` from using one storage medium - localStorage to another - IndexedDB
Meaning any logged in users would be logged out

Should we include a migration that tries to move any existing Onyx values in localStorage to IndexedDB before the app starts (along the rest of the migrations)?

ios and android aren't going to be affected since

[2021-12-22 20:59] mananjadhav commented on #6873
@marcaaron @shawnborton Can you help me get the intended behavior here? If the file name is too long this is how it looks.
![image](https://user-images.githubusercontent.com/3069065/147152128-a7eae7f1-8627-4819-b346-a127e6c01799.png)

Are we looking to trim it? At the moment I am reusing the subtitle of `Header` component. Also, are we still considering it a DeployBlocker?

[2021-12-22 21:00] mananjadhav commented on #4559
Accepted @mallenexpensify

[2021-12-22 21:05] marcaaron commented on #6873
No, not a deploy blocker.

It sounds like you are saying that anything with a "long subtitle" and using the `Header` component would cause this behavior and in that case probably does not need to be fixed before we can close out the linked issue.

As for a solution, probably would be best to loop in @Expensify/design. The two options seem to be:

- extend the height of the header to accommodate th

[2021-12-22 21:08] shawnborton commented on #6873
I say we truncate. We might want to truncate the middle part so the file
extension is always visible too.

On Wed, Dec 22, 2021 at 4:05 PM MelvinBot ***@***.***> wrote:

[2021-12-22 21:12] mananjadhav commented on #6873
Well, I thought about this. But as I mentioned earlier, we're reusing the `Header` component and the subtitle might not necessarily be a filename (have an extension). So are we sure to truncate the middle part? or you'd want to keep it multiline. We can have an assumption that the subtitle won't be that big enough but can't be sure for mobile devices.

I was thinking more on the lines of having a

[2021-12-22 21:18] shawnborton commented on #6873
Good points. I don’t think the subheader should be more than 1 line since
we don’t want to modify the height.

Perhaps we can pass through an optional prop to truncate in the middle?
Curious what Marc thinks there.

On Wed, Dec 22, 2021 at 4:12 PM Manan ***@***.***> wrote:

[2021-12-22 21:32] eVoloshchak commented on #6470
To achieve that we need to do the following on top of my original proposal:
1. Delete [this](https://github.com/Expensify/App/blob/2b7d6d0a4171319a9328dca14bcd5023a5352a94/src/pages/SearchPage.js#L141) line
2. Add `onFocus` method to [ExpensiTextInput](https://github.com/Expensify/App/blob/96ba12da431936b19c80eb895f9531ee44039e71/src/components/OptionsSelector.js#L206) inside OptionsSelector
`onFo

[2021-12-22 21:48] iwiznia commented on #6660
https://github.com/Expensify/App/issues/6879 is a regression caused by this, so we need to hold payment

[2021-12-22 21:49] iwiznia commented on #6660
Oh, there's also this https://github.com/Expensify/App/pull/6833/files#r774194681

[2021-12-22 21:49] jasperhuangg opened #6883 "[HOLD for payment 2023-05-03] [HOLD for payment 2023-04-26] [$32,000] Allow keyboard shortcuts to work on native devices"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Try to use <Command, K> to access the chat switcher on my tablet.

## Expected Result:
The chat switcher should open

The goal is to let native list

[2021-12-22 21:49] iwiznia commented on #6879
Why? This should work on native devices too, no? Why restrict it? It should just work.

[2021-12-22 21:56] parasharrajat commented on #6879
Yeah, Now we can rethink this after https://github.com/Expensify/App/issues/6883. I said so as we didn't have keyboard shortcuts for native.

[2021-12-22 21:58] parasharrajat commented on #6879
But definitely crash should not happen as It is just a modal and should work on native devices too.  Meantime, I have requested the hold on the PR.

[2021-12-22 22:02] mvtglobally commented on #6860
Regression is almost complete.
Issues logged

- https://github.com/Expensify/App/issues/6879
- https://github.com/Expensify/App/issues/6873
- https://github.com/Expensify/App/issues/6818

[2021-12-22 22:15] kidroca commented on #6874
This seems already fixed locally
This is what happens for me:
1. Have desktop, web-staging and web-prod open
2. Send message from staging (expensify3 in the shot)
3. prod is not getting bold highlight
3. Desktop gets the bold highlight
4. staging is also getting highlights when it receives messages

![image](https://user-images.githubusercontent.com/12156624/147160900-c2818b2d-7e50-43de-834c-39914

[2021-12-22 22:21] mallenexpensify commented on #4559
I just paid this, it looks like it's a few days early, we normally pay 7 days after code has hit production, if no regressions.  I'm going to 🤞 and hope there are no regressions.  If there are.. please reopen

[2021-12-22 22:21] #4559 closed

[2021-12-22 22:25] mananjadhav commented on #4559
Yeah, I was just about to ping that it got paid early. I'll take up if there's any regression,

[2021-12-22 22:30] kadiealexander commented on #6872
Reassigning `external` as I'll be ooo for the next 2 weeks, thanks @jliexpensify!!

[2021-12-22 22:32] mallenexpensify commented on #6874
It's still happening for me on Staging - web (Firefox)

**Reproduction Steps**
- In main account on Desktop, open chat with test account
- Open staging.new.expensify.com, login with test account
- Select a chat in LHN of test account that isn't with main account
- Dock browser/Firefox
- Send message from main account to test (you should get a notification, it doesn't show in vid captures)
- Undock

[2021-12-22 22:33] kadiealexander commented on #5620
@stephanieelliott I've reassigned this as I'll be ooo until the 10th, please let me or Nikki know if you have any questions because this one is a bit of a beast!

[2021-12-22 22:34] kadiealexander commented on #6492
Reassigning this as I'm ooo until 10th Jan, thanks @bfitzexpensify!!

[2021-12-22 22:35] kadiealexander commented on #5079
Reassigning as I'm ooo until Jan 10th, thanks for picking this up @laurenreidexpensify!!

[2021-12-22 22:36] anthony-hull commented on #6492
have a great break!

[2021-12-22 22:36] kadiealexander commented on #3189
Reassigning as I'll be ooo until January 10th, thanks @SofiedeVreese!!

[2021-12-22 22:37] SofiedeVreese commented on #3189
Omg lol same here. I'm also going to be ooo, until January 11th welp.

[2021-12-22 22:45] mallenexpensify commented on #3189
Apologies for the label/assigning spam, wanted to check to see who it got assigned to.  @kadiealexander and @SofiedeVreese , I'm around through the holidays so I'll keep tabs on this.

[2021-12-22 22:46] kadiealexander commented on #3189
You're a champion Matt, thank you!!

[2021-12-22 22:47] TomatoToaster commented on #6725
Hadn't gotten time to work on this yet. I'm going to unassign myself for the moment since I won't be able to get to it in a while.

[2021-12-22 22:51] mountiny commented on #6725
We can make this `External` even if Jasper would want to have a look, but better to let contributors know. This seems like a typo of an issue contributors will be able to fix. Gonna take this on as CME! :)

[2021-12-22 23:01] kidroca commented on #6874
Thanks I was able to reproduce on Desktop and on web as well

The issue doesn't happen if you have 2 windows in parallel - one of them should be closed or minimised
If you `Alt + Tab` you'll see a badge count with new messages but they quickly disappear as soon as you focus the minimised window

What seems to happen is our "on app focus" logic is somehow setting unreads as read

I can continue the

[2021-12-22 23:19] SofiedeVreese commented on #6563
Going out of office until January 11th, so reassigning to another CM by repplying the `external` label.

[2021-12-22 23:21] SofiedeVreese commented on #6563
I believe @Christinadobrzyn is also going to be out of office for a bit, so we're probably going to have to assign @mallenexpensify to this issue.

[2021-12-22 23:22] SofiedeVreese commented on #6714
Created an Upwork post to pay out the reporting bonus and invited @PrashantMangukiya to this Upwork post.

Once that's done, we can just let this GH auto-close via the regression fix' PR.

[2021-12-22 23:28] roryabraham commented on #6879
Just merged https://github.com/Expensify/App/pull/6881 to unblock deploys, but I agree we should enable keyboard shortcuts on native in https://github.com/Expensify/App/issues/6883. I thought it would be better to unblock deploys to @jasperhuangg can take his time with https://github.com/Expensify/App/issues/6883

[2021-12-22 23:34] PrashantMangukiya commented on #6714
@SofiedeVreese accepted Upwork invitation. Thank you.

[2021-12-22 23:34] SofiedeVreese commented on #6714
Perfect thank you @PrashantMangukiya I've just completed the payment for the reporting bonus. Thanks again!

[2021-12-23 00:09] kavimuru opened #6889 "IOU - I'll settle up elsewhere is not displayed as default payment option"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to staging.new.expensify.com and login with gmail account and user has PayPal payment added to the account.
2. Complete the request mon

[2021-12-23 00:33] mallenexpensify commented on #4559
I don't think you're going anywhere @mananjadhav .  Congrats on being a top 3 contributor!!
![image](https://user-images.githubusercontent.com/22508304/147170105-b75391e3-a3bd-43b2-abff-b3a66868801b.png)

[2021-12-23 00:41] Christinadobrzyn commented on #6563
yes, I will be out until Jan 5th - assigning to @mallenexpensify

[2021-12-23 01:07] railway17 commented on #6518
I reported this issue in contributor Slack

[2021-12-23 01:31] ctkochan22 commented on #6750
Adding and removing the external label so the user will be paid our for reporting the bug

[2021-12-23 02:13] mananjadhav commented on #4559
Thank you 😄

[2021-12-23 04:50] Christinadobrzyn commented on #6876
Upwork job created!

Internal: https://www.upwork.com/ab/applicants/1473877014903103488/job-details
External: https://www.upwork.com/jobs/~01333b75dd01dc96cb

Hired @parasharrajat for reporting this. Waiting on proposals for the fix.

[2021-12-23 05:29] Christinadobrzyn commented on #6749
The PR was deployed to production yesterday to the 7-day timeframe has started. Assuming there are no regressions - I will pay @kursat on Dec 29th.

[2021-12-23 09:00] kursat commented on #6876
React native's TextInput re-renders when its selection property is controlled. There is an open issue (https://github.com/facebook/react-native/issues/29063) about this.

I'm not sure how convenient is this but we did it for ios, so I'm proposing to omit selection prop at `TextInputFocusable/index.android.js`.

[code]

[2021-12-23 09:01] akshayasalvi commented on #5079
Was able to resolve the hurdle and move forward. Closure expected tomorrow.

[2021-12-23 09:20] hafizsameed commented on #6841
Solution:
If user denies access to the camera then, we can do following steps:
1)we will show a screen with Error message so, that user should what went wrong.
2) On the same screen, there will be a button to give access to the camera (user might have accidentally denied the access so, he/she should not face any problem. they can always provide access to the camera by pressing the button)
3) We wi

[2021-12-23 10:50] mvtglobally opened #6890 "New user gets stuck on loading after clicking on Set Password button - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to app
2. create new account
3. Go to email and click on link to validate account
4. Set password

Steps 2
1. Navigate to app
2. create

[2021-12-23 10:55] mvtglobally opened #6891 "[HOLD for payment 2022-05-02] Can't use slash in debit card expiration date field on iPhone - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to app
2. Navigate to Settings > Payments > Add payment method
3. Select Debit card
4. Try to enter / in date field

## Expected Result:
User

[2021-12-23 11:42] sketchydroide commented on #6891
I see 2 ways to go about this:
1. Add the `/` to the symbol keyboard
2. Automatically add the `/` after the first 2 numbers

We coul potentially do both.
@Jag96 you seem to have worked on thid, any suggestion?

[2021-12-23 14:16] awesome1128 commented on #6725
I know why it's happening. I've fixed such issue 1 week ago.
Cui.

[2021-12-23 14:24] awesome1128 commented on #6725
![image](https://user-images.githubusercontent.com/56351793/147253379-4860bd60-32b1-4ac0-9274-c37352d558d2.png)
How can I put my email?
I want to have a chat in private channel.
Thanks.
Cui

[2021-12-23 14:37] awesome1128 commented on #6725
Hey please let me know. I am ready to fix your issue right now because I've fixed such issue 1 week ago.
I would like to discuss further in private chat. How can we have a chat?

Thanks, Cui.

[2021-12-23 15:06] parasharrajat commented on #6725
Hi @awesome1128 ,

As per our policy, could you please put together a proposal explaining the following:
1. What is causing this bug?
2. Were you able to reproduce this?
3. What steps will you take to resolve this?
4. Your proposal should touch part of our code base.

Thanks.

[2021-12-23 15:07] awesome1128 commented on #6725
Yeah, but I will explain it in private chat.
If I explain enough, you can fix it yourself, right?
Please let me know.
Thanks.

[2021-12-23 15:08] tylerkaraszewski commented on #6879
Does someone want to take this from me? I logged in to see this hourly issue with a bunch of activity already on it and apparently it's no longer a deploy blocker?

[2021-12-23 15:12] roryabraham commented on #6879
Sure, I can grab this from you @tylerkaraszewski

[2021-12-23 15:16] roryabraham commented on #6860
@mvtglobally https://github.com/Expensify/App/issues/6879 should be fixed by https://github.com/Expensify/App/pull/6881 in `1.1.23-1`,

[2021-12-23 15:17] roryabraham commented on #6879
It should be fixed in `1.1.23-1`

[2021-12-23 15:18] tylerkaraszewski commented on #6879
Thanks!

[2021-12-23 15:47] OSBotify commented on #6890
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-23 15:47] mvtglobally commented on #6890
Adding DeloyBlocker label as we were not able to reproduce in PROD. Issue is not consistently repro across devices

[2021-12-23 15:48] Santhosh-Sellavel commented on #6725
Please read our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md).

Go through closed issues, know about the process. Make a formal proposal here.

[2021-12-23 16:03] isagoico opened #6893 "Log in - Resend link button size changes when clicking on the "Forgot?" link - Reported by: @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to login page
2. Enter Email
3. Choose forget password

## Expected Result:
Button should not change size when loading.

## Actual Result:
Bu

[2021-12-23 16:57] parasharrajat commented on #6725
@awesome1128 This is necessary to understand what would you change in the codebase and how will it impact our app. Secondly, we pay the contributor if we use their solution but you would be submitted a PR with the solution if accepted.

[2021-12-23 17:10] parasharrajat commented on #6883
@jasperhuangg Don't forget to revert https://github.com/Expensify/App/pull/6881 which hides the shortcut button from the settings page.

[2021-12-23 17:20] parasharrajat commented on #6876
Will it affect our app's functionality? @kursat

[2021-12-23 17:21] mvtglobally opened #6894 "Feature request: Make the keyboard slide up on mobile"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Click on any CTA to trigger keyboard popup

## Expected Result:
Keyboard should slide up on mobile. When you tap into a text field th

[2021-12-23 17:23] parasharrajat commented on #6492
@anthony-hull When can we expect the PR for this issue?

[2021-12-23 17:31] mallenexpensify commented on #6750
Perfect, thanks @ctkochan22
@kursat can you please apply for the job and confirm in a comment here once you have? https://www.upwork.com/jobs/~0114457e3ee8cd883d

[2021-12-23 17:55] NikkiWines commented on #5620
Are these logs #5620 (comment) from you actually experienced the bug, or just logs that contain [alXt] [BootSplash] splash screen is still visible

I did experience that bug around the same time as these logs, but it's possible it's not directly tied to the bug and instead tied to the flow you mentioned above with the app being in the background. Next time I experience this I'll note the exact tim

[2021-12-23 18:13] kursat commented on #6750
Hey @mallenexpensify, I've applied.

[2021-12-23 18:21] MariaHCD commented on #6389
Will try to reproduce this issue again next week

[2021-12-23 18:29] mallenexpensify commented on #6874
I just doubled the price to $500 to get more interest in this since it's affecting many employees

[2021-12-23 18:46] thesahindia commented on #6893
### Proposal

We can fix this issue by providing a `minWidth/width` to the `Button` like below

[code]
https://github.com/Expensify/App/blob/fbb4674521536923ee83c6e3f093fbe6bc029f9f/src/pages/signin/ResendValidationForm.js#L139-L144

https://user-images.githubusercontent.com/83179295/147280723-700444e3-11d2-44da-a1ee-49c47465a641.mov

[2021-12-23 18:48] parasharrajat commented on #3867
I guess yes, we should add that.

[2021-12-23 18:55] iwiznia commented on #6714
I think this has been deployed already, closing out

[2021-12-23 18:55] #6714 closed

[2021-12-23 18:59] marcaaron commented on #6552
@kidroca and I were discussing in this Slack thread that it would be good to give the user an escape route when they effectively get "stuck" in the error boundary https://expensify.slack.com/archives/C01GTK53T8Q/p1640218046497900

To summarize: Even with a "refresh" the user might have some bad data in Onyx and won't be able to recover without taking one of the following actions:

- Clearing the d

[2021-12-23 19:05] TomatoToaster commented on #6726
Oh I didn't notice this was overdue because the PR was already merged! I still need to make the query to fix the existing chats. That's not a super pressing issue though so I'll make this a weekly. Going to finish workspace chat docs first.

[2021-12-23 19:08] chiragsalian commented on #6890
Hmm i just tried this on iOS app and it worked fine.
Then as per the steps i tried it on iPhone mWeb and it also worked fine. I'm unsure of the step "Set invalid password and hit Set password", if you put an invalid password it will show you an error and hence you shouldn't be able to click on set password right.
Incorrect password error,
![image](https://user-images.githubusercontent.com/14356145

[2021-12-23 19:15] mallenexpensify commented on #5620
This happened to me this morn, ios app v1.1.22-0

[2021-12-23 19:38] adeel0202 commented on #6890
I'm facing this issue always and in all browsers. I even modified the link to `staging.new.expensify.com` as you mentioned, still facing the same issue.

https://user-images.githubusercontent.com/13783842/147284754-744e7363-c40e-4815-8543-0e6380cefe4f.mp4

https://user-images.githubusercontent.com/13783842/147284939-1e5b027c-924b-4514-aa59-aaf24db525f8.mp4

[2021-12-23 19:41] aswin-s commented on #6874
## Reason

`Report.updateLastReadActionID` is getting triggered even for unmounted ReportScreens. Reason is that `onVisibilityChange` event listener is never removed on componentUnmount. This is because AppState. removeEventListener method seems to be deprecated and is throwing error on component unmount. Due to this the onVisibilityChange listener of unmounted report is never removed. When a new

[2021-12-23 19:45] aswin-s commented on #6874
`AppState.removeEventListener` is being used at two more places and is possibly causing issues already. We might want to fix these as well.

https://github.com/Expensify/App/blob/main/src/Expensify.js#L137

https://github.com/Expensify/App/blob/main/src/libs/AppStateMonitor/index.js#L29

[2021-12-23 19:47] mallenexpensify commented on #6891
From the Slack thread

 If so. I think it'd also be good to auto-add the /after numbers 2-12 since that's what the next step/action would be.... right?

![image](https://user-images.githubusercontent.com/22508304/147285647-d87e55ef-1b6e-491b-bd96-a42da71f16e2.png)

[2021-12-23 19:47] adelekennedy commented on #6717
Paid out reporting bonus and PR @PrashantMangukiya closing the job in Upwork!

[2021-12-23 19:48] kursat commented on #6876
@parasharrajat, sorry to say but yes it will. At first glance I noticed this:

When we replace a selected text  with an emoji, we will not be able to move cursor at the end of emoji
https://github.com/Expensify/App/blob/d6a607324f84e654da2da6e073b150a00def7490/src/pages/home/report/ReportActionCompose.js#L418-L433

I tried to replace it like below, but setting selection to a js object like this, f

[2021-12-23 19:50] adelekennedy commented on #6717
Closing issue for now

[2021-12-23 19:50] #6717 closed

[2021-12-23 20:00] chiragsalian commented on #6890
Well @adeel0202, you got the error on staging and production which could imply this issue is not a blocker. Could you check your network tab to see if you can get some clues like if the network request is stalling or returning an error? It does seem to work fine for me on browser.

https://user-images.githubusercontent.com/14356145/147286678-afe25795-33bd-43fe-ba4f-aa588dc755e2.mp4

@mvtglobally,

[2021-12-23 20:13] kidroca commented on #6874
I came to the same conclusion as @aswin-s
The `onVisibilityChange` that is triggered when the app is focused again seem to be for an unmounted component
I minimized the Desktop app on report ending with 263
Yet when debugging, on focus `onVisibilityChange` is called for report ending on 410,
![image](https://user-images.githubusercontent.com/12156624/147287709-5bff7973-c72b-468c-aa28-782375672ff8.

[2021-12-23 20:40] #6309 closed

[2021-12-23 20:47] mallenexpensify commented on #6874
Thanks @aswin-s !  @marcochavezf can you review and provide feedback please?

[2021-12-23 21:19] mallenexpensify commented on #6713
@mananjadhav @parasharrajat , I hired you both (different jobs), can you accept the offer then we'll get ya paid on the 27th?

[2021-12-23 21:31] marcochavezf commented on #6874
The proposal looks good, also thanks @aswin-s for detecting where the deprecated function `AppState.removeEventListener` is used in other places. @mallenexpensify could you please hire @aswin-s in Upwork?

[2021-12-23 21:41] mvtglobally opened #6896 "[HOLD] The green unread message bar disappears too fast"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Post a bunch of messages, a few screens worth
2. Make a very early one unread
3. Switch to a different chat
4. Switch back to the test chat
5. It

[2021-12-23 21:50] mallenexpensify commented on #6874
@aswin-s can you apply here? https://www.upwork.com/jobs/~01410182cd3e988331

[2021-12-23 21:53] mallenexpensify commented on #6750
Sent offer @kursat , let me know when you accept and I'll pay

[2021-12-23 22:04] mvtglobally commented on #6890
@chiragsalian only 1 tester was able to reproduce this issue on our side and same tester can't reproduce it on production.
I personally wasn't able to reproduce.
We added deploy blocker just because same tester could repro in staging and could not repro in Prod

[2021-12-23 22:10] mallenexpensify commented on #3381
@azimgd Jack is out of of the office until Jan 3rd.  I've pinged other engineers to see if they had time to take a look, I think many of them might also be out.  I'll follow up and try to get more 👀/help on this issue next week.

Can you confirm the 3 PRs? I think one is below.
https://github.com/Expensify/App/pull/6738

 Standard payment timing is 7 days after PR is deployed to production, assumi

[2021-12-23 22:52] aswin-s commented on #6874
Applied for the job in upwork. @mallenexpensify

[2021-12-23 23:35] anthony-hull commented on #6492
I will finish the PR tomorrow. I just finished the first pass of coding the change.
Please could I have a translation of:
`Exceeds the max length of ${limit} characters`

[2021-12-24 00:00] mallenexpensify commented on #6874
Hired @aswin-s in Upwork.  Thanks for the super-quick PR.  With tomorrow being Christmas Eve, it might take a few days before someone is able to review.  I'll followup on Monday with the team if needed.

[2021-12-24 00:01] thienlnam commented on #3381
Current status of this ticket:

After the first regression, Azimgd submitted a couple PRs which fixed the problems
- https://github.com/Expensify/react-native-web/pull/3
- https://github.com/Expensify/App/pull/6738

We ran into another regression https://github.com/Expensify/App/issues/6792 which Azimgd quickly fixed with https://github.com/Expensify/App/pull/6798

As @mallenexpensify mentioned, o

[2021-12-24 00:07] thienlnam commented on #3381
Update on the pricing of this ticket @mallenexpensify

Original ticket price: $16000
Company holds (N6, Offsite): $500
Bonus for scope increase (original investigation, IOS 15 updates): $4000

New ticket price: $20500

[2021-12-24 00:09] quinthar commented on #3381
Woohoo!  And they said it couldn't be done!

[2021-12-24 00:20] mallenexpensify commented on #6744
@thesahindia @mananjadhav I think you're right, that this might be a bug vs a feature request.
tbc.. you're saying - If there is no option to click in Workplace > Select a workplace box, then the user shouldn't be allowed to take an action on the box/dropdown, is that correct?   If so, that makes sense to me.  I might not have full context though

[2021-12-24 00:25] thienlnam commented on #5142
PR in review here: https://github.com/Expensify/App/pull/6732

Changes are looking good but we're working through a package-lock.json diff

[2021-12-24 00:26] alex-mechler commented on #6889
Looks like something that can be external. Applying the label

[2021-12-24 00:30] thienlnam commented on #6722
On prod since Dec 21st - https://github.com/Expensify/App/pull/6765, will close on Dec 28th

[2021-12-24 00:31] mallenexpensify commented on #6896
I have a _feeling_ the logic we're using now for when/how we show the green line for unread messages isn't correct, beyond this one issue.  if/when someone ends up working on this, can you test many examples on many platforms? If you run into bugs or have improvement recommendations, can you report them in #expensify-open-source? We'll likely want to create stand-alone issues and not want to use t

[2021-12-24 00:32] thienlnam commented on #6722
Didn't realize that there was a reporter on this issue, keeping this issue open for 7 days (Dec 28th)

And assuming there are no regressions, @davidcardoza would you be able to pay @thesahindia the reporting bonus then?

[2021-12-24 00:32] mananjadhav commented on #6744
That’s one way. We were suggesting that we shouldn’t give the ‘New Chat Room’ option itself. What do you think about that ?

[2021-12-24 00:33] thienlnam commented on #6613
Just merged the PR: https://github.com/Expensify/App/pull/6840
Now waiting for production deploy and 7 day regression hold once that happens

[2021-12-24 00:35] mallenexpensify commented on #3381
Thanks for the thorough breakdown @thienlnam .  Thanks for all the help @azimgd !
I added the payment to my calendar for the 28th (assuming no regressions).  I'll update here once payment is issued.

[2021-12-24 00:35] thienlnam commented on #6592
Thanks for handling that @parasharrajat, I agree with your evaluation.

@dylanexpensify could you please hire @dklymenk in Upwork?

[2021-12-24 01:00] mallenexpensify commented on #6744
oh... interesting.   My first thoughts are we either:
1. Not show "New Chat Room" if there's no way to create one
2. Add a reason to the pop out why the user can't create a room (ie. only available for paid plans, click 'here' to sign up).

Otherwise, like how it is now, it's unactionable without any context why.

@marcaaron since you've already reviewed this, can you provide 👀 and feedback? I sti

[2021-12-24 01:03] mallenexpensify commented on #6326
Looks like we're holding on this before payment is issued.... right?

[2021-12-24 01:05] railway17 commented on #6326
I think there is no reason why we should hold this issue now.

[2021-12-24 01:34] mvtglobally commented on #6860
@roryabraham #6879 is fixed. checking off and PR #6833

[2021-12-24 01:55] davidcardoza commented on #6722
@thienlnam I haven't had to pay a contributor before. Can you confirm [this SO](https://stackoverflow.com/c/expensify/questions/8590/8591#8591) is providing the correct instructions?

[2021-12-24 02:17] kursat commented on #6750
Accepted @mallenexpensify.

[2021-12-24 02:19] jliexpensify commented on #6872
Posted!

Internal - https://www.upwork.com/ab/applicants/1474202959761481728/job-details
External - https://www.upwork.com/jobs/~01eb6b3ea2ed5a0a26

[2021-12-24 02:22] jliexpensify commented on #6889
Posted!

Internal - https://www.upwork.com/ab/applicants/1474203687591088128/job-details
External - https://www.upwork.com/jobs/~010976cef90736ede8

[2021-12-24 02:25] jliexpensify commented on #6391
Still awaiting @kidroca , all g Melvin!

[2021-12-24 04:13] mananjadhav commented on #6889
Is this a valid issue? Because the code seems to be written such that if the `paypalAddress` is added then Paypal should be the default button.

**Proposal if we still want to take this ahead**

`SettlementButton` has a condition `shouldShowPaypal` which if set false will show up `I'll settle up elsewhere`.  In `IOUDetailsModal` and `IOUConfirmationList`, we're setting it true if the Paypal addres

[2021-12-24 04:35] mvtglobally opened #6900 "When bank account is pending a "Test transactions" heading displayed incorrectly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Go through the VBA flow to trigger pending account

## Expected Result:
"Test transactions" should display only for the page with the

[2021-12-24 04:50] mananjadhav commented on #6891
**Proposal**
None of the keyboard types support '/' in addition to numbers. There's `numbers-and-punctuation` but it only works on iOS. I would recommend adding `/` automatically.

Something on the following lines (not thoroughly tested):

[code]

and then `onChangeText` call `handleExpiryDateChange`.

In addition to this, I have a small enhancement. `CardUtils.getYearFromExpirationDateString` we'

[2021-12-24 09:59] quinthar commented on #3381
Hi there, just wanted to note a regression to copy/paste:
https://expensify.slack.com/archives/C01GTK53T8Q/p1640337980101200

On Fri, Dec 24, 2021 at 12:35 AM Matt Allen ***@***.***>
wrote:

[2021-12-24 11:47] roryabraham commented on #6879
Closing this out per https://github.com/Expensify/App/issues/6860#issuecomment-1000600647

[2021-12-24 11:47] #6879 closed

[2021-12-24 11:51] sketchydroide commented on #6823
I think this will be waiting for people to return from Christmas ooo

[2021-12-24 12:37] PrashantMangukiya commented on #6900
### Proposed Solution:

At present `title` is static so it shows same title all time. So we have to make title dynamic. We can set `title` (line 166) based on the `isVerifying` (line 161) variable, because `isVerifying` is controlling ui content that we concern. i.e. when `isVerifying` true it shows Let's Finish in Chat section, otherwise showing test transaction input form.
https://github.com/Exp

[2021-12-24 14:13] sketchydroide commented on #6860
seems like https://github.com/Expensify/App/issues/6873 is not a blocker, so that should be ok
https://github.com/Expensify/App/issues/6890 is still being discussed, but might not be a blocker, anyway I don't think it will be decided this week

[2021-12-24 15:01] bfitzexpensify commented on #6894
Exported job [here](https://www.upwork.com/jobs/~01b0ef5b8b79afafa9)

[2021-12-24 15:49] mvtglobally opened #6901 "Feature request: Make comment edit box same size as comment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to app
2. Open any chat
3. Try to edit different by size comments

## Expected Result:
When you edit a comment, nothing jumps

## Actual Resul

[2021-12-24 15:59] quinthar commented on #5125
Hi!  I'm coming into this late, and having a hard time figuring out what the final plan is.  I would think there should only be two outputs:
1. Pasting into an HTML field (eg, Gmail, Google Docs) would paste HTML
2. Pasting into a text field (eg, Github, WhatsApp) would paste Markdown

However, it seems from the above discussion this is *not* what we're doing, though I can't quite figure out what

[2021-12-24 16:49] iwiznia commented on #6492
`Supera el límite de ${limit} caracteres`

[2021-12-24 17:01] marcaaron commented on #6900
@PrashantMangukiya Please wait for the `Help Wanted` label to be applied before proposing a solution. Thanks!

[2021-12-24 17:06] alex-mechler commented on #6900
This can be dne by a contributor! Adding the label

[2021-12-24 17:17] PrashantMangukiya commented on #6900
@marcaaron Should I submit proposal now? I am wandering that `External` label applied but `Help Wanted` label not applied.

[2021-12-24 17:26] marcaaron commented on #6744
Interesting ideas here! However, this feature seems to be in active development and also behind a _beta_ at the moment so if you are a non-beta-enabled user with a workspace - it won't show up at all.

Would anyone protest if we limited discussions related to features in _active development_ to Slack only in the future? We can create a new issue if/when it's ready to be worked on and a solution ha

[2021-12-24 17:45] marcaaron commented on #6889
I'm unsure whether this issue is valid as well. IIRC the expected behavior is to see the PayPal.me option if the person _you are paying_ (i.e. the one requesting money or the "report submitter") has PayPal.me address NVP set.

cc @Julesssss @nickmurray47 @iwiznia to double-check my understanding here and reopen if necessary.

[2021-12-24 17:47] marcaaron commented on #6889
Original doc section for reference - https://docs.google.com/document/d/11IabWYwWbrGfU7SxR1Z37yCnsJisN277am1WObXD6fo/edit#bookmark=id.pmhz48huqp4a

[2021-12-24 18:25] bhavansh-arora opened #6902 "request to https://codeload.github.com/Expensify/expensify-common/tar.gz/fa190f6c844cf5646345f3e5e4862b62f1fa27bc failed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Step 1: npm i

## Expected Result:
the dependencies would have been successfully installled

## Actual Result:
Dependencies were not installed

## W

[2021-12-24 18:30] iwiznia commented on #6889
I don't recall how it should work, it's also possible that we show the last used payment method. I bet @Julesssss will remember.

[2021-12-24 18:43] Tushu17 commented on #6767
**Bump** @jasperhuangg

[2021-12-24 18:50] azimgd commented on #3381
Hey David,
I was indeed able to reproduce your issue, but I wouldn't count that as a regression since this exact behavior existed in the older/pre-merge version of the app. Tested from this commit e230e7e9885579b2dddb265f91e4beb947c13c7f

Can we actually create a new task for this one as it's related to formatting ?

[2021-12-24 19:31] jasperhuangg commented on #6767
Should be good to work on by an external contributor

[2021-12-25 04:18] sobitneupane commented on #6718
**Reason:**
To check whether a active report has a draft, following code is being used in shouldReorder function of SidebarLinks.js. If the active report has a draft, it returns false but if active report does not have a draft it returns true.

When length of newComment is zero, it is removed from the list of reportswithdraft. So, when the length of newComment becomes zero, sidebar reorders.
[code

[2021-12-25 19:46] puneetlath commented on #6719
Would we also want this on the main Workspace page?
![image](https://user-images.githubusercontent.com/1371996/147392539-dd0a7232-3693-4f9a-8056-0daedfe7ad99.png)

[2021-12-25 20:33] mountiny commented on #6718
@sobitneupane Hi Sobit! I like your proposal, but unfortunately, after some investigation, I discovered it won't work as expected. See:
https://github.com/Expensify/App/blob/3c411711f9c641338694a85c0ebfd9a9ec97a9e2/src/pages/home/sidebar/SidebarLinks.js#L134-L136

On these lines we check if the active report changed. We return true if the active report changed. Therefore, we continue in execution

[2021-12-25 20:47] puneetlath commented on #6719
Also, can we get an svg of the question mark icon? Looks like we don't have that icon in new dot yet.

[2021-12-26 11:57] anthony-hull commented on #6890
I think this is a duplicate of this issue: https://github.com/Expensify/App/issues/6389

[2021-12-26 12:29] MitchExpensify commented on #6823
[Upwork Job](https://www.upwork.com/jobs/~0123d91709db539df4)

[2021-12-26 19:55] mountiny commented on #6823
@anthony-hull This has already been fixed in your PR [here](https://github.com/Expensify/App/pull/6809). I could not see in the PR comment, neither in the [issue](https://github.com/Expensify/App/issues/6565), that you would bring this issue and fix up. For future, please, consider bringing this up also with the engineer working on the issue with you. Especially if it is so closely related change.

[2021-12-26 19:58] mountiny commented on #6823
@MitchExpensify Also a question here, I would propose to also make the first `Current password` fields submittable. In instance where user fills in the new password first and then comes back to the current one. I think that in this case, where there are only 2 fields in the form, it is better UX. What do you think? I could submit this fix if you agree too!

[2021-12-26 20:38] kavimuru commented on #6889
@marcaaron @iwiznia
As per the  regression test case step "**Verify that the default option on the pay selector is `I’ll settle up elsewhere**"
The requester account has PayPal added, the Payer account does not have any IOU in the past and no payment method is added to the account.

[2021-12-26 21:38] mountiny commented on #4977
Interesting how this turned out, the doubled messages about the deploy for PRs have stopped, but the messages are for the original commits and not for the cherry pick commits. Thus on the CP'ed PR, we get some delay since the actual effect has already been deployed in the CP commits. Here is such a PR for example: https://github.com/Expensify/App/pull/6741

I guess the problem is that now, we are

[2021-12-26 22:09] anthony-hull commented on #6823
I think that is sensible. We should add that in.

Thanks for the advice for future issues I come across like this, I prefer that idea. It's much less admin overhead for us all to do it like that 😀

[2021-12-26 22:11] anthony-hull commented on #6825
I plan to have a PR submitted on the 27th

[2021-12-26 22:43] mountiny commented on #6823
@anthony-hull Thank you for understanding. I will wait for Mitch to see what he thinks too. Also @parasharrajat and @sketchydroide if you have time! Thank you!

[2021-12-26 23:04] mountiny commented on #6841
@phivh and @hafizsameed Both of your proposals are reasonable.

In general, a good UX practice is to make sure user always knows what state the app is at. If there is some problem, user should know what is wrong. Thus if they deny access to camera and they need access to camera to complete this essential task, we should show them screen which says something like: "Uh-oh, you have not granted us ca

[2021-12-26 23:07] mountiny commented on #6790
We will need to retest this to make sure it is still a problem.

[2021-12-26 23:08] mountiny commented on #6711
The teams are still discussing this coming to Christmas break.

[2021-12-27 04:35] bfitzexpensify commented on #6713
7 days since deployment.  @mananjadhav, paid you and ended the contract — thank you!

@parasharrajat still waiting on you to accept the offer [here](https://www.upwork.com/jobs/~01063d41553d4a0ead) for reporting. I'll check on this again tomorrow, but if there's no action, then @mallenexpensify can you pay and end this later this week? I'll be ooo from tomorrow for the remainder of the week.

[2021-12-27 04:41] bfitzexpensify commented on #6547
7 days since deployment. @dklymenk, paid you and ended the contract — thank you!

@kakajann, can you respond to the offer [here](https://www.upwork.com/jobs/~011d115cee449bdc46)? Once you do, I'll accept and pay out the reporting bonus.

[2021-12-27 06:47] Sheharyar566 commented on #6547
By looking at the thread above, i'm guessing this job https://www.upwork.com/jobs/Reporting-IOU-Holding-down-the-delete-button-should-continually-delete-the-amount-6547_~011d115cee449bdc46/ is temporary 🤔

[2021-12-27 09:31] Dal-Papa commented on #6751
I think we can close this issue since the main problem has been fixed, it's now about polishing the way we display the name.

[2021-12-27 09:31] #6751 closed

[2021-12-27 09:33] kakajann commented on #6547
@bfitzexpensify Thanks, accepted

[2021-12-27 09:35] #6547 closed

[2021-12-27 11:14] hiteshagja commented on #6872
@jliexpensify

Here is my proposal for this issue

### **Proposal**
I have added this new else if block
`else if (!this.props.value) {
      this.input.focus();
      this.setState({isFocused: true});
    } `

in `componentDidUpdate` method.

Updated `componentDidUpdate`  code
![image](https://user-images.githubusercontent.com/5493716/147466205-20326aed-fd56-4b10-86a9-4903867b402e.png)

### **Vide

[2021-12-27 11:58] sobitneupane commented on #6718
Thank you for the response. I will try to dig deep.

[2021-12-27 12:19] mananjadhav commented on #6552
@roryabraham Should we put this on hold until we finalize the above discussion?

[2021-12-27 12:33] parasharrajat commented on #6552
@marcaaron  suggestion looks good. Yup, I think better hold the PR.

[2021-12-27 14:35] robertjchen commented on #6901
To clarify, is this "jumping" referring to the fact that the text is moved up due to the insertion of the `Cancel` and `Save changes` buttons at the bottom of the block being edited?

Or, is this referring to the fact that the "visual" length of the text block changes within the edit box?

In the former case, one trick I've seen other chat clients do is to hide the name/date row altogether in edit

[2021-12-27 15:04] TomatoToaster commented on #6828
Missed this for a while sorry! This feature is behind beta and incomplete. The room is created, but it doesn't show up properly in LHN or in Search at the moment. That is being resolved in another issue.

[2021-12-27 15:04] #6828 closed

[2021-12-27 15:22] roryabraham commented on #6552
I think adding a `Sign out` button is a good call

[2021-12-27 15:38] tgolen commented on #3867
Yeah, I agree, let's try to migrate everything if we can.

[2021-12-27 16:01] roryabraham commented on #6894
Hmmm I don't think we should really try to solve this with any custom app code. Going to close this out. @bfitzexpensify please take down the Upwork job as well.

[2021-12-27 16:01] #6894 closed

[2021-12-27 16:06] tgolen commented on #6779
Still waiting for an updated proposal from @thesahindia

[2021-12-27 16:10] tgolen commented on #6301
OK, I've updated the issue description with the new UI and the link to the new icons. This is ready for a proposal.

[2021-12-27 16:11] tgolen commented on #6285
PR has been submitted and is under review.

[2021-12-27 16:53] thesahindia commented on #6779
Sorry for the delay!

I'm little confused with this function's use
https://github.com/Expensify/App/blob/2b7d6d0a4171319a9328dca14bcd5023a5352a94/src/libs/DateUtils.js#L23-L38

From what I can understand, we would need a timestamp to get the localised moment object but I'm not sure where to get that "timestamp" value in `App/src/pages/DetailsPage.js`  and `ParticipantLocalTime.js`

[2021-12-27 17:00] roryabraham commented on #4977
Okay, I'm going to attempt to summarize all the cases we have here, state the expected behavior, and try to trace the git logs. Following along with a simplified/minimal example:

1. We have a repo with 3 branches: `main`, `staging`, `production`, and an initial commit. Initial version `1.0.0-0` is tagged from `staging`

    ![image](https://user-images.githubusercontent.com/47436092/147264361-156

[2021-12-27 17:17] iwiznia commented on #6889
hmmm, then I think you are correct and that's a regression...
My main question now is that if it is a regression, how come we did not catch it in staging and when we caught it it was already on production? Is it possible we did not test this correctly before, when the regression was added @kavimuru? (it's also possible the regression happened from a backend change and not aligned with the QA proce

[2021-12-27 17:42] iwiznia commented on #5079
@akshayasalvi any updates? This issue is taking forever, almost 2.5 months since you were formally hired.

[2021-12-27 17:44] roryabraham commented on #4977
So one thing I'm noticing is that, after all this is done, on `production` there is a single commit in the git log for PR `#789`:

![image](https://user-images.githubusercontent.com/47436092/147494815-d4a43c86-d4e2-4ebb-b8e6-c8414669f1e5.png)

And on `staging`, the full git log now includes two commits: one for the original PR and one for the CP PR:

![image](https://user-images.githubusercontent.

[2021-12-27 18:11] marcaaron commented on #6828
Thanks for taking a look @TomatoToaster 🙇

[2021-12-27 18:33] anthony-hull commented on #6823
@MitchExpensify this URL is to a job with an unrelated title :)

[2021-12-27 18:51] mallenexpensify commented on #6326
@parasharrajat @deetergp can you help here? With the regressions, I'm unsure when I should pay

[2021-12-27 18:53] mallenexpensify commented on #6750
Paid! Thanks @kursat

[2021-12-27 18:53] #6750 closed

[2021-12-27 18:57] deetergp commented on #6769
@parasharrajat Your proposal seems like an easy fix, let's do it!

I'm curious why it's marked dangerous. Following it to its [source in `react-native-render-html` module](https://github.com/meliorence/react-native-render-html/blob/master/packages/render-html/src/shared-types.ts#L549-L567) it looks like they have a convention of naming any of their experimental methods and properties as `dangerous

[2021-12-27 19:03] deetergp commented on #5897
No updates to report.

[2021-12-27 19:10] mallenexpensify commented on #6744
This was what I was missing, thanks for the details @marcaaron

I agree.

[2021-12-27 19:15] parasharrajat commented on #6769
I can't give you the proper reason why it was marked as dangerous but I think works great for our app and there are no apparant regressions to me.

[2021-12-27 19:20] parasharrajat commented on #6552
Then let's get this rolling. Do we need a new mockup for the `sign out` button or just directly adding a new `sign out` button next to the refresh button would be fine.

cc: @Expensify/design

[2021-12-27 19:26] parasharrajat commented on #6326
Aha, this issue is all spread out. @mvtglobally Could you please retest it once and let us know if this is fixed? Thanks.

[2021-12-27 19:33] parasharrajat commented on #6889
I don't have access to the Docs but as per the details https://github.com/Expensify/App/issues/6889#issuecomment-1001239386.

@mananjadhav 's proposal does not seem to fix it and it is removing the required piece of code.

[2021-12-27 19:39] Tushu17 commented on #6767
@jasperhuangg I think you forgot to reopen this issue.

[2021-12-27 19:39] kidroca commented on #3867
Alright, I'm working on it

[2021-12-27 19:41] parasharrajat commented on #5125
So we planned to copy the HTML markup of the message in the clipboard so that we can get the native formatting based on the app we use.
for e.g.
1. HTML for Gmail.
2. Markdown for our app.
3. Text for Whatsapp.

But we hit a bottleneck wherein our Android app pasting HTML shows formatted text like slack and we don't have a direct way to block the direct pasting of HTML in composer.

[2021-12-27 19:43] mallenexpensify commented on #3381
Agree with @azimgd I think these are separate issues.  Per Slack ([link](https://expensify.slack.com/archives/C01GTK53T8Q/p1640361209106200?thread_ts=1640337925.100500&cid=C01GTK53T8Q)) We have this two existing issues:
https://github.com/Expensify/App/issues/5142 `Copying messages with markdown via CTRL + C does not keep formatting` (moving along)
https://github.com/Expensify/App/issues/5125 `Mar

[2021-12-27 19:50] parasharrajat commented on #6823
Hmm. @mountiny  I would not say that it adds a lot of value but I agree that we can do that it does not hurt in any way.

[2021-12-27 20:01] mallenexpensify commented on #6751
@Dal-Papa , I'm still seeing changed file names when I up/download pdfs - on production and staging.  Will this be fixed in the next deployments?

[2021-12-27 20:04] kursat commented on #6750
Hey @mallenexpensify, glad to help, thanks for payment.

[2021-12-27 20:13] parasharrajat commented on #6627
I am back from vacation. I will take it now. Hush! @MelvinBot

[2021-12-27 20:32] tgolen commented on #6779
Ah yes, good point. It looks like it's fine to pass `undefined` to `moment.unix()`, so I think both the `timestamp` and `timezone` paramaters can be optional.

[2021-12-27 20:58] jsamr commented on #6769
Good spot, that is not documented. It is marked dangerous because its side effects are undetermined. "dangerous" here means "use it knowingly, strange things could happen"...

[2021-12-27 21:07] puneetlath commented on #6719
I tried adding the design label, but it looks like everyone is ooo. @Expensify/design can someone give me the svg for the question mark icon whenever you get a chance? Thanks!

[2021-12-27 22:50] yuwenmemon commented on #6860
Checking off #6873 because it is not labeled a Blocker anymore.

[2021-12-27 22:51] yuwenmemon commented on #6860
@chiragsalian is OOO today but is back tomorrow for #6890

[2021-12-27 22:56] roryabraham commented on #4977
Got a draft PR up [here](https://github.com/Expensify/App/pull/6906), but I'm still working on testing it.

[2021-12-27 23:36] mountiny commented on #6823
@parasharrajat I agree it won't add much value, but it will in my opinion improve UX slightly, so it might be worth it since the change is one line.

[2021-12-28 00:19] mallenexpensify commented on #6873
@kbecciv I see in the OP  `Issue found by executing PR:` [#6850](https://github.com/Expensify/App/pull/6850) but I don't see a specific comment there. Do you have more context on why this issue got created?  Was it from this [convo in #expensify-open-source](https://expensify.slack.com/archives/C01GTK53T8Q/p1639606010290300?thread_ts=1639445506.216300&cid=C01GTK53T8Q)?

Upwork job posted https://w

[2021-12-28 01:04] mallenexpensify commented on #6699
@parasharrajat any reason I shouldn't double this job? It's been a week.

[2021-12-28 01:43] mallenexpensify commented on #4612
Price doubled! I need to update the Upwork job, they're having some issues.

[2021-12-28 02:31] mvtglobally opened #6907 "[HOLD for payment 2022-01-11] Update the Invite option to ignore leading/trailing spaces"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to Workspace
3. Go to Members >Manage Members
4. Invite any email with leading/trailing spaces

## Expected Result:
Invite o

[2021-12-28 02:43] mvtglobally opened #6908 "[HOLD for payment 2022-03-17] [$1000] Report a bug does not lead to Concierge - Reported by Hitesh"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1 - Login app
2 - Goto any report and get back
3 - Goto Settings -> about -> click on Report a bug

Another scenario
1 - Click settings > Workspace

[2021-12-28 02:56] CamilaRivera commented on #6725
The problem is the auto-capitalization behaviour present in TextInput for Android ([prop documentation](https://reactnative.dev/docs/textinput#autocapitalize)). The default value for the prop `autoCapitalize` seems to be "sentences". The auto-capitalization is not working well with our logic that applies some transformations to the text when it changes: https://github.com/Expensify/App/blob/149ed2

[2021-12-28 03:46] mananjadhav commented on #6873
@mallenexpensify The linked PR we added the filename handling to the existing modal and it turns out that if the file name is very long it doesn't render properly. Hence this issue is created, but apparently, the issue exists in the current `Header` component itself.

Hence better if we treat this as a separate issue. I can submit a proposal based on Shawn's comment if we agree.

[2021-12-28 03:51] mananjadhav commented on #6889
@parasharrajat  Agreed. I didn't have the full context of the https://github.com/Expensify/App/issues/6889#issuecomment-1001239386.

Are we saying "I'll settle elsewhere" will show if `Payer` doesn't have any `Paypal` account added, irrespective of the previous IOU and requestor having Paypal? Correct? Because even if Requestor has Paypal but Payer doesn't it shouldn't show "Paypal" as the default

[2021-12-28 03:52] mananjadhav commented on #6552
Would we show "Sign out" immediately? or after a few times of "Refresh"?

[2021-12-28 05:06] marcaaron commented on #6889
I believe the expected behavior is that the person who is _being paid_ (a.k.a. "requestor") must have a PayPal.me address set. So the "I'll settle elsewhere" should show when the requestor has not set their PayPal.me address.

Previous IOU should not have any bearing. The requestor must have a PayPal.me address set.

No, if someones has this address set up then _anyone_ can pay them (i.e. not limi

[2021-12-28 05:43] mananjadhav commented on #6889
Thanks, @marcaaron  for the detailed explanation. Button option is based on the "Requestor's" Paypal.me address availability.

[2021-12-28 05:53] marcaaron commented on #6552
There's more context in the Slack thread on how we might do it. It might be fine to keep the implementation simple and show the Sign Out button immediately. A user would most likely try to "Refresh" first and then "Sign Out" if they land on the page again. The important thing seems to be that they have some kind of escape hatch.

[2021-12-28 05:55] marcaaron commented on #6873
Yes, definitely agree it's a separate issue.

[2021-12-28 11:50] Beamanator commented on #6669
Putting this issue on hold for now, as there's some internal discussions surrounding offline functionality for the app

[2021-12-28 12:27] mananjadhav commented on #6873
**Proposal**

In the `Header` component,

1. I'll implement a prop `hasFileNameInSubtitle`, which would either be Boolean.

2. If the prop is set then I'll implement what we've done in `ReportTypingIndicator`. Two Views split by `.`. The first `View` and `Text` will have ellipsis with `flex-shrink: 1`. The second `View` with `flex-shrink: 0`, which shall have the extension.

Quick highlights,
1. B

[2021-12-28 13:05] mountiny commented on #6725
@CamilaRivera This proposal looks great! I think I would like to make this a little bit more general so adding the `autoCapitalize` as props to `TextInputWithPrefix` and pass default props as is the default per `TextInput` documentation will give us more wiggle room in future.

Just to confirm, have you tried the hardcoded solution and confirmed this will indeed solve this Android specific issue?

[2021-12-28 13:09] parasharrajat commented on #6699
None I can think of. I am waiting for updated proposals.

[2021-12-28 13:26] parasharrajat commented on #6908
It might be related to the recent changes. cc @marcaaron

[2021-12-28 13:26] laurenreidexpensify commented on #6900
Adding this to upwork now

[2021-12-28 13:30] laurenreidexpensify commented on #6900
https://www.upwork.com/jobs/~018c357627c8b5e886

[2021-12-28 13:33] laurenreidexpensify commented on #6096
Thanks @sidferreira all paid 👍🏽

[2021-12-28 13:33] #6096 closed

[2021-12-28 13:33] PrashantMangukiya commented on #6900
### Proposed Solution:

At present `title` is static so it shows same title all time. So we have to make title dynamic. We can set `title` (line 166) based on the `isVerifying` (line 161) variable, because `isVerifying` is controlling ui content that we concern. i.e. when `isVerifying` true it shows Let's Finish in Chat section, otherwise showing test transaction input form.
https://github.com/Exp

[2021-12-28 13:35] parasharrajat commented on #6873
I see that you are going to borrow a lot of logic from `ReportingTypingIndicator`. It indicates that we need to dry this up. I would suggest creating a small component that does that for us and reusing it.

The header is supposed to be generic and `hasFileNameInSubtitle` sounds like a very specific case. so I have a second thought.
Why don't we pass a component in the subtitle prop? Thus subtitle

[2021-12-28 13:38] laurenreidexpensify commented on #5918
paid $500 - solution ($250) + reporting bonus ($250)

[2021-12-28 13:38] #5918 closed

[2021-12-28 13:39] mountiny commented on #6725
@CamilaRivera Confirmed the hardcoded version works! 🎉 Let's fix this together 😊 Feel free to submit a PR with the general solution as you have described above.

[2021-12-28 13:41] laurenreidexpensify commented on #6760
Paid $250x 4 👍🏽

[2021-12-28 13:41] parasharrajat commented on #6900
@PrashantMangukiya proposal looks good but I am not sure what should be the expected header or it is supposed to be hidden? cc: @marcaaron

[2021-12-28 13:42] parasharrajat commented on #6725
Nice timing @mountiny , I was just looking at it.

:ribbon: :eyes: :ribbon:

[2021-12-28 13:43] laurenreidexpensify commented on #6733
@mananjadhav can you accept offer in Upwork + then we will issue payment? Thanks

[2021-12-28 13:45] parasharrajat commented on #6760
@laurenreidexpensify This is still in progress. There are supposed to be 4 PR and only 2 were done.

[2021-12-28 13:47] laurenreidexpensify commented on #6390
Hi @sidferreira if you accept the job in Upwork I will proceed with payment for you

[2021-12-28 13:52] laurenreidexpensify commented on #6748
@mananjadhav @thesahindia I've issued payment 👍🏽 Thanks

[2021-12-28 13:52] #6748 closed

[2021-12-28 13:54] laurenreidexpensify commented on #6647
@thesahindia I've invited to you to the job, once you've accepted we can pay 👍🏽

[2021-12-28 13:56] laurenreidexpensify commented on #6635
@thesahindia paid 👍🏽

[2021-12-28 13:56] #6635 closed

[2021-12-28 13:59] mananjadhav commented on #6873
Like that idea @parasharrajat. Yeah I can create a new component that replicates the logic and replace at both the places.

[2021-12-28 13:59] laurenreidexpensify commented on #6619
@parasharrajat paid - $500 (solution + reporting bonus)

[2021-12-28 13:59] #6619 closed

[2021-12-28 13:59] mananjadhav commented on #6733
@laurenreidexpensify Done

[2021-12-28 14:01] laurenreidexpensify commented on #6594
@thesahindia paid - @250 for reporting, $250 for solution

[2021-12-28 14:01] #6594 closed

[2021-12-28 14:03] laurenreidexpensify commented on #6496
@parasharrajat $500 paid - $250 for reporting, $250 for solution

[2021-12-28 14:03] #6496 closed

[2021-12-28 14:06] laurenreidexpensify commented on #6729
Payment issued 👍🏽

[2021-12-28 14:06] #6729 closed

[2021-12-28 14:09] laurenreidexpensify commented on #6694
@parasharrajat looks like this wasn't on upwork, i've just created a job and hired you, can you let me know when you accept and I'll pay you, thanks

[2021-12-28 14:10] sidferreira commented on #6390
@laurenreidexpensify done, thanks

[2021-12-28 14:11] thesahindia commented on #6647
Hi @laurenreidexpensify, I have already accepted the previous job offer for this issue.

[2021-12-28 14:16] mananjadhav commented on #6889
@marcaaron @iwiznia I guess this is working as expected.

- If the "Recipient/Requestor" has a Paypal.me account, (irrespective of whether the Payer/Sender has Paypal), it shows "Paypal.me" option.
- If the "Recipient/Requestor" doesn't have the Paypal.me set, then it shows "I'll settle elsewhere"

or am I missing anything?

[2021-12-28 14:18] CamilaRivera commented on #6725
Yes, I tried the hardcoded solution. Thanks, @mountiny! I will send my PR with a more general approach as you suggested. I just applied for the  Upwork job.

[2021-12-28 14:18] parasharrajat commented on #6694
I have accepted it @laurenreidexpensify

[2021-12-28 14:38] laurenreidexpensify commented on #6634
@thesahindia paid 👍🏽

[2021-12-28 14:38] #6634 closed

[2021-12-28 14:38] laurenreidexpensify commented on #5894
@parasharrajat can you confirm what latest is here? Is this ready for payment now?

[2021-12-28 14:53] parasharrajat commented on #5894
Not yet ready for payment.

[2021-12-28 14:59] laurenreidexpensify commented on #6733
paid 👍🏽

[2021-12-28 14:59] #6733 closed

[2021-12-28 15:00] laurenreidexpensify commented on #6390
Paid 🚀

[2021-12-28 15:00] #6390 closed

[2021-12-28 15:02] laurenreidexpensify commented on #6647
nice @thesahindia all paid now 👍🏽

[2021-12-28 15:02] #6647 closed

[2021-12-28 15:04] laurenreidexpensify commented on #6694
ace @parasharrajat all paid 👍🏽

[2021-12-28 15:04] #6694 closed

[2021-12-28 15:04] mananjadhav commented on #6907
This looks like a problem with all `OptionsSelector` instances.

1. Primarily all `OptionsSelector` except one, internally call `OptionListUtils/getNewChatOptions`.  We can just `.trim()` in `getNewchatOptions`.

[code]

2. The odd one out in `SearchPage`, we've already added `.trim()` in `getSearchOptions` function call.

[2021-12-28 15:20] mvtglobally commented on #6326
This specific Issue not reproducible during KI retests. (Third week). We can close it.
Other regressions are tracked separately

[2021-12-28 15:22] mvtglobally commented on #6518
Issue not reproducible during KI retests. (Second week)

[2021-12-28 15:23] K4tsuki commented on #6676
#### proposal

Summary:

My proposal is to keep the UX similar to when the App is online. After clicking `Invite` on `WorkspaceInvitePage`, App will immediately `goback` to `WorkspaceMembersPage`.  App will diplay additional info on member row with unfinished invite request, something similar to :

<details>
<summary>
Example:
</summary>

The text could be `Sending invitation, waiting for connecti

[2021-12-28 15:23] railway17 commented on #6326
Thank you, @mvtglobally .
So, can we also finish Upwork job now?
Or need to wait for the next deployment?

[2021-12-28 15:26] mvtglobally commented on #6675
Issue not reproducible during KI retests. (First week)

[2021-12-28 15:27] bfitzexpensify commented on #6427
Haven't had any action here for a while. Reposted the job [here](https://www.upwork.com/jobs/~0122bc7ec0bf9a7956) (editing in Upwork is broken at the moment) and raised price to $1000

[2021-12-28 15:28] parasharrajat commented on #6326
Ok, Looks like both regressions are fixed now. @mallenexpensify.

[2021-12-28 15:29] bfitzexpensify commented on #6470
@roryabraham tagging to check you've seen the comment above

[2021-12-28 15:31] mvtglobally commented on #6457
Issue not reproducible during KI retests. (Fourth week)Closing
We did not encounter this "Webpage not available" error again @marcaaron. It might've been a temporary glitch. If team is able to repro it again, we will log a separate issue.

[2021-12-28 15:31] #6457 closed

[2021-12-28 15:34] mvtglobally commented on #5159
Issue not reproducible during KI retests. (Third week). We can close it

[2021-12-28 15:34] parasharrajat commented on #6676
Interesting thoughts @K4tsuki. Could you please initiate a slack convo as you are suggesting the UI change?

[2021-12-28 15:35] mvtglobally commented on #6790
Issue not reproducible during KI retests. (First week)

[2021-12-28 15:35] parasharrajat commented on #5159
Note: I am awaiting payments for this. Thanks.

[2021-12-28 15:35] mvtglobally commented on #6792
Issue not reproducible during KI retests. (Second week)

[2021-12-28 15:43] parasharrajat commented on #6470
@eVoloshchak The line you are referring to is not related to GroupPage. Could you please write a new proposal explaining the final things you would do?

[2021-12-28 15:58] parasharrajat commented on #6872
@sobitneupane Are you suggesting to make the ExpensiTextInput as controlled?

[2021-12-28 16:06] parasharrajat commented on #6488
cc: @mallenexpensify

[2021-12-28 16:07] parasharrajat commented on #6876
Any update @kursat

[2021-12-28 16:08] parasharrajat commented on #6720
Waiting for proposals...

[2021-12-28 16:09] parasharrajat commented on #6622
@kavimuru Does the button float for other screens, like a profile page, etc? And was it working before?

[2021-12-28 16:10] parasharrajat commented on #6718
Thanks for handling it @mountiny .

[2021-12-28 16:12] aldo-expensify commented on #6907
Issue looks well described, adding External label.

[2021-12-28 16:12] sobitneupane commented on #6907
**Proposal**
In WorkSpaceInvite.js, we need to replace searchValue by searchValue.trim() in OnChangeText function
[code]

[2021-12-28 16:20] parasharrajat commented on #6772
@thienlnam What do you think about @srdjanrist 's approach? I think it is doable.

[2021-12-28 16:20] roryabraham commented on #6660
As stated [here](https://github.com/Expensify/App/issues/6660#issuecomment-991320218), there's no separate job for this. Since this work is done, I'm going to close it out.

[2021-12-28 16:20] #6660 closed

[2021-12-28 16:22] roryabraham commented on #6552
I agree, displaying the sign out button on the first load is fine.

[2021-12-28 16:24] roryabraham commented on #4379
Hopefully got a solution up for https://github.com/Expensify/App/issues/4977, so this PR is next.

[2021-12-28 16:25] roryabraham commented on #4977
PR is ready for review.

[2021-12-28 16:46] iwiznia commented on #6889
Oh, maybe that is the intended behavior... it does make sense to me that it works like that. Maybe the only thing needing update is the QA steps.

[2021-12-28 17:01] sobitneupane commented on #6872
@parasharrajat Now, BaseExpensiTextInput is structured as a controlled component but update of on change text in being maintained in class variable. So, though the state of textinput was updated from NewChatPage.js considering BaseExpensiTextInput to be a controlled component, the effect is not reflected. So by using state instead of class variable, we can make BaseExpensiTextInput controlled.

[2021-12-28 17:30] chiragsalian commented on #6890
@mvtglobally, can you ask the tester to do the following,
1. Go to https://staging.new.expensify.com/.
2. Open dev tools (option+cmd+i) on mac, then go to Application -> Local Storage -> https://staging.new.expensify.com/ -> Right click and clear.
3. Refresh the page, create a new account.
4. Wait for the email with magic link. Once they get the email copy the magic link URL.
5. Paste in a browser

[2021-12-28 17:59] adeel0202 commented on #6890
@chiragsalian please have a look.

https://user-images.githubusercontent.com/13783842/147593878-e780dab4-fa2d-44a5-8dca-fdd67e2bc8ee.mp4

[2021-12-28 18:02] developvsn commented on #6676
When I was working on multiple tasks, You pointed that I am a new contributor and suggested to check contributors guide [here](https://github.com/Expensify/App/issues/6386#issuecomment-975413724).

This time I would like to point that You're not objecitve, and have double standards because you are not suggesting @k4tsuki to check the contributors guide the same you did to us.

[2021-12-28 18:58] chiragsalian commented on #6890
Nice, thanks for the complete video. I was able to reproduce the same on staging. It's interesting that the network requests completed just fine too. Odd.
I haven't tried the same steps on production so I'll try that next and dig deeper into the code.

[2021-12-28 19:12] chiragsalian commented on #6890
Yup, looks like it failed on production as well for me for the exact same steps. I suspect it has something to do with the order of events where i.e.,
- If i clear local storage then create the account and then use the magic link all in the same browser it works fine.
- But if i attempt to create the account, then clear local storage and then use the magic link it fails on staging and production f

[2021-12-28 19:13] marcaaron commented on #6889
Testing on `main` with all the betas enabled and seems like things work correctly (almost):

1. Create a request as User A with PayPal.me set
2. Send to User B
3. As User B check tap Pay
4. PayPal.me option is available
5. But when selected the link generated has `undefined` in it
<img width="413" alt="2021-12-28_09-08-40" src="https://user-images.githubusercontent.com/32969087/147598969-e008cb6c-

[2021-12-28 19:18] marcaaron commented on #6900
I think definitely not hidden. @Expensify/marketing maybe can help.

[2021-12-28 19:24] adeel0202 commented on #6890
Well, I'm stuck on loading even if I don't clear local storage. I'm facing this issue every time I create a new account and set up its password 🤷

[2021-12-28 19:26] mvtglobally opened #6910 "Last read can be changed by sending this Report_UpdateLastRead with user account number - Reported by @K4tsuki"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Send API request Report_UpdateLastRead for Account A (left window), on Account B room using Account B credential.
& Change sequence n

[2021-12-28 19:28] stitesExpensify commented on #6893
@MitchExpensify @thesahindia's proposal LGTM!

[2021-12-28 19:29] stitesExpensify commented on #3922
First PR of this issue is done :tada: Checked it off in the comment [here](https://github.com/Expensify/App/issues/3922#issuecomment-997085240)

[2021-12-28 19:31] chiragsalian commented on #6890
Hmm thats really odd. I've hit you up on slack and we can maybe further discuss this 1:1 since it could be faster. Maybe even a screen share video chat since im curious to know whats up. Feel free to hit me up on newDot if you prefer that, my email is chirga@expensify.com.

[2021-12-28 19:34] mvtglobally opened #6911 "[HOLD for payment 2022-01-11] Tooltip above your own avatar in the LHN does not say “settings”"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Login
3. Hover over the your own avatar in the LHN

## Expected Result:
Tooltip above your own avatar in the LHN would say “settings”

[2021-12-28 19:46] mvtglobally opened #6912 "[$1000] After completing "Request money" journey the chat randomly redirects to other chat Reported by @mananjadhav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Have multiple chat discussions and groups
3. Pick the top discussion on LHN
4. Select Request money from "+" menu
5. Select same user

[2021-12-28 19:56] mvtglobally opened #6913 "[HOLD for payment 2022-01-27] Web - Group chat contacts are not showing ellipsis - Reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open app
2. Create group with multiple contacts
3. check LHN for display

## Expected Result:
Ellipsis should display if contacts are not fitting

[2021-12-28 20:04] neil-marcellini commented on #6908
👀

[2021-12-28 20:40] roryabraham commented on #5337
It seems to me like using the `isInternetReachable` state would be an easy potential solution to https://github.com/Expensify/App/issues/6059, but I don't see how it would address this issue. Adding our own `reachabilityTest` also seems like it might be more complexity than it's worth for these edge cases. Per their documentation,  it should really only be necessary on platforms that "don't supply

[2021-12-28 20:55] chiragsalian commented on #6910
Discussed with scott and taking over this issue 🙂

[2021-12-28 21:22] mallenexpensify commented on #3381
@azimgd paid $20,500 per [Jack's breakdown above](https://github.com/Expensify/App/issues/3381#issuecomment-1000572106).

Thanks for seeing this one through @azimgd , it's been the largest external issue we've ever had, feels realllly good to close this.

[2021-12-28 21:22] #3381 closed

[2021-12-28 21:46] kidroca commented on #3867
Added the migration: https://github.com/Expensify/App/pull/4908/files#diff-fc59a9d775dba3004d8ed5a4dec154bbd2487455e7c720afed29bc8003a5228f

[2021-12-28 21:48] johnmlee101 commented on #6518
Can you link the Slack message? 😄

[2021-12-28 21:48] johnmlee101 commented on #5987
No update!

[2021-12-28 21:51] anthony-hull commented on #6890
I'm reworking the logic of this page and API calls in this PR:

https://github.com/Expensify/App/pull/6587

The edge case of no account set in local storage when using this page will be covered with a redirect to the login screen.

[2021-12-28 21:54] anthony-hull commented on #6890
I think it is and the enter key was a red herring and a coincidence. The enter key and the submit button call the same function so why would they make a difference?

[2021-12-28 22:09] mallenexpensify commented on #6699
Doubled price to $500. There a bug in the new Upwork UI that won't let me edit the price, will do there once I'm able.

[2021-12-28 22:16] mallenexpensify commented on #6326
Thanks @parasharrajat for the update.  Thanks @railway17 for the help, paid in Upwork, $250.

[2021-12-28 22:16] #6326 closed

[2021-12-28 22:18] mallenexpensify commented on #6488
@eVoloshchak has been added to #expensify-open-source in Slack

[2021-12-28 22:21] mallenexpensify commented on #6891
@sketchydroide can you review @mananjadhav 's Proposal above when you're back? Thx
https://github.com/Expensify/App/issues/6891#issuecomment-1000652258

[2021-12-28 22:59] chiragsalian commented on #6890
Oh thats neat. Yeah have you already implemented that fix? Asking because when i tested your PR it currently went on infinite loop when i followed the test steps to reproduce issue mentioned [here](https://github.com/Expensify/App/issues/6890#issuecomment-1002245686).

Ah yes, i thought the issue was mostly focused on the enter key not working as expected. Now that i read the issue thread it defin

[2021-12-28 23:10] #5701 closed

[2021-12-28 23:13] neil-marcellini commented on #6908
I spent quite a bit of time looking into why it doesn't navigate to concierge but I couldn't find anything that indicates why it goes back to the last chat. I'll look at it more tomorrow.

[2021-12-28 23:40] yuwenmemon commented on #6860
Checking off #6890 as it is not a blocker

[2021-12-28 23:43] chiragsalian commented on #6910
Demoting since its not a severe bug and its not something users are actively exploiting.

[2021-12-28 23:45] mvtglobally commented on #6860
Checking off #6850 as #6873 is no longer a blocker

[2021-12-28 23:46] yuwenmemon commented on #6860
:shipit:

[2021-12-28 23:46] OSBotify commented on #6860
This issue either has unchecked QA steps or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2021-12-28 23:49] yuwenmemon commented on #6860
:shipit:

[2021-12-28 23:49] OSBotify commented on #6860
This issue either has unchecked QA steps or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2021-12-28 23:57] yuwenmemon commented on #6860
Checking off accessbility as per: https://expensify.slack.com/archives/C07J32337/p1640735798362100?thread_ts=1640735675.361800&cid=C07J32337

[2021-12-28 23:57] #6860 closed

[2021-12-28 23:57] yuwenmemon commented on #6860
:shipit:

[2021-12-28 23:59] botify commented on #6729
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.23-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6775

If no regressions arise, payment will be issued on 2022-01-04. :confetti_ball:

[2021-12-28 23:59] botify commented on #6760
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.23-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6788

If no regressions arise, payment will be issued on 2022-01-04. :confetti_ball:

[2021-12-28 23:59] botify commented on #6824
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.23-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6850

If no regressions arise, payment will be issued on 2022-01-04. :confetti_ball:

[2021-12-29 00:02] OSBotify opened #6920 "Deploy Checklist: New Expensify 2021-12-29"
**Release Version:** `1.1.24-8`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/6569
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6809
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6811
  - [x] QA

[2021-12-29 00:48] railway17 commented on #6326
Thank you, @mallenexpensify

[2021-12-29 01:01] railway17 commented on #6427
Hi, @iwiznia, @bfitzexpensify
If you still dislike my proposal, I would like to confirm again.

1. I am writing the number conversion below, please make sure it is correct.
`123, 456, 678.89` -> `123. 456. 678,89`
`12.36`->`12,36`

2. **While entering a comma** in the IOU, it should be displayed as a dot instantly unless it is float point? So even though I typed `123, 456, 235`, then it should be

[2021-12-29 03:16] K4tsuki commented on #6699
In developer tools with simple dom search on last message, I can only find three place where last message is used when search page is opened. In LHN, in RHN and in "fragment" of  `ReportActionView` element.

https://user-images.githubusercontent.com/1313124/147623949-80494ad8-21d5-4798-8e8c-1e33067cc022.mp4

As you can see in the video, the dom element of `ReportActionView` part is keep increasing

[2021-12-29 03:17] sobitneupane commented on #6911
**Proposal:**
Changing tooltipText to `{this.props.translate('common.settings')}` in AvatarWithIndicator component in SidebarLink.js solves the issue.
[code]

[2021-12-29 04:41] mvtglobally opened #6921 "[HOLD for payment 2022-01-11] Feature Request - Specify macOS in App Download links - Reported by @mananjadhav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Go to settings > About > App download links

## Expected Result:
It should show an unsupported format on Windows or specify MacOS for

[2021-12-29 04:45] mvtglobally opened #6922 "The copy on the Change Password screen looks incomplete - Reported by @mananjadhav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Go to Profile > Security > Change password page

## Expected Result:
Text display should be a single sentence dynamically resized bas

[2021-12-29 04:55] mananjadhav commented on #6921
**Proposal**

It is a small copy change, in `en` and `es`,

[code]

[2021-12-29 05:00] mananjadhav commented on #6922
**Proposed solution**

I'd reported this and its a very small fix. Need to remove `\n` from the `en` and `es` file.

![image](https://user-images.githubusercontent.com/3069065/147628892-3e4b824d-c67c-4d06-b7f7-85afc2dc1b84.png)

[2021-12-29 05:43] adelekennedy commented on #6759
Not overdue!

[2021-12-29 06:16] K4tsuki commented on #6676
This is not true, I have been warned too, In [here](https://github.com/Expensify/App/issues/5699#issuecomment-998061239) and [here](https://github.com/Expensify/App/issues/6474#issuecomment-997803346). But my pull request has been accepted in [here](https://github.com/Expensify/App/pull/6849#pullrequestreview-840542102). <br />
I also submit complaint in [here](https://github.com/Expensify/App/iss

[2021-12-29 07:27] parasharrajat commented on #6676
Thanks, both of you for showing your concerns.

@developvsn, I haven't selected his proposal, or did I? @K4tsuki has suggested a few UI changes that are not necessarily needed for this issue but could be useful. so I asked him to raise this in Slack.

Let me know if still feel the same. I would be happy to answer your questions. You can always raise your concerns in slack.

[2021-12-29 07:35] parasharrajat commented on #6427
Luke is probably on leave but here are a few questions before I review the proposals.
https://github.com/Expensify/App/issues/6427#issuecomment-989201104

[2021-12-29 07:53] parasharrajat commented on #6872
Thanks, @sobitneupane for clarification. I think It is fine to do. But I would like to discuss this in slack as this would affect all inputs in the app.

If we do this, there are a few other places where we have to do a small clean-up. I will point out those once we moved with your solution.

[2021-12-29 07:53] marcaaron commented on #6908
Thanks, but what recent changes are you referring to @parasharrajat?

[2021-12-29 08:00] parasharrajat commented on #6908
I was referring to this https://github.com/Expensify/App/pull/6581

[2021-12-29 08:44] K4tsuki commented on #6676
slack : https://app.slack.com/client/T03SC9DTT/C01GTK53T8Q/thread/C01GTK53T8Q-1640763879.205800

[2021-12-29 10:29] sobitneupane commented on #6872
Okay @parasharrajat . Should I message you in slack?

[2021-12-29 10:35] parasharrajat commented on #6872
Sorry, I meant I will discuss this on the public channel.

[2021-12-29 11:48] zoontek commented on #5620
I worked a lot on it the last days, added push notifications, background fetching, deeplinks support to the example app in order to debug the module at best (even if I only suspecting since we don't have solid reproduction steps).

In order to simulate a JS thread that init itself too soon (currently throws this error on v3: https://github.com/zoontek/react-native-bootsplash/issues/264), I edited

[2021-12-29 12:27] parasharrajat commented on #6889
Great. So this issue can be closed until we find another occurrence of it and let's open another issue for `undefined` username. It must be an issue with URL.

[2021-12-29 12:32] mvtglobally commented on #6920
Starting QA

[2021-12-29 12:40] mountiny commented on #6920
@nickmurray47 The InternalQA PR https://github.com/Expensify/App/pull/4329 will not be available to QA until Web-E PR https://github.com/Expensify/Web-Expensify/pull/32181 will be deployed, right?

[2021-12-29 12:51] Gonals commented on #6912
Setting tags and sending to the pool!

[2021-12-29 13:08] thesahindia commented on #6779
@tgolen
### Updated proposal

Changes needed to fix this issue with all the requirements:

`DateUtils.js`
[code]

`DetailsPage.js`
[code]

`ParticipantLocalTime.js`

[code]

[2021-12-29 13:09] mananjadhav commented on #6889
I checked that as well. We're just setting the wrong parameters. In `IOUDetailsModal`, we're passing `submitterPayPalMeAddress` instead of `requestorPayPalMeAddress`, which is used inside `IOU.payIOUReport` function. The same needs to be updated for the phone number parameter as well.

[2021-12-29 14:40] laurenreidexpensify commented on #6922
https://www.upwork.com/jobs/~01a4baf2f2cde970de

[2021-12-29 14:48] shangardezi commented on #6922
Proposal:
- Check where the locale is used. If it's only used in that one screen:
- Remove the newline character
- Check the text is rendered as expected on a smaller and larger device

[2021-12-29 14:58] parasharrajat commented on #6922
@mananjadhav 's proposal looks good.

cc: @luacmartins

:ribbon: :eyes: :ribbon:

[2021-12-29 14:59] laurenreidexpensify commented on #6808
@Beamanator can you still repro this? If so I'm going to double price

[2021-12-29 15:11] developvsn commented on #6235
https://github.com/FaridSafi/react-native-google-places-autocomplete/issues/790 @NikkiWines @parasharrajat Here's the twelve-day already in the no-review from publisher.  Any ideas what to do next?

[2021-12-29 15:37] parasharrajat commented on #6235
I think it's fine. I will spare some time this week to find a solution to the issue. Just back from vacation.

[2021-12-29 15:47] parasharrajat commented on #6877
Sorry for the delay here in reviewing proposals. I am waiting for an answer to https://github.com/Expensify/App/issues/6877#issuecomment-999730666.

[2021-12-29 15:50] kidroca opened #6927 "[Performance] Reduce Desktop size"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?
- Desktop app: large installer file size (326 MB)
- Desktop app: taking a lot of space after a fresh install (812 MB)

##

[2021-12-29 15:52] kidroca commented on #6927
This issue was requested by @mallenexpensify: https://expensify.slack.com/archives/C01GTK53T8Q/p1640735769186600?thread_ts=1640642055.143300&cid=C01GTK53T8Q

[2021-12-29 16:00] parasharrajat commented on #6927
This article seems helpful https://medium.com/gowombat/how-to-reduce-the-size-of-an-electron-app-installer-a2bc88a37732

[2021-12-29 16:04] parasharrajat commented on #6872
https://expensify.slack.com/archives/C01GTK53T8Q/p1640793789214900

[2021-12-29 16:12] kavimuru opened #6928 "VBA - Placeholder text for address field in company information page is displayed as "Personal address""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create NewDot account, verify it.
2. Create workspace and start the add VBA flow
3. Check the placeholder text for address field in  "Company inf

[2021-12-29 16:13] OSBotify commented on #6928
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-29 16:15] nickmurray47 commented on #6920
Ah yes, that's correct @mountiny!

[2021-12-29 16:19] kavimuru opened #6929 "mWeb - New Room- Button ''New room'' is not floating"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing #6880**

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with expensifail account.
3. Click the FAB button agai

[2021-12-29 16:21] OSBotify commented on #6929
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-29 16:21] mananjadhav commented on #6928
This commit here is causing the issue
https://github.com/Expensify/App/commit/3cddfcf3b599bc275252f1dcdc0f160f773cc6ce

Basically, we moved the "AddressSearch" from "Personal" and "Company" step to a separate component but kept the placeholder as `common.personalAddress` only.

We can quickly resolve this:
1. By either adding a prop `addressTranslateKey` and passing `common.personalAddress` and `c

[2021-12-29 16:30] aldo-expensify commented on #6928
@mananjadhav You are right, thanks for finding that. I'll start working on it now.

[2021-12-29 16:32] mananjadhav commented on #6928
@aldo-expensify I wasn't sure if the team is working due to holidays. I've created a quick PR as it was a deploy blocker. You can use it if you want.

[2021-12-29 16:35] mananjadhav commented on #6929
Would we call it "DeployBlocker" if it is under active development, behind beta and exists on production too?

[2021-12-29 16:46] aldo-expensify commented on #6928
Thanks, looks fine. I was just doubting if we wanted to go this way or `we make a generic key that works for both`. I guess this way is better because even if it makes the code a bit uglier, it is better for the user experience than having a common text.

[2021-12-29 16:49] mananjadhav commented on #6928
Exactly.

[2021-12-29 16:53] iwiznia commented on #6927
I don't think we should go the chrome route. Either we make the app smaller or we don't, making the installer seem small is not worth it IMO.

[2021-12-29 16:57] luacmartins commented on #6922
@mananjadhav your proposal looks good. While you are at it, would you mind also removing `\n` from `passwordPage.newPasswordPrompt` and `passwordPage.errors.newPassword`? Those are also breaking in the same way.

[2021-12-29 16:58] kavimuru opened #6931 "[HOLD for payment 2022-01-27] Mac - Safari - IOU - Unable to paste the amount copied from notes"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing #6811**

## Action Performed:

1. Copy a numeric value from Notes on MAC (it has to be a "title" in notes)
2. Go to FAB
3. Click on Send

[2021-12-29 16:59] OSBotify commented on #6931
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-29 17:05] mananjadhav commented on #6922
@luacmartins Sure I'll do that.

[2021-12-29 17:12] akshayasalvi commented on #6931
#6811  is my PR. The change that I made was to allow pasting for mobile devices. This problem exists in the production too (where my code doesn't exist) and seems to be unrelated to my PR.

[2021-12-29 17:22] kavimuru opened #6932 "Android - White screen displayed after log out"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Send some messages or request money
4. Log out

## Expected Result:
User should log out from the acc

[2021-12-29 17:23] OSBotify commented on #6932
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-29 17:30] kbecciv opened #6933 "Android - White screen displayed after log out"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log in with any account
3. Go to Settings and  Log out

## Expected Result:
User should log out from account

## Actual Result:

[2021-12-29 17:31] OSBotify commented on #6933
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-29 17:32] iwiznia commented on #6427
IMO the expected behavior is that the keyboard and the amount show `,` instead of `.` if your language's decimal separator is `,`.  Not sure about the keyboard, but for showing the amount correctly, that is all handled by the existing number formatting functions.

[2021-12-29 17:34] phivh commented on #6841
Hi @mountiny, I've proposed 2 options above and I want to demonstrate a simple one that catches by the error message, and this is related to existing ways that are currently on the app.

After debugging, there are still missing 2 error messages on iOS and 1 crashing message on android.

So, I can add them into `src/CONST.js`
[code]

Then handle in `src/components/Onfido/index.native.js` at catchin

[2021-12-29 17:35] #6933 closed

[2021-12-29 17:39] kbecciv commented on #6933
You can comment : The issue has been already exported by @kavimuru
https://github.com/Expensify/App/issues/6932 so closing this one

[2021-12-29 17:43] railway17 commented on #6427
Btw, it doesn't a little complex.
Because we might use `,` keyboard while sending messages in chat, it is a little confusable.
Let's assume that we are sending message like `Hi, XXX! I've send $12, 322, 23.12  to you` in the chatbox.
Even though we are discussing about IOU board, we can assume this case.
In this case, there maybe some other complex problems if you have to change the `,` and `.` in

[2021-12-29 17:48] parasharrajat commented on #6841
Thanks for @phivh providing more details. There are a few concerns.
- Why are we comparing the whole error message?
- Can we rely on this message for a long time?

Don't we have an error code or something to identify the error???

You can help me understand this better via linking me to the documentation, if possible.

[2021-12-29 17:55] iwiznia commented on #6427
I am very confused by your message. This issue applies to where we display or input an amount.
If you are writing text on the chat, we won't do anything and send the message as you wrote them, without any processing or change.

[2021-12-29 18:10] mananjadhav commented on #6932
This has cropped up in #6898. The undefined check for the appStateSubscription is missing.

https://github.com/Expensify/App/blob/29e469a8664f0d9f25fdace49628b60129f9e93c/src/libs/AppStateMonitor/index.js#L27-L30

**Change it to:**
[code]

cc - @aswin-s @parasharrajat  Since you guys were involved in the PR.

[2021-12-29 18:14] aldo-expensify commented on #6929
If the reported problem was already in production, then it is NOT a deploy blocker because we are not introducing the problem with this deploy.

[2021-12-29 18:24] chiragsalian commented on #5337
Thanks for those thoughts Rory. I feel like the issue doesn't feel like its worth the ROI at the moment and so i propose that we close this issue for now to work on tasks of higher importance. If we ever feel like this task is higher up on our ROI then we come back to it. Thoughts?

[2021-12-29 18:27] mvtglobally commented on #6931
@akshayasalvi your PR#6811 has Desktop and Web checked off as platforms where PR applies and should be tested. Are you saying it is incorrectly marked?

[2021-12-29 18:29] aldo-expensify commented on #6929
Hmm, I just tried this in Mobile Web (Chrome + Android) and the button floats up in Staging and in Production. @kavimuru
 What browser did you use un the video? IOS or Android?

[2021-12-29 18:29] aldo-expensify commented on #6929
You are referring to the green Button "Create Room", right?

[2021-12-29 18:40] aldo-expensify commented on #6932
Is it possible for `AppState.addEventListener('change', appStateChangeCallback);` to return `undefined`? I failed to find what it returns in the documentation :(

Documentation: https://reactnative.dev/docs/appstate#addeventlistener

[2021-12-29 18:42] parasharrajat commented on #6932
Unfortunately, PR was merged before I was able to test it.
But we are planning to upgrade the RN to v65 and this problem will be resolved there. cc: @roryabraham

[2021-12-29 18:42] akshayasalvi commented on #6931
Well when I marked Desktop and Web, it was just to ensure that it didn't break anything that worked already. The intended PR changes were supposed to be for Mobile Web, iOS and Android.

and as I described the issue exists in production as well and hence not related to my PR.

[2021-12-29 18:46] parasharrajat commented on #6929
Sadly, we can't fix this issue. Safari Mobile Web does not work well with flexbox so we can just close this issue. You can observe the same behavior for ProfilePage and other pages where the button is fixed at the bottom.

[2021-12-29 18:46] aswin-s commented on #6932
Thanks @parasharrajat. Yes as explained over [here](https://github.com/Expensify/App/pull/6898#issuecomment-1002246449), removeEventListener was deprecated only in version 0.65 and we are still on 0.64.x. So the real fix is to upgrade react native version. I already tested @roryabraham's PR on iOS and everything looks good. We might want more eyes on that PR.

[2021-12-29 18:46] kidroca commented on #6391
I've investigated `focus()` calls that might be stealing focus away from the compose box
There's chance for focus to be lost when you quickly open and then close the search modal

https://user-images.githubusercontent.com/12156624/147692366-14b36bb1-102f-4915-b8d2-9e06b4668c4b.mp4

- _I'm using `Cmd + K` to open "Search" and then quickly pressing "Escape" to close it_

But according to the steps t

[2021-12-29 18:47] aldo-expensify commented on #6931
Hmm, I tested this in staging in Safari + Mac (Web) and it seems to work fine:

https://user-images.githubusercontent.com/87341702/147693882-aa2eb239-8b71-41a2-bbaf-5379ff9f42ae.mov

I used `Cmd + c` to copy and `Cmd + v` to paste, did you do something different?

[2021-12-29 18:50] aldo-expensify commented on #6929
@kavimuru I think it will be helpful if you can add the browser being used when is Web testing.

[2021-12-29 18:53] mananjadhav commented on #6932
@parasharrajat @roryabraham Are we going to merge the RN upgrade PR soon? If not then we should merge the null check PR so that it can be removed from DeployBlocker. If we'll merge soon then that's the ideal fix.

[2021-12-29 18:54] mvtglobally commented on #6920
@yuwenmemon @roryabraham We are still waiting for IOS and Desktop builds. Can you please check

[2021-12-29 18:56] aldo-expensify commented on #6932
But... `removeEventListener` doesn't seem to be used here, the new way `.remove()` is being used.

I don't think that the PR upgrading RN will be cherry picked to staging, so I agree with `we should merge the null check PR so that it can be removed from DeployBlocker`.

[2021-12-29 18:57] aldo-expensify commented on #6932
Which PR? https://github.com/Expensify/App/pull/6898?

[2021-12-29 19:02] kidroca commented on #6391
The only way possible to lose focus of the composer for me is to
1. Focus something else outside Expensify - like clicking on an email notification
2. Pressing `Cmd + H` to hide Expensify

In either of these cases even though I originally had focus inside the compose box, when I return to Expensify focus is lost and I need to click on the compose box to focus it

[2021-12-29 19:07] aldo-expensify commented on #6928
PR has been merged to staging

[2021-12-29 19:09] luacmartins commented on #6913
I believe this was introduced when we updated `react-native-web` in this PR https://github.com/Expensify/App/pull/6738. cc @azimgd

[2021-12-29 19:10] kidroca commented on #6391
I've tried creating group chats, split bills and sending messages around between Account A and B, but I cannot reproduce the issue

I don't have any more ideas to try out

[2021-12-29 19:15] marcaaron commented on #6927
Thanks for the investigation! Just my opinion, but doesn't seem _super_ high priority considering contributors and Expensify staff are the main users of the desktop app at the moment and large installer sizes are not likely to inhibit anyone motivated to install and use the app. I would recommend we wait until there are more usage statistics to address the problem of a large installer. Just my 2 c

[2021-12-29 19:16] #6928 closed

[2021-12-29 19:16] parasharrajat commented on #6932
Yup. 6898.

[2021-12-29 19:24] luacmartins commented on #6913
This can be worked externally. Applied the labels. Unassigning myself.

[2021-12-29 19:33] aldo-expensify opened #6937 "Plaid: Chase testing account in dev shows "undefined""
I don't know if this happens with real bank accounts, but I'm pretty sure that the testing plaid chase bank account used to show the account numbers instead of "undefined"

## Action Performed:

1. Create NewDot account, validate
2. Create Workspace
3. Add VBA using plaid:
    - Bank: Chase
    - Account: user_good
    - Password: pass_good
4. The list of bank accounts show "undefined" in the comb

[2021-12-29 19:33] marcaaron commented on #6474
Yes, if one of those calls is the optimistic update then it seems fine to me.

@MitchExpensify I think we can hire @K4tsuki at this point seems like there is enough context here for us to address the issue.

[2021-12-29 19:36] aldo-expensify commented on #6937
Nevermind, my local env was outdated.

[2021-12-29 19:36] #6937 closed

[2021-12-29 19:41] aldo-expensify opened #6940 "Staging/Dev: Adding VBA using plaid bounces the user to manual step of adding Routing/Account number"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create new dot account
2. Create Workspace
3. Add VBA account using plaid:
    - Bank: Chase
    - User: user_good
    - Password: pass_good

##

[2021-12-29 19:41] aldo-expensify commented on #6920
I think this may be a regression: https://github.com/Expensify/App/issues/6940

I haven't been able to test if this problem is in production because I don't have bank credentials to test there.

[2021-12-29 19:42] OSBotify commented on #6940
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-29 19:51] aldo-expensify commented on #6940
Oh, I think that this may be intended behaviour now: https://github.com/Expensify/App/pull/6851

[2021-12-29 19:54] marcaaron commented on #6889
Yup sounds good. @mananjadhav want to report this in the Slack channel and we will get you assigned to fix that?

[2021-12-29 19:54] #6889 closed

[2021-12-29 19:54] marcaaron commented on #6889
@jliexpensify Let's please take down the associated Upwork job. 🙇

[2021-12-29 20:00] mvtglobally commented on #6929
@aldo-expensify this is Mobile Web / Safari browser

[2021-12-29 20:13] kavimuru commented on #6931
@aldo-expensify Still able to reproduce. I used right click menu

https://user-images.githubusercontent.com/43996225/147699925-aa147455-3680-4748-b8cd-c9d9c2cba96d.mp4

.

[2021-12-29 20:20] mallenexpensify commented on #5337
My concern with closing this is we have two issues here (as mentioned by @kidroca above)

- when the app is falsely assuming we're **offline** (the rare case)
- when the app is falsely assuming we're **online** (#6059)
    - this bug can be recreated consistently

#6059 has already been closed cuz it was considered a dupe of this one.  If we now close this, we will not have _solved_ either.   If t

[2021-12-29 20:22] kavimuru opened #6941 "[$4000] Android - Login - Login box moving up when tapping inside the field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Tap in the login input field

## Expected Result:
Login page shouldn't move up when the keypad opens to input login email addre

[2021-12-29 20:23] OSBotify commented on #6941
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-29 20:30] aldo-expensify commented on #6931
@kavimuru hmm I tried with the right click menu and it worked... 😕 I'm no sure about what could be making the difference...

https://user-images.githubusercontent.com/87341702/147700898-b8199df8-9e77-4629-92c5-8ecc8ae947f5.mov

[2021-12-29 20:33] aldo-expensify commented on #6931
Ohhh, I know now. The number you are copying is at the top of the note... it is part of the "title", if I copy "2021" from the date in the title you see in my video, it doesn't work 😮

[2021-12-29 20:33] roryabraham opened #6942 "Skip deploy if there's already a higher version deployed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Run a deploy.
1. One (or more) platforms fail to deploy.
1. Re-run the same deploy.

## Expected Result:
Platforms that have already deployed tha

[2021-12-29 20:35] roryabraham commented on #6910
Weird, not sure why marking a PR as `Internal` triggers an auto-assignment 🤔

[2021-12-29 20:37] deetergp commented on #6213
Hey @marktoman we generally require the testing/qa steps prior to doing the review. Would you please take a moment to fill them out?

[2021-12-29 20:43] rosegrech commented on #6900
@marcaaron what is meany by header? Can you screenshot that example so we don't assume what's the header please :) Thanks

[2021-12-29 20:43] aldo-expensify commented on #6931
So... as @akshayasalvi  pointed out, I confirmed that this problem is already in production and doesn't seem to be related to the changes introduced by https://github.com/Expensify/App/pull/6811

I'll remove the `deploy blocker` label because it is NOT a regression, but I'll keep the GH issue because it is something we have to fix.

I would suggest a solution that simply strips anything that is no

[2021-12-29 20:44] aldo-expensify commented on #6931
Changing this to `Weekly` as I see at as an edge case.

[2021-12-29 20:45] aldo-expensify commented on #6920
Removed `deploy blocker ` label from https://github.com/Expensify/App/issues/6931 because of reasons exposed here: https://github.com/Expensify/App/issues/6931#issuecomment-1002769992

[2021-12-29 20:48] mallenexpensify commented on #6391
I tried to reproduce using my steps in the OP (and in the Slack convo) and was unable to. I think, for now, I'll assign you then leave the issue open for a bit to see if anyone else (or us!) encounter the issue again.

[2021-12-29 20:50] aldo-expensify commented on #6929
PR with fixed merged and CP'd to staging.

[2021-12-29 20:51] aldo-expensify commented on #6932
PR with fixed merged and CP'd to staging.

[2021-12-29 20:55] rosegrech commented on #6900
In this screenshot, there seem to be some small punctuation issues to address:

![image](https://user-images.githubusercontent.com/32204375/147701724-667812a5-3d6a-44a7-acac-646e2a53d246.png)

- We use "!" 3x times which we try to avoid in such short copy.
- "No, let's start over" has no punctuation where the previous action has "!". We should be consistent in punctuation use not only in the same

[2021-12-29 20:56] rosegrech commented on #6900
In this screenshot, we shoudl have periods "." at the end of each sentence.

![image](https://user-images.githubusercontent.com/32204375/147701811-b76e087f-a233-4391-abc1-752d45e9e84a.png)

[2021-12-29 21:07] mvtglobally opened #6944 "Unable to delete/remove my Paypal.me username - Reported by @mananjadhav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. navigate to Settings > Payments > PayPal.ne
3. Try to delete existing account

## Expected Result:
User should have an option to dele

[2021-12-29 21:08] mallenexpensify commented on #6927
@kidroca are you fine with me assigning this to you as a monthly? I can add the planning label too. There isn't an immediate need to decrease the file size but it's something we should be aware of and consider addressing.  We might be able to make incremental improvements over time too, which is why I'd like to leave this issue open.

[2021-12-29 21:18] mallenexpensify commented on #6910
Also unsure and unsure how to best search GH to see when it might have changed.  Checking here
https://expensify.slack.com/archives/C01SKUP7QR0/p1640812631324000

[2021-12-29 21:26] aldo-expensify commented on #6941
@kavimuru Did it scroll up by itself after you opened the keyboard?

I tried to reproduce this in my phone and didn't happen (failed to make a video):

<img width="400" src="https://user-images.githubusercontent.com/87341702/147704593-99b5b637-ffa2-4e2f-a491-91835daa51fd.png">

[2021-12-29 21:31] mallenexpensify commented on #6913
Related discussion here https://expensify.slack.com/archives/C01GTK53T8Q/p1640809897239200?thread_ts=1640704361.161500&cid=C01GTK53T8Q

For whomever works on this issue, please also check that the ellipsis are showing properly in Search in Right Hand Nav (RHN) too.

[2021-12-29 21:31] kavimuru opened #6945 "IOU - Unable to request money in a newly created account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition : Create a new account and verify on newdot.
1. Login with new account
2. Request money from someone.
3. Enter existing expensify email

[2021-12-29 21:41] roryabraham commented on #6306
No update yet

[2021-12-29 21:42] roryabraham commented on #6789
No movement on the PR. We could still test with our fork. This is no longer critical because we figured out the root cause. Going to switch this to monthly.

[2021-12-29 21:42] roryabraham commented on #4629
Order looks correct - this is still on hold for now. I'm going to make it a monthly while it's still on hold.

[2021-12-29 21:44] roryabraham commented on #5894
@sidferreira has been working diligently to try and get this fixed properly. We might end up having to revert the initial solution and instead do a simpler one where we just disable scrolling on the composer.

[2021-12-29 21:45] roryabraham commented on #6675
No update yet. That said, the solution I suggested here:

I think this makes sense, but it might be unnecessary if/when we implement offline image storage in Onyx.

[2021-12-29 21:46] roryabraham commented on #4010
No update – still not a priority

[2021-12-29 21:47] kavimuru opened #6946 "Settings - Time zone options doesn't change to Spanish"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in with a applause.expensifail account
2. Navigate to Settings > Preferences
3. Set the language to Spanish
4. Verify the app language change

[2021-12-29 21:50] jliexpensify commented on #6889
Apologies, was OOO - done now @marcaaron

[2021-12-29 21:56] roryabraham commented on #5337
That makes sense to me.

[2021-12-29 22:02] sidferreira commented on #5894
@roryabraham I think I should:

a) create a PR reverting the changes
b) create another PR trying https://github.com/Expensify/App/issues/5894#issuecomment-973563994 ?

[2021-12-29 22:06] mountiny commented on #6910
That is expected behaviour to make sure we pay the contributor for reporting. The OG issue is here https://github.com/Expensify/Expensify/issues/185425. It was triggered because there is the `Reported by` part in the title.

[2021-12-29 22:19] mountiny commented on #6841
I agree with @parasharrajat that it might be more future-proof to use some code rather than the exact error message text (in case they would change it).

However, in general, this is a very good proposal. Great job @phivh! Can you first help us understand the Onfido reports better (as Rajat mentioned, link the documentation) before we move on? Thank you very much!

[2021-12-29 22:21] mvtglobally opened #6947 "[HOLD for payment 2022-01-11] PayPal.me link redirects to Undefined account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Add a valid PayPal id
3. Click on any money request and select to Pay with PayPal.me
4. Check that link redirects to correct account

[2021-12-29 22:25] mananjadhav commented on #6947
@mvtglobally This isn't reported by me. It was reported by @marcaaron. I am going to propose the solution which I mentioned in the https://github.com/Expensify/App/issues/6889#issuecomment-1002587066

[code]

cc - @marcaaron

[2021-12-29 22:29] mvtglobally commented on #6941
@aldo-expensify, 2 different testers were able to reproduce this issue on Android. I will collect more info and share shortly.

[2021-12-29 22:29] mountiny commented on #6946
I think this si actually not a bug. The timezones need to be in this English format so they can be converted to actual timezone offset. These names are IANA standardized. I have asked in the [Slack here](https://expensify.slack.com/archives/C01GTK53T8Q/p1640815297245900) to discuss this.

[2021-12-29 22:35] aldo-expensify commented on #6941
Thanks!

On Wed, Dec 29, 2021, 19:29 Maria Ajmera ***@***.***> wrote:

[2021-12-29 22:36] mountiny commented on #6920
@nickmurray47 Therefore I have check the [PR](https://github.com/Expensify/App/pull/4329) off. We will QA it together with the Web-E PR and all the features are under beta so no need to worry about that.

[2021-12-29 22:38] mallenexpensify commented on #6780
@puneetlath when you're back from being OOO can you review @mananjadhav 's proposal above? Thx

[2021-12-29 22:39] mallenexpensify commented on #6693
PR is on staging, should hit production soon...

[2021-12-29 22:41] mallenexpensify commented on #6591
Doubled price to $1000 https://www.upwork.com/jobs/~01342882f93e8ea651

[2021-12-29 22:43] mallenexpensify commented on #6591
Weird, @iwiznia shouldn't have been assigned as a CME because @pecanoro was already assigned.  Not sure why that happened,

[2021-12-29 22:46] mallenexpensify commented on #6058
Still holding..

[2021-12-29 22:46] mallenexpensify commented on #5766
Still holding..

[2021-12-29 23:00] mallenexpensify commented on #6563
@Luke9389 is back on Monday and will review the PR then

[2021-12-29 23:06] mallenexpensify commented on #6359
@parasharrajat apologies for the delay here, I hired you, can you accept the offer so I can pay?

@mosfiend the best place to look for jobs is here https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3A%22Help+Wanted%22
it's all jobs with the `Help Wanted` label, the one's we're hiring for

[2021-12-29 23:13] mallenexpensify commented on #6301
Doubled price to $1000 (apologies for the lable/assignee blast, was testing something...)

[2021-12-29 23:24] mallenexpensify commented on #5952
@johnmlee101 @roryabraham can one of you review the PR when ya have time, @kidroca 's been waiting over two weeks (and yes... it's the holidays....)

[2021-12-29 23:56] mallenexpensify commented on #6910
Thanks @vitHoracek , that makes sense.  I re-assigned myself

[2021-12-30 01:10] mallenexpensify commented on #6359
Paid @parasharrajat

[2021-12-30 01:10] #6359 closed

[2021-12-30 02:04] kbecciv opened #6948 "Android/IOS - Undefined showed instead of phone number after Pay by Venmo"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Login with phone number account (Account A)
3. Request money from another phone number account (Account B)
4. Log in with Accoun

[2021-12-30 02:05] OSBotify commented on #6948
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-30 02:25] mvtglobally commented on #6947
Adding deploy blocker label as we are unable to repro in PROD

[2021-12-30 02:25] OSBotify commented on #6947
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-30 02:52] CamilaRivera commented on #6913
The ellipsis is not working well because of the `white-space: nowrap` applied here:

https://github.com/Expensify/App/blob/894231476c5d3a5d8d17af30b1d4b641ec11e504/src/styles/styles.js#L1096

## Proposal

Remove this line of code: https://github.com/Expensify/App/blob/894231476c5d3a5d8d17af30b1d4b641ec11e504/src/styles/styles.js#L1096

This will not affect native because the style `whiteSpace.noWr

[2021-12-30 04:33] mananjadhav commented on #6947
@TomatoToaster @madmax330  Based on the comment here I was supposed to work on this https://github.com/Expensify/App/issues/6889#issuecomment-1002753705 but it turned out to be a DeployBlocker. Hence I've raised the PR before going through the Upwork process.

[2021-12-30 04:37] mananjadhav commented on #6948
@nickmurray47  I was fixing the Paypal `undefined` [issue](https://github.com/Expensify/App/issues/6947) and I've added a fix for the Venmo as well (the phone number wasn't passed similar to Paypal address).

[2021-12-30 06:01] PrashantMangukiya commented on #6900
@rosegrech In this issue we are talking about the header text as shown in image below. i.e. we are making changes to show header text dynamically based on a logical condition.

The grammar changes you suggested above https://github.com/Expensify/App/issues/6900#issuecomment-1002773243  and https://github.com/Expensify/App/issues/6900#issuecomment-1002773481  are also good and should be handled in

[2021-12-30 07:16] conorpendergrast commented on #6921
Do we need to say "MacOS Desktop" Given that there's only one MacOS, it may be simpler to just say "MacOS"

[2021-12-30 07:26] mananjadhav commented on #6931
What I'll propose is we strip down all the special characters or at least the markdown characters (excluding comma and period) and just keep the numbers. Worst case what can happen is someone intentionally pasting a string with special characters will see them stripped down to just numbers.

Regex: /[^0-9a-zA-Z.]/g

[2021-12-30 07:27] mananjadhav commented on #6921
Yeah looks simpler.

[2021-12-30 08:31] Beamanator commented on #6808
@laurenreidexpensify Yep! I just reproduced in Staging (error below)

<img width="1487" alt="Screen Shot 2021-12-30 at 12 29 13 PM" src="https://user-images.githubusercontent.com/3885503/147734693-eaa4f835-9dbd-411a-a426-b519f8d7467a.png">

[2021-12-30 08:41] nkuoch commented on #6944
We should just allow to update it to empty, like we do on web, instead of saying invalid.
![image](https://user-images.githubusercontent.com/2463975/147735601-803bceea-9e30-4092-8343-037e4737dc78.png)

[2021-12-30 09:16] kidroca commented on #6927
Yes, I'd like that

[2021-12-30 09:47] laurenreidexpensify commented on #6913
https://www.upwork.com/jobs/~01cfaafbf8184740e9

[2021-12-30 09:47] songlang1994 commented on #6427
I submit my proposal try to summarize this issue. Hope to make it more clear.

We're discussing the numbers format, especially the decimal point, which can appear in several different places.

### 1 Numbers that in internal storage
Numbers for internal storage we use a dot (".") as decimal point, never add any thousandth separator, and only keep the significant digits.

Examples:

[code]

This for

[2021-12-30 09:54] nickmurray47 commented on #6948
Yup, looks like that would solve the issue!

[2021-12-30 10:28] phivh commented on #6841
Hi @mountiny @parasharrajat

Don't we have an error code or something to identify the error???

This was also my concern when I looked into the error handling step (the code was implemented by Marc Glasser from the team), then I thought it could be a reason somewhere. So after looking deep into Onfido SDK I found there is quite constraint for error handling.

- There is an issue related to still o

[2021-12-30 10:51] Dal-Papa commented on #6929
I'm going to reassign to @aldo-expensify since he seems to know more and he can make the call on whether or not we close this since it seems not fixable. In the meantime, maybe we can remove the blocker ?

[2021-12-30 10:53] kidroca commented on #6927
Chrome's 1MB is not exactly a trick to make the app small, but actually to download only what's necessary

We have 2 architectures on mac now - x86 (Intel) and arm64 (M1) supporting both with 1 installer means 2x the size

#### One installer for all archs (current):
- ✅ installs on both architectures
- ❌ 2x package size due to architectures

#### Installer per arch:
- ❌ users can download the wron

[2021-12-30 11:02] Beamanator commented on #6913
@CamilaRivera 's proposal seems simple enough and looks effective, what do you think @parasharrajat ?

[2021-12-30 11:33] parasharrajat commented on #6913
Yup, I agree. It looks good. I don't think it will have any side effects. But I would like to see these to be tested in PR.
1. Search page.
2. Single User Chat In LHN.
3. Group title not reaching the sidebar boundary.

:ribbon: :eyes: :ribbon:

[2021-12-30 11:51] parasharrajat commented on #6841
Ok. Looking at this, I have second thoughts.

I don't think we can rely on error messages especially when they can break anytime. We will require to create an integration test to test that error messages are still the same which is overhead.

**But I don't see any other straight way of doing it. I think we can adopt this solution until we have better options available.** From this perspective, @ph

[2021-12-30 11:54] parasharrajat commented on #6948
Great seems like the same solution fixes both.

[2021-12-30 11:59] parasharrajat commented on #6427
Great explanation @songlang1994.

This is what is needed for this issue.

I don't think we need to worry about this. Hardware keyboards or virtual keyboards use standard keys and I think they will work just fine.

Do you have a proposal to fix the problem explained above?

[2021-12-30 12:04] zoontek commented on #5620
The PR is here: https://github.com/Expensify/App/pull/6950

[2021-12-30 12:12] parasharrajat commented on #6699
Were you able to identify which is causing the strings to append?

[2021-12-30 12:17] parasharrajat commented on #6872
Thanks for waiting on this. Unfortunately, keeping in mind that controlled input has performance issues, I can't accept the proposal that makes it controlled.

@sobitneupane Do you have any other solution to fix it by making it controlled? It is fine even if it involves refactoring the BaseTextInput.

[2021-12-30 12:21] parasharrajat commented on #6622
I think we can close this issue. Mobile Safari does not work well with flexbox layout so it can't be fixed without hacks. This is working well for all platforms except Mobile Safari.

[2021-12-30 12:24] Beamanator commented on #6913
Agreed! @CamilaRivera would you mind checking that your proposal doesn't cause any side-effects on the pages mentioned ^ (above)?

[2021-12-30 12:54] aldo-expensify commented on #6940
Closing this as this is intended behaviour now.

[2021-12-30 12:54] #6940 closed

[2021-12-30 13:44] aldo-expensify commented on #6921
In understand that for now, we will just change the copy to MacOS, right? Windows won't be supported.

[2021-12-30 14:03] sobitneupane commented on #6872
To clarify further, as we are storing the value in class variable instead of a state, value of input is being changed or controlled but not updated in the react component. The changed value is passed from OptionsSelector to BaseExpensiTextInput. So, If we select two options for the same search value, for the second selection, the input value is changed to ' ' as the input value was updated to ' '

[2021-12-30 14:03] mananjadhav commented on #6921
Yeah

[2021-12-30 14:17] parasharrajat commented on #6872
Well, I understood your proposal. I will get back to you.

[2021-12-30 14:27] aldo-expensify commented on #6929
I don't have an IPhone, but using the IOS simulator, this also happens in native IOS

[2021-12-30 14:30] aldo-expensify commented on #6929
As this is also happening in production for Safari + Mobile, I'll remove the blocker

[2021-12-30 14:31] aldo-expensify commented on #6929
@parasharrajat do you think this can be fixed for IOS native? I looks also broken in the simulator, but I haven't been able to test with a real device.

[2021-12-30 14:32] parasharrajat commented on #6929
Yup. If this exists on IOS. We should fix it there.

[2021-12-30 14:44] parasharrajat commented on #6929
Ok. It seems it does not work on IOS. so @thesahindia You would have to create a follow-up PR to fix this as this is supposed to be worked out on all platforms as part of https://github.com/Expensify/App/pull/6880.

[2021-12-30 15:11] K4tsuki commented on #6699
What is "the strings to append" means? Do you mean last message? I don't understand.
In RHN last message is only used once, even running search multiple times, it is only used once in RHN.

[2021-12-30 15:14] aldo-expensify commented on #6929
Discussed this a bit with @roryabraham , it is a deploy blocker. Considering it is a deploy blocker, it is time sensitive and we will resolve it by either:
- Fix it in IOS, or
- Revert [PR](https://github.com/Expensify/App/pull/6880)

[2021-12-30 15:15] OSBotify commented on #6929
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-30 15:16] parasharrajat commented on #6929
I can fire a quick PR if this is urgent. @aldo-expensify

[2021-12-30 15:17] rosegrech commented on #6900
Thanks @parasharrajat I agree with @marcaaron headers should NOT be hidden.

Can someone at Expensify on this issue let me know what labels etc are needed for a new GH to address the copy and punctuation changes I suggested, please?

[2021-12-30 15:18] parasharrajat commented on #6699
Please refer to this comment https://github.com/Expensify/App/issues/6699#issuecomment-997051452

[2021-12-30 15:21] aldo-expensify commented on #6929
Do you know how to fix it? Go ahead of you do :P

[2021-12-30 15:27] K4tsuki commented on #6699
Alternate text is based on `lastMessage`. I think using my proposal we can trim it.
And like I said before, it is only used three times it is not replicating.
1. In LHN it is it is used only once per room name. It is displayed below Room name
2. In RHN it is used only once per room name, it is  displayed below Room name, when search result contains that  room.
-----------------
3. (Not really last

[2021-12-30 15:27] mountiny commented on #6841
@parasharrajat @phivh Great write up Brian, thank you for this. I agree this is by far not the ideal solution, but if it is the best we have right now and it solves this problem, let's do it.

I believe if we cover this scenario in our QA steps this should never get to production before we notice something has changed. Additionally, we add the integration test, that would be even safer.

@phivh We

[2021-12-30 15:30] mountiny commented on #6946
@kavimuru or @mvtglobally Would you please be able to update your QA steps to make sure that this timezone picker is in English? It would be lots of effort to change this so we can leave it in English for all languages for now. Thank you very much!

[2021-12-30 15:32] parasharrajat commented on #6929
Yeah, Creating the PR.

[2021-12-30 15:36] aldo-expensify commented on #6929
Hmm, just noticed that that PR really doesn't add the "floating" behaviour of the green button. If you revert that PR, the button still floats in Android, but not in IOS.

[2021-12-30 15:40] thesahindia commented on #6929
Just checked, this should not be a regression from my [PR](https://github.com/Expensify/App/pull/6880) which was meant to fix this https://github.com/Expensify/App/issues/6826

cc: @aldo-expensify @parasharrajat

[2021-12-30 15:42] parasharrajat commented on #6929
yeah, this is not a regression but this could be considered as part of that PR as you were fixing the overlapping behavior of the button.

[2021-12-30 15:55] aldo-expensify commented on #6929
Thanks @parasharrajat , that solved the issue 🎉

[2021-12-30 16:55] mvtglobally commented on #6920
Checking off #6947. It has been fixed

[2021-12-30 16:56] madmax330 commented on #6947
Removing the deploy blocker, the fix for this was deployed to staging and worked here: https://github.com/Expensify/App/pull/6949

[2021-12-30 17:01] mananjadhav commented on #6947
@madmax330 I was hoping there'll be an Upwork job for this. Won't that be the case?

[2021-12-30 17:04] madmax330 commented on #6947
Hmmm let me double check and get back to you

[2021-12-30 17:07] mvtglobally commented on #6920
Regression is complete

Issues logged
1. https://github.com/Expensify/App/issues/6928
2. https://github.com/Expensify/App/issues/6931
3. https://github.com/Expensify/App/issues/6929
4. https://github.com/Expensify/App/issues/6932
5. https://github.com/Expensify/App/issues/6941

Pending PRs
Checking off #6569 as https://github.com/Expensify/App/issues/6928  is fixed
#6811 is failing due to #6931

[2021-12-30 17:38] phivh commented on #6841
@mountiny
Thanks! I'm preparing PR.
@parasharrajat
Who should I request to code review?

Hi @bfitzexpensify, I've just applied for the job on Upwork.

[2021-12-30 17:40] parasharrajat commented on #6841
@phivh it would be automatic and you don't have permission to request review.

[2021-12-30 17:46] anthony-hull commented on #6890
No I haven't yet :) those test steps are my acceptance tests while I develop. I still need to implement that edge case. It's still a draft PR, I only made it into an open one to get allocated an engineer. I should have reverted it to draft once I got allocated a reviewer.

Yes sure, I would be happy to tackle the issue. I'll try your reproduction steps.

Thanks for that link to the PR. It looks li

[2021-12-30 17:56] mvtglobally commented on #6941
@aldo-expensify
We have 2 testers with SG A50 - Android 11 & SG S21 - Android 12 able to reproduce the issue
and 2 testers with  SG S10 - Android 10 & Pixel 4 - Android 11 Unable to repro
I am not sure at this point if this is a device specific issue or anything else is causing it. But it definitely not impacting every user

[2021-12-30 18:11] adelekennedy commented on #6622
@parasharrajat in this case I don't think we have any reporting bonuses to pay out (Applause) are there any Upwork steps take before just closing out the job entirely?

[2021-12-30 18:13] parasharrajat commented on #6622
No, We should be good to just close this job.
1. No reporting bonus.
2. No one is hired for this.

Thanks.

[2021-12-30 18:16] iwiznia commented on #6927
Oh, good points. I assume that 2 needs 1, no? ie: we need the per arch installers that the "main" installer downloads, right?
If so, let's start with 1 and then we can do 2 if we want.

[2021-12-30 18:24] AndrewGable commented on #6929
FYI I am fixing a bug with the cherry pick GitHub action that we found via the PR that fixes this issue. Once we fix it we will retry the cherry pick.

[2021-12-30 18:31] aldo-expensify commented on #6941
Thanks @mvtglobally

Is it possible for these 2 testers to test it in production? If the issue is in production also, we can remove this as a deploy blocker.

[2021-12-30 19:00] #5312 closed

[2021-12-30 19:26] chiragsalian commented on #6890
Perfect, thanks @anthony-hull.

Wrt this statement, so i dug a little deeper. The code is actually failing not because of missing onyx account, but because of missing onyx credentials.login over [here](https://github.com/Expensify/App/blob/c7d6307650ff1a3df3708dbe196071e163755f01/src/libs/actions/Session/index.js#L237). But when we click setPassword we first call `ValidateEmail` which succeeds and

[2021-12-30 19:33] marcaaron commented on #6900
@rosegrech I think for those changes we can just create a new issue using the **Standard issue template** and then add the `External` label. No need to have something small like that go through triage.

[2021-12-30 20:07] mvtglobally commented on #6948
@mananjadhav @nickmurray47 Are we good to re-test?

[2021-12-30 20:11] MitchExpensify commented on #6823
Ooops @anthony-hull - Thanks, fixed!

[2021-12-30 20:14] MitchExpensify commented on #6823
This makes sense to me @mountiny !

[2021-12-30 20:21] MitchExpensify commented on #6907
[Upwork Job](https://www.upwork.com/jobs/~0146183a590c535df7)

[2021-12-30 20:24] nickmurray47 commented on #6948
I believe so, we applied the CP label so this should have gone directly to staging.

[2021-12-30 20:31] mountiny commented on #6823
Perfect! I will take the PR out of Draft and ask for a review.

[2021-12-30 20:33] MitchExpensify commented on #6893
[Upwork Job](https://www.upwork.com/jobs/~01e0c0b95cb7ed49eb) - Invite sent @thesahindia !

[2021-12-30 20:45] mountiny commented on #6946
Thank you Maria, I am closing this issue now.

[2021-12-30 20:45] #6946 closed

[2021-12-30 20:49] parasharrajat commented on #6907
Is this really an issue? I mean If the user is able to understand that leading spaces do not have a match then probably we don't need to add value manipulation. He can clear the space and run the search.

@mountiny  What do you say?

[2021-12-30 20:57] mountiny commented on #6907
@parasharrajat I see your point there but if we do not tell user what is wrong (they might not notice there is one space at the beginning or start, then it is bad UX.

If we can then easily prevent this confusion without bringing in some other problems, I see this as beneficial change.

[2021-12-30 21:03] aldo-expensify commented on #6907
Yep, I think it is pretty common when copy/pasting to add one space at the end/beginning without noticing.

[2021-12-30 21:05] MitchExpensify commented on #6474
Thanks @marcaaron !

@K4tsuki Mind making a proposal on the [Upwork job](https://www.upwork.com/jobs/~017db84cb8907040d1) so I can hire you? I can't see you via Upwork search

[2021-12-30 21:10] parasharrajat commented on #6907
Ok. Thanks, both of you for the explanation. I see.

I like @mananjadhav 's proposal more as he has covered all the common pages that have search functionality and we would like to keep the same behavior throughout the app. @sobitneupane Although, your solution works it is more or less the same as Manan's proposal.

Apart from it, it's important to keep the user input as it is, we don't want the i

[2021-12-30 21:39] aldo-expensify commented on #6929
The PR has been CP to staging, this is ready to be re-tested @kavimuru

[2021-12-30 21:43] AndrewGable commented on #6929
FYI cherry pick is still running here: https://github.com/Expensify/App/actions/runs/1638855455

[2021-12-30 21:48] aldo-expensify commented on #6929
Not ready to be tested yet then 😄

[2021-12-30 21:51] AndrewGable commented on #6929
mWeb is ready to retest now, other platforms (iOS, Android, Desktop) are still building until you see the ✅ here: https://github.com/Expensify/App/actions/runs/1638855455

[2021-12-30 21:57] #6823 closed

[2021-12-30 22:23] puneetlath commented on #6719
Asked some questions about the task IDs here: https://expensify.slack.com/archives/C07F03W66/p1640902561149500

[2021-12-30 22:28] shawnborton commented on #6719
Icon is here: [question-mark-circle.svg.zip](https://github.com/Expensify/App/files/7794791/question-mark-circle.svg.zip)

[2021-12-30 22:45] mallenexpensify commented on #6927
Thanks @kidroca, issue updated!

[2021-12-30 22:48] mallenexpensify commented on #6891
I just realized this issue hasn't been labeled `External` yet so I unassigned @sketchydroide then readded the `Engineering` label.  @MonilBhavsar , can you add the `External` or `Internal` label please?

[2021-12-30 23:05] K4tsuki commented on #6474
@MitchExpensify I cannot access that upwork job, written on  the page: "Access denied This job is private. Only freelancers invited by client can view this job."

[2021-12-30 23:28] anthony-hull commented on #6565
My proposal on upwork hasn't been accepted for this issue yet 😃

[2021-12-30 23:40] jliexpensify commented on #6921
Posted

Internal - https://www.upwork.com/ab/applicants/1476699573967556608/job-details
External - https://www.upwork.com/jobs/~011d59f7e7b46d820c

[2021-12-31 00:06] MitchExpensify commented on #6474
Done, thanks @K4tsuki !

[2021-12-31 00:19] K4tsuki commented on #6474
Thank you.

[2021-12-31 00:20] chiragsalian commented on #6565
Look like @jboniface is OOO this week but should be back next week to accept your proposal on upwork and ensure you get paid 🙂

[2021-12-31 00:23] chiragsalian commented on #6945
Not a daily since there are workarounds like pressing enter, Or first starting a message with the person and then requesting cash from them. Besides the "recent" list, the input field should allow you to request cash from any valid email/phone by pressing enter.

I'm a little confused why it doesn't work consistently here. Like if i enter a random valid email it works fine but when i enter an expe

[2021-12-31 01:33] mvtglobally commented on #6929
@aldo-expensify @AndrewGable
IOS, Desktop, Web is pass with new build.
Safari mWeb is still same

https://user-images.githubusercontent.com/43995119/147797868-994e964b-b5e3-488b-8995-9a6b3b02f0f8.MP4

[2021-12-31 01:35] mvtglobally commented on #6920
Checking off #6948. Re-test is a pass

[2021-12-31 01:37] mvtglobally commented on #6948
Issue is fixed. Should I close it?

[2021-12-31 01:42] mvtglobally commented on #6941
1 tester of 2 was able to repro in Prod. Removing DeployBlocker label

[2021-12-31 01:50] jliexpensify commented on #6944
Hi @nkuoch - just confirming: are we getting a Contributor to take care of it? Does an Upworks job need to be created?

[2021-12-31 01:59] nickmurray47 commented on #6948
I'll close!

[2021-12-31 01:59] #6948 closed

[2021-12-31 02:10] K4tsuki commented on #6591
#### proposal

I think the problem is  local data  `lastReadSequenceNumbers` isn't ready  when `Pusher.TYPE.REPORT_COMMENT` event received for new report action.

https://github.com/Expensify/App/blob/98d50cb322fd4488d19cd6edc5e5f843a99d6db3/src/libs/actions/Report.js#L75

<br />

When the event is received  `updateReportWithNewAction` will be called, but `lastReadSequenceNumbers` isn't ready.
Thi

[2021-12-31 02:16] mvtglobally commented on #6932
Retested. Issue is Fixed.

[2021-12-31 02:16] mvtglobally commented on #6920
Checking off #6932 . Re-test is a pass

[2021-12-31 03:57] mvtglobally opened #6965 "[$500] Slightly misaligned prefix input in room name for web compared to IOS/Android - Reported by @CamilaRivera"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open app
2. Click "+" and select New Room
3. compare Room name alignment

## Expected Result:
The text should be aligned across different platfor

[2021-12-31 04:06] mvtglobally opened #6966 "Some words are wrong in Spanish - Reported by @CamilaRivera"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Set language to Spanish
3. Navigate to Settings>Workspace>Connect bank account
4. Check text copy
5. Navigate to Settings>Workspace>

[2021-12-31 04:36] CamilaRivera commented on #6966
## Proposal

Replace "Intimidad" with "Privacidad" here:

https://github.com/parasharrajat/Expensify.cash/blob/0c9187d809c4cbbbb44b038b80b6aa650221b275/src/languages/es.js#L34

Replace "Invitación" with "Invitar" here:

https://github.com/parasharrajat/Expensify.cash/blob/0c9187d809c4cbbbb44b038b80b6aa650221b275/src/languages/es.js#L50

[2021-12-31 04:59] CamilaRivera commented on #6965
## Proposal

Set `alignItems: 'flex-start'` to the [parent](https://github.com/Expensify/App/blob/98d50cb322fd4488d19cd6edc5e5f843a99d6db3/src/components/TextInputWithPrefix/index.js#L34-L40) of the prefix + input by modifying the `container` style here:

https://github.com/Expensify/App/blob/98d50cb322fd4488d19cd6edc5e5f843a99d6db3/src/styles/styles.js#L679-L697

[2021-12-31 05:36] mvtglobally opened #6967 "[Pay on 3/8][$750] New room can be created with blank name - Reported by Abhishek Raj Pandey"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Create Workspace
3. Select "+" > New room
4. Enter any name and delete
5. Hit Create room

## Expected Result:
User should not be abl

[2021-12-31 06:27] K4tsuki commented on #6699
I understand now. `alternativeText` contains duplicate sentences of last message.
I thought  the problem was about trimming large last message only.
But I cannot reproduce  the issue. Need detailed steps to reproduce it, just like what eVoloshchak has said before.
Is it always happening? or happens only on specific case?

[2021-12-31 06:28] MonilBhavsar commented on #6891
This can be worked externally and I also think automatically inputing and removing `/` would provide good UX

[2021-12-31 07:46] mananjadhav commented on #6944
**Proposed Solution:**

While the solution is to just add a length check in `AddPaypalMePage`.

[code]

I feel we should show some kind of feedback to let user know that the Papyal.me username will be unset.

1. If the value was set by default and then we make it blank, change the button text, "Unset Paypal Account" or words like Remove, Delete
2. Show a confirm dialog box when making it blank, "T

[2021-12-31 08:06] ABee-Tech commented on #6967
I am Abhishek Raj Pandey. Here is my GH Handle: @ABee-Tech

[2021-12-31 08:08] laurenreidexpensify commented on #6922
@kevinksullivan am OOO next week, reassigning thanks

[2021-12-31 08:08] songlang1994 commented on #6427
Add translation for `BigNumberPad`. Currently I think just translate the decimal point is well enougth to match the requirement.
[code]

Localize `amount` before pass into `TextInputAutoWidth`
[code]

https://user-images.githubusercontent.com/19236594/147811328-06e91447-20c1-4722-8c08-d3232a84d985.mp4

https://user-images.githubusercontent.com/19236594/147811333-deac13f5-4149-44a8-9a70-99512449176

[2021-12-31 08:09] laurenreidexpensify commented on #6913
@mallenexpensify am OOO next week, reassigning thanks

[2021-12-31 08:09] mananjadhav commented on #6922
@laurenreidexpensify I've been assigned the issue and PR is also submitted but not hired on Upwork.

[2021-12-31 08:09] mananjadhav commented on #3245
Will submit by PR tomorrow

[2021-12-31 08:13] laurenreidexpensify commented on #6900
@jliexpensify am OOO next week, back 11 Jan so reassigning

[2021-12-31 08:14] laurenreidexpensify commented on #6808
@kevinksullivan am OOO next week, reassigning thanks

[2021-12-31 08:15] laurenreidexpensify commented on #6552
@Christinadobrzyn am OOO next week so reassigning thanks

[2021-12-31 08:18] laurenreidexpensify commented on #6922
@mananjadhav thanks - hired in Upwork now👍🏽

[2021-12-31 08:26] nkuoch commented on #6944
@jliexpensify Yes, I tagged it external so it can be worked on by a contributor via Upworks.

@mananjadhav Hmmm ... I'll let @shawnborton gives his opinion on it.

[2021-12-31 08:42] songlang1994 commented on #6427
Maybe we do need to transform the decimal point from users input.

In the video "hardware-keyboard.mp4" above, UI shows the localized format number "12,99" but actually I typed:

[code]

Because I am an English user and I am used to type "." as the decimal point. I think a real Spanish native user will type

[code]

[2021-12-31 11:01] parasharrajat commented on #6921
@mananjadhav 's Proposal looks good.
cc: @marcaaron

:ribbon: :eyes: :ribbon:

[2021-12-31 11:24] parasharrajat commented on #6929
I have one concern. As this is proved to be not a regression so am I eligible for payment to fix this? @aldo-expensify

[2021-12-31 11:27] parasharrajat commented on #6699
I will try more to see if that really a problem or was a glitch. If it was a glitch then we can just trim the message.

[2021-12-31 11:32] mananjadhav commented on #6967
This is because we're storing `#` at the beginning of the room name.

**Two approaches:**

1. Now in the whole `WorkspaceNewRoomPage`, we're using 'substr(1)' but in the `shouldDisableSubmit` flag we're using only `this.state.roomName`.  Just updating `!this.state.roomName` ==> `!this.state.roomName.substring(1)` will solve this.

2. The second approach might be some cleanup to always keep `this.s

[2021-12-31 11:38] ABee-Tech commented on #6967
Here is my proposal I have submitted into slack thread just after a minute I found the bug.
https://expensify.slack.com/archives/C01GTK53T8Q/p1640874569266400?thread_ts=1640874300.265900&cid=C01GTK53T8Q

### Proposal:

In the line: 131 of file pages/workspace/WorkspaceNewRoomPage.js
As per code in line 166, if shouldDisableSubmit is true then the create room button disables and when it becomes fal

[2021-12-31 11:39] parasharrajat commented on #6591
Thanks for the investigation @K4tsuki. I understood the problem.

Won't we miss messages?

What do you mean by this? Could you please explain in different words?
Are you saying that unread count will be fixed when next message is received

[2021-12-31 12:07] mananjadhav commented on #6967
@ABee-Tech Why would you want to set the default value as '#' in the constructor?

[2021-12-31 12:14] parasharrajat commented on #6967
Thanks for the proposal's guys.

@ABee-Tech I will have the same question as @mananjadhav. Apart from it point 2 looks good.

I have also, thinking why don't we always keep the roomName without `#` in the state. And only append # when sending the data to the backend. This will require a small refactor of `checkAndModifyRoomName`.

we also need a backend solution to throw an error when the room nam

[2021-12-31 12:26] mananjadhav commented on #6967
Exactly what I said in the second approach [here](https://github.com/Expensify/App/issues/6967#issuecomment-1003352883).  It is much cleaner than having `.substr` at all places.

And removing `substr` call at all places.

[2021-12-31 12:27] parasharrajat commented on #6427
yeah, that becomes another issue. We are only working on US layouts and expect users to type in US layouts. So if he types `,` instead of `.`. This is probably going to be trimmed. but if we types `.` then it would be converted to `,`.

This becomes a complicated problem. We are not only supporting Spanish. We will have other languages as well. So this solution will not be a generic one.

@iwiznia

[2021-12-31 12:35] ABee-Tech commented on #6967
Point 2 looks great. In that way, the code will not get messy using `substr(1)` everywhere.

[2021-12-31 13:01] parasharrajat commented on #5159
@kevinksullivan I think no Upwork job was created for this.

[2021-12-31 13:13] parasharrajat commented on #6967
Could you please post a proposal based on point 2?

[2021-12-31 13:39] shawnborton commented on #6944
I don't think we need to do anything crazy here. Maybe once the empty input is saved, we can just show a quick growl that says "PayPal.me username has been removed" or something like that?

[2021-12-31 13:52] parasharrajat commented on #6944
I agree with Shawn if we want to go this path then we can just show an alert.

Another approach would be to show a delete button to remove the PayPal account instead of leaving this to the user as he would have to guess or find out that clearing the input will remove his PayPal account.

this won't be user-friendly.

[2021-12-31 13:58] mananjadhav commented on #6944
@parasharrajat +1 for Delete button.

[2021-12-31 14:00] ABee-Tech commented on #6967
### Proposal for the solution to avoid using too many `substr(1)` many times:

The `prefixCharacter` prop on `TextInputWithLabel` cannot be used to just to show `#` in front of text input without affecting state. We can declare another prop to allow prefix character in state as `allowPrefixCharacterInState` which will add condition on file components/TextInputWithPrefix in line 47 like:
[code]

Th

[2021-12-31 14:13] parasharrajat commented on #6873
@mananjadhav Would you like to revise your proposal?

[2021-12-31 15:01] CamilaRivera commented on #6913
Hey @parasharrajat, so with my proposal it looks like this screenshot. I'm not so sure how to test case 3 "Group title not reaching the sidebar boundary".

<img width="1792" alt="Screen Shot 2021-12-31 at 11 59 05 AM" src="https://user-images.githubusercontent.com/47149004/147829495-0c1c8fc2-e0e3-4b1c-aa4c-748f14aec71d.png">

[2021-12-31 15:03] parasharrajat commented on #6913
Ok. I think it's fine. I will test it on PR.

[2021-12-31 17:20] K4tsuki commented on #6808
#### proposal

The problem is `getOptions` is fail to create option entry for the new room because it  is filtered in here:

https://github.com/Expensify/App/blob/615f5b3ff21cbdcf83ef2a050c875de2a0dbfb26/src/libs/OptionsListUtils.js#L400-L404

Because the room is empty and any others criteria.

Setting `showReportsWithNoComments` to true in:

https://github.com/Expensify/App/blob/615f5b3ff21cbdcf8

[2021-12-31 18:26] mallenexpensify commented on #6891
Job posted to Upwork - https://www.upwork.com/jobs/~01bcc8abfe9585856e
@parasharrajat can you review @mananjadhav 's proposal above plz https://github.com/Expensify/App/issues/6891#issuecomment-1000652258

[2021-12-31 18:28] marcaaron commented on #6948
I don't understand why this issue was not triaged, no Upwork created, and had a PR approved and merged. Seems like the process was not followed at all. Can someone explain why?

[2021-12-31 18:31] parasharrajat commented on #6948
Actually, this issue was reported after a similar [issue](https://github.com/Expensify/App/issues/6947) was created. Manan already created the PR for https://github.com/Expensify/App/issues/6947 which indirectly solves thus there is no job was created for this and we decided to close this.

On the other hand, the process was not followed for https://github.com/Expensify/App/issues/6947. You can ra

[2021-12-31 18:33] marcaaron commented on #6947
@mananjadhav For future reference, please do not raise a PR unless you are specifically asked to do so. We have processes in place and when you skip them it causes confusion for our team. Thanks!

[2021-12-31 18:42] parasharrajat commented on #6891
Although, Manan's proposal looks good I think it would be better to divide this input into two. One for a month and one for a year.

[2021-12-31 18:42] mananjadhav commented on #6947
Noted. Thanks for the feedback @marcaaron

[2021-12-31 18:52] marcaaron commented on #6921
Looks good to me, but just want to point out that it should be `macOS` not `MacOS` ?

e.g.

![2021-12-31_08-51-41](https://user-images.githubusercontent.com/32969087/147836100-87717b46-5bc4-4a56-b404-85abd9266148.png)

[2021-12-31 19:01] mallenexpensify commented on #6912
Job posted https://www.upwork.com/jobs/~01b794160880fbf187
Will keep 👀 on for @Christinadobrzyn til she's back (her OOO isn't showing up correctly so she got assigned to this)

[2021-12-31 19:06] anthony-hull commented on #6890
Hey, yeah I saw the other PR in this area gets the email from the response of ValidateEmail. It's great that it will be in the response for a call we are already doing.

I'm happy to add this change into my PR. I'm just waiting for the other PR you linked to merge first.

[2021-12-31 19:10] mallenexpensify commented on #6911
Job posted https://www.upwork.com/jobs/~01703ed57efa762976
@parasharrajat can you review @sobitneupane 's proposal above? https://github.com/Expensify/App/issues/6911#issuecomment-1002376517

[2021-12-31 19:13] mallenexpensify commented on #6908
Job posted https://www.upwork.com/jobs/~01238c276e09e398c0

[2021-12-31 19:13] parasharrajat commented on #6808
I am not clear about what you are doing in your proposal. Won't it add the duplicate reports in the LHN? To me it seems like a race condition where we are try to access this before the data is ready.

[2021-12-31 19:17] mananjadhav commented on #6921
You’re right @marcaaron. “macOS” is the official brand name

[2021-12-31 19:23] parasharrajat commented on #6627
PR Up... Testing it.

[2021-12-31 19:24] mallenexpensify commented on #6967
Job posted https://www.upwork.com/jobs/~0167335f0a64da17cb

[2021-12-31 19:24] parasharrajat commented on #6911
@sobitneupane 's proposal looks good.

cc: @Beamanator
:ribbon: :eyes: :ribbon:

[2021-12-31 19:31] mountiny commented on #6965
I can take this one on instead of Jules as I saw it com up from our Slack thread with Camila.

[2021-12-31 19:33] parasharrajat commented on #6967
Ok, I see that this is more involved than just updating the `WorkspaceNewRoomPage`.  So I don't think it's a good idea to rewrite everything that was done already instead we can just go with updating the `shouldDisableSubmit` variable's expression.

@mananjadhav I see that you are already assigned to a couple of issues and @ABee-Tech 's has already proposed a solution in Slack and reported this is

[2021-12-31 19:35] mananjadhav commented on #6967
Sure thing, @parasharrajat :)

[2021-12-31 19:36] mountiny commented on #6965
@CamilaRivera I like your proposal, I will speed up the process here and assign you to this issue.

@jliexpensify Can you please hire Camila for reporting and fixing this issue once you will be online. Thank you very much!

[2021-12-31 19:39] mananjadhav commented on #6552
@megankelso @roryabraham I've raised the PR with the design implemented. I haven't added any explicit sizes apart from the general ones available. Can you help me verify if those are fine or help me with the correct height/padding for the buttons?

Coming from the feedback here: https://github.com/Expensify/App/pull/6856#issuecomment-1003395877 and https://github.com/Expensify/App/pull/6856#pullre

[2021-12-31 19:44] mallenexpensify commented on #6896
Not sure if this is directly related but it has to do with chats being marked as read when they're not.  On staging now.
https://github.com/Expensify/App/issues/6874
https://github.com/Expensify/App/pull/6898

[2021-12-31 19:52] mountiny commented on #6841
@davidcardoza Hi! 👋 We have two new messages being shown through this PR. For Onfido KYC flow, in case user denies access to camera, we need to re-prompt the user since the camera access is essential. So when they try to verify, this prompt will show:

![image](https://user-images.githubusercontent.com/36083550/147837522-24589237-90a8-4944-be72-7645af919d23.png)

Now the copy is:

cameraRequestTit

[2021-12-31 20:19] marcaaron commented on #6896
Just chatting with @mallenexpensify a bit about this in a 1:1 and wanted to share some context.

This issue feels a bit nuanced and may require a rework of how we are detecting and storing which messages are "read". My current understanding is that we mark the last read action we have immediately when opening a report and do not track which individual messages have been read or not read (i.e. by l

[2021-12-31 20:32] MitchExpensify commented on #6931
[Upwork Job](https://www.upwork.com/jobs/~01577d2550d21d4e8a)

[2021-12-31 20:54] parasharrajat commented on #6931
Hmm, this is a good question. Let's talk about the real user scenario. What is best for them? it is possible that a string has multiple numeric strings, will you combine it in a big numeric string.

What I think best is to trim all the chars until you found the first numeric string and remove the remaining chars where numeric ends including other numeric sub-strings.

[2021-12-31 21:53] CamilaRivera commented on #6913
So... as @parasharrajat pointed out [here](https://github.com/Expensify/App/pull/6970#issuecomment-1003450007), my first proposal of removing `white-space: nowrap` breaks the the tooltip positioning.

Doing some more testing, I found another way of fixing it.

## Proposal 2

Add `display: inline-block` and `white-space: nowrap` to this component:

https://github.com/Expensify/App/blob/615f5b3ff21c

[2021-12-31 21:58] CamilaRivera commented on #6913
Closed previous PR and created new now in case you want to test the second proposal: https://github.com/Expensify/App/pull/6972

[2022-01-01 03:04] K4tsuki commented on #6808
The room name you see in the image  above is not duplicate  it is different room name, but the App treathing it like personal room and room name get modified by participant name.
Room name modified in here:

https://github.com/Expensify/App/blob/615f5b3ff21cbdcf83ef2a050c875de2a0dbfb26/src/libs/actions/PersonalDetails.js#L192-L202

So, that line should disable policy `reportname` modification. Her

[2022-01-01 03:31] ABee-Tech commented on #6967
Okay @parasharrajat . I will make a PR and will give an update after finishing.

[2022-01-01 04:12] ABee-Tech commented on #6967
And also sent proposal on that job link.

[2022-01-01 07:14] K4tsuki commented on #6591
You are right. If we subscribe later, there is a chance that App will miss message.

 `lastReadSequenceNumbers`  is filled when the App fetch report data from server. And if there is local onyx data change on report ( in this case after response is received in `fetchAllReports`), unread badge count will be updated.
Because there is a listener for report change

https://github.com/Expensify/App/blo

[2022-01-01 09:04] parasharrajat commented on #6808
Let's focus on the main issue here first. We want to prevent the app crash. When the room is created, the app should navigate the created room.

We don't want to change LHN's behavior.

[2022-01-01 11:02] abdullahkhan70 commented on #6967
For fixing this problem we can do this:

`
import React, {useEffect, useState} from 'react';
import {View, TextInput, TouchableOpacity, Text} from 'react-native';
import {useNavigation} from '@react-navigation/native';

export default const App = () => {
   const [shouldDisableSubmit , setShouldDisableSubmit] = useState(false);
   const [roomName, setRoomName] = useState("");

   useEffect(()=>{

[2022-01-01 11:49] Beamanator commented on #6911
Agreed, hiring @sobitneupane !

[2022-01-01 12:23] dklymenk commented on #6912
Hi, I managed to narrow the issue down to this line:
https://github.com/Expensify/App/blob/615f5b3ff21cbdcf83ef2a050c875de2a0dbfb26/src/libs/Navigation/CustomActions.js#L108

I couldn't figure out the actual root cause, but for some reason dispatching a `CLOSE_DRAWER` action sometimes gets followed up with  a `RESET` action with a `reportID` for a wrong chat. I only managed to get that information

[2022-01-01 12:24] sobitneupane commented on #6911
Thanks. I have applied for the job. The PR will be ready for review by 2nd January 2022.

[2022-01-01 12:36] parasharrajat commented on #6912
Thanks, @dklymenk for putting an outline for the issue. I was known that this action is causing multiple issues. Currently two. I will investigate myself as I refactored it a few days back and then we cleaned up the code to make it more robust. Somehow, that cleanup has caused bugs.

cc: @marcaaron

[2022-01-01 17:27] songlang1994 commented on #6427
It's not really so complicated. The process of handling keyboard input is very clear:

1. Only accept digit "0-9" (localized format) and decimal point (localized format) but ignore any other chars from users input .
2. Transform localized format digits to standard format.
3. The rest of steps are exact same as virtual keypad case.

Please take a look at the screenshots first. If it's the expected

[2022-01-01 17:53] parasharrajat commented on #6427
I understood what you are trying to achieve here. Basically, something related to what I was thinking to be done for this. It covers the broach picture as well. But I would have to discuss this issue internally to understand what is included in the scope of this issue. This is something I am not yet fully clear about.

Thanks for paying attention to the hardware keyboard as well. I think we will h

[2022-01-01 19:01] laurenreidexpensify commented on #6947
I'm OOO @JmillsExpensify, so handing over to you

[2022-01-01 22:59] K4tsuki commented on #6808
Do you mean to change created report room data so that it is not  get filtered by  above ifs?

[2022-01-02 00:07] Christinadobrzyn commented on #6749
7 day waiting period is done! Paid @kursat in Upwork! Closing this job.

[2022-01-02 00:07] #6749 closed

[2022-01-02 00:16] puneetlath commented on #6719
Created an issue for battle cards here: https://github.com/Expensify/Expensify/issues/190312