[2022-04-18 18:52] Santhosh-Sellavel commented on #8133
PR is up review in progress

[2022-04-18 18:53] Santhosh-Sellavel commented on #8545
@kadiealexander Let's double this one.

cc: @thienlnam

[2022-04-18 18:54] Santhosh-Sellavel commented on #8287
Let's double this @JmillsExpensify

cc: @Luke9389

[2022-04-18 18:58] Santhosh-Sellavel commented on #8287
Proposals lack why this issue occurs (root cause), no follow-ups

[2022-04-18 19:00] neil-marcellini commented on #7617
I'm going to create a separate issue and PR for this since the only relation to this issue is the transition page.

[2022-04-18 19:10] neil-marcellini opened #8676 "Clicking a free policy on OldDot doesn't navigate to the workspace"
## Action Performed:

1. Sign into OldDot with an account A
2. Create a free policy / workspace if you don't have one already
3. Sign into NewDot with a different account B
4. Go back to OldDot and click on the name of the free policy

## Expected Result:
NewDot should open in a new tab and the workspace / free policy should be open in the RHN

## Actual Result:
The expected result happens, but th

[2022-04-18 19:11] neil-marcellini commented on #7617
https://github.com/Expensify/App/issues/8676

[2022-04-18 19:11] murataka commented on #7835
@rushatgabhane , the fix for ios and safari is possibly not related to this issue directly.  Check below code :

[code]
**we may need to re-encode the video source to a different video format at server side , or just a small fix like adding**

[code]

might solve that bug . For anyone testing the ios and safari can test the above if it helps.

Apple's video player components are generally non stan

[2022-04-18 19:26] rushatgabhane commented on #7835
@murataka thanks so much for you help!! https://developer.apple.com/documentation/webkit/delivering_video_content_for_safari

[2022-04-18 19:37] barun1997 commented on #7962
That solution didn’t solve it - so I am looking for an alternative solution.

[2022-04-18 20:04] mallenexpensify commented on #6301
@Tabakharniuk I posted a comment in #expensify-open-source to get more info on our internationalization process - [link](https://expensify.slack.com/archives/C01GTK53T8Q/p1650312089195239)

1. Can you post the exact text you need translation for? I can check internally.
2. @parasharrajat , do we normally require the updated translations before reviewing PRs?

[2022-04-18 20:07] marcaaron opened #8678 "`SetPassword` logic needs improvement"
**Problem:**

- When we call `API.SetPassword()` we are creating a temp login when the response is 200
- Otherwise we set the generic server error
- We also have a `catch()` that is handling a reponse... but it's not clear where that response would come from.
- SetPassword itself doesn't have any specific handling to throw a response
- There's also a check for a `Validate code failed` message that

[2022-04-18 20:08] luacmartins opened #8679 "Clean up CheckboxWithLabel refactor"
# Problem
I noticed a few things that should have been different with the [CheckboxWithLabel refactor](https://github.com/Expensify/App/pull/7750):

1. `onChange` was renamed to `onInputChange` in [Form.js](https://github.com/Expensify/App/blob/f0f097005eafc556cb28498ab3e7707ba8762754/src/components/Form.js#L157-L163). We should update this and rename it in all usages of `CheckboxWithLabel`.
2. Th

[2022-04-18 20:10] mallenexpensify commented on #7424
Paid @kidroca $250
@parasharrajat , I see you're assigned. Are you due compensation, if so, how much? Thx

[2022-04-18 20:11] mallenexpensify commented on #8240
Doubled price to $1000
https://www.upwork.com/jobs/~01f9716e57641285b8

[2022-04-18 20:13] gladiator-1 commented on #7835
I use URI look like this `https://www.expensify.com/chat-attachments/993313808/w_236f82a249530209a1b5f30d479895a9e62c90b1.mp4?encryptedAuthToken=%2B%2FIIeB7vpitzZYdKopAuan1lzP3cbGIRrlNnsfzhnf8nK68vT30pPOtm5VcE8iiSvU6kTwWn3o......`

Yes, both not working using this URI.

[2022-04-18 20:18] gladiator-1 commented on #7835
I use URI look like this `https://www.expensify.com/chat-attachments/32434134208/w_236f234565322f30d479895a9e62c90b1.mp4?encryptedAuthToken=%2B%2FIIeB7vpitzZYdKopAuan1lzP3cbGIRrlNnsfzhnf8nK68vT30pPOtm5....`

Yes, both not working using this URI.

[2022-04-18 20:25] mallenexpensify commented on #7909
to:
https://new.expensify.com/request-call/NewExpensifyConciergeDM

Couple questions....
1. Do we need/want the policyID to be in the link? If we're always asking a user to sign in, or be signed in, does it _matter_).
2. Should it even be necessary to log in or create an account to get a call?
3. Does anyone know what the link we use for the 📞 icon?

[2022-04-18 20:25] mvtglobally opened #8681 "[HOLD for payment 2022-05-24] [$250] Offline icon is not fully grey"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open app
2. Set yourself offline

## Expected Result:
Offline icon should be fully grey

## Actual Result:
Offline icon is not fully grey

## Wor

[2022-04-18 20:29] neil-marcellini commented on #8295
I'm updating the PR for this issue to merge into the feature branch neil-transition-flows. Once all of the transition flows are working I will put up a PR to merge the feature branch into main.

[2022-04-18 20:30] NikkiWines commented on #7487
On hold still

[2022-04-18 20:36] mallenexpensify commented on #8317
Closing, @kavimuru please reopen or/or comment if you're able to reproduce

[2022-04-18 20:36] #8317 closed

[2022-04-18 20:39] mallenexpensify commented on #8352
Doubled price to $1000 (a day early since I was in here updating daily > weekly)
https://www.upwork.com/jobs/~01782081efffe44962

[2022-04-18 20:40] marcaaron commented on #8678
We also just do this when the validate code expires and a user tries to set a password which should be updated to use `FormAlertWithSubmitButton`

![2022-04-18_10-38-46](https://user-images.githubusercontent.com/32969087/163874364-5e9c5ed3-d859-4e6f-9e7d-c02ffce7d080.png)

[2022-04-18 20:41] roryabraham commented on #8034
This doesn't seem very urgent, so Friday is fine imo.

[2022-04-18 21:07] #8637 closed

[2022-04-18 21:31] JmillsExpensify commented on #4114
@roryabraham I'm curious if you have any theories on why we're still not getting any proposals yet. Is it the difficulty of the issue?

[2022-04-18 21:33] JmillsExpensify commented on #7524
Looks like this is still being discussed in Slack.

[2022-04-18 21:33] JmillsExpensify commented on #7727
Still held on offline

[2022-04-18 21:33] marcaaron opened #8683 "Reauthentication is triggered by Pusher error events"
## Problem

- ~~Our Pusher Custom Authorizer is not using the [correct method signature](https://support.pusher.com/hc/en-us/articles/4412502563473-Providing-A-Custom-Channels-Authoriser)~~
- ~~We are throwing an error inside the callback instead of passing a string as specified~~

Never mind actually, that documentation is super out of date

- We are also reauthenticating a user whenever we get _

[2022-04-18 21:37] mallenexpensify commented on #6079
@kavimuru can you test again to see if you can reproduce? If so, can you provide details?

[2022-04-18 21:37] arosiclair commented on #8293
Started tracing this. All NewDot password reset requests use the `SetCashPassword` email template.

[2022-04-18 21:40] JmillsExpensify commented on #8089
Checking in on next steps here? Are we waiting on @marcochavezf for agreement, or are we ready to start working on the PR?

[2022-04-18 21:41] AndrewGable commented on #6079
I've been testing this myself on my device and was unable to reproduce.

[2022-04-18 21:43] JmillsExpensify commented on #8159
It's been a week and don't look like we've been able to reproduce again? @mallenexpensify @michaelhaxhiu How long should we keep these kinds of issues open versus close?

[2022-04-18 21:49] JmillsExpensify commented on #8287
Project budget doubled to $500.

[2022-04-18 21:52] thienlnam commented on #8537
Issue has been merged, deployed on staging 5 days ago

[2022-04-18 21:52] rushatgabhane commented on #8089
Yep, waiting for @marcochavezf's review

[2022-04-18 21:54] JmillsExpensify commented on #8356
@Santhosh-Sellavel Is he on the beta? He'll need that to test rooms, as we haven't released to the entire userbase.

[2022-04-18 21:57] JmillsExpensify commented on #8501
Keeping open until the related issue gets further along in the PR process.

[2022-04-18 21:58] JmillsExpensify commented on #8520
Yeah, it's not necessary to have a connected bank account to use workspace chats.

[2022-04-18 22:11] JmillsExpensify commented on #8655
Wow, interesting find. Posted the upwork job here for proposals: https://www.upwork.com/jobs/~01e7b5db822c3f7489

[2022-04-18 22:59] marcochavezf commented on #8089
Thank you guys! Assigning @aneequeahmad

[2022-04-18 23:06] thienlnam commented on #7623
This will likely work. I like the idea of checking if the current screen is focused before triggering the pressOnEnter.  But when/why is the NavigationContext not available?

I also agree we should solve this main issue instead of updating each page so this will be solved

[2022-04-18 23:10] MitchExpensify commented on #8652
[Upwork Job ](https://www.upwork.com/jobs/~0193e8647cb6379c68)

[2022-04-18 23:14] mallenexpensify commented on #7837
@isagoico and @mvtglobally , are you able to reproduce?

[2022-04-18 23:31] adelekennedy commented on #8662
[internal](https://www.upwork.com/ab/applicants/1516197562143006720/job-details)
[external](https://www.upwork.com/jobs/~01a3558732f426ee8a)

[2022-04-18 23:43] Luke9389 commented on #8445
Is that last comment correct @kbecciv ?

[2022-04-18 23:44] mallenexpensify commented on #8248
Paid @parasharrajat $250 for C+!

[2022-04-18 23:44] #8248 closed

[2022-04-18 23:44] Luke9389 commented on #8284
Just looping back around to this. Where are we exactly? Just waiting on payment?

[2022-04-18 23:47] Luke9389 commented on #7464
Still planning Melvin

[2022-04-18 23:49] mallenexpensify commented on #7014
@K4tsuki was paid in Upwork based on Tim's comment above

[2022-04-19 00:23] neil-marcellini commented on #8676
That Onyx PR above will hopefully fix this issue. After it is merged I will update the onyx version.

[2022-04-19 00:36] MitchExpensify commented on #7737
Not overdue

[2022-04-19 03:52] mvtglobally commented on #7576
Issue not reproducible during KI retests. (Third week) Closing

[2022-04-19 03:52] #7576 closed

[2022-04-19 03:53] mvtglobally commented on #7591
Issue not reproducible during KI retests. (Second week)

[2022-04-19 04:01] mvtglobally commented on #8015
Issue not reproducible during KI retests. (Third week) Closing

[2022-04-19 04:01] #8015 closed

[2022-04-19 04:05] mvtglobally commented on #8331
Issue not reproducible during KI retests. (Second week)

[2022-04-19 04:06] mvtglobally commented on #8348
Issue not reproducible during KI retests. (Third week) Closing

[2022-04-19 04:06] mvtglobally commented on #8364
Issue not reproducible during KI retests. (First week)

[2022-04-19 04:09] mvtglobally commented on #8537
Issue not reproducible during KI retests. (First week)

[2022-04-19 04:42] rushatgabhane commented on #8284
@Luke9389 just waiting on payment

[2022-04-19 04:49] yuwenmemon commented on #8631
@mvtglobally See https://expensify.slack.com/archives/C9YU7BX5M/p1650314731202989 I think we should be good to resume?

[2022-04-19 04:56] mvtglobally commented on #8631
thanks @yuwenmemon We are working on it. Will update all results in the morning

[2022-04-19 06:04] Santhosh-Sellavel commented on #8356
@JmillsExpensify
Usually, We have all betas enabled in the Local Dev Environment.

If they don't have beta access, then by making a small code change in SideBarScreen to reproduce this issue.

[2022-04-19 06:08] mollfpr commented on #8134
PR raise for ExpensiMark

cc @parasharrajat @Luke9389

[2022-04-19 06:34] parasharrajat commented on #7486
PR is in progress.

[2022-04-19 06:37] parasharrajat commented on #6301
No, translations are not needed for review. I will review it asap.

[2022-04-19 07:54] bfitzexpensify commented on #7971
Job had expired - reposted [here](https://www.upwork.com/jobs/~012ef02def10429641) and removed comment with outdated link.

[2022-04-19 07:55] bfitzexpensify commented on #7860
doubled again 🤑

[2022-04-19 08:33] dylanexpensify commented on #6941
Price doubled

[2022-04-19 08:34] dylanexpensify commented on #8440
@parasharrajat @NikkiWines is this still an issue? If so, I can double price!

[2022-04-19 08:35] dylanexpensify commented on #8291
Price doubled

[2022-04-19 08:48] parasharrajat commented on #8440
Seems like not anymore but I will test it when I am feeling better.

[2022-04-19 08:55] trjExpensify commented on #8459
👋 back from OoO. No proposals on Upwork yet, so I've doubled [the job](https://www.upwork.com/jobs/~01ad54324b48c3dfa9) to $500.

@sobitneupane as you reported this bug, are you interested in submitting a proposal to fix it?

[2022-04-19 08:59] trjExpensify commented on #8537
Back from OOO, @Puneet-here I've sent you the offer on Upwork to get the contract in place. You too, @parasharrajat for C+.

[2022-04-19 09:10] ahmdshrif commented on #7591
@rushatgabhane so this can be paid now. right?

[2022-04-19 09:15] wildanmuhlis2 commented on #8644
@kbecciv How should it behave when a member is deleted from the workspace?

(1) Should it keep the old chat but hide the textbox or (2) delete the chat archive completely.

I can't reproduce the above issue exactly.
What happened to me is similar with this issue #8470

It can only be refreshed after logout and re-login and the chat entries are completely gone.

[2022-04-19 09:25] rushatgabhane commented on #7591
Yes @ahmdshrif

[2022-04-19 09:34] trjExpensify commented on #8245
👋 back from OOO today.

What do you mean by open the issue, do you want to post in #expensify-open-source or something?

[2022-04-19 09:39] trjExpensify commented on #8118
Hey guys! I'm back from OoO and settled both of these contracts. Not entirely sure why the title of the issue didn't update!

[2022-04-19 09:39] #8118 closed

[2022-04-19 09:42] trjExpensify commented on #7862
Yep, back from OoO today. Doubled [the job](https://www.upwork.com/jobs/~011ca7e66b62951030) on Upwork.

[2022-04-19 09:46] Julesssss commented on #7375
Bumping this. Seems like we're at the review stage?

[2022-04-19 09:48] Julesssss commented on #7729
Bumping this. Were the offers accepted?

[2022-04-19 09:53] rushatgabhane commented on #7729
Yes, offer accepted on April 13

[2022-04-19 09:57] Julesssss commented on #8612
@kbecciv that seems slightly different to me, lets keep both open.

[2022-04-19 10:00] parasharrajat commented on #8245
Yeah, ask in the open-source slack channel or someone else to test it.

[2022-04-19 10:28] parasharrajat commented on #8471
Ok, I think we are good here with the expected behavior.

@metehanozyurt 's proposal looks good to me. Rest we can test on PR.

cc: @flodnv

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-04-19 10:34] trjExpensify commented on #8245
Cool, I'm going to tag a few people here directly that I know are iOS users. @JmillsExpensify @kevinksullivan @MitchExpensify can you guys perform the below steps and let me know the results, please?

1. Go to mWeb safari on staging.new.expensify.com
2. Paste any URL into a chat, like this one: https://goo.gl/maps/xhdJyXp3Kbdr9um27
3. Long press the URL to bring up the context menu
4. Does it open

[2022-04-19 10:36] Julesssss commented on #8460
Sorry, I was stuck in the hospital. Back now.

[2022-04-19 10:36] Beamanator commented on #8031
Ok so just to make sure I'm following correctly:
1. `this.props.draftMessage` (in `ReportActionItem.js`) is where we're storing the draft of an edited message (not the draft of a new message)
2. You're thinking we can just kill a report's draft (probably using `Report.saveReportActionDraft`, storing `null`) when the LHN opens up

If this is correct, I'm thinking the second option may be more effic

[2022-04-19 10:46] parasharrajat commented on #8031
Yup, you are correct. But a report can have multiple drafts for actions.

[2022-04-19 10:49] trjExpensify commented on #5897
👋 Sorry for the slow response, I've been OoO. Going back to the OP for a sec:

I follow those steps and I get this error message when changing the reportID to something random. I'm navigated back to the reportID I was previously on before amending it:

<img width="1420" alt="image" src="https://user-images.githubusercontent.com/16232057/163987490-b194aaed-a1be-4c82-8093-587657eb0711.png">

So what

[2022-04-19 10:55] Julesssss commented on #8631
Sorry @mvtglobally I was in hospital overnight and didn't see this.

[2022-04-19 11:00] parasharrajat commented on #5897
Yup, if this is working then we can close it.

[2022-04-19 11:01] trjExpensify commented on #7470
Doubled the Upwork job to $500 here: https://www.upwork.com/jobs/~0132057b0680124108

[2022-04-19 11:01] madmax330 commented on #8665
Hmm I'm not sure the status bar changes, color. I think it's because we add an overlay to the background that doesn't get added to the status bar.

[2022-04-19 11:07] trjExpensify commented on #5897
So to confirm, that is the expected result here right? Do you want to just confirm the same result as I got above and then we can close it out.

[2022-04-19 11:30] Beamanator commented on #8574
Hmm tried reproducing on a Iphone 11 Pro simulator, wasn't able to :(

[2022-04-19 12:05] Beamanator commented on #8031
Ok and that's why in your sample code you're looping through all drafts of a specific `reportID`, which I bet you'd have to do in either case, thanks for reminding me about that 👍

A few more questions related to this change we're thinking about making:
1. Now that we're planning to get rid of message-edits once a user navigates back to the LHN, do you think it even makes sense to store these in O

[2022-04-19 12:10] sobitneupane commented on #8362
I was away from my laptop for few days. Sorry for the delay. Pushed changes.

[2022-04-19 12:12] Salehmrcp commented on #6941
I can fix it
I am sorry it is my first day with you so I do not know how to approach

[2022-04-19 12:31] Puneet-here commented on #8537
Thanks, I have accepted the offer.

[2022-04-19 12:47] NicMendonca commented on #8126
doubled: https://www.upwork.com/jobs/~01c09e65fbbdd4bb12

[2022-04-19 13:20] Puneet-here commented on #8681
### Proposal
We need to add a new icon and have to replace this one
https://github.com/Expensify/App/blob/8f654504b989bf78f141b72504e48e5993a1ab7f/src/components/Icon/Expensicons.js#L47
We are using the icon here
https://github.com/Expensify/App/blob/8f654504b989bf78f141b72504e48e5993a1ab7f/src/pages/home/report/ReportActionCompose.js#L594

[2022-04-19 13:26] mateocole commented on #8606
It looks like this issue is a duplicate of the mentioned issue in progress

[2022-04-19 13:28] #8606 closed

[2022-04-19 13:46] parasharrajat commented on #7623
when we use the button in the components that are out of React navigator. 99% of the pages are used in navigator except the Error Page. It has two buttons which crashes the app.

[2022-04-19 13:54] aldo-expensify commented on #6941
@Salehmrcp

Please check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

After understanding the process for contributors, If you know how to fix it, you have to make a proposal like this: https://github.com/Expensify/App/issues/8006#issuecomment-1059

[2022-04-19 14:00] Salehmrcp commented on #6941
It is not a proposal, it is a full solution
So I should post the full solution before any hire?

[2022-04-19 14:03] Salehmrcp commented on #8126
Just it need to change the code
There are 2- one for refresh and other for chat

[2022-04-19 14:04] aldo-expensify commented on #6941
Yep, that is how it works, then we can decide on hiring you. Why? Even if the "full solution" patches the problem, it may get rejected because it is an ugly workaround.

Anyway, the process of proposing a solution is explained in this section: https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#working-on-expensify-jobs

Were you able to reproduce the bug?

[2022-04-19 14:13] laurenreidexpensify commented on #7547
@mananjadhav any update here?

[2022-04-19 14:13] laurenreidexpensify commented on #7535
Will be issuing payment tomorrow

[2022-04-19 14:17] amyevans commented on #8652
I just searched for where we're using the package, and it looks like it's in Web-Secure in addition to App. So perhaps this should stay internal after all?

[2022-04-19 14:31] kbecciv opened #8687 "IOS - Profile - Time zone is automatically selected without clicking on it."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Click Profile
4. Unselect Set my timezone automatically
5. Open the Time zone box and start search f

[2022-04-19 14:32] OSBotify commented on #8687
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-04-19 14:48] pecanoro commented on #8687
@kbecciv You mean that the time zone is stored by just scrolling down or up in the options?

[2022-04-19 14:48] kbecciv commented on #8445
@Luke9389 Yes, correct - "Requested ...." message doesn't show up immediately.

[2022-04-19 14:52] eVoloshchak commented on #4114
**Scenario 4:**
1. Add the following function to [EmojiUtils](https://github.com/Expensify/App/blob/main/src/libs/EmojiUtils.js):
[code]
2. Add this line in [ReportActionItemFragment](https://github.com/Expensify/App/blob/8f654504b989bf78f141b72504e48e5993a1ab7f/src/pages/home/report/ReportActionItemFragment.js#L99) (we will need this variable for the Scenario 2, hence i'm calling it here to avoid

[2022-04-19 14:54] mateusbra commented on #7497
It doesn't cover this issue, I'll try to update my proposal when I have time. Thank you.

[2022-04-19 14:58] kbecciv commented on #8687
@pecanoro The time zone is selected automatically when you just stop scrolling. In production app - in order to get it selected you need to tap on it.

[2022-04-19 14:58] luacmartins commented on #8687
This issue was first reported [here](https://github.com/Expensify/App/issues/8570). Was it not solved in [this PR](https://github.com/Expensify/App/pull/8596)?

[2022-04-19 15:04] PauloGasparSv commented on #8666
Set as monthly since it doesn't break the app or affect users too much.
Tested here and this only happens in Android

[2022-04-19 15:04] luacmartins commented on #7755
Still waiting for refactors to be done.

[2022-04-19 15:05] kbecciv commented on #8687
@luacmartins This is slightly different issue https://github.com/Expensify/App/issues/8570 than we just reported.

[2022-04-19 15:07] luacmartins commented on #8687
Ah I see, this is for manual timezone selection. Yea, seems like a different issue then.

[2022-04-19 15:07] mananjadhav commented on #7547
@laurenreidexpensify PR #8256 is already merged for this issue

[2022-04-19 15:16] mateusbra commented on #7909
Sorry for the mess guys. I have an updated proposal:
### PROPOSAL
We have to open it with `openOldDotLink()` function when we have an old dot link:
we should create:
[code]
like what we do for internal path:
https://github.com/Expensify/App/blob/43910fe5c20584b05fe56013005e8e59ba93e8a6/src/components/HTMLEngineProvider/HTMLRenderers/AnchorRenderer.js#L22-L37
then when we have an old link we could

[2022-04-19 15:18] michaelhaxhiu commented on #8159
Your gut is in the right place @JmillsExpensify -- one week of timeline without being able to reproduce is good reason to close the GH. If it comes up again, we can create a fresh issue or re-open this one! I'll close for ya since I'm commenting in here!

[2022-04-19 15:18] #8159 closed

[2022-04-19 15:25] pecanoro commented on #8687
Maybe the same PR caused it? https://github.com/Expensify/App/pull/7807 I will try to debug it

[2022-04-19 15:39] parasharrajat commented on #4114
I will review the proposal in details shortly but starting thoughts are:

I agree with this as well. I can't imagine a solution where we can have multiple font sizes on textInput.

But I think we can use multiline TextInput on the Web to render HTML. No idea about the native.

[2022-04-19 15:50] NicMendonca commented on #8200
doubled price: https://www.upwork.com/jobs/~016a75249a17d3022d

[2022-04-19 15:51] michaelhaxhiu commented on #8122
@aneequeahmad can you please apply for this Upwork job, so that I can hire you?

https://www.upwork.com/jobs/~0122e7f846be620b67

[2022-04-19 15:56] aneequeahmad commented on #8089
Applied on Upwork, PR is raised for Expensify-common.

cc: @marcochavezf, @rushatgabhane

[2022-04-19 15:56] trjExpensify commented on #8590
@rushatgabhane are you cool with those suggestions from @cead22 to update the proposal? Would be great to get going on this one if everyone is aligned!

[2022-04-19 15:58] mateusbra commented on #7837
@isagoico I think that for this issue you should open it directly by pasting the URL.
The steps would be:

1. Open the report as user A.
2. Copy the report URL and close the tab on browser.
3. Send messages from user B to user A.
4. Open the report directly by pasting the copied URL.

Is that right?

cc: @parasharrajat
cc: @mvtglobally

[2022-04-19 16:01] kbecciv opened #8690 "Web/Mac - Message - Sent offline messages after reconnecting isn't appeared."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: Log in with Device A in IOS app
Log in with Device B in Web/Mac

1. Disable your internet connection in device A.
2. Send some message

[2022-04-19 16:04] kbecciv commented on #6059
@kidroca @kevinksullivan We reported the issue during Regression https://github.com/Expensify/App/issues/8690

[2022-04-19 16:08] rushatgabhane commented on #8590
@trjExpensify yes, those are good suggestions.
But I don't think we get the dimensions before an image has been downloaded. So implementing those suggestions might not be plausible.

I'd love to be proven wrong tho.

[2022-04-19 16:17] isagoico commented on #7837
I was unable to reproduce the same issue on my side following those steps. Please check the video and let me know if the steps are incorrect.

https://user-images.githubusercontent.com/44479856/164049256-21418eba-6c11-4672-8727-f9e8a1a6b5d1.mp4

[2022-04-19 16:17] NikkiWines commented on #8440
Yeah, I don't think this is an issue - my tests above show that the error message should be already visible no matter the screen size

[2022-04-19 16:25] isagoico commented on #8507
To avoid reporting this in the future I have added the issue to our Applause Platform Known Issues List and will also inform the Team Leads on the matter.

[2022-04-19 16:33] thesahindia commented on #8664
@sakluger, to repro this you need an account made with public domain email.

[2022-04-19 16:34] isagoico commented on #7837
Yeap, the issue is not reproducible. Behavior was the expected on my side.
I was able to reproduce a similar issue using the URL but I don't have solid reproducible steps, will keep investigating and trying to replicate again🕵️

[2022-04-19 16:41] aneequeahmad commented on #7618
### PROPOSAL

**Solution**

So when search page is opened and we select report from search page we dont dismiss the modal so if we dismiss the modal when report is selected it fixes the issues also we have to apply setTimeout on  this line of code  Navigation.navigate(ROUTES.getReportRoute(option.reportID));.

It fixes the issue of opening start page of chrome also it fixes the issue just mentione

[2022-04-19 16:55] pecanoro commented on #8687
Hmm, I actually think it might have been @chiragsalian's [PR](https://github.com/Expensify/App/pull/8596) since the rest of the selectors are working fine. I am going to test it without that PR.

[2022-04-19 16:57] dharmik commented on #8440
@NikkiWines Issue it there. Can you please check video. It's iPhone 8.

CC @parasharrajat @dylanexpensify

https://user-images.githubusercontent.com/1510175/164055940-a449371c-6571-4388-ad11-4d0c2345da02.mov

[2022-04-19 17:25] #8567 closed

[2022-04-19 17:29] trjExpensify commented on #8690
Ah, interesting! @tgolen @marcaaron is this an issue that should go on hold until the offline initiative is implemented?

[2022-04-19 17:39] parasharrajat commented on #7497
@orkunkarakus This will make the whole message scrollable including tags other than code blocks.
![image](https://user-images.githubusercontent.com/24370807/164062939-718b3716-542e-48b9-b68f-35c625d142e6.png)
Also, It sometimes does not work. It open the LHN(Home page) instead of scrolling the widget. What do you suggest to improve it?

[2022-04-19 17:42] NikkiWines commented on #8440
We could put that error message under the `Current password` field instead of that at bottom of the view. We could also be consistent and outline the field in red as we do for other errors.

[2022-04-19 17:43] parasharrajat commented on #6941
@Salehmrcp Thank you for understanding. Are you able to reproduce this issue? which device/OS?

Would you be able to show us the working video including SignUp, Password Screen?

[2022-04-19 17:44] pecanoro commented on #8687
Yes, it was Chirag's PR, when he added the value, it stopped working. @chiragsalian Why do we need to add the key there? I can't find where it is used as a prop.

[2022-04-19 17:45] parasharrajat commented on #8440
I agree, Field should has red outline for the case.

[2022-04-19 17:51] parasharrajat commented on #8645
@Puneet-here's proposal looks good here. I don't think C+ is needed for such an issue but I am fine with reviewing the PR.

cc: @Julesssss

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-04-19 17:53] pecanoro commented on #8687
That temporary fix for that deploy blocker created this one 😄  Why do we need that `key` parameter and why can't we use something else? Not sure where it is used

[2022-04-19 17:53] parasharrajat commented on #8507
I will look into this @Beamanator.

[2022-04-19 17:55] chiragsalian commented on #8687
Yup like carlosM mentioned. It was a temporary fix that was suggested by the author here - https://github.com/Expensify/App/pull/7807#issuecomment-1093528141 until a more permanent fix could be found. Definitely annoying it created another deploy blocker. Shall post in the PR and investigate too.

[2022-04-19 17:58] parasharrajat commented on #8031
Yeah, good points.

I have a second thought about this change. We are basically removing the drafts feature from the app. Do you think we should take the opinion of a few more people? Let me know if this is the final decision, I will look into your questions as well.

[2022-04-19 18:00] Salehmrcp commented on #6941
Yes but u will need the source code
How can I get it.?

[2022-04-19 18:04] pecanoro commented on #8687
I can help you with it, it's just that I am not completely sure how adding the key to the picker broke it since I can't seem to find where that key is being used

[2022-04-19 18:05] stitesExpensify commented on #8267
App PR is on staging, waiting for it to go to prod before we merge the web-e PR

[2022-04-19 18:06] pecanoro commented on #8687
Maybe the problem is not passing the key down to the BasePicker along with the value?

[2022-04-19 18:07] thienlnam commented on #7623
Gotcha, let's go ahead with that solution then @parasharrajat

[2022-04-19 18:07] chiragsalian commented on #8590
Im unsure if we can get dimensions of an image before its downloaded. With that being said i'm not sure why we show the blank thumbnail. Can that be removed?
![image](https://user-images.githubusercontent.com/14356145/164067835-702ec045-c39d-4203-a019-b7bb92e60430.png)

Besides that i think the rest is fine. Personally i feel like the first thumbnail i.e., the preview thumbnail with loading icon o

[2022-04-19 18:10] thienlnam commented on #7587
Going to close this, a design doc is coming out for offline functionality and so as mentioned in https://github.com/Expensify/App/issues/7587#issuecomment-1044519665, we're going to punt this for now

[2022-04-19 18:10] #7587 closed

[2022-04-19 18:10] strepanier03 commented on #8664
@sakluger -- I was able to repro on Android:

1. Open New Expensify app,
2. Login with a  public domain email (ex: I used strepanier2003@gmail.com)
3. Go to Workspace
4. Pay Bills

![Screenshot_20220419-110845](https://user-images.githubusercontent.com/10925636/164068401-5e615910-650c-4080-843d-2d85467c31cf.png)

[2022-04-19 18:12] flodnv commented on #8471
I'm unclear: is the final proposal what is in [this comment](https://github.com/Expensify/App/issues/8471#issuecomment-1092091939)? It seems we have made other decisions since then?

[2022-04-19 18:12] parasharrajat commented on #6941
I think you meant to ask that you will need source code for that. Yeah so, you can go through README.md file and set up the app on your local machine. All the code of the app is openly available on this git repo.

[2022-04-19 18:14] parasharrajat commented on #8471
Sorry, yeah post is confusing. @metehanozyurt Would you mind writing the whole solution in a single post for native and web?

[2022-04-19 18:14] dharmik commented on #8440
@parasharrajat You mean to say like if I enter current password wrong and new will be valid highlight red border line, so in this case from API side we need some flag, which indicate us there is an issue from currentpassword.

**Response from API:**
`{"UUID": "*********", "code": 666, "data": [], "htmlMessage": "", "jsonCode": 401, "message": "Your password changes could not be saved because the o

[2022-04-19 18:16] parasharrajat commented on #8440
You can use the jsonCode for that purpose.

[2022-04-19 18:18] Beamanator commented on #8031
Yeah I was thinking something similar 👍 I agree we should get more opinions, if you could continue the same chain as before but re-send to the channel & maybe tag contributor-management-engineering as well that would be very helpful

[2022-04-19 18:20] pecanoro commented on #7727
@JmillsExpensify Moving to monthly since it's on hold so you don't have to post every week about it!

[2022-04-19 18:20] flodnv commented on #8471
Yes please, and please clarify why we need platform specific code (I did not really follow that part)

[2022-04-19 18:22] Salehmrcp commented on #6941
Thnx
I found the repo - app one
But canot find the read me

[2022-04-19 18:24] parasharrajat commented on #6941
Let me know if [this](https://github.com/Expensify/App#local-development) helps.

[2022-04-19 18:31] kidroca commented on #6059
I've taken a look and it seems the Network code was (or is being) refactored
At the time this issue closed the functionality worked correctly

If you want me to investigate further, please tag me on the new ticket

[2022-04-19 18:33] sakluger commented on #8664
Thanks @strepanier03 for verifying! I think this is limited to Android since I couldn't reproduce on iOS. I'll update the original description and pass along to engineering triage.

[2022-04-19 18:35] pecanoro commented on #7837
If no one can reproduce it, let's close it!

[2022-04-19 18:35] #7837 closed

[2022-04-19 18:38] parasharrajat commented on #7618
Thanks for the proposal @aneequeahmad.

I do not agree with this statement. We close the modal from the `navigation.navigate` function. How do you think the modal is closed on clicking on any report from the search Page?

Could you please use bullet points to explain all the issues you are talking about?

You are vouching for the use of `SetTimeout` but `settimeout` are never considered as a solut

[2022-04-19 18:39] #8470 closed

[2022-04-19 18:44] parasharrajat commented on #8662
@Puneet-here 's proposal looks good to me.

cc: @Luke9389

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-04-19 18:45] arielgreen commented on #8460
Hired via Upwork

[2022-04-19 18:47] shawnborton commented on #8423
Okay after some discussion in Slack (cc @quinthar @JmillsExpensify ) I think we landed on this as the final design:
![image](https://user-images.githubusercontent.com/2319350/164074253-2380b662-702a-416e-84a0-3e5b13c356bc.png)

![image](https://user-images.githubusercontent.com/2319350/164074270-ad0f87a5-28de-4cee-aa99-505c9d103bbd.png)

Where once we detect that there are 3 or more lines of text

[2022-04-19 18:48] shawnborton commented on #8423
@muttmuure cool if I assign back to you so you can get this moving with the contributor/proposal process?

[2022-04-19 18:51] arielgreen commented on #8601
Increased price

[2022-04-19 18:53] parasharrajat commented on #7855
I was sick for the last few days, still am. But I will send the PR in the next few days. Sorry for the delay.

[2022-04-19 18:53] arielgreen commented on #8467
Price increased

[2022-04-19 19:02] dharmik commented on #8460
@arielgreen Accepted. The proposal it self a solution.
CC @Julesssss @parasharrajat

[2022-04-19 19:04] cead22 commented on #8590
Can't we get the dimensions of the local image? If not, I think 2 & 3 are still worth doing

[2022-04-19 19:06] chiragsalian commented on #8590
Carlos, i didn't follow your point 2. The thumbnail thats shown immediately after "Send" is clicked does have a spinner on top of it. Did you mean something else?
![image](https://user-images.githubusercontent.com/14356145/164077428-33becd2c-6b52-49f1-b060-59f43895dcb8.png)

[2022-04-19 19:07] aneequeahmad commented on #7618
@parasharrajat

I dont see any Navigation.dismissModal() in `navigation.navigate`as this code is executed on select report from search page

[code]
I've updated the comment above with bullet points.

Yes, but without setTimeout things are not working. This is the only way I've debugged thoroughly but only setTimeout is fixing the issue as i mentioned the cause in my opinion. Raising it in Slack fo

[2022-04-19 19:18] mollfpr commented on #8126
### Proposal

Adding a new Onyx key `IS_DRAWER_CLOSED_LAST_TIME` to save the state of the drawer should be `open` or `closed`.

On `src/libs/Navigation/Navigation.js` watch the Onyx key value
[code]

Set `ONYXKEYS.IS_DRAWER_CLOSED_LAST_TIME` to `false` when the drawer is gonna be opened.
https://github.com/Expensify/App/blob/7919e24c808dea9dedfe4a2d513365cf092cc1e1/src/libs/Navigation/Navigation.j

[2022-04-19 19:21] aswin-s commented on #7618
### Reason

There are three scenarios where this issue seems to occur.

1. Sign-in on mobile web, navigate to a report and then tap back button on report header
2. Start group chat  with a new user by tapping ‘New’ button. Navigate to the chat and then press back arrow on report header.
3. Navigate directly to a nested path while signed in, like https://staging.new.expensify.com/settings and tap o

[2022-04-19 19:23] thesahindia commented on #8454
I have raised the PR.

[2022-04-19 19:26] Salehmrcp commented on #6941
**Proposal**

I solved it

In file /android/app/src/main/AndroidManifest.xml
![changethis.png](https://user-images.githubusercontent.com/102464116/164080435-413b02c2-caac-4eaa-a421-fb1b4147de23.png)

android:windowSoftInputMode="adjustPan"

android:isScrollContainer="false"

Replace this line and it is fixed

[2022-04-19 19:27] thesahindia commented on #8534
The object key keeps changing( reportID is not the key but the "report_" + value of reportID is ) so to do that we need to extract the key or the simple way would be to just use the reportID that we get in response here
https://github.com/Expensify/App/blob/0596be5899916b4eae8d723dfc4c07e4fd05ed7e/src/libs/actions/Report.js#L1518-L1525

I had mentioned this here https://github.com/Expensify/App/is

[2022-04-19 19:42] cead22 commented on #8590
Sorry, if you go to the comment above, I say "can we make it so:..." and list those points. I updated the previous comment to make it clearer

[2022-04-19 19:43] Salehmrcp commented on #6941
https://user-images.githubusercontent.com/102464116/164083182-7a003807-e2d1-4964-8b92-8fcec7c6aaaa.mp4

[2022-04-19 19:45] dharmik commented on #8440
Proposal: @parasharrajat @NikkiWines

Changes:

1. Field should have a red outline
2. We could put that error message under the `Current password`

Path: src/pages/settings/PasswordPage.js

[code]

Path: src/libs/actions/Session/index.js
[code]
Path: src/libs/actions/User.js

[code]
Video:
https://user-images.githubusercontent.com/1510175/164083153-4837878e-2a58-4a39-81cd-ef0dcd271bd5.mov

[2022-04-19 19:53] yuwenmemon commented on #8364
Can't reproduce locally either. Closing!

[2022-04-19 19:58] #8687 closed

[2022-04-19 19:58] orkunkarakus commented on #7497
Hi, i refactored the code. This code only scrolls code blocks.

[code]

Simulation Videos

https://user-images.githubusercontent.com/61627150/164083730-12851010-597e-40e5-b41c-05d4178b3312.mp4

Yes sometimes there is a problem, it going back to previous screen. I don't know if we can find a solution to it. Maybe we can stop all other gestures on the screen while the code block is scrolling, but I

[2022-04-19 20:01] #7220 closed

[2022-04-19 20:02] adeel0202 commented on #7014
@mallenexpensify, when this ticket was created, I was hired on Upwork for reporting; however, I have not been paid yet.

[2022-04-19 20:14] OSBotify commented on #8631
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8695) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.55-2` :rocket:

[2022-04-19 20:14] OSBotify commented on #8631
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.55-2 has been deployed to staging :tada:

[2022-04-19 20:22] tgolen commented on #8595
Yeah, I think that's fine to move it to a feature request.

On Sun, Apr 17, 2022 at 9:59 PM Phi Võ (Brian) ***@***.***>
wrote:

[2022-04-19 20:24] tgolen commented on #8690
Yep!

[2022-04-19 20:27] mateusbra commented on #8681
### PROPOSAL
We need to remove the `fill="black"` property from the SVG file:
https://github.com/Expensify/App/blob/af1054e3ed50bb4ba5237b485db86661768086a8/assets/images/offline.svg?short_path=a4d5391#L3

[2022-04-19 20:33] tgolen commented on #5296
[code]

This is precisely why we shouldn't ever put these comments in the code 😬

[2022-04-19 20:38] adeel0202 commented on #8455
### Proposal

We can make the submit button always enabled by removing this line
`isDisabled={this.validateForm()}`

We can add these new methods to get proper errors
[code]
[code]
[code]

**Note:** We will need translation for `Please enter a valid email address` and `Password is required` to add in translation files.

We can add the following methods to set the errors
[code]
[code]

At the end o

[2022-04-19 20:39] parasharrajat commented on #8460
Ok. Awaiting your PR.

[2022-04-19 20:41] dharmik commented on #8460
@parasharrajat there is no code change so how to share PR?

[2022-04-19 20:44] parasharrajat commented on #8460
Oh. Dah... I was hoping that changing the config will change the config files which need to be committed to the repo.

[2022-04-19 20:47] dharmik commented on #8460
@parasharrajat no changes in code , need to follow proposal and it will resolved with updated xcode. I face this 2 weeks ago after updation it resolved.

[2022-04-19 20:49] parasharrajat commented on #7497
Thanks for the updates. Few points in the code.
- First of all, we don't need to modify the code in RenderHTML as proposed. RenderHTML accepts the custom renderers which should/can be used for the purpose.
-  Also, while scrolling the code block on the web, the context menu opens. which it should not.

- We will have to find a solution to this. Looking forward to substantial solutions.

[2022-04-19 20:50] AndrewGable commented on #8460
I thought there should be a code change?

[2022-04-19 20:50] parasharrajat commented on #8460
You mentioned something [here](https://github.com/Expensify/App/issues/8460#issuecomment-1092739486). What were you proposing to do if there is nothing to be changed from you?

[2022-04-19 20:54] dharmik commented on #8460
No, update the xcode.

https://github.com/Expensify/App/issues/8460#issuecomment-1092718039

[2022-04-19 20:57] AndrewGable commented on #8460
You can update the XCode version here: https://github.com/Expensify/App/blob/main/.github/workflows/platformDeploy.yml#L13

We do not release the app manually via XCode. So please update your proposal with a code change.

[2022-04-19 20:58] chiragsalian commented on #8661
Hmm i cannot reproduce this. Looks like maybe a performance issue. Either way since its front end i'll begin by applying external label to get more eyes to test and diagnose this.

[2022-04-19 20:59] cead22 commented on #8660
Will check in #product what we want here

[2022-04-19 21:04] parasharrajat commented on #8460
Yup. Also, in the PR attach videos for successful build on Xcode 13.

[2022-04-19 21:09] parasharrajat commented on #8440
Sorry, I don't like the proposal. Direct use of error codes in the component is prohibited. Also, are you following the Form guidelines? a server error should be shown above the button. But I am not sure if we need to do that for this issue.

[2022-04-19 21:13] dharmik commented on #8440
If we have to display server error above button so we have check this proposal

https://github.com/Expensify/App/issues/8440#issuecomment-1087534048

@parasharrajat

[2022-04-19 21:13] rushatgabhane commented on #7535
The new payment date will be 7 days after a permanent fix for the regression has been in production.

[2022-04-19 21:22] NikkiWines commented on #8440
Accounting for only that error also means will run into the same issue for other potential errors, like if the user is being throttled...

I think we could either:

1. Always remove the password hint when an error appears but keep the error message local to the text field they come from (if applicable)
2. Always show errors in place of the password hint and highlight the appropriate box as necessa

[2022-04-19 21:29] stitesExpensify commented on #8379
@NicMendonca let's pay @parasharrajat for being the contributor manager, and pay our base issue rate to @eVoloshchak for his proposal, then we can close the issue.

Thanks for pushing this forward in slack Rajat, and thank you @eVoloshchak for your proposal even though it wasn't used!

[2022-04-19 21:42] rushatgabhane commented on #7835
@gladiator-1 Cool cool, let me know if `playsinline` does the trick. We can then start discussing the details for the proposal.

[2022-04-19 21:54] michaelhaxhiu commented on #8590
Doubling price on this one as it's been 7 days

[2022-04-19 21:55] tylerkaraszewski commented on #8648
This looks similar to this issue: https://github.com/Expensify/Expensify/issues/205669 in that we probably need to sign up somewhere to be able to send texts in Ukraine. Unassigning myself from triage for someone else to work on it.

[2022-04-19 21:56] michaelhaxhiu commented on #8497
Price doubled to $500

[2022-04-19 21:57] aldo-expensify commented on #6941
@Salehmrcp this was supposed to be a video of the app running where you can demonstrate that you can reproduce the bug, and then show that your changes fixes it.

[2022-04-19 21:58] michaelhaxhiu commented on #8307
@stitesExpensify just wanted to check if you had a response to Santosh's question above

[2022-04-19 21:58] michaelhaxhiu commented on #8307
Also, doubling price

[2022-04-19 22:00] deetergp commented on #8421
@mollfpr's proposal looks pretty straight forward. Let's go with that 👍

[2022-04-19 22:01] michaelhaxhiu commented on #7479
Still hold

[2022-04-19 22:08] yuwenmemon commented on #8631
@mvtglobally how's everything going? I see that no QA items have been checked off just yet...

[2022-04-19 22:21] megankelso commented on #8440
thanks for laying these out! I agree with your recommendation

[2022-04-19 22:23] Salehmrcp commented on #6941
@aldo-expensify I have not been told that I need to send video
I am now out - when return back I will send the video
Now please at least hire me in upwork , to feel more safe, I already send the fixing code

[2022-04-19 22:23] cead22 commented on #8660
Me and @roryabraham agreed we should start by implementing a check on the backend to prevent this, so we should solve this internally, but there's clear repro steps, so labeling with Demolition

[2022-04-19 22:24] aneequeahmad commented on #8534
### PROPOSAL

We can extract the key from the response as below

[code]

  Instead of ` .then(([{reportID}]) => {`

[2022-04-19 22:47] pecanoro commented on #8309
Not overdue.

[2022-04-19 22:51] orkunkarakus commented on #7497
Okay. We return to our previous code.

We need to use onResponderMove and onResponderRelease handlers. These handlers determine its user in scrollview and scrolling or not thus we can turn off or turn on the navigator gesture with a context variable.

i will take a look

[2022-04-19 23:05] kevinksullivan commented on #7729
Paid @rushatgabhane and @parasharrajat , thanks for your patience and working on this.

[2022-04-19 23:05] #7729 closed

[2022-04-19 23:17] Luke9389 commented on #8662
Cool cool. Go ahead and make the PR @Puneet-here

[2022-04-19 23:22] adeel0202 commented on #8114
I reported this issue a few months ago and its ticket is still open: https://github.com/Expensify/App/issues/7094

[2022-04-19 23:31] bfitzexpensify commented on #8681
Upwork job [here](https://www.upwork.com/jobs/~018d68ea82da64064b)

[2022-04-19 23:39] yuwenmemon commented on #8251
Looks like we're dealing with a bug in the moment.js library...
<img width="376" alt="Screen Shot 2022-04-19 at 4 35 32 PM" src="https://user-images.githubusercontent.com/4741899/164118089-3fe6569b-1230-4447-b40e-17698500d56b.png">

[2022-04-19 23:43] yuwenmemon commented on #8251
Bug is still present in the latest version, so updating won't help...
<img width="415" alt="Screen Shot 2022-04-19 at 4 42 50 PM" src="https://user-images.githubusercontent.com/4741899/164118643-a21430bb-2402-42a5-a9d9-5ea2db8b29c8.png">

[2022-04-19 23:44] yuwenmemon commented on #8251
Here's an issue for this in the moment-timezone lib: https://github.com/moment/moment-timezone/issues/656

[2022-04-19 23:50] mallenexpensify commented on #6079
I just tested on iOS v1.1.52-0 and it opened to the correct chat.  (side note... iOS has been hella slow/laggy the past couple weeks, at least).

[2022-04-19 23:52] mallenexpensify commented on #7576
It doesn't _appear_ any compensation is due, please comment if you disagree

[2022-04-19 23:53] yuwenmemon commented on #8251
Okay, I see what's going on. So the +/- is not meant to be mathematical. It's actually a direction. So "GMT-4" means 4 timezones _east_ of Greenwich (forward in time) and "GMT+4" means 4 timezones _west_ of Greenwich (backward in time).

There's a DBA StackExchange rabbit hole one can go down [here](https://dba.stackexchange.com/questions/215905/why-does-postgresql-interpret-numeric-utc-offset-as-

[2022-04-20 00:21] mallenexpensify commented on #7014
@adeel0202 , you'll be compensated once the issue is fixed. The reason for compensating the other contributor is because we've decided to not work with them and, Tim said

[2022-04-20 00:40] marcaaron commented on #8690
There's no clear reason why this shouldn't work today. Is it consistently reproducible @kbecciv? It looks like this is being reported as affecting "all platforms", but offline messages are working fine for me on the web version of the app. Maybe we can look at logs and see what happened with this request.

[2022-04-20 00:52] mvtglobally commented on #8631
@yuwenmemon ,
Regression is completed. We are validating last 2 CPs right now

[2022-04-20 00:52] yuwenmemon commented on #8631
Awesome, thanks!

[2022-04-20 00:59] MitchExpensify commented on #7591
Thanks for the bump, Paid!

[2022-04-20 00:59] #7591 closed

[2022-04-20 01:06] mvtglobally commented on #8631
@yuwenmemon
https://github.com/Expensify/App/pull/8512 is blocked due to https://github.com/Expensify/App/issues/8534 Its repro in PROD, not sure if we can check it off as this is BETA feature.

Issues logged
https://github.com/Expensify/App/issues/8643
https://github.com/Expensify/App/issues/8640
https://github.com/Expensify/App/issues/8641
https://github.com/Expensify/App/issues/8644
https://git

[2022-04-20 01:13] MitchExpensify commented on #8245
I also cannot reproduce this

![IMG_4681](https://user-images.githubusercontent.com/36425901/164127159-dd23c775-759b-4202-aa17-b24c3337de22.PNG)

[2022-04-20 01:35] yuwenmemon commented on #8631
@mvtglobally I think it's fine to check off, since yeah, it is a beta feature. I'll give a heads up about the blocker though.

[2022-04-20 01:43] chiragsalian commented on #8687
@kbecciv, the fix for this has been cherry picked. Its on version `1.1.55-2`.
Can you re-test @kbecciv and if the issue does not reoccur can you close this issue and check it off the checklist? 🙂

[2022-04-20 01:54] mvtglobally commented on #8631
@yuwenmemon CPs are pass. Checking off. Looks like we are good to 🚀

[2022-04-20 02:09] izhan commented on #7618
Lurking here just out of curiosity (I clicked a link on a marketing email from Expensify that linked to this issue) - @aswin-s 's thorough explanation was really cool to read. If his proposal looks good, an alternative upstream fix could also be the more elegant:

[code]

[2022-04-20 02:26] marcaaron opened #8700 "[HOLD] Pusher events possibly arrive out of order. Jumping comments when coming back online as they are created."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Coming from https://github.com/Expensify/App/pull/8650

## Action Performed:

1. Add several comments (20) to a report while offline
1. Go online

## Expected Result:

1

[2022-04-20 02:41] stephanieelliott commented on #7596
PR is undergoing QA, not merged to staging yet.

[2022-04-20 02:43] stephanieelliott commented on #7706
Changes requested to PR, work still ongoing in https://github.com/Expensify/App/pull/8609

[2022-04-20 02:50] stephanieelliott commented on #8284
All paid up!

[2022-04-20 02:50] #8284 closed

[2022-04-20 03:41] kevinksullivan commented on #8454
@thesahindia please accept the offer in upwork when you get a chance!

[2022-04-20 03:46] kevinksullivan commented on #8245
Same, worked well for me.

![image](https://user-images.githubusercontent.com/22508290/164146286-3c624a05-2563-4982-83bc-2216df2010cf.png)

[2022-04-20 04:05] mdneyazahmad commented on #7618
I think it should also work with browser and android back button.

[2022-04-20 04:37] #8646 closed

[2022-04-20 04:42] metehanozyurt commented on #8220
Thank you @parasharrajat if pass true params `Search Page` works fine. I'm confused because `Workspace Invite Member page` not using resent chats and not using reports too.

I'm working on sorting in alphabetical order solution on `Contacts` 2 days. I read your message and slack channel 🙏 .

[2022-04-20 04:57] marcaaron opened #8702 "Hard to differentiate NewApp from OldApp logs"
## Problem

- Native logs for New Expensify app are prefixed with `[mobile]` for some reason
- This can make it hard to tell if the log is from OldApp or NewApp

## Solution

Use some other kind of prefix for logs coming from NewApp - maybe `[app-native]` instead of `[mobile]`

[2022-04-20 04:58] VishalMehta84 commented on #7618
@aswin-s very well explained and awesome work here

[2022-04-20 05:19] adeel0202 commented on #7014
Oh, got it. Thanks.

[2022-04-20 05:55] wildanmuhlis2 commented on #8681
@mvtglobally this issue is not reproducible in [1.1.55-2](https://github.com/Expensify/App/releases/tag/1.1.55-2)
<img width="349" alt="image" src="https://user-images.githubusercontent.com/11847279/164160009-225f5115-0816-4617-a03d-a5badd1c9a24.png">

[2022-04-20 07:02] rushatgabhane commented on #8534
@aneequeahmad since you're a new contributor, you're limited to only one job at a time. So I'd suggest that you complete the PR https://github.com/Expensify/expensify-common/pull/441 as soon as possible. After which, you may work on multiple jobs. Thanks!

[2022-04-20 07:05] rushatgabhane commented on #8534
@thesahindia I'm sure we can figure something out using [underscore.js](https://underscorejs.org/#objects). Please let me know when you submit an updated proposal, thanks!

[2022-04-20 07:39] sobitneupane commented on #8287
**Proposal:**
Reason: Following lines of code change searchInput value to empty.
https://github.com/Expensify/App/blob/6e9d429ad47044d71cb028fb14d5defc2de0af8a/src/components/EmojiPicker/EmojiPickerMenu/index.js#L152-L159

But It does not filterEmojis. So, I proposed following solution.

What is the expected output?

[2022-04-20 08:46] laurenreidexpensify commented on #7535
Okay, will circle back to this for payment once that is on prod

[2022-04-20 08:49] thesahindia commented on #8534
### Updated Proposal

We can use `_.values` to access the object

[code]

[2022-04-20 09:03] trjExpensify commented on #8245
Cool, thanks both. Closing this out then!

[2022-04-20 09:32] dylanexpensify commented on #7307
Not overdue

[2022-04-20 09:54] Julesssss commented on #8645
I think we still need the UpWork job to be created first? But yep, the proposal looks good.

[2022-04-20 09:54] Julesssss commented on #8645
Oh nevermind, Melvin was delayed for some reason 🤷‍♂️

[2022-04-20 11:15] MariaHCD commented on #8047
Focusing on some dailies. Will get back on this asap.

[2022-04-20 12:33] Puneet-here commented on #8645
I have applied to the upwork job.
Thanks.

[2022-04-20 12:43] Puneet-here commented on #8287
I don't think there's any problem in that. Can you tell why the user will try to take the focus away? I couldn't think of any practical reason. There will be only one case where the user will try to take the focus away from the search: when user wants to write something in the compose field but tapping anywhere on the screen closes the emoji picker so there's no problem in that.

I don't think the

[2022-04-20 12:59] rushatgabhane commented on #8534
@AndrewGable I like @thesahindia's [proposal](https://github.com/Expensify/App/issues/8534#issuecomment-1103639990). Changes will be made over here.
https://github.com/Expensify/App/blob/0596be5899916b4eae8d723dfc4c07e4fd05ed7e/src/libs/actions/Report.js#L1526-L1527

🎀 👀 🎀 C+ reviewed

[2022-04-20 13:11] NicMendonca commented on #8379
@eVoloshchak @parasharrajat can you both apply to the job please? Thank you! - https://www.upwork.com/jobs/~0117b13ad85930bd8e

[2022-04-20 13:12] NicMendonca commented on #6883
doubled - https://www.upwork.com/jobs/~0190053c928a98fb14

[2022-04-20 14:21] flodnv commented on #8471
Thanks! Sounds good 👍 @kevinksullivan please hire @metehanozyurt

[2022-04-20 14:31] kbecciv commented on #8690
@marcaaron QA tester was consistently reproduced the issue in MAC with IOS app. We can make another combination of testing if needed, please let me know. Thank you

[2022-04-20 14:32] parasharrajat commented on #7618
Thanks for the proposal @aswin-s. Reviewing it shortly.

[2022-04-20 14:36] parasharrajat commented on #8220
So Others seem to agree on the following order.
1. Contacts - sorted by alphabetical order
2. Recent - sorted by recently used

For pages like search page, workspace invite, request money, and send money
Sorted by recently used

@metehanozyurt Let me know if you have any questions. Otherwise, please update the PR to follow the above order.

[2022-04-20 14:46] parasharrajat commented on #6941
Thanks, @Salehmrcp for presenting the changes. But we had similar proposals before and I am not convinced with this solution. You can find more details in the previous discussions on the issue.

[2022-04-20 14:50] parasharrajat commented on #6301
Review Started on the PR.  @mallenexpensify We would need translations for the copy in the following image:

[2022-04-20 15:09] Salehmrcp commented on #6941
I will prepare a video and send it

[2022-04-20 15:17] AndrewGable commented on #6079
I think this is fixed. If there is a regression found let's open a new issue.

[2022-04-20 15:18] SumitDiyora opened #8703 "[Medium] Color Contrast: Color contrast ratio fails for 'Download' and 'Close' icons."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to any 'Chat' using the Tab key.
3. Navigate to any Attachment using the Tab key and press using Enter to select it.
4. Measure the color contrast ratio of the 'Download' and 'Close' icons.

## Expected Result:
Color contrast ratio should be equal to or greater than 3.0:1 for the element between the foreground and

[2022-04-20 15:32] mvtglobally commented on #8681
@wildanmuhlis2 Just checked on Android and I can still repro on 1.1.55-2. maybe some platforms are resolved.

[2022-04-20 15:40] rushatgabhane commented on #8681
🎀 👀 🎀 C+ reviewed

@mateusbra's [proposal](https://github.com/Expensify/App/issues/8681#issuecomment-1103109284) works like a charm.
The issue is repro on iOS and Android.

cc: @tgolen

[2022-04-20 15:59] Beamanator commented on #8005
Sorry for the delay @Santhosh-Sellavel I'll try to help reproduce tomorrow 👍

[2022-04-20 16:05] tgolen commented on #8681
Shouldn't the color of the icon be set in `style.js`?

[2022-04-20 16:06] AndrewGable commented on #8534
Looking forward to the PR 👍

[2022-04-20 16:11] parasharrajat commented on #7307
Sorry for the delay, PR was reviewed yesterday.

[2022-04-20 16:11] parasharrajat commented on #8456
On it today.

[2022-04-20 16:15] aneequeahmad commented on #8089
Also, I think the price should be doubled ($2000) hehe, as I have pointed out another bug in the already written code and fixed that too. Let me know if it makes sense or not(I read somewhere if I feel like the price should be increased I should mention it in the comment).

cc: @marcochavezf

[2022-04-20 16:17] mallenexpensify commented on #8132
Pinged @mvtglobally in NewDot to take a look

[2022-04-20 16:19] aneequeahmad commented on #8122
@michaelhaxhiu will apply to this job asap. Figuring out verified unverified commits thing.

[2022-04-20 16:24] mallenexpensify commented on #8573
Doubled price to $500
https://www.upwork.com/jobs/~01139053e67fc42e9e

[2022-04-20 16:25] TomatoToaster commented on #8519
Still working on the polish issue that would resolve this one as well.

[2022-04-20 16:28] mallenexpensify commented on #7648
Based on this comment in the PR, it looks like Rory needs to review Marc's review
https://github.com/Expensify/App/pull/7702#pullrequestreview-942599372

Also... reminder to self, this is the issue Rushat was hired to review the PR, I believe the compensation is $500, will double check when issuing payment

[2022-04-20 16:29] mallenexpensify commented on #6069
Looks like @Luke9389 needs to review the PR https://github.com/Expensify/App/pull/8535#issuecomment-1101314894

[2022-04-20 16:30] mdneyazahmad commented on #7917
#### KYC Flow

##### Step 1
1. `tab` and `shift + tab` works as expected.
2. `enter` submits the form.
3. There is no checkbox.

https://user-images.githubusercontent.com/77761491/164278074-db37063d-92e9-4801-a54f-bfe1bc2efb90.mp4

##### Step 2
There is no form element.
<img width="374" alt="Screenshot 2022-04-20 at 9 50 41 PM" src="https://user-images.githubusercontent.com/77761491/164277986-5c91

[2022-04-20 16:30] mvtglobally commented on #8132
Looks like I was unsubscribed from this issue alerts. I did not mean this.
Trying this right now, I am not able to use back-ticks on the multiline or paragraphs. If you use straight text, it is looking aligned
![Screen Shot 2022-04-20 at 12 30 38 PM](https://user-images.githubusercontent.com/43995119/164279030-3ca668a2-cfdb-47a4-a910-663af8ce3ef0.png)

[2022-04-20 16:32] iwiznia commented on #8660
I think this problem will be solved when we finish all the offline conversations (as the event when we create a policy would be sent to all clients and they would know to hide the button to create a new workspace).
I think we should do nothing for now since this is probably an edge case very few real users face.

[2022-04-20 16:32] #8660 closed

[2022-04-20 16:34] mallenexpensify commented on #8130
Doubled price to $4000
This issue looks like it might be a bit tricky and I'd prefer to double (at least for now) than to 🏈
https://www.upwork.com/jobs/~012cfd3094fafb0057

[2022-04-20 16:35] mdneyazahmad commented on #7917
### Other issues

1. `Step 1` and `step 3` have footer button that is not fixed at the bottom.

https://user-images.githubusercontent.com/77761491/164279347-288eec03-1777-4cb5-98f5-b9ff8955c632.mp4

2. `Step 2` footer button has double spacing.
<img width="373" alt="Screenshot 2022-04-20 at 10 03 44 PM" src="https://user-images.githubusercontent.com/77761491/164279649-3cd4a40e-6c4d-475c-bf01-66837

[2022-04-20 16:37] robertjchen commented on #8420
no update

[2022-04-20 16:37] mallenexpensify commented on #8349
Doubled price to $8000
https://www.upwork.com/jobs/~0191b930fd2b38bae8

[2022-04-20 16:39] mallenexpensify commented on #6891
@Julesssss what's next step here? Looks like PR was merged a week ago and nothing's happened since then
<img width="1012" alt="image" src="https://user-images.githubusercontent.com/22508304/164280428-7b30cdb6-d0ce-482a-9864-8e033faba8af.png">

[2022-04-20 16:40] mallenexpensify commented on #7121
Looks like this still needs to be pushed live @parasharrajat, bumping to `Daily` to help prioritize

[2022-04-20 16:47] parasharrajat commented on #8126
Cases that you presented should be working already. What we need is that
- When user is on LHN and refreshes the page, it should open LHN.
- when user is on report page, and refreshed the app, it should open the reportscreen.

[2022-04-20 16:48] parasharrajat commented on #7121
Yup, I will update the recordings asap. PR is ready.

[2022-04-20 16:50] AndrewGable commented on #8132
Can you test on iOS?

[2022-04-20 16:53] aswin-s commented on #8606
@mateocole mentioned issue is different one from the one reported above. I had mentioned this issue in the other thread just to point out that it would also impacting testing. I think this needs to be treated separately.

[2022-04-20 16:56] tgolen commented on #8681
OK, I think we can agree that we shouldn't be using `fill="anycolor"` directly in the SVG files, is that right? Ideally, it looks like `<Icon>` has a `fill` property which should be used to color icons.

So, I am in favor of removing the fill from the SVG file. It looks like one other file is doing something similar, which is `workspace-default-avatar.svg`. Can we also fix that one while we're at

[2022-04-20 16:59] mateusbra commented on #8681
@tgolen you're right!

I think somehow this svg property overwrite our fill property on native platforms, I think we should remove them.
I'm ok with changing both `offline.svg` and `workspace-default-avatar.svg` with this PR.

[2022-04-20 17:05] mvtglobally commented on #8132
@AndrewGable Same on iOS. Are you able to repro?  ![image](https://user-images.githubusercontent.com/43995119/164284860-e12d8425-dd9f-4c57-a825-13f5e81638d7.png)

[2022-04-20 17:08] tgolen commented on #8681
Great, thanks! @bfitzexpensify 🟢  to hire @mateusbra for this.

[2022-04-20 17:10] AndrewGable commented on #8132
Yes, what version are you on?

bug | version
-----|--------
![IMG_6909](https://user-images.githubusercontent.com/2838819/164285588-13122bbe-f0de-4095-b521-4cd2b086394b.jpg) | ![IMG_6910](https://user-images.githubusercontent.com/2838819/164285583-d881e31d-92ed-46e3-a607-0885abf955ac.PNG)

[2022-04-20 17:12] SumitDiyora commented on #8492
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - https://github.com/Expensify/App/pull/8000, https://github.com/Expensify/App/pull/8010, https://github.com/Expensify/App/pull/8016, https://github.com/Expensify/App/pull/8024, https://github.com/Expensify/App/pull/8026, https://github.com/Expensif

[2022-04-20 17:17] mollfpr commented on #8126
Is the above case the same as https://github.com/Expensify/App/issues/8126#issuecomment-1103000322 result number 2 and 5?

Btw when a user is currently on LHN and opening the app with `localhost:8080/r/reportid` what is the expected result here? Should stay on LHN or report screen?

And when a user is currently on the report screen and they open the app with `localhost:8080` should it open LHN or

[2022-04-20 17:19] michaelhaxhiu commented on #8652
cc @nkuoch or @chiragsalian for your input too, since you both were involved in the last SDK update for OnFido. Seems we still are uncertain about whether this is **internal** or **external**.

[2022-04-20 17:21] michaelhaxhiu commented on #8122
sounds good, feel free to post a comment on this GH when you've applied so I can hire you!

[2022-04-20 17:30] parasharrajat commented on #8126
let's forget the opening of the App for a moment. First, [these](https://github.com/Expensify/App/issues/8126#issuecomment-1104168082) should work. So user should land on the same page when he **refreshes* the page whatever url is.

Using `localhost:8080` should open the Home page which is LHN.

[2022-04-20 17:56] mvtglobally commented on #8132
Very interesting @AndrewGable. Can you give me exact text copy you are using to try maybe? https://user-images.githubusercontent.com/43995119/164292982-aff1392b-c20d-4fbd-b375-9edc3aa36190.MOV

[2022-04-20 18:01] AndrewGable commented on #8132
I am on iPhone 13 Pro 15.4.1 - Using the same copy it's still misaligned

![IMG_6913](https://user-images.githubusercontent.com/2838819/164293902-9ebb9cc5-1c82-43f7-a93e-61ce4f18216b.jpg)

[2022-04-20 18:07] roryabraham commented on #7648
Yeah, quick update – @marcaaron's review was pretty substantial and so I'm working on some of the refactors he asked for in a separate branch. I'm making progress, but not pushing to the branch until I have something I'm confident in.

[2022-04-20 18:13] yuwenmemon commented on #8631
:shipit:

[2022-04-20 18:13] #8631 closed

[2022-04-20 18:17] aneequeahmad commented on #6941
@parasharrajat could you please confirm is this the issue that when tapping on input field it moves up, cuz in the video attached with action performed page isn't moving but scrolling.

https://user-images.githubusercontent.com/36359331/164296190-91654ab4-0f7c-435a-951d-3b53c6c7e192.mp4

[2022-04-20 18:19] rushatgabhane commented on #7909
@mateusbra fantastic! I'm sure we can DRY it up a bit in the PR.

🎀 👀 🎀 C+ reviewed
@iwiznia I like @mateusbra's [proposal](https://github.com/Expensify/App/issues/7909#issuecomment-1102778690).

[2022-04-20 18:21] metehanozyurt commented on #8220
Thank you so much all your help @parasharrajat 🙏 . I have come to the end of the study according to the new updates. I will check the tests and make a new commit .

[2022-04-20 18:22] parasharrajat commented on #6941
No that is not the issue @aneequeahmad. @kavimuru
Could you please confirm that screen scrolls up automatically on tapping on the input field?

[2022-04-20 18:22] parasharrajat commented on #8220
Thank you.

[2022-04-20 18:40] mvtglobally commented on #8132
Asking team to try different devices/OS if anyone can repro

[2022-04-20 18:40] yuwenmemon opened #8707 "Deploy Checklist: New Expensify 2022-04-20"
**Release Version:** `1.1.56-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/7362
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/8256
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/8341
  - [x] QA

[2022-04-20 18:43] arosiclair commented on #8293
**Solution**: A new `ResetCashPassword` template should be written. The Notification class could just extend the existing `Notification_SetCashPassword` class since it will contain the same validateLink macro. The subject and text could be the following:
[code]

[code]

[2022-04-20 18:45] mollfpr commented on #8126
I just check the URL path from the home screen which `/` is always navigated to `/` and then `/r/reportid`, whether we refresh the page from `localhost:8080` or `localhost:8080/r/reportid`.

Also if we refresh from `localhost:8080/r/reportid` it will navigate to `/` then `r/reportid`.

[2022-04-20 18:47] mallenexpensify commented on #6877
@parasharrajat does $500 seem fair for your C+ contributions on this issue the past few months?

[2022-04-20 18:47] parasharrajat commented on #6877
Yeah, that would be fine. Thanks.

[2022-04-20 18:50] kevinksullivan commented on #8114
got it. Spoke with  Rory and this needs to be internal, so I'm going to close this out in favor of the original issue. Thanks for flagging @adeel0202

[2022-04-20 18:50] #8114 closed

[2022-04-20 18:52] mallenexpensify commented on #6877
Can you accept the offer here Rajat https://www.upwork.com/jobs/~0152b68b2bb7a2e6df
and post a comment when you have?

[2022-04-20 18:54] mollfpr commented on #8126
Yeah probably the limitation from the drawer, since other screens that define in the navigator is doesn't have that behavior.

[2022-04-20 18:55] parasharrajat commented on #6877
I just accepted it.

[2022-04-20 18:58] dharmik commented on #8460
Do you want me to generate successful build from pipeline or from Xcode?

[2022-04-20 18:58] mallenexpensify commented on #6877
Paid Rajat!

[2022-04-20 18:59] mvtglobally commented on #8707
@yuwenmemon Release Version: `` looks blank.
![Screen Shot 2022-04-20 at 2 59 25 PM](https://user-images.githubusercontent.com/43995119/164303317-20ccafcb-e73a-40d3-9572-75a91bb3921b.png)

[2022-04-20 19:02] dharmik commented on #8460
Proposal Updated.

[2022-04-20 19:03] tgolen commented on #8610
That's a really good point, @iwiznia about multiple components making the same request. I hadn't considered that. Maybe we can de-dupe the requests somehow...

[2022-04-20 19:04] tgolen commented on #8610
I think getting more crisp on the current problem is the right place to start for now, and then we can discuss the solution later once we know exactly what (or IF) the problem is.

[2022-04-20 19:05] yuwenmemon commented on #8707
Updated! Should have been `1.1.55-2`

[2022-04-20 19:24] rushatgabhane commented on #8455
@adeel0202 that seems cool. Could you please also address https://github.com/Expensify/App/issues/8455#issuecomment-1098607821 in your proposal? Thanks!

[2022-04-20 19:33] metehanozyurt commented on #8220
I just made my new commit @parasharrajat .
I will extending test cases. I will shoot videos for all platforms now for all cases. Thank you again 🙏 .

[2022-04-20 19:41] parasharrajat commented on #8460
From Xcode.

[2022-04-20 19:52] thienlnam commented on #7917
@mdneyazahmad Thanks for the videos

For the KYC flow -
Step 1 and step 2 look good.  No changes needed there

Let's address these issues in step 3

enter does not submits the form.
space does not toggle checkboxes.

As for the other issues, let's go ahead and have those addressed in the PR as well

[2022-04-20 20:06] AndrewGable commented on #8460
Yes, version of XCode built locally must match the code change.

[2022-04-20 20:08] mvtglobally opened #8708 "Messages are duplicating sometimes"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Receive a DM
2. Leave that DM for a moment, and come back (i.e. click into another DM)
3. See the DM duplicated
4. Type a message, hit send and c

[2022-04-20 20:09] marcaaron commented on #8230
Not overdue. Competing priorities with Offline First conversations, but will be able to move onto this soon.

[2022-04-20 20:10] marcaaron commented on #7007
What's the latest here?

[2022-04-20 20:11] Luke9389 commented on #8157
We're just waiting for proposals here, correct?

[2022-04-20 20:17] #8517 closed

[2022-04-20 20:18] marcaaron commented on #8517
These were all basically determined to be retry-able. We'll be logging for more specific errors in case any pop up that look important to investigate.

[2022-04-20 20:23] cead22 commented on #8293
Hmmm, honestly I think the current copy is actually fine and works for both account creation and password reset cases, so I wouldn't change this, specially without discussing this change in #product, so I start with that or close this issue

[2022-04-20 20:24] marcaaron commented on #8293
Plan sounds good to me @arosiclair. We can also tag in marketing here to verify the copy looks good.

[2022-04-20 20:26] marcaaron commented on #8293
**Current copy:**

Good point and seems like it can work @cead22

[2022-04-20 20:27] #8679 closed

[2022-04-20 20:32] marcaaron commented on #8652
We can have a contributor update `Expensify/App`, but if we want to bump the SDK versions in Web-Secure that will need to be `Internal`. Seems they do not need to be updated at the same time or by the same engineer.

**suggestion:**

- Leave this `External` and ask for Onfido UI SDK + Onfido React Native SDK to be updated in `App`
- Open a new issue in `E/E` to update the `Web-Secure` repo

[2022-04-20 20:42] cead22 commented on #8708
Looks like we're creating multiple actions even though we have a clientID that can help us determine if we've already created one
[code]

[2022-04-20 20:43] cead22 commented on #8708
If we solve that in the backend, which seems like it should be an easy fix, it has to be done internally

[2022-04-20 20:44] cead22 commented on #8708
There were two requests made for that comment it seems https://www.expensify.com/_devportal/tools/logSearch/#sort=asc&size=10000&query=blob%3A%22Processing%20'Report_AddComment'%22%20AND%20blob%3A%221650483952607338%22%20AND%20timestamp%3A%5B2022-04-20T00%3A00%20TO%202022-04-21T23%3A59%5D

<img width="1600" alt="image" src="https://user-images.githubusercontent.com/165133/164319547-8d5e53fe-57bf-4

[2022-04-20 20:48] jboniface commented on #8641
[job post](https://www.upwork.com/jobs/~01230d64974915b67a)

[2022-04-20 21:02] thienlnam commented on #7307
Hoping to get some copy help for messages regarding attachment downloads cc @Expensify/marketing

SUCCESS
title: 'Downloaded!'
message: 'Attachment successfully downloaded'

ERROR
title: 'Attachment Error'
message: 'Attachment cannot be downloaded'

PERMISSION ERROR
title: 'Access Needed',
message: 'Expensify does not have access to save attachments. To enable access, go to Settings and allow acce

[2022-04-20 21:19] JmillsExpensify commented on #8251
Oh ha wow. Great find.

Yes agreed.

[2022-04-20 21:22] parasharrajat commented on #7618
I was wondering if this might be fixed as well with the proposed solution https://github.com/Expensify/App/issues/4612. I will test it later.

---

Glad to see a detailed post.

I am trying to understand this. It seems wrong to me. I hope you can help me understand it better.

```index = n < 0 ? Math.max(index - n, 0) : Math.min(index + n, items.length - 1); ``` based on this line `Math.max(index-

[2022-04-20 21:23] NicMendonca commented on #8664
Job posting: https://www.upwork.com/jobs/~011c96071a6ad0431c

[2022-04-20 21:25] dharmik commented on #8460
@AndrewGable @parasharrajat Is it what we are expecting in video?

https://user-images.githubusercontent.com/1510175/164325382-25a0ad7a-73d6-456f-8774-ab23eaa51db8.mov

Mine current xcode version:
<img width="543" alt="Screen Shot 2022-04-21 at 2 54 31 AM" src="https://user-images.githubusercontent.com/1510175/164325469-b06d4c9b-6219-4ec3-948f-b435634eb8d2.png">

[2022-04-20 21:25] JmillsExpensify commented on #8356
Ok great, thanks for the confirmation!

[2022-04-20 21:36] kbecciv opened #8709 "LHN - List of user's conversation is not displayed in LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/[](javascript:)
2. Log in with applause or gmail account (applausetester+0901abb@applause.expensifail.com

[2022-04-20 21:40] roryabraham commented on #7582
Working a lot on refactoring related components in [this large PR](https://github.com/Expensify/App/pull/7702). No update on this.

[2022-04-20 21:41] roryabraham commented on #7352
[Expensify-common PR](https://github.com/Expensify/expensify-common/pull/436) was merged just a few minutes ago. Next up is the NewDot PR.

[2022-04-20 21:42] roryabraham commented on #7094
This just came up again recently. It needs to be handled internally but is lower priority than other things I'm working on. Hopefully will get to it next week.

[2022-04-20 21:46] mallenexpensify commented on #6301
Asking for translation!

[2022-04-20 21:47] megankelso commented on #8588
not overdue! any updates here?

[2022-04-20 21:57] stitesExpensify commented on #8594
Not overdue, on hold

[2022-04-20 21:57] OSBotify commented on #8707
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-04-20 21:57] OSBotify commented on #8709
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-04-20 21:57] mvtglobally commented on #8709
Adding Deploy blocker even through this is repro in PROD, as this is currently blocking multiple TCs in regression and PR validations.

[2022-04-20 21:59] mvtglobally commented on #8707
My bad, I was adding label on another ticket https://github.com/Expensify/App/issues/8709. Its repro in Prod, but wasn't repro in the previous build

[2022-04-20 22:00] stitesExpensify commented on #8307
This seems like it will change as part of the offline first project. We're going to want to make it look like the picture uploaded, and then queue it up if the user is offline. I think we should hold on this for now CC: @tgolen

[2022-04-20 22:02] JmillsExpensify commented on #8588
Interesting yeah I agree that the comment action menu feels like the right place for now.

That said, I also have one request: If would be great to pull these kinds of platform decisions out of Github and into Slack. I'd highly recommend posting in #expensify-open-source and then reposting in #product so we get ample feedback from both the community as well as Expensify employees.

[2022-04-20 22:04] stitesExpensify commented on #7420
I got distracted with this last week. Will be looking at it tomorrow

[2022-04-20 22:27] AndrewGable commented on #8460
You are going to have to show in video that your changes did not introduce any regressions to the iOS app.

[2022-04-20 22:44] yuwenmemon opened #8710 "[HOLD] - (Wait for API refactor as it will affect this) Workspace Room is not refreshed when member is removed from Workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a workspace with user 1
2. Go to the `Manage members` tab of the workspace, invite user 2
3. Login to user 2 via incognito window, verify

[2022-04-20 22:44] yuwenmemon commented on #8710
cc @TomatoToaster

[2022-04-20 22:47] yuwenmemon commented on #8710
For whoever picks this up: The issue behind this is described [here](https://github.com/Expensify/App/pull/8437#issuecomment-1102013321). We try fetching _all_ workspace chats [here](https://github.com/Expensify/Web-Expensify/blob/9f59c7a6da074119e97e2178c062437c1d49467f/lib/PolicyAPI.php#L827) - which is optimized for the admin case. For a policy _member_, we'll just get a 404 response from [GetR

[2022-04-20 22:51] tgolen commented on #8467
I spent about 2.5 hours debugging this and I am completely lost. @parasharrajat it looks like you were someone that most recently touched [this code](https://github.com/Expensify/App/blob/971566b861796914c7080ac68064a0b1f266cfce/src/pages/home/report/ReportActionsView.js#L440-L448) so maybe you have some ideas.

There is the reports `unreadActionCount` that is stored in Onyx, then there is the `ge

[2022-04-20 22:53] tgolen commented on #8467
Ultimately, it feels to me like the problem is that `localUnreadActionCount` is separate and different from `unreadActionCount` in Onyx. If instead, everything referred to the `unreadActionCount` in Onyx as the source of truth, then that seems like it would work much easier.

[2022-04-20 23:01] mvtglobally commented on #8707
@yuwenmemon just FYI. IOS did not deploy yet. We are working on other platforms right now, but maybe you can re-push the IOS build like yesterday if its stuck again?

[2022-04-20 23:03] kbecciv opened #8711 "Sign in - Wrong error message is displayed for incorrect password for 2FA account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log account with 2FA
3. Input correct email
4. Input correct password
5. Enter incorrect 2FA details and try to login
6. Enter

[2022-04-20 23:04] yuwenmemon commented on #8707
Ah yes, it is stuck 😭

[2022-04-20 23:09] cead22 commented on #8610
@tgolen any suggestions for how to go about that? Should we first verify whether we're making unnecessary requests for views that aren't mounted, or is that already confirmed?

[2022-04-20 23:13] yuwenmemon commented on #8707
Trying it again.

[2022-04-20 23:17] trjExpensify commented on #8612
So @Julesssss, is this _not_ a side effect of bidirectional scrolling as you mentioned [here](https://github.com/Expensify/App/issues/8612#issuecomment-1098025694), or does it need to go on `[hold]` for now?

[2022-04-20 23:17] marcaaron commented on #8700
Ah so testing this on staging and it seems like this won't happen at all after implementing the sequential queue. I think this effect is only observable on dev.

[2022-04-20 23:17] #8700 closed

[2022-04-20 23:18] marcaaron commented on #8700
cc @MonilBhavsar if you want to double check that it only happens on dev. Not sure we need to look into it further, but feel free to reopen if you disagree.

[2022-04-20 23:37] MitchExpensify commented on #8157
Yes... Doubling. Shared in Slack [here]([mWeb -Split Money -Split button is not floating when you split between another user](https://github.com/Expensify/App/issues/8157#))

[2022-04-20 23:38] cead22 commented on #8709
I can't reproduce this one, and I don't think it should be a blocker if it's happening in production

[2022-04-20 23:49] roryabraham commented on #8709
Not sure, but I have a hunch this _might_ be related to https://github.com/Expensify/Expensify/issues/207357

[2022-04-21 00:07] cead22 commented on #8709
Good context on this [slack discussion](https://expensify.slack.com/archives/C03TQ48KC/p1650499108317219?thread_ts=1650495338.934079&cid=C03TQ48KC)

[2022-04-21 00:21] OSBotify commented on #8707
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.56-0 :rocket:

[2022-04-21 00:41] yuwenmemon commented on #8707
Should be all good now!

[2022-04-21 00:41] mallenexpensify commented on #8710
Went down a triage 🐰🕳 trying to lean more about workspaces to provide context to a contributor (if they end up working on this). [This Community link ](https://community.expensify.com/search?query=new.expensify.com%20workspace&scope=site&source=community)will help get more details on workspaces

Also... @yuwenmemon I _feel_ like we've had a similar issue in the past where users haven't been fully

[2022-04-21 00:47] cead22 commented on #8709
We found the issue and it's the same as this one https://github.com/Expensify/Expensify/issues/207357#issuecomment-1104588045 -- check out that comment for an explanation of the bug and the reproduction steps. Assigning @flodnv since he's assigned on the dupe issue and also in a time zone ahead of PT

[2022-04-21 01:08] marcaaron commented on #8467
Putting a hold on this and removing the External label. IMO issues dealing with "unreads" need to wait until this logic is improved holistically. See my WN post [here](https://expensify.slack.com/archives/CC7NECV4L/p1648745342332069).

[2022-04-21 01:22] marcochavezf commented on #8089
Hi @aneequeahmad, what other issue did you fix? Could you point me where you read that the price should be increased?

[2022-04-21 01:30] kadiealexander commented on #7375
@srdjanrist could you please provide an update for us here?

[2022-04-21 01:32] kadiealexander commented on #7424
Ah, thanks Matt! Sorry team, I was looking at the first set of upwork links.

[2022-04-21 01:36] mvtglobally commented on #8709
@cead22 @roryabraham, thanks for looking into it. Most of our testers are unable to use their regular accounts, so we are running PRs and regression on new accounts to avoid this issue. However, I believe it should be definitely looked at as many users with multiple treads/activities will not be able to use the app properly due to this issue.

[2022-04-21 01:49] aneequeahmad commented on #8089
Hi @marcochavezf, the other issue was there was the other regex rule doesn't seem valid which i pointed out above in my proposal [here](https://github.com/Expensify/App/issues/8089#:~:text=Also%20this%20regex%20/%3C%5C/pre%3E%5Cs*%3Cbr%5Cs*%5B/%5D%3F%3E/gi%20doesn%27t%20seem%20to%20be%20valid%20so%20replacing%20it%20with%20/%3C%5C/pre%3E%5Cs*%3Cbr%5Cs*%5B%5C/%5D%3F%3E/gi%20to%20make%20this%20regex

[2022-04-21 01:50] marcaaron commented on #8467
Agree this is a big part of the confusion. Also just having separate concepts like "unread marker badge" and "unread count" makes it hard to tell what the difference is between:

- floating unread message counter badge
- new line indicator
- unread action count
- last read action
- etc...

Would love a solution where the server is the ultimate source of truth here. All the logic to calculate based

[2022-04-21 03:21] mvtglobally opened #8714 "[HOLD][$250] At some places we are using error/success messages that aren't localized - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Set language to spanish
2. Add phone number which already belongs to existing account

## Expected Result:
error should be translated to spanish

[2022-04-21 03:24] mvtglobally opened #8715 "[HOLD for payment 2022-06-13] [$250] Update the IOU "Cancel" button so that it has a fixed size - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Request money from someone
 2. Cancel the money request the button size will increase when loading

## Expected Result:
Update the logic of the

[2022-04-21 03:27] mvtglobally opened #8716 "[$250] Frequently used emojis shown even when user didnt select this emoji before - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Login to new account
 2. Open emoji picker
 3. Select an emoji it will show up in frequently used section

## Expected Result:
It should only sh

[2022-04-21 04:17] mvtglobally opened #8717 "Can't zoom in/out a gif - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to actions > Add attachment > select a gif
2. Click to zoom in/out see if it works and send the gif
3. Now open the gif that you just sent try

[2022-04-21 04:20] mvtglobally opened #8718 "Feature Request: User is not able to start over after filling some info in VBA flow - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Add bank account manually
 2. Fill some fields in company information page and press the cross icon at the top right to go to homepage
 3. Now g

[2022-04-21 04:27] dennismunene commented on #8331
waiting for payment on this cc @kevinksullivan

[2022-04-21 04:32] mvtglobally opened #8719 "[HOLD] [$500] Height of dropdown menu increases - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open a chat
2. Click on actions > send money > add amount and click the next button
3. Now click on the dropdown arrow while the keyboard is open

[2022-04-21 04:48] kadiealexander commented on #8286
Price doubled again!! Get in while it's hot!!

[2022-04-21 04:59] kadiealexander commented on #8309
Price doubled again!

[2022-04-21 04:59] mvtglobally opened #8720 "Comment editing doesn't work when you remove all the text except the backticks - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. Enter some text inside the backticks to quote it
3. Send the comment
4. Click on the edit comment icon
5. Remove the text inside

[2022-04-21 05:04] mvtglobally opened #8721 "Feature Request: When a user has changed their password, then they should be logged out from all the places where they are logged in - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
## Problem:
When user is changing password, user is not logged out on other platforms.
Scenarios where it might help: 1. If a user lost his device where he is logged in.

[2022-04-21 05:07] mvtglobally opened #8722 "Amount splits two times if I keep pressing Split button - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any group chat
2. Tap on + icon
3. Select Split bill
4. Enter any amount
5. Keep pressing Split button

## Expected Result:
Amount should be

[2022-04-21 05:11] kadiealexander commented on #8545
Good call Santhosh, done! Get those proposals in team!

[2022-04-21 05:12] mvtglobally opened #8723 "[$250] "x" navigates back to the previous page when use URL to access members page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login in NewDot
2. Go to your workspace's member RHN
3. Copy the url (should look like /workspace/XXXXXXXXXX/members)
4. Open the URL in a new t

[2022-04-21 05:15] kadiealexander commented on #8595
Placed a hold on this while we work out the UI details. @Expensify/design @tgolen any thoughts on the design elements of creating our own password form for password-protected documents?

[2022-04-21 05:17] kadiealexander commented on #8357
Doubled the job price!

[2022-04-21 05:28] kadiealexander commented on #8718
I've wanted to fix this for a while! Sending to engineering.

[2022-04-21 07:18] MonilBhavsar commented on #8035
On hold for API redesign

[2022-04-21 07:21] adeel0202 commented on #8455
In `User.js`, we can replace

`let error = lodashGet(response, 'message', 'Unable to add secondary login. Please try again.');`
with
`let error = lodashGet(response, 'message', Localize.translateLocal('addSecondaryLoginPage.errors.defaultError'));`

and

`error = 'This login already belongs to an existing Expensify account.';`
with
`error = Localize.translateLocal('addSecondaryLoginPage.errors.log

[2022-04-21 08:45] izhan commented on #8309
# Proposal

## Cause
Oi these are some big numbers! There are a few issues here:

1. The `Number.prototype.toString()` method will display large numbers as scientific notation. If you're interested in the algo, it's [here](https://tc39.es/ecma262/multipage/ecmascript-data-types-and-values.html#sec-numeric-types-number-tostring); it's a bit detailed, but the main takeaway from that is it starts doi

[2022-04-21 09:02] izhan commented on #8286
I was unable to repro on iOS 15.4.1 + Safari. Any specific browser / etc? And I'm assuming this is iCloud Autofill password?

[2022-04-21 09:03] flodnv commented on #8293
Agreed with @cead22 : let's err on the side of doing nothing more often. https://expensify.slack.com/archives/C01SKUP7QR0/p1650460837496409?thread_ts=1650386575.416899&cid=C01SKUP7QR0

[2022-04-21 09:04] rushatgabhane commented on #8286
@izhan maybe give Android a try?

[2022-04-21 09:23] aswin-s commented on #7618
@parasharrajat  Let me elaborate it a bit more.

[code]

While the issue occurs, state of things are as follows
[code]
[code]
[code]

So when the resultant index gets calculated by this logic
[code]
[code]

index becomes 1. But items.length is just `1`. So index could never be greater than zero.

And finally navigation happens on [line 196](https://github.com/react-navigation/react-navigation/blob

[2022-04-21 09:29] izhan commented on #8286
@rushatgabhane ah but the PR screenshot / description is for iOS, no?

[2022-04-21 09:30] rushatgabhane commented on #8286
Yes, the screenshot is for iOS **native** app, and not mWeb

[2022-04-21 09:31] Julesssss commented on #6891
Hey @mallenexpensify, deploys have been a bit slow recently, we're still waiting for the PR to be deployed to production. As soon as that happens the issue should be closed.

[2022-04-21 09:35] izhan commented on #8286
ahh i'm dumb, thank you that makes much more sense :)

[2022-04-21 09:36] trjExpensify commented on #8720
Nicely laid out steps, I can reproduce this consistently on the latest `1.1.56-0` Mac app. Handing over to engineering triage. 👍

[2022-04-21 09:40] Julesssss commented on #8612
So I think this is a side effect yes, we can either put it on hold or just keep it open in the off chance that someone finds a fix outside of bi-directional scrolling. I'd lean towards the second option.

Also, the other mentioned issue is totally different IMO.

[2022-04-21 10:12] frenkield commented on #8641
The browser is actually navigating back - it's not closing the tab. It appears to be the `DrawerActions.closeDrawer()` action in `CustomActions.js` that's sending the browser all the way back to the previous page. There's some manipulation of the route and history in `CustomActions.js`. So maybe the problem is related to that.

Is there maybe a straightforward way to determine when it's appropriat

[2022-04-21 10:19] MonilBhavsar commented on #8592
Can't seem to reproduce on Safari web, but can reproduce on iOS simulator

[2022-04-21 10:37] iwiznia commented on #8240
Wait, I just realized what this issue is and I don't think I agree with it. Specifically:

The button is not a "toggle read status", is just marking as unread, clicking it again should not mark it as read. I am closing this, feel free to reopen if you disagree.

[2022-04-21 10:37] #8240 closed

[2022-04-21 10:46] parasharrajat commented on #7618
OK, got it. Now the question is what is an acceptable solution to this bug. Let me do some testing on my end.

Why?

[2022-04-21 10:47] iwiznia commented on #7909
Where exactly would this code be?

AFAIK this should already exist... seems we need [this](https://github.com/Expensify/App/blob/33223dc805ebcd0502e59b9308033f049f9d5d8d/src/CONFIG.js#L37), no?

[2022-04-21 10:50] aswin-s commented on #7618
Finally redirection happens on like 196 using value of `n`, which is -1. `index` is calculated to map history to proper internal state. So even if we fix index and set it to zero, browser will still navigate to previous path which is outside the app.

[2022-04-21 10:53] parasharrajat commented on #8309
Sorry but it matters.

I am curious that we probably don't need that big number. What if we limit that input to a max number. @trjExpensify What do you think we should do here? Tagging you as we recently discussed this.

- Should we limit the input value to a max number? I don't think that an arbitrary long number is expected in this field e.g. 12345678901234567890123456789.12345

[2022-04-21 10:55] mdneyazahmad commented on #7618
I have got the root cause of the this issue and one more earlier posted by me https://github.com/Expensify/App/issues/7618#issuecomment-1101334527 But, I do not have a solid proposal to fix this issue yet. Posting soon. Thank you!

[2022-04-21 10:56] parasharrajat commented on #7618
@aswin-s gotcha.

[2022-04-21 10:57] trjExpensify commented on #8612
Got it. Would that fix on the off chance effectively be a workaround though, whereas our preference is to solve this properly with bidirectional scrolling which we're now making progress on? Going to CC: @roryabraham as well

[2022-04-21 10:59] parasharrajat commented on #7424
@mallenexpensify I think compensation would be the same $250. BTW, that PR was to track logs to get to the root of the issue so we should put the Help Wanted label back.

@thienlnam Did you find anything on the logs?

[2022-04-21 11:13] Julesssss commented on #8612
I don't think we can answer that without seeing a proposal. I don't know enough to say whether it's fixable outside of the bidirectional fix personally -- but maybe Rory does. Either way, I'm happy to keep this open or just put it on hold.

[2022-04-21 11:18] kbecciv opened #8724 "Web- Chat - Pusher events are arriving in the wrong order"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR :** https://github.com/Expensify/App/pull/8650

## Action Performed:
Precondition:
1. Launch App and login
2. Go to any chat
3. Off W

[2022-04-21 11:43] trjExpensify commented on #8309
Yeah, good question! @pecanoro @iwiznia, is there a max number of digits we allow on OldDot for the mileage rate input field? We could align with that, or perhaps use the same limit as `Request Money` which is set at `8`? I tend to agree that an arbitrary long number isn't really required for mileage, who's reimbursing millions per mile travelled?.. 😅

[2022-04-21 11:44] flodnv commented on #8641
Thanks for the insight @frenkield. Are you referring to this code? https://github.com/Expensify/App/blob/cc38098efa7c35daef2a7e7cb88872d16c952188/src/libs/Navigation/CustomActions.js#L82-L89

Any thoughts @rushatgabhane ?

[2022-04-21 12:00] metehanozyurt commented on #8309
I think the problem here is because the number is converted to scientific number. If the digits that can check before transform. Thus, when the user is prevented from entering a new number than he can delete the number again. That's what I meant in my previous offer. If it can be prevented from turning into a scientific number, it rounds the number after the dot with 3 digits in the current approa

[2022-04-21 12:06] parasharrajat commented on #8467
`localUnreadActionCount` is different from the unreadActionCount. It was necessary to keep the local count of unread messages when the user is active on the report.

As soon as a new message is received for an active report. it will be marked read(at least when this feature was built) thus `unreadActionCount` will reset.  There have been many changes to the code since then.

The overall thought is

[2022-04-21 12:10] parasharrajat commented on #8664
I think there is supposed to be a copy icon next to the email. Right? @NicMendonca

[2022-04-21 12:12] parasharrajat commented on #8200
I think we should hold this issue until we refactor the code for unread messages. I will update here.

[2022-04-21 12:15] thesahindia commented on #7007
@luacmartins suggested that instead of using a new component we should be stripping parentheses and dashes at validation and on form submission.

So we are thinking to do the same. Can you share you thoughts?

[2022-04-21 12:33] techievivek commented on #8588
Sure @JmillsExpensify will keep that in mind going forward. And will push a PR today itself.

[2022-04-21 13:10] MonilBhavsar commented on #8592
Asked for confirmation on a PR which I think caused this.

[2022-04-21 13:15] NicMendonca commented on #8597
doubled: https://www.upwork.com/jobs/~01f375a847afba4391

[2022-04-21 13:23] iwiznia commented on #8309
@trjExpensify I just tested (in app, you can do it too) with 12345678901234567890 and the value it saved was 12,345,678,901,234,567,000.00, so there seems to be a limit, but I bet that limit is the max int value or something like that.
Anyway, yes, let's add some arbitrary limit if it is causing problems.

[2022-04-21 13:48] parasharrajat commented on #8597
Again, this issue could be resolved in one of the other issues where we are creating the Custom UI for the password. Didn't find it. So I suggest to hold it till that is done.

[2022-04-21 14:04] robertjchen commented on #8708
Got it, so it sounds like we would check the clientID of the new, incoming comment on the backend, to make sure it's unique within the past, say, 5 recent actions on that chat report. We would reject the `Report_AddComment` command if that's not the case.

I think this would be a great FistPick, going to raise it in Slack 👍

[2022-04-21 14:12] michaelhaxhiu commented on #8708
@robertjchen I love first picks, but isn't a pre-req that this should be easily reproducible? Just wanted to check on that aspect as we can't reproduce this in a steadfast manner

[2022-04-21 14:20] tgolen commented on #8467
Ah yes, you're right. It would only decrease the unread count if the deleted message was in the group of the unread ones.

@marcaaron how do you think we should move forward with this? I am kind of thinking that we place this on HOLD until we have a plan for refactoring the unread message counts. It seems like adding another hack on top of existing code at this stage would be a mistake.

[2022-04-21 14:20] robertjchen commented on #8708
Great point! It might not be reproducible consistently with the steps above, but it could be easily simulated locally for testing.

[2022-04-21 14:26] kbecciv opened #8728 "LHN - the workspace chat in the left hand navigation isn't appeared for public account (gmail)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR:** https://github.com/Expensify/App/pull/8476

## Action Performed:
Precondition: Create new public account (Gmail)
1. Launch App and

[2022-04-21 14:41] #8601 closed

[2022-04-21 14:46] kbecciv opened #8729 "IOS/Android - The message about successful avatar change is duplicated"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when execute the PR:** https://github.com/Expensify/App/pull/8499

## Action Performed:

1. Go to https://staging.new.expensify.com/
2. Login with any

[2022-04-21 14:47] OSBotify commented on #8729
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-04-21 15:14] trjExpensify commented on #8309
Cool, so I'd vote we go for limiting to 8 digits (before the decimal) like `Request money`. We still need to maintain `3` decimal places because that's the default IRS rate. E.g `12345678.123`. Thoughts?

[2022-04-21 15:36] flodnv commented on #8709
This should be fixed now

[2022-04-21 15:36] #8709 closed

[2022-04-21 15:47] kbecciv commented on #8690
Issue reproduced with combination Win/Chrome and IOS/safari

https://user-images.githubusercontent.com/93399543/164499886-b4dd9583-d3d5-4d94-a0c9-271055a2e64c.mp4

[2022-04-21 15:47] frenkield commented on #8641
Yeah exactly, @flodnv. That's the code.

[2022-04-21 16:13] kbecciv opened #8731 "mWeb - Extra space is displayed below the text box"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the URL staging.new.expensify.com
2. Login
3. Go to any chat
4. Click on the text box

## Expected Result:
No extra space is displayed below

[2022-04-21 16:20] arosiclair commented on #8293
Alright I'll close this issue and leave it as is

[2022-04-21 16:20] #8293 closed

[2022-04-21 16:22] Puneet-here commented on #8645
I have raised the PR.
Thanks.

[2022-04-21 16:25] michaelhaxhiu commented on #8122
@aneequeahmad did you manage to figure it out, just checking in on status here so I can hire you. If the unverified commits thing is a problem you could post in #expensify-open-source slack channel for help!

[2022-04-21 16:27] aneequeahmad commented on #8122
@michaelhaxhiu yes, commits are now verified. Some other liniting issues are blocking the merge figuring out that too.
Will apply today on upwork for this job. Thanks

[2022-04-21 16:34] luacmartins commented on #8731
This can be external

[2022-04-21 16:41] neil-marcellini commented on #8676
From the feedback on my Onyx PR I gathered that it might be more simple to wait for Onyx to finish clearing before signing the new user in, so I'll put up a PR for that. I still think that the Onyx solution is better, but I'll leave it up to the reviewers to decide that.

[2022-04-21 16:47] flodnv commented on #8721
Weird. This is a bug because that's how it should work: https://github.com/Expensify/Auth/blob/84323b362aaaa034efc7162940b0bd1ee316b60a/auth/command/ChangePassword.cpp#L64

[2022-04-21 16:52] cead22 commented on #8708
At first I thought they should all be unique but this made me realize there can be collisions. That said, would it make sense to make sure the clientID isn't repeated in the same reportID, instead of in the same reportID and the last 5 actions in that reportID? In any case this may be a premature optimization, but just something I thought about when I read this

[2022-04-21 16:57] kbecciv opened #8734 "Web - Default rooms are showing for removed users"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR:** https://github.com/Expensify/App/pull/8684

## Action Performed:
1. Create a workspace with user 1
2. Go to the Manage members tab

[2022-04-21 16:58] marcaaron commented on #8467
Agree. This is at the top of my priority list to look into once the network improvements are made.

[2022-04-21 17:00] marcaaron commented on #8690
Can we please update the description to say which platforms specifically are affected?

[2022-04-21 17:06] techievivek commented on #8325
Not overdue.

[2022-04-21 17:08] stitesExpensify commented on #8325
Bumped the slack convo again too

[2022-04-21 17:39] sig5 commented on #6154
Hey folks, I have been encountering some health issues for a while due to which I am unable to enough time for the issues, even after trying my best. The work in my PR's is approaching completion and interested individuals can fork my branch and continue working on it. Thanks.

[2022-04-21 17:43] marcaaron commented on #7424
Not much other context, but based on where it's located - the reports either never loaded for these users or there was an issue processing the response. Will try to see if there are any stalled network requests.

[2022-04-21 17:55] mallenexpensify commented on #6301
Arrastra, haz zoom y rota tu imagen para que quede como te gusta.

Bonus context:

[2022-04-21 18:09] izhan commented on #8309
Yeah anything less than `Number.MAX_INT` (which is 9007199254740991) works, so 8 digits is reasonable! Best place IMO is putting it in the regex.

Out of curiosity - is there a reason we are correcting the value in the debounce function, and not in `setRate` when we set it? We already enforce the format on input using the regex, so as a user I was surprised that the UI formatted my input a 2nd tim

[2022-04-21 18:22] marcochavezf commented on #8089
Oh I see, thanks @aneequeahmad, well we don't know which problem in the app is solving that suggestion, also the current regex `/<\/pre>\s*<br\s*[/]?>/gi` is already valid for ` </pre><br/>` and ` </pre><br>`, no?

[2022-04-21 18:29] aneequeahmad commented on #8089
@marcochavezf this [regex](https://github.com/Expensify/App/issues/8089#:~:text=And%20yes%2C%20you%27re%20right%2C%20this%20regex%20is%20wrong.%20Let%27s%20fix%20that%20too.) is not valid as seen in the conversation. as the problem is eslint throws error for this regex `/<\/pre>\s*<br\s*[\/]?>/gi` have to add disable rule for these regex.

[2022-04-21 18:32] parasharrajat commented on #8309
I am good with https://github.com/Expensify/App/issues/8309#issuecomment-1105362009. What do you think @pecanoro?

So that users can type freely and modify the value if needed.

[2022-04-21 18:41] Puneet-here commented on #8662
I have raised the PR.
Thanks.

[2022-04-21 18:44] parasharrajat commented on #8662
@Puneet-here Could you please post the English version here? I think the title should be different from Are you sure?

[2022-04-21 18:49] roryabraham commented on #8718
Sorry, I'm having difficulty following this issue, and I think that some screenshots would be really helpful to clarify it. @Puneet-here since you reported the issue, do you mind collecting some screenshots to go along with the issue description?

[2022-04-21 18:53] roryabraham commented on #8718
Going to pass this back to @kadiealexander in the meantime.

[2022-04-21 18:58] Puneet-here commented on #8662
<img width="561" alt="Screenshot 2022-04-22 at 12 26 36 AM" src="https://user-images.githubusercontent.com/101883770/164533615-361e0299-54ba-43dd-a0f1-35176e67e702.png">

[2022-04-21 18:59] parasharrajat commented on #8662
Ok looks good.

[2022-04-21 19:03] parasharrajat commented on #8592
I am not clear on the reproduction steps.

What do we have to do here?

[2022-04-21 19:06] roryabraham commented on #8718
Sorry, I guess there already _is_ a video. Maybe I can just clarify this:

### Action Performed
1. Create a workspace if needed.
1. Go to `Settings` -> `Your workspace` -> `Connect Bank Account`.
1. Press `Connect Manually`
1. Enter a routing and account number, then press `Save and Continue`.
1. Start filling out the company information.
1. Press the `x` to close the bank account setup modal and

[2022-04-21 19:09] Puneet-here commented on #8718
Yes, that's correct, right now we only see the start over option when we exit after adding and saving the personal details
<img width="374" alt="Screenshot 2022-04-22 at 12 34 18 AM" src="https://user-images.githubusercontent.com/101883770/164535408-8d98168c-9855-4a70-8875-4b45819f07d0.png">

[2022-04-21 19:23] rushatgabhane commented on #7524
I ran a poll on slack on what to do with `maxLength`.

@eVoloshchak Solution B has won. We can now start working on a PR for the same 🚀

[2022-04-21 19:29] pecanoro commented on #8309
Yes! It sounds good, I doubt the rate will go to anything closer to that ever, or at least I doubt we will be here to see it hahaha

[2022-04-21 19:33] eVoloshchak commented on #7524
Cool
So, just so we are on the same page, I should:

1. Remove `maxLength` for TaxID on [CompanyStep](https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/CompanyStep.js)
2. Remove `maxLength` of expiry date on [Add Debit card flow](https://github.com/Expensify/App/blob/main/src/pages/settings/Payments/AddDebitCardPage.js)

Is that correct?

[2022-04-21 19:36] dharmik commented on #8460
@parasharrajat PR created.
https://github.com/Expensify/App/pull/8738

[2022-04-21 19:39] rushatgabhane commented on #7524
@eVoloshchak yes!

[2022-04-21 19:41] kbecciv opened #8740 "Magic Sign in link - Two email came the same time when creating public domain account (gmail)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to https://staging.new.expensify.com
2. In the email field, enter a email address for a new account.
3. Press continue
4. Click Resend l

[2022-04-21 19:42] aneequeahmad commented on #8122
@michaelhaxhiu I have applied for the job on upwork

[2022-04-21 19:47] mallenexpensify commented on #8240
Thanks @iwiznia I think I was heading down that path with my comment above but lost/forgot the context :ohnothing:

[2022-04-21 19:55] techievivek commented on #8363
@shawnborton Can you confirm if this is something unwanted and if we would want to fix this? This is prominent in Android.

[2022-04-21 19:57] stitesExpensify commented on #8716
@Puneet-here I'm a little confused on why you feel this is a bug.

The way that frequently used emojis works is we keep a count each time you use one (smile: 1, laugh: 5 etc). Once you have 16 frequently used emojis, we only show the top 16 from that list. If you are someone who doesn't use emojis often, then only the ones you have used will be there, even if they have only been used once. In my o

[2022-04-21 20:00] shawnborton commented on #8363
That does seem like a bug.

[2022-04-21 20:01] #7326 closed

[2022-04-21 20:06] gladiator-1 commented on #7912
@parasharrajat  I'm so sorry for this error, PR https://github.com/Expensify/App/pull/8741

[2022-04-21 20:14] michaelhaxhiu commented on #8122
Hired!

[2022-04-21 20:14] aldo-expensify commented on #8641
so.. after looking into this issue and this other GH issue [#8723](https://github.com/Expensify/App/issues/8723), I'm pretty sure that this happens when we call this function:

https://github.com/Expensify/App/blob/02af1110b137651f56ee5f8362ea8c321e5a2f64/src/libs/Navigation/CustomActions.js#L21-L31

This function also gets called when we close the RHN, and it takes us out of NewDot if we entered

[2022-04-21 20:16] aldo-expensify commented on #8723
This issue is related to this other: https://github.com/Expensify/App/issues/8641

I investigated a bit here: https://github.com/Expensify/App/issues/8641#issuecomment-1105713934, in case that helps!

[2022-04-21 20:18] tgolen commented on #8307
Yeah, I agree that the whole attachment flow should be reworked in the face of Offline First. Ideally, it feels like we can do the whole attachment optimistically.

[2022-04-21 20:20] frenkield commented on #8641
Thanks, @aldo-expensify. I'll see if I can figure out where things are going awry.

[2022-04-21 20:21] parasharrajat commented on #8309
Can someone update the Expected behavior with https://github.com/Expensify/App/issues/8309#issuecomment-1105362009?

Accepting proposals now for the new [behavior](https://github.com/Expensify/App/issues/8309#issuecomment-1105362009)......

[2022-04-21 20:22] marcochavezf commented on #8089
Commented in the [PR](https://github.com/Expensify/expensify-common/pull/442), the eslint error is thrown by the escape `/` character, which is not needed inside of `[ ]` in JS

[2022-04-21 20:23] Puneet-here commented on #8716
Hi @stitesExpensify, I think frequently used emoji means the emojis that we use frequently and other platform list like slack only lists an emoji in frequently used category when it gets used sometimes but in Expensify we are listing emojis that the user has selected even for once and even if they don't send that emoji it will be in frequently used, which isn't correct I think because of this when

[2022-04-21 20:23] tgolen commented on #8610
To help clarify this a little more, nothing in the reconnection logic is connected to views right now (mounted or unmounted) from what I know. So, I think we just need to determine first if the reconnection requests are:

- unnecessary
- leading to performance problems (like a bunch of re-rendering, or a bunch of JSON parsing, or something else)

If we can't determine that either of the above are

[2022-04-21 20:25] aldo-expensify commented on #8641
In case it helps, some simple steps to test when it works vs when it doesn't work. These are after you are logged in:

### Works fine:

1. Navigate to home (https://new.expensify.com)
2. Open search. Notice that the url changed to https://new.expensify.com/search
  ![image](https://user-images.githubusercontent.com/87341702/164546410-9cdfa9c0-323e-4ebe-a0c0-63f8d43a65d2.png)
3. Close the search RH

[2022-04-21 20:28] izhan commented on #8309
I'm somewhat new to this – I imagine I can just resubmit a proposal w/ a solution only (given I explained the problem above)?

# Proposal

### Solution
Change the regex we use in `setRate` to only limit to 8 characters. So changing this line: https://github.com/Expensify/App/blob/7029b6fdb8d1bb0617ffa695ef05fa52de316f10/src/CONST.js#L633

to `/^\d{1,8}+(\.\d*)?$/`

This has the intended behavior,

[2022-04-21 20:29] frenkield commented on #8641
That definitely helps. Thanks!

[2022-04-21 20:31] jboniface commented on #8541
bump again

[2022-04-21 20:35] parasharrajat commented on #8309
I am also confused to determine the best solution for this problem. we recently published some [rules](https://github.com/Expensify/App/blob/main/FORMS.md#modifying-user-input-on-change) which restrict us from manipulating the user input.

Pulling @luacmartins to determine the best course here. :bow:

[2022-04-21 20:36] LucioChavezFuentes commented on #7535
According to this [info](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#payment-for-contributions) of Expensify Contributing. Could it be posible to increase the cost of this issue? The following actions took me time to figure out to progress on the issue:

1.- Create a [pull request](https://github.com/react-native-picker/picker/pull/376) and wait to merge on [Picker ](https://github.

[2022-04-21 20:37] parasharrajat commented on #8541
Damn! not again. Sorry! I will review this first thing tomorrow.

[2022-04-21 20:45] stitesExpensify commented on #8716
No worries about the comment length!

If you have used an emoji once and that's more than any other emoji, then it would be more frequently used than the others though, right?

That will only happen if the emoji has been selected more than the 16 that are currently being shown though right?

I don't think `recently used` is really what's happening though right? It is actually the 16 emojis you hav

[2022-04-21 20:46] kbecciv commented on #8690
@marcaaron Updated affected platforms.

[2022-04-21 20:46] parasharrajat commented on #7121
Didn't get time to complete the PR today. I think the code can be cleaned a bit on the PR and PR is also introducing a new pattern so I will ask for a general review on slack after marking it ready.

[2022-04-21 20:48] AndrewGable commented on #8460
FYI - Once this is deployed to staging, I can verify that the email is or is not sent via apple.

[2022-04-21 20:50] parasharrajat commented on #8592
Looked at the issue. Tried a few things to see if those fix it but no luck. I will try more tomorrow.

[2022-04-21 20:58] allroundexperts commented on #8357
### Proposal

First of all, we need to make sure that the `hasMultipleParticipants` variable has an accurate value. The `reportParticipants` variable contains the logged in user for `admins` and `announce` channels but ignores them for single or group channels.

The `hasMultipleParticipants` variable is thus changed from:
https://github.com/Expensify/App/blob/8fda329c92559737d8040da5ab5eb01fd7b18d

[2022-04-21 21:01] Puneet-here commented on #8716
I just checked we list 24 emoji in that section

No I checked it's not the case they are getting replaced by any new emoji

[2022-04-21 21:02] dharmik commented on #8460
@AndrewGable Yes.

[2022-04-21 21:03] stitesExpensify commented on #8716
Oh wow, that's definitely a bug then thanks for checking! I still think that emojis only used once should be in the frequently used, if they are in the top 24 on the list. Do you want to propose a solution?

[2022-04-21 21:04] luacmartins commented on #8309
@parasharrajat what part exactly do you need help with? I think it's fine to limit the rate to 8 digits before decimal and 3 decimal digits.

[2022-04-21 21:06] parasharrajat commented on #8309
Ok, Thanks. I will review the proposal tomorrow.

[2022-04-21 21:09] luacmartins commented on #7535
@LucioChavezFuentes I think that's fair. May I ask what amount you would consider fair for the time invested on this issue?

[2022-04-21 21:10] Puneet-here commented on #8716
I don't have a proposal for this also currently I am trying to find solution for some other issues so I won't be able to work on it.

[2022-04-21 21:14] roryabraham commented on #8461
Unless I'm mistaken, it has been 12 days since we've heard from @nadir. According to our contributing guidelines:

Since it's been 12 days and they were pinged for an update in their PR, I'm going to unassign them.

@arielgreen Can you please cancel the upwork contract and open it back to applications?

[2022-04-21 21:18] roryabraham commented on #7625
I held this issue up a lot, but the PR has been merged. Thanks @thesahindia!

@bfitzexpensify if this makes it to production for a week without introducing any regressions, I would like to pay a $250 bonus to @thesahindia for their patience.

[2022-04-21 21:19] michaelhaxhiu commented on #5994
still not overdue

[2022-04-21 21:19] michaelhaxhiu commented on #8131
Doubling price

[2022-04-21 21:20] arosiclair commented on #8720
Looked into this. This is being caused by rejection of the edited comment by our API. Specifically a comment of just markup tags is considered empty and a 402 response is sent.

I think it would be appropriate to also consider this an empty comment in the app and prompt for deleting the comment like we do with "truely" empty comments.

[2022-04-21 21:23] stitesExpensify commented on #8325
Following up on this, we decided that the best path forward is to just not show billing cards!

[2022-04-21 21:37] NicMendonca commented on #8722
job posting: https://www.upwork.com/jobs/~01ef047ee2d4003a0d

[2022-04-21 21:40] marcaaron commented on #8722
**thought:** If this is upgraded to use the `Form` component then we won't have to specifically handle this "double submit" issue as it would be prevented by default. @luacmartins I guess we are not yet 100% ready to do that though?

[2022-04-21 21:52] mallenexpensify commented on #8200
@Luke9389 , what are your thoughts about putting this on hold? We could raise the discussion in #expensify-open-source to double check too

[2022-04-21 21:53] luacmartins commented on #8722
Yea, we are not there yet.

[2022-04-21 21:59] mallenexpensify commented on #7424
@parasharrajat hired you for C+ compensation for reviewing @kidroca 's PR that he got compensated for. Can you please accept the offer I sent? https://www.upwork.com/jobs/~01bea655d1a3ea7f17

[2022-04-21 22:04] Luke9389 commented on #8734
@kbecciv, I've noticed that it's hard for me to parse the issues you create.
Would you try to focus on more clear titles? For example, this one could be `Default rooms are showing for removed users`, or something like that. Know that you can always provide more detail in the description, so don't feel like you need to jam it all into the title.

Also, did you reload the page after step 5 of the Ac

[2022-04-21 22:08] aswin-s commented on #7618
Figured out a way to fix this issue within Expensify codebase itself. It's basically just reversing the logic thats happening inside linking library.

When we navigate to `ROUTES.HOME`, `DrawerActions.openDrawer()` gets called which removes the last drawer state from history. So when `onStateChange` listener in useLinking gets fired, it sees that there is a route removed from history and it needs

[2022-04-21 22:09] rushatgabhane commented on #7535
Comp for C+ should be $125 because I didn't have to do anything extra and there was one regression.

[2022-04-21 22:13] marcaaron commented on #8708
Can easily reproduce this by following the steps here...

https://expensify.slack.com/archives/C02HWMSMZEC/p1649356192074339?thread_ts=1649352308.973269&cid=C02HWMSMZEC

[2022-04-21 22:15] deetergp commented on #8724
To be honest, I'm not entirely certain whether or not the fix for this would be entirely contained within the App code base. My initial thinking would be yes, since these messages are held in Onyx by the client before being delivered to Pusher, then we ought to be able to ensure they are sent to Pusher in the correct order from within the App code.

A penny for your thoughts @roryabraham and/or @m

[2022-04-21 22:22] stitesExpensify commented on #8716
Sounds good, I'll open it up to others then (and you will get the reporting fee)!

[2022-04-21 22:23] marcaaron commented on #8724
yeah, it's unclear. This isn't super easy to answer without a full investigation, but I think we should first rule out that it's not a Pusher or server issue (correct place to fix this) before making it External. Also imagine it would be hard to confirm without access to server and pusher logs.

Thing is.. they're not sent to Pusher out of order they are sent in the correct order to our API - whic

[2022-04-21 22:40] rushatgabhane commented on #8251
oh noo bad bot.

@JmillsExpensify kindly settle the reporting bonus for me, thanks so much!

[2022-04-21 22:43] kevinksullivan commented on #8471
Hired @parasharrajat for c+. @metehanozyurt please apply to the job!

https://www.upwork.com/jobs/~01079bbed339023db8

[2022-04-21 23:04] kadiealexander commented on #8718
@Puneet-here could you please clarify what you mean by "right now we only see the start over option"? In your screenshot there is an option for "continue with setup", is this option not working?

[2022-04-21 23:11] kevinksullivan commented on #8331
Paid @dennismunene , thanks. @parasharrajat can you accept the offer for the job and I'll pay out for c+?

[2022-04-21 23:17] rushatgabhane commented on #8590
Sorry for responding so late, I have exams going on.
Please continue with other proposals.

[2022-04-21 23:46] trjExpensify commented on #8716
Upwork job here: https://www.upwork.com/jobs/~01f2ba2b8e27f04695

[2022-04-21 23:52] kbecciv commented on #8734
@Luke9389 Sorry for confusion, I will keep the titles simple and clear as you mention above.

[2022-04-22 00:06] LucioChavezFuentes commented on #7535
Based on another issue I am working on with similiar difficulty, I think It would be an extra $750, making it a total of $1000.

[2022-04-22 00:26] kbecciv opened #8744 "Web - "Expense Violations" tab enabled is not showing any confirmation and after refresh, disable"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Access staging.expensify.com
Sign into a verified account
Go to the Policy and to the "Expenses" tab
Click on the "Enable" button next to "Expense V

[2022-04-22 00:42] mollfpr commented on #8421
Hi @deetergp should I wait @Santhosh-Sellavel review? Or I can raise the PR now?

[2022-04-22 00:47] mvtglobally commented on #8707
@yuwenmemon Regression is completed. Only 1 blocker maybe we can push for another deploy tomorrow?
Deploy Blocker https://github.com/Expensify/App/issues/8729

PR #8256 is not working https://github.com/Expensify/App/pull/8256#issuecomment-1104587697 Since it same in PROD are we good to check off?
PR #8576 is failing for public account. Not sure if this is expected and we can check if off https://

[2022-04-22 01:30] Santhosh-Sellavel commented on #8421
@deetergp or @bfitzexpensify

LGTM as well!

Let's assign @mollfpr this issue.

@mollfpr feel free to Raise PR!

[2022-04-22 01:34] sylveawong commented on #8325
Removing the waiting for copy here

[2022-04-22 01:51] kbecciv opened #8745 "Android - Connect Bank Account - Seeing continue with setup screen for a brief moment when connecting manually - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Go to workspace > connect bank account
3. Click connect manually and press native back button of your mobile
OR
4. Go to worksp

[2022-04-22 01:56] mvtglobally commented on #8707
https://github.com/Expensify/App/issues/8709 is fixed. Checking off

[2022-04-22 02:08] kadiealexander commented on #8663
Posted to Upwork!
https://www.upwork.com/jobs/~01506330c899546260
https://www.upwork.com/ab/applicants/1517324288985792512/job-details

[2022-04-22 02:40] marktoman commented on #7618
### Proposal

Fix the underlying issue, so the inner state of react navigation and browser history are in sync automatically.

In `useLinking.js`, change `const historyDelta = ...` to `let historyDelta = ...`.

Below it, add:
[code]

In `CustomActions.js`, change the return statement of `pushDrawerRoute` to:
[code]

It solves the 2 issues mentioned above.
Dismissing the settings dialog when openin

[2022-04-22 02:57] stephanieelliott commented on #7081
Hey @mananjadhav can you update on progress here? Do you have a estimate when you will be able to address the PR changes?

[2022-04-22 02:59] stephanieelliott commented on #7596
PR on staging

[2022-04-22 03:11] stephanieelliott commented on #8396
2x'd to $1000: https://www.upwork.com/jobs/~016be1280a5e18a4d5

[2022-04-22 03:14] stephanieelliott commented on #8593
2x'd to $500: https://www.upwork.com/jobs/~0109467a22a120bcb4

[2022-04-22 03:25] stephanieelliott commented on #8717
Tried 10x to repro this, and each time the gif zoomed in as expected. I believe this is happening sporadically, but given that it seems to be very infrequent and is pretty low impact I am going to close this for now.

[2022-04-22 03:25] #8717 closed

[2022-04-22 03:44] izhan commented on #7618
# Proposal

## Problem
We are performing two navigations here:

1. Navigating UP to the root drawer https://github.com/Expensify/App/blob/32d8f0261b825cb6e47e441b9cf08400340a164e/src/libs/Navigation/CustomActions.js#L79
2. Navigating DOWN to the new chat https://github.com/Expensify/App/blob/32d8f0261b825cb6e47e441b9cf08400340a164e/src/libs/Navigation/CustomActions.js#L107

Unfortunately react-nav

[2022-04-22 03:55] izhan commented on #7618
ha @marktoman great minds think alike! looks like you beat me to posting a solution as I was still writing it up

+1 to @marktoman's comment that the modal issue should be treated separately

[2022-04-22 04:55] mujtabasac commented on #7618
According to what the developer comments suggest for this line of code it should be taking care of any value which is 0 or lesser than 0 where as it just matches to the value 0 only which is probably turning out to be buggy.

<img width="702" alt="Screen Shot 2022-04-22 at 8 48 13 AM" src="https://user-images.githubusercontent.com/72865619/164605210-f9cf6722-75ff-4a40-840e-b7a5ae4c2046.png">

And

[2022-04-22 05:21] kadiealexander commented on #7424
@thienlnam do you think we have enought context from the logs to put this back into the Help Wanted pool as Rajat suggested?

[2022-04-22 05:57] mollfpr commented on #8722
### Proposal

#### **Why**
The variable that is responsible to disable the button is not having value from `iou.loading` so it's should be disabled when `iou.loading` true.
https://github.com/Expensify/App/blob/32d8f0261b825cb6e47e441b9cf08400340a164e/src/components/IOUConfirmationList.js#L352
https://github.com/Expensify/App/blob/32d8f0261b825cb6e47e441b9cf08400340a164e/src/components/IOUConfirma

[2022-04-22 06:03] aneequeahmad commented on #7618
Ahhhh finally using `setTimeout` makes sense to someone hehe. @izhan look at my proposal [here](https://github.com/Expensify/App/issues/7618#:~:text=I%27m%20not%20sure%20about%20the%20setTimeout%20thing%20without%20it%20fix%20is%20not%20working) i suggested it already. it fixes all 3 solutions but before setTimeout, we have to dismiss the modal too and yeah i was curious if n<0 was not handeled in

[2022-04-22 06:32] laurenreidexpensify commented on #8744
Andrew already triaged in https://github.com/Expensify/Expensify/issues/207142

[2022-04-22 06:33] laurenreidexpensify commented on #8744
@joelbettner's comment from there -
Oh...actually, I just tested this myself. The reason enabling expense violations on a policy isn't "sticking" is because there were no parameters added for what constitutes a violation. Thus, since there was nothing to enforce, we show the violations as turned off after the refresh. As soon as I put something in to enforce for expense violations, the violations

[2022-04-22 06:34] laurenreidexpensify commented on #8744
@AndrewGable second pair of eyes pls - given Joel's comments above? Thanks!

[2022-04-22 06:59] laurenreidexpensify commented on #8661
https://www.upwork.com/jobs/~011e2392845cc20241

[2022-04-22 07:00] lbaldy commented on #2727
PROPOSAL
This has to be fixed inside the react native repository, through a standard MR process for Facebook (out of our control in terms of timing). Once merged, it would also be required to upgrade Expensify's react native version (this should probably be handled via another ticket that is well planned etc.).

Solution
I debugged the react-native code, and to me it seems that react native publis

[2022-04-22 07:16] mateusbra commented on #7909
Inside [AnchorRenderer.js](https://github.com/Expensify/App/blob/43910fe5c20584b05fe56013005e8e59ba93e8a6/src/components/HTMLEngineProvider/HTMLRenderers/AnchorRenderer.js), it will have a similar logic from what we do for internalLinks.
Maybe we could even DRY the component as @rushatgabhane suggested to something like:
[code]

I think you're right, we could use this!

[2022-04-22 07:19] brianmuks commented on #8361
@Santhosh-Sellavel any comment on this ?

[2022-04-22 07:44] tomivs commented on #8185
@thienlnam I'll be attentive to any changes or comments from QA... Also, I wrote an email to contributors@expensify.com so that I could join the Slack channel and then submit my proposal but I didn't hear back nor did I get added; so it'd be great if you could help me out with that.

Thanks.

[2022-04-22 08:11] bfitzexpensify commented on #8723
Upwork post [here](https://www.upwork.com/jobs/~016faab20cdd498a33)

[2022-04-22 08:56] conorpendergrast commented on #8714
Good catch1

[2022-04-22 09:17] frenkield commented on #8641
### **Proposal**

This issue is related to a bug in react-navigation: https://github.com/react-navigation/react-navigation/pull/10414

Clicking on a search result in Expensify calls `CustomActions.navigateBackToRootDrawer()`, which in turn uses the `StackActions.popToTop()` action to reset the current route. The new state is processed by react-navigation (in `useLinking.tsx`) which uses the histor

[2022-04-22 09:24] sobitneupane commented on #8357
**Proposal:**
Since reportParticipants includes logged in user in chat room but not in one-to-one or group chats. So, we must exclude logged in user from the reportParticipants while taking length.
There are three different conditions.
1.  length < 1 -> show Nothing
2. length === 1 -> show Send Money and Request Money Options
3. length > 1 -> show Split bill

To implement this, we should make use

[2022-04-22 09:36] Julesssss commented on #8460
Okay, thanks for the PR.

I can't believe I'm saying this, but compiling the app from the newer XCode/iOS sdk worked first time, I was expecting this to be a nightmare to test with all sorts of local compile issues 😆

[2022-04-22 09:42] dharmik commented on #8460
@Julesssss If all well can we merge that PR?

[2022-04-22 09:44] Julesssss commented on #8460
Yep, just running a few more tests. I used to have two XCode installations (one for the old app, one for the new one), so I'm just confirming all is good after switching to a single app.

[2022-04-22 09:44] thesahindia commented on #8745
We can close this as we already have the same issue logged here https://github.com/Expensify/App/issues/8541

[2022-04-22 09:47] Puneet-here commented on #8718
Sorry for the confusion QA team logged it as a feature request but this is a bug.

@kadiealexander, we show two options one to start over and one two continue with the setup. The bug here is that this page only shows up when you exit after saving personal details. If you exit before that your data will be saved but you won't see this page.

[2022-04-22 10:50] mananjadhav commented on #8716
@stitesExpensify @Puneet-here When I worked on this, I added support for both - frequently uses as well as recently used. This also might sound a bit confusing but recent emojis takes precedence over some frequently used.

https://github.com/Expensify/App/issues/4559#issuecomment-910726330

[2022-04-22 11:00] Julesssss commented on #8460
Merged.

[2022-04-22 11:46] muas19 commented on #8655
Where is this happening?

[2022-04-22 12:09] techievivek commented on #8363
@mdneyazahmad Ohh I was thinking it has something to do with the modal's marginTop property. But if what you suggested works then that's good.

[2022-04-22 12:31] marktoman commented on #7618
@izhan Ha, and it took me forever to hit send because of re-testing. Nice write-up, you explain it really well.

[2022-04-22 12:41] Beamanator commented on #8740
Hmm in the video it looks like the person specifically clicked "Resend link", and in the reproduction steps the second step is "enter a email address for a new account."

Both of these should send an email by design.
1. Creating a new account sends a welcome email
2. Clicking "Resend link" sends a new email

Am I missing something @kbecciv @dharmik ? Is there a Slack conversation where y'all discu

[2022-04-22 12:42] Beamanator commented on #5296
So true 😅 🤦

[2022-04-22 13:12] kbecciv commented on #8740
@Beamanator Sorry for confusion. steps are updated correctly. I have reproduced the above issue.

![email](https://user-images.githubusercontent.com/93399543/164721013-8e1315c2-a507-4b96-8265-892b1ad6305b.jpg)

[2022-04-22 13:35] marktoman commented on #7618
One way to treat the changes to react navigation is to keep them in the Expensify codebase by intent.

The pros:
- Optimization specific to the patterns of this app (we can avoid redundant UI calls in this case)
- Full control

Generally, the cons are that the upstream repo changes as well. In the case of `useLinking`, however, the code was written in a single bout of effort some two years ago and

[2022-04-22 13:35] huzaima commented on #8723
### Proposal

This is happening because we don't have a history in the navigation stack here:
https://github.com/Expensify/App/blob/02af1110b137651f56ee5f8362ea8c321e5a2f64/src/libs/Navigation/CustomActions.js#L21-L31

Modifying the function above to create a history before navigating back will solve the issue.

[2022-04-22 13:40] flodnv commented on #8641
Thanks everyone! 👌

As for the fix... wouldn't the fix be https://github.com/react-navigation/react-navigation/pull/10414? 😕

[2022-04-22 13:44] Beamanator commented on #8740
@kbecciv Sorry but I have to say again, I believe the current outcome (2 emails) is expected in that flow because:
1. Creating a new account sends a welcome email
    - **This happens when clicking "continue" after entering a new email address**
2. Clicking "Resend link" sends a new email (as expected)

Can you try step 1 and wait a bit to confirm that only 1 email comes, then do step 2 to confirm

[2022-04-22 13:46] Julesssss commented on #7779
Same as above, awaiting further retests.

[2022-04-22 13:48] sketchydroide commented on #8710
I think I'll pick this one myself, if anyone thinks this sould be an external instead I'm happy with that as well.
Seems like a weekly, so I'm changing to that

[2022-04-22 14:04] #8745 closed

[2022-04-22 14:19] sobitneupane commented on #8458
Hello @Justicea83 @NicMendonca, Looks like code was deployed to production 9 days ago. Waiting for my payment.

[2022-04-22 14:59] mdneyazahmad commented on #7917
I am not sure about the checkbox implementation. Current version uses a button for checkbox which is toggled when button is pressed `(Enter)`.  The ideal component to use here is the native checkbox element (eg. `<input type="checkbox">` on web). This way browser will provide default behaviour for accessibility and will dispatch an `SubmitEvent` when `Enter` is pressed.

I am curious to know how t

[2022-04-22 15:08] shawnborton commented on #8363
If this was introduced as a regression, we should have the contributor that introduced it fix it right?

[2022-04-22 15:34] luacmartins commented on #7537
Hey everyone! Since this is taking too long to be completed externally and I'd like to push this project forward, I'll switch this to internal and work on it myself. Thanks!

[2022-04-22 15:36] huzaima commented on #8356
### Proposal

Removing the `line-height` from the prefix character solves the issue. In particular, removing the following line:

https://github.com/Expensify/App/blob/2038776a7ba86639906c4033f22de8b48d75fb1e/src/components/Text.js#L61-L63

Working example:
<img width="354" alt="Screenshot 2022-04-22 at 8 35 16 PM" src="https://user-images.githubusercontent.com/17503685/164747400-53af3b4c-b0da-49e

[2022-04-22 15:43] kbecciv commented on #8740
@Beamanator Yes, one email came for step 1. after clicking "Resend link" - second email came. If its expected, please close the issue. Thank you

https://user-images.githubusercontent.com/93399543/164748638-1a337f80-7441-484d-8c83-5107c4160762.mp4

[2022-04-22 15:45] frenkield commented on #8641
Ah so sorry! I totally overlooked that. I'll give it a try and update my proposal.

[2022-04-22 15:51] luacmartins commented on #7536
@sig5 won't be able to complete the PR as per [this comment](https://github.com/Expensify/App/pull/7627#issuecomment-1105507333). I'll move this issue to internal and work on it to push this project forward.

@rushatgabhane please let @kevinksullivan know if any C+ payment is due. Thanks!

[2022-04-22 16:05] johnmlee101 commented on #8729
Quick check maybe seems like https://github.com/Expensify/App/pull/8499 is related? cc @marcochavezf

[2022-04-22 16:15] parasharrajat commented on #8655
This is what needs to be debugged and solved.

[2022-04-22 16:17] Santhosh-Sellavel commented on #8520
Can we double this one or wait?

cc: @JmillsExpensify @deetergp

[2022-04-22 16:28] neil-marcellini opened #8748 ""No chat found" error when signing up from a workspace invite"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Sign in to your test account on NewDot
2. Create a workspace if needed, then go to Settings > Workspace > Manage
Members and invite a brand new u

[2022-04-22 16:31] jayeshmangwani commented on #7537
@luacmartins is there any chance it can be External again?

I saw this issue a few hours back and I was working on this and I have done all the changes that are mentioned I was testing these changes in the app, here are videos

[Form stories]

https://user-images.githubusercontent.com/35371050/164755723-0c8407b0-afe1-4e9b-9087-5f403dfa5ca7.mov

DebitCardPage Before Changes

https://user-images.git

[2022-04-22 16:33] Santhosh-Sellavel commented on #8132
@AndrewGable @mvtglobally
I was able to reproduce this one finally.
While changing system font size the issue occurs

Check the video in the thread [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1650645202825089?thread_ts=1646420349.264159&cid=C01GTK53T8Q)

[2022-04-22 16:34] #8325 closed

[2022-04-22 16:41] parasharrajat commented on #8200
I will do some analysis over weekend and share the update.

[2022-04-22 16:51] Santhosh-Sellavel commented on #8122
@aneequeahmad Any update on PR?

[2022-04-22 16:54] Santhosh-Sellavel commented on #8307
Let's add a hold on the issue title, and remove the Help Wanted label.
@stitesExpensify

[2022-04-22 16:55] AndrewGable commented on #8132
Ohhh yes - I do have a smaller font size set on my iOS device.

[2022-04-22 17:03] trjExpensify commented on #8720
@arosiclair is taking this on, so I'm unassigning myself as a CM isn't required.

[2022-04-22 17:08] chiragsalian commented on #8714
Should be easy enough for anyone to address. To the person working on this can you check the codebase for any instances where localizations are not used then share us the english text so that we can provide the spanish text.

[2022-04-22 17:12] chiragsalian commented on #8212
Still waiting on proposals.

[2022-04-22 17:30] parasharrajat commented on #8664
Expected behavior here is:

A copy icon should be shown next to the email and the Link is aligned vertically in the pay bills section on the public domain.

@kbecciv Could you please update the expected behavior with the above?

@thesahindia Could you post an updated proposal?

[2022-04-22 17:37] thesahindia commented on #8664
Are you saying that copy icon should be shown next to example.com@expensify.cash?

[2022-04-22 17:52] stitesExpensify commented on #8716
Thanks for reminding me @mananjadhav I totally forgot about that! TBH I like that design a lot so I think this should just be closed. Thanks for creating the upwork job @trjExpensify! My bad for not remembering

[2022-04-22 17:52] #8716 closed

[2022-04-22 17:54] parasharrajat commented on #8664
Yes

[2022-04-22 17:57] aneequeahmad commented on #8122
@Santhosh-Sellavel PR is up and ready for review

[2022-04-22 18:02] rushatgabhane commented on #7536
@kevinksullivan no C+ payments due here.

[2022-04-22 18:09] thesahindia commented on #8664
I don't understand the reason behind showing the copy icon here because it's a link

[2022-04-22 18:10] parasharrajat commented on #8440
@dharmik Take a look at the new Room page for error management. Can we try to follow the same pattern as much as possible?

[2022-04-22 18:12] parasharrajat commented on #8664
Sorry, got confused with the email. It should have an external Link icon instead of a copy icon.

[2022-04-22 18:13] dharmik commented on #8440
@parasharrajat can you please elaborate what is room page?

[2022-04-22 18:14] parasharrajat commented on #8440
My Bad, this one https://github.com/Expensify/App/blob/main/src/pages/workspace/WorkspaceNewRoomPage.js

[2022-04-22 18:16] mallenexpensify commented on #8520
Doubled price to $500
https://www.upwork.com/jobs/~0101338915fc9540cb

[2022-04-22 18:18] Beamanator commented on #8740
Cool thanks for confirming @kbecciv - Yes this is expected 👍

[2022-04-22 18:18] #8740 closed

[2022-04-22 18:25] johnmlee101 commented on #8729
@chiragsalian did a great dive and we don't think it should be a blocker, however I think we should fix this flow to not allow clicking Save while an image is uploading to avoid a double notification

[2022-04-22 18:29] Santhosh-Sellavel commented on #8122
Thanks @aneequeahmad submit a new PR!

[2022-04-22 18:33] Santhosh-Sellavel commented on #8590
Open to proposals!

[2022-04-22 18:34] aneequeahmad commented on #8122
@Santhosh-Sellavel Submitted a new PR

[2022-04-22 18:35] Santhosh-Sellavel commented on #8122
Thanks!

[2022-04-22 18:37] aneequeahmad commented on #8158
@pecanoro any update ? so that i can raise the PR it's ready. Thanls

[2022-04-22 18:41] Santhosh-Sellavel commented on #8132
@AndrewGable This could break a lot of other UI in the app.
Ex:
![IMG_06BFDC1ACA9B-1](https://user-images.githubusercontent.com/85645967/164774917-3192d7bc-f34a-4ab1-9480-a9fc20c77648.jpeg)

[2022-04-22 18:44] Santhosh-Sellavel commented on #8132
Should look for any related issues, combine them, and handle them. Or maybe we can perform an audit to find issues in these cases.

@AndrewGable

[2022-04-22 18:49] thienlnam commented on #7424
@kadiealexander Yeah let's put this back in the Help Wanted pool.  We have some logs as Marc posted that may help provide some information that can be used as a starting point for an investigation.  I'll continue posting new logs weekly.

[2022-04-22 18:53] deetergp commented on #8520
Thanks for weighing in and doubling it @mallenexpensify 👍

[2022-04-22 19:02] thesahindia commented on #8664
We aren't showing the external link icon for links like this anywhere also it doesn't look great here so I think we can leave that.

[2022-04-22 19:05] parasharrajat commented on #8664
Can you share the screenshot? I have seen a few places where this icon is used. Let's see what others have to say. cc: @stitesExpensify @NicMendonca

[2022-04-22 19:10] parasharrajat commented on #7618
Thanks for the investigation, everyone. I am following each post and I will share the reviews asap.

[2022-04-22 19:10] parasharrajat commented on #7618
Thanks for the investigation, everyone. I am following each post and I will share the reviews asap.

[2022-04-22 19:19] Santhosh-Sellavel commented on #8595
@tgolen from slack thread [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1650647881244619?thread_ts=1649968961.380469&cid=C02NK2DQWUX)

Can we close this one or #8593?

[2022-04-22 20:12] luacmartins commented on #7537
Hey @jayeshmangwani! Sure, feel free to pick it up and submit a PR. I'll re-add the labels and re-assign the relevant people to this issue. Thanks for the interest and picking this up.

@MitchExpensify Please disregard my comment above about removing this job. We are making it External again and @jayeshmangwani will work on this.

[2022-04-22 20:17] parasharrajat commented on #7537
Ok Great. @jayeshmangwani this is urgent so I am hoping that PR will be ready by Monday.

[2022-04-22 20:17] Santhosh-Sellavel commented on #7917
Sorry What other issue? could you add more context, please!

@mdneyazahmad

[2022-04-22 20:17] migueriveral commented on #8723
Hey, I noticed that the issue occurs when I copy and paste the URL in my browser _for the first time_. However, if I do it for the second time, it seems to be working correctly, so my guess is that it's got something to do with the browser history.
How do I setup my local environment so I'm not redirected to the external url when I enter the URL? Thank you!

[2022-04-22 20:20] amyevans commented on #8728
I haven't been able to reproduce this issue. I am on the [1.1.56-0 branch](https://github.com/Expensify/App/tree/1.1.56-0) and I also tested on `main`.

Video:

https://user-images.githubusercontent.com/7277067/164788054-faf2e540-3743-4524-af43-7038eba97ed4.mov

@kbecciv do you think perhaps it's just that you were in Focus mode instead of Most Recent? The new workspace doesn't have any unread mes

[2022-04-22 20:27] Santhosh-Sellavel commented on #7917
@mdneyazahmad

Regarding IOU Confirmation we should check all IOU operation confirmation pages.
1. Request Money
2. Send Money
3. Split Bill Using FAB in LHN
4. Split Bill from group chat/multiple participants.

Thanks!

[2022-04-22 20:31] marcochavezf commented on #8729
Yeap, this is a different bug, but also I think the success message will be removed when the Offline UX Patterns will be implemented; I believe this is going to be an optimistic action without feedback, is this assumption correct @marcaaron @tgolen?

[2022-04-22 20:32] adelekennedy commented on #8426
And it's time to double again

[2022-04-22 20:33] shawnborton commented on #7541
Not overdue Melvin

[2022-04-22 20:36] dharmik commented on #8440
@parasharrajat Will check but I have one question like do we need to take it with this bug task, I guess it must be with refactor task.

[2022-04-22 20:50] yuwenmemon commented on #8707
@mvtglobally looks like there are still some items to check off like https://github.com/Expensify/App/pull/8684, right?

[2022-04-22 20:52] Luke9389 commented on #8734
Can you retest this now that this PR is live? https://github.com/Expensify/Web-Expensify/pull/33568

[2022-04-22 20:54] chiragsalian commented on #8249
PR is still in review with a bit of back and forth.

[2022-04-22 21:14] Santhosh-Sellavel commented on #8356
Open to better proposals!

[2022-04-22 21:21] thienlnam commented on #8361
Pending review from C+.  I don't think we should be changing what the lastMessageIndex is, it makes more sense to return an empty string if the lastMessageIndex is 0

[2022-04-22 21:24] Santhosh-Sellavel commented on #8357
Will get to proposals by Monday!

@sobitneupane

Then you should straight away ask questions to clarify things. So we could get this solved sooner.

[2022-04-22 21:27] aneequeahmad commented on #8356
@Santhosh-we need to remove `lineHeight` from `CSS` for textInputPrefix as it is making the height of prefix a little more than actual, or maybe give default `lineheight` for  mobile and web that is respectively 0 or 'normal'.

[2022-04-22 21:27] brianmuks commented on #8361
@thienlnam how is this :
[code]

[2022-04-22 21:28] Santhosh-Sellavel commented on #8361
I agree with you here @thienlnam.

But I would dig little this a bit before moving forward, I'll update on Monday thanks!

[2022-04-22 21:29] mvtglobally commented on #8707
@yuwenmemon i think I missed to update it in the list.
https://github.com/Expensify/App/pull/8684 is failing due to https://github.com/Expensify/App/issues/8734 Its repro in prod. So probably not a blocker

[2022-04-22 21:54] neil-marcellini opened #8755 "Update README to explain that Onyx data is stored in IndexedDB on Web"
## Problem
While reading through the README again, I noticed that in the Onyx section it says:
https://github.com/Expensify/App/blob/bce4733e4c253ebc65a2772c150657039eafef76/README.md?plain=1#L131
This is out of date, since https://github.com/Expensify/App/pull/4908 Onyx data is now stored in IndexedDB > OnyxDB > keyvaluepairs

## Solution
Update the README

[2022-04-22 22:10] parasharrajat commented on #8440
I am not asking to do the whole refactor of the component instead follow the right pattern to show the error. We can try to do minimal alike changes. It is not about bugs or tasks but the code. Any code changes should follow the best current guidelines. Pattern change over time but it does not mean that we will refactor the whole working code. Refactoring is done when we touch that specific code d

[2022-04-22 22:26] kevinksullivan commented on #8101
price doubled

[2022-04-22 22:27] kevinksullivan commented on #7968
Price doubled

[2022-04-22 22:40] MitchExpensify commented on #7537
@jayeshmangwani Can you apply to this [Upwork Job](https://www.upwork.com/jobs/~0116994c22a1b60fb6) please? I had to abandon the original job so we'll use this new posting to issue payment (invited you to the new job @parasharrajat)

[2022-04-22 22:43] thienlnam commented on #7917
I think this is fine, not sure why we would need it to be a button

[2022-04-22 22:46] AndrewGable commented on #8132
I think we should bring this up in the open source room and decide if it's something we want to full tackle or not.

[2022-04-22 22:46] thienlnam commented on #7917
This is interesting, we could add a web version of the checkbox that just uses this but is there a way we can have this done with React Native adding a shortcut when the checkbox is focused?

[2022-04-22 22:49] thienlnam commented on #8101
@ahmdshrif It looks like you had reasoning for why this was happening [here](https://github.com/Expensify/App/issues/8101#issuecomment-1065449316).  Do you want to try your hand at a solution?

[2022-04-22 22:49] AndrewGable commented on #2727
Have we confirmed this happens on a "basic" react native app to rule out any UI logic on our side? I know that it seems like they were "flipped", but it seems possible that the values were just "delayed" in reporting the real value?

[2022-04-22 22:51] AndrewGable commented on #8744
1. This looks like it will be an internal issue as it's OldDot
2. Yes, I do think that there needs to be a value inputted for it to "stick"

[2022-04-22 22:56] thienlnam commented on #8593
Closing this in favor of https://github.com/Expensify/App/issues/8595

[2022-04-22 22:56] #8593 closed

[2022-04-23 00:20] #8683 closed

[2022-04-23 00:23] marcaaron commented on #8729
Sounds correct to me. I don't think "success growl" will be a common pattern in general - things like this should just work.

[2022-04-23 04:05] jayeshmangwani commented on #7537
Sure I am applying

[2022-04-23 04:05] jayeshmangwani commented on #7537
Sure 👍

[2022-04-23 04:14] mvtglobally commented on #8728
@amyevans, We are not able to repro this issue with the expensifail accounts. It is only repro with Gmail(public domain). It is not related to focus mode.

[2022-04-23 04:53] Tandin-Moon commented on #8681
**Proposal**

For the icon, since you are using SVG, I purpose to create a create SVG component. So we can easily control the color and edit them at any time. Creating the SVG component lets us pass dynamic color. For example:

**Facebook SVG logo**

const Facebook: FC = (props) => (
    <Svg
        width={32}
        height={32}
        fill='none'
        xmlns='http://www.w3.org/2000/svg'

[2022-04-23 06:42] laurenreidexpensify commented on #8744
oh my god yesterday was not my day 🤦🏽‍♀️ 🤦🏽‍♀️ it threw me that someone from Applause had created this E/E ! Will re-open the original issue

[2022-04-23 06:42] #8744 closed

[2022-04-23 08:13] mollfpr commented on #8421
PR raise!

cc @deetergp @Santhosh-Sellavel

[2022-04-23 08:15] metehanozyurt commented on #8471
Thank you @flodnv , @parasharrajat , @kevinksullivan . I am preparing my PR with your permission.

[2022-04-23 09:45] jayeshmangwani commented on #7537
PR raised
@parasharrajat

[2022-04-23 11:08] rushatgabhane commented on #7835
@gladiator-1 how's it looking?

[2022-04-23 11:12] rushatgabhane commented on #7835
This issue is open for additional proposals btw.

[2022-04-23 12:05] gladiator-1 commented on #7835
@rushatgabhane the problem still exists.

for testing:

1. Send any mp4 file.
2. right click on it and Copy to clipboard.
3. Paste it somewhere and get the URI from it.
4. Open this URI using Safari the video will not play.
5. Open it using Firefox or Chrome the video will play fine.

[2022-04-23 13:13] lbaldy commented on #2727
@AndrewGable Please find my video showing the issue, and reproduction using the react native basic application.

https://youtu.be/nFDOml9M8w4

[2022-04-23 13:22] tomivs commented on #5897
That's right, @trjExpensify. If you check [App/src/libs/actions/Reports.js](https://github.com/Expensify/App/blob/main/src/libs/actions/Report.js) (line 385-390), you'll see that this scenario is already being handled using `handleInaccessibleReport()`.

[code]

And that function is defined as follow (line 1500-1506):
[code]

So, it will throw an error and redirect to Concierge (as you showed). In

[2022-04-23 14:30] tomivs commented on #8426
### Reason
Order in which markdown rules are being applied in [ExpensiMark library](https://github.com/Expensify/expensify-common/blob/main/lib/ExpensiMark.js). Links are formatted and then since they're already formatted as links, no italic, bold or strike-through is formatted within them.

### Proposal
Changing the order in which markdown rules are applied by placing italic, bold, strike-through

[2022-04-23 16:35] Santhosh-Sellavel commented on #8357
@sobitneupane

I think this is the expected output,

Show Send Money and Request Money Options if there is a participant other than the logged in User and Show Split Bill Option if there are more than one participants other than the logged in User. In this case, even rooms with a participant other than the logged-in user will have Send Money and Request Money options.

@iwiznia Can you confirm thi

[2022-04-23 16:39] Santhosh-Sellavel commented on #8722
@mollfpr The change would affect button style, I think this is not the expected solution.

cc: @luacmartins

[2022-04-23 16:50] Santhosh-Sellavel commented on #8722
## Proposal
@luacmartins
I think adding this check at the beginning of `onPress` method [here](https://github.com/Expensify/App/blob/32d8f0261b825cb6e47e441b9cf08400340a164e/src/components/IOUConfirmationList.js#L153-L161) is the simple way to address this issue now.

[code]

What do you say?

[2022-04-23 18:27] Santhosh-Sellavel commented on #8287
@Puneet-here

Because we have arrow navigations to select emoji, so adding `onBlur={() => this.searchInput.focus()}` would break it.

[2022-04-23 18:44] Santhosh-Sellavel commented on #8287
@Luke9389

Root Cause,
https://github.com/Expensify/App/blob/ad637d3dd7dbb03cfdc6ebcb9196944c4f6165bb/src/components/EmojiPicker/EmojiPickerMenu/index.js#L154-L155

In the above line while `this.searchInput.value = ''` or replacing it with "this.searchInput.clear()" should have triggered the `onChangeText={this.filterEmojis}` but it doesn’t. So the emoji's not updated properly.
https://github.com/

[2022-04-23 20:21] Puneet-here commented on #8287
Oh I never saw this feature. Hmm.. I don't think there's any other way to achieve that.

I don't think it's a good way to fix it also it doesn't fix one thing.
I am proposing that we remove the line 154 which is the real cause of this and my way isn't a workaround
https://github.com/Expensify/App/blob/b347866b2af95bd2c51eb6bb65098bd1d756e7d0/src/components/EmojiPicker/EmojiPickerMenu/index.js#L154

[2022-04-23 21:15] mollfpr commented on #8722
I thinks it’s common to disable style with loader on progress buttons.
![4B638DF4-B51D-4957-B161-020AD0DA8697](https://user-images.githubusercontent.com/25520267/164946176-3a571166-9744-4010-85c5-7c214211836b.jpeg)

[2022-04-23 21:44] frenkield commented on #8723
Hi All. This seems to be a duplicate of https://github.com/Expensify/App/issues/8641. The weird behavior is due to a bug in `@react-navigation/native`.

I submitted a proposal for https://github.com/Expensify/App/issues/8641. Should I submit my proposal here as well?

[2022-04-24 02:32] orkunkarakus commented on #7497
@parasharrajat, hi how are you. i worked on the code and let's go over the items you mentioned one by one

Yes, you are right about that. Therefore, I removed my changes in the renderHTML file and created a custom model render file for the code blocks. In this way, only code blocks can be scrolled and at the same time more functional code is created.

I want to talk about this topic. There are two

[2022-04-24 03:53] frenkield commented on #7971
## **Proposal**

If I understand correctly, the goal is to address this issue in the front end code by disabling the send button for certain problematic messages containing only backticks and whitespace. I see 2 separate tasks.

### Task 1 - Disable send button for problematic backtick sequences

The situation is a little different from Slack where triple-backticks elicit the creation of a seconda

[2022-04-24 09:12] Santhosh-Sellavel commented on #8722
@marcaaron If were are okay with disabled style then the @mollfpr proposal looks good to me.

But before moving should loop in design & check with them.

[2022-04-24 09:29] Santhosh-Sellavel commented on #8287
@Puneet-here
1. What one thing doesn't fix?

Seems It was designed that way.

The reasons I didn’t choose your proposal, was adding `onBlur={() => this.searchInput.focus()}`, without adding that it is a probable option to fix this issue.

cc: @Luke9389

[2022-04-24 09:34] mdneyazahmad commented on #8657
## Proposal

`DrawerNavigtor` has `history` prop that is used to store the routes visited and it also stores the drawer status `(open or closed)`. There is a catch here `history` can contain drawer status object or not. It is based on the `defaultStatus` of the `DrawerNavigator`.
1. It does not contain this object if the current status of the drawer is same as `defaultStatus`.
2. It contains an ob

[2022-04-24 10:02] mdneyazahmad commented on #8657
@parasharrajat I may not be correct here but the original issue has problem with shortcut key when we navigate with search page. But later on @rushatgabhane has identified another bug (this one) that was working previously https://github.com/Expensify/App/issues/4612#issuecomment-1077024583

If you are not satisfied with my proposal let me know I will add more context to it and explain the root ca

[2022-04-24 10:17] metehanozyurt commented on #8657
### Proposal
We mapping history state this line but not use it for drawer check. So it can be skip 1 person when click from list and not push to history list.

https://github.com/Expensify/App/blob/ad637d3dd7dbb03cfdc6ebcb9196944c4f6165bb/src/libs/Navigation/CustomActions.js#L101

we don't use the mapping we did before

###Solution
if we change like this this can be fix problem

https://github.com

[2022-04-24 10:28] mdneyazahmad commented on #8657
## Root cause:

Let's add `console.log('hsitory', history)` here and navigate to multiple reports.

https://github.com/Expensify/App/blob/ad637d3dd7dbb03cfdc6ebcb9196944c4f6165bb/src/libs/Navigation/CustomActions.js#L114

<img width="504" alt="Screenshot 2022-04-24 at 3 18 29 PM" src="https://user-images.githubusercontent.com/77761491/164971527-de97ed6a-c3c0-4943-9ea1-25978a7976ee.png">

As we can

[2022-04-24 10:53] mdneyazahmad commented on #8657
@metehanozyurt Could you please not edit? You can create a new comment or else it won't be fair for other contributer you keep editing and claim to be the first to propose a better solution. Thanks

[2022-04-24 11:18] metehanozyurt commented on #8657
ofcourse @mdneyazahmad it can be visible first proposal and edited version("video upload"). both version before your last message. When i see your commit after upload image i didnt touch anything. Sorry for the time conflict. I was also looking. Thank you

[2022-04-24 11:20] mdneyazahmad commented on #8657
I am sorry @mallenexpensify I was unaware about the this feature (we can see edited history).

[2022-04-24 11:32] Santhosh-Sellavel commented on #7971
@frenkield
The task 2 is already being handled in another PR, it will be fixed soon.

Can you elaborate more on the fix for this issue. What changes are you proposing?

[2022-04-24 12:02] mdneyazahmad commented on #8657
The reason I added a static `defaultState`:
1. It does not matter for large screen as drawerType is permanent.
2. When user starts with browser resized it has default status of `closed` on large screen and when user starts with full width it has `defaultStatus` of `open` on large screen. It has two different value on web for the same drawer on large screen.

https://user-images.githubusercontent.c

[2022-04-24 12:54] eVoloshchak commented on #7524
@rushatgabhane, i have a few additional questions about the task
1. In [CompanyStep](https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/CompanyStep.js) `TaxID` field  has the following placeholder: `9 digits, no hyphens`. Since we are removing `maxLength` and allowing user to paste anything into this field, including hyphens, what should it be changed to?
2. Same page, same

[2022-04-24 14:38] metehanozyurt commented on #8459
I guess I'm not the priority, but I have a proposal.

### Cause
Constant variable value is wrong. That's why zooming in the wrong place.

### Solution
calculation is true but constant variable of EMOJI_PICKER_ITEM_HEIGHT(40) is wrong in this file
https://github.com/Expensify/App/blob/ad637d3dd7dbb03cfdc6ebcb9196944c4f6165bb/src/CONST.js#L417

this should be change like this.

[code]
![WhatsApp Ima

[2022-04-24 14:51] metehanozyurt commented on #8119
Thank you @mananjadhav 🙏 .
Can i make PR or should i wait?
For issue 8471 I make PR today. Would you like me to prepare it based on the solution there? I don't want you to waste your time getting conflicts while merging the code or unnecessary outputs.

Note: I will create a separate PR, but this topic will cover that as well.

[2022-04-24 15:26] Puneet-here commented on #8287
My original proposal was to just remove line 154 which is the real cause of this issue, we can just leave the onBlur.

https://github.com/Expensify/App/blob/b347866b2af95bd2c51eb6bb65098bd1d756e7d0/src/components/EmojiPicker/EmojiPickerMenu/index.js#L154

and I don't think search term getting cleared is correct.
We should not clear the whole search term as the user will try to correct his search t

[2022-04-24 15:51] eVoloshchak commented on #6154
**Proposal**
Main idea: obtain cursor/selection position from [TextInput's](https://github.com/Expensify/App/blob/ad637d3dd7dbb03cfdc6ebcb9196944c4f6165bb/src/pages/iou/steps/IOUAmountPage.js#L228) `onSelectionChange` method and then insert/delete characters at that position
Code:
1. Get cursor/selection position of the [TextInput](https://github.com/Expensify/App/blob/ad637d3dd7dbb03cfdc6ebcb9196

[2022-04-24 16:45] mananjadhav commented on #8119
Let's wait for @chiragsalian to confirm. I can ask to put this on hold until #8471 gets merged or you can checkout the branch for this issue from that issue branch.

[2022-04-24 17:09] parasharrajat commented on #8426
Thanks for the proposal @tomivs. Are all the tests passing? Could you please add another test for this issue and tell me if all the tests are passing?

[2022-04-24 17:39] parasharrajat commented on #7535
Another Regression: https://expensify.slack.com/archives/C01GTK53T8Q/p1650821915782839

[2022-04-24 17:42] frenkield commented on #7971
Ok thanks, @Santhosh-Sellavel. I'll remove task 2 from the proposal.

The issue can be resolved by changing this line of code: https://github.com/Expensify/App/blob/ad637d3dd7dbb03cfdc6ebcb9196944c4f6165bb/src/pages/home/report/ReportActionCompose.js#L307

This line is executed after any update to the comment text field. And when `isCommentEmpty` is true the send button is disabled. At the moment

[2022-04-24 17:58] parasharrajat commented on #7497
Thank you @orkunkarakus for the detailed post.

Correct. But it should open on right-click.

Sounds like you have fixed all the issues. Do you mind sharing the technical details?

[2022-04-24 18:09] parasharrajat commented on #8657
I am confused by the description of this issue. I will confirm the expected behavior here and get back to you guys.

[2022-04-24 19:12] LucioChavezFuentes commented on #7535
I found a solution to [blur regression](https://expensify.slack.com/archives/C01GTK53T8Q/p1650821915782839)

We need to fire `onClose` along with `onBlur`.

[code]

[2022-04-24 19:25] orkunkarakus commented on #7497
@parasharrajat You're welcome.

Right click still works. Only long press is disabled on hoverable platforms.
Right click video.

https://user-images.githubusercontent.com/61627150/164992447-b7965635-12d4-4ead-8de3-400dcd948d58.mov

Sure, The "react-native-render-html" library has a feature that allows us to render html tags with custom components.
( Explained in this page [Library documentation] h

[2022-04-24 21:31] rushatgabhane commented on #7535
@LucioChavezFuentes feel free to raise a PR, and let's get it right this time :)

[2022-04-24 21:33] rushatgabhane commented on #7644
All set here, PR merged

[2022-04-24 21:42] rushatgabhane commented on #8185
@tomivs If you didn't get added yet, just send an email again.
Also, make sure to link your Upwork profile too in the email.

[2022-04-24 21:47] rushatgabhane commented on #8363
@mdneyazahmad you might be onto something, but why is `StatusBar.setTranslucent(true)` causing this bug?
Maybe we can workout a solution in which this bug is fixed and also.. the status bar is translucent

Thoughts?

[2022-04-24 21:50] rushatgabhane commented on #8455
Other than the refactor part, all is good.
@Luke9389 I'm unassigning myself, I have school stuff going on !!

[2022-04-24 21:52] rushatgabhane commented on #8469
@Puneet-here maybe raise a PR and someone internal/ QA can test it out?

[2022-04-24 21:56] rushatgabhane commented on #8574
Sorry, I can't help here. I'm gonna unassign myself because I have school stuff going on 👨‍🏫

[2022-04-24 21:57] rushatgabhane commented on #8597
Sorry, I can't help here. I'm gonna unassign myself because I have school stuff going on 👨‍🏫

[2022-04-24 21:59] rushatgabhane commented on #8641
Yeah I mean we just gotta wait for https://github.com/react-navigation/react-navigation/pull/10414 to be merged.

[2022-04-24 22:02] rushatgabhane commented on #8641
Anyway, I'm sorry that I can't help here further. I'm gonna unassign myself because I have school stuff going on 👨‍🏫

[2022-04-24 22:04] rushatgabhane commented on #8643
Sorry, I can't help here. I'm gonna unassign myself because I have school stuff going on 📚

[2022-04-24 22:04] rushatgabhane commented on #8652
Sorry, I can't help here. I'm gonna unassign myself because I have school stuff going on 📚

[2022-04-24 22:05] rushatgabhane commented on #8723
Sorry, I can't help here. I'm gonna unassign myself because I have school stuff going on 📚

[2022-04-24 22:19] rushatgabhane commented on #6154
@sig5 that's unfortunate to hear, get well soon!

@chiragsalian @trjExpensify this issue is now open to all contributors!

[2022-04-24 22:20] rushatgabhane commented on #6154
Also, I'm sorry that I can't help with this issue. I'm gonna unassign myself because I have school stuff going on 📚

[2022-04-24 22:35] gustavo-3 commented on #7618
### Proposal

in App/src/libs/Navigation/CustomActions.js :

[code]

Result

https://user-images.githubusercontent.com/104327913/164999540-228655d4-1908-4385-aa82-b7dad826e560.mp4

[2022-04-24 22:41] allroundexperts commented on #8590
### Proposal

The first two points are easily doable. The third one is complex. Let me explain.

When someone uploads the image, we are basically waiting for two things:
a. The image data to be sent to the backend and for the response to come back. The response contains the uploaded image url. I'll reference this time window as TW_A.
b. The uploaded image url from expensify server to be loaded in

[2022-04-24 23:05] rushatgabhane commented on #7835
Hmm, @stitesExpensify what do we do here?
Wait for proposals that solve the issue for iOS and Safari right?

[2022-04-24 23:23] rushatgabhane commented on #7524
@eVoloshchak
1. Do nothing here is fine too honestly. But if we wanna change it, "9 digits" is fine too.
2. > should we just strip all non-digit characters when passing taxID to the API? Also, should we strip all non-digit characters, verify that they meet max length requirement (9) and show error if it's not the case?

   Yep, format and clean the user input internally on blur and on making an AP

[2022-04-24 23:26] jliexpensify commented on #7424
Added the label!

[2022-04-25 01:27] JmillsExpensify commented on #8133
Recent updates in the linked PR. Also heads up @roryabraham you have a question from Santhosh.

[2022-04-25 01:32] JmillsExpensify commented on #8329
Recent updates and PR approval in the linked PR.

[2022-04-25 01:34] JmillsExpensify commented on #8501
All the action is still in #8590

[2022-04-25 01:35] JmillsExpensify commented on #8520
Yes, thanks @mallenexpensify!

[2022-04-25 01:36] JmillsExpensify commented on #8655
Doubling price to $500.

[2022-04-25 01:55] tomivs commented on #8426
@parasharrajat They all are passing. I updated my comment and added screenshots from every platform.

[2022-04-25 01:59] LucioChavezFuentes commented on #7535
Thank you, making PR.

[2022-04-25 02:56] tomivs commented on #7618
@gustavo-3 This one looks hacky. I don't think it is a good idea to be creating an `if` condition for each page.

[2022-04-25 05:19] ctkochan22 commented on #8607
Easy fix. Getting to this week

[2022-04-25 05:51] mvtglobally opened #8762 "[HOLD for payment 2022-05-20] [$250] The attachment name overlaps with the red/yellow/green buttons at the top"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Make the window small and open an attachment

## Expected Result:
Text does not overlap

## Actual Result:
When on a compressed desktop screen an

[2022-04-25 07:00] laurenreidexpensify commented on #8363
@rushatgabhane do you agree that this might be a regression?

[2022-04-25 07:33] mdneyazahmad commented on #8363
Statusbar `translucent` option is only available for android and setting it `true` draws the screen under the status bar. Why I think we should not use margin to fix this issue is that This app is originally developed with translucent set to false. It might have some more regression that we do not come up with yet and also we have to apply margin based on the condition that the device is android.

[2022-04-25 07:46] anboia commented on #8292
## Proposal

Remove the autoFocus, when the room has just been created (no action history)

## Overview

What is causing this issue, is when you open a room, and there is no action on that report, except the "CREATED" `actionName`, this enables autoFocus

https://github.com/Expensify/App/blob/e7565c1aae9ee4a8f366932d63483619d742e970/src/pages/home/report/ReportActionCompose.js#L507

as you can see

[2022-04-25 08:15] MonilBhavsar commented on #8589
On hold for offline support/redesign

[2022-04-25 08:50] trjExpensify commented on #8716
Cool, I've pulled the job down from Upwork.

[2022-04-25 09:11] gustavo-3 commented on #7618
@tomivs

1. you can remove this `if` and the code still works fine but will face another issue when you try go back from  Settings -->
 About    -->    Report a bug

2. Could you please stop evaluating proposals?  there is someone already reviewing these.

[2022-04-25 09:52] trjExpensify commented on #8612
Cool. @roryabraham, can you give us an opinion on this before moving it to Upwork please?

[2022-04-25 09:54] trjExpensify commented on #8690
Alrighty, so it sounds like we do want to move this on to Upwork then?

[2022-04-25 09:55] trjExpensify commented on #5897
Awesome, sounds good! Closing it out 👍

[2022-04-25 09:55] #5897 closed

[2022-04-25 10:30] iwiznia commented on #7909
Nice, I like the proposal. @mallenexpensify please hire @mateusbra

[2022-04-25 10:38] Julesssss commented on #8197
Hey @sobitneupane, I think there is progress on the PR, is that correct?

[2022-04-25 10:47] parasharrajat commented on #8426
Ok. Great.

But I think it won't work in all cases. As per [Unreserved Characters](https://www.ietf.org/rfc/rfc2396.txt) `*|_|~` can be used in URLs. This means that `https://google.com/somepath~check~_this_` is a valid URI.

My understanding is that doing the above will break these URIs.

[2022-04-25 10:51] parasharrajat commented on #7497
Should I consider the above post as a proposal or do you want to share something else? It seems that you are still waiting on that.

[2022-04-25 10:57] parasharrajat commented on #4114
There is no solution proposed for scenarios 1, 3, and 5. And I don't know if that is possible for cross-platform.

@JmillsExpensify Let's discuss these requirements first before I pick the proposal.

[2022-04-25 11:12] Julesssss opened #8763 "Chat search should prioritise a perfectly matching email above a partially matching one"
## Action Performed:

- Have some accounts with similar names, in my case user@expensify.com & newuser2@expensify.com
- Sign in to two accounts, in my case `user7@expensify.com` & `user2@expensify.com`
- As one user, attempt to search for the other, using their EMAIL ADDRESS
- Enter the full emal address and hit enter

## Expected Result:

- I would expect the first result to be the user which mat

[2022-04-25 11:16] parasharrajat commented on #8459
Good catch @metehanozyurt but do you mind explaining how is that causing this issue?

[2022-04-25 11:23] parasharrajat commented on #7623
Tried one implementation and it has few problems which I am trying to solve.

[2022-04-25 11:28] Beamanator commented on #8643
Removing `Help Wanted` for now b/c I believe this behavior is expected, when looking at the PR that added `(archived)` here: https://github.com/Expensify/App/pull/8447

[2022-04-25 11:34] Beamanator commented on #8643
@kavimuru can you please mention who reported this issue in the OP? Also in the screenshots you posted, it would be nice if you could clarify that the first one is from the QA steps in this PR: https://github.com/Expensify/App/pull/8437 and the second screenshot is what you're actually seeing :D

[2022-04-25 11:39] mdneyazahmad commented on #7917
@Santhosh-Sellavel I was talking about https://github.com/Expensify/App/issues/7623 (other issue). I am sorry I missed that to audit with all four pages posting soon. Thank you!

[2022-04-25 11:41] Beamanator commented on #8643
Putting on hold to confirm if this is a bug or not

[2022-04-25 11:48] iwiznia commented on #8357
Yes that sounds good, but not sure if we should show the options in places like the admins room

[2022-04-25 12:05] sobitneupane commented on #8357
At present, Send Money and Request Money option is only present for one-to-one chats. Split Bill option is shown even for chat rooms having one participant other than the logged in user. Do we want to show Send Money and Request Money option in the chat room having one participant other than the logged in user? I think we are intentionally showing only split bill option in all the chat rooms.

[2022-04-25 12:07] iwiznia commented on #8357
Honestly, I don't know, but since this is only about not showing send money when there are no other participants, let's leave all the other behavior untouched

[2022-04-25 12:09] Beamanator commented on #8469
Yeah I agree with @rushatgabhane - @Puneet-here can you please create a PR? I will test since this seems like a pretty small change :D

[2022-04-25 12:09] dylanexpensify commented on #7307
not overdue

[2022-04-25 12:14] sobitneupane commented on #8357
In that case this should do the job.

[2022-04-25 12:14] allroundexperts commented on #8357
@iwiznia What about my proposal then?

[2022-04-25 12:15] dylanexpensify commented on #7185
not overdue. @chiragsalian bump on above!

[2022-04-25 12:17] parasharrajat commented on #7618
Great proposals overall. At least we all agree that this is the issue with react-navigation.
- Either with history management.
- or internal state updates.

I am reviewing each proposal one by one now. There are a few quick eliminations for proposals.
@mdneyazahmad No solution yet.
@aneequeahmad I think root cause analysis is wrong. No preferable solution. No points backing the solution. `I'm not

[2022-04-25 12:24] sobitneupane commented on #8357
If I am allowed to comment on your proposal, it looks like you are proposing to show all the options if there are multiple participants which I guess is not the intended behavior.

[2022-04-25 12:57] trjExpensify commented on #6154
Sorry to hear that, @sig5. Get well soon!

@rushatgabhane @parasharrajat @chiragsalian, are we starting from scratch to source a contributor? There seems to be a lot of context here and in the PR to capture if that's the case. I'm curious how close that PR is from being completed, and whether it's more efficient to have someone who's been closer to this issue take it over the line perhaps?

[2022-04-25 14:27] shawnborton commented on #8115
Not overdue Melvin

[2022-04-25 14:47] Luke9389 commented on #8455
Ok @rushatgabhane, I'll take it from here. @adeel0202 I'll be looping back to this when I have some time to catch up and get context on this PR. Shouldn't be more than a day or two.

[2022-04-25 14:50] Luke9389 commented on #8200
I think this should be on hold or even deleted because our offline-first API will almost certainly affect this issue. It might fix it entirely.

[2022-04-25 14:50] Luke9389 commented on #8200
I don't think anyone should spend time on this issue right now.

[2022-04-25 14:57] dharmik commented on #8131
@michaelhaxhiu @rushatgabhane Is this task open for all?

Because I did not saw that **Help Wanted** label.

[2022-04-25 15:27] luacmartins commented on #8731
Waiting for the job to be exported!

[2022-04-25 15:40] luacmartins commented on #8722
@mollfpr you can check the expected Submit button style by running `npm run storybook` and seeing it in the Form story. The current behavior is:

1. Replace button text with loading indicator
2. Disable button from being clicked
3. Do NOT use disabled style

https://user-images.githubusercontent.com/22219519/165124129-21f9d1fc-1dfe-4de7-8d00-8d76fbb8b1d0.mov

[2022-04-25 16:19] allroundexperts commented on #8497
Not reproducible locally. The plaid link token never gets generated. The API throws error.

[2022-04-25 16:20] Santhosh-Sellavel commented on #8357
@sobitneupane

 No, It was accidentally showing because the report participant's value is wrong, which introduces this issue as well, fix should be the same for both.

 cc: @iwiznia

[2022-04-25 16:24] Santhosh-Sellavel commented on #8357
@iwiznia

Still looking for a better proposal.
As I said [here](https://github.com/Expensify/App/issues/8357#issuecomment-1107531193) `proposals are similar & partial``

[2022-04-25 16:30] allroundexperts commented on #8357
@Santhosh-Sellavel The instructions are not clear. Can you specify what's missing in the above proposals?

[2022-04-25 16:32] orkunkarakus commented on #7497
if it is ok for you, you can consider it is a proposal.

[2022-04-25 16:39] mollfpr commented on #8115
### Proposal

Get the container height from the initial view, in this way we able to get the available height of view container either from viewing the image or adding a image attachment with button action.
https://github.com/Expensify/App/blob/ad637d3dd7dbb03cfdc6ebcb9196944c4f6165bb/src/components/ImageView/index.native.js#L126-L137
[code]
https://github.com/Expensify/App/blob/ad637d3dd7dbb03cfd

[2022-04-25 16:41] LucioChavezFuentes commented on #7535
[PR](https://github.com/Expensify/App/pull/8765) is up to fix this [regression](https://github.com/Expensify/App/issues/7535#issuecomment-1107885622)! Ready to be reviewed.

[2022-04-25 16:43] mvtglobally commented on #8707
@francoisl checklist is all ready for you 😜

[2022-04-25 16:43] Julesssss commented on #5336
Made some progress on this today. I'm very aware of the offline changes doc, so I'm aiming for a command which is already compatible with (or very close to) the new API structure.

For now, the command takes a user email (for simplicity) and returns the IOUReport data along with the IOU reportActions.

[2022-04-25 16:49] Santhosh-Sellavel commented on #8357
@allroundexperts

This is the expected outcome,

@sobitneupane Already comment what's wrong with your proposal [here](https://github.com/Expensify/App/issues/8357#issuecomment-1108504082)

[2022-04-25 16:52] parasharrajat commented on #7497
Ok, considering that the @orkunkarakus mentioned that he fixed the scrolling issue without compromising other features, I am fine with @orkunkarakus 's [proposal](https://github.com/Expensify/App/issues/7497#issuecomment-1107689559) for the issue.

cc: @NikkiWines

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-04-25 16:54] parasharrajat commented on #7855
I will make the PR shortly.

[2022-04-25 16:55] metehanozyurt commented on #8459
Thank you @parasharrajat 🙏 .
When we click arrows this functions calls (`highlightAdjacentEmoji`). Then comes switch for index calculation.

https://github.com/Expensify/App/blob/829595e9e2e24b6637d5c89bd553f4f0623c91b8/src/components/EmojiPicker/EmojiPickerMenu/index.js#L265-L271
and
https://github.com/Expensify/App/blob/829595e9e2e24b6637d5c89bd553f4f0623c91b8/src/components/EmojiPicker/EmojiPic

[2022-04-25 16:56] michaelhaxhiu commented on #8652
@marcaaron thanks for the guidance 🙏 I repurposed https://github.com/Expensify/Expensify/issues/206694 in E/Expensify to be for web-secure, and will keep this GH as-is for E/App.

[2022-04-25 16:59] marcaaron commented on #8229
I know @neil-marcellini is looking into fixes for various issues.
I'm not sure if we're doing a total refactor of the code at this point though.

[2022-04-25 16:59] flodnv commented on #8723
@bfitzexpensify please hire @frenkield

[2022-04-25 17:04] thesahindia commented on #8664
![Simulator Screen Shot - iPhone 13 - 2022-04-25 at 22 33 16](https://user-images.githubusercontent.com/83179295/165138180-945e01d8-0912-46d9-bca0-e762f86c5f00.png)

![Simulator Screen Shot - iPhone 13 - 2022-04-25 at 22 33 09](https://user-images.githubusercontent.com/83179295/165138195-baef4b69-bdfd-4972-8905-bf1639771418.png)

[2022-04-25 17:08] tgolen commented on #8681
Thanks @Tandin-Moon we already have an `<Icon>` component which is similar to what you are proposing.

[2022-04-25 17:08] stitesExpensify commented on #4547
No update

[2022-04-25 17:10] marcochavezf commented on #8468
No update yet

[2022-04-25 17:10] stitesExpensify commented on #4324
@mananjadhav would you want to work on this? I think we can move forward without a doc for this particular part of emojis

[2022-04-25 17:11] stitesExpensify commented on #8007
PR is on staging

[2022-04-25 17:15] marcochavezf commented on #7079
No update yet, working on some backlog from past weeks

[2022-04-25 17:18] jboniface commented on #8641
@frenkield can you please apply here? https://www.upwork.com/jobs/~01230d64974915b67a

[2022-04-25 17:19] chiragsalian commented on #8119
I like @metehanozyurt proposal as well. Free free to create the PR @metehanozyurt 👍

[2022-04-25 17:29] stitesExpensify commented on #8594
Still on hold

[2022-04-25 17:30] stitesExpensify commented on #7121
Hi @parasharrajat any update here?

[2022-04-25 17:32] michaelhaxhiu commented on #8497
@allroundexperts hm interesting - you cannot reproduce the behavior in the video that's attached by @kavimuru?

[2022-04-25 17:35] frenkield commented on #8641
Thanks, @jboniface! I'll apply on Upwork in few.

[2022-04-25 17:43] francoisl commented on #8707
Could you test that one again please? It depended on https://github.com/Expensify/Web-Expensify/pull/33568, which has been deployed to production, so I expect it should work now as Luke pointed out [here](https://github.com/Expensify/App/issues/8734#issuecomment-1106851635) too.

I'm looking at the other unchecked PRs in the meantime.
----

For the record, there's also 1 new, non-fatal crash repor

[2022-04-25 17:44] parasharrajat commented on #7121
I will push the updates tomorrow.

[2022-04-25 17:44] TomatoToaster commented on #8643
Cross posting here in this issue [from here](https://github.com/Expensify/App/pull/8437#issuecomment-1108858190) to confirm, but yes this is not a bug and is intended behavior.

If this ever happens for a non-workspace chat, it is definitely a bug.

[2022-04-25 17:46] allroundexperts commented on #8497
No. On local host, the plaid link token api call is failing. @michaelhaxhiu

[2022-04-25 17:51] eVoloshchak commented on #6154
**Proposal:**

Same as the [original PR](https://github.com/Expensify/App/pull/7433), I used uncontrolled selection on Android (and other platforms) to avoid unnecessary renders and [this](https://github.com/Expensify/App/issues/8349), while using controlled selection on iOS, because there are problems with using `setNativeProps`.
All of the changes take place in [IOUAmountPage.js](https://github.

[2022-04-25 17:53] tgolen commented on #8292
OK, I think we want to still have the auto-focus functionality. That was purposefully added. I think the solution for this is to fix why the content is halfway off the screen.

[2022-04-25 18:04] francoisl commented on #8707
Looks like it's also happening on production for both, we can check them off.

This PR is still open, did you mean https://github.com/Expensify/App/pull/8476 instead?

We can check this one off given the explanation in the PR that the issue you noticed is somewhat expected and not a blocker.

[2022-04-25 18:09] allroundexperts commented on #8357
@Santhosh-Sellavel Here's the updated proposal.

### Proposal

First of all, we need to make sure that the `hasMultipleParticipants` variable has an accurate value. The `reportParticipants` variable contains the logged in user for `admins` and `announce` channels but ignores them for single or group channels.

The `hasMultipleParticipants` variable is thus removed and replaced with a new variable

[2022-04-25 18:09] marcaaron commented on #8690
We are only fetching the report history once here - https://github.com/Expensify/App/blob/16b130bd0cf9fe053fb2fc8eac0f809cc8f11fc8/src/pages/home/report/ReportActionsView.js#L153

This should be solved as part of [the Network Improvements doc](https://docs.google.com/document/d/15Cn21gjcMztiirOygIVfNB5uSo9OVOAqHP7RXdsHpNg/edit#bookmark=id.pmk6yhiy1rqx). I will just grab this actually.