[2021-08-09 16:42] marcaaron commented on #4021
I think we are maybe close to taking this off hold. Chat switching is now super fast compared to what it was before (at least in `main` branch). I'm still not 100% sure whether we can _completely_ eliminate the loading spinner.

[2021-08-09 16:43] roryabraham commented on #4447
Figured this out, new PRs are all in Expensify/App, but we're still using Expensify/Expensify.cash in a lot of our CI/CD code. This particular bug could probably be fixed going forward by updating [this](https://github.com/Expensify/App/blob/a3d138822f07e53ef5f7b061a719f6a819ead80b/.github/libs/GithubUtils.js#L9)

[2021-08-09 16:44] marcaaron commented on #4501
Ah sorry, I don't know much about this cc @Luke9389

[2021-08-09 16:45] puneetlath commented on #4323
@mananjadhav created the job and invited you to it here: https://www.upwork.com/jobs/~01c482f3ae46293cc6

[2021-08-09 16:46] Jag96 commented on #4447
Looks like we're updating that in https://github.com/Expensify/App/pull/4408/files#diff-9cbd4a79f7ae474fbd0b49061723e1d9450e32cb96bcbf08289361b4f68896a7R97, so that should be fixed soon

[2021-08-09 16:47] shawnborton commented on #4323
Cc'ing @michelle-thompson here - it looks like we already have mockups that you made, but perhaps you can work with @mananjadhav on the PR for design feedback once it gets underway.

[2021-08-09 16:51] puneetlath commented on #2846
Ok, let's open a new issue if we decide we need to make a change. Thanks!

[2021-08-09 16:51] mananjadhav commented on #4323
@puneetlath Does the amount scope only the development effort? or does it include the bonus for adding the issue as well?

[2021-08-09 16:54] MitchExpensify commented on #4415
Hey @Santhosh-Sellavel! Sorry for the delay. Confirmed the message doesn't show when typing a number without the country code. This seems like a reasonable improvement, labelling eng to review your proposal before they label external and have the Upwork job created

[2021-08-09 16:55] thienlnam commented on #4498
@thesahindia

Solution for `hoverStyle` is good

As for autofocus, let's put
[code]
inside componentDidMount(). If it isn't initialized yet due to interactions you may need to do something like this https://github.com/Expensify/App/blob/951c3765ac798ec8de9a5d4462ecb07c17831ac1/src/pages/iou/steps/IOUAmountPage.js#L84-L91

[2021-08-09 16:55] puneetlath commented on #4323
Hi @mananjadhav. That is for the development effort. We will also add the bonus for finding the issue upon payment. Let me know if you say any issues with that. Thanks!

[2021-08-09 16:55] marcaaron commented on #4129
Please refer to comment history before making a proposal. We've discussed the solution of using a controlled component. As a reminder the issue as reported is:

A good proposal should address the reported "lag", clearly explain why the existing code doesn't work as expected, and provide an acceptable solution. Thanks!

[2021-08-09 16:58] roryabraham commented on #4462
As discussed [here](https://github.com/Expensify/App/issues/4447#issuecomment-895367394), this should hopefully be fixed in https://github.com/Expensify/App/pull/4408

[2021-08-09 17:00] mananjadhav commented on #4323
I am expecting a little more than what is offered, but my bad I didn't wait for your proposal. I am okay if you feel there isn't we can do about it.  Leave it for you to decide, have accepted the proposal anyway.

Also, do you foresee any changes/enhancements expected from what is implemented?

[2021-08-09 17:06] MitchExpensify commented on #4392
[Job](upwork.com/jobs/~018846ad70dccf9366) created & @parasharrajat invited!

[2021-08-09 17:10] roryabraham commented on #4106
@Christinadobrzyn Seems like maybe we didn't follow the normal process here. If I'm not mistaken, @parasharrajat submitted a PR for this issue without first getting hired on Upwork. So we should create the Upwork job and make sure @parasharrajat is paid for his work.

[2021-08-09 17:11] thienlnam commented on #4210
@mallenexpensify That's fine 👍

There are actually two steps to this,
1. Prevent this header from getting added to newly uploaded images (PRs up for it right now)
2. Remove the header from current images in the S3 bucket

Since I've tested the solution and it works, we can wait 7 days until the current PRs get merged but it will take a bit more internal investigation to address the second part (bu

[2021-08-09 17:11] marcaaron commented on #4500
Great conversation around this and it sounds like it might be worth exploring a deprecation of `initWithStoredValues` based on @kidroca's insights.

Is there some interim solution we can go with for now? e.g. could we always notify any subscribers that have `initWithStoredValues: false` to get around this issue and quickly restore the previous behavior?

[2021-08-09 17:11] parasharrajat commented on #4106
Sorry for the miscommunication here but there is an active job that needs to be paid out. https://www.upwork.com/jobs/ReportActionContextMenu-slows-down-cell-rendering-time-significantly_%7E01fc756cf8f4b57ccb

[2021-08-09 17:12] marcaaron commented on #4106
I gotchu @parasharrajat

[2021-08-09 17:13] #4106 closed

[2021-08-09 17:17] marcaaron commented on #4392
Just wondering here.. should this not be regarded as a regression and we should address it in Onyx? Seems like some existing behavior was broken and we also know what broke it ([issue](https://github.com/Expensify/App/issues/4500)). But we are kind of proposing to hack around it instead of address the regression and restore the existing behavior. Thoughts?

[2021-08-09 17:23] parasharrajat commented on #4392
I cc'ed you https://github.com/Expensify/App/issues/4392#issuecomment-892916455 and then followed in slack but there was no conclusion to fix this in Onyx so I thought that the current approach needs to be changed. Then I realized that this is a bigger issue thus opened https://github.com/Expensify/App/issues/4500. We can hold this up and Follow that #4500 to fix the breaking behavior.

[2021-08-09 17:25] thesahindia commented on #4498
@thienlnam
Thanks for the explaination. I will do it as specified above.

[2021-08-09 17:26] laurenreidexpensify commented on #3993
swamped on allocations - can someone else triage this for me today? thanks

[2021-08-09 17:26] arielgreen commented on #4185
Paid.

[2021-08-09 17:26] #4185 closed

[2021-08-09 17:28] arielgreen commented on #4056
Paid & bonused for proposing + fixing.

[2021-08-09 17:28] #4056 closed

[2021-08-09 17:29] Santhosh-Sellavel commented on #4448
@TomatoToaster proposed changes are available here. I'll mark it as ready for review once you say go ahead. Thanks
https://github.com/Expensify/App/pull/4461

[2021-08-09 17:30] jboniface commented on #3993
i can't really assess this issue, moving it to engineering for triage

[2021-08-09 17:31] FredericoGauz commented on #3381
Hi @azimgd and @marcaaron,

I followed azimgd changes and indeed could see that your solution could work. However, it touches the same points that I spoke about above.

The main reason why the FlatList (and VirtualizedList) components exist is to increase performance with big lists. That`s exactly why the ScaleY trick works so well in this scenario (because it prevents the need for any reordering

[2021-08-09 17:33] marcaaron commented on #3993
I agree this would be nice to do, but seems kind of low priority and has already been sitting for 28 days. Just going to close it for now.

[2021-08-09 17:33] #3993 closed

[2021-08-09 18:02] puneetlath commented on #4323
@mananjadhav and I discussed the scope of the work offline and the job offer has been updated accordingly.

[2021-08-09 18:03] Santhosh-Sellavel commented on #4273
@Christinadobrzyn  I am unable to reproduce this with my account. I don't have chronos enabled.

The issue was reproducible in the account with Chronos as said [here](https://github.com/Expensify/App/issues/4273#issuecomment-891249035), which is available only for an internal account said [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1628529153129800?thread_ts=1628472467.101600&cid=C01G

[2021-08-09 18:04] thienlnam commented on #4232
Still waiting for proposals, it appears that this issue is not consistently reproducible

[2021-08-09 18:06] thienlnam commented on #4130
PR is staging checklist, changes have been merged

[2021-08-09 18:08] nickmurray47 commented on #4434
Hey @mananjadhav, your proposal looks good to me and looks like it would solve the avatar issue.

[2021-08-09 18:10] arielgreen commented on #4232
Maybe let's give it another week, and if we have no new reports, close it out? I haven't had this happen since I originally reported this.

[2021-08-09 18:11] nickmurray47 commented on #4434
Sorry, applied the wrong label. Looks like I needed the `Exported` label to get a contributor manager to hire @mananjadhav through UpWork. @mallenexpensify the proposal looks good and ready to be tested in a PR.

[2021-08-09 18:19] aman-atg commented on #4307
Added a PR. Not yet hired on upwork though.

[2021-08-09 18:30] marcaaron commented on #4506
Thanks for creating the issue and apologies as it might be some time before I properly review this.

If the problem is that we are loading too many report actions when the app inits we can try to defer that or look into ways to stop doing it entirely. I'd really like to explore some strategies around this before trying to fix this in Onyx.

[2021-08-09 18:30] aman-atg commented on #4218
@trjExpensify, Any update for this one on Upwork? Thanks.

[2021-08-09 18:31] azimgd commented on #3381
thanks for your feedback @FredericoGauz

Correct. It does performance optimizations by calculating the visible + overscan area and renders only the part screen needs to render at the time.

I'm not trying to reorder data but rather order of render. You can notice that a function called `this._pushCells` is executed by `render` method every time `VirtualizedList` component updates. It will do exact

[2021-08-09 18:50] Beamanator commented on #4489
@mananjadhav yeah sorry about that, it's an internal link as you guessed 👍

[2021-08-09 18:50] parasharrajat commented on #4500
@marcaaron yeah we can just send the notification without updating the Onyx Store.
There are two ways to do this as per the code.
1. we move the `keychanged` call to before checking the cache-store and returning early with an empty promise.
https://github.com/Expensify/react-native-onyx/blob/d7553b95e982ab78f6bb2064f6b0549f0ace94c2/lib/Onyx.js#L479.

2. we do the above but pass a parameter to `key

[2021-08-09 18:53] marcaaron commented on #4433
I usually track how long it takes the sidebar to load in a release build. And measure time from [here](https://github.com/Expensify/App/blob/21b1ee466b7084b3d6d11602d6b09e368ab02f88/src/pages/home/sidebar/SidebarScreen.js#L53) to [here](https://github.com/Expensify/App/blob/21b1ee466b7084b3d6d11602d6b09e368ab02f88/src/libs/actions/App.js#L60). I don't think we really have a perfect metric, but it'

[2021-08-09 19:01] Beamanator commented on #4489
I'm going to start accepting proposals for this issue 👍

[2021-08-09 19:01] marcaaron commented on #4500
I'm not sure 1 will work - bc we need to set the value before calling `keyChanged()`?

So something like this... ?

[code]

Then handle the update to subscribers in `keyChanged()`?

[2021-08-09 19:02] mananjadhav commented on #4489
Added proposal in the previous comments: https://github.com/Expensify/App/issues/4489#issuecomment-89458309

[2021-08-09 19:05] Beamanator commented on #4489
@mananjadhav yes thanks for your previous proposal :D Do you think there's a way we can avoid making the props for `containerStyles` and `imageStyles` an "object" OR an "array of objects"? I don't think it's good practice to allow a prop to be what you're suggesting (an "object" OR an "array of objects") - instead, maybe the parent component should be responsible for passing the proper data & data

[2021-08-09 19:15] mananjadhav commented on #4489
I agree. I gave this suggestion based on an existing code in the App. Honestly, I would recommend using `StyleProp`, `ViewStyle`, etc. for the relevant props. This ensures that we don't pass random keys and good enough validation.

Let me know what you think of this approach?

[2021-08-09 19:16] Jag96 commented on #4501
Removing the hourly label here since this isn't a deploy blocker and putting into the AutoAssigner queue

[2021-08-09 19:29] parasharrajat commented on #4500
Oh Yeah. for the other cases, this is necessary. Sorry slipped from my mind.

[2021-08-09 19:31] marcaaron commented on #2667
@kidroca I agree we should start investigating the JSI storage implementation. Probably the easiest way to prove the value is to patch Onyx to use MMKV and see if things improve then go from there.

[2021-08-09 19:37] aman-atg commented on #4491
@Beamanator
Ah. I guess it's not possible for external contributors to re-open an issue.

[2021-08-09 19:53] dklymenk commented on #3770
Hello @kevinksullivan , are there any updates on the contract status?

[2021-08-09 20:02] marcaaron commented on #4101
Not sure what is left to do here but discuss whether there are some more long term improvements to make to `withOnyx` using Context or something else. For now, we should not be experiencing this issue as much as before due to recent changes so I'm going to lower the priority.

[2021-08-09 20:08] parasharrajat commented on #3922
@stitesExpensify What is Onyx API or key to get the Data for the account via
[code]

[2021-08-09 20:12] marcaaron commented on #4492
Not to be a party pooper, but this feels a bit complicated. Can we maybe try to do this the simplest way possible and create a version of `AsyncStorage` that uses MMKV instead of calling the native modules?

[2021-08-09 20:16] mallenexpensify commented on #4130
[Per the PR, deployed to staging two days ago](https://github.com/Expensify/App/pull/4378#issuecomment-893971219), I'll issue payment on Friday

[2021-08-09 20:28] mallenexpensify commented on #4434
@mananjadhav I invited you to submit a proposal in Upwork. https://www.upwork.com/jobs/~01aec7d5c658828588. Please
The job price is $250 (the bonus for reporting the issue will be applied later).  If you see a job price of $1600, will you snap a screenshot and try to document the steps you took that led to seeing that price? We're trying to fix a bug in the Upwork platform where they're presenting

[2021-08-09 20:35] trjExpensify commented on #3841
Updated the issue title with the payment date, @MitchExpensify.

[2021-08-09 20:39] parasharrajat commented on #3108
Finally, this is landed. App on a whole new level.

[2021-08-09 20:45] anthony-hull commented on #3108
Congrats great work :)

On Mon, 9 Aug 2021 at 21:39, Rajat Parashar ***@***.***>
wrote:

[2021-08-09 20:49] mallenexpensify commented on #4489
Hi @mananjadhav , per our [Contributing.md[(https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#user-content-payment-for-contributions) , new contributors are only allowed to work on one issue at a time. Since I already created an Upwork job for https://github.com/Expensify/App/issues/4434#, how about you finish that then come back to this once that job is finished?

[2021-08-09 20:59] trjExpensify commented on #4211
I've accepted @kp17211 proposal in Upwork, as he created the issue. Over to you! 👍

[2021-08-09 21:01] kidroca commented on #4492
I think you should just take a look at the PR: https://github.com/Expensify/react-native-onyx/pull/95

Picking a provider like this
##### storage/index.js
[code]

And then in Onyx.js use `StorageProvider.get`, `StorageProvider.set` and the rest of the methods is much simpler than modifying AsyncStorage internals.

How is that the simplest way?
Creating a version of AsyncStorage that uses MMKV and

[2021-08-09 21:07] parasharrajat opened #4513 "[Network] Language Picker on Login Page call the API unnecessarily & does not behave correctly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
### ISSUES
1. Language Picker calls the API which is unnecessary and It blocks the network queue.
2. Its theme does not match other inputs in the app. No border, etc.
3.

[2021-08-09 21:09] Luke9389 commented on #3952
Leaving an update here to remove the Overdue label, waiting for Stephanie to post this on Upwork I think.

[2021-08-09 21:15] marcaaron commented on #4492
If the point of this exercise is to prove that MMKV is valuable then we don't need the provider stuff for that. We could have just made `MMKV_Provider.js` a local replacement for `AsyncStorage`.

While we're on the subject though... how do I implement this to help test? There are no instructions on the linked PR.

[2021-08-09 21:15] trjExpensify commented on #4421
Thanks, guys! So have we determined this is a dupe and all good here?

[2021-08-09 21:16] parasharrajat opened #4514 "Input does not handle Tab focus and autofocus correctly."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issues:
1. New text input requires extra keystroke when using tab to get focus
2. Autofocus is not set correctly.

## Action Performed:

1. Open the Login page.
2. Observ

[2021-08-09 21:16] Luke9389 commented on #3087
We've let this issue atrophy long enough, and I think there are other priorities for us right now.

[2021-08-09 21:16] #3087 closed

[2021-08-09 21:17] parasharrajat commented on #4421
Duplicate.

[2021-08-09 21:19] trjExpensify commented on #4425
Looks like a dupe of this issue: https://github.com/Expensify/App/issues/4273 so I'm going to close this out. Let me know if you disagree, or missed something!

[2021-08-09 21:20] mallenexpensify commented on #1665
@bfitzexpensify was payment ever issued in Upwork for this job? I can't find it.

[2021-08-09 21:28] trjExpensify commented on #4505
Issue looks good! Handing over to engineering triage.

[2021-08-09 21:29] Luke9389 commented on #4501
We may want to wait on this until https://github.com/Expensify/App/pull/3881 is deployed to production because it contains a pretty significant refactor of this view.

[2021-08-09 21:32] parasharrajat commented on #4501
@Luke9389 this is a regression from #3881.

[2021-08-09 21:34] kidroca commented on #4500
Everything that's needed to achieve the previous behaviour is to move this line to the start of the call
[code]

It's just a matter of deciding if it's correct to call `keysChanged` when they actually didn't.

Reverting to the previous behaviour would also degrade performance as it will cause more re-renders, but at least we'll skip writing to storage

[2021-08-09 21:34] Luke9389 commented on #4501
@rushatgabhane [claims](https://github.com/Expensify/App/issues/4501#issuecomment-895282157) it's occurring on production as well. @isagoico can we test production for this?

[2021-08-09 21:37] mountiny commented on #3297
I will get the other PRs ready for review asap.

[2021-08-09 21:38] trjExpensify commented on #4218
Yep, sorry for the delay @aman-atg. Paid!

[2021-08-09 21:38] #4218 closed

[2021-08-09 21:39] kidroca commented on #4500
I don't see a reason for this
If you're talking about cache.set it doesn't matter if we update cache or skip the update if the value is already there

[2021-08-09 21:40] trjExpensify commented on #4421
Thank yah, let's close it then.

[2021-08-09 21:40] mananjadhav commented on #4421
@parasharrajat  @trjExpensify  Still a little confused here. Are we saying iPad Pro 12.7 inch should load the Wide Layout? Because then iPad Pro 9.7 inch uses Narrow Layout on Safari browser.

If that's the case should then should we track this as the other way that *iPad Pro Layout not consistent*

[2021-08-09 21:41] parasharrajat opened #4515 "Input switch between focus and blurr state on click & label is selected with respect to input text"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open Profile Page.
2. Click on the First name input.
3. Now click on the `First Name` label over it. You should see that input is losing focus a

[2021-08-09 21:45] Luke9389 commented on #3841
Not sure why the Overdue label is still on this. We're investigating a _potentially_ related issue to determine if it's a regression. More updates on that coming soon.

[2021-08-09 21:45] parasharrajat commented on #4421
Mostly if you look at both the issues. The issue is the Sign-in page layout and https://github.com/Expensify/App/issues/4110 is a generalized issue about the sign-in page. So its page payout should be fixed on all devices. Or are you suggesting to branch out this issue based on devices?

[2021-08-09 21:45] mananjadhav commented on #4434
Accepted the job with $250.

[2021-08-09 21:45] mananjadhav commented on #4489
@mallenexpensify I am aware of the policy, but I've already submitted the PR for the job.

[2021-08-09 21:49] parasharrajat commented on #4500
[code]
for keys whose value is different from the cache.

[2021-08-09 21:53] parasharrajat commented on #4501
Oh yeah. I missed that part. Sorry Rushat :sweat_smile:

[2021-08-09 21:54] mananjadhav commented on #4421
I am merely pointing out the inconsistencies between the layouts chosen for the two iPads.

*Examples below:*

![Screenshot 2021-08-10 at 3 21 52 AM](https://user-images.githubusercontent.com/3069065/128779399-02ca12a3-421a-4be8-bad1-a252abc832b2.png)

![Screenshot 2021-08-10 at 3 21 42 AM](https://user-images.githubusercontent.com/3069065/128779392-bba89e20-2add-43db-83a4-9fe30955b2ad.png)

![Scr

[2021-08-09 21:55] marcaaron commented on #4500
To clarify the suggestion is to only run `keysChanged()` logic on things that:

1. Changed
2. Did not change but the subscriber has `initWithStoredValues: false`

So I think this just means things that are flagged with `initWithStoredValues` won't experience the optimization (but very few things use it).

[2021-08-09 21:56] parasharrajat commented on #4421
Ok. Let me explain to you why this happens.
1. Layout is decided based on the width of the screen. if width < 800px then Mobile (Narrow), otherwise wide.

[2021-08-09 21:57] mananjadhav commented on #4421
Yeah, I saw and we're sticking to this check?

[2021-08-09 22:00] mallenexpensify commented on #4489
@mananjadhav if you're aware of the policy, why did you apply for two jobs at one time? Please be sure to familiarize yourself with all aspects of the CONTRIBUTING.md and README.md files.  It appears the two issues already have PR submitted. Please refrain from proposing solutions for additional jobs until *7 days* after both PRs have merged. We do this to ensure there are no regressions.

[2021-08-09 22:01] parasharrajat commented on #4500
Also, I think if the component is optimized a render should not be big deal. We are already reusing the Onyx subscriptions so resubscribing to WitOnyx should be fast.

[2021-08-09 22:01] kidroca commented on #4500
The problem is not caching the value but writing it to storage - we should not skip caching but the hard write to storage

[2021-08-09 22:07] trjExpensify commented on #4005
Any news on that, @parasharrajat?

[2021-08-09 22:08] mananjadhav commented on #4489
@mallenexpensify I thought PR submission should count for work done. I didn't realize it should be a PR merge + regression period before picking up the next gig. Noted.

[2021-08-09 22:09] Jag96 commented on #4355
@arpitdeveloper @chira37 please see the description of this issue for the desired implementation:

To achieve the desired result, we should:
1. Update the Vibration lib in our [react native fork](https://github.com/Expensify/react-native/tree/master/Libraries/Vibration) to add a new function `bip` that will use the shortest, strongest vibration possible (see [slack thread](https://expensify.slack.

[2021-08-09 22:12] kidroca commented on #4500
I don't see proposals that addresses this:

 And I don't think it's possible to address it in `set` - there's no information regarding the connection that's getting notified

 1. How would you know (inside `set`) that you should call `keysChanged` because `initWithStoredValues` is `false` ?
 2. What about consecutive calls
     1. A component is configured to `initWithStoredValues: false`
     2.

[2021-08-09 22:17] kidroca commented on #4500
I think the optimisation updates just revealed a hidden problem - other components with loading state would capture it in Onyx

[2021-08-09 22:18] parasharrajat commented on #4005
Still waiting for library side fix but I am ready to move forward with my solution just waiting for one more PR to be merged in the codebase #4503

[2021-08-09 22:21] trjExpensify commented on #4470
Sorry, playing catch-up guys! I agree, no point sending this to Upwork. I've sent a PR for it. 👍

[2021-08-09 22:28] marcaaron commented on #4500
Alright, I'd still recommend that we fix this to restore the behavior that has changed. Less concerned with how it is resolved as long as the solution is simple.

[2021-08-09 22:30] trjExpensify commented on #4005
Thank you! 👍

[2021-08-09 22:30] sakluger commented on #4435
Thanks for creating this issue @aman-atg! I'm reviewing the issue now.

[2021-08-09 22:33] parasharrajat commented on #4500
Is this being treated as a regression?

[2021-08-09 22:36] sakluger commented on #4435
This issue is unique and the suggested behavior is in line with what we did in [this related issue](https://github.com/Expensify/App/issues/3574).

This should be able to be handled by an external contributor.

The su

[2021-08-09 22:54] marcaaron commented on #4505
Hmm I thought this was a feature cc @puneetlath

[2021-08-09 22:55] jliexpensify commented on #4357
Sorry for the delay, was checking a few things with @TomatoToaster  - posted to Upworks: https://www.upwork.com/ab/applicants/1424866489594466304/job-details

@Santhosh-Sellavel - thanks for your patience. Please feel free to apply in Upworks!

[2021-08-09 23:08] marcaaron commented on #4505
@parasharrajat What's the conclusion? Are we supposed to implement this a different way than what we have? I think someone will probably just remove this feature entirely. Is that what we want?

[2021-08-09 23:12] parasharrajat commented on #4505
Swiping down should close the keyboard but this feature is interfering with content in the composer. If user is scrolling the content in the Composer swipe gesture should not be triggered.

[2021-08-09 23:16] marcaaron commented on #4505
Can we add that to the issue description please?

[2021-08-09 23:17] stitesExpensify commented on #4324
Personally I'd like to just put uniqueIDs into our current emoji file rather than replace the whole thing

[2021-08-09 23:18] stitesExpensify commented on #3922
The onyx keys should be `BANK_ACCOUNT_LIST` and `CARD_LIST`

[2021-08-09 23:29] mallenexpensify commented on #4234
Will pay on 8/11

[2021-08-09 23:38] mallenexpensify commented on #4217
@puneetlath you accidentally got unassigned as the CME, can you review the PR and unassign Rocio if needed?
https://github.com/Expensify/App/pull/4478

[2021-08-09 23:42] strepanier03 commented on #4514
Unique - wasn't able to find another issue similar
Issue hygiene - sections are filled out
Clarity of problem - The problem is not as clear as it could be as it was a little tough to parse out what I think you're seeing. I wasn't able to reproduce the behavior that I believe you're describing so next time it might be better to be a little more clear with what is happening or provide additional vis

[2021-08-09 23:43] mallenexpensify commented on #4234
@aman-atg I emailed you, can you please confirm you received it via the instructions in the email? If you didn't receive it, please email contributors@expensify.com from your primary email.  Thanks

[2021-08-10 00:03] isagoico commented on #4501
Confirmed this is also happening in Prod version

[2021-08-10 00:12] isagoico opened #4517 "Desktop - Automatically-set time zones don't update when you change time zones (pay on 9/8)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Easy mode 🟢
1. Open desktop app
2. Check the time zone is set automatically in settings
3. Go to device settings
4. Change the time zone of the devi

[2021-08-10 00:31] Christinadobrzyn commented on #4273
Sounds good! Increased the job price to $500.

@timszot would you be able to help @Santhosh-Sellavel with a test account for this project? I'm not sure how that works.

[2021-08-10 00:33] marcaaron commented on #4123
Just testing out the draft branch now with manual testing. Seems like it's about 20ms faster on average to switch chats with the new branch (so pretty small difference). Unsure if there's some other test we want to do here like the one suggested [here](https://github.com/Expensify/App/issues/4123#issuecomment-888621875).

[2021-08-10 00:52] akshayasalvi opened #4518 "[Hold for payment on Sept 3rd] Translation not added for Edited label in the comment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Keep the language Spanish
2. Go to the any chat and edit the comment
3. Click on save changes
4. You'll see `(edited)` is still in English.

## E

[2021-08-10 00:52] akshayasalvi commented on #4518
Proposed Solution:

Add translation for `edited` keyword and update the english text with function

For language files add keys,
en -> common -> edited: '(edited)'
es -> common -> edited: '(editado)'

Update the below block in `ReportActionItemFragment`

with

`this.props.translate('common.edited')`

Currently, the class doesn't have localize hoc. Need to add that too.

export default compose(
	wi

[2021-08-10 01:06] akshayasalvi commented on #4494
Proposed Solution:

Add missing keywords in languae file and update the English text with function.

For language files add keys,
en -> common -> saveChange: 'Save changes'
es -> common -> saveChange: 'Guardar cambios'

Key for cancel already available in language file.

Update the below block in ReportActionItemMessageEdit

![image](https://user-images.githubusercontent.com/57435789/128792868-2fc

[2021-08-10 01:21] mallenexpensify commented on #4489
@mananjadhav

Fair point, thanks for bringing it up.  I'm addressing the issue with the team and will likely update the CONTRIBUTING.md to reflect a more accurate timeline.

[2021-08-10 01:26] Jag96 commented on #4494
@mananjadhav your proposal looks good and straightforward, I've invited you to the job, feel free to start on the PR once accepted.

[2021-08-10 03:46] mananjadhav commented on #4494
PR raised.

[2021-08-10 03:52] silverfoxgit commented on #4355
We can reduce the time of vibration.
This is possible in React Native.

[2021-08-10 05:04] rndev707 commented on #4129
@marcaaron compose box is cleared on my end with the latest version of the app. Regarding the "lag", I've tried to modify `submitForm` function as following.

[code]

I think the cause of lagging is that multiple rendering occurs at the same time. So I tried to refresh compose box first then submit the comment. So compose box and submit button could be refreshed quickly.

[2021-08-10 05:36] ctkochan22 commented on #4487
I don't think this is a blocker. It looks like there is just no UI feedback that indicates that the request was sent and we are awaiting a response.

Can we close this or edit the title to `Add loading gif/ui once "save" button is clicked

[2021-08-10 07:50] #4488 closed

[2021-08-10 08:28] Beamanator commented on #4211
@kp17211 before you submit your PR could you please post your proposal here so I can review? 👍

[2021-08-10 09:36] #4112 closed

[2021-08-10 09:58] HorusGoul commented on #3844
From this comment: https://github.com/Expensify/Web-Expensify/pull/31585#issuecomment-891730129

Weirdly, these chats don't have the required NVPs, and they should. In the photo, it appears as an announce room, but it doesn't have the `policyAnnounce` NVP.

Was this in a recently created room?

[2021-08-10 12:56] thesahindia commented on #4498
[code]

Hi @thienlnam, I was testing out the above code. And this is not giving us the required behaviour.

https://user-images.githubusercontent.com/83179295/128870260-76fb73d0-c647-45d0-ba75-1afa71b27671.mp4

And with this it seems to be working fine.
[code]

https://user-images.githubusercontent.com/83179295/128870364-d6cf02ed-3435-4f23-adb5-4cd40fcfddc9.mp4

Please let me know your thoughts.

[2021-08-10 12:58] thesahindia commented on #4498
Also, please let me know if I should raise a PR right now or after getting hired on Upwork. Thanks.

[2021-08-10 13:00] parasharrajat commented on #4498
Yes you are correct. Use the onScreenTransitionEnd from ScreenWrapper component

[2021-08-10 13:31] mananjadhav commented on #4324
and as I mentioned earlier we can do that too.

[code]

[2021-08-10 13:35] FredericoGauz commented on #1665
I don't know if it helps but at least on my side it appears as paid.

2021年8月9日(月) 18:20 Matt Allen ***@***.***>:

[2021-08-10 13:52] rdjuric commented on #3897
@MelvinBot PR is waiting review 😃

[2021-08-10 14:00] anthony-hull commented on #2734
Now the PR has merged I will re-start work on this tomorrow.

[2021-08-10 14:21] roryabraham commented on #4379
No update here, but it would be a great FP for someone looking to familiarize themselves with the NewDot deploy code.

[2021-08-10 14:32] roryabraham commented on #4514
Nice triage checklist @strepanier03! 👏

[2021-08-10 14:33] iwiznia commented on #4493
Oh wow interesting... not sure this is a backend bug really, that is generated [here](https://github.com/Expensify/App/blob/99bd1b1af6a953f4c07aa9f06df55368dbb466fc/src/components/ReportActionItem/IOUPreview.js#L113-L125). I am not sure if we should be using the report's cachedTotal there.
cc @Julesssss

[2021-08-10 14:33] roryabraham commented on #4514
This can be external, but @parasharrajat can you take a minute to clean up the issue template to get rid of the prompt questions and get a bit more specific about the expected result?

[2021-08-10 14:43] mallenexpensify commented on #4365
Should this have 'done something' now that it's 8 days? ie. add the `Waiting for payment` label?

[2021-08-10 14:44] Julesssss commented on #4493
Pretty sure each user should see the total in their local currency in this case. +1 to this being a potential frontend issue

CC @trjExpensify

[2021-08-10 14:46] iwiznia commented on #4493
If that's the case, then I think we can't fix it solely from the frontend, since we don't have the report's total amount in both currencies, just in the currency of the report (which is the currency of the person owed money).

[2021-08-10 14:47] TomatoToaster commented on #4517
Looks good, I think this could easily be categorized as external.

I think one possible way to solve this could be similar to the `BaseUpdateAppModal` which asks the user to essentially reopen the app when we notice there's a newer version of the app out. This could reopen the app for them in the same way or ask them to quit and reopen to update the timezone. I'm not sure how `BaseUpdateAppModal`

[2021-08-10 14:50] Santhosh-Sellavel opened #4524 "[On Hold] IOU History/Details not translated"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Change language to Spanish
2. View any IOU transactions History is not translated.

`Requested from`, `Cancelled` & `Declined`  should be transla

[2021-08-10 14:53] michaelhaxhiu commented on #4325
Sorry for the wait. Posted the job here - https://www.upwork.com/jobs/~015c092db274787ca2

@aman-atg can you propose to handle the job on Upwork and then we can hire you?

[2021-08-10 14:53] michaelhaxhiu commented on #4325
Also, this issue exists across all platforms right?

[2021-08-10 14:56] puneetlath commented on #4487
I was able to confirm that this behavior is also happening on iOS as well.

[2021-08-10 14:56] michaelhaxhiu commented on #4325
I can't reproduce this on iOS actually. Can you please clarify the affected platforms before beginning work @aman-atg?

[2021-08-10 14:57] puneetlath commented on #4487
@ctkochan22 if you think this is a good external candidate, add the `external` label please!

[2021-08-10 15:02] isagoico commented on #4365
Yep Matt is right🤔 @Dal-Papa I think the PR is a fail. No signs of the message:

[2021-08-10 15:03] michaelhaxhiu commented on #4325
Please ⏸️ for a moment. cc @mallenexpensify

[2021-08-10 15:12] isagoico opened #4526 "Markdown links don't work properly when there is text in brackets at the beginning of the line"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Send the following message
[code]

## Expected Result:
Message should be displayed like this -> [Text text] more te

[2021-08-10 15:14] laurenreidexpensify commented on #4500
on Upwork now folks - https://www.upwork.com/jobs/~01d20e79bb6e79254a - do we have a definitive proposal we're implementing yet?

[2021-08-10 15:17] isagoico opened #4528 "[HOLD for payment Aug 18] Add Phone Number row doesn't follow the correct styling"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

Upwork post: https://www.upwork.com/jobs/~015cb8be422e99db23
___

## Action Performed:
1. Navigate to profile settings
2. Check the Add Phone number line

## Expected Result

[2021-08-10 16:26] thienlnam commented on #4498
@thesahindia If that doesn't work, feel free to use the `onTransitionEnd`

[2021-08-10 16:26] thienlnam commented on #4498
Also, let's get you hired before raising a PR - @JmillsExpensify could you please hire @thesahindia in Upwork?

[2021-08-10 16:26] iwiznia commented on #4493
Apparently, this is how we designed this on purpose, the currency changes because it is always shown in the currency who's owed. We are discussing if we want to change this or not. Will close for now.

[2021-08-10 16:26] #4493 closed

[2021-08-10 16:28] puneetlath commented on #3798
@Luke9389 looks like that has been merged. Shall we take this off hold?

[2021-08-10 16:28] mateusbra commented on #4526
If it could be external I would like to post my proposal 😅

[2021-08-10 16:36] parasharrajat commented on #4526
Unfortunately, this is a regression from https://github.com/Expensify/expensify-common/pull/401. We expected a couple of regressions from this PR https://github.com/Expensify/expensify-common/pull/400#issuecomment-887870536.

[2021-08-10 16:38] mananjadhav commented on #4526
Yeah this is the regression from m PR https://github.com/Expensify/expensify-common/pull/400. I'll fix it.

[2021-08-10 16:42] dklymenk commented on #4517
Hello,

Currently the [code responsible for automatic time zone updates ](https://github.com/Expensify/App/blob/main/src/libs/Navigation/AppNavigator/AuthScreens.js#L72-L89) is being executed only once during route initialization. (and on [actual setting change](https://github.com/Expensify/App/blob/main/src/pages/settings/Profile/ProfilePage.js#L120-L125)).

To make it so it is updated automatica

[2021-08-10 16:42] mallenexpensify commented on #4489
@mananjadhav we're updating the CONTRIBUTING.md to read "New contributors are limited to working on one job at a time, their first PR must be merged before another proposal is accepted."

I'm putting this on hold til https://github.com/Expensify/App/issues/4434 is merged. @Beamanator once 4434 is merged, are we set to hire @mananjadhav for this?

[2021-08-10 16:51] mananjadhav commented on #4489
@mallenexpensify That sounds fair. Appreciate your help with this.

[2021-08-10 16:53] Santhosh-Sellavel commented on #4524
https://expensify.slack.com/archives/C01GTK53T8Q/p1628607881165500?thread_ts=1628607881.165500&cid=C01GTK53T8Q

Based on discussion above closing for now.

[2021-08-10 16:53] #4524 closed

[2021-08-10 16:59] parasharrajat commented on #4200
I feel like this is urgent and causes a bad UX for native users. @puneetlath Any thoughts?

[2021-08-10 17:24] mallenexpensify commented on #4490
on hold, will revisit in a week-ish

[2021-08-10 17:36] thienlnam commented on #3381
Hey @mallenexpensify, can you please hire @azimgd in Upwork?
Solution looks promising so let's give it a shot

[2021-08-10 17:37] Santhosh-Sellavel commented on #4528
## Proposal
Need to change in LoginField.js File
<img width="908" alt="Screenshot 2021-08-10 at 11 06 35 PM" src="https://user-images.githubusercontent.com/85645967/128907855-7e97c703-b214-4cdd-bed9-badd259abd9b.png">

[2021-08-10 17:40] trjExpensify commented on #4258
Merged 8 days ago, paid! 👍

[2021-08-10 17:40] #4258 closed

[2021-08-10 17:44] mallenexpensify commented on #3381
@azimgd can you submit a proposal [here ](https://www.upwork.com/jobs/~01a4a59d0c8d74eae5) and confirm in a comment here once you have? Also, is your user name in Upwork `Azim G.`? (they don't show full last names).

[2021-08-10 17:55] aman-atg commented on #4111
## Please confirm the translations.
#### English
1. We've sent a magic sign in link to your email.
2. We've sent a magic sign in link to your phone number.
#### Spanish
1. Hemos enviado un enlace de inicio de sesión mágico a su email.
2. Hemos enviado un enlace de inicio de sesión mágico a su número de teléfono.

[2021-08-10 18:08] mallenexpensify commented on #3381
Hired @azimgd in Upwork! 🎉

[2021-08-10 18:48] kidroca commented on #4500
This is unnecessary complicated

Didn't you and Marc agree than a re-render won't be a problem?
Then the simplest solution is to always call `keysChanged` and leave the rest of the logic - e.g. just move `Promise.resolve` to the top

Adding `hasNewValue` and `subscriber.initWithStoredValues` here raises the complexity just for the case where we might want to skip this 1 time during init

The place

[2021-08-10 18:58] marcaaron commented on #4500
We agreed that re-rendering the things flagged with `initWithStoredValues: false` should not be a problem. I don't think we agreed that we should always call `keysChanged`. It makes sense to me that we should **_not_** call this if the value has not changed (and a subscriber already possesses the value). The issue is that things which have `initWithStoredValues: false` do not have the value but th

[2021-08-10 19:05] WillBrindle commented on #4129
I don't think that will resolve the issue. I believe this has nothing to do with the submit functionality. You can still observe the bug if you simplify the functionality down to just:
[code]

it just becomes slightly harder to do (you have to type faster, but if you mash your keyboard you'll still get it).

Basically I think  at a high level roughly what's happening here is key press gets handled

[2021-08-10 19:06] kidroca commented on #4500
IMO it's not worth it to complicate Onyx logic because of the 6 existing usages of `initWithStoredValues` - 4 of which are defining and managing a `loading` state anyway

If the problems needs to be solved on the Onyx level then at least the logic should be simple and not raise complexity

Otherwise to let a subscriber re-render it's enough to change Onyx data by altering a flag like `loading`

Th

[2021-08-10 19:08] iwiznia commented on #4280
PR has been merged Melvin, leave me alone.

[2021-08-10 19:21] marcaaron commented on #4500
To be clear, I'm not opposed to removing it (I've already said so [here](https://github.com/Expensify/App/issues/4500#issuecomment-895393514)), but this feels like two separate problems:

1. The flag exists and is broken
2. The flag should not exist so let's remove it instead of fixing it

Maybe @tgolen has thoughts on why we should keep `initWithStoredValues`. I think this flag was his idea initi

[2021-08-10 19:23] Santhosh-Sellavel commented on #4528
@sketchydroide
Proposed changes are available in drafted PR. Additionally after discussion with @shawnborton [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1628580981143900), removed left & right padding. Those changes are also included in the drafted PR.
Once you say go head, I'll wrap my PR work & mark ready for review thanks.

[2021-08-10 19:26] kidroca commented on #4506
This is a secondary problem.

The primary problems:
1. When you open a chat. We're loading the entire chat history at once - let's say you have a year old conversation with 10,000+ messages in async  storage - all of them are loaded when you switch to it (or init on it)
2. Then when you receive or send messages - to insert the message in the correct index all 10,000+ messages are read (this is the

[2021-08-10 19:31] parasharrajat commented on #4500
Usually, a lib does not break its implementation without notification. Even if some things need to be deprecated should be phased out in steps. Onyx is standalone lib. Also, Currently, we are trying to solve a breaking behavior. Your points make sense.

I don't feel a drawback on using the logic as this does not break new changes unless the plan is to deprecate the property.

[2021-08-10 19:37] kidroca commented on #4500
There's a simple way to fix the regression, why not use that ?
The main point of the Onyx.set update was to skip redundant writes to storage and not really to skip re-renders

Let's try the simple fix and maybe see if it would have any performance impact at all
The main performance benefit came from skipping the write and not the re-render

[2021-08-10 19:45] mallenexpensify commented on #4407
Holding for a weekish

[2021-08-10 19:47] michaelhaxhiu commented on #4407
@mallenexpensify do you plan to keep this one throughout completion? I'm flexible - just want to make sure I don't miss it if it needs any action from me in coming days/weeks.

[2021-08-10 19:56] marcaaron commented on #4506
OK, I think we are talking about two different problems. "secondary" and "primary" might not be a good way to think about this as it implies one is related to the other and giving this proposal a closer look I see they are not the same.

**Problem 1: Too Many Report Actions keys are loaded when the app inits**

Loading too many report actions when the app inits is a problem because it takes a long

[2021-08-10 20:01] marcaaron commented on #4129
@WillBrindle Thanks, that's a really interesting observation. Also seems consistent with the idea about some conflict between setting native props and clearing the input. Though, I have not done much testing myself. Let us know if anything else comes to mind.

[2021-08-10 20:04] laurenreidexpensify commented on #4066
Paid @parasharrajat 👍🏽

[2021-08-10 20:04] #4066 closed

[2021-08-10 20:10] parasharrajat commented on #4514
### Proposal
Autofocus is not working well one ExpensiTextInput. So we can move this logic to componentDidMount to autofocus the input.
[code]
Which fixes the issue.

#### Before fix

 https://user-images.githubusercontent.com/24370807/128928109-e806f8b9-09de-479e-88ca-927d8ed606dc.mp4
#### After fix
https://user-images.githubusercontent.com/24370807/128928131-a9ad7ac5-1e05-48eb-8241-71b4293baec6.

[2021-08-10 20:22] isagoico commented on #4111
Mmm the Spanish translations are not entirely correct:

1. Hemos enviado un enlace mágico de inicio de sesión a tu email
2. Hemos enviado un enlace mágico de inicio de sesión a tu número de teléfono
3. Regresar

[2021-08-10 20:23] kidroca commented on #4500
The prior functionality was "always re-render" when `Onyx.set` is called

The proposed changes introduce inconsistent behaviour:
- when `initWithStoredValues` is `true` we skip re-renders when storage didn't change
- when `initWithStoredValues` is `false` we always re-render

`initWithStoredValues` becomes something of a switch of wether we allow redundancy updates or not

If that's so we can prov

[2021-08-10 20:24] Luke9389 commented on #3897
@rdjuric you can apply the `Reviewing` label to an issue to prevent Melvin from spamming the overdue messages/label

[2021-08-10 20:24] Luke9389 commented on #3798
Oh, nice catch. 👍

[2021-08-10 20:27] Luke9389 commented on #3798
OK, this issue is now off HOLD and accepting new proposals. @aliabbasmalik8 brought this issue to our attention so I'll see if he's still wanting to submit a proposal.

[2021-08-10 20:31] francoisl commented on #4447
The DeployBlocker label was removed from https://github.com/Expensify/App/issues/4487, can we check it off the list of blockers above?

I'm looking into https://github.com/Expensify/App/issues/4484 right now in the meantime.

[2021-08-10 20:39] rdjuric commented on #2934
Follow-up PR is ready for review 😃

[2021-08-10 20:45] TomatoToaster commented on #4448
Ah sorry, I thought this was already marked for exported. Marking it so the job could be made/proposal can be properly evaluated.

[2021-08-10 20:46] francoisl commented on #4484
@parasharrajat - just checking, it looks like you were [aware](https://github.com/Expensify/App/pull/4363#issuecomment-890960388) of this issue, correct? Was there a separate GH issue that was opened to track the bug where newlines are prepended to messages pasted into the message box?

[2021-08-10 20:50] aman-atg commented on #4111
Thanks for correcting them.

[2021-08-10 20:52] parasharrajat commented on #4484
No, a new issue was opened at the moment. I was waiting for  #4363 to merge as only after that, this behaviour is revealed.
So with an inspection, I come to know that the Mac Note app. usages `&nbsp;` chars to show spaces which are also needed to be escaped and current `_.unescape` does not do that. I think we need a custom implementation as is not made to parse HTMLEntities and its usages do not

[2021-08-10 21:07] stitesExpensify commented on #4398
Hi Santhosh, What does your map function look like? I think that would help me decide what to do with the other banks.

[2021-08-10 21:14] aliabbasmalik8 commented on #3798
**_PROPOSAL_**

We can add an input field here
https://github.com/Expensify/App/blob/f3228deee0ac6a9fabb2c1c5d40ffe31d77dbbd7/src/pages/settings/AddSecondaryLoginPage.js#L128

like this

[code]

and also add `countryCode` in the state, and update submit handler
https://github.com/Expensify/App/blob/f3228deee0ac6a9fabb2c1c5d40ffe31d77dbbd7/src/pages/settings/AddSecondaryLoginPage.js#L87
like this
[

[2021-08-10 21:15] thienlnam commented on #4517
@dklymenk

The proposal sounds solid, I took a look at your PR https://github.com/Expensify/App/pull/3573/files and agree a similar solution here could work for that as well.  As for removing the old implementation, we might want to keep that for a timezone change when the app is initialized

[2021-08-10 21:16] thienlnam commented on #4517
@bfitzexpensify Could you please hire @dklymenk in UpWork?

[2021-08-10 21:23] dklymenk commented on #4517
I meant that since the newly implemented check would happen immediately on the first interaction with the app anyway, why should we keep the old redundant implementation.

Anyway, I will need to get my hands dirty first and make some tests to make sure removing it doesn't break anything.

[2021-08-10 21:28] thienlnam commented on #4517
@dklymenk 👍  sounds good, had a brain freeze for a bit but yeah I agree

[2021-08-10 21:46] roryabraham commented on #4447
Yep!

[2021-08-10 21:46] chiragsalian commented on #4362
Oh odd, this shows up as gray on my K2 so i totally missed this. Anyway i like @parasharrajat solution a little more so @SofiedeVreese can you hire rajat on upwork. Rajat feel free to prepare the PR.

[2021-08-10 21:56] kevinksullivan commented on #3770
So sorry @dklymenk , I must've gotten upwork jobs with similar names confused. Can you confirm you have received payment now?

[2021-08-10 22:05] kevinksullivan commented on #4280
Paid @mananjadhav . Thanks!

[2021-08-10 22:05] #4280 closed

[2021-08-10 22:12] kidroca commented on #4506
Correct they are related - if there's no other way but to read the entire chat history opening **any chat**, then reading all the chats during init can makes the problem N times worse

You're skipping Problem 3: The entire chat is re-written for each new message I write or receive
- if there's something else that updates report actions it would also do it in this rewrite all fashion. For example e

[2021-08-10 22:30] jliexpensify commented on #4357
Hi @timszot - do you mind checking out Santosh's proposal here, so we can get him hired? Thanks!

[2021-08-10 22:34] francoisl commented on #4447
Quick update on the remaining items:

-  @luacmartins is QAing https://github.com/Expensify/App/pull/4237. Currently waiting to get his [validation amounts](https://github.com/Expensify/Expensify/issues/173544)
- https://github.com/Expensify/App/pull/4246 can be checked off, Kevin confirmed he did the QA with Mitch
- https://github.com/Expensify/App/pull/4363 / https://github.com/Expensify/App/iss

[2021-08-10 22:37] mallenexpensify commented on #4407
I'll stay assigned til it's closed, you can unsubscribe to notifications @michaelhaxhiu

[2021-08-10 22:38] mallenexpensify commented on #4435
Putting on hold for a week-ish

[2021-08-10 22:41] AlfredoAlc commented on #4515
PROPOSAL

1. Make the label text not selectable:  Set `selectable`  prop of `Animated.Text`  to false.

https://github.com/Expensify/App/blob/75a1fe0b4ebfa1819ad1efa608a45aa8bd07e41b/src/components/ExpensiTextInput/ExpensiTextInputLabel/index.js#L6-L25

2. To prevent the `TextInput` to switch between blur and focus, it needs to change some styling:

- In `expensiTextInputLabel`, setting the `zInde

[2021-08-10 22:53] kidroca commented on #4492
We've captured benchmark data, did manual tests and it seems we're not getting any benefit from the JSI MMKV storage implementation ATM

In terms of "time to interactive" and "chat switch time" there's no obvious improvement

What we can continue with:
- verify that the MMKV JSI implementation is faster than AsyncStorage https://github.com/Expensify/react-native-onyx/pull/95#issuecomment-895601482

[2021-08-10 22:56] michaelhaxhiu commented on #4475
Will pick this up shortly.

[2021-08-10 22:56] michaelhaxhiu commented on #4472
Will pick this up shortly

[2021-08-10 23:05] kevinksullivan commented on #4417
@pecanoro my assumption is the original proposal passed your review?

[2021-08-10 23:07] kevinksullivan commented on #4417
Posted

https://www.upwork.com/jobs/~01f18960ef855687a3

[2021-08-10 23:09] kidroca commented on #4392
Why keeping a `loading` state is considered a hack solution?
Plenty of other actions with network calls would capture such.
The changes in Onyx revealed that this was missed here.

You will also get an infinite loading if data never arrives from the network, the request fails, or if you're offline
Keeping action state would address these items, while fixing Onyx would fix only the "happy path"

[2021-08-10 23:15] mallenexpensify commented on #4417
@Expensify/design
1. Do we want the feedback/confirmation in the top screen-grab video?
2. If so, is it consistent with other instances in NewDot?

[2021-08-11 00:15] haseebb commented on #4115
Hi

I will use  react-native-fast-image.

I've used it for large lists with thumbnails and it works very well with improved performance with caching.

[2021-08-11 00:18] roryabraham commented on #4484
I think we should demote this from deploy blocker to regular-old 🐛

[2021-08-11 00:19] roryabraham commented on #4447
@isagoico Can we retest https://github.com/Expensify/App/issues/4488 in `1.0.83-1`?

Agreed that we should demote https://github.com/Expensify/App/issues/4484 from deploy blocker to regular-old 🐛 and check it off the list. Even if it's not a pure regression, it's an edge case I think we can tolerate in prod for a while to push the prod deploy along.

[2021-08-11 00:21] roryabraham commented on #4447
So assuming https://github.com/Expensify/App/issues/4488 is fixed in `1.0.83-1` (currently being deployed [here](https://github.com/Expensify/App/actions/runs/1118210863)), then we should be good to check off the remaining items and run a prod deploy. Thanks for the summary @francoisl!

[2021-08-11 00:22] thienlnam commented on #4115
Hello @haseebb,

There's been a bit of discussion about `react-native-fast-image` above but especially [here](https://github.com/Expensify/App/issues/4115#issuecomment-887838308).  It would be great to see if there was any performance difference in the first place.

[2021-08-11 00:37] marcaaron commented on #4506
It can be a hard question to answer, but one guiding Expensify principle that might help to remember is that we try to always think about how this will affect actual customers. Not every apparent problem requires an immediate solution and we're always thinking about the best place to put our limited energy.

With that idea in mind, can we continue to optimize android boot time and switching from o

[2021-08-11 00:52] parasharrajat commented on #4514
It does when we do it synchronously which is exactly the case here in componentDidMount. And I just tested it on safari. Works well.

[2021-08-11 00:58] parasharrajat commented on #4475
Loved the time. Thanks, @michaelhaxhiu.

[2021-08-11 01:00] michaelhaxhiu commented on #4475
@Beamanator Rather than self-assessing this GH and posting this to Upwork on my own accord, I'm using the `Engineering` label to get some input before I proceed. I'd love your 2 cents.

Do you agree that this GH and https://github.com/Expensify/App/issues/4472 should remain separate? Or should these be combined into 1?

@parasharrajat can you or someone else define what a `marker` is? I'm trying t

[2021-08-11 01:03] parasharrajat commented on #4475
@michaelhaxhiu I added the Suggestion section in the issuing body. Feel free to generalize it. It's better if you pull in someone from the Design team as we would be needing their help as well. A design label is also good.

[2021-08-11 01:07] michaelhaxhiu commented on #4475
Are we saying `marker` to mean a "notification" of some kind? I see that there is no notification delivered when:

- User1 is reading the scrollback history from User2
- meanwhile, User2 sends a new message to User1

Am I understanding what `marker` means here?

Yep agreed - this isn't ready for `External` until we hammer out the details together :)

[2021-08-11 01:08] marcaaron commented on #4492
Does everyone agree that it feels like we are missing a bottleneck that has nothing to do with storage and until we solve that we won't see the benefits of storage?

Proving that there is some benefit in isolation seems like it will tell us that things _could_ be better, but we still need to fix "something" else about our Onyx design.

I'm not 100% sure what @quinthar had in mind [here](https://gi

[2021-08-11 01:11] Christinadobrzyn commented on #4342
@aman-atg has been paid, Upwork job closed!

[2021-08-11 01:11] #4342 closed

[2021-08-11 01:24] roryabraham opened #4537 "Update app modal does not display"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Receive an app-update notification on desktop
1. Click on the notification.

## Expected Result:
An modal is displayed asking if you want to upda

[2021-08-11 01:25] roryabraham commented on #4537
I believe this regression was most likely caused by https://github.com/Expensify/App/pull/4406, but haven't confirmed.

[2021-08-11 01:25] OSBotify commented on #4537
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-08-11 01:26] roryabraham commented on #4537
Shouldn't have included the `AutoAssignerTriage` label, my bad @jboniface.

[2021-08-11 01:29] michaelhaxhiu commented on #4475
Spoke to @parasharrajat 1:1 and he clarified that by "marker", he means this sort of _unread notification_. He added this to the GH Body too ⭐ :

![image](https://user-images.githubusercontent.com/13206896/128955774-ef1272a8-9bb6-40e2-8dfe-c182d3600507.png).

[2021-08-11 01:30] roryabraham commented on #4514
Okay, thanks for checking that. In that case, your proposal for the autofocus issue LGTM 👍

What about the other formatting issue? cc @kakajann, because it seems that this is a case where [this PR](https://github.com/Expensify/App/pull/3414) didn't work as expected.

[2021-08-11 01:50] michaelhaxhiu commented on #4472
@Santhosh-Sellavel can we update the GH body a little bit to cover the suggested sections more thoroughly? If you find and fix something, you get a bonus and so I'd like to make sure you follow best practices (so you can re-apply this to new Githubs you discover in the future).

A few pieces of feedback from me:

1. `Action Performed:` - Can you please provide the steps?
2.`Actual Result:` - Can y

[2021-08-11 01:51] kakajann commented on #4514
@roryabraham I can open a new PR to fix any bugs occured in #3414

[2021-08-11 02:01] Anass-ABEA commented on #4417
The feedback should be shown after successfully uploading the Image!
That can be done in the on `ImageSelected ` and `onImageRemoved` methods that are in the `AvatarWithImagePicker` tag.

We need to add
[code]
When the response code is 200 inside the methods `setAvatar()` and `deleteAvatar()`

[2021-08-11 02:10] roryabraham commented on #4514
Okay @kakajann! So far we've discovered this issue with the password input and [another with the bank account picker](https://expensify.slack.com/archives/C01GTK53T8Q/p1628645830194700)

[2021-08-11 02:57] Rushu-geek commented on #4296
We can do multiline input and wrap the content in flex wrap.

[2021-08-11 03:54] mananjadhav commented on #4526
I've tried a few regex but some of the test cases break. Give me a day or two to find a solution and close this. @tgolen can you please assign this to me?

[2021-08-11 04:07] haseebb commented on #4115
Hi @thienlnam

Can you plz send a screen recording of the app while the app is loading the images.
I want to see the loading delay.

[2021-08-11 04:25] dklymenk commented on #3770
Hello, yes. I have recieved a payment, but I think you might have forgotten about the finder's bonus: https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#proposing-a-job-that-expensify-hasnt-posted

[2021-08-11 04:56] quinthar commented on #4492
Yep, that's exactly right.  Let's start with a bare-bones benchmark that
proves Tencent is faster than AsyncStorage in *anything*, and then bit by
bit add Onyx step by step until we figure out where Onyx introduces the
bottleneck.

On Tue, Aug 10, 2021 at 6:08 PM Marc Glasser ***@***.***>
wrote:

[2021-08-11 07:14] SofiedeVreese commented on #4362
Hey @parasharrajat feel free to submit a quick proposal via Upwork so I can hire you! :)

[2021-08-11 07:17] SofiedeVreese commented on #4362
Ps @chiragsalian I think the "Help Wanted" label grays it out (purple gray). It's a new label we now add to open issues, so you may have more in that weird purply gray!

[2021-08-11 07:20] aman-atg commented on #4417
We should not change the working of `AvatarWithImagePicker` since it's being used for workspace as well.
And to get the `Growl` after the API call is complete, `setPersonalDetails` will look like this :
[code]

* `setAvatar` is already calling `setPersonalDetails` so there's no need to add a `Growl` in that function.
* `deleteAvatar` however will also need a `Growl` as it's directly calling the AP

[2021-08-11 07:24] Beamanator commented on #4489
I'm back with reviewing your proposal @mananjadhav :D

Hmm I haven't seen this approach before, can you put example code here that you would use? Also do we do this anywhere else in the app so far? If not, maybe we can just keep the styles as generic `PropTypes.arrayOf(PropTypes.object),`, so in `AvatarWithImagePicker` we can just pass `containerStyles` as an array (`containerStyles={[styles.avata

[2021-08-11 07:33] mananjadhav commented on #4489
`StyledProp` I've used with Typescript such as `StyledProp<ViewStyle>`.

And as I mentioned earlier, we don't use the above approach anywhere currently in the app.

But we do use `PropTypes.oneOfType([PropTypes.object, PropTypes.arrayOf(PropTypes.object)]),` in `TextLink` and `AvatarWithImagePicker`.

I would recommend using both object and array of objects check.. You don't want somebody accident

[2021-08-11 07:37] Beamanator commented on #4475
That sounds great, thanks!

I agree these should remain separate and here's why: In slack, both indicators / markers are present (see this video) and I think it would be amazing if we could do the same:

https://user-images.githubusercontent.com/3885503/128988883-564483be-d3f1-4121-9ed7-d5aa14912813.mov

However, before marking `External` myself, I'd also love the @Expensify/design team's input 👍

[2021-08-11 07:42] Beamanator commented on #4489
Hmm on second thought I definitely agree with your first proposal, using `PropTypes.oneOfType([PropTypes.object, PropTypes.arrayOf(PropTypes.object)]),` - I hadn't noticed we use that in _lots_ of other components, thanks for pointing that out 👍

@mallenexpensify once #4434 is merged we're ready to hire @mananjadhav 💪

[2021-08-11 07:48] Beamanator commented on #2934
Aaand merged 💪

[2021-08-11 07:52] shawnborton commented on #4475
I like this idea. In terms of the design, I am thinking something like this which is consistent with our small button sizes (28px tall, 11px font size) and also consistent with our split button pattern that we have on the IOU payment page:

![image](https://user-images.githubusercontent.com/2319350/128991135-4eaa616e-7f7d-4589-84ee-f53012d80188.png)

[2021-08-11 08:16] Santhosh-Sellavel commented on #4398
@stitesExpensify
1. You can find the `processcsv.js` file inside the [CSV_File.zip](https://github.com/Expensify/App/files/6966816/CSV_File.zip), which contains the function to map.
2. Extract and run `npm install` inside the folder.
3. `node processcsv.js`

Note, existing map function covers most of the cases. Common abstract names in banks cause problems.

[2021-08-11 08:23] mananjadhav opened #4539 "Show Emoji Keyword on Hover"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

With respect to the comment [here](https://github.com/Expensify/App/pull/4456#issuecomment-895926828), we should show the Emoji keyword on hover.

## Action Performed:
1

[2021-08-11 08:27] shawnborton commented on #4539
We currently don't support emoji codes aka `:something_here:` so I am not sure how useful this suggestion is for the time being. I would say that once we do support using the codes, this would be more useful. So my suggestion would be to close this.

[2021-08-11 08:28] mananjadhav commented on #4539
**Proposal**

This task requires two things:
1. We've been discussing adding unique code to each emoji [here](https://github.com/Expensify/App/issues/4324)

While this gets picked, we can at least show the description of each Emoji from our [dataset](https://github.com/amurani/unicode-emoji-list).

2. Add the UI to show the data of the selected emoji in EmojiPickerMenu/index.js and index.native.js

[2021-08-11 08:32] shawnborton commented on #4539
Just to make sure I am following, could you describe how that might solve a problem we are currently facing? I think the emoji keyword is valuable (it teaches you what the keyword is so you can use the shortcut for next time), but I am not convinced that the descriptions are valuable.

[2021-08-11 08:52] mananjadhav opened #4541 "Can't close Emoji Picker in Landscape View without entering an Emoji"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

With respect to the comment https://github.com/Expensify/App/pull/4456#issuecomment-895926828, adding this issue.

## Action Performed:
1. Open the chat in mobile landsc

[2021-08-11 08:53] shawnborton commented on #4541
@mananjadhav could you please add screenshots to the issue? Thanks!

[2021-08-11 08:56] mananjadhav commented on #4541
**Proposal**

We can have behavior like Slack which allows us the swipe the modal to hide, at least in the mobile devices.

![IMG_4320](https://user-images.githubusercontent.com/3069065/129000201-3bc52f2c-b313-4b24-a19d-ef15e0ec52fc.PNG)

Slack has this modal that can be swiped down.

Will need some design inputs on the modal but the solution would be to add

`onSwipeComplete` and `swipeDirection`

[2021-08-11 09:03] shawnborton commented on #4541
Perfect, thanks!

[2021-08-11 09:16] mananjadhav commented on #4421
iPad 9.7 inch device's `windowWidth` is 768, which is what I generally use the breakpoint on the web to differentiate between a mobile and a tablet.
iPad 12.9 inch device's `windowWidth` is 1024.

Currently, iPad 12.9 acts as a Desktop view, and iPad 9.7 acts as a mobile view. It looks a little inconsistent and defeats the purpose of having an iPad if we're showing an iPhone view.

![image](https:

[2021-08-11 09:18] shawnborton commented on #4421
I am cool with changing the breakpoint to 768, but let's do a quick test and see what it looks like on the iPad on the right first. Also, not sure if this is the correct issue to be discussing or not, so @trjExpensify let me know if there is a better place for this discussion/exploration.

[2021-08-11 09:49] kidroca commented on #4492
Yes, We've accumulated multiple clues about this. The problem doesn't seem to be storage access speed, but:
1. relaying storage data and updates to React
2. too much scripting (main thread time) spent by Onyx
3. Something else that chokes that app and everything going on Android

#### 1. Relaying updates
We have plans like fill initial state sync from cache
One unexplored path ATM is "too many HOC

[2021-08-11 09:52] kidroca commented on #4492
The only thing related to the current ticket is standalone benchmarking MMKV
BTW there's already a benchmark made by the authors: https://github.com/mrousavy/react-native-mmkv#benchmark
![benchmark](https://github.com/mrousavy/react-native-mmkv/raw/master/img/benchmark_1000_get.png)

[2021-08-11 09:55] mananjadhav commented on #4421
@shawnborton do you want me to create a new issue and mark you to track it there?

[2021-08-11 10:03] mananjadhav opened #4542 "Add a clear button in EmojiPicker search bar"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

With respect to the comment https://github.com/Expensify/App/pull/4456#issuecomment-895926828, adding this issue.

## Action Performed:
1. Go to the chat option
2. Open

[2021-08-11 10:06] shawnborton commented on #4542
Thanks for opening this. In my opinion, I don't think this is a real problem we need to solve. I would also think that the behavior for clearing a text input isn't necessarily isolated to the emoji picker - if we wanted this kind of behavior, I would think it would be a global pattern.

[2021-08-11 10:07] shawnborton commented on #4421
It seems like changing the breakpoint is a separate issue from the sign in page breaking, so yes, I would think that should be a separate issue.

Regardless of what the breakpoint is, the sign in page should work on all devices.

[2021-08-11 10:08] mananjadhav commented on #4542
**Proposal**

1. At the moment we're using `TextInputFocusable`. We should replace it with the new `ExpensiTextInput`.
2. In addition to this, we'll have to extend `ExpensiTextInput` to allow adding a new `inputRightElement`.
3. In the `EmojiPickerMenu`, we update the code as:

[code]

[2021-08-11 10:10] mananjadhav commented on #4421
Agreed. and if you see in the conversation it seems the SiginIn page issue is tracked separately.

[2021-08-11 10:28] dylanexpensify commented on #4448
Working on this now

[2021-08-11 10:31] mananjadhav opened #4543 "[HOLD for payment 2021-09-22] Size of the single emoji in the chat is too small"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

Upwork Link: https://www.upwork.com/jobs/~01d853d1f00586e2de
___

With respect to comment #4456 (comment), adding this issue.

## Action Performed:
1. Go to chat, click on E

[2021-08-11 10:33] dylanexpensify commented on #4448
Upwork job issue: https://www.upwork.com/jobs/~01c99cb1728a0bcc52

[2021-08-11 10:43] Santhosh-Sellavel commented on #4448
@dylanexpensify  applied for the job.

[2021-08-11 10:44] mananjadhav commented on #4543
**Proposal**

At the moment `ValidationUtils`,  we're trying to match if it is a `isSingleEmoji`

[code]

In `ValidationUtils`, we should update the `isSingleEmoji` function to the following:

[code]

[2021-08-11 11:11] mananjadhav opened #4544 "[Hold for Payment ASAP] EmojiPicker reduce spacing between the emojis and increase the size of the Emoji"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

With respect to comment #4456 (comment), adding this issue.

## Action Performed:
1. Go to Chat and open Emoji Picker
2. Hover on the Emoji

## Expected Result:
<img wid

[2021-08-11 11:13] trjExpensify commented on #4421
Thanks guys! I think we can reopen this and proceed with triage for marking as `external`.

[2021-08-11 11:15] mananjadhav commented on #4544
**Proposal**

1. In variables.js, increase the `iconSizeLarge` to variable.js to 28
2. In styles.js, update `emojiText` style

[code]

[2021-08-11 11:16] mananjadhav commented on #4421
@trjExpensify , can we update the title to `UI consistency for iPad devices, update breakpoint for iPad/Tablets`

[2021-08-11 11:17] trjExpensify commented on #4421
Yep, totally. 👍

[2021-08-11 11:46] HorusGoul commented on #4036
It's still free so I'll pick it again 😄

[2021-08-11 11:50] sketchydroide commented on #4528
Yeah I'm happy with that solution, go on and make the PR ready for review 👍🏼

[2021-08-11 11:56] Santhosh-Sellavel commented on #4528
Thanks for the confirmation, @sketchydroide, I'll add screenshots and mark PR ready for review.

Kindly create an Upwork job for this thanks!

[2021-08-11 12:33] parasharrajat commented on #4514
I am not sure if I got this. The proposal covers everything from the issue body.

A suggestion might be that it's always good if an issue is a regression, the original PR author should handle this. It saves other contributors time and effort. So please tag the original author as soon as possible.

[2021-08-11 13:01] Santhosh-Sellavel opened #4545 "[HOLD for payment 2021-11-04] [n6-hold bonus with payment reminder] Report a bug, doesn't work as expected."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to Settings -> About
2. Click on `Report a bug`
3.`Concierge` chat will be opened now.
4.  Now repeat steps 1 & 2.
5. `Concierge` is not open

[2021-08-11 13:01] Santhosh-Sellavel commented on #4545
## Proposal
The below lines invoke the action to open the `Concierge` chat.
https://github.com/Expensify/App/blob/83dd58e4dc5f63d97f78cf7f0df434d9b3a47389/src/pages/settings/AboutPage.js#L67-L69

### Simple solution:
We can straightaway call `Navigation.dismissModal()` to dismiss the view, or we could add an optional callback in `fetchOrCreateChatReport`.
Once the chat is fetched/created we can us

[2021-08-11 13:05] Beamanator commented on #4475
Awesome, thanks @shawnborton ! I love the design :) marking this External, @parasharrajat I'd love to hear your proposed implementation strategy 👍

[2021-08-11 13:10] conorpendergrast commented on #4515
@parasharrajat I'm struggling to reproduce this one too! I'm on web app Staging (v1.0.83-1) and It looks like I'm seeing something different. Is the account you're seeing this on a beta that I can add?

<img width="438" alt="2021-08-11_14-10-24" src="https://user-images.githubusercontent.com/5802477/129034556-207ce5ad-ac52-486c-822e-aa5677086747.png">

[2021-08-11 13:23] parasharrajat commented on #4469
@conorpendergrast Yups it's hard to see as you usually won't get errors in the first step on EnablePayments page.

For me on the development setup when we click continue on the verify Indentify step, it throws `unexpected error` message on the screen.

Note that there is another open issue that is causing infinite loader #4500.

These are few things that happen to me.
1. I see two buttons in the u

[2021-08-11 13:28] shawnborton commented on #4544
I don't think we need to make the emojis larger personally, but I can see where we could keep them the same size and make the menu feel a bit more compact as it does feel like it has a lot of spacing.

[2021-08-11 13:30] michaelhaxhiu commented on #4475
Sweet mock, looks great.

@shawnborton in terms of the behavior of that `X new messages` notification/marker, does it persist unless you interact with it directly? Or does it go away if, for example, you keep scrolling upwards?

[2021-08-11 13:32] shawnborton commented on #4475
I'd say it would persist until you either close it with the "x" or you scroll down to the new messages.

[2021-08-11 13:33] conorpendergrast commented on #4539
So in the short-term, it seems that we should close this, and then once we have unique codes and autocomplete (via https://github.com/Expensify/App/issues/4324) we can see how useful we would find showing the emoji keyword on hover. Cool? 👍

[2021-08-11 13:34] shawnborton commented on #4539
Makes sense to me, yup!

[2021-08-11 13:41] conorpendergrast commented on #4539
Great. Closing for now, let's reopen when it's a pain!

[2021-08-11 13:41] #4539 closed

[2021-08-11 14:00] michaelhaxhiu commented on #4475
Roger that, sounds good 👌

I think it'll work well since the marker is visually small, so even when it persists it's not obtrusive to reading scrollback

[2021-08-11 14:11] laurenreidexpensify commented on #3924
No regressions - paid 👍🏽

[2021-08-11 14:11] #3924 closed

[2021-08-11 14:15] isagoico opened #4547 "Emoji Picker - Emoji List is incomplete"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Open the emoji picker
3. Search for the emoji 🥴 or the 🥢 emoji.

## Expected Result:
All emojis should be included

[2021-08-11 14:18] parasharrajat commented on #4515
@conorpendergrast Sorry, it's a little early. This is yet to be deployed to staging.

[2021-08-11 14:24] parasharrajat commented on #4547
I liked the wozzy face emoji. Nice job @isagoico. :smile_cat:
![image](https://user-images.githubusercontent.com/24370807/129046862-2942a7d0-b587-47fa-b654-b906a6cd3216.png)

[2021-08-11 14:37] mananjadhav commented on #4544
Yeah size can be a personal preference. But spacing needs to be made compact

[2021-08-11 14:39] parasharrajat commented on #4543
https://github.com/Expensify/App/issues/4114 Sounds familiar so that can be merged into this one.

[2021-08-11 14:40] isagoico opened #4548 "Add Bank Account - Bank account picker is missing a label"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to staging.new.expensify.com/bank-account/new
2. Click on log into your bank and enter test credentials
3. Select a bank account from th

[2021-08-11 14:41] parasharrajat commented on #4548
cc @kakajann

[2021-08-11 14:47] kidroca opened #4549 "[Performance] Class based HOC implementations are costly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?
- inefficient React component rendering

## What is the impact of this on end-users?
- app boot time
- chat switch time

#

[2021-08-11 14:58] SofiedeVreese commented on #4362
Hired! @parasharrajat

[2021-08-11 14:59] parasharrajat commented on #4543
Sure @rdjuric. I was wondering that you implemented this feature earlier and how is it not working?
But I didn't mention regression to keep few contributors happy.

[2021-08-11 15:00] SofiedeVreese commented on #4362
I'm about to log off and going OOO for a couple of days travelling back to Australia. Reassigning this GH to another contributor to manage it once the PR is merged, adding a hold etc.

[2021-08-11 15:00] kidroca commented on #4549
The other large portion of execution time is taken by `sendDataToConnection` calls - it will be the focus of a separate ticket
 `sendDataToConnection` should be the easier problem to address as it isolated to `Onyx.connect`

[2021-08-11 15:02] mountiny commented on #3297
The other PR are ready for review since yesterday, forgot to add the label. Might not be reviewed as quickly because other clear priorities rn.

[2021-08-11 15:07] timszot commented on #4350
@arielgreen PR is merged for this as of yesterday

[2021-08-11 15:08] mountiny commented on #4548
This is being fixed in this PR [here](https://github.com/Expensify/App/pull/4530#issuecomment-896769379). At least for this particular Picker, maybe we would want to update the styles so the Picker looks normal even if we do not add a label.

That should be a new issue though.

[2021-08-11 15:10] HorusGoul commented on #4036
I've been looking through the marketplace of actions to see if there was one to assign people to PRs. All I've found is related to self-assigning when a user creates a PR. Unless someone knows an action to assign someone to a PR, I'll take a look at the API tomorrow, it's probably easier to build our own, and we already have everything set up for that.

[2021-08-11 15:18] mananjadhav commented on #4543
Thanks for notifying. @rdjuric You'll pick this and close it?

[2021-08-11 15:34] mananjadhav commented on #4489
@Beamanator Just confirming again, you don't want me to touch the `imageStyles` right?

My PR for the other issue should get merged today. So I'll close this today itself.

[2021-08-11 15:36] Beamanator commented on #4489
Confirmed - please don't touch `imageStyles` unless you have another PR where you think you'd benefit from changing that or if you see it breaking in the future 👍

[2021-08-11 15:37] Santhosh-Sellavel commented on #4357
@jliexpensify I feel something is fishy going. The changes I proposed do not work for me now. Considering #4472 depend's on this issue solution and related. I would revisit the changes and update a new proposal soon, max within 3 - 4 days. If not I'll let you lets make it open for others also thanks!

[2021-08-11 15:38] mananjadhav commented on #4489
Cool. Not breaking as of now.  Will raise it separately if it occurs in the future.

[2021-08-11 15:39] michelle-thompson commented on #4544
I'm not opposed to making the menu more compact, but I worry about the user being able to accurately select the emoji they want if there's less spacing.

[2021-08-11 15:42] mananjadhav commented on #4544
I've tried it on a mobile device too. Spacing doesn't hinder clicking. And that is another reason why we could increase emoji size rather than having more space. Emojis look too distant.

[2021-08-11 15:46] shawnborton commented on #4544
Just to clarify though, I don't know that I agree this is a real problem. I'm curious for Michelle's thoughts, but I think the current emoji size is fine.

[2021-08-11 15:47] roryabraham commented on #4537
@alex-mechler [observed this bug on desktop v1.0.81-6](https://expensify.slack.com/archives/C01GTK53T8Q/p1628003124120600), which means that it's present on production. Demoting this from deploy blocker to regular bug...

[2021-08-11 15:48] roryabraham commented on #4447
https://github.com/Expensify/App/issues/4537 is also being demoted from deploy blocker to regular bug because we realized it's already present on prod.

[2021-08-11 15:52] alex-mechler commented on #4537
Also going to drop to a daily instead of hourly, but I still think this is quite important

[2021-08-11 15:56] michelle-thompson commented on #4544
I messed around with sizing a bit, and slightly increased the emojis here so it's less negative space. How does this look?
![image](https://user-images.githubusercontent.com/43361905/129062540-847aa8ca-bc61-4696-ba07-400a09145310.png)

Seeing the above compared to what we have now, I think the above mockup looks better personally.

[2021-08-11 15:57] michaelhaxhiu commented on #4475
- Updated the Github body to include the Design mock + button behavior guidance.
- Posted job to Upwork, can you make the job proposal next @parasharrajat so I can hire you?
- Once that's done, I'll assign @parasharrajat to this GH and @Beamanator will be the eng to review the PR

🚀

[2021-08-11 16:03] shawnborton commented on #4544
I can get down with that. Out of curiosity, how tall is each "button" in the mock?

[2021-08-11 16:12] mallenexpensify opened #4550 "Test issue please ignore"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

##

[2021-08-11 16:13] francoisl commented on #4447
Ok looks like everything's ready, going to close for my official first NewDot deploy :D

[2021-08-11 16:13] francoisl commented on #4447
:shipit:

[2021-08-11 16:13] #4447 closed

[2021-08-11 16:13] michelle-thompson commented on #4544
I'm not sure how to answer that, but if we're going off type size:
![image](https://user-images.githubusercontent.com/43361905/129064867-efe6b892-fb27-448b-90f7-f04266908ced.png)

Probably 28x28 for just the emoji.

[2021-08-11 16:15] shawnborton commented on #4544
Ah, well think of it this way: each emoji is just like a letter inside of a button. If you look at the current emoji picker, each button appears to be 52px tall:
![image](https://user-images.githubusercontent.com/2319350/129065376-de5351e6-5cd5-40a4-a723-60e48d8b116b.png)

[2021-08-11 16:17] OSBotify opened #4554 "Deploy Checklist: Expensify.cash 2021-08-11"
**Release Version:** `1.0.85-8`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/3414
- [x] https://github.com/Expensify/App/pull/3887
- [x] https://github.com/Expensify/App/pull/4117
- [x] https://github.com/Expensify/App/pull/4274
- [x] https://github

[2021-08-11 16:25] timszot commented on #4273
@Santhosh-Sellavel I've added your `santhoshsellavel@gmail.com` email address to the beta for Chronos. Feel free to let me know if you have any questions!

[2021-08-11 16:26] stephanieelliott commented on #3952
Posted to Upwork: https://www.upwork.com/jobs/~01d14b1c783c4c0a1f

[2021-08-11 16:35] michelle-thompson commented on #4544
Ahhh okay, I see now. If we wanna keep button sizes consistent everywhere, then I don't think we can reduce the spacing between emojis.

[2021-08-11 16:46] mananjadhav opened #4559 "[HOLD for payment 2021-12-27] Add support for Frequently/Recently Used Emojis"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

With respect to comment #4456 (comment), adding this issue.

## Action Performed:
1. Click on Chat
2. Open Emoji Picker

## Expected Result:
There should be an option to

[2021-08-11 16:47] mananjadhav commented on #4559
**Proposal**

We should have additional category `Frequently Used` and/or `Recently Used` emojis.

It could have a set of default emojis in the list by default if we choose to keep Frequently used. Based on the user behavior we can sync this with Onyx and ensure that it available for the user to use. I don't think it is necessary to sync it across devices, but can be discussed.

Changes:

An addit

[2021-08-11 16:47] stephanieelliott commented on #4411
Ok I took a look at https://github.com/Expensify/App/issues/4413 and I'm not sure I understand the difference between these two issues. It sounds like @mananjadhav and @Santhosh-Sellavel understand these as two separate PRs, can you please share a little more detail on the difference here?

Once I am sure these are duplicates, I can move this to Upwork and get the proposal reviewed 😃.

[2021-08-11 16:51] Anass-ABEA commented on #4417
@aman-atg  I guess there is a possibility to apply the changes you suggested to `setPersonalDetails()`. But that would show the message when the time zone is changed. One more thing, the `Growl` inside the `updatePersonalDetails()` should be removed since `setPersonalDetails()` is called

[2021-08-11 16:57] roryabraham commented on #4554
Checked the following PRs off the checklist that were added in error due to https://github.com/Expensify/Expensify/issues/168349:

- [x] https://github.com/Expensify/Expensify.cash/pull/4019
- [x] https://github.com/Expensify/Expensify.cash/pull/4117
- [x] https://github.com/Expensify/Expensify.cash/pull/4125
- [x] https://github.com/Expensify/Expensify.cash/pull/4131
- [x] https://github.com/Expe

[2021-08-11 17:01] mananjadhav commented on #4544
@shawnborton It seems each button along with the spacing with computed height 40px. ( iconFontSize 24px, and padding 4 on each side).

My suggestion was to still keep it 40px only (iconFontSize 28px, and padding 0).

A quick screenshot with both the sizes:
First is current, bottom is proposed.

![image](https://user-images.githubusercontent.com/3069065/129071791-dd7280c2-e891-4e2b-a6e5-e20860c04a3

[2021-08-11 17:06] Santhosh-Sellavel commented on #4411
Before creating any IOU Requests, just message Chronos a simple.

Now try to create a IOU request/split, enter amount. In Particpant's page, in recent section you can find Chronos. And pick and give a request. That's what this issue is about.

[2021-08-11 17:08] mananjadhav commented on #4547
I did post this as one of the issues in a comment. https://github.com/Expensify/App/issues/4324#issuecomment-892019046

It seems our data source is outdated and we should update it. @stitesExpensify Should we discuss this again?

[2021-08-11 17:15] parasharrajat commented on #3952
Can't reproduce it on Pixel 3 as well. But padding is off between input and List.
![Screenshot 2021-08-11 22:44:49](https://user-images.githubusercontent.com/24370807/129073805-07e6b998-a86e-44d7-8d29-297ca9d04e93.png)

[2021-08-11 17:18] rushatgabhane commented on #3952
Try increasing keyboard height.
The simulator keyboard is short.

[2021-08-11 17:18] parasharrajat commented on #3952
How?

[2021-08-11 17:20] parasharrajat commented on #3952
I tested it on Extra Tall but still not reproducable.

[2021-08-11 17:23] rushatgabhane commented on #3952
I can't replicate the issue either 😂

I believe it got fixed because of #4215

[2021-08-11 17:27] Santhosh-Sellavel commented on #4411
@stephanieelliott
Additionally, input from https://github.com/Expensify/App/issues/4413#issuecomment-894606315, we need to exclude one more email `receipts@expensify.com` in both the recent section & search results.

Both look similar, it's really not.
In #4413 I am suggesting excluding emails from search.
In #4411 No need to search just pick `Chronos` from recent.

It's a coincidence we found the

[2021-08-11 17:29] Julesssss commented on #4264
I took a good look at the alternative packages, but `react-native-background-fetch` meets our requirements and has the best documentation/support. For iOS the default native solution is used and for Android It uses JobScheduler under the hood, which the OS will happily let run (as opposed to Services).

[This alternative](https://github.com/JoaoLSS/react-native-background-worker) `react-native-bac

[2021-08-11 17:29] roryabraham commented on #4554
Locking this per the testing steps from https://github.com/Expensify/App/pull/4274

[2021-08-11 17:31] rushatgabhane commented on #3952
@parasharrajat idk what im doing different. But I can replicate the issue.

Pixel 3 physical device, mobile web.

https://user-images.githubusercontent.com/29673073/129075632-266fdf7c-0214-4982-bc1c-724dc93c1bd4.mp4

[2021-08-11 17:38] stitesExpensify commented on #4547
Yep, seems like we should start discussing again. That specific dataset looks a bit confusing to me.. what are all of the labels like `a, b, d,` etc? My other concern is that it is not a reliable source for data. By that I mean if there are more emojis added, we need to just hope that project also updates their emojis otherwise we will need to find a new dataset elsewhere and rewrite either the da

[2021-08-11 17:40] marcaaron commented on #4492
Just speculating - but I wonder if the `Onyx.connect()` used outside of React components could be causing issues? Too many subscriptions in general could be affecting performance (pointless callbacks stored in memory, updating values for no clear reason, etc).

At the moment, a key change updates a value _immediately_ instead of _when it's needed_. There are probably numerous places (mainly in the

[2021-08-11 17:43] mallenexpensify commented on #4234
Paid in Upwork and added bonus for reporting issue
!
For visibility, we're reviewing our CONTRIBUTING.md regarding when payment happens. It's inconsistent with payment being 7 days after merge or 7 days after code is deployed to production.  Regardless, even though this hasn't hit production yet, I'm paying because I previously said I would

![image](https://user-images.githubusercontent.com/22508

[2021-08-11 17:49] mananjadhav commented on #4547
I agree with relying on a particular project. Let me explore.

As far as the labels are concerned, here's the mapping:
[code]

[2021-08-11 17:51] roryabraham commented on #4554
https://github.com/Expensify/App/pull/4274 didn't work perfectly 😞

So I'm going to remove the lock label and try again.

[2021-08-11 17:53] parasharrajat commented on #4537
This is caused by a break-in in the Onyx architecture. https://github.com/Expensify/App/issues/4500

[2021-08-11 17:53] parasharrajat commented on #4500
Shouldn't this be a priority ATM? I think this also break update APP modal on desktop #4537

[2021-08-11 17:59] shawnborton commented on #4544
And then how would that look on mobile? On mobile, the emoji modal takes up the full width of the screen. So you might be able to reduce some space from the top/bottom of each emoji button, but ideally the emojis are just equal width columns that span across the modal.

[2021-08-11 18:01] MonilBhavsar commented on #4209
No update

[2021-08-11 18:02] mananjadhav commented on #4547
@stitesExpensify Help me understand, are we looking to rely on any package or have a process of building the data from the source.

Two good packages for data are:
https://github.com/milesj/emojibase - Recommended
https://github.com/iamcal/emoji-data

or else we'll have to build a datasource ourselves (which I wouldn't recommend).
- https://emojipedia.org/
- https://unicode.org/Public/emoji/

[2021-08-11 18:03] mallenexpensify commented on #4497
Putting on hold for week-ish while we focus on internal priorities.

[2021-08-11 18:08] mallenexpensify commented on #4496
Putting on hold for week-ish while we focus on internal priorities.

[2021-08-11 18:09] mallenexpensify commented on #4491
Putting on hold for week-ish while we focus on internal priorities.

[2021-08-11 18:11] mallenexpensify commented on #4420
Putting on hold for week-ish while we focus on internal priorities.

[2021-08-11 18:11] MitchExpensify commented on #4415
Oops I got the order wrong. First I should label external which will cause a job to be created in Upwork. Once done it will be labelled exported for engineering to review the proposal. Unassigning @tgolen and labeling external

[2021-08-11 18:13] mallenexpensify commented on #4267
Putting on hold for week-ish while we focus on internal priorities.

[2021-08-11 18:15] marcaaron commented on #4500
Yes, it seems urgent. Both solutions seem like they will solve the deploy blocker and so either is fine by me. We can continue the discussion about deprecating this feature or reducing complexity as an Onyx improvement in a new issue. Sound good?

[2021-08-11 18:16] parasharrajat commented on #4500
Yup. Deprecation could be the next thing to do.

[2021-08-11 18:17] jasperhuangg commented on #4256
Write up looks good! Sorry for the lack of response, I've been OOO. Looks like a great issue for an external contributor.

[2021-08-11 18:24] MitchExpensify commented on #4514
[Upwork Job](https://www.upwork.com/jobs/~01673ebd31e3f4ca80) created

[2021-08-11 18:26] mallenexpensify commented on #4256
Putting on hold for week-ish while we focus on internal priorities.

[2021-08-11 18:30] parasharrajat commented on #4514
I think this is not a regression(this issue is coming due to browser handling autofocus) but moreover missing cases from the new Input.

[2021-08-11 18:31] isagoico opened #4579 "Another cool test - PR #31639 (please ignore)"
Testing https://github.com/Expensify/Web-Expensify/pull/31639

Please ignore

[2021-08-11 18:35] mananjadhav commented on #4544
That's right, and again I'd like to highlight, we're not altering the original size. We're just increasing the emoji size and reducing the spacing.

![image](https://user-images.githubusercontent.com/3069065/129084117-0b5f6fcc-efb3-4455-befb-8e01a24e7f61.png)

[2021-08-11 18:37] shawnborton commented on #4544
Cool, that makes sense. And just to clarify, the variable `iconSizeLarge` is only used in one place, and that's for these emojis?

[2021-08-11 18:41] mallenexpensify commented on #4422
Here's a lil curveball in my convo with @MitchExpensify
![image](https://user-images.githubusercontent.com/22508304/129085040-e62ef773-a659-46a7-b09e-293b8f8c9724.png)

Jasper is out so assigning another engineer

[2021-08-11 18:41] mananjadhav commented on #4544
Well, it seems it is not the only place it is used. We might have to add a style for emoji, say `emojiSize` with variations.

[2021-08-11 18:57] MitchExpensify commented on #4543
**Unique** - There are similar issues here #4422 and here #4544
**Issue hygiene** - Good
**Clarity of problem** - Not expressed as a problem but rather a comparison with Slack. In other words, what is the problem with the current size of emojis in Expensify Chat? Are they too small to identify details for example? (I agree t is hard to see detail which takes away from them) Are there specific size

[2021-08-11 19:09] marcaaron commented on #4027
Still looking into this. Have a draft that reduces the number of `reportActions_*` keys on init that I hope will help boot time.

[2021-08-11 19:10] MitchExpensify commented on #4422
I'm wondering if we should consolidate efforts [here](https://github.com/Expensify/App/issues/4543) - Commented on that issue

[2021-08-11 19:11] marcaaron commented on #4109
This can be closed I think.

[2021-08-11 19:11] #4109 closed

[2021-08-11 19:13] Santhosh-Sellavel commented on #4472
@michaelhaxhiu Update the Issue details.

One more thing, can we hide the new marker after received post a reply, from that point it's understandable that the user read the chat why we still need to show it.

[2021-08-11 19:14] Santhosh-Sellavel commented on #4472
@michaelhaxhiu Update the Issue details.

One more thing, can we hide the new marker after received post a reply, from that point it's understandable that the user read the chat why we still need to show it.

[2021-08-11 19:23] marklouisdeshaun commented on #4415
Created a job in Upwork!

Internal: https://www.upwork.com/ab/applicants/1425538123129339904/job-details
External: https://www.upwork.com/jobs/~0158c04a9aa11f0914

[2021-08-11 19:28] roryabraham commented on #4296
Sorry @Rushu-geek, I don't understand your proposal. Can you explain in a bit more detail?

[2021-08-11 19:28] roryabraham commented on #3901
No new proposals here

[2021-08-11 19:30] roryabraham commented on #3047
Looks to me like everything except https://github.com/Expensify/App/issues/4188 is done or almost done

[2021-08-11 19:36] roryabraham commented on #4514
@parasharrajat Feel free to submit a PR once you've been hired on Upwork.

[2021-08-11 19:37] luacmartins commented on #4236
Stop complaining Melvin!

[2021-08-11 19:43] Santhosh-Sellavel commented on #4528
@Jag96
Sorry , I already have a couple more PR in draft state. Will not open any further until proposal is accepted.

[2021-08-11 19:46] parasharrajat commented on #3047
That is also done.

[2021-08-11 19:47] parasharrajat commented on #4188
This is paid and can be closed.

[2021-08-11 19:48] michaelhaxhiu commented on #4472
@Santhosh-Sellavel no worries at all, it's my duty to make sure that this Github is reviewed for accuracy so that the scope is clearly defined (so you get a bonus for reporting the issue and fixing it 😃).

I really appreciate you filling out this GH proactively, and incorporating the feedback. It should be a little easier for you next time!

[2021-08-11 19:50] Santhosh-Sellavel commented on #4528
@Jag96 Applied for job!

[2021-08-11 19:55] Santhosh-Sellavel commented on #4273
How to access Chronos, I see only Concierge in home screen
![Screenshot_20210812-012437_Expensifycash.jpg](https://user-images.githubusercontent.com/85645967/129094461-6c759dc3-be8f-452d-b905-bb2c546ef76f.jpg)

[2021-08-11 20:02] michaelhaxhiu commented on #4472
I think it makes sense to stick with the existing theme we have when you have unreads and the DM is not idle/open:

![image](https://user-images.githubusercontent.com/13206896/129094287-4a3cdaa7-2f4c-47b8-8a0d-41752f8e096c.png)

But, let's get a buddy check from Design first.

@shawnborton since we worked on https://github.com/Expensify/App/issues/4475 recently, and this is _similar_ but not quite

[2021-08-11 20:06] michaelhaxhiu commented on #4472
If we do go with this design theme above, @Santhosh-Sellavel when should we remove/clear the `--------- NEW` notification marker?

Would it be when the user scrolls all the way down?

[2021-08-11 20:07] #4188 closed

[2021-08-11 20:12] Santhosh-Sellavel commented on #4472
First when user navigates to different chat/chatlist and come back notification should be cleared.

Also additionally IMO We can do it just after posting a reply, because at some point new marker will go out of view after having few conversations. There will be no new marker at all (It will be there but hidden above messages).

[2021-08-11 20:16] roryabraham commented on #4036
We use other `actions-ecosystem` actions and they seem to be pretty good. The maintainer is responsive and has merged a couple of my PRs.

[2021-08-11 20:21] nickmurray47 commented on #4579
cool, also interested to test this for myself

[2021-08-11 20:22] parasharrajat commented on #4537
ok. @alex-mechler
1. For users who have once received the update will set the `ONYKEYS.UPDATE_AVAILABLE` to `true`.
2. We have an issue in Onyx where if the value does not change, Onyx will not trigger an update notification to the component.
3. Each time you start the app, we ignore the stored value of `ONYKEYS.UPDATE_AVAILABLE` which is already true as you once received the update.
4. Now on nex

[2021-08-11 20:26] mananjadhav commented on #4421
@shawnborton A quick try with 768 breakpoint covers most screens except two sets - for Sign-in pages and Workspace Card page.

Please check the following screenshots

![chatbox](https://user-images.githubusercontent.com/3069065/129098284-59b14ee9-ac4d-4a5f-83af-810a3d85270c.png)
![emoji-picker](https://user-images.githubusercontent.com/3069065/129098292-e91b6e7c-f453-457a-b6e1-9884ba54923d.png)
![

[2021-08-11 20:28] kidroca commented on #4492
I've captured more data regarding `withOnyx` and I think an easy way to measure how much would initialising `state` from `cache` would help. I'm a bit lost if we already have a ticket about this change though, should I create one or there's an existing issue?

[2021-08-11 20:29] #4579 closed

[2021-08-11 20:30] timszot commented on #4273
@Santhosh-Sellavel If you search for the user `Chronos` does anything come up?
![image](https://user-images.githubusercontent.com/3387421/129098834-c020f2dd-7396-4ca1-9acc-80a77d692b08.png)

[2021-08-11 20:33] marcaaron commented on #4492
Some conversation has been happening [here](https://github.com/Expensify/App/issues/4101). If you want to create a new ticket with what you are thinking we can link it to that one.

[2021-08-11 20:37] Santhosh-Sellavel commented on #4273
After entering full email i get something like this
![Screenshot_20210812-020657_Expensifycash.jpg](https://user-images.githubusercontent.com/85645967/129099763-2bde8d11-1182-4509-8ef3-55260615a120.jpg)

[2021-08-11 20:39] timszot commented on #4273
That should be it!

[2021-08-11 20:40] parasharrajat commented on #4475
Here is the proposal @Beamanator
1. I will create a new component that shows the marker on the ReportBody.
2. We have to track the scroll position of the flat list using `onScroll` in ReportActionView.js

[code]
2. Now we add the Marker as a sibling component which takes the count from `this.props.report.unreadActionCount`

[code]
 3. As ReportActionView does not render when we scroll down we have

[2021-08-11 20:41] Santhosh-Sellavel commented on #4273
@timszot  Can you give some suggestion how to use `Chronos`

[2021-08-11 20:43] timszot commented on #4273
Best thing to do is start a conversation with the bot and type `help`. That should give you a response with more details on the functionality currently implemented.

[2021-08-11 20:44] parasharrajat commented on #4273
I repeat that this is not related to Chronos otherwise I would have not got the same issue.

[2021-08-11 20:44] timszot commented on #4273
@parasharrajat do you know how to reproduce this without Chronos?

[2021-08-11 20:46] Santhosh-Sellavel commented on #4273
Okay got it thanks! @timszot

[2021-08-11 21:01] alex-mechler commented on #4537
Ah okay that makes more sense! Thanks for the explanation. It looks like we are actively working on that issue then, so does it make sense to wait to see if that fixes the issue?

[2021-08-11 21:03] Jag96 commented on #4528
Thanks, for those issues can you please close any draft PRs that don't have an accepted proposal? Then, if your proposal ends up being accepted you can just re-open the associated draft.

[2021-08-11 21:06] kidroca commented on #4500
The "one line change" does that as well.

There's no evidence the app would run faster with these checks added - it's just an assumption.

This is degrading readability
[code]

Having both `if (shouldCacheNewValue)` and `if (!shouldCacheNewValue)` is again something unnecessary

The  additional condition in `keyChanged` might be simple but it's still a nested `if` and adds 3rd parameter to the fun

[2021-08-11 21:13] Santhosh-Sellavel commented on #4448
## Proposal

Using the locale aware formatter as below,
![Screenshot_20210812-023822_GitHub.jpg](https://user-images.githubusercontent.com/85645967/129103726-7f12863a-ebeb-4eb4-aa39-263c53fb48c1.jpg)

es locale formatting was missing in mobile, changes to for that are below,
![Screenshot_20210812-023839_GitHub.jpg](https://user-images.githubusercontent.com/85645967/129104124-9494b3d8-3fb6-4168-987

[2021-08-11 21:14] Santhosh-Sellavel commented on #4528
Done! @Jag96

[2021-08-11 21:25] parasharrajat commented on #4500
Yeah, we can rewrite to cache, it does not have any effect.

We are skipping renders which does not make the app faster just drop extra calculations. Basically, both proposal is same. It's just I am going one step ahead and blocking render where we don't need it which is actually a good change that came out of one of your changes.

[2021-08-11 21:30] marcaaron commented on #4500
Cool. Will leave you to use your best judgment here @parasharrajat

[2021-08-11 21:33] parasharrajat commented on #4537
Yes

[2021-08-11 21:54] AndrewGable commented on #4500
@laurenreidexpensify - Can you hire @parasharrajat via upwork? Thanks!

[2021-08-11 21:54] tgolen commented on #4526
OK, assigned!

[2021-08-11 21:58] thienlnam commented on #4115
@haseebb Feel free to follow these steps https://github.com/Expensify/App#local-development to get set up with a development environment.  You should be able to play around with images there

[2021-08-11 22:08] mallenexpensify commented on #2934
Will pay onn 8/19 if no regressions

[2021-08-11 22:08] kidroca opened #4592 "[Performance] `withOnyx` initial state from cache"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Overview
We can resolve initial component state from cache instead of starting with empty and the receive a burst of updates
Related to https://github.com/Expensify/A

[2021-08-11 22:09] kidroca commented on #4592
cc @marcaaron

[2021-08-11 22:09] kidroca commented on #4549
cc @marcaaron

[2021-08-11 22:10] Luke9389 commented on #3952
Yea, I still haven't been able to produce this either. Maybe it's a difference in the Android version? @rushatgabhane do you know if you have a system update available?

[2021-08-11 22:16] deetergp commented on #4115
I've created [this GH](https://github.com/Expensify/Expensify/issues/173677) for our engineers to handle the back-end portion of this effort.

[2021-08-11 22:20] marcaaron commented on #4549
Should we maybe limit the scope of this to just refactoring `withWindowDimensions` and create a separate ticket for `ReportActionItem`?

I'd also be curious to see the effects on chat switching since we have done the test for web but not Android. I'd be curious to see what it does for us on the native side. Is it possible to do a similar trace? I don't have much experience with the hermes debugger

[2021-08-11 22:21] francoisl commented on #4554
Also checking off the following due to do https://github.com/Expensify/Expensify/issues/168349

- [x] https://github.com/Expensify/Expensify.cash/pull/4575
- [x] https://github.com/Expensify/Expensify.cash/pull/4581
- [x] https://github.com/Expensify/Expensify.cash/pull/4583
- [x] https://github.com/Expensify/Expensify.cash/pull/4585
- [x] https://github.com/Expensify/Expensify.cash/pull/4589

[2021-08-11 22:24] rushatgabhane commented on #3952
@Luke9389
Nope, the phone is up-to-date. (Android 11)

Btw, Isabella can produce it. So it isn't just me.

<img src="https://user-images.githubusercontent.com/44479856/125125076-64598900-e0f9-11eb-9ab6-229b6a26d40e.png">

[2021-08-11 22:27] deetergp commented on #4307
Setting this back to `Planning`

[2021-08-11 22:30] marcaaron commented on #4592
Looks like the `setState()` call is blocking? Like things randomly hang up i.e. one call to `setState()` will maybe take 1ms but then another will take 100ms. Any ideas about why? I like the solution to minimize the calls, but also curious why this happens.

Regardless, I think we can try to pre-fill the state from the cache and then connect to anything that did not return a value.

[2021-08-11 22:34] #4123 closed

[2021-08-11 22:35] Luke9389 commented on #3952
And just to verify, which browser and version are you using?

[2021-08-11 22:38] rushatgabhane commented on #3952
Chrome 92.0.4515.131 (up-to-date from play store)

[2021-08-11 22:39] mallenexpensify commented on #4367
@dylanexpensify update plz

[2021-08-11 22:40] Luke9389 commented on #3952
OK cool, thx!

I totally believe it's happening! Just trying to nail down why its only reproducible for some of us :)

[2021-08-11 22:47] kidroca commented on #4549
I thought it would be possible to do this with the Hermes debugger in Flipper, but starting the profiler there seems to hang with "Initialising ..."
For Android there's another way - it's part of the development menu. It would create a file, like the one shared here, that you can load inside Chrome
I'll try it and post results

Since all of the hoverable popups should be noop on native, there woul

[2021-08-11 22:48] parasharrajat commented on #3922
Sorry for the delay on the PR. I will update it asap. It's just, I am stuck on the Bank Accounts thing.
Can I add bank accounts? I don't reside in the USA.

[2021-08-11 22:54] tgolen commented on #4345
Yes, I was also under the impression that mobile giants (Apple and Google) greatly discouraged giving things auto-focus because it creates a worse UX in most cases. I am fine with closing this unless @AndrewGable and @Jag96 have any reason to reopen it with new information.

[2021-08-11 22:54] #4345 closed

[2021-08-11 23:09] jliexpensify commented on #4357
Thanks for the update @Santhosh-Sellavel - have added a [Hold] to the title and updated the GH to weekly to give you a little more time. Feel free to stage Tim when you've got a solution, or let us know if this GH can be closed!

[2021-08-11 23:10] Jag96 commented on #4554
Checking off https://github.com/Expensify/App/pull/4477, tests pass

[2021-08-11 23:47] isagoico commented on #4554
@AndrewGable iOS build is 1.0.84-5, should we hold until .85-0?

[2021-08-12 00:01] deetergp commented on #2734
Thanks for the update, @anthony-hull 👍

[2021-08-12 00:17] Jag96 commented on #4213
Reopening to keep track of payment

[2021-08-12 00:25] mallenexpensify commented on #4217
@puneetlath stepping back a bit.. It looks like @aman-atg was hired before the CME, you, gave the sign off.  So , the best next steps are:
1. Review @aman-atg 's proposal [here](https://github.com/Expensify/App/issues/4217#issuecomment-886099648)
2. If you think the proposal will fix the issue and not comments/changes are need then review the PR and add a comment to this issue.
3. If you don't thi

[2021-08-12 00:34] roryabraham commented on #4554
Our last iOS staging deploy failed, but I think it may have been a fluke. So given the following two facts:

1. There should be no material difference between `1.0.84-5` and `1.0.85-0` other than the version – we just bump the `PATCH` version to get it ready to ship to the app stores.
1. The staging branch has already been updated to `1.0.85-0`, so the next prod release will also use `1.0.85-0`.

[2021-08-12 00:43] joelbettner commented on #4501
This looks like it has what it needs. Un-assigning myself.

[2021-08-12 00:45] marcaaron commented on #4592
Ah I just thought of something... I am not positive but I _think_ some of them block more than others because the `setState()` includes the `componentDidUpdate()` and eventual rendering of the `WrappedComponent` e.g. check this call tree here:

![Screen Shot 2021-08-11 at 1 27 29 PM](https://user-images.githubusercontent.com/32969087/129117567-0755901f-5495-4a10-889b-5f15a1cff368.png)

First thoug

[2021-08-12 00:48] mallenexpensify commented on #4111
Putting on hold for week-ish while we focus on internal priorities.

[2021-08-12 00:51] mallenexpensify commented on #4217
Putting on hold for week-ish while we focus on internal priorities.

[2021-08-12 01:18] marcaaron commented on #4549
We can just try the `withWindowDimensions` idea and see what happens - doesn't seem hard to do and we can eliminate it as a potential improvement. Worst case scenario some component will have less overhead. 🤷

[2021-08-12 01:35] TomatoToaster commented on #4592
Hey I know some of the performance upgrade related work is its own project. Is this issue just for tracking? Or should I tag this as External so an upwork listing can be created?

[2021-08-12 01:37] marcaaron commented on #4592
It's a conversation for now. This should probably have a `Planning` label put on it until it's actionable and not an `Engineering` label.

[2021-08-12 01:41] marcaaron commented on #4592
Tested out my theory on an Android release build and startup time got worse 😄  I'm done for today...

Just confirms my feeling the web profiler can't always be trusted.

[2021-08-12 01:55] kavimuru opened #4595 "iOS / Android - After sign out of an account redirects user to resend link page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Sign in with any account
3. Go to Setting page and click sign out

## Expected Result:
After sign out user redirected to Sign i

[2021-08-12 01:56] OSBotify commented on #4595
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-12 02:03] kavimuru opened #4596 "mWeb - Text is overlapping with the place holder text in What's for field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in Chat B.
3. Navigate to a conversation with a user that you have access.
4. Click on the + butto

[2021-08-12 02:25] kavimuru opened #4597 "Web - New text input does not work with autofill"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with expensifail account
3. Navigate to the company page https://staging.new.expensify.com/bank

[2021-08-12 02:26] OSBotify commented on #4597
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-12 02:47] michaelhaxhiu commented on #4123
@marcaaron should we start the 7 day counter for payment, or is this going to be re-opened for additional related work?

[2021-08-12 03:34] kavimuru opened #4599 "Android - Signup - Blank screen is displayed after updating the url to staging in the magic link"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing PR #4418
## Action Performed:
1. Input an email address for new account
2. Check the inbox, long tap the link in the email. Tap "Copy" butt

[2021-08-12 03:35] OSBotify commented on #4599
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-12 04:31] mananjadhav commented on #4489
#4434 was merged yesterday. Hence, I've gone ahead and submitted this PR.

[2021-08-12 05:17] mananjadhav commented on #4110
I was tracking iPad UI issue separately in #4421, and I went through the discussion here. I would recommend a small CSS fix to solve this SignIn Page issue.

In `SiginInPageLayoutWide`, we should change `<View style={[styles.signInPageInner]}>` to `<View style={[styles.flex1, styles.signInPageInner]}>`. Just `height: 100%` in `flexGrow` children won't work.

<img width="1440" alt="web-safari-signi

[2021-08-12 05:42] #4338 closed

[2021-08-12 05:45] tauseefnasir commented on #4415
@marklouisdeshaun I can fix this issue. All I have to do is add a callback on onChange of input and on each key press I will validate user input against a regex formate and will display message as soon as regex match fails.

[2021-08-12 07:17] akshayasalvi opened #4601 "[PAID] UX issues with Attachment View in Chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to chat
2. Click Add Attachment and select a word docx document.
3. Upload the document
4. Now see the preview and try downloading

## Expecte

[2021-08-12 07:17] akshayasalvi commented on #4601
**Proposed Solution**

We can create a custom view for Attachment view in the chatlist. It'll have the filename as well as the download button. A sample UI would look similar to this.

We'll have to update `ReportActionItemFragment`, `case 'COMMENT':` section.

[code]

Modify the `AttachmentView`

[code]

Add a param in `fileDownload.js`,

[code]

[2021-08-12 08:24] shawnborton commented on #4421
Hmm so I know the Sign In page is a current bug, but after seeing the other screenshots, I'm not super convinced this is the right move. It feels like the content pane on the right side is just way too small now. What do you think?

[2021-08-12 08:26] shawnborton commented on #4472
I agree, the existing `New` marker is what we should use. But just to make sure I am following, are you suggesting that we would do this if you receive new messages but the app was "in the background" so-to-speak?

[2021-08-12 08:37] Beamanator commented on #4489
@mananjadhav I think it would be best if you wait for me or Matt to take this issue off "HOLD" before submitting the PR (next time) :D but I'd love your thoughts on that @mallenexpensify !

Anyway, I'm taking this off hold b/c you're right your other PR was merged 👍

[2021-08-12 08:48] mananjadhav commented on #4489
@Beamanator Okay noted. I'll wait for it next time.

Then one other quick question @Beamanator  and @mallenexpensify, here we confirmed on Github that I'll be hired but not actually on Upwork yet. In that case, should I wait for the Upwork job to start before submitting the PR?

[2021-08-12 08:55] mananjadhav commented on #4421
Agreed. The chat screen sidebar with 50% width, looks a bit odd. Basically, we haven't optimized the app for Tablets yet.

[2021-08-12 09:03] Julesssss commented on #3921
Hi @rdjuric, have you been able to work on the mentioned improvements?

[2021-08-12 09:14] shawnborton commented on #4421
Okay, so I think that means:

- Let's not pursue changing the breakpoint value for now
- Let's see what the sign in page looks like after your fix, and then re-evaluate from there

How does that sound?

[2021-08-12 09:17] dylanexpensify commented on #4367
On this today, sorry competing priorities kept me distracted.

[2021-08-12 09:29] HorusGoul commented on #4036
Oh! That looks to be the one, great 😄

[2021-08-12 09:34] aman-atg commented on #4307
Accepted. ([Proposal](https://www.upwork.com/ab/proposals/1425733918605635584))

[2021-08-12 09:48] mananjadhav commented on #4421
That's right.

btw the fix that I said for Web Safari, looks like this Web.
<img width="1440" alt="web-safari-signin-layout" src="https://user-images.githubusercontent.com/3069065/129176299-aa8d0fbc-5301-44ca-88b0-de4b9f8ae4f1.png">

and looks like this in an iPad .
<img width="594" alt="Screenshot 2021-08-12 at 3 07 43 PM" src="https://user-images.githubusercontent.com/3069065/129175512-54760739-

[2021-08-12 10:05] trjExpensify commented on #4211
Okay, @kp17211 has reached out to me on Upwork to say he has accepted another offer so won't have time for this. Unassigning! @kp17211 in the future, could you just drop us a note here please? We're far more active and on top of comms in the GH repo than we are the Upwork messaging tool. Thanks!

[2021-08-12 10:09] trjExpensify commented on #4211
@Aamer-Rasheed are you still interested in this job? Please let us know how you plan to approach the solution and then we can proceed to hire and moving to the PR.

[2021-08-12 10:25] HorusGoul commented on #4036
I'm not sure about this `PR checks (lint, test, etc...) should run on the CP PR.`. I think there's no way to trigger the PR checks from a GitHub Action. More info: https://github.community/t/manually-triggering-checks-for-a-pr/134054

[2021-08-12 10:41] Beamanator commented on #4475
Thanks so much @parasharrajat for your proposal, that looks fantastic - I can't wait to see it live 💪  please submit a PR when you have a chance! And @michaelhaxhiu please hire Rajat when you have a chance too 👍

[2021-08-12 10:44] Beamanator commented on #4489
Great question @mananjadhav - If you're comfortable submitting the PR before you officially get hired in Upwork, please do! Confirmation in GH is "official" -> A.k.a. if we say you're hired here (in Github) then we'll definitely hire you in Upwork - there just may be a delay since Matt and I work in very different timezones 😅

[2021-08-12 11:29] Aamer-Rasheed commented on #4211
@trjExpensify Thanks for the query. Got another project with a deadline of 03 weeks so would be unavailable during this time.

[2021-08-12 11:44] dylanexpensify commented on #4367
Contributor: Paid
Contract: Completed
Upwork Post: Closed

[2021-08-12 11:44] #4367 closed

[2021-08-12 12:32] sketchydroide commented on #4216
Bumping this, not sure if anyone will have time "allocation" to answer this week, so I'm keeping this open for another week or 2

[2021-08-12 12:42] laurenreidexpensify commented on #4199
@madmax330 @flodnv can you confirm if this is fine for `external` contribution and apply the label pls?

[2021-08-12 12:52] parasharrajat commented on #4199
I think it's a duplicate of #4537. Please confirm.

[2021-08-12 13:05] michaelhaxhiu commented on #4475
Hired, let's start this party.

[2021-08-12 13:13] flodnv commented on #4199
Seems like you are right @parasharrajat ! Closing as a duplicate of https://github.com/Expensify/App/issues/4537

[2021-08-12 13:13] #4199 closed

[2021-08-12 13:18] mananjadhav commented on #4489
Thanks for the clarification.

That’s also the reason I submitted the PR. All three of us are in different time zones.

[2021-08-12 13:23] parasharrajat commented on #4469
@conorpendergrast Updated the issue details with the Image.

[2021-08-12 13:29] michaelhaxhiu commented on #4541
Okay got it! @mananjadhav if you'd like, you can start the work and we can figure this out today when @puneetlath has a moment to weigh in. I can increase the payout to include the bonus if it's 👍

[2021-08-12 13:32] mananjadhav commented on #4541
Gotcha. Need @shawnborton or @michelle-thompson’s input on the design.

[2021-08-12 14:10] kidroca commented on #4592
Actually thanks to your input I don't think we should call `setState` at all

Do we really want to trigger a re-render (using `setState`) when `loading` will remain `true`? I don't think so

Here's a rough proposal
1. `Onyx` and particularly code that uses `withOnyxInstance` should not call `setState` directly on that instance
2. We should add a method like `onOnyxUpdate` on the `withOnyxInstance`

[2021-08-12 14:14] shawnborton commented on #4472
How will you determine if the app is in the foreground but idle?

[2021-08-12 14:26] kidroca commented on #4592
This is a valid point - a child can only mount when the parent is done `loading`, otherwise `withOnyx` would not render the `WrappedComponent` at all
This might be a problem for React as it can't compute the full App Tree - it can only see how the branch continues after `loading: false` and then if these are nested `withOnyx` components this would repeat a bunch

Thought it's likely the same thing

[2021-08-12 14:31] ZaidQ797 commented on #4296
is this still we can try to fix it?

[2021-08-12 14:43] shawnborton commented on #4472
I think I am just generally curious how we accomplish this - how do we know if the user is actually idle if the window is in the foreground? Especially on devices where we might not detect any kind of mouse not moving, etc.

[2021-08-12 14:44] shawnborton commented on #4472
Also - could you elaborate a little bit more on the problem you experienced? Were you using the app and someone sent you new messages that you did not notice?

[2021-08-12 14:47] Santhosh-Sellavel commented on #4472
@shawnborton
Let's say user opened app in desktop. Opened a group/1:1 chat. Initially there are no new messages.  User left the app open in foreground no interaction to app. A idle state unnoticed, when new messages received after a while there is no indication that a message is received.

[2021-08-12 14:50] michaelhaxhiu commented on #2545
Still blocked. Can I just close this GH since we are already tracking this in E/App here?
https://github.com/Expensify/Expensify/issues/167383

[2021-08-12 14:53] parasharrajat commented on #4543
Anyone looking into this. This is a regression and looks like Rujuric is working over it https://github.com/Expensify/App/issues/4543#issuecomment-896899291.

[2021-08-12 14:53] shawnborton commented on #4472
Cool, I understand what you are describing but I am curious how we would pull this off. How would you detect that the app is both in the foreground and idle?

[2021-08-12 14:59] Santhosh-Sellavel commented on #4472
We could track last user interaction time

Let's say we keep 2 minutes
After two minutes if user did not interact.
We mark user state is idle.

 When new message received, we could just check against the idle state, we can show new marker if user is idle.

[2021-08-12 15:03] Santhosh-Sellavel commented on #4472
@shawnborton What I proposed earlier it would not wait for any idle, when a new message receives we will just update new indicator.

[2021-08-12 15:05] Santhosh-Sellavel commented on #4472
@shawnborton  But also do we need maintain new marker even after user replyed.

[2021-08-12 15:06] parasharrajat opened #4606 "Wrong Validation message is shown on change password page."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Change Password Page on newDot Web.
2. Click on the New Password field. Do not type anyting.
3. Click on Confirm Password Field. Do not type

[2021-08-12 15:10] shawnborton commented on #4472
So every new message that is received would have the "New" marker, even if you are actively viewing the chat?

[2021-08-12 15:29] Santhosh-Sellavel commented on #4472
No above the first received new message.

[2021-08-12 15:36] mananjadhav commented on #4606
Looks like a regression from my PR #4367. On it.

[2021-08-12 15:40] stephanieelliott commented on #4411
Ah got it, thanks so much for the clarity @mananjadhav and @Santhosh-Sellavel!

Here is the job on Upwork: https://www.upwork.com/jobs/~01254c03b03bc32ed4

[2021-08-12 15:58] roryabraham commented on #4554
Now we're seeing a bunch of duplicate issues on the checklist, and I'm pretty sure it's because of the repo rename. I'm going to try and cleanup the issue and it _should_ be resolved going forward.

[2021-08-12 15:59] andywkff commented on #4273
Hi, I might be able to resolve it!

[2021-08-12 16:00] isagoico commented on #4596
@roryabraham Looks like @parasharrajat is right, but since the bug hit staging should we keep this as a deploy blocker?
Also, this issue looks like the same source https://github.com/Expensify/App/issues/4597

[2021-08-12 16:07] puneetlath commented on #4541
Happy to help clarify. @mananjadhav had a number of suggested improvements to our emoji picker. I recommended that he create individual issues for each of them. For any of the improvements that we decide to go forward with, he is eligible for the bonus.

[2021-08-12 16:07] stitesExpensify commented on #4448
Proposal looks good to me. Feel free to hire away if you haven't already @dylanexpensify !

[2021-08-12 16:08] shawnborton commented on #4541
Rather than needing to change anything from a design perspective, I wonder if we can just add the downward swipe gesture to close out of this?

[2021-08-12 16:08] michaelhaxhiu commented on #4541
Roger that, I'll update the payout to reflect the bonus :). Thanks.

On Thu, Aug 12, 2021 at 12:07 PM Puneet Lath ***@***.***>
wrote:

--
Michael Haxhiu

[2021-08-12 16:09] mananjadhav commented on #4541
@shawnborton Can do. Will update and then we can decide?

[2021-08-12 16:11] Santhosh-Sellavel commented on #4398
@stitesExpensify  Did you get any chance to look into it?

[2021-08-12 16:20] stitesExpensify commented on #4398
Hi @Santhosh-Sellavel I just took a look. I'm not sure what you meant when you said `Example:Fidelity & Citizens Bank so need help with validating this mapping.` it looks like your mappings make sense to me?

Also, like we talked about we can just put the `function getAssetName(bankName) ` function direction into our codebase rather than creating mappings right? That makes more sense to me from a

[2021-08-12 16:28] thienlnam commented on #3867
Been focused on a few other things at the moment so I haven't had time to look into this yet - the investigation can still be an external task

[2021-08-12 16:34] iwiznia commented on #4595
@kidroca is investigating. We suspect https://github.com/Expensify/App/pull/4509 caused this and if so we will probably revert.

Context https://expensify.slack.com/archives/C01GTK53T8Q/p1628776131244300

[2021-08-12 16:39] marcaaron commented on #4592
I like the former idea since it means we do not need to yet look into managing `keyChanged()` events which also `setState()`. Gonna open a PR with those changes so we can do some testing.

[2021-08-12 16:40] roryabraham commented on #4596
Going to close this out in preference of https://github.com/Expensify/App/issues/4514 and make that one a deploy blocker.

[2021-08-12 16:41] OSBotify commented on #4514
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-12 16:41] dylanexpensify commented on #4448
@stitesExpensify HIRED!

[2021-08-12 16:43] stitesExpensify commented on #4599
@dklymenk do you know what's going on here? cc: @AndrewGable

[2021-08-12 16:44] mananjadhav commented on #4606
PR Raised.

[2021-08-12 16:47] parasharrajat commented on #4606
Cool, please close this issue via that PR.

[2021-08-12 16:48] Santhosh-Sellavel commented on #4398
@stitesExpensify
What's the help is?  The names look similar I don't whether they all come under the same parent bank or a different one.

I am confused because we might show the wrong icon.

[2021-08-12 16:53] Santhosh-Sellavel commented on #4448
Thanks, accepted the offer!
Opened a PR is ready for review, #4461
 @stitesExpensify @dylanexpensify

[2021-08-12 16:54] chiragsalian opened #4608 "[Apple rejecting release] Investigate splash screen issue with apple test credentials"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. On testflight iOS, log into the account shown [here](https://github.com/Expensify/Mobile-Expensify/blob/f8c2d35e01cf1fd3212217a5eb96f59282ba9e55/

[2021-08-12 16:55] OSBotify commented on #4608
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-12 16:55] roryabraham commented on #4296
Yes, we're still accepting proposals to fix this issue.

[2021-08-12 17:06] pecanoro commented on #4413
Anyways, regardless of the front end, maybe we should open an issue to block this in the back-end as well.

[2021-08-12 17:12] mananjadhav opened #4609 "[Needs repro steps] Mobile landscape view Emoji Picker view gets cut and iPhone has scroll issues"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

With respect to the comment https://github.com/Expensify/App/pull/4456#issuecomment-895926828, adding this issue.

## Action Performed:
For iOS and Android both:
1. Open

[2021-08-12 17:12] Santhosh-Sellavel commented on #4413
@pecanoro Yes, that would be even safer.

[2021-08-12 17:17] puneetlath commented on #3313
PR has been merged. Will be paid out on Aug 18 if no regressions.

[2021-08-12 17:20] Santhosh-Sellavel commented on #4413
## Updated Proposal
Following are the changes, we need to make to restrict the client-side search.
1. Adding `receipts@expensify.com` to the CONST File.
<img width="1259" alt="Screenshot 2021-08-12 at 10 43 19 PM" src="https://user-images.githubusercontent.com/85645967/129239705-3a0b1cc6-d6cf-4816-8383-2866a173d6dd.png">

2. Function to check whether user is excluded from IOU
<img width="1239" alt

[2021-08-12 17:21] parasharrajat commented on #3313
Just to notify you guys. Image part is still pending. May be a separate issue. Linked PR only added feature for Links

[2021-08-12 17:24] isagoico commented on #4599
Same is happening for mWeb. Adding it to the platforms affected.

[2021-08-12 17:27] dklymenk commented on #4599
Following the steps in debug mode on latest main commit, I get this error.

![DeepinScreenshot_select-area_20210812202429](https://user-images.githubusercontent.com/64093836/129241044-3687f0dd-5c97-46fd-8fff-6e8f13573a0a.png)

It makes total sense the issue is cross platform. And I don't believe it relates to #4418 in any way since the is reproducible without adding staging too.

[2021-08-12 17:28] Julesssss commented on #4264
Had some issues with the example project setup, but I was able to both Headless and non-headless background tasks via the example app:

<img width="974" alt="Screenshot 2021-08-12 at 18 00 28" src="https://user-images.githubusercontent.com/10736861/129237942-9bfbbb4e-e7e3-4f0b-af88-8591196f36e6.png">

<img width="569" alt="Screenshot 2021-08-12 at 18 01 46" src="https://user-images.githubuserconte

[2021-08-12 17:29] iwiznia commented on #4595
Revert PR sent

[2021-08-12 17:32] dklymenk commented on #4599
UPDATE:

I have found a fix:
[code]

 Must be related to some recent refactoring, as this wasn't an issue last week, when I submited my PR.

[2021-08-12 17:33] kidroca commented on #4595
I think I've found the real issue

1. The entire storage is cleared on signOut
https://github.com/Expensify/App/blob/b4cdc79ec3a8dc29528c0686a43a47c06daed6b7/src/libs/actions/SignInRedirect.js#L52

2. We have this object defined as the default `account` data
https://github.com/Expensify/App/blob/b4cdc79ec3a8dc29528c0686a43a47c06daed6b7/src/components/OnyxProvider.js#L19

https://github.com/Expensi

[2021-08-12 17:35] stitesExpensify commented on #4599
Looks like this is probably the pr that broke it then? https://github.com/Expensify/App/pull/3414

[2021-08-12 17:36] Jag96 commented on #4597
It looks like https://github.com/Expensify/App/pull/3414 is the offending PR here, the main change here was replacing `TextInputWitihLabel` with `ExpensiTextInput` [here](https://github.com/Expensify/App/pull/3414/files#diff-40ada854d0b6039d4db7da6cede12f7be0cf7d113cc16c8cbc638af4bd0121d4R12).

I confirmed the issue happens on version 1.0.83-2 which is the version after this PR was merged (it isn'

[2021-08-12 17:38] stitesExpensify commented on #4599
Thanks for investigating @dklymenk I'll make a PR to fix this. I think the better solution is to fix it where it is breaking otherwise this may happen in the future.

`const hasValue = props.value && props.value.length > 0;`

[2021-08-12 17:38] dklymenk commented on #4599
@stitesExpensify Yes, it looks like it, but it's hard to blame the guy. There are 2 issues at play here, the new component he designed requires a value, so if you pass `undefined`, it crashes the app in built version. And then there is the issue of initial state not being fully initialized since apparently the inception of that form, causing undefined passed to new compoentent.

[2021-08-12 17:40] stitesExpensify commented on #4599
No blame, just trying to find solutions :smile: His PR was massive too, things happen.

Thanks again for the help!

[2021-08-12 18:05] isagoico opened #4612 "[HOLD #11768] [$16000] Desktop - The Back ⌘[ and Forward ⌘] shortcuts keys are not working as expected in LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
This issue has been split in two. This one is solely focused on the back/forward actions in LeftHandNav (LHN), the other https://github.com/Expensify/App/issues/8657 is f

[2021-08-12 18:12] kidroca commented on #4595
Ok, this seems to be what's going on:

##### function redirectToSignIn
https://github.com/Expensify/App/blob/b4cdc79ec3a8dc29528c0686a43a47c06daed6b7/src/libs/actions/SignInRedirect.js#L50-L54

When we're redirected to sign in we're first setting `{authToken: null}`
This triggers a change that mounts the `PublicScreens` and the `SiginIn` screen
But because we wait for `set` to complete and only th

[2021-08-12 18:41] mallenexpensify commented on #4395
Please remember to remove the `Help Wanted` label if closing an issue

[2021-08-12 18:51] isagoico opened #4615 "LHN - Display chats with an existing draft under pinned chats in LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation that's not on the top of LHN
2. Write something in the compose box.
3. Navigate away from the chat

## Expected Result

[2021-08-12 18:51] iwiznia commented on #4595
Nice, thanks for the investigation and fix!

[2021-08-12 18:53] iwiznia commented on #4595
hmmm curious, why did the bug only happen in android?

[2021-08-12 18:57] parasharrajat opened #4616 "[HOLD for payment 2021-09-11] [Pay on 10th Sept] No feedback for the users to know about the maximum number of participants on Split Bill page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Sudden Change in the list of users feels like an issue. Some kind of feedback is necessary to tell that you can only select 8 participants then the User will know.**

[2021-08-12 18:59] Viacheslav80 commented on #4505
### Proposal:
SwipeableView/ index.native.js
25:
```              -   if ((gestureState.dy - this.oldY) > 0 && gestureState.dy > minimumPixelDistancev ```
```               +  if ((gestureState.dy - this.oldY) > 0 && gestureState.dy > minimumPixelDistancev + 250) ```
perhaps we should partially leave this possibility?

https://user-images.githubusercontent.com/51112870/129253342-2227e11a-63ad-4059

[2021-08-12 19:02] #4292 closed

[2021-08-12 19:04] marcaaron commented on #4549
Managed to get the profiler to work on Android and adding some tips for that in this PR if it helps at all

https://github.com/Expensify/App/pull/4617/files

[2021-08-12 19:05] parasharrajat commented on #4505
@Viacheslav80 I added a max distance of 116 but you can clearly see that this is not a good solution.

[2021-08-12 19:08] Viacheslav80 commented on #4505
@parasharrajat  Hi! I meant to add a new constant, not CONST.COMPOSER_MAX_HEIGHT

[2021-08-12 19:10] jboniface commented on #4487
weird that being assigned something via auto assigner doesn't remove the overdue label. this made it seem like I had an issue overdue, when really I'd just been assigned to it a couple hours ago.

[2021-08-12 19:14] jboniface commented on #4487
posted https://www.upwork.com/jobs/~01cdb87ac85566935f

[2021-08-12 19:17] parasharrajat commented on #4501
This is not happening on the latest code.

[2021-08-12 19:17] kidroca commented on #4595
I thought it happened on both iOS and Android ?
The cause is storage timing:
- if the `Onyx.set` happens very fast
- if the connections that follow happen slow (from disk instead of cache)
   - when there's no data in cache (for the bug triggering connection) (LRU cache expires as well) data will be read from disk

[2021-08-12 19:21] Viacheslav80 commented on #4505
@parasharrajat   if you don't close it with a swipe, then how can you close it?

[2021-08-12 19:26] thienlnam commented on #3381
@azimgd has been hired and is working on the project

[2021-08-12 19:32] aldo-expensify commented on #4615
I would think that this can be done by an external (upwork), but I would like to do it myself to learn more about the App project.

[2021-08-12 19:51] marcaaron commented on #4027
Grabbed a JS profile on startup for Android and just leaving a breakdown of what is happening in the time between metro loading the bundle and the app displaying the sidebar...

**Total time ~ 2.5 - 3 seconds**

![2021-08-12_09-21-16](https://user-images.githubusercontent.com/32969087/129256544-648be6d6-04a1-4379-8c6d-230852360046.png)

Going block by block...

271 ms - renderApplication.. I think

[2021-08-12 19:54] parasharrajat commented on #4361
@sakluger Do you think this is legitimate issue?

[2021-08-12 19:54] MitchExpensify commented on #3798
Not 100% if this issue relates to this problem but the text in the fields is causing the input to be illegible.

![image](https://user-images.githubusercontent.com/36425901/129260811-70a4a2a1-5abf-4090-b56a-cfe222055bd8.png)

[2021-08-12 19:57] stitesExpensify commented on #4321
This is being QA'd

[2021-08-12 20:01] kavimuru opened #4622 "Profile - Settings - Longer email is overflowing the border"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with account where you haven't set up your First and Last name
3. Go to Settings

## Expected R

[2021-08-12 20:06] isagoico opened #4623 "mWeb - Emoji - Flag emojis have a weird behavior after trying to delete it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account
3. Select any conversation
4. Inset any flag in composed box
5. Then click on

[2021-08-12 20:21] isagoico opened #4625 "[Hold for payment Sept 8th] Workspace invite - "Add personal message" box in workspace looks very small"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Click on Plus button and select New Workspace
4. Select People
5. Click Invite
6. Put any em

[2021-08-12 20:25] #4514 closed

[2021-08-12 20:26] parasharrajat commented on #4623
I think this is due to the recent addition of Unicode to Keep the larger version. cc: @rdjuric

[2021-08-12 20:35] isagoico commented on #4554
Regression for Web iOS and Android is finished.
Issues found so far:
1. https://github.com/Expensify/App/issues/4625
2. https://github.com/Expensify/App/issues/4623
3. https://github.com/Expensify/App/issues/4622
4. https://github.com/Expensify/App/issues/4599
5. https://github.com/Expensify/App/issues/4597
6. https://github.com/Expensify/App/issues/4595

I checked off some PRs that were a pass (a

[2021-08-12 20:36] aldo-expensify commented on #4615
By looking at the code in https://github.com/Expensify/App/blob/ff62078baf05801bce5a5c3ebffb20f89b25bf0d/src/libs/OptionsListUtils.js#L387-L428

I can see that we have to choose one option to prioritize: `iou debt` or `pinned`, and now we are adding `with draft comment`. The way it is implemented now, looks like the prioritized is exclusive, if I prioritize by `pinned`, then 'iou debt' won't be pr

[2021-08-12 20:39] Luke9389 commented on #3108
To clarify, I am making a PR to shorten the copy inside the text input. There is a separate regression caused by this PR that's already been identified [here](https://github.com/Expensify/App/issues/4597).

[2021-08-12 20:44] Luke9389 commented on #4597
I'll be shortening the copy on the `Company Address` input field, so I think the existing regression here is that the input label overlaps with the value when the field gets autofilled.

[2021-08-12 20:45] arielgreen commented on #4608
@chiragsalian should this be labeled `External`?

[2021-08-12 20:47] chiragsalian commented on #4608
Nope, usually deploy blockers are investigated internally.

[2021-08-12 20:53] kavimuru opened #4628 "Android - Profile - Selected pronoun is not visible in the "Preferred Pronouns" field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with account you don't have last and first name setsup up.
3. Go to Settings - Profile
4. On Preferred Pronouns dropdown

[2021-08-12 20:54] OSBotify commented on #4628
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-12 21:01] deetergp commented on #4507
Definitely something a external contributor can do, and @thesahindia's proposal sounds good.

[2021-08-12 21:10] Luke9389 commented on #4597
@kavimuru, thanks for making this issue. I've changed the title and the description to reflect the exact problem that we need to get fixed.

[2021-08-12 21:13] Jag96 commented on #4597
Is the state dropdown issue being handled somewhere else then? I assumed that was still an issue here

[2021-08-12 21:15] parasharrajat commented on #4597
Hey Guys, just merged a PR. Please test again. I think it must be fixed now. #4593

[2021-08-12 21:19] roryabraham opened #4629 "[$250] [Image] Implement the ability to copy images to the clipboard"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Coming from https://github.com/Expensify/App/issues/3313

## Action Performed:
Right-click or long-press on an image in a chat.

## Expected Result:
1. A context menu ap

[2021-08-12 21:19] francoisl commented on #4554
@isagoico - Fixes for the following blockers have been CP'ed, can you test them again please? The new build is v1.0.85-3

- https://github.com/Expensify/App/issues/4595
- https://github.com/Expensify/App/issues/4599
- https://github.com/Expensify/App/issues/4514

[2021-08-12 21:19] roryabraham commented on #3313
Yeah, as stated in [this comment](https://github.com/Expensify/App/issues/3313#issuecomment-870951651) and the previous one, @Drewfergusson only worked on the portion of this issue related to copying links, but he also set up a really easily extensible framework to display different types of context menus depending on what was interacted with.

So we need to follow-up on this issue with part 2. I

[2021-08-12 21:19] Jag96 commented on #4597
I'm still seeing this the auto-fill issue and the state-dropdown CSS issue on main (1.0.85-3).

![image](https://user-images.githubusercontent.com/3981102/129271486-bb1eae39-a737-4084-9fd2-7635ecb350ba.png)

[2021-08-12 21:20] Luke9389 commented on #4597
@Jag96 I think the PR @parasharrajat is referring to is still on staging.

[2021-08-12 21:20] deetergp commented on #4415
The proposal from @Santhosh-Sellavel looks good 👍

[2021-08-12 21:28] deetergp commented on #4307
The job has been offered & accepted and the PR has been merged. I think we're good here 👍

[2021-08-12 21:30] roryabraham commented on #4629
Okay, there was a fair deal of discussion over in https://github.com/Expensify/App/issues/3313 and other issues, but the task at hand here is to:

1. (internal) Create an `Expensify/` fork of https://github.com/react-native-clipboard/clipboard
1. Create a separate fork of https://github.com/react-native-clipboard/clipboard for local testing.
1. Provide a complete implementation of [this issue](htt

[2021-08-12 21:36] Luke9389 commented on #4597
@parasharrajat, to clarify, the tab behavior _has indeed_ been fixed by your PR. It's the auto-fill problem that we're still seeing.

[2021-08-12 21:44] parasharrajat commented on #4597
OK, I think I found the main issue for autofill. the technique to trigger the label position is not correct as it is not checking the current state of the input value.

So instead of checking the prop value, we should check the value in the inputField. This value is a prop that will never update when the value is auto-filled.

https://github.com/Expensify/App/blob/2b48ffbceec6029d7817b6746cecd1596

[2021-08-12 21:45] parasharrajat commented on #4597
It's good to revert the title to `Web - New Text Input does not work with auto-fill `

[2021-08-12 21:45] Luke9389 commented on #4597
Does the fix you found also correct the appearance of the `State` field?

[2021-08-12 21:48] Jag96 commented on #4597
The state field issue is that the picker is using the same design as the previous form was

| Before | Now |
|---|---|
| ![image](https://user-images.githubusercontent.com/3981102/129274450-8f84a1f8-f15f-4b73-bce4-956246767b4e.png) | ![image](https://user-images.githubusercontent.com/3981102/129274463-3287dd76-d6a5-4c5f-8d88-2c6b69a737f8.png) |

[2021-08-12 21:48] parasharrajat commented on #4597
No state field is issue because of the use of fixed Height
https://github.com/Expensify/App/blob/2b48ffbceec6029d7817b6746cecd1596559aa64/src/components/ExpensiTextInput/BaseExpensiTextInput.js#L100

There is another open issue https://github.com/Expensify/App/issues/4625 which is also due to fixed height usages

[2021-08-12 21:52] Luke9389 commented on #4597
OK, @parasharrajat, we're gonna make this issue exclusively about the auto-fill problem, and then Export this to Upwork, and get you hired for this auto-fill fix ASAP. Sound good?

[2021-08-12 21:56] Jag96 opened #4630 "State Dropdown not displaying properly on Company Step"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Coming from https://github.com/Expensify/App/issues/4597, breaking this into its own issue. This is a regression from https://github.com/Expensify/App/pull/3414

## Acti

[2021-08-12 21:57] OSBotify commented on #4630
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-12 21:59] Luke9389 opened #4631 "Personal and Company Address input fields have a label that is too long"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Head over to http://localhost:8080/bank-account/new
2. Click `Connect Manually`
3. Enter `123123123` for both fields
4. Observe the label on the

[2021-08-12 21:59] Luke9389 commented on #4631
@conorpendergrast you can ignore this, I'm just going to do it myself real quick.

[2021-08-12 22:00] parasharrajat commented on #4597
Yup @Luke9389 Fix is ready.

[2021-08-12 22:00] Luke9389 commented on #4597
Awesome, @MitchExpensify is getting the job set up in Upwork as we speak.

[2021-08-12 22:01] OSBotify commented on #4631
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-12 22:03] Jag96 commented on #4630
Going to fix this internally by updating the `StatePicker` to use the new `ExpensiPicker` instead of the old `Picker` component

[2021-08-12 22:04] MitchExpensify commented on #4597
[Upwork job](https://www.upwork.com/jobs/~01d6360b8bab9af3db)

[2021-08-12 22:05] MitchExpensify commented on #4514
Hired in upwork @parasharrajat

[2021-08-12 22:09] roryabraham commented on #4554
Removed a bunch of automated PRs from this checklist. The bug should be fixed now so hopefully they don't come back...

[2021-08-12 22:10] parasharrajat commented on #4597
PR https://github.com/Expensify/App/pull/4632 cc: @Luke9389

[2021-08-12 22:12] roryabraham commented on #4215
@trjExpensify Can we confirm that @rushatgabhane was paid for this issue then close it out?

[2021-08-12 22:27] MitchExpensify commented on #4630
Thanks @Jag96 ! I assume this will also fix the dropdown mis-alignment in the Requestor step? Theres a state dropdown field there too

[2021-08-12 22:44] Jag96 commented on #4630
Yes, good call I've updated that one as well

[2021-08-12 22:46] isagoico commented on #4595
Retest on Android was a pass 🎉 Closing the issue.

[2021-08-12 22:46] #4595 closed

[2021-08-12 22:54] jliexpensify commented on #4021
@marcaaron - apologies if my understanding's incorrect here, but are we looking at closing this GH since the problem can't be eliminated? Or do you think there's potential to make things even better/faster?

[2021-08-12 22:54] isagoico commented on #4599
Retesting this on Android the app is crashing when I type something in the new password text box. @stitesExpensify

https://user-images.githubusercontent.com/44479856/129280112-48d1c4bb-5c59-4761-9400-daa198957ce5.mp4

[2021-08-12 22:55] lmf-git commented on #4597
I found this via upwork.

The reason your autofill field isn't working is that autofill does not trigger the change event. I've encountered this before but I had to stray deep into my memory palace to figure out why.

I'm hesitant to dedicate my time to this when someone could come along and swipe my investment but I thought I'd at least leave this comment to assist you.

[2021-08-12 22:55] isagoico commented on #4554
When retesting https://github.com/Expensify/App/issues/4599#issuecomment-898023279 the app is crashing when I typo something on the password text box. https://github.com/Expensify/App/issues/4599#issuecomment-898023279

[2021-08-12 23:29] chiragsalian commented on #4608
So what i tried,
1. I can reproduce the issue sometimes (like 1 in 4 maybe) using testflight.
2. I have not been able to reproduce the problem on staging web newDot.
3. I tried to reproduce the error on an iOS simulator in hopes that i could get some logs but it works without any issue on the simulator (pointed env to staging for testing)
4. Tried to reproduce the error on my physical iOS phone (a

[2021-08-12 23:32] mallenexpensify commented on #4489
Created job and invited you @mananjadhav https://www.upwork.com/jobs/~01014d3713b3a319c7
I should have created it when I was assigned. (maybe I waited because it was on hold and it didn't make sense for others to submit proposals if you were going to? maybe I just forgot, ha)

This is a unique issue that has 'bounced around' more than others. Based on

It looks like it makes sense you'd submit a P

[2021-08-12 23:34] mallenexpensify commented on #4422
K, closing, reopen if needed?

[2021-08-12 23:34] #4422 closed

[2021-08-12 23:48] mananjadhav commented on #4489
@mallenexpensify I've submitted the proposal. Appreciate your help in resolving all queries 🙏

[2021-08-12 23:53] marklouisdeshaun commented on #4362
PR merged

[2021-08-13 00:01] deetergp commented on #4223
Don't know why this did not auto-close but it has been deployed to production.

[2021-08-13 00:01] #4223 closed

[2021-08-13 00:10] kadiealexander commented on #4501
Tested on 1.0.85-0 and this seems to be resolved:

Uploading w_a17d6828960171ea40c4c0bba50ed00f5924041a.mp4…

[2021-08-13 00:11] marcaaron commented on #4021
Yeah pretty much. I'm not sure how much faster it can get. We can probably close this for now. In recent test builds the loading spinner barely has a chance to appear, but in some cases is still needed e.g. if the data for the report is fetched but not cached yet.

[2021-08-13 00:11] #4021 closed

[2021-08-13 00:15] #4501 closed

[2021-08-13 00:19] kadiealexander commented on #4184
Paid today!

[2021-08-13 00:19] #4184 closed

[2021-08-13 00:23] JmillsExpensify commented on #4498
Working on the post in Upwork now so that we can hire. Stay tuned!

[2021-08-13 00:28] mallenexpensify commented on #4307
_Officially_ hired on Upwork. Will pay on 8/18 if no regressions. Bumped to Weekly

[2021-08-13 00:31] mallenexpensify commented on #4489
Hired in Upwork. Thanks for the quick work @mananjadhav

[2021-08-13 00:33] JmillsExpensify commented on #4498
Upwork job post is here: https://www.upwork.com/jobs/~017f695b1ecef4ad0f. @thesahindia happy to invite/hire you directly if you share your Upwork profile. Thanks!

[2021-08-13 00:37] #4597 closed

[2021-08-13 00:40] JmillsExpensify commented on #4505
@marcaaron Just catching up on this one. I'm a bit clear where we landed. Like doesn't Slack solve this problem by letting you extend the compose box full screen, and at that point, the keyboard never is hidden. I'm with you though, this feels more like a feature than a bug. Would like ensure we're aligned on this one.

[2021-08-13 00:48] kakajann commented on #4628
Hi, I just investigated and found [this](https://github.com/lawnstarter/react-native-picker-select/issues/414)

Apperantly, this is a `react-native-picker-select`s bug. And passing color style for [Picker](https://github.com/Expensify/App/blob/main/src/components/Picker/index.js) solves the issue.

I can open a PR

[2021-08-13 00:52] Jag96 commented on #4554
https://github.com/Expensify/App/pull/4632 has been CP'd to staging so #4597 can now be tested again!

[2021-08-13 00:55] JmillsExpensify commented on #4505
Actually irregardless of my last comment, was chatting with @trjExpensify and he convinced me that yes it's pretty weird that if you scroll in the compose box it dismisses the keyboard. I'll spin up the Upwork job now.

[2021-08-13 00:57] JmillsExpensify commented on #4505
Upwork job is here: https://www.upwork.com/jobs/~01f4380734c002264b! Let me know if you have any issues applying.

[2021-08-13 00:58] JmillsExpensify commented on #3922
Thanks appreciate the update.

[2021-08-13 01:01] JmillsExpensify commented on #3921
Yes, please let us know how it's going!

[2021-08-13 01:06] mallenexpensify commented on #4111
The process wasn't precisely followed here. @NikkiWines, can you
1. Review @aman-atg's proposal and, if you approve it then review @aman-atg's
2. If you don't approve, drop in a comment here.

Job is posted here https://www.upwork.com/jobs/~01857c14c7be600717, invited you to apply @aman-atg
Also took this job off hold

[2021-08-13 01:09] roryabraham commented on #4628
Great find @kakajann! Feel free to submit a PR, and we'll get an Upwork job created for you ASAP.

[2021-08-13 01:15] mallenexpensify commented on #4325
Taking off HOLD, @Julesssss can you review @aman-atg proposal please?

[2021-08-13 01:16] jliexpensify commented on #4628
Posted to Upworks - https://www.upwork.com/ab/applicants/1425989377062014976/job-details

@kakajann - feel free to apply there, and I'll hire you.

[2021-08-13 01:21] kakajann commented on #4628
@jliexpensify Applied and opened a pr

[2021-08-13 01:30] parasharrajat commented on #3855
cc: @iwiznia I think this is an important issue and @anthony-hull has a good proposal.

[2021-08-13 01:35] Christinadobrzyn commented on #3108
Reopening this because of the regression, I think that's the right next step?  @Luke9389 do you know if this should be reopened while the regression is resolved?

[2021-08-13 01:36] Christinadobrzyn commented on #4273
Hi @andywkff! Please feel free to add your proposed fix here and our eng team will review it!

[2021-08-13 02:44] Jag96 commented on #4319
Paid + bonus!

[2021-08-13 02:44] #4319 closed

[2021-08-13 02:45] Jag96 commented on #4315
Paid!

[2021-08-13 03:04] Jag96 commented on #4411
@mananjadhav your proposal looks good, I think for step 1 of your proposal we can go with the first option. Additionally, could you make sure to update the OptionsListUtilsTest file as well?

I've invited you to the Upwork job, feel free to get started on a PR. @stephanieelliott we're good to hire @mananjadhav once his proposal is in on Upwork!

[2021-08-13 03:31] mananjadhav commented on #4411
@Jag96 @stephanieelliott I've sent the proposal on Upwork.

@Jag96 Then are we saying we'll add that many parameters to the function call?

[code]

Also, apart from chronos, concierge and receipts which are the other automated accounts?

[2021-08-13 04:18] Jag96 commented on #4411
I think option 2 is fine as long as we make sure JSDocs are added appropriately, so for example anywhere we'd have a  check for `excludedOptions.excludeConcierge`, we'd make sure `excludedOptions.excludeConcierge` is in the function params, similar to what we do in [api.js](https://github.com/Expensify/App/blob/dd9a0ed80d8e587ea75a5b1a18bc8559771beb9d/src/libs/API.js#L185).

Right now I think the

[2021-08-13 04:21] mananjadhav commented on #4411
Got it. Noted. Will handle it accordingly.

[2021-08-13 05:16] MonilBhavsar commented on #4549
Marc, I assigned you as you are having context and working on this

[2021-08-13 05:29] Santhosh-Sellavel commented on #2934
@rdjuric or @Beamanator  I'm still able to reproduce this issue.

https://user-images.githubusercontent.com/85645967/129308620-cc3752d2-cc0e-403b-a49c-83e92e38554d.mov

`DIGITS_AND_PLUS: /^\+?[0-9]*$/,`
In above expression still `+` is still optional.

`E164_REGEX: /^\+?[1-9]\d{1,14}$/` which is used by `Str.isValidPhone `method,` + `is also optional here

Consider below expression  `Str.isValidPh

[2021-08-13 06:54] Santhosh-Sellavel commented on #2934
@Beamanator
Regex should be updated for DIGITS_AND_PLUS as `/^\+(?:[0-9]*)$/`

Validation expression should be like below,
`if(searchValue && Str.isValidPhone(searchValue) && !CONST.REGEX. DIGITS_AND_PLUS.test(searchValue))`

Similar to what I proposed earlier here https://github.com/Expensify/App/issues/2934#issuecomment-888664379, where I suggested `ETU.123` standard regex, instead we could use

[2021-08-13 07:45] laurenreidexpensify commented on #4187
@parasharrajat looks like we missed a step here and you were never hired in Upwork for this one 😬 can you apply and i'll hired / pay you as soon as that's done! thanks!

[2021-08-13 07:52] shawnborton commented on #4544
I think it's all good to move forward with this but I guess I wanted to clarify that I don't think this is considered fixing a bug. Basically you are suggesting a small improvement to a feature that is working just fine.

[2021-08-13 07:56] shawnborton commented on #4421
I think we should track the Sign In page weirdness in the issue you linked so that we keep all sign in page issues. Then I think we should just close this issue out as we don't plan on changing the breakpoint.

[2021-08-13 07:59] laurenreidexpensify commented on #4187
All sorted

[2021-08-13 07:59] #4187 closed

[2021-08-13 08:04] Beamanator commented on #4628
@kakajann @roryabraham would you say this issue was caused by @kakajann 's PR https://github.com/Expensify/App/pull/3414? It looks related since that PR created the `expensiPicker` style, which is all that was changed in the [PR that fixed this issue](https://github.com/Expensify/App/pull/4641/files)

[2021-08-13 08:05] shawnborton commented on #4625
It sounds like we didn't consider `textarea`s when implementing the new text input styles. I could see us taking one of two paths here (cc @Expensify/design @kakajann )

Left: use a similar style where the label floats above the value, just make the input area taller
Right: move the label to be outside of the input
![image](https://user-images.githubusercontent.com/2319350/129325113-86f14be6-bf2a-

[2021-08-13 08:05] Santhosh-Sellavel commented on #4415
Proposal slightly updated, Kindly verify when you have time. @deetergp

I'll wrap up a PR by tomorrow!

Just one concern regarding style can we leave the same style as below or can we update?

![Screenshot_20210813-133422_Samsung Internet.jpg](https://user-images.githubusercontent.com/85645967/129325136-0b4f5ac1-417d-456e-9796-3705794d807a.jpg)

[2021-08-13 08:06] aman-atg commented on #4111
I didn't officially add a proposal but this is the comment where I proposed a solution. https://github.com/Expensify/App/issues/4111#issuecomment-884817325

I think we meant PR here, it's ready for review : https://github.com/Expensify/App/pull/4644

[2021-08-13 08:09] parasharrajat commented on #4625
This is going to be tricky. Textarea's are never meant to be fixed height. Also, we do have some inputs where, input height increases wrt input text.

[2021-08-13 08:11] shawnborton commented on #4625
Great points Rajat, but I think we can keep those in mind when building this. As in, I think the design above on the left can work in a textarea that grows or can have a flexible height.

[2021-08-13 08:29] mananjadhav commented on #4110
Quick update, while this change works for Web Safari, the Hero content (container with blue background)  alignment will need additional work.

Because we align the content in the bottom for Hero. Here's a screenshot in iPad 12.9 inch after the fix.

https://user-images.githubusercontent.com/3069065/129175512-54760739-0d77-401e-8575-c759daf96472.png

[2021-08-13 08:30] mananjadhav commented on #4421
@trjExpensify We're good to close this issue for now. I am going ahead and closing this again.

[2021-08-13 08:30] #4421 closed

[2021-08-13 08:33] mananjadhav commented on #4544
Should we just merge this into one of the Emoji tasks that I'll pick?

[2021-08-13 08:55] shawnborton commented on #4544
I would be cool with that.

[2021-08-13 09:34] Julesssss commented on #4325
Hi @aman-atg the solution seems correct, but I think instead we should add that condition inline to match the rest of the logic:

[code]

[2021-08-13 09:42] aman-atg commented on #4325
Thanks @Julesssss.
Will follow the above approach while submitting the PR.

[2021-08-13 10:03] parasharrajat commented on #4325
@Julesssss I think we should create a seperate input component with this behaviour and update other places in the app with this wherever phone number input is used. It does not really make sense to just update one place?

thoughts?

[2021-08-13 10:25] thesahindia commented on #4498
Thanks, here is my profile : https://www.upwork.com/freelancers/~0107fb10c8087f6a5a
And I have also submitted the proposal for the Job.

[2021-08-13 10:27] trjExpensify commented on #4421
Cool, thank you! 👍

[2021-08-13 10:36] trjExpensify commented on #4215
Yep, paid and closed out!

[2021-08-13 10:36] #4215 closed

[2021-08-13 11:18] Beamanator commented on #2934
@Santhosh-Sellavel did you try clicking on the "new chat" option (+911223233) at the end of your video? If so, you should have seen the "I couldn't validate the phone number, please try again" error -> that's the main fix for this issue. Improving the regex is part of a different issue that I plan to write the requirements for early next week

[2021-08-13 11:38] Santhosh-Sellavel commented on #2934
Yes, I'm seeing that error on click,
<img width="716" alt="Screenshot 2021-08-13 at 5 03 21 PM" src="https://user-images.githubusercontent.com/85645967/129351322-88567fbd-ec76-4475-8e6d-e691c16dbb7f.png">

Sorry, I am unaware of the requirement change here!
There were two PR's that caused me the confusion,  where one looks like solving validation message, the initial requirement.

Thanks for the c

[2021-08-13 11:38] sketchydroide commented on #4623
This seems like an external, @bfitzexpensify not sure if you followed the other Issue, but since you seems to be the go to person about Emojis I CCing you 😄

[2021-08-13 11:39] sketchydroide commented on #4623
@isagoico is this a blocker issue or just a regression? Just wandering what is the priority?

[2021-08-13 11:58] Beamanator commented on #2934
Yeah sorry for the confusion @Santhosh-Sellavel , technically both requirements were there from the beginning but

[2021-08-13 11:58] Beamanator commented on #2934
Wrong button 😅

[2021-08-13 11:59] iwiznia commented on #4622
@Expensify/design any ideas on how to solve this?

[2021-08-13 12:00] Santhosh-Sellavel commented on #4415
@Beamanator
Do I need to hold this, since your are writing requirements for phone number validation regex & this issue is similar too.

Earlier I suggested validation changes from PR https://github.com/Expensify/App/pull/4354, since changes were approved.
But when I validated the solution today it does not work, so only asked here to clarfiy in https://github.com/Expensify/App/issues/2934#issuecom

[2021-08-13 12:05] rdjuric commented on #3921
Sorry! I replied on the PR 😅 Should be ready for review today

[2021-08-13 12:08] iwiznia commented on #3855
Thanks for bumping the issue @parasharrajat!
Seems Kevin missed this issue and should've been exported a while ago. Asking someone else to export it and then an engineer will get assigned to review the proposals.

[2021-08-13 12:15] Beamanator commented on #4415
I'd say go for this one, whatever y'all decided here! I was actually talking about a different issue that isn't related to the login page, so I'd say proceed on this one :)

[2021-08-13 12:28] parasharrajat commented on #3855
It just needs a hidden username input and all password managers should work. If chrome can detect the form then all others will. They follow what chrome does.

[2021-08-13 12:29] Santhosh-Sellavel commented on #4415
Thanks again for clarification! @Beamanator

[2021-08-13 12:36] laurenreidexpensify commented on #3855
https://www.upwork.com/jobs/~01b7f83dea2310bcf3 posted to Upwork

[2021-08-13 12:39] shawnborton commented on #4622
I'd say we just truncate via ellipsis. This should be easy to do with RN.

[2021-08-13 12:44] iwiznia commented on #4622
Is that via a fixed number of characters or a style property that specifies that anything that does not fit will get an ellipsis?

[2021-08-13 12:47] shawnborton commented on #4622
I think you just specify that the text should only be 1 line and it should be truncated via ellipsis... https://reactnative.dev/docs/text#ellipsizemode

[2021-08-13 12:48] rdjuric commented on #4622
I think we solved a very similar problem in https://github.com/Expensify/App/issues/3172. We truncated via ellipsis by giving the width of the container to the text, and fixing a numOfLines=1.

[2021-08-13 12:49] parasharrajat commented on #4622
It just needs text clipping as you said.
We need to add maxWidth:100% to pressable and all set.

[2021-08-13 13:06] isagoico commented on #4597
retest for this was a pass. These 2 issues are still reproducible tho https://github.com/Expensify/App/issues/4630 and https://github.com/Expensify/App/issues/4631
![image](https://user-images.githubusercontent.com/44479856/129361378-a58a6562-94c9-4d6b-ac61-b19a4c62d3d6.png)

[2021-08-13 13:08] isagoico commented on #4554
https://github.com/Expensify/App/issues/4597#issuecomment-898444794 retest was a pass, checking it off

[2021-08-13 13:10] isagoico commented on #4623
It's a regression. Issue is reproducible in the prod build.

[2021-08-13 13:37] OSBotify commented on #4608
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-13 13:41] iwiznia commented on #4608
DeployBlockerCash issues should not be unassigned per the comment above. Reassigning to @Julesssss since he was the initial assignee.

[2021-08-13 13:59] jboniface commented on #4543
Does anyone know what PR caused the regression?

[2021-08-13 14:03] parasharrajat commented on #4543
https://github.com/Expensify/App/pull/4206

[2021-08-13 14:06] michaelhaxhiu commented on #4499
Sorry on the delay! Let's get quick input from Design, since this will be a UI theme that's widespread in New Expensify.

[2021-08-13 14:08] jboniface commented on #4543
oh sorry, i missed that in the comment somehow. still opening my eyes this morning.

[2021-08-13 14:09] shawnborton commented on #4499
Makes sense to me.

[2021-08-13 14:11] michaelhaxhiu commented on #4499
Do we want to copy the same theme that WhatsApp uses? Or do we want a specific spacing, font, and tooltip box?

[2021-08-13 14:17] shawnborton commented on #4499
We already have a tooltip component in our codebase (@mananjadhav referenced it above) that looks like this:
![image](https://user-images.githubusercontent.com/2319350/129370923-b15ff45f-4a7e-410b-b9ad-af7ef42a4a9b.png)

[2021-08-13 14:21] michaelhaxhiu commented on #4499
<img width=300 src=https://user-images.githubusercontent.com/13206896/129371196-74d64bd4-9c26-4499-9cb2-98400dda42de.png>

I **totally** missed that Manan referenced to re-use that existing UI theme 🤦 . Sorry!

That makes perfect sense. Posting this to upwork and removing `Design` label if we are ready to go here.

[2021-08-13 14:23] jboniface commented on #4328
paid

[2021-08-13 14:23] #4328 closed

[2021-08-13 14:24] avaiyakirtib commented on #4296
@roryabraham
- It seems an issue with the UI interface, I can set up customize UI layout by having proper constraints set in the layouts.
- If required I will modify the screen and do a programmatic UI interface that will give full command on the screen.

[2021-08-13 14:27] michaelhaxhiu commented on #4499
Upwork job added to GH body, and also accessible here.

@mananjadhav please propose to take the job and we'll hire you as soon as an engineer has reviewed your proposal.

[2021-08-13 14:29] parasharrajat commented on #3922
PR is ready for review @stitesExpensify.

[2021-08-13 14:38] iwiznia commented on #4499
@mananjadhav proposal looks good. @michaelhaxhiu go ahead and hire in upwork

[2021-08-13 14:43] Santhosh-Sellavel commented on #4415
cc: @marklouisdeshaun  @deetergp

After approaching the solution for this issue.
I found the following issues/concerns.

1. Enter 16 or more numbers, even though this looks like a phone number, we show an "invalid email" message.
<img width="469" alt="Screenshot 2021-08-13 at 7 40 28 PM" src="https://user-images.githubusercontent.com/85645967/129370089-4fa080cb-3446-4edb-b0c6-723a671bb7e0.png">

2

[2021-08-13 15:22] stephanieelliott commented on #4413
Posted to Upwork: https://www.upwork.com/jobs/~013379d6a3621d716e

[2021-08-13 15:25] mananjadhav commented on #4499
I’ll post as soon as my current PR is merged. Thanks.

[2021-08-13 15:35] Santhosh-Sellavel opened #4645 "[HOLD for payment 2021-09-28] Avatar Image picker should be restricted to image extensions only."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Able to pick other file types for profile avatar and workspace avatar image.

## Action Performed:
1. Go to Settings
2. Click Profile
3. Click the pen icon to update or

[2021-08-13 15:36] parasharrajat commented on #4200
@puneetlath This can be quickly solved. The proposal here https://github.com/Expensify/App/issues/4200#issuecomment-894134114.

[2021-08-13 15:44] Beamanator commented on #4475
Reopening, waiting 7 days for regressions 👍

[2021-08-13 16:03] roryabraham commented on #4628
Reopening for pending payment

[2021-08-13 16:21] JmillsExpensify commented on #4622
Upwork job is here: https://www.upwork.com/jobs/~01ba5c8069caabd21c.

[2021-08-13 16:23] arielgreen commented on #3867
Hey, @kidroca, can you spend some time investigating this? You can do this on your existing contract

[2021-08-13 16:26] francoisl commented on #4110
Thanks for looking into this, @mananjadhav. Would you be interested in continuing your investigation and proposing a fix? For now, I'll open this issue up to our contributor management team so that we can figure out a job on Upwork.

[2021-08-13 16:28] mallenexpensify commented on #4497
@thienlnam 90% sure this is an external issue but want to follow the steps and have you confirm by adding the label.

[2021-08-13 16:31] mananjadhav commented on #4110
@francoisl  Sure. I've already given the Web fix with a screenshot from Safari 14.0. I've tested the same with Safari 13 too. Once done with Upwork, will raise the PR if the change looks okay?

We'll track the iPad layout also in this scope? What would be the expected layout in iPad? I am guessing vertically centered?

[2021-08-13 16:34] AndrewGable commented on #4486
Thanks for the bug report @mananjadhav! @MitchExpensify or @deetergp any ideas on whether we should go with solution one or two? I think both proposals look good, let's just decide what we want to do in this case and then hire @mananjadhav

[2021-08-13 16:35] Julesssss commented on #4608
This is a tricky one.

Locating the offending PR is unlikely due to the fact that there are **over 80** PRs in this [deploy checklist](https://github.com/Expensify/App/issues/4554) and that the issue is only reproducible about 1/4 times. Usually, I would git-bisect to locate the problem, but this method would take days as we would need to compile an iOS build and run it multiple times to check eac

[2021-08-13 16:36] mfkrause commented on #4622
## Proposal
As already discussed here, this problem should be easy to fix by truncating the overflowing email using ellipsis. The text is overflowing because the corresponding `<Text>` has a parent `<Pressable>` container that is not limited in width:
https://github.com/Expensify/App/blob/496086afa501bd3753760f709bdba2afaf04ee35/src/pages/settings/InitialPage.js#L177

By limiting the `max-width` t

[2021-08-13 16:37] mananjadhav commented on #4486
I've added option 2 for Split Money. I would suggest let's use that so that it is generic across.

[2021-08-13 16:40] AndrewGable commented on #4392
PR is in review

[2021-08-13 16:47] arielgreen commented on #4377
Fix (https://github.com/Expensify/App/pull/4503) was merged Aug 10, updating pay-by date.

[2021-08-13 16:52] #2451 closed

[2021-08-13 17:00] shawnborton commented on #4625
Looks good to me - glad this is an easy one!

[2021-08-13 17:00] AndrewGable commented on #4625
@Christinadobrzyn can you please hire @kakajann via Upwork? Thanks

[2021-08-13 17:09] mallenexpensify commented on #4217
Off hold since PR has already been merged. @pecanoro , assigned to you since you reviewed the PR (no action needed). Will pay on 8/20 if no regressions.

[2021-08-13 17:20] kidroca commented on #3867
@arielgreen Yes, I've taken part of the discussion on slack and can research this further

[2021-08-13 17:21] kakajann commented on #4625
@shawnborton Did you notice that placeholder doesn't show unless user focuses the input. Do you want me to always show the placeholder for the multiline `ExpensiTextInputs`?

[2021-08-13 17:24] parasharrajat commented on #4413
@stephanieelliott Why does https://github.com/Expensify/App/issues/4411 sounds the same and look like two contributors are working on the same thing.

[2021-08-13 17:25] parasharrajat commented on #4411
@stephanieelliott Why does https://github.com/Expensify/App/issues/4413 sounds the same and look like two contributors are working on the same thing.

[2021-08-13 17:25] shawnborton commented on #4625
Great point. I think we should treat the label like a placeholder to the best of our ability - otherwise we should just pre-fill the text input with the desired text that we might want the user to start off with. So I'd say let's continue to treat these like our text inputs where we basically don't use placeholder text - we just use labels. How does that sound?

[2021-08-13 17:36] kakajann commented on #4625
As my understanding, I should remove placeholder from the input and make its value `workspace.invite.welcomeNote`. Is that right?

[2021-08-13 17:37] shawnborton commented on #4625
That would be my vote, curious if others agree!

[2021-08-13 17:40] shawnborton commented on #4622
Thanks for exploring the multiple options. I agree, I think Option 1 is best and is the most predictable across use cases.

[2021-08-13 17:40] parasharrajat opened #4646 "[Hold of Payment Sept 7] User can invite chronos@, receipts@ and concierge@ in Workspaces"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open newDot.
2. Go to any Workspace.
3. Try to invite chronos@, receipts@, and concierge@.

## Expected Result:
 Users can not invite chronos@, r

[2021-08-13 17:45] #4392 closed

[2021-08-13 17:48] AndrewGable commented on #2748
Haven't seen any updates from Fastlane, we might want to try to see if there are any alternative solutions to this one.

[2021-08-13 17:51] AndrewGable commented on #3737
Still on hold from my understanding

[2021-08-13 17:51] Santhosh-Sellavel commented on #4413
https://github.com/Expensify/App/issues/4411#issuecomment-896997882
https://github.com/Expensify/App/issues/4411#issuecomment-897012810

Refer to these above comments, it might help you understand the difference.
The title has a difference #4411 it says blocking from the recent list.
@parasharrajat

[2021-08-13 17:57] aman-atg commented on #4417
@Anass-ABEA

Thanks for bringing that up. I think we can fix that problem by having a 2nd parameter for `setPersonalDetails()` like `showMessage` which can take care of that.

Yes, you're right. I've mentioned that in the initial [proposal](https://github.com/Expensify/App/issues/4417#issuecomment-893312415) as well.

[2021-08-13 17:58] Julesssss commented on #4608
I am not able to reproduce on a physical Android device with the same credentials and version.

Log search was unfruitful due to the number of logs the test user account generates. My next plan was to reproduce it, noting the time of the event so that I could locate the logs, but we have not been able to reproduce the issue since then.

I won't have access to a physical iOS test device until Monda

[2021-08-13 18:02] Julesssss commented on #4608
TestFlight won't be useful unfortunately as this wasn't a Crash. Our best bet would be LogSearch (no luck here), or device JS logs (not possible currently as we cannot reproduce locally).

At this point, I don't think this should remain a deploy blocker. As far as we know it occurs rarely (1/4 times) on login (a rare event for existing users), on a single platform (not Android/Web/Desktop/mWeb), p

[2021-08-13 18:06] AndrewGable commented on #4608
I thought this is literally a deploy blocker deemed by Apple? They won't approve the app until we fix it

[2021-08-13 18:07] Julesssss commented on #4608
Ah I didn't see that, is there another issue or thread for this?

[2021-08-13 18:09] AndrewGable commented on #4608
Slack thread: https://expensify.slack.com/archives/C07J32337/p1628644892166500

[2021-08-13 18:10] deetergp commented on #4622
I agree that option 1 is what most folks would expect. Let's go with @parasharrajat's proposal.

[2021-08-13 18:28] mallenexpensify commented on #2451
This is a $250 job in Upwork, does that amount still feel fair? Seems like this issue and the corresponding PR took a lot of time and work. cc @tgolen @marcaaron @parasharrajat

[2021-08-13 18:29] deetergp commented on #4415
@Santhosh-Sellavel You've definitely brought up some good points in your investigation. Here's my take on it: fix the phone number problem in this issue and include a fix for 4 since it does seem related.

Then create a new issue regarding how the error messages and continue button interact with one another. I think that is a bigger discussion that should stand on its own and require more input fr

[2021-08-13 18:38] parasharrajat commented on #4415
To me, it seems that all are the result of incorrectly parsing the input value and calculating the error early. cc @Santhosh-Sellavel.

[2021-08-13 18:38] Julesssss commented on #4608
Thanks. Okay, so that changes things 😞

Given that we must solve this I see two paths forward here:
- Compile a [release build](https://stackoverflow.com/c/expensify/questions/7311), run it on a physical iOS device until the issue is reproduced and hope that device logs/Logsearch help us track down the issues
- Use `git-bisect` to isolate the PR which introduced this issue and revert

We should al

[2021-08-13 18:40] parasharrajat commented on #2451
@mallenexpensify This is your call. As you pointed out, I originally reported the issue as well but didn't create the GH issue so can't really justify the bonus.
![image](https://user-images.githubusercontent.com/24370807/129404339-eae28e52-7e11-413a-b6fe-959d1838117f.png)

[2021-08-13 18:40] roryabraham commented on #4628
@Beamanator that's a good point

[2021-08-13 18:43] parasharrajat commented on #4622
PR is up.

[2021-08-13 19:00] Julesssss commented on #4608
Linking this [previous race condition PR](https://github.com/Expensify/App/pull/4436), which may provide a good starting point (as Chirag pointed out)

[2021-08-13 19:02] parasharrajat commented on #4005
PR is approved. Just need to be merged.

[2021-08-13 19:03] parasharrajat commented on #4361
Waiting for it to be triaged before I can submit my proposal.

[2021-08-13 19:18] Santhosh-Sellavel commented on #4415
Only `validation or input parsing` is done here on the client-side is whether login is empty.
In this issue, I will handle phone number validation.
Every other error is calculated from the server-side.

What do you call calculating early?

[2021-08-13 19:19] Santhosh-Sellavel commented on #4415
Sure @deetergp!

[2021-08-13 19:19] michaelhaxhiu commented on #4499
Hired.

[2021-08-13 19:20] deetergp commented on #4486
Let's go with option 1, since it follows the precedent that `excludeConcierge` has already set.

[2021-08-13 19:24] mananjadhav commented on #4486
@deetergp We'll have other email addresses too in this section such as receipts@expensify.com? Internally if you see the `getOptions` function it takes an object only with flags. What do you think?

[2021-08-13 19:27] marklouisdeshaun commented on #4110
Created a job in Upwork!

Internal: https://www.upwork.com/ab/applicants/1426264061424881664/job-details
External: https://www.upwork.com/jobs/~01c3eae7038adf8df7

[2021-08-13 19:35] roryabraham commented on #4296
I am now unable to reproduce this on an iPhone 6S. @kavimuru can we retest please?

[2021-08-13 19:36] isagoico opened #4654 "Unable to send 0 as a message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation.
2. Send 0 as a message

## Expected Result:
Message should be sent

## Actual Result:
Message is not sent and a error

[2021-08-13 19:36] isagoico commented on #4654
Added the internal label because of @roryabraham comment here https://expensify.slack.com/archives/C01GTK53T8Q/p1628803011301000?thread_ts=1628796978.285700&cid=C01GTK53T8Q

[2021-08-13 19:49] Santhosh-Sellavel commented on #4398
Hi @stitesExpensify,

As discussed,
- assets are added,
- map function added,
- And wired up function to pick up icon in `paymentMethodList.js`

Is this good so far?

Need to improve map functions for these two banks alone,
- Fidelity
- Citizens Bank

[2021-08-13 20:11] stitesExpensify commented on #4384
This has been merged, just waiting on deploy

[2021-08-13 20:33] mateocole commented on #4545
Alright, to clean this up a little. It sounds like there might be two things being asked here.

1. Reporting a bug is taking you back to the settings and not to concierge
2. Concierge might not be the best route for reporting a bug

For this specific issue, can this be reorganized to fit scenario 1 as that would be the specific bug?

[2021-08-13 20:34] johnmlee101 commented on #4417
Bump @Expensify/design !

[2021-08-13 20:42] Santhosh-Sellavel commented on #4545
Yes, I understood this.

What do you mean here, I'm not following @mateocole

[2021-08-13 20:46] parasharrajat commented on #4545
First-time navigation is working but the second time there is an issue. Not going back does not seem the root cause of it. Did you find why it is not working for the second time?

[2021-08-13 20:50] alex-mechler commented on #4654
Going to reassign to myself and drop priority, I've already started digging a little.

[2021-08-13 20:51] Santhosh-Sellavel commented on #4545
Yes, of course, We don't allow to navigate to reportId which is already active, that is Concierge.

@parasharrajat
Also If you are a new user you won't even get navigated for the first time.

[2021-08-13 20:59] Santhosh-Sellavel commented on #4415
@deetergp draft once you are okay with changes, I'll add screenshots and wrap up PR mark it ready for review!

[2021-08-13 21:05] mateocole commented on #4545
So, the intended action would be to direct you to concierge to report the bug. This would not be relative to this issue as it would be a separate proposal as that would be changing the intended action, if I am understanding the suggestion correctly.

Said differently, I think the focus of the this issue should be to focus on fixing the bug that does not redirect back to concierge.

[2021-08-13 21:06] MitchExpensify commented on #3841
Paid!

[2021-08-13 21:11] stitesExpensify commented on #3922
Thanks @parasharrajat I have some other priorities at the moment but will get around to reviewing next week!

[2021-08-13 21:12] stitesExpensify commented on #4398
Thanks for that @Santhosh-Sellavel. I have some other internal priorities I need to focus on at the moment but I'll be back to help you out and review next week.

[2021-08-13 21:12] stitesExpensify commented on #4599
@isagoico is this only happening on android?

[2021-08-13 21:15] Santhosh-Sellavel commented on #4545
If we focus on navigating to Concierge for reporting bugs, then yes, @mateocole my suggestion could be a separate proposal.

[2021-08-13 21:15] parasharrajat commented on #4545
Yes, But you open the about page again. You are on /settings/about page. and thus navigating to the Report route should work.

Could you please link me to where are we doing that?

This seems like more of an issue with `Navigation.navigate` doing `Navigation.dismissModal()` sounds like a hack to fix this as we are already navigating to the Report route.

[2021-08-13 21:18] Santhosh-Sellavel commented on #4398
Okay, @stitesExpensify thanks for the FYI!

[2021-08-13 21:29] Santhosh-Sellavel commented on #4545
Here,
<img width="922" alt="Screenshot 2021-08-14 at 2 49 40 AM" src="https://user-images.githubusercontent.com/85645967/129419501-bd35f246-70ec-437c-8d79-364ae17e3f2b.png">

Calling `Navigation.dismissModal()` was a simple solution suggestion as I said in the proposal, yeah I agree with you completely!

There is no issue with implementation, cases are handled well.