[2022-03-03 05:10] sobitneupane commented on #7885
@trjExpensify Applied.

[2022-03-03 05:13] OSBotify commented on #7987
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-03-03 05:33] afaqrajpoot commented on #7982
This was just sample that how i will fix
defiantly all the input field will have its relevant  UseRef variables like
const firstName = useRef(null)

[2022-03-03 05:38] thesahindia commented on #7903
I think this isn't a bug and we shouldn't remove unread chats from LHN. If we only keep pinned chats in the LHN then how would user will know about the new messages from a chat that isn't pinned by the user, it's not a good ux

[2022-03-03 07:43] mananjadhav commented on #3245
Sorry, too many notifications missed it. Testing it some minor flicker issues. Will be ready by tomorrow or day after

[2022-03-03 08:02] Tushu17 commented on #7964
@sobitneupane, had given his proposal just after it got logged on GH and also there was no external label so there wasn't any way I would have given my proposal before him. I had my proposal ready but I was waiting for the external label. The MD states that we should wait for the external label. I found that some people are proposing solutions just after the issue gets logged on GH. It just demoti

[2022-03-03 08:06] ahmdshrif commented on #7462
@kadiealexander thanks, I working on it. but look like there issue on offer
this is the Upwork message to me.

[2022-03-03 08:50] sobitneupane commented on #7964
@mallenexpensify @jliexpensify @NikkiWines
As per [this discussion](https://expensify.slack.com/archives/C01GTK53T8Q/p1643647191471149?thread_ts=1643608335.352779&cid=C01GTK53T8Q),

I thought anyone is allowed to propose a solution. So, I proposed the solution.
From now on, I will wait for reporter to propose a solution. But I am not sure how long should I wait for reporter to propose solution bef

[2022-03-03 09:47] Tushu17 commented on #7964
@sobitneupane, I think you're getting it wrong, It's not about you posting proposal on other's Issue but as it has been made clear many times to us that we have to wait till the external label and I was doing the same on this issue.

[2022-03-03 10:50] sobitneupane commented on #7729
@parasharrajat, After further investigation I found My proposal is working fine in web but not in native (android and IOS) app. I am working on it to find the solution that works on all platform.

[2022-03-03 11:31] Yoel-amri commented on #7598
@parasharrajat why bother sending it to the backend when you can just block it from frontend and showing an error

[2022-03-03 11:41] mananjadhav commented on #7598
@parasharrajat  I checked the code, my updated proposal is:

https://github.com/Expensify/App/blob/ea691f040cf93490d176015b93293b09c26c3dfc/src/components/AttachmentPicker/index.native.js#L139-L145

We can create a new function:

[code]
and update `showImageCorruptionAlert` function

[code]

We could even skip the `switch-case` as it could be a very generic error message.

[2022-03-03 11:50] Regaron commented on #7598
# Proposal
isValidFileType function can be used to block svg upload as:
[code]
Since file can be uploaded by drag&drop as well as from attachment button(different for web and native), to centralize blocking logic of unsupported file displayFileInModal renderProp of AttachmentModel can be modified to check for validFileType and alert or ConfirmModel can be shown to inform about unsupported file typ

[2022-03-03 11:53] kursat commented on #7146
@kadiealexander accepted

[2022-03-03 12:04] rajscet commented on #7932
Fixed it

https://stackoverflow.com/questions/68884589/caused-by-java-lang-exception-no-native-library-is-found-for-os-name-mac-and-o

Here is what worked for me:

Change room version to 2.3.0 in app-level build.gradle

def room_version = "2.3.0" // for Room
implementation "androidx.room:room-runtime:$room_version"
annotationProcessor "androidx.room:room-compiler:$room_version"
testImplementation

[2022-03-03 12:04] #7932 closed

[2022-03-03 12:06] parasharrajat commented on #7598
Thanks for both of the proposals. Based on the requested changes.
1. Block SVG upload and show the confirm alert cross-platform.
2. If any other file upload fails, handle it and show the error.

I can see 1 is handled on both but not 2.

[2022-03-03 12:21] Regaron commented on #7598
For 2  ``API.Report_AddComment``can be adjusted to handle unsupported file as appropriate code will be sent from backend. This might also be needed for svg upload on iOS by picking from document as file mimeType is not provided and is undefined.

[2022-03-03 12:27] mananjadhav commented on #7598
@parasharrajat Could you elaborate here? Because that's what I meant with `showImageCorruptionAlert` and added a `default` case in the switch block and there's a `showGeneralAlert` already.

Also should we be replacing `Alert` with `ConfirmModal`?

[2022-03-03 12:46] kakajann commented on #7963
@johnmlee101 Datepicker always shows a value, even if its value is empty. In order to prevent this overlap,
![Screen Shot 2022-03-03 at 5 42 45 PM](https://user-images.githubusercontent.com/11542415/156567157-3ef7d11d-7840-48d5-8eef-cea707cc6b17.png)
we have to use `forceActivateLabel`.
And there will be no regressions.

[2022-03-03 13:26] trjExpensify commented on #6213
Settled!

[2022-03-03 13:26] #6213 closed

[2022-03-03 14:16] michaelhaxhiu commented on #7015
@mananjadhav thanks for clarifying.

Initially, I was a little confused about whether the regression was related to this GH or https://github.com/Expensify/App/issues/7784.

Should [the PR](https://github.com/Expensify/App/pull/7785) for the regression fix link both GH issues in that case (https://github.com/Expensify/App/issues/7784 & https://github.com/Expensify/App/issues/7015)?

<img width="97

[2022-03-03 14:23] NicMendonca commented on #7966
Upwork job posting: https://www.upwork.com/jobs/~0117a680819923466f

[2022-03-03 14:35] marcochavezf commented on #7917
Oh I hadn't seen the conversation. I think this case I can just unassign myself since the `Exported` label will be applied to assign reviewers.

[2022-03-03 14:38] mananjadhav commented on #7015
Yeah that is right. Payment date is now `2022-03-08`.

[2022-03-03 14:51] parasharrajat commented on #7598
@mananjadhav I meant to handle the backend error if the backend sends code to the unhandled file. Just to be safe for other such files.

I think @Regaron has a good proposal https://github.com/Expensify/App/issues/7598#issuecomment-1057965453 https://github.com/Expensify/App/issues/7598#issuecomment-1057988593  for the problem.

cc: @marcaaron

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-03-03 15:47] flodnv commented on #7987
@kidroca can you take this given you've already done part of the investigation?

[2022-03-03 15:58] K4tsuki commented on #6069
Add styles:
[code]

Use it in:

https://github.com/Expensify/App/blob/ea691f040cf93490d176015b93293b09c26c3dfc/src/libs/Navigation/AppNavigator/modalCardStyleInterpolator.js#L22

And add width: `cardStyle.width = isSmallScreenWidth ? screen.width : variables.sideBarWidth;`

<br />

Then add property `shouldShowResult` for `OptionSelector`,
And specify the properties with `shouldShowResult={didScre

[2022-03-03 16:23] michaelhaxhiu commented on #7496
Alex B is OOO so I'm going to trigger assignment to a new engineer to get some input!

[2022-03-03 16:31] rushatgabhane commented on #6069
Thanks @K4tsuki, I think we can work with this, we'll also need a a loading indicator.

🎀👀🎀 C+ reviewed

@Luke9389 I like @K4tsuki's [proposal ](https://github.com/Expensify/App/issues/6069#issuecomment-1058193355) .

[2022-03-03 16:33] kidroca commented on #6069
Does it work on all platforms (including mobile web)?

[2022-03-03 16:35] K4tsuki commented on #6069
@kidroca I have tested it by resizing the browser and it works.

[2022-03-03 16:43] flodnv commented on #7987
@neil-marcellini @roryabraham can you help out @kidroca here?

Yes, here: https://new.expensify.com/NewExpensify.dmg and here https://staging.new.expensify.com/NewExpensify.dmg AFAIK

[2022-03-03 16:52] shawnborton commented on #7706
I think I like the first one the most. What do you think?

Alternatively, we could use a gear/cog icon for "manual" but I don't have many other ideas beyond that.

[2022-03-03 16:58] shawnborton commented on #7541
I think that's clearly way too large. Is there a way to cap how much larger we'd make the font size? Again, I'm very eager to see some research about how this has been solved by other apps.

[2022-03-03 17:16] sobitneupane commented on #7496
@rushatgabhane, Same Code block `hello<br /><pre>var code = "CODE"</pre>hello` is rendered as:

1. Web
<img width="1054" alt="Screen Shot 2022-03-03 at 22 43 26" src="https://user-images.githubusercontent.com/25876548/156613570-d4756ff7-cbe6-4e1a-8b3f-e7aff227ac79.png">

2. Mobile
<img width="332" alt="Screen Shot 2022-03-03 at 22 42 44" src="https://user-images.githubusercontent.com/25876548/1566

[2022-03-03 17:57] tgolen commented on #6301
Please include psuedo code for these.

[2022-03-03 17:59] kidroca commented on #7987
What is making it available there though? Right now I downloaded `v1.1.40-2` from that link while `v1.1.41-0` seems to be the latest version

What would put a new version at that route?
A `.dmg` search review only 3 results in the repo: https://github.com/Expensify/App/search?q=.dmg&type=code

[2022-03-03 18:04] laravue1118 commented on #7966
I suggest to update IOUCurrencySelection.js so that sectionlist has listemptycomponent set to show No results found when data is empty, and a state to hold sectionlist's data

[2022-03-03 18:06] parasharrajat commented on #6301
Thanks, tgolen for your review. @Tabakharniuk, questions :arrow_up: .

[2022-03-03 18:10] kidroca commented on #7987
I think the auto update might not be working because the package name was changed
When I created the 2nd package-json I named it `new.expensify.desktop`
https://github.com/Expensify/App/blob/3d2ec235a49198fe7759bfff0bf022e644b3d27b/desktop/package.json#L2

[2022-03-03 18:14] Santhosh-Sellavel commented on #7966
@laravue1118 You should be new here. Check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md)

Go through these closed issues [here](https://github.com/Expensify/App/issues?q=is%3Aclosed+label%3A%22Awaiting+Payment%22) for reference.

And make a proper proposal with all the changes you would make to solve this issue.

[2022-03-03 18:14] puneetlath commented on #7522
Paid!

[2022-03-03 18:14] #7522 closed

[2022-03-03 18:15] puneetlath commented on #7524
@eVoloshchak how is this going?

[2022-03-03 18:18] puneetlath commented on #7590
Paid!

[2022-03-03 18:18] #7590 closed

[2022-03-03 18:25] rushatgabhane commented on #7964
@NikkiWines I agree 100%

[2022-03-03 18:29] kidroca commented on #7987
Oh wow, it seems to be caused by removing the zip file indeed: https://github.com/electron-userland/electron-builder/issues/2199#issuecomment-992469958

[2022-03-03 18:52] thesahindia commented on #7966
### Proposal

[code]
we can add the code given above after line 181. By this we can show the no results found message below the search input
https://github.com/Expensify/App/blob/3d2ec235a49198fe7759bfff0bf022e644b3d27b/src/pages/iou/IOUCurrencySelection.js#L176-L181

And to remove the `ALL CURRENCIES` header when no result is there we can just add a if statement like below -
[code]

[2022-03-03 18:58] kidroca commented on #7987
Submitted a PR that should fix auto-updates: https://github.com/Expensify/App/issues/7987

I'm not sure whether it would fix the `.dmg` being hosted here: https://new.expensify.com/NewExpensify.dmg

[2022-03-03 19:03] Santhosh-Sellavel commented on #6069
## Proposal
cc: @rushatgabhane @Luke9389

I suggest we handle shortcut search alone differently here, without affecting the existing behavior for other cases.
Let's call this way an "instant search" for this discussion's sake?

Here I am using Onyx to track the instant search is active, but I am open to any other better suggestions too.

So adding a new key `isInstantSearch` to ONYXKEYS.
And addin

[2022-03-03 19:18] kidroca commented on #6069
@Santhosh-Sellavel
Well @K4tsuki already made it work with the animation in much simpler way
There are other simpler ways if the animation is not mandatory

No need to involve Onyx in all of this, you can achieve the same using navigation params

[code]

It doesn't sound ok to me to skip animation when we're using shortcut key, but not otherwise
IMO we should always open search the same way. The a

[2022-03-03 19:19] michelle-thompson commented on #7706
Just spitballing here, we could also do something like this?
<img width="165" alt="image" src="https://user-images.githubusercontent.com/43361905/156636879-d4a0bed8-6f23-4234-b004-c0061e31a382.png">

Otherwise, the first and fourth make the most sense to me.

[2022-03-03 19:22] Santhosh-Sellavel commented on #6069
@kidroca Yeah right, could have just used  Navigation params. How did I missed that, silly me.

[2022-03-03 19:32] laravue1118 commented on #7966
### Proposal
I will update getSections function.
`

    getSections() {
        const sections = [];

        if (this.state.currencyData.length > 0) {
            sections.push({
                title: this.props.translate('iOUCurrencySelection.allCurrencies'),
                data: this.state.currencyData,
                shouldShow: true,
                indexOffset: 0,
            });

[2022-03-03 19:33] aldo-expensify commented on #7963
Adding @jboniface because I think get got unassigned by mistake

[2022-03-03 19:44] mountiny commented on #7584
@mdneyazahmad Any update here? Otherwise, we will make this open for new contributors or in case @rushatgabhane would like to take it on.

[2022-03-03 20:02] kadiealexander commented on #7146
Thanks @kursat! All payments made now.

[2022-03-03 20:02] #7146 closed

[2022-03-03 20:02] laurenreidexpensify commented on #7972
https://www.upwork.com/jobs/~01a5afd1f614dd5d18

[2022-03-03 20:04] laurenreidexpensify commented on #7972
@tgolen sorry I jumped the gun here before confirming it was external. I might have confused the order, but can you please add external label too? Thanks

[2022-03-03 20:09] tgolen commented on #7972
OK, labeled! The proposal looks fine to me too, so 🟢 on hiring them on Upwork.

[2022-03-03 20:11] mountiny commented on #6718
@parasharrajat surely you are very busy, will you be able to follow the discussion here?

[2022-03-03 20:11] parasharrajat commented on #7972
Yup, @Tushu17 's proposal looks good.
:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-03-03 20:19] parasharrajat commented on #6718
I don't think there is something on the plate for discussion. I indicated a few things that need to be improved. I saw the explanations but I still don't see improvements to the proposal. So I am waiting on that.

This statement indicates the review of the existing proposal.

Here I asked for improvements.

If I was not clear enough, I think this can be improved in the following way :-

1. Anythin

[2022-03-03 20:34] mountiny commented on #6718
Thanks for the update.

@kevinksullivan could we please double the price on this issue? Thank you very much!

[2022-03-03 20:38] thienlnam commented on #7091
It looks like this issue is back on the table and ready to take more proposals.  @bfitzexpensify Could we get this doubled?

[2022-03-03 20:40] parasharrajat commented on #6967
PR is merged to PROD. But why, the title is not updated? :thinking:

[2022-03-03 20:46] adelekennedy commented on #7860
jeez - just getting to this
[Internal](https://www.upwork.com/ab/applicants/1499486198971600896/job-details)
[External](https://www.upwork.com/jobs/~014412d19bd9b34e22)

[2022-03-03 20:49] adelekennedy commented on #7860
From this [slack convo](https://expensify.slack.com/archives/C01GTK53T8Q/p1641586928143800?thread_ts=1641315371.490700&cid=C01GTK53T8Q) this may be related to the [flatlist fix](https://github.com/Expensify/App/issues/3381) (purely for context)

[2022-03-03 20:50] mallenexpensify commented on #7784
Paid @sobitneupane .
Closing, the issue with Desktop not updating to latest production version is being discussed https://expensify.slack.com/archives/C01GTK53T8Q/p1646336519837169 and worked on https://github.com/Expensify/App/issues/7987

[2022-03-03 20:50] #7784 closed

[2022-03-03 21:01] shawnborton commented on #7706
Oh that's neat - would that be for online? What would you use for manual?

[2022-03-03 21:10] iwiznia commented on #7909
I doubt it is this, but it's possible this was broken by https://github.com/Expensify/App/pull/7662/

[2022-03-03 21:13] rushatgabhane commented on #7909
@iwiznia hmm looks like we merged 7662 3 days ago, and this issue was created 7 days ago. So that shouldn't be the cause

[2022-03-03 21:17] iwiznia commented on #7909
Yeah sorry, it is not that issue.
The problem is that it is a regular link in the text of message. The app is opening it as is, but we need to open it differently calling `openOldDotLink` so that it ensures the link opens logged in in oldDot.

[2022-03-03 21:19] mallenexpensify commented on #6967
Weird, thanks for the ping @parasharrajat .
https://github.com/Expensify/App/pull/7098#issuecomment-1055749096
Will pay on 3/8 if there on no regressions

[2022-03-03 21:35] rushatgabhane commented on #7909
Ahh makes sense

[2022-03-03 21:46] johnmlee101 commented on #7963
😬 sorry about that! Didn't see that

[2022-03-03 21:49] PauloGasparSv commented on #7975
Like @kidroca said, it looks like the fix in https://github.com/Expensify/App/issues/6059 should close this issue as well.
Not sure if we can call this a duplicate since it is the same behavior but another flow, so I'm adding another engineer to take a look at it too.

[2022-03-03 22:01] michelle-thompson commented on #7706
Oh sorry, I'm proposing that for `Connect manually`. It might be a little too abstract, but a plug is something you.. connect.. manually, haha.

[2022-03-03 22:02] rushatgabhane commented on #6069
@K4tsuki Oh no.. react-native doesn't support `position: fixed`

<img width="355" alt="Screen Shot 2022-03-04 at 12 55 35 AM" src="https://user-images.githubusercontent.com/29673073/156660068-3f4738b2-c940-4be2-8b19-47c83e072bd4.png">

[2022-03-03 22:03] iwiznia commented on #7735
Also, this is not limited to chronos, it happened on regular chats too

[2022-03-03 22:06] iwiznia commented on #7942
I agree with the plan. To clarify, nothing should block the app from loading, so 2 would be non blocking, right? LHN would render with emails first and then when personal details are loaded into onyx, the component would update and render with the names, right?

[2022-03-03 22:07] shawnborton commented on #7706
Oh duh... you are totally right, that makes sense. I could get down with that for manual, we'd just need to make it in our current style... in case you are volunteering for that :)

[2022-03-03 22:17] mallenexpensify opened #7991 "Allow for additional file types to be sent via NewDot"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Sent .gpg encrypted file in NewDot Desktop

## Expected Result:
For the file to be sent.

## Actual Result:
Getting an endless spinner

## Workaroun

[2022-03-03 22:21] puneetlath commented on #7912
@marcaaron I'm about to head out on my two-month sabbatical, so handing this off to you. Thanks!

[2022-03-03 22:23] laurenreidexpensify commented on #7972
Wow that was quick! :)

[2022-03-03 22:28] puneetlath commented on #7730
Hm, interesting. Not sure why @flodnv got assigned to the PR instead of me. In any case, I'm about to head out on my two-month sabbatical, so I won't be able to handle the CME review.

@JmillsExpensify and @flodnv I'll let y'all take it from here!

[2022-03-03 22:36] puneetlath commented on #7576
@bfitzexpensify @Julesssss I just bumped this to $1000 and now reassigning to y'all since I'm about to go on my two month sabbatical.

[2022-03-03 22:39] puneetlath commented on #6877
@chiragsalian I think this part will need to be internal right?

Anyways, @mallenexpensify I'm about to head out on my two-month sabbatical, so handing this off to you in case it does remain External. Thanks!

[2022-03-03 22:40] mallenexpensify commented on #7991
Let's use this comment as the main for adding file types we want to support.  Please add your handle behind the file type if you'd like it added.

**FILE TYPE**
.gpg - @mallenexpensify, @cead22
.asc - @AndrewGable (from [here](https://github.com/Expensify/Expensify/issues/145368#issuecomment-1004257354))
.heic - @mallenexpensify (others reported previously)

[2022-03-03 22:41] parasharrajat commented on #7991
svg

[2022-03-03 22:41] puneetlath commented on #7618
@iwiznia I'm about to head out on my two-month sabbatical, so handing the CME for this issue off to you. Thanks!

[2022-03-03 22:48] jliexpensify commented on #7669
Not overdue Melvin!

[2022-03-03 22:48] pecanoro commented on #7853
I am a bit confused so do we want to remove the tab functionality completely?

[2022-03-03 23:05] marcaaron commented on #7077
Is this still in the waiting period or ready to be paid out? Last PR looks like it is on production now.

[2022-03-03 23:12] shawnborton commented on #7853
I don't think we want to remove the tab functionality. I'm just suggesting we remove that weird behavior where shift + click makes the message appear to be tabbed in focus.

[2022-03-03 23:20] parasharrajat commented on #7980
I don't understand the proposal @sobitneupane. Why does changing height have to do anything with it? AFAIK, react-native usages DPI.
So if 116px should be equal to 116px phone iPhone even though the PixelRatio is different. Another point is if we use 18px line-height of the font on both Android and iOS, then they should consume same height?

[2022-03-03 23:23] tgolen commented on #7735
Does it still happen @iwiznia? Let's be sure we can reproduce this before doing any more work on it.

[2022-03-03 23:24] rushatgabhane commented on #7485
Thanks.

Hmm, I'd say like 95. There's always room for some incremental improvement, but none that I can think of rn.
We should update the .md file in case any step becomes outdated, and or if contributors find it difficult to follow.

[2022-03-03 23:25] kevinksullivan commented on #7077
All set!

[2022-03-03 23:25] #7077 closed

[2022-03-03 23:29] iwiznia commented on #7735
I only was able to reproduce it one day, so not sure really. Also, I was on shitty wifi, so it might be related to that or some race condition only happening when things are slow.

[2022-03-03 23:33] parasharrajat commented on #7077
@kevinksullivan Ping for C+

[2022-03-03 23:43] rushatgabhane commented on #7485
@mallenexpensify Now that the PR is up, lemme know if the changes look good, and what you think regarding converting doc to .md file

[2022-03-04 00:04] OSBotify commented on #7954
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/7989) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.41-2` :rocket:

[2022-03-04 00:04] OSBotify commented on #7954
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.41-2 has been deployed to staging :tada:

[2022-03-04 00:12] osama256 commented on #7541
yep, by using PixelRatio

not all apps enable this feature, but for those that enable it like youtube, if we select any value higher than the 5th value in the slider we will see the same large font size used in all of these. which mean  if `pixelratio > 1.3`  fontsize = `largeFontSize/pixelRatio.getFontScale()` otherwise fontsize= `defaultFontSize`

[2022-03-04 00:56] roryabraham commented on #7987
Self-assigning and trying to get a fix ASAP.

[2022-03-04 01:00] roryabraham commented on #7987
Looking at the [deploy logs](https://github.com/Expensify/App/runs/5415564555?check_suite_focus=true) from https://github.com/Expensify/App/pull/7989, I'm seeing some suspicious log lines:

[code]

Going to investigate whether the package version being tacked onto the file is our problem. Also @kidroca I don't recall why we added `target` architectures in `electronBuilder.config.js` 🤔

[2022-03-04 01:11] roryabraham commented on #7987
Older successful deploys had this:

[code]

Noticing that there was:

1. no version in the filename
1. No space between `New` and `Expensify`.

[2022-03-04 01:13] puneetlath commented on #7185
@Christinadobrzyn @chiragsalian assigning y'all since I'm about to go on sabbatical for 2 months.

@Christinadobrzyn the internal job post is here: https://www.upwork.com/ab/applicants/1488237483760803840/hired

@chiragsalian we're looking for a proposal for https://github.com/Expensify/App/issues/7185#issuecomment-1057336885

[2022-03-04 01:17] puneetlath commented on #6154
@chiragsalian assigned you to this issue and [the PR](https://github.com/Expensify/App/pull/7433) since I'm going on sabbatical for 2 months. Thanks!

[2022-03-04 01:29] puneetlath commented on #7524
@JmillsExpensify @deetergp  I'm about to head out on my two-month sabbatical, so handing this off to you. Thanks!

Contract for the fix: https://www.upwork.com/ab/c/8577561/contracts/29631996#milestones%2F20220203%2F20220304
C+ contract: https://www.upwork.com/ab/c/8577561/contracts/29631752#milestones%2F20220203%2F20220304

[2022-03-04 01:38] roryabraham commented on #7987
I'm hopeful that I've figured this out ... just testing with local builds which takes a lil while

[2022-03-04 01:42] kidroca commented on #7987
So that we can support new M1 macs without them running App through Rosetta
Though if arm64 or the universal app are not exposed for downloading it's probably no good

[2022-03-04 01:45] Regaron commented on #7598
PR might be ready within a week.

[2022-03-04 01:48] roryabraham commented on #7987
I was wondering if a single `.dmg` could/would be "smart enough" to detect the architecture and install the correct app 🤔

[2022-03-04 01:52] mallenexpensify commented on #7579
Just happened to me again ¯\_(ツ)_/¯
We were having an issue where Desktop wasn't updating, I was stuck on Version 1.1.39-3 for a day or two.  I ...
- Closed my laptop for an hour (Desktop was opened)
- Opened laptop
- Desktop flashed, like close>open then I was signed out
- Signed in
- Chats loaded, waiting ~40 seconds
- Refreshed, new chat at top loaded that wasn't visible before.

[2022-03-04 01:54] puneetlath commented on #7317
@mountiny the PR is currently on hold, but I've assigned you to both this issue and [the PR](https://github.com/Expensify/App/pull/7846) since I'm going on sabbatical for two months. Thanks!

[2022-03-04 01:59] kidroca commented on #7987
Only if we make a custom one - the ones from electron-builder are `.dmg` per arch
The universal works for bot but it's twice the size (installer and installed), but it's still 2x smaller than what we had before

We decided to not to make custom installer but make downloading download the correct .dmg for the user  https://github.com/Expensify/App/issues/6927#issuecomment-1024510582

[2022-03-04 02:08] OSBotify commented on #7954
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/7996) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.41-3` :rocket:

[2022-03-04 02:08] OSBotify commented on #7954
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.41-3 has been deployed to staging :tada:

[2022-03-04 02:10] kidroca commented on #7579
@mallenexpensify
It doesn't sound like it happens only for new chats for you - can we clarify that
Are the missing chats new 1:1 chats - new conversations that started today

Maybe we should update the ticket description if it's not specific to new chats

New questions:
- Before refreshing did you see any chats with unread messages at all?
- Do you have (had at the time) 10 or more conversations w

[2022-03-04 02:15] roryabraham commented on #7776
No update. Still monitoring KI retests, which may have been delayed because desktop staging deploys are currently broken

[2022-03-04 02:29] mallenexpensify commented on #7485
Reviewed and commented there, looking good

[2022-03-04 02:37] Christinadobrzyn commented on #7836
This might be linked - https://github.com/Expensify/Expensify/issues/175394

[2022-03-04 02:49] roryabraham commented on #7987
Unfortunately I don't think this is resolved yet. https://github.com/Expensify/App/pull/7996 changed [these suspicious logs](https://github.com/Expensify/App/issues/7987#issuecomment-1058721523): https://github.com/Expensify/App/runs/5416585778?check_suite_focus=true

But I downloaded the staging desktop app and it's still on version `1.1.40-2`

[2022-03-04 02:52] kidroca commented on #7987
Interesting how @mallenexpensify updated to v1.1.41-2 here: https://github.com/Expensify/App/issues/7579#issuecomment-1058746502?

[2022-03-04 03:01] roryabraham commented on #7987
Le whoops ... staging builds are deploying the app straight to the production bucket 😬

[2022-03-04 03:02] roryabraham commented on #7987
I downloaded the app from https://new.expensify.com/NewExpensify.dmg and it was `1.1.41-3` 😬

[2022-03-04 03:04] roryabraham commented on #7987
Fortunately this is only affecting desktop and not web

[2022-03-04 03:07] kidroca commented on #7987
Sorry, seems this has to have export so that it works in the config as well

[code]

[2022-03-04 03:09] roryabraham commented on #7987
Yep, that's probably it. I'll work on a PR

[2022-03-04 03:14] kidroca commented on #7987
Hey BTW these work as well
- https://new.expensify.com/New%20Expensify-1.1.41-1.dmg
- https://new.expensify.com/New%20Expensify-1.1.41-1-arm64.dmg
- https://new.expensify.com/New%20Expensify-1.1.41-1-universal.dmg

[2022-03-04 03:24] #7987 closed

[2022-03-04 03:25] roryabraham commented on #7987
That seems like a good idea. I'm going to create a follow-up issue to address the multiple architecture issue.

[2022-03-04 03:30] kidroca commented on #7987
https://www.electron.build/file-patterns#file-macros

[2022-03-04 03:31] aldo-expensify opened #8001 ""Comment deleted" as last message in LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Related GH issue: https://github.com/Expensify/App/issues/7773

## Action Performed:
1. Open chat conversation in NewDot
2. Send message: "first message"
3. Send message

[2022-03-04 03:31] aldo-expensify commented on #7773
This was fixed in [this PR](https://github.com/Expensify/Auth/pull/6481), but a similar issue remains...

The last message `[Comment deleted]` only goes away after refresh, which is somewhat inconsistent.

https://user-images.githubusercontent.com/87341702/156693504-ccd3066c-f21d-4910-872e-9f8b4a343189.mov

Created new GH issue for it: https://github.com/Expensify/App/issues/8001

[2022-03-04 03:33] #7773 closed

[2022-03-04 03:37] roryabraham opened #8004 "Multiple desktop architectures overwrite eachother"
### Problem
The desktop app currently builds for three separate architectures:

1. x64
1. arm
1. universal (dmg is about 2x as large, supposed to work architecture-independently).

When the app deploys, each build artifact is called `NewExpensify.dmg`, and overwrites the previous one. This defeats the purpose of building for multiple architectures. Using a universal build only creates an unnecessa

[2022-03-04 03:37] OSBotify commented on #7954
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8000) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.41-4` :rocket:

[2022-03-04 03:37] OSBotify commented on #7954
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.41-4 has been deployed to staging :tada:

[2022-03-04 03:38] roryabraham commented on #8004
cc @kidroca

[2022-03-04 03:55] Christinadobrzyn commented on #7962
looks like it might be related to this GH - https://github.com/Expensify/App/issues/7365 - that is closed.

[2022-03-04 03:57] Christinadobrzyn commented on #7962
Created Upwork Job
Internal posting - https://www.upwork.com/ab/applicants/1499594733421305856/job-details
External posting - https://www.upwork.com/jobs/~0109a0f58059e7df27

[2022-03-04 05:05] mvtglobally opened #8005 "[Bug] [$2000] The browser tab shows (1) New Expensify even though there are no unread messages in the LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app in Web
2. Check browser tab

## Expected Result:
When user has no unread messages it should not display any counter.

## Actual Result:

[2022-03-04 05:17] sobitneupane commented on #8001
Unable to reproduce this issue. Working as mentioned in expected result.

[2022-03-04 05:19] mvtglobally opened #8006 "[$500] Right clicking email address shows pop up that says Copy URL to clipboard"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Right click an email address in NewDot

## Expected Result:
Pop up to say Copy email to clipboard

## Actual Result:
Pop up says Copy URL to clip

[2022-03-04 05:26] mvtglobally opened #8007 "[HOLD for payment 2022-05-02] Feature Request: Ignore periods when searching for a user by their email address"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
Sometimes people include a period . in their email address. For gmail, there is no difference between m.allen@ and mallen@, they both work.   In NewDot, if s

[2022-03-04 05:54] roryabraham commented on #7987
Confirmed this is fixed and desktop staging builds an un-broken.

[2022-03-04 05:55] roryabraham commented on #7954
https://github.com/Expensify/App/issues/7987 is resolved and desktop staging builds/auto-update should be working again.

[2022-03-04 06:53] Christinadobrzyn commented on #7917
Dylan confirmed this GH job is $250. Created Upwork job

Internal job posting - https://www.upwork.com/ab/applicants/1499638878787203072/job-details
External job positing - https://www.upwork.com/jobs/~014a2b9d0ae263c283

[2022-03-04 07:35] eVoloshchak commented on #7524
Started working on it, will submit first PR on Monday.
It's taking me more time than expected due to an extreme situation in Ukraine, sorry for that

[2022-03-04 08:08] adeel0202 commented on #7838
@parasharrajat, just checked that we don't need to make any changes in `ACHContractStep`. There is bottom margin in the top two checkboxes of that component and those are necessary margins so can't remove those.

<img width="1423" alt="Screenshot 2022-03-04 at 1 04 10 PM" src="https://user-images.githubusercontent.com/13783842/156723705-33866349-0d53-4b1d-b72e-f2a94065d66a.png">

Also, can you ple

[2022-03-04 08:29] Christinadobrzyn commented on #8007
Ah this is a good one - sending to eng for a review.

[2022-03-04 09:45] hiteshagja commented on #6720
@kevinksullivan @parasharrajat

Could you please send upwork job external link or an offer?

[2022-03-04 10:01] dylanexpensify commented on #6807
Not overdue, waiting for proposals

[2022-03-04 10:02] dylanexpensify commented on #6807
Will update price

[2022-03-04 10:02] dylanexpensify commented on #7840
Getting posted!

[2022-03-04 10:04] dylanexpensify commented on #7840
Posted!

Internal: https://www.upwork.com/ab/applicants/1499687100051460096/job-details
External: https://www.upwork.com/jobs/~01eb90d36fc078a9f0

[2022-03-04 10:49] thesahindia commented on #7967
We can close this as this won't be needed after https://github.com/Expensify/App/pull/7850

[2022-03-04 11:27] Julesssss commented on #7463
Hi @okansahin, we'll reset the regression timer to when your second PR was merged. So you should be due for payment on Wednesday 9th

[2022-03-04 11:32] Julesssss commented on #7779
I'll pick this up for next week.

[2022-03-04 11:33] Julesssss commented on #7546
Merged, awaiting deployment

[2022-03-04 11:36] Julesssss commented on #7872
Okay, so although the error is expected, the app shouldn't hang.

Awaiting proposals

[2022-03-04 11:57] mdneyazahmad commented on #7980
## Proposal

We need to calculate correct value of `maxHeight`

https://github.com/Expensify/App/blob/0e3bbe77a3ed497b49ffb3ee32d952e480bda448/src/CONST.js#L377

[code]

Tested on `ios` and `android`, works well.

[2022-03-04 11:59] mdneyazahmad commented on #7980
The issue was also there in `android`

[2022-03-04 12:33] mdneyazahmad commented on #7980
@sobitneupane

https://user-images.githubusercontent.com/77761491/156764156-491770ca-de1a-42a4-877c-dea50d17459d.mp4

[2022-03-04 12:35] trjExpensify commented on #7975
Ah, wrong label @PauloGasparSv. If you need another set of engineering 👀 , probably worth tagging a buddy you think might be able to help, as reapplying the `Engineering` label won't assign someone new unless you unassign yourself.

My two cents is that we pop this issue on hold and test again after the fix in https://github.com/Expensify/App/issues/6059 has merged.

[2022-03-04 13:09] parasharrajat commented on #6720
@hiteshagja That can be arranged on the payment date. Be assured for the payment.

But before that, we faced a regression which I think is caused by your PR. https://expensify.slack.com/archives/C01GTK53T8Q/p1646351449854569

[2022-03-04 13:28] parasharrajat commented on #7838
try any of these keyboards in the URL based on the step you are looking.
[code]

[2022-03-04 13:32] hiteshagja commented on #6720
I will look into.

[2022-03-04 13:54] TwizzyIndy commented on #7980
# Proposal

1. We should declare `maxLines` and `style` in `PropTypes`. Just like the Desktop view did.

https://github.com/Expensify/App/blob/0e3bbe77a3ed497b49ffb3ee32d952e480bda448/src/components/TextInputFocusable/index.ios.js#L15-L17

[code]

2. We should also have them in `defaultProps`
https://github.com/Expensify/App/blob/0e3bbe77a3ed497b49ffb3ee32d952e480bda448/src/components/TextInputFoc

[2022-03-04 14:10] adeel0202 commented on #7838
Thanks @parasharrajat, but I have already tried all those in the URL but no luck. I have also managed to add a test bank account on staging (thanks to [this slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1646163503484199) thread), went through all the steps but still couldn't acces `TermsStep` component 😐

[2022-03-04 14:25] mdneyazahmad commented on #7980
Adding to my initial proposal https://github.com/Expensify/App/issues/7980#issuecomment-1059099170 we can alternatively pass the required props and calculate the `maxHeight`

[code]

[2022-03-04 14:54] mdneyazahmad commented on #7584
@mountiny Sorry for the delay. Please, give me one more day.

[2022-03-04 15:09] kidroca commented on #4264
I find UA's Push Notifications API for react-native lacking other useful functionalities
- when app is foregrounded get all unprocessed notifications (like when you open App from it's icon and not from a notifications in the notification bar)
- clearing notifications - we'd probably want to automatically dismiss a notification when user sees a chat for which they have a notification in the notific

[2022-03-04 15:11] mountiny commented on #7584
Thank you for chiming in :)

[2022-03-04 15:20] kidroca commented on #4264
Hmm actually it was just hard finding these docs: https://docs.airship.com/reference/libraries/react-native/latest/urbanairship-react-native/classes/_urbanairship_.urbanairship.html

There are methods covering above items like:
- https://docs.airship.com/reference/libraries/react-native/latest/urbanairship-react-native/classes/_urbanairship_.urbanairship.html#getactivenotifications
- https://docs.

[2022-03-04 15:23] bfitzexpensify commented on #6470
Merged, will be deployed to staging after the next production release.

[2022-03-04 15:24] bfitzexpensify commented on #7091
You bet - doubled to $1,000.

[2022-03-04 15:30] bfitzexpensify commented on #7516
Cool, removed the hold from the title.

[2022-03-04 15:31] bfitzexpensify commented on #7588
@stitesExpensify is there a specific issue for the back-end changes? Will update this issue to put it on hold, and can link to that so I can check myself for when that is complete.

[2022-03-04 15:31] parasharrajat commented on #7980
Ok, we can calculate the maxHeight of the component based on max lines. I like @mdneyazahmad 's [proposals](https://github.com/Expensify/App/issues/7980#issuecomment-1059207617).

But this const is also used in `SwipeableView` so we need a way to share the value across both components.

cc: @pecanoro
:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-03-04 15:39] pecanoro commented on #7980
Cool! @mdneyazahmad I assigned you the issue, don't forget to apply for the job in Upwork

[2022-03-04 15:43] pecanoro commented on #7853
@shawnborton Awesome, thanks! I updated the description to add that so when we export the issue, it's clear what we want to accomplish.

[2022-03-04 15:48] parasharrajat commented on #7091
@thienlnam

### Updated Proposal:

I debugged this a little more this time. I found out the real cause of the issue.
TLDR:

The issue is caused by the wrong drawer history https://github.com/Expensify/App/blob/0e3bbe77a3ed497b49ffb3ee32d952e480bda448/src/libs/Navigation/CustomActions.js#L104.

This history is used to close the drawer when we navigate to the report screen so that users don't see LH

[2022-03-04 15:52] rushatgabhane commented on #7524
@eVoloshchak that's understandable, please take care and I'm looking forward for your PR :)

[2022-03-04 15:52] luacmartins commented on #7838
I'd hard-code `currentStep` [here](https://github.com/Expensify/App/blob/3d2ec235a49198fe7759bfff0bf022e644b3d27b/src/pages/EnablePayments/EnablePaymentsPage.js#L35) to show `termsStep` for testing purposes and navigate to `/settings/payments/enable-payments`. You can find these routes in [linkingConfig.js](https://github.com/Expensify/App/blob/3d2ec235a49198fe7759bfff0bf022e644b3d27b/src/libs/Nav

[2022-03-04 15:54] luacmartins commented on #7524
Reassigning @eVoloshchak to the job.

[2022-03-04 15:54] bfitzexpensify commented on #7679
Yes, I also can't quite see the issue here. Tested on iOS and desktop, and the behaviour looks correct to me:
- you can search and add participants until you hit the max number of participants
- when you hit the limit, search doesn't return any results
- if you remove one of the participants, search and adding works again

That runs counter to the original post — the behaviour right now is as expe

[2022-03-04 15:54] #7679 closed

[2022-03-04 15:58] bfitzexpensify commented on #7856
OK, adding the engineering tag back then.

[2022-03-04 16:26] parasharrajat commented on #7872
It is caused by the same reason I posted here https://github.com/Expensify/App/issues/7768#issuecomment-1044879541.

[2022-03-04 16:44] parasharrajat commented on #7363
Moving up...

[2022-03-04 16:47] thesahindia commented on #7963
### Proposal
There's no placeholder in mWeb so if we pass forceActiveLabel, the label will stay active for mWeb when there isn't anything in the field, here's a screenshot:-
<img width="475" alt="Screenshot 2022-03-04 at 10 16 18 PM" src="https://user-images.githubusercontent.com/83179295/156804433-ece70295-fc2f-48e3-9143-7d2f2a90017c.png">

I propose we pass `forceActiveLabel` when the `canUseTou

[2022-03-04 16:49] aldo-expensify commented on #7856
@justinpersaud  do you know if this is something that has to be done in the [Cloudflare workers](https://github.com/Expensify/Cloudflare-Workers) or somewhere else?

[2022-03-04 16:53] laurenreidexpensify commented on #7474
@thesahindia @mdneyazahmad I've issued payment
@parasharrajat just waiting for you to accept contract in UW and then I'll issue for you 👍🏽

[2022-03-04 16:56] jboniface commented on #7259
any updates here @danieldoglas ?

[2022-03-04 17:03] OSBotify commented on #7954
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8011) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.41-5` :rocket:

[2022-03-04 17:03] OSBotify commented on #7954
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.41-5 has been deployed to staging :tada:

[2022-03-04 17:26] pecanoro commented on #7619
Ok, I am going to close since it cannot be reproduced.

[2022-03-04 17:26] #7619 closed

[2022-03-04 17:37] laurenreidexpensify commented on #7474
and everyone is paid now. nice work all.

[2022-03-04 17:37] #7474 closed

[2022-03-04 17:49] laurenreidexpensify commented on #7798
Increased pricing to $500

[2022-03-04 17:53] Julesssss commented on #7872
Aha, thank you @parasharrajat. I'll close this.

[2022-03-04 17:53] #7872 closed

[2022-03-04 18:00] bfitzexpensify commented on #7965
Upwork post [here](https://www.upwork.com/jobs/~0141c86076b12b31a4)

[2022-03-04 18:21] jboniface commented on #7963
posted [here](https://www.upwork.com/jobs/~01f979e1957ef74c7c)

[2022-03-04 18:23] jboniface commented on #7853
posted [here](https://www.upwork.com/jobs/~01022524387d167a0e)

[2022-03-04 18:43] Santhosh-Sellavel commented on #7903
@rushatgabhane I am 50-50 here, so let's ask in the Slack channel to get an opinion on what's expected here.

[2022-03-04 18:51] bfitzexpensify commented on #7971
Upwork post [here](https://www.upwork.com/jobs/~0146ffcd7428306d31) — @mdneyazahmad, please apply there to be hired for reporting.

[2022-03-04 19:03] michelle-thompson commented on #7706
How about something like this?
![image](https://user-images.githubusercontent.com/43361905/156825801-2c911c4f-dd34-45d3-975e-ecc368859c55.png)

[2022-03-04 19:17] Santhosh-Sellavel commented on #7903
Asked in channel thread [link](https://expensify.slack.com/archives/C01GTK53T8Q/p1646419564724909)

[2022-03-04 19:40] #7440 closed

[2022-03-04 19:52] thienlnam commented on #7091
@parasharrajat The proposal looks good to me, thanks for the thorough explanation!

[2022-03-04 19:53] parasharrajat commented on #7791
Although the technique is correct the proposal is a little wrong.  You should use `PolicyUtils.isDefaultRoom` instead. But that is something hard to know without design docs so I wouldn't blame you.

I like @sobitneupane's [proposal](https://github.com/Expensify/App/issues/7791#issuecomment-1056496565).

cc; @chiragsalian

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-03-04 20:00] #6821 closed

[2022-03-04 20:01] chiragsalian commented on #7791
Proposal LGTM and I like @parasharrajat suggestions too.
Feel free to create the PR @sobitneupane.

[2022-03-04 20:04] Santhosh-Sellavel commented on #7791
Hi @chiragsalian or @parasharrajat,

For which rooms we should show these buttons and how to create the room?

[2022-03-04 20:10] PauloGasparSv commented on #7975
It looks like the changes in https://github.com/Expensify/App/issues/6059 were merged into main, but I also don't have a VPN client here to test this with

[2022-03-04 20:12] mallenexpensify commented on #7811
Just happened to me, here's logs if it's helpful.
[focus mode _ crash.txt](https://github.com/Expensify/App/files/8188514/focus.mode._.crash.txt)

[2022-03-04 20:17] mallenexpensify commented on #7579
I should have been more clear. What I mean is... new chats **in existing conversations**

Unsure, I'll try to check the next time it happens

I have 50 chats that are unread, most are further down LHN, not at the very top.

I never reference my badge count so I don't know.  I get the message/notification on mobile, not sure if I get a desktop notification cuz I often refresh. I think I'll **not**

[2022-03-04 20:21] shawnborton commented on #7706
I like it!

[2022-03-04 20:26] NikkiWines commented on #8005
Made a snippet to show the keyvaluepairs containing an `unreadActionCount` greater than 0
[code]

[2022-03-04 20:27] NikkiWines commented on #8005
I think this can probably be an external issue? I'm not personally experiencing this so it's a bit difficult to debug.

[2022-03-04 20:34] puneetlath commented on #7007
@kadiealexander @marcaaron I'm handing this over to y'all since I'm going on my two month sabbatical now.

@marcaaron I've assigned you to the PR as well.

@kadiealexander Contract for the fix: https://www.upwork.com/ab/c/8577561/contracts/29255931#milestones%2F20220203%2F20220304
Looks like there isn't a C+ contract so we'll need to create that as well.

[2022-03-04 20:38] puneetlath commented on #3245
@laurenreidexpensify @Julesssss I'm handing this over to y'all since I'm going on my two month sabbatical now.

@Julesssss I've assigned you to the remaining PR as well. There were 3 total PRs for this issue.

@laurenreidexpensify Contract for the fix: https://www.upwork.com/ab/c/8577561/contracts/28983469#milestones%2F20220203%2F20220304
Looks like there isn't a C+ contract so we'll need to creat

[2022-03-04 20:45] #7810 closed

[2022-03-04 20:45] #7811 closed

[2022-03-04 20:46] michelle-thompson commented on #7706
Cool! Curious what ya think @kevinksullivan

[2022-03-04 20:49] puneetlath commented on #6584
@michaelhaxhiu @iwiznia I'm handing this over to y'all since I'm going on my two month sabbatical now.

@michaelhaxhiu  Contract for the fix: https://www.upwork.com/ab/c/8577561/contracts/29258288#milestones%2F20220131%2F20220301. There are separate milestones for each input that is being refactored/merged as well as one for the update to storybook.

Looks like there isn't a C+ contract so we'll n

[2022-03-04 20:49] rushatgabhane commented on #6584
Bye @puneetlath, see you after 2 months!

[2022-03-04 20:52] mateusbra commented on #8006
### PROPOSAL
(if external)

1. First we have to add translations to en.js and es.js:
[code]
2. We should create a new action within [ContextMenuActions.js](https://github.com/Expensify/App/blob/2837a6a82a2fed1f3b25dcf088896b6b32817556/src/pages/home/report/ContextMenu/ContextMenuActions.js):
https://github.com/Expensify/App/blob/2837a6a82a2fed1f3b25dcf088896b6b32817556/src/pages/home/report/Contex

[2022-03-04 20:55] jboniface commented on #7675
merged but not deployed

[2022-03-04 20:59] marcaaron commented on #6821
I think we should still do this. Maybe as part of the Offline project or some future code cleanup initiative.
But, might not be a priority to fix this yet and for now easiest to put functions wherever is convenient 😄

[2022-03-04 21:14] ahmdshrif commented on #7810
hi, @ctkochan22  how i can apply for reporting job?

[2022-03-04 21:29] luacmartins commented on #7163
I'll try to get to this next week.

[2022-03-04 21:46] Santhosh-Sellavel commented on #7523
@rushatgabhane @luacmartins I performed the audit forms couple of times. For all the forms, tab cycles work in the right order.

[2022-03-04 21:55] roryabraham commented on #7842
Seems something is wrong with our font loading. I've noticed that in some screenshots but not others. Not sure what the story is. Looks fine on staging in Chrome:

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/47436092/156846929-c1019ea2-91f3-430d-9756-fb079bc0225a.png">

But on Safari it looks like Times New Roman:

<img width="1467" alt="image" src="https://user-im

[2022-03-04 21:57] sonialiap commented on #8001
I can reproduce this on web
1. Open a chat in NewDot
2. Send: "first message"
3. Check LHN and it will show "first message"
4. Send: "second message"
5. Check LHN and it will show "second message"
6. Delete: "second message"
7. Check LHN and it will show "[Comment deleted]"
8. Refresh page
9. Check LHN and it still shows "[Comment deleted]"

[2022-03-04 22:00] roryabraham commented on #7842
Regarding the font, it's probably something simple and we just need to include the asset or something: https://storybook.js.org/docs/react/configure/styling-and-css#adding-webfonts

[2022-03-04 22:01] mallenexpensify commented on #7485
Rushat, we discussed internally and think $1000 is fair compensation for this project, do you agree?  If so I'll create an Upwork job to get ya paid

[2022-03-04 22:02] roryabraham commented on #7842
Regarding the other styles, we _are_ using some [css escape hatches](https://storybook.js.org/docs/react/configure/theming#css-escape-hatches) to provide more custom style than storybook officially supports. I very literally hacked [this](https://github.com/Expensify/App/blob/8551968c9b8ea1389fa6279cbaa1f09d451b3619/.storybook/public/index.css) together by inspecting at the html document and addin

[2022-03-04 22:03] roryabraham commented on #7842
This can be external.

[2022-03-04 22:16] kevinksullivan commented on #6720
Apologies @hiteshagja , I was OOO. Invited you to apply for the new job

https://www.upwork.com/jobs/~01a4bf9b60eba80639

[2022-03-04 22:20] kevinksullivan commented on #7980
+1 @mdneyazahmad please apply for the job in upwork and I'll hire you there as well. Thanks!

https://www.upwork.com/jobs/~013a3b361194e64884

[2022-03-04 22:20] mallenexpensify commented on #8007
@PauloGasparSv , if you start a discussion in Slack about an issue, can you include the link in a GH comment so folks know there is one going on? https://expensify.slack.com/archives/C01GTK53T8Q/p1646424394279479

I think we should move this forward since it will help with email addresses with periods, which are fairly common (inc. at least one at Expensify, which is how I found about the issue)

[2022-03-04 22:23] mallenexpensify commented on #7666
Thanks @kidroca , closing.
cc @michaelhaxhiu , cuz it's RCA

[2022-03-04 22:23] #7666 closed

[2022-03-04 22:31] kevinksullivan commented on #7791
@Santhosh-Sellavel you cannot create or edit the name on #admins or #announce rooms, so we will never show the options for these. The Invite/Leave options are only shown for user created rooms.

[2022-03-04 22:32] kevinksullivan commented on #7791
Invited to the job @sobitneupane !

[2022-03-04 22:37] Santhosh-Sellavel commented on #7791
Thanks, @kevinksullivan. The feature that allows users to create rooms is it in development?

[2022-03-04 22:42] tgolen commented on #7434
Not overdue

[2022-03-04 22:43] tgolen commented on #7014
@K4tsuki I am waiting to see if you can further diagnose the problem on the front-end using my latest suggestions. I don't think this is a backend issue at this point.

[2022-03-04 22:44] kevinksullivan commented on #7706
Looks great @michelle-thompson , thanks! Is there a figma file I can use to update the mocks in the OP? Once we get those together I can apply the external label and get this moving.

[2022-03-04 22:49] kevinksullivan commented on #8001
Think we should post this to upwork and export before throwing engineering on, right @sonialiap ? Going to follow that process now that I've posted it to upwork, but let me know if I am missing something!

[2022-03-04 22:49] mallenexpensify commented on #7970
I'm going to remove labels for now and not push this forward to get fixed.  @mdneyazahmad I appreciate you reporting the issue, we like to fix the large majority of issues and maybe we'll get to this someday (which you'd think be compensated for reporting, if so)

[2022-03-04 22:58] kevinksullivan commented on #7791
I believe this is under the `policyRooms` beta at the moment.

[2022-03-04 23:06] thienlnam commented on #7523
Since there isn't a PR associated with this, instead could you just record a video going through each form and demonstrating that these work as expected?  That way, we can consider it completed

[2022-03-04 23:23] marcaaron commented on #7613
Last PR still on staging.

[2022-03-04 23:25] marcaaron commented on #2727
Waiting for proposals

[2022-03-04 23:27] chiragsalian commented on #7791
Yes was kevin mentioned is correct. You can see the conditional check in the code [here](https://github.com/Expensify/App/blob/f3a3f37304ba9a50865dce0e11d7693cbb38d290/src/pages/home/sidebar/SidebarScreen.js#L140).
You can change that condition to true to see how the button looks in the front end. I'm pretty sure we don't have a backend check to block you from creating a user created room so you c

[2022-03-04 23:44] rushatgabhane commented on #7485
@mallenexpensify that sounds great! Thanks so much 🙇

[2022-03-04 23:47] mallenexpensify commented on #7485
Wonderful. I created a job and invited you, let me know once you've accepted
https://www.upwork.com/jobs/~01594cea0f8f35f46b

[2022-03-04 23:55] rushatgabhane commented on #7485
@mallenexpensify done ✅

[2022-03-04 23:59] rushatgabhane commented on #6069
@K4tsuki yep, that seems okay to me.

[2022-03-05 00:05] rushatgabhane commented on #6069
🎀 👀 🎀 C+ reviewed

@Luke9389 I recommend @K4tsuki's [proposal](https://github.com/Expensify/App/issues/6069#issuecomment-1058193355), and I'm interested in your thoughts on this.

**Autofocus** on TextInput breaks the animation because the browser scrolls to the TextInput.
The proposed solution fixes this by making the card's `position: fixed`.  However, mobile doesn't support position of type fix

[2022-03-05 00:12] adelekennedy commented on #8005
[Internal](https://www.upwork.com/ab/applicants/1499900368198955008/job-details)
[External](https://www.upwork.com/jobs/~01b20e0835268d79ec)

[2022-03-05 00:14] parasharrajat commented on #6720
Please reopen this issue @kevinksullivan

[2022-03-05 00:17] adelekennedy commented on #8005
@Santhosh-Sellavel @Beamanator it looks like the slack convo is [still evolving](https://expensify.slack.com/archives/C01GTK53T8Q/p1646285973562329) but I wanted to get the job posted this week

[2022-03-05 00:32] pecanoro commented on #7777
Not overdue, waiting for someone to propose a solution.

[2022-03-05 00:33] kavimuru opened #8014 "Desktop app size is 161 Mb instead 90 Mb"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue found when executing #7744**
## Action Performed:
1. Download the Desktop app .dmg and verify the size

## Expected Result:
The size is close to 90 Mb

## Actual

[2022-03-05 00:43] MitchExpensify commented on #7969
[Upwork Job](https://www.upwork.com/jobs/~01471d0ae4e553a0d6)

[2022-03-05 00:47] MitchExpensify commented on #7842
[Upwork Job](https://www.upwork.com/jobs/~010456e76659ba7500)

[2022-03-05 00:50] mallenexpensify commented on #7485
Hired, let me now once you've accepted... again (damn Upwork...) and I'll pay

[2022-03-05 00:51] rushatgabhane commented on #7842
hehe

[2022-03-05 00:51] parasharrajat commented on #7969
I can clearly see that this page needs some refactoring for the correct UI. I like @thesahindia 's proposal.
I will pick on some refactoring in the PR review.

cc: @Luke9389

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-03-05 00:57] K4tsuki commented on #7014
@tgolen I am sorry for late reply. If I am not wrong, the only task in front end to create split is sending this request:

https://github.com/Expensify/App/blob/d4ed740be06862eb4ea31fa831de9416f7ed0a55/src/libs/actions/IOU.js#L107

And the back end will make two message `Split ....` and `Requested ...` store in database and also send it to pusher.

Front end doesn't create `Split ....` and `Reques

[2022-03-05 00:59] rushatgabhane commented on #7485
Accepted 😂

[2022-03-05 01:07] kavimuru opened #8015 "Desktop - App is stuck with blank screen when logout from expensifail and login with gmail account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing the PR #7805**
## Action Performed:
1. Logging in and logging out as fast as possible a few times between two account: applausetester+092

[2022-03-05 01:07] rushatgabhane commented on #7965
@sobitneupane we have an extreme edge case.
1. In compose box, `Shift + Enter` to create a new line.
2. Press up arrow.
Expected result
Cursor moves to first line of compose box.

Actual result
Edit box is opened.

https://user-images.githubusercontent.com/29673073/156860813-cbdbfd6f-be97-43c1-872d-a7e0469296eb.mov

[2022-03-05 01:20] rushatgabhane commented on #7903
Great, thanks. Added my thoughts in the 🧵

[2022-03-05 02:14] mollfpr commented on #7842
## Proposal

Hi everyone, I want to try this story 😁

1. For the sidebar text unreadable, I add this to change the background of sidebar
`.sidebar-container {
    background: #0b1b34;
}`

2. For the font, I include `../assets/css` to serve as static files and then add the `fonts.css` to `manager-head.html`

## Result

https://user-images.githubusercontent.com/25520267/156863736-6da41d53-5f5d-4bf1-

[2022-03-05 02:54] Daneyl commented on #7969
On line 28 of GenericErrorPage.js we are applying alignItem ‘start’, which according to the requirements should be ‘center’ instead.

[2022-03-05 03:21] K4tsuki commented on #8005
#### proposal

The problem is there is (are)  report(s) that has unread message but the report is not displayed in LHN.
LHN doesn't display all reports retrieved from `Get chatList,` it filters out some reports.

https://github.com/Expensify/App/blob/d4ed740be06862eb4ea31fa831de9416f7ed0a55/src/libs/OptionsListUtils.js#L740

<br />

My solution is to count unread messages only in reports that are

[2022-03-05 03:43] osama256 commented on #7971
Proposal****<hr>

in node_modules/expensify-common/lib/EpensiMark.js add this function :
[code]

call it under replace() :
[code]

it replace any backtricks more than 3's to 3, here is how it work

https://user-images.githubusercontent.com/51829206/156866364-fa292c69-81ea-491e-bc27-6c43ac2dfffc.mov

[2022-03-05 05:38] hiteshagja commented on #6720
@parasharrajat

I have tried a lot to re-generate this issue but I could not. It's working fine for me. If it's still happening in yours then could you please suggest steps to re-generate the same.

https://user-images.githubusercontent.com/5493716/156869844-ac110281-5454-4b26-b4d9-a3b00c3f4a60.mp4

[2022-03-05 05:54] phivh commented on #7853
**Proposal:**
Remove the box-shadow in
https://github.com/Expensify/App/blob/d4ed740be06862eb4ea31fa831de9416f7ed0a55/web/index.html#L35-L37

[code]
Demo:

https://user-images.githubusercontent.com/5449119/156870304-b111787b-8e78-4837-a27a-2ab9c4517ac3.mp4

[2022-03-05 09:37] mdneyazahmad commented on #7980
@kevinksullivan applied

[2022-03-05 10:56] mollfpr commented on #7853
## Proposal

Adding event listener to type`keydown` and call `blur()` to unfocus the component. In this way, the keyboard accessibility still working. We can add a prop to determine should this function is activated or not.

[code]

https://github.com/Expensify/App/blob/d4ed740be06862eb4ea31fa831de9416f7ed0a55/src/components/PressableWithSecondaryInteraction/index.js#L18-L23

## Result

https://us

[2022-03-05 12:47] mollfpr commented on #7840
## Proposal

Using the `withFullPolicy` hoc to make `policy` prop available and passing it the `policy.name` to `HeaderWithCloseButton` subtitle prop.

The component to be wrapped are :
`WorkspacePageWithSections` (for settings, cards, reimburse, bills, invoices, and travel page)
`WorkspaceMembersPage` (for members page)
`WorkspaceBankAccountPage` (for bank-account page)

## Result

https://user-i

[2022-03-05 13:41] ahmdshrif commented on #8001
I think this is already solved with this pr.

https://github.com/Expensify/App/pull/7711

@sonialiap do you still repro it on stage?

[2022-03-05 15:43] sokolenkov commented on #7853
I can easilly fix this issue without adding any JS code into the project. Contact me, if this issue is still appears

[2022-03-05 16:41] mollfpr commented on #7965
## Proposal

https://github.com/Expensify/App/blob/d4ed740be06862eb4ea31fa831de9416f7ed0a55/src/pages/home/report/ReportActionCompose.js#L144
[code]
This will fix the button active while comments are empty.

---
https://github.com/Expensify/App/blob/d4ed740be06862eb4ea31fa831de9416f7ed0a55/src/pages/home/report/ReportActionCompose.js#L310
[code]
Trim the comment on update

---
https://github.com/E

[2022-03-05 20:03] rushatgabhane commented on #7853
@sokolenkov how do you plan to fix this issue?
I'd suggest that you read https://github.com/Expensify/App/blob/d4ed740be06862eb4ea31fa831de9416f7ed0a55/CONTRIBUTING.md before posting a proposal, thanks!

[2022-03-06 00:37] kbecciv opened #8020 "mWeb - Workspace - If no user is selected, the "Return" button on keyboard does not function"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open https://staging.expensify.cash on mWeb Safari
2, Log with any account
3. Navigate to Settings > Workspace > Manage members > Invite
4. Witho

[2022-03-06 06:04] sobitneupane commented on #7965
Do you mean [the proposed solution](https://github.com/Expensify/App/issues/7965#issuecomment-1056712061) creates this issue?
In that case, we can solve it by changing following line of code:
https://github.com/Expensify/App/blob/d6e64b37e2cc38a692b0778de3348e6e7da924f0/src/pages/home/report/ReportActionCompose.js#L349

[code]

This will yield the existing behaviour.

[2022-03-06 06:20] parasharrajat commented on #8020
Duplicate. We are fixing it https://github.com/Expensify/App/pull/7920

[2022-03-06 13:16] sokolenkov commented on #7853
@rushatgabhane I need access to the main styles file, where I need to make small change. Hasn't this issue been fixed by previous contributors yet?

[2022-03-06 13:21] parasharrajat commented on #6720
It happens sometimes only.
1. Open the app directly via URL localhost.8080.
2. Open the newChat page from heavy_plus_sign:  and then click on any chat to open.
3. Sometimes, opening the new Chat does not land on the requested chat instead the last recent open chat is refreshed.
4. Try mixing the navigation via LHN or the New Chat page.

[2022-03-06 13:28] parasharrajat commented on #7121
@K4tsuki Could you please post your final complete proposal so that I can review it?

[2022-03-06 20:02] rushatgabhane commented on #7967
@thesahindia tried 7850, it didn't fix it

[2022-03-06 20:07] thesahindia commented on #7967
@rushatgabhane, the enter works on confirm Modal but not confirm popover, after #7850 both will use the same content so the enter will work on confirm popover too. I tested it and it worked.

[2022-03-06 20:14] mdneyazahmad commented on #7584
I have found a library that does the same thing we want https://www.npmjs.com/package/react-native-image-progress. This is a very small library `243` loc only. We can install it or can do something similar. It has 1 more feature like when we load image from cache. We can provide a `threshold` `default: 50ms` value to wait before showing indicator so that it does not flash the indicator if loading

[2022-03-06 21:29] SofiedeVreese commented on #7935
hey @thienlnam sorry- just to confirm, did you 🟢 @kidroca 's proposal? Just keen to get the ball rolling here.

cc @parasharrajat

[2022-03-06 21:39] Santhosh-Sellavel commented on #7963
Discussing on this one internally https://expensify.slack.com/archives/C02NK2DQWUX/p1646602488884009

[2022-03-06 21:45] Santhosh-Sellavel commented on #7966
I will check on this by Wednesday.

[2022-03-06 21:52] Santhosh-Sellavel commented on #8005
LHN doesn't display all reports retrieved from Get chatList, it filters out some reports.

@K4tsuki Can you answer the following questions.
1. What reports are filtered out?
2. Why its get filtered?

[2022-03-06 22:59] kadiealexander commented on #7007
@parasharrajat could you please apply to this job so I can ensure you're paid as C+ for this issue?

https://www.upwork.com/jobs/~014e81c4ea89fec588

[2022-03-06 23:10] SofiedeVreese commented on #7905
Hmm @mountiny can I get your eyes on this one, isn't this very similar to the PR [here](https://github.com/Expensify/App/pull/7723)? I'm a little confused!

[2022-03-06 23:26] mountiny commented on #7905
@SofiedeVreese Yest, it is similar. That PR has been reverted as it has introduced regression and we are waiting for @mdneyazahmad to raise the PR again.

I think this proposal is specific for the image viewer which is different although close one indeed. We should Export this 👍

[2022-03-06 23:29] mountiny commented on #7584
@mdneyazahmad Thank you for the comment. Would you be able to elaborate on the issue which was experienced on staging and maybe also why we did not see it in the PR itself?

Can we not solve the problem without adding a new library?

[2022-03-06 23:34] SofiedeVreese commented on #7905
Ok amazing thank you @mountiny. Exporting now..

[2022-03-06 23:35] SofiedeVreese commented on #7905
Upwork job posting: https://www.upwork.com/jobs/~01005e24ac6ae4f772

[2022-03-06 23:57] kelvinkaicheung commented on #7007
There is a function I would use to remove the ( ) and  -
accept my proposal on upwork to continue

[2022-03-07 00:25] mateusbra commented on #7638
When we have `props.credentials.login` `undefined` we won't execute the second part of the ternary handle. It will break here trying to do `undefined.replace`:
https://github.com/Expensify/expensify-common/blob/f77bb4710c13d01153716df7fb087b637ba3b8bd/lib/str.js#L924-L943
![image](https://user-images.githubusercontent.com/56851391/156948160-ac3fc40a-3569-4760-b662-542a01471971.png)

Ideally we sho

[2022-03-07 01:39] kadiealexander commented on #7712
Yes, only one decimal should be allowed here.

[2022-03-07 02:29] jliexpensify commented on #7486
Hi @mountiny - just wanted to check: you mention there's a PR merging for this issue, so should I be creating an issue in Upworks? Thanks!

[2022-03-07 02:42] sehgalrishabh commented on #7905
Hello, we can use Image component's loading feature to set a flag if it's loading or not and show a loading indicator if flag is true.

[2022-03-07 02:54] SofiedeVreese commented on #7598
I've hired you in Upwork @Regaron

Cc @parasharrajat

[2022-03-07 04:09] mvtglobally commented on #7954
Comments left.
https://github.com/Expensify/App/pull/7662#issuecomment-1055849471
https://github.com/Expensify/App/pull/7594#issuecomment-1060162234
https://github.com/Expensify/App/pull/7922#issuecomment-1060166358

PR #7744 is failing due to #8014
PR #7805 is failing due to #8015
PR #7891 is failing due to #7980

Checking off #7879 as #7982 was closed
Checking off #7996 & #7989 verified it is au

[2022-03-07 06:15] hiteshagja commented on #6720
@parasharrajat

I have tried steps provided and tried many random steps (LHN + New Chat) + RHN but never come across scenario which you described. It's all working fine. Even tried different logins to check the same but that also worked well.

[2022-03-07 07:00] mananjadhav commented on #7475
I did try `flex1`. I've tried a few other things as well like height, max-height, etc. So far none of them worked. We could create View wrapper with `100vh` and use it for web vs native.

[2022-03-07 07:01] mananjadhav commented on #7547
Sorry, I didn't understand what did we conclude here @roryabraham

[2022-03-07 07:09] ctkochan22 commented on #7810
Adding External label so reporter can be rewarded!

[2022-03-07 08:11] parasharrajat commented on #7475
Ok. Thanks. Let me see if I can still reproduce this.

@mananjadhav Could you please share the following?
1. Versions details for chrome and safari you are using.
2. APP version.
3. App Environment.

[2022-03-07 08:52] Stutikuls commented on #7759
Checked all PRs except 2 (#7681, #7674 - have doubts waiting for the response) and added comments to all PRs where accessibility issue were found without Android platform(due to build issue on Android).
The non-applicable PRs are -  #7318  #7614  #7632 #7658 #7673 #7684

[2022-03-07 08:53] dylanexpensify commented on #7549
not overdue

[2022-03-07 10:06] trjExpensify commented on #7739
@sobitneupane, I can't see that you've applied to the job on Upwork yet. Are you still interested?

[2022-03-07 10:18] sobitneupane commented on #7739
Yes, I am. Applied for the job.

[2022-03-07 10:22] trjExpensify commented on #7739
Perfect, hired. 👍

[2022-03-07 10:31] parasharrajat commented on #7905
Thanks for the proposal @sehgalrishabh. Could you please share more details? See an example of [proposal](https://github.com/Expensify/App/issues/7905#issuecomment-1050615552).

[2022-03-07 10:33] parasharrajat commented on #7905
@mdneyazahmad Why do we need to do this if the image is still loading? technically, it's not visible as it is not yet loaded.

[2022-03-07 10:36] parasharrajat commented on #7712
@kakajann suggested the change on PR. Let's keep the technical discussion there. In Short, the user should be able to type any number after a decimal which will be auto rounded but not more than one decimal.

[2022-03-07 10:44] sehgalrishabh commented on #7905
Thanks for your response, can't share much details as in coding terms before starting the project officially. Hope you understand.
Regards

[2022-03-07 10:49] trjExpensify commented on #6676
Where are we at with the changes requested here to get the PR merged?

On this copy @jamesdeanexpensify, did we opt for `people` over `members` for a particular reason? We refer to users on a workspace as `members` (The pages are called `Manage members` and `Invite new members`), so wouldn't it make sense to also use `members` here?

[2022-03-07 10:54] Tabakharniuk commented on #6301
Answers to @parasharrajat  questions:

Since there are no designs, I've roughly estimated that canvas takes 90% of the screen on mobile. And in my opinion, 400 is is a good match on desktop.
Pseudocode:
[code]

The component supports images with a smaller size than canvas. It will just scale contain the canvas.

Answers to @tgolen  questions:

Okay, I updated the name in the initial proposal to `A

[2022-03-07 11:01] kidroca commented on #7935
Excuse me, I've skipped through this one and forgot to return
I would prefer to use my hourly contract as I did previously for persisted file handling

[2022-03-07 11:17] kidroca commented on #7584
Couldn't we achieve the same with something simple as

[code]

Initial `state.loading` would be `false`
As far as I saw, when something is loaded very quickly `onLoadStart/End` is not called (the indicator won't flash)

---

If for some reason (attachment uploads) initial `state.loading` need to be `true` we can remove `styles.dNone` which would trigger `onLoadEnd`
_(For some reason Image without

[2022-03-07 11:22] trjExpensify commented on #7862
Followed up in the slack thread, sorry I missed the replies! 😅

[2022-03-07 11:23] trjExpensify commented on #7885
Adding the `Reviewing` label as a PR is up and in review.

[2022-03-07 11:29] trjExpensify commented on #5897
Any movement here?

[2022-03-07 12:25] mountiny commented on #7584
Thank you @kidroca!

@mdneyazahmad would you be able to test out whether these changes would prevent the bug seen previously?

[2022-03-07 12:29] mountiny commented on #7905
Just for context @parasharrajat, I think [this issue](https://github.com/Expensify/App/issues/7584) has similar contents and the solutions could be quite similar too.

[2022-03-07 12:40] mountiny commented on #7486
@jliexpensify That has been merged and we can proceed with this issue. We essentially just want to make sure the tooltip will be a box rather than just a single line if there is many emails and then cut the text with ellipsis if there would be too many emails (the exact max size of the box are not defined yet and we will need to find it probably with help of design team)

[2022-03-07 12:50] mdneyazahmad commented on #7584
When I started to work on this issue I also consider to make it `loading: false` by default. But I have seen at many places in our repository we use `loading: true` by default so went forward with this pattern.

I am still unable to find the root cause. It seems to work fine from my side even with previous pr and also @kidroca findings

I am testing with these changes and post my findings soon.

[2022-03-07 12:52] parasharrajat commented on #5897
Nope. We should export it again. I don't see any way to fix it atm. You can remove the report by me from the issue details and just reopen it for the start price. I can review the proposals as C+.

[2022-03-07 12:53] rushatgabhane commented on #7965
🎀 👀 🎀 C+ reviewed

@NikkiWines, I like @mollfpr [proposal](https://github.com/Expensify/App/issues/7965#issuecomment-1059794053).

[2022-03-07 12:55] parasharrajat commented on #6301
What will be scaled? Image or Canvas?

[2022-03-07 12:57] Tabakharniuk commented on #6301
The image will be scaled.

[2022-03-07 12:59] parasharrajat commented on #6301
Ok. Sounds good.

[2022-03-07 13:04] parasharrajat commented on #7935
Removing myself from C+. it seems this issue was created from a mutual agreement and the proposal is already reviewed.

[2022-03-07 13:10] parasharrajat commented on #7091
PR is ready.

[2022-03-07 13:58] PauloGasparSv commented on #8007
Sure @mallenexpensify!
All right, moving it forward!

[2022-03-07 14:01] rushatgabhane commented on #7967
@thesahindia sorry I thought that `enter` key should work for the first delete menu too

[2022-03-07 14:23] NicMendonca commented on #7792
@K4tsuki are you keen to submit a proposal or this?

[2022-03-07 15:15] aldo-expensify commented on #8001
I tried to replicate it today, I couldn't. Maybe as @ahmdshrif says, that PR fixed it.

[2022-03-07 15:17] Beamanator commented on #7792
@NicMendonca I wonder if it's time to double the price for this issue? :)

[2022-03-07 15:18] aldo-expensify commented on #8001
I'll close this as it seems to be fixed ;), feel free to reopen if someone still experiences this issue.

[2022-03-07 15:18] #8001 closed

[2022-03-07 15:54] shawnborton commented on #7541
Removing overdue label.

I like the idea of being able to control just how large the largest font size gets.

[2022-03-07 16:08] tgolen commented on #7014
OK, thank you for the information! That will help us to dig into the problem on the backend and see what's going on. For now I am going to remove the `external` label and move it to be `internal`.

[2022-03-07 16:10] K4tsuki commented on #7792
I am sorry @NicMendonca currently I am a little busy with other tasks, I cannot submit proposal right now. I am sorry.

[2022-03-07 16:15] michelle-thompson commented on #7706
I added it to the same exploratory area in the [link](https://www.figma.com/file/FzCF9DxQo7SRjNP3COTUsp/Free-Plan-Admins?node-id=779%3A15748) you sent above!

[2022-03-07 16:18] tgolen commented on #6301
That answers most of my questions! Thank you for providing those details.

I'm curious about the web/desktop cropping too. That seems to be the only remaining detail.

[2022-03-07 16:23] parasharrajat commented on #6301
One point that I noticed is that we will have to use hooks to use reanimated API. we don't use hooks normally. Am I thinking correctly?  If yes, @tgolen Do you think we would be able to make a exception for these components.

[2022-03-07 16:25] tgolen commented on #6301
I believe our policy is that when integrating with third-party-libs, if there is no out-of-the-box except hooks, then it is an allowed exception.

[2022-03-07 16:27] parasharrajat commented on #6301
Ok. Thanks.

[2022-03-07 16:39] Santhosh-Sellavel commented on #7688
cc: @iwiznia or @jliexpensify Can someone assign me this one.
@rushatgabhane PR is ready for review in case you missed it.

[2022-03-07 17:05] deetergp commented on #7524
Not overdue. Awaiting a PR.

[2022-03-07 17:34] kevinksullivan commented on #7547
Also noting that we are seeing this issue in the `Personal address` field within the Wallet upgrade flow [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1646440496177939) to ensure the solution is applied there as well.

[2022-03-07 17:45] marcaaron commented on #7912
Still waiting for a proposal.

[2022-03-07 17:54] NikkiWines commented on #7487
Oh nice, I wasn't aware we had something in the works to add a `lastEdited ` timestamp - let's put this on hold until that functionality is added and then we can re-open and discuss from there.

[2022-03-07 17:57] adeel0202 commented on #7839
### Proposal (If considered external)

We can add a new method to set the `error` state to false if both checkboxes are checked. (maybe somebody can suggest a better method name)
[code]
We can then call this method after state has been changed in `toggleDisclosure` and `togglePrivacyPolicy` methods, like this

[2022-03-07 17:58] francoisl commented on #7954
Hi @mvtglobally, for the last two comments you left (https://github.com/Expensify/App/pull/7594#issuecomment-1060162234 and https://github.com/Expensify/App/pull/7922#issuecomment-1060166358), someone left a suggestion [here](https://github.com/Expensify/App/pull/7922#issuecomment-1060296525) explaining how to test.

[2022-03-07 18:17] thienlnam commented on #7935
@SofiedeVreese Yup, I approved the proposal!

@kidroca Feel free to record this as part of persisted file handling

[2022-03-07 18:21] thienlnam commented on #7091
@bfitzexpensify I've just merged the PR, leaving this note here for you once the PR is deployed and the regression period is complete

Tushu17 - Reporting payout - $250
brianmuks - Original assistance to help find solution - $250
parasharrajat - Issue completion - $1000

[2022-03-07 18:32] Beamanator commented on #8014
@kidroca it looks like in the test steps of your PR (https://github.com/Expensify/App/pull/7744), you mentioned:

However, when downloading I see the app as 154mb - do you think this is "close enough" to 90mb or is something else included that needs to be removed?

[2022-03-07 18:32] chiragsalian commented on #6877
Ah i guess we did get a bit sidetracked in this issue. I agree with @mallenexpensify that if we allowed validateCode to be entered manually then we should propose it as a new feature so for now let's not consider it. I like the steps proposed but how about we keep it simpler and not include step 3, only because atm we don't do more complex redirects in newDot (like redirecting to specific page onc

[2022-03-07 18:39] parasharrajat commented on #6877
Sounds approachable to me @chiragsalian.

[2022-03-07 18:47] francoisl commented on #8015
I think this is expected, in the sense that the app has to load a lot of chat data after signing in. I can reproduce the same issue with the production desktop app and the web app, so I'd say it's most likely not a deploy blocker.

I don't know if it would have anything to do with https://github.com/Expensify/App/pull/7805 though (or if that PR could have made the problem worse) - @kidroca curious

[2022-03-07 19:05] parasharrajat commented on #7844
@mallenexpensify https://github.com/Expensify/App/issues/7844#issuecomment-1048975682

[2022-03-07 19:07] parasharrajat commented on #7858
@marcochavezf Proposals above. I also proposed so I am waiting for your review.

[2022-03-07 19:11] parasharrajat commented on #7516
@kbecciv Could you please retest it?

[2022-03-07 19:29] roryabraham commented on #7547
@mananjadhav sorry for the confusion.

So my understanding of the problem in this case is that you cannot render a VirtualizedList (aka FlatList) nested within a ScrollView of the same orientation.

I think that the best solution to this problem would be to use the [second solution listed in this comment](https://github.com/Expensify/App/issues/7547#issuecomment-1040743342). We could also just use

[2022-03-07 19:35] bfitzexpensify commented on #7965
Can do - @mollfpr, please apply to the Upwork post [here](https://www.upwork.com/jobs/~0141c86076b12b31a4)

[2022-03-07 19:36] bfitzexpensify commented on #7965
@ahmdshrif, can you please also apply at that same link for the reporting bonus?

[2022-03-07 19:37] parasharrajat commented on #7547
Yup sounds like a good option. I don't see a pitfall.

[2022-03-07 19:40] mollfpr commented on #7965
@bfitzexpensify Applied, thank you!

[2022-03-07 19:50] rushatgabhane commented on #7842
Unassigning 😅

[2022-03-07 19:53] mallenexpensify commented on #7485
Paid!  Should we leave this open til the .md file is deployed to production? To be _safe_?
https://github.com/Expensify/App/pull/7992

[2022-03-07 20:00] #6685 closed

[2022-03-07 20:05] mallenexpensify commented on #6301
@parasharrajat @tgolen I haven't doubled for a month, any reason I shouldn't double the price meow?

[2022-03-07 20:07] parasharrajat commented on #6301
We already have good proposals.  Just waiting for a few questions to be answered before development starts on this.

[2022-03-07 20:13] mallenexpensify commented on #6877
Thanks @chiragsalian !  I just doubled the price to $2000.  With [your steps listed above](https://github.com/Expensify/App/issues/6877#issuecomment-1061000993), hopefully we'll be able to get this fixed and put it to bed soon.

[2022-03-07 20:17] rushatgabhane commented on #7352
For this [proposal](https://github.com/Expensify/App/issues/7352#issuecomment-1052139980) @ahmdshrif

Try copy paste for these lines. Something to do with the text made bold using `*`
[code]

https://user-images.githubusercontent.com/29673073/157110753-1dc2b65e-8802-4a32-8b1b-2c7d73391055.mov

[2022-03-07 20:20] jboniface commented on #7644
@rushatgabhane or @iwiznia do you have input on the proposal?

[2022-03-07 20:21] francoisl commented on #8014
154 MB doesn't sound close enough to 90MB.

I'm thinking this might have had to do with https://github.com/Expensify/App/issues/7987, which is now resolved. When I download the staging app now, its size is 91MB as expected, but it shows as an unsupported app and I can't install it at all.

<img width="545" alt="image" src="https://user-images.githubusercontent.com/2229301/157111570-8f27e936-778f-4

[2022-03-07 20:21] mananjadhav commented on #6877
I had posted a proposal here https://github.com/Expensify/App/issues/6877#issuecomment-999732939 which covered almost everything that is expected. I had one question on if there's any feedback/growl to be shown when the user clicks.

[2022-03-07 20:22] luacmartins commented on #6883
Still looking for contributors

[2022-03-07 20:23] francoisl commented on #7954
Adding https://github.com/Expensify/App/issues/8014 as a deploy blocker pending more investigation, because the desktop app seems to be broken/uninstallable.

[2022-03-07 20:24] OSBotify commented on #8014
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-03-07 20:26] thesahindia commented on #6877
### Proposal
We can add the code written below inside [AddPersonalBankAccountPage ](https://github.com/Expensify/App/blob/main/src%2Fpages%2FAddPersonalBankAccountPage.js)to show the option to reset the link
[code]
We can use a state `isValidationLinkFormVisible` here when the user taps on `forgot` option we will call `Session.resetPassword` and will make the `isValidationLinkFormVisible` true and

[2022-03-07 20:29] mallenexpensify commented on #7844
I think we'd use iOS and Android defaults, if there is such a thing.  ie. I think long-pressing the link would open the popup from the bottom on iOS where you'd be able to see the link at the top of the pop up then have options below that for sharing/copying.  Not sure about Android

[2022-03-07 20:30] Santhosh-Sellavel commented on #7963
🎀👀🎀 C+ reviewed
I like @thesahindia proposal [here](https://github.com/Expensify/App/issues/7963#issuecomment-1059331159)

This would necessarily keep the same behavior as it is in the normal web for resized mode also.
And doesn’t affect the present mWeb behavior.

cc: @luacmartins

[2022-03-07 20:33] luacmartins commented on #7963
I think @thesahindia proposal is a better solution since it accounts for the cases where we don't have a placeholder.

[2022-03-07 20:38] Beamanator commented on #8014
Yeah good call that does look related - @roryabraham can you help with this issue?

[2022-03-07 20:45] rushatgabhane commented on #7644
Extremely sorry for the delay

@ahmdshrif we just need to handle this case - https://github.com/Expensify/App/issues/7352#issuecomment-1061093432

[2022-03-07 20:48] rushatgabhane commented on #7352
@blacknight3 it'd be great if we can find a solution without using any extra libraries

[2022-03-07 20:50] Beamanator commented on #8014
@francoisl which download link are you using for the staging app? I used https://staging.new.expensify.com/NewExpensify.dmg and I'm currently seeing a 154 MB app downloading - i'll try running it once it downloads

[2022-03-07 20:51] rushatgabhane commented on #7352
@K4tsuki I think that's same as https://github.com/Expensify/App/issues/7352#issuecomment-1020288547 which seems like a hack

[2022-03-07 20:54] thienlnam commented on #7307
Asked for an update in the PR

[2022-03-07 21:00] thesahindia commented on #6807
@NikkiWines, we can close this, we don't have the back arrow button now, so there is no way to repro it.

<img width="372" alt="Screenshot 2022-03-08 at 2 29 49 AM" src="https://user-images.githubusercontent.com/83179295/157116989-3cabc3ad-bc2d-43ba-ba30-1fc4df287299.png">

[2022-03-07 21:03] luacmartins commented on #7966
Hmm I actually think it would be ok to keep the `All currencies` header and display `No results found` underneath it. @laravue1118 can you expand on how you will show the error?

[2022-03-07 21:05] rushatgabhane commented on #7485
@mallenexpensify the `.md` file is already on the homepage of this repository. There's no QA for the PR, and deploying it to production won't make any changes to the app because we're just changing a `.md` file.

So, let's close this issue. It can always be reopened if needed

Please let me know if this is okay :)

[2022-03-07 21:08] kevinksullivan commented on #7980
Hired @mdneyazahmad !

[2022-03-07 21:09] rushatgabhane commented on #7496
@sobitneupane thanks, that helps. Do we know why that's happening?

[2022-03-07 21:15] rushatgabhane commented on #7535
Above comments addressed in the PR https://github.com/Expensify/App/pull/7807#discussion_r818083968

[2022-03-07 21:23] thesahindia commented on #7966
@luacmartins, This is how it will look if we keep the `All currencies` header -
<img width="375" alt="Screenshot 2022-03-08 at 2 51 00 AM" src="https://user-images.githubusercontent.com/83179295/157119794-4759dc9b-01c4-4643-a4c8-0154d69d5d2f.png">

[2022-03-07 21:24] iwiznia commented on #7688
Were you not hired in upwork already? I asked @jliexpensify to do it and he reacted with 👍

[2022-03-07 21:25] rushatgabhane commented on #7855
@mallenexpensify let's consider doubling this? No proposals since 11 days

[2022-03-07 21:26] luacmartins commented on #7966
I like that better, but I'll ask for @Expensify/design input here.

[2022-03-07 21:26] kidroca commented on #8014
@Beamanator
Sorry the requirements should have been updated

We had some problems getting the app on staging and updating after #7744
- https://github.com/Expensify/App/issues/7987

@roryabraham made some updates to fix the deploy blocker and have things more close to how they used to be

This resulted in the `universal` app being served at `https://staging.new.expensify.com/NewExpensify.dmg`
Curr

[2022-03-07 21:28] kevinksullivan commented on #7706
Thanks @michelle-thompson @shawnborton . Went ahead and updated the mocks in the OP. Let me know if I am missing anything.

[2022-03-07 21:28] parasharrajat commented on #7844
Android will have the same effect. Got it, Thanks.

@sobitneupane Could you please share an updated proposal with the new requirements?

[2022-03-07 21:28] kidroca commented on #8014
This is not an issue, or at least it's not a deploy blocker
The desktop app being 161Mb is still 2x smaller than what we had in the past
There's a separate ticket handling x64/arm64 distribution
(searching for a link)

[2022-03-07 21:29] mountiny commented on #7855
+1

[2022-03-07 21:30] parasharrajat commented on #6807
No mosquito, no malaria.

[2022-03-07 21:34] kidroca commented on #8014
@francoisl
You should be able (after App is dragged to applications), select get info and check the `Kind` you have installed:
<img width="263" alt="Screenshot 2022-03-07 at 23 32 28" src="https://user-images.githubusercontent.com/12156624/157121274-f18c7ee3-4990-4b33-95b2-d59b60b141b5.png">

I guess M1 macs can run x64, but x64 can't run the "Apple Silicon" version
While `universal` works on both

[2022-03-07 21:42] rushatgabhane commented on #7840
🎀 👀 🎀 C+ reviewed

@Luke9389 I recommend @mollfpr's [proposal](https://github.com/Expensify/App/issues/7840#issuecomment-1059757781)

[2022-03-07 21:44] Beamanator commented on #8014
Awesome thanks for the clarification @kidroca 👍 💯

I'll close this out since, as you mentioned above, the larger size is expected, and we have another ticket discussion possible options [here](https://github.com/Expensify/App/issues/8014#issuecomment-1061154627)

[2022-03-07 21:44] #8014 closed

[2022-03-07 21:44] kidroca commented on #8004
@roryabraham
It seems it was possible for some people to download other than the universal app from: https://staging.new.expensify.com/NewExpensify.dmg
- https://github.com/Expensify/App/issues/8014#issuecomment-1061097779

Perhaps there's a window of time where one of the app that are uploaded before the universal app can be downloaded?

[2022-03-07 21:47] jliexpensify commented on #7486
Posted!

Internal - https://www.upwork.com/ab/applicants/1500949728672010240/job-details
External - https://www.upwork.com/jobs/~01aab77c791969cfcd

[2022-03-07 21:48] rushatgabhane commented on #7835
@mallenexpensify we don't have any proposals since 13 days, please consider doubling this issue.

[2022-03-07 21:53] francoisl commented on #8014
Ok thanks for the context!

[2022-03-07 21:56] jliexpensify commented on #7688
Hmm weird: I swear I hired @Santhosh-Sellavel the other day (I've noticed that Upworks sometimes crashes on me and I have to re-do everything...perhaps that's what happened?)

Anyway, you're officially hired now, sorry about that!

[2022-03-07 21:56] francoisl commented on #8004
Does that mean this should be a deploy blocker? The installer on staging only contains the Arm app as far as I can tell, so if we release to production, does it mean it would break the app for everyone on Intel MacBooks via the auto-update?

[2022-03-07 21:58] thesahindia commented on #7966
I had proposed a solution [here](https://github.com/Expensify/App/issues/7966#issuecomment-1058378642) in case it got missed. I have a better approach for both the options -

[code]
If we wanna keep the `All currencies` header we need to add the code written above after line 209 https://github.com/Expensify/App/blob/3d2ec235a49198fe7759bfff0bf022e644b3d27b/src/pages/iou/IOUCurrencySelection.js#L20

[2022-03-07 21:58] shawnborton commented on #7706
Looks good to get this thing started, we can add more comments regarding design/spacing/etc once it is being implemented.

[2022-03-07 21:59] shawnborton commented on #7966
When there are no results based on your search, I think I prefer it without the "ALL CURRENCIES" header.

[2022-03-07 22:07] rushatgabhane commented on #7625
🎀 👀 🎀 C+ reviewed
@roryabraham I recommend @thesahindia's [proposal](https://github.com/Expensify/App/issues/7625#issuecomment-1032600545) (the first one)

@thesahindia  I don't think it should matter if the room has any messages or not

[2022-03-07 22:09] NicMendonca commented on #7810
@ahmdshrif sent you an offer [here](https://www.upwork.com/jobs/~016454cd51217effca).

[2022-03-07 22:09] luacmartins commented on #7966
Thanks @shawnborton! @thesahindia I like your updated approach, but can you elaborate on how you'll display the error when the user taps `Confirm` with no selected currency?

[2022-03-07 22:10] NicMendonca commented on #7792
Doubled: https://www.upwork.com/jobs/~015c7e8ebff980d7e0

[2022-03-07 22:11] thesahindia commented on #7966
@luacmartins, I think we don't need an error here as one option always stays selected, so when the user taps confirm the currency that was already selected will be used.

[2022-03-07 22:12] NicMendonca commented on #6883
doubled: https://www.upwork.com/jobs/~0190053c928a98fb14

[2022-03-07 22:15] luacmartins commented on #7966
Hmm that makes sense. Alright then, let's move forward with your updated approach and removing the `All currencies` header.

[2022-03-07 22:16] NicMendonca commented on #7810
paid! thank you!

[2022-03-07 22:18] NicMendonca commented on #7573
doubled again -- https://www.upwork.com/jobs/~0152b595bdb97e852c

[2022-03-07 22:33] kidroca commented on #8015
Oh wow this is very interesting:
![image](https://user-images.githubusercontent.com/12156624/157128344-5a18f463-3720-4d1c-b9e8-8886ae6300a7.png)
_Second video around the 15 sec mark_

Can we see the network tab and the amount of requests pending?
Almost instantly queuing 121 requests in parallel - seems we should stop fetching IOUs one by one if they are that many

Not sure this have anything to d

[2022-03-07 22:35] rushatgabhane commented on #7470
@okansahin fixing this using some css would be nice

[2022-03-07 22:38] rushatgabhane commented on #7541
@osama256 That's great 😃

We just need to do this now

[2022-03-07 22:43] okansahin commented on #7470
I already do that with CSS. A class which resets lineHeight will be applied to TextInput if it's is password visible secure input. The JS part just a conditional classname.

[2022-03-07 22:48] rushatgabhane commented on #7853
🎀 👀 🎀 C+ reviewed
@mollfpr's proposal looks good.

cc: @tgolen

[2022-03-07 22:50] kbecciv commented on #7516
@parasharrajat Retested on version 1.1.41.5, picture looks smaller than in version 1.1.34.0
![Image from iOS (3)](https://user-images.githubusercontent.com/93399543/157131197-dfcc5ade-b1f0-48e8-85de-db8cc824b8be.png)

[2022-03-07 22:50] rushatgabhane commented on #7853
Yeah sorry about that, it's fixed by @mollfpr

[2022-03-07 22:51] NikkiWines commented on #6807
Cool, closing!

[2022-03-07 22:51] #6807 closed

[2022-03-07 22:54] SofiedeVreese commented on #7854
Not overdue Melvin, PR is merged.

[2022-03-07 22:54] iwiznia commented on #7644
Sorry, but isn't this issue basically the same as https://github.com/Expensify/App/issues/7352?

[2022-03-07 22:58] parasharrajat commented on #7516
Yup as this picture is pretty big and in a recent change, we restricted the height to 40% of the screen. If you have a suggestion about a smaller picture please post it internally or the way you usually do.

[2022-03-07 23:00] rushatgabhane commented on #7853
@mollfpr your proposal should fix the issue for all key events and `Tab` would work as expected.
But it seems like a hack to me

[2022-03-07 23:01] Luke9389 commented on #7969
@thesahindia have you checked that your solution won't mess with the other platforms?

[2022-03-07 23:03] #8020 closed

[2022-03-07 23:03] rushatgabhane commented on #7853
@phivh thanks, but your proposal doesn't work for other keys like any alphabet

[2022-03-07 23:05] SofiedeVreese commented on #7935
@kidroca, we've been working off the assumption that, for fixed-price jobs you work on, that you're not logging those as hourly work.  If you plan to work hourly on any of these, can you be sure to add a comment to the GH issue letting the Contributor Manager know? That will just save us a bit of hassle taking it through the fixed-job flow 🙂

Removing Upwork post.

[2022-03-07 23:28] kidroca commented on #8004
Strange https://staging.new.expensify.com/NewExpensify.dmg gives me the universal app, could it be due to me being in a different region?

Actually the auto happens from the generated zip file and those aren't overwritten, and this would probably install the x64, because everybody on production have that

Also triggering the production flow, would rebuild the Desktop App for production

---

To be

[2022-03-07 23:32] AndrewGable commented on #7860
I agree with @adelekennedy that this might be related to the FlatList bug, so let's double check that before diving too deep into proposals.

[2022-03-07 23:42] thesahindia commented on #7969
@Luke9389, yup it's working fine.

[2022-03-07 23:48] kidroca commented on #7935
@SofiedeVreese
Yeah definitely, I would usually post a reply as soon as possible, but this issue slipped from me - sorry 🐶

Since we're on the subject though:
At this point: https://github.com/Expensify/App/issues/7935#issuecomment-1054573813 I didn't know another Upwork job would be created

The ticket was `External` and `Weekly` same as the previous ticket I worked under the hourly contract - ht

[2022-03-07 23:50] Luke9389 commented on #7638
@mateusbra Excellent explanations. Thanks for taking the time to write these out.

I'm realizing that this issue may not be needed after we re-enable phone number logins. Here is the [slack conversation](https://expensify.slack.com/archives/C01GTK53T8Q/p1646696523336239) about that. Due to the amount of time and effort you've put into this proposal/discussion, we intend to pay you regardless of wh

[2022-03-07 23:51] luacmartins commented on #7163
PR up!

[2022-03-07 23:55] Luke9389 commented on #7550
removing overdue label. Just waiting for more testing

[2022-03-08 00:00] Luke9389 commented on #7840
Cool, looks good to me. Go for it @mollfpr 👍

[2022-03-08 00:05] Luke9389 commented on #7969
Hmm. Ok cool! Then you can go ahead and make the PR. Please tag me as a reviewer. Thanks!

[2022-03-08 00:53] adelekennedy commented on #7664
Not overdue - the other issue is still being resolved

[2022-03-08 00:57] francoisl commented on #7954
- Crossing internal QA checkbox for https://github.com/Expensify/App/pull/7767#issuecomment-1055998108 because it was already tested.
- Bumped https://github.com/Expensify/App/pull/7921.

[2022-03-08 01:02] mollfpr commented on #7840
@rushatgabhane @Luke9389 Thanks, guys! I’ll work on it ASAP!

[2022-03-08 01:19] adelekennedy commented on #7912
Doubling the issue!

[2022-03-08 01:38] SofiedeVreese commented on #7935
Thanks for the clarification @kidroca. Yeah I'd probably err on the side of adding comments clarifying if you're working hourly or on fixed price, especially when unsure!

[2022-03-08 01:47] SofiedeVreese commented on #8007
Posted on Upwork: https://www.upwork.com/jobs/~01ac0cba05a5cd698a

[2022-03-08 01:50] mallenexpensify commented on #7485
When in doubt.. close it out!  (as you said, it can always be reopened).
What's the final, permanent link for it?

[2022-03-08 01:50] #7485 closed

[2022-03-08 01:51] mallenexpensify commented on #7844
Does _everyone_ agree that what I proposed is the best? I'm not an expert in UI/UX...

[2022-03-08 01:55] rushatgabhane commented on #7485
Do you mean this? - https://github.com/Expensify/App/blob/main/TESTING_MACOS_AND_IOS.md

[2022-03-08 01:59] mallenexpensify commented on #7855
Thanks gents!  Price doubled to $500
https://www.upwork.com/jobs/~0123ca18d28a1410b6

[2022-03-08 02:04] mallenexpensify commented on #7835
Price doubled to $500 https://www.upwork.com/jobs/~0103b194cebb2bdef4

[2022-03-08 02:10] mallenexpensify commented on #7485
Yup, thanks!  Just saw you updated the CONTRIBUTING.md to link to the new .md file too 😎.  Do you think we _need_ to share/include it anywhere else?  Only place I can maybe think of would be in [the PR template](https://github.com/Expensify/App/pull/7999).  Not sure, at that point, if it'd be helpful or not (ie. if someone is already to the stage of submitting the PR, is it safe to assume they kno

[2022-03-08 02:18] Christinadobrzyn commented on #7777
Price doubled to $500 - still waiting on proposals

[2022-03-08 02:24] Ariesparalejas commented on #8007
I can fix it in 2 hours.
I will use several string compare commands for it.
Exactly will remove the periods from two email (one is search email and another is stored email) and compare them.

[2022-03-08 02:33] mountiny commented on #7768
@parasharrajat any updates on the TextInput refactoring?

[2022-03-08 03:05] rushatgabhane commented on #7485
If someone is able to post a proposal and submit a PR, then it's safe to assume that they've read contributing.md

Besides, we already have it linked (indirectly) in the [PR template ](https://github.com/Expensify/App/blob/main/.github/PULL_REQUEST_TEMPLATE.md#contributor-pr-author-checklist)

![Screenshot_20220308-060139~2](https://user-images.githubusercontent.com/29673073/157158118-e05944e7-3f2

[2022-03-08 03:10] K4tsuki commented on #8005
@Santhosh-Sellavel I have updated the proposal. The problem is likely from -1 inside `unreadActionCounts`. In my local reports data there is a report with notification prefecerence set to `daily`, it is a policyRoom.

[2022-03-08 04:05] JmillsExpensify commented on #7270
Haven't gotten any interest here so upping the price of this job to $2,000.

[2022-03-08 04:07] JmillsExpensify commented on #7334
Cool! Upwork job is closed, doing the same here in Github. Well circle back on this one when the time comes.

[2022-03-08 04:07] #7334 closed

[2022-03-08 04:10] JmillsExpensify commented on #7726
@flodnv We've been sitting in this issues for quite some time with no internal volunteers. Shall I change up the labels, for instance a `daily` or something else? Another approach is that we decide to close the issue and not optimize for deleted accounts right now.

[2022-03-08 04:11] JmillsExpensify commented on #7727
Still no takers. Increased the payout of the job to $1000.

[2022-03-08 04:14] JmillsExpensify commented on #7730
Cool, thanks Puneet! Still reviews and discussion happening in the linked PR.

[2022-03-08 04:16] mollfpr commented on #7840
@dylanexpensify Applied to Upwork, thank you!

[2022-03-08 04:19] mollfpr commented on #7842
@MitchExpensify applied to Upwork and the PR will be ready today, thank you!

[2022-03-08 04:20] JmillsExpensify commented on #7893
It's been about a week and we still have no takers, correct? If so, I can up the payout of the job to $500.

[2022-03-08 04:49] MonilBhavsar commented on #7770
Still being worked

[2022-03-08 05:00] mvtglobally commented on #7263
Issue not reproducible during KI retests. (Third week) Closing

[2022-03-08 05:03] mvtglobally commented on #7422
Issue not reproducible during KI retests. (First week)

[2022-03-08 05:04] mvtglobally commented on #7550
Issue not reproducible during KI retests. (Third week) Closing

[2022-03-08 05:04] #7550 closed

[2022-03-08 05:06] kadiealexander commented on #7007
@kelvinkaicheung before we accept on Upwork we will need to review a detailed proposal from you for how this would be fixed, including the functions used, and decide that your proposal is best suited. Please update your proposal to include this detail and the team will review this for you and determine whether this is a suitable fix.

[2022-03-08 05:07] mvtglobally commented on #7675
Issue not reproducible during KI retests. (First week)

[2022-03-08 05:09] mvtglobally commented on #7687
Issue not reproducible during KI retests. (Second week)

[2022-03-08 05:11] mvtglobally commented on #7776
Issue not reproducible during KI retests. (Second week)

[2022-03-08 05:15] mvtglobally commented on #7919
Issue not reproducible during KI retests. (First week)

[2022-03-08 05:51] parasharrajat commented on #7768
For TextInput, 4/5-6 PR is merged. 5 is ready for review.

[2022-03-08 06:52] mvtglobally opened #8029 "User can access add email page even if he made the account with email - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access Url [Email](https://staging.new.expensify.com/settings/addlogin/email) /[ Phone](https://staging.new.expensify.com/settings/addlogin/phone

[2022-03-08 06:56] mvtglobally opened #8030 "Set password page allow space characters inside password - reported by @K4tsuki"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create new account
2. Click set password link from email
3. Set new password with space for example "    a    a    A1"
4. Verify set password but

[2022-03-08 06:58] mvtglobally opened #8031 "$1000 - When you edit a comment, the composer stays hidden on other chats - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open :expensify: on Mobile
2. Navigate to a chat
3. Edit a comment
4. Navigate to a different chat

## Expected Result:
Composer should be visib

[2022-03-08 07:03] mvtglobally opened #8032 "[HOLD for payment 2022-04-12] Mention & Invite to room how does it work - reported by Santhoshkumar Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a Workspace
2. Open #announce room or any room
3. "This is the beginning of the private #announce room, invite others by @mentioning them"

[2022-03-08 07:07] mvtglobally opened #8033 "[HOLD for payment 2022-04-13] [$750] When clicking on Room Settings after workspace deleted, error displayed - reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Delete workspace
2. Open #announce room or any room
3. Click the header to view the details page
4. Click on settings
5. Error page is shown on w

[2022-03-08 07:13] mvtglobally opened #8034 "On Request/send money, The contact preview is clickable and Cursor is set to pointer over it - reported by @K4tsuki"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Go to Chat > Select Actions
 2. Send/Request money from chat Actions
 3.  Enter amount > Next

## Expected Result:
Contact preview shouldn't be

[2022-03-08 07:16] mvtglobally opened #8035 "[WAITING ON PAYMENT] There is some unnecessary loading for few secs after workspace deletion - reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Create a workspace if you dont have already, using :heavy_plus_sign:  button.
2. Now navigate to workspace, click more button.
3. Click Delete w

[2022-03-08 08:08] roryabraham commented on #8004
I like this plan for now.

[2022-03-08 08:40] K4tsuki commented on #8034
@mvtglobally, the reporter is @Tushu17.

[2022-03-08 09:21] dylanexpensify commented on #7636
Payments sent, contracts ended, posting closed!

[2022-03-08 09:21] #7636 closed

[2022-03-08 09:22] dylanexpensify commented on #7494
@sobitneupane could you please apply to the job to be paid out?

[2022-03-08 09:29] sobitneupane commented on #7494
Applied.

[2022-03-08 09:38] dylanexpensify commented on #7494
@sobitneupane @rushatgabhane offers sent!

[2022-03-08 09:44] K4tsuki commented on #7121
@parasharrajat my proposal similar to [this](https://github.com/Expensify/App/issues/7121#issuecomment-1033305317).

But need the right placement of the functions/variables.
Should I make libs for ReportActionItem Utils? (Will contain callback for trackscroll start and end).
In ReportScrollManager, Should I make function to register callback when trackScroll start and trackScroll stop?
What do you

[2022-03-08 09:56] Julesssss commented on #3245
Still in progress

[2022-03-08 09:56] Julesssss commented on #7914
Closing, due to the linked issue having an open PR

[2022-03-08 09:56] #7914 closed

[2022-03-08 10:29] mananjadhav commented on #3245
Quick update -  One final bug that is pending to be resolved.

https://user-images.githubusercontent.com/3069065/157218295-c70525b7-3dff-4a13-9dcc-e5b33690d5fd.mp4

[2022-03-08 11:02] parasharrajat commented on #7121
I think you can add those in ReportScrollManager. I saw your proposal but it is unclear due to the discussion. I am asking you to put together all the steps and code changes in one place for easy picking. Thanks.

[2022-03-08 11:30] flodnv commented on #7726
I bumped the internal question I had: https://expensify.slack.com/archives/C03TQ48KC/p1645210228878819

[2022-03-08 11:31] flodnv commented on #7726
@JmillsExpensify I unassigned you -- since you were assigned, no one could see this issue in the list of unassigned issues 😛

[2022-03-08 11:58] mountiny commented on #7893
@nkuoch Actually double-checking now where this issue comes from, can contributors test the transfer balance feature? Isn't it under beta?

@rushatgabhane could you confirm, you have a way to reproduce this issue, please?

[2022-03-08 12:14] Santhosh-Sellavel commented on #8032
## Proposal

Simple one,
Need to refactor the copy here,

[2022-03-08 12:21] mountiny commented on #7768
I have assigned you now Rajat so you can test out the RN version bump once you will get to it or implement the fix proposed. Keep us updated on the timeframe. Surely you have lots of wheels spinning now.

[2022-03-08 12:42] dylanexpensify commented on #7494
Payments sent, contracts ended, posting closed!

[2022-03-08 12:42] #7494 closed

[2022-03-08 12:47] K4tsuki commented on #7121
@parasharrajat based on your suggestion to add the functions in ReportScrollManager, then [this](https://github.com/Expensify/App/issues/7121#issuecomment-1033305317) is my proposal.
Is there anything wrong with that code?

[2022-03-08 13:04] mountiny commented on #7893
@Santhosh-Sellavel Thank you for chiming itn. That aligns with what @mvtglobally mentioned in [this comment](https://github.com/Expensify/App/pull/7812#issuecomment-1050050214).

Sorry for not catching this earlier 🙇

@kavimuru @mvtglobally Could you please update the WA steps that in case of 0 balance the Transfer balance is not visible correctly?

@JmillsExpensify We can close this job on Upwork

[2022-03-08 13:17] flodnv commented on #7973
I think this is a feature and not a bug. The keyboard and mouse focus becomes on the emoji picker in order to quickly choose one. The behavior in Slack is the same.

Perhaps I'm missing something, in which case please reopen 🙇

[2022-03-08 13:17] #7973 closed

[2022-03-08 13:21] ahmdshrif commented on #7973
I think its not the same to slak behavior .

https://user-images.githubusercontent.com/21364901/157245998-9a0965d6-b14b-49f5-80e4-6ead9f87aeb5.mp4

[2022-03-08 13:32] flodnv commented on #7973
Ah my bad I tested on the desktop apps. Is that video on iOS? I don't get the same behavior on Android 😕

[2022-03-08 13:37] PrashantMangukiya commented on #8030
### Proposed Solution: (If external)

We have to remove space from set password screen at line 126:
https://github.com/Expensify/App/blob/67f26bac489e784ce5a563653b76eb0e6059f1f4/src/pages/SetPasswordPage.js#L126

Updated code looks as under:
[code]
So new user will not able to use space from set password screen.

**Important:** We have to allow space during login, because if some user is having s

[2022-03-08 13:54] ahmdshrif commented on #7973
Np 😀
The vedio is  on android . What is the behaviour you have ?

[2022-03-08 14:00] K4tsuki commented on #8030
@PrashantMangukiya I want to make proposal, since I am the reporter.

[2022-03-08 14:12] parasharrajat commented on #7768
I will post the update regularly.

[2022-03-08 14:16] parasharrajat commented on #7121
I think there is some misunderstanding here. I was trying to get the complete steps as a proposal. That code could be fine but it would be helpful for review if you can:
1. Write the steps that you will take to solve it.
2. Reference the code links where you will do changes.
3. etc.

You already shared this info in previous comments. I am just asking to accumulate them in one post for other review

[2022-03-08 14:19] rushatgabhane commented on #8034
This will be fixed here - https://github.com/Expensify/App/pull/7702#discussion_r815224321

[2022-03-08 14:27] mountiny commented on #7768
Thanks!

@Christinadobrzyn feel free to hire Rajat for this job!

[2022-03-08 14:30] mountiny commented on #7317
Removing the `Help Wanted` label left by adding the `Exported` label again.

[2022-03-08 14:37] laurenreidexpensify commented on #8031
@thesahindia I'm not sure I follow full here - what do you mean by "edit a comment". Do you mean editing a message that has already been sent?

[2022-03-08 14:40] laurenreidexpensify commented on #3245
Heh - I'm not sure why this was a daily with help wanted if Manan is working on it 🤷🏽‍♀️ updated the labels so Melv can chill out

[2022-03-08 15:17] thesahindia commented on #7967
If we want that enter works for the first delete button too then we can just use the `Button` component instead of `TouchableOpacity` and we need to pass `pressOnEnter` to the `Button`

https://github.com/Expensify/App/blob/67f26bac489e784ce5a563653b76eb0e6059f1f4/src/pages/settings/Payments/PaymentsPage/BasePaymentsPage.js#L329-L342

[2022-03-08 16:02] Julesssss commented on #7779
I'm not able to reproduce this today. I followed all of the steps, but all three attempts were successful 😕

@kbecciv would you mind trying again to see if it's still occuring?

[2022-03-08 16:11] Santhosh-Sellavel commented on #8032
There further discussion evolving in the same thread [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1645813470191519).

[2022-03-08 16:54] marcaaron commented on #7726
Can take a look here and see what I find 👀

[2022-03-08 17:08] kbecciv opened #8040 "Room - App crashed after tap on room name and unable log in app again after that."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with exensifail account
3. Tap on FAB menu
4. Tap New Room
5. Put any room name and select Workspace
6.

[2022-03-08 18:09] marcaaron commented on #7726
I don't really get this issue. I tried to test this locally and everything works fine.

1. Created 2 new accounts and a chat between them with comments
2. Deleted 1 user
3. Accessed the chat as the second user
4. Signed out then signed in
5. No issues accessing the chat or leaving comments.

Going to close this unless there are clearer reproduction steps.

[2022-03-08 18:11] francoisl commented on #8004
Huh just tried again and I get the universal app now. Also checked my Chrome download history to make sure I'm not going crazy, I was definitely using that same link yesterday too... go figure.

Anyway yes, building for x64 sounds good to me too!

[2022-03-08 18:18] tgolen commented on #7844
I'm OK with that proposal given the feature request. Tooltips are hard cross-platform and so I think trying to stick close to native platform functionality is OK.

However, I can't shake the feeling it just feels like this feature a bit much and I would actually vote that I don't want the feature because I don't see the problem (or haven't experienced it).

[2022-03-08 18:26] kevinksullivan commented on #7602
Paid. Thanks @parasharrajat !

[2022-03-08 18:26] #7602 closed

[2022-03-08 18:36] parasharrajat commented on #7007
@kadiealexander Help Wanted label is accidental here. It got added on reapplying Exported label. This issue is [no more open](https://github.com/Expensify/App/issues/7007#issuecomment-1014966163) for proposals. Thanks.

[2022-03-08 18:37] parasharrajat commented on #7730
We were waiting for a similar issue to be covered on the same PR. Based on the slack thread that would be handled separately. So I am moving ahead with the review.

[2022-03-08 18:52] kevinksullivan opened #8044 "[HOLD for payment 2022-04-12] Remove max character limit from fields in business bank account / Wallet upgrade flows"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Create workspace
2. Go to Connect bank account
3. Enter routing/account number and continue
4. Land on Company information

## Expected Result:

[2022-03-08 18:54] kelvinkaicheung commented on #7007
There is not much further I can say. Accept my help on upwork and I will start fixing this small bug.

[2022-03-08 18:55] kevinksullivan opened #8045 "[$1000] Date picker is not allowing selections in KYC flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Join `sendMoney` and `ExpensifyWallet` betas
2. Open new Expensify app with a non-upgraded wallet
3. Tap/click global create
4. Tap Send Money
5

[2022-03-08 18:59] kavimuru opened #8046 "IOU - Text markdown is not working in comment input when requesting/splitting money"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Tap on Fab menu
4. Tap Request Money
5. Select amount and user
6. On "What's it for" input box use a

[2022-03-08 18:59] alex-mechler commented on #8033
This is certainly something that we should handle better. Sending external

[2022-03-08 19:04] kavimuru opened #8047 "Send money - Send-401 error for send money via "I'll settle up elsewhere" for non existing account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account account
3. Tap on Fab menu
4. Tab Send money
5. Put amount and tap Continue
6. Select non exist

[2022-03-08 19:11] kavimuru opened #8048 "[HOLD for payment 2022-04-12] Security - Button color in the confirmation popup "Okay, Got it" is grey instead of green when closing the account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/[](javascript:)
2. Log in to account [kbecciv+2002@gmail.com/Feya86Katya](mailto:kbecciv+2002@gmail.com/F

[2022-03-08 19:11] parasharrajat commented on #6877
Based on the new [requirements](https://github.com/Expensify/App/issues/6877#issuecomment-1061000993), @mananjadhav 's proposal looks better.

But I have one question from all the contributors. I don't think that the app takes the user to the Setpassword page when the user is logined into the app.

So after step 3, how will you handle that?

[2022-03-08 19:53] mananjadhav commented on #6877
We discussed somewhere in the comments but here are two options:
1. We copy the same route in AuthScreens as well (not recommended as the layout will be SigninPageLayout)
2. We create a new route with a new component, that is docked on the right modal and uses `NewPasswordForm` component. We could even move the code to common component for `SetPasswordPage` and `AuthSetPasswordPage`

[2022-03-08 19:55] mvtglobally commented on #7954
Checking off #7594 and #7922

[2022-03-08 20:13] jboniface commented on #7075
paid for contributor and c+

[2022-03-08 20:13] #7075 closed

[2022-03-08 20:19] SumitDiyora commented on #7759
Checked all PRs except 1 (#7713 - waiting for the response) and added comments to all PRs where accessibility issues were found without the Android platform (due to build issues on Android).
The non-applicable PRs are - #7692 #7693 #7695 #7696 #7698 #7700 #7705 #7716 #7719 #7743 #7747 #7754

[2022-03-08 20:26] danieldoglas commented on #7259
@jboniface the [design doc](https://docs.google.com/document/d/1YpYDi3ZWjaYRThPa94Zx48zlweOYTIBG43HK4LHIhb4/edit#) for the solution we'll use together was posted today. We'll probably have in the near future.

[2022-03-08 20:29] michaelhaxhiu commented on #6032
The HL design doc was shared internally yeserday.

[2022-03-08 20:30] parasharrajat commented on #6877
@chiragsalian What are you thoughts on this :arrow_up: ?

[2022-03-08 21:12] johnmlee101 commented on #7517
No update

[2022-03-08 21:12] stitesExpensify commented on #8007
Sounds good to me. Do you know where the code is for that?

[2022-03-08 21:12] johnmlee101 commented on #7451
Going to close, don't think this is an issue!

[2022-03-08 21:13] stitesExpensify commented on #7919
Moving to weekly since it's not reproducible

[2022-03-08 21:31] MitchExpensify commented on #7842
Great @mollfpr , I've sent an offer in Upwork

Please also accept the Upwork job offer for eventual reporting bonus @sig5

[2022-03-08 21:32] SofiedeVreese commented on #7375
Not overdue Melvin, we have a PR that's being worked on.

[2022-03-08 21:35] Santhosh-Sellavel commented on #8007
@Ariesparalejas

You should be new here. Check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) first.

And also go through these closed issues [here](https://github.com/Expensify/App/issues?q=is%3Aclosed+label%3A%22Awaiting+Payment%22) for reference.

And make a proper proposal with the code changes or you would make to solve this issue.  T

[2022-03-08 21:42] stitesExpensify commented on #8032
Is that the right link? I'm not seeing any conversation there

[2022-03-08 21:46] MitchExpensify commented on #8035
Nice bit of polish! Confirmed this is reproducible and issue is clear, labeling eng

[2022-03-08 21:52] Santhosh-Sellavel commented on #8032
@stitesExpensify Not sure how I messed that one -> [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1645736648234169)

[2022-03-08 21:57] mvtglobally commented on #7954
@francoisl the following items are pending to close this checklist.

We are re-checking https://github.com/Expensify/App/pull/7662 based on new test steps
Can we check off PR https://github.com/Expensify/App/pull/7744 as https://github.com/Expensify/App/issues/8014 no longer marked a blocker?
PR https://github.com/Expensify/App/pull/7805 is failing due to https://github.com/Expensify/App/issues/80

[2022-03-08 22:04] francoisl commented on #7954
Noted, thanks. Looking into the remaining open issues now.

Yes, let's check it off.

[2022-03-08 22:04] Santhosh-Sellavel commented on #7523
I'll update the videos within a couple of days.
Also, I am sure this will require a PR.

[2022-03-08 22:07] francoisl commented on #8040
@TomatoToaster this was found while testing https://github.com/Expensify/App/pull/8011, do you have any idea?

[2022-03-08 22:26] francoisl commented on #8015
@kavimuru would you be able to test signing out and back into the account rybkina@gmail.com on the production app too, please? I'd like to see if we get the same result (which I suspect we will). I think your account just has a lot of test IOUs, and we end up fetching a lot of that data from the backend after signing in. It's definitely something we could improve on, but might not be a blocker per

[2022-03-08 22:28] stitesExpensify commented on #7868
Cool well based on that I think we can just close this then. We are [making the error messages much better](https://github.com/Expensify/App/pull/7929), so the user will now know _why_ the default failed

[2022-03-08 22:28] botify commented on #7868
Be sure to fill out the [Contact List](https://forms.gle/zhdenCB5dE5gKfnw6)!

[2022-03-08 22:40] francoisl commented on #8040
Hmm @kbecciv to clarify, the PR #8011 you were testing should have been version v1.1.41-5. Any chance you can try again please? I can't reproduce on version 1.1.41-5.

[2022-03-08 22:47] francoisl commented on #7954
- https://github.com/Expensify/App/issues/8015: I think that this is not a regression and that it's due to the accounts being used having a lot of IOU reports. I left a comment in the issue, it would be great if you could test the same flow on production with the account rybkina@gmail.com, to see if you get the same blank page.
- #8040:  Also left a comment, it looks like QA was done on version 1.

[2022-03-08 23:47] francoisl commented on #8040
Ok so what I see is that `OptionsListUtils.getAvatarSources()` doesn't exist on 1.1.41-5, that's what's causing the crash. Seems to have to do with the CP PR for 8011, #8013 👀

[2022-03-08 23:58] thienlnam commented on #7587
Still holding

[2022-03-09 00:03] Ariesparalejas commented on #8007
Hi
If you give me an opportunity, I will fix it in a short time.
Could you send me an offer on Upwork?

On Wed, 9 Mar 2022 at 00:36, Santhoshkumar Sellavel <
***@***.***> wrote:

[2022-03-09 00:09] mallenexpensify commented on #7844
I think that not being able to know the destination of links your clicking is a security issue. Phishing 101 is to spoof an email and link to get people to click it.  Isn't that the same, or similar, to what we're wanting to fix/update here?

[2022-03-09 00:12] mallenexpensify commented on #8045
Moving along. Headsup that, if this can be worked on by a contributor, they'll need to be added to `sendMoney` and `ExpensifyWallet` betas

[2022-03-09 00:13] chiragsalian commented on #6877
Uff, good point. I like manana's suggested option 2, but yeah like manan said, at this point, we've to create a new route and component. Also, a bit of backend code to send a different route when the user is logged in. Hmm at this point I guess I'm wondering why not create a new component to accept validate code and no new route so the user will get the email to enter validateCode and then just co

[2022-03-09 00:15] mallenexpensify commented on #7970
Curious what happens if the issue is labeled `Daily` and doesn't have anyone assigned.  I don't believe we have issue erosion in E/App yet (where the Daily issue would become Weekly if there was no action).

Maybe it just stays overdue for... ever?

[2022-03-09 00:17] thienlnam commented on #7537
Same as above

[2022-03-09 00:23] thienlnam commented on #5768
Waiting for deploy and regression hold

[2022-03-09 00:29] roryabraham commented on #7925
Hi @zoontek – so you're saying that `autoScrollToTopThreshold` doesn't represent a pixel offset, but an offset represented in visual items? Interesting, as I did not glean that from the RN docs or implementation.

Nonetheless, I think this is still a valid bug report in that `maintainVisibleContentPosition` does not work consistently / appears subject to some race condition(s). Perhaps our minimal

[2022-03-09 00:43] roryabraham commented on #7925
@mallenexpensify Let's double this.

[2022-03-09 00:44] roryabraham commented on #2985
Thanks for your continued work and interest @azimgd. Here's are my thoughts:

Working on this issue has been a humbling experience for me – I've tried many different approaches over several months and unfortunately have not been able to successfully implement the feature. During that time, I have successfully produced several POC's that, like the one you're showing us, work in a sandboxed environm

[2022-03-09 00:48] mallenexpensify commented on #7925
Price doubled to $20,000

[2022-03-09 00:48] kidroca commented on #7950
### Problem

After investigating `localForage` and IndexedDB and how parallel writes work we have the following info confirming `localForage.setItem` is the bottle neck: https://github.com/Expensify/react-native-onyx/pull/121#pullrequestreview-903030705

### Proposal

Update `setItem` method of the storage provider used for web/desktop to perform write transactions using [idb](https://github.com/j

[2022-03-09 01:07] mateusbra commented on #8007
I already posted a proposal here: https://github.com/Expensify/App/issues/8007#issuecomment-1061028188

[2022-03-09 01:35] mallenexpensify commented on #6967
D'oh, I paid @ABee-Tech $250 for the reporting the issue on the Upwork job that was closed.
@ABee-Tech and @parasharrajat can you apply for the job here plz. https://www.upwork.com/jobs/~01e968fc3149a1006a and comment on this issue once you have? Thx

[2022-03-09 01:53] Yuxanju commented on #8044
And don’t forget to synchronize your wallet

[2022-03-09 01:58] kbecciv commented on #7779
@Julesssss I tried with build 1.1.41.5 and able to reproduce it.

Uploading Screen_Recording_20220308-205617_New Expensify.mp4…

[2022-03-09 01:58] K4tsuki commented on #8030
#### proposal

The password regex could be: `'^(?!.* )(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z]).{8,}$'` in :

https://github.com/Expensify/App/blob/9c534aaeb47c89c05f1ce84cb692bf099865f05c/src/CONST.js#L338

I only include common space, if there are others common spaces in other languages we could include it.

[2022-03-09 02:59] ryanschaffer commented on #7629
It looks like we agreed to close out this issue but then we didn't close it out. Closing.

[2022-03-09 02:59] #7629 closed

[2022-03-09 04:24] JmillsExpensify commented on #7059
We're through the regression period! I'm going to go ahead and pay out relevant contributors in Upwork, and then close the issue out when I'm done. Please reach out if you have any further questions!

[2022-03-09 04:29] #7059 closed

[2022-03-09 04:34] JmillsExpensify commented on #7463
@mdneyazahmad I just noticed that you're not on the related Upwork job and we'd like to pay you for reporting. Can you please share your Upwork profile so I can make sure to invite you to the job? In the meantime, I'm going to pay out the other contributors now that the regression period has ended.

[2022-03-09 04:40] JmillsExpensify commented on #7893
Ah great catch! For clarity, are you all keeping this issue open? If not, feel free to close it!

[2022-03-09 05:00] mdneyazahmad commented on #7463
@JmillsExpensify https://www.upwork.com/freelancers/~011922ae9ff280b160 Thank you

[2022-03-09 05:09] kadiealexander commented on #7542
Paid @sobitneupane!

@parasharrajat and @thesahindia, could you please let me know when you've accepted the contract I just sent, so I can pay you out for C+ and reporting respectively?

[2022-03-09 05:15] mdneyazahmad commented on #7075
@jboniface I noticed that I was not hired and paid for reporting this issue. Am I eligible for reporting bonus? Meanwhile I applied from Upwork just in case. Thank you

[2022-03-09 05:29] mateusbra commented on #8048
### PROPOSAL (if external)
We need to pass success prop true
https://github.com/Expensify/App/blob/bc4f429849f87da71962638c204351a946cee474/src/pages/settings/Security/CloseAccountPage.js#L113-L116
Will change line 115 to:
[code]
### SCREENSHOT
![image](https://user-images.githubusercontent.com/56851391/157378762-b48267e6-5f09-4b35-a161-e10dc8c04227.png)

[2022-03-09 06:00] mananjadhav commented on #7645
@MitchExpensify Payment reminder and I've applied to Upwork but I guess not hired for it.

[2022-03-09 06:37] parasharrajat commented on #7059
@JmillsExpensify Have you doubled the payment based on this https://github.com/Expensify/App/issues/7059#issuecomment-1055740949? If so, I guess the same applies to C+.

[2022-03-09 06:55] robertjchen commented on #8031
Got it! So to clarify my understanding, what should be the proper behavior here?

At the moment, the composer stays open after switching to another chat and switching back. I don't see it as a major issue, but I do see three options to make it "better":
1. Automatically cancel the edit and hide the composer when switching a chat (Slack does this)
2. Composer should remain visible on other chats (t

[2022-03-09 07:20] thesahindia commented on #7542
@kadiealexander, Done ✅

[2022-03-09 07:22] robertjchen commented on #7687
can't reproduce issue on my end this week either.

[2022-03-09 08:39] ABee-Tech commented on #6967
@mallenexpensify That's fine. I have again applied for the job from that link you have provided.

[2022-03-09 09:19] cylim commented on #7915
@tgolen This is better to solve in the API Backend. I can't be sure whether the data is in the database or hardcoded data in Backend.

The reasons why it should be backend,
1. The data is from API;
2. If $ needed to add US in front of it, (KRW, KPW), (JPY, CNY) should add country code too.

`API.js, line 1080`
<img width="442" alt="Screen Shot 2022-03-09 at 17 12 13" src="https://user-images.githu

[2022-03-09 09:22] MitchExpensify commented on #7645
Thanks for the reminder, @mananjadhav! Offers sent to you and @parasharrajat. Will issue payments once accepted

[2022-03-09 09:43] mananjadhav commented on #7645
@MitchExpensify  Accepted

[2022-03-09 09:44] mananjadhav commented on #7015
@michaelhaxhiu Payment reminder.

[2022-03-09 09:56] mollfpr commented on #7798
## Proposal

I notice that the issue is the default behavior of the browser. So what I'm gonna do add `this.textInput.focus()` to `onFocus` props of `TouchableOpacity`.
https://github.com/Expensify/App/blob/bc4f429849f87da71962638c204351a946cee474/src/pages/home/report/ReportActionCompose.js#L573-L583
[code]
This will make re focus the text input after the button is pressed.

https://user-images.g

[2022-03-09 10:14] nkuoch commented on #7941
Yes sorry, my plate is full, I don't have time for it.

[2022-03-09 10:34] parasharrajat commented on #7121
Thanks for sharing it @K4tsuki.

[2022-03-09 10:39] parasharrajat commented on #7798
Interesting solution @mollfpr. It seems to work well on the mobile Web. But it will cause problems on the web. When a user is focusing on the send button via tab it will move it back to the composer.

[2022-03-09 11:59] mollfpr commented on #7798
Nice catch @parasharrajat . There’s another approach. Adding ‘this.textInput.focus()’ inside ‘submit’ also work, but there’s some delay for the focus applied to text input.

[2022-03-09 12:10] Julesssss commented on #8040
Thanks for investigating @francoisl, I can confirm what you're seeing. I see that the function was renamed here ([explained here](https://github.com/Expensify/App/pull/7852/files#r817161428)), so I'm going to submit a PR that simply reverts the name

[2022-03-09 12:34] Stutikuls commented on #7883
Checked all PRs and added comments on all PRs where accessibility issue were found without Android platform(due to build issue on Android).
The non-applicable PRs are - #7565, #7522, #7742, #7748, #7751, #7762

[2022-03-09 12:39] flodnv commented on #7973
The emoji selector hides the text input field:
![Screenshot_20220309-123748](https://user-images.githubusercontent.com/4164921/157443376-14d9de89-76b6-4b47-947f-fde21c7c2509.png)

[2022-03-09 12:47] Julesssss commented on #8040
It looks like we cherry-picked a fix that depends on [a PR](https://github.com/Expensify/App/pull/7852) that wasn't yet on staging (and wasn't also cherry-picked).

I'm hesitant to cherry-pick such a large and potentially breaking PR to staging. The alternative is to cherry-pick a 'fix' that reverts the original cherry-picked fix. It's starting to get confusing 😄 -- I'm going to ask in Slack to ge

[2022-03-09 13:05] parasharrajat commented on #7798
Yeah, that delay is bad as it will close the keyboard and reopen it causing layout shifts.

[2022-03-09 13:22] OSBotify commented on #8040
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-03-09 13:38] Beamanator opened #8051 "[HOLD for payment 2022-04-12] Move `user.loginList` data to new, specialized ONYX key"
# Problem
A user's `loginList` data is currently stored in the `USER` Onyx key, among lots of other user-related data. This is not ideal, since any time this key is updated, every page that subscribes to the `USER` onyx key will re-render (unless we specifically prevent it using `componentShouldUpdate` and checking prev vs current props).

# Why is this important?
Unnecessary re-renders makes the

[2022-03-09 13:46] PauloGasparSv commented on #7975
Setting up physical device to test this on `main` branch, since #7825  got merged.
Waiting for dev access.

[2022-03-09 13:49] ahmdshrif commented on #7973
I don't think this good idea To hide the textinput from  ux point view.

But ok  if you still think it's better.

[2022-03-09 13:52] mvtglobally commented on #7954
Checking off #7662

[2022-03-09 13:58] muttmuure commented on #7836
Oops, sorry I was out of office for two weeks.

I think this is a backend issue and we can handle it in the other linked issue.

[2022-03-09 13:58] #7836 closed

[2022-03-09 14:15] thesahindia commented on #8048
@tylerkaraszewski, I think we need to assign @stephanieelliott here

[2022-03-09 14:16] thesahindia commented on #8048
@mateusbra, I think you should wait until the issue gets external label.

### Proposal
Just need to remove `success={false}` we don't need to pass `success` as its value is true by default.
[code]
https://github.com/Expensify/App/blob/67f26bac489e784ce5a563653b76eb0e6059f1f4/src/pages/settings/Security/CloseAccountPage.js#L113-L117

[2022-03-09 14:20] Santhosh-Sellavel commented on #8005
@K4tsuki Can you clearly make a new proposal, with the changes you are proposing.

[2022-03-09 14:22] parasharrajat commented on #6877
I feel like this is the best thing to do. In both approaches, we need backend changes so I think this one is better to do. If we are planning to add forgot password link in multiple places then it makes sense.

[2022-03-09 14:24] parasharrajat commented on #7798
I do have a proposal too.

### Proposal.

1. We can preventDefault `mouseDown` event to prevent the focus from being lost from Composer.  [test here](https://jsfiddle.net/ksmwyxhd)

On Submit button add an event https://github.com/Expensify/App/blob/6e83f4a1fc4a2087574d53b7fbc07c9234645393/src/pages/home/report/ReportActionCompose.js#L573
[code]

then in `submitForm` reset the selection to 0 so th

[2022-03-09 14:37] flodnv commented on #7973
I do agree it might not be the best UX. I don't think it's a bug though, I think it's a feature request with low priority. Seeing that [we have around ~70 open jobs](https://expensify.slack.com/archives/C01GTK53T8Q/p1646250087809379), I'd rather focus our energy on these ones first, a lot of which are more important than this feature request IMO

[2022-03-09 14:44] mollfpr commented on #7798
@parasharrajat I think you got this 😉

[2022-03-09 15:05] Sheharyar566 commented on #7457
Hi there... were you able to fix the issue?

[2022-03-09 15:27] tgolen commented on #7844
Yeah, you're right. It makes sense from a security perspective. I forgot about that.

[2022-03-09 15:39] MariaHCD commented on #8047
I believe this is because PayIOU doesn't handle the case when the recipient does not have an Expensify account. I think we should create a new account for the recipient in this case? cc: @nickmurray47

[2022-03-09 15:48] jboniface commented on #7075
ah, yeah, sorry, you can. i hired so once you accept it i will pay. i recommend posting back here again when you do so i will see it.

[2022-03-09 15:49] tgolen commented on #7915
Thanks @cylim!  Ideally, it should work like this:

1. All amounts are stored as an `int`
2. There should be another field to store the currency as a string (eg. `USD`)
3. Whenever we display an amount, we should look up how to display `USD` currency (this comes from the response of `Mobile_GetConstants()`, and then format the amount properly (the right symbols, the right decimal places, etc.)

Ju

[2022-03-09 16:02] dylanexpensify commented on #8051
On it!

[2022-03-09 16:04] dylanexpensify commented on #8051
Internal: https://www.upwork.com/ab/applicants/1501589596015407104/job-details
External: https://www.upwork.com/jobs/~01466c5a04465e487c

[2022-03-09 16:34] mountiny commented on #7893
Thank you, Jason! Great catch indeed @Santhosh-Sellavel!

I will just wait for QA to confirm they take this into consideration in future testing. @mvtglobally @kavimuru Can you confirm please? :)

[2022-03-09 16:37] #8040 closed

[2022-03-09 16:37] mvtglobally commented on #7893
@mountiny at this point we do not have any regular regressions for "transfer balance" flow as we are unable to test it due to KYC wall.

We will keep this in mind for any future PRs if they come up. But mostly all future updates will need to be internalQA

[2022-03-09 16:46] azimgd commented on #7925
@roryabraham could you take a look at this code please: https://github.com/azimgd/MVCPExample/

Here is the demo which maintains visible content position in both directions, is that the actual result you are looking for in this issue?:
https://user-images.githubusercontent.com/4882133/157487057-ad6e4acf-c13b-4efe-bf07-68a47793c309.mov

[CODEFIX DIFF](https://github.com/azimgd/MVCPExample/commit/6f

[2022-03-09 16:49] mountiny commented on #7893
@mvtglobally Great point! Thank you very much! Closing now.

[2022-03-09 16:49] #7893 closed

[2022-03-09 16:49] OSBotify commented on #7954
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8054) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.41-6` :rocket:

[2022-03-09 16:49] OSBotify commented on #7954
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.41-6 has been deployed to staging :tada:

[2022-03-09 16:55] neil-marcellini commented on #6079
I'm going to drop this one so that someone with more react navigation experience can take it. Also, for whoever takes it next, it would be great to have a way to locally test notifications opened when the app is in the background.

[2022-03-09 16:59] mdneyazahmad commented on #7075
@jboniface I accepted the offer. Thank you!

[2022-03-09 17:01] cylim commented on #7915
@tgolen
Yes, I agree with your comment. I think the user is expecting the country code in front or the symbol, because other currencies have it.
[code]
These are not standard symbols too. Another suggestion is not to use the $,£,¥ symbols, directly using USD, SGD or AUD in the IOU screen. (frontend fix-able)

@parasharrajat
I think you had misunderstood the questions and you didn't read my comment

[2022-03-09 17:03] sobitneupane commented on #7496
Not sure. But I think there might be an issue with react-native-render-html as html is rendered differently in different platforms.

[2022-03-09 17:08] jboniface commented on #7075
ok that's all set!

[2022-03-09 17:11] TomatoToaster commented on #7954
https://github.com/Expensify/App/issues/8040 should be fixed now so I think the deploy is no longer blocked.

One issue is that the icons will be small for room details:
<img width="374" alt="image" src="https://user-images.githubusercontent.com/19364431/157493746-8c3c477e-9b96-4769-a8f7-e7d242655548.png">

This will be fixed immediately on the next staging deploy when this PR is deployed to stagi

[2022-03-09 17:14] mountiny commented on #8044
@kevinksullivan Just to confirm on this one, it is purely UI change, the background checks work fine and if the wrong format is added proper error is shown to the user?

We would just want to remove the length indicators? In that case it will be `External`.

[2022-03-09 17:21] mdneyazahmad commented on #8051
## Proposal

As the solution is to only refactor the code. The diff is little big so I am posting here you can review my proposal from https://github.com/mdneyazahmad/App/tree/refactor/8051-onyx-keys

[2022-03-09 17:21] mallenexpensify commented on #7648
PR is being reviewed, it's a bit large :)

[2022-03-09 17:22] mallenexpensify commented on #7906
PR is on staging!

[2022-03-09 17:23] mallenexpensify commented on #6891
Manan and Rajat are working on the PR

[2022-03-09 17:30] parasharrajat commented on #8051
I don't think there is some specific strategy required for this issue. The solution requires a straight refactor of code and @mdneyazahmad  is the first to show interest so I am fine with him taking up this task.

Few Notes:
1. Please use `USER_LOGIN_LIST` key name.
2. Carefully do the clean-up of USER subscription like you did in one of the files in your changes.
3. Remember to test every functio

[2022-03-09 17:35] mdneyazahmad commented on #8051
@parasharrajat Thanks for your review. I think this was the only changes required for this issue. But, I will test it throughly before creating a pr.

[2022-03-09 17:38] mallenexpensify commented on #7531
Waiting on one.. last.. change before PR is merged

[2022-03-09 17:41] roryabraham commented on #7648
Yeah, I'll try to push it forward ASAP. I might split it into multiple PRs to make it easier for the reviewers too. @rushatgabhane would it be helpful it I split off the KeyboardShortcut library changes from the rest?

[2022-03-09 17:50] rushatgabhane commented on #7648
@roryabraham [participants being hidden](https://github.com/Expensify/App/pull/7702#issuecomment-1058343041) is the main blocker for the PR, and

Splitting off KeyboardShortcut lib would be nice because there are at least two issues waiting on event bubbling to be implemented.

[2022-03-09 18:08] MitchExpensify commented on #7645
Paid for both and contracts ended. Nice job everyone! Closing

[2022-03-09 18:08] #7645 closed

[2022-03-09 18:15] deetergp commented on #7524
I'm going to switch this to weekly while we await @eVoloshchak's pull request.

[2022-03-09 18:37] Julesssss commented on #7496
Hmm, yeah I guess we should. Purely because the issue was 'resolved' some time ago. We missed this initially, and it's past the regression date, so lets get a new issue opened specifically to investigate the native palatforms.

[2022-03-09 18:40] Julesssss commented on #7729
@sobitneupane any update here?

[2022-03-09 18:40] stitesExpensify commented on #8007
My apologies @mateusbra I didn't see your proposal somehow. LGTM!

@SofiedeVreese can we hire Matheus on upwork please?

[2022-03-09 18:44] parasharrajat commented on #7905
@mdneyazahmad Bump https://github.com/Expensify/App/issues/7905#issuecomment-1060465542

[2022-03-09 18:49] rushatgabhane commented on #7496
Alright, I've asked in this [slack 🧵](https://expensify.slack.com/archives/C01GTK53T8Q/p1644507497800049) for a new issue to be created.

[2022-03-09 18:51] Santhosh-Sellavel commented on #8007
Yes I too didn’t see.

[2022-03-09 19:00] Santhosh-Sellavel commented on #8007
@mateusbra this will work partially, could you provide a full solution?

[2022-03-09 19:05] roryabraham commented on #7648
I'm sure we'll be able to fix the participants being hidden bug, but frankly this just isn't as high priority as some other issues I've got assigned to me at the moment. So I'm going to create a separate PR for the KeyboardShortcut lib upgrades then follow-up with this as soon as I can.

[2022-03-09 19:07] Santhosh-Sellavel commented on #8007
I'm trying to search User 4 and their email is` santhoshsellavel+4@gmail.com`
In the search box, if entered `santhosh.sellavel+4@gmail.com` with Dot, Result should still show the same User 4. Not a new email with Dot.

Uploading Screen Recording 2022-03-10 at 12.33.02 AM.mov…

[2022-03-09 19:09] mountiny commented on #7059
Confirmed in the [guidelines](https://stackoverflow.com/c/expensify/questions/8590/8591#8591):

[2022-03-09 19:09] mountiny commented on #7059
Confirmed in the [guidelines](https://stackoverflow.com/c/expensify/questions/8590/8591#8591)

[2022-03-09 19:11] Santhosh-Sellavel commented on #8007
@mallenexpensify @stitesExpensify actually I think we should do the same while users create their account otherwise we will not able to find those emails in search at all.

<img width="772" alt="Screenshot 2022-03-10 at 12 38 48 AM" src="https://user-images.githubusercontent.com/85645967/157514178-9be57e9d-79f8-4651-bb96-f2a39a736fdf.png">

Can I raise this request?

[2022-03-09 19:12] yuwenmemon commented on #7728
I don't have the bandwidth to look into this at the moment. Will throw back into the pool.

[2022-03-09 19:22] adelekennedy commented on #7309
@parasharrajat paid (for the reporting bonus and issue fix)

[2022-03-09 19:22] #7309 closed

[2022-03-09 19:24] michaelhaxhiu commented on #7496
Nice, that settles next steps & many thanks @Julesssss 💠 💎 🔹

[2022-03-09 19:25] mountiny commented on #6965
@parasharrajat The mentioned PR should be fixed now, let us know if the proposal sounds good.

I like it even though it is workaround (I haven't tested it and we need to make sure if it does not introduce any other regressions by using this hack).

So the core question would be, do we want to keep this open and double the price until someone will fix this in RN or use workaround?

[2022-03-09 19:26] mountiny commented on #7859
Assigning help wanted label as there was some blip again which took it off.

[2022-03-09 19:40] mateusbra commented on #8007
@Santhosh-Sellavel so we must ignore Dots on searchbox and on search terms, right?

[2022-03-09 19:49] mdneyazahmad commented on #7918
## Proposal

I will wrap each modal page in `FocusTrap` component such that when modal opens. It does not focus elements outside of modal. And store the reference of last element clicked to open the modal so that when modal closes it focus on that element.  And of course audit and fix inconsistency.

I did it only for the `ProfilePage` Here is the implementation of `FocusTrap` Component Wrapper.
[

[2022-03-09 19:52] mdneyazahmad commented on #7918
This is not the final code there will be some refactoring. This is the base minimum to propose a solution. And also every other components will be refactored the same way.

[2022-03-09 19:56] mdneyazahmad commented on #7916
## Proposal
These 4 related issues are very similar. I proposed the solution here https://github.com/Expensify/App/issues/7918#issuecomment-1063298280

[2022-03-09 19:56] mdneyazahmad commented on #7917
## Proposal
These 4 related issues are very similar. I proposed the solution here https://github.com/Expensify/App/issues/7918#issuecomment-1063298280

[2022-03-09 20:02] mdneyazahmad commented on #7523
@Santhosh-Sellavel Did you confirm the tab cycles through all input and does not focus element outside the open modal.

Let's say we have 3 input. When you `tab` and reach the last and now when you press `tab` you should focus on the first input and not on the element outside of the modal. Same is the case when `shift + tab`.

[2022-03-09 20:02] mdneyazahmad commented on #7523
## Proposal
These 4 related issues are very similar. I proposed the solution here https://github.com/Expensify/App/issues/7918#issuecomment-1063298280

[2022-03-09 20:03] michaelhaxhiu commented on #7715
Price doubled to $500.

[2022-03-09 20:04] Luke9389 commented on #7400
Haven't been able to look at this yet. I'll drop if I don't have time by EOW.

[2022-03-09 20:06] francoisl commented on #7954
- Checking internal QA #7921, it will need to be tested in production instead

-----

@mvtglobally can you please:
- Retest https://github.com/Expensify/App/pull/8011 - it should be fixed now
- Test #7805, but on production and with account rybkina@gmail.com, to see if we get the same result (more details [here](https://github.com/Expensify/App/issues/8015#issuecomment-1062282342))

[2022-03-09 20:09] Julesssss commented on #7496
My pleasure. Closing.

[2022-03-09 20:09] #7496 closed

[2022-03-09 20:11] stitesExpensify commented on #6876
Discussion still on PR

[2022-03-09 20:14] rushatgabhane commented on #7523
Wait, really? I don't think we should do that. This will break accessibility features when using tab.

[2022-03-09 20:16] mdneyazahmad commented on #7918
And also need to add `aria-role="modal'` and other aria related properties to the root of the modal component.

[2022-03-09 20:22] mateusbra commented on #8007
@Santhosh-Sellavel may I send a proposal on Upwork?

[2022-03-09 20:23] Santhosh-Sellavel commented on #7523
cc: @luacmartins Can you help us here.

[2022-03-09 20:26] stitesExpensify commented on #7420
No update due to OOO

[2022-03-09 20:28] michaelhaxhiu commented on #7496
Paid 👍

[2022-03-09 20:28] michaelhaxhiu commented on #7496
btw @rushatgabhane thanks for calling out that you missed the regression here!

[2022-03-09 20:29] mdneyazahmad commented on #7523
@rushatgabhane This is the only case when we open a modal. When we close it everything goes to the normal state. Here is the reference https://www.w3.org/TR/wai-aria-practices/#dialog_modal and demo https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/dialog.html

[2022-03-09 20:33] roryabraham opened #8060 "New lint rule: Module exports must match in all platform-specific files"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem
If a change is made to an export of one platform-specific file, but not the others, something is likely to break.

## Solution
Create a new rule that ensures

[2022-03-09 20:33] rushatgabhane commented on #7523
@mdneyazahmad I believe we don't have a modal for the pages listed in this issue.

[2022-03-09 20:34] thienlnam commented on #7941
This is an interesting one, though on worse case with David's amount of reports it takes ~1.5 seconds which is slow but shouldn't be causing a huge delay in load time.

I checked out the query and it doesn't seem like there is a ton we could do to speed it up besides maybe adding a view and another index.  Another idea is maybe we can paginate these results?

[2022-03-09 20:35] mdneyazahmad commented on #7523
@rushatgabhane You may be right and I misinterpreted the requirements.

[2022-03-09 20:35] mateusbra commented on #7638
Thank you @Luke9389!
How you think we should procced here? Should I send a proposal on Upwork and create a PR or you think we should wait for something before we do anything?

[2022-03-09 20:36] rushatgabhane commented on #7523
No worries, thanks for your input on this! :)

[2022-03-09 20:46] quinthar commented on #7941
Can you link to the query here?

[2022-03-09 20:48] thienlnam commented on #7941
It's in the issue description but [here](https://github.com/Expensify/Auth/blob/5bc898198df2ec6c20c9958521e3df4678845d93/auth/lib/Account.cpp#L2212-L2218) it is

[2022-03-09 20:48] danieldoglas commented on #7941
@thienlnam , we can also add an Index for `accountId` in `sharedReports`. We already have it in `reports`.

[2022-03-09 20:59] roryabraham opened #8061 "[HOLD for payment 2022-10-07] Setup hot-reload for Electron main process"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Run the desktop dev app.
1. Make changes in `desktop/main.js`

## Expected Result:
The Electron app should hot-reload

## Actual Result:
In order

[2022-03-09 20:59] roryabraham commented on #8061
@CortneyOfstad Unassigned you because this does not need triage.

[2022-03-09 21:00] roryabraham commented on #8061
I'll sign on as the CME. cc @kidroca

[2022-03-09 21:10] roryabraham commented on #6789
This keeps biting us, I'm going to put up a PR to test my fork.

[2022-03-09 21:11] thienlnam commented on #7424
Still not getting repeating reproduction steps and so hard to determine what the issue might be.  Though, we could move forward with @kidroca suggestions and try to get some more data about possible crash locations.  I checked server logs previously and didn't see anything that was particularly out of the blue.

[2022-03-09 21:14] roryabraham commented on #6306
No update, actually going to send this back into the pool for now.

[2022-03-09 21:16] roryabraham commented on #7350
Going to close this out since there hasn't been much movement and I don't recall seeing this happen recently.

[2022-03-09 21:16] #7350 closed

[2022-03-09 21:31] AndrewGable commented on #6306
My suggestion is we shouldn't do this until we have two things:
1. A reliable way to monitor crashes, currently we do not really monitor any logs or crashes and just rely on bug reports.
2. More production users

[2022-03-09 21:48] marcochavezf commented on #7858
Hi guys, I was OOO sorry for my late reply, thank you @kakajann for your proposal but @parasharrajat's proposal is the correct one for the reasons that he posted 🙂

[2022-03-09 21:57] iwiznia commented on #7915
Not sure if international, but yes, some countries were their currency is not USD use US$ to indicate amounts in USD.

No, I don't think we should update that because all the other systems using it, will break. The main problem with that file is that it is not internationalization aware, it assumes everyone is in the USA. All symbols there are how the USA represents the currencies, not how every c

[2022-03-09 22:13] kbecciv opened #8062 "[$1000] Web- Firefox - Unable to create New Chat/New Group and Room"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to https://staging.new.expensify.com
2. Tap on [+]
3. Select 'New Group"
4. Select 3-4 account
5. Tap on button 'Create group"

## Expec

[2022-03-09 22:26] michaelhaxhiu commented on #2545
Still blocked.

[2022-03-09 22:37] stitesExpensify commented on #7588
No, there isn't. I'll make one and link this issue

[2022-03-09 22:41] mallenexpensify commented on #7859
Thanks @mountiny, didn't catch that!

[2022-03-09 22:45] nickmurray47 commented on #8047
I think creating a new account would align traditionally with how we've handled actions like inviting a user, in which we just create a new account if the user doesn't exist. For paying or sending a payment, though, we don't really have an "undo" action as we do for invites.

I wonder if we should add a verification prompt for this flow. For example, if you try to send money to an unknown recipien

[2022-03-09 22:49] jliexpensify commented on #7424
@thienlnam - want to wait some more or should I hire?

[2022-03-09 22:49] mallenexpensify commented on #8007
I think we should allow people to create accounts with emails that include periods, we just need to _manage_ them once they do, ie. be able to search for them with/without including periods.   Does that address your comment?

[2022-03-09 22:51] jliexpensify commented on #7858
Hired @parasharrajat

[2022-03-09 22:53] michaelhaxhiu commented on #5994
Tim Golen led a pre-design meeting for [Offline First](https://expensify.slack.com/archives/C01GTK53T8Q/p1646675377463339), which will be the pre-requisite to solving a problem like this one! This use case isn't included in the MVP though. So let's keep it as-is.

[2022-03-09 23:01] kidroca commented on #8061
I am handling Desktop App size update as part of my hourly tracked work:
- https://github.com/Expensify/App/issues/6927

The ticket is related in that I had to disable hot-reload for `main.js` in favor of the changes that reduce Desktop size
I can research for a way to bring hot-reload back

[2022-03-09 23:06] Luke9389 commented on #7638
Let's put this on HOLD, and then wait to retest once this issue is closed: https://github.com/Expensify/Expensify/issues/190038#issuecomment-1061090142

[2022-03-09 23:36] thienlnam commented on #7424
Let's hire @kidroca on this and try to get some more data for possible outcomes.  Better than just letting this one sit

[2022-03-09 23:56] mallenexpensify commented on #4114
Why didn't this get worked on?  @ctkochan22 (or another engineer) can this be worked on by an external contributor? If so, can you add the `External` label so we can get this posted?

I'm going to reopen for now cuz I think it'd be nice to have multiple-emoji messages show larger
<img width="326" alt="image" src="https://user-images.githubusercontent.com/22508304/157559352-4bd801d4-c13b-4236-a34e-

[2022-03-10 00:07] roryabraham commented on #6789
Got a PR up with an alternate solution – just ditch the community action and use the GH CLI!

[2022-03-10 00:07] NikkiWines commented on #7964
Sorry about the delay here! Posting in slack prompted a much larger conversation than I was expecting 😅

[2022-03-10 00:13] jliexpensify commented on #7964
Hired Rushat, Tushar and Sobit!

[2022-03-10 00:20] jliexpensify commented on #7424
Post was closed by Upwroks so I made a new one:

Internal - https://www.upwork.com/ab/applicants/1501714191008718848/job-details
External - https://www.upwork.com/jobs/~01528d32ef787e36d9

Hiring @kidroca now

[2022-03-10 00:53] K4tsuki commented on #8005
#### proposal

The title say: `The browser tab shows (1) New Expensify even though there are no unread messages in the LHN`

So I assume the problem only happens if there is no unread message and if there is a message, the count badge  show correctly.

The problem is because there is an unread message in the room with notification preference set to `daily`.

The daily notification preference is se

[2022-03-10 01:17] rushatgabhane commented on #7950
Alright, I tried to wrap my head around this but I just have a lot of (basic) questions which I'll post later.
@thienlnam please take over this issue. I'm just gonna watch and learn, and ofc ask questions :)

cc: @parasharrajat if you're interested in reviewing this.

[2022-03-10 01:50] K4tsuki commented on #8062
That is what I reported here: https://app.slack.com/client/T03SC9DTT/threads/thread/C01GTK53T8Q-1644287921.595739

In my last comment in the thread I assume the chat navigation is traveling around. I attach video in my last comment in the slack thread.

[2022-03-10 02:03] cylim commented on #7915
@parasharrajat
Sorry, I misunderstood, I don't know US$ is the standard in Spainish.

Based on Image 1, there is another issues that needs the team to look into. UGX was `USh` before localize. Do we want to use `USh` or `UGX`? **UGX** is used everywhere with numberFormat() localization function (see image 2).

Image 3, if we use localize for the `IOUCurrencySelection.js`, a lot of currencies text

[2022-03-10 02:32] kadiealexander commented on #7542
Everyone is paid! 💰💰💰

[2022-03-10 02:32] #7542 closed

[2022-03-10 02:49] kadiealexander commented on #7642
Doubled again 💰💰

[2022-03-10 02:54] kadiealexander commented on #7352
Doubled price to $2000 - https://www.upwork.com/jobs/~0104b0a207be0dbbcb

[2022-03-10 03:26] mvtglobally commented on #7954
@francoisl

checking off #8011  its a pass
#7805 is not repro in PROD.

[2022-03-10 03:39] mananjadhav commented on #7464
Hi @Luke9389, I had some issues with Github notification settings and I missed this. I see you've closed this, is it possible to comment now?

[2022-03-10 03:45] Regaron commented on #7598
Can I get the copies in English and Spanish that would be shown in the highlighted area for unsupported file upload?
<img width="561" alt="Screen Shot 2022-03-10 at 9 28 25 AM" src="https://user-images.githubusercontent.com/18470532/157584405-3678c3cb-a902-445d-8236-e22408b76a1f.png">

[2022-03-10 03:54] K4tsuki commented on #7971
#### proposal

The problem is in `Report_AddComment` Api request, when the content of the backtick is empty or white space only, the API request fail with message `No content to add`.

My solution, In:

https://github.com/Expensify/expensify-common/blob/f77bb4710c13d01153716df7fb087b637ba3b8bd/lib/ExpensiMark.js#L48-L53

<br />

Add check for `$2`, whether it is `match(/^\s*$/)` => whether  conten

[2022-03-10 04:06] mananjadhav commented on #7432
@pecanoro I am working on the test cases to be covered here.

Can you help me with the following scenarios:
1. When we delete from Payments, we also delete from reimbursement - Covered
2. When we receive the bank accounts from the API call, we sync and see if reimbursement account exists - Covered
3. What happens when we delete a Workspace from the Account?
4. Whats the scope of `reimbursementAcco

[2022-03-10 04:38] roryabraham commented on #8061
@kidroca do you want me to assign this to you and let you work on it on an hourly basis?

[2022-03-10 04:43] jliexpensify commented on #7596
Bumping this one! @rushatgabhane and @ahmdshrif - how are we doing?

[2022-03-10 04:46] ABee-Tech commented on #6967
@mallenexpensify accepted

[2022-03-10 04:49] rushatgabhane commented on #7596
@jliexpensify waiting for proposals

[2022-03-10 04:59] jliexpensify commented on #7596
Any need to double this @chiragsalian ?

[2022-03-10 05:18] kevinksullivan commented on #8044
That's correct @mountiny . I was thinking this would go `External` as well.

[2022-03-10 05:38] Tushu17 commented on #8044
### Proposal
We need to remove the code from line 282 to 301 (need to do some cleanup too)

https://github.com/Expensify/App/blob/7fcec4ce3abaa091baf674a9aeb84f41d79f4b35/src/components/TextInput/BaseTextInput.js#L282-L303

and we need to add this instead -
[code]
and inside `InlineErrorText` we need to pass the props.styles in styles of `Text` on line 22
https://github.com/Expensify/App/blob/9c53

[2022-03-10 05:47] marcaaron commented on #8029
I see no reason why we should make any attempts to block this behavior. And we are in the process of redesigning the user settings so this very edge case user behavior doesn't seem worth preventing. In OldDot we do not prevent people from adding secondary emails to their account - it's just not predominantly featured in NewDot yet.

[2022-03-10 05:47] #8029 closed

[2022-03-10 07:51] roryabraham commented on #6306
I think we have crashlytics set up, right? So it would just be a matter of chorifying the monitoring of crashes, right?

This makes sense, but I have a few thoughts:

1. As we continue to invest in NewDot we should see a shift starting soon(ish), and we'll want this in place _before_ the shift has really happened. My reasoning is that phased rollouts can prevent crashes from becoming fires (I know

[2022-03-10 08:04] SofiedeVreese commented on #7598
@marcaaron would you have access to this ^ by any chance?

[2022-03-10 09:36] mdneyazahmad commented on #8044
## Proposal

We recently added character count feature. I think, we should pass one more props to handle this case eg. `showCharacterCount` and based on this props we will conditionally render the character count component. We can now pass `showCharacterCount={false}` to all input component where we want to hide this count.

[code]

https://github.com/Expensify/App/blob/afaccd9af40cfc2df1a6b12abd4

[2022-03-10 10:13] mollfpr commented on #7853
@rushatgabhane I have another proposal

Adding this code will unfocs the the `ReportActionItem` when selected and pressing the keydown. The Tab accessbility still working. This approach more cleaner than my proposal before.
[code]
https://github.com/Expensify/App/blob/afaccd9af40cfc2df1a6b12abd4234183975e476/src/pages/home/report/ReportActionItem.js#L151-L157

https://user-images.githubusercontent

[2022-03-10 11:07] mdneyazahmad commented on #7915
## Proposal

[code]

[code]

As we can see the symbol is not constant and is based on the `locale`. Our current implementation uses hardcoded symbol from api. We will use the `symbol` to generate the localised currency symbol and use it to display at both the places other wise it will be inconsistent.

[code]

We can refactor some code and move this common `getlocalizedCurrencySymbol` to `withLoca

[2022-03-10 11:11] mdneyazahmad commented on #7915
I just noticed on Currency Select Page we do not have a back button.

[2022-03-10 11:18] kidroca commented on #8061
Yes 👍

[2022-03-10 11:21] parasharrajat commented on #7915
Thanks, @mdneyazahmad that is what I was looking for in https://github.com/Expensify/App/issues/7915#issuecomment-1063082497.

I like the proposal. I don't have any preference to move `getlocalizedCurrencySymbol` to `withLocalize` HOC. I don't think that it is going to be very common. But yeah create a util function that takes the props and currency name and gives you the symbol.

@iwiznia Do you

[2022-03-10 11:35] Beamanator commented on #8051
Thanks for the review @parasharrajat and thanks for the sample @mdneyazahmad 👍

[2022-03-10 11:43] #7521 closed

[2022-03-10 11:58] Sarveshwins commented on #7925
could you take a look at this code please: https://github.com/Sarveshwins/ScrollViewbug

Here is the demo which maintains visible content position in both directions.

https://user-images.githubusercontent.com/82214917/157656995-7e47c968-2656-479a-a1d0-22fc2b06491b.mov

  const [sizeOfHeight, setsizeOfHeight] = useState(40);
  const [bottomSizeOfHeight, setBottomSizeOfHeight] = useState(40);
  con

[2022-03-10 12:08] parasharrajat commented on #6965
@sobitneupane Are you able to reproduce this issue now on main if so I think it would require a new proposal.

[2022-03-10 12:15] parasharrajat commented on #7768
Update: I will try to test it on Friday and a PR by Monday.

[2022-03-10 12:20] mateocole commented on #7968
Hmm yeah looks odd stylistically. Having an engineer review

[2022-03-10 12:29] parasharrajat commented on #7918
What does FocusTrap do? Can we implement the minimal required functionality in our app?

[2022-03-10 12:32] parasharrajat commented on #7918
@luacmartins Could you please suggest if we are fine with focus-trapping in our pages? I think It would be needed to move the focus to RHN.

[2022-03-10 12:33] parasharrajat commented on #7916
Reviewing the proposal on another issue.

[2022-03-10 12:46] blacknight3 commented on #7352
### proposal

this solution will fix https://github.com/Expensify/App/issues/7352 ,https://github.com/Expensify/App/issues/7644 but not https://github.com/Expensify/App/issues/7912  without using any  packages

- In src/components/TextInputFocusable/index.js comment this if statement `if (types.includes(TEXT_HTML)) {...}`
- in src/libs/SelectioinScraper/index.js add this function :
[code]

- call

[2022-03-10 12:55] mdneyazahmad commented on #7918
@parasharrajat I also think the same we should trap it and it is the recommended pattern for a modal. Consider the case when you open a modal and press multiple tabs. The focus will be lost and will be focused on some another element that UI does not allow to interact with.

https://user-images.githubusercontent.com/77761491/157665747-fe51984a-7b87-45ac-a5a9-012bbb9364e4.mov

[2022-03-10 13:06] ahmdshrif commented on #7352
@rushatgabhane  these changes fix all cases.

https://github.com/ahmdshrif/expensify-common/commit/c99333c617c4833f4b7609fb2c50799784f2fd85

https://user-images.githubusercontent.com/21364901/157667557-d121a22b-ad50-4bec-8766-91d52f4a544a.mov

[2022-03-10 13:12] ahmdshrif commented on #7644
@rushatgabhane  fixed here https://github.com/Expensify/App/issues/7352#issuecomment-1064036764
@iwiznia  they have some similarities but different scenarios. and we need here to handle some other cases. like td tr .

[2022-03-10 13:55] michaelhaxhiu commented on #8006
Job is posted to upwork [here](https://www.upwork.com/jobs/~01f207936302328d06).

[2022-03-10 13:55] Christinadobrzyn commented on #8030
sorry didn't get to this posted to Upwork today - I'll do this tomorrow

[2022-03-10 13:59] michaelhaxhiu commented on #7735
I notice this happens when in the following case on my personal iphone, and curious if someone can try reproducing:

- Make sure you have unread messages you haven't opened or read
- Open the New Expensify mobile app
- Enter one of the DMs with unreads
- See for a few milliseconds the font of the messages is different, and then it quickly updates and shows a consistent font

[2022-03-10 14:00] parasharrajat commented on #6591
PR is close to merging...

[2022-03-10 14:03] michaelhaxhiu commented on #7735
Ugh damn, I just tried to reproduce it again right now and it's not happening. Really inconsistent. I can't tell what's triggering the behavior. Maybe we need to close this until we have a more reliable set of reproduction steps.

[2022-03-10 14:03] #7735 closed

[2022-03-10 14:22] rahmanasad212 commented on #8006
well we can do this work by using this approach:

first of all i will add an onClick() function to the container that contains email.
secondly i will use Boolean state to open a dialog box that includes copy email to the clipbard and an icon to copy the mail.
lastly i will save that email in a state and can use where the user pastes it and after he/she has pasted it i can provide two options.
1- w

[2022-03-10 14:49] michaelhaxhiu commented on #7618
Doubling price to $1000.

[2022-03-10 14:55] michaelhaxhiu commented on #7587
Awaiting next steps from @K4tsuki for [the PR](https://github.com/Expensify/App/pull/7595) that should add optimistic checks to this growl (likely to fit the future of offline first that's coming?)

[2022-03-10 14:59] rohailparacha commented on #8006
I can create a button instead of ahref links. and Then I will use states to manage if it has been copied or not yet. and I will make sure following 3 steps are followed:

1) Prevent the default behavior of the button (refresh the page);
2) Run the copyToClipboard function;
3) Add and removes some CSS classes, used for styling and notifying the user about the copy event

Secondly, for the mobile ve

[2022-03-10 15:04] michaelhaxhiu commented on #7585
Quick update:
- Seems this should deploy to prodution this week (today or friday?), its on the deploy checklist [here](https://github.com/Expensify/App/issues/7954).

[2022-03-10 15:13] mountiny commented on #6965
@parasharrajat Agreed, thank you for the perspective.

Let's review what @sobitneupane has once they confirm if it occurs and if it wont be ideal, lets just close this out to move attention to other issues.

[2022-03-10 15:18] mountiny commented on #7768
Great, thanks for update!

[2022-03-10 15:30] mollfpr commented on #8006
## Proposal

1. Update `ContextMenuActions` when handle press event to replace `mailto:` from email selection
https://github.com/Expensify/App/blob/41bd78957f2afed011ef1353ab9a937e9a6b0201/src/pages/home/report/ContextMenu/ContextMenuActions.js#L35-L38
[code]

2. I create a function to handle whether need to return the label with `Copy URL to clipboard` or `Copy email to clipboard` in `BaseReportA

[2022-03-10 16:05] aldo-expensify commented on #7975
@kidroca  do you know if the https://github.com/Expensify/App/pull/7825 fixed this issue too? or this is still not working?

[2022-03-10 16:07] parasharrajat commented on #7925
Looking at proposals shortly...

[2022-03-10 16:16] parasharrajat commented on #7598
Note: On this issue, the backend was sending 666 codes instead of 408 for SVG files. SVGs are neither PDF nor the code is correct.  I think it may need to be fixed from the backend as well. on error 666 we check a different type of error and do something else.

[2022-03-10 16:34] isagoico commented on #7954
@roryabraham @francoisl - Looks like the only thing missing from the checklist is this Deploy Blocker https://github.com/Expensify/App/issues/8015 (issue is not reproducible in prod, confirmed above) any chance that can be looked at and probably get a deploy today? 🥺

[2022-03-10 16:35] luacmartins commented on #7523
I agree with @parasharrajat! The RHN blocks usage of the remainder of the app until it's dismissed. We could benefit from focus trapping here.

[2022-03-10 16:38] parasharrajat commented on #7918
Great. I got a yes for focus trapping.

@mdneyazahmad

[2022-03-10 16:39] luacmartins commented on #7918
I think it makes sense to use focus trapping with the RHN since it blocks the rest of the app until we dismiss it.

[2022-03-10 16:51] Santhosh-Sellavel commented on #8007
@mallenexpensify Thanks!

@mateusbra Kindly update your proposal to address both of these cases mentioned in https://github.com/Expensify/App/issues/8007#issuecomment-1063458585 and let us know, thanks!

[2022-03-10 16:54] parasharrajat commented on #7059
Thanks @mountiny.  :arrow_up: @JmillsExpensify

[2022-03-10 17:03] mdneyazahmad commented on #7918
Here's the demo https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/dialog.html

[2022-03-10 17:05] mdneyazahmad commented on #7918
Yes, we can implement this feature it is not that big but the library covers more edge cases.

[2022-03-10 17:11] mananjadhav commented on #7475
@parasharrajat  Here you go:

1. Safari: 14.0.3, macOS: Big Sur, 11.23
2. App Version: v1.1.40-2
3. Staging and Production

Attached screenshots:

<img width="937" alt="Screenshot 2022-03-10 at 10 38 58 PM" src="https://user-images.githubusercontent.com/3069065/157717405-7666c4ef-de00-4a0b-b398-3455187a9b3c.png">
<img width="1245" alt="Screenshot 2022-03-10 at 10 38 42 PM" src="https://user-images

[2022-03-10 17:12] mananjadhav commented on #7547
Agree with the second option @roryabraham

[2022-03-10 17:14] ctkochan22 commented on #4114
Yeah this can be worked on by an external contributor. I'm not sure why I didn't add the label, my bad.

[2022-03-10 17:24] Santhosh-Sellavel commented on #8007
Just one minor edge case.

For example:
Search: youremail+1@gmail.com
And Open chat and send a new message.

Now Search: your.email+1@gmail.com
You should be able to find the above email your.email+1@gmail.com also but are unable to find it.

cc: @mateusbra

[2022-03-10 17:26] parasharrajat commented on #7918
I saw that lib has many extra features that we don't really need. It is not much in size but still..
![image](https://user-images.githubusercontent.com/24370807/157720048-013c031e-119c-402f-b35d-1d366bcd2828.png)

What do you suggest? Could you please tell me the reasons why we should use the lib? If you are fine implementing, can you please share the pusodo code here?

[2022-03-10 17:27] Santhosh-Sellavel commented on #8007
cc: @stitesExpensify

Except for this [case](https://github.com/Expensify/App/issues/8007#issuecomment-1064311667), everything else works fine for me.

[2022-03-10 17:27] roryabraham opened #8066 "New lint rule: No React.createRef"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

### Problem
Our style guides explicitly prohibit the use of `React.createRef`, and PR reviewers have to watch out for this and explain this in reviews with new contribut

[2022-03-10 17:38] alex-mechler commented on #7968
Certainly looks like a 🐛. Sending external since this is all front end

[2022-03-10 17:38] tgolen commented on #7915
@iwiznia Thanks for explaining! I understand it better now.

I like that new proposal better, however it still has a problem relating to this:

The location of the symbol has to change as well. Does this need to be handled on a case-by-case basis for individual currencies or locales or both?

[2022-03-10 17:42] mdneyazahmad commented on #7918
@luacmartins does it mean we should use this library?

[2022-03-10 17:44] parasharrajat commented on #7918
Exactly my question as well. Haha...

[2022-03-10 17:47] luacmartins commented on #7918
That means we should avoid using an external library for this. Sorry if that wasn't clear 😅

[2022-03-10 18:00] kidroca commented on #7975
Yes the issue is fixed (not yet on staging), it's not immediate but App realizes it's offline in about 10-15s after it happens, whereas before it never realized

[2022-03-10 18:06] flodnv commented on #7941
We are discussing this here: https://expensify.slack.com/archives/C03TQ48KC/p1646931885173749

[2022-03-10 18:06] parasharrajat commented on #7547
Great. I guess @roryabraham is happy with your proposal. @mananjadhav have my :+1: .

[2022-03-10 18:09] mdneyazahmad commented on #7918
#### Algorithms:

1. When a modals opens, we will find the first focusable element and focus it.
2. `tab` follows it until we hit the last element. We check if the focused element is outside the dom node.

[code]

Please, give me some time I will share the implementation.

cc: @parasharrajat

[2022-03-10 18:15] mdneyazahmad commented on #7915
We do not need to do this manually it is already done by `Intl`

[code]

[2022-03-10 18:17] parasharrajat commented on #7918
No worries. Take your time. I will make sure that you are assigned to another issue as well if you submit a good proposal.

I don't think we need this. Just the focus should cycle as you said. And on the first tab press, the focus should be on the first focusable element on the page and follow the proper focus pattern of the browser.

[2022-03-10 18:18] parasharrajat commented on #7915
I think he meant on the Amount Page.
![image](https://user-images.githubusercontent.com/24370807/157728880-1759e4d6-f257-4fdd-8f33-43df31801e57.png)

[2022-03-10 18:20] mdneyazahmad commented on #7915
I think. We already had an issue for this and fixed it?

[2022-03-10 18:24] mdneyazahmad commented on #7918
This guidelines explains the modal behaviour https://www.w3.org/TR/wai-aria-practices-1.1/#dialog_modal
Do you think we should implement as described?

cc: @parasharrajat

[2022-03-10 18:27] mdneyazahmad commented on #7915
I am sorry my bad. I misinterpreted it. I got it now.

[2022-03-10 18:46] parasharrajat commented on #7918
I don't have a preference. I just don't see that as part of the requirements but this is a good question to @luacmartins :bow:

[2022-03-10 18:52] francoisl commented on #7954
Still trying to consistently reproduce the issue. To clarify, are you only getting the blank screen when you sign in the account rybkina@gmail.com? And is that a personal account, or a test account you would be willing to share (i.e. add it to 1Password?)

I tested with different accounts, and the app takes at most 10 to 12 seconds to start rendering chat data in large accounts, both with the stag

[2022-03-10 18:57] luacmartins commented on #7918
@mdneyazahmad sorry, what exactly are you suggesting that we implement? Focusing on the first focusable element?

[2022-03-10 18:57] mdneyazahmad commented on #7915
[code]

Based on `isStart` we will reverse the Symbol on ui.

[code]

[2022-03-10 19:08] danieldoglas commented on #7941
@johnmlee101  sent an email to SQLite team to check one of the hypothesis we think might help.

[2022-03-10 19:35] PauloGasparSv commented on #7975
Thanks for the help everyone!
Closing this GH then since the https://github.com/Expensify/App/pull/7825 fixes it too and we can follow the status of https://github.com/Expensify/App/issues/6059 for now.

[2022-03-10 19:35] #7975 closed

[2022-03-10 19:36] PauloGasparSv commented on #6059
Very similar issue https://github.com/Expensify/App/issues/7975 was fixed by the P.R. found in this issue.

[2022-03-10 19:45] osama256 commented on #7541
@rushatgabhane Almost finished

 default font size :

![Simulator Screen Shot - iPhone 8 - 2022-03-10 at 11 38 03](https://user-images.githubusercontent.com/51829206/157741789-66b2df44-fc69-477a-8cc8-653e584ab911.png)

![Simulator Screen Shot - iPhone 8 - 2022-03-10 at 11 38 07](https://user-images.githubusercontent.com/51829206/157741802-80191e18-45d4-439f-a693-c44a1876032e.png)

![Simulator Scre

[2022-03-10 19:59] Luke9389 commented on #7464
Sure!

[2022-03-10 20:01] #6902 closed

[2022-03-10 20:02] rushatgabhane commented on #7538
Pr is on staging

[2022-03-10 20:10] ahmdshrif commented on #8033
when i delete the woarkspace the #announce room is deleted

![Screen Shot 2022-03-10 at 10 09 51 PM](https://user-images.githubusercontent.com/21364901/157746430-5d0762a7-37cd-4caa-8949-a100c137a770.png)

[2022-03-10 20:11] pecanoro commented on #8062
Is this only happening for Firefox then? Does it work just fine with any other browser?

[2022-03-10 20:21] parasharrajat commented on #6527
Ping. It is still need to be worked on....

[2022-03-10 20:23] mvtglobally commented on #7954
We are asking other testers to try as well.

@francoisl
pass is Qwerty123

[2022-03-10 20:41] deetergp commented on #8046
Definitely something a contributor could work on, let's Export it!

[2022-03-10 20:45] thienlnam commented on #6527
Now that the holding PR is merged, this is ready to be worked on.  Will add some performance benefits to loading / opening chats

[2022-03-10 21:15] thienlnam commented on #7950
So our issue is that we're running into parallel writes with transactions that read/write? I can see how batching would help but I'm not familiar with the specifics of idb / or localForage so cc @marcaaron who has much more context on this

I just have a few questions regarding this implementation:

How/when do we determine to batch which requests?

What happens if a change depends on an existing

[2022-03-10 21:20] francoisl commented on #8015
Ok so I ran some tests with the account rybkina@gmail.com (thanks for sending the password over), and I don't see a lot of differences between the production and staging builds, namely:

- It takes around 30 seconds to get everything fully loaded and ready to interact with
- Each app makes roughly the same number of requests in the Networks tab (I made sure to clear everything in Onyx before each

[2022-03-10 21:25] francoisl commented on #7954
Thanks, I ran some tests and can't see a lot of differences so I'm curious for second opinions from anyone else here. Let's keep the discussion in [the GH issue](https://github.com/Expensify/App/issues/8015#issuecomment-1064515338) though.

---

Once we're all done testing, can you please rotate the password of that account @mvtglobally? I know it's just a test account, but this is a public repo,

[2022-03-10 21:32] kidroca commented on #7424
Hey, guys I'm not really sure what part of my comment is expected to be done in the job I was selected for

Can we clarify it would be to:
1. Update `<FullScreenLoadingIndicator />` to support a `name` and `timeout` props
2. Log a message from the loader
3. Update existing usages of `<FullScreenLoadingIndicator />` and pass `name` and `timeout` where we want to capture logs like the one in Navigat

[2022-03-10 21:38] osama256 commented on #7457
@Sheharyar566 this issue happens  in windows and I skipped it by removing this line from package.json

`"postinstall": "scripts/react-native-web.sh && cd desktop && npm install",`

[2022-03-10 21:43] parasharrajat commented on #7424
I think we can proceed with Log requests for now. I think 2.a is better. Maybe just wrap the loader in a component and use that for the fallback screen.

On a side note, this won't solve the issue. I think we can leave the issue assigned to @kidroca so that if logs are helpful and something is found, he can fix it. If someone else comes up with a fix, we can reassign it to that guy and pay up the

[2022-03-10 21:53] thienlnam commented on #7424
Agreed, the scope of this issue is confusing since we're not sure what the fix is yet but I think what @parasharrajat recommended makes sense here

- Add debugging logs
- Reopen the issue to contributors
- If you're able to diagnose the issue and fix, continue to take the issue payout
- Otherwise if someone has a fix, they'll take the issue payout and you'll get a payout for your initial investiga

[2022-03-10 22:15] kidroca commented on #7424
I'm not 100% convinced the problem is there: https://github.com/Expensify/App/blob/00805b2b495fac25f53a42231dd3e5ae78138a2a/src/libs/Navigation/NavigationRoot.js#L60

Could be here as well: https://github.com/Expensify/App/blob/00805b2b495fac25f53a42231dd3e5ae78138a2a/src/libs/Navigation/AppNavigator/MainDrawerNavigator.js#L50-L53

I can still create a dedicated component and replace the 2 usages

[2022-03-10 22:27] iwiznia commented on #7915
Nice, I agree with the proposal from @mdneyazahmad. But please note that we already have [formatToParts in NumberFormatUtils.js](https://github.com/Expensify/App/blob/294c2013631e9bfd1c3ba8d2cec084f5a003c2bf/src/libs/NumberFormatUtils.js#L6)

I do think that we should put the `getlocalizedCurrencySymbol` somewhere common, as I think we will be using it in other places too (but I am fine if we move

[2022-03-10 22:30] rushatgabhane commented on #7853
@mollfpr can you think of a solution where the blue border doesn't appear in the first place?
Letting it focus, and blurring immediately seems like a hack to me.

[2022-03-10 22:31] rushatgabhane commented on #7352
@ahmdshrif could you please help me understand your proposal?
Like what was the cause, and what fixed it.

[2022-03-10 22:38] roryabraham commented on #8015
@francoisl I agree that this doesn't seem like a blocker because the production app is borked too.

[2022-03-10 22:54] rushatgabhane commented on #7352
@blacknight3 sorry, I'm not able to understand what `fixReverseHTML()` does. Could you please give me a high level overview of what's happening?

Anyway, we already have [ExpensiMark](https://github.com/ahmdshrif/expensify-common/blob/main/lib/ExpensiMark.js), so why not use it instead?

[2022-03-10 22:56] francoisl commented on #7954
Removed the deploy blocker label from #8015 since we're also seeing the same behavior with the production app. We'll keep the issue open so it can be looked further into though, given that it's pretty bad that the desktop app takes so long to load.

This was the last checkbox so we can go ahead with the deploy!

[2022-03-10 22:59] francoisl commented on #7954
:shipit:

[2022-03-10 22:59] #7954 closed

[2022-03-10 23:02] botify commented on #7671
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.41-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7878
- https://github.com/Expensify/App/pull/7878

If no regressions arise, payment will be issued on 2022-03-17. :confetti_ball:

[2022-03-10 23:02] botify commented on #7434
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.41-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7805

If no regressions arise, payment will be issued on 2022-03-17. :confetti_ball:

[2022-03-10 23:02] botify commented on #7668
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.41-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7829

If no regressions arise, payment will be issued on 2022-03-17. :confetti_ball:

[2022-03-10 23:02] botify commented on #7854
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.41-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7891

If no regressions arise, payment will be issued on 2022-03-17. :confetti_ball:

[2022-03-10 23:02] botify commented on #7538
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.41-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7701

If no regressions arise, payment will be issued on 2022-03-17. :confetti_ball:

[2022-03-10 23:02] botify commented on #7128
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.41-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7827

If no regressions arise, payment will be issued on 2022-03-17. :confetti_ball:

[2022-03-10 23:02] botify commented on #7476
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.41-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7594
- https://github.com/Expensify/App/pull/7922

If no regressions arise, payment will be issued on 2022-03-17. :confetti_ball:

[2022-03-10 23:02] botify commented on #6908
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.41-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7892

If no regressions arise, payment will be issued on 2022-03-17. :confetti_ball:

[2022-03-10 23:02] botify commented on #7379
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.41-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7783

If no regressions arise, payment will be issued on 2022-03-17. :confetti_ball: