[2022-11-17 17:34] trjExpensify commented on #12781
Why is it doing that? That must be a regression we introduced somewhere?

Do we agree, this is the expectation?

- report is $0 with 0 expenses
- userA adds $100, report total is $100 with 1 expense
- userA adds 100 AED, report total is $127.23 with 2 expenses
- userA cancels $100, report total is $27.23 with 1 expense
- userA cancels 100 AED, report total is $0 with 0 expenses

[2022-11-17 17:37] JmillsExpensify commented on #12781
Can we bring this discussion to Slack instead please.

[2022-11-17 17:37] JmillsExpensify commented on #12781
Let's create a thread in open source.

[2022-11-17 17:38] markarmanus commented on #12645
Proposla

@sketchydroide I can recreate the issue scuccefully.

The issue is really simple, When this.state.imageError is true in Avatar.js

[code]

we notice that Image is getting the style ImageStyle while Icon is not.

ImageStyle is defined as
[code]

which is applying the this.props.imageStyles. This is what includes the margin.

To solve the issue we need to apply the style to Icon. consideri

[2022-11-17 17:42] alexpensify commented on #12637
@deetergp - any update here?

[2022-11-17 17:44] abekkala commented on #12784
https://www.upwork.com/ab/applicants/1593298869518106624/job-details

[2022-11-17 17:53] michaelhaxhiu commented on #10414
Let's have the assigned BZ help drive this forward (@kevinksullivan). We likely need to make a judgement call here about proceeding forward with the proposal or closing/paying a % for the involved.

[2022-11-17 17:55] thienlnam opened #12826 "[$250] Test Ignore"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what act

[2022-11-17 17:56] #12826 closed

[2022-11-17 17:59] marcaaron commented on #12348
Haven't been able to verify there is much improvement from fixing this so gonna close out.

[2022-11-17 17:59] #12348 closed

[2022-11-17 18:02] marcaaron commented on #12290
We need an update (or at least confirmation that the behavior will be fixed in the PR review).

[2022-11-17 18:04] aldo-expensify commented on #12327
@miljakljajic we have to pay the C+ for the PR reviews, more info here: https://github.com/Expensify/App/pull/12329#issuecomment-1317500038

[2022-11-17 18:07] eVoloshchak commented on #11930
You're right, weird, changes didn't take place until I cleared the cache and restarted the computer, even though it was hot reloading

@s77rt's proposal works well and looks good
🎀👀🎀 C+ reviewed!

@Julesssss, what should we do? Open a PR in `react-native-modal` or apply a patch?

[2022-11-17 18:09] s77rt commented on #11930
@eVoloshchak Changes to node_modules are not a part of the hotload process, you have to clear node_modules/.cache and restart the app.

[2022-11-17 18:10] dhairyasenjaliya commented on #11354
yup it will

[2022-11-17 18:12] marcaaron commented on #12676
Hmm I am so confused about that PR you linked. If a chat doesn't exist in the history yet we are just redirecting randomly? Why does the report not exist? Do we try to access it from the server? I'm totally lost, but the HOC solution seems very strange to me. @Beamanator please share your thoughts here.

@kbecciv Where does the expectation that we should redirect to the Concierge chat come from? I

[2022-11-17 18:12] eVoloshchak commented on #11930
Oh I see, thank you

[2022-11-17 18:17] marcaaron commented on #9818
1. It's because the code is just pulled directly from here:

https://github.com/react-navigation/react-navigation/blob/2ec98f3fae051c60e76aed3698d1bca6bbf730ef/packages/native/src/useLinkTo.tsx#L51-L70

With some of our own modifications.

2. I don't understand the question you'll have to ask it another way.

What paths are invalid? What tells us they are invalid? The app crashes how? Need more in

[2022-11-17 18:17] parasharrajat commented on #12692
@hungvu193 's [proposal](https://github.com/Expensify/App/issues/12692#issuecomment-1312533798) option 2 looks good to me. They were first so let's go with it.

Thanks, everyone.

cc: @aldo-expensify

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-11-17 18:18] stephanieelliott commented on #12141
I saw a few closed PR so went ahead and tested on staging, just noting that this is still occurring. So this in is still a WIP!

[2022-11-17 18:20] marcaaron commented on #4612
Yes I added the code for it so I'm aware how it works 😄

[2022-11-17 18:21] #12600 closed

[2022-11-17 18:24] marcaaron commented on #12635
Yeah I think so. But with the caveat that @mollfpr may be onto something with the authentication issues.

I think we should:

1. Close this
2. Someone please report a **clear and reproducible bug** for the re-authentication issue and we'll create a new one to look into that.

[2022-11-17 18:24] #12635 closed

[2022-11-17 18:24] puneetlath opened #12828 "iOS testflight beta keeps expiring"
Every couple days I get this with the iOS testflight. I have to delete and reinstall when this happens which is a pain. Seems to be hitting others as well (context [here](https://expensify.slack.com/archives/C07J32337/p1668704333341659?thread_ts=1668535748.927339&cid=C07J32337)).

@Expensify/mobile-deployers

![IMG_0176](https://user-images.githubusercontent.com/1371996/202527396-9f489e1f-189b-476

[2022-11-17 18:26] parasharrajat commented on #12290
Bump @kerupuksambel

[2022-11-17 18:28] grgia commented on #12822
Okay, I found the problem. I'll open a PR to fix

[2022-11-17 18:28] stephanieelliott commented on #12777
Yeah, this feels like weird and buggy behavior.

Posted to Upwork: https://www.upwork.com/jobs/~017a548ef0784db6bb

[2022-11-17 18:29] Santhosh-Sellavel commented on #9818
@marcaaron

Here is a better explanation of the issue here,

This would cause a crash in mobile platforms, and a console error on the web/desktop platforms.

[2022-11-17 18:37] #12793 closed

[2022-11-17 18:38] sketchydroide commented on #12645
@parasharrajat does that sound reasonable to you?

[2022-11-17 18:44] mountiny commented on #12482
Same with new account, same with my expensify account.
<img width="377" alt="image" src="https://user-images.githubusercontent.com/36083550/202531566-28dd9dfa-53fb-4a90-965d-f836abe84591.png">

I cannot reproduce so closing this.

[2022-11-17 18:44] #12482 closed

[2022-11-17 18:46] fedirjh commented on #12745
@mollfpr i think this is the only option for for this issue #12745 , we had similar one before on mac #2490

For the 2nd issue we can add the extra px to lineheight when we `getNumberOfLines`

https://github.com/Expensify/App/blob/12dd4c6ea78e2454938ca9bf720d4e1b64d31ef0/src/libs/ComposerUtils/index.js#L11-L12

[code]

[2022-11-17 18:47] mountiny commented on #11561
We are having some tough time deciding next steps as the PR review and testing showed some drawbacks of this solution we are not sure are worth it.

I have suggested bringing the discussion Slack to see what others might think about the side-effects.

[2022-11-17 18:47] parasharrajat commented on #12645
@markarmanus [Sslution](https://github.com/Expensify/App/issues/12645#issuecomment-1318981321) looks good to me. But there is an issue with it. `StyleUtils.getAvatarStyle(this.props.size)` also applies a background color, if you notice carefully after putting this solution the icon becomes darker so we will have to scarp the background color when the icon is being used.

we can that in PR.

cc: @s

[2022-11-17 18:52] Santhosh-Sellavel commented on #12206
@Christinadobrzyn All good here, 7 days without Regression. We are good to close this one!

[2022-11-17 18:55] sketchydroide commented on #12645
@markarmanus are you ok with what @parasharrajat said about testing every where the Avatar component is used?
As soon as you let me know I'll assign this to you :)

[2022-11-17 18:58] parasharrajat commented on #7375
The code is looking good. As I worked on this task earlier, there were a few challenges.

We are using `measureInWindow` in _Implement "getClickedTargetLocation" method for native devices_. It delays the menu opening after you click the button. You can also see this in your videos. How will you solve this?

this is one of the major challenges I stuck at earlier.

[2022-11-17 19:17] markarmanus commented on #12645
@sketchydroide Yes sir :D that sounds perfect with me !

I sent an email to join the slack channels but never got a response back

[2022-11-17 19:21] rawalyogendra commented on #10670
## Problem
I was looking into this issue and I found out that the problem lies here,

https://github.com/Expensify/App/blob/0294e1c130f1bae588abcb0516cd3d221c300d1a/src/components/withWindowDimensions.js#L49-L51

We are listening to `Dimensions` change event here which should be fired by browser when a keyboard event is triggered, but while testing I found out that Safari is not currently doing th

[2022-11-17 19:25] parasharrajat commented on #12645
Yes, I found https://github.com/Expensify/App/issues/12645#issuecomment-1318981321 better long-term solutions.

[2022-11-17 19:26] joekaufmanexpensify commented on #11850
@MariaHCD's PR is still WIP.

[2022-11-17 19:29] parasharrajat commented on #12645
At first, I didn't see it. But during recent testing, I reviewed that too. It is working no doubt.

[2022-11-17 19:33] parasharrajat commented on #12645
I personally think that `imageStyle` should be applied to the icon as well because the icon is also used as an image. It does not need to have separate styles. If the user is using `imageStyles` it should be the same for `icon` part as well.

[2022-11-17 19:34] markarmanus commented on #12645
@parasharrajat @0xmiroslav Your solution would 100% work. but if we follow SOLID princibles. The Avator component is responsible for honouring its interface. In this case the interface says imageStyles is what should apply to the image. (regardless of intenral details) and if its not being applied when there is an error. then that is a bug in the code.

[2022-11-17 19:37] Emz27 commented on #12714
@aimane-chnaif heres the diff's

- we create debounce/throttle func instance upon creation of the page
- I chose throttle here because the debounce spawns a timer while throttle will just use timestamp
- the 800ms throttle time will give the component enough time to render loading and disabled button property changes which prevents any succeeding press

[throttle reference](https://underscorejs.or

[2022-11-17 19:42] markarmanus commented on #12645
@0xmiroslav I think you might have not understood my comment.

Lets say you are a user of the component Avatar

When looking at the props you would see imageStyles. This means that if i use Avatar and supply it with a imageStyles i should expect that style to be applied at all times.

The fact that its not being applied in some edge cases (this.state.imageError) is bad design on the avator compone

[2022-11-17 19:56] parasharrajat commented on #12645
Both of you have good points. Let's drop the discussion here and wait for CME.

[2022-11-17 20:01] parasharrajat commented on #12772
This issue does not come under A11y/navigation issues. This is a bug with emoji list viewing. This does not affect only one section. It might affect more sections we add them. It is just a coincidence that the section lies where the bug occurs. The main issue is with the Flat list scrolling/rendering. Due to virtual scrolling, something bad is happening with our scrolling logic.

[2022-11-17 20:03] aitoraznar commented on #7375
Hi @parasharrajat. I don't came up with an alternative to `measureInWindow`.
I suggest to calculate the Popup positions on the background once the page is loaded. This would not affect the page time load and the position will be ready before he user try to press the buttons.

[2022-11-17 20:05] jasperhuangg commented on #12691
This wasn't as much a regression as much as a bug that was always present, but simply wasn't uncovered since it's somewhat of an edge case. Therefore, I'm not linking a PR for this.

I'm also not really too sure what we could have done differently since this is an edge case, I honestly wouldn't have thought to rapidly tap the emoji picker when testing it. This problem is pretty specific to the imp

[2022-11-17 20:11] parasharrajat commented on #7375
Ok. What about the menus of dynamic anchors? Let's say the anchor move position. This can be observed on the payment method list. I `onLayout` does not work well. It does not fire all the time in Animatable Views.

[2022-11-17 20:16] jasperhuangg commented on #12451
Seems like a PR definitely went out that broke the error displaying, it was working for me on dev, but then I pulled `main` on App and it broke.

[2022-11-17 20:17] joekaufmanexpensify commented on #12694
Not sure this is actually a bug. Chatting with the guide in the [slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1668102491670949) where this was raised. If it is actually a bug I will re-open.

[2022-11-17 20:17] #12694 closed

[2022-11-17 20:21] joekaufmanexpensify commented on #12828
Discussing whether there are reproduction steps [here. ](https://expensify.slack.com/archives/C07J32337/p1668716497734089?thread_ts=1668535748.927339&cid=C07J32337)

[2022-11-17 20:24] melvin-bot[bot] opened #12832 "High-level design doc review (Expensifier / Graduate) - [Main Tracking] App Navigation Reboot"
:tada: You have been assigned to [review a design doc](https://stackoverflow.com/c/expensify/questions/5838)! Please, treat this as a priority. Here is the [tracking issue for [Main Tracking] App Navigation Reboot](https://github.com/Expensify/App/issues/11768).

Once you have reviewed the design doc, head over to the **master tracking issue** and simply press the `Add "Reviewed Doc" comment` butt

[2022-11-17 20:24] melvin-bot[bot] opened #12833 "High-level design doc review (Expensifier / Graduate) - [Main Tracking] App Navigation Reboot"
:tada: You have been assigned to [review a design doc](https://stackoverflow.com/c/expensify/questions/5838)! Please, treat this as a priority. Here is the [tracking issue for [Main Tracking] App Navigation Reboot](https://github.com/Expensify/App/issues/11768).

Once you have reviewed the design doc, head over to the **master tracking issue** and simply press the `Add "Reviewed Doc" comment` butt

[2022-11-17 20:25] melvin-bot[bot] opened #12834 "High-level design doc review (Project Manager) - [Main Tracking] App Navigation Reboot"
:tada: You have been assigned to [review a design doc](https://stackoverflow.com/c/expensify/questions/5838)! Please, treat this as a priority. Here is the [tracking issue for [Main Tracking] App Navigation Reboot](https://github.com/Expensify/App/issues/11768).

Once you have reviewed the design doc, head over to the **master tracking issue** and simply press the `Add "Reviewed Doc" comment` butt

[2022-11-17 20:25] melvin-bot[bot] opened #12835 "High-level design doc review (Project Manager) - [Main Tracking] App Navigation Reboot"
:tada: You have been assigned to [review a design doc](https://stackoverflow.com/c/expensify/questions/5838)! Please, treat this as a priority. Here is the [tracking issue for [Main Tracking] App Navigation Reboot](https://github.com/Expensify/App/issues/11768).

Once you have reviewed the design doc, head over to the **master tracking issue** and simply press the `Add "Reviewed Doc" comment` butt

[2022-11-17 20:25] melvin-bot[bot] opened #12836 "High-level design doc review (Product Manager) - [Main Tracking] App Navigation Reboot"
:tada: You have been assigned to [review a design doc](https://stackoverflow.com/c/expensify/questions/5838)! Please, treat this as a priority. Here is the [tracking issue for [Main Tracking] App Navigation Reboot](https://github.com/Expensify/App/issues/11768).

Once you have reviewed the design doc, head over to the **master tracking issue** and simply press the `Add "Reviewed Doc" comment` butt

[2022-11-17 20:25] melvin-bot[bot] opened #12837 "High-level design doc review (Product Manager) - [Main Tracking] App Navigation Reboot"
:tada: You have been assigned to [review a design doc](https://stackoverflow.com/c/expensify/questions/5838)! Please, treat this as a priority. Here is the [tracking issue for [Main Tracking] App Navigation Reboot](https://github.com/Expensify/App/issues/11768).

Once you have reviewed the design doc, head over to the **master tracking issue** and simply press the `Add "Reviewed Doc" comment` butt

[2022-11-17 20:25] melvin-bot[bot] opened #12838 "High-level design doc review (Generalist) - [Main Tracking] App Navigation Reboot"
:tada: You have been assigned to [review a design doc](https://stackoverflow.com/c/expensify/questions/5838)! Please, treat this as a priority. Here is the [tracking issue for [Main Tracking] App Navigation Reboot](https://github.com/Expensify/App/issues/11768).

Once you have reviewed the design doc, head over to the **master tracking issue** and simply press the `Add "Reviewed Doc" comment` butt

[2022-11-17 20:25] melvin-bot[bot] opened #12839 "High-level design doc review (Generalist) - [Main Tracking] App Navigation Reboot"
:tada: You have been assigned to [review a design doc](https://stackoverflow.com/c/expensify/questions/5838)! Please, treat this as a priority. Here is the [tracking issue for [Main Tracking] App Navigation Reboot](https://github.com/Expensify/App/issues/11768).

Once you have reviewed the design doc, head over to the **master tracking issue** and simply press the `Add "Reviewed Doc" comment` butt

[2022-11-17 20:25] melvin-bot[bot] opened #12840 "High-level design doc review (Accounting Technical Team) - [Main Tracking] App Navigation Reboot"
:tada: You have been assigned to [review a design doc](https://stackoverflow.com/c/expensify/questions/5838)! Please, treat this as a priority. Here is the [tracking issue for [Main Tracking] App Navigation Reboot](https://github.com/Expensify/App/issues/11768).

Once you have reviewed the design doc, head over to the **master tracking issue** and simply press the `Add "Reviewed Doc" comment` butt

[2022-11-17 20:25] parasharrajat commented on #12711
Here are the details as promised.

The issue : https://github.com/Expensify/App/pull/8815#pullrequestreview-957629194
Suggested : https://github.com/Expensify/App/pull/8815#issuecomment-1114895399
Decided: https://expensify.slack.com/archives/C01GTK53T8Q/p1651508643094319 https://github.com/Expensify/App/pull/8815#issuecomment-1117653182

[2022-11-17 20:26] AndrewGable commented on #12828
Seems like maybe it's an Apple bug: https://developer.apple.com/forums/thread/720033

[2022-11-17 20:27] andrewlor commented on #11809
# Proposal

## RCA
Each step of the IOU Modal are animated by being wrapped in `AnimatedStep`. The header bar is rendered outside all of these steps, without animation, thus the unnatural look.

## Solution
In `IOUModal`, render the header bar directly adjacent to each page inside of `AnimatedStep`. This animates the header along with the page content for a more natural animation look.

Essentiall

[2022-11-17 20:28] marcaaron commented on #9818
Ok so what is the question about this? I think there's such a thing as a fallback route maybe we can explore that as a solution?

https://reactnavigation.org/docs/configuring-links#handling-unmatched-routes-or-404

[2022-11-17 20:29] marcaaron commented on #9818
I'm also curious what link people are visiting here to cause the crash? Is there some way we can log that when it happens to get a better idea? Seems like it's caused by a deep link of some kind?

[2022-11-17 20:37] joekaufmanexpensify commented on #12828
Assigning to andrew per discussion in Slack.

[2022-11-17 20:37] mountiny commented on #11768
I have read and reviewed this Design Doc!

[2022-11-17 20:38] puneetlath commented on #11768
I have read and reviewed this Design Doc!

[2022-11-17 20:40] AndrewGable commented on #12828
I posted in the Apple thread and will follow along for any updates.

[2022-11-17 20:43] puneetlath opened #12841 "test"
testing

[2022-11-17 20:48] trentpetty commented on #12840
Accounting review completed here: https://docs.google.com/document/d/1cQ87HcDA9RrmBM4ch7PmlNi9N9ZP8abQuPF0gKYrxDE/edit#heading=h.uzwj26ozei4j

[2022-11-17 20:48] #12840 closed

[2022-11-17 20:48] trentpetty commented on #11768
I have read and reviewed this Design Doc!

[2022-11-17 20:53] RaresShoemaker commented on #12777
This can be simply done by implementing a custom hook with two zones of draggable and droppable using https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API no other React libraries that will only make the app slower. I can provide a full explanation of this later if you are intersted.

[2022-11-17 20:53] parasharrajat commented on #11914
I don't know why it's not overdue. Sorry, I thought that the whole page is grayed in your attachment.

I am fine with graying the save button as well.

Raised a discussion https://expensify.slack.com/archives/C01GTK53T8Q/p1668718224575409

[2022-11-17 20:54] parasharrajat commented on #11914
Raised a discussion https://expensify.slack.com/archives/C01GTK53T8Q/p1668718224575409

[2022-11-17 20:56] CosminnB commented on #12804
From what I see, it's working, but as you're using highlightedIndex for both the hover effect and selected, the index changes immediatly when you put your mouse over one of the other skin tones.

[2022-11-17 20:58] parasharrajat commented on #9250
Not yet. Switching among priorities ATM. I will take a look as soon as possible. Last time I reviewed this I was confused with some implementations done in the past.

Steps need to be taken:
1. Review the old PRs to determine why and what was implemented. This was a regression best of my knowledge.
2. Review the two latest proposals. Test them for possible regressions.

[2022-11-17 20:58] puneetlath opened #12842 "test"
test

[2022-11-17 21:00] #12842 closed

[2022-11-17 21:01] puneetlath commented on #7284
@cead22 taking this internal given the age of the issue as discussed [here](https://expensify.slack.com/archives/CC7NECV4L/p1668711272916389). Please try to move this forward with urgency so that we can get WAQ done!

@mollfpr sorry for the confusion. This should be Internal.

[2022-11-17 21:02] thienlnam commented on #12741
Yeah that's a good point, @Santhosh-Sellavel could you please review the above proposal?

[2022-11-17 21:05] wildan-m commented on #12769
@rushatgabhane In `Composer` ExpensiMark used for HTML paste, not plain text
[code]

Did you mean we should also use ExpensiMark for this plain text?

[2022-11-17 21:10] parasharrajat commented on #9408
Can't blame me, the issue should have been updated to have your name. :sweat_smile:

[2022-11-17 21:14] #12841 closed

[2022-11-17 21:15] puneetlath commented on #12598
@MonilBhavsar  this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:
- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest priorities
- If you have any questions, don't hesitate to start a discussion in #bug-zero

[2022-11-17 21:15] joekaufmanexpensify commented on #12487
Regression test sent to applause to be added! Linked in BZ checklist above.

[2022-11-17 21:15] puneetlath commented on #12592
@iwiznia  this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:
- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest priorities
- If you have any questions, don't hesitate to start a discussion in #bug-zero

[2022-11-17 21:15] puneetlath commented on #12543
@deetergp this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:
- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest priorities
- If you have any questions, don't hesitate to start a discussion in #bug-zero

[2022-11-17 21:16] puneetlath commented on #12521
@srikarparsi this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:
- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest priorities
- If you have any questions, don't hesitate to start a discussion in #bug-zero

[2022-11-17 21:16] puneetlath commented on #12512
@sketchydroide this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:
- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest priorities
- If you have any questions, don't hesitate to start a discussion in #bug-zero

[2022-11-17 21:16] puneetlath commented on #12492
@Luke9389 this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:
- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest priorities
- If you have any questions, don't hesitate to start a discussion in #bug-zero

[2022-11-17 21:18] puneetlath commented on #12428
@NikkiWines this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:
- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest priorities
- If you have any questions, don't hesitate to start a discussion in #bug-zero

[2022-11-17 21:19] puneetlath commented on #12363
@techievivek this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:
- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest priorities
- If you have any questions, don't hesitate to start a discussion in #bug-zero

[2022-11-17 21:19] puneetlath commented on #12361
@marcaaron this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:
- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest priorities
- If you have any questions, don't hesitate to start a discussion in #bug-zero

[2022-11-17 21:19] puneetlath commented on #12315
@neil-marcellini @stitesExpensify this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:
- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest priorities
- If you have any questions, don't hesitate to start a discussion in #

[2022-11-17 21:19] puneetlath commented on #12298
@tgolen this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:
- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest priorities
- If you have any questions, don't hesitate to start a discussion in #bug-zero

[2022-11-17 21:19] puneetlath commented on #12290
@marcaaron this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:
- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest priorities
- If you have any questions, don't hesitate to start a discussion in #bug-zero

[2022-11-17 21:19] AndrewGable commented on #10654
Seems much better! Thanks for the fix.

[2022-11-17 21:20] puneetlath commented on #12289
@puneetlath this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:
- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest priorities
- If you have any questions, don't hesitate to start a discussion in #bug-zero

[2022-11-17 21:20] puneetlath commented on #12283
@Gonals To help us clear out the large backlog of /App bugs, we're putting the spotlight every bug in the repo already than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest pr

[2022-11-17 21:20] puneetlath commented on #12267
@roryabraham To help us clear out the large backlog of /App bugs, we're putting the spotlight every bug in the repo already than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highe

[2022-11-17 21:20] puneetlath commented on #12266
@AndrewGable To help us clear out the large backlog of /App bugs, we're putting the spotlight every bug in the repo already than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highe

[2022-11-17 21:21] puneetlath commented on #12240
@aldo-expensify To help us clear out the large backlog of /App bugs, we're putting the spotlight every bug in the repo already than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your hi

[2022-11-17 21:21] puneetlath commented on #12233
@Julesssss To help us clear out the large backlog of /App bugs, we're putting the spotlight every bug in the repo already than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest

[2022-11-17 21:21] puneetlath commented on #12208
@thienlnam To help us clear out the large backlog of /App bugs, we're putting the spotlight every bug in the repo already than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest

[2022-11-17 21:21] AndrewGable commented on #12708
Agree that user should always be able to go back (I think). I do not think we should hide back button at all.

cc @marcaaron who might have navigation ideas...

[2022-11-17 21:21] puneetlath commented on #12198
@dangrous To help us clear out the large backlog of /App bugs, we're putting the spotlight every bug in the repo already than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest

[2022-11-17 21:21] fedirjh commented on #11671
@sobitneupane My last [updated proposal](https://github.com/Expensify/App/issues/11671#issuecomment-1305630104) fixes this [issue](https://github.com/Expensify/App/issues/11671#issuecomment-1287939672) , I don't know what we are waiting ?

Oyx.clear delay / slow issue is a different issue which is present from time ago https://github.com/Expensify/App/pull/7397#discussion_r818023262 , and i think

[2022-11-17 21:21] JmillsExpensify commented on #4733
@Luke9389 To help clear out the extensive backlog of /App bugs, we're putting the spotlight all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest priorities
- I

[2022-11-17 21:21] puneetlath commented on #12188
@roryabraham @stitesExpensify To help us clear out the large backlog of /App bugs, we're putting the spotlight every bug in the repo already than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as

[2022-11-17 21:22] puneetlath commented on #12155
@tgolen To help us clear out the large backlog of /App bugs, we're putting the spotlight every bug in the repo already than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest pr

[2022-11-17 21:22] puneetlath commented on #12152
@Luke9389 To help us clear out the large backlog of /App bugs, we're putting the spotlight every bug in the repo already than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest

[2022-11-17 21:22] JmillsExpensify commented on #7375
@Julesssss To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highest priorities

[2022-11-17 21:22] mountiny commented on #10654
+1 it is way nicer on mobile especially but web is great too

[2022-11-17 21:23] aldo-expensify commented on #12692
Thanks @parasharrajat !

I tested quickly using `undefined` as default value for `href` (this [proposal](https://github.com/Expensify/App/issues/12692#issuecomment-1312533798)). I tested in Web Chrome, Web Safari and Desktop, didn't see any bug caused by this and the tab navigation continued working.

Assigning to @hungvu193

[2022-11-17 21:23] JmillsExpensify commented on #7968
@stitesExpensify @arosiclair  To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your

[2022-11-17 21:24] michaelhaxhiu commented on #12360
@Beamanator sounds good. I'm going OOO starting monday too.

[2022-11-17 21:26] joekaufmanexpensify commented on #12487
Okay, I updated the bug zero checklist above to reflect who is responsible for which tasks (as the checklist itself was just [updated](https://github.com/Expensify/Expensify/issues/243037), before after it was posted to this issue).

@marcaaron / @parasharrajat let me know if I can help with commenting on the offending PR and beginning the discussion in Slack.

In the interim, I am going to pay ev

[2022-11-17 21:26] JmillsExpensify commented on #8236
@Julesssss To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

Decide whether any proposals currently meet our guidelines and can be approved as-is
For any that can't, please take this issue internal and treat it as one of your highest priorities
If

[2022-11-17 21:27] marcaaron commented on #9823
Looked into this and pretty sure this is actually related to the `Freeze` component used on the `ReportScreen`. When we go back using the browser while a modal is up it gets stuck since the modal visibility is dependent on state. since the component is frozen (which stops it from re-rendering) the modal never closes.

This fixes the issue:

[code]

However, disabling the Freeze component will re-i

[2022-11-17 21:27] JmillsExpensify commented on #8311
@marcochavezf To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

 - Decide whether any proposals currently meet our guidelines and can be approved as-is
 - For any that can't, please take this issue internal and treat it as one of your highest prior

[2022-11-17 21:28] JmillsExpensify commented on #8592
@MonilBhavsar To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

 - Decide whether any proposals currently meet our guidelines and can be approved as-is
 - For any that can't, please take this issue internal and treat it as one of your highest prior

[2022-11-17 21:29] JmillsExpensify commented on #9181
@iwiznia To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

 - Decide whether any proposals currently meet our guidelines and can be approved as-is
 - For any that can't, please take this issue internal and treat it as one of your highest priorities

[2022-11-17 21:29] JmillsExpensify commented on #9250
@Julesssss To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

 - Decide whether any proposals currently meet our guidelines and can be approved as-is
 - For any that can't, please take this issue internal and treat it as one of your highest prioriti

[2022-11-17 21:30] JmillsExpensify commented on #9459
@NikkiWines To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

 - Decide whether any proposals currently meet our guidelines and can be approved as-is
 - For any that can't, please take this issue internal and treat it as one of your highest priorit

[2022-11-17 21:30] JmillsExpensify commented on #9809
@Julesssss To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

 - Decide whether any proposals currently meet our guidelines and can be approved as-is
 - For any that can't, please take this issue internal and treat it as one of your highest prioriti

[2022-11-17 21:31] JmillsExpensify commented on #9818
@pecanoro To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

 - Decide whether any proposals currently meet our guidelines and can be approved as-is
 - For any that can't, please take this issue internal and treat it as one of your highest prioritie

[2022-11-17 21:31] JmillsExpensify commented on #9823
@iwiznia To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

 - Decide whether any proposals currently meet our guidelines and can be approved as-is
 - For any that can't, please take this issue internal and treat it as one of your highest priorities

[2022-11-17 21:32] JmillsExpensify commented on #9823
P.S. I equally valid solution is to link this issue to react navigation issue and then put this issue on hold until then.

[2022-11-17 21:32] JmillsExpensify commented on #9848
@luacmartins To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

 - Decide whether any proposals currently meet our guidelines and can be approved as-is
 - For any that can't, please take this issue internal and treat it as one of your highest priori

[2022-11-17 21:33] JmillsExpensify commented on #9973
@sketchydroide To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

 - Decide whether any proposals currently meet our guidelines and can be approved as-is
 - For any that can't, please take this issue internal and treat it as one of your highest prio

[2022-11-17 21:33] JmillsExpensify commented on #9973
@sketchydroide Adding that for your specific case you should treat IOU refactor higher. But then this is the next one after that.

[2022-11-17 21:33] JmillsExpensify commented on #10262
@pecanoro To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

 - Decide whether any proposals currently meet our guidelines and can be approved as-is
 - For any that can't, please take this issue internal and treat it as one of your highest prioritie

[2022-11-17 21:34] AndrewGable commented on #12266
Agree with @s77rt - Seems to be fixed 🎉

https://user-images.githubusercontent.com/2838819/202564394-59ce0b7d-f7ba-467f-aed3-c98d25d7b190.mov

Reopen if you disagree.

[2022-11-17 21:34] #12266 closed

[2022-11-17 21:34] JmillsExpensify commented on #10263
@MonilBhavsar To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

 - Decide whether any proposals currently meet our guidelines and can be approved as-is
 - For any that can't, please take this issue internal and treat it as one of your highest prior

[2022-11-17 21:34] JmillsExpensify commented on #10347
@Julesssss @Gonals To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

 - Decide whether any proposals currently meet our guidelines and can be approved as-is
 - For any that can't, please take this issue internal and treat it as one of your highest

[2022-11-17 21:35] JmillsExpensify commented on #10414
@sketchydroide To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

 - Decide whether any proposals currently meet our guidelines and can be approved as-is
 - For any that can't, please take this issue internal and treat it as one of your highest prio

[2022-11-17 21:35] marcaaron commented on #12361
I can't reproduce this issue. Makes sense why no one has offered any solution to it as it has no clear reproduction steps.

@bondydaa can you confirm if this is still happening for you and reopen if so?

[2022-11-17 21:35] #12361 closed

[2022-11-17 21:35] JmillsExpensify commented on #10414
@sketchydroide In addition to that message, clarifying that for your specific case please focus on IOU refactors and then this issue.

[2022-11-17 21:36] JmillsExpensify commented on #10614
@Gonals To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

 - Decide whether any proposals currently meet our guidelines and can be approved as-is
 - For any that can't, please take this issue internal and treat it as one of your highest priorities

[2022-11-17 21:36] JmillsExpensify commented on #10670
@tgolen To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

 - Decide whether any proposals currently meet our guidelines and can be approved as-is
 - For any that can't, please take this issue internal and treat it as one of your highest priorities

[2022-11-17 21:37] JmillsExpensify commented on #10737
@Julesssss To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

 - Decide whether any proposals currently meet our guidelines and can be approved as-is
 - For any that can't, please take this issue internal and treat it as one of your highest prioriti

[2022-11-17 21:37] marcaaron commented on #12708
Agree. This just looks implemented incorrectly to me.

[2022-11-17 21:38] JmillsExpensify commented on #10737
@roryabraham In addition to that message above, feel free to close this issue out again. We are soon deprecating these automated Firebase issues anyway.

[2022-11-17 21:38] AndrewGable commented on #12708
@Puneet-here - Can you amend your proposal with [this](https://github.com/Expensify/App/issues/12708#issuecomment-1319221139) in mind? Then I will assign and I look forward to reviewing the PR.

[2022-11-17 21:40] JmillsExpensify commented on #11048
@AndrewGable To help clear out the extensive backlog of /App bugs, we're putting the spotlight on all bugs older than 4 weeks old. To help unblock the roadmap and get our bug pipeline back in equilibrium, can you:

 - Decide whether any proposals currently meet our guidelines and can be approved as-is
 - For any that can't, please take this issue internal and treat it as one of your highest priori

[2022-11-17 21:40] joekaufmanexpensify commented on #12487
@parasharrajat Mind accepting [the offer](https://www.upwork.com/nx/wm/pre-hire/c/8577561/offer/22223406) for this one so we can pay you?

[2022-11-17 21:41] neil-marcellini commented on #12315
There are no current proposals, but there is a solution outlined here https://github.com/Expensify/App/issues/12315#issuecomment-1308203506. I [posted in Slack](https://expensify.slack.com/archives/C03TQ48KC/p1668721181773549) asking if someone can take this over.

[2022-11-17 21:43] neil-marcellini commented on #12315
If no one takes this I'll work on it with Weekly priority.

[2022-11-17 21:43] marcaaron commented on #9823
I think this issue is really not so bad and could just wait. Worst case scenario you tap once more to close the menu. Normally, I think people would do the tap on mobile web to exit the modal before going back - so it's a little edge case. Let's pull it into the navigation stuff.

[2022-11-17 21:43] abekkala commented on #9581
That cross post above was done by mistake - my clipboard pasted the wrong link - ugh.

[2022-11-17 21:44] neil-marcellini commented on #12000
I'm going to make this monthly while it's on HOLD.

[2022-11-17 21:46] aneequeahmad commented on #8236
@Julesssss I have implemented the changes in our code base. I'll post the code changes in a bit. It is working as expected and also add's more features/functionality like animations, delays if need to be added in showing splash screen and other built-in features.

Also my proposal doesn't require any major breaking changes just a few lines added in `android files` to make the splash screen work.

[2022-11-17 21:49] ctkochan22 commented on #7968
Do we want to just disable the enter button for this modal for now?

[2022-11-17 21:50] grgia commented on #12639
I'll take this one!

[2022-11-17 21:52] AndrewGable commented on #11048
No proposals exist, I can look into it.

[2022-11-17 21:54] OSBotify commented on #12812
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12829) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.29-4` :rocket:

[2022-11-17 21:58] deetergp commented on #12543
For this instance, I think we're fine to replace the `throw` with a `Log.warn()` and include `policyID` and the `pendingMessage` in the the logged message.

[2022-11-17 21:58] bondydaa commented on #12714
why does our API and Auth allow this? This should be fixed at every level of the stack not just in JS.

[2022-11-17 22:00] dangrous commented on #12198
Re: ^ @mollfpr's proposal is currently being reviewed! Should hopefully be able to accept and get this moving shortly!

[2022-11-17 22:00] marcochavezf commented on #12292
Yup, I already created a PR, today I'm going to test it out and add the screenshots

[2022-11-17 22:00] bondydaa commented on #12714
going to take this over and investigate it a bit more since I suspect we need to update the API and Auth.

[2022-11-17 22:01] marcaaron commented on #12487
@joekaufmanexpensify it is done!

[2022-11-17 22:02] neil-marcellini commented on #11914
My bad, this is not an issue. Thanks to @parasharrajat for pointing that out. Inputs should only be grayed out while online if there was a creation error. This code is correct.
https://github.com/Expensify/App/blob/376c3327bdc58e0fb15ff31fa7ebba819a680206/src/components/OfflineWithFeedback.js#L88

[2022-11-17 22:02] #11914 closed

[2022-11-17 22:02] parasharrajat commented on #4733
Thanks, @lbaldy I will test it.

[2022-11-17 22:04] jasperhuangg commented on #12691
The PR for this is on staging! https://github.com/Expensify/App/pull/12755

[2022-11-17 22:05] jasperhuangg commented on #12265
The PR for this issue is on staging! https://github.com/Expensify/App/pull/12746

[2022-11-17 22:05] mountiny commented on #12741
Actually we might want to use dashes here https://expensify.slack.com/archives/C01GTK53T8Q/p1668113640697309

[2022-11-17 22:08] juzoace commented on #12512
- With what I can see, there's an error indicated in the network tab as 51103eacf3bef7f35f0812db4ea611f7.js. I'll still dig deeper into it.

 I'm guessing the current design might need to be changed because of the information I saw here:  https://github.com/wojtekmaj/react-pdf/issues/1061

I'm guessing there might not be a way to show PDF when offline for now. I tried using a worker but instead th

[2022-11-17 22:09] parasharrajat commented on #12487
@joekaufmanexpensify Done.

[2022-11-17 22:09] huzaifa-99 commented on #12058
Bump @zanyrenney

[2022-11-17 22:11] cead22 commented on #7968
I think so. I can't even notice the cancel button being focused like in the issue description on staging web
![](http://g.recordit.co/qo53K5BKgi.gif)

[2022-11-17 22:11] AndrewGable commented on #12773
I am closing this issue because we are no longer focusing on Firebase reported crashes. If this crash is **reproducible**, please report it in [#expensify-bugs](https://expensify.slack.com/archives/C049HHMV9SM) in Slack.

[2022-11-17 22:11] #12773 closed

[2022-11-17 22:11] AndrewGable commented on #12673
I am closing this issue because we are no longer focusing on Firebase reported crashes. If this crash is **reproducible**, please report it in [#expensify-bugs](https://expensify.slack.com/archives/C049HHMV9SM) in Slack.

[2022-11-17 22:11] #12673 closed

[2022-11-17 22:12] AndrewGable commented on #12543
I am closing this issue because we are no longer focusing on Firebase reported crashes. If this crash is **reproducible**, please report it in [#expensify-bugs](https://expensify.slack.com/archives/C049HHMV9SM) in Slack.

[2022-11-17 22:12] #12543 closed

[2022-11-17 22:12] AndrewGable commented on #11529
I am closing this issue because we are no longer focusing on Firebase reported crashes. If this crash is **reproducible**, please report it in [#expensify-bugs](https://expensify.slack.com/archives/C049HHMV9SM) in Slack.

[2022-11-17 22:12] #11529 closed

[2022-11-17 22:12] AndrewGable commented on #11266
I am closing this issue because we are no longer focusing on Firebase reported crashes. If this crash is **reproducible**, please report it in [#expensify-bugs](https://expensify.slack.com/archives/C049HHMV9SM) in Slack.

[2022-11-17 22:12] #11266 closed

[2022-11-17 22:12] AndrewGable commented on #11171
I am closing this issue because we are no longer focusing on Firebase reported crashes. If this crash is **reproducible**, please report it in [#expensify-bugs](https://expensify.slack.com/archives/C049HHMV9SM) in Slack.

[2022-11-17 22:12] #11171 closed

[2022-11-17 22:12] AndrewGable commented on #11125
I am closing this issue because we are no longer focusing on Firebase reported crashes. If this crash is **reproducible**, please report it in [#expensify-bugs](https://expensify.slack.com/archives/C049HHMV9SM) in Slack.

[2022-11-17 22:12] #11125 closed

[2022-11-17 22:12] AndrewGable commented on #11124
I am closing this issue because we are no longer focusing on Firebase reported crashes. If this crash is **reproducible**, please report it in [#expensify-bugs](https://expensify.slack.com/archives/C049HHMV9SM) in Slack.

[2022-11-17 22:12] #11124 closed

[2022-11-17 22:12] AndrewGable commented on #10907
I am closing this issue because we are no longer focusing on Firebase reported crashes. If this crash is **reproducible**, please report it in [#expensify-bugs](https://expensify.slack.com/archives/C049HHMV9SM) in Slack.

[2022-11-17 22:12] #10907 closed

[2022-11-17 22:12] AndrewGable commented on #10737
I am closing this issue because we are no longer focusing on Firebase reported crashes. If this crash is **reproducible**, please report it in [#expensify-bugs](https://expensify.slack.com/archives/C049HHMV9SM) in Slack.

[2022-11-17 22:12] #10737 closed

[2022-11-17 22:13] strepanier03 commented on #12786
Thank you @thesahindia, I really appreciate you getting to this so quickly.

In light of that, I'll move forward with triaging and recreating the behavior and take the next appropriate action.

[2022-11-17 22:15] francoisl commented on #12804
@Pujan92's proposal makes sense to me and seems like the most straightforward – what are your thoughts @rushatgabhane ?

[2022-11-17 22:19] bondydaa commented on #12361
yeah I'm able to still reproduce this even after updating to `Version 1.2.28-2 (1.2.28-2)` a few minute ago

![2022-11-17_15-11-55 (1)](https://user-images.githubusercontent.com/4073354/202571987-79b2e09b-4d7b-43a5-8000-c1800e67ea61.gif)

as you can see in the gif, the first time i click into the the input and use the control+cmd+space bar shortcut the emoji picker isn't shown no matter how often

[2022-11-17 22:29] jasperhuangg commented on #12265
@flaviadefaria I think https://github.com/Expensify/App/pull/10395 is the source of this bug.

Taking a look at the PR it doesn't include offline cases in its testing steps, which would have caught this before it was merged and deployed.

[2022-11-17 22:37] muttmuure commented on #11801
Rushat paid. Just waiting for Eugene to accept and get paid then we can close.

[2022-11-17 22:40] jasperhuangg commented on #11471
Hey @MonilBhavsar can you maybe provide the login credentials of the account? that makes sense because those accounts would have reports that take longer to load.

I can take this one on, have a solution in mind. I feel like this exact situation is what [`isLoadingReportActions` is for](https://github.com/Expensify/App/blob/7de9ab2d62849fc670879a680dd46cf8003697f8/src/libs/actions/Report.js#L509-L

[2022-11-17 22:41] marcaaron commented on #11471
Not able to repro this on staging or production.

[2022-11-17 22:42] jasperhuangg commented on #11471
@marcaaron are you using accounts with very large reports?

[2022-11-17 22:42] marcaaron commented on #11471
What does "very large reports" mean?

[2022-11-17 22:45] ryanschaffer commented on #12387
Will get to this tomorrow

[2022-11-17 22:47] jasperhuangg commented on #11471
Actually now that you mention it, I'm not really sure what they were talking about since we paginate loading report actions. But I'm getting this from [here](https://github.com/Expensify/App/issues/11471#issuecomment-1313313332)

[2022-11-17 22:50] marcaaron commented on #12361
Can you give some more information about your OS or anything else? Do you have any global extensions installed related to keyboard shortcuts?

[2022-11-17 22:52] bondydaa commented on #12361
macOS
<img width="267" alt="image" src="https://user-images.githubusercontent.com/4073354/202577083-1198821e-e98e-438d-8981-2e8d3de5b5cd.png">

no global shortcuts or additional tooling installed. control+cmd+space should be a built in on macOS to trigger the emoji selector, not sure if you can turn it off or something but been around for years.

[2022-11-17 22:54] marcaaron commented on #11471
I think maybe whatever was causing it is not happening anymore? Can you try to reproduce on staging and production to validate what I'm seeing?

[2022-11-17 22:56] JediWattson commented on #7862
I'll be taking on some of the comments within the next couple days just to keep everyone updated here

[2022-11-17 22:56] marcaaron commented on #12361
I have the same exact specs as you can can't repro it. wanna grab it since you seem to be the only one who has reproduced it so far? 🥺 🙏

[2022-11-17 22:59] muttmuure commented on #12641
Unable to repro @kbecciv! Feel free to close if this is no longer an issue

[2022-11-17 23:01] bondydaa commented on #12361
I just picked up a different bug that seems to be paying IOUs twice so
think that's a higher priority right now.

This is probably fine to leave closed for now, I don't think it's that
important and will be solved once we have the slack like ":emoji:"
shortcuts/picker implemented. I can circle back to this later on or people
can reopen if they feel it's that pressing.

On Thu, Nov 17, 2022 at 3:56

[2022-11-17 23:03] parasharrajat commented on #8592
So it seems that `execCommand` is not working.

For HoneyPot, I raised a discussion https://expensify.slack.com/archives/C01GTK53T8Q/p1668726058235669. This is a hack so the majority needs to agree before we think about it.

[2022-11-17 23:08] roryabraham commented on #12812
https://github.com/Expensify/App/pull/12829 was CP'd to fix https://github.com/Expensify/App/issues/12822, please retest

[2022-11-17 23:09] OSBotify commented on #12812
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.29-4 has been deployed to staging :tada:

[2022-11-17 23:10] MitchExpensify commented on #12276
bump @kavimuru

[2022-11-17 23:11] MitchExpensify commented on #11733
Yes @aneequeahmad, paying now

[2022-11-17 23:13] AndrewGable commented on #11048
First I am trying to understand if there is really any "jumping" or if this is just a place where better animations should exist...

[2022-11-17 23:15] tgolen commented on #11701
I got some good progress on this today and have a WIP PR here: https://github.com/Expensify/App/pull/12848

I should be able to wrap it up tomorrow.

It basically entailed an entire refactoring of how that view is laid out, and it's much better now.

[2022-11-17 23:16] OSBotify commented on #12812
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12830) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.29-5` :rocket:

[2022-11-17 23:21] marcaaron commented on #11502
I think the reproductions steps here are not complete or something or our recent improvements in performance have made this less of an issue. Mobile web chat switching on Android looks pretty smooth to me under normal circumstances. On an account with many chats it's not going to look 100% smooth because the rendering performance of the LHN goes down a bit at scale.

I also think that these animat

[2022-11-17 23:21] MitchExpensify commented on #11733
Mind [applying here](https://www.upwork.com/jobs/~0131f45457604e2be4) and I'll issue the reporting bonus? Thanks @aneequeahmad

[2022-11-17 23:22] Emz27 commented on #12777
### Proposal
1. measure image size and get proportions to container. calculate min max panning distance using those values
2. make ImageView component from scratch using react-native-gesture-handler + react-native-reanimated to imitate native like performance and expectations like image panning [decay](https://docs.swmansion.com/react-native-reanimated/docs/api/animations/withDecay)  (would take m

[2022-11-17 23:26] s77rt commented on #12521
### Proposal (Updated)
[code]

[code]

### Details
I have implemented a simple trap focus for accessibility. I have also enabled `shouldCloseOnOutsideClick` to be true per default (btw, this was implemented but never used, weird). I have also applied a small patch to react-native-modal on the backdrop style to cover this [issue](https://github.com/Expensify/App/issues/12521#issuecomment-1315161842

[2022-11-17 23:28] quinthar commented on #11321
Wow, very interesting!

On Thu, Nov 17, 2022 at 9:07 AM Hanno J. Gödecke ***@***.***>
wrote:

[2022-11-17 23:28] jasperhuangg commented on #11471
cc @MonilBhavsar, since I don't have access to those test accounts can you try to repro again? Since the last time you tried a number of deploys have went out, so perhaps something has changed.

[2022-11-17 23:29] jasperhuangg commented on #11405
Can investigate this one

[2022-11-17 23:32] kbecciv opened #12850 "Badge is shown though there is no outstanding IOU for a chat of a High Traffic account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with HT account
3. Select any user in LHN

## Expected Result:
Chat conversation should be loaded

##

[2022-11-17 23:35] kbecciv opened #12851 "Chat - Spaces, brackets are eliminated from attachment file name once uploaded to the chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/ and login
2. Open any chat
3. Upload any file with brackets and/or spaces in its name

[2022-11-17 23:41] aldo-expensify commented on #12240
Tried to reproduce this today in dev and in production, the gmail account can open the room just fine.

@kavimuru since you were able to reproduce this in the past, can you give this another round and check if this is still happening?

[2022-11-17 23:44] kbecciv opened #12852 "mWeb/safari - Login - Yellow background colour is present when the password manager/keyboard autocomplete the login credentials"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12737

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2.

[2022-11-17 23:47] parasharrajat commented on #4733
@lbaldy  It does not seem to work well. Notice the gap before and after the inlinecodeblock
![Screenshot 2022-11-18 05:16:32](https://user-images.githubusercontent.com/24370807/202583901-99ce7c2d-6ac2-4238-94c1-6857041f9c8e.png)

[2022-11-17 23:49] kbecciv opened #12853 "Android - Profile - The new avatar's photo is not displayed immediately"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App
2. Login with any account
3. Go to Settings ->Profile
4. Click on avatar -> Upload photo -> Choose a new photo ->

[2022-11-17 23:51] jasperhuangg commented on #11405
Can't seem to reproduce this one on staging or prod:

#### Staging
https://user-images.githubusercontent.com/31285285/202584282-12cdccd2-cd0b-40c8-9e56-2de7cca912c8.MP4

#### Prod
https://user-images.githubusercontent.com/31285285/202584255-d09d5d19-c421-43c4-b416-7572452998d1.MP4

This was opened a while ago, and no one has posted any reproduction evidence since, so I'm gonna close this out.

[2022-11-17 23:53] parasharrajat commented on #4733
Now, it has been many days since we held this issue for a better solution. But I think we are hitting some hard rocks here.

I will look back at the two working proposals and try to pick the best one if the team agrees.

It's late for me so I will open a new discussion tomorrow if needed and make a call by Saturday.

[2022-11-18 00:00] jasperhuangg commented on #11405
Can't seem to reproduce this one on iOS Safari on staging or prod:

## Staging
https://user-images.githubusercontent.com/31285285/202585484-4362d677-1a30-40de-921f-ab6ff5bd5a8f.MP4

## Prod
https://user-images.githubusercontent.com/31285285/202585450-2b00523a-df1e-4180-aa66-3197ed82faa6.MP4

This was opened a while ago, and no one has posted any reproduction evidence since, so I'm gonna close this

[2022-11-18 00:00] #11405 closed

[2022-11-18 00:04] jasperhuangg commented on #11277
Gonna look into this one

[2022-11-18 00:04] kbecciv opened #12854 "[HOLD setSelection refactor] [$2000] Android - Cursor is placed in wrong position after write/paste the emoji between the word Hello and nice - Reported by: @AndreasBBS"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12632

## Action Performed:
1. Launch the app
2. Log in with any account
3. Go

[2022-11-18 00:06] mvtglobally commented on #12276
Because the issue had HOLD in header, it was excluded from KIs. We will add it this week to retest  and update

[2022-11-18 00:14] aneequeahmad commented on #11733
@MitchExpensify applied thanks

[2022-11-18 00:24] kavimuru commented on #12045
@thesahindia I am not able to reproduce this in the build v1.2.29-5

https://user-images.githubusercontent.com/43996225/202588356-48a1633e-3960-4619-848d-959dfa7f6bfd.mp4

[2022-11-18 00:37] GabiHExpensify commented on #12255
Does this still need to be a `Daily`? I know we wanted the copy daily, but I'm not sure what the level of urgency is on the design + deploying them.

[2022-11-18 00:38] marcaaron commented on #11502
Gonna just close this one. Don't think it's going to be much of problem for us and will get even better once we reimplement react nav.

[2022-11-18 00:38] #11502 closed

[2022-11-18 00:40] OSBotify commented on #12812
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.29-5 has been deployed to staging :tada:

[2022-11-18 00:52] shawnborton commented on #12257
cc @Luke9389 @grgia - curious for your thoughts on Daniel's comments above ^

[2022-11-18 00:54] shawnborton commented on #12616
Cool, I can get down with the spinner approach as well.

[2022-11-18 01:01] strepanier03 commented on #12786
Tested these steps on the following devices and I'm unable to recreate this.

Google Chrome web browser on Mac
![2022-11-17_16-54-53 (1)](https://user-images.githubusercontent.com/10925636/202591745-37ed6701-9301-4f78-8f54-aae365927051.gif)

Android phone (Pixel 6)
No video, sorry.

Desktop app on Mac
![2022-11-17_16-58-29 (1)](https://user-images.githubusercontent.com/10925636/202592212-b6f82c01-

[2022-11-18 01:03] strepanier03 commented on #12715
Great, thank you for the heads up @mollfpr. I'll continue to follow along and when we're ready to hire I'll be here to take the next steps. If I can help with anything else, just let me know.

[2022-11-18 01:06] shawnborton commented on #12255
I think we can remove waiting for copy and I will switch to Weekly as well, though this is definitely on my priority list!

[2022-11-18 01:07] strepanier03 commented on #12238
Fantastic, this is all paid out and we're ready to close it down.

Thank you @0xmiroslav, @eVoloshchak, @huzaifa-99, and @Beamanator for working on this one and getting it done. Cheers!

[2022-11-18 01:07] #12238 closed

[2022-11-18 01:08] davidcardoza commented on #12710
@marcaaron should I raise the pay to $500?

[2022-11-18 01:13] strepanier03 commented on #12151
Aaah, sorry about that @MonilBhavsar! I misunderstood where the conversation was at and thought you were on board with the solution because of the discussion about the rooms. I will wait for more explicit approval from the CME moving forward.

[2022-11-18 01:20] Pujan92 commented on #12804
Yes, as native app doesn't have hover effect this issue won't persist there.

[2022-11-18 01:22] strepanier03 commented on #9253
Design Doc for [App Navigation reboot](https://docs.google.com/document/d/1cQ87HcDA9RrmBM4ch7PmlNi9N9ZP8abQuPF0gKYrxDE/edit#heading=h.uzwj26ozei4j) is out.

Moving this to weekly for the time being.

[2022-11-18 02:20] LucioChavezFuentes commented on #7860
Update: I reproduced this issue in a sandbox [here](https://codesandbox.io/p/github/Lucio-s-Forks/react-native-web/only-longFlatlist-expensive-items-VirtualizedList-updated-no-proposal?file=%2Fpackages%2Freact-native-web-examples%2Fpages%2Findex.js&selection=%5B%7B%22endColumn%22%3A43%2C%22endLineNumber%22%3A90%2C%22startColumn%22%3A43%2C%22startLineNumber%22%3A90%7D%5D)

While doing the sandbox I

[2022-11-18 02:21] shawnborton commented on #12259
Here are the default workspace avatars: [Default Workspace Avatars.zip](https://github.com/Expensify/App/files/10037166/Default.Workspace.Avatars.zip)

Note that they are also square full-bleeders. I suppose we can follow up with a separate issue to make them use a rounded square shape rather than a circle crop?

[2022-11-18 02:21] mananjadhav commented on #12276
Thanks @mvtglobally.

[2022-11-18 02:22] OSBotify commented on #12812
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12855) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.29-6` :rocket:

[2022-11-18 02:25] mananjadhav commented on #12744
Thanks for the proposal @syedsaroshfarrukhdot. Your proposal looks good to me. I had worked on the original implementation. I wonder how I missed this.

@grgia All yours.

🎀 👀 🎀 
C+ reviewed

[2022-11-18 02:25] NikkiWines commented on #9459
This issue was brought up in #bug-zero [today](https://expensify.slack.com/archives/C01SKUP7QR0/p1668689378986189) and I believe the consensus is that this isn't really a true bug. I said effectively as much [here](https://github.com/Expensify/App/issues/9459#issuecomment-1216335157).

Curious to your thoughts here @JmillsExpensify.

[2022-11-18 02:30] kbecciv commented on #7270
@nkuoch Let me check with tester, will update you shortly.

[2022-11-18 02:31] Emz27 commented on #12645
Hi reviewers, you might want to check this proposal https://github.com/Expensify/App/issues/12712#issuecomment-1316784391 I think this topic is related, I dont know why it was rejected. I got a few articles that supports rendering placeholder and image at the same time.

https://moduscreate.com/blog/how-to-use-image-placeholders-in-react-native/
https://medium.com/technoetics/adding-image-placehol

[2022-11-18 02:46] NikkiWines commented on #12428
@mollfpr, thanks for your proposal. It looks pretty good for the deep linking flow, but there're some anomalies in the UI as it loads the view. It looks like it cycles through a few options for the name of the workspace and the name of the room before loading correctly.

For the `account doesn't have access` flow, it seems like we still end up showing the `ReportSettingsPage1 very briefly.

I'll l

[2022-11-18 02:50] kbecciv commented on #7270
Tester doesn't remember the credentials.

[2022-11-18 02:52] Emz27 commented on #12807
### Proposal
- use state for textinput values where the api values are the default values, we dont need to listen to api values after that to prevent slow/lag on input change

I have this kind of bug in our project where we used redux form in our textinputs, redux form was slow thats why it keeps repeating the values

[2022-11-18 02:52] mananjadhav commented on #10352
@Christinadobrzyn do you have any updates for us here?

[2022-11-18 02:57] mananjadhav commented on #11893
@dylanexpensify Is this eligible for 50% bonus 4th Nov and reviewed within 3-4 business working days.

[2022-11-18 02:58] hungvu193 commented on #12692
[PR](https://github.com/Expensify/App/pull/12858) is ready for review guys 👀

[2022-11-18 03:04] pecanoro commented on #9818
@JmillsExpensify We are discussing the proposals

[2022-11-18 03:07] varshamb commented on #12741
@thienlnam

I don't think this is accessibility issue. [This](https://github.com/Expensify/App/issues/12854) bug is open for Cursor position.

[2022-11-18 03:16] techievivek commented on #12363
@puneetlath We haven't received any proposal so far for this issue. I am working limited hours this week(ooo today); otherwise, I can give it a look myself.

[2022-11-18 03:17] NikkiWines commented on #10893
I agree with @cowboycito, other apps like Slack and Spotify display a similar pop-up if you haven't selected "always allow"

<img width="738" alt="image" src="https://user-images.githubusercontent.com/16747822/202608408-6baaa025-f92c-4d26-a2e3-9a805a36c2e8.png">

Some basic testing on the POC branch seems to work well so far, though I'd expect the pop-up to say "Open New Expensify" not "Open Elect

[2022-11-18 03:21] conorpendergrast commented on #12853
[Checkin in Slack](https://expensify.slack.com/archives/C03U7DCU4/p1668741543537639?thread_ts=1668653609.180609&cid=C03U7DCU4) if we're linking this to [the overall image performance project](https://github.com/Expensify/App/issues/10894)

[2022-11-18 03:28] Santhosh-Sellavel commented on #12741
@Christinadobrzyn Can you assign this to another C+, I can't get to this sooner.

[2022-11-18 03:32] conorpendergrast commented on #12853
https://stackoverflow.com/c/expensify/questions/14418
- [x] The "bug" is actually a bug - yep!
- [x] The bug is not a duplicate report of an existing GH (close the GH and add any novel details to the original GH instead) - I don't think this is a duplicate, but it could be part of https://github.com/Expensify/App/issues/10894
- [X] The bug is reproducible, following the reproduction steps: I could

[2022-11-18 03:32] #12853 closed

[2022-11-18 03:33] techievivek commented on #12363
@puneetlath NVM, I just had a look at the internal discussion. I will start looking into the issue.

[2022-11-18 03:41] Christinadobrzyn commented on #10352
Sorry for the delay.  Closed the job in Upwork and closing this.

I paid
@aimane-chnaif $750 for the fix
@mananjadhav $750 as the C+
@ahmdshrif $250 for reporting the bug

Let me know if you have any questions!

[2022-11-18 03:41] #10352 closed

[2022-11-18 03:46] Christinadobrzyn commented on #10352
Hey @mananjadhav sorry, I missed your question here https://github.com/Expensify/App/issues/10352#issuecomment-1310606440

Yes, can you please send me the PR that caused the issue so I can record it in test rail.

[2022-11-18 03:50] alexpensify commented on #11825
@Ollyws has been hired as the contributor. Please accept and I can continue the process in Upwork:

https://www.upwork.com/jobs/~017971a3070c51f85a

[2022-11-18 04:00] mananjadhav commented on #10352
Please check the response [here](https://github.com/Expensify/App/issues/10352#issuecomment-1313561113)

[2022-11-18 04:11] mananjadhav commented on #12616
I also feel spinner is the right approach. Because we are adding it to a generic `NotFound` page.

[2022-11-18 04:15] alexpensify commented on #12703
It looks like this one is still under discussion.

[2022-11-18 04:23] OSBotify commented on #12812
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.29-6 has been deployed to staging :tada:

[2022-11-18 04:46] christianwen commented on #10731
asked here https://expensify.slack.com/archives/C01GTK53T8Q/p1668700495132809
@iwiznia are you aware of this?

[2022-11-18 04:57] MonilBhavsar commented on #11471
TBH I just used my original expensify.com account and encountered this. I used my expensifail.com account (less chats) and didn't see the bug. So that led me to this belief.

[2022-11-18 05:00] MonilBhavsar commented on #11471
I tested right now and was able to reproduce on my expensify account.

[2022-11-18 05:03] marcochavezf commented on #12292
After testing further, I realized the root issue exists in the backend. I created this [PR](https://github.com/Expensify/Web-Expensify/pull/35618) to fix it.

Related to the initial [PR](https://github.com/Expensify/App/pull/12845), we can close it since it doesn't fix the root issue, although I think we should remove the `ONYXKEYS.PAYPAL` in favor of `NVP_PAYPAL_ME_ADDRESS` since it's redundant i

[2022-11-18 05:17] grgia commented on #12259
Thanks, Shawn! Could I get the random user icons as 400x400 png as well?

[2022-11-18 06:34] fabiocberg commented on #12155
Hi, my name is Fabio, I've been working as a web, backend and mobile developer for over 16 years.
I can help you with your paste issue.
The problem is with your input component. This is accepting only single lines, so after pasting the text, it automatically removes break lines.
It can be fixed by creating another input component (or adapting the current one) to accept multiline text.

Best regard

[2022-11-18 06:40] fabiocberg commented on #12784
Hi, my name is Fabio, I've been working as a web, backend and mobile developer for over 16 years.
I can help you blockquote markdown issue.
It's necessary to change the break line character according to the platform.

Best regards,
Fabio Bergmann

[2022-11-18 06:42] Pujan92 commented on #12804
Ok, Thanks.
I have submitted the proposal in upwork job.

[2022-11-18 06:59] mountiny commented on #12292
I definitely agree to come back to the previous simpler nvp, that made more sense imho even before. Thought there must be something wrong in the api, great work Marco!

Gonna review the prs, i would double check what was the reason why the new nvp shape was introduced so there is no hidden sideeffect down the line of reverting this change

[2022-11-18 07:02] sobitneupane commented on #11671
@fedirjh You suggested it is related to onyx.clear(), so was waiting for the discussion to come to a conclusion. But looks like there is no progress in the discussion.

@puneetlath

- The issue with originally accepted [proposal](https://github.com/Expensify/App/issues/11671#issuecomment-1282419495) is: for large number of reports, unread account was not swiftly changing to 0.
https://user-images.

[2022-11-18 07:06] thesahindia commented on #12786
Yep, it's still reproducible. To repro this you will need to search a new user (it shouldn't be in your contacts already).

[2022-11-18 07:13] s77rt commented on #12026
### Proposal (Updated)
[code]

### Details
Applied @rushatgabhane; Using `uniqFast()` instead of `_.unique()`
Fixed the description (comments) of uniqFast function.

[2022-11-18 07:35] JmillsExpensify commented on #4612
Ok cool, appreciate the additional context @marcaaron. So where do we do from here? Give that this is a duplicate of an older issue, I'm still inclined to close this one. The older issue also has better reproduction steps to boot. In fact, I'll go ahead and do so now, though any discussion can keep happening if required.

[2022-11-18 07:35] #4612 closed

[2022-11-18 07:43] s77rt commented on #11970
### Proposal (Updated)
[code]

### Update
I forgot to pass `state` to parseAndLogRoute function.

___

@rushatgabhane The IOUModal covers IOUAmount, IOUParticipants and IOUConfirm in one page and they are displayed based on the current step. Meaning IOUParticipants page -> IOUConfirmationPage does not introduce a navigation change thus the keyboard won't be dismissed. (Check src/pages/iou/IOUModal

[2022-11-18 07:44] JmillsExpensify commented on #12772
Ok well I think that's also my point here. Is this the only place this issue is happening with FlatList. I'm less and less interested is solving issues like this one as if this is the only place this is happening, and I think whatever solution we come up with, let's make sure that we aren't working on this same thing somewhere else in the repo in a silo.

[2022-11-18 07:45] JmillsExpensify commented on #10423
Thanks you for closing!

[2022-11-18 07:51] JmillsExpensify commented on #11914
Thanks so much for raising this in Slack. That discussion worked exactly as intended.

[2022-11-18 08:00] JmillsExpensify commented on #12786
I'm still not convinced that this separate issue, as I actually remembering seeing the same issue when the older report was created. Accordingly, I think we need to take the discussion back to the original slack thread and get on the same page before moving forward. The important thing is ensuring that we're not working on the same core problem in two separate issues.

[2022-11-18 08:02] JmillsExpensify commented on #12292
Great work @marcochavezf @mountiny! This is also a reminder for me that we'll need to hire the issue reporter as well as C+ if they are involved in a review. I'll still hold on that part until the PR is merged and roles on this issue are clearer.

[2022-11-18 08:06] JmillsExpensify commented on #12804
Ok great, I assigned @Pujan92 to the issue. I've also invited/hired both contributors in the related GH issue.

[2022-11-18 08:10] JmillsExpensify commented on #12784
@alex-mechler thanks a ton for helping us down the right path.

@fabiocberg Sounds great! Can you make sure to follow [our guidelines](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#propose-a-solution-for-the-job) for posting an idea, and specifically a proposal for this issue?

[2022-11-18 08:11] JmillsExpensify commented on #10731
I think @christianwen is right, though thanks for taking this discussion to Slack to make sure we're on the same page.

[2022-11-18 08:12] JmillsExpensify commented on #11701
@tgolen Super great to hear!

@rushatgabhane done.

[2022-11-18 08:15] JmillsExpensify commented on #12616
Awesome discussion all around. Let's move forward with spinner!

[2022-11-18 08:17] parasharrajat commented on #8311
Next update in 10 hours.

[2022-11-18 08:17] JmillsExpensify commented on #9818
@pecanoro Can any of these proposals be approved as-is?

[2022-11-18 08:24] JmillsExpensify commented on #9459
Thanks @NikkiWines. I agree with the discussion in Slack. There are reproduction steps, however, one has to make a mistake on a very long email address, and then go back to fix it. More to the point, this is better fixed upstream in RN, and enabling Fabric may remove this issue entirely. So I'm good with closing it as a result.

[2022-11-18 08:25] flodnv commented on #12158
@puneetlath this specific one is 3 weeks old. However since it's been suggested this could be internal, and seems like it could, I'll investigate further next week.

[2022-11-18 08:29] mananjadhav commented on #12616
@daraksha-dk's proposal [here](https://github.com/Expensify/App/issues/12616#issuecomment-1311654012) looks good to go ahead.

🎀 👀 🎀 
C+ reviewed

[2022-11-18 08:37] JmillsExpensify commented on #12706
@muttmuure Let's get this one going!

[2022-11-18 08:42] s77rt commented on #12616
@mananjadhav That's basically my proposal. It is not substantively different than mine.

[2022-11-18 08:44] JmillsExpensify commented on #7968
Nice, that's an interesting proposal. I like that or closing this issue since keyboard navigation as stated in the issue description are not officially supported.

[2022-11-18 08:48] mananjadhav commented on #12616
@s77rt it isn't but it was complete with spinner instead of the blank page, covers the fact that it can be a part of NotFound page. Lastly @daraksha-dk was actively involved in the last conversations, giving their insights, feedback, etc.

Hope it clarifies the decision.

[2022-11-18 08:49] zanyrenney commented on #12597
bump @kavimuru

[2022-11-18 08:49] zanyrenney commented on #11808
@parasharrajat any update here?

[2022-11-18 08:51] JmillsExpensify commented on #12691
@mollfpr Great thanks.

@s77rt Yes, I've updated your offer.

@huzaifa-99 Yes, the reporting bonus is $250. Can you apply to the [Upwork job](https://www.upwork.com/jobs/~01447aa76a5e810018) please?

[2022-11-18 08:54] JmillsExpensify commented on #9823
Nice, I agree with that. I'll proactively do that and also assign myself now since I'm curating the tracking issue.

[2022-11-18 08:58] s77rt commented on #12616
@mananjadhav I did mention to use a spinner, the proposal does not have to be on the final version. And the fact to use on the NotFound page was suggested by @Beamanator

[2022-11-18 09:01] JmillsExpensify commented on #12635
Ok that sounds like a plan! @mollfpr you probably have the best context on this issue, would appreciate you reporting in #expensify-bugs.

[2022-11-18 09:01] mananjadhav commented on #12616
Thanks for the comment @s77rt. I didn't just mention spinner, but few other things. I'll let @Beamanator share their views on this one.

[2022-11-18 09:04] JmillsExpensify commented on #12622
@Julesssss Thanks, assigning myself. Not sure why Github just notified me but that's a separate topic. I'll also it is to the tracking issue.

[2022-11-18 09:06] JmillsExpensify commented on #12622
Creating an Upwork job now and getting this process kicked off. cc @tgolen for visibility

[2022-11-18 09:09] JmillsExpensify commented on #11487
@CortneyOfstad I'd take that question to #bug-zero.

[2022-11-18 09:15] JmillsExpensify commented on #11463
Sure thing. Done!

[2022-11-18 09:27] JmillsExpensify commented on #8791
That doesn't answer my question. I'm asking why we have an app banner at all.

[2022-11-18 09:31] JmillsExpensify commented on #12719
@sonialiap Are you on Bug Zero? You need to make sure you keep yourself assigned to the issue.

[2022-11-18 09:33] JmillsExpensify commented on #11346
Heads up, there is no Bug Zero member assigned to this issue.

[2022-11-18 09:36] JmillsExpensify commented on #11398
I completely agree. Added that and a HOLD to the title. More context on this decision [in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1668126086760699).

[2022-11-18 09:37] JmillsExpensify commented on #12709
I don't think that's correct, or perhaps more accurately, we are in the midst of re-factoring this entire part of the app. I think we should put this issue on HOLD. @Beamanator can you weigh in as well?

[2022-11-18 09:39] JmillsExpensify commented on #10824
Lots going on in the open source world right now and the priority of this issue has slipped for me. I'll work on closing the loop as soon as I can, at the latest when the regression period ends.

[2022-11-18 09:39] JmillsExpensify commented on #11795
Woo, sweet!

[2022-11-18 09:39] juzoace commented on #12512
Okay @rushatgabhane, I'll keep you posted.

[2022-11-18 09:45] JmillsExpensify commented on #10632
Went ahead and removed the hold! I also updated this issue with a more clear description of the bug. I'll circle back on the polish issue, not a priority at this very moment.

[2022-11-18 09:46] JmillsExpensify commented on #12670
Awesome work on this one!

[2022-11-18 09:50] Dima-Kevanishvili commented on #12713
Hey @aimane-chnaif, can I lend that HT account today? Still haven't received an invitation

[2022-11-18 09:59] huzaifa-99 commented on #12691
@JmillsExpensify Applied, thanks.

[2022-11-18 10:01] thesahindia commented on #12807
I believe it's a good opportunity to refactor this page to use `Form` and the issue can be solved in that. Let's update the issue description unless someone disagrees.

[2022-11-18 10:12] miljakljajic commented on #12327
Ah apologies I missed the linked PR. I have asked for help [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1668764863253439) but I haven't had an answer yet and I am OOO, I'll reassign so the C+ isn't waiting longer for payment.

[2022-11-18 10:12] mollfpr commented on #12715
Thanks @Delgee, Is using Pressable will render as anchor tag on the web?

[2022-11-18 10:14] Delgee commented on #12715
Yes it will.

[2022-11-18 10:15] sketchydroide commented on #11346
The C+ assigned to the PR[ is asking about payment](https://github.com/Expensify/App/pull/12584#issuecomment-1319757452), I guess for both the C+ work and the 50% Bonus

[2022-11-18 10:30] Julesssss commented on #12233
Hi @isabelastisser, could you please create an UpWork issue to pay out @Santhosh-Sellavel please?

[2022-11-18 10:33] Julesssss commented on #10347
Closing based on [this](https://github.com/Expensify/App/issues/10347#issuecomment-1288765984) ^

[2022-11-18 10:33] #10347 closed

[2022-11-18 10:36] Julesssss commented on #8236
@aneequeahmad this is still a more complex solution than simply using the [correct android attributes](https://github.com/Expensify/App/pull/12642/files) and it defeats the point of using a single library for boot splash on all platforms. If we hadn't yet implemented boot splash I would agree with you.

[2022-11-18 10:38] Julesssss commented on #9809
Hi @kadiealexander could you double the price again please

[2022-11-18 10:45] Santhosh-Sellavel commented on #8791
That's what I am trying to answer, we didn't implement banner. Banner was added automatically by iOS Safari browser based deeplink configuration.

[2022-11-18 10:59] sketchydroide commented on #12645
I think I agree with @markarmanus here, the Avatar should be responsible for deciding what it looks like, and not the other way around, I appreciate your points @0xmiroslav but I'm going with @markarmanus solution for now.

[2022-11-18 11:12] Julesssss commented on #11930
Lets go with the patch. As mentioned above, it seems unlikely that this will be accepted as an upstream RNModal PR

[2022-11-18 11:15] parasharrajat commented on #11808
No proposals.

[2022-11-18 11:19] Julesssss commented on #12018
I'm leaning towards option1 for now, then treating iOS as a separate, lower-priority issue. It doesn't seem like we have any good alternatives here

[2022-11-18 11:19] Julesssss commented on #9250
Hey @parasharrajat, we can swap out with another C+ if you have too much on at the moment. Let me know what suits you best 👍

[2022-11-18 11:23] Julesssss commented on #12622
Awaiting proposals

[2022-11-18 11:23] sobitneupane commented on #10670
@s77rt Thanks for your proposal.

Issues you mentioned are spot on.

I don't think issue is only with Safari. I can reproduce the issue on Chrome as well.

I believe both the issue on request money and split bill has the same root cause. So, as far as possible let's try to find the root cause and solve it.

Having said that, I tested workaround you proposed. But found several issues with it. Your

[2022-11-18 11:23] parasharrajat commented on #9250
Sure. Let's do that.

[2022-11-18 11:28] sketchydroide commented on #12822
I just tested, this is now fixed, closing

[2022-11-18 11:29] Gonals commented on #12772
It took me quite a bit to actually `see` the issue 😅.

If the behavior is only happening in this specific section of the emoji list, I honestly don't think it is a bit deal. If we have a quick fix, great, otherwise... 🤷.

If we start seeing scrolling issues with our flatlists elsewhere, then we'd certainly need to tackle it with more urgency

[2022-11-18 11:33] ntdiary commented on #9181
@parasharrajat , I'm trying to create a PR. But in testing I also found a problem. I think the server also needs to make some changes.

Here is a chat with IOU history, but the current `hasOutstandingIOU` is `false`.
After we requested money, the server will push two notifications to the browser (type is `onyxApiUpdate`),
the first one will set `reportIOUs_4048917323630499` to `null`,
and the seco

[2022-11-18 11:37] zanyrenney commented on #12400
Hmm, I don't see the regression test linked - @ctkochan22 @Santhosh-Sellavel any idea where I'd find that?

[2022-11-18 11:39] sobitneupane commented on #10670
@rawalyogendra Thanks for your proposal.

I agree with you here.

I tested your mock and the issue exists both on safari and chrome but only on IOS. On android, the height does changes. Same is the case with our app. It is working fine in Android. But on IOS, both on safari and chrome the issue exists.

I currently do not have a solution, but I can look into it.

Spot on. We definitely prefer the

[2022-11-18 11:42] rawalyogendra commented on #10670
Weird @sobitneupane, let me test this again today on iOS(Chrome) and update my findings

[2022-11-18 11:46] cowboycito commented on #10893
@NikkiWines I believe that's because we're running the electron app instead of a built version of it. Once my proposal gets accepted I'll review the entire flow, which includes building the electron app and installing it on my computer. Once that's done I believe the pop-up will say "Open New Expensify".

[2022-11-18 11:47] Julesssss commented on #9250
Asked for C+ volunteers [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1668771997922969)

[2022-11-18 11:48] Gonals commented on #12283
Hey @puneetlath! So we don't plan to increase the price of this? It got doubled just a few days ago

[2022-11-18 11:49] sobitneupane commented on #10670
I also found another issue while testing above proposals. Keyboard is not opening for the confirmation page. Keyboard only opens after pressing the "What's it for?" `TextInput`. I am not sure if it is already logged somewhere.

https://user-images.githubusercontent.com/25876548/202698411-e5f4dc61-0c8e-44a3-a6e1-5da81a583584.mp4

[2022-11-18 11:52] dhairyasenjaliya commented on #12822
Hello @sketchydroide upwork job for reporting bonh

[2022-11-18 11:55] sobitneupane commented on #11265
I cannot find any issue logged in for this.

[2022-11-18 12:03] Gonals commented on #10614
Hmm. I think we simply have never needed it. I'm fine with this approach

[2022-11-18 12:06] hungvu193 commented on #12807
I agree, I remember we already have plan to refactor existing form to use Form component right?

[2022-11-18 12:07] sketchydroide commented on #12822
@greg-schroeder can you please create the job at upwork for @dhairyasenjaliya reporting?

[2022-11-18 12:15] nkuoch commented on #7270
There is not much we can do right now without clear reproduction steps, or recent logs of when it happened.
Next time it happens, please make sure to send us the affected email.
Meanwhile, I think we can close it?

[2022-11-18 12:32] laurenreidexpensify commented on #11488
@Santhosh-Sellavel @gadhiyamanan @syedsaroshfarrukhdot payment has been sent in Upwork 👍

[2022-11-18 12:36] Puneet-here commented on #12246
@eVoloshchak the PR is ready for review.

[2022-11-18 12:40] syedsaroshfarrukhdot commented on #11488
![Screenshot_2022-11-18-17-38-41-10_320a9a695de7cdce83ed5281148d6f19.jpg](https://user-images.githubusercontent.com/81307212/202707035-2c3e7ca0-0288-49c9-bffc-6a91c0f89390.jpg) just a curious question am I eligible for the 50% bonus for this issue ?

[2022-11-18 12:50] markarmanus commented on #12645
@sketchydroide Thank you, I sent the proposal on upwork yesterday. And you should expect a PR by EOD today or tomorrow max. Thank you!

[2022-11-18 12:51] iwiznia commented on #10731
Honestly, I am a bit lost on the react native fixes... I _think_ we don't need for a release to put it in our fork, do we? If we wait for a release then we could use the non forked version.

This is explained here https://stackoverflow.com/c/expensify/questions/12761/12762#12762 (which I think you don't have access to, so pasting here... damn, sorry but styling was not copied):
[code]

[2022-11-18 12:54] hungvu193 commented on #12651
No, I mean the way `ParticipantLocalTime` calculate the time by using participant.

[2022-11-18 12:55] Julesssss commented on #12592
I think this is a good [example](https://expensify.slack.com/archives/C01GTK53T8Q/p1668775848267399?thread_ts=1668640125.477709&cid=C01GTK53T8Q) of why we should simply block rotation on native and review once we've actually reached reunification.

[2022-11-18 12:55] nkuoch commented on #12530
[The other one](https://github.com/Expensify/App/issues/12308) seems not be reproducible. Can anyone check if this one is reproducible? I personally couldn't reproduce it.

[2022-11-18 12:56] mananjadhav commented on #11512
Well @puneetlath not so much. I traced the changes to the following PRs:

1. `src/libs/actions/ReimbursementAccount/resetFreePlanBankAccount.js` file to this https://github.com/Expensify/App/pull/6230, where we added the file, but I am not sure if we had the same object passed as this PR is like a refactor.

2.  `src/pages/workspace/WorkspacePageWithSections.js` changes to PR https://github.com/Ex

[2022-11-18 13:07] thesahindia commented on #12807
Just adding some other ways to reach additional details page (Because the mentioned steps only work when you have a bank account)

Change the code at [ModalStackNavigators.js] and visit search page (https://github.com/Expensify/App/blob/ff2454962dd10327e52d8f9fd4906585ca5521c6/src/libs/Navigation/AppNavigator/ModalStackNavigators.js#L174)
[code]

On web you can just visit http://localhost:8080/ena

[2022-11-18 13:08] s77rt commented on #10670
@sobitneupane

This is being tracked on https://github.com/Expensify/App/issues/10414

[2022-11-18 13:10] laurenreidexpensify commented on #12712
@nkuoch adding you for PR review to take over from Yuwen

[2022-11-18 13:16] sobitneupane commented on #12807
Waiting for decision on this before reviewing proposal.

[2022-11-18 13:20] kbecciv opened #12863 "Log in - When clicking on Resent Link, the error message is displayed instead of “Link has been resent” with a green dot"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. In the login screen, enter an email that doesn't have an Expensify account yet
2. In the "Resent link" page - Disable the inte

[2022-11-18 13:30] parasharrajat commented on #12772
Why do we think that this is not a  big deal? IMO, It is affecting user experience, and thus should be fixed.

[2022-11-18 13:30] iwiznia commented on #9181
I can make that change for you and the proposal looks good, with the only exception that I think you should have the conditional directly [here](https://github.com/Expensify/App/blob/d3eae9a5ea08aff4d6bce132ab5c4bf3f19aa3ba/src/libs/actions/IOU.js#L109-L113) instead of adding it later via `if` and using the `2` index, which could change if people add/remove some actions there.

@dylanexpensify let

[2022-11-18 13:35] iwiznia commented on #12592
I agree.

[2022-11-18 13:39] s77rt commented on #11930
Applied in Upwork. (+50% Bonus)
[PR](https://github.com/Expensify/App/pull/12864) is ready.

[2022-11-18 13:42] parasharrajat commented on #9181
Thanks, @iwiznia for taking care of the backend and good catch @ntdiary.

[2022-11-18 13:42] kbecciv commented on #7270
Let me re-check this error in my end

[2022-11-18 13:44] abekkala commented on #12511
Is there an update on the PR for this one?

[2022-11-18 13:45] abekkala commented on #9581
@mollfpr @Santhosh-Sellavel Is there an update on the PR for this?

[2022-11-18 13:47] mollfpr commented on #9581
@abekkala Yup, it was reviewed this morning. I just update the PR, and ready for another review.

[2022-11-18 13:57] kbecciv opened #12865 "Android - Login - The error page is displayed when login with account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App on Android
2. Create and validate a new Gmail account on Android
3. Create new workspace
4. Go to Settings -> Wor

[2022-11-18 13:58] kbecciv commented on #12865
Issue is not reproduced in Production

https://user-images.githubusercontent.com/93399543/202721630-d8d043cb-769c-4884-93e9-177dbb985f97.mp4

[2022-11-18 13:59] OSBotify commented on #12865
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-18 14:02] markarmanus commented on #12850
@rushatgabhane is it possible to get the login details for the account, to reproduce the issue ?

[2022-11-18 14:09] madmax330 commented on #11768
I have read and reviewed this Design Doc!

[2022-11-18 14:14] flaviadefaria commented on #12492
Internal post -https://www.upwork.com/ab/applicants/1593608404131282944/job-details
External post - https://www.upwork.com/jobs/~01c43f9dac33b0431c

[2022-11-18 14:19] maddylewis commented on #11697
i will double the price on this one today and update here once that's complete.

[2022-11-18 14:22] tgolen commented on #12141
@stephanieelliott thanks for testing that. I did some fixes, so I am not sure what exactly is still occurring. Can you add some more details about what exactly you tested and found wasn't working?

[2022-11-18 14:28] #12298 closed

[2022-11-18 14:28] laurenreidexpensify commented on #11768
I have read and reviewed this Design Doc!

[2022-11-18 14:37] tgolen commented on #12155
@fabiocberg Thank you for your proposal. Can you please give more details about the root of the problem (add links to the code where it shows it's only accepting single lines) and then also show the specific code changes you would make to solve the problem?

[2022-11-18 14:39] tgolen commented on #8791
@JmillsExpensify Yeah, I had asked the exact same questions earlier. @Santhosh-Sellavel is right. This is not something that we control. Because of the deep-linking configuration that we have to upload our app with (to get deep-links to work), Apple will automatically display that banner on any page which can be deep-linked to. It sucks, and we can't control it :(

[2022-11-18 14:39] kbecciv commented on #7270
@nkuoch Reproduced with my own account.
![Screenshot_20221118-093619_Chrome (1)](https://user-images.githubusercontent.com/93399543/202730014-2454fa98-4139-4b3c-a90c-4e709e6f9b24.jpg)

Credentials: applausetester+1107abb1@applause.expensifail.com/Feya86Katya

https://user-images.githubusercontent.com/93399543/202729955-73b3525d-cced-488c-aeae-491b4589e2e9.mp4

[2022-11-18 14:44] laurenreidexpensify commented on #12837
Reviewed

[2022-11-18 14:45] kbecciv commented on #12641
Checking with current build

[2022-11-18 14:46] roryabraham commented on #11694
I think a cleaner solution would probably be to implement the `maxLines` prop in React Native for iOS and use `maxLines` consistently across platforms.

[2022-11-18 14:47] kbecciv commented on #12641
Unable to reproduced with build 1.2.29.5

https://user-images.githubusercontent.com/93399543/202731638-6d72b6fb-1215-4dc0-857b-699cd7ebd43d.mp4

[2022-11-18 14:47] rawalyogendra commented on #10670
@tgolen I have opened an issue in `react-native-web`

https://github.com/necolas/react-native-web/issues/2430

Will Look into it this weekend

[2022-11-18 14:50] kbecciv commented on #12676
@marcaaron Here is the TR link for Restricted access part

https://expensify.testrail.io/index.php?/runs/view/10698&group_by=cases:section_id&group_order=asc&group_id=229067

![image](https://user-images.githubusercontent.com/93399543/202732367-980f0ca6-c1ee-4df3-82ae-af4f42d9978b.png)

[2022-11-18 14:53] laurenreidexpensify commented on #12506
Offers  sent in Upwork

[2022-11-18 14:54] isabelastisser commented on #11494
Not overdue. We are still discussing proposals here.

[2022-11-18 15:01] michaelhaxhiu commented on #10263
Ok everyone, we've had internal discussion about this job and feel it's time to close it... Here are some notes on why:

- While the proposals provided have been a helpful attempt, this is a `New Feature` and no proposal has won yet. And we are freezing all `New Features` to focus on `Bugs`.
- We feel the best solution here would be in an upstream library fix (react native / react native web), whi

[2022-11-18 15:01] #10263 closed

[2022-11-18 15:01] arosiclair commented on #7968
I like this as well. I'm generally in favor of solving things holistically rather than just patching them ad-hoc. Also from my testing on staging, `Enter` consistently confirms and `Esc` consistently cancels which feels pretty good to me. My vote is to close this.

[2022-11-18 15:04] roryabraham commented on #11694
Overall I feel like:

1. The platform differences of the `Composer` have diverged more than they should have, such that the differences between the platforms aren't clear
1. There is a lot of custom logic in the `Composer` component, much of which is probably intentional, but a lot of the context behind that logic is not very transparent. Some automated tests which cover the behaviors that we expe

[2022-11-18 15:04] laurenreidexpensify commented on #11488
LGTM @syedsaroshfarrukhdot, issued bonus 👍

[2022-11-18 15:06] laurenreidexpensify commented on #8661
@chiragsalian what do you think about closing this given it's not showed up after 2 weeks of KI retests?

[2022-11-18 15:11] tgolen commented on #11701
I've got the PR mostly wrapped up. As I was creating screenshots, I noticed a regression on the sign-in form for iOS, so I'll be chasing that down today.

[2022-11-18 15:15] syedsaroshfarrukhdot commented on #11488
Thank You

[2022-11-18 15:18] syedsaroshfarrukhdot commented on #10283
![Screenshot_2022-11-18-17-38-41-10_320a9a695de7cdce83ed5281148d6f19.jpg](https://user-images.githubusercontent.com/81307212/202738245-08dc4894-6b09-4993-a8ad-c931a11b379b.jpg) @johncschuster Am i eligible for 50% bonus here as my PR was merged within 3 business days.

[2022-11-18 15:38] mvtglobally commented on #12812
@roryabraham

Regression is completed.
PR #12632 is failing https://github.com/Expensify/App/issues/12854. This is not repro in PROD as the feature is being intro by this PR, so we didnt add the Blocker label. Pls double check
PR https://github.com/Expensify/App/pull/12718 is works with plain text but not with quoted text as in the PR. https://github.com/Expensify/App/pull/12718#issuecomment-13201

[2022-11-18 15:39] lschurr commented on #11844
@parasharrajat - Do you have an update on this one?

[2022-11-18 15:45] ntdiary commented on #9181
@iwiznia, thanks for your help!  You mean we can do this:
[code]
<hr />
On the other hand, just to verify the order problem, I made a temporary tweak (this will not be committed):

[code]
### video

https://user-images.githubusercontent.com/8579651/202741877-b5d68df5-8158-45ec-aac3-cd8b44980c2a.mp4

### log
<img width="1366" alt="fixed-log" src="https://user-images.githubusercontent.com/8579651/20

[2022-11-18 15:55] kbecciv commented on #11262
Updated the title with platforms, this PR https://github.com/Expensify/App/pull/12728  is Fail in Android and IOS app

https://user-images.githubusercontent.com/93399543/202746728-9ce15560-d811-49b6-a179-bfea14dc0432.MP4

https://user-images.githubusercontent.com/93399543/202746733-264ed169-300a-4620-ad05-4fc83c981036.mp4

[2022-11-18 16:10] Santhosh-Sellavel commented on #11488
@laurenreidexpensify I didn't get paid!

[2022-11-18 16:13] Santhosh-Sellavel commented on #10283
@syedsaroshfarrukhdot No, this PR is not eligible for the bonus. Issues that got assigned on or after Nov 4 and respective PRs that are created after that are only eligible!

[2022-11-18 16:14] mollfpr commented on #12745
Thanks for the proposal and the investigation! @fedirjh

But I think we should know first why the Firefox count `scrollHeight` is different, and what we know is that the value on Mac and Android is different. What I am confused about is, I can't repro this [issue](https://expensify.slack.com/archives/C049HHMV9SM/p1668612572582969) in the Android emulator. Could it have different values too on an A

[2022-11-18 16:17] kavimuru opened #12867 "iPhone 14 Pro - Cannot close full screen attachment modal"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any chat
2. Upload an image
3. Tap on it to view in full screen

## Expected Result:
Able to close the modal

## Actual

[2022-11-18 16:18] JmillsExpensify commented on #12805
I can't seem to reproduce this one on FireFox. It's workin as intended as far as I can tell.

https://user-images.githubusercontent.com/1127863/202751446-3c75e877-05e7-4a2b-a279-a08c31241c77.mov

[2022-11-18 16:18] Santhosh-Sellavel commented on #7968
Team, I will summarize what's the problem we are trying to address here, then let's decide. I'll post it later today!

cc: @JmillsExpensify @arosiclair @ctkochan22

[2022-11-18 16:19] mollfpr commented on #12715
@Delgee We can't replace the `Text` with `Pressable` it will crash the native app. Mostly our `TextLink` usage with localized text children.

[2022-11-18 16:21] Puneet-here commented on #12237
@jasperhuangg, I think we should fix this because it's annoying. There's a real life case for example I sometimes scroll to the past messages while writing a response for them.

I tried Slack, Whatsapp and instagram I didn't see this bug there so I believe it's the opposite

[2022-11-18 16:23] JmillsExpensify commented on #12805
Woah this seems like a feature to me. Do we support this on any browser?

[2022-11-18 16:24] jasperhuangg commented on #12237
@Puneet-here so what should we want the expected behavior to be? It's not entirely clear from the issue. Should we just disable scrolling to the bottom?

[2022-11-18 16:24] ryanschaffer commented on #12387
Whoops I reviewed this 2 weeks ago and didn't close out the issue.

[2022-11-18 16:24] #12805 closed

[2022-11-18 16:25] ryanschaffer commented on #12251
Whoops, I reviewed this 2 weeks ago and didn't comment.

[2022-11-18 16:25] ryanschaffer commented on #12251
I have read and reviewed this Design Doc!

[2022-11-18 16:26] #12387 closed

[2022-11-18 16:30] Puneet-here commented on #12237
Yes, that's what other app are doing. I think we should do the same. Opening a keyboard shouldn't scroll the chat back to the latest message.

[2022-11-18 16:32] jasperhuangg commented on #12237
I use Wechat, to talk to my family and friends 😆 and they scroll to the bottom, but just tried it the other ones you described and you're right, they don't scroll down.

[2022-11-18 16:35] puneetlath commented on #12678
I realized I need to refactor this page to use the new Forms component, so it's a little bit more involved then I initially thought. Hope to have a PR up today.

[2022-11-18 16:41] iwiznia commented on #9181
Yep, that way the change stays with the data it belongs to, it's clearer and less opportunities to break it.

Ah cool!

Perfect,

[2022-11-18 16:48] puneetlath commented on #12240
@abekkala are you able to reproduce this? If not, let's go ahead and close it.

[2022-11-18 16:50] alexpensify commented on #12637
@tylerkaraszewski - It looks like this is being moved to Internal. Keep me posted if you need anything from me to keep this moving forward. I'm OOO starting today but will check GH from time to time until I return on November 30.

[2022-11-18 16:51] sketchydroide commented on #8710
Not much has been done the Refactor took priority this week, also my kids have both been sick so I had less time than usual, I'll give this my top priority next week

[2022-11-18 16:54] syedsaroshfarrukhdot commented on #10283
Thanks for clarifying.

[2022-11-18 17:04] gadhiyamanan commented on #12649
@stephanieelliott you can unassign me as it's not yet approved by @roryabraham

@roryabraham any thoughts on https://github.com/Expensify/App/issues/12649#issuecomment-1314869104

[2022-11-18 17:10] aldo-expensify commented on #12330
The [PR](https://github.com/Expensify/Web-Expensify/pull/35386) fixing this was deployed a while ago, not sure why this remained open. Closing!

[2022-11-18 17:10] #12330 closed

[2022-11-18 17:13] #11737 closed

[2022-11-18 17:20] roryabraham commented on #12854
Can we please add some automated UI tests to cover this behavior with the next PR to fix this?

[2022-11-18 17:20] mollfpr commented on #12676
Yes, currently we do dismiss the modal. The expected result from this https://github.com/Expensify/App/issues/11982 is not stated redirecting to the concierge.

When we try to access other account report IDs (where the current account is not part of the group/room/workspace), the report data is not available in the storage.

We don't fetch the targeted report ID in the `ReportDetailsPage`, `Report

[2022-11-18 17:22] puneetlath commented on #12283
Ah actually, my mistake. This isn't 4+ weeks old yet, so it doesn't **have** to be taken internal. I think it might be worth you asking if another engineer wants to trade you for this issue though, since you don't have iOS.

[2022-11-18 17:22] #12641 closed

[2022-11-18 17:23] neil-marcellini commented on #10283
@johncschuster I updated some of the steps in the checklist. Could you please [create a regression test issue](https://stackoverflow.com/c/expensify/questions/363) and start a discussion in Slack?

[2022-11-18 17:26] mollfpr commented on #12741
@s77rt Can you add context for your [proposal](https://github.com/Expensify/App/issues/12741#issuecomment-1317593980)? Why do we need to handle the selection value in the `ReportSettingsPage` and `WorkspaceNewRoomPage`? Could handling the selection in `RoomNameInput` is enough?

I also couldn't find any details about the cause.

[2022-11-18 17:27] roryabraham commented on #11262
Okay, let's wait for the second half of the fix https://github.com/Expensify/Web-Expensify/pull/35572 and see if it's still reproducible after that. Also we should create a separate issue for this:

<img width="303" alt="image" src="https://user-images.githubusercontent.com/47436092/202765342-e1ad0b61-a03d-4ae4-bab4-e24499c63071.png">

[2022-11-18 17:30] roryabraham commented on #12865
This issue is missing some context:

What second admin? Isn't there only one admin for this newly created workspace?

[2022-11-18 17:31] puneetlath commented on #12865
It's the guide that automatically gets added when you create a workspace.

[2022-11-18 17:31] roryabraham commented on #12865
FWIW, my knee-jerk hunch looking at the current deploy checklist is that this is probably related to an API change, not an App change.

[2022-11-18 17:34] roryabraham commented on #12812
Checked off

@puneetlath confirmed in the PR that this is the expected behavior, checking off

[2022-11-18 17:37] alexpensify commented on #11825
Thanks, @Ollyws! Closing this job has been paid via Upwork.

[2022-11-18 17:40] Santhosh-Sellavel commented on #11825
@alexpensify Missed out me!

[2022-11-18 17:42] s77rt commented on #12283
### Proposal
[code]

### Details
My proposal is more like a workaround, the bug is in react-native-image-picker
I think we can proceed with the workaround without waiting for the react-native-image-picker.

[2022-11-18 17:44] neil-marcellini commented on #12867
I'm not able to reproduce this on staging:

https://user-images.githubusercontent.com/26260477/202768494-d537d2f7-66f0-4a95-b990-0be5e6e9e828.MP4

[2022-11-18 17:46] pecanoro commented on #9818
@marcaaron So do you think it would be better to add the path first to the logs and put a HOLD on this and once we get which URLs are causing it, remove the HOLD?

[2022-11-18 17:47] Santhosh-Sellavel commented on #12283
Strictly No workarounds, if the issue exists at the library, it's better to address it there! If you have a solution to solve please post it here, i.e at the library itself!

[2022-11-18 17:47] alexpensify commented on #11778
@Beamanator - I think you are traveling today. Any chance we can get an update early next week?

[2022-11-18 17:50] alexpensify commented on #11825
My apology @Santhosh-Sellavel! I will work on the required steps.

[2022-11-18 17:54] mollfpr commented on #12521
Thanks again @s77rt for the update and the details.

Do you mind details about the bugs?

Btw per this [thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1668604822482759) we freeze reports for accessibility issues, so I don't think we want to log another tab accessibility from the CONS either.

I'm bringing this issue to the team for opinions. Sorry for the back and forth.

cc @srikarpars

[2022-11-18 17:55] roryabraham commented on #9737
Making some fair progress on https://github.com/Expensify/App/pull/12168 – putting in a bit of extra work make sure our changes are properly covered by tests.

[2022-11-18 17:57] mollfpr commented on #12198
Sorry guys, need more times to debug this again.

[2022-11-18 17:57] s77rt commented on #12741
@mollfpr If I remember correctly, I think it must be done that way otherwise the last change will occur at `ReportSettingsPage` and `RoomNameInput` via `clearErrorAndSetValue` this will change the value and automatically reset the cursor.

[2022-11-18 18:00] azimgd commented on #4733
RN <Text /> component doesn't support border style component. So we split the text into chunks and wrap them with a `View` because we would like to add a border around and preserve word breaking on line-end's.

This approach feels as a hack and not efficient performance wise. This couldn't be easily solved on the JS side without adding weird workarounds.

I propose implementing border + background

[2022-11-18 18:02] s77rt commented on #12283
@Santhosh-Sellavel I have submitted a bug report already.
I have found the root cause, proposed a solution for the library and proposed a workaround here.

[2022-11-18 18:06] fedirjh commented on #12745
@mollfpr modifying padding will create regression on android #10202

![image](https://user-images.githubusercontent.com/36869046/202772871-f47a502b-8a4d-453c-a08f-7b5f7fbaf163.png)

[2022-11-18 18:07] JmillsExpensify commented on #11961
Assigning myself for help "navigating" the tracking issue. I'm also double check that this is linked there. Removing the `Help Wanted` label until we are off hold.

[2022-11-18 18:08] JmillsExpensify commented on #11961
Also updated the issue description with model/OS for clarity. We may eventually close down the line in light of that information.

[2022-11-18 18:10] Santhosh-Sellavel commented on #9818
@marcaaron

As said [here](https://github.com/Expensify/App/issues/9818#issuecomment-1319040776), when accessing this invalid links  `https://staging.new.expensify.com/testmeout/123/456` **from a chat** causes a crash.

Yeah, we can do that.

No way!

[2022-11-18 18:10] Santhosh-Sellavel commented on #9818
But looking back at this could be a rare case scenario!

[2022-11-18 18:19] puneetlath commented on #12865
I'm not able to reproduce this on android emulator using staging. Trying phyiscal device.

[2022-11-18 18:36] #12836 closed

[2022-11-18 18:36] robertjchen commented on #11768
I have read and reviewed this Design Doc!

[2022-11-18 18:39] marcaaron commented on #11671
I want to clarify that, yes, that was a suggestion I made, but I think this conversation in general needs wider input from our internal engineering team.

[2022-11-18 18:40] Julesssss commented on #8236
PR is still in progress. Our hover themes don't appear to be configured correctly for the LHNOptionRow component, which is adding a bit of work to this task.

[2022-11-18 18:44] mvtglobally commented on #12865
We are asking few testers to check

[2022-11-18 18:44] dangrous commented on #12256
@shawnborton I am OOO all next week - is it okay to pick this up when I'm back on 11/28? If not I can see if I can find a willing sub in the meantime (not sure what our goal timeline here is)

[2022-11-18 18:44] maddylewis commented on #11265
@Luke9389 - can you provide some clarity on -
https://github.com/Expensify/App/issues/11265#issuecomment-1301065633 and https://github.com/Expensify/App/issues/11265#issuecomment-1319901107

thank you!

[2022-11-18 18:45] marcaaron commented on #12676
This is the part that I don't get. If we don't have the report in storage then how do we know if it has been loaded or not? Maybe we are still waiting for it from the server. I'm missing the thought process around why we should redirect. Will wait for @Beamanator to chime in here with an explanation.

[2022-11-18 18:47] michaelhaxhiu commented on #12198
Re-assigning myself as I'm going OOO.

[2022-11-18 18:48] thienlnam opened #12870 "[$1000] Test IGNORE New Automation Pricing"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what act

[2022-11-18 18:48] #12870 closed

[2022-11-18 18:48] michaelhaxhiu commented on #12438
re-assigning as I'm going OOO

[2022-11-18 18:49] michaelhaxhiu commented on #11922
Paid and closing.

[2022-11-18 18:49] #11922 closed

[2022-11-18 18:50] marcaaron commented on #9818
Why do you say this? It's a native crash not a web crash right? All the devices in the description above are mobiles? An invalid deep link clicked inside a chat is still a deep link.

[2022-11-18 18:51] michaelhaxhiu commented on #11132
This is on Hold, but I'm re-assigning as I'm going OOO. PR is linked above that's blocking this, I have a feeling it could finish sometime next week @maddylewis

[2022-11-18 18:51] maddylewis commented on #12713
sorry for the delay / thanks for the bump!

looks like i need to post the job to Upwork and hire @Dima-Kevanishvili. let me do that now!

[2022-11-18 18:51] michaelhaxhiu commented on #11083
@Luke9389 any chance you can review this today and give the 👍 if you agree?

[2022-11-18 18:51] michaelhaxhiu commented on #11083
Going OOO and re-assigning.

[2022-11-18 18:53] michaelhaxhiu commented on #10893
This is a `New Feature`, but @cowboycito has a valid proposal that we are considering implementing even though it's a feature freeze. For the next BZ assigned, please keep an eye and let's make sure we either guide it forward or close depending on the outcome.

[2022-11-18 18:54] marcaaron commented on #9818
That sounds reasonable to me. I also generally just think that tapping a deep link that the app can't possibly navigate to should not "crash the app" but simply log that it happened and do nothing.

[2022-11-18 18:54] michaelhaxhiu commented on #7916
Re-applying the `Bug` label to re-assign, as I'm headed OOO starting this weekend.

[2022-11-18 18:56] NikkiWines commented on #12428
Chatted with @puneetlath, since this issue is only a week only we're going to continue moving forward through the normal external process. @mollfpr please see my comments in [this PR](https://github.com/Expensify/App/issues/12428#issuecomment-1319475069) on your current proposal 🙇

[2022-11-18 18:56] michaelhaxhiu commented on #12435
This is due for payment on Nov 22, but we need to address the BZ checklist. Sorry I didn't have time to get to it before going OOO.

[2022-11-18 18:57] michaelhaxhiu commented on #10884
Held still. Keeping assigned while I'm OOO for 1.5 weeks. If this becomes unblocked please re-assign a new BZ @iwiznia

[2022-11-18 18:58] michaelhaxhiu commented on #2545
Held still. Keeping assigned while I'm OOO for 1.5 weeks. If this becomes unblocked please re-assign a new BZ @Julesssss

[2022-11-18 18:58] michaelhaxhiu commented on #10885
Held still. Keeping assigned while I'm OOO for 1.5 weeks. If this becomes unblocked please re-assign a new BZ @deetergp 🙏

[2022-11-18 19:00] thienlnam commented on #12713
@maddylewis Just a heads up, the automation created a job with the new updated price of $1000 for new bugs but since this is an old bug we should revert it to the default $250

[2022-11-18 19:00] maddylewis commented on #12713
@thesahindia - ah, okay. let me review the job in UW. thanks for the heads up!

[2022-11-18 19:05] maddylewis commented on #12713
@youssef-lr - you were auto-assigned when i added the `External` label to create the job in Upwork. I'll keep you assigned so you can assist with https://github.com/Expensify/App/issues/12713#issuecomment-1317896178:

[2022-11-18 19:06] mvtglobally commented on #12865
@puneetlath Team is able to repro on different devices

https://user-images.githubusercontent.com/43995119/202783193-c6df7dd1-521b-4fbd-b2ff-8ec09ce6fdff.mp4

https://user-images.githubusercontent.com/43995119/202783205-0b393070-0872-4eb2-9d05-ca2250af0e71.mp4

[2022-11-18 19:11] Dima-Kevanishvili commented on #12713
@maddylewis I applied for the job listing on Upwork. Is there anything more needed?

[2022-11-18 19:17] AndreasBBS commented on #12854
@roryabraham You can check my analysis of this problem [here](https://github.com/Expensify/App/pull/12632#issuecomment-1312068195). In my opinion is something that needs to be solved at the level of the react-native library, the onSelectionChange has erratic behavior on Android.

[2022-11-18 19:18] Santhosh-Sellavel commented on #9818
I was answering `No way` by thinking of valid deep links we used to open from another app!

Yeah right, that's still a deep link, could cause a crash!

[2022-11-18 19:18] davidcardoza commented on #12867
I cannot reproduce on staging in an iPhone 13 pro iOS 16.1

https://user-images.githubusercontent.com/6643649/202785014-9d22a5a3-b8d5-4fe7-8531-c9e3c0ef9699.MP4

[2022-11-18 19:21] grgia commented on #12442
<img width="1128" alt="image" src="https://user-images.githubusercontent.com/38015950/202782414-8bfad5a1-19ea-4a9f-82b1-b17e26f10a49.png">
looking good so far!

[2022-11-18 19:25] maddylewis commented on #12713
@Dima-Kevanishvili - i'll need to hire you to the job. im not seeing a pending application in Upwork though. Can you double-check that you applied to the job? ty!

[2022-11-18 19:28] AndreasBBS commented on #12292
@mountiny @mananjadhav @JmillsExpensify Good to see that my investigation bore fruit and that you're going ahead with my proposal to fix it from the backend. If you need something where I can lend a hand, let me know. Unfortunately, I don't have access to the backend code, otherwise I would have fixed it myself and spared your time. Great work everybody!

[2022-11-18 19:29] trjExpensify commented on #12007
Friendly bump on the question above, @roryabraham?

[2022-11-18 19:29] kbecciv commented on #12865
3rs tester is reproduced as well

https://user-images.githubusercontent.com/93399543/202786879-8d41f319-1f08-45f2-a2a5-3a5c27f83f36.mp4

[2022-11-18 19:30] trjExpensify commented on #11197
Still held.

[2022-11-18 19:31] trjExpensify commented on #11425
@Beamanator, shall we more specifically note this one as held on caching or am I off the boil with that one?

[2022-11-18 19:35] Dima-Kevanishvili commented on #12713
@maddylewis
<img width="1027" alt="image" src="https://user-images.githubusercontent.com/35175081/202787767-6f0bdd60-a0d7-4f08-b9cd-b324f33cd814.png">
Also I don't know if it will redirect you to the actual proposal, but here's the link of it https://www.upwork.com/ab/proposals/1593683145336705025

[2022-11-18 19:35] AndreasBBS commented on #12298
I actually moved the upstream fix to react itself once I realized the bug is originating from that package and not react-native. You can follow the issue here: https://github.com/facebook/react/issues/25643

[2022-11-18 19:38] mvtglobally commented on #12865
@puneetlath Are you validating your NEW account on the Android device or on Web?
I think the issue is very specific to validation on the Android device. If you validate elsewhere, its not repro

[2022-11-18 19:38] tlerias commented on #12776
## The Problem
This is happening because `/concierge` redirects to the concierge route with the report ID. When the redirect happens, by default the drawer is open on small screens. [You can see the code that does this here.](https://github.com/Expensify/App/blob/main/src/libs/Navigation/Navigation.js#L88-L92)
This shows the redirect in the URL:
[!](http://g.recordit.co/0zuYFzKvRO.gif)

# The Prop

[2022-11-18 19:40] maddylewis commented on #12713
okay let me take another look.

[2022-11-18 19:42] shawnborton commented on #12256
I think we want to move as quickly as we can, so it can't hurt to see if anyone can take this over from you. Maybe by sending a quick message in open source letting people know it's up for grabs?

[2022-11-18 19:43] maddylewis commented on #12713
offer sent!

[2022-11-18 19:47] puneetlath commented on #12865
Ahhhhhh ok that is a good distinction. I was validating on web. Let me try again.

[2022-11-18 19:55] maddylewis commented on #12713
I processed the payment to you already 👍

You should receive some notification from Upwork confirming the status of it i believe!

[2022-11-18 19:58] deetergp commented on #11086
Not overdue; PR is being reviewed.

[2022-11-18 19:58] Dima-Kevanishvili commented on #12713
@aimane-chnaif Yes, I've read that, it's just that Upwork was asking whether I wanted to submit for payment or not, so I wasn't sure what to do knowing that rule.

[2022-11-18 20:00] davidcardoza commented on #12234
I will begin processing payment on the 24th if no regressions come up.

[2022-11-18 20:01] davidcardoza commented on #12726
Hired @Puneet-here

[2022-11-18 20:04] joekaufmanexpensify commented on #11850
Same.

[2022-11-18 20:06] shawnborton commented on #12259
Sure thing, here ya go: [Random User Avatar PNG.zip](https://github.com/Expensify/App/files/10044495/Random.User.Avatar.PNG.zip)

[2022-11-18 20:06] joekaufmanexpensify commented on #12487
Great ty! Since this PR was merge the same day the contributor was assigned to the issue, both @parasharrajat and @0xmiroslav get a 50% bonus.

Going to issue payment of $375 to both of you now!

[2022-11-18 20:07] Puneet-here commented on #11818
Bump @davidcardoza

[2022-11-18 20:11] joekaufmanexpensify commented on #12487
@parasharrajat $375 sent!

[2022-11-18 20:11] alexpensify commented on #11825
@Santhosh-Sellavel - you have been hired as a contributor. Please accept and I can continue the process in Upwork:

https://www.upwork.com/jobs/~01f2ecf93218a3f610

[2022-11-18 20:13] joekaufmanexpensify commented on #12487
@0xmiroslav $375 sent!

[2022-11-18 20:14] joekaufmanexpensify commented on #12487
Applause found this, so no reporting payment to make.

[2022-11-18 20:14] joekaufmanexpensify commented on #12487
Job closed.

[2022-11-18 20:15] Puneet-here commented on #11341
Hi, can I ask for a little price increase at this job? The PR took more time than expected and it was really time consuming to test the account closing flow thoroughly.

[2022-11-18 20:21] pecanoro commented on #7541
Waiting for @osama256 to update the PR for final review

[2022-11-18 20:22] alexpensify commented on #12530
I tested per @nkuoch request and was able to replicate in my al@expensify.com account using @neil-marcellini's steps.

![image](https://user-images.githubusercontent.com/8107070/202795426-df471fc1-d03f-485b-9fff-cd2765c71a30.png)

When I log back in, the bank account is not there.

![image](https://user-images.githubusercontent.com/8107070/202795518-9af0d29c-361f-4dee-87df-7fcc067a05c0.png)

[2022-11-18 20:26] joekaufmanexpensify commented on #12487
This is all set. [Confirming](https://expensify.slack.com/archives/C01SKUP7QR0/p1668802587771989) whether the issue needs to remain open until applause adds regression test.

[2022-11-18 20:27] parasharrajat commented on #11844
Oh, I missed this issue. Thanks for the ping. Taking a look.

[2022-11-18 20:30] Santhosh-Sellavel commented on #11825
Done thanks @alexpensify

[2022-11-18 20:32] thesahindia commented on #11576
@Beamanator, C+ compensation is pending on this one.

[2022-11-18 20:32] davidcardoza commented on #11818
@Puneet-here i processed an additional $250

[2022-11-18 20:35] Dima-Kevanishvili commented on #12713
@aimane-chnaif Yeah it is. I always worked for a company before. Thanks for the clarification!

[2022-11-18 20:36] alexpensify commented on #11825
@Santhosh-Sellavel thank you for your grace here! I've corrected my mistake 😓 and closing this job. Everyone has been paid via Upwork.

[2022-11-18 20:36] #11825 closed

[2022-11-18 20:37] Puneet-here commented on #11818
I have accepted the offer, thanks

[2022-11-18 20:38] joekaufmanexpensify commented on #12487
Okay, confirmed we don't need to wait for applause to actually add the regression test. Opening the issue for them is sufficient.

Closing as this is all set. Thanks everyone!

[2022-11-18 20:38] #12487 closed

[2022-11-18 20:38] joekaufmanexpensify commented on #10091
Posted proposal for new regression test [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1668803845545009).

[2022-11-18 20:42] cristipaval commented on #11795
Update from my end: Timezone pages are ready, the thing is that I found a bug on Web-Expensify in the `UpdateAutomaticTimezone` command and I opened [a PR](https://github.com/Expensify/Web-Expensify/pull/35624) with the fix. We need it this WE PR to be deployed in order to get Timezone pages ready for review.

[2022-11-18 20:44] joekaufmanexpensify commented on #10091
@Julesssss I'm working on the rest of the bug zero checklist and wanted to understand this a bit more. Does this mean this is a native feature of Android apps that we are now removing? So it was never added by us, and the partial background color in the field always existed not as a result of anything we did?

[2022-11-18 20:51] srikarparsi commented on #12521
The back and forth is actually good, thank you @mollfpr and @s77rt for the quick suggestions and fixes.

[2022-11-18 20:59] deetergp commented on #11330
Anyone know off the top of their heads which PR might have caused this regression?

[2022-11-18 21:04] davidcardoza commented on #12779
I was able to reproduce, sending out to external.

Job posted - https://www.upwork.com/jobs/~0113dfaeac3d495f2e

[2022-11-18 21:09] davidcardoza commented on #12319
Payments processed to @eVoloshchak and @0xmiroslav

[2022-11-18 21:09] #12319 closed

[2022-11-18 21:19] davidcardoza commented on #12319
Bonus was sent.

[2022-11-18 21:27] parasharrajat commented on #11818
@davidcardoza I am still awaiting payment on this.

[2022-11-18 21:39] deetergp commented on #11330
[This PR](https://github.com/Expensify/App/pull/11450) was the last to touch the line that @rawalyogendra's PR fixed and seems a likely culprit.

[2022-11-18 21:41] deetergp commented on #11330
Also, I don't know who needs to hear this, but `git log -p --follow -- <file whose history you want to search>` is `:chefkiss:`

[2022-11-18 21:45] aldo-expensify commented on #12243
Following the slack conversation [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1668627598903859), we decide to close this

[2022-11-18 21:45] #12243 closed

[2022-11-18 21:47] Luke9389 commented on #11083
Hey folks, I've carved out some time on Monday to really comb through this flow. I want to know this part of the codebase more intimately before making a call on this one. This behavior has been broken and fixed many times over in the past, so I'm hesitant to pull the trigger on this without absolute confidence. Until then I'm going to put this on HOLD. Thank you in advance for your patience, I kn

[2022-11-18 21:59] parasharrajat commented on #7916
PR is under active review now. Will take to end line asap :muscle:

[2022-11-18 22:06] tgolen commented on #11391
I'm going to take this over and start digging into it

[2022-11-18 22:09] Emz27 commented on #12715
### Proposal
- use Text `onResponderRelease` as alternative to onPress (similar behavior but not the same) paired with `onStartShouldSetResponderCapture` to prevent the touchable container from hogging the TouchEvent.

### Cause
- the onPress did not trigger because the mouse cursor is already outside the touch box boundary by the time the user release the mouse click

### Impact
- once the user c

[2022-11-18 22:11] amyevans commented on #12432
Still plugging away at this, so far I'm able to see that the optimistic report ID and IOU ID are correctly created on the first money request, and the data looks fine through the cancel request. But somewhere between that point and the next money request, the `iouReportID` property on the report in Onyx is reset to 0. Still trying to trace if that's coming from another API request and subsequent O

[2022-11-18 22:13] tgolen commented on #11391
I'm not able to reproduce this on either iOS or Android.

<img width="452" alt="2022-11-18_15-11-48" src="https://user-images.githubusercontent.com/1228807/202811823-f4b76b57-1730-4723-8289-0f783dc28cf2.png">
<img width="422" alt="2022-11-18_15-12-13" src="https://user-images.githubusercontent.com/1228807/202811834-963d1294-4e0e-49e0-8346-d969fe29fe07.png">

[2022-11-18 22:14] JmillsExpensify commented on #12131
Closing per the related Slack convo. This isn't a bug.

[2022-11-18 22:14] #12131 closed

[2022-11-18 22:16] tgolen commented on #12622
I'm not able to reproduce it. Is it a specific version of Android? I think that until we have clear reproduction steps, we should just close this.

<img width="422" alt="image" src="https://user-images.githubusercontent.com/1228807/202812202-d998c421-0859-4af0-806e-1fc2bb5526cf.png">

[2022-11-18 22:16] #12622 closed

[2022-11-18 22:19] Emz27 commented on #12715
https://user-images.githubusercontent.com/26669757/202812490-da6d3c7f-444a-4225-a643-4c64b9108320.mov

[2022-11-18 22:25] JmillsExpensify commented on #12622
This is why we need Android for BZ! Luckily Browerstack is coming.

[2022-11-18 22:27] tgolen commented on #10905
I've filled out the first two checkboxes for identifying the PR. @Santhosh-Sellavel would you like to create a slack thread for discussing if any changes are necessary for the checklist?

[2022-11-18 22:28] Luke9389 commented on #11283
workin on it.

[2022-11-18 22:37] NikkiWines commented on #10893
@Santhosh-Sellavel any further thoughts on this proposal? Seems like @cowboycito may have addressed your last comment

[2022-11-18 22:42] parasharrajat commented on #11391
@tgolen Did you test the Unit field? This issue focuses on that. Rate is used for comparison only.

[2022-11-18 22:42] JmillsExpensify commented on #12289
Thanks, done!

[2022-11-18 22:46] JmillsExpensify commented on #7375
Based on our discussion [in the community](https://expensify.slack.com/archives/C01GTK53T8Q/p1668811497897899?thread_ts=1668640125.477709&cid=C01GTK53T8Q), I'm going to close this issue. Given that tablets are not an officially supported platform, this issue is more accurately a new feature request than a bug. Closing.

[2022-11-18 22:46] #7375 closed

[2022-11-18 22:47] JmillsExpensify commented on #12821
Based on our discussion [in the community](https://expensify.slack.com/archives/C01GTK53T8Q/p1668811497897899?thread_ts=1668640125.477709&cid=C01GTK53T8Q), I'm going to close this issue. Given that tablets are not an officially supported platform, this issue is more accurately a new feature request than a bug. Closing.

[2022-11-18 22:47] #12821 closed

[2022-11-18 22:47] JmillsExpensify commented on #12721
Based on our discussion [in the community](https://expensify.slack.com/archives/C01GTK53T8Q/p1668811497897899?thread_ts=1668640125.477709&cid=C01GTK53T8Q), I'm going to close this issue. Given that tablets are not an officially supported platform, this issue is more accurately a new feature request than a bug.

[2022-11-18 22:47] #12721 closed

[2022-11-18 22:48] tgolen commented on #11391
Maybe I'm confused on the reproduction steps. On Android, if I just go into the settings and tap on the units, I see this with no keyboard:

<img width="422" alt="image" src="https://user-images.githubusercontent.com/1228807/202815879-644e9108-2ad8-46ce-96d3-9605bd76d418.png">

So... it's not really a valid test?

[2022-11-18 22:49] JmillsExpensify commented on #12592
@Julesssss @iwiznia Do we want to disable rotation on native in this issue? I was going to close based on our discussion [in the community](https://expensify.slack.com/archives/C01GTK53T8Q/p1668811497897899?thread_ts=1668640125.477709&cid=C01GTK53T8Q), but we can also use this issue to prevent rotation bugs by disabling this action.

[2022-11-18 22:50] JmillsExpensify commented on #11858
Removed the iPad app testing steps since tablets are not an officially supported platform.

[2022-11-18 22:51] JmillsExpensify commented on #10614
Based on our discussion [in the community](https://expensify.slack.com/archives/C01GTK53T8Q/p1668811497897899?thread_ts=1668640125.477709&cid=C01GTK53T8Q), I'm going to close this issue. Given that tablets are not an officially supported platform, this issue is more accurately a new feature request than a bug.

[2022-11-18 22:52] parasharrajat commented on #11807
@JmillsExpensify Could you please assign me here as C+ for internal PR review? Thanks

[2022-11-18 22:55] MitchExpensify commented on #11733
Paid!

[2022-11-18 23:05] parasharrajat commented on #11391
This issue is only occurring at iOS.

[2022-11-18 23:07] JmillsExpensify commented on #8791
Oh thanks both. I'm on the same page now, appreciate the more detailed explanations. Keeping this close in any case for now.

[2022-11-18 23:07] parasharrajat commented on #10830
No update

[2022-11-18 23:07] strepanier03 commented on #12151
@eVoloshchak and @MonilBhavsar - The PR from @tienifr has been submitted and is needing review.

[2022-11-18 23:09] JmillsExpensify commented on #11391
Oh ok. So we need to update the title/reproduction steps then for clarity.

[2022-11-18 23:10] JmillsExpensify commented on #11807
Done! Thanks

[2022-11-18 23:11] parasharrajat commented on #11391
Yeah, sure. I think it was iOS some days back.

[2022-11-18 23:11] strepanier03 commented on #11863
We are going to close this in favor of https://github.com/Expensify/Expensify/issues/228943 and once that internal fix is out this should be resolved.

[2022-11-18 23:11] #11863 closed

[2022-11-18 23:13] JmillsExpensify commented on #11346
Cool. Interesting that C+ wasn't assigned to this issue. Regardless, I don't think it's eligible for 50% bonus as the PR wasn't merged in 3 business days?

[2022-11-18 23:20] s77rt commented on #11094
### Proposal
[code]

### Details
The issue can be divided into two problems;
1. This text is being selected even if the input is not focused. Setting text selection automatically make the textinput focused.
2. Checking whether the textinput should be focused again is broken
    1. On native it does nothing, but we are getting the expected behaviour because that's how the native app works (e.g. cli

[2022-11-18 23:32] parasharrajat commented on #8311
I am not [feeling well](https://expensify.slack.com/archives/C02NK2DQWUX/p1668778734756069) so please hold for a bit more. Thanks.

[2022-11-18 23:36] parasharrajat commented on #4733
Thanks for the proposal @azimgd. so what will the process? You will create a native component for it?

---

I am not feeling well so not working today. But it seems we have a new proposal.

[2022-11-18 23:38] MitchExpensify commented on #12674
[Asked for help reproducing here](https://expensify.slack.com/archives/C049HHMV9SM/p1668814706275659)

[2022-11-18 23:51] roryabraham commented on #12698
@JmillsExpensify let's bump the bounty for this issue up to $1000 to see if we can get some proposals coming in!

[2022-11-19 00:03] parasharrajat commented on #11391
Are we keeping it close? I saw you updated the title @JmillsExpensify. So I am unclear.

[2022-11-19 00:05] fedirjh commented on #12745
After investigation , i found two other solutions to fix 1st issue

- `font-size-adjust: 0.5;` applied to `textInputCompose` : this css property works only on firefox [browser_compatibility](https://developer.mozilla.org/en-US/docs/Web/CSS/font-size-adjust#browser_compatibility) so i think it's the best option here
- `size-adjust: 90%;` applied to the `font-face` : i don't recommend this solution

[2022-11-19 00:06] parasharrajat commented on #9941
Tried a few things but had no luck. Will look more into this later.

[2022-11-19 00:10] MitchExpensify commented on #12435
[Asked in #bug-zero about the placement for the regression test](https://expensify.slack.com/archives/C01SKUP7QR0/p1668816600353089)

[2022-11-19 00:20] MitchExpensify commented on #12744
Offers sent to all! https://www.upwork.com/jobs/~0104a6f656912f7483

[2022-11-19 00:32] roryabraham commented on #12392
Created a PR against the upstream actions/slack repo to add a feature to make this more convenient: https://github.com/8398a7/action-slack/pull/230

[2022-11-19 00:46] roryabraham commented on #12392
Also so we don't have to wait around with this issue open, I created a workaround that _should_ fix this in our repo: https://github.com/Expensify/App/pull/12873. That way we don't have to deal with a fork or wait for the maintainer to review + release my new feature in the upstream. I will get notified if my PR is merged and then I can pretty easily do a follow-up to use the upstream feature, if

[2022-11-19 00:47] roryabraham commented on #12392
Sass noted btw, @conorpendergrast 😆

[2022-11-19 00:55] roryabraham commented on #11689
PR merged

[2022-11-19 01:09] neil-marcellini commented on #12629
I will add some test steps to that draft PR and post screen recordings, and then put it up for review. This bug is a regression created in [this PR](https://github.com/Expensify/App/pull/12157).

[2022-11-19 01:12] joaniew commented on #11768
I have read and reviewed this Design Doc!

[2022-11-19 01:12] joaniew commented on #12839
done!

[2022-11-19 01:12] #12839 closed

[2022-11-19 01:17] roryabraham commented on #11689
Created a follow-up PR [here](https://github.com/Expensify/App/pull/12875) to clean up some propTypes inconsistencies/mistakes that I saw

[2022-11-19 01:21] roryabraham commented on #12629
Ah, nice job @neil-marcellini 👏🏼

[2022-11-19 01:38] cowboycito commented on #10614
I couldn't be more disappointed

[2022-11-19 01:46] roryabraham commented on #11433
Just waiting on production deploy + payout now

[2022-11-19 01:48] roryabraham commented on #8503
Cross-posting updates from slack – sounds like the main thing happening this week is [working on a fabric implementation in react-native-picker/picker](https://github.com/react-native-picker/picker/pull/456)

[2022-11-19 01:49] roryabraham commented on #11997
@hannojg should we think about handing this off to someone else?

[2022-11-19 01:51] roryabraham commented on #12235
Same as last week ... @kidroca when do you think you can get a PR up to split out vendor code into separate chunk(s)? Seems like it might be reasonably quick and would be good to have this going in parallel

[2022-11-19 01:52] roryabraham commented on #11680
Still on HOLD

[2022-11-19 01:53] roryabraham commented on #12726
@davidcardoza do we need to reopen this for payment once https://github.com/Expensify/App/pull/12736 has been deployed to prod for a week?

[2022-11-19 01:54] roryabraham commented on #12726
I'm not exactly sure why melvin closed this issue when he did

[2022-11-19 01:56] roryabraham commented on #12703
Sounds like the general consensus is that this is a new feature to support certain devices for which resizing is valuable, such as tablets and foldable phones. So that means not a bug

[2022-11-19 02:08] swiftpipe commented on #12622
I tried it on my phone (Samsung A51) it still works fine. I think this problem occurs depending on the device model

https://user-images.githubusercontent.com/37079377/202829276-e6857077-bad8-4d16-b75f-867c9f9868d8.mov

[2022-11-19 02:24] mollfpr commented on #12676
I guess it's because we not fetching the report data when opening the `ReportDetailsPage`, `ReportParticipantsPage`, and `ReportSettingsPage`.

[2022-11-19 03:00] syedsaroshfarrukhdot commented on #12744
Thank You. Just Accepted The Offer Will Be Making A PR Today.

[2022-11-19 03:10] bernhardoj commented on #9818
Just want to add some thoughts here. The cause of the crash (on native) is mentioned [here](https://github.com/Expensify/App/issues/9818#issuecomment-1273675144). Based on the previous discussion, we would like to show a not found page, similar to a not found chat [here](https://github.com/Expensify/App/issues/9818#issuecomment-1297478346). On my [proposal](https://github.com/Expensify/App/issues/

[2022-11-19 03:13] mollfpr commented on #12428
Could be related to https://github.com/Expensify/App/issues/12629

Any suggestion for this part?

[2022-11-19 03:37] railway17 commented on #11277
`Help wanted` label should be removed and not waiting for external proposal?

[2022-11-19 04:40] Delgee commented on #12715
@mollfpr  We can change it this way to make it won't crash on native apps. It will also work okay on the browser.
[code]

[2022-11-19 06:02] kerupuksambel commented on #12290
Firstly, thank you for the initiative to removing the `javascript` filter. Really apologize for not engaging into the discussion since this week I've been sick.

My consideration for filtering the javascript scheme is because there are several payload that could be used for executing cross-site scripting (XSS) attack by using javascript scheme (for example https://www.bugbountyhunter.com/hackevent

[2022-11-19 06:05] kerupuksambel commented on #12290
TL;DR : No need to do the rework javascript filtering, since it's already pretty safe to do the filtering with the URL parsing alone since they doesn't allow arbitrary characters on the URL already.

[2022-11-19 06:36] tienifr commented on #12770
Hi @sobitneupane I just created a PR for fixing this issue, please help to pre-check, if you agree with my fixing I will complete the PR later. Thanks
https://github.com/Expensify/App/pull/12878

[2022-11-19 08:17] s77rt commented on #11094
### Proposal (Updated)
[code]

### Update
Made the code clearer

[2022-11-19 08:21] d-mykhailo commented on #12492
**Proposal:**

In Electron 20 default renderer is sandbox.
As preload scripts are depending on Node, you need to enable node in workers.
with nodeIntegrationInWorker: true, you can do that like this. (desktop/main.js/mainWindow)

    `const browserWindow = new BrowserWindow({
                backgroundColor: '#FAFAFA',
                width: 1200,
                height: 900,
                webPr

[2022-11-19 09:01] s77rt commented on #12779
I don't see what's wrong here. Looks logical to me.
1. You requested USD100 -- TOTAL: USD100
2. You requested AED100 -- TOTAL: USD127
3. You cancelled the first USD100 -- TOTAL: USD27

[2022-11-19 09:11] azimgd commented on #4733
I will add support of this feature to the upstream (expensify repo only). This will allow usage of `<pre>` like tag on RN e.g. `<Text code>my inline code</Text>`

[2022-11-19 10:24] mollfpr commented on #12779
It’s regression from https://github.com/Expensify/App/pull/12488

[2022-11-19 10:31] furkanuzundev commented on #9848
Hello guys,
I'm trying to detect issue almost 2 days, but it's looking weird.Here's steps;

1 - First of, i think that issue coming from `com.facebook.soloader.SoLoader` so i've updated it to the last version but nothing changed. [https://github.com/facebook/SoLoader](https://github.com/facebook/SoLoader)
2 - And then I kept searching. I tried to find exactly where the error was throwing. And it l

[2022-11-19 10:40] Abdallah-Ahmed-moh commented on #10950
https://www.upwork.com/freelancers/~01d7c9c17e7faeaa3e

this is my profile, sorry for being late.

[2022-11-19 10:47] bernhardoj commented on #12776
### **Proposal**

**Problem**
Actually, this issue also happens on native when we open the deep link (<EXPENSIFY_URL>/concierge) from another app while the Expensify app is closed. It will throw a development-only error below.
![327797](https://user-images.githubusercontent.com/50919443/202845358-71d37977-8c22-469c-844d-b0fd3395dc6f.jpg)
ReportScreen should be the one that handles the routes, but

[2022-11-19 11:38] Santhosh-Sellavel commented on #10893
This is what I see 😕 ,

I cloned your code
[code]
https://user-images.githubusercontent.com/85645967/202848587-9bf8e5e3-b6af-4504-93c9-1e231784ea35.mov

cc: @cowboycito Can you help me?

@NikkiWines Have you tested if it works, we can loop in the design team for the intermediate page design!

[2022-11-19 12:29] michaelhaxhiu commented on #7916
Woo nice!

[2022-11-19 12:50] Santhosh-Sellavel commented on #7968
Before getting to the problem lets us know when a button triggers its actions.

1. Of course, when it is clicked/tapped
2. Press enter when the button has the focus on it.

Let's take the current issue to understand the problem

### The problem
We have two buttons here
- Cancel button this is a normal button that should its action when doing any of the above steps to trigger it.
- Similarly, the D

[2022-11-19 13:22] s77rt commented on #12289
### Proposal
[code]

### Details
The issue is that deleted messages are not deleted immediately. On the `isConsecutiveActionMadeByPreviousActor` function, those to be deleted messages are technically still there. Thus such a message will meet the set criteria with the message below it and that message (the one below) will be considered grouped (with the first message that's technically there but i

[2022-11-19 13:51] bernhardoj commented on #12779
Yep, agree with @s77rt as the cancel request has the same currency (USD).

[2022-11-19 13:59] tlerias commented on #12776
@bernhardoj this feels like a different bug to me. You should report it so you get bug reporting $$ too 😉you may have to wrap your solution in an ‘useEffect’ but I didn’t try investigating your code so I could be wrong.

[2022-11-19 14:00] s77rt commented on #12198
Not reproducible from my end.

[2022-11-19 14:13] tlerias commented on #12776
@bernhardoj (i deleted my last comment because I meant to take back the second part of my comment that mentioned something about a useEffect but that was wrong).

This feels like a different bug to me. You should report it so you get reporting $ too 😉.

[2022-11-19 14:14] michaelhaxhiu commented on #12360
Switching this to `daily` are expected for all bugs in E/App. Also going to re-assign a member of BZ team since I'm OOO till Nov 29.

[2022-11-19 14:17] mollfpr commented on #12779
The change should be updated when going online.

[2022-11-19 14:25] s77rt commented on #12779
@mollfpr What would be the expected results then?

[2022-11-19 14:30] mollfpr commented on #12779
Same as in the description, the total amount should be updated when online.

Also please check the related issue https://github.com/Expensify/App/issues/12433

[2022-11-19 14:51] mananjadhav commented on #11336
Apologies for the time taken to review. Required testing across multiple screens. This is C+ reviewed now and approved.

[2022-11-19 15:29] bernhardoj commented on #12779
@mollfpr I believe that the total amount when canceling a money request with a different currency should be updated only when online because we need to consider the exchange rate that could change, which is being also mentioned in the 4th step of the related issue.

Canceling a money request with the same currency won't get affected by the exchange rate, and thus should not be prevented to be upda

[2022-11-19 15:31] Emz27 commented on #12779
### Proposal
- we can probably use the `cachedTotal` coming from the `iouReport` as opposed to the component cachedTotal

https://github.com/Expensify/App/blob/503aa3647480d3457c816f79c248bfa43fe3d8e7/src/libs/ReportUtils.js#L675L693

which looks like this `cachedTotal: ($100)`

I imagine this property is always the same as the backend values, it doesnt get updated if we do actions like request or

[2022-11-19 15:40] bernhardoj commented on #12779
Btw, in case we still want to prevent it, here is my proposal

**Proposal**
From this PR https://github.com/Expensify/App/pull/12488, it adds a check to prevent the updates while offline and if the currency is different. We could simply remove the currency check.

[code]

[2022-11-19 15:44] mollfpr commented on #12779
Thanks guys, I’ll review the proposal tomorrow!

[2022-11-19 15:53] Santhosh-Sellavel commented on #10731
@christianwen Do you understand?

[2022-11-19 16:05] michaelhaxhiu commented on #12043
Hm I'm conflicted 🤔 . I think we risk having to re-do this work in the future (when we fully revamp keyboard/navigation related issues) and so my gut tells me freeze it here. If you disagree though and think this is an easy fix (that we won't have to re-do or refactor) then it's probably kosher to proceed.

I just think we need to make sure we are picking the right battles.

[2022-11-19 16:19] christianwen commented on #10731
@Santhosh-Sellavel yes
@iwiznia
I see in the your pasted doc there's `Wait for the upstream PR to be merged **and released**`. So I think we might still need to wait for the release?
If not, should I be the one to create the PR to sync the upstream react-native to our forked react-native? I'm not sure on the process here since the upstream sync might involve a lot more changes than just the change

[2022-11-19 16:27] Emz27 commented on #12779
Hi this is the followup video for https://github.com/Expensify/App/issues/12779#issuecomment-1320908951

https://user-images.githubusercontent.com/26669757/202860947-745bb356-0726-4892-81bd-35b1bd9b5b06.mov

as you can see in the video, the `report.cachedTotal` is the values last fetched from the onyx backend

and the component cachedTotal is coming from this
https://github.com/Expensify/App/blob/

[2022-11-19 16:43] puneetlath commented on #12208
This actually should be solved by sequence numbers so I'm going to go ahead and close it. @davidcardoza @thienlnam feel free to reopen if you disagree.

Thanks for looking into everyone. Looking forward to having you contribute on other issues.

[2022-11-19 16:43] #12208 closed

[2022-11-19 16:44] puneetlath opened #12881 "Payment for C+ on pull/11813"
@parasharrajat needs payment for https://github.com/Expensify/App/pull/11813

[2022-11-19 16:44] puneetlath commented on #12881
@isabelastisser please create an upwork job and payout @parasharrajat for the PR in the OP. Thanks!

[2022-11-19 16:52] parasharrajat commented on #12043
I think it should be fine to do it now because we are going to disable the Tab on the emoji picker which will be the same in the future as well. But let's do whatever is best for the app.

Decision is yours @michaelhaxhiu

[2022-11-19 16:56] parasharrajat commented on #4733
Ok got it. So special rendering support in the Text itself via a prop. What do you think the major challenges would be?

I opened a discussion https://expensify.slack.com/archives/C01GTK53T8Q/p1668815681935019 to get a broader view.

[2022-11-19 17:05] parasharrajat commented on #12290
Ok. Thanks. Unfortunately, we moved the issue to internal. @cead22 Do you think we can make this external if you haven't already worked on this?

There is a proposal above.

[2022-11-19 17:08] parasharrajat commented on #12428
I am trying to figure out why the settings page is opened after login. It should take the user directly to the home screen.

[2022-11-19 17:29] Someone-here commented on #12018
Yes, I think Option 1 is better as well. Better to keep it at a minimal solution

[2022-11-19 18:07] mananjadhav commented on #11094
@s77rt Thanks for the proposal. The issue description mentions mWeb with the Android emulator. I applied your proposal, but the issue persists with Android Chrome.  Can you confirm if it works on Android chrome too?

Also to an extent I can see the usage for `isFocused`, but not sure why we would remove `relatedTarget`?

[2022-11-19 18:18] eVoloshchak commented on #12018
In that case, let's go with @Someone-here's [proposal](https://github.com/Expensify/App/issues/12018#issuecomment-1314225656) (option 1)
🎀👀🎀 C+ reviewed!

[2022-11-19 18:58] kidroca commented on #12603
This is my PR, when it's reviewed I'll open the same PR for the `react-native-web` repo
- https://github.com/Expensify/react-native-web/pull/8

I've stumbled on 2 issues that we'd need to address to make this work in App

#### ImageWithSizeCalculation

This component uses the `getSize` static method that works with only `uri` - no source with headers
https://github.com/Expensify/App/blob/9a8291ba9

[2022-11-19 19:25] kidroca commented on #12235
Yeah, I've been putting this off, because it's not a priority

If it's not a problem that someone would have to review/test it, I can squeeze a PR next week

[2022-11-19 19:31] fedirjh commented on #10670
Safari thinks this is feature. There is a bug report [here](https://bugs.webkit.org/show_bug.cgi?id=141832)
When you open the keyboard, the browser's window is moved up and your content is hidden
![dBuYh](https://user-images.githubusercontent.com/36869046/202868137-df31d26a-0135-4a50-ab63-bcee63945988.gif)
Check this blog post for more details and more examples of weird behaviors: https://blog.ope

[2022-11-19 22:25] s77rt commented on #11094
### Proposal (Updated)
[code]

### Update
Building on the previous proposal; same approach, just few points has been changed:
1. I had to use `ref` as they were before, because the `relatedTarget` will always be set (as far as I tested on mWeb - Chrome). On Safari this may be null on blur. On chrome will fallback to `<body>`.
2. On Android native, on keyboard dismiss, the text input does not lose

[2022-11-20 02:01] fedirjh commented on #12779
@mollfpr i think this is the logical behavior here , the `usd` is the default (main) currency for this account , so there is no exchange rate that will be applied when user get back online , the total amount can be updated when offline if the currency is the same as the main currency of the account .

[2022-11-20 03:21] cowboycito commented on #10893
Given how #10614 turned out I have no interest in continuing working on this. If someone else wants to get my proposal and elaborate on it feel free to do so, but keep in mind that this is a feature request and the issue can get closed at any moment without further notice.

[2022-11-20 05:01] mollfpr commented on #12779
Sorry, I just have enough time to understand the issue and scroll back to the related discussion. I agree with y'all that the current logic makes sense. In the meantime, I'll hold off reviewing the proposals until we have a clear explanation of the expected result.

@kbecciv Could you clarify if the IOU amount should not be updated before going online although the currency is the same as the IOU r

[2022-11-20 05:09] mananjadhav commented on #11094
Thanks for the updated proposal @s77rt.

A couple of questions:
- How reliable is it to use `windowHeight` to detect keyboard change? I can see we're using a similar logic for PDFView. But I haven't first hand tried/tested this
- Is this issue on native too? Platforms mention only mobile web, so why are we adding additional handling for native?
- I still don't get why are we changing this behavior

[2022-11-20 10:00] s77rt commented on #11094
@mananjadhav

On Android, the window height will always change on keyboard open/close. Pretty reliable.

Yes and No; Yes: the input does not lose focus on keyboard close. No: the user can select another row without the keyboard getting open again (Android Only. iOS is fine). We are handling this to match the behaviour of Android with iOS; On keyboard close, blur the input.

This is not true; only

[2022-11-20 11:19] bernhardoj commented on #12120
### **Proposal**
For the first case, we can do the trim as the last step of `htmlToMarkdown` function.

**_expensify-common/ExpensiMark.js_**
[code]

For the second case, here is what I found.
When we send this **message**
[code]
the html representation is: `Line1<br /><br /><blockquote>Quote text</blockquote><br /><br />Line2`.
When we press edit, `htmlToMarkdown()` is called which used `htmlToMa

[2022-11-20 11:19] bernhardoj commented on #12784
I think this issue is part of this [issue](https://github.com/Expensify/App/issues/12120).

[2022-11-20 13:57] bernhardoj commented on #12120
I don't agree that it is the issue of `react-native-render-html`. I have provided a screenshot on my proposal showing how it looks on web from a plain .html file.

[2022-11-20 14:08] Santhosh-Sellavel commented on #9848
How to reproduce this one consistently @furkanuzundev ?

[2022-11-20 14:09] mollfpr commented on #12741
I just test this [proposal](https://github.com/Expensify/App/issues/12741#issuecomment-1317593980) and here's the review.

---

I got an error on native iOS and Android, so I guess we should create a platform-specific component for `RoomNameInput` and let the RN handle the selection (I didn't find any problem on native iOS or Android).

https://user-images.githubusercontent.com/25520267/202905879-

[2022-11-20 14:46] mollfpr commented on #12745
Thanks for the investigation really appreciate @fedirjh!

I try a solution by adding `font-size-adjust: 0.5;` to our composer input, and this fix the line height issue but the emoji is kinda small to me.
**With font-size-adjust**
<img width="454" alt="Screen Shot 2022-11-20 at 21 19 21" src="https://user-images.githubusercontent.com/25520267/202907570-7f0b1c80-37d2-4b2a-bc34-36e8ce03466b.png">

**

[2022-11-20 15:41] mollfpr commented on #12715
Sorry for the wait! I just try the above proposals, and here are my thoughts.

@Emz27 Your proposal works on the first try, but on the second try, the link is open in the current tab and new tab.

https://user-images.githubusercontent.com/25520267/202910364-7e574c27-7873-432a-a774-1911304825e5.mov

@Delgee I feel your proposal impacted the native app. As you can see in the video, on native there's

[2022-11-20 16:22] dnlfrst commented on #12156
### Proposal

In Safari, it is possible to modify the status bar's color using the [`theme-color`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta/name/theme-color) value for the `name` attribute of the `<meta>` tag. In particular, I propose a patch along the lines of:

[code]

This change gives the following results:

![Result](https://user-images.githubusercontent.com/13868083/202

[2022-11-20 16:24] Delgee commented on #12715
@mollfpr
### Updated Proposal
We can fix this issue by preventing the "mousedown" event. So blur event will not fire and the link will work as expected on both web and native devices. And preventing "mousedown" event will not cause any issue.

[code]

web

https://user-images.githubusercontent.com/6459339/202913478-2413ff85-82ae-465d-8f60-6f6e3f48cc75.mov

native

https://user-images.githubusercon

[2022-11-20 16:25] Emz27 commented on #12715
@mollfpr I have added 2 additional props
`onPress` and `hrefAttrs`

this should work as expected now

[code]

[2022-11-20 16:27] furkanuzundev commented on #9848
@Santhosh-Sellavel

1 - create a new device from android studio before version `12`.
2 - type `react-native run-android --variant release` on console
3 - Open `Logcat` from android studio, select debuggable phone and error section from combobox.
4 - Search `couldn't find DSO to load` to find error.

[2022-11-20 16:29] parasharrajat commented on #8311
Ok, let's go with @b1tjoy [proposal](https://github.com/Expensify/App/issues/8311#issuecomment-1312527754). I am fine with using Context API.

cc: @marcochavezf

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-11-20 16:41] Santhosh-Sellavel commented on #9848
Cool, I am asking if can we get this reproduced on the live app.

[2022-11-20 16:42] Emz27 commented on #12715
https://user-images.githubusercontent.com/26669757/202914401-bcfa0f70-a18c-4b0c-834e-ebf9fc185737.mov

https://user-images.githubusercontent.com/26669757/202914417-6201f9aa-fda4-4078-9cde-531e1ce1418f.mov

[2022-11-20 17:39] s77rt commented on #12741
### Proposal (Updated)
[code]

### Update
The changes only effect the component itself `RoomNameInput`

___

@mollfpr Sorry I didn't test on native, fixed now. However it seems to be a little buggy, or maybe that's just due to simulator lag + dev mode?... Anyway, I guess native devices does not suffer from this issue so maybe we should apply this fix only for web? It works pretty smooth on web.

T

[2022-11-20 19:20] marcochavezf commented on #8311
Perfect, if there's another edge case or regression let's fix them in the PR 👍🏽

[2022-11-20 19:56] s77rt commented on #12120
### Proposal
[code]

### Details
The first issue is caused by the newlines as first discovered by @varshamb
The fix is to use another two capturing group as helpers to decide when a newline is necessary. This is better than trimming the resulting output because trim only works on leading and trialling spaces (i.e. may fail if there is another text other than the blockquote and the two empty lines)

[2022-11-20 20:55] furkanuzundev commented on #9848
@Santhosh-Sellavel If we can try correct version, why not? But as i remember, firebase has delay while pushing error on console.if so, it might cause some trouble.

[2022-11-20 20:59] s77rt commented on #11697
Not reproducible from my end.

[2022-11-20 21:18] s77rt commented on #11277
is this still reproducible?

[2022-11-20 21:19] conorpendergrast commented on #12392
Hah, sorry - genuinely not sass, just total confusion

Conor Pendergrast
Concierge Team, Expensify

On Sat, 19 Nov 2022 at 13:47, Rory Abraham ***@***.***> wrote:

[2022-11-20 21:27] LucioChavezFuentes commented on #12054
I made the PRs in react-native:

1. https://github.com/facebook/react-native/pull/35413
2. https://github.com/facebook/react-native/pull/35414
3. https://github.com/facebook/react-native/pull/35415

[2022-11-20 21:59] Puneet-here commented on #12708
### Updated proposal

Pass `shouldShowBackButton` and `onBackButtonPress` at https://github.com/Expensify/App/blob/6b8c0dcdbe34b536553e47e0f8f165894ca15307/src/components/ReimbursementAccountLoadingIndicator.js#L23

[code]

[2022-11-21 00:45] conorpendergrast commented on #12480
It is time, so I shall pay using this SO: [How do I pay an external contributor via Upwork?](https://stackoverflow.com/c/expensify/questions/7582)

I am paying these two people: https://github.com/Expensify/App/issues/12480#issuecomment-1309910882

Assignment date: 2022-11-09 https://github.com/Expensify/App/issues/12480#issuecomment-1307784278
Merge date: 2022-11-09 https://github.com/Expensify/A

[2022-11-21 00:45] #12480 closed

[2022-11-21 00:50] conorpendergrast commented on #11584
@tienifr Bump for participating in [that regression discussion](https://expensify.slack.com/archives/C049HHMV9SM/p1668507952621799)!

[2022-11-21 01:06] mountiny commented on #12822
Just so this is not forgotten 🙌

[2022-11-21 01:34] conorpendergrast commented on #12120
Looks like a lot for @sobitneupane to review here! Thanks all

[2022-11-21 01:46] tienifr commented on #11584
I'm looking at this issue @conorpendergrast @eVoloshchak

[2022-11-21 02:04] sophiepintoraetz commented on #12711
Agreed in the slack thread that this is a trade off we actively decided on (due to this issue [here](https://github.com/Expensify/App/issues/12711#issuecomment-1319160728), we decided that the user has to manually close the right-click modal)  - so closing this issue out

[2022-11-21 02:04] #12711 closed

[2022-11-21 02:43] sophiepintoraetz commented on #12049
Bump @Santhosh-Sellavel (offer is in your inbox, @Tushu17!)

[2022-11-21 02:44] sophiepintoraetz commented on #12781
Pulled out[ here](https://expensify.slack.com/archives/C01GTK53T8Q/p1668998655170269)

[2022-11-21 03:41] kadiealexander commented on #9809
Sorry, was out sick at the end of last week. Job doubled!

[2022-11-21 04:15] sophiepintoraetz commented on #12210
@Julesssss - are we waiting on a review from @Gonals for this issue to close it out?

[2022-11-21 04:20] mananjadhav commented on #12638
@bondydaa @flaviadefaria I am not sure if that is a bug here? Because assume I am on the first chat on a fresh account then where do we redirect? What if I have two subsequent chats with errors in the offline mode? After I enable the internet, should I go back twice?

Can we please get some clarity on the expected behavior?

Navigate away from the conversion, but where? and let's specify for all s

[2022-11-21 04:21] sophiepintoraetz commented on #12605
Imma close this one out until we reopen and decide to do something with it!

[2022-11-21 04:21] #12605 closed

[2022-11-21 04:23] sophiepintoraetz commented on #12022
So @marcaaron - did we decide we're going to fix this or this is intended behaviour?

[2022-11-21 04:40] sophiepintoraetz commented on #11590
All right - updated the OP because this only seems to happen with 7+ users in the split bill option - adding the help wanted label!
<img width="1845" alt="image" src="https://user-images.githubusercontent.com/42940078/202967020-9bb056ce-359b-414b-8322-30c148490fe1.png">

[2022-11-21 04:52] kadiealexander commented on #12448
Thanks! Was able to reproduce:

https://user-images.githubusercontent.com/59587260/202967866-8b5d2d63-10ae-40bf-a37c-75959ff59b6e.MP4

BugZero Checklist:

- [x] The bug is a bug
- [ ] The bug is not a duplicate (It's very similar to [this](https://github.com/Expensify/App/issues/11083), checking to ensure it's different).
- [x] The bug is reproducible (see above)

[2022-11-21 04:53] sophiepintoraetz commented on #11590
[Job posted!](https://www.upwork.com/jobs/~018ffc314ca48c00eb)

cc @rawalyogendra - given your work on https://github.com/Expensify/App/issues/11330?

[2022-11-21 04:53] kadiealexander commented on #11083
@Luke9389, I have a similar issue [here](https://github.com/Expensify/App/issues/12448), since you're diving in are you able to see if it's the same problem causing both behaviours?

[2022-11-21 04:54] kadiealexander commented on #12668
Still on hold, Melvin.

[2022-11-21 05:05] mollfpr commented on #12715
Thank y'all for the proposals!

I like @Delgee [proposal](https://github.com/Expensify/App/issues/12715#issuecomment-1321173742) here, it's simple and works well on the web, mWeb, and desktop, and nothing changes on native.

🎀 👀 🎀  C+ reviewed

@Gonals

[2022-11-21 05:43] mollfpr commented on #12741
Thanks for the update @s77rt!

Overall your [proposal](https://github.com/Expensify/App/issues/12741#issuecomment-1321197596) works well on the web, mWeb, and desktop. 👍

I found an issue on native when I type a special char really fast continuously the cursor is moving forward. Probably we should make the `RoomNameInput` platform-specific component, where we do nothing for the native component si

[2022-11-21 05:50] furkanuzundev commented on #9848
By the way @Santhosh-Sellavel, app is not crush and closing completely as i'm tested.It's just throwing an error on console while opening.

[2022-11-21 05:55] dhairyasenjaliya commented on #12152
bump awaiting for @Luke9389  to pass 🟢 for initial review :)

[2022-11-21 06:48] Christinadobrzyn commented on #12667
Hey @marcochavezf can we get your thumbs up on ^ plan? TY!

[2022-11-21 07:06] ctkochan22 commented on #10765
Okay so this only happens to users when the recipient time is visible?

What causes the message to be hidden? And why doesn't it do it every time?

[2022-11-21 07:11] Christinadobrzyn commented on #12206
Fantastic! I paid $250 to both @adeel0202 and @Santhosh-Sellavel for this. Closing the job in Upwork and closing this GH. Please feel free to reach out if I've missed anything!

[2022-11-21 07:11] #12206 closed

[2022-11-21 07:20] mollfpr commented on #12715
@Delgee I think it's better if we add the `onMouseDown` prop to `TextLink` and call `e => e.preventDefault()` on `BankAccountManualStep` component.

cc @Gonals

[2022-11-21 07:22] tienifr commented on #12151
Hi @eVoloshchak  This PR is created 4 days ago, please help to review it. Thanks

[2022-11-21 07:27] quinthar commented on #11321
I'm curious if you have an ETA for when this workaround can be merged?

[2022-11-21 07:27] eVoloshchak commented on #12151
Hi, @tienifr!
I've found a bug and left a [comment](https://github.com/Expensify/App/pull/12664#issuecomment-1318895198) on the PR, please check it out

[2022-11-21 07:27] hannojg commented on #11697
I think it's in relation to the amount of reports/chats that you have. The more you have the worse the issue. You can test with a high traffic account

[2022-11-21 07:35] Delgee commented on #12715
Yes, I think that's a better way. Since this issue is unique to ```BankAccountManualStep``` component.

[2022-11-21 07:36] railway17 commented on #9809
Is this issue still reproducible?
I couldn't try to test it on old versions of iOS but looks like not reproducible in newer versions.

[2022-11-21 08:00] tienifr commented on #11584
@conorpendergrast sorry but i can't open your link, I think it's on private channel. Pls let me know if I miss something. Thanks

[2022-11-21 08:04] thesahindia commented on #11951
Not overdue.

[2022-11-21 08:05] mananjadhav commented on #11893
This is due for payment. Should be process by today/tomorrow.

cc - @dylanexpensify

[2022-11-21 08:07] sobitneupane commented on #12120
Testing both the above proposals across all platforms.

[2022-11-21 08:10] mananjadhav commented on #11471
I think it must be impacting high traffic account, because in the following block we check:

https://github.com/Expensify/App/blob/3528ad556579f3048eb91aa5ec02a2e98b35229b/src/pages/home/report/ReportActionCompose.js#L255-L261

which consists of the check:
[code]

`reportActions` is passed all the way from `ReportScreen`. Hence while the `reportActions` aren't loaded it shows `Say Hello`.

Questio

[2022-11-21 08:10] sobitneupane commented on #12120
@s77rt Your proposal is adding extraline both above and below the quote while converting markdown to html.

[2022-11-21 08:16] kidroca commented on #11817
PR is still under review

[2022-11-21 08:17] eVoloshchak commented on #11584
@tienifr, it's in `#expensify-bugs` channel, to get an invite just [send an email](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#slack-channels).

Meanwhile, I'll just copy the discussion from slack
Bug:  Clicking “New Message” doesn’t scroll to the correct chat.
Steps:

1. Go to a report that has a few 100 messages
2. Mark any message as unread
3. Scroll above the

[2022-11-21 08:25] parasharrajat commented on #8592
Discussing on slack.

[2022-11-21 08:25] eVoloshchak commented on #12265
Not overdue, PR was deployed to staging 4 days ago

[2022-11-21 08:27] Christinadobrzyn commented on #11293
Stil tracking https://github.com/Expensify/Expensify/issues/227234

[2022-11-21 08:31] eVoloshchak commented on #11354
Looks like there is discussion in https://github.com/Expensify/App/issues/7968#issuecomment-1320879129, let's wait for the answer

[2022-11-21 08:35] univalchemist commented on #11590
@sophiepintoraetz  Can I have a chance to resolve this issue?
Two reasons might be possible for this issue.
- When split bill, data for contact might be changed
- For platforms, different ways to order might be applied.

[2022-11-21 08:49] eVoloshchak commented on #11590
@univalchemist, sure!
Could you please read [CONTRIBUTING.md](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md) and propose a solution for how you would resolve this issue?

[2022-11-21 08:56] railway17 commented on #12240
@kavimuru
I think my replication step is similar to yours, but I can't reproduce it from my side.
Could you kindly let me know if I missed something in my test steps?
https://www.loom.com/share/c55dcf21106c40498bf5d96cc8b8f1df

[2022-11-21 08:59] Beamanator commented on #10960
The Web-E PR just got merged, so now only 1 left - cleaning up App!

[2022-11-21 09:02] hungvu193 commented on #12651
Cool, I'll take a look at it.

[2022-11-21 09:12] sobitneupane commented on #12120
@bernhardoj We don't prefer platform specific code? Are you sure it is absolutely necessary?

[2022-11-21 09:17] sobitneupane commented on #12120
@s77rt Can you please include video result as well (if possible)? And please do include why each change you are proposing is necessary and what you are trying to achieve with the change.

[2022-11-21 09:17] univalchemist commented on #11590
First, I will get this app running on my local and reproduce this issue.
So
- I will need to run web and mobile
- You need to let me know what sort is correct in between web and app
- I will debug what happens when split bill with people
For now, I am not sure what is the exact reason for this issue technically but guess it is related to getting and sorting data from backend.

[2022-11-21 09:18] hannojg commented on #11997
We could, what is the priority on this one? From what I understand you are trying to heavily focus on bugs and performance issues right now, so I was prioritising that so far

[2022-11-21 09:22] hannojg commented on #12119
As https://github.com/Expensify/App/pull/12369 its merged this issue can be closed (or it can be tested and verified that the issue got fixed, not sure what's the procedure is here)

[2022-11-21 09:25] Gonals commented on #12205
They seem different to me. The displayed error is not the same, so the underlying cause (and the fix) is likely different.

I'll take a look and see if we can still reproduce this. If we can, I'll fix it. Otherwise, I'll just go ahead and close it

[2022-11-21 09:26] eVoloshchak commented on #11590
@univalchemist, please take a look at a couple of accepted proposals for the closed issues, [this one](https://github.com/Expensify/App/issues/11801#issuecomment-1278549911) for example.

That's a good question. As per [this](https://github.com/Expensify/App/blob/3528ad556579f3048eb91aa5ec02a2e98b35229b/src/libs/SidebarUtils.js#L112) comment:

[code]

[2022-11-21 09:29] Beamanator commented on #12709
Yeah the Profile page "has been refactored" when we refactored API commands and it should be working offline (so maybe we need to update this issue title?) but there's another big refactor coming for the Profile page, where we won't have any updating / saving on this page directly

[2022-11-21 09:30] Beamanator commented on #12709
Also in Slack (see linked thread in OP) we decided we wanted to hold on this right?

[2022-11-21 09:47] s77rt commented on #12120
### Proposal (Updated)
[code]

### Update
Replace all `<br>`s before and after `<blockquote>`.
Replacing only one will cause a problem on editing, for every edit another newline will be removed e.g.: if the initial text has 4 empty lines, it will be 3, and on the edit it will be 2, if you edit it once again it will be 1 and one more time the left new line will be removed.
Removing all the newlines

[2022-11-21 09:51] hannojg commented on #10273
Hey guys, Hanno from Margelo here 👋
Is someone in your team already working on a custom KAV or is this something that we could start on working? 😊

[2022-11-21 09:53] Gonals commented on #12637
Unable to reproduce in either Staging, Prod or Dev. Closing

[2022-11-21 09:54] #12205 closed

[2022-11-21 09:55] 24dev commented on #8592
@parasharrajat Let me know if you think Honeypot won't be approved and I can look into some other options for us, but if the reception has been positive I can help on other bugs instead.

[2022-11-21 09:56] Gonals commented on #12637
While testing https://github.com/Expensify/App/issues/12205, I went ahead and tested this too. @tylerkaraszewski, I can't reproduce this issue anymore. Are you ok with closing it?

[2022-11-21 10:01] flodnv commented on #12709
We can HOLD on `another big refactor coming for the Profile page, where we won't have any updating / saving on this page directly`, right? If yes, where's that being tracked?

[2022-11-21 10:12] MariaHCD commented on #11895
Looking into the issue this week

[2022-11-21 10:25] Beamanator commented on #12709
Technically the tracking issue is here: https://github.com/Expensify/App/issues/11582

This is for all of the Profile page updates, but right now we're only focusing on updating the Display name, Pronouns, and Timezone since contact method changes are holding on #passwordless, and private personal details are not needed for WQA

[2022-11-21 10:27] iwiznia commented on #12592
Yeah, I think that makes sense.

[2022-11-21 10:29] iwiznia commented on #11808
This seems related to navigation, but not sure why it is reproducible on some accounts only. Anyway, still waiting for proposals.

[2022-11-21 10:29] Beamanator commented on #11582
Little update: Contact methods pages are still holding on `#passwordless` & private personal details are holding on WAQ, but Display name, Pronouns, and Timezone pages are not on hold!

[2022-11-21 10:33] iwiznia commented on #9181
Waiting on the PR. @ntdiary are you sending it?

[2022-11-21 10:36] tienifr commented on #12777
# Proposal

# Problem
In https://github.com/Expensify/App/blob/3528ad556579f3048eb91aa5ec02a2e98b35229b/src/components/ImageView/index.native.js#L69-L81
The original width and height of the image is very high. For example in my case, these are 4032 and 3024
<img width="1086" alt="Screen Shot 2022-11-21 at 17 09 58" src="https://user-images.githubusercontent.com/113963320/203029076-4b67bc87-38d0-40

[2022-11-21 10:40] CosminnB commented on #12698
**Proposal**

As requested, the loading screen will be removed and we will implement a new LHNOptionsListSkeletonView component which will include the skeleton components as shown in the mockup.

**Technical Explanation**

The new component will reuse the existing SkeletonViewLines component and be rendered as a placeholder for the Freeze component inside SidebarLinks.js. We're displaying the skel

[2022-11-21 10:47] thomas-coldwell commented on #12512
Hi I'm from Margelo - I'll be able to take a look at this issue today 🙂

[2022-11-21 10:48] dylanexpensify commented on #12854
reviewing today!

[2022-11-21 10:49] dylanexpensify commented on #12708
reviewing today!

[2022-11-21 10:49] dylanexpensify commented on #12598
reviewing today!

[2022-11-21 10:49] dylanexpensify commented on #12483
reviewing today!

[2022-11-21 10:49] dylanexpensify commented on #12314
reviewing today!

[2022-11-21 10:49] dylanexpensify commented on #12045
reviewing today!

[2022-11-21 10:49] dylanexpensify commented on #11908
reviewing today!

[2022-11-21 10:49] dylanexpensify commented on #11893
reviewing today!

[2022-11-21 11:01] Beamanator commented on #11576
Hey @mateocole can you pay out @thesahindia for his work reviewing the related internal PR? 👍

[2022-11-21 11:02] Beamanator commented on #11576
(reopening till payment has been completed)

[2022-11-21 11:02] Gonals opened #12883 "Incorrect name being displayed for Chat Rooms"
## Action Performed:
1. If needed, create a workspace
2. Create a workspace room
3. Navigate to the room in the LHN

## Expected Result:
The name of the room should be displayed correctly

## Actual Result:
- The name of the room is displayed as `Chat Report` for a second before changing to the correct one.
- In the LHN, it remains displaying incorrectly until you leave the room.
- If offline, the

[2022-11-21 11:12] parasharrajat commented on #8592
Yeah, please share alternatives if they are not hacks/workarounds.

You are free to send proposals to other issues as well. Only the condition is to work on one at a time for new contributors.

[2022-11-21 11:13] parasharrajat commented on #10262
Will review the updated proposal in 2 hours.

[2022-11-21 11:18] dylanexpensify commented on #12327
paid this out

[2022-11-21 11:18] #12327 closed

[2022-11-21 11:23] Beamanator commented on #4629
Ya I think this should hold on caching, looks like we're close so it should only hold another week!

[2022-11-21 11:37] hannojg opened #12885 "[$1000] [Performance] App not running at 60 FPS when just being idle on the home screen / reports list"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?

When you open the (release) app on android the app doesn't run at 60 FPS, even when you are just idle

[2022-11-21 11:39] MonilBhavsar commented on #12120
Ah ok, so do you think the second issue affects all markdowns?

[2022-11-21 11:40] Gonals commented on #11913
This was fixed [here](https://github.com/Expensify/Web-Expensify/pull/35303). Closing

[2022-11-21 11:40] #11913 closed

[2022-11-21 11:57] MonilBhavsar commented on #12784
@robertjchen @Santhosh-Sellavel Please hold on this as there is a similar issue https://github.com/Expensify/App/issues/12120 and we might want to fix this issue there only.

[2022-11-21 12:02] iwiznia commented on #10731
Let's send the PR upstream and see how responsive they are?

[2022-11-21 12:04] syedsaroshfarrukhdot commented on #12340
Bump For Payment

[2022-11-21 12:05] trjExpensify commented on #11695
Okay cool, so what are the next steps here? @eVoloshchak if you're happy with the proposal, let's have @marcochavezf review it and @jayeshmangwani can get going.

[2022-11-21 12:07] mountiny commented on #12885
@hannojg

I think that sounds like a good plan to me. Can you create a PR for this?

[2022-11-21 12:08] hannojg commented on #12885
Yes, will do! Will first see what's the other reason for it not to run at 60 FPS. Once I know I will put up Pas 😊 👍

[2022-11-21 12:12] Beamanator commented on #12453
Yessir @mateocole !

[2022-11-21 12:13] mountiny commented on #11561
Working on a new PR, hopefully that will work just fine for us. @smrutiparida you will be compensated for your work here even if we dont go with your solution.

[2022-11-21 12:13] dylanexpensify commented on #12854
@AndreasBBS added you to title for reporting.

Upwork job: https://www.upwork.com/jobs/~013f07f27493ef4401

[2022-11-21 12:15] mountiny commented on #12885
Thank you  🙇

[2022-11-21 12:16] iwiznia commented on #9823
Not overdue, this is on hold

[2022-11-21 12:16] trjExpensify commented on #10704
Coming from this thread, I'm going to assign this to @thomas-coldwell as a follow-up to the caching PR.

[2022-11-21 12:18] trjExpensify commented on #11393
Coming from [this thread](https://expensify.slack.com/archives/C035J5C9FAP/p1669032019939069?thread_ts=1669028674.179999&cid=C035J5C9FAP), I'm going to assign this to @thomas-coldwell as a follow-up to the caching PR.

[2022-11-21 12:19] thomas-coldwell commented on #10704
Hi, yes I'll square this off once the image caching PR is merged 🙌

[2022-11-21 12:19] thomas-coldwell commented on #11393
Hi, yes I'll square this off once the image caching PR is merged 🙌

[2022-11-21 12:31] christianwen commented on #10731
@iwiznia  we already sent the PR upstream and it was merged here https://github.com/facebook/react-native/pull/35244
The part that we’re not sure is whether to wait for the react-native official release to pull the changes back to our fork

[2022-11-21 12:42] iwiznia commented on #12863
I can't reproduce this bug and I assume it is because it is not a bug, it's a feature that does not allow you to login/ask for reset link more than X times in Y period of time.

[2022-11-21 12:42] #12863 closed

[2022-11-21 12:45] iwiznia commented on #12851
Going to close this because this is a low value bug... or even a feature. Nothing really is broken with the changed name.
Please reopen if you disagree.

[2022-11-21 12:45] #12851 closed

[2022-11-21 12:48] iwiznia commented on #12789
I don't think this is a bug, the splash screen is there while things load, if in web/desktop things load so fast the splash screen is not needed, then that's great.
I think we should close this.

[2022-11-21 12:52] Puneet-here commented on #12854
Hi, I had reported this bug [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667850534873129).

[2022-11-21 12:52] nkuoch commented on #7270
Thanks, will check if I can find anything from the logs

[2022-11-21 12:58] abekkala commented on #12240
When attempting to recreate I still get the same outcome I did on Oct 31:

1. Login with account A that has policyRooms beta enabled and create a workspace if there not any
2. Invite other account (B) that has policyRooms beta not enabled as a member of the workspace
3. Create a new room in account A in the workspace where account B is a member
4. Login in Account B

This is where my test is diffe

[2022-11-21 13:12] railway17 commented on #11083
@kadiealexander , @Luke9389
I checked and it is a similar issue.
I think you will be notified that my proposal will resolve it too.
Please let me know unless it is resolved.
And, @Luke9389, could you kindly let me know a rough time when you could have confidence? 😸

[2022-11-21 13:14] NicMendonca commented on #12769
@tylerkaraszewski just to confirm, should I be closing the upwork job?

[2022-11-21 13:18] iwiznia commented on #12783
Alright, did some investigations for this issue. The problem was introduced [here](https://github.com/Expensify/expensify-common/pull/435/) to solve [this issue](https://github.com/Expensify/App/issues/7496) and I think also [here](https://github.com/Expensify/expensify-common/pull/442) to solve [this](https://github.com/Expensify/App/issues/8089).
When leaving the following comment:
<img width="2

[2022-11-21 13:20] MonilBhavsar commented on #12120
@bernhardoj your reasoning looks good. But this issue is also reproducible on native App. So I don't think the platform specific fix would work

[2022-11-21 13:21] mollfpr commented on #12650
### Updated proposal

The problem that occurred on Android Chrome is because the context menu is canceling the long press. The solution for that problem is to add an event listener for the element and prevent the context menu to appear with `preventDefault` and `stopPropagation`.

I also incline to update the `Checkbox`, `CheckboxWithLabel`, and `CurrencySymbolButton` to the platform-specific comp

[2022-11-21 13:25] azimgd commented on #10263
While I'm aware that this issue is closed and you are focusing on existing bugs, I would like to let you know that I have been working on a "upstream PR" for https://github.com/expensify/react-native. PR includes `onPasteFile` prop support for both iOS and Android implemented with OBJ-C and Android respectively.

I expect to get full PR prepared and submitted by this week, therefore wanted to hear

[2022-11-21 13:28] iwiznia commented on #12782
Taking this issue and fixing it myself, PR incoming.

[2022-11-21 13:30] thesahindia commented on #12240
bump @kavimuru

[2022-11-21 13:30] joekaufmanexpensify commented on #11850
Not overdue.

[2022-11-21 13:32] railway17 commented on #12240
@thesahindia
So, this issue is referred for both accounts that are in policyRooms beta? right?
If yes, my above loom video is correct steps?

[2022-11-21 13:37] flodnv commented on #12724
Reproduced on web, confirmed the fix 👍 @lschurr please hire @0xmiroslav

@tgolen it was introduced here: https://github.com/Expensify/App/pull/10784/files#diff-dd7de4cc8cf99cd14ad8b5168c24c75a12d25aca423502eaaaccedd71c31cb1cR55

I imagine it was just an oversight? 🤔

[2022-11-21 13:41] joekaufmanexpensify commented on #11916
Still held.

[2022-11-21 13:51] iwiznia commented on #10731
ah, so it was merged 14 days ago, but it is still not on any released version?

[2022-11-21 13:56] thesahindia commented on #12240
The issue is about seeing the user created policy room at account B (you shouldn't see the user created policy room because account B isn't in the beta)

[2022-11-21 13:56] iwiznia commented on #7968
I think we should close this and deal with it later when we focus on keyboard navigation, as @JmillsExpensify said.

[2022-11-21 13:56] CortneyOfstad commented on #11810
Not overdue

[2022-11-21 14:05] trjExpensify commented on #12007
It's not this issue is it? https://github.com/Expensify/App/issues/12658

[2022-11-21 14:06] amyevans commented on #12432
Not overdue, working on it as my top priority today

[2022-11-21 14:06] isabelastisser commented on #11930
Hey @Julesssss, did you create this job and hire @s77rt and @eVoloshchak in Upwork? Can you please share the job status links to this issue? Please let me know what steps I need to take moving forward. Thanks!

[2022-11-21 14:07] trjExpensify commented on #11229
Hit staging, awaiting a prod deploy to start the timer.

[2022-11-21 14:10] youssef-lr commented on #12779
This is the expected behavior when the the request cancelled has the same currency as the IOU report, as per this issue: https://github.com/Expensify/App/issues/12433. Thank you all for your proposals! Closing this one out.

[2022-11-21 14:10] #12779 closed

[2022-11-21 14:12] trjExpensify commented on #11695
Yes, let's apply the fix on the `Connect bank account` page (after a bank account has been added) in the workspace settings as well, I can't recall any others? 🤔

[2022-11-21 14:14] trjExpensify commented on #12268
👋 What's the latest on that PR, @youssef-lr @ctkochan22? It looks like it has conflicts now and its been in review for a week.

[2022-11-21 14:15] ntdiary commented on #9181
@iwiznia, oh, sorry, just sent it. I tested earlier today and the backend hasn't changed. 😂

[2022-11-21 14:16] CortneyOfstad commented on #12693
Tackling my checklist today 👍

[2022-11-21 14:17] nkuoch commented on #11777
No time for this yet

[2022-11-21 14:18] trjExpensify commented on #12745
I agree the emoji size looks too small in the first screenshot. @tgolen do you have thoughts on the right direction to go here?