[2022-02-24 00:12] mallenexpensify commented on #6967
I spoke with @marcaaron about the compensation, we've agreed to increase the amount to $750 because combining the initial fix with the[ increase in scope ](https://github.com/Expensify/App/issues/6967#issuecomment-1029538765) created additional work. Thanks @ABee-Tech for the outline above.

Per https://github.com/Expensify/App/blob/main/CONTRIBUTING.md payment will be made 7 days after the PR is

[2022-02-24 00:13] NikkiWines commented on #7884
This looks good for UpWork.

A note to whoever takes this on, it might be good to rope in our design team because we'll probably want to make some sort of truncated tooltip for larger rooms instead of having a tooltip that displays like 50+ emails/names

[2022-02-24 00:26] nickmurray47 commented on #7877
cool, makes sense!

[2022-02-24 00:35] ctkochan22 commented on #7810
Phew! Found it

[2022-02-24 00:36] parasharrajat commented on #7375
Hello @jkgaming88 ,

It is OSS and you can head over to Read.me for more..

[2022-02-24 00:37] rushatgabhane commented on #7541
@Phantom-2 also, the compose box disappears, when editing a message.

[2022-02-24 00:46] Christinadobrzyn commented on #7777
Ah very interesting catch! Created Upwork job post

Internal job posting - https://www.upwork.com/ab/applicants/1496647407337132032/job-details
External job posting - https://www.upwork.com/jobs/~0192323f35298e036a

[2022-02-24 00:56] neil-marcellini commented on #7617
After pulling the latest from main today, user b is getting signed in successfully to new.expensify, but 2 workspaces are still getting created. Here are my notes from adding some console logs and inspecting the flow carefully.

[code]

[2022-02-24 01:01] cead22 commented on #7855
Hmmm, I'm not sure if the video isn't doing the bug justice, but the whole right side of the app is flashing, and the chat input always ends up being rendered, so this doesn't feel like a bug, or at least it's very perceptible. I checked the original post from @shawnborton and the proposal there makes sense, but I don't know how hard it is to do that, and considering this is almost imperceptible,

[2022-02-24 01:31] jkgaming88 commented on #7375
Hello @parasharrajat

Fixed the problem. Change width in popoverMenuItem style to Dimensions.get('window').width. The '100%' was causing the issue. This makes the menu item the size of the modal. It will never exceed it. You could set the value to 10,000 and it will still work. I think React Native is thinking 100% width is the size of the initial pop over. This fixes that

https://user-images.git

[2022-02-24 01:44] jkgaming88 commented on #7375
![screenshot](https://user-images.githubusercontent.com/79109856/155441083-a5a771d7-0c17-4859-ad9b-f35c50cbbda7.png)

This is the initial popover I meantioned before. Notice how the width of the popover is the same as the button pre-fix. I do not know why it happened but that is the reason.

[2022-02-24 01:51] marcaaron commented on #7613
Just merged https://github.com/Expensify/App/pull/7767 which fixes

And waiting for it to go on staging. Joel's PR [here](https://github.com/Expensify/Auth/pull/6412) is also on Production now so that takes care of the second bullet.

[2022-02-24 02:07] marcaaron commented on #2727
Should we just quadruple this one now? Fixing this upstream is worth a bit more than $250.

[2022-02-24 02:11] marcaaron commented on #7848
Thanks for reporting, but please ask for help in our Slack channel and we will create the issue if necessary 🙇

[2022-02-24 02:11] #7848 closed

[2022-02-24 02:11] roryabraham commented on #7648
Okay, ended up being a very big PR but I think there's a lot of good changes there and it's very thoroughly tested. Excited to see how the review goes.

[2022-02-24 02:18] roryabraham commented on #7350
@Expensify/applauseleads can you please retest this and report back? If not reproducible, please add it to weekly KI retests.

[2022-02-24 02:36] rushatgabhane commented on #7487
Yep we're storing them in persistent storage, more info [here](https://github.com/Expensify/App#philosophy).

[2022-02-24 02:40] rushatgabhane commented on #7470
Actually, that might not be a good idea. source - https://github.com/Expensify/App/issues/7541#issuecomment-1049365558

[2022-02-24 02:54] K4tsuki commented on #7792
What is the expected result? Should the `ReportActionView` / chat view follow last navigation across tabs?
Or Should highlighted LHN to not follow navigation across tabs?

[2022-02-24 03:03] rushatgabhane commented on #7792
Pretty sure this is the expected result

[2022-02-24 03:06] ABee-Tech commented on #6967
Thank you @mallenexpensify for acknowledging my request to re-evaluate the amount. And, thank you @marcaaron @parasharrajat for all your due efforts and support.

[2022-02-24 03:07] kavimuru opened #7887 "Desktop - Login - CPA card image is not displayed in the login screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was  found executing #7771**
## Action Performed:
1. Open app
2. Look for CPA card image

## Expected Result:
CPA promo card image is displayed

## Actual Result:

[2022-02-24 03:07] OSBotify commented on #7887
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-02-24 03:14] K4tsuki commented on #6718
I am only set the `draftActive` to `true` inside `if (nextProps.currentlyViewedReportID) {` so it is tied to currently viewed report.  Then reset it to `false` if activeReport change or report stats change.
For clean code purpose, `draftActive` could be stored in state.

For promise and resolve part it is because of when user  send a comment, `reportWithDraft` of currently active report, the `repo

[2022-02-24 03:59] mananjadhav commented on #4264
Pushing the update today.

[2022-02-24 04:11] lokesh-kedia commented on #7715
We could listen onkeyPress from TextView and inside the listener we can check if key pressed is Enter, and if yes, we will call the sendMessage() function

[2022-02-24 04:29] kbecciv opened #7888 "Payments - VBA added automatically with default payment after put password and tap save button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Sign into any account on New Dot
3. Add a bank account by going to Settings > Payments > Add Payment Method > Bank Account
4. S

[2022-02-24 05:30] kadiealexander commented on #7832
@Santhosh-Sellavel please don't forget to apply in Upwork!

[2022-02-24 05:33] kadiealexander commented on #7378
Paid with a reporting bonus, thanks @parasharrajat!

[2022-02-24 05:33] #7378 closed

[2022-02-24 05:41] jkgaming88 commented on #7884
https://user-images.githubusercontent.com/79109856/155464641-a1a970ce-4854-47bf-be2b-3d35999a4933.mov

Saw this in issues and thought I would do it before it hits Upwork. Added custom tool tip for Rooms. Everything works. I styled it the best I could. Shows the first two members and if there are more than 2 just shows the remaining members after. Like joe.kessler88@gmail.com, jerome.kessler@drinke

[2022-02-24 05:51] robertjchen commented on #7687
Still trying to reproduce the issue reliably 🤔

[2022-02-24 06:13] Phantom-2 commented on #7541
@pecanoro this is because 'What's is for?' label has moved up when changing the value of `ACTIVE_LABEL_TRANSLATE_Y = 0;`
this can be handled easily by making it `4` as it was for the default font size and `0` for the largest font size.

[2022-02-24 06:17] Phantom-2 commented on #7541
@rushatgabhane  where is this compose box?

[2022-02-24 06:53] parasharrajat commented on #7884
This should be part of  #7459 if this change is required.

But I don't think this needed. Room avatar is always static so it doesn't seem like it needs tooltip. I asked to remove it in the PR.

[2022-02-24 06:56] mananjadhav commented on #6301
About third party libraries, the packages that I’ve mentioned are maintained by react-native-community. For the native platforms I strongly feel we should use.

For the web components, the library that I mentioned, we can extract the transformation functions that work on Canvas.

[2022-02-24 07:38] jkgaming88 commented on #7884
Sounds good. If yall decide it is needed let me know. Personally seems like a good idea to show the room members in the tooltip. Also thought of possibly adding a long-press action to mobile applications so they can see tooltips. Just a thought.

[2022-02-24 07:45] MariaHCD commented on #7868
I think we don't want to call `SetWalletLinkedAccount` if the bank account is still in the setup state. cc: @stitesExpensify

[2022-02-24 08:20] mdneyazahmad commented on #7854
@SofiedeVreese applied

[2022-02-24 09:07] Beamanator commented on #7792
Agree - if we have the app open in a tab, the highlighted LHN shouldn't change if a new tab is open with a new chat

[2022-02-24 09:15] laurenreidexpensify commented on #7586
@marcochavezf bump here- can you please update if there's a PR WIP yet?

[2022-02-24 09:34] dylanexpensify commented on #7523
posting breakout today!

[2022-02-24 10:01] Beamanator commented on #7769
@roryabraham yeah you're right, I saw the PR got merged but forgot to remove the `DeployBlockerCash` label from this issue, my bad 🤦‍♂️

[2022-02-24 10:13] Julesssss commented on #7384
No update yet.

[2022-02-24 10:51] Julesssss commented on #6213
Hmm yeah, that's a bit tricky to handle but I agree it will be necessary. As the BigNumberPad doesn't use a TextInput we have been able to use an alternate solution up to now (create a Unique Text Component for the currency symbol) -- but applying that solution to regular TextInputs isn't simple.

I wonder if we should create an external issue for creating a pre-fixable TextInput component, which

[2022-02-24 11:04] srdjanrist commented on #7375
Purpose of `fromSidebarMediumScreen` is to decide which type of modal will be shown.
If `fromSidebarMediumScreen = true` POPOVER modal will be shown.
If `fromSidebarMediumScreen = false` DOCKED modal will be shown.

As we can see on iPad 11 inch, in the side menu, current behavior is to show popover, instead of docked modal. (behavior is similar to what can be seen on web).
Also, on the same devic

[2022-02-24 11:18] trjExpensify commented on #7779
Cool, so it was reported by Applause, so doesn't need paying out a contributor for reporting. Unsassigning as the CM.

CC: @Julesssss if he has any ideas here too!

[2022-02-24 11:36] luacmartins commented on #7883
I'm confused. I thought we had checked https://github.com/Expensify/App/pull/7802 off the list yesterday. Checking it off again.

[2022-02-24 11:48] rushatgabhane commented on #7541
My bad, it's a [different bug](https://expensify.slack.com/archives/C01GTK53T8Q/p1645699620022559).

[2022-02-24 11:50] mountiny commented on #7883
@luacmartins Yes! See created issue above! or [here](https://github.com/Expensify/Expensify/issues/198446) 😄

[2022-02-24 11:52] laurenreidexpensify commented on #7798
@K4tsuki did you have a proposal on how to fix this?

[2022-02-24 11:53] laurenreidexpensify commented on #7547
@roryabraham bump ^^

[2022-02-24 11:54] laurenreidexpensify commented on #7306
@thesahindia did you want to submit a proposal for this?

[2022-02-24 12:18] twisterdotcom commented on #7379
Okay @parasharrajat we'll actually want to call these:

[2022-02-24 12:19] Julesssss commented on #7779
CC @iwiznia this is interesting. I verified the issue they are seeing but would need to reproduce locally in order to investigate further. The exact error is that the [payerID doesn't match the owner OR manager ID](https://github.com/Expensify/Auth/blob/b47a87b5ff802fce0c6efa3ce7a8ee3f678feb14/auth/lib/Report.cpp#L2350-L2353) -- next step is to check which of the variables isn't being set correctl

[2022-02-24 12:33] luacmartins commented on #7163
Had other N7 issues that took priority over this. I'll try to get to it next week.

[2022-02-24 12:38] rushatgabhane commented on #7524
Sure thing!

[2022-02-24 13:11] JmillsExpensify commented on #7059
Linked PR made it to staging. We're getting closer!

[2022-02-24 13:13] JmillsExpensify commented on #7270
Doubling the rate of this Upwork job to $1,000. Please share your solution here for feedback.

[2022-02-24 13:15] JmillsExpensify commented on #7471
Woo! Will circle back next week following the requisite regression period.

[2022-02-24 13:15] JmillsExpensify commented on #7518
Woo! Will circle back next week following the requisite regression period.

[2022-02-24 13:15] JmillsExpensify commented on #7670
Woo! Will circle back next week following the requisite regression period.

[2022-02-24 13:16] JmillsExpensify commented on #7726
Still waiting on internal volunteers.

[2022-02-24 13:17] JmillsExpensify commented on #7727
Doubled the rate of this Upwork job to $500.

[2022-02-24 13:38] sobitneupane commented on #7885
**Proposal:**
Replacing following line of code solves the issue.
https://github.com/Expensify/App/blob/0368dad861cf0c28146ac8a8f8646d8d96535270/src/pages/ReportParticipantsPage.js#L85

`onBackButtonPress={Navigation.goBack}`

[2022-02-24 13:44] PrashantMangukiya commented on #7887
**Reason:**  Login screen right image shows randomly as shown at line 352 code below.
https://github.com/Expensify/App/blob/0368dad861cf0c28146ac8a8f8646d8d96535270/src/styles/StyleUtils.js#L352

I tested it with version 1.1.40-0  It shows me cpa card image on random basis during refresh as shown below:

https://user-images.githubusercontent.com/7823358/155534242-75138297-ef0d-4f3c-b20a-af81752392

[2022-02-24 13:50] parasharrajat commented on #7379
Ok. @twisterdotcom  Could you please provide the translations as well?

[2022-02-24 13:51] parasharrajat commented on #7375
Ok Sounds good @srdjanrist . I like @srdjanrist 's proposal.

cc: @Julesssss

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-24 13:56] parasharrajat commented on #7384
I will gather info this weekend.

[2022-02-24 13:58] twisterdotcom commented on #7379
I speak absolutely no Spanish I'm afraid. I asked in Slack: https://expensify.slack.com/archives/C01GTK53T8Q/p1645711112411529?thread_ts=1645468425.421969&cid=C01GTK53T8Q

[2022-02-24 14:40] K4tsuki commented on #7798
@laurenreidexpensify currently I don't have proposal for this issue.

[2022-02-24 15:33] puneetlath commented on #2727
Agreed.

[2022-02-24 15:36] Julesssss commented on #4264
I spoke with @mananjadhav about dropping this issue and he agreed that it was for the best. Thanks for your time looking into this Manan, we will pay out $500 for the time you spent (once the issue is solved).

[2022-02-24 15:37] Julesssss commented on #4264
This issue is more complex than I initially realized, so I would also like to raise the bounty before seeking another contributor.

[2022-02-24 15:39] jboniface commented on #7675
looks like this is in progress

[2022-02-24 15:39] pecanoro commented on #7541
@Phantom-2 Can you incorporate those changes to the proposal then? By fixing this bug we don't want to introduce new ones.

[2022-02-24 15:43] NicMendonca commented on #2727
quadrupled the price -- https://www.upwork.com/jobs/~017b165dfa9821e51c

[2022-02-24 15:47] puneetlath commented on #6584
Cool! Where is that discussion happening?

[2022-02-24 15:49] puneetlath commented on #7780
Upwork: https://www.upwork.com/jobs/~01fbea7b6f6b7403b7

[2022-02-24 15:50] aldo-expensify commented on #7773
No overdue, PR merged, but not deployed yet

[2022-02-24 15:53] puneetlath commented on #7524
@eVoloshchak to clarify, we would update the UI with the error after validation.

When this statement says no UI change for the user, it is referring to the special characters in their phone number. So if they enter `(123) 456-7890`. Then on blur we should strip the special characters for validation to `1234567890` but the UI should remain as `(123) 456-7890`. If there are any errors as a result o

[2022-02-24 16:14] marcochavezf commented on #7843
I wasn't able to reproduce the issue with the latest changes of `main` branch, probably was already fixed in the last few days:

https://user-images.githubusercontent.com/6829422/155562796-d5d1b024-9399-4c2b-89a9-5e8ab87b9f19.mov

I'm going to close the issue, but feel free to open it if the issue persists in the next version.

[2022-02-24 16:14] #7843 closed

[2022-02-24 16:15] stephanieelliott commented on #6877
Sounds like @mananjadhav may not be working on this proposal anymore. Raised price $1000
https://www.upwork.com/jobs/~0152b68b2bb7a2e6df

[2022-02-24 16:22] stitesExpensify commented on #7868
Hmm. So [this PR](https://github.com/Expensify/Web-Expensify/pull/33132) updates the error messages and we take care of this case. Should we just do that? Or do you think we should actually prevent them from trying to default an account?

Also once we release this, when will the wallet not be open?

CC @kevinksullivan

[2022-02-24 16:23] stephanieelliott commented on #7884
Thanks @parasharrajat ! Closing this, but let's reopen if we do want to add a long-press action in the future as suggested by @jkgaming88.

[2022-02-24 16:23] #7884 closed

[2022-02-24 16:29] stephanieelliott commented on #7688
^^ Bump @shawnborton @mdneyazahmad, please submit an updated proposal if you'd like to work on this!

[2022-02-24 16:33] stephanieelliott commented on #7644
Friendly bump @ahmdshrif, please submit an updated proposal if you'd like to work on this!

[2022-02-24 16:35] stephanieelliott commented on #7573
2x'd this on Upwork
https://www.upwork.com/jobs/~0152b595bdb97e852c

[2022-02-24 16:35] stitesExpensify commented on #7887
@ctkochan22 this seems like expected behavior yeah? We just have to refresh a few times to test it?

[2022-02-24 16:36] stitesExpensify commented on #7887
I just ran through the QA for that issue and it passes.

[2022-02-24 16:37] #7887 closed

[2022-02-24 16:45] parasharrajat commented on #6584
That's what I am trying to find.... wait..

[2022-02-24 16:46] parasharrajat commented on #7675
Updating the PR with screenshots shortly. Its ready.

[2022-02-24 16:54] AndrewGable commented on #7855
This happens to me daily and it seems like a regression from the UI we had a few weeks ago. I can reproduce it easier by doing a hard refresh in browser

[2022-02-24 16:55] ahmdshrif commented on #7352
my proposal handle both newline messages that have multiple newlines in a row. and. but I will do some changes that are will work better for this issue. I am still working on optimizing the code block issue.

the reason here when we map HTML to markdown we assume the new line only happens if we use the `<br/>` tag ond some few tags.

but on our case here the new line is HTML use `div` instead of b

[2022-02-24 16:57] parasharrajat commented on #6301
While you are answering these [questions](https://github.com/Expensify/App/issues/6301#issuecomment-1049309991) @Tabakharniuk . I think your proposal more closely matches the requirements. But I think it may be missing some technical details.  @tgolen Do you have any questions regarding the [proposal](https://github.com/Expensify/App/issues/6301#issuecomment-1032146018) https://github.com/Expensif

[2022-02-24 17:01] parasharrajat commented on #6584
@puneetlath Here it is https://github.com/Expensify/App/issues/7308.

[2022-02-24 17:01] parasharrajat commented on #7308
Gentle bump @shawnborton

[2022-02-24 17:04] ahmdshrif commented on #7352
my proposal handle both newline messages that have multiple newlines in a row. and. but I will do some changes that are will work better for this issue. I am still working on optimizing the code block issue.

the reason here when we map HTML to markdown we assume the new line only happens if we use the `<br/>` tag ond some few tags.

but on our case here the new line is HTML use `div` instead of b

[2022-02-24 17:09] mountiny commented on #7059
Yes, thank you for asking @mananjadhav!

@JmillsExpensify as seen in the linked [pr](https://github.com/Expensify/App/pull/7459), we had to go through a couple of iterations and while working and testing we found out the problem is more complex. I believe it is reasonable to increase the compensation by $250 as the time spent was most likely at least double the original time we expected. Thank you

[2022-02-24 17:11] hiteshagja commented on #6908
@Christinadobrzyn that's correct upwork profile.

[2022-02-24 17:24] kavimuru opened #7893 "Payments - Nothing happens when tap on Transfer Balance"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue found when executing #7812**
## Action Performed:
1. Launch App and login
2. Go to Payment
3. Tap on Transfer balance

## Expected Result:
Tap on transfer balance

[2022-02-24 17:25] kidroca commented on #4264
I know the current task is regarding fetching report data in the background, but once that is setup we can easily use it to push persisted messages when the user regains connectivity (instead of waiting for them to open the app again):
- https://github.com/Expensify/App/issues/6690

### Proposal
Extract a lib to configure and register a background-fetch task
Use existing logic to sync any report u

[2022-02-24 17:27] Santhosh-Sellavel commented on #7832
Done @kadiealexander !

[2022-02-24 17:29] rushatgabhane commented on #7780
@mateusbra while that should work, we already have `policy.outputCurrency`.
So can't we just use it instead and get rid of  `customUnit.rate.currency` from the repo

[2022-02-24 17:31] okansahin commented on #7470
@rushatgabhane So then how about my proposal?

[2022-02-24 17:35] adeel0202 commented on #7838
There are total 11 usages of `CheckboxWithLabel` and out of those, 6 usages have `marginBottom` added. If we are to remove `marginBottom` from all those 6 usages then these pages will be modified: `TermsStep, ACHContractStep, BankAccountStep & AddDebitCardPage`.

[2022-02-24 17:36] mateusbra commented on #7780
@rushatgabhane I think its ok once both `policy.outputCurrency` and `policy.customUnit.rate.currency` should keep the same value we can use only one of them

[2022-02-24 17:49] puneetlath commented on #7780
That sounds good to me. I can't think of any reason why we need to handle the customUnit currency separately since it can't be set separately. @mateusbra can you update your proposal accordingly?

[2022-02-24 17:52] mateusbra commented on #7780
I'll update it

[2022-02-24 17:56] mountiny commented on #7893
This looks like an External issue since it is UI related.

[2022-02-24 18:12] Phantom-2 commented on #7541
@pecanoro I hope this fix will not produce new issues somewhere
here is the complete code:

in src/styles/styles.js
[code]
[code]
[code]
[code]

in src/styles/StyleUtils.js :
[code]
[code]
[code]

in src/components/TextInput/styleConst.js :
[code]

[2022-02-24 18:18] kidroca commented on #5987
@stephanieelliott, @Gonals
I guess by this you mean the other ticket - https://github.com/Expensify/App/issues/7666

The current task is completed and there's nothing more to be done - no regressions
The other ticket #7666 is tracked separately not part of the current Upwork contract
_(BTW: It's also resolved and soon to be completed)_

[2022-02-24 18:21] kidroca commented on #7434
I have an Upwork contract for the task and the PR was merge yesterday:
- https://github.com/Expensify/App/pull/7805

[2022-02-24 18:46] dennismunene commented on #7780
**PROPOSAL**

When updating Policy , Data is not formatted correctly.

I will update this section https://github.com/Expensify/App/blob/0368dad861cf0c28146ac8a8f8646d8d96535270/src/pages/workspace/WorkspaceSettingsPage.js#L97-L100

To this
[code]

**Why this fixes the issue ?**

Expected data structure can be seen here.
https://github.com/Expensify/App/blob/0368dad861cf0c28146ac8a8f8646d8d96535270

[2022-02-24 19:17] pecanoro commented on #7793
We agreed [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1645729853595779) this is not actually a bug and we can close it.

[2022-02-24 19:17] #7793 closed

[2022-02-24 19:23] eVoloshchak commented on #7524
Yeah, that is what I was wondering. Now it makes sense, thank you.

[2022-02-24 19:23] nickmurray47 commented on #7883
Going to check off https://github.com/Expensify/Expensify/issues/190683 for now since we will actually need to test on Prod and @thienlnam and I will test once it's there.

[2022-02-24 19:24] nkuoch commented on #7883
Checked off https://github.com/Expensify/App/pull/7812

[2022-02-24 19:45] trjExpensify commented on #7885
Job posted to Upwork here: https://www.upwork.com/jobs/~0106b6b58c33c85010

[2022-02-24 19:49] parasharrajat commented on #7885
The proposal looks good @sobitneupane

cc: @deetergp

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-24 19:51] ctkochan22 commented on #7811
The app is crashing because of our use of map() here https://github.com/Expensify/App/blame/a87b53c273be288bdc887d618973404ba01ea22b/src/pages/home/sidebar/SidebarLinks.js#L170-L174

When we go through the list of report objects, we end up filtering out some in the next nested loop. But because map doesn't remove anything, when a report is filtered out, it returns undefined. So an array of like 8

[2022-02-24 19:56] ctkochan22 commented on #7810
Part of the issue is our use of map [here](https://github.com/Expensify/App/blame/a87b53c273be288bdc887d618973404ba01ea22b/src/pages/home/sidebar/SidebarLinks.js#L170-L174) elaborated in [this comment](https://github.com/Expensify/App/issues/7811#issuecomment-1050207127).

The real issue is actually is deciding that we don't need to "reorder" when switching modes if there is a draft: https://githu

[2022-02-24 19:57] rushatgabhane commented on #7524
🎀👀🎀 C+ reviewed

@puneetlath I think we're good to assign @eVoloshchak this issue 😄

[2022-02-24 19:57] rushatgabhane commented on #7524
🎀👀🎀 C+ reviewed

@puneetlath I think we're good to assign @eVoloshchak this issue 😄

[2022-02-24 20:17] shehroz147 commented on #7885
-[](https://www.upwork.com/nx/find-work/most-recent/details/~0106b6b58c33c85010?pageTitle=Job%20Details&_navType=slider&_modalInfo=%5B%7B%22navType%22%3A%22slider%22,%22title%22%3A%22Job%20Details%22,%22modalId%22%3A%221645733323377%22%7D%5D)

Up for this.

[2022-02-24 20:24] puneetlath commented on #7524
@eVoloshchak I've gone ahead and assigned you the issue. Can you please apply to the [Upwork job](https://www.upwork.com/jobs/~01021ef3f081c4d737) so that I can hire you there as well?

[2022-02-24 20:28] rushatgabhane commented on #7524
@eVoloshchak feel free to submit ~4 PRs for this one.

[2022-02-24 20:29] eVoloshchak commented on #7524
Submitted a proposal on Upwork

[2022-02-24 20:35] eVoloshchak commented on #7524
Got it. I was planning to  submit them in groups of 4-5.

[2022-02-24 20:43] michaelhaxhiu commented on #7545
I'll give an update on behalf of @thesahindia, as he's made good progress on the PR with @parasharrajat. Not overdue, it's on the way! 👍

[2022-02-24 21:01] kavimuru opened #7899 "mWeb - Workspace - Growl message does not appear clicking view all receipts in offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
In an incognito window Navigate to newDot > Workspace > Reimburse expenses
Disable the internet connection
Click on view all receipts

## Expected R

[2022-02-24 21:07] luacmartins commented on #6883
Still looking for contributors

[2022-02-24 21:46] neil-marcellini commented on #7617
I'm going to change this to a weekly issue since the only issue now is that 1 extra workspace is created. I'm going to start working on a fix which will try to prevent login2 from happening, which would then prevent the extra workspace being created.

[2022-02-24 21:51] #5209 closed

[2022-02-24 21:59] kbecciv opened #7900 "IOS - Attachment - Image upload remains loading"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on a conversation
2. Click on add attachment
3. Upload an image
4. Verify a preview is displayed
5. Click on upload
6. Verify the image is

[2022-02-24 21:59] OSBotify commented on #7900
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-02-24 22:12] #7529 closed

[2022-02-24 22:13] thienlnam commented on #7307
PR is in progress

[2022-02-24 22:14] thienlnam commented on #7082
Same as above, need to resolve internal issue first

[2022-02-24 22:24] neil-marcellini commented on #6079
This issue is still occurring, and now it occurs on all platforms, so I'm not sure if #7633 fixed the problem for IOS.

[2022-02-24 22:27] tgolen commented on #7781
@kbecciv bump on my questions.

[2022-02-24 22:30] sakluger commented on #7791
I reproduced the behavior shown, and agree that it's not working as expected. Although I think the expected behavior is a bit different from proposed. It's not possible to join or leave #admins and #announce rooms - those rooms contain all the policy admins (for #admins), or all the policy members (#announce). Instead, I think that we should remove the Invite and Leave buttons from the settings of

[2022-02-24 22:44] adelekennedy commented on #7664
not overdue - still waiting on the other issue to resolve

[2022-02-24 22:49] adelekennedy commented on #7309
chill melvin

[2022-02-24 22:58] SofiedeVreese commented on #7375
fyi @Julesssss let me know if you're happy to proceed with @srdjanrist 's proposal!

[2022-02-24 23:01] SofiedeVreese commented on #7854
I've hired you in Upwork @mdneyazahmad  👍

[2022-02-24 23:01] kidroca commented on #7900
maybe related to this PR that added loading to images : https://github.com/Expensify/App/pull/7723

[2022-02-24 23:05] SofiedeVreese commented on #7598
@parasharrajat just wanting to clarify as this has been stagnant for a bit, were you waiting for input from either @mananjadhav or @marcaaron ?

[2022-02-24 23:07] marcaaron commented on #7598
Agree, Let's just block uploading the svg from the front end for now and call it a day?

I would also not be opposed to just closing the issue. I can't think of why it would be very valuable to allow uploading an SVG.

[2022-02-24 23:11] nickmurray47 commented on #7841
@mvtglobally

Where does this expected result come from? Right now we navigate back home and I'm not sure why we would navigate to Settings instead.

[2022-02-24 23:13] mallenexpensify commented on #7648
Assigned to @rushatgabhane , he's reviewing and testing the PR, job price for doing so will be $500.
Rushat, please apply here https://www.upwork.com/jobs/~016a9b6f5ca7f87207

[2022-02-24 23:13] kavimuru opened #7901 "iOS/ Android - Notification is not received if the app is backgrounded"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #7633
## Action Performed:
1. Sign into the Android app with account A
2. Sign in on web with account B
3. Put the app in the background by

[2022-02-24 23:29] parasharrajat commented on #7598
Ok. Thanks. I agree just showing the error would be fine. So let's block the SVG image upload and add an error when the backend throws the error so that the app does not remain in the unhandled state.

@mananjadhav Would you mind posting a new proposal for this? We can just modify the existing ImageCorruptionAlert to take an error as a prop and show that error.

[2022-02-24 23:55] marcaaron commented on #7810
Stack trace log for the win! 🙌

[2022-02-25 00:00] trjExpensify commented on #6213
I think this is a good idea.

What are your thoughts here? I think it might be weird if you can select the entire value to copy/paste but can't backspace to also delete it. So with that, I'd probably lean towards not making it selectable?

[2022-02-25 00:26] MitchExpensify commented on #6069
This actually works reasonably well for me. Unless I really try to type super fast after CMD+K it works fine..

[2022-02-25 00:29] mallenexpensify commented on #7855
We're alive! https://www.upwork.com/jobs/~0123ca18d28a1410b6  :frankenstein:

[2022-02-25 00:33] mallenexpensify commented on #7485
D'oh, this def shouldn't have been left as a `Daily`, sorry @rushatgabhane .
I made a weekly for now, once you drop in some feedback we can hopefully close, right Rushat?

[2022-02-25 00:42] mallenexpensify commented on #6069
I'm not sure we want a product that only works _reasonably well_ :trollface:
I posted in #expensify-open-source to see what others think.  I'm a keyboard shortcut fanatic so I might not be the best
https://expensify.slack.com/archives/C01GTK53T8Q/p1645749626797729

[2022-02-25 01:24] alex-mechler commented on #7791
I agree with your idea @sakluger, but I'm gonna make a thread in #expensify-open-source talking about it, to make sure others are on board.

[2022-02-25 02:10] stephanieelliott commented on #7688
2x'd on Upwork to $500.

I'm about to go OOO, so reassigning this among the other CM team members (thanks @jliexpensify!)

[2022-02-25 02:16] stephanieelliott commented on #7573
I'm about to go OOO, so reapplied the label to assign this to another CM team member (thanks @NicMendonca)

[2022-02-25 02:17] stephanieelliott commented on #7462
I'm about to go OOO, so reapplied the label to assign this to another CM team member (thanks @kadiealexander !)

[2022-02-25 02:18] stephanieelliott commented on #7081
I'm about to go OOO, so reapplied the label to assign this to another CM team member (thanks @dylanexpensify!)

[2022-02-25 02:20] stephanieelliott commented on #6877
I'm about to go OOO, so reapplied the label to assign this to another CM team member (thanks @puneetlath!)

[2022-02-25 02:21] stephanieelliott commented on #5987
I'm about to go OOO, so reapplied the label to assign this to another CM team member (thanks @SofiedeVreese!)

[2022-02-25 03:16] kavimuru opened #7903 "Android - Chat - Unread message does not disappear from LHN in focus mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Navigate to a conversation (conv 1)
4. Click on the Pin icon on top right to pin the conversation to

[2022-02-25 03:49] MonilBhavsar commented on #7770
Still being worked

[2022-02-25 04:21] adelekennedy commented on #7541
@rushatgabhane and @pecanoro Shawn is ooo for the week - added the design label to get eyes on the suggested fix

[2022-02-25 04:50] hiteshagja commented on #6720
@parasharrajat Need new upwork Job posting b/c the old one expired.

[2022-02-25 05:24] mvtglobally opened #7904 "Cmd+k shortcut is not working on web/Chrome - reported by @ahmdshrif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app on Web / Chrome
2. Cmd+K

## Expected Result:
Search should open

## Actual Result:
Search doesn't open

## Workaround:
unknown

## Plat

[2022-02-25 05:29] mvtglobally opened #7905 "[HOLD for payment 2022-04-13] When clicking on chat open Image viewer. It does not show a loading indicator - reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. Send bigger size image
3. Open image

## Expected Result:
There should be loading indicator while image is opening

## Actual Re

[2022-02-25 05:44] mvtglobally opened #7906 "[HOLD for payment 2022-03-22] No feedback when creating additional workspaces - reported by @ahmdshrif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on :green-plus-button:
2. Click on New workspace
3. Navigate to Settings>Workspace
4. select ... on top and pick New Workspace few times

#

[2022-02-25 05:48] mvtglobally opened #7908 "Save button within room's settings page breaks in smaller devices - reported by @mateusbra"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open a room.
2. Open details.
3. Open settings.

## Expected Result:
Button text should be displayed without break.

## Actual Result:
Button tex

[2022-02-25 06:13] mvtglobally opened #7909 "[HOLD for payment 2022-06-01] [$2000] Request a call is redirecting to the link - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Concierge chat
2. click on Request a call link in the message

## Expected Result:
Request a call should redirect to a screen to request a c

[2022-02-25 06:17] mvtglobally opened #7910 "Feature request: Show the time of last message in LHN - reported by @ahmdshrif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat and send few messages
2. Check LHN display

## Expected Result:
Show the time of last message in LHN

## Actual Result:
No time sho

[2022-02-25 06:24] mvtglobally opened #7911 "You can't paste number with Three Decimal Digits (or more ) in IOU page - reported by @ahmdshrif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Copy number with 3 dismissal digits e.g. 55.333
2. Navigate to IOU request
3. Paste the value copied

## Expected Result:
User should be able to

[2022-02-25 06:29] mvtglobally opened #7912 "[HOLD for payment 2022-05-20][$2000] Copying / pasting code between < and /> seems broken"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Type something like <Component/> and send the message
2. Try to select, copy, then paste into a new message

## Expected Result:
Exactly what you

[2022-02-25 06:31] ctkochan22 commented on #7911
This seems _super_ edge case. If the user types in the number, I assume it stops at 5.33. But I suppose its worth fixing? Downgrading to monthly and looking when I have time

[2022-02-25 06:32] mvtglobally opened #7913 "[HOLD for payment 2022-03-22] the hover style for the “Which account?” row on the Transfer Balance doesn’t stretch to the full width of the sidebar"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to Settings >Payments > Transfer balance
3. Select account to transfer

## Expected Result:
Transfer Balance should stretch

[2022-02-25 06:38] sobitneupane commented on #7688
**Proposal:**
Following changes will yeild the required output. If we want, we can change the error message as well.
https://github.com/Expensify/App/blob/d586981aa5aeb607c3f2cb7dee5d3e251fa7421c/src/libs/actions/IOU.js#L111-L144
[code]
**Output:**

https://user-images.githubusercontent.com/25876548/155666790-ff0172fb-fb79-417f-879e-0cb8871042b2.mov

[2022-02-25 06:38] mvtglobally opened #7914 "Large and inaccurate unread notification count on iOS"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Background the app
2. Receive few messages
3. Wait

## Expected Result:
App should display exact amount of unread messages

## Actual Result:
Use

[2022-02-25 06:55] Santhosh-Sellavel commented on #7688
### Proposal
I've already done a similar error handling in the past.

1. In here
https://github.com/Expensify/App/blob/d586981aa5aeb607c3f2cb7dee5d3e251fa7421c/src/libs/API.js#L182-L187

Change as following, by adding error code 402 to reject the promise call
[code]

2. Also here
https://github.com/Expensify/App/blob/d586981aa5aeb607c3f2cb7dee5d3e251fa7421c/src/libs/actions/IOU.js#L63-L70

Add a c

[2022-02-25 07:13] mvtglobally opened #7915 "[HOLD for payment 2022-06-15] $500 If your have your language set to Spanish, the currency is not localized when you select it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Set app language to spanish
2. Navigate to IOU
3. Check currency display

## Expected Result:
Currency should be localized

## Actual Result:
Cur

[2022-02-25 07:50] mdneyazahmad commented on #7905
## Proposal

#### Proposing early as I reported this issue

Create a flag `isLoading` to store the state of the loading action. Add `onLoadEnd` listener on `Image` and when fired set the `isLoading` to `false`.

Conditionally render `ActivityIndicator`. Applying `styles.dNode` because the `Image` component has to be mounted on the `dom` in order to load and fire the `onLoadEnd` event on `Image`.

[2022-02-25 08:34] mateocole commented on #7625
Got so to clarify to the engineer reviewing:

In the case the room has 0 chat history, perhaps we can allow for deletion of the room. If there is chat history retain that.

Or option B, we leave the room, but change the text.

[2022-02-25 08:36] mateocole commented on #7734
@mvtglobally going to close this, if you take a screenshot or video please reopen and we can get an engineer to review before giving a 👍

[2022-02-25 08:36] #7734 closed

[2022-02-25 09:10] Tushu17 commented on #7420
I think #7435 and this is the same issue so Ig we should close #7435. Quick question:- #7435 was reported in slack before this issue but took time to get logged so is this eligible for reporting bonus (https://expensify.slack.com/archives/C01GTK53T8Q/p1642285631499100)
cc: @stitesExpensify

[2022-02-25 09:24] laurenreidexpensify commented on #7288
@K4tsuki is there a draft PR up for this yet?

[2022-02-25 10:01] K4tsuki commented on #7288
I am sorry @laurenreidexpensify  I am still making it, maybe monday will post PR.

[2022-02-25 10:11] mdneyazahmad commented on #7900
There are two related pr https://github.com/Expensify/App/pull/7723 and https://github.com/Expensify/App/pull/7569

These two pr handles two different issues.
1. First pr adds loading indicator to the images being loaded.
2. Second pr adds a loading placeholder when an image is being uploaded.

Could you please confirm, when this issue occurs (uploading or after uploaded)?

[2022-02-25 10:46] kidroca commented on #6069
Agree - As a user I don't want to be training myself to type slower (after Cmd+K) so that I can use the product.
I see this as one of these tiny imperfections that you wouldn't notice and appreciate for being fixed, but would cause frustration when they happen
Let some notes in the [slack conversation shared above](https://expensify.slack.com/archives/C01GTK53T8Q/p1645749626797729)

[2022-02-25 12:26] parasharrajat commented on #6720
cc: @kevinksullivan

[2022-02-25 12:48] K4tsuki commented on #7837
Is this duplicate issue? Could I submit a proposal?

[2022-02-25 13:06] kidroca commented on #5987
Can we agree the issue is complete: https://github.com/Expensify/App/issues/5987#issuecomment-1050131124
The PR was merged 22 days ago: https://github.com/Expensify/App/issues/5987#issuecomment-1028958111
And pending in Upwork is due

[2022-02-25 13:40] parasharrajat commented on #6912
Ok, there is really something going on but unfortunately, I am not able to reproduce it. So back to proposals.

I don't like @murataka 's proposal. You are suggesting to move away from  `navigation.navigate` to navigate to report in this case. And rely on `currentlyViewedReportID` to manage it. I don't think this is a good approach.

[2022-02-25 13:47] mateusbra commented on #7908
### PROPOSAL
Proposing early as I reported this issue:
Within:
https://github.com/Expensify/App/blob/d586981aa5aeb607c3f2cb7dee5d3e251fa7421c/src/pages/ReportSettingsPage.js#L192-L200
replace line 192 by:
[code]
SCREENSHOTS
![image](https://user-images.githubusercontent.com/56851391/155725979-233a2615-dfca-4e60-95c2-f90619a45b54.png)

![image](https://user-images.githubusercontent.com/56851391/155

[2022-02-25 13:49] parasharrajat commented on #7844
Bump questions :arrow_up:

[2022-02-25 13:51] murataka commented on #6912
@parasharrajat , thanks for examining the proposals , In fact, This issue was my first and I had trouble to getting used to here at first, so , me trying to handle more than one case above is misleading.

The only change I suggest is this one :

https://github.com/murataka/App/commit/f5e5a72

currentlyViewedReportID is not related to that one .

What https://github.com/murataka/App/commit/f5e5a72

[2022-02-25 13:53] parasharrajat commented on #7679
Question :arrow_up:

[2022-02-25 13:56] parasharrajat commented on #6912
Thanks for clarifying the changes. There are two ways Request Money works:
1. Clicking :heavy_plus_sign: FAB button.
2. From the active report, :heavy_plus_sign: on the Composer.

I think your proposal may work while using 2 but it won't when using 1. Am I missing something?

[2022-02-25 13:58] murataka commented on #6912
Let me check it and confirm. I shall pull main again and test, also add the video recording ...

[2022-02-25 14:01] dylanexpensify opened #7916 "[HOLD for payment 2023-02-03] [$250] Audit forms and fix inconsistencies with focus, tab and shift + tab behavior 2/4"
We should audit all our forms and fix any inconsistencies with focus, tab, shift + tab and enter behavior. The expected behavior is as follows:

1. `Tab` navigates to the next input.
2. `Shift + tab` navigates to the previous input.
3. `Enter` submits the form.
4. `Space` toggles checkboxes/dropdowns.

**Note:** We should make sure that tabbing cycles through the form in an order that makes sense,

[2022-02-25 14:01] dylanexpensify opened #7917 "[HOLD for payment 2023-03-20] [HOLD #12370][$2000] Audit forms and fix inconsistencies with focus, tab and shift + tab behavior 3/4"
We should audit all our forms and fix any inconsistencies with focus, tab, shift + tab and enter behavior. The expected behavior is as follows:

1. `Tab` navigates to the next input.
2. `Shift + tab` navigates to the previous input.
3. `Enter` submits the form.
4. `Space` toggles checkboxes/dropdowns.

**Note:** We should make sure that tabbing cycles through the form in an order that makes sense,

[2022-02-25 14:01] dylanexpensify opened #7918 "[HOLD for payment 2022-09-08] $500 - Audit forms and fix inconsistencies with focus, tab and shift + tab behavior 4/4"
We should audit all our forms and fix any inconsistencies with focus, tab, shift + tab and enter behavior. The expected behavior is as follows:

1. `Tab` navigates to the next input.
2. `Shift + tab` navigates to the previous input.
3. `Enter` submits the form.
4. `Space` toggles checkboxes/dropdowns.

**Note:** We should make sure that tabbing cycles through the form in an order that makes sense,

[2022-02-25 14:03] dylanexpensify commented on #7918
Note: decision to split this main issue up into smaller issues came from [this convo](https://expensify.slack.com/archives/C01SKUP7QR0/p1645014281039819)

[2022-02-25 14:03] dylanexpensify commented on #7917
Note: decision to split this main issue up into smaller issues came from [this convo](https://expensify.slack.com/archives/C01SKUP7QR0/p1645014281039819)

[2022-02-25 14:04] dylanexpensify commented on #7916
Note: decision to split this main issue up into smaller issues came from [this convo](https://expensify.slack.com/archives/C01SKUP7QR0/p1645014281039819)

[2022-02-25 14:04] dylanexpensify commented on #7523
Broke down the issue, posting this to Upwork now!

[2022-02-25 14:04] parasharrajat commented on #6876
No update on slack https://expensify.slack.com/archives/C01GTK53T8Q/p1645191589301989. Pinged again.

[2022-02-25 14:07] dylanexpensify commented on #7523
Internal: https://www.upwork.com/ab/applicants/1497211614476763136/job-details
External: https://www.upwork.com/jobs/~01d7fed60e5d35c64d

[2022-02-25 14:20] mvtglobally commented on #7914
Validate after https://github.com/Expensify/App/issues/6591 deployed

[2022-02-25 14:34] murataka commented on #6912
To clarify what changed :

We just delete those two lines. After that , we shall have unused variables and libraries.

https://github.com/murataka/App/commit/f5e5a72#r67467635

https://github.com/murataka/App/commit/f5e5a72#r67467659

What we get in last total pr is the above lines deleted + unused variables and libraries removed.

https://user-images.githubusercontent.com/5358438/155732301-eecd86

[2022-02-25 14:39] Santhosh-Sellavel commented on #7523
## Proposal:
I am interested in this!

I will perform the audit for each page for the actions stated in the post [here](https://github.com/Expensify/App/issues/7523#issue-1122232308)
Find out the inconsistency if any and will fix them.

[2022-02-25 14:58] Santhosh-Sellavel commented on #7523
Few forms might not be accessible to contributors. Is there any way to open those forms directly?

[2022-02-25 15:07] NicMendonca commented on #7906
👍 agreed its a bit confusing not to confirm

[2022-02-25 15:09] Manoj-coder commented on #7855
Yeah. This is not issue or bug.
But if you want to make stable then disable that textinput animation or disable bottom to top comes up. Make stable. I thought so

[2022-02-25 15:22] mallenexpensify commented on #7579
Happened to me this morn
- Quit NewDot Desktop at EOD, closed lid on computer
- Following morn, opened computer then NewDot desktop 15 mins later
- A couple chats I got notifications for since last night are not showing in LHN.
- Here's all logs from JS console
[logs matt LHN not loading.txt](https://github.com/Expensify/App/files/8142235/logs.matt.LHN.not.loading.txt)
- Hard refresh, cmd+shift+r

[2022-02-25 15:34] ahmdshrif commented on #7644
@stephanieelliott  thanks for pinging me I will fix the extra line issue soon.

[2022-02-25 16:25] michaelhaxhiu commented on #7855
@Manoj-coder can you put together a little more information in your solution proposal? In case it's helpful, [this section](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#proposing-a-job-that-expensify-hasnt-posted) of our Contributing Guidelines has information on how to best form a solution proposal.

For example, which specific textinput animation are you suggesting to disable? Also

[2022-02-25 16:26] timszot commented on #7901
Actually, nevermind. This is a slight dupe of https://github.com/Expensify/App/issues/6079 Let's keep the conversation there.

[2022-02-25 16:26] neil-marcellini commented on #7901
Yep I agree, thanks Tim.

[2022-02-25 16:29] NicMendonca commented on #6883
doubled amount: https://www.upwork.com/jobs/~0190053c928a98fb14

[2022-02-25 16:46] danieldoglas commented on #7906
Agreed it is confusing, and that we won't need backend changes. We can move this to External.

[2022-02-25 16:48] neil-marcellini commented on #7899
I updated the action performed with more detailed steps. I also removed this phrase from the actual result since it seemed unrelated:

@kavimuru if the issue also occurs here could you provide more detailed steps about how to reproduce the issue?

[2022-02-25 16:55] TomatoToaster commented on #7913
Oooh nice catch, this can definitely be external.

[2022-02-25 16:59] thesahindia commented on #7906
### Proposal
Just need to add `Growl.show(Localize.translateLocal('workspace.common.growlMessageOnCreate'),CONST.GROWL.SUCCESS, 3000);` below after the if statement
and have to add growlMessageOnCreate in en/es.js

https://github.com/Expensify/App/blob/3e674c42b27340b678ebc5f051395bc0e6c92cfe/src/libs/actions/Policy.js#L125-L129

[2022-02-25 17:10] parasharrajat commented on #7913
### Proposal
##### Proposing in reference to slack thread.

1. Remove the padding from content on this ScrollView https://github.com/Expensify/App/blob/3e674c42b27340b678ebc5f051395bc0e6c92cfe/src/pages/settings/Payments/TransferBalancePage.js#L194.

2. Then add the padding to the content above and below the which account menu item https://github.com/Expensify/App/blob/3e674c42b27340b678ebc5f05139

[2022-02-25 17:12] mallenexpensify commented on #6069
@K4tsuki also commented

Let's get this fixed, one way or another.  @kidroca based on the vid you posted in thread, it looks like you have a solution, do you want to propose that here?

https://user-images.githubusercontent.com/22508304/155757400-312becdc-f391-4112-b393-f8983dcca34f.mp4

I created a new job and doubled price to $1000 to get 'er fixed
https://www.upwork.com/jobs/~01ffc80a2016b3d9b4

[2022-02-25 17:16] stitesExpensify commented on #7420
Hmm @Tushu17 is this the same issue? In your case it looks like you can still see the IOU, whereas here it is an endless spinner. Is it just because you hadn't refreshed maybe?

[2022-02-25 17:23] sobitneupane commented on #7906
**Proposal:**
We need to add
[code]
in
https://github.com/Expensify/App/blob/38a97276adb2c8330962d0d95001a9b4cb50a762/src/libs/actions/Policy.js#L152-L154
If we add it in any other positions, the growl will appear before navigating to the newly created workspace.
**Output:**

https://user-images.githubusercontent.com/25876548/155759078-07ea1471-7484-48a2-9200-b5df468c2f68.mov

[2022-02-25 17:24] kavimuru commented on #7899
@neil-marcellini  The steps are as follows: Its repro in Android app too.

Uploading 20220225_121833[1].mp4…

1. Open the app
2. Tap workspace
3. Disable internet > Tap Reimburse expense > Tap " View all receipts"
4. Tap back button > Tap pay bills > " View all bills"
5. Tap back button > Tap send invoice > Tap " View all invoices" / "Send invoice"

[2022-02-25 17:48] Tushu17 commented on #7420
@stitesExpensify Yeah it's same but there is a little difference about loading spinner.
To repro loading spinner case, You need to delete your account and have to reopen it.
But when the other user request money and deletes his account loading spinner doesn't show up.
the similar thing between both is that in both you get error message when trying to see the details and I guess solving one will al

[2022-02-25 17:50] stitesExpensify commented on #7420
Gotcha. In that case yes, I think that you would qualify for the reporting bonus

[2022-02-25 17:51] stitesExpensify commented on #7420
I also agree with @rushatgabhane that this is an internal issue, so I'm removing the help wanted and external labels

[2022-02-25 17:54] nickmurray47 commented on #7601
this has been merged and is just waiting deployment Melvin

[2022-02-25 17:57] Julesssss commented on #4264
This is great, thanks for explaining the proposal.

So to clarify, this issue would now be to **A)** Implement periodic background updates ensuring that iOS is not mounting the app when running the background task, and **B)**  Pushing cached messages in the background instead of awaiting the next App open. I wasn't sure that 2 will be possible to implement yet though, does that sound reasonable to

[2022-02-25 17:59] Julesssss commented on #7375
Thanks all, yep the proposal sounds good.

[2022-02-25 18:04] alex-mechler commented on #7791
Okay, noone has raised objections, going to push this forward. This can be external, since we are going to just be not displaying these buttons

[2022-02-25 18:08] mateusbra commented on #7899
I couldn't repro this with my Android device, it gaved me a growl:
![WhatsApp Image 2022-02-25 at 15 07 40](https://user-images.githubusercontent.com/56851391/155765615-3574e744-6751-4266-86c5-f6b0b454d25b.jpeg)

[2022-02-25 18:10] kidroca commented on #6069
@mallenexpensify
As you can see in the video above. The "fix" on the right has no drawer transition - the search does not swipe in
I failed to notice until it was brought up in slack
_(Closing search still has an animated transition)_

It seems the current issue is stuck because we're looking for a fix that both preserves the animation and fixes the lost input problem

Right now animation works bu

[2022-02-25 18:10] Santhosh-Sellavel commented on #7791
## Proposal
Removing these lines will hide those buttons from view.
https://github.com/Expensify/App/blob/2be5a0e9d22d135708a85753ef69a71e85f4d7d3/src/pages/ReportDetailsPage.js#L92-L100

Also need removing related unused code & resources would be good enough.

[2022-02-25 18:17] kidroca commented on #4264
We can have B) as a continuation work, definitely a separate PR
I'm just bringing it back up because it would be a lot easier to implement if we already have A) and I see value in it

[2022-02-25 18:19] kbecciv opened #7919 "Android - App is crashing when tap on #announce or scrolling the chat conversation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with High Traffic Account (Policy which has a lot of members (>10k))
3. Tap on #announce
4.  Go back to LHN and tap on a

[2022-02-25 18:19] Julesssss commented on #4264
Gotcha. That's fine.

If you would like to continue with this issue I'll go ahead and assign you.

[2022-02-25 18:21] Julesssss commented on #4264
Hi @Christinadobrzyn, would you please hire kidroca on UpWork and update the amount if that's possible? Thanks!

[2022-02-25 18:24] kidroca commented on #4264
I can't find an Upwork job about this ATM, can you post it here when it's available

[2022-02-25 18:37] Julesssss commented on #4264
I think it is [this one](https://www.upwork.com/jobs/~01efefc0e091692d09)

[2022-02-25 18:40] Julesssss commented on #6213
Yeah, I agree. Let's start with this. Will create an issue.

[2022-02-25 18:41] Julesssss commented on #4273
A similar issue was just reported: https://github.com/Expensify/App/issues/7914#event-6137085081

[2022-02-25 18:43] Julesssss commented on #7914
Hi @mvtglobally, do you think this is separate [to this](https://github.com/Expensify/App/issues/6591) issue? It looks like that issue is only temporary.

[2022-02-25 18:47] stitesExpensify commented on #7919
Hi there! What does `High Traffic Account` mean? Also do you know if `1.1.40.0` staging or production?

[2022-02-25 18:57] kidroca commented on #4273
The problem in this task (#4273) was caused by `maxSequenceNumber` being incorrectly overwritten during paging
The problem in #7914 and #6591 is there's a change to set all the messages in a conversation as unread: https://github.com/Expensify/App/issues/6591#issuecomment-1023558288

[2022-02-25 19:00] MitchExpensify commented on #7918
How does that change the normal contributor management process @dylanexpensify ? Thanks

[2022-02-25 19:02] MitchExpensify commented on #7420
Going to remove my assignment in that case too @stitesExpensify

[2022-02-25 19:12] marcaaron commented on #7482
Sounds good. Let's close it based on the comments [here](https://github.com/Expensify/App/issues/4345#issuecomment-897212978). Agree it is the same issue and clear based on that what the default behavior should be.

[2022-02-25 19:12] #7482 closed

[2022-02-25 19:15] iwiznia commented on #7868
Hope you are not asking me, because I have no idea. Also, unassigning myself as triaging is done and people that know this better than me are involved.

[2022-02-25 19:27] Santhosh-Sellavel commented on #6069
cc: @kidroca
This is pretty much the solution I proposed here.
https://github.com/Expensify/App/issues/4822#issuecomment-906073316
https://github.com/Expensify/App/issues/4822#issuecomment-906079606

We don't need to wait for `didScreenTransitionEnd` to render the search box.

[2022-02-25 19:37] mallenexpensify commented on #7906
Job posted https://www.upwork.com/jobs/~01f6b9c4c49d62df65
@rushatgabhane , can you review @thesahindia and @sobitneupane 's reviews above plz?

[2022-02-25 19:39] mallenexpensify commented on #6069
@rushatgabhane , I manually assigned you as Contributor+, can you please review the above and propose next steps?

[2022-02-25 19:41] kidroca commented on #6069
@Santhosh-Sellavel

Any reason it wasn't applied? Is it causing any problems besides being more snappy and skipping the animation on entry?

[2022-02-25 19:54] Santhosh-Sellavel commented on #6069
@kidroca Checkout out the thread [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1629988516018000).
Entry animation was also needed as the outcome.

[2022-02-25 20:14] marcaaron commented on #7476
Just leaving a comment here to let everyone know there is a second PR related to this issue -> https://github.com/Expensify/App/pull/7922#issuecomment-1051193376

[2022-02-25 20:21] kidroca commented on #6069
Ok checked the thread and still not sure why "Animation was also needed as the outcome."
Seems like the general consensus there is that we prefer a more responsive app over the entry animation
And that we can move loading to happen below the search field.
Then the thread ends.

[2022-02-25 20:32] mountiny commented on #6908
PR has been merged.

[2022-02-25 21:05] tylerkaraszewski commented on #7839
This should be easy for an external contributor and I agree, we should do this.

[2022-02-25 21:18] laurenreidexpensify commented on #7797
I was OOO today - I'll do this on Monday

[2022-02-25 21:48] thienlnam commented on #7424
@jliexpensify Let's get this issue doubled for some more eyes

[2022-02-25 21:55] Santhosh-Sellavel commented on #7903
## Proposal
In here, For sidebar Options in focus mode, we have a filter for read reports alone.  Using `hideReadReports: true`
https://github.com/Expensify/App/blob/53a9891cec8734c59d1a15539f29eb74e85006d8/src/libs/OptionsListUtils.js#L706-L711

`hideReadReports` is configurable filter criteria for the getOption method
https://github.com/Expensify/App/blob/53a9891cec8734c59d1a15539f29eb74e85006d8

[2022-02-25 22:10] iwiznia commented on #7855
This is very similar to this issue https://github.com/Expensify/App/issues/4822  which we ended up closing.
I agree it's a bad UX and there should be a way of fixing this.
I see that the RHN opens fast, but then the loader is shown and the input is not rendered and focused till the whole list is rendered. If we could not add the loader and have the input render and focus before the list is ready,

[2022-02-25 22:40] iwiznia commented on #7855
Oh it also looks very similar to https://github.com/Expensify/App/issues/6069 no? Should we close one?

[2022-02-25 22:41] iwiznia commented on #6069
+1 to favor good UX (especially on one of the most widely used features) over fancy animations.

[2022-02-25 22:47] roryabraham opened #7925 "[HOLD #147480][$40,000] React Native ScrollView bug: maintainVisibleContentPosition"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Here is a [very minimal reproduction](https://github.com/facebook/react-native/pull/33184) of this bug in the [rn-tester sample project](https://git

[2022-02-25 22:48] roryabraham commented on #7925
@kadiealexander reassigning to @mallenexpensify because we discussed this 1:1

[2022-02-25 23:04] rushatgabhane commented on #6069
In https://github.com/Expensify/App/pull/4903#discussion_r705659359, this is the only reason that I could find why we should keep the animation.

But this issue has been created like 4 times in the past, and I agree that we should just get rid of the animation for this page.

[2022-02-25 23:10] rushatgabhane commented on #6069
@kidroca any reason for it to be semi transparent?

[2022-02-25 23:14] mateusbra commented on #7912
### PROPOSAL
We have to change how we strip html when copying to clipboard, at the moment we are only replacing everything within <> for an empty string here:
https://github.com/Expensify/expensify-common/blob/f77bb4710c13d01153716df7fb087b637ba3b8bd/lib/str.js#L306-L318

[2022-02-25 23:14] mountiny commented on #7855
https://github.com/Expensify/App/issues/6069 relates to the RHN search bar so I would not say it is the say (we would most likely need to update that issue to accommodate for problems listed here which is too late now).

However, if this is caused due to some animation (which I can't even notice on the video) and disabling it won't change the behaviour significantly, I am up for just removing the

[2022-02-25 23:18] neil-marcellini opened #7926 "The desktop app won't run in the dev environment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Run the desktop app locally

1. `npm install`
2. `npm run desktop`

## Expected Result:
The desktop app should launch and run correctly
## Actual Re

[2022-02-25 23:31] roryabraham commented on #2985
Posted https://github.com/Expensify/App/issues/7925, which _seems_ like it's going to be a blocker for any solution using React Native's `ScrollView`.

[2022-02-25 23:33] neil-marcellini commented on #7926
I'm not a contributor so I'll un-assign Matt.

[2022-02-25 23:39] K4tsuki commented on #6069
What about my [proposal](https://github.com/Expensify/App/issues/6069#issuecomment-996400604) ?
I explain why animation break and I also confirm that  by using my proposal the animation doesn't break. I test it by slowing down the animation, and it doesn't break the animation.

[2022-02-26 00:00] adelekennedy commented on #7912
[internal](https://www.upwork.com/ab/applicants/1497360716363595776/job-details)
[external](https://www.upwork.com/jobs/~01c90fb0c06dde1e5c)

[2022-02-26 00:18] parasharrajat commented on #7912
Thanks for the proposal @mateusbra. Could you please root cause details to your proposal? and tell us how did you reach your solution.

[2022-02-26 00:19] roryabraham commented on #7900
Sorry for the delay, looking into this now!

[2022-02-26 00:27] mallenexpensify commented on #7925
We live! https://www.upwork.com/jobs/~01620b5ab4dee0a9f0

[2022-02-26 00:32] roryabraham commented on #7900
Reproduced on `main`, checking https://github.com/Expensify/App/pull/7723 first

[2022-02-26 00:46] #7926 closed

[2022-02-26 00:52] stitesExpensify commented on #7919
Re-assigning this since I'm about to be OOO for a week

[2022-02-26 00:53] roryabraham commented on #7900
Doesn't seem like https://github.com/Expensify/App/pull/7723 or https://github.com/Expensify/App/pull/7569 caused this 🤔

[2022-02-26 01:34] roryabraham commented on #7900
Not sure, but it's possible this is just a side-effect of infra issues we had today

[2022-02-26 01:54] kavimuru opened #7928 "Upadate - Update notification does not appear for Desktop after waiting for 8 hours"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Sign in to the desktop staging app
2. Sign in to the production desktop app
3. Keep both apps open for 8 hours.

## Expected Result:
 Update noti

[2022-02-26 10:56] thesahindia commented on #7306
@laurenreidexpensify, I guess this got fixed somehow as it is no more reproducible.

[2022-02-26 14:19] ahmdshrif commented on #7352
just work on this to optimize it with regex

this part is what we need only to add to fix this one
`.replaceAll(/<\/div>(<[^/])/g, "<br/>$1")`
this regex map any close div that is not in the end to `br`
and that is the same as what I do before but this is perfect and handles the case on copy code from VSCode.

and that's the final proposal that fixes both issues as you request  @rushatgabhane  wil

[2022-02-26 14:31] ahmdshrif commented on #7644
@rushatgabhane  as i mention here https://github.com/Expensify/App/issues/7352#issuecomment-1052139980 this is what we need to fix both issue .

copy code here have 2 issue : -

1- when copy form vsCode .
vs code map newline with div  so that same regex we need to fix the 7352 issue will fix  this part which is `.replaceAll(/<\/div>(<[^/])/g, "<br/>$1")`

2- copy from Github .
GitHub map the code

[2022-02-26 19:41] Viacheslav80 commented on #7497
Sorry, but I don't have time to look for the right solution to the problem anymore.
@parasharrajat. Please find the best solution and be free to use these developments

[2022-02-27 08:45] dennismunene commented on #7912
### **PROPOSAL**

We need to change how we handle pasted HTML here.

**Update** https://github.com/Expensify/App/blob/36c6f8a2ccb4a846daff664036571c2cdf1fc164/src/components/TextInputFocusable/index.js#L258

To look like this.

- Instead of getting the pasted from the clipboard content as HTML and converting to markdown ( which strips off all tags. see https://github.com/Expensify/expensify-common

[2022-02-27 14:12] parasharrajat commented on #7912
Thanks for the proposal @dennismunene. Did you try?
[code]
  as message.

[2022-02-27 15:08] dennismunene commented on #7912
@parasharrajat  yes I have , works as expected.

[2022-02-27 15:11] parasharrajat commented on #7912
Ok. Thanks but I don't consider this a proper approach.
[code]

This step is important for the app.

[2022-02-27 15:40] dennismunene commented on #7912
@parasharrajat updated my proposal to include this step
[code]

[2022-02-27 16:10] parasharrajat commented on #7858
### Proposal,

I suggest using
[code]
in the onPress handler after we set the focus.https://github.com/Expensify/App/blob/36c6f8a2ccb4a846daff664036571c2cdf1fc164/src/components/TextInput/BaseTextInput.js#L99-L101

[2022-02-27 16:21] murataka commented on #4612
the complete solution is at slack channel

https://expensify.slack.com/archives/C01GTK53T8Q/p1645912640776129?thread_ts=1645912640.776129&cid=C01GTK53T8Q

[2022-02-27 16:34] dennismunene commented on #7912
@parasharrajat updated my proposal.

[2022-02-27 16:39] parasharrajat commented on #7912
Thanks, @dennismunene but I still think we can do better.
1. StripHTML is doing its job of removing HTML but the question is why are getting HTML at this stage? HTML should have been converted to MD by now.

Now there are two things to compare.
1. Copy to clipboard and Selection copy via `Ctrl+C`.

Copy to clipboard works. But the selection does not. So it must have given you the idea by now what

[2022-02-27 18:44] AndrewGable commented on #7583
Let's close if we cannot reproduce

[2022-02-27 18:44] #7583 closed

[2022-02-28 00:02] SofiedeVreese commented on #7375
Perfect, thanks @Julesssss .

@srdjanrist I've just hired you in Upwork!

[2022-02-28 00:07] SofiedeVreese commented on #5987
@roryabraham just want to get your thumbs up for releasing payment for this GH (5987) which seems to have been actioned via the PR [here](https://github.com/Expensify/App/pull/6556)?

[2022-02-28 01:04] mountiny commented on #7521
Raised the PR in App and backend repository to update the error messages.

[2022-02-28 01:42] jliexpensify commented on #7858
Internal - https://www.upwork.com/ab/applicants/1498111292781232128/job-details
External - https://www.upwork.com/jobs/~014966c2a2927a4c8f

[2022-02-28 01:55] kakajann commented on #7858
@parasharrajat this issue is only occuring on Web (Browser). What is the upside of `setNativeProps` over my proposal? It's both direct manipulations.

[2022-02-28 08:07] ctkochan22 commented on #7811
It turns out that we need to use map because that is how we preserve the original order of the conversations. So we iterate through the original order, and replace those report objects with the new ones from `recentReports`. Pushing fixed solution now

[2022-02-28 08:08] parasharrajat commented on #7858
It's not cross platform and does not comply with RN api

[2022-02-28 08:50] madmax330 commented on #7868
I think fixing the error messages is fine. It would tell them that the bank account they want to use isn't valid. Not much else to do.

[2022-02-28 09:55] Julesssss commented on #7914
Should be fixed with this PR: https://github.com/Expensify/App/issues/6591

[2022-02-28 09:58] kidroca commented on #4264
Thanks, I'll wait for the amount to be updated before applying

[2022-02-28 10:21] kidroca commented on #7900
@roryabraham @mdneyazahmad It's definitely a problem from #7723

Reverting it fixes the problem for me (tested on physical device, not sure if that matters)
See how even attachments that were sent ages ago are "loading" but as soon as I revert changes made to `[ImageWithSizeCalculation.js](https://github.com/Expensify/App/pull/7723/files#diff-cba660cfb6e916ff00f942bb115d7943a83c2e497756c8353d8c3f8

[2022-02-28 10:31] kidroca commented on #7900
I think `loading: true` should be set during `onLoadStart` instead of hardcoding to `true` in the constructor
Or this should be removed `this.state.isLoading && styles.dNone,` as `display: none` seem to prevent to trigger the normal image life cycle in the first place

[2022-02-28 10:51] madmax330 commented on #7888
Hmm I'm not sure what's happening on this. cc @marcaaron since I know you worked on bank account flows in newDot.

[2022-02-28 10:57] zoontek commented on #7925
I'm not sure I get the issue correctly since, when setting:

[code]

`contentOffset` is indeed adjusted, scroll position maintained:

https://user-images.githubusercontent.com/1902323/155970666-d1294c7f-c624-432a-9530-87a704d81bc3.MP4

---

[code]

`contentOffset` is adjusted, scroll position is updated if `minIndexForVisible` element +- `autoscrollToTopThreshold` is visible (approximately, sure).

[2022-02-28 11:07] rajscet opened #7932 "Android , M1 chip , Not able to build project"
Getting following error

Caused by: java.lang.Exception: No native library is found for os.name=Mac and os.arch=aarch64. path=/org/sqlite/native/Mac/aarch64

[2022-02-28 12:51] NicMendonca commented on #7839
Job post: https://www.upwork.com/jobs/~011b491a380c62b844

[2022-02-28 13:45] trjExpensify commented on #6213
Sounds good!

[2022-02-28 13:59] ahmdshrif commented on #7462
# Proposal

react-native-reanimated have component solve this.
https://docs.swmansion.com/react-native-gesture-handler/docs/next/gesture-handlers/api/longpress-gh

we just need to wrap our PressableWithSecondaryInteraction component with it.

in src/components/PressableWithSecondaryInteraction/index.native.js

[code]

  https://user-images.githubusercontent.com/21364901/155994265-f96ecd2d-a3ec-4f0

[2022-02-28 14:00] rajscet commented on #7932
And I want to be QA. can I have chance of become QA? I have 10+ year of experience in mobile app development no somewhat want to switch to QA.

[2022-02-28 14:37] robertjchen commented on #7915
Great catch, opening this up for a contributor to tackle! 👍

[2022-02-28 14:54] mvtglobally commented on #7888
Adding Deploy Blocker as we are unable to verify this issue in PROD. Pls double check and remove the label if this is also prod issue

[2022-02-28 14:55] OSBotify commented on #7888
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-02-28 14:59] mvtglobally commented on #7883
Regression is completed
Deploy Blocker
https://github.com/Expensify/App/issues/7900
https://github.com/Expensify/App/issues/7888 - unable to verify in PROD, so added blocker label.

PRs failing
https://github.com/Expensify/App/pull/7459 Issue raised https://github.com/Expensify/App/issues/7884 - Checking off
 #7633 - Not fixed https://github.com/Expensify/App/pull/7633#issuecomment-1050091987
 #77

[2022-02-28 15:13] mountiny commented on #7900
Thank you @kidroca, I have created a revert PR https://github.com/Expensify/App/pull/7933 so Rory can then merge and @mdneyazahmad will look into the feedback you provided.

[2022-02-28 15:15] mountiny commented on #7584
@mdneyazahmad Following from https://github.com/Expensify/App/issues/7900, would you be able to look at the feedback there and implement the fix for the issue in new PR (after we revert the original PR)? Thank you very much

cc @rushatgabhane for your 👀

[2022-02-28 15:19] kavimuru commented on #7919
@stitesExpensify  - High traffic account - Policy which  has a lot of members (>10k)

[2022-02-28 15:54] shawnborton commented on #7853
Yeah I think from an accessibility perspective, we want the blue outline when a message is "selected" to show a visual cue that the message item is in focus - but that being said, I would think the only way to select a message is to tab through the items. So I think maybe we should just get rid of this select + click behavior. Thoughts?

[2022-02-28 16:05] mountiny commented on #7928
cc @neil-marcellini

[2022-02-28 16:05] parasharrajat commented on #7462
Nice and easy solution @ahmdshrif. I like it.

Is this able to receive the touches even in situations where we have nested Touch handlers?

[2022-02-28 16:09] parasharrajat commented on #7839
I think this is already used on other components so we should use the existing translations instead of creating new ones. Also, @adeel0202 Could you please correct this on all places where we have the Terms and Conditions checkbox? I think we will need that everywhere. Also, post a list of components that have terms and conditions here.

@adeel0202 's proposal looks good to me.

cc: @luacmartins

[2022-02-28 16:11] neil-marcellini commented on #7928
Was there an update during the time this was tested?

[2022-02-28 16:13] mountiny commented on #7928
I dont think so 😅 I think we can close this as you can QA it during everyday use.

[2022-02-28 16:15] ahmdshrif commented on #7462
Yes, for  example when press on image it get open .

[2022-02-28 16:23] parasharrajat commented on #7462
Ok, Thanks.

I like @ahmdshrif 's proposal. It is utilizing the existing package to fix the issue in clean way.

cc: @roryabraham

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-28 16:24] shawnborton commented on #7838
From a visual design perspective, I agree that the error message should [look like this](https://github.com/Expensify/App/issues/7838#issuecomment-1046169173).

[2022-02-28 16:27] mallenexpensify commented on #7678
Progressing, commenting so the issue won't go overdue

[2022-02-28 16:31] parasharrajat commented on #7678
PR is on HOLD for https://github.com/Expensify/App/pull/7702

[2022-02-28 16:45] rushatgabhane commented on #7523
@Santhosh-Sellavel  if you're having cors issue on web, use this extension - https://chrome.google.com/webstore/detail/cors-unblock/lfhmikememgdcahcdlaciloancbhjino?hl=en

And here are the credentials for Plaid

 Use credentials: user_good, pass_good

[2022-02-28 17:08] shawnborton commented on #5768
I think Option 2 makes more sense to me. What do you think?

[2022-02-28 17:18] shawnborton commented on #7541
Hi! I'm back from OOO and I am happy to take a look at this one.

I think I am still not quite sold on the proposals so far. I think it would be nice to see some research first on how other apps are handling the font zooming issue first before we dive into a specific proposal here.

When the font scaling is at a normal view (100%), we actually do want certain blocks of text to appear as having a s

[2022-02-28 17:19] marcaaron commented on #7888
I think some wires are getting crossed here. The flow that you are describing has no "Company Information" step because it's for adding a deposit account and not a VBA. Basically, the video shows expected behavior.

[2022-02-28 17:19] #7888 closed

[2022-02-28 17:20] marcaaron commented on #7883
checked #7888 as the issue was closed.

[2022-02-28 17:34] thienlnam commented on #3867
I'll create separate tickets for them for more visibility and then we can discuss the proposed solutions in those tickets

[2022-02-28 17:34] parasharrajat commented on #7715
This is still open to proposals. I will try to get a solution if I have enough time to dig in.

[2022-02-28 17:34] shawnborton commented on #7308
Apologies, was OOO for the past few days.

One option is to just always keep the input as if it was in the "has value" state, but we actually move the input portion over to the right after a fixed `#`:
<img width="763" alt="image" src="https://user-images.githubusercontent.com/2319350/156030673-cd6cd41c-289c-47bc-9a74-aae578238d50.png">

Thoughts on that?

[2022-02-28 17:35] parasharrajat commented on #7308
Looks good to me.

[2022-02-28 17:37] parasharrajat commented on #5768
cc: @thienlnam :arrow_up:

[2022-02-28 17:37] laurenreidexpensify commented on #7915
https://www.upwork.com/jobs/~0194843e6376082b51

[2022-02-28 17:39] laurenreidexpensify commented on #7797
https://www.upwork.com/jobs/~011098c3999a8110f7

[2022-02-28 17:39] rushatgabhane commented on #6069
@K4tsuki sorry, I missed your proposal.

Does this jsfiddle prove what you're trying to say?
https://jsfiddle.net/e01tjwvq/1/

[2022-02-28 17:43] parasharrajat commented on #7915
@iwiznia Do you think we have to update this page as well?
![image](https://user-images.githubusercontent.com/24370807/156032015-7a5b8743-bb30-4b65-aa81-20cf14c22a75.png)

[2022-02-28 17:59] adeel0202 commented on #7839
@parasharrajat, I think the other components having Terms and Conditions checkbox already have `errorText` added. Also, there are a few components e.g. `ACHContractStep` which I can't see in the app, can you please let me know the steps I need to follow to check out those pages in the app?

[2022-02-28 18:02] Santhosh-Sellavel commented on #7523
@luacmartins

These forms, I'm not sure how can contributor open these forms,

1. Is this Form accessed via `Settings > Payments > Add Payment Method > Bank Account` ?
 [AddPlaidBankAccount.js](https://github.com/Expensify/App/blob/main/src/components/AddPlaidBankAccount.js)

2. If I am right these forms are part of `Connect bank account flow in Workspace.`
 [BankAccountStep.js](https://github.com

[2022-02-28 18:03] Santhosh-Sellavel commented on #7523
@rushatgabhane This does not work for me I tried on staging web app.

[2022-02-28 18:10] mvtglobally commented on #7888
perfect, thanks for confirming @marcaaron

[2022-02-28 18:11] AndrewGable commented on #7797
Agree with https://github.com/Expensify/App/issues/7797#issuecomment-1042690558 - Closing, reopen if you disagree.

[2022-02-28 18:11] #7797 closed

[2022-02-28 18:11] kidroca commented on #6069
@rushatgabhane

No reason, it doesn't have to be, just listed some options.
The main thing is to render the search field, then render a loader instead of the list, or render a loader on top of everything - whatever is decided design wise

I guess `position: fixed` works because such elements are supposed to be fixed on the screen so you don't have to scroll them into view when they are focused

[2022-02-28 18:12] thienlnam opened #7934 "[HOLD] No loading animation or preview for persisted attachments"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Creating a new ticket for: https://github.com/Expensify/App/issues/3867#issuecomment-1028183382

## Action Performed:

1. Be offline
2. Select an attachment to be upload

[2022-02-28 18:16] thienlnam commented on #7934
Sorry for the tags and pings, I'm breaking down https://github.com/Expensify/App/issues/3867#issuecomment-1028183382 into separate tickets so they can be investigated and be known as existing bugs

[2022-02-28 18:18] thienlnam commented on #7934
@kidroca Proposal:

I think we should try to cross reference optimistic actions with requests in the network queue
This way when we clean up optimistic actions we keep the ones that still have pending request

We already put `optimisticReportActionID` on the request so we can distinct it
https://github.com/Expensify/App/blob/425e718b9ed3ac485da1e86a11779941daa95ba5/src/libs/actions/Report.js#L1169

[2022-02-28 18:26] osama256 commented on #7541
@shawnborton

yes, you can use PixelRatio.getFontScale() it return a float number greater than `1` if you are using a large font size and `1` for the default font size.

I think my proposal is close to what you are looking for https://github.com/Expensify/App/issues/7541#issuecomment-1036728730

[2022-02-28 18:36] luacmartins commented on #7838
Thanks @shawnborton! @adeel0202 let's continue by removing `margingBottom` from any `CheckboxWithLabel`.

[2022-02-28 18:39] thienlnam opened #7935 "Attachment upload requests are only persisted while offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Creating separate ticket for https://github.com/Expensify/App/issues/3867#issuecomment-1028183382

`NetworkRequestQueue.saveRetryableRequests` is only called in the `if(i

[2022-02-28 18:41] michaelhaxhiu commented on #7587
Still holding

[2022-02-28 18:41] iwiznia commented on #7915
Good question, I think yes we probably should.

[2022-02-28 18:41] michaelhaxhiu commented on #7585
@thesahindia how far would you say this one is? Seems like it'll be ready in the next 1-3 days? Is that fair?

[2022-02-28 18:42] Luke9389 commented on #7081
Also OOO today

[2022-02-28 18:42] Luke9389 commented on #7400
OOO today, coming back to this soon.

[2022-02-28 18:43] thienlnam commented on #7935
@kidroca Proposal:

Requests with the `persist` flag should be persisted regardless of being offline or not
If the user quits the app while the request isn't completed existing logic would retry it on next launch
Otherwise added logic would remove it from persistent storage when it succeeds

The following
https://github.com/Expensify/App/blob/425e718b9ed3ac485da1e86a11779941daa95ba5/src/libs/Netwo

[2022-02-28 18:45] thienlnam commented on #3867
Closing now that we have other tickets for the existing problems
https://github.com/Expensify/App/issues/7934
https://github.com/Expensify/App/issues/7935

[2022-02-28 18:45] #3867 closed

[2022-02-28 18:47] thesahindia commented on #7585
@michaelhaxhiu, yeah just asked a question on the PR will make the changes soon after getting the answer.

[2022-02-28 18:50] luacmartins commented on #7523
@Santhosh-Sellavel here's how to access these forms:

1. [AddPlaidBankAccount.js](https://github.com/Expensify/App/blob/main/src/components/AddPlaidBankAccount.js) - `Settings > Workspace > Connect bank account > Connect online with Plaid`
2. [BankAccountStep.js](https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/BankAccountStep.js), [CompanyStep.js](https://github.com/Expen

[2022-02-28 18:50] kidroca commented on #7935
This comment is also relevant here: https://github.com/Expensify/App/issues/7934#issuecomment-1054543895
The [new network write queue](https://expensify.slack.com/archives/C01GTK53T8Q/p1645729595605929?thread_ts=1645483708.692819&cid=C01GTK53T8Q) (yet to be implemented) would by default persist requests and avoid the above mentioned problem

I think we can still start with the above proposal as in

[2022-02-28 18:52] adeel0202 commented on #7838
Thanks. I have applied on Upwork.

[2022-02-28 18:53] michaelhaxhiu commented on #7585
Sweet thanks!

On Mon, Feb 28, 2022 at 2:48 PM Sahil ***@***.***> wrote:

--
Michael Haxhiu

[2022-02-28 18:54] roryabraham commented on #7900
Thanks @kidroca ... not sure why reverting https://github.com/Expensify/App/pull/7723 didn't seem to resolve the problem for me, testing with my local back-end and a simulator. Going to retest now

[2022-02-28 18:54] michaelhaxhiu commented on #7128
Raj added haptic feedback to his PR as it was overlooked initially. Now Nikki will review and we go from there.

[2022-02-28 18:58] michelle-thompson commented on #7853
Yup, agree with Shawn here!

[2022-02-28 19:05] thienlnam commented on #7934
Sounds good, going to put this on hold until that new write queue is completed but will keep this issue up so people are aware of this known bug

[2022-02-28 19:08] thienlnam commented on #7935
Agreed, let's just knock this one out since the changes are small since we don't know when the new write queue will be live

[2022-02-28 19:09] thienlnam commented on #7935
🟢  to your proposal

[2022-02-28 19:11] luacmartins commented on #7839
Yes, let's use the existing copy.

I also see `errorText` in all other usages of `CheckboxWithLabel`, except for [this one](https://github.com/Expensify/App/blob/60d218fc4bba91f3d6f1d63725f982b757fc8c2b/src/pages/EnablePayments/TermsStep.js#L81), where we display the error [separately](https://github.com/Expensify/App/blob/60d218fc4bba91f3d6f1d63725f982b757fc8c2b/src/pages/EnablePayments/TermsStep

[2022-02-28 19:13] marcochavezf commented on #7917
I've been working on an N7 issue these last few days and still today, but I will come back to this issue today at EOD or tomorrow morning.

[2022-02-28 19:17] thienlnam commented on #5768
Yeah I also agree 2 makes more sense and is how messenger does it.  Feel free to move forward with that option

[2022-02-28 19:23] adeel0202 commented on #7839
Thank you @luacmartins.

Sure, I will use the existing copy.

Is there any test bank account that I can use?

[2022-02-28 19:24] luacmartins commented on #7839
In dev you can `Connect online with Plaid` and select `Wells Fargo` with `user_good` and `pass_good` credentials.

[2022-02-28 19:28] adeel0202 commented on #7839
Thanks a lot @luacmartins :)

[2022-02-28 19:32] rushatgabhane commented on #7688
🎀👀🎀 C+ reviewed

@iwiznia I like @Santhosh-Sellavel's [proposal](https://github.com/Expensify/App/issues/7688#issuecomment-1050577638).

[2022-02-28 19:33] roryabraham commented on #7900
For some reason I am still unable to load images from my dev API, working on it...

[2022-02-28 19:36] rushatgabhane commented on #7780
🎀👀🎀 C+ reviewed

@puneetlath I like @mateusbra's [proposal](https://github.com/Expensify/App/issues/7780#issuecomment-1048406236).

[2022-02-28 19:41] rushatgabhane commented on #7780
@dennismunene heya! Thanks for your proposal, but it has this [issue](https://github.com/Expensify/App/issues/7780#issuecomment-1050088878) and isn't different from previous proposals.

Feel free to have a look at other issues labeled `Help Wanted`, cheers!

[2022-02-28 19:44] roryabraham commented on #7900
On my dev API, I'm actually seeing this log line in a network error where we fail to get the image size 🤔

[2022-02-28 19:48] rushatgabhane commented on #7835
@mallenexpensify this is a monthly issue yeah? but Melvin replaced it with weekly xD

[2022-02-28 19:52] mountiny commented on #7585
Merged 🎉

[2022-02-28 19:53] mallenexpensify commented on #7835
Yeah, the default is, and should, be weekly.  tl:dr, if it's worth fixing and a contributor can work on it, let's get it done sooner than later.  We _need_ jobs for contributors to work on too :)

[2022-02-28 20:10] mateusbra commented on #7912
@parasharrajat thank you for the review. I think this is gonna be more complex than I thought, please ignore my proposal by now

[2022-02-28 20:15] mountiny commented on #7900
@roryabraham Confirmed locally that the revert branch works for me, images already sent load and new upload shows up too.

[2022-02-28 20:16] mateusbra commented on #7780
Applyed on Upwork, once I'm hired I'll rise a PR

[2022-02-28 20:16] michaelhaxhiu commented on #7916
Does this job need to be posted to upwork in a particular fashion basically? Would it be 1 job for everything or 5 jobs (linked to 1 GH issue)?

[2022-02-28 20:17] NikkiWines commented on #7784
Not overdue, fix is on staging

[2022-02-28 20:18] roryabraham commented on #7900
Got my VM/simulator issues sorted, merged the revert 👍

[2022-02-28 20:20] mountiny opened #7936 "[TEST] Testing labels"
Testing https://github.com/Expensify/Expensify/issues/198561

[2022-02-28 20:20] roryabraham commented on #7584
The PR for this issue (https://github.com/Expensify/App/pull/7723) caused a regression on staging and has been reverted.

[2022-02-28 20:20] mountiny commented on #7936
Juste testing, please, do not mind this issue. Closing

[2022-02-28 20:20] #7936 closed

[2022-02-28 20:22] roryabraham commented on #7883
We identified that https://github.com/Expensify/App/issues/7900 was caused by https://github.com/Expensify/App/pull/7723 (shoutout to @kidroca for pointing this out), and as such a [revert PR](https://github.com/Expensify/App/pull/7933) for https://github.com/Expensify/App/pull/7723 is being CP'd to staging.

[2022-02-28 20:22] mountiny commented on #6965
@jliexpensify could we please double the price, here? Thank you!

[2022-02-28 20:25] mountiny commented on #7584
@mdneyazahmad Feel free to submit a new PR, we dont need to rush on this as nothing is broken so lets test more thoroughly for this case. @kidroca had some suggestions here https://github.com/Expensify/App/issues/7900

[2022-02-28 20:26] puneetlath commented on #7934
I'm going to unassign since I'm going on sabbatical soon. Please re-apply the External label when it's off hold to get someone assigned.

[2022-02-28 20:28] roryabraham commented on #7925
@zoontek Thanks for following up. You may have missed this piece of the issue description:

[2022-02-28 20:30] iwiznia commented on #7688
That sounds good to me. @jliexpensify let's hire @Santhosh-Sellavel

[2022-02-28 20:31] roryabraham commented on #5987
Yeah, we should release payment here 👍

[2022-02-28 20:31] mallenexpensify commented on #7424
I think this happened to me today on the iOS app.  The site went down last Friday and I was likely logged out of the app cuz I was logged out of desktop ([issue for that](https://github.com/Expensify/Expensify/issues/168965#issuecomment-1051275163)).  When I signed back in this morn, I got an infinite spinner.  Had to close the app, upon reopening it worked as expected.  Version 1.39-3

If _we_ do

[2022-02-28 20:32] roryabraham commented on #7883
Before shipping this deploy, I think we'll want to revert https://github.com/Expensify/App/pull/7633 because it failed QA.

[2022-02-28 20:33] OSBotify commented on #7883
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/7933) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.40-1` :rocket:

[2022-02-28 20:34] OSBotify commented on #7883
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.40-1 has been deployed to staging :tada:

[2022-02-28 20:42] rushatgabhane commented on #7906
🎀👀🎀 C+ reviewed

Sorry for the delay, @NikkiWines I like @thesahindia's [proposal](https://github.com/Expensify/App/issues/7906#issuecomment-1051026854).

[2022-02-28 20:47] puneetlath commented on #7780
I like the proposal as well.

@mateusbra let's do this as well. I think it'll help make clearer that there is no special `rateCurrency`.

[2022-02-28 20:48] mvtglobally commented on #7883
@roryabraham aside of retesting blocker, How should be confirm issue is reverted? Just check if loading is no longer appearing?

[2022-02-28 20:50] blacknight3 commented on #7352
**Proposal**<hr>
let's explain what is the issue and  how  these three issues are related to each other https://github.com/Expensify/App/issues/7352 ,  https://github.com/Expensify/App/issues/7912 , https://github.com/Expensify/App/issues/7644

when we try to copy some text from Expensify what happens is this text is converted to a bad HTML code then `htmlToMarkdown` function tries to convert this

[2022-02-28 20:51] roryabraham commented on #7883
@mvtglobally You shouldn't really need to verify anything beyond the fix for the deploy blocker. But if you want to, then yes checking if the loading spinner on uploading attachments is no longer appearing should be sufficient.

[2022-02-28 20:55] jboniface commented on #7903
post here https://www.upwork.com/jobs/~0148dbc5ffaba75ff9

[2022-02-28 20:58] marcaaron opened #7941 "[Performance] Get&returnValueList=chatList takes a long time for users with many reports"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?

This is a backend issue that disproportionately affects users with large numbers of reports.

## What is the impact of th

[2022-02-28 21:00] roryabraham commented on #7861
You mean, return the full report object from the `CreateChatReport` endpoint? That makes sense to me and should be doable. I'll need to investigate the full scope of changes involved, but I can do that.

In the meantime, I'm going to set this as a weekly, I don't think it's quite urgent enough to be treated as a `Daily`.

[2022-02-28 21:06] thienlnam commented on #7424
Interesting, I imagine the issue is related to Onyx in some way so it might actually be related.  This also seems related to the infinite spinners on the splash page

[2022-02-28 21:07] mallenexpensify commented on #7941
I re-added `Engineering` to assign someone so that it didn't get _stuck_ in the pool  @nkuoch feel free to return to the pool if ya need/want

[2022-02-28 21:11] thienlnam commented on #7537
Still holding

[2022-02-28 21:12] marcaaron opened #7942 "[HOLD] [$16,000] [Performance] Loading the personalDetailsList takes a long time for some users"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?

The query to get personalDetails can be quite slow when you have access to tons of user details like huge accounts do. We

[2022-02-28 21:27] mountiny commented on #7942
As far as I know, that is the known mega query that takes super long. I won't be able to look into this as I will be ooo most of the time in the coming weeks. I will ping in Slack and also create a duplicate in Expensify repo so this does not fall through cracks based on the process we would like to possibly follow in [future](https://expensify.slack.com/archives/C03TQ48KC/p1645637474144999?thread

[2022-02-28 21:32] rushatgabhane commented on #7523
Thanks for the help @ luacmartins

[2022-02-28 21:32] rushatgabhane commented on #7523
🎀👀🎀 C+ reviewed

@Santhosh-Sellavel wants to volunteer for the audit, let's get this party started!
cc: @thienlnam

[2022-02-28 21:33] mountiny commented on #7942
Internal issue create [here](https://github.com/Expensify/Expensify/issues/199319).

Asked in Slack [here](https://expensify.slack.com/archives/C03TQ48KC/p1646083971841459).

[2022-02-28 21:36] rushatgabhane commented on #7496
Oops, this issue has been abandoned since 13 days.

[2022-02-28 21:47] flodnv commented on #7942
The last optimization was made here: https://github.com/Expensify/Auth/pull/6111, more details can be found in [this slack channel](https://expensify.slack.com/archives/C02JWALB9PF/p1636396432397700).

`5581ms` : that server was having known problems we're working on at that time, so this is not normal operation.
`1500ms` : we can try finding ways to make this faster, it'll be challenging but cert

[2022-02-28 21:56] aldo-expensify commented on #7773
No overdue, PR will be tested in Production

[2022-02-28 22:05] tgolen commented on #7781
No updates so I will just close for now

[2022-02-28 22:05] #7781 closed

[2022-02-28 22:07] mvtglobally commented on #7900
Issue is fixed https://user-images.githubusercontent.com/43995119/156066550-9f44977a-ddf0-45a0-86b5-802a9da6b224.MOV

[2022-02-28 22:08] mvtglobally commented on #7883
@roryabraham https://github.com/Expensify/App/issues/7900 is fixed

[2022-02-28 22:10] kidroca commented on #4264
Seems there are some discussion around the topic of this issue: https://expensify.slack.com/archives/C01GTK53T8Q/p1646082982919629

@Julesssss
New idea: Instead of using `background-fetch` which tries to sync periodically (poll) we can receive a data-only notification

Notifications payloads are small so we can't use them to update Onyx directly but we can use them to wake-up App and make it execu

[2022-02-28 22:32] strepanier03 commented on #7910
I'm not sure we want to make or accommodate this change but I'll send it on to get a second opinion. I compared this behavior to Slack, which also doesn't show a timestamp in the left-hand menu.

Echat shows the timestamp on the message itself in the chat thread and that seems sufficient.

[2022-02-28 22:47] neil-marcellini commented on #7910
Most chat apps have something like this (iMessage, WhatsApp, Instagram, Snapchat), which I think indicates that it is a valuable feature. I'm going to reach out in Slack for some more opinions first.

[2022-02-28 22:55] marcaaron commented on #7942
Lots of great questions @flodnv. FWIW I'm just reporting anything that looks remotely suspect here.

It gets called very early in the app init

https://github.com/Expensify/App/blob/53581fef99e0df99f5c93a5fb5be0dbd89d3925b/src/libs/Navigation/AppNavigator/AuthScreens.js#L119-L119

And the data is used to populate the sidebar with names, avatars, etc.

Since this is not slow for me the test I perfo

[2022-02-28 23:03] trjExpensify commented on #7862
Yeah, good question. I personally prefer being able to cycle through all attachments across all messages in a chat. The limit on message + threaded messages on Slack desktop is always a bit of a pain, IMO.

A neat thing WhatsApp does if you exit out of the attachment is navigate you back in the chat history to where it was originally posted for the added context in and around when it was sent.

Po

[2022-02-28 23:08] yuwenmemon commented on #7900
Great! Removing the blocker label then and closing this out!

[2022-02-28 23:08] #7900 closed

[2022-02-28 23:08] aldo-expensify commented on #7859
I'm returning this to the pool with the `Needs Reproduction` label

[2022-02-28 23:09] yuwenmemon commented on #7883
Checking off https://github.com/Expensify/App/pull/7663 because it is productionQA

[2022-02-28 23:10] yuwenmemon commented on #7883
Checking off https://github.com/Expensify/App/pull/7752 because even though it is not working, it is not a blocker: https://github.com/Expensify/App/pull/7752#issuecomment-1049335252

[2022-02-28 23:14] yuwenmemon commented on #7883
Checking off https://github.com/Expensify/App/pull/7765 because it is not a blocker (see https://github.com/Expensify/App/issues/7928#issuecomment-1054418448)

[2022-02-28 23:18] rushatgabhane commented on #7263
@chiragsalian this can be closed right?

[2022-02-28 23:21] trjExpensify commented on #7899
I also can't reproduce this on `v1.1.40.1` on iOS mWeb:

![Image from iOS (33)](https://user-images.githubusercontent.com/16232057/156075133-ee396ea0-d646-4099-a8c2-0be4be163b2b.png)

@neil-marcellini what steps are you taking to repro this?

[2022-02-28 23:40] kidroca commented on #7424
The Splash issue was very specific one and you did hang at the splash screen whereas here it seems to happen right after login - no splash screen, but the spinner

`isSplashScreen` is only set to `true` initially
https://github.com/Expensify/App/blob/00805b2b495fac25f53a42231dd3e5ae78138a2a/src/Expensify.js#L92

Once splash is hidden it will never be show again
In the ticket video as well as in Ma

[2022-02-28 23:45] trjExpensify commented on #7913
Looks good. @parasharrajat I saw from your message in the slack thread that you were going to fix this, shall I assign it to you?

[2022-02-28 23:49] kidroca commented on #7861
Yes

[2022-02-28 23:54] K4tsuki commented on #6069
@rushatgabhane that is the behavior that I am trying to say.

[2022-02-28 23:58] puneetlath commented on #7308
@michaelhaxhiu assigning you to make sure we pay Rajat for reporting this issue.

[2022-02-28 23:58] roryabraham commented on #7883
Just merged a revert for https://github.com/Expensify/App/pull/7633

[2022-03-01 00:00] thienlnam commented on #7523
@Santhosh-Sellavel Do you feel as if you are able to access the forms now?  Since you have volunteered for it you can have the job 🟢

[2022-03-01 00:12] OSBotify commented on #7883
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/7939) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.40-2` :rocket:

[2022-03-01 00:12] OSBotify commented on #7883
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.40-2 has been deployed to staging :tada:

[2022-03-01 00:28] roryabraham commented on #4264
I can provide some additional context from my understanding of push notifications here @kidroca. There's a lot of inconsistent information out there, but this is my understanding.

The flag that makes a difference on iOS is called `content_available`, and that informs that iOS app that it needs to wake from the background and perform some operations. That flag can be passed with "silent" data-only

[2022-03-01 00:36] roryabraham commented on #4264
A bit more detail too – when we receive a push notification, it includes the reportID and the reportAction. We just update the report with the single reportAction included in the notification payload. We could improve that and fetch all the new actions for the report, or _maybe_ all actions for all reports. But I think the OS is pretty stringent in the amount of time you have to complete callbacks

[2022-03-01 00:37] neil-marcellini commented on #7910
After some discussion is slack we decided that this is unnecessary and doesn't solve any real problems for the user.

[2022-03-01 00:37] #7910 closed

[2022-03-01 00:46] SofiedeVreese commented on #7935
Posted on Upwork here: https://www.upwork.com/jobs/~01b8d656edb6997ef1

cc @kidroca

[2022-03-01 00:49] parasharrajat commented on #7913
This is not a regression so I think it would be a new job but you you can assign it to me. I will create the PR asap.

[2022-03-01 00:59] SofiedeVreese commented on #5987
Sorry for the long wait there @kidroca I've just released payment.

@Santhosh-Sellavel I'm going to add you to the Upwork job for your reporting bonus now too.

[2022-03-01 01:02] marcaaron opened #7947 "Randomly Logged out of New Expensify (Desktop)"
# Problem

- Walked away from my computer for a bit and just returned to see that I had been logged out of desktop
- Looked at the JS console and found:

[code]

So, my `authToken` looks like it had expired, but when we tried to authenticate Auth threw these logs:

[code]

https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%226e4d9e412b36f4d8-SJC%22)+AND+timestamp:[2022-02-28T

[2022-03-01 01:09] roryabraham commented on #6079
Reverted https://github.com/Expensify/App/pull/7633

[2022-03-01 01:17] roryabraham commented on #7547
D'oh, sorry again for the delay @mananjadhav.

Yeah, looking at this with fresh eyes we could actually traverse the component tree up to the root to see if it's nested in a scroll view when it mounts to determine this prop automatically. Library authors would probably prefer that.

I _think_ this should be okay. As far as I understand, nested `ScrollView` is okay. It's just a problem if we nest a

[2022-03-01 01:24] francoisl commented on #5737
Just realized I forgot to close this.

[2022-03-01 01:24] #5737 closed

[2022-03-01 01:35] marcaaron opened #7948 "[Performance] Refactor `SidebarLinks` to not use `getDerivedStateFromProps()` and other static methods"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Coming from https://github.com/Expensify/App/pull/7907/files#r816376801

## Code cleanup

The file here seems to be following some practices that we should avoid because

[2022-03-01 01:36] yuwenmemon commented on #7883
Checking off https://github.com/Expensify/App/pull/7633 because it was reverted

[2022-03-01 01:52] NikkiWines commented on #7906
Yep, agreed. @mallenexpensify can you hire @thesahindia for this job please 🙌

[2022-03-01 02:44] AndrewGable commented on #7379
PR was merged

[2022-03-01 02:44] ctkochan22 commented on #7948
Taking up your offer on letting me steal this :)

[2022-03-01 02:56] conorpendergrast commented on #7909
Reproduced; the expected effect is the same as clicking the phone icon ("Start a call") in the top-right

![2022-03-01_15-55-40](https://user-images.githubusercontent.com/5802477/156096124-56b35642-5df8-43a6-805d-396fdb3430d1.jpg)

[2022-03-01 03:50] MitchExpensify commented on #7918
Bumping the above @dylanexpensify

[2022-03-01 05:57] sobitneupane commented on #7496
Sorry, I missed it. As I have mentioned earlier in https://github.com/Expensify/App/issues/7496#issuecomment-1035904542

Rendered html is behaving differently in different platforms.

I believe it is a different issue and have reported the issue in https://expensify.slack.com/archives/C01GTK53T8Q/p1644507497800049 .

If it is considered as part of this issue, I am open for anyone with new proposal

[2022-03-01 06:16] yuwenmemon commented on #7883
@mvtglobally Looks like we just need to re-QA https://github.com/Expensify/App/pull/7748! Any update on that?

[2022-03-01 06:17] mvtglobally commented on #7883
@yuwenmemon will have update early in the morning on this retest

[2022-03-01 08:06] dylanexpensify commented on #7918
Ah, we basically decided to break the issues into four smaller issues since we weren't sure about milestones. So now just proceed as normal, posting onto Upwork, adding exported, etc!

[2022-03-01 08:30] MonilBhavsar commented on #7918
Is this a part of "New Expensify forms"?

[2022-03-01 08:57] zoontek commented on #7925
@roryabraham No, I read it, but as I understand setting any `autoScrollToTopThreshold` value will activate auto scroll to top if the given index is visible. Which it does (?)

[2022-03-01 11:46] Julesssss commented on #4264
I agree this is a fair alternative, but also that notifications can be unreliable. For any reason the OS can throttle them and background updates help to handle these cases.

We do have other issues for the silent notification, but I think it's out of scope for this issue. Once this is done we can look at improving the notification logic in addition.

[2022-03-01 12:06] parasharrajat commented on #7948
There is one more component that uses it. `PopoverWithMeasuredContent`.

But I think it is needed there. The popover render function is expensive for EmojiPicker and using it prevents render until we are fully ready. I don't remember why I used it there but there was a race condition that I was trying to overcome.

[2022-03-01 12:50] parasharrajat commented on #7424
@kidroca has good suggestions but It is hard to say what is behind them. What is crashing in the app? We should try to get some reproductions steps first. Maybe try with a tester account and server logs for that account of that time.

I had a similar issue but in my case, I never passed from Login from screen to password form. Possibly a different issue.

[2022-03-01 12:55] parasharrajat commented on #6876
Thanks for your patience @K4tsuki. [stitesExpensify](https://github.com/stitesExpensify) is OOO. Let's wait for him.

Update: Discussion happening on the PR...

[2022-03-01 13:57] sobitneupane commented on #6965
**Proposal**
Adding `paddingVertical: 0,` in
https://github.com/Expensify/App/blob/081d85fc215be8841c6d171572ee23155a2cba4a/src/styles/styles.js#L751-L758 solves the issue for all platforms except for Safari Mobile and Safari Desktop.

According to https://stackoverflow.com/questions/8646997/how-to-fix-weird-text-input-field-bug-on-mobile-safari,

So, to solve the issue in Safari as well, I propos

[2022-03-01 14:01] parasharrajat commented on #6965
Holding this issue for https://github.com/Expensify/App/pull/7937. I will review the proposals after that PR is merged.

[2022-03-01 14:02] mountiny commented on #6965
Thanks for the heads up @parasharrajat 🙇

And thank you for the proposal @sobitneupane

[2022-03-01 14:04] trjExpensify commented on #7913
Perfect. Upwork job here: https://www.upwork.com/jobs/~01db3b53d2522d24ed

[2022-03-01 14:47] adeel0202 commented on #7839
I have applied to the job on Upwork.

[2022-03-01 15:02] rushatgabhane commented on #6069
I agree, thanks for the clarification.

Yeah, plus it's relatively a simple fix andd it fixes the root cause (I think).

[2022-03-01 15:07] rushatgabhane commented on #6069
@K4tsuki could you please give the gist of how you'll achieve this?

[2022-03-01 15:23] mallenexpensify commented on #7579
Doubled price to $4000

[2022-03-01 15:32] michaelhaxhiu commented on #7308
https://github.com/Expensify/App/pull/7937#issuecomment-1054872491
This comment suggests that the payout for rajat should go from $250 -> $500 for this GH right?

Additionally, he'll receive $250 via https://github.com/Expensify/App/issues/6584, right?

[2022-03-01 15:34] bfitzexpensify commented on #7834
I'm going to close this one out. The rationale behind why I think we shouldn't make this change:

I'd think that in the majority of cases, people only want to pick a single emoji at a time. For those users, this change would introduce an extra step (clicking outside the box or clicking an X) every time.
So though this suggestion does improve the experience for someone selecting multiple emoji at o

[2022-03-01 15:34] #7834 closed

[2022-03-01 15:35] #7646 closed

[2022-03-01 15:43] adeel0202 commented on #7838
@luacmartins, when I select `Wells Fargo` bank as you mentioned [here](https://github.com/Expensify/App/issues/7839#issuecomment-1054587065), I'm redirected to Well Fargo's web login page and when I enter the test credentials there, I get invalid credentials error 😐
I need to access `TermsStep` and `ACHContractStep` pages as I'm going to make changes in these files too.

[2022-03-01 15:45] parasharrajat commented on #7308
So here is the summary for payout.
1. I am fixing this as part of https://github.com/Expensify/App/issues/6584.  https://github.com/Expensify/App/issues/7308#issuecomment-1042398360 => Payment to fix it.
2. Here you will add reporting bonus
3. @puneetlath  mentioned adding a bonus for some additional work https://github.com/Expensify/App/pull/7937#issuecomment-1054872491.

I think I am fine withou

[2022-03-01 15:49] michaelhaxhiu commented on #7308
I think we should pay you for point 3 and noticed puneet agreed too in his latest comment.

It sounds like the additional `$250` should be added to the other GH https://github.com/Expensify/App/issues/6584 (not this one)? Is that correct?

[2022-03-01 15:53] parasharrajat commented on #7308
Yup that would be added to other issue not this one.

[2022-03-01 15:56] michaelhaxhiu commented on #7308
Thanks for confirming.

[2022-03-01 15:56] luacmartins commented on #7838
Weird. Are you doing that in dev? I just tried it and it seems to work fine (check video below).

https://user-images.githubusercontent.com/22219519/156202563-b659dfcd-4b69-4d04-95d4-6406c04862bf.mov

[2022-03-01 15:57] michaelhaxhiu commented on #6584
https://github.com/Expensify/App/pull/7937#issuecomment-1054872491
This comment suggests that the payout for rajat should go from $250 -> $500 for this GH fix.

(note - this fix will also address https://github.com/Expensify/App/issues/7308, where rajat will be paid an additional $250 for reporting said bug)

[2022-03-01 16:06] mountiny commented on #7768
@parasharrajat Any updates here?

[2022-03-01 16:07] mountiny commented on #7855
Waiting for updates.

[2022-03-01 16:11] parasharrajat commented on #6584
Thanks, @michaelhaxhiu. Got it.

[2022-03-01 16:25] mvtglobally commented on #7883
Checking off https://github.com/Expensify/App/pull/7748#issuecomment-1055620067

[2022-03-01 16:36] neil-marcellini commented on #7899
I am no longer able to reproduce this.

[2022-03-01 16:44] michaelhaxhiu commented on #7735
Doubling price of this job.

[2022-03-01 16:46] LucioChavezFuentes commented on #7535
**Update**
The merge of the [pull request on @react-native-picker/picker](https://github.com/react-native-picker/picker/pull/376) is complete. I will update my [pull request](https://github.com/Expensify/App/pull/7807) to App.

[2022-03-01 16:46] parasharrajat commented on #7913
PR is ready.

[2022-03-01 16:57] parasharrajat commented on #7948
Ok. Great.

[2022-03-01 16:59] mallenexpensify commented on #7666
@kidroca is there still work being done here before filling out the Root Cause Analysis (RCA) doc?
https://docs.google.com/document/d/1OwX4QGqemKbm2yb1opwqIDrYkt8b5wskHcgYNwAKkzo/edit

[2022-03-01 17:07] parasharrajat commented on #7185
PR will be up shortly..

[2022-03-01 17:20] 0x41-li commented on #7735
I want to fix it, but I can't reproduce it, because I don't have the Chronos in my chat, if you can fix that I will take the job. Thank you.

[2022-03-01 17:23] mallenexpensify opened #7950 "[$1000] [Performance] localforage.setItem() is causing blocking behavior on init for web clients"
Creating this in E/App repo from [this issue in the E/react-native-onyx repo](https://github.com/Expensify/react-native-onyx/issues/119), in case an external contributor can work on it.

## Problem

When the app inits and many keys need to be set things get really slow on web. It currently takes me about 10-12 seconds to switch to a new chat when the app inits.

We've narrowed down the source of t

[2022-03-01 17:24] michaelhaxhiu commented on #7735
@0x41-li can you post this question in #expensify-open-source as well, to see if others can offer input or guidance? There's more eyes there!

[2022-03-01 17:27] rushatgabhane commented on #5022
@Julesssss just curious if this issue has been fixed internally? Because I never get notifications on android 😅
v1.1.39-3 Production, Pixel 6, Android 12

[2022-03-01 17:29] kidroca commented on #4264
Power mode affects all background activities and [background fetching/refreshing is disabled as well](https://www.makeuseof.com/iphone-low-power-mode/#low-power-mode-disables-background-app-refresh) in low power mode

What's guaranteed though is the background push would be processed [either in the background or when App is launched](https://developer.apple.com/documentation/usernotifications/sett

[2022-03-01 17:52] LucioChavezFuentes commented on #7535
Guys, I updated my branch from `main` origin App and now I having trouble running storybook. Is there any breaking change I should be aware of?

![image](https://user-images.githubusercontent.com/48106652/156221837-15897afb-46af-431b-9953-30c301543d31.png)

[2022-03-01 17:53] roryabraham commented on #4264
Okay, so given all that @kidroca, what's your suggestion?

[2022-03-01 17:55] rushatgabhane commented on #7535
Likewise.
@LucioChavezFuentes I'd suggest that you post it on slack

[2022-03-01 17:56] kidroca commented on #4264
One you login on mobile all relevant Report actions are immediately fetched
As explained on [this slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1646085456104599?thread_ts=1646082860.227219&cid=C01GTK53T8Q) any new report actions are delivered through Pusher and/or push notifications

Most of the time when App is focused we'll be up to date on actions
Since actions are already pus

[2022-03-01 17:58] kidroca commented on #4264
A single call `fetchAllReports` is enough to get you up to date and then you can carry on receiving further updates from pushes

[2022-03-01 18:13] Luke9389 commented on #7464
@mananjadhav if you'd like to work on this, please bring it up in slack and tag me.

[2022-03-01 18:15] roryabraham commented on #4264
This should be possible, sounds reasonable to me.

There used to be an issue for this: https://github.com/Expensify/App/issues/4008 and it got closed in preference of this one.

So it sounds like @kidroca is suggesting we should:

- Close this issue and reopen https://github.com/Expensify/App/issues/4008. Having forgotten the context for why https://github.com/Expensify/App/issues/4008 was closed,

[2022-03-01 18:19] yuwenmemon commented on #7883
Thanks! Just ran the accessibility check-off train

[2022-03-01 18:19] #7883 closed

[2022-03-01 18:19] Julesssss commented on #4264
Okay, thanks for taking the time to explain all that. I still think there is some value to both, but I'm on board with the above ^

Let's move this bounty to the #4008 and reassess once we have push notification backup 👍 (I think the bounty still makes sense as it resolves our main issue)

[2022-03-01 18:20] roryabraham commented on #4264
Another thought:

Let's say 5 different reports received background push updates, but due to OS throttling, none of them ran while the app was backgrounded/closed. When the app comes back to the foreground, we would then do 5 network requests to update each of the 5 reports we know are out-of-date. It would be preferable to have a single `updateReports` API that could take a list of `reportID`s an

[2022-03-01 18:21] botify commented on #7542
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.40-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7707

If no regressions arise, payment will be issued on 2022-03-08. :confetti_ball:

[2022-03-01 18:21] botify commented on #7309
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.40-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7721

If no regressions arise, payment will be issued on 2022-03-08. :confetti_ball:

[2022-03-01 18:21] botify commented on #7075
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.40-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7751

If no regressions arise, payment will be issued on 2022-03-08. :confetti_ball:

[2022-03-01 18:21] botify commented on #7602
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.40-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7787

If no regressions arise, payment will be issued on 2022-03-08. :confetti_ball:

[2022-03-01 18:21] parasharrajat commented on #7729
@sobitneupane Could you please record a video on normal input and multiline input while clicking in and out and using arrows to scroll?

[2022-03-01 18:21] botify commented on #6720
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.40-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7725

If no regressions arise, payment will be issued on 2022-03-08. :confetti_ball:

[2022-03-01 18:22] botify commented on #7494
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.40-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7742
- https://github.com/Expensify/App/pull/7845

If no regressions arise, payment will be issued on 2022-03-08. :confetti_ball:

[2022-03-01 18:22] botify commented on #7645
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.40-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7826

If no regressions arise, payment will be issued on 2022-03-08. :confetti_ball:

[2022-03-01 18:22] botify commented on #7059
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.40-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7459

If no regressions arise, payment will be issued on 2022-03-08. :confetti_ball:

[2022-03-01 18:22] botify commented on #3245
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.40-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7578

If no regressions arise, payment will be issued on 2022-03-08. :confetti_ball:

[2022-03-01 18:22] botify commented on #7636
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.40-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7863

If no regressions arise, payment will be issued on 2022-03-08. :confetti_ball:

[2022-03-01 18:22] botify commented on #7584
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.40-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7723

If no regressions arise, payment will be issued on 2022-03-08. :confetti_ball:

[2022-03-01 18:22] kevinksullivan commented on #7791
Checking with @MitchExpensify on this before exporting, since it seems related to user created rooms and outside of the default rooms doc.

[2022-03-01 18:23] OSBotify opened #7954 "Deploy Checklist: New Expensify 2022-03-01"
**Release Version:** `1.1.41-6`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/7594
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/7662
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/7701
  - [x] QA

[2022-03-01 18:26] roryabraham commented on #4264
And yet another scenario:

1. We receive 5 push notifications for a report when we're at the airport and the app is closed in our pocket.
1. We go on the plane, and put the phone in airplane mode.
1. We open the app on the plane to see the 5 messages we missed, but since the network request to update that report will fail, we don't see them ❌

So if we're offline, we'll need to fallback onto the p

[2022-03-01 18:37] mountiny commented on #7584
Update the title, this is NOT ready for payment, there was a regression. @mdneyazahmad Would you be able to work on this and update the PR to fix the issue found on staging?

[2022-03-01 18:38] mountiny commented on #7059
Commenting just to remind to double the price when paid out as there was more work involved in this PR.

[2022-03-01 18:38] nickmurray47 commented on #7601
deployed to Prod, closing

[2022-03-01 18:38] #7601 closed

[2022-03-01 18:45] nickmurray47 commented on #7916
@michaelhaxhiu I personally think it should be 1 job since I assume the fix will be the same for all forms. I can see the argument for splitting it up into multiple jobs but I think whichever contributor suggests the best fix should just do all of the forms in one go.

[2022-03-01 18:50] deetergp commented on #7885
I concur with @parasharrajat, @sobitneupane's proposal looks good, let's do it!

[2022-03-01 19:00] deetergp commented on #7738
I agree with @rushatgabhane, we should go with @thesahindia's solution. 👍

[2022-03-01 19:25] mallenexpensify commented on #7906
@thesahindia can you please apply here and confirm once you have?
https://www.upwork.com/jobs/~01f6b9c4c49d62df65

[2022-03-01 19:27] mvtglobally commented on #7185
Issue not reproducible during KI retests. (Second week)

[2022-03-01 19:32] alex-mechler commented on #7909
Ah interesting, nice catch. I _think_ this can be handled externally.

[2022-03-01 19:32] mvtglobally commented on #7413
Issue not reproducible during KI retests. (Second week)

[2022-03-01 19:33] mvtglobally commented on #7518
Issue not reproducible during KI retests. (Second week)

[2022-03-01 19:35] thesahindia commented on #7906
@mallenexpensify, Done.

[2022-03-01 19:35] mvtglobally commented on #7550
Issue not reproducible during KI retests. (Second week)

[2022-03-01 19:36] flodnv commented on #7942
Yes, I was thinking that we should load personal details "on demand", and cache them in some fashion. I think we should do everything we can to never block app load on an API call unless it is critical (like signing in) -- would you agree with that premise @marcaaron @iwiznia @tgolen @AndrewGable ?

The way we could rework all this could be something like:
1. Get rid of this API call blocking the

[2022-03-01 19:37] mvtglobally commented on #7619
Issue not reproducible during KI retests. (First week)

[2022-03-01 19:38] mallenexpensify commented on #7909
Posted! https://www.upwork.com/jobs/~017f47eb7070f5ad02

[2022-03-01 19:39] mvtglobally commented on #7590
Issue not reproducible during KI retests. (Second week)

[2022-03-01 19:40] mallenexpensify commented on #7906
Hired @thesahindia
@ahmdshrif and @rushatgabhane can you also apply so I can pay you for reporting and C+?
https://www.upwork.com/jobs/~01f6b9c4c49d62df65
Thanks

[2022-03-01 19:41] mvtglobally commented on #7686
Issue not reproducible during KI retests. (Second week)

[2022-03-01 19:41] mvtglobally commented on #7687
Issue not reproducible during KI retests. (First week)

[2022-03-01 19:44] marcaaron commented on #7942
To clarify, this does happen already. But only after you are signed in (subsequent loads / refreshes of the site are fast). But we can still make the first sign in faster by loading the critical personal details quickly.

Correct, personal details do not update in realtime IIRC.

[2022-03-01 19:46] flodnv commented on #7942
Ok so can we easily get this done from an external contributor? I think this is a much better route than trying to optimize the query that we already super optimized -- I am not sure how much more juice we can get out of this exercise. When you'll have DMs and reports and policies with thousands of people, it is currently kind of impossible to make it near instant.

[2022-03-01 19:48] mvtglobally commented on #7899
Issue not reproducible during KI retests. (First week)

[2022-03-01 19:51] mvtglobally commented on #7872
Issue not reproducible during KI retests. (First week)

[2022-03-01 19:55] OSBotify commented on #7954
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.41-0 :rocket:

[2022-03-01 19:57] Santhosh-Sellavel commented on #7523
Still have some issues with adding a bank account.

Requested help on slack [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1646164482111669?thread_ts=1646163503.484199&cid=C01GTK53T8Q)

cc: @thienlnam @rushatgabhane

[2022-03-01 19:59] trjExpensify commented on #7899
Gotcha. Given that none of us can reproduce this then, shall we just close it for now?

[2022-03-01 20:15] roryabraham commented on #7954
Web deploy failed, hopeful fix [here](https://github.com/Expensify/App/pull/7955)

[2022-03-01 20:31] kidroca commented on #7666
Not that I know of.
I'll fill out the doc and post back

[2022-03-01 20:34] luacmartins commented on #7838
Can you navigate straight to the step on web? e.g. `/bank-account/contract`?

[2022-03-01 20:36] luacmartins commented on #7535
Seems like there's a potential fix here https://github.com/Expensify/App/pull/7955/files

[2022-03-01 20:48] trjExpensify commented on #7885
Sahweet! @sobitneupane, can you let me know when you've applied to the job on Upwork please so we can assign you the issue?

[2022-03-01 20:53] luacmartins commented on #7523
@Santhosh-Sellavel glad that I could help getting access to the forms. It seems that [AddPlaidBankAccount.js](https://github.com/Expensify/App/blob/main/src/components/AddPlaidBankAccount.js) will have to be audited internally though.

[2022-03-01 21:02] puneetlath commented on #7185
Ah interesting. I just tried and it seems that now we throw a growl that says "no bank account available" and then you land on this page.

<img width="366" alt="image" src="https://user-images.githubusercontent.com/1371996/156248191-9a82775b-76c2-41b6-84d7-75ffc5670db7.png">

So you're no longer stuck in an endless spinner and we no longer let you choose an account that you've already added. But w

[2022-03-01 21:08] johnmlee101 commented on #4733
No update (?)

[2022-03-01 21:10] Santhosh-Sellavel commented on #7523
@luacmartins  or @rushatgabhane
Have a look at the below video. I am performing `Tab` and `Shift + Tab` operations. After reaching the First or Input at the top. When I perform `Shift + Tab`, the focus changes to the close button. This is expected behavior right?

https://user-images.githubusercontent.com/85645967/156248891-db7c2076-f56a-4dda-99be-0754ace2e2dc.mov

[2022-03-01 21:15] rushatgabhane commented on #7523
Yes, looks good @Santhosh-Sellavel

[2022-03-01 21:17] Santhosh-Sellavel commented on #7523
In other words, the goal of the task is to make sure that performing `tab` &` shift + tab` operations ensure that the focus is switching to the next or previous input in focus cycles the top to bottom or bottom to top in the right orders. Once the end of When First or Last Input is reached by performing `tab` operations, the focus could switch to the next view that may require focus.

[2022-03-01 21:21] rushatgabhane commented on #7523
Yep, and the order is from Top to Bottom and Left to Right for `Tab`

[2022-03-01 21:28] OSBotify commented on #7954
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/7955) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.41-1` :rocket:

[2022-03-01 21:28] OSBotify commented on #7954
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.41-1 has been deployed to staging :tada:

[2022-03-01 21:29] mountiny commented on #7893
Seems like Github glitch that everyone got unassigned, applied the External label again.

[2022-03-01 21:32] Santhosh-Sellavel commented on #5987
Thanks! @SofiedeVreese

[2022-03-01 21:33] Santhosh-Sellavel commented on #7688
Requested copy for the error message [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1646162757672139)
Help me get this one!

cc: @iwiznia @rushatgabhane

[2022-03-01 21:38] puneetlath commented on #6877
@joekaufmanexpensify @kevinksullivan what should the UX be here after someone clicks that "reset password" link?

[2022-03-01 21:39] nickmurray47 commented on #7714
successfully deployed to prod, closing

[2022-03-01 21:39] #7714 closed

[2022-03-01 21:42] kidroca commented on #4264
Thanks for bearing with me

Let's agree the goal of background updates is to have as up to date data as possible when App is brought back to focus

A summary why pushes are satisfying the above goal:
- they work for logged in users - being logged in means you've been through the "big" data fetching (that happens after login)
- new messages are typically being pushed to you - Pusher or Push Notific

[2022-03-01 21:43] kidroca commented on #4264
One thing that we have to make sure if not already so is to prevent notification collapsing.
Notification collapsing (apns-collapse-id) is when a newer notification replaces an older one
Data only notifications (no alert, no sound, content-available: 1) are non collapsible by default, but regular notifications are.
Resuming connectivity would receive only the latest message of a collapsible notifi

[2022-03-01 21:48] rushatgabhane commented on #7688
I'm not sure that's the error message we wanna go with.

@jliexpensify What do you think of this as the error message - `Please enter a valid phone number`

(We already have translations for it)

[2022-03-01 21:52] mvtglobally commented on #7954
@roryabraham if we are 1.1.40-0 on other platforms, can we start QA tests?

[2022-03-01 21:59] roryabraham commented on #7954
@mvtglobally no we should be at least `1.1.41-0` on all platforms ... but `1.1.41-1` should be available now?

[2022-03-01 22:00] mvtglobally commented on #7954
Sorry typo , I meant to say 1.1.41-0. We dong need to wait for -1, right?

[2022-03-01 22:14] kidroca commented on #5987
Thanks 🎊

[2022-03-01 22:29] roryabraham commented on #7954
Correct, `1.1.41-0` is a high enough version because the diff between `41-0` and `41-1` is just related to building our (storybook) documentation site, not the actual application.

[2022-03-01 22:30] mallenexpensify commented on #7950
@roryabraham dropped a comment in #expensify-open-source and tagged @kidroca
https://expensify.slack.com/archives/C01GTK53T8Q/p1646173137404599

[2022-03-01 22:37] roryabraham commented on #4264
Hmmm, why not actions (for that specific report)?

I like this idea!

Love this idea! This would be great if you had a spotty network. Let's say a network request fails while a push notification is processing – we would add that request to the persisted queue and then, even if you didn't open the app, the persisted request queue would attempt to flush every 15-30 minutes with background fetch.

Ma

[2022-03-01 22:38] roryabraham commented on #4264
This is definitely something that is not already handled. I'll create an issue to follow-up.

[2022-03-01 22:53] joekaufmanexpensify commented on #6877
@mallenexpensify outlined the next steps for this change well [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1643678199019029?thread_ts=1640792952.211900&cid=C01GTK53T8Q). So once the user clicks the password link, we'll want to:

1. Show a growl indicating that the reset link has been sent.
2. User clicks password reset link and is directed to change their password on `setPassword` page

[2022-03-01 22:53] jliexpensify commented on #7688
@rushatgabhane I know there are a few colleagues working on Spanish translations, so I've tagged one in your Slack post.

[2022-03-01 23:07] kidroca commented on #4264
We presume we already have all the actions predating the one from the notification
We can have some sanity check and if we don't then yeah fetch previous actions and meta

Another topic to consider is the redesign of the **read** queue: https://expensify.slack.com/archives/C01GTK53T8Q/p1645658235688649

1. App receives updates for almost everything through pusher
2. When App is re-focused, current

[2022-03-01 23:15] MitchExpensify commented on #7918
[Upwork Job](https://www.upwork.com/jobs/~0179faa3fd71c4c21b)

[2022-03-01 23:16] SofiedeVreese commented on #5987
ok reporting bonus paid out too!

All is paid out, removed Upwork posting and closing GH.

[2022-03-01 23:16] #5987 closed

[2022-03-01 23:44] rushatgabhane commented on #7485
Sorry for the delay, I received [positive feedback from a contributor](https://expensify.slack.com/archives/C01GTK53T8Q/p1646022397173629?thread_ts=1645374316.396899&cid=C01GTK53T8Q) (1 day ago)

I'll loop back to this soon.

[2022-03-01 23:49] rushatgabhane commented on #7485
The next step is to put all this in a `.md` file (unless you think doc is a better idea)
And I'll try to get this done tomorrow.

[2022-03-02 00:02] LucioChavezFuentes commented on #7535
Guys, I found another issue, the library `react-native-picker-select` installs and use its own version of `@react-native-picker/picker`. That prevents the newer `Picker` version could be used through `react-native-picker-select`'s `RNPickerSelect`. I found there is a [pull request](https://github.com/lawnstarter/react-native-picker-select/pull/464/files) about that mattter, meanwhile I will search

[2022-03-02 00:06] rushatgabhane commented on #7535
@LucioChavezFuentes Great find, but no need to look for workarounds. We'd want the fix merged in` rn-picker-select` itself.

[2022-03-02 00:08] kbecciv opened #7961 "Sign in - 2FA input box does not appear until entering a password and tap "Sign in" for the 2FA user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access https://staging.new.expensify.com
2. Enter an email address for a High Traffic account and tap on "Continue"

## Expected Result:
The user

[2022-03-02 00:12] OSBotify commented on #7961
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-03-02 00:15] marcaaron commented on #7954
Checking off #7767 after testing on staging

[2022-03-02 00:19] roryabraham commented on #7475
No new proposals here. Without being able to reproduce this, I am tempted to close it out.

[2022-03-02 00:20] roryabraham commented on #7475
I don't want to close it if it _is_ reproducible for some people though, because it's probably a pretty easy fix.

[2022-03-02 00:26] marcaaron commented on #7942
Yes of course, please feel free to update the labels, description, add design notes or anything else you think would help. I don't have any specific ideas for a solution, but sounds like I achieved my goal of drawing attention to the problem.

[2022-03-02 00:27] roryabraham commented on #7462
Something I just thought of – copy should unfortunately be removed from the context menu until https://github.com/Expensify/App/issues/4629 is done.

[2022-03-02 00:29] roryabraham commented on #7462
Nice, LGTM 👍

[2022-03-02 00:36] NikkiWines commented on #7784
Closing since the fix is now on prod 🎉

[2022-03-02 01:27] kevinksullivan commented on #7868
Was OOO and just catching up now.

Do you mean, should we not show the option to set a default when the bank account is not in the `Open` state? I am sure we will want to add a more comprehensive solution for showing bank accounts in the non-open state in product, and at that point we won't let you set those accounts as a default, but for now we can lean on the error messages.

Someone could not h

[2022-03-02 02:22] mallenexpensify commented on #7784
@NikkiWines , I'm on Desktop production Version 1.1.39-3 and I'm still experiencing this issue, I just tested. Going to reopen awaiting an update/comment from ya

[2022-03-02 02:58] NikkiWines commented on #7784
@mallenexpensify the production version this was deployed to is 1.1.40-2

https://github.com/Expensify/App/pull/7789#issuecomment-1055749754

[2022-03-02 03:13] kbecciv opened #7962 "[$2000] iOS app - Attachment - User can't see PDF preview before uploading"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the New Expensify Beta app
2. Sign into a valid user account (High Traffic or Low)
3. Navigate to any conversation
4. Tap on the "Plus" sign

[2022-03-02 03:57] e-kibet commented on #7791
Errror!. Unable to create a workspace from my account.

[2022-03-02 04:49] Christinadobrzyn commented on #7638
I can't remember if we need a 👍 from the CME ; @Luke9389 can you give your blessings to move forward (and let me know if that's needed)?

[2022-03-02 04:59] Christinadobrzyn commented on #7917
Followed up about the price for this Upwork job in Slack [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1646197102580479?thread_ts=1645014281.039819&cid=C01SKUP7QR0)

[2022-03-02 05:46] Santhosh-Sellavel commented on #7791
@kevinksullivan

Is there any change in OP, we just are going to remove the buttons right?

[2022-03-02 05:47] kadiealexander commented on #7432
@mananjadhav would you mind sharing an update here?

[2022-03-02 05:57] mvtglobally opened #7963 "[HOLD for payment 2022-03-22] Date picker value is blocked by its label - reported by @kakajann"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to settings
2. Open any workspace
3. Go to connect bank account
4. Go to connect manually
5. Go to 2nd step (Company Information)

## Expected

[2022-03-02 06:03] mvtglobally opened #7964 "[HOLD for payment 2022-04-06] Enter/return doesn't work when the button has options - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Go to chat of a user who have a paypal account.
 2. Select Actions -> Send money -> enter amount > Hit Next
 3. Pick any user
 4. Press Enter/Re

[2022-03-02 06:07] mvtglobally opened #7965 "Send button is active when message has spaces, but does not send it - reported by @ahmdshrif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to any chat
2. Type spaces
3. Hit send

## Expected Result:
The send button should not be active since the message is just spaces

## Actual R

[2022-03-02 06:10] mvtglobally opened #7966 "[HOLD for payment 2022-03-22] Searching non existing currency results in a blank page with active Confirm button - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. In NewDot, click the green "+" button and select Send Money or Request Money
 2. Click on Currency symbol
 3. Enter something that returns no re

[2022-03-02 06:21] mvtglobally opened #7967 "[$500] Enter key doesn't work on PayPal delete popup - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to settings > Payments
2. Click on the Paypal username
3. Click on the delete option
4. Press enter key when the delete popup shows

## Expect

[2022-03-02 06:32] mvtglobally opened #7968 "[$250] Pressing down key on delete workspace popup focuses on the cancel button and then pressing enter key still deletes the workspace - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to settings
2. Go to any workspace
3. Click on the More icon
4. Select Delete Workspace option
5. Press down key and observe focus going to ca

[2022-03-02 06:38] mvtglobally opened #7969 "IPAD - Error page content is not in center like web - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Make any current trigger to see the error page (e.g. https://github.com/Expensify/App/issues/7811 if still repro)

## Expected Result:
Error shou

[2022-03-02 06:46] mvtglobally opened #7970 "When wrapping text in 4 backticks, the content is wrapped twice in code block - reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Wrap message in 4 backticks and send.

## Expected Result:
The message is wrapped twice in code block.

## Actual Result:
The should be only 1 co

[2022-03-02 06:52] mvtglobally opened #7971 "[HOLD for payment 2022-05-20][$250] When we enter 4 backticks and send it sends as two empty block, and when switched the chat, it disappears - reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send 4 back ticks as message.
2. Switch to another chat
3. Back to the same chat

## Expected Result:
The sent message disappears.

## Actual Res

[2022-03-02 07:08] mvtglobally opened #7972 "[HOLD for payment 2022-03-22] Payment method preview is clickable for bottom docked modal - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Open app in mobile/ use expensify in desktop web and decrease the screen size
 2. Go to Settings -> Payment
 3. Add paypal account in add paymen

[2022-03-02 07:18] mvtglobally opened #7973 "Textinput is not visible when emoji picker is open - reported by @ahmdshrif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. Click on Emojis picker

## Expected Result:
Emojis open and text input appears  and i can move cursor to the place i want to add

[2022-03-02 07:22] mvtglobally opened #7974 "There isn't any space on sides in attachment preview when you send a long name attachment - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Go to Chat
 2. Send a Long name Document(Attachment)

## Expected Result:
It should have a proper padding on both sides.

## Actual Result:
 It'

[2022-03-02 07:28] mvtglobally opened #7975 "Being offline is not detected if you use VPN (iOS) - reported by @kidroca"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. On iOS
2. Use a VPN client app
3. Switch the VPN on
4. Open App
5. Turn airplane mode on

## Expected Result:
You should be detected as being off

[2022-03-02 07:28] mvtglobally commented on #7975
We dont have VPN client to confirm repro, so added "Need repro" label as well

[2022-03-02 07:32] mvtglobally opened #7976 "Desktop - Unable to add attachment when clicking Attachment button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open chat
2. click on Attachment button

## Expected Result:
Attachment popup should open to pick the files

## Actual Result:
Nothing happens. U

[2022-03-02 07:54] sobitneupane commented on #7791
**Proposal**
We need to check if details are for Reserved room or not, before concatenating Invites and Leave button.
https://github.com/Expensify/App/blob/d6e64b37e2cc38a692b0778de3348e6e7da924f0/src/pages/ReportDetailsPage.js#L85-L101
[code]

[2022-03-02 10:12] Julesssss commented on #7737
Still awaiting proposals, should we double the bountly?

[2022-03-02 10:13] Julesssss commented on #6891
Hi @mananjadhav, do you have an update here?

[2022-03-02 10:38] kidroca commented on #7975
A video sample of the problem:
https://user-images.githubusercontent.com/12156624/156344914-cd74a99f-f8e9-4919-a021-9bbdc5210c02.mp4

Turning wifi and mobile data off is not being detected as offline
Turning airplane mode on is not being detected as offline
The VPN app immediately detects these disconnects

The fix in #6059 would help here, and App will realize it's offline about 10sec. after turn

[2022-03-02 10:44] dylanexpensify commented on #7950
@mallenexpensify am I still good to export this to Upwork?

[2022-03-02 10:47] mananjadhav commented on #6891
70% done, some tests failing when I have a string with slash already then backspace should delete the slash as well as digit pending.
Will it have by tomorrow or Friday

[2022-03-02 10:48] mananjadhav commented on #7432
Testing it is taking a bit of the time, will the draft PR today and full tested PR by tomorrow or day after.

[2022-03-02 11:15] MariaHCD commented on #7625
Changing the message for deleted rooms sounds good to me. What copy would work here, @mateocole? Maybe something like: "This is the beginning of *#admins (deleted)*, there's nothing to see here."?

[2022-03-02 11:16] thesahindia commented on #7969
### Proposal
`styles.w100` on line 51 is causing this, so we just need to remove it and it will work fine
https://github.com/Expensify/App/blob/d6e64b37e2cc38a692b0778de3348e6e7da924f0/src/pages/ErrorPage/GenericErrorPage.js#L51-L59

[2022-03-02 11:31] trjExpensify commented on #7470
Any update here for @okansahin, @rushatgabhane?

The Upwork job expired, so here's the new one: https://www.upwork.com/jobs/~0176b58cfaaf71ab72

[2022-03-02 11:42] Julesssss opened #7979 "Mobile PopOver menu row selection is cut-off"
## Action Performed:

- Open the app on an Android Pixel 2, or Pixel 3 XL, or similar device
- Navigate to Settings > Payments
- Tap 'Add payment method'
- Select and hold any item in the menu

## Expected Result:
- There should be NO padding at the right side of the selected row

## Actual Result:
- There is padding at the right side of the selected row

<img width="363" alt="Screenshot 2022-03-0

[2022-03-02 11:42] K4tsuki commented on #7352
#### proposal

The problem is the converter couldn't detect line break across `ReportActionItem` we could assist this by adding:
`<br />` in :

 Above:

https://github.com/Expensify/App/blob/d6e64b37e2cc38a692b0778de3348e6e7da924f0/src/pages/home/report/ReportActionItem.js#L159

And Below:
https://github.com/Expensify/App/blob/d6e64b37e2cc38a692b0778de3348e6e7da924f0/src/pages/home/report/ReportAc

[2022-03-02 11:43] Julesssss commented on #7979
Didn't mean to unassign you 🙃

[2022-03-02 11:52] parasharrajat commented on #7839
@luacmartins Do you think we should use the same error copy for terms and conditions in the app? There are many places where we accept terms. There could be exceptions if terms are different but I feel most will be the same.

- [ ] https://github.com/Expensify/App/blob/d6e64b37e2cc38a692b0778de3348e6e7da924f0/src/pages/EnablePayments/TermsStep.js#L105
- [ ] https://github.com/Expensify/App/blob/d6

[2022-03-02 12:03] parasharrajat commented on #7462
Yeah, forgot to add that point.

@ahmdshrif This needs to be done as well https://github.com/Expensify/App/issues/7462#issuecomment-1056005409.

[2022-03-02 12:07] ahmdshrif commented on #7462
@parasharrajat Ok i will do it .

@kadiealexander i apply to the job .

[2022-03-02 12:15] vignbenjamin435 commented on #7470
I have checked the upwork job post description..
I can say that i need to know which library this project is using now? And if the styled-component was used, it can be fixed by adjusting the css.
If this input field is using another library something like native-base, material UI, I need to check the Input field component.

[2022-03-02 13:07] adeel0202 commented on #7838
Yes @luacmartins, just checked that I can navigate to that step directly.

<img width="1430" alt="Screenshot 2022-03-02 at 6 05 17 PM" src="https://user-images.githubusercontent.com/13783842/156367136-15474c60-f2b2-465b-843b-236b4cd71e18.png">

[2022-03-02 13:30] Tushu17 commented on #7964
### Proposal
*Proposing a solution as I reported this issue*

We aren't passing `pressOnEnter` to the `Button` that we use in `ButtonWithDropdown` as we can see below -
https://github.com/Expensify/App/blob/d6e64b37e2cc38a692b0778de3348e6e7da924f0/src/components/ButtonWithDropdown.js#L30-L39
So by passing `pressOnEnter` to the Button which is on line 32 we can fix it.

[2022-03-02 13:46] rajeshivn commented on #7848
its fixed, by npm

[2022-03-02 14:14] LucioChavezFuentes commented on #7535
I applied my final changes, I updated `@react-native-picker/picker` and removed the logic on `index.native.js`.  I tested the changes of [pull request](https://github.com/lawnstarter/react-native-picker-select/pull/464/files) on `react-native-picker-select` and I confirm that solution would fix the problem on `RNPickerSelect` of using an old version of `@react-native-picker/picker`. I am a little

[2022-03-02 14:17] #7979 closed

[2022-03-02 14:26] LucioChavezFuentes commented on #7535
Today I am available but I will be out for a week starting tomorrow. I apologize for the incoveninece this may arise.

[2022-03-02 14:35] Julesssss commented on #4264
What makes sense for a chat App is to stack notifications in groups using thread-id - notifications for the same report can be visually stacked together. Not sure about what's the Android counterpart for this

Similar behavior exists on Android -- but we have to configure it similar to how you said it works for iOS: We can 'update' notifications by making a push with the same uniqueID. This is how

[2022-03-02 14:45] Julesssss commented on #4264
Would you say we're currently blocked by the read network queue proposal in that case? Or do we know enough about the eventual solution to tailor this issue?

[2022-03-02 15:08] kavimuru opened #7980 "iOS - Chat - The maximum height of compose box is 5 instead of 6 lines."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing #7891**
## Action Performed:
1. Open any chat
2. Type a message with 20-30 lines
3. Verify that the maximum height of compose box

## Exp

[2022-03-02 15:16] lschurr commented on #7971
Not sure if this is a high priority.. adding eng to investigate.

[2022-03-02 15:59] kakajann commented on #7712
@parasharrajat we can prevent it in here
https://github.com/Expensify/App/blob/6d85ddcc881a030c243153b86659a4a2a40de4ff/src/pages/workspace/reimburse/WorkspaceReimburseNoVBAView.js#L88

I'm not good at regexes. U have any idea how to prevent typing more than 2 digits after the decimal point?

[2022-03-02 16:07] mallenexpensify commented on #7950
Please do @dylanexpensify , lets start tis one at $1k, I have a feeling it's a significant issue and it's 'performance' so we'd like to get 👀 on it sooner than later

[2022-03-02 16:08] parasharrajat commented on #7839
@adeel0202 Could you please look into the above request? :arrow_up:

[2022-03-02 16:12] parasharrajat commented on #7712
Lets wait for confirmation first.

[2022-03-02 16:14] michaelhaxhiu commented on #7015
@mananjadhav looks like you didn't yet apply to the initial upwork job, and that post has since closed.
<img width="958" alt="image" src="https://user-images.githubusercontent.com/13206896/156401647-ec8b272b-3553-4a97-8b02-3fd33c0689d6.png">

Let's do a fresh job post.

Can you apply for this upwork job https://www.upwork.com/jobs/~014f9711f144fccb6c?
The payout is $500 [$250 for reporting and $25

[2022-03-02 16:16] AndrewGable commented on #7579
Is there anything I should be looking for in particular or do you want me to just add them here? There are ~11k log lines for 7AM PT-8AM PT

[2022-03-02 16:16] mananjadhav commented on #7015
Yeah, thanks for the bump, I’ve just applied to the fresh job

[2022-03-02 16:21] kidroca commented on #4264
I don't think we're blocked
The idea to flush persisted requests in a background task can be tackled separately
We can start with the outline here: https://github.com/Expensify/App/issues/4264#issuecomment-1055888496

1. When a new comment is received via push notification (alert or not), we merge it to Onyx
2. Check whether we need to fetch anything more about the involved Report
3. Or use the ti

[2022-03-02 16:22] adeel0202 commented on #7839
@parasharrajat, going to replace `termsStep.termsMustBeAccepted` with `common.error.acceptedTerms` in `TermsStep`,
and `beneficialOwnersStep.error.termsAndConditions` with `common.error.acceptedTerms` in `ACHContractStep`.

Also, will be removing `termsStep.termsMustBeAccepted` and `beneficialOwnersStep.error.termsAndConditions` from translation files since they won't be needed anymore.

[2022-03-02 16:23] mallenexpensify commented on #7950
Possibly related, I'd like to try to test after this issue is fixed to see if can reproduce

@dylanexpensify , I posted the job since I was back in here...

https://www.upwork.com/jobs/~01d8bffdd4e6f23ff8

[2022-03-02 16:29] kidroca commented on #7579
Why can you see these logs?
I thought console logs were disabled for staging/prod apps
When did that change? Is it platform specific - only enabled for web/desktop?

Running heavy console logging on a native app is know to be a performance bottleneck due to the everything being send as messages through the native bridge

Anyway I think these might be enough for the moment

[2022-03-02 16:44] JmillsExpensify commented on #7518
Thanks. I'm jumping in to process payments for all contributors on this issue. I will close when that step is complete, though don't hesitate to reach out if I can help with any follow-up questions.

[2022-03-02 16:48] JmillsExpensify commented on #7270
Going to try putting this issue in #expensify-open-source to see if we can get additional eyes on this one. 👀

[2022-03-02 16:49] JmillsExpensify commented on #7334
Coming back to this issue, I wonder if we should even close this for #urgency and come back to it when we think it's a priority? That'd be my vote at this point.

[2022-03-02 16:49] sakluger commented on #7905
Thanks for reporting this! Seems like something that we should fix, passing along to engineering to triage the proposal.

[2022-03-02 16:50] JmillsExpensify commented on #7463
It looks like we've had some issues with the most recent linked PR. Is that right, and are we actively working through those?

[2022-03-02 16:51] JmillsExpensify commented on #7471
Circling back to issue payment. I'll close the issue when that's down, though please don't hesitate to reach out with any further questions.

[2022-03-02 16:55] mountiny commented on #7334
I am on board with this. The problem occurs on mWeb Safari and I think we should urge users on mobile to download the native App as that will always be our main target for optimization. This does not block the use of the app in the browser, so closing, for now, to focus on more important issues.

@JmillsExpensify actually gonna leave the closing for you as you also need to close the Upwork jobs I

[2022-03-02 16:57] JmillsExpensify commented on #7727
Going to post this issue in #expensify-open-source and then if we don't have any volunteers, I will increase the payout for this job.

[2022-03-02 16:57] JmillsExpensify commented on #7730
Active discussion in the linked PR. Check there for more.

[2022-03-02 16:58] JmillsExpensify commented on #7796
Going to put a monthly on this and came back to it. It's not a priority for now.

[2022-03-02 17:00] JmillsExpensify commented on #7893
Thanks! Upwork job is here: https://www.upwork.com/jobs/~01c7b801b056c824ea. Applying the exported label. We're open for proposals!

[2022-03-02 17:01] kavimuru opened #7982 "Web - Profile - Autofill prompt does not appear for names fields"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing #7879**
## Action Performed:
Pre:
For Chrome go to chrome://settings/addresses
Add an address and enter a first and last name in the name

[2022-03-02 17:02] OSBotify commented on #7982
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-03-02 17:12] mountiny commented on #7982
cc @neil-marcellini Would you be bale to look into this one, it comes the [form PR](https://github.com/Expensify/App/pull/7879) most likely, but not sure why would it be broken.

Given it says it is reproducible in Production, I dont think this should be DeployBlocker and this issue does not prevent users from using the App so for urgency reasons I will take the DEbloyBlocker label off.

[2022-03-02 17:14] mountiny commented on #7893
Hi @Santhosh-Sellavel 👋 Pleasure to work on this with you as one of your first C+ issues, how exciting! Welcome!

[2022-03-02 17:14] michaelhaxhiu commented on #7015
Just waiting for you to accept my proposal and I'll issue payment + close.

[2022-03-02 17:15] neil-marcellini commented on #7982
Thanks Vit! I can look into this.

[2022-03-02 17:20] mountiny commented on #7982
Thank you very much 🙇

[2022-03-02 17:29] mallenexpensify commented on #7784
@NikkiWines I'm on the latest version though.  I consider this 'production' since I can't update.  Am I _missing_ something?
<img width="465" alt="image" src="https://user-images.githubusercontent.com/22508304/156413650-05bfa1f1-a96f-44a0-bdfb-886565d6c66c.png">

also, Nikki, is this a regression? If so, can you link the related issue and PR so we can get a Regression Cause Analysis (RCA) created

[2022-03-02 17:30] rushatgabhane commented on #7015
Should I apply on a seperate job?

[2022-03-02 17:32] parasharrajat commented on #7463
There was no issue with the PR for this issue but later OP found another case that was missed from the first PR so he created another PR to cover that.

[2022-03-02 17:34] kidroca commented on #7579
@mallenexpensify
Are the missing chats in LHN new chats - new people messaging you or new groups?
Or maybe you're using #focused mode?

I see some 407 happening near the start, in both log files Matt shared

The code here would forfeit requests like the one that populated LHN
https://github.com/Expensify/App/blob/80b7467fdfc5610259b3a7be33e5f603309c4be7/src/libs/API.js#L162-L174

IMO it's very imp

[2022-03-02 17:36] NicMendonca commented on #7413
paid!

[2022-03-02 17:36] #7413 closed

[2022-03-02 17:37] NikkiWines commented on #7784
@mallenexpensify not sure why your app doesn't show an update available. I was able to update to `1.1.40-2` this morning so maybe try hard refreshing it or quitting and re-opening.

![image](https://user-images.githubusercontent.com/16747822/156416954-1caa5e49-a7d0-4008-b061-290a4849c745.png)

[2022-03-02 17:43] michaelhaxhiu commented on #7916
cool thanks nick. @dylanexpensify said the same in a DM.

[2022-03-02 17:46] kidroca commented on #7579
As you can see `unableToReauthenticate` depends on `credentials` being read from Onyx.
Recently a degrade Onyx performance was reported - ever since we switched to IndexedDb

We can fix Onyx speed, but there's always the chance credentials are not yet read from storage
IMO it would be best if we can chain such dependencies in an async contract
1. Get credentials from Onyx - the very first time is

[2022-03-02 17:51] kbecciv opened #7983 "Concierge - Warning message is showing for the phone input without clicking Call"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Tap on Concierge conversation
4. Tap on Call Icon
5. Tap on First name input field
6. Tap on Last na

[2022-03-02 17:53] MitchExpensify commented on #7738
Great! I've invited both @thesahindia and @rushatgabhane to the [UpWork Job](https://www.upwork.com/jobs/~015896f1cdf115bfcf), please both make a proposal and I'll hire you! Thanks

[2022-03-02 17:54] afaqrajpoot commented on #7015
@michaelhaxhiu @mananjadhav @AndrewGable @MelvinBot @botify
Coming From Upwork Job Posting Regarding to the Issue #7015

How i will Fix:

i will declare a ProfileImageURL state and initially it will be null and in the profile image source i will provide this ProfileImageURL and if it is null a placeholder image will be displayed
and when user change the image i will call the setState and update th

[2022-03-02 17:54] mallenexpensify commented on #7859
I think I experienced the same issue this morn and [reported it in #expensify-open-source](https://expensify.slack.com/archives/C01GTK53T8Q/p1646237867955779). Pasting details below.

BUG: Most recent chat isn't showing at top of LeftHandNav (LHN) after clicking on it then going to another chat
Action Performed:
Saw on phone I got a new message from Garrett
Open NewDot, I quit out of it the night

[2022-03-02 17:55] Julesssss commented on #7274
Still awaiting proposals, we should probably double the price.

I'm not exactly sure how we're supposed to do that though. Do we need to update Upwork too?

[2022-03-02 17:58] mallenexpensify commented on #7859
Job posted.
https://www.upwork.com/jobs/~01ae855dd14dc2291b

@rushatgabhane can you review and see if you have any ideas on how to reliably reproduce?

[2022-03-02 18:08] sobitneupane commented on #7784
Accepted.

[2022-03-02 18:18] kidroca commented on #7579
I've recreated the problem by simulating `fetchAllReports` failing with a 407 code

https://user-images.githubusercontent.com/12156624/156422115-3aa7c8d7-8271-4bed-8900-1df5a4a81e5e.mp4

Summary of the problem:
1. When app starts (or after login) we're fetching all reports (including new messages that happened while App was closed)
2. If that fails for some reason there's no handling here: https:/

[2022-03-02 18:27] michaelhaxhiu commented on #7015
@afaqrajpoot sorry for any confusion but this job is already assigned and a PR has been deployed to production.

[2022-03-02 18:36] neil-marcellini commented on #7983
That is the expected behavior. We validate the input when the field loses focus (clicking out of it). A blank phone number is not a valid input and we want to let the user know that it needs to be fixed as soon as possible. If you close the page the error will be gone when they open it again.

[2022-03-02 18:36] #7983 closed

[2022-03-02 18:38] neil-marcellini commented on #7982
I'm changing this to weekly since it isn't super critical.

[2022-03-02 18:38] parasharrajat commented on #7768
No update. Haven't got time to look into this. Trying to clean TextInput in the App.

[2022-03-02 18:41] afaqrajpoot commented on #7015
@michaelhaxhiu i will check regularly

[2022-03-02 18:49] parasharrajat commented on #4612
This is no more on hold. Waiting for proposals... and reviewing old ones.

I appreciate your proposal @murataka and I will take a look on Slack but the correct process is to post the proposal on Github.

[2022-03-02 18:51] parasharrajat commented on #6301
cc: @tgolen :arrow_up:

[2022-03-02 18:52] afaqrajpoot commented on #7982
@neil-marcellini @neil-marcellini @mountiny
I looked deeply into issue and i figure it out why its not working

How i will fix:

 I will use UseRef and declare a variable and initially it will be assigned as null and in the relative input field i will pass that variable to ref argument of the input field

 const emailField = useRef(null);

<input
  ref={emailField}
  id='email'
  type='email'
  na

[2022-03-02 18:55] roryabraham commented on #4010
No update

[2022-03-02 18:55] roryabraham commented on #6863
No update

[2022-03-02 18:58] Tushu17 commented on #7972
### Proposal
We need to pass `disabled` and `interactive={false}` to `MenuItem` below -
https://github.com/Expensify/App/blob/5dab0ffc198741cd13b3b79c3f15e256c9a889b1/src/pages/settings/Payments/PaymentsPage/BasePaymentsPage.js#L294-L299

[code]

[2022-03-02 19:23] mallenexpensify commented on #7485
Assigning myself as CM so I (hopefully) don't forget to compensate you for the work @rushatgabhane

[2022-03-02 19:42] ahmdshrif commented on #7904
@mvtglobally

I now get a clear understanding of why this happens with me only,
it only happens when I enable this extension called Blackbox. when I disable it cmd +k is worked fine. by the way, cmd + k is not one of the Extention shortcuts.
https://chrome.google.com/webstore/detail/blackbox-select-copy-past/mcgbeeipkmelnpldkobichboakdfaeon

I am not sure but it seems no issue with the app. as it

[2022-03-02 19:47] mallenexpensify commented on #7579
Thanks for investigating @kidroca !!!!!

I thought console logs were disabled for staging/prod apps
When did that change? Is it platform specific - only enabled for web/desktop?

@roryabraham enabled more detailed logs recently, with that hopes that access to these expanded logs would help us find and fix more issues.

The missing chats in LHN when opening the app are most/all 1:1 chats.

Not in `

[2022-03-02 20:01] parasharrajat commented on #7579
Good find @kidroca. I think we can handle that as well. But that should not cause this issue. I can think of a few reasons why:

1. but what about the old reports that are already synced in Onyx. is this also happening with reports that were synced earlier?
2. There are other weird cases as well
https://expensify.slack.com/archives/C01GTK53T8Q/p1641914236294700?thread_ts=1641865815.271200&cid=C01G

[2022-03-02 20:02] roryabraham commented on #7582
Was hoping to get to this, but going to have to punt again.

[2022-03-02 20:02] Santhosh-Sellavel commented on #7893
@mountiny Thanks for the warm welcome! I'm getting started next week. Can you help me reassign this issue to @rushatgabhane

[2022-03-02 20:05] roryabraham commented on #7094
Still haven't gotten around to this. Keeping it as a weekly for now, but we haven't really had users complain about this in the past AFAIK and the same logic is likely reused between NewDot and OldDot.

[2022-03-02 20:11] roryabraham commented on #7954
Checked off https://github.com/Expensify/App/pull/7933 and https://github.com/Expensify/App/pull/7939 because they were deployed with the last checklist. I think it's a bug that they showed up here, but I don't have time to look into it right now unfortunately.

Oh, @mvtglobally, that's not good. This is potentially because of https://github.com/Expensify/App/pull/7744 cc @kidroca. It might also j

[2022-03-02 20:12] johnmlee101 commented on #7963
Opening up for external.

[2022-03-02 20:12] johnmlee101 commented on #7963
Not sure why we have the `forceActiveLabel` prop when we don't use it for any of the other props, might need some historical context to make sure there are no regressions

[2022-03-02 20:14] parasharrajat commented on #7185
I will look into this tomorrow.
Things needed:
1. Handle failure in VBA flow.
2. Take the user back.

[2022-03-02 20:16] bfitzexpensify commented on #7477
I agree that this is related to https://github.com/Expensify/App/issues/7541 — this is specifically about "g's", but that issue is looking at it more holistically. It's also got much more action than this, with discussion in recent days. So I'm gonna go ahead and close this out in favour of that issue. Let me know if that's incorrect!

[2022-03-02 20:16] #7477 closed

[2022-03-02 20:17] bfitzexpensify commented on #7516
@parasharrajat https://github.com/Expensify/App/issues/7382 was deployed 7 days ago, no regressions. Does that mean we can turn attention back to this again?

[2022-03-02 20:19] trjExpensify commented on #7899
Cool, sounds good!

[2022-03-02 20:19] #7899 closed

[2022-03-02 20:19] kidroca commented on #7579
Ok, the root problem might be something else, but should we ignore the loose ends brought up here until the real problem is found? - it could take months

The least we should log when we abandon a request:
[code]

I guess it's ok for the staging env, but this is definitely hamerping native performance - one of the first things suggested to boost performance is to remove console logs (I guess that'

[2022-03-02 20:20] parasharrajat commented on #7516
Yeah. Let's reopen this. May be get it retested from QA.

[2022-03-02 20:25] bfitzexpensify commented on #7625
Upwork posting [here](https://www.upwork.com/jobs/~01c1e622b4b2b08ea9).

I think the copy @MariaHCD shared makes sense.

[2022-03-02 20:26] parasharrajat commented on #7579
_I think we can handle that as well_

Nope!  We can do that first. But we can delve more for some time to see if we are able to find more related buggy code. I am still picking pieces from chat to understand the issue better.

[2022-03-02 20:34] thesahindia commented on #7625
Should I update my proposal so we show a different message only when the room is deleted and don't have any message inside

[2022-03-02 20:34] michaelhaxhiu commented on #7916
Posted to upwork and added to GH body. Link here too: https://www.upwork.com/jobs/~01a2053d2c6b3432b4

[2022-03-02 20:35] michaelhaxhiu commented on #5766
Still monthly and hold

[2022-03-02 20:42] kidroca commented on #7579
@mallenexpensify

The logs print that you're fetching reports successfully
[code]
458 reports in total

And that there is 1 report detected with unsynced messages
[code]

You say a few were missing, not just one right?

- Maybe it's a server issue - After a fresh login all you have is latest server data
- Or the logic that detected only 1 report with unsynced actions - though this doesn't explain

[2022-03-02 20:50] roryabraham commented on #7579
Timings should be able to tell if there's a diff, though with the amount of data we're logging, I'm 99% certain there is

@kidroca I didn't really consider this when I enabled logs on staging and production in [this PR](https://github.com/Expensify/App/pull/7614). If it makes a substantial difference, we can disable them again on production only.

[2022-03-02 20:55] kidroca commented on #7954
What happens after Desktop is built?
@roryabraham can the changed folder cause an issue? - the Desktop app output is no longer in `dist` but in `desktop-build`
Otherwise we're now build for 3 target x86, arm64 and universal apps, could that be a problem? We used to build only x86 before

I've examined the build script and was left under the impressions that publishing is handled by electron-builde

[2022-03-02 20:56] mvtglobally commented on #7954
@roryabraham do you need a bug for this build issue?

[2022-03-02 21:02] shawnborton commented on #7629
Not overdue.

[2022-03-02 21:03] shawnborton commented on #7706
Not overdue. I think the design is finalized here, cc @kevinksullivan - what are the next steps?

[2022-03-02 21:03] shawnborton commented on #7541
@osama256 apologies for the delay, hoping to take a closer look at this tomorrow.

[2022-03-02 21:09] kevinksullivan commented on #6059
PR still in review.

[2022-03-02 21:10] mananjadhav commented on #7015
@michaelhaxhiu There will not be any payment for me as it was a regression.

[2022-03-02 21:11] kidroca commented on #7579
Yes,
Production users would have hard time accessing these logs on mobile anyway
We should keep an eye on Android (yeah big surprise)

https://reactnative.dev/docs/performance#using-consolelog-statements

[2022-03-02 21:24] Luke9389 commented on #7306
OK, I'm gonna go ahead and close then. We can reopen if this issue becomes noticeable on non-windows platforms.

[2022-03-02 21:24] #7306 closed

[2022-03-02 21:27] Luke9389 commented on #7739
Lets scope this to just report comments for now, and open separate issues if need be. Sound good @parasharrajat? If so, then you've got the 🟢 green light 🟢 to start a PR @sobitneupane

[2022-03-02 21:29] tgolen commented on #7735
@0x41-li Did you try again recently? I had commented last week about there being a 4 hour cache on the beta, so that's why it didn't initially work. You should be able to search for Chronos and see it now though.

[2022-03-02 21:30] shawnborton commented on #7541
Okay @osama256 took at look at your proposal but I am still seeing hard-coded line-heights. I'm also not sure how your proposal works with various font scale sizes. For example, on iOS you can choose to bump up the font size by a few different steps greater/less than 100%.

So again, I am wondering if we can do this by using a relative unit for the line height? I also think we need to do research

[2022-03-02 21:30] parasharrajat commented on #7739
Attachment checking is a crucial part of report comments and all the places that are related indirectly affect reports so they need to be covered here. It is going to be a small change.

[2022-03-02 21:32] tgolen commented on #7942
The personal details list refreshes every 30 minutes on a timer, so that's
when you would get the updated avatar. I'm fine with everything else
mentioned in this issue.

On Tue, Mar 1, 2022 at 4:27 PM Marc Glasser ***@***.***>
wrote:

[2022-03-02 21:33] sakluger commented on #7966
Reproduced this issue, and clarified the action steps in the original GH issue. Ready for engineering. 👌

[2022-03-02 21:37] tgolen commented on #7961
Yeah, we don't set that 2FA is required unless there was an error signing in with the username/password:

https://github.com/Expensify/App/blob/be2a0d814997a80d7e98feb24c9874c848acb4c9/src/libs/actions/Session/index.js#L253

I am pretty sure that changed since how this was originally written. We should be getting that info from the user's account after they entered their email. I'm pretty sure tha

[2022-03-02 21:38] timszot commented on #7966
Looks good to me, sending to external for better handling of this case in the app.

[2022-03-02 21:39] tgolen commented on #7961
This should be able to be done with `external` AFAIK, so let's handle it there.

[2022-03-02 21:52] NikkiWines commented on #7961
Looks like this change was introduced [here](https://github.com/Expensify/App/pull/7864/) and that the behavior we're seeing might be intentional (based on the QA steps)

[2022-03-02 22:03] marcochavezf commented on #7586
Hi @laurenreidexpensify sorry, I was hyper-focused on an N7 issue the last 2 weeks, I haven't worked on this issue yet and I'm going to be OOO for a few days. I will come back to this issue next week.

[2022-03-02 22:17] marcochavezf commented on #7079
No update this week, I've been focused on an N7 issue also I'm going to be OOO for a few days. I will come back to it next week.

[2022-03-02 22:18] michaelhaxhiu commented on #5994
not overdue

[2022-03-02 22:18] michaelhaxhiu commented on #6058
not overdue

[2022-03-02 22:32] thienlnam commented on #7623
Still waiting on proposals for a fix that will encapsulate all backgrounded pages

[2022-03-02 22:40] rushatgabhane commented on #7470
I don't think we should go ahead with a hack

[2022-03-02 22:46] SofiedeVreese commented on #7704
Both @rushatgabhane and @PrashantMangukiya have been paid out.

Thank you both!

Closing job.

[2022-03-02 22:46] #7704 closed

[2022-03-02 22:59] thesahindia commented on #7625
### Updated proposal
We can add a function in [ReportWelcomeText.js](https://github.com/Expensify/App/blob/main/src/components/ReportWelcomeText.js#L72) which will return welcome text for rooms based on `ReportUtils.isArchivedRoom(props.report)` and `!props.report.lastMessageText`
if the statement is true we will show the welcome text for deleted room that has no chat history and if it's false we

[2022-03-02 23:11] kevinksullivan commented on #7706
yeah thanks for the bump here @shawnborton , pretty much good to go. Final detail was the icon for manual connection, which was left [here](https://expensify.slack.com/archives/C02MW39LT9N/p1644948164672449?thread_ts=1644828996.416239&cid=C02MW39LT9N). Not sure what fits best here, but here are some viable options that popped out to me. What do you think?

1. Check
2. Coins
3. Hourglass (since we

[2022-03-02 23:29] jboniface commented on #7382
paid

[2022-03-02 23:29] #7382 closed

[2022-03-02 23:32] rushatgabhane commented on #7470
Hey @vignbenjamin435, we'd want this issue to be fixed without any extra libs. Yes, feel free to post a proposal which uses some css.

[2022-03-02 23:38] vignbenjamin435 commented on #7470
Hi Rusat.
thank you for your message.
I agree with your suggestion. I can fix this problem without using any
extra libs
I can fix this problem using css.

On Thu, 3 Mar 2022 at 00:32, Rushat Gabhane ***@***.***>
wrote:

[2022-03-02 23:48] neil-marcellini commented on #7982
Autofill works fine for me on the profile page on staging. It doesn't work on production since my change hasn't been deployed there yet. I am unable to get it to fail at all on staging. Can anyone else make it fail?

[2022-03-02 23:48] rushatgabhane commented on #7496
@michaelhaxhiu Hmm, the PR for expensify-common got merged almost immediately. While reviewing the proposal, I assumed that it'll work on mobile too. This was an oversight on my part.

@sobitneupane noticed that it didn't fix mobile while posting screenshots for the PR. I agree that fixing the issue for mobile has a different root cause, and will need some investigation.

But It makes more sense t

[2022-03-02 23:50] neil-marcellini commented on #7982
This is not an email field, there is a first name field and a last name field. Why would this kind of approach fix it?

[2022-03-02 23:52] rushatgabhane commented on #7496
@sobitneupane could you please elaborate on this

[2022-03-02 23:55] mountiny commented on #7982
Tried it on staging now and works well and I can confirm Production does not work. I think we can close this for now and QA will come back if the problem will still persist for them 👍

[2022-03-02 23:55] #7982 closed

[2022-03-03 00:01] jliexpensify commented on #7964
@deetergp - should go to Upworks right? If so, I'll assign myself again and make a job.

[2022-03-03 00:02] trjExpensify commented on #7686
Paid 👍

[2022-03-03 00:02] #7686 closed

[2022-03-03 00:04] rushatgabhane commented on #7470
@vignbenjamin435 alright, excited for your proposal.

Make sure that you read [contributing.md](https://github.com/Expensify/App/blob/317cce57c2853eed5757b4b842581828a0648fb5/CONTRIBUTING.md)
before posting a proposal

[2022-03-03 00:06] trjExpensify commented on #7624
@thesahindia I've paid this out for you. @rushatgabhane, you hadn't applied, so I've sent you an offer for the C+. Let me know once accepted and then I'll settle and close this out. Thanks!

[2022-03-03 00:09] trjExpensify commented on #7624
Haha, wow. That was suspiciously fast, @rushatgabhane. 😅 Settled, closing out!

[2022-03-03 00:09] #7624 closed

[2022-03-03 00:10] rushatgabhane commented on #7624
I might have a bot 🤖 ;)

[2022-03-03 00:10] mallenexpensify commented on #7970
well... that's interesting.  For some (weird/unexplained) reason, I kinda like it.  I can't think of a reason why it exists or when someone would use though.  I'm a bit torn about fixing though cuz it's an edge case (possibly an extreme one).

1. @mdneyazahmad or @sobitneupane , can either of you think of an example of when someone would do this? (Outside of wanting to do 3 and accidentally doing

[2022-03-03 00:11] vignbenjamin435 commented on #7470
Ok. Now i am checking it seriously😊.. After i check, i will let you know.

On Thu, 3 Mar 2022 at 01:05, Rushat Gabhane ***@***.***>
wrote:

[2022-03-03 00:13] adelekennedy commented on #7440
@sobitneupane reporting bonus and job payment have been sent! @parasharrajat hired you for the C+ rate!

[2022-03-03 00:17] mallenexpensify commented on #7487
Doubled price to $1000!
https://www.upwork.com/jobs/~015c796555eb6441cd

[2022-03-03 00:21] mallenexpensify commented on #7531
PR is being reviewed 🚂

[2022-03-03 00:23] mallenexpensify commented on #6591
@parasharrajat can you provide an update and include a link to the associated PR and any other issues or PRs that are related?

[2022-03-03 00:32] rushatgabhane commented on #7903
Hmm, @Santhosh-Sellavel could you please help me understand why this is a bug?

The unread report is the most recent report. It shouldn't disappear once we've read it.
It should disappear only if we've read it, anddd we navigate to a different report.

[2022-03-03 00:33] Luke9389 commented on #7947
I agree that this should be daily, but I cant take this right now.

[2022-03-03 00:34] parasharrajat commented on #6591
PR is under review.

[2022-03-03 00:35] thienlnam commented on #7974
Sorry, hold off on posting this - I'm not sure I agree this is a necessary update
The output looks fine to me

[2022-03-03 00:36] Luke9389 commented on #7913
I guess you've got the 🟢 green light 🟢 for that PR there, @parasharrajat 😅

[2022-03-03 00:37] #7974 closed

[2022-03-03 00:40] K4tsuki commented on #7487
@mallenexpensify @rushatgabhane based on slack discussion summary by @NikkiWines:

To summarize the proposals discussed in this thread:
   1. Limit the time that users can edit/delete message something similar
   2. Re-fetch past items as you scroll backwards
   3. Fetch chats based on timestamp instead of only fetching a certain number of chats (note that we don't update the timestamp when a chat

[2022-03-03 00:40] osama256 commented on #7541
@shawnborton  I tested on iphone with the largest font size, the situation is not good. it affects the entire app.

PixelRatio can do  this, it return a double value represent how large is the font size.
![Screen Shot 2022-03-02 at 3 38 06 PM](https://user-images.githubusercontent.com/51829206/156471310-2d717d8a-d075-4918-991e-92e548920552.png)

the problem isn't only a height issue, but width iss

[2022-03-03 00:42] Luke9389 commented on #7638
Yep, CME is still in the pipline. Looking over the proposal now.

[2022-03-03 00:42] vignbenjamin435 commented on #7470
I have checked all documents....Just now i am willing to contribue..
From now on, I am going to work on your project full time.. I am full time
freelancer

On Thu, 3 Mar 2022 at 01:11, Benjamin Vignon ***@***.***>
wrote:

[2022-03-03 00:47] jliexpensify commented on #7964
Internal - https://www.upwork.com/ab/applicants/1499184622705242112/job-details
External - https://www.upwork.com/jobs/~0160e8df4df0728126

[2022-03-03 00:53] Luke9389 commented on #7638
Thanks for your detailed proposal @mateusbra.
I've got a few questions.

I'm not sure I understand the cause of the problem. Why would `props.login.credentials` being null end up giving us a 404? That's a condition in a ternary, so wouldn't the second part of the ternary handle that?

I don't love changing isLoading to `isLoading={this.props.account.loading || this.props.account.creatingAccount}`

[2022-03-03 00:54] rushatgabhane commented on #7964
🎀👀🎀 C+ reviewed

@NikkiWines Let's go with @Tushu17's [proposal ](https://github.com/Expensify/App/issues/7964#issuecomment-1056934537)since they reported the issue?

[2022-03-03 00:58] Luke9389 commented on #7739
Oh, I see. Then yea, let's do all places with this PR. 👍

[2022-03-03 01:05] roryabraham commented on #7954
Yes please

[2022-03-03 01:07] rushatgabhane commented on #7487
Thanks for the summary @K4tsuki

This will be a huge product change, and we shouldn't do it just to fix this issue which is an edge case.

This will render local store useless.

I haven't explored any other solutions, but so far this looks the best to me. We're already working on these exact backend changes for this issue https://github.com/Expensify/App/issues/7588

So once that's done, we can go

[2022-03-03 01:53] K4tsuki commented on #7487
@rushatgabhane it also needs function to fetch reportActions  based on the timestamp for example: fetch reportActions where reportid = 'xxx'  AND (modifiedTimestamp >= 'xxx' OR timestamp >= 'xxx').

[2022-03-03 01:55] NikkiWines commented on #7964
Since the two proposals are identical, I think we should give the job to @sobitneupane, since they made a proposal first. I don't believe we have a process where issue reporters get first dibs on an issue cc: @mallenexpensify

[2022-03-03 02:08] mallenexpensify commented on #7964
For reference, here's the details in CONTRIBUTING.md. https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#propose-a-solution-for-the-job

If y'all or anyone else wants to propose an update to this process, please do so in #expensify-open-source, it's been brought up a couple times before in that channel, I'd recommend searching around #expensify-open-source first and gathering some links/de

[2022-03-03 02:23] jliexpensify commented on #7964
@NikkiWines - the MD states:

Which makes me think that  person who identified the bug should be given a chance to propose a solution

[2022-03-03 02:35] sobitneupane commented on #7784
Offer Accepted..

[2022-03-03 02:40] SofiedeVreese commented on #7598
Upping the price to try attract any proposals from anyone who can get this done!

[2022-03-03 02:47] SofiedeVreese commented on #7598
Also updated the OP to reflect the change in direction.

[2022-03-03 03:22] yuwenmemon commented on #7842
@roryabraham any ideas? You were the last one to talk to me about Storybook...

[2022-03-03 03:31] kadiealexander commented on #7967
This is a good issue and will affect accessibility. Moving to engineering for further triage!

[2022-03-03 03:33] kadiealexander commented on #7642
Double the price!

[2022-03-03 03:36] kadiealexander commented on #7626
Paid! Thanks @parasharrajat 😊

[2022-03-03 03:36] #7626 closed

[2022-03-03 03:38] kadiealexander commented on #7462
Offer sent, thank @ahmdshrif!

[2022-03-03 03:38] jliexpensify commented on #7596
Not overdue Melvin!

[2022-03-03 03:39] kadiealexander commented on #7352
@rushatgabhane what do you think of the above proposals? 😊

[2022-03-03 03:42] kadiealexander commented on #7146
Paid @parasharrajat with a reporting bonus!

@kursat, could you please let me know when you've accepted the offer I sent, and I'll issue your reporting bonus too.

[2022-03-03 04:04] Santhosh-Sellavel commented on #7903
@rushatgabhane
My learnings here, on focus mode we can just have selected chats alone, and ignore other chats.

Also, Issue was reported by Applause here.

[2022-03-03 04:11] rushatgabhane commented on #7903
Do you agree that this issue should be closed?

[2022-03-03 04:24] tgolen commented on #7961
You're right @NikkiWines. Looks like it was indicated that it was a security flaw cc @flodnv https://github.com/Expensify/Expensify/issues/193728

I'm going to close this based on it being intended behavior for now, but we can still discuss the UX if we want.

[2022-03-03 04:24] #7961 closed

[2022-03-03 05:04] sobitneupane commented on #7980
**Proposal:**
Add different composer height for android and ios.
https://github.com/Expensify/App/blob/ea691f040cf93490d176015b93293b09c26c3dfc/src/CONST.js#L377
[code]
https://github.com/Expensify/App/blob/ea691f040cf93490d176015b93293b09c26c3dfc/src/components/TextInputFocusable/index.android.js#L66-L74

[code]
https://github.com/Expensify/App/blob/ea691f040cf93490d176015b93293b09c26c3dfc/src/co

[2022-03-03 05:04] mvtglobally opened #7987 "Desktop build is not updated"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. keep previous build app open in docket
2. wait for next build update notification

## Expected Result:
1.1.41-0 build should be either autoupdate