[2022-11-03 21:15] johncschuster commented on #12432
I couldn't reproduce the Onyx error when I followed the repro steps.

Here's what I did:
Go to staging.new.expensify.com
Logged in with [applausetester+0901abb@applause.expensifail.com](https://www.expensify.com/_support/?supportEmail=applausetester%2B0901abb%40applause.expensifail.com&comment=better%20supportal%20issue%20nubmer%3A%2012432&location=_support/)/Feya86Katya
Open Console
Request money

[2022-11-03 21:17] johncschuster commented on #12432
@kbecciv Can you try reproducing this again? If you continue to get this behavior, let's see if we can clarify the repro steps.

[2022-11-03 21:17] michaelhaxhiu commented on #12049
Hey @sophiepintoraetz, just dropping a note as a reminder to [keep the pressure](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109) on to find a contributor and get this one closed out.

cc @Puneet-here and @Santhosh-Sellavel how far away do we think this is? I see updates to the PR as recent as yesterday and curious if this is coming close yet?

[2022-11-03 21:19] michaelhaxhiu commented on #11416
Thanks for the urgency in responding. @adeel0202 if you can locate the PR that fixed this, you are still eligible for a bug reporting bounty :) (per the contributing.md guide [here](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#proposing-a-job-that-expensify-hasnt-posted))

[2022-11-03 21:20] azimgd commented on #10107
Could you try sorting by "Date Modified" ? Depending on implementation it most likely saves as "New Expensify / Chromium Safe Storage"

[2022-11-03 21:22] parasharrajat commented on #12043
Ok, thanks. @michaelhaxhiu Please update the expected result section with
[code]

[2022-11-03 21:22] Santhosh-Sellavel commented on #12049
Requested changes yesterday. The Recent changes had been done 10 hours ago. Waiting for my review will get to it tomorrow!

[2022-11-03 21:23] michaelhaxhiu commented on #11416
😢 sorry to hear that - maybe it'll surface in coming days. Otherwise not to fear, plenty of other bugs to find :)

[2022-11-03 21:23] trjExpensify commented on #8459
Thanks, @shawnborton! @parasharrajat, looks like the PR is ready for you again to complete the testing, though I've asked @sobitneupane to confirm.

[2022-11-03 21:24] Santhosh-Sellavel commented on #12049
@Puneet-here Please post a message once the requested changes are done, not sure if is this ready for review again.

[2022-11-03 21:25] kbecciv opened #12452 "Workspace - User does not see the "error message" when deleting a workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the New expensify app
2. Sign into an account with the correct set up applausetester@applause.expensifail.com
3. Navigate

[2022-11-03 21:25] parasharrajat commented on #8459
Yeah, it's ready. Will be reviewed by tomorrow and probably merged.

[2022-11-03 21:25] pecanoro commented on #10262
What? Insane hahaha @MitchExpensify Can you see if you can reproduce it in a mobile browser?

[2022-11-03 21:25] kbecciv commented on #12452
Issue is not reproduced in production
<img src="https://utest-dl.s3.amazonaws.com/12102/26469/389648/5805000/bugAttachment/Bug5805000_How_the_error_message_displays_on_PROD.PNG?AWSAccessKeyId=AKIAJ2UIWMJ2OMC3UCQQ&Expires=1699046117&Signature=SVGQdZ7b5zhd%2BjgmDLsJqVnnID8%3D" width="40%" height="40%">

[2022-11-03 21:25] eVoloshchak commented on #11438
According to [this comment](https://github.com/Expensify/App/issues/12043#issuecomment-1297594923)

When `Tab` is disabled for emoji navigation, it won't be possible to reproduce this issue

[2022-11-03 21:26] stitesExpensify commented on #10615
not reproducible and on hold

[2022-11-03 21:26] OSBotify commented on #12452
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-03 21:27] stitesExpensify commented on #10699
I'm going to unassign myself to focus on WAQ issues I already have assigned. This is an internal issue as described [here](https://github.com/Expensify/App/issues/10699#issuecomment-1255321001)

[2022-11-03 21:27] parasharrajat commented on #10262
Here is a video.

https://user-images.githubusercontent.com/24370807/199837611-47a13424-b248-4202-ae32-1157d286f626.mp4

[2022-11-03 21:27] michaelhaxhiu commented on #12049
Excellent! I'll leave it to @pecanoro from here to help move it forward.

[2022-11-03 21:28] kbecciv opened #12453 "[HOLD for payment 2022-11-16] [$250] Workspace settings - The "Save" button is unavailable offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in with any account
3. Go to Settings->Workspaces
4. Click on any workspac

[2022-11-03 21:31] osama256 commented on #12028
@michaelhaxhiu [12028](https://github.com/Expensify/App/issues/12028) and [11921](https://github.com/Expensify/App/issues/11921) are the same issue both happen on Chrome and got fixed when using `@react-navigation/drawer` version below `3.6.2`, but [11735](https://github.com/Expensify/App/issues/11735) is different it happens on Firefox and it seems not related to `@react-navigation/drawer` versio

[2022-11-03 21:32] Puneet-here commented on #12453
### Proposal

We need to pass `enabledWhenOffline` at `Form` to keep it enabled

https://github.com/Expensify/App/blob/1dd71747ba2b0c8553d84d51d863d8ae4e12ef64/src/pages/workspace/WorkspaceSettingsPage.js#L82

[2022-11-03 21:33] Puneet-here commented on #12049
It's ready.

[2022-11-03 21:34] michaelhaxhiu commented on #12028
Mind sharing your actual email so we can invite you to #expensify-open-source? It won't let me invite by slack ID unfortunately (sorta sh*tty of slack 😢)

[2022-11-03 21:35] trjExpensify commented on #8459
Don't get me excited for the Friday treats, @parasharrajat! 😅

[2022-11-03 21:35] azimgd commented on #10107
It should theoretically be possible, but most likely would require us to generate our own build of chromium:
- https://chromium.googlesource.com/chromium/src/+/lkgr/crypto/apple_keychain_ios.mm#31 (here is a demonstration how attributes are set on ios)
- https://developer.apple.com/documentation/security/ksecattrsynchronizable?language=objc (api to be used for AppleSecKeychainItemRef attribute)

[2022-11-03 21:35] michaelhaxhiu commented on #12058
Hey @zanyrenney  just dropping a note as a reminder to [keep the pressure on](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109) to find a contributor and get this one closed out. If it helps incentivize @huzaifa-99 to finish the proposal and submit a PR sooner, I would even consider doubling the price now (even with an active proposal in review) 😉

[2022-11-03 21:37] parasharrajat commented on #10107
Not necessarily. We can code our own custom node module. But it is fine if this is complicated.

[2022-11-03 21:39] thesahindia commented on #12028
Yeah it is different (not an only Firefox issue though)

[2022-11-03 21:40] michaelhaxhiu commented on #12066
Hey @mallenexpensify, just dropping a note as a reminder to [keep the pressure](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109) on to find a contributor and get this one closed out :)

Maybe consider doubling price tomorrow (7 day marker) as that could help surface a winning proposal and get us into the PR stage sooner! Will leave it to ya from here.

[2022-11-03 21:43] michaelhaxhiu commented on #12075
This one was just assigned to Monil and so I'm sure he'll be able to get some movement in coming days! Will leave this to @miljakljajic @MonilBhavsar to help drive forward 👍

[2022-11-03 21:45] parasharrajat commented on #8459
No treats for me. :rofl:

[2022-11-03 21:45] mvtglobally commented on #12397
Regression is almost completed
Blockers
https://github.com/Expensify/App/issues/12452

PRs
PR https://github.com/Expensify/App/pull/11313 is failing
checking off https://github.com/Expensify/App/pull/11757#issuecomment-1302193508
PR https://github.com/Expensify/App/pull/12117#issuecomment-1302418879 we are blocked
PR https://github.com/Expensify/App/pull/12162 is failing https://github.com/Expensi

[2022-11-03 21:46] michaelhaxhiu commented on #12082
Setting this to `Daily` as per the new process for all bugs.

To help drive this forward I just bumped the original thread where this was reported. cc @grgia Slack [thread here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667511945832099?thread_ts=1666395031.582879&cid=C01GTK53T8Q)

[2022-11-03 21:47] kbecciv opened #12454 "Log in - After pressing Go back button, the user's email remains in the log in field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to staging.new.expensify.com
2. Put your user name and click Continue
3. Click Go Back button

## Expected Result:
Th

[2022-11-03 21:48] pecanoro commented on #12356
I was able to reproduce but I am not sure if this is something we want to fix or not, it seems like an edge case. I will ask in Slack.

[2022-11-03 21:48] OSBotify commented on #12454
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-03 21:48] kbecciv commented on #12454
Issue is not reproduced in Production changing to Deploy Blocker

https://user-images.githubusercontent.com/93399543/199840930-ed81a941-1104-4477-ae44-5cb2de38111d.mp4

[2022-11-03 21:49] osama256 commented on #12028
@michaelhaxhiu I'm already in #expensify-open-source Slack channel.

[2022-11-03 21:51] thesahindia commented on #12454
Not a bug! It is intentional and was introduced by https://github.com/Expensify/App/pull/12062.

[2022-11-03 21:52] michaelhaxhiu commented on #12120
Hey @conorpendergrast just dropping a note as a reminder to [keep the pressure on](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109) to find a contributor and get this one closed out!

cc @MonilBhavsar to weigh in on the latest question to move this forward, and ideally select a proposal + begin PR phase 🙏

[2022-11-03 21:54] michaelhaxhiu commented on #12141
This seems to be moving forward!

@stephanieelliott just dropping a note as a reminder to [keep the pressure on](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109) to find a contributor and get this one closed out. 👍

[2022-11-03 21:55] thesahindia commented on #12028
@osama256, your username is `osamamostafa` right?

[2022-11-03 21:56] mananjadhav commented on #12454
As @thesahindia pointed out, this is the intended behavior now @kbecciv

[2022-11-03 21:57] michaelhaxhiu commented on #12145
Hey @arielgreen just dropping a note as a reminder to keep the pressure on to find a contributor and get this one closed out! I noticed this has `needs reproduction` for 8 days and so I bumped the related slack [thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1667512652852389?thread_ts=1666460388.819689&cid=C01GTK53T8Q) in #expensify-open-source

[2022-11-03 21:58] osama256 commented on #12028
Yep.

[2022-11-03 22:03] strepanier03 commented on #11387
Thank you for the update @aimane-chnaif and for linking in those other issues. Cheers!

[2022-11-03 22:03] #11387 closed

[2022-11-03 22:03] arosiclair commented on #12283
I don't have a physical iPhone to repro this, but this does look to be fixable by a contributor. Marking external.

[2022-11-03 22:07] michaelhaxhiu commented on #12028
All set, wasn't 100% sure about the slack handle but that makes sense.

[2022-11-03 22:11] strepanier03 commented on #12238
@huzaifa-99, @0xmiroslav, and @eVoloshchak - Please apply for the Upwork job [here](https://www.upwork.com/jobs/~011918eba2b53da485). Thanks!

[2022-11-03 22:13] trjExpensify commented on #11229
How we looking here, ready to move to a PR?

[2022-11-03 22:13] sonialiap commented on #12454
Thanks @thesahindia and @mananjadhav! Closing since this is not a bug

[2022-11-03 22:13] #12454 closed

[2022-11-03 22:15] trjExpensify commented on #11695
@Prince-Hamza were you able to get setup to test here? Don't hesitate to let us know if you continue to struggle with that!

[2022-11-03 22:16] thienlnam commented on #12356
This looks like a bug we've fixed in the past but is now coming back up cc @PauloGasparSv

[2022-11-03 22:19] strepanier03 commented on #11973
@thesahindia - As the reporter please apply for the job [here](https://www.upwork.com/jobs/~01a8fdb4689abc1f23).

[2022-11-03 22:22] thienlnam commented on #12356
Oh found the original issue - https://github.com/Expensify/App/issues/11074

Looks like it is a different issue. It seems like we might not be pushing the new workspace on the API command to invited user when we call AddMembersToWorkspace

[2022-11-03 22:24] MitchExpensify commented on #11195
Paid all, thanks again

[2022-11-03 22:24] #11195 closed

[2022-11-03 22:26] pecanoro commented on #12356
Anyways, it seems we want to fix it, so open to proposals!

[2022-11-03 22:28] Luke9389 commented on #12445
That looks nice. I'm a tad concerned about accessibility (any time we use opacity we end up getting non-contrasting colors), but we could take another pass through the styles later? Idk, what do you think? Is that a concern for you?

[2022-11-03 22:32] shawnborton commented on #12445
Maybe we just do a 1:1 color replacement for now, and then we can revisit this one later? That would be more in the spirit of how we're approaching this anyways. So that being said, I think we get this:
<img width="1177" alt="image" src="https://user-images.githubusercontent.com/2319350/199846863-0c532767-6827-4bec-b85a-69727c6efe61.png">

Thoughts?

[2022-11-03 22:38] michaelhaxhiu commented on #12151
Hey @strepanier03, just dropping a note as a reminder to [keep the pressure](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109) on to find a contributor and get this one closed out. This was just posted a few days ago so not much more you can do at this moment, but let's get clear on your question for @grgia ([above](https://github.com/Expensify/App/issues/12151#issuecomment-12978

[2022-11-03 22:40] michaelhaxhiu commented on #12152
Hey @MitchExpensify, just dropping a note as a reminder to [keep the pressure](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109) on finding a contributor and get this one closed out.

PS whatever you learn from this about the "console" question let's post in Stack Overflow for the future. I don't remember the answer myself (and I'm sure I asked before too 😨)

[2022-11-03 22:41] michaelhaxhiu commented on #12152
Just bumped the associated [slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1667515271416709?thread_ts=1666759616.071549&cid=C01GTK53T8Q) to make sure we have movement!

[2022-11-03 22:41] mallenexpensify commented on #11403
Price Doubled to $1000
https://www.upwork.com/jobs/~01e005c9122cfd5420

[2022-11-03 22:42] JmillsExpensify commented on #11321
Nice one! @quinthar have you had a chance to take the APK for a spin yet? Does that resolve your issue?

[2022-11-03 22:44] Luke9389 commented on #12445
Yeah, I'm down to revisit this one.

I like the look of the prior (opacity 50) version better, but this one does seem more accessible. Maybe we could add an icon or something to make it more obviously 'locked'. Perhaps an actual lock icon right here? Not sure if that helps from an accessibility standpoint... idk

![Screen Shot 2022-11-03 at 3 41 13 PM](https://user-images.githubusercontent.com/490

[2022-11-03 22:44] huzaifa-99 commented on #12238
@strepanier03 Applied, Thanks for the update

[2022-11-03 22:44] fedirjh commented on #11671
@sobitneupane [this issue](https://github.com/Expensify/App/issues/11671#issuecomment-1289926244) is related to the logic of `Onyx.clear` which i think it's not the right pattern , https://github.com/Expensify/react-native-onyx/blob/91aabb7219ddc8722cc2955de0398b1ae70c546d/lib/Onyx.js#L1030-L1040

[code]

that's the time Onyx.clear took to clear and notify subscribers

@puneetlath if i will sugges

[2022-11-03 22:47] shawnborton commented on #12445
Yeah, those are all fair points but I would say let's table that as a separate project from just doing some color updates.

In terms of the lock icon though, I can't say I've seen something like that before. This is what material design does FWIW:
<img width="815" alt="image" src="https://user-images.githubusercontent.com/2319350/199849459-8b15de23-0e73-4b2f-9345-08c21ff2b725.png">

[2022-11-03 22:47] quinthar commented on #11321
I have not, can you send me a link?

On Thu, Nov 3, 2022, 3:42 PM Jason Mills ***@***.***> wrote:

[2022-11-03 22:48] alexpensify commented on #11272
I've confirmed that I need to create the job: https://expensify.slack.com/archives/C01SKUP7QR0/p1667505263441539. I will do so tomorrow!

[2022-11-03 22:48] Luke9389 commented on #12445
Interesting. Maybe we can get away with the opacity 50 approach then. Seems like that's their strategy as well.

[2022-11-03 22:48] aldo-expensify commented on #12243
Context:
- This design doc: https://docs.google.com/document/d/1DI4jQ0nyfi2JczhPT440orwlXsTP_O-aGvg-HLmcbwI/edit# proposed the change to use "uncontrolled' inputs I think
- The has been other conversations in slack about it like this: https://expensify.slack.com/archives/C01GTK53T8Q/p1643302140102200?thread_ts=1640793789.214900&cid=C01GTK53T8Q

In my opinion, it is true that controlled inputs if n

[2022-11-03 22:52] michaelhaxhiu commented on #12036
Are we keeping tracking GHs `weekly`? I think it certainly makes sense to! Just want to ensure we are on the same page.

[2022-11-03 22:53] michaelhaxhiu commented on #12151
Adding the `daily` label back btw! There's more recent context in slack [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1667513707424009) for reference.

[2022-11-03 22:55] michaelhaxhiu commented on #12158
Hmm this doesn't have a BZ or C+ assigned. If this `external` or `internal`? Can we apply that label today based on which is best @techievivek?  Cheers!

[2022-11-03 22:57] michaelhaxhiu commented on #12205
Does that mean `internal` in this case? Let's get the appropriate label assigned so Adele can help drive it forward per this process to [keep the pressure](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109) on to find a contributor and get this one closed out

[2022-11-03 22:58] michaelhaxhiu commented on #12205
PS all bugs should be `daily`

[2022-11-03 22:59] michaelhaxhiu commented on #12208
Heyo @davidcardoza, just dropping a note as a reminder to [keep the pressure](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109) on to find a contributor and get this one closed out :)

Has this job been posted to upwork yet? If not, let's do that as a first step here to increase visibility of this job posting to the public.

[2022-11-03 23:05] shawnborton commented on #12256
[Posted some Slack discussion here](https://expensify.slack.com/archives/C03KN50J0PM/p1667516425430569)

[2022-11-03 23:12] roryabraham commented on #12454
@Expensify/applauseleads can we please update the regression suite if needed?

[2022-11-03 23:14] NicMendonca commented on #12435
👍 reproducible

<img width="1380" alt="image" src="https://user-images.githubusercontent.com/24947345/199852592-ef635174-acad-47e9-a616-24acca2d8655.png">

[2022-11-03 23:17] NicMendonca commented on #12435
Job posting: https://www.upwork.com/jobs/~01449e67e1aa0a0f9d

[2022-11-03 23:20] JmillsExpensify commented on #12036
Yeah I think that's best for now.

[2022-11-03 23:22] JmillsExpensify commented on #11321
Ah ya, it's here: https://drive.google.com/file/d/1HvRg_d97D-R0YlGD49MEqr-ByC9VYBXU/view?usp=sharing

[2022-11-03 23:25] JmillsExpensify commented on #10615
If it's not reproducible, let's add the label and close, yeah?

[2022-11-03 23:28] michaelhaxhiu commented on #12210
Switching back to `daily` per the standard bugzero process. Also just a friendly reminder to [keep the pressure](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109) on to find a contributor and get this one closed out!

A few questions to help move this forward.
1. Is this `external` or `internal`?
2. If it's `external` let's post it to upwork. If it's `internal` and reproducible,

[2022-11-03 23:29] michaelhaxhiu commented on #12237
Heya @miljakljajic just dropping a note as a reminder to [keep the pressure](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109) on to find a contributor and get this one closed out :)

Can we export this one to Upwork since it's external? That'll help increase public visibility on the job.

Also @rushatgabhane are you able to review the proposal today or tomorrow?

[2022-11-03 23:31] alexpensify commented on #12378
Assigning over to engineering for another set of eyes, I was unable to replicate.

![image](https://user-images.githubusercontent.com/8107070/199854308-e771528e-909b-428f-989c-2ce0e7c7c75b.png)

![image](https://user-images.githubusercontent.com/8107070/199854325-a95a2a64-e6db-4fd2-8655-6847f8c18918.png)

[2022-11-03 23:32] michaelhaxhiu commented on #12238
Nice job pushing this one forward! I see the PR is submitted and ready for review by @Beamanator. Let's keep up the momentum.

[2022-11-03 23:37] michaelhaxhiu commented on #12240
Hey @abekkala, just dropping a note as a reminder to [keep the pressure](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109) on to find a contributor and get this one closed out :).

This is posted to upwork so now we need to wait. But if you feel it's there is no interest, you can consider doubling the price ahead of the 7 day window to get more eyes on it ([context here)](https:/

[2022-11-03 23:37] Luke9389 commented on #12443
Hey @shawnborton, I fiddled around in Figma for a while to see if I could get the font files out of it, but alas, I could not.

Would you be willing to provide them here?

[2022-11-03 23:41] michaelhaxhiu commented on #12243
I'm tempted to switch this to `NewFeature` instead of leaving it as a `Bug`. Would ya'll agree?

Also let's not be shy in surfacing a summary in #expensify-open-source or #product about this if we need to get consensus on a path forward.

[2022-11-03 23:41] jasperhuangg commented on #12451
This was my PR so I can investigate. Seems something changed between when I tested it locally and when it was deployed.

[2022-11-03 23:44] aldo-expensify commented on #12243
I see your point, but I don't know what difference it makes :), so, up to you

I asked here: https://expensify.slack.com/archives/C01GTK53T8Q/p1667247847771699 in case it is of any use that conversation

[2022-11-03 23:46] michaelhaxhiu commented on #12243
Sorry missed the slack link you posted above! That's great, and a summary could help if you need consensus 👍 . I think yall have good momentum moving it forward and just helping push things forward.

[2022-11-03 23:49] quinthar commented on #11321
Wooohooo!!!!  Seems to work!!!!!!! (but shows messages in the wrong order)

On Thu, Nov 3, 2022 at 4:22 PM Jason Mills ***@***.***> wrote:

[2022-11-03 23:50] michaelhaxhiu commented on #12245
Adding `daily` label per the latest process for BZ bug handling.

[2022-11-03 23:52] michaelhaxhiu commented on #12246
Hey @kevinksullivan, just dropping a note as a reminder to [keep the pressure](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109) on to find a contributor and get this one closed out :)

Is this one `external` or `internal`? Let's label it accordingly and decide if it belongs in upwork or with an internal engineer. Either way, gonna add the `engineering` label so we can move it fo

[2022-11-03 23:53] roryabraham commented on #12452
Guessing it's something to do with [this PR](https://github.com/Expensify/App/pull/12117)

[2022-11-03 23:56] jasperhuangg commented on #12451
Hmm, looking at the issue it's probably best to wait for https://github.com/Expensify/App/pull/12219 to be merged + deployed first so we can be more sure of what the issue is. I think the offline client may seem to have the wrong value after coming back online because the order of writes and reads is incorrect.

This happened for me locally, but after pulling the changes from https://github.com/Ex

[2022-11-04 00:26] sophiepintoraetz commented on #12210
I'd love to hear from @marcochavezf and @johncschuster to confirm that it's a quick fix from https://github.com/Expensify/Expensify/issues/188579

[2022-11-04 00:29] marcaaron commented on #11768
Spent time today on a minimal proof of concept today that tests out a basic mobile stack flow where we:

- Get rid of the `x` in right hand modal (gotta hit `<` no `x` at all)
- `<` button will either bring you to the "parent" node or the previous screen depending on context
    - The "Search" view would be in the navigation stack and a navigation like this would be possible:
        - `LHN (push)

[2022-11-04 00:35] trjExpensify commented on #12451
Sheesh, fun one! Okay cool, so we should mark this as `internal` right?

[2022-11-04 00:35] dangrous commented on #11245
Should be able to dig into this again tomorrow. TBD on whether or not I can find a solution.

One potential thing to do would just be to duplicate all the logic in https://github.com/Expensify/Web-Expensify/blob/3c2dbb8e310109f8a7fb01e019deb794fd3734d7/site/app/global/app.js#L1182-L1213 into `signin.jsx`. It wouldn't be very clean, but would solve this problem, if we can't figure out the global im

[2022-11-04 00:39] roryabraham commented on #12452
Going to snag this to see if we can get the deploy over the finish line today

[2022-11-04 00:53] grgia commented on #9578
still holding on https://github.com/Expensify/App/issues/10729

[2022-11-04 00:57] roryabraham commented on #12452
@kbecciv This is pretty vague. What is the "correct setup"?

[2022-11-04 00:58] trjExpensify commented on #12243
Fair point about `NewFeature` as it was an intentional implementation for uncontrolled versus controlled inputs

This is [super helpful context](https://github.com/Expensify/App/issues/12243#issuecomment-1302763807) btw Aldo, thanks for doing that! This is also a great point on those other cases I highlighted that have the same effect, but a different cause:

Okay cool, so it sounds like you and @

[2022-11-04 01:00] roryabraham commented on #12452
Seems like a domain restricted policy is a requirement here, need to find out what that is...

[2022-11-04 01:01] mallenexpensify commented on #10599
Doubled price two days ago, not rushing this one, it's a minor bug

[2022-11-04 01:04] cowboycito commented on #10893
@Santhosh-Sellavel

[code]

[2022-11-04 01:07] trjExpensify commented on #11921
It can be reliably reproduced on my side on `v1.2.23-7`. Got a vid Jasper? Are you tapping three times?

![copy junk](https://user-images.githubusercontent.com/16232057/199863397-a3059304-2922-4f09-a692-60fddd0af303.gif)

[2022-11-04 01:20] roryabraham commented on #12452
Okay, I was able to reproduce this locally (albeit with a hack in the API layer)

[2022-11-04 01:24] kbecciv opened #12458 "Web - New Group - When creating a new group, a console error is displayed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in to NewDot with any type of account
3. Click on the "New group" option
4

[2022-11-04 01:42] kavimuru opened #12459 "[HOLD #11189] Chat - Unable to upload all file types"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Bug found when executing #11313
## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in with any account
3. Go to any chat
4. Tr

[2022-11-04 01:42] sophiepintoraetz commented on #11806
I've just tried this now and I'm unable to reproduce so going to close this issue.

https://user-images.githubusercontent.com/42940078/199867027-0256665c-d532-4862-8fec-7481b6caf157.mov

[2022-11-04 01:42] #11806 closed

[2022-11-04 01:46] luacmartins commented on #11427
I left a preliminary review, since there were quite a few things to fix.

[2022-11-04 01:54] sophiepintoraetz commented on #11319
[Posted](https://expensify.slack.com/archives/C01GTK53T8Q/p1667526772175659) in #open-source doubling the price.

[2022-11-04 02:04] AndreasBBS commented on #12298
I've investigated the issue a bit and here are my findings so far:
- On Chrome the nativeEvent that react-native sends to onSelectionChange is of `type: "selectionchange"`
- On Firefox the nativeEvent that react-native sends to onSelectionChange is of `type: "mouseup"
- Both in Chrome and Firefox the event is triggered when the user presses somewhere in the text, so the component is able to update

[2022-11-04 02:10] huzaifa-99 commented on #11403
If this is the expected behaviour

## Proposal
Just to rephrase the expected behaviour
1. `Set Password` button should not be disabled
2. When `Set Password` is clicked, the password should be validated and if invalid the message color should change to red and the form should not submit.
3. When user starts typing again, the red color of the message should change to black (if its red) even with an

[2022-11-04 02:12] roryabraham commented on #12452
Got a fix ready: https://github.com/Expensify/App/pull/12460

[2022-11-04 02:21] roryabraham commented on #12392
Screw you melvin, this should be a weekly, at best.

[2022-11-04 02:24] VikalpP commented on #12005
Hi @sakluger, can you please review the above proposal 👆?

[2022-11-04 02:36] #12452 closed

[2022-11-04 02:45] OSBotify commented on #12397
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12460) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.23-8` :rocket:

[2022-11-04 02:48] marcochavezf commented on #12210
Oh I missed the previous ping, I think it can be external. Contributors can follow [these instructions](https://github.com/Expensify/App/blob/main/docs/README.md) to run the site locally. I tried to update some of the
 tocbot [settings](https://tscanlin.github.io/tocbot/), but I have no luck. Probably it's a CSS style issue.

[2022-11-04 02:55] roryabraham commented on #12397
[The fix](https://github.com/Expensify/App/pull/12460) for the last remaining deploy blocker is being deployed [here](https://github.com/Expensify/App/actions/runs/3390832727)

[2022-11-04 02:59] roryabraham commented on #12397
I doubt that this is a blocker since basic file uploads seem to work as expected still, but I don't see a comment in the PR describing _how_ it is failing. What filetypes fail to upload? etc...

[2022-11-04 03:00] roryabraham commented on #12397
Checking off https://github.com/Expensify/App/pull/12117 because I reconfirmed that it works locally and there's no clear way to test it on staging or production.

[2022-11-04 03:05] roryabraham commented on #12397
Again, there should have been a comment on the PR to explain why it didn't work, and I'm not seeing that.

[2022-11-04 03:09] kevinksullivan commented on #12246
Oh sorry @michaelhaxhiu , thanks for the reminder! Hm, this seems ever so slightly off so I could see a case for fixing. Posting to upwork for external, and hired @Puneet-here for reporting.

https://www.upwork.com/jobs/~018725fa3aa6f93d59

[2022-11-04 03:19] tienifr commented on #12267
@sobitneupane I think FOUC can occur every page not only on login page, so we need to preload all the fonts to prevent this issue.
For performance, all the fonts are loaded only once and will be cached next time.

[2022-11-04 03:34] roryabraham commented on #12397
Verified https://github.com/Expensify/App/pull/12248, checking it off

[2022-11-04 03:35] roryabraham commented on #12397
Verified https://github.com/Expensify/App/pull/12270, https://github.com/Expensify/App/pull/12322, checking them off

[2022-11-04 03:37] roryabraham commented on #12397
Verified https://github.com/Expensify/App/pull/12326, checking it off

[2022-11-04 03:38] roryabraham commented on #12397
Verified https://github.com/Expensify/App/pull/12347, checking it off

[2022-11-04 03:44] roryabraham commented on #12397
Seems like we might not get QA and deploy finished out today, just because it's late already 😞

So I'm going to summarize where we're at:

- https://github.com/Expensify/App/pull/11313 – my understanding from the summary above is that this did not work, but also was not a blocker. Would be great to understand _how_ it did not work, but if it's not a blocker (i.e: isn't broken compared to what's al

[2022-11-04 03:49] OSBotify commented on #12397
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.23-8 has been deployed to staging :tada:

[2022-11-04 04:06] tungmt commented on #12246
PROPOSAL:

Cause: The previous page disappear and new page opens because before navigate to new page the modal of previous page has been dismissed by `Navigation.dismissModal();`

Proposal: Remove the line `Navigation.dismissModal();` it look like work normal on model. For the web with current source when we close the new page (new workspace that just created) it go to /settings . When we remove l

[2022-11-04 04:16] hungvu193 commented on #12400
@zanyrenney my bad. I misunderstood the description, I deleted it since there was a good proposal above.

[2022-11-04 04:26] hungvu193 commented on #12325
@rushatgabhane yeah, it worked on all platforms, I tested them all.
Let me see if we can use selection as a state.

[2022-11-04 04:31] sobitneupane commented on #11854
@hellohublot Will you be able to confirm the following?

[2022-11-04 04:32] hungvu193 commented on #12325
yeah, that's right. If I use selection props, it will look like:

[code]

[2022-11-04 04:55] hellohublot commented on #11854
Yes, from some of the links below, you can see that we submitted the fix to 4.8.4 in order to fix the image file being too large

https://github.com/Expensify/App/issues/9424

https://github.com/react-native-image-picker/react-native-image-picker/pull/2006

https://github.com/react-native-image-picker/react-native-image-picker/compare/v4.8.4...v4.8.5#diff-e80fbe0919b9194e068e83807bd44a593c476cc4a9

[2022-11-04 04:58] AndreasBBS commented on #12325
@hungvu193 Both our approaches work the same when writing an emoji, the big difference is how the paste is handled.
Let's say we're pasting the string `:wave: friend ` in the string `Hello nice to meet you` between the word "Hello" and "nice": `Hello |nice to meet you` (representing the cursor with the char "|")
- Using your approach, after you paste; the cursor would be left at the end of the str

[2022-11-04 05:06] ctkochan22 commented on #12000
Testing locally, looking like it's tied to the guide message.

[2022-11-04 05:06] ctkochan22 commented on #12268
Looks related to https://github.com/Expensify/App/issues/12000

[2022-11-04 05:06] ctkochan22 commented on #11728
Not overdue

[2022-11-04 05:07] ctkochan22 commented on #11814
Not overdue. Lowering priority

[2022-11-04 05:15] tienifr commented on #12435
# Proposal

## Problem

In https://github.com/Expensify/App/blob/533e63ce8b13e573024784836cef0bb7e859e937/src/pages/workspace/WorkspaceMembersPage.js#L294
we get the `details` from `personalDetails`, but when we visit this page directly after login, `personalDetails` is undefined (response from service has not been returned yet)

## Solution
We need to check `personalDetails` is undefined. if yes

[2022-11-04 05:16] sobitneupane commented on #11854
So, the issue with downgrading to 4.8.4 is https://github.com/Expensify/App/issues/9424.

I don't think it's good idea to use the following as it is yet to be tested and approved.

[code]

[2022-11-04 05:21] mananjadhav commented on #11512
PR Review is done. For some reason the flow didn't work for my usual account. I logged in from another account and the flow with the test information worked. Thanks @kbecciv for the help here.

[2022-11-04 05:25] sobitneupane commented on #11671
@fedirjh Let's wait for views in [the thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1667499042719369). If we decide not to make change in Onyx, we can move forward with Marc's suggestion in the thread:

[2022-11-04 05:27] AndrewGable commented on #11711
Artifacts are now working, just doing some final touches on how to comment the results back from AWS here: https://github.com/AndrewGable/App/pull/1

[2022-11-04 05:33] hellohublot commented on #11854
Yes, we'd better do some more testing on this library, I'll also investigate and follow up on this pull request, and then stably upgrade to 4.11.0

[2022-11-04 05:34] AndrewGable commented on #11711
Next steps list:

- [ ] Get commenting on PR working with output from AWS
- [ ] Build two APKs via GitHub Actions to compare (right now it's comparing the same build against itself)
- [ ] Upload both APKs via AWS GitHub Actions workflow
- [ ]  Speed up the tests without introducing false negatives
    - [ ] Re-enable large runners
    - [ ] Speed up the AWS tests

[2022-11-04 05:43] hungvu193 commented on #12449
<b>Proposal</b>
Current reset action on date picker always return the `initialValue`, and every time the picker was showed, the `initialValue` was updated to the current  date picker value, that why when we press `Reset` nothing happened.

<b>Solution</b>
Reset to today every time user preset reset by changing the `reset` function inside `DatePicker/index.ios`:

[code]

Result:

https://user-image

[2022-11-04 05:53] MonilBhavsar commented on #8592
We didn't had proposals to review so bumped to Weekly.

[2022-11-04 05:53] MonilBhavsar commented on #8592
Still waiting for proposals...

[2022-11-04 05:55] MonilBhavsar commented on #11810
Hmm, This looks good. But I'm not sure about the process of using new package. Let's post this in channel and get thoughts from the team?

[2022-11-04 06:02] AndrewGable commented on #11711
First successful comment run here: https://github.com/AndrewGable/App/pull/1#issuecomment-1303012146 🎉

[2022-11-04 06:11] sobitneupane commented on #12267
@alexandermendes The use of fallback fonts as shown in your [video](https://user-images.githubusercontent.com/5636273/199807009-a7022538-d591-4c98-bb8c-614f28a217c0.mov) has shown a good improvement though change is noticeable. I believe use of fallback font will be system-dependent. So, different systems(Mac, Ubuntu,etc.) may have different appearance.

[2022-11-04 06:17] sobitneupane commented on #12267
@tienifr I agree with you as we allow users to open any page directly using deep links.

DO you find any way to make it generalized / DRY as suggested by @roryabraham ?

[2022-11-04 06:33] jayeshmangwani commented on #11403
# Proposal

we can add a check on onChangeText that if the error is true when typing then clear the error message, below are the changes we have to do,

[code]

  https://github.com/Expensify/App/blob/533e63ce8b13e573024784836cef0bb7e859e937/src/pages/settings/NewPasswordForm.js#L72-L82
[code]

# fix video

https://user-images.githubusercontent.com/35371050/199906960-384df9c1-8f65-40c5-8bcf-7f4fc2

[2022-11-04 06:43] hannojg commented on #11711
Looks sexy!

<img width="458" alt="Screenshot 2022-11-04 at 07 43 02" src="https://user-images.githubusercontent.com/16821682/199908647-e2be5caf-db18-4e4d-a5ed-6b05c14661b9.png">

Thank you for finishing up that system Andrew, great work 💪

[2022-11-04 07:01] MonilBhavsar commented on #12120
I strongly agree with this. The function is utilized by all rules, so we should evaluate if it doesn't cause any regression on other markdown rules.

@0xmiroslav could you please explain what exactly you're trying to fix in your second proposal.

In the video, the blank line still appears no? Is it before the fix?
Regarding regression, I would say in testing steps we check for all markdowns affect

[2022-11-04 07:05] MonilBhavsar commented on #11968
Okay 👍 Reapplying Bug label

[2022-11-04 07:11] MonilBhavsar commented on #12120
Okay got it. I think we should fix that as a part of this issue only as they are almost similar.

[2022-11-04 07:57] eVoloshchak commented on #11688
@tienifr, thanks for the updated proposal!
It is working correctly, `maxSequenceNumber === lastReadSequenceNumber`, condition in `isUnread` is always `false`, and the chat is always unread when deleting a message.

@NikkiWines
🎀👀🎀 C+ reviewed!

[2022-11-04 07:59] sobitneupane commented on #12066
@tienifr Thanks for your proposal. I agree with your reason of this problem and your solution looks good.

@tienifr'a [Proposal](https://github.com/Expensify/App/issues/12066#issuecomment-1301842942) Looks good to me.

cc: @srikarparsi

🎀👀🎀 C+ reviewed

[2022-11-04 08:07] MonilBhavsar commented on #12075
I'll take a look

[2022-11-04 08:16] TwizzyIndy commented on #12237
Thanks for reviewing bro @rushatgabhane. I want to update my proposal.
# Proposal

We don't really have to remove the `keyboardEvent` here. We should check whether the current flatlist is at the bottom or not. We shouldn't scroll to the bottom if it is at the bottom. There is `currentScrollOffset` in `ReportActionView` which reflects the current scroll position. So we can check it like this. This

[2022-11-04 08:26] alexandermendes commented on #12267
Partly true. Although this is why I was referring to webs-safe fonts - i.e. fonts that will be present across a large range of devices (see https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Fundamentals#web_safe_fonts).

In my example, Arial and sans-serif will be present on virtually every system. Helvetica and Helvetica Neue in that example will be present on 100% of Macs. So with

[2022-11-04 08:46] sobitneupane commented on #12010
Waiting for proposals

[2022-11-04 08:57] techievivek commented on #12363
My Android build is broken, but I think this could be related to https://github.com/Expensify/App/issues/11962
https://github.com/Expensify/App/issues/12237

[2022-11-04 08:58] sobitneupane commented on #12120
@MonilBhavsar In that case, I believe we should update the issue description to include [this case](https://github.com/Expensify/App/issues/12120#issuecomment-1303052492) as well.

https://user-images.githubusercontent.com/25876548/199932697-9b2169be-092b-4c39-8b7d-145c737e95ce.mov

[2022-11-04 09:12] mountiny commented on #12341
Assigning myself too since Carlos will go ooo and I will help with refactoring of the last 2 commands next week so I dont forget about this 😅

[2022-11-04 09:18] mountiny commented on #8235
@Tushu17 I like your proposal, we just need to update that value. Can you please raise a PR and test all platforms, especially native mobile?

[2022-11-04 09:28] ravindra-encoresky commented on #9580
@mananjadhav [please have a look, ](https://github.com/Expensify/App/pull/10741)
@luacmartins

[2022-11-04 09:46] flodnv commented on #8235
Yeah but I would go with 24MB to be on the safe side.

[2022-11-04 09:48] mountiny commented on #8235
I agree cc @Tushu17

[2022-11-04 09:51] mountiny commented on #11854
We can also make our own fork of that library. Let's see if the maintainer in the repo will respond.

[2022-11-04 10:02] thesahindia commented on #11973
I already have applied to the job.

[2022-11-04 10:03] MonilBhavsar commented on #9391
In focussed mode, this exact issue is not reproducible, right?
The group doesn't appear for me after refresh.

https://user-images.githubusercontent.com/32012005/199946180-a8079f57-57b9-4c20-bf73-464f7a73da2f.MP4

[2022-11-04 10:05] tienifr commented on #11893
Hi @mananjadhav I just created PR for this issue: https://github.com/Expensify/App/pull/12463 please help to review. Thanks

[2022-11-04 10:07] NikkiWines commented on #12264
@shawnborton looking into this implementation more, I think we should the method I mentioned [here](https://github.com/Expensify/App/issues/12264#issuecomment-1301008199) using a png hosted on cloudfront. It's the simplest implementation that allows us to get this over the line with sufficient #urgency.

To use an SVG we'll have to update the props for every location that passes a user avatar (18

[2022-11-04 10:12] thesahindia commented on #11416
Will give it a shot at night.

[2022-11-04 10:33] mountiny commented on #12264
@NikkiWines This makes a lot of sense to me. Feels like an anti-pattern to go with SVG knowing there is a bug and also that we would eventually go back to png.

I think if we use png of high enough resolution it should be more than fine. After all most of the time users see the icon in the small avatar form and rarely they open the expanded view where the svg would be ultimately better.

All an al

[2022-11-04 10:35] eVoloshchak commented on #12246
@tungmt
You are right, this inconsistency is caused by [this](https://github.com/Expensify/App/blob/e434efa1c455620c510441628b94081e0f8a564e/src/libs/actions/Policy.js#L832)
`Navigation.dismissModal()`
However we can't remove it, it was [added](https://github.com/Expensify/App/pull/10949/commits/08e2218f4233c3db789da0f1a11d3a347e94ad0c) to fix an issue with transitions  to existing workspaces from

[2022-11-04 10:40] NikkiWines commented on #11689
Updated the issue and title appropriately, and going to assign the `external` label so we can get someone working on this 🚀

[2022-11-04 10:42] eVoloshchak commented on #8364
I think they should be kept as one issue, this is a single flow in my opinion.

Should it be saturated if the user just entered the Profile page and hasn't made any changes yet?

[2022-11-04 10:43] tienifr commented on #11403
@mananjadhav I created the proposal before: https://github.com/Expensify/App/issues/11403#issuecomment-1271179269, but there're some code changes that makes my proposal is not correct. I've created the PR: https://github.com/tienifr/App/pull/21 to change the logic show error in new password page as https://github.com/Expensify/App/issues/11403#issuecomment-1279963289. Pls help to check again. Than

[2022-11-04 10:57] mountiny commented on #12060
Updating the RN form is kind of a PITA and I havent had time for this yet. Since that takes couple of hours of work and this does not seem like as such a valuable reason to switch I would go ahead with using the original proposal from @Puneet-here.

I hope that make sense, we are trying to squash all the bug and this can be clean up once we eventually update the RN version for something more impor

[2022-11-04 11:09] NikkiWines commented on #11688
Looks good, @isabelastisser can we hire @tienifr for this role please?

[2022-11-04 11:11] miljakljajic commented on #12237
[Job posted to Upwork.](https://www.upwork.com/ab/applicants/1588489145805021184/job-details)

[2022-11-04 11:17] Julesssss commented on #12397
@Justicea83 is attempting to verify #12175 🤞

I'm verifying #12460 🤞

[2022-11-04 11:18] dylanexpensify commented on #10240
@rushatgabhane offer sent!

[2022-11-04 11:31] mananjadhav commented on #11403
Thanks for the proposal. I'll need a few hours before I am in front of the computer to review these. Please bear with me till that time.

[2022-11-04 11:32] miljakljajic commented on #11588
@Puneet-here & @rushatgabhane have been paid, contracts ended, job post closed. Thank you!

[2022-11-04 11:32] #11588 closed

[2022-11-04 11:32] mananjadhav commented on #11893
Thanks @tienifr. Give me a few hours to get to the PR review and the testing.

[2022-11-04 11:36] furkanuzundev commented on #8364
I agree with it.

[2022-11-04 11:36] miljakljajic commented on #11851
Price doubled to 500.

[2022-11-04 11:40] miljakljajic commented on #11877
What action should I take here, sorry?

[2022-11-04 11:45] dylanexpensify commented on #12042
ah nice one!

[2022-11-04 11:49] dylanexpensify commented on #11948
not overdue, will put some more $$$ to it if no updates by Monday

[2022-11-04 11:50] dylanexpensify commented on #9181
@parasharrajat can we get a review of the above proposal?

[2022-11-04 11:51] dylanexpensify commented on #9848
noice! doubled!

Upwork: https://www.upwork.com/jobs/~01c3f1db5c5213e69a

[2022-11-04 11:51] Beamanator commented on #11547
@mallenexpensify looks like payment is due here 👍

[2022-11-04 11:52] dylanexpensify commented on #12045
Price doubled!

[2022-11-04 11:59] techievivek commented on #12158
@eVoloshchak @Ollyws Thanks for clearing that out. I just wanted to be sure this has not popped out from your PR.

[2022-11-04 12:00] Julesssss commented on #12397
Checked off [#12460 ](https://github.com/Expensify/App/pull/12460#issuecomment-1303337989)

[2022-11-04 12:01] techievivek commented on #12206
@bernhardoj I think it's worth discussing in the expensify-open-source channel. Also, feel free to propose a solution since I have added the `external` label.

[2022-11-04 12:01] Julesssss commented on #12397
Also checked off #12452, as the above issue was a fix for this 🎉

[2022-11-04 12:07] miljakljajic commented on #12327
Hey - just kicking off the above checklist. Which PR caused this bug? What do you think we could have done differently in the original PR to prevent this bug from being introduced - and who is responsible for adding the appropriate test?

[2022-11-04 12:09] Gonals commented on #12145
Still waiting for a proposal

[2022-11-04 12:17] Julesssss commented on #12397
Okay, so #12175 is [untestable on native mobile](https://github.com/Expensify/App/pull/12175#issuecomment-1303384054) due to Plaid. While this needs to be fixed, it is not a regression and the same issue is occurring on Prod. Creating a new issue for this!

[2022-11-04 12:25] gadhiyamanan commented on #11737
@slafortune Upwork job missing for reporting bonus

[2022-11-04 12:36] christianwen commented on #10731
Since this involves many repos, I'll get the PRs ready over the weekends. Thanks

[2022-11-04 12:40] michaelhaxhiu commented on #12360
Job is posted to upwork - https://www.upwork.com/jobs/~01c3345eccc1920e68

[2022-11-04 12:41] michaelhaxhiu commented on #12360
This may be a dupe though... one sec.

[2022-11-04 12:42] michaelhaxhiu commented on #12360
Actually nevermind this is not a dupe!

[2022-11-04 12:45] jayeshmangwani commented on #11689
# Proposal

1. we have to create a new function that can check if the report object has any participants with CHRONOS mail in [src/libs/ReportUtils.js file](https://github.com/Expensify/App/blob/main/src/libs/ReportUtils.js) file

[code]

2. we have to pass a new param with like this

[code]

3. we have to pass new param to the contextAction.shouldShow function

https://github.com/Expensify/App/bl

[2022-11-04 12:45] michaelhaxhiu commented on #12360
Notes:

- @AndrewGable I feel pretty strongly this is `external` but please correct me if I'm mistaken.

- @Puneet-here any interest in taking a crack at solving this one since you reported it? 😄 All good if not, but I see you sometimes solving the bugs you raise 🤜 🤛

[2022-11-04 12:46] Julesssss opened #12466 "Revert PR 11313"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Revert PR #11313 which introduces [a regression](https://github.com/Expensify/App/pull/11313#issuecomment-1303462927) to native apps. File uploads are

[2022-11-04 12:47] Julesssss commented on #12466
No need for contributors here. The cause is [detailed here](https://github.com/Expensify/App/pull/11313#issuecomment-1303462927).

[2022-11-04 12:53] Puneet-here commented on #12360
I am not sure I will able to look into this one, I am working on multiple issues right now (on some medium size fishes too hahaha)

[2022-11-04 13:06] christianwen commented on #10622
@Santhosh-Sellavel PR for it here https://github.com/Expensify/App/pull/12465
Thanks

[2022-11-04 13:07] Santhosh-Sellavel commented on #12158
@flodnv @jliexpensify
Will not be able to get this sooner so unassigning, please reassign another C+ by applying the `external` label again, thanks!

[2022-11-04 13:17] Santhosh-Sellavel commented on #11895
Ah missed this, I was told this wouldn't work if we are not part of Beta.
Workspace Chat would show only for users with BETA, So I am not sure it can be fixed externally.

[2022-11-04 13:19] Santhosh-Sellavel commented on #9818
Still looking for a proposal

[2022-11-04 13:20] Santhosh-Sellavel commented on #11522
@ctkochan22 bump!

[2022-11-04 13:20] Santhosh-Sellavel commented on #10632
Still looking for proposals!

[2022-11-04 13:22] Santhosh-Sellavel commented on #10263
This requires additional time to review, will possibly update by Monday!

[2022-11-04 13:25] priyeshshah11 commented on #11391
@parasharrajat any updates on the above?

[2022-11-04 13:32] iwiznia commented on #12319
Awesome, yes @0xmiroslav go ahead. @davidcardoza please hire @0xmiroslav

[2022-11-04 13:33] mvtglobally commented on #12397
PR https://github.com/Expensify/App/pull/11313 is failing https://github.com/Expensify/App/issues/12459. Not a blocker. checking off

[2022-11-04 13:36] joekaufmanexpensify commented on #11916
[Price doubled](https://www.upwork.com/jobs/~015db26f2a7ffd51f3). Posted to [Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1667568941639999).

[2022-11-04 13:36] Julesssss commented on #12397
@mvtglobally  I'm reverting #11313 because there's a [regression on Android](https://github.com/Expensify/App/pull/11313#issuecomment-1303462927).

[2022-11-04 13:37] Santhosh-Sellavel commented on #10202
We already go it covered most of it [here](https://github.com/Expensify/App/issues/10202#issuecomment-1287075354), anyone who is interested should have a quick look at the PR and ensure we don't face those issues reported there.

What are we looking for in a solution here?

- Consistent top and bottom padding for messages in the composer box, with one line or multiple lines. Necessarily padding do

[2022-11-04 13:38] parasharrajat commented on #11391
I just checked. This is working fine for me on Android.

I am facing some issues with my Mac ATM. I will share an update as soon as possible.

[2022-11-04 13:40] Beamanator commented on #11063
Alright well I have some (maybe) interesting findings:
1. It looks like we hardcode the `jpg` file type in NewDot [here](https://github.com/Expensify/App/blob/e434efa1c455620c510441628b94081e0f8a564e/src/libs/cropOrRotateImage/index.js#L92) while for native devices we hardcode a `.jpg` at the end of the filename but set the "type" as `image/png` [here](https://github.com/Expensify/App/blob/e434efa

[2022-11-04 13:40] dylanexpensify commented on #12042
@thesahindia and @fedirjh any idea on the offending PR that led to this bug?

[2022-11-04 13:42] iwiznia commented on #12141
Almost! Small tweak:
[code]

[2022-11-04 13:43] parasharrajat commented on #10107
Still in discussion. Soon we will have some updates.

[2022-11-04 13:46] thesahindia commented on #12042
@dylanexpensify, as mentioned at https://github.com/Expensify/App/issues/12042#issuecomment-1285900417, It is an electron bug. Not a regression.

[2022-11-04 13:46] railway17 commented on #10599
### Proposal

I read the issue description and could reproduce it on my side.

Blue border is displaying because we have the below `box-shadow` CSS in the `index.html`
[code]
![image](https://user-images.githubusercontent.com/29966461/199984995-8f33795d-8941-4773-936f-4ae0649c96f3.png)

So, we can fix this issue in 3 ways.
1. We can remove this style from index.html (But I don't think it is good w

[2022-11-04 13:46] Julesssss commented on #12466
Ignoring this^

The regression cause is [explained here](https://github.com/Expensify/App/pull/11313#issuecomment-1303462927). No contributors to pay out.

[2022-11-04 13:46] #12466 closed

[2022-11-04 13:48] Julesssss commented on #12397
[#11313 was reverted](https://github.com/Expensify/App/pull/12468). Final step is to retest on staging once the builds complete 😫

[2022-11-04 13:52] mvtglobally commented on #12397
@Julesssss What are we re-testing? Blocker or All the files?

[2022-11-04 13:53] Julesssss commented on #12397
@mvtglobally there's one new isseue that will be added to this checklist shorty, so just that one. The CP is in progress now and should be released soon 🤞

[2022-11-04 13:55] OSBotify commented on #12397
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12468) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.23-9` :rocket:

[2022-11-04 14:03] sobitneupane commented on #11689
@roryabraham Since we are preventing users to edit message, do we want to prevent deleting message as well?

[2022-11-04 14:06] johncschuster commented on #11416
Closing the issue per the conversation above. I'll keep an eye out if you find the PR!

[2022-11-04 14:15] sobitneupane commented on #11689
@jayeshmangwani Your proposal looks good to me. Few suggestions:

- Use `isChronosReport` instead of `isChronosRoom`
- Make sure to pass `isChronosReport` to `<PopoverReportActionContextMenu />` as well. It is used in native devices and mWeb.
https://github.com/Expensify/App/blob/e434efa1c455620c510441628b94081e0f8a564e/src/pages/home/report/ReportActionsView.js#L376

@jayeshmangwani's [Proposal](

[2022-11-04 14:17] joekaufmanexpensify commented on #11850
Added a few questions to the thread!

[2022-11-04 14:21] Santhosh-Sellavel commented on #10263
@cowboycito If you are interested in solving this one even native alone, please post your solution as we might consider solving native alone. To make that decision we need your proposal, thanks!

Cc: @MonilBhavsar @michaelhaxhiu

[2022-11-04 14:26] shawnborton commented on #12440
Hey @grgia for link color, let's try bumping them up just a shade darker. So that goes us:

Link: #5AB0FF
Link Hover: #8DC8FF

[2022-11-04 14:28] kavimuru opened #12471 "Unread notification was shown to the recipient for a direct message (DM), despite me deleting the DM that generated that unread notification."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send a DM to a recipient, which will generate an unread notification for them.
2. Delete the DM you sent (which should remove

[2022-11-04 14:30] puneetlath commented on #12378
@alexpensify a couple of things:

1. As a member of the BugZero team, you'll want to keep any `Bug` labeled issues assigned to you, even if you're assigning someone else to help out with the issue. Bug issues that get assigned to you are your responsibility from open to close.
2. Were you testing on staging? When I just tried this on staging I was able to replicate the issue.

[2022-11-04 14:30] Beamanator commented on #12360
@michaelhaxhiu this definitely looooks external, i can't imagine we're doing this swap on the server side 😅

[2022-11-04 14:33] sobitneupane commented on #12330
@aldo-expensify [This issue](https://github.com/Expensify/App/issues/11266) just reopened. Do you think it is related to this issue? It was previously closed believing it was related to https://github.com/Expensify/App/issues/10975

[2022-11-04 14:33] Julesssss commented on #12397
Switch report and reports loaded timing is looking good ✅

[2022-11-04 14:37] michaelhaxhiu commented on #12360
Thanks @Beamanator - i wonder why both you and Andrew got assigned btw 🤔 I didn't notice that till now.

[2022-11-04 14:39] Julesssss commented on #12397
Okay, so I believe we're just waiting for the iOS build to be released and tested @mvtglobally? We're 44 minutes into the build so hopefully we should be close 🤞

[2022-11-04 14:43] mountiny commented on #11962
😬 Thank you for confirming @rushatgabhane  and thanks for pointing this out @0xmiroslav

@chauchausoup can you think of a way how to prevent the regression from happening and solving this issue? Otherwise I am afraid we will have to open this for new proposals.

[2022-11-04 14:44] stitesExpensify commented on #10615
I usually wait until it's not reproducible twice in a row. Is that not the standard process? (genuinely asking)

[2022-11-04 14:47] ntdiary commented on #10107
## Update
I'm also adding a react version that will have similar changes to our app as my previous proposal. 🙂
https://github.com/ntdiary/App/pull/1/files
video:

https://user-images.githubusercontent.com/8579651/200003480-904983e7-009c-47e3-a2c5-a27aa0151ec5.mp4

[2022-11-04 14:48] mallenexpensify commented on #11902
Unable to reproduce on Chrome v1.2.23-9, closing

https://user-images.githubusercontent.com/22508304/200003979-59c59e12-3dc1-4339-9680-0631d7648aee.mp4

@mvtglobally or @aneequeahmad please comment if I'm doing something wrong or if you're able to repro.

[2022-11-04 14:48] #11902 closed

[2022-11-04 14:51] StefStavri commented on #12384
I have read and reviewed this design doc

[2022-11-04 14:52] StefStavri commented on #12251
I have read and reviewed this design doc

[2022-11-04 14:52] #12384 closed

[2022-11-04 14:54] kavimuru opened #12472 "Unable to delete a comment right after copying it to the clipboard reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Actions performed:

1. Go to any chat
2. Right-click/long-press on any comment
3. Click on Copy to clipboard
4. Click on Delete comment before the

[2022-11-04 14:55] cowboycito commented on #10263
@Santhosh-Sellavel honestly my approach would be identical to @0xmiroslav 's. So since they posted the proposal first I think we already have a strong candidate for the issue.

[2022-11-04 14:58] mallenexpensify commented on #11449
@parasharrajat paid, everyone should be paid now, closing 👋

[2022-11-04 14:58] #11449 closed

[2022-11-04 14:59] OSBotify commented on #12397
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.23-9 has been deployed to staging :tada:

[2022-11-04 14:59] mallenexpensify commented on #11852
Thanks @thesahindia , @roryabraham will you review @Ollyws 's proposal plz?

[2022-11-04 15:04] sonialiap commented on #12284
Thanks Matt! @kbecciv let us know if you have any additional info we should be considering

[2022-11-04 15:05] kbecciv commented on #11011
Issue is not reproduced in build v1.2.23-9

https://user-images.githubusercontent.com/93399543/200008078-feb14692-3656-4f75-b3ff-c3d2c5b5c252.mp4

[2022-11-04 15:06] mallenexpensify commented on #12043
and

I think I misread Marc's comment earlier. I strongly disagree with this because `tab` + `enter` is the main way I access emoji.  If you can't access that way you have to always use a mouse, trackpad or a shortcut to open an emoji keyboard.   I think we should always be taking into keyboard accessibility for issues, even if we're not going down the 🐰🕳 now to address all potential accessibility

[2022-11-04 15:08] wildan-m commented on #11964
### Proposal (Updated)

### Root Cause
`ValidateLoginPage` and `MainDrawer` is `<RootStack.Navigator>` screen and `Navigation.navigate(ROUTES.HOME)` is directly open the drawer when the user is logged in:

https://github.com/Expensify/App/blob/a2eda4d48f8ab94912af0f9af90bb75c8359f1e8/src/libs/Navigation/Navigation.js#L142-L147

I think we can't directly trigger `openDrawer` when the parent navigat

[2022-11-04 15:09] puneetlath commented on #11389
@johnmlee101 will this page become obsolete with #passwordless?

[2022-11-04 15:09] mountiny commented on #11962
Oh perfect, @rushatgabhane, thanks!

I think we can close this one then, since it is duplicate and the other issue has higher reward.

I am sorry @chauchausoup this did not work out, thank you so much for your efforts but we cannot proceed with that proposal given it would introduce regression.

[2022-11-04 15:09] #11962 closed

[2022-11-04 15:11] dylanexpensify commented on #10240
payments sent, role closed, contracts ended, thanks yall!

[2022-11-04 15:11] #10240 closed

[2022-11-04 15:11] kbecciv commented on #12335
@mallenexpensify We are expecting to see the error message in one line in the main chat window. But if its expected behavior, please let us know.

[2022-11-04 15:12] kbecciv commented on #12432
@johncschuster Checking again with latest build, will update you shortly.

[2022-11-04 15:14] shawnborton commented on #12264
Okay cool, thank you @NikkiWines for spelling all of that out and I agree with you, let's do PNG for now.

Here is an even more high res version we can use: [Expensify-ConciergeIcon.png.zip](https://github.com/Expensify/App/files/9939664/Expensify-ConciergeIcon.png.zip)

[2022-11-04 15:14] gadhiyamanan commented on #12472
It's already reported on [github here](https://github.com/Expensify/App/issues/11086) but it was closed

I also [commented](https://github.com/Expensify/App/issues/11086#issuecomment-1260529522) to repoen issue

[2022-11-04 15:15] kbecciv commented on #12123
@PauloGasparSv Checking, update you shortly with results

[2022-11-04 15:16] roryabraham commented on #12234
Discussing in the PR. It works as-is, we just need to decide if it's cleaner to implement it with some webpack plugins so we can extract the js and css to separate files and use a more modern code style.

I'm torn, but now leaning towards the webpack-based implementation. If @vladamx doesn't want to do that, we can probably merge the PR as-is

[2022-11-04 15:21] alexpensify commented on #12378
Noted for the future!

Regarding if I was on staging for this test, here are my Preferences in New Dot on the mobile application:

![image](https://user-images.githubusercontent.com/8107070/200011428-f2859e46-78bf-4c5e-8f1c-bcefebf8945d.png)

At this point, do I move to the next step and create a job? It looks like you were able to replicate it.

[2022-11-04 15:22] kbecciv commented on #12123
Re-tested with build 1.2.23.9 and had different behavior this time - directed me to log in page.
Credentials used: applausetester+1101abb2@applause.expensifail.com/Feya86Katya

https://user-images.githubusercontent.com/93399543/200011829-b544b92c-dc8f-4c2a-b14a-5be49baf2624.mp4

[2022-11-04 15:25] kbecciv commented on #10693
Issue is reproduced with build 1.2.23.9

https://user-images.githubusercontent.com/93399543/200013280-868d9077-b15a-4e6b-8db2-baa4b23bb66f.mp4

[2022-11-04 15:26] mountiny commented on #12060
Oh Dang, we have updated this already 😂

In that case this should be fixed now! I think we are good just close this issue then. Not sure if we would pay out anything since there was not really any testing involved here.

Thank you for help everyone though!

[2022-11-04 15:26] mallenexpensify commented on #12066
@srikarparsi , please review @tienifr 's proposal above
https://github.com/Expensify/App/issues/12066#issuecomment-1301842942

[2022-11-04 15:29] kbecciv commented on #11237
Yes, correct. I am referring to this green line above the attachment.

[2022-11-04 15:32] kbecciv commented on #12249
Issue is not reproductible in Web with build 1.2.23.9

https://user-images.githubusercontent.com/93399543/200014749-99c44402-065c-4a4e-8890-c86f57d0b5ac.mp4

[2022-11-04 15:33] kidroca commented on #12043
Removing tab navigation (or a particular item like the emoji button) is a workaround that reduces Apps usability for "shortcut users"

[2022-11-04 15:34] vladamx commented on #12234
@roryabraham

I can implement webpack inlining for a bonus, if everyone agrees.

[2022-11-04 15:41] mallenexpensify commented on #8364
I think my wording isn't/wasn't clear.
- `user just entered the Profile page and hasn't made any changes` = greyed out cuz nothing's been changed
- If a change is made that needs to be saved = saturated
- Once change has been saved = greyed out.

[2022-11-04 15:43] LLPeckham commented on #12255
**Need to update:**

- [ ] Google slides
- [ ] Google Description
- [ ] App Store slides (for iPad and iPhone)
- [ ] App store description

Remaining question(s)
- Do we want blurbs at the top of each slide? We currently do not.

[2022-11-04 15:44] mallenexpensify commented on #8364
Looks like I forgot to create Upwork job earlier, just did and doubled price to $500
https://www.upwork.com/jobs/~0167fcf362c491d826

[2022-11-04 15:47] eVoloshchak commented on #8364
Makes sense, thanks

[2022-11-04 15:47] MitchExpensify commented on #10486
Paid! Thanks all

[2022-11-04 15:47] #10486 closed

[2022-11-04 15:48] lschurr commented on #12458
I was not able to reproduce this in newdot. No console errors are present when I create a new group. Adding Eng for a second pair of eyes.

[2022-11-04 15:48] kevinksullivan commented on #11291
Thanks for the bump @dhairyasenjaliya . Paid!

[2022-11-04 15:48] #11291 closed

[2022-11-04 15:49] shawnborton commented on #12443
Can you let me know the exact font files we're currently using? I think I see that Android and iOS need `.otf` font files - is that right? For web/desktop/mWeb, I am guessing we need .woff files or something like that?

[2022-11-04 15:49] NikkiWines commented on #12264
Sounds good!!

[2022-11-04 15:50] Julesssss commented on #12397
Hey @Expensify/applauseleads, any luck testing [the last issue](https://github.com/Expensify/App/pull/12468) on iOS?

[2022-11-04 15:53] shawnborton commented on #12443
In the meantime, here are the files. You'll have to grab the exact ones you need from these folders, but I think it should be self-explanatory.

Expensify Mono: https://www.dropbox.com/sh/yp1s3pdnbwak5mc/AABLu3m4Fw0MZhctS5DS1w01a?dl=0
Expensify Neue: https://www.dropbox.com/sh/ek37aaosgsh84oh/AACBRBNB7Fk2Gngn8C6EhuGba?dl=0
Expensify New Kansas (note: only .otf files are there currently, waiting to

[2022-11-04 15:54] mallenexpensify commented on #12043
Ahh shit, I think I actually read it _right_ the first time and wrong the second (sorry...)
The point I was trying to make is that I think, when the cursor is in the compose box, the user should be able to click tab to highlight the emoji icon then hit enter to show search (where the cursor is now in the emoji search box).

As far as tab _through_ all the emoji in the search box... I don't really

[2022-11-04 15:54] kevinksullivan commented on #12428
Hm I'm not sure entering the URL should work when completely signed out. If you sent me that link, for example, I shouldn't be able to login/view the details without first entering your username / password.

[2022-11-04 15:57] Tushu17 commented on #8235
@mountiny Okay, I'll set `MAX_SIZE` to `25165824` and error msg to `Attachment size is larger than 24 MB limit.`

[2022-11-04 15:59] mallenexpensify commented on #11547
Thanks @Beamanator , apologies for the delay.
Everyone should be hired, can you please accept and comment on this issue when you have?
https://www.upwork.com/jobs/~01d020bdebc25b53b6

@adeel0202 @aimane-chnaif @sobitneupane

[2022-11-04 16:03] mountiny commented on #8235
@Tushu17 yes please 🙇

[2022-11-04 16:05] MitchExpensify commented on #10356
Nice! Will keep an eye out for an answer to [that SO](https://stackoverflow.com/c/expensify/questions/14574)

[2022-11-04 16:06] vladamx commented on #12339
**Proposal**

The problem:

In WorkspaceMembersPage.js there is a lot of duplicated logic from BaseOptionsList which already supports search and seems like a fit for this kind of lists to be used across the board.

The only difference is that WorkspaceMembersPage supports checkbox ui while BaseOptionsList doesn't.

Solution:

Extend BaseOptionsList to optionally support checkbox UI. As a result we

[2022-11-04 16:08] MitchExpensify commented on #11529
Doubled!

[2022-11-04 16:10] MitchExpensify commented on #11914
Doubled! [Upwork Job](https://www.upwork.com/jobs/~012f8833a82489f411)

[2022-11-04 16:20] MitchExpensify commented on #10262
On iOS Chrome I copy and pasted:

<ComposeProviders
            components={[
                OnyxProvider,
                SafeAreaProvider,
                SafeArea,
                LocaleContextProvider,
                HTMLEngineProvider,
            ]}

Which ended up looking like this:
![IMG_B3C867555965-1](https://user-images.githubusercontent.com/36425901/200025335-1bb911ed-ee96-4069-ba9c-

[2022-11-04 16:26] johnmlee101 commented on #11389
Yess it should 😄 let's put a HOLD on this at a minimum

[2022-11-04 16:35] MitchExpensify commented on #12449
I can't seem to reproduce:

https://user-images.githubusercontent.com/36425901/200028064-bbca832d-666a-4e94-a7ee-45b7492391b3.MP4

[2022-11-04 16:36] tienifr commented on #11737
hi @slafortune I applied to the job a while ago as in https://github.com/Expensify/App/issues/11737#issuecomment-1285231203 but haven't received the offer for the job yet, can you please help check?
thanks

[2022-11-04 16:39] neil-marcellini commented on #11236
Holding for payment, not overdue.

[2022-11-04 16:40] mvtglobally commented on #12397
Checking off https://github.com/Expensify/App/pull/12468

[2022-11-04 16:42] marcaaron commented on #7420
Can someone summarize what needs to be done here?

[2022-11-04 16:42] kidroca commented on #12043
Ok so the bug part is that we somewhat allow "Tab" navigation in the emoji picker (which **can** be opened by tabbing)

We're considering whether to
- prevent "Tab" navigation inside the emoji picker and therefore eliminate the bug
- implement correct "Tab" navigation

Looks like you already agreed to go with 1), but IMO a better UX would be to still allow some partial tabbing e.g.
- you can press

[2022-11-04 16:43] tgolen commented on #12141
@michaelhaxhiu no worries on this one. It's going to be an internal fix.

@iwiznia Ah yes, thank you! Missing that one period to escape

[2022-11-04 16:44] Julesssss commented on #12397
Okay that's it, thanks all.

[2022-11-04 16:45] Julesssss commented on #12397
:shipit:

[2022-11-04 16:45] #12397 closed

[2022-11-04 16:47] tgolen commented on #12339
I'm not totally familiar with all that code, but normally, I am not in favor of adding more functionality to a base class. Ideally, a base class should have very little functionality, and there would be more specific components built on top of it which give the more specific functionality that is needed.

So, I'm not opposed to having a more generic component that is used in many places, but I don

[2022-11-04 16:48] marcaaron commented on #7420
I'm also confused about the bug...

Are we canceling the money request and then closing the account or closing an account that has active requests?

[2022-11-04 16:48] OSBotify opened #12476 "Deploy Checklist: New Expensify 2022-11-04"
**Release Version:** `1.2.24-4`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/12034
- [x] https://github.com/Expensify/App/pull/12096
- [x] https://github.com/Expensify/App/pull/12098
- [x] https://github.com/Expensify/App/pull/12184
- [x] https://gi

[2022-11-04 16:51] johnmlee101 commented on #12453
Confirmed in open-source that we should support saving when offline. Marking external

[2022-11-04 16:52] youssef-lr commented on #12205
@michaelhaxhiu I just added the internal label. Unassigning myself as I'm busy with an API refactor.

[2022-11-04 16:52] neil-marcellini commented on #12453
I'm guessing this regression happened here when we refactored this page to use a form? https://github.com/Expensify/App/pull/11615

[2022-11-04 16:54] youssef-lr commented on #11267
@luacmartins sorry I completely missed your comment. The PR basically handles displaying `errorFields` that are coming from the backend, which isn't currently supported, but isn't widely used in the backend either.

[2022-11-04 16:57] kbecciv commented on #11068
The flow has different behavior now,

https://user-images.githubusercontent.com/93399543/200032273-0f834279-de1e-46a4-bf5f-a253fca56b93.mp4

[2022-11-04 17:02] zanyrenney commented on #12058
@huzaifa-99 and @parasharrajat price is doubled, hopefully we can get this one reviewed and submit the PR sooner 🙏🏼

[2022-11-04 17:02] puneetlath commented on #11389
Ok I'm going to close this out then since this page is about to go away. @thesahindia I sent you a hiring offer for the reporting bonus since it is a current bug.

[2022-11-04 17:02] #11389 closed

[2022-11-04 17:10] aldo-expensify commented on #12330
@sobitneupane it does look very similar the error and the [PR](https://github.com/Expensify/Web-Expensify/pull/35386) fixing this has not been deployed yet. I'll try to see if I can find more info on the crash to see if it the same.

[2022-11-04 17:15] vladamx commented on #12339
@tgolen I agree with you that composition should be preferred but BaseOptionsList is not that composable to begin with which makes it hard to extend in a flexible manner.

Digging a little bit deeper - BaseOptionsList **actually** already has the most of the multiple selection logic with props.selectedOptions and props.onSelect so we would just need to parametrise the display from Circle to Checkb

[2022-11-04 17:15] puneetlath commented on #11982
@mananjadhav can you please help with the step of identifying the PR where this bug was introduced?

[2022-11-04 17:17] aldo-expensify commented on #12330
I looked at crashlytics, but there is no extra information on the data that may have caused the crash. I would say, lets wait for that PR to be deployed.

The crash happened 4 times today, but it was the same device every time, so it is not something common/widespread.

[2022-11-04 17:22] puneetlath commented on #11512
@mananjadhav could you help me with identifying the PR that caused the bug?

[2022-11-04 17:24] sobitneupane commented on #11266
Might be related to https://github.com/Expensify/App/issues/12330#issuecomment-1303905702.

[2022-11-04 17:25] thesahindia commented on #12435
Thanks for looking into it @tienifr. Proposal looks good but can you please share an updated proposal using `lodashGet`

[2022-11-04 17:25] neil-marcellini commented on #11707
@davidcardoza please double the price to $1000 and update the issue title https://github.com/Expensify/App/issues/11707#issuecomment-1297624869

[2022-11-04 17:30] jasperhuangg commented on #12451
sure, I can QA both PRs since I have the most context about what to look out for

[2022-11-04 17:35] thesahindia commented on #11389
Thanks @puneetlath but I am not sure if this is eligible since we aren't compensating unless the issue gets fixed.
Also just curious what's "#passwordless", are we planning to remove passwords?

[2022-11-04 17:40] parasharrajat commented on #12058
WAiting for proposals.

[2022-11-04 17:47] Justicea83 commented on #12353
I setup a test for this locally(using https://www.electronjs.org/docs/latest/api/crash-reporter), and the output doesn't have any useful information.

<img width="1414" alt="Screenshot 2022-11-04 at 5 44 27 PM" src="https://user-images.githubusercontent.com/26106822/200041738-c8167b69-2995-423b-bee6-6e167f6c90cc.png">

[2022-11-04 17:48] Justicea83 commented on #12353
The attached file is a binary file full of crap 😂. Maybe we need to explore other options.

[2022-11-04 17:49] danieldoglas commented on #12458
@lschurr sorry, I'm OOO, not sure why melving added me. Can you please reassing?

[2022-11-04 17:50] roryabraham commented on #12476
Love these shorter checklists, let's keep up with daily deploys 🚀

[2022-11-04 17:52] puneetlath commented on #11389
Yes, we are planning to remove passwords. Which is effectively a fix for this bug, so I think it qualifies.

[2022-11-04 17:52] OSBotify commented on #12476
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.24-0 :rocket:

[2022-11-04 17:56] thesahindia commented on #11389
Cool thanks for clarifying. I have accepted the offer.
I think we can also close https://github.com/Expensify/App/issues/11403?

[2022-11-04 17:56] neil-marcellini commented on #11707
I think the main problem is that the create menu is in a modal so everything outside of that menu is not hoverable since it's covered by a modal backdrop. You can see that the backdrop has a very high z-index meaning it covers everything. I'm not quite sure what the best solution is. I'm also not sure if this is really a problem worth fixing.

![image](https://user-images.githubusercontent.com/262

[2022-11-04 17:57] chiragsalian commented on #12327
My PR here - https://github.com/Expensify/App/pull/11784 caused the bug

Not sure, I missed testing for this usecase. There are a number of error usecases and while we did test for RBR I didn't realize this one would show up visually different.

I think its best for @aldo-expensify to add this scenario to our regression tests since he found it. Is that alright with you aldo?

[2022-11-04 17:58] puneetlath commented on #11403
I think we can likely close this due to #passwordless (cc @johnmlee101)

[2022-11-04 17:58] thesahindia commented on #11707
I just came to comment the same. Let's close this.

[2022-11-04 17:59] shawnborton commented on #12256
Okay so based on the Slack discussion, we decided against:
- any kind of special green brick road plus button treatment
- random welcome messages

So that being said this one becomes way more straight forward and I don't think it needs a design doc. Curious if you agree @JmillsExpensify

[2022-11-04 17:59] mvtglobally commented on #12476
@roryabraham did Android build go through?

[2022-11-04 18:03] oogushikun commented on #9823
@parasharrajat  I believe this bug is related to the comment you left on this issue https://github.com/Expensify/App/issues/7010#issuecomment-1018194823 referencing another issue on react-native-web https://github.com/necolas/react-native-web/pull/1738. also this is affecting all the modals, not just the emojipicker.

[2022-11-04 18:03] marcaaron commented on #12353
I am not 100% sure but I think for it to be useful it needs to be "processed". Not very obvious how do this though 😓

[2022-11-04 18:05] thesahindia commented on #12453
Yup I think so. We already have a [proposal](https://github.com/Expensify/App/issues/12453#issuecomment-1302686778) which will fix this. What's the next step here?

[2022-11-04 18:05] marcaaron commented on #12353
Some good info here -> https://www.bugsnag.com/blog/technical-challenges-with-processing-minidumps-at-large-scale

[2022-11-04 18:06] neil-marcellini commented on #11707
Yeah in a perfect world maybe you would see a pointer style cursor over the X button, but it's a very minor issue and I think it would require a lot of investigation and refactoring to fix. I doubt any users will complain about this as well.

[2022-11-04 18:06] #11707 closed

[2022-11-04 18:07] marcaaron commented on #12353
Feels a little like - we made this so complicated that you have to use a 3rd party to get a good trace 😄

[2022-11-04 18:09] aldo-expensify commented on #12327
Sure! we already have a test that triggers an error at the level of the workspace: https://github.com/Expensify/Expensify/issues/233249#issuecomment-1282947636

I think we just have add step to it to verify that the red brick path is fine at each level.

do you think that makes sense?

[2022-11-04 18:10] Julesssss commented on #12476
Nope, but we're currently investigating.

[2022-11-04 18:11] chiragsalian commented on #12005
Nice I like the proposal. Feel free to create the PR @VikalpP.

[2022-11-04 18:13] maddylewis commented on #12436
hey @kavimuru - i'm unsure how this is an actual bug. will you elaborate on "not setting focus on it" and how that is buggy behavior?

i appreciate it!

[2022-11-04 18:18] jasperhuangg commented on #12237
@TwizzyIndy I like your proposal and am inclined to accept it, but can you modify it a bit to include an explanation of how the logic in this condition would fix the problem? Ping me when you do. Thanks!

[code]

[2022-11-04 18:18] aldo-expensify commented on #12206
I think this is something I missed when I did the Delete workspace API refactor. I think I missed to push the "oldPolicyName" in the delete workspace onyx update like [here](https://github.com/Expensify/Web-Expensify/blob/c00bdb036f07153f1b5f0b4e93d77f89bf67dd89/lib/PolicyAPI.php#L787). It is missing here: https://github.com/Expensify/Web-Expensify/blob/c00bdb036f07153f1b5f0b4e93d77f89bf67dd89/lib

[2022-11-04 18:18] aldo-expensify commented on #12206
I'll change this to internal as it I believe it has to be fixed in the API

[2022-11-04 18:19] aldo-expensify commented on #12206
Thanks for investigating @bernhardoj

[2022-11-04 18:22] luacmartins commented on #11011
Thanks @kbecciv! Ok, I'm gonna close this since we can't reproduce the issue. My guess is that the performance improvements we made to the LHN fixed this somehow. Please reopen if this happens again.

[2022-11-04 18:22] #11011 closed

[2022-11-04 18:24] quinthar commented on #10654
This is 100% still happening.

[2022-11-04 18:28] jasperhuangg commented on #12291
looks like we're still waiting for proposals on this one, not overdue

[2022-11-04 18:30] jasperhuangg commented on #12291
This seems to be relatively edge-casey, gonna mark it as a `Weekly` while we wait for proposals.

[2022-11-04 18:31] neil-marcellini commented on #12314
It's important that if the user pastes in text it shows up as they expect, so we don't want to insert spaces after emojis in the middle of a comment when pasting text, e.x `:smile::apple::hamburger:no space after emojis`. Maybe we could replace the emojis without adding spaces when we [handlePaste](https://github.com/Expensify/App/blob/0610934792957b8e70897e3ea3be9ef9e9d57736/src/components/Compos

[2022-11-04 18:31] stitesExpensify commented on #7420
Cancel and then close the account

[2022-11-04 18:36] marcaaron commented on #7420
Here's what I am seeing so far...

The IOUPreview component tries to fetch the report in the URL or from the action but the API returns 666 "no longer exists". The other participant has no issues viewing the UI (assuming they retain access to the report, but the other user who closed their account does not).

Maybe dumb question... but can we just reshare these IOU reports when someone reopens the

[2022-11-04 18:37] mallenexpensify commented on #7467
@mvtglobally can you see if you can reproduce based on my post above?

[2022-11-04 18:37] marcaaron commented on #7420
Maybe I'm not getting how this feature works. I can't ever remember.

[2022-11-04 18:42] marcaaron commented on #7420
Oh actually it would just be if they are the `managerID` I think. Since if the report has your `accountID` then you would be able to access it still 🤔

[2022-11-04 18:42] parasharrajat commented on #12234
We use babel and browser list to transpile the code to support mostly all browsers.

[2022-11-04 18:43] thienlnam commented on #10693
Thanks! 🟢 to the proposal

[2022-11-04 18:44] lschurr commented on #12298
@Santhosh-Sellavel - could you review this proposal?

[2022-11-04 18:44] mallenexpensify commented on #11816
@sobitneupane @parasharrajat @adeel0202 can you apply for the job here then comment on this issue? https://www.upwork.com/jobs/~01f174bbce556e4071

[2022-11-04 18:49] mallenexpensify commented on #11547
All paid $250/ea.  Thanks!

[2022-11-04 18:49] #11547 closed

[2022-11-04 18:49] aldo-expensify commented on #12206
PR up: https://github.com/Expensify/Web-Expensify/pull/35447

[2022-11-04 18:52] MitchExpensify commented on #10356
Made a note to pay on my calendar!

[2022-11-04 18:53] roryabraham commented on #12234
Not for JS scripts inlined in `web/index.html` – all the transpiled code comes in the main JS bundle, which is still downloading when we show the splash screen.

[2022-11-04 18:53] roryabraham commented on #12234
Cool, let's double this to $500 and have @vladamx implement it using webpack 👍🏼

[2022-11-04 18:57] Santhosh-Sellavel commented on #12298
@AndreasBBS
Thanks for investigating!

Have you checked on the react-native issues is there any related bugs?
Do you have a solution for the bug, if so please share it so I can review it.

[2022-11-04 19:01] neil-marcellini commented on #12314
## Proposal
Insert a space when replacing emojis if the emoji is at the end of the current message.

If @rushatgabhane likes this proposal too then I would like @Puneet-here to go ahead an implement it for me, because he had the first proposal.

[code]

[2022-11-04 19:02] marcaaron commented on #7420
cc @Julesssss @mountiny as I think you guys are probably pretty familiar with the IOU flows and can please tell me if you see any obvious issues with this approach?

**Problem:**

- We [unshare](https://github.com/Expensify/Auth/blob/757090fd668465ebd7f3f18b3bbf6589a7b07755/auth/lib/Account.cpp#L1698-L1701) IOU reports when a "manager/debtor/payer" closes their account.
- If they reopen their acco

[2022-11-04 19:03] parasharrajat commented on #10107
I would say let's hold off doing any further analysis on this issue until we have a conclusion on the discussion. Thanks.

[2022-11-04 19:05] parasharrajat commented on #12234
Yeah, inline scripts are the exception. :+1:

[2022-11-04 19:06] luacmartins commented on #9581
https://github.com/Expensify/App/pull/12252 is merged. No longer on hold.

[2022-11-04 19:06] luacmartins commented on #9578
@grgia https://github.com/Expensify/App/pull/12252 is merged. Removing hold.

[2022-11-04 19:11] luacmartins commented on #11267
@youssef-lr I think it would be a good idea to support `errorFields`. We always want to show the error in the field that caused it, but in the past the API didn't return the error field, but I think that we should incorporate that going forward.

[2022-11-04 19:12] deetergp commented on #12276
Hey @tienifr thanks for your interest in this issue! You are putting the cart before the horse by submitting a pull request. Please submit your proposals with technical details in the GH issue. It is from the GH issues that we select the winning proposal, then move on to pull requests, and PR reviews.

[2022-11-04 19:12] thesahindia commented on #12206
Un-assigning  my self since it's internal.

[2022-11-04 19:13] puneetlath commented on #10356
@MitchExpensify SO is updated.

[2022-11-04 19:13] marcaaron commented on #7420
actually, that solution appears to break all new IOU transactions. 😕

[2022-11-04 19:20] Luke9389 commented on #12264
@NikkiWines, are you planning on switching the Concierge icon on Expensify Help in this issue? I have a separate issue to update the styling of Expensify Help, so I could do it over there if you prefer. LMK, I haven't looked into it yet just in case you were already on it.

[2022-11-04 19:21] roryabraham commented on #12058
Yes, `Pressable` is preferred.

https://github.com/Expensify/App/pull/12034 was just deployed to staging btw, so the `Enter` issue shouldn't exist anymore. Can we just add `focusable=true` to the `TextLink` component [here](https://github.com/Expensify/App/blob/d0ad7de988a88bcf4f2de61053968ba9c9faad0f/src/components/TextLink.js#L60-L68)?

[2022-11-04 19:21] marcaaron commented on #7420
Just noting that if you do not cancel the request but close and reopen you will still get a loading spinner as the payer though the requester will see that they are owed:

![2022-11-04_09-10-47](https://user-images.githubusercontent.com/32969087/200056995-ce9ad4a5-60c0-4894-9a23-cbb095c7cb88.png)

Creating a new request as the user who did not close their account works

![2022-11-04_09-11-00](http

[2022-11-04 19:22] parasharrajat commented on #12058
Yeah, that should do it.

[2022-11-04 19:24] roryabraham commented on #12058
Separately, why is this link even a thing? Why not just show the text input right away???

[2022-11-04 19:27] aldo-expensify commented on #12206
There is a bit to do in the front end too. The optimistic archiving of the chats is also missing to set the `oldPolicyName`, fixing it in this PR: https://github.com/Expensify/App/pull/12479

[2022-11-04 19:29] johnmlee101 commented on #11403
Yeah I think it makes sense with our current implementation that this wouldn't be a problem with #passwordless

[2022-11-04 19:30] kbecciv opened #12480 "[HOLD for payment 2022-11-18] [$250] Attachments - Preview is broken for Protected PDF file (iOS and Android)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Attach any protected PDF file
4. Open the PDF file

## Expected Result:
Preview i

[2022-11-04 19:37] marcaaron commented on #7420
ah sorry, can you clarify what you think that would solve? I'm not sure what the "it" in your question refers to.

[2022-11-04 19:37] trjExpensify commented on #12268
Got it, so does it need to be internal as per this comment? https://github.com/Expensify/App/issues/12000#issuecomment-1296576574

[2022-11-04 19:39] parasharrajat commented on #12058
BTW, I am able to focus on the link without any changes. But pressing `Enter` when the link is focused does not open the form, instead, submit the Attachment. This is happening due to the Enter key handler in the capture phase on Send button.

[2022-11-04 19:40] joekaufmanexpensify commented on #12450
I am not sure this is a bug. Discussing [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667590817477439).

[2022-11-04 19:44] joekaufmanexpensify commented on #12450
Agreed in above thread this is not a bug. Closing!

[2022-11-04 19:44] #12450 closed

[2022-11-04 19:44] trjExpensify commented on #11543
Settled up!

[2022-11-04 19:44] #11543 closed

[2022-11-04 19:47] kbecciv opened #12482 "[$250] New Room - Incorrect error message is displayed for the empty field under room name."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12184

## Action Performed:
1.Go to staging.new.expensify.com
2. Log in with e

[2022-11-04 19:48] roryabraham commented on #11823
Thanks for your flexibility in making those changes, @vladamx. Let's keep pushing the PR forward, I just reviewed it again.

@maddylewis can we bump the budget for this up to $1000 plz?

[2022-11-04 19:52] tylerkaraszewski commented on #12281
Applause, please re-test and see if this is reproducible or not.

[2022-11-04 19:58] roryabraham commented on #12058
Thanks for that context, @parasharrajat.

So you're not able to reproduce this issue, even on Firefox?

@parasharrajat Can you please bring this up in [this issue](https://github.com/Expensify/App/issues/11354) instead?

[2022-11-04 20:00] VikalpP commented on #12005
Thanks, 🎉

@rushatgabhane / @chiragsalian
Is there any format to follow while applying for this on Upwork?

[2022-11-04 20:00] kavimuru opened #12483 "DEV- Web - Console error while navigating to Manage members page in Workspace reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login to web app.
2. Click on user icon(settings) > workspace > manage members

## Expected Result:
No console error

## Actu

[2022-11-04 20:05] strepanier03 commented on #12027
Price doubled - [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667592282601709).

[2022-11-04 20:06] parasharrajat commented on #12058
Yeah, seems to be working fine.

https://user-images.githubusercontent.com/24370807/200065129-68db6ebe-ce41-4cc7-b625-238bebdd5ad4.mp4

[2022-11-04 20:06] puneetlath commented on #7420
Sorry, what I meant was that if we cancel the IOU request before closing the account, then theoretically there is nothing that needs to be reshared when the account is re-opened since the IOU no longer exists. Perhaps that is overly simplified though.

[2022-11-04 20:08] strepanier03 commented on #11973
@thesahindia can you link me to your Upwork profile so I can be sure I'm hiring the right person? I see a few different applications and I just want to make sure.

Thanks!

[2022-11-04 20:09] parasharrajat commented on #11354
Regression: I can reproduce this issue.
Step:
1. Click :heavy_plus_sign: on the composer.
2. Click add attachment.
3. Select a locked PDF.
4. On the attachment Modal.
5. Tab over the  `enter the password` link.
6. Press Enter.
7. attachment is sent instead of showing the passwordForm.

[2022-11-04 20:13] thesahindia commented on #11973
Sure, https://www.upwork.com/freelancers/~0107fb10c8087f6a5a

[2022-11-04 20:17] VikalpP commented on #12005
Applied on Upwork. ✅
I'll raise a fix PR for this max by 7 Nov.

_Please communicate if anything else that I need to know. (this would be my first time contributing to Expensify)_

[2022-11-04 20:17] strepanier03 commented on #11973
Thank you! I have hired you now and appreciate you working with me.

[2022-11-04 20:18] strepanier03 commented on #11973
You can ignore that!

[2022-11-04 20:41] marcaaron commented on #7420
Got it, the loading spinners will still happen even if you manually cancel the request before closing your account. We could cancel the IOU transaction automatically when someone closes their account - but they would still lose access to the IOU report itself (so the UI will keep showing the loading spinner in both scenarios).

I still can't really think of why someone would need to have an IOU re

[2022-11-04 20:47] quinthar commented on #10654
Here's a video of scrolling in a normal website, versus scrolling in NewDot.  Note that NewDot scrolls like 2-3x faster.

https://user-images.githubusercontent.com/575186/200071831-4724cc45-dcc7-46f7-8570-9508554dbedb.mp4

https://user-images.githubusercontent.com/575186/200071795-bbc7daa4-6133-4fc5-97c3-8c2f5250905c.mp4

[2022-11-04 20:50] eVoloshchak commented on #11438
Looks like discussion is still ongoing in https://github.com/Expensify/App/issues/12043

[2022-11-04 20:53] Luke9389 commented on #11809
waiting for proposals.

[2022-11-04 20:53] Luke9389 commented on #4733
reviewing

[2022-11-04 20:53] Luke9389 commented on #11171
waiting for proposals.

[2022-11-04 20:54] parasharrajat commented on #4733
Will be reviewed by tomorrow. Done for today.

[2022-11-04 21:00] vincentrohde commented on #8364
@eVoloshchak @mallenexpensify is this issue still up for grabs?

[2022-11-04 21:12] Puneet-here commented on #11341
Hi @Beamanator, I am making the changes right now and found that we don't display this modal anymore https://github.com/Expensify/App/blob/f2973f88cfc0d36c0dbe285201d3ed5e12f29d87/src/pages/settings/Security/CloseAccountPage.js#L125
Just wanted to confirm if I should remove it.

Also needed help, I couldn't find where we are setting success message at `closeAccount` onyx key. we are accessing it h

[2022-11-04 21:13] mmarceau commented on #12025
@rushatgabhane Let me first explain that I'm new here and I'm learning so I apologize ahead of time if I'm wrong. I looked at @Ollyws code and tested it locally. It does work for me. I'm not sure exactly how it could lead to a race condition like you suggested. Since `setState` is always called now and not wrapped in a conditional, it seems like a solid solution so I'm wondering what I am missing

[2022-11-04 21:35] JmillsExpensify commented on #12433
Looks like the `Internal` issue doesn't randomly assign yet, so I've added the `Engineering` label in it's place.

[2022-11-04 21:37] JmillsExpensify commented on #12433
For context, this is a high-value bug in conjunction with API Unchained.

[2022-11-04 21:39] slafortune commented on #12361
Version 1.2.21-4 (1.2.21-4)
Version 1.2.18-10 (1.2.18-10)
I'm not able to recreate this on production or staging - I quit and reopened as well as navigated between conversations

![image](https://user-images.githubusercontent.com/11725910/200078646-eb179358-fa51-43a6-a72a-10d961c88485.png)

[2022-11-04 21:44] aneequeahmad commented on #11135
Reminder

@MitchExpensify , @mvtglobally

[2022-11-04 21:48] slafortune commented on #12361
Job created - https://www.upwork.com/ab/applicants/1588649339345018880/job-details

[2022-11-04 21:52] strepanier03 commented on #12238
@0xmiroslav - Please let me know when you apply for the job and I'll go in and hire.

I've accepted the applications from @huzaifa-99 and @eVoloshchak, thank you both!

[2022-11-04 21:54] mallenexpensify commented on #12335
@kbecciv I'm still unsure of what that's supposed to look like, do you have a screenshot example?

[2022-11-04 21:55] marcaaron commented on #7420
Looks like when someone closes their account the "active" IOU report's state and status go from:

[code]

to

[code]

AFAICT iou reports should not ever have a state of 0 and are always either `SUBMITTED` or `MANUALREIMBURSED`.

It is getting rejected like @stitesExpensify found above.

Ok so, alternative idea...

1. If the IOUReport shared has a non-zero total then rejact all the transactions on

[2022-11-04 21:56] strepanier03 commented on #11863
@Uros787 - Can you please take a look @sobitneupane question for you so we can keep this one moving forward?

[2022-11-04 22:01] tjferriss commented on #11903
I was not able to reproduce the issue following the steps outlined. @mvtglobally are you still seeing this issue? If so, can you clarify the steps to reproduce.

https://user-images.githubusercontent.com/8292562/200081258-68a898ec-6ce2-40b5-a8d8-92302f051b8e.mov

[2022-11-04 22:02] mallenexpensify commented on #8364
@vincentrohde [All issues with `Help Wanted` ](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3A%22Help+Wanted%22)should be awaiting proposals. Be sure to familiarize yourself with out https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md.

[2022-11-04 22:03] tjferriss commented on #12340
Bumped the Slack thread to arrive at a conclusion.

[2022-11-04 22:13] tjferriss commented on #11771
Payments have been issued to @thesahindia and @mollfpr, the contract has been completed, and the Upwork post has been closed. Great job everybody!

[2022-11-04 22:13] #11771 closed

[2022-11-04 22:13] isagoico commented on #12454
@roryabraham Steps have been added to cover the new expected behavior in the regression
- [Log in to a newly created account and "Go Back" button](https://expensify.testrail.io/index.php?/cases/view/1970997)
![image](https://user-images.githubusercontent.com/44479856/200082550-c512717d-552c-432e-987a-a1a4595e31c7.png)

Let me know if these are good or if any correction is needed.

[2022-11-04 22:14] isagoico commented on #11866
Yep! These have been updated already 🙇‍♀️

[2022-11-04 22:23] tjferriss commented on #11689
Upworks job post is live: https://www.upwork.com/ab/applicants/1588657705516900352/job-details

@jayeshmangwani and @sobitneupane can you both please apply?

[2022-11-04 22:25] aldo-expensify commented on #12327
Created issue requesting applause to update the test: https://github.com/Expensify/Expensify/issues/240986

[2022-11-04 22:25] aldo-expensify commented on #12327
Should we close this?

[2022-11-04 22:32] tjferriss commented on #11438
@eVoloshchak to clarify your comment, do you expect the proposed solution here would resolve the related issue https://github.com/Expensify/App/issues/12043. If so, it seems like we should close that issue and consolidate everything here. cc @maddylewis @marcaaron

[2022-11-04 22:35] aldo-expensify commented on #12327
Hmm, just saw that this other PR https://github.com/Expensify/App/pull/12117/files from @Justicea83 fixed it the other way I mentioned [here](https://github.com/Expensify/App/issues/9971#issuecomment-1297811429). This ended up making the workspace have an extra red dot here:

<img src="https://user-images.githubusercontent.com/87341702/199128189-f05ee54f-a52b-45f0-97ce-49ab6a17af87.png">

I think

[2022-11-04 23:02] kbecciv opened #12487 "[HOLD for payment 2022-11-16] [$250] Chat - App is crashed after click on expensifail account which is closed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition:
Create a group conversation with account A and B ( should be expensifail account)
Close the expensifail account und

[2022-11-04 23:03] OSBotify commented on #12487
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-04 23:06] alexpensify commented on #12378
I've not been able to replicate but have assigned `External` for another round of testing before creating the job. Thanks!

[2022-11-04 23:07] kbecciv commented on #12487
Issue is not reproducible in production
![image (30)](https://user-images.githubusercontent.com/93399543/200087266-de979e75-86c4-4acd-ba25-7001af109e7d.png)

[2022-11-04 23:13] dangrous commented on #12132
After some further testing, i think this is actually now working as expected (it IS different from the initial videos above) but I'm not sure if "as expected" is ideal. It DOES show an RBR, but it shows up next to the user avatar so it's a bit hard to notice (that's why I missed it). I'm happy to close this for now and revisit later, though, since it might be a larger discussion on where that RBR

[2022-11-04 23:17] youssef-lr commented on #12433
@luacmartins just pushed a fix for this one, I'm curious if I missed anything as it was a relatively simple change.

[2022-11-04 23:22] alexpensify commented on #11825
Cool, looks like we are moving to reviews!

[2022-11-04 23:43] AndrewGable commented on #11711
Ran into all Android builds breaking today: https://expensify.slack.com/archives/C01GTK53T8Q/p1667584299633799

Wasn't able to fix this error so it halted development. I will try again next week to finish the next steps list.

[2022-11-04 23:44] aneequeahmad commented on #11523
- Link to bug report : https://expensify.slack.com/archives/C01GTK53T8Q/p1661272228750899
- Bug Reporting time: Aug 23rd at 9:30:28 PM
- Decided [this](https://github.com/Expensify/App/issues/11523#:~:text=on%203%20Oct-,This%20entire%20part%20of%20the%20app%20is%20being%20refactored,-.%20I%27m%20closing%20this) that this part of app should be refactored (3rd Oct, 2022).

cc: @mallenexpensify

[2022-11-04 23:48] aldo-expensify commented on #12327
Lol, you are right

I agree. I'll ask in the slack you linked https://expensify.slack.com/archives/C01GTK53T8Q/p1666955764560879

[2022-11-04 23:51] marcaaron commented on #7420
Tested the above solution out and it works pretty good here are some drafts:

https://github.com/Expensify/Web-Expensify/pull/35453
https://github.com/Expensify/Auth/pull/7228

[2022-11-05 00:03] marcaaron commented on #12487
Not able to reproduce this. Please list the **exact** testing steps that were performed in order to trigger the bug.

[2022-11-05 00:15] luacmartins commented on #12433
Nice! I'll review it on monday!

[2022-11-05 00:23] aldo-expensify commented on #12327
Fixing red indicator: https://github.com/Expensify/App/pull/12491

[2022-11-05 00:41] thesahindia commented on #12435
`FullPageNotFoundView` can be seen at other pages too.
If you follow the steps below can see this at workspace initial page
Steps:-
1.Go to settings
2. Go to to workspaces > open a workspace
3. Copy the URL
4. Sign out > paste the URL and press enter
5. Now login

 I don't think displaying the loading indicator at only workspace members page will do any good.

@NikkiWines, should we deal with this

[2022-11-05 00:47] quinthar commented on #11241
Agreed this seems to have been fixed  I can reproduce either.

On Tue, Nov 1, 2022, 8:30 AM Peter Velkov ***@***.***> wrote:

[2022-11-05 01:18] mollfpr commented on #9581
@neil-marcellini @luacmartins Can I work on this?

[2022-11-05 01:23] parasharrajat commented on #11391
Based on this, you are saying that KeyboardAvoindingView is not working. I don't think this is correct. It is working for the `Rate` field.

---

Waiting for proposals.

[2022-11-05 01:27] kbecciv commented on #12487
1. Go to staging.new.expensify.com
2. Log in with account A (50821-11-96/Feya86Katya
3. Select the chat conversation with applausetester+0709abb@applause.expensifail.com
4. Click on applausetester+0709abb@applause.expensifail.com avatar

[2022-11-05 01:29] kbecciv opened #12492 "Desktop - Console error when opening the app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Check the console

## Expected Result:
Should be no console error

## Actual Result:
Error in console

## Workarou

[2022-11-05 01:33] kbecciv opened #12493 "[$250] Web - Chat - Email address is superimposed with user's avatar when the mouse clicks on the chat's name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Go to any chat
4. Hover the mouse cursor over the ch

[2022-11-05 01:35] sobitneupane commented on #11816
@mallenexpensify Applied.

[2022-11-05 01:43] parasharrajat commented on #11845
I think we prioritized write operations before Reading in some PR. So this should be fixed by that.

I will discuss this on slack on Monday(when the team is active).

[2022-11-05 01:48] mollfpr commented on #11815
Bump @mateocole

[2022-11-05 01:50] kbecciv opened #12495 "Chat - "Comment" is incorrect written in Spanish"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Prerequisite User is using Spanish as preference language in app.
1. Open any chat with previous messages sent.
2. Right click in

[2022-11-05 01:56] parasharrajat commented on #9181
It is easily reproduced with build 1.2.23-7

Is your proposal still valid? @ntdiary

[2022-11-05 02:06] syedsaroshfarrukhdot commented on #12495
**Proposal**

The issue is a typing mistake in `es.js` we can simply change the spelling from `Commentario` to `Comentario`

https://github.com/Expensify/App/blob/main/src/languages/es.js#L197

<img width="1220" alt="Screen Shot 2022-11-05 at 7 06 11 AM" src="https://user-images.githubusercontent.com/81307212/200096357-96d5b36f-1d83-4879-b801-846707b90707.png">

[2022-11-05 02:08] sobitneupane commented on #10848
@flaviadefaria Waiting for payment.

[2022-11-05 02:13] ntdiary commented on #9181
Yes, this is a fix for our current code.

<hr />

I just wanted to say that this code you discussed before seems to be missing

[2022-11-05 02:13] sobitneupane commented on #11689
@tjferriss The [proposal](https://github.com/Expensify/App/issues/11689#issuecomment-1303465185) is not accepted yet. Waiting approval from @roryabraham.

[2022-11-05 02:49] tienifr commented on #12435
# Updated proposal
## Solution
We need to check personalDetails is undefined. if yes we'll fallback to using the default default value

[code]

[2022-11-05 02:51] tienifr commented on #12435
@thesahindia Thank for your review, I updated my proposal above.

[2022-11-05 03:01] syedsaroshfarrukhdot commented on #12480
**Proposal**

The issue is in PDFView `index.native.js` as we need to pass height and width to `KeyboardAvoidingView`

https://github.com/Expensify/App/blob/38b1d8477115094299d8584768fd4694170234a4/src/components/PDFView/index.native.js#L145-L153

We need to pass styles `style={[styles.w100, styles.h100]}` to `KeyboardAvoidingView`

After Fixing :-

<img width="419" alt="Screen Shot 2022-11-05 at

[2022-11-05 03:25] chauchausoup commented on #11962
I dint understand whats happening. How do it cause regression when my proposal is not even deployed?

[2022-11-05 03:27] chauchausoup commented on #11962
My proposal was posted earlier than @0xmiroslav 's right?

[2022-11-05 04:50] hungvu193 commented on #12449
You need to select a value first, after that press Reset

[2022-11-05 07:48] jayeshmangwani commented on #12045
Can anyone please confirm that issue is still reproducible, I am not able to reproducible on my side

[2022-11-05 12:08] trjExpensify commented on #12251
I have read and reviewed this Design Doc!

[2022-11-05 12:09] trjExpensify commented on #12386
Done!

[2022-11-05 12:10] #12386 closed

[2022-11-05 12:23] drkcod3 commented on #12292
Bump. I haven't been invited to the slack channel to get help fixing basic babel issues so I can get to fixing this issue.

@laurenreidexpensify takes ages to reply :)

[2022-11-05 13:32] VikalpP commented on #12005
@chiragsalian / @rushatgabhane

Slight correction in my proposal, I mistakenly posted wrong the wrong line reference.
I meant to change the height for the below line -
https://github.com/Expensify/App/blob/0724337138a4d80f6603074cc9af5c186cb524ec/src/styles/StyleUtils.js#L100

Also, to fix any regression on Mobile iOS, we would use `height: 'calc(100vh - 100%)'`.

[2022-11-05 13:33] VikalpP commented on #12005
I have changes ready to be pushed, just waiting on someone to accept my proposal on Upwork & initiate the contract.

[2022-11-05 13:56] mountiny commented on #11962
@chauchausoup sorry for the confusion. You can read [this comment](https://github.com/Expensify/App/issues/11962#issuecomment-1297304687), the solution you have proposed is a revert of a PR which fixed a regression.

Rushat has confirmed that your PR is experiencing the issue so it would cause a regression unfortunately. I realize you have proposed solution earlier however, since this solution has

[2022-11-05 15:11] mallenexpensify commented on #12432
Bumped back to daily @johncschuster , per the new BZ process.

[2022-11-05 15:14] mallenexpensify commented on #12290
Bumped back to daily per our new BugZero process, [internal Slack thread with deets](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109)

[2022-11-05 15:20] mallenexpensify commented on #12291
Bumped back to daily per our new BugZero process, [internal Slack thread with deets](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109)

[2022-11-05 15:20] mallenexpensify commented on #12298
Bumped back to daily per our new BugZero process, [internal Slack thread with deets](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109)

[2022-11-05 15:20] mallenexpensify commented on #12324
Bumped back to daily per our new BugZero process, [internal Slack thread with deets](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109)

[2022-11-05 15:28] mallenexpensify commented on #12392
@roryabraham , we're wanting BZ assigned for internal bugs and for them to remain daily, does the OP have everything needed to be worked on? Also.. I'm double checking here on the exact process [here ](https://expensify.slack.com/archives/C01SKUP7QR0/p1667662020687219?thread_ts=1667064948.124109&cid=C01SKUP7QR0)for engineers.

[2022-11-05 15:32] Someone-here commented on #11094
### Proposal

I noticed that when selecting an option, The code below would focus the TextInput after selecting.

![selectRow](https://user-images.githubusercontent.com/77237602/200127379-bad0fce4-f506-47ba-8672-7662a12b76d5.png)

We can solve this by passing the `shouldFocusOnSelectRow` prop as false.

![props](https://user-images.githubusercontent.com/77237602/200127451-036f84ea-1e18-439b-baed-1

[2022-11-05 15:35] puneetlath commented on #7420
Nice!

[2022-11-05 16:02] dev-attiq commented on #8364
When I visit the profile page https://staging.new.expensify.com/settings/profile, the save button always looks clickable it doesn't matter if we change anything.
What we can do is, by default, we will set the button state which will change the button color to faded green and the button will not be clickable.
We will keep track of the changes made on the profile page and if there is something that

[2022-11-05 18:52] mananjadhav commented on #11471
@dhairyasenjaliya This PR is in draft for a few days. Can we please have it closed soon? Can you please send us an update on this one.

[2022-11-05 18:55] mananjadhav commented on #11732
@johncschuster @pecanoro  This was deployed to production but it's payment date is updated.

[2022-11-05 18:56] mananjadhav commented on #11815
@mountiny @mateocole Can you expedite please? It is 4 days overdue the payment date.

[2022-11-05 18:56] mananjadhav commented on #11848
@ntrepanier @aldo-expensify This was deployed to production but it's payment date wasn't updated

[2022-11-05 19:01] mananjadhav commented on #12027
Not sure what you mean here @Uros787. But we do have chat room creation with Pusher notifications. So that's how the chat/group chats show up. I am guessing this isn't happening for `#announce` room chats.

[2022-11-05 19:02] mananjadhav commented on #12188
@shawnborton Can we confirm here if vertical UI is what we are going ahead with?

[2022-11-05 19:26] mananjadhav commented on #12291
Thanks for the proposal @daraksha-dk. I am not sure I follow your proposal. I don't see why/where would we need to add a `key`?

Also why do e need to update it with `submitterPayPalMeAddress` ? How does it handle refresh problem?

---

Still open for proposals.

[2022-11-05 19:31] mananjadhav commented on #12276
Thanks for the interest @tienifr. But as @deetergp mentioned, please send a proposal instead of a PR to be able to review and move forward to the PR stage. I like your idea of creating `optimisticData` but I don't agree with a lot of your changes on modify the function parameters, I am not sure how you're gonna get `icons[0]` for login being offline etc.

So can you send in a proposal with the tec

[2022-11-05 19:33] tienifr commented on #12276
@mananjadhav @deetergp thank for your review, I'll update my proposal asap.

[2022-11-05 19:35] mananjadhav commented on #11403
@mallenexpensify @tgolen @johnmlee101 @puneetlath Should we hold/close this then?

[2022-11-05 19:44] mananjadhav commented on #11094
Thanks for the interest here @Someone-here. While I am trying to review your proposal, I don't understand why would this work on mobile App properly but not mWeb. Your proposal _might_ fix it, but do you have the cause why the behavior is different on mWeb only?

[2022-11-05 19:58] mananjadhav commented on #9391
@MonilBhavsar I think the issue is now that the empty `group chat` behavior is different in focused mode and the recent chats mode.

- For the `focused` mode in your video, empty group chat shows up when you go back to LHS
- For `recent chats` mode, empty group chat won't show up when you navigate back to LHS unless, you have a draft chat.

With the last few comments, we're aiming to make the beha

[2022-11-05 20:10] mananjadhav commented on #12020
I can't reproduce this on the staging? Should we for another KI and close this?

@CortneyOfstad @srikarparsi Is one of you able to reproduce this?

[2022-11-05 20:25] tlerias commented on #8364
# Issue #8364 Proposal
## Author: @tlerias

# Proposal:

The Problem:
Please see the [FORMS.md](https://github.com/Expensify/App/issues/8364), which states: `Submit buttons shall not be disabled or blocked from being pressed in most cases. We will allow the user to submit a form and point them in the right direction if anything needs their attention.` With that being said, there are a couple appro

[2022-11-05 20:41] Tushu17 commented on #8235
I've raised the PR. Unfortunately I wasn't able to run android app now, So i didn't include android app recording or screenshot but I had tested my solution on android app.

[2022-11-05 21:12] ronhillel commented on #12292
Where I can see the backend requests requirements and documentation?

[2022-11-05 21:17] huzaifa-99 commented on #11966
Is this still reproducible in `v1.2.23-9`?

[2022-11-06 00:42] tlerias commented on #12360
I think this may be happening on the server (see screenshot). We send the correct text over the write API. But we get an event with an updated text to `You`

<img width="1163" alt="Screen Shot 2022-11-05 at 8 39 54 PM" src="https://user-images.githubusercontent.com/3011845/200148749-66b98f90-bf4c-4dcb-9011-615b433676db.png">

[2022-11-06 00:50] 24dev commented on #8592
### **Proposal**:

This is actually a longstanding WebKit _feature_. It's caused by the autoCorrect buffer not being cleared on a `value` update like it would be updated when firing a keyboard event, and according to Darin Adler (engineering manager at Safari/WebKit) this was done on purpose, so may explain why it has never changed. You can read some of the reports [here](https://bugs.webkit.org/s

[2022-11-06 00:56] JmillsExpensify commented on #10907
Wait, I'm just seeing this one and I think this more recent issue is a dupe: https://github.com/Expensify/App/issues/12283. Do we agree, and if so, why this is issue on hold?

[2022-11-06 00:56] JmillsExpensify commented on #12283
@dhairyasenjaliya Thanks for flagging. I commented in the linked issue immediately above this post.

[2022-11-06 00:59] JmillsExpensify commented on #10525
Ok cool. This isn't a bug, and it's not strictly part of API Unchained either, so I am going to remove the daily label on this issue. Ultimately I agree, everyone in that list is working on higher value things.

[2022-11-06 00:59] JmillsExpensify commented on #10905
@jliexpensify Don't forget to get the BZ checklist kicked off above please!

[2022-11-06 01:04] inkmn commented on #12356
### Proposal
### Problem
The server pushes the empty value to `report_` and `reportIOUs_`.
![Screenshot 2022-11-06 at 08 56 11](https://user-images.githubusercontent.com/6467761/200149150-736e79ec-7f61-465c-8d27-1ef5e0dbd6ce.png)
### Solution
Server should push valid report data to pusher

[2022-11-06 01:09] JmillsExpensify commented on #12433
Thanks for the quick work @youssef-lr!

[2022-11-06 01:14] JmillsExpensify commented on #11523
Here's my perspective: The bug report you linked was marked as a dupe when reported, so I don't think that one qualifies. We've also been refactoring this part of the app for quite some time, I simply acted on the bug report when assigned.

[2022-11-06 02:17] inkmn commented on #12027
### Proposal
### Problem
The server pushes the empty value to `report_` and `reportIOUs_`.
![Screenshot 2022-11-06 at 08 56 11](https://user-images.githubusercontent.com/6467761/200149150-736e79ec-7f61-465c-8d27-1ef5e0dbd6ce.png)
### Solution
A pusher should receive valid report data from the server
The problem should be solved internally instead of externally

[2022-11-06 02:22] JmillsExpensify commented on #11809
Still waiting for proposals

[2022-11-06 02:26] JmillsExpensify commented on #12256
Agree 100%.

[2022-11-06 02:34] JmillsExpensify commented on #10615
Oh yeah, same here. I usually wait twice, I just saw Applause's comment and then your comment, so I thought that was enough to close this out.

[2022-11-06 02:34] JmillsExpensify commented on #10615
Also not sure why there isn't a BZ on this issue, so I assigned myself and we can align on next steps Monday.

[2022-11-06 02:36] JmillsExpensify commented on #10632
Before we circle back on proposals, I think we should align on my last comment.

[2022-11-06 02:38] JmillsExpensify commented on #11722
@vitHoracek for clarity, did you test on Android?

[2022-11-06 02:39] JmillsExpensify commented on #11968
Haha, that's quite ironic. I will test this weekend.

[2022-11-06 02:40] JmillsExpensify commented on #11189
Oh that's the checklist that we just completed above. Ignoring.

[2022-11-06 02:50] varshamb commented on #12495
### Proposal
We need to change/correct `editComment` in `es.js`

`editComment: 'Editar commentario'`

Change it to
`editComment: 'Editar comentario'`

[2022-11-06 03:05] JmillsExpensify commented on #11391
Still waiting for an approved proposal.

[2022-11-06 03:08] varshamb commented on #12436
### Proposal

We need to use `onFixTheErrorsLinkPressed` instead of
`onFixTheErrorsPressed`

I will update detailed proposal in some time.

[2022-11-06 07:43] aneequeahmad commented on #11523
@JmillsExpensify Yeah, make sense i didn't know this refactor was already planned and going.

Thank you for you comment.

[2022-11-06 07:46] kerupuksambel commented on #12290
@parasharrajat Really sorry for my late reply, I was sick a few days back then. Also, I completed the changes so it should be working as proposed. Therefore, if possible, I would like to revise my proposal.

## Revised Proposal
Upon my further analysis to fix this bug, I found out several things, such as possibility to do XSS by `javascript` scheme. My take on that problem is to filter everything

[2022-11-06 10:00] mountiny commented on #11722
@JmillsExpensify nope, only on iOS. Dont own Android, but thinking of getting some troubleshooting.

[2022-11-06 10:30] hungvu193 commented on #12400
@rushatgabhane Yeah, we can update the way we focus on field in:
https://github.com/Expensify/App/blob/25c306015d7b08fec915e6005cde7c928bdc847e/src/components/Form.js#L230-L232

[code]

[code]

https://user-images.githubusercontent.com/16502320/200165724-be9565ef-c4ae-40e2-bfbd-9400640aae25.mov

[2022-11-06 10:47] drkcod3 commented on #12292
I did manage to get a dirty temporary fix. I do believe there is a cleaner way of handling these errors. Perhaps the babel config? I would like some enlightenment rather than messing around with configuration files especially webpack and babel :)

https://stackoverflow.com/a/74335051/20431420

![image](https://user-images.githubusercontent.com/96230190/200166384-6fe34732-83c4-4158-970e-2d0e94ab014

[2022-11-06 11:14] hungvu193 commented on #12400
There are similar error reported here: https://github.com/Expensify/App/issues/12436
That because we are using different Form components for different forms. And each form has different way to handle press Fix Error. We should avoid that.

[2022-11-06 12:24] parasharrajat commented on #8592
Thanks for the proposal @24dev. Do you mind adding some code samples to show us how would you implement both `execCommand` and honeypot in our codebase?

we have discussed honeypot in a few issues in the past. But decided to not go with these workarounds. I will reconsider this technique for this issue if sounded like the best fit.

Links:
- [CONTRIBUTING Guidelines](https://github.com/Expensify/A

[2022-11-06 12:26] parasharrajat commented on #12290
Thank you for the updated proposal. Let me discuss this internally to get some details on https://github.com/Expensify/App/issues/12290#issuecomment-1299216934

[2022-11-06 13:26] Someone-here commented on #11094
You can check the comment in the code:
Input is permanently focused on native platforms, so we always highlight the text inside of it.
So this is an asymmetry with native and web platforms

[2022-11-06 14:17] TwizzyIndy commented on #12237
Thank you. @jasperhuangg. I would like to add some explanation like this below.

[code]

[2022-11-06 14:28] parasharrajat commented on #12400
@0xmiroslav  Nice one. Exactly the way I was thinking (mount order).

[2022-11-06 16:01] bernhardoj commented on #9818
### **Proposal**

1. The first thing we need to do is to add a new child screen of Home...

_**linkingConfig.js**_
[code]
...and its corresponding screen.
**_MainDrawerNavigator.js_**
[code]
The changes from 0 to `state.index` inside `drawerContent` because now we have 2 drawer screens and `state.index` is the index of the focused screen.

And here is the screen component.

[code]
I put empty `fra

[2022-11-06 16:07] hungvu193 commented on #12438
<b>Proposal</b>
Our `ConfirmPopOver` is disable the animation by default, that's why you saw the modal blink
https://github.com/Expensify/App/blob/main/src/components/Popover/popoverPropTypes.js#L24-L33
<b>Solution</b>
Enable the animation for the popover and the problem will be solved.
https://github.com/Expensify/App/blob/0724337138a4d80f6603074cc9af5c186cb524ec/src/components/ConfirmPopover.js#

[2022-11-06 17:09] tienifr commented on #12276
# Updated Proposal
## Solution

The main idea is to create the default records for the new users then update them as optimisticData in `personalDetails`.
To do that, I have to get the data from `option` value such as icons, login.
<img width="647" alt="Screen Shot 2022-11-06 at 23 27 56" src="https://user-images.githubusercontent.com/113963320/200182513-7702cc28-d425-4bb8-9d6b-1c1a10467b9e.png">

[2022-11-06 17:10] tienifr commented on #12276
@mananjadhav @deetergp I've updated my proposal, pls help check again. Thanks

[2022-11-06 17:18] shawnborton commented on #12188
Confirmed, let’s do vertical

On Sat, Nov 5, 2022 at 12:02 PM Manan ***@***.***> wrote:

[2022-11-06 17:54] kbecciv opened #12501 "[$250] Payments - After adding the “PayPal.me",it does not appear immediately on the second device"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: You must be signed in to the same account on 2 devices (Web-secondary device/ mWeb- my main testing device)
1. Go t

[2022-11-06 18:18] AndreasBBS commented on #12292
@drkcod3 From what I've been able to investigate it looks to me that `API.write('AddPaypalMeAddress', ...)` is not adding the PayPal address to the users PersonalDetails. The App tries to fetch the PayPal address from the PersonalDetails object but the value for the key `payPalMeAddress` is always coming up as empty string.
How can I see the API code and run my own local API?
If I hardcode the `pa

[2022-11-06 19:18] aneequeahmad commented on #11903
@tjferriss This issue is still reproducible on latest dev built. Please right click on a `comment that is a link`.

[2022-11-06 19:32] AndreasBBS commented on #12298
@Santhosh-Sellavel I've checked both the react-native and react-native-web issues and didn't find anything relating to this bug.

Because this is a browser bug I opened an issue in the react-native-web repo, you can find it here https://github.com/necolas/react-native-web/issues/2422

You can also find a codesandbox there that illustrates the bug.

I looked into the react-native-web source and I c

[2022-11-06 19:36] kbecciv commented on #12245
Issue is still reproduced.

https://user-images.githubusercontent.com/93399543/200191245-fb3ee882-603a-40e7-b69a-e113142ecdbf.mp4

[2022-11-06 19:43] kbecciv opened #12503 "Request Money - App is crashed when clicking on a name of the user after request money for new account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in with any account
3. Click FAB button -> Request money
4. Enter an amoun

[2022-11-06 19:44] OSBotify commented on #12503
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-06 19:52] Santhosh-Sellavel commented on #12298
Thanks again, I've checked out codesandbox. The issue is occurring at my end as well on the Firefox browser.

https://user-images.githubusercontent.com/85645967/200191556-f257d100-fa0d-48dd-b012-34cb6b50ccb0.mp4

Let's wait for some response from react-native-web libraries as well, but the issue seems to be at from firefox engine level.

Regarding incentives, if we have a clear path toward a solut

[2022-11-06 19:59] aneequeahmad commented on #11194
@mallenexpensify, Ummmm you're right that majority of the issues are reported in E/App repo. I'm afraid i've seen most the issues that i reported on slack expensify-open-source are not logged on E/App repo and Page not found error is shown.

Also, the error i reported is console error and the other one mentioned above https://github.com/Expensify/App/issues/10753  root cause isn't this error becau

[2022-11-06 20:03] JmillsExpensify commented on #11968
![Screenshot 2022-11-06 at 14 02 37](https://user-images.githubusercontent.com/1127863/200192347-5a7f5e7a-5a08-4230-8dd6-796b5d72033b.png)

I wasn't able to reproduce this issue, so I'm closing.

[2022-11-06 20:03] #11968 closed

[2022-11-06 20:07] JmillsExpensify commented on #11858
Clarifying that this issue is open for proposals. Upwork job is here: https://www.upwork.com/jobs/~019a97b096e6136548.

[2022-11-06 20:09] AndreasBBS commented on #12298
I've found this as well and I'm gonna drop it here cause it might be useful to somebody trying to tackle this issue: https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/selectionchange_event

The example in the link works on Firefox for Android but it does not work in Firefox for Chrome.

It seems to me that Chrome and Firefox deal with this selection feature differently and react-na

[2022-11-06 20:09] JmillsExpensify commented on #11726
Linked PR waiting on confirmed tests to merge.

[2022-11-06 20:14] JmillsExpensify commented on #11722
Ok thanks! I just confirmed on iOS as well. The pay button doesn't appear above the keyboard.

Contributors - this issue is open for proposals. Related Upwork job is here: https://www.upwork.com/jobs/~01092b6ed16494aaaa.

[2022-11-06 20:15] JmillsExpensify commented on #11701
Contributors - this issue is open for proposals! The related Upwork job is here: https://www.upwork.com/jobs/~010b091da824bb7cb2.

[2022-11-06 20:18] JmillsExpensify commented on #11523
Ok cool, thank you for understading!

[2022-11-06 20:19] JmillsExpensify commented on #11092
Check the linked issue for the latest.

[2022-11-06 20:20] JmillsExpensify commented on #11087
Still waiting for proposals.

[2022-11-06 20:20] JmillsExpensify commented on #11058
Still waiting on https://github.com/Expensify/App/pull/12219 to merge.

[2022-11-06 20:21] JmillsExpensify commented on #11057
Contributors - this issue is still open and we're accepting proposals!

[2022-11-06 20:23] JmillsExpensify commented on #10939
Still working out next steps in the tracking issue.

[2022-11-06 20:23] JmillsExpensify commented on #10875
Flagged this issue with Margelo to see if there are interested in helping fix.

[2022-11-06 20:24] JmillsExpensify commented on #10824
@mollfpr I wanted to circle back on this issue and get better clarity when you expect the linked PR to be ready for review?

[2022-11-06 20:26] JmillsExpensify commented on #10765
@ctkochan22 Can you please jump in to review the linked PR? @Santhosh-Sellavel and @advaitasol9 have a question there so this PR can get merged.

[2022-11-06 20:27] Santhosh-Sellavel commented on #11722
This is working fine in Android!
https://user-images.githubusercontent.com/85645967/200193378-ea6e3ceb-8355-4e0f-8f90-51c7813a3cee.mp4

This issue is a common issue that occurs on most screens not just on this page.

[2022-11-06 20:30] JmillsExpensify commented on #10729
The linked PR is merged. @Santhosh-Sellavel @mollfpr I have created a fresh Upwork job since the prior one has expired. Please apply here: https://www.upwork.com/jobs/~01a9b108e6002bd2e7.

[2022-11-06 20:35] JmillsExpensify commented on #10670
Still waiting on proposals. I'm increasing the price to $100. Upwork is here: https://www.upwork.com/jobs/~01eb64954ff199be44.

[2022-11-06 20:39] JmillsExpensify commented on #11722
Thank you for stepping in and helping confirm on Android! In fact, I just realized that this issue is a dupe of https://github.com/Expensify/App/issues/10670. I'm going to close this issue and add these testing steps to the linked issue. We can continue working through things there.

[2022-11-06 20:39] #11722 closed

[2022-11-06 20:42] Santhosh-Sellavel commented on #10729
Done thanks @JmillsExpensify!

[2022-11-06 20:48] JmillsExpensify commented on #10610
You know what, I think we are done here. I just tested this and the bouncing caused by the keyboard no longer exists. I'm attaching a video of my test just now.

https://user-images.githubusercontent.com/1127863/200194345-15bd2a69-e636-4aa8-adbc-5351ccdc7e01.MP4

[2022-11-06 20:48] JmillsExpensify commented on #10610
Given that I'm unable to reproduce I'm closing this issue. Another keyboard issue bites the dust!

[2022-11-06 20:48] #10610 closed

[2022-11-06 20:49] JmillsExpensify commented on #10507
Check the tracking issue for the latest updates.

[2022-11-06 20:50] JmillsExpensify commented on #10506
Check the tracking issue for the latest updates.

[2022-11-06 20:50] JmillsExpensify commented on #10409
Check the tracking issue for the latest updates.

[2022-11-06 20:50] JmillsExpensify commented on #10273
Went through several of the linked issue and was able to close them by finding either dupes or not being able to reproduce the issue anymore.

[2022-11-06 20:51] JmillsExpensify commented on #9734
See the tracking issue for the latest.

[2022-11-06 20:51] JmillsExpensify commented on #8657
See the tracking issue for the latest.

[2022-11-06 20:51] JmillsExpensify commented on #8126
See the tracking issue for the latest.

[2022-11-06 20:51] JmillsExpensify commented on #7737
See the tracking issue for the latest.

[2022-11-06 20:52] JmillsExpensify commented on #5536
What do ya'll think about summarizing this discussion in open source and getting feedback on the above path?

[2022-11-06 20:53] JmillsExpensify commented on #4612
See the tracking issue for the latest updates.

[2022-11-06 20:53] JmillsExpensify commented on #10729
Thank you! Hired.

[2022-11-06 20:55] jliexpensify commented on #11728
Good to pay, please accept your offers. @parasharrajat also, please accept the invite, cheers!

[2022-11-06 21:08] jliexpensify commented on #11266
@sobitneupane thanks for the heads up. Is the other issue addressing the crash, or is an Upworks job needed for this issue?

[2022-11-06 21:17] jliexpensify commented on #11237
Thanks for confirming - so again, my understanding is that this is intended behaviour, as when you're offline and a message is sent, you shouldn't see them until you get back online, which means they'd show up as "New".

Closing this one out, but please re-open if you feel like this is bug.

[2022-11-06 21:17] #11237 closed

[2022-11-06 21:25] jliexpensify commented on #12471
@kavimuru - I'm on v1.1.44-5 and just tested this one. It looks like this issue doesn't exist anymore.

Can you verify on your side?

[2022-11-06 22:16] Santhosh-Sellavel commented on #10824
@JmillsExpensify Seems PR is ready for Review. I'll review it.

Also applied for the job, thanks!!

[2022-11-06 22:34] jliexpensify commented on #11101
Bump @aimane-chnaif !

[2022-11-07 00:05] sophiepintoraetz commented on #12210
Bumping @roryabraham 🙏

[2022-11-07 00:25] sophiepintoraetz commented on #11525
All right - contract is with you, Sahil!

I've also DM'd and emailed @chauchausoup to apply for the Upwork job to redeem the reporting bonus

[2022-11-07 00:25] #11525 closed

[2022-11-07 00:28] sophiepintoraetz commented on #12324
@johnmlee101 -bumping for your thoughts here so that we can get this assigned `External` or `Internal`

[2022-11-07 00:30] sophiepintoraetz commented on #11590
Still on Hold.

[2022-11-07 00:43] mollfpr commented on #10729
@JmillsExpensify Applied too

[2022-11-07 01:40] Santhosh-Sellavel commented on #10632
Let's do that @JmillsExpensify
Remove `Help Wanted`, 'Bug' labels.
Please apply the ` New Feature` Label, and also apply the `design` label!

[2022-11-07 01:42] Santhosh-Sellavel commented on #10632
I just saw @shawnborton  is already assigned here!

[2022-11-07 01:57] sobitneupane commented on #11266
@aldo-expensify suggested to wait for [this PR](https://github.com/Expensify/Web-Expensify/pull/35386).

[2022-11-07 01:58] conorpendergrast commented on #12480
- [x] The bug is not a duplicate report of an existing GH
- [x] The bug is reproducible, following the reproduction steps: Reproduced on iOS
- [x] The GH template is filled out as fully as possible -- this means the GH body and title are clear
- [x] The GH was created by an Expensify employee or a QA tester.
- [x] If the bug is an OldDot issue, you should decide whether it is widespread enough to

[2022-11-07 02:04] conorpendergrast commented on #12480
Internal job posting: https://www.upwork.com/ab/applicants/1589438303439740928/job-details
External job posting: https://www.upwork.com/jobs/~0123bb377c6009399a

[2022-11-07 02:04] conorpendergrast commented on #12480
@parasharrajat Two proposals for you to review already!

[2022-11-07 02:09] Santhosh-Sellavel commented on #11488
@marcochavezf
@syedsaroshfarrukhdot [proposal](https://github.com/Expensify/App/issues/11488#issuecomment-1301110463) looks good!
C+ Reviewed
🎀 👀 🎀

[2022-11-07 02:21] Santhosh-Sellavel commented on #10893
@NikkiWines So far @cowboycito proposal looks good, let's loop its design and get the page intermediate page designed!

[2022-11-07 02:24] Santhosh-Sellavel commented on #10893
@cowboycito One more question can you provide a basic skeleton component, with two buttons?
Open on desktop - opens the link in the app
Continues - continue on the web!

So let's test the POC!

[2022-11-07 02:32] Santhosh-Sellavel commented on #12283
@mmarceau Your proposal looks let's make it a new method `isAttachmentDownloadable` and add a checks with relevant comments for understanding!

[2022-11-07 02:36] Santhosh-Sellavel commented on #12283
@kbecciv

Can you send a screen recording for this step and a file please!

[2022-11-07 02:56] srikarparsi commented on #12249
looks good, thanks @kbecciv. @johncschuster I think we can close this out for now and anyone can reopen if they are able to reproduce.

[2022-11-07 02:56] Santhosh-Sellavel commented on #10907
@JmillsExpensify Yes, that issue seems to be duplicate mostly, but there seems to be one more case so waiting for a reply [there](https://github.com/Expensify/App/issues/12283#issuecomment-1305006022)

[2022-11-07 03:06] AndreasBBS commented on #12298
Update: I've investigated further and I discovered that this bug is something that extends to the react package. react-native-web uses react's input onSelect for the TextInput onSelectionChange handler. I closed the issue on react-native-web and opened a new one on react's repository: https://github.com/facebook/react/issues/25643

[2022-11-07 04:09] Santhosh-Sellavel commented on #9818
I believe the new component is unnecessary, so waiting for a better solution!

[2022-11-07 04:19] sobitneupane commented on #11863
Hello @Uros787, Thanks for the update.

Since we are dealing with the Search functionality in both the pages, I believe it should be handled in same place. Moreover, we should reuse the same code to implement it not only in these two pages but other pages involving search functionality.

Tested it. It does not solve the issue.

https://user-images.githubusercontent.com/25876548/200225186-0a901e6d-

[2022-11-07 04:23] sobitneupane commented on #11863
@strepanier03 @ctkochan22
I think we should update the issue title and description as showing entered members twice is not the issue. Those two search results are different. Delay in the functionality is the issue. Users have to wait after typing the users email in search bar for the result to reflect.

[2022-11-07 04:27] conorpendergrast commented on #12116
Hired via Upwork:

- [ ] @0xmiroslav (Contributor fixing the issue)
- [ ] @parasharrajat (Contributor+)

[2022-11-07 05:50] mananjadhav commented on #10352
C+ Review done on the PR

[2022-11-07 05:53] mananjadhav commented on #11094
@Someone-here but again the comment is for the `native` platforms and you're suggesting to set it as false, which would essentially remove the focus? I still feel we're not solving the root cause and I don't see the discrepancy in the web and native platforms in your suggestion/comments.

[2022-11-07 06:00] mananjadhav commented on #11385
I am not sure of what the next actions should be here? @iwiznia Can we get a confirmation if we have the high resolution image stored in the backend which can be sent to the FE?

[2022-11-07 06:07] mananjadhav commented on #11463
@flodnv @kbecciv I am having a little problem in reproducing this. I did check the second video where the item was selected, but could this be that the button is hiding behind the keyboard?

Can we have a better reproduction steps with the complete video? I couldn't produce this on iPhone simulator and real device.

[2022-11-07 06:09] mananjadhav commented on #11471
I will only be able to check this tomorrow. @kbecciv Is this still reproducible? I am guessing this will go through KI today/tomorrow.

[2022-11-07 06:15] mananjadhav commented on #12188
Okay thanks for the confirmation @shawnborton.

I can see @Karim-30's proposal aligned with the requirements. But I would wait for a day to see if @getusha is keen on submitting a revised proposal for vertical design?

[2022-11-07 06:21] mananjadhav commented on #12027
@jasperhuangg do you have the context on the Pusher notifications data being sent from the backend? Can you confirm here for this issue?

[2022-11-07 06:25] mananjadhav commented on #12292
@marcochavezf @JmillsExpensify I think this is a duplicate of https://github.com/Expensify/App/issues/12291. I recommend we close this one out.

@kavimuru Can you confirm?

Both the issues are related payment methods refresh.

[2022-11-07 06:27] getusha commented on #12188
Thanks @mananjadhav
I will submit the revised proposal in short.

[2022-11-07 06:36] mananjadhav commented on #12276
Thanks for your proposal. We can work out small kinks in the PR. But yeah I am fine with your proposal

@deetergp All yours.

🎀 👀 🎀 
C+ reviewed

[2022-11-07 06:40] akshayasalvi commented on #10356
@tgolen Can I please request to increase the compensation for this one by some amount?

I didn't factor in the changes to process the emojis and refactor of the Tests. I know the tests are to be part of the PR, but the new emojis did break the current test, and I cleaned up some of the unwanted to code while fixing the tests not related to the change.

Would be great if you can consider the reques

[2022-11-07 06:53] sobitneupane commented on #12158
@Ollyws Thanks for your proposal.

This looks like a bug.  Why don't we remove `lastActorEmail` when message is deleted? I think removing `lastActorEmail` when message is deleted is better approach to handle this issue.

[2022-11-07 07:08] thesahindia commented on #12292
It's not a dupe. Are you seeing the Pay with PayPal option after refresh when following the steps in this issue?

[2022-11-07 07:16] MariaHCD commented on #11068
Thanks, @kbecciv. It looks like trying to set up a PENDING bank account created a VERIFYING bank account instead (cc: @nkuoch)

@kbecciv can you confirm if this is happening on web and desktop or if this is only happening on Android and iOS.

[2022-11-07 07:24] Christinadobrzyn commented on #11283
Can we move this to weekly @parasharrajat @Luke9389?

[2022-11-07 07:58] Beamanator commented on #12453
It looks like this issue was created _after_ the 7 day regression period, so I believe we should review proposals in this issue, no need to have the author of the regression fix the issue.

However, I think we need an RCA since the regression made it all the way to production?

[2022-11-07 08:00] techievivek commented on #12363
Just tested this and there are 2 scenarios here:
1. If we have scrolled to a chat in the history then re-opening the chat scrolls to the latest input.
2. If we haven't scrolled in the first time and then re-open there is a scroll effect that is visible.

I am entirely sure what is the expected behaviour here so I am going to ask for some help from the team.

[2022-11-07 08:06] thesahindia commented on #11415
Not overdue.

[2022-11-07 08:09] Beamanator commented on #12014
Pinged in #bug-zero for a CME to take over since I don't own a physical iPhone

[2022-11-07 08:10] Beamanator commented on #11334
@greg-schroeder will be closing this out very soon, once payment is complete! 👍

[2022-11-07 08:13] Beamanator commented on #11321
@hannojg is making great progress! 👍 (just updating Melvin)

[2022-11-07 08:19] NikkiWines commented on #12264
@Luke9389 I defer to @shawnborton for that one! I wasn't sure if we wanted to update it as part of this issue since the current concierge icon on the Help site is slightly different than the one used in NewDot.

[2022-11-07 08:22] dylanexpensify commented on #12483
reviewing today!

[2022-11-07 08:22] dylanexpensify commented on #12045
@thesahindia any updates?

[2022-11-07 08:22] dylanexpensify commented on #12042
reviewing today!

[2022-11-07 08:23] dylanexpensify commented on #11948
doubling

[2022-11-07 08:25] dylanexpensify commented on #9181
thoughts on proceeding @parasharrajat?

[2022-11-07 08:25] dylanexpensify commented on #12203
not overdue

[2022-11-07 08:25] thesahindia commented on #12045
The issue is still reproducible.

[2022-11-07 08:27] kidroca commented on #11817
Ops, sorry forgot about this one, will submit a PR today

[2022-11-07 08:31] techievivek commented on #11346
I think the best solution will be to ignore the last 3 options on smaller screens. I am going to push a PR today to update it.

[2022-11-07 08:35] Beamanator commented on #11229
@parasharrajat can you give an update on proposal reviews?

[2022-11-07 08:35] smrutiparida commented on #11561
@mountiny The solution won't be that straight forward. The present Fastlane process does not even read the .env.staging values. how shall we read those values. We would need a totally different approach for that.

In the PR #10690 we introduced STAGING_EXPENSIFY_URL and STAGING_SECURE_EXPENSIFY_URL. This change shall help you read these 2 values in an android/ios staging build by using isBetaCheck

[2022-11-07 08:38] NikkiWines commented on #9459
^^ see above message

[2022-11-07 08:40] smrutiparida commented on #11561
### Proposal

Use additional check of Environment.getEnvironment() along with IS_IN_STAGING configuration to known the environment values for setting API URL.
BetaChecker.isBetaBuild() shall set the environment for ios and android based on existing code and returns the proper environment value

<img width="885" alt="Screen Shot 2022-11-07 at 14 05 12" src="https://user-images.githubusercontent.com

[2022-11-07 08:50] Beamanator commented on #12014
@MonilBhavsar  volunteered to take over 🙏

[2022-11-07 08:51] dylanexpensify commented on #12483
@aneequeahmad I'm not able to reproduce steps on staging. Can you confirm?

[2022-11-07 09:02] Beamanator commented on #10894
Posted in #whatsnext end of last week ([here](https://expensify.slack.com/archives/CC7NECV4L/p1667578884362449))

Will create implementation issues tomorrow if there's no changes in the solution path!

[2022-11-07 09:05] Beamanator commented on #11856
I agree that looks like a good idea, let's make sure @0xmiroslav 's PR fixes both this issue & https://github.com/Expensify/App/issues/11840 (assuming we do revert the changes from https://github.com/Expensify/App/pull/11853)

[2022-11-07 09:05] Beamanator commented on #11334
Not overdue, Melvin 🙃

[2022-11-07 09:06] Beamanator commented on #11321
Just updated this issue, so not overdue Melvin 🙃

[2022-11-07 09:33] VikalpP commented on #12005
@rushatgabhane I'm waiting for someone on Upwork to accept my proposal and initiate the Contract.
Do you think you have access or know someone who can initiate the Contract? 🙂

I have the branch with the fix ready to push.

[2022-11-07 09:33] mountiny commented on #11816
@mallenexpensify will pay this out today.

[2022-11-07 09:52] zanyrenney commented on #10767
Thanks for the update and additional context @thienlnam

[2022-11-07 09:54] zanyrenney commented on #11808
@parasharrajat - please can you let me know if you don't have the correct access for this one. I [asked our internal engineering team](https://expensify.slack.com/archives/C03TQ48KC/p1666760050198099) to confirm but they didn't get back to me.

[2022-11-07 09:55] zanyrenney commented on #12058
^ waiting on retest.

[2022-11-07 10:00] zanyrenney commented on #12308
No propsals yet.

[2022-11-07 10:01] zanyrenney commented on #12400
Looks like we have a proposal - @ctkochan22 let me know what you think!

[2022-11-07 10:10] techievivek commented on #12363
Not overdue, I have started a discussion on slack. But IMO we can fix the Android scrolling behaviour.

[2022-11-07 10:12] tienifr commented on #12151
# Proposal
## Problem
In https://github.com/Expensify/App/blob/0724337138a4d80f6603074cc9af5c186cb524ec/src/libs/ReportUtils.js#L817-L852

when build the optimistic data for default chat report (admin, announce) we don't set `pendingFields` for them so In https://github.com/Expensify/App/blob/0724337138a4d80f6603074cc9af5c186cb524ec/src/components/LHNOptionsList/OptionRowLHN.js#L102

and https://g

[2022-11-07 10:14] Beamanator commented on #12360
Yep it does look like this is a server-side issue, thanks for pointing that out @tlerias 👍

[2022-11-07 10:15] aneequeahmad commented on #12483
@dylanexpensify This error can be reproduced on `dev` build(main branch). Let me know if you couldn't

[2022-11-07 10:19] Julesssss opened #12504 "Resolve upstream ReactNative android build blocker"
### Problem

Facebook broke Android builds last Friday, [here's a full breakdown](https://github.com/facebook/react-native/issues/35210) of the cause.

### Solution

~~To fix, we should bump React Native to the [latest hotfix release](https://github.com/facebook/react-native/releases/tag/v0.70.5), to resolve an [Android build issue](https://expensify.slack.com/archives/C03V9A4TB/p1667584151126259)

[2022-11-07 10:19] Julesssss commented on #12504
This is being handled internally, no need for contributors.

[2022-11-07 10:27] aneequeahmad commented on #12483
Can the bug reporter or any external contributor still post the solution even if no label(Like external) is applied ?

[2022-11-07 10:30] MonilBhavsar commented on #12120
Ok, something like a blank line is removed/added when block quote is edited?

[2022-11-07 10:35] Julesssss commented on #12458
Also unable to reproduce. Please reopen if we discover the additional steps (or specific account) that makes this reproducable

[2022-11-07 10:40] MonilBhavsar commented on #11810
@parasharrajat let's discuss this in slack about adding and using a new package. Do you mind opening a conversation with the context you have?

[2022-11-07 10:48] Beamanator commented on #12360
Posted in #expensify-open-source, in the OP [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667817919754449?thread_ts=1659100345.685099&cid=C01GTK53T8Q), to confirm this is an issue (cc @tgolen )

[2022-11-07 10:53] aneequeahmad commented on #12439
This one is already a known issue for IOS safari and has been discussed before and i guess decided not to do anything about it or remove focus on mWeb.

cc: @parasharrajat

[2022-11-07 10:58] mountiny commented on #11854
Ok, we might want to either fork this or apply a patch of that PR since this is quite high-value issue and we cannot rely on the maintainer to merge/release this.

[2022-11-07 11:04] flodnv commented on #11515
FWIW, this issue also seems to affect Android (I've tested on my phone)

I'll be honest, I don't really understand the problem. @tienifr can you please edit your problem statement description to be more readable (by someone who doesn't know anything)? Or @rushatgabhane if you understand the problem, can you rephrase it in your own words?

[2022-11-07 11:05] huzaifa-99 commented on #12431
If it helps for reproduction in non-touch screens.

Changing `canUseTouchScreen()` to `true` in
https://github.com/Expensify/App/blob/0724337138a4d80f6603074cc9af5c186cb524ec/src/pages/iou/steps/IOUAmountPage.js#L274-L280

would show the big number pad that is having issues on touch screens.

[2022-11-07 11:13] srikarparsi commented on #12066
This looks great to me as well. Thank you @tienifr, assigning you to the issue.

[2022-11-07 11:23] flodnv commented on #11892
@Ollyws your proposal looks good to me, but,

For my own understanding can you clarify why "this causes an unnecessary re-render"?

[2022-11-07 11:25] juzoace commented on #8364
@mallenexpensify , I sent an email to join the slack group so I can contribute......still yet to get a response

[2022-11-07 11:26] tienifr commented on #11515
@flodnv I just follow the lib docs here: https://www.npmjs.com/package/react-freeze
<img width="834" alt="Screen Shot 2022-11-07 at 18 07 54" src="https://user-images.githubusercontent.com/113963320/200295766-bbf6b54e-7bdd-4b84-a7fa-24063316088b.png">
If `freeze` set to true, all renders for components from Freeze subtree will be suspended => `ReportActionsView` can't know the props changes (isDra

[2022-11-07 11:27] cowboycito commented on #10893
@Santhosh-Sellavel honestly I feel like this is something that will be done in the PR once my proposal gets accepted. I already dedicated a lot of time doing the proposal itself and answering to questions and I don't plan to spend more time on this until I get the job. Hope that's ok.

[2022-11-07 11:27] mananjadhav commented on #11982
@puneetlath I would say this bug existed since the inception of the creation of the components. For example, `ReportDetailsPage` was created in this PR https://github.com/Expensify/App/pull/3742.

We're directly fetching the `report` from Onyx and then accessing it's properties, `this.props.report.reportName`, etc. which crashed the App. These `undefined` checks were added in these PRs.

Do you ne

[2022-11-07 11:29] tienifr commented on #11515
@flodnv pls let me know if it's still hard to understand. Sorry about that, It's quite hard for me to explain this case

[2022-11-07 11:31] muttmuure commented on #11068
I'm going to hold for @kbecciv - I'm still not sure what the bug is here. When you've confirmed please can you update the OP and reassign me

[2022-11-07 11:32] huzaifa-99 commented on #12208
I wanted to give a reproduction test (to possibly submit a proposal) but getting [this](https://expensify.slack.com/archives/C01GTK53T8Q/p1667573885470069) issue when building on ios/android. Any guesses what might be causing this?

[2022-11-07 11:32] dylanexpensify commented on #12042
@fedirjh can you let us know when your PR will be ready for review?

[2022-11-07 11:33] laurenreidexpensify commented on #12325
@ctkochan22 bump here 👍 for this solution Thanks

[2022-11-07 11:34] dylanexpensify commented on #11908
@0xmiroslav can you let us know when your PR will be ready for review?

[2022-11-07 11:34] dylanexpensify commented on #11908
Any updates here @parasharrajat

[2022-11-07 11:34] dylanexpensify commented on #11893
@mananjadhav any updates here?

[2022-11-07 11:35] Julesssss commented on #12504
Okay, so the hotfix is only a few hours old, so the[ RN-updater](https://react-native-community.github.io/upgrade-helper/?from=0.70.1&to=0.70.4) and [diff table](https://github.com/react-native-community/rn-diff-purge#diff-table-full-table-here) haven't yet been updated.

I assume there are likely no breaking changes, but given that we have previously made changes ourselves, I wonder if it's worth

[2022-11-07 11:35] dylanexpensify commented on #11800
@thesahindia @mollfpr @dangrous have we seen any regressions with this?

[2022-11-07 11:36] sobitneupane commented on #12267
Waiting @tienifr Response

[2022-11-07 11:36] dylanexpensify commented on #11336
Can we get an update here @mananjadhav @aimane-chnaif

[2022-11-07 11:37] mananjadhav commented on #11893
@dylanexpensify Reviewed the PR, raised an exception, waiting for @tienifr to fix and update the PR

[2022-11-07 11:37] thesahindia commented on #12042
It's already in production.

[2022-11-07 11:38] MitchExpensify commented on #12010
Doubled!

[2022-11-07 11:38] mananjadhav commented on #11336
Reviewed the PR. Raised some questions and asked for videos instead of images. Will test once @aimane-chnaif responds.

[2022-11-07 11:38] mollfpr commented on #11800
@dylanexpensify We haven’t. The PR is still in QA.

[2022-11-07 11:40] laurenreidexpensify commented on #11866
@thienlnam what are next steps? Can I post to Upwork?

[2022-11-07 11:44] MitchExpensify commented on #11135
If this isn't reproducible in the latest version, is there any action to be taken?

[2022-11-07 11:45] aneequeahmad commented on #11319
This issue has been fixed on `November 2nd, 2022` in commit # `7d1c5bbc2`. Not reproducible.

cc: @sophiepintoraetz, @Santhosh-Sellavel

Screenshot:
<img width="1191" alt="Screenshot 2022-11-07 at 4 42 02 PM" src="https://user-images.githubusercontent.com/36359331/200302196-6490dc7b-7768-4e06-932a-5e26e317c010.png">

[2022-11-07 11:46] laurenreidexpensify commented on #10654
Ah I see what you mean @quinthar. Okay getting this back and live on Upwork.

[2022-11-07 11:48] fedirjh commented on #12042
https://github.com/Expensify/App/pull/12368 : Deployed to production

[2022-11-07 11:50] mountiny commented on #10654
Carlos is OOO for 2 weeks now so assigning myself as CME.

Waiting for proposals, @thomas-coldwell might be interested into this one.

[2022-11-07 11:51] muttmuure commented on #11710
Waiting for @thesahindia and @Tushu17 to apply to the job and I'll pay in one go

[2022-11-07 11:53] laurenreidexpensify commented on #10654
https://www.upwork.com/jobs/~01fd1a95401ef8c40d new post

[2022-11-07 11:54] mountiny commented on #10654
I have updated the `Expected results` a bit, in a nutshell we should just make sure the scrolling behaviour is _same_ as on other native app/browsers. The speed and reaction should be same as in Chrome, or Safari in web/desktop. On native platforms it should be same as in WhatsApp/Messenger, they all have the same speed/behaviour, no reason for NewDot having some custom speed.

[2022-11-07 11:54] dylanexpensify commented on #11800
Thanks @mollfpr! @dangrous any idea how long the PR will be in QA?

[2022-11-07 11:54] muttmuure commented on #11710
Oh I've clarified that I can pay Puneet now

[2022-11-07 11:54] thesahindia commented on #11710
Applied!

[2022-11-07 11:55] #12458 closed

[2022-11-07 11:56] huzaifa-99 commented on #12058
@parasharrajat apology for the late reply.

I wanted to test how bad it looks (before updating the proposal) but got stuck on building for android/ios (still stuck), I mentioned it [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667573885470069) in some detail. Please let me know if I am missing something.

[2022-11-07 11:57] Gonals commented on #12145
Still waiting

[2022-11-07 11:58] flodnv commented on #11463
Agreed.

I am still confused about https://github.com/Expensify/App/issues/11463#issuecomment-1281152039 -- only one account is selected, so by design, we don't show the button.

Hummmm I tested on my Android app on my phone, and it does show the button when selecting only 1 participant 😬

[2022-11-07 11:59] flodnv commented on #11892
Thanks, 👍 to your proposal!

[2022-11-07 12:00] Gonals commented on #11916
They should be on by default. Make sure your device allows the app to send notifications, though.

[2022-11-07 12:01] Gonals commented on #10347
Waiting on proposals

[2022-11-07 12:01] muttmuure commented on #11710
Puneet and Sahil paid - just waiting for Tushar

[2022-11-07 12:01] huzaifa-99 commented on #12058
I think #12034 fixed the issue on Safari, but I am still able to reproduce it locally on FireFox (commit sha `0724337138a4d80f6603074cc9af5c186cb524ec`)

https://user-images.githubusercontent.com/68777211/200304642-c2700ae2-fc44-4e5d-969b-b4e70e6cbf41.mp4

Also adding `focusable=true` to `TextLink` works for me in Firefox, but only If `accessibilityRole` and `href` are not explicitly set (I commen

[2022-11-07 12:02] aneequeahmad commented on #11135
@MitchExpensify, Yeah you're right this isn't reproducible on the latest version as it has been fixed internally like i explained in comment [here](https://github.com/Expensify/App/issues/11135#:~:text=This%20issue%20is%20fixed%20in%20version%201.2.11.0)
in commit # 607f8e936.

I am eligible to be paid for reporting bonus i assume as commented in slack open source [here](https://expensify.slack.co

[2022-11-07 12:05] Gonals commented on #11314
@eVoloshchak I think it is a nice solution, despite the `setTimeout`.
And I think we can just set `shouldDelayFocus` to true across the board if we go this route.

[2022-11-07 12:09] MonilBhavsar commented on #11423
Since, shouldDelayFocus is already used in our codebase in platform specific files. For example [here](https://github.com/Expensify/App/blob/main/src/components/PasswordPopover/index.android.js). It was understandable why shouldDelayFocus was required.
Thanks for proposing a solution though.

[2022-11-07 12:12] MonilBhavsar commented on #11273
Bumping to daily.
@mvtglobally we need to retest this issue 🙏

[2022-11-07 12:12] parasharrajat commented on #10654
I have a proposal above.

[2022-11-07 12:20] mountiny commented on #10654
@parasharrajat does that guarantee the scroll speed will be the same as in other apps and in browsers? It still feels like something we define/ hardcode

[2022-11-07 12:20] laurenreidexpensify commented on #11241
Confirmed on my device - Pixel 4 - issue no longer reproducible. @Julesssss you 👍 to close this?

[2022-11-07 12:21] laurenreidexpensify commented on #11228
still on hold

[2022-11-07 12:22] Julesssss commented on #12504
The above fix is even simpler than this, as it doesn't require a React-native bump, or library deploy. I'm going to make this change locally in App and if it works we can discuss next steps.

[2022-11-07 12:23] abekkala commented on #12328
@kbecciv can you replicate this once more. My outcome was a bit different in that the unarchived messages DO Appear but the name of the is missing.

[2022-11-07 12:24] abekkala commented on #11895
@AndrewGable which way do you want to go with this? Do you want internal or whitelist?

[2022-11-07 12:27] laurenreidexpensify commented on #11341
Oh sorry I should have clarified, I am on the Marketing team too, so just did the `waiting for copy` chore as part of the overall review here, so I think we good to go 👍

[2022-11-07 12:27] maddylewis commented on #12436
thanks for those details @0xmiroslav.

based on this suggestion, I'm going to close this one out for now. 👍

[2022-11-07 12:27] #12436 closed

[2022-11-07 12:29] abekkala commented on #12240
doubled to $500
https://www.upwork.com/ab/applicants/1587774979442769920/job-details
https://www.upwork.com/jobs/~0139d76c4c5b53e2d2

[2022-11-07 12:33] mountiny commented on #11908
This is now in staging @dylanexpensify 🎉

[2022-11-07 12:34] maddylewis commented on #11697
@deetergp - should i be doubling the price on this one? or, should i hold off until we have an agreed-upon proposal to do that?

[2022-11-07 12:36] mountiny commented on #12340
@shawnborton Will assign you later, but san you please confirm the looks of list with scrollbar? I am more worried about how this looks like on Windows, but I guess we dont have to worry about this now.

[2022-11-07 12:47] parasharrajat commented on #12058
I will give it a spin when possible. Meanwhile, you are free to propose if you are able to reproduce this issue.

[2022-11-07 12:48] techievivek commented on #8589
Not overdue. I will test this myself tomorrow.

[2022-11-07 12:51] parasharrajat commented on #12058
Could you please take this on the [other](https://github.com/Expensify/App/issues/11354) issue?

[2022-11-07 12:52] AmanuelAsfaw commented on #11701
we can customize the login form height  by using eventListener in the keyboard show and hide status, using the windows height size decrease the size of keyboard and show the login form.

we use Animated and UIManager class( components) from 'react-native'

[2022-11-07 12:52] parasharrajat commented on #12439
Correct both of you. @kavimuru Could you please mention this issue on https://github.com/Expensify/App/issues/10414 and close this one. Thanks.

[2022-11-07 12:53] abekkala commented on #11921
@jasperhuangg can you try to replicate again? it seems that @trjExpensify was able to replicate

[2022-11-07 13:03] kavimuru opened #12506 "PAID [$250] Workspace name is selectable despite being disabled reported by @puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to settings > workspaces > create a new one
2. Go offline
3. Tap on 3 dots and delete
4. Go to workspaces section again
5.

[2022-11-07 13:04] Julesssss commented on #11241
Yep, thanks all.

[2022-11-07 13:04] #11241 closed

[2022-11-07 13:04] Julesssss commented on #11241
@laurenreidexpensify please close the UpWork issue 🙂

[2022-11-07 13:05] laurenreidexpensify commented on #11463
@kbecciv can you please record a longer video with more detailed reproduction steps to help us confirm if this is still reproducible? thanks

[2022-11-07 13:06] CortneyOfstad commented on #12015
@kbecciv Can we confirm if this is still being reproduced, as both Justice and I could not reproduce this ourselves.

[2022-11-07 13:09] CortneyOfstad commented on #12245
I am still unable to reproduce on my side. Is anyone else able to reproduce?

[2022-11-07 13:10] kavimuru opened #12507 "Web shows full offline edit history upon return online"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Write a message in any chat
2. Go offline
3. Edit the message multiple times
4. Go back online

## Expected Result:
The chat

[2022-11-07 13:11] parasharrajat commented on #9823
No update.

[2022-11-07 13:12] NicMendonca commented on #11095
@parasharrajat don't forget about this offer, please 🙏

[2022-11-07 13:13] laurenreidexpensify commented on #12025
Bumped in Slack https://expensify.slack.com/archives/C01GTK53T8Q/p1667826775048499?thread_ts=1666210802.145239&cid=C01GTK53T8Q and set price to $1000

[2022-11-07 13:14] laurenreidexpensify commented on #12025
@mmarceau @Ollyws any further ideas yet?

[2022-11-07 13:15] NicMendonca commented on #10414
Updated the job name on Upwork, and doubled the price: https://www.upwork.com/jobs/~01f21a08ef50dd0283

[2022-11-07 13:16] laurenreidexpensify commented on #12026
Price now $1000, bumped thread https://expensify.slack.com/archives/C01GTK53T8Q/p1667826951304139?thread_ts=1666216269.896569&cid=C01GTK53T8Q

@Puneet-here do you have any solutions to propose?

[2022-11-07 13:18] christianwen commented on #10731
For `react-native-web` fix , the issue was raised here https://github.com/necolas/react-native-web/issues/2421 but it seems like the maintainer has different suggestion to resolve it, and a patch was created for `react-native` was created instead https://github.com/facebook/react-native/pull/35228. This will result in some small changes to my original proposal. I'll update accordingly after that R

[2022-11-07 13:23] thomas-coldwell commented on #12004
Trying to reproduce this issue, but unable to add a bank account as the default payment method - getting the following 404 output in console when I attempt it:
`Finished API request - {"command":"MakeDefaultPaymentMethod","jsonCode":404,"requestID":"76665b147b9f7505-SJC"}`

[2022-11-07 13:27] srikarparsi commented on #12020
hey @mananjadhav, tried it twice with two different accounts but wasn't able to reproduce either time. @CortneyOfstad I'm not entirely sure how the process works but I think we can pay @kbecciv for reporting and then close out the issue.

[2022-11-07 13:27] NicMendonca commented on #11433
bump @roryabraham 🙏

[2022-11-07 13:34] huzaifa-99 commented on #12058
Yes. I am also able to reproduce this issue on staging `v1.2.24-0` with Firefox

[2022-11-07 13:35] mananjadhav commented on #12020
Okay yeah I thought so.

@kbecciv is from Applause QA, so I am guessing no payments here. We're good to close this.

[2022-11-07 13:36] Santhosh-Sellavel commented on #10893
@cowboycito Sorry,  we would definitely need that code to test the proof of concept here since this is a feature request. Without that, we don't have enough to make a hiring decision. You are the preferred candidate here now, please try to give us an updated proposal, thanks!

[2022-11-07 13:36] Puneet-here commented on #12506
### Proposal

We have to use `styles.userSelectNone` we can apply it like below
`(props.interactive && props.disabled ? {...styles.disabledText, ...styles.userSelectNone} : undefined),`
https://github.com/Expensify/App/blob/0724337138a4d80f6603074cc9af5c186cb524ec/src/components/MenuItem.js#L59

[2022-11-07 13:37] Santhosh-Sellavel commented on #12049
Not overdue PR is waiting for review from @pecanoro

[2022-11-07 13:37] fedirjh commented on #11671
## Updated Proposal
hey @sobitneupane check this proposal :

1. Add new key to onyx `UNREAD_REPORTS` that holds ids of unread reports
2. Push/remove id of report to/from `UNREAD_REPORTS` (we will use the connection inside the [Report.js](https://github.com/Expensify/App/blob/363d98fd3a3567c102c5359ba5257c67f95c60d0/src/libs/actions/Report.js#L923-L932))
3. Watch `UNREAD_REPORTS` and update title

[2022-11-07 13:39] parasharrajat commented on #12290
Asked here https://expensify.slack.com/archives/C01GTK53T8Q/p1667828343990809.

[2022-11-07 13:41] Santhosh-Sellavel commented on #11319
Ya I agree, this is no longer reproducible, thanks @aneequeahmad!
@chiragsalian we are good to close this one, please test it once before closing this(As this was not easily reproducible initially.)
cc: @sophiepintoraetz

[2022-11-07 13:42] parasharrajat commented on #9181
Looks like this issue is no more reproducible. @Expensify/applause Can you please retest?

[2022-11-07 13:45] iwiznia commented on #11385
Looking at the code, we have the original image, in JPEG format saved. If you look for example at the personalDetails. You'll see that it has 2 properties: `avatar` and `avatarHighResolution`. The latter is the original one (or rather looking at the code, I think is the original one in jpeg).

[2022-11-07 13:46] kavimuru opened #12508 "[$250] DEV - Console error on clicking "fix the errors" on Company information page - iOS - reported by @0xmiroslav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login and go to Settings -> Workspaces -> workspace -> Connect bank account page
2. Select Connect manually
3. Enter valid ro

[2022-11-07 13:47] isabelastisser commented on #11688
Yes, will create the job in Upwork now.

[2022-11-07 13:50] kbecciv commented on #12020
No payment

[2022-11-07 13:51] mananjadhav commented on #11385
I checked that. The difference between `avatarHighResolution` and `avatar` URLs is `_128` appended in the URL for low res. But for the edited images the resolution is the same.

[2022-11-07 14:00] flodnv commented on #11515
Ok, what I am not following is why the unread state isn't persisted then (If I close my app and reopen, it's still not marked as unread)? Is the API not getting called because something is frozen?

[2022-11-07 14:01] Beamanator commented on #11341
@Puneet-here I believe we do still show that modal, if there is an error when trying to close the user's account

Currently we're setting `success` when the account gets closed, we're sending that via Pusher from the back-end which is why you can't see it, sorry 🤷

[2022-11-07 14:01] MitchExpensify commented on #10356
@mananjadhav, following these instructions - Mind pointing to me to the PR that cause this bug?  Thank you

[2022-11-07 14:04] MitchExpensify commented on #7968
Not overdue, @Santhosh-Sellavel and @mollfpr are working on the proposal. Sounds like we're close, right?!

[2022-11-07 14:04] isabelastisser commented on #11688
New job title in Upwork is: BUG: Deleting the last message of a conversation marks it as unread for a moment #11688 - Expensify

I had to edit it to meet the characters' limit.

[2022-11-07 14:06] parasharrajat commented on #12058
oh, ok. I thought we were discussing other issue. Yeah, both the different.

[2022-11-07 14:08] isabelastisser commented on #11688
Internal posting: https://www.upwork.com/ab/applicants/1589620002778218496/job-details

External posting: https://www.upwork.com/jobs/~01b7055398477a9585

@tienifr and @eVoloshchak , please apply for this job in Upwork so that I can hire you. Thanks!

[2022-11-07 14:09] hungvu193 commented on #12449
Because you select the value for the date picker is today, that's why it always reset to today when you press `Reset`.
Let try again with the following step:
1. Click on Datepicker and choose a value that difference with today (ie: 1/1/2010), press `Done`.
2. Click on Datepicker again and press `Reset`.

[2022-11-07 14:09] jayeshmangwani commented on #11948
I have a doubt about this issue,
we have created an [issue](https://github.com/Expensify/App/issues/10232) in the past that for a new user we should open the FAB menu,

so how can we handle this scenario in mobile view for a new user who should open the FAB menu and also navigate to Concierge conversation?

cc: @eVoloshchak @dylanexpensify

[2022-11-07 14:10] luacmartins commented on #12116
@0xmiroslav im still around until Wednesday. Let’s try to get this merged before then!

[2022-11-07 14:14] MitchExpensify commented on #11561
Created a new [Upwork Job](https://www.upwork.com/jobs/~018a04b2e237644730) (and invited @parasharrajat for eventual C+ payment) as the last one expired.

[2022-11-07 14:17] Santhosh-Sellavel commented on #10731
Thanks for the update @christianwen

[2022-11-07 14:22] MitchExpensify commented on #11135
Got it! Thanks for catching me up. Invited you to this job for reporting payment https://www.upwork.com/jobs/~01264dd1cc5bd0e222

[2022-11-07 14:23] Tushu17 commented on #11710
@muttmuure Okay applied, Thank you.

[2022-11-07 14:26] mountiny commented on #11561
Looks promising to me @parasharrajat what are your thoughts?

[2022-11-07 14:26] aneequeahmad commented on #11135
@MitchExpensify Thanks for inviting me. i have applied for the job

[2022-11-07 14:27] mountiny commented on #11815
Asking for someone to step in here, sorry for the delay

[2022-11-07 14:28] MitchExpensify commented on #12449
Got it! Thanks for helping me reproduce it:

https://user-images.githubusercontent.com/36425901/200334312-e3a1651d-faac-4756-887c-5ad3d0287c7d.MP4

This feels super expected. It is resetting to the last saved date each time reliably which seems fine. I'll ask in Slack if others agree

[2022-11-07 14:28] ntdiary commented on #9181
This issue is easy to reproduce in my tests, I just don't know if it's necessary to fix:
Version Number: 1.2.24-0

https://user-images.githubusercontent.com/8579651/200328657-42006afc-194e-40ea-b9f4-c0811d4396a4.mp4

![image](https://user-images.githubusercontent.com/8579651/200328849-2cab8790-3427-4bf4-9909-09415fa4c7e8.png)

If we record with Performance panel, it will be easy to observe
1. The

[2022-11-07 14:30] mvtglobally commented on #12476
Let us know once the build issue is resolved. Android is the only outstanding item to close out this regression

[2022-11-07 14:30] mananjadhav commented on #10356
@MitchExpensify This has been a problem since the inception. What I mean is our emoji datasource didn't support them since the beginning. https://github.com/Expensify/App/pull/1991 here's the PR when we added the previous emojis with the emoji picker.

[2022-11-07 14:33] MitchExpensify commented on #12449
[Asked the room here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667831588058479)

[2022-11-07 14:38] stitesExpensify commented on #10615
Ah I can totally see the confusion there. I was just replying to the overdue label. I didn't specifically test it and find it unreproducible. That said, I think that we _should_ actually just close this because it will be fixed by our sequence number fixes

[2022-11-07 14:40] Julesssss commented on #12504
PR: https://github.com/Expensify/App/pull/12510

[2022-11-07 14:40] mountiny commented on #11908
It hasnt been that complex but I appreciate the PR grew in size. I think we can offer a $250 bonus for this work cc @dylanexpensify and @parasharrajat

[2022-11-07 14:40] LLPeckham commented on #12255
Drafting blurbs this morning and then will share for review.

[2022-11-07 14:41] getusha commented on #12025
It is quite interesting to see this detailed comment
https://github.com/Expensify/App/blob/c02031489b46200f95d19bfda1e0c048cb99bb45/src/components/Hoverable/index.js#L62-L67
What do we miss?
https://github.com/Expensify/App/blob/c02031489b46200f95d19bfda1e0c048cb99bb45/src/components/Tooltip/index.js#L187-L192
[code]

https://github.com/Expensify/App/blob/c02031489b46200f95d19bfda1e0c048cb99bb45/s

[2022-11-07 14:41] kbecciv commented on #11463
Checking with team, will update here shortly

[2022-11-07 14:42] mountiny commented on #11561
@smrutiparida just wanted to confirm, we cannot use the isBetaChecker for web/desktop too? Just wondering it would be nice to only have one method to distinguish that env variables on all platforms

[2022-11-07 14:43] Julesssss commented on #12476
Hi @mvtglobally, we're working on this and you should see an automated message here once it's deployed 🤞

[2022-11-07 14:46] maddylewis commented on #12043
@parasharrajat - when you have a chance, will you provide an update on when we think the PR for this fix will be ready?

[2022-11-07 14:46] kavimuru opened #12511 "[HOLD for payment 2022-12-02] [$250] Link with trailing spaces doesn't got trimmed reported by @kerupuksambel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open [staging.new.expensify.com](http://staging.new.expensify.com/)
2. Send a link on Markdown with trailing spaces for its U

[2022-11-07 14:48] maddylewis commented on #11823
updated budget here - https://www.upwork.com/jobs/~0198538cbc40aff5b9

[2022-11-07 14:48] MitchExpensify commented on #10356
@puneetlath "A discussion in #contributor-plus has been started about whether any other steps should be taken (e.g. updating the PR review checklist) in order to catch this type of bug sooner."

Curious for your thoughts as I try to follow these instructions, the [PR that introduced the emoji picker](https://github.com/Expensify/App/pull/1991) didn't have a C+ or CME. Does it still make sense to p

[2022-11-07 14:50] kbecciv commented on #12328
@abekkala Sure, checking this issue again, update you shortly.

[2022-11-07 14:50] maddylewis commented on #11697
doubled the price on this one - https://www.upwork.com/jobs/~019259c7134745d072

[2022-11-07 14:51] miljakljajic commented on #12237
what do you think @rushatgabhane @jasperhuangg - are you happy with the suggestion @TwizzyIndy has provided above?

[2022-11-07 14:52] iwiznia commented on #11385
What do you mean by "edited images"?

[2022-11-07 14:55] maddylewis commented on #12043
doubled price of job here - https://www.upwork.com/jobs/~01e355bdb9800b63a9

[2022-11-07 14:56] mananjadhav commented on #11385
Images cropped from the Image editor before uploading.

For instance, check my avatar. Both of them are same.
`avatar`: https://d1wpcgnaa73g0y.cloudfront.net/07224468a845eaae17169b21165b2ae3e073db38_128.jpeg
`avatarHighResolution `: https://d1wpcgnaa73g0y.cloudfront.net/07224468a845eaae17169b21165b2ae3e073db38.jpeg

<img width="377" alt="image" src="https://user-images.githubusercontent.com/306906

[2022-11-07 14:56] mananjadhav commented on #11471
You're right @dhairyasenjaliya.

@MonilBhavsar @kbecciv I am not able to reproduce this anymore on staging. Can you confirm once? I think we need to hold this, until 1-2 KI tests.

[2022-11-07 14:58] iwiznia commented on #12319
Not overdue, waiting for assignment

[2022-11-07 14:58] iwiznia commented on #11951
Should we double again?

[2022-11-07 15:00] kavimuru opened #12512 "[HOLD for payment 2023-02-03] [$1000] [Image] The attachment PDF preview is not shown offline reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open any chat in the new dot
2. Go offline
3. Click :heavy_plus_sign: in composer -> Add Attachments
4. Select a PDF attachme

[2022-11-07 15:00] kbecciv commented on #11463
Issue is still reproduced in build 1.2.24.0
Steps:
1. Login with any account
2. Tap on FAB icon
3. Select New Group
4. Type any email
5. Hold your finger when cursor at the end
6. Verify that Create group button is not hidden

https://user-images.githubusercontent.com/93399543/200342288-a6c8bff4-3ede-4228-859e-4625879f33bd.mp4

[2022-11-07 15:01] iwiznia commented on #11385
Ah yes, we don't save the original original 😄

[2022-11-07 15:02] dylanexpensify commented on #11815
Hello! I'll get going on this NOW

[2022-11-07 15:05] dylanexpensify commented on #11815
Upwork: https://www.upwork.com/jobs/~012e8c7dcb621a9da7

cc @mananjadhav @mollfpr

[2022-11-07 15:06] parasharrajat commented on #10262
Ok. Thanks for confirming the safari copy-paste.

[2022-11-07 15:06] kbecciv commented on #11471
Checking now, update you shortly

[2022-11-07 15:07] muttmuure commented on #12472
I've been able to reproduce this on web. Let's reopen the original

[2022-11-07 15:09] tgolen commented on #12487
Ah yes, it looks like when I changed the signature of `getDisplayNameForParticipant()` that I missed a spot. The proposal from @0xmiroslav looks like a good fix for it.

[2022-11-07 15:09] tienifr commented on #12066
thanks @srikarparsi , I applied to the job, the PR will be ready by Nov 9

[2022-11-07 15:10] tgolen commented on #11609
Yeah, I confirmed that the PR from this caused the regression. It was a spot I missed in the code when I changed a method signature.

[2022-11-07 15:11] mollfpr commented on #11815
@dylanexpensify Applied, thank you!

[2022-11-07 15:11] miljakljajic commented on #12507
I was able to reproduce this. Assigning an engineer to triage - can this be worked on by an external contributor?

[2022-11-07 15:11] kbecciv commented on #11471
Issue is still reproducible

https://user-images.githubusercontent.com/93399543/200344779-9c7026ab-1473-441a-afcb-ddb0082d8a7c.mp4

.

[2022-11-07 15:12] muttmuure commented on #12472
Closing in favour of https://github.com/Expensify/App/issues/11086

[2022-11-07 15:12] #12472 closed

[2022-11-07 15:12] dylanexpensify commented on #11815
Offer sent @mollfpr !

[2022-11-07 15:15] mananjadhav commented on #11815
Done @dylanexpensify

[2022-11-07 15:15] kbecciv commented on #11068
@muttmuure Checking in Web and Desktop, will update you shortly

[2022-11-07 15:16] parasharrajat commented on #10262
Bump @pecanoro

[2022-11-07 15:16] CortneyOfstad commented on #12020
Alright, closing! Thanks!

[2022-11-07 15:16] #12020 closed

[2022-11-07 15:19] parasharrajat commented on #11810
Asked in https://expensify.slack.com/archives/C01GTK53T8Q/p1667833896505429. Please chime in.

[2022-11-07 15:20] parasharrajat commented on #11229
Looking into the diff and share the update asap.

[2022-11-07 15:20] mananjadhav commented on #11385
Yeah! I guess we don't edit/zoom, it stores a large image.

[2022-11-07 15:24] kbecciv commented on #12283
@Santhosh-Sellavel Please attached video, you need to turn off live mode when taking a picture before attaching in NewDot app.

https://user-images.githubusercontent.com/93399543/200347442-09252155-cace-4fb5-b1d1-ec93b01fa217.mp4

[2022-11-07 15:24] #12504 closed

[2022-11-07 15:24] tgolen commented on #11964
Thanks for the updated proposal.

Sorry, I'm not really following this. It kind of looks like words are missing or the grammar is wrong enough that I'm not understanding the reason. Can you try to reword this, please?

This sounds like a good guess, but let's make _sure_ that's the problem. Also, if this is indeed the root cause of the problem, can the fix be something that looks at the parent nav

[2022-11-07 15:24] tgolen commented on #12104
Closing this out now.

[2022-11-07 15:24] #12104 closed

[2022-11-07 15:25] lschurr commented on #12048
Hi @eVoloshchak - could you apply to the job in Upwork so that I can pay you for C+?

[2022-11-07 15:25] stitesExpensify commented on #11922
@aimane-chnaif it actually looks like this issue is _not_ fixed by that PR. The app actually breaks instead of an endless loading spinner if the user has no details whatsoever (including no email/login) 😅

<img width="1727" alt="2022-11-07_08-23-54" src="https://user-images.githubusercontent.com/42391420/200347864-812291a0-4f46-4f6c-800c-4c646b17b530.png">

[2022-11-07 15:26] kavimuru opened #12514 "IOU - Cannot select numbers for cut/copy reported by @aimane-chnaif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login with any account
2. Click FAB menu -> Request money
3. Enter amount using keyboard
4. Select the numbers to highlight

[2022-11-07 15:27] luacmartins commented on #9581
👍 from me, but @neil-marcellini is the CME here.

[2022-11-07 15:28] dylanexpensify commented on #11815
Offer sent @mananjadhav !

[2022-11-07 15:29] mananjadhav commented on #11815
done. @dylanexpensify

[2022-11-07 15:31] NicMendonca commented on #9818
doubled price: https://www.upwork.com/jobs/~01433e6a7c80a03303

[2022-11-07 15:31] tgolen commented on #11701
When I was initially looking at this, I felt like the root cause of the problem came from this style:

https://github.com/Expensify/App/blob/debeb86a0a1134c578331499a25bb9096b8dc8b0/src/styles/styles.js#L943

I think the top margin is always going to be a % of the page height, and the page height doesn't change when the keyboard is open, then the `marginTop` is the wrong way to implement the spaci

[2022-11-07 15:32] kbecciv commented on #11961
Issue is reproduced with build 1.2.24.0

https://user-images.githubusercontent.com/93399543/200349885-af9fd8ed-2577-4431-9af9-006bdc661fd4.MP4

[2022-11-07 15:33] thesahindia commented on #11275
This is what the [CONTRIBUTING.md](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#proposing-a-job-that-expensify-hasnt-posted) says:

"If the bug is fixed by a PR that is not associated with your bug report, the contributor is not eligible for compensation unless they can find the PR that fixed the bug then show their bug report preceded the one associated with the P

[2022-11-07 15:33] OSBotify commented on #12476
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12510) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.24-1` :rocket:

[2022-11-07 15:35] parasharrajat commented on #11275
I think that is not needed for this issue as it was clearly [reproducible](https://github.com/Expensify/App/issues/11275#issuecomment-1283069975) when created on GH and was recently got fixed with some PR. So it is clear that some PR fixed it.

[2022-11-07 15:36] kavimuru opened #12517 "Ability to request zero amount of money from Split Bill reported by @kerupuksambel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open [staging.new.expensify.com](http://staging.new.expensify.com/)
2. Click + > Split Bill
3. Enter 0.01 as its amount
4. Se

[2022-11-07 15:37] miljakljajic opened #12518 "Wire transfer of £3000 for the LHR Holiday party"
Hey there!

Unfortunately the venue we've chosen for the LHR holiday party can't accept payment via credit card. Please wire £3000 (the minimum spend) to this account as soon as possible, they can't hold the venue until the deposit is paid:

Amount: £3000
Name: Bar Doña Ltd
Account: 15323212
Sort Code: 60-83-71

Vendor Name: Bar Doña
Description of goods/service provided: Party venue
Vendor Contac

[2022-11-07 15:39] dylanexpensify commented on #11815
Payments sent, contracts ended, job posting closed! Thanks everyone!

[2022-11-07 15:39] #11815 closed

[2022-11-07 15:40] luacmartins opened #12519 "Remove derived state in ReportActionCompose"
# Problem
As part of https://github.com/Expensify/App/pull/11684, we came across two derived state variables, namely `hasExceededMaxCommentLength` and `isCommentEmpty` that are being used to prevent expensive re-renders and improve performance in App. While improved performance is great, [derived state variables are bad practice](https://reactjs.org/blog/2018/06/07/you-probably-dont-need-derived-s

[2022-11-07 15:41] mountiny commented on #10654
I think the issue might be that in native platform the scroll speed is dynamic. The more you move your finger on trackpad/display, the faster it scrolls. How do native scrollViews handle this in ReactNative 🤔

[2022-11-07 15:44] tgolen commented on #10356
I can appreciate that there was more work required to complete this than was figured in the original proposal. However, I was pretty disappointed that it took almost a month to get the PR created for this.

You originally said on Sep 30:

The PR was taken out of draft and marked ready to review on Oct. 30 and there was a gap of nearly a month where the branch didn't have any commits.

If the work

[2022-11-07 15:47] #12518 closed

[2022-11-07 15:48] mallenexpensify commented on #12335
@kbecciv when you get a min, can you address the above? (commenting cuz it's `Daily`)

[2022-11-07 15:48] davidcardoza commented on #12501
I am OOO, reassigning to get coverage on the bug issue.

[2022-11-07 15:48] muttmuure commented on #11951
Price has been doubled to $1000 - will cross post to Slack.

[2022-11-07 15:51] kavimuru opened #12520 "[HOLD for payment 2022-11-18] [$250] Blue border around `Confirm` Button has extra space on Password Protected Pdf Modal reported by @huzaifa-99"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open a password protected pdf (either from an existing chat or send a new one in a chat).
2. A modal with open, click on 'ente

[2022-11-07 15:52] thesahindia commented on #11275
I think this case should be discussed on slack since finding the PR can be time consuming but I think it is also important because we can't say for sure if the PR that fixed an issue wasn't already planned.

[2022-11-07 15:54] luacmartins commented on #8722
@NicMendonca this issue is solved via https://github.com/Expensify/App/pull/11720. Do we need to pay any contributors? If not, we are good to close.

[2022-11-07 15:56] luacmartins commented on #11058
https://github.com/Expensify/App/pull/12219 is merged. Gonna retest this.

[2022-11-07 15:57] eVoloshchak commented on #8364
@tlerias , thank you for the [proposal](https://github.com/Expensify/App/issues/8364#issuecomment-1304635409)
Based on [this comment](https://github.com/Expensify/App/issues/8364#issuecomment-1303780417) we should go with options 2 or 3.

@mallenexpensify , is this change needs to be implemented only for the Profile page?