[2022-10-25 01:56] sophiepintoraetz commented on #12049
![2022-10-25_14-48-04 (1)](https://user-images.githubusercontent.com/42940078/197663606-0405aa96-8846-4c45-8cec-acf9df49ed0a.gif)

Also, I am able to replicate the issue on web and iOS so sending over to engineering.

[2022-10-25 02:00] quinthar commented on #11321
@hannojg  any luck?  Excited for this one!

[2022-10-25 03:01] hungvu193 commented on #11812
Are you using Android 12? It's quite hard to reproduce, just try to clear the app cache, close and open the app immediately.

[2022-10-25 03:15] ctkochan22 commented on #12000
This only happens if they change the name before you get an automatic message about guides

[2022-10-25 03:25] sobitneupane commented on #11671
@fedirjh What we are doing now is basically the same thing. Only difference is when user logout. To swiftly change unread reports to 0, we could have make use of `resetUnread()` of [the proposal](https://github.com/Expensify/App/issues/11671#issuecomment-1287935696). But it took around 20-30 seconds to change indicator to 0 in chrome.

[2022-10-25 03:29] wildan-m commented on #11674
@sophiepintoraetz, I don't know the backend logic to create a banned account, but here is another way to reproduce the same issue.

1. Go to the login page and fill new email
2. Zoom in the browser until the left column content height overflow the browser height
3. Click resend validation login more than three times

Please watch the attached video
https://user-images.githubusercontent.com/1184727

[2022-10-25 04:02] OSBotify commented on #12108
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.19-1 :rocket:

[2022-10-25 04:10] smrutiparida commented on #11561
@mountiny could you please suggest what to do next ?

[2022-10-25 04:14] JmillsExpensify commented on #11998
Closing this issue. I'm not clear what the bug is either reading the thread and the reproduction steps in this issue. Adding the `Needs reproduction` label.

[2022-10-25 04:14] #11998 closed

[2022-10-25 04:42] chauchausoup commented on #11998
<img width="296" alt="Screen Shot 2022-10-25 at 10 20 04" src="https://user-images.githubusercontent.com/34975245/197683688-61c795a2-94ee-4c6f-a34a-b6c69483eea4.png">

@JmillsExpensify the as shown grey backgorund in the above image is not changing if one tap holds or even taps on the user profile in the **New Chat** section. Such feedback mechanism (design pattern) is validated in other sections

[2022-10-25 04:45] mdneyazahmad commented on #10486
@MitchExpensify PR is deployed on staging https://github.com/Expensify/App/pull/10790#issuecomment-1289804155

[2022-10-25 04:55] aldo-expensify commented on #11812
Android 10

Clear the app cache from `Settings -> Apps & Notifications -> App info -> New Expensify > Storage & cache`?

[2022-10-25 05:37] hungvu193 commented on #11812
yeah, for now I only can reproduce it on android 12.

[2022-10-25 05:47] Prince-Hamza commented on #11695
ok i was sleeping.am working on it now

[2022-10-25 05:50] sobitneupane commented on #11486
@fedirjh I tend to agree with your reasoning in [this proposal.](https://github.com/Expensify/App/issues/11486#issuecomment-1287358882) Few points:
-  You have pointed out that "previous value of `tooltipTextWidth` is being used." I can verify this happening.
- "We will need to remove the whiteSpace: 'nowrap'." I agree with you here.
- "overflowWrap: 'normal' will prevent the second line from wrap

[2022-10-25 05:55] aldo-expensify commented on #11807
Sorry, I still can't reproduce. After I open the Android app, I do see the workspace active (not deleted), but one or two seconds after it changes to deleted and the chats get archived. I'm guessing there is a delay because the app is fetching some data?

[2022-10-25 05:57] sobitneupane commented on #11486
@danishyasin33 Thanks for your proposal.

It does. But it  does not update to a correct value. It's value is updated to `tooltipTextWidth + (spacing.ph2.paddingHorizontal * 2) + 1`, i.e, previous tooltipTextWidth +17.

I believe the better approach will be to find the reason for the issue rather than just getting the job done.

[2022-10-25 06:23] aldo-expensify commented on #11807
Some additional info...

- I checked and each time we re open the app, we send a request with command `OpenApp` which will pull the current policies (workspaces)
- The policies brought by `OpenApp` of course don't include the deleted workspace (there isn't a key setting the workspace to null).

I guess if we miss the pusher event that remove the workspace. The Onyx updates coming from `OpenApp` ar

[2022-10-25 06:40] aldo-expensify commented on #11807
ahhhhh was getting confused by the workspace disappearing from the LHN and the chats archived. The chats get properly archived because the OpenApp updates them, but the workspace was staying and I didn't notice because I had to go to the settings.

This is also reproducible with two browser sessions:

1. Login in new dot in two browser sessions with the same account
2. Create a workspace
3. Make s

[2022-10-25 06:54] thesahindia commented on #12067
Accepted. Thanks!

[2022-10-25 07:11] flaviadefaria commented on #12018
link to the internal job posting: postinghttps://www.upwork.com/ab/applicants/1584804132817670144/job-details
 link external job: https://www.upwork.com/jobs/~017777eb694223c27d

[2022-10-25 07:31] mdneyazahmad commented on #12060
We may not need to hardcode the simulator option. iPhone 14 is added as a preferred fallback simulator in https://github.com/react-native-community/cli/releases/tag/v9.1.2.

React Native Expensify

[code]

https://github.com/Expensify/react-native/blob/6e9d4bf1b41242d582c03be5b933b340a832aacf/package.json#L107-L109

---

React Native upstream

[code]

https://github.com/facebook/react-native/blob/

[2022-10-25 07:37] hungvu193 commented on #11797
Cool, should I apply to upwork?

[2022-10-25 07:41] hannojg commented on #11321
Not yet, will work on it this week, will keep y'all updated 😊

[2022-10-25 07:49] hannojg commented on #11697
just try with a weaker device if you have one available 😊

[2022-10-25 07:53] Julesssss commented on #11132
I don't believe there was an accidental deploy, as our internal releases line up with the PlayStore builds. Instead, it seems like a regression in our versioning logic as was suggested above.

Staging version: `1.2.18`
Prod version: `1.2.19-1`

[2022-10-25 08:04] Julesssss commented on #9250
The PR does seem to resolve the issue, so lets keep this on hold for now.

[2022-10-25 08:06] Christinadobrzyn commented on #11011
doubled price - still waiting on proposals

[2022-10-25 08:06] kidroca commented on #7860
Something else to have in mind is this (big) refactor of the `VirtualizedList` that was recently merged in `react-native`: https://github.com/facebook/react-native/commit/971599317b7bdf1152157206f9503a23ac8c4162

Per the above summary it seems any enhancements would be better off to be applied on the latest code

I think ATM react-native-web is using the implementation from 6-7 months ago: https:/

[2022-10-25 08:08] mananjadhav commented on #11461
PR changes are fine, I'll finish the testing by tomorrow.

[2022-10-25 08:44] laurenreidexpensify commented on #11190
Marc was OOO last week, not overdue

[2022-10-25 09:27] mountiny commented on #11132
that means there would have to be a PR recently which would break this logic, that could help narrowing this down

[2022-10-25 09:35] isabelastisser commented on #11494
Hey @mananjadhav , any updates here?

[2022-10-25 09:42] isabelastisser commented on #11713
Hey @neil-marcellini, are you going to be able to start working on this soon, or should we assign another engineer? Perhaps change it to weekly or monthly? cc @mallenexpensify

[2022-10-25 09:44] Julesssss commented on #12082
The report data is received when the connection resumes (including the `lastMessageText`), but the reportAction data is not, which blocks us from viewing the chat.  Perhaps this is a bug, but it's also possible we never implemented this logic.

**report data**
<img width="996" alt="Screenshot 2022-10-25 at 10 37 16" src="https://user-images.githubusercontent.com/10736861/197740873-c3a0d839-278a-4b

[2022-10-25 09:55] Julesssss commented on #11132
Also, the version is definitely incorrect in [that screenshot](https://github.com/Expensify/App/issues/11132#issuecomment-1286002131).

[2022-10-25 09:55] isabelastisser commented on #11843
Hey @gadhiyamanan, I'm still unable to reproduce it on mobile or the web, so I'm closing this issue. Please reopen if you need me to review this further. Thanks!

[2022-10-25 09:55] #11843 closed

[2022-10-25 09:56] OSBotify commented on #11132
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-25 09:57] Julesssss commented on #11132
Adding the deployBlockerLabel  to prevent further deploys until we can confirm the cause. I know it's useless given this exists on prod, but it'll hopefully speed up the release of the evental fix 🤞

[2022-10-25 09:59] Julesssss commented on #11132
My current guess is that the bug is in our CI deploy logic, as presumably Applause would have noticed the incorrect version during testing -- or would have reported bugs against a clearly outdated version

[2022-10-25 10:00] Gonals commented on #10352
@aimane-chnaif proposal looks good to me too!

[2022-10-25 10:10] JmillsExpensify commented on #10525
Gotcha, so this is one of those refactors that is in an in between state, because parts of the Manual Requests fall within API Unchained, and then other parts fall within N7. Is that right?

[2022-10-25 10:13] JmillsExpensify commented on #12075
Given that this is a bug, I think we should have a BZ team member assigned. Adding the auto-assigner.

[2022-10-25 10:15] JmillsExpensify commented on #12109
@chiragsalian I don't see anyone assigned to this issue, so I wanted to clarify how we're handling next steps?

[2022-10-25 10:17] JmillsExpensify commented on #12075
Looks like that didn't work. Going with triage instead.

[2022-10-25 10:21] JmillsExpensify commented on #8503
Expecting to [merge the PR](https://github.com/Expensify/App/pull/11567#issuecomment-1290028472) today.

[2022-10-25 10:24] bernhardoj commented on #11512
### **Proposal**
As @ItsJustTomDev mentioned, when we disconnect bank account, `resetFreePlanBankAccount` is called. Inside of it, we merge the `REIMBURSEMENT_ACCOUNT` with new `achData`. However, we forget to merge the "state" property (to reset it). So, we can just add **state** with value of **BankAccount.STATE.DELETED**.

[code]

[2022-10-25 10:27] Puneet-here commented on #11132
Just want to inform that I had reported this on Aug 17, if it helps.

[2022-10-25 10:32] Julesssss commented on #11132
[This](https://github.com/Expensify/App/issues/11880#issue-1410003257) is the deploy checklist for the current prod build, which occurred on August 17th. There were two releases in quick succession on Aug 16th too ([1](https://github.com/Expensify/App/issues/11793) + [2](https://github.com/Expensify/App/issues/11830)).

Nothing stands out as a potential cause 😕

[2022-10-25 10:38] #12052 closed

[2022-10-25 10:41] Beamanator commented on #10960
Taking off hold b/c we want to start working on N7 Account Settings again, at least the profile pages

[2022-10-25 10:48] Julesssss opened #12114 "[$250] Vertical keyboard padding is shown beneath input when opening chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

- Navigate to Settings > Profile
- Tap the 'First name' input field
- Without manually closing the keyboard, close the modal wit

[2022-10-25 10:49] Julesssss commented on #12114
@flaviadefaria please hold on making this external for now. It seems related to a keyboard refactor that @tgolen is working on, so I'd like to first get his opinion.

[2022-10-25 10:51] JmillsExpensify commented on #11768
@puneetlath I see you're trying to get invited to the Discord room, but is there anything else we can do to speed this part up? It's kind of a bummer that getting in contact with the maintainer is a blocker.

[2022-10-25 11:21] JmillsExpensify commented on #10962
Added the issue for the comment box freezing the app following quick typing.

[2022-10-25 11:34] NikkiWines commented on #12029
@kbecciv I don't think this is actually a bug. Closing.

[2022-10-25 11:34] #12029 closed

[2022-10-25 11:38] Tushu17 commented on #12005
@sakluger I'm using version 16.1 of Safari.

[2022-10-25 11:39] kbecciv opened #12115 "IOUBadge displayed with 0.00 total for any chat with an associated iouReport that has a total of 0"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in with any account
3. Refresh the page
4. Cancelled all unpaid money requ

[2022-10-25 11:40] OSBotify commented on #12115
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-25 11:42] mountiny commented on #12115
Trying to get this auth PR merged to fix this hopefully https://github.com/Expensify/Auth/pull/7095

[2022-10-25 11:44] Julesssss commented on #12115
This is an internal issue.

Thankfully I have a PR in review which was improving this logic, and will resolve the issue. Preventing the need for a revert.

[2022-10-25 11:44] NicMendonca commented on #11095
@parasharrajat @aimane-chnaif please accept the offer when you can. Thanks!

[2022-10-25 11:47] iwiznia commented on #11385
Hmmm, it's possible we have the original, but still will probably not be much larger and stretching it out will make it look bad like Rushat said.

[2022-10-25 11:48] Santhosh-Sellavel commented on #11797
@Gonals What should we do about another library?

[2022-10-25 11:54] bernhardoj commented on #11895
### **Proposal**

The chat name comes from `ReportUtils.getPolicyName`. We can add a check whether it's an archived room or not and return it's `oldPolicyName` if it's an archived room.

**_ReportUtils.js_**
[code]

[2022-10-25 11:54] iwiznia commented on #10731
Sounds good to me too.

What do you mean by `open search keyboard`?

[2022-10-25 11:56] isabelastisser commented on #11650
Hi @aimane-chnaif, can you please let me know if you were already assigned this job in Upwork? If not, I will create one today. Thanks!

[2022-10-25 11:57] danieldoglas commented on #12015
This will be an internal issue. Still don't know what it is but it is probably in the API layer

[2022-10-25 12:01] muttmuure commented on #11952
Dang - sorry for the mistake here. I watched the video and thought it was a clearly reproducible issue - this is the only time I've done it that way.

1. I opened staging.new.expensify.com
2. I opened a new Send Money
3. Tapped currency symbol
4. Changed to PKR
5. Typed 0

The amount is in line with the currency.

![image](https://user-images.githubusercontent.com/46995600/197767752-ff6bd718-b882-

[2022-10-25 12:01] #11952 closed

[2022-10-25 12:06] thesahindia commented on #12042
What are the next steps here?

[2022-10-25 12:08] thesahindia commented on #11386
Accepted, thanks!

[2022-10-25 12:12] mountiny commented on #12060
Oh good shout @mdneyazahmad, let me have a look into where we are with RN updates

[2022-10-25 12:18] Julesssss commented on #12115
Until the last Web-E deploy, [this issue](https://github.com/Expensify/Expensify/issues/229735) existed on staging. A fix for that issue uncovered this bug.

The problem is that `getActiveIOUReport` retrieves IOUReports with a total of 0. This occurs when an iouReport is opened, but then all ious are rejected or canceled. This Auth PR introduces a change where the iouReportID is only returned from

[2022-10-25 12:22] Prince-Hamza commented on #11695
code on your page will ook like this:

[code]

i can clone and test if you want

[2022-10-25 12:23] sobitneupane commented on #11385
I remember having high resolution image before. It must be a regression.

[2022-10-25 12:29] tgolen commented on #12114
I've added a HOLD to this and added it to the master tracking GH for now. I'll have to take a look at this on my branch and see if it's fixed yet or not.

[2022-10-25 12:31] CortneyOfstad commented on #12020
Job Posting here — https://www.upwork.com/jobs/~016433cb5b74aa9b47

[2022-10-25 12:37] flaviadefaria commented on #12114
@Julesssss should I delete the Upwork post then?

[2022-10-25 12:44] mountiny commented on #11561
@smrutiparida I am not sure on this one, I am not that familiar with the deploy flow so dont want to agree with changes which might not be intended. I will ask someone who might be more familiar

[2022-10-25 12:47] zanyrenney commented on #11667
This is on hold. @Luke9389 what do you think about updating this to weekly whilst we are still on hold?

[2022-10-25 12:47] Julesssss commented on #12114
Thanks, @tgolen.

@flaviadefaria I'm not sure how UpWork posts work in practice, but I assume it's fine to keep it up for now until it has been confirmed.

[2022-10-25 12:49] tgolen commented on #12114
OK, I just tried it out with my branch and it is still broken there. Let's keep this issue on HOLD until my PR is merged though (so we can get proposals based on the right code). If we can't pause the Upwork job, then maybe it is best to delete it for now.

[2022-10-25 13:06] miljakljajic commented on #11851
[Posted](https://www.upwork.com/ab/applicants/1584894080490983424/job-details) to Upwork!

[2022-10-25 13:11] michaelhaxhiu commented on #10263
Doubling price!

[2022-10-25 13:12] mountiny commented on #12115
Auth PR here https://github.com/Expensify/Auth/pull/7095

[2022-10-25 13:14] flaviadefaria commented on #12114
Oh we're actually good, I confused the GH issues 😅  I had another one with Jules for which I posted the job in Upwork this morning, but I had not posted one for this issue. I'll switch this one to weekly then until it's removed from hold.

[2022-10-25 13:22] kbecciv opened #12116 "[HOLD for payment 2022-11-16] [$250] Web - LHN - The modal key combination doubles when the window is resized"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12071

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2.

[2022-10-25 13:23] parasharrajat commented on #12043
Thanks for the proposal @huzaifa-99.

IMO It is the best approach out of all you suggested.

But, is there a way of doing this via a focus/blur event on https://github.com/Expensify/App/blob/b9153fd780900f63b40b14e4ef3f5bf83e2d3184/src/components/EmojiPicker/EmojiPickerMenuItem.js#L27?

I think it can be done the following way.
1. Add focus/blur events on the `EmojiPickerMenuItem` and change the `

[2022-10-25 13:25] parasharrajat commented on #12060
What version of RN is required for that?

[2022-10-25 13:30] parasharrajat commented on #11606
@sophiepintoraetz I already did a few days back. Also, I think it is helpful to keep the issue open until all the payments are done. You can put it back to weekly if needed.

A few of my trackers depend on the status of the issue.

[2022-10-25 13:33] puneetlath commented on #11476
@MitchExpensify I think the move would be to assign it back to the issue reporter (in this case @roryabraham) and close the issue.

[2022-10-25 13:35] rawalyogendra commented on #11330
@mvtglobally @deetergp I am still able to reproduce this issue in **_v1.2.19-1_**

https://user-images.githubusercontent.com/7548730/197787588-74ce4908-f7de-433f-8e43-982b5a569298.mp4

[2022-10-25 13:41] mountiny commented on #12060
@Puneet-here @parasharrajat lets do that, I chatted with @roryabraham and this should be fine, we just need to check if everything else works fine with the new RN version.

[2022-10-25 13:56] roryabraham opened #12118 "Remove Reanimated patch"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

This issue is just a reminder to remove the Reanimated patch we've got in this repo whenever:

- [This PR](https://github.com/software-mansion/react-n

[2022-10-25 14:00] hannojg opened #12119 "[$1000] [Performance] Pressing the FAB on the start screen doesn't open the menu immediately"
## What performance issue do we need to solve?

When pressing the FAB on the start screen there is a noticeable delay until the menu opens. It gets more noticeable the weaker the device is.

See this video:

https://user-images.githubusercontent.com/16821682/196205400-e5a4746a-f32c-477b-b166-d5a1b44dad8f.mp4

## What is the impact of this on end-users?

Frustration. The action that follows an inte

[2022-10-25 14:03] Santhosh-Sellavel commented on #10731
@iwiznia
While Opening Search from ChatList, The keyboard is dismissed automatically

[2022-10-25 14:07] CortneyOfstad commented on #11946
Upwork Job — https://www.upwork.com/jobs/~01ab5b4493ab9b6e6b

[2022-10-25 14:09] kavimuru opened #12120 "BUG: An extra blank line is added before and after a message with block quote is edited reported by @huzaifa-99"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Create a message with block quote (Send the message)
2. Try editing the message after it is sent.

## Expected Result:
There

[2022-10-25 14:18] Santhosh-Sellavel commented on #10731
This is not reproducible, So I think let us move on, can you check this and confirm @christianwen? Maybe some recent changes solved this one.

[2022-10-25 14:26] Santhosh-Sellavel commented on #11895
@AndrewGable What's the expected OP here?

[2022-10-25 14:31] Julesssss commented on #12115
Hey @Justicea83 @cead22, please take another look when you have a moment, as this PR now resolves a Web-E and App[ deploy blocker](https://github.com/Expensify/App/issues/12115).

[2022-10-25 14:32] michaelhaxhiu commented on #11102
Invited @thesahindia to the job, so we can pay both of you at the same time. @thesahindia can you confirm when you accepted it?

[2022-10-25 14:32] michaelhaxhiu commented on #11102
Will get this paid today

[2022-10-25 14:42] Uros787 commented on #11863
let me know

[2022-10-25 14:46] thesahindia commented on #11102
Applied 🚀

[2022-10-25 14:47] luacmartins commented on #10729
@Santhosh-Sellavel let me know when you had the chance to review @mollfpr's proposal!

[2022-10-25 14:49] luacmartins commented on #10525
It was planned to be done with Manual Requests. However, I think there's no need to wait for that and we can go ahead with this refactor.

[2022-10-25 14:52] puneetlath commented on #9137
@marcaaron does this still need to be on hold. It looks like those two API commands have been refactored based on the linked issues.

[2022-10-25 14:54] Puneet-here commented on #12060
Just to be sure, we wanna use `npx react-native run-ios --port=8082 --simulator=$DEVICE` right? Or are we planning to upgrade RN version.

[2022-10-25 14:59] tgolen commented on #10609
Wow, it's so weird that a lot of these are disappearing, even without my fix deployed. It's fine to close this.

[2022-10-25 14:59] #10609 closed

[2022-10-25 14:59] Julesssss commented on #12115
[Auth PR](https://github.com/Expensify/Auth/pull/7095) has been approved, now we're just awaiting @cead22's review as he previously added some comments which were resolved.

[2022-10-25 15:00] Julesssss commented on #12108
https://github.com/Expensify/App/issues/12115 is in progress and should be resolved with the next Auth deploy.

[2022-10-25 15:01] parasharrajat commented on #12060
I think.

[2022-10-25 15:04] kavimuru opened #12122 "[HOLD for payment 2022-11-08] [$250] VBA - Error message not dismissed after selecting address from autofill option"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #11611
## Action Performed:
1. Launch the app and login
2. Select a workspace > Connect a bank account > Proceed to comp

[2022-10-25 15:06] michaelhaxhiu commented on #11102
All paid.

[2022-10-25 15:06] #11102 closed

[2022-10-25 15:12] Puneet-here commented on #12060
Then I think we should assign @mdneyazahmad here since they researched and pointed out it.

[2022-10-25 15:14] sobitneupane commented on #11921
I was able to reproduce it on Desktop v1.2.19-1.

@osama256 Thanks for your proposal.
Your proposal does not state the cause of the issue. Can you please explain the cause of this issue?

It looks like you have added two conditions. I am not convinced with the approach you are proposing. It looks like a temporary solution. What if we start using Spanish translation of "Chats" when Spanish is selec

[2022-10-25 15:16] pecanoro commented on #11946
I can't reproduce it either, so I am going to close it.

[2022-10-25 15:16] #11946 closed

[2022-10-25 15:26] sobitneupane commented on #11413
Waiting for proposals.

[2022-10-25 15:34] shawnborton commented on #11346
Yes, that makes sense to me! Either replace them or don't show them on smaller screens.

[2022-10-25 15:36] shawnborton commented on #11410
Not overdue, but what's the latest update here?

[2022-10-25 15:40] azimgd commented on #10107
It's been almost 2 weeks without an update, so I would really appreciate if we can get any comment.

[2022-10-25 15:41] kbecciv opened #12123 "[HOLD for payment 2023-02-01] mWeb - Connect Bank account - User can't procced with Chase credentials for special scenario"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in with a applause.expensifail account (that does not have any bank account already added)
2. Enable staging Web secure se

[2022-10-25 15:42] cowboycito commented on #10263
@michaelhaxhiu I did some investigation and this is actually a limitation from WebKit. You can see [here](https://github.com/WebKit/webkit/blob/main/Source/WebCore/platform/ios/PasteboardIOS.mm#L439) all the file types that are "pasteable" on a WebKit input. If you actually copy and paste a PNG image, for example, it works. The problem is that the default image format on iOS is HEIC, which is not

[2022-10-25 15:42] kbecciv commented on #12123
Please attached the link to TR for special scenario https://expensify.testrail.io/index.php?/cases/view/1971142

[2022-10-25 15:48] shawnborton commented on #11410
That works for me! Will comment over there shortly.

[2022-10-25 15:55] azimgd commented on #10107
Thank you for an update, do you have any estimates on when this could be reviewed ?

[2022-10-25 15:55] MitchExpensify commented on #11207
Thanks for the course correction @mallenexpensify and @thesahindia, I'll end the contract now. Apologies for the confusion

[2022-10-25 15:57] parasharrajat commented on #10107
I am looking it at today for sure but it can take some time to go over all proposals.

[2022-10-25 16:11] Justicea83 commented on #12116
I can reproduce this, and its can be external

[2022-10-25 16:20] Santhosh-Sellavel commented on #10263
We would like all the image formats possible and if HEIC is the default then we should definitely support that, I see WhatsApp does it. Hope this clarifies!

[2022-10-25 16:22] ckrodrigues commented on #10263
@Santhosh-Sellavel WhatsApp does it on the mobile app, not on mobile web. On the mobile app it can be done but as far as I could understand this issue is related to mobile web.

[2022-10-25 16:23] cowboycito commented on #10263
@Santhosh-Sellavel WhatsApp does it on the mobile app, not on mobile web. On the mobile app it can be done but as far as I could understand this issue is related to mobile web.

[2022-10-25 16:26] Santhosh-Sellavel commented on #10614
@cowboycito

If so explain why it's necessary to add it, then we would allow/accept that.

[2022-10-25 16:29] Santhosh-Sellavel commented on #10263
Ah sorry, I misread that. But I believe we have a proposal for mWeb [here](https://github.com/Expensify/App/issues/10263#issuecomment-1248584623).

[2022-10-25 16:37] neil-marcellini commented on #12048
Yes @aimane-chnaif has the solution. I think we could also make it optional and default to `false`.

[2022-10-25 16:37] neil-marcellini commented on #12048
We should keep this open and fix it even though it's just a prop type warning.

[2022-10-25 16:52] AndrewGable commented on #11561
I agree the root cause is because we always use `.env.production` in fastlane builds. I also agree that using our existing `BetaChecker.isBetaBuild()` is best here. We should be able to come up with a clean solution that uses `BetaChecker.isBetaBuild()` and `.env.staging`, right?

I think @smrutiparida is close to the ideal solution, but maybe there is some additional code cleanup @parasharrajat o

[2022-10-25 16:53] cowboycito commented on #10614
@Santhosh-Sellavel so drag and drop is a native iOS feature (from UIKit, as it can be seen [here](https://developer.apple.com/documentation/uikit/drag_and_drop)). I was not able to find any library that implements the drop functionality in RN.
For making dropping a file to work on the Expensify app we would have to deal with some native stuff, like [UIDropInteractionDelegate](https://developer.app

[2022-10-25 16:55] cowboycito commented on #10614
About the copy/paste an image on the native app, I think that's also related to #10263 , but it could also be fixed in this issue.

[2022-10-25 17:19] kevinksullivan commented on #11388
Sorry all, I missed this one over the weekend + with OOO. @aimane-chnaif just hired you for the job. Can you let me know when you accept so I can pay? @sobitneupane and @aneequeahmad are all set with payments.

[2022-10-25 17:21] kevinksullivan commented on #11971
Discussed this [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1666304863306549?thread_ts=1666185583.870949&cid=C01GTK53T8Q), and since this field is being deprecated we aren't going to move forward with changing it.

[2022-10-25 17:21] #11971 closed

[2022-10-25 17:27] lschurr commented on #12048
Job posted:
https://www.upwork.com/ab/applicants/1584959643548332032/job-details
https://www.upwork.com/jobs/~01a688c0ae4629126f

[2022-10-25 17:28] Santhosh-Sellavel commented on #10614
We could handle it there, as was reported earlier. And drag and drop alone can be focused on here
cc @Gonals

[2022-10-25 17:29] parasharrajat commented on #11561
Feedback on the proposal https://github.com/Expensify/App/issues/11561#issuecomment-1285351812:
1. Config variables should be in Config.js file. you can move the logic to dynamically calculate it in that file but all of those will **only** be exported from this file.

[2022-10-25 17:29] parasharrajat commented on #11561
Waiting for proposals...

[2022-10-25 17:30] Santhosh-Sellavel commented on #10614
Interesting, please submit a full-fledged testable proposal. We should focus Android Tab also here.

[2022-10-25 17:51] parasharrajat commented on #12060
@mountiny Can you please confirm what is the expected behavior now?

[2022-10-25 17:52] zanyrenney commented on #12058
Hey @kavimuru - Are you created the password protected PDF in Adobe? That's the only way I see how to recreate this. If you can attach an example of the PDF to this GH issue, i can test this properly.

[2022-10-25 17:52] parasharrajat commented on #11687
Bump @MonilBhavsar for PR review.

[2022-10-25 18:06] michaelhaxhiu commented on #10884
Yep, it was on my list. I'll double it now since I got the ping from ya :)

[2022-10-25 18:07] zanyrenney commented on #11808
@ctkochan22 should this still be internal? What's the latest here?

[2022-10-25 18:07] joaniew commented on #11346
Ask me how to scan a receipt - 28 characters, so we should do less than that.
Ask me how to pay people - 24 characters, so that is ok.

I don't think they all have to start with Ask me - seems arbitrary so suggesting the below using those character parameters:
- Help me get reimbursed (22 characters)
- How can I help? (16 characters)
- Questions? I can help! (24 characters)

or agree with shawn to

[2022-10-25 18:08] puneetlath commented on #11768
If I'm not able to get access by tomorrow then we'll reach out to some of our other vendors to see if they can help.

[2022-10-25 18:18] tjferriss commented on #11771
I've hired @thesahindia as Contributor + and @mollfpr to fix the issue

[2022-10-25 18:18] aldo-expensify commented on #11807
cc @luacmartins

I found [this code](https://github.com/Expensify/Web-Expensify/blob/2e88c1b42cc09c25a24075bf1addf8461229d95b/lib/AppInit.php#L60-L65) in the API that is supposed to use the policy ids in the client to respond if any of the policies should be removed

The problem is that in the App, when we call `OpenApp` here, `policyIDList` has not been initialized yet

https://github.com/Expensi

[2022-10-25 18:20] davidcardoza commented on #11820
@Puneet-here the job post is here - https://www.upwork.com/jobs/~017f9db81a3fa55760 can you apply?

[2022-10-25 18:25] kbecciv opened #12127 "Message - Previously sent offline message displayed for new phone user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/11439

## Action Performed:
1. Launch the app and login
2. Turn off your inter

[2022-10-25 18:38] mallenexpensify commented on #12067
Paid @thesahindia , thanks!

[2022-10-25 18:38] #12067 closed

[2022-10-25 18:41] marcaaron commented on #12109
I think we just need to go one version at a time and see which one breaks this behavior? I can help look into it.

[2022-10-25 18:44] mallenexpensify commented on #12082
@Julesssss , I would think, with our goal being offline-first, that we'd want to load all report data when we _can_, vs waiting for an action to be taken. Do you agree?

If so.. I imagine this might be a much larger undertaking. Do you remember who's been working on offline details lately?

[2022-10-25 18:45] chiragsalian commented on #12109
Yup i just cc'd relevant people to discuss first. But yes its basically what marc suggested. Btw marc, before going back one version at a time how about just reverting this [one](https://github.com/Expensify/react-native-onyx/pull/186) and testing? If its not the issue then it would make sense to revert one version at a time.

[2022-10-25 18:45] marcaaron commented on #11190
Sorry about this, but I'm going to close this issue and create some follow up `External` issues instead. It can be done externally and I'm not able to prioritize working on this.

[2022-10-25 18:45] #11190 closed

[2022-10-25 18:47] neil-marcellini commented on #10485
No I haven't seen this issue in a while. We also have the [Deprecate Sequence Numbers design doc](https://docs.google.com/document/d/1xYZfYX3HoNRF9iZOQJH4Tt7GvPgdS4eTMSRX27tQpl4/edit#heading=h.ns12dr1f35rx) which aims to solve this issue for good. I think it's ok to close this.

[2022-10-25 18:49] marcaaron commented on #9137
I'm not sure tbh. I think a good first step would be to verify if this issue still happens and go from there.

[2022-10-25 18:49] chiragsalian commented on #9137
+1 to what marc said.

[2022-10-25 18:59] tjferriss commented on #11429
Ok we'll hold on for now :)

[2022-10-25 19:02] chiragsalian opened #12128 "[HOLD #11768] [$1000] Hide create a workspace page when app is loading"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to http://localhost:8080/settings/workspaces in the URL while being logged out.
2. Log into the app.

## Expected Result:
W

[2022-10-25 19:05] tjferriss commented on #11513
I also can't reproduce this so I'm going to close it and take down the Upwork's posts.

[2022-10-25 19:06] #11513 closed

[2022-10-25 19:09] puneetlath commented on #11595
PR sent.

[2022-10-25 19:11] puneetlath commented on #9137
Ah sorry. I should have clarified that I confirmed this is still happening. Basically just trying to see whether I can go ahead and just treat this as a bug or if it is held on something. Based on what I can see here, it seems like no need to hold and we can just treat it like any other bug.

[2022-10-25 19:17] marcaaron commented on #12109
@chiragsalian I am a little confused, but why would running this code trigger the bug?

[code]

[2022-10-25 19:19] chiragsalian commented on #12109
So i don't know why it triggers the bug but it did. For some reason when updating `reportIOUs_`, this [callback](https://github.com/Expensify/App/blob/d9af57fc99978422e9b15415a7fcc83e5116c033/src/libs/SidebarUtils.js#L19-L24) was triggered and it would update reports which is why the LHN list would become empty.

I can demo the behavior to you as well in a video chat if you'd like.

[2022-10-25 19:20] marcaaron commented on #12109
Weird.

[2022-10-25 19:23] NicMendonca commented on #11095
@daraksha-dk & @aimane-chnaif - paid, thank you!

[2022-10-25 19:29] joekaufmanexpensify commented on #11850
Got it. Does there needing to be a discussion to identify the best path forward disqualify an issue from being demolition? I had [thought](https://stackoverflow.com/c/expensify/questions/8110) as long as it's a bug with clear, reproducible steps, that it would qualify. But LMK if that's not the case!

[2022-10-25 19:32] johncschuster commented on #11732
I've accepted your applications, @hungvu193 and @mananjadhav 👍

[2022-10-25 19:45] chiragsalian commented on #9137
Ah then yes no need to hold now on anything and we can treat it like any other bug.

[2022-10-25 20:16] aldo-expensify commented on #11812
Got access to crashlytics and this has happened only once. I'm leaving this as monthly for now.

I also got my hands on a Xiaomi A3 with android 11, I'll see if I can reproduce this. If I can't I'm inclined to just close this.

[2022-10-25 20:26] Santhosh-Sellavel commented on #10824
@neil-marcellini
Solution 2 looks good to me, but I am open to your thoughts also on this one!

[2022-10-25 20:36] tjferriss commented on #11438
Got it. I'm able to reproduce the bug. Thank you for the detailed steps. I've added these to the original post and added the `External` label.

[2022-10-25 20:36] Santhosh-Sellavel commented on #12049
@pecanoro
@Puneet-here Proposal looks good!

C+ Reviewed
🎀 👀 🎀

[2022-10-25 20:39] tjferriss commented on #11438
Upworks job posting is now live:
- https://www.upwork.com/jobs/~01c784eac1e6286898

[2022-10-25 20:40] tjferriss commented on #11677
Friendly bump here. If we're unable to reproduce this then I suggest we close it out.

[2022-10-25 20:44] Santhosh-Sellavel commented on #7968
@mdneyazahmad

Ignore what?

Which proposal are you referring to here?

I reported this already it does not seem to be a problem for now.

[code]

I still disagree, I don't think we should set focus other than Delete here. Refer to slack for example if needed.

cc: @stitesExpensify

[2022-10-25 20:46] johncschuster commented on #10409
@marcaaron do you feel this issue should still be on `HOLD`? I'm on both the Triage Team and the BugZero team, so I can manage this one – just want to get a sense of where we should be.

[2022-10-25 20:51] johncschuster commented on #10417
Sorry Melv, I meant to downgrade this to `Weekly` on the last comment. Doin' it now.

[2022-10-25 20:54] kavimuru opened #12131 "Android - VBA - Let's finish in chat screen is displayed on finish of Pending account flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in with a applause.expensifail account (that does not have any bank account already added)
2. Enable staging Web secure se

[2022-10-25 20:55] marcaaron commented on #12109
Narrowed it down to `1.0.19`. Which I think is the version where we introduced the `fastMerge()` method. Will keep digging...

[2022-10-25 20:55] johncschuster commented on #11768
Hey @puneetlath, @marcaaron suggested we added [this issue](https://github.com/Expensify/App/issues/10506) to this larger tracking issue you're managing.

[2022-10-25 20:58] johncschuster commented on #10506
Just bumping to keep Melvin happy. This issue has been added to the Tracking issue you mentioned. I'm going to downgrade the label to `Weekly`, but will keep bumping so it doesn't erode and close.

[2022-10-25 20:59] kbecciv opened #12132 "Workspace - No error message and red dot displayed for failed workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access www.staging.new.expensify.com
2. Sign into applausetester+disabledpolicy@applause.expensifail.com account
3. Disable th

[2022-10-25 21:00] kbecciv commented on #12132
Issue is reproduced in all environment, please attach the link for TR  https://expensify.testrail.io/index.php?/tests/view/2900726&group_by=cases:section_id&group_order=asc&group_id=229065

[2022-10-25 21:00] OSBotify commented on #12132
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-25 21:03] kavimuru commented on #12058
@zanyrenney Added the pdf used for this test in the GH.

[2022-10-25 21:04] MitchExpensify commented on #11529
Doubled! [Upwork Job](https://www.upwork.com/jobs/~01748846998c29a658)

[2022-10-25 21:06] #11476 closed

[2022-10-25 21:08] marcaaron commented on #12109
@chiragsalian One more thing... am still a little confused about why we would send an empty array as a collection and how we came to this conclusion? A collection passed to `mergeCollection()` should never be an array.

[2022-10-25 21:11] marcaaron commented on #12109
I wasn't able to reproduce this so unsure what the next steps here should be.

[2022-10-25 21:14] sophiepintoraetz commented on #11606
@parasharrajat Unfortunately, I also have a number of weekly issues that are more pressing, so I close out issues to keep my tracker tidy but I'll keep this in mind. In any case, dropping a comment here confirming when you have applied would help as well!  (I've accepted your application, thanks)

[2022-10-25 21:15] dangrous commented on #12132
This is pretty likely to be something due to https://github.com/Expensify/App/pull/11439 - looking into it. cc @stitesExpensify and @tylerkaraszewski in case you happen to have any insight.

[2022-10-25 21:18] marcaaron commented on #12109
Oh hmm maybe it's this:

https://github.com/Expensify/Web-Expensify/blob/3bd0e890d19509687f7e4854e96b81b824b31c0b/lib/AppInit.php#L120-L138

Going to test with an account that has no IOUs and see if the same happens.

[2022-10-25 21:19] parasharrajat commented on #11606
Thanks. You can even put it to Monthly if that helps. I am facing some issues on the Upwork side so can't take immediate action.

[2022-10-25 21:22] marcaaron commented on #12109
Gonna have to dive into the exciting world of updating the VM to test this theory 💀

[2022-10-25 21:23] sophiepintoraetz commented on #12049
[Job posted](https://www.upwork.com/jobs/~01af97f4666c7ddbf4)!

[2022-10-25 21:23] dangrous commented on #12132
Are we missing failureData here: https://github.com/Expensify/App/pull/11439/files#diff-8afe5b71ee0436c21364148c86dadd640f2bff3e3d916addbb1f1f6f7e5b6a43R698 ? That is, if it can't open the report does it just remove everything, rather than displaying it with an error message?

[2022-10-25 21:27] sophiepintoraetz commented on #11606
Looks like you accepted, so closing this issue with payment, thanks!

[2022-10-25 21:27] #11606 closed

[2022-10-25 21:27] OSBotify commented on #12108
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11996) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.19-2` :rocket:

[2022-10-25 21:32] Luke9389 commented on #8236
Melvin added that label a while ago, and I think we've since bumped this back up to `Weekly` so I'm taking the `Not a priority` label off.

[2022-10-25 21:33] puneetlath commented on #12006
@bfitzexpensify this seems related to pagination so I'm assigning over to you. Thanks!

[2022-10-25 21:34] Luke9389 commented on #11667
I think that's fine 👍

[2022-10-25 21:36] Luke9389 commented on #11809
Looks like we're still waiting on proposals, right?

[2022-10-25 21:40] Santhosh-Sellavel commented on #11488
@syedsaroshfarrukhdot Can you compare before/after changes in other platforms and ensure we don't break anything?

[2022-10-25 21:41] chiragsalian commented on #12109
So i can only answer how we came to this conclusion while testing. Its because the blocker [issue](https://github.com/Expensify/App/issues/12067) mentioned a problem with adding members. When i reproduced the same on dev i looked at [this](https://github.com/Expensify/Web-Expensify/blob/1f8f38a3e8760ad4ee2b6136d83d1d121a2795c0/lib/PolicyAPI.php#L1025) line. $reportOnyxData contained values to upda

[2022-10-25 21:49] Luke9389 commented on #11265
Ok so just to help clarify this, it looks like the messages we send when offline are not being saved as pending messages.

@marcaaron, I know you were across a lot of the `Report_AddComment` refactors. Does this look like something you've seen before in any of the tests for those? If it's not something you recognize off-hand then don't worry about it. I figured it'd be best to just get you to peak

[2022-10-25 21:50] ntrepanier commented on #12001
Was able to reproduce in both production and staging.

[2022-10-25 22:05] mvtglobally commented on #12122
Added Blocker label since we are not able to verify in PROD. Pls remove if you think this is not a blocker

[2022-10-25 22:06] OSBotify commented on #12122
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-25 22:07] mvtglobally commented on #12108
@chiragsalian We are still working on the regression, but wanted to send an interim summary

PR https://github.com/Expensify/App/pull/10471 is failing due to https://github.com/Expensify/App/issues/12004
PR https://github.com/Expensify/App/pull/11611 is failing due to https://github.com/Expensify/App/issues/12122. We can't check it in PROD, to confirm if this is a blocker or no.
PR https://github.

[2022-10-25 22:17] necolas commented on #7860
Yeah I think we should update VirtualizedList and FlatList in the 0.19-dev branch, removing any web-specific patches that might be in those modules in react-native-web, and then I can cut a canary that can be tested here and elsewhere. You might want to migrate your own patches, which will probably be a pain, but that's the price of forking forks.

We really need to get to a point where the upstre

[2022-10-25 22:38] ntrepanier commented on #12004
Sorry. It assigned while I was OOO. On it.

[2022-10-25 22:42] syedsaroshfarrukhdot commented on #11488
@Santhosh-Sellavel  Sure these are before/after changes in all platforms and I have ensured that anything doesn't break.

Desktop Before :-

<img width="1209" alt="Desktop Before" src="https://user-images.githubusercontent.com/81307212/197894468-0d35bbe5-fd95-4d39-8d3f-911cfa013b51.png">

Desktop After :-

<img width="1209" alt="Desktop After" src="https://user-images.githubusercontent.com/8130721

[2022-10-25 22:46] PauloGasparSv commented on #12123
Having some trouble with VBA locally after clearing my db (want to try this locally), will debug this alongside another VBA issue tomorrow morning!

[2022-10-25 22:46] marcaaron commented on #12109
Alright so the reproduction is:

1. Have an account with no IOUs
2. Be on a version of `react-native-onyx` after `1.0.19`
3. Invite user to workspace
4. Verify the sidebar gets messed up

I don't actually think there is anything wrong with Onyx though. It's not supported to set an array as a collection so I think we should:

- Fix the usage I found above  in PHP (and other usages)
- Start throwing

[2022-10-25 22:55] ntrepanier commented on #12004
@johnmlee101 Can you help me determine if this would be external or internal?

[2022-10-25 22:57] marcaaron commented on #12109
As for why it doesn't blow up in the version before the fast merge one...

`cache.merge()` method was doing this before:

[code]

So in the case where we called this with an empty array instead of an object it would still return the storage map e.g.

<img width="641" alt="2022-10-25_12-52-20" src="https://user-images.githubusercontent.com/32969087/197896905-a4a3f428-d97e-4522-b9b2-d16b44444930.png

[2022-10-25 23:03] ntrepanier commented on #12022
I tried to recreate the issue following the listed steps on android and web in both production and staging but could not reproduce.

[2022-10-25 23:03] chiragsalian commented on #12109
I like this plan.

Instead of fixing individual usages how about we update Onyx::pushUpdatesToClients to remove arrays (or convert them to stdClass) if $onyxUpdates "value" field is empty?

[2022-10-25 23:10] marcaaron commented on #12109
Feel free to hop on the review and chime in there. That crossed my mind, but felt kind of magical to me so I'd be curious to get more opinions on it. I had a feeling like it's important for everyone to understand that empty arrays do not turn into objects magically and that it's up to you to responsibly pass the correct values.

[2022-10-25 23:13] vladamx commented on #10884
**Proposal**

@parasharrajat This is apparently fixing the issue.

<img width="1057" alt="image" src="https://user-images.githubusercontent.com/11381171/197899130-281f11ec-2ee8-4a2f-bb11-633379850439.png">

[2022-10-25 23:31] luacmartins commented on #8722
Still on hold

[2022-10-25 23:59] marcaaron commented on #10409
yes, I would lump this in with the other navigation issues and work with @puneetlath in the navigation tracking issue

[2022-10-26 00:02] marcaaron commented on #11265
haven't seen this one before and it looks like a regression

[2022-10-26 00:20] neil-marcellini commented on #12132
The reproduction steps are a bit odd to me. If we create a workspace while offline and then kill the app before going back online, will the request still get sent?

[2022-10-26 00:20] conorpendergrast commented on #12116
Internal job posting: https://www.upwork.com/ab/applicants/1585063293084028928/job-details
External job posting: https://www.upwork.com/jobs/~01d214c4cbd14da163

[2022-10-26 00:25] neil-marcellini commented on #12132
Here's [how to disable policy creation](https://community.expensify.com/discussion/5751/deep-dive-domain-groups-and-permissions-what-are-they-all-about). I'm going to try to reproduce this on dev and play around with it.

[2022-10-26 00:36] conorpendergrast commented on #12120
This is not a duplicate, is reproducible, is a complete write-up, was created by a QA tester, no Slack conversation about it. I think this is `External`.

[2022-10-26 00:40] conorpendergrast commented on #12120
Internal: https://www.upwork.com/ab/applicants/1585068624908439552/job-details
External: https://www.upwork.com/jobs/~01c63baf5aa3db8688

[2022-10-26 00:42] dangrous commented on #12132
@neil-marcellini Now that I can test policy disabled locally, I'm actually not seeing this - however, maybe it's still an issue... It seems like I can still create chats offline and it works fine (so no behavior like is shown in the video, but also no error at all). Let me know what you're seeing on your end!

[2022-10-26 00:43] neil-marcellini commented on #12132
Oh right the requests are persisted even if you kill the app. It looks like the `CreateWorkspace` command is returning an error message but it's not in an onyx update format.
![image](https://user-images.githubusercontent.com/26260477/197907653-c4e0ddc9-41e1-42f6-8f57-5971e4f746f1.png)

We don't set any kind of generic error message in the failure data for creating the workspace [here](https://git

[2022-10-26 00:46] neil-marcellini commented on #12132
Why would this not be reproducible on prod? You can have an account with disabled policy creation on prod, and you can sign in and try creating a workspace. I'll see if I can reproduce it on prod now. If so then it's not a deploy blocker. Either way, this is an obscure case that we didn't plan for, so I don't think it should be a blocker.

[2022-10-26 00:57] neil-marcellini commented on #12132
Yep I'm able to reproduce on prod, this is not a deploy blocker @kbecciv.

https://user-images.githubusercontent.com/26260477/197909598-0e90e7bb-5fec-4a15-a6c9-5039da99dab6.mov

[2022-10-26 01:05] dangrous commented on #12108
#12132 Is a bug but reproducible on prod so not a blocker, checking off here.

[2022-10-26 01:08] hungvu193 commented on #11732
Cool, I've accepted the ofer

[2022-10-26 01:31] gadhiyamanan commented on #11488
@Santhosh-Sellavel please check [proposal](https://github.com/Expensify/App/issues/11488#issuecomment-1272218423)

[2022-10-26 01:43] kbecciv commented on #12132
@neil-marcellini Thank you for double checking the production.
I used Deploy Blocker label because two testers are not able to reproduce it in production, please attached the evidence

https://user-images.githubusercontent.com/93399543/197914804-67452173-a93e-44c1-8fe6-4161ab60eb6d.MP4

![Screenshot_20221025-164947_Chrome](https://user-images.githubusercontent.com/93399543/197914812-b2d75385-5e22-

[2022-10-26 01:58] kbecciv opened #12138 "Payment - An incorrect bank error message displayed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/11839

## Action Performed:
1. Go to URL https://staging.new.expensify.com/and

[2022-10-26 02:07] kbecciv opened #12139 "mWeb/Chrome - The messages are not correctly converted back from html to markdown"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/11996

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2.

[2022-10-26 03:18] varshamb commented on #12120
### Proposal

We are adding `\n` before and after I think removing it would work.

https://github.com/Expensify/expensify-common/blob/a71aad37aaba2b43b3a2d2f4be8052b025b265d3/lib/ExpensiMark.js#L256

[2022-10-26 03:52] wildan-m commented on #12028
### Proposal

### Root cause

I think it's related to how chrome behaves with a triple click. They have a related bug with status won't fix
https://bugs.chromium.org/p/chromium/issues/detail?id=575136

### Workaround
My proposed solution is also a workaround, but let me know if it's acceptable.

The idea is to override the selection with the desired contents.

We can wrap `ReportActionItemFragment

[2022-10-26 03:55] sobitneupane commented on #12120
@varshamb Thanks for your proposal.

Removing it would create an issue. When plain text is sent along the quoted text, line break will be removed.

https://user-images.githubusercontent.com/25876548/197930646-bff2ac0a-afd9-4791-ba30-f2180abc7afc.mov

[2022-10-26 04:18] hungvu193 commented on #12116
<b>Proposal</b>
We need to check if current modal is already showed then decide to show the shortcut modal or not instead of showing it everytime.

<b>Solution</b>
Add the condition inside: `KeyboardShortcutsModal`: `componentDidMount` function:
[code]

https://user-images.githubusercontent.com/16502320/197933389-93f89136-cbd0-4be9-a6d2-429604116edf.mov

[2022-10-26 04:31] srikarparsi commented on #11894
code's done, my vm isn't working after the upgrade so will test as soon as I get it working.

[2022-10-26 04:43] ctkochan22 commented on #11808
My plate is full so I unassigned. I placed internal label because it's happening specifically in the expensifail test account. Let me ask in slack

[2022-10-26 04:44] smrutiparida commented on #11561
The present issue is to use the Staging API_URL in Staging build. Which is achieved by BetaChecker.isBetaBuild() check. Using .env.staging for staging build shall need change in Fastlane process which is a larger discussion. Hence I think that change can be kept out of scope of this issue and we can create another task for that.

Please name the config variables we should move.
The ENVIRONMENT_URL

[2022-10-26 05:18] kadiealexander commented on #11386
Everyone is paid!

[2022-10-26 05:18] #11386 closed

[2022-10-26 08:32] roryabraham commented on #8503
REA 3 upgrade was merged yesterday 🎉

But we discovered another blocker – react-native-svg does not yet support TurboModules, [WIP implementation here](https://github.com/software-mansion/react-native-svg/pull/1847)

[2022-10-26 08:37] techievivek commented on #11885
Not overdue. We have put it on hold because we have already fixed this [here](https://github.com/Expensify/App/pull/11608).

[2022-10-26 08:40] techievivek commented on #12036
I will take a look in the later part of the day and will post an update here.

[2022-10-26 08:50] zanyrenney commented on #11524
Not overdue, on hold.

[2022-10-26 09:30] Julesssss commented on #12082
Yeah, though we should be careful to retrieve only a partial set of comments (like we do elsewhere with pagination). In this case, I think we should:

1) Start sending a single reportAction comment in the same onyxUpdate data. This ensures that when tapping into a chat, the bold message is shown.

2) Go further, and investigate how we might send additional comments to back-fill the report.

1 seem

[2022-10-26 09:35] kidroca commented on #4656
I think we talked about multiget on a few occasions but we never really gave it a chance and it might boost performance
- https://github.com/Expensify/App/issues/4433

A brief summary of the idea is
1. We pretty much read all (or almost all) Onyx finite ("small") keys in memory at launch (or soon after)
2. Instead of creating parallel read calls for each such key - we can request them with one `mu

[2022-10-26 09:49] Beamanator commented on #11580
Still on hold for now, might pick this up next week as discussions from here (https://github.com/Expensify/App/issues/11795) are indicating this could be useful to implement sooner rather than later

[2022-10-26 09:50] Beamanator commented on #11579
Still on hold for now, might pick this up next week as discussions from here (https://github.com/Expensify/App/issues/11795) are indicating this could be useful to implement sooner rather than later

[2022-10-26 09:50] Beamanator commented on #11577
Still on hold for now, might pick this up next week as discussions from here (https://github.com/Expensify/App/issues/11795) are indicating this could be useful to implement sooner rather than later

[2022-10-26 09:50] Beamanator commented on #11576
Still on hold for now, might pick this up next week as discussions from here (https://github.com/Expensify/App/issues/11795) are indicating this could be useful to implement sooner rather than later

[2022-10-26 09:50] Beamanator commented on #11575
Still on hold for now, might pick this up next week as discussions from here (https://github.com/Expensify/App/issues/11795) are indicating this could be useful to implement sooner rather than later

[2022-10-26 09:50] Beamanator commented on #11574
Still on hold for now, might pick this up next week as discussions from here (https://github.com/Expensify/App/issues/11795) are indicating this could be useful to implement sooner rather than later

[2022-10-26 09:50] Beamanator commented on #11573
Still on hold for now, might pick this up next week as discussions from here (https://github.com/Expensify/App/issues/11795) are indicating this could be useful to implement sooner rather than later

[2022-10-26 09:50] Beamanator commented on #11572
Still on hold for now, might pick this up next week as discussions from here (https://github.com/Expensify/App/issues/11795) are indicating this could be useful to implement sooner rather than later

[2022-10-26 10:05] laurenreidexpensify commented on #12025
not overdue, still looking for proposals

[2022-10-26 10:05] Beamanator commented on #10894
Sent a pre-design recap on Monday [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1666627315314999).

Today's goal: Get Web-E to accept encrypted auth token via `header` (instead of via the image URL query param). Once this is possible, we (hopefully Kidroca or a Margelo dev) can whip up some POCs to make sure the latest plan ([here](https://expensify.slack.com/archives/C01GTK53T8Q/p16667

[2022-10-26 10:06] thesahindia commented on #12042
Cool, let's move forward with @fedirjh's [proposal](https://github.com/Expensify/App/issues/12042#issuecomment-1285900417) (first approach).

C+ reviewed 🎀👀🎀

[2022-10-26 10:12] Julesssss commented on #11513
Confirmed this is no longer reproducible on the same device I reproduced it on [previously](https://github.com/Expensify/App/issues/11513#issuecomment-1271403779).

[2022-10-26 10:14] mountiny commented on #12060
The expected behaviour is that if you are on up-to-date mac with up-to-date XCode, you can just run `npm run ios` and it works ™️.

I agree that if updating react native (which we will do eitherway) will accomplish this, then we should do this.

in that case @mdneyazahmad would be the best solution, thanks for the message @Puneet-here

@mdneyazahmad would you be able to update our version of the R

[2022-10-26 10:19] roryabraham commented on #11773
Seeing if this can still be reproduced

[2022-10-26 10:20] Julesssss commented on #12115
This was merged, but awaiting Auth deployment. Adding a note to the deploy checklist that it should be unblocked soon.

[2022-10-26 10:23] Puneet-here commented on #12138
Hi, it's not a bug. Because of adding new validation you are seeing this error message which is expected. Now you won't see the error message mentioned at https://github.com/Expensify/App/pull/11839 unless the api fails.

[2022-10-26 10:26] Julesssss commented on #12001
This is actually desired behavior as we want to direct users toward any errors that occur. The message and red dot ensures that users take action with these failures, or at least acknowledge them.

[2022-10-26 10:26] #12001 closed

[2022-10-26 10:32] Julesssss commented on #9252
Still on hold, see [this](https://github.com/Expensify/App/issues/9252#issuecomment-1244720271) message.

[2022-10-26 10:39] roryabraham commented on #11773
I was blocked from testing this bug on staging by https://expensify.slack.com/archives/C01GTK53T8Q/p1666779967663819

Overall I think this is probably a legitimate bug report, but I'm not sure what the status of user-created policy rooms is. I think there are many bugs surrounding the flow, but I also think many of them are behind a beta.

@trjExpensify @JmillsExpensify is there a tracking issue f

[2022-10-26 10:40] roryabraham commented on #11773
I propose we add this to the tracking issue and put it on HOLD. Going to unassign for now

[2022-10-26 10:44] thesahindia commented on #11800
@dylanexpensify, just a reminder that we don't have a Upwork job for this issue.

[2022-10-26 10:45] roryabraham commented on #11291
PR deployed to production yesterday in `1.2.18-10`, @kevinksullivan we should pay this out on 2022-11-01

[2022-10-26 10:46] roryabraham commented on #4379
No update on deploy stuff rn

[2022-10-26 10:47] pecanoro commented on #12049
@Puneet-here Assigned!

[2022-10-26 10:48] roryabraham commented on #9293
Keeping this as a high priority and have made some progress in a local branch. Hoping to complete a PR this week

[2022-10-26 10:48] tylerkaraszewski commented on #12131
I don't understand this issue and the screenshot doesn't match the description of the problem. Can I get some clarification as to what is happening and why that's incorrect?

[2022-10-26 10:53] Puneet-here commented on #11820
Applied!

[2022-10-26 10:55] dylanexpensify commented on #11800
Ah, whoops! Thanks @thesahindia! Will get on it now

[2022-10-26 10:58] dylanexpensify commented on #11800
Upwork: https://www.upwork.com/jobs/~0125255e96145decb0

[2022-10-26 11:47] NicMendonca commented on #10698
latest update [here](https://github.com/Expensify/App/pull/11718#issuecomment-1281240942)

[2022-10-26 11:52] Beamanator commented on #10960
PRs in review:
- https://github.com/Expensify/App/pull/10959
- https://github.com/Expensify/Web-Expensify/pull/35282
- One more to clean up App (since we shouldn't have to handle arrays coming back from server after ^

[2022-10-26 11:55] isabelastisser commented on #11650
Internal job posting: https://www.upwork.com/ab/applicants/1585237928058978304/job-details

External job posting: https://www.upwork.com/jobs/~01a510b944f147220c

[2022-10-26 11:57] NicMendonca commented on #11204
@smrutiparida paid!

@parasharrajat please accept the job offer when you get a sec. Thanks!

[2022-10-26 12:22] roryabraham commented on #10679
I kind of think this should be rolled up with [this issue](https://github.com/Expensify/App/issues/5536)

[2022-10-26 12:24] roryabraham commented on #5536
Hey y'all, thoughts about rolling [this refactoring issue](https://github.com/Expensify/App/issues/10679) into this one? It's kind of an implementation detail, but a pretty important one (and a simplification, imo).

[2022-10-26 12:31] greg-schroeder commented on #11334
Internal: https://www.upwork.com/ab/applicants/1585247047658270720/job-details
External: https://www.upwork.com/jobs/~016564bd0162cfd39c

[2022-10-26 12:34] greg-schroeder commented on #11814
Internal: https://www.upwork.com/ab/applicants/1585248360435494912/job-details
External: https://www.upwork.com/jobs/~01bf2b0127ab488fa9

[2022-10-26 12:36] greg-schroeder commented on #11856
Internal: https://www.upwork.com/ab/applicants/1585248825536315392/job-details
External: https://www.upwork.com/jobs/~01e1ccf6d1ca9a2ff6

[2022-10-26 12:48] roryabraham commented on #7942
At this point, I'm not sure the continued relevance of this issue. Yes we can (and probably should) implement the skeleton UI in more places across the app, but I think the best next step towards that would come in the form of a full-throttle to nail down exactly where it's possible to see old-school loading spinners or just blank UI and replace that with skeleton UI stuff. Going to unassign mysel

[2022-10-26 12:48] aneequeahmad commented on #9737
@roryabraham You're right this is taking too long to ship. IMO i'm not eligible for this $250 [bonus](https://github.com/Expensify/App/issues/9737#:~:text=I%20would%20be%20willing%20to%20authorize%20a%20%24250%20bonus%20for%20unit%20test%20coverage%20to%20determine%20when%20we%20do%20or%20do%20not%20show%20tooltips%2C%20and%20a%20simple%20render%20test%20to%20determine%20that%20they%20are%20showin

[2022-10-26 12:50] roryabraham commented on #7094
No update from me

[2022-10-26 13:01] greg-schroeder commented on #12081
I can't reproduce this because I don't have access to a Dev instance, so I'm going to tag Eng to try to repro

[2022-10-26 13:02] tgolen commented on #10905
PR is still in progress

[2022-10-26 13:15] parasharrajat commented on #11204
There is some issue on Upwork side, I will try to do it asap.

[2022-10-26 13:17] Gonals commented on #11797
I think we can update it as part of this. What do you think?

[2022-10-26 13:17] tgolen commented on #11964
Waitng for proposals

[2022-10-26 13:17] Gonals commented on #10614
Sounds good to me!

[2022-10-26 13:21] parasharrajat commented on #6883
What is next @azimgd ?

[2022-10-26 13:30] johnmlee101 commented on #12004
[code]
seems to be self-referencial https://github.com/Expensify/App/blob/62394cca18424fafe09c046fa63199d98696cc49/src/components/SettlementButton.js#L89

I'm a bit confused, but I'm pretty sure this is external so marking it

[2022-10-26 13:41] laurenreidexpensify commented on #11463
bountry increased to $1000

[2022-10-26 14:05] roryabraham commented on #12115
As discussed in [slack](https://expensify.slack.com/archives/C07J32337/p1666702384758809) I'm going to investigate a front-end solution for this too. While the Auth solution was the root cause, the front-end should know not to display $0-IOUs.

[2022-10-26 14:08] kavimuru opened #12141 "[$250] Bug: some URL only comments are not editable reported by @kidroca"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. write a comment with the following content: https://www.expensify.com/chat-attachments
2. write other link only comments like

[2022-10-26 14:14] greg-schroeder commented on #12141
It appears to be the hyphen `-` that is throwing things off - I tried many other URL variations and for whatever reason the hyphen is what's blocking editing

[2022-10-26 14:17] stephanieelliott commented on #10608
Oop, thanks @thesahindia! I invited you to the job on Upwork to pay out the reporting bonus https://www.upwork.com/jobs/~013abb27ed5da559c8

[2022-10-26 14:17] tgolen commented on #10670
Still on hold

[2022-10-26 14:20] thesahindia commented on #10608
I have already submitted the proposal.

[2022-10-26 14:24] azimgd commented on #6883
Working on a new PR against E/App. @luacmartins could you work towards deploying https://github.com/expensify/react-native-key-command on NPM please ?

[2022-10-26 14:32] kidroca commented on #12141
Nope:

### Similar links with hyphen that allow editing
![image](https://user-images.githubusercontent.com/12156624/198053172-32cf6aa6-a418-471d-912e-db370f523965.png)
![image](https://user-images.githubusercontent.com/12156624/198053363-8514e26f-5e05-4a12-9d60-71ffad9300f0.png)

### Looks like it's specifically due to the text _"chat-attachment"_ or _"chat-attachments"_
![image](https://user-imag

[2022-10-26 14:34] johncschuster commented on #10409
OK perfect, I just checked that GH – looks like this issue is already in the tracking list. I'm going to downgrade the label of this issue to `Weekly` and keep it bumping so it doesn't erode and close.

[2022-10-26 14:35] joekaufmanexpensify commented on #11916
[Bumped](https://expensify.slack.com/archives/C01GTK53T8Q/p1666794885639839) in #expensify-open-source

[2022-10-26 14:35] joekaufmanexpensify commented on #11495
[Bumped](https://expensify.slack.com/archives/C01GTK53T8Q/p1666794885639839) in #expensify-open-source

[2022-10-26 14:38] michaelhaxhiu commented on #10893
Seems we are evaluating the proposal provided and will have a 👍 or 👎 provided soon.

[2022-10-26 14:40] mallenexpensify commented on #11342
For sanity's sake I'm going to close, I did just try to reproduce with no luck
- Quit NewDot desktop
- Closed computer overnight
- opened computer
- started vid then started NewDot
- Chats loaded as expected

[2022-10-26 14:40] #11342 closed

[2022-10-26 14:46] mallenexpensify commented on #11330
Per @tgolen 's [comment](https://github.com/Expensify/App/issues/11330#issuecomment-1288122295) above, I assigned @rawalyogendra .  Please apply here and Ill hire https://www.upwork.com/jobs/~011c7454f55e6c9c1f

I am able to repro this morn on desktop-staging and web-staging (assuming I'm testing right, draft chat is moving around in LHN)

https://user-images.githubusercontent.com/22508304/1980579

[2022-10-26 14:49] rawalyogendra commented on #11330
@mallenexpensify yes, that is the issue we have.

[2022-10-26 14:52] mallenexpensify commented on #11403
Thanks @tsa321 , I doubled the price to $500.
https://www.upwork.com/jobs/~01e005c9122cfd5420

Regarding bugs and proposed fixes being similar, but _maybe_ not the same, if we're unsure, let's push forward to fix both then find out.  We'd rather move forward quickly and potentially pay multiple contributors for their work then have a known bug not get worked on.

[2022-10-26 14:53] rawalyogendra commented on #11330
@mallenexpensify I have applied for job in Upwork.

I will submit a PR to fix this issue by Friday, 28th October 2022.

Thank you.

[2022-10-26 14:54] kbecciv opened #12143 "[$250] Room - Old room name is displayed in the header until page refresh"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/ and on 2 devices and login with Expensifail accounts
2. Create room with both account

[2022-10-26 14:59] eVoloshchak commented on #11695
Yup, that would be awesome!

[2022-10-26 15:01] mallenexpensify commented on #12082
ooooh, so... for this issue we can just have the deliverable be #1 and that'll be finite-enough for someone to fix/update this?  If so, that's great.  Now, to find someone internally to work on ;)

[2022-10-26 15:04] mallenexpensify commented on #11825
Price Doubled to $500
https://www.upwork.com/jobs/~017971a3070c51f85a

[2022-10-26 15:12] kavimuru opened #12145 "[$250] BUG: After refreshing the page, clicking on a chatroom, immediately collapses the listing of viewable chatrooms in the LHN reported by @george-hayakawa"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log into staging.new.expensify
2. At any point in time, while using staging.new.expensify, I refresh staging.new.expensify. (t

[2022-10-26 15:13] shmaxey commented on #11427
Thanks, @luacmartins! I agree with reusing that copy - watching the thread in Slack (thanks for posting!).

[2022-10-26 15:29] arosiclair commented on #12122
@kavimuru was there any issue submitting the form even with this error message problem?

[2022-10-26 15:29] greg-schroeder commented on #12141
Oh huh, I guess I was wrong ¯\_(ツ)_/¯ ... I should have kept trying 😅

[2022-10-26 15:30] puneetlath commented on #11768
Got access to Discord today and reached out. Will see what they say and then go from there.

[2022-10-26 15:51] parasharrajat commented on #10884
Sorry, I am late to mention this but this issue should be on hold. we(I) know the reason for this issue and a proper solution is possible only after we are done with the navigation redesign.

There is a tracking issue for the same. https://github.com/Expensify/App/issues/11768.

cc: @michaelhaxhiu @rushatgabhane

[2022-10-26 15:57] parasharrajat commented on #6883
Let's test this out first with NewDot and then we can prepare to release. May be both can be done parallel.

[2022-10-26 16:01] parasharrajat commented on #10107
Half way with the proposals.

[2022-10-26 16:15] Julesssss commented on #12115
Fixed, removing this blocker from the deploy checklist.

[2022-10-26 16:16] #12115 closed

[2022-10-26 16:16] Julesssss commented on #12108
@chiragsalian I checked off https://github.com/Expensify/App/issues/12115 which is now resolved

[2022-10-26 16:17] michaelhaxhiu commented on #10884
Oh thanks for the catch @parasharrajat !

[2022-10-26 16:26] parasharrajat commented on #11283
@hungvu193 This is the default behaviour of the browser. It is very useful. Take an example,
- you are running to apps in two tabs.
- You clicked on any input in the first tab.
- Now moved to another tab. As the focus is lost as soon as you click away.
- Now you moved back to the first tab.
- What will you prefer? The input to be focused automatically that you selected earlier or manually focus th

[2022-10-26 16:26] dangrous commented on #12048
Yep, that second proposal sounds great to me as well! I'll assign and lets go ahead with a PR.

[2022-10-26 16:28] eVoloshchak commented on #11438
### Proposal

**Root cause**
When the user selects a different emoji using arrows, the selection of the first emoji doesn't get discarded.
So when user presses `Enter`, two listeners get called:

- [this.keyDownHandler](https://github.com/Expensify/App/blob/e263ffa9f69e696790547bca4bf93d3864da90c4/src/components/EmojiPicker/EmojiPickerMenu/index.js#L160) (which is the correct behavior) for the emo

[2022-10-26 16:29] parasharrajat commented on #11229
Thanks for the updated proposal. Working on other priorities. Expect a delayed response.

[2022-10-26 16:36] JmillsExpensify commented on #7572
Still on hold pending the linked issue.

[2022-10-26 16:39] JmillsExpensify commented on #10232
Given that both the [linked PR](https://github.com/Expensify/App/pull/11627) that put this issue on hold is now on staging, and related, so is the [PR fix](https://github.com/Expensify/Web-Expensify/pull/35239) mentioned immediately above, let's take this issue off hold, right?

[2022-10-26 16:40] JmillsExpensify commented on #10232
I'm going to go ahead and do that @Beamanator and @luacmartins, and at that point we're just waiting for both PRs to hit production for this issue to close. Yeah?

[2022-10-26 16:43] tomivs commented on #10107
I'll update my proposal in a few hours.

[2022-10-26 16:47] hungvu193 commented on #11283
If you don't wanna fix that the just dont apply this piece of code

[2022-10-26 16:47] JmillsExpensify commented on #10632
It doesn't look like we've made much movement on this one in the last week. @roryabraham @Santhosh-Sellavel - I'm going to double the price of this issue as a result.

That said, I also want to come back to this comment from @roryabraham.

Let's align on our best approach. Perhaps we should more appropriately pause this issue, or at the very least, consider this a new feature / polish rather than

[2022-10-26 16:48] luacmartins commented on #10232
@JmillsExpensify that's correct!

[2022-10-26 16:51] JmillsExpensify commented on #10232
Awesome thank you!

[2022-10-26 16:55] JmillsExpensify commented on #10729
@Santhosh-Sellavel I wanted to check in on this one. Do you think you'll be able to review @mollfpr's proposal today? Let's get this one kicked off now that we're unheld.

[2022-10-26 16:56] JmillsExpensify commented on #10729
Also for clarity, a bunch of time has passed since we originally created the Upwork job, so it's automatically closed in the meantime. I will create a fresh one just as soon as we have a proposal agreed upon.

[2022-10-26 17:00] JmillsExpensify commented on #10765
Asked for an update in the linked PR.

[2022-10-26 17:01] JmillsExpensify commented on #10824
Ok @neil-marcellini @Santhosh-Sellavel - let's close the loop on this one. Looks like we're going with @mollfpr's proposal above? If so, let's assign the Contributor to this issue and I'll hire via Upwork.

[2022-10-26 17:02] ahsan-K commented on #11825
As per my understanding you guys using Redux in your project and after making API request of delete workspace you are calling Redux action to update the UI state and Redux store. The main problem is your tooltip UI popup which is appearing after clicking on "Plus" button is not updating successfully. I will debug the whole code and will read Popup component's code as well for getting information i

[2022-10-26 17:03] JmillsExpensify commented on #10875
Still waiting on proposals. Going to start a discussion in Slack, because there's clearly a lack of interest in this one and we have no pricing lever to get more people interested using the current process.

[2022-10-26 17:05] JmillsExpensify commented on #11111
We discussed in Slack, but to reiterate here, @puneetlath is trying new methods to get in contact with the maintainer. We're unfortunately dead in the water and still on hold until we can get in touch.

[2022-10-26 17:06] JmillsExpensify commented on #10939
All good! I'll just re-apply the `External` label. We're still on hold in any case, so there aren't any immediate next steps right now.

[2022-10-26 17:07] bfitzexpensify commented on #11518
Looks like the PR was deployed to staging.

[2022-10-26 17:07] bfitzexpensify commented on #11690
Deployed to staging.

[2022-10-26 17:10] miljakljajic commented on #12075
Looks good - adding the engineering label since we're handling internally.

[2022-10-26 17:11] JmillsExpensify commented on #11111
Also just realized that this issue isn't linked to the tracking issue. Adding that here as well as the title. https://github.com/Expensify/App/issues/11768

[2022-10-26 17:11] miljakljajic commented on #12075
Ah, apologies - it's been added!

[2022-10-26 17:12] JmillsExpensify commented on #11192
@roryabraham thoughts on @mdneyazahmad's proposal above? Once we agree, I'll get this assigned and we can assign/hire in Upwork as well.

[2022-10-26 17:13] JmillsExpensify commented on #11277
Still on hold for the related keyboard initiative.

[2022-10-26 17:15] miljakljajic commented on #11762
That's correct, thanks Jasper!

[2022-10-26 17:16] JmillsExpensify commented on #11320
Invited @parasharrajat to the Upwork job. Then as a more general update, the linked PR has been merged and should reach production in the next day or so. At that point we'll kick off the regression period hold before paying.

[2022-10-26 17:16] JmillsExpensify commented on #11372
Still on hold for the linked, larger initiative.

[2022-10-26 17:17] JmillsExpensify commented on #11391
Still on hold for the larger keyboard issue mentioned in the title.

[2022-10-26 17:19] JmillsExpensify commented on #11420
Updating this issue to clarify it's on hold and is linked to a larger issue. As for an update there, Puneet is leading getting in contact with the developer. Ideally we'll hear from him soon, been oddly radio silence so far.

[2022-10-26 17:20] JmillsExpensify commented on #11453
Still on hold. I've updated the title to clarify where to look for updates related to the larger initiative.

[2022-10-26 17:22] JmillsExpensify commented on #11458
I've hired @chauchausoup in the linked Upwork job for reporting. As for this issue, we're still waiting on one PR to merge, though it's on hold for a related issue.

[2022-10-26 17:22] luacmartins commented on #6883
@azimgd can we add a wrapper for web so that we have a unified API and don't need to split our files into `index.js` and `index.native.js`?

[2022-10-26 17:24] JmillsExpensify commented on #11652
Linked PR is merged and on staging. It should reach production soon, at which point the regression period begins before payment is issued.

[2022-10-26 17:26] JmillsExpensify commented on #11709
@thesahindia is hired and I've just invited @Puneet-here. The linked PR is merged and on staging, at which point the regression period will begin before payment is issued.

[2022-10-26 17:27] JmillsExpensify commented on #11726
Still need to circle back and find an internal volunteer. I have OOO this week, so I need to circle back on this one when I return.

[2022-10-26 17:28] tgolen commented on #10273
I'm pushing every day to get my PR merged! It feels like we're close (within a day), but it's dragging out with the testing/reviewing.

[2022-10-26 17:28] JmillsExpensify commented on #11768
Oh nice work!

[2022-10-26 17:29] kavimuru commented on #12122
@arosiclair We didn't have any issue in submitting the form.

[2022-10-26 17:30] mvtglobally commented on #12108
@Julesssss Let us know if anything needs re-test. We would love a new build today 😉

[2022-10-26 17:31] JmillsExpensify commented on #11809
I'm not sure if we should fix this. We're going to refactor this entire flow very shortly, so I would be more inclined to put this bug report on hold. At the point we refactor the flow we can see if this is still an issue and then either close (and pay for reporting), or fix. Thoughts guys?

[2022-10-26 17:33] JmillsExpensify commented on #11854
@kavimuru @mvtglobally I wanted to circle back on @mountiny's comment above. Do either you know if this a potential regression or never worked? I kind of think it never worked, but I'm not certain either.

Still waiting for proposals in any case.

[2022-10-26 17:35] thesahindia commented on #12122
Not a deploy blocker. It is reproducible on production. I had reported it on [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1665916218609839).

[2022-10-26 17:36] kavimuru commented on #12058
@zanyrenney Password is 1234 and attached another PDF

[2022-10-26 17:36] azimgd commented on #6883
JS Implementation of the same functionality you mean ?

[2022-10-26 17:40] mallenexpensify commented on #7862
@Beamanator we have most image-related issues on hold in the #10894 tracking issue. This one is in-progress, the PR is here - https://github.com/Expensify/react-native-onyx/pull/198
Is there any reason we **shouldn't** keep moving forward here?

[2022-10-26 17:50] Santhosh-Sellavel commented on #11825
@ahsan-K Seems you are new here.

Get started by checking out our contributing [guidelines](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md) first and don't forget to check out [readme](https://github.com/Expensify/App#readme).

[2022-10-26 17:51] kavimuru commented on #12131
@tylerkaraszewski Sorry about the wrong attachment. Uploaded the correct video

[2022-10-26 17:52] AndrewGable commented on #8503
On iOS with Fabric + Turbo Modules I am experiencing an issue while navigating backwards from a chat to the Left Hand Nav. Then once I try to click back into the chat, the Left Hand Nav "flashes" as well.

https://user-images.githubusercontent.com/2838819/198100114-e5be5491-ecac-44e2-95ec-874e6a841c0b.mov

[2022-10-26 17:53] Santhosh-Sellavel commented on #10824
Sorry, @JmillsExpensify @neil-marcellini I would like to dig further on this one, ignore my comment [here](https://github.com/Expensify/App/issues/10824#issuecomment-1291096980) for now.

[2022-10-26 17:53] ahsan-K commented on #11825
@Santhosh-Sellavel I have read and posted the proposal on Upwork as well.

[2022-10-26 17:57] Santhosh-Sellavel commented on #11825
I'm afraid you skipped the whole thing, take time to read through and understand our process.

Checkout how to [Propose a solution for the job](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#propose-a-solution-for-the-job)

[2022-10-26 18:04] mallenexpensify commented on #10950
@Beamanator This job is in progress so I'm not putting on hold pending #10894.
Comment if you disagree

[2022-10-26 18:04] arosiclair commented on #12122
Reproduced on web in **staging v1.2.19-2** and **prod v1.2.18-10**. This also seems to be purely cosmetic since you can still submit the form with the error message not dismissed so not a deploy blocker IMO. Removing deploy blocker label and marking as external.

[2022-10-26 18:07] huzaifa-99 commented on #12043
@parasharrajat Thanks for the feedback.

About the suggestion (**using focus/blur events**), it can be done. However I am not sure about these
1. Are we ok to proceed with modifying common components used between native and web apps? `EmojiPickerMenuItem` is also used in native `EmojiPickerMenu`
https://github.com/Expensify/App/blob/e263ffa9f69e696790547bca4bf93d3864da90c4/src/components/EmojiPick

[2022-10-26 18:08] kbecciv commented on #12019
@jliexpensify Thank you for your explanation, going to check with latest build and update you shortly.

[2022-10-26 18:15] chiragsalian commented on #11845
I retested and it looks like its not an issue anymore. Can you retest and confirm @kbecciv?

[2022-10-26 18:16] chiragsalian commented on #11542
Haven't gotten to due to other priorities. I also wonder if this was tackled elsewhere, i need to retest.

[2022-10-26 18:19] ahsan-K commented on #11825
"Proposal"
Hello Sir, I'm am senior software engineer with over 5+ years of experience on ReactJS. I have strong grip on javascript. I have read the description and saw the video of that issue which is on Github.
I will be more then happy to solve your issue. I have understand that why "New Workspace" button is not showing after deleting the Work Space.

How i will solve this problem?
As per my un

[2022-10-26 18:20] smrutiparida commented on #11825
@kbecciv I am not able to reproduce the issue in staging and local environment.

My hypothesis was that the App.reconnectApp shall first fetch the policy that is deleted in client from the server post reconnection and then the Pusher based deletion of policy happens which must be updating the UI again. As both actions are synchronous, we must be seeing such a behavior for a moment till Onyx is upd

[2022-10-26 18:23] stephanieelliott commented on #10608
Thanks, all paid now!

[2022-10-26 18:24] neil-marcellini commented on #10824
Also, let's make sure we're all on the same page about the bug we are trying to solve. As I understand it this is the problem.
## Action Performed:
Sign into NewDot with any account
Select a chat with any user
Click the plus button to the left of the message input, and select "Add attachment"
Select a PDF
Click send
After the PDF uploads, click to open it
Close it (notice that `tabIndex=-1` on the

[2022-10-26 18:25] luacmartins commented on #6883
Yea, we should be able to import the module once and it should export the native functionality if it's a native platform or the web functionality if it's web/desktop.

You can see how we did that for Onyx by following the entry points for the lib - https://github.com/Expensify/react-native-onyx/blob/4f2cd795499d3a94ffea78812a461c7baad38f55/package.json#L31-L33

[2022-10-26 18:28] parasharrajat commented on #10107
Ok. I have reviewed a lot of things. I will try my best to cover everything but ping me if I miss something.

### First, let's resolve the `Node-keytar` and `safestorage` GD.

**Node-keytar** => Use system Keychain to store passwords for different usernames for a particular service. By default, the service which stores the credentials will be able to access those without a password prompt.

  ###

[2022-10-26 18:30] grgia commented on #9578
On hold, not overdue

[2022-10-26 18:33] mvtglobally commented on #12108
@chiragsalian @Julesssss Regression is completed

PR https://github.com/Expensify/App/pull/10471 is failing due to https://github.com/Expensify/App/issues/12004. Prod issue. Checking off
PR https://github.com/Expensify/App/pull/11611 is failing due to https://github.com/Expensify/App/issues/12122#issuecomment-1292382897. Checking off
PR https://github.com/Expensify/App/pull/11627 is blocked by htt

[2022-10-26 18:36] mollfpr commented on #10824
@neil-marcellini I think we can't. We used `PressableWithoutFocus` which blurs the element before calling the `onPress` and the blurs set the last focus to `<body>`.

We could replace `PressableWithoutFocus` with regular `Pressable` but I'm afraid it will create [regression](https://github.com/Expensify/App/issues/7596).

[2022-10-26 18:38] parasharrajat commented on #10107
Common challenges for this issue.
1. Autofill popup implementation.
2. Autofill information storage.
3. Which process will handle autofill `main`, `renderer`, or both?

Can all of you please answer these questions in their existing proposal at the end of it?

[2022-10-26 18:40] mollfpr commented on #10824
Another thing we can do is set `<body>` to have `tabindex="0"`. It will prevent setting the element `tabindex="1"`.
https://github.com/Expensify/react-native-web/blob/154f2cc6096372b451fa4c9ebff2ad24710f70ec/packages/react-native-web/src/exports/UIManager/index.js#L52-L62

[2022-10-26 18:41] mallenexpensify commented on #9662
I'm experiencing this issue, or something similar, so reopening to get 👀, then will proceed from there.
Repro steps
- Send message in NewDot
- Edit message that was sent and add link to it
- Observe that the link that was added is not hyperlinked, it's not a clickable link once sent.

Same issue here? Regression? New issue? Somehow related to what was considered a dupe issue https://github.com/Exp

[2022-10-26 18:47] parasharrajat commented on #10107
@ntdiary Autofill library sounds like a complex solution. AFAICT, there will be many challenges with it. It might not work with all the forms. But yeah, we can focus on our app first and make it work.

Let us know your estimated timeline and design plan for the same if you are considering going for it to understand better.

    can filter candidates.
    can manage the passwords or cards data (add

[2022-10-26 18:54] neil-marcellini opened #12151 "[Hold for payment 2022-12-06 $250] Default rooms are not grayed out when creating a new workspace while offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Sign in with any account
2. Go offline
3. Click the green plus at the bottom, New workspace. Or if you already have a workspa

[2022-10-26 18:56] parasharrajat commented on #10107
@azimgd Your proposal is by far the most complete one.

It would be good if autofill works by filling all the fields in the form. for example, the user selects a username on the email field and the password gets filled in.

Questions to all:
1. Will it be beneficial to show the native popup around for autofill? or custom popup is best to manage?

---
Status: waiting for the updates on the existing

[2022-10-26 19:02] Santhosh-Sellavel commented on #9662
@mallenexpensify
https://github.com/Expensify/App/issues/9662#issuecomment-1292449936 It seems like a different issue to me.

#9662 This issue is all about how should we show link markdown syntax while editing, except email we should show other links in the below pattern

<img width="631" alt="Screenshot 2022-10-27 at 12 23 56 AM" src="https://user-images.githubusercontent.com/85645967/198112149-a

[2022-10-26 19:08] kavimuru opened #12152 "[HOLD for payment 2022-12-05] [$500] Bug: DEV - [iOS] dev console error on app launch reported by @aimane-chnaif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open the app

## Expected Result:
No console error

## Actual Result:
Console error:  Warning: RCTBridge required dispatch_sy

[2022-10-26 19:12] chiragsalian commented on #12108
Checking off [12122](https://github.com/Expensify/App/issues/12122) is its not a blocker as reported in this [comment](https://github.com/Expensify/App/issues/12122#issuecomment-1292411712).

[2022-10-26 19:13] parasharrajat commented on #6883
Good question. @luacmartins  Do we need to implement the web platform as well for this lib? I understand that you are asking to creating noop web exports to keep it consistent for RN projects.

@azimgd As we are progressing towards Fabric, we might have to add turbo modules implementation as well.

[2022-10-26 19:15] PauloGasparSv commented on #11796
Tested once again but the connection worked at first try this time and did not give me that unvailable timeframe error:
<img width="463" alt="image" src="https://user-images.githubusercontent.com/6564265/198116002-b81cbaf6-cbc0-4fa4-81dc-59d5ea599ec5.png">

Then I removed the bankAccount from my user and tried connecting it to the workspace  again and got this error I'm investigating:
<img width="

[2022-10-26 19:21] chiragsalian commented on #11132
Removing deploy blocker label since its not really a blocker. But keeping the hourly tag since it sounds urgent to address. I think we can also create a fire-room to discuss this.

[2022-10-26 19:21] chiragsalian commented on #12108
I checked off https://github.com/Expensify/App/issues/11132

[2022-10-26 19:24] chiragsalian commented on #12108
I've checked off https://github.com/Expensify/App/pull/11926 since its one pending comment was answered - https://github.com/Expensify/App/pull/11926#issuecomment-1292497581

[2022-10-26 19:24] michaelhaxhiu commented on #2545
Adding Hold to GH title as we are tracking this issue as part of https://github.com/Expensify/App/issues/12054

[2022-10-26 19:27] davidcardoza commented on #11707
The job wasn't posted to upwork, I put it up now https://www.upwork.com/jobs/~01905d666d9e627d40

[2022-10-26 19:29] tomivs commented on #10107
Well, `node-keytar`'s API calls it "password" but you can store any string. So we could still store card information.

And regarding the things that need discussion:

I think Onyx is good for managing and getting state throughout an app. In this case, do we need to use password or card information state throughout the app? I don't think so. The password/card information should only be there when s

[2022-10-26 19:34] chiragsalian commented on #12108
@mvtglobally, can you explain this,

I wasn't sure what the issue was specific to iOS and Android so can you explain or link someplace if I missed it?

[2022-10-26 19:38] NicMendonca commented on #11730
@Puneet-here @rushatgabhane hired :)

[2022-10-26 19:38] chiragsalian commented on #12108
@mvtglobally, can you explain this,

I couldn't find an explanation so I wasn't sure how those two were related. One suggestion @puneetlath mentioned is the steps in https://github.com/Expensify/App/pull/11627 may not work on a controlled domain and maybe try the same on a uncontrolled domain.

[2022-10-26 19:40] cristipaval commented on #12139
I think that clipboard that you are using is actually the keyboard [autofill framework](https://developer.android.com/guide/topics/text/autofill). Please see the following video. I am deleting everything in the keyboard clipboard but by long tapping on the field I am still able to paste from the OS clipboard.

https://user-images.githubusercontent.com/18078393/198120872-7abcf30c-ce7b-49bc-adb5-e53

[2022-10-26 19:50] davidcardoza commented on #11820
accepted

[2022-10-26 19:52] parasharrajat commented on #12043
Thanks for the detailed explanation. Focus/blur indeed looks too much overhead. I am ok with your previous approach.

I looked at the existing code and you suggested an approach. It seems that keeping two functions will be more readable. We can of course dry the code as much as possible.

Questions:
1. Will it not have the same issue as focus/blue with Arrow-Nav, Mouse-Nav?
2. I think we have to b

[2022-10-26 19:54] kbecciv opened #12155 "[HOLD for payment 2023-02-03] [$4000] Chat - The Paragraphs are not displayed and some spaces missing between text after copied test from the opened HTML file"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/11926

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with

[2022-10-26 19:57] dangrous commented on #11057
Still on hold

[2022-10-26 19:59] cristipaval commented on #12139
Also this happens in production as well, with other markdowns, please see the following video

https://user-images.githubusercontent.com/18078393/198124876-da6f39dc-060f-4ee3-89f4-fd968608b647.mp4

[2022-10-26 20:06] thesahindia commented on #12028
@wildan-m, the issue can be seen on other browsers as well.

Waiting for more proposals.

[2022-10-26 20:07] Santhosh-Sellavel commented on #11487
@Puneet-here Let's maintain the design as its already, can you send the updated proposal thanks!

[2022-10-26 20:10] Santhosh-Sellavel commented on #7862
@mallenexpensify That https://github.com/Expensify/react-native-onyx/pull/198 is for a different issue

[2022-10-26 20:10] mvtglobally commented on #12108
@chiragsalian

PR https://github.com/Expensify/App/pull/11627 is blocked by https://github.com/Expensify/App/issues/11595

We only have Expensifail domain accounts which are part of the BETA. As per PR steps we need to add a new user to the workspace, but we are getting error when trying to add a user. So team is not able to proceed with steps. If we give gMail account, Can it be added to Beta?

[2022-10-26 20:11] Santhosh-Sellavel commented on #7862
Here is the PR for this issue https://github.com/Expensify/App/pull/9279

[2022-10-26 20:17] Luke9389 commented on #11265
Yeah I agree that it looks like a regression. Thanks for checkin' it out.

So in this case, would we keep this external and have the Contributor or C+ do the RCA, or do I do that as the assigned CME?

[2022-10-26 20:22] aneequeahmad commented on #11404
**NOTE:**

- I have checked that bug still exist in `v1.2.15-1`.

Video:

https://user-images.githubusercontent.com/36359331/198128910-a20131b0-9ab7-4ce6-8859-df46b2fa3544.mov

- This bug is fixed in version `v1.2.15-2` in commit no `4dfd52af5`

Video:

https://user-images.githubusercontent.com/36359331/198129028-4b11bc97-176d-4945-a721-02eeba055455.mov

Having said that I think i'm eligible for r

[2022-10-26 20:26] kbecciv commented on #11845
@puneetlath Checking, will update you shortly

[2022-10-26 20:26] marcaaron commented on #11850
I don't think we need to have a discussion about the label. We could just leave the label on for now. Demolition issues are usually reproducible and have a clear fix - we assign someone automatically so they can get in there quickly and fix it. Since we need to do some planning to solve this it feels less like low hanging fruit.

[2022-10-26 20:28] Luke9389 commented on #11265
asking in slack

[2022-10-26 20:31] marcaaron commented on #11265
I'm not sure what the current process for an RCA is or if we have one ironed out. Last time I checked it was "nobody's" job to do one. I found [this SO post](https://stackoverflow.com/c/expensify/questions/12156) and it lists the What, Where, When, and Why - but not Who.

[2022-10-26 20:32] Luke9389 commented on #11265
Yep, I saw that post too... I'll report back w answers.

[2022-10-26 20:33] Luke9389 commented on #11171
waiting for proposals.

[2022-10-26 20:33] marcaaron commented on #11265
This [other post here](https://stackoverflow.com/c/expensify/questions/12158) is implying that the RCA should be done by whoever fixes the issue. Which makes sense since figuring out the "root cause" is probably a pre-requisite for fixing the bug. So in this case, I think it's the C+?

[2022-10-26 20:36] kavimuru opened #12156 "[HOLD for payment 2022-12-20] [$500] BUG: Background color does not cover status bar area"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open NewDot and login
2. Go to ay chat
3. Long press on any comment to open the docked menu

## Expected Result:
Background co

[2022-10-26 20:38] marcaaron commented on #11726
I'll grab it @JmillsExpensify

[2022-10-26 20:41] MitchExpensify commented on #12145
Let me know if you need a hand here @arielgreen ! This one is impacting a few Guides I believe

[2022-10-26 20:52] chiragsalian commented on #12108
Checking off https://github.com/Expensify/App/pull/11627 as per [comment](https://expensify.slack.com/archives/C01GTK53T8Q/p1666817311660889?thread_ts=1666811084.199489&cid=C01GTK53T8Q).

[2022-10-26 21:07] Santhosh-Sellavel commented on #11522
@ctkochan22 Have you checked this one?

[2022-10-26 21:09] kavimuru opened #12158 "[$500] BUG: Sender name is not cleared from LHN when the chat is deleted from the room reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open any room that has no chat
2. Send a message. Observe there is your name in LHN with the message you just sent
3. Delete

[2022-10-26 21:09] Santhosh-Sellavel commented on #11522
Personal details should not be received here, as the user doesn't initiate the chat.

[2022-10-26 21:12] thesahindia commented on #9408
Just wanna inform that we both ( @adeel0202 and I ) are eligible for the reporting compensation. Confirmed it [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1666286567398999).

[2022-10-26 21:12] azimgd commented on #10107
RE: SafeStorage Cons

we will have to manage the encrypted data ourselves.
Change to encryption keys will break the existing data. Require logic to detect the decryption failure and take action about the stored data.
Extra overhead of managing the data.

While I don't agree with the most points being a con, my main idea here is to have a single source of truth being Onyx. Data stored there is encr

[2022-10-26 21:23] parasharrajat commented on #10107
I agree. I wasn't comparing both as they are just different tools IMO. Just tried to summarize it.

[2022-10-26 21:26] mallenexpensify commented on #9662
ooof, lotta different pieces here, thanks for the breakdown @Santhosh-Sellavel , it was especially helpful.
So.. this fix is working as expected and should be re-closed, right? Pretty sure, so closing.
<img width="805" alt="image" src="https://user-images.githubusercontent.com/22508304/198141100-c2590296-b094-473d-8ce9-f03a4c8f5afe.png">

For my issue... it sounds like it should be a new issue, is

[2022-10-26 21:26] #9662 closed

[2022-10-26 21:32] jliexpensify commented on #12019
Hi @kbecciv - you haven't invited that second user as an Admin, right? If not, they will not show up in the #admins room.

They do show up in the #anounce room, which is correct behaviour (everyone who's invited should).

On the new build, the user is also added to the room instantly. So I'm still not seeing the issue - can you reclarify what you think the specific issue is for me?

[2022-10-26 21:35] kidroca commented on #11724
Enabling file system cache reduced the initial build time down to 5s for me

- current (no changes): General output time - 50sec
- ➖ without eslint - 21sec
- ➕ with Webpack file system cache - 5s

[2022-10-26 21:37] mallenexpensify commented on #11953
Thanks @kavimuru ,  this flow is particularly janky.  If you click a link in the app to a chat in the app, you shouldn't be taken OUT of the app.  Also... the title of this GH is a different problem :(
Chatting more about in the #expensify-open-source https://expensify.slack.com/archives/C01GTK53T8Q/p1666818969906699?thread_ts=1666270549.878679&cid=C01GTK53T8Q

[2022-10-26 21:41] chiragsalian commented on #12108
Checking off https://github.com/Expensify/App/pull/11839 & https://github.com/Expensify/App/pull/11988 & https://github.com/Expensify/App/pull/11719 since it cannot be tested on staging physical devices. [Context](https://expensify.slack.com/archives/C01GTK53T8Q/p1666820441127549?thread_ts=1666811104.732769&cid=C01GTK53T8Q).

[2022-10-26 21:43] mallenexpensify commented on #12122
@arosiclair , before adding the `External` label, unassign yourself, otherwise GH can glitch and remove folks like it did here https://github.com/Expensify/App/issues/12122#event-7675203513

Job is posted https://www.upwork.com/jobs/~01e2ce2fe9a4806aec

[2022-10-26 21:46] chiragsalian commented on #12108
Yup that's not a blocker. https://github.com/Expensify/App/pull/11996 works fine for its expectation so I'm checking it off.

[2022-10-26 21:50] Santhosh-Sellavel commented on #11488
@gadhiyamanan can you please send screenshots before and after like above?

[2022-10-26 21:51] dangrous commented on #12048
@lschurr this is reviewed and approved. Do we need to do anything else on this issue/Upwork/etc. other than merge? This is my first one!

[2022-10-26 21:52] huzaifa-99 commented on #12043
@parasharrajat. I agree about the dry part.

**Answers**
1. No. The reason being that we are just mimicking the `Tab` and `Shift+Tab`. When we press `Tab`, the same logic used for right arrow key press, gets executed (but in the new function with some other checkpoints) https://github.com/Expensify/App/blob/70efb00eeb6e9617ecfa478e6348a252d4ac13f4/src/components/EmojiPicker/EmojiPickerMenu/index.j

[2022-10-26 21:53] Santhosh-Sellavel commented on #11488
@syedsaroshfarrukhdot seems off, something got affected on the web.
<img width="301" alt="Screenshot 2022-10-27 at 3 21 46 AM" src="https://user-images.githubusercontent.com/85645967/198145493-44b7f834-4fc3-42ab-adbb-e90f7b5d872d.png">
<img width="317" alt="Screenshot 2022-10-27 at 3 21 50 AM" src="https://user-images.githubusercontent.com/85645967/198145495-1a835666-1cad-4155-933c-115ce426c935.pn

[2022-10-26 21:54] Uros787 commented on #12122
### Proposal
RCA:
The error is happening on [CompanyStep.js](https://github.com/Expensify/App/blob/586ecbdfb743b7ba64e84d3fcba617f79bb0101b/src/pages/ReimbursementAccount/CompanyStep.js)
On lines:
https://github.com/Expensify/App/blob/586ecbdfb743b7ba64e84d3fcba617f79bb0101b/src/pages/ReimbursementAccount/CompanyStep.js#L215-L230
The commit that introduced this error is this one: https://github.co

[2022-10-26 21:57] parasharrajat commented on #12043
Thanks for the answers. @huzaifa-99 's [proposal](https://github.com/Expensify/App/issues/12043#issuecomment-1288248326) option

looks good to me.

cc: @marcaaron

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-10-26 22:01] mallenexpensify commented on #7862
eeeps, sorry.  Thanks for the catch @Santhosh-Sellavel

[2022-10-26 22:01] roryabraham commented on #11724
Whoa, that is faster than I expected! Couple general questions about the webpack FS cache:

- When do you have to clear the cache, if at all?
- How can you clear the cache?

[2022-10-26 22:02] AndrewGable commented on #11711
I've reached out to AWS Device Farm support via a support case, I have chatted with their support on the phone and provided code details. They are circling back internally and I will let you know when I hear back from them.

[2022-10-26 22:02] aldo-expensify commented on #11293
This is probably the same thing, but I can consistently reproduce it with the following steps:

1. Send the following message in a chat:
`
This is the list of domains that I'm explicitly ignoring in the Firm MRR query: 'aol.com', 'att.net', 'bellsouth.net', 'bills.expensify.com', 'expensify.cash', 'btinternet.com', 'cheerful.com', 'chromeexpensify.com', 'comcast.net', 'cox.net', 'evernote.user', '

[2022-10-26 22:03] chiragsalian commented on #12108
I see a single crash on android for 1.2.19-1 for [MaintainVisibleContentPositionHelper.java](https://console.firebase.google.com/u/0/project/expensify-chat/crashlytics/app/android:com.expensify.chat/issues/36a85ff92892355902d70c8e6c417ad8?time=last-seven-days). Its something we seen before and it seems very rare - [issue](https://github.com/Expensify/App/issues/11064). I'm moving forward with depl

[2022-10-26 22:05] PauloGasparSv commented on #11796
@kbecciv Do you mind testing this again? Other than staging iOS and Android the Fidelity connection should be working on all the other platforms.

I got the errors above when the service went down like it does daily but it to work locally on Web, locally on mobile and on staging Web!

[This got super confusing](https://expensify.slack.com/archives/C01GTK53T8Q/p1666811104732769) so I'd appreciate a

[2022-10-26 22:06] marcaaron commented on #11726
Alright so kept looking into this and came up with a solution which is basically to extract the logic out of `ReportActionsView` [here](https://github.com/Expensify/App/blob/a341945917aa39adcc9ecad8e6a6d74d6a95f2c4/src/pages/home/report/ReportActionsView.js#L177-L180) (since it's entirely unreliable to detect "new actions" this way and we've been doing it since the app's inception) and instead emi

[2022-10-26 22:07] luacmartins commented on #6883
This

[2022-10-26 22:08] mallenexpensify commented on #11265
I added this to the [RCA sheet](https://docs.google.com/spreadsheets/d/1u73RE8J1DdX3mDohV1RXgulF6_cke3N_a15Sk-UUdQo/edit#gid=0), I know that's step 1!

We [briefly discussed this morn](https://expensify.slack.com/archives/C02NK2DQWUX/p1666800539491509?thread_ts=1666792980.543399&cid=C02NK2DQWUX), I think it should be @sobitneupane 's job to do the RCA since we don't know the offending PR.  I added

[2022-10-26 22:08] kbecciv commented on #11796
@PauloGasparSv I will test  the Web and mWeb shortly, will update you with videos.

[2022-10-26 22:09] chiragsalian commented on #12108
:shipit:

[2022-10-26 22:09] #12108 closed

[2022-10-26 22:13] OSBotify opened #12165 "Deploy Checklist: New Expensify 2022-10-26"
**Release Version:** `1.2.20-3`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/10843
- [x] https://github.com/Expensify/App/pull/11567
- [x] https://github.com/Expensify/App/pull/11655
- [x] https://github.com/Expensify/App/pull/11799
- [x] https://gi

[2022-10-26 22:21] lschurr commented on #12048
Also my first one - I asked [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1666802688236379) for clarification on next steps.

[2022-10-26 22:31] azimgd commented on #6883
What if we port current KeyboardShortcuts implementation within this project, so that it becomes truly cross platform?

[2022-10-26 22:58] syedsaroshfarrukhdot commented on #11488
@Santhosh-Sellavel  To achieve things exactly on other platforms like before we need to pass styles.ml4 instead of styles.ml2 and it will be just like similar to all platforms and the problem will also be fixed

We can use this code snippet

Code Fix Snippet:-

### <View style={[styles.flexRow, styles.alignItemsCenter, styles.m4]}>
           <Icon src={Expensicons.Exclamation} fill={colors.red} /

[2022-10-26 22:59] luacmartins commented on #6883
That would work too!

[2022-10-26 23:09] AndrewGable commented on #8503
@janicduplessis Fixed the Android build issues, I opened a WIP PR linked above with those fixes included. The "flickering" issue occurs on both Android & iOS now.

[2022-10-26 23:29] ctkochan22 commented on #11522
Not yet, but looking at it briefly again. I'm not 100% sure if this is a bug yet. Or something we care about. Asking in slack again

[2022-10-26 23:38] AndrewGable commented on #11352
PR is under review, discussing

[2022-10-26 23:40] marcaaron commented on #11726
Ok so for this other issue it does look like we are initializing the report with incorrect data. If we wait until the "report data" is done loading this is still not enough. The order of operations in the `SaveResponseInOnyx` middleware and our use of `mergeCollection()` to update the report data means that data from the API is only available some time after we set the `isLoadingReportData` flag t

[2022-10-27 00:01] chiragsalian commented on #11319
Friendly bump, was there any update here?

[2022-10-27 00:29] strepanier03 commented on #11753
@mountiny are we going to keep this at $250 until we can reproduced? Is there a time when we close it because it still can't be reproduced?

[2022-10-27 00:37] srikarparsi commented on #11894
hey @gadhiyamanan! In the future, it would be better to wait until the external label is applied before posting a solution. I implemented something similar to your proposal but kept it consistent with our other buttons: https://github.com/Expensify/App/blob/main/src/components/SettlementButton.js#L115

[2022-10-27 00:54] AndrewGable commented on #11895
Good question - I think you should bring this question to Slack to get confirmation, I am unsure and would like to have a discussion.

[2022-10-27 01:17] marcochavezf commented on #11966
I was able to reproduce it on the simulator. Applying the `External` label.

[2022-10-27 01:23] marcochavezf commented on #11088
Hi @stephanieelliott, would be ok to close this out?

[2022-10-27 01:38] kbecciv commented on #11796
@PauloGasparSv Just checked with recent build 1.2.20 and got crashed on both environments.

https://user-images.githubusercontent.com/93399543/198170885-3aeeed5d-27c9-4f8a-84b1-5976dbb8f8e9.mp4

https://user-images.githubusercontent.com/93399543/198170924-6da2a814-83d4-4335-a6dc-5902e7846f0f.mp4

[2022-10-27 01:43] marcochavezf commented on #10417
Hey @johncschuster we can downgrade to `Monthly` because we're going to resume the Account Settings project once we wrap up the WA Quality project.

[2022-10-27 01:56] kbecciv opened #12171 "[$250] Android - Workspace - App is crashed when creating a new Workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Go to Setting - Workspace
4. Select ... dots
5. Tap on New Workspace

## Expected

[2022-10-27 01:57] OSBotify commented on #12171
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-27 01:59] kbecciv opened #12172 "Connect Bank Account - App is crashed when adding a Verified Bank Account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with any account
3. Enable staging Web secure server in Account Preferences if disab

[2022-10-27 02:00] OSBotify commented on #12172
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-27 02:00] stephanieelliott commented on #11088
Oh yep, this was paid! Closing

[2022-10-27 02:00] #11088 closed

[2022-10-27 02:02] kbecciv opened #12173 "Android - LHN - App is crashed when tap on Send/Request money"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Tap on Fub menu
4. Tap Send/Request money

## Expected Result:
User can procced w

[2022-10-27 02:03] OSBotify commented on #12173
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-27 02:09] wildan-m commented on #12028
### Proposal (Updated)

@thesahindia, you are right, I can also reproduce it in Safari.

I still believe that it's caused by the different triple-click behavior of browsers
At this time, behavior of default action of triple-click isn't specified the W3C spec
Other repos also experience similar issues:
https://github.com/facebook/lexical/issues/2660
https://github.com/ckeditor/ckeditor4/issues/484

[2022-10-27 02:44] OSBotify commented on #12165
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.20-0 :rocket:

[2022-10-27 03:04] wildan-m commented on #11674
@sophiepintoraetz, can you reproduce it with the above steps?

[2022-10-27 03:16] aneequeahmad commented on #11733
I think i should also be added in `reporter` as I reported this bug on 1st September [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1662053447564539) and again same error on another component on 28th September [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1664319888468459?thread_ts=1662053447.564539&cid=C01GTK53T8Q). Thanks

cc: @kavimuru, @MitchExpensify, @Luke9389

[2022-10-27 03:34] arielgreen commented on #12145
I am unable to reproduce this. @mitchexpensify can you give it a try?
![2022-10-26_23-31-26 (1)](https://user-images.githubusercontent.com/37308300/198185171-33319ebe-6e2a-46fa-86b2-92a430ee20b6.gif)

[2022-10-27 03:35] aneequeahmad commented on #11135
**Last Version where issue exist**

- This issue is reproducible in version `1.2.10-1`

Video:

https://user-images.githubusercontent.com/36359331/198185166-01cd83f0-0612-4cdd-84ef-8ca8800200b1.mov

**Issue fixed in version**

- This issue is fixed in version `1.2.11.0` in commit no `607f8e936`

https://user-images.githubusercontent.com/36359331/198185177-705b7d31-9383-4352-9ad7-f8b7dd70fdfe.mov

[2022-10-27 03:36] conorpendergrast commented on #12116
@parasharrajat Over to you to review proposals!

[2022-10-27 03:45] rafecolton commented on #12173
For some context on 10 "random" people being assigned: https://expensify.slack.com/archives/C03TQ48KC/p1666842111537709?thread_ts=1666838060.530049&channel=C03TQ48KC&message_ts=1666842111.537709

[2022-10-27 04:56] dhairyasenjaliya commented on #12152
**Proposal**

- This warning is caused by the `react-native-reanimated` package below is the PR that recently they fixed in the package
PR: https://github.com/software-mansion/react-native-reanimated/pull/3698/files

- But we are currently using `3.0.0-rc.3` so I think we need to add the below changes to the patch here https://github.com/Expensify/App/tree/main/patches

[code]

**Result fix**
<img

[2022-10-27 05:08] smrutiparida commented on #12004
@mvtglobally  The bank account added is still not a default account as I can see from the screenshot attached. Underlined below.

<img width="217" alt="Screen Shot 2022-10-27 at 10 33 00" src="https://user-images.githubusercontent.com/5945400/198196500-a781c8ad-7c04-445b-9a05-b0b791120b5b.png">

As an external developer though I have not reproduced the steps but from the code it seems evident that

[2022-10-27 05:18] aneequeahmad commented on #11194
@mallenexpensify How can i compare my report time with internal team's time. I didn't found any reported issue on slack neither any logged bug when i posted it.

Also, https://github.com/Expensify/App/issues/10753 `issue exist on all platforms and doesn't feel like root cause is this console error that I reported`. Thanks

cc: @mallenexpensify

[2022-10-27 06:18] MonilBhavsar commented on #11687
Sorry was OOO and not sure why pullerbear didn't assign the review

[2022-10-27 06:23] Puneet-here commented on #11894
I believe instead of disabling the button like this, we should do a form refactor since the form button already has this logic and we will be doing it in th future.
cc: @luacmartins

[2022-10-27 06:24] Christinadobrzyn commented on #11283
Price doubled $1000

[2022-10-27 06:26] Christinadobrzyn commented on #11275
Price doubled $500

[2022-10-27 06:26] sophiepintoraetz commented on #11674
@wildan-m - to be clear, are you referring to the issue where the _Corporate Cards, Reimbursements, Receipt Scanning_ text jumps up and down every time you click **`Resend link`**? If so, you will need to update the OP instructions.

[2022-10-27 06:36] sophiepintoraetz commented on #12049
Job posted [here ](https://www.upwork.com/jobs/~010284720003f4ea09)

[2022-10-27 06:40] Christinadobrzyn commented on #10352
Old job expired - created a new one:

New Job Posting Internal - https://www.upwork.com/ab/applicants/1585519240403746816/job-details
New Job Posting External - https://www.upwork.com/jobs/~01046f338d67a67757

Hired
@mananjadhav as C+
@aimane-chnaif as the contributor fixing the issue
@ahmdshrif $250 for reporting the issue

[2022-10-27 07:07] aneequeahmad commented on #11096
@kavimuru this is still reproducible in `v1.2.20-0`. Please see the attached video:

**Video**:

https://user-images.githubusercontent.com/36359331/198207580-5803dab0-6442-47a5-a114-eac4aa7d909b.mov

[2022-10-27 07:45] aneequeahmad commented on #11096
**Action Performed:**

- Launch android app.
- Click on any report having attachment like image.
- Long press on attachment(image) message.

**Expected Result:**

- No console errors

**Actual Result:**

- Console error Warning: Failed prop type: The prop anchorPosition.horizontal is marked as required in PopoverWithMeasuredContent, but its value is undefined.

### **PROPOSAL**

**Problem:**

As `

[2022-10-27 07:47] tienifr commented on #11494
It's problem from BE:
when we call API `AddComment` with `reportComment` = `<blockquote>quoted text</blockquote>test`
<img width="586" alt="Screen Shot 2022-10-27 at 14 41 24" src="https://user-images.githubusercontent.com/113963320/198221635-e7c1eddb-0673-4bca-81bd-f3747e279fbd.png">

In https://github.com/Expensify/App/blob/03d7e8f3faba23befb0878b97a66417e492736d1/src/libs/actions/User.js#L313
I

[2022-10-27 08:07] Julesssss commented on #11825
Hi @ahsan-K. @Santhosh-Sellavel was directing you to the readme as we do not use Redux, and it explains our process for hiring external contributors.

[2022-10-27 09:01] Gonals commented on #12173
Hmmm. I can't seem to reproduce the issue. What about the rest of you?

[2022-10-27 09:03] Gonals commented on #12155
Marking as external!

[2022-10-27 09:10] techievivek commented on #12173
Me neither.

[2022-10-27 09:12] dylanexpensify commented on #11948
@rushatgabhane what do you mean by RCA? 😂

[2022-10-27 09:12] dylanexpensify commented on #12045
Not overdue, awaiting proposals

[2022-10-27 09:12] dylanexpensify commented on #9181
not overdue

[2022-10-27 09:19] wildan-m commented on #11674
@sophiepintoraetz, yes, you are right. How to update OP instructions? did you mean to update Action Performed in this post?

@kavimuru, can you update the action performed step with this one?

https://user-images.githubusercontent.com/11847279/197675627-d9ee53d7-8398-4c8a-bcb6-e45044d41f80.mp4

[2022-10-27 09:20] techievivek commented on #8589
@mvtglobally Can we please test this once again? Because my guess is it would have been fixed with offline and refactor changes.

[2022-10-27 09:35] Julesssss commented on #12173
I can't reproduce the crash on this page, but I'm seeing a crash every time I open the app and stay on the LHN page. Both on a Pixel 4a `Android 13` and Nexus 5X `Android 8.1`

https://user-images.githubusercontent.com/10736861/198248892-e3735743-41c2-4480-b335-64ac11bfbd4b.mp4

[2022-10-27 09:39] pecanoro commented on #12172
I tried to reproduce it but it is not crashing for me, it works just fine, can someone else test it as well?

[2022-10-27 09:49] techievivek commented on #11416
I am going to send it back to the pool so someone else can look into it.

[2022-10-27 09:53] Beamanator commented on #12171
Not reproducing in v1.2.19-1, will try 1.2.20.0

[2022-10-27 09:53] Julesssss commented on #12173
I can only reproduce this on version `1.2.20-0`. Possibly triggered by the reanimated library, which for some reason is passing a null reference to a Double conversion function in the Java library.  I'm going to look further into this, but likely will suggest that we simply revert the PR that introduced this -- it's a pretty major regression.

**Logs**
<img width="1084" alt="Screenshot 2022-10-27

[2022-10-27 09:54] Beamanator commented on #12171
Installed 1.2.20.0, clicked on Settings, app crashed 😅

[2022-10-27 09:55] NikkiWines commented on #12172
Also unable to reproduce on staging as well

[2022-10-27 09:56] Julesssss commented on #12171
[See here ](https://github.com/Expensify/App/issues/12173#issuecomment-1293276920)for the likely cause. I believe all these Android regressions are caused by the same issue.

[2022-10-27 09:58] Beamanator commented on #12171
@Julesssss looks like you're looking into this so I'll stop 😅 let me know if you need help testing or anything 👍

[2022-10-27 10:14] roryabraham commented on #8503
REA 3 upgrade is complete

[2022-10-27 10:18] roryabraham commented on #8503
Looks like we need to revert https://github.com/Expensify/App/pull/12140 because it's causing a crash. So we'll need to work that crash out and merge it back in order to get Fabric enabled

[2022-10-27 10:27] Julesssss commented on #12172
It's possibly linked to [these](https://github.com/Expensify/App/issues/12173) [two](https://github.com/Expensify/App/issues/12171) crashes, reported at the same time. We're about to CP a fix and then will retest this one to see if it's still occurring.

[2022-10-27 10:33] pecanoro commented on #7918
Still waiting on https://github.com/Expensify/App/pull/10965

[2022-10-27 10:34] tienifr commented on #11893
# Proposal
## Problem
In https://github.com/Expensify/App/blob/main/src/pages/settings/AppDownloadLinks.js
we don't add `PopoverReportActionContextMenu` so the `copy URL to clipboard` can't show.
## Solution

[code]

https://user-images.githubusercontent.com/113963320/198262309-79ad2ad5-4dea-4ba9-b3ed-8594235b9610.mp4

[2022-10-27 10:44] sketchydroide commented on #11237
Vagrant fixed, I can look at this again

[2022-10-27 10:47] sketchydroide commented on #11187
I think it's still reproducible. But I think we are still waiting, I think we can move this to Monthly while we wait.

[2022-10-27 10:48] sketchydroide commented on #11818
not overdue...

[2022-10-27 11:02] MonilBhavsar commented on #11810
Can be worked externally

[2022-10-27 11:28] mountiny commented on #11753
@strepanier03 Usually we wait for QA (@mvtglobally in this case) to check for two weeks, so they will come to this soon again (see https://github.com/Expensify/App/issues/11753#issuecomment-1282239192) and if they are not able to repro we will close this

[2022-10-27 11:29] roryabraham commented on #8503
According to [this thread](https://expensify.slack.com/archives/C04878MDF34/p1666864046673779), it sounds like we need to upgrade our react-native fork

[2022-10-27 11:33] roryabraham opened #12177 "Upgrade RN fork to latest"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

### Problem
A [recent commit](https://github.com/Expensify/react-native/commit/9ac437f25b51b9a7fc8134d17c69b64ae90d508d) in the react-native upstream

[2022-10-27 11:48] #12173 closed

[2022-10-27 11:48] Julesssss commented on #12171
Fixed: https://github.com/Expensify/App/pull/12176

[2022-10-27 11:50] Julesssss commented on #12165
I checked off #12173 #12171 which have been resolved by[ this PR](https://github.com/Expensify/App/pull/12176)

[2022-10-27 11:51] Julesssss commented on #12171
I'm going to ask Applause to retest this one, once the Android fix is CP'd to the deploy checklist

[2022-10-27 11:51] Julesssss commented on #12172
I'm going to ask Applause to retest this one, once the Android fix is CP'd to the deploy checklist

[2022-10-27 11:57] Beamanator commented on #10950
Agreed @mallenexpensify 👍

[2022-10-27 11:57] roryabraham commented on #12026
I'm not sure ... why don't we just remove periods from both the searchValue and the searchWords? Also, why do we just remove periods and replace commas with a space?

[2022-10-27 11:58] OSBotify commented on #12165
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12176) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.20-1` :rocket:

[2022-10-27 11:59] roryabraham commented on #12026
Long-term, I think we need a more generic, performant, and robust text searching algorithm. We can treat that as out-of-scope for now, but I don't want to add a bunch of domain-specific search rule exceptions, like "ignore periods when looking for DMs, but don't ignore them when looking for chat rooms"

[2022-10-27 11:59] roryabraham commented on #12026
Overall I'm not confident in any of the proposals so far, sorry

[2022-10-27 12:00] #11607 closed

[2022-10-27 12:01] greg-schroeder commented on #12158
https://user-images.githubusercontent.com/29386373/198278987-e8052f71-a55f-4917-9951-12de475df016.mov

[2022-10-27 12:09] bfitzexpensify commented on #12054
PRs to fix these:

- https://github.com/necolas/react-native-web/pull/2412
- https://github.com/necolas/react-native-web/pull/2413
- https://github.com/necolas/react-native-web/pull/2414
- https://github.com/necolas/react-native-web/pull/2415

[2022-10-27 12:10] MonilBhavsar commented on #11423
Sorry, looking.
Since we already have that _hack_ in other components, I'm fine moving with that and create a new issue to investigate and get rid of that hack. Thoughts?

[2022-10-27 12:11] MonilBhavsar commented on #8592
Yes, I'm on iOS 16 too

[2022-10-27 12:18] MonilBhavsar commented on #8592
https://user-images.githubusercontent.com/32012005/198282013-86ade9a6-d615-48cf-8b0d-b3845682cee2.MP4

[2022-10-27 12:28] adeel0202 commented on #12143
Hi. I was just about to report a bug where I'm not able to see the archived room's workspace name after deleting the workspace, but then I saw this issue. I think both these issues are related so I'm just reporting it here.

https://user-images.githubusercontent.com/13783842/198283918-525ca7be-20e1-41ea-9c98-2a662bb34129.mp4

[2022-10-27 12:40] MonilBhavsar commented on #11273
@mvtglobally could you please retest and confirm https://github.com/Expensify/App/issues/11273#issuecomment-1280386876

[2022-10-27 12:48] azimgd commented on #10107
### Demo for Autofill-able Input groups:

https://user-images.githubusercontent.com/4882133/198288410-ce15a0dd-77c1-4146-a7f8-15eb36a31c1f.mov

Usage: https://github.com/azimgd/form-autofill/blob/main/src/App.js

[2022-10-27 12:58] PauloGasparSv commented on #11796
What!!!!! Thks @kbecciv, I got that error **once** from all the 10 or attempts I did yesterday.
I'll try digging into this some more and reach for help if I can't find anything

[2022-10-27 13:00] NicMendonca commented on #11059
@mananjadhav any updates here? Thanks!

[2022-10-27 13:11] OSBotify commented on #12165
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.20-1 has been deployed to staging :tada:

[2022-10-27 13:16] Julesssss commented on #12165
@Expensify/applauseleads could you please retest https://github.com/Expensify/App/issues/12172? Thanks

[2022-10-27 13:16] iwiznia commented on #11415
Still no proposals, @michaelhaxhiu double it?

[2022-10-27 13:16] Julesssss commented on #12172
Asked Applause to retest [here](https://github.com/Expensify/App/issues/12165#issuecomment-1293512140)

[2022-10-27 13:16] puneetlath opened #12182 "Test"
testing bug assigner

[2022-10-27 13:17] puneetlath commented on #12182
it works!

[2022-10-27 13:17] #12182 closed

[2022-10-27 13:17] furkanuzundev commented on #12143
Guys, can someone tell me how to create a room? I want to deal with this bug.

[2022-10-27 13:21] mananjadhav commented on #11059
Sorry for the delay here, travelling due to festive week. But I'll posted a comment on the PR. Once done I'll test the changes.

[2022-10-27 13:24] slafortune commented on #11398
https://www.upwork.com/ab/applicants/1585623107464331264/job-details

[2022-10-27 13:37] Santhosh-Sellavel commented on #12143
We have other issue raised by you already https://github.com/Expensify/App/issues/11895 that will/should be handled there.

[2022-10-27 13:43] joekaufmanexpensify commented on #11916
Still awaiting proposals.

[2022-10-27 13:43] joekaufmanexpensify commented on #11850
Okay, got it. I'm not too familiar with the different solutions, but happy to start a discussion about it in Slack to get the ball rolling!

[2022-10-27 13:44] adeel0202 commented on #12143
I don't think this is related to https://github.com/Expensify/App/issues/11895. https://github.com/Expensify/App/issues/11895 is about an extra/unnecessary archived room that appears after deleting the workspace and it just stays there. However, the one I reported [here](https://github.com/Expensify/App/issues/12143#issuecomment-1293453215) is about the room name that disappears after the workspac

[2022-10-27 13:53] kbecciv opened #12183 "Request money - The intermediate page is visible when requesting money to a new user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in any user
3. Click on FAB button - Request money
4. Choose someone with

[2022-10-27 13:54] OSBotify commented on #12183
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-27 14:12] Someone-here commented on #12018
Apparently the cursor resetting is just react-native internal behaviour, I tested on snack and got the cursor going to the beginning as well. I tried to fiddle around with other textInput components which was unsuccessful but I think that would be unnecessary and just add extra code. This was the solution that was the simplest and most importantly added the least amount of code. And is much more r

[2022-10-27 14:16] roryabraham commented on #12177
Ran into a snag where [this commit](https://github.com/Expensify/react-native/commit/9ac437f25b51b9a7fc8134d17c69b64ae90d508d) has not been included in any upstream release yet

[2022-10-27 14:19] roryabraham commented on #12177
Going to just manually perform that commit in the `Expensify-0.70.4-alpha` branch, so that we can get it included in the release without me trying to build off a non-stable release

[2022-10-27 14:23] christianwen commented on #10731
@Santhosh-Sellavel yes, I've checked and it's not reproducible any more

[2022-10-27 14:28] johncschuster commented on #10485
Thanks! I'll go ahead and close it 👍

[2022-10-27 14:28] #10485 closed

[2022-10-27 14:29] Beamanator commented on #11572
Not on hold, PR is in review (holding on Web-E command being created)

[2022-10-27 14:32] Beamanator commented on #11576
Still on hold, need to discuss if the dropdown should be push-to-page to be consistent with other dropdowns (like new timezone selector)

[2022-10-27 14:34] kavimuru opened #12185 "After reload the user avatar takes time to show up reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open NewDot in mobile browser
2. Refresh the page
3. Check your avatar at top right

## Expected Result:
It shouldn't take mu

[2022-10-27 14:41] tgolen commented on #12104
Marking as external to start getting proposals

[2022-10-27 14:41] tgolen commented on #11104
Waiting for proposals still

[2022-10-27 14:42] tgolen commented on #10356
@akshayasalvi Did you get a chance to get that PR started?

[2022-10-27 14:42] kavimuru opened #12186 "BUG: When I select a different user chat, other user chats disappear reported by @jessica-dooley"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Cleared cache, cookies, and storage.
2. Refreshed
3. logged out then back in.
4. changed priority mode from focus to most rec

[2022-10-27 14:50] michaelhaxhiu commented on #9823
Going to decide today if we (A) can't reproduce & close this GH or (B) keep open & double it.

[2022-10-27 14:54] michaelhaxhiu commented on #9823
Thanks @thesahindia. Doubled.

[2022-10-27 14:56] kbecciv opened #12187 "Setting - Selected screenshot/photo is cut off when uploading to avatar"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Tap your avatar >Profile
4. Upload photo> choose fro

[2022-10-27 14:56] twisterdotcom commented on #11795
Asking about some of the oddities involved here: https://expensify.slack.com/archives/C01GTK53T8Q/p1666881619925549

[2022-10-27 14:58] roryabraham commented on #11192
@mdneyazahmad looks good except for the naming the method `onMouseUp` – recall that member functions should be named for what they do, not what they handle.

[2022-10-27 15:00] adelekennedy commented on #9459
Not overdue - waiting on proposals. We've capped this at 2k

[2022-10-27 15:02] zanyrenney commented on #12058
I can't reproduce this - is it still happening for you @kavimuru
![2022-10-27_16-00-21 (1)](https://user-images.githubusercontent.com/56830058/198325962-5d63ab74-16bb-4808-bf5a-7ae83cb8a14d.gif)

[2022-10-27 15:03] zanyrenney commented on #12058
I can't reproduce this on Mac/Chrome - is it only happening on FireFox?

![2022-10-27_16-00-21 (1)](https://user-images.githubusercontent.com/56830058/198326420-35dffd6f-2179-479c-97a8-9b88ca7b09ce.gif)

[2022-10-27 15:06] roryabraham opened #12188 "[HOLD for payment 2023-03-21] [$1000] [Feature] Create autosuggestion UI for :emoji_codes:"
Let's add an auto-suggestion UI for emojis so that they can be added inline in messages. Right now, typing `:smile:` works, but only if you know that it works. Let's make it easier to add emojis to messages using an inline emoji selector.

![image](https://user-images.githubusercontent.com/1371996/211650171-8aa634fa-255e-4f52-bec7-3a39ebf51c44.png)

It will work like this:
1. As soon as you type c

[2022-10-27 15:08] roryabraham commented on #12188
@stephanieelliott I think we should probably start this issue at $1000

[2022-10-27 15:10] Karim-30 commented on #4324
Thanks @mallenexpensify And Thanks all.

[2022-10-27 15:10] michaelhaxhiu commented on #11415
I thought we don't double "Crash" GHs beyond $500 🤔

[2022-10-27 15:11] adelekennedy commented on #11930
What are the next steps to do an RCA? @Julesssss @eVoloshchak

[2022-10-27 15:12] bfitzexpensify commented on #11486
I've doubled the job to $500 - I know we have proposals being discussed, but let's make this a little more lucrative to get more action happening here

[2022-10-27 15:13] luacmartins commented on #11894
Yea, I agree that eventually we will refactor this to use the Form component.

[2022-10-27 15:15] Julesssss commented on #7375
Not overdue

[2022-10-27 15:15] roryabraham opened #12189 "Efficiently store and search for emojis"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Start typing `:smile`

## Expected Result:
The soon-to-be-implemented emoji suggestions UI should produce not only results that _

[2022-10-27 15:15] roryabraham commented on #12189
cc @stitesExpensify in case you want to be co-assigned on this one as well

[2022-10-27 15:18] roryabraham commented on #12189
This is hinted at in the issue title, but I think that a [suffix tree](https://www.educative.io/answers/what-is-a-suffix-tree) will be the appropriate data structure to use for this search, since the emoji dataset is so large (and will likely continue to grow over time)

[2022-10-27 15:20] roryabraham commented on #12189
Also, note that this does not necessarily have to be on HOLD for https://github.com/Expensify/App/issues/12188, because even though we don't have the UI yet, we should be able to verify the correct behavior with unit tests, which will be a _hard requirement_ for any PR to implement this issue.

[2022-10-27 15:20] joelbettner opened #12190 "QA issue for https://github.com/Expensify/Web-Expensify/pull/35219"
This is just a QA issue for https://github.com/Expensify/Web-Expensify/pull/35219

[2022-10-27 15:20] joelbettner opened #12191 "QA issue for https://github.com/Expensify/Web-Expensify/pull/35219"
This is just a QA issue for https://github.com/Expensify/Web-Expensify/pull/35219

[2022-10-27 15:20] roryabraham commented on #12189
@adelekennedy I think $500 is an appropriate starting value for this issue

[2022-10-27 15:21] cead22 commented on #12088
This is right. .data, .eg, .uk, and .me are all valid top level domains, so those are valid URLs even if they lead to nowhere, just like `thereisnowebsiteonthisdomain.com` would

[2022-10-27 15:22] #12088 closed

[2022-10-27 15:33] luacmartins commented on #12183
@marcochavezf I got a solution for this already!

[2022-10-27 15:43] roryabraham commented on #12177
Upgrade helper diff: https://react-native-community.github.io/upgrade-helper/?from=0.70.1&to=0.70.4

[2022-10-27 15:47] muttmuure commented on #11787
Damn this wasn't showing in my K2 - sorry!

Job is posted [here](https://www.upwork.com/jobs/~01b83c7e308b91af23)

[2022-10-27 15:49] Puneet-here commented on #11423
I don't like the idea of choosing a duplicate proposal just because it explained `shouldDelayFocus`.  I didn't explain the use because we are already using it at many pages so I was expecting its use will be known.

[2022-10-27 15:49] Julesssss commented on #12172
Excellent, thank you!

[2022-10-27 15:50] Julesssss commented on #12165
I checked off #12172, as it was also fixed by https://github.com/Expensify/App/pull/12176

[2022-10-27 15:50] parasharrajat commented on #7375
Busy with a very high-priority issue.

[2022-10-27 15:50] 1notchdev commented on #9823
Do you need more proposals for this issue yet?

[2022-10-27 15:51] parasharrajat commented on #9823
Happy to hear if the proposals are different from older ones. For now, working on a high-priority issue.

[2022-10-27 15:53] #12190 closed

[2022-10-27 15:55] #12191 closed

[2022-10-27 16:11] ntdiary commented on #10107
@parasharrajat  Yeah, I strongly agree, the work at hand is the most important, and I think it can have a good start and direction.😄
this is a [demo variant](https://github.com/ntdiary/electron-autofill.git). It's just to demonstrate autofill, so simply store the data in the indexedDB.

This variant is implemented by `js + dom + css`.

Actually, I want to provide several kinds of storage to use, s

[2022-10-27 16:12] kbecciv opened #12194 "Connect bank account -User doesn't land to correct Onfido page after saved the Personal information"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12113

## Action Performed:
1. Log in with a applause.expensifail account (tha

[2022-10-27 16:13] parasharrajat commented on #9408
No proposals.

[2022-10-27 16:15] parasharrajat commented on #10414
@sketchydroide What do you think of https://github.com/Expensify/App/issues/10414#issuecomment-1285514867?

[2022-10-27 16:19] Tushu17 commented on #11432
Reporting compensation is pending here.
cc- @pecanoro @kadiealexander

[2022-10-27 16:20] mallenexpensify commented on #12046
Gonna move on to engineering. We chatted about more [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1666820605807389?thread_ts=1666270549.878679&cid=C01GTK53T8Q)

@alex-mechler mentioned

I def don't think it's ideal to take people out of the platform or tab they're in, if we can avoid it.  Especially since situations like this will continue to happen as we move towards reunification.

[2022-10-27 16:25] mallenexpensify commented on #11953
OK... so the other problem should be being handled in this issue https://github.com/Expensify/App/issues/12046
I'm going to put this issue on hold, pending the above because, when I click "chat with your specialist" I'm being sent to a different platform or tab.  Once we're not doing that we'll check to see if the keyboard shows or not. (I think that makes sense, comment here if not)

[2022-10-27 16:26] mallenexpensify commented on #11852
Price Doubled to $500
https://www.upwork.com/jobs/~01519c155a21384488

[2022-10-27 16:33] mallenexpensify commented on #10731
@Santhosh-Sellavel where are we at with this?  For the 'not reproducible' comment above, that's only for part of the bug/issue/proposal... not the whole issue, right?

[2022-10-27 16:33] kavimuru commented on #11674
@wildan-m Updated the action performed steps.

[2022-10-27 16:44] luacmartins commented on #11126
@adelekennedy thanks for bringing that up. That makes sense to me. I'll mark this as internal as well, since this will touch our API layer.

[2022-10-27 16:48] pecanoro commented on #11432
@kadiealexander Could you create a job in Upwork to pay for reporting the bug?

[2022-10-27 16:52] NikkiWines commented on #11689
Sorry haven't had a chance to look at this issue this week but I'll take a look tomorrow or early next week

[2022-10-27 16:53] kavimuru opened #12198 "[HOLD for payment 2022-12-27] [$1000] Chat - Edited message hides at the bottom after saving it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the test app and login with any account
2. Send any message in a chat that has at least a full page of messages.
3. Edit

[2022-10-27 17:00] kavimuru opened #12199 "Chat - The main compose box is missing when editing a message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Go to any chat > Send a message
3. Edit the message

## Expected Result:
When editing a message, t

[2022-10-27 17:01] parasharrajat commented on #12116
Checking it.

[2022-10-27 17:05] thesahindia commented on #12199
Not a bug. It is intentional.

[2022-10-27 17:09] mallenexpensify commented on #12185
@arielgreen @kadiealexander you both got assigned cuz the `Bug` label just started working for assignment this morn.  Unassigning both cuz it's an image related issue and I've added it to the tracking issue ^ that I'm BZ for

[2022-10-27 17:11] andrewlor commented on #10767
While we're waiting for the regression period before payment, I'd like to request consideration for an increase in compensation. I feel like $1000 would be more appropriate for the work I put in, for a couple of reasons:
- I implemented a high quality and well explained solution. This involved lots of back and forth during the proposal/review stage to arrive at a solution that everyone is happy wi

[2022-10-27 17:14] kbecciv opened #12203 "[HOLD] [$250] mWeb- LHN - Forward arrow doesn't work when pressed again"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1 Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Navigate to any conversation
4. Write something and s

[2022-10-27 17:17] neil-marcellini commented on #10693
Still waiting for proposals.

[2022-10-27 17:18] ntrepanier commented on #11893
waiting for review @mananjadhav. Not overdue.

[2022-10-27 17:19] ntrepanier commented on #11848
Waiting for proposal review @mananjadhav. Not overdue

[2022-10-27 17:25] neil-marcellini commented on #10283
@Santhosh-Sellavel I say we set the `minHeight` and call good for now? It's a quick fix and since this is a low priority bug I think it makes sense. Agree?

As part of #bug-zero I believe we are trying to fix issues as fast as reasonably possible, so that's another reason to go with the quick fix @johncschuster.

[2022-10-27 17:25] luacmartins commented on #11427
I just confirmed that if we have an unvalidated email account, we send the validation message via email. So I think that we should reuse [this copy](https://github.com/Expensify/App/blob/07fc7d7fb6569b8705e50144a1e32fa3a941d1ba/src/languages/en.js#L273), but change the end to `email`, so it reads:
[code]

We also have the case where the account was created with a phone number, and we should reuse

[2022-10-27 17:25] kbecciv opened #12204 "Split Request - User receives a long wait time with no spinner after tapping on "Split Bill""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
. Open the New expensify beta app
2. Sign into a valid user
3. Tap on "+" > Split Bill
4. Proceed with the flow until you reach t

[2022-10-27 17:26] OSBotify commented on #12204
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-27 17:28] kavimuru opened #12205 "Web - New group - Console error when creating new group"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log with any account
3. Click on FAB button/New Group
4. Select multiple users

[2022-10-27 17:28] mananjadhav commented on #9580
@ravindra-encoresky quick bump on this one.

[2022-10-27 17:29] NicMendonca commented on #12143
Upwork job posting: https://www.upwork.com/jobs/~01b2dd1a5f3c9e6d40

[2022-10-27 17:30] mananjadhav commented on #10888
I reviewed the PR, I am in process of testing this.

[2022-10-27 17:38] shmaxey commented on #11427
Yep, agree!

[2022-10-27 17:43] mananjadhav commented on #11385
I am assuming this changed after we added the Image editor/cropper on profile picture upload?

I am in for closing this one out. What do you think @iwiznia ?

[2022-10-27 17:46] mananjadhav commented on #11336
Waiting for an update here @aimane-chnaif

[2022-10-27 17:48] kbecciv opened #12206 "[$250] LHN - Recently deleted workspace causes empty white placeholder in chat list"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/11799

## Action Performed:
1. Launch the app
2. Log in with new applause.expe

[2022-10-27 17:50] luacmartins commented on #12204
CreateIOUSplit is taking ~1.5s to return and the UI sits still while we wait. I couldn't see any recent changes to CreateIOUSplit in App or Web-E. We did make changes to the Auth command that hit prod 7 days ago though, maybe that slowed things down.

This issue should be solved with https://github.com/Expensify/App/pull/11597, since we will start creating the reports and IOU splits optimistically

[2022-10-27 17:50] mananjadhav commented on #11471
Quick bump on this @MonilBhavsar

[2022-10-27 18:02] luacmartins commented on #12204
I took a look at the total time taken to process this command over the past 30 days and it seems like this is consistent with the mean times before those Auth changes went live:

![Screen Shot 2022-10-27 at 12 00 06 PM](https://user-images.githubusercontent.com/22219519/198364649-738021ea-1d9c-499b-861d-47e3f7db1342.png)

[2022-10-27 18:02] mananjadhav commented on #11494
I agree with what @tienfr pointed out that we're using `lastMessageText`, which trims all the HTML.

@marcaaron I think it is intentional. Do we know the expected behavior here?

[2022-10-27 18:03] luacmartins commented on #11427
@rushatgabhane @tienifr please use the copy as described in [this comment ](https://github.com/Expensify/App/issues/11427#issuecomment-1293843676)

[2022-10-27 18:09] mananjadhav commented on #11512
I think @bernhardoj's proposal will work. I am good with it.

@puneetlath All yours.

🎀 👀 🎀 
C+ reviewed

[2022-10-27 18:09] dangrous commented on #12048
also @aimane-chnaif just wanted to share this info below in case you weren't aware how things work re: upwork, etc.!

I know there's a lot of information in our contributing guidelines, so some points to take note of:
1. Once your PR is merged, you can be hired for another issue. Once you've completed a few issues, we may start hiring you for more than one issue at a time.
2. Once your PR is deplo

[2022-10-27 18:15] dangrous commented on #12048
@aimane-chnaif awesome! Sounds great.

[2022-10-27 18:17] NicMendonca commented on #11314
doubled price: https://www.upwork.com/jobs/~01b45170184232ad51

[2022-10-27 18:18] kbecciv opened #12207 "mWeb - Chat - The edited message disappears in chat conversation after tap save"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12087

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2.

[2022-10-27 18:19] mananjadhav commented on #11848
Okay I did post one solution but didn't pursue it. I think @0xmiroslav's proposal is better.

🎀 👀 🎀 
C+ reviewed

@aldo-expensify What do you think?

[2022-10-27 18:19] bondydaa commented on #12173
hmm crap sorry didn't reload this page before trying to un-assign myself

[2022-10-27 18:27] kbecciv opened #12208 "[$250] Chat - Two editing windows open at the same time"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App
2. Log in with any account
3. Open any chat
4. Kill the internet connection
5. Send the message
6. Turn on the In

[2022-10-27 18:27] luacmartins commented on #10232
Both PRs are in prod. Closing this issue, please reopen if needed!

[2022-10-27 18:27] #10232 closed

[2022-10-27 18:28] Uros787 commented on #11314
Hi, there is a pending proposal by me if someone can review.

[2022-10-27 18:44] mallenexpensify commented on #11194
@aneequeahmad The internal report time would be the time the E/App issue is created from QA if they found the issue.
So... for #10753 I see
<img width="224" alt="image" src="https://user-images.githubusercontent.com/22508304/198372575-fb7b8cf9-f752-4c2f-97d6-4e3635ab49f1.png">

And for yours in Slack I see an hour later.
<img width="312" alt="image" src="https://user-images.githubusercontent.com/2

[2022-10-27 18:48] eVoloshchak commented on #11314
It was so high up I completely missed it!

I'm not entirely sure about @Uros787's [proposal](https://github.com/Expensify/App/issues/11314#issuecomment-1273877298), there's pros and cons I'm seeing

cons:

- this is using `setTimeout` under the hood, which is generally avoided

pros:

- this resolves the issue reliably
- this approach is used throughout the app, I see it being added in the past co

[2022-10-27 18:48] Santhosh-Sellavel commented on #10283
Okay, @neil-marcellini, agree, this is not something we often run into. minHeight is more maintainable at least for now!

[2022-10-27 18:49] mananjadhav commented on #11893
I went through @tienifr's proposal and it seems it'll work.

What I don't see is the same copy to clipboard option for `Report a Bug`. I am testing this in `mWeb Safari`.

If we're adding it anyway, the above proposal looks fine.

🎀 👀 🎀 
C+ reviewed

[2022-10-27 18:50] AndrewGable commented on #12177
PR In review

[2022-10-27 18:53] Santhosh-Sellavel commented on #11488
Can you briefly explain why?

[2022-10-27 19:02] kidroca commented on #11724
You don't need to, cache resets when there are changes in `node_modules/` (e.g. packages being updated)

Deleting `node_modules` or just `node_modules/.cache` would work

[2022-10-27 19:13] dangrous commented on #12198
Slight edit to the Actions Performed - I only was able to reproduce this if the chat was longer than a single screen in my app (that is, if it was only a couple messages, it worked fine).

However this definitely is happening. Going to push external, weekly.

[2022-10-27 19:14] syedsaroshfarrukhdot commented on #11488
Yes, this is because we are passing styles.mutedTextLabel and  styles.mr4 to <Text> tag in which <Icon> Is being wrapped as it seems not a good idea to wrap <Icon> with <Text> Tag and passing styles to it.

https://github.com/Expensify/App/blob/159249bb82317fcd6bd06bc8d4f9127c300a9f9c/src/pages/ReimbursementAccount/BankAccountStep.js#L250-L252

So we need to style the `Text` tag below the `Icon` t

[2022-10-27 19:22] jasperhuangg commented on #12122
@Uros787 thanks for the investigation, if this is a regression then I'm confident that you've found the issue to the problem, feel free to start implementing and I'll get @mallenexpensify to create a job on Upwork for ya. Please request me for review on your PR once you've submitted it.

[2022-10-27 19:24] MitchExpensify commented on #11195
Made a note to pay on 2022-11-02

[2022-10-27 19:25] JmillsExpensify commented on #11768
Any luck with next steps on this one?

[2022-10-27 19:29] kbecciv opened #12210 "[$250] mWeb/Chrome - Account Management page - Required section name is not visible"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12147

## Action Performed:
1. Go to https://help.expensify.com/articles/other

[2022-10-27 19:34] MitchExpensify commented on #11733
Looks fair to me @aneequeahmad!

[2022-10-27 19:35] MitchExpensify commented on #11733
I'm going to hold on the Upwork job while the issue is on hold

[2022-10-27 19:39] MitchExpensify commented on #12145
I bet it is only reproducible when you have "a lot" of #admins rooms.

Here's a better video of the issue https://drive.google.com/file/d/1n-0qzCs4muAyWe51NqmewKiboJfz3Azo/view

[2022-10-27 19:40] MitchExpensify commented on #12145
@kavimuru Is that video in the main issue body related to the issue described?

[2022-10-27 19:41] mvtglobally commented on #12165
@Julesssss @chiragsalian
Team is still working on the regression. Few notes

https://github.com/Expensify/App/pull/11868#issuecomment-1292894315
PR https://github.com/Expensify/App/pull/12077 is blocked on IOS and Android due to the VBA issue (see tread https://expensify.slack.com/archives/C01GTK53T8Q/p1666811104732769)
PR https://github.com/Expensify/App/pull/12087 is failing due to https://githu

[2022-10-27 19:54] mvtglobally opened #12212 "[$250] QA - pull/35163 - Ignore"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what act

[2022-10-27 19:56] #12212 closed

[2022-10-27 20:00] #9971 closed

[2022-10-27 20:04] mvtglobally opened #12213 "QA - 35257 - Ignore"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what act

[2022-10-27 20:05] #12213 closed

[2022-10-27 20:06] furkanuzundev commented on #8364
# Proposal

The problem is coming from <FormAlertWithSubmitButton /> component.
Component has a prop named:

[code]
But there is nowhere to use it into  `<Form />`

# Workaround

1. I created a field which named buttonDisabledComparedFields.This fields are includes the same name with component **inputID** and it's working dynamically.

[code]

2. Get this fields from base `<Form />` component.

[c

[2022-10-27 20:13] thesahindia commented on #11341
@Beamanator, @Puneet-here's [proposal](https://github.com/Expensify/App/issues/11341#issuecomment-1293263970) looks good to me.

C+ reviewed 🎀👀🎀

[2022-10-27 20:17] MitchExpensify commented on #12152
How do you pull up the console warning screen? Trying to reproduce

[2022-10-27 20:22] marcaaron commented on #12173
I'm also seeing a crash similar to this on `main` and it's blocking me from testing a PR to update `react-native-onyx` to the latest version.

Should we re-open? Seems not fixed.

[2022-10-27 20:23] marcaaron commented on #12173
@kbecciv those errors look different

[2022-10-27 20:24] marcaaron commented on #12173
Gonna try to clean the build folder actually.. 1 sec.

[2022-10-27 20:30] marcaaron commented on #12173
nvm definitely was running an out of date build :oh-nothing: thanks for tuning in everyone!

[2022-10-27 20:37] marcaaron commented on #12109
Onyx bump PR in review now. Tested and it resolves the issue here related to `mergeCollection()`. Small thing to keep in mind is that older versions of the app will be affected and an update to a newer version will be necessary to fix any weirdness.

[2022-10-27 20:38] JmillsExpensify commented on #11854
Ok, cool. I think this is pretty important, so I'm going to immediately raise the price to $1000.

[2022-10-27 20:41] MitchExpensify commented on #12010
Waiting for proposals

[2022-10-27 20:43] MitchExpensify commented on #4733
Not overdue, waiting on @parasharrajat to conclude this week

[2022-10-27 20:47] parasharrajat commented on #4733
No new proposals. I will look into it asap.

[2022-10-27 21:00] MitchExpensify commented on #11914
not overdue.. waiting for proposals

[2022-10-27 21:10] PauloGasparSv commented on #12123
Still couldn't figure out this problem, will ask team for help tomorrow if I keep stuck!

[2022-10-27 21:16] jliexpensify commented on #12186
I'm not sure this is a bug @kavimuru - by design, focus mode should only have unread messages remain in the LHN.

![image](https://user-images.githubusercontent.com/30815269/198399421-4d50a43e-669f-41f3-ab01-6e2b43d65d37.png)![image](https://user-images.githubusercontent.com/30815269/198399704-3ce2e31e-b1d9-40fc-9cb3-61627e0ee4e9.png)

The person who reported this indicated that they've set their

[2022-10-27 21:19] mvtglobally commented on #12165
@Julesssss @chiragsalian
Regression is completed

2 Blockers
https://github.com/Expensify/App/issues/12183
 https://github.com/Expensify/App/issues/12204

 And last open issues are
 https://github.com/Expensify/App/pull/11868#issuecomment-1292894315
PR https://github.com/Expensify/App/pull/12077 is blocked on IOS and Android due to the VBA issue (see tread https://expensify.slack.com/archives/C01G

[2022-10-27 21:45] Luke9389 commented on #11377
Still need to roll around to this

[2022-10-27 22:33] #12183 closed

[2022-10-27 22:39] chiragsalian commented on #12165
I started discussing about the points in #expensify-open-source ([comment](https://expensify.slack.com/archives/C01GTK53T8Q/p1666909479191839))

We just pushed a CP for https://github.com/Expensify/App/issues/12183, once its on staging we'll ask you guys to re-test the issue.

Still working on the other points.

[2022-10-27 22:40] chiragsalian commented on #12165
Checking off https://github.com/Expensify/App/pull/12077 since there isn't much we can do on it right now. As long as its tested on web, mobile web and desktop we should be good to go.

[2022-10-27 22:41] OSBotify commented on #12165
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12192) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.20-2` :rocket:

[2022-10-27 22:42] chiragsalian commented on #12165
Checking off https://github.com/Expensify/App/pull/11868 as per [comment](https://expensify.slack.com/archives/C01GTK53T8Q/p1666910383105659?thread_ts=1666909525.698789&cid=C01GTK53T8Q).

[2022-10-27 22:43] Santhosh-Sellavel commented on #10729
@mollfpr what about this [focus-and-tab-behavior](https://github.com/Expensify/App/blob/b81ff69197e091727b33f8dd53fbc429fdd616b9/contributingGuides/FORMS.md#focus-and-tab-behavior)

[2022-10-27 22:47] cowboycito commented on #4733
@parasharrajat is this still open for proposals? I got confused by the last comment.

[2022-10-27 23:01] strepanier03 commented on #11973
@rushatgabhane I have hired you for this job. @varshamb - I'll keep an eye out for your application when it comes through.

[2022-10-27 23:02] MitchExpensify commented on #4733
Yes it is @cowboycito

[2022-10-27 23:04] johncschuster commented on #10283
Sounds good @neil-marcellini! 👍

[2022-10-27 23:34] mallenexpensify commented on #12122
Assigned to @Uros787 and created job, please apply.
https://www.upwork.com/jobs/~0169752bebd6f85148

[2022-10-27 23:36] Luke9389 commented on #12194
This is not a Deploy Blocker.

Also @kbecciv can you test this with the recommended credentials (Alberta Bobbeth Charelson) instead of your own?

[2022-10-27 23:44] OSBotify commented on #12165
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.20-2 has been deployed to staging :tada:

[2022-10-27 23:44] mananjadhav commented on #10352
@Gonals @Christinadobrzyn Can you please add a `Design` label to this task? We need inputs/review from @shawnborton and team for the UI behavior.

[2022-10-27 23:44] Luke9389 commented on #12194
I think you need to use the recommended credentials, get all the way to step 3 of 5 and then turn your internet connection off.

[2022-10-27 23:46] #12204 closed

[2022-10-27 23:48] yuwenmemon commented on #12139
I could reproduce it as well, but this looks like it could be an External issue so applying the label

[2022-10-27 23:51] ctkochan22 commented on #11808
https://expensify.slack.com/archives/C03TQ48KC/p1666760050198099

I can ask again. If contributors can log into expensifail QA accounts, then we can make external

[2022-10-27 23:53] shawnborton commented on #10352
@mananjadhav I commented over on the PR! Will add myself here too.

[2022-10-27 23:54] Luke9389 commented on #12165
I ran a passing Web QA for 12113

[2022-10-27 23:57] OSBotify commented on #12165
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12216) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.20-3` :rocket:

[2022-10-28 00:01] #11388 closed

[2022-10-28 00:03] arielgreen commented on #11048
Price increased.

[2022-10-28 00:08] kevinksullivan commented on #9737
@aneequeahmad can you apply for this for reporting?

https://www.upwork.com/jobs/~0182862270dadf28ac

Going to unassign everyone but @roryabraham and make this internal.

[2022-10-28 00:20] wildan-m commented on #11674
Thanks @kavimuru. @sophiepintoraetz does it work?

[2022-10-28 00:20] arielgreen commented on #8311
Waiting

[2022-10-28 00:51] aneequeahmad commented on #9737
@kevinksullivan Applied, thanks

[2022-10-28 00:52] mallenexpensify commented on #12007
@youssef-lr accidentally unassigned you while assigning me.  Also put on hold pending @Beamanator 's work on
- https://github.com/Expensify/App/issues/10894

 If you have a solution in the works, drop in a comment to see if Beaman is 👍 to implement

[2022-10-28 00:56] dangrous commented on #11893
This looks great @tienifr! Easy fix and seems to work well. @mananjadhav Are you saying you weren't seeing the pop up for Report a Bug? That's ideal, so I think we can move forward. If you were saying something else though, let me know.

At least for now we can definitely move forward, I'll assign you @tienifr.

[2022-10-28 01:00] arielgreen commented on #8592
Thanks Monil. Confirmed I can reproduce too.

[2022-10-28 01:00] arielgreen commented on #8592
Reposted here with an increased price: https://www.upwork.com/jobs/~01a221ac893d2d0e6f

[2022-10-28 01:01] srikarparsi commented on #12066
yup checking now, was caught up with some other issues

[2022-10-28 01:01] OSBotify commented on #12165
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.20-3 has been deployed to staging :tada:

[2022-10-28 01:05] arielgreen commented on #12145
https://www.upwork.com/jobs/~01b00fc4b6f17b312d

[2022-10-28 01:14] srikarparsi commented on #12066
hey, I'm also not able to reproduce. This was on staging and nothing of relevance came up in the console either. Anything else I could try to reproduce @kavimuru @adeel0202 ?

https://user-images.githubusercontent.com/48188732/198432539-c14571e7-5c29-4c07-b7af-e1ad7bfde768.mov

[2022-10-28 01:23] mallenexpensify commented on #11132
Any update here @chiragsalian ?  Asking cuz it's hourly and I'm rarely assigned to hourly issues

[2022-10-28 01:38] kadiealexander commented on #11432
https://www.upwork.com/ab/applicants/1585807723520548864/job-details
https://www.upwork.com/jobs/~013c1ccce08cdae51d

@Tushu17 I've sent you an Upwork contract, could you please let me know when it's accepted and I'll issue your reporting bonus? Thanks!

[2022-10-28 01:58] OSBotify commented on #12165
This issue either has unchecked items or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2022-10-28 01:59] sophiepintoraetz commented on #11590
Still on hold.

[2022-10-28 01:59] chiragsalian commented on #12165
oops i misclicked earlier.

Anyway checking off https://github.com/Expensify/App/pull/12192, https://github.com/Expensify/App/pull/12216, https://github.com/Expensify/App/issues/12183 and https://github.com/Expensify/App/issues/12204 as its been tested by QA [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1666922129475429?thread_ts=1666909488.085689&cid=C01GTK53T8Q) and [here](https://exp

[2022-10-28 02:03] gadhiyamanan commented on #11488
please check the screenshots after the fix :

Web chrome :
![Screenshot 2022-10-22 at 10 36 18 AM](https://user-images.githubusercontent.com/54790231/198276597-15e29c1d-7f5c-4019-a4d9-78b4ea5ebda4.png)

Web safari :
![Screenshot 2022-10-22 at 10 37 17 AM](https://user-images.githubusercontent.com/54790231/198276741-961ec00e-957c-4d68-a1fe-c580a3c0fe0e.png)

Desktop:
![Screenshot 2022-10-22 at 10 4

[2022-10-28 02:04] chiragsalian commented on #12165
App timing dashboard has a bit of spike on ios but its hard to say if its something introduced here. I'm checking this.

There are a number of crashes for `SVGLength.java line 111`, but this is only on version 1.2.20-0, and so i believe a fix was CP'd since i don't see it on a newer build. Checking it off.

[2022-10-28 02:04] chiragsalian commented on #12165
:shipit:

[2022-10-28 02:04] #12165 closed

[2022-10-28 02:07] OSBotify opened #12223 "Deploy Checklist: New Expensify 2022-10-28"
**Release Version:** `1.2.21-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [ ] https://github.com/Expensify/App/pull/11653
- [ ] https://github.com/Expensify/App/pull/11784
- [ ] https://github.com/Expensify/App/pull/12030
- [ ] https://github.com/Expensify/App/pull/12080
- [ ] https://gi

[2022-10-28 02:12] sophiepintoraetz commented on #12210
Hmm, I'm not sure if this needs to go to engineering or if we can close as a part of the Deploy list above - but swinging over in case.

[2022-10-28 02:57] aneequeahmad commented on #11319
@chiragsalian I'm able to repro this on latest production [1.2.20-3](https://github.com/Expensify/App/releases/tag/1.2.20-3)

Video:

https://user-images.githubusercontent.com/36359331/198484498-451694f1-7c9f-4aeb-ae9c-9a565685eef6.mov

[2022-10-28 03:00] stephanieelliott commented on #12141
Oh interesting. What do you think @tgolen, if this theory is correct and it is in fact an API issue, can this still be fixed externally? Or do we need to change this to `Internal`?

[2022-10-28 03:05] stephanieelliott commented on #12207
This seems very edge case -- 20000 chars is ~10 pages typed at single space. Will close this for now, I don't think this is a bug that someone will reasonably run into.

[2022-10-28 03:05] #12207 closed

[2022-10-28 03:08] stephanieelliott commented on #12188
Thanks @roryabraham!

Posted the job to Upwork :https://www.upwork.com/jobs/~01a345ace891dbce3d

[2022-10-28 03:31] mollfpr commented on #10729
@Santhosh-Sellavel Do you mean the option to change the order? Do we have an example of how we handle that case?

In this example, I'm modifying `RequestorStep` to work with `Form.js` and also using the proposed `IdentityForm`. In the video, the focus and tab behavior is working correctly in order.

https://user-images.githubusercontent.com/25520267/198495851-f5be4474-525c-4162-9700-5f4ebde3dc8f.m

[2022-10-28 03:38] michaelhaxhiu commented on #9391
@mollfpr Thanks for your patience! I'm not sure why, but I can reproduce this with great ease on iOS mweb -- both on **safari** and **chrome** mobile browser.

Here's a video of **safari** mweb:

https://user-images.githubusercontent.com/13206896/198496836-f7b86740-2af7-4c86-a18a-b2abeb30319e.MP4

[2022-10-28 03:39] michaelhaxhiu commented on #9391
@mananjadhav are you able to review the proposal above from @tsa321 ?

[2022-10-28 03:59] michaelhaxhiu commented on #9823
👋 Appreciate the polite approach of asking @1notchdev - in the future, if you see the `help wanted` label on a GH in this repo, that means it's available for hire and we are accepting proposals.

@parasharrajat mentions a savvy tip about ensuring your proposal is different from others provided (mainly to save you time from creating a potential proposal that's already shared).

[2022-10-28 04:52] Dev-Abdul-Aleem commented on #8592
It seems like this is either related to state management or input field value or css, I just want you guide me about file directory and then I will give you a detailed brief.

[2022-10-28 05:16] ravindra-encoresky commented on #9580
This has already been done a month ago, whats next to pick ?

[2022-10-28 05:24] mananjadhav commented on #9580
@ravindra-encoresky The issue was on hold because AddressForm wasn't working with your PR. PR for the same is merged and now we can continue with your PR by picking the latest `main` changes.

[2022-10-28 05:26] ravindra-encoresky commented on #9580
okay thanks, eagerly waiting for this to finish.

[2022-10-28 05:35] mdneyazahmad commented on #11809
This is just about consistency. Maybe, the design team can confirm?

[2022-10-28 05:38] mananjadhav commented on #9580
Thanks you can get started on this. Appreciate your patience on this one @ravindra-encoresky

[2022-10-28 06:14] MonilBhavsar commented on #11423
👍 After briefly looking, it seems like the input element is not referenced immediately and this hack as a solution was suggested in some SO's. But yes, I feel like there should be some workaround. So we can open an issue and investigate.

[2022-10-28 06:26] adeel0202 commented on #12066
@srikarparsi can you please try with a slower internet connection? I'm not sure but maybe you and @mallenexpensify are not able to reproduce because probably you guys have relatively faster internet connections.

Also, can you guys please try to reproduce [this one](https://expensify.slack.com/archives/C01GTK53T8Q/p1666372709197109) as well?

[2022-10-28 06:38] #12109 closed

[2022-10-28 07:08] techievivek commented on #11949
Can't seem to reproduce this, @Justicea83 can you give it one more try?

[2022-10-28 07:24] tienifr commented on #11810
# Proposal
## Problem
In https://github.com/Expensify/App/blob/d6baba0be2da93beee72d8f21a6ee83e297fdd1a/src/components/HTMLEngineProvider/HTMLRenderers/AnchorRenderer.js#L28-L48
we check `attrHref.startsWith(CONFIG.EXPENSIFY.EXPENSIFY_URL)` to detect it's expensify url or not, but `EXPENSIFY_URL` = `https://www.expensify.com/`

## Solution
In https://github.com/Expensify/App/blob/d6baba0be2da93bee

[2022-10-28 07:32] techievivek commented on #11321
Note: Something similar happened [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1666892266003079)(but the chat count is extremely high 51k so I suppose this is expected) but it will be good to counter all the platforms and not just Android.

[2022-10-28 07:34] syedsaroshfarrukhdot commented on #10283
@neil-marcellini @Santhosh-Sellavel  As my [Proposal](https://github.com/Expensify/App/issues/10283#issuecomment-1213281631) to increase minHeight is being decided to be implemented should I apply on Upwork and create a PR?

[2022-10-28 07:37] dylanexpensify commented on #10148
Personally, I'd be ok with closing. If it does pop up in the instance you're thinking @mallenexpensify then we can open a new issue. Thoughts? cc @pecanoro

[2022-10-28 07:44] conorpendergrast commented on #12120
@sobitneupane [has "sporadic" availability](https://expensify.slack.com/archives/C02NK2DQWUX/p1666597285560119), so will get back to this next week!

[2022-10-28 08:26] Christinadobrzyn commented on #10767
I'm going to be ooo on 10/31 so assigning to another teammate.

Here's the Upwork job for the next person-
https://www.upwork.com/ab/applicants/1567904682697019392/job-details

[2022-10-28 08:28] Christinadobrzyn commented on #10767
@NikkiWines please ignore ^ I was unassigning myself only

[2022-10-28 08:35] Tushu17 commented on #11432
@kadiealexander Offer accepted, Thanks!

[2022-10-28 08:37] Santhosh-Sellavel commented on #10729
But there isn't any implementation done for this, like described in the doc.

Will wait for @luacmartins to confirm.

[2022-10-28 08:38] gadhiyamanan commented on #11488
[Proposal](https://github.com/Expensify/App/issues/11488#issuecomment-1272218423) works for me

[2022-10-28 08:48] techievivek commented on #12036
Categorized the issue based on the type/origin and added progress info to each of the issues. Feel free to start a discussion around any of the above issues.

[2022-10-28 08:49] mollfpr commented on #9391
@michaelhaxhiu Is your account on `#focus` mode when testing on the above video? I'm able to reproduce the issue on `#focus` mode and without refreshing the page.

### Proposal

**RCA**
I'm able to reproduce the issue with priority mode on the `#focus` / `GSD` mode.

In the @michaelhaxhiu video, after we create the group chat and go back to LHN, the chat appears on the LHN. It's because the `repor

[2022-10-28 08:51] getusha commented on #12188
Should the emoji popup appear after we typed **:emojicode:** or while we typing e.g **:emo...** and suggestions will start to appear
What do you think?

[2022-10-28 09:07] wildan-m commented on #11964
### Proposal (Updated)

@thesahindia, you are right, I can also reproduce it in Safari.

I still believe that it's caused by the different triple-click behavior of browsers
At this time, behavior of default action of triple-click isn't specified the W3C spec
Other repos also experience similar issues:
https://github.com/facebook/lexical/issues/2660
https://github.com/ckeditor/ckeditor4/issues/484

[2022-10-28 09:14] Julesssss commented on #12204
Nice fix @luacmartins. I agree this won't be a problem for much longer 🤞

[2022-10-28 09:55] dylanexpensify commented on #12203
Upwork: https://www.upwork.com/jobs/~01eccc69c60770d578

[2022-10-28 09:56] Julesssss opened #12233 "[$250] Update react-native-svg library once released"
Currently we point the react-native-svg library to a specific commit. Once [this upstream PR](https://github.com/software-mansion/react-native-svg/pull/1903) is merged and released, we need to bump our version to match it.

[2022-10-28 09:56] OSBotify commented on #12223
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.21-4 :rocket:

[2022-10-28 10:04] mountiny commented on #9905
Since the PR we hodl this on was closed as low priority, do you think we should still do this? I think it is nice to have but also it is easy for QA to just check it off the first time they see the check list.

I will close this for now and if we will come back to polishing the deploy checklist experience and refactor, we should look into this. @roryabraham reopen if you disagree.

[2022-10-28 10:04] #9905 closed

[2022-10-28 10:23] Julesssss commented on #11632
Does Melvin think this was a regression? It wasn't

[2022-10-28 10:35] roryabraham opened #12234 "[HOLD for payment 2022-11-24] [$500] Implement a SplashScreen on web"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open a new incognito window
1. Open the developer console, network tab
1. Throttle your network connection to Slow 3G
1. Go to

[2022-10-28 10:40] roryabraham opened #12235 "[HOLD for payment 2022-12-20] Investigate simple code splitting in webpack bundle"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open a new incognito window
1. Open the developer console, network tab
1. Throttle your network connection to Slow 3G
1. Go to

[2022-10-28 10:41] roryabraham commented on #12235
Created this issue specifically for @kidroca to investigate implementing the simple "no downside" improvements described in the slack thread. Not as interested in investing in more lazy loading than that right now. Let's see how much we can improve this without having to influence the main code development.

[2022-10-28 10:45] Julesssss opened #12236 "Improve Android FlatList performance with FlashList"
### Problem

React Native performance on Android lists is abysmal compared to native apps. This needs to be improved for a better user experience.

### Solution

Investigate the implementation of Shopify's [FlashList](https://shopify.github.io/flash-list/docs/) -- a FlatList replacement that [vastly improves performance](https://shopify.engineering/instant-performance-upgrade-flatlist-flashlist),

[2022-10-28 10:50] roryabraham commented on #11724
This was mislabeled. It was never a bug, just an awesome QOL improvement. Thanks so much for working on this @kidroca!

[2022-10-28 10:50] #11724 closed

[2022-10-28 11:09] isabelastisser commented on #11713
hEY @puneetlath , checking if you were to review this. Thanks!

[2022-10-28 11:16] roryabraham commented on #8503
We should investigate if react-native-pdf needs to be upgraded too

[2022-10-28 11:38] iwiznia commented on #11385
I am honestly not sure. If the image we save is large and we have it, then I agree we can show the large image. On the other hand if we only save the small image, then we should close.

[2022-10-28 11:48] kidroca commented on #12235
Sure thing
Configuring vendor chunks would also aid webpack development speed as caching would be more effective

[2022-10-28 11:55] kidroca commented on #12235
Just to be clear:

The improvements with vendor chunks, would probably not help much for new users (incognito mode) loading the web app
It's intended to help existing users refreshing/reopening after an update has been deployed

The improvement in load time we might see for this (vendor chunks) change is - fresh loading time might improve a bit from fetching smaller chunks in parallel

[2022-10-28 11:55] Justicea83 commented on #11949
I can no longer reproduce this on my version of main, I vote we close this and see if it's reported again.

[2022-10-28 12:04] sketchydroide commented on #10414
They do feel like all being the same issue @parasharrajat I think we can merge them

[2022-10-28 12:15] Justicea83 commented on #12236
I've used the Recylcerview for my native applicaitons, so I think the react native version will also be great:https://github.com/Flipkart/recyclerlistview

[2022-10-28 12:16] zanyrenney commented on #12199
Closing! intentional design.

[2022-10-28 12:16] #12199 closed

[2022-10-28 12:31] Julesssss commented on #12236
Yeah, RecyclerView is the absolute standard for native Android apps. It's annoying that FlatList doesn't implement the native RecyclerView as it clearly is inferior as an alternative.

[2022-10-28 12:35] parasharrajat commented on #10414
Who can help with that? I don't have access to do that.

[2022-10-28 12:41] sketchydroide commented on #10414
I think I can do it
It's just closing the other and mantainng one, also probably updating the description, let me see if I can do that myself.

[2022-10-28 12:48] NicMendonca commented on #11095
@parasharrajat just waiting on you to accept the offer so I can issue payment 😊

[2022-10-28 13:04] Beamanator commented on #10960
2 PRs to go!

[2022-10-28 13:13] parasharrajat commented on #11095
@NicMendonca Please put this on weekly or monthly, there will be some time before I can accept the offer, it is probably the second week of Nov.

[2022-10-28 13:15] Puneet-here commented on #11787
Hi @muttmuure, I have applied to the job. You can assign me now. I will raise the PR by tomorrow

[2022-10-28 13:19] mountiny commented on #12223
Checking https://github.com/Expensify/App/pull/12193 off since it is also noQA

[2022-10-28 13:20] bfitzexpensify commented on #11949
Cool, agreed, closing.

[2022-10-28 13:20] #11949 closed

[2022-10-28 13:23] zanyrenney commented on #12058
Thanks. Asking in slack if we should be testing and fixing these super edge cases: https://expensify.slack.com/archives/C01SKUP7QR0/p1666963361304399

[2022-10-28 13:27] Beamanator commented on #11341
Looks good to me too!

[2022-10-28 13:32] kbecciv commented on #11153
Issue is reproduced in build 1.2.21.4

https://user-images.githubusercontent.com/93399543/198613096-ca6963dc-126e-4d34-8ff1-f3366ad6658a.mp4

[2022-10-28 13:36] roryabraham commented on #12118
PR was merged but not yet released

[2022-10-28 13:46] tgolen commented on #12143
@neil-marcellini Does this ring a bell at all?

[2022-10-28 13:51] mountiny commented on #12203
Putting this on HOLD, i think this should be part of https://github.com/Expensify/App/issues/11768

[2022-10-28 13:54] mountiny commented on #12203
Alright, looking into this I am not that sure this is a real issue though. I dont think we would expect you to press the forward multiple times and it does not break the app so I think this is do-nothing. What do you think @JmillsExpensify?

[2022-10-28 13:59] Beamanator commented on #11393
Still on hold, will get to this soon hopefully

[2022-10-28 13:59] hannojg commented on #12119
PR is ready for review

[2022-10-28 14:00] Beamanator commented on #11321
Assigning @hannojg so your comments also clear the `Overdue` status :D

[2022-10-28 14:01] Beamanator commented on #10507
I wonder if this can be taken off hold or reassigned?

[2022-10-28 14:04] tgolen commented on #12141
Yeah, It looks like it is probably the backend not doing a very thorough job of detecting attachment links. The code is here: https://github.com/Expensify/Web-Expensify/blob/1fbdfc6b3fa70e59e502f24edb1e3af21cdfe4e9/lib/ReportUtils.php#L1716 (private repo), but it looks like this:

[code]

Looks like this should be an internal issue.

[2022-10-28 14:14] Julesssss commented on #12082
@mallenexpensify & @kavimuru can you try reproducing this again please? I looked into the code today and this does appear to be implemented correctly. When testing on dev, I could open the chat received while offline 😕

The screenshots are from iOS, but the same thing happened on web.

![image0](https://user-images.githubusercontent.com/10736861/198637184-1f559932-cb26-4aec-8063-bd5677776b09.png)

[2022-10-28 14:23] joekaufmanexpensify commented on #11916
Same.

[2022-10-28 14:26] marcaaron commented on #12043
Can someone put a 2 sentence summary of the root cause and exactly what will be done to solve it? I am reading through these paragraphs of solutions and it all seems fairly complex for the feature want to support.

[2022-10-28 14:34] joekaufmanexpensify commented on #11850
Posted discussion [here](https://expensify.slack.com/archives/C03TQ48KC/p1666967613458099).

[2022-10-28 14:35] marcaaron commented on #12043
The whole `EmojiPickerMenu` event handling looks like a mess to me and is a bit hard to understand.

Why does this code not run when we press `Enter` ? 😕

https://github.com/Expensify/App/blob/e263ffa9f69e696790547bca4bf93d3864da90c4/src/components/EmojiPicker/EmojiPickerMenu/index.js#L160-L165

[2022-10-28 14:38] stephanieelliott commented on #12141
Cool, thanks Tim! Switched up the labels here.

[2022-10-28 14:39] parasharrajat commented on #10107
Thanks for the updates. I will check them shortly.

[2022-10-28 14:41] parasharrajat commented on #12058
No proposals yet.

[2022-10-28 14:41] pecanoro commented on #10148
@dylanexpensify I suggest bringing it up in Slack to see if we should keep it, close it or move it to a new issue.

[2022-10-28 14:41] mallenexpensify commented on #12082
I'm able to reproduce the _bug_ on Desktop v1.2.21-4
@kavimuru , wanna test web?

[2022-10-28 14:42] parasharrajat commented on #12116
Didn't get the time yesterday for it. It looks like a regression to me. Let me check that before checking the proposal.

[2022-10-28 14:43] marcaaron commented on #11494
I'm not following. Can you please clarify what you think is intentional or the expected behavior and ask this question another way?

I don't see how this is a problem with the back end. If we are sending a block quote _without a space_ to the API then it seems like an issue with the parameter passed to `AddComment`. @tienifr's screenshot clearly shows we are sending `<blockquote>quoted text</block

[2022-10-28 14:44] Uros787 commented on #12122
@jasperhuangg Thanks, ill get on it. Hopefully ill get it out today
@mallenexpensify thanks, applied

[2022-10-28 14:47] luacmartins commented on #10729
@rushatgabhane I think what @mollfpr showed in their video is correct. From the docs `In most cases this can be achieved by composition, i.e. rendering the components in the correct order`, so no specific implementation is needed if the sequence is correct.

[2022-10-28 14:48] dylanexpensify commented on #10148
brought up [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1666968468402259)!