[2021-07-14 22:03] Jag96 opened #4052 "[HOLD for payment July 22] Update line break regex for HTML->Markdown to support break tags with styles"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

More context in https://github.com/Expensify/Expensify.cash/pull/4009#issuecomment-879577943, this is part of https://github.com/Expensify/Expensify.cash/issues/3047, @p

[2021-07-14 22:11] parasharrajat commented on #4052
1. It is straightforward like we did for Italic.
`<br(?:"[^"]*"|'[^']*'|[^'">])*>(?![^<]*(<\/pre>|<\/code>))\n?`

We need to exclude pre and code tags and Allow any attribute between start tags, with one exception there is no end tag here.

[2021-07-14 22:25] sophiepintoraetz commented on #4026
Hmm - @marcaaron I see the reproduction label but a) what are the reproduction steps and b) I don't think this is something I can reproduce?

[2021-07-14 22:26] mallenexpensify commented on #3858
Desktop just updated to Version 1.0.77-5 (1.0.77-5) and it's working there for now, so closing again.  Thanks @parasharrajat

[2021-07-14 22:26] #3858 closed

[2021-07-14 22:29] Jag96 commented on #4030
Good finds! @pranshuchittora it looks like this is a regression from your PR [here](https://github.com/Expensify/Expensify.cash/pull/3561/files#diff-8ab8ba45ab927f1430b8d1209d187e003a9cdfe476f809e4483ef64cdba253ebR996). Can you please create a PR to fix it?

[2021-07-14 22:29] mvtglobally commented on #4046
Starting QA

[2021-07-14 22:52] kidroca commented on #2667
I've listed what have been done here: https://github.com/Expensify/Expensify.cash/issues/2667#issuecomment-875936482

And now we're at

I've started working on that task, but discovered that though batching improves timings they are still far from 9-16ms for reads. Since then I've studied Onyx more and found some other places where it can improve and opened this PR #88

Before continuing with furt

[2021-07-14 22:57] marcaaron commented on #4027
Some conversation [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1626297574277600) on [RAM bundles](https://reactnative.dev/docs/ram-bundles-inline-requires) as it was suggested by @jsamr that we can use [Repack](https://github.com/callstack/repack) for cross platform lazy loading of modules. This could in theory reduce the app start time. I like this idea, but needs some more investigat

[2021-07-14 23:20] mallenexpensify commented on #3381
@thienlnam can you comment on @garudamon 's proposal above?

[2021-07-14 23:23] Luke9389 commented on #4022
Ok, I see no reason not to make this external. Let's see what proposals our contributors come up with.

[2021-07-14 23:40] marcaaron commented on #4022
@lschurr auto assign to eng is perfect thanks!

[2021-07-15 00:13] arielgreen commented on #2667
@kidroca All set; approved and paid the original milestone and added an additional milestone. Please proceed.

[2021-07-15 00:26] rdjuric opened #4056 "[Hold for payment 2020-08-09] Pressing an arrow key while searching with no results will whitescreen the app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Search (CMD + K on mac OS)
2. Enter random characters in a way that you get no results
3. Press the down arrow, the up arrow or enter
4. Whi

[2021-07-15 00:34] rdjuric commented on #4056
I think we can solve this by adding an early return here in case there're are no options to select/choose.
https://github.com/Expensify/Expensify.cash/blob/5a8eff84733e89edf0533554a550cf899e6cfa59/src/components/OptionsSelector.js#L116-L126
[code]

[2021-07-15 00:47] jliexpensify commented on #4029
Thanks for the investigation @parasharrajat - I'll go ahead and hire you for this job.

[2021-07-15 00:51] jliexpensify commented on #4021
@NikkiWines - should we pop this on hold, as per @rdjuric's comment?

[2021-07-15 00:54] rushatgabhane commented on #3819
`It's 09:50 AM for Tom` shows even if my time zone is same as Tom's.

Timezone should only be shown if it's different.

[2021-07-15 01:04] Jag96 opened #4057 "Focus mode showing all chats"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Coming from this slack thread: https://expensify.slack.com/archives/C01GTK53T8Q/p1626304710291700

## Action Performed:
1. Log in and set your preferences to #focus mode

[2021-07-15 01:07] marcaaron commented on #4021
Right, I agree we should solve that issue first.

If we remove the loading spinner now then we're likely to experience this other issue. So, once report action items are loading efficiently then we can consider removing the loading spinner or only showing it when there is no chat content. Gonna put a hold on it.

[2021-07-15 01:07] NikkiWines commented on #4021
Hmm, I do agree this isn't ideal and should be fixed... though I also feel like the spinner really isn't all that obtrusive when you're clicking between chats that have already been fetched (see video below).

Even if we fix the speed at which the chat content renders, I'd think the underlying issue of the old chat being displayed would still exist

https://user-images.githubusercontent.com/167478

[2021-07-15 01:07] NikkiWines commented on #4021
Oh nice, @marcaaron got to it riiiiight before me 😅

[2021-07-15 01:15] marcaaron commented on #4026
We can't reproduce it. Not much else we can do for now.

[2021-07-15 01:15] kavimuru opened #4058 "Sign in - infinite spinner for some users with incorrect NVP structure"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Login

## Expected Result:
User should be able to login
## Actual Result:
User is unable to login. Infinite spinner
Issue repro after

[2021-07-15 01:29] kavimuru opened #4060 "Workspace - Fields appear twice in invite people page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Click on Green FAB
4. Select New Workplace
5. Choose the name and click Get Started
6. Click

[2021-07-15 01:30] OSBotify commented on #4060
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-15 02:36] #4057 closed

[2021-07-15 03:01] marcaaron commented on #3972
Sounds like this is worthwhile to do so I think we should move forward here. I don't expect this to solve any major issues, but does sound like a good direction to move in and ultimately iOS and Android should be using the same features. To clarify, will some change be required to `react-navigation` drawer as well?

[2021-07-15 03:04] marcaaron commented on #3972
[Conversation in Slack ongoing](https://expensify.slack.com/archives/C01GTK53T8Q/p1626297548276300), but excited to see this change.

[2021-07-15 03:25] marcaaron commented on #3892
So I left my chat open for a bit to see if this was happening and it did, but not with the same frequency and not in an infinite loop or anything.

Looked at the network request logs and noticed a few weird things...

1. There are some calls to `Get&returnValueList=reportStuff` with an `undefined` value for `reportIDList` (doesn't seem like there is any reason to call this)
2. We are logging to th

[2021-07-15 03:26] kavimuru opened #4066 "[Hold for Payment 10 August] Web - Chat - When Pasting the copied text in compose field there are 2 line breaks before and after the text"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel! https://www.upwork.com/jobs/~0112eb53bb4c90676c
___

## Action Performed:
1. Open e.cash in Web
2. Navigate to a conversation that has some messages
3. In a message that only

[2021-07-15 03:26] JmillsExpensify commented on #3861
Not seeing any reports of regressions and the related PR was deployed 6 days ago, so I'm closing this one out here in GH and Upwork.

[2021-07-15 03:27] #3861 closed

[2021-07-15 03:27] OSBotify commented on #4066
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-15 03:31] JmillsExpensify commented on #3921
@rdjuric Would you mind retracting and re-submitting your proposal in Upwork. We've been having issues where the proposal isn't available for hire, and the re-submission fixes the issue. Thanks!

[2021-07-15 03:34] JmillsExpensify commented on #4027
@marcaaron Catching up here. I'm with you. I think we should be aiming for comparison with best-in-class. Slack and WhatsApp are the favorites, but I'm sure there are others we could include if needed.

Then separately, posting on Upwork now.

[2021-07-15 03:37] JmillsExpensify commented on #4027
Hi contributors! If you are coming from our [Upwork posting](https://www.upwork.com/jobs/~014ac35b9284bd4eef), welcome! Make sure to post your proposal in this issue and then someone from our team will approve so we can hire you. Thanks!

[2021-07-15 03:44] rdjuric commented on #3921
@JmillsExpensify I'm receiving a **"This job is private. Only freelancers invited by client can view this job."** message when trying to open the job link you posted [here](https://github.com/Expensify/Expensify.cash/issues/3921#issuecomment-876118162). So I haven't sent a proposal/was invited yet.

[2021-07-15 04:25] parasharrajat commented on #3972
None.

[2021-07-15 04:36] parasharrajat commented on #4066
@kavimuru Not able to reproduce, Could you please try pasting the same copied content here http://madebyevan.com/clipboard-test/

And share the output with us. It will help us debug.

[2021-07-15 04:44] shubhamgrover93 commented on #3041
:focus-visible {
    outline: none !important;
}

The element when focused (when click action is performed) is showcasing a outline and with the above CSS property it'll fix it & remove the black outline.

[2021-07-15 05:00] LariceG commented on #3041
This attribute data-focusvisible-polyfill should be set to 'false' in order to remove the black border.

data-focusvisible-polyfill="false"

[2021-07-15 05:04] gurwindersm commented on #3041
Element Class:focus{
outline:none !important;
border:0;
}

Please refer above. You may need to assign element class before pseudo class ':focus'

[2021-07-15 07:30] SofiedeVreese commented on #4022
Removing @marcaaron 's assignment.

Posted to Upwork: https://www.upwork.com/jobs/~011974a9e078cd37d9

Adding `Exported` label now.

[2021-07-15 08:10] Beamanator commented on #3819
Hmm can you try hard-refreshing both chats? I am not experiencing this in staging

[2021-07-15 08:17] rushatgabhane commented on #3819
Hard-refresh fixed it, my bad 😅

[2021-07-15 09:22] aliabbasmalik8 commented on #4022
**PROPOSAL**

We can add `initialNumToRender` props in `FlatList` at this position

tested with `initialNumToRender={30}` and it's look good

https://github.com/Expensify/Expensify.cash/blob/1a1d66a322c733bbc79f8a5f05f1527240c769d7/src/components/InvertedFlatList/BaseInvertedFlatList.js#L142-L158

Thanks

[2021-07-15 09:50] rdjuric commented on #3819
@parasharrajat I saw that https://github.com/Expensify/Expensify.cash/pull/3942 was merged, but the text still isn't wrapping/shrinking properly when the name is bigger than the container. The date is also wrapping when it shouldn't now.

<img width="406" alt="Screen Shot 2021-07-14 at 9 28 33 PM" src="https://user-images.githubusercontent.com/53711423/125767848-fa3c1848-c207-4de6-ab8c-c249c2c527c

[2021-07-15 10:05] Julesssss commented on #4066
Hi @kavimuru, I'm also not able to reproduce on Chrome, E.cash version `v1.0.78-1`. I tried a couple of different languages.

For now I'm removing the labels.

[2021-07-15 10:06] Julesssss commented on #4046
#4066 is unreproducible, so I've checked it off the list

[2021-07-15 10:36] parasharrajat commented on #3819
Oh thanks for bringing this to attention. Its is a regression after we made name and time to bold. No worries I will pick this up with ongoing change requests.

[2021-07-15 10:50] iwiznia commented on #4012
Nice, that sounds good @parasharrajat. @laurenreidexpensify can you hire him?

[2021-07-15 11:05] parasharrajat commented on #3859
Requesting to reopen this. Due to the reason PR was reverted after an accidental merge, we still have this issue.

I am holding this as it depends on another Issue

[2021-07-15 11:46] kavimuru commented on #4066
Hi @parasharrajat , I'm still able to reproduce with version v1.0.78-1. Attaching video  which included reproducible steps and output from http://madebyevan.com/clipboard-test/

https://user-images.githubusercontent.com/43996225/125782809-45a83e8a-a33f-4b86-8b3b-4fe341ada409.mp4

![Screenshot (370)](https://user-images.githubusercontent.com/43996225/125782865-d65ddfaa-2862-4374-b673-b90c588471f3.p

[2021-07-15 11:59] Julesssss commented on #4066
@kavimuru here's what I'm seeing with the same message:

![Screenshot 2021-07-15 at 12 57 59](https://user-images.githubusercontent.com/10736861/125784357-6712a6cc-2db0-4fe9-9541-a836cc4c86ec.png)

Clearly this is still occurring for you so lets keep the issue open, but there's no need to block release for this.

[2021-07-15 12:54] iwiznia commented on #3889
Without reading any of this (sorry) I think I fixed the graphs. What I did:
- Added aliases to all graphs to make the labels make sense
- Hid any metric with no data
- Changed the summarize aggregation method from sum to avg, you were adding all the times from all the 24hs you were summarizing

For some reason, there are some weird metrics in the homepage reports loaded, not sure where they are co

[2021-07-15 13:22] #3960 closed

[2021-07-15 13:38] roryabraham commented on #4046
@isagoico @mvtglobally I went through and checked a bunch of items that should not be only this checklist. I checked them off instead of deleting them so I don't have to do it again if the issue is updated and they're added back again. Sorry about the 🐛 – it disappeared on its own for a while, then came back on it's own 😠

[2021-07-15 13:44] OSBotify commented on #4058
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-15 13:44] Beamanator commented on #3876
Randomly stumbled upon this - shouldn't it be closed? :D

[2021-07-15 13:49] kavimuru opened #4071 "Android - Chat - Message sent in offline is not bold after regaining WiFi connection"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log in with any account (Account A)
3. Disable your internet connection in device A
4. Log in with another account from another

[2021-07-15 13:50] OSBotify commented on #4071
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-15 13:54] michaelhaxhiu commented on #3819
I don't see a GH for yet -- did we make one yet?

[2021-07-15 13:57] parasharrajat commented on #3819
So this is a regression from Rory's changes where he added boldness to Name and time. But I will tackle it as I have another change regarding the same.

@michaelhaxhiu May be use can adjust this https://github.com/Expensify/Expensify.cash/issues/3987 to reflect both changes.

[2021-07-15 14:03] kavimuru opened #4072 "Android - IOU - Request money from a new user from chat conversation asks to select a user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. from the search bar - select/put a new user
4. After from the chat click on Plus button and Request

[2021-07-15 14:04] OSBotify commented on #4072
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-15 14:09] kavimuru opened #4073 "Android - Chat - "Comment deleted" displayed when IOU request sent for a user with no conversation before"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log in with any account
3. On FAB menu click Request Money
4. Put amount and click next
5. Enter user you haven't chat before an

[2021-07-15 14:10] deetergp commented on #2734
Thanks for the update @anthony-hull.

[2021-07-15 14:10] OSBotify commented on #4073
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-15 14:13] Julesssss commented on #3889
That's looking better 👍

While you're assigned, do you know if it's possible to remove these junk platforms from the 'Homepage Reports Loaded' table?

![Screenshot 2021-07-15 at 14 27 40](https://user-images.githubusercontent.com/10736861/125802779-b1f9cd16-edff-443a-9ca7-99f9bebc813f.png)

[2021-07-15 14:15] iwiznia commented on #3889
I can remove them manually, I am a bit more interested to know why they are there.

[2021-07-15 14:17] iwiznia commented on #3889
Seems all the crap data happened only once at 2021-07-12 00:00:00 so maybe it was someone doing something weird in dev, I bet it won't happen again so the labels will be gone on their own.

[2021-07-15 14:18] roryabraham commented on #3600
Hmmm I'm having a bit of difficulty understanding this proposal as well. Don't we also have to escape double-quotes? We can continue discussion in the PR.

[2021-07-15 14:21] kavimuru opened #4074 "Android - LHN - Period is displayed in between the user names of group chat in unread messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log in with any account
## Expected Result:
Comma is displayed in between the user names for both read and unread groups
## Actu

[2021-07-15 14:22] OSBotify commented on #4074
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-15 14:25] iwiznia commented on #3889
[This](https://github.com/Expensify/Expensify.cash/blob/47175711968b9715e287f4028b633856babfbb2b/src/pages/home/report/ReportActionsView.js#L97) adding 1500ms extra to the timing of the action... right? I think that if we want the debounce we need to subtract the debounce time from the measured time.
But I am not really sure I get why we need the debounce?

[2021-07-15 14:28] kidroca commented on #2667
@arielgreen Thanks

I'm continuing with opening the first PR of the series
I'll also open issues that are not yet on E.cash board

[2021-07-15 14:30] kavimuru opened #4075 "Desktop - Chat - User name is not displayed when initiating chat for the first time"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Click the green fab button select New Chat
3. Search for a user who has expensify account but haven't chatted before.

[2021-07-15 14:31] OSBotify commented on #4075
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-15 14:32] isagoico commented on #4072
Mmm I think this is happening because there's a delay on creating the conversation. Notice that the conversation doesn't have a header when requesting money

[2021-07-15 14:38] kavimuru opened #4076 "Desktop - Chat - Copy to clipboard icon is hidden for longer emails in details page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Click on any user who has longer email address from LHN
3. Click on the user to open the details page

## Expected Re

[2021-07-15 14:40] iwiznia commented on #3889
Oh, it already is subtracting it 😄
I wonder why the graphs show such a high time.

[2021-07-15 14:41] SofiedeVreese commented on #4022
As I'm out of office tomorrow, I'm going to unassign myself and re-add the `External` label.

[2021-07-15 14:43] SofiedeVreese commented on #4022
Hey @kevinksullivan I'm OOO tomorrow hence applying the External label again.

The job is posted on Upwork!

[2021-07-15 14:44] iwiznia commented on #3889
O, I think I know why, we are subtracting the debounce time, but if the event fires many times, the debounce time gets reset, so we are not subtracting the correct amount of time.
Now before coming up with a fix, I'd like to understand why we use the debounce at all.

[2021-07-15 14:50] mountiny commented on #4072
@isagoico  Yes! I think it is related to this: https://github.com/Expensify/Expensify.cash/issues/4075. The information about the user is not loaded correctly, hence the attempt to make the request does not have information about the participants of the report and asks for it again.

Is it ok to close this in favour of that other issue if we are sure they are related?

[2021-07-15 14:52] isagoico commented on #4072
Yep! I agree with you let's favour this one https://github.com/Expensify/Expensify.cash/issues/4075 Thanks @mountiny 🙇

[2021-07-15 14:52] #4072 closed

[2021-07-15 14:53] iwiznia opened #4077 "Sending a comment triggers 4 calls to Report_UpdateLastRead"
And of course, one should be enough 😂

[2021-07-15 15:05] parasharrajat commented on #4074
@roryabraham I think this is a side-effect of replacing the Text with ExpensiText. I found that we have `height:18` set on these styles and if we remove it will be fixed. Also if you look closely, you will found that in focused mode the Chat title is not centered with respect to Avatar.

[2021-07-15 15:20] thienlnam commented on #3381
It's not a PR that would patch the RN fork so not what we're looking for right now

[2021-07-15 16:14] michaelhaxhiu commented on #3819
@roryabraham what do you think? Make a new issue to fix the bold or add it to https://github.com/Expensify/Expensify.cash/issues/3987

[2021-07-15 16:15] Julesssss commented on #4008
Hey @roryabraham, happy to pick this one up. Do you think it depends on your current `E.cash` PR being merged?

[2021-07-15 16:21] isagoico opened #4080 "Log in - Validation messages are hidden behind keyboard"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. In the log in screen enter an account that has 2FA enabled
2. Enter the correct password in the password field
3. Enter a incorrect 2FA code in t

[2021-07-15 16:27] marklouisdeshaun commented on #3900
Paid and closed in Upwork. Thanks @rdjuric!

[2021-07-15 16:27] #3900 closed

[2021-07-15 16:36] tgolen commented on #3875
I'd be curious to know what that is holding over between users though... Is
that a setting stored in Onyx that isn't getting cleared properly on sign
out? Is the view not bound to Onyx properly?

On Wed, Jul 14, 2021 at 1:31 PM Marc Glasser ***@***.***>
wrote:

[2021-07-15 16:40] johnmlee101 commented on #4058
@kavimuru  Can you re-test this? It seems like we had an issue with our backend which may have caused this

[2021-07-15 16:40] #4077 closed

[2021-07-15 16:43] parasharrajat commented on #3875
@tgolen Not sure But @Jag96 just fixed it.

[2021-07-15 16:45] marcaaron commented on #3875
To follow up here, this was a careless mistake of mine that @Jag96 caught and fixed while on staging.

https://github.com/Expensify/Expensify.cash/pull/4059

[2021-07-15 16:58] Julesssss commented on #3419
I'm afraid I can't pick this issue up at the moment. To help move this forward, this is what I think the next steps should be:
- Create an investigation issue to look into selective Onyx storage eviction (this requires a lot of further discussion as it makes big changes to the app, and might not end up being a desired solution)
- Create an issue for creating a new API which returns all IOUReports

[2021-07-15 16:58] tgolen commented on #4060
Hm, that's pretty weird, but I verified it happens! Must be rendered twice or something. Gonna try to look into this

[2021-07-15 17:16] tgolen commented on #4060
OK, I'm trying to debug this locally, but I am not able to create a workspace for some reason. I keep getting the error `Your session has expired. Please sign in again.` from the API and having trouble getting this working.

[2021-07-15 17:19] tgolen commented on #4060
All right, signing out of e.cash and signing back in seemed to have fixed it.

The problem is, I can't reproduce the problem locally:

![image](https://user-images.githubusercontent.com/1228807/125830049-17284f5d-0aaf-45d4-af2c-2df0d2784a27.png)

I'll try checking out staging to see if I can reproduce it with that code

[2021-07-15 17:29] roryabraham commented on #4008
Not necessarily! I think this can be worked on independently. The callback in question is [right here](https://github.com/Expensify/Expensify.cash/blob/480ddc650d4ff800d39d7bea0c716027d494cfaa/src/libs/actions/Report.js#L716-L719). The current E.cash PR moves that stuff to it's own function, `subscribeToReportCommentPushNotifications`, but otherwise doesn't change the content of the callbacks.

[2021-07-15 17:29] tugbadogan commented on #3960
Thanks for merging the PR and closing the issue 👍 I am still waiting for the offer on Upwork by the way. cc @kevinksullivan

[2021-07-15 17:37] isagoico commented on #4066
mmm I'm also able to reproduce this on my side Web version 1.0.78-1 (Windows / Chrome)

[2021-07-15 17:40] rdjuric commented on #3901
@NicMendonca Still researching this one 😅

Thanks for the picture, @roryabraham. So I think the behavior we want is what we have in the video below?

https://user-images.githubusercontent.com/53711423/125832688-777fcb5c-916b-4aff-9de5-7c274ad0c898.mov

[2021-07-15 17:42] tgolen commented on #4060
OK, so if I check out the staging branch locally, I can reproduce the bug.

However, if I apply the changes from https://github.com/Expensify/Expensify.cash/pull/3988 to the staging branch, then the bug is fixed.

What's odd is that the PR says it's on staging, but that doesn't seem possible.

[2021-07-15 17:50] iwiznia opened #4082 "Add tests for missing translation keys"
Context https://expensify.slack.com/archives/C01GTK53T8Q/p1626368845329900

## Problem

We sometimes miss to add add a translations (right now in [spanish](https://github.com/Expensify/Expensify.cash/blob/f75961876aff1f6eb9dc3fec5430f7cd614c6854/src/languages/es.js) only) for new keys added in the [base english translation file](https://github.com/Expensify/Expensify.cash/blob/0639c6771204ceb1c919

[2021-07-15 17:53] Julesssss commented on #4066
Hmm, I wonder what the differences between our environments is? 🤔

To rule everything out, here is what I'm using:

[code]

I wonder if OS system language could be to blame? Or perhaps specific user accounts?

[2021-07-15 17:57] marcaaron commented on #3889
I'm realizing now that maybe this was not a perfect solution. It's confusing for certain and could have a bug, but let's see. I'll try to explain the reasoning...

Previously, we would record the "end" timing when the report mounts. This didn't give us an accurate picture of whether all visible chat items are rendered and on the screen. So we added this `onLayout` callback here:

https://github.co

[2021-07-15 17:57] iwiznia commented on #4082
@jboniface can you directly hire @parasharrajat please?

[2021-07-15 17:58] mvtglobally commented on #4058
@johnmlee101  we are still able to repro.  [Video](https://utest-dl.s3.amazonaws.com/12102/26470/323855/null/bugAttachment/Bug5152177_Image_from_iOS__2_.MP4?AWSAccessKeyId=AKIAJ2UIWMJ2OMC3UCQQ&Expires=1657907876&Signature=BgY%2FpOTN98o%2BSHssn20Wa1XZKlI%3D)
Can you try to login with:
**Mvtutest@gmail.com
Password1**

[2021-07-15 17:59] parasharrajat commented on #4082
Interesting stuff. This is important as I have been missing adding translations. :smile:

[2021-07-15 18:04] iwiznia commented on #3889
ok, I see. First, is good to know that the debounce exists only to track the time appropriately, I was fearing it was needed for some other reason 😄

So, I think what you say is correct, but the thing is, I was looking at the screen and the event to end the timer seemed to be fired a lot later than 1.5s of when I saw the screen rendered... I'll do a bit more tests. _Maybe_ we just care about the r

[2021-07-15 18:08] tgolen commented on #4060
I'm working with @roryabraham to see if we can determine what went wrong. You can see in this PR https://github.com/Expensify/Expensify.cash/pull/4083 the difference between main and staging, when there should be no difference.

[2021-07-15 18:09] roryabraham commented on #4046
Hello! It seems like we somehow got into a weird state where there was somehow a diff between staging and main at the time of the normal staging deploy for `1.0.78-0`. We're still investigating, but it appears that [this deploy blocker](https://github.com/Expensify/Expensify.cash/issues/4060) is not reproducible on main. To resolve this, we want to run another full staging deploy and see if it hap

[2021-07-15 18:11] bfitzexpensify commented on #3041
Bump @marcaaron, we good to move forward with Rajat's proposal?

[2021-07-15 18:18] jboniface commented on #4082
invite sent, post here https://www.upwork.com/jobs/~01b4ab6512e3573b99

[2021-07-15 18:28] marcaaron commented on #3889
It could be that many more items are rendering offscreen than we'd expect.

There might be a better way to do this as well. I stumbled on this ->

https://stackoverflow.com/questions/60210693/react-native-flatlist-how-to-know-when-the-rendering-of-visible-items-has-fin

Still seems a little fiddly, but maybe not much more than what we have now. Perhaps we can stop after 10 items have rendered and

[2021-07-15 18:30] iwiznia commented on #3889
Confirmed that it is firing several seconds after what I see in screen is rendered, will take a look at those options on monday.

[2021-07-15 18:34] chiragsalian commented on #4073
Found the [PR](https://github.com/Expensify/Expensify.cash/pull/3979) that caused the issue so I'm reverting it over [here](https://github.com/Expensify/Expensify.cash/pull/4085).

[2021-07-15 18:35] marcaaron commented on #3041
@parasharrajat counterpoint, if it's minor then there's not really any need for urgency

Sorry for the delay here. I'm not sure this is a bug at all. Going back to @deetergp's comment here...

I have a few questions about this behavior, but ultimately I think we can just "do nothing" here. It seems like an accessibility feature not a bug. Keyboard users will maybe desire this feedback to see what

[2021-07-15 18:38] deetergp commented on #4022
That sounds pretty straight-forward, @aliabbasmalik8, let's do it.

[2021-07-15 18:45] marcaaron commented on #4022
Sorry @deetergp I'm going to disagree here... more details incoming

[2021-07-15 18:46] isagoico commented on #4046
https://github.com/Expensify/Expensify.cash/pull/3988 leaving this PR unchecked so it's tested on the next QA run

[2021-07-15 18:48] NikkiWines commented on #3419
Cool, based on this feedback I think this issue shouldn't be on Upwork yet, as it's requires a lot of investigation as well as some non-E.cash changes before we could move ahead with any proposal.

[2021-07-15 18:51] marcaaron commented on #4022
The problem is that individual chat message items are slow to render. They'd be slow to render if we have 1 or 1000. So changing the `initialNumToRender` won't influence the total time it takes to load a chat message. It will only make it so that the FlatList will render with some minimum number of items.

That said, raising the `initialNumToRender` seems like a good idea to prevent the issue wher

[2021-07-15 18:51] isagoico commented on #4052
Let us know when https://github.com/Expensify/Expensify.cash/issues/3047 is fixed so we can retest this PR :)

[2021-07-15 18:53] marcaaron opened #4086 "Initial number of items to render is too low"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Navigate to a chat with many comments

## Expected Result:
Chat loads with enough items to fill up with scren

## Actual Result:
Chat looks half loa

[2021-07-15 18:55] marcaaron commented on #4086
Coming in from https://github.com/Expensify/Expensify.cash/issues/4022#issuecomment-880539492

@aliabbasmalik8 has proposed a solution to this in another issue and we should move forward with it.

Can we alter the `initialNumToRender` based on platform? e.g. iOS and web should not require the same numbers since they have different screen heights. So maybe we can improve this slightly.

[2021-07-15 19:05] #4073 closed

[2021-07-15 19:09] Viacheslav80 commented on #3381
Hi! fixing the RN will not give a result!  Webpack takes dependencies from react-native-web( FlatList and other ), not from  RN. we need to fix this on the web, right?

[2021-07-15 19:19] laurenreidexpensify commented on #4012
hired!

[2021-07-15 19:22] rdjuric commented on #2430
@mallenexpensify @Christinadobrzyn

Just a note that the old job post is [still open](https://www.upwork.com/jobs/~01f895152ca12662bc), and the [new one ](https://www.upwork.com/jobs/~019efa3100649f87a5)didn't double the price

[2021-07-15 19:25] Bognar791 commented on #2430
On Thu, 15 Jul 2021 at 21:25, Vojislav Bognar ***@***.***>
wrote:

[2021-07-15 19:26] tgolen commented on #3875
Ah, cool. Glad we found what was causing it.

[2021-07-15 19:31] isagoico commented on #4071
I'm unable to reproduce this on build 1.0.78-1 so closing this out - Will reopen if we face his again.

[2021-07-15 19:31] #4071 closed

[2021-07-15 19:37] isagoico commented on #4066
I'm more inclined to the OS system part since it's the only difference in our environments and I was able to reproduce in different testing accounts. 🤔

[2021-07-15 19:38] #3876 closed

[2021-07-15 19:38] Luke9389 commented on #3876
It is closed–I don't know what you're talking about 😄

[2021-07-15 19:39] Luke9389 commented on #3876
I wasn't seeing it on my K2 bc it wasn't labeled.

[2021-07-15 19:45] thienlnam commented on #3381
`react-native-web` just uses the FlatList code from `react-native`
https://github.com/necolas/react-native-web/blob/master/packages/react-native-web/src/vendor/react-native/FlatList/index.js
It's bundled with `react-native-web` but the author's aren't modifying the code at all

[2021-07-15 19:46] isagoico commented on #4046
**Regression** is finished!
Issues found:
1. https://github.com/Expensify/Expensify.cash/issues/4076
2. https://github.com/Expensify/Expensify.cash/issues/4074
3. https://github.com/Expensify/Expensify.cash/issues/4073
4. https://github.com/Expensify/Expensify.cash/issues/4075 (same as https://github.com/Expensify/Expensify.cash/issues/4072)
5. https://github.com/Expensify/Expensify.cash/issues/40

[2021-07-15 19:46] aliabbasmalik8 commented on #4086
Yes, we can alter `initialNumToRender` based on platforms.
We can add this prop in the respected platform file

and for we web we can use `initialNumToRender={25}` and for ios/android we can use `20`.

https://github.com/Expensify/Expensify.cash/blob/b2286562536b97ba651e934bb3b5cdb648f47e4f/src/components/InvertedFlatList/index.js#L59
https://github.com/Expensify/Expensify.cash/blob/b2286562536b97

[2021-07-15 19:46] thienlnam commented on #3381
Extra context here https://github.com/necolas/react-native-web/issues/1903#issuecomment-775464213

[2021-07-15 19:48] marcaaron commented on #4086
Let's do it!

[2021-07-15 19:50] rdjuric commented on #4086
@aliabbasmalik8 Do you think it might be a good to try and find the minimum `initialNumToRender` (per platform/screenHeight) that doesn't leave a blank spot on the first render? Anything we increase above this will probably slow down the render of `ReportActionsView`

[2021-07-15 19:58] rushatgabhane commented on #4086
@aliabbasmalik8 you could look into making BaseInvertedFlatlist a PureComponent which might help with the blank areas.

[2021-07-15 19:59] chiragsalian commented on #4046
https://github.com/Expensify/Expensify.cash/issues/4073 should be resolved on version 1.0.78.2 which is on staging. Feel free to test it on ios or android to confirm.

[2021-07-15 20:03] marcaaron commented on #4086
Interesting idea @rdjuric. We could make some estimate based on an average item height and the screen height. But could this maybe be an early optimization?

We can work out how to make each `ReportActionItem` to render faster in [this issue](https://github.com/Expensify/Expensify.cash/issues/4022) and maybe there will be no need to have screen size dependent values for `initialNumToRender`. It se

[2021-07-15 20:22] rushatgabhane commented on #4028
slack convo [here ](https://expensify.slack.com/archives/C01GTK53T8Q/p1626380514344700)

[2021-07-15 20:27] rdjuric commented on #4086
Makes sense! I was thinking about calculating based on the height of the smallest `ReportActionItem` possible (I guess it's a text with a single line?). We could decide our `initialNumToRender` based on how many of this we need to fill the first render.

That's possible 😅 But it's also possible that our guess of `25` is off by a decent % and it could might end up diminishing our gains from #4022.

[2021-07-15 20:43] NicMendonca commented on #3972
@parasharrajat created a job for this in Upwork - https://www.upwork.com/jobs/~01583ab581297f02f0

[2021-07-15 21:18] parasharrajat commented on #4082
@iwiznia Looks like there is are a lot of translations that are missing. How do you want me to handle that case? Do I need to add those translations as well :face_with_head_bandage:

[2021-07-15 21:34] kidroca commented on #3889
The SO approach is not any better than the `onLayout` one
Instead of implementing it inside the item's didMount, and then having to relay that to the parent
you can just do something like

[code]

Count 10 invokations of the `renderItem` and stop subscribing for the `onLayout` event

This way you get the bonus of stop invoking a cb function after your done with timing

[2021-07-15 21:46] marcaaron commented on #3889
Sure that seems like a clever way to do the same thing but only pass the callback to the items necessary.

[2021-07-15 21:48] tgolen commented on #4060
Not really an update, but we are waiting to do a full deploy from `main` to `staging` to see if it fixes this.

[2021-07-15 21:49] rdjuric commented on #4080
I think we can add a Keyboard.dismiss() here after tapping the Sign In button, this way we show the full page again and there's space for any errors.

[2021-07-15 22:03] Jag96 commented on #4058
Looks like the same issue happens on web, looking at the logs it seems to be an Auth issue: [logs](https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%2266f6329d5c81fda5-PDX%22)+AND+timestamp:[2021-07-15T20:48:55.288Z+TO+2021-07-15T22:48:55.288Z]&index=logs_expensify-011552)

The error is similar to https://github.com/Expensify/Expensify/issues/170673, so I'm guessing this is

[2021-07-15 22:09] roryabraham commented on #3972
Okay, looks like there's not a ton for me to review here in terms of the proposal @parasharrajat, see you in the PR!

[2021-07-15 22:14] jsamr commented on #3957
## Performance report, scenario "Rendering Individual chat messages"

**Remark**: This scenario conflates a bit with "Switching from one chat to another", but in the later will be on heavy-load conditions and focus on `FlatList` performances.

The scenario goes like this:

1. Open a discussion (concierge for example).
2. Get back to the component displaying lists of discussions.
3. Start profiling

[2021-07-15 22:19] roryabraham commented on #4046
I want to test https://github.com/Expensify/Expensify.cash/issues/3383 on this checklist, so ping me when you're ready to begin QA and I can assign the lock label myself.

[2021-07-15 22:24] roryabraham commented on #3901
It looks like it might not be working perfectly in the y-axis, but yeah that's prettymuch what I had in mind.

[2021-07-15 22:32] marcaaron commented on #4058
Hmm interesting. I've actually been seeing similar behavior for months locally. But the logs do make it seem like there is something we missed.

[2021-07-15 22:32] roryabraham commented on #3819
I actually think that there was [consensus in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1626211434198100) to remove all boldness from the timestamp and typing indicator. But yeah, can we just add it to https://github.com/Expensify/Expensify.cash/issues/3987?

[2021-07-15 22:32] marcaaron commented on #4058
Is this only reproducible on iOS ?

[2021-07-15 22:37] Jag96 commented on #4058
I reproduced on web by using the credentials in https://github.com/Expensify/Expensify.cash/issues/4058#issuecomment-880900797

[2021-07-15 23:20] marcaaron commented on #4058
Alright so I did some investigating and thought it might have to do with the pinned reports NVP.

Here's what mine looks like atm

![Screen Shot 2021-07-15 at 1 13 55 PM](https://user-images.githubusercontent.com/32969087/125869335-78b1295f-6a0f-443c-a4b1-5b56b996cfab.png)

Ignoring the fact that there's a `0` in there for now 😄 ... we can see it's an array

tester's NVP

![Screen Shot 2021-07-15

[2021-07-15 23:29] isagoico commented on #4046
@roryabraham you can go ahead and add the lock label when needed. I can set up and begin QA tomorrow morning so we can start testing early in the day.

[2021-07-15 23:31] roryabraham commented on #3383
Testing with https://github.com/Expensify/Expensify.cash/pull/4096

[2021-07-15 23:43] roryabraham commented on #3383
Reopening because there were some [very weird and unrelated failures](https://expensify.slack.com/archives/C03V9A4TB/p1626392158253000) in the standard deploy from the dummy PR.

[2021-07-15 23:48] jsamr opened #4101 "[Performance] [Audit] `withOnyx` causes bursts of commits, impeding performance"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

This report is part of #3957, [scenario "Rendering Individual chat messages"](https://github.com/Expensify/Expensify.cash/issues/3957#issuecomment-881045715).

## Commit

[2021-07-15 23:50] roryabraham commented on #3383
The dominos are lined up. We just need to wait for [this deploy](https://github.com/Expensify/Expensify.cash/actions/runs/1035738174) to finish and then verify that [this PR](https://github.com/Expensify/Expensify.cash/pull/4098) gets the "Deployed to staging" comment instead of "Cherry-picked to staging"

[2021-07-16 01:24] Jag96 commented on #4075
It looks like this is also related to https://github.com/Expensify/Auth/pull/5747, for new chats when we call `API.GetReportSummaryList`, the returned data is an empty set, which means we are never setting the participants data [here](https://github.com/Expensify/Expensify.cash/blob/d15c65a3095fe166e458181ed9e14d3b0adc4e56/src/libs/actions/Report.js#L321).

I confirmed by checking the return value

[2021-07-16 01:38] Christinadobrzyn commented on #2430
Thanks for the heads up @rdjuric - I just created a new post with the $500 price. Is this one visible?

New job post: https://www.upwork.com/jobs/~015c56b7c334609b4b

[2021-07-16 01:41] Jag96 commented on #4058
Hmm interesting, I think if we can run a query to check it'd be worth it. Then if there are affected accounts we can add a migration.

[2021-07-16 01:54] marcaaron commented on #4058
Something like this should tell us who and how many

[code]

[2021-07-16 02:14] marcaaron commented on #4058
Honestly, I'm super confused how we were even able to end up with this NVP. It looks like the code that sets this was seeting a csv string before and then set an array but never object 🤷‍♂️

[2021-07-16 03:26] marcaaron commented on #4075
Sorry / thanks again @Jag96 (I'm writing tests next time 😭 )

[2021-07-16 04:31] Jag96 commented on #4075
Auth PR was merged, after the Auth deploy this will be resolved

[2021-07-16 05:10] Santhosh-Sellavel commented on #3572
@Dal-Papa Upwork job for this ?

[2021-07-16 05:56] rushatgabhane opened #4104 "Arrow Key navigation for Request and Split doesn't work"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to E.cash
2. Split bill or Request money form LNH
3. Use up/down arrow keys to navigate between users.

## Expected Result:
Should be able

[2021-07-16 06:02] rushatgabhane commented on #4104
## Proposal
Should be a simple fix.

In `src/pages/iou/steps/IOUParticipantsPage/IOUParticipantsRequest`

Set the `indexOffset` to `sections.reduce((prev, {data}) => prev + data.length, 0)`
https://github.com/Expensify/Expensify.cash/blob/96de1bc141d460d89d628f0bf5eccf187916820d/src/pages/iou/steps/IOUParticipantsPage/IOUParticipantsRequest.js#L90

And remove the `disableArrowKeysActions` prop fro

[2021-07-16 07:16] rdjuric commented on #4104
There was a similiar issue https://github.com/Expensify/Expensify.cash/issues/3380 that was closed as it wasn't clear if arrow navigation was necessary. I don't feel strongly about it either, but I do think we should strive to be more consistent with this.

**We can use arrow navigation on**
- Search (CMD +  K)
- Emoji Picker

**We can't use arrow navigation on**
- IOU flow (request/split)
- New c

[2021-07-16 07:30] rushatgabhane commented on #4104
Ah, makes sense. This is a repeat issue then.

Gonna close this one, can always reopen original issue if needed.

[2021-07-16 07:30] #4104 closed

[2021-07-16 07:41] Gonals commented on #4056
Added weekly and firstpick tags! Sending to the pool!

[2021-07-16 11:59] parasharrajat commented on #4029
Hey, @TomatoToaster Please check https://github.com/Expensify/Expensify.cash/issues/4029#issuecomment-880087243. What do you think?

[2021-07-16 12:25] isagoico opened #4105 "Any links pasted into e.cash that includes a colon `:` break causing only the portion before the colon to be hyperlinked"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash and navigate to a conversation
2. Paste and send these links that contain colons:
A. https://www.google.com/maps/place/%E9%9D%92

[2021-07-16 12:33] isagoico commented on #4060
@tgolen We retested this on latest build (1.0.79-0) and it's still reproducible 😟

[2021-07-16 13:01] jsamr commented on #4022
Might be related to
- #4101

If you take a large picture of those commits, you'll notice a meta-pattern involving list cells, with 3 phases spanning over **2.3s**:

### Phase 1

(c33 → c52)
![image](https://user-images.githubusercontent.com/3646758/125946550-aca1edda-ef27-459a-bb59-948936087b7d.png)

`withOnyx(Component)` in `renderCell`. Consecutive 2-commits patterns caused by state changes (`pr

[2021-07-16 13:26] jsamr opened #4106 "[Performance] [Audit] `ReportActionContextMenu` slows down cell rendering time significantly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

This report is part of #3957, [scenario "Rendering Individual chat messages"](https://github.com/Expensify/Expensify.cash/issues/3957#issuecomment-881045715).

## Patter

[2021-07-16 14:10] isagoico opened #4107 "[Hold for payment 2021-08-02] Desktop - Unable to use grammar recommendation when editing a message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open e.cash app in Desktop
2. Navigate to a conversation
3. Send a message with a grammar mistake
4. Edit the same message
5. Try to use word rec

[2021-07-16 14:11] kavimuru opened #4108 "iOS - Sign in - Sign in Button is hidden under the keyboard"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app
2. Enter an email address which has 2FA enabled
3. Hit enter

## Expected Result:
Sign in button is visible below the Two Factor Cod

[2021-07-16 14:13] parasharrajat commented on #4106
Thanks for Measuring this. I know this is one of the culprits but I was not able to get the metrics for it.

My Suggestion here is
1. One Context Menu app Wide, because there will always be one open at a time. Just like I did for Growls.
2. We Create one global layer of Confirm Modals. This is not straight as we will have to maintain a stack for it.

I have a question f you.

We use WithWindowDime

[2021-07-16 14:18] jsamr opened #4109 "[Performance] [Audit] `withLocalizeHOC` recreates props at each render, causing extraneous commits"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

This report is part of #3957, [scenario "Rendering Individual chat messages"](https://github.com/Expensify/Expensify.cash/issues/3957#issuecomment-881045715).

### Commi

[2021-07-16 14:18] kavimuru opened #4110 "Web - Safari - Login - Signin page looks weird"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the URL https://staging.new.expensify.com

## Expected Result:
No visual issues

## Actual Result:
Page looks weird compared to chrome bro

[2021-07-16 14:20] OSBotify commented on #4110
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-07-16 14:24] parasharrajat commented on #4109
Wow! nice catch. `useMemo` or 'useCallback' will do the trick.

[2021-07-16 14:28] tgolen commented on #4060
@roryabraham Do you have any update for this?

[2021-07-16 14:28] isagoico opened #4111 "Login / Forgot Password - Link to return to main login screen is not clear for the user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to e.cash
2. Enter an email for an existing user
3. Click on `Forgot?` link

## Expected Result:
There should be clear message for the u

[2021-07-16 14:34] TomatoToaster commented on #4046
Checking off https://github.com/Expensify/Expensify.cash/pull/4084#issuecomment-881474020 as per the comment confirming it works ✅

[2021-07-16 14:37] jsamr commented on #4106
@parasharrajat I agree with you; too much DOM event subscribers is a bad pattern. Much better to have one subscriber with a state shared in a top-level React context!

[2021-07-16 14:38] isagoico opened #4112 "Notification badge is still displayed even after logged out of the app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash on Android or iOS
2. Send a message from another account
3. Navigate to home screen and verify you have the notification badge o

[2021-07-16 14:41] nikul6 commented on #4080
Proposal:

We can hide the keyboard when click on Sign In button.

<View>
         <ButtonWithLoader
              text={this.props.translate('common.signIn')}
              isLoading={this.props.account.loading}
              onClick={this.validateAndSubmitForm}
            />
            <ChangeExpensifyLoginLink />
</View>

import {Keyboard} from 'react-native'

<TouchableWithoutFeedback onPres

[2021-07-16 14:45] parasharrajat commented on #4060
@tgolen I just checked the code for the page. It seems the merge Conflict was not resolved correctly. Both old and new changes are merged into the code which is causing duplicates. It could be me as well.

Lol. I think it's me. https://github.com/Expensify/Expensify.cash/blame/staging/src/pages/workspace/WorkspaceInvitePage.js

[2021-07-16 14:45] roryabraham commented on #4060
No update other than that [this diff](https://github.com/Expensify/Expensify.cash/compare/main...1.0.79-0) has the same weirdness we observed before. Unless other PRs have been merged since the lock label was added, there should be no diff between main and the latest tag.

[2021-07-16 14:58] tgolen commented on #4060
OK, I'm going to set this back to `daily` since we're just waiting on another deploy from `main` to `staging` to see if it clears up.

[2021-07-16 15:06] roryabraham commented on #4060
Well, there has been another deploy from `main` to `staging`, but for some reason it's still not registering the diff we expect. [This](https://github.com/Expensify/Expensify.cash/blob/96de1bc141d460d89d628f0bf5eccf187916820d/.github/workflows/updateProtectedBranch.yml#L57-L77) is the code that updates `staging` from `main`. If we look at [the logs for the latest run](https://github.com/Expensify/

[2021-07-16 15:09] parasharrajat commented on #4060
Maybe we can modify the invite page and it will be included and there is an pr https://github.com/Expensify/Expensify.cash/pull/4068 here.

[2021-07-16 15:12] roryabraham commented on #4060
Well, I can't explain why the existing diff from the `WorkspaceInvitePage` is not being included in the [PR that's supposed to update `main` from `staging`](https://github.com/Expensify/Expensify.cash/pull/4103/files), so I'm not sure that merging more changes to `main` will solve the problem. It might, but I don't know.

Instead, I think we should just merge https://github.com/Expensify/Expensify

[2021-07-16 15:17] jboniface opened #4114 "[HOLD facebook/hermes release] [$1000] Make emojis larger in other contexts than just single character messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

This issue covers several related scenarios:

## Scenario 1
### Action Performed:
Add an emoji with other plain text characters in a message in the composer.

### Expect

[2021-07-16 15:17] roryabraham commented on #3383
QA passed, closing this out!

[2021-07-16 15:17] #3383 closed

[2021-07-16 15:24] rdjuric commented on #4114
@stitesExpensify Do we still want single emojis to be bigger than a emoji in other context (like accompanied by text)? Or we just want to apply the same styling that we apply to single emojis to emojis in all contexts?

[2021-07-16 15:25] parasharrajat commented on #4114
If this is a pass. I think it is a good time to minimize the regex used for comparison.

[2021-07-16 15:28] jboniface commented on #4114
this is the original spec:

but I'd like @stitesExpensify to confirm whether we diverged from this plan over the course of design since this feature was on hold for many months.

[2021-07-16 15:38] jsamr opened #4115 "[Performance] [Audit] `ThumbnailImage` triggers layout shifts, impeding FlatList performance"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

This report is part of #3957, [scenario "Rendering Individual chat messages"](https://github.com/Expensify/Expensify.cash/issues/3957#issuecomment-881045715).

### Flame

[2021-07-16 15:47] Major-Usama commented on #4080
Proposal :
We can use KeyboardAwareScrollView on the whole view and then we can do Keyboard. dismiss  on Sign In the button click

[2021-07-16 15:57] roryabraham commented on #4074
Sorry I didn't get to this yesterday. I'll work on getting this resolved now.

[2021-07-16 16:06] TomatoToaster commented on #4029
Ooh now this is weird. I would think the optimistic addition from [here](https://github.com/Expensify/Expensify.cash/blob/1cf73dbf64f3734dd5161c0b52590406e473c12c/src/libs/actions/Policy.js#L149-L150) would add them in. Did it work before with just one phone number?

When I read this, I thought this must be a bug, but it turns out it's technically right 😖 ?

It looks like we're using the E.164 spe

[2021-07-16 16:07] roryabraham commented on #4074
Confirmed that this doesn't seem to be happening on other platforms.

[2021-07-16 16:11] rdjuric commented on #4114
Thanks @jboniface. If we end up following the original spec I think a good proposal would be

1. Modify our `ReportActionItemFragment` of type `COMMENT` to check if our `fragment.text` has emojis - but only if it fails our `isSingleEmoji` test.
2. If it has, modify our `Text` to include nested `Text`s containing emojis with a modified style

[2021-07-16 16:13] parasharrajat commented on #4029
I think the list expects emails so a ph number should be converted to @expensify.sms email first.

Ok.

[2021-07-16 16:29] francoisl commented on #4110
Looking fine for me on Safari 14.1.1, app version 1.0.79-0. Probably unlikely, but it could be some old cached CSS or JS, can you try from an incognito window please?

![image](https://user-images.githubusercontent.com/2229301/125979480-a61683af-fc35-4ab3-9171-4082f6270a06.png)

[2021-07-16 16:53] tgolen commented on #4060
Not fixed! That PR merged staging into main... so main is broken again. I'll submit a PR to fix main and we can CP it

[2021-07-16 17:01] Jag96 commented on #4052
We're going to be doing https://github.com/Expensify/Expensify.cash/issues/3047 in pieces, so https://github.com/Expensify/Expensify.cash/pull/4009 is the latest PR (on staging) to test for this!

[2021-07-16 17:13] jsamr opened #4116 "[Performance] [Audit] `withOnyx(ReportActionCompose)` is very slow to render"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

This report is part of #3957, [scenario "Rendering Individual chat messages"](https://github.com/Expensify/Expensify.cash/issues/3957#issuecomment-881045715).

### Commi

[2021-07-16 17:17] masoudsm31 commented on #4080
Proposal:
I suggest to put the whole screen under react-native-keyboard-aware-scroll-view.
Or we can use KeyboardAvoidingView too.

https://www.npmjs.com/package/react-native-keyboard-aware-scroll-view
https://reactnative.dev/docs/keyboardavoidingview

[2021-07-16 17:30] isagoico opened #4118 "[HOLD - for payment Aug 5th] Show Yesterday/Tomorrow when other user is in a different date"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash and navigate to a conversation with a user that's on a different time zone (and it's a different day)

## Expected Result:
There

[2021-07-16 17:30] alex-mechler commented on #4108
Looks like a perfect external issue. Thanks for noting what devices in particular this happens with!

[2021-07-16 17:34] rdjuric commented on #4108
Looks related to https://github.com/Expensify/Expensify.cash/issues/4080#issuecomment-881598722. We can wrap our screen in a `KeyboardAvoidingView` to reveal the next input box.

[2021-07-16 17:37] jsamr commented on #4106
@parasharrajat The great advantage of one context to share a state is that it guarantees React fiber will batch every update related to a dimension event in the same commit. Whereas when updating each component because of a DOM event, updates might happen in short bursts of commits which is most likely slower.

[2021-07-16 17:44] quinthar commented on #4118
Hm, I think a day of the week would be more intuitive than "tomorrow".  So
"It is 5:23am Saturday for Bob" rather than "5:23am tomorrow for Bob"

On Fri, Jul 16, 2021 at 10:30 AM MelvinBot ***@***.***> wrote:

[2021-07-16 17:46] isagoico opened #4119 "New Expensify icon is not centered in the about page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash
2. Navigate to Settings>About page

## Expected Result:
New Expensify icon should be centered

## Actual Result:
New Expensify i

[2021-07-16 17:47] isagoico commented on #4119
@mallenexpensify My bad, I mistakenly created the issue with the incorrect label, fixing it.

[2021-07-16 17:50] parasharrajat commented on #4106
Opening an issue for this. Thanks for the Information.

[2021-07-16 17:50] Julesssss commented on #4080
I think we should move the error message so that it sits beneath the input that failed.

And also do this.

[2021-07-16 17:51] Julesssss commented on #4080
The content already scrolls in this case.

[2021-07-16 17:54] parasharrajat commented on #4080
There are two things that should be done here.

1. Move the error message under the input fields.
2. use our custom KeyboardAvoidingView to show the button over the keyboard.

[2021-07-16 17:55] rdjuric commented on #4080
I think there was a thread on Slack about this. The error message also shows up below the button in the previous screen if the e-mail is invalid.

[2021-07-16 17:55] UHaider commented on #4080
**Proposal**

We should not dismiss the keyboard so that user can type in again the correct one. We can do the following

1. We should use _scrollToEnd(_) on existing _ScrollView_ when there is error.

[2021-07-16 17:56] parasharrajat commented on #4080
@rdjuric here it is https://expensify.slack.com/archives/C01GTK53T8Q/p1626257908229200

[2021-07-16 17:57] rdjuric commented on #4080
Thanks @parasharrajat! That's it.

So yea, I think we should change this across the login flow as it happens in other pages as well.

[2021-07-16 17:57] isagoico commented on #4110
Seems like it. This is the Safari version the tester was able to reproduce
![image](https://user-images.githubusercontent.com/44479856/125989699-90794190-be4e-4863-ba45-cb9a46d29016.png)

[2021-07-16 18:05] isagoico opened #4120 "Pasted content is placed at the beginning of the message and not where the cursor is positioned and undo (CTR+Z) is not working"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash and navigate to a conversation
2. Send a message
3. After the message has sent, copy it
4. In the compose box, enter some text
5

[2021-07-16 18:07] parasharrajat opened #4121 "[Performance] Refactor `withWindowDimensions` to drop event subscription in each instance."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

### ISSUE
`withWindowDimensions` subscribe to Dimension `change` directly in each instance. There is no apparent issue with this. But It is really not necessary and dela

[2021-07-16 18:08] francoisl commented on #4110
To confirm, is this in an incognito/private window? Can you also try to open the developer console, and see if there are any error messages in the Console tab please? (You might have to enable the developer console in the Advanced tab of the Safari settings first)

[2021-07-16 18:09] jsamr commented on #3983
@quinthar If you can get your hands on C/C++, I'm not sure I see any advantage of using WASM over JSI. AFAIK WASM is still interpreted, while C/C++ will be run in an architecture-specific binary. Plus, JSI is the future standard for performant low-level react-native modules... An important thing to consider if you want to follow that scheme (porting ExpensiMark to C++ based on md4c), is converting

[2021-07-16 18:10] mountiny commented on #4120
This seems like it can be worked on by a contributor! Adding `External` label then.

[2021-07-16 18:12] marcaaron commented on #4121
Thanks @parasharrajat this sounds pretty similar to the issue opened [here](https://github.com/Expensify/Expensify.cash/issues/2326) by @kidroca.

Are you proposing something different?

What are the impacts? Is it something we can benchmark and prove? And is it something we should prioritize?

[2021-07-16 18:13] mountiny commented on #4120
But I am going to keep myself assigned and look into to once I will have time if noone will make proposal to solve it before that.

[2021-07-16 18:16] marcaaron commented on #4121
Also is there some specific experience metric we can tie this to and apply it as a solution... e.g. does it make chat switching faster? Does it make the app boot faster? Does it make report actions load faster? These are the areas we are prioritizing. So it would be nice see this presented as a solution to one of our open issues.

[2021-07-16 18:30] parasharrajat commented on #4121
ok. I will try to match it with something but I guess we can close it and continue there if there is an existing issue. Please feel free to close it if you agree.

[2021-07-16 18:34] arielgreen opened #4122 "test"

[2021-07-16 18:35] #4122 closed

[2021-07-16 18:37] rdjuric commented on #4120
@mountiny This looks like a regression from https://github.com/Expensify/Expensify.cash/pull/4009

ccing @parasharrajat, looks like this is the problematic part https://github.com/Expensify/Expensify.cash/blob/bb02d771dc51ff371d32da27e150a36f495124e0/src/components/TextInputFocusable/index.js#L254-L257

[2021-07-16 18:40] mallenexpensify commented on #4028
Added `Daily` label so @puneetlath will see it for triage.
@parasharrajat , can you elaborate what needs further planning? I saw @rushatgabhane 's Slack post but there are no comments there.  We can followup in a comment there and 'share with room' to try to get more eyes on, if needed

[2021-07-16 18:44] jsamr opened #4123 "[Performance] [Audit]: using react-native-render-html composite architecture could speed up render time of short report actions by 32%"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Upwork job link:** https://www.upwork.com/jobs/~0157cdae32a7b23e69
This report is part of #3957, [scenario "Rendering Individual chat messages"](https://github.com/Exp

[2021-07-16 18:48] parasharrajat commented on #4120
Thanks, @rdjuric. I am looking at it already. There is one thing that is bothering me at ATM how ctrl+z will work. What is the best thing to do here? Should we really need to override this via keyboard event?

[2021-07-16 18:50] marcaaron commented on #4121
Let me know how it goes. I've put a Planning label on this for now and raised some discussion in Slack. I think a good issue title should be something like:

`[Performance] Improve [insert actual feature] time by refactoring withWindowDimensions`

[2021-07-16 18:56] #4121 closed

[2021-07-16 18:59] marcaaron commented on #2326
@parasharrajat please feel free to reopen this issue if you have additional metrics to share. Seems like the last time this was discussed we decided it would not be worth it. But maybe you can find something more concrete.

[2021-07-16 19:00] marcaaron commented on #4121
Actually going to close this. If you have some new metrics or benchmarks feel free to reopen the other issue.

[2021-07-16 19:13] mallenexpensify commented on #2846
@parasharrajat per [this Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1626459471415200?thread_ts=1626370884.333100&cid=C01GTK53T8Q), looks like we have a regression so I'm reopening
When markdown is used for only one character, it's not working correctly
https://files.slack.com/files-pri/T03SC9DTT-F0291KKFEHW/image.png

[2021-07-16 19:35] stephanieelliott commented on #3892
Sounds like we've figured out how to reproduce, I am going to move this through triage on to Engineering!

[2021-07-16 19:35] #4060 closed

[2021-07-16 19:48] Jag96 commented on #4058
After investigating it looks like there are only 3 affected accounts, and it seems that they're still able to load e.cash without any issues, so closing this one out. I'll clean up the 3 accounts in the internal issue.

[2021-07-16 19:48] #4058 closed

[2021-07-16 19:58] marcaaron commented on #4123
32% sounds like a lot but also is this 32% of 7ms total or per each comment in the chat? (I think it must be the latter)

Maybe there is a way to dumb this down, but it's hard for me to wrap my head around what this means for the perspective of loading a chat that has something like 50-100 messages.

So, let's say we are rendering 100 when the chat loads and there is 730ms of time spent here - tha

[2021-07-16 20:04] jsamr commented on #4123
@marcaaron

Per message indeed.

It would be my understanding that it would save up 230ms in this scenario; not sure I'm understanding the parallel thing?

I think your 230ms estimate is reasonable for a 100 messages scenario!

[2021-07-16 20:07] jsamr commented on #4123
**PS**: I used beta-8 branch for this scenario; I previously noticed a bug in alpha-10 (main branch) where `RenderHtml`  was rendered twice. Did not reproduce in beta-8 thus did not bother report :sweat_smile:

[2021-07-16 20:14] marcaaron commented on #4116
I'm not sure, but if I had to guess I'd maybe think the late "loaded" is in part possibly to the fact that we are fetching this data cold from storage instead of using any cache. I think @kidroca's cache improvements might be addressing some part of this. We have caching but we somewhat [aggressively clear this cache at the moment](https://github.com/Expensify/react-native-onyx/blob/c0e30e6d262b3a

[2021-07-16 20:17] marcaaron commented on #4116
Also maybe it's just as simple as... `ReportActionCompose` doesn't really need all the information we are passing to it. There are a boatload of subscribers...

https://github.com/Expensify/Expensify.cash/blob/fc965f68d308167d19d00a29b91e85ca33707882/src/pages/home/report/ReportActionCompose.js#L648-L677

Are we _really_ using all the information being passed to it?

[2021-07-16 20:23] parasharrajat commented on #4116
I suggest we break it down into sub-components.

[2021-07-16 20:27] marcaaron commented on #4115
Oh wow, yeah this sounds like it could be pretty bad depending on how costly it is to recompute the position. I feel like we should be able to test the impacts with a very simple test case where 2 chats are switched back and forth and timed. e.g. one will have 500 regular comments the other has 499 comments and 1 attachments (or more) then we compare the difference.

Open to hearing thoughts on ho

[2021-07-16 20:31] jsamr commented on #4116
@marcaaron

The thing is, we're only interested in one peculiar report action in this component. There is a high chance that the report action didn't change after being fetched, **but the reference in memory will have changed, causing a re-render**. Is there a history version ID for each report action (or last modified field) that you could use in order to avoid extraneous commits, by using `shoul

[2021-07-16 20:33] marcaaron commented on #4106
This one makes perfect sense to me, but unsure how to prioritize.

I think @roryabraham might have the most context on this feature. Any thoughts on how difficult this would be to unwind? I think this could end up being a pretty significant refactor, but since we now understand the importance of keeping virtualized list items simple it feels like it needs to be done.

**Ideas for benchmarking this

[2021-07-16 20:37] marcaaron commented on #4109
Looks pretty straight forward and has an easy solution. Curious to see how many net re-renders we could prevent by memoizing these callbacks. Should be a good metric to justify implementing.

[2021-07-16 20:41] kidroca commented on #4116
Hey guys I think I know why this view is slow to render and it this composition right here

https://github.com/Expensify/Expensify.cash/blob/429e7bb7e4cd6bcb945375102c780ee9b600c7f2/src/pages/home/report/ReportActionCompose.js#L445-L458

This composition is evaluated at render time, before adding the spinner you could even see the compose box coming together in chunks

A quick test can be to remov

[2021-07-16 20:43] jsamr commented on #4109
@marcaaron That would be very cumbersome to investigate, but not impossible! However we know that this component is referenced in 90 files, I believe the impact will be pretty significant!

[2021-07-16 21:00] kidroca commented on #4106
Hey guys this is in line with what I've proposed here: https://github.com/Expensify/Expensify.cash/issues/2326

`withWindowDimensions` doesn't only add many listeners but uses an instance of a class based component per wrapped component which runs lifecycle methods

You can try to replace the source with one of the samples here: https://github.com/Expensify/Expensify.cash/issues/2326#issuecomment-

[2021-07-16 21:00] jsamr opened #4126 "[Performance] [Audit]: messages with views nested in Text for inline code are 700% slower to render on Android"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

This report is part of #3957, [scenario "Rendering Individual chat messages"](https://github.com/Expensify/Expensify.cash/issues/3957#issuecomment-881045715).

### Flame

[2021-07-16 21:15] marcaaron commented on #4101
This is an interesting idea, but I'm not yet sure how it would work given the architecture we have now. Let's dive a little deeper...

Presently, we are calling `setState()` directly on any connected components (which we [store references to in a subscriber map](https://github.com/Expensify/react-native-onyx/blob/c0e30e6d262b3a8c854b08e9963198a024ad9880/lib/Onyx.js#L11-L12)) in several places. Whe

[2021-07-16 21:20] marcaaron commented on #4126
Interesting. I'm not sure if this is a mainline case that we **need** to prioritize for inline code blocks are kind of a power user feature. I think we are more generically concerned with the typical usage scenarios which is probably ... not using any markdown at all. But not too sure. Will let others share their thoughts on this.

700% sounds pretty bad but we can also test the performance here..

[2021-07-16 21:24] marcaaron commented on #4109
For sure, apologies, to be clear I wasn't asking for you to do this - just that it would be interesting to see data :)

[2021-07-16 21:32] thienlnam commented on #4115
Very interesting findings!

To add to this I'm pretty sure we have some kind of internal caching going on so this is probably more apparent the first time the chat loads as consecutive loads of the chat with images will be much speedier.  Additionally, I am curious is this shifts all cells, or just visible cells around a resized image

So we can store the image sizes when we generate the HTML, but

[2021-07-16 21:35] marcaaron commented on #4106
@parasharrajat @kidroca Thanks for the extra context. Just a heads up I'm gonna clean these comments up a bit since I think this issue is broader than the `withWindowDimensions` HOC. If we think the issue over there is worth reopening we can continue conversation [here](https://github.com/Expensify/Expensify.cash/issues/2326). 🙇

[2021-07-16 21:41] marcaaron commented on #4123
Got it. I think my question makes no sense because the actual rendering is not happening asynchronously and when we're talking about "rendering time of those composite components" only one can be rendering at a time because JavaScript.

[2021-07-16 21:44] kidroca commented on #4101
This sounds like a case for the initial connection (mount time)
`withOnyx` would have to wait to get everything from storage and then render the wrapped component
This is perceived like something slow compared to render a prop as soon as possible, but if
all props need to come from disc or from cache - they will take about the same time to arrive so we might as
well wait for that. The only time a

[2021-07-16 22:10] kidroca commented on #4115
I'm pretty sure this would affect the position of every cell in the virtualized portion that is loaded, but I'm not certain it will recompute/re-render cells besides the ones containing images that change

The reason is we don't implement `getItemLayout` which means we leave the FlatList to compute how much height a cell takes and then calculate it's absolute position (offset) in the list. To do t

[2021-07-16 22:25] roryabraham commented on #4074
Sorry, I had a bunch of issues with my Android emulators + not being able to update the hosts file to access the VM API. So I wasn't able to reproduce this. Lame, I know, but I have to give this back to you @yuwenmemon because I'll be OOO next week. I'm guessing it's just a simple issue with the default lineHeight [here](https://github.com/Expensify/Expensify.cash/blob/993be4650fe80ac8f8955ff2c3d1

[2021-07-16 22:42] roryabraham commented on #4106
Actually, I did sort of [try this once before](https://github.com/Expensify/Expensify.cash/pull/1186#issuecomment-774247826). My implementation caused an [undesirable wiggling effect](https://github.com/Expensify/Expensify.cash/pull/1186#issuecomment-774250007) with the mini `ReportActionContextMenu` that appears on hover as its position is dynamically calculated.

So my thoughts on this is that i

[2021-07-16 22:43] roryabraham commented on #3901
I have to reassign this to someone else while I'm OOO

[2021-07-16 22:46] roryabraham commented on #3844
Sorry I wasn't able to get this done. I imagine it should be pretty quick and easy, but I'm going to send it back to the pool while I'm OOO until July 26th. @sakluger Sorry for letting this slip through the cracks, but feel free to ping me if it's still not done by the time I get back and I can take care of this.

[2021-07-16 22:59] jsamr commented on #4115
@thienlnam

Just want to point out that this scaling behavior is already implemented in react-native-render-html internal Image component. You can reuse the internal component in the custom renderer [such as described here](https://meliorence.github.io/react-native-render-html/docs/content/images#by-reusing-internal-building-blocks); just replace `useIMGElementState` with `useIMGElementStateWithCa

[2021-07-16 23:02] thienlnam commented on #4115
Oh nice! In that case we should just be able to store the height/width with the image when we generate it and remove a lot of the `imageWithSizeCalculation` code

[2021-07-16 23:05] marcaaron commented on #4116
Perhaps... if we are trying to eliminate the `reportActions` subscription then we can try to move this logic elsewhere and maintain a reference to the `reportActions` without triggering any re-renders?

https://github.com/Expensify/Expensify.cash/blob/fc965f68d308167d19d00a29b91e85ca33707882/src/pages/home/report/ReportActionCompose.js#L309-L317

It seems there is no reason this component needs to

[2021-07-16 23:30] jsamr commented on #4101
@kidroca

substores, so that updating one would not cause a re-render to components that aren't subscribed to keys from this substore

This is precisely where `useContextSelector` comes to the rescue! (see Proposal 5)

[2021-07-16 23:30] isagoico commented on #4046
**Regression** is finished!
Issues found:
1. https://github.com/Expensify/Expensify.cash/issues/4110
2. https://github.com/Expensify/Expensify.cash/issues/4108

**PRs** are finished too!
No comments added.

These Internal QA PRs are missing QA (CC @marcaaron) :
1. https://github.com/Expensify/Expensify.cash/pull/3894
2. https://github.com/Expensify/Expensify.cash/pull/3967

Thanks!

[2021-07-17 00:10] marcaaron opened #4127 "[Discussion] Build a GH Action that helps prevent performance regressions"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Coming in from this [Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1626387015363600)...

[View all open jobs on Upwork](https://www.upwork.com/ab/jobs/

[2021-07-17 00:17] marcaaron commented on #4127
As far as I know we have a detox E2E test that runs in iOS only - not sure about Android.

But perhaps we can include some performance specific tests using the tools recommended by @kidroca [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1626464548429700?thread_ts=1626387015.363600&cid=C01GTK53T8Q)

https://github.com/oblador/react-native-performance

It might be worth discussing which ar

[2021-07-17 00:35] mallenexpensify commented on #3892
It's alive! https://www.upwork.com/jobs/~01a3f90fd52254a4ab

[2021-07-17 05:03] Christinadobrzyn commented on #3893
@rdjuric is paid in Upwork! Thank you for working on this!

[2021-07-17 05:03] #3893 closed

[2021-07-17 05:35] Viacheslav80 commented on #3381
@thienlnam  Hi! What do you expect from patch RN?  change the behavior of the "inverted" property to move away from scaleY: -1 towards a solution like @garudamon inside RN ? or do you need bidirectional-infinite-scroll inside RN?

[2021-07-17 09:41] rushatgabhane commented on #4028
I don't think further planning is required.
Just need feedback for my proposal in case I'm missing something.

[2021-07-17 11:38] parasharrajat commented on #2846
PR is up https://github.com/Expensify/expensify-common/pull/395 for regression.

[2021-07-17 11:57] dotfelixb commented on #4080
For scenarios like showing a message in this case, a popup or toast is most appropriate, it captures the user's attention far better than the current implementation

[2021-07-17 14:08] isagoico opened #4129 "Compose box is not cleared after sending a message if the user starts typing just after pressing send - iOS / Android"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash in mobile and navigate to a conversation
2. Type a message and press send
3. Immediately after pressing send start typing anothe

[2021-07-17 15:16] Santhosh-Sellavel opened #4130 "[PAY 8/13] Request Money / Split Money Greater than or equal to 100,000,000 InDefinite Loading"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Create a new Request Money / Split
2. Enter Amount 100,000,000

## Expected Result:
Case 1: If there is an upper Request limit, the user should

[2021-07-17 17:18] qiweiii commented on #3892
@mallenexpensify Hi, I found this issue on upwork. The sleep timer clock is skewed even laptop is not asleep because the tab could be inactive after leaving it for a while. My proposal is to use a web worker for the sleep timer, since web workers run in another process, they will be still running when tab is inactive.

[2021-07-17 20:41] isagoico opened #4132 "[Hold for Payment 3 August] Edit comment - Mouse scroll doesn't scroll large messages in edit box"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash and navigate to a conversation.
2. Send a long message (long enough so the edit box has a scrollbar)
3. Edit the message and try

[2021-07-18 00:12] parasharrajat commented on #4028
So via further planning, I meant what has desired behaviour of ESC? If you look at the cross button on the Modal screen it does not take you back instead close the whole Modal Screen Stack and take you back to Report Screen. I think Esc is meant to do the same. Does Esc navigate back in the browser history? Open any page and navigate the website. Press ESC, will it go back in history?

[2021-07-18 00:23] rushatgabhane commented on #4028
@parasharrajat I disagree.
Because if you take a look at callbacks for Escape key, `Go_Back` is set as the callback.
This shows that the expected behaviour is to Go back, instead of closing all the Modal screens.

[2021-07-18 12:27] dklymenk commented on #3770
Hello @iwiznia , I have implemented all the technical changes discussed above. You can find them at #4134. Here is a rough list:
1. Persist preferred locale through logout.
2. Move locale picker to a separate component.
3. Use the new component on SignInPageLayout pages (Wide and Narrow).
4. Don't render the locale picker, if user is not in `internationalization` beta.

While working on it, an add

[2021-07-18 18:08] parasharrajat commented on #3859
Hey Guys,https://github.com/Expensify/Expensify.cash/pull/3869 PR was reverted as I wanted to hold that until https://github.com/Expensify/Expensify.cash/pull/4047 is merged. I think he is more qualified to do the changes to upgrade which is a core part of my PR.
Also, there are very good points on why we should not move with this issue https://github.com/Expensify/Expensify.cash/issues/3951#issue

[2021-07-18 18:12] parasharrajat commented on #4005
This issue needs attention. Thank you.

[2021-07-18 18:39] parasharrajat commented on #3959
To fix this easiest way is to override the global Outline style so that it reflects on each platform.
Add Global CSS style to index.html
[code]
or we can use box-shadow as bootstrap uses for the blurred outline.

If don't want to use the global style which I am aware of, the best option to do is to disable the default outline and  only apply to the specific elements with

[code]
I would say its be

[2021-07-18 23:33] mallenexpensify commented on #3785
@tgolen reassigning to you, you'll be the one reviewing the incoming PR (assuming[ this is working](https://github.com/Expensify/Expensify/issues/162941), which it should be)

[2021-07-18 23:39] parasharrajat commented on #3785
It seems PR is already merged and created before proposal Approval.

[2021-07-18 23:40] mallenexpensify commented on #3785
@rushatgabhane can you provide an update on when you'll have a PR ready for review?

[2021-07-18 23:45] mallenexpensify commented on #3785
Thanks @parasharrajat , didn't scroll up far enough to see that. It looks like @tgolen wasn't assigned to review the PR because he unassigned himself and our bot/logic wasn't able to find him.

[2021-07-19 00:54] Christinadobrzyn opened #4135 "Show IOU preview component persistently regardless of state"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Click the green `+` icon and select `Request Money`
2. Enter an amount and click `next`
3. Select an attendee and then `Request $x` to confirm
4

[2021-07-19 00:55] Christinadobrzyn commented on #4135
Please ignore @trjExpensify! The label was automatically assigned when I created this post. I've got this one.

[2021-07-19 01:03] Christinadobrzyn commented on #4135
Posted in Upwork: https://www.upwork.com/jobs/~0144a12bd5dfca5c7e

[2021-07-19 02:24] sophiepintoraetz commented on #4026
Oops wrong unassignment here damn lag!

[2021-07-19 03:55] mvtglobally commented on #4110
@francoisl
I am also abe to repro in Safari Version 14.0.2 (15610.3.7.1.10, 15610)
No console errors

![Screen Shot 2021-07-18 at 11 53 59 PM](https://user-images.githubusercontent.com/43995119/126100514-1c114153-ebca-4139-8b6a-711e70fbdeb0.png)

[2021-07-19 04:17] rushatgabhane commented on #3785
@mallenexpensify  I had created a draft PR, and published it when @tgolen approved the proposal.

I didn't realise @tgolen got unassigned. I would have waited then.

Sorry for the mixup

[2021-07-19 07:02] rushatgabhane commented on #4027
I was going through [this research paper](https://www.sciencedirect.com/science/article/abs/pii/S0953543811000579).
If a screen refreshes within 1 second, then the users perceive it as fast.
![image](https://user-images.githubusercontent.com/29673073/126116063-767bb61b-5c87-4961-8975-3d57fe0c9ebc.png)

Our **minimum** boot time target for a flagship phone should be 1 second.

[2021-07-19 07:53] kidroca opened #4136 "Flipper (dev tool) does not work on Android"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app during development `npm run android`
2. Start Fipper (from the dedicated) app

## Expected Result:
The app should be recognized as

[2021-07-19 08:04] kidroca commented on #4136
The issue is due to a leftover "debug" package configuration

##### Expected folder structure: https://github.com/Expensify/Expensify.cash/tree/main/android/app/src/main
![image](https://user-images.githubusercontent.com/12156624/126123591-68d2721f-3e97-46b7-9157-d0d1f531cf41.png)

##### Debug Folder structure: https://github.com/Expensify/Expensify.cash/tree/main/android/app/src/debug
![image](ht

[2021-07-19 09:15] Viacheslav80 commented on #3381
@thienlnam Hi! what do you expect from patch RN? fix the inverted property?
do something similar to bidirectional-infinite-scroll?
I think that while the render will be from the bottom to the top, the selection will not be fixed. we need to move away from transform: scaleY: -1

[2021-07-19 09:33] tugbadogan commented on #4135
Hi,

I would like to work on this issue. I added this component in the first place. Here is my proposal:

- This is the place where we decide to show IOU Preview component https://github.com/Expensify/Expensify.cash/blob/7931eea7ebffd328e3578c0287150413eb691f98/src/components/ReportActionItem/IOUAction.js#L50-L57

- We need to fix this prop for historical IOU Reports not only the most recent one.

[2021-07-19 09:40] isagoico commented on #3297
We found a new behaviour when executing the retest this weekend. Now it will redirect the user directly to the Expensify classic app without downloading the file.

https://user-images.githubusercontent.com/44479856/126139683-38f8e63a-abce-4e17-ab0e-0758698ae5dc.mp4

[2021-07-19 09:41] isagoico commented on #3041
Issue reproducible during KI retests

[2021-07-19 09:42] isagoico commented on #3172
Issue reproducible during KI retests

[2021-07-19 09:46] isagoico commented on #4076
Issue reproducible during KI retests

[2021-07-19 09:46] isagoico commented on #4066
Issue reproducible during KI retests

[2021-07-19 09:47] isagoico commented on #3901
Issue reproducible during KI retests

[2021-07-19 09:48] isagoico commented on #2499
Issue reproducible during KI retests

[2021-07-19 09:49] isagoico commented on #4074
Issue reproducible during KI retests

[2021-07-19 09:49] isagoico commented on #3355
Issue not reproducible during KI retests. (first week)

[2021-07-19 09:51] isagoico commented on #4080
Issue reproducible during KI retests.

[2021-07-19 09:51] isagoico commented on #4108
Issue reproducible during KI retests.

[2021-07-19 09:52] isagoico commented on #3296
Issue reproducible during KI retests.

[2021-07-19 10:09] isagoico commented on #3981
@puneetlath Had this [same behaviour](https://expensify.slack.com/archives/C01GTK53T8Q/p1626387107365600) with his own message:

![image](https://user-images.githubusercontent.com/44479856/126144260-d3925ab8-3d5d-4580-84b0-e3d317818513.png)

[2021-07-19 10:25] isagoico opened #4137 "[HOLD] Message preview in focus mode is not aligned with user name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel! https://www.upwork.com/jobs/~012ff356b5e14b72c7
___

## Action Performed:
1. Log in to e.cash and enable focus mode
2. Check the message previews in LHN

## Expected Result:

[2021-07-19 10:28] isagoico commented on #3981
@joaniew was able to reproduce this too (slack thread: https://expensify.slack.com/archives/C01GTK53T8Q/p16263903423766000)

[2021-07-19 10:38] sketchydroide commented on #4132
This sounds like a good external.

[2021-07-19 10:40] sketchydroide commented on #4132
Also setting it as weekly, there is a workaround, and it does not stop functionality it's just anoying, and mouse scrolling would be an expected behaviour.

[2021-07-19 11:58] laurenreidexpensify commented on #3897
The price for this has been increased to $500

[2021-07-19 12:02] laurenreidexpensify commented on #4132
https://www.upwork.com/jobs/~0188b70c9ae217c170

[2021-07-19 12:30] Beamanator commented on #3876
Aah there must be a TZ issue here - I see you closed it just ~after~ before I commented 🤣

[2021-07-19 12:32] rdjuric commented on #3355
@johnmlee101  This has the same root cause as https://github.com/Expensify/Expensify.cash/issues/3296

[2021-07-19 12:38] rdjuric commented on #3897
I'm interested in this one @laurenreidexpensify. The steps in the issue are pretty clear, so I just have a few questions:

- Should we add a new function in `ValidationUtils` to validate if it's a valid debit card number? Or it's okay to send unvalidated numbers to our `User_AddBillingCard` API?
-  What params our `User_AddBillingCard` API takes?

[2021-07-19 12:49] Gonals commented on #4105
We'll probably have to tweak the markdown a bit to get this to work correctly.
Sending to the pool!

[2021-07-19 13:20] AhmedMustafa2201 commented on #4132
@isagoico I want to run the app as local
it works fine. But when I login with email and password it redirects me on the live app
may I know why ?
I want to help with this issue

[2021-07-19 13:52] laurenreidexpensify commented on #3897
@Luke9389 can you cover the Qs from @rdjuric while Brandon is OOO today? thanks

[2021-07-19 14:09] Julesssss commented on #4080
I'm not sure I agree, but this probably isn't the right place to have that discussion.

[2021-07-19 14:19] rdjuric commented on #4080
@Julesssss Not sure if my proposal was accepted, should I open a PR for this?

- `Keyboard.dismiss()` after we tap the Sign In button
- Moving the error message to below the input field in all login steps

[2021-07-19 14:20] Julesssss commented on #4080
As @rdjuric mentioned, this also occurs on the email/phone login step. I think it makes sense to solve these issues too, so here are the updated requirements:

- The message about incorrect data entry should be moved above the form submit button, so that it is always visible to the user
- Ideally we should display the label beneath the relevant input for each case, but this requires wider changes

[2021-07-19 14:25] mallenexpensify commented on #3892
@NikkiWines can you comment on @qiweiii 's post above when you have a moment?

[2021-07-19 14:27] #4120 closed

[2021-07-19 14:31] iwiznia commented on #4082
If you can, that would be great, otherwise tests would fail for all open PRs... if you compile a list of missing translations, I can provide the translations in spanish for you.

[2021-07-19 14:31] mallenexpensify commented on #4028
Posted to Upwork, assigning an engineer to review.
https://www.upwork.com/jobs/~011663eb89a2b43197

[2021-07-19 14:32] rdjuric commented on #4080
@Julesssss So something like
1. Wrap our Login steps in a `KeyboardAvoidingView`
2. Move our `Text` for `state.formError` to stay above our submit `Button`
3. Set the `state.formError` to false if the user taps on forgot password

[2021-07-19 14:39] Julesssss commented on #4080
Thanks for the proposals and suggestions.

@parasharrajat and @rdjuric, you both helped to refine and suggest good solutions. In this case I'll accept @rdjuric's proposal this time, as you have been assigned fewer issues than Rajat recently, and both proposals are similar.

[2021-07-19 14:47] rdjuric commented on #4132
This happens because we're adding a listener to our `InvertedFlatList` wheel events in the web.
https://github.com/Expensify/Expensify.cash/blob/fc965f68d308167d19d00a29b91e85ca33707882/src/components/InvertedFlatList/index.js#L35-L37
We need this listener as adding the `inverted={true}` prop to a FlatList [will also invert the wheel direction.](https://github.com/necolas/react-native-web/issues/9

[2021-07-19 15:02] Julesssss commented on #4135
Hey @tugbadogan, thanks for the proposal. While that solution should work, I wonder if it's possible to instead modify this condition:
[code]

To something like:
[code]

If it's possible to make this check, then storing an array of recent sequence numbers might not be necessary.

[2021-07-19 15:08] rdjuric commented on #3172
I can't repro this on staging. Can you give more details @isagoico?

<img width="880" alt="Screen Shot 2021-07-19 at 12 06 18 PM" src="https://user-images.githubusercontent.com/53711423/126182636-c3219828-d913-45a9-9537-1a0812ac0cf3.png">

[2021-07-19 15:14] isagoico commented on #3172
This was a mistake on my part. Issue was not reproducible during KI retests 🎉 fixing the comment.

[2021-07-19 15:20] iwiznia commented on #3770
Oh crap, of course... I don't know how to solve that, so yeah, let's go ahead with that for now, all will fall into place when we kill the beta and release to everyone.

[2021-07-19 15:20] parasharrajat commented on #4082
Added them already. Please review.

[2021-07-19 15:24] shawnborton commented on #3770
Just to make sure I am following along, what exactly will be implemented and when? I think we should follow the standard process here where we utilize @Expensify/design to help create mockups of the best solution for this particular UI.

[2021-07-19 15:25] iwiznia commented on #3981
Yep, I get that too seemingly randomly, not even sure if I need to go away for it to happen, I think not.

[2021-07-19 15:26] parasharrajat commented on #4080
@Julesssss  I never meant to propose a solution for this. Otherwise it would have been state  as `PROPOSAL`. I just thought of giving it a right direction bcz I saw many proposal trying to take it into different directions.

[2021-07-19 15:29] iwiznia commented on #3770
We are adding the language selector to the login screens, you have video/screenshots in [here](https://github.com/Expensify/Expensify.cash/issues/3770#issuecomment-882048970) and [here](https://github.com/Expensify/Expensify.cash/issues/3770#issue-930915119)

[2021-07-19 15:31] dklymenk commented on #3770
Yes, since there is there is no hurry with this one, we can wait for mock ups.

Thanks.

[2021-07-19 15:31] shawnborton commented on #3770
I don't think we should show a persistent select menu - it takes up a lot of screen real estate and most users probably won't even be interacting with this so I would love to do something smaller/more discreet. What are your thoughts on that?

[2021-07-19 15:32] Julesssss commented on #4080
Ah, no worries. Thanks for the help anyway.

[2021-07-19 15:33] #2846 closed

[2021-07-19 15:33] iwiznia commented on #3770
I am totally fine with that, we can hide it behind a button or some other component... or whatever you think is best really 😄

[2021-07-19 15:36] dklymenk commented on #3770
I agree, as I state in my original post: "I will obviously adjust the styles the whatever would be preferred by your design team".

So I'm ready for pretty much anything you throw at me.

[2021-07-19 15:43] parasharrajat commented on #2846
Ah, Need to update the ref here in E.cash.

[2021-07-19 16:07] tgolen commented on #4028
OK, I understand the concern that @parasharrajat is bringing up. I agree that having the ESC key work like a browser's back button is not idea. Although, I do see from the code that this was the original way ESC was implemented.

I think ESC should work just like the `x` button on the modal.

@rushatgabhane Could you please update your proposal to include that refactoring of the behavior of the ES

[2021-07-19 16:12] tgolen commented on #3901
@rdjuric Could you submit a proposal for this, please? It looks like the behavior in the video is pretty close to what's desired.

[2021-07-19 16:31] NicMendonca commented on #3599
@roryabraham bumping @aliabbasmalik8's proposal ☝️

[2021-07-19 16:34] rushatgabhane commented on #4028
@tgolen Sure, I'd add `Navigation.closeDrawer()` as the callback for Escape key.

[2021-07-19 16:40] thienlnam commented on #3381
@Viacheslav80 Yup, the expectation from the react-native patch is to fix the inverted prop.  There was more discussion about this solution [here](https://github.com/Expensify/Expensify.cash/issues/1341).  But the solution doesn't _need_ to be merged into the main branch to be considered complete - it just needs to fix the `inverted` prop in FlatList and also continue to work when it is not `invert

[2021-07-19 16:59] mallenexpensify commented on #3381
Raised price to **$8000**, created a new Upwork job, and updated the title to `React Native - Fix Inverted prop on the FlatList component with a RN Patch #3381 Expensify`.
https://www.upwork.com/jobs/~01a4a59d0c8d74eae5

[2021-07-19 17:37] NikkiWines commented on #3892
Hi @qiweiii, could you expand upon your proposal a little bit more, including some more specifics about what changes you'd be making?

[2021-07-19 17:59] marcaaron commented on #3892
The original solution is loosely based on [this SO post](https://stackoverflow.com/questions/4079115/can-any-desktop-browsers-detect-when-the-computer-resumes-from-sleep). And there's another suggestion to put the logic inside a web worker so that might be an option.

[2021-07-19 18:08] dklymenk commented on #3381
Hello, I'm sorry but I have to ask again about the expected deliverable.

The actual implementation for `inverted` prop is not in [`FlatList`](https://github.com/necolas/react-native-web/blob/master/packages/react-native-web/src/vendor/react-native/FlatList/index.js), but in [`VirtualizedList`](https://github.com/necolas/react-native-web/blob/master/packages/react-native-web/src/vendor/react-nativ

[2021-07-19 18:16] robertjchen opened #4138 "Test Issue for QA"

[2021-07-19 18:33] parasharrajat commented on #3819
@michaelhaxhiu Any update on the Upwork job for this? Also could we please follow this https://github.com/Expensify/Expensify.cash/issues/3819#issuecomment-881052637 ? I will submit the fix asap.

[2021-07-19 18:33] trjExpensify commented on #4105
Looking at the screenshot, the common theme seems to be the colon `:` in the URL. Anything after that gets cut off. I tested that theory and it seems to hold up:

![image](https://user-images.githubusercontent.com/16232057/126207583-5c6524e7-0795-47c7-b596-b32438133cfd.png)

With that, I've updated the OP of the issue.

[2021-07-19 18:48] marcaaron commented on #4027
1 second seems like a good target to me. Did a few tests on Android, but pretty much tells us what we already know... 😅

| App       | Cold Launch Time |
|----------------|------------------|
| Gmail          | < 1 second       |
| Cash app       | < 1 second       |
| WhatsApp       | < 1 second       |
| Expensify.cash | ~ 5 seconds      |

[2021-07-19 18:49] robertjchen commented on #4138
Re-opening and re-assigning for erosion test!

[2021-07-19 18:50] yuwenmemon commented on #4074
Hmmm... I'm actually not seeing this on the latest version of Master:
![Screen Shot 2021-07-19 at 11 48 35 AM](https://user-images.githubusercontent.com/4741899/126211626-0678f961-53c3-453d-9db3-abe4f98d7459.png)

What kind of Android device was it specifically?

[2021-07-19 19:04] parasharrajat commented on #4105
I just adjusted the Path Regex to this

[code]
And it is working fine and the whole test suite passed. Please tell me if there are more types of URLs that need to be added to Test Suite.

[2021-07-19 19:14] marcaaron commented on #4046
Just a heads up, I think the next E.cash release should be blocked on the next Auth deploy which should include the changes [here](https://github.com/Expensify/Auth/pull/5780).

[2021-07-19 19:34] trjExpensify commented on #4105
Interesting, what's the difference with what looks like a `:` in the list already? (right after the `?`)

@mallenexpensify seems to have found this one as well, but the single quotation mark (`'`) also seems included in the Path regex already? 🤔

![image (86)](https://user-images.githubusercontent.com/16232057/126216567-7c5d7cdc-245f-41cc-8912-3e263644ff8c.png)

[2021-07-19 19:45] marcaaron commented on #4046
I'm looking for someone to help test https://github.com/Expensify/Expensify.cash/pull/3967, but I don't think it needs to block the next release build of Expensify.cash. The feature is still behind a beta and we can keep testing until it's ready to come off the beta.

[2021-07-19 19:52] shramee commented on #3381
Submitted a proposal on UpWork, will need to investigate the issue first before I can tell what the fix is going to be like.

[2021-07-19 20:20] rafecolton commented on #4111
Proposed fix is to change the text to `Not email@example.com? Sign in with email and password.` @Expensify/design any thoughts on this issue?

[2021-07-19 20:41] parasharrajat commented on #4111
I think it is too big. My suggestion `Not email@example.com? switch here| change here | change it`

[2021-07-19 20:41] marcaaron commented on #3889
Did some testing on web and it looks like a single `onLayout` callback attached to the `FlatList` may also be good enough. I just used my eyeballs and waited for a console log to appear when the callback fires. The messages appear on screen at the same time the callback fires so it's good enough for me.

[2021-07-19 20:41] marcaaron commented on #3889
Gonna send a PR to clean this up + simplify.

[2021-07-19 20:51] rafecolton commented on #4111
The problem with that is it's confusing if the email address is correct, which is the use case that prompted this issue.

[2021-07-19 20:51] AhmedMustafa2201 commented on #4132
Good work

[2021-07-19 21:03] parasharrajat commented on #4105
Ok, I found the issue with `'`. We are escaping the string before matching the URLs using `Str.safeEscape`. It escapes
[code]
So at the time of matching `'` will be &#x27; that's why the match fails.

[2021-07-19 21:05] rdjuric commented on #4105
The `:` in `?:` is part of the regex syntax, it's used to define a non-capturing group.

[2021-07-19 21:06] kevinksullivan commented on #3960
Hired! Waiting till all relevant PRs have been merged for 7 days, then will make the payment.

[2021-07-19 21:08] parasharrajat commented on #4105
Again, I think escaping the URL with htmlentities will make it incorrect. so it's is better to unescape it.

[2021-07-19 21:11] NicMendonca commented on #4109
Posted to Upwork: https://www.upwork.com/jobs/~012f859a8ff2c9153a

[2021-07-19 21:18] marcaaron commented on #4116
I maybe want to suggest holding on solving this one in particular, but curious if others agree. In my own testing, this component doesn't seem to have a great impact on chat switching times. I removed it completely from the code and the slowness related to switching from one chat to another was **still present**.

Which tells me that the highest value improvements will be to improving rendering sp

[2021-07-19 21:20] kevinksullivan commented on #3419
@NikkiWines are you able to lead the charge on follow up issues? Or are there certain engineers that would be well suited to do so?

[2021-07-19 21:21] thienlnam commented on #3381
@dklymenk Great questions! After taking a look at the files you linked it does look like the web implementation uses `VirtualizedList` which will be file that needs to be patched.

We would just want to make sure that the FlatList still works as intended on mobile and the changes did not mess up its default functionality.  Additionally, we'd probably test these changes on mobile web, web, and desk

[2021-07-19 21:23] thienlnam commented on #3381
@shramee
Thanks for the interest! As part of the process of [Working on Expensify Jobs](https://github.com/Expensify/Expensify.cash/blob/main/CONTRIBUTING.md#working-on-expensify-jobs), you'll have to propose a solution and post it in this Github issue. More details [here](https://github.com/Expensify/Expensify.cash/blob/main/CONTRIBUTING.md#propose-a-solution-for-the-job)

[2021-07-19 21:24] jboniface commented on #4080
invite sent to @rdjuric

[2021-07-19 21:26] parasharrajat commented on #4137
We have applied a height of 18px to the chat title and if we remove that it fixes two issues.
this one &

[2021-07-19 21:28] jboniface commented on #3959
@tgolen please check Rajat's proposal when you get a chance!

[2021-07-19 21:30] yuwenmemon commented on #4137
@parasharrajat interesting, I'm confused how that fixes it because the line-height pointed to for #4074 is 20px?

[2021-07-19 21:36] parasharrajat commented on #4137
yes, Line-height is 20 so text will expand vertically but height is set to 18, and overflow is hidden so 2px will be trimmed.

To test this. just set the height to 15px at https://github.com/Expensify/Expensify.cash/blob/47494884adb24d23226edb0eb7d22d8240ecf979/src/styles/styles.js#L801-L806

[2021-07-19 21:40] parasharrajat commented on #4074
So @yuwenmemon This issue started showing up when Rory moved the RN `text` to our `Text` component. Previously Line-height and height were set to 18px which had no issues. https://github.com/Expensify/Expensify.cash/blob/47494884adb24d23226edb0eb7d22d8240ecf979/src/styles/styles.js#L801-L806.

Now line height will be taken from Text component default which is 20 so issues are coming. We are in dis

[2021-07-19 21:41] francoisl commented on #4110
@pranshuchittora any ideas? Looks like you last modified the page in https://github.com/Expensify/Expensify.cash/pull/3079 🙏

[2021-07-19 21:44] marcaaron commented on #4106
Did some A/B testing with context menu logic removed and it looks like we could maybe shave off about ~500ms from every chat switch by refactoring this. Here are some rough numbers (also keep in mind this was in iOS simulator + using the production API)...

| Avg. Chat Switch Time w/ Context Menu | Avg. Chat Switch Time w/ Context Menu removed | Difference |
|----------------------------------|---

[2021-07-19 21:48] marcaaron commented on #3671
This happened to me again similar logs.

[code]

[2021-07-19 22:00] johnmlee101 commented on #3355
Good to know! Once the other issue is closed I'll make sure to close this one out too

[2021-07-19 22:01] shawnborton commented on #3770
What about something like this?
![image](https://user-images.githubusercontent.com/2319350/126232966-f54ea13f-e62c-4cc8-8a0d-57e3b08119b8.png)

Do you think this would work as a picker, or do we need to do something else with how the actual options menu is launched?

[2021-07-19 22:10] jsamr commented on #4116
@marcaaron I just want to emit one hypothesis though: if other elements in the render tree of each cell suffer from the same lag (e.g. some subscribed values are emitted very lately), then your testing would have missed its target. Perhaps it would be interesting, although quite an endeavor, to render a list from hard-coded data (with the same HTML content to render) in order to efficiently assess

[2021-07-19 22:10] NikkiWines commented on #3419
Unfortunately, I can't take on handling the follow up issues for this. I think @Julesssss probably has the most context for these issues having built out our IOU functionality, but not sure what his workload is like.

[2021-07-19 22:29] mallenexpensify commented on #3381
Spent a couple hours digging around, emailing some folks and posting in some repos/issues.

https://discord.com/channels/102860784329052160/103882387330457600/866765536410206239

adrien@harnay.me
https://github.com/facebook/react-native/pull/31288

 me@simek.dev Bartosz
https://github.com/facebook/react-native/pull/31288

https://www.reddit.com/r/reactnative/
Checking with moderator before posting

[2021-07-19 22:33] Jag96 commented on #3599
@aliabbasmalik8 I have the same question that @roryabraham had previously, why does not trimming the `newDraft` fix the issue here?

[2021-07-19 22:38] Jag96 commented on #4026
I'm unable to reproduce this as well, going to remove the Engineering label and unassign since there's nothing we can do here until we are able to reproduce consistently

[2021-07-19 23:03] aliabbasmalik8 commented on #3599
@Jag96 right now `not trimming` fixed the issue.
I mentioned here https://github.com/Expensify/Expensify.cash/issues/3599#issuecomment-877697045

and the first point(that mentioned in the first proposal) is already resolved.

[2021-07-19 23:15] marcaaron commented on #4116
Ah, let me see, so in this case, `ReportActionCompose` there is only one per chat. My naive assumption is that by removing it entirely (all other things being equal) the chat screen should render faster. But it does not have a noticeable impact (this is w/out any benchmarks and me just using my eyes).

[2021-07-19 23:17] Jag96 commented on #3599
@aliabbasmalik8 can you provide an example to explain **_why_** not trimming fixes the issue? I don't understand what the actual issue is and how not trimming the value fixes it.

[2021-07-19 23:22] quinthar commented on #4116
Am I correct in understanding that Peter's PR adds a repeatable benchmark
timing code? Can you test it using that?

On Mon, Jul 19, 2021, 4:15 PM Marc Glasser ***@***.***> wrote:

[2021-07-19 23:30] jliexpensify commented on #3976
Posted to Upworks: https://www.upwork.com/jobs/~018c8d66df51ad9ec9

[2021-07-19 23:31] jliexpensify commented on #3976
Hi @iwiznia - would you mind checking out @ABee-Tech 's proposal? Thanks!

[2021-07-19 23:38] sophiepintoraetz commented on #4026
Maybe we should close until it can be and someone reopen? Or let Melvin do their thing?

[2021-07-19 23:49] aliabbasmalik8 commented on #3599
@Jag96
we used `selection` in `TextInputFocusable` props so when we update the message then `selection(cursor position)` also update and if we use space at the end of the message then trim will remove that space so `selection(cursor position)` goes beyond the message length so it'll create this issue

https://github.com/Expensify/Expensify.cash/blob/57f557cd31198a631305b617c374f2418eb5e9fa/src/pag

[2021-07-20 00:17] qiweiii commented on #3892
Hi @NikkiWines , I will create another file under lib/SleepTimer for the web worker, it will listen for 'start' and 'stop' messages, on 'start', it will start the setInterval, on 'stop', it will clearInterval, it also posts 'skewed' message when time is skewed.

This web worker will be used in `addClockSkewListener` function in `index.js`, the callback passed in `addClockSkewListener` will be call

[2021-07-20 00:43] Jag96 commented on #4026
I'm okay with leaving it open and letting Melvin erode the issue so we don't lose the context in this issue 👍

[2021-07-20 00:50] marcaaron commented on #4022
A simple observation (perhaps not surprising) but if we set the `initialNumToRender` for the `FlatList` to be very low + remove the loading spinner then the chat navigation happens very fast which seems to suggest that the time it takes to render items + the number rendered initially will also have a big impact (naturally we are rendering less of them - so if they are expensive to render then rend

[2021-07-20 01:38] quinthar commented on #4022
To clarify, if you do this, will it only show one chat -- or will it start
showing one row, and then immediately backfill the rest?

On Mon, Jul 19, 2021 at 5:50 PM Marc Glasser ***@***.***>
wrote:

[2021-07-20 01:39] quinthar commented on #3892
Out of curiosity, for my own benefit, what is this timer for?  What are we doing on a recurring basis -- I would think we'd only do this when we reconnect, and not do anything on a polling cycle?

[2021-07-20 01:59] marcaaron commented on #4116
So far we've seen it used to more broadly show the total time Onyx spent working.

@kidroca Is there a way we can use your tool to granular and maybe see how much time a single component and all its children spent communicating with Onyx?

If not, one idea for how to do it would be

- start a timer when `withOnyx()` mounts
- end it when all data is available and the wrapped component renders

That

[2021-07-20 02:04] dklymenk commented on #3770
This would work. Functionally it's the same as the current picker menu, but scaled down and also some color change. We can do that no problem.

[2021-07-20 02:23] marcaaron commented on #4022
Correct, it shows one row immediately. Then backfills the rest. Here's a video of what it looks like compared to what it looks like with the loading spinner + front-loading the report with 20 comments instead of 1

**Loading Spinner + initialNumToRender = 20**

https://user-images.githubusercontent.com/32969087/126252296-e68a0b60-b6a7-4a73-a891-42856153be67.mp4

**No loading spinner + initialNumTo

[2021-07-20 02:40] quinthar commented on #4022
Well that seems a huge improvement, right?

On Mon, Jul 19, 2021 at 7:23 PM Marc Glasser ***@***.***>
wrote:

[2021-07-20 02:48] ABee-Tech commented on #3976
Thank you @jliexpensify @iwiznia
I have summited the proposal.
I am looking forward to hearing from you.

[2021-07-20 03:19] JmillsExpensify commented on #3623
Made Upwork posting private in the meantime.

[2021-07-20 03:33] marcaaron commented on #3892
It provides a way to detect when you've opened a laptop or come back from sleep. IIRC when it was added we were relying on `NetInfo` to tell us that you had went from "offline" to "online" (the state change triggers a reconnect event). So you'd be "online" then close your laptop and `NetInfo` would not register you as "offline". When you open your laptop again we won't register that happening at a

[2021-07-20 03:46] marcaaron commented on #4022
I think so, but the effect is slightly more noticeable with a larger chat...

https://user-images.githubusercontent.com/32969087/126258234-486f10f5-e59b-4529-a2df-2086dc070c51.mp4

Mostly, I think there's likely a sweet spot where we:

1. make messages more performant to load (whether through refactors or Onyx improvements)
2. approximate an ideal number of messages to initially render based on th

[2021-07-20 03:50] JmillsExpensify commented on #3921
@rdjuric Made public and ready for you! Thanks

[2021-07-20 03:50] FredericoGauz commented on #3381
I spent sometime investigating the possible causes of this problem. From what I could understand this is a CSS bug where (possible by using the same implementation) many css-only ways of inverting elements on a list will create issues when selecting and copying those same elements.

https://jsfiddle.net/v09o1nr2/1/

I believe that a possible solution would be to investigate possible CSS only solut

[2021-07-20 03:53] marcaaron commented on #4086
Ok, that makes sense to me. I dug into this a bit and I think maybe we should explore a solution like that.

[2021-07-20 04:07] quinthar commented on #4022
I'd love to experience it with just one chat loading

On Mon, Jul 19, 2021, 8:46 PM Marc Glasser ***@***.***> wrote:

[2021-07-20 04:09] quinthar commented on #3892
I'm not quite following how a bad timer could cause constant reconnects,
can you walk me through it?

On Mon, Jul 19, 2021, 8:34 PM Marc Glasser ***@***.***> wrote:

[2021-07-20 04:25] Christinadobrzyn commented on #2430
Per discussion with Matt, I've increased the price of this project to $1000.

External job is posted here: https://www.upwork.com/jobs/~010e6f0cefe915336a

[2021-07-20 04:52] marcaaron commented on #3892
Definitely. Here's an explanation + a theory on what is happening:

**How the sleep timer works**
1. The timer ticks away and records a time when the computer isn't asleep
2. If the computer goes to sleep then the timer can't record the the time anymore
3. When the computer comes back from sleep we compare the last value we have with the next one we are able to record
4. If it's past the threshold

[2021-07-20 04:56] marcaaron commented on #4022
https://user-images.githubusercontent.com/32969087/126264077-dfed5cd4-a4a1-459b-8c7c-c507a8f85fc7.mp4

[2021-07-20 04:58] quinthar commented on #4022
Oh sorry, I meant let's deploy this!

[2021-07-20 05:02] Jag96 commented on #3599
@aliabbasmalik8 thanks for the explanation, that sounds reasonable to me. @roryabraham is out this week, so @NikkiWines if you don't have any other questions I think this is good to move forward!

[2021-07-20 05:33] MonilBhavsar commented on #4138
Updated

[2021-07-20 05:35] marcaaron commented on #4116
Quick update on that idea above... I tried hooking up a basic start/end trace to `withOnyx` to get some timing information for how much "waiting" we are actually doing. It seems like there is a cascading effect where components are waiting for the data from Onyx, but also waiting for each other to get that data first. I'm not 100% sure this is happening but this data seems to suggest it is since t

[2021-07-20 05:46] quinthar commented on #4116
Whoa.  So what does that mean, and how do we fix it?

On Mon, Jul 19, 2021, 10:35 PM Marc Glasser ***@***.***>
wrote:

[2021-07-20 06:33] parasharrajat commented on #4026
I know reason for this. To reproduce this you can switch between user accounts and you will see few requests retried. Answer is simple, We send some requests asynchronously when user is logged in. But when user logs out, those outgoing requests will not be terminated. Now as you don't have token and queue is paused, requests will be retried. There is a PR to improve the queue which will help remov

[2021-07-20 08:14] laurenreidexpensify commented on #4137
https://www.upwork.com/jobs/~012ff356b5e14b72c7

[2021-07-20 09:19] Julesssss commented on #4135
Rory is OOO, so I'll handle this one.

[2021-07-20 09:25] Julesssss commented on #3419
I can probably assign and work on the IOU API sometime next week, but the Onyx storage eviction is a larger project which I'm not able to take on currently. Maybe that is for the best, as we will have a better idea of the Onyx issue once all the IOU reports are being retrieved.

[2021-07-20 10:55] Julesssss commented on #4137
I'm not 100% sure about this, but it looks like we'll apply the fix within @yuwenmemon's [PR? ](https://github.com/Expensify/App/pull/4143). If not, please let me know and we'll seek a proposal on this issue instead.

[2021-07-20 11:13] iwiznia commented on #3976
Sorry, @ABee-Tech can you give me a bit more context on what you are proposing? Where should [that code](https://github.com/Expensify/App/issues/3976#issuecomment-878785059) go?

[2021-07-20 12:21] kidroca commented on #4116
It only works for promise based functions, and help us track how much time we spent reading/writing individual keys. It's not suitable to measure render, but the print/export functionality developed there can help

Instead of patching Component code with start/end I found this: `import { Profiler } from 'react'`
This `Profile` component can be used to wrap whatever part of the app needs measuring:

[2021-07-20 12:53] ABee-Tech commented on #3976
@iwiznia  The changes will go to ./src/pages/settings/NewPasswordForm.js line 129:28.

[2021-07-20 12:58] kidroca commented on #4116
I'm not sure what are you observing
- you see the data getting logged monotonically - waits for an item to render and then renders another?
  - if the items are chat messages this comes from the current FlatList configuration `maxToRenderPerBatch={1}`. I've observed this effect, where an initial count if items render and then +1 item gets rendered each 0.5-1s. This is actually costing more CPU tim

[2021-07-20 13:05] iwiznia commented on #3976
I see, but I don't get it, why is the && version not working properly?

[2021-07-20 13:20] ABee-Tech commented on #3976
On line 75:5 the function `showPasswordMatchError` is causing problem. As, empty string on the state `this.state.confirmNewPassword` will be rendered as undefined.
In react-native prefer using ternary operator rather than logical conditionals.

[2021-07-20 13:26] iwiznia commented on #3976
Sorry, but I don't get it still. We use that pattern of `someCondition && (<ReacComponentHere>)` in many places of the app, why is it not working here and it is in all other places?

[2021-07-20 13:33] ABee-Tech commented on #3976
Thats only the case for if your state has chance to become empty. The empty string is considered as text so it should be rendered within `<Text>` component You can recreate the error any time by just putting `{''}` outside <Text> component.

[2021-07-20 13:42] tugbadogan commented on #4135
Hi @Julesssss

Yes we can use `(action.originalMessage.type === 'pay')` condition to display previously settled IOU reports.
We already check `total != 0 `condition here. So we don't need to add again.

https://github.com/Expensify/App/blob/2e81800fdcfd9432141385ca9377494f0ad1a0f4/src/components/ReportActionItem/IOUPreview.js#L92-L94

It will look like this:
<img width="550" alt="Screenshot 2021-0

[2021-07-20 13:56] NicMendonca commented on #3601
This issue is not longer a priority. Ended contract in Upwork. Thanks everyone!

[2021-07-20 13:56] #3601 closed

[2021-07-20 13:57] iwiznia commented on #3976
I am having a hard time following what you are saying...

What state property exactly is becoming empty in this case? And by empty do you mean `""`?

[2021-07-20 14:03] Julesssss commented on #4135
Great! Please feel free to make a start while we get the UpWork issue created.

[2021-07-20 14:06] tugbadogan commented on #4135
I have already applied on Upwork. I will send the PR soon.

[2021-07-20 14:07] Julesssss commented on #4135
Oh right, Christina has already created the issue :)

[2021-07-20 14:18] ABee-Tech commented on #3976
Yes empty means `""`. State that is becoming empty is `confirmNewPassword`. Because of that the function `showPasswordMatchError()` will returning `""`.
This will render the Text component that will be showing the `passwords don't match` error as:

[code]

[2021-07-20 14:21] rdjuric commented on #3355
Sounds good @johnmlee101! I think you need to accept/deny the proposal on the other issue

[2021-07-20 14:36] MubeenQazi commented on #3770
1-The proposal is to add a language selector on the login screen so that users can change the preferred language whether they are logged in or not

2) the Second solution is to show users the region default language according to their lat long but we need to request location from the users for that,  and then show the region default language and also show them an option to change their preferred l

[2021-07-20 14:37] iwiznia commented on #3976
Ohhh got it, sorry for the time it took me 😄
ok, so I think a better solution would be to change `showPasswordErrorCode` to return a boolean, like so:
[code]
@jliexpensify can you hire @ABee-Tech in upwork please?

[2021-07-20 14:54] FredericoGauz commented on #3381
A possible js-only solution would be something along the lines of:

`in react-native/FlatList/index.js`

` render(): React.Node {
  const {numColumns, columnWrapperStyle, ...restProps} = this.props;
  const invertedDataPatch = this.props.inverted ? this.props.data.reverse() : this.props.data

    return (
      <VirtualizedList
        {...restProps}
        data={invertedDataPatch}
        getIte

[2021-07-20 14:55] MitchExpensify commented on #3859
Hey @parasharrajat, I'd say this is a good discussion Slack channel if you'd like to bring it there! (Probably won't get many eyes on it here)

[2021-07-20 15:07] Drewfergusson commented on #3313
@roryabraham @puneetlath I left a comment in the PR ([link](https://github.com/Expensify/App/pull/3931)) that it's ready for review, just following up here.

[2021-07-20 15:13] johnmlee101 commented on #3296
@rdjuric Sounds good! Let's go with @roryabraham 's suggestion and make sure its cross-platform as opposed to platform agnostic.

[2021-07-20 15:14] isagoico opened #4146 "Store `myPersonalDetails.timezone.automatic` as a bool"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
N/A

## Expected Result:
`myPersonalDetails.timezone.automatic` should be stored as a bool

## Actual Result:
`myPersonalDetails.timezone.automatic`

[2021-07-20 15:21] NicMendonca commented on #3172
Thanks everyone!

[2021-07-20 15:21] #3172 closed

[2021-07-20 15:34] isagoico opened #4147 "[Hold for Payment on 2 August] Some emojis have a different style and size than the rest of the emojis"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel! Upwork post [here](https://www.upwork.com/jobs/~01385060d92c4c2081)
___

## Action Performed:
1. Log in to e.cash
2. Navigate to a conversation and open the emoji picker
3. S

[2021-07-20 15:48] shawnborton commented on #3770
@dklymenk sounds good - we have a small button style that we can model the picker menu off of in terms of height and font size (28px tall, 11px font size)

[2021-07-20 16:04] HorusGoul commented on #4112
Should we just call the [`UrbanAirship.clearNotifications()`](https://docs.airship.com/reference/libraries/react-native/latest/urbanairship-react-native/classes/_urbanairship_.urbanairship.html#clearnotifications) function inside the `redirectToSignIn()` function?

That would remove all Push Notifications related to the account when logging out, and with that, the notification dot in both platform

[2021-07-20 16:07] rafecolton commented on #4112
In addition to that, I think the app should check when it starts up if it's signed out and clear the notifications then. I'm concerned that if somebody gets logged out due to a bug rather than explicitly signing out, it won't clear the notifications. I don't know how `redirectToSignIn()` works though, so that may be sufficient.

[2021-07-20 16:22] HorusGoul commented on #4112
We could call the `clearNotifications()` function inside this if block to cover that case:

https://github.com/Expensify/App/blob/04e830b256b0141027c067c7e89c091306a862d2/src/Expensify.js#L100-L104

[2021-07-20 16:24] mallenexpensify commented on #3729
Shouldn't this issue have been closed once the PR was merged or when it hit production?
@MitchExpensify , can you review, pay in Upwork then close this issue?
I went to do it in Upwork but saw this message from you and got confused
![image](https://user-images.githubusercontent.com/22508304/126360503-d3c729b5-0c2a-4511-aec2-8c33d3d953e8.png)

[2021-07-20 16:43] michaelhaxhiu commented on #3819
@Expensify/contributor-management I'm offline right now and need a buddy to help unblock @parasharrajat . Looks like @roryabraham is OOO right now!

[2021-07-20 16:49] marcaaron commented on #4116
@quinthar In the simplest terms, I think connecting any component via `withOnyx()` adds a significant delay to the child component's rendering (whether the values it needs are cached or not). So, it would be wise to not have our individual list items subscribed to Onyx. Or come up with another way to share Onyx data with them.

@kidroca Just to clarify, if we are using the profiler to measure the

[2021-07-20 16:54] rdjuric commented on #3729
I think this is the message I sent to mitch on Upwork 😅

[2021-07-20 16:56] parasharrajat commented on #4105
PR is up https://github.com/Expensify/expensify-common/pull/396.

[2021-07-20 16:57] MitchExpensify commented on #3729
Paid! Apologies for the delay @rdjuric

[2021-07-20 16:57] #3729 closed

[2021-07-20 17:03] MitchExpensify commented on #3841
Just a note to say I'll keep an eye on the [PR](https://github.com/Expensify/App/pull/3881) and process the payment to you in Upwork @rushatgabhane once its been merged for 7 days

[2021-07-20 17:06] marcaaron commented on #4116
@kidroca we might be cherry picking information that supports some theories we each want to believe 😅

Yes, there are examples where it becomes incrementally faster for each subsequent component. But also look at this burst of `ReportActionContextMenu` and you'll see each one takes slightly longer than the next. Any ideas why?

[code]

Anyways I'm not sure what it all means haha I thought it was i

[2021-07-20 17:16] Julesssss commented on #4008
Started on this today. I've been following the config steps [listed in this issue](https://github.com/Expensify/App/pull/3877) to build a release build that can receive notifications.

The release build is taking 10 minutes 😩  but at least the setup steps are completed for more progress tomorrow. I'm also seeing an infinite spinner on login, which seems to be occurring on the latest `main` commit:

[2021-07-20 17:22] NikkiWines commented on #3599
No further questions from me. @NicMendonca you're good to hire @aliabbasmalik8 for this job.

[2021-07-20 17:37] stitesExpensify commented on #3041
I agree, I don't think this is a problem.

[2021-07-20 17:38] mallenexpensify commented on #3729
@rdjuric thanks for comment, makes sense now.
@arielgreen going back to 'shouldn't this issue have been closed' - Our new process will NOT close the issue so what I should have said was 'shouldn't an automated comment have been added stating that the PR had been merged?

Also, our new process will be adding `Awaiting payment` and `Weekly` labels to issue once the PR is merged so that contributor m

[2021-07-20 17:39] pranshuchittora commented on #4110
Not able to reproduce the same

<img width="1440" alt="Screenshot 2021-07-20 at 11 04 56 PM" src="https://user-images.githubusercontent.com/32242596/126370184-9f77b1b6-1649-485b-b4a1-4455938dbcde.png">

[2021-07-20 17:42] marcaaron commented on #4109
Sorry, I'm taking this over 😈

[2021-07-20 17:44] AndrewGable commented on #4075
@Jag96 / @marcaaron - Can you confirm this fix is live since Auth was deployed and we can close this?

[2021-07-20 17:45] arielgreen commented on #3729
@mallenexpensify ah, yeah I think you're correct; _might_ be due to what @MonilBhavsar was saying elsewhere, that since this is an older issue it wasn't in the DB so it didn't get the automated comment.

[2021-07-20 17:46] mallenexpensify commented on #3819
Hired then paid in Upwork, should be all good here

[2021-07-20 17:51] yuwenmemon commented on #4137
@Julesssss yep, https://github.com/Expensify/App/pull/4143 should fix this too.

[2021-07-20 17:59] mallenexpensify commented on #3895
@stephanieelliott this should be to pay, right?

[2021-07-20 17:59] laurenreidexpensify commented on #3924
sorry @parasharrajat I missed this one - would you be able to confirm if it's still an issue?

[2021-07-20 18:04] parasharrajat commented on #3924
Yes. Try opening [this](https://staging.new.expensify.com/details/mallen%40expensify.com) url.

[2021-07-20 18:06] mallenexpensify commented on #3858
Paid in Upwork

[2021-07-20 18:07] marcaaron commented on #4075
Yes, it's working for me now!

[2021-07-20 18:07] #4075 closed

[2021-07-20 18:08] marcaaron commented on #4046
Checking off #4075

[2021-07-20 18:14] francoisl commented on #4110
Right, it's only reproducible with Safari ≤ 14.0.x, which makes it difficult if you're already on Safari ≥ 14.1

I had to use https://www.browserstack.com/ to test with on Safari 14.0.

[2021-07-20 19:16] rdjuric commented on #4118
We've decided to showing the day of the week instead of tomorrow/yesterday?
In our `ParticipantLocalTime`:
1. In the `getParticipantLocalTime`, check if the day of our timezone is different than the day of the `reportRecipientTimezone` using `moment`
2. If it is, display the day of the week before the time in our `this.state.localTime`

[2021-07-20 19:22] johnmlee101 commented on #4118
Do we need to receive it as a prop? We get the timezone here: ec5430f7cd614c6854/src/pages/home/report/ParticipantLocalTime.js#L44

[2021-07-20 19:24] aman-atg opened #4155 "Any whitespace should be trimmed from these places to avoid bugs"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

Places where extra whitespace is causing trouble :-

## Search Page
1. search for an email
2. add extra space
3. result will disappear

![image](ht

[2021-07-20 19:24] aman-atg commented on #4155
### Proposal :

Inside,  `src/pages/home/report/EmojiPickerMenu/index.js `   on line 277

the line :- `   const normalizedSearchTerm = searchTerm.toLowerCase();`   _can be changed to_
`const normalizedSearchTerm = searchTerm.toLowerCase().trim();`
 which will take care of all the whitespaces.

[2021-07-20 19:26] aman-atg opened #4156 "Adding a space before the search term is giving totally different results"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login to E.cash
2. Open any chat
3. Click the emoji picker
4. Add a space and start typing any letter (Eg. t )

## Expected Result:
Should have

[2021-07-20 19:27] aman-atg commented on #4155
This proposal can fix #4156 as well

[2021-07-20 19:28] rdjuric commented on #4118
This is the timezone of the other participant that we pass as a prop here
https://github.com/Expensify/App/blob/f75961876aff1f6eb9dc3fec5430f7cd614c6854/src/pages/home/report/ReportActionCompose.js#L436
We didn't need to check our own timezone in the `ParticipantLocalTime` before (as we only cared if it was different, and we checked for that [here](https://github.com/Expensify/App/blob/f75961876af

[2021-07-20 19:37] dklymenk commented on #3770
@shawnborton
Is there any way I can get my hands on that mockup file, so I can get all the margins like you have them on your screenshot without have to use a ruler? :D

[2021-07-20 19:39] kidroca commented on #4116
@marcaaron
With just the duration it's hard to tell, perhaps it's not just the next `ReportActionContextMenu` rendering, what if all the previous items are forced to re-render for some reason?

What's the exact implementation for this?

No this only measures the time it took to render or update the component

In my data here https://github.com/Expensify/App/issues/4116#issuecomment-883371384 you c

[2021-07-20 19:44] shawnborton commented on #3770
Well I think the inner content of where you will be editing is actually already wrapped within something that has the correct padding outside of it. But the [Figma file is here](https://www.figma.com/file/E8mgPW9ns9EXr8V2LAKE9B/Sign-Up-Sign-In?node-id=705%3A1156) if you are curious!

[2021-07-20 19:50] dklymenk commented on #3770
Thank you!

Better be sure about it before I shoot a bunch of videos for PR with UI that has some wrong pixel values.

[2021-07-20 19:56] parasharrajat commented on #3047
@Jag96 Let's open another issue for other tags. I see many complaints about it.

[2021-07-20 20:00] isagoico commented on #3047
## Make hyperlinks editable in chat comments

## Action Performed
1. Send this a link using the []() hyperlink markdown to a conversation
2. Click on edit the comment and save without making any changes

## Expected result
Hyperlink markdown should be visible when editing the comment

## Actual result
Hyperlink markdown is removed when editing the comment and then it's saved as plain text.

**Note

[2021-07-20 20:38] tgolen commented on #4028
OK, thanks! That should do the trick. 🟢 to work on this.

[2021-07-20 20:41] marcaaron commented on #3041
Ok. gonna close then. Thanks!

[2021-07-20 20:41] #3041 closed

[2021-07-20 20:42] tgolen commented on #3959
I'm OK with the CSS route. Is that going to make sure that android and ios are consistent too?

[2021-07-20 20:45] parasharrajat commented on #3959
Yeah. I think Android or IOS does not have an outline for focused elements. And for those elements which we want to show outline, are already configured to show correct one using `addOutlineWidth`. But I will double-check this.

[2021-07-20 20:55] tgolen commented on #3959
Hm, OK. That sounds like things would still not be consistent then across platforms, since ALL web elements would get the outline, but android/ios would have it only for specific elements with `addOutlineWidth`.

[2021-07-20 20:55] tgolen commented on #3959
So maybe using `addOutlineWidth` across all platforms would be the most consistent approach then.

[2021-07-20 20:59] parasharrajat commented on #3959
No so Global styles would be overwritten by `addOutlineWidth`. There are many elements on the Web that are not configured to show outline but the browser shows a default outline. So it's better to tackle them via Global style and native devices do not have default outlines so no elements show outline unless added.

[2021-07-20 21:00] rdjuric commented on #3921
@JmillsExpensify I can open the link now, but when I try to submit the proposal I get a **"Only invited users can find, view and apply to the job"** message 😅

[2021-07-20 21:09] tgolen commented on #3959
OK, but with your proposal above, it would ADD a default outline to everything in web. Shouldn't the global style be removing the outline from everything by default, and then `addOutlineWidth` would add it to the elements necessary? I guess I'm expecting the global style to be:

[code]

[2021-07-20 21:12] parasharrajat commented on #3959
I am not sure if disabling the outline is a good idea. It's better to pull the design team for that. We just closed one of the issues https://github.com/Expensify/App/issues/3041 like that.

Yeah, this style will be used to hide them but if we want to hide.

[2021-07-20 21:21] tgolen commented on #3959
Sorry, I'm not quite sure what you mean here. Can you please restate that?

[2021-07-20 21:22] parasharrajat commented on #3959
I mean,
[code]
can be used to hide, but only if we want to hide outlines.

[2021-07-20 21:31] tgolen commented on #3959
Ah right, gotcha. So, I think if the problem is "focus styles aren't consistent across platforms", then on web, hiding all outlines by default would fix that problem. Right?

[2021-07-20 21:33] shawnborton commented on #3959
Late to the convo here, but hiding the outline styles might be a bad idea for accessibility right?

[2021-07-20 21:35] parasharrajat commented on #3959
Yes, hiding outlines is bad.

[2021-07-20 21:37] tgolen commented on #3959
OK, yes, that probably is. But what I'm trying to say is that while the problem that this issue describes is solved by the proposal, it also opens up a brand new issue where focus styles are still inconsistent between platforms. Because in web, any focused element will have an outline now, whereas android/ios will only get outlines for ones that are configured to have outlines.

[2021-07-20 21:41] parasharrajat commented on #3959
We already have outlined on WEB but not on Native devices. And you want to fix this problem thus remove outlines on the web. Keeping selected elements aside.

I am saying we set the color correctly as the outline is important. There are few things the web handles differently.

[2021-07-20 21:47] tgolen commented on #3959
OK, I think this is the part I didn't realize. If web already has a default focus for everything, then at least we aren't creating a new problem. In that case, making the colors consistent is at least a step in the right direction.

🟢

[2021-07-20 23:47] quinthar commented on #3892
Oh got it, the theory is that for some reason on my Chrome desktop browser,
the timer is sleeping for extended periods while it's not in the foreground
tab, and that is tricking the tab into thinking the laptop is going offline
and online -- and every ime it does, it tries to fetchAllActions()?

And the proposed solution is to use a background worker, which we think
will be more reliable?

On Mon,

[2021-07-21 00:02] Christinadobrzyn commented on #4135
Awesome! Sent an offer to @tugbadogan!

[2021-07-21 00:58] alex-mechler commented on #4147
Looks nice and ripe for a contributor to fix!

[2021-07-21 01:02] puneetlath commented on #4108
@rdjuric your solution sounds good. Can you apply to the up work job here: https://www.upwork.com/jobs/~019447d8dcb5836434?

[2021-07-21 01:05] puneetlath commented on #3971
@Expensify/design what should this be now that we moved from expensify.cash to new.expensify? Should the tab title just be "New Expensify" permanently?

[2021-07-21 01:09] rdjuric commented on #4108
Hey @puneetlath!

We decided to wrap our login steps (including `PasswordForm`) in a `KeyboardAvoidingView ` in another issue: https://github.com/Expensify/App/issues/4080

Do I still apply to this Upwork job even if it's the same fix as to #4080?

[2021-07-21 01:16] puneetlath commented on #3774
Upwork job is here: https://www.upwork.com/jobs/~01e207fbfcd341dd7f

@aliabbasmalik8 since you replied first, can you take this on? If so, please apply to the Upwork job. Thanks!

[2021-07-21 01:19] puneetlath commented on #4108
Ah cool! Thanks for pointing that out to me. Let's just close this out since it's a dupe of that one. Thanks!

[2021-07-21 01:19] #4108 closed

[2021-07-21 01:28] shawnborton commented on #3971
That makes sense to me.

[2021-07-21 02:03] rdjuric commented on #4147
I think this happens because some unicode characters can be represented in text style and in emoji style.

![a](https://user-images.githubusercontent.com/53711423/126418786-72a98f90-feab-412a-8c5a-df78c1f8d2cf.jpg)

This is controlled by adding a [variant selector ](https://en.wikipedia.org/wiki/Variation_Selectors_(Unicode_block)) to the base unicode of our emoji. We can display our unicode chars

[2021-07-21 02:18] rdjuric commented on #4080
Sent a proposal on Upwork @jboniface

[2021-07-21 03:32] aliabbasmalik8 commented on #3774
@puneetlath Applied for the job.

Here is my proposal: https://www.upwork.com/ab/proposals/1417688506986590209

Thanks

[2021-07-21 05:29] rushatgabhane commented on #4155
@aman-atg I think it'll be a good idea do an audit, and fix it in a combined issue.

[2021-07-21 05:58] aman-atg commented on #4155
@rushatgabhane Agreed, I'll see where else this issue is occurring and update #4155.

[2021-07-21 06:24] Christinadobrzyn commented on #4118
Posted job in Upwork:

Internal job post: https://www.upwork.com/ab/applicants/1417732027235254272/job-details
External job post: https://www.upwork.com/jobs/~01e1259985646da02d

Invited @rdjuric to the job

[2021-07-21 06:49] parasharrajat commented on #4147
I don't think this fixes the core issue. As we are not seeing text version of emoji but still the size is small.

[2021-07-21 07:47] SofiedeVreese commented on #4147
I'm going to reassign this issue as I'm out of office, on vacation, from this afternoon for 10 days.

[2021-07-21 08:03] kp17211 commented on #3892
Hi, I think this issue is due to heartbeat miss in socket, once heartbeat is missed it try to connect again and in this reconnecting  process “fetchAllReports” api is called.

To solve this issue we can update heartbeat interval and from backend and also modify frontend code to handle this case like keep watch and wait for some time before calling API again

[2021-07-21 08:23] ghorbani-m commented on #3381
@thienlnam Based on my investigation I find out we just need a patch for react-native-web package because this package does not have a direct dependency on the react-native package. you can see the VirtualList implementation diffs [here](https://www.diffchecker.com/iCIPADZR).

My approach is to override the getItem prop in the VirtualList component in the react-native-web package.
Actually, this a

[2021-07-21 08:23] dklymenk commented on #3770
@shawnborton I have noticed that legal text on the figma you've sent does not have `text-align: center;` style. Is this a mistake, or should I actually remove it as part of the redesign in my PR?

[2021-07-21 08:44] aman-atg commented on #4155
# Updated Proposal :

## For Search Page
https://github.com/Expensify/App/blob/683bcf408fce0bfa7551f8d4498c818b13170778/src/pages/SearchPage.js#L131
* should be changed to
[code]

## For Profile Page
https://github.com/Expensify/App/blob/683bcf408fce0bfa7551f8d4498c818b13170778/src/pages/settings/Profile/ProfilePage.js#L196-L197
* We can fix this problem from occurring if ``isButtonDisabled `` rem

[2021-07-21 08:53] dklymenk commented on #3770
@kevinksullivan I'm sorry, but I've either missed it, or you haven't sent me a response to my proposal.

Thanks.

[2021-07-21 09:10] Julesssss commented on #4137
@laurenreidexpensify should we also close the UpWork issue?

[2021-07-21 10:49] ABee-Tech commented on #3976
Yes, that's better. but we should write Boolean in place of Bool.
like this:
[code]

[2021-07-21 11:08] iwiznia commented on #3976
Oh, sorry, yes, Bool is not a thing 👍

[2021-07-21 11:11] ABee-Tech commented on #3976
Thank you for all your help and support. 😃

[2021-07-21 11:16] jliexpensify commented on #3976
Hired @ABee-Tech !

[2021-07-21 12:33] dklymenk commented on #3770
@iwiznia  PR #4134 is ready for review.

@shawnborton I have not removed `text-align: center;` from legal text since it looked like a mistake. Please let me know if that's not the case, and I'll update the PR accordingly.

[2021-07-21 13:30] aman-atg opened #4161 "App crashing while creating a group"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to e.cash
2. Open Menu and Choose New Group
3. Enter any random name so that the options list becomes empty
4. Hit Enter

## Expected Resul

[2021-07-21 13:30] aman-atg commented on #4161
### Proposal :
https://github.com/Expensify/App/blob/683bcf408fce0bfa7551f8d4498c818b13170778/src/components/OptionsSelector.js#L132-L136

* Here, we are getting ```allOptions``` as an empty array which is ultimately causing the function to select  ```undefined``` as a row.
* This can be fixed if we check for allOptions' length and break if it's equal to 0
[code]

[2021-07-21 13:40] parasharrajat commented on #4161
Its a regression @rushatgabhane I believe you were working on the Enter feature.

[2021-07-21 13:45] aman-atg commented on #4161
@parasharrajat Thanks for the input, but that's not the case.
I already checked that
@rushatgabhane didn't touch this file https://github.com/Expensify/App/blob/683bcf408fce0bfa7551f8d4498c818b13170778/src/components/OptionsSelector.js

[2021-07-21 13:51] rdjuric commented on #4161
This looks like a dupe of https://github.com/Expensify/App/issues/4056. This also happens with arrow navigation.

[2021-07-21 14:05] rushatgabhane commented on #4161
@parasharrajat I worked on adding Enter feature for Button. #3785
This isn't a regression from that because the event listeners are removed when component unmounts.

[2021-07-21 14:13] rushatgabhane commented on #4161
@parasharrajat yeah, I was working on Enter feature for button. But this isn't a regression as the event listeners are removed on component unmount.
Cheers! 🙂

[2021-07-21 14:15] aman-atg commented on #4161
@rdjuric closing since it's basically same as #4056

[2021-07-21 14:15] #4161 closed

[2021-07-21 14:51] aman-atg opened #4163 "[HOLD for payment] "No results found" message is missing when there're no search results for New Chat/New Group/Main Search"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to e.cash
2. Open Main Search / New Chat / New Group
3. Type random word so that there're no search results

## Expected Result:

![image](

[2021-07-21 14:52] aman-atg commented on #4163
### Proposal :

https://github.com/Expensify/App/blob/683bcf408fce0bfa7551f8d4498c818b13170778/src/components/OptionsList.js#L212-L214
* Need to use ```  {this.props.translate('common.noResultsFound')} ```  instead of   ```    {this.props.headerMessage} ```
* Import required files

[2021-07-21 15:14] puneetlath commented on #3971
Started a discussion here about it: https://expensify.slack.com/archives/C01GTK53T8Q/p1626880473073100

[2021-07-21 15:16] puneetlath commented on #4028
Great. I went ahead and hired @rushatgabhane in Upwork.

[2021-07-21 15:18] puneetlath commented on #3774
Great! I went ahead and hired you in Upwork @aliabbasmalik8.

[2021-07-21 15:25] shawnborton commented on #3770
I actually did make the `text-align: left` on purpose as I thought it looked better given that the logo was on the left edge and the language selector was on the right edge. What do you think?

[2021-07-21 15:28] dklymenk commented on #3770
Ah, yeah. Now that I look at it, it makes sense. Thanks for the classification, I'll push the change shortly.

[2021-07-21 16:15] parasharrajat commented on #4106
Is Anyone working on this? If not, I am up for the task. Rory has laid a good foundation of what needs to be done here https://github.com/Expensify/App/issues/4106#issuecomment-881755914

[2021-07-21 16:26] dklymenk commented on #3770
Legal text is now aligned the left. PR updated.

Thanks.

[2021-07-21 16:26] quinthar commented on #3892
Do we immediately fetch all when this timer says we've been asleep, or only
when Pusher says it had to reconnect?

If the issue is that Pusher is truly losing the connection, that is
different than simply this heartbeat timer being inaccurate.

That said come up I'm not sure why we would trigger a major refresh if
Pusher still thinks it's connected? Or is the issue that Pusher thinks it
is connect

[2021-07-21 16:54] parasharrajat commented on #3959
@shawnborton What would be the outline color?

[2021-07-21 17:09] marcaaron commented on #3892
Thanks @kp17211, but I'm going to mark your comment as off-topic to avoid confusion.

To be clear, this has nothing to do with a heartbeat or Pusher.

[2021-07-21 17:23] marcaaron commented on #3892
One thing to keep in mind is that we improved the API logic for this so the refresh that occurs is more efficient than it was previously (this change is still on staging but insanely fast by comparison).

I'm not positive so this will require investigation, but I believe Pusher might think it's connected before and after we go to sleep, but isn't able to receive updates while we sleep. So there is

[2021-07-21 17:30] quinthar commented on #3892
This just feels very unlikely to me -- this is an issue that would affect like 100% of Pusher customers, so it really seems like they would view this as a bug (or architectural flaw) and fix it.  Have you confirmed this with them?

[2021-07-21 17:32] marcaaron commented on #4106
No and @roryabraham plan sounds good to me.

[2021-07-21 17:40] marcaaron commented on #3892
My memory is hazy, but I want to say that we were not relying on Pusher's reconnect events when this was created. So, I think the important thing to agree on is the possibility that we may not need this code at all. And whoever picks this up should first verify that then we can look into web workers.

[2021-07-21 17:52] AndrewGable commented on #4119
Looks like a great external issue 🤙

[2021-07-21 18:05] marcaaron commented on #4116
I pushed up a branch [here](https://github.com/Expensify/react-native-onyx/compare/marcaaron-benchmarkWithOnyx?expand=1) if you want to assess the idea.

Please let me know if there's some easier way to derive it. Of course, I would appreciate a better solution :) I'm not seeing how to use the profiler to tell the time from: withOnyx` mount -> `WrappedComponent` render

Haha ok, well then I'd prop

[2021-07-21 18:14] shuklaalok7 commented on #4118
I came here after looking at the Upwork job, but looks like it's almost fixed and @rdjuric is going to implement it. All the best.

[2021-07-21 18:23] aliabbasmalik8 commented on #3774
@puneetlath Can I reduce tap time for web/desktop?
because this issue also happens on web/desktop but in issue only android and ios mentioned.

[2021-07-21 18:25] quinthar commented on #3774
We should have the same tap duration for all, yes.

On Wed, Jul 21, 2021 at 11:24 AM aliabbasmalik8 ***@***.***>
wrote:

[2021-07-21 18:25] aliabbasmalik8 commented on #3774
Okay, Got it
Thanks

[2021-07-21 18:41] helaoutar commented on #4119
This would be fixed by adding a `align-items: center` to `settingsPageBody` within `src/styles/styles.js`.

[2021-07-21 18:47] aliabbasmalik8 commented on #4119
**PROPOSAL**

position can fix by adding `alignItems: 'center',` at this position.
https://github.com/Expensify/App/blob/2d673cc1cc77c57182439e48eed92d5fc9946e5b/src/styles/styles.js#L1406

and also a minor update `<Logo />` from `<Logo height={100} />`
https://github.com/Expensify/App/blob/2d673cc1cc77c57182439e48eed92d5fc9946e5b/src/pages/settings/AboutPage.js#L92

and for size, we need big size

[2021-07-21 18:56] yuwenmemon commented on #4146
Hmmm... I'm seeing this for some users but not others...
<img width="686" alt="Screen Shot 2021-07-21 at 11 55 37 AM" src="https://user-images.githubusercontent.com/4741899/126544178-dd19b941-5101-486d-a3cd-b363aaca1ce4.png">

[2021-07-21 19:01] mallenexpensify opened #4168 "Update all mentions of expensify.cash to new.expensify.com"
Update all mentions of expensify.cash to new.expensify.com

Places to look
External
- Upwork
      - Job post template?
      - Company profile?
- Contributing.md
- in new.expensify.com product
- in expensify.com product
- community.expensify.com
- marketing materials?
- Social media?
- Upwork.

Internal
- Stack Overflow

cc @arielgreen because of https://github.com/Expensify/Expensify/issues/1629

[2021-07-21 19:04] stitesExpensify commented on #3922
Blocker is merged

[2021-07-21 19:11] yuwenmemon commented on #4146
... Which tells me the problem is with a "setter" somewhere, but no matter how hard I try I can't get my `timezone.automatic` to turn into a String...

[2021-07-21 19:13] parasharrajat commented on #4146
This is a bug in Onyx that will allow you to override the values on the store. You can directly modify the props that are coming from Onyx and it will update that value on localstorage.

[2021-07-21 19:15] parasharrajat commented on #3922
Cool. PR is will be ready asap.

[2021-07-21 19:15] yuwenmemon commented on #4146
@parasharrajat I'm sorry I'm having a hard time understanding what you mean. Can you provide an example of what you're talking about?

[2021-07-21 19:16] yuwenmemon commented on #4146
Are you implying that @Beamanator somehow _manually_ changed his `timezone.automatic` to be a String?

[2021-07-21 19:16] marcaaron commented on #4027
Ideas for more actionable issues we can breakout...

1. Start benchmarking the cold start time so that we have a better idea of how long it takes (some ideas [here](https://blog.bam.tech/developer-news/measuring-and-improving-react-native-apps-startup-time))] TL;DR use Firebase.
2. Improve code splitting
3. Audit the amount of JS that is executing when the app first boots.
4. Maybe defer some of t

[2021-07-21 19:17] parasharrajat commented on #4146
Yeah. It is possible. I did this earlier.

[2021-07-21 19:22] Beamanator commented on #4146
I've manually changed my timezone a few times recently but I don't remember manually changing `timezone.automatic` to be a String 😆

[2021-07-21 19:24] NicMendonca commented on #3599
@aliabbasmalik8 can you please [apply for the job](https://www.upwork.com/jobs/~01b31c0c7bf061f50b) in Upwork so we can start the contract? Thanks!

[2021-07-21 19:25] stephanieelliott commented on #3895
Paid up in Upwork.

[2021-07-21 19:25] #3895 closed

[2021-07-21 19:28] #3923 closed

[2021-07-21 19:31] aliabbasmalik8 commented on #3599
@NicMendonca applied for the JOB.
Here is my PROPOSAL: https://www.upwork.com/ab/proposals/1417930058476466177
Thanks

[2021-07-21 19:32] NicMendonca commented on #3599
@aliabbasmalik8 hired! Feel free to spin up the PR now. Thanks!

[2021-07-21 19:36] stephanieelliott commented on #4106
Moving this along, @bondydaa sounds like the proposed solution is here: https://github.com/Expensify/App/issues/4106#issuecomment-881755914

[2021-07-21 19:37] kidroca commented on #4106
IMO it's possible to extract this entirely from the action item, and instead of having a menu item/s per each action item have the context menu at the root level. You can use an `event` associated with the action item in question e.g. on long press - position and provide context to the popup menu

[2021-07-21 19:38] yuwenmemon commented on #4146
I haven't been able to find where this is magically getting set to a String. I highly doubt it's due to folks manually changing their `timezone/automatic` to a String by overriding Onyx though.

We could just apply a band-aid and change `timezone.automatic` to a Bool in this method: https://github.com/Expensify/App/blob/6b9d7739c1216836223bc8af3fdef427647ee68f/src/libs/actions/PersonalDetails.js#L

[2021-07-21 19:39] stephanieelliott commented on #4101
Setting this to monthly due to @marcaaron's comment around uncertainties on how it would work. @chiragsalian please update the label as needed based on how things develop!

[2021-07-21 19:40] JmillsExpensify commented on #3921
Done@ Thanks so much and sorry again for the trouble!

[2021-07-21 19:40] marcaaron commented on #2667
PRs related to capturing metrics have been merged

[2021-07-21 19:43] yuwenmemon commented on #4146
Perhaps found another issue where we have not added `timezone` to the set of details that are updateable via the API [here](https://github.com/Expensify/Web-Expensify/blob/e0cd4f0c14bf89cd4c9c03d64c27882ea788b84e/lib/PersonalDetailsAPI.php#L272).

[2021-07-21 19:45] #2938 closed

[2021-07-21 19:45] marcaaron commented on #4101
Adding a planning label until we can make this more actionable. One idea I shared that might be useful (or not)...

https://expensify.slack.com/archives/C01GTK53T8Q/p1626895469088100

Which is basically to test out Proposal 2 in the issue description and then report the results.

**It's less clear to me how we should go about:**
- incorporating the Context API
- synchronous changes to Onyx (since

[2021-07-21 19:54] stephanieelliott commented on #3572
Job in Upwork is here: https://www.upwork.com/jobs/~0180725decbdd185e0

Heads up @Santhosh-Sellavel, we'll want to agree on a comprehensive proposal here in the GH issue before hiring in Upwork. Once you settle on the solution you'd plan to implement, please post it here in the issue as a comment.

[2021-07-21 20:01] parasharrajat commented on #4106
That is a plan all along.

[2021-07-21 20:13] quinthar commented on #4106
Does that mean that you are currently working on this? Is this your top
focus? When is your estimate that it will be complete?

On Wed, Jul 21, 2021, 1:02 PM Rajat Parashar ***@***.***>
wrote:

[2021-07-21 20:19] parasharrajat commented on #4106
@quinthar I have not started yet. Need a :green_circle: signal. But I expect it achieve in the mid of next week.

[2021-07-21 20:26] quinthar commented on #4106
Marc does he have the green light?  If not what is blocking it?

On Wed, Jul 21, 2021 at 1:19 PM Rajat Parashar ***@***.***>
wrote:

[2021-07-21 20:32] Santhosh-Sellavel commented on #3572
Already completed, Even PR is merged https://github.com/Expensify/App/pull/4062

@stephanieelliott

[2021-07-21 20:35] yuwenmemon commented on #4146
I haven't been able to reproduce. I see that it exists for some accounts already, but those accounts can simply toggle their `timezone.automatic` in E.Chat, and the situation self-resolves:
![Kapture 2021-07-21 at 13 34 47](https://user-images.githubusercontent.com/4741899/126556544-79a6e731-1e61-4c1a-9d06-f4b43dbbfe9f.gif)

So, to me, it seems like this stems from a bug that was already fixed. Go

[2021-07-21 20:35] #4146 closed

[2021-07-21 20:47] marcaaron commented on #4027
@NikkiWines @JmillsExpensify Since we haven't gotten much action I'm going to close this Upwork posting so I can start investigating the plan laid out above. I think this is one of the most important things we can look at perf wise.

[2021-07-21 20:58] marcaaron commented on #4106
@quinthar I will expedite this.

[2021-07-21 21:14] parasharrajat opened #4169 "[HOLD for payment August 4) Fix message Editing and pasting issues."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
### ISSUES
1.  Editing a message with special characters reveals the html coding instead of the character
https://expensify.slack.com/archives/C01GTK53T8Q/p16267881180107

[2021-07-21 21:22] parasharrajat commented on #4169
### Proposal
1. We need to escape our message before we show that for editing.
To fix this we update https://github.com/Expensify/expensify-common/blob/7d8408c5c78792394eee8e079f115b1380221a23/lib/ExpensiMark.js#L301
[code]
2. We should exclude all the tags that are not visible on UI but could be contained in HTML. For now, I can think of style and script.

For this, we need to add a new rule to `

[2021-07-21 21:24] shawnborton commented on #3959
I suppose we could make the outline color the same color that we use for :focus on inputs, which is our brand blue?

That being said, a lot of products have different outline colors based on the element. Take GitHub for example:

![image](https://user-images.githubusercontent.com/2319350/126561994-b830e2a8-a07d-46a8-a0a5-f9c15ebcba5c.png)

![image](https://user-images.githubusercontent.com/2319350

[2021-07-21 21:33] parasharrajat commented on #3959
Yes. Those individual elements already reflect what is assigned to them.

[2021-07-21 21:39] parasharrajat commented on #3790
@Jag96 any update here? Thanks

[2021-07-21 23:07] thienlnam commented on #3381
@FredericoGauz
Thanks for your investigation!

I think this would probably be the most ideal solution and one that would probably be most likely to get merged into the main branch.  If there is a bug with the CSS causing this odd behavior then it would be best to try to figure out why it is happening and how to fix it / how to update the css so that it is fixed

Solving this in JS is definitely an

[2021-07-21 23:09] thienlnam commented on #3381
@ghorbani-m
Hey Mati, thanks for your interest and time!

Yup, as you mentioned, the actual component that would be modified would be VirtualizedList which was talked about briefly https://github.com/Expensify/App/issues/3381#issuecomment-882752617.  As I mentioned above, ideally we'd try to fix the CSS issue first

[2021-07-21 23:39] Jag96 commented on #3790
Paid!

[2021-07-21 23:39] #3790 closed

[2021-07-21 23:40] Jag96 commented on #3940
This has been fixed by https://github.com/Expensify/App/pull/3946, closing

[2021-07-21 23:40] #3940 closed

[2021-07-21 23:40] thienlnam commented on #4130
In the video you put in the description, it looks like we're actually getting a response back of invalid amount so it seems like this is handled in the back-end but just needs some front-end handling for when we get that error message

[2021-07-21 23:41] thienlnam commented on #4130
Luckily, my friends only owe me 99 million instead of 100 million :trollface:

[2021-07-21 23:47] Jag96 commented on #3970
Paid!

[2021-07-21 23:47] #3970 closed

[2021-07-21 23:49] FredericoGauz commented on #3381
Hi @thienlnam,

What I meant by the css issue is the fact that this seems to be an issue within the css itself. As you can see in my fiddle:

https://jsfiddle.net/v09o1nr2/1/

It is very simple and you can copy the HTML and run directly in the browser. If you do that you can see that it has the same issues that you are having in RN.

What RN is doing is a double Y  inversion CSS trick to have a vi

[2021-07-21 23:54] Jag96 opened #4171 "[HOLD for payment Aug 4] [P2P in E.cash] Add the Balance Badge to the Payments Settings Option"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

Upwork link: https://www.upwork.com/jobs/~017a88221b02e85314

## New Feature

[Master Issue](https://github.com/Expensify/Expensify/issues/154278)
[Doc Section](https://docs

[2021-07-21 23:55] FredericoGauz commented on #3381
Yes, I was saying that one solution would be to fix the css itself as I don't think that this odd coping, pasting and highlight behavior when using things like flex order to invert divs blocks would be intended behaviour by the creators. It looks like a bug but I think that working toward fixing it in the CSS implementation itself would not be a reasonable thing to be within the scope of this issu

[2021-07-22 00:10] parasharrajat commented on #4171
This is StraightForward.
1. I will update the MenuItem Component to Show an optional `Badge` near the arrow based on the prop `badgeText`.
2. We will get the balance from the `ONYX.USER_WALLET.balance`.
3. In the MenuItem Array we will check if the payments item is rendered show the balance.
https://github.com/Expensify/App/blob/7e395c50834631b9f5e918c168256f27837c24b2/src/pages/settings/InitialPa

[2021-07-22 00:14] deetergp commented on #4107
It looks like there's something in the edit box suppressing the use of context menus all together. I think this is something on which an external contractor should be able to work.

[2021-07-22 00:28] parasharrajat commented on #4107
Yes @deetergp `PressableWithSecondaryInteraction` prevents the Context-menu or right-click which blocks the default menu from opening.
https://github.com/Expensify/App/blob/7e395c50834631b9f5e918c168256f27837c24b2/src/components/PressableWithSecondaryInteraction/index.js#L33

To fix this we can add a prop to `PressableWithSecondaryInteraction`, called `preventDefault` which will be set to `true` b

[2021-07-22 00:52] Jag96 commented on #4030
@pranshuchittora are you able to take care of this regression?

[2021-07-22 01:39] marcaaron commented on #4027
Looking into setting up a regular benchmark via Firebase that will record:

1. Time it takes to boot the app (automatic with Firebase Performance package)
2. Time it takes from launch til JS to be evaluated - can be set up easily with a native module

https://github.com/Expensify/Expensify/issues/171518

[2021-07-22 02:01] Christinadobrzyn commented on #4118
Hired @rdjuric for this project! 🎉

[2021-07-22 03:26] marcaaron commented on #3381
I just want to give this conversation a nudge in a different direction since I think there's been some good back and forth but we are sending some mixed signals.

Agree. Let's take this off the table. It seems like an unrealistic goal.

Thanks for that, but not on the table and not what we are looking to do.

Exactly! This unsatisfactory implementation of VirtualizedList is precisely what we are l

[2021-07-22 05:19] ghorbani-m commented on #3381
@marcaaron We could also apply my solution to the RN VirtualList component to improve the inverted feature and remove the CSS hacks.

I have overridden the getItem somehow to invert the data order when the inverted prop is true, even with this approach we don't have any overload to invert big data.

Even though I don't think so changing the RN source code fixes the "Copying and Pasting on _Web and

[2021-07-22 05:57] MonilBhavsar commented on #4138
@parasharrajat can you please assign yourself to this issue. We need to test some integration.

[2021-07-22 06:29] RushirajJhala commented on #3892
I think issue is due to addClockSkewListener
if any api take more time than 8000ms (set in above function)
due to any reason like, internet connection speed is slow , server is slow or more data or parsing time is more etc..
than it will set isSkewed = true and call fetch api again.

Simple solution is increase waiting time
else we can also put check and make sure it don't call again if any old re

[2021-07-22 06:39] isagoico commented on #4046
@AndrewGable The checklist issue is back, I think there was a CP and a bunch of PRs (that are not in staging) were added to the list. I gave it a look and I think none of these should be in the checklist:
1. https://github.com/Expensify/App/pull/4139
2. https://github.com/Expensify/App/pull/4018
3. https://github.com/Expensify/App/pull/4049
4. https://github.com/Expensify/App/pull/4139
5. https://

[2021-07-22 07:24] Santhosh-Sellavel commented on #4130
If I request in Rupees ₹100,000,000, Request fails.

But If request in pound £10,000,000, Request success.

Now User Owes more than ₹1,000,000,000.

100 Million rupees is invalid if I ask in rupees.
But I can ask 1 billion rupees if asked in £ pound.

![Screenshot_20210722-124946_Expensifycash.jpg](https://user-images.githubusercontent.com/85645967/126603133-95e52bac-13fa-46f2-8fd2-d2fc36c12543.jp

[2021-07-22 09:17] laurenreidexpensify commented on #3950
@parasharrajat just a heads up, i'm having issues with issuing payment on Upwork - I will try again in a few hours

[2021-07-22 10:43] aman-atg commented on #4111
Hi @rafecolton,  `Sign in with email and password.` looks little wrong since User can in fact choose to sign in with Phone Number as well.
And as we're basically going back to the signup page. I think a better solution would be `Not email@example.com? Go back.`
and We can wrap only the `Go back` text with `TouchableOpacity`.

It will look like this :
![image](https://user-images.githubusercontent.

[2021-07-22 12:10] trjExpensify commented on #4168
@MitchExpensify & @kevinksullivan have been working on this since it became a N6 deliverable and not an N5 one. Did you check that milestone? Most of the changes are already in the works, waiting to be deployed and so on: https://github.com/Expensify/Expensify/issues/161396

[2021-07-22 13:25] trjExpensify commented on #4155
I like the idea of an audit and combined issue to clean this up! Assigning to `Engineering` for review. 👍

[2021-07-22 14:19] laurenreidexpensify commented on #3950
Paid 👍🏽

[2021-07-22 14:19] #3950 closed

[2021-07-22 14:23] rdjuric commented on #4147
But we're seeing the text style of those unicode chars, at least in the screenshots shared here and in my tests in the main branch. It's not only the size that is small, we're displaying a different variant than the one we intended.

[2021-07-22 14:23] FredericoGauz commented on #3381
Hi @marcaaron Thank you for the detailed reply!

I am looking for possible solutions, what would be a "_true_ inverted list"? As far as I can see we are either looking at doing some reversing at the script level or trying to style it out via CSS. But from what I can see, all the solutions in CSS use either techniques that are not easy to be made general for such a tool like RN or they have the sam

[2021-07-22 14:24] laurenreidexpensify commented on #4012
Paid 👍🏽

[2021-07-22 14:24] #4012 closed

[2021-07-22 14:31] Julesssss commented on #4119
Hi @helaoutar. As you submitted the first proposal would you like to take the issue?

[2021-07-22 14:33] laurenreidexpensify commented on #4137
Removed from Upwork 👍🏽

[2021-07-22 14:42] laurenreidexpensify commented on #3924
@parasharrajat I'm struggling to replicate this - can you record this happening so I understand a bit better? Thanks!

[2021-07-22 14:42] jboniface commented on #4119
@helaoutar I went ahead and hired you for this.

[2021-07-22 14:50] parasharrajat commented on #3924
@laurenreidexpensify take a look at this video. let me know if it is still unclear to you.

https://user-images.githubusercontent.com/24370807/126659681-0c35944f-c372-4769-97c6-a6f339a87128.mp4

[2021-07-22 14:59] jboniface commented on #3959
reminder to self to pay bonus for this (if i fail to do this let me know, raj)

[2021-07-22 15:18] laurenreidexpensify commented on #3924
ah perfect thanks - yeah just reproduced and observed same behaviour. Sending this to our engineering team for review 👍🏽

[2021-07-22 15:55] johnmlee101 commented on #4155
Yeah seems like `.trim()` will be needed in a lot of places! @aman-atg feel free to take this over!

[2021-07-22 15:57] MitchExpensify commented on #4168
Curious what you think we're missing [here](Expensify/Expensify#161396) @mallenexpensify. We can add it there!

[2021-07-22 15:59] stephanieelliott commented on #3572
Ah ok thanks for clarifying @Santhosh-Sellavel. Looks like https://github.com/Expensify/App/pull/4063 was the PR merged for this fix. I hired you on Upwork, please accept the offer and we will pay up for the issue + reporting bonus ASAP!

[2021-07-22 16:29] megankelso commented on #4111
hi there, I'm noticing that the font here isn't our brand font GT America Exp Regular, not sure what's causing that?

I'm fine with the "go back"  but I wonder if we should edit the line above, `Just click on it to log in!` reads a bit confusing with  the big button below. Maybe `We've sent a magic sign in link to your email. ` instead?

cc @Expensify/marketing

[2021-07-22 16:33] stephanieelliott commented on #3572
7-day regression period was already completed, paid in Upwork!

[2021-07-22 16:33] #3572 closed

[2021-07-22 16:33] marcaaron commented on #3381
I'm not sure we need to reverse anything. `VirtualizedList` basically uses fixed positions to place items + create whitespace offsets. So we would need to change the logic for positioning those items so it works in an inverted style.

Thanks for this feedback and perspective! We definitely understand that this won't be easy to get merged into the RN codebase for political or other reasons. But the

[2021-07-22 16:50] rafecolton commented on #4111
I like the sound of `We've sent a magic sign in link to your email.` better, and I'm also fine with "Go back." - good call @aman-atg about being able to log in with a phone number too. Pulling in somebody from marketing to comment on exact words and capitalization/punctuation.

[2021-07-22 17:01] Julesssss commented on #4008
Okay, after some further issues with Ngrok and finding a workaround to the infinite spinner, I was able to make progress.

**Setup Process**
- Follow '[Get a prod build running](https://github.com/Expensify/App/pull/3877#issue-682923014)' steps
- Disable [these lines](https://github.com/Expensify/Web-Expensify/blob/13cd128d192e674776c2dd8ba2dddd5daa12e011/partners/UrbanAirship/push.php#L25-L30) in

[2021-07-22 17:20] Julesssss commented on #4008
I'm starting to wonder if we should change our plan here. It seems to me that the goal of always having Onyx up to date is unrealistic in practice, as the OS's do not want us to do this and actively work against us if we don't follow the recommended practices:

**1)** We don't seem to drop the missing notifications. Android OS blocks notifications after a while, but once the cooldown period ends a

[2021-07-22 17:24] marcaaron commented on #3892
Ok, I tested this a bit more thoroughly and it seems that Pusher _should_ handle the case where we are reconnecting when the laptop was closed then open. Let's just remove this code for now that is causing problems. If we run into any issues then we can raise that with Pusher.

[2021-07-22 17:29] NikkiWines commented on #4147
@rdjuric your proposal looks good! @laurenreidexpensify can you hire them for this role? Thanks!!

[2021-07-22 17:30] FredericoGauz commented on #3381
Thanks for the reply @marcaaron, I didn't understand what you meant by this:

From what I understand this component is "dumb" in regards to the data (and data ordering). It only renders the items in the ordering that it receives from the `props.data`, the inversion is purely "cosmetic" and, like you said, works on the style only.

I don't know what we could do code level to "fix" the style since t

[2021-07-22 17:31] #3792 closed

[2021-07-22 17:38] marcaaron commented on #3381
To be clear, I don't know what it would take to do this. But I don't see why the order of the items themselves would need to change. I'd imagine it would work like this:

- Data passed in with a certain order
- List component starts at index 0 and determines the ideal placement of the first item starting from the bottom of the scroll view
- Move to index 1 and place it above that one
- And so on..

[2021-07-22 18:47] FredericoGauz commented on #3381
I see, so you want to have an inverted _placement_ of the items, instead of an inversion of the items themselves.

My main concern would be that the component would have to "know" that the data was inverted, instead of just behaving as if it was in the right order.  Again, this might have a impact related to how many points of contact would have to be touched in this approach. I will take a look a

[2021-07-22 18:56] marcaaron commented on #3381
That's where the `inverted` prop would come in :) And yes, can't say that it will be easy, but that's what we are hoping to achieve.

[2021-07-22 19:02] deetergp commented on #4132
@helaoutar I think your suggestion sounds good, let's do it.

[2021-07-22 19:15] mallenexpensify commented on #4168
Sweet, of course y'all were already on top of it.  Closing this in favor of https://github.com/Expensify/Expensify/issues/161396
If I come across anything outdated copy/link I'll drop into that issue.

[2021-07-22 19:15] #4168 closed

[2021-07-22 19:16] deetergp commented on #4107
@parasharrajat That looks good, let's do it!

@arielgreen Not sure how I managed to un-assign you, but now I've added you back. Let's get this into Upwork so Rajat can work on it.

[2021-07-22 19:29] marcaaron commented on #4027
Firebase Performance is hooked up now (not yet on staging but will be soon and data should start to hit this dashboard)

![2021-07-22_09-03-32](https://user-images.githubusercontent.com/32969087/126695050-8c780883-56c3-4e59-863f-a1a035ab9805.png)

Still waiting for an iPhone to test on locally, but did a quick output of pre-main time in simulator for now (probably not super accurate, but still see

[2021-07-22 19:32] parasharrajat commented on #3922
For me `USER_WALLET.linkedBankAccount` is empty. What would be the datastructure for this prop?
And I only see paypal as Payment method but mock designs show as cards.

RFQ says that `TransferWalletBalance` API call will not take any params but then how will we pass the payment Mode and selected account?

[2021-07-22 19:40] arielgreen commented on #4107
@parasharrajat I just sent over an [offer on Upwork](https://www.upwork.com/jobs/~01bd31ae5295042eb6).

[2021-07-22 20:14] FredericoGauz commented on #3381
I know. =D But the the way this prop is implemented in RN is first being received on FlatList then being applyed (as a css style) in the VirtualizedList. What I meant was that the VirtualizedList is a "dumb" Component in regards to the data and "smart" regarding to the inverted prop (where it implements it by style).

I don't see why this is a bad solutions and it looks like a good design solution

[2021-07-22 20:19] helaoutar commented on #4132
@deetergp

The only issue I found with this is that as soon as the pointer is within the text input, the page stops scrolling (which makes sense, since the text input prevents the wheel event from being passed up to the page)

This becomes problematic in the following scenario:

https://user-images.githubusercontent.com/12495892/126704024-d349b485-ed88-42e1-8539-d5dd43ea2b0a.mov

See how since the

[2021-07-22 20:22] parasharrajat commented on #4132
@helaoutar Only override wheel when input is focused.

[2021-07-22 20:26] marklouisdeshaun commented on #4155
[Upwork job post](https://www.upwork.com/jobs/~011cbb1d60a7ac9720)

cc: @aman-atg

[2021-07-22 20:28] rdjuric commented on #4132
That's what I proposed, but it's okay.  You should definitely detach the listener only when the input is focused @helaoutar

[2021-07-22 20:29] AndrewGable commented on #4046
Mentioned in Slack, but what do we usually do for this type of bug? Do we just check those items off?

[2021-07-22 20:49] parasharrajat commented on #4107
@arielgreen I just sent the PR. :smiley_cat:

[2021-07-22 21:01] parasharrajat commented on #2996
I think this can be closed now.

[2021-07-22 21:02] parasharrajat commented on #3383
@JmillsExpensify Any update on Upwork? Thanks

[2021-07-22 21:06] parasharrajat commented on #3476
@kadiealexander any update on Upwork for this? Thanks.

[2021-07-22 21:11] shantohx commented on #4155
Proposal:
To me, trimming the input with .trim() felt right. Or else I would like to use reg expressions to remove white spaces from the input.

[2021-07-22 21:19] aman-atg commented on #4155
Hi @marklouisdeshaun, I've submitted the [proposal](https://www.upwork.com/ab/proposals/1418319196371959809)  on upwork.

[2021-07-22 21:27] trjExpensify commented on #2996
Yep! 👍

[2021-07-22 21:27] #2996 closed

[2021-07-22 21:30] isagoico commented on #4046
Yes! They can be checked off and we just have to keep an eye if they get added to the new checklist (after the production deploy)

[2021-07-22 21:51] francoisl commented on #4110
I imagine the issue is due to some sort of rendering issue in Safari 14.0, which must have been patched in 14.1.

According to https://www.stetic.com/market-share/browser/, Safari 14.0 only represents 1.03% of traffic as of July 2021, most people seem to have already upgraded to Safari 14.1, which has a market share of 4.81%, so I'm leaning on not considering this a deploy blocker, and we can keep

[2021-07-22 21:57] AndrewGable commented on #4110
I tend to agree 👍 - Let's keep an eye out for it on other clients.

[2021-07-22 22:02] Jag96 commented on #4046
Went through to double-check those and checked off the following because they haven't been deployed to staging yet:
- https://github.com/Expensify/App/pull/4018
- https://github.com/Expensify/App/pull/4049
- https://github.com/Expensify/App/pull/4139
- https://github.com/Expensify/App/pull/4140
- https://github.com/Expensify/App/pull/4141
- https://github.com/Expensify/App/pull/4144
- https://gith

[2021-07-22 22:04] Jag96 commented on #4046
Also checking off https://github.com/Expensify/App/issues/4110#issuecomment-885261589 - based on the comment we're not labeling it a deploy blocker

[2021-07-22 22:09] Jag96 commented on #4052
Paid!

[2021-07-22 22:09] #4052 closed

[2021-07-22 23:33] mallenexpensify opened #4181 "TEST ISSUE"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

##

[2021-07-22 23:36] mallenexpensify commented on #4181
Sorry for the pings, was testing to confirm that adding the `External` label does also add the `Daily` label, which is does

[2021-07-23 00:02] marcaaron commented on #4027
The going is a bit slow since to properly measure the impacts of a change on start up time we have to create release build locally - the real startup time is hard to measure when in "dev" mode because the JS bundle is served by metro and must be downloaded. Also still working with simulator on iOS.

My investigations are still early here, but chased a few leads...

**Use Hermes on iOS**

Apparentl

[2021-07-23 00:27] Jag96 commented on #4046
It looks like https://github.com/Expensify/App/pull/4131 and https://github.com/Expensify/App/issues/4074 are the only things here that need to be checked off before we can do a production deploy, is that right @isagoico?

[2021-07-23 00:29] kadiealexander commented on #3476
Sorry Rajat! We're testing a new workflow for automating these payments and this seemed to slip through the gaps. Should be all paid now!

[2021-07-23 00:48] Christinadobrzyn commented on #4135
PR merged [Hold - for payment on 29th July]

[2021-07-23 00:59] mallenexpensify commented on #4181
mo testing, confirming that `Help Wanted` is added auto-magically when `Exported` label is

[2021-07-23 00:59] #4181 closed

[2021-07-23 01:00] Jag96 commented on #3047
@parasharrajat it sounds like your proposal for https://github.com/Expensify/App/issues/4169 will solve `Hyperlink markdown is removed when editing the comment and then it's saved as plain text.` right? If so, I'd like to hold off on adding the other HTML->MD conversions until the ones we currently support are behaving the way we expect them to.

[2021-07-23 01:05] Christinadobrzyn commented on #2430
invited some contributors to review this - waiting for proposals

[2021-07-23 01:18] Jag96 commented on #3047
Ok sounds good, I'll make new issues then for each of the items in the checklist

[2021-07-23 01:29] Jag96 opened #4184 "Implement Code Fence HTML to markdown conversion [Hold for payment on August 13th]"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Related to https://github.com/Expensify/App/issues/3047, similar to https://github.com/Expensify/expensify-common/pull/392. Code fence MD->HTML version can be found [her

[2021-07-23 01:30] parasharrajat commented on #3047
@Jag96 Links and emails links can go into one. There will be one regex for both.

[2021-07-23 01:34] Jag96 opened #4185 "[Hold for payment 2020-08-09] Implement Inline Code Block HTML to markdown conversion"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Related to https://github.com/Expensify/App/issues/3047, similar to https://github.com/Expensify/expensify-common/pull/392. Inline code block MD->HTML version can be fou

[2021-07-23 01:38] Jag96 opened #4187 "[Hold for Payment 13 August] Implement Hyperlink and Email link HTML to markdown conversion"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Related to https://github.com/Expensify/App/issues/3047, similar to https://github.com/Expensify/expensify-common/pull/392. Email and link MD->HTML version can be found

[2021-07-23 01:41] Jag96 opened #4188 "Implement Block quote HTML to markdown conversion"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Related to https://github.com/Expensify/App/issues/3047, similar to https://github.com/Expensify/expensify-common/pull/392. Blockquote MD->HTML version can be found [her

[2021-07-23 01:44] parasharrajat commented on #4187
A suggestion to the desciption.
Rules of parsing would be as
1. `[html](www.google.com)` When `<a href="www.google.com">html</a>` and you will see this type pf link as [html](www.google.com).
2.  `www.google.com` when  `<a href="www.google.com">www.google.com</a>` and you will see this type pf link as www.google.com.
3. `abc@gmail.com` when `<a href="abc@gmail.com">abc@gmail.com</a>` and visible a

[2021-07-23 01:48] Jag96 commented on #4187
Sounds good, updated!

[2021-07-23 01:55] #4030 closed

[2021-07-23 02:02] parasharrajat commented on #4187
To match anchor tags we can use this
`<(a)(?:href=('|")(.*?)\2|"[^"]*"|'[^']*'|[^'">])*>(.*?)<\/\1>(?![^<]*(<\/pre>|<\/code>))`

1. group 3 and 4 contains the url and text respectively.
2. We wil use a process method which will parse all three types of urls based on these rules.
  a. if g2 and g3 are not equal, then output `[g3](g2)`. we don't need to worry even if href was an email it just works.

[2021-07-23 02:27] haseebb commented on #4171
- **Yes** Firstly I will create a badge view in Side Menu
- Then I will check if we have value in “ONYX.USER_WALLET.balance” if yes then show it if not then simply hide the view
 - I will show balance in a formatted way. Like

function currencyFormat(num) {
   return '$' + num.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
}

OutPut will be  = **$2,665.00**

[2021-07-23 02:48] Jag96 commented on #4171
@parasharrajat your proposal looks good, I've invited you to the Upwork job. Going to tag @stitesExpensify to confirm what the currency symbol should be set to here.

[2021-07-23 04:24] RushirajJhala commented on #3892
Hello Marc,

Thanks for update, yes I see it was only for web and desktop app so
actually not needed.
Now what is next step I need to do , please guide ?

Thanks,
Rushiraj

On Thu, Jul 22, 2021 at 10:54 PM Marc Glasser ***@***.***>
wrote:

[2021-07-23 05:21] JmillsExpensify commented on #3383
Yep! Closed out. Thank you

[2021-07-23 05:26] arpitdeveloper commented on #4171
1. I will create a Badge in MenuItem component near by right arrow
2. We will get the user current wallet balance(from CurrentWalletBalance.js)
3. Print the user current wallet balance in created badge with currency and formate

[2021-07-23 06:58] dklymenk commented on #3293
UPDATE: #3979 has been reverted by #4085 because it wasn't ready to be merged until #3737 is fixed. Otherwise it creates an issue like #4073 which is way more destructive for UX than #3737.

So I've created a new PR #4133 that is meant to be merged after #3737 is fixed. After that this issue can be considered closed.

Thanks.

[2021-07-23 06:58] dklymenk commented on #3743
UPDATE: #3979 has been reverted by #4085 because it wasn't ready to be merged until #3737 is fixed. Otherwise it creates an issue like #4073 which is way more destructive for UX than #3737.

So I've created a new PR #4133 that is meant to be merged after #3737 is fixed. After that this issue can be considered closed.

Thanks.