[2022-06-24 15:14] mvtglobally opened #9559 "Receiving double notifications on desktop app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Using app, receiving messages

## Expected Result:
Receive one notification per message

## Actual Result:
Received two notification per message

[2022-06-24 15:49] parasharrajat commented on #9240
Ok, I don't think that converting MD back to test is the best option here. We are creating this MD string ourselves

So I think doing this is cleaner.
1. When the user copies something.  We get `text/html` and `text/plain`.
2. On Composer `paste` event. Detect is `Shift` modifier is added to paste keys. Then allow text pasting else Convert HTML to MD (which is currently happening).
3. When the use

[2022-06-24 15:56] parasharrajat commented on #8719
Why do we need this?

You tell us. What would be the effect of doing this? It should not break any platform. Do test your solution on All the platforms.

Please also mention what is the effect of your proposed changes and how do they resolve the issue?

[2022-06-24 16:15] luacmartins commented on #8731
Still looking for proposals

[2022-06-24 16:22] aneequeahmad commented on #8292
@parasharrajat any update on my proposal ? Have you fixed this issue ?

[2022-06-24 16:35] parasharrajat commented on #8292
No, I haven't fixed this. I will review your proposal as well.

[2022-06-24 17:14] #9511 closed

[2022-06-24 17:16] roryabraham commented on #8929
The proposal itself was a bit hard to follow, especially with the few edits, but it's good enough for me 👍

[2022-06-24 17:23] bfitzexpensify commented on #9506
Upwork job is [here](https://www.upwork.com/jobs/~01bfa1e5e3151717a8)

[2022-06-24 17:44] JosueEchandiaAsto commented on #8929
@mananjadhav
How to proceed? My proposal also solves this problem  https://github.com/Expensify/App/issues/9283 that PR already has. Do I wait for such a proposal to be implemented or do I remove my solution for the overlay?

[2022-06-24 18:42] rushatgabhane commented on #9122
@MTN718 I think that is how it's supposed to work https://github.com/Expensify/App/issues/9122#issuecomment-1164716952

[2022-06-24 19:05] parasharrajat commented on #9506
This should be internal. I can say without checking that this file is blocked from the server but the server is not throwing the correct error.

I am proposing again(I am seeing this similar issue for the fourth time) that we should add a check on the frontend to only allow uploading known files. I agree with the point that there will be many file extensions but it is very important. we should be

[2022-06-24 19:18] MTN718 commented on #9122
https://github.com/Expensify/App/issues/9122#issuecomment-1158136155

In this comment, you mentioned
"In this video there are two pages - email and password page. In both pages you can see that the spacing between footer and text input reduces on opening the keyboard.

In email page - opening the keyboard doesn't move the text input. But in password page, opening the keyboard shifts the whole page

[2022-06-24 19:29] rushatgabhane commented on #9122
@MTN718 I disagree with my [previous comment](https://github.com/Expensify/App/issues/9122#issuecomment-1158136155). Because I didn't explain the _why_

Anyway, in password page we have two additional items that are shown above the keyboard.

- `Fogot Password?`
- `Not user@example.com? Go back`

This is what makes it move up, and I think that's fine because the user should be able to see both the

[2022-06-24 19:51] rushatgabhane commented on #9122
Yeah, I don't think there's a problem that this issue is tryna solve.

@michaelhaxhiu / @marcaaron please close this issue unless you disagree with https://github.com/Expensify/App/issues/9122#issuecomment-1165870648

[2022-06-24 19:51] #8506 closed

[2022-06-24 19:51] #8509 closed

[2022-06-24 19:51] #8522 closed

[2022-06-24 19:51] #8523 closed

[2022-06-24 19:51] #8524 closed

[2022-06-24 19:51] #8525 closed

[2022-06-24 19:51] #8527 closed

[2022-06-24 19:52] #8528 closed

[2022-06-24 19:52] #8529 closed

[2022-06-24 19:52] #8530 closed

[2022-06-24 19:52] #8546 closed

[2022-06-24 19:52] #8552 closed

[2022-06-24 19:52] #8553 closed

[2022-06-24 19:52] MTN718 commented on #9122
oh... i was working with your previous comment https://github.com/Expensify/App/issues/9122#issuecomment-1158136155

[2022-06-24 19:52] #8554 closed

[2022-06-24 19:52] #8555 closed

[2022-06-24 19:52] #8556 closed

[2022-06-24 19:52] #8557 closed

[2022-06-24 19:52] #8558 closed

[2022-06-24 19:52] #8559 closed

[2022-06-24 19:52] #8560 closed

[2022-06-24 19:54] rushatgabhane commented on #9122
@MTN718 I'm sorry about that. Please raise a feature request on slack if you think we can have a better UX

[2022-06-24 19:54] MTN718 commented on #9122
I still don't have slack access. Even sent request.

[2022-06-24 19:59] rushatgabhane commented on #9122
@MTN718 what's your email? I'll ask for it to be added

Please resend the email and make sure to send your upwork profile link

[2022-06-24 19:59] MTN718 commented on #9122
tenstar718@gmail.com

[2022-06-24 20:01] MTN718 commented on #9122
sent again.

[2022-06-24 20:09] MitchExpensify commented on #8841
Not overdue

[2022-06-24 20:28] stitesExpensify commented on #9470
No update yet

[2022-06-24 20:28] stitesExpensify commented on #8594
holding

[2022-06-24 20:49] JmillsExpensify commented on #8356
I'm OOO next week so I'm going to re-assign this issue.

[2022-06-24 21:05] roryabraham commented on #8220
[PR](https://github.com/Expensify/App/pull/8549) was just merged today

[2022-06-24 21:14] amyevans commented on #9505
@justinpersaud deployed the linked PR. Unfortunately in QAing it, I've now encountered a new error:
![Screen Shot 2022-06-24 at 5 12 07 PM](https://user-images.githubusercontent.com/7277067/175668098-2cff9333-d95e-4185-91a0-c3d6cc26f945.png)

Seems like we'd need to proxy the request through the back end to get around that, but I'm not sure if that's a good idea / worth pursuing. Any thoughts off

[2022-06-24 21:28] parasharrajat commented on #8663
Shared an update on PR.

[2022-06-24 21:31] AndrewGable commented on #9247
Bumped thread for translation

[2022-06-24 21:44] parasharrajat commented on #9389
Ok, we finalized that it would be great to have the following.

1. Start with 0 always.
2. As soon as user types any number other than 0, 0 on the screen is replaced with that.
3. If user types a `.` , UI would become `0.` .

@sobitneupane What do you think?

[2022-06-24 21:48] kbecciv opened #9564 "Android - API error displayed after create a new public account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR:** https://github.com/Expensify/App/pull/9401

## Action Performed:
1. Go to app
2. Enter any email address which does not have expen

[2022-06-24 21:49] OSBotify commented on #9564
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-06-24 21:58] roryabraham commented on #7942
Still on HOLD for the [App Start / Reconnect API refactor doc](https://docs.google.com/document/d/1Mc2fvigSqPnMa6yv6FQk7_opRpjK9kg0e2Gzz9QTXWM/edit)

[2022-06-24 22:04] mountiny opened #9565 "TEST - Testing Deploy Checklist"
This is a test Deploy blocker issue to QA https://github.com/Expensify/App/pull/9458.

InternalQA PR has been checked off now. Adding a deploy blocker should add a new deploy blocker to the list but keep all the checkbox states preserved.

[2022-06-24 22:05] OSBotify commented on #9565
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-06-24 22:06] mountiny commented on #9565
@tylerkaraszewski Sorry for the ping, this is just for QA purposes.

[2022-06-24 22:06] #9565 closed

[2022-06-24 22:07] mountiny commented on #9565
The checklist indeed lost its state.

<img width="650" alt="image" src="https://user-images.githubusercontent.com/36083550/175699167-c0ca7cf1-0fe8-4dd8-9fa7-9420db873b4a.png">

[2022-06-24 22:14] Christinadobrzyn commented on #9542
I think this might be related to Accessibility - reaching out in open-source for a buddy check - https://expensify.slack.com/archives/C01GTK53T8Q/p1656108828757429

[2022-06-24 22:21] justinpersaud commented on #9505
Hm, I am just thinking about this more now after seeing your error and not thinking about it when I reviewed the original PR. Are we going about this the right way?

It seems like when we paste an emoji from Slack into NewDot, it is trying to paste the image URL instead of the emoji language or whatever you call it. I think that's the issue, no? I wouldn't expect that Slack would just freely let a

[2022-06-24 22:30] aldo-expensify commented on #9564
Failed to reproduce in Web... trying in Android native.

[2022-06-24 23:09] francoisl commented on #9564
Can't reproduce either on my physical Android phone on a fresh 1.1.78-8 install, going to try in the simulator.

[2022-06-24 23:11] aldo-expensify commented on #9564
@francoisl I'm guessing you didn't get this crash: https://expensify.slack.com/archives/C01GTK53T8Q/p1656109964989929

[2022-06-24 23:18] aldo-expensify commented on #9564
I'm going to remove the `DeployBlockerCash` label because this other issue seems to be the same and it was already happening in production: https://github.com/Expensify/App/issues/9264

I'm guessing that @TomatoToaster 's fix didn't work: https://github.com/Expensify/App/pull/9401

[2022-06-24 23:18] aldo-expensify commented on #9564
The app crashes for me in Android when I use the production install, I'll see if I can debug it.

[2022-06-24 23:20] francoisl commented on #9564
Same, I get the crash on the production build, but **not** on 1.1.78-8.

[2022-06-24 23:22] aldo-expensify commented on #9564
hmm... so `1.1.78-8` fixed it partially? I mean if it still crashes for @kbecciv

[2022-06-24 23:23] aldo-expensify commented on #9564
I'll test `1.1.78-8` 🙇

[2022-06-24 23:30] francoisl commented on #9564
Yeah, the weird part is that the button reads "Resend link" (one would expect just "Send link"), but other than that I'm not experiencing the issue from above. Curious if you can repro Aldo.
<img width="200" alt="image" src="https://user-images.githubusercontent.com/2229301/175745355-badb6b2c-06f0-49ef-bf78-cd1b54e3546e.png">

[2022-06-24 23:33] aldo-expensify commented on #9564
haha this always triggers some small confusion for me. The thing is that the link was already sent when you get to that screen... that's why it says "Resend" and not "Send", you don't need to click the button (IIRC!)

[2022-06-24 23:34] francoisl commented on #9564
Oh... Makes sense.

[2022-06-24 23:41] AndrewGable commented on #9506
I'll dig into it a bit further.

[2022-06-24 23:53] aldo-expensify commented on #9564
Reproduced:

![Screenshot_20220624-165236](https://user-images.githubusercontent.com/87341702/175749483-a3450ec8-a9e6-420b-8d6e-bfee8827581c.png)

(Thanks @francoisl for helping with getting the right version)

[2022-06-25 01:13] kbecciv opened #9566 "Android - All input fields are scrollable under Profile @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Open android App > Setting > profile
 2. Add text in any input field and try swiping over text.

## Expected Result:
All input under Settings sh

[2022-06-25 01:15] aldo-expensify commented on #9564
Some related slack convo:  https://expensify.slack.com/archives/C03TQ48KC/p1656113740609469

[2022-06-25 01:42] arielgreen commented on #9566
Definitely not able to reproduce this on ios. I'm not sure if this is expected or no for Android, or if it's really something we care about. @neil-marcellini your thoughts?

[2022-06-25 11:14] aneequeahmad commented on #8292
Oops sorry my bad. I wanted to say have you tested that my proposal fixes the issue. Thankyou for your comment 🙇‍♂️

[2022-06-25 14:51] eVoloshchak commented on #9497
**Proposal:**
I'm not sure if this input is considered a Form input, but [FORMS.md](https://github.com/Expensify/App/blob/main/FORMS.md) states that

Instead we will format and clean the user input internally before using the value (e.g. making an API request where the user will never see this transformation happen)

And I agree with that since I've also tried pressing `,` key instead of `.`, even

[2022-06-25 15:03] ntdiary commented on #8719
We need `setTimeout` to let the dropdown open animation run after the software keyboard close animation starts.
Otherwise, the height of the dropdown menu will be very high like this image in the first second of the video.
Of course, if this can not reproduce in your phone, maybe we don't need `setTimeout`.
<img width="200" alt="1" src="https://user-images.githubusercontent.com/8579651/175765118-0

[2022-06-25 15:59] mananjadhav commented on #7470
Thanks for the comment @jayeshmangwani. Let me take an opinion internally and get back to you.

[2022-06-25 16:03] mananjadhav commented on #8846
Thanks for the updated proposal @dharmik . Appreciate you sticking around for it. @Julesssss, @dharmik's updated proposal looks good.

🎀 👀 🎀
C+ reviewed

[2022-06-25 16:04] mananjadhav commented on #8929
I feel you can ignore that part of the change on the PR. It'll mostly get merged by Monday-Tuesday. So shouldn't be a problem.

[2022-06-25 16:08] mananjadhav commented on #8927
@thesahindia Any updates for me on this one?

[2022-06-25 16:10] mananjadhav commented on #9238
@thienlnam Did you get a chance to look at the above conversations?

[2022-06-25 16:15] mananjadhav commented on #9444
Looks like I got assigned after the proposal was accepted. Will be reviewing the PR.

[2022-06-25 16:30] eVoloshchak commented on #9497
On a side note, I personally think that updating input's value so that the number always has 3 digits after he separator looks suboptimal (notice that on the video). We could just delete `const rateToDisplay` and `setState` after that and the user's input will not be modified on the UI side. What do you think?

[2022-06-25 19:07] thesahindia commented on #8927
@mananjadhav, I have pushed the code now.

[2022-06-26 14:43] Tabakharniuk commented on #6301
@mallenexpensify pull request is ready for review.
I have nothing against bumping it to Daily 🙂

[2022-06-26 15:18] mananjadhav commented on #9539
I thought this was a regression and I tried finding the root cause. It seems this happens to the current chat when the attachment is added. If we refresh then it shows up properly.

@roryabraham, @JosueEchandiaAsto's proposal looks good.

🎀 👀 🎀
C+ reviewed

[2022-06-26 15:52] brianmuks commented on #8361
@thienlnam it appears that even when we exclude the suggested `EXPENSIFY_EMAILS`, for #annouce chat room we might still get participants being greater than one as seen in the screen shot.
 I am still trying to figure out the best approach to detect a group chat.

<img width="1269" alt="Screenshot 2022-06-26 at 5 42 33 PM" src="https://user-images.githubusercontent.com/4520893/175822398-20bb78a9-8e

[2022-06-26 16:00] brianmuks commented on #8361
Why can't we have something like this for group chat:
[code]
This means that the following will have to be modified to include `POLICY_GROUP_CHAT`
https://github.com/Expensify/App/blob/406040d1b208277e44580bb372323e934b112f37/src/CONST.js#L247
[code]

[2022-06-26 17:10] mananjadhav commented on #9253
Apologies for the delay @ntdiary. I understand the problem now, while still not able to reproduce.

I am more inclined towards showing a blank report page, when the transition is happening because it's very quick and I don't see a point of loading actions for a different report that isn't required.  @AndrewGable Can you help me with the expected behaviour?

@ntdiary I've got some questions/feedbac

[2022-06-27 00:25] rushatgabhane commented on #9088
still still still holding

[2022-06-27 02:26] rushatgabhane commented on #6154
@trjExpensify that's a great idea!

Using controlled selection causes a re-render each time we press a key or move the cursor around.
This results in terrible performance and incorrect cursor postion when
- typing quickly
- or moving the cursor around

### Deliverables
- Fix the issue on all platforms _without_ using the `selection` prop. Use `setNativeProps` to set the `selection` instead.
- Use

[2022-06-27 08:30] marktoman commented on #9240
Not sure if I follow. There is no markdown conversion for testing the content, it strips markdown if `ctrl+shift+v` is pressed to address the examples in the slack discussion referenced above. Option A tries to identify the command by different means, but not by testing the content, it exploits the fact that the native `ctrl+shift+v` command strips all types and adds `text/plain`, which is a set o

[2022-06-27 08:32] techievivek commented on #9085
Not overdue.

[2022-06-27 09:12] laurenreidexpensify commented on #9254
Not overdue, waiting for @Beamanator's response to ^^

[2022-06-27 09:45] Beamanator opened #9570 "[$250] TEST ISSUE"
This test issue is used to QA https://github.com/Expensify/Web-Expensify/pull/33844

[2022-06-27 09:46] Beamanator commented on #9570
@parasharrajat this is just a test! Will keep adding & removing `Exported` for more tests, to make sure @mallenexpensify doesn't get assigned here

[2022-06-27 09:49] Beamanator commented on #9570
@Santhosh-Sellavel  this is just a test! Will keep adding & removing Exported for more tests, to make sure @mallenexpensify doesn't get assigned here

[2022-06-27 09:49] Beamanator commented on #9570
Done testing! thanks y'all!

[2022-06-27 09:49] #9570 closed

[2022-06-27 09:51] #9426 closed

[2022-06-27 09:57] neil-marcellini commented on #9061
Yeah I'm taking this, but I haven't had the time lately to work on it.

[2022-06-27 10:05] mountiny commented on #9355
Not overdue, on hold for the refactorings. Making it monthly.

[2022-06-27 10:16] sketchydroide commented on #8710
downgrading to montly for now, as I don't think we need a weekly update atm

[2022-06-27 10:39] Beamanator commented on #9123
@kaushiktd thanks for your proposal, but please be aware that this job does not have the `Help Wanted` label at the moment, because we have already hired someone (see this comment too: https://github.com/Expensify/App/issues/9123#issuecomment-1160681324)

[2022-06-27 10:41] sobitneupane commented on #9389
Few questions:
1. What is the expected amount when user types another 0? (0 or 00)
2. What if user presses backspace? (0 or '')

[2022-06-27 10:48] sketchydroide commented on #9480
https://github.com/Expensify/App/issues/9487 and https://github.com/Expensify/App/issues/9564 no longer seem to be Deploy blockers and https://github.com/Expensify/App/issues/9565 is closed and dusted
I would say once this latest build is QA we can ship this.

[2022-06-27 11:03] neil-marcellini commented on #9566
I was OOO but I'm seeing if I can reproduce this on the android simulator now.

[2022-06-27 11:11] Luke9389 commented on #9427
Coming back to this issue this week.

[2022-06-27 11:47] neil-marcellini commented on #9566
I'm able to reproduce this on the Android simulator. This is not a high priority IMO, but we should fix it and I think an external contributor could figure it out.

https://user-images.githubusercontent.com/26260477/175934098-74bfb775-376d-44dd-8f09-1136ee085192.mov

[2022-06-27 12:33] bfitzexpensify commented on #9182
Not overdue, in review

[2022-06-27 12:40] trjExpensify commented on #6154
Thanks, @rushatgabhane! ❤️ I'll await input from @chiragsalian and then have the OP updated accordingly.

[2022-06-27 12:50] neil-marcellini commented on #8719
@ntdiary I'm still not sure if we need to or want to add a delay to the dropdown open animation. I don't like the result on Android / Chrome where the button takes a moment to drop down.

I tried setting the device height to 100% as you mentioned earlier and that yielded a good result. Maybe all we need to do is set that prop to 100% exclusively for Android / Chrome?

https://user-images.githubuse

[2022-06-27 12:53] Beamanator commented on #9254
@rushatgabhane thanks for your thoughts, I think I agree, since the workaround is super easy and the fix seems kinda ugly I'd say this is not really worth fixing at this point 👍

[2022-06-27 12:53] #9254 closed

[2022-06-27 12:54] Julesssss commented on #9252
@trjExpensify please double again

[2022-06-27 13:20] trjExpensify commented on #9252
Donezo: https://www.upwork.com/jobs/~01f30fad98ca9b6c69

[2022-06-27 13:23] trjExpensify commented on #7862
Latest from @JediWattson here on [the PR](https://github.com/Expensify/App/pull/9279#issuecomment-1166654597).

[2022-06-27 13:23] NicMendonca commented on #9183
@rushatgabhane @stitesExpensify should we add `hold` to issue title?

[2022-06-27 13:32] trjExpensify commented on #9566
Oh, haha.. weird. Agree it's not a pressing issue though. @Beamanator given that we're going to redesign this page with the N7: Account Settings implementation, do you think it's worth proceeding here or taking care of it when we implement that project?

[2022-06-27 13:32] flodnv commented on #9332
@parasharrajat it seems like @marktoman has updated his post, can you review please?

[2022-06-27 13:32] Julesssss commented on #9244
Whoops, I see the PR now

[2022-06-27 14:01] arosiclair commented on #9522
I'll implement this this week.

[2022-06-27 14:03] Julesssss commented on #9244
Nice work on your first PR @Harshdeepjoshi! It has been merged, we now need to wait for it to be deployed. 7 days after that you should be paid

[2022-06-27 14:09] mvtglobally commented on #9480
@sketchydroide, Regression is completed. I am sending a summary in few min

[2022-06-27 14:13] mvtglobally commented on #9438
potentially related issue https://github.com/Expensify/App/issues/9370

[2022-06-27 14:34] mvtglobally commented on #9480
@sketchydroide @francoisl , Regression is completed.

PR #9031 is failing due to https://github.com/Expensify/App/issues/9438. Not a blocker, so checking off
PR #9401 & PR #9445 are blocked by https://github.com/Expensify/App/issues/9564. Blocker label was removed.are we ok to check it off then?
PR #9471 is failing due to https://github.com/Expensify/App/issues/9533 Not a blocker, are we ok to che

[2022-06-27 14:56] Christinadobrzyn commented on #9542
Nope sounds like a bug! Created Upwork job

Internal positing - https://www.upwork.com/ab/applicants/1541435223002427392/job-details
External positing - https://www.upwork.com/jobs/~01734e552bce49e505

[2022-06-27 15:03] laurenreidexpensify commented on #7586
@marcochavezf how we doing on this one?

[2022-06-27 15:12] amyevans commented on #9290
Located the root of the issue Friday and after some local emulator troubles was able to get proper screen recordings to demonstrate the fix today. PR is up for review.

[2022-06-27 15:14] parasharrajat commented on #9389
1. It will become 0.00.
2. 0 is just representational. Real value does not have to do anything with this.

Now it's on you to suggest different approaches.

[2022-06-27 15:18] SumitDiyora opened #9571 "[low] Chrome + Talkback: Screen reader announce 'Download','Copy to clipboard','Copy link','Mark as unread','Delete'; twice."
## Action Performed:
1. Using JAWS + Chrome browser, open the URL staging.new.expensify.com/r/89343211
2. Select any attachment from the chat.
3. Right-click on the attachment or activate it by using hover.
4. Navigate to the elements of the newly opened popup and listen to the screen reader announcement.

## Expected Result:
Upon moving the keyboard focus on the popup contents like 'Download','Co

[2022-06-27 15:27] parasharrajat commented on #9240
What do you mean by testing the content?

I think we will want to allow content from our app to also have this change.

Option A does the markdown trimming. But I don't think this is needed if we follow the native implementation. As you said, the platform does all the stripping and gives us only a test. Then why do we need to trim the MD from it? The only case could be when we copy in our app, we

[2022-06-27 15:35] parasharrajat commented on #7962
Ok, so @grvsood's PR is merged upstream. But before we hire them, it is important to see if that solves our problem.

The next step would be @grvsood to create a proposal here indicating that your fix solves the issue in our app.
It may include:
1. Forking the repo and upgrading the version of the repo in a branch and sharing that with us for testing.

2. Or suggesting the changes that you will do

[2022-06-27 16:04] parasharrajat commented on #8292
ETA: 4 hours.

[2022-06-27 16:06] amyevans commented on #9505
Yeah, I think that's a very reasonable suggestion. I compared against a few other platforms just to see what they do:
* **iMessage**: paste as text (`hi :aussie_peace_out: bye`)
* **WhatsApp**: paste as text (`hi :aussie_peace_out: bye`)
* A different workspace in **Slack**:
![Slack-paste-emoji](https://user-images.githubusercontent.com/7277067/175983092-67907985-6f46-4a74-b8d7-bd634e11115e.png)

[2022-06-27 16:11] NikkiWines commented on #8657
on hold

[2022-06-27 16:12] NikkiWines commented on #7487
on hold

[2022-06-27 16:29] parasharrajat commented on #9505
Good discussion overall. There are two things that need to be done to make emojis work from slack.
1. Instead of taking slack emojis as images, allow pasting `:emoji:` in text form.
2. Second would be adding new parsing rules to parse `:text:` as emoji.

Both of these have been discussed before so I think it would be better to discuss this internally as well to decide the next step. Maybe it is al

[2022-06-27 16:44] marcochavezf commented on #8356
Still waiting for more proposals.

[2022-06-27 16:46] deetergp commented on #9402
Not overdue. Switching back to weekly since we are awaiting proposals.

[2022-06-27 16:53] marktoman commented on #9240
I was reacting to:

---

I see. The native command changes the `types` property of `event.clipboardData` to `text/plain`, but in the case of HTML and MD the actual content is unaffected. We have to trim the formatting ourselves in all cases.

[2022-06-27 17:07] parasharrajat commented on #8311
Raised https://expensify.slack.com/archives/C01GTK53T8Q/p1656349294099259.

[2022-06-27 17:10] parasharrajat commented on #8595
@frenkield You can proceed as decided on the slack thread. Let me know if you have any other questions. Thanks.

[2022-06-27 17:12] parasharrajat commented on #6438
Will do. Thanks for the ping.

[2022-06-27 17:16] frenkield commented on #8595
Ok sounds good. Thanks, @parasharrajat.

[2022-06-27 17:20] roryabraham commented on #9539
Okay, LGTM 👍

Long-term, I would like to see some unit tests added for the title and subtitle of items in the LHN.

[2022-06-27 18:18] thienlnam commented on #9411
PR merged, pending regression testing

[2022-06-27 18:18] thienlnam commented on #8126
PR is being worked on

[2022-06-27 18:23] JosueEchandiaAsto commented on #9238
@thienlnam something like this? https://github.com/Expensify/App/issues/9238#issuecomment-1159794329

[2022-06-27 18:33] adelekennedy commented on #9459
still pending research - no action for now!

[2022-06-27 18:37] Santhosh-Sellavel commented on #8841
@aldo-expensify Mostly looks good works as expected for me. Have you tested this one?

[2022-06-27 18:44] francoisl commented on #9480
Yes since there's also a similar issue with the production build. We'll reopen the GH issue to look into this. (cc @aldo-expensify @TomatoToaster)

[2022-06-27 18:45] francoisl commented on #9264
Reopening this since there was still an issue during the QA, see https://github.com/Expensify/App/issues/9480#issuecomment-1167743847 for context.

[2022-06-27 18:45] chiragsalian opened #9572 "Fix undefined variable env errors for validate github actions"
# Problem
GH actions is failed on PRs for `Validate Github Actions / verify (pull_request)`
The error is,
[code]
Its currently blocking App PRs from being merged.

# Solution
Investigate and Fix

[2022-06-27 18:46] chiragsalian commented on #9572
Discussing in [slack](https://expensify.slack.com/archives/C03TQ48KC/p1656354776172789).

[2022-06-27 18:48] AndrewGable commented on #9572
I think this might be a regression from the discussion in https://github.com/rhysd/actionlint/issues/158 ?

[2022-06-27 18:49] adelekennedy commented on #7436
Doubling the price! Let's see if we get any proposals

[2022-06-27 18:58] thienlnam commented on #9238
Good catch on the ReportActionCompose.  In this case, yes we should change reportRecipient to be the email that is not us.

Going to hire @Puneet-here - he has been working on the solution first and included a fix for another part where this might become an issue

I'll just need review your PR to make sure the changes to canShowReportRecipientLocalTime are correct

[2022-06-27 19:00] parasharrajat commented on #7962
Sorry, you may have misunderstood my comment. Please share the proposal here first so that we can hire you. After you are hired, then you are allowed to send a PR. If you meant the same then please ignore this comment.

[2022-06-27 19:01] Santhosh-Sellavel commented on #8361
@thienlnam @brianmuks

We won't able to create a chat with the excluded emails.

Policy rooms or default rooms have value in `chatType`. So if `chatType` is empty and participants are greater than > 1 in reports. This check should be fine right?

[2022-06-27 19:03] eVoloshchak commented on #9497
We can do this in  [validateAmount](https://github.com/Expensify/App/blob/3f12c33f8a3e371c7f19ac6d0381932e8c46dc76/src/pages/iou/steps/IOUAmountPage.js#L121) method like this:
[code]
And since we do not want to replace `,` with `.` on the UI side, change [updateAmount](https://github.com/Expensify/App/blob/406040d1b208277e44580bb372323e934b112f37/src/pages/iou/steps/IOUAmountPage.js#L165) method
[

[2022-06-27 19:04] rushatgabhane commented on #9088
This issue is off hold. 7702 has merged!

@jayeshmangwani's [proposal](https://github.com/Expensify/App/issues/9088#issuecomment-1136304290) is good to go!
cc: @Julesssss

🎀 👀 🎀 C+ reviewed

[2022-06-27 19:11] MitchExpensify commented on #9539
Nice! Invited both @JosueEchandiaAsto & @mananjadhav to the Upwork job for eventual payment.

[2022-06-27 19:18] MitchExpensify commented on #9411
Hired @Tushu17 & @rushatgabhane for eventual payment

[2022-06-27 19:29] francoisl commented on #9480
Double-checking now, but at first glance it looks like this wouldn't be a blocker indeed and we should be able to check it off.

👍

Yes this was a fix for iOS deploys not working, it's confirmed to work by the fact that we could CP and generate an iOS build.

[2022-06-27 19:51] #7947 closed

[2022-06-27 19:51] #8575 closed

[2022-06-27 19:51] #8577 closed

[2022-06-27 19:51] #8578 closed

[2022-06-27 19:51] #8579 closed

[2022-06-27 19:51] #8580 closed

[2022-06-27 20:22] TomatoToaster commented on #9264
I guess I could conditionally render the whole block if the `props.credentials.login` exists. I'll start with that, but I think this is a bandaid solution and will still likely cause the API error mentioned right above. I'm guessing the fact that `props.credentials.login` doesn't is causing the problem.

[2022-06-27 20:26] aldo-expensify commented on #9564
No overdue... back to debugging this

[2022-06-27 20:28] rushatgabhane commented on #9497
@eVoloshchak does you proposal also account the custom keyboard used on mobile?
We should display `,` instead of `.` over there right?

[2022-06-27 20:28] parasharrajat commented on #9510
I think there is a very old similar issue somewhere. I don't remember what was decided at that but we should definitely do a lookup.

[2022-06-27 20:31] parasharrajat commented on #7317
Great news #7702 is done. There could be bugs but we should be good to restart this issue.

[2022-06-27 20:47] stitesExpensify commented on #7470
Internal Slack thread here https://expensify.slack.com/archives/C02NK2DQWUX/p1656334993341279

[2022-06-27 20:54] brianmuks commented on #8361
The goal is to use the method to determine if chat is group chat. If true based on this https://github.com/Expensify/App/issues/8361#issuecomment-1142078639 we should be able to
show nothing when a group chat is initiated and when all messages are deleted.

[2022-06-27 21:11] mvtglobally commented on #9480
Great, Looks like we are good to 🚀

[2022-06-27 21:12] eVoloshchak commented on #9497
It already displays `,` if you're on Spanish, but still appends `.` to the number. We need to change this line
https://github.com/Expensify/App/blob/406040d1b208277e44580bb372323e934b112f37/src/components/BigNumberPad.js#L66
[code]

[2022-06-27 21:13] mallenexpensify commented on #9559
@cead22 👀 plz, do you think an external contributor can work on this?

[2022-06-27 21:38] cead22 commented on #9559
Does anybody have reliable steps to reproduce?

[2022-06-27 22:11] roryabraham commented on #9559
Browser notifications are locally-generated on the front-end actually, so external contributors should be able to investigate this.

[2022-06-27 22:12] #9572 closed

[2022-06-27 22:23] roryabraham commented on #9559
I've seen observed this but don't know about reliable reproduction steps. Here's some info to get us started though:

- Local comment notifications are generated [here](https://github.com/Expensify/App/blob/cbfccce7e7e585e12c630aacce010382ecd06734/src/libs/actions/Report.js#L1484-L1490), in `viewNewReportAction`
- The library that actually displays the notifications is [here](https://github.com/Ex

[2022-06-27 22:29] mallenexpensify commented on #9559
For steps, it really is 'use app, have someone send you message, see two notifications'.  I'm still getting them now, Version 1.1.77-2 desktop.

I'm going to post in #engineering in case someone has more info/thoughts.   If we think it can be an external issue, add `External` and a CM will get the job posted promptly.  I'd start it at $500 since it ~annoys me~ is annoying.

Also, I've added this t

[2022-06-27 22:33] marcaaron commented on #9559
Agree with Rory's assessment as the most likely cause. We are sending both `reportComment` and `onyxApiUpdate` events  and they happen in close proximity so the "timestamp" test we're using won't work. Not sure what the best solution would be.

[2022-06-27 22:35] marcaaron commented on #9559
I don't think there's anything an external contributor could do here and we can probably CP something to Web-Expensify to stop sending the `onyxApiUpdate` event for now which will give us some time to think about how to fix this.

[2022-06-27 22:39] amyevans commented on #9505
Thanks for chiming in here @parasharrajat! I spent some time looking at prior discussions in Slack and GitHub and you're right, this has already been discussed _a lot_ 😅. A non-exhaustive list:
* Bug `Emojis are pasted like images when copied and pasted from other apps (e.g Slack, Gmail)` closed as `Won't Do` ([GH](https://github.com/Expensify/App/issues/4888))
* Render Emoji when typed with emoji

[2022-06-27 22:45] MitchExpensify commented on #7737
On hold, not overdue

[2022-06-27 23:02] luacmartins opened #9575 "[Form Refactor] Request a call page"
Coming from the [New Expensify Forms](https://docs.google.com/document/d/1DI4jQ0nyfi2JczhPT440orwlXsTP_O-aGvg-HLmcbwI/edit#heading=h.mnjguil21u0a) design doc, we should refactor [RequestCallPage](https://github.com/Expensify/App/blob/2595343f78d6d9866684b96f8ba96862b9d2165f/src/pages/RequestCallPage.js) to use the new form component, follow the guidelines below:

Here's an example of a Form refact

[2022-06-27 23:16] luacmartins opened #9577 "[$500] [Form Refactor] AddPlaidBankAccount"
Coming from the [New Expensify Forms](https://docs.google.com/document/d/1DI4jQ0nyfi2JczhPT440orwlXsTP_O-aGvg-HLmcbwI/edit#heading=h.mnjguil21u0a) design doc, we should refactor [AddPlaidBankAccount](https://github.com/Expensify/App/blob/main/src/components/AddPlaidBankAccount.js) to use the new form component, follow the guidelines below:

Here's an example of a Form refactor: https://github.com/

[2022-06-27 23:18] luacmartins opened #9578 "[$1000] [HOLD for payment 2023-02-10] [Form Refactor] ACHContractStep"
Coming from the [New Expensify Forms](https://docs.google.com/document/d/1DI4jQ0nyfi2JczhPT440orwlXsTP_O-aGvg-HLmcbwI/edit#heading=h.mnjguil21u0a) design doc, we should refactor [ACHContractStep](https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/ACHContractStep.js) to use the new form component, follow the guidelines below:

Here's an example of a Form refactor: https://git

[2022-06-27 23:19] luacmartins opened #9579 "[HOLD for payment 2022-10-12] [$1000][Form Refactor] BankAccountStep"
Coming from the [New Expensify Forms](https://docs.google.com/document/d/1DI4jQ0nyfi2JczhPT440orwlXsTP_O-aGvg-HLmcbwI/edit#heading=h.mnjguil21u0a) design doc, we should refactor [BankAccountStep](https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/BankAccountStep.js) to use the new form component, follow the guidelines below:

Here's an example of a Form refactor: https://git

[2022-06-27 23:21] luacmartins opened #9580 "[HOLD for payment 2022-12-08] [$250][Form Refactor] CompanyStep"
Coming from the [New Expensify Forms](https://docs.google.com/document/d/1DI4jQ0nyfi2JczhPT440orwlXsTP_O-aGvg-HLmcbwI/edit#heading=h.mnjguil21u0a) design doc, we should refactor [CompanyStep](https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/CompanyStep.js) to use the new form component, follow the guidelines below:

Here's an example of a Form refactor: https://github.com/

[2022-06-27 23:22] luacmartins opened #9581 "[HOLD for payment 2022-12-02] [$1,000] [Form Refactor] RequestorStep"
Coming from the [New Expensify Forms](https://docs.google.com/document/d/1DI4jQ0nyfi2JczhPT440orwlXsTP_O-aGvg-HLmcbwI/edit#heading=h.mnjguil21u0a) design doc, we should refactor [RequestorStep](https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/RequestorStep.js) to use the new form component, follow the guidelines below:

Here's an example of a Form refactor: https://github.

[2022-06-27 23:25] luacmartins opened #9582 "[Form Refactor] ValidationStep"
Coming from the [New Expensify Forms](https://docs.google.com/document/d/1DI4jQ0nyfi2JczhPT440orwlXsTP_O-aGvg-HLmcbwI/edit#heading=h.mnjguil21u0a) design doc, we should refactor [ValidationStep](https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/ValidationStep.js) to use the new form component, follow the guidelines below:

Here's an example of a Form refactor: https://githu

[2022-06-27 23:40] mallenexpensify commented on #8846
Created new job https://www.upwork.com/jobs/~01c9e1e61d8453232e
Hired @adeel0202 for reporting, @mananjadhav for C+ and @dharmik for the fix. All $250

[2022-06-27 23:40] marcaaron commented on #9559
This should be back to normal soon for affected clients as soon as the PR hits prod.

Discussing solutions in [Slack](https://expensify.slack.com/archives/C03TQ48KC/p1656371221045389).

[2022-06-27 23:59] arielgreen commented on #8731
@luacmartins is there a reason we're not increasing price? We shouldn't sit endlessly on issues; if it's valuable enough to fix, we should pay for it. If not, we should close it.

[2022-06-28 00:01] mallenexpensify commented on #8356
(Now that Mills is on vacation...) Doubled price to $500 and created
https://www.upwork.com/jobs/~01abbd864a31eaf164

[2022-06-28 00:14] mallenexpensify commented on #6438
@Beamanator are you/we thinkingto compensate @JosueEchandiaAsto $250 for the repro steps and $250 for the fix? Make sense if so, just want to confirm.  @JosueEchandiaAsto can you please apply here? https://www.upwork.com/jobs/~017c63fddb7ef8f4a1

[2022-06-28 00:17] arielgreen commented on #9339
On staging

[2022-06-28 00:24] mallenexpensify commented on #9559
Thanks for the super-dooper quick fix @marcaaron

[2022-06-28 00:33] mallenexpensify commented on #7317
Should we wait for the #7702 to hit production first @parasharrajat / @mananjadhav ?

[2022-06-28 00:34] roryabraham commented on #7648
I think @rushatgabhane should get $1000 for the review on this issue and @parasharrajat gets

[2022-06-28 00:35] marcaaron commented on #9559
Anytime, and you're welcome! You can also thank me for breaking this 😅

[2022-06-28 00:47] jliexpensify commented on #9307
@JosueEchandiaAsto - I have a payment request from you in Upworks, but I'm going to reject it as we generally pay 7 days after deployment.

@mananjadhav @neil-marcellini - it doesn't look like this has been deployed, right? Apologies if I've misunderstood something in this issue, I'm not an engineer.

[2022-06-28 01:11] aldo-expensify commented on #9564
Investigated, haven't found the cause yet. Posted some details here: https://expensify.slack.com/archives/C03TQ48KC/p1656374900329719

[2022-06-28 02:26] aldo-expensify commented on #8841
@Santhosh-Sellavel I gave it some time today, but I'll have to continue tomorrow

[2022-06-28 03:08] ntdiary commented on #8719
@parasharrajat
I used this solution in my videos.(I can remove `setTimeout`)
https://github.com/ntdiary/App/commit/dfe04bd56480ae893885960aa398db8ecd5f7614
just calculated `deviceHeight` in the `BaseModal.js` like `WithWindowDimensions.js`(remove debounce)

If we cannot calculate height in real time because of performance, I'm afraid I haven't thought another solution yet.

[2022-06-28 03:53] mvtglobally commented on #7432
Issue not reproducible during KI retests. (First week)

[2022-06-28 03:53] mvtglobally commented on #8220
Issue not reproducible during KI retests. (Second week)

[2022-06-28 04:00] mvtglobally commented on #8927
Issue not reproducible during KI retests. (First week)

[2022-06-28 04:02] mvtglobally commented on #9124
Issue not reproducible during KI retests. (Second week)

[2022-06-28 04:03] mvtglobally commented on #9164
Issue not reproducible during KI retests. (Second week) for original file formats

[2022-06-28 04:05] mvtglobally commented on #9339
Issue not reproducible during KI retests. (First week)

[2022-06-28 04:07] mvtglobally commented on #9352
@kevinksullivan Issue not reproducible during KI retests. (Second week)
https://utest-dl.s3.amazonaws.com/testRunStepMinAttachmentsResult/21961816/Recording__651.mp4?AWSAccessKeyId=AKIAJ2UIWMJ2OMC3UCQQ&Expires=1687925201&Signature=QtHUDjL9%2BFaoQ0VgE%2BQbZaeYqvQ%3D

[2022-06-28 04:12] mvtglobally commented on #9535
Issue not reproducible during KI retests. (First week)

[2022-06-28 04:15] parasharrajat commented on #7317
I don't mind waiting.

[2022-06-28 07:03] allroundexperts commented on #9287
@jliexpensify Applied on upwork!

[2022-06-28 07:52] marktoman commented on #7436
### Proposal

When a user searches a non-existent institution on Plaid and exits, we receive:
[code]
Interestingly, Plaid does not distinguish between "Add account manually" and the close button. Both actions result in the response above.

https://plaid.com/docs/link/web/#link-web-onexit-metadata-status-institution-not-found

Currently, we go back on exit:

https://github.com/Expensify/App/blob/fb

[2022-06-28 07:59] mananjadhav commented on #9444
@b1tjoy Do you have any updates for me on this one?

[2022-06-28 08:25] MonilBhavsar commented on #8592
Making it Monthly so we cap the price of this issue
https://expensify.slack.com/archives/C01SKUP7QR0/p1653671315618679
@arielgreen

[2022-06-28 08:59] sobitneupane commented on #9389
You got me wrong.
Initially, we will be showing "0". What if user types or presses another 0? Will it be just "0" or "00"?

Does it mean, 0 is just a placeholder?

[2022-06-28 09:08] Julesssss commented on #9088
Hi @jayeshmangwani, are you still available to work on this if I assign you?

[2022-06-28 09:10] b1tjoy commented on #9444
@mananjadhav I will post pull request soon, in less than 12 hours.

[2022-06-28 09:13] jayeshmangwani commented on #9088
Yes I am available @Julesssss , Thanks

[2022-06-28 09:38] sketchydroide commented on #9480
thanks @francoisl for going over those, I agree, I think those are not blockers

[2022-06-28 09:39] OSBotify commented on #9480
This issue either has unchecked items or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2022-06-28 09:44] sketchydroide commented on #9480
:shipit:

[2022-06-28 09:44] #9480 closed

[2022-06-28 09:50] OSBotify opened #9586 "Deploy Checklist: New Expensify 2022-06-28"
**Release Version:** `1.1.79-18`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/7702
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/8549
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9218
  - [x] QA

[2022-06-28 10:08] sobitneupane commented on #9418
**Proposal:**
We need to update `avatarHighResolution`, along with `avatar` in the following functions to solve the issue as `avatarHighResolution` is used in enlarged view.
https://github.com/Expensify/App/blob/a1be80db6cd1edface034d8e11cfabb3707ea2ea/src/libs/actions/PersonalDetails.js#L342-L359
[code]
https://github.com/Expensify/App/blob/a1be80db6cd1edface034d8e11cfabb3707ea2ea/src/libs/action

[2022-06-28 10:21] mdneyazahmad commented on #9252
## Proposal

There existed the same issue on composer and is fixed by a workaround with `setTimeout` by this [PR](https://github.com/Expensify/App/pull/3392).

https://github.com/Expensify/App/blob/d7dc3eea13bdb2af3e606530dc42058ca0a291ee/src/pages/home/report/ReportActionCompose.js#L334-L352

https://github.com/Expensify/App/blob/d7dc3eea13bdb2af3e606530dc42058ca0a291ee/src/pages/home/report/Repo

[2022-06-28 10:41] #9290 closed

[2022-06-28 11:36] sketchydroide commented on #9497
Yeah I think I'm happy with that solution @eVoloshchak 👍🏼

[2022-06-28 12:59] trjExpensify commented on #9566
Sounds good to me, closing for now!

[2022-06-28 13:12] Julesssss commented on #9533
I think the PR fixed one case only. Posted more info in the original PR: https://github.com/Expensify/App/pull/9471#issuecomment-1168704378

[2022-06-28 14:39] alex-mechler commented on #9009
This is off hold now, @kbecciv @mvtglobally @isagoico can we get this retested just to confirm its still an issue?

[2022-06-28 15:16] kbecciv opened #9594 "[$250] Web - IOU Participants - Nothing happens when press CMD+Enter"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executed PR:** https://github.com/Expensify/App/pull/7702

## Action Performed:
1. Go to NewDot
1. Click/tap on the green + icon on the home scree

[2022-06-28 15:22] kbecciv opened #9595 "Web - Confirmation List - The participant isn't shown after press the ArrowUp key"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executed PR:** https://github.com/Expensify/App/pull/7702

## Action Performed:
1. Go to NewDot
2. Open a 1:1 DM with another user (not Chronos or

[2022-06-28 16:16] aldo-expensify commented on #9564
Thanks @justinpersaud , very cool that we have the cause now :)

[2022-06-28 16:28] kidroca commented on #9293
@AndrewGable I've opened a PR with a script for generating source maps and decoding stack traces: https://github.com/Expensify/App/pull/9596

See if it works for you (more details in the PR)

[2022-06-28 16:28] roryabraham commented on #7822
Looked into this a while ago, and it turned out that it's pretty hard for a lint rule to determine if an object is a React functional component or not. Going to unassign this for now due to high difficulty-to-value ratio.

[2022-06-28 16:30] marktoman commented on #9250
### Proposal

HTML generated by the app (meaning HTML rendered in the browser) for comment links is not the anchor element alone, but the anchor nested inside a div tree.

When we copy, we copy from the rendered HTML, and while the copy strips and skips unneccessary parts, it preserves the anchor tree. Because of that, even inline anchors (rendered inline because of styling) are then converted wit

[2022-06-28 16:37] kevinksullivan commented on #9352
Nice, going to close this out then.

[2022-06-28 16:37] #9352 closed

[2022-06-28 16:46] liyamahendra commented on #9579
@luacmartins I did a similar work on https://github.com/Expensify/App/issues/9234 and would be happy to take this up.

Since this isn't an usual bug, should I propose the changes required for making the `BankAccountStep` to use `Form` or you expect something else as a part of the proposal?

[2022-06-28 16:50] thesahindia commented on #9247
@mananjadhav, the PR is ready for the review now 🚀

[2022-06-28 16:50] Santhosh-Sellavel commented on #9533
@Julesssss Just now verified everything looks good for me in staging.

https://user-images.githubusercontent.com/85645967/176236102-98094292-85fe-4778-b801-22eb2687fe8f.mov

[2022-06-28 16:56] dhairyasenjaliya commented on #8592
### Proposal

**Root Cause**

- hello since I was debugging this issue I found out that this issue is mainly caused because we have added the mouseDown event ( e.preventDefault() ) in send button  in order to keep the focus on text input even after the message is sent, preventDefault method will stop all the default event for text input and keeps keyboard open, although we do clear the text values

[2022-06-28 16:58] Karim-30 commented on #9542
### Proposal

`Phone number` text input opens numeric keyboard and `Company website` text input opens alphabetical keyboard, alphabetical keyboard is taller than numeric keyboard, so if we move `Company website` text input above `Phone number` text input we guarantee that switching from an upper text input to a lower text input will cause a keyboard shrinking.

I know it is a very simple solution,

[2022-06-28 17:03] marktoman commented on #9240
1. Well, paste `<b>test</b>` or `*test*` using any method -- it does not strip anything. The native functionality is meant for RTF and such I believe, not for markup.
2. Ok, so can you elaborate on the changes? We get the rendered HTML under the user selection. Then, we reproduce it as a bare HTML tree. which is relevant for the copy (stripping styles etc.). Then, we produce MD out of it.

[2022-06-28 17:03] kbecciv opened #9598 "Split/Group - Selected user is not visible for split bill/create a group chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to NewDot
2.  Select green + and then Split Bill
3. Input amount and click Next
4. Select users

## Expected Result:
Selected users are displa

[2022-06-28 17:04] OSBotify commented on #9598
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-06-28 17:21] parasharrajat commented on #9240
So if this is pasted as text then it is already in text form even though it contains `*`. I don't think the issue meant to remove these. IMO, problem is to allow pasting as text when the clipboard contains markup.

OR are you saying that when `<b>test</b>` is pasted as part of copied HTML?

Yes. Do not convert to MD on the copy step. Paste event handlers will convert the copied HTML to MD before p

[2022-06-28 17:21] mallenexpensify commented on #9559
On Version 1.1.78-8  I'm mostly getting single notifications but have seen at least one double notification come through.
Here's a janky vid showing a double from my test account to my main. When I tried to film a screen capture vid the notifications wouldn't show, so had to do on phone. Let me know if there's anything I can do to continue to help test

https://user-images.githubusercontent.com/22

[2022-06-28 17:34] Santhosh-Sellavel commented on #9497
Check the video [here](https://github.com/Expensify/App/issues/9497#issuecomment-1167763611)
In Spanish by default only `.` is shown. After modifying still `,` changes `.` in a second or two is this expected?

[2022-06-28 17:36] dhairyasenjaliya commented on #8592
yup agreed have tried a lot of different ways to solve this issue, and this solution only fits best in given conditions from my side, sure let's wait for better ideas

[2022-06-28 18:02] chiragsalian commented on #9513
Hmm Its a valid bug but nothing needs to be done here because for any issue offline we captured in our offline UX patterns doc and  internal API Refactor doc. These are currently being worked on and hence this issue should be tackled [here](https://github.com/Expensify/Expensify/issues/211601). Closing this issue. We can reopen once again if the internal API refactors are done and this is not hand

[2022-06-28 18:02] #9513 closed

[2022-06-28 18:32] jayeshmangwani commented on #9088
[PR](https://github.com/Expensify/App/pull/9601) raised, and the job is no longer available at Upwork
@rushatgabhane @Julesssss

[2022-06-28 18:34] mallenexpensify commented on #9391
@kbecciv 👀 plz
https://github.com/Expensify/App/issues/9391#issuecomment-1158654898

[2022-06-28 18:37] mallenexpensify commented on #9578
@luacmartins couple questions before posting the job on Upwork
1. The Design Doc linked isn't accessible to those outside of Expensify, will a contributor need any details from the doc in order to do this job?
2. Should we start at $250 like most other jobs?

[2022-06-28 18:44] JosueEchandiaAsto commented on #9539
PR Created 🎉 https://github.com/Expensify/App/pull/9603

[2022-06-28 18:50] cead22 commented on #7081
Hi, just checking in, any new updates this week?

[2022-06-28 18:50] kbecciv opened #9604 "Web - Search page - First item is highlighted once any value is entered/deleted in the field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR** https://github.com/Expensify/App/pull/7702

## Action Performed:
1. Login to https://staging.new.expensify.com/
2. Open search page

[2022-06-28 18:56] danielrvidal opened #9605 "Update Allocations "Teams Export" script so it no longer has the startDate in the file"
We use the following instructions for our allocations process, which is approaching at the end of the month. We rely on the "script/exportTeams.sh" to get us the information our teams information. But the current script has extra information. We do not need the StartDate, so would like it removed.

We just need the email and team, at the time the report is run.

Below are the directions we input w

[2022-06-28 19:02] yuwenmemon commented on #9424
Looks like the filesize is getting adjusted client-side:

https://user-images.githubusercontent.com/4741899/176261792-a07a6149-3991-48fd-9b15-c6faf754244f.mp4

[2022-06-28 19:08] parasharrajat commented on #9389
That said, I am open to hearing different solutions. One might be just be working with a placeholder.

It totally depends on how we implement this. But I think it would be 0.

1. Start with 0.
2. Pressing 0 keeps zero.
3. Pressing . adds 0.
4. Pressing any non-zero number replaces 0.

[2022-06-28 19:12] kbecciv opened #9606 "New group- Text for the maximum number (8) of participants is repeated twice"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in any account
2. Click on the green plus button
3. Click on Create Group
4. Start the group creation flow and add 8 participants.
5. Verify

[2022-06-28 19:13] OSBotify commented on #9606
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-06-28 19:19] parasharrajat commented on #8719
Thanks for the clarification. As you are aware, we can't remove the denouncing from `WithWindowDimensions` hook due to some bug (until resolved). We can try to decouple the Modals from `WithWindowDimensions` but that is very likely to be accepted by the team. Creating two different sources of truth for dimensions will be confusing overall. But I will open a new discussion on the slack to hear othe

[2022-06-28 19:19] yuwenmemon commented on #9424
Anywhooo... Looks like since this is not a problem with the API we can have a contributor work on it. Curious to know what the issue is!

[2022-06-28 19:23] marktoman commented on #9240
I see, if the requirement is to strip it when it is produced as such and not whenever it contains markup, then you are completely right. [The slack example](https://expensify.slack.com/archives/C01GTK53T8Q/p1651079651129459?thread_ts=1651016164.788809&cid=C01GTK53T8Q) referenced above works without that or in fact any change on chrome. I understood the issue as trim it no matter what because of [t

[2022-06-28 19:32] kbecciv opened #9608 "Web - Line Breaks - Copying & Pasting Line breaks does not work"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre- Condition: User has copied a line break previously
1. Access staging.new.expensify.com
2. Sign into any valid account
3. Click on any chat
4. A

[2022-06-28 19:37] justinpersaud commented on #9564
Can you try again? I just updated the rule using the same logic we have in PHP where we should bypass the firewall rule here if the request is from mobile.

[2022-06-28 19:47] lbaldy commented on #2727
I come bearing good news, that the PR https://github.com/facebook/react-native/pull/34014 has been merged to react-native's main branch! :)

[2022-06-28 19:47] chiragsalian commented on #9606
I think this got broken in this PR - https://github.com/Expensify/App/pull/7702
More specifically [here](https://github.com/Expensify/App/pull/7702/files#diff-f7eec01ae30248000c28c7d3f68c7ea00ba10e5fc64f2854474a350beb2e9556R258) since there is already a header message im not sure why we're passing that prop. Investigating.

[2022-06-28 19:49] iwiznia commented on #9604
I don't think this is an issue, saving the position of your selected item after the search has changed is not needed and I don't think it would even be expected. IMO the current behavior is correct.

[2022-06-28 19:50] luacmartins commented on #9578
Great questions @mallenexpensify!

The issue description should have everything the contributor needs to work on this.

Yes! Let's start at $250.

Thanks for the help!

[2022-06-28 19:51] #8605 closed

[2022-06-28 19:54] NicMendonca commented on #9581
Job post -- https://www.upwork.com/jobs/~012c4ed44ee1b967a1

[2022-06-28 19:59] chiragsalian commented on #9606
cc @roryabraham, i see you added the message on the bottom very recently. I couldn't find a GH issue where its specific to have it at the bottom. Do you know why you added it - [here](https://github.com/Expensify/App/pull/7702/files#diff-411d6dc11e8818de08aaa6ad9225671909a900f8806842cd39bfc2f1af58967cR99-R102)?

If not i was planning on updating this to remove the message from the bottom to keep i

[2022-06-28 20:05] eVoloshchak commented on #9497
That's how it works right now, I was talking about it [here](https://github.com/Expensify/App/issues/9497#issuecomment-1166304208)

We can fix this if we delete [this](https://github.com/Expensify/App/blob/3f12c33f8a3e371c7f19ac6d0381932e8c46dc76/src/pages/workspace/reimburse/WorkspaceReimburseView.js#L124) line and limit number to 2 digits after the separator in regex
[code]

[2022-06-28 20:21] aldo-expensify commented on #9564
@justinpersaud just tried, got the same. Do you need information from the request that got rejected?

[2022-06-28 20:47] srikarparsi commented on #9485
Did a little investigating, bug is for all files, not just images on safari

[2022-06-28 21:07] kevinksullivan commented on #9579
Oh... I agree. This will change as a result of the explorations we're working on. :nobodyreads: sorry @luacmartins , I agree we should hold on this.

[2022-06-28 21:08] aldo-expensify commented on #8841
So... I reviewed this today and indeed @mollfpr 's proposal seems to fix:

1. Buggy history. Reproduced this by:
    1. Login using an accounts that have a few conversation (i.e. 4 conversations)
    2. Open the first, then the next, then the next, then the next (consecutively)
    3. Start using the "Back" functionality of the browser... it won't go back one by one, but instead, it will skip some

[2022-06-28 21:44] #9606 closed

[2022-06-28 21:51] kbecciv opened #9614 "IOU- Missing bullets after clicked on the currency symbol"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with any account
3. Press the big green + to open the global create menu.
4. Select "request money"
5.

[2022-06-28 21:53] OSBotify commented on #9614
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-06-28 21:55] OSBotify commented on #9586
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.79-3 has been deployed to staging :tada:

[2022-06-28 22:07] parasharrajat commented on #9614
This may be a side-effect of #7702

[2022-06-28 22:21] marktoman commented on #9250
# Proposal

Implementation of the idea mentioned previously. This way, we don't need to wrap the anchor tree in `<span>`. We identify it by the fact that it is rooted in `<comment>` and each element has a single child and the tree ends with the anchor. The wrapping elements are meaningless in every way for the copy (see Copied HTML above).

https://github.com/Expensify/App/blob/965c16c2bf4bdb878d8

[2022-06-28 22:28] MitchExpensify commented on #8841
Great! Mind making a proposal [here](https://www.upwork.com/jobs/~012b8d15ef12260c79) @mollfpr? I've invited you @Santhosh-Sellavel for eventual C+ payment

[2022-06-28 22:53] marcaaron commented on #9122
@rushatgabhane can you bring this to `#contributor-plus` so we can discuss? I'm still catching up here and unsure if we should close this or not.

[2022-06-28 23:06] justinpersaud commented on #9564
hmm yeah I need the request IDs to see. Do you know if we send `appversion` as a header or a cookie in mobile requests? If not, I can look tomorrow.

[2022-06-28 23:15] jliexpensify commented on #9088
Re-posted:

Internal - https://www.upwork.com/ab/applicants/1541923006968999936/job-details
External - https://www.upwork.com/jobs/~018f0b8d4da5523520

@jayeshmangwani - I can't seen to find you in Upworks, please feel free to apply for te job or send me your profile link
@rushatgabhane - have invited you

[2022-06-28 23:19] mollfpr commented on #8841
@MitchExpensify submitted, thanks!

[2022-06-28 23:28] kbecciv opened #9620 "mWeb - Security- New Password field is hidden by Save button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: user has password suggestion in her/his phone
1. Go to staging.new.expensify.com
2. Log in with any account
3. Go to Setting - Securit

[2022-06-28 23:48] roryabraham commented on #9209
Not pursuing this right now, going to unassign myself for now. cc @marcaaron since I know you're a fan of Storybook

[2022-06-29 00:07] marcaaron commented on #9209
Yes! Love Storybook. But unsure what this issue is asking? Does it need to have anything to do with Onyx? Could see an argument that a well designed component has no knowledge of Onyx at all and should always be a dumb recipient of props like `isOffline: true/false` vs. having a dependency on an Onyx key.

[2022-06-29 00:17] luacmartins commented on #9614
@roryabraham is this the new expected behavior for currency list?

[2022-06-29 00:18] roryabraham commented on #9614
Yes, this is the new expected UI. Do we need to update the regression tests?

[2022-06-29 00:59] aldo-expensify commented on #9564
Here you have another failed request:

[code]

I really don't know... it is in the `$_REQUEST`. My guess would be that it comes in the post request's body, but `$_POST` is empty 🤷

<img width="347" alt="image" src="https://user-images.githubusercontent.com/87341702/176328664-5341387b-db71-4dec-ba57-7bfc601b2a6c.png">

[2022-06-29 01:01] kadiealexander commented on #9418
Posted to Upwork!

https://www.upwork.com/ab/applicants/1532271886227472384/job-details
https://www.upwork.com/jobs/~01b7fcbbd791dc6c42

[2022-06-29 01:55] kbecciv commented on #9391
@mallenexpensify Going to retest tomorrow, will update you shortly.

[2022-06-29 02:07] rushatgabhane commented on #9598
Probably not a blocker. It's a known limitation of #7702

We should get it fixed though. cc: @roryabraham

[2022-06-29 02:11] rushatgabhane commented on #9595
@kbecciv I'm confused here. We're requesting money to `Holla Ryba` and the same user is shown on the confirm page.
Can you help me understand what's the bug here?

cc: @TomatoToaster

[2022-06-29 02:12] rushatgabhane commented on #9594
@roryabraham this is the expected UX, right?

[2022-06-29 02:28] rushatgabhane commented on #9418
@flodnv any chance this issue will be solved by the ongoing refactor?

[2022-06-29 02:34] rushatgabhane commented on #9418
@sobitneupane thanks for your proposal!

- `avatar: response.s3url`
- `avatarHighResolution: response.s3url`

If both high resolution and low resolution avatars are using the same url, why do we need `avatarHighResolution` in the first place?

[2022-06-29 02:54] kadiealexander commented on #9424
Posted to Upwork!

https://www.upwork.com/jobs/~01b7fcbbd791dc6c42
https://www.upwork.com/ab/applicants/1532271886227472384/job-details

[2022-06-29 04:14] mvtglobally commented on #9586
@sketchydroide Regression is completed
Deploy Blockers
#9598
#9606
#9614

PR https://github.com/Expensify/App/pull/7702 is failing due to multiple issues https://github.com/Expensify/App/issues/9594, https://github.com/Expensify/App/issues/9606, https://github.com/Expensify/App/issues/9598
PR https://github.com/Expensify/App/pull/9512#issuecomment-1169510399 need clarification. We are blocked to p

[2022-06-29 04:30] rushatgabhane commented on #9487
@jliexpensify we're fixing this issue both on frontend and backend https://github.com/Expensify/App/pull/9554#issuecomment-1165842774

The [PR](https://github.com/Expensify/App/pull/9554) is on staging. $250 after the regression period sounds great!

[2022-06-29 04:34] rushatgabhane commented on #9246
@JoshuaM1995 congrats on your first PR to Expensify/App!

[2022-06-29 05:01] bdt2019unicorn commented on #9466
@parasharrajat

Thank you for your reply.
Sorry as I have just seen this because I thought the Upwork proposal person ignore my proposal as I did not see any reply.
I tried to sign up with the app using the staging environment but I can't even sign up and the only place I can sign up is in the website.
In that place, I don't this screen so that is why I can only give a general solution based on th

[2022-06-29 05:05] kadiealexander commented on #8956
Switching to monthly as this had been on hold for a month now.

[2022-06-29 06:07] jayeshmangwani commented on #9088
@jliexpensify applied for job, Thanks

[2022-06-29 07:28] Murodjon000 commented on #9581
Hi 👋  @neil-marcellini, may i update RequsterStep, i checked the details, the steps that i will do using Form.js component inside RequestorStep component properly refactoring the code. In old one clicking the `fix the errors` is not working as expected, While refactoring i will stick to the instructions above.

[2022-06-29 08:49] Julesssss commented on #9533
Yep, I see the same thing now. Still not sure why it partially worked until now :/

[2022-06-29 08:49] #9533 closed

[2022-06-29 10:27] sketchydroide commented on #9614
Yeah I was coming to ask why we need the bullets, it looks better without them.
Going to remove blocker

[2022-06-29 10:31] sketchydroide commented on #9598
@roryabraham do you have any input on this
it sounds broken, but wander if  @rushatgabhane comments are correct.

[2022-06-29 11:29] sketchydroide commented on #9594
I'm adding a deploy blocker has this seems to block the QA of https://github.com/Expensify/App/pull/7702 and therefor blocking the deployment

[2022-06-29 11:30] sketchydroide commented on #9586
added https://github.com/Expensify/App/issues/9594 as a deploy blocker as it blocks the test of https://github.com/Expensify/App/issues/7702, and until we understand what is needed it should have maximum attention.

[2022-06-29 11:33] Julesssss commented on #9088
Merged, we just need to wait for prod deployment and then the 7 day countdown will begin.

[2022-06-29 12:36] MariaHCD commented on #9608
Unable to reproduce the issue. I tried copying over from Slack and even from a regular text area and the new lines are preserved when pasting into NewDot

Slack:
![Screen Shot 2022-06-29 at 4 34 42 PM](https://user-images.githubusercontent.com/12268372/176437546-6b6d36dc-3ef8-4288-bd4f-839664bb57aa.png)

Regular text area:
![Screen Shot 2022-06-29 at 4 34 16 PM](https://user-images.githubuserconte

[2022-06-29 12:43] adeel0202 commented on #9331
The fix for this bug has been deployed to production but I'm still able to reproduce this on Safari. Shall I report it on slack or just reporting here is enough?
cc: @stitesExpensify @mananjadhav

[2022-06-29 13:27] kbecciv commented on #9391
@mallenexpensify @MonilBhavsar Issue reproduced:
1. iPhone/Safari
2. Android/Chrome
Please attached the videos
https://user-images.githubusercontent.com/93399543/176447427-742c1f68-67c3-428c-9dba-aaa0d5433390.MP4

https://user-images.githubusercontent.com/93399543/176447436-03904f7a-104c-4640-8bbc-5388c99de76d.mp4

[2022-06-29 14:03] kbecciv opened #9624 "[HOLD for payment 2022-08-11] [$500] IOS/Android - Attachment- App crashed after tap on link"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Go to any conversation and tap on plus button
4. Select Add Attachment
5. Select any attachm

[2022-06-29 14:27] marktoman commented on #9240
I think we should do something like Slack when copying, which is to put stripped text in `text/plain` and MD in `text/html`. That way, we can take advantage of both ways of pasting. Currently, we have MD in `text/plain` as well.

The change is to strip md and return all available versions (including HTML, but that is not being used for the reasons mentioned previously).

https://github.com/Expensi

[2022-06-29 14:54] parasharrajat commented on #9466
@bdt2019unicorn I will suggest you join our open-source slack channel for such questions. But I believe that most of the information is available on `Read.me` and `contributing.md` files.

Follow the action performed. Let me know otherwise.

[2022-06-29 15:06] luacmartins commented on #9579
Fair enough! When do we plan to discuss push to page?

[2022-06-29 15:07] luacmartins commented on #9575
Holding on push to page discussion as per [this comment](https://github.com/Expensify/App/issues/9579#issuecomment-1169229996)

[2022-06-29 15:07] luacmartins commented on #9577
This issue is being put on hold because of push to page discussion, as per [this comment](https://github.com/Expensify/App/issues/9579#issuecomment-1169229996).

[2022-06-29 15:09] luacmartins commented on #9580
This issue is being put on hold due to push to page discussions, as per [this comment](https://github.com/Expensify/App/issues/9579#issuecomment-1169229996).

[2022-06-29 15:09] roryabraham commented on #9594
Agree, this is how it was designed so I wouldn't say it counts as a regression or deploy blocker. If we want to make `CMD+Enter` work just like `Enter` for lists that don't support multiple selections, that's a new feature. It seems like a good idea to me but can be treated as separate

[2022-06-29 15:09] luacmartins commented on #9581
This issue is being put on hold due to push to page discussions, as per [this comment](https://github.com/Expensify/App/issues/9579#issuecomment-1169229996).

[2022-06-29 15:09] luacmartins commented on #9582
This issue is being put on hold due to push to page discussions, as per [this comment](https://github.com/Expensify/App/issues/9579#issuecomment-1169229996).

[2022-06-29 15:09] roryabraham commented on #9594
This can also be external

[2022-06-29 15:11] roryabraham commented on #9614
We can close this as soon as we confirm we've updated regression tests to reflect the new UI on this page.

[2022-06-29 15:13] roryabraham commented on #9586
Checked off https://github.com/Expensify/App/issues/9594 and https://github.com/Expensify/App/issues/9614 as they're not deploy blockers.

https://github.com/Expensify/App/issues/9606 should be fixed by https://github.com/Expensify/App/pull/9610, but the [CP failed](https://github.com/Expensify/App/pull/9616). Just manually merged it so that fix should be deployed soon

[2022-06-29 15:14] laurenreidexpensify commented on #8440
Paid and closing :)

[2022-06-29 15:14] #8440 closed

[2022-06-29 15:14] adelekennedy commented on #9580
Ty ty!

[2022-06-29 15:16] roryabraham commented on #9586
All GH Actions are currently down, so merging that failed CP did not result in a deploy. We'll just need to wait for the GH incident to be resolved, then we will evaluate. We _probably_ will need to manually CP the PR again.

<img width="1133" alt="image" src="https://user-images.githubusercontent.com/47436092/176472879-e850afa8-437d-415c-ab0d-55c06249ae44.png">

[2022-06-29 15:27] luacmartins commented on #9581
@Murodjon000 this issue is now on hold!

[2022-06-29 15:27] roryabraham opened #9625 "Automerge pull requests do not work if mergeable_state is blocked"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Cherry pick a pull request or merge one when the deploy checklist is unlocked.
1. Observe a workflow like this one: https://github.com/Expensify/

[2022-06-29 15:28] OSBotify commented on #9586
This issue either has unchecked items or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2022-06-29 15:32] sketchydroide commented on #9598
I think @rushatgabhane was trying to say that #7702 has a similiar known limitation on Android, but I'm not sure this is related, might be...

[2022-06-29 15:32] roryabraham commented on #9598
Yes, I can confirm that this shouldn't be a deploy blocker but a separate ticket. It was a bug we knew about in https://github.com/Expensify/App/pull/7702 that we decided to fix separately because that PR was so big already.

[2022-06-29 15:33] sketchydroide commented on #9586
https://github.com/Expensify/App/issues/9598 is not a deploy blocker, @roryabraham just confirmed this.

[2022-06-29 15:34] sketchydroide commented on #9586
I've answered https://github.com/Expensify/App/pull/9469#issuecomment-1169108708 comment

[2022-06-29 15:41] stitesExpensify commented on #9620
It looks like the problem is actually the keyboard popping up, not the password suggestions (it's hidden behind the suggestions here). Looks like we need a `<keyboardAvoidingView>` somewhere. Should be an easy fix

[2022-06-29 15:49] roryabraham commented on #9598
@puneetlath I've got a fix for this

[2022-06-29 15:57] roryabraham commented on #9598
Put up a [PR](https://github.com/Expensify/App/pull/9626) to fix this. I can confirm the issue is platform-agnostic and happened on all platforms, not just Android

[2022-06-29 16:23] mallenexpensify commented on #8541
@dharmik Can you please apply to the Upwork job and confirm in a comment here once you have? Thx
 https://www.upwork.com/jobs/~016f4893b49ecbf949

[2022-06-29 16:28] mallenexpensify commented on #7925
Asking for an update I can post in here for visibility

[2022-06-29 16:28] stitesExpensify commented on #9331
Hm that's not great.. @sobitneupane can you confirm this is fixed on safari, and create a fix if it is not? In the mean time we will hold on payment @trjExpensify

[2022-06-29 16:29] stitesExpensify commented on #9331
Thanks for bringing this up @adeel0202

[2022-06-29 16:30] trjExpensify commented on #9331
Removed the label and edited the title for the time being.

[2022-06-29 16:34] mallenexpensify commented on #8349
Updated to `Monthly` since I don't _think_ anyone thinks the bug currently warrants a higher price tag.  Correct me if you think I'm wrong (please... any/everyone, not just employees)

[2022-06-29 16:39] stitesExpensify commented on #8349
I agree that this should not be increased any more.

[2022-06-29 16:48] marktoman commented on #9240
BTW, here is an update for the fallback method (option B) to be used on implementations with no native feature. `readText` picks plain text (`read` is generic):
[code]

[2022-06-29 16:49] #9122 closed

[2022-06-29 17:06] kbecciv opened #9628 "[HOLD for payment 2022-08-30] [$250] Android - Deep Links not working on Android 12+@tomivs"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to NewDot on the app.
2. From an email or external source, click on the link https://new.expensify.com/statements/202202/
3. Verify that t

[2022-06-29 17:18] parasharrajat commented on #9252
Ok, I see. Although we have adopted a workaround previously, it does not mean that we should do that always.

Yeah, try to find the solution to the real problem of why the keyboard is not opening? Let's see some root cause analysis.

FYI @mdneyazahmad your proposal matches with https://github.com/Expensify/App/issues/9252#issuecomment-1156088875 .

[2022-06-29 17:36] roryabraham commented on #9594
Yeah, exactly

[2022-06-29 17:51] luacmartins commented on #9614
@kbecciv @mvtglobally do we need to update regression tests to reflect the new UI on this page?

[2022-06-29 17:51] Santhosh-Sellavel commented on #8791
Can we double this up or bump it down to monthly?

[2022-06-29 17:57] marcaaron commented on #9209
Onyx data is still just props though right? Something like `props.network.isOffline` should be editable in the story when you are messing around with whatever component.

[2022-06-29 18:00] justinpersaud commented on #9564
Ok, not ideal, but I created a bypass for mobile when the request has a low bot score and `okhttp` is in the request. I will raise this issue with my sync with Cloudflare in a few weeks to see if there is a better way to deal with this.

![image](https://user-images.githubusercontent.com/2513393/176504797-69804f31-5e58-43c1-86b0-65901b7a798e.png)

Can you try again?

[2022-06-29 18:10] isagoico commented on #9614
@luacmartins @roryabraham Steps in the regression don't mention the checkmark, we only need to verify that the currency is selected in the currency list. I think we're good to close this out without any changes there.

[2022-06-29 18:24] robertjchen commented on #9605
[employeeExport.csv](https://github.com/Expensify/App/files/9013127/employeeExport.csv)

[2022-06-29 18:32] aldo-expensify commented on #9564
@justinpersaud failed the same way

### Request:

[code]
### Response:
[code]

I'm pretty sure that the `appversion` goes in the body of the POST request. Do you think you can use that in your filter?

[2022-06-29 18:36] Santhosh-Sellavel commented on #9424
The problem seems to occur in iOS alone. Can we change platform section to iOS?

[2022-06-29 18:39] parasharrajat commented on #9240
That sounds like what I asked for https://github.com/Expensify/App/issues/9240#issuecomment-1165704026.

`navigator.clipboard.write` support is questionable on firefox. You will have to adopt old techniques to update the clipboard. See `Cliboard.setString` internals.

So it seems like it will work. Now could you please post a complete proposal or modify the last post with full information about th

[2022-06-29 18:42] kavimuru opened #9630 "Crash occurred after Click on the "Get started" on the inbox task on OD"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #9469

## Action Performed:
1. Make sure you are signed out of NewDot on mobile web
2. Go to the OldDot mobile app and sign up for a new ac

[2022-06-29 18:46] marktoman commented on #9240
This does convert the copied HTML to MD.

We can use `setString` (or `insertText`) for text, but not when producing multiple types when copying. The fallback method would remain as is, which I guess is fine as a fallback method.

[2022-06-29 18:56] parasharrajat commented on #9240
Oh, I see. But why do we need this? Why can't we just store HTML in `text/html`. The composer is already handling on paste.

Correct. There are other ways of doing this. I am fine with `navigator.clipboard.write` but https://developer.mozilla.org/en-US/docs/Web/API/Clipboard/write#browser_compatibility

[2022-06-29 18:57] marktoman commented on #9332
`URL_FRAGMENT_REGEX` is used [here](https://github.com/Expensify/expensify-common/blob/3d87e9b87c6e5ce5fa4bac05bceb3cdf3ad6ca56/lib/ExpensiMark.js#L10), we don't change that. The only reason why we touch `URL_FRAGMENT_REGEX` is to avoid duplicity, so we extract the character list to a separate variable. Meaning you can choose either line and the outcome is the same.
[code]

### Description of the

[2022-06-29 19:01] aldo-expensify commented on #9545
This maaaay be the same as: https://github.com/Expensify/App/issues/9182

[2022-06-29 19:11] parasharrajat commented on #8292
@aneequeahmad I am not sure where exactly you are referring to doing the change. Please update your proposal and use links to pinpoint the change. Also, do I have to add those lines or replace it?? :confused:

[2022-06-29 19:15] neil-marcellini commented on #9630
This error is expected until https://github.com/Expensify/App/pull/9469 hits production. See my comment [here](https://github.com/Expensify/App/pull/9469).

[2022-06-29 19:15] #9630 closed

[2022-06-29 19:16] parasharrajat commented on #9240
Ok, so you are suggesting that we should use MD in `text/html` instead of HTML because it is better. Hmm, let me think about it? Not too sure on that.

[2022-06-29 19:19] marktoman commented on #9240
MD in `text/html` is exactly how Slack does it.

[2022-06-29 19:27] aneequeahmad commented on #8292
@parasharrajat updated my [proposal](https://github.com/Expensify/App/issues/8292#:~:text=SOLUTION%2002-,we%20can%20use%20ref%20to%20focus%20the%20input%20if%20we%20don%27t%20want%20to%20use%20state%20variable%20to%20set%20focus,-.%20We%20can%20simply). The change is in `componentDidMount` as updated in proposal.
You've to add these lines.

[2022-06-29 19:38] chiragsalian commented on #7185
An Update - the backend fix is in review and should be merged in a few days.

[2022-06-29 19:39] parasharrajat commented on #8292
**Update:** I missed the slack discussion and there is no update on it. I will ping it back and see if we get some insight. https://github.com/Expensify/App/issues/8292#issuecomment-1142413769

[2022-06-29 19:44] aneequeahmad commented on #8292
@parasharrajat
This happens sometimes and sometimes the UI is stuck on animation due to animation in process.

Have you tried using my `first solution` ? it fixes the issue for me.

[2022-06-29 19:46] marktoman commented on #9240
I tested it more thoroughly and _correctly_ produced HTML from our app does work with Slack. Currently, we produce MD in `text/html` and `text/plain`, Slack does neither (had to mix those up). I don't care then.

[2022-06-29 19:52] NicMendonca commented on #9508
@Santhosh-Sellavel bump on the review ☝️

[2022-06-29 20:00] mallenexpensify commented on #9578
Bumped to weekly since it's on hold, let me know if/when the job should be posted @luacmartins

[2022-06-29 20:05] justinpersaud commented on #9564
@aldo-expensify and I chatted 1:1. Fix for this is here https://github.com/Expensify/Terraform/pull/573/commits/3d54c66dcf97c1e72867a2dfee02a1177ce155c3

@aldo-expensify confirmed it is working now

[2022-06-29 20:05] #9564 closed

[2022-06-29 20:09] aldo-expensify commented on #9164
Haven't got time to work on this again yet

[2022-06-29 20:10] NicMendonca commented on #9183
Still on hold, changing this to weekly

[2022-06-29 20:13] iwiznia commented on #7618
Any updates here?

[2022-06-29 20:14] ctkochan22 commented on #9157
Most likely will be addressed in the refactor, we can address this again if it comes up still

[2022-06-29 20:14] mallenexpensify commented on #8791
Thanks for the ping @Santhosh-Sellavel , I doubled now, since it seems like something we want to fix.  If anyone thinks it should be monthly, chime in.
https://www.upwork.com/jobs/~01212954502386b607

[2022-06-29 20:19] aldo-expensify commented on #9264
This has been fixed now.

See https://github.com/Expensify/Terraform/commit/3d54c66dcf97c1e72867a2dfee02a1177ce155c3 and https://github.com/Expensify/App/issues/9564#issuecomment-1170443845

[2022-06-29 20:19] #9264 closed

[2022-06-29 20:27] marcochavezf commented on #9234
We're still waiting on https://github.com/Expensify/App/pull/9476

[2022-06-29 21:18] shawnborton commented on #9522
Totally. We could do something very generic like the offline page you mentioned, something like this?
![image](https://user-images.githubusercontent.com/2319350/176546520-9dece21c-12f1-40cc-943a-caa3c40b4c26.png)

Questions:
- Would this page only be shown when navigating things in the workspace editor, etc? Or do we need to consider a full app blocking page, almost like a classic 404 page?

[2022-06-29 21:19] parasharrajat commented on #8292
No, It is also not working. The reason is https://github.com/Expensify/App/issues/8292#issuecomment-1155104027. You may have missed that.

[2022-06-29 22:32] arosiclair commented on #9522
@shawnborton Thanks!

Your first guess is correct though it could also be used for other non-workspace pages. This view would replace the content of the page/pane that can't be viewed in the same way that our offline blocking page would.

[2022-06-29 22:52] shawnborton commented on #9522
Sounds good!

I think the question mark circle icon already exists in the App repo, so you should be good to just reuse it and style it like the offline page. Feel free to tag design in your PR too!

[2022-06-29 23:14] marcochavezf commented on #9628
The deep links are working fine for me on Android 11, but according to the slack convo and doing a [quick search](https://doordash.engineering/2022/01/25/your-deep-links-might-be-broken-web-intents-and-android-12/) on Google seems the deep links (App Links on Android) are indeed broken for Android 12.

Seems the solution can be implemented by an external contributor.

[2022-06-29 23:34] rushatgabhane commented on #9628
@tomivs I remember you having a proposal for this issue, please submit one if you're interested

[2022-06-29 23:50] adelekennedy commented on #9459
@parasharrajat should we put this on hold for now?

[2022-06-30 00:06] stephanieelliott commented on #7917
Discussions are ongoing in Slack...

[2022-06-30 00:14] stephanieelliott commented on #9238
Hey @Puneet-here and @mananjadhav can you grab the job on Upwork when you get a chance? https://www.upwork.com/jobs/~01d6142210d1049054

[2022-06-30 00:17] bdt2019unicorn commented on #9466
@parasharrajat
Thanks for the answer. From your contributing.md file, the only way to sign up is through the actual website as the image below.

![image](https://user-images.githubusercontent.com/51917268/176566426-94ce865c-a9fb-494a-ad3f-f89d3cd98044.png)

If you want to sign up from the app in local, you will have error for not being authorized. I found this work from Upwork and I would pretty m

[2022-06-30 00:19] stephanieelliott commented on #9444
Hey @mananjadhav and @b1tjoy can you grab the job on Upwork when you get a chance? https://www.upwork.com/jobs/~01e107e5f916abe7ab

[2022-06-30 00:21] chiragsalian commented on #6154
I like the deliverables section. Its very clear and concise. I don't quite get the test steps. Just to confirm, in the original OP i see,

So on iOS (simulator) i'm able to tap to highlight all the numbers. So is this issue still correct or is the issue that we cannot highlight a group of numbers or cannot modify highlighted numbers?

[2022-06-30 00:27] stephanieelliott commented on #9009
This is on prod, not just staging. Updated the issue body and repro steps for clarity.

[2022-06-30 00:29] stephanieelliott commented on #9009
Posted to Upwork: https://www.upwork.com/jobs/~0108fed7712b120377

[2022-06-30 00:32] rushatgabhane commented on #6154
@chiragsalian ah my bad I should have added some context. Those steps have nothing to do with the OP.

In this snack (https://snack.expo.dev/@rushat200/d2a99e), I implemented the [deliverables](https://github.com/Expensify/App/issues/6154#issuecomment-1166761257) to set selection and amount using `setNativeProps`.

[code]

This append function's expected result should be to append a 1 digit number

[2022-06-30 00:51] rushatgabhane commented on #9009
Hurray! this issue isn't reproducible after #7702

Here's how it behaves on staging.

https://user-images.githubusercontent.com/29673073/176569443-20373bcb-ffda-4eb6-82c3-3155cddcbede.mov

@aldo-expensify let's close this issue

[2022-06-30 01:16] rushatgabhane commented on #8356
@mallenexpensify this might be a good `Monthly` candidate.

[2022-06-30 01:17] rushatgabhane commented on #7648
Thank you for reopening!

[2022-06-30 01:41] rushatgabhane commented on #9389
@sobitneupane that's a good catch. But we're treating this as an exception ([slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1656017709523529?thread_ts=1656011822.536519&cid=C01GTK53T8Q))

In general, we don't like this idea because you could mistake .12 cents as 12 dollars ([slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1656015512332769?thread_ts=1656011822.536519&cid=C01GTK53

[2022-06-30 01:46] rushatgabhane commented on #9389
@sobitneupane @parasharrajat I think this is a good case where we poll the placeholder and non-placeholder approach on Slack. Videos would be nice :)

[2022-06-30 01:51] Santhosh-Sellavel commented on #9424
It's fine on mWeb iOS too.

[2022-06-30 01:55] Santhosh-Sellavel commented on #9508
Sorry missed this one, will get to  this by today.

[2022-06-30 02:47] aneequeahmad commented on #8292
### PROPOSAL

**Problem**
As we know field is `auto-focused` before the animation is completed and it's because
- `InteractionManager.runAfterInteractions()` is not working properly on web as `official react-native` documentation says [here](https://reactnative.dev/docs/interactionmanager#:~:text=InteractionManager.runAfterInteractions()%20is%20not%20working%20properly%20on%20web.%20It%20triggers%

[2022-06-30 04:36] jliexpensify commented on #9620
Posted:

- Internal: https://www.upwork.com/ab/applicants/1542366198684119040/job-details
- External: https://www.upwork.com/jobs/~01276b1b1746a62a00

I tested this on Android (same version) and it wasn't an issue for me, so perhaps it might be affecting iOS?

[2022-06-30 11:11] sketchydroide commented on #9586
@mvtglobally please give an email for me to add to the `policyExpenseChat` beta, I'm not sure if I should add all of the expensifails at the moment.

[2022-06-30 12:16] jeremyspritelyco commented on #7618
.

[2022-06-30 12:43] aneequeahmad commented on #7618
@iwiznia, Great news, the issue has been fixed in the `react-navigation` in this [PR](https://github.com/react-navigation/react-navigation/pull/10601)

I was in conversation with the maintainer(`Satya164`) to merge my [PR](https://github.com/react-navigation/react-navigation/pull/10600) and he said `the fix in #10601 would provide a better experience so that's why we merged that one you can check

[2022-06-30 12:52] mvtglobally commented on #9586
Checking off https://github.com/Expensify/App/pull/9469#issuecomment-1170389690
https://github.com/Expensify/App/pull/7702 &  #9512 are the only 2 outstanding PRs

[2022-06-30 12:53] sketchydroide commented on #9586
Done, it might take a few minutes for this to be in effect

[2022-06-30 12:54] sketchydroide commented on #9586
@roryabraham what can we do to unblock #7702

[2022-06-30 12:57] SumitDiyora opened #9634 "[Low]: Chrome+JAWS: Screen Reader: Change of language is not identified by Screen Reader."
## Action Performed:
1. Using JAWS+ Chrome, open URL staging.new.expensify.com
2. Login to the Expensify app with the required credentials.
3. Click on User Profile and a Settings pop-up will appear.
4. Select Preferences from the pop-up and the Preferences pop-up will appear.
5. From the language dropdown select "Espanol" language option.
6. Click on Back button and select Payments.
7. Click on A

[2022-06-30 13:21] liyamahendra commented on #8791
# Proposal

So, this was a really tricky one as it was tough to replicate locally. Following are the steps to reproduce it locally:

1. Add below entry to /etc/hosts (Mac)
`127.0.0.1	staging.new.expensify.com`
2. Configure server to run on port 80 and https by modifying `webpack.dev.js`:
[code]
3. Since OS only allows processes from privileged users to bind to port 1024 and below, run the web serv

[2022-06-30 13:33] madmax330 commented on #9594
Alright passing this on as external, thanks @roryabraham

[2022-06-30 14:12] rushatgabhane commented on #9595
@kavimuru Ah yes, this step should be ignored / removed.

cc @roryabraham

[2022-06-30 14:32] parasharrajat commented on #2727
Debouncing the DimensionsChange event https://github.com/Expensify/App/blob/02f433979a7d22baa7d544ba5b6e236d77e7e0e3/src/components/withWindowDimensions.js#L42.

[2022-06-30 14:40] rushatgabhane commented on #9418
@sobitneupane do you have an updated proposal? Because your original proposal is hidden

[2022-06-30 14:53] neil-marcellini commented on #8719
# Proposal
Override the modal's `deviceHeight` prop for the `SettlementButton` only. If `deviceHeight` is set to something very large like `10000` then it works well because it always fills the whole screen when it is shown. See the diff below. A more simple option would be to always override the deviceHeight for the BaseModal, but that might break any modal we use.

[code]

Result:

https://user-

[2022-06-30 15:11] laurenreidexpensify commented on #9594
https://www.upwork.com/jobs/~01a590c870e2d44999

[2022-06-30 15:13] Luke9389 commented on #9410
I'll let @Santhosh-Sellavel do the initial review.

[2022-06-30 15:14] sketchydroide commented on #9497
does that answer satisfy you @Santhosh-Sellavel?

[2022-06-30 15:38] parasharrajat commented on #8719
That seems like it will work because we can expect that a device with a 1000px viewport height is unrealistic. Checking for unintended side-effects.

[2022-06-30 15:49] sobitneupane commented on #9389
@rushatgabhane

I think she is talking about the present situation here. At present, when user types ".12" only "12" is typed as we are ignoring the separator.

Right now if you input  .12 we are modifying it by ignoring the . and treating the input as  $12.

([slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1656015110751979?thread_ts=1656011822.536519&cid=C01GTK53T8Q))

[2022-06-30 16:00] liyamahendra commented on #9577
@luacmartins I understand this issue is on hold. Just leaving a comment expressing my interested in this task. I believe my relevant experience doing `Form` implementation in the `ProfilePage` can prove useful while doing this refactor.

This comment will share updates with me over email, but would be helpful if you can let me know when this issue is ready to work on and if I can take this up! :)

[2022-06-30 16:01] roryabraham commented on #9586
Sorry, @mvtglobally why is https://github.com/Expensify/App/pull/7702 blocked?

[2022-06-30 16:02] roryabraham commented on #9595
Oh, you're correct that this is a mistake in the QA steps that are out-of-date. Let me update the steps and close this issue.

[2022-06-30 16:02] #9595 closed

[2022-06-30 16:06] roryabraham commented on #9595
Updated the QA steps to remove the `Press the ArrowUp key to highlight your participant`. If you are coming from global create or a 1:1 DM, then you can't modify the IOU participants in the IOUConfirmationList. If you can't modify the participants, then the arrow keys shouldn't work

[2022-06-30 16:15] parasharrajat commented on #8719
Ok, a quick checkup and code review on `react-native-modal` tells me that it is safe to use arbitrary long values for `deviceHeight`.
1. It is only used on the backdrop to calculate styles.
2. It is also used for swipe gestures which do not have any effect on our app as we have disabled all the swipe gestures for these menus.

**But this is a hack, not a solution**. **Let's wait** for the `withWin

[2022-06-30 16:16] kevinksullivan commented on #9579
Next week. the other N7 initiatives have taken priority lately.

[2022-06-30 16:17] roryabraham opened #9638 "Generate unique branch names using uuid in updateProtectedBranch"
### Problem
When the `updateProtectedBranch` workflow fails and we retry it, an error like [this](https://expensify.slack.com/archives/C03V9A4TB/p1656602968385119) can happen because the branch name from the old PR that wasn't merged is reused.

### Solution
Use a uuid in the branch name instead of a `github.sha` to generate a random, conflict-free branch name.

[2022-06-30 16:21] parasharrajat commented on #9389
Good points @rushatgabhane. I can raise that poll but I don't see any proposal on the non-placeholder(real 0 value) approach so I am currently not sure of the complexity and feasibility of that solution.

[2022-06-30 16:21] mvtglobally commented on #9586
@sketchydroide #9512 is a pass. Checking off

@roryabraham  there were couple of blockers for #7702 (https://github.com/Expensify/App/issues/9594, https://github.com/Expensify/App/issues/9606) But seems like they are resolved. there are other issues which are not blockers. We didn't retest any new CPs. Not sure if we need to.

[2022-06-30 16:39] roryabraham opened #9640 "Poll to make sure PR checks are finished before giving up in isPullRequestMergeable"
### Problem
We've seen a few workflows like [this](https://github.com/Expensify/App/runs/7125150741?check_suite_focus=true) where a PR enters `mergeable_state === 'blocked'`, and `isPullRequestMergeable` gives up and determines that there's a problem and the PR can't be merged. Only moments later, the PR becomes mergeable.

I believe this is a race condition, because the `verifySignedCommits` PR c

[2022-06-30 16:57] marcochavezf commented on #7586
I think we should wait until the refactor of the [User_Delete](https://github.com/Expensify/Expensify/issues/213701) API command is done and implement a solution on top of that.

[2022-06-30 17:01] Santhosh-Sellavel commented on #9497
@sketchydroide
Yeah looks good for me.

[2022-06-30 17:02] Santhosh-Sellavel commented on #9410
@Luke9389 PR is already merged

[2022-06-30 17:18] chiragsalian commented on #8849
Yup, just reviewed and merged it 🙂

[2022-06-30 17:19] Julesssss commented on #9546
I have no idea how `recheckNetworkConnection` can be undefined. Is the `RecheckConnection` timer triggering as the user is closing the app?

https://github.com/Expensify/App/blob/17c519eb16afbb3d1bd1cccb8b173f40df2f10c5/src/libs/NetworkConnection.js#L110-L121

Also I wish we could retrieve more detailed stack traces or Component graphs, damn the mega jsbundle file. As we're using Firebase I recall

[2022-06-30 17:20] #9638 closed

[2022-06-30 17:20] Julesssss commented on #9546
@AndrewGable I think FB crash reports for NewDot is new right? Nice work. Should be be auto-assigning these to mobile deployers? As I don't think engineers can access the full crash report (and lack some context).

[2022-06-30 17:21] arielgreen commented on #9628
https://www.upwork.com/jobs/~018ff7d1127f315de9

[2022-06-30 17:22] parasharrajat commented on #9250
Let's say the user does not copy the whole message including the comment node. Will this work? Whether the dom will contain a comment node as well.

Why are we checking parent or grandParent to be comment? What is the reason(logic) behind that?

Is there a better way of detecting the extra divs? There are many utils available to manage dom with htmlparser lib. have you tried any?

It would be grea

[2022-06-30 17:23] Julesssss commented on #9546
Actually, this is a super old version Might just close this.

[2022-06-30 17:35] Puneet-here commented on #9238
Applied and raised the PR 🚀

[2022-06-30 18:12] aldo-expensify commented on #9164
I'm going to close this issue because the original upload problems related to the specific file types .mp3/.ps was solved in the backend.

Improving the front end feedback on failure will be done with the refactoring that is happening here: https://github.com/Expensify/Expensify/issues/211241 / https://github.com/Expensify/App/pull/9556
I don't think it is worth doing it now because it will probab

[2022-06-30 18:12] #9164 closed

[2022-06-30 18:34] #9640 closed

[2022-06-30 18:48] OSBotify commented on #9586
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9643) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.79-7` :rocket:

[2022-06-30 18:58] roryabraham commented on #9586
Checked off https://github.com/Expensify/App/issues/9598 because it's not a deploy blocker.

[2022-06-30 19:00] roryabraham commented on #9586
https://github.com/Expensify/App/pull/9610 should be fixed in `v1.1.79-3+`. I verified the fix on web. @Expensify/applauseleads please retest.

[2022-06-30 19:00] Santhosh-Sellavel commented on #9508
@flodnv @iwiznia
 I am unable to reproduce this on my personal device. Seem this occurs only on simulators. Were you able to reproduce on device?

[2022-06-30 19:05] Santhosh-Sellavel commented on #8888
@AndrewGable I think we should double this up. Because 16.15.1 LTS Recommended For Most Users, and with that version this issue is a blocker for development.
cc: @kevinksullivan

[2022-06-30 19:16] mananjadhav commented on #7835
I'll be taking a deeper look at the implementation possibilities by next week.

[2022-06-30 19:19] mananjadhav commented on #9238
Thanks @Puneet-here, I can see @thienlnam has already posted some feedback. I'll be reviewing and testing this by tomorrow.

[2022-06-30 19:19] mananjadhav commented on #9247
@thesahindia Sorry for the delay. I'll be reviewing and testing this tomorrow.

[2022-06-30 19:21] mananjadhav commented on #9253
This piece is concerning.

@AndrewGable Do we know the expected behaviour here?

[2022-06-30 19:26] mananjadhav commented on #9331
It looks there is an impact due to the change. It fixed the cropping issue of the tooltip , just wraps the text on two lines. When I tested I presumed it must be because the tooltip is at the extreme right of the window. But now that I've checked an existing pinned item tooltip, it is on one line.

[2022-06-30 19:33] mananjadhav commented on #9542
@Karim-30 Thank you for the comment, but your solution looks like a workaround and doesn't solve the actual problem. Looking for a proposal that probably adjusts the view on focus of the input.

[2022-06-30 19:58] OSBotify commented on #9586
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.79-7 has been deployed to staging :tada:

[2022-06-30 20:18] aneequeahmad commented on #8292
The problem is field is auto-focused without waiting for interaction to finish. This is mentioned in `react-native` official [doc](https://reactnative.dev/docs/interactionmanager#:~:text=Note%3A%20InteractionManager.runAfterInteractions()%20is%20not%20working%20properly%20on%20web.%20It%20triggers%20immediately%20without%20waiting%20until%20the%20interaction%20is%20finished.)
`Note: InteractionMan

[2022-06-30 20:35] muaazsheikh commented on #9620
<KeyboardAvoidingView behavior='padding'> it will be work we need to more changes in parent view using flex

[2022-06-30 20:38] sunny-2504 commented on #8888
Proposal
I've encountered the same problem you're facing in my job. The most common reason for this error to occur is using the react hooks in the wrong place(inside loops or nested functions) or because of a version mismatch.
What I would do to resolve this issue :
1. Refine the code(these types of errors mostly occur because of poor code structure).
2. Rewrite the functions(sync or async) where

[2022-06-30 20:44] parasharrajat commented on #8471
PR awaiting review from @flodnv.

[2022-06-30 21:19] jamesdeanexpensify commented on #9522
Do we need copy for both screens? https://github.com/Expensify/App/issues/9522#issuecomment-1170502960

[2022-06-30 21:27] adelekennedy commented on #6941
Where are we with this issue? I go the doubling ping but it sounds like we're still unsure if this is reproducible - should we put this issue on hold? @parasharrajat @mountiny

[2022-06-30 21:27] shawnborton commented on #9522
Just the screen on the right. Basically need a title, and then a small blurb underneath.

[2022-06-30 21:28] adelekennedy commented on #7436
not overdue - reviewing proposals

[2022-06-30 21:32] mountiny commented on #6941
I think you meant to tag Tim, but he is OOO. Given there are some problems with reproducing this particular issue, I would not double yet but try to maybe ask Applause (@kavimuru) to improve the reproduction steps and make it clearer what actually is not working as that will also help the contributors in solving this.

[2022-06-30 21:37] jamesdeanexpensify commented on #9522
What about: "Hmm...it's not here." for title and then for blurb: "The page is nowhere to be found."

[2022-06-30 21:45] jamesdeanexpensify commented on #9522
Ah, I actually suggested the opposite. How would that look?

[2022-06-30 21:51] shawnborton commented on #9522
Oh crap, my bad! Here is an updated screenie:

![image](https://user-images.githubusercontent.com/2319350/176784968-2d6d9471-db10-4f63-a976-86f187a0985e.png)

[2022-06-30 21:56] jamesdeanexpensify commented on #9522
Maybe "That page..." instead of "The page"...what do you think?

[2022-06-30 21:59] marktoman commented on #9250
# Proposal
Yes, we can reduce it the similar way `htmlToMarkdown` does. I was trying to preserve the original structure, but there may be no good need for it.

First, let's add a modified version of `replaceBlockWithNewLine` from `ExpensiMark`. The only difference is that we use `<br>` for the new line.

Add it here:
https://github.com/Expensify/App/blob/965c16c2bf4bdb878d8148302e435b0aabe9a13b/sr

[2022-06-30 22:01] marktoman commented on #9250
This works with both partial selection and selection spanning across multiple comments.

[2022-06-30 22:09] trjExpensify commented on #6154
Okay, excellent. So what are we doing here exactly?

Adding this as a new section?

### Expected Solution
1. Fix this react native bug https://github.com/facebook/react-native/issues/34113
   - Post a proposal on this issue.
   - If proposal is accepted, submit a PR to `react-native` for the same.
3. Fix the issue on all platforms _without_ passing `selection` as a prop to `TextInput`. Use `setNat

[2022-06-30 22:27] rushatgabhane commented on #6154
@trjExpensify something like this is fine

### Expected Solution

Using controlled selection causes...

1. Fix this react native bug..
....

[2022-06-30 23:19] rushatgabhane commented on #6154
https://reactnative.dev/docs/new-architecture-library-intro#migrating-off-setnativeprops

Got a reply from a maintainer that setNativeProps will be deprecated in the Fabric architecture.

@chiragsalian @trjExpensify :nevermind:
we're throwing the [expected solution](https://github.com/Expensify/App/issues/6154#issuecomment-1166761257) out of the window

[2022-06-30 23:26] jamesdeanexpensify commented on #9522
Discussing the last bits here: https://expensify.slack.com/archives/C03SSAQG5/p1656631441234379?thread_ts=1656618417.749959&cid=C03SSAQG5

[2022-06-30 23:35] OSBotify commented on #9586
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9619) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.79-9` :rocket:

[2022-07-01 00:10] bdt2019unicorn commented on #9466
Thank you for the nice rejection. I will look at other thing then. If you don't mind, would you be able to reply to my proposal on Upwork letting me know that so I can keep the record. Just trying to learn through different proposals so I can make the next one better than previous one.

[2022-07-01 00:25] jliexpensify commented on #9620
@muaazsheikh - please feel free to submit a proposal for review!

[2022-07-01 00:40] rushatgabhane commented on #6154
Open to new proposals.

### Expected Solution
1. Fix the issue on all platforms by using the `selection` and `value` prop of TextInput.
2. Don't use any workaround like setTimeout, setImmediate, requestAnimationFrame etc.

### Drawbacks
1. On Android, Copy / Paste menu will not work. But it'll eventually be fixed by https://github.com/Expensify/App/issues/8349
2. From past experience, I'm assuming

[2022-07-01 00:49] OSBotify commented on #9586
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.79-9 has been deployed to staging :tada:

[2022-07-01 00:55] mallenexpensify commented on #8356
If you say so @rushatgabhane :)

[2022-07-01 00:58] mallenexpensify commented on #7648
@roryabraham or @rushatgabhane what's the payment date? I want to update the title so I don't forget

[2022-07-01 01:05] rushatgabhane commented on #7648
We'll know the date after the PR is on production.

Also, we had one regression so the payment should be $500
- https://github.com/Expensify/App/issues/9606

[2022-07-01 01:21] kadiealexander commented on #9418
I accidentally hid the proposal sorry @sobitneupane, I was taking screenshots of something and I followed a GitHub [step by step](https://docs.github.com/en/communities/moderating-comments-and-conversations/managing-disruptive-comments#unhiding-a-comment) that lied to me and said I was able to unhide the comment. Sorry about that team!

[2022-07-01 01:51] jamesdeanexpensify commented on #9522
Will have this finalized tomorrow. It's a really small tweaks, but I want to make sure I'm following the process that I'm creating!

[2022-07-01 03:38] asif84468 commented on #9628
Maybe this will help you : https://doordash.engineering/2022/01/25/your-deep-links-might-be-broken-web-intents-and-android-12/

[2022-07-01 03:45] tomivs commented on #9628
Thanks guys. I'll post a proposal soon...

[2022-07-01 05:08] mim1192 commented on #9628
XML FOLDER PERMISSION REQUIRED ONLY TO RESOLVE IT

[2022-07-01 05:43] mvtglobally opened #9660 "[HOLD for payment 2022-08-30] [$250] Right clicking and “Copy Link” on a link produced https://new.expensify.com//r/0/NaN when pasted"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
This Issue has been divided in 2 parts, as it evolved while it was being discusses, the solution to both the situations is similar, and it would be easier to keep them in

[2022-07-01 05:47] techievivek commented on #8589
Will try to reproduce this locally today.

[2022-07-01 05:48] mvtglobally opened #9661 "Some messages from Chronos are not hyperlinked"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to Chronos chat
2. Wait for the summary to appear

## Expected Result:
www.Expensify.com links should be hyperlinked

## Actual Result:

[2022-07-01 05:51] mvtglobally opened #9662 "[HOLD for payment 2022-09-26] [$2000] Some links are not formatted as markdown links"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to app
2. Send a message with a link such as `https://mail.google.com`
3. Tap edit and verify that the link does not have markdown synta

[2022-07-01 05:58] mvtglobally opened #9663 "Console error displayed when clicking on my profile page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Navigate to My Profile

## Expected Result:
No console errors should display

## Actual Result:
Console error displayed whe

[2022-07-01 05:59] madmax330 commented on #9661
I think this needs to be internal cc @deetergp to confirm. Since we're probably not using the right format when creating the chronos message

[2022-07-01 06:05] mvtglobally opened #9664 "Notifications for new messages are broken in web on chrome for some users"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app in Web Chrome
2. Receive couple messages

## Expected Result:
Browser notifications should appear

## Actual Result:
Notifications for n

[2022-07-01 08:18] neil-marcellini commented on #8719
Ok sounds good. I'll add [HOLD] to the title. Where can I follow along to tell when it's merged into our App?

[2022-07-01 09:09] sketchydroide commented on #9497
Ok I think we are happy with that then, I've assigned you to the GH @eVoloshchak

[2022-07-01 12:00] sketchydroide commented on #9660
Oh that one is hilarious.
This one feels like it can be an external

[2022-07-01 12:25] muaazsheikh commented on #9620
@jliexpensify - i already did can you please review it.

[2022-07-01 13:38] jayeshmangwani commented on #9660
### Proposal:

https://github.com/Expensify/App/blob/f19a4d94870fdc96ea032d90217a03f9f5b46674/src/pages/home/report/ContextMenu/ContextMenuActions.js#L125-L132

Here, we have to use the same onPress function as we are using for `copyURLToClipboard`

https://github.com/Expensify/App/blob/f19a4d94870fdc96ea032d90217a03f9f5b46674/src/pages/home/report/ContextMenu/ContextMenuActions.js#L67-L70

[code]

[2022-07-01 14:09] SumitDiyora opened #9666 "[med] JAWS + Chrome: No Visual label is provided for search text field."
## Action Performed:
1. Using JAWS+ Chrome, open URL staging.new.expensify.com
2. Navigate to the already created room from the Chat list using the Tab key and press Enter on it.
3. Navigate to the Emoji button located at the bottom of the page, inside the textfield.
4. Navigate to Emoji control using Tab key and press Enter to activate it.
5. A pop-up will appear.
6. Navigate to the Search text f

[2022-07-01 14:10] sketchydroide commented on #9660
also this still needs to get the `Help Wanted` label first.

[2022-07-01 14:48] jayeshmangwani commented on #9660
@sketchydroide I misunderstood this issue, and sure will comment on proposal one the issue has `Help Wanted` label

[2022-07-01 14:53] SumitDiyora opened #9667 "[High]: Chrome+Jaws : Screen reader: Role and label are not defined for "Change default skin tone" control."
## Action Performed:
1. Using JAWS+ Chrome, open URL staging.new.expensify.com
2. Navigate to the already created room from the Chat list using the Tab key and press Enter on it.
3. Navigate to the Emoji button located at the bottom of the page, inside the textfield.
4. Navigate to Emoji control using Tab key and press Enter to activate it.
5. A pop-up will appear.
6. Navigate to the "Change defau

[2022-07-01 15:04] bfitzexpensify opened #9668 "[$250] Expense rules - Long comment entered in the description field overflows"
## EXPECTED RESULT:

Long comment entered should be within the field

## ACTUAL RESULT:

Long comment entered goes beyond the field

## ACTION PERFORMED:

1. Go to URL https://staging.expensify.com/
and login with any account
2. Navigate to Main/Settings/Your Account/Expense Rules
3. When the Merchant name contains: Test
4. Change Merchant to: New Test
5.Change Category to: Any category
6. Enter a

[2022-07-01 15:04] bfitzexpensify commented on #9668
This is coming from https://github.com/Expensify/Expensify/issues/216750 - it's already been triaged and marked as External, I'm just copying it over to the external repo.

[2022-07-01 15:07] SumitDiyora opened #9669 "[High] Chrome+JAWS: Keyboard: 'Change default skin tone' control is not accessible using the keyboard."
## Action Performed:
1. Using JAWS+ Chrome, open URL staging.new.expensify.com
2. Navigate to the already created room from the Chat list using the Tab key and press Enter on it.
3. Navigate to the Emoji button located at the bottom of the page, inside the textfield.
4. Navigate to Emoji control using Tab key and press Enter to activate it.
5. A pop-up will appear.
6. Navigate to the Change defaul

[2022-07-01 15:40] mvtglobally opened #9670 "Monthly statement dialogue is empty"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Check the monthly statement display

## Expected Result:
Statement should include the info

## Actual Result:
Monthly statement is blank

## Work

[2022-07-01 15:54] TomatoToaster commented on #9662
I think this will make a great external issue.

[2022-07-01 16:03] rushatgabhane commented on #7648
@mallenexpensify so far there has been one regression - #9606

Rest of them aren't regressions
1. https://github.com/Expensify/App/issues/9598
2. https://github.com/Expensify/App/issues/9614
3. https://github.com/Expensify/App/issues/9604
4. https://github.com/Expensify/App/issues/9595

[2022-07-01 16:32] brianmuks commented on #8361
If I am getting this right:
1. We don't need a method to determine if chat is group chat

2. For group chats : Instead of showing nothing when all messages are deleted we should show the name of the user who sent the last message

[2022-07-01 17:00] jamesdeanexpensify commented on #9522
I think for now since it's more of a header/title, we can leave "Hmm...it's not here" it without a period. Let's ship it!

[2022-07-01 17:32] MitchExpensify commented on #9402
Doubled!

[2022-07-01 17:34] marktoman commented on #9402
# Proposal

The uploaded image goes through two phases. First, it is shown from the local URL, then, once it’s uploaded, from the server URL. This causes flickering and the loading icon. Flickering is also caused by resizing the image from the default size when re-rendering.

### `ImageWithSizeCalculation`

First, let’s add a new `localUrl` property so we can distinguish in which phase we are at t

[2022-07-01 17:34] roryabraham commented on #9594
I'm actually going to just fix this myself because it's come up a few times and it will be a really quick and easy fix

[2022-07-01 17:36] roryabraham commented on #9594
@laurenreidexpensify I took down the upwork job for this

[2022-07-01 17:43] MitchExpensify commented on #9539
Will do! @JosueEchandiaAsto just waiting for the offer to be accepted

[2022-07-01 17:50] mananjadhav commented on #9539
@roryabraham @MitchExpensify Is this eligible for C+ payout?

[2022-07-01 17:51] roryabraham commented on #9668
Uhhh guys .... who marked this as external? It's in OldDot so definitely needs to be internal

[2022-07-01 17:52] parasharrajat commented on #9466
I am not rejecting your proposal. It's just a suggestion. You can pursue this issue if you want.

Also, we don't accept proposals on Upwork. Please read the CONTRIBUTING.md file to understand the process.

[2022-07-01 17:53] roryabraham commented on #9668
This needs to be internal. @bfitzexpensify Please take down the upwork job and close this out. I reopened the internal issue

[2022-07-01 17:53] lbaldy commented on #2727
Great. Please let me know about the outcome whenever you get to any consensus.

[2022-07-01 17:55] parasharrajat commented on #2727
Yeah, it is in progress.

[2022-07-01 17:59] parasharrajat commented on #9628
@asif84468 @tomivs @mim1192 Please submit your proposals if you are interested to solve this issue.

[2022-07-01 18:00] JosueEchandiaAsto commented on #9539
@MitchExpensify, Offer accepted 👨🏻‍💻

[2022-07-01 18:08] kbecciv opened #9671 "Web - New Group - Crash when deleting digits in a search query for specific accounts"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR** https://github.com/Expensify/App/pull/7702
## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log into an acco

[2022-07-01 18:09] OSBotify commented on #9671
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-01 18:12] jamesdeanexpensify commented on #9522
And by ship it, I mean this: https://github.com/Expensify/App/issues/9522#issuecomment-1171722664

[2022-07-01 18:16] MitchExpensify commented on #9539
Thanks! Paid

[2022-07-01 18:17] MitchExpensify commented on #9539
Are we good to close this out then?

[2022-07-01 18:20] NikkiWines commented on #9671
Hmm, unable to reproduce on dev (v1.1.79-10).

https://user-images.githubusercontent.com/16747822/176949374-d2fb9272-bd0d-4952-bab1-8068609b34f7.mov

Testing staging now

[2022-07-01 18:24] iwiznia commented on #9664
Both me and @tylerkaraszewski are experiencing this. It's apparently not a widespread issue.

[2022-07-01 18:27] NikkiWines commented on #9671
Hmm, I'm able to reproduce on my desktop app but not on web:

https://user-images.githubusercontent.com/16747822/176949924-7a99632e-48d4-4388-88b8-e5901166e77f.mov

https://user-images.githubusercontent.com/16747822/176949940-376fa950-09cb-4f5a-beeb-7c38c1f2221a.mov

@roryabraham it does look like this is potentially tied to your changes in https://github.com/Expensify/App/pull/7702

[2022-07-01 18:36] bfitzexpensify commented on #9668
Closed the upwork job. Closing this out.

[2022-07-01 18:36] #9668 closed

[2022-07-01 18:42] parasharrajat commented on #9459
I didn't find much detail about the effect of updating the `defaultValue`. This should not have any effect as per the docs.

Unfortunately, I can't accept any proposal until they explain the reason why it is causing the issue only on iOS. Meanwhile, I am also looking into the same matter to understand the reason.

[2022-07-01 18:59] roryabraham commented on #9594
Got a PR up

[2022-07-01 19:00] arielgreen commented on #9247
@mananjadhav @thesahindia Please check your Upwork inboxes

[2022-07-01 19:11] marktoman commented on #9240
I don't think there is a way to trigger paste on a custom keystroke in Firefox. It does not support the `paste` event for web  https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand#:~:text=Disabled%20for%20web%20content. Chrome sends `paste` on  `ctrl + shift + v` by default, so we can override the handler and still use the clipboard data, but Firefox sends the paste event only if

[2022-07-01 19:15] roryabraham commented on #9671
I'm not able to reproduce this either, but I have a good feeling that this will fix it: https://github.com/Expensify/App/pull/9674

[2022-07-01 19:51] #7970 closed

[2022-07-01 19:51] #8614 closed

[2022-07-01 19:51] #8615 closed

[2022-07-01 19:51] #8616 closed

[2022-07-01 19:51] #8617 closed

[2022-07-01 19:52] #8618 closed

[2022-07-01 19:52] #8619 closed

[2022-07-01 19:52] #8620 closed

[2022-07-01 19:52] #8621 closed

[2022-07-01 19:52] #8622 closed

[2022-07-01 19:52] #8623 closed

[2022-07-01 19:52] #8624 closed

[2022-07-01 19:52] #8625 closed

[2022-07-01 19:52] #8633 closed

[2022-07-01 19:52] #8651 closed

[2022-07-01 19:52] #8654 closed

[2022-07-01 20:04] parasharrajat commented on #6301
Need to review the new changes. Will do this soon.

[2022-07-01 20:11] OSBotify commented on #9586
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9674) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.79-11` :rocket:

[2022-07-01 20:29] Sans84 commented on #9660
In the issue, `Copy Link` should return a link when pasted, and you write that it is a link to a comment. It's a contradiction! Is this an error in the description of the issue or an incomplete description?

[2022-07-01 20:38] luacmartins commented on #6883
Any updates here?

[2022-07-01 20:40] parasharrajat commented on #9660
It seems yes, issue details are incorrect.

@Christinadobrzyn Could you please fix the steps.

1. Send any link (e.g. Google.com) to a chat on web.
2. Right-click on the link to open the context menu.
3. Select `Copy link` option.

Expected Result:

The copied link should be the correct link to the comment.

Actual Result:

Right-clicking on “Copy Link” on a link produced [new.expensify.com//r/0/N

[2022-07-01 20:50] roryabraham commented on #6527
Agree, [copying images to clipboard](https://github.com/Expensify/App/issues/4629) is also on HOLD on this

[2022-07-01 20:50] roryabraham commented on #4629
still on HOLD

[2022-07-01 20:54] roryabraham commented on #9240
There's a lot of discussion that's happened here so far. Any chance someone can provide a *TL;DR*?

[2022-07-01 20:55] parasharrajat commented on #9240
yeah, we don't have to trigger paste. As you said, listen for key events and then manually paste them.

Still waiting on this.

[2022-07-01 20:57] MitchExpensify commented on #7918
Slack thread has been bumped

[2022-07-01 21:03] marktoman commented on #9240
Not supported, read the link.

# Changes
https://github.com/Expensify/App/compare/main...marktoman:exp-main:9240-clean-paste

## Description

### Paste

Add a context menu item and register the key on Desktop
`desktop/main.js`

### Copy

Change `getAsMarkdown` to support multiple types
`src/libs/SelectionScraper/index.js`

Change the keystroke handler to copy multiple types
`src/components/CopySel

[2022-07-01 21:16] parasharrajat commented on #9240
Ok, so are you saying we won't able to implement `Ctrl+Shift+V` on Firefox?

[2022-07-01 21:21] OSBotify commented on #9586
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.79-11 has been deployed to staging :tada:

[2022-07-01 21:23] kbecciv opened #9678 "Web - Pressing Enter key is selected different currency, and up and down keys don't work"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR**  https://github.com/Expensify/App/pull/7702

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Click the FAB

[2022-07-01 21:24] marktoman commented on #9240
Yes, although it is Mozilla saying it.

[2022-07-01 21:39] rushatgabhane commented on #7648
Regression # 2 - https://github.com/Expensify/App/issues/9678

[2022-07-01 22:18] arielgreen commented on #9535
let's give it another week before closing

[2022-07-01 22:35] amyevans commented on #9663
Well it's a warning, not an error, and I think it's expected on web/desktop given that they aren't native devices? It's probably possible to refactor code so that `useNativeDriver` is only used in native files but I also am not 100% sure of that without digging further.

I think I'm caught between closing this out as Not a Priority or opening it up for external contributors as a Monthly. Maybe @Ju

[2022-07-01 23:13] ctkochan22 opened #9681 "Allow "FormAlertWithSubmitButton" to handle more complex buttons"
## Problem:
We are using `FormAlertWithSubmitButton` in a lot of refactors for "Pattern C: Form blocking". However, there are a variety of buttons used in App. In my refactor alone, I have buttons with icons, `ButtonWithMenu`, and `MenuItem`.

<img width="300" alt="image" src="https://user-images.githubusercontent.com/12980144/176976181-f0e9d79b-1d18-4ad3-ae17-eda2931e20c6.png">

<img width="300"

[2022-07-01 23:19] roryabraham commented on #9678
Got a PR up to fix this: https://github.com/Expensify/App/pull/9682

[2022-07-01 23:34] robertjchen commented on #9605
[employeeExport-2022-07-01.csv](https://github.com/Expensify/App/files/9032026/employeeExport-2022-07-01.csv)

[2022-07-01 23:40] #9594 closed

[2022-07-01 23:41] #9605 closed

[2022-07-01 23:41] ctkochan22 commented on #9681
If people were curious, I originally add it as its [own component](https://github.com/Expensify/App/pull/9665) but thought it may be more efficient to merge it with `FormAlertWithSubmitButton`.

[2022-07-01 23:52] OSBotify commented on #9586
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9672) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.79-12` :rocket:

[2022-07-02 00:54] OSBotify commented on #9586
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.79-12 has been deployed to staging :tada:

[2022-07-02 03:59] bdt2019unicorn commented on #9466
I found this one through Upwork and I thought everything should go through that.
I can see you hire through Upwork in the Contributions thing.
Does it mean somebody else took this already and the Upwork post is just a way to pay the person?

[2022-07-02 13:55] eVoloshchak commented on #9660
**Proposal:**
The issue occurs because to generate link we [need](https://github.com/eVoloshchak/App/blob/2c1032fc231717bc840b8939fd9edba54bfbe861/src/pages/home/report/ContextMenu/ContextMenuActions.js#L128) `reportAction` and `reportID`, none of which are passed to [showContextMenu](https://github.com/eVoloshchak/App/blob/2c1032fc231717bc840b8939fd9edba54bfbe861/src/components/AnchorForCommentsO

[2022-07-02 15:49] kbecciv opened #9685 "Web - Group Chat - Using Enter key is leaded for crash"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Log in with any account
3. Click on Fab menu and Click Create Group
4.  Use Enter Key to create a Gro

[2022-07-02 15:50] OSBotify commented on #9685
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-02 15:55] kbecciv opened #9686 "Web/Firefox - Eye emoji is broken in Firefox browser"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Click on emojis option
3. On search - start looking for eye

## Expected Result:
Eye emoji is broken i

[2022-07-03 02:53] rushatgabhane commented on #9685
@roryabraham similar cause - https://github.com/Expensify/App/pull/9674#discussion_r912421955

[2022-07-03 16:57] roryabraham commented on #9685
Revert PR here: https://github.com/Expensify/App/pull/9690

[2022-07-03 22:59] owjsub commented on #7968
In testing on staging version 1.1.79-12, I can focus the 'Cancel' button using the Tab key and pressing Enter will delete the workspace when the 'Cancel' button is focused, which is unexpected behavior. Should a new issue be opened for this?

[2022-07-03 23:03] jliexpensify commented on #9620
@muaazsheikh - it looks like you made a proposal in your Cover Letter in Upworks.

Can you share your proposal within this GH instead? Our process is to have contributors post proposals in the GH for review by our team. Thanks in advance!

[2022-07-04 04:12] tomivs commented on #9628
As I mentioned in this comment: https://github.com/Expensify/App/pull/8656#issuecomment-1102486931

### Root cause:
[Changes for App Links on Android 12](https://developer.android.com/about/versions/12/behavior-changes-12#android-app-links-verification-changes)

### Proposal:
Update App Links for Android 12 which would include:
- Upgrading target SDK version:
  - Update `targetSdkVersion` to 31 (A

[2022-07-04 07:28] Beamanator commented on #9660
Thanks @parasharrajat updated the OP with clearer details as you mentioned here: https://github.com/Expensify/App/issues/9660#issuecomment-1172698634

[2022-07-04 09:31] parasharrajat commented on #9240
Ok, it seems that Mozilla revoked permission to access to clipboard read. I am not sure what is the current status of its implementation. It used to be there.

It might be time-consuming for the Engineer to read all the discussion and code review your commit. https://github.com/Expensify/App/issues/9240#issuecomment-1172710760 is not sufficient details to consider as a proposal. that's why request

[2022-07-04 09:47] parasharrajat commented on #9389
Please share your point of view on https://expensify.slack.com/archives/C01GTK53T8Q/p1656927815193059.

[2022-07-04 09:48] parasharrajat commented on #9660
Discussing here https://expensify.slack.com/archives/C02NK2DQWUX/p1656925799345049

[2022-07-04 10:02] MonilBhavsar commented on #9239
Still on hold

[2022-07-04 10:20] srikarparsi commented on #9408
^^

[2022-07-04 10:27] Julesssss commented on #9663
I think it would be fine to keep it open as an internal Expensify/Expensify monthly issue -- but as it's on the public repo let's just close it to avoid spending too much time here.

As for what the solution would be, I think we could start using [this lib](https://github.com/Expensify/App/commit/d8c1b5f973008c18337e6c206e023cb6b702e810) which would disable the feature for web.

[2022-07-04 10:28] NicMendonca commented on #8220
Going ooo to re-assigning

[2022-07-04 10:29] NicMendonca commented on #8220
[deployed to staging](https://github.com/Expensify/App/pull/8549#issuecomment-1168575323), so will be ready for payment soon

[2022-07-04 10:33] NicMendonca commented on #6883
Heads up! I am going OOO so am reassigning

[2022-07-04 10:35] NicMendonca commented on #8597
@roryabraham I am going OOO so going to re-assign in case this gets off hold while I am still out.

[2022-07-04 10:38] parasharrajat commented on #9628
Thanks for the proposal @tomivs.

- I don't think upgrade to SDK 31 is required. Is this a required step? Will you make sure that app is working absolutely fine after change and nothing is broken?

What changes will you make overall? Can we configure the links in a way so that user is prompted for choices to open the link instead of directly opening the app?

[2022-07-04 10:38] Julesssss commented on #9586
Marked off #7702 as a separate issue was created [here](https://github.com/Expensify/App/pull/7702#issuecomment-1172569424)

[2022-07-04 10:42] Julesssss commented on #9586
marked off #9671 as it should have been fixed. Will be confirmed when [this issue ](https://github.com/Expensify/App/issues/9671#issuecomment-1172648253) is tested

[2022-07-04 10:48] Julesssss commented on #9685
Should be resolved by the revert [PR](https://github.com/Expensify/App/pull/9690) above. Marking it off the deployer [checklist](https://github.com/Expensify/App/issues/9586).

[2022-07-04 10:49] parasharrajat commented on #9466
This is available. Open for propsoals...

[2022-07-04 10:49] Julesssss commented on #9586
Resolved blocker [#9685](https://github.com/Expensify/App/issues/9685) as a revert Pr was just merged.

[2022-07-04 10:51] Julesssss commented on #9671
Reopening this as the fix had to be [reverted](https://github.com/Expensify/App/pull/9690)

[2022-07-04 10:53] Julesssss commented on #9586
9671 was reopened, as the fix PR had to be reverted. The remaining two blockers are:
- https://github.com/Expensify/App/issues/9606
- https://github.com/Expensify/App/issues/9671

I'll be back to look into these after finishing the rest of my chores.

[2022-07-04 10:55] Julesssss commented on #9586
9671 was reopened, as the fix PR had to be reverted. I'll be back to work on another fix after finishing the rest of my chores.

[2022-07-04 10:56] OSBotify commented on #9586
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9690) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.79-13` :rocket:

[2022-07-04 10:58] Julesssss commented on #9586
^ The CP was successful. I just need to resolve the remaining blocker before QA can be started

[2022-07-04 11:48] trjExpensify commented on #9252
Any further ideas here @mdneyazahmad?

[2022-07-04 11:49] trjExpensify commented on #8915
Job doubled on Upwork [here](https://www.upwork.com/jobs/~01fcac73e3ce9fa2d7).

[2022-07-04 12:36] OSBotify commented on #9586
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.79-13 has been deployed to staging :tada:

[2022-07-04 12:50] kavimuru commented on #6941
@mountiny  I have updated the steps.
When the keypad opens up to write in the email field, the input field moves up and partially hidden.

[2022-07-04 13:27] kidroca commented on #9402
Would that work for remotely served images?

If the size is calculated from the image it has to first be fetched, what will happen in the meantime (e.g. slow connection)
It might work instantly for local images but will have delay for served content

[2022-07-04 14:14] madmax330 commented on #9661
Bump @deetergp

[2022-07-04 14:40] tgolen commented on #8292
Not overdue. Still getting proposals.

[2022-07-04 14:40] tgolen commented on #6301
Not overdue. See previous comment about needing to review changes

[2022-07-04 14:43] mollfpr commented on #8841
Will raise the PR today, sorry for the late response.

[2022-07-04 14:47] tgolen commented on #6941
Not overdue. Still getting proposals.

[2022-07-04 14:51] Julesssss commented on #9671
I was able to reproduce it once for the Desktop app, but only once. Repeating the same steps did not cause a crash after the first time. I've tried this with multiple users now (I think the constantly changing recents ordering is preventing the crash from being consistent).

[2022-07-04 14:59] Julesssss commented on #9586
Hi @Expensify/applauseleads could you please go ahead with testing the release? [One blocker](https://github.com/Expensify/App/issues/9671#issuecomment-1173909418) remains, but I'm tempted to remove the blocking status if we can't find consistent reproducible steps...

[2022-07-04 15:19] #9608 closed

[2022-07-04 15:53] adelekennedy commented on #9580
on hold

[2022-07-04 15:53] adelekennedy commented on #9459
Still researching - not overdue

[2022-07-04 15:55] adelekennedy commented on #8719
on hold

[2022-07-04 15:55] adelekennedy commented on #7436
@parasharrajat any opinions on the above proposal?

[2022-07-04 15:57] adelekennedy commented on #8927
Still going through tests - not overdue

[2022-07-04 16:39] parasharrajat commented on #9061
IMO, scrolling the top would be better than then setting the margin. Setting the margin, add top different snaps. First when the margin is applied and the second when removed.

It does not matter if the content is pushed under the keyboard because it is already under the keyboard on iOS.

But I like the idea of only applying this effect to screens IOUAmountPage, IOUParticipantsPage, IOUConfirmPage

[2022-07-04 16:43] parasharrajat commented on #6591
Can we please reopen this? It is on hold and neep fixing.

[2022-07-04 16:51] thesahindia commented on #9247
@arielgreen, the offer is no longer available.
Apologies for the delay, can you please send the offer again?

[2022-07-04 16:54] Santhosh-Sellavel commented on #9620
Waiting for proposal here

[2022-07-04 17:00] Santhosh-Sellavel commented on #8888
@sunny-2504
Can you elaborate more and write a detailed/informative on the code changes you are proposing.

Look out through [these](https://github.com/Expensify/App/issues?q=is%3Aissue+is%3Aclosed+label%3A%22Awaiting+Payment%22) past issues to get an idea about how we expect proposals.

If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/bl

[2022-07-04 17:02] Santhosh-Sellavel commented on #8888
Kindly bump this down to `weekly` while we wait for new/updated proposals, thanks!
@AndrewGable  @kevinksullivan

[2022-07-04 17:03] Santhosh-Sellavel commented on #9508
Have you checked out?  @kbecciv @flodnv

[2022-07-04 17:03] isagoico commented on #9671
@Julesssss issue is still reproducible for the tester with the account [iheretsutest+0102@gmail.com](mailto:iheretsutest+0102@gmail.com)

https://user-images.githubusercontent.com/44479856/177196178-187edb41-05e0-472e-b46c-e10587665168.mp4

[2022-07-04 17:31] JmillsExpensify commented on #8220
Great thanks! I'll handle the payment once we clear the regression period.

[2022-07-04 17:36] JmillsExpensify commented on #9246
Yes congrats! I'm just coming back from OOO and I noticed that we're still waiting to push this PR to production. I'm assuming that's because the entire production deploy is being help up on blocking dependencies, is that right?

[2022-07-04 17:43] NikkiWines commented on #9671
Ok, I can reliably reproduce this on my mac on desktop staging (v1.1.79-13) with the following steps:

1. Log into an account on newDot
2. Click `+` button in the bottom left
3. Select `New Group`
4. Add two users with email addresses
5. Type in a series of numbers
6. Press option + backspace
7. See error screen

Simply deleting the numbers doesn't reliably reproduce the issue for me, but deleting

[2022-07-04 18:08] danieldoglas commented on #7941
This is on hold still after refactoring fetchAllReports.

[2022-07-04 18:17] NikkiWines commented on #9671
The above steps also work for reproducing this on dev

[2022-07-04 18:20] thesahindia commented on #9247
I started a discussion about this bug [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1656954797547719) and it seems like everyone agrees with changing the keyboard.

@AndrewGable, can I just fix this in the current PR as we can just increase the compensation and it will also save us some time.

[2022-07-04 18:34] rushatgabhane commented on #9671
I'm pretty sure if we fix this bug [(slack)](https://expensify.slack.com/archives/C01GTK53T8Q/p1656701263408249
), we'll fix this issue too!

1. Cmd + Shift + K
2. Add two users with email addresses
3. Search for any random user that isn't in your contacts. eg: `test@example.com`
4. Select the entire search result and delete it.
5. See error screen

https://user-images.githubusercontent.com/296730

[2022-07-04 19:52] #8324 closed

[2022-07-04 19:52] #8667 closed

[2022-07-04 19:52] #8668 closed

[2022-07-04 19:52] #8669 closed

[2022-07-04 19:52] #8670 closed

[2022-07-04 19:52] #8671 closed

[2022-07-04 20:15] marktoman commented on #9402
We can set it conditionally instead. If the image is rendered when uploading (including Phase 2), keep it undefined, otherwise set the original default values.

[2022-07-04 20:28] Julesssss commented on #9671
Removed the deploy blocker based on discussions with other engineers.

[2022-07-04 20:33] Julesssss commented on #9586
No new fatal crashes in firebase, or noticable timing regressions.

[2022-07-04 20:33] Julesssss commented on #9586
@Expensify/applauseleads the last blocker has been resolved, please go ahead with testing when you are ready 🎉

[2022-07-04 20:46] isagoico commented on #9586
@Julesssss / @roryabraham Wanted to double check that there's no need to verify https://github.com/Expensify/App/pull/9674 since it was reverted here https://github.com/Expensify/App/pull/9690
I checked them off already, let me know is there's anything we need to QA regarding those changes.

We're currently checking https://github.com/Expensify/App/pull/9672 at the moment. Will post the results he

[2022-07-04 21:34] parasharrajat commented on #9250
I am not able to understand the logical base on the code above. It can easily break with changes to HTML structure. It seems that it is already present on the common repo so ignore it.

It seems like a regression from https://github.com/Expensify/App/pull/8743. cc: @rushatgabhane.

---

What is the effect of this change? How does this work?

[2022-07-04 21:56] rushatgabhane commented on #9250
@ahmdshrif might be more familiar here. Let us know if you have a better solution

[2022-07-04 21:58] kadiealexander commented on #7375
Not overdue Melvin, @parasharrajat is working on [this PR](https://github.com/Expensify/App/pull/9540).

[2022-07-04 22:00] kadiealexander commented on #8663
Not overdue, updates in PR.

[2022-07-04 22:09] parasharrajat commented on #7375
Missed it. I will update the PR soon.

[2022-07-04 22:26] marktoman commented on #9250
The production change would be adding a new parameter to `replaceBlockWithNewLine` instead of copying it from the common repo. The parameter would allow a custom new line string. We need `\n` for MD and `<br>` for HTML.

It removes all the block elements with no loss of information. This is what is currently used for MD, we just take advantage of it. You can compare HTML that goes in and out. The

[2022-07-04 22:50] kbecciv opened #9695 "Search - Focus moves to the 1st line of results when the search query"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR** https://github.com/Expensify/App/pull/7702

## Action Performed:
1. Open App
2. Open Search
3. Type search query
4. Focus some

[2022-07-04 22:51] OSBotify commented on #9695
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-04 22:52] kbecciv commented on #9695
Added Deploy blocker label because the issue.

https://user-images.githubusercontent.com/93399543/177223286-96504c5a-c577-44c9-a2d9-140083cf3be0.mp4

is not reproduced in production

[2022-07-04 22:59] ahmdshrif commented on #9250
thanks @rushatgabhane  i will debug this .

the`replaceBlockWithNewLine`  only use on  `htmlToMarkdown`  so we expect to return MD only.
and also takes text with no HTML and with specific shape so it's not general to use anyway.

any `<br>` will convert to new line `\n` before we use `replaceBlockWithNewLine`

[2022-07-04 23:06] kavimuru commented on #6941
@liyamahendra The page automatically moved up. But now the same tester could not repro this issue in the build 1.1.79.13

Uploading new dot 0407.mp4…

[2022-07-04 23:22] kbecciv commented on #9508
@iwiznia Unable to reproduce with latest version 1.1.79.13

https://user-images.githubusercontent.com/93399543/177224852-0c4ed6d1-76a9-4eba-81a4-be3085363c24.MP4

[2022-07-05 00:01] parasharrajat commented on #7436
For this, go to any workspace, Click on Connect bank account menu, and Choose to add manually.

Interesting. So there are two things.

1. First, we should report this issue with Plaid. There should be two different statuses.
2. Second, we don't want to prompt the user when he already selected add account manually. It does not look very user friendly.

But looking the circumstances, I will open a n

[2022-07-05 00:06] isagoico commented on #9695
When retesting https://github.com/Expensify/App/pull/7702 for https://github.com/Expensify/App/pull/9672.
We found that the issue described in the OC fails step #8 and #10 under the scenario `Search page / Web-Desktop`

![image](https://user-images.githubusercontent.com/44479856/177227029-9303ba26-12ff-4c96-a3f9-3de03dce0c15.png)

I'm not sure if this needs to be a blocker or if it can be addresse

[2022-07-05 00:08] isagoico commented on #9586
@Julesssss @roryabraham
We retested https://github.com/Expensify/App/pull/9672 and found this issue https://github.com/Expensify/App/issues/9695, [here ](https://github.com/Expensify/App/issues/9695#issuecomment-1174467361)it explains what step is failing.
We added the deploy blocker bc it's not reproducible in production but since it's a new behavior it's probably not deploy blocker 🤔 We'll leave

[2022-07-05 00:13] ahmdshrif commented on #9250
so I do quick debug
I log the HTMLString that we receive in `htmlToMarkdown` function
and then render it on https://htmledit.squarefree.com/  (use any thing render html)

so the result there is new line after any email  when render the html as shown
so there is no issue on `htmlToMarkdown` or `replaceBlockWithNewLine`
the issue with HTML itself

![Screen Shot 2022-07-05 at 1 18 58 AM](https://user

[2022-07-05 00:23] arielgreen commented on #9247
@thesahindia sent

[2022-07-05 00:44] parasharrajat commented on #9250
Thanks, @ahmdshrif. I will review your proposal later today.

[2022-07-05 01:30] rushatgabhane commented on #9246
@JmillsExpensify yeah, we had a nasty/tricky blocker. It's all good now

[2022-07-05 01:35] rushatgabhane commented on #9695
Thanks @isagoico, this is the expected result and not a blocker.

The tests are outdated. Sorry about that!

cc: @roryabraham

[2022-07-05 04:38] mvtglobally commented on #9124
Issue not reproducible during KI retests. (Third week)

[2022-07-05 04:38] mvtglobally commented on #8963
Issue not reproducible during KI retests. (First week)

[2022-07-05 04:40] mvtglobally commented on #9287
Issue not reproducible during KI retests. (First week)

[2022-07-05 04:41] mvtglobally commented on #9339
Issue not reproducible during KI retests. (Second week)

[2022-07-05 04:42] mvtglobally commented on #9379
Issue not reproducible during KI retests. (First week)

[2022-07-05 04:43] mvtglobally commented on #9535
Issue not reproducible during KI retests. (Second week)

[2022-07-05 04:52] kadiealexander commented on #7432
All paid, thanks @mananjadhav!

[2022-07-05 04:52] #7432 closed

[2022-07-05 04:56] MonilBhavsar commented on #8589
I think we should keep it on HOLD until API refactoring is done

[2022-07-05 05:27] ctkochan22 commented on #9681
Draft PR is out. Waiting on confirmation on what to do. Rory brings up a good point about whether it is strange that a button can also act as a wrapper: https://github.com/Expensify/App/pull/9680#issuecomment-1172788427

[2022-07-05 05:28] ctkochan22 commented on #9624
Mistakenly added External. I can do this

[2022-07-05 08:25] neil-marcellini commented on #9061
Did you mean that the best option is to do nothing since these are "hacks"?

[2022-07-05 08:49] MariaHCD commented on #9670
Looking into this. Looks like the issue occurs only on desktop.

[2022-07-05 09:53] muaazsheikh commented on #9620
@jliexpensify
There is muliple Ways to handle button upside over keyboard there is a way to make whole screen is KeyboardAvoidingviee or one more third party in react native which is KeyboardAwareScrollView if both will not work then we can manage through flex, i was facing this issue number of times but yeah it can be handled.

[2022-07-05 09:54] mananjadhav commented on #9539
@MitchExpensify bump

[2022-07-05 11:55] trjExpensify commented on #9379
@mollfpr are we just waiting for a prod deploy here?

[2022-07-05 11:55] marktoman commented on #7436
I have updated the proposal and raised a support ticket with Plaid.

[2022-07-05 11:58] trjExpensify commented on #7470
What are the next steps here? Seems like the consensus in the thread is to proceed with the PR and open a new issue for android mWeb, right?

[2022-07-05 12:00] trjExpensify commented on #9283
Gladly! :) Adding the `reviewing` label as there's a PR up for this.

[2022-07-05 12:01] trjExpensify commented on #9123
What's the latest on this PR @thesahindia? In the meantime, I'm adding the `reviewing` label as there's a PR up for the issue.

[2022-07-05 12:15] mananjadhav commented on #7470
Yeah @trjExpensify. I am going to review this again and test on rest of the platforms.

@jayeshmangwani FYI, based on the internal discussion, we think we should move this task ahead by testing, reviewing and merging this one for all the platforms. For Android mWeb, create a new issue. Can you probably merge the latest `main` branch changes so that we can move this forward.

[2022-07-05 13:40] parasharrajat commented on #9061
Not the best but yeah that is an option.

[2022-07-05 13:47] arosiclair commented on #9522
Thanks guys! Getting a Spanish translation for this and then this should be through very soon.

[2022-07-05 13:56] Christinadobrzyn commented on #9686
Related GH - other broken emojis in Firefox. https://github.com/Expensify/App/issues/9123

[2022-07-05 13:57] Christinadobrzyn commented on #9123
Hey there! We have another broken emoji in Firefox - the eye seems broken. Do you think this PR will fix that as well?https://github.com/Expensify/App/issues/9686

[2022-07-05 13:59] neil-marcellini commented on #9061
Ok, so it sounds like maybe a good approach would be to have @allroundexperts create another proposal that uses `scrollTo` and also applies the effect only to the IOU screens as in my proposal. I also think that we would need to smooth it out since the scrolling is rather jumpy in the screen recording [here](https://github.com/Expensify/App/issues/9061#issuecomment-1147948785). I'm going to remove

[2022-07-05 14:17] parasharrajat commented on #9061
Waiting for proposals.

[2022-07-05 14:26] #9663 closed

[2022-07-05 14:42] jayeshmangwani commented on #7470
@mananjadhav
Thanks for the update, I have merged the latest main branch and pushed it.

[2022-07-05 14:46] flodnv commented on #9686
Thanks @Christinadobrzyn , closing as duplicate then.

[2022-07-05 14:46] #9686 closed

[2022-07-05 15:21] thesahindia commented on #9123
Yeah it will be fixed in the current PR.

[2022-07-05 15:25] rushatgabhane commented on #9418
🎀 👀 🎀 C+ Reviewed
@flodnv I like @sobitneupane's [proposal](https://github.com/Expensify/App/issues/9418#issuecomment-1168518507).

[2022-07-05 15:30] rushatgabhane commented on #9287
Interesting.. we don't have a PR yet. cc: @allroundexperts

[2022-07-05 15:33] allroundexperts commented on #9287
@rushatgabhane That's true.

[2022-07-05 15:57] rushatgabhane commented on #9418
@flodnv the LHN and chat use the `128 x 128` avatar icons. Why? Because they're faster to download

[2022-07-05 15:57] Santhosh-Sellavel commented on #9620
@muaazsheikh

Can you elaborate more and write a detailed/informative on the code changes you are proposing.

Look through [these](https://github.com/Expensify/App/issues?q=is%3Aissue+is%3Aclosed+label%3A%22Awaiting+Payment%22) past issues to get an idea about how we expect proposals.

If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob

[2022-07-05 16:04] OSBotify commented on #9586
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9682) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.79-14` :rocket:

[2022-07-05 16:13] parasharrajat commented on #7436
Link to internal discussion https://expensify.slack.com/archives/C02NK2DQWUX/p1657037535270709

[2022-07-05 16:14] parasharrajat commented on #7185
I think PR must have been merged by now. Any update @chiragsalian?

[2022-07-05 16:50] stitesExpensify commented on #9470
No update

[2022-07-05 17:06] mvtglobally opened #9701 "Other user's chats seen as my own"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Logged into Account A
2. Logged out of Account A
3. Logged into Account B

## Expected Result:
See chats that belong to Account B

## Actual

[2022-07-05 17:12] stitesExpensify commented on #9505
I think that we should:
1. Put this on hold
2. Add `Help Wanted` to the `:colon_code:` issue and get that completed
3. Come back to this once we have alternate codes (this is the proposed solution for `colon_code`s) and then add a regex rule like you suggested

Thoughts?

[2022-07-05 17:13] mvtglobally opened #9702 "[HOLD for payment 2022-09-27] [$250] We don't have character limit in zip code, we don't have state picker at additional details page - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on Fab icon > send money > onfido verification > Additional details page
2. Check zip code field and state field

## Expected Result:

[2022-07-05 17:14] OSBotify commented on #9586
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.79-14 has been deployed to staging :tada:

[2022-07-05 17:25] mvtglobally opened #9703 "[Image] Bundle default avatars as SVG to use as a fallback when custom avatars are not loaded or cached"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open app and login
2. Go offline
3. refresh the app
4. Go back online

## Expected Result:
All Avatars should display fall back icons

## Ac

[2022-07-05 17:29] roryabraham commented on #9695
Thanks, @rushatgabhane is correct that this is the expected behavior. Whenever the search term changes we highlight the first option because it theoretically is the _Best Result™_ according to the latest search query. Thanks and sorry for the out-of-date QA steps.

[2022-07-05 17:29] #9695 closed

[2022-07-05 17:29] roryabraham commented on #9586
Closed https://github.com/Expensify/App/issues/9695 because it's the expected behavior.

[2022-07-05 17:29] mvtglobally opened #9704 "Screen flickers during transition in request/send money flow at safari - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on Fab icon > send/request money > add amount
2. Press enter

## Expected Result:
The transition should be smooth

## Actual Result:
T

[2022-07-05 17:33] roryabraham commented on #9586
Looks like we're waiting on the results of https://github.com/Expensify/App/pull/9672, and also need to QA https://github.com/Expensify/App/pull/9682

[2022-07-05 17:43] mvtglobally opened #9705 "[HOLD for payment 2022-09-16] [$1000] Scrolling on code block does not work as expected - reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app on web
2. Post(if not) some code block message with long lines so that it overflows.
3. Try to move two finger (scroll) not precise

[2022-07-05 17:48] marcaaron commented on #9586
@roryabraham can we possibly hold this deploy on -> https://github.com/Expensify/App/pull/9350

[This PR](https://github.com/Expensify/Web-Expensify/pull/34086) in Web-Expensify will reintroduce the "double notification" issue temporarily once deployed and if we can time things right we can minimize the impact.

[2022-07-05 17:51] roryabraham commented on #9586
Sure, no problem

[2022-07-05 17:53] pecanoro commented on #7855
Waiting for proposals

[2022-07-05 17:53] mvtglobally opened #9707 "[$2000] Increasing the screen size breaks the UI - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open :expensify: on web/desktop
2. Decrease the screen size (make it mWeb sized)
3. Try increasing the screen size a little

## Expected Res

[2022-07-05 17:55] mvtglobally opened #9708 "Part of LHN reloads when going back in browser history - @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app on web (https://new.expensify.com/)
2. Visit some reports
3. Click back button
4. Click forward button until you reach last page
5.

[2022-07-05 17:56] flodnv commented on #8641
We will probably have an update in the next few weeks.

[2022-07-05 18:00] mvtglobally opened #9709 "[$250] Editing a comment containing both RTL and LTR characters breaks the (edited) text - Reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to any chat
2. Type something containing RTL characters
3. Send the comment
4. Edit the comment and add LTR characters
5. Press Save chan

[2022-07-05 18:03] brianmuks commented on #8361
@thienlnam thanks for clarifying this. I am on it.

Yes

[2022-07-05 18:08] flaviadefaria commented on #9708
I'm not sure that I get this one. Why would someone go back in browser history and if you go back then what would you expect to happen?

I'll add the engineering label for a second opinion.

[2022-07-05 18:10] mvtglobally opened #9710 "App crashed when clicking on a group chat in LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Sent a 1:1 chat in NewDot
2. Clicked a group chat in LHN
3. App crashed

## Expected Result:
Group chat to show

## Actual Result:
App crash

[2022-07-05 18:19] mallenexpensify commented on #7911
@adelekennedy assigned you as CM to issue payment to @ahmdshrif if we fix this internally

[2022-07-05 18:23] mallenexpensify commented on #8791
@Santhosh-Sellavel can you please review the above proposal? Reassigning a CM since I'll be OOO

[2022-07-05 18:24] dharmik commented on #8541
@mallenexpensify Applied on upwork

[2022-07-05 18:34] thienlnam commented on #8367
Same as above, logs haven't been useful for now

[2022-07-05 18:35] roryabraham commented on #9703
Grabbing this and making it a weekly

[2022-07-05 18:45] mananjadhav commented on #9391
Ohh somehow I missed this one. Let me get to it by tomorrow.

[2022-07-05 18:47] mananjadhav commented on #8846
@dharmik Do you have any PR for me to review?

[2022-07-05 18:50] stitesExpensify commented on #8132
hold

[2022-07-05 18:50] stitesExpensify commented on #4547
no update.

[2022-07-05 18:50] stitesExpensify commented on #4324
Chatting about this in :that: issue. We will likely be adding `Help Wanted` to this issue soon.

[2022-07-05 18:59] thienlnam opened #9712 "Always close the statement even after visiting multiple statement pages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Copy this URL into your browser: https://new.expensify.com/statements/202112/
2. Then this one: https://new.expensify.com/statements/202201

[2022-07-05 19:01] chiragsalian commented on #7185
Yes the PR is merged. It went to staging today and should be on production most likely by tomorrow. Once its on production the issue shown above,
![image](https://user-images.githubusercontent.com/14356145/177397314-b6a8f663-e8c6-43d8-ac28-d8c41520d281.png)

will automatically change its state from open to closed.

[2022-07-05 19:04] mananjadhav commented on #9307
@jliexpensify This should be eligible for payment and closure, but the title has not been updated.

[2022-07-05 19:05] mananjadhav commented on #9331
@sobitneupane Were you able to check the above messages?

[2022-07-05 19:11] thienlnam opened #9713 "[HOLD for payment 2022-07-25] [$250] Statement does not load in NewDot Desktop App"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps
1. Click on the statement from Concierge on NewDot Desktop
<img width="520" alt="Screen Shot 2022-07-05 at 12 09 0

[2022-07-05 19:14] thienlnam commented on #9713
cc @justinpersaud since you've helped us on previous configuration issues - do we just need to include https://www.expensify.com/ in the frame-ancestors list?

[2022-07-05 19:21] roryabraham commented on #9671
Got another fix up: https://github.com/Expensify/App/pull/9714

[2022-07-05 19:40] ahmdshrif commented on #7618
@parasharrajat the new version 6.0.11 already released  [here](https://github.com/react-navigation/react-navigation/releases/tag/%40react-navigation%2Fnative%406.0.11
) some hours ago  .
 and it's reflected now on NPM

I test it and work fine for me. for this issue and this  issue  #8101  also .

https://user-images.githubusercontent.com/21364901/177402832-5f60b39d-e03a-4421-b095-2846b5d0b8ba.mov

[2022-07-05 19:54] marktoman commented on #9240
I have updated the summary and hopefully, it has the gist of our discussion.

The kind of copying where we invoke the synchronous copy event is a workaround and it works like this:
- Copy the data to a new DOM element
- Attach a listener to it
- Select the inserted content
- Trigger the copy event
- Inside the handler, override the copy event and set the content as types
- Remove the listener
http

[2022-07-05 20:02] azimgd commented on #6883
Hey @luacmartins and @parasharrajat. Everything is almost ready from my side. I started with Rajat's suggestion of creating atomic PR's to simplify CR process for you. Here is the first PR https://github.com/Expensify/react-native-key-command/pull/2 with the boilerplate only code. Please go ahead and start reviewing it. I will then move the code from the first PR as soon as it's merged.

[2022-07-05 20:09] #9508 closed

[2022-07-05 20:09] AndrewGable commented on #9546
I think we should update the GitHub template so all the relevant information is available in the GitHub

[2022-07-05 20:18] trjExpensify commented on #7855
Oh boy, this issue is pretty deep in the weeds to step into. 😅 I haven't really noticed this myself before, but granted it is reproducible.

Before I get this job back on Upwork (it's no longer accepting proposals since Rajat was hired), can someone summarise where we're up to, so we can add that context to the OP for the next volunteer? What have we tried? why didn't we like it/why didn't it work

[2022-07-05 20:26] deetergp commented on #9402
I'm back from my day off and will be reviewing the proposal shortly…

[2022-07-05 20:45] #9671 closed

[2022-07-05 20:55] OSBotify commented on #9586
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9714) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.79-15` :rocket:

[2022-07-05 21:13] mvtglobally commented on #9586
https://github.com/Expensify/App/pull/9682 is pass. checking off

[2022-07-05 21:22] marcaaron commented on #9586
Just a heads up that [this PR](https://github.com/Expensify/App/pull/9350) was merged (unsure if it has been CP'd will look in a second) but is not yet ready to be tested and will be tested after the Web-Expensify deploy. So we are holding the NewDot deploy on the Web-E deploy.

[2022-07-05 21:43] justinpersaud commented on #9713
`www.expensify.com` is in the list already. Is it not valid without the protocol? Maybe that was a typo?

[2022-07-05 21:43] kevinksullivan commented on #9089
@sobitneupane paid. @Santhosh-Sellavel hired for C+, please let me know when you accept.

[2022-07-05 21:48] tgolen commented on #9708
@mdneyazahmad Why shouldn't it reload? I'd be kind of interested to understand why it appears to reload, but I don't think there is a problem with it reloading. I think the problem is that it's a flash of no content while it reloads. If we can prevent that flash, then I think everything is OK.

If there is a pretty simple solution to this, let's do it, but if it's going to be complex, I'd skip it.

[2022-07-05 21:59] thienlnam commented on #9713
I assume it's not valid without the protocol, www.expensify.com is put there from the hostname [here](https://github.com/Expensify/Salt/blob/main/shared_pkgs/nginx/files/conf.d/www.conf.template#L50-L50).  We explicity imply it in these other configs https://github.com/Expensify/Salt/blob/3c6ac677d3a3e6d0dd7ee57b04fab523957525b6/shared_pkgs/nginx/files/conf.d/integrations.conf.template#L20-L20 so

[2022-07-05 22:01] OSBotify commented on #9586
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.79-15 has been deployed to staging :tada:

[2022-07-05 22:02] roryabraham commented on #9586
https://github.com/Expensify/App/pull/9714 just finished CPing so we should test that too. It fixes [an issue that we weren't treating as a blocker](https://github.com/Expensify/App/issues/9671).

[2022-07-05 22:05] OSBotify commented on #9586
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9350) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.79-16` :rocket:

[2022-07-05 22:34] #9598 closed

[2022-07-05 22:41] roryabraham commented on #9586
https://github.com/Expensify/App/pull/9626 also just started CPing, and it fixes another non-blocker bug introduced in this release: https://github.com/Expensify/App/issues/9598

[2022-07-05 22:45] trjExpensify commented on #9712
Job on Upwork here: https://www.upwork.com/jobs/~01ce48a3c10dcdbe87

@thienlnam, just to check, does the contributor need access to a beta for this?

[2022-07-05 22:48] bondydaa commented on #9707
this should be fine for a contributor to work on, i don't know that it's super valuable to fix since how often are users resizing a few pixels at a time?

[2022-07-05 22:48] trjExpensify commented on #9709
Passing on to engineering triage. Will remain assigned for CM if it can go external.

[2022-07-05 22:54] justinpersaud commented on #9713
yeah let's try that and see? according to the spec it should work though: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/frame-ancestors

[2022-07-05 22:54] parasharrajat commented on #9712
Can someone improve _the Action Performed_ and add steps for _how to navigate to statements_?

[2022-07-05 22:56] justinpersaud commented on #9713
wait, are you using the staging server on newdot? could it be because the request is coming from https://staging.new.expensify.com --> www.expensify.com

[2022-07-05 23:13] thienlnam commented on #9713
Not on the staging server on newDot, unless it's something that's automatically added to my expensify account.  Good point on the staging though, we'd also want this to work on staging so I will also add `https://staging.expensify.com/` as well

[2022-07-05 23:20] blockchainFull commented on #9712
I think we need to check route, state, history of this project.
All the redirects depends on them in react.

[2022-07-05 23:20] marcaaron commented on #9712
+1 - it would be helpful to have a video of the existing behavior. I'm not even sure what is being asked here.

[2022-07-05 23:24] adelekennedy commented on #9244
not overdue - waiting for it to be deployed

[2022-07-05 23:25] adelekennedy commented on #8005
On hold

[2022-07-05 23:35] OSBotify commented on #9586
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.79-16 has been deployed to staging :tada:

[2022-07-05 23:39] OSBotify commented on #9586
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9626) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.79-17` :rocket:

[2022-07-05 23:48] parasharrajat commented on #9713
@thienlnam This one needs to be done on front end. Doing this change will fix it.

1. Add the following line after https://github.com/Expensify/App/blob/35a41d99fe751d9952fa5401bd38c87d6bf3d5ba/desktop/main.js#L166.
[code]

2.  Add the following line after https://github.com/Expensify/App/blob/35a41d99fe751d9952fa5401bd38c87d6bf3d5ba/desktop/main.js#L170.
[code]

Option solution could be remove th

[2022-07-05 23:53] roryabraham opened #9725 "Merging code to main can trigger deploy of unrelated systems"
### Problem
We are working on releasing a new help site that's hosted in this repo. It deploys whenever code is merged to main. However, its deploy can be triggered even if the changes merged are completely unrelated to the help site, which causes:

1. An unnecessary deploy
1. Noise in slack
1. Noise in the git history
1. Unnecessary bloating of the deploy checklist

Similarly, merging helpsite-re

[2022-07-05 23:56] trjExpensify commented on #9712
Fair, it's just copying those three URLs above into the browser and clicking `X` on the modal. I've improve the steps a bit with the below to make that clearer, gif included!

1. Copy this URL into your browser: https://new.expensify.com/statements/202112/
2. Then this one: https://new.expensify.com/statements/202201/
3. Then this one: https://new.expensify.com/statements/202202/
4. Click the `X`

[2022-07-06 00:05] roryabraham opened #9726 "[HOLD] Multiple concurrent deploys are slow"
### Problem
When a PR is cherry-picked, we [wait for staging deploys to finish](https://github.com/Expensify/App/blob/3898a1666cc74c69ea098d830368d055e2304f6b/.github/workflows/preDeploy.yml#L156-L161) before [commenting in the deploy checklist](https://github.com/Expensify/App/blob/3898a1666cc74c69ea098d830368d055e2304f6b/.github/workflows/preDeploy.yml#L163-L168) to alert Applause of the newly-C

[2022-07-06 00:15] parasharrajat commented on #9712
I may have found another issue. When I open the URL https://new.expensify.com/statements/202112/ on the browser. I see a blank page.
![image](https://user-images.githubusercontent.com/24370807/177435751-6d25b509-ca15-4a97-b5a1-a270325137aa.png).

Request return 404 for the page (the reason could be that report is not generated for my account yet). But I think it should be 200 with some sort of UI

[2022-07-06 00:19] deetergp commented on #9661
This was fixed [here](https://github.com/Expensify/Web-Expensify/pull/34204/files)

[2022-07-06 00:19] #9661 closed

[2022-07-06 00:23] marcaaron commented on #9712
Ok, super weird now that I understand it...

@parasharrajat nice catch, but not really what we are trying to fix here so maybe we can create a new issue for that.

[2022-07-06 00:26] marcaaron commented on #9712
`WalletStatementPage` is doing a `Navigation.dismissModal(true)`

https://github.com/Expensify/App/blob/35a41d99fe751d9952fa5401bd38c87d6bf3d5ba/src/pages/wallet/WalletStatementPage.js#L110-L110

So why are we trying to navigate to the previous route in the `history`? Maybe this will be fixed in https://github.com/Expensify/App/pull/9718.

[2022-07-06 00:27] marcaaron commented on #9712
@thienlnam Anyway to reproduce this on dev? When I check out a statement it just looks like this...

![2022-07-05_14-27-25](https://user-images.githubusercontent.com/32969087/177437894-18c9ac22-75db-4374-994b-bfb030fac453.png)

[2022-07-06 00:29] thienlnam commented on #9713
What's the reasoning behind this, how come it isn't being recognized currently?

Yeah this is unlikely what we'd want to do

[2022-07-06 00:34] parasharrajat commented on #9713
On the desktop app, the app is loading with localhost URL on dev and with `app://` on production. CSP policy will fail if URLs do not match what is specified in ` frame-ancestors`.

Previously we never used frames anywhere AFAIK so `frame-ancestors` CSP was never applicable to any API calls.
As we are using electron, we can do anything with the API calls, either disable the policy completely befor

[2022-07-06 00:36] thienlnam commented on #9712
Yeah I'm not sure, I messed around with it a bit and it seemed to be some react-navigation bug.  Another thing I was thinking was that the way we've been accessing the statement is modifying the URL so maybe it has to do with that? But the history seems intact so I'm not sure

Should be able to see the statement on dev, any console errors when you see this in the modal? Though I think if you're ab

[2022-07-06 00:38] marcochavezf commented on #8311
Responding in the thread

[2022-07-06 00:47] marcaaron commented on #9712
I would guess it has more to do with our ever evolving "custom actions" than any issue with `react-navigation`, but both are possible. Will do some debugging.

[2022-07-06 00:53] MitchExpensify commented on #9411
Paying tomorrow when back from ooo!

[2022-07-06 00:54] kbecciv opened #9727 "[$500] Android/mWeb/Safari - Setting - The save button doesn't get disabled when the profile photo is removed without uploading @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in with any account in NewDot
2. Go to Settings
3. Go to Profile
4. Click on the Edit Photo icon
5. Select any photo
6. Click on the pho

[2022-07-06 00:56] arielgreen commented on #9339
@sobitneupane @mananjadhav payment has been issued.

@Tushu17, apologies I didn't see you reported this before, I've just sent over an offer for the reporting bonus, once you accept I'll send payment.

[2022-07-06 00:56] #9339 closed

[2022-07-06 01:08] thienlnam commented on #9713
Interesting, thanks for the context.  I agree this actually seems to be an issue we can fix on the front-end.  Seems like we've already been running into this with access-control-allow-origin.

We could just update our config to allow app://expensify... but I think the solution you provided makes more sense.  Do you want to take this issue?

[2022-07-06 01:10] kbecciv opened #9728 "[HOLD for payment 2022-08-11] [$250] Web - Moving to and from search bar to bottom emoji is inconsistent @daraksha-dk"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com and log in
2. Go to any chat > click on emoji picker > press down arrow key
3. Nothing is selected
4. Same t

[2022-07-06 01:10] marcaaron commented on #9712
What's even weirder is that this doesn't happen with something like the "settings" page which is also a "modal stack". The state looks the same as this more or less.

[2022-07-06 01:12] kbecciv commented on #9728
Similar issue https://github.com/Expensify/App/issues/9413

[2022-07-06 01:16] thienlnam commented on #9712
Yeah I think it's because we're accessing it by modifying the URL instead of having a dedicated button that opens `Navigation.navigate(statement_route)`.  Kind of like how if you click on another chat in the LHN the app won't reload, but if you manually edit the reportID in the URL it will cause it to reload.  Not sure how it all plays into how the last page in the stack is the previous statement

[2022-07-06 01:24] marcaaron commented on #9712
Ah ok, so, this is not unique to the statements. The same issue will happen if you navigate to something like

https://new.expensify.com/settings/payments
https://new.expensify.com/settings/preferences

[2022-07-06 01:26] jliexpensify commented on #9307
Thanks for the heads up @mananjadhav - will get these sorted today.

![image](https://user-images.githubusercontent.com/30815269/177447420-f8f55112-72c2-4181-aedd-765fd969e86e.png)

[2022-07-06 01:26] marcaaron commented on #9712
P.S. this issue is fixed by https://github.com/Expensify/App/pull/9718 so I'm going to make it internal and assign myself.

[2022-07-06 01:30] OSBotify commented on #9586
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9729) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.79-18` :rocket:

[2022-07-06 01:30] OSBotify commented on #9586
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.79-18 has been deployed to staging :tada:

[2022-07-06 01:32] roryabraham commented on #9586
Sorry for all the CP announcements, I'm testing some new deploy stuff

[2022-07-06 02:09] stephanieelliott commented on #7081
PR is moving along, mostly smaller visual edits now.

[2022-07-06 02:12] stephanieelliott commented on #9009
Yay! Closing.

[2022-07-06 02:12] #9009 closed

[2022-07-06 02:45] parasharrajat commented on #9713
Yup, I can do that.

[2022-07-06 03:16] jliexpensify commented on #9307
Everyone's been paid, cheers!

[2022-07-06 03:16] #9307 closed

[2022-07-06 03:22] jliexpensify commented on #9124
Paid Rushat and Mohammad! Thanks.

[2022-07-06 03:22] #9124 closed

[2022-07-06 03:27] jliexpensify commented on #8935
@allroundexperts  - going to pay you now.

@parasharrajat and @adeel0202 - have sent you invites! Once you accept, I'll pay and close the job.

[2022-07-06 04:42] mvtglobally commented on #9586
https://github.com/Expensify/App/pull/9714 is pass Checking off. Will update https://github.com/Expensify/App/pull/9626 & https://github.com/Expensify/App/pull/9672 tomorrow

[2022-07-06 04:50] mvtglobally opened #9733 "FEATURE REQUEST: Real-time translate markdown in the chat box - reported by @ahmdshrif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
## Problem :

When pasting stylized text (e.g. a word like "Bold") into the New Expensify chat box it shows the markdown style before it is actually applied (i.e. "*

[2022-07-06 04:53] mvtglobally opened #9734 "[HOLD - #11768] [$500] Unable to open chat through search when the browser/app size is decreased - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Decrease the width of your browser window to the point in which the chat view is not visible, only the LHN
2. Click on the magnifying glass

[2022-07-06 04:55] mvtglobally opened #9735 "Up and down key doesn't work on the search list when the browser/app size is decreased - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Decrease the size of the browser
2. Click on the search icon
3. Press the up/down key multiple times

## Expected Result:
The up and down ke

[2022-07-06 05:02] mvtglobally opened #9736 "Back button doesn't work in the Chase bank screen - reported by dhairyasenjaliya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to settings add payment method as bank account
2. Add bank account in "Chase bank"
3. here on chase bank login page press back

## Expect

[2022-07-06 05:02] jliexpensify commented on #8935
Paid @adeel0202

[2022-07-06 05:22] parasharrajat commented on #9733
I thought this was already rejected on Slack. Even if we want to rethink it. A better Problem statement is needed to think it through.

[2022-07-06 05:25] ctkochan22 commented on #9681
After [discussing](https://expensify.slack.com/archives/C02HWMSMZEC/p1656717727334949) it with @tgolen @marcaaron @roryabraham , I updated this github's description as to the new plan.

We are going to go with a wrapper `FormAlertWrapper`. This wrapper will be used to add offline behavior and standardized error handling for more complex buttons that `FormAlertWithSubmitButton` cannot handle.

[2022-07-06 05:34] mvtglobally opened #9737 "[HOLD for test] Tooltip appears sometimes when go back from chat (mWeb - Safari) - reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to chat with someone
2. Go back from chat using back button and open chat again and go back.
3. Repeat this process sometimes and a tool

[2022-07-06 05:39] mvtglobally commented on #9713
@thienlnam not sure if this is related https://github.com/Expensify/App/issues/9670

[2022-07-06 05:45] jliexpensify commented on #8935
Paid @parasharrajat , closing!

[2022-07-06 05:45] #8935 closed

[2022-07-06 05:46] mvtglobally opened #9739 "[HOLD for payment 2022-09-26] [$1000] When you send old :expensify: link and hover you will not see any tooltip and the link is without underline - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to any chat
2. Send https://www.expensify.com/inbox or [link](https://www.expensify.com/inbox)
3. Or go to concierge chat as it contains

[2022-07-06 05:47] kadiealexander commented on #8595
Not overdue, updates are in the PR.

[2022-07-06 05:49] kadiealexander commented on #7962
Discussing [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1657086552705789).

[2022-07-06 06:29] sobitneupane commented on #9727
**Proposal:**
The reason is `isAvatarChanged` remains true in the condition mentioned in this issue. To solve this issue, we can either move `this.setState({isAvatarChanged: false});` out of the if statement.
https://github.com/Expensify/App/blob/95d831d67e5d44a0b1fec5b6e1ad560242d4b914/src/pages/settings/Profile/ProfilePage.js#L179
Or do following changes in `updateAvatar()` function
https://gith

[2022-07-06 06:53] thesahindia commented on #9702
### Proposal

We just have to use [AddressForm](https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/AddressForm.js) component here
https://github.com/Expensify/App/blob/95d831d67e5d44a0b1fec5b6e1ad560242d4b914/src/pages/EnablePayments/AdditionalDetailsStep.js#L272

We use `AddressForm` at all other pages where we have these fields and in additional details page we are using t

[2022-07-06 07:01] Tushu17 commented on #9339
@arielgreen Offer accepted, Thank you.

[2022-07-06 07:01] techievivek commented on #9085
Not overdue, @parasharrajat Can you give an update for this one 🙌 .

[2022-07-06 07:05] parasharrajat commented on #9085
The other PR is is about to be deployed on production and then I will complete my changes.

[2022-07-06 07:16] SumitDiyora commented on #9586
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - #8549, #9218, #9405, #9469, #9493, #9507, #9512, #9536, #9549, #9553, #9554, #9558, #9563, #9574, #9569, #9555, #9610, #9632, #9639, #9643, #9672, #9674, #9690, #9619, #9350, #9626, #9682, #9714

Logged Issues - #8419, #8465, #8435, #8430, #8616,

[2022-07-06 07:26] thesahindia commented on #9735
I have tested this on staging and it is not reproducible. I think it got fixed by https://github.com/Expensify/App/pull/7702.
(Note: The PR is on staging, so it's reproducible on prod)

[2022-07-06 11:27] Beamanator commented on #9418
Thanks for pinging me @flodnv

Personally I don't think we need to make this fix in this issue since - as you mentioned - I'm working on refactoring this one so I will include @sobitneupane 's fix -> And since his proposal was accepted and useful for me I think we should pay him out

[2022-07-06 11:41] mdneyazahmad commented on #9662
Seems like a regression from this PR https://github.com/Expensify/App/pull/9405

[2022-07-06 12:02] Beamanator commented on #6438
PR merged a week ago, still waiting for deployment. Changing priority back to `Weekly`

[2022-07-06 12:07] trjExpensify commented on #9712
Kewl, taken it down from Upwork.

[2022-07-06 12:52] flodnv commented on #9418
Ok, thanks for your thoughts! Let's hold this on the refactor, and issue payment once the above assumptions are 100% confirmed 🙇

[2022-07-06 13:28] sketchydroide commented on #9709
I think this can be external.

[2022-07-06 14:05] kbecciv opened #9741 "[HOLD for payment 2022-08-01] [$250] Web - New Room - Drop down is opened again after use the Enter Key to create a new room"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with expensifail account
3. Click on Fub menu - New Room
4. Type any room and use Enter Key
5. Sel

[2022-07-06 14:54] bfitzexpensify commented on #9245
Just familiarising myself with this issue. Seems like the current step remains figuring out how challenging/feasible the required back-end changes would be - is that correct @rushatgabhane @chiragsalian?

[2022-07-06 14:56] kavimuru opened #9742 "Group Chat - List does not scroll to the top after selecting user manually"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

[2022-07-06 14:58] bfitzexpensify commented on #9735
Yep, I can reproduce on prod, but it is fine on staging. Closing this out, if we find it is an issue on prod again we can re-open.

[2022-07-06 15:11] Santhosh-Sellavel commented on #9089
Accepted thanks!

[2022-07-06 15:19] #9411 closed

[2022-07-06 15:42] mvtglobally opened #9743 "When user logged in on few devices, messages dont arrive"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login on few devices
2. Go to a chat with someone
3. Have them send you a message

## Expected Result:
User should receive messages on all d

[2022-07-06 15:54] mvtglobally opened #9744 "After signing in, my chats list was totally blank and then look how far up and to the right the FAB is"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open app after some time
2. login

## Expected Result:
user should see LHN and chats

## Actual Result:
After signing in, my chats list was

[2022-07-06 15:59] laurenreidexpensify commented on #8849
Bumping back to weekly as the external labee confused melv

[2022-07-06 16:03] parasharrajat commented on #7375
Testing the PR after merging main and then upload the videos.

[2022-07-06 16:16] mvtglobally commented on #9744
@Beamanator sorry, spellcheck. Corrected

[2022-07-06 16:17] Beamanator commented on #9744
Aah ok thanks :D I posted in the original thread to see if anyone can reproduce - if not, i'm not sure how I'll move forward with this 😅

[2022-07-06 16:18] mvtglobally commented on #9744
@Beamanator we were not able to repro on quite a few of the devices. We will keep an eye on it today as well.

[2022-07-06 16:23] luacmartins commented on #6883
I'll let @parasharrajat review it first!

[2022-07-06 16:28] kbecciv opened #9745 "Web - Group Chat - Fub menu is opened after use the Enter Key for expensifail account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/docs/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR** https://github.com/Expensify/App/pull/9626

## Action Performed:
1. Go to staging.new.expensifail.com
2. Log in with applauset

[2022-07-06 16:51] luacmartins commented on #9743
Slack thread https://expensify.slack.com/archives/C01GTK53T8Q/p1657119509766089. Seems like the fix is to wait for Web-E prod deploy.

[2022-07-06 16:53] thienlnam commented on #9713
@mvtglobally Yup, good catch - this is the same issue so I'm closing the other one

[2022-07-06 16:53] thienlnam commented on #9670
Closing since this is a duplicate of this https://github.com/Expensify/App/issues/9713

[2022-07-06 16:53] #9670 closed

[2022-07-06 17:09] michaelhaxhiu commented on #7916
held up still, seems we need a verdict and path forward from the slack discussion.

[2022-07-06 17:29] parasharrajat commented on #7375
There are two other PRs that are trying to fix different aspects of this page. I don't want to make things harder for them so I will wait for them to be merged and then refactor that code.
https://github.com/Expensify/App/pull/9622
https://github.com/Expensify/App/pull/9552