[2021-08-20 09:58] aman-atg commented on #4496
I agree, it makes sense to keep this on hold for a while. I'll update the ticket with similar issues if there're any.

[2021-08-20 10:00] Julesssss commented on #4264
Sure, I'll do this and update the issue but it will need to wait until next week as we're super busy on some high-priority internal projects.

[2021-08-20 10:09] dylanexpensify commented on #4669
Job posted!
- Internal: https://www.upwork.com/ab/applicants/1428660304107171840/job-details
- External: https://www.upwork.com/jobs/~01d6d4067b656fe4e2

[2021-08-20 11:29] iwiznia commented on #4744
Proposal looks good to me, @JmillsExpensify you can hire @akshayasalvi

@chiragsalian, @MitchExpensify, @marcaaron please remember all copy, numbers and dates *need* to go through one of the localization methods (this was added in https://github.com/Expensify/App/pull/4483/files#diff-40ada854d0b6039d4db7da6cede12f7be0cf7d113cc16c8cbc638af4bd0121d4R260)

[2021-08-20 12:05] Santhosh-Sellavel commented on #4163
@Beamanator  is there an Upwork job for this?

[2021-08-20 12:17] akshayasalvi commented on #4518
Thank you for responding @Julesssss It seems this isn't closed and we are hiring from Upwork. I got an invite for this job. So am I supposed to work on it?

[2021-08-20 12:37] MTN718 commented on #4518
Thanks @Julesssss. I saw Upwork project yesterday and immediately i made proposal. seems it's late

[2021-08-20 12:40] kidroca commented on #3867
The original plan was to keep image/files in the database. This is easy to achieve on web/desktop, but more complicated on native with the current storage library and model we use
1. AsyncStorage works only with strings ATM - converting files to base64 strings should be out of the question. But we can discuss it if you want to
2. MMKV is no better as it only supports simple types like number, bool

[2021-08-20 13:03] Beamanator commented on #4163
Looks like not yet 🤔  I'll ask for help internally! Someone should get to it today 👍 again... Sorry for the delay!

[2021-08-20 13:25] Santhosh-Sellavel commented on #4398
@stitesExpensify we both missed something, Do we need to change the icon for Paypal?
If so please send me the icon. I'll update it

[2021-08-20 13:29] mountiny commented on #4756
Thank you both for looking into this! Following from what you have found @luacmartins, I have identified that when using the SearchBar, the `ReportActionCompose` does need to update couple of time (after selecting different chat from the search) before it gets the report data of the new report.

In comparison, when using sidebar chat switcher, the components gets the correct props immediately afte

[2021-08-20 13:29] Julesssss commented on #4518
@akshayasalvi so we'll need to hire you in UpWork too, as that's how we currently make payments, but as soon as you are given approval and assigned to this issue you are free to start working on the task. Please let me know if you have any other questions.

[2021-08-20 13:33] Julesssss commented on #4518
Hi @MTN718. Yeah, to give you some context the reason I went with the other proposal is because: A) It was the first proposal we received (10 days ago), and B) it had a bit more detail, and included the fact that we would need to add the localize hoc.

[2021-08-20 13:39] Santhosh-Sellavel commented on #4448
It's not overdue, everything is completed. Yet to close.

[2021-08-20 13:57] dylanexpensify commented on #4163
Working on this now!

[2021-08-20 13:59] dylanexpensify commented on #4163
Job posted!
- Internal: https://www.upwork.com/ab/applicants/1428718283504664576/job-details
- External: https://www.upwork.com/jobs/~0186891d4078a90470

[2021-08-20 14:03] mountiny commented on #4756
PR is ready for a review, but it still needs to be tested on Mobile to make sure the workaround does not cause any problems.

[2021-08-20 14:04] Beamanator commented on #4163
Thanks @dylanexpensify ! Just to quickly catch you up - this job has already been finished 😅 I merged @Santhosh-Sellavel 's code this morning, so @Santhosh-Sellavel can you let @dylanexpensify know when you apply so he can hire you?

[2021-08-20 14:27] Santhosh-Sellavel commented on #4163
Applied! @dylanexpensify

[2021-08-20 14:28] dylanexpensify commented on #4163
Hird @Santhosh-Sellavel ! 😄

[2021-08-20 14:31] isagoico commented on #4701
Summary of the Progress with deploy blockers:
1. Looks like https://github.com/Expensify/App/issues/4730 was fixed here https://github.com/Expensify/App/pull/4741 but it has not been CPd to staging. Should we check it off the list? CC @aldo-expensify @alex-mechler @jasperhuangg @nkuoch
2. https://github.com/Expensify/App/issues/4739 was not a deploy blocker - Checking off https://github.com/Expens

[2021-08-20 14:37] jboniface commented on #4666
[view the job on upwork](https://www.upwork.com/jobs/~010a6f5bd058060937)

[2021-08-20 14:38] isagoico opened #4762 "[HOLD for payment] Update height of default buttons to to match the text inputs"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

Upwork Link: https://www.upwork.com/jobs/~01bb2cd985b9f96a7a
___

## Action Performed:
1. Navigate to https://staging.new.expensify.com
2. Enter an email
3. Compare the heig

[2021-08-20 14:38] jboniface commented on #4666
note to self, if santosh's proposal is accepted, we should pay a bonus for it since santosh filed the issue

[2021-08-20 14:39] jboniface commented on #4666
@Santhosh-Sellavel please post a formal proposal here when you have it and also submit to the job on upwork

[2021-08-20 14:48] kakajann commented on #4762
## Proposal
https://github.com/Expensify/App/blob/cefb82a138df18e04ef5dc48893fb800c3bf4811/src/styles/styles.js#L175-L181

Line 178: `height: variables.componentSizeLarge`
Will fix this issue

[2021-08-20 14:54] MTN718 commented on #4669
# Proposal (Shane Watson from Upwork)

1. In ReportActionView.js, updateLastReadActionID calling always. so it is reseting last unread message number
2. So add code there, reset unread message when marker only not showing,in other word only reset scroll to end.
3. And when scroll to end of bottom, reset unread number because currently unread update function when component update.
4. Adding screens

[2021-08-20 14:55] sketchydroide commented on #4216
Ok I'm closing this, it does seem to be a priority, or needed, if we change our minds we can open it again.

[2021-08-20 14:55] #4216 closed

[2021-08-20 14:58] bondydaa commented on #4754
oh sorry I'm 100% focused on another task, unassigning for the pool

[2021-08-20 15:01] Santhosh-Sellavel commented on #4666
@jboniface

What can we do here I need input from you guys.

Can we make the admin not selectable or Show error when the user click `remove` button while admin user is selected?

[2021-08-20 15:01] MTN718 commented on #4518
Ok no problem thanks.

[2021-08-20 15:12] NicMendonca commented on #3901
@MTN718 hired!

[2021-08-20 15:14] MTN718 commented on #3901
Thanks. Let me create PR

[2021-08-20 15:19] tgolen commented on #4507
It's entirely possible that `currentURL` can be removed completely. It was added in [this PR](https://github.com/Expensify/App/pull/179) to fix [this GH](https://github.com/Expensify/App/issues/177). I think we need to be a little bit careful here because `exitTo` is still used in the `VALIDATE_CODE_URL` but it's used as a query parameter now as opposed to be part of the path. However, the `VALIDA

[2021-08-20 15:21] tgolen commented on #4507
In fact, I really don't like that `VALIDATE_CODE_URL` lives in `ROUTES.js` since it isn't related to a route for New Expensify. Since it's only referenced once, I would just move the logic from `ROUTES.js` into `App.js` where it was being referenced. Would you mind cleaning that up?

[2021-08-20 16:22] marcaaron opened #4766 "Messages are sending twice on staging desktop app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Send a comment

## Expected Result:
Comment only appears once

## Actual Result:
Comment is getting created multiple times in some scenarios

## Wor

[2021-08-20 16:23] OSBotify commented on #4766
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-20 16:23] marcaaron commented on #4701
I think this issue is a deploy blocker -> https://github.com/Expensify/App/issues/4766
But I am not sure what's causing it and haven't verified if it happens or not on production.

[2021-08-20 16:37] Jag96 commented on #4543
Exported: https://www.upwork.com/jobs/~01d853d1f00586e2de

[2021-08-20 16:38] puneetlath commented on #3855
I'm going to be off most of next week as well. I chatted with @kevinksullivan and he's going to take this back.

[2021-08-20 16:44] timszot commented on #4659
@kakajann I like that proposal and seems like design likes it too!

@SofiedeVreese let's get them hired!

[2021-08-20 17:12] marcaaron commented on #4214
I noticed an uptick in duplicate messages on staging yesterday so I'm reopening this issue and adding a deploy blocker as a precaution. If we determine this PR is unrelated we can remove the blocker.

[2021-08-20 17:13] marcaaron commented on #4214
Also, for what it's worth, I was not on a slow connection and using the desktop version of the app.

[2021-08-20 17:13] OSBotify commented on #4214
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-20 17:17] Santhosh-Sellavel commented on #4214
@marcaaron It doesn't have to be a slow connection, if there are any frequent connections drops that may lead to a temporary no network then this issue may happen. I did some digging earlier proposed a solution with a reason why [here](https://github.com/Expensify/App/issues/4214#issuecomment-888183971)

[2021-08-20 17:25] marcaaron commented on #4214
Sorry I missed your earlier comment @quinthar but yes, sounds correct to me. AFAIK we use client-side generated ids to clear "pending" comments, but not to make comments idempotent. This will need to be handled in the back end.

Idempotent report comment requests seem like they would be helpful for situation where we have no way to know if something succeeded in the server. We could have done that

[2021-08-20 17:28] marcaaron commented on #4666
Hmm this feels like a very low value fix and I don't think this it's a priority right now. I honestly don't have time to review proposals or code for things like this so I'm just going to close it. Sorry!

@Jag96 or @jboniface lmk if you feel differently and maybe we can make it a monthly 🤷‍♂️

[2021-08-20 17:28] #4666 closed

[2021-08-20 17:33] marcaaron commented on #4745
Just updated a few things here as this issue confused me. It seems like it's not an authToken expiring but the validate code.

[2021-08-20 17:43] rushatgabhane commented on #3985
I think we should close this issue because I can't reproduce it anymore.
Have no idea what might have fixed it though.

[2021-08-20 17:52] marcaaron commented on #3985
Sounds good. We did a lot of work to optimize the loading of individual report comments so perhaps something to do with that makes the rendering less noticeable (or it's happening offscreen so we can't see it).

[2021-08-20 17:52] #3985 closed

[2021-08-20 17:58] Santhosh-Sellavel commented on #4666
Don't take it the wrong way, I do understand that team has internal priority items hooked for two/three weeks from last week.
But straight away closing the issues after being exported really hurts

[2021-08-20 18:03] parasharrajat commented on #4669
Explanation here https://github.com/Expensify/App/issues/4669#issuecomment-898957180

### Proposal
1. above functionality is necessary to mark the messages read but on the other hand, we want to show the marker to show the correct messages.
2. To do the above, we can create a count in the state which we update on every new message after the marker is shown as `this.state.isMarkerActive`.
3. We res

[2021-08-20 18:10] MTN718 commented on #3901
Created PR. Waiting Feedback

[2021-08-20 18:12] marcaaron commented on #4660
Yeah I agree. I think this would ideally just work like this...

1. User enters password and it passes validation. No additional feedback is shown.
2. User enters password and it does not pass validation - hint is shown with **RED** text.
3. User fixes password and the hint is removed entirely. No green text. No message.

Thoughts?

[2021-08-20 18:12] roryabraham commented on #4669
@parasharrajat Your proposal looks good. @laurenreidexpensify Please hire @parasharrajat for this job on Upwork.

[2021-08-20 18:13] MTN718 commented on #4669
I added solution also. and it works like video

[2021-08-20 18:16] mallenexpensify commented on #4217
Paid in Upwork with bonus for reporting the issue.

[2021-08-20 18:16] #4217 closed

[2021-08-20 18:21] mallenexpensify commented on #4307
Paid in Upwork with bonus for reporting issues. Deployed to production 3 days ago, closing

[2021-08-20 18:21] #4307 closed

[2021-08-20 18:26] isagoico commented on #4756
Retest for this in Web was a pass 🎉

[2021-08-20 18:36] roryabraham commented on #4669
@MTN718 I think your solution that changes calls of `updateLastReadActionID` to happen in relation to `this.state.isMarkerActive` might have some unintended side-effects (it makes an API call that may affect other platforms). So that's why I prefer @parasharrajat's solution of keeping a local count in the component state.

[2021-08-20 18:46] MTN718 commented on #4543
# Proposal (Shane Watson from Upwork)

1. In isSingleEmoji function, Issue from match length of message and regex emoji length. because there is different utf16 and utf8.
2. So solution need to check message content and matched emoji content like this.
![image](https://user-images.githubusercontent.com/12084368/130279705-544612fa-6321-486b-88fa-699f3341c421.png)
3. I tested it and it works.

[2021-08-20 18:56] parasharrajat commented on #4766
I am checking if this is a side effect from My PR.

[2021-08-20 18:58] Jag96 commented on #4762
@kakajann your proposal looks good, please be sure to add screenshots in your PR to confirm the style looks good in other areas of the app. I've invited you to the job on Upwork.

[2021-08-20 19:13] bfitzexpensify commented on #4129
Doubled on Tuesday, will double again next Tuesday if necessary.

[2021-08-20 19:22] parasharrajat commented on #4766
I just checked this is not a side-effect from My PR. `Network.post` is being called two times when we are sending a single message. https://github.com/Expensify/App/blob/bdcafa3444f3839d7f5de2300e258caf681a50e3/src/libs/Network.js#L244

I am trying to figure out why this is being called twice.

[2021-08-20 19:24] parasharrajat commented on #4515
I am sure about the process anymore. cc: @mallenexpensify

[2021-08-20 19:28] MTN718 commented on #4718
# Proposal (Shane Watson from Upwork)

1. when hide marker, isMarkerActive is false,  in other word, scroll at the end, reset new marker position.
2. Add event when start typing user in the input, reset new marker position

[2021-08-20 19:33] parasharrajat commented on #4718
@MTN718 As per the contribution guidelines new contributors can only work on one job at a time. I just thought of telling you this as it will save you time.

[2021-08-20 19:34] MTN718 commented on #4718
Thanks for your notice

[2021-08-20 19:41] thesahindia commented on #4507
Sure, `openSignedInLink` will look like this after the clean-up.
[code]

[2021-08-20 19:43] parasharrajat commented on #4507
Beware, This will not work in Safari Mobile. `Linking.openURL` does not work here

[2021-08-20 19:44] marcaaron commented on #4549
Gonna drop this to weekly for now. We are adding more metrics now which should make it easier to test theories.

[2021-08-20 20:12] sumitagarwal31 opened #4770 "While registering email is not arriving for some domains"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?
e.g. memory consumption, storage read/write times, React native bridge concerns, inefficient React component rendering, et

[2021-08-20 20:15] mountiny commented on #4548
The PR has been deployed 3 days ago to `production` and no regressions have not been found on `staging` either on `production`, so I will close this issue for now.

[2021-08-20 20:15] #4548 closed

[2021-08-20 20:16] timszot commented on #4357
Any update here @Santhosh-Sellavel ? Asking since this went `Overdue`.

[2021-08-20 20:23] parasharrajat commented on #4770
@sumitagarwal31 I hope you can answer all the prompt questions and Explain what have you found. And Please update the title to show the main issue.

[2021-08-20 20:27] thesahindia commented on #4507
Oh, if this can break something then I think it's better to just leave it as it is?

[2021-08-20 20:30] sumitagarwal31 commented on #4770
@parasharrajat
Below I am writing the problem :
When a new user is trying to register, for few domains the email is not coming, is there any restrictions in the backend. If yes, then I think we should not show the message that email has been sent until and unless the email is really sent to the user

[2021-08-20 20:42] konslyp commented on #4543
That's issue because of length compare emoji length and message length. I have an idea to fix it

[2021-08-20 20:43] Santhosh-Sellavel commented on #4357
@timszot Sorry for the delayed notice. Working on it along with a couple of new items discussed [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1628782470250300) Will update the status by Monday again on progress thanks!

[2021-08-20 20:43] konslyp commented on #4543
# Proposal
My name is Konstian from Moldova.

To fix that issue, should be compare content not length of string.
Because emoji is not ascii code so there is some difference between ascii and unicode.
So it's better compare content of message and emoji content. Hope it will help.

[2021-08-20 21:02] tgolen commented on #4507
I don't think we need to worry about `Linking.openURL()` in this issue. It was already there previously, so nothing is breaking worse than it was already broken before. @parasharrajat Is there an open issue yet for fixing `openURL()` for mobile safari? If not, let's get one created.

[2021-08-20 21:09] konslyp commented on #4666
I saw project on upwork. this is still available for submit proposal or already hired someone?

[2021-08-20 21:15] mallenexpensify commented on #4267
@tgolen , I know you're swamped now, no rush on this, it's currently a `weekly', please review @aman-atg 's proposal when ya can. https://github.com/Expensify/App/issues/4267#issuecomment-888058630

[2021-08-20 21:18] deetergp commented on #4115
There has been some [discussion](https://github.com/Expensify/Expensify/issues/173677#issuecomment-900185404) about the backend for this earlier in the week. I need to spend some time digging it more, but have been a bit distracted this week. Hoping to have some time to deal with it early next.

[2021-08-20 21:18] mallenexpensify commented on #3626
Did I just bring this up in a chat this week? I thought so but not seeing here nor in Slack.  This issue happens to me many times a day and is annoying.

[2021-08-20 21:25] NikkiWines commented on #4658
@isagoico friendly bump on this. Also going to drop it down to a weekly.

[2021-08-20 21:28] tgolen commented on #4267
The proposal looks good to me. 🟢 👍

[2021-08-20 21:34] marklouisdeshaun commented on #4675
Created a job in Upwork!

Internal: https://www.upwork.com/ab/applicants/1428832340082450432/job-details
External: https://www.upwork.com/jobs/~014ccda5d494c2b148

[2021-08-20 21:34] isagoico commented on #4658
I think @muttmuure could give more info on this. Have you noticed the same excessive battery consumption lately since this was reported? I checked on my Android phone where I mostly use New Expensify and battery consumption was normal, I don't have more info on my side 😟

[2021-08-20 21:35] mallenexpensify commented on #4515
@parasharrajat , right now it's still in the triage state because Conor wasn't able to reproduce.  After triage it goes to our general Engineering pool to see if the issue can be worked on by an `External` contributor. The it's assigned to a Contributor Manager (CM) to post to upwork then a Contributor Manager Engineer (CME ) is assigned to review proposals.
Is the issue reproducible on staging an

[2021-08-20 21:37] parasharrajat commented on #4515
Yes, it is reproducible on Staging.

[2021-08-20 21:38] mallenexpensify commented on #4267
d'oh, forgot to paste the Upwork link before.  @aman-atg can you apply here plz and drop a comment in this issue once you have? https://www.upwork.com/jobs/~01fecedda11d93aa95

[2021-08-20 21:50] chiragsalian commented on #4744
Ah whoops my bad, totally missed that. Thanks for the catch and fix.

[2021-08-20 21:54] aman-atg commented on #4267
Submitted the [proposal](https://www.upwork.com/ab/proposals/1428837481227657217) on Upwork.

[2021-08-20 21:57] stitesExpensify commented on #4398
1. The paypal icon should be fine for now.

2. Adding a new var sounds good to me. I like iconExtraLarge.

3. Here's the new discover icon, much smaller!
[Discover 4.svg.zip](https://github.com/Expensify/App/files/7024265/Discover.4.svg.zip)

[2021-08-20 22:17] parasharrajat opened #4771 "Creating a new chat with another user who is not yet on NewDot shows wrong time"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
I used one of the new emails that are not yet on NewDot. And time was shown as PDT which is wrong.

## Action Performed:
1. Open NewDot.
2. Use one of the emails that hav

[2021-08-20 22:54] parasharrajat opened #4772 "Missing period from the copy on the preference page after `pinned items at top`"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Preference page on NewDot.
2. Check the copy under the Priority Mode.

## Expected Result:
 There should be a period after the full sentence

[2021-08-20 22:56] parasharrajat commented on #4772
A slack discussion where we met an agreement of adding this https://expensify.slack.com/archives/C01GTK53T8Q/p1629496662087100

[2021-08-20 23:26] MitchExpensify commented on #4486
Which issue should we run with for this? Here is the same https://github.com/Expensify/App/issues/4646#issuecomment-901500419

[2021-08-20 23:36] Smash253 commented on #4675
### UpWork Proposal

Using `vertical-align` can solve this problem. You center the box where is the placeholder. Or you can play with the box `height` to center the placeholder. `line-height` can be helpful too.

[2021-08-21 00:03] parasharrajat commented on #4606
The issue is resolved and fixed here https://github.com/Expensify/App/pull/4607

[2021-08-21 00:03] #4606 closed

[2021-08-21 00:12] parasharrajat commented on #4716
I have gone ahead pushed a PR to fix this deploy blocker. Is this issue going to be exported?

[2021-08-21 00:16] marcaaron commented on #4770
Closing as this is not a performance issue. Please open a new issue using the [standard issue template](https://github.com/Expensify/App/issues/new?assignees=&labels=AutoAssignerTriage%2C+Daily&template=Standard.md).

[2021-08-21 00:16] #4770 closed

[2021-08-21 00:25] marcaaron commented on #4745
Hmm this seems to be a duplicate issue of https://github.com/Expensify/App/issues/4737 so I am closing it.
@akshayasalvi feel free to propose your solution there if you'd like.

[2021-08-21 00:25] #4745 closed

[2021-08-21 00:35] marcaaron opened #4775 "[HOLD for payment 2021-11-04] Allow inviting multiple users to a workspace by reusing the OptionsSelector component"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:

When accessing the "Invite People" page we should be able to choose users from a list of our contacts (`personalDetails`) similar to how the Bill Sp

[2021-08-21 00:39] marcaaron commented on #4668
We were already discussing some other plans to address this issue so I'm going to close this in favor of https://github.com/Expensify/App/issues/4775. We could re-open this if there's no resolution or we decide this is something we want to do. Thanks!

[2021-08-21 00:39] #4668 closed

[2021-08-21 00:47] marcaaron commented on #4657
Puneet dropped this screenshot but there's nothing amiss. Maybe someone can capture some the next time this happens. Or we can close it eventually if it's not reported again.

![image](https://user-images.githubusercontent.com/32969087/130305239-a337063a-fbbe-41c7-aad0-53a5dc516126.png)

My hope is that it was related to a bad migration but it there could be an issue with getting logged out after

[2021-08-21 00:49] marcaaron commented on #4654
Seems the web PR is on production so going to close this one out 🎉

[2021-08-21 00:49] #4654 closed

[2021-08-21 00:50] marcaaron commented on #4656
We're still working on this one Melvin. Going to make this a weekly since this is a rolling issue that will likely have more than one solution.

[2021-08-21 00:56] parasharrajat commented on #4545
It's been 10 days since you have proposed a solution that I thought is not the best solution and I mentioned the same to you. I also continued discussion with you to help you find another instead of proposing And after being asked for a proposal you replied here https://github.com/Expensify/App/issues/4545#issuecomment-901835342 which was the same so I proposed a solution.

Please don't start on a

[2021-08-21 00:58] charbelharb commented on #4129
State update is [asynchronous](https://reactjs.org/docs/state-and-lifecycle.html#state-updates-may-be-asynchronous).
I believe what's happening is that the form (text) gets submitted before the state updates.
That's why when a user re-click inside the input it simply appends the input, because the **previous** value is still there.
A suggested fix would be using `state callback` to submit the text

[2021-08-21 01:05] parasharrajat commented on #4657
I suspect that this could be related to https://github.com/Expensify/App/issues/3136. When we try to reauthenticate via pusher, password reset is getting failed and I think this is the only part where we manually log out the user in code.

[2021-08-21 01:09] marcaaron commented on #4545
Hey @Santhosh-Sellavel,  This could probably be a bit clearer in our [contributing guidelines](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#proposing-a-job-that-expensify-hasnt-posted), but I just want to reiterate that there's **no rule against someone proposing a solution to an issue created by another**. Regardless, I think there has been some confusion here and your assignment to

[2021-08-21 01:11] marcaaron commented on #4545
@mateocole feel free to pass this over to `Engineering` or slap the `External` label if the issue looks good to ya.

[2021-08-21 01:12] marcaaron commented on #4657
Thanks for the tip! I'm trying to pull these all together now.
It would be great if we can prove this is the same issue somehow 🤞

[2021-08-21 01:21] marcaaron commented on #4513
Seems like there are some clear ideas here. Gonna move this one along.

[2021-08-21 01:27] marcaaron commented on #4484
This hasn't been looked at in 9 days and has no assignee. Bumping to daily and making it External so we do something.

[2021-08-21 01:31] marcaaron commented on #4469
This works for me on staging. I'm just gonna go ahead and close this one unless there is a clear reproduction for anyone. Something like logs of the network request error would be maybe helpful. Otherwise, let us know next time and someone can maybe check the logs to find out what caused this.

[2021-08-21 01:31] #4469 closed

[2021-08-21 01:38] marcaaron commented on #4361
This doesn't feel super urgent - but I could be missing why it's valuable.

If you are navigating to a details page with an email or reportID you don't have access to then why would we expect it to do something other than break. How did we find ourselves navigating to this page at all? Did something take you there from inside or outside the app? Or are we just handling the case where a user got cu

[2021-08-21 01:45] parasharrajat commented on #4361
Yeah, in app navigation will never led us to this use case but when someone navigate will wrong url it breaks the app.

Mostly app should handle unknown URLs so I thought it might be worth raising and keeping this in mind while next time we create a screen.

[2021-08-21 01:46] marcaaron commented on #4287
Gonna close this since it hasn't had any activity in 2 weeks.

[2021-08-21 01:46] #4287 closed

[2021-08-21 01:47] parasharrajat commented on #4469
I meant to fix the page UI here. On case request get failed we will see this UI which is bad.

For me request fails on development but fot others internet disconnectivity could be another reason.

[2021-08-21 01:48] akshayasalvi commented on #4745
Okay. Thank you.

[2021-08-21 01:48] akshayasalvi commented on #4737
I reported a duplicate issue it seems. I am proposing the following solution.

**Proposed Solution**

Add a catch block to setPassword API:

[code]

![image](https://user-images.githubusercontent.com/57435789/129980290-371ea124-30e1-41b2-8993-4e2bca80a688.png)

[2021-08-21 01:50] marcaaron commented on #4267
How accurate do we need to be? This is a chat app not an MMORPG :trollface:

[2021-08-21 01:53] marcaaron commented on #4254
Gonna close this since I don't think we're going to get to it anytime soon and if we do it might be in a design doc.

[2021-08-21 01:53] #4254 closed

[2021-08-21 01:57] Christinadobrzyn commented on #4411
Looks like Upwork job autoclosed - so reopened:

Internal posting here - https://www.upwork.com/ab/applicants/1428898063992438784/job-details
External posting here - https://www.upwork.com/jobs/~01cf17d46c45404346

Hired @mananjadhav - sorry Manan but can you let me know when you accept the hire request so I can pay you?

[2021-08-21 02:00] marcaaron commented on #3973
Gonna close this as it's not actionable right now. I feel like this could be a valuable problem to solve, but only if we are running into trouble where a `withOnyx` wrapped component needs to access a ref.

Even in that case, it might worth lifting the `withOnyx` wrapper higher in the chain if possible.

[2021-08-21 02:00] #3973 closed

[2021-08-21 02:00] marcaaron commented on #3886
This has been fixed a long time ago.

[2021-08-21 02:00] #3886 closed

[2021-08-21 02:01] mananjadhav commented on #4411
@Christinadobrzyn I just texted you on Upwork. While I did accept the current offer, I can see the old job as well in the contract. Will you take care of closing the one of them?

[2021-08-21 02:07] marcaaron commented on #2160
This is still happening. I'm not sure what we can do about it. But `Monthly` label feels wrong. It crashes at least once or twice a week for me.

[2021-08-21 02:10] marcaaron commented on #4469
Ok that's not really enough to go off of. If you've got some logs or something please post em up!

[2021-08-21 02:11] Christinadobrzyn commented on #4411
Ah thank you @mananjadhav I was able to pay you through the original job posting.

Closed the second job I created.

[2021-08-21 02:11] #4411 closed

[2021-08-21 02:12] mananjadhav commented on #4411
Thanks @Christinadobrzyn

[2021-08-21 02:14] parasharrajat commented on #2160
As far I can tell, This happens when the version info is not available here
I think we can put a check for info here.
https://github.com/Expensify/App/blob/bdcafa3444f3839d7f5de2300e258caf681a50e3/desktop/main.js#L95

[2021-08-21 02:14] marcaaron commented on #4361
Ok thanks. Gonna close this for now. If there is some case in the future where we are sending links to profiles and a user may or may not be able to access it then we can revisit a solution. It just seems a little too much of an edge case to fix right now.

[2021-08-21 02:14] #4361 closed

[2021-08-21 03:22] akshayasalvi commented on #4518
@Julesssss I somehow missed this chat and was waiting for the Upwork job. Nevertheless, I've submitted the PR. Please review.

[2021-08-21 03:58] Santhosh-Sellavel commented on #4668
@marcaaron
Hey mate,

https://github.com/Expensify/App/issues/4775
It's pretty much the suggestion to how we can addressing this issue (Original issue).
We could have had the discussion to handle it differently. But why close this issue?

[2021-08-21 07:10] laurenreidexpensify commented on #4771
OOO

[2021-08-21 07:59] SofiedeVreese commented on #4659
Hey @kakajann Can you submit your proposal via [Upwork](https://www.upwork.com/jobs/~0104471d011b7f47f4) so I can hire you through Upwork? Thanks!

[2021-08-21 08:24] aman-atg commented on #4267
Haha, haven't seen this of behaviour on any other chat app though.

[2021-08-21 08:36] shawnborton commented on #4660
I was thinking that the password hint is always there in gray, and it only changes color to red when the entered password doesn't meet the requirements. I think that's a bit more simple of an approach and doesn't need to hide/show anything.

[2021-08-21 08:45] chira37 commented on #4355
I have added the bip() function to the expensify react native fork PR was created

[2021-08-21 10:27] Santhosh-Sellavel commented on #4690
## Proposal
In here we don't pass any value `headerMessage` for `OptionsSelector` component
https://github.com/Expensify/App/blob/bdcafa3444f3839d7f5de2300e258caf681a50e3/src/pages/iou/steps/IOUParticipantsPage/IOUParticipantsRequest.js#L119-L122

We can use similar logic from here
https://github.com/Expensify/App/blob/bdcafa3444f3839d7f5de2300e258caf681a50e3/src/pages/NewChatPage.js#L131-L135

To

[2021-08-21 12:03] Santhosh-Sellavel commented on #4729
After further investigation, I found the reasons.

For all other styles which use `fontFamily.GTA_BOLD`  as `fontFamily` in `styles.js` pass along `fontWeight: fontWeightBold` so the text looks bold in all other pages as expected.
In below lines `h1` style has property  `fontWeight: fontWeightBold`, but for `h3` and `h4` we missed it out.
https://github.com/Expensify/App/blob/bdcafa3444f3839d7f5de

[2021-08-21 12:16] ahmadbaraka commented on #4129
You don't need to use `setTextInputShouldClear` at all. You need to directly clear the text from the input field and update the local field of `comment`

Why do you invoke a state change, to change a prop in your text input to finally clear it? Why don't we just use something like

[code]

With this ` onClear={() => this.updateComment('')}` is never called and we don't need it.

This class has a l

[2021-08-21 12:47] sumitagarwal31 opened #4778 "While registering email is not arriving for some domains"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

##

[2021-08-21 12:47] sumitagarwal31 commented on #4778
When a new user is trying to register, for few domains the email is not coming, is there any restrictions in the backend. If yes, then I think we should not show the message that email has been sent until and unless the email is really sent to the user

[2021-08-21 15:55] isagoico opened #4779 "Log in - Placeholder is repeating the same as the copy above"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to log in page

## Expected Result:
Placeholder text not repeating the same information as the copy above.

## Actual Result:
Placeholde

[2021-08-21 16:03] PrashantMangukiya commented on #4675
### Proposed Solution: ###

Basically when there is no focus it shows ExpensiTextInputLabel.js component. We need to update top value for expensiTextInputLabel style within src/styles/styles.js file. i.e. change top: 14 to top: 16 as under:

    expensiTextInputLabel: {
	...
        top: 16,
	...
    },

So now we moved inactive label default position 2 pt down, So to keep the active label (i.e. w

[2021-08-21 16:33] Santhosh-Sellavel commented on #4779
@isagoico there is already an issue for this here #4738

[2021-08-21 16:41] Santhosh-Sellavel commented on #4778
@sumitagarwal31 Kindly update your issue body more clearly with Action performed give examples for domains which you didn't receive emails. Add relevant attachments Actual Results. It will be helpful to understand the issue better.

[2021-08-21 17:10] Santhosh-Sellavel commented on #4645
## Proposal
To achieve this we could do the following.

1. In component `AttachmentPicker` we could introduce a new prop `type`. Like shown below
<img width="771" alt="Screenshot 2021-08-21 at 10 15 07 PM" src="https://user-images.githubusercontent.com/85645967/130329091-db2b6bf6-5319-42fd-97e8-c984578b6d4d.png">

#### For web/desktop
2. In AttachmentPicker `index.js` we can add a new method,
<img

[2021-08-21 17:22] isagoico commented on #4779
Wops I searched for it and clomoletely missed it. Closing in favour of https://github.com/Expensify/App/issues/4738

[2021-08-21 17:22] #4779 closed

[2021-08-21 20:00] meetmangukiya commented on #4543
Instead of implementing a custom half-baked single emoji detection, probably makes sense to use a library like https://github.com/orling/grapheme-splitter that implements the grapheme splitting logic as here - http://unicode.org/reports/tr29/

[2021-08-21 20:31] kakajann commented on #4659
Hi, just submitted

[2021-08-21 20:33] kakajann commented on #3885
Can we close this issue? #3414 is merged, some  regressions are fixed.

[2021-08-21 20:36] kakajann commented on #4659
Can anybody assign me? It make it easier to sort the issues that I'm working on

[2021-08-21 20:39] kakajann commented on #4762
Do you mind assigning me? It make it easier to sort the issues that I'm working on

[2021-08-21 20:49] konslyp commented on #4543
one question.. what's the database for expensify? In my experience, i used utf8mb4 charset for chat message in mysql. then message length and emoji length is same.

[2021-08-21 22:56] SofiedeVreese commented on #4659
Hired & will assign you now @kakajann

[2021-08-22 04:12] meetmangukiya commented on #4543
I think the length will be the same irrespective of the source as long as it is unicode

[2021-08-22 07:51] konslyp commented on #4543
I checked length of regex emoji match and message from api
message length is 3 and emoji length is 2

[2021-08-22 19:25] Santhosh-Sellavel commented on #4357
## Proposal
@timszot
Move the following lines to a new method let's call it `updateUnreadIndicatorPosition` (suggest new name if needed)
https://github.com/Expensify/App/blob/bdcafa3444f3839d7f5de2300e258caf681a50e3/src/pages/home/report/ReportActionsView.js#L130-L137

`updateUnreadIndicatorPosition` it's slightly modified to address other issues discussed [here](https://expensify.slack.com/archiv

[2021-08-22 19:54] Santhosh-Sellavel commented on #4718
## Proposal
Just to hide the unread message indicator when the user posts a reply. We could just reset the marker position in the below lines.
https://github.com/Expensify/App/blob/bdcafa3444f3839d7f5de2300e258caf681a50e3/src/pages/home/report/ReportActionsView.js#L192-L194

Awaiting confirmation from @MariaHCD
Do we need to disappear the unread indicator after some time?

[2021-08-22 20:08] Santhosh-Sellavel commented on #4723
## Initial Proposal
A part of the solution is already discussed here https://github.com/Expensify/App/issues/4357#issuecomment-903318440

From these lines
https://github.com/Expensify/App/blob/bdcafa3444f3839d7f5de2300e258caf681a50e3/src/pages/home/report/ReportActionsView.js#L130-L137

A method `updateUnreadIndicatorPosition` will be created.
<img width="1021" alt="Screenshot 2021-08-23 at 12 45

[2021-08-22 21:17] mananjadhav commented on #4543
Based on my findings working with the skin-tone support for Emojis #4456  and Emoji unicodes, I'll have to extend my solution given here https://github.com/Expensify/App/issues/4543#issuecomment-896714694

**Updated Proposal**

Updated the `isSingleEmoji` function:

[code]

Add a new function `getEmojiUnicode`, which takes care of surrogate emojis as well.

[code]

[2021-08-22 22:04] kadiealexander commented on #4759
Seems like a reasonable formatting change! Sending to eng for another set of eyes.

[2021-08-22 22:15] kadiealexander commented on #4484
@parasharrajat is this related at all to https://github.com/Expensify/App/issues/4759?

[2021-08-22 22:35] kadiealexander commented on #4696
Still waiting on proposals, double-checked that the links were still in the job post (they're still good).

[2021-08-22 22:56] parasharrajat commented on #4484
@kadiealexander https://github.com/Expensify/App/issues/4759 is needed to improve the parsing. But I was not able to reproduce the same behavior of this issue. There is space between pasted text but not before or after.

[2021-08-22 23:00] parasharrajat commented on #4484
After fixing https://github.com/Expensify/App/issues/4759,
I get this where I see no space.

https://user-images.githubusercontent.com/24370807/130372692-796af653-411b-43ac-b749-6c55c75678dc.mp4

[2021-08-22 23:22] kadiealexander commented on #4484
What version are you working with @parasharrajat? I just tested on version 1.0.85-9 (1.0.85-9) and I still see the white space above the message:

https://user-images.githubusercontent.com/59587260/130373230-a3d23ffe-d83f-41ea-86d5-4336f58c38a3.mp4

[2021-08-22 23:25] parasharrajat commented on #4484
Ok. I think it's specific to chrome. Let me retest.

[2021-08-22 23:25] kadiealexander commented on #4696
@Jag96 when you get a moment could you please take a look at @Santhosh-Sellavel's proposal above?

[2021-08-22 23:44] kadiealexander commented on #4484
Mine was on desktop app too, just FYI for the thread.

Thanks for helping me troubleshoot it! Will post to UW now :)

[2021-08-22 23:45] parasharrajat commented on #4484
I have found the fix as well. Preparing the proposal now.

[2021-08-23 00:12] kadiealexander commented on #4484
Upwork job: https://www.upwork.com/jobs/~01078e92ead30d76a6

[2021-08-23 03:31] Christinadobrzyn commented on #4273
Is it just me or has this issue been resolved through the implementation of another update? It seems like my chat count is accurate now.

 @timszot @mallenexpensify

[2021-08-23 06:27] dklymenk commented on #4517
@thienlnam

There aren't that many options when it comes to truly cross-platform solutions, especially if we are not using a `setInterval` to check for timezone updates every N minutes.

Sadly I couldn't find anything worthwhile when looking for some kind of global user activity event listeners for react native. The obvious approach is to try and wrap the app in `TouachableOpacity` or `TouchableWi

[2021-08-23 07:41] Christinadobrzyn commented on #4646
PR submitted! Waiting for review!

[2021-08-23 07:44] MariaHCD commented on #4718
@Santhosh-Sellavel In an existing conversation where two people are chatting, I think it would make sense to hide the unread indicator after a certain time has passed. What would be the optimal time to wait until the indicator is hidden? cc: @mallenexpensify @JmillsExpensify @AndrewGable

[2021-08-23 07:45] shawnborton commented on #3885
I think we can, yeah. This issue was referencing the old input styles as well.

[2021-08-23 07:45] #3885 closed

[2021-08-23 07:47] shawnborton commented on #4729
Okay so sounds like we just need to add fontWeightBold to the h3/h4 styles then, as we do want those headings to appear bold. Thanks for investigating!

[2021-08-23 08:09] Beamanator commented on #4489
Forgot to assign @mananjadhav since he was assigned this job 👍

Also edited title to note it's on hold (so I can not worry about it on my todo list)

[2021-08-23 08:11] Beamanator commented on #4163
Putting on hold for payment so it's clear what the current status is & so it's clear on my todo list :D

[2021-08-23 09:29] #4727 closed

[2021-08-23 09:29] Julesssss commented on #4608
Still awaiting next Apple review 🤞

[2021-08-23 09:32] Beamanator commented on #4716
I'll take over this today 👍

[2021-08-23 09:36] Santhosh-Sellavel commented on #4448
@dylanexpensify  can we close this or update the status?

[2021-08-23 09:45] Julesssss commented on #4759
Hi @parasharrajat. Love the proposal as it removes the library dependency. Please make a start when you're ready.

[2021-08-23 09:48] Julesssss commented on #4759
Whoops, I assumed I was assigned via the `Exported` label. Please hold until we reach that step 😄

[2021-08-23 10:48] Beamanator commented on #4497
Adding `Awaiting Payment` since PR was merged 4 days ago

[2021-08-23 10:56] Beamanator commented on #4711
(not overdue... discussing if this should be closed as not worth the time)

[2021-08-23 11:49] michaelhaxhiu commented on #4123
Going to send payment, as no regressions have been identified. Sorry for the wait @jsamr it's been a busy few weeks on this side :)

[2021-08-23 11:49] dylanexpensify commented on #4448
Waiting for 7 days after deploy to prod

[2021-08-23 11:50] jsamr commented on #4123
@michaelhaxhiu no worries!

[2021-08-23 11:58] Beamanator commented on #4716
@jliexpensify Just so you know, @parasharrajat already figured out the issue, created a PR, and @Julesssss and I tested it and merged it this morning. So we're hiring Rajat for the work he already did please 😅

[2021-08-23 12:05] Beamanator commented on #4701
@Julesssss and I approved and merged @https://github.com/Expensify/App/issues/4716 - but I forgot to add `CP Staging` :O - @roryabraham @AndrewGable can one of y'all manually CP this? Didn't see these instructions in [this SO](https://stackoverflow.com/c/expensify/questions/8677/8678#8678)

[2021-08-23 13:06] NicMendonca commented on #4664
@mananjadhav hired in Upwork!

[2021-08-23 13:14] Dal-Papa commented on #4717
I think this is a feature, not a bug. We reduce the images to 1024 and I think we don't show the originals.

[2021-08-23 13:14] #4717 closed

[2021-08-23 13:47] Beamanator commented on #4671
FYI I'm also going to use this issue for testing webhook stuff - hope you don't mind! :D

[2021-08-23 14:01] michaelhaxhiu commented on #4541
@mananjadhav really sorry for the delay here, we had a super busy week and I'm just getting around to this. Thanks for your patience.

You are hired on Upwork and can begin work on this!

[2021-08-23 14:10] dylanexpensify commented on #4669
@roryabraham I'll send offer to @parasharrajat !

[2021-08-23 14:11] dylanexpensify commented on #4669
Offer sent!

[2021-08-23 14:28] mountiny commented on #4671
@Beamanator Absolutely no way! Make you own issue 😡 This is mine!

Of course, feel free haha :)

[2021-08-23 14:53] timszot commented on #4273
If it's not occurring anymore from the people who reported it, then I say we can close and reopen if needed. Will wait and see if @mallenexpensify is still experiencing it as I have not seen this bug myself.

[2021-08-23 15:00] botify commented on #4671
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1140313603) to production by @nobody in version: 1.0.85-9 🚀

 platform | result
 ---|---
🤖 android 🤖|failure ❌
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-08-23 15:01] botify commented on #4671
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1140313603) to production by @nobody in version: 1.0.85-9 🚀

 platform | result
 ---|---
🤖 android 🤖|failure ❌
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-08-23 15:08] botify commented on #4671
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-08-23 15:08] botify commented on #4671
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release. (2)

[2021-08-23 15:19] timszot commented on #4357
@Santhosh-Sellavel A PR shouldn't be opened until you've proposed a solution and have been hiring in Upwork. On that note... @jliexpensify let's hire @Santhosh-Sellavel for this one!

[2021-08-23 15:29] isagoico commented on #3297
Issue is fixed 🎉 Should we close this?

[2021-08-23 15:30] isagoico commented on #3901
Issue reproducible during KI retests

[2021-08-23 15:30] isagoico commented on #4623
Issue reproducible during KI retests

[2021-08-23 15:31] isagoico commented on #4622
Issue not reproducible during KI retests (Fixed)

[2021-08-23 15:31] mountiny commented on #3297
Have the testers made sure the other deeplinks work correctly? They probably did, but it is very important to make sure as we have updated format of the file for iOS, which enables deeplinks.

[2021-08-23 15:31] isagoico commented on #4711
Issue reproducible during KI retests

[2021-08-23 15:31] isagoico commented on #4752
Issue reproducible during KI retests

[2021-08-23 15:32] Santhosh-Sellavel commented on #4357
@timszot I'm quite aware of that rule, thanks!

[2021-08-23 15:34] MTN718 commented on #3901
You mean issue again from PR?

[2021-08-23 15:41] Jag96 commented on #4762
Proposal accepted, assigned

[2021-08-23 15:46] isagoico commented on #2499
When retesting this. I noticed that if you zoom in the picture first, then you're able to use the pinch gesture to zoom in and out, but when you return the picture to the original size the pinch gesture won't work

https://user-images.githubusercontent.com/44479856/130476765-07484610-67c6-498e-a48b-6c1a4a2252e5.mp4

PD: Enjoy the pic of my chair stealing cats, I just have to leave the chair to get

[2021-08-23 15:46] isagoico commented on #4625
Issue reproducible during KI retests

[2021-08-23 15:50] isagoico commented on #4717
@Dal-Papa is it expected that the pictures are sometimes uploaded with a better resolution and sometimes with the behaviour described in this issue?

[2021-08-23 15:51] michaelhaxhiu commented on #4623
I was swamped with internal priorities last week, will fast track this in a few minutes  (sorry!)

[2021-08-23 15:53] mananjadhav commented on #4541
@michaelhaxhiu I am currently working on a PR. I'll get to it as soon as that one is done. Hope that's fine.

[2021-08-23 16:03] mananjadhav commented on #4623
I've found the root issue and I've added a fix in PR #4456 as I thought the issue was due to my changes in skintone. You can check https://github.com/Expensify/App/pull/4456#issuecomment-903328156 and commits https://github.com/Expensify/App/pull/4456/commits/4fcc4ec365a2c06f9588b2ffbf12e926900ca4de onward as proposal.

[2021-08-23 16:11] MitchExpensify commented on #4612
[Upwork job](https://www.upwork.com/jobs/~01a10d83f7e4a593b9)

[2021-08-23 16:21] Jag96 commented on #4355
@chira37 please ensure you've read through the slack thread, and please refrain from making PRs until your proposal has been accepted.

From the [slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1627669368027700), the current `vibrate` function does not allow for any customization on iOS, and the vibration on Android is not the vibration we want. The `bip` function should make use o

[2021-08-23 16:33] aldo-expensify commented on #4615
In my opinion, this can be performed by an external because it seems to be only UI stuff

[2021-08-23 16:41] MitchExpensify commented on #4771
I am unable to reproduce this. I don't see any times showing when starting a conversation with accounts that have yet to sign up to Expensify:

![image](https://user-images.githubusercontent.com/36425901/130485033-9fb9f739-46bb-4d18-aca8-65204057af80.png)

[2021-08-23 16:42] roryabraham commented on #3901
PR is not merged yet, but I just re-reviewed it.

[2021-08-23 16:46] jboniface commented on #4513
job posted [here](https://www.upwork.com/jobs/~0161bfebf1a9ac3b75)

[2021-08-23 16:46] mallenexpensify commented on #4497
For future issues @Beamanator The `Awaiting payment` label will be auto-added once the PR is deployed to production. We [made an update on Friday](https://expensify.slack.com/archives/C01GTK53T8Q/p1629487671080600) that we'll be paying 7 days after production instead of merge. For existing  open issues we'll pay 7 days after merge, updating title too

[2021-08-23 16:47] isagoico commented on #3297
@mountiny So we double checked iOS and it's working as expected.

https://user-images.githubusercontent.com/44479856/130485544-497c1eac-20b0-43cf-ab6d-5f619e1c2fee.MP4

Out of curiosity I double checked in Android too and the issue is still happening there 😟

[2021-08-23 16:49] thienlnam commented on #4517
@dklymenk Thanks for the great write-up! I agree with you having a combination of 1 and 5 here will cover enough cases and is the closest thing the cross-platform we can get here.  Let's go ahead with that solution

[2021-08-23 16:52] MitchExpensify commented on #4486
PR submitted for the issue linked above. Closing this

[2021-08-23 16:54] isagoico commented on #4701
Checking off several PRs that were added due to the CP issue:
1. https://github.com/Expensify/App/pull/4414
2. https://github.com/Expensify/App/pull/4519
3. https://github.com/Expensify/App/pull/4637
4. https://github.com/Expensify/App/pull/4647
5. https://github.com/Expensify/App/pull/4688
6. https://github.com/Expensify/App/pull/4689
7. https://github.com/Expensify/App/pull/4691
8. https://githu

[2021-08-23 16:55] mananjadhav commented on #4486
@MitchExpensify These two are separate issues. This one is about adding system users to groups and chats, whereas that was related to workspaces.

[2021-08-23 16:59] kevinksullivan commented on #4730
@aldo-expensify should this have closed?

[2021-08-23 17:03] michaelhaxhiu commented on #4499
Is this awaiting copy input from @puneetlath or @Expensify/marketing?

[2021-08-23 17:14] mananjadhav commented on #4499
@michaelhaxhiu  We're awaiting a copy from the marketing team for one button.

![129559960-96e73d6c-1bef-42f5-afaf-265c6f06956a](https://user-images.githubusercontent.com/3069065/130488969-0ea98813-bdb8-4b8a-8d97-988aa2ff4dee.png)

[2021-08-23 17:16] michaelhaxhiu commented on #4499
Right! But I see Puneet was assigned via the `waiting for copy` label [above](https://github.com/Expensify/App/issues/4499#issuecomment-902130960), and so just trying to make sure next steps are clearly assigned to the marketing team or puneet :)

[2021-08-23 17:17] kevinksullivan commented on #4730
You should be able to get to this step on mobile/desktop using the same information in (3) of this SO

https://stackoverflow.com/c/expensify/questions/342

[2021-08-23 17:20] kevinksullivan commented on #4748
Hm yeah every field is required, and we should be highlighting every field that has an error when someone tries to move forward. @aldo-expensify does [your PR](https://github.com/Expensify/App/pull/4741) also fix this issue and show the error message for ALL field errors, or should we create a separate one?

[2021-08-23 17:22] mananjadhav commented on #4499
Can you help assigning it to the marketing team? PR is ready for a week and we're left with 1 copy only.

[2021-08-23 17:28] michaelhaxhiu commented on #4499
Yep, working on it! As a note, this has been an abnormal past ~2 weeks with regards to internal priorities so we really appreciate your patience @mananjadhav.

[2021-08-23 17:30] rosegrech commented on #4499
I can help hopefuly. What about the button that needs reviewing?

[2021-08-23 17:33] marcaaron commented on #4267
Do you often chat with _yourself_ when using these other chat apps? To be clear, I don't mind fixing this, but seems unlikely anyone would notice unless they were searching for flaws. I just wonder how many real users would notice or care.

[2021-08-23 17:35] mananjadhav commented on #4499
Thanks, @rosegrech for helping out. We have the following grey + button where I've added the translations as: `en: Actions, es: Acción`. Need your help to review it or provide better copy.

![129559960-96e73d6c-1bef-42f5-afaf-265c6f06956a](https://user-images.githubusercontent.com/3069065/130491508-367d5224-c3fa-44b0-9a8c-5dca437ea164.png)

[2021-08-23 17:37] michaelhaxhiu commented on #4541
Yep no problem @mananjadhav. Let's have @Luke9389 review your proposal from [above](https://github.com/Expensify/App/issues/4541#issuecomment-896636091) before you start on the PR.

[2021-08-23 17:39] michaelhaxhiu commented on #4541
friendly note - I edited my comment above to include a small ask for you 🙏

[2021-08-23 17:40] rosegrech commented on #4499
Ok cool @mananjadhav thanks for that. So when they click on the grey button either

(Action or AAcción) will appear. Then what happens?  Sorry this is hard for me as I am trying to see the bigger picture. It sounds like this is related to when someone downloads the app? Or is this when they are in the actual chat app?

[2021-08-23 17:43] roryabraham commented on #4701
Yessir

[2021-08-23 17:43] mananjadhav commented on #4499
With the click of the + button, this is what opens. (Attached video)

https://user-images.githubusercontent.com/3069065/130492750-d543826c-3319-4c4c-ae9f-e172192d0575.mov

[2021-08-23 17:44] MitchExpensify commented on #4486
ah I see, thanks @mananjadhav! Creating the job in Upwork now

[2021-08-23 17:44] mallenexpensify commented on #4273
I'm back to what I think is _normal_
![image](https://user-images.githubusercontent.com/22508304/130492786-ffc57489-6f52-4d4a-926f-be3b838e5af5.png)

will close, we can reopen this or create a new one if/when needed

[2021-08-23 17:44] #4273 closed

[2021-08-23 17:45] michaelhaxhiu commented on #4499
@rosegrech this + symbol lives here, in New Expensify. If you click it, it provides two options:

- Add Attachment
- Request Money

![image](https://user-images.githubusercontent.com/13206896/130492583-1f075de3-634d-4217-b73d-56593b28be10.png)

So we are looking to add the appropriate copy for the tooltip that's generated when a user hovers over it with their cursor.

[2021-08-23 17:45] aldo-expensify commented on #4730
Hey @kevinksullivan , I think this should be closed, the problem was fixed in the PR: https://github.com/Expensify/App/issues/4748

I would suggest opening a new issue/pr if we wanted to work on the show all error messages at the same time stuff.

[2021-08-23 17:47] aldo-expensify commented on #4748
That PR doesn't address the part of showing all field errors. I suggest creating a new issue and then I can work on a PR against that

[2021-08-23 17:48] marcaaron commented on #4660
Got it, nice. That works too :)

[2021-08-23 17:48] thienlnam commented on #3867
@kidroca This proposal looks great - I agree that we should be using the best storage handling for each platform and encapsulating it through Oynx.  If possible, let's explore this with a POC and see how this would work within Oynx

[2021-08-23 17:48] MitchExpensify commented on #4486
[Upwork job](https://www.upwork.com/jobs/~016218573145eb098a)

[2021-08-23 17:50] roryabraham commented on #4729
This looks good and a cursory search revealed that it doesn't appear to be a duplicate. Going to tag this as external so that we can get @Santhosh-Sellavel hired to make this change.

[2021-08-23 17:50] rosegrech commented on #4499
Ah ok hovering over it. Awesome, sorry it's hard jump in  the middle of these things sometimes. Great work!

[2021-08-23 17:51] rosegrech commented on #4499
Sounds like all the other stuff was handled? Let me know otherwise if anything else is needed from marketing.

[2021-08-23 17:52] aldo-expensify commented on #4754
I understand that we may replace the component in the future (external library?) that we use to display comments in reports: https://github.com/Expensify/Expensify/issues/162811

Do we still want to fix this? Maybe it will just go away with the new implementation.

[2021-08-23 17:52] roryabraham commented on #4729
@marklouisdeshaun Let's get an Upwork job created for this, then hire @Santhosh-Sellavel.

@Santhosh-Sellavel Feel free to submit a PR once you've been hired on Upwork.

[2021-08-23 17:53] kevinksullivan commented on #4667
@Santhosh-Sellavel posted

https://www.upwork.com/jobs/~01a314068865d84f39

[2021-08-23 17:53] marcaaron commented on #4668
Closed to avoid confusion and unnecessary work by doing a temporary change instead of the larger one we are already planning.

[2021-08-23 17:55] kevinksullivan commented on #3855
Waiting on proposal from @anthony-hull

[2021-08-23 17:57] roryabraham commented on #4487
@jboniface Let's hire @mananjadhav for this so he can get started implementing the solution 👍

[2021-08-23 17:57] mananjadhav commented on #4499
Yeah, all the other actions were handled. So we're good to go ahead with `en: Actions, es: Acción` ?

[2021-08-23 18:02] thienlnam commented on #4667
@Santhosh-Sellavel 🟢 on your proposal, could you please apply for the upwork job?

[2021-08-23 18:03] jamesdeanexpensify commented on #4499
Late here, but do we _need_ to say anything for the hover? It's clear it's a button, and if you click it, it will do something. Wanted to check if this is absolutely necessary here. It seems rather intuitive and like a hover note isn't required. Just my two cents.

[2021-08-23 18:03] kevinksullivan commented on #4730
but the relevant PR is not deployed, correct @aldo-expensify ?

https://github.com/Expensify/App/pull/4741

[2021-08-23 18:07] stitesExpensify commented on #4623
@michaelhaxhiu can we just hire @mananjadhav since he fixed this in another issue?

[2021-08-23 18:11] aldo-expensify commented on #4730
oh, yes, you are right

[2021-08-23 18:13] rosegrech commented on #4499
I think it's nice to have so why not?

[2021-08-23 18:13] rosegrech commented on #4499
Especially since we have two plus signs in that space.

[2021-08-23 18:13] michaelhaxhiu commented on #4499
@jamesdeanexpensify just my 2 cents: the main ask of this GH is to add tooltip labels to any actions/buttons. While I agree that it feels intuitive as-is, I think we should add labels across the board for accessibility standardization.

@mananjadhav for comparison, what do we use for the green plus symbol right now?

[2021-08-23 18:18] michaelhaxhiu commented on #4623
Yup :) https://www.upwork.com/jobs/~01ca8df11240eda9f2

[2021-08-23 18:18] Jag96 commented on #4696
@Santhosh-Sellavel your updated proposal looks good on web, one thing I noticed on mobile is that the indicator is pretty close to the top, maybe we can add update the style to ensure it looks good on mobile as well? Tagging @Expensify/design to confirm we'd want to add more space:

<img src='https://user-images.githubusercontent.com/3981102/130495969-0a15479f-aa21-4644-977a-4d0be23e090c.png' widt

[2021-08-23 18:19] mananjadhav commented on #4499
Our current tooltip implementation doesn't support `absolute` positioned elements. Hence based on this comment. Green + (FAB), we haven't added a tooltip. I had asked for an opinion for opening both these button menus on hover, but I didn't receive any takers for the approach.

https://github.com/Expensify/App/issues/4499#issuecomment-900193917

[2021-08-23 18:28] tylerkaraszewski commented on #4752
I don't understand this issue. Are we saying the size of the symbol for Vietnamese dong is too small in the dropdown list?

[2021-08-23 18:30] chiragsalian commented on #4675
Nice, Yeah i like your proposal @PrashantMangukiya since its the most descriptive, you've tested it well and it looks good to me.

@marklouisdeshaun can you hire @PrashantMangukiya in upwork.
 @PrashantMangukiya feel free to create the PR.

[2021-08-23 18:33] kevinksullivan opened #4785 "Not all errors are outlined in the VBA flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to /bank-account/company or any other step in the VBA flow
2. Enter incorrect information in all fields
3. Press Enter key

## Expected

[2021-08-23 18:33] michaelhaxhiu commented on #4623
Hired.

[2021-08-23 18:34] kevinksullivan commented on #4748
Separate issue for not outlining all errors ^

[2021-08-23 18:36] roryabraham commented on #4646
@mallenexpensify I want to run some copy by marketing that I was iffy about. Some context: we want to prevent users from being able to invite `chronos@`, `receipts@`, `concierge@` to a workspace. If they enter one of those account emails, this is what we show them:

I worry that this is not a consumer-friendly error. Is it obvious what a "system user" is? Can you suggest an alternative? Maybe just

[2021-08-23 18:37] NikkiWines commented on #4407
Yep, this looks like it's fine for UpWork 👍

[2021-08-23 18:40] michaelhaxhiu commented on #4623
@timszot you'll notice @mananjadhav's already has a fix in the works via this PR https://github.com/Expensify/App/pull/4456

[2021-08-23 18:42] roryabraham commented on #4701
Sorry, that was careless of me. https://github.com/Expensify/App/issues/4716 is an issue, not a pull request, so it can't be CP'd. @Beamanator did you mean https://github.com/Expensify/App/pull/4774 (the PR that resolved https://github.com/Expensify/App/issues/4716)?

[2021-08-23 18:42] roryabraham commented on #4701
Feel pretty confident that's what you meant so I'm going to CP https://github.com/Expensify/App/pull/4774

[2021-08-23 18:44] Beamanator commented on #4701
Yes sorry that's what I meant!

[2021-08-23 18:46] michaelhaxhiu commented on #4678
Posted to upwork just now, and added job link in GH body.

[2021-08-23 18:48] roryabraham opened #4788 "Failed CP workflow does not ping in #announce"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Attempt to CP an issue instead of a PR 🤦

## Expected Result:
When the workflow inevitably fails, it should announce the failure in the #announce sl

[2021-08-23 18:48] roryabraham commented on #4788
Example: https://github.com/Expensify/App/actions/runs/1159658147

[2021-08-23 18:49] roryabraham commented on #4701
https://github.com/Expensify/App/pull/4774 is being CP'd to staging [here](https://github.com/Expensify/App/actions/runs/1159841601)

[2021-08-23 18:50] marcaaron commented on #4129
@ahmadbaraka Thanks for your proposal. I tested on iOS and the issue still persists.

@charbelharb Sorry this doesn't fix it.

[2021-08-23 19:05] iwiznia commented on #4744
This is merged already Melvin

[2021-08-23 19:26] marcaaron commented on #4785
I have some time and can grab this.

[2021-08-23 19:37] marcaaron commented on #4785
At the moment there is a growl that shows a single message. When there are multiple messages what is it supposed to say?

[2021-08-23 19:42] thienlnam commented on #3381
Hey @azimgd, do you have any updates on this issue?

[2021-08-23 19:44] thienlnam commented on #4601
Just merged the PR this morning, will be going on the next staging deploy

[2021-08-23 19:45] mallenexpensify commented on #4646
Yes I agree that

and `Using whichever invalid email is found first.` is the best approach.  I don't think we need to provide additional details on why they're not allowed.

[2021-08-23 19:56] johnmlee101 commented on #4110
I wouldn't add any extra styling to the iPad, but keep the generalized solution that fixes the reported issue, if that makes sense

[2021-08-23 19:59] aldo-expensify commented on #4754
Removing DeployBlockerCash: Tested this in production/Android and the problem is also there.

[2021-08-23 20:00] MirFahad58 commented on #4678
<img width="1292" alt="Screenshot 2021-08-24 at 12 48 30 AM" src="https://user-images.githubusercontent.com/31244700/130510117-adc7d397-5a3b-4b70-964e-fa1f60b7e8f9.png">

As shown in the picture, I suggest we can fix this by placing it above the text input not at the centre in a fixed position.
reasons:
1 - on smaller screens fixed positions (which is the centre) will be under the keyboard. so it

[2021-08-23 20:03] aldo-expensify commented on #4754
Dropping this for now.

[2021-08-23 20:04] mountiny commented on #3297
@isagoico Just to double check, that is being tested on Android `8.5.26.16`, right? (sorry I read about the Mobile app QA process just now, but wanted to make sure I understand how it works)

[2021-08-23 20:07] Santhosh-Sellavel commented on #4696
@Jag96 Any thoughts on this? Can we skip it now?

[2021-08-23 20:15] chiragsalian commented on #4435
Yup, i can reproduce the issue when i request for money within the chat. Previously i had only tried it via the big green one. Cool, looks like a real issue.

I like @parasharrajat, @mallenexpensify can you hire him on upwork.
@parasharrajat, feel free to create the PR.

[2021-08-23 20:17] Santhosh-Sellavel commented on #4696
@kadiealexander @Jag96  Applied for the job on Upwork, thanks!

[2021-08-23 20:17] mallenexpensify commented on #4407
Posted to Upwork https://www.upwork.com/jobs/~01f40ebf66a38fb1f7
@pecanoro , can you review @aman-atg 's proposal above?
https://github.com/Expensify/App/issues/4407#issuecomment-892634813

[2021-08-23 20:20] mallenexpensify commented on #4417
@aman-atg as [mentioned in #expensify-open-source](https://expensify.slack.com/archives/C01GTK53T8Q/p1629387832034200), we have some internal priorities that are taking up a lot of time, @johnmlee101 should have an update soon

[2021-08-23 20:22] Santhosh-Sellavel commented on #4668
Thanks for clarifying, @marcaaron. Just one more thing, will I get credit for this issue? Since I pointed it earlier will I get a chance to work on  #4775  post design phase?

[2021-08-23 20:26] Jag96 commented on #4696
I think we can skip updating the Nav Header for this issue, I will defer to @MitchExpensify about the copy change and I'll defer to @Expensify/design regarding the spacing on the top on mobile. Once we get clarification on those 2 items you're good to move forward with a PR. cc @kadiealexander

[2021-08-23 20:30] ahmadbaraka commented on #4129
@marcaaron I'm confident my solution works. Maybe you there are other changes. I can provide a video if that helps.
Is there a reason you think this solution doesn't make sense?

[2021-08-23 20:30] mallenexpensify commented on #4718
Taking this over as the Contributor Manager for Mills.

Yes, I looked around to see how long that might have been but can't find, my hunch is that it should disappear after 2-3 seconds.

Also, [as mentioned in #expensify-open-source,](https://expensify.slack.com/archives/C01GTK53T8Q/p1629387832034200) we have some competing priorities that'll likely continue through the week so @AndrewGable might

[2021-08-23 20:34] Santhosh-Sellavel commented on #4667
@thienlnam @kevinksullivan Applied for the job on Upwork.

[2021-08-23 20:41] Santhosh-Sellavel commented on #4729
Sure @roryabraham, thanks!

[2021-08-23 20:46] marcaaron commented on #4668
Contributors are eligible for a bonus if they report an issue, get their proposal to work on the issue accepted, and successfully merge a fix without regressions. So yes, feel free to try to ask for a bonus if you are assigned to work on this issue.

[2021-08-23 20:47] marcaaron commented on #4668
No, pointing out an issue does not guarantee that you will be selected to work on that issue.

[2021-08-23 20:48] marcaaron commented on #4668
https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#proposing-a-job-that-expensify-hasnt-posted

[2021-08-23 20:55] marcaaron commented on #4129
Tested it on a hardware device (iPhone) and it didn't work.

[2021-08-23 20:57] Santhosh-Sellavel commented on #4668
Thanks @marcaaron understood! I'm aware that I should propose an acceptable solution to get the credit. Once the design phase is complete I'll submit a proposal there #4775

[2021-08-23 20:58] Santhosh-Sellavel commented on #4775
Just commenting here to follow this discussion!

[2021-08-23 20:59] deetergp commented on #4543
Reviewing these proposals now…

[2021-08-23 21:00] mallenexpensify commented on #4435
@chiragsalian , since @aman-atg created the issue, we often them allow them "first dibs" to have their proposal reviewed.  Can you confirm that you've reviewed @aman-atg [proposal above](https://github.com/Expensify/App/issues/4435#issuecomment-893839021) and, if you choose to not go with it, provide a synopsis of why not?  Thx

[2021-08-23 21:00] ahmadbaraka commented on #4129
@marcaaron what exactly did you test? As I mentioned there are a bit more changes to complete the solution but this is the root cause. Changing the state is asynchronous thus it would delay clearing the box. Clearing the input box directly would fix the issue. If you would like to solve the issue please proceed with an offer to submit the PR then if the submitted solution still doesn't fix the bug

[2021-08-23 21:12] marcaaron commented on #4129
This is what I tested. I removed the messy `setTextInputShouldClear()`, cleared via a `ref`, and the issue persisted.

It's my task to review these proposals. Maybe you can explain your solution a bit more?

[2021-08-23 21:15] chiragsalian commented on #4435
Oh hahaha, I just realized I didn't complete my thought earlier and just wrote,

😂  😂

Lol, i meant to say,

[2021-08-23 21:19] ahmadbaraka commented on #4129
@marcaaron it's not fair to ask to submit a full solution without even starting a contract. Please respect my time as I respect yours.

I'm not exactly sure what you have tested.

To recap, changing the state of the component then passing props to the input field to finally clear the field, then resetting the flag is the reason for the delayed clearing thus user can still type quickly. The solutio

[2021-08-23 21:20] arielgreen commented on #4759
Posted [job](https://www.upwork.com/jobs/~017db914e1635d0507) and invited @parasharrajat.

[2021-08-23 21:23] kidroca commented on #3867
Alright, I'll prepare a POC that stores and displays an image with Onyx

[2021-08-23 21:47] deetergp commented on #4543
Interesting. It appears to work correctly on Web, but not on mWeb.

### Web
<img width="349" alt="Screen Shot 2021-08-23 at 2 26 09 PM" src="https://user-images.githubusercontent.com/766197/130521594-726fb5ea-a838-41fc-90e6-ebf915b64701.png">

### mWeb
<img width="345" alt="Screen Shot 2021-08-23 at 2 27 46 PM" src="https://user-images.githubusercontent.com/766197/130521787-f47c69b0-1fcb-4d6a-939a

[2021-08-23 21:48] AndrewGable commented on #3737
Still on hold @MelvinBot

[2021-08-23 21:49] kakajann commented on #4660
@shawnborton That was my proposal 😄

[2021-08-23 22:05] AndrewGable commented on #4718
How long does Slack's notification indicator appear for?

[2021-08-23 22:20] aldo-expensify commented on #4785
Maybe if there is more than one error the growl could change to a generic message like: 'There are errors in the form'

[2021-08-23 22:20] aldo-expensify commented on #4748
thanks @kevinksullivan

[2021-08-23 22:31] marcaaron commented on #4129
Thanks for the feedback. We understand this arrangement doesn't work for everyone, but our current policy is to approve proposals only when an internal engineer agrees that it's the best way forward.

[2021-08-23 22:33] marcaaron commented on #4785
Thanks @aldo-expensify I hashed this out with @kevinksullivan 1:1 and forgot to update here.

We are going to get rid of the growls since they don't add anything that is not achieved by the inline error message + confirm modal.

[2021-08-23 22:34] Luke9389 commented on #3798
Just leaving a quick comment here to shake the `Overdue` label off of this issue. No internal progress on this just yet.

[2021-08-23 22:36] aldo-expensify commented on #4785
makes sense! 👍

[2021-08-23 22:36] ahmadbaraka commented on #4129
Is there feedback on the video I shared? Is it different than what you have experienced?

[2021-08-23 22:43] puneetlath commented on #2734
@anthony-hull just curious how this is going.

[2021-08-23 22:46] marcaaron commented on #4129
Thanks, I don't have any at this time. Did you verify your solution will fix the issue on iOS based hardware?

[2021-08-23 22:48] puneetlath commented on #4629
Updated price to $2000.

[2021-08-23 22:49] isagoico commented on #4752
The main issue is that the currecies mentioned above dont use the same font family as the rest of the app.

[2021-08-23 22:51] marcaaron commented on #4785
@kevinksullivan, this issue is made _somewhat_ complicated by the fact that some of these errors are also coming from the server and they aren't translated at all (which we should probably fix). I'm not sure if we want to prioritize those or not. But shouldn't be too bad to come up with a solution.

[2021-08-23 22:58] marcaaron commented on #4785
Another question about this...

Presently, since there is only one error we only need to worry about clearing a single error when that field is "touched" (a.k.a. value is changed).

Now that we will show multiple errors - what should we do when just one of them is "touched"? I'm not sure if the original intention when we added the inline errors was to have them clear on touch or not (but we did th

[2021-08-23 22:58] jliexpensify commented on #4716
Nice, thanks for the heads up. Will tag Rajat once the issue is up!

[2021-08-23 23:00] AndrewGable commented on #4608
<img width="1404" alt="Screen Shot 2021-08-23 at 5 00 20 PM" src="https://user-images.githubusercontent.com/2838819/130530030-20552441-3ceb-4fb2-af16-657815cce1ac.png">

Did we ever submit a new version?

[2021-08-23 23:01] Santhosh-Sellavel commented on #4718
I don't know I waited a minute scrolled up & down it doesn't disappear. After switching to a different chat it disappeared.

[2021-08-23 23:01] Luke9389 commented on #3952
Ok @parasharrajat, you've got the Green 🟢 Light to start your PR. Thanks 👍

[2021-08-23 23:03] jliexpensify commented on #4716
Created a job in Upwork! cc @parasharrajat

Internal: https://www.upwork.com/ab/applicants/1429942070913818624/job-details
External: https://www.upwork.com/jobs/~013a48ac94f89e06ae

[2021-08-23 23:04] parasharrajat commented on #4718
I don't think we have to do this ATM or it is such a priority thing yo do. just throwing my 2️⃣ cents.

[2021-08-23 23:06] jliexpensify commented on #4357
Hired @Santhosh-Sellavel , then Upworks crashed:

![image](https://user-images.githubusercontent.com/30815269/130530483-6a40e87d-76e3-4280-8fd9-39b1ad81f930.png)

Let me know if you didn't receive an offer, and I'll look into it further!

[2021-08-23 23:06] parasharrajat commented on #4716
I have applied. Please assign me this issue. Thanks.

[2021-08-23 23:10] kevinksullivan opened #4794 "VBA flow went to blank screen at bank-account/company step"
## Action Performed:
1. Create Workspace on NewDot
2. Select `Get Started` on Expensify Card tab
3. Fill in company info using info in (3) in [this SO](https://stackoverflow.com/c/expensify/questions/342)
4. After entering company info, get an error to check information again
5. Submit company info again, arrive at blank screen

## Expected Result:
At step 5 I would've failed some check, and a con

[2021-08-23 23:12] marcaaron commented on #4785
Errors in question:

https://github.com/Expensify/Web-Secure/blob/0396dc03542de0db071b0db2ba7c2e7c732de5c1/lib/BankAccountAPI.php#L994-L1000

[2021-08-23 23:15] parasharrajat commented on #4543
I would like to point out that there is a big Regex in CONST.js. If someone likes to take an arithmetic approach without regex then please don't forget to remove it. Personally, I know that we don't need that regex.

[2021-08-23 23:18] parasharrajat commented on #3952
Please assign this issue to me.

[2021-08-23 23:18] Santhosh-Sellavel commented on #4357
Got offer @jliexpensify

[2021-08-23 23:23] Luke9389 commented on #4541
👋 Hey @mananjadhav, I'll be your resident Engineer for this issue. A few things before we get started.
1. Please don't leave proposals on an issue that has not been posted to Upwork.
2. When creating an issue, please tell us what platforms the issue is occurring on. The Platform section of the template for issues is there for a reason 😄
    a) Have you tested this on multiple devices?
    b) Which

[2021-08-23 23:23] Santhosh-Sellavel commented on #4718
<img width="792" alt="Screenshot 2021-08-24 at 4 52 20 AM" src="https://user-images.githubusercontent.com/85645967/130531736-41241390-2989-4117-bfd8-4e3301130aeb.png">

It does not get removed after posting a reply too!

[2021-08-23 23:24] AndrewGable commented on #4718
@mallenexpensify any thoughts on this after some research on how slack does this?

[2021-08-23 23:24] kakajann commented on #4775
I can work on this if you decide how the user interface should look. I have experience with `OptionsSelector` and `OptionsListUtils.js` in #2818

[2021-08-23 23:45] ahmadbaraka commented on #4129
Unfortunately, this seems to be not getting us any where. I have withdrawn my proposal. I am ok to do a bit of investigation to find the root cause and share it with you  but then I would expect you to understand the solution and figure out if that makes sense or not. And if you agree  it's the right way to go then we could start a contract to start working on a complete solution, and finally if t

[2021-08-23 23:50] isagoico commented on #4730
Reopening this since we found an issue when retesting the fix https://github.com/Expensify/App/pull/4741#issuecomment-904075947

[2021-08-23 23:58] cead22 commented on #4702
I missed this assignment but I was able to reproduce. Looking to see if this can be sent to external contributors

[2021-08-24 00:07] kavimuru commented on #4730
## Error message is not displayed for all the fields if multiple fields have incorrect information entered
## Expected Result:
The fields which are all have incorrect information should have error message with red border
## Actual Result:
Only for the zip code it displays error message, After the zip code field is fixed and clicking Submit next field throws error message.
Also there is no error me

[2021-08-24 00:23] parasharrajat commented on #4702
Ok, I have found the issue.
Here this code sets the HTML as the last message text which should be text.
https://github.com/Expensify/App/blob/27b1c52cbe461144e836fbce22fbdc55a87ba4b1/src/libs/actions/Report.js#L528

[2021-08-24 00:24] cead22 commented on #4702
There's some context here https://expensify.slack.com/archives/C03TQ48KC/p1629763222295200

[2021-08-24 00:25] aldo-expensify commented on #4785
This issue came back to life and there is a comment requesting the same changes that this issue is addressing: https://github.com/Expensify/App/issues/4730#issuecomment-904217825

IMH, that issue which is a DeployBlockerCash shouldn't include those changes because it is not a regression. I understand that the app was showing the error one by one before.

[2021-08-24 00:26] marcaaron commented on #4785
Ah yes, good eye @aldo-expensify thanks! I agree not a deploy blocker since we know this behavior should not work yet.

[2021-08-24 00:27] marcaaron commented on #4730
@aldo-expensify has brought to our attention that the multiple errors should not be expected yet. We are still implementing it so we can remove the deploy blocker label.

[2021-08-24 00:28] aldo-expensify commented on #4730
I'll investigate what's the problem with the android version, it is not working there, right?

[2021-08-24 00:39] marcaaron commented on #4730
Ok I think this is a blocker actually after talking to @aldo-expensify. 😂

Android is failing for some reason so we must figure that out first ?
https://github.com/Expensify/App/runs/3403823191?check_suite_focus=true#step:12:1483

This comment is not a blocker and is being handled in https://github.com/Expensify/Expensify/issues/174749
https://github.com/Expensify/App/issues/4730#issuecomment-9042

[2021-08-24 00:46] jliexpensify commented on #4716
Hired!

[2021-08-24 01:02] roryabraham commented on #3047
Looks like all the issues on our checklist are done here. I think I am going to ask Applause to do some extra QA here before we close this out for good.

[2021-08-24 01:07] roryabraham commented on #3047
Additional QA steps I would like to have done:

1. Create a message with each of the markdown features in the issue description above.
1. Attempt to edit the message. Verify that the markdown you entered when creating the message reappears in the edit box.
1. Perform additional exploratory QA around editing messages containing markdown in New Expensify. Try to break it and let us know how it goes.

[2021-08-24 01:08] roryabraham commented on #3047
QA requested in Slack

[2021-08-24 02:07] marcaaron commented on #4785
Alright, chatted 1:1 with @jasperhuangg who did the 1.0 version of this for moving error messages from growls to inline and he pointed out that the growl component was _originally left in_ so that users who have scrolled past an error would be able to see it. That makes sense to me, but I _think_ we can solve this problem by just prompting with a confirm modal when there's an error - and also do t

[2021-08-24 02:18] aldo-expensify commented on #4730
I tested this in an android emulator and found this incorrect behaviour:

https://user-images.githubusercontent.com/87341702/130544242-8db867f4-d0c5-4507-986a-dbd91fceda30.mov

Basically, the value of the field with the error disappears, but once we focus it again, the value appears again. Would be good to know if this happens in a real android device.

[2021-08-24 02:24] marcaaron commented on #4730
Yes that _is_ weird. The value of this field should not disappear at all, but is it a regression?

[2021-08-24 02:43] mananjadhav commented on #4543
@deetergp Generally UTF16 has a limit on the characters you can store `0xFFFF`. Hence for certain emojis like flags, you'll see that emojis are stored as two pairs of Unicode.  For instance, the Indian flag Unicode (🇮🇳) is represented as `U+1F1EE U+1F1F3`.

@parasharrajat I agree. I've tried reducing the regex but haven't been able to cover all the emojis. Later couldn't spend time on this.

[2021-08-24 02:48] parasharrajat commented on #4543
@deetergp @mananjadhav I am sure that both of you will find your answers here https://thekevinscott.com/emojis-in-javascript/

[2021-08-24 02:50] mananjadhav commented on #4110
@johnmlee101 Screenshots in this link https://github.com/Expensify/App/issues/4110#issuecomment-898892437 will work Ignore the last iPad vertical one.

[2021-08-24 02:51] kevinksullivan commented on #4794
@joelbettner 's [PR](https://github.com/Expensify/App/pull/4742) may also handle this, but II'm not sure since this occurred after entering information where we run certain checks?

[2021-08-24 02:52] mananjadhav commented on #4543
Thanks. I will check if this works for all the emojis.

[2021-08-24 03:09] Christinadobrzyn commented on #4273
Closed the Upwork job - we can reopen if needed.

Internal job: https://www.upwork.com/ab/applicants/1422014297908846592/job-details
External job: https://www.upwork.com/jobs/~0100d479f219f067dd

[2021-08-24 03:33] roryabraham commented on #4758
I think it has just been android failures today, and I believe they're related to [this issue](https://github.com/fastlane/fastlane/issues/18670). A [PR that allegedly fixes the issue](https://github.com/fastlane/fastlane/pull/19248) was merged earlier today 🎉

Trying to figure out how we can start taking advantage of the fix ASAP. Ruby + Gems are still pretty foreign to me 😬

[2021-08-24 03:37] roryabraham commented on #4758
So we are using fastlane version [`~> 2`](https://github.com/Expensify/App/blob/706a8fcf9ab33181070dcdfb35951b9433cc9250/Gemfile#L4), which means that we'd get this fix automatically as soon as fastlane publishes a new version that includes the [PR](https://github.com/fastlane/fastlane/pull/19248), provided that it's not part of a major release.

Need to look into how we can use a specific ref in

[2021-08-24 03:44] roryabraham commented on #4758
Okay, I'll put up a PR.

[2021-08-24 03:50] roryabraham commented on #4758
Let's hope it works 🤞

[2021-08-24 03:52] roryabraham commented on #4646
Linked PR is now on HOLD for https://github.com/Expensify/App/pull/4649 to be merged.

[2021-08-24 04:01] roryabraham commented on #4379
PR is up

[2021-08-24 06:14] MTN718 commented on #4543
@deetergp content compare not working on mobile web?

[2021-08-24 07:54] shawnborton commented on #4696
In terms of spacing, I would expect this view to look like this where we have a header above the empty state:
![image](https://user-images.githubusercontent.com/2319350/130578768-9de38588-c034-456d-bd5d-83947b3f445e.png)

[2021-08-24 07:54] shawnborton commented on #4660
😄 well, I'd say it's a great proposal @kakajann!

[2021-08-24 07:55] shawnborton commented on #4616
On my radar...

[2021-08-24 08:00] shawnborton commented on #4678
I like the feedback that the keyboard should be open by default on mobile devices. However, let's please stick with our mockups where the empty state is vertically centered in the available empty space. We also want to keep "Say hello" as it's in line with our brand tone.

[2021-08-24 08:11] Beamanator commented on #4497
Fantastic, thanks for the update @mallenexpensify 👍 I won't manually add that label again 😅

[2021-08-24 08:19] kidroca commented on #4492
Nothing new to report here, I need some internal feedback to proceed

[2021-08-24 08:25] anthony-hull commented on #2734
I have a question in the draft PR, I started a review. I'll make it a full PR as maybe that is what is confusing my intentions.

[2021-08-24 08:32] dylanexpensify commented on #4663
re-labeled as Puneet is deep in allocations!

[2021-08-24 09:05] Julesssss commented on #4758
I believe we can fix this manually while we await the new Fastlane release. We simply need to 'Send for Release' the latest build, this is necessary every time a release is rejected by Google.

The Fastlane PR will also fix this by manually setting the flag linked to 'Send for Release', so we can simply await that release.

[2021-08-24 09:08] Julesssss commented on #4758
I marked the internal release as ready for review, which **should** allow the next Android deployment to succeed.

[2021-08-24 09:21] Beamanator commented on #4711
Discussed in Slack, decided to close

[2021-08-24 09:21] #4711 closed

[2021-08-24 09:41] Julesssss commented on #4732
This has been resolved.

[2021-08-24 09:41] #4732 closed

[2021-08-24 09:44] MTN718 commented on #4629
# Proposal
Currently used setString function for copy to clipboard for attachement
![image](https://user-images.githubusercontent.com/12084368/130594192-54db9146-f704-41ec-8c89-34a842887a75.png)

And when paste, it is not parsing content correctly in handlePaste for textinput

![image](https://user-images.githubusercontent.com/12084368/130594391-c85710d1-def0-498f-ba0f-78afabfb2cb1.png)

embeddedI

[2021-08-24 09:53] Julesssss commented on #4608
It doesn't look like it, could that be because of the[ iOS/Android deploy issues](https://github.com/Expensify/App/issues/4758#issue-974923499)?

[2021-08-24 10:05] anthony-hull commented on #4737
I would modify:
https://github.com/Expensify/App/blob/8a5cf2d190e8e259a1bcb4090fcb437e42f78dbe/src/libs/actions/Session.js#L261-L281
To resemble:
https://github.com/Expensify/App/blob/8a5cf2d190e8e259a1bcb4090fcb437e42f78dbe/src/libs/actions/Session.js#L229-L231

Where the error handling would be in a catch block.
I'm not familiar with translateLocal yet. I would look at using this on the error as

[2021-08-24 10:18] anthony-hull commented on #4737
I had a look at how API.js handles it and we have a bunch of swithc cases to cover off giving the right translated strings in the Errors to give to translateLocal:
https://github.com/Expensify/App/blob/8a5cf2d190e8e259a1bcb4090fcb437e42f78dbe/src/libs/API.js#L222-L251

Do we have such sophistication of HTTP codes for this API call?

For a simple fix I can just use the message in the API response t

[2021-08-24 11:09] Julesssss commented on #4264
I've updated the issue with our requirements, following the process to make external.

[2021-08-24 11:11] Julesssss commented on #4264
FYI I'm going to take over from the contributor manager that is assigned here

[2021-08-24 12:31] mananjadhav commented on #4541
Thanks for the detailed response @Luke9389.

Generally, I don't post solutions to non-External issues. We were tracking this with another PR and based on the suggestion I posted separate issues + solutions.

The issue persists in all mobile devices in the landscape mode. I've tried with an iOS device, an android emulator, and mobile web with iPhone 11, iPhone X, and iPhone 8 Simulator. I've also a

[2021-08-24 14:09] mananjadhav commented on #4499
@jamesdeanexpensify @michaelhaxhiu Shall we finalize https://github.com/Expensify/App/issues/4499#issuecomment-903987613 ?

@rosegrech has approved it in the comment.

[2021-08-24 14:12] michaelhaxhiu commented on #4678
That's a good start @MirFahad58, nice!

I agree with Shawn's feedback regarding sticking to vertical centering, as shown in the mockups.

Good call, one less step for the user. Can you show a quick screenshot of this screen with the keyboard expanded?

[2021-08-24 14:16] michaelhaxhiu commented on #4499
@mananjadhav thanks for double-checking. I'm a thumbs up 👍 . Let's proceed!

[2021-08-24 14:19] MirFahad58 commented on #4678
Ok

[2021-08-24 14:51] Santhosh-Sellavel commented on #4696
cc: @shawnborton @Jag96
We have a header height defined as `65` here
https://github.com/Expensify/App/blob/95bf36d950f57d01ae37af2e0d8f2e664a273b75/src/styles/variables.js#L2
So we can just add a `marginTop: variables.contentHeaderHeight ` to the below style which proposed earlier.

This is how it looks,
### iOS
![Simulator Screen Shot - iPhone 12 - 2021-08-24 at 20 14 05](https://user-images.gith

[2021-08-24 14:51] michaelhaxhiu commented on #4678
Sounds good. @puneetlath is assigned to review proposals here.

[2021-08-24 14:57] MirFahad58 commented on #4678
this one is with sticking to vertical centring.
<img width="432" alt="Screenshot 2021-08-24 at 7 54 25 PM" src="https://user-images.githubusercontent.com/31244700/130639827-41eef198-bcc6-4b4e-b93c-00a78bff2d93.png">

and this one is for what I was suggesting.
<img width="458" alt="Screenshot 2021-08-24 at 7 53 32 PM" src="https://user-images.githubusercontent.com/31244700/130639919-60417e3e-1f81-4

[2021-08-24 15:22] anthony-hull commented on #4663
I propose that I think we are better off following the same implementation as on the login forms.
Where we would add the same response handling logic found here:
https://github.com/Expensify/App/blob/8a5cf2d190e8e259a1bcb4090fcb437e42f78dbe/src/libs/API.js#L222-L251
to resetPassword and changePassword
and then use:
`translateLocal(error.message)`
like:
https://github.com/Expensify/App/blob/8a5cf2d

[2021-08-24 15:24] thesahindia commented on #4507
Found this issue while testing the code.

For some reason, there's a delay in Android (but Web looks fine)

### Android :
https://user-images.githubusercontent.com/83179295/130642600-37baafb9-779a-402c-afb7-e6a6c24414d7.mp4

### Web :

https://user-images.githubusercontent.com/83179295/130502663-2776d3dc-4b0b-4d83-a864-0f68021ac4d5.mp4

**Not sure but it could be related to this issue https://gith

[2021-08-24 15:39] shawnborton commented on #4696
Apologies for the confusion here, but why can't we use a header here? I would say that if there is no actual header that is shown, we just center the content in the view. But that being said, I don't particularly like the idea of showing this view without a header, which means there is no way to exit if things get stuck.

[2021-08-24 15:41] johnmlee101 commented on #4110
I think that makes sense

[2021-08-24 15:42] Santhosh-Sellavel commented on #4696
You are suggesting a header with just a close button, no title?

[2021-08-24 15:43] shawnborton commented on #4678
Please stick with the style from our mockups. It looks like your mockups have a different font as well as the timezone being centered.

[2021-08-24 15:48] MirFahad58 commented on #4678
yeah, I just wanted to share the idea, just created my separate mock to get ideas and work around it.

[2021-08-24 15:49] MirFahad58 commented on #4678
the development will be based on styles from your mockups.

[2021-08-24 15:53] Santhosh-Sellavel commented on #4696
cc: @shawnborton
Something Like this?
https://user-images.githubusercontent.com/85645967/130649150-bd0dade3-f52e-4210-b02d-6bab2d8cd48c.mov

[2021-08-24 15:53] mananjadhav commented on #4110
@johnmlee101 are we good with the proposal then? Should I submit the PR for the same ?

[2021-08-24 15:54] johnmlee101 commented on #4110
Yes! I'd say ago ahead

[2021-08-24 15:54] shawnborton commented on #4696
Yeah, so then if you can add a small "x" then let's just add the full header that includes a title please. Thanks!

[2021-08-24 15:56] Jag96 commented on #4696
Great! Sounds like we've got it sorted, @Santhosh-Sellavel I've assigned you and sent the offer in Upwork, you're good to start on a PR

[2021-08-24 15:58] Santhosh-Sellavel commented on #4696
Need title copy and new message copy @Jag96  with translations

[2021-08-24 16:06] MitchExpensify commented on #4696
Title: "One Moment"

Message: "We are taking a look at your information. You will be able to continue with next steps shortly."

[2021-08-24 16:14] Jag96 commented on #4696
@MitchExpensify so currently we are showing that on the VBA loading screen, I think we need the content for what the header should be, similar to the `Validate` header:

| Validate Header | Need Header value |
|---|---|
| ![image](https://user-images.githubusercontent.com/3981102/130652148-91ac50ae-24d2-4d7b-b3eb-765ae4be2448.png) | ![image](https://user-images.githubusercontent.com/3981102/130652

[2021-08-24 16:15] parasharrajat commented on #4507
It is not related to #4513

[2021-08-24 16:16] mallenexpensify commented on #4435
@parasharrajat , can you submit a proposal in Upwork and I'll hire? https://www.upwork.com/jobs/~01b9648852c0022ec5. Please confirm in a message here once you have

[2021-08-24 16:18] parasharrajat commented on #4435
@mallenexpensify Done.

[2021-08-24 16:20] MitchExpensify commented on #4696
I think a static "One Moment" header is fine personally

[2021-08-24 16:21] Santhosh-Sellavel commented on #4696
@MitchExpensify like this?
![Simulator Screen Shot - iPhone 12 - 2021-08-24 at 21 50 39](https://user-images.githubusercontent.com/85645967/130653289-bfd10b59-701e-4323-a211-bbad3d746aa6.png)

[2021-08-24 16:23] MitchExpensify commented on #4696
That works for me @Santhosh-Sellavel

 I notice the Validate message is left aligned and the One Moment message is center aligned. Which should we commit to @shawnborton ?

[2021-08-24 16:23] parasharrajat commented on #4513
What do you think @Beamanator?

[2021-08-24 16:30] shawnborton commented on #4696
Hmm maybe centered looks nicer under the graphic?

On Tue, Aug 24, 2021 at 6:23 PM MitchExpensify ***@***.***>
wrote:

[2021-08-24 16:35] Santhosh-Sellavel commented on #4696
Are we all good with this @shawnborton @Jag96 @MitchExpensify
https://github.com/Expensify/App/issues/4696#issuecomment-904787489

[2021-08-24 16:36] mallenexpensify commented on #4718
I checked on a couple Slack convos, it looks like 4 seconds. but... it doesn't 'go away'.  For the first 4 seconds is bolder/thicker
![image](https://user-images.githubusercontent.com/22508304/130653486-0b8677bb-bc73-449b-aef2-dd93c264478c.png)
then it's thinner but still red
![image](https://user-images.githubusercontent.com/22508304/130653534-fa43470d-a90d-4cc7-be0a-7f06b028e194.png)
(I tried to

[2021-08-24 16:43] puneetlath commented on #4778
Yes, I agree with @Santhosh-Sellavel.

@sumitagarwal31 I'm going to close this issue for now. Please feel free to reopen after you've filled out the issue template.

[2021-08-24 16:43] #4778 closed

[2021-08-24 16:43] Jag96 commented on #4696
Looks good to me!

[2021-08-24 16:44] puneetlath commented on #4678
@michaelhaxhiu FYI I'm focused on allocations and then OOO the rest of the week, so going to unassign myself.

[2021-08-24 16:44] MitchExpensify commented on #4775
Big fan of being consistent and using the same invite design as "New Group" for workspace invites. One small note is that you can invite multiple people in the current design by separating the emails by a comma so the "workaround" and "actual result" sections are a little off. I still think we should 100% make this change

[2021-08-24 16:44] Santhosh-Sellavel commented on #4696
These are existing translations:

[code]
Can update I like this,
oneMoment: 'One Moment', // en
oneMoment: 'Un Momento', // es

Are the above translations okay?
Let `Moment` or `moment`?

@Jag96 @MitchExpensify

[2021-08-24 16:46] Beamanator commented on #4513
@parasharrajat would you mind re-posting exactly what the latest proposal is? :D Looks like it went through a few reviews so I just want to be clear what the latest plan is

[2021-08-24 16:49] Jag96 commented on #4696
If those are no longer used then I think you're good to update them. I'd go with `One Moment` since we follow that capitalization in a few places (ex - `Change Password`)

[2021-08-24 16:58] parasharrajat commented on #4513
Sure.
1. Correct the Dropdown theme so that it matches other dropdowns in the app.
2. Block the API call when Language is selected. based on the suggestion we can just put a check in the setLocale for `currentUserAccountID` where If this is `undefined` don't make the API call.
https://github.com/Expensify/App/blob/8b10c1c1a0267eb66ef8fdc6e0049f9b101836a2/src/libs/actions/App.js#L38
3. Fix the lang

[2021-08-24 16:59] MitchExpensify commented on #4545
Was my unassigne-ment a mistake @mateocole ?

[2021-08-24 17:06] Santhosh-Sellavel commented on #4667
@thienlnam
We missed translations for the module in es.js.
https://github.com/Expensify/App/blob/95bf36d950f57d01ae37af2e0d8f2e664a273b75/src/languages/es.js#L544-L556

 I don't know how to add screenshots for this, but if you share `es` translated copy I will update the file along with this PR. Thanks

[2021-08-24 17:13] Beamanator commented on #4513
Thanks for confirming and re-posing @parasharrajat - The job is yours! Please submit a PR when you have a chance 👍

[2021-08-24 17:19] mananjadhav commented on #4110
@johnmlee101 PR Raised

@marklouisdeshaun I've sent a proposal on Upwork too.

[2021-08-24 17:19] Jag96 commented on #4762
Reopening to keep track of payment

[2021-08-24 17:33] mallenexpensify commented on #4435
Hired in Upwork, assigned to @parasharrajat , removed Help Wanted label...

[2021-08-24 17:58] roryabraham commented on #4629
@MTN718

Sorry, I'm having difficulty understanding this. Can you help me understand this better?

Other than that, there are two main concerns I have with your proposal:

1. Keep in mind that this is a react-native codebase, so we need a solution that works not only on web, but also on iOS and Android. Ideally, we would create a solution that works for both iOS/Android and react-native-web, so th

[2021-08-24 18:03] Santhosh-Sellavel commented on #4696
@Jag96 VBA Animation is broken in android
Can I post a separate issue for this?

https://user-images.githubusercontent.com/85645967/130666650-8cd68c50-4932-48d7-8af6-3940ab3015fe.mov

[2021-08-24 18:27] Santhosh-Sellavel commented on #4696
@Jag96 need to update the fresco version here to 2.5.0
https://github.com/Expensify/App/blob/396e320692d0be6420b23bbe4d234e36560630aa/android/app/build.gradle#L241-L242

[2021-08-24 18:30] mananjadhav commented on #4489
@mallenexpensify Payment for this and the other job will be as per the updated "deploy to production" guidelines? or the earlier "7-8 days after merge"?

[2021-08-24 18:45] Jag96 commented on #4696
@Santhosh-Sellavel good catch, can you update the fresco version as part of https://github.com/Expensify/App/pull/4805?

[2021-08-24 18:47] Santhosh-Sellavel commented on #4696
Sure @Jag96!

[2021-08-24 18:49] Santhosh-Sellavel commented on #4696
@Jag96 Will get a bonus for this issue 😂 ✌️?

[2021-08-24 18:52] Jag96 commented on #4696
@Santhosh-Sellavel yes we can add a bonus for the extra work you did on this one 👍

[2021-08-24 18:54] alex-mechler commented on #4772
Thanks for reporting this! Spun up a quick pr that adds it!

[2021-08-24 18:57] Luke9389 commented on #4541
@mananjadhav Awesome! Thank you for this response. It really helped clear things up for me.

Totally my bad. I should have realized this was also connected to other issues.

I like your proposal so far, but I have a few comments that may or may not change our direction. Firstly, my preference would be to change `getModalStyles` because that function already 'does something' with the swipe directio

[2021-08-24 19:03] Santhosh-Sellavel commented on #4357
@timszot assign this to me!

[2021-08-24 19:05] mananjadhav commented on #4541
I did see that we set `swipeDirection = undefined` in `BOTTOM_DOCKED`. I agree with your contradiction point.

We don't check any screen orientation at the moment. Only screenWidth in `Popover/index.js` with the following line:
[code]

Answer to your second question, yeah we're using `BOTTOM_DOCKED` for `ConfirmModal`, where we don't want the user to skip the modal. If we can introduce something l

[2021-08-24 19:06] anboia commented on #4629
### Proposal
---

Use native share workflow for mobile (with [react-native-share](https://github.com/react-native-share/react-native-share) ), and keep web/desktop version with the "Copy to Clipboard" Context menu.

---

Explanation:
UX is increased, by having more options: with just one step users can copy the content, or send it to other apps like WhatsApp, Slack, Note (or any other workflow the

[2021-08-24 19:07] pecanoro commented on #4407
It looks good to me!! @aman-atg Go for it!

[2021-08-24 19:16] roryabraham commented on #4678
Okay, despite not making a formal proposal, it seems like @MirFahad58 has a pretty good grip on this task. @MirFahad58 If you're interested in working on this, can you please write up a proposal for how you would implement this in the code?

[2021-08-24 19:20] roryabraham commented on #4629
@anboia That _is_ an interesting alternate solution, I love it!

That said, I think it should really be a separate context menu option. I recommend that you create a separate issue in this repo to propose adding a share option to the context menu using the native share menu, and we can discuss over there. Plus, if we decide to move forward with this new feature, there's an additional bonus we pay

[2021-08-24 19:23] johnmlee101 commented on #4417
@aman-atg looks good! Go ahead and follow your proposal. Let's just go with the original procedure with the api dependency.
Let's use the proposal for the timezone made by @Anass-ABEA as well.

[2021-08-24 19:24] MirFahad58 commented on #4678
yeah sure @roryabraham

[2021-08-24 19:26] marcaaron commented on #4420
This just doesn't feel like something a "real" user would do so I'm not sure it's worth prioritizing right now. For that reason, I'm going to close it as there are a lot of high priority issues and critical bugs that need fixing before we can worry about small stuff like this.

[2021-08-24 19:26] #4420 closed

[2021-08-24 19:39] MirFahad58 commented on #4678
First, I will understand the flow in the app, and what you guys had used (like a UI library) or used custom components, so text inputs and other components must be already there, I will reuse with my purpose and styling, And again I will look in the code structure, how flexes are implemented.. etc
I will start from the build a basic structure of the screen by adding flexes for each section, after

[2021-08-24 19:48] #4772 closed

[2021-08-24 19:55] aldo-expensify commented on #4730
I would say it is a regression. In the production app we don't have this red outline with the red message under the field, you just have the growl, and the value of the field doesn't disappear

I just tried it on an android device, and the behaviour is the same (the value disappearing until I touch the field).

[2021-08-24 19:55] MTN718 commented on #4629
Found solution for web version.

https://user-images.githubusercontent.com/12084368/130681105-ba4cd577-7988-4c94-8b17-a9d10459381e.mov

Used clipboard.write instead of setString

[2021-08-24 19:55] Luke9389 commented on #4541
OK! So after a discussion in slack (which you can follow [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1629831255234200) if you're interested), we've elected to take the very simple path of just letting the bottom docked modals get swiped. In other words, all you should need to do here is change this to `'down'`: https://github.com/Expensify/App/blob/a722ceb7244ac450e009d60b0aeeb2489378

[2021-08-24 19:56] MitchExpensify commented on #4597
Paid! cc @parasharrajat

[2021-08-24 19:57] MTN718 commented on #4629
@roryabraham one question, currently how to open context menu in the ios?

[2021-08-24 19:57] mananjadhav commented on #4541
I was just going through the discussion. So we're okay to have ConfirmModal as well, have a swipe? Chat also mentioned the height of the emojipicker. Nothing on that frontend right?

[2021-08-24 19:58] MitchExpensify commented on #4514
Paid! cc @parasharrajat

[2021-08-24 20:01] Luke9389 commented on #4541
Yup. We're gonna go ahead and allow it for now and then if it becomes an issue, it'll be an easy fix to disable swipes on it.

I think having the emoji picker be big for now is fine. We're not laser-focused on what the app looks like in landscape orientation right now, so we may come back to change the styles in the future.

[2021-08-24 20:02] mananjadhav commented on #4541
Got it. Thanks for the clarification. Should I then work on the proposal?

[2021-08-24 20:04] Luke9389 commented on #4541
Yup! You're clear to make a PR 👍 (albeit a small one 😄)

[2021-08-24 20:05] MTN718 commented on #4629
It's mobile web version

https://user-images.githubusercontent.com/12084368/130682485-44ac9a44-5f73-403d-b8f7-f53d76b67f74.mov

[2021-08-24 20:10] aldo-expensify commented on #4730
There seem to be something with the size of the actual text input, I can scroll inside the "input" and then I see the value.

[2021-08-24 20:12] tylerkaraszewski commented on #4752
What actual account do I need to log in with to see a FAB button? Where do I see that button?

[2021-08-24 20:51] Jag96 commented on #4355
Doubled the price: https://www.upwork.com/jobs/~0105c031baf3dfd3df

[2021-08-24 20:52] mananjadhav commented on #4663
@anthony-hull the error that I reported was more of UI issue even before hitting any API. If you notice the error has translation but it doesn't switch translation on language change.

Your solution might be an extension/separate enhancement for API error handling. I am not sure if any issues exist with that. You can create an issue with relevant data/screenshots etc.

[2021-08-24 21:02] marcaaron commented on #4413
Hit a minor snag on this issue since there is [another PR that adds a handful of other "expensify emails"](https://github.com/Expensify/App/pull/4755/files#diff-9d6b0cc89c7cab66ac4042ac0549bfc66ddc9e7a182b6b5dbbf7f687328f10b5R264-R399) and it may change the solution somewhat as there are other emails that should also be blocked.

It also looks like we _should_ already be preventing emails like `ch

[2021-08-24 21:15] AndrewGable commented on #4718
I agree we can close!

[2021-08-24 21:15] #4718 closed

[2021-08-24 21:20] AndrewGable commented on #4608
Not sure.. Submitting `1.0.85.9` to Apple as that is the production web version.

[2021-08-24 21:26] shawnborton commented on #4696
Looks good to me 👍

[2021-08-24 21:27] Jag96 commented on #4413
If we're always going to apply the same logic for all of those accounts, then I think it's fine to use `excludeExpensifyEmails` instead of having individual values. I think [this](https://github.com/Expensify/App/blob/771a3c948817c91736a2eb3c80c6f5c741647b0b/src/pages/NewChatPage.js#L71) is the only place we have one value that isn't the same as the others, so we'd have to handle that case right?

[2021-08-24 21:33] roryabraham commented on #4629
Yeah, longPress should open the context menu.

[2021-08-24 21:34] timszot commented on #4659
@SofiedeVreese This is merged, but not deployed yet.

[2021-08-24 21:34] roryabraham commented on #4629
So we should be discuss about convert image jpg to png from server or frontend.

Really? I've never encountered this issue

[2021-08-24 21:39] parasharrajat commented on #4629
@roryabraham I think we already have an open issue #1294 for share menus.

[2021-08-24 21:47] anthony-hull commented on #4663
Ahh. Yes I see good point!

[2021-08-24 21:49] roryabraham commented on #4629
@parasharrajat https://github.com/Expensify/App/issues/1294 is slightly different – I believe that's about adding New Expensify as an option in native share menus, not about exposing native share menus from within New Expensify

[2021-08-24 21:50] #4758 closed

[2021-08-24 21:51] parasharrajat commented on #4629
Oh yeah. :+1:

[2021-08-24 22:02] marklouisdeshaun commented on #4729
Job created in Upwork!

Internal post: https://www.upwork.com/ab/applicants/1430289271743135744/job-details
External post: https://www.upwork.com/jobs/~019e6eda1b98605ada

[2021-08-24 22:03] roryabraham commented on #4678
Okay, good enough for me @MirFahad58. @michaelhaxhiu let's hire @MirFahad58 on Upwork.

@MirFahad58 Since I believe this will be your first pull request in this repo, let me give you some pointers to help you succeed and to help ensure that the PR review moves quickly. I strongly recommend that you read over these resources before submitting your PR and refer to them as needed while you work:

1.

[2021-08-24 22:04] marcaaron commented on #4413
Ah nice catch thanks @Jag96 I missed that we were passing `true` there. I think then we can just remove the more specific handling for `concierge@` and `chronos@` (seems their defaults were `false` anyway if not specified).

Sorry for the back and forth here @Santhosh-Sellavel but just want to make sure we have a solid path forward and aren't introducing a solution we don't need. I know it's not t

[2021-08-24 22:08] parasharrajat commented on #4413
Maybe an option `allowedExpensifyEmails` as array could be alternative.

[2021-08-24 22:09] marklouisdeshaun commented on #4110
@mananjadhav thanks! Hired in Upwork.

[2021-08-24 22:12] jliexpensify commented on #4357
Sorry, my mistake - forgot to assign!

[2021-08-24 22:14] marklouisdeshaun commented on #4675
Hired in Upwork!

[2021-08-24 22:15] parasharrajat commented on #4475
Any news for me on Upwork?

[2021-08-24 22:18] marcaaron commented on #4413
Possibly, but I think in most cases we want to allow them. It's less common (so far) to want to exclude them (we only want to exclude all emails in 2 places and a single email in 1 place).

We'd have to do something like

[code]

which is less intuitive than

In IOU components...

[code]
and

In `NewChatPage`...

[code]

That said, it does seem kind of specific to have `excludeReceipts` for a sing

[2021-08-24 22:36] mananjadhav commented on #4541
While the PR is small, it seems the `swipeDirection` behavior isn't consistent. It doesn't have any effect on Android at the moment. There are some known issues with `react-native-modal` and `useNativeDriver` props. Checking it furthr.

[2021-08-24 22:47] parasharrajat commented on #4499
Is this desired?
![Screenshot 2021-08-25 04:14:12](https://user-images.githubusercontent.com/24370807/130699758-d329364d-2906-4f68-98f7-ef993f94bb32.png)

I think that the tip is a little off in the tooltip. Shouldn't that be fixed as part of this issue an improvement to Tooltip so that it can be used in all places?
![Screenshot 2021-08-25 04:14:28](https://user-images.githubusercontent.com/243708

[2021-08-24 22:51] parasharrajat commented on #4771
May be try an email.

[2021-08-24 23:18] isagoico commented on #4733
@johnmlee101 @parasharrajat Should this issue still be considered a deploy blocker?

[2021-08-24 23:21] isagoico commented on #4716
Retested this on Android and it was a pass 🎉 Checking it off the checklist and closing

[2021-08-24 23:33] alex-mechler commented on #4537
This has not happened to me again since that PR went out to staging. Thanks @parasharrajat!

[2021-08-24 23:33] #4537 closed

[2021-08-24 23:33] isagoico commented on #4752
The FAB button is the "Floating Action Button", this one
![image](https://user-images.githubusercontent.com/44479856/130703216-d929bbe3-ddf5-4457-9439-b732aa331af5.png)

[2021-08-24 23:42] parasharrajat commented on #4733
I think is happening on prod as well. so No deploy blocker.

Update:
1. After applying the latest patch from the lib, this specific issue is not fixed. The library has moved a long way from the earlier version.
2. I am still trying to find the best possible solution but currently, nothing seems to work.
3. Next planned thing is to check the diff between older and newer versions and find the root c

[2021-08-24 23:44] isagoico commented on #4701
Retested:
1. https://github.com/Expensify/App/issues/4716 - Was a pass 🎉 (Fixed here https://github.com/Expensify/App/pull/4774)
2. https://github.com/Expensify/App/issues/4730 is still considered a deploy blocker (CC @marcaaron @aldo-expensify)
3. https://github.com/Expensify/App/issues/4733#issuecomment-905038401 is still reproducible (left a question for @parasharrajat and @johnmlee101)
4. Re t

[2021-08-24 23:58] isagoico commented on #4701
Update on missing unchecked PRs:
1. https://github.com/Expensify/App/pull/4624 is still failing because of https://github.com/Expensify/App/issues/4733#issuecomment-905038401
2. https://github.com/Expensify/App/pull/4431 is still failing because of https://github.com/Expensify/App/issues/4728 since we can't navigate to the Requestor page. Issue was fixed but it has not been CPd to staging, can we

[2021-08-25 00:17] MitchExpensify commented on #4785
Looks good @marcaaron!

Just want to confirm to be 100% that this issue will capture these changes:

1. Removed all growls from VBA flow (We're using center modals for all instead - [GH](https://github.com/Expensify/App/pull/4483) - on production)
2. All fields returning an error get highlighted.

[2021-08-25 00:19] marcaaron commented on #4785
Yep, that's the plan!

[2021-08-25 00:23] parasharrajat commented on #4612
@MitchExpensify I think this needs Exported label so that an engineer can review proposals.

[2021-08-25 00:26] MitchExpensify commented on #4730
Is the value disappearing related to the red field outline? It seems like a separate issue to me but curious to understand @aldo-expensify

[2021-08-25 00:46] tylerkaraszewski commented on #4752
All these currencies use the same font, they just use a font that has some ugly symbols for some currencies. The font used depends somewhat on your browser or OS, so we don't even fully controls the details of what font is chosen. We could try and switch the font, but I don't think this is worth fixing currently.

[2021-08-25 00:46] #4752 closed

[2021-08-25 00:48] isagoico commented on #4766
We tested this on version 1.0.86-9 and it was a pass @marcaaron is this still happening on your side?

https://user-images.githubusercontent.com/44479856/130708209-62432e9f-be9d-4aa1-9816-0db61d8f9165.mp4

[2021-08-25 00:49] TomatoToaster commented on #4794
I think Joel's PR will fix this! Testing this locally I can get to the requestor step at least:
![image](https://user-images.githubusercontent.com/19364431/130707860-553fe9de-79c2-419e-b7b0-b67d9de260ea.png)

I can't get past this step though locally  because I keep running into this error:
![image](https://user-images.githubusercontent.com/19364431/130707991-a49d8b39-c420-4ec4-82e3-152ae3695467.p

[2021-08-25 00:58] marcaaron commented on #4766
I think it must be due to an API issue or hard to reproduce. FWIW I haven't noticed it again in the staging app so we can remove the deploy blocker I think. But maybe can leave this open for a bit to track.

[2021-08-25 00:58] anboia commented on #4629
It seems you should use [data URLs shema](https://datatracker.ietf.org/doc/html/rfc2397 ) with base64, which will work with a variety of `mediatype`, probably all attachment types accepted by the backend API.
We should use the same approach (share the same function) for retriveing the url of the attachment to a base64 data url, so that it is possible to copy or share the base64 data. Here it is a

[2021-08-25 01:02] deetergp commented on #4543
Great read @parasharrajat, thanks for sharing it!

[2021-08-25 01:05] TomatoToaster commented on #4701
I think we can check this off, but it would be better to manually CP that PR ([here](https://github.com/Expensify/App/pull/4742)) since it would also unblock us from testing the VBA flow for N6. Would it be possible to manually CP it @roryabraham @AndrewGable?

[2021-08-25 01:07] kadiealexander commented on #4484
@johnmlee101 when you get a moment, would you mind reviewing the existing proposals here?

[2021-08-25 01:08] roryabraham commented on #4701
@TomatoToaster Yep, I can CP https://github.com/Expensify/App/pull/4742

[2021-08-25 01:21] roryabraham commented on #4701
Something went wrong with that CP. Let me try to diagnose

[2021-08-25 01:22] roryabraham commented on #4701
Oh, nevermind. The error was unrelated. https://github.com/Expensify/App/pull/4742 is being deployed [here](https://github.com/Expensify/App/actions/runs/1164761915).

[2021-08-25 01:42] #4730 closed

[2021-08-25 01:43] michaelhaxhiu commented on #4475
@parasharrajat just paid it out!

[2021-08-25 01:43] #4475 closed

[2021-08-25 01:44] isagoico commented on #4365
this was a pass!

[2021-08-25 01:44] #4365 closed

[2021-08-25 01:45] isagoico commented on #4733
Confirmed this is also happening in prod too in iOS. Removing the deploy blocker label.

[2021-08-25 01:47] isagoico commented on #4214
@marcaaron We're good to remove the Deploy blocker label here too right?

[2021-08-25 02:06] isagoico opened #4816 "[HOLD for payment 2021-09-27] Add a scroll bounce or elasticity animation when reaching the top or bottom of a page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open New Expensify on Android or iOS
2. Navigate to a conversation
3. Scroll to the top (or scroll a bit upwards and then to the bottom)

## Expe

[2021-08-25 02:28] Christinadobrzyn commented on #4264
Added to Upwork

Internal Upwork job posting - https://www.upwork.com/ab/applicants/1430356207860531200/job-details
External Upwork job posting - https://www.upwork.com/jobs/~01efefc0e091692d09

[2021-08-25 02:58] MitchExpensify commented on #4794
Awesome! I am able to progress passed the company info step:

https://user-images.githubusercontent.com/36425901/130719072-b87363d6-faf0-4cf9-bd2e-a92dbda0663d.mov

[2021-08-25 03:25] anboia opened #4817 "[HOLD] Implement ability to share attachment natively"
___
UX is increased, by having more options: with just one step users can copy the content, or send it to other apps like WhatsApp, Slack, Note (or any other workflow they prefer)

## Action Performed:
* Go to the chat screen
* long-press attachment thumbnail or anchor link

## Expected Result:
* select "Share" option in the context menu
* show native share menu

## Actual Result:
"Share" option n

[2021-08-25 03:26] anboia commented on #4817
### Proposal
---

Use native share workflow for mobile (with [react-native-share](https://github.com/react-native-share/react-native-share) )

Add a "share" option to the context menu that will open the native share menu:
<img src="https://user-images.githubusercontent.com/4477665/130720868-a9ed52e5-e088-4569-86a9-725eebd4c691.png" width="200" />

As an example, slack shows the native share menu a

[2021-08-25 03:37] MirFahad58 commented on #4678
Ok thanks

[2021-08-25 04:21] Santhosh-Sellavel commented on #4413
Sure @marcaaron, I'll make the changes.

[2021-08-25 04:21] NikkiWines commented on #4612
@parasharrajat's proposal (Option 1) looks good, @MitchExpensify please hire them for this issue! 🙇

[2021-08-25 04:22] NikkiWines commented on #4702
Don't have a ton of time for this one at the moment with allocations - gonna drop it down to a weekly and hold it for a bit and if I haven't gotten to it by next week I'll ping #eng-chat to see if there's someone who wants to take over.

[2021-08-25 05:09] PrashantMangukiya commented on #4675
Hi @marklouisdeshaun. Thanks for the job. I accepted it from Upwork. I am doing final testing and preparing for pull request. I will message via Upwork once PR submitted. Also @chiragsalian thanks for the comment.

[2021-08-25 05:41] dklymenk opened #4819 "[HOLD for payment 2021-09-17] [DEV] The check port script fails on it's own and does not check if the process running on the port is a metro bundler"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## 1. Script Fails on it's own

### Action Performed:
1. Make sure you are not running anything on port 8081
2. Try to run `npm run android`

### Expected Result:
The ch

[2021-08-25 05:41] dklymenk commented on #4819
## Proposal

According to https://github.com/Expensify/App/pull/3718, the intention behind that script is to improve the error message when attempting to run the iOS/android app alongside the desktop and web in development, but while it does that to a certain extent, it removes some of the functionality baked into any react-native project by default. To be more specific, the ability to start the b

[2021-08-25 05:45] dklymenk commented on #4819
Oh, and since this is a dev-only issue that nobody has complained about since that check-port script was merged, I am willing to contribute this one without an upwork contract. It doesn't really make sense for you to pay for something that only apparently affects one person.

Thanks.

[2021-08-25 06:07] MTN718 commented on #4629
@roryabraham I tried long press on ios simulator for image but can't see open menu.
And can you provide png url for image so i can make it working image copy to clipboard as you can see video above.

[2021-08-25 07:43] shawnborton commented on #4499
I agree, the "Close" tooltip seems broken.

[2021-08-25 07:47] shawnborton commented on #4752
The font used should not depend on the OS as we serve up our brand font (GT America Exp) on all platforms. Perhaps we need to get these font symbols added to our font? It looks like this is all we have currently:
![image](https://user-images.githubusercontent.com/2319350/130749004-8984f172-5fa2-44f2-a70f-110eabb5e3f1.png)

But that being said... I agree, I don't think this is a problem worth solvi

[2021-08-25 07:51] Christinadobrzyn commented on #4625
Hey @AndrewGable I'm not sure why this is closed - looks like it's still in QA testing?

[2021-08-25 07:52] shawnborton commented on #4678
In terms of building the empty state component, keep in mind that this component will be reused for rooms as well. So we want to make sure we can extend this component to support a custom room avatar and a custom message below the avatar as well:
![image](https://user-images.githubusercontent.com/2319350/130749881-5bce328c-fd35-4114-827e-921b4939d4a2.png)

[2021-08-25 07:52] MTN718 commented on #4629
@anboia i know that solution. but if already there is png image in the server, no need to convert it to using base64. so @roryabraham I want discuss with you about convert in frontend or just use png url from server

[2021-08-25 09:04] mananjadhav commented on #4499
Okay, I checked. It is due to `borderRadius` on the top right when the tooltip is anchored at the right-side of the component.

I know that we need to update `getTooltipStyles.js`, @parasharrajat @roryabraham I can see you've contributed to this file. Any suggestions on fixing this? I don't have a quick solution for this one right now.

[2021-08-25 09:29] Beamanator commented on #4716
I believe this should be reopened to wait for payment, right @jliexpensify ?

[2021-08-25 09:32] mananjadhav commented on #4499
While I am okay to fix the issue. I am not sure if it should be scoped with this. Honestly, I've looked at Tooltip and it has multiple issues. `shiftVertical` params don't work,  doesn't work for absolute positioned elements.

[2021-08-25 09:43] parasharrajat commented on #4499
Initially, I refactored the tooltips so that they can be applied to LHN names https://github.com/Expensify/App/pull/1632 although it was not part of the task, it was necessary to complete the task. So mostly, components are gradually improved based on the use cases.

Now I leave this up to you to decide. Let's see if a minor change can be done so that tip of the tooltip is shown correctly.

[2021-08-25 09:51] mananjadhav commented on #4499
Thanks for the ref PR. Yeah, I agree. I'll definitely fix it if is a small fix that can be managed.

[2021-08-25 09:54] anthony-hull commented on #4743
is this issue stuck?

[2021-08-25 09:59] shawnborton commented on #4616
Posted to [Slack for discussion](https://expensify.slack.com/archives/C01GTK53T8Q/p1629885259260700), but I think something like this would be great:
![image](https://user-images.githubusercontent.com/2319350/130770559-e10e7b13-4841-447a-971e-d210dc92afab.png)

[2021-08-25 11:17] mananjadhav commented on #4499
@parasharrajat I've fixed the broken pointer.

I also checked the `AvatarWithImagePicker` tooltip. I guess you're right it isn't needed. Looks a bit weird with the avatar picture on. What are your thoughts? @shawnborton @iwiznia @michaelhaxhiu

[2021-08-25 11:33] MirFahad58 commented on #4678
Yeah sure

[2021-08-25 12:24] mateocole commented on #4545
@MitchExpensify Sorry about that, I have no idea why I unassigned you on this? I think I meant to unassign myself perhaps?

[2021-08-25 12:45] michaelhaxhiu commented on #4499
Thanks for attempting to fix the placement of the floating tooltips that @parasharrajat brought up!

I am having a hard time seeing the how the tooltip placement changed in the Profile picture example. Did it move it up a few pixels?

[2021-08-25 12:49] mananjadhav commented on #4499
No, it isn't changed from my previous commit. But what is happening is that tooltip is showing on the `AvatarImage`, which looks a bit off when there's a profile picture added.

[2021-08-25 12:50] parasharrajat commented on #4499
I meant to point out that Edit Profile tooltip should be over or below the pencil icon instead of profile avatar.

[2021-08-25 12:52] mananjadhav commented on #4499
@parasharrajat  That is what I had tried earlier. The pencil icon is absolute positioned and with the existing tooltip behavior, I haven't been able to position the tooltip properly on the icon.

[2021-08-25 12:59] mountiny commented on #4747
This can be worked on by external contributor for sure, assigning the label.

[2021-08-25 13:24] iwiznia commented on #4495
Hey, sorry to rain on everyone's parade here, but I don't think we should do this. My reasoning is mainly:
- We don't *need* to have everything internationalized now, it's not really a priority to internationalize all the app, we just added the framework so that new code we write in the frontend is forward compatible with the goal of internationalizing the app.
- The proposal/PR is taking care of

[2021-08-25 13:26] iwiznia commented on #4495
[Here's](https://expensify.slack.com/archives/C01GTK53T8Q/p1628607881165500) a conversation in slack where we already said we should not do this

[2021-08-25 13:29] mananjadhav commented on #4495
Ohh no :(

[2021-08-25 13:31] iwiznia commented on #4495
Yeah, so sorry about this. I did not see the issue till now 😞

[2021-08-25 13:50] michaelhaxhiu commented on #4499
Now I follow you 👌. The tooltip under the profile picture should probably show **under** the pencil. Right @shawnborton?

[2021-08-25 13:51] michaelhaxhiu commented on #4678
Hired on upwork!

[2021-08-25 13:58] shawnborton commented on #4499
Can it launch directly above the gray circle that has the pencil icon?

[2021-08-25 14:03] mananjadhav commented on #4499
At the moment, our Tooltip doesn't work well with `absolute positioned` items. Considering the effort involved, we didn't include that in the current scope.

Hence, we skipped the FAB too.
https://github.com/Expensify/App/issues/4499#issuecomment-899859545

[2021-08-25 14:04] shawnborton commented on #4499
Then I would just skip this one yeah?

[2021-08-25 14:05] mananjadhav commented on #4499
Can do. @michaelhaxhiu @iwiznia What do you think?

[2021-08-25 14:09] iwiznia commented on #4499
I am fine skipping for now

[2021-08-25 14:15] michaelhaxhiu commented on #4499
Agree, let's skip showing this tooltip for now. We can revisit this later.

[2021-08-25 14:30] mallenexpensify commented on #4267
Hired @aman-atg in Upwork and assigned. Heads ups, we're prioritizing some internal work this week so Tim might not be available for a review til next week.

[2021-08-25 15:00] johnmlee101 commented on #4484
Love the proposal @parasharrajat .

@kadiealexander feel free to assign out the job!

[2021-08-25 15:06] tgolen commented on #4819
That proposal sounds mostly good to me, and thank you for volunteering to fix it! The one question I have is how are you going to access that `isPackagerRunning` method. Are you going to make a copy from the source, or are you going to install the source via npm and import it?

cc @HorusGoul @thienlnam Since you wrote the script initially, it might be nice to have you weigh-in on this proposal.

[2021-08-25 15:09] mallenexpensify commented on #4515
@parasharrajat I'm still unable to reproduce on web-staging.  Should I be doing something else?

https://user-images.githubusercontent.com/22508304/130816462-85cd9044-f63e-4ad9-9163-fc57fc7d9f36.mp4

[2021-08-25 15:10] parasharrajat commented on #4616
Ok. Looking at slack, I agree. Let's go with this design. basking the proposal now. Meanwhile, you can forward the process.

[2021-08-25 15:16] mallenexpensify commented on #4417
@aman-atg can you submit a proposal in Upwork and drop a comment in here when you have? I'll hire ya there. https://www.upwork.com/jobs/~01f40ebf66a38fb1f7

[2021-08-25 15:16] mallenexpensify commented on #4407
@aman-atg can you submit a proposal in Upwork and drop a comment in here when you have? I'll hire ya there. https://www.upwork.com/jobs/~01f40ebf66a38fb1f7

[2021-08-25 15:19] parasharrajat commented on #4515
Look at the Video https://user-images.githubusercontent.com/24370807/128778144-f822a3e3-7596-4efc-a97b-d441fb746719.mp4 @mallenexpensify

I am clicking on the label and you can also try clicking the empty area next to the label.

[2021-08-25 15:19] dklymenk commented on #4819
I certainly forgot to add this to the code examples above, but I would require it just like anything else in node.

[code]

We don't have to install anything, we already have all the needed node modules in the project. In fact, commands `npm run {android,ios}` use this exact function under the hood to check whether a metro bundler should be started.

[2021-08-25 15:25] mananjadhav commented on #4489
Thank you so much @mallenexpensify

[2021-08-25 15:29] parasharrajat commented on #4616
### Proposal
1. We have to show the text when participants' length reaches 8 here https://github.com/Expensify/App/blob/5e883f3da811567e2bce647a61c0b570719705bb/src/pages/iou/steps/IOUParticipantsPage/IOUParticipantsSplit.js#L251.

as
[code]
3. This will be translated.

it looks like this.

![image](https://user-images.githubusercontent.com/24370807/130819432-f4b77d46-eaa1-46f1-8805-6c14252d1726.p

[2021-08-25 15:49] anthony-hull commented on #4731
@shawnborton
Is this an issue? or is it by design?

[2021-08-25 15:51] anthony-hull commented on #4737
The API response not being translated should be its own issue. I'll make one later :)

[2021-08-25 15:52] Julesssss commented on #4747
Looks good to me. Please go ahead and hire @akshayasalvi

[2021-08-25 15:55] aman-atg commented on #4267
@mallenexpensify,  Looks like the proposal was already [reviewed](https://github.com/Expensify/App/issues/4267#issuecomment-902967699). And the [PR](https://github.com/Expensify/App/pull/4777) also got merged 2 days ago.

[2021-08-25 16:04] aman-atg commented on #4417
[Proposal](https://www.upwork.com/ab/proposals/1430561353296482305) submitted on Upwork.

[2021-08-25 16:08] AndrewGable commented on #4608
iOS was rejected because the credentials were out of date. I updated them and re-submitted it.

[2021-08-25 16:10] shawnborton commented on #4731
I think this is an issue, yes. The button shouldn't work until the fields are filled out correctly.

[2021-08-25 16:18] parasharrajat commented on #4515
@mallenexpensify I found this on staging v1.0.86-10 Web firefox/It's also on chrome.

https://user-images.githubusercontent.com/24370807/130827496-9c27c09d-b3d9-4088-974a-54fbcc997d6c.mp4

[2021-08-25 16:34] PrashantMangukiya commented on #4675
Hi @chiragsalian  I submit pull request #4823 Kindly review it. If more action need from my side then kindly suggest me. This is my first pull request to expensify so please guide me if I missed something to submit.

[2021-08-25 16:35] MitchExpensify commented on #4612
Hired!

[2021-08-25 16:40] kidroca commented on #4656
Nothing new to report here. I'm focusing on Onyx image/file handling this week

[2021-08-25 16:40] marcaaron commented on #4214
Yes, I think we can. The issue is not fixed, but doesn't seem any worse than before per se.

[2021-08-25 16:41] roryabraham commented on #4495
@iwiznia I'm not sure I agree with your reasoning:

I agree, but given where we are now I don't think that justifies throwing away the work that's already been done here.

I think there may be some unsafe assumptions baked into this assertion (for example, that our API can't be locale-agnostic). From what I can tell, there's no reason to assume that @mananjadhav's pull request isn't a future-proof

[2021-08-25 16:44] Santhosh-Sellavel commented on #4413
@marcaaron whatever we discussed here is captured in this draft PR https://github.com/Expensify/App/pull/4821, also there are some additional emails as well.

[2021-08-25 16:44] marcaaron commented on #4214
Just to follow up here. I'm not sure what we want to do about this issue but will leave it in the hands of @JmillsExpensify and @thienlnam. Here are the facts:

- The issue we are fixing here was still observed on staging
- Which means the solution proposed by @parasharrajat did not fully solve the problem
- There might be multiple causes and we just fixed a reproducible cause but missed a harder

[2021-08-25 16:49] mallenexpensify commented on #4747
Hired @akshayasalvi in Upwork!

[2021-08-25 16:52] iwiznia commented on #4495
If someone wants to pause this, create a design doc that covers how we will manage all translations of report actions and then resume this, I am fine with that, but I don't think we should merge this without a more holistic plan on how all actions will work, even if in the end the solution in the PR is what we settle in, we should write down how it will work and have people review it and basically

[2021-08-25 16:52] mallenexpensify commented on #4407
Hired in Upwork!

[2021-08-25 16:53] marcaaron commented on #4413
Ok well there is no sense in having two separate issues handling the same thing. @AndrewGable @deetergp it would be good if there was some way to prevent contributors from working on the same issues in the future. Seeing as @Santhosh-Sellavel opened the issue first I suggest that we close this.

@mallenexpensify I think we should just pay @Santhosh-Sellavel and close this out.

[2021-08-25 16:53] #4413 closed

[2021-08-25 16:53] muhammadtaha1998 commented on #4729
I think its just simple style issue. Need to change it from `GTAmericaExp-Regular` to `GTAmericaExp-Bold`

[2021-08-25 17:34] OSBotify opened #4828 "Deploy Checklist: New Expensify 2021-08-25"
**Release Version:** `1.0.90-2`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/4019
- [x] https://github.com/Expensify/App/pull/4117
- [x] https://github.com/Expensify/App/pull/4131
- [x] https://github.com/Expensify/App/pull/4143
- [x] https://github

[2021-08-25 18:01] kevinksullivan opened #4834 "[Hold for payment Sep 10 if no regressions] Improve spacing between routing/account number fields in VBA flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Add account to `freePlan` beta
2. Login to new.expensify.com
3. Create a workspace
4. Select `Get Started` in Expensify Card tab of workspace
5.

[2021-08-25 18:36] kevinksullivan opened #4836 "Disable "Save and continue" for Requestor Info, Beneficial Owners, and Validate Steps until all mandatory fields have an entry"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps
1. Add account to freePlan beta
2. Login to new.expensify.com
3. Create a workspace
4. Select Get Started in Expensify

[2021-08-26 04:55] Santhosh-Sellavel opened #4849 "Workspace Chat Details Page Notification Preferences Picker is Broken"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to New Expensify
2. Click +
3. New workspace
4. Invite some users to the workspace
5. Now go to the report list (Chat list)
6. Press CMD + K o

[2021-08-26 09:47] Beamanator opened #4850 "Cap Software - External Contributors August 2021"
Hello and welcome to this month's edition of *CAP software for external contributors*.

What I need from you:
1. Go to the [Cap Software - External Contributors spreadsheet](https://docs.google.com/spreadsheets/d/1aNFhkgfQWDwG86U_IUSuvcz2X8ZT_KJvhOwaaOGwRTc)
2. In the tab labeled "August 2021", enter a new row for each project you worked on and how many hours you worked on it
3. Don't delete or up

[2021-08-26 15:29] kavimuru opened #4853 "Android/Moto G7 - Attaching picture directly from camera will crash the app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Open any chat
3. Tap on + > Add Attachment > Take Photo
4. Take a picture and confirm

## Expected Result:
User is able to

[2021-08-26 15:42] kavimuru opened #4855 "[HOLD for payment 2021-09-28] If you mark a message as unread and close the app or minimize it, the unread status is removed."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Open any chat
3. Long tap any old message
4. Tap "Mark as Unread"
5. Force close the app and open it again
6. Open the same

[2021-08-26 15:57] kavimuru opened #4856 "[HOLD for payment 2021-09-10] Sign in - Error message is not specific if password is not entered"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Put user name or email
3. On Password page click on Sign in

## Expected Result:
Expected message - Error message should be spec

[2021-08-26 16:58] isagoico opened #4857 "Concierge message was triggered 3 times when creating a new account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a new account
2. Land in Concierge conversation

## Expected Result:
Only one welcome message should be displayed

## Actual Result:
3 wel

[2021-08-26 17:52] MitchExpensify opened #4860 "Center align Workspace name on web and mobile web"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click "+" in new.expensify.com
2. Click "Create Workspace"
3. Workspace name is not aligned in the left hand pane

## Expected Result:
I would ex

[2021-08-26 17:59] isagoico opened #4861 "[HOLD for payment 2021-09-22] Concierge - Request call without phone number leads to infinite loading. In mobile, app crashes"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

Upwork Post: https://www.upwork.com/jobs/~0198bddf350b2411a7
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account
3. Search for Co

[2021-08-26 18:13] kavimuru opened #4863 "Chat - Incorrect number of new messages are shown in green marker badge count"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue found when executing PR #4773

## Action Performed:
1. Lunch the app
2. Log in with account A  in device 1
3. Select user you will chat and scroll the chat to 10-3

[2021-08-26 18:33] isagoico opened #4864 "[Hold for payment 2021-09-07] Request a call - Phone number is filled in First Name box"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in phone number account
3. Search for Concierge
4. Click on Phone icon

## Expected Result:
The phone number should not be

[2021-08-27 00:34] isagoico opened #4866 "Card Screen - p character on 'Help' button is cropped"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue found while executing https://github.com/Expensify/App/pull/4637

## Action Performed:
1. Open app and login
2. Go to FAB > New Workspace
3. Tap on Company Cards

[2021-08-27 01:11] kavimuru opened #4867 "[HOLD for payment 2021-11-04] mWeb - Safari- Zoom in behavior of PDF is inconsistent"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate ro staging URL
2. Select any Chat
3. Click on add attachment
4. Upload a PDF
5. Click on the PDF preview
6. Verify you can pinch the ima

[2021-08-27 01:37] kavimuru opened #4870 "Chat - No tool tip for download icon for docx file"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #4661
## Action Performed:
1. Launch App and login
2. Send any docx file
3. Hover mouse to download sign

## Expected Result:
The tooltip s

[2021-08-27 17:36] marcaaron opened #4883 "Consolidate NVP gets in VBA flow. Many requests make it slow."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

Navigate to `/bank-account`

## Expected Result:

Loads reasonably fast

## Actual Result:

Takes a pretty long time to show up

## Workaround:

Th

[2021-08-27 19:04] isagoico opened #4885 "IOU - Unable to use comma on the amount field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on request money
2. In the amount field enter 1,000.00 (or copy and paste the amount)

## Expected Result:
User should be able to use a com

[2021-08-27 19:15] isagoico opened #4888 "Emojis are pasted like images when copied and pasted from other apps (e.g Slack, Gmail)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Copy text from Slack which includes emojis (or text with image)
2. Paste the text in a NewDot conversation and see that the emoji is treated as i

[2021-08-27 20:58] kevinksullivan opened #4892 "Update `Get Started` button to `Finish Setup` as soon as a user's information have been saved for a step in VBA flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create workspace on freePlan beta using a private domain
2. Enter a routing/account number and select `Save and Continue`
2. Enter company inform

[2021-08-27 23:03] MitchExpensify commented on #4608
Soo what is the status of this issue since [this]((https://github.com/Expensify/App/issues/4608#issuecomment-907503367) happened? Wanna be sure I'm following

[2021-08-27 23:18] jliexpensify commented on #4772
Done!

[2021-08-28 00:01] thienlnam commented on #4210
@mallenexpensify Yup, I just merged the pending PRs so once those get deployed and can verify it doesn't happen with new profile images, we can pay @AlfredoAlc

[2021-08-28 00:31] roryabraham commented on #4608
I think we should:

1. Demote it from deploy blocker
2. Merge the potential solution I suggested [here](https://github.com/Expensify/App/issues/4608#issuecomment-907336690) (or maybe just [this other PR that contains the same code changes](https://github.com/Expensify/App/pull/3877) 😉)
3. Have people continue to retest, and keep it open for another release cycle. If it doesn't happen again with ou

[2021-08-28 00:33] arielgreen commented on #4850
Ok, answering a few questions here (these are super helpful so keep them coming! We can review and update to make things clearer next month)

@kidroca

I think the Master Project List tab should be protected but you should be able to edit the monthly tabs. @Beamanator I think we need to update permissions, the _entire_ linked sheet is view only.

@kortneywynn do you have any advice on how contribu

[2021-08-28 00:48] roryabraham commented on #4233
Next month perhaps 😅

[2021-08-28 01:10] roryabraham commented on #4828
Before we close this issue, we should really do some testing of [this PR](https://github.com/Expensify/App/pull/4796).

[2021-08-28 01:23] parasharrajat commented on #4233
I left this intentionally as it does not hurt the brand.

[2021-08-28 01:24] parasharrajat commented on #4772
Thank you, guys.

[2021-08-28 01:27] parasharrajat commented on #4816
### Proposal
1. We have to use `bounces:true` prop on the ScrollViews to make them bounce naturally on IOS.
2. I will update every page so that it has bounces behavior.
3. There are few places where we will jointly decide if we want the bounce for example chat list, Users list in LHN and etc. I will update those based on the team's feedback.

[2021-08-28 01:44] parasharrajat commented on #4211
I am awaiting @marcaaron 's decision on approaching the issue.
1. Either we should reopen the issue https://github.com/react-navigation/react-navigation/issues/9511 and add code to hide the drawer.
2. Jules has a good suggestion https://github.com/Expensify/App/issues/4211#issuecomment-902155340 but I am not sure if that is possible. It requires rethinking the app architecture for few major parts.

[2021-08-28 01:45] parasharrajat commented on #4861
Please assign this issue to me. Thanks.

[2021-08-28 01:52] parasharrajat commented on #4357
We do want to update the component when its hidden behind LHN and etc.

[2021-08-28 01:54] parasharrajat commented on #4863
I can't close this issue but cc: @roryabraham

[2021-08-28 05:27] PrashantMangukiya commented on #4860
## Proposed Solution:

As we can understand Text element wrapped within Tooltip, so we need to set styles.alignSelfCenter for Text element, so content within text element always remain in center irrespective of its parent style.

Also there is no need styles.alignSelfCenter for Pressable component because there is no effect for that style at present.

Below are the code snipped from  /src/pages/wo

[2021-08-28 05:54] parasharrajat commented on #3855
### Proposal
1. Using `accessibilityRole` we set the containing view element as `Form` in Both SignInPagelayoutWide and SignPagelayoutNarrow.
2. Now we have to use a hidden username input on the PasswordForm page.
[code]
3. Here credentials can be retrieved using the `credentials: {key: ONYXKEYS.CREDENTIALS}` key.
4. Now we have to use autoCompleteType="username" for the username input on the Logi

[2021-08-28 06:33] gregorjoshua commented on #4860
I think that this can be fixed by just changing
src\pages\workspace\WorkspaceSidebar.js line 133 from
`styles.alignSelfCenter,`
to
`styles.alignItemsCenter,`

Orignal:
![centering_og](https://user-images.githubusercontent.com/54114913/131208796-5ffce2d1-fc38-4708-8a2d-abf85326055f.png)

Fixed:
![centering_fixed](https://user-images.githubusercontent.com/54114913/131208799-1882369d-c398-430d-8a9c-c

[2021-08-28 07:07] RohanPunjani commented on #4622
I think the issue is fixed. Please close it 😅

[2021-08-28 07:16] PrashantMangukiya commented on #4860
Hi @gregorjoshua   Thanks for the suggestion. But It is not good idea to set styles.alignItemsCenter at line 133 for Pressable componnet, because It is disturbing the Tooltip child component behaviour under it. i.e. when workspace name too long then text touches left and right side and it is not expected behaviour.

See below screenshot that shows longs workspace name touched at left and right sid

[2021-08-28 08:30] anthony-hull commented on #3855
Did that work? I tested adding a hidden field and lastpass didn't autofill

[2021-08-28 08:44] gregorjoshua commented on #4860
Thanks @PrashantMangukiya! This is my first time commenting/contributing so I appreciate any feedback.

However, I think that the code that is in place already takes care of that (at least on Android).
![Uploading centering_fixed_2.png…]()

I tried to test on Web, but when I run `npm run web` my localhost runs the https://www.expensify.com/ site, and not the https://new.expensify.com/ site so I ha

[2021-08-28 09:54] parasharrajat commented on #3855
I think in the video above browser password manager is auto-filling the field.

[2021-08-28 10:15] aman-atg commented on #4256
Thanks @jasperhuangg, I'll remember to tag you once the PR is up.

@mallenexpensify, Submitted the [proposal](https://www.upwork.com/ab/proposals/1431560624035885057) on Upwork. Thanks.

[2021-08-28 10:21] namnm commented on #4129
I can see in the code that we are currently using Uncontrolled input component. I guess there are some reason behind this? Is there any chance we can switch the component to controlled to pass the `value` props, just need the internal `TextInputFocusable/index.ios.js` component, something like:

<img width="953" alt="Screen Shot 2021-08-28 at 17 20 31" src="https://user-images.githubusercontent.co

[2021-08-28 11:28] PrashantMangukiya commented on #4860
Hi @gregorjoshua , Thanks for the message. Yes I set  styles.alignItemsCenter to Pressable component at line 133 and taken screenshot for web version that shows workspace name disturbed.

Now I just fetched recent version of the app (1.0.88-2), compiled and tested. Strange result, It looks like now changing styles.alignSelfCenter to styles.alignItemsCenter at line 133 Pressable component also work

[2021-08-28 11:43] AbednegoTM commented on #4731
Proposed solution:
- add `isDisabled` Prop to `<Button />` component
- pass  `!this.state.isFormValid` to the `isDisabled`  Prop

https://github.com/Expensify/App/blob/4492fe18cf1f44d689b0ee0eb1aeb305e02ec78c/src/pages/SetPasswordPage.js#L95-L101

[2021-08-28 16:51] isagoico opened #4896 "[HOLD for payment 2021-09-20] Buttons - Reduce button size"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to NewDot
2. Navigate to a conversation
3. Edit the message

## Expected Result:
Buttons should not have a big size.

## Actual Result:

[2021-08-28 16:57] kavimuru opened #4897 "[HOLD for payment 2021-09-27] Chat - Text and URL inside a strikethrough markdown isn't working"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Start your conversation with text ~www.homedepot.com~
## Expected Result:
Text and URL inside a stri

[2021-08-28 17:02] mananjadhav commented on #4896
As I mentioned in the [slack thread](https://app.slack.com/client/T03SC9DTT/C01GTK53T8Q/thread/C01GTK53T8Q-1630093303.074700), my recommendation would be to reduce the button size for the chats (and similar other pages if required). ![image (1)](https://user-images.githubusercontent.com/3069065/131225262-bf8e57e3-4199-4024-b929-b92bf1cf2e87.png)
In `ReportActionItemMessageEdit` update the followin

[2021-08-28 17:18] kavimuru opened #4898 "Chat - Additional lines are shown when editing a text with markdown type Quote"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account
3. Start conversation
4. Create a text type note for example the following tex

[2021-08-28 17:19] OSBotify commented on #4898
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-08-28 17:22] kavimuru opened #4899 "Chat - Markdown entered in email responses don’t render in the app correctly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send a message from userA to userB
2. Wait for the email containing the message to be received on email by userB
3. Respond to the email and incl

[2021-08-28 17:27] kavimuru opened #4900 "Chat - Error message is not translated clicking Call me button in Concierge"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log in with expensifail account
3. Click on Profile picture
4. Go to Settings - Preferences
5. Change language to Spanish
6. Go

[2021-08-28 17:59] MirFahad58 commented on #4678
Started working on the issue, linted the code, but was unable to commit. need someone to help.

[2021-08-28 18:03] MirFahad58 commented on #4678
<img width="432" alt="Screenshot 2021-08-28 at 11 00 55 PM" src="https://user-images.githubusercontent.com/31244700/131226791-5d7f54f7-22f0-4c17-8ee2-70f27224856b.png">
getting verified tag for commits on other repos but unable to commit on this one, getting gpg error and already done with gpg step by step process.

[2021-08-28 18:07] Santhosh-Sellavel commented on #4678
@MirFahad58

Are you trying to push your changes directly in this repo

[2021-08-28 18:28] MirFahad58 commented on #4678
no, forked and created a new branch.

[2021-08-28 18:33] MirFahad58 commented on #4678
<img width="381" alt="Screenshot 2021-08-28 at 11 32 53 PM" src="https://user-images.githubusercontent.com/31244700/131227562-2189bb0d-3035-4e5e-ae31-2736f1a00903.png">
getting this error

[2021-08-28 18:37] Santhosh-Sellavel commented on #4678
Are you using the GUI to commit?
If then, check whether you configured git settings correctly.

Try in the terminal using the following command, this works like charm!

[2021-08-28 18:42] MirFahad58 commented on #4678
@Santhosh-Sellavel  Same for both

[2021-08-28 18:46] Santhosh-Sellavel commented on #4678
Try going through this documentation, This will help.
https://docs.github.com/en/github/authenticating-to-github/managing-commit-signature-verification/signing-commits

Clone the repo in a new folder, try to set up this first! @MirFahad58

[2021-08-28 19:50] MirFahad58 commented on #4678
resolved, thanks a lot @Santhosh-Sellavel

[2021-08-29 01:19] parasharrajat commented on #4900
Backend should send the translated error https://github.com/Expensify/App/blob/70f8208ea61bc74c1104a4746b97e1f2a568475c/src/pages/RequestCallPage.js#L104

Or we have to move the error to the frontend and localize it.

[2021-08-29 01:36] parasharrajat commented on #4898
We should remove the newline that is being prepended here in `replacement` & also from the regex `\n?`
[code]

[2021-08-29 06:09] PrashantMangukiya commented on #4864
## Proposed Solution

What I understood is, If first name is same as phone number then we have to keep first name empty within form. So I will suggest to modify constructor for **src/pages/RequestCallPage.js**  file.

How It works: Within constructor we have to check if first name is same as phone number then set first name empty within form, otherwise keep first name as it is.

Constructor code w

[2021-08-29 09:40] shawnborton commented on #4896
All of that sounds good, except I don’t think we should change the border
radius here. We can address that as a separate discussion, but currently
our small buttons and small inputs use the same border radius as larger
buttons and inputs.

On Sat, Aug 28, 2021 at 7:02 PM Manan ***@***.***> wrote:

[2021-08-29 09:41] shawnborton commented on #4860
So the workspace name was designed to be centered and I believe when it was
first implemented, it was centered. That means there was a regression some
where that’s causing this right? I think we should track down the
regression and have that contributor fix the issue we’re experiencing here.
Does anyone agree with that?

On Sat, Aug 28, 2021 at 1:28 PM PrashantKumar Mangukiya <
***@***.***> wrote:

[2021-08-29 10:37] MirFahad58 commented on #4678
I need to know, do I have to just create the screen or have to integrate with data also?
I am not clear.

[2021-08-29 12:03] vasundhara-digitalairtech commented on #4129
would an acceptable fix be to add logic that doesnt let whatever the user typed persist and force a clear later on?
This still may not help the fast typers from having to retype once it is cleared, but will at least save them the trouble of clearing the entire text each time they start typing prior to a clear

[2021-08-29 12:03] vasdhara commented on #4129
would an acceptable fix be to add logic that doesnt let whatever the user typed persist and force a clear later on?
This still may not help the fast typers from having to retype once it is cleared, but will at least save them the trouble of clearing the entire text each time they start typing prior to a clear

[2021-08-29 12:45] akshayasalvi commented on #4860
@shawnborton I had recently worked on the workspace name tooltip. Let me see if it is my regression.

[2021-08-29 12:47] MirFahad58 commented on #4678
@michaelhaxhiu @roryabraham done with the issue, here are the screenshots before creating PR I am improving the code. but here is the 1st look.
<img width="428" alt="Screenshot 2021-08-29 at 5 27 51 PM" src="https://user-images.githubusercontent.com/31244700/131250827-4db3b2e0-1444-4ded-a399-74cde90c3903.png">
<img width="444" alt="Screenshot 2021-08-29 at 5 29 05 PM" src="https://user-images.gith

[2021-08-29 13:17] MirFahad58 commented on #4678
<img width="497" alt="Screenshot 2021-08-29 at 6 17 00 PM" src="https://user-images.githubusercontent.com/31244700/131251720-f000cbed-4159-4303-9834-d101a12d7a01.png">

all test cases are passed.

[2021-08-29 19:12] dklymenk opened #4902 "The recipients local time should not be shown if both timezones have the same UTC offset"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

Assume that timezone A and timezone B have the same UTC offset, but different names. Example: Europe/Moscow and Europe/Istanbul (both are UTC +3).

[2021-08-29 19:13] dklymenk commented on #4902
## Proposal

Use moment timezone's `utcOffset` function to get offset and compare that instead of timezone names:
1. In file [ReportActionCompose.js](https://github.com/Expensify/App/blob/f92815885bf9be4d19f2edfb3798beccb6c75b62/src/pages/home/report/ReportActionCompose.js) add a method like this:
[code]
2. Update the code for determining `shouldShowReportRecipientLocalTime`. Replace line [454](ht

[2021-08-29 20:38] sophiepintoraetz commented on #4849
Hey @Santhosh-Sellavel - looks like this may have been missed on our end but I've applied the label now, so @trjExpensify will suss out payment for the reporting of the issue. Thanks!

[2021-08-29 22:41] jliexpensify commented on #4772
Paid and cancelled contract. Thanks Rajat!

[2021-08-29 22:58] kadiealexander commented on #4870
Thanks for fixing this @akshayasalvi!! :)

[2021-08-30 01:24] Christinadobrzyn commented on #4892
Not overdue removed label - the video really helps to see this workflow.

[2021-08-30 05:04] Furqankhanzada commented on #4129
@marcaaron any update for me ?

[2021-08-30 06:10] MTN718 commented on #4355
Yes agree. so first we need to try use react native-haptic-feedback soft method if it's not working, we can customize library

[2021-08-30 06:11] MTN718 commented on #4629
Any feedback for my proposal?

[2021-08-30 07:47] shawnborton commented on #4860
Awesome, thank you!

[2021-08-30 07:49] shawnborton commented on #4678
Hi @MirFahad58 - it looks like you are not using the correct style for the timezone. Please reference the mockups for the correct styles, but we should already have these styles in place as we currently show the timezone for a user when you message someone outside of your own timezone.

Could you also please put a space ` ` between the Name and (pronouns) as well? Thanks!

[2021-08-30 07:52] shawnborton commented on #4866
Small buttons should be using smaller text by default right? Basically if you pass in the "small" prop to the button, I would assume it would use the small font size (11px) by default.

In terms of this looking a bit off... maybe it's just the icon that feels a bit off? So perhaps for small buttons, if the icons were a bit smaller (like 16x16 instead of 20x20?) they might look better?

[2021-08-30 08:09] Dal-Papa commented on #4856
The proposal looks coherent. Will tag a CM.

[2021-08-30 08:09] botify commented on #4850
Bump @Santhosh-Sellavel @aman-atg @dklymenk @kakajann @kidroca @parasharrajat @rdjuric @thesahindia @mananjadhav

[2021-08-30 08:10] MirFahad58 commented on #4678
Yeah already done screenshot were little bit old

[2021-08-30 08:13] shawnborton commented on #4678
Sounds good, we look forward to seeing your PR!

[2021-08-30 08:28] Christinadobrzyn commented on #4264
Doubling the price to $500.

[2021-08-30 09:11] Beamanator commented on #4864
@thesahindia I like your idea, it's short and sweet and works quite well 👍 I just assigned this task to you, please submit a PR when you have a chance :)

[2021-08-30 09:18] Beamanator commented on #4211
What if we go with this plan:
1. Implement Rajat's code above (assuming we test and don't find any issues)
2. Rajat tries to follow up with React Navigation to get the change approved (maybe also submit a PR to them so they can test it on their end?)
3. If React Navigation merges the change, Rajat refactors the code above with the simpler fix

[2021-08-30 09:19] Beamanator commented on #4716
Assigning Rajat since he should have been assigned earlier :D

[2021-08-30 09:25] Santhosh-Sellavel commented on #4864
@Beamanator Just for clarification, I hope answer helps me in future my proposals.

As I said in my proposal  https://github.com/Expensify/App/issues/4864#issuecomment-906991980

When we have the values we need in props itself why we need to do the spliting from `displayName`.

[2021-08-30 09:36] HorusGoul commented on #4819
Could we confirm the `--port` parameter works correctly with iOS? I remember changing the metro port, but it didn't work with iOS because the `8081` is hardcoded in some iOS-specific files.

[2021-08-30 09:38] Beamanator commented on #4864
@Santhosh-Sellavel If a bug surfaces in the future and we end up needing to use those props, your proposal will be amazing 👍 However, my thought on this was that @thesahindia 's was so nice and simple (and worked when I tested) that it makes the most sense to do a one-line fix.

[2021-08-30 09:40] Beamanator commented on #4163
@dylanexpensify assigning you since Puneet unassigned himself - seems your takeover is official! 😅

[2021-08-30 11:42] dklymenk commented on #4819
@HorusGoul
You are right. It is hardcoded: https://github.com/facebook/react-native/issues/9145

The issue is closed, but I can still reproduce it.

Neither the env var `RCT_METRO_PORT` nor the `--port` option/flag seem to do the job for me.

So I guess this leaves us with Solution 1?

[2021-08-30 12:30] Santhosh-Sellavel opened #4904 "Chat User Details is missing Email/Phone number leads to confusion & issues"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Need to have two user accounts to reproduce this, with the following details.
1. One User Account with both phone & email linked let's call `UserME`
2. Another user accou

[2021-08-30 12:31] Santhosh-Sellavel opened #4905 "[HOLD for payment 2021-11-04] Copy Email or Phone Option should be consistent across devices"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to the new Expensify
2. Open any chat, click on the user profile header
3. User Details page will open, it will show email/phone based on the

[2021-08-30 12:31] Santhosh-Sellavel opened #4906 "Automated Accounts Issues still showing Time in Details Page and call options should be reconsidered."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open new Expensify
2. Open concierge chat
3. Click on chat header to view details
4. We still show Local Time for concierge, other automated acco

[2021-08-30 13:25] azimgd commented on #3381
Hey @thienlnam,

After long research, I wasn't able to solve the issue by patching React Native itself. As it's stated in deliverable:

The reason is that RN `column-reverse` won't anchor scroll position to the bottom on Mobile device as it does on Web
https://github.com/facebook/yoga/issues/866#issuecomment-797548962

Microsoft is fixing this issue on react-native-windows by altering specs for `c

[2021-08-30 13:39] parasharrajat commented on #4905
Note: This feature was designed this way. I don't know if plan has changed now.

[2021-08-30 13:48] Santhosh-Sellavel commented on #4905
## Suggestion:
 We can do something like this.

Slack provides both
On long press email is copied
On tap: compose window is opened.

https://user-images.githubusercontent.com/85645967/131349173-9c3db309-644e-4cde-8885-8e66e175e14f.mp4

[2021-08-30 14:06] bfitzexpensify commented on #4517
Sitting with Tyler for review.

[2021-08-30 14:10] bfitzexpensify commented on #4656
Heading ooo so reassigning `External` label. This is a weekly that is going to be a rolling issue, likely with more than one solution — so if/when we hire contributors, we'll want to keep the posting open for more proposals.

[2021-08-30 14:15] isagoico opened #4910 "[HOLD for payment 2021-12-15] [$4000] Web app does not connect on Chomebook device"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Connect Chromebook to internet via [Instant Tether](https://www.theverge.com/2019/2/4/18210378/chromebook-instant-tethering-android-mobile-hotsp

[2021-08-30 14:18] bfitzexpensify commented on #3952
@parasharrajat, hired you on upwork — will pay on the usual 7 day schedule after deploy to prod

[2021-08-30 14:19] isagoico commented on #4910
@kadiealexander this was my bad, I created the issue and it still had the `AutoAssignerTriage` label. Adding the engineering label now.

[2021-08-30 14:20] kidroca commented on #3867
Submitted 2 PRs

1. Add file handling capabilities to Onyx: https://github.com/Expensify/react-native-onyx/pull/102
2. Small updates to Expensify/App to showcase offline file persistence: https://github.com/Expensify/App/pull/4908

You can also use the branch to build and run the POC: https://github.com/kidroca/Expensify.cash/tree/kidroca/file-handling-poc

#### Overview of the changes

The change

[2021-08-30 14:39] isagoico commented on #4622
Issue not reproducible during KI retests (Fixed)

[2021-08-30 14:42] isagoico commented on #3901
Issue reproducible during KI retests

[2021-08-30 14:42] isagoico commented on #4110
Issue reproducible during KI retests

[2021-08-30 14:42] isagoico commented on #4623
Issue reproducible during KI retests

[2021-08-30 14:43] isagoico commented on #4861
Issue reproducible during KI retests

[2021-08-30 14:43] isagoico commented on #4856
Issue reproducible during KI retests

[2021-08-30 14:43] isagoico commented on #4867
Issue reproducible during KI retests

[2021-08-30 14:44] MTN718 commented on #3901
@roryabraham my PR deployed in current KI retests?

[2021-08-30 15:02] mananjadhav commented on #4110
@isagoico which Safari version did you test on?

[2021-08-30 15:07] isagoico commented on #2499
Issue reproducible during KI retests

[2021-08-30 15:08] isagoico commented on #4625
Issue not reproducible during KI retests (fixed)

[2021-08-30 15:08] isagoico commented on #4866
Issue reproducible during KI retests

[2021-08-30 15:09] isagoico commented on #4853
Issue not reproducible during KI retests (It was tested on other devices). If needed I can ask the tester to record the crash logs again .

[2021-08-30 15:09] isagoico commented on #4855
Issue reproducible during KI retests

[2021-08-30 15:09] isagoico commented on #4863
Issue not reproducible during KI retests (FIxed)

[2021-08-30 15:11] isagoico commented on #4754
Issue reproducible during KI retests

[2021-08-30 15:11] isagoico commented on #4864
Issue reproducible during KI retests

[2021-08-30 15:14] alex-mechler commented on #4866
Ahh, this is because a normal button did not work in this case, I had to create my own "button" with similar styles to get the icon in there.

I agree, I think that the icon being large is what is throwing me off, I can try with a smaller icon and will post results here

[2021-08-30 15:15] shawnborton commented on #4866
Is it possible to do this using the same button component though? I think ideally we don't want a different kind of button to maintain.

[2021-08-30 15:17] isagoico commented on #4110
Here's the screenshot
![image](https://user-images.githubusercontent.com/44479856/131362531-4532281a-3455-4b12-b341-4ca2483348c7.png)

[2021-08-30 15:18] alex-mechler commented on #4866
Possibly, I can look into refactoring that. It might take a minute, so let me test with the icon sizes first, so that we can settle on look before worrying about that.

[2021-08-30 15:19] mananjadhav commented on #4110
Okay thanks, I’ll check this version. I had 14.0.3 for which it worked.

[2021-08-30 15:20] garudamon commented on #3381
hi, please make a consider my previous proposal. for fixing your style issue and removing the lodash reverse function.

it will fix the jump issue on web, and won't have an effect on mobile app

[2021-08-30 15:24] alex-mechler commented on #4866
Hmm, 16x16 is already what "small" is for an icon.
![image](https://user-images.githubusercontent.com/22447860/131363398-73ece9a3-a57a-48e7-993f-a57f9805325b.png)

How about adding an xsmall of 12x12?
![image](https://user-images.githubusercontent.com/22447860/131363530-6c7d0d3e-ca03-480b-bfd7-fb18005f7453.png)
![image](https://user-images.githubusercontent.com/22447860/131363600-7353328b-bcf7-41f

[2021-08-30 15:29] shawnborton commented on #4866
That works for me. So that makes me wonder, where else do we have these small buttons that have icons... maybe nowhere?

[2021-08-30 15:29] shawnborton commented on #4866
What I am saying is, I wonder if 12x12 should just be the default for small buttons instead of having to add an XS class.

[2021-08-30 15:31] alex-mechler commented on #4866
The button component currently has no way to show an icon as well, so I think this is the only case where we do.

I would default the text to be textSmall and iconXSmall when the button is `small`.

[2021-08-30 15:31] adelekennedy commented on #4673
We're not overdue Melvin - just waiting for this PR to fully merge (following this [SO](https://stackoverflow.com/c/expensify/questions/7582))

<img width="932" alt="Screen Shot 2021-08-30 at 8 30 18 AM" src="https://user-images.githubusercontent.com/60450566/131364400-b7d6a5c6-6141-449e-a8e3-73e196347352.png">

[2021-08-30 15:31] michelle-thompson commented on #4866
Unpopular opinion here, but I actually feel like 12x12 is too small. I think it's hard to distinguish on web what that icon is. Plus, it looks so much smaller than the grey icons that it feels a little distracting.

[2021-08-30 15:32] shawnborton commented on #4866
Fair point Michelle, and maybe the phone icon itself is a weird one.. maybe a more common case of having a down/up caret wouldn't look so strange.

Okay, so maybe we just keep the icon at 16x16 then and make sure the font size is 11pt (like other small buttons) and call it a day?

[2021-08-30 15:33] alex-mechler commented on #4866
Works for me, I can also do that refactor to make this not a special case button

[2021-08-30 15:35] shawnborton commented on #4866
Sounds great to me - hbu Michelle?

[2021-08-30 15:42] michelle-thompson commented on #4866
Sounds great, thanks guys!

[2021-08-30 15:45] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-08-30 15:45] botify commented on #4407
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-08-30 15:48] sketchydroide opened #4911 "[HOLD for payment 2021-12-13] URL link is mangled up with the rest of the text"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Wrote Chronos 10am update on desktop
2. Added GH links to the update
3. submitted
4. opened conversation on mobile iOS
5. Links are on top of the

[2021-08-30 15:57] mallenexpensify commented on #4256
Hired @aman-atg in Upwork.  @Luke9389 can you work with @jasperhuangg if/when needed on this? He's newer to E/App issues.  Thanks

[2021-08-30 15:58] NicMendonca commented on #4853
@kavimuru as per @isagoico last message ☝️ Can you please see if you can reproduce/ record the crash logs again?

[2021-08-30 16:02] mananjadhav commented on #4110
@nickmurray47 @johnmlee101 Can you please help me verify if this was pushed to staging yet? I can't find my changes on the staging web page.

This was the last comment I see https://github.com/Expensify/App/pull/4802#issuecomment-907341352. Do we also add a comment after it is pushed to staging?

and this is the video on my localhost vs staging webpage.
https://user-images.githubusercontent.com/30

[2021-08-30 16:06] Beamanator commented on #4850
The monthly tabs should now be editable!

[2021-08-30 16:06] #4622 closed

[2021-08-30 16:07] deetergp commented on #4622
Closing since this is no longer reproducible.

[2021-08-30 16:17] MitchExpensify commented on #4608
I wonder if this is related or if anyone else is experiencing not being able to access New Expensify at all on v 1.0.88.2:

https://user-images.githubusercontent.com/36425901/131370866-97c391ec-0baf-49a9-a838-d5ff65cfa2da.MP4

[2021-08-30 16:19] AndrewGable commented on #4608
Sounds great to me @roryabraham !

[2021-08-30 16:29] #4608 closed

[2021-08-30 16:30] botify commented on #4608
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-08-30 16:33] roryabraham commented on #4828
Checking off https://github.com/Expensify/App/issues/4608 pending prod deploy.

[2021-08-30 16:45] parasharrajat commented on #4888
I think there is already a proposal here so I don't need to propose here and looks similar to what I mentioned on the slack thread. cc: @mountiny

[2021-08-30 16:48] #4863 closed

[2021-08-30 16:52] roryabraham commented on #4233
Yeah, it's not high-priority.

[2021-08-30 16:53] MirFahad58 commented on #4678
@shawnborton pull request should be to "main" branch?

[2021-08-30 16:54] roryabraham commented on #3901
Not yet

[2021-08-30 16:54] shawnborton commented on #4678
@MirFahad58 yup, that is correct.

[2021-08-30 16:56] roryabraham commented on #4729
Looks like the PR was merged, making this a weekly while we wait for it to be deployed to prod.

[2021-08-30 16:59] roryabraham commented on #4898
AFAICT this has no notable effect on the resulting markdown and isn't creating a real problem. Closing this out.

[2021-08-30 16:59] #4898 closed

[2021-08-30 17:03] mallenexpensify commented on #4910
Outta curiosity I tested tethering from an iphone and didn't have any issues

[2021-08-30 17:18] isagoico commented on #4828
Looks like https://github.com/Expensify/App/pull/4720 was a pass 🎉
Testing https://github.com/Expensify/App/pull/4824 now

[2021-08-30 17:18] OSBotify commented on #4828
This issue either has unchecked QA steps or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2021-08-30 17:20] marcaaron commented on #4129
@namnm Yes the reasons are already laid out in the history of this thread. Please read it before submitting a proposal. Thanks!

Possibly, but only as an extreme last resort. Ideally we would prove there is an issue with `react-native` and then propose such a change upstream. As far as I know, nobody has proven that we are dealing with a limitation of `react-native` so we're kind of putting a solu

[2021-08-30 17:21] isagoico commented on #4828
@roryabraham I think https://github.com/Expensify/App/pull/4824 has to be tested when it hits production (not sure.)
Also for https://github.com/Expensify/App/pull/4796 let me know if this has been tested or if you need me to check it out. The checklist is ready to be closed 🎉 🎉

[2021-08-30 17:26] thienlnam commented on #3381
Hey @azimgd,  thanks for the investigation and the response.  Unfortunately, patching react-native-web was not the solution we are looking for as the maintainer of that library has already suggested the problem is in react-native. We do see your points however and we'll discuss internally and get back to you on this.

[2021-08-30 17:27] MitchExpensify commented on #4816
[Upwork](https://www.upwork.com/jobs/~0145551e9c6beb2066) Job

[2021-08-30 17:31] botify commented on #4608
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @cead22 in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:31] botify commented on #4407
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @pecanoro in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:31] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @pecanoro in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:31] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @Beamanator in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:31] botify commented on #4864
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @Beamanator in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:32] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @nkuoch in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:32] botify commented on #4849
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @nkuoch in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:32] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @Jag96 in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:32] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @roryabraham in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:32] botify commented on #4863
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @roryabraham in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:32] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @nickmurray47 in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:32] botify commented on #4601
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @sketchydroide in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:32] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @sketchydroide in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:32] botify commented on #4870
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @sketchydroide in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:32] botify commented on #4615
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @iwiznia in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:32] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @iwiznia in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:32] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @Beamanator in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:32] botify commented on #4759
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @Beamanator in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:32] botify commented on #4513
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @Beamanator in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:32] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @Beamanator in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:32] botify commented on #3901
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @robertjchen in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:32] botify commented on #4748
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @luacmartins in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:33] botify commented on #4499
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @iwiznia in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:33] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @iwiznia in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:33] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183084866) to staging by @sketchydroide in version: 1.0.88-3 🚀

 platform | result
 ---|---
🤖 android 🤖|cancelled 🔪
🖥 desktop 🖥|cancelled 🔪
🍎 iOS 🍎|cancelled 🔪
🕸 web 🕸|success ✅

[2021-08-30 17:33] deetergp commented on #4543
Apologies for my lateness on this one, another very time sensitive project took nearly all my attention last week. Let's go with @mananjadhav modified suggestion with the caveat that we replace our massive emoji regex with the lodash regex from the article @parasharrajat linked.

[2021-08-30 17:33] marcaaron commented on #4129
Since this issue has been running for some time and there is still **no clear solution** we will now only reply to proposals that follow these instructions:

- Read **the entire comment thread** to be sure you are not proposing a solution that was already discussed
- Provide a **clear explanation of the problem and why it happens**
- Provide a clear explanation of the solution and **how to impleme

[2021-08-30 17:36] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:36] botify commented on #4863
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:36] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:36] botify commented on #4601
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:36] botify commented on #4870
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:36] botify commented on #4788
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:37] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:37] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:37] botify commented on #4730
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:37] botify commented on #4758
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:37] botify commented on #4772
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:37] botify commented on #4379
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:37] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅

[2021-08-30 17:38] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1183075988) to production by @roryabraham in version: 1.0.88-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|failure ❌
🕸 web 🕸|success ✅