[2022-08-08 15:06] puneetlath commented on #10022
Hm, yes I agree this is the expected behavior and not a bug. Closing!

[2022-08-08 15:16] Julesssss commented on #10202
Any update here @Santhosh-Sellavel?

[2022-08-08 15:22] luacmartins commented on #9813
I haven't come across this one yet. Do we have reproducible steps?

[2022-08-08 15:34] mvtglobally commented on #10253
@roryabraham  Regression is completed
PR https://github.com/Expensify/App/pull/10070 is failing https://github.com/Expensify/App/issues/10259. It seems reverted. Do we need to retest or ok to check it off?
PR https://github.com/Expensify/App/pull/10197 is failing https://github.com/Expensify/App/issues/10257. PR also was reverted. Do we retest or this is ok to checkoff now
PR https://github.com/Ex

[2022-08-08 15:38] MitchExpensify commented on #9402
How is the PR coming along @marktoman ?

[2022-08-08 15:41] MitchExpensify commented on #9402
How is the PR coming along @marktoman ?

[2022-08-08 15:47] stitesExpensify commented on #10078
I'm not sure tbh. CC: @marcaaron @roryabraham

[2022-08-08 15:48] stitesExpensify commented on #7835
To clarify @JalalMitali you wrote an actual video player component? It is purely in JS or is it native? Just trying to get an idea of your proposal since there isn't any code provided

[2022-08-08 15:49] Santhosh-Sellavel commented on #7541
PR in review @stitesExpensify

[2022-08-08 16:08] thesahindia commented on #9421
PR is up.

cc: @mananjadhav

[2022-08-08 16:12] tgolen commented on #10225
Before getting proposals on this, I am in the same boat as @marcaaron. Where does the alt+delete test come from in the first place? It doesn't make very much sense. I tried some quick searching, but couldn't come up with anything.

[2022-08-08 16:15] roryabraham commented on #10253
- https://github.com/Expensify/App/pull/10070 is not reverted yet. Revert PR [here](https://github.com/Expensify/App/pull/10299).
- AFAICT https://github.com/Expensify/App/pull/10197 was not reverted (and there were no plans to do so). I believe the offending PR was actually https://github.com/Expensify/App/pull/10222, which was reverted in https://github.com/Expensify/App/pull/10266. Please retes

[2022-08-08 16:26] roryabraham commented on #9813
AFAIK no dev crashes should be included in Firebase Crashlytics. As such no issues like these should be created from crashes that occurred on dev, and I think that means this crash occurred on staging/production.

[2022-08-08 16:28] Santhosh-Sellavel commented on #10258
@Beamanator

Not able to reproduce on production. And the library was included on the Orginal PR #8511.

This case is not possible, I tried to share it became a normal image on android. It occurs only on iOS for now.

[2022-08-08 16:29] roryabraham commented on #10078
AFAIK we do not use Firebase test-lab anywhere, but Google might use it as part of their App review. It would be pretty valuable if we could run Google's app review test suite as part of our CI, but that seems out-of-scope of this issue (and might take too long to be feasible as a PR check).

[2022-08-08 16:30] Santhosh-Sellavel commented on #9813
@roryabraham Can't we get details like whether it's production/staging also as part of this logs?

[2022-08-08 16:30] JalalMitali commented on #7835
it's a native component written in pure Kotlin and now working on Swift

[2022-08-08 16:33] Julesssss commented on #9813
Thanks for confirming, it's possible to do this _if we wanted to_, but I agree it's better to keep them separated.

[2022-08-08 16:34] OSBotify commented on #10253
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10299) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.88-5` :rocket:

[2022-08-08 16:34] OSBotify commented on #10253
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.88-5 has been deployed to staging :tada:

[2022-08-08 16:34] neil-marcellini commented on #10182
That proposal looks good to me too! The only tiny thing I would change is updating the condition to avoid negations. I think it's more clear like so.
`if (!this.state.isFocused || keyBoardEvent.key === 'ArrowUp' || keyBoardEvent.key === 'ArrowDown')`

@errahsoufiane Please put up a PR and we will give it a review.

[2022-08-08 16:37] JalalMitali commented on #7835
it's a native module that's exported to React Native so should I keep working ?

[2022-08-08 16:42] Santhosh-Sellavel commented on #10202
@Julesssss

1. I tried to validate the @liyamahendra proposal, this is the behavior. I notice the vertical padding becomes uneven as soon multiline text is entered, I believe this should be addressed too.

https://user-images.githubusercontent.com/85645967/183467297-8cbc539e-e7eb-4df1-8968-98aa166eeb33.mp4

2. Also I noticed one more thing while testing, we have left space to show ` user typing ..

[2022-08-08 16:56] Santhosh-Sellavel commented on #10198
@eVoloshchak
Your proposal looks not DRY to me, can you revisit it please thanks.

@advaitasol9

This is the expected behavior, we should show login id till personal details are fetched, in the case of mobile number `smsdomain` should not be displayed in UI.

Waiting for other proposal
cc: @Beamanator

[2022-08-08 17:03] Santhosh-Sellavel commented on #9497
But I'm not seeing a comma there,

https://user-images.githubusercontent.com/85645967/183473172-f4504ab1-9356-48ec-9217-4947e1affc1b.mp4

[2022-08-08 17:08] michaelhaxhiu commented on #10107
Yep, true. I got the reminder to double price on Friday last week but didn't have time to action it. Doubling now.

[2022-08-08 17:11] Santhosh-Sellavel commented on #9662
No @JalalMitali we should not do it like that, this is some kind of hacky solution.

[2022-08-08 17:12] JalalMitali commented on #9662
okay no problem :)

[2022-08-08 17:19] OSBotify commented on #10253
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10239) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.88-6` :rocket:

[2022-08-08 17:19] OSBotify commented on #10253
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.88-6 has been deployed to staging :tada:

[2022-08-08 17:20] mountiny commented on #9424
We are discussing this, the internal ones get closed when issue is merged.

[2022-08-08 17:20] deetergp commented on #10282
I was able to reproduce this from scratch with the following steps:
1. Create a new user in olddot web
2. Validate the account
3. Create a Free plan Workspace/Policy
4. Log into the olddot app with the new test account
5. Navigate to Settings > Policies > View All > Edit (on the workspace policy) > Current Plan
6. User is redirected to mobile web and is shown an endless spinner

Because this is re

[2022-08-08 17:21] adelekennedy commented on #10157
[internal](https://www.upwork.com/ab/applicants/1556691903692402688/job-details)
[external](https://www.upwork.com/jobs/~01769eb96296e02db3)

[2022-08-08 17:21] adelekennedy commented on #9580
on hold

[2022-08-08 17:24] adelekennedy commented on #7942
still on hold

[2022-08-08 17:24] thesahindia commented on #10198
### Proposal

We just have to use `{Str.removeSMSDomain(displayName)}` below

https://github.com/Expensify/App/blob/c15c2e73e5b6e05b23a1207cef74853795af9df7/src/components/DisplayNames/index.js#L104

We don't need to remove sms domain at welcome message because the domain only shows up for a brief moment when you initialise a new chat but because now we are showing skeleton ui so the welcome messa

[2022-08-08 17:24] #6941 closed

[2022-08-08 17:26] michelle-thompson commented on #10202
@Santhosh-Sellavel are you referring to the buttons aligning to the bottom of the composer? If so, I believe that is intentional.

This looks like a bug to me.

[2022-08-08 17:30] errahsoufiane commented on #10182
@neil-marcellini applied job and created PR
@parasharrajat please check PR

[2022-08-08 17:33] Santhosh-Sellavel commented on #9424
Cool, we can ask melvin to reopen it if that's not a problem. Like it does for crash issues.

[2022-08-08 17:39] roryabraham commented on #9813
That would be a nice feature – feel free to post a feature request in #expensify-open-source.

[2022-08-08 17:40] Santhosh-Sellavel commented on #10202
No not button alignments.  Look at red boxes, speaking about vertical padding for text.
<img width="775" alt="Spacing_issue" src="https://user-images.githubusercontent.com/85645967/183479651-45b15441-99e4-4bc7-9654-6a9504e094a4.png">

[2022-08-08 17:46] roryabraham commented on #9726
No update.

[2022-08-08 17:46] roryabraham commented on #7284
No update

[2022-08-08 18:00] advaitasol9 commented on #10198
Proposal

In OptionsListUtils.js changing the function "getPersonalDetailsForLogins" as follows will solve the issue in all 3 places:
<img width="645" alt="Screenshot 2022-08-08 at 11 27 34 PM" src="https://user-images.githubusercontent.com/93445984/183483086-376583b0-4343-4361-b495-17551bfa7f51.png">

[2022-08-08 18:23] Santhosh-Sellavel commented on #9734
The proposal is from `DeprecatedCustomActions.js` which is the unaccepted solution for now.

@trjExpensify Can you make it to weekly/monthly thanks!

[2022-08-08 18:24] Santhosh-Sellavel commented on #9876
@puneetlath bump

[2022-08-08 18:25] Santhosh-Sellavel commented on #10109
Sure will send a PR in a couple of days @puneetlath

[2022-08-08 18:36] roryabraham commented on #10214
Found another scenario in [this workflow run](https://github.com/Expensify/App/runs/7724808421?check_suite_focus=true):

- Staging was at b568742cc0bef0369e27454d25600ea79b5e7333
- https://github.com/Expensify/App/commit/ee8989dc7cb5a1debcbf71ea3227e9105112afe1 was CP'd to staging:

[code]

- Then staging included this unrelated change, which was CP'd in https://github.com/Expensify/App/pull/10295

[2022-08-08 18:42] arielgreen commented on #10189
Merged so closing.

[2022-08-08 18:42] #10189 closed

[2022-08-08 18:43] puneetlath commented on #10274
@thienlnam I believe you would know this -- should the avatar be something that is getting cached already? Or is this the same as https://github.com/Expensify/App/issues/6527 where we need to store the file in OnyxDB in order for it to be rendered on all pages even when offline?

[2022-08-08 18:46] puneetlath commented on #6527
That is not a regression I don't think. In any case, if it is, it's not from this issue. So you can ignore that comment.

[2022-08-08 18:51] arielgreen commented on #9981
@parasharrajat @thesahindia @dhairyasenjaliya hired in Upwork, please accept and I will remit payment

[2022-08-08 19:13] alifarooq96 commented on #9813
This should be a fairly straightforward fix. I do not know how to reproduce the issue but the issue is a fairly common one and has been seen by several applications.

Simply adding the following to `app/build.gradle` should fix it.
`implementation'com.facebook.soloader:soloader:0.9.0+'`

[2022-08-08 19:14] isagoico commented on #7962
@roryabraham Hey! Can you point us to the QA steps that are mentioned above?
We checked #9841, do you need us to retests https://github.com/Expensify/App/issues/7962 once that PR is deployed?

[2022-08-08 19:27] puneetlath commented on #10289
External Upwork post: https://www.upwork.com/jobs/~01a0c1a1865e60683d
Internal Upwork post: https://www.upwork.com/ab/applicants/1556723707381051392/job-details

[2022-08-08 19:28] roryabraham commented on #7962
Hi, yes, your understanding is correct. Once https://github.com/Expensify/App/pull/9841 is deployed, retest this issue.

[2022-08-08 19:31] thienlnam commented on #10274
I know we've already done some work having images cached, maybe it's because we didn't fetch the larger image (in the profile view) while we were online because it seems like on the chats page, the profile image is showing.

The work for https://github.com/Expensify/App/issues/6527 will likely cache attachments for much longer and should have more storage available for us to do that

I _think_ tha

[2022-08-08 19:51] OSBotify commented on #10253
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.88-7 has been deployed to staging :tada:

[2022-08-08 20:00] aldo-expensify commented on #10181
I was trying to test @railway17 's proposal, but the App for android is extremely slow at the moment (https://expensify.slack.com/archives/C01GTK53T8Q/p1659863626602549)

I updated the expected result in the GH issue to be more precise

[2022-08-08 20:06] shawnborton commented on #10202
I agree, the missing space for the typing indicator is a bug.

[2022-08-08 20:18] arosiclair opened #10311 "Include linked policy name with report summary name"
**Problem**
[Per this Google Doc convo](https://docs.google.com/document/d/1xcqVR5IyH1Olhjww41dvhHoNNUm4lua9zD-2EOSA3Ec/edit?disco=AAAAdSvoTsw), some report pages including the `ReportSettingsPage` need the name of the linked policy, but this data is not included with report data provided by the API so it needs to be searched on the client.

**Solution**
Include linked policy name with report summ

[2022-08-08 20:24] trjExpensify commented on #9734
I caught up with Marc earlier and I'm going to pop the issue on `[Hold]` & `Planning` for the time being. We have plans to revisit `react-navigation` more holistically, so we should account for this issue then to avoid adding any additional workarounds or hacks atop of what is already complex code.

[2022-08-08 20:26] michelle-thompson commented on #10202
@Santhosh-Sellavel thank you for clarifying, I agree that the top and bottom spacing should be equal!

[2022-08-08 20:27] bfitzexpensify commented on #10291
Upwork job [here](https://www.upwork.com/jobs/~014406160e54028c57)
Reporting job [here](https://www.upwork.com/jobs/~012384282af9b4ff2a) - please apply to this @dhairyasenjaliya

[2022-08-08 20:28] KingStar1001 commented on #10292
https://manzoorwani.dev/how-we-brought-down-github-actions-workflow-execution-time-from-20-minutes-to-5-minutes/
This will be helpful for this issue.

[2022-08-08 20:31] mountiny commented on #10292
@KingStar1001 I am afraid this is an incorrect link :/

[2022-08-08 20:32] roryabraham commented on #7835
Overall this feels like a really big product change to do without a design doc. It looks like some of the react-native video player libraries:

- https://github.com/cornedor/react-native-video-player
- https://github.com/react-native-video/react-native-video

Are not super actively maintained or well-documented. That said, I think at least we'd want to test out some of the existing options first a

[2022-08-08 20:35] roryabraham commented on #9813
If this is common and this fix is that simple, I wonder if we should try to create a PR to update the React Native template? In general we don't want too many custom changes in `app/build.gradle` because it make upgrading RN versions harder. I don't think we need to block on that but it would be good to try to make that change and see what the React Native team has to say about it.

[2022-08-08 20:36] KingStar1001 commented on #10292
@mountiny What do you mean? is it not working?

[2022-08-08 20:38] mountiny commented on #10292
The article linked is about Github CI, this issue is about flag emojis

[2022-08-08 20:43] KingStar1001 commented on #10292
@mountiny Oh, sorry. I have a mistake. this is solution for [other issue.](https://github.com/Expensify/App/issues/10289).

[2022-08-08 20:43] KingStar1001 commented on #10289
https://manzoorwani.dev/how-we-brought-down-github-actions-workflow-execution-time-from-20-minutes-to-5-minutes/
This will be helpful for this issue.

[2022-08-08 20:44] Luke9389 commented on #10185
bump @zanyrenney & @mvtglobally

[2022-08-08 20:44] KingStar1001 commented on #10289
I have sent proposal on Upwork.

[2022-08-08 20:46] alifarooq96 commented on #9813
This seems to be a known issue: https://github.com/facebook/react-native/issues/29528#issuecomment-737734746
Should be a non-issue in terms of react-native version upgrades but I understand your concern around that. Updating the react native template makes sense.

Happy to open that PR, I have a corresponding proposal on Upwork.

[2022-08-08 20:46] roryabraham commented on #10289
@KingStar1001 can you also post a proposal in this GitHub issue please?

[2022-08-08 20:47] Luke9389 commented on #9427
gonna close this up by the end of the week.

[2022-08-08 20:48] KingStar1001 commented on #10289
@roryabraham How can I post a proposal in GitHub issue?
kindly tell me how..

[2022-08-08 20:50] puneetlath commented on #10289
@KingStar1001 you can check out our [contributing guidelines](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md) as well as other issues in the repo to get a sense of how to post a proposal.

Generally, we're looking for a high-level overview of how you plan to solve the problem. If we like your proposed approach, we'll hire you for the job. Let us know if you have any

[2022-08-08 20:51] mountiny commented on #10292
Np, thanks!

[2022-08-08 20:58] KingStar1001 commented on #10289
"Proposal"
Hi Expensify, This is Amine from Upwork.

Solution:
GitHub actions has "build matrix", where where you can create multiple jobs by performing variable substitution in a single job definition.
We can reduce PR time using "build matrix"

[2022-08-08 21:25] Puneet-here commented on #9510
### Proposal

I have checked the previous PR and found that we tried to use two solutions.
1. Moving the state to parent component ([SignInPage.js](https://github.com/Expensify/App/blob/main/src/pages/signin/SignInPage.js))
2. Using onyx, we just have to use account object we can store login, password there and call onyx.merge at onChange.

Both of them works, I prefer onyx more but can go by any

[2022-08-08 21:59] puneetlath commented on #9728
Is https://github.com/Expensify/App/issues/10223 related to this? I'm guessing not since it happens on both staging and production.

[2022-08-08 22:04] luacmartins commented on #9580
@adelekennedy removing hold! We can post this job on upwork and get contributors to start working on it!

[2022-08-08 22:05] luacmartins commented on #9575
No longer on hold!

[2022-08-08 22:09] luacmartins commented on #9577
@puneetlath @Santhosh-Sellavel @liyamahendra this issue is no longer on hold

[2022-08-08 22:09] luacmartins commented on #9578
@mallenexpensify this issue is no longer on hold!

[2022-08-08 22:10] luacmartins commented on #9579
Cool then! Removing the hold on all form refactor issues!

[2022-08-08 22:10] luacmartins commented on #9579
@kevinksullivan can you please post this job on upwork?

[2022-08-08 22:11] luacmartins commented on #9581
Hold removed! looking for contributors!

[2022-08-08 22:11] jeet-dhandha commented on #10202
https://github.com/Expensify/App/issues/10202#issuecomment-1204847785

Can anyone test this one ?

[2022-08-08 22:12] luacmartins commented on #9582
No longer on hold!

[2022-08-08 22:21] puneetlath commented on #9876
Sorry! I was off last week. Thanks for the bumps.

I agree that it's not a regression. That's how we agreed to implement it. So I think it's fine to just go ahead and handle that on the separate issue.

[2022-08-08 22:26] adelekennedy commented on #9580
let's gooooo

[2022-08-08 22:28] roryabraham commented on #10289
The format for your proposal is fine, but I'm confused how you might use a build matrix to speed up our unit tests. We'll need more details to be able to evaluate the proposal

[2022-08-08 22:28] adelekennedy commented on #9580
[internal](https://www.upwork.com/ab/applicants/1556769161001746432/job-details)
[external](https://www.upwork.com/jobs/~01f2bd79e32b079f23)

[2022-08-08 22:30] puneetlath commented on #10274
Tested and it does seem to cache that if you've gone to it. So I'm going to close this in favor of https://github.com/Expensify/App/issues/6527.

Thanks @thienlnam!

[2022-08-08 22:30] #10274 closed

[2022-08-08 22:45] kevinksullivan commented on #9737
Price doubled

[2022-08-09 00:05] trjExpensify commented on #7862
Where are we at here, guys?

- Did we get anywhere on figuring out why the arrows can't be toggled on mWeb (and both mWeb & Native for PDFs)? If not, let's start a discussion in #expensify-open-source for more 👀 if we need them!

[2022-08-09 00:10] AndrewGable commented on #8888
I think we are actually working on this one internally and might be able to close this

[2022-08-09 00:14] trjExpensify commented on #9238
👋 @Puneet-here you still need to apply to the job [here](https://www.upwork.com/jobs/~01e673ea3f72bd1dd4) before I can settle up on this one. @mananjadhav with the two deploys above, can you confirm there was a regression here for C+ payment due?

[2022-08-09 00:18] trjExpensify commented on #10221
Sweet! @mateusbra & @parasharrajat can you both apply to the Upwork job [here](https://www.upwork.com/jobs/~014e2ad669b286cdd1), please?

[2022-08-09 00:23] dhairyasenjaliya commented on #9981
@arielgreen job expired

[2022-08-09 00:27] arielgreen commented on #9981
Paid @parasharrajat @thesahindia

@dhairyasenjaliya I just sent a new offer.

[2022-08-09 00:27] andrewlor commented on #8608
## Proposal

### Issue
box-shadows are outset by default, meaning the shadow is drawn outside of the element area. The problem here for the chat rows is that the elements are positioned directly adjacent to other elements without spacing, so certain edges of the box-shadow are getting cut off.

### Solution
Change focus visible box-shadows so they are inset rather than outset. Meaning they will be

[2022-08-09 00:34] roryabraham commented on #10214
I'm able to reproduce the initial problem in a fresh repo. Added unit tests covering this here: https://github.com/Expensify/App/pull/10316

Now need to figure out how to fix this

[2022-08-09 00:35] dhairyasenjaliya commented on #9981
@arielgreen accepted

[2022-08-09 00:37] arielgreen commented on #9981
Paid!

[2022-08-09 00:37] #9981 closed

[2022-08-09 01:02] railway17 commented on #10181
I don't think my proposal makes the App be delayed.
Also, there are several places to use the `returnKeyType` props such as `PasswordPopover.js`, `AddSecondaryLoginPage.js` etc.
If those are not problems to use, this proposal should work.

[2022-08-09 01:18] JediWattson commented on #7862
That sounds like a great idea to me

On Mon, Aug 8, 2022 at 8:05 PM Tom Rhys Jones ***@***.***>
wrote:

[2022-08-09 01:25] phuongpt commented on #9061
@parasharrajat
1. Providing `current step` to make sure the fix is applied when the current step is changed (back/forward)
2. Due to this issue doesn't happen to native platform so we should avoid applying it on native.
3. `How will it work when the screen is already scrolled`: I'm not sure what you mean. `already scrolled` does that mean issue is already fixed?

[2022-08-09 01:27] aldo-expensify commented on #10181
@railway17 sorry for the confusion, I didn't mean that your proposed change had a performance impact. I was just saying that I haven't been able to test because the app at the moment is really slow for me, maybe because of some unrelated changes or maybe because I have something misconfigured in my env.

[2022-08-09 01:33] stephanieelliott commented on #9545
Sounds like this is still happening even after https://github.com/Expensify/App/issues/9182 was merged, so went ahead and posted this to Upwork:

https://www.upwork.com/jobs/~01d8e5aee09ed40c32

[2022-08-09 01:38] stephanieelliott commented on #10220
Hey @kavimuru, heads up we skipped a few steps with this one -  this (and all new issues) should get the `Auto Assigner Triage` label first, then the assigned triager will apply the `Engineering` label 😊.

[2022-08-09 01:44] stephanieelliott commented on #10220
There was discussion on https://github.com/Expensify/App/issues/9876#issuecomment-1208678371 and we determined this was not caused by a regression, so treating this as a normal job.

Posted to Upwork: https://www.upwork.com/jobs/~01c69c0915df9c82b8

@rushatgabhane heads up there is a proposal on this one already: https://github.com/Expensify/App/issues/10220#issuecomment-1203529729

[2022-08-09 01:51] stephanieelliott commented on #10283
Posted to Upwork: https://www.upwork.com/jobs/~01d149e797933540c4

[2022-08-09 02:14] kadiealexander commented on #8349
Not overdue, still seeking proposals!

[2022-08-09 03:17] dhairyasenjaliya commented on #10291
### Proposal

**Note: This proposal I have already added along with the report here https://github.com/Expensify/App/issues/8592#issuecomment-1152926071**

- When we add any message which is a typo (misspelled) into the composer and it sends as a message, but also it remains in text input with the auto-correct word in the iOS (app)

- It causes 2 issue
  1. Auto Text remains as it is
  2. Blue opa

[2022-08-09 03:43] Christinadobrzyn commented on #10292
I wasn't able to replicate in staging on:

- Desktop app > choosing the Australia flag
- iphone app > choosing the Scotland flag

[2022-08-09 04:06] Christinadobrzyn commented on #10292
Created job in Upwork!

Internal posting - https://www.upwork.com/ab/applicants/1556854078691786752/job-details
External posting - https://www.upwork.com/jobs/~010f6df374de0fee0f

[2022-08-09 04:15] KingStar1001 commented on #10289
@roryabraham
These are example about using matrix.
        ...
        name: ${{ matrix.task }}
        ...
            - name: Run ${{ matrix.task }}
              run: yarn ${{ matrix.task }}:ci
Some tasks are run based on matrix.

Also there are other solutions - Improve caching, --changedSince.

[2022-08-09 04:30] mvtglobally commented on #10253
https://github.com/Expensify/App/issues/10257 is fixed.
Checking off PR https://github.com/Expensify/App/pull/10229 & https://github.com/Expensify/App/pull/10276 as pass
Can you also validate PR #10239 internally

[2022-08-09 04:33] Puneet-here commented on #9238
Applied.
Thank you.

[2022-08-09 04:35] mvtglobally commented on #8929
Issue not reproducible during KI retests. (First week)

[2022-08-09 04:36] mvtglobally commented on #9042
Issue not reproducible during KI retests. (First week)

[2022-08-09 04:37] mvtglobally commented on #9183
Issue not reproducible during KI retests. (First week)

[2022-08-09 04:38] mvtglobally commented on #9389
Issue not reproducible during KI retests. (First week)

[2022-08-09 04:39] mvtglobally commented on #9485
Issue not reproducible during KI retests. (First week)

[2022-08-09 04:43] mvtglobally commented on #9918
Issue not reproducible during KI retests. (First week)

[2022-08-09 04:46] mvtglobally commented on #10031
Issue not reproducible during KI retests. (First week)

[2022-08-09 04:47] marcaaron commented on #7835
I agree with @roryabraham on this. Maintaining our own native module sounds like something we would decide to do after establishing there is a clear business need to get this working and we have exhausted all the available open source options.

Speaking of options, I'll also toss `expo-av` out there. It seems to be fully cross-platform out of the box (full disclosure: I have no experience with thi

[2022-08-09 04:49] mvtglobally commented on #8349
Issue not reproducible during KI retests. (First week)

[2022-08-09 04:50] mvtglobally commented on #8455
Issue not reproducible during KI retests. (First week)

[2022-08-09 04:51] mvtglobally commented on #8915
Issue not reproducible during KI retests. (Second week)

[2022-08-09 04:51] marcaaron commented on #10078
TIL https://developer.android.com/reference/android/app/UiAutomation

Is this one actionable? Feels like maybe not. Can we suppress these types of crashes somehow?

[2022-08-09 04:53] mvtglobally commented on #9983
Issue not reproducible during KI retests. (First week)

[2022-08-09 04:54] mvtglobally commented on #10095
Issue not reproducible during KI retests. (First week)

[2022-08-09 04:57] marcaaron commented on #7081
Hmm I'm not sure. I see this:

In the doc, but not really clear to me what the process for re-evaluation. @mananjadhav can you maybe give us a brief summary with something like estimated total number of hours you spent working on this, why you feel the compensation should be increased, etc?

[2022-08-09 05:00] kadiealexander commented on #9620
Old Upwork post expired so I've created a new one and doubled the price.
https://www.upwork.com/ab/applicants/1556866686745866240/job-details
https://www.upwork.com/jobs/~01a8d7f156f66a3afa

[2022-08-09 05:02] mvtglobally commented on #10258
Issue not reproducible during KI retests. (First week)

[2022-08-09 05:06] marcaaron commented on #6527
Cool. I am personally lost about why we would use Onyx as an image caching layer. Seems like something that a browser or mobile device would do automatically and if it's not then we are probably holding something wrong.

[2022-08-09 05:25] MonilBhavsar commented on #8035
Should be fixed by this refactor https://github.com/Expensify/Expensify/issues/215184

[2022-08-09 06:09] Satishpethani92 commented on #10283
https://user-images.githubusercontent.com/5456770/183576640-83f247c9-8278-4d50-9275-61199c1f42c3.mov

I have setup code in my pc and created two different users as per the instruction. and try to transfer amount but didn't find second user.

So let me know if i have missed any step in setup process.

Thank you @stephanieelliott

[2022-08-09 06:42] aimane-chnaif commented on #10220
### **Proposal**
This happens when email is capitalized (first letter is uppercased). Email is usually capitalized because search input component (TextInput)'s `autoCapitalize` prop is not set, which means **'sentences'** as default. If this prop is set as **'none'**, any input such as email will not be capitalized unless user input uppercased letter manually. But search keyword can be person name

[2022-08-09 07:23] Faizan-omer commented on #9620
Hi seems like this is an issue with android devices I am trying to access the run the web version of the project on my local system but I keep getting a 403 forbidden error from the server can you please guide me on how to set it up so that I may debug the issue

[2022-08-09 07:46] Faizan-omer commented on #9620
It seems like the issue is only happening on android devices I am trying to login with my local system but I keep getting 403 forbidden response from the server let me know how to access the server so I can debug the issue.

[2022-08-09 08:03] Beamanator commented on #10258
Aah great, thanks for the link @Santhosh-Sellavel - that makes sense why it's not in production.

That's great to know, thanks!

@mvtglobally did you try reproducing in staging or Production? Looks like so far @Tabakharniuk was only able to reproduce in staging.

[2022-08-09 08:06] Beamanator commented on #10258
@Santhosh-Sellavel it looks like you agreed we should hire @Tabakharniuk since you upvoted this comment, right? https://github.com/Expensify/App/issues/10258#issuecomment-1207188580

[2022-08-09 08:07] dylanexpensify commented on #9902
Update coming today!

[2022-08-09 08:08] dylanexpensify commented on #9848
Update coming today!

[2022-08-09 08:28] syedsaroshfarrukhdot commented on #10283
**Proposal**

https://github.com/Expensify/App/blob/151ec1ad3355cfa162ad490030f19a7134bbc076/src/components/InvertedFlatList/BaseInvertedFlatList.js#L157

The issue caused here is due to maintainVisibleContentPosition props which is causing issue of maintaining scroll when IOUPreview Component is rendered because when set maintainVisibleContentPosition, the scroll view will adjust the scroll posit

[2022-08-09 08:30] zanyrenney commented on #10185
Have replied to you in e.chat it is reproducible following the steps listed here but I detailed them out a bit more in our chat:
<img width="813" alt="2022-08-09_09-30-18" src="https://user-images.githubusercontent.com/56830058/183602768-981f0a1a-c8f2-416d-bf35-a0fe6c28dba4.png">

[2022-08-09 08:33] saivineeth100 opened #10318 "Upgrade packages that are dependent on SVGO v2.x.x."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
When performing npm install , received below **warning**
[code]

**Checked packages that depend on svgo**

[code]
**Changes in Pa

[2022-08-09 08:34] #10318 closed

[2022-08-09 08:46] mountiny commented on #10292
This has picked you Aldo, because I am ooo in the calendar, but I can take this on as CME 🙌

[2022-08-09 08:49] mountiny commented on #10292
@Christinadobrzyn I cannot repro on iOS either, but I can still repro in web Chrome using the native mac emoji keyboard.

I will update the description.

I will keep this monthly and I think we should not increase the price here as this is very low priority 😄

[2022-08-09 09:02] aimane-chnaif commented on #10198
### **Proposal**
In a word, no need to call duplicated removeSMSDomain and use the result value of this function as priority.

In [OptionsListUtils.getPersonalDetailsForLogins](https://github.com/Expensify/App/blob/main/src/libs/OptionsListUtils.js#L104), `displayName` is set same as `login`
<img width="708" alt="getPersonalDetailsForLogins" src="https://user-images.githubusercontent.com/96077027/

[2022-08-09 09:48] MonilBhavsar commented on #10278
I'm able to reproduce the issue. Updating the issue title to make it a general issue

[2022-08-09 09:59] jeet-dhandha commented on #7835
I tried with the `react native video` and `creatElement from react-native-web for video tag` Success on iphone and android but web will need try this `expo-av`

[2022-08-09 10:02] jeet-dhandha commented on #7835
Fetch don’t work as expected on web throwing an error of cors policy, on downloading file.

[2022-08-09 10:30] kidroca commented on #8349
@kadiealexander

I don't think we're seeking new proposals, because we've found out that upgrading `react-native` to a version that uses the Fabric renderer would fix this issue: https://github.com/Expensify/App/issues/8349#issuecomment-1151172897

And it seems the upgrade landed in staging recently, hence the issue is not reproducible ☝️

[2022-08-09 10:32] MonilBhavsar commented on #10278
Made a quick fix while investigating the issue

[2022-08-09 11:29] trjExpensify commented on #9238
Cool, offer sent to you @Puneet-here. @mananjadhav still waiting on confirmation of this:

[2022-08-09 11:29] JalalMitali commented on #7835
expo-av is working well on iOS

[2022-08-09 11:32] JalalMitali commented on #7835
<img width="1792" alt="Screen Shot 2022-08-09 at 12 32 09" src="https://user-images.githubusercontent.com/88791252/183637180-5b0df327-391f-4187-961f-554ff0fe642d.png">
here you go it's working on iOS I will be testing android, web and desktop soon

[2022-08-09 11:39] JalalMitali commented on #7835
I just tried to send a video from new.expensify and I am getting this error ! ?
Attachments must be one of the following types:  jpg, jpeg, png, gif, pdf, html, txt, rtf, doc, docx, htm, tiff, tif, xml

[2022-08-09 11:58] ravindra-encoresky commented on #9580
# Expensify Approach Proposal

Here are my finding to fix this -

- Checked the wrapper component **ReimbursementAccountForm.js** in **CompanyStep.js** and so the target will be replacing the **ReimbursementAccountForm.js** with **Form.js.**
- I’ll be bringing all the existing logic from **ReimbursementAccountForm** into its parent component **CompanyStep.js.**
- No longer require to have **Reimbu

[2022-08-09 12:31] jeet-dhandha commented on #9918
@jliexpensify when does merged PR(s) get deploy to production ?

[2022-08-09 12:32] gladiator-1 commented on #7835
Expensify videos not working on AVKit, so I don’t see creating an external lib from scratch or using expo-av will solve the issue because Sure they are using AVkit behind the scene.

https://user-images.githubusercontent.com/102553449/183646911-7c7a0f81-71b1-41a9-b581-8537499d4dc6.mp4

I think we can use one of the following solutions:

1. The optimal one is fixing the backend issue we mentioned e

[2022-08-09 12:36] JalalMitali commented on #7835
expo-av is throwing many errors on web/desktop and it's simply not working on android ( on my side )

[2022-08-09 13:16] JalalMitali commented on #7835
@gladiator-1 how did you upload the video I am not able to do so!

[2022-08-09 13:25] trjExpensify commented on #9238
Cool, settled up with @Puneet-here.

[2022-08-09 13:50] gladiator-1 commented on #7835
@JalalMitali it is an old video.

[2022-08-09 13:52] JalalMitali commented on #7835
oh I see is there any way I can use that sample video link of yours to test please

[2022-08-09 13:59] JediWattson commented on #7862
I really don’t have the time to put into this anymore

On Tue, Aug 9, 2022 at 9:22 AM Tom Rhys Jones ***@***.***>
wrote:

[2022-08-09 14:18] kidroca commented on #8349
We might need to do some refactoring the `ReportActionCompose` because AFAIK `setNativeProps` shouldn't be used with Fabric

[2022-08-09 14:28] kidroca commented on #8349
Actually, the new architecture is not yet enabled in Android, and I was able to reproduce the bug:

https://github.com/Expensify/App/blob/a0c91b91e4ec5e85adb9391bdc56eb36c53dec1e/android/gradle.properties#L39-L43

Anyway, I think we should pause proposals until we try the new architecture

[2022-08-09 14:41] Puneet-here commented on #9238
Eep sorry @trjExpensify, I didn't notice it first but the total compensation was $750. $500 for the fix and $250 for the reporting.

[2022-08-09 14:48] Puneet-here commented on #9238
Just sharing a note. I think we can't call it a regression, the PR was working and was approved but https://github.com/Expensify/App/pull/9560 got merged just before the PR for this issue and https://github.com/Expensify/App/pull/9560 changed an onyx key which we were using at our PR, that's why we were getting an error.

[2022-08-09 14:52] gladiator-1 commented on #7835
URI: 'https://www.expensify.com/chat-attachments/1036865749/w_2c78004c4f58aa9c1bd8c388caa9cc0bb121e694.mp4?encryptedAuthToken=wAzoo4WqqkPREelH35UJpCuhWE1TJuYcS9OnD8EUuJ7GzuSLYzrdbLxepsYpDnX4KWr1eFki2tP2Q%2BAWYE7rZwfQLoFDXxtWpMFT0MAFz9iPaVverbNzjMb4GcMT%2FRUGGpwxXvOqnWaNYbNuOUVZPEHuIbCXh9b4SYGHsg3Uhr%2Bvd%2Bp1%2FeDSJtg4dnNDrZGjWNnDnFuCAUps2SOssWsL6zITjDyaULwua9rlosOA5zfSOV2lcviN5VJzYU98V5I%2B3GZJmW

[2022-08-09 14:53] JalalMitali commented on #7835
thank you so much my friend!

[2022-08-09 14:53] #9145 closed

[2022-08-09 15:01] dylanexpensify commented on #7917
Any updates here? cc @mdneyazahmad

[2022-08-09 15:10] iwiznia commented on #10311
Are we sure we want to do that? We would be sending the same data over and over again (once per report) and allegedly, any policy you have access to, you should have the summary loaded in newDot, so we could display the correct name by looking it up in the policy summary data.

[2022-08-09 15:27] shawnborton commented on #8595
Not overdue

[2022-08-09 15:42] Julesssss commented on #9250
No change. Awaiting confirmation in further retesting

[2022-08-09 15:55] michaelhaxhiu commented on #10258
Awaiting a confirmation on this 👆 before I proceed

[2022-08-09 16:09] puneetlath commented on #9577
Great! @liyamahendra feel free to make a proposal if you're still interested.

[2022-08-09 16:10] thesahindia commented on #10240
### Proposal

This only happens when the first, last name gets added from the personal details.
https://github.com/Expensify/App/blob/787f3a848ce64373f1120264c06e92863eb242b2/src/pages/EnablePayments/AdditionalDetailsStep.js#L273
https://github.com/Expensify/App/blob/787f3a848ce64373f1120264c06e92863eb242b2/src/pages/EnablePayments/AdditionalDetailsStep.js#L298

In validation we are only checking

[2022-08-09 16:11] lbaldy commented on #2727
I see the #9841 is merged. I will build the app and see if my change is in and works good.

[2022-08-09 16:49] trjExpensify commented on #9238
Ahh, got it. Sent an offer for an additional $250.

Okay, helpful context. It was a timing issue. That makes sense. Thanks! @mananjadhav, I've sent you an offer now as well.

[2022-08-09 17:08] thienlnam opened #10324 "[Test Ignore]"
Testing these changes

https://github.com/Expensify/Web-Expensify/pull/34530

[2022-08-09 17:12] frenkield commented on #8595
The fade out solution looks good to me. Why is that not acceptable?

What do you want me to continue on the PR, @parasharrajat? As far as I know everything is 100% done.

[2022-08-09 17:12] mvtglobally commented on #10253
@roryabraham  Lets see if we can push this deploy today
Outstanding items
https://github.com/Expensify/App/pull/10070 - Revert PR https://github.com/Expensify/App/pull/10299 completed. Good to check off?
https://github.com/Expensify/App/pull/10197. issue https://github.com/Expensify/App/issues/10257 is fixed. Should we retest main PR or it will not be relevant due to another revert?
Can you also v

[2022-08-09 17:13] trjExpensify commented on #9238
Alright, both settled up. Closing.

[2022-08-09 17:13] #9238 closed

[2022-08-09 17:14] thienlnam commented on #10324
Please ignore, testing changes for https://github.com/Expensify/Web-Expensify/pull/34530

[2022-08-09 17:21] frenkield commented on #8595
Ah sorry! I see.

[2022-08-09 17:22] roryabraham commented on #10214
I believe [this article](https://devblogs.microsoft.com/oldnewthing/20180313-00/?p=98225) basically explains exactly what is happening to us

[2022-08-09 17:26] thienlnam commented on #8367
Same

[2022-08-09 17:32] frenkield commented on #8595
@parasharrajat, the fade out solution looks good to me. Why is that not acceptable?

Are there other people that don't approve of this solution? Or is it your decision?

[2022-08-09 17:49] neil-marcellini commented on #9581
@Murodjon000 would you like to submit a proposal now that the issue is off of HOLD?

[2022-08-09 18:24] jayeshmangwani commented on #7470
@mananjadhav
Hey, have you got a chance to check my [proposed](https://github.com/Expensify/App/issues/7470#issuecomment-1200724434) changes for the regression?

[2022-08-09 18:35] kbecciv opened #10327 "[$2000] Web - Push notification - Clicking the notification takes you to the incorrect chat first"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with applausetester@applause.expensifail.com
account in device 1
3. Logi

[2022-08-09 19:10] mananjadhav commented on #7470
@jayeshmangwani I did check. While the prop thing looks good, would you mind checking one change for me? what if we remove the `onLayout` code and only retain the border change. Do you think that'll work?

[2022-08-09 19:14] mananjadhav commented on #7835
@stitesExpensify I've been thinking of this. It seems the issue requires backend change because we aren't able to partially play the video. But if we are planning to store the attachment on first load here https://github.com/Expensify/App/issues/6527 then do you think this use case is still valid?

I've been also exploring a FE only solution I feel `react-native-video` should solve our purpose, bu

[2022-08-09 19:18] mananjadhav commented on #7081
Sure @marcaaron.

I don't have a specific total number of hours honestly. But I can explain the reasons behind the request.

1. Earlier we agreed to add the Skeleton UI only to the first load of the chat and not load more. So we ended up discussing and then agreeing to replace the logic with load more as well

2. I didn't factor any animation with the component, and had only added pulse animation

[2022-08-09 19:22] mananjadhav commented on #8846
Sorry @arielgreen I thought the failed checks will be picked up. I've posted the comment here https://github.com/Expensify/App/pull/9949#issuecomment-1209782992

[2022-08-09 19:24] mananjadhav commented on #8927
bump @adelekennedy @deetergp for Upwork

[2022-08-09 19:29] mananjadhav commented on #9391
@MonilBhavsar What do you think of @mollfpr's updated proposal. To me it looks good to go.

[2022-08-09 19:31] luacmartins commented on #10311
I agree with @iwiznia. Can we just look up the policy name without sending a request to the server? We should have this data loaded in the client already!

[2022-08-09 19:32] mananjadhav commented on #9542
Reviewing @b1tjoy's proposal.

@Karim-30 I don't like the idea of adding hardcode trial and error fixes. This will end up breaking some or the other device resolution.

@errahsoufiane This is still open for review so if your proposal is any different from the existing ones, feel free to post it.

[2022-08-09 19:41] mananjadhav commented on #10243
Good point @syedsaroshfarrukhdot. @marcochavezf @arielgreen Are we treating this as a separate issue or regression of #9706.

Irrespective of whether or not being relevant or hold, @syedsaroshfarrukhdot, I didn't understand when you say you've been working on it since last few hours. Just fyi, as per the contributing guidelines please send in a proposal here to be reviewed before working on the ac

[2022-08-09 19:44] kbecciv opened #10328 "Profile - The save button remains inactive when the photo is removed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Go to profile settings
4. Upload a photo if you don'

[2022-08-09 19:45] Santhosh-Sellavel commented on #9620
I'm not sure what error you are facing, please ask in #expensify-open-source with more details so someone might help you.

A common issue is at times emulator might have some cache issues like time, try resetting or creating a new emulator and check. Try in a real device if have one, thanks!

[2022-08-09 19:47] Santhosh-Sellavel commented on #10283
@Satishpethani92
Enter full user email for the first time to initiate with any new user.

[2022-08-09 19:50] adelekennedy commented on #8927
Strange - I'm not getting any notifications from this GH, I just sent the payment through with a bonus for waiting

[2022-08-09 19:50] #8927 closed

[2022-08-09 19:52] adelekennedy commented on #9941
Do we want to put this issue on Hold? @parasharrajat if we're waiting

[2022-08-09 19:59] MitchExpensify commented on #10262
[Upwork Job](https://www.upwork.com/jobs/~01bed8d12f86725e61)

[2022-08-09 20:07] mateusbra commented on #10221
@trjExpensify applyed!
@parasharrajat working on it, I'll post the PR today.

[2022-08-09 20:13] MitchExpensify commented on #10027
[Upwork Job](https://www.upwork.com/jobs/~01bcb2656559058a8f)

[2022-08-09 20:14] DharmeshCodeBase commented on #10262
Yes i can do this as per your requirement and complete job

[2022-08-09 20:14] MitchExpensify commented on #10027
Following [these](https://expensify.slack.com/archives/C01SKUP7QR0/p1660032758897249?thread_ts=1659609385.678919&cid=C01SKUP7QR0) instructions, do you have a suggestion for a better issue title @deetergp ?

[2022-08-09 20:15] puneetlath commented on #10220
I agree.

@aimane-chnaif thanks for your proposal, but we're going to go with @eVoloshchak given that they proposed first and I think the check for whether it is email before setting to lowercase is overkill. Thanks!

[2022-08-09 20:23] jayeshmangwani commented on #7470
@mananjadhav checked without `onLayout` but a white gap is visible,

without onLayout code
![Screenshot_20220810-014558_New Expensify](https://user-images.githubusercontent.com/35371050/183753462-1770380a-fd5b-43a1-ae04-4f869be46109.jpg)

with onLayout code
![Screenshot_20220810-014649_New Expensify](https://user-images.githubusercontent.com/35371050/183753550-62fbe70a-d70d-4d43-8fd1-655a75b1094f.

[2022-08-09 20:26] mananjadhav commented on #8927
Thanks @adelekennedy for the quick TAT and bonus 🤑

[2022-08-09 20:26] rafecolton commented on #10214
[This](https://devblogs.microsoft.com/oldnewthing/20180314-00/?p=98235) is the next article in the series where the author describes how to fix the problem. I'm not immediately sure how to do that in code in our automation, but given that they are describing the exact problem we are experiencing, I think this is the solution.

[2022-08-09 20:27] puneetlath commented on #10223
Thanks @rushatgabhane. I've gone ahead and created an Upwork job to fix it.

External upwork post: https://www.upwork.com/jobs/~01dfc05e7b0586aa7f
Internal upwork post: https://www.upwork.com/ab/applicants/1557101140060336128/job-details

[2022-08-09 20:27] ahmdshrif commented on #8311
but this issue appears only because we customize some tags. so I don't think we need to change the lib structure to meet our customize tags .maybe it will conflict with someone else customization.

[2022-08-09 20:37] kbecciv opened #10329 "[HOLD for payment 2022-10-03] [$500] mWeb/safari - When we try to download App from ‘App download links’ drawer page for safari mobile it opens a blank page instead of opening in app store @dhairyasenjaliya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Open Drawer setting -> Go to about
3. Go to App download links
4. Press on iOS
Notes: It wi

[2022-08-09 20:47] lbaldy commented on #2727
Hi @parasharrajat.

I just checked the latest code base. I run the latest https://github.com/Expensify/App . I managed to run the `npm ci `properly and it installed all the deps, when I look into `node_modules/react-native` I can see it installed the `@expensify/react-native` version `0.69.4`

`  "name": "@expensify/react-native",
  "version": "0.69.4",`

however this version does not seem to cont

[2022-08-09 20:48] #10324 closed

[2022-08-09 20:49] mountiny opened #10330 "[TEST] External and hourly label"
Testing https://github.com/Expensify/Web-Expensify/pull/34530

[2022-08-09 20:50] mountiny commented on #10330
Hourly assigning External

[2022-08-09 20:53] Santhosh-Sellavel commented on #10258
@Beamanator
Yeah fix looks promising, Let's hire @Tabakharniuk for it.
🎀 👀 🎀 C+ Reviewed
cc: @michaelhaxhiu

[2022-08-09 21:07] syedsaroshfarrukhdot commented on #10127
**Proposal**

https://github.com/Expensify/App/blob/151ec1ad3355cfa162ad490030f19a7134bbc076/src/components/ArrowKeyFocusManager.js#L36-L38

The bug that causes highlighter to hide  when up arrow on keyboard is pressed at the list top item in all list is because newFocusedIndex is -1 at that time due to this line

https://github.com/Expensify/App/blob/151ec1ad3355cfa162ad490030f19a7134bbc076/src/c

[2022-08-09 21:18] syedsaroshfarrukhdot commented on #10243
Yes, Thanks for highlighting the fact. I will definitely follow contributing guidelines next time and submit proposal to be reviewed before working on the actual solution.

[2022-08-09 21:20] Santhosh-Sellavel commented on #8608
The only other place where it's noticeable are the rounded avatars which have no padding, you can see they cover part of the box-shadow. IMO it's not too big of an aesthetic/functional downside, but it's up for discussion.

@shawnborton  Are we okay with this?

[2022-08-09 21:27] Santhosh-Sellavel commented on #10202
@jeet-dhandha We don't recommend using Platform APIs.

[2022-08-09 21:29] Santhosh-Sellavel commented on #10202
@liyamahendra Can you address this too https://github.com/Expensify/App/issues/10202#issuecomment-1208416881

Raised it in slack [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1659980797019179), thanks @shawnborton @michelle-thompson

[2022-08-09 21:35] shawnborton commented on #8608
Can you share some screenshots of that?

[2022-08-09 21:36] Santhosh-Sellavel commented on #9510
@Puneet-here which PR are you referring to?
Also, I think ONYX is a kind of over-engineering and should go with 1 instead

What do you say @sketchydroide?

[2022-08-09 21:37] shawnborton commented on #8608
Oh, I think I see it above. I think it's probably okay to leave them as squares, otherwise we are going to get into some weird situations with things like multiple avatars, etc.

Another small note: can we try the outline style with a width of 2px instead of just 1px?

[2022-08-09 21:38] andrewlor commented on #8608
Before:
![Screen Shot 2022-08-09 at 3 35 01 PM](https://user-images.githubusercontent.com/8475244/183766056-7f2d9722-3518-4fd9-8327-7c10b957a3bb.png)

After:
![Screen Shot 2022-08-09 at 3 35 17 PM](https://user-images.githubusercontent.com/8475244/183766204-f58b9439-ae6d-4705-a5a1-d8d32b3ca854.png)

[2022-08-09 21:39] shawnborton commented on #8608
I think the before looks better? But again, still curious to see this at 2px instead of 1px.

[2022-08-09 21:44] andrewlor commented on #8608
@shawnborton Here is how things look overall with 2px and inset.

https://user-images.githubusercontent.com/8475244/183766897-da466573-a013-4686-b09c-902a292b5194.mov

If we're not ok with how the avatars look with the inset, then I can look into fixing that.

[2022-08-09 21:46] Santhosh-Sellavel commented on #10283
@kbecciv is this reproducible for you, unable to reproduce at my end.

[2022-08-09 21:49] shawnborton commented on #8608
To fix the avatars, I think you'd have to give the view that wraps them a perfect 50% border radius. This makes sense in theory, but it will break when we have the stacked group of avatars (for group chats) in that same view.

2px looks much better. I do think the outer shadow looks better than inset though - but remind me, are we using inset because it works better for things like the chat rows o

[2022-08-09 21:52] syedsaroshfarrukhdot commented on #10283
@Santhosh-Sellavel it is reproducible on IOS only for me too. I wasn't able to reproduce it on desktop, web or android.

[2022-08-09 22:02] AndrewGable opened #10331 "Update to NPM 8 and Node 16"
## Problem
We have countless issues running npm 6 and npm 14:
* Issues running on M1 machines
* Issues upgrading react native versions

## Solution
Update internally and this codebase to run on NPM 8 and Node 16.

[2022-08-09 22:03] tgolen commented on #10214
Oh man, that article ends with more questions than it begins with!

On Tue, Aug 9, 2022 at 2:26 PM Rafe Colton ***@***.***> wrote:

[2022-08-09 22:03] AndrewGable commented on #10331
Here is my first attempt at doing this: https://github.com/Expensify/App/pull/9867

However, this PR got way to large, so I am going to instead break this PR up into smaller chunks.

[2022-08-09 22:07] andrewlor commented on #8608
Correct. Without the inset shadows, the outline on chat rows only show on 1 side.

![Screen Shot 2022-08-09 at 4 02 31 PM](https://user-images.githubusercontent.com/8475244/183770032-81dfb2ff-dc09-479a-ae4c-39248eae813c.png)

I'll take a look to see what's the best option for fixing the avatar style.

[2022-08-09 22:08] tgolen commented on #10225
Cool, I agree!

On Tue, Aug 9, 2022 at 1:43 PM Rushat Gabhane ***@***.***>
wrote:

[2022-08-09 22:09] shawnborton commented on #8608
Cool, and to be clear, I am not convinced that we should do anything for the avatars - I think square is fine.

Then for the rows, perhaps we can make everything use outer shadow, but the rows use inset?

[2022-08-09 22:15] Santhosh-Sellavel commented on #10283
I checked only on iOS only first, but was unable to reproduce.

[2022-08-09 22:26] #8888 closed

[2022-08-09 22:30] kevinksullivan commented on #8888
@frenkield can you apply for the job so I can pay the reporting bonus? i'm not having any luck with Upwork search.

https://www.upwork.com/jobs/~01570a3972089306b9

[2022-08-09 22:33] alex-mechler commented on #10327
Is any action needed to get the chats to switch, or does it happen automatically, it just takes a moment?

[2022-08-09 22:45] frenkield commented on #8888
Thanks, @kevinksullivan. I just applied.

[2022-08-09 22:48] kevinksullivan commented on #8888
Hired! Mind accepting and then I can pay this out @frenkield ?

[2022-08-09 22:53] mallenexpensify commented on #10272
Posted! https://www.upwork.com/jobs/~01a99564082042bf31

[2022-08-09 22:53] frenkield commented on #8888
All set, @kevinksullivan.

[2022-08-09 22:55] mallenexpensify commented on #9578
Posted! https://www.upwork.com/jobs/~010b1678b6661417b0

[2022-08-09 23:20] puneetlath commented on #9739
@mananjadhav have you had a chance to review this one yet?

[2022-08-09 23:36] kbecciv commented on #10283
@Santhosh-Sellavel Checking with team

[2022-08-09 23:53] kbecciv commented on #10283
@Santhosh-Sellavel Tester is able to reproduce it with  build v1.1.88-7

https://user-images.githubusercontent.com/93399543/183781311-8502dc1b-e148-4858-8362-f722b0f254b0.mp4

[2022-08-10 00:01] andrewlor commented on #8608
Yeah I was thinking something like that. It's a bit tricky to target specific components because this is currently implemented as a global style in `index.html`. So I'll have to dig into more.

[2022-08-10 00:03] shawnborton commented on #8608
Cool, otherwise happy to just keep everything as inset for sake of ease.

[2022-08-10 00:25] roryabraham commented on #10214
It's really hard to create a **TL;DR** of this problem because it's pretty convoluted, but these diagrams are pretty good. Note that in our example, our equivalent of `master` is actually `staging`, and our equivalent of `feature` is actually `main`:

### Before (with cherry-pick)

<img width="522" alt="image" src="https://user-images.githubusercontent.com/47436092/183779975-97b852e6-46f3-4e10-905

[2022-08-10 00:47] marcaaron commented on #7081
What aspect would you estimate of the PR would you say that spent "most of your time"? Can you break it down into chunks? Can you express each of these additional areas as a percentage of the total time you spent working?

[2022-08-10 01:42] stephanieelliott commented on #9975
No update, moving this to monthly while it's on hold!

[2022-08-10 02:52] mananjadhav commented on #9739
Hi @puneetlath, I thought as per the guidelines, if member of the C+ team is working on the issue, then C+ Review won't be needed?

I can take it up if you'd like, and give me time until tomorrow.

[2022-08-10 02:56] mananjadhav commented on #7081
@marcaaron  I went through some logs and here's an update if this helps.

1. Load More handling - Updates on the solution, code and work ~2-3 hours
2. Animation - This overall took maximum time, from two aspects. One was the actual implementation, second some trial and error on my end to figure our if each item can be put inline with the animation. ~6-8 hours.
3. Rework based on new Keys in Onyx 1

[2022-08-10 03:13] JmillsExpensify commented on #7835
@roryabraham @marcaaron I agree. I think we've had a good go at this but we still don't have a clear path forward. Plus, we have so so many many core platform functionality to get out for the core messaging experience (emoji shortcuts, improved markdown, etc. etc.).

Then as much as this sounds compelling, I'm nevertheless inclined to close this issue and re-open at a later date when the product i

[2022-08-10 03:14] JmillsExpensify commented on #8791
I'm in this camp as well.

[2022-08-10 03:15] JmillsExpensify commented on #9662
I'm fine with that given the low priority of this. @luacmartins any pushback?

[2022-08-10 03:29] Christinadobrzyn commented on #10187
price increase to $500 - still waiting on proposals

[2022-08-10 03:30] mvtglobally commented on #10240
@iwiznia we are blocked currently from wallet and bank validation on NewDot due to PROD KYC wall. This flow is not QAed E2E. (KI 10084)

[2022-08-10 03:31] mvtglobally commented on #10258
@Beamanator This issue was only repro for us in Staging, not repro in prod

[2022-08-10 03:41] mvtglobally opened #10335 "[HOLD for payment 2022-09-08] [$250] The green CTA button height is 64px, which is way taller than our tallest button, which is 52px"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login
2. Navigate to Settings > Payments
3. check Green CTA height
4. Navigate through Request money flow
5. Check NEXT button

[2022-08-10 04:18] neil-marcellini commented on #10335
Looks like a good external issue.

[2022-08-10 05:01] thesahindia commented on #10335
### Proposal

If we wanna use 52px height then we won't be needing `extraLarge` button, we can remove it from Button.js and instead just change these buttons to large (line 234) and pass the padding in the style (line 230)
(will have to do the same at other places)
https://github.com/Expensify/App/blob/f5f076a13bb4a991dbeaf32a8f7a7b0625e8a3cc/src/pages/ReimbursementAccount/BankAccountStep.js#L225-

[2022-08-10 05:18] Puneet-here commented on #9510
This [PR](https://github.com/Expensify/App/pull/4385).
I am seeing it was decided to use ONYX instead of moving the state.

[2022-08-10 06:03] HafeezRai commented on #9577
Can i resolve this issue i have experience with RN

[2022-08-10 06:38] aimane-chnaif commented on #10272
### **Proposal**
This issue happens when `ONYXKEYS.IOU` value removed from storage unexpectedly. (I think when out of storage because the reporter's account (applausetester+0901abb@applause.expensifail.com) has lots of data)
And app crashes on this line:
https://github.com/Expensify/App/blob/f5f076a13bb4a991dbeaf32a8f7a7b0625e8a3cc/src/pages/iou/IOUModal.js#L156
because of `prevProps.iou` = undefi

[2022-08-10 06:41] Christinadobrzyn commented on #6154
@chiragsalian, @rushatgabhane, & @trjExpensify - leaving a note here to evaluate @sig5 contributions to this job for payment when the PR is deployed to production and we're ready for payment. Convo related to this here https://expensify.slack.com/archives/C02NK2DQWUX/p1653458528794299

[2022-08-10 07:43] Santhosh-Sellavel commented on #9662
@JmillsExpensify We had a discussion Lets double this up & Make it Monthly.

cc: @luacmartins

[2022-08-10 08:48] Julesssss commented on #10328
Not sure that it's a bug, though it is slightly inconsistent. I'm asking in Slack to see if people agree with this, but also CC @zanyrenney & @twisterdotcom as perhaps we cover similar cases in N7: Account settings?

[2022-08-10 08:50] Julesssss commented on #10328
Actually, I'm not posting in Slack. I don't think we should change this feature -- it kinda makes sense that you should confirm a new photo upload. Also, we'll be working on these pages in N7 AS anyway.

@ted @zanyrenney -- feel free to reopen if you disagree though.

[2022-08-10 08:50] #10328 closed

[2022-08-10 09:02] roryabraham commented on #10214
Okay, I believe I know how to fix this. I included some diagrams to explain the fix in the [draft PR](https://github.com/Expensify/App/pull/10316). I also got tests passing but need to implement the changes in the actual GitHub Workflows. Also I just want to carry this out with more examples to try and see if we can find any other cases where it doesn't work. For example, I haven't yet explicitly

[2022-08-10 09:44] mdneyazahmad commented on #7917
@dylanexpensify Still discussing. I will post some new ideas.

[2022-08-10 10:18] dylanexpensify commented on #10240
Internal: https://www.upwork.com/ab/applicants/1557310230097203200/job-details
External: https://www.upwork.com/jobs/~01f43869eb83e9e0b2

[2022-08-10 10:21] dylanexpensify commented on #9902
@marcaaron could I get an updated title for this issue so I could get it on Upwork? Thanks man!

[2022-08-10 10:21] dylanexpensify commented on #9848
@marcaaron could I get an updated title for this issue so I could get it on Upwork? Thanks man!

[2022-08-10 12:17] trjExpensify commented on #7470
This was reverted, so I'm removing the payment hold from the title and the label.

[2022-08-10 12:19] trjExpensify commented on #10221
Sent the offer 👍

[2022-08-10 12:22] trjExpensify commented on #9709
Ah, why didn't the labels get added? 🤔 Processing payments now.

[2022-08-10 12:32] trjExpensify commented on #9709
Cool, done!

[2022-08-10 12:32] #9709 closed

[2022-08-10 12:43] MariaHCD commented on #10021
Introducing better error handling here: https://github.com/Expensify/App/pull/10322

Closing in favor of: https://github.com/Expensify/Expensify/issues/216152

[2022-08-10 12:43] #10021 closed

[2022-08-10 12:54] michaelhaxhiu commented on #9990
@parasharrajat invited you to the job just now

[2022-08-10 13:45] aizazh1 commented on #10240
The problem could be occurring in multiple places. The App/AdditionalDetailsStep.js file is where the problem could be located at. The possible areas are the getErrors method, getErrorText method, validate method, and activateWallet method. To test the workflow and investigate the problem, I would need to install the app on my emulator and debug the code.

[2022-08-10 14:01] iwiznia commented on #10240
@mvtglobally when you say KI 10084 what do you mean? I assume it is not this https://github.com/Expensify/App/issues/10084 right?

[2022-08-10 14:12] mvtglobally commented on #10240
@iwiznia it is #10084. We are taken to Production for any VBA flow.

It seems there is Internal discussion on the same
https://github.com/Expensify/App/issues/10084#issuecomment-1195781321

[2022-08-10 14:22] Santhosh-Sellavel commented on #7862
@JediWattson

I have roughly tested your PR, seems you addressed most of the requirements. Don't let your effort go in vain. Please let us know your concerns, if possible we can work it out. Thanks!

[2022-08-10 14:25] arosiclair commented on #10311
I agree this would denormalize our data, but I guess one could argue having to lookup the policy name is "data massaging". I don't feel too strongly either way. @tgolen thoughts?

[2022-08-10 14:36] iwiznia commented on #10084
I think this will be solved by https://github.com/Expensify/App/issues/10163 right?

[2022-08-10 15:27] MitchExpensify commented on #7918
Bumped [the thread ](https://expensify.slack.com/archives/C01GTK53T8Q/p1660145223173299?thread_ts=1654195847.140899&cid=C01GTK53T8Q)

[2022-08-10 16:08] Santhosh-Sellavel commented on #10283
Thanks, @kbecciv I got it!

[2022-08-10 16:13] Santhosh-Sellavel commented on #10283
@neil-marcellini This issue is solved by @syedsaroshfarrukhdot proposal [here](https://github.com/Expensify/App/issues/10283#issuecomment-1209075313)

But the change they proposing is introduced in PR https://github.com/Expensify/App/pull/7271 which is a fix for #7145.
So removing would bring back the #7145

What can we do now?

[2022-08-10 16:18] tgolen commented on #10214
My concern with this is that we're digging so deep into the weeds that we're ("we" as in, anyone that isn't Rory 😁 ) never going to be able to maintain this or fix it if it breaks.

Thinking back to web-e deploying, we've never ran into this problem and that's a deploy that's been pretty stable for many years (with a CP process to both staging and production branches).

So, at some point... do we

[2022-08-10 16:33] MitchExpensify commented on #7918
Consensus in the thread is to move forward with:

"Continue using a single global keyboard event handler library, patching it with the solution from [this PR](https://github.com/Expensify/App/pull/9749) so that local event handlers can override the global ones"

Sound good to you @mdneyazahmad ?

[2022-08-10 16:41] neil-marcellini commented on #10283
@Santhosh-Sellavel Thanks for researching. Since that proposal would cause the problem mentioned in that issue, we will need a different proposal.

[2022-08-10 16:46] strepanier03 commented on #10329
Posted [here](https://expensify.slack.com/archives/C03TE33PG/p1660149829184639) looking for another triager. I can't access m/web safari and I tried to recreate on my mac and android without any luck.

[2022-08-10 16:49] lschurr commented on #10329
Confirmed. Same thing happens for me. @johncschuster also reproduced this.

[2022-08-10 16:49] trjExpensify commented on #6154
Not sure why Melv is pinging us for this. https://github.com/Expensify/App/pull/10147#issuecomment-1207284244 - awaiting a review from @chiragsalian at this point.

[2022-08-10 17:00] dhairyasenjaliya commented on #10329
This issue only affect mobile safari

[2022-08-10 17:13] mallenexpensify opened #10338 "Tracking for bug reporting react-native update for @tomivs"
Going to compensate @tomivs $250 for bug reporting, details here https://expensify.slack.com/archives/C01GTK53T8Q/p1659765865205259

Upwork issue
https://www.upwork.com/jobs/~01434c202c18a1556e

[2022-08-10 17:17] adelekennedy commented on #4324
@Karim-30 and @Santhosh-Sellavel will you apply to the role [here?](https://www.upwork.com/jobs/~01903ec1106b2675cf) the previous post expired

[2022-08-10 17:19] tomivs commented on #10338
Applied to Upwork job.

[2022-08-10 17:21] mallenexpensify commented on #10338
Hired, please accept offer and I'll get ya paid @tomivs
https://www.upwork.com/jobs/~01434c202c18a1556e

[2022-08-10 17:25] Tabakharniuk commented on #10258
Applied. Still waiting for a PR review to fix the issues in the library

[2022-08-10 17:25] tomivs commented on #10338
Accepted.

[2022-08-10 17:31] liyamahendra commented on #10202
This issue was specifically for the vertical alignment of text. Would the team like to post a new issue for the "Typing indicator" or prefer to solve it along with this issue & revise the compensation for this job on Upwork?

@Julesssss @shawnborton @Santhosh-Sellavel

[2022-08-10 17:32] tgolen commented on #10311
Exactly this, yes. It is the definition of data massaging which is against everything we've been working towards with this new API.

Is there a problem with this?

[2022-08-10 17:34] mananjadhav commented on #10109
I don't think we need C+ review on this as @Santhosh-Sellavel is a part of C+ team working on the PR.

[2022-08-10 17:36] mallenexpensify commented on #10338
Paid, faster ever for job creation to closed!
Thanks for the help @tomivs

[2022-08-10 17:36] #10338 closed

[2022-08-10 17:57] mallenexpensify commented on #8455
Bit lost with this issue @MonilBhavsar , if you think @adeel0202 should be compensated for reporting, can you (or @Luke9389 ) add a comment?   And/or... I can go down 🐰🕳 a bit more to review too.  Below are the relevant links, I think

https://github.com/Expensify/Expensify/issues/215184
https://github.com/Expensify/App/issues/8035

[2022-08-10 18:03] kavimuru commented on #10327
It just switches to correct chat after a moment, no action required.

[2022-08-10 18:15] iwiznia commented on #10311
Why would it be massaging the data? It is just reading it from a different source, not modifying it.

Not per se, but why would we return data we already know we have?

[2022-08-10 18:16] yuwenmemon commented on #9819
Looking into this further this should be fixed with https://github.com/Expensify/Expensify/issues/211560 - so gonna close this out in favor of that issue

[2022-08-10 18:16] #9819 closed

[2022-08-10 18:22] roryabraham commented on #10214
@tgolen Feel free to correct me if I'm misinterpreting, but I think that there's an underlying assumption in your concern – namely, some combination of the following:

- This problem can't happen on Web-Expensify
- The problem is introduced by code we have in place to automatically resolve conflicts
- This has something to do with GitHub Actions v.s: a manual deploy process

But I don't think that

[2022-08-10 18:29] arielgreen commented on #7822
@MonilBhavsar please confirm https://github.com/Expensify/App/issues/7822#issuecomment-1207261209

[2022-08-10 18:29] arielgreen commented on #8311
not overdue

[2022-08-10 18:34] shawnborton commented on #10202
Typing indicator is definitely a regression and should be a separate issue.

[2022-08-10 18:50] marcaaron commented on #9848
All of these can probably just be renamed to `Identify source and fix crash: [crash name]`

[2022-08-10 18:57] thienlnam commented on #7917
@mdneyazahmad Looks like there has been consensus with 1, are we able to move forward with that now?

[2022-08-10 19:10] roryabraham commented on #6527
Well the main goal is that images would be available offline. Right now, I believe we only save the URL of an image so if you open the app without an internet connection you can't view the image. This problem also extends to copying images to a clipboard – if I'm not mistaken the only proposals we've seen have been reliant upon using `fetch` to download the image as a base64 string.

So I think th

[2022-08-10 19:30] jayeshmangwani commented on #7470
@mananjadhav these are the changes we will need to make,

https://github.com/Expensify/App/blob/e57e113e8ead6ae7ad0068c91593504dc101b160/src/components/TextInput/BaseTextInput.js#L214-L221

[code]

https://github.com/Expensify/App/blob/e57e113e8ead6ae7ad0068c91593504dc101b160/src/components/TextInput/BaseTextInput.js#L260-L267
[code]

https://github.com/Expensify/App/blob/e57e113e8ead6ae7ad0068c91

[2022-08-10 19:36] marcaaron commented on #6527
That all makes sense to me. One thought I had was that if you try to open the app in a browser without an internet connection it just won't work at all. So we are mostly benefitting from this change on the mobile (and maybe desktop?) side which both have the ability to launch without an internet connection. And _ideally_ we could pursue this in a more cross-platform way and land on an offline imag

[2022-08-10 19:41] trjExpensify commented on #6154
Ah, I misinterpreted this then.. my bad!

[2022-08-10 19:44] marcochavezf commented on #10243
Oh good point, yeah this seems to be a regression, but besides that, we're going to put on hold all the issues related to navigation. Thanks for pointing that out @syedsaroshfarrukhdot, this issue should not be resolved until we come up with a definitive and long-term solution as stated [here](https://github.com/Expensify/App/pull/9706#issuecomment-1194834689).

[2022-08-10 19:55] marcaaron commented on #6527
Got context/discussion for that ?

[2022-08-10 19:55] luacmartins commented on #9662
I'd say we keep doubling, but make it monthly after $2k.

[2022-08-10 19:58] marcochavezf commented on #10243
I found out the changes to the related https://github.com/Expensify/App/pull/9706 were reverted here https://github.com/Expensify/App/pull/10101, so it will be better to close this issue because we're going to have the same behavior until we fix the root cause.

@arielgreen could you remove the upwork job?

[2022-08-10 20:12] puneetlath commented on #10109
@mananjadhav @Santhosh-Sellavel as discussed [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1660151841502539), let's go ahead and do the C+ review going forward, even if the PR submitter is a C+ themselves.

[2022-08-10 20:20] puneetlath commented on #9577
@HafeezRai feel free to make a proposal. You can look at our [contributing guide](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md) and other issues in this repo to get a sense of how to do so.

[2022-08-10 20:33] puneetlath commented on #10287
The bug here isn't that these options are showing up when the letter `h` is typed (as in the first image). The bug is that we are showing `AED - AED` when we should be showing `AED - Dhs` like we do on old dot.

<img width="299" alt="image" src="https://user-images.githubusercontent.com/1371996/184014534-8e8f61da-cdb7-4466-bfa7-6b7082639583.png">

So the search feature is properly searching the tw

[2022-08-10 20:34] marcaaron commented on #7081
@mananjadhav thanks, just one more question, can you tell us what you feel is a fair compensation for this issue so we can review?

[2022-08-10 20:36] puneetlath commented on #10287
External Upwork job: https://www.upwork.com/jobs/~0176428feebe6459dc
Internal Upwork job: https://www.upwork.com/ab/applicants/1557465778160635904/job-details

[2022-08-10 20:42] Puneet-here commented on #10287
Hi, I had reported this [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1657659211779809).

[2022-08-10 20:46] TomatoToaster commented on #10329
So it seems like a blank page is opening up in a new tab, but if you navigate back to the original tab, it still shows you an open to open the app store link:

![image](https://user-images.githubusercontent.com/19364431/184016352-5ff0b171-6ae6-4941-8429-54170702a673.png)

Since that still works I feel like this is not worth fixing. This also seems more like an issue with safari, but we have some d

[2022-08-10 20:53] luacmartins commented on #10329
I think we should fix this since we open the blank page and it's confusing. Maybe we should not use the custom Safari link handler for that link since it opens the link in the App store and not Safari.

[2022-08-10 20:53] puneetlath commented on #8541
How's this one going? It has been a while.

[2022-08-10 21:01] bfitzexpensify commented on #4733
Doubled to $1000

[2022-08-10 21:28] luacmartins opened #10343 "Endless spinner after validating new accounts"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Enter a new user email
2. Tap the magic sign-in link
3. Set a password
4. Verify that you see an endless spinner

## Expected

[2022-08-10 21:59] Luke9389 commented on #8455
I think we resolved that:
1. @adeel0202 is unfortunately not eligible for a reporting bonus here because we aren't acting on this issue as a result of the report (i.e. we were fixing it with the refactor regardless).
2. We'll keep this open until we can verify that the issue is no longer reproducible.

So we just need wait for a few more of [these messages](https://github.com/Expensify/App/issues/

[2022-08-10 22:16] mananjadhav commented on #7081
I feel it should be 1000$

[2022-08-10 22:30] MitchExpensify commented on #10022
Upwork Job removed

[2022-08-10 22:31] mananjadhav commented on #10240
I'll check. This is in the same component but doesn't seem like caused by 9247.

[2022-08-10 22:33] marcaaron commented on #7081
@Luke9389 @MitchExpensify seems fair to me based on the scope of the job and seems like maybe it was priced a bit low from the beginning.

[2022-08-10 22:33] MitchExpensify commented on #8929
Do we need to move forward with [the PR](https://github.com/Expensify/App/pull/9622) if the issue not reproducible?

[2022-08-10 23:18] MitchExpensify commented on #7081
Cool, I'll add a $750 bonus when paying tomorrow.

[2022-08-10 23:24] Luke9389 commented on #7081
I agree with that new total 👍

[2022-08-11 00:08] kadiealexander commented on #9928
@mountiny any thoughts on the regression warning above?

[2022-08-11 01:33] andrewlor commented on #8608
I can't find a good way to work around these global styles. So if we're good with keeping everything as inset, my proposal remains the same. Other than bumping the width up to 2px. So the planned code change would just be in `web/index.html`:
[code]

It would look like it does in this video: https://github.com/Expensify/App/issues/8608#issuecomment-1209924927

[2022-08-11 01:51] aimane-chnaif commented on #10272
@rushatgabhane this is called in `componentDidMount`, which means `props.iou` is set immediately as `{selectedCurrencyCode: xxx}` after IOUModal component is rendered first time.
https://github.com/Expensify/App/blob/c5b3ba87542f10b1303121c1131230d31bd9771a/src/pages/iou/IOUModal.js#L147
So IOUModal is still functional after setting value.
The crash happens only because `componentDidUpdate` is cal

[2022-08-11 02:35] syedsaroshfarrukhdot commented on #10283
@neil-marcellini  @Santhosh-Sellavel  To resolve both issues in #7145 and this without removing  maintainVisibleContentPosition={{minIndexForVisible: 0, autoscrollToTopThreshold: 0}}   we need to set autoscrollToTopThreshold as 300, then your list will automatically scroll to first element, if the current scroll position is between 0-300. Once you scroll beyond 300, then only the scroll position w

[2022-08-11 02:45] neil-marcellini commented on #9581
I'm going to ping in #expensify-open-source for more visibility.

[2022-08-11 04:11] mvtglobally opened #10345 "[$1000] DEV Env - App performance on Android is extremely slow - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Upgrade Android app build in Dev to latest version
2. Navigate to chats
3. Create group chat
4. try other typical user actions

[2022-08-11 04:31] thesahindia commented on #10240
Do you think constructor is a better place to set the draft details for values that have come from a prop?

Yeah we can do that.

[2022-08-11 04:32] mateusbra commented on #9581
I think I could take this one, if possible

[2022-08-11 05:28] Christinadobrzyn commented on #10119
working on the [PR](https://github.com/Expensify/App/pull/10159)

[2022-08-11 05:29] Christinadobrzyn commented on #9332
hey @parasharrajat do you have any updates for this? Looks like we're reviewing proposals?

[2022-08-11 05:30] Christinadobrzyn commented on #7185
Looks like the [PR](https://github.com/Expensify/App/pull/9023) is in the works? @parasharrajat do you have an update on this one?

[2022-08-11 07:21] madmax330 commented on #10271
Focused on Global reimbursements now, will drop this back in the pool

[2022-08-11 07:44] mountiny commented on #9928
@kadiealexander nothing, we haven't merged anything for this issue so we cannot have regression here, we are working on improving this message logic

[2022-08-11 07:48] dhairyasenjaliya commented on #9928
@kadiealexander actually this PR will solve another bug as well so I have mentioned that issue here but somehow melvin count as regression 🤦

[2022-08-11 08:01] dylanexpensify commented on #10148
You got it @rushatgabhane! Thanks for the input!

[2022-08-11 08:04] mountiny commented on #9928
Yeah, Melvin is dumb, they see a link to an issue, they act 🤦

[2022-08-11 08:21] mdneyazahmad commented on #7917
@thienlnam I had posted my thoughts on that method. I will re review it and post the conclusion. Thank you!

[2022-08-11 09:26] mountiny opened #10346 "[Test] Do not mind"
QA for https://github.com/Expensify/Web-Expensify/pull/34551

[2022-08-11 09:32] dylanexpensify commented on #9848
Nice, thanks man!

[2022-08-11 09:34] dylanexpensify commented on #9848
Internal: https://www.upwork.com/ab/applicants/1557661553099186176/job-details
External: https://www.upwork.com/jobs/~0144dd7c56faead9c1

[2022-08-11 09:34] mountiny commented on #10346
Wohooo, this works 🎉 Please do not mind this issue!

[2022-08-11 09:34] #10346 closed

[2022-08-11 09:34] #10275 closed

[2022-08-11 09:35] eVoloshchak commented on #9422
With the latest version from git (v1.1.88-7) it looks like this:

https://user-images.githubusercontent.com/9059945/184105256-d161c80c-0735-42a0-b181-5820ea72cbbf.mp4

[2022-08-11 09:35] dylanexpensify commented on #9902
Internal: https://www.upwork.com/ab/applicants/1557661934826991616/job-details
External: https://www.upwork.com/jobs/~01fcc6865ab6ae9e42

[2022-08-11 10:39] sketchydroide commented on #9826
I will create the PRs for it

[2022-08-11 11:12] eVoloshchak commented on #9422
I'm not assigned yet, but no problem, I'll submit a PR tomorrow

[2022-08-11 11:14] sketchydroide commented on #9827
still seems like it has not been deployed

[2022-08-11 11:32] syedsaroshfarrukhdot commented on #10127
**Proposal**

The Issue with highlighter being hidden from top when up key is pressed and from bottom when down key is pressed in all lists is due to maxIndex props being passed to ArrowKeyFocusManager when this.props.canSelectMultipleOptions is true it passes the length to it. In case if this.state.allOptions.length is equal to 2 ArrowKeyFocusManager starts from 0 to 2 highlighting item at index

[2022-08-11 11:38] Beamanator commented on #9123
Bumped review :D

[2022-08-11 11:41] Beamanator commented on #10198
@Santhosh-Sellavel mind reviewing the latest proposals?

[2022-08-11 12:15] michaelhaxhiu commented on #9509
deployed to staging, waiting now

[2022-08-11 12:36] Santhosh-Sellavel commented on #10283
Why 300? @syedsaroshfarrukhdot

[2022-08-11 12:56] michaelhaxhiu commented on #9990
Paid

[2022-08-11 12:56] #9990 closed

[2022-08-11 13:33] valery-lavrik commented on #5193
I also searched for a solution to this problem for a long time, and finally decided to modify react-native-fast-image a little and added the preloadDimension method to it, which does the same as getSize only returns the real size of the image.   I also use the same library to show the image, which solves the problem of quality reduction

https://github.com/valery-lavrik/react-native-fast-image

[2022-08-11 13:44] valery-lavrik commented on #5193
@parasharrajat   I just shared my decision, maybe it will be useful to someone. It's much simpler

[2022-08-11 14:11] PauloGasparSv commented on #10345
Double checking if the [ReactNative version upgrade](https://github.com/Expensify/App/pull/9841) done lately has affected the performance as it was mentioned in the slack thread multiple times

[2022-08-11 14:40] phuongpt commented on #9061
@parasharrajat it still there are something need to improve when creating PR to make sure everything works properly. You can choose this approach or another one, it's up to you.

[2022-08-11 14:43] Julesssss commented on #8846
The commits need to be signed before we can review and merge.

[2022-08-11 14:45] PauloGasparSv commented on #10345
Problem was replicated successfully locally on `main` and goes to back to normal if tested on a commit before the RN version upgrade. Solving the issue requires a bigger investigation, since this can be worked by internal and external people I'm adding the external label.
cc @roryabraham and @AndrewGable

### Useful links
https://reactnative.dev/blog/2022/06/21/version-069
https://reactnative.dev/

[2022-08-11 15:35] alex-mechler commented on #10327
Awesome, thanks!

I think this is an underlying performance issue, but still going to send this external to see if there is anything we can do to speed this up while the larger performance updates are happening!

[2022-08-11 15:37] tgolen commented on #10311
Right now, this page requires two separate API calls to get all the data needed for display. That is not 1:1, that is 1:2 and I think that's wrong.

I would feel a _little_ bit better if the Onyx connection was only connecting to the single policyID key that it needs to get the name, but currently, it's connecting to the entire collection of policies, and looping through all of them to find the ri

[2022-08-11 15:41] tgolen commented on #10214
Thanks, Rory!

I totally understand that the problem you're running into can be reproduced on _ANY_ repository. It's not a problem that's specific to a repo. So, while I believe you that the script reproduces the bug, I don't think it's an accurate test.

Can you reproduce the bug using the web-e deploy process?

[2022-08-11 15:43] tgolen commented on #10214
Primarily, I think one of the disconnects with the bug, and the web-e deploy process might be your step 7:

We don't merge main into staging during the deploy process. We create a new copy of staging based on main (and destroy the previous version of staging). Typically refered to this as the "branch dance".

[2022-08-11 16:17] tyagi6165 commented on #10287
We can resolve this by maintaining a JSON collection with county names and country currency symbols and flags. On the selecting a country, we can hold the country data and show symbols where ever needed

[2022-08-11 16:20] luacmartins commented on #10329
I think this can be external!

[2022-08-11 16:39] roryabraham commented on #10214
Very astute observation! This does in fact prevent the issue we're seeing here! You can see that by changing the above script(s) to replace:

[code]

And looking at the Git chart it makes sense why:

![GitChartWebE drawio](https://user-images.githubusercontent.com/47436092/184185756-56553606-f3d9-4a96-85f5-dd53f2913dcd.png)

---

So my next question is: How do we manage that "branch dance" in Web-

[2022-08-11 16:49] luacmartins commented on #10311
Not sure why it would break 1:1, since the policies are fetched on OpenApp and we don't need to trigger an additional API call for it.

We would need to connect to the entire collection, but we don't need to loop through all of it to find the right policy, we could just access it directly by `this.props.policies[this.props.report.policyID]`

[2022-08-11 16:50] neil-marcellini commented on #9581
Please submit a proposal following the guidelines [here](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#propose-a-solution-for-the-job) and if it looks good we'll hire you for the job! Thanks.

[2022-08-11 16:50] michaelhaxhiu commented on #9240
Payment on track for today.

[2022-08-11 16:56] iwiznia commented on #10311
Exactly. There must be tons of places where we assume the data we loaded during OpenApp is there and load additional data for a specific page, no?

[2022-08-11 17:02] luacmartins commented on #10311
Yea, we will either fetch additional data like we do in the `InitialSettingsPage` (we fetch the user wallet balance, which is not returned in OpenApp) or we update it when switching chats for example.

[2022-08-11 17:06] tgolen commented on #10214
Ah, cool! I believe the way it works is that the deployer group is given permissions on the repo to force push to staging and production. Then the script does a forced push of the current `main` branch to the remote's `staging` branch (I think this is as simple as using the `-F` flag). It's been a while since I've dug into that code though.

The force push is applied here: https://github.com/Expen

[2022-08-11 17:16] kidroca commented on #10214
@roryabraham I haven't dug that deep into the problem, but could a thing like enforcing PRs to be **rebased** on to `main` before the merge fix the problem without changing the current cherry pick flow

I've been asked to rebase my PR, before it was done when working on other open source projects

Rebase keeps a linear history and this should help with something being cherry picked after merge, si

[2022-08-11 17:30] aimane-chnaif commented on #10272
@rushatgabhane @AndrewGable I just noticed this crash already fixed by @marcaaron in internal team
https://github.com/Expensify/App/issues/10275
https://github.com/Expensify/App/pull/10340

@marcaaron I think `iou` value is removed from storage and becomes `undefined` when out of storage. Only happening to the account with lots of data (workspaces, chats, etc)

[2022-08-11 17:33] tgolen commented on #10311
Why do you need to connect to the entire collection? You should be able to connect to the collection's policy key directly, can't you?

[code]

Regarding 1:1; If you are on the workspace settings page, and you refresh the page, you would count 2 API requests for one action, no? How is that not 1:2?

[2022-08-11 17:39] luacmartins commented on #10311
I don't think we get passed `report` as a prop. We seem to get the `reportID` from [route.params.reportID](https://github.com/Expensify/App/blob/18e07f9d2b84cbf6b56d69d0d78da204fec8af5d/src/pages/ReportSettingsPage.js#L277-L279) and then connect to the report key. Would calling `key: props => ...` still work in that case?

Well that happens right now. Refresh your app with an open report and notic

[2022-08-11 17:50] mvtglobally opened #10347 "[$500] mWeb: Extra white space on the right - reported by @ahmdshrif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to Expensify
2. Open to https://new.expensify.com/ again
3. Note the space on the right

## Expected Result:
UI appears

[2022-08-11 17:56] mvtglobally opened #10349 "Android - Keyboard appears on the main screen - reported by @"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Kill Expensify if you have it in the background and re-open it.
2. go to any chat
3. edit any comment.
4. Go back to home scre

[2022-08-11 17:58] mvtglobally opened #10350 "[$250] The input doesn't scroll back to bottom after adding an emoji to last line in expanded state - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open :expensify: at mobile browser
2. Go to any chat
3. Paste the text given in the thread)
4. Tap on expand button (top left

[2022-08-11 18:03] liyamahendra commented on #10202
@Santhosh-Sellavel I measured the actual distance (top & bottom), in PhotoShop, with multi line text & with my changes and I seem to have the exact same distance - see the below screencast where I measure it live. You'll notice that the distance is 27px.

https://user-images.githubusercontent.com/911879/184208224-cb3ccc75-ed39-422c-a648-551c9af6266d.mp4

Can you check and advise?

cc: @shawnborton

[2022-08-11 18:06] mvtglobally opened #10351 "[$250] Changing code on Desktop backend, does not hot reload the app - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Run the dev server for desktop app via npm run desktop.
2. Make changes to main.js file.

## Expected Result:
App does not sho

[2022-08-11 18:09] mvtglobally opened #10352 "[HOLD for payment 2022-11-16] [$500] IPAD: Extra space on the above attachment - reported by @ahmdshrif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app ( on iPad landScape)
2. go to any chat
3. send pdf
4. open the pdf file

## Expected Result:
No extra space above the

[2022-08-11 18:12] dharmik commented on #8846
@Julesssss @mananjadhav PR link https://github.com/Expensify/App/pull/10348

[2022-08-11 18:14] mvtglobally opened #10353 "[$250] IPAD: login screen not organized - Reported by @ahmdshrif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Open app ( iPad  portrait)

## Expected Result:
The login screen should be more organized  ( remove the image or keep  and make t

[2022-08-11 18:19] mvtglobally opened #10354 "IPAD: floating button moved with textInput - reported by @ahmdshrif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app ( iPad  portrait)
2. focus text input

## Expected Result:
Only text input move above the keyboard.

## Actual Result

[2022-08-11 18:21] gladiator-1 commented on #7835
@JmillsExpensify  I was assigned to add this feature [two months ago](https://github.com/Expensify/App/issues/7835#issuecomment-1145161133), I spent about 13 days implementing it and completed it [here](https://github.com/Expensify/App/issues/7835#issuecomment-1156961404), closing the issue without at least reviewing what I achieved means erasing my effort.

You could test what I built on the deve

[2022-08-11 18:25] mvtglobally opened #10355 "[$250] Deleting a workspace doesn't delete its room if it is pinned. It is blank and you can't even unpin the room because it is not accessible - Reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a new workspace
2. Pin its announce room
3. Delete the workspace
4. See that the workspace remains pinned (and _archive

[2022-08-11 18:30] mvtglobally opened #10356 "[HOLD for payment 2022-11-11] [$1500] some emojis are not displayed correctly as they should be - reported by Karim mostafa"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1- open app
2- Type emoji's keyword in the chat box
3- observe the shape of the emoji appeared

## Expected Result:
Emojis should

[2022-08-11 18:34] shawnborton commented on #10202
I think it looks pretty well aligned in your screenshot, so that works for me.

Unrelated though, what's up with the big gray space under the app and above the "localhost" bar?

[2022-08-11 18:39] mvtglobally opened #10357 "[$500] Can't find the download PDF's on the iOS. - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open app on iOS
2. Send a PDF document.
3. Open the PDF document.
4. Click on the download icon.
5. Click :heavy_plus_sign:  i

[2022-08-11 18:42] mvtglobally opened #10358 "The width for attachment isn't set. We should have a fix width and if the name is longer, then we should use ellipsis like slack - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to a chat
2. Send different mp4 files with short and long names

## Expected Result:
The attachment should have same width.

[2022-08-11 18:43] mallenexpensify commented on #9382
@Beamanator this is still happening to me on Version 1.1.88-7 - Staging
Any reason we shouldn't reopen this GH since the deets are the same? Also, more details and logs in #expensify-open-source
https://expensify.slack.com/archives/C01GTK53T8Q/p1660149965758469

[2022-08-11 18:43] Luke9389 commented on #4656
Callstack situation keeps getting delayed. I'll post here when we have a firm start date

[2022-08-11 18:47] mvtglobally opened #10359 "[$500] Chat list rendering is broken on resized window - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the staging app on web.
2. Resize the browser window vertically (see video for example).
3. Scroll up to load more messag

[2022-08-11 18:51] marcaaron commented on #10272
Ah hmm why would it be _removed_ from storage? My first thought was that it was not removed, but just hasn't loaded yet. Did we observe somewhere in the code where it's possible for that to happen or just a guess?

[2022-08-11 18:53] #10219 closed

[2022-08-11 18:59] mvtglobally opened #10360 "[$250] Some Unnecessary view is added above keyboard when it is active in android - reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open App
2. Go to chat window and tap on compose box
3. Or Perform any operation that opens native keyboard

## Expected Resul

[2022-08-11 19:01] mvtglobally opened #10361 "Unsupported file error doesn't get dismiss until user refreshes the page - Reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open web/mWeb
2. Go to Chat > Send a .heic or other unsupported attachment.

## Expected Result:
Error should get dismiss aft

[2022-08-11 19:02] michaelhaxhiu commented on #9240
Paid.

[2022-08-11 19:02] #9240 closed

[2022-08-11 19:17] mvtglobally opened #10362 "[HOLD for payment 2022-09-26] [$250] Loading indicator isn't in center - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to settings > Payments > Add payment method
2. Click on bank account

## Expected Result:
The loading indicator should be i

[2022-08-11 19:18] tgolen commented on #10311
Well, once this happens, the report is in the props that are passed to `key: props => ...`

Maybe we don't have logic built to handle this, and I honestly don't know what would happen, but it's worth trying (and supporting):

`key: (props) => props.report ? `${ONYXKEYS.COLLECTION.POLICY}${props.report.policyID}` : null,`

[2022-08-11 19:20] mvtglobally opened #10363 "Extra spacing below Add phone number - Reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Go to settings > Profile

## Expected Result:
There shouldn't be too much space

## Actual Result:
There's extra s

[2022-08-11 19:22] mvtglobally opened #10364 "rtf file is corrupted in the preview. The inside text changes - Reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open website.
2. Go to Chat > Send a .rtf attachment.
3. Preview the attachment

## Expected Result:
It shouldn't get corrupte

[2022-08-11 19:24] ntrepanier commented on #10360
Unable to recreate on my app. I'm not sure what could cause this. It looks like a code issue based on what I can find about it online. https://stackoverflow.com/questions/62051371/react-native-android-keyboard-empty-space. I'm hoping an engineer can help us figure it out.

[2022-08-11 19:26] mvtglobally opened #10365 "Borders around members are missing - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to settings
2. Click on any workspace
3. Click on members

## Expected Result:
You should be seeing border above and below

[2022-08-11 19:28] MitchExpensify commented on #7081
Paid!

[2022-08-11 19:28] #7081 closed

[2022-08-11 19:29] aldo-expensify commented on #10181
Agreed, I wasn't expecting that behaviour either, but I thought that the web functionality of selecting the next contact with enter was intended and we wanted to be consistent in mobile.

not exactly sure what you mean with this: "suggested functionality is for the web", do you say that because the video was taken from web?

This makes sense to me, but I guess we would do the same for web and mobi

[2022-08-11 19:31] MitchExpensify commented on #8841
Does it look like we ran into a regression here @aldo-expensify ?

[2022-08-11 19:31] mvtglobally opened #10366 "[$2000] Cursor is overlapping with amount digit on amount page - Reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch app on android or mweb
2. Press + icon on bottom right
3. Select send money
4. see the cursor overlapping with digit

#

[2022-08-11 19:35] aimane-chnaif commented on #10272
Theoretically, `iou` cannot be `undefined`. It's always set https://github.com/Expensify/App/blob/main/src/setup/index.js#L33 when app starts. Other than that, no code of setting or removing this value. Always do `merge`.
please check this video:
https://drive.google.com/file/d/1wtm19M_Lp-VDN66aoxOhe3mcrvo3sarH/view?usp=sharing
You will see that `iou` set to `undefined` unexpectedly
Also, app is t

[2022-08-11 19:36] mvtglobally opened #10367 "IOS / Android - Extra spacing above the header at additional details page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on Fab icon >
2. Send money >
3. onfido verification >
4. Additional details page

## Expected Result:
There shouldn't b

[2022-08-11 19:37] aldo-expensify commented on #8841
Nop, the PR was reverted with this other https://github.com/Expensify/App/pull/10101 to look for a more holistic/long term solution, so it should have caused a regression.. the issue described in this GH issue is still happening, but it is of very little priority

[2022-08-11 20:05] luacmartins commented on #10311
Yea, it doesn't seem like we support that yet. These are the props available in [this call]](https://github.com/Expensify/App/blob/757ff0cc58565af7198c3503f88b916277cce840/src/pages/ReportSettingsPage.js#L281):

![Screen Shot 2022-08-11 at 2 03 02 PM](https://user-images.githubusercontent.com/22219519/184230682-000b56ed-1c15-4129-9648-0d2519cb51dc.png)

One thing that I noticed is that policy is a

[2022-08-11 20:11] aldo-expensify commented on #10181
Thanks @parasharrajat for looking into it.

ah! I didn't notice, good to know

Hmm what you say makes sense to me, so.. one thing I was assuming is that we wanted the same behaviour for web/mobile, but this assumption may be wrong because there are cases where having a different behaviour can make sense, right? If that is correct, I guess my correction of the "Expected results" in the GH issue is

[2022-08-11 20:18] liyamahendra commented on #10202
Thanks @shawnborton for your comment.

That "big gray space" is due to how iOS Safari handles the web page. There was already an [issue open](https://github.com/Expensify/App/issues/8731#issuecomment-1168872623) sometime ago to resolve the extra space that gets added to the web page. This won't be showing on any other platforms - can be confirmed from my screenshots shared earlier.

Please let me

[2022-08-11 20:22] puneetlath commented on #10095
Paid @syedsaroshfarrukhdot.

Sent contract to @rushatgabhane for C+.

[2022-08-11 20:24] marcaaron commented on #10272
Maybe there is some bug related to how that initial data is getting set or possibly a race condition related to the sign outs. Have we tried debugging?

I don't quite understand the conclusion that the data is somehow related to running out of storage space. My suggestion would be to find some evidence that this happening and otherwise stay open to the possibility that the issue could be related t

[2022-08-11 20:26] marcaaron commented on #10272
I think we can close this issue though since it's a duplicate and should be fixed on my other branch. Feel free to reopen if we disagree.

[2022-08-11 20:26] puneetlath commented on #9542
Increasing price to $4000.

[2022-08-11 20:30] puneetlath commented on #9485
Paid @andrewlor. Sent C+ contract to @parasharrajat.

[2022-08-11 20:31] puneetlath commented on #10095
Everyone has been paid. Thanks everyone!

[2022-08-11 20:31] #10095 closed

[2022-08-11 20:36] arosiclair commented on #10311
I can give this a try.

withFullPolicy is added incorrectly here. It connects the policy based on the policy ID in the route however there is none for this page so it doesn't work. We'll be removing it from this page with the GetFullPolicy refactor soon.

[2022-08-11 20:39] bfitzexpensify commented on #10366
This is pretty minor, but now that I see it, I can't unsee it. Guessing it will be a pretty simple external fix.

[2022-08-11 20:57] shawnborton commented on #10202
Sounds good, curious for @Julesssss thoughts there

[2022-08-11 21:01] twisterdotcom commented on #10355
The error here is that unpinning from the LHN doesn't work. You can unpin from the room settings (top right) itself:

https://user-images.githubusercontent.com/9133401/184241414-6a2113b6-5206-41c8-b4c4-b481d43acb35.mp4

[2022-08-11 21:02] Santhosh-Sellavel commented on #10202
@liyamahendra

This is what I'm getting, try native app

https://user-images.githubusercontent.com/85645967/184241514-0133ce37-5d2b-440d-8162-1466dc8e9156.mov

[2022-08-11 21:02] roryabraham commented on #10214
After [discussing in slack](https://expensify.slack.com/archives/C07J32337/p1660240289078479) we are going to:

- Give `OSBotify` permission to force-push to `staging` and `production`
- Instead of merging `main` into `staging`, just delete `staging` and replace it with `main`

[2022-08-11 21:04] puneetlath commented on #9728
Paid @eVoloshchak and @daraksha-dk.

Sent C+ offer to @rushatgabhane.

[2022-08-11 21:09] roryabraham commented on #8929
@MitchExpensify it might depend on what iOS device is used. I think we should move forward with the PR for the sake of code consistency and cleanup too. @JosueEchandiaAsto when can we expect an update?

[2022-08-11 21:14] puneetlath commented on #9485
Everyone paid. Thanks for your contributions everyone!

[2022-08-11 21:14] #9485 closed

[2022-08-11 21:21] kadiealexander commented on #9928
LOL c'mon Melvin!! Thanks for the update team.

[2022-08-11 21:24] Santhosh-Sellavel commented on #10108
Not overdue

[2022-08-11 21:25] Santhosh-Sellavel commented on #9497
@eVoloshchak Bump

[2022-08-11 21:27] joekaufmanexpensify commented on #10351
Adding engineering label for help triaging this per this [discussion](https://expensify.slack.com/archives/C03TQ48KC/p1660253041898609?thread_ts=1660250804.557069&cid=C03TQ48KC).

[2022-08-11 21:50] adelekennedy commented on #10345
[internal](https://www.upwork.com/ab/applicants/1557846877608652800/job-details)
[external](https://www.upwork.com/jobs/~01d9b42815de8e3b6b)

[2022-08-11 22:11] strepanier03 commented on #10353
Sending on, I do not have an iPad so I could not recreate though.

[2022-08-11 22:40] marcaaron commented on #10240
I think I understand this solution, but don't quite agree.

Calling `updateAdditionalDetailsDraft()` will trigger another render regardless of whether it is called in `componentDidMount()` or the `constructor()`. That could be a solution, but it would be better to initialize the draft value with the value from personal details whenever the personal details are updated (let's not do this as it seem

[2022-08-11 22:45] arielgreen commented on #9660
Still in QA

[2022-08-11 22:45] arielgreen commented on #9628
Still in review

[2022-08-11 22:49] arielgreen commented on #8592
@parasharrajat per [this comment](https://github.com/Expensify/App/issues/8592#issuecomment-1203057240), what's the status here?

[2022-08-11 22:50] arielgreen commented on #10243
Done.

[2022-08-11 22:50] #10243 closed

[2022-08-11 23:47] JediWattson commented on #7862
I can try to do something’s this weekend

On Wed, Aug 10, 2022 at 10:22 AM Santhoshkumar Sellavel <
***@***.***> wrote:

[2022-08-11 23:48] neil-marcellini commented on #10353
Yes, I can confirm that this is ugly when running on the ipad. This would be a great external issue. The key will be to not break the layouts for any of the other platforms.
![Simulator Screen Shot - iPad Pro (12 9-inch) (4th generation) - 2022-08-11 at 16 45 45](https://user-images.githubusercontent.com/26260477/184260523-e4df76fb-fb34-4dc9-bff8-612d8ae13400.png)

[2022-08-11 23:55] Santhosh-Sellavel commented on #10198
@Beamanator
Let's go with @advaitasol9's [proposal](https://github.com/Expensify/App/issues/10198#issuecomment-1208436786).
That's the first proposal suggesting it, the rest of the proposals are redundant.

🎀 👀 🎀
C+ Reviewed

[2022-08-12 00:59] Santhosh-Sellavel commented on #9510
Thanks, @Puneet-here.

Can you write a full proposal with changes in a new comment, so it will be easy to review?

[2022-08-12 01:14] kbecciv opened #10370 "IPAD - UI break when changing orientation @ahmdshrif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open NewDot app ( iPad )
2. Open keyboard
3. Change orientation

## Expected Result:
UI appears correctly.

## Actual Result:

[2022-08-12 01:34] aldo-expensify commented on #10356
At least for them moment, https://github.com/Expensify/App/pull/9551 is not solving it:

![Screen Shot 2022-08-11 at 6 31 32 PM](https://user-images.githubusercontent.com/87341702/184268858-90c543fe-298e-414c-87c0-e3efd98c9432.png)
![Screen Shot 2022-08-11 at 6 31 42 PM](https://user-images.githubusercontent.com/87341702/184268860-25d3009b-cca4-4faa-932d-2aba73dc1807.png)

This can be reproduced i

[2022-08-12 02:45] mateusbra commented on #9581
### PROPOSAL
I'll do the guidelines as said above:

1. Replace the form component with Form.js.
2. Create a unique Onyx key in ONYXKEYS.FORM and pass it as the formID prop to Form.
3. Pass a validate callback prop.
4. Pass an onSubmit callback prop that calls the API via an action.
5. Update all inputs wrapped by Form, following the guidelines in Refactor inputs.
6. Remove any unused code.

[2022-08-12 03:49] Christinadobrzyn commented on #9876
Looks like we're good to pay this!

Paid @eVoloshchak through this job - https://www.upwork.com/jobs/~01b994676f0c2a7858
Paid @Santhosh-Sellavel as C+ through this job - https://www.upwork.com/jobs/~01fe88959409bc009c

Closed the jobs in Upwork and closing this GH

[2022-08-12 03:49] #9876 closed

[2022-08-12 03:58] thesahindia commented on #10240
Makes sense.

[2022-08-12 04:40] MonilBhavsar commented on #9391
I think, we should display the chat in LHN when it is created. And when it is empty and navigated away we shouldn't display it and also never after that. Let me know if someone thinks differently.

[2022-08-12 04:41] Puneet-here commented on #10363
### Proposal
We should change this to
`style={this.props.login.partnerUserID ? styles.mb6 : styles.mb4}`
https://github.com/Expensify/App/blob/9cb1452ae18456116901b69ff32f8fafbc9b9c94/src/pages/settings/Profile/LoginField.js#L91

not sure if it should be mb4 or mb3

mb4           |  mb3
:-------------------------:|:-------------------------:
<img width="374" alt="Screenshot 2022-08-12 at 10 05 30

[2022-08-12 05:04] kadiealexander commented on #10327
https://www.upwork.com/jobs/~0109489e265df8d07e
https://www.upwork.com/ab/applicants/1557956048865767424/job-details

[2022-08-12 06:37] greg-schroeder commented on #10361
It's known that this file type isn't supported (https://github.com/Expensify/Expensify/issues/216891) but I don't see an issue referring to the error message persisting indefinitely, so I'll send to the Eng.

[2022-08-12 08:30] pecanoro commented on #10351
@parasharrajat Is this only for the `main.js` file? Because if I make changes for other files, it works just fine

[2022-08-12 09:21] Julesssss commented on #10327
Okay. So let's just aim for improvement here. We can close out the issue if no good solution is made.

[2022-08-12 09:29] eVoloshchak commented on #9497
It seems like a consensus has been [achieved](https://expensify.slack.com/archives/C01GTK53T8Q/p1659980975008289?thread_ts=1658936908.481629&cid=C01GTK53T8Q):

For iOS it always shows the phone's locale decimal symbol, so we know it will only have one symbol and whichever symbol that is, is the decimal separator and parse it accordingly.

So we accept both signs on IOS and only the correct one on

[2022-08-12 09:32] eVoloshchak commented on #9389
This should have been paid yesterday, but I've failed to link the issue correctly, so the title isn't updated (will not happen again). And my proposal on Upwork is still pending

[2022-08-12 09:58] mdneyazahmad commented on #7918
@MitchExpensify

We are moving ahead with this option, any further comment related to this option will be made on [this PR](https://github.com/Expensify/App/pull/9749). Thank you.

[2022-08-12 10:53] MonilBhavsar commented on #8592
@arielgreen, we're still discussing the issue

[2022-08-12 11:03] Beamanator commented on #9382
Weird! Ok so this time I see this error which doesn't look good:

[code]

[2022-08-12 11:31] MonilBhavsar commented on #7822
Looks good to me too 👍
Since this property displays error message according to class/functional component, I'm fine with single rule.

[2022-08-12 11:31] MonilBhavsar commented on #7822
@andrewlor assigning you to issue

[2022-08-12 11:39] MonilBhavsar commented on #10148
@mvtglobally this issue mentions that issue is reproducible on Android too. Could you please retest and confirm if this issue occurs on Android too. Thanks!

[2022-08-12 11:55] iwiznia commented on #10360
So there's a huge space between the keyboard and the content? And this is in all androids? And it is in production?
If so, how did this get past QA @mvtglobally ?

[2022-08-12 12:21] adeel0202 commented on #10355
@twisterdotcom, in my case, the chat screen is all blank (there is no unpin icon on the top right). Please check the video attached with the issue.

[2022-08-12 12:23] twisterdotcom commented on #10355
Huh, that is odd. Can you still recreate it @adeel0202?

[2022-08-12 12:25] adeel0202 commented on #10355
Yes, I just tried again on chrome and safari and I'm able to reproduce on both.

[2022-08-12 12:41] michaelhaxhiu commented on #9624
paid.

[2022-08-12 12:41] #9624 closed

[2022-08-12 12:50] advaitasol9 commented on #10198
Have applied on upwork, will try to have the PR ready before 15 august.

[2022-08-12 13:07] bfitzexpensify commented on #10291
@mananjadhav some proposals for you to review when you get a chance

[2022-08-12 13:27] Justicea83 commented on #10355
@michaelhaxhiu can this be external?

[2022-08-12 13:33] mananjadhav commented on #10291
Hi @bfitzexpensify, I am running behind on the backlog, is it possible to assign another C+?

[2022-08-12 14:24] Beamanator commented on #9382
Looks like this error has been happening for a decent amount of us, daily ([logs](https://staging.expensify.com/_devportal/tools/logSearch/#sort=asc&size=10000&query=blob%3A%22Unexpected%20token%20%3C%20in%20JSON%22%20AND%20timestamp%3A%5B2022-08-12T00%3A00%20TO%202022-08-12T23%3A59%5D)) for commands `ReconnectApp` mainly, but sometimes even for `OpenApp`

[2022-08-12 14:25] Beamanator commented on #9382
Making only daily b/c this doesn't seem to be a deploy blocker - seems to be on production too, and my email exists in the logs too, while I've been able to send messages the last few days - so doesn't seem it happens often enough to cause panic

[2022-08-12 14:26] Julesssss commented on #10202
The fix seems okay for me on Android, but iOS does look a bit off 😕

**Android**
![Screenshot_1660310901](https://user-images.githubusercontent.com/10736861/184373531-c5eb82bc-d939-4fbf-a398-5ca224365044.png) ![Screenshot_1660305465](https://user-images.githubusercontent.com/10736861/184373521-771a440e-7a44-405c-994e-478125296012.png)

**iOS**
![Simulator Screen Shot - iPhone 13 - 2022-08-12 at 15

[2022-08-12 14:27] Beamanator commented on #9382
cc @luacmartins since you worked on both `ReconnectApp` and `OpenApp` - have you seen these types of errors during dev or anything?

[2022-08-12 14:28] Julesssss commented on #10202
Though it's quite hard to tell. it almost looks like the cursor is at the right height instead of the text... Which might be the preferred solution after all...

[2022-08-12 15:07] arielgreen commented on #7822
@andrewlor @rushatgabhane sent offers in Upwork

[2022-08-12 15:10] luacmartins commented on #10364
It seems like the file gets corrupted after being processed by our server. Downloading the file and trying to open it results in an error as well, so it's not only the preview. I add the internal label and release this back to the pool!

[2022-08-12 15:12] mananjadhav commented on #7317
I am half done with the work and updates. Focusing on the MenuItem has some issue with the border, I’ll close this over the weekend

[2022-08-12 15:18] sakluger commented on #10370
I asked in Slack if anyone has an iPad and could help me test and verify this issue.

[2022-08-12 15:45] melvin-bot[bot] opened #10372 "Investigate: 💥 Crash 💥 `.WorkspaceBillsFirstSection`"
## Non-fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Cannot read property 'isFromPublicDomain' of undefined
### `address at index.android.bundle:1:3341106` `.WorkspaceBillsFirstSection`
### Number of Crashes: 6

## Device Information
* **Platforms:** Android
* **App Versions:** `1.1.87-9`
* **Devices:** samsung SM-N970F 9

## Stacktraces
<details>
<summary>Android 1.1.87-9

[2022-08-12 15:52] johnmlee101 commented on #10352
Seems like a fairly straightforward fix, doubt it was a regression so marking as external

[2022-08-12 16:00] andrewlor commented on #7822
I'll get started on creating the PR for [eslint-config-expensify](https://github.com/Expensify/eslint-config-expensify), but I also want to quickly clarify what the exact scope is for this job.

Is the job considered completed after merging the PR for the new rule definition? Or will I also be required to install the new eslint-config version in the main repo and fix all of the new lint errors it

[2022-08-12 16:07] andrewlor commented on #7822
Yes, that's correct. Just wanted to clarity, thanks. I believe I'll also need someone to publish the package to npmjs.com after merging since I don't have access.

[2022-08-12 16:10] liyamahendra commented on #10202
@Santhosh-Sellavel I confirm that I could see & reproduce what you're referring on the native iOS app. Allow me to look into this please?

[2022-08-12 16:10] syedsaroshfarrukhdot commented on #10283
@Santhosh-Sellavel 300 is there because IOUPreview Component takes upto 300 scroll position is scroll view but i figured out this causes another problem that if user will be in scroll position 0-300 when ever flatlist gets updated the user was draged to bottom instead maintaining it's scroll position so it wasn't a viable solution.

So i dug a bit more into and find out that when in IOUPreview.js

[2022-08-12 16:28] tgolen commented on #10361
Hm, when I try that locally on an updated `main`, I get this error instead (which is what I expect) and it can be dismissed.

<img width="505" alt="image" src="https://user-images.githubusercontent.com/1228807/184402263-16b2e780-e913-4304-bb5e-373fd532a30d.png">

That is a fairly new error message, so maybe it hasn't been updated on staging let. Let's try this again after the next deploy and see i

[2022-08-12 16:40] puneetlath commented on #9728
Ah got it, my bad! Updated the offer.

[2022-08-12 16:44] puneetlath commented on #9577
Updated to $500.

[2022-08-12 16:46] puneetlath commented on #10287
@tyagi6165 that information is already being stored. That is why we are able to search on it.

[2022-08-12 16:53] tgolen commented on #6301
not overdue

[2022-08-12 16:54] tgolen commented on #9979
not overdue

[2022-08-12 16:58] NicMendonca commented on #9183
@b1tjoy @rushatgabhane invited you to the new job 👍

[2022-08-12 17:03] neil-marcellini commented on #10100
@luacmartins I'm going to drop these Android issues to you because I'm really busy currently.

[2022-08-12 17:04] neil-marcellini commented on #10099
All yours @luacmartins.

[2022-08-12 17:19] Harshdeepjoshi commented on #10287
According to this comment, what is the expected behavior, Do we need to fix the search, or do we need to fix the symbol?

[2022-08-12 17:20] roryabraham commented on #8597
Still on hold

[2022-08-12 17:22] zanyrenney commented on #10367
I can't triage this properly because I have "UK" wallet so can only opt to send money outside expensify.

[2022-08-12 17:49] bfitzexpensify commented on #10356
@parasharrajat #9123 is referencing a particular subset of emoji problems (skin tone), but if I'm understanding correctly, you're saying that it will address this problem too?

[2022-08-12 17:59] thienlnam commented on #10036
Let's double this and get some proposals!

[2022-08-12 18:00] thienlnam commented on #7916
Same as the other audit forms issues - we should have reached a conclusion on that slack, could we also get an update here @mdneyazahmad

[2022-08-12 18:04] aldo-expensify commented on #10356
I got the feeling that it was something different. This happens even in chrome and I think it is coming from the hardcoded list of emojis in this file: https://github.com/Expensify/App/blob/e3c8897a5f7f870cce04e62fc433acb68f371dbe/assets/emojis.js#L8779-L8784

I tested manually changing the symbol, and I saw it changing in the app.

[2022-08-12 18:09] iyinolu commented on #10327
Is this Issue still open for contributions?

[2022-08-12 18:18] amyevans commented on #10335
Looks like @NicMendonca got unassigned here accidentally

[2022-08-12 18:21] ntrepanier commented on #10360
It's not on all androids. Mine is fine, which is why at first I thought it must be a local issue but nothing I found on it pointed to that.

[2022-08-12 18:27] robertjchen commented on #9829
Update before going OOO: working through the test/screenshots checklist in the PR.

[2022-08-12 18:35] michaelhaxhiu commented on #10068
damn I totally missed your comment @Julesssss! I'll remove the `external` label and remove from upwork right now.

[2022-08-12 18:36] neil-marcellini commented on #10335
Oh thanks, my bad!

[2022-08-12 18:44] NicMendonca commented on #10335
Job posting: https://www.upwork.com/jobs/~016bb2597fced2095a

[2022-08-12 18:54] luacmartins commented on #9382
I have not, but this error suggests that we are sending an html doc as response to OpenApp?!?! Note `<!DOCTYPE `
[code]

[2022-08-12 18:54] michaelhaxhiu commented on #10355
@Justicea83 I'm not sure, but if you feel any issue is fixable by external engineers then you can always label it `external`.

In this case, are you asking if it's eligible to be fixed externally? Or are you saying that you know it can be fixed externally and asking if that's ok to do?

[2022-08-12 19:02] bfitzexpensify commented on #7121
still in review

[2022-08-12 19:04] thesahindia commented on #10356
https://github.com/Expensify/App/issues/9123 has two issues in it.
1. Hand emoji at emoji picker shows as black and white
2. Some emojis look different at windows/Ubuntu because they need some system specific font.

This one is same as 2 but the system is different so we will need another font for this (Apple Color Emoji)

[2022-08-12 19:10] hamzashakeel348 commented on #10335
`<Button
                            icon={Expensicons.Bank}
                            text={this.props.translate('bankAccount.connectOnlineWithPlaid')}
                            onPress={() => BankAccounts.setBankAccountSubStep(CONST.BANK_ACCOUNT.SETUP_TYPE.PLAID)}
                            disabled={this.props.isPlaidDisabled || !validated}
                            style={[styles.mt5, s

[2022-08-12 19:19] bfitzexpensify commented on #9548
Doubled to $500

[2022-08-12 19:21] Justicea83 commented on #10355
Am asking if it's eligible to be fixed externally

[2022-08-12 19:40] luacmartins commented on #9382
I tried to repro this on dev, staging and prod but no luck so far. Maybe we can wrap `ReconnectApp` in a try-catch and throw that error so we have a full stack trace to work with?

[2022-08-12 19:48] puneetlath commented on #10287
@Harshdeepjoshi we need to fix the symbol. The search is working properly. But the display should be this (image taken from old expensify):
![image](https://user-images.githubusercontent.com/1371996/184432292-b1389cfa-f06a-4d34-bac1-ee5d07c5ba9c.png)

Instead of this (image taken from new expensify):
<img width="358" alt="image" src="https://user-images.githubusercontent.com/1371996/184432328-de77

[2022-08-12 19:49] puneetlath commented on #9728
Everyone has been paid. Thanks for your contributions!

[2022-08-12 19:49] #9728 closed

[2022-08-12 20:16] iyinolu commented on #10327
Please verify you have provided the correct password for the affected acccount. Thanks

[2022-08-12 20:26] liyamahendra commented on #10202
Hi @Santhosh-Sellavel, I was able to resolve the padding issue on native iOS app. Following is the updated proposal:

1. Update the `paddingVertical` in `textInputComposeSpacing` style to `4`. The updated style is as follows:
[code]

2. Update the `style` prop` for the `Composer` in `ReportActionCompose.js` file from
[code]

to
[code]

Attached is the screencast showing the change on both mWeb and

[2022-08-12 20:57] jasperhuangg commented on #10363
@stephanieelliott Before we export this, @Expensify/design do we think this change is necessary? It honestly looks fine to me, not sure if it needs to be fixed.

[2022-08-12 21:14] marktoman commented on #9402
I am experiencing inconsistent behavior on ios. I can push it as a draft PR by Monday, but I'll need more time after that to find a way.

[2022-08-12 21:44] shawnborton commented on #10363
This is definitely not a bug, and furthermore, we'll be reworking this section soon. Going to close.

[2022-08-12 21:44] #10363 closed

[2022-08-12 21:46] shawnborton commented on #9938
Should we pause on this one while we finish up offline improvements?

[2022-08-12 22:03] MitchExpensify commented on #8841
got it! Paying based on [this comment](https://github.com/Expensify/App/issues/8841#issuecomment-1194855072)

[2022-08-12 22:07] errahsoufiane commented on #9938
This happens not only when offline/online switch but also when app becomes heavy due to many background tasks (I confirmed)

[2022-08-12 22:07] MitchExpensify commented on #8841
Confirming in #contibutor-management what price that should be

[2022-08-12 22:08] stitesExpensify commented on #7968
looks like this has stalled a bit. Does anyone have an active proposal for this issue? cc @owjsub @mdneyazahmad @Santhosh-Sellavel

[2022-08-12 22:14] mallenexpensify commented on #10370
I was able to test and got two results
First... it seemed to be working OK-enough

https://user-images.githubusercontent.com/22508304/184451038-fd6ff559-dfa3-41a4-8857-2ce748b065cb.MP4

Second, UI was messed up

https://user-images.githubusercontent.com/22508304/184451075-851c6d8a-67a5-4a70-a3e2-eaba9a45fd35.MP4

So.. in regards to the title `IPAD - UI break when changing orientation` for anyone s

[2022-08-12 22:19] MitchExpensify commented on #10353
[Upwork Job](https://www.upwork.com/jobs/~01c88aa69418a49ca3)

[2022-08-12 22:32] MitchExpensify commented on #10367
Can you provide more specific reproduction steps please @thesahindia, not sure exactly how you are getting to that screen

[2022-08-12 22:40] mallenexpensify commented on #7288
Is the welcome step still relevant?  @JmillsExpensify , I feel like you'd know best.

[2022-08-12 22:44] mallenexpensify commented on #9578
@arielgreen can you keep an eye on this next week then I'll snag once back? Thx

[2022-08-12 22:46] mallenexpensify commented on #8455
Thanks @Luke9389 .  We should update CONTRIBUTING.md and drop a comment in #expensify-open-source about how we deal with bugs reported before and during refactors.  (I'm off next week, I'll try to remember to address once back)

[2022-08-13 07:49] muhammadazhariqbal commented on #10353
if this screen layout is not organized then we can use react-native-responsive-screen or native base library for solving this issue and make the layout of the app organized.

[2022-08-13 09:54] ahmdshrif commented on #10353
my proposal.
is to  add `minHight` to be `screen.height` . to top part.
the simple way to fix it

[2022-08-13 10:17] iyinolu commented on #10327
Issue is not reproducible on MacOS. Push Notification links to the correct chat only [staging env].

[2022-08-13 16:12] ntdiary commented on #8292
# Proposal
react-navigation doesn't provide a way to monitor animation completion for mobile web in legacy mode.
Its animation is realized by changing the inline style with javascript.
1. can use `MutationObserver` to observe its style attribute and execute a callback function when the animation ends.
2. this function can store the sidebar animation status with `onyx`.
3. the `ReportActionCompose`

[2022-08-13 17:30] mananjadhav commented on #10127
@syedsaroshfarrukhdot I prefer not to add module specific props to `ArrowFocusManager` component. I expect the it be generic (I am working on another PR which will use it on a list of `MenuItems`) .

Still open for better proposals.
--------------

Also team,
I just ran this on staging.new.expensify.com. I can see the highlight goes back to the first item in the list (v1.1.88-7).  Are we looking t

[2022-08-13 17:53] mananjadhav commented on #9580
@ravindra-encoresky Thanks for the proposal but it is incomplete. The `CompanyStep` is a part of the step navigation, are you sure it is working fine with your changes? Also can you check the guidelines mentioned in the GH body.

Still open for better proposals.

[2022-08-13 19:26] mzohaibqc commented on #10289
*Proposal*
Hi Expensify, This is Zohaib from Upwork.

Solution:
I reviewed your `test.yml` file which runs unit tests and it is simple and runs all test on one instance of github ci container. GitHub actions has feature called *Build Matrix* which allows you to distribute your tasks on multiple instances in parallel/series  to run those tasks independently or based on other tasks. Let's say, you h

[2022-08-13 19:34] owjhart commented on #7968
# Proposal

## Root cause

The Keyboard listener is bypassing the normal event propagation such that pressing the `enter` key will always fire the Button.js `pressOnEnter`-based listener even though the 'cancel' button is focused.

## Solution

1. Stop bypassing the default event propagation in the Button.js `pressOnEnter`-based listener so that when the 'cancel' button is focused, pressing the 'e

[2022-08-13 19:40] mzohaibqc commented on #10289
@rushatgabhane I agree, that is what @KingStar1001 proposed but he did not explain how that will work. Buddy @KingStar1001 no offence to you :)

I can setup jest caching as well if not setup already but main goal is to reduce the PR time which I can ready to help.

[2022-08-13 19:58] mzohaibqc commented on #10289
@rushatgabhane I already submitted my proposal so I can't attach anything now. However, here are some results.

**Without Matrix**

![withut matrix](https://user-images.githubusercontent.com/13637803/184508932-fec6df02-f205-4fd3-8497-6f546664289a.png)

**With Matrix**
![with matrix](https://user-images.githubusercontent.com/13637803/184508951-ebb673d1-ff2d-4bc3-ac15-1f77935d4c10.png)

[2022-08-13 20:01] mzohaibqc commented on #10289
@rushatgabhane I already submitted the proposal and can't attach anything now. However, here are some results

**Without Matrix**
![withut matrix](https://user-images.githubusercontent.com/13637803/184509026-b0200d34-45c2-4c96-b674-7946d828a71c.png)

**With Matrix**
![with matrix](https://user-images.githubusercontent.com/13637803/184509029-d81c3408-eafd-4ccd-af9d-e55a9907b0a6.png)

[2022-08-13 20:09] mzohaibqc commented on #10289
@rushatgabhane There is nothing much to share related to code. It's everything about github action yml file. However, here is a screenshot of that

![github-action](https://user-images.githubusercontent.com/13637803/184509258-36a0a3f2-7905-46ee-baab-bd0efaece80a.png)

[2022-08-13 21:49] frenkield commented on #8595
Hi @kadiealexander, @parasharrajat and @shawnborton.

I need to take some time off. I'll resume working on the PR on Monday, August 22nd.

[2022-08-13 22:01] ahmdshrif commented on #10353
# Proposal

this line is the root cause.

https://github.com/Expensify/App/blob/f420889213d69c3bb3e9523a1ff3bda3c50cfc49/src/pages/signin/SignInPageLayout/index.js#L65-L74

the solution is to remove them and
this will make the  MediumScreen render with the same screen for the large screen.

https://github.com/Expensify/App/blob/f420889213d69c3bb3e9523a1ff3bda3c50cfc49/src/pages/signin/SignInPageLa

[2022-08-14 06:53] mateocole commented on #9973
feel free to assign back to me once this is looked into

[2022-08-14 10:57] ahmdshrif commented on #10353
Since I report this issue  my expectation was  to be one of the proposal result ... for me i vote for the first proposal.

[2022-08-14 11:27] Tabakharniuk commented on #10258
There has been no update on https://github.com/oguzhnatly/react-native-image-manipulator/pull/1 for more than 9 days. Because of that I've forked the library and published it to npm([link](https://www.npmjs.com/package/react-native-image-manipulator)). Also, I've updated PR (https://github.com/Expensify/App/pull/10279). Retested on real device and now everything works fine.

Would that be an accep

[2022-08-14 14:22] Santhosh-Sellavel commented on #9707
Sorry @andrewlor missed your comments.

As per your comments, problem seems to be in library, if so then fix should be in the library too right?

[2022-08-14 15:06] Puneet-here commented on #9510
Just wanted to know for which approach I have to write the full proposal.
ONYX one as it was decided in the end previously or the first (moving state approach)

[2022-08-14 15:24] Santhosh-Sellavel commented on #9510
ONYX method @Puneet-here

[2022-08-14 18:35] Luke9389 commented on #10185
Huh, when I try this, I'm only getting the `Copy URL to clipboard` option.
Do I need to enable something specific to get the Copy Link option to show
<img width="920" alt="Screen Shot 2022-08-14 at 11 34 30 AM" src="https://user-images.githubusercontent.com/49007721/184550382-ec5d8eba-bb2e-446c-840c-e41d169515d7.png">
?

[2022-08-14 18:36] Luke9389 commented on #10233
Still looking for a contributor for this one.

[2022-08-14 22:31] kadiealexander commented on #9418
Still on hold.

[2022-08-15 01:00] isagoico commented on #10225
For context, the steps were discussed and added in this ticket https://github.com/Expensify/Expensify/issues/217359 - Maybe @roryabraham can give more info on the `ALT + DEL` function.

[2022-08-15 03:12] danieldoglas commented on #10084
it will! I'll close this and relate it on the other issue.

[2022-08-15 03:12] #10084 closed

[2022-08-15 03:12] danieldoglas commented on #10163
Closed the [issue](https://github.com/Expensify/App/issues/10084) that created this discussion.

[2022-08-15 04:03] Christinadobrzyn commented on #10352
Job created in Upwork -

Internal job posting - https://www.upwork.com/ab/applicants/1559027292353654784/job-details
External job posting - https://www.upwork.com/jobs/~01e3e6cbb28903b6fd

[2022-08-15 04:06] Christinadobrzyn commented on #10025
Updated job price to $500

[2022-08-15 04:16] kadiealexander commented on #10233
Price doubled!

[2022-08-15 04:44] kadiealexander commented on #10036
Price doubled!!

[2022-08-15 05:02] kadiealexander commented on #9809
@Julesssss did you have any luck getting someone to repro this?

[2022-08-15 06:30] mdneyazahmad commented on #7916
Consensus in the thread is to move forward with:

Working on [this PR](https://github.com/Expensify/App/pull/9749)

[2022-08-15 06:50] vfurkanguner commented on #10352
PROPOSAL

I reproduce the problem. The problem seems to be related only to padding. But if we remove the padding, I haven't tested what kind of problem will occur on other screens.

[2022-08-15 07:04] mountiny commented on #10163
@NicMendonca We might want to double the price on this one! Thank you 🙇

[2022-08-15 07:59] zanyrenney commented on #10185
Hmm that's strange, are you on the latest version of Newdot / tried the app as well as web?

[2022-08-15 08:56] conorpendergrast commented on #10354
Looking to see if this is the correct behaviour internally https://expensify.slack.com/archives/C03U7DCU4/p1660553762368969

[2022-08-15 09:54] Julesssss commented on #9809
No, and I'm not sure we can do anything further until we have specific steps to narrow down the device 😕 I wonder if it has something to do with device language, as I can't think what else differs between the test devices

[2022-08-15 09:57] Beamanator opened #10376 "[Hold] Allow emojis to be saved in Profile page inputs"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Add an emoji to first or last name

## Expected Result:
Emoji should show in the field

## Actual Result:
Entire field is wiped o

[2022-08-15 09:59] Beamanator commented on #10376
This happened due to: https://github.com/Expensify/Web-Expensify/pull/34450/files

I added stricter input pattern matching for `firstName`, `lastName`, and `pronouns`. I will loosen the restrictions for `firstName` and `lastName` so that they're like the custom `pronouns` field, where emojis and other special characters can be added

[2022-08-15 10:12] vladnobenladen commented on #9548
### **Proposal**

Since this happens in `render` function (according to the title of this GH) and from crashlytics log @luacmartins commented [here](https://github.com/Expensify/App/issues/9548#issuecomment-1206584375), I can confirm this crash happens from this line:
https://github.com/Expensify/App/blob/168ae4330a083fc3562f5b6bb5dd1f0aac925a69/src/pages/home/report/ReportActionCompose.js#L500

*

[2022-08-15 10:13] Beamanator commented on #10376
Actually I might see what other people advise on this one, a few things to consider:
1. I believe we do want to allow emojis to be added to personal details first & last name (we had this working before and it wasn't causing problems)
2. Should I make new inputrules params for these, which allow for emoji characters? Or should I modify existing `firstName` and `lastName` params?

[2022-08-15 10:43] Julesssss commented on #10354
Not a bug

[2022-08-15 10:43] #10354 closed

[2022-08-15 10:47] mdneyazahmad commented on #7918
@parasharrajat As we were discussing the solution and the consensus is to solve as per the solution provided in this https://github.com/Expensify/App/pull/9749. If we make the pr close successfully. I will create the pr to fix all these audit fixes as the solution to all of this is going to be same.

[2022-08-15 11:03] mdneyazahmad commented on #7918
Kind of like that you can suggest a better approach.

[2022-08-15 11:15] NicMendonca commented on #9183
bump @b1tjoy @rushatgabhane can you accept the offer please?

[2022-08-15 11:24] NicMendonca commented on #10163
Price doubled: https://www.upwork.com/jobs/~01483fb4b26ac8eba4

[2022-08-15 11:40] NicMendonca commented on #9183
paid 🎉 thanks!

[2022-08-15 11:40] #9183 closed

[2022-08-15 12:17] errahsoufiane commented on #10352
### **Proposal**
<img width="1234" alt="code" src="https://user-images.githubusercontent.com/108141252/184632233-8fc7e029-f738-4754-ba4e-beae99a40eec.png">

This issue happens from this line:
https://github.com/Expensify/App/blob/main/src/components/AttachmentModal.js#L215

This padding was added initially by @marcaaron in this [commit](https://github.com/Expensify/App/commit/f9172ef391c76b3f252d3

[2022-08-15 13:03] mountiny commented on #9999
Low priority for now

[2022-08-15 13:19] #10330 closed

[2022-08-15 13:21] dhairyasenjaliya commented on #10291
**Result** (After removing setNativeProps line)

@parasharrajat added all platform video also added one scenario whereby I select all text from text input and send a message with selection ON so we can confirm removing the setNativeProps line works well

**iOS (App)**

https://user-images.githubusercontent.com/47522946/184640730-9ad667df-92d9-4928-9578-f68e25dafb20.mp4

**Android (slow to send eve

[2022-08-15 13:21] Beamanator commented on #10258
Thanks for the update @Tabakharniuk - I think what we would prefer is to Fork the repo to be an Expensify repo, then instead of publish the package to `npm` we just use `"react-native-image-manipulator": "git+https://github.com/Expensify/react-native-image-manipulator.git#<commit-hash>"` like we already do in our `package.json`.

Also I brought this up internally and we decided it's fine to wait a

[2022-08-15 13:34] Beamanator commented on #10335
Thanks for your proposal @hamzashakeel348 but since there was already a good proposal before yours we'll go with that one

[2022-08-15 13:43] hamzashakeel348 commented on #10335
@Beamanator could you please mention the proposal which is going to be accepted?

[2022-08-15 13:47] Justicea83 commented on #10355
I agree with @twisterdotcom after testing this. I can't replicate this, am unassigning myself so someone else can take a look.

[2022-08-15 13:50] hamzashakeel348 commented on #10335
No problem @Beamanator, I would love to help extensively with future issues.

[2022-08-15 13:52] youssef-lr commented on #10093
@Gonals sorry was meaning to unassign myself and I unassigned you!

[2022-08-15 14:45] luacmartins commented on #9548
@vladnobenladen your proposal looks good!

[2022-08-15 14:58] puneetlath commented on #8541
Looks like we've had some progress on the PR. Are we getting closer?

[2022-08-15 15:06] bfitzexpensify commented on #10356
Great, thanks for the explanation!

Upwork job [here](https://www.upwork.com/jobs/~01b36c9e071c2d7400)
Reporting job [here](https://www.upwork.com/jobs/~01f988031fcc199a9d) - please apply to this @Karim-30

[2022-08-15 15:13] Tabakharniuk commented on #6301
Not overdue

[2022-08-15 15:30] vladnobenladen commented on #9548
@luacmartins In addition, I'd like to update this line to use `lodashGet` if you agree (though it's not related to this GH), following this [commit](https://github.com/Expensify/App/commit/ee8a2f35c595af80e2f287b33cc0e78a3f2aa292)
https://github.com/Expensify/App/blob/b6b3f3c38dd09541efca6f5713efaeaae7877851/src/pages/home/report/ReportActionsView.js#L203

[2022-08-15 15:31] tgolen commented on #9938
Hm, it's possible that the offline refactorings could have an effect on this (because it _might_ decrease the number of background tasks). It feels like this issue is such an edge case and low value, that I don't mind putting a HOLD on it for a couple of weeks to re-evaluate it later.

[2022-08-15 15:31] MonilBhavsar commented on #7822
Happy to help with publishing the package

[2022-08-15 15:31] luacmartins commented on #9548
Yes, please!

[2022-08-15 15:42] luacmartins commented on #6883
First PR merged!

[2022-08-15 15:46] luacmartins commented on #9662
Still looking for contributors

[2022-08-15 16:07] bondydaa commented on #10370
Has anyone tested on an android tablet (I know those are hard to come by :lolsob:) I have one I can probably test with but mainly what I want to know is this a react-native thing or possibly just an OS specific thing?

In the original video when the orientation is switched the keyboard gets hidden which I think is the problem, the text input stays put where it believe the keyboard should be render

[2022-08-15 16:24] neil-marcellini commented on #10283
Cool, I think setting `minHeight: 100` in `iouPreviewBoxLoading` sounds like a better solution. What do you think @Santhosh-Sellavel? Could you please test it out?

[2022-08-15 16:30] mananjadhav commented on #9548
I can see the proposal is already accepted. Will wait for the PR @vladnobenladen. Thanks @luacmartins.

[2022-08-15 16:45] adelekennedy commented on #7436
still working on this

[2022-08-15 16:50] roryabraham commented on #10225
Oh, my mistake. On macOS `option + del` is used to delete whole words at a time. This test looks like it's using a windows machine, and I'm not sure what the windows equivalent is. A platform-agnostic equivalent might be: "Highlight the current search query and press backspace to delete it all at once".

This QA step did not come from nowhere though, so I don't think we should just remove it. Duri

[2022-08-15 16:51] JmillsExpensify commented on #9662
Ok thanks for the heads up. It's effectively been a week at this point, so I'll double and then make this issue a monthly.

[2022-08-15 16:59] michaelhaxhiu commented on #10058
Price doubled

[2022-08-15 17:02] michaelhaxhiu commented on #10355
@Justicea83 Got it! This is a decision that's made by the assigned engineer based on your knowledge of the code base, and so I'm not able to decide that. [This s/o post has some more guidance on the topic](https://stackoverflow.com/c/expensify/questions/4319/8577#8577). But if you are in doubt, you can likely post in #engineering-chat or #expensify-open-source

[2022-08-15 17:06] mvtglobally commented on #10253
@francoisl Welcome to the party. Let us know if anything needs to be re-tested to move this forward.

[2022-08-15 17:12] Santhosh-Sellavel commented on #7968
@stitesExpensify Missed out completely. As it has a `hold` to the title I was confused it's still on hold. I need some time to catch up with this issue, also I believe this will be addressed on the Form tab & focus issue. I will provide an update within a week.

Can you please bump it down to Weekly until then thanks!

[2022-08-15 17:17] Santhosh-Sellavel commented on #10283
@neil-marcellini  Sorry, I had a question on this idea,  seems I have missed posting it here.

@syedsaroshfarrukhdot  Why does it have to be `100`?

[2022-08-15 17:25] francoisl commented on #10253
Thanks! Going through the list of remaining items now, I'll let you know :)

[2022-08-15 17:34] francoisl commented on #10253
- Checking off https://github.com/Expensify/App/issues/10258, the DeployBlocker label was removed with an explanation
- 10070 was reverted (https://github.com/Expensify/App/pull/10299), checking off as well

As far as I can tell there was no revert, so yes let's retest the main PR please

- Rory noted #https://github.com/Expensify/App/issues/10079 should be resolved now, can you test  https://gith

[2022-08-15 17:37] OSBotify commented on #10253
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10378) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.88-8` :rocket:

[2022-08-15 17:42] mvtglobally commented on #10253
@francoisl  Can you share the latest APK in Slack for this retest https://github.com/Expensify/App/pull/10199

[2022-08-15 17:48] stitesExpensify commented on #7968
Can do! Thanks for the context!

[2022-08-15 17:59] OSBotify commented on #10253
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.88-8 has been deployed to staging :tada:

[2022-08-15 18:09] francoisl commented on #10253
@mvtglobally actually, the Android build is not working at the moment so you can hold on testing that one. We're looking into it, I'll let you know when it's ready to test again.

[2022-08-15 18:22] JmillsExpensify commented on #10360
Ok so QA can reproduce but @ntrepanier can't? In that case, I don't think it's a fire and we can use the normal contributor process.

[2022-08-15 18:24] JmillsExpensify commented on #10360
Upwork job is here: https://www.upwork.com/jobs/~014b1754d939b81c86

[2022-08-15 18:26] arielgreen commented on #9578
yep

[2022-08-15 18:29] mollfpr commented on #8292
### Proposal

The `ReportActionCompose` auto focus value is come from `shouldFocusInputOnScreenFocus` and `_.size(this.props.reportActions) === 1`.

For native and mWeb, `shouldFocusInputOnScreenFocus` will be `false`. So other than native and mWeb, report action will focus on screen open. This means that native and mWeb will have report action auto focus if the report is newly created.

So the go

[2022-08-15 18:29] Santhosh-Sellavel commented on #9578
We are still looking for proposals meanwhile, can we bump this down to `Weekly` thanks!

@arielgreen or @roryabraham

[2022-08-15 18:35] aneequeahmad commented on #8292
@parasharrajat have you checked my [proposal](https://github.com/Expensify/App/issues/8292#issuecomment-1186553287)  ? I gave it 1 month ago

[2022-08-15 18:36] francoisl commented on #10253
@mvtglobally Hey, sorry in advance but we're going to need to unlock this checklist and merge another pull request to fix an issue with conflicting commits. This is going to add all the pull requests that were merged since the checklist was locked to be added to the list.

[2022-08-15 18:39] roryabraham commented on #10253
Really sorry about this, I tried hard to explore other options but a "hard reset" seems like the best choice we've got.

[2022-08-15 18:41] mvtglobally commented on #10253
No problem. Should I start a new regression on the new PRs once deploy is complete?

[2022-08-15 18:42] Santhosh-Sellavel commented on #10360
Not reproducible for me now.

[2022-08-15 18:47] syedsaroshfarrukhdot commented on #10283
It has to be equal to or more than the height the next view is going to take because when a money request is made from some other user and minHeight: 47 in iouPreviewBoxLoading reportIsLoading becomes false in split of second we even can't see the iouPreviewBoxLoading and when next view is rendered it takes minHeight: 47 when rendered in the scroll view to fix it we need to increase the minHeight:

[2022-08-15 18:54] syedsaroshfarrukhdot commented on #10283
It has to be equal to or more than the height the next view is going to take because when a money request is made from some other user and `minHeight: 47` in `iouPreviewBoxLoading`. The `reportIsLoading` state becomes false in split of second we even can't see the iouPreviewBoxLoading and when next view is rendered it takes `minHeight: 47` when rendered in the scroll view to fix it we need to incr

[2022-08-15 19:16] deetergp commented on #10027
I think it's probably fine the way it is @MitchExpensify.

[2022-08-15 19:16] Santhosh-Sellavel commented on #10283
@neil-marcellini
Yeah solution, tests well. But I am 50:50 with the proposal. The reason is value `100` is a rough assumption. Any thoughts?

[2022-08-15 19:24] vladnobenladen commented on #10360
The reporter @Santhosh-Sellavel tested on v1.1.85-8 but this issue is gone from v1.1.86-2 (generated on Jul 26)

This caused android keyboard issue: https://github.com/Expensify/App/pull/9895 (Jul 20)
And reverted: https://github.com/Expensify/App/pull/10113 (Jul 26)
Therefore, from v1.1.85-6 (on Jul 21) to v1.1.86-1 (Jul 25) was having this keyboard issue

[2022-08-15 20:04] marcaaron commented on #10160
@AndrewGable I'm confused by Melvin's latest updated and wondering if it's possible someone could be experiencing the crash on an older app version and it can't ever be fixed for them? In that case, will Melvin will keep reopening? Or only reopen if the crash happened on the latest version?

[2022-08-15 20:05] mananjadhav commented on #7470
Thanks for the updated proposal @jayeshmangwani. This one should work. @stitesExpensify anything you'd like to check?

[2022-08-15 20:13] Santhosh-Sellavel commented on #10352
@Expensify/design
There is the equal spacing on top and bottom. So this looks fine to me.

<img width="954" alt="Screenshot 2022-08-16 at 1 37 16 AM" src="https://user-images.githubusercontent.com/85645967/184709696-218b239d-4741-40ba-8d93-2bc2b1239748.png">

Also on web/desktop we have spacing on all sides.

<img width="1205" alt="Screenshot 2022-08-16 at 1 40 41 AM" src="https://user-images.gith

[2022-08-15 20:18] AndrewGable commented on #10160
I believe the logic is pretty simple at the moment; if a crash happens again, reopen it. We could add some more intelligence to only reopen if it's happening on a version greater than those in the issue?

[2022-08-15 20:39] Santhosh-Sellavel commented on #10202
Will check this by tomorrow.

[2022-08-15 20:55] roryabraham commented on #10253
Yeah, that will be the plan once we get a deploy out

[2022-08-15 20:58] marcaaron commented on #10160
Nice, gonna look into that 👀

[2022-08-15 21:40] neil-marcellini commented on #10283
I'll look into it myself. I'm a bit confused about why we don't see any loading spinners at all. It makes sense that the scroll position might be thrown off if the items are changing height, so I think we should probably set the height to match the height when the pay button appears.

[2022-08-15 22:04] neil-marcellini commented on #10283
I'm unable to reproduce this on the main branch on dev, nor on staging, nor on production web. I couldn't reproduce on iOS on main either. I also wasn't able to re-produce with a slow network connection. @Santhosh-Sellavel I think this has already been fixed by some other PR. Are you able to re-produce currently?

[2022-08-15 22:10] neil-marcellini commented on #9581
Still waiting for proposals...

[2022-08-15 22:23] chiragsalian commented on #9971
The refactors all got unblocked and since those are the priority i'll first finish the API refactors and then get to this.

[2022-08-15 22:25] chiragsalian commented on #8661
Still on HOLD, demoting to monthly until its off HOLD.

[2022-08-15 22:28] francoisl commented on #10253
The checklist is updated with the new PRs. I reapplied the LockCashDeploys label to prevent more PRs from being added.

So yes as Rory mentioned, let's start a new regression please @mvtglobally. Thanks!

[2022-08-15 22:29] neil-marcellini commented on #10253
https://github.com/Expensify/App/pull/10237 should have been held on https://github.com/Expensify/Web-Expensify/pull/34501 being deployed to production. Once the Web-E side is deployed it will work, but not until then.

[2022-08-15 22:31] OSBotify commented on #10253
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.88-12 :rocket:

[2022-08-15 22:37] tylerkaraszewski commented on #10366
I agree, should likely be straightforward and external.

[2022-08-15 23:06] zereraz commented on #10287
If you want to show the symbols on the right

**Proposal**
https://github.com/Expensify/App/blob/90b5292c89ff4516d3f4902d728dcabb67ce3786/src/pages/iou/IOUCurrencySelection.js#L81
Changes to
[code]

This is the output we get here

<img width="603" alt="image" src="https://user-images.githubusercontent.com/2609361/184734616-280393fc-38af-4d64-bc1f-95bde5681fbb.png">

[2022-08-15 23:23] marcaaron commented on #10345
Just curious if there is a more specific deliverable for this issue. In the past, when we have issues like "make x faster" the discussion tends not to land anywhere or a variety of solutions are provided. How much faster is fast enough? Are people using Android Emulator or actual devices when they experience the slowness? Am I reading this correctly and the slowness doesn't affect the release buil

[2022-08-15 23:38] luacmartins commented on #8963
Seems like the issue is not reproducible anymore. Closing!

[2022-08-15 23:38] #8963 closed

[2022-08-15 23:40] Karim-30 commented on #10356
### Proposal

By replacing the incorrect emojis inside `App/assets/emojis.js` with the correct emojis (see the attached `emojis.txt`), all Emojis will appear in the correct shapes in Safari, Firefox.

![safari](https://user-images.githubusercontent.com/108357004/184733339-3150f00f-26a3-4878-a337-d092d34eb7aa.png)

![firefox](https://user-images.githubusercontent.com/108357004/184733351-32dd065d-70

[2022-08-15 23:54] MitchExpensify commented on #10367
Bump on the above request @thesahindia

[2022-08-16 00:05] MitchExpensify commented on #9980
@thesahindia paid out contributor and reporting bonus, contract ended! Thank you

Will close this out once @rushatgabhane accepts the offer and I pay them out!

[2022-08-16 00:23] MitchExpensify commented on #9794
Thanks for you help with this @kidroca ! I see you've added it to your hourly contract so we're all good here

[2022-08-16 00:23] #9794 closed

[2022-08-16 00:46] neil-marcellini commented on #8719
@parasharrajat what's the status on the withWindowDimensions bug?

[2022-08-16 00:55] kadiealexander commented on #9817
Not overdue.

[2022-08-16 02:56] srikarparsi commented on #9408
^

[2022-08-16 03:25] MitchExpensify commented on #10027
Thanks @deetergp ! Just waiting on proposals now

[2022-08-16 03:26] danieldoglas commented on #7259
Docs started moving again as of late! Will update here when we have the finished doc

[2022-08-16 04:00] danieldoglas commented on #9342
Moving this one to @PauloGasparSv

[2022-08-16 04:42] mvtglobally commented on #8594
Issue not reproducible during KI retests. (First week)

[2022-08-16 04:42] mvtglobally commented on #8734
Issue not reproducible during KI retests. (First week)

[2022-08-16 04:44] mvtglobally commented on #9061
Issue not reproducible during KI retests. (First week)

[2022-08-16 04:46] mvtglobally commented on #9389
Issue not reproducible during KI retests. (Second week)

[2022-08-16 04:47] mvtglobally commented on #9465
Issue not reproducible during KI retests. (First week)

[2022-08-16 04:49] mvtglobally commented on #9918
Issue not reproducible during KI retests. (Second week)

[2022-08-16 05:06] kevinksullivan commented on #6527
Doubled

[2022-08-16 05:07] kevinksullivan commented on #9702
PR in review, @MonilBhavsar still waiting on a response regarding testing steps [here](https://github.com/Expensify/App/pull/10234#issuecomment-1213465070)

[2022-08-16 05:07] kevinksullivan commented on #9705
Price doubled

[2022-08-16 05:09] kevinksullivan commented on #9827
Same

[2022-08-16 05:11] kevinksullivan commented on #10329
https://www.upwork.com/jobs/~01ebeba569e03425e7

[2022-08-16 05:15] DimitriLaw1 commented on #10365
Hey! I solved this problem. This is my first time contributing, so im not sure of the process for submitting. Though i was looking for an upwork link on this thread. How do I go about contributing my solution? (photo below)

<img width="791" alt="Screen Shot 2022-08-16 at 1 11 16 AM" src="https://user-images.githubusercontent.com/43189758/184802936-c8a6e3bb-55fb-4b4e-b249-8cd3b3c6566f.png">
?

[2022-08-16 05:15] kevinksullivan commented on #10359
https://www.upwork.com/jobs/~01dc1b2ec7b9540d24

[2022-08-16 06:04] techievivek commented on #10029
On hold, will look into it when things are sorted.

[2022-08-16 06:08] techievivek commented on #8589
On hold, will look into it when refactor things are sorted.

[2022-08-16 08:04] songlang1994 commented on #8311
### Proposal

`LongPressGestureHandler` was introduced in PR https://github.com/Expensify/App/pull/8018 which tried to resolve the nested `Pressable` issue.

[code]

We can wrap `Pressable` to make `onPress` and `onLongPress` events bubble up, just like in a normal browser environment. Then replace all `Pressable` (from react-native) with the new wrapped version and everything should be work as ex

[2022-08-16 08:50] NikkiWines commented on #9459
Hmmm, so actually a sort of similar bug exists on mWeb (iOS) where the screen shakes to keep the cursor in view - the iOS app one is effectively doing the same thing just in smaller increments (every letter instead of once at the end) but functionally the "bug" exists on both. Which kind of makes me think this isn't really that much of a bug at all. What do you think?

https://user-images.githubus

[2022-08-16 09:01] songlang1994 commented on #8311
At least we need to do it for `PressableWithSecondaryInteraction` and `PressableWithoutFocus` (used by `ImageRenderer`). Another way is creating a separated `PressableWithoutFocus2` for `ImageRender` If you're worried about directly modifing `PressableWithout` too much scope.

The above proposal https://github.com/Expensify/App/issues/8311#issuecomment-1207653523 says to use a different gesture ha

[2022-08-16 09:18] NikkiWines commented on #10360
Sounds like this bug may no longer be an issue. @mvtglobally can you confirm whether or not QA is able to reproduce this still?

[2022-08-16 09:33] dhairyasenjaliya commented on #10345
Until any permanent fix, the current workaround is to disable Hermes from the android build.gradle

- I suspect the latest react version includes Hermes by default at an early stage than it was intended in the 0.70 version  now making 0.69 an unnecessary mess into android

0.70 - https://reactnative.dev/blog/2022/07/08/hermes-as-the-default
0.69 - https://reactnative.dev/architecture/bundled-herme

[2022-08-16 09:41] dhairyasenjaliya commented on #10345
hm @parasharrajat this is not any proposal this is just temp fix for those who need to test android until the permanent fix

[2022-08-16 09:47] dhairyasenjaliya commented on #10345
yes, Hermes was working fine, but in the latest 0.69 they include by default as an engine previously it was external so I believe something goes wrong with android

[2022-08-16 09:59] rafecolton commented on #10376
Just noting that I think we should allow this, it was a very helpful workaround for not having a status field.

[2022-08-16 10:01] rafecolton commented on #10376
Oh, also noting that there should be some kind of feedback, like an error modal if a field fails to save.

[2022-08-16 11:02] MonilBhavsar commented on #10127
Good point. I think since `Who Paid?` option is disabled, it makes sense to just move through `Who was there?`

[2022-08-16 11:19] afmire877 commented on #10033
Awaiting review 👍 @roryabraham @parasharrajat

[2022-08-16 12:43] mvtglobally commented on #10253
@roryabraham @francoisl Should we be running regression on Build 1.1.88-12 ? or 1.1.88-8 is fine?

[2022-08-16 13:22] Santhosh-Sellavel commented on #10287
Then we should the method which is not working as expected

[2022-08-16 13:43] Santhosh-Sellavel commented on #10283
Yeah unable to reproduce at my end also

[2022-08-16 13:44] Santhosh-Sellavel commented on #10283
@neil-marcellini We should hold until next deployment and verify close this issue on production/staging.

[2022-08-16 13:45] Santhosh-Sellavel commented on #10283
Also, remove Help Wanted  & add Hold to the title for meanwhile.

[2022-08-16 13:46] Beamanator commented on #9382
Hmm ok continuing looking..

Also seeing `[OOPS!] JSON error: Malformed UTF-8 characters, possibly incorrectly encoded` in [this set of logs](https://staging.expensify.com/_devportal/tools/logSearch/#query=request_id:(%2273984293af2cdf28-SJC%22)+AND+timestamp:[2022-08-12T08:42:17.026Z+TO+2022-08-12T10:42:17.026Z]&index=logs_expensify-018093) which is interesting

And this info log error a lot: `Re

[2022-08-16 14:00] Beamanator commented on #9382
Here's [some logs](https://staging.expensify.com/_devportal/tools/logSearch/#query=request_id:(%2273b97702ae69d779-DEN%22)+AND+timestamp:[2022-08-16T09:25:14.786Z+TO+2022-08-16T11:25:14.786Z]&index=logs_expensify-018145) from my account, today, which include the `<!DOCTYPE` in the error 🤔

[2022-08-16 14:07] Beamanator commented on #9382
The message `TransactionIDs are not converted to string` is logged right before the JSON error, and this log comes from [here](https://github.com/Expensify/Web-Expensify/blob/fb989976fa034cdc726f6c4d26ec38c26ce48d08/api.php#L2889), so it looks like the JSON encoding that throws the error is here: https://github.com/Expensify/Web-Expensify/blob/fb989976fa034cdc726f6c4d26ec38c26ce48d08/api.php#L2925

[2022-08-16 14:39] thesahindia commented on #10367
I tested it by rendering this page at a different route. But there are two ways to reach this page ( I found them on some other issues )

1st way (not really sure about this but you have to in some beta for this) -

1. Click on Fab icon
2. Send money
3. Complete the Onfido verification

2nd -
1. Go to Settings
2. Go to Payments
3. Click on Transfer Balance (you must have some balance available)

@

[2022-08-16 14:49] luacmartins commented on #9382
I'll pick this up since it's related to the OpenApp/ReconnectApp commands

[2022-08-16 14:52] Santhosh-Sellavel commented on #10202
@Julesssss

Still Something little off, but the below screenshots show some clarity

#### Without text selection, seems top padding is high.
<img width="453" alt="Screenshot 2022-08-16 at 8 17 38 PM" src="https://user-images.githubusercontent.com/85645967/184909698-cec677fa-b26d-4cc5-ad95-54aaeb771b13.png">

#### But with text selection, we can see the spacing equal
<img width="378" alt="Screensho

[2022-08-16 15:15] liyamahendra commented on #10202
@Santhosh-Sellavel thanks! Would moving the style from `ReportActionCompose` to the [styles.js (https://github.com/Expensify/App/blob/main/src/styles/styles.js) file be acceptable?

[2022-08-16 15:16] liyamahendra commented on #10202
@Julesssss I've applied to the job on Upwork. My Upwork username is liyamahendra. I'll prepare the PR once I hear back from @Santhosh-Sellavel !

[2022-08-16 15:25] thesahindia commented on #10353
It is expected. The mockup was created by @megankelso. Here's the [thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1646238505268409?thread_ts=1645823447.597149&cid=C01GTK53T8Q).

If we are changing it then the proposals should also be fixing https://github.com/Expensify/App/issues/8122 because the design change was made to fix that.

[2022-08-16 15:28] JmillsExpensify commented on #10376
One thing that strikes me about @rafecolton's comment is that we're using these emojis as a clutch for something else we feel the app lacks.

[2022-08-16 15:29] JmillsExpensify commented on #10376
In general, I'm fine with emojis in the display first and last name. But where it gets tricky is for KYC or legal cases, such as name on a bank account, name for IRS and payroll purposes, etc. So I think we also need to consider the holistic use cases here as well.

[2022-08-16 15:34] stitesExpensify commented on #9470
hold

[2022-08-16 15:37] stitesExpensify commented on #10353
bump @MitchExpensify

[2022-08-16 15:53] neil-marcellini commented on #10283
It's already not reproducible on production/staging so I'm going to close this out. Sorry that we didn't realize sooner!

[2022-08-16 16:16] Julesssss commented on #10100
I built to a physical device today to try to help debug the issue but I'm unable to reproduce currently. While [these logs](https://github.com/Expensify/App/issues/10100#issuecomment-1203292906) are useful, I think the Android logs might help reveal the true error.

If anyone is able to reproduce, could they use Android Studio's Logcat window to get the native logs which should show the native sta

[2022-08-16 16:47] laurenreidexpensify commented on #7586
This is merged and on prod, so will pay tomorrow 👍🏽

[2022-08-16 16:49] francoisl commented on #10253
As far as I can tell it should be 1.1.88-12, but it looks like it didn't get deployed to staging. The last two relevant actions https://github.com/Expensify/App/runs/7847287353 and https://github.com/Expensify/App/runs/7847301118 don't show any errors though, I'm trying to see what happened and will get back to you.

[2022-08-16 17:00] Julesssss commented on #9252
@trjExpensify could we please double, given that we're still seeking proposals.

[2022-08-16 17:01] Julesssss commented on #9457
No updates.

[2022-08-16 17:01] Julesssss commented on #8130
Still held

[2022-08-16 17:02] Julesssss commented on #4264
Same as above

[2022-08-16 17:04] Julesssss commented on #4264
Still held for now.

[2022-08-16 17:04] Julesssss commented on #4010
I combined this and other issues into a Notification rework tracking issue, which I'll take on after manual requests

[2022-08-16 17:08] puneetlath commented on #10287
Agreed. @zereraz feel free to re-propose a solution that fixes the `getLocalizedCurrencySymbol` function instead of removing it from `IOUCurrencySelection.js`.

[2022-08-16 17:12] Santhosh-Sellavel commented on #10353
Actually this is working as expected i.e its outcome of #8122.

If we are considering to change then we should check with @Expensify/design team first, thanks!

[2022-08-16 17:33] JmillsExpensify commented on #10360
Let's proactively close until Applause is able to reproduce on the latest build. Please re-open if it fails the next round of QA. Thanks!

[2022-08-16 17:33] #10360 closed

[2022-08-16 17:34] JmillsExpensify commented on #9662
Moving back to weekly per internal discussion.

[2022-08-16 17:42] thienlnam commented on #6527
It looks like we need to discuss what our expectations are for this before we move forward with accepting proposals

[2022-08-16 17:44] laurenreidexpensify commented on #10351
https://www.upwork.com/jobs/~010ce302e7fd355b75

[2022-08-16 17:49] thienlnam commented on #10190
No update - been prioritizing N7 items

[2022-08-16 17:50] thienlnam commented on #10190
Actually, going to unassign for someone else to take - if it's not assigned by then I'll pick it up again

[2022-08-16 17:58] shawnborton commented on #10353
This is not a bug. Can you please check with the design team in the Slack conversation first before creating a bug? I'm going to close this out for now.

[2022-08-16 17:58] #10353 closed

[2022-08-16 17:59] shawnborton commented on #10353
Saying "make it more organized" is super vague so it doesn't give us a concrete path forward on how to fix something. All of this should be discussed and mocked up in Slack first before heading to a GH issue.

[2022-08-16 18:03] MitchExpensify commented on #10353
Upwork job removed

[2022-08-16 18:17] vladnobenladen commented on #10287
### **Proposal**
https://github.com/Expensify/App/blob/3faeca0e3f7f8cebb7f8509f89106573be99a44e/src/libs/CurrencySymbolUtils.js#L10
This function uses Intl.NumberFormat:
https://github.com/Expensify/App/blob/3faeca0e3f7f8cebb7f8509f89106573be99a44e/src/libs/NumberFormatUtils.js#L6
Currency symbol from Intl.NumberFormat cannot be exactly same as what we're trying to get and it also depends on prefe

[2022-08-16 18:23] liyamahendra commented on #10202
@Julesssss @Santhosh-Sellavel I've created a [PR](https://github.com/Expensify/App/pull/10394) for the fix.

[2022-08-16 18:38] francoisl commented on #10253
(Sorry for the delay on this, still working this out internally)

[2022-08-16 18:55] stitesExpensify commented on #10282
No update yet, i'll probably get a chance to look at it this week

[2022-08-16 18:56] stitesExpensify commented on #7470
Looks good to me!

[2022-08-16 19:06] shawnborton commented on #10352
I agree, that vertical spacing shouldn't be there at that particular iPad size.

[2022-08-16 19:06] shawnborton commented on #10352
Ideally all "wide" platforms would look the same, and the web/desktop mockup is correct.

[2022-08-16 19:25] thienlnam commented on #10093
Thanks for the investigation @youssef-lr! It looks like we're sanitizing the quotes and they're being converted into &quot; in the display name. Ideally we want to fix that first but also the switching from first to display name is also weird.

Will look into it later this week

[2022-08-16 19:27] jasperhuangg commented on #10365
Hey! @DimitriLaw1 I got assigned to your PR.

So contributors actually need to submit a proposal and have that proposal reviewed before you can open a PR that gets reviewed. You can read more about that [here](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#propose-a-solution-for-the-job).

Regardless @cristipaval looks like this should be good to and off to an extern

[2022-08-16 19:27] thienlnam commented on #8126
Pending review from @parasharrajat

[2022-08-16 19:28] jasperhuangg commented on #10365
@MitchExpensify @DimitriLaw1 already has a PR up but didn't know he had to write a proposal first. Once he writes a proposal feel free to ping me to review it and then we can create an Upwork job

[2022-08-16 19:33] DimitriLaw1 commented on #10365
yay thanks! super excited about my first pull request!

[2022-08-16 19:44] cristipaval commented on #10365
Thank you @jasperhuangg !

[2022-08-16 20:04] adelekennedy commented on #9389
hired ✅

[2022-08-16 20:04] roryabraham commented on #10351
Yeah, this is a dupe of https://github.com/Expensify/App/issues/8061. Removing `Help Wanted` label because we've already got @kidroca assigned.

@laurenreidexpensify please take down the Upwork job when you get a chance and then close this issue. Thanks!

[2022-08-16 20:06] adelekennedy commented on #9822
Upped the price, still waiting for proposals!

[2022-08-16 20:06] roryabraham commented on #8061
Not particularly urgent. Webpack upgrade PR is [here](https://github.com/Expensify/App/pull/10286).

[2022-08-16 20:07] adelekennedy commented on #10157
doubling

[2022-08-16 20:10] marcaaron opened #10401 "Test"

[2022-08-16 20:11] #10401 closed

[2022-08-16 20:22] francoisl commented on #10253
The new version 1.1.88-13 should be on staging now (except for iOS which is still building, see https://github.com/Expensify/App/actions/runs/2870658052).

Heads up that the old bug where some old PRs got re-added to the checklist popped up again. I'm going to clean up the checklist, but in the meantime, if you open a PR and you see a "Deployed to production in version" from Botify, you can ignore

[2022-08-16 20:27] stephanieelliott commented on #9545
Price doubled in Upwork!

[2022-08-16 20:30] mvtglobally commented on #10031
Issue not reproducible during KI retests. (Second week)

[2022-08-16 20:30] stephanieelliott commented on #9933
2x'd in Upwork to $1000

[2022-08-16 20:32] mvtglobally commented on #8915
Issue not reproducible during KI retests. (Third  week). @flodnv @trjExpensify Are we ok to close this?

[2022-08-16 20:35] DimitriLaw1 commented on #10365
**Proposal**

**Issue**:
There's no borders appearing around under the components in Manage Members

**Solution**:
The "View" Component on WorkspaceMembersPage.js [line 236]. Controls each cell, but has no border attribute being passed through its properties.
<img width="922" alt="Screen Shot 2022-08-16 at 4 29 50 PM" src="https://user-images.githubusercontent.com/43189758/184979404-39f8359a-7df8-

[2022-08-16 20:35] DimitriLaw1 commented on #10365
@jasperhuangg

[2022-08-16 20:38] stephanieelliott commented on #10220
Hey @eVoloshchak, any update on progress?

[2022-08-16 20:39] mvtglobally commented on #9823
Issue not reproducible during KI retests. (First week)

[2022-08-16 20:43] mvtglobally commented on #10198
Issue not reproducible during KI retests. (First week)

[2022-08-16 20:45] jasperhuangg commented on #10365
@DimitriLaw1 It looks like your solution doesn't entirely match the expected design. Specifically, it looks like there needs to be more padding underneath "Select all". It also looks like the borders are varying thicknesses (when they should only be 1), and they also aren't the correct length.

We want it to look exactly like this:
![image](https://user-images.githubusercontent.com/31285285/184981

[2022-08-16 20:48] vladnobenladen commented on #9545
### **Proposal**

This means that crash is happening on this line:
https://github.com/Expensify/App/blob/345d461ba9b414920c28b56189e8325562855b4d/src/pages/DetailsPage.js#L69
If `details` is `undefined`, returns loading indicator, so no other cases of getting `login` value from `undefined` on this component.

**Solution**
https://staging.new.expensify.com/details
This link (without `login` query p

[2022-08-16 20:50] roryabraham commented on #10157
Okay, my two cents is let's cap this here for now because it's not clear how much this is affecting us

[2022-08-16 20:52] roryabraham commented on #10033
Sorry for the back-and-forth, but your PR has merge conflicts again

[2022-08-16 20:54] jasperhuangg commented on #10365
@DimitriLaw1, sorry to jump in, but I actually put up a PR really quickly that solves the problem, the solution was to reuse one of the styles we already had defined in styles.js. I'll open up a PR since it's already fixed. Feel free to look around for other issues to work on!

<img width="549" alt="Screen Shot 2022-08-16 at 1 54 32 PM" src="https://user-images.githubusercontent.com/31285285/18498

[2022-08-16 20:59] OSBotify commented on #10253
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.88-13 :rocket:

[2022-08-16 21:04] DimitriLaw1 commented on #10365
@jasperhuangg I saw in your pull request that you changed,
`},peopleRowOfflineFeedback: {`

Do you mind sharing how you went about troubleshooting this?

[2022-08-16 21:20] jasperhuangg commented on #10365
@DimitriLaw1 Yeah for sure! So normally when there are these types of style fixes they're regressions, meaning that it was working before but something was added that broke it. I looked into the commit history and couldn't find anything, but found these unused `peopleRowOfflineFeedback` styles which had the exact styles needed to add the bottom border. Since they're unused I decided to merge them

[2022-08-16 21:26] jasperhuangg commented on #10365
Ah sorry @MitchExpensify unassigned you before I realized this, does @Puneet-here get compensation for pointing out this bug?

[2022-08-16 21:59] francoisl commented on #10253
@mvtglobally I finished cleaning the checklist, all old PRs should be gone now. You might need to refresh the page if it didn't auto-update.

[2022-08-16 22:02] Luke9389 commented on #10185
I'm testing this on web, which I'm pretty sure is always the updated version. I'll try desktop as well. If it's reproducible there then I'll change the issue description.

[2022-08-16 22:03] kbecciv opened #10404 "Web - Profile - The text in quotes ("text") disappears from the profile name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
and login with any account
2. Go to settings>Profile
3. Enter first name and seco

[2022-08-16 22:05] Luke9389 commented on #10185
Huh, I'm still not seeing that option. I'll hop into the code to see where those options get generated.

[2022-08-16 22:07] kbecciv opened #10405 "Desktop - Slide text at the right is not appearing when the login container is resized"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

*Issue found during executing PR:* https://github.com/Expensify/App/pull/10158

## Action Performed:
1. Go to Login page Expensify App
2. Decrease the

[2022-08-16 22:08] anboia commented on #8292
@parasharrajat this problem also happens on Safari desktop, when isSmallScreenWidth is true. Should we also remove the autofocus for this case?

[2022-08-16 22:08] Luke9389 commented on #10185
Yep, this is behind a beta that my account isn't on for some reason. I'll change that and come back.
https://github.com/Expensify/App/blob/main/src/pages/home/report/ContextMenu/ContextMenuActions.js#L128

[2022-08-16 22:10] kbecciv opened #10406 "[$250] mWeb/safari - Chat - If user taps on the keyboard, they can scroll to show blank spaces"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Sign into a valid user
3. Access any chat on mobile
4. Tap on the input field
5. With the

[2022-08-16 22:18] kbecciv opened #10407 "iOS/Safari - "Copy URL" option and other options are missing when clicking on any link"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

*Issue found when executing PR:* https://github.com/Expensify/App/pull/9955

## Action Performed:
1. Launch the app and log in with any account
2. Sen

[2022-08-16 22:40] kbecciv opened #10408 "Web - Login - "Enter" key doesn't work for sing in to account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Enter login name and password
3. Put Enter key in keyboard

## Expected Result

[2022-08-16 22:43] OSBotify commented on #10408
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-16 22:59] kbecciv opened #10409 "[HOLD #11768] Web- Chat - Transition using the back button does not work correctly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in with an account that has multiple chats
3. Open any chat
4. Open a diff

[2022-08-16 23:00] marcochavezf commented on #7079
No update

[2022-08-16 23:02] OSBotify commented on #10409
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-16 23:09] kbecciv opened #10410 "[HOLD for payment 2022-09-23] [$250] Web - Login - When the page size is reduced, the information on the banner is cut off"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to Login page NewDot
2. Decrease the screen width

## Expected Result:
When the page size is reduced, the information on th

[2022-08-16 23:11] roryabraham commented on #10273
Taking this off HOLD

[2022-08-16 23:12] zereraz commented on #10287
@puneetlath

For AED currency the official Symbol is AED itself, Dhs is unofficial.
<img width="799" alt="image" src="https://user-images.githubusercontent.com/2609361/184999714-6cf741f8-bf91-4694-99a4-d86dcb7e745e.png">

So the issue here is in the search, we are displaying different string but searching through different string.
Display text
https://github.com/Expensify/App/blob/90b5292c89ff4516

[2022-08-16 23:44] luacmartins opened #10411 "Update react-dom"
# Problem
We updated React to v18, but react-dom was not updated, this is causing issues with [Storybook](https://expensify.slack.com/archives/C01GTK53T8Q/p1660597139590109).

# Why is this important
Keeps our dependencies up-to-date and allows us to use storybook to develop components.

# Solution
Update react-dom to v18

[2022-08-16 23:45] melvin-bot[bot] opened #10412 "[$500] 💥 Crash 💥 `com.facebook.soloader.SoLoader.doLoadLibraryBySoName`"
## Fatal Exception: java.lang.UnsatisfiedLinkError
### couldn't find DSO to load: libjscexecutor.so
	SoSource 0: com.facebook.soloader.DirectorySoSource[root = /data/app/~~pxP-f4j59UfdCGOTo2ebHA==/com.expensify.chat-aMGdHPSk-_783L3VxgYWRA==/lib/arm64 flags = 0]
	SoSource 1: com.facebook.soloader.DirectApkSoSource[root = null]
	SoSource 2: com.facebook.soloader.DirectorySoSource[root = /system/lib6

[2022-08-16 23:50] Luke9389 commented on #10185
![Screen Shot 2022-08-16 at 4 50 15 PM](https://user-images.githubusercontent.com/49007721/185004382-cbf32eed-6a4b-4e90-a12e-869c8e13df85.png)

Finally reproduced! 🎉
Applying External label now

[2022-08-17 00:05] puneetlath commented on #10408
This is the offending commit:https://github.com/Expensify/App/pull/10269/commits/979fbf57dfdea53178ba1dd6ef7b9f631bef7c18

Investigating on Slack.

[2022-08-17 00:06] kbecciv opened #10414 "[$250] Safari mWeb - Keyboard won't open for some inputs (New Chat, Change Password, New Room)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10194

## Action Performed:
### case 1
1. Access staging.new.expensify.com
2.

[2022-08-17 00:07] yuwenmemon commented on #10408
Looks like we're calling `BeginSignIn` when hitting the enter key instead of calling `Authenticate`:
<img width="1505" alt="Screen Shot 2022-08-17 at 8 04 32 AM" src="https://user-images.githubusercontent.com/4741899/185005866-871e7efd-9f61-4606-bb0d-ab55a987c16e.png">

[2022-08-17 00:23] neil-marcellini commented on #10406
I'm pretty sure that this is a mobile web only issue. It doesn't occur on iOS. We'll have to test Android. It won't happen on Desktop or Web because there is not an on screen keyboard. It looks pretty bad on mobile web so we should fix it.

[2022-08-17 00:42] bondydaa commented on #10370
sync'd up here to get applause to test more on physical devices https://expensify.slack.com/archives/C9YU7BX5M/p1660667122003959

[2022-08-17 01:18] kbecciv opened #10417 "[HOLD push-to-page pattern] Web - Room Name - "Enter" key is not working for saving the new room name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Sign in with any expensify account
3. Create a workspace from the green plus (

[2022-08-17 01:26] anboia commented on #8292
## Proposal

We can use the `shouldFocusInputOnScreenFocus` variable to set the autofocus behavior at the constructor function:

<img width="1023" alt="Screen Shot 2022-08-16 at 21 47 56" src="https://user-images.githubusercontent.com/4477665/185010482-9b27e63b-3786-4d27-a53a-8cdbe1d25c9b.png">

this way we prevent autofocus on desktop safari (small screen width), and only focus on mobile native i

[2022-08-17 01:39] kbecciv opened #10419 "Web - Forgot password - If the username is long, the password input field is broken"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to the sign in page of new Expensify
2. Enter your login details but not your password (use long login name)
3. Press Forgo

[2022-08-17 01:41] OSBotify commented on #10419
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-17 02:03] #10408 closed

[2022-08-17 02:16] OSBotify commented on #10253
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10418) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.88-14` :rocket:

[2022-08-17 02:56] kavimuru opened #10422 "Desktop - Error message appears when update workspace settings in offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App with new user
2. Navigate to General settings
3. Go offline
4. Change the workspace currency and name
5. Tap on Sav

[2022-08-17 02:59] kavimuru opened #10423 "iOS - IOU badge icon disappears after user re-login"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App on device A
1. Send money request to any chat from device B
2. IOU badge icon appeared on the selected chat on devi

[2022-08-17 03:01] OSBotify commented on #10423
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-17 03:26] OSBotify commented on #10253
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.88-14 has been deployed to staging :tada:

[2022-08-17 03:27] mvtglobally commented on #10253
@francoisl I think this Monster checklist just reverted all your hard work with the new CP. :( I'll check tomorrow and will also try to check off everything which was already deployed

[2022-08-17 03:29] kbecciv opened #10424 "Desktop - "You appear to be offline" message and grey indicator are missing, chat conversation is not shown when user is offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. After login in with a High Traffic account - enable Airplane mode to simulate a connection

[2022-08-17 03:31] OSBotify commented on #10424
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-17 03:48] yuwenmemon commented on #10419
Offending PR: https://github.com/Expensify/App/pull/10265
Offending Commit: https://github.com/Expensify/App/commit/a3e8e2e68affb7264e64efb9df032c326dc95907

[2022-08-17 04:32] yuwenmemon commented on #10424
Hmmmmm... I am unable to reproduce:
https://user-images.githubusercontent.com/4741899/185035198-d49839dc-1a67-417c-8a11-af76a258b5ab.mp4

[2022-08-17 04:38] yuwenmemon commented on #10424
Gonna close. I don't think this is consistently reproducible 😕

[2022-08-17 05:58] #10419 closed

[2022-08-17 06:15] kadiealexander commented on #9620
Price doubled again!

[2022-08-17 06:54] Christinadobrzyn commented on #10187
Price doubled to $1000

[2022-08-17 07:33] MariaHCD commented on #10358
I'd like some input from design here! Should we have a set width for attachments and if so, what would be the value for that set width and would that accommodate different screen sizes?

[2022-08-17 08:48] dylanexpensify commented on #10148
Price doubled

[2022-08-17 09:04] vladnobenladen commented on #10127
### **Proposal**
We can introduce new prop called `disabledIndexes` in `ArrowKeyFocusManager` component.
What does this prop do?
**Step 1** When arrow up/down key is pressed, check if `newFocusedIndex` exists in `disabledIndexes` list.
**Step 2** If not exist, do normal flow (call `this.props.onFocusedIndexChanged(newFocusedIndex)`). If exists, go to **Step 3**
**Step 3** Trigger the same key agai

[2022-08-17 10:25] MonilBhavsar commented on #10148
@mvtglobally please. In case you missed this.

[2022-08-17 10:26] kbecciv opened #10426 "[$1000] Web - Sign in - The banner size changes"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. On Sign in type your username
3. Type your password
4. Type wrong 2FA
5. Tap o

[2022-08-17 10:41] flodnv commented on #8915
Hmmm... @mallenexpensify can you try again?

[2022-08-17 10:48] NicMendonca commented on #9581
Doubled price: https://www.upwork.com/jobs/~012c4ed44ee1b967a1

[2022-08-17 11:46] bfitzexpensify commented on #4733
Doubled price to $2000.

[2022-08-17 12:13] bfitzexpensify commented on #10366
Upwork job [here](https://www.upwork.com/jobs/~01017a317b4168596f)
Reporting job [here](https://www.upwork.com/jobs/~0158c375c3e402a91a) - please apply to this @aneequeahmad

[2022-08-17 12:19] techievivek commented on #10423
Going to see if someone else can pick this one because I have a hard time bringing my Simulator online.